<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to detect when a stepper motor has stalled?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1270" class = "post">
			<h2>Question</h2>
			<div id="vote-1270" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 13584</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to detect when a stepper motor has stalled?</h2>
<p>How can I detect when a stepper motor has stalled?</p>

<p>A google search led me to some people who say that
when the stepper motor stalls, the current spikes up,
which is easily detectable with a Hall sensor.
(Or, I suppose, by any of the other current sensors mentioned at
<a href="https://electronics.stackexchange.com/questions/17246/how-can-i-sense-the-motors-current">"How can I sense the motor's current?"</a>
).</p>

<p>However, I measured the current through (one of the 4 wires of) my stepper motor,
and it's always within a few percent of 0.5 A, whether my stepper driver is holding one position, moving it normally (which in my application is very slowly), or the stepper driver thinks it is telling the stepper to move normally, but the motor has pegged out against the hard limit.
Measuring the current in the +12V power supply going to the stepper motor driver, also seemed to give a fairly constant current.
This may be because I turned down the current limit to that amount on my "chopper" stepper motor driver.</p>

<p>Am I missing some key detail in the "measure the current" approach?</p>

<p>A google search led me to some other people that measure the back-EMF (BEMF) in one coil of the stepper during the time the stepper driver is only driving the other coil.
But that only seems to distinguish between "a motor moving quickly" vs "a motor stopped", and doesn't seem to distinguish between my case of "a motor moving slowly" vs "a motor stopped".</p>

<p>Is there some way to apply the BEMF approach even in a system where I always drive the stepper slowly, and never spin it quickly?</p>

<p>I'm currently using <a href="http://www.pololu.com/catalog/product/2132" rel="nofollow noreferrer">a stepper driver board</a> with the TI DRV8825 chip on it, and I hoped the "fault" pin would tell me when the stepper motor has stalled against my hard stop.
But it doesn't seem to be doing anything -- is it supposed to tell me about a stall, but I just have it wired up wrong?</p>

<p>Is there some other chip or drive technique that detects when the stepper has stalled out against the hard stop?</p>

<p>Is there some other technique for detecting a hard stall that I can "add on" to a system using an off-the-shelf stepper motor driver?</p>

<p>(Is there some other StackExchange site that is more appropriate for questions about motors and motor drivers?)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1270" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-1270">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1270">Load Comments</button></br>
			<div id = "commentsection-1270" class = 'collapse'>
			<div id = "comment-2856" class = "comment">
				<p>Related: http://robotics.stackexchange.com/questions/865/how-to-tell-a-stepper-motors-position-or-detect-slippage/1283?noredirect=1#1283</p>
			</div>
			<div id = "comment-10570" class = "comment">
				<p>current sensing via a shunt resistor fed to an op amp to a simple PID controller to the adc might work...</p>
			</div>
			<div id = "comment-10571" class = "comment">
				<p>Huh? How does that help me detect when a stepper motor has stalled? As I mentioned in the original question, "I measured the current ... and it's always within a few percent of 0.5 A, whether my stepper driver is ... moving it normally (which in my application is very slowly), or the stepper driver thinks it is telling the stepper to move normally, but the motor has pegged out against the hard limit."</p>
			</div>
			<div id = "comment-10572" class = "comment">
				<p>This does not provide an answer to the question. To critique or request clarification from an author, leave a comment below their post - you can always comment on your own posts, and once you have sufficient [reputation](http://robotics.stackexchange.com/help/whats-reputation) you will be able to [comment on any post](http://robotics.stackexchange.com/help/privileges/comment).</p>
			</div>
			<div id = "comment-10921" class = "comment">
				<p>i was searched this too.
i think best possible way to using feedback encoder
comparing step angle and stepping number with input pulse</p>
			</div>
			</div>
				<textarea id = "speech-1270" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1270">
					<img id="start_img-1270" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1270">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1271"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1271" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One option is a stepper motor driver which uses sensorless stall system, such as the <a href="http://www.st.com/web/catalog/sense_power/FM142/CL851/SC1794/SS1498/LN1723/PF248592">STMicroelectronics L6470 dSPIN: Fully integrated microstepping motor driver with motion engine and SPI</a>. </p>

<p>Once calibrated it can detect a stall condition and raise the FLAG pin high to alert to the uC of the problem.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1271" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1271">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1271">Load Comments</button></br>
			<div id = "commentsection-1271" class = 'collapse'>
			<div id = "comment-2845" class = "comment">
				<p>Welcome to *robotics* kurtnelle, and thanks for your answer. I've edited it to provide a little more context and provide enough information from the link so that people can find the information elsewhere if the [link rots](https://en.wikipedia.org/wiki/Link_rot).</p>
			</div>
			<div id = "comment-13487" class = "comment">
				<p>I've found that the L6470 stall detection is very hard to calibrate.  My process has been to find the minimum kvals required for reliable, normal operation (ignoring stall threshold).  Then I move up the stall threshold until it stops reporting stall errors.  Then I increase it a little more for headroom.  But many times, it still does not detect a stall condition... do you have any suggestions?</p>
			</div>
			</div>
				<textarea id = "speech-1271" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1271">
					<img id="start_img-1271" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1271">Comment</button>
			<br><div id = "ans-1272"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1272" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately, as you've discovered, it is difficult to tell if a stepper motor is stalled because the current through the coils of a stepper motor is roughly the same if it is stalled (can't step), holding position, or stepping normally.</p>

<p>You could definitely detect a stall with ease if you added an encoder or used a stepper motor that already had one.</p>

<p>Why do you want to detect the stepper motor stall? Unlike a brushed DC motor, stalling a stepper motor is typically not bad for it. Could you achieve the same purpose with a limit switch?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1272" data-toggle = "popover">
				<p>user name : ryantm</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1272">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1272">Load Comments</button></br>
			<div id = "commentsection-1272" class = 'collapse'>
			<div id = "comment-2852" class = "comment">
				<p>Detecting stall is important for detecting missed steps esp. in CNC milling where part tolerances are critical.</p>
			</div>
			</div>
				<textarea id = "speech-1272" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1272">
					<img id="start_img-1272" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1272">Comment</button>
			<br><div id = "ans-1354"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1354" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want to detect missed steps, you want an encoder. Luckily, both magnetic and optical encoders exist that easily give you 4096 steps per revolution, so even a micro-stepping stepper motor will be measured with at least one step per step.</p>

<p>Note that some CNC mills may not necessarily detect missed steps; it's up to the operator to not program a tool path that's too hard for the spindle and tool, and to hear the problem when it happens. Instead, those CNCs just use end limit switches to find the absolute home, and then work entirely by assuming steps are taken.</p>

<p>Encoders may allow you to experiment with other features, too, like using an assist DC motor for non-engaged moves for really fast rapids :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1354" data-toggle = "popover">
				<p>user name : Jon Watte</p>
				<p> user reputation : 645</p>
				<p class = "tagcontent" id = "usertaginfo-1354">{'None': 43, 'cooling': 7, 'servos': 7, 'heat-management': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1354" class = 'collapse'>
			</div>
				<textarea id = "speech-1354" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1354">
					<img id="start_img-1354" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1354">Comment</button>
			<br><div id = "ans-7830"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7830" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found that the FFT of the current waveform of the stepper often shows the natural frequency harmonics of the motor+driver system AND that during a stall extra frequency harmonics appear!!! all you need is a fast, bidirectional current to voltage conversion IC and a narrow band pass filter to detect if the extra harmonics are present.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7830" data-toggle = "popover">
				<p>user name : Max Witter</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-7830">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7830" class = 'collapse'>
			</div>
				<textarea id = "speech-7830" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7830">
					<img id="start_img-7830" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7830">Comment</button>
			<br><div id = "ans-8449"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8449" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need to quantify : "I measured the current through (one of the 4 wires of) my stepper motor, and it's always within a few percent of 0.5 A". A 'few percent' may be all you need to detect a little extra current during stall (if there is extra current as I would also assume but would need to prove), which can be sensed and compared to normal stepping current.  In some cases 40 uA is major and in some cases 4 mA is major difference. Without measurement parameters from you it is impossible to really advise you.</p>

<p>So, what exactly is the current for a step versus stall, and is the difference consistent? I would measure all the wires as well...  You are using a unipolar correct? I have used steppers but never bothered to measure current as the steppers I used matched the load requirements and never stalled. So one quick answer is just to get a bigger stepper.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8449" data-toggle = "popover">
				<p>user name : Wolly</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8449">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8449" class = 'collapse'>
			</div>
				<textarea id = "speech-8449" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8449">
					<img id="start_img-8449" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8449">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>