<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to connect an Arduino Uno to an Android phone via USB cable?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8286" class = "post">
			<h2>Question</h2>
			<div id="vote-8286" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1298</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to connect an Arduino Uno to an Android phone via USB cable?</h2>
<p>Is it possible to set up communication between an Arduino Uno and an Android phone using a wire that directly connects the Android phone and the Arduino?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8286" data-toggle = "popover">
				<p>user name : user3699039</p>
				<p> user reputation : 32</p>
				<p class = "tagcontent" id = "usertaginfo-8286">{'quadcopter': 2, 'None': 0, 'usb': 2, 'accelerometer': 2, 'arduino': 2, 'imu': 0, 'sensors': 0, 'gyroscope': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8286">Load Comments</button></br>
			<div id = "commentsection-8286" class = 'collapse'>
			<div id = "comment-13266" class = "comment">
				<p>I'm not going to go any more in depth than this, so I'll leave it as a comment, but my gut reaction was a 2 way modem on a headset connection.</p>
			</div>
			<div id = "comment-13283" class = "comment">
				<p>What do you want to achieve with this? You might choose for a bluetooth/wifi connection instead.</p>
			</div>
			<div id = "comment-13294" class = "comment">
				<p>i wanna control this arduino with anothe mobile #FuaZe</p>
			</div>
			<div id = "comment-13298" class = "comment">
				<p>You have to use the @ symbol, not the # symbol to talk to someone :-)</p>
			</div>
			</div>
				<textarea id = "speech-8286" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8286">
					<img id="start_img-8286" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8286">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8287"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8287" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Whilst your question would be better suited to the <a href="https://arduino.stackexchange.com/questions">Arduino StackExchange</a> site, I shall attempt to answer it nevertheless. Below is the method that I have used in the past, however, there are, obviously, more than one way to skin a cat... For example the same question was asked a few years ago on EE.SE, <a href="https://electronics.stackexchange.com/questions/94272/connect-android-device-to-arduino-uno-via-usb">Connect Android device to Arduino Uno via USB</a>.</p>

<p>The answer to your question may be found here, <a href="http://android.serverbox.ch/?p=549" rel="nofollow noreferrer">Android USB host + Arduino: How to communicate without rooting our Android tablet or phone</a>. However there are some pre-requisites for the Android device that you are intending to use:</p>

<blockquote>
  <p><strong>You will require an Android device that supports USB host mode as well
  as the USB host API</strong>. Most Android 3.1+ tablets will suffice (some may
  require an USB OTG adapter). Also, the Galaxy Nexus has host mode
  enabled and matches the requirements (you will need an USB OTG adapter
  however).</p>
</blockquote>

<p>I shall quote the information from the above page, in the case of link death.</p>

<blockquote>
  <p>This example consists of two parts:</p>
  
  <ul>
  <li><strong>The Android application that makes use of the USB API</strong></li>
  </ul>
  
  <p>A simple Android
  app that let s you regulate the brightness of an LED on the Arduino
  using a slider. It also features a button to  enumerate  the USB
  device. </p>
  
  <ul>
  <li><strong>Firmware for the Arduino that does some serial I/O with the
  Android app</strong> </li>
  </ul>
  
  <p>Very basic firmware for the Arduino. An interrupt is
  generated when a new byte is received. The received data controls the
  brightness of the Arduino s on-board LED. (implemented via
  usleep-style software pwm in the main loop).</p>
</blockquote>

<p>The Arduino Code:</p>

<pre><code>int main(void) {
    //initialization
    initIO();
    uart_init();
    sei();

    uint8_t i = 0;
    volatile uint8_t pause;

    for(;;){//this is the main loop
        pause = data;
        PORTB |= (1 &lt;&lt; LED);
        for(i = 0; i &lt; pause; i++)
            _delay_us(10);
        PORTB &amp;= ~(1 &lt;&lt; LED);
        for(i = 0; i &lt; 255-pause; i++)
            _delay_us(10);
    }
}
</code></pre>

<p>The Arduino Interrupt routine:</p>

<pre><code>ISR(USART_RX_vect) {//attention to the name and argument here, won't work otherwise
    data = UDR0;//UDR0 needs to be read
}
</code></pre>

<p>The Android  source code is available here: <a href="http://android.serverbox.ch/wp-content/UsbController.tar.gz" rel="nofollow noreferrer">UsbController.tar.gz</a>*.</p>

<blockquote>
  <ul>
  <li>You may need to change the PID value in UsbControllerActivity.java on line 38, if you have an Arduino Uno Rev3 or higher. You can check the VID/PID value with  lsusb  after connecting the Arduino to your computer.</li>
  </ul>
</blockquote>

<p>Most of the code is pretty standard, however, it is worth paying attention to the following <code>UsbRunnable</code> class:</p>

<pre><code>private class UsbRunnable implements Runnable {
    private final UsbDevice mDevice;

    UsbRunnable(UsbDevice dev) {
        mDevice = dev;
    }

    @Override
    public void run() {//here the main USB functionality is implemented
        UsbDeviceConnection conn = mUsbManager.openDevice(mDevice);
        if (!conn.claimInterface(mDevice.getInterface(1), true)) {
            return;
        }
        // Arduino USB serial converter setup
        conn.controlTransfer(0x21, 34, 0, 0, null, 0, 0);
        conn.controlTransfer(0x21, 32, 0, 0, new byte[] { (byte) 0x80,
                0x25, 0x00, 0x00, 0x00, 0x00, 0x08 }, 7, 0);

        UsbEndpoint epIN = null;
        UsbEndpoint epOUT = null;

        UsbInterface usbIf = mDevice.getInterface(1);
        for (int i = 0; i &lt; usbIf.getEndpointCount(); i++) {
            if (usbIf.getEndpoint(i).getType() == UsbConstants.USB_ENDPOINT_XFER_BULK) {
                if (usbIf.getEndpoint(i).getDirection() == UsbConstants.USB_DIR_IN)
                    epIN = usbIf.getEndpoint(i);
                else
                    epOUT = usbIf.getEndpoint(i);
            }
        }

        for (;;) {// this is the main loop for transferring
            synchronized (sSendLock) {//ok there should be a OUT queue, no guarantee that the byte is sent actually
                try {
                    sSendLock.wait();
                } catch (InterruptedException e) {
                    if (mStop) {
                        mConnectionHandler.onUsbStopped();
                        return;
                    }
                    e.printStackTrace();
                }
            }
            conn.bulkTransfer(epOUT, new byte[] { mData }, 1, 0);

            if (mStop) {
                mConnectionHandler.onUsbStopped();
                return;
            }
        }
    }
}
</code></pre>

<blockquote>
  <p>After the USB interface has been claimed the Arduino USB serial
  converter is initialized by issuing the following control transfers:</p>

<pre><code>conn.controlTransfer(0x21, 34, 0, 0, null, 0, 0);
conn.controlTransfer(0x21, 32, 0, 0, new byte[] { (byte) 0x80,
                0x25, 0x00, 0x00, 0x00, 0x00, 0x08 }, 7, 0);
</code></pre>
  
  <p>The first call sets the control line state, the second call sets the
  line encoding (9600, 8N1). For communication, an additional thread is
  used to send data without blocking the Activity s main UI thread. By
  notifying sSendLock of the UsbController the data will be transferred.
  After submission, the thread will go into  wait  again. This way, even
  if submission takes more time than expected, the Activity s main
  thread will not be blocked and hence the app will not become
  unresponsive.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8287" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-8287">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8287" class = 'collapse'>
			</div>
				<textarea id = "speech-8287" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8287">
					<img id="start_img-8287" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8287">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>