<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can a DMP be used for simulating physics?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10454" class = "post">
			<h2>Question</h2>
			<div id="vote-10454" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 68</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can a DMP be used for simulating physics?</h2>
<p>I read a paper from 2015, <a href="http://h2t.anthropomatik.kit.edu/pdf/Woergoetter2015.pdf" rel="nofollow">"Structural bootstrapping - A novel, generative
mechanism for faster and more efficient acquisition of action-knowledge
"</a>, which introduces a concept called, "Structural bootstrapping with semantic event chains and dynamic movement primitives," which confused me a little bit. </p>

<p>According to my knowledge a robotarm is controlled by a PDDL-like planner. The PDDL file is a "qualitative physics engine" which can predict future events. The paper says the "qualitative physics engine" consists of dynamic movement primitive (DMP) which are learned from motion capture data. </p>

<p>My question is: How can a DMP be used for simulating physics?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10454" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10454">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10454" class = 'collapse'>
			</div>
				<textarea id = "speech-10454" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10454">
					<img id="start_img-10454" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10454">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10456"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10456" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know that the DMP method actually <em>simulates physics</em> as much as it <em>copies what it saw</em>, which was an actual, physical system. Note that "qualitative" means essentially "looks like", where "quantitative" means "numerically". </p>

<p>Qualitative physics simulations are those that <em>look like</em> real physics, but they are not. If I hold a dart in my hand and walk it across the room as though it were in the air, it would <em>look</em> roughly correct, but of course it would not be <em>numerically accurate</em>. So again, I think they're copying what they see and treating it as "good enough."</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10456" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10456">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10456" class = 'collapse'>
			</div>
				<textarea id = "speech-10456" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10456">
					<img id="start_img-10456" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10456">Comment</button>
			<br><div id = "ans-10458"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10458" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The DMP method copies a trajectory instead of simulating physics. The guys in the paper store the recorded trajectory into a database as a matrix and reproduce it without modification on the robot. The event-chain matrix is on page 5 at <a href="http://upcommons.upc.edu/bitstream/handle/2117/14016/1244-Learning-the-semantics-of-object-action-relations-by-observation.pdf" rel="nofollow">Learning the semantics of object-action relations by observation</a> But, in the paper <a href="http://upcommons.upc.edu/bitstream/handle/2117/15177/1258-Execution-of-a-Dual-Object-(Pushing)-Action-with-Semantic-Event-Chains.pdf" rel="nofollow">Execution of a Dual-Object (Pushing) Action with Semantic Event Chains</a> is on page 4 a learning model used which is able to determine future result of an action (chapter "Defining Spatial Anchor Points"). My impression is, that a little bit of planning is in there. The author named it "model-sec" (Model Semantic Event Chain).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10458" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10458">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10458">Load Comments</button></br>
			<div id = "commentsection-10458" class = 'collapse'>
			<div id = "comment-18814" class = "comment">
				<p>"The guys in the paper store the recorded trajectory into a database as a matrix and reproduce it without modification on the robot." I think they *do* attempt to modify it, based on evaluating what parameters are variable. See page 22 and the explanation of the stir/wipe sequence; I think it talks about the starting frame or key point being fixed by the end of the previous motion, leaving "only the adjustable parameters" or something similar available to the user to set.</p>
			</div>
			</div>
				<textarea id = "speech-10458" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10458">
					<img id="start_img-10458" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10458">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>