<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to control a dc motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7308" class = "post">
			<h2>Question</h2>
			<div id="vote-7308" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 215</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to control a dc motor</h2>
<p>I have 2 of these 12v motors and a 12v battery
<a href="http://www.enigmaindustries.com/Motors/Bosch_EV_Warrior.htm" rel="nofollow">http://www.enigmaindustries.com/Motors/Bosch_EV_Warrior.htm</a></p>

<p>I would like to know what the best solution for controlling this motor with an Arduino Uno would be.
Does the motor controller need to have a maximum current of 100A?</p>

<p>I though of a 100A transistor connected to the pwm pin of arduino, and then, control the motor with pwm.</p>

<p>Is voltage regulator better than pwm?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7308" data-toggle = "popover">
				<p>user name : Bernard Meunier</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7308">{'microcontroller': 0, 'None': 0, 'pwm': 0, 'esc': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7308">Load Comments</button></br>
			<div id = "commentsection-7308" class = 'collapse'>
			<div id = "comment-10574" class = "comment">
				<p>You might aswell ask in the [electronics forum](http://electronics.stackexchange.com/). I think you will need more than just a transistor, I'm no expert but have a look at IGBT</p>
			</div>
			</div>
				<textarea id = "speech-7308" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7308">
					<img id="start_img-7308" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7308">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7330"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7330" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, as this motor is rated for 100amps stall at 12V you should probably be using a motor controller capable of supplying that amount of current.  Regarding how to drive the motor, the following may be of use:</p>

<ol>
<li>A voltage regulator cannot be used to drive a motor.  What it does is convert a certain voltage to another voltage, for example 5v to 12v.  It does not provide variable speed control.</li>
<li>A transistor rated for 100amps at 12V would be sufficient to drive one of these motors, however you would only have one direction of control (for example, turning clockwise but not counterclockwise).  This may be OK for your application, it also may not be.  You could easily hook up the transistor to a PWM pin of your Arduino for control.</li>
<li>If you want dual directional control of your motor, you will need a DC brushed motor driver, or HBridge.</li>
</ol>

<p>Good luck with your project.  Just a note, if you don't have very much experience I don't recommend messing with such high currents: issues with unsafe wiring due to lack of experience could be very dangerous and expensive.  I'd recommend starting smaller and working upwards.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7330" data-toggle = "popover">
				<p>user name : nanogru</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-7330">{'gps': 3, 'None': 10, 'localization': 3, 'sensors': 3, 'arduino': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7330">Load Comments</button></br>
			<div id = "commentsection-7330" class = 'collapse'>
			<div id = "comment-10423" class = "comment">
				<p>Thanks for your tips and I will be carefull. I found a mosfet capable of 50amp and peak at 160amp, I think it will do the trik with an H-bridge. http://www.irf.com/product-info/datasheets/data/irfz44n.pdf  The current may be high, but it's only 12v, I dont think I can be electrocuted to hard buy this, and I'm keeping my stuff on heatsink to avoid fire n shit.  Thanks again!</p>
			</div>
			<div id = "comment-10424" class = "comment">
				<p>Thanks.  Please mark this answer as as correct if you feel your question has been addressed.</p>
			</div>
			<div id = "comment-10430" class = "comment">
				<p>I dont know how</p>
			</div>
			<div id = "comment-10899" class = "comment">
				<p>On the left of this answer there's an up arrow, a number, a down arrow, and a check. Click the check.</p>
			</div>
			</div>
				<textarea id = "speech-7330" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7330">
					<img id="start_img-7330" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7330">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>