<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to implement a distance proximity sensor with wider range
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2715" class = "post">
			<h2>Question</h2>
			<div id="vote-2715" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 324</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to implement a distance proximity sensor with wider range</h2>
<p>More in the line of robotics observing their environment, I'm trying to implement a proximity sensor that can sense objects in front of it to a least up to $-30^ \circ \space$ to   $\space+30^ \circ $ of it's direction of propagation.</p>

<p>There are only two ways I can think of</p>

<ol>
<li>Multiple Infrareds.     Con: more spacious</li>
<li>Fast-Motor.  Con: expensive in money and time-complexity wise</li>
</ol>

<p>I'm currently using a <a href="https://www.sparkfun.com/datasheets/Sensors/Infrared/gp2y0a02yk_e.pdf" rel="nofollow">Proximity Sensor with up to 10ft distance capability</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2715" data-toggle = "popover">
				<p>user name : Iancovici</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-2715">{'None': 0, 'slam': 3, 'sensors': 1, 'occupancygrid': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2715">Load Comments</button></br>
			<div id = "commentsection-2715" class = 'collapse'>
			<div id = "comment-5082" class = "comment">
				<p>Probably overkill: Vision. Other option, use ultrasonic sensor(s).</p>
			</div>
			<div id = "comment-5083" class = "comment">
				<p>-30 to +30 degrees is not really a good measure. At what distance do you wish for that? Most sensors have polar plots in their datasheets that describe their sensitivity.</p>
			</div>
			<div id = "comment-5084" class = "comment">
				<p>I need 5ft atleast</p>
			</div>
			</div>
				<textarea id = "speech-2715" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2715">
					<img id="start_img-2715" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2715">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2717"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2717" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might want to check out these ultrasonic proximity sensors for example: <a href="http://www.maxbotix.com/pictures/HRUSB-MaxSonar-EZ/HRUSB-MaxSonar-EZ%20Beam%20Patterns.gif" rel="nofollow">http://www.maxbotix.com/pictures/HRUSB-MaxSonar-EZ/HRUSB-MaxSonar-EZ%20Beam%20Patterns.gif</a>
And then use two or three of them if needed to get a wider field.
They can be bought all over, sparkfun being one of the shops.</p>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2717" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2717">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2717">Load Comments</button></br>
			<div id = "commentsection-2717" class = 'collapse'>
			<div id = "comment-6927" class = "comment">
				<p>Be careful about interference between separate sensors.</p>
			</div>
			</div>
				<textarea id = "speech-2717" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2717">
					<img id="start_img-2717" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2717">Comment</button>
			<br><div id = "ans-2733"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2733" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It depends on the purpose, but  30  to +30  (cone shaped beam) smells like ultrasonic sensors.<bR><bR></p>

<p>However, if you don't like ultrasonic and you are more "infrared person" you may also make your own scanner (SHARP GP2Y0A21YK0F + RC servo) like here (chapter "5.3.3 Skaner 2D"):<bR>
<a href="http://www.forbot.pl/forum/download.php?id=676&amp;sid=54f9ba7ac5b724b64bfff3686de0e39c" rel="nofollow">http://www.forbot.pl/forum/download.php?id=676&amp;sid=54f9ba7ac5b724b64bfff3686de0e39c</a><bR>
<a href="http://www.forbot.pl/forum/topics20/fuzja-sygnalow-sensorycznych-dla-robotow-minisumo-vt2151.htm" rel="nofollow">http://www.forbot.pl/forum/topics20/fuzja-sygnalow-sensorycznych-dla-robotow-minisumo-vt2151.htm</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2733" data-toggle = "popover">
				<p>user name : Marian Pa dzioch</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-2733">{'None': 2, 'soccer': 1, 'robotic-arm': 4, 'rcservo': 1, 'valve': 1, 'simulator': 1, 'mechanism': 6, 'gearing': 0, 'tracks': 0, 'chassis': 0, 'motor': 2, 'stepper-motor': 2, 'manufacturing': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2733">Load Comments</button></br>
			<div id = "commentsection-2733" class = 'collapse'>
			<div id = "comment-5278" class = "comment">
				<p>Please, indicate that the first link is in Polish and surely not everybody can read it</p>
			</div>
			<div id = "comment-5288" class = "comment">
				<p>@SnakeSanders use translate.google.com</p>
			</div>
			</div>
				<textarea id = "speech-2733" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2733">
					<img id="start_img-2733" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2733">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>