<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can my robot find its position in any given map without GPS, including when the initial point is not given?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9727" class = "post">
			<h2>Question</h2>
			<div id="vote-9727" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 206</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can my robot find its position in any given map without GPS, including when the initial point is not given?</h2>
<p>Consider this map</p>

<p><a href="https://i.stack.imgur.com/VTUuP.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/VTUuP.png" alt="enter image description here"></a></p>

<p>The Contest arena shown in figure 1 consists of two sub arenas, both the sides are identical to each other and their scientists and safe zone locations are similar.</p>

<p>Each sub arena has 3 different colored rooms and a fourth shared room. Each robot will be placed at identical start locations, respective to their arena. These locations will be random and anywhere on the map.</p>

<p>Each room (other than the shared room) will have two entry and exit gates. Both of these gates will be open at all times. The robot can enter and exit from any gate it chooses.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9727" data-toggle = "popover">
				<p>user name : Muhammad Siraj</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-9727">{'None': 0, 'localization': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9727">Load Comments</button></br>
			<div id = "commentsection-9727" class = 'collapse'>
			<div id = "comment-17435" class = "comment">
				<p>Can you give us more details on the competition - is it goal based, as in do you have to tell the robot to go to a certain space and they time how long it takes to get there? Or is performance based on how quickly it can figure out where it is?</p>
			</div>
			</div>
				<textarea id = "speech-9727" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9727">
					<img id="start_img-9727" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9727">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9733"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9733" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would say that you have 2 main possibilities: </p>

<ul>
<li><p>You base your computation on the IMU (Inertial Measurement Unit) of your robot. Usually from those you can basically have an acceleration, then you need to integrate it 2 times to get the position and therefore the displacement in meters.</p></li>
<li><p>You base your computation on simple encoders. Encoders are sensors which  convert the angular position or motion of a shaft to an analog or digital code. From this, if you know the radius of the wheel (which you should assume constant, if the wheel does not change over time) you will know the displacement in meters associated to the displacement read by the encoder.</p></li>
</ul>

<p>I hope this helped you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9733" data-toggle = "popover">
				<p>user name : minidiable</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-9733">{'quadcopter': 0, 'None': 3, 'motion-planning': 0, 'matlab': 0, 'uav': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9733">Load Comments</button></br>
			<div id = "commentsection-9733" class = 'collapse'>
			<div id = "comment-17286" class = "comment">
				<p>While these methods do allow the estimation of the pose relative to the starting position, they cannot find the absolute position on the map and I think that's what the question is about.</p>
			</div>
			<div id = "comment-17287" class = "comment">
				<p>Yeah. I understood he had the coordinates of the starting point in the 'world-frame'</p>
			</div>
			<div id = "comment-17434" class = "comment">
				<p>Second option involves the use of dead-reckoning, which is susceptible to accumulative error over distance travelled. Could be dodgy if the robot hits something and the wheels slip.</p>
			</div>
			</div>
				<textarea id = "speech-9733" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9733">
					<img id="start_img-9733" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9733">Comment</button>
			<br><div id = "ans-9736"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9736" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Determining your location when you have a map but not your starting location is a job for a <a href="http://www.cs.cmu.edu/~motionplanning/lecture/Chap9-Bayesian-Mapping_howie.pdf" rel="nofollow noreferrer">particle filter</a>.  </p>

<p>(<a href="https://en.wikipedia.org/wiki/Particle_filter" rel="nofollow noreferrer">Wikipedia's entry on particle filters</a> is not very helpful to beginners.)  See also, <a href="https://robotics.stackexchange.com/a/480/350">this question</a>.</p>

<p>Here's an animation of a particle filter in use.  The black boxes are walls, the green turtle is the robot, the red marks are possible locations, and the grey circle is the center point of all the estimates.  As the robot moves, the possible locations become more tightly grouped until there is no more ambiguity.</p>

<p><a href="https://robotics.stackexchange.com/a/480/350"><img src="https://i.stack.imgur.com/YylQT.gif" alt="Particle filter operation"></a></p>

<p>The idea is that by moving around the space and measuring the distance to walls around you (or by bumping into them), you can get a better sense of where you "might be". </p>

<p>For example: in the map you showed, imagine that your robot moves forward by 4 spaces but does not hit a wall.  There are only a few spots on the map where this is possible, so now you know you must be in one of those places.  The actual movement doesn't matter, but as you build up your knowledge of where the walls are (and where you <em>don't</em> find walls), some moves will be more useful in determining your location than others.  And eventually, you'll have roughly 100% confidence in your location.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9736" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9736">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9736" class = 'collapse'>
			</div>
				<textarea id = "speech-9736" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9736">
					<img id="start_img-9736" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9736">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>