<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How has the Mars Exploration Rover (MER) has been working for 11 years if it was designed for 90 Sol?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10647" class = "post">
			<h2>Question</h2>
			<div id="vote-10647" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 102</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How has the Mars Exploration Rover (MER) has been working for 11 years if it was designed for 90 Sol?</h2>
<p>The Mars Exploration Rover (MER) <em><a href="http://www.nasa.gov/mp4/618340main_mer20120124-320-jpl.mp4" rel="nofollow">Opportunity</a></em> landed on Mars on January 25, 2004. The rover was originally designed for a 90 <strong>Sol mission</strong> (a Sol, one Martian day, is slightly longer than an Earth day at 24 hours and 37 minutes). Its mission has been extended several times, the machine is still trekking after 11 years on the Red Planet.</p>

<p>How it has been working for 11 years? Can anyone explain <strong><em>hardware-related aspects</em></strong> and how smart this Rover is ?</p>

<p>I need to know how this rover is getting services on Mars regarding to hardware related issues?(if any hardware is not working properly, how it can be repair on the Red Planet?)  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10647" data-toggle = "popover">
				<p>user name : Abhishek Tandon</p>
				<p> user reputation : 114</p>
				<p class = "tagcontent" id = "usertaginfo-10647">{'control': 2, 'quadcopter': 0, 'None': 0, 'radio-control': 0, 'microcontroller': 2, 'wheeled-robot': 2, 'mechanism': 2, 'robotic-arm': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10647">Load Comments</button></br>
			<div id = "commentsection-10647" class = 'collapse'>
			<div id = "comment-19148" class = "comment">
				<p>I'd be rather suprised if there are any AI elements at all. AI algorithms are very hard to test, can't be proven correct and you really don't want your robot to learn something wrong. It's also under close supervision all the time so it does not have to learn much.</p>
			</div>
			<div id = "comment-19165" class = "comment">
				<p>AI has nothing to do with it.  It's all about robust electromechanical design for extreme environmental operation.</p>
			</div>
			<div id = "comment-19168" class = "comment">
				<p>but how is it working too long ? why not affected by time and environment ? Those are the questions in my mind..</p>
			</div>
			<div id = "comment-19171" class = "comment">
				<p>Here is the answer - http://x3.cdn03.imgwykop.pl/c3201142/comment_7yhcAWh4eXyKwcESz3f3vjaoCEBGLKRv,w400.jpg</p>
			</div>
			<div id = "comment-19182" class = "comment">
				<p>Welcome to *Robotics* Abhishek Tandon, but I'm afraid that questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. Also, the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question.</p>
			</div>
			<div id = "comment-19183" class = "comment">
				<p>Perhaps if you explained what you don't understand about the Rover's longevity and ask about specific aspects of that, we might be able to provide more help. As it stands, it is difficult to see what we could tell you that wouldn't be better served by reading a book on reliability engineering in extreme environments.</p>
			</div>
			<div id = "comment-19193" class = "comment">
				<p>@MarkBooth...I have updated my question..I need to know how this rover is getting service for hardware related issues on Mars without human there ? what if any hardware fails to work, does it do repair itself ?</p>
			</div>
			<div id = "comment-19194" class = "comment">
				<p>and please Un-hold this question because I need to learn from users point of view and there perceptions. thanks!</p>
			</div>
			<div id = "comment-19196" class = "comment">
				<p>@AbhishekTandon:  No.  The MER does not repair itself.</p>
			</div>
			<div id = "comment-19197" class = "comment">
				<p>@Paul....Then how is it possible for MER to work so long (11 years)</p>
			</div>
			<div id = "comment-19199" class = "comment">
				<p>I vote to reopen because I know 2 former JPL engineers who worked on Mars missions who would be able to give non-opinion based answers.</p>
			</div>
			<div id = "comment-19200" class = "comment">
				<p>Thank you @Ben...also like and up vote this question so it will open soon and I can get to know more user exoerienc3s...</p>
			</div>
			</div>
				<textarea id = "speech-10647" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10647">
					<img id="start_img-10647" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10647">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10654"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10654" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are 2 main reasons why the MER is still operating long after it's 90 Sol planned lifetime.</p>

<p>The first is political, strategic, and can be summarized as 'Under promise, over deliver'. When a PI (principal investigator) proposes a high-risk scientific mission like this, they always frame the goals of the project such that their project is viewed successful even when things go wrong. If you say that your project lasted 11 years and then failed, that is one framing. If you say your project lasted 10 years longer than it was designed for, that is another framing of the same information that sounds much better. You can find many NASA projects where things went very wrong but the project was still viewed as successful. </p>

<p>The second reason is statistical. It is difficult to truly understand the details of the quality of the components a machine is built from, and the conditions of operation that a machine will operate in. We can never know exactly how long a machine will operate before failing. But we can use prior experience and statistical calculations to get a pretty good estimate of how long a population of similar machines will operate before failure. A machine like the MER is very complex, and we apply the statistical analysis to each individual part, and all the combinations of the parts. In the end, it is likely that the design engineers actually had 90 Sol of operation as their goal. They would also have had a measure of certainty associated with that. Perhaps it was a 90% chance that the MER would last 90 Sol. Or perhaps it was 99.9%. The higher the certainty required, the more 'over design' is needed to guarantee that. </p>

<p>You can research the term 'design life' to understand better these hardware related aspects.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10654" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10654">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10654" class = 'collapse'>
			</div>
				<textarea id = "speech-10654" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10654">
					<img id="start_img-10654" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10654">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>