<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to calculate the real time RPM of motor with rotary encoder?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6862" class = "post">
			<h2>Question</h2>
			<div id="vote-6862" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 563</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to calculate the real time RPM of motor with rotary encoder?</h2>
<p>I want to measure the real time RPM of the wheels. I think incremental rotary encoder would be good. But i am confused on how to interface it with DC brushless geared motors. From the images i am not quite sure if only one rotary encoder would suffice or do i need any other sensor also with it?<br>
I am doing my project on arduino uno.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6862" data-toggle = "popover">
				<p>user name : explorer</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6862">{'motion': 0, 'None': 0, 'forward-kinematics': 0, 'quadrature-encoder': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6862">Load Comments</button></br>
			<div id = "commentsection-6862" class = 'collapse'>
			<div id = "comment-9822" class = "comment">
				<p>This seems like pretty basic math. If you know the number of cycles per revolution of the encoder you just divide. Why would you need another sensor?</p>
			</div>
			<div id = "comment-9838" class = "comment">
				<p>@Octopus : In the image of rotary encoder, i couldn't see where the sensors are located, hence i was doubtful. Besides, i also couldn't find a video describing how to interface it with the wheels.</p>
			</div>
			<div id = "comment-9847" class = "comment">
				<p>So is your question then, more about how to use the device? That sounds like a different question. More info about the device could help us to help you.</p>
			</div>
			</div>
				<textarea id = "speech-6862" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6862">
					<img id="start_img-6862" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6862">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7039"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7039" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Different encoders will attach to the motor or shaft differently.  Typically, the motor has a small shaft coming out the back of motor for this purpose.  And you buy the motor with the encoder already installed.  </p>

<p>Actually, now i see you asked about a <em>brushless</em> motor.  Typically, these have added hall effect sensors by the manufacturer.  Because you energize the 3 coils of the motor in a specific sequence to spin it, it is easy to use these hall effect sensors as an incremental encoder.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7039" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7039">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7039" class = 'collapse'>
			</div>
				<textarea id = "speech-7039" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7039">
					<img id="start_img-7039" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7039">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>