<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to power this servomotor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10827" class = "post">
			<h2>Question</h2>
			<div id="vote-10827" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to power this servomotor?</h2>
<p>I would like to use and test <a href="https://www.aliexpress.com/item/3-phase-NEMA-52-35N-m-4956ozf-in-Closed-loop-Stepper-servo-motor-driver-kit-JMC/32712846667.html?scm=1007.13339.33317.0&amp;pvid=2578774e-484b-461c-9849-e602e6df8bac&amp;tpp=1" rel="nofollow">this type of servo motor</a>, significantly stronger than the ones I've been using previously.</p>

<p>However the datasheets seem to be limited and I can't exactly tell how to use the driver.</p>

<ol>
<li><p>Would it be fair to assume that to use this system, I would get say a 500 W (or higher) power supply and be able to plug into my (North American) wall outlet to use this motor? And if so, would that give me enough power? I believe NA wall outlets give something like 12 A @110 V max, or 1.32 kW. </p></li>
<li><p>How could I tell if this is enough for the above servo, or might I have to upgrade to using an industrial power line? </p></li>
<li><p>What if I want to power multiple of these motors at the same time? Surely 1 power outlet wouldn't work. </p></li>
<li><p>[semi-related bonus question]  What is the difference between "2 phase", "3 phase" etc in this stepper/servo motor?</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-10827" data-toggle = "popover">
				<p>user name : JDS</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-10827">{'servomotor': 0, 'None': 1, 'force': 1, 'motor': 10, 'power': 3, 'servos': 0, 'torque': 5, 'gearing': 5, 'industrial-robot': 4, 'dh-parameters': 6, 'robotic-arm': 17, 'actuator': 4, 'rotation': 2, 'forward-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10827">Load Comments</button></br>
			<div id = "commentsection-10827" class = 'collapse'>
			<div id = "comment-19500" class = "comment">
				<p>I'll caution you against buying this. At a minimum, if you're insistent on buying it, contact the vendor and get everything clear. I'll point out the typical eBay scam - you may not be buying *everything* in the picture. To be explicitly clear, the title says "motor **driver** kit*. It does NOT say "motor kit". For shipping to the US at least, the shipping cost is almost the cost of the part, and Return Policy rule 4 says, "Return shipping is to be paid by the buyer." So, you can return it for any reason within 14 days, but your net refund is the base $355 on nearly 842 spent.</p>
			</div>
			<div id = "comment-19501" class = "comment">
				<p>Check the schematic on the page - the motor doesn't have a part number. Only the driver does. The post may be advertising what kind of motor *is compatible* with the driver they're selling. It's not clear. Again - ask everything in advance before you buy.</p>
			</div>
			<div id = "comment-19507" class = "comment">
				<p>Absolutely, I was able to obtain a datasheet of the motor from the supplier with basic dimensions and torque/speed curves. It's risky but the reward is high too.</p>
			</div>
			<div id = "comment-19510" class = "comment">
				<p>Also: I'm fairly certain it's motor + driver. Because the package weight is 21KG and motor weight is 19KG or so. Alibaba/express is very forgiving to foreign buyers with a history, I've been refunded before for products not received (including shipping fees).</p>
			</div>
			</div>
				<textarea id = "speech-10827" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10827">
					<img id="start_img-10827" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10827">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10829"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10829" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li><p>No. If there is no {installation, electrical, maintenance, etc} manual/description etc. (and maybe add also quality certificate also here) it is not fair to assume anything. Buying something without knowing its characteristics and placing it under current is a fire hazard, therefore it is not safe to assume characteristics! Guessing characteristics form picures is never a good idea.</p></li>
<li><p>From the (missing) installation manual. </p></li>
<li><p>If a motor consumes 500 W then 1 electrical outlet capable of supplying 1,32 kW can power 2 motors. 2 Electrical outlets capable of supplying 1,32 kW can power 2 each. </p></li>
<li><p>phases are the number of "inputs" for a motor. a 3 phase motor needs 3 signals to turn (dephased from each other) a two phase motor need two. The number of phases times the number of poles give the number of steps which divided 1 rotation (if I am not mistaking).</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10829" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10829">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10829">Load Comments</button></br>
			<div id = "commentsection-10829" class = 'collapse'>
			<div id = "comment-19508" class = "comment">
				<p>Ah alright so phases has to do with the default step angle it seems? Are there advantages of 2 vs. 3 phase systems other than that? And I'll try to follow up with datasheet information for the product.</p>
			</div>
			<div id = "comment-19515" class = "comment">
				<p>2 adjacent electrical outlets will likely be on the same 15A breaker circuit so the conclusion in point 3 may not be valid.</p>
			</div>
			</div>
				<textarea id = "speech-10829" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10829">
					<img id="start_img-10829" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10829">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>