<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can Microhard 920 series modems be made compatible with Microhard 910 series?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-795" class = "post">
			<h2>Question</h2>
			<div id="vote-795" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 449</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can Microhard 920 series modems be made compatible with Microhard 910 series?</h2>
<p>Microhard Systems currently sells several types of 900MHz modems, which are mostly used in robotics and SCADA applications.  One of their product lines, the 910 series (MHX910, n910, Spectra 910), is obsolete and no longer sold.  However, some older equipment is built with OEM versions of the 910 series soldered in place.</p>

<p>Microhard currently sells a 920 series (MHX920, n920, Spectra 920) that shares many of the specs with the 910 series, but cannot establish a radio link with a 910 series modem due to differences in encryption and hopping pattern.  Therefore, if you want to make new equipment communicate with equipment using the 910 series, your options are:</p>

<ol>
<li>De-solder the old 910 modem and replace it with the footprint-compatible 920 modem, or</li>
<li>Reconfigure a 920 series modem to communicate with the 910 series modem.</li>
</ol>

<p>Option 1 is undesirable, since I don't have access to the firmware on the older equipment in question.  Does anyone know how to accomplish option 2?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-795" data-toggle = "popover">
				<p>user name : John Walthour</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-795">{'radio-control': 3, 'None': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-795">Load Comments</button></br>
			<div id = "commentsection-795" class = 'collapse'>
			<div id = "comment-2030" class = "comment">
				<p>Welcome to *robotics* John, but I'm afraid that this question is even less on-topic on *robotics* than it was on [electronics](http://electronics.stackexchange.com/q/53752/3774). Also, if you are going to [multipost](http://meta.stackexchange.com/q/64068/138432) then you could have at least have the courtesy to mention that your question had already been closed on *Electronics*. Our [policy here](http://meta.robotics.stackexchange.com/q/5/37) is to allow questions which might be expected to be asked on another site, as long as they have some relevance to robotics.</p>
			</div>
			<div id = "comment-2031" class = "comment">
				<p>If you rework your question, making it clear how it is a [practical, answerable question based on actual problems that you face](http://robotics.stackexchange.com/faq#dontask) and related to *robotics*, then it can easily be re-opened.</p>
			</div>
			<div id = "comment-2034" class = "comment">
				<p>Didn't have edit permissions at first, and the nature of the question was changed somewhat by Ian's edit.  Sorry for the mess with the crosspost; hadn't realized it was frowned upon.  I have edit permissions now, and the vendor's tech support has gotten me through the problems I had, so I'll edit this to be more useful for those who try to use these modems in the future.</p>
			</div>
			<div id = "comment-2035" class = "comment">
				<p>Thanks John, we appreciate the question and I would be happy to see this one re-opened if it could be made to fit. Especially if you can answer it yourself anyway. *8')</p>
			</div>
			<div id = "comment-2036" class = "comment">
				<p>Sweet!  If it gets reopened I'll post an answer after the waiting period is up.</p>
			</div>
			<div id = "comment-2037" class = "comment">
				<p>It's still only tangentially relevant, but I think it's a good save.</p>
			</div>
			</div>
				<textarea id = "speech-795" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-795">
					<img id="start_img-795" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-795">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-802"  class = "post">
				<h2>Answer</h2>
			<div id="vote-802" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After some conversations with Microhard's technical support, the following procedure worked for me:</p>

<ol>
<li>Email Microhard technical support.  Explain what you're trying to do, and ask for a version of 920 series firmware that will communicate with your 910 series modem.  This firmware is available for the n920 via email, but is not on their website.  There is a firmware file for the Spectra 920 on their downloads page; I have not tried it.</li>
<li>Connect a serial cable to the data port of the modem. (Not the diagnostics port)</li>
<li>You must have hardware with an "S2" switch accessible, or with access to the !bootprog pin on the OEM 920 module.  Hold the switch down or hold the !bootprog line low, and power cycle the modem.  Do not release until procedure is completed.</li>
<li>Use the Microhard Firmware loader (available on the Microhard downloads page) to load the provided firmware.</li>
<li>Release the S2 switch (or raise the !bootprog line) and power cycle the modem.  Your 920 series modem is now ready to communicate with 910 series modems.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-802" data-toggle = "popover">
				<p>user name : John Walthour</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-802">{'radio-control': 3, 'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-802" class = 'collapse'>
			</div>
				<textarea id = "speech-802" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-802">
					<img id="start_img-802" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-802">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>