<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to determine the parameter of a Complementary Filter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1717" class = "post">
			<h2>Question</h2>
			<div id="vote-1717" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 7188</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to determine the parameter of a Complementary Filter?</h2>
<p>I know that the Complementary Filter has the functions of both LPF and HPF. But I think my understanding on the principal behind it is still unclear.</p>

<p>I am quite new on digital signal processing, and maybe some very fundamental explanations will help a lot.</p>

<p>Say I have a Complementary Filter as follows:</p>

<p>$$y =a\cdot y+(1-a)\cdot x$$</p>

<p>Then my parameter $a$ may be calculated by $$a=\frac{\text{time constant}}{\text{time constant}+\text{sample period}}$$
where the $\text{sample period}$ is simply the reciprocal of the $\text{sampling frequency}$.</p>

<p>The $\text{time constant}$ seems to be at my own choice.</p>

<p><strong>My Questions:</strong></p>

<ol>
<li>What is the theory behind this calculation?</li>
<li>How do we choose the $\text{time constant}$ properly?</li>
</ol>

<p><sub><strong>Note:</strong> I also <a href="https://stackoverflow.com/q/18095785">posted this question on Stack Overflow</a>, as the answers there are likely to be slightly different in emphasis.</sub></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1717" data-toggle = "popover">
				<p>user name : Sibbs Gambling</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-1717">{'magnetometer': 6, 'None': 0, 'localization': 5, 'kalman-filter': 11, 'compass': 11, 'gyroscope': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1717">Load Comments</button></br>
			<div id = "commentsection-1717" class = 'collapse'>
			<div id = "comment-3599" class = "comment">
				<p>The difference equation you give for the complimentary filter isn't -- it's the difference equation for a low-pass filter.</p>
			</div>
			<div id = "comment-3603" class = "comment">
				<p>Multi-posted to [Stack Overflow](http://stackoverflow.com/q/18095785/42473).</p>
			</div>
			<div id = "comment-3604" class = "comment">
				<p>Please don't post the same answer to multiple stack exchange sites @perfectionm1ng. If a question is on the wrong site it will be moved to a more suitable one.</p>
			</div>
			<div id = "comment-3605" class = "comment">
				<p>@TimWescott  sorry could you please elaborate?</p>
			</div>
			<div id = "comment-3606" class = "comment">
				<p>@MarkBooth I am sorry for not knowing this rule.</p>
			</div>
			<div id = "comment-3615" class = "comment">
				<p>@perfectionm1ng - No problem, we all have to learn some time. I've already posted links in comments in both directions, so people who find one should easily find the other.</p>
			</div>
			</div>
				<textarea id = "speech-1717" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1717">
					<img id="start_img-1717" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1717">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1721"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1721" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The complementary filter you mentioned comprises of both a low-pass filter (which filters out, or attenuates, short term accelerometer fluctuations), as well as a high pass filter (which tries to negate the effect of drift on the gyroscope).</p>

<p><img src="https://i.stack.imgur.com/GTkB0.jpg" alt="Image copied from [http://www.chrismarion.net/index.php?option=com_content&amp;view=article&amp;id=122:the-segway-theory&amp;catid=44:robotics](Chris Marion  - The Segway: Theory (Jan 2011))"></p>

<p>A time constant $\tau$ with respect to first order filters describes at what point (the cut-off frequency $f_{c}$) information should start being rejected (LPF) or stop being rejected (HPF). With respect to a complementary filter the time-constant used is the same for both the LPF as well as the HPF. The time constant can be thought of as boundary between trusting the gyroscope, and trusting the accelerometer.</p>

<p>The value of $a$, or the time constant, should be a function of your gyroscope's drift and accelerometer noise. You can optimize to filter out gyroscopic drift (HPF with slow cut-off), but then your accelerometer will allow too much accelerometer noise (LPF with slow cut-off).</p>

<p>As with all filter design, calculate the filter coefficients, test it to confirm it doesn't work, and randomly tweak it till it does.</p>

<p>Refer to the following links for more in depth discussion:</p>

<ul>
<li><a href="http://www.chrismarion.net/index.php?option=com_content&amp;view=article&amp;id=122:the-segway-theory&amp;catid=44:robotics" rel="nofollow noreferrer">Marion, C. The Segway: Theory (Jan 2011)</a></li>
<li><a href="http://web.mit.edu/scolton/www/filter.pdf" rel="nofollow noreferrer">Colton, S. A Simple Solution for Integrating Accelerometer and
Gyroscope Measurements for a Balancing Platform (June 2007)</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1721" data-toggle = "popover">
				<p>user name : EDDY74</p>
				<p> user reputation : 395</p>
				<p class = "tagcontent" id = "usertaginfo-1721">{'None': 25}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1721">Load Comments</button></br>
			<div id = "commentsection-1721" class = 'collapse'>
			<div id = "comment-3600" class = "comment">
				<p>The block diagram, as given, suffers from pole-zero cancellation in the gyro signal path.  The consequence of that, as drawn, will be undetected integrator windup and eventual numerical overflow.  In practice you'd remember that in mathemagic land an integrator cascaded with a high-pass is just a low-pass, and here in the real world a low-pass filter is way more tractable than the cascade shown.</p>
			</div>
			<div id = "comment-3601" class = "comment">
				<p>Yeah I realise the graph might not be perfect, I was just trying to illustrate the two different signal paths (I copied the graph from the segway link).</p>
			</div>
			<div id = "comment-3607" class = "comment">
				<p>actually mine is to combine gyroscope and the magnetometer. but anw, should share the same rationale. e.g. my sampling frequency for gyroscope and magnetometer is same, 50Hz. Could you please show a sample calculation of a?</p>
			</div>
			<div id = "comment-3612" class = "comment">
				<p>Please refer to page 13 of the second link I posted (A simple solution for integrating...), but I think ultimately it would be best to test the filter practically.</p>
			</div>
			<div id = "comment-3613" class = "comment">
				<p>Oh and an example: given sampling rate of 50 hz (0.02 period), and a time constant of say 0.5 seconds, a = (0.5)/(0.5 + 0.02) = 0.96</p>
			</div>
			</div>
				<textarea id = "speech-1721" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1721">
					<img id="start_img-1721" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1721">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>