<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to know when a Li-Po battery is discharged?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1163" class = "post">
			<h2>Question</h2>
			<div id="vote-1163" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2318</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to know when a Li-Po battery is discharged?</h2>
<p>I'm building a quadcopter and I've seen that a Li-Po battery must not be entirely discharged, otherwise it could damage it.</p>

<p>How do you know when you have to stop your quadcopter or robot in order to prevent damages, since the voltage doesn't drop? Which part should control the battery charge? ESCs? BEC? Flight controller?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1163" data-toggle = "popover">
				<p>user name : mimipc</p>
				<p> user reputation : 240</p>
				<p class = "tagcontent" id = "usertaginfo-1163">{'quadcopter': 11, 'stability': 9, 'None': 4, 'battery': 5, 'bec': 2, 'brushless-motor': 3, 'esc': 2, 'electronics': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1163">Load Comments</button></br>
			<div id = "commentsection-1163" class = 'collapse'>
			<div id = "comment-2645" class = "comment">
				<p>Short it. If it _doesn't_ explode, it needs to be charged. If it _does_ explode, you have worse problems than the charge in your battery ;)</p>
			</div>
			<div id = "comment-2646" class = "comment">
				<p>On a more serious note, you can use the Relimate-like extra wires that come out of a LiPo to measure if it needs charging (chargers use these wires to determine if the battery is done charging). Also, I _think_ that the voltage _does_ drop.</p>
			</div>
			<div id = "comment-2647" class = "comment">
				<p>I think you didn't get what I wanted to do. I just want my quadcopter to come back and land (or just to alert me in a way or another) before the battery gets damaged. How to track the battery charge on a quadcopter to tell the charge percentage?</p>
			</div>
			<div id = "comment-2648" class = "comment">
				<p>I did, I was saying that you could attach a circuit to the Relimates. But it turns out that LiPos do experience a voltage drop, so you need not get into that.</p>
			</div>
			<div id = "comment-2649" class = "comment">
				<p>So I just have to track the voltage drop? That's it?</p>
			</div>
			</div>
				<textarea id = "speech-1163" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1163">
					<img id="start_img-1163" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1163">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1164"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1164" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Lithium polymer batteries <em>do</em> have a drop in their voltage as they discharge.</p>

<p>Use a simple zener/opamp circuit (<a href="http://www.reuk.co.uk/12-Volt-Battery-Low-Indicator-LM741.htm" rel="nofollow">this</a> is a good example of one), or just analogRead from a resistor system parallel to the battery. Determine what your definition of "low battery" is (some experimentation may help, see what values you get for a discharged battery), and set your processor to understand that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1164" data-toggle = "popover">
				<p>user name : Manishearth</p>
				<p> user reputation : 1068</p>
				<p class = "tagcontent" id = "usertaginfo-1164">{'underwater': 30, 'None': 53, 'protection': 64, 'motor': 64, 'auv': 30, 'actuator': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1164" class = 'collapse'>
			</div>
				<textarea id = "speech-1164" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1164">
					<img id="start_img-1164" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1164">Comment</button>
			<br><div id = "ans-1165"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1165" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a number of off-the-shelf battery monitors that will notify you when the battery voltage has dropped to a critical point. In our lab we use one that emits a loud noise (as an example see the <a href="http://www.hobbyking.com/hobbyking/store/__7223__Hobby_King_Battery_Monitor_3S.html" rel="nofollow">Hobby King Battery Monitor 3S</a>).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1165" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1165">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1165">Load Comments</button></br>
			<div id = "commentsection-1165" class = 'collapse'>
			<div id = "comment-2651" class = "comment">
				<p>I looked at all those things and I think I could build one with my arduino and LCD screen to display the voltage per cell. Thanks for your help.</p>
			</div>
			<div id = "comment-2652" class = "comment">
				<p>That makes sense but aren't you worried about weight. Of course now that you mention it the Ardupilot is an Arduino compatible autopilot system and the oilpan (the associated IMU) has the ability to monitor battery level.</p>
			</div>
			<div id = "comment-7569" class = "comment">
				<p>You could use an Arduino Nano to save on weight.</p>
			</div>
			</div>
				<textarea id = "speech-1165" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1165">
					<img id="start_img-1165" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1165">Comment</button>
			<br><div id = "ans-1166"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1166" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can tell by the voltage.  LiPo batteries have a distinct "knee" in their performance, generally around 3.4V-3.6V:</p>

<p><a href="http://www.rctoys.com/pr/pr-images/tp-extreme-5000-discharge-curve-graph.gif" rel="nofollow noreferrer">lithium ion voltage discharge curve http://www.rctoys.com/pr/pr-images/tp-extreme-5000-discharge-curve-graph.gif</a></p>

<p>It will be slightly different depending on the exact battery, and how you've arranged them in your battery packs (you need to account for the current load when measuring the voltage) -- so it makes sense to characterize your own battery first.</p>

<p>Since your batteries will be in a quadcopter, the best solution will depend on whether you favor the safety of the battery (immediate hardware shutoff) or the safety of the platform (warn the autonomy, allow it to land safely before it shuts itself down in software).  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1166" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1166">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1166" class = 'collapse'>
			</div>
				<textarea id = "speech-1166" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1166">
					<img id="start_img-1166" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1166">Comment</button>
			<br><div id = "ans-4878"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4878" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First of all if you want to do it yourself using an Arduino then I would recommend using the Arduino Nano to save on weight. </p>

<p>If you don't want to rely on noises (as used by some battery monitors) then you could program the Arduino to trigger something off, maybe a visible LED or some other physical thing on the quadcopter. Or it could simply gently reduce power to all motors so that the quad lands slowly and safely.</p>

<p>You could also consider the use of telemetry (i.e. sending back information from the quadcopter) if your r/c transmitter supports it. This will give you a real time reading of the battery voltage as well as temperature etc. </p>

<p>Many r/c transmitters also allow you to set a simple timer on the transmitter which you would set based on ground testing to know when approximately you should bring the quadcopter back to base.This is the least technical of the solutions but apparently works well if you allow a bit of safety leeway to compensate for variations due to varying flight conditions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4878" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4878">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4878" class = 'collapse'>
			</div>
				<textarea id = "speech-4878" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4878">
					<img id="start_img-4878" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4878">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>