<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I measure the height of an object with a single sharp sensor (GP2Y0A21YK0F)?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8590" class = "post">
			<h2>Question</h2>
			<div id="vote-8590" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 193</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I measure the height of an object with a single sharp sensor (GP2Y0A21YK0F)?</h2>
<p>I have one sharp sensor and I have to use it to measure the height of a block (6cm - 12 cm). How can I accomplish this ?
Actually it is to be connected to a robot which will move near the box and determine its height.</p>

<p>About GP2Y0A21YK0F:
<a href="http://www.sharpsma.com/webfm_send/1489" rel="nofollow noreferrer">http://www.sharpsma.com/webfm_send/1489</a></p>

<p>The robot is like this: <a href="https://i.imgur.com/8qT8zeQ.jpg" rel="nofollow noreferrer">http://i.imgur.com/8qT8zeQ.jpg</a></p>

<p><a href="https://i.stack.imgur.com/2pyYc.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/2pyYc.jpg" alt="Robot picture "></a></p>

<p>If possible please suggest a solution that doesn't require moving the sensor.
But any method will do fine.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8590" data-toggle = "popover">
				<p>user name : Shivendra Singh Vishen</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-8590">{'None': 0, 'dynamic-programming': 1, 'first-robotics': 0, 'mobile-robot': 1, 'automatic': 1, 'interrupts': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8590" class = 'collapse'>
			</div>
				<textarea id = "speech-8590" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8590">
					<img id="start_img-8590" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8590">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8591"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8591" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can you explain more about how the robot is to measure the height? </p>

<p>It would seem to me like you could put the sensor at the top of a mast of known height $h$, looking down. Then the robot drives up to the block until the sensor feedback registers some distance other than $h$ (plus or minus some margin for noise, etc.) </p>

<p>Once you are in position, the height of the block is</p>

<p>$$
h_{\mbox{block}} = h_{\mbox{mast}} - \mbox{sensor output}
$$</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8591" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8591">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8591">Load Comments</button></br>
			<div id = "commentsection-8591" class = 'collapse'>
			<div id = "comment-13996" class = "comment">
				<p>Thanks for the quick reply. It is really helpful. But actually the sensor is placed on the bot like this: http://i.imgur.com/8qT8zeQ.jpg      Your method requires me to move the sensor to a different position. Is there any way possible to measure height without moving the sensor ?</p>
			</div>
			<div id = "comment-13997" class = "comment">
				<p>The robot image is helpful.  Are you allowed to add other items to the robot, such as a rotatable mirror between the sensor and the block?</p>
			</div>
			<div id = "comment-14008" class = "comment">
				<p>The way your sensor is oriented, it _cannot_ measure the height. It is currently measuring distance _away_ from the robot along the horizon, so the closest you can get is to essentially infer whether or not the box is taller or shorter than the height at which you placed the sensor. Just imagine doing this with a ruler instead of some sensor -- would you try measuring the height by extending the ruler out horizontally? No! You need to measure vertically as Chuck says, so move the sensor to point down otherwise use a mirror as suggested by SteveO.</p>
			</div>
			</div>
				<textarea id = "speech-8591" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8591">
					<img id="start_img-8591" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8591">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>