<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make a robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10072" class = "post">
			<h2>Question</h2>
			<div id="vote-10072" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make a robot?</h2>
<p>For instance, how would you hook up a electric pump communicate with a motherboard? Let's say I buy a electric pump, I hook it up to some sort of metal structure that if the pump is turned on it moves the metal structure, <strong>how would I hook up the pump to my motherboard so that I can program it?</strong> </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10072" data-toggle = "popover">
				<p>user name : user3882522</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10072">{'control': -1, 'None': 0, 'motor': -1, 'machine-learning': -1, 'microcontroller': -1, 'robotic-arm': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10072">Load Comments</button></br>
			<div id = "commentsection-10072" class = 'collapse'>
			<div id = "comment-17908" class = "comment">
				<p>You have not provided enough information to answer. What do you need? It could be as simple as a relay that turns the pump on and off, or as sophisticated as a servo controller regulating the flow of the fluid.</p>
			</div>
			<div id = "comment-17909" class = "comment">
				<p>@Mark Basically I want to make a electronic arm. I don't know what they use specifically but I see like tubes(pumps) that control the robots movement and I want to know how do they hook it up to the "motherboard". Essentially I want to know how they are able to make the "pumps" communicate with the "motherboard" electronically. Lets say I buy those "pumps" and a "motherboard", how would I be able to hook them up together electronically so that they can communicate?</p>
			</div>
			<div id = "comment-17922" class = "comment">
				<p>There are many tutorial projects that will teach you about how to make simple robots. The Arduino motherboards are good to start with. You should search "arduino robot tutorial" to find projects. A couple random ones you can look at are: http://lifehacker.com/build-a-kickass-robot-arm-the-perfect-arduino-project-1700643747 and http://www.instructables.com/id/Low-Cost-Arduino-Compatible-Drawing-Robot/</p>
			</div>
			<div id = "comment-17927" class = "comment">
				<p>Welcome to *Robotics* user3882522, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem, so questions that ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic.</p>
			</div>
			<div id = "comment-17928" class = "comment">
				<p>Generally, by "motherboard" you *mean* to refer to a "microcontroller". A microcontroller will generally have a variety of connections; some are General-Purpose Input or Output (GPIO) - they are full "ON" or full "OFF"; some are analog input or output (AIO) - they can read or supply variable voltages; some are specifically for bus communications; and some are for miscellaneous things (clock signals, power, etc.). Once you [pick a microcontroller](http://www.instructables.com/id/How-to-choose-a-MicroController/), you connect an AIO or GPIO pin to the motor with wire and solder.</p>
			</div>
			</div>
				<textarea id = "speech-10072" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10072">
					<img id="start_img-10072" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10072">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10073"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10073" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ok, It sounds like you either saw an arm with hydraulic actuators or a Hollywood special-effects movie (they really like hoses in their robots).</p>

<p>Assuming you saw real hydraulic actuators, then I need to start by saying that is only cost effective if you need a lot of force. The majority of robots use electric actuators, specifically servo motors.</p>

<p>Hydraulic actuators work by controlling valves, not the pump. There is typically just a single pump that maintains a very high fluid pressure in a reservoir, called the "accumulator". The accumulator is like a battery of hydraulic energy for the actuators, and the pump just keeps the accumulator "charged".</p>

<p>The control of the actuators is done by "proportional valves". The servo controller regulates the amount of fluid passing to the actuators by controlling these valves, based on feedback from position-sensors in the actuators. A central computer is often tasked with commanding the servo controllers, but that's often not necessary. Sometimes the servo controllers are commanded by some form of hand control.</p>

<p>So you might already see why most robots use electric motors instead of hydraulics. Hydraulics add more layers of complexity to the robot. Electric motors are more direct if you don't need the power that hydraulics provide.</p>

<p>By the way, it's possible that you've mistaken cables for hoses. Often, the motors are placed away from the joints and "tendons" are strung through the arm to connect the joint to the motor. Occasionally, these tendons might be hydraulic hoses.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10073" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 321</p>
				<p class = "tagcontent" id = "usertaginfo-10073">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10073">Load Comments</button></br>
			<div id = "commentsection-10073" class = 'collapse'>
			<div id = "comment-17910" class = "comment">
				<p>You have any type of guide or tutorial that explains how to build a robot? Pretty much I want to get a electronic motor and hook it up to some sort of "motherboard" to control it.</p>
			</div>
			<div id = "comment-17919" class = "comment">
				<p>Well, I can't really recommend anything, as I have never read anything on the subject.</p>
			</div>
			</div>
				<textarea id = "speech-10073" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10073">
					<img id="start_img-10073" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10073">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>