<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to find the body jacobain, for each link in a robot manipulator?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6694" class = "post">
			<h2>Question</h2>
			<div id="vote-6694" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 413</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to find the body jacobain, for each link in a robot manipulator?</h2>
<p>The links twist could be obtained, and thus The spatial manipulator Jacobian could be done, but when it comes to the body Jacobian, it is becomes difficult. Moreover, the adjoint transformation relates both Jacobain, but however that is 4*4 while the Jacobian is 6*n; how does it works? as in the picture, he is getting a body jacobian for each link, not one jacobian matrix for the whole robot, I don't know.
Any help is highly regarded.
<a href="https://i.stack.imgur.com/yURZJ.png" rel="nofollow noreferrer">Like this example</a> or here for
<a href="http://www.cds.caltech.edu/~murray/books/MLS/pdf/mls94-complete.pdf" rel="nofollow noreferrer">full details</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6694" data-toggle = "popover">
				<p>user name : AlFagera</p>
				<p> user reputation : 99</p>
				<p class = "tagcontent" id = "usertaginfo-6694">{'control': 5, 'product-of-exponentials': 3, 'None': 4, 'manipulator': 0, 'inverse-kinematics': 0, 'torque': 1, 'pid': 2, 'simulation': 1, 'servomotor': 1, 'industrial-robot': 6, 'dh-parameters': 2, 'matlab': 2, 'robotic-arm': 10, 'jacobian': 0, 'kinematics': 2, 'dynamics': 5, 'forward-kinematics': 1, 'robotc': 1, 'input': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6694">Load Comments</button></br>
			<div id = "commentsection-6694" class = 'collapse'>
			<div id = "comment-10179" class = "comment">
				<p>I highly recommend that you take a look at page 55 of http://www.cds.caltech.edu/~murray/books/MLS/pdf/mls94-complete.pdf</p>
			</div>
			<div id = "comment-10186" class = "comment">
				<p>Thank you very much, it is really a very good comment. You see, I have this book of Dr. Murray, and I used to study form it everyday for a long period of time, but I didn't pay attention at all to this page (55). Which remind me the old proverb that, "vision is by heart rather than eye"!. Could you believe if I told you that, I spent a couple of weeks, wondering how to figure out this. And finally I found [this book](http://link.springer.com/book/10.1007%2F978-1-4471-5463-1). you maylook at page (152) equation 4.81. This how I figured out this issue. Many thanks.</p>
			</div>
			</div>
				<textarea id = "speech-6694" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6694">
					<img id="start_img-6694" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6694">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6828"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6828" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Finally, I got it 'praise to Allah'.
Actually, I made a mistake on how to find the adjoint (Ad)of the matrix $ j$ .
I simply used the adjoint function in matlab, but that wasn't the right approach; the (Ad), has specific formula given by:
$ Adj = \begin{bmatrix} R(j)^T &amp; -R(j)^Tp(j) \\ zeros(3) &amp; R(j)^T] \end{bmatrix} $;
Where $ R(j)  $ and $p(j)$ are the rotational part and the position vector of the $ 4 \times 4$ matrix $j$.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6828" data-toggle = "popover">
				<p>user name : AlFagera</p>
				<p> user reputation : 99</p>
				<p class = "tagcontent" id = "usertaginfo-6828">{'control': 5, 'product-of-exponentials': 3, 'None': 4, 'manipulator': 0, 'inverse-kinematics': 0, 'torque': 1, 'pid': 2, 'simulation': 1, 'servomotor': 1, 'industrial-robot': 6, 'dh-parameters': 2, 'matlab': 2, 'robotic-arm': 10, 'jacobian': 0, 'kinematics': 2, 'dynamics': 5, 'forward-kinematics': 1, 'robotc': 1, 'input': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6828" class = 'collapse'>
			</div>
				<textarea id = "speech-6828" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6828">
					<img id="start_img-6828" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6828">Comment</button>
			<br><div id = "ans-8922"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Worked example</strong></p>

<p><a href="https://i.stack.imgur.com/P8wcJ.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/P8wcJ.png" alt="enter image description here"></a></p>

<p>$\hspace{2.5em}$ $\vec{q}$ = $[q_{1}\hspace{1em}q_{2}]^{T}$ $\hspace{1.5em}$ [Generalized coordinate]</p>

<p>$\hspace{2.5em}$ $\vec{J}$ =  $\frac{\partial \vec{r}_{OA}(\vec{q})}{\partial\vec{q}}$ = $\begin{bmatrix} \frac{\partial \vec{r}_{1}}{\partial\vec{q}_{1}} &amp; ... &amp; \frac{\partial \vec{r}_{1}}{\partial\vec{q}_{n}} \\ ... &amp;  &amp; ... &amp; \\ \frac{\partial \vec{r}_{m}}{\partial\vec{q}_{1}} &amp; ... &amp; \frac{\partial \vec{r}_{m}}{\partial\vec{q}_{n}} \end{bmatrix}$</p>

<p>The kinematic equation:</p>

<p>$\hspace{5.em}$ $_{o}\vec{r}_{OA}$ = $_{o}\vec{r}_{O1}$ + $_{o}\vec{r}_{12}$ + $_{o}\vec{r}_{2A}$</p>

<p>We have two rotations over joint 1 and 2. Substituting in the equation above:</p>

<p>$\hspace{5.em}$ $_{o}\vec{r}_{OA}$ = $_{0}\vec{r}_{O1}$ + $R{(q_{1})_{01}}$ $ _{1}\vec{r}_{12}$ + $R{(q_{1}+q_{2})_{12}}$ $ _{2}\vec{r}_{2A}$</p>

<p>Where $R(\bullet)$ is the <a href="https://en.wikipedia.org/wiki/Rotation_matrix" rel="nofollow noreferrer">rotation matrix</a>.</p>

<p>$\hspace{5.em}$ $_{0}\vec{r}_{O1}$ = $\begin{bmatrix} l_{0} \\ 0 \\ 0 \end{bmatrix}$  </p>

<p>$\hspace{5.em}$ $R{(q_{1})_{01}}$ $ _{1}\vec{r}_{12}$ = $\begin{bmatrix} cos(q_{1}) &amp; -sin(q_{1}) &amp; 0 \\ sin(q_{1}) &amp; cos(q_{1}) &amp;  0 \\ 0 &amp; 0 &amp; 1\end{bmatrix}$  $\begin{bmatrix} l_{1} \\ 0 \\ 0 \end{bmatrix}$ </p>

<p>$\hspace{5.em}$ $R{(q_{1}+q_{2})_{12}}$ $ _{2}\vec{r}_{2A}$ = $\begin{bmatrix} cos(q_{1}+q_{2}) &amp; -sin(q_{1}+q_{2}) &amp; 0 \\ sin(q_{1}+q_{2}) &amp; cos(q_{1}+q_{1}) &amp;  0 \\ 0 &amp; 0 &amp; 1\end{bmatrix}$  $\begin{bmatrix} l_{2} \\ 0 \\ 0 \end{bmatrix}$</p>

<p>$\hspace{5.em}$ $ _{0}\vec{r}_{OA}$ = $\begin{bmatrix} l_{0} + l_{1}cos(q_{1}) + l_{2}cos(q_{1}+q_{2}) \\ 0 + l_{1}sin(q_{1}) + l_{2}sin(q_{1}+q_{2}) \\ 0 \end{bmatrix}$</p>

<p>The Jacobian:</p>

<p>$\hspace{2.5em}$ $\vec{J}$ =  $\frac{\partial \vec{r}_{OA}(\vec{q})}{\partial\vec{q}}$ = $\begin{bmatrix} -l_{1}sin(q_{1}) -l_{2}sin(q_{1}+q_{2}) &amp; -l_{2}sin(q_{1}+q_{2}) \\ l_{1}cos(q_{1})+l_{2}cos(q_{1}+q_{2}) &amp; l_{2}cos(q_{1}+q_{2}) \\ 0 &amp; 0\end{bmatrix}$</p>

<p>$\hspace{5.em}$ $ _{0}\dot{\vec{r}}_{OA}$ = $\vec{J}\dot{\vec{q}}$</p>

<p>For the goal, you have to use $\vec{q} = [0\hspace{0.5em}0]^{T}$. Usually the Jacobian is not invertible, so you need to use the pseudo-inverse.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8922" data-toggle = "popover">
				<p>user name : leCrazyEngineer</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-8922">{'None': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8922" class = 'collapse'>
			</div>
				<textarea id = "speech-8922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8922">
					<img id="start_img-8922" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8922">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>