<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to determine the angles between a UAV and a sphere
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9697" class = "post">
			<h2>Question</h2>
			<div id="vote-9697" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to determine the angles between a UAV and a sphere</h2>
<p>I have an UAV modeled in three dimensions with let's say position coordinates $p_{uav} = (x_1,y_1,z_1)$ that is moving in a direction $d = (d_x,d_y,d_z)$ and a moving obstacle modeled as a sphere with known centre coordinates $p_{sph}=(x_2,y_2,z_2)$ and radius $ r_{sph}$. </p>

<p>If I have a plane $p$  in the direction of movement of the UAV that intersects the sphere, I want to be able to calculate the angles with respect to the vehicle's movement formed by the tangents to the sphere in the plane $ p$. In the figure, I would like to know how to calculate the angles $ _1$ and $ _2$.</p>

<p><a href="https://i.stack.imgur.com/5vsYb.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/5vsYb.jpg" alt="Problem in three dimensions"></a></p>

<p>If it helps, what I am looking is an extension in three dimensions for this:</p>

<p><a href="https://i.stack.imgur.com/cGR1n.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/cGR1n.jpg" alt="easier problem in 2d"></a></p>

<p>Which is a vehicle in two dimensions ;it is obviously an easier problem which requires only the centre of the circle. However I am not really sure how to make it work in 3D, as supposedly the plane can intersect the sphere at any two points, not necessarily the centre. </p>

<p>Thanks in advance for your help.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9697" data-toggle = "popover">
				<p>user name : Wobbler28</p>
				<p> user reputation : 30</p>
				<p class = "tagcontent" id = "usertaginfo-9697">{'None': 0, 'localization': 1, 'geometry': 5, 'kinematics': 5, 'matlab': 4, 'mobile-robot': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9697">Load Comments</button></br>
			<div id = "commentsection-9697" class = 'collapse'>
			<div id = "comment-17236" class = "comment">
				<p>Do you know the relative height between the UAV and the sphere center?</p>
			</div>
			<div id = "comment-17246" class = "comment">
				<p>You already seem to have an answer to [this same question, here](http://robotics.stackexchange.com/questions/9386/angle-to-a-circle-tangent-line). What exactly was lacking from the answers in the other question?</p>
			</div>
			</div>
				<textarea id = "speech-9697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9697">
					<img id="start_img-9697" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9697">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>