<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can one create a robot which respondes to input following a flowchart?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4516" class = "post">
			<h2>Question</h2>
			<div id="vote-4516" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can one create a robot which respondes to input following a flowchart?</h2>
<p>What are the most basic skills and components needed for creating a robot which gets two "yes" or "no" inputs with two push buttons, and goes down the defined flowchart and plays the relevant audio file each time it gets an input.</p>

<p>a flowchart like this:</p>

<pre><code>____question 1_____________
|                         |
Yes                       No
|                         |
question 2___             question 3______
|           |             |              |
Yes         No            Yes            No
|           |             |              |
question 4  question 5    question 6     question 7
...
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-4516" data-toggle = "popover">
				<p>user name : Drust</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-4516">{'None': 0, 'microcontroller': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4516">Load Comments</button></br>
			<div id = "commentsection-4516" class = 'collapse'>
			<div id = "comment-7123" class = "comment">
				<p>Hi Drust, Welcome to the robotics Stack Exchange. This is quite a broad question, and so is a little difficult to answer. Also, it's hard to see how it relates to robots; it seems more like an electronics question. Perhaps you can add some more detail and clarification about what you're trying to achieve.</p>
			</div>
			<div id = "comment-7124" class = "comment">
				<p>@Rocketmagnet you're right, now that I think of it, it's seems it's more of an electronic question and yes I think I should be more specific in the quesiton, thanks.</p>
			</div>
			</div>
				<textarea id = "speech-4516" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4516">
					<img id="start_img-4516" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4516">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4518"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4518" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It would really be more of a programming problem than an actual robotics one. Either way, you would be programming this logic into it anyways. Basically, it would be a series of if/then statements that would get you to where you need to go.</p>

<p>Example:</p>

<pre><code>//ask question here and get input (button press)
if( the button pressed was yes){

    //ask the next question, and get more input, repeat this process
}else{
    //do the other button's side of the flowchart
}
</code></pre>

<p>Using this method, you would be able to setup your flowchart's logic flow perfectly.</p>

<p>Alternately, you could also use a switch/case, to get the same effect.</p>

<p>If you have no idea what I'm talking about, then be more specific as to how you are controlling this thing</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4518" data-toggle = "popover">
				<p>user name : Snappawapa</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-4518">{'quadcopter': 3, 'control': 1, 'None': 1, 'multi-rotor': 2, 'brushless-motor': 2, 'esc': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4518">Load Comments</button></br>
			<div id = "commentsection-4518" class = 'collapse'>
			<div id = "comment-7125" class = "comment">
				<p>thanks, so I need two buttons, a loudspeaker, and a microcontroller and some programming for the microcontroller and it's done?</p>
			</div>
			<div id = "comment-7126" class = "comment">
				<p>Yes, the micro controller is what controls everything, and that micro controller is programmable in some way. You would do all of your logic programming with the controller. If you do not know what microcontroller to use, I would recommend an Arduinio Uno. They are easy to use and program, and have alot of support/documentation/wide user base</p>
			</div>
			</div>
				<textarea id = "speech-4518" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4518">
					<img id="start_img-4518" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4518">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>