<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can this mobile robot rotate so perfectly?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8874" class = "post">
			<h2>Question</h2>
			<div id="vote-8874" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 313</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can this mobile robot rotate so perfectly?</h2>
<p>Please have a look at <a href="https://www.youtube.com/watch?v=qU4YMDJNzpg" rel="nofollow">this youtube video</a>.</p>

<p>When this mobile robot operates, the rack (which is said to weight up to 450 kg) can have its Center Of Mass (COM) distributed at any location. For example, this COM can be located 5 or 10 cm off from the center of the robot. Because of this, when the robot revolves, the center of rotation will not be at the center of the robot anymore. However as you see in the video, it can still rotate many circles perfectly around its up-right axis.</p>

<p>So what do you think about this? Is this possible by mechanical design only? Or did they use some kind of advanced feedback control system to counter the effect of the off-center COM?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8874" data-toggle = "popover">
				<p>user name : user3286500</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8874">{'control': 4, 'mobile-robot': 4, 'None': 0, 'mechanism': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8874">Load Comments</button></br>
			<div id = "commentsection-8874" class = 'collapse'>
			<div id = "comment-14616" class = "comment">
				<p>I'm voting to close this question because it's not clear what you're asking. Why would the center of mass move the axis of rotation? The parallel axis theorem clearly states you *can* rotate about an axis that is not the center of mass. Your car doesn't "care" where the center of mass is when it turns, neither does a shopping cart, bicycle, etc. The robots in the video are wheeled vehicles that have traction. I'm not sure what distinguishes these from any other wheeled vehicle or what they're doing that's special.</p>
			</div>
			<div id = "comment-14619" class = "comment">
				<p>The special thing about this robot is that it can rotates very fast and precisely many revolutions about its main up-right axis, no matter how weight (from 0 to 450 kg) you put on it, and no matter how this weight is distributed. I think this is not easily achieved without some kind of feedback control, and hauptmech in his below post seems to agree with me on this.</p>
			</div>
			<div id = "comment-14621" class = "comment">
				<p>hauptmech's answer states, "The location of the COM of the robot part of the system is unimportant as long as friction maintains the kinematics," which is what I'm saying - as long as the tires have traction, there is nothing special going on. Your car can turn in the same turning radius regardless of how much you load it. As long as the wheels have traction, there is no reason that the robot would not rotate about the center of its wheelbase.</p>
			</div>
			<div id = "comment-15002" class = "comment">
				<p>See here for a teardown of a Kiva robot for more info on its lift and drive hardware: http://robohub.org/meet-the-drone-that-already-delivers-your-packages-kiva-robot-teardown/</p>
			</div>
			</div>
				<textarea id = "speech-8874" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8874">
					<img id="start_img-8874" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8874">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8875"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8875" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The youtube video <a href="https://www.youtube.com/watch?v=8gy5tYVR-28" rel="nofollow">High-Speed Robots Part 1: Meet BettyBot in "Human Exclusion Zone" Warehouses</a> seems to me to better show and explain how the Kiva robots work when moving racks around the warehouse.</p>

<p>Although the video isn't clear enough to say for sure, the bot appears to remain centered beneath the rack, without using an x-y positioning mechanism to compensate for an off-center center of mass axis.  It would be possible to use such a mechanism since the robot doesn't need to rotate 360  after it hooks up; it could get by with turning  180 .</p>

<p>It looks like the bot's initial spin underneath a rack raises a round connector up from the bot to an attach point on the bottom of the rack.  After that, the bot and the rack are mechanically coupled.  That will make it less significant if the the rack's COM axis is a few cm off-center relative to the attach point.  </p>

<p>If COM axis being off-center <em>were</em> still a problem, and no x-y positioning mechanism is used, they could have mechanisms to move weights around or pump water from vertical tubes on one side of a rack to the other side, etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8875" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8875">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8875">Load Comments</button></br>
			<div id = "commentsection-8875" class = 'collapse'>
			<div id = "comment-14607" class = "comment">
				<p>Thanks for your insight. However, please take a look at the video in my post again, from second 36 to second 39. The robot still rotates several circles **after** touching the rack.</p>
			</div>
			<div id = "comment-14615" class = "comment">
				<p>@user3286500 The robots seem to use a mechanical jack to lift a rack. Probably to save on adding an extra motor they use the wheels to rotate the robot underneath the rack, extending the jack and lifting the rack. Notice that the rack does not rotate.</p>
			</div>
			<div id = "comment-14622" class = "comment">
				<p>the rack does rotate!  however, the robot's counter-rotation negates the rack's own rotation. you'll be able to see this more clearly when the robot makes 90 turns. the rack moves up and down ever so slightly because the robot is not using a jack. it's using a ball screw.</p>
			</div>
			</div>
				<textarea id = "speech-8875" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8875">
					<img id="start_img-8875" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8875">Comment</button>
			<br><div id = "ans-8876"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8876" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If I understand correctly, you are referring to when the robot spins and the rack remains stationary (dynamic motions involving the rack mass seem to be slow as you would expect with such a high COM).</p>

<p>In this case only the kinematics are important. It's important that the rotational axis of the wheels and the rotational axis of the rack-support are colocated. The location of the COM of the robot part of the system is unimportant as long as friction maintains the kinematics. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8876" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8876">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8876">Load Comments</button></br>
			<div id = "commentsection-8876" class = 'collapse'>
			<div id = "comment-14608" class = "comment">
				<p>Thanks for your insight.  as long as friction maintains the kinematics.  I agree with you on this point. However, what if the rack is too heavy, let s say 400 kg, and its COM is off 10 - 15 cm from the center of the robot, which makes the equivalent COM of the whole system is off too, let s assume it is now near the right wheel. In this case, the static friction under the right wheel will be larger than that under the left wheel...</p>
			</div>
			<div id = "comment-14609" class = "comment">
				<p>...It means if the robot rotates too fast, the left wheel could slip, whereas the right wheel still remains in a rolling-without-slipping state, am I right? in this case, the robot will no longer rotate around its up-right center axis, it will now rotate around a new, still up-right, but arbitary axis. I wonder how the engineers handled this situation?</p>
			</div>
			<div id = "comment-14610" class = "comment">
				<p>If one wheel slips (oil on the floor) with no feedback control, then yes, you have an unexpected force. But I would expect there to be feedback, in which case a slipping wheel would be detected as an error and torque to both wheels would be reduced until there was no slipping.</p>
			</div>
			</div>
				<textarea id = "speech-8876" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8876">
					<img id="start_img-8876" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8876">Comment</button>
			<br><div id = "ans-8878"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8878" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>IEEE has a writeup with the <a href="http://spectrum.ieee.org/robotics/robotics-software/three-engineers-hundreds-of-robots-one-warehouse" rel="nofollow">general answer</a> about 4/5's down the article.</p>

<p>Your concern about friction and slippage coming from COG offsets (Center of Gravity; COM) is a very good notion.  A simple &amp; potentially incorrect solution is to make the robot's wheelbase as wide as possible and to make the ball screw lift slowly.  A very rigorous approach would be to account for torque and inertia, building a physical model and using Euler's equation (general rigid body dynamics equation).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8878" data-toggle = "popover">
				<p>user name : Ryan Loggerythm</p>
				<p> user reputation : 265</p>
				<p class = "tagcontent" id = "usertaginfo-8878">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8878" class = 'collapse'>
			</div>
				<textarea id = "speech-8878" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8878">
					<img id="start_img-8878" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8878">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>