<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to interpret the result of image rectification?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8910" class = "post">
			<h2>Question</h2>
			<div id="vote-8910" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 97</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to interpret the result of image rectification?</h2>
<p>I've been trying to understand image rectification. Most of the time the result of image rectification is illustrated by the original image (i.e the image before rectification) and the rectified image, like this:</p>

<p>The original image:</p>

<p><a href="https://i.stack.imgur.com/t7R79.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/t7R79.png" alt="enter image description here"></a></p>

<p>The rectified image:</p>

<p><a href="https://i.stack.imgur.com/Qd0gC.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Qd0gC.png" alt="enter image description here"></a></p>

<p>To me the original image makes more sense, and is more 'rectified' than the second one. I mean, why does the result of rectification looks like that? and how are we supposed to interpret it? what information does it contain? 
An idea has just dawned on me : could it be that this bizarre shape of the rectified image is dependent on the method used for rectification, because  here polar rectification was used (around the epipole)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8910" data-toggle = "popover">
				<p>user name : user2651062</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-8910">{'stereo-vision': 5, 'mobile-robot': 5, 'None': 0, 'computer-vision': 7, '3d-reconstruction': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8910">Load Comments</button></br>
			<div id = "commentsection-8910" class = 'collapse'>
			<div id = "comment-14685" class = "comment">
				<p>This looks just plain wrong. Did you calibrate your camera intrinsics properly? Are you using OpenCV to calibrate and rectify, or have you rolled your own implementation? If you can, please post your camera intrinsics plus the mean error you got from your calibration.</p>
			</div>
			<div id = "comment-14693" class = "comment">
				<p>@Gouda Actually I'm not the one who got this result. I took these 2 images from the article "a simple and efficient rectification method for general motion" by Pollefeys, Koch and Van Gool.</p>
			</div>
			<div id = "comment-14698" class = "comment">
				<p>Because there was only one image, I assumed this question was about monocular vision image rectification (rectifying based of camera intrinsic parameters only). The rectification in that paper is about stereo vision, which also includes the extrinsics of each camera. I'll tack on some info to the existing answer for you.</p>
			</div>
			<div id = "comment-14699" class = "comment">
				<p>I mistook "undistortion" for "rectification", which was my misunderstanding, sorry!</p>
			</div>
			</div>
				<textarea id = "speech-8910" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8910">
					<img id="start_img-8910" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8910">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8913"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8913" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In Stereo Vision, image rectification is used to "warp" (remap the pixels using the translation, rotation, fundamental matrices computed from camera calibration) the image to remove distortions introduced in camera lenses and horizontally align pixels in the left and the right images to satisfy the epipolar constraint so that when stereo matching is performed, only a horizontal search in one row of the image is needed when finding the respective matches speeding up the process.</p>

<p>Your result is probably due to the camera calibration errors (Errors in obtaining the required mapping matrices (Intrinsic and Extrinsic Camera Parameters) ). Try to get the reprojection error as low as possible. In my case it took me a whole day or two to get the rectification right.</p>

<p>Try reading this: <a href="http://docs.opencv.org/2.4/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html" rel="nofollow">http://docs.opencv.org/2.4/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8913" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-8913">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8913">Load Comments</button></br>
			<div id = "commentsection-8913" class = 'collapse'>
			<div id = "comment-14700" class = "comment">
				<p>The resulting image pairs have the property as stated: they are 'aligned' on the Y axis. The rectified images are what the images would look like if they were distortion free and shared the same image plane. It's how the pixels you have in your images would look if the relative pose between them was only allowed to have translation in the X axis (and no rotation).</p>
			</div>
			<div id = "comment-14715" class = "comment">
				<p>@Gouda, thanks mate.</p>
			</div>
			</div>
				<textarea id = "speech-8913" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8913">
					<img id="start_img-8913" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8913">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>