<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to turn a rover 90 degrees using wheel encoders?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2769" class = "post">
			<h2>Question</h2>
			<div id="vote-2769" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 953</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to turn a rover 90 degrees using wheel encoders?</h2>
<p>I have a four wheel DC rover with two optical wheel encoders.  I'm executing rover turns by controlling the direction of wheel motion on either side of the rover.  To turn left, all wheels on the left rotate backwards while all right wheels rotate forward.  This allows to rover to remain relatively in the same position while turning.  The directions are reversed to do a right turn.  </p>

<p>How can I use these two sensors to execute as close to a 90 degree turn as possible without fusing additional sensor data?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2769" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-2769">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2769" class = 'collapse'>
			</div>
				<textarea id = "speech-2769" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2769">
					<img id="start_img-2769" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2769">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2776"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2776" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You want the wheel odometry to add up to 1/4 of the circumference of the circle whose radius is the distance between the wheels (call it $R$). </p>

<p>In other words, if you only drove one wheel and the wheels were $R$ units apart, then you'd leave a circular tire track whose circumference would be $2\pi R$.  If the left wheel moved $\frac{2\pi R}{4} = \frac{\pi R}{2}$ then effectively you've drawn a quarter circle and are now facing 90 degrees ($\pi/2$ radians) to your right.</p>

<p>This also works if you rotate both wheels in opposite directions.  Instead of rotating one wheel $\frac{\pi R}{2}$, rotate each wheel $\frac{\pi R}{4}$ in opposite directions.  This will trace a circle of diameter $R$ (half the size of before), whose circumference is $\pi R$.  Both wheels are tracing $\frac{\pi R}{4}$ or one quarter of the same circle.</p>

<p>My back-of-the-envelope says that this will work for any combination of left and right wheel distances.  So, if your left and right wheel odometry values are $D_l$ and $D_r$, you've made a 90 degree turn to the right when $D_l - D_r = \frac{\pi R}{2}$</p>

<p>You should be able to calculate $D_l$ and $D_r$ from your wheel encoders since you know the wheel radius.  At that point, the value of $\pi$ should be factored out of the equation.</p>

<p>This won't be accurate over time, but it's about the best you can do without factoring in any other sensor data.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2776" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2776">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2776">Load Comments</button></br>
			<div id = "commentsection-2776" class = 'collapse'>
			<div id = "comment-5166" class = "comment">
				<p>Which distance is R in your answer?  distance between the two front wheels or the distance between the two left-side wheels?</p>
			</div>
			<div id = "comment-5168" class = "comment">
				<p>$R$ is the distance between the 2 drive wheels, which I'm assuming are also the 2 wheels that have the encoders.</p>
			</div>
			</div>
				<textarea id = "speech-2776" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2776">
					<img id="start_img-2776" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2776">Comment</button>
			<br><div id = "ans-2780"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2780" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>All theory aside, circumferences and actual distances travelled will vary with your wheel geometry since your wheels aren't perfectly tangential to their direction of travel while turning.  While Ian gives some good math I think I would run tests and assign a <em>pseudo-circumference</em>. </p>

<p>I think I would just measure what the odometers read for a full 360 turn-about and then divide that up as necessary.</p>

<p>Also, I'd bet that different floors would give different performance from your off-tangent wheels and your pseudo circumference is probably dependent on that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2780" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-2780">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2780">Load Comments</button></br>
			<div id = "commentsection-2780" class = 'collapse'>
			<div id = "comment-5169" class = "comment">
				<p>+1, measuring instead of relying on pure calculation is an excellent practice.</p>
			</div>
			<div id = "comment-5201" class = "comment">
				<p>So all said a gyro or compass is probably the best way to go for this? I am trying to think of a ghetto way to measure turning with more accuracy/precision than driver wheel/motor odometry - could something be rigged with a floating/idling bearing and measure it moving (Ie a old style trackball or mouse)? Probably more complicated/expensive than the compass sensor though.</p>
			</div>
			</div>
				<textarea id = "speech-2780" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2780">
					<img id="start_img-2780" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2780">Comment</button>
			<br><div id = "ans-2785"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2785" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you wanted accurate turns, you should throw a gyrometer onto the rover. They're relatively inexpensive and easy to use. Here's one as an example: <a href="https://www.sparkfun.com/products/11977" rel="nofollow">https://www.sparkfun.com/products/11977</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2785" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-2785">{'None': 54}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2785" class = 'collapse'>
			</div>
				<textarea id = "speech-2785" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2785">
					<img id="start_img-2785" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2785">Comment</button>
			<br><div id = "ans-2786"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2786" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No need for factors of pi. (I think in Ian's answer, the circumference would be pi*R since he defines R as the separation between the wheels which I read as the width of the robot?) You just need the width of the robot and the diameter of the wheels. The amount the robot turns is:</p>

<p>Ang = enc_value/enc_range * D/W * 360</p>

<p>Where Ang is the angle, env_value is your encoder reading, enc_range is the encoder reading for one full revolution, D is the diameter of a wheel and W is the width of the robot.</p>

<p>For 90 degrees you get:</p>

<p>enc_value= enc_range/4 * (W/D)</p>

<p>Calibration as another poster said, is recommended. This kind of dead reckoning without any reference points will accumulate errors pretty fast. After a few turns you'll have order unity errors.</p>

<p>Note that if you only drive the wheels on one side to turn, how the wheels drag on the other side is very dependent on the surface. For example on a softer surface, the wheel that has to push across the surface will dig in more than the one that is dragged and you'll rotate about the wheel not moving.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2786" data-toggle = "popover">
				<p>user name : user21387</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-2786">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2786" class = 'collapse'>
			</div>
				<textarea id = "speech-2786" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2786">
					<img id="start_img-2786" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2786">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>