<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to reduce the DC motor starting current?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11679" class = "post">
			<h2>Question</h2>
			<div id="vote-11679" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 212</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to reduce the DC motor starting current?</h2>
<p>I am making a bot with 4 <a href="https://robu.in/product/planetary-dc-geared-motor-468-rpm-72-6n-cm-24v-encoder/" rel="nofollow noreferrer">motors</a> with a stall current rating of 11.7A. I was using 4 separate <a href="http://robokits.co.in/motor-drives/dual-dc-motor-driver-20a" rel="nofollow noreferrer">motor controllers</a> which has a peak current rating of 20A to control each motor. But when I gave power to the motors in my bot, the motor drivers blew off within a second. </p>

<p>Was it due to the starting peak current of the motors? If yes, then how can I reduce the starting current? If no, then what could be other possible problems and their corresponding problems?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11679" data-toggle = "popover">
				<p>user name : Alucard</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11679">{'None': 0, 'driver': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11679" class = 'collapse'>
			</div>
				<textarea id = "speech-11679" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11679">
					<img id="start_img-11679" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11679">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11682"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11682" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Could be the starting current, try adding an inductance in series with the motor that will limit the rate of the current change. Once the motor starts spinning the current will stabilize. This will however make your motor more inert (respond slower to the change of the supplied voltage).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11682" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-11682">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11682" class = 'collapse'>
			</div>
				<textarea id = "speech-11682" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11682">
					<img id="start_img-11682" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11682">Comment</button>
			<br><div id = "ans-11711"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11711" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>DC motor draw more current initially because when motor is in normal speed it creates back emf which reduces drawing current .So initially when DC motor is powered there is no back emf so current drawn is more.
Solution a capacitor in parallel to DC motor which will provide more current from its reservoir when motor is initially powered....</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11711" data-toggle = "popover">
				<p>user name : Adithya Pai</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-11711">{'None': 0, 'wheeled-robot': 2, 'arduino': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11711" class = 'collapse'>
			</div>
				<textarea id = "speech-11711" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11711">
					<img id="start_img-11711" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11711">Comment</button>
			<br><div id = "ans-11713"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11713" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Motors when starting can draw ca. 10x their nominal current. You mentioned that you have a driver attached to the motor. Do you use PWM to control the motor? A soft start when the motor is accelerated in a controlled manner to the required velocity helps limiting this initial large current. </p>

<p>When starting the motor, instead of just setting the required pin to 1, use the PWM function and increase the duty cycle of the PWM slowly (from 0 to 100% min ca. 1-2 seconds). That should reduced the current and make the motor accelerate smoothly to its maximum velocity. You can find a tutorial <a href="http://www.circuitstoday.com/pwm-generation-and-control-using-arduino" rel="nofollow noreferrer">here</a>, <a href="https://www.arduino.cc/en/Tutorial/SecretsOfArduinoPWM" rel="nofollow noreferrer">here</a> and <a href="https://circuitdigest.com/microcontroller-projects/dc-motor-control-with-arduino-uno-pwm" rel="nofollow noreferrer">here</a>.</p>

<p>As the other answers suggested, adding a capacitor can help, but this is a hardware solution, and I would suggest a software approach. The driver you are using seems to already have capacitors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11713" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11713">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11713" class = 'collapse'>
			</div>
				<textarea id = "speech-11713" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11713">
					<img id="start_img-11713" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11713">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>