<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can we solve the problem of robot size in sensor based motion planning?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10796" class = "post">
			<h2>Question</h2>
			<div id="vote-10796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 115</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can we solve the problem of robot size in sensor based motion planning?</h2>
<p>As you know in Bug algorithm there is a simplifying assumption that says the robot has no size and can fit between any arbitrarily small gap in the map. How can we overcome the challenge of robot size. As we don't have any per-calculated map (in sensor based navigation), can we still tackle the problem in configuration space?
For example, let's assume that the type of the sensor is Hokuyo URG-04LX Laser Rangefinder. Hence we can visualize the sensor measurements by the visualization matrix $V$:
\begin{equation}
V_i  =\begin{pmatrix}cos(\theta_i )* d_i, \quad sin(\theta_i )* d_i\end{pmatrix}\\
\end{equation}
Where $D= [d_1,d_2,\dotsc, d_n]$ is the set of distances, and $\theta_i$ can be calculated as:
\begin{equation}
\theta_i = \theta_{i-1} + {0.36}^\circ,\qquad \theta_1 = 0
\end{equation}
All the information we have about the robot's surrounding at each moment is $V$. I strongly believe that there is no well-formed formula which can define the robot size in this configuration, and also as we don't have any map, but a simple visualization, growing the obstacles by the radius of the robot size in the configuration space just doesn't make sense.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10796" data-toggle = "popover">
				<p>user name : farhad</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10796">{'control': 0, 'None': 0, 'wheeled-robot': 0, 'industrial-robot': 0, 'kinematics': 0, 'path-planning': 2, 'mobile-robot': 2, 'motion-planning': 2, 'navigation': 2, 'robotc': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10796">Load Comments</button></br>
			<div id = "commentsection-10796" class = 'collapse'>
			<div id = "comment-19422" class = "comment">
				<p>I think I have an answer, but it would be helpful if you referenced the Bug algorithm and provided an image summarizing the relevance of your question.</p>
			</div>
			<div id = "comment-19435" class = "comment">
				<p>@farhad, you will need to add more detail to your question. Specifically, give information about the shape/type of robot and the sensors available.</p>
			</div>
			<div id = "comment-19438" class = "comment">
				<p>"*I strongly believe that there is no well-formed formula which can define the robot size in this configuration*" how so? To calculate the minkowski sum for the configuration space you just need the normals of each line that connects two consecutive points of yours.</p>
			</div>
			<div id = "comment-19439" class = "comment">
				<p>Yes, connecting consecutive points of set $D$ gives us a representation of the robot's surrounding. But this representation differs from the map. Think about the gap between two consecutive points. How would you know that whether the gap is part of an obstacle or is a free space that the robot can fit between. The problem is that we don't know anything about the gap between two consecutive laser beams.</p>
			</div>
			<div id = "comment-19448" class = "comment">
				<p>@farhad yes, but you know how the surrounding points behave. If you have several points that jump to a higher distance value, you can assume that there's a gap. The effective resolution of the sensor will increase when you get closer to objects, which makes it easier to estimate which parts are connected and which are not. Do you have any sensor data? Please include it in your post!</p>
			</div>
			</div>
				<textarea id = "speech-10796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10796">
					<img id="start_img-10796" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10796">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10804"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10804" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are able to sense obstacles with a sensor pattern that is circular (eg laser scanner, contact sensors on a circular body, etc), and you can rotate the robot pose without translation, then you can satisfy the assumptions of the Bug algorithm. </p>

<p>If you use a point model for your robot in the map, then you grow the obstacles by the radius of your robot.</p>

<p>If your sensors are not circular, then you will need to create an algorithm for local movement that moves the sensors in a manner that will detect the obstacles without putting the robot in a trapped position. This will probably prevent your robot sensing narrow but valid paths through the obstacles. </p>

<p>EDIT: You have a circular sensor. If you have differential drive, then you can pick the smallest sensor radius that your robot fits inside and use that. If you have ackerman steering then there is a radius within which you can rotate in place with forward-backward motions. You can use that radius.</p>

<p>All of this is focused on the Bug algorithm. You should use a different, or layered algorithm if you cannot meet the basic assumptions of the bug algorithm.</p>

<p>Also, you can sense the contents of the gap between consecutive points of set $D$ by rotating the robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10804" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10804">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10804" class = 'collapse'>
			</div>
				<textarea id = "speech-10804" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10804">
					<img id="start_img-10804" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10804">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>