<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can we manage stepper motor cables?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1919" class = "post">
			<h2>Question</h2>
			<div id="vote-1919" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2522</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can we manage stepper motor cables?</h2>
<p>I need to actuate 3 or 4 Cnc-like Nema 23 (~1N.m torque) stepper motors, I would like some cable solution to connect easily the motor to the motor driver. </p>

<p>I have not yet bought anything, I have searched various robotic stores and ebay, but did not yet found a triple (motor, cables, driver) which would be "plug and play". </p>

<p>As stepper motors usually have 4 to 6 cables, and there are multiple motors, manual soldering everything would be too time consuming, error prone and messy.</p>

<p>Is there a standard way to deal with cables for stepper motors ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1919" data-toggle = "popover">
				<p>user name : darkblue</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-1919">{'None': 0, 'wiring': 3, 'stepper-motor': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1919" class = 'collapse'>
			</div>
				<textarea id = "speech-1919" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1919">
					<img id="start_img-1919" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1919">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1920"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1920" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Stepper motors usually have 4 to 6 <em>wires</em>, often bundled up into one <em>cable</em>.</p>

<p>There might be some pro industrial solution out there that's 100% plug and play, but I would consider myself lucky if I found connectorized motors and drivers for which I could make up cables.</p>

<p>Making up cables is not rocket science.  Find the matching connectors for the motors and drivers (this is much less trivial than you would either think or like), make up your cables (by soldering, most likely -- someone has to do it), and have fun.</p>

<p>Be sure to make the cables long enough.  I'm always too stingy the first time around and have everything stretched way too much.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1920" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1920">{'None': 107}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1920" class = 'collapse'>
			</div>
				<textarea id = "speech-1920" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1920">
					<img id="start_img-1920" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1920">Comment</button>
			<br><div id = "ans-1922"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Don't worry about the cables; plan to make them yourself.  I recommend using one of the wide variety of crimp-on connectors available to you, depending on what you can find for your ESC and steppers connections.</p>

<p>Here are a handful of connectors representing part of what we stock in our lab:
<img src="https://i.stack.imgur.com/EvFlc.jpg" alt="Molex minifit and microfit"></p>

<p>The white connector is the Molex Minifit, the black one to its right is the Molex Microfit, and the 1/8" miniplug is for scale.  Using these connectors can involve either soldering them to a board, or using a crimp tool and crimp-on terminations which are then snapped into the plug body.</p>

<p>This allows the cables to be run much more precisely than they would be if you just made solder connections in the middle of the cable length.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1922" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1922">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1922">Load Comments</button></br>
			<div id = "commentsection-1922" class = 'collapse'>
			<div id = "comment-3940" class = "comment">
				<p>It seems Molex connectors put me on the right track, I have seen some stepper motors directly equipped with Molex connectors, and I have seen motor stepper driver from the reprap guys equipped with Molex pin connectors. I will search for a compatible cable to confirm that the solution will work then accept your answer.</p>
			</div>
			</div>
				<textarea id = "speech-1922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1922">
					<img id="start_img-1922" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1922">Comment</button>
			<br><div id = "ans-2041"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2041" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The vast majority of the time, I end up cutting off whatever connector is at the end of the cable hanging out of the stepper motor, and crimping on something else compatible with the board I want to connect it to.</p>

<p>Occasionally the board I want to connect it to has some sort of cage clamp terminal strips (also known as spring clamp terminal strips) or some other terminal block, so I can cram in the raw bare wires without any connector on the end.</p>

<p>As <a href="https://robotics.stackexchange.com/questions/100/what-connectors-are-most-reliable/252#252">I mentioned earlier</a>, many RepRaps use 8P8C "RJ45" "Ethernet" connectors to carry power over CAT5 cable, usually in a way completely incompatible with any power-over-Ethernet standard or any Ethernet data standard.
<a href="http://reprap.org/wiki/RepRap_project_FAQ#wires_and_connectors" rel="nofollow noreferrer">"Why do many RepRaps have RJ45 connectors?"</a>; <a href="http://reprap.org/wiki/CupCakeWiring#Plug_in_Extruders_.2F_Toolheads" rel="nofollow noreferrer">a</a>; <a href="http://reprap.org/wiki/Extruder_Controller_2.2#RS485_Comms_.2B_Power" rel="nofollow noreferrer">b</a>; <a href="http://reprap.org/wiki/Motherboard_1.2#RS485_Comms_.2B_Power" rel="nofollow noreferrer">c</a>; <a href="http://reprap.org/wiki/Monotronics" rel="nofollow noreferrer">d</a>; etc.</p>

<p>( Quite a few people, for reasons inexplicable to me, insist on removing those 8P8C sockets and using their own favorite connector -- <a href="http://reprap.org/wiki/PCB_adaptions_for_Mendel" rel="nofollow noreferrer">http://reprap.org/wiki/PCB_adaptions_for_Mendel</a> ).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2041" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-2041">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2041" class = 'collapse'>
			</div>
				<textarea id = "speech-2041" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2041">
					<img id="start_img-2041" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2041">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>