<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I create a robot like the EZ-B using a regular Arduino?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1279" class = "post">
			<h2>Question</h2>
			<div id="vote-1279" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1653</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I create a robot like the EZ-B using a regular Arduino?</h2>
<p>I am interested in building a robot like the <strong><a href="http://www.ez-robot.com/Shop/AccessoriesDetails.aspx?prevCat=100&amp;productNumber=40" rel="nofollow">EZ-B</a></strong>, sold by <a href="http://ez-robot.com" rel="nofollow">ez-robot.com</a>. It comes with an SDK for <a href="http://en.wikipedia.org/wiki/Microsoft_Visual_Studio" rel="nofollow">Visual Studio</a> and has direct scripting in runtime through a USB, Bluetooth, Wi-Fi, <a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat" rel="nofollow">IRC</a> or <a href="http://en.wikipedia.org/wiki/HTTP_Secure" rel="nofollow">HTTPS</a> connection.</p>

<p>If I get a regular <a href="http://en.wikipedia.org/wiki/Arduino" rel="nofollow">Arduino</a> board, will I be able to control it remotely in the same way? From what I've read, an Arduino needs to hold the instructions in its own memory, but I would rather have the brain in the computer, feeding signals back and forth to the microcontroller.</p>

<p>Also, is Arduino alone, a step down as the website niceley puts it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1279" data-toggle = "popover">
				<p>user name : Ess Kay</p>
				<p> user reputation : 163</p>
				<p class = "tagcontent" id = "usertaginfo-1279">{'None': 0, 'artificial-intelligence': 4, 'arduino': 12, 'microcontroller': 12, 'wheeled-robot': 8, 'research': 4, 'machine-learning': 4, 'servos': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1279" class = 'collapse'>
			</div>
				<textarea id = "speech-1279" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1279">
					<img id="start_img-1279" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1279">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1282"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1282" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately, I have no experience with <strong>ez-b</strong>, but I have looked over the site a little bit. I do, however, have lots of Arduino experience. The program is, indeed, stored on the board's local memory. However, it is very possible to write a program that can interact with your computer. With my Arduino, I often write programs that communicate with my computer over USB. To communicate over Wifi will require additional hardware. There is a Wifi "shield" that can be attached to your Arduino, but this runs at around $60.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1282" data-toggle = "popover">
				<p>user name : J3RN</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1282">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1282">Load Comments</button></br>
			<div id = "commentsection-1282" class = 'collapse'>
			<div id = "comment-2857" class = "comment">
				<p>I ultimately want o have a laptop as a brain, sending commands to multiple controllers (hands, feet, other components...) if the feet have 20 servos, I will need to send them commands through 1 or two microcontrollers. So ultimately, do you suggest that audrino can handle fast computations with the usb port connection or do you have a better solution?</p>
			</div>
			<div id = "comment-2858" class = "comment">
				<p>according to the ez-robot site, what i like, you can send commands in realtime which get processed immediately (ie- for remote controll like apps controlled though irc, twitter, wifi, bluetooth or the embedded http server) I'm wondering what this would cost to create using radioshack parts, how efficient it would be, and ultimateley, if its practical to do, and how hard to code these connections to usb or whatnot</p>
			</div>
			<div id = "comment-2859" class = "comment">
				<p>In my experience, I have never been upset with the lack of processing power on my Arduino. However, whether it will be a problem really depends on how much you want the Arduino to compute. With the laptop as the brain, I figure most of the computation would happen there, and the Arduino would only carry out physical functionality, like moving servos. It is perfectly capable of doing this quickly. Communicating over USB could, theoretically, be simple, but that belongs in another question.</p>
			</div>
			<div id = "comment-2862" class = "comment">
				<p>have you ever processed Kinect data through it?</p>
			</div>
			<div id = "comment-2867" class = "comment">
				<p>Sadly, I don't have a kinect, so I can't say I've tried. However, I found this one the Arduino Blog: [link](http://blog.arduino.cc/category/controllers/kinect/)</p>
			</div>
			</div>
				<textarea id = "speech-1282" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1282">
					<img id="start_img-1282" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1282">Comment</button>
			<br><div id = "ans-1285"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1285" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We've written robotic software in C# for a school 
project, called <em><a href="http://sourceforge.net/projects/netbotproject/" rel="nofollow">NetBotProject</a></em>.</p>

<p>It works in the way you described. Instead of using an Arduino we used a self-soldered <a href="http://www.atmel.com/devices/atmega8.aspx" rel="nofollow">ATmega8</a> board with our own firmware. The communication is based on <a href="http://en.wikipedia.org/wiki/RS-232" rel="nofollow">RS-232</a> and on top of that our own protocol. The protocol (and the firmware) has commands for setting/getting <a href="http://en.wikipedia.org/wiki/Input/output" rel="nofollow">I/O</a> ports, powering servos, timer functions, etc.</p>

<p>To make a Wi-Fi connection, we used a cheap Fonera router, <a href="http://de.wikipedia.org/wiki/La_Fonera#Fonera_.28FON2100_und_FON_2200.29" rel="nofollow">La Fonera 2100</a>. It has RS-232 pins built in (connected to Atmega) and is running a socket server/client with <a href="http://en.wikipedia.org/wiki/Netcat" rel="nofollow">Netcat</a>. Our C# software also has a socket connection running, so we can send/receive the commands/signals to/from the ATmega over Wi-Fi.</p>

<p>With a few modifications the firmware should be able to run on an Arduino board. The protocol and firmware has not yet commands for the <a href="http://en.wikipedia.org/wiki/I%C2%B2C" rel="nofollow">I C</a> bus. So you have to implement that by your own if you want to control more than one microcontroller with the software.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1285" data-toggle = "popover">
				<p>user name : redreggae</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1285">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1285">Load Comments</button></br>
			<div id = "commentsection-1285" class = 'collapse'>
			<div id = "comment-2863" class = "comment">
				<p>Im tryign to stay away from RS232 , they only transfer one bit at a time. I'm hoping for a usb 3.0 where max is 300 mb/sc</p>
			</div>
			</div>
				<textarea id = "speech-1285" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1285">
					<img id="start_img-1285" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1285">Comment</button>
			<br><div id = "ans-1289"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1289" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's great that you are taking an initiative in building/replicating one like EZ-Robot. I would like to add a few things which helps in building a robot:</p>

<p>1) Simplicity.</p>

<p>2) Cost Factor.</p>

<p>By simplicity I mean choosing the right hardware that actually helps your prototype to be built faster and the testing/debugging is easier. For instance, if you choose <a href="http://en.wikipedia.org/wiki/Raspberry_Pi" rel="nofollow">Raspberry Pi</a> with a Wi-Fi module (I saw one at Adafruit stores for around US$12), the whole setup may be build under US$50. Adding computer vision (I think this will boost up the investment price) since it already runs Linux on it, helps in achieving the ease in usability and development. Now you have a system that can be controlled by many components. Using a <a href="http://en.wikipedia.org/wiki/Bluetooth" rel="nofollow">Bluetooth</a> module with Raspberry Pi is much cheaper than you may think. Chinese modules are cheap, like US$5-US$10. Hereby you will have an independent robot.</p>

<p>But as you say, you wish to remotely control, the Arduino keeping your PC (since you mentioned Visual Studio), this can be done easily by adding a Wi-Fi module, but <a href="http://en.wikipedia.org/wiki/XBee" rel="nofollow">Xbee</a> costs are really high, and then use the <a href="http://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol" rel="nofollow">HTTP</a> protocol to control the robot. The Arduino will be fed with some input, like say numbers ranging from 1-100 that may accumulate 100 tasks. Like move left, right, up down, turn on the light, etc. </p>

<p>So essentially make sure, which development board may help you serve the purpose easily.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1289" data-toggle = "popover">
				<p>user name : Okay Lolz</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-1289">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1289" class = 'collapse'>
			</div>
				<textarea id = "speech-1289" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1289">
					<img id="start_img-1289" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1289">Comment</button>
			<br><div id = "ans-1298"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1298" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Certainly you can.  You need a firmware for the Arduino that accepts remote control commands over the COM channel.  Take a look at <a href="https://github.com/JayBeavers/Reflecta" rel="nofollow">Reflecta</a> or <a href="https://github.com/firmata/arduino" rel="nofollow">Firmata</a>.</p>

<p>I made something like this called <a href="http://blog.jaybeavers.org/2012/08/rocketbot-at-maker-faire-2012.html" rel="nofollow">RocketBot</a> for Bay Area Maker Faire 2012.  This was a PC remote controlling two Arduinos which ran the motors, a pneumatic rocket launcher, plus a siren and a warning light.  I'll be posting a simpler version of this design that uses more off the shelf parts in a few weeks to the same blog.  This one will have a bluetooth connection to the Arduino in addition to USB.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1298" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-1298">{'None': 68}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1298" class = 'collapse'>
			</div>
				<textarea id = "speech-1298" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1298">
					<img id="start_img-1298" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1298">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>