<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I automatically adjust PID parameters on the fly?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-210" class = "post">
			<h2>Question</h2>
			<div id="vote-210" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3044</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I automatically adjust PID parameters on the fly?</h2>
<p>I have a simple servo system that uses a PID controller implemented in an MCU to perform the feedback. However, the properties of the system change dynamically, and so the PID parameters can never be tuned for all circumstances.</p>

<p>My robot is a light weight arm with back-drivable electric motors, similar to this one:</p>

<p><img src="https://i.stack.imgur.com/sp7VH.jpg" alt="Lightweight robot arm"></p>

<p>The arm performs several tasks, including picking up heavy weights, pushing and pulling objects across the desk. Each of these tasks requires different PID tuning parameters which I cannot easily predict.</p>

<p>What I would really like is for some higher level function which can carefully adjust the parameters in response to the arm's behaviour. For example, if it notices that the arm is oscillating, it might reduce P and increase D. Or if it noticed that the arm wasn't reaching its target, it might increase I.</p>

<p>Do such algorithms exist? I would be happy even if the algorithm didn't perfect the parameters immediately. E.G. the arm could oscillate a few times before the parameters were adjusted to their new values. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-210" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-210">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-210" class = 'collapse'>
			</div>
				<textarea id = "speech-210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-210">
					<img id="start_img-210" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-210">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-212"  class = "post">
				<h2>Answer</h2>
			<div id="vote-212" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The process you are describing is known as adaptive PID.</p>

<p>It seems kind of overkill though.  I have found PID to be quite robust when dealing with external disturbances and the tasks you describe do not seem beyond the capabilities of a single set of gains.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-212" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-212">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-212">Load Comments</button></br>
			<div id = "commentsection-212" class = 'collapse'>
			<div id = "comment-227" class = "comment">
				<p>These are more than just external disturbances. These are changes in the characteristics of the joint. Doubling the mass of the robot for example leads to overshoot.</p>
			</div>
			</div>
				<textarea id = "speech-212" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-212">
					<img id="start_img-212" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-212">Comment</button>
			<br><div id = "ans-221"  class = "post">
				<h2>Answer</h2>
			<div id="vote-221" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A good approach for such a problem is called adaptive control. In short it is a control methodology that presumes the model is known but the parameters of the model (mass, inertia, etc.) are not. It's job is to estimate the unknown parameters. A brief introduction can be found on <a href="http://en.wikipedia.org/wiki/Adaptive_control" rel="nofollow">wikipedia</a>. The text Robotics: Modelling, Planning and Control by Siciliano et al. cover the topic more thoroughly.</p>

<p>Edit in response to @Rocketmagnets query:</p>

<p>In short you must have a mathematical model of your system, i.e. the equations that describe how your system evolves over time when forced or otherwise, but you do not need to know dynamical parameters such as the mass of the various components, their inertia, etc.. It is the job of the adaptive controller to estimate these parameters. You do have to give it an initial guess for each of the unknown parameters however. Then as the system runs it uses the control signals, the output signals, and a method like linear regression or gradient descent to update the unknown parameter values. Over time the parameters will converge to values that will result in a steady-state though they may not match the real parameters, i.e. it may get the mass wrong, but the value will still work.</p>

<p>From here I would advise referring to a text that discusses the method. I just noticed for example that Dr. Marc Bodson is offering a copy of his text Adaptive Control: Stability, Robustness, and Convergence in PDF form on his <a href="http://www.ece.utah.edu/~bodson/acscr/" rel="nofollow">website</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-221" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-221">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-221">Load Comments</button></br>
			<div id = "commentsection-221" class = 'collapse'>
			<div id = "comment-234" class = "comment">
				<p>Can you give an explanation of the method?</p>
			</div>
			<div id = "comment-243" class = "comment">
				<p>I doubt I could do it justice given that I have only recently learned of the method. Furhtermore it's not a single method but a collection of techniques that have been developed over the last 50 years or so. However I'll edit my response to elaborate a little more.</p>
			</div>
			</div>
				<textarea id = "speech-221" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-221">
					<img id="start_img-221" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-221">Comment</button>
			<br><div id = "ans-225"  class = "post">
				<h2>Answer</h2>
			<div id="vote-225" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A co-worker and I once implemented a <a href="https://en.wikipedia.org/wiki/Simplex_algorithm" rel="nofollow noreferrer">simplex algorithm</a> for on-the-fly tuning of the PID parameters of a current control loop for a motor. Essentially the algorithm would modify one parameter at a time and then collect data on some feedback parameter that was our measure of goodness. Ours was percent deviation from a current target setpoint. Based on whether the feedback parameter got better or worse, the next parameter was modified accordingly.</p>

<p>Or, in Wikipedia speak:</p>

<blockquote>
  <p>Let a linear program be given by a canonical tableau. The simplex
  algorithm proceeds by performing successive pivot operations which
  each give an improved basic feasible solution; the choice of pivot
  element at each step is largely determined by the requirement that
  this pivot does improve the solution.</p>
</blockquote>

<p>Technically we used the <a href="https://en.wikipedia.org/wiki/Nelder%E2%80%93Mead_method" rel="nofollow noreferrer">Nelder-Mead method</a> which is a type of simplex. It could also be described as a <a href="https://en.wikipedia.org/wiki/Hill_climbing" rel="nofollow noreferrer">hill climbing algorithm</a> as well if you watch how it modifies it's input parameters as it searches for an optimum output parameter.</p>

<p><img src="https://i.stack.imgur.com/FdWKc.gif" alt="Nelder-Mead animation"></p>

<p>Nedler-Mead worked best in our case because it can chase a setpoint. This was important because our current target setpoint changed as torque demand increased.</p>

<blockquote>
  <p>the Nelder Mead technique is a heuristic search method that can
  converge to non-stationary points</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-225" data-toggle = "popover">
				<p>user name : embedded.kyle</p>
				<p> user reputation : 1469</p>
				<p class = "tagcontent" id = "usertaginfo-225">{'None': 124}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-225">Load Comments</button></br>
			<div id = "commentsection-225" class = 'collapse'>
			<div id = "comment-10944" class = "comment">
				<p>could you link your approach and results if they are available?</p>
			</div>
			<div id = "comment-10994" class = "comment">
				<p>@SPRajagopal Sorry but no. I no longer work for that company and do not have access to any of the data.</p>
			</div>
			</div>
				<textarea id = "speech-225" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-225">
					<img id="start_img-225" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-225">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>