<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to send commands to create 2 over Bluetooth
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6929" class = "post">
			<h2>Question</h2>
			<div id="vote-6929" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 288</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to send commands to create 2 over Bluetooth</h2>
<p>I'm very new to create 2. I want to send commands using Bluetooth. I have already bought the bluetooth USB radio. What other devices do I need to get or how can I set up sending commands over bluetooth. Any help is appreciated. 
Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6929" data-toggle = "popover">
				<p>user name : beth</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6929">{'None': 0, 'irobot-create': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6929">Load Comments</button></br>
			<div id = "commentsection-6929" class = 'collapse'>
			<div id = "comment-9907" class = "comment">
				<p>Which Bluetooth dongle for the Roomba do you have?</p>
			</div>
			<div id = "comment-9952" class = "comment">
				<p>I don't have any yet. Is RooTooth the only one available in the market?</p>
			</div>
			<div id = "comment-10394" class = "comment">
				<p>How do you pair the rootooth? It came with no instructions and it doesn't even seem like its on?</p>
			</div>
			</div>
				<textarea id = "speech-6929" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6929">
					<img id="start_img-6929" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6929">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6939"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6939" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Once you pair your computer's Bluetooth with the dongle on the robot, it should create a virtual serial port.  Then you can talk to the Roomba over this port.  Try out the <a href="http://www.irobot.com/~/media/MainSite/PDFs/About/STEM/Create/Create_2_Tethered_Driving_2.pdf" rel="nofollow">tethered driving tutorial</a>, except your tether is wireless.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6939" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-6939">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6939" class = 'collapse'>
			</div>
				<textarea id = "speech-6939" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6939">
					<img id="start_img-6939" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6939">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>