<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to compensate the brushless DC motor for voltage drop?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9798" class = "post">
			<h2>Question</h2>
			<div id="vote-9798" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 182</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to compensate the brushless DC motor for voltage drop?</h2>
<p>I am working on a quadcopter project based on Arduino board, my system is powered by a 4S LiPo battery (14.8V) but the motors behave differently as the battery voltage drops, when discharging. </p>

<p>Is there any way that I can make the motors behave the same until a minimum value of, say, 5 volts?</p>

<p>My current system works fine at the range from 14.8 to 10 volts, but below that I can't even hover.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9798" data-toggle = "popover">
				<p>user name : Wayel Kamal</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9798">{'quadcopter': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9798" class = 'collapse'>
			</div>
				<textarea id = "speech-9798" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9798">
					<img id="start_img-9798" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9798">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9799"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9799" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>STOP USING YOUR BATTERY IMMEDIATELY!</p>

<p>First of all you shouldn't let the voltage of a lipo battery drop below 3V per cell which in your case comes to 12V. Lipo Batteries are extremely dangerous and the way in which you are over-discharging it is one of the ways you definitely should NOT handle a lipo battery.</p>

<p>Please read the instructions given here completely before you start using your battery again - </p>

<p><a href="http://www.dronethusiast.com/ultimate-drone-battery-care/" rel="nofollow noreferrer">http://www.dronethusiast.com/ultimate-drone-battery-care/</a></p>

<p>I don't want to scare you, but you should understand the various high-risk situations involved in using a lipo battery as part of a quadcopter.</p>

<p>Second, check for individual cell voltage of your lipo battery to make sure none of them are over-discharged.</p>

<p><a href="https://i.stack.imgur.com/w5Vt2.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/w5Vt2.jpg" alt="This is the internal wiring of the lipo battery"></a></p>

<p>Now, if their voltage is below 3V, be very careful as you might find links online to articles that claim they can help you 'restore' the lipo battery. 
An average lipo can take upto 500 recharge cycles and if you've been consistently over-discharging them their capacity will decrease; ie, recharge faster but drain faster. </p>

<p>If this is your first lipo battery, I suggest you get another one and handle it with care from start, or if your current battery is not damaged and all the cells attain nominal voltage, you can continue using it, </p>

<p>But <strong>first get a voltage indicator</strong> that visually displays the voltage reading on an 7-segment led display.</p>

<p>Take care... No seriously...Take care of the battery.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9799" data-toggle = "popover">
				<p>user name : Hazkaz</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-9799">{'quadcopter': 0, 'None': 5, 'microcontroller': 1, 'pid': 0, 'electronics': 1, 'gyroscope': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9799">Load Comments</button></br>
			<div id = "commentsection-9799" class = 'collapse'>
			<div id = "comment-17438" class = "comment">
				<p>As an aside, you can add a portion of code in the arduino that compensates for voltage drop WITHIN the prescribed voltage range ie. 12V to 14.8V using a voltage divider circuit fed to an analog pin on the arduino; and increase the throttle accordingly (with a factor of course).</p>
			</div>
			<div id = "comment-17439" class = "comment">
				<p>Good answer. Here is a recent [question](http://electronics.stackexchange.com/questions/230155/why-is-there-so-much-fear-surrounding-lipo-batteries) about LiPo batteries from Electrical Engineering Stackexchange. Might be useful. Also four fully charged LiPo cell in series will give 4 x 4.2 = 16.8 V.</p>
			</div>
			</div>
				<textarea id = "speech-9799" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9799">
					<img id="start_img-9799" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9799">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>