<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can a load be balanced between multiple AC electric drive motors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1276" class = "post">
			<h2>Question</h2>
			<div id="vote-1276" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 211</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can a load be balanced between multiple AC electric drive motors?</h2>
<p>I have a three wheeled vehicle in a tricycle configuration attached to a fixed frame. Each wheel is powered by an AC electric motor. The AC motors are fed by motor controllers that take a speed demand. The single main wheel (which is also steerable) has a lower gear ratio than the rear wheels so it has a theoretical higher top speed. </p>

<p>When the vehicle drives in a straight line each of the motor controllers are given identical speed requests. Unfortunately feedback from the controller indicates that some motors are pushing while some are pulling. In particular we have a common scenario where one rear wheel is pushing while the front wheel is trying to slow down. The third wheel will often have almost no current. </p>

<p>What can be done to make all three motors work together and avoid situations where they fight?  Is there a way to change the request to the motor controller to encourage the drives to work together? Do we have to switch from a speed request setup to a current control setup? If so what is the appropriate way to control the motors then? </p>

<p>Let me know if I haven't included any important details and I will update my question.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1276" data-toggle = "popover">
				<p>user name : ApockofFork</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-1276">{'control': 1, 'None': 15, 'motor': 1, 'kalman-filter': 6, 'localization': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1276">Load Comments</button></br>
			<div id = "commentsection-1276" class = 'collapse'>
			<div id = "comment-2848" class = "comment">
				<p>Is there a single controller with a single setpoint that drives the three motors, or three  setpoints and three feedbacks?  If the latter, change individual setpoints whenever feedbacks are too different.</p>
			</div>
			</div>
				<textarea id = "speech-1276" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1276">
					<img id="start_img-1276" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1276">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1278"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1278" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're facing a problem that's normally solved mechanically, with 2 or 4 wheels, by a <a href="http://en.wikipedia.org/wiki/Differential_%28mechanical_device%29" rel="nofollow">differential gearbox</a>.  Technically, you'd be able to adapt a 4WD differential to a 3WD case, but you'd have to use a single motor for that.</p>

<p>The concept you're looking for is an <a href="http://en.wikipedia.org/wiki/Electronic_differential" rel="nofollow">electronic differential</a>, although I'm not sure where to find resources on building and calibrating your own.  It might be as simple as switching your motor controllers to just set identical torque, based on a desired average speed between the 3 of them.</p>

<p>The bottom line, though, is that you can't expect to set 3 motors to the same speed and have them follow 3 paths of different lengths while maintaining the same distance from each other.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1278" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1278">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1278">Load Comments</button></br>
			<div id = "commentsection-1278" class = 'collapse'>
			<div id = "comment-2847" class = "comment">
				<p>Hi Ian. Thanks for the response. The expectation isn't for them to necessarily work perfectly together. Some loss is definitely expected and I would also expect there to be cases where one motor is doing more work than the others. What I would like to figure out how to avoid is the motors actively fighting each other. I'll look into the concept of an electronic differential though!</p>
			</div>
			</div>
				<textarea id = "speech-1278" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1278">
					<img id="start_img-1278" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1278">Comment</button>
			<br><div id = "ans-8151"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8151" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need to command your motors by torque, and not speed</p>

<p>then with n motors, you get n vectors, so you now get 1 vector you regulate according the speed, and you compute the torque for each three motors.</p>

<p>To control an AC motor by current you need an inverter capable of Field Oriented Control, and for the vectoring an Arduino could be fine</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8151" data-toggle = "popover">
				<p>user name : Avlin</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-8151">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8151" class = 'collapse'>
			</div>
				<textarea id = "speech-8151" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8151">
					<img id="start_img-8151" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8151">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>