<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to get two continuous tracks (tank treads) to move at the same rate?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-603" class = "post">
			<h2>Question</h2>
			<div id="vote-603" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 772</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to get two continuous tracks (tank treads) to move at the same rate?</h2>
<p>I've got a couple <a href="http://www.vexrobotics.com/276-2181.html">Vex 269 Motors</a> hooked up to an <a href="http://www.arduino.cc/en/Main/ArduinoBoardDuemilanove">Arduino Duemilanove</a>. These motors run a some <a href="http://www.vexrobotics.com/276-2168.html">Vex Tank Treads</a>. The two motors are run as servos on the Arduino using the Servo Library. The problem I'm having is that the two tracks don't turn at the same speed when sent the same servo angle. This is clearly due to the fact that the continuous tracks have so many moving parts that having identical friction forces on each track is hard to get.</p>

<p>How do I get them to move the same speed? Should they be moving the same speed given the same servo angle regardless of the friction and the Vex 269 Motors just aren't strong enough (meaning I should use the Vex 369 or some other more powerful motor)? Is it best to just doing trial and error long enough to figure out which servo angle results in equal speeds on each? Should I tinker with the tracks until they have nearly identical frictions? Thank you much!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-603" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-603">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-603" class = 'collapse'>
			</div>
				<textarea id = "speech-603" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-603">
					<img id="start_img-603" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-603">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-604"  class = "post">
				<h2>Answer</h2>
			<div id="vote-604" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is that you need better control (feedback) to do it. Practically, you will never be able to calibrate the system accurately enough to go straight for more than a few tens of robot-body lengths. Once you dial it perfectly for one set of conditions, the environment or wear conditions will change and you'll have to tune it up again.</p>

<p>Surface conditions, traction, attitude, motor-isolation (the distribution of electrical power to each motor from a common power source), and many other real-time operational factors effect forward velocity for each side of the 'bot.</p>

<p>Depending on your precision requirements, something as simple as a magnetic compass (position as far forward on the robot as possible to maximize its responsiveness) could help you maintain a heading during forward motion. </p>

<p>Often it isn't critically important precisely which direction your 'bot is moving; rather, it simply needs to be making progress on some task (follow the leader, search for a target, etc). </p>

<p>If you post greater detail on your robot and its design objectives, I could assist you further.</p>

<h3>A note about magnetic sensor placement</h3>

<p>But, why should I "position [the magnetic transducer] as far forward as possble"? Isn't it true that the angle is the same? Yup. That's true, but the magnitude of the Earth's magnetic field is not. <em>You are standing in a different spot on Earth</em>. </p>

<p>Imagine your robot is as big as a car. If you sit in the geometric center of the car and the car pivots about you, your coordinates on the Earth have not changed; only your attitude has. Now if you are sitting on the hood of the car and the car repeats it's previous motion, <em>both</em> your attitude and your coordinates have changed. Changing coordinates produces a bigger difference in magnitude of the Earth's field than rotation alone.</p>

<p>Over the last few years I worked on a team with Dr. Dwight Veihland of Virginia Tech, arguably the world's leading expert on super-high sensitivity magnetic sensors. If I were to crystallize the body of his work (<a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&amp;arnumber=5185369&amp;contentType=Journals+%26+Magazines&amp;sortType%3Ddesc_p_Publication_Year%26queryText%3Ddwight+viehland">like in this example</a>), I would say that he is always in pursuit of greater signal-to-noise ratios in the detection of ever tinier magnitudes. </p>

<p>Any increase in the magnitude difference you can generate makes life easier for your sensor... and in this case, you get it for free. A number of DARPA grand challenge robots placed the GPS sensor forward for this same reason.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-604" data-toggle = "popover">
				<p>user name : DrFriedParts</p>
				<p> user reputation : 583</p>
				<p class = "tagcontent" id = "usertaginfo-604">{'control': 7, 'motion': 7, 'None': 40, 'wiring': 7, 'routing': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-604">Load Comments</button></br>
			<div id = "commentsection-604" class = 'collapse'>
			<div id = "comment-792" class = "comment">
				<p>To expand on DrFriedParts excellent response, look into "PID control" to find out more about a commonly used type of feedback control. Question for DrFriedParts: how does positioning the compass as far forward as possible maximize responsiveness?  The angle will be the same regardless, although I can see getting it away from the metal parts and motors to be helpful.</p>
			</div>
			<div id = "comment-793" class = "comment">
				<p>@ViennaMike -- Thank you! =) I expanded my answer to cover your question in more detail than I could fit in a comment.</p>
			</div>
			</div>
				<textarea id = "speech-604" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-604">
					<img id="start_img-604" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-604">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>