<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to report spam-user
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1329" class = "post">
			<h2>Question</h2>
			<div id="vote-1329" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to report spam-user</h2>
<p>I've noticed a user who has every quality of being a Spam-bot. I know you can flag questions, but can you flag users as well? The user in this case, <a href="https://apple.stackexchange.com/users/23893/edward">edward</a>, keeps spamming and filling up the discussion board...  </p>

<p>How can I get in touch with a moderator (by message or chat,...) to make sure edward won't spam anymore?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1329" data-toggle = "popover">
				<p>user name : Michiel</p>
				<p> user reputation : 8696</p>
				<p class = "tagcontent" id = "usertaginfo-1329">{'status-bydesign': 6, 'None': 2, 'support': 8, 'feature-request': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1329" class = 'collapse'>
			</div>
				<textarea id = "speech-1329" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1329">
					<img id="start_img-1329" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1329">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1330"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1330" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, if you flag several posts by the same user, a moderator will likely notice the pattern and investigate. We often can be quite perceptive when things are amiss. Flags are quite helpful, and that would usually be sufficient (as it was in this case).</p>

<p>If, however, you find that does not work for some reason because there is a larger or more complex question about the site, a new question asked on meta (like this one) shows up in our inboxes to draw our attention to it.</p>

<p>In other words, the two things you did (flag and meta post, in that order) are ways to accomplish what you hoped to accomplish.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1330" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1330">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1330">Load Comments</button></br>
			<div id = "commentsection-1330" class = 'collapse'>
			<div id = "comment-2521" class = "comment">
				<p>Ok, great :-) Thanks for your answer!</p>
			</div>
			</div>
				<textarea id = "speech-1330" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1330">
					<img id="start_img-1330" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1330">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>