<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to choose WiFi signal strength detecting sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2262" class = "post">
			<h2>Question</h2>
			<div id="vote-2262" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1185</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to choose WiFi signal strength detecting sensors</h2>
<p>We want to create robot that will localize itself by the signals of wifi routers.
Which sensors should we buy to detect strength of 3 WiFi signal?
Which of following is necessary for us?
<a href="http://www.dfrobot.com/index.php?route=product/category&amp;path=45_80" rel="nofollow">http://www.dfrobot.com/index.php?route=product/category&amp;path=45_80</a>
or can be any other more suitable variants?
We are using arduino as a platform.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2262" data-toggle = "popover">
				<p>user name : ardakshalkar</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2262">{'wifi': 1, 'None': 0, 'localization': 0, 'sensors': 0, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2262">Load Comments</button></br>
			<div id = "commentsection-2262" class = 'collapse'>
			<div id = "comment-4936" class = "comment">
				<p>Although not directly related to your question, localizing anything with just 3 WiFi routers is a terrible pain. Unless you have some very advanced filtering mechanism up your sleeve, this approach will not work. What can work more easily is to surround your target workspace with multiple routers, probably in a grid, and then log the RSSI signals for all the routers by moving your robot around the area. Train a suitable machine learning algo (ANN might work) in supervised mode to identify the coordinates of your bot, based on the array of RSSI signals. You'll need quite a few routers for this</p>
			</div>
			</div>
				<textarea id = "speech-2262" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2262">
					<img id="start_img-2262" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2262">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2268"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2268" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Any WiFi system should be able to report the signal strength (in dBm), but the question will be how quickly you need it to report values and how accurate a measurement you are looking for.  </p>

<p>The main problem with what you're suggesting is that the relationship between signal strength and distance is not necessarily linear.  Antennas produce an interference pattern which can make the strength change depending on your orientation to them.</p>

<p><a href="http://en.wikipedia.org/wiki/Radiation_pattern" rel="nofollow noreferrer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Sidelobes_en.svg/200px-Sidelobes_en.svg.png" alt="antenna lobes"></a></p>

<p>The second problem is that the signal strength can be affected by the environment: humidity, nearby metal, buildings, and even <a href="http://www.wikihow.com/Boost-Your-Car-Remote-With-Your-Skull" rel="nofollow noreferrer">your body</a> can affect the strength of the signal (if not directly, then through interference).  </p>

<p>The only way to really do it is by <a href="http://arstechnica.com/uncategorized/2008/01/where-gps-wont-do-wifi-triangulation-might/" rel="nofollow noreferrer">heavily characterizing the wifi signals in the area you want to operate in</a> and hoping that it doesn't change too much over time.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2268" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2268">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2268" class = 'collapse'>
			</div>
				<textarea id = "speech-2268" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2268">
					<img id="start_img-2268" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2268">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>