<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to Calculate the Translational and Rotational Velocity of a 4 Wheeled Robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11649" class = "post">
			<h2>Question</h2>
			<div id="vote-11649" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to Calculate the Translational and Rotational Velocity of a 4 Wheeled Robot?</h2>
<p>I have a robot with a 4 wheel drive using mecanum wheels to allow for more mobility. For the engineering documentation I am looking to find both the translational velocity and rotational velocity of the robot. To begin I started with the (incorrect) assumption that the tangential velocity of the wheels was the overall linear velocity, but that yielded unreasonably high values. What is the correct way to mathematically evaluate the translational and rotational velocity of the robot?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11649" data-toggle = "popover">
				<p>user name : Caleb</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-11649">{'None': 0, 'computer-vision': 0, 'motor': 0, 'first-robotics': 0, 'cameras': 0, 'wheeled-robot': 0, 'automation': 2, 'design': 2, 'machine-learning': 1, 'kinematics': 0, 'sensors': 2, 'automatic': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11649" class = 'collapse'>
			</div>
				<textarea id = "speech-11649" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11649">
					<img id="start_img-11649" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11649">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11651"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11651" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem you describe, calculating the cartesian velocity form the wheel velocities is known as the direct kinematic problem of the mobile robots. You can find a detailed explanation on who to do this for 4 wheeled robots with mecanum wheels <a href="http://research.ijcaonline.org/volume113/number3/pxc3901586.pdf" rel="nofollow noreferrer">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11651" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11651">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11651" class = 'collapse'>
			</div>
				<textarea id = "speech-11651" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11651">
					<img id="start_img-11651" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11651">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>