<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to find state-space representation of quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11509" class = "post">
			<h2>Question</h2>
			<div id="vote-11509" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 323</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to find state-space representation of quadcopter?</h2>
<p>I want to design a linear controller for a quadcopter which is 6dof nonlinear.</p>

<p>I have non-linear equations. But in order to design a linear controller, I need to find a linear state-space model of the vehicle.</p>

<p>I skimmed bunch of articles and thesis without any result. Most of them have some approximations for separate parts of the model to linearize.</p>

<p>I need the state-space as a form like below,</p>

<p>$$\dot{x}=Ax(t)+Bu(t)$$</p>

<p>I couldn't find the $A$ and $B$ matrices. I made the small angle and hover condition approximations so that equations become simpler yet they are still non-linear.</p>

<p>Non-simplified equations are as follow,
<a href="https://i.stack.imgur.com/nr0HV.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/nr0HV.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11509" data-toggle = "popover">
				<p>user name : freezer</p>
				<p> user reputation : 35</p>
				<p class = "tagcontent" id = "usertaginfo-11509">{'quadcopter': 5, 'control': 1, 'None': 0, 'rrt': 0, 'pid': 4, 'matlab': 4, 'path-planning': 1, 'mobile-robot': 1, 'motion-planning': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11509">Load Comments</button></br>
			<div id = "commentsection-11509" class = 'collapse'>
			<div id = "comment-20656" class = "comment">
				<p>If you want to determine the A and B matrices, take a look at [1](https://en.wikibooks.org/wiki/Control_Systems/Linear_System_Solutions). If you want to see your 6 dof quadcopter in the air and fly autonomously use a "timed behaviortree".</p>
			</div>
			<div id = "comment-20658" class = "comment">
				<p>For ? The question seems to be incomplete.</p>
			</div>
			<div id = "comment-20659" class = "comment">
				<p>Your system is still nonlinear. You may take a look at [Full linear control of a quadrotor UAV, LQ vs H](http://ieeexplore.ieee.org/document/6915128/)</p>
			</div>
			<div id = "comment-20662" class = "comment">
				<p>@G rkan etin For u silmeyi unutmu um :).[Turkish] I have forgotten to delete the "For".[English]</p>
			</div>
			<div id = "comment-20663" class = "comment">
				<p>@G rkan etin how can I contact with you if possible? I am not sure if we start a chat here.</p>
			</div>
			<div id = "comment-20664" class = "comment">
				<p>@CroCo I will look to the link. Thanks.</p>
			</div>
			<div id = "comment-21007" class = "comment">
				<p>@CroCo your reference was very helpful to get the linear model of the quadrotor with a few exceptions. A matrix indicated in the reference is not correct. The gravity variable should be one column before where it is now. And can't find the way to put the "-g" located in the $$\ddot{Z}=-g+\frac{U_1}{m}$$ equation in matrix A.</p>
			</div>
			</div>
				<textarea id = "speech-11509" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11509">
					<img id="start_img-11509" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11509">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>