<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How does ODE determine contact points in Gazebo?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10150" class = "post">
			<h2>Question</h2>
			<div id="vote-10150" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 127</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How does ODE determine contact points in Gazebo?</h2>
<p>I was looking at the contact points for the Atlas in the DRCsim package. Each foot has 4 contact points at each vertex of the rectangle. I'd like to know how these points are determined. I've tried looking at the ODE code, but C++ isn't my strong suit so I had some difficulty figuring out what was going on. What I understand is that ODE compares the geometries one by one however it's not possible to compare all points so it only compare a select few points. What I'm trying to understand is what basis are those particular points selected? Why does the Atlas have the 4 contacts set up the way they are, and not some additional points on the heel? Can I add them myself?</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10150" data-toggle = "popover">
				<p>user name : Mav14</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-10150">{'None': 0, 'gazebo': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10150" class = 'collapse'>
			</div>
				<textarea id = "speech-10150" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10150">
					<img id="start_img-10150" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10150">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10157"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10157" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Collision detection is a main part of ODE</p>

<blockquote>
  <p>ODE has two main components: a dynamics simulation engine and a collision detection engine.</p>
</blockquote>

<p>For ODE, there is a <a href="http://ode-wiki.org/wiki/index.php?title=Manual:_Collision_Detection" rel="nofollow">wiki page</a> outlining how that part of ODE works. Collision is detected between geometric primitives that have been defined to resemble the shape of the simulated objects. There is a trade-off here between speed and accuracy. More complicated shapes will require more checks and reduce the overall performance of the simulation.</p>

<p>The basic geometry is not so complicated. The difficult part is making the checks fast. Diving into the C++ code might be challenging because of this.</p>

<p>And yes, you should be able to change the collision model. Have a look at the model files. Note that the collision model not necessarily the same as the visualisation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10157" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-10157">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10157" class = 'collapse'>
			</div>
				<textarea id = "speech-10157" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10157">
					<img id="start_img-10157" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10157">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>