<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How high of a gear ratio can a motor have?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5209" class = "post">
			<h2>Question</h2>
			<div id="vote-5209" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 804</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How high of a gear ratio can a motor have?</h2>
<p>I want to make a robot arm where a joint is powerful enough to lift 8 kg up at a distance of 1 meter. </p>

<p>This requires torque $tau = r*F = r*m*g$ = about 80 nm.</p>

<p>So now I am trying to find the requisite parts to put this together, i.e. motor + gears and then controller. </p>

<p>It seems that I will require a very high gear ratio to make this happen. For example this motor: <a href="http://www.robotshop.com/ca/en/banebots-rs-550-motor-12v-19300rpm.html" rel="nofollow">http://www.robotshop.com/ca/en/banebots-rs-550-motor-12v-19300rpm.html</a> has stats:</p>

<p>stall torque = 70.55 oz-in = 0.498 nm
no load roation speed = 19300 rpm</p>

<p>To get my required torque, I need a gear ratio of 80/0.498 = about 161:1 (and the max speed drops to about 120 rpm).</p>

<p>My questions:</p>

<p>1) Do my calculations so far seem correct? It seems a bit suspect to me that an $8 motor with some gears can cause a 17.5lbs dumbbell to rotate about a circle of radius 1m twice a second (I'm barely that strong). This type of torque would be awesome for my application, but perhaps I'm missing something in the calculations and being too optimistic (e.g. efficiency).</p>

<p>2) Is it safe to operate a motor at such a high gear ratio? Gears are small, and I'm worried they'll easily crack/break/wear down quickly over time. Does anyone know of example gears that I should consider for this?</p>

<p>Thank you very much for any help, cheers.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5209" data-toggle = "popover">
				<p>user name : JDS</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-5209">{'servomotor': 0, 'None': 1, 'force': 1, 'motor': 10, 'power': 3, 'servos': 0, 'torque': 5, 'gearing': 5, 'industrial-robot': 4, 'dh-parameters': 6, 'robotic-arm': 17, 'actuator': 4, 'rotation': 2, 'forward-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5209" class = 'collapse'>
			</div>
				<textarea id = "speech-5209" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5209">
					<img id="start_img-5209" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5209">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5213"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5213" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One problem I can see is, that you are using stall torque (at 0 rpm) and no load rotation speed (at 0 Nm). If you want the motor to still turn, it will have lower torque than this, and lower RPM.</p>

<p>Also, running the motor at (or close to) stall for long time will probably overheat it (it's gonna draw 85A (that is about 1KW) and dissipate it all as heat).</p>

<p>I don't have much experience with this, but for a first version I would guess you can get 50% of the stall torque and 50% of the no load rpm continually (or maybe 40%?). Then you could test it and go for different motor in second iteration.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5213" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-5213">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5213" class = 'collapse'>
			</div>
				<textarea id = "speech-5213" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5213">
					<img id="start_img-5213" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5213">Comment</button>
			<br><div id = "ans-5215"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5215" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's quite possible for an $8 motor with enough gearing to move a mass as you describe. It's also possible to have gear ratios much more than a hundred. However:</p>

<ol>
<li><p>Check that the gears you're using are rated for the torque you need.</p></li>
<li><p>What speed of rotation do you need? This defines the motor <em>power</em> you need (something people often forgot to think about). Power is usually the first thing you should consider when choosing a motor.</p></li>
</ol>

<p>power(W) = force(N) x speed(m/s)</p>

<p>So, how quickly do you need the weight to travel?</p>

<ol start="3">
<li>The higher the gear ratio, the lower the efficiency of the gears. If the manufacturer doesn't specify the efficiency, then assume 50%, in which case, you'll need a motor of at least twice the power.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5215" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-5215">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5215" class = 'collapse'>
			</div>
				<textarea id = "speech-5215" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5215">
					<img id="start_img-5215" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5215">Comment</button>
			<br><div id = "ans-5217"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5217" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your calculation of about 80 N m torque for lifting 8 kg with a 1 m lever arm is ok; more precisely, the number is 8 kg   9.81 m/s    1 m = 78.48 N m.  As mentioned in other answers, you will need to scale up to account for gear inefficiency.</p>

<p>A simple calculation based on work shows that the Banebots RS-550 DC motor mentioned in the question is not powerful enough to spin the mass at 120 rpm in a vertical plane, geared down only 161:1.  From $W = f\cdot s$, with $f = 78.48 N m$ and $s=2 m$, we require 156.96 joules to raise the mass 2 m.  Figures for most-efficient operation from <a href="http://www.robotshop.com/ca/en/banebots-rs-550-motor-12v-19300rpm.html" rel="nofollow noreferrer">the Banebots page</a> show 120 watts (12 VDC   10 A) power and 17250 rpm.  Supposing efficiency is 85 to 90%, the motor will take from $156.96/(120\cdot 0.90) = 1.45$ to  $156.96/(120\cdot 0.85) = 1.53$ seconds (ie, about 1.5 seconds) to deliver enough power to lift the mass 2 m, giving $60/(1.5 2) = 20$ rpm. </p>

<p>As noted in a previous answer, the RS-550's torque value of 0.498 N m that is shown in <a href="http://www.robotshop.com/ca/en/banebots-rs-550-motor-12v-19300rpm.html" rel="nofollow noreferrer">the Banebots page</a> is stall torque.  Following is a typical small-DC-motor diagram showing current (red), speed (blue), power (yellow), and efficiency (green) versus torque.</p>

<p><img src="https://i.stack.imgur.com/cSqi4.jpg" alt="typical small-DC-motor speed/torque/power/efficiency diagram"> <em>From: <a href="http://www.johnsonelectric.com/en/resources-for-engineers/automotive-applications/motion-technology/pmdc-motor.html" rel="nofollow noreferrer">JohnsonElectric.com PMDC Motors (permanent magnet DC brushed motors)</a> webpage</em></p>

<p>You can see that speed is zero at highest torque, and since (as noted in <a href="http://en.wikipedia.org/wiki/Torque#Relationship_between_torque.2C_power.2C_and_energy" rel="nofollow noreferrer">wikipedia</a>) mechanical power is given by $P = \tau\cdot\omega$, where $\tau$ is torque and $\omega$ is <a href="http://en.wikipedia.org/wiki/Angular_velocity" rel="nofollow noreferrer">angular velocity</a> in radians per second, ie $2\cdot\pi\cdot n$ at $n$ rpm, delivered power and efficiency also are zero at highest torque.</p>

<p>To compute actual values of torque, speed, current, power, and efficiency for this motor at various operating points, use the <a href="http://en.wikipedia.org/wiki/Brushed_DC_electric_motor#Torque_and_speed_of_a_DC_motor" rel="nofollow noreferrer">Basic DC motor equations</a> given in wikipedia's <a href="http://en.wikipedia.org/wiki/Brushed_DC_electric_motor" rel="nofollow noreferrer">Brushed DC electric motor</a> article.  Most of the parameters needed for the calculations are given in <a href="http://www.robotshop.com/ca/en/banebots-rs-550-motor-12v-19300rpm.html" rel="nofollow noreferrer">the Banebots RS-550 motor page</a>, which apply when the motor is powered by 12VDC.  Other required parameters can be calculated; for example, motor resistance is about $12V/85A = 0.14\Omega$, based on stall current.</p>

<p>If the 8 kg mass you mention always is attached to the arm, you probably should use a counterweight, a gas lift tube, or a spring to compensate for it, so that whatever motor you use will not have to do as much work.  Or, if the 8 kg mass is an item being placed into a workcell, operated on, and then removed, you might use two arms, linked such that weight of an item being placed is offset by that of an item being removed. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5217" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-5217">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5217">Load Comments</button></br>
			<div id = "commentsection-5217" class = 'collapse'>
			<div id = "comment-9166" class = "comment">
				<p>Love the analysis... one note: If you really *do* want a very high gear ratio, and are willing to have slower speeds, some of the best gear ratios are available through harmonic gear trains.http://en.wikipedia.org/wiki/Harmonic_drive. Likely not useful in your application, but thought I would throw it out there...</p>
			</div>
			</div>
				<textarea id = "speech-5217" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5217">
					<img id="start_img-5217" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5217">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>