<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to detect wall-corners, fans, lights in an indoor using CV?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9313" class = "post">
			<h2>Question</h2>
			<div id="vote-9313" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 434</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to detect wall-corners, fans, lights in an indoor using CV?</h2>
<p>Im currently working on an autonomous indoor quad-rotor. For this purpose I'm using OpenCV to enable computer vision in my drone. I need to be able to detect wall corners, fans (both stationary and rotating), lights and lamps, wall paintings and any other object associated with the walls and ceiling of an indoor environment. Until now I have come up with two ideas to achieve this. </p>

<p>1) Establish ML (machine learning). Use feature descriptors like SIFT, SURF to collect a set of feature descriptors from a training set and try detect the objects of interest. The main issue with this is the access to SIFT and SURF algorithms as they are not available in OpenCV 3. </p>

<p>2) Implement SLAM algorithm and map the environment and then use the information returned to identify the wall-corners. Of course this way I will be not able to detect fans and lights. </p>

<p>So the question is, is there are any other methods I could use other than ones listed above in order to achieve my goal. Am I missing something on image segmentation, clustering or image transforms (hough line/circle) which could be utilised in my situation? </p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9313" data-toggle = "popover">
				<p>user name : Vino</p>
				<p> user reputation : 75</p>
				<p class = "tagcontent" id = "usertaginfo-9313">{'control': 1, 'robotic-arm': 1, 'pid': 1, 'slam': 0, 'motor': 1, 'linux': 5, 'mobile-robot': 0, 'ros': 5, 'forward-kinematics': 5, 'manipulator': 1, 'robotics-library': 0, 'mechanism': 1, 'opencv': 0, 'cnc': 2, 'machine-learning': 0, 'None': 2, 'inverse-kinematics': 5, 'artificial-intelligence': 0, 'automation': 1, 'industrial-robot': 0, 'quadcopter': 0, 'computer-vision': 2, 'c++': 5, 'circuit': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9313">Load Comments</button></br>
			<div id = "commentsection-9313" class = 'collapse'>
			<div id = "comment-16488" class = "comment">
				<p>These features do exist, They are just hidden. The reason to remove them from the standard opencv build, it that they are protected by patents.  But those two algorithms are free to use for academic, reseach and non-profit (I think it's a BSD, but I'm not sure)
You can just build them into your opencv ( assuming you won't sell your product) You will find plenty of instructions online</p>
			</div>
			<div id = "comment-16493" class = "comment">
				<p>Thank you :) Any idea how much royalty I need to pay if I'm gonna commercialise the product @TobiasK?</p>
			</div>
			</div>
				<textarea id = "speech-9313" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9313">
					<img id="start_img-9313" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9313">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>