<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to get data from ArduPilot through Serial Port
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1445" class = "post">
			<h2>Question</h2>
			<div id="vote-1445" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 9419</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to get data from ArduPilot through Serial Port</h2>
<p>I'm doing a project related to telemetry, and I want to make ArduPilot (programmed with ArduPlane 2.73) send through a serial port the sensors informations such as height, GPS position, etc.. I have tried to use ArduStation, but I could not change its firmware to do what I want. </p>

<p>The idea would be to read the Ardupilot's serial port using an Arduino Uno, and then saving it in a SD card in real-time. So ArduPilot needs to send data without any user input or something like that. I've already tried to manipulate ArduPlane source code to do that, but I couldn't either.</p>

<p>Has someone here did something like that before? I need some advice!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1445" data-toggle = "popover">
				<p>user name : Alessandro Soares</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-1445">{'communication': 1, 'None': 0, 'ardupilot': 7, 'microcontroller': 1, 'arduino': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1445">Load Comments</button></br>
			<div id = "commentsection-1445" class = 'collapse'>
			<div id = "comment-10035" class = "comment">
				<p>I am working on the same thing, I have an APM 2.6 and I want to read via the serial Port the data issued by the sensors!
could you help me</p>
			</div>
			<div id = "comment-14816" class = "comment">
				<p>If anyone has figured how to to this, please do post a solution. I am doing a similar project wherein i require the GPS data to be received from an APM 2.6 by an Arduino Mega 2560.Please do advice on how this can be achieved . I am a beginner and mt only coding background is in arduino.</p>
			</div>
			<div id = "comment-14817" class = "comment">
				<p>Hi @Robin_Thomas, welcome to Robotics Stack Exchange.  If you have a new question, please start a new thread.  Otherwise, "answers" to a question that are not actually answers (like this one) will be deleted.  Please check out the [help center](http://robotics.stackexchange.com/help) for how to ask and answer questions.</p>
			</div>
			</div>
				<textarea id = "speech-1445" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1445">
					<img id="start_img-1445" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1445">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1446"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1446" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I understand a new Ardupilot was released recently. I am not familiar with it, so if that's the device you have then this answer may not be helpful. With that said I have done something similar to what you are doing with the Ardupilot Mega. Specifically I wrote a node in ROS to control a quadrotor and read its state. The Ardupilot uses a fairly simple protocol called <a href="http://qgroundcontrol.org/mavlink/start" rel="nofollow">Mavlink</a> to communicate with other systems. You can get the library from the QGroundControl website linked above. From there you will connect the serial port on your Uno to the Xbee port on the APM. There are two caveats however. First, I don't know whether the Mavlink library will fit on the Uno though I believe it will. Second, it does require that your Uno query the APM by sending requests for data but they are simple enough to construct. The purpose for this is to control the flow of information. If I recall correctly you can instruct the device to repeatedly send the data you are interested in but you will have to review the documentation to confirm as much. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1446" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1446">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1446">Load Comments</button></br>
			<div id = "commentsection-1446" class = 'collapse'>
			<div id = "comment-3082" class = "comment">
				<p>So maybe using this library I can make an Arduino send some request to ArduPilot and get as response the data that I want?
What have you done exactly?</p>
			</div>
			<div id = "comment-3086" class = "comment">
				<p>Yes, that's correct. I use the Ardupilot and ROS to control an autonomous quadrotor in my lab. I have used Mavlink to both send commands to the quadrotor and to query the state and sensor data of the Ardupilot.</p>
			</div>
			</div>
				<textarea id = "speech-1446" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1446">
					<img id="start_img-1446" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1446">Comment</button>
			<br><div id = "ans-1788"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1788" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you just want to write data to the UART, you can use </p>

<pre><code>cliSerial-&gt;printf("my output");
</code></pre>

<p>cliSerial is an alias for hal.console .</p>

<p>There is a good example <a href="https://github.com/diydrones/ardupilot/blob/master/libraries/AP_HAL/examples/AnalogIn/AnalogIn.pde" rel="nofollow">here</a>.</p>

<p>UART 2 is unused on the APM so I think you can examine how hal.console is set up and set up your own equivalent that uses UART 2. Looks like you would start with</p>

<pre><code>hal.uartB-&gt;begin(115200);
</code></pre>

<p>Using the mavlink protocol is also an option but you probably want your own simpler protocol. If you want to use mavlink you can use the gcs_send_text_fmt() function. For example, it is used inside verify_nav_wp() of commands_logic.pde .</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1788" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1788">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1788" class = 'collapse'>
			</div>
				<textarea id = "speech-1788" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1788">
					<img id="start_img-1788" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1788">Comment</button>
			<br><div id = "ans-9398"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9398" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To get the sensor data you need:</p>

<ul>
<li>First to write a <code>MAV_DATA_STREAM_EXTRA1</code> message to the arduCopter. This message tells it to send out the sensor data (and at what rate it should do that). (BTW - this message relates to yaw/pitch/roll data only).</li>
<li>Then you read the relevant data message (in this case <code>MAVLINK_MSG_ID_ATTITUDE</code>) and decode the relevant sensor data.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9398" data-toggle = "popover">
				<p>user name : user13173</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-9398">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9398" class = 'collapse'>
			</div>
				<textarea id = "speech-9398" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9398">
					<img id="start_img-9398" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9398">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>