<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to calculate the right and left speed for a tank-like rover?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2011" class = "post">
			<h2>Question</h2>
			<div id="vote-2011" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1449</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to calculate the right and left speed for a tank-like rover?</h2>
<p>I am trying to control the <a href="https://www.sparkfun.com/products/10336" rel="nofollow">Rover 5 robot</a> using an Android app with a touch-based joystick control in the app UI. I want to calculate the speed of the left and right motors in the rover when joystick is moved.</p>

<p>From the joystick, I get two values, pan and tilt. I convert them into the <a href="http://en.wikipedia.org/wiki/Polar_coordinate_system" rel="nofollow">polar coordinate system</a> with <code>r</code> and <code>theta</code>. Where r ranges from 0 to 100 and theta from 0 to 360. I want to derive an equation which can convert the <strong><code>(r, theta)</code></strong> to <strong><code>(left_speed, right_speed)</code></strong> for rover. The speed values also are in the [0;100] range.</p>

<p>Now, here is what I have figured out till now. For any value of <code>r</code>, <br></p>

<p>If <code>theta = 0</code> then <code>left_speed = r, right_speed = -r</code> (turning right on spot) <br>
If <code>theta = 90</code> then <code>left_speed = r, right_speed = r</code> (moving forward at speed r) <br>
If <code>theta = 180</code> then <code>left_speed = -r, right_speed = r</code> (turning left on spot) <br>
If <code>theta = 270</code> then <code>left_speed = -r, right_speed = -r</code> (moving backwards at speed r) <br></p>

<p>For other values, I want it moving and turning simultaneously. For example,</p>

<p>If <code>theta = 45</code> then <code>left_speed = alpha*r, right_speed = beta*r</code> (moving forward while turning right) <br></p>

<p>So, basically for any <code>(r, theta)</code>, I can set speeds as,</p>

<p><code>(left_speed, right_speed) = (alpha*r, beta*r)</code></p>

<p>I need to formulate an equation where I can generalize all these cases by finding <code>alpha</code> and <code>beta</code> based on <code>theta</code>.</p>

<p>How can I do this? Is there is any existing work I can refer to?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2011" data-toggle = "popover">
				<p>user name : Punit Soni</p>
				<p> user reputation : 134</p>
				<p class = "tagcontent" id = "usertaginfo-2011">{'control': 6, 'None': 0, 'algorithm': -1, 'arduino': 0, 'c': -1, 'kinematics': 5, 'motor': 1, 'mobile-robot': 0, 'pwm': -1, 'movement': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2011">Load Comments</button></br>
			<div id = "commentsection-2011" class = 'collapse'>
			<div id = "comment-4055" class = "comment">
				<p>I assume you mean "If theta = 180 then left_speed = -r..."</p>
			</div>
			<div id = "comment-4056" class = "comment">
				<p>Yes, thanks for pointing it out. Edited the question</p>
			</div>
			</div>
				<textarea id = "speech-2011" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2011">
					<img id="start_img-2011" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2011">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2012"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2012" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you want is angular velocity proportional to the cosine of the angle, it seems, with positive to the right, and negative to the left.  </p>

<p>So, since we know that angular velocity is given by $\frac{V_l - V_r}{D}$ where $D$ is the diameter of the robot, we're all set.  Try this:</p>

<p>if $\theta\ge0$ and $\theta\le90$: $V_l \gets r$ and $V_r \gets r\sin(2\theta-90)$</p>

<p>if $\theta &lt; 0$ and $\theta\geq-90$: $V_r \gets -r$ and $V_l \gets r\sin(2\theta+90)$</p>

<p>Swap the velocities for the other quadrants. Note, this won't "feel" like driving a car, as moving the stick to the lower-right will turn backwards and rotate right, whereas a car in reverse with the wheel right will move backwards and turn leftward.  Just a weirdness of differential drives...  You can adjust for this by just applying the fourth quadrant rules to the third quadrant $\theta$ and visa-versa.</p>

<p>I used $\theta \in [-180,+180]$, which you can get by:</p>

<p>$\theta \gets \text{atan2}(\sin\theta,\cos\theta)$ (watch your units though, atan2 is usually radians.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2012" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-2012">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2012">Load Comments</button></br>
			<div id = "commentsection-2012" class = 'collapse'>
			<div id = "comment-4073" class = "comment">
				<p>This look pretty good. I arrived to this solution thinking intuitively. I will give this a try and see how it actually feels when driveing. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-2012" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2012">
					<img id="start_img-2012" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2012">Comment</button>
			<br><div id = "ans-2016"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2016" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're trying to find a formula to convert a given $(r, \theta)$ to left and right thrust percentages, where $r$ represents your throttle percentage.  The naive implementation is to base your function on 100% throttle:</p>

<ul>
<li>At $0 ^{\circ}$, left and right thrust are equal to $r$</li>
<li>At $\pm45 ^{\circ}$, one side's thrust equals $r$ and the other side's equals 0</li>
<li>At $\pm 90 ^{\circ}$, one side's thrust equals $r$ and the other side's equals $-r$</li>
<li>At $180 ^{\circ}$, left and right thrust are equal to $-r$</li>
</ul>

<p>This produces a function like the following:</p>

<p><img src="https://i.stack.imgur.com/ZaZpz.png" alt="Thrust ratios for 100% throttle"></p>

<p>The problem with this implementation is that <em>you are only providing the desired $r$ when $\theta$ is at an exact multiple of $90 ^{\circ}$</em>.  At all other points, you sacrifice total speed for control.  You can see this in the graph: "Absolute Thrust", the amount of thrust being delivered by both motors, is not (and cannot be) constant in this regime.  Simply scaling this function is not optimal.</p>

<p>The maximum absolute thrust that can be sustained over the entire range of $\theta$ occurs when $r=50\%$ -- <strong>this is what your function should be based on</strong>.  </p>

<p><img src="https://i.stack.imgur.com/QSS1W.png" alt="Thrust ratios for 100% throttle"></p>

<p>In this implementation, total thrust remains constant between $\pm45 ^{\circ}$, and absolute thrust is constant no matter what direction is chosen -- the motors trade off their thrust to maintain the desired $r$.  Above $r=50\%$, the range of angles where your total thrust can satisfy $r$ begins to shrink -- you begin to sacrifice control for speed.</p>

<p>This produces a python function like the following:</p>

<pre><code># assumes theta in degrees and r = 0 to 100 %
# returns a tuple of percentages: (left_thrust, right_thrust)
def throttle_angle_to_thrust(r, theta):
    theta = ((theta + 180) % 360) - 180  # normalize value to [-180, 180)
    r = min(max(0, r), 100)              # normalize value to [0, 100]
    v_a = r * (45 - theta % 90) / 45          # falloff of main motor
    v_b = min(100, 2 * r + v_a, 2 * r - v_a)  # compensation of other motor
    if theta &lt; -90: return -v_b, -v_a
    if theta &lt; 0:   return -v_a, v_b
    if theta &lt; 90:  return v_b, v_a
    return v_a, -v_b
</code></pre>

<p>The result is the following:
<img src="https://i.stack.imgur.com/w7yVQ.gif" alt="animated right/left function"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2016" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2016">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2016">Load Comments</button></br>
			<div id = "commentsection-2016" class = 'collapse'>
			<div id = "comment-4058" class = "comment">
				<p>Thanks Ian. As far as I understood, you are trying to balance the loads on both motors, right?</p>
			</div>
			<div id = "comment-4059" class = "comment">
				<p>Not quite.  You are trying to make $(\text{left_speed} + \text{right_speed}) / 2 = r$, instead of having it be dependent on $\theta$.  Notice that when $r > 50\%$, the dotted purple line is no longer constant with respect to $\theta$.  You want to minimize this effect.</p>
			</div>
			<div id = "comment-4065" class = "comment">
				<p>How did you make those fancy plots?</p>
			</div>
			<div id = "comment-4066" class = "comment">
				<p>I did the plots in Microsoft Excel and produced the animation in Gimp.</p>
			</div>
			</div>
				<textarea id = "speech-2016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2016">
					<img id="start_img-2016" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2016">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>