<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to deal with sonar crosstalk
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1584" class = "post">
			<h2>Question</h2>
			<div id="vote-1584" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1935</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to deal with sonar crosstalk</h2>
<p>Our robot has a circular array of 12 sonar sensors that looks like this:</p>

<p><img src="https://i.stack.imgur.com/Q5dBX.jpg" alt="enter image description here"></p>

<p>The <a href="http://www.hobbyking.com/hobbyking/store/__31136__ultrasonic_module_hc_sr04_arduino.html" rel="nofollow noreferrer">sonar sensors themselves</a> are pretty good. We use a low-pass filter to deal with noise, and the readings seem pretty accurate. However, when the robot comes across a flat surface like a wall, something weird happens. The sonars don't show readings that would indicate a wall, instead, it appears like a curved surface. </p>

<p>The plot below was made when the robot was facing a wall. See the curve in the blue lines, as compared to the straight red line. The red line was produced by using a camera to detect the wall, where the blue lines show filtered sonar readings. </p>

<p><img src="https://i.stack.imgur.com/B4KWm.png" alt="enter image description here"></p>

<p>We believe this error is due to crosstalk, where one sonar sensor's pulse bounces off the wall at an angle and is received by another sensor. This is a systematic error, so we can't really deal with it like we would with noise. Are there any solutions out there to correct for it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1584" data-toggle = "popover">
				<p>user name : Robz</p>
				<p> user reputation : 954</p>
				<p class = "tagcontent" id = "usertaginfo-1584">{'pid': 8, 'embedded-systems': 0, 'slam': 20, 'sensor-error': 8, 'accelerometer': 5, 'kinematics': 7, 'mechanism': 1, 'differential-drive': 8, 'imu': 12, 'kalman-filter': 28, 'actuator': 21, 'gyroscope': 5, 'gps': 20, 'magnetometer': 5, 'None': 25, 'noise': 5, 'power': 0, 'localization': 20, 'microcontroller': 0, 'brushless-motor': 13, 'sensors': 41, 'quadcopter': 13, 'navigation': 7, 'sensor-fusion': 21, 'sonar': 8, 'servos': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1584">Load Comments</button></br>
			<div id = "commentsection-1584" class = 'collapse'>
			<div id = "comment-3333" class = "comment">
				<p>related: ["Multiple Ultrasonic Rangefinder Question"](http://electronics.stackexchange.com/questions/24835/multiple-ultrasonic-rangefinder-question). Should I copy-and-paste my own answer from there to here?</p>
			</div>
			<div id = "comment-3337" class = "comment">
				<p>sure, go ahead. thanks!</p>
			</div>
			</div>
				<textarea id = "speech-1584" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1584">
					<img id="start_img-1584" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1584">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1586"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1586" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a common problem, and one of a great many.  Acoustic sensing is a complicated field of study, a significant part of which is spent guessing what path a sound wave took between sending it and receiving it.  As you've noticed, assuming that it went straight out and came straight back will produce odd results in practice.</p>

<p>To really solve it, you'll need to use a system that places a unique frequency and/or tone length on each sensor.  This can be taken to significant extremes, <em>e.g.</em> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&amp;arnumber=4058758">Frequency-Hopping Pseudo-Random Pulse Width Modulation to Eliminate Crosstalk of Sonar Sensors in Mobile Robots</a>.</p>

<p>There is also a low-tech solution, which is fairly straightforward in concept.  If you wanted to simply detect the crosstalk, it would be a matter of firing a single sensor's pulse in between the firing of all sensors' pulses.  If you detect the return pulse with any other sensor, you know that you are in a crosstalk situation.</p>

<p>In practice, this is fairly wasteful: notice that this effectively halves the number of samples you can take.  So you can improve on the implementation by dividing the sensors into groups where each member of the group is far enough from the others that it will not receive crosstalk.  The most robust version of this approach is to <a href="http://www-personal.umich.edu/~johannb/Papers/paper32.pdf">make the groups themselves be pseudorandom</a> which not only allows the errors to average out over time but aids the detection of crosstalk on an individual sensor basis.</p>

<p>In your particular case, you have the added benefit of a camera sensor that you've shown is returning a more correct value for the ranges.  Strategies to combine separate (and possibly conflicting) measurements into a single more accurate estimate is its own very broad topic (called <em>fusion</em>, <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=363924">example 1</a>, <a href="http://eia.udg.es/~qsalvi/papers/2009-MARTECH.pdf">example 2</a>), but a very relevant one to what you're doing here.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1586" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1586">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1586" class = 'collapse'>
			</div>
				<textarea id = "speech-1586" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1586">
					<img id="start_img-1586" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1586">Comment</button>
			<br><div id = "ans-1587"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1587" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some sensors, such as the Maxbotix MB1200 XL-MaxSonar-EZ0, have a daisy chaining system built in where one sensor triggers the next sensor once it has finished its measurement. This way you can have N sensors and ensure that only one is firing at once but that there the next sensor fires as soon as the first has collected its return. This solution is simple but obviously greatly reduces the amount of data you get per unit time. Ian's solutions are far closer to optimal.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1587" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1587">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1587" class = 'collapse'>
			</div>
				<textarea id = "speech-1587" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1587">
					<img id="start_img-1587" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1587">Comment</button>
			<br><div id = "ans-1636"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1636" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is it possible to use multiple ultrasonic sensors on a single robot? Yes: <a href="http://www.societyofrobots.com/sensors_sonar.shtml" rel="nofollow noreferrer">"Using Multiple Sonar Sensors"</a>.</p>

<p>As you have already figured out, one sensor often receives echoes of pings sent by another sensor.
There are several ways to deal with cross-sensitivity, roughly in order of simplest first:</p>

<ul>
<li>Ping only one transducer at a time, ignoring all the other transducers while waiting for the "ghost echoes" from the current transducer to die down before pinging the next transducer. This is much faster than mechanically rotating a single transducer. Perhaps this will be fast enough, unless your robot is ramming into things at nearly the speed of sound.</li>
<li>Use relatively narrow beam angle transmitters or receivers (or both) per sensor, and increase the angle from one sensor to the next so one sensor can't hear the echo from another (unless the stuff in front of the transducer causes some weird lateral reflections)&nbsp;  sensors angled apart roughly the same as the beam angle. Alas, this leaves "blind spots" between transducers where objects can't be seen by any transducer.</li>
<li>Some combination   for example, increase the angle from one sensor to another so one sensor only hears echoes from its 2 neighbors (about half the beam angle); then alternate between pinging the even transducers (ignoring the odd transducers) and pinging the odd transducers (ignoring the even transducers).</li>
<li>Each transducer operating at a different frequency. Alas, all the low-cost ultrasonic transducers, with <a href="http://www.newark.com/multicomp/mcpct-g5120-4140/ultrasonic-transducer/dp/25R0960?in_merch=Popular%20Products" rel="nofollow noreferrer">few exceptions</a>, are tuned to resonate at 40 kHz. When listening to a variety of signals, these transducers can only "hear" signals that are within a few kHz of 40 kHz. You'll have to balance (a) The further away from 40 kHz you use on a transducer designed for 40 kHz, the less sensitive it is, so you want a frequency "relatively close" to 40 kHz; and (a) The closer all the frequencies are together, the more difficult it is to discriminate between them, so you want a set of frequencies that are spread "relatively far apart". I don't know if there is a good compromise or not&nbsp;  if not, you're stuck with (c) use more expensive sensors tuned to other frequencies, or more expensive <a href="http://search.digikey.com/us/en/products/SPM0404UD5/423-1086-1-ND/1587388" rel="nofollow noreferrer">"wide-bandwidth" sensors</a> not tuned to any particular frequency.</li>
<li>Use various transmit timings to rule out ghost echoes. Say you transmit from the left, delay 2 ms (not nearly enough to let the echoes die down), then transmit from the right,... after the echoes die down, then transmit from the left, delay 3 ms, then transmit from the right. If the right receiver gets an echo back 5 ms later both times, then you can be pretty sure it's a real echo; if the right receiver gets an echo back 5 ms later the first time, 6 ms later the second time, it's probably a ghost from the left receiver. (There are much more sophisticated "spread spectrum" techniques for separating out many transmitters all using the same frequency at the same time.)</li>
<li>Combine the signals from all the receivers. If you have one central transmitter that pings in all directions (or equivalently you have transmitters pointed in every direction, and you ping them all at the same instant), and the first echo you get back hits the left receiver first (then later the right receiver hears an echo), you know that the nearest obstacle is closer to the left side than the right side. (There are more sophisticated "phased array" techniques that combine signals from all the receivers, and even more sophisticated "beamforming" techniques for slightly adjusting the transmit times of all the transmitters.)</li>
</ul>

<p>P.S.: Have you seen <a href="http://www.societyofrobots.com/member_tutorials/node/71" rel="nofollow noreferrer">"Infrared vs. Ultrasonic   What You Should Know"</a> ?</p>

<p>(Yes, I've said this all before, at <a href="https://electronics.stackexchange.com/questions/24835/multiple-ultrasonic-rangefinder-question">"Multiple Ultrasonic Rangefinder Question"</a>.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1636" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-1636">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1636" class = 'collapse'>
			</div>
				<textarea id = "speech-1636" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1636">
					<img id="start_img-1636" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1636">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>