<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How should I handle questions about forgotten credentials
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2350" class = "post">
			<h2>Question</h2>
			<div id="vote-2350" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How should I handle questions about forgotten credentials</h2>
<p>I have a problem how to handle the 99% new users with questions how to crack a password, or AppleID, in some cases forgotten recovery email, or claiming the email is no longer in use.</p>

<p>The questions vary from system log in password, iPhone, iCloud, Firmware password an so on.</p>

<p>Since there is no way to verify it is the rightful owner, I hesitate to provide information.</p>

<p>Should one use "Close" or "Flag" or am I just paranoid, or should I try to help how to.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2350" data-toggle = "popover">
				<p>user name : Buscar </p>
				<p> user reputation : 26972</p>
				<p class = "tagcontent" id = "usertaginfo-2350">{'search': 1, 'voting': -5, 'suggested-edits': 0, 'spam': -6, 'support': 5, 'moderation': -4, 'None': 1, 'comments': -6, 'closed-questions': -3, 'moderators': -7, 'reputation': -2, 'answers': -1, 'inbox': 1, 'bounty': -2, 'user-accounts': 0, 'flagging': -7, 'discussion': -15, 'review-page': 0, 'accepted-answer': -1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2350" class = 'collapse'>
			</div>
				<textarea id = "speech-2350" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2350">
					<img id="start_img-2350" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2350">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2352"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2352" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a lot of reasons why people loose access to their computers, most of them are legitimate. So unless there is a clear indication that something is amiss, these questions are perfectly on-topic and can be answered, often easily by referring the user to the appropriate Apple Support pages or by finding the duplicate question which already has been answered before.</p>

<p>Please keep in mind that we are not the police or so, so there is no way to verify the story/background of a question anyway. If in doubt, flag it and move on.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2352" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2352">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2352">Load Comments</button></br>
			<div id = "commentsection-2352" class = 'collapse'>
			<div id = "comment-4403" class = "comment">
				<p>Also if there is a way of doing this other people should be taught about it so that we know where there is a security risk - security by obscurity does not work well</p>
			</div>
			</div>
				<textarea id = "speech-2352" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2352">
					<img id="start_img-2352" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2352">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>