<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to set up binocular cameras on a car?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6942" class = "post">
			<h2>Question</h2>
			<div id="vote-6942" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 263</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to set up binocular cameras on a car?</h2>
<p>I am trying to set up my stereo vision system on a car. However, I meet several problems and do not know how to solve them.</p>

<ol>
<li><p>How to select the baseline? I want the distance measurement to be far at 30 or 50 meters and near at around 5-10m. Is it possible to choose a baseline that meets my requirement?</p></li>
<li><p>I have tried stereo calibration of two cameras and also learned how to compute depth value from disparity map. However I don't know how to compute depth value if the focal lengths of the two cameras are different. It seems all the theorems I can find on the Web only concern cameras of the same focal length. </p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-6942" data-toggle = "popover">
				<p>user name : user49550</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-6942">{'stereo-vision': 6, 'None': 0, 'computer-vision': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6942" class = 'collapse'>
			</div>
				<textarea id = "speech-6942" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6942">
					<img id="start_img-6942" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6942">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7055"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7055" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Why would you use two cameras of different focal lengths? that is just asking for trouble and will add so many issues and much unneeded complexity to the calculation of the depth map. Selecting a baseline set up a relationship between the size of the detected object in pixels and the distance of that object, you want to ensure when you detect the image that there is at least a couple of pixels of separation between the pairs (I shoot for greater than 10) as a rule of thumb I use 1:50 - 1:150 ratio for the ratio between the camera separation to the detection distance for basketball sized objects, but this will vary wildly depending on the cameras and the resolution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7055" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7055">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7055" class = 'collapse'>
			</div>
				<textarea id = "speech-7055" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7055">
					<img id="start_img-7055" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7055">Comment</button>
			<br><div id = "ans-7076"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7076" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>1.</p>

<p>The baseline you want is going to depend on the resolution you want to process the images at.  The minimum range is determined by two things.  First, both cameras have to able to see the object of interest.  Second, there is typically a minimum range due to the processing.  Most stereo algorithms have a maximum disparity that they will search up to.  Since disparity is proportional to inverse distance, a larger maximum disparity gives you a closer minimum range.  Since the maximum disparity is a pixel amount, you can decrease your minimum range by reducing resolution at the cost of accuracy and resolution.  It will also depend on the field of view of your cameras.  You can calculate the minimum range by calculating the ray through f_1(x,y) and the ray through f_2(x+d,y) where f_1 projects a ray through point (x,y) in camera 1 and f_2(u,v) projects a ray through point (u,v) in camera 2 and d is the maximum disparity.  You can usually choose the maximum disparity to search, but it often results in a narrower field of view and usually the computation increases linearly with maximum disparity.</p>

<p>Maximum range is ill-defined.  A range of infinity corresponds to a disparity of 0.  The disparity is proportional to 1/distance so farther distance provides less range accuracy.  You can never be out of range though.  If you pick a minimal range accuracy, then you could calculate a maximum range.  Typically, a stereo algorithm will achieve disparity accuracy of around 0.25 pixels.</p>

<p>2.</p>

<p>For stereo, usually the images are dewarped to correct for lens distortion.  In addition, one camera is warped to be aligned with the other camera such that the axis of the cameras are pointing in the same direction and the camera position differs only in x.  During this process, any differences between the focal lengths of the cameras are also corrected such that the dewarped images have the same effective focal length.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7076" data-toggle = "popover">
				<p>user name : DrRoboto</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-7076">{'None': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7076" class = 'collapse'>
			</div>
				<textarea id = "speech-7076" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7076">
					<img id="start_img-7076" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7076">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>