<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to use an IMU to hover at a fixed location in a quadcopter in the presence of gravity?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7454" class = "post">
			<h2>Question</h2>
			<div id="vote-7454" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 414</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to use an IMU to hover at a fixed location in a quadcopter in the presence of gravity?</h2>
<p>There's an accelerometer in the IMU. The output can then be integrated to estimate the position, at least in theory.</p>

<p>But in practice, there's a huge acceleration from gravity, which varies rather randomly across locations. Vibrations etc can be filtered out with low-pass filters, but how do you filter out gravity? Is it simply the case that the vertical vector is ignored when doing any calculations?</p>

<p>My application is, I want to build a quadcopter that could hover in one place even in the presence of (reasonable) winds: the quadcopter ideally would tilt towards random gusts to maintain a certain position. Every single tutorial I could find on the Internet only uses the accelerometer to estimate where down is when stationary, and simply assumes that using the gyroscope to hold the quadcopter level is enough. </p>

<p>I also want to use the IMU to estimate altitude if possible, of course as an input to something like a Kalman filter in conjunction with a sonar system.</p>

<p>Obviously, for my application GPS is far too slow.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7454" data-toggle = "popover">
				<p>user name : user54609</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-7454">{'quadcopter': 0, 'None': 0, 'imu': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7454">Load Comments</button></br>
			<div id = "commentsection-7454" class = 'collapse'>
			<div id = "comment-10643" class = "comment">
				<p>Not try to be rude, but what exactly is your question? Are you asking how to filter the noise out of accelerometer readings?</p>
			</div>
			<div id = "comment-10644" class = "comment">
				<p>I will rephrase my question. My biggest question is how to filter out gravity actually.</p>
			</div>
			<div id = "comment-10645" class = "comment">
				<p>Why you want to filter out the gravity? The gravity vector can be used for attitude estimation by vector projection. With the gravity vector alone you can easily estimate the pitch and roll. If you even take the magnetic field vector you can apply the so-called "bi-vector" method. In general a vector projection to estimate the attitude of the quadrocopter.</p>
			</div>
			<div id = "comment-10646" class = "comment">
				<p>didn't read all your questions. But for filter out the gravity: use a high-pass filter on accelerometer. As what Android does: http://developer.android.com/reference/android/hardware/SensorEvent.html#values</p>
			</div>
			<div id = "comment-10647" class = "comment">
				<p>another maybe better idea is the step detection algorithem, but can only detect there **happened** a movement/vertical instead of finding its direction. To do it, calculate the total magnitude of acceleration on three axis, then minus 9.8, and set a threshold to detect whether there is a movement or not.</p>
			</div>
			<div id = "comment-10648" class = "comment">
				<p>@Ianyusea - You are providing answers; you should put those answers in an answer and post the answer to the question. Please do not put answers in the comments section.</p>
			</div>
			<div id = "comment-10650" class = "comment">
				<p>@TobiasK Of course I don't want to filter out gravity when doing attitude estimation. I would certainly need to filter out gravity when trying to estimate 3D position by dead reckoning, no?</p>
			</div>
			</div>
				<textarea id = "speech-7454" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7454">
					<img id="start_img-7454" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7454">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7458"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7458" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most flight controllers that I am aware of do not use the IMU for absolute positioning they are only used for attitude estimation and in some cases to try to dampen the effects of external forces (i.e. wind) but it can only be effective at damping these external forces if they are above a certain reasonably detectable level so over the long run you will drift quite a bit but in the short run you can somewhat compensate for the effects of wind. </p>

<p>If you need more robust position holding you might be better off using another system in conjunction with the imu like an optical flow sensor and a target dot or good old gps. </p>

<p>What is your target application?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7458" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7458">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7458" class = 'collapse'>
			</div>
				<textarea id = "speech-7458" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7458">
					<img id="start_img-7458" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7458">Comment</button>
			<br><div id = "ans-8696"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8696" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To "filter" out gravity is not necessarily the correct terminology. The accelerometer measures all forces acting on it, so when it is stationary the only force is gravity. However, because the accelerometer may not be level, the gravity force might not be directly on the Z-axis (assuming Z axis is representing the vertical). Usually a gyroscope is used along with the accelerometer to level the acceleromter, this way the gravity force can be directly subtracted from the accelerometer readings. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8696" data-toggle = "popover">
				<p>user name : user11356</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8696">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8696" class = 'collapse'>
			</div>
				<textarea id = "speech-8696" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8696">
					<img id="start_img-8696" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8696">Comment</button>
			<br><div id = "ans-8706"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8706" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>See also <a href="https://robotics.stackexchange.com/questions/1858/why-do-3-axis-accelerometers-seemingly-have-a-left-handed-coordinate-system">this question</a> for some info on how accelerometers handle gravity versus an external force.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8706" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8706">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8706" class = 'collapse'>
			</div>
				<textarea id = "speech-8706" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8706">
					<img id="start_img-8706" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8706">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>