<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I get more detailed statistics on site usage?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1274" class = "post">
			<h2>Question</h2>
			<div id="vote-1274" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 86</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I get more detailed statistics on site usage?</h2>
<p>I am doing an academic research regarding professional communities and I want to validate the outcomes of using motivational factors and one of them is the usage of contests like the iPad contest.</p>

<p><strong>How can I obtain access to such information?</strong></p>

<p>Here are some of the things I'm trying to find answers to (you don't need to answer them)</p>

<ul>
<li>Is motivation lost after contest? Does it modify the overall trend and if it does in which way?</li>
<li>To which extend is the quality of the contributions affected by the contest? Do we start getting "spam"?</li>
<li>Can we do a cost-benefit analysis on motivational contest? If so how? While computing the cost would be easy, how can we count the results in money?</li>
<li>What percent of the increased traffic is from new audience? While it s obvious that motivating people to share it will increase the overall site visibility. It would be interesting to see if there is a link between the increase in traffic and the creation of new accounts. This would help up identify if the  quality  of the new audience, as the increase in traffic is not a target.</li>
</ul>

<p>Quantitative</p>

<ul>
<li>visits/week</li>
<li>new questions/week</li>
<li>new answers/week</li>
<li>new accounts/week</li>
</ul>

<p>Note: at this moment I consider the week as optimum, as it should minimise the seasonality  and still be small enough to deal with changes due to different events (like a contest). </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1274" data-toggle = "popover">
				<p>user name : sorin</p>
				<p> user reputation : 7718</p>
				<p class = "tagcontent" id = "usertaginfo-1274">{'status-bydesign': 2, 'None': 1, 'support': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1274">Load Comments</button></br>
			<div id = "commentsection-1274" class = 'collapse'>
			<div id = "comment-2389" class = "comment">
				<p>Can you add more detail about what sort of statistics you are looking to find?  Things like answer rates before/during/after the contest etc?</p>
			</div>
			<div id = "comment-2390" class = "comment">
				<p>Yep, things like this, but I will compute a detailed list and update the answer.</p>
			</div>
			</div>
				<textarea id = "speech-1274" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1274">
					<img id="start_img-1274" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1274">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1279"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1279" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The stack exchange employees do track many aspects of site traffic, statistics and usage, but do not make details as granular as you specify public. They do occasionally blog aggregate data from time to time on other sites (but I don't recall one addressing Ask Different directly.) </p>

<p>The best thing I can think of is for you to look at the public data that is made available and see if your research can make use of it. The <a href="http://www.quantcast.com/apple.stackexchange.com" rel="nofollow">public quantcast data about this site</a> might be a good place to start.</p>

<p>There is a contact us link at the bottom of each site, so it might be worth shooting off an email to the owners in case they are entertaining requests for access to some manner of data. </p>

<p>I hope this helps you even though it's not anything you can use today for research.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1279" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1279">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1279" class = 'collapse'>
			</div>
				<textarea id = "speech-1279" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1279">
					<img id="start_img-1279" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1279">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>