<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to control an Arduino Board with wireless PS3 controler?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4545" class = "post">
			<h2>Question</h2>
			<div id="vote-4545" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3267</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to control an Arduino Board with wireless PS3 controler?</h2>
<p>I'm currently building a hexapod bot, composed with an <a href="http://arduino.cc/en/Main/arduinoBoardMega" rel="nofollow">Arduino Mega</a> board and an <a href="http://www.lynxmotion.com/p-395-ssc-32-servo-controller.aspx" rel="nofollow">USB SSC-32</a> (from <a href="http://www.lynxmotion.com/" rel="nofollow">Lynxmotion</a>).
But now I want add a PS3 wireless controller to move my hexapod, I have made some search but nothing realy interesting. Maybe the <a href="http://www.servoshock.com/" rel="nofollow">Servoshock module</a> but it seems works only with the ServoshockShield, a kind of Arduino card with Servo output. </p>

<ul>
<li>Can I use the ServoShock module alone ? </li>
<li>Can I connect it with Rx/Tx port of the Arduino Mega board ?</li>
<li>Do you have other solution for me ? Board with documentation and sources codes ?</li>
</ul>

<p>Thank you all</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4545" data-toggle = "popover">
				<p>user name : Arthur</p>
				<p> user reputation : 85</p>
				<p class = "tagcontent" id = "usertaginfo-4545">{'servomotor': 3, 'None': 0, 'cameras': 3, 'raspberry-pi': 3, 'arduino': 4, 'artificial-intelligence': 2, 'wireless': 1, 'programming-languages': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4545" class = 'collapse'>
			</div>
				<textarea id = "speech-4545" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4545">
					<img id="start_img-4545" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4545">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4602"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4602" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't have experience connecting a PS3 controller to an Arduino board, but if you can work out a computer-arduino connection then you can use <a href="http://www.pygame.org/news.html" rel="nofollow">PyGame</a> to read the state of all the buttons and axes.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4602" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4602">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4602">Load Comments</button></br>
			<div id = "commentsection-4602" class = 'collapse'>
			<div id = "comment-7216" class = "comment">
				<p>Sorry but I need a solution wireless and without computer.</p>
			</div>
			</div>
				<textarea id = "speech-4602" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4602">
					<img id="start_img-4602" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4602">Comment</button>
			<br><div id = "ans-4606"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4606" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want to do this on your own, you need additional hardware:</p>

<ul>
<li>A arduino with an USB-Host (Mega will not work) or an shield which provides the USB-Host</li>
<li>A Bluetooth dongle</li>
</ul>

<p>On your Arduino you will have to run the <a href="https://github.com/felis/USB_Host_Shield_2.0/tree/master/examples/Bluetooth/PS3BT" rel="nofollow">PS3BT</a>
You have to know the MAC adress of your BT-dongle. This can be obtained in two ways:</p>

<ul>
<li>Most simple: It is written on the dongle itself</li>
<li>Or you have to run the script and the MAC should be displayed over SerialMonitor</li>
</ul>

<p>If you have the address then you have to comment the line 19 in the code and uncomment line 20. Additionally you have to enter your MAC address in the line 20.</p>

<p>Then unplug the dongle from the arduino, plug in the PS3 controller via USB and reset the arduino. The controller will be paired with the dongle.</p>

<p>Now plug in the dongle again and pair the controller (pressing the playstation button). It should work from here on. The script just prints the inputs from the controller to the serial monitor. Then you just have to implement all the rest of your code.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4606" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4606">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4606">Load Comments</button></br>
			<div id = "commentsection-4606" class = 'collapse'>
			<div id = "comment-7215" class = "comment">
				<p>Thank you for helping but I don't realy know what's the USB-Host and the Bluetooth dongle. 
I have make some search and found the Arduino Mega ADK have a USB-Host, can it works if I add a Bluetooth dongle ?
Can I buy a board to manage that and plug-it with my Ardiuno Mega board ?</p>
			</div>
			<div id = "comment-7217" class = "comment">
				<p>I saw Ardiuno making USB Host shield, and it's work with Arduino Mega board, but it's using all basic pin (http://www.circuitsathome.com/wp/wp-content/uploads/2011/02/UHS2_mega2560_bt.jpg).
How I must config it ? Something exist to works with Serial communication ?</p>
			</div>
			<div id = "comment-7218" class = "comment">
				<p>You can take the mega ADK and the bluetoothdongle or take a normal uno and the board you just found.
Here is all the documentation to this board https://github.com/felis/USB_Host_Shield_2.0  
  I would guess on the first glance, that the arduino and the usb-board are communicating with SPI-bus, because they say in the readme :"If you are using the Arduino Due, then you must include the Arduino SPI library like so: #include <SPI.h> in your .ino file."</p>
			</div>
			<div id = "comment-7220" class = "comment">
				<p>SO if I understand, this USB Host board is already attached to the Arduino board and take all pins ? I have no other solution ?</p>
			</div>
			<div id = "comment-7222" class = "comment">
				<p>No i does not take all pins. I take only 3 pins for the spi, but spi is a multi slave bus so you can still use them. You just need to be careful when using extra spi-device, that there won't be any conflict.
if you look at this picture http://www.circuitsathome.com/wp/wp-content/uploads/2011/02/uhs20s_pin_layout.jpg you will see that on both sides there are 2 rows of soldering holes in parallel, in one row you solder some jumper-pins to your arduino, in the other you can solder another socket row, where you access all your other arduino functionality.</p>
			</div>
			<div id = "comment-7223" class = "comment">
				<p>The only problem is that you cannot stack another shield.

This board even provide 8 additional GPIO-Pins. So you gain additional functionality.</p>
			</div>
			</div>
				<textarea id = "speech-4606" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4606">
					<img id="start_img-4606" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4606">Comment</button>
			<br><div id = "ans-4790"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4790" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The ServoShock module works by itself, you just have to wire the connections.  If you use the shield, it's plug and play.  You can pull the button/axes states and write servo position outputs using the SPI bus, there's a Arduino library at the ServoShock documentation page at www.servoshock.com.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4790" data-toggle = "popover">
				<p>user name : MikeH</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-4790">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4790" class = 'collapse'>
			</div>
				<textarea id = "speech-4790" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4790">
					<img id="start_img-4790" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4790">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>