<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to compute the field of view of a robot when obstacles are around?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12226" class = "post">
			<h2>Question</h2>
			<div id="vote-12226" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 24</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to compute the field of view of a robot when obstacles are around?</h2>
<p>Is there a formula to compute the field of view of a robot when it is obstructed by other objects like in this <a href="https://www.researchgate.net/publication/221065724/figure/fig1/AS:305453201412101@1449837126943/Fig-1-a-Robot-with-a-limited-field-of-view-in-an-unknown-environment-with-fixed-and.png" rel="nofollow noreferrer">picture</a></p>

<p>When it is a full circle it should be  <code>FoV = (x-c1)  + (y-c2)  &lt; r </code> Where <code>(c1,c2)</code> are the coordinates of the robot and <code>r</code> is the range of the sensor.    </p>

<p>Thank you!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12226" data-toggle = "popover">
				<p>user name : amine23</p>
				<p> user reputation : 54</p>
				<p class = "tagcontent" id = "usertaginfo-12226">{'kinect': 0, 'mobile-robot': 0, 'None': 3, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12226" class = 'collapse'>
			</div>
				<textarea id = "speech-12226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12226">
					<img id="start_img-12226" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12226">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12227"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12227" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, you "simply" geometrically substract those objects and everything behind them from your FoV. </p>

<p>But it make not much sense to create such formula, as its precise formulation would be dependent on position of the robot (and you pictured it with wheels, so it will be probably moving) and on position of all those obstacles (which in real world you would not know, as anything can change anytime (for example another robot came to range and its shape will be highly irregular, somebody came and move chair or anything else)</p>

<p>It would probably help much more, if you say, for which use you want to know such formula - if you know, where some objects are and want place robot to specified place, or if you want your robot to sense objects around with sensors and then decide, how to avoid them (or hit them, or create map, or so)</p>

<p>Ususally you do not need formula for sensor range, as you can just use your sensors, look around and see, how far you can see. And maybe save it in some array as vectors with direction and distance free in that direction and then either use it directly to find free way, or indirectly to calculate some parts of borders of obstacles around you, then move a little, do it again and get better idea, what kind of obstacles are there (eg. if the blue walls are cubes, or just plates, or long prism pointing away your initial position.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12227" data-toggle = "popover">
				<p>user name : gilhad</p>
				<p> user reputation : 362</p>
				<p class = "tagcontent" id = "usertaginfo-12227">{'control': 0, 'mobile-robot': 0, 'None': 18, 'arm': -1, 'robotic-arm': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12227" class = 'collapse'>
			</div>
				<textarea id = "speech-12227" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12227">
					<img id="start_img-12227" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12227">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>