<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to convert G code to motor command?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10860" class = "post">
			<h2>Question</h2>
			<div id="vote-10860" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 455</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to convert G code to motor command?</h2>
<p>In cnc machine, programs change G-code to commands to stepper motors using parallel port.</p>

<p>I want to know what is the G-code and how can it be converted to stepper motor commands?</p>

<p>The programs doing this are not open-source, So can I find open source project doing the same?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10860" data-toggle = "popover">
				<p>user name : Ammar Atef</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-10860">{'control': 1, 'None': 2, 'arduino': 0, 'torque': 1, 'servomotor': 1, 'matlab': 1, 'pwm': 0, 'cnc': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10860" class = 'collapse'>
			</div>
				<textarea id = "speech-10860" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10860">
					<img id="start_img-10860" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10860">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10862"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10862" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://linuxcnc.org/" rel="nofollow">LinuxCNC</a> is an open source project dedicated to "converting" G-code into motor commands. It is not at all a simple task.</p>

<p>The basic steps are:</p>

<ol>
<li>Read the G-Code file into memory</li>
<li>Interpret the G code (mostly motion commands and way points, but also branches and loops)</li>
<li>Plan a continoupous path between the waypoints</li>
<li>Add the time dimention to your path (velocities and accelerations)</li>
<li>Project values to your motor axis</li>
<li>Make your motor controller follow the reference trajectory (this is the 
part which is heavily dependent on your motors and motor driver, in your ase the stepper motor with parallel port)</li>
</ol>

<p>On driving a setpper motor with your paralel port (once you know what is the desired trajectory of your motor) information can be found <a href="http://electronics-diy.com/electronics/stepper_motors.php" rel="nofollow">here</a> and <a href="http://www.instructables.com/id/Parallel-Port-3-Axis-CNC-Driver-Opto-Isolated/" rel="nofollow">here</a> </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10862" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10862">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10862">Load Comments</button></br>
			<div id = "commentsection-10862" class = 'collapse'>
			<div id = "comment-19557" class = "comment">
				<p>Awesome, thank you</p>
			</div>
			</div>
				<textarea id = "speech-10862" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10862">
					<img id="start_img-10862" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10862">Comment</button>
			<br><div id = "ans-11034"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11034" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>LinuxCNC is a good example.  A simpler example would be GRBL, which runs on Arduinos:</p>

<p><a href="https://github.com/grbl/grbl/wiki" rel="nofollow noreferrer">https://github.com/grbl/grbl/wiki</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11034" data-toggle = "popover">
				<p>user name : Bob Warfield</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-11034">{'None': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11034">Load Comments</button></br>
			<div id = "commentsection-11034" class = 'collapse'>
			<div id = "comment-19889" class = "comment">
				<p>Great, thank you</p>
			</div>
			</div>
				<textarea id = "speech-11034" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11034">
					<img id="start_img-11034" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11034">Comment</button>
			<br><div id = "ans-11035"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11035" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I suggest you look at the Marlin <a href="https://github.com/MarlinFirmware/Marlin/tags" rel="nofollow">firmware</a> for reprap 3d printers. Essentially it parses out lines of CNC code and identifies each of them as a command.  The trickiest of these are the mutli-axis coordinated movements where multiple steppers are involved such as g3/g4 circle interpolate.  The magic is in the timers and trig.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11035" data-toggle = "popover">
				<p>user name : NateGreco</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-11035">{'stereo-vision': 0, 'None': 4, 'computer-vision': 0, 'laser': 2, 'lidar': 2, 'opencv': 0, 'rangefinder': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11035">Load Comments</button></br>
			<div id = "commentsection-11035" class = 'collapse'>
			<div id = "comment-19890" class = "comment">
				<p>Awesome , I will see it</p>
			</div>
			</div>
				<textarea id = "speech-11035" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11035">
					<img id="start_img-11035" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11035">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>