<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How path following works analytically for way points?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12102" class = "post">
			<h2>Question</h2>
			<div id="vote-12102" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 88</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How path following works analytically for way points?</h2>
<p>First of all sorry for the confusing question title. I am also confused about the concept.</p>

<p>I have implemented a quadcopter and its controller. Controller finds the rotor speeds based on the position and yaw angle references.</p>

<p>The thing that I don't understand is, let's say I want the vehicle to climb 5m up and then 5m left. At this point, I think I need to create a vector containing the reference values. By the way, the model is discretized by some deltaT time interval so the reference vector. This does not coincide and well behave according to the dynamics of the vehicle. Let's say, the reference input for altitude is 5m until 5sec and 0 for [5,10]sec. But it is not guaranteed that the vehicle will reach to 5m altitude in 5sec. Thus, my intention is, that reference vector shouldn't rely on the time. Therefore, my perception is to use some if condition to check if the vehicle is reached for the first waypoint and then, register the next one.</p>

<p>Which is a simple if-else statement? This makes me think what is the mathematical or analytical background in this. Is it just the following of the line between two waypoints by geometrical analysis like Line of Sight guidance law things.</p>

<p>Can you give me some insight about the concept which makes me confused?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12102" data-toggle = "popover">
				<p>user name : freezer</p>
				<p> user reputation : 35</p>
				<p class = "tagcontent" id = "usertaginfo-12102">{'quadcopter': 5, 'control': 1, 'None': 0, 'rrt': 0, 'pid': 4, 'matlab': 4, 'path-planning': 1, 'mobile-robot': 1, 'motion-planning': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12102" class = 'collapse'>
			</div>
				<textarea id = "speech-12102" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12102">
					<img id="start_img-12102" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12102">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12107"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12107" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most people just create a queue of waypoints on the path and go through one at a time. There are more complex path execution schemes that are more continuous but your application I doubt this is required. If your interested in looking for more complex schemes you can use B-Splines(<a href="https://en.wikipedia.org/wiki/B-spline" rel="nofollow noreferrer">https://en.wikipedia.org/wiki/B-spline</a>) between waypoints. You hit the nail on the head when you brought up that you might not be at the target location when you think you will be there. Usually people get around that by having a good controller and recomputing the path as needed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12107" data-toggle = "popover">
				<p>user name : EngineeringStudent</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-12107">{'stereo-vision': 0, 'None': 12, 'computer-vision': 0, 'localization': 1, 'mapping': 2, 'lidar': 2, 'mobile-robot': 2, 'ros': 0, 'navigation': 0, 'gps': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12107" class = 'collapse'>
			</div>
				<textarea id = "speech-12107" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12107">
					<img id="start_img-12107" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12107">Comment</button>
			<br><div id = "ans-12113"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12113" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have a waypoint, which is some $&lt;x,y,z&gt;_\mbox{waypoint}$ coordinate.</p>

<p>You should have some internal position estimate, $&lt;x,y,z&gt;_\mbox{quadcopter}$. </p>

<p>If the waypoint coordinates are $x_w,y_w,z_w$, and the quadcopter coordinates are $x_q,y_q,z_q$, then you can calculate your distance to the waypoint as:</p>

<p>$$
r = \sqrt{(x_q-x_w)^2 + (y_q-y_w)^2 + (z_q-z_w)^2}\\
$$</p>

<p>Now you have a singular value that indicates how close you are to the waypoint. You can also check speeds by looking at the quadcopter's speed on each axis - </p>

<p>$$
\dot{s} = \sqrt{\dot{x}_q^2 + \dot{y}_q^2 + \dot{z}_q^2} \\
$$</p>

<p>You can check now that you're at target along two criteria. For example, maybe your position tracking has some degree of overshoot, and you'd like to be sure that the quadcopter has <em>stabilized</em> at the waypoint before continuing on to the next point. Maybe the first waypoint is at the entrance to a duct or pipe, and the second waypoint is in the duct/pipe.</p>

<p>So, then you'd want to make sure that your distance to the waypoint, $r$, is small, and that your vehicle speed $\dot{s}$ is also small. If your position error $r$ is big but your speed $\dot{s}$ is small, then maybe you're at the previous waypoint and about to start moving. </p>

<p>If your position error $r$ is small but your speed $\dot{s}$ is big, then you're close to your waypoint but you're moving quickly and are about to overshoot it. You might not care, or you might care a lot. It depends on the type of maneuver you're trying to complete and the allowable deviation from your waypoint-to-waypoint path is. If you overshoot the first waypoint by a lot and then immediately proceed to the second, then you're not actually taking the desired path to the second waypoint. </p>

<p>Last piece of advice I could offer is to make sure that your waypoint coordinates and quadcopter coordinates are in the same frame of reference. You wouldn't want a quadcopter in real GPS coordinates trying to track a relative waypoint coordinate - your quadcopter might autonomously take off for the intersection of the prime meridian and the equator. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12113" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-12113">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12113">Load Comments</button></br>
			<div id = "commentsection-12113" class = 'collapse'>
			<div id = "comment-21453" class = "comment">
				<p>I am still not sure how to target and follow one waypoint after another one. You are just saying how I can find my state based on the position and velocity error. Am I wrong?</p>
			</div>
			<div id = "comment-21456" class = "comment">
				<p>@freezer - Maybe I'm not understanding your problem correctly. I thought your problem was that you had no way of knowing if you had **arrived** at the current waypoint. You said you were using a timing system that was prone to errors; you said, `Therefore, my perception is to use some if condition to check if the vehicle is reached for the first waypoint`. The condition you check to see if you've reached a waypoint is *proximity*, and that's the formula I've given: the straight-line distance from your quadcopter to the waypoint. I cautioned that you may want to check approach speed, too.</p>
			</div>
			<div id = "comment-21457" class = "comment">
				<p>@freezer - If your question isn't *"am I at the first waypoint"* but instead, *"how do I navigate from waypoint A to waypoint B"*, then that's a difference question altogether. Maybe you're asking about sequencing? You can store the sequence of waypoints in a list and "pop" off the next waypoint in the list when your current position is equal to the current waypoint (as defined by an $r$ value at or below some threshold you set). Again, though, I'm not really sure what you're asking about at this point.</p>
			</div>
			<div id = "comment-21470" class = "comment">
				<p>I am actually asking both. Actually, I think there may be a way to connect all the points and fly over them continuously. In waypoint checks, I need to check what you offer in the answer and need to use if conditions whether the conditions are satisfied or not. Right? Then I need to register the next wp when proximity is enough? Sorry for the confusion, I am really confused too and have lots of questions. I am seeking to find a book or article to clarify this actually.</p>
			</div>
			</div>
				<textarea id = "speech-12113" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12113">
					<img id="start_img-12113" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12113">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>