<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How rotate a point around an arbitrary line in 3D?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12782" class = "post">
			<h2>Question</h2>
			<div id="vote-12782" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 47</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How rotate a point around an arbitrary line in 3D?</h2>
<p>I have a body with origin at point A which is represented in homogeneous coordinate of matrix 4x4 and I would like to rotate it around an arbitrary vector in 3D space. </p>

<p>I understand how to rotate the body around its own frame axis, but I'm not sure how to rotate it around any vector in space.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12782" data-toggle = "popover">
				<p>user name : Nicholas Adrian</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-12782">{'None': 0, 'kinematics': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12782" class = 'collapse'>
			</div>
				<textarea id = "speech-12782" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12782">
					<img id="start_img-12782" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12782">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12792"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12792" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For a general point in 3D space, $P=(x,y,z)$, and a vector, $V$, which is defined by a line between two points, $P_1=(x_1,y_1,z_1)$ and $P_2=(x_2,y_2,z_2)$, (i.e. $V=P_2-P_1$), the transformation of the point around that vector by an angle, $\theta$, is given by:</p>

<p>$\left(
\begin{array}{c}
 x' \\
 y' \\
 z' \\
 1 \\
\end{array}
\right)=T^{-1}.R_x{}^{-1}.R_y{}^{-1}.R_z.R_y.R_x.T.\left(
\begin{array}{c}
 x \\
 y \\
 z \\
 1 \\
\end{array}
\right)$</p>

<p>Where:</p>

<p>$P_{transformed}=(x',y',z') \\$ </p>

<p>$T=\left(
\begin{array}{cccc}
 1 &amp; 0 &amp; 0 &amp; -x_1 \\
 0 &amp; 1 &amp; 0 &amp; -y_1 \\
 0 &amp; 0 &amp; 1 &amp; -z_1 \\
 0 &amp; 0 &amp; 0 &amp; 1 \\
\end{array}
\right) \\$</p>

<p>$R_x=\left(
\begin{array}{cccc}
 1 &amp; 0 &amp; 0 &amp; 0 \\
 0 &amp; \frac{c}{d} &amp; -\frac{b}{d} &amp; 0 \\
 0 &amp; \frac{b}{d} &amp; \frac{c}{d} &amp; 0 \\
 0 &amp; 0 &amp; 0 &amp; 1 \\
\end{array}
\right) \\$</p>

<p>$R_y=\left(
\begin{array}{cccc}
 d &amp; 0 &amp; -a &amp; 0 \\
 0 &amp; 1 &amp; 0 &amp; 0 \\
 a &amp; 0 &amp; d &amp; 0 \\
 0 &amp; 0 &amp; 0 &amp; 1 \\
\end{array}
\right) \\$</p>

<p>$R_z=\left(
\begin{array}{cccc}
 \cos (\theta ) &amp; -\sin (\theta ) &amp; 0 &amp; 0 \\
 \sin (\theta ) &amp; \cos (\theta ) &amp; 0 &amp; 0 \\
 0 &amp; 0 &amp; 1 &amp; 0 \\
 0 &amp; 0 &amp; 0 &amp; 1 \\
\end{array}
\right) \\$</p>

<p>$d=\sqrt{b^2+c^2} \\$</p>

<p>$U=(a,b,c): \text{A unit vector in the direction of the vector, V.}$</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12792" data-toggle = "popover">
				<p>user name : Tarek Ibrahim</p>
				<p> user reputation : 25</p>
				<p class = "tagcontent" id = "usertaginfo-12792">{'None': 1, 'manipulator': 0, 'dh-parameters': 0, 'dynamics': 1, 'robotic-arm': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12792">Load Comments</button></br>
			<div id = "commentsection-12792" class = 'collapse'>
			<div id = "comment-22558" class = "comment">
				<p>thank you. is there a name for a theorem that leads to this?</p>
			</div>
			</div>
				<textarea id = "speech-12792" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12792">
					<img id="start_img-12792" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12792">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>