<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to tell when an ArduPilot has finished initialising its gyros (without referencing telemetry)?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1378" class = "post">
			<h2>Question</h2>
			<div id="vote-1378" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 263</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to tell when an ArduPilot has finished initialising its gyros (without referencing telemetry)?</h2>
<p>Using ArduPilot software (fixed wing, ArduPlane), I know that after I boot up I need to keep the system sit still while the gyros initialise.</p>

<p>When I have ground station in the field it's easy to know when it's safe to launch because the telemetry message tells me. But I don't always fly with a ground station. In these situations I currently just sit and wait for a while before arming, then again before launching. </p>

<p>Is there some reliable rule of thumb? information in the blinking of the arming switch or buzzing that I haven't worked out yet? This UAV has PX4 autopilot hardware (with both Px4FMU and PX4IOBoard), including with buzzer and illuminated arming switch. The LEDs on the board are obscured (but I could make light channels from them if required).</p>

<p>(Note: I'm asking this question here to test the theory that robotics stack exchange night be an appropriate forum for these sorts of questions, which has been suggested a couple of times in response to the Area51 drones proposal.)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1378" data-toggle = "popover">
				<p>user name : Chris Gough</p>
				<p> user reputation : 178</p>
				<p class = "tagcontent" id = "usertaginfo-1378">{'None': 5, 'uav': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1378">Load Comments</button></br>
			<div id = "commentsection-1378" class = 'collapse'>
			<div id = "comment-2986" class = "comment">
				<p>To answer the parenthetical meta question: We have several drone related tags and I can confirm that ***autonomous* drones** are considered **on topic** on *robotics*. As each of the wikis say: *"The [tag:drone] tag should only be used on questions about autonomous drones which don't fit into the [tag:auv], [tag:uav] or [tag:ugv] tags"* as discussed [on meta](http://meta.robotics.stackexchange.com/a/104/37).</p>
			</div>
			<div id = "comment-2989" class = "comment">
				<p>Hmm, the open source autopilot communities I'm involved with share knowledge about systems across a spectrum of autonomy, from remotely piloted vehicles to full autonomy. Also, questions extend beyond the vehicle to ground segment components, safety and legal aspects, etc. Unless the robotics taxonomy can extend to these things, we probably do need our own stack exchange.</p>
			</div>
			<div id = "comment-2990" class = "comment">
				<p>Comments aren't the place for this sort of discussion, but feel free to come over to [chat] or start an [Area51 discussion](http://discuss.area51.stackexchange.com/questions/ask?post-text=Proposal%3a+%5b**drones**%5d%5b1%5d%0a%0a++%5b1%5d%3ahttp%3a%2f%2farea51.stackexchange.com%2fproposals%2f55909%2fdrones&tags=technology&authCode=R9drU8c6cYLGPEr8DUouTpa%2flESuzQ%2bOGlpJsrJzsds%3d).</p>
			</div>
			<div id = "comment-2991" class = "comment">
				<p>If others want to join in, see [our chat](http://chat.stackexchange.com/rooms/9106/room-for-chris-gough-and-mark-booth) and [Area 51 discussion](http://discuss.area51.stackexchange.com/q/10614/40660).</p>
			</div>
			</div>
				<textarea id = "speech-1378" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1378">
					<img id="start_img-1378" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1378">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1430"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1430" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This depends on a few things. First of all, are you using ArduPlane or ArduCopter, and what mode are you in? For ArduPlane, your answers are <a href="http://plane.ardupilot.com/wiki/flying/starting-up-and-calibrating-arduplane/" rel="nofollow">here</a>, and for arducopter, <a href="http://copter.ardupilot.com/wiki/flying-arducopter/" rel="nofollow">here</a>.</p>

<p>In both cases, the software has safeguards that will not let you arm or start the motor while it is initializing. In both cases, the LEDs indicate when it is ready to arm or fly. Of course, these behaviours are mostly configurable. For example, you can set the MANUAL_LEVEL parameter in ArduPlane to 1 if you want to skip the accelerometer calibration on each boot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1430" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1430">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1430">Load Comments</button></br>
			<div id = "commentsection-1430" class = 'collapse'>
			<div id = "comment-3065" class = "comment">
				<p>it's fixed-wing (question updated, thank you).</p>
			</div>
			<div id = "comment-3066" class = "comment">
				<p>FWIW I use my "workshop level" accelerometer calibration, I don't manual level in the field. But that page tells me the answer, "When you power on your board at the field, you should leave the plane motionless on the ground ... until the three colored LEDs stop flashing (about 30 seconds)."</p>
			</div>
			</div>
				<textarea id = "speech-1430" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1430">
					<img id="start_img-1430" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1430">Comment</button>
			<br><div id = "ans-1431"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1431" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The LEDs on the board indicate the status of the Ardupilot. See the <a href="http://code.google.com/p/arducopter/wiki/AC2_LEDs" rel="nofollow">LEDs on the boards</a> on the Arducopter wiki for more detail. Of interest to you are likely the A (red), B (yellow), and C (blue) LEDs. LED A is solid when the motors are armed and blinks otherwise. LED B flashes while the Ardupilot calibrates. Finally LED C indicates the status of the GPS module if there is one.</p>

<p>Edit: I just noticed you are using Arduplane in which case you want to reference the <a href="http://code.google.com/p/ardupilot-mega/wiki/LED" rel="nofollow">LEDs and their meanings</a> page on the Arduplane wiki. The meanings are basically the same though it appears you do not have the option arm/disarm the motors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1431" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1431">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1431">Load Comments</button></br>
			<div id = "commentsection-1431" class = 'collapse'>
			<div id = "comment-3068" class = "comment">
				<p>Nice page but it applies to the older AVR hardware (APM1 and APM2 boards), not the new generation STM32 Hardware (PX4FMU/PX4IO, etc). With a bit of digging I couldn't find an equivalent page in the new wiki. I think the page @foobarbecue mentioned is the current documentation.</p>
			</div>
			<div id = "comment-3074" class = "comment">
				<p>I did not realize a new generation was released. Thanks for the info!</p>
			</div>
			</div>
				<textarea id = "speech-1431" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1431">
					<img id="start_img-1431" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1431">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>