<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How Should I tie My quadcopter to some thing, to adjust pid on one axis
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8152" class = "post">
			<h2>Question</h2>
			<div id="vote-8152" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 365</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How Should I tie My quadcopter to some thing, to adjust pid on one axis</h2>
<p>I am stuck in adjusting the PID of my quadcopter, I cant adjust them on the fly because it just get out of control. I am adjusting them while attaching my quadcopter to something.<a href="https://i.stack.imgur.com/n7gWh.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/n7gWh.jpg" alt="this is how am I doing"></a></p>

<p>Is this method correct. Will the pid values required will be different on the fly or same. Please suggest me how to attach my quad to some thing.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8152" data-toggle = "popover">
				<p>user name : Bilal Ayub</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-8152">{'quadcopter': 6, 'None': 0, 'arduino': 4, 'pid': 5, 'stability': 2, 'esc': 3, 'balance': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8152">Load Comments</button></br>
			<div id = "commentsection-8152" class = 'collapse'>
			<div id = "comment-13000" class = "comment">
				<p>Did you ever fix any of the [errors pointed out to you](http://robotics.stackexchange.com/a/8048/9720) in your PID code? Your untethered and tethered performance will be different because the tether adds to your mass and moment of inertia, but you should be able to tune to *stability* while it's tethered, then tune to *performance* with it untethered.</p>
			</div>
			<div id = "comment-13003" class = "comment">
				<p>i have told you already that i have used the sample time in my pid code.
{
  now = millis(); 

  dt = now-ptime; 

  integ = integ+(error*dt) ;

  der = (error - prerror)/dt ;

  ptime = now; 

  pidy = (kp*error); 

  pidy+=(ki*integ );

  pidy+=(kd*der);

  if(pidy>500)pidy=500; 
  if(pidy<-500)pidy=-500;
  prerror=error;
}</p>
			</div>
			<div id = "comment-13004" class = "comment">
				<p>i use no delay in my loop.</p>
			</div>
			</div>
				<textarea id = "speech-8152" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8152">
					<img id="start_img-8152" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8152">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8156"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8156" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since you're trying to adjust the stability, you should make sure that your method of restraint isn't restricting the motion along that axis.</p>

<p>So, the preferred way to restrain a quadcopter is by connecting strings to the center of the body, above and below.  Here's an example:</p>

<p><a href="https://www.youtube.com/watch?v=T6w5s0-KdYM" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Yz9j4.png" alt="Quadcopter restraint"></a></p>

<p>You could also disable the motors on one axis and run a rope under each of the propeller shafts on that axis (sideways) to simulate the lift that those motors would provide while constraining any movement.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8156" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-8156">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8156">Load Comments</button></br>
			<div id = "commentsection-8156" class = 'collapse'>
			<div id = "comment-13013" class = "comment">
				<p>ok, but that will become very messy. tie the ropes to cielling and floor of the room. Is mine method correct? when i rotate the quad along that axis  by hand, there is no resistance felt.</p>
			</div>
			<div id = "comment-13014" class = "comment">
				<p>You could tie the string between the floor an a table, or between your foot and your hand -- anywhere that leaves enough room for the quadcopter to change orientation on the string without hitting nearby objects.</p>
			</div>
			<div id = "comment-13025" class = "comment">
				<p>MINE METHOD IS CORRECT?</p>
			</div>
			<div id = "comment-13037" class = "comment">
				<p>See my update to the answer, but yes -- provided that your string is attached in the proper places to simulate the other axis, you should be OK with your method.</p>
			</div>
			</div>
				<textarea id = "speech-8156" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8156">
					<img id="start_img-8156" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8156">Comment</button>
			<br><div id = "ans-13982"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13982" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It would stumble along the landing gear like that. Your UAV should be suspended in the air. Tie the harnesses to a heavy object on the sides of the UAV and keep them very taught to minimise any movement on it's other axis of rotation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13982" data-toggle = "popover">
				<p>user name : Ozymandias</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-13982">{'quadcopter': 7, 'control': 4, 'None': 6, 'tuning': 1, 'accelerometer': 1, 'arduino': 3, 'battery': 0, 'pid': 4, 'brushless-motor': 0, 'kinematics': 6, 'imu': 1, 'gyroscope': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13982" class = 'collapse'>
			</div>
				<textarea id = "speech-13982" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13982">
					<img id="start_img-13982" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13982">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>