<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>how to make Mac detect AVR board using USBasp and burn program to it?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4472" class = "post">
			<h2>Question</h2>
			<div id="vote-4472" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 178</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>how to make Mac detect AVR board using USBasp and burn program to it?</h2>
<p>I am new to Embedded, starting with <strong>AVR programming using C</strong>. I am working on <strong>Mac OS 10.9.4</strong>, so far I am using <strong>avrdude</strong> and <strong>xCode</strong> as IDE. It works very well, for now I am testing my code using <strong>Proteus</strong>.</p>

<p>But now I want to burn my <strong>.hex</strong> to <strong>AVR ATMega16</strong> board. I have <strong>USBasp</strong>, which I am able to connect and it lights up the board. Now after searching on the internet, I think Mac is not detecting my board. I have checked <strong>/dev</strong> directory, but no usb device found. </p>

<p>So I am not sure what to next, how to make Mac detect my board and burn my .hex on it. I've found this: <a href="http://www.fischl.de/usbasp/" rel="nofollow">http://www.fischl.de/usbasp/</a> but no idea how to use this or its required or not.</p>

<p>So question stand is: <strong>how to make Mac detect AVR board using USBasp and burn program to it?</strong></p>

<p>FYI: I've installed <strong>CrossPack</strong> on Mac. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4472" data-toggle = "popover">
				<p>user name : Ishan Dhingra</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-4472">{'None': 1, 'usb': 2, 'avr': 2, 'embedded-systems': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4472" class = 'collapse'>
			</div>
				<textarea id = "speech-4472" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4472">
					<img id="start_img-4472" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4472">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4491"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4491" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After reading AVR and CrossPack docs, I've found really easy to do this.</p>

<p>For AVR development environment setup, do the following thing:</p>

<ol>
<li>Install <a href="https://developer.apple.com/xcode/" rel="nofollow">xCode</a> on your Mac, choose latest version.</li>
<li>Now install <a href="http://www.obdev.at/crosspack/" rel="nofollow">CrossPack</a>.   </li>
</ol>

<p>This will do all the environment setup. CrossPack installs required libs to support USBasp as well. </p>

<p>To create project using xCode:</p>

<ol>
<li>Create new project</li>
<li>Select xAVR project on next screen</li>
<li>Next set MCU you are using, Programmer to USBAsp, Frequency as needed.</li>
</ol>

<p>There you go, try a first first time build it may fail, but try again it will work smooth. </p>

<p>You can use <strong>AVR DUDE</strong> directly from Terminal:</p>

<pre><code>avrdude -c usbasp -p &lt;partno&gt; -P usb -v
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4491" data-toggle = "popover">
				<p>user name : Ishan Dhingra</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-4491">{'None': 1, 'usb': 2, 'avr': 2, 'embedded-systems': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4491" class = 'collapse'>
			</div>
				<textarea id = "speech-4491" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4491">
					<img id="start_img-4491" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4491">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>