<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do you implement an INS from an accelerometer and (optionally) gyros and a magnetometer?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-419" class = "post">
			<h2>Question</h2>
			<div id="vote-419" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 389</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do you implement an INS from an accelerometer and (optionally) gyros and a magnetometer?</h2>
<p>I'm building a walking robot that will need to know when it moves forward. I'm using on-board intelligence and I plan on using accelerometers, gyros, and magnometers (if needed) to be able to detect if the robot moves forward. The problem is, I dont know how to program an Internal Navigation System or an IMU.  What software algorithms are needed?</p>

<p>To clarify my problem, I need to know how to program the micro controller to read the sensors and be able to tell if the robot has displaced itself <em>forward</em> since a previous measurement.
Also if I used <a href="http://store.diydrones.com/ArduIMU_V3_p/kt-arduimu-30.htm" rel="nofollow">this sensor board</a> (or similar) could I use it to determine the displacement. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-419" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-419">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-419">Load Comments</button></br>
			<div id = "commentsection-419" class = 'collapse'>
			<div id = "comment-466" class = "comment">
				<p>Can you explain a bit more. Are you hoping to be able to calculate the robot's location in space using the IMU, or do you just want to be able to measure its tilt and detect when it lurches forward?</p>
			</div>
			<div id = "comment-515" class = "comment">
				<p>Are you trying to make your own IMU or use the ArduIMU?</p>
			</div>
			<div id = "comment-518" class = "comment">
				<p>The ArduIMU only provides the sensor information from the sensors, not the actual displacement, correct me if I'm wrong, but don't I need to manipulate the data from the ArduIMU to detect forward movement or is this a lot simpler than I think?</p>
			</div>
			<div id = "comment-3092" class = "comment">
				<p>Why was this question downvoted?</p>
			</div>
			</div>
				<textarea id = "speech-419" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-419">
					<img id="start_img-419" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-419">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-422"  class = "post">
				<h2>Answer</h2>
			<div id="vote-422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you're looking for an inexpensive sensor, you could check out <a href="http://www.invensense.com/mems/gyro/mpu6050.html" rel="nofollow">InvenSense's MPU-6000</a>, which combines a 3-axis gyroscope and a 3-axis accelerometer. It communicates via an I2C or SPI bus with your main processor and is capable of estimating attitude when you add a magnetometer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-422" data-toggle = "popover">
				<p>user name : fgb</p>
				<p> user reputation : 374</p>
				<p class = "tagcontent" id = "usertaginfo-422">{'None': 22}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-422" class = 'collapse'>
			</div>
				<textarea id = "speech-422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-422">
					<img id="start_img-422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-422">Comment</button>
			<br><div id = "ans-622"  class = "post">
				<h2>Answer</h2>
			<div id="vote-622" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To get relative displacement between two time instants all you need to do is integrate the values given off by the accelerometer (twice for linear displacement) and gyro (once for angular displacement).</p>

<p>Due to measurement errors, which can many times be adequately modeled as Gaussian (you might have to estimate a bias and/or scale factor to the measurement), there will be drift in your estimate (i.e. errors accumulate and your estimate diverges). Because of that, if you plan to use the IMU to obtain position and orientation estimates relative to a fixed frame, you will also have to use more information to correct that estimate. These corrections can be made using a <a href="http://tom.pycke.be/mav/71/kalman-filtering-of-imu-data" rel="nofollow">Kalman Filtering</a> approach.</p>

<p>Many people use the accelerometer and magnetometer data to do that, assuming your robot isn't moving too fast (i.e. $g \gg a_{robot}$), there aren't many magnetic field disturbances (i.e. $m_{earth} \gg m_{other\_stuff}$), and both vectors are perpendicular and have fixed orientation with respect to the ground. See, for instance, the <a href="http://en.wikipedia.org/wiki/Triad_method" rel="nofollow">TRIAD algorithm</a>.</p>

<p>But then again, back to your question, if what you mean by "robot has displaced itself forward since a previous measurement" is:</p>

<ul>
<li><p><strong>Relative to his own body</strong>, regardless of his orientation in space, all you need to do is check the sign of the accelerometer output in the forward direction (you might want to set a minimum threshold or perform median filtering due to sensor noise)</p></li>
<li><p><strong>Relative to a fixed frame</strong>, you have to take everything I talked about into consideration</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-622" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-622">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-622" class = 'collapse'>
			</div>
				<textarea id = "speech-622" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-622">
					<img id="start_img-622" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-622">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>