<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I detect ground collision, for an hexapod robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8855" class = "post">
			<h2>Question</h2>
			<div id="vote-8855" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 101</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I detect ground collision, for an hexapod robot?</h2>
<p>I'm planning to build a small (probably around 30 centimeters in diameter, at rest) hexapod robot, but, currently, it would only be able to walk on even ground. To improve this, I would have to, somehow, detect when each leg collides with the ground. </p>

<p>Ideally, I would be able to know how much weight each leg is supporting, so that I could both balance the weight and adapt to moving (up or down) terrain (so, if you put a finger below one leg and lifted it, the leg would go up); however, if that's not possible, a simple binary signal would do.</p>

<p>Is there a simple and compact method to do this? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8855" data-toggle = "popover">
				<p>user name : someonewithpc</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-8855">{'None': 0, 'sensors': 4, 'hexapod': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8855">Load Comments</button></br>
			<div id = "commentsection-8855" class = 'collapse'>
			<div id = "comment-14552" class = "comment">
				<p>Could you try weight sensors on each foot?</p>
			</div>
			<div id = "comment-14555" class = "comment">
				<p>@Matt Do you happen to know of a specific one, or of a place where I can sea4ch for? I seem to not be able to find anything (on eBay)...</p>
			</div>
			<div id = "comment-14570" class = "comment">
				<p>If your transmission is backdrivable you can compare your expected motor torque with actual torque (as represented by motor current or motor voltage, depending on what type of motor and controller you use).</p>
			</div>
			<div id = "comment-14572" class = "comment">
				<p>@hauptmech Interesting. I'm planning to use 9g servos, so I don't think it's possible, though. Do you know of any small servo that can do that?</p>
			</div>
			<div id = "comment-14581" class = "comment">
				<p>@someonewithpc I don't know a specific one, but I did buy one from AliExpress a while ago, a small pressure sensor about 2cmx1cm.
You could also try the flex sensors, the flexible bits of plastic that send an analogue signal as they are bending, when they stop changing their signal the foot is on firm ground.</p>
			</div>
			<div id = "comment-14640" class = "comment">
				<p>Dynamixel servos have toque contoll, you might be able to access the current torque value and use that to detect ground contact...http://www.robotis.com/xe/dynamixel_en</p>
			</div>
			</div>
				<textarea id = "speech-8855" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8855">
					<img id="start_img-8855" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8855">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8862"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8862" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could put a strain gage on each leg. Used in a Wheatstone bridge configuration, it outputs a voltage proportional to the force in the leg. This could accomplish everything you want, and assuming you have relatively low accuracy requirements, the circuit is an op-amp and some resistors to give an analog input to a microcontroller or ADC.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8862" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8862">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8862">Load Comments</button></br>
			<div id = "commentsection-8862" class = 'collapse'>
			<div id = "comment-14575" class = "comment">
				<p>Right, I've seen those around, but they would look very silly. I don't suppose I can, like, wrap/bend them around the leg and have them still working, right?</p>
			</div>
			<div id = "comment-14579" class = "comment">
				<p>Strain gauge foils are usually glued/taped to a part of a structure and measure the (slight) flex in that structure.  So you could glue them on the side of a servo bracket for example... (just thinking out loud.) Remember to read up on the electronics required first though.</p>
			</div>
			<div id = "comment-14585" class = "comment">
				<p>@someonewithpc - I'm not sure what you mean when you say they look silly. I believe you can paint over them (but I would certainly ask the manufacturer to ensure the solvent doesn't damage the strain gage), and they only use two wires. If you put the gage and wiring on the under side of the leg I doubt anyone would ever see it. And, as Andy mentions, they don't have to be on the legs exactly, either; anything to which an individual leg transfers load will work either, but mounting brackets typically have odd shapes and tight tolerances, so you may find it difficult to mount there.</p>
			</div>
			<div id = "comment-14587" class = "comment">
				<p>@Chuck How big are they, approximately?</p>
			</div>
			<div id = "comment-14588" class = "comment">
				<p>@someonewithpc - They vary, but the ones I've worked with before were maybe 0.5cm x 1cm (0.25in x 0.5in)</p>
			</div>
			<div id = "comment-14589" class = "comment">
				<p>Oh, I thought they were much bigger! Thus might work, thanks</p>
			</div>
			</div>
				<textarea id = "speech-8862" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8862">
					<img id="start_img-8862" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8862">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>