<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I get started in Computer Vision?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2706" class = "post">
			<h2>Question</h2>
			<div id="vote-2706" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 87</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I get started in Computer Vision?</h2>
<p>I want to know how to write and run the correct code. I understand that I need to download OpenCV (which I have), but when I try to compile sample code - for example, Blob Detection - it doesn't compile. I am just very confused on the process of what you need to do to get something to show up on the screen. 
I know my question is really vague, but I have such a bad understanding of Computer Vision that I don't really know how to describe my problem. Hopefully discussing more will be able to help me. </p>

<p>Please help me! I have been searching the Internet for 2 hours now and I am just lost in a sea of information...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2706" data-toggle = "popover">
				<p>user name : mrbobjrsrv</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-2706">{'None': 0, 'computer-vision': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2706" class = 'collapse'>
			</div>
				<textarea id = "speech-2706" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2706">
					<img id="start_img-2706" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2706">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2707"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2707" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First try going through tutorials on the official OpenCV website: <a href="http://docs.opencv.org/doc/tutorials/tutorials.html" rel="nofollow">http://docs.opencv.org/doc/tutorials/tutorials.html</a>
There they don't talk only about OpenCV functions but also explain some basic concepts of image processing along the way.</p>

<p>I also recommend this course, it can help you grasp some basic concepts related to geometry: <a href="https://class.coursera.org/vision" rel="nofollow">https://class.coursera.org/vision</a></p>

<p>Finally, this is a great book but it is a bit depricated <a href="http://www.cse.iitk.ac.in/users/vision/dipakmj/papers/OReilly%20Learning%20OpenCV.pdf" rel="nofollow">http://www.cse.iitk.ac.in/users/vision/dipakmj/papers/OReilly%20Learning%20OpenCV.pdf</a> so use it with caution of that if you will.</p>

<p>Regards,
Damjan</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2707" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2707">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2707">Load Comments</button></br>
			<div id = "commentsection-2707" class = 'collapse'>
			<div id = "comment-5070" class = "comment">
				<p>I recommend "OpenCV 2 Computer Vision Application Programming 
Cookbook" by http://www.laganiere.name/opencvCookbook/ - it is a really good book of recipes from the very beginning. And it uses C++ interface to OpenCV, not deprecated C style used in O`Reilly book.</p>
			</div>
			</div>
				<textarea id = "speech-2707" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2707">
					<img id="start_img-2707" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2707">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>