<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to precisely land a copter in a defined place?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10641" class = "post">
			<h2>Question</h2>
			<div id="vote-10641" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 48</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to precisely land a copter in a defined place?</h2>
<p>Say, I have a flat square landing place for a copter, made of e.g. aluminium or plastic, with marks on it making a square, looking like this from the top:</p>

<pre><code>-------------------------------------
|                                   |
|   *                           *   |
|                                   |
|                                   |
|                                   |
|                  |                |
|                --+--              |
|                  |                |
|                                   |
|                                   |
|                                   |
|   *                           *   |
|                                   |
-------------------------------------
</code></pre>

<p>The copter is smaller than the landing field, to land properly. Say, it has some sensors or can be manipulated by the computer that powers logic of the landing square. The square itself can have sensors too.</p>

<p>I want the copter to land as precisely as possible into the place marked by land signs.</p>

<p>What ways are possible to implement this functionality knowing that it's a DIY prototype where I have no access to secret technology, but only to that is available in online electronic components stores?</p>

<p>I think of these:</p>

<ul>
<li>Having a camera either on the drone or on the landing plate that
finds the marks and calculates if these marks are in the right place
or if the drone must move along X or Y axis. Looks as an overkill and
will be hard to configure it for difficult conditions like raining,
night, snow.</li>
<li>Using laser transmitters and receivers.</li>
<li>Some solution I am not aware of but which is still simple and efficient enough.</li>
</ul>

<p>In what direction should I look to find a solution for this problem?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10641" data-toggle = "popover">
				<p>user name : Sergei Basharov</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-10641">{'quadcopter': 1, 'None': 0, 'cameras': 1, 'mechanism': 1, 'uav': 1, 'robotic-arm': 1, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10641">Load Comments</button></br>
			<div id = "commentsection-10641" class = 'collapse'>
			<div id = "comment-19128" class = "comment">
				<p>What kind of accuracy do you want or need? What about mechanical guides?</p>
			</div>
			<div id = "comment-19130" class = "comment">
				<p>I thought about mechanical guides too, yes, but I still need to put the drone more or less precisely so that the guides could be matched with it. 
As I see, it would make sense to have +/- 5cm,</p>
			</div>
			<div id = "comment-19133" class = "comment">
				<p>What kind of computational ressources do you have on the copter? Do you have a fast uplink to it?</p>
			</div>
			<div id = "comment-19134" class = "comment">
				<p>I think, I can have a powerful system on the ground that can be linked to a copter via a fast wireless channel.</p>
			</div>
			<div id = "comment-19150" class = "comment">
				<p>I'd go for the camera. Do you really fly your done if it;s raining or snowing?</p>
			</div>
			<div id = "comment-19157" class = "comment">
				<p>Welcome to *Robotics* Sergei Basharov, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-10641" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10641">
					<img id="start_img-10641" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10641">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>