<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I improve the map in my Mobile Autonomous Robot using KINECT
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1419" class = "post">
			<h2>Question</h2>
			<div id="vote-1419" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1911</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I improve the map in my Mobile Autonomous Robot using KINECT</h2>
<h1>A little background of my aim</h1>

<p>I am in the process of building a mobile autonomous robot which must navigate around an unknown area, must avoid obstacles and receive speech input to do various tasks. It also must recognize faces, objects etc. I am using a Kinect Sensor and wheel odometry data as its sensors. I chose C# as my primary language as the official drivers and sdk are readily available. I have completed the Vision and NLP module and am working on the Navigation part. </p>

<p>My robot currently uses the Arduino as a module for communication and a Intel i7 x64 bit processor on a laptop as a CPU.</p>

<p>This is the overview of the robot and its electronics: </p>

<p><a href="https://i.stack.imgur.com/Oo3PD.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Oo3PDm.jpg" alt="overview of the robot"></a>
<a href="https://i.stack.imgur.com/sYjNL.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/sYjNLm.jpg" alt="electronics of the robot"></a></p>

<hr>

<h1>The Problem</h1>

<p>I implemented a simple SLAM algorithm which gets robot position from the encoders and the adds whatever it sees using the kinect (as a 2D slice of the 3D point cloud) to the map.</p>

<p>This is what the maps of my room currently look like:</p>

<p><a href="https://i.stack.imgur.com/4NzwA.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/0jcKv.png" alt="what a map looks like of my room"></a> <a href="https://i.stack.imgur.com/r81Bd.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/r81Bd.png" alt="Another map my room"></a></p>

<p>This is a rough representation of my actual room:</p>

<p><a href="https://i.stack.imgur.com/tsbzE.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/AnKvn.jpg" alt="enter image description here"></a></p>

<p>As you can see, they are <strong>very</strong> different and so really bad maps.</p>

<ul>
<li>Is this expected from using just dead reckoning?</li>
<li>I am aware of particle filters that refine it and am ready to implement, but what are the ways in which I can improve this result? </li>
</ul>

<hr>

<h1>Update <br /></h1>

<p>I forgot to mention my current approach (which I earlier had to but forgot). My program roughly does this: (I am using a hashtable to store the dynamic map)
<br /></p>

<ul>
<li>Grab point cloud from Kinect</li>
<li>Wait for incoming serial odometry data</li>
<li>Synchronize using a time-stamp based method</li>
<li>Estimate robot pose (x,y,theta) using equations at <a href="http://en.wikipedia.org/wiki/Dead_reckoning#Differential_steer_drive_dead_reckoning" rel="nofollow noreferrer">Wikipedia</a> and encoder data</li>
<li>Obtain a "slice" of the point cloud</li>
<li>My slice is basically an array of the X and Z parameters</li>
<li>Then plot these points based on the robot pose and the X and Z params</li>
<li>Repeat</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-1419" data-toggle = "popover">
				<p>user name : Shreyas Kapur</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-1419">{'kinect': 9, 'odometry': 9, 'None': 1, 'slam': 9, 'arduino': 9}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1419" class = 'collapse'>
			</div>
				<textarea id = "speech-1419" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1419">
					<img id="start_img-1419" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1419">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1420"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1420" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is this what would be expected: in principle yes. Although you may be able to improve your odometry model, in general it is not enough to get a good map. Without a description of your system its difficult to say how to improve it. On most systems translation estimation is better than rotation. You could add a gyro and measure the rotation. This should improve your results significantly.</p>

<p>Instead of implementing a particle filter yourself, you could use a SLAM implementation e.g. from <a href="http://openslam.org/" rel="nofollow">openslam</a>. This should save you a lot of time, and will most likely give better results.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1420" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-1420">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1420">Load Comments</button></br>
			<div id = "commentsection-1420" class = 'collapse'>
			<div id = "comment-3044" class = "comment">
				<p>You make me feel better by saying thats expected :D, but I am really confident that my odometry is very good, (_specially my rotation_ :D). I have added an update that briefly describes the system, (if thats not enough, I can give you code or any other information). I shall try using a gyro tomorrow and then update the results. I would love to use openslam's algorithms, but I am using C# (so that I can use the official SDK), and most libraries for such tasks are either in C++ or are provided in ROS (linux only). I would certainly love to use them but I just don't see sharp!</p>
			</div>
			<div id = "comment-3058" class = "comment">
				<p>[tinyslam](http://openslam.org/tinyslam.html) claims to use 200 lines of c code. I guess porting it to c# shouldn't be so hard.</p>
			</div>
			<div id = "comment-3060" class = "comment">
				<p>Wow! But I guess it does not use any particle filter and does the same thing that i'm doing. But I will surely try to implement that. Thanks a lot :-)</p>
			</div>
			</div>
				<textarea id = "speech-1420" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1420">
					<img id="start_img-1420" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1420">Comment</button>
			<br><div id = "ans-1425"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1425" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Because you are using dead reckoning the errors in estimating the pose of the robot accumulate in time. From my experience, after a while, dead reckoning pose estimation becomes useless. If you use extra sensors,like Gyroscope or Accelerometer the pose estimation will improve but since you have no feedback at some point it will diverge as before. As a result, even if you have good data from the Kinect, building an accurate map is difficult since your pose estimation is not valid.</p>

<p>You need to localize your robot at the same time as your try to build your map (SLAM!). So as the map is being created, the same map is also used to localize the robot. This ensures that your pose estimation will not diverge and your map quality should be better. Therefore I would suggest to study some SLAM algorithms (i.e. FastSLAM) and try to implement your own version.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1425" data-toggle = "popover">
				<p>user name : Demetris</p>
				<p> user reputation : 414</p>
				<p class = "tagcontent" id = "usertaginfo-1425">{'None': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1425">Load Comments</button></br>
			<div id = "commentsection-1425" class = 'collapse'>
			<div id = "comment-3054" class = "comment">
				<p>Thanks for your answer :-). I do realize that dead reckoning is erroneous but the map I built was at a very small scale. I moved the robot slowly and slowly to minimize as much error as possible, the robot didn't move much. I actually have studying a lot of SLAM algorithms from openslam, but as I said to Naresh, "I am not bad at math, but not very good also, and I am using C#, so I don't have any libraries and implementing it myself will take me ages." Any suggestions on that?</p>
			</div>
			<div id = "comment-3067" class = "comment">
				<p>Do you do any post processing with the Kinect data? It is possible that data contains some noise and if you let it untreated it could invalidate your map.

Try to make the problem simple. Let the robot stationary and map the walls ahead of it. How does it work now? If the map is clear then it means the problem happens because of the movement. If not, then the problem is much more fundamental.</p>
			</div>
			</div>
				<textarea id = "speech-1425" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1425">
					<img id="start_img-1425" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1425">Comment</button>
			<br><div id = "ans-1426"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1426" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd suggest that you try particle filters/ EKF.</p>

<p>What you currently do:</p>

<p>--> Dead Reckoning: You're looking at your current position without any reference.</p>

<p>--> Continuous Localization: You roughly know where you are in the map.  </p>

<p>If you don't have a reference and don't know where you are on the map, regardless of what actions you take, you will find it dificult to obtain a perfect map.</p>

<p>For example:
You're in a circular room. You keep moving forward. You know what was your last move. The map which you get will be that of a straight box like structure. This will occur unless and until you have some way to localize or to know where are you precisely on the map, continuously.</p>

<p>Localization can be done via EKF/Particle Filters if you have a starting reference point. However, the starting reference point is a must.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1426" data-toggle = "popover">
				<p>user name : Naresh</p>
				<p> user reputation : 381</p>
				<p class = "tagcontent" id = "usertaginfo-1426">{'control': 3, 'None': 14, 'walking-robot': 8, 'rcservo': 6, 'torque': 2, 'pid': 5, 'wheeled-robot': 2, 'legged': 5, 'gait': 2, 'motor': 8, 'mobile-robot': 8, 'stepper-motor': 2, 'navigation': 6, 'hexapod': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1426">Load Comments</button></br>
			<div id = "commentsection-1426" class = 'collapse'>
			<div id = "comment-3053" class = "comment">
				<p>Thanks for the answer, very nice example indeed, I will surely use EKF, but the problem is I am not bad at math, but not very good also, and I am using C#, so I don't have any libraries and implementing it myself will take me ages. Any suggestions on that?</p>
			</div>
			<div id = "comment-3056" class = "comment">
				<p>It would be far better to brush up on your math and take a few courses than to make something which you don't understand and cannot debug. Learn it and implement it. It will definitely be of use in the future.</p>
			</div>
			<div id = "comment-3057" class = "comment">
				<p>Also look for C# implementations on github. The work is more popular than it looks.</p>
			</div>
			<div id = "comment-3059" class = "comment">
				<p>Thanks for the suggestions, will surely do it tomorrow. I am trying my best to learn the math, and hope to do it and am sure that it'll go a long way. I am 13 years old which is the bottleneck for learning here, we haven't even been introduced to matrices at school! :-(</p>
			</div>
			<div id = "comment-3061" class = "comment">
				<p>I know that you're 13 :)  The internet cares not. You can pick up matrices from Khan Academy. Probability and Statistics as well.</p>
			</div>
			<div id = "comment-3062" class = "comment">
				<p>Thanks a lot :D, yes I am doing a course at coursera, and have done regression and covariance at Khan Academy. I don't know if thats enough, I do have a general understanding of the math behind EKF, and am ready to implement, just didn't want to reinvent the wheel!
Thanks a lot :)
P.S. How do you know my age? Just curious :)</p>
			</div>
			<div id = "comment-3069" class = "comment">
				<p>let us [continue this discussion in chat](http://chat.stackexchange.com/rooms/9221/discussion-between-naresh-and-shreyas-kapur)</p>
			</div>
			</div>
				<textarea id = "speech-1426" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1426">
					<img id="start_img-1426" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1426">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>