<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to use scan command in Arduino WifiBee
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2730" class = "post">
			<h2>Question</h2>
			<div id="vote-2730" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 199</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to use scan command in Arduino WifiBee</h2>
<p>We want to find available WiFi networks near.
So in <a href="http://www.dfrobot.com/wiki/index.php/WiFi_Bee_V1.0_(SKU:TEL0067)" rel="nofollow">tutorial</a> there is command scan, which is send from CoolTerm program from PC.</p>

<p>Now we want to write program to Arduino which will do same operation, how it can be done?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2730" data-toggle = "popover">
				<p>user name : ardakshalkar</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2730">{'wifi': 1, 'None': 0, 'localization': 0, 'sensors': 0, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2730" class = 'collapse'>
			</div>
				<textarea id = "speech-2730" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2730">
					<img id="start_img-2730" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2730">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2734"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2734" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To my knowledge, he WifiBee doesn't support network scanning.  You must specify the SSID of the Wifi network that it should connect to, the IP address it expects to be assigned, and the gateway address <a href="http://www.seeedstudio.com/wiki/Wifi_Bee#Downloading_and_configuring_the_Library_for_running_the_application_examples" rel="nofollow">as part of its initial configuration</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2734" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2734">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2734" class = 'collapse'>
			</div>
				<textarea id = "speech-2734" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2734">
					<img id="start_img-2734" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2734">Comment</button>
			<br><div id = "ans-2739"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2739" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Moderator Note: This answer has been posted by someone related to the
  product that they are recommending</p>
</blockquote>

<p>Sketch Arduino and PIC firmware for Wifly RN-XV modem configuration without Wifly library and with <a href="https://dl.dropboxusercontent.com/u/101922388/WiflySanUSB.zip" rel="nofollow">front-end</a>.</p>

<p>Type in browser address bar: 192.168.1.195/YT to toggle LED and open a HTML page.</p>

<p>The microcontroller can be, with this firmware and Wifly, a server (switching the LED signal through 192.168.1.195/YT in address bar) 
or also client (the AD converter value is inserted in google databank).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2739" data-toggle = "popover">
				<p>user name : SanUSB Laese</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-2739">{'None': -3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2739">Load Comments</button></br>
			<div id = "commentsection-2739" class = 'collapse'>
			<div id = "comment-5136" class = "comment">
				<p>Welcome to Robotics, SanUSB. While we have no policy that forbids recommending your own product, the community tends to vote down overt self-promotion and flag it as spam. Post good, relevant answers, and if some (but not all) happen to be about your product or website, that s okay. However, you **must** disclose your affiliation in your answers. Please familiarise yourself with the [help] pages, especially the page on [user behaviour](http://robotics.stackexchange.com/help/behavior)</p>
			</div>
			</div>
				<textarea id = "speech-2739" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2739">
					<img id="start_img-2739" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2739">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>