<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to measure and dispense a finite amount of powder or liquid
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1259" class = "post">
			<h2>Question</h2>
			<div id="vote-1259" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2270</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to measure and dispense a finite amount of powder or liquid</h2>
<p>I've been watching too much <a href="http://science.discovery.com/tv-shows/how-its-made" rel="nofollow">How It's Made</a>, and I've been wondering how they build devices that spray/inject/dispense a finite amount of liquid (to within some amount of error).  I wanted to try this for a hobby project. I'm working on that dispenses dry goods in the amount I specify.</p>

<p>Do I use some kind of special nozzle/valve which can open and close at high speeds? How can I dispense a known quantity from a reservoir of a fluid substance onto each individual unit passing along an assembly line, or an amount specified by the user into another container?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1259" data-toggle = "popover">
				<p>user name : awiebe</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-1259">{'None': 0, 'manufacturing': 3, 'mechanism': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1259">Load Comments</button></br>
			<div id = "commentsection-1259" class = 'collapse'>
			<div id = "comment-2825" class = "comment">
				<p>Are you talking specifically about something that must be sprayed?  There are other ways to dispense powder (such as [this answer about precisely delivering granular material](http://robotics.stackexchange.com/a/1147/350)) or fluid (such as [this answer about precisely delivering liquids](http://robotics.stackexchange.com/q/1167/350)).  Are they different than what you need (and if so, why)?</p>
			</div>
			<div id = "comment-2827" class = "comment">
				<p>Ok, so the answer for fine powder and liquid differs, even though they flow in a similar fashion. Your liquid answer, answers the question about how to dispense liquid, that is put it under pressure and when a pressure threshold is reached, close the chamber and open the nozzle for discharge.  I am still a little confused about dispensing powder though. Usually it seems to be delivered through a nozzle also, like pouring sand through a funnel, but how is it measured before hand?</p>
			</div>
			</div>
				<textarea id = "speech-1259" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1259">
					<img id="start_img-1259" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1259">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1261"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1261" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Flow-rate meters based on measuring Coriolis-force reactions are widely used in process control systems. 
The measurement principles are mentioned or illustrated at numerous web sites, including youtube video e2NGvrkmP8Y, <a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=e2NGvrkmP8Y" rel="nofollow noreferrer">Back to Basics: Flow Measurement (Corilolis)</a> (via oscillating-tube phase changes) and Schenck Americas' <a href="http://www.schenckamericas.com/prod_solidsflowmeters.html" rel="nofollow noreferrer">Solids Flow Meters</a> page, Coriolis Principle section (via vaned-rotor reaction forces) .  Coriolis-based meters measure the delivered mass of solids, liquids, and gases.  Delivered volume can be calculated if density is known.  Purchase of a Coriolis-based meter seems far more feasible than building one from scratch.</p>

<p>The Schenck page also illustrates impact-plate-based measuring systems and deflection-chute-based measuring systems.  These integrate impulses or deflection force to measure flow.  Again, purchase seems more feasible than building one yourself.</p>

<p>At a hobby level, I think two approaches should be considered first:  (A) calibrate a constant-flow-rate system, and control delivery time; (B) implement a fill-and-dump system, and control number of cycles.</p>

<p>(A) Using a method from previous questions (<a href="https://robotics.stackexchange.com/questions/1145/what-would-be-the-best-way-to-handle-food-grains">1</a>,<a href="https://robotics.stackexchange.com/questions/1167/can-the-rate-of-peristaltic-pumps-flow-be-accurate-across-changes-in-fluid-visc">2</a>) set up a system that moves your substance at a reasonably constant rate; measure that rate; thereafter, control how long or how fast the system runs to deliver a desired amount of substance.</p>

<p>(B) Again using methods from previous questions, set up a system to fill a cup, box, chute, or transfer bin some number of times, and dump it into a receiver.  Issues like detecting when the cup is full, preventing or recycling overflow of the cup, and dumping the cup arise but can be resolved.  The issue of limited resolution (where the delivered amount is an integer multiple of cup size) can be treated by using a smaller cup, or using different cups for different jobs, or using a box with an adjustable side or bottom, or having the box sit on a load cell during filling.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1261" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1261">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1261">Load Comments</button></br>
			<div id = "commentsection-1261" class = 'collapse'>
			<div id = "comment-2830" class = "comment">
				<p>I think simple mechanical dispensers could be much less comlicated than a coriolis meter. For example, my asthma inhaler dispenses a reasonably consistent amount of medication with each activation with nothing more than some sort of spring mechanism on the nozzle.</p>
			</div>
			</div>
				<textarea id = "speech-1261" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1261">
					<img id="start_img-1261" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1261">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>