<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I upgrade an existing robot with a higher torque, sensored motor @ ~100 watts?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-757" class = "post">
			<h2>Question</h2>
			<div id="vote-757" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 230</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I upgrade an existing robot with a higher torque, sensored motor @ ~100 watts?</h2>
<p>I would like a high torque motor (37 oz-in @ 5760 rpm) for souping up a <a href="http://www.theoldrobots.com/scorbot.html" rel="nofollow noreferrer">Scorbot 3</a> I bought. I really need it to have an encoder to count the number of revolutions and to allow high start-up torque. So far, I'm having difficulty finding a suitable motor.</p>

<p>The closest I've found are:</p>

<ol>
<li><a href="http://holmeshobbies.com/product.php?productid=467" rel="nofollow noreferrer">Revolver S Stubby</a>
(still not ready for purchase)</li>
<li><a href="http://v2.teamnovak.com/products/index.php?main_page=product_info&amp;cPath=1_126&amp;products_id=79" rel="nofollow noreferrer">Team Novak Ballistic 25.5T</a></li>
</ol>

<p>I've found other RC car motors, but they are usually too big.</p>

<p>Some alternatives I thought about are:</p>

<ol>
<li>adding hall sensors to an existing motor - how hard is this?</li>
<li>rewinding a motor with more turns to increase torque (decrease Kv)</li>
</ol>

<p>Does anybody know of any motors that fit these requirements or modifications I can make to existing ones?</p>

<hr>

<p><strong><em>Update:</em></strong> I had almost given up hope, until someone at Homebrew Robotics suggested using the <a href="http://www.maxonmotorusa.com/maxon/view/msp/" rel="nofollow noreferrer">Maxon motor finder</a>.</p>

<p>If you just type in my given torque and speed, it returns 3 motors, but they're all over powered because the search interprets your specs as a continuous operating point, whereas my robot will only need that much power 20% of the time, and maybe for 1 second max.</p>

<p>If I type in 12V, 5000rpm, and 15 oz-in, then it returns 2 brushless motors, of which, the <strong>Motor EC 45</strong> is the best fit, which has this operating curve:</p>

<p><a href="http://msp.maxonmotor.com/camosHtml/i?SIG=fb9a5d91198caf381122a3d6eab8b1bda3877f30_fa_1e0.png" rel="nofollow noreferrer">http://msp.maxonmotor.com/camosHtml/i?SIG=fb9a5d91198caf381122a3d6eab8b1bda3877f30_fa_1e0.png</a></p>

<p>However, I don't want to pay what Maxon is charging, so instead, I've contacted the guy who makes the yet to be released Revolver Stubby and he has kindly offered to build a custom high torque, low RPM motor for me.</p>

<p>Can anyone comment on why high torque, low RPM motors like the one I want seem so rare? Is due to lack of applications (robotics) or is there some intrinsic difficulty in making them?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-757" data-toggle = "popover">
				<p>user name : Yale Zhang</p>
				<p> user reputation : 166</p>
				<p class = "tagcontent" id = "usertaginfo-757">{'brushless-motor': 11, 'None': 1, 'hall-sensor': 4, 'motor': 7, 'encoding': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-757">Load Comments</button></br>
			<div id = "commentsection-757" class = 'collapse'>
			<div id = "comment-970" class = "comment">
				<p>Welcome to Robotics.SE - unfortunately, questions such as this are referred to as "shopping list" questions, and have no "right" answer.</p>
			</div>
			<div id = "comment-971" class = "comment">
				<p>But it will only have a few answers if any at all! I have searched long and hard for such a motor and haven't found any yet. I really think this is a useful, legitimate question.</p>
			</div>
			<div id = "comment-973" class = "comment">
				<p>The number of possible answers is (unfortunately) not relevant because your question is a subjective one.  Imagine asking "What sensored motors operate on at least 0.1 watts?" -- there are hundreds if not thousands of motors that fit this description, so choosing one of them to be correct would be an arbitrary choice.  For that reason, this form of question is wrong for this site, no matter how specific the criteria.  

Instead, try your question [in one of the chat rooms](http://chat.stackexchange.com/?tab=site&host=robotics.stackexchange.com)!</p>
			</div>
			<div id = "comment-976" class = "comment">
				<p>For people new to *robotics* who are confused about why stack all exchange sites try to avoid *shopping questions* please see the blog post [Q&A is Hard, Let s Go Shopping!](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/).</p>
			</div>
			<div id = "comment-994" class = "comment">
				<p>I'm not sure I agree that this is a "problem" shopping question.  It's only incidentally shopping-related.  I think it's actually, "I'm trying to do this thing, and I'm open to any solution:  I've considered both building/modifying existing motors, and buying one that could do it, but haven't found anything that works for either."  That's not really the same as, "there are tons of things that do this thing, which is best for me".</p>
			</div>
			<div id = "comment-996" class = "comment">
				<p>Please see **[How do I ask a question that may require recommending a product](http://meta.stackexchange.com/questions/162123)**. This question doesn't really fall into the problematic "shopping questions" often discouraged on these sites. The author is asking about a well-researched problem which may need a specific product to fulfill that need. That's not the same issue as *"what's the best smart phone"* -type question for which that blog post was written. Thank you for the discussion; I am going to re-open this, but feel free to discuss in meta if need be.</p>
			</div>
			<div id = "comment-1003" class = "comment">
				<p>I could see replacing this question with 2 _much better_ questions: (1) How do I add hall sensors to an existing motor? and (2) How do I re-wind motor wiring with more turns to increase torque?  Those are both questions that would be valuable individually.</p>
			</div>
			<div id = "comment-2059" class = "comment">
				<p>@Ian, while these would indeed be good questions in their own right, there is nothing inherently wrong with asking a question which has several distinct parts which all contribute to the whole.</p>
			</div>
			<div id = "comment-2061" class = "comment">
				<p>@RobertCartaino - I was going to wait until the question was improved before re-opening, but thanks for the link, it does help us understand the difference between a question to which a product recommendation might be a solution from pure shopping questions.</p>
			</div>
			</div>
				<textarea id = "speech-757" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-757">
					<img id="start_img-757" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-757">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-821"  class = "post">
				<h2>Answer</h2>
			<div id="vote-821" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One possible solution to your torque problem is to use <a href="http://en.wikipedia.org/wiki/Mechanical_advantage" rel="nofollow">mechanical advantage</a> to trade <em>speed</em> for <em>torque</em>.</p>

<p>If you replace a 1:2 gear/drive belt combination with a 1:1 gear/drive belt combination then you will get twice the torque at half the speed. Swap the gears and you can use the same drive belt to get a 2:1 ratio instead and get even more torque for even less speed.</p>

<p>Of course you will have to re-tune your motors, the PID control parameters will be completely different with the new gearing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-821" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-821">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-821" class = 'collapse'>
			</div>
				<textarea id = "speech-821" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-821">
					<img id="start_img-821" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-821">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>