<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How would I go about making an art drawing robot like this?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1014" class = "post">
			<h2>Question</h2>
			<div id="vote-1014" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1580</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How would I go about making an art drawing robot like this?</h2>
<p>I saw this art drawing robot on youtube:</p>

<p><a href="http://www.youtube.com/watch?v=Wo15zXhFdzo">http://www.youtube.com/watch?v=Wo15zXhFdzo</a></p>

<p>What do I need to learn in order to build something like that? What are some beginner oriented projects that could lead up to building something like this?</p>

<p>I'm an experienced programmer but I have very little hardware experience.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1014" data-toggle = "popover">
				<p>user name : Ryan</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-1014">{'None': 0, 'robotic-arm': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1014" class = 'collapse'>
			</div>
				<textarea id = "speech-1014" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1014">
					<img id="start_img-1014" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1014">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1016"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1016" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This project is a great starter project for a programmer trying to get into robotics because it doesn't require a lot of knowledge or experience. Though it does require a small investment.</p>

<p>The arm itself is one of the <a href="http://www.lynxmotion.com/c-27-robotic-arms.aspx">LynxMotion Arms</a> though I don't remember precisely which. An <a href="http://www.lynxmotion.com/p-395-ssc-32-servo-controller.aspx">SSC-32</a> was used to interface the arm with the controlling computer. The SSC-32 has a really simple protocol and appears as a serial device. As such if you have any experience working with serial devices then you already know how to communicate with this robot. Otherwise, and it probably goes without saying, you need to learn how to communicate with serial devices.</p>

<p>With that said the real challenge with such a project would be learning how to control the location of the end effector by setting the angles of the joints. This is known as the <a href="http://en.wikipedia.org/wiki/Forward_kinematics">forward kinematics</a> problem and requires a <a href="http://en.wikipedia.org/wiki/Kinematics">kinematic</a> model of the arm. You will also need to learn how to determine what joint angles are required given a desired end effector position. This is known as the <a href="http://en.wikipedia.org/wiki/Inverse_kinematics">inverse kinematics</a> problem. Dr. Hollerbach's <a href="http://www.eng.utah.edu/~cs5310/chapters.html">notes</a> are a good resource for learning how to solve these problems. Interestingly @abstractcement had the idea of using <a href="http://en.wikipedia.org/wiki/Bilinear_interpolation">bilinear interpolation</a> to bypass the need for solving these problems which worked out beautifully.</p>

<p>You could also look into creating a <a href="http://en.wikipedia.org/wiki/Dynamical_system">dynamical</a> model to control the forces and torques in the system. However in this project the robot moved slowly enough that the dynamics were neglible and were ignored altogether.</p>

<p>The real challenges with a painting robot are in the <a href="http://en.wikipedia.org/wiki/Automated_planning_and_scheduling">automated planning</a>, <a href="http://en.wikipedia.org/wiki/Motion_planning">motion planning</a>, and <a href="http://en.wikipedia.org/wiki/Control_theory">control</a>. But I won't go into any of that here because I believe it's beyond the scope of what you are asking.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1016" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1016">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1016" class = 'collapse'>
			</div>
				<textarea id = "speech-1016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1016">
					<img id="start_img-1016" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1016">Comment</button>
			<br><div id = "ans-1019"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1019" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was in your situation when I made that video, but DaemonMaker, my friend who studies Robotics, helped immensely.</p>

<p>I can't really add much beyond <a href="https://robotics.stackexchange.com/a/1016/37">what DaemonMaker said</a> because my focus is on stroke planning and automatic painting and most of my work runs on simulated brushes and simulated canvas.</p>

<p>I'm preparing my techniques for profit and publication and wouldn't disclose them on a public forum. However, there are other methods out there, to control the robot, such as those mentioned by Aaron Hertzmann in <a href="http://www.mrl.nyu.edu/publications/hertzmann-thesis/" rel="nofollow noreferrer">Algorithms for Rendering in Artistic Styles</a></p>

<blockquote>
  <p>We describe new algorithms and tools for generating paintings, illustrations, and animation on a computer. These algorithms are designed to produce visually appealing and expressive images that look hand-painted or hand-drawn. In many contexts, painting and illustration have many advantages over photorealistic computer graphics, in aspects such as aesthetics, expression, and computational requirements. We explore three general strategies for non-photorealistic rendering</p>
</blockquote>

<p>This technology has been around for a long time and if you're mostly interested in the robot, you can use this instead of worrying about control.</p>

<p>Hertzmann's algorithm depends on comparisons between the canvas and the reference image. If you want to do it with a robot, you'll need a camera to photograph the painting before and after every brush stroke. You'll also probably need computer vision algorithms to negate lens distortion, align the canvas and reference images, and adjust color biases from the illumination.</p>

<p>It's good to see fresh interest in the subject.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1019" data-toggle = "popover">
				<p>user name : abstractcement</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-1019">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1019">Load Comments</button></br>
			<div id = "commentsection-1019" class = 'collapse'>
			<div id = "comment-2388" class = "comment">
				<p>Hey, Mark.  Thanks for all of your tips.  I know what it's like to moderate a community with standards, and have people disrespect them.  It's a mostly thankless job, but you're doing a great job of plucking the trolls so a good community can thrive.</p>
			</div>
			<div id = "comment-2393" class = "comment">
				<p>Stack exchange is fantastically civilised compared to many places on the net, as we try to encourage people to be helpful and friendly. So far I haven't come across anyone being disrespectful on *robotics* yet and I've only had to deal with 6 flags since I became a [protem moderator](http://meta.robotics.stackexchange.com/q/143/37) two months ago. I would certainly never consider someone to be disrespectful when they simply because they were new to stack exchange. That's why I'm happy to take the time to help people learn.</p>
			</div>
			</div>
				<textarea id = "speech-1019" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1019">
					<img id="start_img-1019" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1019">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>