<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How should we get a question updated for a new version?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2918" class = "post">
			<h2>Question</h2>
			<div id="vote-2918" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How should we get a question updated for a new version?</h2>
<p>I was googling how to find the location of backups on iTunes and how to change their locations, but the answers are around 3 years old. What is the right approach to getting these updated. </p>

<p>I could add a comment, but I believe that goes to the person who asked the question or answered the questions, but would it make the question visible again?</p>

<p>Questions that made me think of this, there is always the possibility I have not looked far enough through the question, but I think the question remains the same.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/96623/where-on-my-pc-does-itunes-store-the-backup">Where on my pc does iTunes store the backup?</a></li>
<li><a href="https://apple.stackexchange.com/questions/12857/how-to-change-the-location-where-itunes-stores-backups-of-iphones">How to change the location where iTunes stores backups of iPhones?</a></li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-2918" data-toggle = "popover">
				<p>user name : user1605665</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-2918">{'None': 0, 'discussion': 1, 'questions': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2918">Load Comments</button></br>
			<div id = "commentsection-2918" class = 'collapse'>
			<div id = "comment-6351" class = "comment">
				<p>With regard to those two specific questions, in my opinion they are not outdated and the answers are still current?</p>
			</div>
			</div>
				<textarea id = "speech-2918" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2918">
					<img id="start_img-2918" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2918">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2919"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2919" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The <a href="https://apple.stackexchange.com/help/privileges/set-bounties">bounty system</a> can draw attention to an outdated Q&amp;A. This allows you to promote the question on the site such that someone may be able to provide a more up-to-date answer or edit an existing answer. There is a specific bounty reason for this:</p>

<blockquote>
  <p>Current answers are outdated<br>
  The current answer(s) are out-of-date and require revision given recent changes.</p>
</blockquote>

<p>You can also ask another question, making sure to link to the previous question and specify how it does not answer your question due to changes. This may lead to the older question being edited to be clear that it is specific to an older version.</p>

<p>For example, a question regarding how to do a certain task  on an iPhone  may be outdated due to an updated version of iOS. By asking a separate question about how to do the task  in iOS 10 , the older question can be edited to be specific to how the task is performed  on iOS 9  or such.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2919" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2919">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2919">Load Comments</button></br>
			<div id = "commentsection-2919" class = 'collapse'>
			<div id = "comment-6360" class = "comment">
				<p>As a relatively new user to this site (only active on a regular basis for about 4 months) I've often wondered about this. For example, today I saw in the Close Votes queue [this question](http://apple.stackexchange.com/questions/261659/macos-sierra-keeps-running-out-of-application-memory). I assume the duplicate questions are [this one](http://apple.stackexchange.com/questions/255993/os-x-el-capitan-installer-app-has-crippled-my-mac-mini) and [this one](http://apple.stackexchange.com/questions/129435/after-downloading-file-installer-process-runs-and-uses-all-memory).</p>
			</div>
			<div id = "comment-6361" class = "comment">
				<p>My gut instinct is to keep the question open (it's about Sierra) as one of the others specifies El Capitan, while the other one specifies file installers and may not be found by someone trying to find an answer. But is my gut instinct right, or should we edit one (or both) of the other questions?</p>
			</div>
			<div id = "comment-6363" class = "comment">
				<p>@Monomeeth I voted to leave that open since whilst it is 'Installer' causing the problem it's not the *actual* macOS Installer.app unlike those other two you linked to. I think many didn't notice this given what people have responded with. Both are completely separate questions and shouldn't be marked as duplicate, regardless of OS version. (Also I've been waiting for you to join chat to say this but I wanted to personally thank you for all your contributions to Ask Different and I look forward to your participation in the future; you should absolutely not view yourself as a new user!)</p>
			</div>
			<div id = "comment-6366" class = "comment">
				<p>Thanks for your feedback. I also voted to keep that one open, so I'm glad my thinking was okay on that. And thanks for your kind words! :) I still feel like a newbie in terms of this site, but do enjoy sharing my knowledge to help others and also look forward to getting more involved and helping out as much as I can. :)</p>
			</div>
			</div>
				<textarea id = "speech-2919" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2919">
					<img id="start_img-2919" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2919">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>