<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to Thank People
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3107" class = "post">
			<h2>Question</h2>
			<div id="vote-3107" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to Thank People</h2>
<p>Now and then I find something here that is very, very helpful, and I want to thank the person who posted it, by commenting in some apposite phrases. But I can't. I need 50 'reputation' points. </p>

<p>I really haven't time to contribute to that extent, so a lot of people here are missing out on kudos. I don't wish merely to click-and-upvote, I don't experience sufficient problems to be seeking all the time for assistance. Besides, click-vote is too easy, too impersonal. Just one of the many reasons I long ago deleted my Facebook account was the culture of the inane 'Like' button. It doesn't demand any thought of the button clicker (Why do you like it? Give reasons for your approval) and is part of the widespread dumbing-down trend.</p>

<p>So, to all the brilliant, non-dumbing people here, who take and have taken the trouble to share their knowledge, and break Gordian knots for those of us in toils, please share this 'thank you' among yourselves. I'm afraid it's the only one I am currently allowed to give you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3107" data-toggle = "popover">
				<p>user name : Stephen Gard</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-3107">{'None': 0, 'discussion': 2, 'comments': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3107">Load Comments</button></br>
			<div id = "commentsection-3107" class = 'collapse'>
			<div id = "comment-6666" class = "comment">
				<p>You have to propose only 7 eligible edits (e.g. of my posts, which contain a lot of or at least some mistakes or stylistic slips) and then you are already entitled to up-vote posts!</p>
			</div>
			<div id = "comment-6667" class = "comment">
				<p>Comments are not for saying thanks or giving kudos and when one clicks on "add a comment", it states... "**Use comments to ask for more information or suggested improvements. Avoid comments like "+1" or "thanks".**" So please say your thanks by up-voting, not comments. Comments not conforming are typically flagged and deleted.</p>
			</div>
			<div id = "comment-6670" class = "comment">
				<p>You can visit the user profile, and some give a link to their Paypal or BitCoin wallet, so you can tip.</p>
			</div>
			<div id = "comment-6679" class = "comment">
				<p>I'm confused as to why this question hasn't been closed as off-topic?  The OP isn't asking 'how' to thank someone or make a site change to allow more/different ways to thank someone, he's simply saying 'thanks for helping people'.  In addition, he's aware of the site requirements for adding comments so he's already read the Help Center (which, apparently, is more than most people do).  I mean, it's nice and all, but it's still off-topic and should be closed (as I voted).</p>
			</div>
			<div id = "comment-6680" class = "comment">
				<p>@fsb "Meta Ask Different is the part of the site where users discuss the workings and policies of Ask Different" (from https://apple.stackexchange.com/help/whats-meta), asking how to thank people fits the bill quite nicely. In general practically *anything" related to topics on how the site works is on-topic on Meta.</p>
			</div>
			<div id = "comment-6681" class = "comment">
				<p>@patrix Totally agree that if the OP was asking **how** to thank people it would be on-topic.  However, he's not doing that, he's simply saying 'thanks for your help because I don't have 50 rep' (paraphrase, obviously).</p>
			</div>
			<div id = "comment-6682" class = "comment">
				<p>@fsb The rules are *very* relaxed on Meta. And the title at least is the right question :-)</p>
			</div>
			<div id = "comment-6683" class = "comment">
				<p>@patrix Ok, no problem, I was just wondering.  Thanks.</p>
			</div>
			<div id = "comment-6684" class = "comment">
				<p>See also: [Why vote?](https://apple.stackexchange.com/help/why-vote)</p>
			</div>
			</div>
				<textarea id = "speech-3107" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3107">
					<img id="start_img-3107" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3107">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3109"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3109" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You say "thank you" on the Stack Exchange network by giving their answer or question an "up vote". It's that simple.</p>

<p>From <a href="https://meta.stackexchange.com/a/126184/151364">this meta discussion on whether comments to say "thank you" are appropriate</a>: that's not really what comments are for. They're for:</p>

<blockquote>
  <p><strong>When should I comment?</strong></p>
  
  <p>You should submit a comment if you want to:</p>
  
  <ul>
  <li>Request clarification from the author;</li>
  <li>Leave constructive criticism that guides the author in improving the post;</li>
  <li>Add relevant but minor or transient information to a post (e.g. a link to a related question, or an alert to the author that the question has been updated).</li>
  </ul>
  
  <p><strong>When shouldn't I comment?</strong></p>
  
  <ul>
  <li>Compliments which do not add new information ("+1, great answer!"); instead, up-vote it and <a href="https://stackoverflow.com/questions/how-to-answer">pay it forward</a>;</li>
  </ul>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3109" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-3109">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3109">Load Comments</button></br>
			<div id = "commentsection-3109" class = 'collapse'>
			<div id = "comment-6685" class = "comment">
				<p>And if you *really* want to thank someone, earn some reputation points and award them a bounty.</p>
			</div>
			</div>
				<textarea id = "speech-3109" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3109">
					<img id="start_img-3109" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3109">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>