<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I remove my down-vote I made by mistake
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2461" class = "post">
			<h2>Question</h2>
			<div id="vote-2461" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 26</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I remove my down-vote I made by mistake</h2>
<p>I recently accidentally down-voted an answer without realising (think it was because of a miss click when scrolling on the iOS app). The only issue is I cannot remove that down-vote now because of this error.</p>

<p><img src="https://i.stack.imgur.com/JDmME.png" alt="enter image description here"></p>

<p>Would any mod/admin be kind enough to remove it (and give my back my 1 reputation) please?</p>

<p>Thanks for your help and any inconvenience I have caused.</p>

<p>The link to the post I down-voted is here: <a href="https://apple.stackexchange.com/questions/102271/cannot-access-vital-boot-options-on-mac-pro-with-os-x-lion/127955#127955">Cannot access vital boot options on Mac Pro with OS X Lion</a> (it scrolls to the answer)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2461" data-toggle = "popover">
				<p>user name : iProgram</p>
				<p> user reputation : 1598</p>
				<p class = "tagcontent" id = "usertaginfo-2461">{'None': 3, 'tags': 3, 'support': 5, 'closed-questions': 1, 'feature-request': 3, 'questions': 1, 'discussion': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2461" class = 'collapse'>
			</div>
				<textarea id = "speech-2461" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2461">
					<img id="start_img-2461" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2461">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2462"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2462" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've edited the question slighly, you should be able to undo your vote now.</p>

<p>OTOH, down voting that answer isn't totally unjustified...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2462" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2462">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2462">Load Comments</button></br>
			<div id = "commentsection-2462" class = 'collapse'>
			<div id = "comment-5622" class = "comment">
				<p>Thanks. What do you mean bi OTOH?</p>
			</div>
			<div id = "comment-5623" class = "comment">
				<p>"On the other hand" :-) Honestly, the answer doesn't actually provide an answer to the problem, so I'm kind of surprised that it didn't gather more down votes.</p>
			</div>
			<div id = "comment-5624" class = "comment">
				<p>Ah, ok. I didn't even read the answer which is why I didn't want it down-voted. That's why I didn't down-vote.</p>
			</div>
			</div>
				<textarea id = "speech-2462" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2462">
					<img id="start_img-2462" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2462">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>