<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to connect a servo motor and a crank shaft
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3062" class = "post">
			<h2>Question</h2>
			<div id="vote-3062" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 588</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to connect a servo motor and a crank shaft</h2>
<p>I have a standard 5v </p>

<p><a href="https://i.stack.imgur.com/6Iv4e.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6Iv4em.jpg" alt="enter image description here"></a></p>

<p>I am using the horn it came with it, I mean this piece: </p>

<p><img src="https://i.stack.imgur.com/aQJxo.jpg" alt="enter image description here"></p>

<p>Like the long arm in the middle. Each of its holes are 1mm diameter.</p>

<p>Then I have a 3d printed crankshaft I did:</p>

<p><img src="https://i.stack.imgur.com/i5JGD.png" alt="enter image description here"></p>

<p>Its holes are also 1 mm. So while the servo horn is attached to the servo, I attach this crank to the horn in order to lift or lower a small scructure.</p>

<p>What I am not sure is hot to connect these 2 pieces (horn and 3d printed crankshaft). So far I have been using a paper clip, and at both end of it I placed 2 blobs of tin using a soldering iron. This has worked for nearly a year, but today I failed, and I was wondering if there's something more specific for my problem, which seems something common.</p>

<p>I have seen some people use something called Dubro EZ connector, but it seems an overkill, plus it won't have space for my 3D printed piece. Some people seems to use a clevis pin, but I cannot find any with a diameter of less than 1.</p>

<p>So my question is, how can I fix it? What can I put at both ends to stop if from slipping away? I have already tried simple things like simply bending it.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3062" data-toggle = "popover">
				<p>user name : Dr Sokoban</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-3062">{'None': 0, 'rcservo': 1, 'mechanism': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3062">Load Comments</button></br>
			<div id = "commentsection-3062" class = 'collapse'>
			<div id = "comment-5556" class = "comment">
				<p>Why wouldn't a nut and bolt work in this situation?  Why isn't drilling a larger hole an option?  If clevis pins aren't available in such a small size, did you look at retaining rings (circlips)?</p>
			</div>
			<div id = "comment-6629" class = "comment">
				<p>Thank you very much for your answer. I cannot use bolt and nut because I need the bolt to be flat in order to allow for rotation. I can get bolts with a flat part, but not as small as I need. Regarding the circlips, thank you, I didn't know they existed, but I am having a similar problem, because I need like 1 mm diameter.</p>
			</div>
			<div id = "comment-6633" class = "comment">
				<p>Rivets might also be something to check out.</p>
			</div>
			<div id = "comment-6745" class = "comment">
				<p>Thank you for your tip. I had to check what's a rivet. it seems I would need a gun, which I don't have, and they might tight too tightly.</p>
			</div>
			<div id = "comment-9663" class = "comment">
				<p>@DrSokoban, did you finally come up with a solution? If so, do not hesitate to write up an answer for your own question. This way, future visitors would also benefit from your solution.</p>
			</div>
			<div id = "comment-9685" class = "comment">
				<p>@Shahbaz I didnt. Still using the old crappy system. I am welcome for new alternatives.</p>
			</div>
			</div>
				<textarea id = "speech-3062" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3062">
					<img id="start_img-3062" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3062">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>