<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to implement the Wavefront algorithm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1603" class = "post">
			<h2>Question</h2>
			<div id="vote-1603" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1430</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to implement the Wavefront algorithm</h2>
<p>I am thinking of creating a robot that can navigate using a map. It is controlled from a PC. An 8-bit controller performs low level tasks and the PC is doing the image processing. I plan to implement it in a single room where the robot is placed and the robot and environment are tracked by a camera from a height or from the ceiling of the room. First, the robot needs to be mapped, like this <a href="http://www.societyofrobots.com/programming_wavefront.shtml" rel="nofollow">http://www.societyofrobots.com/programming_wavefront.shtml</a></p>

<p>To do:</p>

<ul>
<li>Track the robot from some height  using camera Following the
wavefont algorithim to locate robot and obstacles.</li>
</ul>

<p><strong>Procedure:</strong>(just my idea)</p>

<p>The camera will give image of the robot surrounded by obstacles in the random places.
 using some opencv technique draw some grind over the image. </p>

<ul>
<li><p>Locating the  grid which contain  robot(by having some colored
symbol over the robot) and locating the grids containing the 
obstacle.</p></li>
<li><p>Now the grids with obstacle is thought as wall and the remaining is
the free space for the robot to navigate.</p></li>
<li><p>robot is going to get  the goal place which should be reached is
given from the pc(may be like point the place to reach in the image
by mouse click).</p></li>
</ul>

<p><strong>Unknowns</strong> :</p>

<ul>
<li>Mapping the room and locating the robot</li>
</ul>

<p>How  to do that? The robot should know where it is in the map or the image. We cannot believe only the camera is enough to locate the robot. So I thought of adding <strong><em>triangulation</em></strong> mapping like placing two IRs in the room and a receiver in the robot.</p>

<p>The doubt I have in this is how an IR receiver can know from which direction it is receiving the IR signal (from left or right ). I think it knows only that it receives IR not the direction. Then how is the triangulation going to happen if I don't know the angle and direction?</p>

<ul>
<li>coming to the image processing, how can I implement the Wavefront
   algorithm(that is capture the live vedio and draw grids over it to
   find robot and the obstacles)?</li>
</ul>

<p>I have HC-05 Bluetooth module, Arduino, Bluetooth dongle, chassis with dc motors and driver, and a dc supply.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1603" data-toggle = "popover">
				<p>user name : Vignesh Vicky</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1603">{'None': 0, 'mapping': 2, 'algorithm': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1603">Load Comments</button></br>
			<div id = "commentsection-1603" class = 'collapse'>
			<div id = "comment-3336" class = "comment">
				<p>I'm unclear as to what you are asking. The title implies you are looking for information on implementing the wavefront algorithm but the body of the text seems more focused on localization, i.e. determining where one is at on a map. Would you please clarify?</p>
			</div>
			<div id = "comment-3425" class = "comment">
				<p>Welcome to Robotoics, VV... your "How to do that" is quite a big "How to do..." Please focus the question abit...</p>
			</div>
			<div id = "comment-3426" class = "comment">
				<p>ya it is big.if i edit it to small, people will asks for extra information</p>
			</div>
			</div>
				<textarea id = "speech-1603" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1603">
					<img id="start_img-1603" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1603">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2176"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2176" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The camera is enough to locate the robot if its mounted high enough,unless the robot is hidden by furniture. If the furniture hides the robot from the camera, it will hide it from a
IR Beacon.
If you start the robot in a visible position, don't have too much cover, and use dead reckoning when under cover, you should be okay.The dead reckoning will add error to the robot's known position, but really, how much time is it going to spend underneath a table?
The position can be corrected when the robot comes back into view.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2176" data-toggle = "popover">
				<p>user name : Mhz4.77</p>
				<p> user reputation : 475</p>
				<p class = "tagcontent" id = "usertaginfo-2176">{'None': 30}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2176" class = 'collapse'>
			</div>
				<textarea id = "speech-2176" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2176">
					<img id="start_img-2176" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2176">Comment</button>
			<br><div id = "ans-2179"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2179" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First run the Canny edge detector on the captured image. Next dilate the edges by 1 or 2 pixels in the image. Then search the colour image for what ever colour you are looking for. generally pure R,G,or B are good as they aren't very natural. This allows you to localize in the image. Now run the wave front algorithm in the Canny image. It's not very hard to implement its just breadth first search where neighbours are pixels and pixels with value 255 (white) aren't added to the search queue as they are walls. You may want to convert the canny image from 8bit to 16bit so that you can move more than 255 pixels. </p>

<p>The only problem is that is assumes the ground plane has no edges (i.e. not tile or hardwood floor) and it can't deal with obstacles like tables that one can navigate under. </p>

<p>In order to remedy this you would have to find the ground plane somehow. This could be done with a stereo camera or a Kinect. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2179" data-toggle = "popover">
				<p>user name : en4bz</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-2179">{'mobile-robot': 6, 'None': 2, 'ros': 6, 'kalman-filter': 6, 'ekf': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2179" class = 'collapse'>
			</div>
				<textarea id = "speech-2179" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2179">
					<img id="start_img-2179" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2179">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>