<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How are the optical encoders used in platforms like Rover 5?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1911" class = "post">
			<h2>Question</h2>
			<div id="vote-1911" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 455</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How are the optical encoders used in platforms like Rover 5?</h2>
<p>I just got my rover 5 chassis with 4 motors and 4 <a href="http://en.wikipedia.org/wiki/Rotary_encoder#Incremental_rotary_encoder" rel="nofollow">quadrature encoders</a> and I am trying to utilize the optical encoders. I know the encoders generate pulse signals which can be used to measure speed and direction of the motor.</p>

<p>I want to know how 4 separate optical encoders add value for the controller of rover 5 like platform. The controller normally uses PWM to control the speed of the motor. If two motors are running at same speed then the encoder output will be same. So, why should the controller monitor all 4 encoders?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1911" data-toggle = "popover">
				<p>user name : Punit Soni</p>
				<p> user reputation : 134</p>
				<p class = "tagcontent" id = "usertaginfo-1911">{'control': 6, 'None': 0, 'algorithm': -1, 'arduino': 0, 'c': -1, 'kinematics': 5, 'motor': 1, 'mobile-robot': 0, 'pwm': -1, 'movement': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1911">Load Comments</button></br>
			<div id = "commentsection-1911" class = 'collapse'>
			<div id = "comment-3929" class = "comment">
				<p>Welcome to *Robotics* Punit Soni, I've tidied up your question a little, added a link for quadrature encoders and removed your redundant subsidiary question.</p>
			</div>
			</div>
				<textarea id = "speech-1911" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1911">
					<img id="start_img-1911" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1911">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1913"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1913" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two use cases i can think of, which benefits of individual motor feedback. </p>

<ul>
<li><p>If you are moving in strait line, you need to have both sides synced. </p></li>
<li><p>You can have motor that will degrade over the time and will not stay in sync with the other one at the same side (in case you control them by only one encoder), which will fail rolling the caterpillar band.</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1913" data-toggle = "popover">
				<p>user name : Gossamer</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-1913">{'None': 18}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1913" class = 'collapse'>
			</div>
				<textarea id = "speech-1913" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1913">
					<img id="start_img-1913" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1913">Comment</button>
			<br><div id = "ans-1914"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1914" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are running the Rover 5 in a tracked configuration then, as you rightly point out, the two wheels on each side should rotate at equal speeds meaning that half of the sensors are redundant.
If you swap the tracks out for the mecanum wheels then the four encoders have more of a benefit.</p>

<p>It probably also makes sense from a manufacturing point of view to keep all the motor/encoder units the same. The increased cost of manufacture may be offset by the reduced complexity.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1914" data-toggle = "popover">
				<p>user name : Matthew Gordon</p>
				<p> user reputation : 303</p>
				<p class = "tagcontent" id = "usertaginfo-1914">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1914">Load Comments</button></br>
			<div id = "commentsection-1914" class = 'collapse'>
			<div id = "comment-3964" class = "comment">
				<p>Thanks, I am thinking of monitoring two encoder outputs, one for each side, as I am using the rover in tracked configuration</p>
			</div>
			</div>
				<textarea id = "speech-1914" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1914">
					<img id="start_img-1914" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1914">Comment</button>
			<br><div id = "ans-1917"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1917" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No two motors will ever turn with the same angular velocity given the same voltage. If you power each of your Rover 5 motors with 12V (I don't know what they're rated for), you'll see that each motor will spin at slightly different speeds. If you want to guarantee you're traveling in a straight line, you need to implement velocity control on both wheels. One method of doing this is implementing a PID controller on the drive wheels to ensure their velocity is the same, based on encoder ticks per unit time. Otherwise (let's assume you have two wheels that are driving the vehicle) one wheel will turn faster than the other, and you'll slowly drift in one direction.</p>

<p>However, you may want to turn a vehicle with no steering control! That means you want to turn your drive wheels at different velocities (albeit this will cause your wheels to slip horizontally and thus cause you to lose some traction/power), and so you need two different encoders that will be the input to two different velocity controllers. For a tank like system, if the front left wheel encoder is ticking and the rear left wheel encoder is NOT ticking, then maybe your tread has fallen off! It's really very useful to create a robust system.</p>

<p>Edit: Man I keep editing and adding more stuff...having multiple encoders will also allow you to identify failures. If you see that one wheel has stopped moving, it could be stuck on something and/or broken! This could allow you to halt the system and tell the operator that a mechanical failure has occurred with, for example, the front left wheel. This can only be done if you have more than one encoder.</p>

<p>As a side note, it's always good to have a redundant system in case one breaks!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1917" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-1917">{'None': 54}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1917">Load Comments</button></br>
			<div id = "commentsection-1917" class = 'collapse'>
			<div id = "comment-3930" class = "comment">
				<p>thanks andrew. your answer helps with many questions i had.</p>
			</div>
			</div>
				<textarea id = "speech-1917" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1917">
					<img id="start_img-1917" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1917">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>