<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make sense of IMU (BNO055) data
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11618" class = "post">
			<h2>Question</h2>
			<div id="vote-11618" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 228</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make sense of IMU (BNO055) data</h2>
<p>I have a project that I'm working on that needs data about which directions something has moved and how quickly from a given point (accelerometer and magnetometer?). I have the working python code for the BNO055, I'm just having trouble interpreting it. I guess these are my specific questions:</p>

<ul>
<li>Is the data from a starting point (doesn't seem likely) or a set time period that continues? If so, what is that time interval? Do I define it by how often I ask for the data?</li>
<li>Is magnetometer and accelerometer data what I should be using for my task?</li>
<li>What is a <strong>rough</strong> pseudocode outline for how I could convert this data into something easier to understand (i.e. an updating distance or x,y,[z] coord system)</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-11618" data-toggle = "popover">
				<p>user name : traw1234</p>
				<p> user reputation : 5</p>
				<p class = "tagcontent" id = "usertaginfo-11618">{'python': 0, 'reinforcement-learning': 0, 'None': 0, 'imu': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11618">Load Comments</button></br>
			<div id = "commentsection-11618" class = 'collapse'>
			<div id = "comment-20809" class = "comment">
				<p>Whose code are you using? I think knowing that will change the answer. For example, Adafruit's code for their dev board can output multiple types of information: https://learn.adafruit.com/adafruit-bno055-absolute-orientation-sensor/overview . As far as a mag/accel being the right combination of sensors for your task, it depends on what "something" is and how much accuracy you're looking for over what time scale.</p>
			</div>
			<div id = "comment-20814" class = "comment">
				<p>I'm using a modified version off that code (same output, just to work on a different platform). Something is a hexapod robot and I'm planning on building a reinforcement learning algorithm to teach it how to walk, but need certain data to assess whether or not it has gotten to a certain point.</p>
			</div>
			</div>
				<textarea id = "speech-11618" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11618">
					<img id="start_img-11618" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11618">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11637"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11637" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So, it sounds like you're trying to get rough odometry of a hexapod using a accelerometer and magnetometer. You are right to be choosing a sensor to get lateral and angular accelerations, but I think the magnetometer is not as good of a choice as a MEMS gyroscope, which should be about the same price but not affected by magnetic fields. In my experience, the environment indoors is not a terribly friendly one for magnetometers, as there are a lot of pieces of metal around, and even less friendly when you're near a source of stray electromagnetic fields (like near motors). That answers your second question, I think.</p>

<p>For the first question, according to the API I sent and you confirmed, the data that comes to you from the sensor is some form of the instantaneous acceleration and magnetic field "felt by" the sensor when you read it.</p>

<p>As far as your third question, there's no simple answer, but I'd refer you to this question: <a href="https://stackoverflow.com/questions/26476467/calculating-displacement-using-accelerometer-and-gyroscope-mpu6050">https://stackoverflow.com/questions/26476467/calculating-displacement-using-accelerometer-and-gyroscope-mpu6050</a> .</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11637" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-11637">{'None': 50}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11637">Load Comments</button></br>
			<div id = "commentsection-11637" class = 'collapse'>
			<div id = "comment-20846" class = "comment">
				<p>That is definitely what I was looking for. I noticed the error racked up very quickly when trying to implement distance from the accelerometer. Do you have any other suggestions/options for distance traveled calculations? Also, would it make any difference that the BNO055 has built in sensor fusion?</p>
			</div>
			<div id = "comment-20941" class = "comment">
				<p>I'm sorry I don't have much experience with legged robots; I take decent odometry for granted! Maybe you can use some sort of point rangefinder to keep track of movement relative to static objects in the environment? Unfortunately, just integrating accelerations is going to drift over time without some way to close the loop.</p>
			</div>
			</div>
				<textarea id = "speech-11637" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11637">
					<img id="start_img-11637" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11637">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>