<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to choose the right propeller~motor combination for a quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-25" class = "post">
			<h2>Question</h2>
			<div id="vote-25" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">37</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 64667</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to choose the right propeller~motor combination for a quadcopter?</h2>
<p>There are many sites which explain briefly this problem and even propose combinations. I however would like a much more detailed explanation. What is going to give my quad the most agility? Do I need bigger motors/props in a heavy quad to achieve the same level of agility than in a lighter quad?</p>

<p><strong>EDIT:</strong>
Here is what I have understood on the subject:</p>

<ul>
<li>A quadcopter doesn't need high revving motors as there are 4 propellers providing thrust and high revving motors require more battery power.</li>
<li>Larger propellers give more thrust per revolution from the motor.</li>
</ul>

<p>The question is focused more on the general characteristics of various combinations but some specific questions do spring to mind: </p>

<ol>
<li>For a given combination what would be the effect of upgrading propeller size in comparison to installing higher revving motors?</li>
<li>What changes would need to be made to lift a heavier quad?</li>
<li>How can I achieve more agility in my quad?</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-25" data-toggle = "popover">
				<p>user name : klonq</p>
				<p> user reputation : 288</p>
				<p class = "tagcontent" id = "usertaginfo-25">{'quadcopter': 37, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-25">Load Comments</button></br>
			<div id = "commentsection-25" class = 'collapse'>
			<div id = "comment-48" class = "comment">
				<p>Are you looking for the best prop/motor combination with manoeuvrability in mind, or just generally "the best"? I had a good look around a while ago for a combination that would simply lift my quadrotor's weight off the ground. I'm interested what the factors would be governing agility.</p>
			</div>
			<div id = "comment-50" class = "comment">
				<p>@JamWaffles I think the question is what properties of the components give what properties of the quadcopter overall?</p>
			</div>
			<div id = "comment-54" class = "comment">
				<p>@JamWaffles see my edits</p>
			</div>
			<div id = "comment-360" class = "comment">
				<p>Just some anecdotal info: the two stores I buy from - aeroquadstore.com and towerhobbies.com - have a table showing, among other things, prop specs vs. oz of lift on *some* of their brushless motors, this may be a good place to start to get some preliminary data, though I find both stores to be too pricy to be competitive.</p>
			</div>
			<div id = "comment-11049" class = "comment">
				<p>Something I'm struggling to find a answer to is the combination between prop and motor. So I'm starting to build my first quad. I've gone for a 400kv motor with 6900rpm and a 10x6 prop. I know the frame I have can take a 12" prop but what can the motor take? There doesn't seem to be this information around. I want to get a 12x10 prop at some stage, maybe even bigger if I get a larger frame, could my motors handle this?
Again, what could my motors take before it starts to put much strain on them?</p>
			</div>
			<div id = "comment-11050" class = "comment">
				<p>Welcome to *robotics* Simon Brown, but on Stack exchange *answers* need to answer the question. If you have a question, it should be asked as a new question (ideally referencing the original question if it related to another one). Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-25" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-25">
					<img id="start_img-25" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-25">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-125"  class = "post">
				<h2>Answer</h2>
			<div id="vote-125" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">27</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Choosing the correct prop/motor combination can be challenging.  Even worse, the vast majority of RC motors will have vague or non-existant specifications.  This makes it very hard to do "real" math.  Instead you will have to rely on prop thrust ratings or use a known combination that other people have tested.</p>

<p>Propellers:
Manueverability of a quad is dependent on how quickly you can change the thrust (how fast you can change the RPM of the props). </p>

<p>A smaller prop is easier to speed up and slow down whereas a large prop takes a very long time to change speeds.  Beyond a certain size you essentially are unable to fly.  This is why you see hexacoptors and octocopters that use more, smaller props instead of giant quadrotors.</p>

<p>On the flipside, propeller efficiency is related to the area of a prop (or radius squared) so a small increase in prop diameter will make the quad vastly more efficient.</p>

<p>The faster you want to go, the more aggressive a pitch you want.  Since quadrotors are generally hovering this means you want the lowest pitch available.  If you want to go somewhere fast a higher pitch might be apropriate.</p>

<p>Motors:
Generally you just choose a motor that matches the given prop.  Having a motor that is too large will be heavy, and a motor that is too small will perform poorly or burn up.</p>

<p>A smaller prop requires a higher RPM motor because they must spin faster to generate equivalent lift.</p>

<p>If you put everything together, an efficient quad will have properly sized, low RPM motors with very large props.<br>
An acrobatic quad will want smaller, more aggressive props, faster motors, and you might even overvolt the motors for faster response.</p>

<p>While you will be hard pressed to find torque curves for Rc motors, you will have thrust and current ratings for a given prop which makes it fairly straightforward to determine how much you can lift and approximately how long you can fly once you have chosen a combinatoin.</p>

<p>As a general rule you want a 2:1 thrust/weight ratio for a standard quad and 3:1 or higher for something acrobatic.  1.5:1 has been known to fly.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-125" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-125">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-125">Load Comments</button></br>
			<div id = "commentsection-125" class = 'collapse'>
			<div id = "comment-10509" class = "comment">
				<p>Out of this I would be able to conclude that an "acrobatic" would also be less stable?
Or does the higher RPM make up for this? And simply the ability to change RPM fast make it 'unstable in a controlled way' so that you can quickly turn?</p>
			</div>
			</div>
				<textarea id = "speech-125" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-125">
					<img id="start_img-125" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-125">Comment</button>
			<br><div id = "ans-183"  class = "post">
				<h2>Answer</h2>
			<div id="vote-183" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just to add to <a href="https://robotics.stackexchange.com/a/125/40">user65's good answer</a>.</p>

<p>Rapid rotation about a horizontal axis will come from a large difference between the thrust produced by opposite motors. The larger the difference, the greater the rotation rate. So motors that can produce much more thrust than is needed to simply hold the 'copter in the air will help to achieve fast rotations.</p>

<p>Rapid rotation about the vertical axis comes from a large difference in torque between one opposite pair and the other. So now you need not only plenty of spare thrust, but also a lot of propeller drag.</p>

<p>Sadly, both of these requirements (spare thrust, and prop drag) imply lower efficiency.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-183" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-183">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-183" class = 'collapse'>
			</div>
				<textarea id = "speech-183" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-183">
					<img id="start_img-183" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-183">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>