<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I dispense a greasy fluid?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7881" class = "post">
			<h2>Question</h2>
			<div id="vote-7881" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I dispense a greasy fluid?</h2>
<p>I'm a agricultural engineering student and complete newbie trying to build a simple mechanism attached to a drone that dispenses a <a href="http://ocp.com.au/wp-content/uploads/2014/07/ISCA+SPLAT+Bloom+MSDS.pdf" rel="nofollow">grease-type fluid</a>. However, since I'm not familiar with the field, I'm having a hard time googling because I don't know the correct terms to search for. </p>

<p>I'm looking for a mechanism that will remotely push the grease out. The problem is carrying the necessary weight for an hectare (300g to 1,5kg of fluid) and the dispenser mechanism within the drone. So I'm looking for a lightweight dispenser mechanism capable of deliver small amounts of this fluid (3g) distributed on the trees canopy. The grease do not need to be heated as it flows naturally in normal temperatures (like a toothpaste). Both pump or syringe-type arrangement would be fine as long as I can control it remotely.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7881" data-toggle = "popover">
				<p>user name : Tiago Pereira</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-7881">{'quadcopter': 3, 'None': 0, 'battery': 3, 'design': 3, 'motor': 3, 'actuator': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7881">Load Comments</button></br>
			<div id = "commentsection-7881" class = 'collapse'>
			<div id = "comment-11481" class = "comment">
				<p>You say "grease-type fluid". What exactly is it, and will it liquefy/flow at your expected operating temperature?</p>
			</div>
			<div id = "comment-11483" class = "comment">
				<p>Are you looking for a type of pump or syringe-type arrangement?</p>
			</div>
			<div id = "comment-11512" class = "comment">
				<p>On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted), as I've done with your duplicate comment on my answer.</p>
			</div>
			</div>
				<textarea id = "speech-7881" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7881">
					<img id="start_img-7881" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7881">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7887"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7887" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is difficult to answer your question without more details, but there are a number of design options for <a href="https://en.wikipedia.org/wiki/Pump" rel="nofollow noreferrer">pumps</a>, the two most obvious being the <a href="https://en.wikipedia.org/wiki/Metering_pump" rel="nofollow noreferrer">Metering pump</a> and the <a href="https://en.wikipedia.org/wiki/Peristaltic_pump" rel="nofollow noreferrer">Peristaltic pump</a>.</p>

<p>A Metering pump delivers precise amounts of fluid, but relies on seals which may require ongoing maintenance:</p>

<p><a href="https://en.wikipedia.org/wiki/File:Metering_pump_head.PNG" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/dOUE4.png" alt="Metering pump head CC-BY-SA"></a></p>

<p>Peristaltic pump is more appropriate for a more continuously pumped fluid, but where metered flow might be needed. It does require your fluid to be appropriate for the flexible pipe needed to make it however:</p>

<p><a href="https://en.wikipedia.org/wiki/File:Peristaltic_pump.gif" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Qbijv.gif" alt="Peristaltic pump CC-BY-SA"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7887" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-7887">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7887">Load Comments</button></br>
			<div id = "commentsection-7887" class = 'collapse'>
			<div id = "comment-11487" class = "comment">
				<p>Good answer, but those may be hard to implement depending on the viscosity of the fluid (grease) to be pumped. It may be possible to put a heater on the fluid reservoir and pump, but as you and I have both mentioned, it's hard to give advice when the problem is so vague!</p>
			</div>
			</div>
				<textarea id = "speech-7887" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7887">
					<img id="start_img-7887" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7887">Comment</button>
			<br><div id = "ans-7909"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7909" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like the simplest option would be to put the grease into a pressurized container (e.g. spring-loaded) and control the metering by just opening and closing the valve.  That would mean you just need a <a href="https://en.wikipedia.org/wiki/Solenoid_valve" rel="nofollow">solenoid valve</a> to control the opening and closing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7909" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7909">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7909" class = 'collapse'>
			</div>
				<textarea id = "speech-7909" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7909">
					<img id="start_img-7909" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7909">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>