<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to Identify Objects in Space
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-845" class = "post">
			<h2>Question</h2>
			<div id="vote-845" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 157</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to Identify Objects in Space</h2>
<p>Using a depth sensing camera like Kinect, I would like to retrieve the position of an predetermined object (e.g. a cup, fork etc so that I would ultimately be able to grab the object). What would be a way to achieve this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-845" data-toggle = "popover">
				<p>user name : Jon</p>
				<p> user reputation : 68</p>
				<p class = "tagcontent" id = "usertaginfo-845">{'None': 0, 'computer-vision': 5, 'algorithm': 5, 'design': 8, 'servos': 8, 'arm': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-845">Load Comments</button></br>
			<div id = "commentsection-845" class = 'collapse'>
			<div id = "comment-2112" class = "comment">
				<p>In its current form this question is very complicated. If you could offer some additional information you may get more traction. Specifically, are we to assume that you already know how to how to identify the cup in the point cloud returned by the Kinect? Similarly, do you already know how to generate the grasp required once you know the coordinates of the object?</p>
			</div>
			<div id = "comment-2114" class = "comment">
				<p>I've tried to narrow the scope. I would first like to learn to identify an object in space (e.g. by analyzing the point cloud from the Kinect)</p>
			</div>
			</div>
				<textarea id = "speech-845" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-845">
					<img id="start_img-845" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-845">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-847"  class = "post">
				<h2>Answer</h2>
			<div id="vote-847" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want to recognise a predetermined object (so one that you have seen before) in a 3d scene. It seems this would work similar to the 2d case: using features. Only in this case using <a href="http://pointclouds.org/documentation/tutorials/how_features_work.php#how-3d-features-work" rel="nofollow">3d feature</a> extractors/descriptors. You provide your model (so the object that you have seen before), and find salient features in the model. In your new scene you also perform feature extraction and then compare the features with your model. If they match well enough, you have found your object. Have a look at the <a href="http://pointclouds.org/documentation/tutorials/correspondence_grouping.php#correspondence-grouping" rel="nofollow">pcl tutorials</a> on the subject.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-847" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-847">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-847" class = 'collapse'>
			</div>
				<textarea id = "speech-847" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-847">
					<img id="start_img-847" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-847">Comment</button>
			<br><div id = "ans-937"  class = "post">
				<h2>Answer</h2>
			<div id="vote-937" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You probably want to do this, check it out. They also have code <a href="http://personalrobotics.ri.cmu.edu/projects/moped.php" rel="nofollow">http://personalrobotics.ri.cmu.edu/projects/moped.php</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-937" data-toggle = "popover">
				<p>user name : bendervader</p>
				<p> user reputation : 197</p>
				<p class = "tagcontent" id = "usertaginfo-937">{'None': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-937">Load Comments</button></br>
			<div id = "commentsection-937" class = 'collapse'>
			<div id = "comment-2236" class = "comment">
				<p>It helps to add as much content as you can _here_ so that if the content on the other end of the link changes, it is still relevant.</p>
			</div>
			<div id = "comment-2237" class = "comment">
				<p>Unfortunately, the topic is not simple, and remains an interesting research problem. The link above summarizes everything quite well. The moped framework is also PhD thesis that you can find here http://www.ri.cmu.edu/publication_view.html?pub_id=7326 (the content on this link will not change)</p>
			</div>
			</div>
				<textarea id = "speech-937" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-937">
					<img id="start_img-937" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-937">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>