<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to protect the milk in a homemade vending machine?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1660" class = "post">
			<h2>Question</h2>
			<div id="vote-1660" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 662</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to protect the milk in a homemade vending machine?</h2>
<p>I am working on a homemade vending machine project that serves milk and cookies, using arduino and some basic servos and stuff.</p>

<p>The problem is: I really have no clue on how to protect the milk to last long, or how to even know if the milk is still ok to drink.. All I really know is that air is bad for the milk (and the cookies), so here is what I came up with:</p>

<p><img src="https://i.stack.imgur.com/mGUMy.png" alt="enter image description here"></p>

<p>Two solenoids that activates at the same time, to allow air in, and milk out. All of this should be inside a "slightly" colder place.</p>

<p>I'm sure this design might sound stupid to some of you, but this is where I need your help please, do you think this design can work ? (Would that solenoid on top make any difference to protect milk?) How to improve it to make the milk last as long as possible ?</p>

<p>I'v heard about the big guys making machines that keep milk fresh for weeks even months, while i'm probably sure my milk won't stand a couple of hours..</p>

<p>Any idea or any information, link, or clue would be greatly appreciated. Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1660" data-toggle = "popover">
				<p>user name : Reacen</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-1660">{'None': 0, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1660">Load Comments</button></br>
			<div id = "commentsection-1660" class = 'collapse'>
			<div id = "comment-3485" class = "comment">
				<p>This question may be slightly offtopic for this site.  Regarding the milk itself, industrial (i.e. cafeteria-style) milk dispensation is done by putting the milk in bags, and letting the bag collapse as the milk drains -- no air is introduced.  For example, look at this [product manual](http://www.silverking.com/Products/SpecSheets/SKMAJ1-2-3.pdf).</p>
			</div>
			<div id = "comment-3502" class = "comment">
				<p>try Parmalat shelf-stable milk. doesn't require refrigeration.</p>
			</div>
			<div id = "comment-3503" class = "comment">
				<p>Maybe you could use some powdered milk and add water just before serving. Water could come right from the tap, and you would only have to care about the powder's expiration date.</p>
			</div>
			</div>
				<textarea id = "speech-1660" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1660">
					<img id="start_img-1660" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1660">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1661"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1661" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Milk is readily available in plastic bags inside cardboard boxes, as illustrated in the picture below of part of a cafeteria-style milk dispenser.  Flow of milk is controlled by pinching off the white plastic tube that comes out of the bottom front edge of the box.  To resupply the machine, you get a new box of milk from a larger refrigerator, rip open a tab and pull out the white tube, put the box into the dispenser, thread the tube through the pinch-off, then cut off the seal at the bottom end of the tube.</p>

<p>Using a readily available commercial product like this probably would be a better approach than having to clean and refill a tank like that shown in your picture.</p>

<p>Picture source: <a href="http://www.hurstgreenplastics.com/products-page/" rel="nofollow noreferrer">hurstgreenplastics.com</a></p>

<p><img src="https://i.stack.imgur.com/XGun5.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1661" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1661">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1661" class = 'collapse'>
			</div>
				<textarea id = "speech-1661" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1661">
					<img id="start_img-1661" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1661">Comment</button>
			<br><div id = "ans-1664"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1664" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are concerned about the milk coming in contact with the air. I'd suggest using a plastic bag which the air from the first solenoid pours into. On expansion, the plastic bag(filled with air) will force the milk in the container to push out through the second solenoid. This way doesn't come in contact with milk. The only problem I see, which would compromise the milk, is any leaks in the bag itself. And another problem would that you'll have to find a way to drain that air in the plastic bag once all the milk is out.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1664" data-toggle = "popover">
				<p>user name : Chandough</p>
				<p> user reputation : 455</p>
				<p class = "tagcontent" id = "usertaginfo-1664">{'quadcopter': 23, 'None': 15, 'design': 1, 'multi-rotor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1664">Load Comments</button></br>
			<div id = "commentsection-1664" class = 'collapse'>
			<div id = "comment-3542" class = "comment">
				<p>Or use two bags that push against each other.</p>
			</div>
			</div>
				<textarea id = "speech-1664" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1664">
					<img id="start_img-1664" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1664">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>