<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I implement tremaux algo in arduino line follower to navigate and create map?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10743" class = "post">
			<h2>Question</h2>
			<div id="vote-10743" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 229</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I implement tremaux algo in arduino line follower to navigate and create map?</h2>
<p><a href="https://i.stack.imgur.com/tF0ln.png" rel="nofollow noreferrer">The Map<a href="https://i.stack.imgur.com/tF0ln.png" rel="nofollow noreferrer">1</a></a></p>

<p><a href="https://i.stack.imgur.com/tF0ln.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/tF0ln.png" alt="enter image description here"></a></p>

<p>The task is divided into 2 runs, In first run, We have to navigate through whole map and reach the end mark taking all checkpoints.
In second run, using the mapping from first run we have to follow the shortest path.</p>

<p>I am reading Algos and codes from days, I know the steps that should be taken,
Navigate the maze using Tremaux algo and turning right at each possble junction.
then Save that map in memory and use djikstra algo or A* algo to find the shortest path.
But how to implement it practically?</p>

<p>Also since all  the dictances and angles are known and also the wheel dia, motor rpm, bot width then Can I skip wheel encoders and use calculation instead?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10743" data-toggle = "popover">
				<p>user name : Saransh</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-10743">{'None': 0, 'algorithm': 5, 'line-following': 5, 'python': 5, 'mapping': 5, 'slam': 5, 'linux': 5, 'ros': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10743" class = 'collapse'>
			</div>
				<textarea id = "speech-10743" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10743">
					<img id="start_img-10743" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10743">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10745"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10745" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A good starting point is to solve the problem first in simulation. If the algorithm not work on a 2D map on screen it will never work on a real arduino. For inspiration github is a good ressource. There are many implementions available <a href="https://github.com/enesser/maze-solver" rel="nofollow">[1]</a> <a href="https://github.com/psrivast/MazeRobot" rel="nofollow">[2]</a>. After analyzing the sourcecode of somebody else it is time for writing the code from bottom up. In most programming languages the concept of "creating a library" is well suited for iterative development. The first methods in the library deals with pathplanning and obstacle avoidance and later additional features like "motor rotation per minute" will be added. The development cycle is testdriven, that means that after programming a small function, the code will be tried out in simulation and on a real robot. In most cases the development cycle is very slow, it is possible that even after one month of work no substantial progress is visible. Sometimes the code will result in a working robot, and sometimes not. It depends on the experience, the team and the invested workhours.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10745" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10745">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10745" class = 'collapse'>
			</div>
				<textarea id = "speech-10745" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10745">
					<img id="start_img-10745" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10745">Comment</button>
			<br><div id = "ans-11300"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11300" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would highly recommend using the encoders over estimating travel distance by rpm + time.  Estimating motor velocity is notoriously tricky.  Especially at slow speeds.  </p>

<p>A direct measurement is always better.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11300" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-11300">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11300" class = 'collapse'>
			</div>
				<textarea id = "speech-11300" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11300">
					<img id="start_img-11300" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11300">Comment</button>
			<br><div id = "ans-12399"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12399" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A good way to work once you have your map : turn your map in a weighted graph, were where the vertices are only at crosses and the weight is the length beetween the points represented by the vertices.
Then running an A* or a djikstra will be simple.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12399" data-toggle = "popover">
				<p>user name : Fab-B</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-12399">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12399" class = 'collapse'>
			</div>
				<textarea id = "speech-12399" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12399">
					<img id="start_img-12399" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12399">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>