<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to calculate quadcopter lift capabilities?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7460" class = "post">
			<h2>Question</h2>
			<div id="vote-7460" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 12435</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to calculate quadcopter lift capabilities?</h2>
<p>I'm looking for an equation (or set of equations) that would allow me to predict (with fair accuracy) how heavy a payload a <a href="http://en.wikipedia.org/wiki/Quadcopter" rel="noreferrer">quadcopter</a> is capable of lifting.</p>

<p>I assume the main variables would be the weight of the copter as well as the size + power of the 4 rotors. What general approach can one use to make such a determination?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7460" data-toggle = "popover">
				<p>user name : smeeb</p>
				<p> user reputation : 166</p>
				<p class = "tagcontent" id = "usertaginfo-7460">{'quadcopter': 10, 'None': 0, 'power': 1, 'rcservo': 0, 'battery': 0, 'wiring': 0, 'circuit': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7460" class = 'collapse'>
			</div>
				<textarea id = "speech-7460" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7460">
					<img id="start_img-7460" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7460">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7461"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7461" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Similar answer to this post:
<a href="https://robotics.stackexchange.com/questions/4463/choosing-motor-for-a-tricopter">Choosing motor for a tricopter</a></p>

<p>This depends on what you want to do with your copter.</p>

<p>Hovering: 100-150 Watt/kg <br>
ScaleFlight: 200-300 Watt/kg <br>
Some chilling acrobatic flight: 350-400 Watt/kg<br>
3D acrobatics 500+ Watt/kg<br>
Hardcore 3D 1000 Watt/kg<br></p>

<p>Just take your motors and your flight style and you got some values for the max weight of your copter</p>

<p>I also have a source for this but i know only a German one: <a href="http://www.heli-planet.de/index.php?section=auslegung_von_e_motoren" rel="nofollow noreferrer">http://www.heli-planet.de/index.php?section=auslegung_von_e_motoren</a></p>

<p>This values are pretty accurate. There are mathmatical ways to calculate the lift of your quadrotor but they are a very theoretical approach. You have to think about the enviorment, the wind, air pressure, reaction speed, controlability.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7461" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-7461">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7461">Load Comments</button></br>
			<div id = "commentsection-7461" class = 'collapse'>
			<div id = "comment-10654" class = "comment">
				<p>Wow - thanks @TobiasK (+1)! A few followups for you if you don't mind: (1) Can I just confirm I understand you correctly? Say I want the "Hardcore 3D" flight capability, and let's say that my copter is 5kg. That would be 1000 W/kg * 5 kg = 5000 W, divided by 4 makes roughly 1250 Watts/rotor, **correct?** (2) Wouldn't propeller length also factor in here? And (3) Does the equation scale by number of rotors? In other words, if I had, say, 8 rotors would I just divide by 8? Thanks again!</p>
			</div>
			<div id = "comment-10655" class = "comment">
				<p>Also, now that I'm actually doing the math on paper, are you absolutely sure you're equation is fairly accurate? This means that each rotor would have to supply roughly **1250 Watts** of power. I Googled "RC helicopter motor" and randomly found [this one](http://www.helipal.com/tl9030-motor-cw-for-phantom.html?gclid=CjwKEAjwndqrBRC16IyeqPicp3ASJAB-vB-cIqv7FrpE3I4zW27AnSdOvCUd32AZ_re83d0rHa-G8RoCFBfw_wcB) whose max power output is only **114 Watts**. Is this because a 5kg copter is ridiculously heavy, or have I done the math wrong somewhere?</p>
			</div>
			<div id = "comment-10657" class = "comment">
				<p>First comment: (1) yes, (2) sure it depends. You need the right prop size. When you buy a motor you usually get spec sheet where you see the right prop size. (3) just ensure the motors do not interact each other. To the second comment : both the motor is pretty small and five kilos is a lot. I build a quadrocopter with 7000watt motor. This guy lift way more then five kilo. But ensure you are allowed to start quadrocopters this size.</p>
			</div>
			<div id = "comment-10658" class = "comment">
				<p>Thanks @TobiasK - (+1 again and green check) - any chance you could send me a link to a 7000 Watt motor? I can't find them anywhere! Thanks again!</p>
			</div>
			<div id = "comment-10660" class = "comment">
				<p>www.scorpionsystem.com/catalog/helicopter/motors_4/hk-45_1/HK_4535_500_8/     be very careful with them. this is a lot of power. If you use four of them they can lift a Person.</p>
			</div>
			<div id = "comment-11102" class = "comment">
				<p>@TobiasK - If you could incorporate anything relevant from these comments into your answer, these comments could be tidied up (deleted) so that they no longer distract from your answer.</p>
			</div>
			<div id = "comment-11103" class = "comment">
				<p>Similarly @smeeb, if you could incorporate anything relevant from these comments into your question, it would help with tidying up (deleting) these comments. Remember that comments are for helping to improve questions aqnd answers, not for extended discussions, and may disappear at any time, so important information should never be left in them.</p>
			</div>
			</div>
				<textarea id = "speech-7461" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7461">
					<img id="start_img-7461" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7461">Comment</button>
			<br><div id = "ans-7468"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7468" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would go further than TobiasK, even if the order of magnitude is correct.</p>

<p>The main characteristic for a drone dynamic is its Thrust/Weight Ratio (TWR). To be able to fly, your TWR shall at least equal 1. To be able to take off, you need TWR>1. In my opinion, TWR=2 gives a fairly dynamic quadcopter.</p>

<p>For a given propeller, you can get its thrust vs rpm (round per minute) ratio, so you can get the target rpm (if you have 4 motors and want TWR=2, each motor should achieve a thrust equal to half the drone weight). You can also get its torque vs rpm characteristic, and get the mechanic torque you'll get at the target RPM.</p>

<p>Then you can choose your motor. The target RPM gives you the Kv of your motor. The Kv indicates the amplitude of the <a href="http://en.wikipedia.org/wiki/Counter-electromotive_force" rel="nofollow">back EMF</a> of your motor, according to its rotation speed. If you use a 3S LiPo battery, your battery may drop done to 9.6V, so, if you want to keep your dynamic during the whole flight, you shall choose a motor that may reach the rpm target at 9.6V. Let's say you need 10k rpm to get your TWR=2, your motor's Kv shall be at least 1040 rpm/V. You should choose your Kv a bit higher, as Kv is given with no load, and the actual speed under load is a bit slower.</p>

<p>The output torque of your motor is proportional to the current you feed in. I looked for "quadcopter motor" on google, and quickly found <a href="http://www.robotshop.com/en/brushless-motor-1300kv-19a.html" rel="nofollow">a motor with 1300Kv and 19A max</a> (I don't know this motor and can't say if it's good quality or not). 10k rpm divided by 1300 rpm/V gives 7.7V. 7.7V will be the average voltage at the output of your ESC when driving the motor at 10k rpm. The max current is 19A, this means the maximum power at 10k rpm is 7.7*19=146W. This kind of motor has a typical efficiency around 0.7 when on load (if you take a motor with a much higher Kv, you usually decrease its efficiency on load). Therefore, I expect the output mechanical power to be 100W. Mechanical power is speed times torque (checks the units you uses). The max torque has to be higher than your propeller torque at TWR=2.</p>

<p>"Hardcore 3D" was mentioned. In my opinion, doing intensive 3D flight with a 5kg drone is insane. I think you should target a total weight under 1kg (400g is good for 3D acrobatics). 3D flight faces an other drawback: propellers are usually optimized to run in one way, and you usually want to use it in both, so you'll either have a much poorer TWR in reverse, or have a poorer efficiency in both way (symmetrical and better than a classical propeller in reverse, nonetheless). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7468" data-toggle = "popover">
				<p>user name : Jacen</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-7468">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7468" class = 'collapse'>
			</div>
				<textarea id = "speech-7468" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7468">
					<img id="start_img-7468" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7468">Comment</button>
			<br><div id = "ans-11676"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11676" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Short answer is : it depends.
Variables such a motors, propellers and body construction are very important. I have been building drones in my garage as a hobby for years. You'd be surprised what difference can propellers make.</p>

<p>Since building heavy lift drone can be extremely hard, most of people should be satisfied by buying some <a href="http://www.dronesglobe.com/guide/heavy-lift-drones/" rel="nofollow noreferrer">heavy lift drone</a>. There are several models available on amazon so it's probably good idea to check what market has to offer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11676" data-toggle = "popover">
				<p>user name : user2776464</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11676">{'None': -2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11676" class = 'collapse'>
			</div>
				<textarea id = "speech-11676" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11676">
					<img id="start_img-11676" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11676">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>