<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I prevent wrist flip?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13965" class = "post">
			<h2>Question</h2>
			<div id="vote-13965" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 30</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I prevent wrist flip?</h2>
<p>I am attempting to program a robot arm in Unity, but I have a problem when I am moving the TCP (tool center point) and the axes line up (e.g. axis 4 and 6) then things go haywire.</p>

<p>Does anyone know of any strategies to avoid singularities or any good resources where I can get more info? Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13965" data-toggle = "popover">
				<p>user name : Richard S</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-13965">{'None': 0, 'singularity': 0, 'inverse-kinematics': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13965">Load Comments</button></br>
			<div id = "commentsection-13965" class = 'collapse'>
			<div id = "comment-22813" class = "comment">
				<p>What is the/a TCP? What do you mean when you say "things go haywire?" What happens? What are you trying to do? Generally, when someone mentions "singularities," the knee-jerk response is, "Quaternions!" It's probably applicable here, but again it's not clear what you're doing and what the problem is.</p>
			</div>
			<div id = "comment-22819" class = "comment">
				<p>I don't think quarternians apply.  This is a physical singularity, not algorithmic.  If the TCP reaches the singular plane of the wrist (see Stanisic and Gupta, sorry I am on my phone and do not have the full reference), then the determinant of the Jacobian blows up and at least one joint needs to achieve infinite velocity to follow the TCP path.  Avoidance in this case usually means moving the task to avoid this condition, or slowing down the task.  You can also try to ensure the task requires the TCP to cross the singularity orthogonally so that the first wrist axis does not flip.</p>
			</div>
			<div id = "comment-22828" class = "comment">
				<p>The reference should have been Stanisic and Duta:  "Symmetrically Actuated Double Pointing Systems: The Basis of Singularity-Free Robot Wrists,"  IEEE Transactions on Robotics and Automation 6:5, November 1990.</p>
			</div>
			<div id = "comment-22831" class = "comment">
				<p>OK thanks SteveO, I'll dig into it and see what I can find.</p>
			</div>
			</div>
				<textarea id = "speech-13965" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13965">
					<img id="start_img-13965" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13965">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>