<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to calculate robot hand positions using Roll, Pitch angles
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3181" class = "post">
			<h2>Question</h2>
			<div id="vote-3181" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 742</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to calculate robot hand positions using Roll, Pitch angles</h2>
<p>i want to calculate humanoid robot hand position with given shoulder roll, pitch angles and elbow roll angle.</p>

<p>I'm able to calculate elbow position using rotation matrix which includes shoulder angles.</p>

<p>But i dont know how to calculate hand position using elbow position and elbow roll angle.</p>

<p>Can you propose a method to calculate hand position? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3181" data-toggle = "popover">
				<p>user name : jacop41</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-3181">{'None': 0, 'forward-kinematics': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3181">Load Comments</button></br>
			<div id = "commentsection-3181" class = 'collapse'>
			<div id = "comment-6692" class = "comment">
				<p>Your question is not very clear.  Are you asking how to calculate the forward kinematics of a humanoid arm.  Is your arm 3 DOF?  (2 in shoulder and 1 in elbow)?</p>
			</div>
			<div id = "comment-6697" class = "comment">
				<p>Yes. I'm asking how to calculate the forward kinematics of a humanoid. The arm 3 Dof. 2 in shoulder and 1 in elbow.</p>
			</div>
			<div id = "comment-6701" class = "comment">
				<p>Are you familiar with this? http://en.wikipedia.org/wiki/Forward_kinematics or is there something special about the humanoid setup you're using?  If you have not heard of DH then there is a good online course on robotics from Stanford that goes into the details.</p>
			</div>
			</div>
				<textarea id = "speech-3181" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3181">
					<img id="start_img-3181" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3181">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>