<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I reduce a motor's maximum current draw?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8475" class = "post">
			<h2>Question</h2>
			<div id="vote-8475" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 192</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I reduce a motor's maximum current draw?</h2>
<p>I have a <a href="http://store.amequipment.com/218-series-gearhead-motor-64mm-12v-right-hand-p-354.html" rel="nofollow">motor</a> with a stall current of up to 36A. I also have a <a href="http://pololu.com/product/705" rel="nofollow">motor controller</a> which has a peak current rating of 30A. Is there any way I could reduce the stall current or otherwise protect the motor controller?</p>

<p>I realize the "right" solution is to just buy a better motor controller, but we're a bit low on funds right now.</p>

<p>I thought of putting a resistor in series with the motor and came up with a value of 150m , which would reduce the maximum current draw to 25A (given the 12V/36A=330m  maximum impedance of the motor). Is there any downside to doing this? Would I be harming the performance of the motor beyond reducing the stall torque?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8475" data-toggle = "popover">
				<p>user name : Daniel Centore</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-8475">{'current': 1, 'None': 0, 'microcontroller': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8475">Load Comments</button></br>
			<div id = "commentsection-8475" class = 'collapse'>
			<div id = "comment-13721" class = "comment">
				<p>You don't want to run your motor controller at its peak current rating continuously for extended periods of time.  Use the normal operating current instead.</p>
			</div>
			<div id = "comment-13722" class = "comment">
				<p>I will be running at normal currents the vast majority of the time, but it is possible for the peak current to occur when starting the motor or switching directions. So, I would like the peak current to be reduced while leaving normal operation (relatively) unharmed.</p>
			</div>
			<div id = "comment-13724" class = "comment">
				<p>Can't you just apply a lower voltage so that the maximum current draw will be acceptable? 10 V should give you a maximum current of 30 A. Or 8.333 if you want 25 A.</p>
			</div>
			<div id = "comment-13729" class = "comment">
				<p>@BrianLynch That would be an acceptable solution. However, the whole design is based around a 12V car battery. How could I step down the voltage in a way that would actually be notably cheaper than buying a better motor controller (~$55)?</p>
			</div>
			<div id = "comment-13730" class = "comment">
				<p>You can't make a circuit with a big resistor in series with your motor so that it gets 2 V and the motor gets 10 V?</p>
			</div>
			<div id = "comment-13731" class = "comment">
				<p>Or rather, two big resistors in series to divide your voltage, then the motor controller pulling off one of the resistors in parallel. I'm not posting this as an answer yet because I'm not 100% confident!</p>
			</div>
			<div id = "comment-13732" class = "comment">
				<p>@BrianLynch Voltage dividers significantly stem the flow of current and are typically only used for measuring voltages, not powering devices, especially not big actuators. As for using single resistor in series, I offered that as a possible solution in my question and asked if there would be any downsides.</p>
			</div>
			<div id = "comment-13733" class = "comment">
				<p>Wish I could answer with more confidence. If I were you I would make a simple model and see how the step response differs -- I presume it is that kind of performance you are worried about "harming".</p>
			</div>
			</div>
				<textarea id = "speech-8475" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8475">
					<img id="start_img-8475" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8475">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8477"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8477" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Heat is an important problem with a series resistor used to limit stall current.  Wattage of I amperes through R   is I R, so 7.35 watts of heat are produced at the motor's nominal 7 A operating current, and 93.75 W at a 25 A stall current.</p>

<p>You can avoid some loss at the 7 A level by using an inexpensive <a href="https://www.bulbamerica.com/products/ushio-100w-ja-series-12v-h1-100-aircraft-bulb?CAWELAID=120150920000391645&amp;CAGPSPN=pla&amp;catargetid=120150920001260210&amp;cadevice=c&amp;gclid=CILWo_yqlskCFRKRfgodruUD5g" rel="nofollow">light bulb</a> as a resistor.  The filament's resistance increases approximately as the square of current (more accurately, as the 1/.55 power; see page 3 of <em>A Primer on Driving Incandescent Lamps</em> via <a href="http://www.allegromicro.com/SearchResults.aspx?q=driving+incandescent+lamp&amp;x=0&amp;y=0" rel="nofollow">PDF link at allegromicro.com</a> ).  For example, a 100 W, 4 V light bulb will drop about 3.75 volts at 25 A, vs. about 0.37 V at 7 A, for a loss of only 2.6 W instead of the 7.35 W a fixed .15   resistor would be dissipating at those currents.  However, in general light bulbs are more fragile than fixed-resistance power resistors.</p>

<p>Various motor starters are available that shut off in case of overload.  Typically, in case of overload a small resistor heats up a bimetallic strip   somewhat like a thermostatic action   causing it to open a contact.  Different resistors can be used to select different opening currents.  See eg a <a href="http://www.practicalmachinist.com/vb/transformers-phase-converters-and-vfd/how-do-heaters-work-magnetic-motor-starter-147808/" rel="nofollow">practicalmachinist.com thread about heaters</a>.  More-modern motor starters may use Hall-effect sensors. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8477" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8477">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8477" class = 'collapse'>
			</div>
				<textarea id = "speech-8477" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8477">
					<img id="start_img-8477" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8477">Comment</button>
			<br><div id = "ans-8479"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8479" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First of all the link you posted states that your motor driver carrier board has built-in overcurrent protection...so...where is the problem? </p>

<p>If it does not have:</p>

<p>Put a fuse in series with the motor that will protect the controller (you can find slow fuses that allow higher current for short time). Then implment a current control loop with output saturation, basicly you give the pwm to the motor based on current (in mechanical terms it will be a torque controller with a maximum torque as a parameter). That way you have the fuse as a fallback safety and operationally if everything works finewith the current controller you can be sure that the fuse will not be used. </p>

<p>I assume you need velocity controll or position control for the motor, that is no problem, just use cascading control loops where the inner loop in is a current (torque controller) the middle loop is a velocity controller and the outer loop is a position controller, <a href="http://www.globalspec.com/reference/13556/179909/chapter-7-2-6-control-paradigms-some-applications" rel="nofollow">like this</a>. It is the way industrial drive amplifiers for motion control work...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8479" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8479">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8479">Load Comments</button></br>
			<div id = "commentsection-8479" class = 'collapse'>
			<div id = "comment-13736" class = "comment">
				<p>The webpage for the motor controller specifically says "Therefore, the stall current of your motor should not be more than 30 A." Why would they write that given that it has overcurrent protection?</p>
			</div>
			<div id = "comment-13737" class = "comment">
				<p>The way I understand it: your drivers  "have a 30 A continuous rating and over-current protection that can kick in as low as 30 A (45 A typical)" so if your motor tried to draw more current than that the protection will kick in. That is why it is not usable with motors that can draw a higher stall current. It trips the over current protection, but does not burn the chip.</p>
			</div>
			<div id = "comment-13738" class = "comment">
				<p>If the motor is overdimentioned for its task and you generate the PWMs by start and reverse accordingly (i.e. do a soft start by gradually increasing duty cycle and wait until the system stops before reversing) it will not trip the protection.</p>
			</div>
			</div>
				<textarea id = "speech-8479" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8479">
					<img id="start_img-8479" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8479">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>