<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I determine the heading of a six wheeled robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4987" class = "post">
			<h2>Question</h2>
			<div id="vote-4987" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I determine the heading of a six wheeled robot?</h2>
<p>I have a robot simulation that simulates Mars Exploration Rover with six steerable wheels.</p>

<p>In case of the following steering configuration</p>

<pre><code>// --- //  front wheels 
//     //  middle wheels 
// --- //  rear wheels
</code></pre>

<p>I'd say the heading of the rover with respect of the rover's body is about 45 to the right.
<strong>My question is what is the right approach of calculating heading with respect of the rover body?</strong> </p>

<p>Do I simply sum the steering angles of steering actuators and divide it by the total number of the steering actuators? </p>

<p><strong>Additional Note:</strong>
Assuming no slippage on a perfectly flat plane.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4987" data-toggle = "popover">
				<p>user name : ikel</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-4987">{'wheel': 5, 'mobile-robot': 5, 'None': 0, 'wheeled-robot': 19, 'motion': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4987">Load Comments</button></br>
			<div id = "commentsection-4987" class = 'collapse'>
			<div id = "comment-7830" class = "comment">
				<p>By "heading" do you mean "desired steering angle"?  A robot's heading has nothing to do with the direction the wheels are pointed in, just the direction that the body is pointed in.</p>
			</div>
			<div id = "comment-7844" class = "comment">
				<p>I wanted to know if there is a way to get heading (body) of a rover based on wheels' steering angles.</p>
			</div>
			<div id = "comment-7845" class = "comment">
				<p>I'm not sure the best way to answer this, but my guess is that you're trying to oversimplify "velocity" into a scalar value in the direction that the vehicle's wheels are pointing.  If you consider both the X and Y components of body-relative motion, you won't have this problem.</p>
			</div>
			</div>
				<textarea id = "speech-4987" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4987">
					<img id="start_img-4987" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4987">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5002"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5002" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A vehicle like this that can move in any direction regardless of orientation is called "holonomic".  This decoupling is a little counter-intuitive because we are used to cars, which always move in the direction they are pointing (kinda, see: <a href="http://en.wikipedia.org/wiki/Ackermann_steering_geometry" rel="nofollow">ackerman steering</a>).  But aircraft and boats deal with this all the time.  The terminology they use is: <strong>heading</strong> is the direction the craft's nose is pointing, and <strong>course</strong> is the direction of travel.  </p>

<p>So in your example, I'd say the robot's heading is North (or 0 degrees), and it's course is 45 degrees to the right.</p>

<p>Of course this is assuming there is no wheel slippage.  In which case i don't think there is a formal method because wheel slippage is something people try to avoid.  And since wheel slippage is un-sensed, you need to determine your course with external sensors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5002" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5002">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5002">Load Comments</button></br>
			<div id = "commentsection-5002" class = 'collapse'>
			<div id = "comment-7858" class = "comment">
				<p>Ben, could you give a link to that heading vs course terminology?</p>
			</div>
			<div id = "comment-7859" class = "comment">
				<p>Wikipedia does a good job describing the terminology: http://en.wikipedia.org/wiki/Course_%28navigation%29</p>
			</div>
			<div id = "comment-7862" class = "comment">
				<p>Ah, 4 hours late and I found that page too. Thanks. Right. I got the terminology confused between course and heading. I'll accept yor answer as being helpful. Given any steering angles for the wheels (uniformly), my heading is still the same. Holonomic.</p>
			</div>
			</div>
				<textarea id = "speech-5002" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5002">
					<img id="start_img-5002" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5002">Comment</button>
			<br><div id = "ans-5018"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5018" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Where your robot will go will depend on where the axes of the wheels intersect.</p>

<ul>
<li>If all the axes are identical, it can turn around any point on the axes, or go straight, perpendicular to the axes.</li>
<li>If all the axes intersect in one point, the robot will travel on a circle around that point.</li>
<li>If the axes are parallel, it will go only straight, perpendicular to the axes. </li>
<li>If the axes intersect in multiple points it can't go anywhere without sliping.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5018" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-5018">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5018">Load Comments</button></br>
			<div id = "commentsection-5018" class = 'collapse'>
			<div id = "comment-7776" class = "comment">
				<p>I don't quite understand point 3, "If the axes are parallel, it will go only straight, perpendicular to the axes. "</p>
			</div>
			<div id = "comment-7780" class = "comment">
				<p>This is the case on your picture. And perpendicular to the axes is the the direction where all the wheels are pointing.</p>
			</div>
			<div id = "comment-7809" class = "comment">
				<p>The first point tripped me up for a while. I didn't realize it was a precursor to the other points.</p>
			</div>
			</div>
				<textarea id = "speech-5018" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5018">
					<img id="start_img-5018" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5018">Comment</button>
			<br><div id = "ans-5033"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5033" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What I see you have a reference problem , </p>

<p>I suggest installing AHRS (Attitude Heading and Reference System) system over your Robot, 
this will indicate the direction of your robot heading and will sense the rotation of the body , </p>

<p>for being simper you can use 1 Axis Magnetometer that will act as compass which will show only body heading , </p>

<p>if you used 6 DOF (Degree of freedom) system it will show heading and body rotation , </p>

<p>check this :- <a href="http://www.youtube.com/watch?v=lwlOZzNJqJc" rel="nofollow">6 DOF AHRS using MPU 6050 , A low cost</a> </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5033" data-toggle = "popover">
				<p>user name : RoboMan</p>
				<p> user reputation : 84</p>
				<p class = "tagcontent" id = "usertaginfo-5033">{'servomotor': 4, 'None': 6, 'accelerometer': 3, 'pid': 6, 'brushless-motor': 4, 'imu': 3, 'motor': 4, 'sensors': 3, 'gyroscope': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5033" class = 'collapse'>
			</div>
				<textarea id = "speech-5033" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5033">
					<img id="start_img-5033" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5033">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>