<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I best protect sensitive components against damage through vibration?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-48" class = "post">
			<h2>Question</h2>
			<div id="vote-48" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 603</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I best protect sensitive components against damage through vibration?</h2>
<p>It's common for components on some types of robots to experience large environmental stresses, one key one being vibration. Is this something I need to worry about with typical electronics and other sensitive components, or not really? If it is, then how do I secure such components? </p>

<p>I've heard of two main philosophies behind this, the first being that you should use a damping system such as with springs to absorb the shock. The second is that you should keep everything rigidly in place so it can't move, and therefore can't hit against anything else and break.</p>

<p>Which one should I follow, or if the answer is "it depends" what should I use as a guide as to best protect sensitive components?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-48" data-toggle = "popover">
				<p>user name : berry120</p>
				<p> user reputation : 640</p>
				<p class = "tagcontent" id = "usertaginfo-48">{'control': 22, 'battery': 16, 'slam': 7, 'design': 8, 'motor': 11, 'underwater': 24, 'kinect': 4, 'auv': 24, 'input': 4, 'electronics': 10, 'gyroscope': 22, 'gps': 17, 'wheel': 9, 'None': 3, 'localization': 17, 'mapping': 7, 'failure': 11, 'protection': 10, 'sensors': 11, 'two-wheeled': 22, 'balance': 22, 'acoustic-rangefinder': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-48" class = 'collapse'>
			</div>
				<textarea id = "speech-48" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-48">
					<img id="start_img-48" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-48">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-59"  class = "post">
				<h2>Answer</h2>
			<div id="vote-59" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Partly this depends on where the vibration is coming from.</p>

<p>While the two techniques you describe are very valuable, if the vibration is from your own actuators then you may be able to significantly improve things by simply using a different velocity profile for your moves.</p>

<p>Traditional trapezoidal velocity profiles are a constant <a href="http://en.wikipedia.org/wiki/Acceleration">acceleration</a> up to a fixed maximum <a href="http://en.wikipedia.org/wiki/Velocity">velocity</a> followed a constant velocity cruise, followed by a constant deceleration back to zero velocity. This creates a high instantaneous <a href="http://en.wikipedia.org/wiki/Jerk_%28physics%29">jolt (or jerk)</a> - the third derivative of position over time. It is this high <em>jolt</em> which often causes vibration damage.</p>

<p>Many motion controllers offer an <a href="http://cdn.intechweb.org/pdfs/4267.pdf">S-curve</a> velocity profile which is jolt constrained, this can reduce those high jolt impulses significantly. Also, since you are ramping up your acceleration you can often tune your PID loop more aggressively and actually gain point-to-point performance increases. Unfortunately this is at the cost of adding complexity to your move synchronisation and planning.</p>

<p>I have also worked on systems which use pure <a href="http://en.wikipedia.org/wiki/Spline_%28mathematics%29">cubic splines</a> for the whole move. These created silky smooth move profiles where adjacent moves merged seamlessly into each other with no perceptible jolt. These systems are even more difficult to synchronise moves with however and the maths at the planning step gets even more complex than with S-curves.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-59" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-59">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-59" class = 'collapse'>
			</div>
				<textarea id = "speech-59" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-59">
					<img id="start_img-59" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-59">Comment</button>
			<br><div id = "ans-77"  class = "post">
				<h2>Answer</h2>
			<div id="vote-77" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Components should have vibration ratings somewhere.  Pretty much anything without moving parts will be fine.  Some sensors such as accelerometers and gyroscopes are affected.</p>

<p>As an example, quadrotors are an application that is dramatically affected by vibration.  The four props produce an absolutely ridiculous amount of vibration and a quadrotor requires accurate sensor data from the accelerometers/gyros.  If you look at the accelerometer plots you will see an unbelievable amount of noise.</p>

<p>Despite this, very few quads have any form of vibration damping, a kalman filter is enough to get good data.</p>

<p>There is a lot of literature of vibration damping and several possible approaches (both active and passive).</p>

<p>I have found that memory foam is ideal for damping vibrations to electronics and small sensors such as accel/gyro.  Memory foam is very soft but more importantly is designed to dampen extremely well.  I have cut down accelerometer noise on UAVs by ~80% by using memory foam in the past.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-77" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-77">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-77" class = 'collapse'>
			</div>
				<textarea id = "speech-77" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-77">
					<img id="start_img-77" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-77">Comment</button>
			<br><div id = "ans-79"  class = "post">
				<h2>Answer</h2>
			<div id="vote-79" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>On the <a href="http://robotik.dfki-bremen.de/en/research/robotsystems/asguard-iii.html" rel="nofollow noreferrer">Asguard</a> system that we have been working on, we have a lot of shocks due to the wheel geometry. On this system we were also able to reduce the vibrations on the control side as <a href="https://robotics.stackexchange.com/a/59/37">Mark suggested</a>. This was done through synchronising the wheels in optimal patterns. </p>

<p>The system also has some mechanical design features that reduces the vibrations. Flexible wheels, elestic couplings between the gears and the wheel and locking mechanisms for most of the screws. </p>

<p>The electronics are not rigidly connected to the structure, but use a combination of foam and rubbers to hold them in place. This has worked well so far. We had a lot of problems with connecters however, where we frequently would get micro-fractures on the board connectors, especially on the heavier connectors like firewire. In these cases we had to create mechanical structures to hold the connectors in place, or replace the connectors by lightweight alternatives where possible.</p>

<p>Sensitive components, like for example the IMU and the cameras we have rigidly connected to the system. It is true that this improves the noise on the accelerometers, but the Kalman Filter never had a big problem with it for estimating the orientation. When using short exposure times on the camera, the vibrations are also not much of a problem. From a sensor point of view we really expected much more problems than we actually had.</p>

<p>So I guess the answer to your question is that it really depends on your system, and as we have seen in our case that often you do not even need to protect your components from vibration too much.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-79" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-79">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-79" class = 'collapse'>
			</div>
				<textarea id = "speech-79" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-79">
					<img id="start_img-79" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-79">Comment</button>
			<br><div id = "ans-101"  class = "post">
				<h2>Answer</h2>
			<div id="vote-101" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It will take a lot to shake components off of a PCB/PWB so for the most part it should be safe if you make sure that the mounting is correct.  One thing that people forget is that if there is vibration then there may also be flex, and even tiny amounts of flex transmitted into a PWB can be damaging.  FR4 is stiff and in the wrong location will take a lot of the stress loads.  But this is easily fixed with the right kind of mounting that doesn't allow the force to transfer through the board - anchored on one side, semi-rigid on the other side.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-101" data-toggle = "popover">
				<p>user name : placeholder</p>
				<p> user reputation : 161</p>
				<p class = "tagcontent" id = "usertaginfo-101">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-101" class = 'collapse'>
			</div>
				<textarea id = "speech-101" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-101">
					<img id="start_img-101" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-101">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>