<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to create a Industrial Robotic arm controller?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12170" class = "post">
			<h2>Question</h2>
			<div id="vote-12170" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 152</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to create a Industrial Robotic arm controller?</h2>
<p>Can anyone explain me in detail, what a industrial robotic arm controller does? What are its components? Does the industry use the opensource controllers like Arduino? I saw most of industrial controllers look very big whereas the hobby robot arms are having small controllers mostly made from arduino? Also, if one were to reconstruct it what are the topics i need to learn? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12170" data-toggle = "popover">
				<p>user name : user52705</p>
				<p> user reputation : 12</p>
				<p class = "tagcontent" id = "usertaginfo-12170">{'control': 0, 'None': 0, 'industrial-robot': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12170" class = 'collapse'>
			</div>
				<textarea id = "speech-12170" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12170">
					<img id="start_img-12170" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12170">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12171"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12171" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Industrial robots (e.g. Kuka, ABB, Fanuc) use a control cabinet which has the following main components:</p>

<p><strong>Drive amplifiers (controllers):</strong>
The drive amplifiers are responsible for the closed loop control of the motors in the structure of the robot (and the external axes, if present). The number of drive amplifiers usually matches the number of motors. Their main function is to receive the position (and/or velocity) commands from the robot controller and to control the motors to execute the commands. In most cases some kind of communication protocol (mostly <a href="https://drstienecker.com/tech-332/15-networking/" rel="nofollow noreferrer">Ethernet based</a>) is used to transmit these commands. In some cases the drive amps have additional safety functions (<a href="http://new.abb.com/drives/functional-safety/typical-safety-functions" rel="nofollow noreferrer">e.g.</a> Safe Torque Off and Safe Brake Control) to enable a limited human robot interaction. When compared to "hobby" robots, the drive amplifiers offer much more functionality for smooth motions (e.g. jerk limiting, filtering) and motor protection (e.g. current limiting, voltage limiting) furthermore, in many cases these have <a href="https://www.boschrexroth.com/country_units/america/united_states/sub_websites/brus_dcc/documentation_downloads/ProductDocumentation/CurrentProducts/Drives/IndraDrive/firmware/MPx02/MPx_02VRS_PA02.pdf" rel="nofollow noreferrer">thousands</a> (!) of parameters to fine tune their performance. </p>

<p><strong>Robot controller:</strong> the main function of the robot controller is to interpret the robot application program and convert the commands in the source code to motion or other commands given to the IOs or to the drive amplifiers. The robot controller has an internal model of the kinematic (and dynamic) structure of the robot and has advanced trajectory planning and synchronization capabilities. It can synchronize the motions commanded by each individual drive amplifier in a precise manner. A robot controller also has thousands (!) of parameters to make sure the robot can be set up according to the requirements of its task. </p>

<p><strong>HMI:</strong> Industrial robots usually have some sort of pendant or HMI useful for programming the robot. During operation the application program will be displayed here. Also different setting are available on the HMI (e.g. teach in of a new task). </p>

<p><strong>Application program:</strong> Hobby robots usually have a "firmware" running on the arduino which determines their behavior. Robot controllers are more like a PC. They have an operating system and only execute something if somebody writes a program that is called. That program is the application program and is written in a robot manufacturer specific language (e.g. <a href="https://www.dropbox.com/s/dq13pca7416cvvu/System%20Software%208.2%20Programming%20Manual%20for%20System%20Integrators.pdf" rel="nofollow noreferrer">KRL</a> for KUKA, <a href="https://library.e.abb.com/public/688894b98123f87bc1257cc50044e809/Technical%20reference%20manual_RAPID_3HAC16581-1_revJ_en.pdf" rel="nofollow noreferrer">Rapid</a> for ABB).</p>

<p><strong>Tech support:</strong> one feature that hobby robots do not have is tech support. Industrial robot manufacturers offer courses, hotline telephone support in case there are difficulties in using/programming their robot. Furthermore, industrial robots come with necessary certificates (CE, UL, etc.) for industrial use. </p>

<p>If you would like to build a robot controller which is at least comparable to today's industrial robot controllers, starting from scratch, you would need:</p>

<ul>
<li>select industrial motors and drive amplifiers (e.g. from <a href="http://www.boschrexroth.com/dcc/Vornavigation/Vornavi.cfm?Language=EN&amp;VHist=g97568&amp;PageID=g96067" rel="nofollow noreferrer">Rexroth</a>, <a href="http://www.industry.usa.siemens.com/drives/us/en/motion-control-systems-and-solutions/motion-control-products/servo-drives/Pages/servo-drives.aspx" rel="nofollow noreferrer">Siemens</a>, etc.)</li>
<li>select an industrial PC and a real-time operating system (or extension, 
e.g. WindRiver, QNX, RTLinux) and a non-real time OS (.g. Windows or Linux)</li>
<li>design and build a control cabinet</li>
<li>develop your control architecture (which module communicates with what, how are they interfaced, what needs to run in real-time what not)</li>
<li>develop/implement a trajectory planning module</li>
<li>develop/implement an IO handling module</li>
<li>develop/implement an interpreter for the application programming language you have selected (or define a new language and an interprtere for it), complete with variable stacks (global and local), (soft and hard) interrupts, subroutines, timers and counters, coordinate system transformations, motion commands, flow control commands, basic types, math library, etc.</li>
<li>"glue" together the interpreter with the motion module and the IO module</li>
<li>develop/implement (or buy) a communication stack to communicate with the drive amplifier</li>
<li>develop/implement an HMI that can be used for parameterizing the drives, the motion module, the IO module, and can be used for writing and executing application programs with the defined language</li>
<li>document everything (!)</li>
<li>test test test and test even more</li>
<li>get the whole thing certified by a certification body</li>
<li>market and sell it</li>
<li>offer tech support, warranty, etc.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12171" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-12171">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12171">Load Comments</button></br>
			<div id = "commentsection-12171" class = 'collapse'>
			<div id = "comment-21526" class = "comment">
				<p>The number of typos makes this answer unreadable...</p>
			</div>
			<div id = "comment-21527" class = "comment">
				<p>and what stops you from correcting the typos?</p>
			</div>
			<div id = "comment-21530" class = "comment">
				<p>@50k4 Sorry couldn't upvote, dont have that reputation. Thanks for the detailed answer though. Could you please recommend some resources like books,blogs etc (add it to the answer if possible)? I think it will be a while before i comprehend the entire answer as there are lot of fine details.</p>
			</div>
			<div id = "comment-21531" class = "comment">
				<p>@FooBar I think the focus should be on the content and it is easy to edit out the typos. I would really appreciate if you can contribute something constructively. Thanks</p>
			</div>
			</div>
				<textarea id = "speech-12171" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12171">
					<img id="start_img-12171" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12171">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>