<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>how to power extra usb devices for beaglebone black
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4766" class = "post">
			<h2>Question</h2>
			<div id="vote-4766" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1208</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>how to power extra usb devices for beaglebone black</h2>
<p>I'm building a robot that uses a beaglebone black, however I have several different usb devices that I want to connect to it (microphone, usb sound device and some other things). Now I have heard that the usb output of the beaglebone doesn't power more then 0.1A. So the combined draw of these usb devices is likely to exceed this by a fair margin. So I started looking for powered usb hubs to use instead. However these tend to be powered by 220V and my robot currently only has a 12V power supply and a converter to 5V for the beaglebone. Which given the size expense and inefficiency of converting power to 220 from 12V and then back again doesn't seem very good. Is there a good method for fixing this? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4766" data-toggle = "popover">
				<p>user name : Thijser</p>
				<p> user reputation : 203</p>
				<p class = "tagcontent" id = "usertaginfo-4766">{'control': 1, 'None': 1, 'manipulator': 0, 'usb': 7, 'power': 6, 'simulator': 0, 'communication': 1, 'arduino': 3, 'c++': 4, 'simulation': 0, 'servomotor': 1, 'kinematics': 0, 'servos': 1, 'beagle-bone': 13, 'linux': 4, 'serial': 2, 'ros': 3, 'gazebo': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4766" class = 'collapse'>
			</div>
				<textarea id = "speech-4766" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4766">
					<img id="start_img-4766" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4766">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4770"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4770" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes this is pretty easy to solve, you just need basic soldering skills.</p>

<p>Just open the cables of your additional USB-devices, you will see 4 wires. 2 of them are for the data, just leave them. The other two are for powersupply, just connect them to your 5V power supply. But make sure you have to right ones, otherwise your device will start producing magic smoke.</p>

<p>In 90% of all cases the wires are colored, so you can see what is the use of a specific wire. But dont trust this, especially if you use cheap equipment. Better measure them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4770" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4770">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4770">Load Comments</button></br>
			<div id = "commentsection-4770" class = 'collapse'>
			<div id = "comment-7459" class = "comment">
				<p>So cut open device cable then find the 2 that do power and split them off and connect them to the beaglebone power supply and then take the once that weren't carrying power and put them into an underpowered usb hub?</p>
			</div>
			<div id = "comment-7462" class = "comment">
				<p>Well just let the data wires untouched... so that they have the right position at the plug..
Just open the isolation and take the two power wires.</p>
			</div>
			</div>
				<textarea id = "speech-4770" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4770">
					<img id="start_img-4770" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4770">Comment</button>
			<br><div id = "ans-4772"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4772" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use a self-powered hub. Look at the power adapter from the mains (220v). In almost all instances, it is converting 220vac to 5vdc (sometimes 5vdc and rarely 12vdv).</p>

<p>Cut the power adapter cable to the hub in half after determining which half of the cable pair  is negative and which is positive (see picture below). Often it's as obvious as the red wire is positive, but ALWAYS CHECK WITH YOUR MULTIMETER.  Splice the hub power cable into your existing 5vdc or 12vdc power and plug into your hub.</p>

<p>Using a hub is preferable to injecting the external 5V into your BeagleBoard because there is less chance for the magic smoke to be forced out by a bad connection, improper voltage, or polarity. Also higher power to all devices is usually achieved by letting the hub handle the power negotiations from the bus.</p>

<p><img src="https://i.stack.imgur.com/UkaRp.jpg" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4772" data-toggle = "popover">
				<p>user name : RoboKaren</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-4772">{'None': 4, 'sensors': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4772" class = 'collapse'>
			</div>
				<textarea id = "speech-4772" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4772">
					<img id="start_img-4772" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4772">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>