<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I achieve long distance, high quality 3D Scans on a mobile robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3006" class = "post">
			<h2>Question</h2>
			<div id="vote-3006" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 297</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I achieve long distance, high quality 3D Scans on a mobile robot?</h2>
<p>Am going to be competing in Robocup Rescue in Thailand next year - I was too busy to pull off a campaign for Brazil this year :(</p>

<p>Will be using CUDA powered GPUs, Kinect/Xtions, and ROS as the primary navigation system, but I need a sensor for long range scanning - at least 25 meters. It is probably overkill for the competition, but I want it to be used in other real world applications. It will need to be very robust, fairly light, high resolution, and proven. The cheaper the better, but high quality is a must.</p>

<p>Have read this question, but I need something that is available and proven now:
<a href="https://robotics.stackexchange.com/questions/2744/what-different-sensing-approaches-are-used-in-the-current-batch-of-indoor-3d-cam">What different sensing approaches are used in the current batch of indoor 3D cameras?</a></p>

<p>A similar question was asked before, but closed:
<a href="https://robotics.stackexchange.com/questions/2394/lidar-solutions">LIDAR solutions</a>. The <a href="http://www.robotshop.com/en/hokuyo-urg-04lx-laser-rangefinder.html" rel="nofollow noreferrer">suggestion</a> was good , but I need something with a lot more range:</p>

<p>At the moment am probably going to go with a the RobotEye <a href="http://www.ocularrobotics.com/products/lidar/re05/" rel="nofollow noreferrer">RE05</a> or <a href="http://www.ocularrobotics.com/re08-3d-laser-scanner" rel="nofollow noreferrer">RE08</a> 3D-LiDAR:</p>

<p>Here is a paper that descibes how this sensor can be used on a mobile robot: <a href="http://www.araa.asn.au/acra/acra2012/papers/pap125.pdf" rel="nofollow noreferrer">www.araa.asn.au/acra/acra2012/papers/pap125.pdf</a></p>

<p>Does anyone have any alternative techniques, or suggestions of a sensor that can achieve similar results?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3006" data-toggle = "popover">
				<p>user name : Pikey</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-3006">{'None': 4, 'lidar': 0, 'kinect': 0, 'slam': 0, 'mobile-robot': 0, 'ros': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3006">Load Comments</button></br>
			<div id = "commentsection-3006" class = 'collapse'>
			<div id = "comment-6626" class = "comment">
				<p>What does it mean for a scan to be "high quality"?</p>
			</div>
			</div>
				<textarea id = "speech-3006" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3006">
					<img id="start_img-3006" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3006">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3009"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3009" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If cost is a factor, you can also do 3D reconstruction using <a href="http://en.wikipedia.org/wiki/Computer_stereo_vision" rel="nofollow">stereo vision</a> with a pair of commercial digital cameras. Many algorithms are available online to reconstruct 3D scenes from a pair of stereo images since this is a popular research topic.</p>

<p>The quality and range of the reconstructed scene will be a function of the image resolution, the image distortion, and the spacing between cameras.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3009" data-toggle = "popover">
				<p>user name : notAlex</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-3009">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3009">Load Comments</button></br>
			<div id = "commentsection-3009" class = 'collapse'>
			<div id = "comment-5512" class = "comment">
				<p>Thank you for the answer notAlex. I have been playing around with stereo vision for many years, the Kinect is basically doing that actively with IR. I need to also scan in the absence of light, 2 vision cameras probably won't suffice. I would need to do some serious R&D to get it to the quality I need, If I were to go down that path I would go probably go with one of [these](http://www.ros.org/news/2014/05/skybotix-opens-vi-sensor-early-adopter-program.html), but it is still EUR 4,000.</p>
			</div>
			</div>
				<textarea id = "speech-3009" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3009">
					<img id="start_img-3009" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3009">Comment</button>
			<br><div id = "ans-3111"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3111" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For the stereo vision, it could be very hard to achieve a resolution over 1% I think, which means 10cm resolution can be achieved for 10m range..</p>

<p>Roboteye RE05 seems to be a good option.. However where to buy one?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3111" data-toggle = "popover">
				<p>user name : richieqianle</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-3111">{'control': 2, 'None': 0, 'pid': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3111" class = 'collapse'>
			</div>
				<textarea id = "speech-3111" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3111">
					<img id="start_img-3111" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3111">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>