<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make a motion sensor circuit, that can communicate with my LAN?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1610" class = "post">
			<h2>Question</h2>
			<div id="vote-1610" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 336</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make a motion sensor circuit, that can communicate with my LAN?</h2>
<p>I'm a newbie to Electronics/ Robotics, but I love to do it as a hobby. </p>

<p>So I want to build a circuit (a really small in size would be much better) with a motion sensor that can communicate data (Basically when it sense a motion send a signal) to my computer over Wifi. Is this something possible? 
If so how do I do it, may be a schematics diagram, or someway to start the project would be a grate help.</p>

<p>Thank you!!  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1610" data-toggle = "popover">
				<p>user name : Thanu</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-1610">{'communication': 1, 'None': 0, 'wifi': 1, 'sensors': 1, 'circuit': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1610">Load Comments</button></br>
			<div id = "commentsection-1610" class = 'collapse'>
			<div id = "comment-3343" class = "comment">
				<p>How small is small?  Easiest is get a board with a CPU and Wifi and hook it to your sensor.</p>
			</div>
			<div id = "comment-3344" class = "comment">
				<p>Yes thats would be an option too, but I'm looking for some sort of a circuit, that just do the exact job. If I get something like RPI to do this, I reckon thats waste of resources</p>
			</div>
			<div id = "comment-3345" class = "comment">
				<p>The thing to keep in mind is that WiFi protocols are kind of complex and so you'll almost certainly need a CPU in there to handle this.  That doesn't preclude miniaturization but it'll be a bigger challenge if you don't want to use an available board.</p>
			</div>
			<div id = "comment-3346" class = "comment">
				<p>One more thing that I want to take in to account is power source, it should run on 4.5 - 6v max (3 - 4 AA Batteries??)I reckon. Would you mind recommend me some board out there? That would be really helpful. Thanx</p>
			</div>
			<div id = "comment-3347" class = "comment">
				<p>The only board I've personally used that had WiFi was the PandaBoard...  I'm sure Google can find lots of other options.  This seems to be an interesting option: http://electricimp.com/</p>
			</div>
			<div id = "comment-3348" class = "comment">
				<p>Two things: 1.) Is this a robotics question? Or would EE and maybe SE be more appropriate? 2.) I would personally use Arduino and add use [this tutorial](http://www.instructables.com/id/Cheap-and-Easy-Arduino-Wi-Fi-Hack/).</p>
			</div>
			<div id = "comment-3349" class = "comment">
				<p>Hi Thanu, and welcome to *robotics*.  Unfortunately, broad questions about how to approach a general problem
aren't something that a stack exchange site is good for. We prefer *[practical,
answerable questions based on actual problems that you 
face](http://robotics.stackexchange.com/faq#dontask)*. Take a look at [ask] and 
[about] for more information on how stack exchange works, and hopefully we can 
modify this question into something a bit more answerable.  Where exactly are you stuck?</p>
			</div>
			<div id = "comment-3358" class = "comment">
				<p>Yep point taken..and thanx</p>
			</div>
			</div>
				<textarea id = "speech-1610" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1610">
					<img id="start_img-1610" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1610">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>