<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to raise~drop a spider
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1571" class = "post">
			<h2>Question</h2>
			<div id="vote-1571" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 566</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to raise~drop a spider</h2>
<p>For Halloween, I'd like to build a spider that drops from the ceiling when it detects motion, and then rewinds itself back up to scare the next kids. I already have a lightweight foamish spider from Hobby Lobby that I'd like to use, but I need help adding the smarts to it to scare the kids.  </p>

<p>Ideally it'd be able to detect how tall/far away the kid is to drop to a custom height each time, but I'd settle for a standard dropping height if that's too much. I even had an idea of having a motion sensor and having it shoot Silly String webs in front of people. </p>

<p>I have a very technical background, but I'm a total n00b when it comes to robotics, so ideas as to what components and considerations I'd need would be greatly appreciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1571" data-toggle = "popover">
				<p>user name : user1146334</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-1571">{'None': 0, 'motor': 4, 'rcservo': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1571" class = 'collapse'>
			</div>
				<textarea id = "speech-1571" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1571">
					<img id="start_img-1571" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1571">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1572"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1572" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you want some sort of winch that moves faster in one direction (for the release) than the other.  There are heavy-duty winches that accomplish this by having a clutch in addition to the winch motor, so that when the clutch is disengaged the cable can unspool freely.  <strong>EDIT:</strong> Fishing reels are a more appropriate example (+1 <a href="https://robotics.stackexchange.com/a/1576/350">JoeFromOzarks</a>).</p>

<p>To achieve custom drop distance with such a setup, you'd have to rely on disengaging the clutch for a very specific interval -- you should be able to find the relationship between drop time and drop distance (considering gravity, spool momentum, and string friction).  </p>

<p>When rewinding, you'd need a sensor to detect when the string is all the way back in.  There are several ways you might do this, from electrical measurement of the motor load to physical measurements on the string/spider position.</p>

<p>You may want to check out this other question for a list of ways to detect motion: <a href="https://robotics.stackexchange.com/q/1393/350">What is the cheapest / easiest way of detecting a person?</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1572" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1572">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1572" class = 'collapse'>
			</div>
				<textarea id = "speech-1572" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1572">
					<img id="start_img-1572" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1572">Comment</button>
			<br><div id = "ans-1576"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1576" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Take a look at a kids "spincast" fishing reel and rod.<br>
<a href="https://i.stack.imgur.com/XYdwV.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/XYdwVm.jpg" alt="Spincast reel"></a></p>

<p>We built one in 2008 (still works, rain, snow and all!) using a automobile door lock solenoid to operate the "thumb release" and an automobile power window motor (PWM &amp; MOSFET) via rubber hose driveline to operate the retract.  Choice of MCU is yours, but we've since added spooky lights, MP3 with speaker, "beam break" and IR detectors just to "juice it up."</p>

<p><a href="http://www.flickr.com/photos/joefromozarks/9257124436/sizes/o/in/photostream/" rel="nofollow noreferrer"><img src="https://farm6.staticflickr.com/5521/9257124436_7ef2c04e3b_z.jpg" alt="diagram"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1576" data-toggle = "popover">
				<p>user name : JoeFromOzarks</p>
				<p> user reputation : 269</p>
				<p class = "tagcontent" id = "usertaginfo-1576">{'None': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1576">Load Comments</button></br>
			<div id = "commentsection-1576" class = 'collapse'>
			<div id = "comment-3292" class = "comment">
				<p>The idea of the fishing rod is great.  What did you use for the power window motor?  Where can I get cheap motors for winding the spool back (and cheap solenoids for that matter).

Like I said, I'm a newbie, so what is the Hall Sensor/"Ring Magnet" and double weight setup for? Are you using it to somehow tell that the spider is back to its original position?</p>
			</div>
			<div id = "comment-3293" class = "comment">
				<p>All of the junk parts I probably had laying around. Any ol' window motor will do, I'm sure I picked it up cheap from the auto junk yard.  (It's good to have mechanic friends too!)  Door lock solenoids are very inexpensive too, just ask the counter folks for the cheapest one they have laying around.   {Eventually, the salvage parts people will recognize you and suggest parts for tinkering!}  The Hall Sensor is used to detect when the window motor has cranked up the fishing line far enough, you could use a reed switch and magnet.</p>
			</div>
			<div id = "comment-3296" class = "comment">
				<p>The "double weight" is used to hold the "ring magnet" in place on the line.  The weights are regular ol' fishing line weights, one of my other activities.   :)</p>
			</div>
			<div id = "comment-3454" class = "comment">
				<p>Assuming that I don't have the time/access to a junk yard, what components would you suggest for the motors and solenoids?  I know of places like adafruit and sparkfun that sell stuff; are there any other good/reputable resources out there?</p>
			</div>
			<div id = "comment-3456" class = "comment">
				<p>Your best bet is an automobile salvage yard, honest.  I didn t see a location in your profile, if you re in the U.S. most junk yards will ship parts right to your door and there are plenty on the interweb.   I cannot recommend any, in this part of the country (U.S.) salvage yards are plentiful.  Next best might be your local auto parts retailer if you wish to spend for new.  Finally, do not forget to check with your mechanic.  Where do you live?  As you get closer to building this, I ll help you all I can with the details.</p>
			</div>
			<div id = "comment-3464" class = "comment">
				<p>I'm in the DC/Baltimore area.  I did a quick glance and seemed like most of the salvage yards around here are "you-pull-it" types of operations.  I don't have the time to go to an auto yards to take apart a door for the parts.  That's why I was thinking I'd just order the parts from a store or Ebay, but I'm not sure how strong of a motor I'd need or how much throw on the solenoid I'd need.</p>
			</div>
			<div id = "comment-3466" class = "comment">
				<p>Oh wow, I'd give anything to visit a "you-pull-it" yard.  They were all that way around here before the insurance companies / lawyers ruined it.  In high school, we'd pull parts for the yard in exchange for getting the parts we wanted for free, or much cheaper.   That era is gone.   My son said he will pull down the box with the system we built. (I can't get to it.) I'll get the part numbers for you and see if I can source 'em too.  I'll also see what MCU we used, do you have any experience in MCU programming/usage?</p>
			</div>
			<div id = "comment-3467" class = "comment">
				<p>Thanks! I do have some experience in MCU programming/usage, but unfortunately that was while I was in school 15 years ago getting my computer engineering degree.  Sad, I know, but between too much partying and only doing CompSci work since I graduated, I've forgotten 99% of what I learned about EE/electronics. I'm using this project as an excuse to get back into what I originally went into school for.  I miss the blinky lights, though I don't miss getting zapped! :)  I used to be able to design elevator control systems, now I don't know what you'd use a capacitor for in a circuit!</p>
			</div>
			<div id = "comment-3468" class = "comment">
				<p>While I code Microchip and Arduino (etc.) in C & Assy (etc.,) for quickie projects   cheap   the Picaxe is tops.  Picaxe BASIC is 100% free, the chips aren t expensive and if you have a PC serial port, the programmer is ultra-cheap (a couple of resistors.)  My g/f s 9yo son is becoming an excellent Picaxe experimenter, it s that easy!!   If you re interested I ll post some links. I still don t know what MCU I used in the spider-dropper, will know soon and let you know.    Course, maybe we can put this together without an MCU.  (Caps are used in circuits to make smoke.)  (grin)</p>
			</div>
			<div id = "comment-3476" class = "comment">
				<p>let us [continue this discussion in chat](http://chat.stackexchange.com/rooms/9822/discussion-between-user1146334-and-joefromozarks)</p>
			</div>
			<div id = "comment-3477" class = "comment">
				<p>I left a note..</p>
			</div>
			</div>
				<textarea id = "speech-1576" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1576">
					<img id="start_img-1576" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1576">Comment</button>
			<br><div id = "ans-1577"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1577" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want to detect how tall your target is <em>and</em> tailor the drop height to suit, then you are going to need more precise <em>sensors</em> and <em>control</em> than the other (excellent) answers here.</p>

<p>One option might be to use a <a href="http://www.pololu.com/catalog/product/723" rel="nofollow noreferrer">Sonar Range Finder</a> as suggested in <a href="https://robotics.stackexchange.com/a/1397/37">this answer</a> to <a href="https://robotics.stackexchange.com/q/1393/350">What is the cheapest / easiest way of detecting a person?</a> <sup>(Thanks <a href="https://robotics.stackexchange.com/a/1572/37">Ian</a>)</sup></p>

<h3>Basic idea</h3>

<p>While the <em>SRF</em> is detecting a distance of more than your maximum drop distance, the 'spider' would lie in wait. If the <em>SRF</em> detects anything closer, you immediately start the motor unspooling the cord and the spider will start dropping.</p>

<p>As the spider is dropping you continue monitoring the <em>SRF</em> and stop unspooling when the length of cord you've unspooled is approximately the same as the <em>minimum</em> distance measured by the <em>SRF</em> since it started dropping. This should place the spider right at eye level of the tallest person there, for maximum effect.</p>

<p>Finally, after a short delay, start the motor slowly returning to it's rest position by spooling the cord back in and resetting for the next <em>attack</em>.</p>

<h3>Complications</h3>

<p>You will need to be careful about the weight of the spider. It needs to be heavy enough that <a href="https://en.wikipedia.org/wiki/Drag_%28physics%29" rel="nofollow noreferrer">drag (air resistance)</a> does not significantly impede it's acceleration due to gravity, but not so heavy that it could harm anyone or overload your motor.</p>

<p>Even if your spider isn't <em>too</em> heavy, you will want to make sure that there is <a href="http://www.wikihow.com/Make-Larp-Arrows" rel="nofollow noreferrer">1.5 to 2" of foam</a> between the heavy centre and anything that might touch anyone. You will also need to make sure that there are no stiffening wires or springs which can end up protruding out of the spider as it wears. All basic health and safety stuff really.</p>

<p>If the spider is dropping into the SRF sensor beam area, then obviously you will not be able to improve your initial estimate of drop distance, and will just have to drop to that first range measured. This might mean that you end up dropping to teh height of someone's hand rather than to the level of their head though.</p>

<p>If you want to be clever, you can arrange your drop trajectory to be controlled so that you never have too much loose cord, this will minimise the risk of the cord getting tangled and snagging on anything. In this case you will want to ramp up the speed of the motor such that the cord is being spooled out at the same rate as the acceleration of the spider due to gravity, i.e. $9.8 ms^{-2}$.</p>

<p>You may or may not also want to control the deceleration rate as you approach the desired drop length. The faster you stop it, the more dramatically the spider will bounce and jump around, but the more stress you will put your system under.</p>

<p>Finally, you will want to size your motor such that it can move relatively quickly under light load (when dropping) but still have the torque to stop the spider at the end of travel (and winch the spider back up).</p>

<h3>Some calculations</h3>

<p>The formulae for <a href="http://en.wikipedia.org/wiki/Acceleration#Uniform_acceleration" rel="nofollow noreferrer">uniform acceleration</a> is $s=ut+\frac{1}{2}at^2$ where $s$ is displacement, $u$ is initial velocity (zero in our case), $a$ is uniform acceleration and $t$ is time.</p>

<p>Assuming that you have a spool of 10cm in circumference, and want to drop the spider at most 2m then $s=2$, $u=0$, $a=9.8$ and $t$ is unknown: $t=\sqrt{\frac{2}{\frac{9.8}{2}}}=0.638$. To spool 2m in that time seconds would require the spool to turn at almost 2000 rpm on average ($200/10/0.638*60=1881$).</p>

<p>This seems a little unreasonable, so doubling the spool to 20cm circumference would drop the motor speed to under 1000rpm on average, but we are now looking at quite a bulky bit of mechanics.</p>

<h3>Conclusion</h3>

<p>If you get the design right, you might even be able to fit all of the components needed (spider, spool, motor, drive electronics, control electronics, sensor and power supply) into something which you can screw into a light fitting and thus hide in a (large) lamp shade.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1577" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-1577">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1577">Load Comments</button></br>
			<div id = "commentsection-1577" class = 'collapse'>
			<div id = "comment-3288" class = "comment">
				<p>If anyone could check my maths, I would appreciate it. Thanks,</p>
			</div>
			</div>
				<textarea id = "speech-1577" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1577">
					<img id="start_img-1577" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1577">Comment</button>
			<br><div id = "ans-1578"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1578" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I did this exact same project 6 years back. I used two servos. The first was a continuous rotation servo with a spool the pull the spider up. The spool did not have an end on it so that when the spool turned parallel to the string it all came loose and the spider fell. It was simple and effective, although the CR servo that I used was under powered.</p>

<p>I have a write up in <a href="http://forums.parallax.com/showthread.php/107352-Oldbit-s-Unofficial-Propeller-Halloween-Contest-%28Over-300-value-in-cash-amp-priz?p=760287&amp;viewfull=1#post760287" rel="nofollow noreferrer">this thread</a> on the Parallax forums.</p>

<p><img src="https://i.stack.imgur.com/LSHzj.jpg" alt="hardware picture"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1578" data-toggle = "popover">
				<p>user name : srlm</p>
				<p> user reputation : 361</p>
				<p class = "tagcontent" id = "usertaginfo-1578">{'None': 23}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1578">Load Comments</button></br>
			<div id = "commentsection-1578" class = 'collapse'>
			<div id = "comment-3453" class = "comment">
				<p>Did you ever figure out how much torque would be needed to raise the spider up in a reasonable manner?  What's the difference between a continuous rotation servo and stepper motors and DC motors?</p>
			</div>
			<div id = "comment-3455" class = "comment">
				<p>The torque is dependent on the weight of the spider, the diameter of the spool, the acceleration (up) required, and the various losses in the system. I didn't (and wouldn't) calculate it. Instead, just try out a servo and go to a bigger one if needed. Your second question should be asked as a question instead of in a comment.</p>
			</div>
			</div>
				<textarea id = "speech-1578" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1578">
					<img id="start_img-1578" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1578">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>