<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to combine an accelerometer and a gyroscope to find robot location and orientation in 2D~3D space
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6367" class = "post">
			<h2>Question</h2>
			<div id="vote-6367" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2620</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to combine an accelerometer and a gyroscope to find robot location and orientation in 2D~3D space</h2>
<p>I have data from an accelerometer that measures X,Y,Z acceleration and data from a gyroscope that measure pitch, roll and yaw. How would I combine this data to find robot location and orientation in 2D or 3D space? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6367" data-toggle = "popover">
				<p>user name : higgs241</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-6367">{'None': 0, 'accelerometer': 2, 'algorithm': 2, 'localization': 2, 'arduino': 1, 'raspberry-pi': 1, 'gyroscope': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6367" class = 'collapse'>
			</div>
				<textarea id = "speech-6367" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6367">
					<img id="start_img-6367" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6367">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6368"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6368" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Look into nonlinear filters, particularly the unscented kalman filter (ukf). Using a ukf to fuse the data from a gyroscope and accelerometer will allow you to estimate orientation. However, these two sensors alone will not be capable of estimating position. You will need some sort of sensor that measures distance or position. </p>

<p>For information on the ukf, look into Probabilistic Robotics.</p>

<p><a href="http://rads.stackoverflow.com/amzn/click/0262201623" rel="nofollow">http://www.amazon.com/Probabilistic-Robotics-Intelligent-Autonomous-Agents/dp/0262201623/ref=sr_1_1?ie=UTF8&amp;qid=1421178247&amp;sr=8-1&amp;keywords=probabilistic+robotics</a> </p>

<p>Response to comment-</p>

<p>Imagine you are trying to estimate the position of a car that is traveling down a straight road. To estimate the position of the car, you are given a picture of the car's speedometer every second. You can get an idea of how far the car has traveled using this information but you will not know for certain. If there is any bias in the speedometer, your guess of the total distance traveled will be way off. To really know the car's position, you need to be able to measure it directly.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6368" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-6368">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6368">Load Comments</button></br>
			<div id = "commentsection-6368" class = 'collapse'>
			<div id = "comment-9187" class = "comment">
				<p>Why can't these two sensors alone estimate position?</p>
			</div>
			</div>
				<textarea id = "speech-6368" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6368">
					<img id="start_img-6368" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6368">Comment</button>
			<br><div id = "ans-6373"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6373" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately I cannot comment. </p>

<p>You can, but it will most likely be very inaccurate.
If you use an accelerometer output to calculate displacement by double integration, any error will be compounding. Because you have no way to offset this error, over time it will become so large that the position value is meaningless.</p>

<p>The other issue is if you are moving at constant velocity the accelerometer will report 0m/s/s, so double integration with respect to time will give a displacement of 0, making the robot appear stationary.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6373" data-toggle = "popover">
				<p>user name : Stevensmay</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-6373">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6373" class = 'collapse'>
			</div>
				<textarea id = "speech-6373" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6373">
					<img id="start_img-6373" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6373">Comment</button>
			<br><div id = "ans-6380"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6380" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.mouser.com/applications/sensor_solutions_mems/" rel="nofollow">Here's</a> a pretty good overview of what holmeski is saying, and using multiple sensors in general for different applications. </p>

<p>FWIW DARPA is, and has been looking into inertial sensors with enough precision to get useful positional tracking. It's called "Micro-PNT" for "position navigation and timing" and the idea is to not need a GPS.</p>

<p>Also, here's some more info <a href="http://www.darpa.mil/Our_Work/MTO/Programs/Micro-Technology_for_Positioning,_Navigation_and_Timing_%28Micro-PNT%29.aspx" rel="nofollow">directly from the DARPA site</a>.</p>

<p>Quoting, </p>

<p>"The micro-PNT initiatives seek to increase the dynamic range of inertial sensors, reduce long-term drift in clocks and inertial sensors, and to develop miniature chips providing position, orientation, and time information. "</p>

<p>The bottom line general answer is, current inertial sensors generate too much uncertainty to be used standalone, and sensor fusion has it's own set of limitations.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6380" data-toggle = "popover">
				<p>user name : Matt Brown</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-6380">{'None': 16, 'wheeled-robot': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6380" class = 'collapse'>
			</div>
				<textarea id = "speech-6380" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6380">
					<img id="start_img-6380" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6380">Comment</button>
			<br><div id = "ans-6381"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6381" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Its possible.</strong></p>

<p>I did the same in my graduation project. What you need is:</p>

<ol>
<li><p>Controlled movement over your machine, that you can command the machine to move 1 meter forward or 50cm back etc.</p></li>
<li><p>You need to train your system to learn from accelerometer data according to those controlled movements.</p></li>
<li><p>Train on different surfaces and also calculate the time elapsed in one particular move.</p></li>
<li><p>After some training your machine will understand that what does it means to move 1 meter forward or backward.</p></li>
</ol>

<p>Believe me, it works like magic. My project was 3D semantic analysis and map reconstruction using autonomous agents, and I have not used GPS at all. I hope this will help you and somehow will also motivate you because its possible. :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6381" data-toggle = "popover">
				<p>user name : Areeb Gillani</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6381">{'None': -2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6381" class = 'collapse'>
			</div>
				<textarea id = "speech-6381" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6381">
					<img id="start_img-6381" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6381">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>