<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I measure the distance that a cord (string) has moved?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1078" class = "post">
			<h2>Question</h2>
			<div id="vote-1078" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 901</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I measure the distance that a cord (string) has moved?</h2>
<p>For a pet project, I am trying to fly a kite using my computer.  I need to measure how far a cord extends from a device.  I also need to somehow read out the results on my computer. So I need to connect this to my pc, preferably using something standard like USB.</p>

<p>Since the budget is very small, it would be best if I could get it out of old home appliances or build it myself.</p>

<p>What technology do I need to make this measurement?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1078" data-toggle = "popover">
				<p>user name : kramer65</p>
				<p> user reputation : 227</p>
				<p class = "tagcontent" id = "usertaginfo-1078">{'wheel': 6, 'None': 5, 'noise': 1, 'usb': 6, 'algorithm': 1, 'encoding': 6, 'battery': 1, 'uav': 5, 'python': 1, 'kalman-filter': 1, 'imu': 1, 'motor': 1, 'raspberry-pi': 4, 'mobile-robot': 4, 'sensors': 6, 'pitot-tube': 1, 'self-driving': 1, 'steering': 1, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1078" class = 'collapse'>
			</div>
				<textarea id = "speech-1078" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1078">
					<img id="start_img-1078" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1078">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1079"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1079" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Maybe you could take one from an old computer mouse, and count the light pulses directly from the mouse board so you could tell the length of the cord.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1079" data-toggle = "popover">
				<p>user name : mimipc</p>
				<p> user reputation : 240</p>
				<p class = "tagcontent" id = "usertaginfo-1079">{'quadcopter': 11, 'stability': 9, 'None': 4, 'battery': 5, 'bec': 2, 'brushless-motor': 3, 'esc': 2, 'electronics': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1079">Load Comments</button></br>
			<div id = "commentsection-1079" class = 'collapse'>
			<div id = "comment-2513" class = "comment">
				<p>Examples: [one](http://hackaday.com/2008/05/16/how-to-scavenge-a-mouse-for-parts/), [two](http://members.shaw.ca/swstuff/mouse.html), [three](http://www.boondog.com/tutorials/mouse/mouseHack.htm)</p>
			</div>
			<div id = "comment-2517" class = "comment">
				<p>That is simply brilliant! Not only can I choose from mechanical and optical variants, they also already have a USB-cable attached! I think I will try this first. I love the high DYI part of this!</p>
			</div>
			</div>
				<textarea id = "speech-1079" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1079">
					<img id="start_img-1079" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1079">Comment</button>
			<br><div id = "ans-1080"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1080" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sure, here are a couple of choices for you:</p>

<hr>

<p>For high end, you can look at a 200 counts per revolution rotary encoder like this one:</p>

<p>$30 <a href="https://www.sparkfun.com/products/10790" rel="nofollow noreferrer">Sparkfun 200 Counts Per Revolution Rotary Encoder</a></p>

<p><img src="https://i.stack.imgur.com/qKLcL.jpg" alt="Rotary Encoder"></p>

<p>You'll need a microcontroller like an Arduino to count the rotations, there's some sample code to play with.</p>

<hr>

<p>$5 <a href="https://www.adafruit.com/products/377" rel="nofollow noreferrer">Adafruit 24 Counts Per Revolution Rotary Encoder</a>
<img src="https://i.stack.imgur.com/ECKLe.jpg" alt="24 CPR Rotary Encoder"></p>

<p>Cheaper, not quite as much community support in comments.</p>

<hr>

<p>For a little more fun, you can combine the rotary encoder with a gearmotor so you could control the kite string with one piece of equipment.</p>

<p>$40 <a href="http://www.pololu.com/catalog/product/1447" rel="nofollow noreferrer">Pololu 64 Counts Per Revolution Encoder + Gearmotor</a>
<img src="https://i.stack.imgur.com/NPwGc.jpg" alt="Pololu Gearmotor with encoder"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1080" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-1080">{'None': 68}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1080">Load Comments</button></br>
			<div id = "commentsection-1080" class = 'collapse'>
			<div id = "comment-2516" class = "comment">
				<p>Thanks for all the good links and tips. There's a whole world opening up for me here!</p>
			</div>
			<div id = "comment-2525" class = "comment">
				<p>You're welcome.  It's a ton of fun!</p>
			</div>
			</div>
				<textarea id = "speech-1080" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1080">
					<img id="start_img-1080" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1080">Comment</button>
			<br><div id = "ans-1115"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1115" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I like @kramer65's answer but because you indicated you might like to make an encoder, I thought I'd share some information on that.</p>

<p><a href="http://www.societyofrobots.com/sensors_encoder.shtml" rel="nofollow noreferrer">http://www.societyofrobots.com/sensors_encoder.shtml</a> shows a very common way of making a rotary encoder. You attach a disk with evenly spaced holes or reflective surfaces depending on implementation to your shaft. You align a light sensor with the holes and count the number of holes that pass to determine how much the shaft has turned. This has the disadvantage of not being able to determine direction but there was ways to modify the design to add that feature. </p>

<p><img src="https://i.stack.imgur.com/254ew.jpg" alt="An example of a homemade encoder."></p>

<p>More information can be found in these places:</p>

<p><a href="http://groups.csail.mit.edu/mac/users/pmitros/encoder/" rel="nofollow noreferrer">http://groups.csail.mit.edu/mac/users/pmitros/encoder/</a></p>

<p><a href="http://thedenneys.org/pub/robot/encoders/" rel="nofollow noreferrer">http://thedenneys.org/pub/robot/encoders/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1115" data-toggle = "popover">
				<p>user name : brnd4n</p>
				<p> user reputation : 301</p>
				<p class = "tagcontent" id = "usertaginfo-1115">{'None': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1115" class = 'collapse'>
			</div>
				<textarea id = "speech-1115" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1115">
					<img id="start_img-1115" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1115">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>