<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How do I float questions to the top?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-655" class = "post">
			<h2>Question</h2>
			<div id="vote-655" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I float questions to the top?</h2>
<p>I have several questions that have not been answered and consequently, they floated to the bottom of the question list. How do I get the question more towards the top again?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-655" data-toggle = "popover">
				<p>user name : daviesgeek</p>
				<p> user reputation : 18210</p>
				<p class = "tagcontent" id = "usertaginfo-655">{'community-wiki': -2, 'questions': -4, 'design': 14, 'chat': 1, 'images': 1, 'flagging': 3, 'unanswered-questions': -4, 'editing': 6, 'support': 10, 'hyperlinks': 12, 'feature-request': 16, 'bounty': 1, 'status-bydesign': 1, 'profile-page': 1, 'None': 27, 'tags': 2, 'status-completed': 3, 'moderator-tools': 3, 'review-page': 1, 'bug': 1, 'closed-questions': 0, 'reputation': 1, 'voting': 3, 'discussion': 31}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-655" class = 'collapse'>
			</div>
				<textarea id = "speech-655" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-655">
					<img id="start_img-655" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-655">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-656"  class = "post">
				<h2>Answer</h2>
			<div id="vote-656" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Oops, I figured this out. I just edited the question and the question went back up to the top.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-656" data-toggle = "popover">
				<p>user name : daviesgeek</p>
				<p> user reputation : 18210</p>
				<p class = "tagcontent" id = "usertaginfo-656">{'community-wiki': -2, 'questions': -4, 'design': 14, 'chat': 1, 'images': 1, 'flagging': 3, 'unanswered-questions': -4, 'editing': 6, 'support': 10, 'hyperlinks': 12, 'feature-request': 16, 'bounty': 1, 'status-bydesign': 1, 'profile-page': 1, 'None': 27, 'tags': 2, 'status-completed': 3, 'moderator-tools': 3, 'review-page': 1, 'bug': 1, 'closed-questions': 0, 'reputation': 1, 'voting': 3, 'discussion': 31}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-656">Load Comments</button></br>
			<div id = "commentsection-656" class = 'collapse'>
			<div id = "comment-1192" class = "comment">
				<p>I don't believe the purpose of editing is to 'bump' your question. In the case that you wish to see your question answered more quickly you could offer a bounty on it.</p>
			</div>
			<div id = "comment-1196" class = "comment">
				<p>OK..thank you for letting me know. I know that the question I asked could be answered, but it wasn't, so I wanted it to be "bumped" back up. And the editing I did was helpful editing, not just editing for the sake of editing.</p>
			</div>
			</div>
				<textarea id = "speech-656" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-656">
					<img id="start_img-656" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-656">Comment</button>
			<br><div id = "ans-1097"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1097" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While editing does bump questions, editing for the sake of bumping a question is not encouraged. The officially sanctioned way to draw attention to a question you believe has been neglected (your own or another's) is to offer a bounty for said question so it becomes a <a href="https://apple.stackexchange.com/?tab=featured">featured question</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1097" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1097">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1097" class = 'collapse'>
			</div>
				<textarea id = "speech-1097" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1097">
					<img id="start_img-1097" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1097">Comment</button>
			<br><div id = "ans-1098"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1098" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I recently went through my old questions (as I have a very low acceptance rate) with a view to getting them answered.</p>

<p>On a couple I put a bounty on, and on some others (including 1 that had had a bounty previously which hadn't resulted in an accepted answer) I edited them purely in order to bump them, but took the opportunity to completely rewrite the question in the hope that one of the reasons poor a poor answer rate was because the question was not good enough to start with.</p>

<p>This has worked with one of the questions, with a few more answers coming in, but not for the other.  Either way, I feel the edits were justified as they were substantially altered in an effort to increase their chances of a good answer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1098" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-1098">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1098" class = 'collapse'>
			</div>
				<textarea id = "speech-1098" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1098">
					<img id="start_img-1098" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1098">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>