<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How does a six-axis force~torque sensor work?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-249" class = "post">
			<h2>Question</h2>
			<div id="vote-249" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1156</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How does a six-axis force~torque sensor work?</h2>
<p>I would really like a six-axis force/torque sensor for my robot, but I just can't afford one. I was thinking about making one of my own.</p>

<p>I have experience using strain gauges, but I can't work out how to arrange them so as to create a six-axis force/torque sensor.</p>

<ul>
<li>Is this something I could feasibly make myself?</li>
<li>How do they work? What is the theory behind them?</li>
</ul>

<p>I'm curious to know how they work, even if it's not feasible to make one myself.</p>

<hr>

<p>Added:</p>

<p>Just to be clear, I'm talking about <em>force / torque</em> sensors, like this <a href="http://www.ati-ia.com/products/ft/ft_models.aspx?id=Nano17" rel="nofollow noreferrer">ATI Nano 17</a>:</p>

<p><img src="https://i.stack.imgur.com/QwUvX.jpg" alt="ATI Nano"></p>

<p>I am not talking about accelerometers or gyros, or MEMS IMUs.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-249" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-249">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-249">Load Comments</button></br>
			<div id = "commentsection-249" class = 'collapse'>
			<div id = "comment-259" class = "comment">
				<p>Are you asking about a six axis force sensor for use as an intertial measurement unit (accelerometer & gyroscope)? Or something else?</p>
			</div>
			</div>
				<textarea id = "speech-249" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-249">
					<img id="start_img-249" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-249">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-253"  class = "post">
				<h2>Answer</h2>
			<div id="vote-253" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think its entirely impossible to build something like this, especially if you already have some experience with strain gauges. I think the most common way is to arrange the sensor in a <a href="http://en.wikipedia.org/wiki/Stewart_platform" rel="nofollow">Stewart Configuration</a>. There are a lot of articles on this, e.g. "Closed-form force sensing of a 6-axis force transducer based on the Stewart platform". </p>

<p>A similar Sensor from Schunk <a href="http://www.schunk.com/schunk_files/attachments/FT-Nano_017_EN.pdf" rel="nofollow">FT Nano</a> says in the datasheet: </p>

<blockquote>
  <p>Monolithic element with three measuring phases with an angle of 120 .
  Each phase has two semiconductor strain measuring bridges which record
  deformation in the micrometer range.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-253" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-253">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-253">Load Comments</button></br>
			<div id = "commentsection-253" class = 'collapse'>
			<div id = "comment-263" class = "comment">
				<p>Interesting, but is this actually what's inside something like the ATI Nano 17 ?</p>
			</div>
			</div>
				<textarea id = "speech-253" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-253">
					<img id="start_img-253" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-253">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>