<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I improve the range of an XBee S6B?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6366" class = "post">
			<h2>Question</h2>
			<div id="vote-6366" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 184</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I improve the range of an XBee S6B?</h2>
<p>Has anyone used the XBee WiFI modules? Done a range check on them?</p>

<p>With my laptop i get a range of around 400m on industrial level Accesspoints on a football field, well how good are these devices ? If i get a SMA Connector version and use a higher gain antenna am I looking at ranges from 250-500m ? (Talking 18-22dBi gains here).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6366" data-toggle = "popover">
				<p>user name : user2967920</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-6366">{'None': 2, 'microcontroller': 9, 'beagle-bone': 0, 'power': 0, 'battery': 1, 'wifi': 2, 'c': 2, 'wireless': 1, 'imu': 5, 'circuit': 1, 'electronics': 1, 'i2c': 1, 'serial': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6366" class = 'collapse'>
			</div>
				<textarea id = "speech-6366" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6366">
					<img id="start_img-6366" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6366">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7136"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7136" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Depends whether you're talking Point to point or just in a wifi field. According to the <a href="http://cdn.sparkfun.com/datasheets/Wireless/WiFi/ds_xbeewifis6b.pdf" rel="nofollow">datasheet</a> the transmit power is +16dBm or 40 mW and a maximum sensitivity of -93dBm. According to <a href="http://www.afar.net/rf-link-budget-calculator/" rel="nofollow">my favorite link budget calculator</a> with 2 of these modules both with 22dBi gain antennas on them you will get around 6 miles (RF line of sight) out of them with a respectable 33dB fade margin. But I suspect you are asking about accessing a standard wifi router, and with a receiving antenna gain of 0dBi (perfictaly omnidirectional) and a sensitivity of -70dBm (crappy ap) you will have a fade margin of around 13dB which would work, and I suspect it would be higher. So, those modules should work for your application, but the best way to find out is to test them. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7136" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7136">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7136" class = 'collapse'>
			</div>
				<textarea id = "speech-7136" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7136">
					<img id="start_img-7136" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7136">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>