<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to call remote ros node on mobile robot through laptop using wifi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11738" class = "post">
			<h2>Question</h2>
			<div id="vote-11738" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 132</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to call remote ros node on mobile robot through laptop using wifi</h2>
<p>I've recently tried to get the remote ros node on mobile robot through wifi. This is as below picture.</p>

<p><a href="https://i.stack.imgur.com/ek7fG.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ek7fG.png" alt="Laptop and Mobile robot connection"></a></p>

<p>I've run <strong>roscore</strong> command on both laptop and mobile robot and when running the roscore command I've got the following warning message on my laptop server</p>

<blockquote>
  <p>WARNING: ROS_MASTER_URI [<a href="http://192.168.7.2:11311]" rel="nofollow noreferrer">http://192.168.7.2:11311]</a> host is not set to this machine</p>
</blockquote>

<pre><code>auto starting new master
process[master]: started with pid[2719]
ROS_MASTER_URI=http://192.168.7.2:11311/

setting /run_id to 4ef6c0f8-bfdf-11d3-a450-4e699f75a6e7
process[rosout-1]:started with pid[2732]
started core service[/rosout]
</code></pre>

<p>but when run <strong>rosparam list</strong> command on laptop as below I've got the following results</p>

<pre><code>root@duminda-laptop:~#rosparam list
/rosdistro
/roslaunch/uris/host_192_168_7_2_35078
/rosversion
/run_id
root@duminda-laptop:~#rosparam get /rosdistro
hydro
root@duminda-laptop:~#rosparam get /roslaunch/uris/host_192_168_7_2_35078
http://192.168.7.2:35078
root@duminda-laptop:~#rosparam get /run_id
4ef6c0f8-bfdf-11d3-a450-4e699f75a6e7
</code></pre>

<p>These results shows that both laptop and mobile robot connected ok .</p>

<ul>
<li>Is my setup to receiving the mobile robots data to my laptop is ok?</li>
<li>Why there is a warning message like above when starting the roscore?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-11738" data-toggle = "popover">
				<p>user name : kaviranga</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-11738">{'None': 1, 'ros': 1, 'arduino': 0, 'avr': 0, 'slam': 1, 'rs232': 0, 'i2c': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11738" class = 'collapse'>
			</div>
				<textarea id = "speech-11738" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11738">
					<img id="start_img-11738" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11738">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11744"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11744" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You only need one <code>roscore</code>. It should be run by the "host," which is the mobile robot, if I understand correctly. Then you can connect to it with your laptop.</p>

<p>Following <a href="http://wiki.ros.org/ROS/Tutorials/MultipleMachines" rel="nofollow noreferrer">this tutorial</a> with the "talker" being your mobile robot and the "listener" being your laptop:</p>

<ol>
<li>Start the <code>roscore</code> on the host (mobile robot).<br>
<code>$ roscore</code></li>
<li>Configure <code>ROS_MASTER_URI</code> on the host (mobile robot).<br>
<code>$ export ROS_MASTER_URI=http://192.168.7.1:11311</code></li>
<li>Now, do that same step on your laptop.<br>
<code>$ export ROS_MASTER_URI=http://192.168.7.1:11311</code></li>
</ol>

<p>I've personally tried using hostnames, but sometimes it can't resolve it, so I've stuck to using the complete address.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11744" data-toggle = "popover">
				<p>user name : ChrisVolkoff</p>
				<p> user reputation : 43</p>
				<p class = "tagcontent" id = "usertaginfo-11744">{'None': 4, 'kinematics': 0, 'inverse-kinematics': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11744">Load Comments</button></br>
			<div id = "commentsection-11744" class = 'collapse'>
			<div id = "comment-22048" class = "comment">
				<p>This is good . I'll try this.</p>
			</div>
			</div>
				<textarea id = "speech-11744" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11744">
					<img id="start_img-11744" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11744">Comment</button>
			<br><div id = "ans-12577"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12577" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is how I make changes to my robot according to the book <strong><em>"Mastering ROS for Robotics Programming"</em></strong></p>

<p><strong><em>configuring mobile robot as ROS master</em></strong></p>

<pre><code>#setting LAPTOP_IP as mobile robot's ip
export LAPTOP_IP = 192.168.7.2

#setting ROS_IP variable as laptop's ip
export ROS_IP=$LAPTOP_IP

#setting ROS_MASTER_URI as mobile robot's_ip
export ROS_MASTER_URI = "http://192.168.7.2:11311"
</code></pre>

<p><strong><em>configuring laptop as ROS computing node</em></strong></p>

<pre><code>#setting LAPTOP_IP as laptop's ip
export LAPTOP_IP=192.168.7.1

#setting ROS_IP variable as laptop's ip
export ROS_IP=$LAPTOP_IP

#setting ROS_MASTER_URI as mobile robot's_ip
export ROS_MASTER_URI = "http://192.168.7.2:11311"
</code></pre>

<p>Also I've first tried this with different ros versions,<em>ROS groovy</em> on mobile robot and <em>ROS indigo</em> on my laptop . So as a result of that there was an error occurred described as in my question and in this attempt I've tried this configuration in both laptop and in the mobile robot using same <em>ROS indigo</em> versions. Hope this will help to others. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12577" data-toggle = "popover">
				<p>user name : kaviranga</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-12577">{'None': 1, 'ros': 1, 'arduino': 0, 'avr': 0, 'slam': 1, 'rs232': 0, 'i2c': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12577" class = 'collapse'>
			</div>
				<textarea id = "speech-12577" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12577">
					<img id="start_img-12577" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12577">Comment</button>
			<br><div id = "ans-12578"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12578" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From <a href="https://github.com/nubot-nudt/gazebo_visual#configuration-of-computer-a-and-computer-b" rel="nofollow noreferrer">Configuration of computer A and computer B</a> on <strong>nubot-nudt/gazebo_visual</strong>:</p>

<h1>Configuration of computer A and computer B</h1>

<p><a href="https://i.stack.imgur.com/qLcpL.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/qLcpL.png" alt="configuration"></a></p>

<blockquote>
  <p>Computer A runs one ROS node called N1 (i.e. Gazebo in the figure above) along with <strong>roscore</strong>. Computer B runs another ROS node called N2 (i.e. Coach 1 and Robot team 1 can be treated as one combined node in the figure above). </p>
  
  <p>The communication between computer A and computer B is via ROS master. The following is the configuration steps:</p>
</blockquote>

<ol>
<li>In computer A, add computer B's IP address in /etc/hosts; and in computer B, add computer A's IP address in /etc/hosts
e.g. In computer A, <code>$ sudo gedit /etc/hosts and add "Maggie 192.168.8.100"</code>
 In computer B, <code>$ sudo gedit /etc/hosts and add "Bart   192.168.8.101"</code></li>
<li>In computer A, run node N1; In computer B, before you run node N2, you should export ROS_MASTER_URI.
e.g. In computer B, <code>$ export ROS_MASTER_URI=http://Bart:11311</code></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12578" data-toggle = "popover">
				<p>user name : winston</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-12578">{'path-planning': 0, 'None': 0, 'robotics-library': 0, 'software': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12578">Load Comments</button></br>
			<div id = "commentsection-12578" class = 'collapse'>
			<div id = "comment-22068" class = "comment">
				<p>@MarkBooth Thank you for your comment. I have modified my answer to be more specific.</p>
			</div>
			</div>
				<textarea id = "speech-12578" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12578">
					<img id="start_img-12578" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12578">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>