<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to Visualize a real robot's movements on a map?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11889" class = "post">
			<h2>Question</h2>
			<div id="vote-11889" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 80</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to Visualize a real robot's movements on a map?</h2>
<p>I am working on obstacle avoidance and path planning in robotics using X80SV robot. The obstacle avoidance module of the robot works well. The programming language I have used in this work is C#. Next, I wanted to visualize the real-time motion of the robot. What should be done? The robot is equipped with ultrasonic sensors, infrared sensors, camera, human sensors etc. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11889" data-toggle = "popover">
				<p>user name : Steffi Keran Rani J</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-11889">{'path-planning': 0, 'mobile-robot': 0, 'None': 0, 'visualization': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11889" class = 'collapse'>
			</div>
				<textarea id = "speech-11889" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11889">
					<img id="start_img-11889" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11889">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11969"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11969" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There seems to be two questions in one:</p>

<ol>
<li>How should I visualise the trajectory (planned and traversed paths)?</li>
<li>How should I combine "ultrasonic sensors, infrared sensors, camera, human sensors etc. " into path planning?</li>
</ol>

<p>Also, I didn't get how obstacle avoidance is working 'well' (if it is binary obstacle or a gradient based obstacle marking probability fields). While code snippets are the ideal solutions, I would suggest adding more details to the question and the attempts you have tried.</p>

<p>Nevertheless, I shall attempt to solve that problem.</p>

<ol>
<li>We need visualisation; So, we need an off-board computer. If we want real-time visualisation, we need to transmit data (planned and traversed path) to the off-board computer. Else, we can store this data and at the end of the run, we can just gather the data.</li>
</ol>

<p>So, my suggestion: Use WiFi/USB/Bluetooth to transmit data back to computer.</p>

<ol start="2">
<li><p>We need path planning (for this I am assuming that SLAM isn't needed because we are talking about path <strong>planning</strong>); Use any path planning technique as described in this <a href="http://ai.stanford.edu/~ddolgov/papers/dolgov_gpp_stair08.pdf" rel="nofollow noreferrer">http://ai.stanford.edu/~ddolgov/papers/dolgov_gpp_stair08.pdf</a> (most of it assumes binary ostacles - Obstacle is either present or absent) If probabilistic obstacles are considered, it is a kind of local optimisation problem and more details are definitely necessary. <a href="https://www.researchgate.net/publication/2287847_Probabilistic_Methods_for_State_Estimation_in_Robotics" rel="nofollow noreferrer">https://www.researchgate.net/publication/2287847_Probabilistic_Methods_for_State_Estimation_in_Robotics</a></p></li>
<li><p>How should I fuse sensor data? <a href="https://robotics.stackexchange.com/questions/1393/what-is-the-cheapest-easiest-way-of-detecting-a-person">What is the cheapest / easiest way of detecting a person?</a> (Because of "human sensors") <a href="https://stanford.edu/class/ee267/lectures/lecture11.pdf" rel="nofollow noreferrer">https://stanford.edu/class/ee267/lectures/lecture11.pdf</a></p></li>
<li><p>How do I visualise data? This is the simplest. Use Python/Octave/MATLAB and visualise. There are many plotters that use CSV format. <a href="http://lmgtfy.com/?q=visualising+3D+plots" rel="nofollow noreferrer">http://lmgtfy.com/?q=visualising+3D+plots</a> (<a href="https://in.mathworks.com/help/matlab/2-and-3d-plots.html" rel="nofollow noreferrer">https://in.mathworks.com/help/matlab/2-and-3d-plots.html</a>) (You can also explore GNU Plot, Qti Plot etc)</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11969" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-11969">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11969" class = 'collapse'>
			</div>
				<textarea id = "speech-11969" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11969">
					<img id="start_img-11969" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11969">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>