<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to control velocity ratio when turning angle is  ?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1634" class = "post">
			<h2>Question</h2>
			<div id="vote-1634" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 278</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to control velocity ratio when turning angle is  ?</h2>
<p>Im designing a differential steering mechanism for my robot. Supposing my robot is going in a straight line and I want it to change it direction by a certain angle( $ $ in the diagram). What should the velocity ratio be of the 2 wheels so that it gradually turns and starts moving along a line that is $ $ degrees to the initial line of movement?
If there's any ambiguity in the question please take a look at my earlier question which is similar. <a href="https://robotics.stackexchange.com/questions/1602/how-to-design-a-differential-steering-mechanism">How to design a differential steering mechanism?</a>
<img src="https://i.stack.imgur.com/a0vKQ.jpg" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1634" data-toggle = "popover">
				<p>user name : Ghost</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-1634">{'None': 0, 'kinematics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1634">Load Comments</button></br>
			<div id = "commentsection-1634" class = 'collapse'>
			<div id = "comment-3403" class = "comment">
				<p>If I understand what you're asking the velocity ratio is the same as the travel distance ratio.  Draw the turn circle and compare the circumferences...</p>
			</div>
			<div id = "comment-3404" class = "comment">
				<p>Are we talking about transitions from one straight line to another?  The missing parameter is the distance over which you want to do that.  So it's start a turn one way, and then go back to a straight line...</p>
			</div>
			<div id = "comment-3405" class = "comment">
				<p>Yeah that't it. Basically its the ratio of the distances traveled by the 2 wheels while turning.</p>
			</div>
			<div id = "comment-3408" class = "comment">
				<p>If you were to describe your problem in terms of the diagram in [my answer](http://robotics.stackexchange.com/a/1527/37) to [Line Follower optimization](http://robotics.stackexchange.com/q/1524/37), then it might be easier to see what you are actually having a problem with.</p>
			</div>
			<div id = "comment-3409" class = "comment">
				<p>@Mark Booth Actually I already have taken a look at your answer. You'd referred it to me previously. I've adopted your formula  $SL=r $ for my case but the problem only Im facing is that I dont have any way to get $r$, the radius of the turn. If I have that I can directly get the ratio of the 2 speeds.</p>
			</div>
			<div id = "comment-3410" class = "comment">
				<p>Ah, I see where your problem is then, you need to choose $r$ according to how tight a turn you want. That's why @GuySirton was asking for the missing distance.</p>
			</div>
			<div id = "comment-3411" class = "comment">
				<p>@Ghost: what Mark said.  If you don't know what r to choose, make it a variable and try a few.  If you're traveling at any speed you want it big, to reduce g forces.  In fact, you probably want it as big as possible, just on general principles (and keeping in mind that "as big as possible" may mean r=0, depending on the circumstance).</p>
			</div>
			</div>
				<textarea id = "speech-1634" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1634">
					<img id="start_img-1634" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1634">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1635"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1635" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In your <a href="https://robotics.stackexchange.com/q/1602/350">previous question</a>, we calculated the <s>velocity</s> speed ratio that would be required to make a turn of a given radius.  I'm going to reuse those formulas with <em>inner</em> and <em>outer</em> replacing <em>left</em> and <em>right</em>, and $d_{axle}$ replacing $A$.  </p>

<p>In those terms, the ratio of the outer wheel's speed to the inner wheel's speed is still what it was before:
$$\frac{v_{outer}}{v_{inner}} = \frac{r+d_{axle}}{r}$$</p>

<p>However, in this question, you're trying to determine how much time should pass with the wheels turning at those speeds (in other words, following a circular path of a given $r$) before you come to a desired turning angle of $\theta$.</p>

<p>Here is the distance equation from before:</p>

<p>$$d_{inner} = \frac{\theta*2\pi{r}}{360}$$
$$v_{inner} = \frac{d_{inner}}{t} = \frac{\theta*2\pi{r}}{360*t}$$</p>

<p>So, solving for $t$:
$$ t = \frac{\theta*2\pi{r}}{360*v_{inner}}$$</p>

<p>This is essentially saying "how long will it take me to travel along a circular arc defined by $r$ and $\theta$ if I move at the given speed $v_{inner}$".</p>

<p>Now for the bad news: <strong>achieving this is impossible in practice</strong>.  The equations above are assuming that your acceleration is infinite, meaning that you would change your speed from $0$ to $v_{inner}$ instantly.  This has never happened.</p>

<p>If you need to be sure that you've reached a desired heading, you'll need to start working with sensors.  A GPS, a compass, or even wheel odometry would be good places to start.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1635" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1635">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1635" class = 'collapse'>
			</div>
				<textarea id = "speech-1635" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1635">
					<img id="start_img-1635" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1635">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>