<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How To Determine Heading Without Compass
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-550" class = "post">
			<h2>Question</h2>
			<div id="vote-550" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">16</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4581</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How To Determine Heading Without Compass</h2>
<p>Lets say I drop a robot into a featureless environment and any magnetic field based sensors (magnetometer/compass) are not allowed.</p>

<p>What methods are there of determining where north is?</p>

<p>Tracking the sun/stars is an option but not reliable enough when the weather is considered.
Can you pick up the rotation of the earth using gyros?</p>

<p>Are there any more clever solutions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-550" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-550">{'None': 174, 'localization': 16}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-550" class = 'collapse'>
			</div>
				<textarea id = "speech-550" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-550">
					<img id="start_img-550" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-550">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-553"  class = "post">
				<h2>Answer</h2>
			<div id="vote-553" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">23</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Wilderness survival might be a better place to look for "finding north without a compass" than in robotics, but here are some electronic adaptations of those techniques that might actually work on a robot.</p>

<h1>Finding North</h1>

<h2>GPS method</h2>

<p>Of course, your first choice would be to use a GPS -- the line between each pair of fixes will give you your direction of travel (but it won't work while you're standing still).  If you want something that works while you're standing still (and your vehicle is large enough), you could just use 2 GPS units spaced as far apart on the chassis as possible and measure the angle between them.</p>

<p><img src="https://i.stack.imgur.com/rKr0w.jpg" alt="Bearing between 2 points])"></p>

<p>(Full question here: <a href="https://stackoverflow.com/questions/8123049/calculate-bearing-between-two-locations-lat-long">https://stackoverflow.com/questions/8123049/calculate-bearing-between-two-locations-lat-long</a>)</p>

<p>This is by far the easiest and best way, but to make things really interesting, here are some other possible-yet-impractical approaches.  </p>

<h2>Shadow-stick method</h2>

<p><img src="https://i.stack.imgur.com/GnFX7.png" alt="Using a stick to cast a shadow and determine north"></p>

<p>Have the robot use its camera to watch its shadow for 10 or 15 minutes, and note the movement of the shadow.  Making a robot able to recognize its own silhouette is a problem in itself, but this is certainly an interesting thing to do with computer vision!</p>

<h2>Analog Watch Method</h2>

<p><img src="https://i.stack.imgur.com/IObpU.jpg" alt="Using an analog watch"></p>

<p>If you can point a camera at an analog watch, you can take advantage of the fact that the hour hand makes two revolutions in 24 hours (while the sun only makes one).  If you just make an analog clock of your own that rotates once every 24 hours, you can just point the 0:00 mark at the sun and the arm will point north.  It won't work at night.</p>

<h1>Keeping North</h1>

<p>Once you find north using the sun, you'll have to keep a good estimate of where it is while moving -- weather and time of day would prevent you from measuring it continuously.  There are a few ways to do this:</p>

<h2>GPS</h2>

<p>Again, the best possible option.  A pair of GPSes would be even better.</p>

<h2>INS</h2>

<p>Inertial Navigation Systems can give you a decent approximation of angular position by doubly integrating the (measured) angular acceleration.  You'll inevitably accumulate errors over time, but you can mitigate those errors by buying progressively more expensive INS units (seriously, they can cost into the tens of thousands of dollars).  Assuming you know the initial heading, the INS can track it from there.</p>

<h2>Visual SLAM</h2>

<p>You could use visual landmarks to keep a sense of which way is north.  Since you said it was a featureless environment, that's probably not going to work.  On the other hand, I don't know of any places in the great outdoors on earth that would count as "featureless".  Here is one possible resource for that: <a href="http://www.cvlibs.net/publications/icra11.pdf" rel="nofollow noreferrer">http://www.cvlibs.net/publications/icra11.pdf</a></p>

<h2>Triangulation</h2>

<p>You could also drop your own markers, and use surveying techniques to keep your bearings.<br>
<img src="https://i.stack.imgur.com/gCW5O.gif" alt="Example triangulation techniques"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-553" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-553">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-553" class = 'collapse'>
			</div>
				<textarea id = "speech-553" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-553">
					<img id="start_img-553" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-553">Comment</button>
			<br><div id = "ans-577"  class = "post">
				<h2>Answer</h2>
			<div id="vote-577" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Many gyros are sensitive enough to detect the Earth's rotation, and so get an estimate of "true North" (rotational North, as opposed to magnetic North).</p>

<p>I've been told the first person to detect the rotation of the Earth using a gyroscope was L on Foucault, in 1852. ( <a href="http://en.wikipedia.org/wiki/Gyroscope#History">a</a> )</p>

<p>That is the operating principle of the <a href="http://en.wikipedia.org/wiki/Gyrocompass">gyrocompass</a> and the <a href="http://en.wikipedia.org/wiki/Gyrotheodolite">gyro-theodolite</a>,
which are used to find true north on many ocean-going ships and in underground tunnels.
They can directly find North from a cold start.
(Unlike the "<a href="http://en.wikipedia.org/wiki/directional_gyro">directional gyro</a>" in most small planes).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-577" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-577">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-577" class = 'collapse'>
			</div>
				<textarea id = "speech-577" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-577">
					<img id="start_img-577" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-577">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>