<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to have a 'Auto Go Home' feature, like the DJI Phantom 3, on a project built quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8726" class = "post">
			<h2>Question</h2>
			<div id="vote-8726" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 499</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to have a 'Auto Go Home' feature, like the DJI Phantom 3, on a project built quadcopter?</h2>
<p>What should a quadcopter have, or have access to, in order to make this 'return home' feature work? Is GPS enough? What is the approach needed to make this happen?</p>

<p>I used a Arduino Mega 2560 with IMU to stable my quadcopter.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8726" data-toggle = "popover">
				<p>user name : Sonu Sunil</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-8726">{'quadcopter': 3, 'None': 0, 'localization': 3, 'arduino': 3, 'sensors': 3, 'gps': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8726" class = 'collapse'>
			</div>
				<textarea id = "speech-8726" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8726">
					<img id="start_img-8726" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8726">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8727"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8727" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would go with one of two-ish methods to do this, but both methods require the craft to know its own position. You could do this with GPS, or an IMU, or any other means or combination of position tracking. </p>

<p>Method 1 - Only track where you are and where "home" is. Use sensors to detect obstacles along your path and navigate around them as applicable. </p>

<p>Method 2 - Leave "breadcrumbs". Set your first waypoint where "home" is. Every time you get X meters away from the last waypoint, set a new waypoint. Assume there is no obstacles between waypoints (set the waypoint distance small enough that this should always be true), then just follow the waypoints back. </p>

<p>Note that Method 1 is just Method 2 with a very large distance setpoint.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8727" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8727">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8727">Load Comments</button></br>
			<div id = "commentsection-8727" class = 'collapse'>
			<div id = "comment-21237" class = "comment">
				<p>There can be additional battery failsafe, RC failsafe (as mentioned in other answers) and consideration of prohibited areas</p>
			</div>
			</div>
				<textarea id = "speech-8727" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8727">
					<img id="start_img-8727" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8727">Comment</button>
			<br><div id = "ans-8737"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8737" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Primarily it will be GPS based. I have a Phantom 3 Pro and I have seen how the Go Home feature works.  Before it returns to the x,y coordinates set as "home" it goes to a specific altitude. Presumably this is determined from the altitude of it's home position plus some pre-determined safety zone that is known to be clear of some of the tallest standard obstructions such as streetlights, power cables etc.</p>

<p>It is probably a very good idea to go directly to this altitude first by vertical means only, then traverse to the lat,long coordinates and then descend to landing as the DJI does.  I have flown my quad in the mountains where I stand on a crest or cliff and fly down into the valley below. You don't want to hit cliff faces or trees on the way up or down.</p>

<p>Also, what about obstacle avoidance? If the vehicle goes behind something such as a tall building, making a bee line straight back to home is not going to be the best flight path.</p>

<p>The DJI has two ways of identifying home. One is to remember where it took off from, and if you don't give it enough time to get a proper GPS lock before you take off it might try to fly back to its previous "Home" site, which could be miles away. The other is that there is a GPS in the controller and it can communicate this to the vehicle so the vehicle comes back to the controller even if it is moving.</p>

<p>Also consider that it's probably coming home with little remaining battery power, so shortest distance back could be a good thing. This might contradict what was previously noted about obstacle avoidance.</p>

<p>I believe that the "Go Home" feature is mostly useful when it is lost from eyesight and especially when the signal gets weak or is lost completely. Many times it is only necessary to come back towards you and let you reestablish those two things, then it's probably best to let the controller assume its initial role.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8737" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-8737">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8737" class = 'collapse'>
			</div>
				<textarea id = "speech-8737" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8737">
					<img id="start_img-8737" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8737">Comment</button>
			<br><div id = "ans-8741"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8741" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The answer to what capabilities the quadcopter to have is: link loss algorithms and navigation capacity.</p>

<p>Link loss procedure for a robot could be:</p>

<ol>
<li><p>determine that there's a link loss (no commands for 1 second?)</p></li>
<li><p>try to aquire link back, for a while (a minute?) (increase altitude while circling a calm radius)</p></li>
<li><p>increase altitude to the Safe to Navigate altitude (which is mission plan dependent, and maybe configured before each flight).</p></li>
<li><p>navigate to Lat-Lon of the Home Point (using intermediate points or direct navigation, if no intermediate waypoints exist).</p></li>
<li><p>slowly descend to the ground after some time (depends on the endurance capability of the vehicle); doing some alerting actions (playing music, waving around, displaying lights on and off) for any possible human/lives on ground would be cool.</p></li>
</ol>

<p>Important: Home Point must be chosen away from people, cars, etc. And it should also be relatively easy to retrieve the vehicle back.</p>

<p>This procedure must be known by crew and any parties that are around the flight zone (other modelers, aviation authorities, friends, police, etc), and Home Point (and intermediate waypoints) must be set up / controlled before each takeoff.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8741" data-toggle = "popover">
				<p>user name : G rkan  etin</p>
				<p> user reputation : 284</p>
				<p class = "tagcontent" id = "usertaginfo-8741">{'None': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8741" class = 'collapse'>
			</div>
				<textarea id = "speech-8741" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8741">
					<img id="start_img-8741" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8741">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>