<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How PID affect the Root locus of a close loop transfer function
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2935" class = "post">
			<h2>Question</h2>
			<div id="vote-2935" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 143</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How PID affect the Root locus of a close loop transfer function</h2>
<p>I am trying to understand how a PID controller moves the poles and zeros of an transfer function. 
I've been playing a bit with it, but aren't able to see some kind of connection. </p>

<p>I mean that P and I rises the Overshoot which would mean that the damping ratio gets smaller, thereby should  away from the real axis. </p>

<p>and D should should do the opposite, but it doesn't seem to be true with the examples i've used.. am i doing something wrong??</p>

<p>Well i kind of just want a general knowlegde of how it affect second order systems. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2935" data-toggle = "popover">
				<p>user name : Control</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-2935">{'control': 19, 'None': 0, 'pid': 16, 'tuning': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2935">Load Comments</button></br>
			<div id = "commentsection-2935" class = 'collapse'>
			<div id = "comment-5361" class = "comment">
				<p>Can you give some more details on the examples you're trying?</p>
			</div>
			<div id = "comment-5362" class = "comment">
				<p>Well i kind of just want a general knowlegde of how it affect second order systems.</p>
			</div>
			</div>
				<textarea id = "speech-2935" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2935">
					<img id="start_img-2935" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2935">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2947"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2947" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So imagine this scenario: </p>

<p>You are driving you car towards a red stop light. As a human, you would naturally adjust your speed so that you smoothly stop in front of the stop line. </p>

<p>Here is how a PID controller would do it:</p>

<p><strong>P:</strong> The proportional part of the controller would measure the exact distance from the car to the stop light, and drive slower and slower as it approaches the light. The P-controller  will drive super slow when getting close to the light, eventually stop without actually reaching it.</p>

<p><strong>I:</strong> The integral part of the controller would go fast towards the light, pass it, realise it had gone too far, drive back, drive back too far, then go forwards again, drive pass the light again, and so on. The I-controller might, in fact, never stop <em>on</em> the line. </p>

<p><strong>D:</strong> The derivative part of the controller would know exactly when to start breaking, so that it does not break to early - like the P-controller - nor does it drive to far - like the I-controller. Instead, it would start breaking exactly when it needs to, giving a firm but smooth stop in front of the stop light. </p>

<p>A properly tuned <strong>PID</strong> would combine these characteristics: The <strong>P</strong> would measure the exact distance to the light, and adjust the initial speed according to this distance. The <strong>I</strong> would be more aggressive, and enforce that no breaking is done until the the stop light is close, while the <strong>D</strong> would take over breaking when it realises the car is going way too fast towards the stop light, and break firmly. </p>

<p>Depending on the weighting of Kp, Ki and Kd, these characteristics will be more or less visible in the final system. Of course, the example contains some simplifications. For a general tuning guide, have a look at the <a href="http://en.wikipedia.org/wiki/Ziegler%E2%80%93Nichols_method" rel="nofollow">Ziegler-Nichols method;</a> the first paragraph in this wiki pretty much explains it all. Note that this tuning method is merely a guide, and that you will most likely have to manually fine tune the system afterwards.</p>

<p>Hope that helps!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2947" data-toggle = "popover">
				<p>user name : Tormod Haugene</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-2947">{'None': 5, 'computer-vision': 3, 'cameras': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2947">Load Comments</button></br>
			<div id = "commentsection-2947" class = 'collapse'>
			<div id = "comment-5373" class = "comment">
				<p>thanks for you answer,  it cleared some things, but i am still missing an answer on how it affect the root locus of an system.</p>
			</div>
			<div id = "comment-5381" class = "comment">
				<p>All right. I'm a bit rusty on this, so I might be wrong, but this is how I remember it: Poles in the right half plane gives an unstable system. The further out in the left half plane the poles are placed, the faster the system will stabilize. Finally, the rate of oscillation will increase as their distance from the real axis increases (and the angle between the poles and the imaginary axis decreases). Was that more of what you were aiming for? :)</p>
			</div>
			<div id = "comment-5382" class = "comment">
				<p>Well.. more how increasing Ki,Kp and Kd moves the poles and zeroes for an transfer function.</p>
			</div>
			<div id = "comment-5383" class = "comment">
				<p>Well, I believe there is no single answer to that. If you, for instance, by increaseing Kp, the poles can both move to the left or to the right, depending on the system. The same can be said for the Ki and Kd parameters.</p>
			</div>
			<div id = "comment-5385" class = "comment">
				<p>hmm.. well..what about the pole and the zero which I and D will be introduced to the system, the pole will be placed at 0, but zero should  change location according to its value..</p>
			</div>
			<div id = "comment-5386" class = "comment">
				<p>whar about speed an such things...</p>
			</div>
			<div id = "comment-5388" class = "comment">
				<p>I've read somewhere that the addition of the zero make the system more stable, since the root locus gets pulled more towards the zero, and the pole make the root locus more unstable since to pushed it to the right.</p>
			</div>
			<div id = "comment-5393" class = "comment">
				<p>If I remember correctly, what you say is correct in their respective settings: the I can absolutely make the system unstable, but if tuned correctly, it can also make the system a LOT faster! Another reason why the I is included in systems incorporating a P controller, is because a P controller alone will never reach its reference if under constant disturbance; when the controller gets close to its reference, it will give a very small gain. If "held back" by some disturbance, this small gain will manage to not drive the system to its reference.</p>
			</div>
			<div id = "comment-5394" class = "comment">
				<p>(...) If a slightly "unstable" part is included, however (the I!), the system will always have a slight oscillation, meaning it overshoot the reference, go back, overshoot etc. instead of settling at a output (the P alone). Then again, we often don't want the small oscillations created by the I part, and therefore the D part is introduces, which dampen this oscillation. In summary: without the I, the system will often never actually reach its reference with constant disturbances present.</p>
			</div>
			<div id = "comment-5395" class = "comment">
				<p>Moreover, a system using a P and D will often be super stable, but at the cost of lower speed, and inability to handle constant disturbances.</p>
			</div>
			<div id = "comment-5402" class = "comment">
				<p>but how come will a system become slower, when poles moving more to the left makes the system decay faster.. ?? i mean faster decay => faster system?? or?</p>
			</div>
			<div id = "comment-5404" class = "comment">
				<p>Poles further to the left <=> faster system <=> the system settles quicker at the desired reference <=> the Error decays faster. I realize those last comments were written a bit late at night. Sorry if they caused confusion! .. :-)</p>
			</div>
			<div id = "comment-5405" class = "comment">
				<p>so just be sure
Proportional => moved the poles to the right => which increases settling time, since the system decays slower.  Causes the system to be unstable since the poles moves to the right.  but will an slow system cause overshoot??</p>
			</div>
			<div id = "comment-5406" class = "comment">
				<p>(...)
Integral: moves the poles to right, by adding a pole to the system. which increases settling time, since the system decays slower.  Causes the system to be unstable since the poles moves to the right.  but will an slow system cause overshoot??</p>
			</div>
			<div id = "comment-5407" class = "comment">
				<p>Derivative: moves the root locus to the right by adding a zero the the system, thus making the system response faster.  Faster system => decreasing settling time, but how come does it not become oscillatory..??

Sorry asking so many question.</p>
			</div>
			<div id = "comment-5410" class = "comment">
				<p>Never mind.. I've realized it, it because of the increasing and decreasing damping ratio.</p>
			</div>
			</div>
				<textarea id = "speech-2947" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2947">
					<img id="start_img-2947" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2947">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>