<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to calculate vehicle detection distance
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7992" class = "post">
			<h2>Question</h2>
			<div id="vote-7992" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 347</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to calculate vehicle detection distance</h2>
<p>I would like to know how to calculate the distance to each car when I run my application for an autonomous vehicle in real time. In addition I want to know how implement the calculation in C++. </p>

<p>You can see in the images we can know the distance for each vehicle but I don't know what code I should use to make all these calculations for every vehicle .</p>

<p><strong>Please check the photo to understand more about what I'm trying to achieve.</strong></p>

<p><a href="https://i.stack.imgur.com/NJ4Nq.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/NJ4Nq.jpg" alt="autonomous vehicle obstacle detection"></a></p>

<p><a href="https://i.stack.imgur.com/SEpbP.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/SEpbP.jpg" alt="autonomous vehicle obstacle detection (2) "></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7992" data-toggle = "popover">
				<p>user name : assam alzookery</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7992">{'control': -1, 'None': 0, 'statistics': -1, 'localization': -1, 'cameras': -1, 'c++': -1, 'opencv': -1, 'sensors': -1, 'ros': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7992">Load Comments</button></br>
			<div id = "commentsection-7992" class = 'collapse'>
			<div id = "comment-11751" class = "comment">
				<p>I'm not sure what you need help with. You say towards the middle of the question, `You can see in the images we can know the distance for each vehicle`, but in the beginning you ask, `I would like to know how to calculate the distance to each car.` Do you know the distances to each car or not?</p>
			</div>
			<div id = "comment-11752" class = "comment">
				<p>we are building a software for the autonomous vehicle and this software was writing by other company, and i want to know how did they made the calculation for the distance as you could see in the images.</p>
			</div>
			<div id = "comment-11754" class = "comment">
				<p>Well they're doing the measurements wrong, so I wouldn't try to use them or recreate them. For instance, in the top picture, "Pedestrian", which looks like a light pole, is at **minus** 0.41, while the white car beside it is at 0.26 and the red car closer to the camera is at -0.3. Similarly, in the second image, the middle car is at a negative value while the cars closer and further away are both at positive values.</p>
			</div>
			<div id = "comment-12769" class = "comment">
				<p>Are you sure the numbers above each detection are distances?  They could also be some confidence metric.</p>
			</div>
			</div>
				<textarea id = "speech-7992" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7992">
					<img id="start_img-7992" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7992">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7999"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7999" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the images, I am assuming you do not have a multi camera setup.</p>

<p>So, the short answer, based on the information I think you have, you cannot. In an ideal scenario, if you know the calibration parameters of the camera, you could use the distance to a known object to compute the scale factor. But in this case, you do not have a fixed object in each image.</p>

<p>However, having said this, you should understand that longitudinal distance computation using single camera systems are generally error prone in the real world.(as you can see from the distance measurements in the images). This can be attributed to the non uniformity of objects as well as varying illumination conditions.</p>

<p>A more constrained case would be to track only objects moving in the same direction as the host. In that case, you could try to detect the labe markers(they generally have a uniform width, length and distance between them) and use the principles of similar triangles to compute the distance to the target vehicle.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7999" data-toggle = "popover">
				<p>user name : Mathew C.</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-7999">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7999" class = 'collapse'>
			</div>
				<textarea id = "speech-7999" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7999">
					<img id="start_img-7999" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7999">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>