<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How Yaw, Pitch and Roll effect the flight of Quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1838" class = "post">
			<h2>Question</h2>
			<div id="vote-1838" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 12263</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How Yaw, Pitch and Roll effect the flight of Quadcopter?</h2>
<p>I am doing simulation of Quadcopter in simulink. I want to know how Yaw, Pitch and Roll effect the flight of Quadcopter? and How these are different from a single rotor helicopter? 
Mainly how to change the RPM to change the x,y,z coordinates of the Quadcopter? 
Is there any Differential Equation that can convert the rpm to yaw pitch and roll? Please help.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1838" data-toggle = "popover">
				<p>user name : Abdul Rehman</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-1838">{'control': 2, 'quadcopter': 4, 'None': 1, 'usb': 6, 'algorithm': 1, 'arduino': 6, 'radio-control': 2, 'simulator': 2, 'mapping': 1, 'machine-learning': 1, 'micromouse': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1838" class = 'collapse'>
			</div>
				<textarea id = "speech-1838" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1838">
					<img id="start_img-1838" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1838">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1841"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1841" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In a <strong>helicopter</strong> (which has 2 rotors, one main rotor and one tail rotor) the angle of attack of the main rotor controls the altitude, pitch, and roll. The yaw is controlled by the counter-torque rotor (tail rotor) which counter acts the reaction torque exerted by the rotation of main rotor which acts on the body of the helicopter. </p>

<p><strong>Cyclic Control for Pitch and Roll</strong> 
The blades of the main rotor are pitched up or down cyclically, that is, the pitch depends on the blades current position in the rotation cycle. </p>

<p><strong>Collective Control for Altitude</strong>
The blades are pitched up or down "collectively", that is, at the same time. This produces a balanced lift force that can move the helicopter up or down. </p>

<p><strong>Throttle control</strong>
The throttle controls the speed of rotation of the blades. Through mechanical or electro-mechanical control systems this is often automatically controlled to maintain constant power while altering the other two control mechanisms.</p>

<p>More information here: 
<a href="http://en.wikipedia.org/wiki/Helicopter_flight_controls" rel="nofollow">http://en.wikipedia.org/wiki/Helicopter_flight_controls</a></p>

<p>In a <strong>quadcopter</strong>, the pitch of the blades doesn't change. Instead, the rotation speed of the rotors change to control the flight dynamics.</p>

<p>In a plus configuration</p>

<p><strong>Pitch</strong>
Pitch is controlled by increasing and decreasing the rpms of the front and back rotors causing a moment which causes the copter to pitch up or down. </p>

<p><strong>Roll</strong>
Same mechanism as pitch but using left and right rotors instead of front and rear.</p>

<p><strong>Yaw</strong>
In a quadcopter the rotors are counter rotating. Two of the rotors rotate in one direction and two rotate in the other. If the rpms of all rotors are the same then no moment about he yaw axis is created. By altering the rpms of the sets of counter rotating rotors, a moment will be created and the copter will yaw.</p>

<p>Here is a paper that models and simulates the dynamics of a quadcopter:
<a href="http://andrew.gibiansky.com/downloads/pdf/Quadcopter%20Dynamics,%20Simulation,%20and%20Control.pdf" rel="nofollow">http://andrew.gibiansky.com/downloads/pdf/Quadcopter%20Dynamics,%20Simulation,%20and%20Control.pdf</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1841" data-toggle = "popover">
				<p>user name : ddevaz</p>
				<p> user reputation : 503</p>
				<p class = "tagcontent" id = "usertaginfo-1841">{'None': 34}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1841" class = 'collapse'>
			</div>
				<textarea id = "speech-1841" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1841">
					<img id="start_img-1841" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1841">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>