<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to gyroscopically measure number of rotations on one axis when there is concurrent random motion on another axis
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2261" class = "post">
			<h2>Question</h2>
			<div id="vote-2261" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 78</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to gyroscopically measure number of rotations on one axis when there is concurrent random motion on another axis</h2>
<p>Can a gyroscopic sensor (comparable to the type that are typically used in smartphones) that is embedded in this black object 
<br><img src="https://i.stack.imgur.com/4KvPC.jpg" alt="some object"> <br>
that is rotating around the X axis measure the number of rotations around the X axis if the object may or may not also be rotating at the same time in random ways (number of partial or full rotations, speeds, and directions) around the Z axis?</p>

<p>If so, is the Z axis rotation irrelevant, or is there special mathematics involved in filtering out the affects of the Z rotation on the measurement of X axis rotation?  Or does another measurement such as acceleration or magnetism need to be used to solve the problem?</p>

<p>Is there any impact in using a 2-axis vs. a 3-axis gyroscopic sensor for this measurement scenario?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2261" data-toggle = "popover">
				<p>user name : Dan</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2261">{'None': 0, 'sensors': 1, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2261">Load Comments</button></br>
			<div id = "commentsection-2261" class = 'collapse'>
			<div id = "comment-4421" class = "comment">
				<p>So long as the gyroscope is perfectly aligned to the axes you've described, I do not think there will be any issue. (But I have never had an application involving this.)</p>
			</div>
			</div>
				<textarea id = "speech-2261" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2261">
					<img id="start_img-2261" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2261">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2276"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2276" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe the term you are looking for is 'Cross sensitivity'. This term describes the effect that motion in one axis has on the measured motion of other orthogonal axes in accelerometers or gyroscopes</p>

<p>Cross Sensitivity is normally stated by the manufacturer of the sensor and (depending on the quality/type of the sensor) is typically 1-5%. So, for example, a 10 rad/s rotation around the x axis might also give an output of 0.1 rad/s around the y axis and -0.2rad/s around the z axis which will lead to drift in the calculated position/angle of the device
Also, the cross-sensitivity may be different between different pairs of axes so there may be 3 values Sxy, Syz, Sxz.</p>

<p>In a perfect sensor the motion around one axis would not affect the others but in a real device there is always some effect.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2276" data-toggle = "popover">
				<p>user name : Matthew Gordon</p>
				<p> user reputation : 303</p>
				<p class = "tagcontent" id = "usertaginfo-2276">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2276" class = 'collapse'>
			</div>
				<textarea id = "speech-2276" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2276">
					<img id="start_img-2276" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2276">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>