<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to find my answers where another answer has been accepted?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2510" class = "post">
			<h2>Question</h2>
			<div id="vote-2510" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to find my answers where another answer has been accepted?</h2>
<p>I am trying to do some cleaning.</p>

<p>Is there a way to find out in my answers' history (1500), if there is a another answer to the same post that has been accepted?</p>

<p>Here is example of why:</p>

<p><img src="https://i.stack.imgur.com/C6rjM.jpg" alt="stats"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2510" data-toggle = "popover">
				<p>user name : Buscar </p>
				<p> user reputation : 26972</p>
				<p class = "tagcontent" id = "usertaginfo-2510">{'search': 1, 'voting': -5, 'suggested-edits': 0, 'spam': -6, 'support': 5, 'moderation': -4, 'None': 1, 'comments': -6, 'closed-questions': -3, 'moderators': -7, 'reputation': -2, 'answers': -1, 'inbox': 1, 'bounty': -2, 'user-accounts': 0, 'flagging': -7, 'discussion': -15, 'review-page': 0, 'accepted-answer': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2510">Load Comments</button></br>
			<div id = "commentsection-2510" class = 'collapse'>
			<div id = "comment-5691" class = "comment">
				<p>Why bother? Your answer may be better or different than the accepted one, why would you delete it?</p>
			</div>
			<div id = "comment-5693" class = "comment">
				<p>@patrix I am selective what to delete, but if I find a post with a excepted answer and I got zero points, and IMO the accepted is better, I would like to delete my answer. Nothing more or less.</p>
			</div>
			<div id = "comment-5694" class = "comment">
				<p>I would say that the accepted check mark is noise in maybe half the questions I see. Even wrong answers are helpful as long as they help others learn. Isn't that the end goal here? Deleting is for things that are actively harmful and that can't be edited into shape - but some cleanup is always welcome if it's not actively harming things.</p>
			</div>
			<div id = "comment-5697" class = "comment">
				<p>To add to what bmike and patrick already said: acceptance isn't the same as correctness. I've got higher-voted, unaccepted answers on SE sites. I just answered late, with a better answer, and the question asker never came back to correct the vote.</p>
			</div>
			</div>
				<textarea id = "speech-2510" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2510">
					<img id="start_img-2510" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2510">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2511"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2511" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Mass deletion of posts is something that will generally get you suspended.</p>

<p>That being said, the SEDE (Stack Exchange Data Explorer) is the place to go if you want assistance in crafting such a query so you can study your acceptance rate and your scoring / ability to get the "check" which are all excellent and fine goals to have.</p>

<ul>
<li><a href="http://data.stackexchange.com" rel="nofollow noreferrer">http://data.stackexchange.com</a></li>
</ul>

<p>See <a href="https://meta.stackexchange.com/questions/49424/stack-exchange-data-explorer">Stack Exchange Data Explorer</a> and consider asking on <a href="http://meta.stackexchange.com">http://meta.stackexchange.com</a> for usage and support of that tool.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2511" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2511">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2511" class = 'collapse'>
			</div>
				<textarea id = "speech-2511" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2511">
					<img id="start_img-2511" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2511">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>