<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to seal a threaded rod so I won't lose oil?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11275" class = "post">
			<h2>Question</h2>
			<div id="vote-11275" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to seal a threaded rod so I won't lose oil?</h2>
<p>I have an M5 threaded rod that penetrates a box. Outside it is driven by a motor and it rotates a part inside the box. The box is sealed and I would like to seal the area around the rod as well. I have seen double lip oil seals but I don't think they will work.</p>

<p>The oil is very runny, like water and the reason I am not using a smooth rod (which would be simpler to use in this application) is mainly in order to save on tooling costs as I can get the rods already threaded for very cheap.</p>

<p>Any help would be appreciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11275" data-toggle = "popover">
				<p>user name : iamquestion</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11275">{'None': 0, 'mechanism': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11275">Load Comments</button></br>
			<div id = "commentsection-11275" class = 'collapse'>
			<div id = "comment-20429" class = "comment">
				<p>possibly related: ["Preventing leaks in motor shafts for underwater bots"](http://robotics.stackexchange.com/questions/150/preventing-leaks-in-motor-shafts-for-underwater-bots)</p>
			</div>
			<div id = "comment-20456" class = "comment">
				<p>Is the threaded rod rotating to move the part inside (like a lead screw), or is the rod moving in and out of the box. In other words, is it the threading on the rod which is catching the oil and causing it to be dragged out of the box through a smooth bore hole?</p>
			</div>
			</div>
				<textarea id = "speech-11275" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11275">
					<img id="start_img-11275" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11275">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11282"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11282" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you considered putting the motor inside the same oil-filled box as the part that needs to move?</p>

<p>Many electric motors -- such as the coolant motor in practically all household refrigerators -- run in a bath of oil. Electric motors often work <em>better</em> covered in oil than they do dry.</p>

<p>Sealing a hole with an electric cable running through it is much easier than sealing a hole with a rotating rod running through it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11282" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-11282">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11282" class = 'collapse'>
			</div>
				<textarea id = "speech-11282" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11282">
					<img id="start_img-11282" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11282">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>