<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to efficiently do 3D mapping of an area on a MAV?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7613" class = "post">
			<h2>Question</h2>
			<div id="vote-7613" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 48</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to efficiently do 3D mapping of an area on a MAV?</h2>
<p>I have been researching on a cost-effective way to scan an area on a MAV (exploraton) and later use it for CAD/civil purposes(use the point cloud data for CAD) but the major sensors available have their own problems.</p>

<p><strong>kinect</strong> - can't use outside,high computation power<br>
<strong>stereo</strong> - high computation power,somewhat expensive<br>
<strong>lidar</strong> - very expensive + not real time + heavy</p>

<p>I need a system(on the MAV/quadrotor) that can work over wifi/wireless, can scan outdoors , not very expensive and that gives data real-time.Please suggest a system that can be as close to the above requirements.</p>

<p>Also can stereo be operated over wifi? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7613" data-toggle = "popover">
				<p>user name : Yashvardhan</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-7613">{'kinect': 1, 'stereo-vision': 1, 'None': 0, 'mapping': 1, '3d-reconstruction': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7613">Load Comments</button></br>
			<div id = "commentsection-7613" class = 'collapse'>
			<div id = "comment-11004" class = "comment">
				<p>What do you mean "use it for CAD/civil purposes"? Do you have a measurement accuracy requirement? Do you have a weight requirement? (Quadcopters can [carry a lot of weight](http://hackaday.com/2013/09/20/heavy-lifting-copters-can-apparently-lift-people/)) Do you have a power consumption limit? Do you have a maximum range requirement? Do you have an operating weather requirement? Do you have a time window that defines "real time"? You ask us to "suggest a system that can be as close to the above requirements" yet you give no real requirements. You want a "good" "inexpensive" solution.</p>
			</div>
			</div>
				<textarea id = "speech-7613" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7613">
					<img id="start_img-7613" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7613">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7614"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7614" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In your case I would suggest using the stereo version because: <br>
- You already said Kinect is technically not a possible solution because of the sun's IR light<br>
- A reasonable good lidar sensors costs a fortune even for a 2D version<br>
- Stereo vision is not expensive. You get 2 webcams for 100$, which is even less then a Kinect.</p>

<p>The major problem with the stereo is the computational requirement which is almost impossible to achieve on the UAV. I suggest sending the videostreams to an external computer and analyze the data (and send it back if necessary at all). wifi is able to handle this datarates easily, especially the 5GHz version (802.11n). You might even think about compresing the data with h264 codec, which can be accelerated by specifc chips.</p>

<p>I guess your plan is using it for a SLAM application. This is possible, but you have to keep in mind that the wifi connection is not reliable at all. Maybe a nearby weather radar station is interfering your connection and UAV gets no data update anymore until the connection is reastablished. Anyway a good UAV-software will be able to handle the wifi disconnects.</p>

<p>So relying on this might not the best solution. alternativly you can stack all your computational power directly onto the UAV, like I do it for my research project. Therefore you need a decent UAV which is able to carry a complete motherboard with modern CPU and maybe a GPU; the GPU is a sake for stereovision. </p>

<p>At the end (if SLAM is your final goal) you can look at other options like MonoSLAM.</p>

<p>Note: This answer does not say you should do this. I got way too less information about your project to give a high quality answer. This is more a collection of thoughts/ideas to your problem, which should help to find a feasable solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7614" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-7614">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7614" class = 'collapse'>
			</div>
				<textarea id = "speech-7614" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7614">
					<img id="start_img-7614" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7614">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>