<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How much of a pause should there be between messages? (IRobot Create-2)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8343" class = "post">
			<h2>Question</h2>
			<div id="vote-8343" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 64</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How much of a pause should there be between messages? (IRobot Create-2)</h2>
<p>When I send several commands in a row some don't get executed. For example I have a script which starts the roomba driving in a circle and plays the john cena theme song through its speakers but sometimes it will only play the music and not drive. I have noticed that in all the guides there are pauses after every command. Is there any documentation which describes when pauses are needed?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8343" data-toggle = "popover">
				<p>user name : TSharp</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-8343">{'None': 0, 'irobot-create': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8343">Load Comments</button></br>
			<div id = "commentsection-8343" class = 'collapse'>
			<div id = "comment-13408" class = "comment">
				<p>How many commands do you send in rapid succession?  Can you post your code?</p>
			</div>
			</div>
				<textarea id = "speech-8343" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8343">
					<img id="start_img-8343" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8343">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8344"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8344" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The pause between commands depends on how much time you need to wait for your particular commands to execute. For your example, you'll need to wait however much time it takes to drive in a circle before playing your theme song, then after that wait however long it takes to play the song before moving on to the next command. It might be better to take care of the pauses by using some kind of feedback about what the robot is doing instead of pre-programmed pause times. For example, use a loop to keep checking if the wheels are still turning or if the speaker is still playing.</p>

<p>The bottom line is that your code is being executed line-by-line with no attention being paid to whether the previous command has finished executing, so just remember to account for that when you design the program.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8344" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8344">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8344" class = 'collapse'>
			</div>
				<textarea id = "speech-8344" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8344">
					<img id="start_img-8344" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8344">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>