<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I make a quadcopter avoid obstacles using infrared?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7266" class = "post">
			<h2>Question</h2>
			<div id="vote-7266" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 732</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I make a quadcopter avoid obstacles using infrared?</h2>
<p>I have a quadcopter built, and I need to be able to make it to autonomously follow a route and avoid obstacles where possible.</p>

<p>My general plan is to have an array of sensors on a pre-defined "front". The quadcopter will only go forward. Generally I'd like to make  it so that if the sensors pointing at a higher angle detect something getting closer as the bot moves forward, the quadcopter will stop, descend until the distance to that detected object decreases, and then continues forward. Similarly, I'd like the opposite event to happen if the sensors pointing at a lower angle detect something getting closer to the quadcopter.</p>

<p>I'm thinking of having something like 9 small infrared distance detectors (pointing up, forward, down || left, forward, right), basically a 3x3 matrix.</p>

<p>Would anyone have any ideas of the feasibility of this? I'd like to use a raspberry pi, but it will probably also need an additional board to read in the values from its sensors. In addition, I have no idea which sensors to use, or if infrared can even work. Any suggestions are more than welcome.</p>

<p>I was also thinking about ultrasonic sensors, but having 9 of them could get cluttered, and I'd worry about their short range when a crash means death for the quadcopter. I also fear they would cause interference with each other.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7266" data-toggle = "popover">
				<p>user name : zavtra</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-7266">{'quadcopter': 1, 'mobile-robot': 1, 'None': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7266" class = 'collapse'>
			</div>
				<textarea id = "speech-7266" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7266">
					<img id="start_img-7266" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7266">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7282"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7282" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ultrasonic sensors will in my experience give you better range and accuracy than infrared, unless specifically dealing with many smooth, or sound dampening surfaces. You can poll them one at a time in order to not cause interference, and use some that use I2C (like <a href="http://www.maxbotix.com/SelectionGuide/indoor-uav.htm#uav" rel="nofollow">these</a>), then you could directly attach them to the raspberry pi to poll the values. What flight controller are you using? for most you could simply send direction data over the GPIO. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7282" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7282">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7282">Load Comments</button></br>
			<div id = "commentsection-7282" class = 'collapse'>
			<div id = "comment-10355" class = "comment">
				<p>Thank you! That website is very useful. To be honest, I'm not sure which flight controller to use. That's why I was concerned about which board to attach to the raspberry pi. I was worried that the board would use up all the GPIO pins of the pi, in which case the board I'm attaching to the pi would need to have input ports for those sensors.</p>
			</div>
			<div id = "comment-10356" class = "comment">
				<p>Of course! I always suggest the Pixhawk, but the Multiwii or the KK2 would work great for you. Feel free to make another question if you need help with your platform!</p>
			</div>
			</div>
				<textarea id = "speech-7282" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7282">
					<img id="start_img-7282" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7282">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>