<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to create Matlab Simulation for Kinematics of Differential Drive
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11089" class = "post">
			<h2>Question</h2>
			<div id="vote-11089" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 731</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to create Matlab Simulation for Kinematics of Differential Drive</h2>
<p>I studied the forward and inverse Kinematics of the robot and got a clear understanding. I am in the progress of developing my matlab simulation for a two wheeled differential drive robot. The robot moves in a straight line and has been integrated with PID. I want to show by the animation the movement of the robot.</p>

<p>Equation is, </p>

<pre><code>The Vector in Initial Frame = Rotation Matrix Inverse x Vector in Robot Frame

My Rotational Matrix is, [0 -1 0; 1 0 0; 0 0 1] since the angle is 90.

The Robot Frame is [a; b; c] 
where a = Total translational Speed = (r x w1)/2 + (r x w2)/2
      b = In y direction = 0
      c = Total Rotational Speed = (r x w1)/2l + (r x w2)/2l

where l = 0.12 and r = 0.033 and w1 and w2 are angular velocities of wheel 1 and 2.
</code></pre>

<p>I have w1 and w2 data in a file as </p>

<pre><code>w1 1 2 3 4 5 6 8 9
w2 1 3 4 5 6 7 8 9
</code></pre>

<p>I want to run an algorithm in such a way, Mat lab runs the equation and calculate the values of Total translational Speed and Total angular speed in the world frame and plot the graph. I also want to make an animation in such a way a box moves according to this equation. How can I do that? I can run it for one time if I input one value for w1 and w2, But not continuously. Help. Thanks Much.
<a href="https://i.stack.imgur.com/B7XCf.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/B7XCf.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11089" data-toggle = "popover">
				<p>user name : Voeux </p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11089">{'odometry': 0, 'None': 0, 'inverse-kinematics': 0, 'simulation': 0, 'differential-drive': 0, 'kinematics': 0, 'matlab': 0, 'mobile-robot': 0, 'forward-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11089" class = 'collapse'>
			</div>
				<textarea id = "speech-11089" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11089">
					<img id="start_img-11089" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11089">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11097"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11097" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Maing a plot in Matlab can be done using the <code>plot(data)</code> <a href="https://www.youtube.com/watch?v=g-6IamNXkuc" rel="nofollow noreferrer">command</a> where data is a vector containgin the series of points to plot. Further refinments to the plot can inlcude the correct timeseries for example plot(data, time) where time is a vector with the same length as data as contains the timestesp at which <code>data</code> has been sampled. </p>

<p>Repetitive tasks in programmng are solved be [loops][2]. Common ones are for-loops or while-loops. For loops (in Matlab) are usefull when you know how many times do you want to execute something. While loops are usefull when you want to satisfy a condition for stopping (e.g. robot reached its target). </p>

<p>In each loop cycle you have to know what the simulation time of your algorithm is. E.g. you can choose to incremetn the time variable with 0.1 seconds in each cycle. this will be one timestep. You have to store the value of the positions of the robot (e.g. in a vectir) in each timestep (please note that you only posted the velocity calculations, which for the constant input of w1 and w2 will be always constant, so expect a straight line as a velocity plot). </p>

<p>A simple example would be:</p>

<pre><code>x_init = 0; %[m]
y_init = 0; %[m]

x_target = 5; %[m]
y_target = 5; %[m]

x_vel = 1; %[m/s]
y_vel = 1; %[m/s]

target_reached = 0;
timestep = 0.1; %[s]

sample_no = 1;
x_robot(sample_no) = x_init;
y_robot(sample_no) = y_init;
timestamps(sample_no) = 0;
tol = 0.1; %[m]

while ~target_reached 
    %increase timestep
    sample_no =  sample_no + 1;

    %calcualte new postition
    x_robot(sample_no) = x_robot(sample_no - 1) + x_vel * timestep;
    y_robot(sample_no) = y_robot(sample_no - 1) + y_vel * timestep;
    %store timestep
    timestamps(sample_no) = timestamps(sample_no - 1) + timestep;    

    %check if target is reached
    if ((abs(x_robot(sample_no) - x_target) &lt; tol) || (abs(y_robot(sample_no) - y_target) &lt; tol))
        target_reached = 1;
    end

    %insert animation here
    %...
end

figure
plot(x_robot, timestamps);
figure 
plot(y_robot, timestamps);
</code></pre>

<p>Please note that this is a simple example to show how to generate a position plot and requires a numeber of improvements for making ing generally applicable. </p>

<p>For the animation, at each timestept the a figure should be updated with the current position values of the robot. A tutorial on making animations in Matlab can be found <a href="https://www.youtube.com/watch?v=g-6IamNXkuc" rel="nofollow noreferrer">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11097" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11097">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11097">Load Comments</button></br>
			<div id = "commentsection-11097" class = 'collapse'>
			<div id = "comment-20042" class = "comment">
				<p>But this doesn't have deal with the kinematics matrix right</p>
			</div>
			<div id = "comment-20043" class = "comment">
				<p>No, you have to convert cartesian values to Joint values for each cycle.</p>
			</div>
			<div id = "comment-20045" class = "comment">
				<p>r = 1;
    w1 = 4;
    w2 = 2;
    l = 1;
    
    
    R = [0 -1 0; 1 0 0; 0 0 1];
    X = [(r*w1)/2 + (r*w2)/2; 0 ; (r*w1)/(2*l) - (r*w2)/(2*l)];
    
    A = R*X;
    disp(A)

I am getting the solution for the matrix as [0; 3; 1] which is exactly what I expect. I would like to input a series of w1 and w2, Lets say I have a data file 1.xlsx and 2.xlsx with ten values each. I want to load 1.xlsx into w1 and 2.xlsx into w2 and get ten answers for X. How can I do that?</p>
			</div>
			</div>
				<textarea id = "speech-11097" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11097">
					<img id="start_img-11097" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11097">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>