<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do we make our robot work?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-997" class = "post">
			<h2>Question</h2>
			<div id="vote-997" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 275</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do we make our robot work?</h2>
<p>As a holiday project we are building a surveillance robot that is capable of transmitting live images using a webcam and is also capable of lifting small objects.  </p>

<p>It uses a <em>CC2500 module</em> for communicating with the robot.  The interface is designed in <em>Visual Basic 6</em> and it allows us to set the port of the computer to which the transreceiver is connected. It is connected via a USB to RS232 port (USB side is connected to the computer).</p>

<p>We tried the settings as shown below and we get an error that the config is unsuccessful. We have tried the same settings in 4 different computers so far and it did not work.  </p>

<p><img src="https://i.stack.imgur.com/BJRwL.png" alt="Screenshot of the GUI "></p>

<p>Circuit diagram for the robot:</p>

<p><img src="https://i.stack.imgur.com/VDb5R.jpg" alt="x"></p>

<p>It is designed using an Atmel 89S52.</p>

<p><strong>Please tell us what settings to try to make it work</strong></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-997" data-toggle = "popover">
				<p>user name : ShAil LaLaji</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-997">{'None': 0, 'computer-vision': 0, 'wheeled-robot': 0, 'electronics': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-997">Load Comments</button></br>
			<div id = "commentsection-997" class = 'collapse'>
			<div id = "comment-2355" class = "comment">
				<p>This question is incredibly uninformative. It could be my own ignorance, but what am I looking at in the circuit diagram? What is the error? Is it a VBasic error, and OS-level error, some output from whatever that circuit is?</p>
			</div>
			<div id = "comment-2356" class = "comment">
				<p>Given the icon in thee screenshot, are you talking about the *CC2500* the [ilabs module](http://www.ilabsindia.com/product/cc-module/) (since the screenshot looks like an older version of the ilabs [GUI](http://www.ilabsindia.com/wp-content/uploads/2011/11/CC_module_V1.1.pdf)), or *CC2500* the the [TI chip](http://www.ti.com/product/cc2500)?</p>
			</div>
			</div>
				<textarea id = "speech-997" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-997">
					<img id="start_img-997" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-997">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1000"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1000" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe your question starts with 'how do I configure and talk to a TI CC2500 transceiver from Windows treating it as a USB Virtual COM Port'.</p>

<p>Unfortunately, the answer to this is going to be very specific to the TI CC2500 device.  You'll need to load a driver.  You'll need to understand the communications protocol the CC2500 uses over the serial port.</p>

<p>I'd recommend seeking help from a community closer to your device.  I haven't seen people using the TI CC2500 in robotics before, so there may not be anyone on this forum familiar with it.  Try the TI <a href="http://e2e.ti.com/" rel="nofollow">E2E Community</a> or contact one of their <a href="http://www.ti.com/general/docs/contact.tsp" rel="nofollow">customer support centers</a>.</p>

<p>Good luck with your project.  If you were to say using an Arduino with a Zigbee or Bluetooth communications chip in place of your TI CC2500 I think you'd find better support in the robotics community.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1000" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-1000">{'None': 68}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1000" class = 'collapse'>
			</div>
				<textarea id = "speech-1000" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1000">
					<img id="start_img-1000" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1000">Comment</button>
			<br><div id = "ans-1057"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1057" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I use TI chips (typically the Stellaris line) and I agree that you need to provide much more information. </p>

<p>That being said I think your problem lies in one of two areas (probably the second one):</p>

<p><strong>1) Your device isn't emulating:</strong>
When you connect your device to the computer does it make the '<em>du-duh</em>' sound? Alternatively press start, right-click 'Computer', go to 'Manage' and check in Devices manager if you are showing up as a COM port. If you are not, then your problem lies with a) your driver (although your device should still show up) or on your embedded side. I'd bet on the latter. This means this is not the website for your to figure it out on and fixing this is no small task. However if you've come this far, maybe you won't mind coming a little further. However from your screen shot it does look like it is emulating, so let's go to option number two.</p>

<p><strong>2) You are throwing an exception when connecting:</strong>
I'm going to assume that you are using the .NET framework <code>SerialPort</code> class in VB (btw you should update to something newer than VB2006 or at least make sure your .NET framework is up to date if you haven't already). The <code>SerialPort</code> class is widely regarding as being incredibly poorly written and the method <code>SerialPort.Open()</code> actually performs about 8 things and if a single one of them fails then the whole method fails and you are up the creek. What I would do is download something like <a href="http://www.compuphase.com/software_termite.htm" rel="nofollow">Termite</a> and see if you can connect to the device that way. Most terminal programs ignore <code>IO Exceptions</code> (which is what I bet is happening in your VB program). By the way, did you write the VB program yourself? If so, do you have a <code>try-catch</code> around your <code>SerialPort.Open()</code> method? Because that is a good way to figure out if that is where your problem lies. If you cannot connect with <a href="http://www.compuphase.com/software_termite.htm" rel="nofollow">Termite</a> then I would download <a href="http://www.eltima.com/products/serial-port-monitor/" rel="nofollow">Eltima</a> which is  port monitoring software. It runs in the background while you try to connect to a serial port and it will log what is happening and more importantly it will log errors.</p>

<p>Good luck and happy coding :)</p>

<p><strong>TL;DR: get <a href="http://www.eltima.com/products/serial-port-monitor/" rel="nofollow">Eltima</a> and find the error.</strong></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1057" data-toggle = "popover">
				<p>user name : tmwoods</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-1057">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1057" class = 'collapse'>
			</div>
				<textarea id = "speech-1057" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1057">
					<img id="start_img-1057" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1057">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>