<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to compile arm compatible binary from an x86 precompiled library on a pc host to be run on an arm target?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9987" class = "post">
			<h2>Question</h2>
			<div id="vote-9987" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 253</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to compile arm compatible binary from an x86 precompiled library on a pc host to be run on an arm target?</h2>
<p>I am using a library precompiled on x86 on my pc (x86_64). Does there exist any toolchain to compile the x86 library and in the end generate an executable for armv7l ubuntu?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9987" data-toggle = "popover">
				<p>user name : user13864</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-9987">{'None': 0, 'arm': 0, 'linux': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9987">Load Comments</button></br>
			<div id = "commentsection-9987" class = 'collapse'>
			<div id = "comment-17827" class = "comment">
				<p>Check the ubuntu package manager, if the lib exists for arm, too.</p>
			</div>
			</div>
				<textarea id = "speech-9987" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9987">
					<img id="start_img-9987" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9987">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10010"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10010" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Short answer: No. Suggested alternatives below.</p>

<p>The purpose of a compiler is to turn source code into something a machine with a particular computer architecture, like x86, can run. ARM7 is a different architecture. A tool that could statically convert a program from one machine architecture to the other and guarantee the 'correct' program results would be awesome... but it would also pretty much be crazy AI. You DO however, have practical options to move forward. These options are sorted from simplest to most complicated:  </p>

<ol>
<li><p>See if your library comes precompiled for ARM7 already, <a href="https://askubuntu.com/questions/501393/are-all-apt-get-packages-available-on-64-bit-ubuntu-version-available-on-the-arm?rq=1">as this asker wanted to know</a>.</p></li>
<li><p>If you have enough memory and processor resources on your ARM7 machine, you can use <a href="https://wiki.winehq.org/ARM" rel="nofollow noreferrer">WINE for ARM</a>. Your ARM7 machine runs a Windows emulator, and you can run your x86 program inside the emulator. </p></li>
<li><p>Willing to run the program remotely over a network and get the results to your ARM7 machine? <a href="https://unix.stackexchange.com/questions/34933/can-i-connect-to-windows-machine-from-linux-shell">It's SSH time!</a> Open a connection, run your program somewhere else, and get the results.</p></li>
<li><p>Do you have the source code and can you compile programs from your ARM7 machine? Put the source code on the ARM7 ubuntu machine, then compile it there. </p></li>
<li><p>Do you have the source code, but your ARM7 device is too small or bare bones to run a compiler? Then you can "cross compile", where you use a compiler meant to create programs for Machine Architecture A (ARM7), but you run that compiler on Machine Architecture B (x86).   </p></li>
<li><p>(WARNING, HERE BE DRAGONS, LEGALLY MURKY AREAS, AND ENTIRE DOCTORAL THESES. DON'T DO THIS UNLESS YOU HAVE THAT KIND OF TIME OR INTELLECTUAL INTEREST.) Don't have the source code, and can't use your ARM7 to emulate x86 or talk to a different x86 computer? Your remaining option is hacking. You will need to <a href="http://www.codeproject.com/Articles/4210/C-Reverse-Disassembly" rel="nofollow noreferrer">decompile the binary you have</a> and recompile it for the ARM7. This is technologically possible, so I've included it, but it's not for the faint of heart.</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10010" data-toggle = "popover">
				<p>user name : FrisbeeGirl</p>
				<p> user reputation : 306</p>
				<p class = "tagcontent" id = "usertaginfo-10010">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10010" class = 'collapse'>
			</div>
				<textarea id = "speech-10010" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10010">
					<img id="start_img-10010" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10010">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>