<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do we write a STOP to a continuous Servo?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9637" class = "post">
			<h2>Question</h2>
			<div id="vote-9637" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 262</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do we write a STOP to a continuous Servo?</h2>
<p>I'm using processing to send strings to Arduino, using functions like </p>

<pre><code>else {
    int u=90;
    port.write(u+"z");
}
</code></pre>

<p>on the processing side and in the Arduino side I'm using calls like </p>

<pre><code>  case 'z':
    z.write(v);
    v = 0;
    break;
  case 'L':
    z.write(0);
    //v = 0;
    break;
}
</code></pre>

<p>yet I can't get the servo to stop at all. How do I make it shut off?</p>

<p>If it was a regular servo I wouldn't even ask because that's easy but I write 0 or 90 or LOW and nothing, it just keeps spinning in one direction but when it meets one of the conditions in my statements it switches polarity/direction and that's good - I want that but I made this function to make it stop and it is not doing so, does anyone have any ideas ?</p>

<p>I am using a <a href="https://www.parallax.com/sites/default/files/downloads/900-00008-Continuous-Rotation-Servo-Documentation-v2.2.pdf" rel="nofollow">Parallax Continuous Rotation Servo</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9637" data-toggle = "popover">
				<p>user name : jai </p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-9637">{'None': 0, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9637">Load Comments</button></br>
			<div id = "commentsection-9637" class = 'collapse'>
			<div id = "comment-17082" class = "comment">
				<p>If you mention the make and model of the specific Continuous servo, we can look up the data sheet and suggest a specific solution to your problem.</p>
			</div>
			<div id = "comment-17089" class = "comment">
				<p>@MarkBooth it is a Parallax continuous servo</p>
			</div>
			<div id = "comment-17095" class = "comment">
				<p>On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			<div id = "comment-17127" class = "comment">
				<p>This is wrong on many levels: `port.write(u+"z");`</p>
			</div>
			</div>
				<textarea id = "speech-9637" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9637">
					<img id="start_img-9637" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9637">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9638"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9638" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There should be some intermediate value of degrees or microseconds that minimizes rotation speed.  You can run calibration tests to find the best value, for example by sweeping the angle or time through a range of values, while writing the current value to LCD or Serial; or by setting an initial value then using two buttons or an analog control voltage to tell the sketch to raise or lower the value, jogging up or down until the servo stops or runs at very slow speed.</p>

<p>Note, you will get finer control (hence, closer to the proper value) using  <a href="https://www.arduino.cc/en/Reference/ServoWriteMicroseconds" rel="nofollow noreferrer"><code>Servo.writeMicroseconds()</code></a> rather than <a href="https://www.arduino.cc/en/Reference/ServoWrite" rel="nofollow noreferrer"><code>Servo.write()</code></a>.  In some Servo library versions, <code>Servo.writeMicroseconds()</code> resolution is half-microsecond, vs about 10  s/degree <code>Servo.write()</code> resolution.</p>

<p>Also note, in some Servo library versions, <code>Servo.write()</code> accepts microsecond values as well as degree values, distinguishing the former from the latter by number size; ie, numbers less than 544 are clipped to the range 0 to 180 and treated as degrees, while numbers in the range 544 to 2400 are treated as microsecond values. [See example code in <a href="https://arduino.stackexchange.com/a/20814/3917">related answer</a> at arduino.stackexchange.]</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9638" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-9638">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9638">Load Comments</button></br>
			<div id = "commentsection-9638" class = 'collapse'>
			<div id = "comment-17073" class = "comment">
				<p>Comments are not for extended discussion; this conversation has been [moved to chat](http://chat.stackexchange.com/rooms/38426/discussion-on-answer-by-jwpat7-how-do-we-write-a-stop-to-a-continuous-servo).</p>
			</div>
			<div id = "comment-17074" class = "comment">
				<p>On stack exchange, comments are not intended for extended discussions, for that use [chat]. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. Comments should be considered ephemeral, any comment which no longer actively helps to improve a question or answer may be deleted at any time to *tidy up* a post.</p>
			</div>
			</div>
				<textarea id = "speech-9638" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9638">
					<img id="start_img-9638" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9638">Comment</button>
			<br><div id = "ans-9650"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9650" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to the <a href="https://www.parallax.com/sites/default/files/downloads/900-00008-Continuous-Rotation-Servo-Documentation-v2.2.pdf" rel="nofollow noreferrer">data sheet</a> and example code, this continuous rotation servo takes an input of 1.3ms full speed clockwise to 1.7ms full speed counter-clockwise, with 1.5ms in the middle being stopped.</p>

<p>As <a href="https://robotics.stackexchange.com/a/9638/37">jwpat suggests</a> you are better off using <code>Servo.writeMicroseconds(1500)</code> to stop your servo, since this guarantees that you are sending the correct value, even if you accidentally get the <code>min</code> and <code>max</code> calibration values wrong in your <code>Servo</code> object. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9650" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-9650">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9650" class = 'collapse'>
			</div>
				<textarea id = "speech-9650" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9650">
					<img id="start_img-9650" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9650">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>