<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make an "invisible line following robot"?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1020" class = "post">
			<h2>Question</h2>
			<div id="vote-1020" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3697</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make an "invisible line following robot"?</h2>
<p>I would like to build a robot which follows a virtual path (Not a visible path like a 'black line on a white surface', etc).</p>

<p>I'm just enthusiastic by seeing some sci-fi videos which show robots carry goods and materials in a crowded place. And they really don't follow a physical line. They sense obstacles, depth, etc.  </p>

<p>I would like to build one such robot which follows a specific (virtual)  path from point A to B.</p>

<p>I have tried a couple of things:</p>

<ol>
<li><p>Using a magnetic "Hall effect" sensor on the robot and wire carrying current (beneath the table). The problem here was that the vicinity of the hall effect sensor is so small (&lt; 2cms) that it is very difficult to judge whether robot is on the line or off the line. Even using series of magnets couldn't solve this issue, as my table is 1 inch thick. So this idea flopped :P</p></li>
<li><p>Using an ultraviolet paint (on a line) and using UV leds on the robot as sensors. This will give more Zig-Zag motion for the robot. And due to potential threats of using UV light source, even this idea flopped :P</p></li>
</ol>

<p>I finally thought of having a camera on top and using image processing algorithms to see whether robot is on the line or diverging.</p>

<p>Is there any better solution than this? Really looking for some creative and simple solutions. :)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1020" data-toggle = "popover">
				<p>user name : Nitin</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-1020">{'None': 0, 'line-following': 8, 'localization': 8, 'wheeled-robot': 8, 'industrial-robot': 8, 'mobile-robot': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1020">Load Comments</button></br>
			<div id = "commentsection-1020" class = 'collapse'>
			<div id = "comment-2382" class = "comment">
				<p>Are you familiar with sonar sensors and SLAM and related subjects? Often robots don't follow a predefined path and they "sense" the obstacles by sensors such as sonar, build a map and then use path planning algorithms to find their way.</p>
			</div>
			<div id = "comment-2385" class = "comment">
				<p>Thanks for the reply :)
Yes, i am familiar with ultrasonic and sonar sensors... actually i want a robot my robot to move from point A to point B on a specific path, and that too on a table (3 feet above the ground level)... And building a map in this environment is really a complicated thing... So any suggestions ??</p>
			</div>
			<div id = "comment-2386" class = "comment">
				<p>I was in the middle of answering this question, but I noticed that you are asking 2 contradictory things.  By "invisible line", do you mean "a line that is not visible to the naked eye *e.g. a line defined by magnetic or UV signals*", or do you mean "a line that exists virtually -- within the robot -- based on where it wants to go and the obstacles it senses on the way there"?  To say it another way, do you draw the line for the robot to follow, or does the robot draw it?</p>
			</div>
			<div id = "comment-2392" class = "comment">
				<p>Hi lan,
I want a autonomous robot which should navigate on its own from one point to another. To do that it needs a reference line or path. A line follower robot is the simplest solution  but i am looking for advanced and robust solution. And that could be anything like a line that is not visible to the naked eye or a virtual line created by the robot. The robot doesn't draw the line, it just follows. to say it another way, the line (virtual) is defined by me.
At the least "Image processing" could be a solution if anything else doesn't work. But i am looking for some simple solutions :)</p>
			</div>
			<div id = "comment-2394" class = "comment">
				<p>@nitin, perhaps you should avoid using terms such as "navigate on its own", because that automatically means that path is undefined and is left to the robot to find it. What you want seems to be a robot that follows the line and lacks the ability to finds its own way if not given directions.</p>
			</div>
			<div id = "comment-2399" class = "comment">
				<p>@Shahbaz, ha ha :D I think i sould stick to my title - "Invisible line" following robot. thats it ;) To say it in a simple way: Its a line visible only to the robot.</p>
			</div>
			<div id = "comment-3686" class = "comment">
				<p>I think it should be pointed out that whether the line is visible or invisible to humans, the algorithm is the same: that of a simple line-following robot.  It's just a question of what sensor is used to detect the line.</p>
			</div>
			</div>
				<textarea id = "speech-1020" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1020">
					<img id="start_img-1020" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1020">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1031"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1031" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are many possible ways to approach this problem, and they all depend on the material available and the expertise of the robot builder.</p>

<p>In short, the criteria is that:</p>

<ol>
<li>The robot must get from point A to B following a pre-defined path.</li>
<li>The path taken must not follow a line visible to the human eye.</li>
</ol>

<p>Depending on the length of the path, using <strong>encoders</strong> could be sufficient.  However, it should be noted that due to physical inaccuracy, drift makes odometry (what we call using encoders to measure distance) impractical for long distances.  However, this is easy for short distances, and should be at least considered.</p>

<p>If the distance is too far for only odometry, one should consider using some sensor to measure turns (for instance, a <strong>gyroscope or compass</strong>).  Turns tend to introduce the most error in odometry (measuring along a straight line doesn't have too much error), so using a sensor for turns can sometimes make odometry a viable solution.</p>

<p>If odometry or odometry + sensed turning doesn't work, then we get to be creative.  If you want the robot to follow a path composed of mostly straight segments, you could place <strong>IR LEDs</strong> at given "waypoints" on the table, and have the robot sense those LEDs and drive towards each waypoint in series.</p>

<p>However, that still leaves some visual marking on the table (although it could be disguised to some extent), and it would be great to be able to do without that.  Another approach would be to use <strong>laser pointers</strong> shining parallel to the surface of the table, but a few inches above the table.  The robot could use a photoresistor to detect when it crosses a laser, and this could let it know when to turn.</p>

<p>All-in-all, I think that the odometry augmented with an angle sensor is probably the best bet for your robot, at least with the way you have described it.  I may be able to think of more options, but that's all I see right now.</p>

<p>Just curious--why do you want the line to be invisible?  Knowing why could open up some more possibilities.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1031" data-toggle = "popover">
				<p>user name : apnorton</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-1031">{'control': 7, 'mobile-robot': 7, 'None': 19, 'arm': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1031">Load Comments</button></br>
			<div id = "commentsection-1031" class = 'collapse'>
			<div id = "comment-2417" class = "comment">
				<p>Thanks a lot @anorton :) :)
"Odometry" + "sensors like gyroscope or compass" :- Bulls-eye ;) I am sure, this will definitely workout. And compared to image processing techniques, this seems pretty easy. Yup, i have got the solution, Thanks :) Will update you with the progess of the project and other challenges faced.</p>
			</div>
			<div id = "comment-2418" class = "comment">
				<p>By the way, the whole point of making line invisible was - "A black line on the surface and a robot following the line" its now just a basic robotics teaching level stuff. And i found that in industrial level, it is not appreciated. People need a highly sophisticated and intelligent robot to do their work. So i was working on this project to build a robot with higher stability and robustness. A robot which is not easily hack-able. To say it another way, a common person should not know the technology behind the robot :)</p>
			</div>
			</div>
				<textarea id = "speech-1031" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1031">
					<img id="start_img-1031" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1031">Comment</button>
			<br><div id = "ans-8076"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8076" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://anki.com/" rel="nofollow">Anki</a> uses optical sensors in their toy cars to implement line followers. The optical sensors are sensitive in the IR range. The fact that the lines cannot be seen is easily explained: The lines are coated with black color which is transparent in the IR range. Paliogen black L 86 or Paliogen black S 84 by <a href="http://www.dispersions-pigments.basf.us/p02/USWeb-Internet/pigments/en_GB/content/microsites/pigmentsdispersions/products/Paliogen" rel="nofollow">BASF</a> are such colors. If you place barcodes along the lines you can even get absolute positioning informations from the optical sensors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8076" data-toggle = "popover">
				<p>user name : user1225999</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-8076">{'control': 3, 'mobile-robot': 3, 'None': 1, 'motion-planning': 3, 'line-following': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8076" class = 'collapse'>
			</div>
				<textarea id = "speech-8076" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8076">
					<img id="start_img-8076" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8076">Comment</button>
			<br><div id = "ans-8079"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8079" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have a short answer for your question. This is for a ROS enabled robot only.
There are many ways to do this, but this is how I have done it. I used ROS and Kuka Youbot. It could be any robot using ROS. It is very helpful to know ROS if you plan to be in robotics.</p>

<p>Use ROS 
Then use GMapping to map your environment. Example room or hallway and save the map.
Then using RVIZ, give the goal position in the map.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8079" data-toggle = "popover">
				<p>user name : Yathartha Tuladhar</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8079">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8079" class = 'collapse'>
			</div>
				<textarea id = "speech-8079" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8079">
					<img id="start_img-8079" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8079">Comment</button>
			<br><div id = "ans-9875"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9875" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well you don't need any line for that matter. The one thing you would probably need are global coordinates. if you can place your robot in a field defined by global coordinates and apply simple rules of Newtonian physics, the robot can go from one point to the other. Based on it's present location, it will find out the present steering angle, desired steering angle and the goal coordinates (also known as "pose"). Once you provide the robot with a speed, it will start moving towards the goal coordinates. In every iteration, it will recalculate its pose and make adjustments when necessary.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9875" data-toggle = "popover">
				<p>user name : Lenin Mishra</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9875">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9875" class = 'collapse'>
			</div>
				<textarea id = "speech-9875" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9875">
					<img id="start_img-9875" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9875">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>