<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to model the noise in a range sensor's return?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-113" class = "post">
			<h2>Question</h2>
			<div id="vote-113" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 136</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to model the noise in a range sensor's return?</h2>
<p>Range sensors (for example sonar, infrared, and lidar) are notoriously noisy.  How can I characterize the noise characteristics to include these in a probabilistic localization sensor model?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-113" data-toggle = "popover">
				<p>user name : Felix</p>
				<p> user reputation : 437</p>
				<p class = "tagcontent" id = "usertaginfo-113">{'planning': 4, 'control': 32, 'None': 0, 'errors': 20, 'tuning': 32, 'localization': -3, 'artificial-intelligence': 4, 'pid': 32, 'noise': 9, 'mobile-robot': 17, 'sensors': 9, 'motion-planning': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-113" class = 'collapse'>
			</div>
				<textarea id = "speech-113" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-113">
					<img id="start_img-113" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-113">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-123"  class = "post">
				<h2>Answer</h2>
			<div id="vote-123" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Almost everybody just assumes the noise is gaussian because that way the math is relatively easy.</p>

<p>If you really wanted, you could experimentally determine the distribution of sensor noise, fit a model to it, and use that but it would be a lot of work for potentially no gain.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-123" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-123">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-123" class = 'collapse'>
			</div>
				<textarea id = "speech-123" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-123">
					<img id="start_img-123" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-123">Comment</button>
			<br><div id = "ans-161"  class = "post">
				<h2>Answer</h2>
			<div id="vote-161" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This subject is covered quite nicely in the <a href="http://www.probabilistic-robotics.org/">Probabilistic Robotics</a> book by Thrun et. al. I don't have a direct reference, but there are some of his papers (such as <a href="http://www.cs.cmu.edu/~thrun/papers/thrun.robust-mcl.ps.gz">Robust Monte Carlo Localization for Mobile Robots</a>, <a href="http://www.cs.cmu.edu/~thrun/papers/thrun.robust-mcl.pdf">pdf</a>) essentially include the same information. Usually what is used is a mixed error model, where the probability density function consists of different parts</p>

<ul>
<li>A Gaussian error around the true distance reading</li>
<li>A part which accounts for false positives like dynamic obstacles and so on. This is larger with smaller distances.</li>
<li>A constant part which accounts for false negative readings, where the sensor gives an out of range reading.</li>
</ul>

<p>The model needs to be fitted to your sensor and application.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-161" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-161">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-161" class = 'collapse'>
			</div>
				<textarea id = "speech-161" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-161">
					<img id="start_img-161" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-161">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>