<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I interpret this data, received by the I2C controller on an NXT 2 brick?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-832" class = "post">
			<h2>Question</h2>
			<div id="vote-832" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 326</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I interpret this data, received by the I2C controller on an NXT 2 brick?</h2>
<p>I have been trying to write code to connect a <a href="http://www.hitechnic.com/cgi-bin/commerce.cgi?preadd=action&amp;key=SPR2010" rel="nofollow">HiTechnic prototype board</a> to my lego brick. Although I am using MSRDS studio, that isn't the issue; reading and writing to the serial port that the device is connected to works fine. </p>

<p>Where I am lacking is that I don't understand the data is that is being sent and received. It goes out and comes back in the form of a byte array. For example:
[128]
[15]
[0]
[2]
[16]
[2]
[8]</p>

<p>Is this byte array converted from hex? What is this response telling me? </p>

<p>Obviously I am a total newbie at this, I can program but I don't really understand electronics and I am trying to make that connection between what I have read about how an I2C controller works and what is happening when I send and receive data over a serial port. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-832" data-toggle = "popover">
				<p>user name : Kenn</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-832">{'nxt': 4, 'None': 0, 'i2c': 4, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-832">Load Comments</button></br>
			<div id = "commentsection-832" class = 'collapse'>
			<div id = "comment-2080" class = "comment">
				<p>I've added a link in your question to what I assume is the product in question.  Can you confirm that?</p>
			</div>
			<div id = "comment-2083" class = "comment">
				<p>So yeah! That's the device. As far as you second question. All I know is that I threw a for loop in that does a console log to tell me the values of the byte array and that is what I got out of it. I know for sure that the NxtComm.cs service is using the Serial port class in System.IO.Ports to read and write to the device. So... That's the most I can offer you. That you so much for responding though.</p>
			</div>
			<div id = "comment-2084" class = "comment">
				<p>"a serial port sends and receives 7-bit ASCII characters" ?? Not that I've encounter since the 70's.</p>
			</div>
			<div id = "comment-2088" class = "comment">
				<p>@Ian - I'd best redesign the serial link I'm using at work, which is using a full 8 data bits for 0x00-0xFF (unsigned) (or sometimes 0xFF-0x7F (signed data) ;-P</p>
			</div>
			<div id = "comment-2094" class = "comment">
				<p>No more stackexchange before 9am :)  I think I was trying to illustrate that I2C and serial were not the same thing, and went off the deep end.  And I've set 8-N-1 enough times to know better.</p>
			</div>
			</div>
				<textarea id = "speech-832" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-832">
					<img id="start_img-832" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-832">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-837"  class = "post">
				<h2>Answer</h2>
			<div id="vote-837" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your question is not clear. "Is this byte array converted from hex?"  If you know what the values are, you should know how you got them. 128 is not a hex number, it is the same as a hex 80, also written as 0x80.  It indicates a 'Direct command, reply not required' as a serial to NXT stream. 15 = 0x0F = LSWRITE.</p>

<p>It does not make sense to decode any more, as it is your program but you have not told us what you are trying to do and how you are trying to do it.</p>

<p>Just to be clear, there is NO connection between the serial port (usb or bluetooth) and the i2c bus. But the LSWRITE/LSREAD would be the appropriate direct commands (I was wrong earlier, had to look at it some more). I would suggest starting on just the NXT using NXC or LeJOS or RobotC and getting an understanding of the I2C protocol before trying to extend that to a remote PC connection with MRDS.</p>

<p>Start <a href="http://mindstorms.lego.com/en-us/support/files/default.aspx" rel="nofollow noreferrer">here</a> And download all the PDFs. They describe the command that can be sent over the PC to NXT serial link.</p>

<p>I2C is another step. Start with the <a href="http://en.wikipedia.org/wiki/I%C2%B2C" rel="nofollow noreferrer">Wiki</a>. But you will find that LEGO vendors often do not completely implement the protocol, or they implement it incorrectly. You pretty much need to analyse each device and adjust how you treat it.</p>

<p><img src="https://i.stack.imgur.com/V5Wm6.jpg" alt="enter image description here"></p>

<p>I would suggest something like the <a href="http://www.saleae.com/logic/" rel="nofollow noreferrer">Saleae logic</a> to analyse what is actually happening.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-837" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-837">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-837">Load Comments</button></br>
			<div id = "commentsection-837" class = 'collapse'>
			<div id = "comment-2099" class = "comment">
				<p>Thanks for the info, to be clear all I am trying to do is write a service that will connect to the device, just like a bumper sensor or whatever. Check out this link http://social.msdn.microsoft.com/Forums/en-US/roboticstroubleshooting/thread/f8f21558-e639-4f3b-a5ad-c94daadd7331 I put a bunch of debugging in the NxtBrick.cs and can watch it try to connect and then say "Yeah, here is a the device" but then it keeps getting a bus error and resetting. In the meantime I will look into that info you linked to. Again, I know nothing about this I don't even know where to look for stuff. Thanks!</p>
			</div>
			<div id = "comment-2100" class = "comment">
				<p>particularly - my last post in that link.</p>
			</div>
			<div id = "comment-2101" class = "comment">
				<p>I would definitely skip mrds until you got the i2c worked out. From that posts I see several bus resets, something that commonly happens when the protocol is not implemented, as I alluded to before. Keep it simple (no mrds) and get a probe on the wire. One thing I've seen several times is multi byte responses that can only be retrieved one byte at a time, or the other way around, byte at a time doesn't work when it should. I do agree with the last comment about x41 address. "The SuperPro uses I2C device address of 0x10" according to the web page.</p>
			</div>
			<div id = "comment-2103" class = "comment">
				<p>OK! Thanks for your input I am going to look into NXC or something like that.</p>
			</div>
			</div>
				<textarea id = "speech-837" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-837">
					<img id="start_img-837" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-837">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>