<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I control the robotic arm motion?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7652" class = "post">
			<h2>Question</h2>
			<div id="vote-7652" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 87</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I control the robotic arm motion?</h2>
<p>I have a Robotic arm mounted on a car. There's a camera attached to it. Suppose the camera takes the image of a room, and finds that there's something, say an object, that has to be picked up. Say it's 50 feet away from the robot. My question is that how will the robot reach the object in the first place, and secondly, when it has reached the object, how will it know the real world co-ordinates of the object, to pick the object up, using inverse kinematic equations. Any help would be appreciated. Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7652" data-toggle = "popover">
				<p>user name : Bilal Wasim</p>
				<p> user reputation : 40</p>
				<p class = "tagcontent" id = "usertaginfo-7652">{'None': 0, 'inverse-kinematics': 3, 'humanoid': 7, 'stability': 4, 'robotic-arm': -2, 'mobile-robot': 5, 'balance': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7652">Load Comments</button></br>
			<div id = "commentsection-7652" class = 'collapse'>
			<div id = "comment-11082" class = "comment">
				<p>Welcome to Robotics.SE! Your question is very very broad. All the things you mention by the way: "_the robot senses that there is something_", "_makes the decision that the 'something' should be picked up_", "_calculates the distance of 50 feet_", "_moving the robot_", "_moving the robot to the found position_", "_moving a robotic arm with IK_" each of them fills entire rooms of libraries with books on how to do it, because they are huge fields of research on their own. Please be more specific.</p>
			</div>
			<div id = "comment-11085" class = "comment">
				<p>Yes, please break this into *at least* 2 questions.  (mobile robot navigation, and object pose detection).  Do a little research on your own first, then come back when you get stuck and have more specific questions.</p>
			</div>
			<div id = "comment-11100" class = "comment">
				<p>"the real world co-ordinates" which world??</p>
			</div>
			<div id = "comment-11114" class = "comment">
				<p>I've tried to ask only a part of the question here https://robotics.stackexchange.com/questions/7682/object-grasping-robot-arm-control. Any help would be appreciated</p>
			</div>
			</div>
				<textarea id = "speech-7652" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7652">
					<img id="start_img-7652" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7652">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7657"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7657" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With your question, i assume that you are new to this field. This cannot be solved with one concept. </p>

<p>The mentioned objective requires <a href="https://en.wikipedia.org/wiki/Simultaneous_localization_and_mapping" rel="nofollow">SLAM technique</a> - Simultaneous localization and mapping . </p>

<p>Using SLAM, the robot can be navigated to any location. A camera is not enough to map an area or a room in your case. You also require depth sensors such as kinect or <a href="https://www.stereolabs.com/" rel="nofollow">Zed</a>. 
You need to develop a program to reach the object for your robot, depending on the architecture that you are using. Here comes the role of a platform. 
A typical arduino, or a raspberry pi single board computer is enough for your project. You should be very familiar with these platforms to integrate your sensors and play with them. </p>

<p>Finally, once the location is reached and the object is recognized by the sensors, Here comes the Inverse kinematics into the action. 
There is no such thing called "real-world co-ordinates", until and unless you are dealing with GPS for long range SLAM. </p>

<p>In your case,  the co-ordinates of the object are measured in the context of the location of the sensor mounted on your car. </p>

<p>Once the parameters of the object are known, you can use IK(inverse kinematics) for your robotic arm to grab it from its position. (Assuming that you know about IK, as you have mentioned in the question)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7657" data-toggle = "popover">
				<p>user name : Trinadh venna</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-7657">{'None': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7657">Load Comments</button></br>
			<div id = "commentsection-7657" class = 'collapse'>
			<div id = "comment-11086" class = "comment">
				<p>"_You need to develop a program to reach the object for your robot_" isn't very helpful.</p>
			</div>
			<div id = "comment-11093" class = "comment">
				<p>i meant, it is one of the things to do after mounting sensors depending on his architecture, I cannot be more specific for this broad question.</p>
			</div>
			<div id = "comment-11099" class = "comment">
				<p>@Trinadhvenna, I don't believe the OP needs SLAM. The problem is not to localize the robot in an unknown environment. The problem is to search and detect an object and moves toward it.</p>
			</div>
			</div>
				<textarea id = "speech-7657" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7657">
					<img id="start_img-7657" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7657">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>