<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to localise a underwater robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7564" class = "post">
			<h2>Question</h2>
			<div id="vote-7564" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 440</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to localise a underwater robot?</h2>
<p>I am building an autonomous underwater robot. It will be used in swimming pools. It should be capable of running in any normal sized pool, not just the pool in which I test. So I cannot rely on a particular design or feature. It has to know it's position in the pool, either with respect to the initial position or with respect to the pool. I have a IMU, which is a <a href="https://www.pololu.com/product/2468" rel="nofollow">Pololu MiniIMU</a> but finding the displacement with an IMU is a near impossible task. </p>

<p>What sensor can I use for this task? It should not be very expensive. (below 200$)</p>

<p>Tank size: 25x20x2.5 meters</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7564" data-toggle = "popover">
				<p>user name : daltonfury42</p>
				<p> user reputation : 162</p>
				<p class = "tagcontent" id = "usertaginfo-7564">{'underwater': 7, 'None': 0, 'usb': 3, 'arduino': 4, 'communication': 4, 'localization': 6, 'operating-systems': 1, 'c++': 2, 'odometry': 1, 'kinematics': 1, 'sensor-fusion': 6, 'sensors': 6, 'ros': 1, 'differential-drive': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7564">Load Comments</button></br>
			<div id = "commentsection-7564" class = 'collapse'>
			<div id = "comment-10900" class = "comment">
				<p>Which IMU are you using?  Are you allowed to place markers (aka fiducials) in the pool (for example [AprilTags](http://april.eecs.umich.edu/wiki/index.php/AprilTags))?</p>
			</div>
			<div id = "comment-10901" class = "comment">
				<p>@Ben No markers, but could use anything already present, like GPS, WiFi, Cell Tower Signals, but the above mentioned signals attenuate underwater. I've updated the question with IMU.</p>
			</div>
			<div id = "comment-10916" class = "comment">
				<p>Thanks, please put the marker information in the question too.  On stack exchange, it is better to edit your question to add the requested information, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be deleted.</p>
			</div>
			<div id = "comment-10918" class = "comment">
				<p>Is there much (if any) markings in the pool?  For example if it is a standard lap pool it will have black lines on the floor.  But a personal pool will not have much markings beyond a drain.  How large of a pool is it?</p>
			</div>
			</div>
				<textarea id = "speech-7564" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7564">
					<img id="start_img-7564" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7564">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7568"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7568" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If it's actually underwater, how about a webcam looking at the tile pattern on the floor?  (Could be considered "cheating" as it will obviously fail in a natural lake, for example.)</p>

<p>You can find a paper using and demonstrating this method is this paper:</p>

<p><a href="http://dx.doi.org/10.1109/ROBOT.2003.1241718" rel="nofollow">Carreras, Marc, et al. "Vision-based localization of an underwater robot in a structured environment." Robotics and Automation, 2003. Proceedings. ICRA'03. IEEE International Conference on. Vol. 1. IEEE, 2003.</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7568" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-7568">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7568" class = 'collapse'>
			</div>
				<textarea id = "speech-7568" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7568">
					<img id="start_img-7568" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7568">Comment</button>
			<br><div id = "ans-7569"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7569" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Localization under water was always a problem in ocean robotics as electromagnetic signals do not propagate very well in water. I think your best localization sensor in that case would be the good old sonar, which works much faster in water. You could have four of them and detect how far are the pool walls on each side then with a triangulation algorithm locate your robot approximately. You can also add one looking down for estimating the depth.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7569" data-toggle = "popover">
				<p>user name : Mehdi</p>
				<p> user reputation : 394</p>
				<p class = "tagcontent" id = "usertaginfo-7569">{'control': 1, 'odometry': 12, 'None': 15, 'computer-vision': 10, 'mobile-robot': 2, 'power': 1, 'battery': 1, 'navigation': 2, 'cameras': 7, 'torque': 1, 'lidar': 5, 'joint': 2, 'slam': 12, 'magnetometer': 2, 'laser': 1, 'speech-processing': 3, 'rangefinder': 4, 'actuator': 1, 'sensors': 4, 'digital-audio': 0, '3d-reconstruction': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7569">Load Comments</button></br>
			<div id = "commentsection-7569" class = 'collapse'>
			<div id = "comment-10969" class = "comment">
				<p>How much would a sonar cost? IS underwater sonar module available? How much would it cost? Also if I waterproof a sonar, the medium changes, and so the range changes. Would it increase or decrease? by how much?</p>
			</div>
			<div id = "comment-10973" class = "comment">
				<p>I am not sure about the range changing when waterproofing, but the normal one has a range of 5 meters, https://www.sparkfun.com/products/11309</p>
			</div>
			</div>
				<textarea id = "speech-7569" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7569">
					<img id="start_img-7569" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7569">Comment</button>
			<br><div id = "ans-7571"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7571" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you cannot use a camera the task is nearly impossible with your money limitations.</p>

<p>Professionals use a scanning sonar like the tritech micron and a particle based localization like [3] based on FastSLAM: [1].</p>

<p>However if you experienced with underwater acoustics you can try to build your own localization system based on the idea of a USBL idea [2] e but you will hard fight with reflections of the basin itself.</p>

<p>[1] <a href="https://www.google.de/search?q=FastSLAM:+A+Factored+Solution+to+the+Simultaneous+...&amp;ie=utf-8&amp;oe=utf-8&amp;rls=org.mozilla:en-US:unofficial&amp;client=iceweasel-a&amp;channel=rcs&amp;gws_rd=cr&amp;ei=ZYuKVdjhE4yYsAHK6JiwBA" rel="nofollow">https://www.google.de/search?q=FastSLAM:+A+Factored+Solution+to+the+Simultaneous+...&amp;ie=utf-8&amp;oe=utf-8&amp;rls=org.mozilla:en-US:unofficial&amp;client=iceweasel-a&amp;channel=rcs&amp;gws_rd=cr&amp;ei=ZYuKVdjhE4yYsAHK6JiwBA</a></p>

<p>[2] <a href="https://en.wikipedia.org/wiki/Ultra-short_baseline" rel="nofollow">https://en.wikipedia.org/wiki/Ultra-short_baseline</a></p>

<p>[3] <a href="https://github.com/auv-avalon/uw_localization" rel="nofollow">https://github.com/auv-avalon/uw_localization</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7571" data-toggle = "popover">
				<p>user name : Matthias Goldhoorn</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-7571">{'None': 11, 'syskit': 1, 'rock': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7571" class = 'collapse'>
			</div>
				<textarea id = "speech-7571" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7571">
					<img id="start_img-7571" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7571">Comment</button>
			<br><div id = "ans-7572"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7572" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One of the prime sensors for global localisation on land is GPS. This is not an option underwater because electromagnetic waves get absorbed quickly. </p>

<p>There are however alternatives, which provide navigation information which is not so easily available on land.</p>

<ul>
<li>Large Baseline (LBL) - is a method based on sonar, which works very similar to GPS, just using acoustics instead. For this you need transponders that ping at known intervals. The robot can than calculate its position based on the run length intervals. Because the timings are much easier than with GPS, coming up with your own solution might be feasible.</li>
<li>Ultra Short Baseline (USBL) - works the same as the LBL, just that the transponders are very close to each other (usually one device). In this way you get an angle and range measurement. Less accurate, but more compact.</li>
<li>Doppler Velocity Log (DVL) - uses the doppler effect in multiple directions to give you the velocity against ground. </li>
<li>Pressure Sensor - you can directly get a measurement of your depth in the water column with this. </li>
<li>AHRS - based on IMU and Compass, you can get a good estimate of your orientation. </li>
</ul>

<p>The bad news is that the sonar based methods are way off in terms of your budget. However, if you are interested in this, it might be feasible to construct a localisation method based on DIY hydrophones. Should definitely be a fun experience. </p>

<p>Your alternatives, especially feasible in a pool, is to go optical. You can for example use an external camera to track your robot, or use markers (e.g. <a href="http://www.uco.es/investiga/grupos/ava/node/26]" rel="nofollow">Aruco</a>) to get a relation to a known position.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7572" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-7572">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7572" class = 'collapse'>
			</div>
				<textarea id = "speech-7572" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7572">
					<img id="start_img-7572" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7572">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>