<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I Calibrate Analog Thumb stick?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1797" class = "post">
			<h2>Question</h2>
			<div id="vote-1797" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 834</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I Calibrate Analog Thumb stick?</h2>
<p><em>Outline:</em></p>

<p>I'm trying to work with an Arduino and Analog thumb stick to get values for a simple differential drive robot I'm working on. The <a href="http://www.plexishop.it/en/modulo-joystick-keyes-sjoys.html" rel="nofollow noreferrer">Keyes_Sjoys Arduino Joystick Module</a> I have in my possession is giving me some strange numbers. </p>

<p><em>Following axises Data I have:</em></p>

<ul>
<li>X-axis range of 0 to a shaky 470-520 with a center value of 40.</li>
<li>Y-axis range of a solid 4 to solid 1023 with a center value of 605.</li>
</ul>

<p><em>Problem</em></p>

<p>I haven't used analog sensors before but it seems pretty obvious that my X-axis ranges should feel somewhat similar to the Y-axis but they don't. In addition, the X-axis hits zero way way before even coming close to the edge for its operating range.</p>

<p>Is my sensor broken (it's new), or is there some way I can recalibrate the potentiometer?</p>

<p><sub>Note, I also asked this over on <a href="https://electronics.stackexchange.com/q/80870">Electrical Engineering Stack Exchange</a>.</sub></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1797" data-toggle = "popover">
				<p>user name : Monte Carlo</p>
				<p> user reputation : 157</p>
				<p class = "tagcontent" id = "usertaginfo-1797">{'None': 0, 'coverage': 2, 'battery': 6, 'microcontroller': 2, 'protection': 2, 'motor': 6, 'gps': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1797" class = 'collapse'>
			</div>
				<textarea id = "speech-1797" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1797">
					<img id="start_img-1797" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1797">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1798"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1798" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It certainly sounds like the joystick is broken, but in Robotics, nothing is certain. Some things to try:</p>

<ul>
<li>Swap over the X and Y wires going to the Arduino. Which axis exhibits the problem now?</li>
<li>Disconnect the joystick from the Arduino, and power it up on its own. Using a multimeter, measure the voltage on the X axis wire as you move the joystick. Does this make more sense? If so, then there's something wrong with the way it's connected to the Arduino, or something wrong in software.</li>
<li>Disconnect the joystick completely from its power, and use the multimeter to measure the resistance between the X axis signal wire and the GND wire. If this doesn't make sense, then there's likely a fault in the joystick. Possibly a failed solder joint. This could be fixed by simply re-heating the solder joints on that pot.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1798" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-1798">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1798">Load Comments</button></br>
			<div id = "commentsection-1798" class = 'collapse'>
			<div id = "comment-3734" class = "comment">
				<p>Strange, joystick isn't broken, just that Arduino analog pin. When I shifted everything over two pins, worked like a charm.</p>
			</div>
			</div>
				<textarea id = "speech-1798" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1798">
					<img id="start_img-1798" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1798">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>