<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do you dim 12 volt LEDs?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1530" class = "post">
			<h2>Question</h2>
			<div id="vote-1530" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 524</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do you dim 12 volt LEDs?</h2>
<p>I was considering using a Raspberry Pi controlling a USB Relay to dim 12V LED lights, but I'm having trouble finding a solution that isn't a simple ON/OFF.  What type of device would I need for dimming?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1530" data-toggle = "popover">
				<p>user name : TomSchober</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-1530">{'actuator': 4, 'None': 6, 'raspberry-pi': 0, 'arduino': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1530" class = 'collapse'>
			</div>
				<textarea id = "speech-1530" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1530">
					<img id="start_img-1530" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1530">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1531"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1531" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You probably want a PWM (pulse width modulation) solution. Essentially this means flashing the led on and off faster than you can see. To make it brighter, you increase the amount of on time versus off time.</p>

<p>You could use an external PWM LED driver, or possibly you can produce <a href="https://sites.google.com/site/semilleroadt/raspberry-pi-tutorials/gpio" rel="nofollow">PWM from the GPIO ports</a> on the Pi and step it up using a transistor and / or relay.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1531" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1531">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1531">Load Comments</button></br>
			<div id = "commentsection-1531" class = 'collapse'>
			<div id = "comment-3205" class = "comment">
				<p>Upvoted for being exactly the answer I wanted to give. Tom: You want to use PWM.</p>
			</div>
			<div id = "comment-3216" class = "comment">
				<p>Keep in mind that running PWM through a mechanical [relay](http://en.wikipedia.org/wiki/Relay) (instead of a [solid-state relay](http://en.wikipedia.org/wiki/Solid-state_relay)) will be very rough on the moving parts -- as shown here: http://www.youtube.com/watch?v=vQ5nfQjgW70.  (This video shows how to convert PWM to a smooth signal *before* it hits the relay, it's not a solution to your problem).</p>
			</div>
			</div>
				<textarea id = "speech-1531" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1531">
					<img id="start_img-1531" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1531">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>