<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to measure displacement, cheaply and without using an accelerometer?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2519" class = "post">
			<h2>Question</h2>
			<div id="vote-2519" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 732</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to measure displacement, cheaply and without using an accelerometer?</h2>
<p>Motion is known to be confined in a sphere with radius of about 0.5m, and resolution doesn't have to be very high (5cm is enough). The device will actually be incorporated in a toy designed for kids.</p>

<p>I tried implementing that with an accelerometer but the estimated displacement drifted away 100s of meters per minute.</p>

<p>Is there some other solution, maybe involving electrical or magnetic fields? It's important that the sensor costs no more than a few bucks.</p>

<p><strong>Edit:</strong> The device should not be attached to anything mechanical and its movement is in 3d (a kid moves the toy freely).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2519" data-toggle = "popover">
				<p>user name : Michael Litvin</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-2519">{'electronics': 0, 'None': 0, 'imu': 7, 'sensors': 7, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2519">Load Comments</button></br>
			<div id = "commentsection-2519" class = 'collapse'>
			<div id = "comment-4914" class = "comment">
				<p>If you consider only gravity and compass heading, could you improve your accelerometer estimates by considering the possible orientations of the child's arm (inverse kinematics)?</p>
			</div>
			<div id = "comment-4920" class = "comment">
				<p>The accelerometer chip used in the iPhone is roughly 65 cents...you should be able to get better accuracy than 100s of meters of error per minute. Also, are you concerned with orientation or just the (x,y,z) coordinates within a sphere of 0.5m?</p>
			</div>
			<div id = "comment-7042" class = "comment">
				<p>It seems to me that you might be able to solve your problem using some simple ir sensors.</p>
			</div>
			</div>
				<textarea id = "speech-2519" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2519">
					<img id="start_img-2519" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2519">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2522"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2522" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I guess it depends partially on volume. Ultrasonics is very precise (down to sub-mm depending on your signal processing and frequency), but they cost $8-10 per transducer unless you are buying in large volume.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2522" data-toggle = "popover">
				<p>user name : AgentK</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2522">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2522">Load Comments</button></br>
			<div id = "commentsection-2522" class = 'collapse'>
			<div id = "comment-4895" class = "comment">
				<p>Can you refer me to a specific device? Cheap is more important than accurate.</p>
			</div>
			<div id = "comment-4922" class = "comment">
				<p>This tends to be a very common 40kHz piezo. check the beamwidth and what not to see if it works for your application. You'll probably need TX and RX to bounce and receive signals. http://www.senscomp.com/pdfs/l-series-40lt10-40lr10.pdf</p>
			</div>
			</div>
				<textarea id = "speech-2522" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2522">
					<img id="start_img-2522" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2522">Comment</button>
			<br><div id = "ans-2549"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2549" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>have you tried using the optical mouse? the sensors they have are accurate enough(down to 1/400 inches )and the cost can be very small compared with encoders</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2549" data-toggle = "popover">
				<p>user name : user3939</p>
				<p> user reputation : 19</p>
				<p class = "tagcontent" id = "usertaginfo-2549">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2549">Load Comments</button></br>
			<div id = "commentsection-2549" class = 'collapse'>
			<div id = "comment-4893" class = "comment">
				<p>That won't work, because the device can't be assumed to be placed on a table. Edited the question for clarity.</p>
			</div>
			</div>
				<textarea id = "speech-2549" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2549">
					<img id="start_img-2549" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2549">Comment</button>
			<br><div id = "ans-2566"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2566" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ultrasonic transducers are the best bet, in my opinion. However, they might cost you a little over "a few bucks".</p>

<p>You have two options:</p>

<ol>
<li>Set two/three ultrasonic Rx/Tx pair along one plane. Trigger them sequentially, in quick succession and triangulate your object in 3D. </li>
</ol>

<p>A drawback of this approach is that the sensor noise would be phenomenal.</p>

<p>The other option would be:</p>

<ul>
<li>Set three ultrasonic transmitters, one along each plane (X,Y and Z),
near the boundary of the active region in which the object will be
moving.</li>
<li>Place the ultrasonic receivers inside the object, one facing each
direction.</li>
<li>Precompute a lookup table that tracks the ultrasonic flight time
along each direction separately.</li>
<li>During operations, trigger the three sensors in quick succession,
getting X, Y and Z values consecutively.</li>
</ul>

<p>This method should be less noisy.</p>

<p>You'll need and omnidirectional ultrasonic transmitter, like this: <a href="http://www.metrolog.net/transdutores/piezofilm/ultra40k.php?lang=en" rel="nofollow">http://www.metrolog.net/transdutores/piezofilm/ultra40k.php?lang=en</a></p>

<p>[I'm not sure how much three of them would cost, but there must be some cheaper variant available somewhere].</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2566" data-toggle = "popover">
				<p>user name : metsburg</p>
				<p> user reputation : 269</p>
				<p class = "tagcontent" id = "usertaginfo-2566">{'quadcopter': 15, 'None': 8, 'ardupilot': 6, 'accelerometer': 1, 'arduino': 13, 'ekf': 0, 'pid': 12, 'stability': 10, 'slam': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2566">Load Comments</button></br>
			<div id = "commentsection-2566" class = 'collapse'>
			<div id = "comment-4915" class = "comment">
				<p>If you bulk order these sensors, you might get them at around $6 per piece.</p>
			</div>
			</div>
				<textarea id = "speech-2566" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2566">
					<img id="start_img-2566" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2566">Comment</button>
			<br><div id = "ans-2568"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2568" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One of the most common solutions to this problem is structured light (Kinect). I'm not sure about the Playstation Move, but it uses something similar. </p>

<p>Ultrasound is going to be tricky, as you either need to bounce signals around or have a transmitting unit and a receiving unit, but I'm sure you could make it work. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2568" data-toggle = "popover">
				<p>user name : AgentK</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2568">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2568" class = 'collapse'>
			</div>
				<textarea id = "speech-2568" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2568">
					<img id="start_img-2568" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2568">Comment</button>
			<br><div id = "ans-2576"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2576" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Accellerometers won't help much (as you noticed) because they are not <em>global</em> sensors. They drift. To beat this, you need some way of knowing the location of the object relative to another, fixed location. So, here's my question:</p>

<p>What are the constraints of the system? Is the object to be estimated <em>tethered</em> so it cannot move outside that sphere? or is the sphere an actual object? </p>

<p>If the sphere (or even boundaries of the sphere) are known, fixed, or some other way constrained, then you may have hope of fixing the accellerometer's bias, so long as you can detect that the object has <em>actually not moved</em> (e.g., by sensing the boundary).</p>

<p>You may consider putting sensors in the sphere itself. One way of doing this is magnetic (hall-effect) sensors, then making the object mildly magnetic. Then, whichever group of hall-effect sensors is reading the largest magnetic field is likely near the small object. I have successfully done this to track rotations in a wheel by placing a magnet inside the wheel and hall-effect sensors in the wheel well. Simple, and very, very cheap.</p>

<p>If there <em>is</em> no physical sphere, you may have to put all your sensors in the device. Then the problem is actually very hard! If a cheap solution existed for this, then the Army, Firefighters, Police, and all other sorts of disaster rescue people would <strong>love</strong> to know how you did it. All solutions I'm aware of require extremely expensive accellerometers, coupled with a GPS or camera system. Tough for cheap applications.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2576" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-2576">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2576" class = 'collapse'>
			</div>
				<textarea id = "speech-2576" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2576">
					<img id="start_img-2576" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2576">Comment</button>
			<br><div id = "ans-2589"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2589" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since an accelerometer is  not an option, an ir transmitter can placed on the toy. A  strip of ir receivers can be placed nearby. The receivers must be spaced out with blinders in between.  Essentially what you are actually doing, is defining a finite plane where the kid can move the toy. For instance, if the strip is in front of the child, at about 15 feet away, he can wave the toy freely along the x-axis. The length of the strip determines how the width of plane. You can adjust the height of the blinders as needed. When receiver Ri is activated,  time Ti is recorded (i = 0..n receivers). Since the distance between the receivers are fixed, it then becomes easy to calculate other variables using the recorded time. This method requires strong microcontroller programming ability. In the absence of an accelerometer,  i am eager to hear other options. Ultrasonic sensors  will not work for they only measure distsnce from a to b only. 
Good Luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2589" data-toggle = "popover">
				<p>user name : RalphGJr</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-2589">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2589" class = 'collapse'>
			</div>
				<textarea id = "speech-2589" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2589">
					<img id="start_img-2589" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2589">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>