<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>how to add a Matlab code to a simulink model?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10859" class = "post">
			<h2>Question</h2>
			<div id="vote-10859" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 144</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>how to add a Matlab code to a simulink model?</h2>
<p>I want to program an arduino using matlab by "arduino support package" and I want to use simulink in normal input output operations but also use Matlab language in another part so is it possible to make a code consist of simulink model and matlab language and add this code to arduino ? and if it possible how to make it ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10859" data-toggle = "popover">
				<p>user name : mr.Arrow</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10859">{'None': 0, 'manipulator': 0, 'arduino': 1, 'simulator': 0, 'servomotor': 0, 'matlab': 1, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10859" class = 'collapse'>
			</div>
				<textarea id = "speech-10859" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10859">
					<img id="start_img-10859" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10859">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10863"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10863" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can run a reduced version of the matlab language in Simulink using the  <a href="http://de.mathworks.com/help/simulink/slref/matlabfunction.html" rel="nofollow">Matlab function</a> block, but I doubt this includes arduino commands.</p>

<p>You can extend this reduced version of the Matlab language by declaring the external functions which you would like to use, with the coder.extrinsic command. <a href="http://de.mathworks.com/help/simulink/ug/calling-matlab-functions.html" rel="nofollow">here</a> is a tutorial on how to do this.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10863" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10863">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10863" class = 'collapse'>
			</div>
				<textarea id = "speech-10863" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10863">
					<img id="start_img-10863" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10863">Comment</button>
			<br><div id = "ans-10864"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10864" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use from simulink library browser under <a href="https://de.mathworks.com/help/simulink/user-defined-functions.html" rel="nofollow noreferrer">User-defined functions</a> figure out which one is suitable for your system.</p>

<p>If you get some delay while calling Matlab function than you can also use a sybsytem as matlab function because matlab function gives output in delay  in terms of calling function and returning the value but  if you generate the same function im simulink model then output will be without delayed version as shown in the figure <a href="https://i.stack.imgur.com/1oJ7Z.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/1oJ7Z.jpg" alt=" "></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10864" data-toggle = "popover">
				<p>user name : Krunal Vaghani</p>
				<p> user reputation : 48</p>
				<p class = "tagcontent" id = "usertaginfo-10864">{'control': 3, 'None': 3, 'matlab': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10864">Load Comments</button></br>
			<div id = "commentsection-10864" class = 'collapse'>
			<div id = "comment-19568" class = "comment">
				<p>Welcome to *Robotics* Krunal Vaghani, but on Stack Exchange we are are looking for comprehensive answers that provide some explanation and context. Very short answers cannot do this, so you may want to edit your answer to explain why it is right, ideally with citations. Answers which don't include explanations may be removed if brought to a moderators attention.</p>
			</div>
			<div id = "comment-19738" class = "comment">
				<p>@MarkBooth thank you for suggestion. I will try my best to explain the answer.</p>
			</div>
			</div>
				<textarea id = "speech-10864" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10864">
					<img id="start_img-10864" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10864">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>