<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to measure pull force on a (kite) rope?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11793" class = "post">
			<h2>Question</h2>
			<div id="vote-11793" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 86</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to measure pull force on a (kite) rope?</h2>
<p>I'm building a kite flying robot, in which I've already got some sensors built in. I now also want to measure the pulling force on the rope which is attached to the kite. So I thought of attaching a hanging digital scale to the rope which can then measure the pulling force in kilograms. I of course need to read out the data from the scale using GPIO pins or USB. </p>

<p>Furthermore, I also have a raspberry pi installed within the kite and I want to measure some pull on ropes in the air. So if possible, I also need very small/light scales from which I can read out the data. It would be great if the scales can measure up to about 50kg, but with some pulleys about 20kg would be fine as well.</p>

<p>Unfortunately I can't find any digital hanging scale with a possibility to read out the data and which is reasonably light. There are some simple USB powered hanging scales, but I think they just use USB for charging, not for reading out data. And I also found <a href="https://www.alibaba.com/product-detail/Kingtype-electronics-digital-luggage-crane-scale_857579100.html?s=p" rel="nofollow noreferrer">this one</a>, but that's a bit overkill (too heavy and too expensive).</p>

<p><strong>So question #1: Does anybody know where I can get a simple existing hanging scale from which I can read out data?</strong></p>

<p>If needed I can also build something, but I just wouldn't know where to start. I did find <a href="https://www.alibaba.com/product-detail/100kg-hanging-scale-with-rs232-or_60558881053.html?s=p" rel="nofollow noreferrer">this page</a> on Alibaba, where they show the contents of the scale they offer:</p>

<p><a href="https://i.stack.imgur.com/17oNM.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/17oNM.png" alt="enter image description here"></a></p>

<p>So as far as I understand I need the component which I highlighted. But I have no idea how that component is called (what do I search for?) and whether it is actually doable to read it out from a Raspberry Pi.</p>

<p><strong>Question #2: does anybody know what the highlighted component is called, where I could possibly get it and if I can read it out from a Raspberry Pi?</strong></p>

<p>In conclusion; can anybody point me in the right direction?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11793" data-toggle = "popover">
				<p>user name : kramer65</p>
				<p> user reputation : 227</p>
				<p class = "tagcontent" id = "usertaginfo-11793">{'wheel': 6, 'None': 5, 'noise': 1, 'usb': 6, 'algorithm': 1, 'encoding': 6, 'battery': 1, 'uav': 5, 'python': 1, 'kalman-filter': 1, 'imu': 1, 'motor': 1, 'raspberry-pi': 4, 'mobile-robot': 4, 'sensors': 6, 'pitot-tube': 1, 'self-driving': 1, 'steering': 1, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11793" class = 'collapse'>
			</div>
				<textarea id = "speech-11793" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11793">
					<img id="start_img-11793" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11793">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11797"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11797" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The component you highlighted is called a <a href="https://www.google.co.uk/search?q=tensile%20load%20cell&amp;tbm=isch" rel="noreferrer">tensile load cell</a>. You could buy one from a supplier, but it probably would be cheaper to buy a cheap digital hanging scale and taking the sensor out of it - at least I couldn't find one less than $100, ten times the price of a 50kg digital hanging scale.</p>

<p>You will need to do some analog conversion and amplification of the signal and then convert to digital with an ADC; I haven't done so myself but <a href="https://learn.sparkfun.com/tutorials/getting-started-with-load-cells" rel="noreferrer">Sparkfun's load cell tutorial</a> seems a good start.</p>

<p>The other means is to create your own scale, with a stiff spring and some sensor detecting its movement, such as a digital depth gauge - which costs $3 and has a serial output.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11797" data-toggle = "popover">
				<p>user name : Pete Kirkham</p>
				<p> user reputation : 357</p>
				<p class = "tagcontent" id = "usertaginfo-11797">{'None': 19}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11797">Load Comments</button></br>
			<div id = "commentsection-11797" class = 'collapse'>
			<div id = "comment-21010" class = "comment">
				<p>Awesome, thanks. Using the magic word "load cell" I found quite a few affordable load cells ( 30) and through your link to Sparkfun I also found the OpenScale board, which apparently makes converting the raw signal to a usb port really easy: https://learn.sparkfun.com/tutorials/openscale-applications-and-hookup-guide
Thanks a million!</p>
			</div>
			</div>
				<textarea id = "speech-11797" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11797">
					<img id="start_img-11797" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11797">Comment</button>
			<br><div id = "ans-11812"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11812" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What about a flex sensor? <a href="https://www.sparkfun.com/products/10264" rel="nofollow noreferrer">Here's one for less than $10 at Sparkfun.</a></p>

<p>Wherever there is tension there must also be flexsion in a crossmember of the kite or in the membrane. A little bit of experimentation might get you the data you seek.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11812" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-11812">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11812" class = 'collapse'>
			</div>
				<textarea id = "speech-11812" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11812">
					<img id="start_img-11812" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11812">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>