<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How is the absolute flash size calculated in a microcontroller?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7855" class = "post">
			<h2>Question</h2>
			<div id="vote-7855" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How is the absolute flash size calculated in a microcontroller?</h2>
<p>I am working with an STM32F103C8 which has a flash size of 64kBytes.</p>

<p>Now i am using ChibiOS 2.6 and the build file is a binary file of 82kBytes.</p>

<p>Using ST-Link Utility, the program is getting dumped into the microcontroller's flash. </p>

<p>My question is how come a 82kB code fits in the 64kB Flash?</p>

<p>How is the size of that .bin calculated? I am attaching a picture of the display. </p>

<p>I did a compare ch.bin with device memory and it doesn't report any errors found.</p>

<p>All parts of the code work just fine, i don't see any problems anywhere tried all the features of the code, nothing breaks or behaves abnormally.</p>

<p>Could someone please explain this?</p>

<p>Thanks!</p>

<p><a href="https://i.stack.imgur.com/IbB5c.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/IbB5c.png" alt="STM32 ST-Link Image"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7855" data-toggle = "popover">
				<p>user name : user2967920</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-7855">{'None': 2, 'microcontroller': 9, 'beagle-bone': 0, 'power': 0, 'battery': 1, 'wifi': 2, 'c': 2, 'wireless': 1, 'imu': 5, 'circuit': 1, 'electronics': 1, 'i2c': 1, 'serial': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7855">Load Comments</button></br>
			<div id = "commentsection-7855" class = 'collapse'>
			<div id = "comment-11430" class = "comment">
				<p>Does the build directory contain a .s file or an Elf file besides the ch.bin file?  If so, apply analysis techniques mentioned in  [STM32 Large binary created when using malloc](http://stackoverflow.com/q/28462639)</p>
			</div>
			</div>
				<textarea id = "speech-7855" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7855">
					<img id="start_img-7855" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7855">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10421"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10421" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I see that the STM32F103x8 has 64 KB of Flash + 20 KB of SRAM = 84 KB of memory -- is it a coincidence that your build file is close to that size?</p>

<p>Many microcontroller development systems store the final compiled executable in a "binary" file in <a href="https://en.wikipedia.org/wiki/SREC_(file_format)" rel="nofollow">Motorola S-record</a> format or <a href="https://en.wikipedia.org/wiki/Intel_HEX" rel="nofollow">Intel HEX</a> format or some other format that uses 2 byte of disk space to store 2 hexadecimal digits in the file for each byte of programmable memory in the chip, plus a little more metadata overhead. An executable file that almost completely filled 64 KB of Flash would, when stored in any of those hexadecimal formats, use close to 128 KB disk space.
Does your build system perhaps use such a hexadecimal format?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10421" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-10421">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10421" class = 'collapse'>
			</div>
				<textarea id = "speech-10421" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10421">
					<img id="start_img-10421" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10421">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>