<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I make a motion tracking camera?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7316" class = "post">
			<h2>Question</h2>
			<div id="vote-7316" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2328</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I make a motion tracking camera?</h2>
<p>I'm looking into CCTV, and am interested in minimising costs by having a motion tracking camera cover an area that would otherwise utilise multiple cameras.</p>

<p>There is already something like this on the market manufactured by a company called NightWatcher (I think).  However, it does not track, it merely senses using 3 PIR's and points the camera in 1 of 3 positions. Ping ponging between them if the subject is between sensors.</p>

<p>I like the idea of this, but not the drawbacks, and was wondering if there was anything I could do with an arduino or similar to achieve a better result.</p>

<p>I stumbled across this, but am not entirely sure about it. Also this is for outside application, and that thread is for indoor (if that makes a difference).</p>

<p><a href="https://robotics.stackexchange.com/a/1397/9751">https://robotics.stackexchange.com/a/1397/9751</a></p>

<p>Edit...</p>

<p>Just in case I have mislead you, I want to have a unit where sensors detect movement and then a camera to face that position.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7316" data-toggle = "popover">
				<p>user name : Escribblings</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-7316">{'None': 0, 'cameras': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7316">Load Comments</button></br>
			<div id = "commentsection-7316" class = 'collapse'>
			<div id = "comment-10402" class = "comment">
				<p>Do you want the camera to move? I'm not sure if I understand.</p>
			</div>
			<div id = "comment-10406" class = "comment">
				<p>Sorry, Yes - I would like the camera to move.  

The problem with the equipment on the market is the ping-pong effect, best demonstrated with actual footage (found this on YouTube).  

[>>> Video <<<](https://www.youtube.com/watch?v=dfXvKey9wno)  

As you an see, that unit only has 3 positions, and the footage when the unit moves in unusable.</p>
			</div>
			<div id = "comment-10407" class = "comment">
				<p>What problem are you hoping to solve with this system?</p>
			</div>
			<div id = "comment-10408" class = "comment">
				<p>It's just that ip cameras are super cheap.</p>
			</div>
			<div id = "comment-10409" class = "comment">
				<p>Yes I can get "super cheap" cameras, but I want a quality HD picture of ~3MP.  Apart from the extra storage space that multiple cameras will use depending on recording settings and overwrite interval, there is also the fact they cost a lot more.  1 camera will be enough if the motion detect is Ok</p>
			</div>
			<div id = "comment-17487" class = "comment">
				<p>this is all very helpful information for a project that I'm trying to put together for a college project. its basically the same idea, of following movement, similar to that of a human eye but with lower expectations, since it is going to be a low budget project. Still this is all really great advice. if anyone knows of what products would be ideal in terms of cost and good results I'd appreciate it.</p>
			</div>
			<div id = "comment-17488" class = "comment">
				<p>Welcome to *robotics* Drew, however on Stack exchange *answers* need to answer the question. If you have a related question, it should be asked as a new question (ideally referencing this one). Note that we prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Please take a look at [ask] and [about] for more information on how stack exchange works. Also, the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question.</p>
			</div>
			</div>
				<textarea id = "speech-7316" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7316">
					<img id="start_img-7316" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7316">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7324"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7324" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Basically you need to solve 3 different problems: <br></p>

<p>Find the right camera setup and recording strategy
I'm not an expert in this field so I won't say anything to this</p>

<p>Second get the information about a person on the camera. Basically to follow a person in the picture you have to know that there is a person in the picture. So you need something like a machine vision (Let computer decide whether there is a person or not). If you know there is a person you can get there position in the picture easily</p>

<p>The last problem is that you need a motor which moves the camera around. For this application a simple hobby servo motor is sufficient. The motor needs a small controller and some "strategy" how the motor let the camera follow the person.</p>

<p>My first approach to this problems would use a raspberry pi because of two reasons: <br>
It provides the ability to control small servo motors <br>
It can perform simple machine vision tasks</p>

<p>The raspberry is able to use the opencv library easily and there tons of projects how to do people recognition with opencv on the internet.</p>

<p>At the end of the day you will get a pixel value from the recognition algorithm. This value will tell you, that there is a person in the picture and where.
You just need to rotate the camera so far that the person is in the center of your image. This is pretty simple done by using a proprtional controller.</p>

<p>The first problem I see, which you will encounter with this implementation is how the camera will behave when there are 2 or more people in the field of view. But there you can find a solution, too.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7324" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-7324">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7324">Load Comments</button></br>
			<div id = "commentsection-7324" class = 'collapse'>
			<div id = "comment-10415" class = "comment">
				<p>Interesting, but I presume that means using cameras to detect the person. What if the camera isn't facing them?  The PiR method isn't pretty, but allows for one camera.  To be fair, I don't mind if it follows anything that moves, I just want to stop the ping pong effect shown in the video I posted above.  I might even be able to adapt the retail equipment, the do a camera mount with no camera or light so you can add your own, and that is peanuts compared to the full product.</p>
			</div>
			<div id = "comment-10425" class = "comment">
				<p>Why not performing oscilating movement when the camera has  no target?</p>
			</div>
			</div>
				<textarea id = "speech-7324" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7324">
					<img id="start_img-7324" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7324">Comment</button>
			<br><div id = "ans-7326"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7326" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can do all this with the right software, no sensors required (or the sensors could be other cameras).</p>

<p>The technique you're looking for is known as <a href="http://en.wikipedia.org/wiki/Background_subtraction#Using_frame_differencing" rel="nofollow">Frame Differencing</a> - it basically means taking a frame of camera footage and using it as a masking filter on the next frame, this reveals the pixels which have changed in the current frame, these are usually pixels representing observed objects which have moved.</p>

<p>This gives you motion detection and can be done with fairly low resolution 'sensor' cameras, which then tell your main high resolution camera which way to face.</p>

<p>The 'ping-pong' effect would be mitigated by always having the motion target in the center of the main camera's view and only using the interpreted data from the sensor cameras to calculate the object's position.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7326" data-toggle = "popover">
				<p>user name : Scott Downey</p>
				<p> user reputation : 195</p>
				<p class = "tagcontent" id = "usertaginfo-7326">{'battery': 0, 'mobile-robot': 0, 'None': 5, 'power': 0, 'motor': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7326">Load Comments</button></br>
			<div id = "commentsection-7326" class = 'collapse'>
			<div id = "comment-10418" class = "comment">
				<p>That assumes the camera is always facing the target.  It needs the sensors to turn the camera to face a target of it is not in front of the camera.  I think people are misunderstanding what I am looking for.  I want sensors to detect movement and aim a camera at the movement.  I am not worried about picking out movement in the recorded image.</p>
			</div>
			<div id = "comment-10419" class = "comment">
				<p>@Escribblings you misunderstand me, your main camera (which moves) is pointed at the motion by the Frame Differencing 'sensor cameras' which would be *fixed* in position (watching, say, a compass direction from the main camera) and when they detect motion - they instruct the main camera to swing around to face it.</p>
			</div>
			</div>
				<textarea id = "speech-7326" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7326">
					<img id="start_img-7326" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7326">Comment</button>
			<br><div id = "ans-10606"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10606" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I find it is all fine and good to discuss a problem but sometimes users need a working example albeit not in their preferred programming language.  I have used face detection tracking for robotics behaviors but this has many problems like lighting, faces not visible, profile or back of head Etc.  </p>

<p>Motion tracking is better. Using example code I developed some Raspberry Pi camera python code to do real time motion tracking based on diff file method mentioned above.  Code is on github <a href="https://github.com/pageauc/motion-track" rel="nofollow">https://github.com/pageauc/motion-track</a> and YouTube video here <a href="https://youtu.be/09JS7twPBsQ" rel="nofollow">https://youtu.be/09JS7twPBsQ</a> (most of my stuff has a video associated with it)</p>

<p>The python code can be modified to run on other platforms and systems. From this demo I developed a real time object speed camera and a simple hotspot game that can be found in the same repo.
Recently I have been working on Camera Tracking. Instead of tracking motion in the FOV (field of view) I track actual camera movement.  This uses a little different technique than image diff method.  I am working on further developing this to use in robotics where there are no wheel encoders.  This would use the background to find high value target search rectangles from the video background image (not signs or symbols) to aid in correcting navigation errors for straight line and turns. See my github repo for details and more explanation
Real time speed on a RPI 3 is quite good. </p>

<p>So these are a few real world examples to your question that may be useful if you also have the prerequisite programming skills and/or learn time.  Camera Pan/tilt servo system can actively scan an area and detect and track moving object(s) using just a computer controlled camera setup without the need for special sensors although this would be useful for night operation. </p>

<p>Now I don't claim to be the best coder but a lot of googling will get you a long way there if you keep trying.  I also like to post video of projects although they can go out of date after a while.  My experience with some opencv video is that quite often there is no code repo reference.  Just video with no good sound or vocal explanation and poorly demonstrated.  This is like showing a video of cars driving by quickly to explain how vehicle chassis, electrical and power train systems work.  Just my observation.</p>

<p>A lot of times products don't do what you would like or are too expensive.  Developing your own solution is sometimes not the best approach if you factor in your time and effort unless you do it as a hobby.  For example, I would not think of developing a custom dash cam solution since there are many good, inexpensive product solutions on the market.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10606" data-toggle = "popover">
				<p>user name : Claude</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10606">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10606" class = 'collapse'>
			</div>
				<textarea id = "speech-10606" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10606">
					<img id="start_img-10606" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10606">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>