<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I create a portable solar panel lipo charger?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8906" class = "post">
			<h2>Question</h2>
			<div id="vote-8906" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 353</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I create a portable solar panel lipo charger?</h2>
<p>We're working on a quadcopter that will carry a solar panel on top that will continually charging the lipo battery of the quad. What's the smallest and easiest way to recreate a charger that will allow safe charging for the lipo battery?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8906" data-toggle = "popover">
				<p>user name : Henry Lachica</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-8906">{'quadcopter': 0, 'battery': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8906">Load Comments</button></br>
			<div id = "commentsection-8906" class = 'collapse'>
			<div id = "comment-14681" class = "comment">
				<p>You're the second person to come asking about putting solar panels on a quad copter on the last week or so. Have you actually performed any power-to-weight analysis that shows this is even feasible? To provide net power to charge batteries, the solar panel must provide more than enough power to keep itself aloft. If such panels existed, then solar powered drones would be everywhere. They are not. I think you are better off just investing in a larger battery.</p>
			</div>
			<div id = "comment-14682" class = "comment">
				<p>Unless the quad lands and charges while idle. I see no problem with that. True, the silly notion is *slightly* implied that during flight the panel will somehow recharge (or even how a noticeable effect on) the batteries, but it's not necessarily a requirement.</p>
			</div>
			<div id = "comment-14687" class = "comment">
				<p>There have been a lot of people researching on solar powered quadcopters. And yes I think the other one who asked the question is one of my group mates. The idea we're creating in this "solar powered quadcopter" is to charge the lipo batteries while in the air. We'll have two batteries carried by the quadcopter along with the solar panels. One battery will be used while the other one is on idle. When the first battery dies, the quadcopter will then use the second one and the first battery will charge. So on and so forth.</p>
			</div>
			<div id = "comment-14690" class = "comment">
				<p>Back to the question, how do I recreate a lipo battery charger using solar panels? Due to the possible "unstable voltage" output by the solar panels, it will be very bad for the lipo battery itself. How do I exactly "stabilize" or at least minimize these pulses to charge the battery safely?

Let's disregard the fact that it will be used on a quadcopter first.</p>
			</div>
			</div>
				<textarea id = "speech-8906" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8906">
					<img id="start_img-8906" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8906">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8908"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8908" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know of any application where the LiPo is charged and discharged at the same time. It might not be a good idea, due to the delicate charging cycle procedure that LiPos require.</p>

<p>Have you run a power consumption analysis with the given solar panel figures, to see if it is worth the effort? I suspect that the net power profit will be negative, due to the increased system weight and complexity.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8908" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8908">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8908">Load Comments</button></br>
			<div id = "commentsection-8908" class = 'collapse'>
			<div id = "comment-14688" class = "comment">
				<p>We'll not be charging and discharging the batteries simultaneously. The quadcopter will we be doing has two batteries in it. One will be charging an one will be discharging and be used by the quadcopter.</p>
			</div>
			<div id = "comment-14689" class = "comment">
				<p>Back to the question at hand, what parameters should I consider to make a safe charger for my lipo batteries?</p>
			</div>
			</div>
				<textarea id = "speech-8908" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8908">
					<img id="start_img-8908" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8908">Comment</button>
			<br><div id = "ans-8912"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8912" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><em>Make sure you understand Lithium Ion battery safety before proceeding.</em> </p>

<p>Lithium Ion batteries have limits on charging current and charging voltage. The typical charging technique is to provide the maxiumum charging current until max charging voltage is reached, then provide the max charging voltage until current drops to zero. </p>

<p>If you can find a solar cell array with <a href="https://en.wikipedia.org/wiki/Theory_of_solar_cells#Open-circuit_voltage_and_short-circuit_current" rel="nofollow">Isc</a> less than the battery max charging current and Voc at the max charging current you might be able to hook the solar array directly to the battery.</p>

<p>Otherwise, a DC-DC converter between the array and the battery which will convert the array voltage to max charging voltage, with a max current that matches the max charging current of the battery. You'll loose 15% of your energy though.</p>

<p>If you don't have an electrical engineer (or student of EE) on your team, go find one.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8912" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8912">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8912">Load Comments</button></br>
			<div id = "commentsection-8912" class = 'collapse'>
			<div id = "comment-14691" class = "comment">
				<p>You're the guy who answered my group mate's question here in stack exchange. I thank you for answering that and this one too.

We'll be using Lithium Polymer batteries but this might as well apply to it as well. We've found solar cells that has these specs:

Average Power: (Watts): 0.63 Wp
Average Current: (Amps): 1.26 lmax
Average Voltage: (Volts): 0.5 Vmax

The batteries used will be a 3-cell, 2700 mAH Lithium Polymer Battery. What do you mean by losing "15% of the energy"?</p>
			</div>
			<div id = "comment-14692" class = "comment">
				<p>We've considered looking into the DC-DC converter. But does it allow the amplification and stabilization of both the voltage and the current?</p>
			</div>
			<div id = "comment-14694" class = "comment">
				<p>DC-DC converters (like every other power converter, whether mechanical, electronic, fluid, or thermal) waste some of the energy during conversion. 15% is a rough estimate. DC-DC usually try to control voltage and leave current uncontrolled. I'm guessing you are using hobby batteries which I prefer not to call [Lithium Polymer](https://en.wikipedia.org/wiki/Lithium_polymer_battery#Design_origin_and_terminology). They are some flavor of Li Ion. I'm pedantic that way. And seriously, [SAFETY](https://www.horizonhobby.com/pdf/EFL-LiPoSafetyWarnings.pdf)  if you start messing with your own charging.</p>
			</div>
			<div id = "comment-14695" class = "comment">
				<p>I'm making some big guesses about your system but I'm going to estimate something on the order of 100W to keep your quad in the air. Your solar cells are going to be on the order of 1W power production. That would extend a 20 min flight by 12 second.... That assumes all your extra electronics and solar panels weight nothing and don't affect the aerodynamics.</p>
			</div>
			<div id = "comment-14711" class = "comment">
				<p>The problem with the DC-DC is the fact that it will lower the current output to the battery. That's our current problem now (pun intended). We'll not be  using solar cells as our main power source for our quadcopter. So the battery will be the power source of our quadcopter.</p>
			</div>
			</div>
				<textarea id = "speech-8912" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8912">
					<img id="start_img-8912" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8912">Comment</button>
			<br><div id = "ans-8919"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8919" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The easiest way to accomplish lithium charging is to use a brownout tolerant DC-DC converter. By brownout tolerant I mean the converter should automatically derate output voltage to maintain the max current limit with no need to reset or recover once the condition clears. </p>

<p>The output current limit of the converter should be less than or equal to the current limit for the constant current phase of the charge curve. The output voltage should be less than or equal to the constant voltage phase of the charge curve. </p>

<p>In this scheme, when the battery is low on charge, it will also be low on voltage. A larger voltage differential will draw more current, up to the current limit on the converter, which should be approximately equal to the constant current charge limit. </p>

<p>The battery charges and, as it does,  the terminal voltage rises. At some time the voltage differential decreases to the point that the brownout condition ends and the DC-DC converter resumes rated voltage output, which should now be at the constant charge voltage. </p>

<p><strong>A couple of notes, though:</strong></p>

<ol>
<li>As @hauptmech points out in their terrific content, assume the copter runs 10min at 100W for flight. This means the battery stores about 16 Watt-hours, or 1000 Watt-minutes of energy. Assuming the solar cell outputs 1W, this means it will take about 1000 minutes, or about 16 hours, to recharge the battery. When you try to connect the solar cell output to the system to charge, there is a very high likelihood that you will brown out the solar cell because of the power draw. This means the DC-DC converter needs to have a wide input voltage range, conceivably down to near 0V input, AND that the solar cell needs to be short-circuit tolerant, as that's likely to be the normal operating condition. You could get a DC-DC converter with a current limit closer to the equivalent power output of the solar cell, which may help. </li>
<li>Charging lithium batteries is dangerous. They are banned on most flights, banned on most air mail services, for good reason. See also: hover boards. </li>
<li>You need to be sure to stay under the max ratings. Exceeding the current limit causes heat issues (not that I think you'd exceed a lithium battery's current limit with a solar cell), <em>but</em> exceeding the voltage limit causes dielectric breakdown in the battery, which also causes fires. That <strong>is</strong> very possible with a solar cell. </li>
<li>Again, as hauptmech mentioned, you need an EE. This isn't really something to guess at, and if you're here looking for advice you should honestly consider if you know what you're doing and seek guidance at least from a senior EE student. </li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8919" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8919">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8919">Load Comments</button></br>
			<div id = "commentsection-8919" class = 'collapse'>
			<div id = "comment-14737" class = "comment">
				<p>Currently, we have a solar panel with 3.45A and 1.07V specifications.</p>
			</div>
			<div id = "comment-14738" class = "comment">
				<p>@HenryLachica - Is that peak current at rated voltage, or peak current and peak voltage? What is the max power output of the panel?</p>
			</div>
			<div id = "comment-14740" class = "comment">
				<p>Currently, we have a solar panel with 3.45A and 1.07V specifications. 

So from what I understood, the DC-DC converter we design must be able to accommodate the power needed by the quadcopter. So in this case, the lithium polymer battery needs 12.4 V or more and 2.7A to be able to charge properly. I know that DC-DC converter can boost the voltage of the solar panel but will not maintain the current as it might go down. How do I handle this?

Sorry the comment did not finish</p>
			</div>
			<div id = "comment-14741" class = "comment">
				<p>That's the setup for 4 total solar panels. 2 of them are in series, and the series are paralleled into another 2 cells in series. It was measured during a very sunny day. So it probably maybe both its peak current and voltage.</p>
			</div>
			</div>
				<textarea id = "speech-8919" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8919">
					<img id="start_img-8919" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8919">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>