<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to get prevent twisting of cables
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2852" class = "post">
			<h2>Question</h2>
			<div id="vote-2852" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2248</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to get prevent twisting of cables</h2>
<p>I am planning to create a motor turret described <a href="https://robotics.stackexchange.com/questions/2841/what-approaches-should-i-consider-to-create-rotating-a-turret">in this question</a>. But to simplify the problem, I'm thinking of a wind turbine with a generator in the main head that can rotate freely through 360 degrees to face the wind. How would I prevent the power and sensor wires coming from the head and down the shaft from twisting? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2852" data-toggle = "popover">
				<p>user name : John Petrak</p>
				<p> user reputation : 145</p>
				<p class = "tagcontent" id = "usertaginfo-2852">{'wiring': 6, 'None': 0, 'servos': 2, 'sensors': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2852">Load Comments</button></br>
			<div id = "commentsection-2852" class = 'collapse'>
			<div id = "comment-5268" class = "comment">
				<p>You're talking about a slip ring.  See also: http://robotics.stackexchange.com/q/2542/350</p>
			</div>
			<div id = "comment-5296" class = "comment">
				<p>I [heard one person say](https://en.wikipedia.org/wiki/Talk:Wind_turbine_design#How_is_the_electricity_from_the_head_mounted_Generator_transmitted_to_the_tower_as_the_head_yaws.3F) that "When the turbine controller detects that the power cables have been twisted by three rotations, it shuts the machine down and untwists them."</p>
			</div>
			</div>
				<textarea id = "speech-2852" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2852">
					<img id="start_img-2852" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2852">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2857"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2857" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Two approaches come to my mind.</p>

<p>The first one is brush connectors, these for example: <a href="http://www.mercotac.com/html/products.html" rel="nofollow">http://www.mercotac.com/html/products.html</a></p>

<p>The second one would be to use something like audio connector for example <a href="http://www.trait-tech.com/uploads/details/T-PCA-7034-1__2-5-to-3-5-Adapter-Audio-Connector-Plug-Converter.jpg" rel="nofollow">http://www.trait-tech.com/uploads/details/T-PCA-7034-1__2-5-to-3-5-Adapter-Audio-Connector-Plug-Converter.jpg</a>
If this isn't smooth enough for your application, there are conductive greases you can find appropriate. Be careful to separate plastic parts so that they don't make the connection rough.</p>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2857" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2857">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2857" class = 'collapse'>
			</div>
				<textarea id = "speech-2857" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2857">
					<img id="start_img-2857" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2857">Comment</button>
			<br><div id = "ans-2858"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2858" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you're looking for is generally referred to as a slip ring. Here's a cheaper slip ring sold by Adafruit along with a video demonstrating how it works: <a href="http://www.adafruit.com/products/736">http://www.adafruit.com/products/736</a>. They sell hobbyist parts. I've used slip rings before to manufacture my own rotating LiDAR using a Hokuyo.</p>

<p>Here's another company that sells what seem to be industrial grade slip rings: <a href="http://www.moflon.com/">http://www.moflon.com/</a>. I found them by doing a quick Google search for "slip ring connector", which you can use to find many many more options.</p>

<p>As a final note, here's the video of the rotating LiDAR I built which uses a slip ring...you will see the slip ring in the first 30 seconds of the video: <a href="https://www.youtube.com/watch?v=7PLcqhXVndI&amp;list=UU0A5iVxngtVcHPjANH75z1A">https://www.youtube.com/watch?v=7PLcqhXVndI&amp;list=UU0A5iVxngtVcHPjANH75z1A</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2858" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-2858">{'None': 54}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2858" class = 'collapse'>
			</div>
				<textarea id = "speech-2858" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2858">
					<img id="start_img-2858" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2858">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>