<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to open a sliding window?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1935" class = "post">
			<h2>Question</h2>
			<div id="vote-1935" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1359</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to open a sliding window?</h2>
<p>I live in an apartment that has sliding windows in it. The apartment is naturally warm because we live above a mechanical room, such that we either opened the windows or ran the air conditioning through the winter. I want to create a device than can open and close the windows in the apartment depending on temperature. The software and electronics are already figured out, I just need to figure out how to move the windows.</p>

<p><img src="https://i.stack.imgur.com/ffas3.png" alt="enter image description here"></p>

<p>This is a sample of the window. It takes about 4 lbs of force to pull it open, and they only open 6 inches(since I'm 16 stories high).</p>

<p>Ultimately, I want to make this cheap enough that I could replicate it on 6 windows.</p>

<p>My first thought was a linear actuator, but most of the ones I have seen are designed for moving 100+lbs and cost several hundred dollars. Pneumatic actuators are cheaper, but I'd have to run a network of air lines and solenoids, and would have a compressor that would randomly kick in. A double winch system would be very complicated to set up and prone to failure. Lastly, I was thinking of a cheap metal gear servo(dealextreme has 15kg/cm servos for under $15.00), but it would be somewhat difficult to use a series of turnbuckles and arms to translate into 6 inches of linear movement.</p>

<p>Any help would be appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1935" data-toggle = "popover">
				<p>user name : Michael Dornisch</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-1935">{'actuator': 8, 'None': 0, 'design': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1935">Load Comments</button></br>
			<div id = "commentsection-1935" class = 'collapse'>
			<div id = "comment-3970" class = "comment">
				<p>If speed is not crucial, there's also the screw!</p>
			</div>
			<div id = "comment-3972" class = "comment">
				<p>Yes... You can get a cheap screw in any hardware store and build a linear actuator.  That's common for hobby CNC work...</p>
			</div>
			<div id = "comment-12951" class = "comment">
				<p>you mind linking to what you mean by `screw`</p>
			</div>
			</div>
				<textarea id = "speech-1935" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1935">
					<img id="start_img-1935" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1935">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1939"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1939" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As others have said in comments, a screw is probably your best bet. It's mechanically pretty simple to set up, and could be made to look fairly tidy, which is always nice in a home.</p>

<p>But the main problem, as always is going to be doing this on the cheap. The cost of the parts soon adds up. Even if your motors are only $15, you still need to buy the lead screw and nuts. These can be shockingly expensive if you buy nice ones for CNC machines, but you can probably get away with a simple length of threaded rod attached to a motor mounted on the wall, and a nut attached to the window. Since this thing isn't going to be moving very often, it should last a reasonably long time. And when the components wear out, they'll be cheap to replace.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1939" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-1939">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1939" class = 'collapse'>
			</div>
				<textarea id = "speech-1939" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1939">
					<img id="start_img-1939" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1939">Comment</button>
			<br><div id = "ans-1994"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1994" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could try this:
Using wire cable; mount pulleys at each corner of window; then get a suitable motor for your pull requirement (4lbs). wind the cable around the motor shatft then power forward/backward to Maybe use a block and tackle arrangement for increased torque. Don't forget the need for limit stop switches.</p>

<p>This could be cheaper than screw method but might not have same look and feel     </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1994" data-toggle = "popover">
				<p>user name : OricTosh</p>
				<p> user reputation : 86</p>
				<p class = "tagcontent" id = "usertaginfo-1994">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1994" class = 'collapse'>
			</div>
				<textarea id = "speech-1994" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1994">
					<img id="start_img-1994" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1994">Comment</button>
			<br><div id = "ans-2017"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2017" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want to be cheap....you could go to a junk yard and grab a linear actuator used for opening and closing car door windows.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2017" data-toggle = "popover">
				<p>user name : dennis</p>
				<p> user reputation : 17</p>
				<p class = "tagcontent" id = "usertaginfo-2017">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2017">Load Comments</button></br>
			<div id = "commentsection-2017" class = 'collapse'>
			<div id = "comment-4060" class = "comment">
				<p>These aren't usually linear actuators, although the mechanism creates linear movement: http://www.bestcarsguide.com/wp-content/uploads/2009/11/Window-Regulator.jpg</p>
			</div>
			</div>
				<textarea id = "speech-2017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2017">
					<img id="start_img-2017" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2017">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>