<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I recognize animals in a video stream or static images with openCV or other library~software?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7910" class = "post">
			<h2>Question</h2>
			<div id="vote-7910" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2502</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I recognize animals in a video stream or static images with openCV or other library~software?</h2>
<p>I'm a software developer not experienced in AI or machine learning, but I'm now interested in developing this kind of software. I want to develop software that recognizes some specific objects, specifically, animals from a video stream (or a sequence of static images).</p>

<p>I saw there's a library called openCV which is often commented in this forum, but what I saw so far is this library is a helper for working with images, I didn't find the <em>object recognition</em> or <em>self learning</em> part.</p>

<p>Is <em>openCV</em> a good starting point? better go for some theory first? or there are other already developed libraries or frameworks aimed for object recognition?</p>

<p><strong>EDIT</strong>
To give some context: I will have ona camera checking a landscape, mostly static but some leaves may move with the wind or some person may step in, and I want to get an alert when some animal is into view, I can reduce the "animals" to only birds (not always I will have a nice bird/sky contrast).</p>

<p>I did some work with supervised neural networks some 15 years ago and studied some AI and machine learning theory, but I guess things have improved way too much since then, that's why I was asking for some more practical first steps.</p>

<p>Thank you</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7910" data-toggle = "popover">
				<p>user name : K. Weber</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-7910">{'None': 0, 'computer-vision': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7910">Load Comments</button></br>
			<div id = "commentsection-7910" class = 'collapse'>
			<div id = "comment-11535" class = "comment">
				<p>http://www.xkcd.com/1425/</p>
			</div>
			<div id = "comment-11536" class = "comment">
				<p>What you're asking to do is a very, very difficult problem. OpenCV features a machine learning library, but this is not something that you "just do" - it's going to take a lot of time to come up to speed on image processing and machine learning, and even then you're working on a problem that is very difficult.</p>
			</div>
			<div id = "comment-11537" class = "comment">
				<p>Also, this problem would be better suited for asking at the [computer science](http://cs.stackexchange.com/) SE site, but I would imagine you'll get a similar response. This question doesn't have anything to do specifically with robotics.</p>
			</div>
			<div id = "comment-11538" class = "comment">
				<p>I'm voting to close this question as off-topic because it is not a question about robotics.</p>
			</div>
			<div id = "comment-11543" class = "comment">
				<p>Not necessarily that hard. If you have a static background all you really need to do is detect movement with BackgroundSubtractorMOG2 and those moving parts are likely animals. If your background is panning, then it is only slightly more complicated.</p>
			</div>
			<div id = "comment-11544" class = "comment">
				<p>@Chuck, the XKCD hover-over text is exactly what I thought of when I read this question.</p>
			</div>
			<div id = "comment-11546" class = "comment">
				<p>@K. Weber, I agree with Chuck that in the aggregate sense, it really is an advanced topic. However, if you are looking to do a "smaller" set of it, there are ways to "cheat". Can you give more specifics as to *exactly* your use case? For example, if you really have video/images of only animals (no humans), you might be able to cheat using some OpenCV libraries that detect faces... but once again it depends on what you really are trying to accomplish.</p>
			</div>
			<div id = "comment-11551" class = "comment">
				<p>I agree with Octopus and Aerophilic in that there are some scenarios such as the scene is known in advance, or if the animals are all of a known type, etc., where you might be able to get by. However, if different types of animals are in the same scene, or you don't know when the scene has no animals (to initialize background subtraction), or things other than animals are in the scene (vehicles), then it will be very tough. Even if you do modify your question to clarify what *exactly* it is you are looking for, this question is *still not directly related to robotics*.</p>
			</div>
			<div id = "comment-11552" class = "comment">
				<p>OK, I'll add more information to the post</p>
			</div>
			<div id = "comment-11554" class = "comment">
				<p>@Aerophilic, current face detection algorithms work great (for human faces) when the subject is looking at the camera and is oriented vertically, forehead at the top. Other orientations, or faces in profile invariably fail the algorithms. Similarly, I think it is still very difficult to classify an animal. My previous comment was only about identifying pixels in the image as animal because it moves through the scene. Identifying which animal is still a complex problem. The OP's question can be interpretted at different levels.</p>
			</div>
			<div id = "comment-11555" class = "comment">
				<p>I do think that this is off topic for robotics, but I find it to be a fascinating question.</p>
			</div>
			<div id = "comment-11584" class = "comment">
				<p>@Chuck I don't know if I agree that this is off topic for robotics, though perhaps we should move this to "meta". But in short, based on my direct experience, but also via the definition of "robot" by the former director of the Robotics Institute @ Carnegie Mellon, a Robot is anything that "Sense, Thinks, or Acts". Since this is part of the sensing, I don't see why we *shouldn't* talk about computer vision on this Stack Overflow.</p>
			</div>
			<div id = "comment-11588" class = "comment">
				<p>@Aerophilic I'm going off of [the guidelines for on-topic questions](http://robotics.stackexchange.com/help/on-topic), which say basically Arduino-only questions belong on the Arduino SE, Electronics-only on the EE SE, etc., and programming-only questions on Stack Overflow. Artificial Intelligence could be here by your reasoning, but it is better suited elsewhere.</p>
			</div>
			<div id = "comment-11589" class = "comment">
				<p>@Chuck Perhaps we can kick off a Meta Discussion on this topic, but it may already be addressed in one of these three questions: http://meta.robotics.stackexchange.com/questions/1/what-do-we-do-about-platform-specific-questions, http://meta.robotics.stackexchange.com/questions/5/how-do-we-address-questions-about-related-subject-areas, or http://meta.robotics.stackexchange.com/questions/4/where-does-robotics-end-and-electrical-engineering-begin. In all three questions, it seems the community seems to fall on the idea of being "more" inclusive than not, given the nature of robotics. I agree IMHO</p>
			</div>
			<div id = "comment-11596" class = "comment">
				<p>Remember folks, comments are intended for improving questions and answers. If you want to chat, please do it in [chat]. If you have issues of policy, feel free to ask a question on [meta]. I will offer this question to both [cs.se] and [dsp.se] but I suspect that they will look at the fact that we have a good accepted answer here already and reject the migration. See also [my answer to this meta question](http://meta.robotics.stackexchange.com/a/1288/37).</p>
			</div>
			<div id = "comment-11609" class = "comment">
				<p>@MarkBooth: Yes, I'm loath to move a question once it has an upvoted accepted answer... even if the topic might be more appropriate elsewhere in the *.SE network.</p>
			</div>
			<div id = "comment-11611" class = "comment">
				<p>I was looking for a starting point so I think now I have enough to start researching, once I get more specific doubts I will go to that forum. Thanks to all.</p>
			</div>
			<div id = "comment-11618" class = "comment">
				<p>Moderators from both [cs.se] and [dsp.se] have said that it wouldn't be appropriate to migrate this question. @K.Weber you may want to join those sites though, as future questions might be more appropriate to ask there. we would however welcome future questions here too.</p>
			</div>
			<div id = "comment-11619" class = "comment">
				<p>@MarkBooth I will, thanks</p>
			</div>
			</div>
				<textarea id = "speech-7910" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7910">
					<img id="start_img-7910" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7910">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7924"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7924" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Given that you are doing a more "constrained" goal, with a "mostly" static background, I would recommend simply doing a "<strong>background image subtraction</strong>" method. The "hard part" which has come a long way over the last decade is how you deal with shadows, light changes, and foliage moving. </p>

<p>There are tons of resources on this topic, but here is a good one I found after a quick cursory search: 
<a href="http://www.pyimagesearch.com/2015/05/25/basic-motion-detection-and-tracking-with-python-and-opencv/" rel="nofollow noreferrer">http://www.pyimagesearch.com/2015/05/25/basic-motion-detection-and-tracking-with-python-and-opencv/</a></p>

<p>This should get you to a 80% solution for what you want.</p>

<p>If you want to go deeper, and try to identify specific animals, there are two main approaches you can potentially follow. The easy one is <strong>Template Matching</strong>, the harder one is creating a <strong>Bayes Classifier</strong>. </p>

<p>In either approach, you would:</p>

<ol>
<li>Gather a sample set of data (most likely by using the output from above)</li>
<li>Either:

<ul>
<li>Create templates you would match against</li>
<li>Train your classifier to identify the animals you would want</li>
</ul></li>
</ol>

<p>A couple of notes:</p>

<ul>
<li>Template matching out of the box is highly scale and orientation dependent. While you can start with basic template matching, you'll probably quickly want to create a Gaussian pyramid. Here is a good reference: <a href="https://stackoverflow.com/questions/22480485/image-matching-in-opencv-python">https://stackoverflow.com/questions/22480485/image-matching-in-opencv-python</a></li>
<li>Doing Bayesian Classifiers well is <strong>hard</strong>, and if you just search on Google Scholar, you'll see a tons of papers on the subject. However, it seems to be the "way to go" for high accuracy. Generally you would combine the base classifier with some other machine learning technique (such as a Markov Model). If you do go this route, I would recommend trying to do something "simpler" than trying to find a whole bird. Instead, I would recommend perhaps identifying a simple feature that would "mean" bird/animal, such as locating an "eye" or "beak".</li>
</ul>

<p>Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7924" data-toggle = "popover">
				<p>user name : Aerophilic</p>
				<p> user reputation : 196</p>
				<p class = "tagcontent" id = "usertaginfo-7924">{'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7924" class = 'collapse'>
			</div>
				<textarea id = "speech-7924" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7924">
					<img id="start_img-7924" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7924">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>