<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How many DOFs required to define a 3D pose
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9013" class = "post">
			<h2>Question</h2>
			<div id="vote-9013" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 237</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How many DOFs required to define a 3D pose</h2>
<p>I understand that to be able to define point in 3D space, you need three degrees of freedom (DOFs). To additionally define an orientation in 3D space, you need 6 DOFs. This is intuitive to me when each of these DOFs defines the position or orientation along one axis or an orthogonal X-Y-Z system.</p>

<p>However, consider a robot arm such as this: <a href="http://www.robotnik.eu/robotics-arms/kinova-mico-arm/" rel="nofollow">http://www.robotnik.eu/robotics-arms/kinova-mico-arm/</a>. This too has 6 DOFs, but rather than each DOF defining a position or orientation in an X-Y-Z system, it defines an angular rotation of one joint along the arm. If all the joints were arranged along a single axis, for example, then these 6 DOFs would in fact only define one angular rotation.</p>

<p>So, it is not true that each DOF independently defines a single position or orientation. However, in the case of this robot arm, it can reach most positions and orientations. I'm assuming this is because the geometry of the links between the joints make each DOF define an independent position or orientation, but that is a very vague concept to me and not as intuitive as simply having one DOF per position or orientation.</p>

<p>Can somebody offer some help in understanding these concepts?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9013" data-toggle = "popover">
				<p>user name : Karnivaurus</p>
				<p> user reputation : 328</p>
				<p class = "tagcontent" id = "usertaginfo-9013">{'control': 10, 'walking-robot': 4, 'simulator': 0, 'torque': 4, 'slam': 0, 'robotic-arm': 20, 'mobile-robot': 0, 'dynamics': 17, 'forward-kinematics': 7, 'manipulator': 10, 'accelerometer': 4, 'kinematics': 29, 'jacobian': 16, 'policy': 1, 'actuator': 4, 'None': 0, 'inverse-kinematics': 18, 'localization': 0, 'mapping': 0, 'sensors': 4, 'simulation': 0, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9013" class = 'collapse'>
			</div>
				<textarea id = "speech-9013" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9013">
					<img id="start_img-9013" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9013">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9014"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9014" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A 6-DOF robotic arm may not always be able to manipulate an object in all the directions and orientations in 3-D space from a particular position and orientation. Such a pose(position + orientation) is called as a singular position of the robotic arm. Mathematically, the robotic arm attains a singularity when the determinant of its Jacobian goes to zero. For eg., consider your arm itself which is a 7-DOF mechanism. When the human arm is fully stretched, the arm can no more move in certain directions in 3D space, an obvious one being in the direction along the arm. Such a position is called as singular position. A much simpler case is to imagine a planar robotic arm with 2-DOF with both being revolute joints. When this is completely stretched, it can only manipulate objects along a circle. All the points on the circle are points of singularity. If the arm moves slightly inside the circle, then it regains its ability to move along all the direction. </p>

<p>As you say, it is not true that each joint of the robotic arm contributes to one of the 6DOFs in space. All the joint motions contribute together in manipulating the object in 3D space. These concepts are covered in any introductory book on robotics. To get an in-depth mathematical understanding, you may go through the topics on forward kinematics and inverse kinematics. Getting a mathematical understanding will certainly improve your intuition and further the imagination of the motion of such robotic arms. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9014" data-toggle = "popover">
				<p>user name : bluebird</p>
				<p> user reputation : 163</p>
				<p class = "tagcontent" id = "usertaginfo-9014">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9014">Load Comments</button></br>
			<div id = "commentsection-9014" class = 'collapse'>
			<div id = "comment-14850" class = "comment">
				<p>This is ultimately right. For a gantry robot, for example, it's really easy to imagine how it reaches three-DOF.  For higher-DOF or rotational-joint robots, it's a challenge. You can always try to imagine how your arm would move given certain constraints (e.g. elbow locked, it becomes 6-DOF). But, like many things, doing the mathematical bookkeeping makes keeping track of more complicated systems feasible.</p>
			</div>
			</div>
				<textarea id = "speech-9014" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9014">
					<img id="start_img-9014" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9014">Comment</button>
			<br><div id = "ans-9015"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9015" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The explanation here is similar to the Cartesian vs Polar coordinate system. </p>

<p>I think that, for most people, the Cartesian coordinate system is the most intuitive. You move linearly some distance, then linearly some other distance, etc. The ending X/Y coordinates are related <em>linearly</em> to the distances you traveled initially. </p>

<p>In Polar coordinates, you turn some angle $\theta$, and then "walk" out some distance $r$ from the origin. In the end, the X/Y coordinates are not linear; the ending positions is given by $(r\cos{\theta},r\sin{\theta})$. You still have two degrees of freedom, but it's harder to <em>inituitively</em> know where the ending position is without practice, <strong>and</strong> each degree of freedom - $r$ and $\theta$ - can move <em>both</em> the x- and y-coordinate.</p>

<p>Similarly, you could have a robot with three linear actuators to navigate an end effector to an X/Y/Z spot in space. This is intuitive - the ending position is the distance traveled on each axis. </p>

<p>A robot like the one you mention is like polar coordinates for 3D space - this is referred to as a "spherical" coordinate system. In spherical coordinates you have two angles and a distance. Imagine pointing at the sun - you point SE or SW (azimuth angle) to the sun's <em>projection</em> on the horizon, then you point "up" (elevation angle) to where the sun's height is in the sky, then the sun is some distance $r$ away from you.</p>

<p>The robot you link doesn't have a means to telescope its arm, so instead of a true spherical coordinate system ($\theta,\phi,r$), you wind up with a purely angular coordinate system. <em>Link distances still exist though</em>, so it is possible to reach most coordinates within a sphere of radius $r_{\mbox{sphere}} = r_1 + r_2$, where $r_N$ is the length of each arm segment. It is most coordinates and not all coordinates because, if the arms are not the same length, then it cannot reach an interior sphere of radius $r_{\mbox{interior}} = \mbox{abs}(r_1 - r_2)$.</p>

<p>You are correct in that, if two axes are aligned, then one degree of freedom becomes essentially redundant and you get into a condition referred to as <a href="https://en.wikipedia.org/wiki/Gimbal_lock" rel="nofollow">gimbal lock</a>. </p>

<p>For an example, consider only two rotational degrees of freedom for a moment. Each has an arm of length $r_N$. Motion in the plane <em>for the end effector</em> is the <em>sum</em> of the motions of each arm link because the two arms are connected (read about <a href="http://mathworld.wolfram.com/VectorAddition.html" rel="nofollow">vector addition</a> for more information). </p>

<p>So, the first actuator moves some rotation $\theta_1$. This moves the end of the first arm link to a position of $(r_1 \cos{\theta_1}, r_1 \sin{\theta_1})$. The second actuator is located at the end of the first arm link. It rotates some other angle $\theta_2$, putting the end of the second link at a position of $((r_2 \cos{\theta_2}, r_2 \sin{\theta_2})$ RELATIVE TO the end of the first link. This means that the end effector is actually at:</p>

<p>$$
x = r_1 \cos{\theta_1} + r_2 \cos{\theta_2} \\
y = r_1 \sin{\theta_1} + r_2 \sin{\theta_2} \\
$$</p>

<p>In this way, you can vary $\theta_1$ and $\theta_2$ to add or subtract portions of $r_1$ and $r_2$ to achieve the desired $&lt;x,y&gt;$ positions. The third actuator sweeps that position around the y-axis to achieve the desired location in 3D space.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9015" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9015">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9015" class = 'collapse'>
			</div>
				<textarea id = "speech-9015" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9015">
					<img id="start_img-9015" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9015">Comment</button>
			<br><div id = "ans-9051"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9051" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Chuck's mathematical explanation is correct, but to provide a parallel to help illustrate the point, think about 3D FDM printers.</p>

<p>Right now, there are two main types of FDM printers: standard 'X-Y-Z' printers and "Delta" printers (pictured):</p>

<p><a href="https://i.stack.imgur.com/m9y9z.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/m9y9z.jpg" alt="Delta 3D Printer"></a></p>

<p>A Delta printer works by changing the angle of all three arms to achieve a desired position of the printing head. Mathematically, they are more complex machines to build and control than a 'typical' X-Y-Z printer. But their advantages in print volume (and sometimes quality:speed ratios) can outweigh this to the determined maker/engineer.</p>

<p>The basic principal between a delta printer and your arm is the roughly the same. The system knows it is dealing with a fixed number of levers, all at fixed lengths, and all interacting with one another. Knowing this information, it can manipulate these levers simultaneously to change the position of a single point.</p>

<p>In the case of the printer, if it raised one arm, the printer head will move towards it, and the other two will compensate to maintain the appropriate height (by lowering the necessary amount).</p>

<p>In the case of the arm, the 'bicep' will move to place the fulcrum of the 'forearm', forearm mores to place the 'wrist', and so on, and this is usually done in a single motion. Each of these joints is usually a single DoF in the system.</p>

<p>Chuck's explanation about the math for these joints is correct, but also incomplete - in that once things start moving, a lot more calculus becomes involved. You can determine a single position using the math he went over, but you couldn't really find the path between two points. Going over it would really too complex for here. If you would like to know more, I suggest picking up copies of "Engineering Mechanics Dynamics" by R.C. Hibbeler and "Control Systems Engineering" by Norman S. Nise. Tackle Hibbeler first, that will set you with a very solid understanding of mechanical dynamics. Nise is a much 'thicker' read, but control systems isn't a friendly topic to learn, and Nise does a decent job of breaking it down. Someone else here may have a better suggestion for a good control systems and feedback text to read.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9051" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9051">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9051" class = 'collapse'>
			</div>
				<textarea id = "speech-9051" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9051">
					<img id="start_img-9051" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9051">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>