<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do ultrasonic range behave with two objects at differents distance?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14074" class = "post">
			<h2>Question</h2>
			<div id="vote-14074" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 13</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do ultrasonic range behave with two objects at differents distance?</h2>
<p>If I have the following objects: A and B. A is a distance "x" from the ultrasonic sense and B is a distance "y".
If B is fix and A is moving, does the ultrasonic sense receive and detects A distance?</p>

<p><a href="https://i.stack.imgur.com/9pYAj.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/9pYAj.png" alt="Ultrasonic sense and positions of objects"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14074" data-toggle = "popover">
				<p>user name : Mauricio Pastorini</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-14074">{'None': 0, 'sensors': 0, 'ultrasonic-sensors': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14074">Load Comments</button></br>
			<div id = "commentsection-14074" class = 'collapse'>
			<div id = "comment-22934" class = "comment">
				<p>There are a number of factors that may affect this, but typically one sensor is going to *ping* off whichever obstacle is closest. You could use IR proximity sensors which are likely to have a narrower *beam*.</p>
			</div>
			<div id = "comment-22935" class = "comment">
				<p>[The answer to this related question](https://robotics.stackexchange.com/questions/2341/how-do-ultrasonic-range-finders-detect-objects-at-an-angle?rq=1) may have some helpful information for your situation.</p>
			</div>
			</div>
				<textarea id = "speech-14074" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14074">
					<img id="start_img-14074" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14074">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>