<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>how to plot $\pm 3 \sigma$ of a landmark in EKF-SLAM
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6639" class = "post">
			<h2>Question</h2>
			<div id="vote-6639" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 217</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>how to plot $\pm 3 \sigma$ of a landmark in EKF-SLAM</h2>
<p>I have implemented 2D-SLAM using EKF. The map is based-feature in which there is only one landmark for the sake of simplicity. I've read some papers regarding this matter. They plot the $\pm3\sigma$ plus the error. I would like to make sure that I'm doing the right thing. In my project, I have the estimate of the landmark's position and its true values. The true values here are the ones that the sensor measure not the ideal case. For example, the ideal case of the landmark position  is (30,60) but this value is not accessible by any means, therefore I will consider the true values the ones that are coming from the sensor. </p>

<p>Now the error in the landmark's position in x-axis is formulated as follows </p>

<p>$$
\text{error}_{x} = \hat{x} - x
$$</p>

<p>The below picture shows the error in blue color. The red color represents the error bounds which is $\pm 3 \sigma_{x}$</p>

<p>My question is now is this the way people plot the errors in the academics papers because I've seen some papers the bounds doesn't not look like mine. Even though mine decreases monotonically however in some papers it is more curved and it seems more reasonable to me. Any suggestions?</p>

<p><img src="https://i.stack.imgur.com/heEm9.png" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6639" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-6639">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6639" class = 'collapse'>
			</div>
				<textarea id = "speech-6639" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6639">
					<img id="start_img-6639" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6639">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6664"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6664" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unless I misunderstood what you're trying to show on this plot, you want to essentially plot your estimate (or, in this case, the estimation error) with its 3 standard deviation bounds.</p>

<p>What you have shown appears to be the bounds computed simply as 0 +/- 3sigma, but what you really want to plot is error +/- 3*sigma.  That is to say, the uncertainty of the estimate is centered around the estimate, not zero.  I found a random image showing how I would plot the estimate and its uncertainty bounds:</p>

<p><a href="http://2.bp.blogspot.com/_7YSZm5NIAmQ/S_wNkdp6ClI/AAAAAAAAAOU/hEYy4fWR9Rg/s1600/rw_plot.jpg" rel="nofollow">http://2.bp.blogspot.com/_7YSZm5NIAmQ/S_wNkdp6ClI/AAAAAAAAAOU/hEYy4fWR9Rg/s1600/rw_plot.jpg</a></p>

<p>Hope this makes sense.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6664" data-toggle = "popover">
				<p>user name : NickR</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-6664">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6664">Load Comments</button></br>
			<div id = "commentsection-6664" class = 'collapse'>
			<div id = "comment-9572" class = "comment">
				<p>In the following picture is what you are suggesting. http://s30.postimg.org/6e6kjpgnl/untitled.png I've tried this approach and as you see from the picture, it is not as nicely as the one you posted. This is my problem. Should I have increase the noise? It seems the sigma is way smaller than the error, this is why the error is taking the picture.</p>
			</div>
			</div>
				<textarea id = "speech-6664" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6664">
					<img id="start_img-6664" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6664">Comment</button>
			<br><div id = "ans-6666"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6666" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you are referring to is plotting the estimate with the uncertainty bounds - in particular the $3\sigma$ ($\pm3$ standard deviations) bounds which corresponds to 99.7% probability that the true state is within this region. The uncertainty bounds can be extracted from the state covariance matrix. 
I think what you are plotting is the residuals of some observation VS expected observation? In this case I think it is also applicable to use the covariance matrix of the residual observation error.</p>

<p>For how to extract the standard deviation from the covariance matrix see: 
<a href="https://stats.stackexchange.com/questions/50830/can-i-convert-a-covariance-matrix-into-uncertainties-for-variables">https://stats.stackexchange.com/questions/50830/can-i-convert-a-covariance-matrix-into-uncertainties-for-variables</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6666" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-6666">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6666">Load Comments</button></br>
			<div id = "commentsection-6666" class = 'collapse'>
			<div id = "comment-9579" class = "comment">
				<p>thanks for the link. This is what I was thinking but from the previous answer he suggested to plot error $\pm 3\sigma$ which to me makes no sense. What I did is that the bounds are $\mu_{x} \pm 3\sigma_{x}$ and the result is http://s8.postimg.org/ilx1i4kqt/untitled.png where the black is the measurements and the green is the estimate $\mu_{x}$</p>
			</div>
			</div>
				<textarea id = "speech-6666" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6666">
					<img id="start_img-6666" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6666">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>