<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How to appeal a question's status as exact duplicate?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-251" class = "post">
			<h2>Question</h2>
			<div id="vote-251" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 62</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to appeal a question's status as exact duplicate?</h2>
<p>My question was closed as an exact duplicate; however, I don't think it is, since my question addresses a more specific capability of the iOS keyboard in terms of Unicode (not just symbols).</p>

<p>So I'd like to know how, if possible, I might appeal a moderator's decision to mark it as exact duplicate? Is there a way I can contact the moderator?</p>

<p><a href="https://apple.stackexchange.com/questions/6198/how-can-i-type-or-input-unicode-characters-on-the-iphone">How can I type or input Unicode characters using a code point on the iPhone?</a></p>

			</div>
			<div id = "userinfo-251" style = "float:right">
				<p>user name : mkelley33</p>
				<p> user reputation : 635</p>
				<p> user tag wise history : {'None': 0, 'support': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-251" class = 'collapse'>
			</div>
				<textarea id = "speech-251" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-251">
					<img id="start_img-251" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-251">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-252"  class = "post">
				<h2>Answer</h2>
			<div id="vote-252" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The best way is to edit your post so that it's clear that it's not a duplicate, then flag it for moderator attention asking for us to take another look.</p>

<p>In any case, based on what you've said, I've edited your title and reopened your question.</p>
</p><br>
			</div>
			<div id = "userinfo-252" style = "float:right">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p> user tag wise history : {'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-252" class = 'collapse'>
			</div>
				<textarea id = "speech-252" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-252">
					<img id="start_img-252" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-252">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>