<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to use the opcode to start?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10106" class = "post">
			<h2>Question</h2>
			<div id="vote-10106" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 153</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to use the opcode to start?</h2>
<p>I am new to robotics.Recently came into contact code.So the teacher let me use the Serial port app for Android to enter the opcode.But the robot did not have any reaction.</p>

<hr>

<p>I use the Communications Cable with Adapter in android phone.
App Use [DroidTerm: USB Serial port]</p>

<p>Serial Port Settings
Baud: 115200   (19200 also used)
Data bits: 8
Parity: None
Stop bits: 1
Flow control: None</p>

<hr>

<p>I try to enter opcode, but no response.--> enter:128,135,134.....
But it did not show any reaction to the phone and robot.
I hope according to Opcode instructions to control robots to make the specified action.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10106" data-toggle = "popover">
				<p>user name : Y.K Hong</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-10106">{'None': 0, 'irobot-create': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10106">Load Comments</button></br>
			<div id = "commentsection-10106" class = 'collapse'>
			<div id = "comment-17987" class = "comment">
				<p>You had mentioned before the edit that you were using the "iRobot  Create  2 Open" manual. What robot are you using? Is it an iRobot Create 2?</p>
			</div>
			</div>
				<textarea id = "speech-10106" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10106">
					<img id="start_img-10106" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10106">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10113"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10113" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The robot's baud-rate may not be the default rate of 115200. Try resetting the robot (by holding dock and spot for 10 seconds, or removing the battery). This will reset the baud-rate back to 115200.</p>

<p>If that doesn't work, try connecting the robot to a computer and using RealTerm or some other serial program and send the same data.</p>

<p>Also, when sending the data bytes, make sure they are being sent as raw 'numbers' (not ASCI). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10113" data-toggle = "popover">
				<p>user name : Jonathan</p>
				<p> user reputation : 177</p>
				<p class = "tagcontent" id = "usertaginfo-10113">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10113" class = 'collapse'>
			</div>
				<textarea id = "speech-10113" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10113">
					<img id="start_img-10113" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10113">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>