<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to locate an object on a known surface
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12752" class = "post">
			<h2>Question</h2>
			<div id="vote-12752" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 55</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to locate an object on a known surface</h2>
<p>I am building a small robot on wheels. The robot will be moving at a <em>small</em> speed in a square area of known dimensions. I need to locate the robot and know its position at any given moment so I can correct its trajectory.
I can add parts to the robot, like some sort of flag or lighting object.
It's preferable not to put any border around the area, since it would limit the flexibility of the project.</p>

<p><strong>Added Info</strong></p>

<ul>
<li>The size of the robot is about 28 x 25 x 11cm. It will go on land and
the surface will be ideally flat (but since the friction between the
surface and the wheels can vary in different places, I need to know
if the robot arrived to the destination or not, and corrections need
to be done respectively). </li>
<li>I can place beacons around the field or any sort of sensors, as long as I can remove them easily and transport them.</li>
<li>The surface will be about 1.5x1.5m, depending on the range of the sensors, or the method used for localization.</li>
<li>The robot can start from a determined position.</li>
</ul>

<p><strong>Some methods</strong></p>

<p>I thought of triangulating the position using two ultrasonic sensors placed at the two edges of the field. Although I am not sure if the US sensors will provide a sufficient angle and range to cover the entire area. I am also concerned about the precision.</p>

<p>Someone pointed to me that I could use two infrared sensors placed at the two edges, and make them turn 90deg both ways and scan the area. As soon as they find something, the position of the object can be found using triangulation.
Although I still don't know if these methods work well for a moving object.</p>

<p>If you think that one of the methods that I described is the way to go, please give me more insight on how to implement it in my project.</p>

<p>Here is an illustration of the path that the robot should go along. The basic idea of the project is that the robot should sow seeds at regular intervals, for example every 10cm; this is why I need to know if the robot <em>really</em> covered 10cm after the seed before, and if it has to turn.</p>

<p>I thought of making an imaginary grid: I tell the robot the position that it has to reach, then knowing the position of the robot I can make it turn until it is pointing in the direction of the arriving point and then it covers the distance between it's position and the arriving point. </p>

<p><a href="https://i.stack.imgur.com/xB07S.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/xB07S.png" alt="enter image description here"></a></p>

<p>I am very new to robotics, therefore I would really appreciate a detailed answer.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12752" data-toggle = "popover">
				<p>user name : ashraf s.</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-12752">{'None': 0, 'wheeled-robot': 0, 'sensors': 0, 'ultrasonic-sensors': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12752">Load Comments</button></br>
			<div id = "commentsection-12752" class = 'collapse'>
			<div id = "comment-22376" class = "comment">
				<p>I provided a general answer.  For a more specific answer you are going to need to provide a lot more details about the field, the robot, and any limitations you have on the design.  Ex: How big is the field?  Is the surface will controlled (so the wheels don't slip)?  Is it bounded?  Are there any identifications and/or beacons you can track off?  Does the robot start in a know location?  How far is it expected to travel?  Do you have an unlimited budget (some senors can be pricey)? ...</p>
			</div>
			<div id = "comment-22378" class = "comment">
				<p>Thanks for the answer. You're right, I added more specific informations about the project. Also my budget is not very limited but also not very high (It's a project for highschool, I don't think I can fit 4 types of sensors on this robot).</p>
			</div>
			</div>
				<textarea id = "speech-12752" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12752">
					<img id="start_img-12752" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12752">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12758"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12758" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Robots usually locate themselves on a field using sensors.  None of the sensors are perfect as they each have their own limitations; hence, the more sensors the better.</p>

<p>Here are some sensor options:</p>

<ol>
<li>Motor Encoders on the wheels to track the distance and turns</li>
<li>IMU/Gyro to track acceleration and calculate speed and position</li>
<li>Magnetometer to correct bearings against magnetic north</li>
<li>GPS (usually for large outdoor distance)</li>
<li>Range detectors to look for walls or objects to reference off</li>
<li>Line detector (for lines or path markers on the floor)</li>
<li>Optical Surface Texture detection (like a laser mouse uses)</li>
<li>LIDAR imaging</li>
<li>Camera imaging (sometimes stereo-graphic)  

<ol start="10">
<li>Beacon detector (some fields have beacons placed on them for reference)</li>
</ol></li>
</ol>

<p>Generally the <a href="https://www.firstinspires.org/robotics/ftc" rel="nofollow noreferrer">FTC (First Technology Challenge)</a> robots that have good autonomous programs have at least four different sensor types that they use for positioning.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12758" data-toggle = "popover">
				<p>user name : markshancock</p>
				<p> user reputation : 383</p>
				<p class = "tagcontent" id = "usertaginfo-12758">{'quadcopter': 1, 'None': 15, 'rcservo': 2, 'first-robotics': 2, 'servomotor': 2, 'servos': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12758" class = 'collapse'>
			</div>
				<textarea id = "speech-12758" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12758">
					<img id="start_img-12758" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12758">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>