<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to eliminate motion blur with realtime performance
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14023" class = "post">
			<h2>Question</h2>
			<div id="vote-14023" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 36</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to eliminate motion blur with realtime performance</h2>
<p>I have a robotic system to develop, in first phase of the project I need to track an object. So I placed a geometrical marker on the object to estimate it's pose (rotation, translation). It all works fine until the target object moves a little faster and motion blur is introduced to the input images from camera. </p>

<p>So I have two options:</p>

<ul>
<li>Either deconvolve the images to remove blur before object tracking</li>
<li>OR use a camera with very high frames per second</li>
</ul>

<p>The problem is first solution is too slow for a real-time system and second option is too expensive.</p>

<p>Please tell me if there is a more efficient technique than older ones (Weiner, Lucy-Richardson, Blind Deconvolution) to remove motion blur. I believe there must be something, because mobile robot need real-time calculations from their camera inputs and motion blur is a common problem when robot or the target object is moving. </p>

<p>I'm using Python 2.7 with Opencv 3 and ROS Kinetic.</p>

<p>Otherwise let me know how many fps are sufficient to observe a human who can walk, run, fall from a distance of 10-20 ft. I can't go and buy a 400-1000 fps camera just to check the output. </p>

<p>Below are the images of some sample markers.</p>

<p>Actual Markers:
<a href="https://i.stack.imgur.com/2fK2y.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/2fK2y.png" alt="Sample Markers"></a></p>

<p>Blurred Image when Moving 
<a href="https://i.stack.imgur.com/whIqi.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/whIqi.png" alt="Blurred Markers"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14023" data-toggle = "popover">
				<p>user name : Muhammad Abdullah</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-14023">{'None': 0, 'computer-vision': 1, 'cameras': 1, 'hri': 1, 'real-time': 1, 'mobile-robot': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14023" class = 'collapse'>
			</div>
				<textarea id = "speech-14023" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14023">
					<img id="start_img-14023" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14023">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14024"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14024" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You don't need more frames per second, you need a shorter exposure time. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14024" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-14024">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14024">Load Comments</button></br>
			<div id = "commentsection-14024" class = 'collapse'>
			<div id = "comment-22872" class = "comment">
				<p>It appears that I'm unable to change exposure. I'm using a linux (Ubuntu) system with a Logitech C310 webcam. I have tried disabling auto_exposure using v4l2_ctl. 

    ```v4l2-ctl -d /dev/video0 -c exposure_auto=1```

I tried to set exposure in my python program using opencv's object ```VideoCapture```

    ```VideoCapture.set(cv2.CAP_PROP_EXPOSURE,0.01)```

but nothing changed.</p>
			</div>
			<div id = "comment-22873" class = "comment">
				<p>You probably need a new camera.</p>
			</div>
			<div id = "comment-22874" class = "comment">
				<p>OK Now I tried using v4l2_ctl from command line to set exposure and it worked perfectly. But I'm unable to set exposure using OpenCV.</p>
			</div>
			<div id = "comment-22875" class = "comment">
				<p>Hmmm. I haven't worked with this camera. Glad to here it worked!</p>
			</div>
			<div id = "comment-22876" class = "comment">
				<p>@MuhammadAbdullah - If this answer gave you the solution you needed, please accept it by clicking the check mark to the left of the answer. This marks it as closed and helps future visitors find answers faster.</p>
			</div>
			</div>
				<textarea id = "speech-14024" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14024">
					<img id="start_img-14024" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14024">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>