<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to program an Inovatic USB interface?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4958" class = "post">
			<h2>Question</h2>
			<div id="vote-4958" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 44</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to program an Inovatic USB interface?</h2>
<p>In my possession I have an <a href="http://www.inovatic-ict.com/didactic-equipment/emoro-kits-overview/emoro-usb-classic.html" rel="nofollow noreferrer">Inovatic USB Interface</a>. (In Detail: UI-8x8 v1.1 2009) I would like to program it to do some simple stuff and things. I am familiar with C# Programming but from what i have heard its not possible to program this interface with C#.</p>

<p>What it looks like:</p>

<p><a href="https://i.stack.imgur.com/ZsJAf.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZsJAfs.jpg" alt="Interface from the top"></a>
<a href="https://i.stack.imgur.com/X1OZD.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/X1OZDs.jpg" alt="The USB port on the Interface"></a>
<a href="https://i.stack.imgur.com/zbern.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/zberns.jpg" alt="The USB Cable used to connect the Interface to the computer"></a></p>

<ul>
<li>Where can I find the Drivers for this Interface?  I have checked the Inovatic website but they only have the v1.0 version of the drivers and I'm pretty sure that I need v1.1 !</li>
<li>How can i program it? What language do i use?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-4958" data-toggle = "popover">
				<p>user name : mike6715b</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-4958">{'None': 0, 'microcontroller': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4958">Load Comments</button></br>
			<div id = "commentsection-4958" class = 'collapse'>
			<div id = "comment-7704" class = "comment">
				<p>I'd imagine that contacting Inovatic directly would be the best way to get the answers you are looking for.</p>
			</div>
			<div id = "comment-7705" class = "comment">
				<p>Tried that like 2 months ago and still nothing :P</p>
			</div>
			</div>
				<textarea id = "speech-4958" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4958">
					<img id="start_img-4958" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4958">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4963"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4963" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Drivers</h2>

<p>The only link they have to download drivers is on <a href="http://www.inovatic-ict.com/didactic-equipment/download.html" rel="nofollow">their download page</a>. Unfortunately the link to the EMoRo USB drivers returns a 404 error. I have attempted to send a message to the company to let them know.</p>

<p>As for the version of the driver, the only way you'll know if the v1.0 driver will work is if you try it. Since nothing else is available at the moment, you should try working with the driver you have and see if you have any problems relating to that.</p>

<h2>Programming Tools</h2>

<p>According to the page you linked in your question:</p>

<blockquote>
  <p>The kit is designed for users who wish to program the robot with a flowchart or in the Basic programming language... Advanced users can program the robot in Bascom-AVR or AVR C and they can build their own autonomous robot. </p>
</blockquote>

<p>So you can either use their flow-chart programming environment, you can use Bascom-AVR (which is BASIC for AVR microcontrollers), or you can program it in C. It looks like Inovatic's <a href="http://www.inovatic-ict.com/didactic-equipment/download.html" rel="nofollow">download page</a> has IDEs and compilers available to download for free to use any of these options.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4963" data-toggle = "popover">
				<p>user name : Justin T Conroy</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-4963">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4963">Load Comments</button></br>
			<div id = "commentsection-4963" class = 'collapse'>
			<div id = "comment-7718" class = "comment">
				<p>First of all, thank you for your answer! About the drivers, i was able to download the drivers (and still have them on my PC) but when i install them they dont work.</p>
			</div>
			<div id = "comment-7727" class = "comment">
				<p>What do you mean by "don't work"? As in, you can't upload code to it? Does windows say something about driver installation failing? What do you see in the device manager when you plug this device into your computer (assuming you're using windows)?</p>
			</div>
			<div id = "comment-7731" class = "comment">
				<p>When i connect it to the compute it detects it but dosent have drivers for it and when windows tries to download drivers it fails because it can't find them. When i installed the v1.0 Drivers form Inovatics website they didn't work either!</p>
			</div>
			</div>
				<textarea id = "speech-4963" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4963">
					<img id="start_img-4963" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4963">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>