<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to find kinematics of differential drive caster robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8911" class = "post">
			<h2>Question</h2>
			<div id="vote-8911" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1081</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to find kinematics of differential drive caster robot?</h2>
<p>I'm working on a little project where I have to do some simulations on a small robot.</p>

<p>I my case I'm using a differential-drive robot as one of the wheels of a bigger robot platform (which has two differential-drive casters), and I really do not understand how to find its kinematics in order to describe it in a model for finding the speed <strong>V_tot</strong> of the platform.</p>

<p><a href="https://i.stack.imgur.com/uBhDr.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uBhDr.png" alt="enter image description here"></a></p>

<p>This is my robot and I know the following parameters</p>

<ul>
<li><strong>d</strong> is the distance between a joint where my robot is costrained</li>
<li><strong>blue point</strong> is the joint where the robot is linked to the robot platform</li>
<li><strong>L</strong> is distance between the wheels</li>
<li><strong>r</strong> the radius of the wheel</li>
<li>the robot can spin around the <strong>blue point</strong> and with and <strong>THETA</strong> angle</li>
</ul>

<p>As I know all this dimensions, I would like to apply two velocities <strong>V_left</strong> and <strong>V_right</strong> in order to move the robot.</p>

<p>Let's assume that <strong>V_left</strong> = <strong>- V_right</strong> how do I find analitically the ICR (Istantaneous Center of Rotation) in this costrained robot?</p>

<p>I mean that I cannot understand how to introduce <strong>d</strong> in the formula.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8911" data-toggle = "popover">
				<p>user name : starScream</p>
				<p> user reputation : 28</p>
				<p class = "tagcontent" id = "usertaginfo-8911">{'control': 4, 'None': 0, 'two-wheeled': 1, 'arduino': 4, 'wheeled-robot': 1, 'brushless-motor': 4, 'differential-drive': 1, 'kinematics': 1, 'motor': 4, 'mobile-robot': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8911" class = 'collapse'>
			</div>
				<textarea id = "speech-8911" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8911">
					<img id="start_img-8911" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8911">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8914"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8914" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, if it is truly a caster wheel with two differential drives, then I'd just assume that the castor is not a constraint at all! </p>

<p><a href="https://i.stack.imgur.com/JkgeV.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/JkgeV.jpg" alt="enter image description here"></a></p>

<p>It's a freely rotating wheel that should just follow the direction of motion induced by rotating the differential wheels. In that case, you can use <a href="https://robotics.stackexchange.com/a/1679/163">this answer</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8914" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-8914">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8914" class = 'collapse'>
			</div>
				<textarea id = "speech-8914" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8914">
					<img id="start_img-8914" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8914">Comment</button>
			<br><div id = "ans-8915"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8915" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you assume pure kinematics (no slipping) your ICR must be where the two wheel axis cross, or for the degenerate case where they are colinear, then somewhere along the line.   </p>

<p>If you use a dynamic approach, you'll need to estimate mass distribution and ground friction but you'll get a model that's easier to work with.   </p>

<p>You'll get better answers if you draw the full diagram with both sub-units and the connecting link, if there is one.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8915" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8915">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8915" class = 'collapse'>
			</div>
				<textarea id = "speech-8915" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8915">
					<img id="start_img-8915" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8915">Comment</button>
			<br><div id = "ans-8920"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8920" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Kinematics of mobile robots</strong></p>

<p><a href="https://i.stack.imgur.com/SjQrN.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/SjQrN.png" alt="enter image description here"></a></p>

<p>For the figure on the left:</p>

<ol>
<li>I = Inertial frame;</li>
<li>R = Robot frame;</li>
<li>S = Steering frame;</li>
<li>W = Wheel frame;</li>
<li>$\beta$ = Steering angle;</li>
</ol>

<p>For the figure on the right:</p>

<ol>
<li>L = Distance between the wheels;</li>
<li>r = radious of the wheel;</li>
</ol>

<p>Now we can derive some useful equations.</p>

<ol>
<li>Kinematics:</li>
</ol>

<p>$\hspace{2.5em}$ $\vec{v}_{IW} = \vec{v}_{IR} + \vec{\omega}_{IR} \times \vec{r}_{RS}$</p>

<p>If we express the equation above in the wheel frame:</p>

<p>$\hspace{2.5em}$ $\begin{bmatrix} 0 \\ r\dot{\varphi} \\ 0 \end{bmatrix} = R(\alpha+\beta)R(\theta)\begin{bmatrix} \dot{x} \\ \dot{y} \\ \dot{\theta} \end{bmatrix} + \begin{bmatrix} 0 &amp; -\dot{\theta} &amp; 0 \\ \dot{\theta} &amp; 0 &amp; 0 &amp; \\ 0 &amp; 0 &amp; 0 \end{bmatrix}\begin{bmatrix} lcos(\beta) \\ -lsin(\beta) \\ 0 \end{bmatrix}$</p>

<p>We obtain the rolling-constraint and the no-sliding constraint respectively:</p>

<p>$\hspace{2.5em}$ $[-sin(\alpha+\beta)\hspace{1.0em}cos(\alpha+beta)\hspace{1.0em}lcos(\beta)]\dot{\xi}_{R} = \dot{\varphi}r$</p>

<p>$\hspace{2.5em}$ $[cos(\alpha+\beta)\hspace{1.0em}sin(\alpha+beta)\hspace{1.0em}lsin(\beta)]\dot{\xi}_{R} = 0$</p>

<p>where $\dot{\xi}_{R} = [\dot{x_{R}}\hspace{1.0em}\dot{y_{R}}\hspace{1.0em}\dot{\theta}]^{T}$</p>

<p>Now we need to apply each of this constraints in the differential wheels</p>

<ul>
<li>For the left wheel: $\alpha = -\frac{\pi}{2}$, $\beta = 0$, $l = -\frac{L}{2}$</li>
<li>For the right wheel: $\alpha = -\frac{\pi}{2}$, $\beta = 0$, $l = \frac{L}{2}$</li>
<li>Stacked equation of motion:</li>
</ul>

<p>$\hspace{2.5em}$ $\begin{bmatrix} 1 &amp; 0 &amp; \frac{L}{2} \\ 1 &amp; 0 &amp; -\frac{L}{2} &amp; \\ 0 &amp; -1 &amp; 0 \\ 0 &amp; -1 &amp; 0 \end{bmatrix}\dot{\xi}_{R} = \begin{bmatrix} r &amp; 0\\ 0 &amp; r \\ 0 &amp; 0 \\ 0 &amp; 0 \end{bmatrix}\begin{bmatrix} \dot{\varphi}_{r} \\ \dot{\varphi}_{l} \end{bmatrix} $</p>

<p>$\hspace{2.5em}$ $A\dot{\xi}_{R} = B\dot{\varphi} $</p>

<p>For the forward kinematic solution, just do:</p>

<p>$\hspace{2.5em}$ $\dot{\xi}_{R} = \big( A^{T}A \big)^{-1}A^{T}B\dot{\varphi} $</p>

<p>which yields:</p>

<p>$\hspace{2.5em}$ $\begin{bmatrix} \dot{x} \\ \dot{y} \\ \dot{\theta} \end{bmatrix} = \begin{bmatrix} \frac{r}{2} &amp; -\frac{r}{2} \\ 0 &amp; 0 \\ \frac{r}{L} &amp; -\frac{r}{L} \end{bmatrix} \begin{bmatrix} \dot{\varphi}_{r} \\ \dot{\varphi}_{l} \end{bmatrix}$</p>

<p>An excellent chapter that I suggest <a href="http://www.cs.cmu.edu/~rasc/Download/AMRobots3.pdf" rel="nofollow noreferrer">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8920" data-toggle = "popover">
				<p>user name : leCrazyEngineer</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-8920">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8920">Load Comments</button></br>
			<div id = "commentsection-8920" class = 'collapse'>
			<div id = "comment-14701" class = "comment">
				<p>Great answer. Have you reproduced the many other differential drive kinematics questions? I'm not sure if that's a good or bad thing.</p>
			</div>
			<div id = "comment-14703" class = "comment">
				<p>No, I didn't. This month I am learning some new stuff for a project. Which differential kinematics would you be interested?</p>
			</div>
			<div id = "comment-14705" class = "comment">
				<p>I'm saying that information is already available on the site.</p>
			</div>
			<div id = "comment-14712" class = "comment">
				<p>I just made a point with the central parts. That's why the book chapter is referenced, for you to dig a little more.</p>
			</div>
			</div>
				<textarea id = "speech-8920" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8920">
					<img id="start_img-8920" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8920">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>