<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How can a user review a suggested edit without having access to the suggested edit review queue?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2060" class = "post">
			<h2>Question</h2>
			<div id="vote-2060" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can a user review a suggested edit without having access to the suggested edit review queue?</h2>
<p>How is it that a <a href="https://apple.stackexchange.com/help/badges/94/custodian?userid=75812">new user with 1 reputation has a badge for reviewing suggested edits</a> and when I go to review, I see "You need at least 2k reputation to review suggested edits."</p>

			</div>
			<div id = "userinfo-2060" style = "float:right">
				<p>user name : dwightk</p>
				<p> user reputation : 3117</p>
				<p> user tag wise history : {'None': 30, 'flagging': 3, 'support': 11, 'review-page': 4, 'closed-questions': 1, 'reputation': 4, 'feature-request': 7, 'questions': 1, 'bounty': 0, 'best-practices': 3, 'voting': 3, 'discussion': 14, 'badges': 2, 'migration': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2060">Load Comments</button></br>
			<div id = "commentsection-2060" class = 'collapse'>
			<div id = "comment-3944" class = "comment">
				<p>He earned it for this: http://apple.stackexchange.com/review/suggested-edits/59018</p>
			</div>
			<div id = "comment-3945" class = "comment">
				<p>huh, I think I've had my own questions edited by others and never got the chance to review them.</p>
			</div>
			<div id = "comment-3953" class = "comment">
				<p>Suggested edits are usually cleared and approved very fast.  I rarely get to approve edits on my own posts, as they are usually well cleared before I have time to get to them.  You will have had the chance, you may not have had time to use the opportunity tho.</p>
			</div>
			</div>
				<textarea id = "speech-2060" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2060">
					<img id="start_img-2060" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2060">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2061"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2061" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are always allowed to review pending suggested edits on your own posts. In this case, the user reviewed one of your edits to their question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/review/suggested-edits/59018">https://apple.stackexchange.com/review/suggested-edits/59018</a></li>
</ul>

<p>The user will have received a notification like this in their inbox notifying them that their post has got a pending suggested edit:</p>

<p><img src="https://i.stack.imgur.com/jw0H9.png" width="373"></p>

<p>Clicking this item in their inbox goes to the suggested edit queue where the suggested edit is shown in the same way that any other reviewer may review the edit. They may approve or reject the edit and have a binding vote similar to a diamond moderator's binding vote.</p>

<p>As shown in the review history, the user who reviewed it has the blue background on their username indicating that they are the post owner and therefore have the authority to have a binding vote on the suggested edit.</p>

<p><img src="https://i.stack.imgur.com/xrMS0.png" width="324"></p>

<p>The suggested edit can still be reviewed by others in the meantime </p>

<ul>
<li><p>If the suggested edit is approved by someone with access to the suggested edit review queue before they have the chance to review it themselves, they receive a normal inbox notification informing them that their post has been edited. This is the same notification that a user receives if someone with >2k edits their post normally.</p>

<p><img src="https://i.stack.imgur.com/o1a86.png" width="374"></p></li>
<li><p>If the suggested edit is rejected before they review it, they do not receive any further notifications.</p></li>
</ul>

<p>The user does not have access to the suggested edit queue outside of any pending suggested edits on their own posts. Once they have exhausted all the pending suggested edits they will be informed that the suggested edit queue requires 2k reputation   the same message a user without the reputation to review posts in the suggested edit queue and without any pending suggested edits.</p>

<p>Even though the user is the post owner and does not have access to the review queue, their approval or rejection of the suggested edit is still shown normally in the suggested edit review queue history, both in the suggested edit queue history (available at 10k) </p>

<p><img src="https://i.stack.imgur.com/vv1of.png"></p>

<p> and in the suggested edit history in the mod tools </p>

<p><img src="https://i.stack.imgur.com/Pp9E0.png" width="473"></p>
</p><br>
			</div>
			<div id = "userinfo-2061" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2061">Load Comments</button></br>
			<div id = "commentsection-2061" class = 'collapse'>
			<div id = "comment-3946" class = "comment">
				<p>do you get to review it only until it is accepted by others? Or perhaps I just haven't had a post edited and I thought I did.</p>
			</div>
			<div id = "comment-3947" class = "comment">
				<p>@dwightk Yes, it works in exactly the same way as normal reviews</p>
			</div>
			<div id = "comment-3948" class = "comment">
				<p>If someone else accepts it, it's removed from the review queue and you just get notified of the change.</p>
			</div>
			<div id = "comment-3949" class = "comment">
				<p>cool, thanks for clearing that up for me</p>
			</div>
			</div>
				<textarea id = "speech-2061" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2061">
					<img id="start_img-2061" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2061">Comment</button>
			<br><div id = "ans-2062"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2062" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>He earned the badge for <a href="https://apple.stackexchange.com/review/suggested-edits/59018">reviewing and accepting a suggested, pending edit</a> on his own question.</p>

<p>According to <a href="https://meta.stackexchange.com/questions/76251/how-do-suggested-edits-work">How do suggested edits work?</a>:</p>

<blockquote>
  <h2>Who can vote on a suggested edit?</h2>
  
  <ul>
  <li>The owner of a post may cast a binding vote to accept or reject any modification of their post.</li>
  </ul>
</blockquote>
</p><br>
			</div>
			<div id = "userinfo-2062" style = "float:right">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p> user tag wise history : {'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2062" class = 'collapse'>
			</div>
				<textarea id = "speech-2062" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2062">
					<img id="start_img-2062" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2062">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>