<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I interface my CMOS camera module to an Arduino?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2147" class = "post">
			<h2>Question</h2>
			<div id="vote-2147" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 12412</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I interface my CMOS camera module to an Arduino?</h2>
<p>I am totally new to the camera interface and usage in an Embedded project, and would like to use a CMOS vision sensor <a href="https://www.sparkfun.com/products/8667" rel="nofollow">like this</a>.This project further will be used to power a small robot with on-board video processing power using processors like ARM 9.</p>

<p>I do have a limitation that until now I have worked only on 8-bit micro-controllers like the atmega 8, 16, 32 and on the Arduino platform. I think that for better processing we can use Arduino Due.</p>

<p>With the data sheet for the CMOS camera above, we can build its breakout board. But what next? I haven't I found any useful resources while searching. All I need to do is to capture a small video and store it in a SD card.</p>

<p>I have seen <a href="http://www.cmucam.org/projects/cmucam1/wiki/Wiki" rel="nofollow">these links</a> but they haven't proved to be very useful as they don't provide me the required form factor. I am looking to interface this module to a customized board.</p>

<p>So what so I need to understand about what commands they accept for their proper functioning like starting to take video and posting them out on a output pin.</p>

<p>If we get a video on a output pin, to which pin should I take that output to on my controller, i.e. on UART or I2C or SPI?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2147" data-toggle = "popover">
				<p>user name : shailendra</p>
				<p> user reputation : 82</p>
				<p class = "tagcontent" id = "usertaginfo-2147">{'None': 2, 'computer-vision': 2, 'cameras': 2, 'arduino': 11, 'communication': 6, 'microcontroller': 5, 'c': 8, 'serial': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2147">Load Comments</button></br>
			<div id = "commentsection-2147" class = 'collapse'>
			<div id = "comment-4268" class = "comment">
				<p>Sorry @shailendra, I tried, but as it stands it's clear that your question is off-topic on *robotics* and not a sufficiently practical question to be suitable to migrate to [electronics](http://electronics.stackexchange.com/questions/tagged/arduino).</p>
			</div>
			<div id = "comment-4282" class = "comment">
				<p>@MarkBooth: I don't know how you are taking it as of the topic.Why can't we use a vision based robot that simply capture a video, store it in SC card and keep on uploading it to the remote server for future analyzation or alternatively why we can't use it for video processing if we are using a processor like ARM9?</p>
			</div>
			<div id = "comment-4284" class = "comment">
				<p>As it says in the close reason "Questions on **electronics**, **Arduino** or, **Raspberry Pi** which are **not specific to robotics** are off-topic". Your question doesn't even mention robotics other than giving it the [tag:computer-vision] tag, it looks like a question on how to get video from a camera. If you can make the question [on topic](http://robotics.stackexchange.com/help/on-topic) for Robotics, I'll happily re-open it.</p>
			</div>
			</div>
				<textarea id = "speech-2147" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2147">
					<img id="start_img-2147" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2147">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2161"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2161" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"All I need to do".... Famous last words. This is a very complicated project to attempt for multiple reasons. I'll try to break down these challenges. For documentation, the datasheet has all the information that you need, but there is probably not any code available that is ready to use. Sparkfun has recently introduced a 'degree of difficulty' rating for parts, and from what I can discern just using the camera is beyond your current skill level. This doesn't mean you can't do the project, but you will be learning a lot along the way :)</p>

<p>To break this project down, you have a few challenges. First, you have a I2C <em>control</em> interface, and a <em>parallel</em> data output. There are a few other pins, such as the various power supplies required and the CLK, Hsync, and Vsync pins. The I/O connections aren't too complicated, but there are two different power supply domains (1.5V and 2.8V that you need <em>in addition to</em> your Arduino supply.</p>

<p>Once you have the circuit connected electrically, then you need to implement the camera control codes. This will allow you to at least set the resolution and FPS on the camera, and probably control when the camera captures images.</p>

<p>Then you need to transfer the image data from the camera to your microcontroller. This is done as parallel data transferred one byte at a time, and the entire sensor is row/column scanned to output the image as raw data. This means that you need at least as much RAM as the resolution of the image you are receiving. Also, the minimum transfer rate listed in the datasheet is basically 12 MBytes / sec, which is probably difficult to implement with a regular Arduino. The RAM required per frame ranges from 7MByte for full resolution, down to 
25kByte for the subQCIF resolution. </p>

<p>Once you have an image in memory, then you need to encode each frame into some video format because even at the lowest bitrate you will be recording 370kByte/sec as a raw data. Video encoding is probably very difficult to do on an Arduino (or without a video encoding library and/or core). Encoding will require additional RAM on the device, and will vary depending on the codec you use.</p>

<p>Once you have encoded the video into some format, you will need to transfer it to the SD card. Again, video takes a lot of bandwidth, and it is unlikely that an Arduino will be able to interface with a SD card in a way that will provide enough bandwidth for transferring video in real-time. (AFAIK, most Arduinos access SD cards through the SPI interface - this will be very slow compared to what you need).</p>

<p>All in all, there are a lot of challenges to recording video from a raw sensor. They aren't insurmountable, but they are significant.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2161" data-toggle = "popover">
				<p>user name : W5VO</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-2161">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2161">Load Comments</button></br>
			<div id = "commentsection-2161" class = 'collapse'>
			<div id = "comment-4266" class = "comment">
				<p>"All I need to do"....these words do come when some one is really lame in a field.This might be totally a new thing for me to do.This might take some time to implement like 1-2 month for me.It is like project for me.Also is it feasible to do it on other platforms?</p>
			</div>
			<div id = "comment-13047" class = "comment">
				<p>@shailendra: If you step up to an ARM board with wide community support like for example the Raspberry Pi is, the task you want to do will be many times easier while the expenses will still be in tenths of $s (while RPi is only a bit more expensive then the various Arduino boards). RPi has all you need - quite powerful ARM CPU, enough RAM onboard, SD-card slot and a compatible camera module that can record Full-HD video easily.</p>
			</div>
			</div>
				<textarea id = "speech-2161" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2161">
					<img id="start_img-2161" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2161">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>