<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How computationally powerful is an Arduino Uno board?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-535" class = "post">
			<h2>Question</h2>
			<div id="vote-535" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 8810</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How computationally powerful is an Arduino Uno board?</h2>
<p>What can an Arduino board such as the Uno really do? Of course simple things like controlling a couple servos is very easy for it. However, I don't think an Uno board would be able to preform real-time 3D SLAM from point cloud data gathered from a Kinect sensor on a mobile robot, right? If the robot had any speed at all the Arduino wouldn't be able to keep up, correct? Could it do 2D SLAM while moving and be able to keep up? What about taking 1/10 of the points from the Kinect sensor and processing only those?</p>

<p>Basically, what are some examples of the resource limitations of such an Arduino board?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-535" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-535">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-535" class = 'collapse'>
			</div>
				<textarea id = "speech-535" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-535">
					<img id="start_img-535" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-535">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-536"  class = "post">
				<h2>Answer</h2>
			<div id="vote-536" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It depends - on the number of landmarks in the feature map, and how much time you're willing to invest tuning the algorithm for speed, and a number other parameters which you may or may not be able to control for a given application.</p>

<p><strong>Edit:</strong> As a <em>thought experiment</em>, I think it would <em>theoretically</em> be powerful enough to do extremely simple near-real-time SLAM in a very contrived environment, such as the center of a gym floor with a few cones set out.  It could take a single scan line from the Kinect and update a low-resolution, 2D internal map, updating periodically (say every 10 seconds).</p>

<p>The Uno's 2K RAM would probably be a deal breaker, but the Mega might have enough (8K) and there is <a href="http://hackaday.com/2011/09/05/upgrading-ram-in-an-arduino-mega/">hack</a> for upgrading it to 520K.</p>

<p>In practice, doing floating point matrix calculations on an 8-bit processor is not a good idea.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-536" data-toggle = "popover">
				<p>user name : Ima Dirty Troll</p>
				<p> user reputation : 234</p>
				<p class = "tagcontent" id = "usertaginfo-536">{'untagged': 2, 'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-536">Load Comments</button></br>
			<div id = "commentsection-536" class = 'collapse'>
			<div id = "comment-632" class = "comment">
				<p>Ok, so you're saying that even attempting 2D SLAM with the Arduino is a going to be a bit difficult. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-536" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-536">
					<img id="start_img-536" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-536">Comment</button>
			<br><div id = "ans-538"  class = "post">
				<h2>Answer</h2>
			<div id="vote-538" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The <a href="http://avrprogrammers.com/doc-atmega8-atmega328.php" rel="nofollow">raw specs on the Arduino's microcontrollers</a> list clock speeds as high as 16 or 20 MHz -- around the speed of an mid-1990s Intel 386 computer.  </p>

<p>That sounds promising, until you consider the fact that it doesn't natively support floating point math -- the "<a href="http://en.wikipedia.org/wiki/FLOPS" rel="nofollow">FLOPS</a>" measurement by which most CPUs are compared.  I've seen some arduino demos that calculate the speed of the Arduino at about 60 kFLOPS, whereas the Intel 386 at 20 MHz does something like 170 kFLOPS (according to <a href="http://www.obsolyte.com/sunFAQ/faq_hardware/hwref1.html" rel="nofollow">this page</a>).</p>

<p>Also, it should be noted that the Arduino does 8-bit math and the 386 is doing 16-bit and 32-bit math.  A DSP board might be more suited to that kind of data acquisition, but I'm in no position to advise there.</p>

<p>Getting that code to work in such a constrained environment as the Arduino might be possible, but it will take a lot of optimization.  You'd be better served by using a more powerful CPU to implement those algorithms; make sure that they work on the powerful CPU, <em>then</em> attempt to optimize for the weak CPU.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-538" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-538">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-538">Load Comments</button></br>
			<div id = "commentsection-538" class = 'collapse'>
			<div id = "comment-633" class = "comment">
				<p>But you have to remember, the Apple II had a 6502 (8-bit, 1MHz)and 16K RAM.  AppleSoft BASIC was floating point, and its "killer app" was VisiCalc [link](http://bit.ly/dc75CA).  You can do quite a lot with limited hardware, when that's all you've got.  (and the whole industry is behind it)</p>
			</div>
			<div id = "comment-4626" class = "comment">
				<p>You are comparing a microcontroller with a microprocessor. 386 does not have a six channel PWM hardware generator, a ADC, an analog comparator, its two devices meant to two different works. Also if someone needs high float-point throughput they will use a probably a unit with FPU, but I made much projects that don't needed float-point, and in some cases this is a question of optimization. The ATMega goes nearly 20MIPS at 20Mhz while the 386 goes 9.9 MIPS at 33 MHz.</p>
			</div>
			<div id = "comment-4642" class = "comment">
				<p>This question is about SLAM, so FLOPS is the only relevant metric to use in comparing these 2 processing units.</p>
			</div>
			</div>
				<textarea id = "speech-538" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-538">
					<img id="start_img-538" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-538">Comment</button>
			<br><div id = "ans-546"  class = "post">
				<h2>Answer</h2>
			<div id="vote-546" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's true that the Arduino is started to look underpowered now that people are by Raspberry Pis, but I think it depends more on the application. I like the arduino because the code is really easy to write, it's really easy to flash new code, and really easy to hook up new sensors. I wouldn't use it for a vision application like kinect or webcam stuff, but it can do a whole lot more than talking to servos. A good example would be a segway type application; the arduino is ideal for talking to accelerometer sensors, doing some 3D spatial math, and then talking to servos to keep things balanced.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-546" data-toggle = "popover">
				<p>user name : LoveMeSomeCode</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-546">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-546">Load Comments</button></br>
			<div id = "commentsection-546" class = 'collapse'>
			<div id = "comment-681" class = "comment">
				<p>I think it's important here to compare apples to apples here and compare the Uno's ATMega chip to other microcontrollers. The 700MHz ARM in the Raspberry Pi is an orange. That being said, the ARM Cortex-M3 chips in the Arduino Due/LeafLabs Maple and the PIC32 chips in Digilent chipKIT boards etc all completely blow the Uno out of the water computationally with the same programming environment.</p>
			</div>
			</div>
				<textarea id = "speech-546" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-546">
					<img id="start_img-546" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-546">Comment</button>
			<br><div id = "ans-552"  class = "post">
				<h2>Answer</h2>
			<div id="vote-552" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Arduino has always been horifically underpowered.</p>

<p>You can get a <em>stack</em> of stm discovery or other ARM based dev board for the price of a single arduino, and each one of those boards will be orders of magnitude more powerful than the arduino.</p>

<p>The ubiquity of the arduino has also hampered many projects that should have known better.  Quadrotor stabilization and Reprap style g-code execution are two major areas where the arduino has been forced well beyond its capabilities and it shows. (The ardrupilot project needs <em>three</em> arduinos.)</p>

<p>Hopefully the teensy/due/leaflabs stuff will help make ARM development more friendly.  Many of the newer/better projects such as smoothie, openpilot etc have also made the jump.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-552" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-552">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-552">Load Comments</button></br>
			<div id = "commentsection-552" class = 'collapse'>
			<div id = "comment-643" class = "comment">
				<p>Agreed, without a doubt! I bought a simple robotic arm at an old electronic store, vintage 1980. The controller has 19MHz, compare to Arduino's 16, and 3X the RAM! From 1980! The sad thing is, people respond to the allure of the tiny blue board. Arduino is alot like Java - cool for what it is, but underpowered and overused beyond any reason.</p>
			</div>
			<div id = "comment-9966" class = "comment">
				<p>@Chris, In all fairness, I doubt that robotic arm cost only $24 in 1980 (it's hard even today to find one that cheap that's not complete junk). I also doubt it had a huge community users and enormous library of free software available for it. There's more to the value of hardware than just it's clock speed and memory. Lot's of products have failed because they were overpriced while underused, even if they were technically superior.</p>
			</div>
			</div>
				<textarea id = "speech-552" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-552">
					<img id="start_img-552" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-552">Comment</button>
			<br><div id = "ans-557"  class = "post">
				<h2>Answer</h2>
			<div id="vote-557" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For the price of an Arduino Uno, or less, a recent alternative is the <a href="http://www.ti.com/ww/en/launchpad/stellaris_head.html?DCMP=stellaris-launchpad&amp;HQS=stellaris-launchpad-b" rel="nofollow">TI Stellaris Launchpad</a> at $12.99 (including world-wide FedEx): Arm Cortex M4 with an excellent built-in library set called StellarisWare that resides on ROM - so your Flash and RAM remain free for application use.</p>

<p>Massively higher computational power than the Arduino Uno, but so far without the ubiquitous community participation that Arduino has garnered.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-557" data-toggle = "popover">
				<p>user name : Anindo Ghosh</p>
				<p> user reputation : 339</p>
				<p class = "tagcontent" id = "usertaginfo-557">{'mobile-robot': 11, 'None': 15, 'servos': 3, 'stepper-motor': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-557" class = 'collapse'>
			</div>
				<textarea id = "speech-557" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-557">
					<img id="start_img-557" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-557">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>