<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to provide power to a robot~raspberry pi?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6437" class = "post">
			<h2>Question</h2>
			<div id="vote-6437" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1349</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to provide power to a robot~raspberry pi?</h2>
<p>I'm building a robot and powering it with a Raspberry Pi. I am looking at <a href="http://www.adafruit.com/products/1566" rel="nofollow">this battery pack</a>, but I am flexible with which one to use.</p>

<p>My problem is that I need to be able to charge the robot while it is still on, and apparently that is not good for a single battery pack to be charging while being used (they seemed to say so in the video). Am I wrong? Otherwise, how could I go about charging the robot while keeping the Raspberry Pi running?</p>

<p><strong>EDIT</strong>: This is my first robot (other than my lego NXT kit), so I don't have any prior experience with robot batteries.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6437" data-toggle = "popover">
				<p>user name : FlyingPiMonster</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-6437">{'battery': 2, 'mobile-robot': 2, 'None': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6437">Load Comments</button></br>
			<div id = "commentsection-6437" class = 'collapse'>
			<div id = "comment-9296" class = "comment">
				<p>How do you plan to charge a mobile robot.like manually plugging the micro usb.</p>
			</div>
			<div id = "comment-9298" class = "comment">
				<p>@HarpreetSingh I'm planning on plugging the battery pack into a wall outlet.</p>
			</div>
			<div id = "comment-9299" class = "comment">
				<p>I don't think a usb battery pack would be best way.I think you should use a nimh, lipo, lithium ion any battery and use diode to switch between the two while charging one of them with a smart charger.</p>
			</div>
			</div>
				<textarea id = "speech-6437" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6437">
					<img id="start_img-6437" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6437">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6438"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6438" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have an idea i used before.I got nimh battery around 7.2v. I used a usb module regulator that takes raw regulated or unregulated voltage and converts into 5v upto 3a <a href="http://rads.stackoverflow.com/amzn/click/B00M2NH1H8" rel="nofollow">usb port</a> I then charged it with constant current that was parallel with the battery and USB module via high power solar panels.</p>

<p>I will update this as I get more Information.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6438" data-toggle = "popover">
				<p>user name : Harpreet Singh</p>
				<p> user reputation : 68</p>
				<p class = "tagcontent" id = "usertaginfo-6438">{'mobile-robot': 1, 'None': 6, 'localization': 1, 'arduino': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6438" class = 'collapse'>
			</div>
				<textarea id = "speech-6438" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6438">
					<img id="start_img-6438" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6438">Comment</button>
			<br><div id = "ans-6444"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6444" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.adafruit.com/products/1944" rel="nofollow">This</a> appears to be exactly what I need. It is a chargeable PowerBoost. It can charge a LiIon or LiPoly battery while it is being used to run a raspberry pi. I can then add several of these circuits to keep multiple things running. (So a powerboost for the pi, one for the servo controller, one for each powered USB hub, etc.) I can charge them using a power strip.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6444" data-toggle = "popover">
				<p>user name : FlyingPiMonster</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-6444">{'battery': 2, 'mobile-robot': 2, 'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6444" class = 'collapse'>
			</div>
				<textarea id = "speech-6444" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6444">
					<img id="start_img-6444" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6444">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>