<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How feasible is the idea of operating a robotic arm in a non-sophisticated way?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6721" class = "post">
			<h2>Question</h2>
			<div id="vote-6721" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 287</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How feasible is the idea of operating a robotic arm in a non-sophisticated way?</h2>
<p><img src="https://i.stack.imgur.com/cpwJd.png" alt="enter image description here">I and my team have to design a robot using an arduino chip. The objective of the robot is to grab golf balls at a set of golf pins at different heights and pre-defined locations. We couldn't figure out a possible mechanism that could collect the balls and drop them into the trailer except for a robot arm. However, we don't have experience and time in designing a sophisticated system for the arm like recognizing where the ball is and then grabbing it accordingly. What would a feasible option be compared to a non-sophisticated  robot arm?</p>

<p>Note:The robot must be autonomous.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6721" data-toggle = "popover">
				<p>user name : Alp</p>
				<p> user reputation : 5</p>
				<p class = "tagcontent" id = "usertaginfo-6721">{'control': 0, 'None': 0, 'arduino': 0, 'robotic-arm': 0, 'sensors': 0, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6721">Load Comments</button></br>
			<div id = "commentsection-6721" class = 'collapse'>
			<div id = "comment-9648" class = "comment">
				<p>Do you have any requirement to where to put the balls afterward (as can the trailer be anywhere) ? From my understanding of the problem, you don't need to actually "find" the balls, you know their location. Would a kind of three axis XYZ mechanism that just push them in the trailer work for you ?</p>
			</div>
			<div id = "comment-9649" class = "comment">
				<p>Yes that would work! Does that mean I need to precisely tune the angles at which the servos in the arm will rotate and then pick them up. That could work if we can get the robot to the exact location.</p>
			</div>
			<div id = "comment-9667" class = "comment">
				<p>Do you have a link to the requirements specification?</p>
			</div>
			<div id = "comment-9672" class = "comment">
				<p>http://www.ncedaust.org/index.php?select=151</p>
			</div>
			</div>
				<textarea id = "speech-6721" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6721">
					<img id="start_img-6721" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6721">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6722"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6722" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Possible options, </p>

<ol>
<li>Use image processing, with opencv you can detect object make the arm to hold the object</li>
<li>If you are very good in electronics, make this ball to emit RF signal, the strength of signal will increase as we go close to ball, use this info to track ball. You can refer radio transmitter and receiver circuits.  </li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6722" data-toggle = "popover">
				<p>user name : Renjith</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-6722">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6722">Load Comments</button></br>
			<div id = "commentsection-6722" class = 'collapse'>
			<div id = "comment-9642" class = "comment">
				<p>Unfortunately, we can't manipulate the balls in any way. We don't have a lot of experience in electronics too. This is what happens when you asked a group of aerospace and mechanical engineering students to design a robot. I'll look at opencv though. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-6722" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6722">
					<img id="start_img-6722" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6722">Comment</button>
			<br><div id = "ans-6729"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6729" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>The platform</h1>

<p>When I hear </p>

<ul>
<li>Easy to do</li>
<li>Quick and dirty</li>
</ul>

<p>I always think of a <a href="https://en.wikipedia.org/wiki/Cartesian_coordinate_robot" rel="nofollow noreferrer">Cartesian robot</a> or a <a href="https://duckduckgo.com/?q=cartesian%20robot&amp;iax=1&amp;ia=images" rel="nofollow noreferrer">three axis XYZ mechanism</a>.</p>

<p>But <em>why</em> would you want to use this instead of a more <strong>human</strong> robot arm ?</p>

<p>Multiple reasons : </p>

<ul>
<li>Way easier to control : Cartesian is somehow more intuitive that cylindrical coordinate systems. You will not have has much math involved and the development time is going to be that quicker.</li>
<li>Easier to make. </li>
<li>Very effective. Cartesian robots were once the norm and they still are widely use, there is a reason for that</li>
</ul>

<p>Using an arduino to control a Cartesian robot is probably going to be more straightforward and easy to make than a robot arm. </p>

<p>In case you still want to use an arm, you should start checking out <a href="https://en.wikipedia.org/wiki/Denavit%E2%80%93Hartenberg_parameters" rel="nofollow noreferrer">Denavit-Hartenberg parameters</a>. Here is <a href="http://drstienecker.com/tech-332/8-kinematics-of-industrial-robots/" rel="nofollow noreferrer">a pretty good explanation</a> about them. You can still apply it to a Cartesian robot if you just want to expand your knowledge and understand this. After all, it's only a convention.</p>

<h1>Now that we have a likely platform lets dive into your problem.</h1>

<p>You want to pick up balls and put them in a trailer. Since you <em>don't have to</em> do any recognition work (you know all the balls locations) it's one thing off of your shoulders. You only want the robot to go to precise locations, on after the other and do its job.</p>

<p>Thus the positions should be hard coded. Or you could simple give a file with different position as an argument. </p>

<p>Then, depending on what is the support for the balls (a shelve ? just lying on the floor on the floor ?) you could either grab them with <a href="https://duckduckgo.com/?q=une+pince&amp;iax=1&amp;ia=images" rel="nofollow noreferrer">a clip</a> (sorry for giving you an image there : Google translate told me the word is <em>a clip</em> but I'm unsure that's the good word) <strong>or</strong>, push them of a table to fall into a trailer <strong>or</strong> use a suction cup... It's time to get creative ;) !</p>

<p>[<strong>EDIT</strong> already]</p>

<p>I just though about something else that you could do if the balls are on the floor. Why not a mobile base that rolls around and pick up the balls ? That's another feasible cheap possibility. And there is plenty of documentation on this :).</p>

<p>I saw your <a href="https://robotics.stackexchange.com/questions/6715/is-it-possible-for-a-robot-to-navigate-through-predefined-coordinates">other question</a> as well so I'm going to comment the answer there to give you my guess on how to do the actual movement from one point to another.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6729" data-toggle = "popover">
				<p>user name : Malcolm</p>
				<p> user reputation : 393</p>
				<p class = "tagcontent" id = "usertaginfo-6729">{'communication': 1, 'None': 24, 'serial': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6729" class = 'collapse'>
			</div>
				<textarea id = "speech-6729" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6729">
					<img id="start_img-6729" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6729">Comment</button>
			<br><div id = "ans-6732"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6732" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can you use something like a leaf rake shape to just pick up all the balls, or even a clam shell of leaf rake type 'hands' once you have the general location? </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6732" data-toggle = "popover">
				<p>user name : Frank</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-6732">{'None': 8, 'design': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6732">Load Comments</button></br>
			<div id = "commentsection-6732" class = 'collapse'>
			<div id = "comment-9659" class = "comment">
				<p>I had a similar idea. I'm going to build a sliding platform on top of the chassis. This platform will slide all the way back of the balls and then buckle orthogonality. The platform will then retract. If I cut appropriate holes on the platform it will push the balls onto the ground through the pins. The platform will merge with the trailer. I'm going to pull the tip of the trailer with a servo so all the balls will go into the funnel.</p>
			</div>
			<div id = "comment-9660" class = "comment">
				<p>Can you describe the objectives more?  Are the balls resting on pins? Are the pins made to hinder movement of the balls?  Is the object to collect the most balls? Collect all? Avoid losing any? Are they close together? In a maze?</p>
			</div>
			<div id = "comment-9661" class = "comment">
				<p>I've just uploaded the track. I need to collect as many balls as possible to get a good score and then transfer them into one of the holes. Smaller the hole, the more points you get. Also there is a time limit of 2 minutes. The pins are stuck in the platform.</p>
			</div>
			</div>
				<textarea id = "speech-6732" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6732">
					<img id="start_img-6732" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6732">Comment</button>
			<br><div id = "ans-7197"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7197" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While I still like the rake idea, parallel slots wider than the support pegs, I worry it would push the pink ball instead of retrieve it. </p>

<p>My second thought is a simple suction device that retrieves the balls and drops them into a funnel in the bot. Though there might be concerns with the mass of a golf ball.</p>

<p>Collect all 6 without worrying about the fencing. 
Travel to the smallest hole, open the gate on the funnel and let them pour. </p>

<p>Sensors: 
Golf ball detection to direct the suction. (Chroma?Known Ball Color, Shape?Round, Dead Reckoning?Known positions)</p>

<p>Finding the target hole, positioning the funnel output over the hole
Fall back to a lower value hold if timer is running too low. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7197" data-toggle = "popover">
				<p>user name : Frank</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-7197">{'None': 8, 'design': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7197" class = 'collapse'>
			</div>
				<textarea id = "speech-7197" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7197">
					<img id="start_img-7197" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7197">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>