<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to control the position of a pneumatic piston?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1775" class = "post">
			<h2>Question</h2>
			<div id="vote-1775" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2341</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to control the position of a pneumatic piston?</h2>
<p>How can I control the position of a <strong>pneumatic</strong> piston?</p>

<p>The only way I know about is using a magnetic reed switch (magnetic sensor) with a matching piston and use some type of control algorithm, like PID for instance, to keep the piston where the sensor is.</p>

<p>The problem with that is that it gives you only limited control of the position, it just adds another "state" (open, closed, sensor position) and not full control. for example I want it to be 43% once and 70% the other time, but without using a sensor for each position because I would like all the "options" to be available (I mean that the percentages aren't pre-defined)</p>

<p>This is an example of the pistons I use:</p>

<p><img src="https://i.stack.imgur.com/Lm29K.jpg" alt="piston"></p>

<p>This is a good example of what I want: <a href="http://www.youtube.com/watch?v=A8LZ15uiuXU" rel="nofollow noreferrer">http://www.youtube.com/watch?v=A8LZ15uiuXU</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1775" data-toggle = "popover">
				<p>user name : Dan Barzilay</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-1775">{'quadcopter': 8, 'control': 1, 'None': 0, 'power': 1, 'arduino': 1, 'pid': 7, 'logic-control': 0, 'motor': 2, 'real-time': 6, 'sensors': 1, 'movement': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1775">Load Comments</button></br>
			<div id = "commentsection-1775" class = 'collapse'>
			<div id = "comment-3671" class = "comment">
				<p>Perhaps add more context.  Is it driving a fixed load, or variable?  Also, is your air supply pressure constant or variable?  Clean environment, or dirty?  What's the maximum frequency you need?</p>
			</div>
			<div id = "comment-3672" class = "comment">
				<p>@jwpat7 This is a general question, I may use it for multiple applications, sometimes fixed and some variable. Also, I usually control the piston with a solenoid, does this mean that it is a constant air supply pressure? And about the frequency, the best the better.</p>
			</div>
			<div id = "comment-3674" class = "comment">
				<p>In the comments under the video they mention that the piston has a builtin sensing resistor.</p>
			</div>
			<div id = "comment-3675" class = "comment">
				<p>@cube you are correct, but my piston does not have a built-in feedback sensor, so my question is how can I still get that functionality.</p>
			</div>
			<div id = "comment-3679" class = "comment">
				<p>Hi @Dan, welcome to *robotics*. As it stands, your question is too broad. Such general questions are a poor fit as a stack exchange question, it would be much easier for us to answer if we did have the details *jwpat7* is asking for. A generalised answer is very simple, if you want precise position control you need a proportional actuator and a proportional position sensor and you tie them together with closed loop control, but such a generalised answer isn't very useful. I would start your research with a google search on [pneumatic servos](https://www.google.co.uk/search?q=pneumatic+servos).</p>
			</div>
			</div>
				<textarea id = "speech-1775" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1775">
					<img id="start_img-1775" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1775">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1779"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1779" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You probably could attach an optical encoder strip to the piston, maybe even paint the piston rod with some reflecting / non reflecting paint.
Or you could attach a modified digital caliper to it, using something similar to this: <a href="http://hackaday.com/2013/06/20/giving-digital-calipers-bluetooth/" rel="nofollow">http://hackaday.com/2013/06/20/giving-digital-calipers-bluetooth/</a> .</p>

<p>I have never done anything like this, so I don't really know if it would work in reality :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1779" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-1779">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1779">Load Comments</button></br>
			<div id = "commentsection-1779" class = 'collapse'>
			<div id = "comment-3677" class = "comment">
				<p>+1 for the very creative idea with the caliper :)</p>
			</div>
			<div id = "comment-3678" class = "comment">
				<p>The only problem is that with all these solutions, the piston moves fast and has only 2 states.. (extended\retracted) and the question really is how to stop a piston at a certain point and how to slow its action down (because it extends\retracts very fast, probably damaging the load if stopped spontaneously), while you answered how to detect its position instead of how to control its position. Thanks for answering anyway and I hope you understand :)</p>
			</div>
			<div id = "comment-3683" class = "comment">
				<p>@Dan: Your comment contradicts your stated method for controlling the piston.  The piston doesn't have just two states -- it just moves from stop to stop very quickly.  You need to wrap it with a controller that reacts significantly faster than it moves: whether you do that by restricting the air supply to slow down the piston, or speeding up the controller (and actuator) is another layer of problem.</p>
			</div>
			</div>
				<textarea id = "speech-1779" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1779">
					<img id="start_img-1779" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1779">Comment</button>
			<br><div id = "ans-1784"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1784" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To control the position of a piston, you need -- at the very least -- a position sensor and an actuated valve.  </p>

<p>In reality, you will encounter a few other effects that will complicate the simple PID algorithm you're attempting.  </p>

<ol>
<li><p>Depending on how many pistons you're driving, or how much airflow your piston takes, you may find that the available air pressure fluctuates.  If your valve can achieve a range of positions (not just open or closed), this changes the relationship between valve position and the resulting pneumatic force.</p></li>
<li><p>The system may exhibit negative damping for a variety of reasons.  For a good explanation, see <a href="http://projecthexapod.com/blog/battling-subtle-negative-damping/" rel="nofollow">this page about a robot experiencing negative damping, and how to fix it</a>.  (This might also be a solution to your problem of the actuator moving too fast.)</p></li>
</ol>

<p>There is no simple answer; these systems are complicated and require testing every step of the way.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1784" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1784">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1784" class = 'collapse'>
			</div>
				<textarea id = "speech-1784" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1784">
					<img id="start_img-1784" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1784">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>