<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I integrate a smart phone with my robotics project?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-213" class = "post">
			<h2>Question</h2>
			<div id="vote-213" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">21</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 5274</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I integrate a smart phone with my robotics project?</h2>
<p>Smart phones these days typically come with a gyroscope, accelerometer, compass, camera, and GPS sensor all on board. They also usually have a connection to the internet with Wifi and mobile data networks. I've seen many cases of using a phone as a remote control for a robot, but to me, it seems like the phone itself is a perfect lightweight computing and sensing platform for an autonomous robot.</p>

<p>The main obstacle I see is interfacing with actuators. Being able to control motors to steer even a table-top robot, or control servos, for example. Connecting and communicating to a microcontroller could be an obstacle as well. </p>

<p>As a robot hobbyist, I'd like to know how I can overcome these and other obstacles to be able to harness the power of my smart phone with my robotics projects.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-213" data-toggle = "popover">
				<p>user name : Robz</p>
				<p> user reputation : 954</p>
				<p class = "tagcontent" id = "usertaginfo-213">{'pid': 8, 'embedded-systems': 0, 'slam': 20, 'sensor-error': 8, 'accelerometer': 5, 'kinematics': 7, 'mechanism': 1, 'differential-drive': 8, 'imu': 12, 'kalman-filter': 28, 'actuator': 21, 'gyroscope': 5, 'gps': 20, 'magnetometer': 5, 'None': 25, 'noise': 5, 'power': 0, 'localization': 20, 'microcontroller': 0, 'brushless-motor': 13, 'sensors': 41, 'quadcopter': 13, 'navigation': 7, 'sensor-fusion': 21, 'sonar': 8, 'servos': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-213">Load Comments</button></br>
			<div id = "commentsection-213" class = 'collapse'>
			<div id = "comment-9611" class = "comment">
				<p>Just to add an iOS option, see SESO [iPhone as a robot controller](http://stackoverflow.com/questions/2025676/iphone-as-a-robot-controller)</p>
			</div>
			</div>
				<textarea id = "speech-213" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-213">
					<img id="start_img-213" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-213">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-214"  class = "post">
				<h2>Answer</h2>
			<div id="vote-214" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The main problem as I see it isn't really interfacing with actuators-- if you have a good way to wirelessly transfer digital (even better would be analog, or a channel good enough to do PWM) signals, you can just interface that with a motor driver chip (e.g. L293D) and be good to go. For servos, you need good response time so that you can handle the pulses. If you have a PWM-capable channel, this shouldn't be hard as the channel has a high baud already. If you have a slow channel, servos may not be possible since you require accurate pulse timing.</p>

<p>The first option I see (though it's rather bulky) is to take a Raspberry Pi, connect it via ethernet to a wireless router, and connect the phone to the same wirelessly. Now just write a basic app for your phone that sends requests  to the Pi based on  input, and write another server like app for the Pi that handles these. Might be bulky and somewhat hard, but it's quite extensible, IMO. You can also put the router offboard and stick <a href="http://wolfpaulus.com/journal/embedded/raspberrypi_wifi">this</a> into the Pi (or use hotspot and eliminate the router entirely).</p>

<p>Another option is to use a bluetooth controller like the one shown <a href="http://blog.sigfpe.com/2011/02/build-yourself-bluetooth-controlled-six.html">here</a>. I've not used this before, but it looks like you'll still need a microcontroller to handle this. I guess you can connect its RX/TX pins directly to the TX/RX on an arduino, though I'm not too sure of this.</p>

<p>If you've used XBee/ZigBee before, you may want to try out the <a href="http://www.seeedstudio.com/wiki/Bluetooth_Bee">bluetooth bee</a>.</p>

<p>A final option is to use the phone USB port with a conventional wireless control setup (XBee/whatever)--but this will require one to write drivers and all.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-214" data-toggle = "popover">
				<p>user name : Manishearth</p>
				<p> user reputation : 1068</p>
				<p class = "tagcontent" id = "usertaginfo-214">{'underwater': 30, 'None': 53, 'protection': 64, 'motor': 64, 'auv': 30, 'actuator': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-214" class = 'collapse'>
			</div>
				<textarea id = "speech-214" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-214">
					<img id="start_img-214" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-214">Comment</button>
			<br><div id = "ans-217"  class = "post">
				<h2>Answer</h2>
			<div id="vote-217" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, the lack of GPIO pins on smartphones is a shame. If you already have ROS running on the robot you could use <a href="https://play.google.com/store/apps/details?id=org.ros.android.sensors_driver&amp;hl=da">this app</a> on an Android phone to get access to the sensor suite on the phone.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-217" data-toggle = "popover">
				<p>user name : Nis</p>
				<p> user reputation : 302</p>
				<p class = "tagcontent" id = "usertaginfo-217">{'None': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-217" class = 'collapse'>
			</div>
				<textarea id = "speech-217" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-217">
					<img id="start_img-217" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-217">Comment</button>
			<br><div id = "ans-223"  class = "post">
				<h2>Answer</h2>
			<div id="vote-223" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The <a href="https://developer.android.com/tools/adk/adk2.html" rel="nofollow noreferrer">Android Accessory Development Kit (ADK)</a> should do everything you need.</p>

<p><img src="https://www.xda-developers.com/wp-content/uploads/2012/05/hardwaresoftware.jpg?f39ce1" alt="ADK"></p>

<p>It's an Arduino board that is specifically designed to interact with Android. You can connect the two over Bluetooth or USB (or WiFi/Ethernet, I think).</p>

<p>Since the whole architecture is open, you can use each part for what it's best at. You write the Android code to get data from the phone's built-in sensors and control the display. And you write the Arduino code to control actuators, servo's and other sensors that phone's don't come. The code to communicate between the two is provided open source via Google.</p>

<p>From the <a href="http://arduino.cc/blog/2011/05/10/google-launches-android-open-accessory-development-kit-based-on-arduino/" rel="nofollow noreferrer">Arduino Blog</a>:</p>

<blockquote>
  <p>The Android Open Accessory Development Kit (ADK) provides an
  implementation of an Android USB accessory that is based on the
  Arduino open source electronics prototyping platform, the accessory s
  hardware design files, code that implements the accessory s firmware,
  and the Android application that interacts with the accessory. The
  hardware design files and code are contained in the ADK package
  download.</p>
</blockquote>

<p>Most of the examples are designed around using the phone as a graphical interface for some sort of hardware accessory like a clock. But there's no reason you couldn't access the phone's sensors as well and pass data back and forth.</p>

<p>Adafruit even mentions using it to make robots on their <a href="https://www.adafruit.com/products/563" rel="nofollow noreferrer">store's page</a> for the ADK:</p>

<blockquote>
  <p>Fast track your Android phone hardware development or just design
  <strong>cell-phone robots</strong> with the Arduino ADK! The Arduino ADK is a
  microcontroller board based on the powerful ATmega2560 (datasheet). It
  has a USB host interface to connect with Android based phones, and a
  power supply boost converter to charge up the phone from DC power
  while its plugged into the ADK</p>
</blockquote>

<p><em>(emphasis mine)</em></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-223" data-toggle = "popover">
				<p>user name : embedded.kyle</p>
				<p> user reputation : 1469</p>
				<p class = "tagcontent" id = "usertaginfo-223">{'None': 124}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-223" class = 'collapse'>
			</div>
				<textarea id = "speech-223" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-223">
					<img id="start_img-223" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-223">Comment</button>
			<br><div id = "ans-258"  class = "post">
				<h2>Answer</h2>
			<div id="vote-258" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Another option is the <a href="https://www.sparkfun.com/products/11343" rel="nofollow noreferrer">IOIO-OTG board</a>:</p>

<p><a href="https://www.sparkfun.com/products/11343" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Kqz3W.jpg" alt="IOIO-OTG board"></a></p>

<p>The <a href="https://www.sparkfun.com/products/11343" rel="nofollow noreferrer">Sparkfun product description</a> describes its functionality:</p>

<blockquote>
  <p>It features a PIC microcontroller which acts like a bridge that connects an app on your PC or Android device to low-level peripherals like GPIO, PWM, ADC, I2C, SPI, and UART. An app-level library helps you write control code for these low level peripherals in the same way you'd write any other Java app!</p>
</blockquote>

<p>This board should do everything you wish and it even has a <a href="http://www.sparkfun.com/tutorials/280" rel="nofollow noreferrer">nice tutorial</a> to help you get started.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-258" data-toggle = "popover">
				<p>user name : brnd4n</p>
				<p> user reputation : 301</p>
				<p class = "tagcontent" id = "usertaginfo-258">{'None': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-258" class = 'collapse'>
			</div>
				<textarea id = "speech-258" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-258">
					<img id="start_img-258" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-258">Comment</button>
			<br><div id = "ans-310"  class = "post">
				<h2>Answer</h2>
			<div id="vote-310" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Many recent Android devices, such as the Nexus 7, support USB On The Go (OTG) which is a fancy way of saying that 'USB Host Mode' is supported.  In these cases, with the right cable which can be had for less than $1, any compatible USB device can be used.  You don't need a specialty version of the Arduino that has hardware for USB Host mode.</p>

<p>I've experimented with this enough to know that a 'normal' Arduino such as the Leonardo or Teensy 2 appears to an Android phone as a TTY (e.g. serial port) device when connected with an OTG cable.</p>

<p><a href="http://android.serverbox.ch/?p=549" rel="nofollow">This article</a> goes into depth on how to use the Android USB Host API to communicate to the Arduino from an Android app.  It requires Android 3.1+ and does not require you to root the device.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-310" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-310">{'None': 68}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-310" class = 'collapse'>
			</div>
				<textarea id = "speech-310" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-310">
					<img id="start_img-310" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-310">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>