<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to use SLAM with simple sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8432" class = "post">
			<h2>Question</h2>
			<div id="vote-8432" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 648</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to use SLAM with simple sensors</h2>
<p>What 2D SLAM implementations (preferably included in ROS) can be used with simple distance sensors like IR or ultrasonic rangefinders?</p>

<p>I have a small mobile platform equipped with three forward facing ultrasonic sensors (positioned at 45 degrees, straight ahead, and -45 degrees), as well as a 6-DOF accel/gryo and wheel encoders, and I'd like to use this to play around with a "toy" SLAM implementation. I don't want to waste money on a Kinect, much less a commercial laser rangefinder, so methods that require high-density laser measurements aren't applicable.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8432" data-toggle = "popover">
				<p>user name : Cerin</p>
				<p> user reputation : 152</p>
				<p class = "tagcontent" id = "usertaginfo-8432">{'magnetometer': 0, 'None': 0, 'force': 1, 'motor': 1, 'simulator': 2, 'battery': 1, 'bec': 0, 'cameras': 2, 'torque': 1, 'design': 1, 'mechanism': 0, 'slam': 3, 'rangefinder': 2, 'beagle-bone': 1, 'compass': 0, 'mobile-robot': 1, 'sensors': 3, 'ros': 3, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8432" class = 'collapse'>
			</div>
				<textarea id = "speech-8432" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8432">
					<img id="start_img-8432" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8432">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8433"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8433" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The actual implementation of SLAM won't care about whether you are using high fidelity laser range finders or cheaper ultrasonic sensors. Both are providing range measurements with the biggest difference being the uncertainty. Of course ultrasonic sensors work on different principles so there is more to it than that, but both are providing range measurements so you could swap between either one and much of your SLAM algorithm won't change.</p>

<p>The biggest challenge will likely be identifying landmarks or features in the environment that will form the map. With a Kinect or sweeping laser scanner you can pick out and track features relatively easily. However, with only 3 ultrasonic sensors whose field of view is rather wide and are subject to echoes and other complications, you will have a hard time recognizing objects or features in the environment.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8433" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8433">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8433" class = 'collapse'>
			</div>
				<textarea id = "speech-8433" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8433">
					<img id="start_img-8433" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8433">Comment</button>
			<br><div id = "ans-11347"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11347" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use single ultrassonic sensor with DOF mechanism &amp; try use arduino board,
create a node for gmapping use ultrasonic simple arduino code swap the variable in gmapping node code. Once you get distance it would easy for you to publish these variable of a network you can use as you want.</p>

<p>The most difficult task is swapping variable in arduino code. You must use your programming skills for swapping these variable.</p>

<p>One thing I'm not sure about rate of "distance variable", it would be sufficient or not for gmaaping. Maybe by using laser sensor rate of distance variable is higher.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11347" data-toggle = "popover">
				<p>user name : tech_sid</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11347">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11347" class = 'collapse'>
			</div>
				<textarea id = "speech-11347" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11347">
					<img id="start_img-11347" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11347">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>