<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I replace acceleration in the dynamic model of the robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5229" class = "post">
			<h2>Question</h2>
			<div id="vote-5229" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I replace acceleration in the dynamic model of the robot?</h2>
<p>In the dynamic model of the robot, it is obvious that we found the torques as functions of the angular acceleration of the joint as well as the linear acceleration of the link center of mass along the three axies.</p>

<p>My question is regarding the values of these accelerations. In general, step motors specifications do not give the acceleration.</p>

<p>Thank you</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5229" data-toggle = "popover">
				<p>user name : Yacine Bougrinat</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-5229">{'None': 0, 'torque': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5229" class = 'collapse'>
			</div>
				<textarea id = "speech-5229" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5229">
					<img id="start_img-5229" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5229">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5237"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5237" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Probably I'm missing your point, but the fundamental dynamics equation of a manipulator describes physical relations among quantities irrespective of the particular electronics/mechanics running underneath.</p>

<p>If there is a rotating shaft with a joint mounted on it then there is always an acceleration. In a stepper, velocity and acceleration might be significantly discontinuous due to the nature of the actuation, but they can be still computed/measured/estimated.</p>

<p>This harsh behavior of such fundamental dynamic quantities is one of the reasons why DC motors (+ circuitry) are preferable over steppers, with the cost of higher expense.</p>

<p>Moreover, to complete the reply, a stepper is usually employed in a open-loop configuration, which motivates its cost effective choice. Therefore, if the datasheet does not provide the user with a model of how the stepper will accelerate/decelerate under some given input conditions, then we are somehow forced to measure with a dedicated equipment what is happening at the joint side (e.g. see this <a href="http://link.springer.com/content/pdf/10.1007%2Fs40435-014-0093-6.pdf" rel="nofollow">paper</a>) to be able to retrieve information about the ongoing dynamics. Clearly, this goes against the initial idea of cost saving and in this respect other solutions are more effective, as previously said.</p>

<p>Further, it is well known that feed-forward models themselves are inaccurate description of the reality, thus feedback is always required, especially in dynamics context.</p>

<p>To conclude, my opinion is that steppers in a open-loop scheme are inadequate for dynamics control.</p>

<p>By the way, here's recapped for your convenience the model of the stepper: <a href="http://it.mathworks.com/help/physmod/elec/ref/steppermotor.html" rel="nofollow">link</a>. You have a matlab block for that you could employ to experiment; the model is the same cited in the paper above. In principle, if you find estimates for all those electrical and mechanical quantities, you can consider going open-loop.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5237" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-5237">{'None': 99}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5237" class = 'collapse'>
			</div>
				<textarea id = "speech-5237" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5237">
					<img id="start_img-5237" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5237">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>