<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I tell if a servo motor is capable of being controlled degree by degree?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7903" class = "post">
			<h2>Question</h2>
			<div id="vote-7903" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 83</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I tell if a servo motor is capable of being controlled degree by degree?</h2>
<p>I want to create a rotating control mechanism that can turn a surface to face any direction in a sphere. My dad (an electrical engineer) said I can probably do it by connecting two servo motors together. </p>

<p>I am looking for a servo motor that can do what I want to do, which is moving the sphere with decent precision (within ~1 degree) but I don't know which kinds of motors are able to handle such precision. </p>

<p>Another challenge is that one servo will have to hold the second servo on top. As I understand it, the torque rating determines the maximum amount of force the servo can exert on its load so I can figure out if the servo is strong enough through some math?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7903" data-toggle = "popover">
				<p>user name : Tony</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7903">{'control': 2, 'None': 0, 'servos': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7903">Load Comments</button></br>
			<div id = "commentsection-7903" class = 'collapse'>
			<div id = "comment-11525" class = "comment">
				<p>Please explain in more detail what this surface is supposed to do.</p>
			</div>
			</div>
				<textarea id = "speech-7903" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7903">
					<img id="start_img-7903" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7903">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7905"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7905" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I had a very similar problem. I searched several days in internet without success and then I took a wrong decision. I took a "normal" PWM (pulse width modulation) servo and it was extremely imprecise. The position results were not exactly reproducible. Additionally these cheap servos always rotate with the maximum speed which is mostly unuseful.</p>

<p>After my project was already finished with the wrong servos I knew that the servos which I need really DO exist. Why didn't I know of them before ?</p>

<p>I tell you the secret: Use Dynamixel.
I use the AX-12A which runs at 12V and does precise positioning and allows also to control the speed. And if this would not be enough it also returns to you the current position from 0 to 300 degree! I don't know of any other servo which has this functionality.</p>

<p>Download the detailed datasheet and read it.</p>

<p>P.D. There is no problem to put one servo on top of the other. You can even put three servos on each other to move in the 3 directions. A short plastic bracket (very hard) to mount one servo directly on top of another comes with the servo, also the screws. You can also order longer brackets of metal.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7905" data-toggle = "popover">
				<p>user name : Elmue</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-7905">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7905">Load Comments</button></br>
			<div id = "commentsection-7905" class = 'collapse'>
			<div id = "comment-11527" class = "comment">
				<p>[Hitech servos can do this](http://robosavvy.com/Builders/i-Bot/HSR8498HB%20Servo.pdf) for example.</p>
			</div>
			<div id = "comment-11528" class = "comment">
				<p>I tested Hitech servos (HS485)  and they are of very poor quality. They are NOT precise and they do NOT return the exact position to you. They are far away from Dynamixel servos in quality, precision, and durability.</p>
			</div>
			<div id = "comment-11529" class = "comment">
				<p>...and price and weight (both half of the AX-12A) The HS485 is an analog sports servo with plastic gear. That's comparing apples and oranges. I've seen a few hitech servos die. I am aware of their limitations, but I still think it really depends on the application, which we do not know much about yet.</p>
			</div>
			<div id = "comment-11530" class = "comment">
				<p>Yes, but don't forget what was the question here. The question was not the price. If one wants precision he has to pay more, that is obvious. And so expensive are the Dynamixels not. In contrary: for the quality they offer they are extremely cheap. But coming back to the question: The HS485 is definitely NOT the servo that lets you control the position "degree be degree". It is VERY imprecise.</p>
			</div>
			</div>
				<textarea id = "speech-7905" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7905">
					<img id="start_img-7905" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7905">Comment</button>
			<br><div id = "ans-7908"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7908" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The measurement you're looking for is called "resolution" -- it will tell you how many positions the motor can be in.  One way to calculate this is based on the number of bits returned by the <a href="https://en.wikipedia.org/wiki/Rotary_encoder" rel="nofollow">encoder</a> (or <a href="https://en.wikipedia.org/wiki/Resolver_%28electrical%29" rel="nofollow">resolver</a>).   <a href="https://nikhiljgeorge.wordpress.com/2012/08/24/70/" rel="nofollow">This page has a great introduction to servo motors</a>, including this bit on resolution:</p>

<blockquote>
  <p><strong>Resolution</strong>   this is a measure of the smallest angular movement that the motor can be commanded to make. This is pretty crucial [...]. However, things get quite tricky here, because most hobbys servo motors do not provide their angular resolution ratings   this can be quite infuriating, as servos will be rated as  super accurate , but nothing more. Resolution is also confusing because in reality there are two resolutions at play here   the <em>Servo Controller Resolution</em> and the <em>Servo Motor Resolution</em>. </p>
  
  <p>The Servo Controller Resolution is the smallest change to pulse width that the servo controller can make. If the exact pulse width is specified to your servo controller, by a 16 bit number, you should be able to specify $2^{16}$ distinct pulse widths. If the servo motor that you have, has a rotation range of 180  the controller should be able to command it to move to one of $2^{16}$ positions, giving you an angular resolution of 0.003 . </p>
  
  <p>However in reality, because of the physical design of hobby servos, the servo motor resolution is much coarser than that. Depending on the motor, you should be able to get between 0.5  to 0.3  (an exception is the MX-28 which has a resolution of 0.088 ). I.e. it would take a few step changes in the pulse width, before the change in pulse width got large enough for the hobby servo motor to actually detect it and move. Like a bunch of other properties, it turns out that resolution depends on the load that you are trying to move   at larger loads, the resolution of the motor could drop off (though you may be able to counter this by operating the motor at higher voltages   provided you stay within the rated motor voltages).</p>
</blockquote>

<p>Depending on the type of servo, the presence of a gear system might work in your favor.  If it takes multiple turns of the motor to get one turn of the output shaft, you will have gained resolution and torque (at the expense of angular velocity).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7908" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7908">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7908" class = 'collapse'>
			</div>
				<textarea id = "speech-7908" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7908">
					<img id="start_img-7908" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7908">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>