<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to know the payload of the chassis from its motors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9654" class = "post">
			<h2>Question</h2>
			<div id="vote-9654" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 49</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to know the payload of the chassis from its motors?</h2>
<p>I'm doing a mobile robot project with robotic arms, I wanted to buy a chassis for my robot that can carry enough weight, but many websites don't give definitive answers about maximum payload.</p>

<p>Is there is a way to figure this out just by knowing details about the motors?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9654" data-toggle = "popover">
				<p>user name : O2M</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-9654">{'mobile-robot': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9654" class = 'collapse'>
			</div>
				<textarea id = "speech-9654" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9654">
					<img id="start_img-9654" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9654">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9655"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9655" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If I told you my truck has 200 horsepower, could you tell me the cargo weight capacity?  Not really.   There are more factors than just the motor specs that play into your assessment.   You might be able to ball-park it, but be prepared to be off by a factor of 2 or more.   Here's why...</p>

<ol>
<li><p>A motor needs current to produce torque.   The available power supply current comes into play. </p></li>
<li><p>Total power available depends on both current and voltage.   If you run your motor at a higher voltage (without saturating the back iron) you will have more power available for a given current.  </p></li>
<li><p>Every motor has a torque <em>vs</em> speed inverse relationship.   How fast you want the device to go affects how much torque each motor can generate.  </p></li>
<li><p>The gear trains (or other transmission) and frictional losses also affect the capability to operate at given torque and speed. </p></li>
</ol>

<p>You can use the ratings of the motors to get you in the ballpark.   They can tell you the maximum power available to be transmitted to the device.   However, the other factors play more than a nominal role.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9655" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9655">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9655">Load Comments</button></br>
			<div id = "commentsection-9655" class = 'collapse'>
			<div id = "comment-17129" class = "comment">
				<p>I would add, kind of conversely, that if I told you my Honda Civic had 500 horsepower, could you tell me how much I could tow? In this example the engine is (extremely) oversized, to the point that it could permanently damage the frame if you actually tried to use the full power of the engine to tow. The weight of the chassis itself will count towards the total carrying capacity of the motors, but the *design* of that chassis may be such that it's not actually capable of maxing out the motor. I could make a truck bed out of glass. OP's case is probably plastic, but you get the idea.</p>
			</div>
			<div id = "comment-17132" class = "comment">
				<p>the problem that the sellers don't provide technical information about the motors, only the torque and dimensions of vehicle. One more question, if I didn't send data/values to the motors to move, is the vehicle still can move due or it's in break state.. (e.g. for example if the robotic arm moved in a way made some pressure on the vehicle, would it move easily ?) ?</p>
			</div>
			</div>
				<textarea id = "speech-9655" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9655">
					<img id="start_img-9655" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9655">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>