<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to go on designing the water thruster system for water surface vehicle?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12637" class = "post">
			<h2>Question</h2>
			<div id="vote-12637" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 23</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to go on designing the water thruster system for water surface vehicle?</h2>
<p>I am an electronics student so I am new to this sort of mechanical stuff. Any help will be appreciated.I am building a water surface vehicle. I am facing a problem/challenge on how to make it move in water. What I have is dys 1100kv brushless motor as shown below and a 2200 mah 25 C lipo battery.
<a href="https://i.stack.imgur.com/qFWtz.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/qFWtz.jpg" alt="motor with propellor"></a></p>

<p><a href="https://i.stack.imgur.com/0YHCj.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/0YHCj.jpg" alt="boat"></a></p>

<p>So I have following questions for you :</p>

<ol>
<li>How to choose the kv rating for brushless motor? (I choose 1100kv motor because I have read somewhere lower kv rating give more torque and I thought I will require more torque as it has to run in water)</li>
<li><p>It seems to me the propeller (the green one) as shown above are not good for generating thrust in water(although they through enough air outside). I looked online and found these propellers. Don't know if I need something like this?
<a href="https://i.stack.imgur.com/1qROA.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/1qROA.jpg" alt="enter image description here"></a></p></li>
<li><p>Also do I need to enclose the propellers inside a cylinder like this? Why they use this type of enclosing? Does it concentrate the thrust in one direction?
<a href="https://i.stack.imgur.com/Q3a9i.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Q3a9i.jpg" alt="enter image description here"></a></p></li>
<li>How to choose the size of propellers? Do their size effect torque and current consumption?</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-12637" data-toggle = "popover">
				<p>user name : user82453</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-12637">{'brushless-motor': 0, 'mobile-robot': 3, 'None': 0, 'motor': 3, 'underwater': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12637" class = 'collapse'>
			</div>
				<textarea id = "speech-12637" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12637">
					<img id="start_img-12637" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12637">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>