<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to balance a flying quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-768" class = "post">
			<h2>Question</h2>
			<div id="vote-768" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4394</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to balance a flying quadcopter?</h2>
<p>I'm using my own code to create a quadcopter robot. The hardware part is done but I need to balance the copter. </p>

<p><sup>The original video demonstrating the problem was shared via dropbox and is no longer available.
</sup></p>

<p>I have tried to play with the speed of each motor to get it balanced. It didn't go. 
I actually have a gyro and accelerometer onboard. But how shall I adjust the motor speed based on these values? What are the rules that I should beware of?</p>

<p>Is there any better solution other that try and error? Where shall I begin? Any tips? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-768" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-768">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-768">Load Comments</button></br>
			<div id = "commentsection-768" class = 'collapse'>
			<div id = "comment-22296" class = "comment">
				<p>The video link appears to have died...</p>
			</div>
			<div id = "comment-22297" class = "comment">
				<p>This is why I don't like links to private videos hosted on dropbox @Greenonline. At least if it had been uploaded to youtube, it would most likely still be available.</p>
			</div>
			</div>
				<textarea id = "speech-768" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-768">
					<img id="start_img-768" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-768">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-769"  class = "post">
				<h2>Answer</h2>
			<div id="vote-769" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe a little Googling and you will find several of the existing controller boards have open source. For example I made a small change to <a href="http://www.hobbyking.com/hobbyking/store/__24723__Hobbyking_KK2_0_Multi_rotor_LCD_Flight_Control_Board.html" rel="nofollow noreferrer">hobby kings KK board</a> last week, compiled it and it was fine (look for firmware 1.5 in the files tab). I think <a href="http://www.rcgroups.com/forums/showthread.php?t=1568554" rel="nofollow noreferrer">openAero</a> is also readily available.</p>

<p>I sure would not try and start from scratch, but if you do, it is multiple PID loops on each axis, mixed with control signals from the receiver. Roll and pitch vary by changing motor speed as you guessed. Yaw is changed by changing opposite rotating pairs of motors. altitude is controlled by changing all motors at once. What code I have looked at leads me to believe you probably should be comfortable with <a href="http://en.wikipedia.org/wiki/Euler_angles" rel="nofollow noreferrer">euler angles</a> in order to fuse sensor data from gyros and acceleration (which may or may not be <a href="http://en.wikipedia.org/wiki/I%C2%B2C" rel="nofollow noreferrer">I2C</a> so learn that to if you are not familiar with it).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-769" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-769">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-769">Load Comments</button></br>
			<div id = "commentsection-769" class = 'collapse'>
			<div id = "comment-2054" class = "comment">
				<p>Just a followup; ran across some nice [flowcharts](http://diydrones.com/profiles/blogs/arducopter-2-9-pid-loops-for-stabilize-acro-and-alt-hold) you might find interesting;</p>
			</div>
			</div>
				<textarea id = "speech-769" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-769">
					<img id="start_img-769" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-769">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>