<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to connect ethernet based Hokuyo scanner?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8244" class = "post">
			<h2>Question</h2>
			<div id="vote-8244" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1113</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to connect ethernet based Hokuyo scanner?</h2>
<p>This is a very basic beginner question, I know, but I am having trouble connecting to the Hokuyo UST-10LX sensor and haven't really found much in terms of helpful documentation online.</p>

<p>I tried connecting the Hokuyo UST-10LX directly to the ethernet port of a Lubuntu 15.04 machine. The default settings of the Hokuyo UST-10LX are apparently:
ip addr: 192.168.0.10
netmask: 255.255.255.0
gateway: 192.168.0.1</p>

<p>So, I tried going to the network manager and setting IPv4 settings manually, to have the ip addr be 192.168.0.9, netmask of 255.255.255.0, and gateway to 192.168.0.1. I also have a route set up to the settings of the scanner.</p>

<p>I then go into the terminal and run:</p>

<pre><code>rosrun urg_node urg_node _ip_address:=192.168.0.10
</code></pre>

<p>and get this output:</p>

<pre><code>[ERROR] [1444754011.353035050]: [setParam] Failed to contact master at [localhost:11311].  Retrying...
</code></pre>

<p>How might I fix this? I figure it's just a simple misunderstanding on my end, but through all my searching I couldn't find anything to get me up and running :(</p>

<p>Thank you for the help! :)</p>

<p>EDIT:</p>

<p>HighVoltage pointed out to me that I wasn't running <code>roscore</code> which was indeed the case. I was actually running into problems before that when I still had <code>roscore</code> up, and when I tried it again, this was the output of the <code>rosrun</code> command:</p>

<pre><code>[ERROR] [1444828808.364581810]: Error connecting to Hokuyo: Could not open network Hokuyo:
192.168.0.10:10940
could not open ethernet port.
</code></pre>

<p>Thanks again!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8244" data-toggle = "popover">
				<p>user name : kotakotakota</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-8244">{'None': 0, 'localization': 0, 'mapping': 0, 'slam': 0, 'rangefinder': 1, 'linux': 1, 'sensors': 1, 'ros': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8244">Load Comments</button></br>
			<div id = "commentsection-8244" class = 'collapse'>
			<div id = "comment-13191" class = "comment">
				<p>Can you ping the scanner? Does it have power?</p>
			</div>
			<div id = "comment-13192" class = "comment">
				<p>It doesn't respond when I ping it. The blue light is on, so I think it has proper power. I am sending 12V and 0V to V+ and V- respectively. Should I be sending 12V and -12V instead?</p>
			</div>
			<div id = "comment-13193" class = "comment">
				<p>Never mind, the label on the side of the sensor says 12/24V DC and gnd, so I should be okay. The sensor is also vibrating which implies that the motor is spinning properly.</p>
			</div>
			<div id = "comment-13194" class = "comment">
				<p>Are you plugged directly into the unit or are you using a switch/router? If it's powered on and you can't ping it I would say it's a networking problem. How does the manufacturer suggest you change the IP settings?</p>
			</div>
			<div id = "comment-13197" class = "comment">
				<p>You could also go to your  router admin panel and check if scanner is visible from there or not.</p>
			</div>
			<div id = "comment-13202" class = "comment">
				<p>mactro: I am connected directly via ethernet. I figure that I shouldn't have a router admin panel in that case since it's not connected to a router? Unless I'm missing something</p>
			</div>
			<div id = "comment-13203" class = "comment">
				<p>Chuck: The datasheet is here: https://acroname.com/sites/default/files/assets/ust-10lx_specification.pdf However, it doesn't say much beyond the port and the ip address.</p>
			</div>
			<div id = "comment-13205" class = "comment">
				<p>Okay, was able to connect. Settings as described above, and `roscore` running. Thanks for the help guys.</p>
			</div>
			</div>
				<textarea id = "speech-8244" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8244">
					<img id="start_img-8244" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8244">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8246"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8246" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you sure roscore is running? "Failed to contact master" is usually an issue with roscore not initializing. </p>

<p>If roscore indeed is running but you are still getting the message, check if ROS_MASTER_URI is set to something other than the default. Or run "rosnode list" and paste the output here.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8246" data-toggle = "popover">
				<p>user name : HighVoltage</p>
				<p> user reputation : 398</p>
				<p class = "tagcontent" id = "usertaginfo-8246">{'stereo-vision': 2, 'probability': 10, 'multi-agent': 4, 'planning': 10, 'manipulator': 2, 'cameras': 1, 'matlab': 1, 'kalman-filter': 7, 'None': 19, 'noise': 3, 'inverse-kinematics': 2, 'localization': 8, 'pose': 4, 'mapping': 0, 'rotation': 1, '3d-reconstruction': 0, 'computer-vision': 8, 'algorithm': 3, 'c++': 3, 'slam': 2, 'exploration': 0, 'path-planning': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8246">Load Comments</button></br>
			<div id = "commentsection-8246" class = 'collapse'>
			<div id = "comment-13200" class = "comment">
				<p>Thank you, you're right, that is why I ran into that problem; I forgot to run roscore before posting the question... I also should have mentioned that I don't see anything when I ping the scanner. I've updated the question with the output I get when I am running roscore.</p>
			</div>
			<div id = "comment-13204" class = "comment">
				<p>Okay, turns out I was just being silly.. As you say, roscore was critical. After doing that, I realized that my network settings were still off. Thanks again for the help.</p>
			</div>
			</div>
				<textarea id = "speech-8246" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8246">
					<img id="start_img-8246" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8246">Comment</button>
			<br><div id = "ans-8260"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8260" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can also try Snark:
<a href="https://github.com/acfr/snark" rel="nofollow">https://github.com/acfr/snark</a>
which requires
<a href="https://github.com/acfr/comma" rel="nofollow">https://github.com/acfr/comma</a>.</p>

<p>The name of the application is called hokuyo-to-csv. See --help -v for details.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8260" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-8260">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8260" class = 'collapse'>
			</div>
				<textarea id = "speech-8260" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8260">
					<img id="start_img-8260" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8260">Comment</button>
			<br><div id = "ans-10942"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10942" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Please see here:</p>

<p><a href="http://www.robotsinsearch.com/products/blog/how-interface-ust-series-hokuyo-laser-scanners" rel="nofollow">How to interface with the UST series Hokuyo Laser Scanners</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10942" data-toggle = "popover">
				<p>user name : Waqas</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10942">{'None': -3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10942">Load Comments</button></br>
			<div id = "commentsection-10942" class = 'collapse'>
			<div id = "comment-19701" class = "comment">
				<p>Link only answers are discouraged because if the link become dead in the mean time, the answer will lose its value. Instead, copy the relevant information into the answer.</p>
			</div>
			<div id = "comment-19709" class = "comment">
				<p>Welcome to *Robotics* Waqas. Thanks for your answer but we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content disappears. If you add more context from the link, it is more likely that people will find your answer useful.</p>
			</div>
			</div>
				<textarea id = "speech-10942" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10942">
					<img id="start_img-10942" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10942">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>