<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to charge a LiFePO4 battery?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-634" class = "post">
			<h2>Question</h2>
			<div id="vote-634" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 5226</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to charge a LiFePO4 battery?</h2>
<p>From what I've seen, LiFePO4 batteries seem like one of the top battery choices for robotics applications. However, I've seen people mentioning that you can't use a charger for a different battery to charge these, but I haven't seen why. If I were to build my own setup to charge LiFePO4 batteries what would it specifically need to do? What kind of voltages or current rates does it need to supply to charge these?</p>

<p>More specifically, I was think about setting up a solar charger for these batteries. Is there any immediate reason why this is a bad solution? Such as, the battery needs to charge with a current above some amount for it to work properly?</p>

<p>If you're ambitious enough to provide an example along with your explanation, I'm specifically thinking of having <a href="http://www.batteryspace.com/lifepo426650cell32v3300mah16.5arate10whunapproved.aspx">4 of these batteries</a> with 2 pairs of 2 in series in parallel. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-634" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-634">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-634" class = 'collapse'>
			</div>
				<textarea id = "speech-634" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-634">
					<img id="start_img-634" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-634">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-635"  class = "post">
				<h2>Answer</h2>
			<div id="vote-635" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is one of those questions where if you have to ask, you shouldn't be doing it.  There are charge-monitoring boards available for these batteries, and for safety's sake you should be using them.  You can still use a solar charger or some other method, but the output of that power source should feed a charge circuit that was built specifically for LiFePO<sub>4</sub> batteries.</p>

<p>You're not so much looking for a battery charger as you are a "battery manager".  You need something that will </p>

<ul>
<li>prevent over-discharging (both current and voltage)</li>
<li>prevent over-charging (both current and voltage)</li>
<li>detect raised temperature (indicating some sort of failure)</li>
<li>actually charge the battery</li>
</ul>

<p>Off-the-shelf LiFePO<sub>4</sub> chargers accomplish the charging in 3 stages:</p>

<ol>
<li>Supply constant current (correct amount is specific to battery model) until the cell voltage hits its maximum</li>
<li>Supply constant voltage until the charge current hits some minimum, usually related to the initial charge current.</li>
<li>Maintain the charge by lowering the voltage slightly, and making other adjustments (I'm not completely clear on this part)</li>
</ol>

<p>This is more of a pure-EE project than a robotics project, so if you are dead-set on building this then you should consult a more electronics-centric resource.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-635" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-635">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-635">Load Comments</button></br>
			<div id = "commentsection-635" class = 'collapse'>
			<div id = "comment-759" class = "comment">
				<p>I plan to research it thoroughly before attempting anything. Asking questions is the only way I'll get to the point that I don't have to ask. What specifically do these charge-monitoring boards do and why?</p>
			</div>
			<div id = "comment-760" class = "comment">
				<p>That's a fair point, I rolled some of the specifics into my answer.</p>
			</div>
			<div id = "comment-761" class = "comment">
				<p>I don't suppose there's some sort of "battery manager" for LiFePO4 batteries that's a small chip or something that can be mounted to a small robot without taking up much space? And could take as it's power supply a small solar panel?</p>
			</div>
			<div id = "comment-762" class = "comment">
				<p>If small size is your goal, you may want to consider replaceable batteries (i.e., you attach a fresh one and recharge the dead one someplace other than on the vehicle).  Then, the on-board battery electronics only need to handle a low-voltage/high-current cutoff.  Using the solar panel to charge the battery should probably be a separate question.</p>
			</div>
			<div id = "comment-773" class = "comment">
				<p>on point #3 they may be reffering to how chargers can (and should) only charge 95% capacity for general use, 50% for storage, and 100% for competition only. Batteries will last much longer this way (number of charges before imbalance becomes a problem).</p>
			</div>
			<div id = "comment-782" class = "comment">
				<p>As to size, the "battery manager" chip isn't the problem (you can get them in a few mm^2). The problem is the power path components. The switches, energy storage, and transfer elements (transistors, inductors, interconnect, etc) will have to be large enough to handle the current. If you want to support charging faster than tens of milliamps, you will rapidly approach tens of mm^2 board area.</p>
			</div>
			<div id = "comment-16563" class = "comment">
				<p>The original poster has a valid point. I have an extensive analog, but older technical background. I am not familiar with the newer battery types and what's required to build, balance, and maintain. I pulled this post up looking for guidance on where to find accurate learning materials to teach myself.</p>
			</div>
			<div id = "comment-16591" class = "comment">
				<p>The danger of improper and/or amateur charging of modern Lithium batteries can't be understated.  http://www.cnet.com/news/why-are-hoverboards-exploding-and-catching-fire/</p>
			</div>
			</div>
				<textarea id = "speech-635" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-635">
					<img id="start_img-635" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-635">Comment</button>
			<br><div id = "ans-645"  class = "post">
				<h2>Answer</h2>
			<div id="vote-645" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Further to @Ian's post, a couple of important comments:</p>

<p>Your Battery Management System (BMS) (not just a simple charger!) needs to monitor the condition of each individual cell, not the set as a whole - this applies during the discharge phase, as well as during charging.</p>

<p>And cell balancing (keeping all cells broadly level) is probably more relevant than simple charge/discharge monitoring.</p>

<p>Day-job non-disclosure requirements limit a long winded answer, but we are developing a BMS using the <a href="http://www.ti.com/product/bq76pl536a" rel="nofollow">TI BQ76PL536A device</a> to monitor each cell.</p>

<p>But it is not a trivial application.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-645" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-645">{'None': 41}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-645" class = 'collapse'>
			</div>
				<textarea id = "speech-645" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-645">
					<img id="start_img-645" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-645">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>