<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How does the Makeblock threaded slot work?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-908" class = "post">
			<h2>Question</h2>
			<div id="vote-908" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 591</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How does the Makeblock threaded slot work?</h2>
<p>I've been looking into a <a href="http://www.makeblock.cc/" rel="nofollow noreferrer">Makeblock robotics kit</a> but have found no information on the web that comes from end-users, and one of the main advertised features is not clear to me:  The slot threads shown below are straight, while the screw thread that will mate with them is angled.  Is there just very little contact between screw thread and rail thread vs. regular screw hole threads?  Or would the screw want to rest angled somewhat- and then the head would not be flush with the rim of the rail?  Or would the screw deform the aluminum rail if over-torqued?</p>

<p>This is a close up picture of the slot with screws:
<img src="https://www.wired.com/wiredenterprise/wp-content/uploads//2012/12/makeblock-threaded-slot.jpg" alt="makeblock closeup"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-908" data-toggle = "popover">
				<p>user name : Lucas W</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-908">{'None': 0, 'mechanism': 5, 'kit': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-908">Load Comments</button></br>
			<div id = "commentsection-908" class = 'collapse'>
			<div id = "comment-2215" class = "comment">
				<p>These look like quite interesting and adaptable pieces of kit. I particularly like that they are open source ([CC-BY-SA 3.0](http://creativecommons.org/licenses/by-sa/3.0/)).</p>
			</div>
			<div id = "comment-2217" class = "comment">
				<p>Yes I just wish I could find some actual critical reviews of it, there are tons of people talking about the kickstarter for the to-be-made electronics or how interesting it looks, but nobody actually owns a set and is talking about it.</p>
			</div>
			</div>
				<textarea id = "speech-908" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-908">
					<img id="start_img-908" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-908">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1188"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1188" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's a clever and attractive design, but it's mechanically weak.</p>

<p>The mating area between the screw and grooves is small, so the pitch angle of the threads isn't as much of a problem. The grooves on opposite sides are offset by half a thread so the screw has less of a tendency to tilt. Mechanical clearance and deformation of the parts is enough to compensate for the remaining geometric mismatch.</p>

<p>The screw will have a strong tendency to strip out the grooves when torqued. This is already a problem with threading into softer materials like aluminum; that's why they invented threaded inserts. It's even worse when only a small fraction of each thread carries any load. The grooves should only be considered suitable for light loading and gentle torquing. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1188" data-toggle = "popover">
				<p>user name : Theran</p>
				<p> user reputation : 244</p>
				<p class = "tagcontent" id = "usertaginfo-1188">{'None': 12}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1188">Load Comments</button></br>
			<div id = "commentsection-1188" class = 'collapse'>
			<div id = "comment-2703" class = "comment">
				<p>Thanks Theran, it's interesting to see this question answered from a general mechanical engineering analysis, since we don't seem to have anyone who has actually used this kit.</p>
			</div>
			</div>
				<textarea id = "speech-1188" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1188">
					<img id="start_img-1188" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1188">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>