<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to estimate the position of multiple static ground targets captured from a down facing camera?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8973" class = "post">
			<h2>Question</h2>
			<div id="vote-8973" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 103</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to estimate the position of multiple static ground targets captured from a down facing camera?</h2>
<p>An aerial vehicle captures images of the ground using its down facing camera. From the images, multiple targets are converted from their pixel position to the camera reference frame using the pinhole camera model. Since the targets are static and there is information of the vehicle attitude and orientation, each sample is then converted to the world referencial frame. Note that all targets are on a flat, level plane.</p>

<p>The vehicle keeps "scanning" for the targets and converting them to the world referencial frame. Due to the quality of the camera and detection algorithm, as well as errors on the altitude information, the position of the "scanned" targets is not constant (not accurate). A good representation might be a gaussian distribution around the target true position, however it will also be influenced by the movement of the aerial vehicle.</p>

<p>What's the best approach to estimate the position of the targets from multiple readings?
This basically resumes to a problem of noise removal (as well as outlier removal) and estimation, so I would like to know what algorithms and strategies could solve the problem. In the end I expect to implement and test a collection of different approachs to understand their performance on this specific problem.</p>

<p>Furthermore, this system is implemented using ROS, so if you know of packages that already do what I'm searching for I would be glad to hear. You can also cite papers on the topic that you think might be of my interest.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8973" data-toggle = "popover">
				<p>user name : nVolteX</p>
				<p> user reputation : 50</p>
				<p class = "tagcontent" id = "usertaginfo-8973">{'None': 0, 'computer-vision': 3, 'algorithm': 3, 'localization': 3, 'uav': 3, 'slam': 3, 'kinematics': 3, 'mobile-robot': 6, 'dynamics': 3, 'ros': 6, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8973">Load Comments</button></br>
			<div id = "commentsection-8973" class = 'collapse'>
			<div id = "comment-14799" class = "comment">
				<p>I voted to close this because it's an unbounded design problem (you don't have a problem, you're just looking for advice). That said, the key phrase that I think will get you started is called [structure from motion](https://en.wikipedia.org/wiki/Structure_from_motion). Basically, the pixel location only corresponds to an angle based on the camera transform. You need to know angle *and depth* to get a real x/y coordinate.</p>
			</div>
			<div id = "comment-14804" class = "comment">
				<p>The problem I need resolved is one of noise removal and estimation of multiple signals at the same time. I'm searching for help on resolving that issue, don't get why you call it an unbounded design problem. And what you proposed is actually the part that I already solved since I wrote that I already converted the position of the target in order to the world referencial frame.</p>
			</div>
			<div id = "comment-14805" class = "comment">
				<p>Can you please revise your question to include how you are currently getting measurements? The way that I had read your question, I thought you had an aerial vehicle with known X/Y/Z/$\theta$ and a camera, and with nothing else and only 1 frame you were trying to determine the X/Y/Z of ground targets, which isn't possible unless you have more information. What method are you using to determine ground coordinates? What kind of noise or measurement error are you seeing?</p>
			</div>
			<div id = "comment-14806" class = "comment">
				<p>I added more info as you asked.</p>
			</div>
			</div>
				<textarea id = "speech-8973" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8973">
					<img id="start_img-8973" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8973">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8986"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8986" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I see that you updated your question some, but maybe it's your scenario that's not clear. If your targets are all of about the same size, and all on a flat, level plane, then I can see that you could get their height by the the height of the aerial vehicle. I thought it was randomly distributed targets on an unknown surface, in which case the height of the aerial vehicle doesn't really buy you anything; you would need some other information to determine the 3D coordinates of the target. As it stands, knowing that the targets are all on a level plane <em>is</em> the extra information. </p>

<p>So, if you describe your noise as Gaussian, and the measurements are taken from a linear system (moving platform), then that's pretty much the definition of when to use a <a href="https://en.wikipedia.org/wiki/Kalman_filter" rel="nofollow">Kalman filter</a>; "the [Kalman] filter yields the exact conditional probability estimate in the special case that all errors are Gaussian-distributed."</p>

<p>You'll need to know the covariance of the errors, but that shouldn't be too much of an issue as it sounds like you have already taken some measurements, enough to know that they are noisy and Gaussian in distribution. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8986" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8986">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8986">Load Comments</button></br>
			<div id = "commentsection-8986" class = 'collapse'>
			<div id = "comment-14812" class = "comment">
				<p>That's actually one of the approachs I had in mind, however with multiple targets I would need a way to associate each sample to the "correct target" (data association) without restrains on the distance between targets. Notice that the targets do not have unique IDs.</p>
			</div>
			<div id = "comment-14813" class = "comment">
				<p>@nVolteX - If the targets don't have unique IDs, then how are you comparing subsequent measurements between samples to determine that the position measurements are noisy? If your problem is needing to know how to associate measurements to a particular target, then you should ask it as a new question and link to this one to give context.</p>
			</div>
			<div id = "comment-14814" class = "comment">
				<p>The problem is multi-target tracking/position estimation, which in order to be solved needs to go through some kind of "data association" and tracking/filtering. For example, if I could assume to have information about the number of targets then something like the k-means clustering would solve both problems. However the "hard" part, comes when I don't have prior information about the number of targets.</p>
			</div>
			</div>
				<textarea id = "speech-8986" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8986">
					<img id="start_img-8986" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8986">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>