<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to model unpredictable noise in Kalman Filter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1766" class = "post">
			<h2>Question</h2>
			<div id="vote-1766" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 759</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to model unpredictable noise in Kalman Filter?</h2>
<p><strong>Background:</strong></p>

<p>I am implementing a simple Kalman Filter that estimates the heading direction of a robot. The robot is equipped with a compass and a gyroscope.</p>

<p><strong>My Understanding:</strong></p>

<p>I am thinking about representing my state as a 2D vector $(x, \dot{x})$, where $x$ is the current heading direction and  $\dot{x}$ is the rotation rate reported by the gyroscope.</p>

<p><strong>Questions:</strong></p>

<ol>
<li>If my understanding is correct, there will be no control term, $u$ in my filter. Is it true? What if I take the state as a 1D vector $(x)$? Then does my $\dot{x}$becomes the control term $u$? Will these two methods yield different results?</li>
<li>As we know, the main noise source comes from the compass when the compass is in a distorted magnetic field. Here, I suppose the Gaussian noise is less significant. But the magnetic distortion is totally unpredictable. How do we model it in the Kalman Filter?</li>
<li>In Kalman Filter, is the assumption that "all the noises are white" necessary? Say, if my noise distribution is actually a Laplacian distribution, can I still use a Kalman Filter? Or I have to switch to another filter, like Extended Kalman Filter?</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-1766" data-toggle = "popover">
				<p>user name : Sibbs Gambling</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-1766">{'magnetometer': 6, 'None': 0, 'localization': 5, 'kalman-filter': 11, 'compass': 11, 'gyroscope': 17}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1766" class = 'collapse'>
			</div>
				<textarea id = "speech-1766" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1766">
					<img id="start_img-1766" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1766">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1771"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1771" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li><p>There will be no control input term. You should take (x, xdot) as your state vector to formulate the Kalman filter properly.</p></li>
<li><p>The primary sources of noise are the compass <strong>and the gyroscope</strong>. The gyroscope noise and drift are significant. It is pretty challenging to overcome magnetic distortion in general but there are <a href="http://www.sensorsmag.com/sensors/motion-velocity-displacement/compensating-tilt-hard-iron-and-soft-iron-effects-6475" rel="nofollow">compensation techniques</a>.</p></li>
<li><p>The assumption of <strong>zero mean multivariate normal 
distribution</strong> noise is necessary however white noise is only a special case of this. For the extended Kalman filter, this assumption still needs to be true. You can look into other types of filters (<a href="http://www.cim.mcgill.ca/~yiannis/particletutorial.pdf" rel="nofollow">particle filter</a>, <a href="http://en.wikipedia.org/wiki/Kalman_filter#Unscented_Kalman_filter" rel="nofollow">unscented kalman filter</a>).</p></li>
</ol>

<p>Kalman Filter Design/Implementation Paper: <a href="http://franciscoraulortega.com/pubs/Algo3DFusionsMems.pdf" rel="nofollow">http://franciscoraulortega.com/pubs/Algo3DFusionsMems.pdf</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1771" data-toggle = "popover">
				<p>user name : ddevaz</p>
				<p> user reputation : 503</p>
				<p class = "tagcontent" id = "usertaginfo-1771">{'None': 34}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1771">Load Comments</button></br>
			<div id = "commentsection-1771" class = 'collapse'>
			<div id = "comment-3666" class = "comment">
				<p>So I cannot leave the KF to handle the unpredictable magnetic distortion right? I should sort of discard the distorted values first and then leave the KF to deal with the sensor noise. Right?</p>
			</div>
			<div id = "comment-3667" class = "comment">
				<p>Yes. The Kalman filter won't be able to accurately compensate for the magnetic distortion because the changes could be drastic. I would try and implement some magnetic compensation first then implement the Kalman filter.</p>
			</div>
			</div>
				<textarea id = "speech-1771" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1771">
					<img id="start_img-1771" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1771">Comment</button>
			<br><div id = "ans-1772"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1772" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li>I would model this as a one-state system (x), with the gyro as the control input.  The gyro noise becomes state input noise, the compass noise becomes measurement noise.  So your system model becomes $$\hat{\dot \theta} = \omega_{gyro} + w$$ $$\hat y = \hat x$$ where $\hat y$ is the filter's estimate of direction, which you compare to the compass direction to get your Kalman update.</li>
<li>The magnetic distortion is going to be difficult, because if you sit in any one place it will appear as a constant offset term -- the Kalman filter won't deal with this well.  I'm pretty sure you'll either need to map the distortion, get some second absolute direction reference, or just accept the distortion.</li>
<li>You are confusing spectral content with probability distribution.  If the noise is white, then each sample in perfectly independent of any other sample.  If the noise is Laplacian, each sample obeys the Laplace distribution.  Kalman filters don't like colored noise (but you can deal with that by adding states).  A Kalman filter is only the overall optimal filter when the noise is of Gaussian distribution and the cost function is sum-of-squares.  For any other noise and cost function, the optimal filter is probably nonlinear.  But for any zero-mean, white noise and sum-of-squares cost function, the Kalman filter is the best linear filter to be found.</li>
</ol>

<p>(Note that the system model I gave ends up with a pretty trivial Kalman filter -- you may be better off, if you can't find some other means of estimating compass offset, using a complimentary filter to combine these two sensor inputs.  Doing all the Kalman computations will just end up coughing up a complimentary filter anyway, and chances are that you'll have enough guesses for your constants that you may as well just guess at the crossover point in a complimentary filter and be done with it).</p>

<p>(Note, too, that if you have some absolute <em>position</em> reference, and some means estimating speed, and a vehicle that always goes in the direction you point it, that you can use an extended Kalman filter very profitably to correct the compass distortion by using the direction it actually moves to correct for the compass direction).</p>

<p>"Optimal State Estimation" by Dan Simon, Wiley 2006, is -- in my opinion -- a very rich and clear treatment of the subject of Kalman filtering and its more sophisticated brethren (H-infinity, extended Kalman, unscented Kalman, and even a bit on Baysian and particle filtering).  It won't tell you how to apply that to navigation problems like this, but where would be the fun in life if all the problems were solved?.  If you can't follow the math in Simon's book, then you should probably be asking yourself if you're going to be able to apply a Kalman filter in any sort of intelligent way.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1772" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1772">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1772">Load Comments</button></br>
			<div id = "commentsection-1772" class = 'collapse'>
			<div id = "comment-3664" class = "comment">
				<p>+1 For complementary filter for this application seems more suitable. Also the Dan Simon book is very good. This article is a good introduction to the Kalman filter (by the same author) http://www.masys.url.tw/AU/2013SP/OpenCV/0513/kalman-dan-simon.pdf</p>
			</div>
			<div id = "comment-3665" class = "comment">
				<p>@ddevaz  Yeah, I am actually NOW implementing a complementary filter. But the problem is that it does not yield very good results. So I am thinking about switching to another "more sophisticated" filter...</p>
			</div>
			<div id = "comment-3668" class = "comment">
				<p>I see. I've edited my answer to include some reference material on Kalman filter implementation with gyros, accelerometers, and a magnetometer.</p>
			</div>
			</div>
				<textarea id = "speech-1772" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1772">
					<img id="start_img-1772" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1772">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>