<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do you calculate the moment of inertia of a Quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6313" class = "post">
			<h2>Question</h2>
			<div id="vote-6313" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2454</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do you calculate the moment of inertia of a Quadcopter?</h2>
<p>I'm building a quadcopter for my final year project. I have a set of equations describing attitude and altitude but they involve $I_{xx}$, $I_{yy}$ and $I_{zz}$. None of the papers I have read describe how these are calculated. they simply choose it before their simulation. Can anyone help?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6313" data-toggle = "popover">
				<p>user name : Ozymandias</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-6313">{'quadcopter': 7, 'control': 4, 'None': 6, 'tuning': 1, 'accelerometer': 1, 'arduino': 3, 'battery': 0, 'pid': 4, 'brushless-motor': 0, 'kinematics': 6, 'imu': 1, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6313">Load Comments</button></br>
			<div id = "commentsection-6313" class = 'collapse'>
			<div id = "comment-9095" class = "comment">
				<p>First you need to know where the center of gravity is. With a decent design this should be in the middle of the quadrotor. Then take every component of the quadrotor, simplify them to a basic body, you can find in a table (http://www.engr.colostate.edu/~dga/mech324/Labs/Lab%2010/images/moment%20of%20inertia%20table.jpg) . At the end just use Steiner's theorem in all three dimensions and sum them up.</p>
			</div>
			</div>
				<textarea id = "speech-6313" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6313">
					<img id="start_img-6313" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6313">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6316"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6316" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can calculate the moment of inertia of a pendulum by measuring the period of oscillation for small amplitudes. Suspend the quad by one arm and give it a little push and time the period. It does work better for larger aircraft, measuring the period of a quad-pendulum will be tricky. Maybe get a video of the aircraft with a high framerate so you can get a more accurate measurement than just a stopwatch.</p>

<p><a href="https://www.boundless.com/physics/textbooks/boundless-physics-textbook/waves-and-vibrations-15/periodic-motion-123/the-physical-pendulum-432-1488/" rel="nofollow">https://www.boundless.com/physics/textbooks/boundless-physics-textbook/waves-and-vibrations-15/periodic-motion-123/the-physical-pendulum-432-1488/</a></p>

<p>Also having an accurate solidworks model or cad model should have the moments of inertial in some properties list.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6316" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-6316">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6316">Load Comments</button></br>
			<div id = "commentsection-6316" class = 'collapse'>
			<div id = "comment-9098" class = "comment">
				<p>I really like the idea with the penduluum, but I guess he need a real calculation for his thesis. Still the idea is nice.</p>
			</div>
			<div id = "comment-9099" class = "comment">
				<p>Thanks. Though this approach may not be pretty, it is effective. It is how we check moments of inertia for small rc aircraft in our lab to double check the calculated values.</p>
			</div>
			<div id = "comment-9103" class = "comment">
				<p>What do you think of reducing the quadcopter to a spheric point mass with 4 point masses located distance l from the centre. So basically Ixx=(2m(r^2)/5)+2m(l^2),Iyy=(2m(r^2)/5)+2m(l^2) and Izz=(2m(r^2)/5)+4m(l^2). I was suggested a paper written by Randal Beard. This is how he calculates its. I cant actually do it experimentally because I need to simulate it before building.</p>
			</div>
			<div id = "comment-9104" class = "comment">
				<p>That would work perfectly if you're just doing a simulation.</p>
			</div>
			<div id = "comment-9105" class = "comment">
				<p>Thank you. I have to actually build one in the end so I am going to use the experimental method of determining the inertial moment and see how it affects the real thing compared to the simplified calculation. Thanks for your suggestions. Hopefully this will answer peoples questions on the matter. Dr beards paper was the only one that actually stated how the inertial moment was calculated.</p>
			</div>
			<div id = "comment-9106" class = "comment">
				<p>In your pendulum experiment how do suspend the quad to measure Izz?</p>
			</div>
			<div id = "comment-9107" class = "comment">
				<p>It depends on how your coordinate system is set in your quad.Suspend the quad by one of the arms and measure the period of oscillation of both directions. One direction will correspond to izz and the other to both ixx and iyy (assuming ixx and iyy are the same).</p>
			</div>
			</div>
				<textarea id = "speech-6316" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6316">
					<img id="start_img-6316" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6316">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>