<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to program parallel PID control loops? So I can give my robot multiple set points to follow
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5261" class = "post">
			<h2>Question</h2>
			<div id="vote-5261" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 832</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to program parallel PID control loops? So I can give my robot multiple set points to follow</h2>
<p>So I'm in the process of building my robot and it has encoders on every wheel measuring speed and position and a compass sensor measuring heading.</p>

<p>I have 3 seperate PID loops at the moment, I can either control the robots speed or I can control the robots position or I can make it follow a heading using a line following type algorithm.</p>

<p>Now I am completely stuck on how to merge these control loops, how do I control the robots heading AND its speed. So I can say to it, "go at 20 degrees at 3m/s" or "go at 45degrees for 5 metres then stop"</p>

<p>Really I would like to be able to control all 3, heading speed and position so I could say "go at 20 degrees for 10 metres at a speed of 5m/s" however I have no idea how to merge the loops.</p>

<p>At the end of the day there are 3 inputs (heading, speed and position) and 1 output (PWM to motors) so do I need to use some kind of MISO control scheme, if so which one? </p>

<p>I've looked at cascaded control but that only accepts 1 set point where I want to set 3 different set points. Maybe some kind of state machine? I'm so stuck!!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5261" data-toggle = "popover">
				<p>user name : lilSebastian</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-5261">{'control': 0, 'None': 0, 'pid': 0, 'sensors': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5261" class = 'collapse'>
			</div>
				<textarea id = "speech-5261" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5261">
					<img id="start_img-5261" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5261">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5264"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5264" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Try to gather some basic knowledge on the argument by reading papers about the control of the <strong>unicycle</strong>; here's <a href="http://users.isr.ist.utl.pt/~jag/publications/08-JETC-RCarona-vcontrol.pdf" rel="nofollow noreferrer">one</a> of them. This article has pretty much everything you need.</p>

<p>A somehow related <a href="https://robotics.stackexchange.com/questions/5260/the-aerial-refueling-problem-scratch-of-a-feedback-controller">question</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5264" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-5264">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5264">Load Comments</button></br>
			<div id = "commentsection-5264" class = 'collapse'>
			<div id = "comment-8050" class = "comment">
				<p>Great reference.</p>
			</div>
			</div>
				<textarea id = "speech-5264" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5264">
					<img id="start_img-5264" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5264">Comment</button>
			<br><div id = "ans-5272"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5272" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you need to do is make a LAYERED control system.  At the bottom layer is the motor speed PID controller.    It will constantly read two parameters "target speed" and "count to stop at".  There is one of these for each wheel.  The Wheel-PID runs the wheel at the desired speed until the encoder count matchers the stop count.</p>

<p>Next you have a heading PID.  It's output is the "target speed" for each of the wheels.  It it needs to go more to the left it increases the speed of the right wheels and reduces the left wheel speed.  This servos the robot to the desired heading.</p>

<p>The next level outputs the desired heading and the "stop at" encoder count.  It knows what heading to go to in order to get to the desired location and how to avoid obstacles and it can set the target speed based on maybe how close the robot is to the location.  It get the current location be integrating the path actually traveled.</p>

<p>You were right when you said "cascade".  One PID's output is the next one's input.  But it need not be one to one</p>

<p>But as you move upward perhaps "PID" is not the right method?  </p>

<p>Also you will find you need to combine sensor data when two sensors give the same information like wheel encodes and a compass.  You can use a Kalman filter to combine this data.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5272" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5272">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5272">Load Comments</button></br>
			<div id = "commentsection-5272" class = 'collapse'>
			<div id = "comment-9426" class = "comment">
				<p>Thankyou for posting this, it explains what I need to do perfectly. Now to just get it working!</p>
			</div>
			</div>
				<textarea id = "speech-5272" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5272">
					<img id="start_img-5272" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5272">Comment</button>
			<br><div id = "ans-5273"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5273" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As you noted, there is only one output (the motor's desired PWM) when all is said and done. All three loops may contribute to this output, but how should this be managed? The simplest method is to average all 3 commanded inputs to form a single PWM value, $PWM=(heading+speed+position)/3$.</p>

<p>Of course, this method assumes that all command forms are equally valued. Is heading more important? Then weight it more: $(alpha * heading)+(beta * speed)+(gamma * position)$, where $alpha+beta+gamma = 1$ and $alpha &gt; beta$ and $alpha &gt; gamma$. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5273" data-toggle = "popover">
				<p>user name : Throwback1986</p>
				<p> user reputation : 281</p>
				<p class = "tagcontent" id = "usertaginfo-5273">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5273">Load Comments</button></br>
			<div id = "commentsection-5273" class = 'collapse'>
			<div id = "comment-9427" class = "comment">
				<p>Ahh right, is this also called a complementary filter? As I have seen something similar in some IMU accelerometer/Gyroscope software.</p>
			</div>
			</div>
				<textarea id = "speech-5273" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5273">
					<img id="start_img-5273" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5273">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>