<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to remotely send command to a robot connected to a separate machine through serial port?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11446" class = "post">
			<h2>Question</h2>
			<div id="vote-11446" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to remotely send command to a robot connected to a separate machine through serial port?</h2>
<p>I work with a XL20 robotic tube sorter(lets say it's called X) which is connected to lets say computer(Y - IP: 10.216.1.222 - Running win7) through serial(com port 8 at 9600 baud and odd parity). If I open putty at computer Y and send my commands to the Xl 20, it works just fine.</p>

<p>Now I have a computer(Z- ip: 10.216.1.223 - Running win7) which is in the same network and I want to connect and send instruction to the Xl20 from this computer via putty or some other means.</p>

<p>Basically I'm trying to remotely communicate to the XL20 which is connected to a computer through serial port, so can anyone point me to any useful guide, documentation, clue or suggestion about how can I do this?</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11446" data-toggle = "popover">
				<p>user name : S4nd33p</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-11446">{'None': 0, 'serial': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11446" class = 'collapse'>
			</div>
				<textarea id = "speech-11446" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11446">
					<img id="start_img-11446" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11446">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11481"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11481" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you need is a TCP server running on computer Y, which listens to any incoming TCP connections. After a TCP connection is established with computer Y it forwards incoming data to X and the responce form X gets forwarded to the incomind connection. </p>

<p>You can find hardware boxes that do this, like <a href="http://www.hw-group.com/products/hw_vsp/index_en.html" rel="nofollow noreferrer">this</a>. This yould replace PC Y. </p>

<p>A free software solution would be <a href="https://sourceforge.net/projects/combytcp/" rel="nofollow noreferrer">this</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11481" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11481">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11481">Load Comments</button></br>
			<div id = "commentsection-11481" class = 'collapse'>
			<div id = "comment-20621" class = "comment">
				<p>Perfect, to the point answer. Thank you 50k4.</p>
			</div>
			</div>
				<textarea id = "speech-11481" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11481">
					<img id="start_img-11481" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11481">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>