<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to go around in a circle?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10003" class = "post">
			<h2>Question</h2>
			<div id="vote-10003" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 851</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to go around in a circle?</h2>
<p>I have the mBot robot and I'm trying to get it to go to the other side of a cylindral obstacle. </p>

<p>Something like this:</p>

<p><a href="https://i.stack.imgur.com/5cuP9.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/5cuP9.png" alt="Robot&#39;s path"></a></p>

<p>What I know:</p>

<ul>
<li>Radius of the cylinder - r</li>
<li>Robot's distance from the cylinder</li>
<li>Wheel thickness - 1.5 cm</li>
<li>Distance between the middle of each wheel - 11.5 cm</li>
</ul>

<p>How would I achieve the above path?</p>

<p>The only thing I saw was this <a href="https://stackoverflow.com/questions/26368200/myro-moving-robot-in-a-circle-based-on-the-radius-a-user-inputs">SO question</a> that says: </p>

<blockquote>
  <p>The distance between the left and right wheel of the robot is 6
  inches.</p>
  
  <p>So the left wheel should travel at a distance of 2(pi)(radius+6)</p>
  
  <p>And the right wheel should travel at a distance of 2(pi) (radius-6)</p>
</blockquote>

<p>The problem with my robot is that you can't tell it to go 20cm to the right, nor can you tell it to turn 90 degrees to the right.</p>

<p>All you can do is set each motor's speed 0-255, so there's not way to put it in the formula <em>disatance = time x speed</em>.</p>

<p>I assume I have to set each motor's speed to a different value so they would go in a circle of radius x and then just exit at the half of the circle (like shown in the picture)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10003" data-toggle = "popover">
				<p>user name : Janekmuric</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-10003">{'None': 0, 'wheeled-robot': 0, 'line-following': 6, 'motor': 6, 'arduino': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10003" class = 'collapse'>
			</div>
				<textarea id = "speech-10003" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10003">
					<img id="start_img-10003" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10003">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10016"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10016" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The distance travelled is directly proportional to speed $s = v*t$, so if you want to achieve specific distance ratio, the ratio of wheel speeds should be the same:
$${{s_{left}} \over {s_{right}}} = {{v_{left}*t} \over {v_{right}}*t}$$
Be warned though, that without encoders, you won't be able to accurately set speed (wheel speed with the same PWM for left and right motor may be different), so the robot will follow given path only approximately.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10016" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-10016">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10016" class = 'collapse'>
			</div>
				<textarea id = "speech-10016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10016">
					<img id="start_img-10016" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10016">Comment</button>
			<br><div id = "ans-10017"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10017" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li>The robot will drive towards the cylinder.</li>
<li>The robot should make  90 degree turn.</li>
<li>The robot should drive, with one wheel going slower as the other. (But it will be an constant).</li>
</ol>

<p><a href="https://i.stack.imgur.com/QwMZw.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/QwMZw.png" alt="enter image description here"></a></p>

<p>Between point 2 &amp; 3 in the image, the displacement of the robot will be 90 degrees turned in 2*R*Pi/4 distance.</p>

<p>For the wheels, indeed:
2*(Radius-6)<em>Pi/4 and 2</em>(Radius+6)*Pi/4</p>

<p>The time of both wheels need to be the same.
So, if you want to do this path in 10 seconds:</p>

<p>One wheel will be set at (2*(Radius-6)<em>Pi/4) inch/s.
And the other wheel at (2</em>(Radius+6)*Pi/4) inch/s.</p>

<p>But as Mactro mentions, the ratio should be the same.</p>

<p>(2 * (100 - 6) * Pi) / 4 = 147.654854719
(2 * (100 + 6) * Pi) / 4 = 166.50441064</p>

<p>So, 148/167 ratio for a 100 inch radius.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10017" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-10017">{'None': 6, 'robotic-arm': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10017" class = 'collapse'>
			</div>
				<textarea id = "speech-10017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10017">
					<img id="start_img-10017" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10017">Comment</button>
			<br><div id = "ans-10022"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10022" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your assesment of the situation seems correct. You have no robot body or wheel distance measurement that you can easily use. You need two pieces of the distance,velocity,time equation to do something that can work.</p>

<p>You best option is to ask the mBot developers to add some time functions to the arduino library (or perhaps this is available somewhere else, or something you can hack). You can then command a velocity, measure the time elapsed, and guess the distance you have moved. You can also change the velocity based on the elapsed time to approximate the shape you want.</p>

<p>The results will not be perfect but you will be able to use and learn the basic equations for differential drive robots. This will serve you if you continue working with robots and get a more capable one with wheel encoders or other position sensing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10022" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10022">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10022" class = 'collapse'>
			</div>
				<textarea id = "speech-10022" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10022">
					<img id="start_img-10022" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10022">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>