<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I convert RGB colors to CMYK for my airbrush robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1277" class = "post">
			<h2>Question</h2>
			<div id="vote-1277" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 735</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I convert RGB colors to CMYK for my airbrush robot?</h2>
<p>I am developing a robot which paints using an airbrush (3D painting). I intend to use several colors as a CMYK printer, but I do not know how to do the conversion of RGB colors in the computer to the dosage of colors in CMYK.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1277" data-toggle = "popover">
				<p>user name : user1669089</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-1277">{'None': 0, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1277">Load Comments</button></br>
			<div id = "commentsection-1277" class = 'collapse'>
			<div id = "comment-7795" class = "comment">
				<p>just a question. I'm intending to do an aerograph arduino based project and I have huge doubts about the automated color mixing. Do you know some project for me to take a look? Thnks!</p>
			</div>
			</div>
				<textarea id = "speech-1277" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1277">
					<img id="start_img-1277" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1277">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1280"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1280" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to <a href="http://www.rapidtables.com/convert/color/rgb-to-cmyk.htm" rel="nofollow">rapidtables.com</a>, the following formulae convert [24-bit] RGB color to CMYK:</p>

<blockquote>
  <p>The R,G,B values are divided by 255 to change the range from 0..255 to 0..1:<br>
  R' = R/255<br>
  G' = G/255<br>
  B' = B/255  </p>
  
  <p>The black key (K) color is calculated from the red (R'), green (G') and blue (B') colors:<br>
  K = 1-max(R', G', B')  </p>
  
  <p>The cyan color (C) is calculated from the red (R') and black (K) colors:<br>
  C = (1-R'-K) / (1-K)  </p>
  
  <p>The magenta color (M) is calculated from the green (G') and black (K) colors:<br>
  M = (1-G'-K) / (1-K)</p>
  
  <p>The yellow color (Y) is calculated from the blue (B') and black (K) colors:<br>
  Y = (1-B'-K) / (1-K)</p>
</blockquote>

<p>Formulae at <a href="http://www.javascripter.net/faq/rgb2cmyk.htm" rel="nofollow">javascripter.net</a> appear to be equivalent, although complements are computed in a different order.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1280" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1280">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1280">Load Comments</button></br>
			<div id = "commentsection-1280" class = 'collapse'>
			<div id = "comment-2850" class = "comment">
				<p>Right! That I understood! : D But my problem is how to know when each ink I have to mix to generate the corresponding value of this conversion formula?</p>
			</div>
			<div id = "comment-2851" class = "comment">
				<p>Hi @user1669089 welcome to *Robotics*. A Stack Exchange site doesn't work like a forum, so an *answer* in meant to be *answer* the question, with this in mind I have converted your not-actually-an-answer to a comment here. Comments are here to help improve answers (and questions), so feel free to use them to seek clarification. Even better though is to edit your question to make it more clear what you are after or add more information which might help people answer your question.</p>
			</div>
			</div>
				<textarea id = "speech-1280" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1280">
					<img id="start_img-1280" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1280">Comment</button>
			<br><div id = "ans-1355"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1355" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Professional CMYK conversions use algorithms that use blend matrices and even non-linear warping to fit the RGB color space (which color space? sRGB?) onto available printing inks. The best way to do that might be to find a library that does this, and find the specific parameters for the inks you want to use.</p>

<p>You need to design a system that can deliver an increment in coverage based on an input.</p>

<p>For example, in offset printing and laser printing, the picture is broken up in very small dots (a halftone screen,) and a percentage of dots is covered to achieve a certain degree of saturation. The different colors in 4-color printing are printed using halftone screens at different angles to minimize the case where one colored dot will keep falling right on top of another colored dot and thus "punch out" the covered color.</p>

<p>For an airbrushing robot, perhaps you can measure degree of paint feed (pressure on the lever) and dwell time, and convert that to a measurement of degree of paint coverage. The air brush works a bit like a stochastic paint particle emitter, removing N % of uncovered area within its zone of effect for every millisecond it is "on." The covered area is also a 2D function that's strongest in the center, and fades out towards the edges.</p>

<p>In my opinion, the most interesting programming challenge in this design is figuring out the optimal path to "sweep" the airbrush to get the right amount of coverage of each kind of paint on each area, while not over/under-covering certain areas and making a mess. Holding the airbrush very close, and painting one "pixel" at a time, would work, but wouldn't be very "artistic."</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1355" data-toggle = "popover">
				<p>user name : Jon Watte</p>
				<p> user reputation : 645</p>
				<p class = "tagcontent" id = "usertaginfo-1355">{'None': 43, 'cooling': 7, 'servos': 7, 'heat-management': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1355" class = 'collapse'>
			</div>
				<textarea id = "speech-1355" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1355">
					<img id="start_img-1355" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1355">Comment</button>
			<br><div id = "ans-4769"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4769" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've wanted to do something similar, so hearing of your experiences would be great. </p>

<p>The best thing I think would be to get a colorimeter, and build a calibration table into your code. Since paint can vary by manufacturer or medium additive (possibly even output levels if the tubes clog some), you could have the robot print its own test pattern. This would also calibrate to the resolution of the color mixer, since you might not have 255 distinct and evenly spaced levels of paint release per color.</p>

<p>Let's say your magenta was stepped with a screw thread attached to a stepper motor. If this thread only had an obscure number of 82 turns to adjust paint release levels, with higher output in the middle of the curve, then the test pattern would show the result of 82 different output levels of your magenta.</p>

<p>Using a colorimeter under diffused ambient lighting, you can determine what colors are output by which flow settings. Then, create a lookup table in your program to do the translation. To increase color resolution, you could even account for premixed colors (shades of brown, green, gray, etc). </p>

<p>Let me know how it goes</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4769" data-toggle = "popover">
				<p>user name : sean</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-4769">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4769" class = 'collapse'>
			</div>
				<textarea id = "speech-4769" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4769">
					<img id="start_img-4769" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4769">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>