<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to tilt a camera 180 using mirrors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8403" class = "post">
			<h2>Question</h2>
			<div id="vote-8403" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 54</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to tilt a camera 180 using mirrors</h2>
<p>How would you vertically tilt a camera 180 degrees using mirrors?</p>

<p>I'm trying to add a pan/tilt mechanism to a Raspberry Pi's camera. The camera uses one of those flat cables with unstranded wires, and even with a strain gauge, I don't trust it to handle repeated bending, so I'm trying to design a tilt mechanism that allows the camera to be rigidly mounted so no wires move. The tilting also has to happen very quickly, so I'm trying to minimize the amount of mass I need to move.</p>

<p>Then I saw the <a href="http://www.xaxxon.com/oculus" rel="nofollow">Oculus</a> kit that actuates a mirror to effectively tilt a laptop's fixed webcam. I'm trying to extend this idea, but I having trouble working out the mechanics that would allow the tilt to extend to 180 degrees. The layout in the Oculus's mechanism only supports a tilt angle of about 90 degrees, and the mirrors are relatively large. Is it possible to modify this to support 180 degrees?</p>

<p>Are there other ways to "bend" the view of a camera without having to move the actual camera?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8403" data-toggle = "popover">
				<p>user name : Cerin</p>
				<p> user reputation : 152</p>
				<p class = "tagcontent" id = "usertaginfo-8403">{'magnetometer': 0, 'None': 0, 'force': 1, 'motor': 1, 'simulator': 2, 'battery': 1, 'bec': 0, 'cameras': 2, 'torque': 1, 'design': 1, 'mechanism': 0, 'slam': 3, 'rangefinder': 2, 'beagle-bone': 1, 'compass': 0, 'mobile-robot': 1, 'sensors': 3, 'ros': 3, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8403" class = 'collapse'>
			</div>
				<textarea id = "speech-8403" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8403">
					<img id="start_img-8403" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8403">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8405"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8405" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could place the camera looking upwards and a mirror above it. 
The mirror is attached to a motor so that it's rotation axis is parallel e.g. to the vertical center line of the camera. If the mirror is parallel to the camera, then you get a camera-selfie, if you rotate it by 45deg, you look to one side and with -45deg you look to the other side. So you just have to move the mirror in a range of 90 deg to be able to look to both directions.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8405" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-8405">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8405">Load Comments</button></br>
			<div id = "commentsection-8405" class = 'collapse'>
			<div id = "comment-13525" class = "comment">
				<p>This is what I'm trying to avoid. I don't want the camera to see itself at all.</p>
			</div>
			<div id = "comment-13526" class = "comment">
				<p>why? If you just command the mirror to +-45 deg, then the camera won't see itself at all. Which are should the camera see?</p>
			</div>
			</div>
				<textarea id = "speech-8405" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8405">
					<img id="start_img-8405" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8405">Comment</button>
			<br><div id = "ans-11283"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11283" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Perhaps a mirror tilted 45 degrees on the end of a motor shaft might work?</p>

<p>top view, camera looking horizontally:</p>

<pre><code>                 .
                 .
                 ./
[camera]&lt;| . . . /=== motor
                /
</code></pre>

<p>front view, camera looking horizontally directly at you:</p>

<pre><code>[camera]&lt;| . . . |(mirror)|===(motor)
   ||                            ||
  ---------------(ground)-----------
</code></pre>

<p>front view, camera looking down:</p>

<pre><code>[camera]&lt;| . . . . . \========(motor)
   ||                .           ||
  ---------------(ground)-----------
</code></pre>

<p>front view, camera looking up:</p>

<pre><code>                     .
                     .
                     .
[camera]&lt;| . . . . . /========(motor)
   ||                            ||
  ---------------(ground)-----------
</code></pre>

<p>Forgive the crude ASCII art. I hope this makes sense to you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11283" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-11283">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11283" class = 'collapse'>
			</div>
				<textarea id = "speech-11283" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11283">
					<img id="start_img-11283" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11283">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>