<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I apply different control approach without having a state space model?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11010" class = "post">
			<h2>Question</h2>
			<div id="vote-11010" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 265</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I apply different control approach without having a state space model?</h2>
<p>Recently i am working on a hydraulic control system of a vehicle. But in this system I don't have any mathematical modeling of the system so i am not able to get any state space model for the given system. I have to control the length of Piston in Hydraulic Cylinder by giving input of desired piston position. Modeling of this system is established in Matlab/Simulink using physical modeling tools SimScape Toolbox and simFluids. As one approach i had already try to apply a feedback with P-control as show in the figure<a href="https://i.stack.imgur.com/4lTfB.jpg" rel="nofollow noreferrer"> Matlab System </a> and also the gain of P control is derived by trial and error.</p>

<p>Now if i want to apply state obeserver or optimal Control than how can i apply on this given system.</p>

<p>And is necessary to derive mathematical model of this system to desing controller?</p>

<p>Thank You.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11010" data-toggle = "popover">
				<p>user name : Krunal Vaghani</p>
				<p> user reputation : 48</p>
				<p class = "tagcontent" id = "usertaginfo-11010">{'control': 3, 'None': 3, 'matlab': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11010">Load Comments</button></br>
			<div id = "commentsection-11010" class = 'collapse'>
			<div id = "comment-19845" class = "comment">
				<p>This question was also posted at the [Math](http://math.stackexchange.com/q/2003312/240336) and [Engineering](http://engineering.stackexchange.com/q/12193/1633) Stack Exchange sites. There's a quality answer here (OP asks another answerer on the Math site about 50k4's answer), so I'm reluctant to close it here, but [cross-posting is not allowed](http://meta.stackexchange.com/q/64068/337600) as a bulk copy-paste. If you have a question that could fit on multiple sites, then **tailor** it for each site.</p>
			</div>
			<div id = "comment-19848" class = "comment">
				<p>@Chuck sorry for that inconvenience. I am not aware of that situation. I will keep in mind for the next time.</p>
			</div>
			</div>
				<textarea id = "speech-11010" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11010">
					<img id="start_img-11010" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11010">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11012"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11012" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Many control strategegies (PID is not neceserily one of these) are computing some of their parameters from your system. If you do not want to model your system yourself (or play around with it until you identify its charecteristics) you can use Matlab to identify your system model using the system identification toolbox. </p>

<p>The <a href="https://www.mathworks.com/products/sysid/index.html?s_tid=gn_loc_drop" rel="nofollow noreferrer">System Identification Toolbox</a> will give generate some inputs for your system and will record the responce for these. Based on this it will generate a simplfyied model which can be used to represent your system. It is simplifyed but in many cases it works well as a substitute. </p>

<p>When having this identifyed model you can freely implement any control strategy using the equations given after the system identification process. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11012" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11012">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11012">Load Comments</button></br>
			<div id = "commentsection-11012" class = 'collapse'>
			<div id = "comment-19840" class = "comment">
				<p>thanks for your response i am going  to try your approach to get system model.</p>
			</div>
			</div>
				<textarea id = "speech-11012" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11012">
					<img id="start_img-11012" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11012">Comment</button>
			<br><div id = "ans-11550"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11550" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are different approaches to your issue.
First and most likely easiest one is the approach suggested by 50k4.
With a simplfied model you can tune some basic controller like PID.
But there are tons of nice Design approaches, which can work totally without the model.
Those controllers are usually grouped under the name "soft controllers"
Some key words are Fuzzy, genetic algorithm or neural network....</p>

<p>Basically for every controling process you need some knowledge; in most cases you just take the mathematical description of the system.
For those soft controlling approaches you take your own expert knowledge of the system... sounds a bit strange but it can work out pretty nicely.</p>

<p>At the end you are able to control systems where it is impossible to get a mathematical system description</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11550" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-11550">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11550" class = 'collapse'>
			</div>
				<textarea id = "speech-11550" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11550">
					<img id="start_img-11550" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11550">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>