<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to import catia assembly to Matlab. Simmechanics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9155" class = "post">
			<h2>Question</h2>
			<div id="vote-9155" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 112</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to import catia assembly to Matlab. Simmechanics</h2>
<p>In catia .stl format is available only for part file not for assembly file. Please help how to import asembly in simmechanics</p>

<p>.CATProduct to .stl
Or Is there any other way to do?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9155" data-toggle = "popover">
				<p>user name : Kanaga Senthil Raja</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-9155">{'None': 0, 'industrial-robot': 1, 'motor': 1, 'matlab': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9155" class = 'collapse'>
			</div>
				<textarea id = "speech-9155" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9155">
					<img id="start_img-9155" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9155">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9158"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9158" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An STL file converts a solid model to an approximation that is represented by a bunch of triangular faces. There is no way for an STL file to represent joints or any other motion constraints because it's simply not part of the file protocol. </p>

<p>This means that, if your assembly has motion constraints or movable parts that you <em>don't</em> actually want to export that assembly to one STL file. Instead, you should export each part individually and then re-build the assembly in SimMechanics using the frame transforms and motion constraint blocks provided there. </p>

<p>I understand that this can be a (very) painful and tedious process, but unfortunately <a href="http://www.mathworks.com/help/physmod/sm/ref/smimport.html" rel="nofollow">SimMechanics only supports SolidWorks, Inventor, and Pro/E</a>  (stated in the tip at the bottom of the page).</p>

<p>That said, if you're using SimMechanics, I'd say there's a fair bet you're a student (because SimMechanics is EXPENSIVE given the perquisites) and Autodesk Inventor is free to students. </p>

<p>If your model is only a few parts, it will probably be easiest to just reassemble it with the joint constraints. If it's especially detailed, you might be better off fusing the non-moving parts for a "simulation model" such that you do wind up with only a few parts. If you absolutely need to import an assembly that has a lot (probably over 10 would be a lot to me) of parts or you intend on importing models frequently then I would pursue acquiring Inventor or SolidWorks. SolidWorks is better but not free to students, but they have an education version that is less expensive than the commercial version. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9158" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9158">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9158" class = 'collapse'>
			</div>
				<textarea id = "speech-9158" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9158">
					<img id="start_img-9158" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9158">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>