<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I send a jpeg image to a microcontroller via USART?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6495" class = "post">
			<h2>Question</h2>
			<div id="vote-6495" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 512</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I send a jpeg image to a microcontroller via USART?</h2>
<p>How can I send a jpeg image to a microcontroller via USART?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6495" data-toggle = "popover">
				<p>user name : Murugan</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6495">{'None': 0, 'electronics': 0, 'embedded-systems': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6495">Load Comments</button></br>
			<div id = "commentsection-6495" class = 'collapse'>
			<div id = "comment-9360" class = "comment">
				<p>The same way you send any other data to your microcontroller via USART. What exactly is your problem? Are you unable to send simple data via USART? Are you unable to open a jpeg file?</p>
			</div>
			</div>
				<textarea id = "speech-6495" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6495">
					<img id="start_img-6495" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6495">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6498"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6498" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use mavlink image transmission protocol. You can find more information in link below
<a href="http://qgroundcontrol.org/mavlink/image_transmission_protocol" rel="nofollow">http://qgroundcontrol.org/mavlink/image_transmission_protocol</a></p>

<p>You can also implement any ftp protocol and send packets via usart</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6498" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-6498">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6498" class = 'collapse'>
			</div>
				<textarea id = "speech-6498" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6498">
					<img id="start_img-6498" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6498">Comment</button>
			<br><div id = "ans-6504"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6504" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use UART Camera's that has inbuilt JPEG compression to capture JPEG images and send images to Microcontroller using UART. Here is an example of JPEG UART Camera :  <a href="http://www.watterott.com/en/JPEG-Color-Camera-UART-Interface" rel="nofollow">http://www.watterott.com/en/JPEG-Color-Camera-UART-Interface</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6504" data-toggle = "popover">
				<p>user name : Anto Dominic</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-6504">{'None': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6504" class = 'collapse'>
			</div>
				<textarea id = "speech-6504" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6504">
					<img id="start_img-6504" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6504">Comment</button>
			<br><div id = "ans-7426"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7426" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>the UART protocol it not really intended for images, each data packet is 11 bits, and can only contain 8 bits of data. This will take a really long time, even for the smallest of images.</p>

<p>I am sure there are libraries out these, or you could do it your own.</p>

<p>On the side with the jpg file, you should be able to iterate through the memory map of the image, transmitting 8 bits at a time. On the receiving end, you will then need to take and rebuild the raw file.</p>

<p>You have not specified an architecture of any kind, so I can not provide further information - but you should really look into compression before you transmit it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7426" data-toggle = "popover">
				<p>user name : Matt Clark</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-7426">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7426" class = 'collapse'>
			</div>
				<textarea id = "speech-7426" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7426">
					<img id="start_img-7426" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7426">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>