<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to decide links length of manipulator?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11373" class = "post">
			<h2>Question</h2>
			<div id="vote-11373" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 223</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to decide links length of manipulator?</h2>
<p>I'm working on pick and place robotic arm with 4 dof. I'm using MATLAB for inverse kinematics. But, I want to know how to decide links length. Say, I have four point in space upto where my robotic arm should reach i.e at upper most point, lower most point, extreme right point and extreme left point.I want theory or any approach so that I can calculate link length using these points.</p>

<p>Thanks.</p>

<p>Edit: Add picture of robotic arm.<a href="https://i.stack.imgur.com/CtdN6.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CtdN6.jpg" alt="enter image description here"></a> </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11373" data-toggle = "popover">
				<p>user name : Naseeb Gill</p>
				<p> user reputation : 62</p>
				<p class = "tagcontent" id = "usertaginfo-11373">{'None': 0, 'manipulator': 2, 'inverse-kinematics': 5, 'simulator': 0, 'arduino': 2, 'simulation': 2, 'servomotor': 1, 'kinematics': 1, 'matlab': 6, 'robotic-arm': 5, 'rotation': 1, 'forward-kinematics': 0, 'dynamics': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11373">Load Comments</button></br>
			<div id = "commentsection-11373" class = 'collapse'>
			<div id = "comment-20542" class = "comment">
				<p>Are you able to provide a a joint diagram ([Something like this](http://www.societyofrobots.com/images/robot_arm_simple.gif)) of what your robotic arm looks like?</p>
			</div>
			<div id = "comment-20546" class = "comment">
				<p>@AustinTronics Thanks for your time. As you asked me to send joint diagram so I edited my question accordingly. Please see it. Looking for your help. Thanks</p>
			</div>
			</div>
				<textarea id = "speech-11373" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11373">
					<img id="start_img-11373" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11373">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11392"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11392" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think there is a theoretically best set of link lengths for a set of end-effector poses.  Since inverse kinematics is typically only concerned with the ability or not of achieving the target pose.  So if you find a set that can achieve all 4 poses, then IK doesn't help much more.  </p>

<p><em>Best</em> means optimizing some metric.  <a href="https://robotics.stackexchange.com/questions/9228/evaluating-the-similarity-of-two-7-degree-of-freedom-arms/9230#9230">My answer to this question</a> lists a number of metrics you can use to evaluate a given arm configuration and compare it to another.  For example: distance from joint limits, manipulability measure, and condition number.  I'd also add the total power required from all your actuators (assuming your payloads and the weight of the arm are non-negligible).  <a href="https://robotics.stackexchange.com/questions/2889/static-equilibrium-for-7-dof-manipulator/2896#2896">My answer in this other question</a> describes some ways to do that.</p>

<p>So pick some link lengths and do some calculations, see how they compare, then repeat.  One word of caution though, some of these metrics can't really be directly compared across arms with different parameters.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11392" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-11392">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11392" class = 'collapse'>
			</div>
				<textarea id = "speech-11392" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11392">
					<img id="start_img-11392" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11392">Comment</button>
			<br><div id = "ans-11394"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11394" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree with Ben that there is no established algorithm which you follow and get the link lengths. </p>

<p>Fomrulating an optimization problem and then solving it is one of the viable solutions, as Ben suggested. </p>

<p>A bit more simplistic is just to rely on kinematic capablities, Joint positioning will be always a tradoff between positioning resolution of the end-effector and maximum velocity. The closer the joints are to the end-effector (and to eachother) the more postitioning resolution will the robot have. The further they are (and closer to the base) the faster it will be. </p>

<p>If you take a look at a 6 dof industrial robot like <a href="https://www.robots.com/media/articles/1460040132_1.png" rel="nofollow noreferrer">this</a>, you can see that the wrist joints are as close as possible to the endeffector, increasing positioning resolution. These are used to "compensate" for fine motions the first 3 axes cannot make. The first two axes are as close as possible to the base to give velocity. </p>

<p>I am aware that this effect is included in Bens answer, if you optimize for manipulability and load you will get the same effect, however, before formulating and solving a complex optimisation problem a bit of a trial and error experimetns may be helpful. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11394" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11394">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11394">Load Comments</button></br>
			<div id = "commentsection-11394" class = 'collapse'>
			<div id = "comment-20559" class = "comment">
				<p>Good point about velocities and the trade off with positioning.  I was mostly thinking about torques when I composed my answer.</p>
			</div>
			</div>
				<textarea id = "speech-11394" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11394">
					<img id="start_img-11394" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11394">Comment</button>
			<br><div id = "ans-11401"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11401" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There may not be a direct way, however, you can derive the forward kinematics to give you more insight in how the links are operating with respect to one another. I have worked out the forward kinematics below:</p>

<p><a href="https://i.stack.imgur.com/nRGO7.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/nRGO7.jpg" alt="enter image description here"></a></p>

<p>For this particular serial linkage robot, I locked joints 3 and 4 to stay at 0 degrees since this will maximize reach as far as possible (obtained by observation). </p>

<p>On the bottom right are the X, Y and Z equations. Just stick a point in 3D space that your wanting to reach in the X, Y, and Z variables.</p>

<p>Lets call (L2 + L3 + L4) = a</p>

<p>This will give you:</p>

<p>X = a*c1*c2</p>

<p>Y = a*s1*c2</p>

<p>Z = a*s2</p>

<p>Lets say I wanted to know what the cumulative link length should be if I wanted to reach point (300, 300, 300):</p>

<p>300 = a*c1*c2</p>

<p>300 = a*s1*c2</p>

<p>300 = a*s2</p>

<p>Because there are 3 equations and 3 unknowns, we could try systems of equations, after which I obtain:</p>

<p>Theta1 = 45</p>

<p>Theta2 = 35.2644</p>

<p>a = 519.615</p>

<p>Which means you can play around with link lengths L2, L3, and L4, but they must combine to equal 519.615.</p>

<p>Note: Because we are dealing with something as nonlinear as sines and cosines, there may be more solutions to the equation than what I provided.</p>

<p>Overall, messing around with the end equation I provided by selecting various points in 3D space you want to reach or selecting angles of interest for theta 1 and theta 2 is the best way I can think of to determine link lengths.</p>

<p>Another thought could be to use the equations I provided to create an ellipsoid/sphere that touches your farthest points you can reach based on your link lengths; don't know quite how I would go about doing that of the top of my head though.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11401" data-toggle = "popover">
				<p>user name : AustinTronics</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-11401">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11401">Load Comments</button></br>
			<div id = "commentsection-11401" class = 'collapse'>
			<div id = "comment-20563" class = "comment">
				<p>Thanks for your reply. I'm looking into this problem with your suggested approach. But, I have few queries like what is the meaning of e1or e3 which you used in forming transformation matrix. second thing is that, you missed 'l1' length in your DH parameters. I used standard method to calculate DH table and I think you used modified one. But, I got slight different x, y and z expression from your x, y and z expression. I got (th1+th2+th3) expression in my x and y values. It will be helpful if you post your full transformation matrix so that I can recheck my calculations. Thanks.</p>
			</div>
			<div id = "comment-20568" class = "comment">
				<p>e1 and e3 are basis vectors representing x and z axes. check out [a tutorial I made](https://youtu.be/rvqdJkrzyKY?list=PLJtm2YNbaY4_rQApwht0ia5r_sx3vaSxv) to understand my notion better. I did not miss L1, and as far as I know, I'm not using a modified DH approach; that doesn't mean we cant get separate answers. DH was made in part to reduce the variables it takes to describe transformations so naturally I made my base frame at joint 1 (in pic) therefore eliminating L1, among other things, in my equation. You can get the full transformation by multiplying all rot and trans matrices together.</p>
			</div>
			<div id = "comment-20570" class = "comment">
				<p>Correction: I made my base frame at **joint 2** (in pic) therefore eliminating L1, not joint 1.</p>
			</div>
			<div id = "comment-20574" class = "comment">
				<p>But L1 is necessary to go in z direction i.e to attain height. Acc. to me Z = L1 + (other exp.). Also, I think in your equation X should be equal to L2*C1*C2 + L3*C1*C23 + L4*C1(C2*C34-S2*S34). There should be bracket in third term. I'm new to this, So I may be wrong also. One more thing, I saw your videos (thanks for that very informative) and find  out that rotation matrix about x axis in your videos is equal to rotation matrix about z axis in other study material. Why so?</p>
			</div>
			<div id = "comment-20575" class = "comment">
				<p>Good catch, I missed the brackets on the X and Y equations; I updated the picture accordingly. However, this doesn't change the equations after setting theta 3 and 4 to 0. As for L1, "Z = L1 + (other exp.)" _would_ be necessary if I made the base frame (coordinate 0 in picture) on the ground at joint 1. However this isnt the case since I decided my base frame goes on joint 2, taking L1 completely out of the equ. Im not quite sure why your reference material flipped x and z rotations, I have only seen it referenced the way I showed. [Here's a wiki](https://en.wikipedia.org/wiki/Rotation_matrix)</p>
			</div>
			<div id = "comment-20578" class = "comment">
				<p>In your video at 2:25, your rotation matrix about x is [c1 -s1 0; s1 c1 0; 0 0 1] where wiki link which you provide, show rotation matrix about x is [1 0 0; 0 c1 -s1; 0 s1 c1] and in same link rotation matrix about z is [c1 -s1 0; s1 c1 0; 0 0 1]. That's why I have a doubt. It will be helpful to me if you explain why this difference? Also, I'm putting x,y and z points with respect to base of robot . So,  acc. to me robot reach at wrong coordinates if we eliminate L1.</p>
			</div>
			<div id = "comment-20579" class = "comment">
				<p>Your right, I didn't realize the overview at 2:25 has x and z flipped. At 1:00 I go over the correct rotation matrices. I will edit the video and repost, thanks for catching that. Must you have your frame 0 at the base of your robot? Why can't you physically move it to joint 2 like I did with my fwd kin? It's not uncommon for the frames to be offset from what the joints they are representing, especially since it makes the equations less complex. The way I have it, L1 can be any length and it won't change anything since everything is with respect to after the first link.</p>
			</div>
			<div id = "comment-20580" class = "comment">
				<p>As a general rule of thumb, you can slide up or slide down a frame to a joint as long as the axis of rotation of that joint is in line with the proceding/preceding link.</p>
			</div>
			<div id = "comment-20585" class = "comment">
				<p>Here is an updated video that corrects the error: [Robotics: Transformation Matrices - Part 2](https://youtu.be/HOv2DTaw38U?list=PLJtm2YNbaY4_rQApwht0ia5r_sx3vaSxv)</p>
			</div>
			<div id = "comment-20586" class = "comment">
				<p>Thanks, now its ok, otherwise it may confuse someone.</p>
			</div>
			<div id = "comment-20587" class = "comment">
				<p>Agreed. I'm currently working on another tutorial based on fwd/inv kinematics of serial linkage robots, DH tables, etc. There seems to be several people who could benefit from something like that. The resources online about this stuff seem to makes things overly complicated.</p>
			</div>
			</div>
				<textarea id = "speech-11401" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11401">
					<img id="start_img-11401" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11401">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>