<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make door opening to the top
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7708" class = "post">
			<h2>Question</h2>
			<div id="vote-7708" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 95</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make door opening to the top</h2>
<p>I need to make this construction (door is closed by default, door is opened to the top). This is the scheme:</p>

<p><img src="https://i.stack.imgur.com/BL5iw.jpg" alt="enter image description here"></p>

<p>Red rectangle on the picture is the aperture, blue rectangle is the door (weight is about 0.5 kg), which moves top when door need to be opened. Green stripe on the picture is the rail for the door.</p>

<p>Which electrical engine should I use?</p>

<p>Estimated time of door opening is about 10 seconds, I want to send signal to up the door, it should be drop down when power is lost or I should send a signal to drop it down.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7708" data-toggle = "popover">
				<p>user name : asiniy</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-7708">{'None': 0, 'raspberry-pi': 2, 'arduino': 1, 'design': 2, 'beagle-bone': 1, 'actuator': 2, 'electronics': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7708">Load Comments</button></br>
			<div id = "commentsection-7708" class = 'collapse'>
			<div id = "comment-11196" class = "comment">
				<p>1:How heavy is the door? 2:How fast does it need to open? 3:How much space do you have available to mount the actuator? 4:How are you planning to interface with (signal up/down/stop) the actuator? 5:What power source are you planning on using?  6:If power is lost, should the door be allowed to fall or should the actuator lock in place (may prevent you from being able to close the door)? 7: Is there any particular reason you are [not using a commercial door opener?](https://www.google.com/search?q=garage+door+motor+system&tbm=shop&sboxchip=Shopping)</p>
			</div>
			<div id = "comment-11209" class = "comment">
				<p>1. Door weight is about 0.5 kg
2. About 10 seconds
3. A lot of space
4. I think about signal up
5. I can use any power source by using the transistors
6. No. I think, it should drop down when power is lost
7. They are too big and too powerful, I need just a small engine</p>
			</div>
			<div id = "comment-11210" class = "comment">
				<p>asiniy, please edit your question and include that info in it instead of leaving it in a comment</p>
			</div>
			<div id = "comment-11213" class = "comment">
				<p>@jwpat7 edited.</p>
			</div>
			<div id = "comment-11215" class = "comment">
				<p>ok, upvoted....</p>
			</div>
			</div>
				<textarea id = "speech-7708" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7708">
					<img id="start_img-7708" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7708">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7755"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7755" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Could be done in a number of ways. Your ultimate aim is the linear motion of the door. </p>

<p>You could use an elevator style counter-weight mechanism where a cable is strung over a couple of pulleys and a motor rotates one of these pulleys. This is pretty power efficient, doesn't need to take up a lot of physical space and can be done very cheaply.</p>

<p>Alternatively you could attach a toothed rack to the side of the door and use a rack and pinion setup but this can be a bit costly since gears are expensive.</p>

<p>Either way, the core of your design will most likely be a rotary motor - most likely a servo motor or a stepper motor. Control one of these with an Arduino and you're set. Arduino have online <a href="https://www.arduino.cc/en/Tutorial/MotorKnob" rel="nofollow">documentation</a> to get you up and running and you can buy stuff from <a href="https://www.pololu.com/" rel="nofollow">Pololu</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7755" data-toggle = "popover">
				<p>user name : Tomsai</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7755">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7755" class = 'collapse'>
			</div>
				<textarea id = "speech-7755" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7755">
					<img id="start_img-7755" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7755">Comment</button>
			<br><div id = "ans-7976"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7976" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Using an engine is an exaggeration. Try using a high torque rotary motor, if it isn't enough introduce some gears to increase torque, though the speed might get slower.</p>

<p>But basing on your comment, your door only weighs 500 grams, so a medium torque stepper should do the job, or a medium torque servo motor, or a medium torque dc motor with a limit switch. (By medium, I mean enough to lift more than half a kilo but not necessarily a whole kilo).</p>

<p>Given the missing information, I think the  most ideal would be a stepper motor with a pulley-like system. Since you never told us the depth of the aperture and the height of the gap to be created then we can't easily call on a servo.</p>

<p>Regarding the transistor, you might wanna use a transistor to power a relay and not directly power the motor. A transistor might be faster and smaller than the relay but it isn't built to power mechanical systems unlike a relay. Though a relay should be easier to wire.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7976" data-toggle = "popover">
				<p>user name : kdyz</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-7976">{'None': 1, 'laser': 4, 'microcontroller': 4, 'design': 4, 'sensors': 4, 'electronics': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7976" class = 'collapse'>
			</div>
				<textarea id = "speech-7976" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7976">
					<img id="start_img-7976" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7976">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>