<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to communicate Ardupilot with Arduino
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11088" class = "post">
			<h2>Question</h2>
			<div id="vote-11088" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 108</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to communicate Ardupilot with Arduino</h2>
<p>Can anyone tell me if it is possible to send data through the analogue pins of the Ardupilot to the analog pins of the Arduino? 
For example, I would like to trigger a button on a channel from my radio control and Ardupilot should send a specific number to the Arduino. Would anyone have any idea how I can do this?
Thank you in advance.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11088" data-toggle = "popover">
				<p>user name : Cassio</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11088">{'None': 0, 'ardupilot': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11088">Load Comments</button></br>
			<div id = "commentsection-11088" class = 'collapse'>
			<div id = "comment-19987" class = "comment">
				<p>You could use the servo pinouts for the camera/ additional sensor for this. You would need to map the pulse corresponding to your "trigger" on the transmitter to a specific value on the Arduino. This is pretty simple, come to think of it- you are sending a servo signal from the Ardupilot and receiving it on the Arduino.</p>
			</div>
			</div>
				<textarea id = "speech-11088" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11088">
					<img id="start_img-11088" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11088">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11335"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11335" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Specific number? no. there will be some inaccuracy.</p>

<p>Also note that your servo output is a period of time at high voltage, then a long gap at ground. So if you just use analogRead then you will only ever get high or low value (seemingly at randomly as your Arduino and ardupilot drift in and out of phase).
You would have to (unless there already exists a library) time the ms the channel stays high for.
Or you could try and smooth this signal with a capacitor and use analogRead as normal (very inaccurate BTW, but could easily determine an on/off signal from a transmitter).</p>

<p>Alternatively, use I2C, this will allow you to send precise data between your 2 devices. But you will have to find out how to instruct your Ardupilot on what to send over the I2C bus.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11335" data-toggle = "popover">
				<p>user name : Nytonial</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11335">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11335" class = 'collapse'>
			</div>
				<textarea id = "speech-11335" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11335">
					<img id="start_img-11335" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11335">Comment</button>
			<br><div id = "ans-11828"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11828" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The best way to achieve this would be with RC channel pass through, you can configure any channel from 7-14 for <a href="http://ardupilot.org/copter/docs/parameters.html#servo8-function-servo-output-function" rel="nofollow noreferrer">RC passthrough</a> (technically you can configure lower channels for this but this can cause weird things to happen as they might be sharing your pitch/roll/yaw/throttle/mode setting) You can then read in the servo value on the arduino with the <a href="https://www.arduino.cc/en/Reference/pulseIn" rel="nofollow noreferrer">pulseIn</a> function, Ideally the servo output should be very accurate but for robustness I would have 10  s ranges, allowing you to have over 100 unique outputs. As a bonus you can use the <a href="http://ardupilot.org/copter/docs/common-mavlink-mission-command-messages-mav_cmd.html#mav-cmd-do-set-servo" rel="nofollow noreferrer">Do_Set_Servo</a> command using pre programmed missions to activate your arduino at specific waypoints.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11828" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-11828">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11828" class = 'collapse'>
			</div>
				<textarea id = "speech-11828" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11828">
					<img id="start_img-11828" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11828">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>