<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to stabilize a quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1209" class = "post">
			<h2>Question</h2>
			<div id="vote-1209" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 11779</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to stabilize a quadcopter</h2>
<p>Today was my quadcopter's first "flight". I'm running megapirate on a Crius AIOP v2 with a Turnigy Talon v2 frame.</p>

<p>I only touched the throttle stick on my remote, nothing else. When I felt the quadcopter was about to take off, I pushed the throttle just a little bit more, and the quadcopter oscillated 2 or 3 times and the just flipped over, landing on the propellers.</p>

<p>So, I broke 2 props, my frame feels a bit loose, I'll probably have to tighten the screws (I hope...). How can I tune the software so it will stabilize nicely after take off?</p>

<p>Edit :<br>
I don't know if it was true oscillation or just random air flows making it unstable. I made some more tests yesterday and it was quite OK (even if I crashed a few times). This time, it was really oscillating but it was quite windy outside and the quadcopter managed to stabilize after all. So i'll probably have to tune my PIDs and find a way to do it without crashing.</p>

<p>Edit 2 : After some PID tuning, I managed to stabilize my quadcopter pretty well but it's still oscillating just a little bit. I guess I'll have to slightly change the values to get a perfect stabilization.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1209" data-toggle = "popover">
				<p>user name : mimipc</p>
				<p> user reputation : 240</p>
				<p class = "tagcontent" id = "usertaginfo-1209">{'quadcopter': 11, 'stability': 9, 'None': 4, 'battery': 5, 'bec': 2, 'brushless-motor': 3, 'esc': 2, 'electronics': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1209">Load Comments</button></br>
			<div id = "commentsection-1209" class = 'collapse'>
			<div id = "comment-2733" class = "comment">
				<p>Well, this is highly dependent on the software itself. If your copter didn't come with instructions for this, then you are in for a rough time. Ours did and it still crashed 1/3 times.</p>
			</div>
			<div id = "comment-2734" class = "comment">
				<p>This sounds like you might have your wires crossed, we would need more info to know for sure though. I remember someone telling me once that they has to be very careful about connecting up their motors otherwise it would flip.</p>
			</div>
			<div id = "comment-2735" class = "comment">
				<p>That's what I was thinking too, because when it starts to tilt, maybe the wrong motor is used to put it back to the right position. So I took away the props and held the quad in the air, and when I made it tilt, it seems the motor turning faster was the good one, so it's hard to tell. And I've followed the megapirate guide for motor connections for a QuadX quadcopter : (LFW -> D2, RBW -> D3, RFC -> D5, LBC -> D6). The motors are spinning the right way (I had to reverse some of the ESCs with the programming card). I'll make some more tests, but it's quite hard to tell...</p>
			</div>
			<div id = "comment-2740" class = "comment">
				<p>"Oscillated 2 or 3 times" makes it sound like it might be an overcorrection issue. Maybe you just need to adjust some feedback parameter?</p>
			</div>
			<div id = "comment-2752" class = "comment">
				<p>Thanks for the additional information *mimipc*, but it would be better to add that info to your question by editing it, that way we can tidy up (delete) these comments, so they don't distract people from your question.</p>
			</div>
			<div id = "comment-2754" class = "comment">
				<p>Feel free to answer your own question with details of what you did to improve your stability. I'm sure that lots of people would like to avoid breaking their own props when first flying their own quadcopter.</p>
			</div>
			<div id = "comment-2756" class = "comment">
				<p>I will. I now have videos of what I was describing, so I'll put them with my answer ;)</p>
			</div>
			<div id = "comment-9625" class = "comment">
				<p>I cant seem to get my quad to stop wobboling in flight, what does this mean???
I have all of the pi editor settings on the kk.2 board set to default and it should work but instead it wobbles out of control in flight????</p>
			</div>
			</div>
				<textarea id = "speech-1209" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1209">
					<img id="start_img-1209" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1209">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1216"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1216" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The answer to the larger question here is that when running the initial test of any vehicle that has the capability to harm itself, it should be sufficiently restrained until you are satisfied that it can be kept under control.</p>

<p>In the case of a quadcopter, this would involve tying a bit of string to the corners, leaving enough slack so that it can rise 6-12 inches, but not enough slack for it to flip over.
<a href="http://prototypes.free.fr/p1127/p1127-1.htm" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/H0PBQ.jpg" alt="Harrier testing"></a></p>

<p>Once you do that, you'll be able to test and troubleshoot with impunity.  Being scared to run a test is the fastest way to run no tests and get nothing done.</p>

<p>If you're suspicious of random air flows being to blame, you can try taking off from a wire mesh instead of a solid surface.  Try swapping the motor polarity on purpose, just to see how that affects the behavior.  Every experiment you can run in the controlled environment to understand the parameters of the system will help you troubleshoot more complicated control problems that arise later.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1216" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1216">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1216">Load Comments</button></br>
			<div id = "commentsection-1216" class = 'collapse'>
			<div id = "comment-2745" class = "comment">
				<p>Thanks for this great answer. I was thinking about restricting my quadcopter for test purposes and let it flip only on one axis with the other one attached to two solid blocks.</p>
			</div>
			<div id = "comment-2757" class = "comment">
				<p>Absolutely.  You may want to work with strings only (no flat surface) for now -- don't introduce the takeoff/landing effects until after you've got the free-space flight control figured out.</p>
			</div>
			</div>
				<textarea id = "speech-1216" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1216">
					<img id="start_img-1216" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1216">Comment</button>
			<br><div id = "ans-2292"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2292" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Something you can do <strong>WRONG</strong> to very easily unstabilize a quadcopter is to put the wrong propeller on the wrong motor. There are both pushers and pullers, and depending on the configuration you choose, you need the right type. Its possible you had two of them swapped. When they broke, you got the new ones on properly.</p>

<p><a href="http://copter.ardupilot.com/wiki/connecting-your-rc-input-and-motors/">This page</a> really helped me. <a href="http://diydrones.com/forum/topics/copter-propellers-rotation-incorrect?commentId=705844%3aComment:1146618">This one</a> has some good info too.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2292" data-toggle = "popover">
				<p>user name : kmort</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-2292">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2292" class = 'collapse'>
			</div>
				<textarea id = "speech-2292" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2292">
					<img id="start_img-2292" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2292">Comment</button>
			<br><div id = "ans-6726"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6726" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would suggest that you build a rig that constricts the quadcopter to rotating along just one axis. Either roll or pitch. Then you need to tune the roll/pitch controller independently. I would suggest using zeigler nichols to tune the PIDs. Once you tune roll/pitch you can move onto yaw </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6726" data-toggle = "popover">
				<p>user name : Ozymandias</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-6726">{'quadcopter': 7, 'control': 4, 'None': 6, 'tuning': 1, 'accelerometer': 1, 'arduino': 3, 'battery': 0, 'pid': 4, 'brushless-motor': 0, 'kinematics': 6, 'imu': 1, 'gyroscope': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6726">Load Comments</button></br>
			<div id = "commentsection-6726" class = 'collapse'>
			<div id = "comment-9652" class = "comment">
				<p>Even if my question is quite old, I can confirm that this helped me a lot. I made a rig with a thin and long metal bar that could go through my frame. The quadcopter was able to freely rotate around the bar on one axis so I could tune the props on the other axis.</p>
			</div>
			</div>
				<textarea id = "speech-6726" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6726">
					<img id="start_img-6726" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6726">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>