<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I model a robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-436" class = "post">
			<h2>Question</h2>
			<div id="vote-436" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 311</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I model a robot?</h2>
<p>The answers I received to the question on <a href="https://robotics.stackexchange.com/questions/361/programming-a-line-following-robot-with-reinforcement-learning">training a line following robot using reinforcement learning techniques</a>, got me to think on how to train a robot. I believe there are essentially two ways -</p>

<ol>
<li>Train the physical robot.</li>
<li>Model the robot and simulate the training.</li>
<li>Did I miss something?</li>
</ol>

<p>Approach 2 is definitely the better approach. However, a priori knowledge of the motion (response), a certain PWM signal (stimulus) would cause when the robot is in a given state is required. The motion caused by a PWM signal may depend on the (<strong>1</strong>) current battery voltage, (<strong>2</strong>) the mass of the robot and the (<strong>3</strong>) current velocity (did I miss something?).</p>

<p>How do I model such a robot? And how do I model it quick? If I change the battery or add a few boards and other peripherals and change the mass of the robot, I would have to remodel and retrain the robot. Can I do this by providing some random stimulus PWMs and measuring the response?</p>

<p><strong>added:</strong> My related <a href="https://dsp.stackexchange.com/questions/6006/how-do-i-compute-the-imuplse-response-of-a-robot">question in dsp.SE</a></p>

<p><strong>Update:</strong> A suggested edit to the title by <a href="https://robotics.stackexchange.com/users/350/ian">Ian</a> worth mentioning - "<em>How do I model train a robot so that if its dynamics change, it does not need complete re-training?</em>" I think this is a good question too but different from the one I am asking here. I am okay with re-training for now.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-436" data-toggle = "popover">
				<p>user name : Lord Loh.</p>
				<p> user reputation : 317</p>
				<p class = "tagcontent" id = "usertaginfo-436">{'None': 2, 'accelerometer': 8, 'inverse-kinematics': 5, 'line-following': 12, 'artificial-intelligence': 12, 'deduced-reckoning': 8, 'reinforcement-learning': 26, 'machine-learning': 17, 'sensors': 8, 'pwm': 9, 'navigation': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-436">Load Comments</button></br>
			<div id = "commentsection-436" class = 'collapse'>
			<div id = "comment-488" class = "comment">
				<p>There are lots of great questions here. In fact it might be better to split this into multiple questions.</p>
			</div>
			<div id = "comment-489" class = "comment">
				<p>How do you suggest I do that without loosing the background? I already split a part of my question into dsp.SE</p>
			</div>
			<div id = "comment-490" class = "comment">
				<p>You basically have two questions going on here. The first being, how do I model a robot? The second being, how do I train a robot given a model and a learning algorithm? It seems to me these could be two separate questions.</p>
			</div>
			<div id = "comment-491" class = "comment">
				<p>You are right. The question that appears as how to train a robot was intended to be rhetorical. I think I will try to edit it out.</p>
			</div>
			<div id = "comment-492" class = "comment">
				<p>In that case I'll wait to see your edits before I attempt to answer your question.</p>
			</div>
			<div id = "comment-493" class = "comment">
				<p>Well, I just removed the question mark after 'got me to think on how to train a robot' :-( . I could not figure out much on how to change the wording without altering the meaning.</p>
			</div>
			<div id = "comment-562" class = "comment">
				<p>Just a note, when splitting a question, you can always refer to a previously asked question for context.</p>
			</div>
			<div id = "comment-2067" class = "comment">
				<p>I'll just throw out a link a ran across. I do not feel like formatting an answer and I have not looked into it; (but someone in the future might) http://www.blendernation.com/2013/01/22/morse-lowpoly-challenge/#utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+Blendernation+%28BlenderNation%29</p>
			</div>
			</div>
				<textarea id = "speech-436" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-436">
					<img id="start_img-436" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-436">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-444"  class = "post">
				<h2>Answer</h2>
			<div id="vote-444" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As I see it there are two main questions here. The first is, how do I model a robot? This is frequently done with a <a href="http://en.wikipedia.org/wiki/State_space" rel="nofollow">state-space</a> formulation of the <a href="http://en.wikipedia.org/wiki/Equations_of_motion" rel="nofollow">equations of motion</a>. The exact equations depend on the physical construction of your robot. Yes, in order to model them with PWM input then you need to determine the transfer function from the PWM values you supply to the output of your actuators. Then you plug that function in for the control signal in your model. Again the derivation of this function is robot specific. The current battery voltage and the mass of the robot would likely be useful but I don't know about the velocity.</p>

<p>The second question is, given a mathematical model of my robot, what is the best way to train a reinforcement learning (RL) algorithm to control it? In short there is no one best way. Training directly on the robot tends to be time consuming because it takes the robot longer to execute trials. Simulations however can result in policies that are less accurate because the physics of the simulation are necesssarily simplified. Another approach is to train the learner in simulation to get a reasonable approximation and then transfer the resulting policy to the robot for further refinement. This of course fails if the model is not sufficiently accurate. It also requires extra development.</p>

<p>Finally you ask "Can I [remodel and retrain the robot] by providing some random stimulus PWMs and measuring the response?" In the case of RL there is no reason to think the new optimal policy is anything like the previous optimal policy and as such there isn't much reason to think a few random controls will supply sufficient information to change the policy appropriately. Of course retraining only needs to occur if the changes you make to your robot affect the formulation of the state-space model and/or the action model that you use. For instance, if your action model is in terms of high level actions ("go-left", "go-right", "go-forward") then changing the dynamics requires changing how you implement these motions but the policy should still hold.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-444" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-444">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-444" class = 'collapse'>
			</div>
				<textarea id = "speech-444" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-444">
					<img id="start_img-444" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-444">Comment</button>
			<br><div id = "ans-823"  class = "post">
				<h2>Answer</h2>
			<div id="vote-823" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For modeling the kinematics <a href="http://en.wikipedia.org/wiki/Denavit%E2%80%93Hartenberg_parameters" rel="nofollow"><code>Denavit Hartenberg parameters</code></a> are commonly used.
the course Introduction to Robotics provided by Stanford University is available on <a href="http://www.youtube.com/view_play_list?p=65CC0384A1798ADF" rel="nofollow">YouTube</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-823" data-toggle = "popover">
				<p>user name : Johan Larsson</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-823">{'None': 1, 'linear-bearing': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-823" class = 'collapse'>
			</div>
				<textarea id = "speech-823" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-823">
					<img id="start_img-823" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-823">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>