<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How Can I Measure the Torque Value of a Servo?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2676" class = "post">
			<h2>Question</h2>
			<div id="vote-2676" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2605</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How Can I Measure the Torque Value of a Servo?</h2>
<p>I know there must be a "tool" that can measure oz-in of torque.  I do not want to trust what the servo manufacturers state on their site for torque values so I want to test them for myself.</p>

<p>Anyone know what tool I can use to do this?  I have used fishing scales before, but I need something more sensitive than that and my units are pretty small such as around 20 oz-in.</p>

<p>Thanks.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2676" data-toggle = "popover">
				<p>user name : RC Hobbyist</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-2676">{'None': 0, 'servos': 2, 'rcservo': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2676">Load Comments</button></br>
			<div id = "commentsection-2676" class = 'collapse'>
			<div id = "comment-5036" class = "comment">
				<p>20 oz-inch is equal to 1.44 kg-cm. Why are you considering that "small"? Can't you just place a weight on a scale and use the servo to lift it and then see how weight it subtracted? Just be careful of course not to leave the servo like that for too long.</p>
			</div>
			<div id = "comment-5039" class = "comment">
				<p>I don't have a bunch of different weights to check different size servos.  And I really want to see how much torque the servo is pulling along its travel.</p>
			</div>
			<div id = "comment-5041" class = "comment">
				<p>A torque wrench?</p>
			</div>
			<div id = "comment-5042" class = "comment">
				<p>You forgot to add a smiley face.  I was hoping to get a viable solution to this problem.  I really need to be able to check to see if the servos I am using are up to the task.  I would prefer to test my servos rather than relying on manuf. data.  But then again, doesn't everyone want to verify their equip?</p>
			</div>
			<div id = "comment-5043" class = "comment">
				<p>@RCHobbyist, you don't need different weights, you just place one that is certainly heavier than the servo can lift, it will pull it up with the maximal force it can produce which will in turn reduce the weight information on the scale.</p>
			</div>
			<div id = "comment-5045" class = "comment">
				<p>@RCHobbyist If you're buying from a reputable vendor you can usually trust the number.  A designer will often take some extra margin anyways.  I'm sure there are tools, did you try to Google "torque meter", "torque sensor", "torque indicator"?  A high quality tool is probably going to be expensive though.  Perhaps the smaller dial indicator torque wrenches can actually do the trick as well (but they're also not super accurate).</p>
			</div>
			<div id = "comment-5046" class = "comment">
				<p>E.g. tool: http://www.imada.com/torque-testers/torque-gauge/ 0.01 oz-in resolution should be good enough?</p>
			</div>
			<div id = "comment-5047" class = "comment">
				<p>What are you trying to measure?  Rated torque?  Stall torque?  Something else?</p>
			</div>
			<div id = "comment-5048" class = "comment">
				<p>@ Guy, that's nice but how can I hook that up to a servo arm?  @ Brad, I am trying to measure the torque while monitoring current draw.  In use torque to answer your question.  @ Damjan, I mentioned multiple weights because I plan on testing different size servos hence the multiple torques.  Let's go back to the 20 oz-in servo.  If I use a 22 oz weight and it lifts it, what then?  If I use a 30 oz weight would it simply not lift it at all?  I can't see it lifting 20 oz of its 30 oz weight.  This is quite a dilemma I have.  I really would like to do this testing but I am thinking its a no go.</p>
			</div>
			<div id = "comment-5055" class = "comment">
				<p>@RCHobbyist You don't hook it up to an arm.  You hook it up to the shaft.  You're measuring torque, not force.</p>
			</div>
			<div id = "comment-5057" class = "comment">
				<p>Whoa, this is very enlightening.  So this is how the servo manufacturers are measuring their torque values on their servos?  It really changes my whole test setup and I wasn't prepared for this.  I'm not sure if I should be happy now that I know this or not.  I actually thought this would be much simpler and cheaper to do.</p>
			</div>
			<div id = "comment-5058" class = "comment">
				<p>@RCHobbyist, I'm an engineer who designs electric motors.  I don't have a lot of time now to give you an answer but I will leave a longer one tonight that will give you some ideas, maybe.  Motor manufacturers use a test device called a dynamometer to measure torque.  They are expensive so it isn't really an option for you, I assume.</p>
			</div>
			</div>
				<textarea id = "speech-2676" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2676">
					<img id="start_img-2676" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2676">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2691"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2691" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One option for you if you are willing to spend ~ 100 dollars is a particle brake.  I just saw a 15 in-lb particle brake on ebay for 99 dollars.  If you search, you may be able to find a better deal.  You can couple a particle brake to your shaft and the torque that the brake applies is proportional to voltage.  Their torque is usually pretty linear with respect to voltage.</p>

<p>If you can't spend that much, then I don't have a lot of options for you.  But there are some checks you can do.  Start with checking winding resistance.  <strong>Measure the resistance between any 2 of the 3 motor leads</strong> and make sure it matches the manufacturer's spec.  Stall torque is proportional to resistance, so this is an important value.  I would suggest using a strobe or motor tachometer (~ 30 dollars).  <strong>Measure no-load speed and current.</strong>  Attach your motor to another motor and back drive the motor.  Take an oscilloscope and look at the waveform between any 2 of the 3 motor leads.  <strong>Measure the peak voltage and record the speed at the time of the measurement.</strong>  The speed (in RPM) divided the peak voltage should give you the motor's Kv value.  The peak voltage divided by the speed (in RPM) should give you the motor's back-emf constant.  Even more important is if you take the peak voltage divided by the speed (in rads/sec), then you get a back-emf constant in Volts/(rad/sec) which is equivalent to your torque constant in Nm/A.  From your no-load current and your torque constant, you should be able to estimate what your torque is based on the current draw of your motor.   </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2691" data-toggle = "popover">
				<p>user name : Eric</p>
				<p> user reputation : 161</p>
				<p class = "tagcontent" id = "usertaginfo-2691">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2691">Load Comments</button></br>
			<div id = "commentsection-2691" class = 'collapse'>
			<div id = "comment-5063" class = "comment">
				<p>What's the tolerance on those brakes?  It's hard to imagine you can make an accurate measurement.  If you back-drive another motor you're relying on the second motor?  Surely you can't determine torque from resistance, as you say it depends on the motors' torque constant which in this question is not trusted.</p>
			</div>
			<div id = "comment-5064" class = "comment">
				<p>Measureing resistance just to make sure it matches what the manufacturer says.  Just a check.  As long as you can get an accurate speed measurement with a strobe or tach, that's all you need. I'm not sure what the accuracy of a particle brake is.  It probably depends on the size and manufacturer.  For a cheap alternative to a dyno its not a bad choice in my opinion.</p>
			</div>
			</div>
				<textarea id = "speech-2691" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2691">
					<img id="start_img-2691" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2691">Comment</button>
			<br><div id = "ans-2697"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2697" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are lots of ways of measuring torque from first principles.  Obviously the first problem is that you need a sensor, you have lots of options:</p>

<ul>
<li>You can use a torque sensor. ( e.g. imada.com/torque-testers/torque-gauge ) couple it directly to your shaft.  Drive your motor.  Read the sensor.  Your error would be the sensor's accuracy plus any errors introduced due to inaccurate coupling.</li>
<li>You can use some sort of force sensor.  Your scale is one example.  You mount an arm on the motor and you read the force at a given distance.  This gives you torque.  With a scale you want to: idle your motor, zero the scale with the weight of your arm on it, and then energize the motor (pushing on the scale) and read the scale.  Any zeroing error plus measurement error on the arm would eat into your accuracy.  Variations on this is putting a large weight on and driving up.  It's all the same principle.</li>
<li>You can use a position sensor.  Mount a large mass of known moment of inertia onto the motor and start driving it.  Take position measurements and differentiate them to find velocity and then acceleration.  From acceleration you can work back to torque given the moment of inertia inertia.  This has the advantage of being able to measure torque at speed. This is basically an inertia dynamometer.  You accuracy will depend on how accurately you know the moment of inertia of the system (including the shaft), you timing resolution, your position sensor resolution, friction potentially introduced by the sensor (e.g. an encoder) etc.</li>
<li>velocity sensor.  same princple as above.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2697" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-2697">{'None': 75}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2697" class = 'collapse'>
			</div>
				<textarea id = "speech-2697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2697">
					<img id="start_img-2697" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2697">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>