<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to find a smartphone with a quadcopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14025" class = "post">
			<h2>Question</h2>
			<div id="vote-14025" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 20</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to find a smartphone with a quadcopter?</h2>
<p>I think there are some quad-copter at the market those can find you from your smart phone. I don't know how accurate it is and how does it works? Is there a solution that I can build an android/ios application that quad-copter can find exactly the smart phone which has this app installed?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14025" data-toggle = "popover">
				<p>user name : user145959</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-14025">{'quadcopter': 0, 'None': 0, 'localization': 0, 'autonomous-car': 0, 'automatic': 0, 'gps': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14025" class = 'collapse'>
			</div>
				<textarea id = "speech-14025" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14025">
					<img id="start_img-14025" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14025">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14039"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14039" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can make an app that send the location of your phone, then you can use sensor fusion using Wi-Fi and IMU to enhance the precision.
But to locate people, like spying you only need Kali Linux, a few exploitables, you don`t need a drone.</p>

<p>I understood you want to build a drone that follows you. There are some you can buy, but DIY is more fun. </p>

<p>This can be modified to do what you want using ROS.</p>

<p><a href="https://github.com/trancept/ROS-Autonomous-Quadcopter-Flight" rel="nofollow noreferrer">https://github.com/trancept/ROS-Autonomous-Quadcopter-Flight</a> </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14039" data-toggle = "popover">
				<p>user name : Renan Monteiro</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-14039">{'control': 1, 'mobile-robot': 1, 'None': 1, 'ros': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14039" class = 'collapse'>
			</div>
				<textarea id = "speech-14039" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14039">
					<img id="start_img-14039" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14039">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>