<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I interface with a drone?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10387" class = "post">
			<h2>Question</h2>
			<div id="vote-10387" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 191</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I interface with a drone?</h2>
<p>I recently bought a <a href="http://www.snapdeal.com/product/flyers-bay-xdrone-evolution-24/1190637216#bcrumbSearch:drone" rel="nofollow">drone(quadcopter)</a>. I like how the drone works but now I would like to create an application that will allow me to control the drone remotely from my PC or Phone.</p>

<p>How does a computer or phone interface to an aerial vehicle?</p>

<p>Some of my initial thoughts were </p>

<ol>
<li>Get a RF detector and detect what signals are being sent to the drone and replicate it using a new transmitter.</li>
<li>Replace the control circuit in the drone with an Arduino and send corresponding signals to it to fly the drone</li>
</ol>

<p>Both these methods seem to be kind of far fetched and hard, but I'm not sure how this could otherwise be done.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10387" data-toggle = "popover">
				<p>user name : Nirmal Raj</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-10387">{'quadcopter': 2, 'radio-control': 2, 'None': 0, 'wireless': 2, 'software': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10387">Load Comments</button></br>
			<div id = "commentsection-10387" class = 'collapse'>
			<div id = "comment-18665" class = "comment">
				<p>Why you don't purchase drone that has  SDK?</p>
			</div>
			<div id = "comment-18666" class = "comment">
				<p>My college had already bought this so I am stuck with this...</p>
			</div>
			<div id = "comment-18668" class = "comment">
				<p>You should be able to find technical specifications on the web. Most drones use 2.4 GHz band and a proprietary protocol,</p>
			</div>
			<div id = "comment-19894" class = "comment">
				<p>Quite frankly - why? There are dozens of commercial UAV systems with iOS or Android apps for flight control. All are proprietary to some degree but have limited SDK or community resources for support. May I suggest that the Ardupilot/Pixhawk flight control system provides what you need? While your current UAV flight controller may not be suitable, it could be replaced by a Pixhawk (check 3DRobotics.com) with open source software and a very active support community behind it.</p>
			</div>
			<div id = "comment-20374" class = "comment">
				<p>@CroCo what the drones available with SDK?</p>
			</div>
			</div>
				<textarea id = "speech-10387" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10387">
					<img id="start_img-10387" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10387">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10389"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10389" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With a conventional RC vehicle, I would probably suggest getting your own receiver-transmitter set (something like XBEE transceivers or similar) and completely gutting the original system, but with a small quadcopter like you have, I think trying to replace the receiver would be very difficult to do while maintaining the aerodynamics of the vehicle. </p>

<p>You could try to <a href="http://www.instructables.com/id/Decoding-and-sending-433MHz-RF-codes-with-Arduino-/" rel="nofollow">monitor the control signals</a> and re-create them, but a third option you might consider would be to spoof the input devices on the transmitter. That is, as I see it, you could:</p>

<ol>
<li>Replace the transmitter-receiver pair (not recommended due to receiver form factor).</li>
<li>Spoof the transmitter output (requires purchasing another transmitter-receiver pair of the same frequency with which to line monitor and spoof). </li>
<li>Spoof the transmitter input. </li>
</ol>

<p>The last option is what I would recommend. Get a multimeter and check the joystick outputs. I would imagine they're just potentiometers; I would expect a battery V+, a battery ground, and an analog voltage output. Then all you would need to do is to duplicate that functionality. Best case scenario would be that analog voltage falls within the same band as an Arduino analog output, in which case you could just wire ground to Arduino ground and the analog output direct to the joystick analog output line (after you remove the joystick). </p>

<p>Failing that, you could buy digital potentiometers and duplicate the functionality. Depending on how clever you wanted to be (and how much space is available) you could install a USB port and a switch to jump between joystick and Arduino control and have a modified computer-capable transmitter that can also be controller by people. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10389" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10389">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10389">Load Comments</button></br>
			<div id = "commentsection-10389" class = 'collapse'>
			<div id = "comment-18667" class = "comment">
				<p>Define "spoofing" in this context.</p>
			</div>
			<div id = "comment-18687" class = "comment">
				<p>@Paul - I mean [spoofing](https://en.wikipedia.org/wiki/Spoofing_attack) as in duplicating the information protocol while inserting your own data. The article refers to "attacks" using the method, but the concept is the same. If you can operate on the same frequency of the transmitter, then you just need to know the range of messages the receiver is expecting. Same goes for the joystick inputs - if you know what data the transmitter is expecting from the joystick, then you could provide "fake" information in the same format and "trick" the transmitter into doing what you want.</p>
			</div>
			</div>
				<textarea id = "speech-10389" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10389">
					<img id="start_img-10389" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10389">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>