<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How does fast slam creates grid maps?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10941" class = "post">
			<h2>Question</h2>
			<div id="vote-10941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 105</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How does fast slam creates grid maps?</h2>
<p>I've implemented fast slam using landmark detection and the map stored is a feature map, made of landmarks positions. 
I would like to create a grid map, and my questions are about how does the robot create a grid map in slam:</p>

<ol>
<li><p>Another landmark class is used, or the occupancy grid is the landmark itself? In other words, the grid map generation is made separatly of the feature map?</p></li>
<li><p>About the alignment of the map with the previous maps measures, this is similar to the fast slam 2.0 due to the fast  that considers the robot pose and the measurement of t-1?</p></li>
</ol>

<p>Thanks in advance</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10941" data-toggle = "popover">
				<p>user name : Ricardo Achilles</p>
				<p> user reputation : 63</p>
				<p class = "tagcontent" id = "usertaginfo-10941">{'odometry': 0, 'None': 3, 'computer-vision': 0, 'occupancygrid': 0, 'localization': 0, 'particle-filter': 0, 'slam': 0, 'imu': 0, 'sensor-fusion': 0, 'mobile-robot': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10941">Load Comments</button></br>
			<div id = "commentsection-10941" class = 'collapse'>
			<div id = "comment-19708" class = "comment">
				<p>Do you want to use a gridmap for improving the state estimate, or just as an output of your best estimate of your feature based SLAM?</p>
			</div>
			<div id = "comment-19729" class = "comment">
				<p>I would like to leaen about the two ways, if possible</p>
			</div>
			</div>
				<textarea id = "speech-10941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10941">
					<img id="start_img-10941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10941">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10997"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10997" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe using a grid map will only decrease the accuracy of you estimates. I am assuming your feature map is basically a vector containing the position of each feature as real values. If you convert you feature to a grid map (occupancy grid), then you will be shifting every feature into a grid cell. This will result in a loss of resolution because the grid cells are discrete. To generate an occupancy grid, you need to first choose a resolution. So, let each cell represent a 1 meter by 1 meter area, and then you can simply assign a 1 to any cell containing a landmark and assign a 0 to any cell not containing a landmark.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10997" data-toggle = "popover">
				<p>user name : Ralff</p>
				<p> user reputation : 158</p>
				<p class = "tagcontent" id = "usertaginfo-10997">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10997" class = 'collapse'>
			</div>
				<textarea id = "speech-10997" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10997">
					<img id="start_img-10997" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10997">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>