<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to build a fast quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8486" class = "post">
			<h2>Question</h2>
			<div id="vote-8486" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1031</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to build a fast quadcopter</h2>
<p>im currently in a (risky) proyect that involves me building the fastest quad i can afford.</p>

<p>Im trying to get something close to this <a href="https://www.youtube.com/watch?v=xQon7OD5CnY" rel="nofollow">extremely fast warpquad</a></p>

<p>After reading a lot about quadcopters, as i know i can buy all this and it should fit together and fly without any problem.</p>

<pre><code>Motors: Multistar Elite 2306-2150KV
ESC: Afro Race Spec Mini 20Amp
Quanum neon 250 carbon racing frame(I love how it looks)
6Inch Props
CC3D flight controller
4S 1400mah 40-80C Battery
Any 6ch radio
</code></pre>

<p>My questions are, first if im wrong or im missing something as i had only read about it (thinking this is a common build for racer quad).</p>

<p>Then:</p>

<p>Will this overheat (bad consecuences) if i let it drain the full battery at 100% throttle?</p>

<p>Will this fly at least 4 minutes under the previous conditions?</p>

<p>Should i get a higher C-rating battery?</p>

<p>As i can't find better motors of that size, is the only way to improve its speed by putting a 6S battery? and what would happen if i do it?</p>

<p>Should i put the 6inch props or 4inch? I know 4inch should get faster rpm changes but will it be noticeable at this sizes?</p>

<p>And in general any tips to make it faster will be welcome.</p>

<p>Thanks. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8486" data-toggle = "popover">
				<p>user name : Nanoc</p>
				<p> user reputation : 77</p>
				<p class = "tagcontent" id = "usertaginfo-8486">{'quadcopter': 4, 'brushless-motor': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8486" class = 'collapse'>
			</div>
				<textarea id = "speech-8486" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8486">
					<img id="start_img-8486" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8486">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8498"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8498" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We lack of information to answer:</p>

<p>The max speed of your drone will be limited by your Thrust/Weight Ratio (not really, the maneuverability is, but your max speed is limited by the max thrust minus the hovering thrust, but I assume you want your quadrotor to be maneuverable) and the aerodynamic drag of your drone.</p>

<p>Any motor characteristic looks <a href="http://www.philohome.com/nxtmotor/nxtmotor.htm" rel="nofollow">like this one</a>. See efficiency vs torque and power vs torque. The is a peak efficiency and a peak power at 2 different torque.</p>

<p>If you wanted a long flight time, you would choose propellers with low torque, to use the motor at peak efficiency (but propellers with low torque may have a decreased figure of merit).</p>

<p>As you want max speed, you should choose propeller with higher torque, to use the motor at max power.</p>

<p>First, what is the speed/torque of the motor at max power ? We don't know, we need to know know load current and internal resistance of the motor. This would also allow us to get the torque constant of the motor, to check that current doesn't exceed 20A at max power. Btw, if you use a 6S battery, you'll just have more speed and torque. The motor may break due to over-speed, but it's more likely to overheat and burn, due to over-current.</p>

<p>What's the torque vs speed characteristic of your propeller ? I have no idea, I just know it's a 6 inch propeller.</p>

<p>Amateur drone design is very hard because parts sellers provide no spec. We can't do any serious engineering study without quantified data as input. Amateur drone community seems to work with a "buy, try, and share experience" methodology.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8498" data-toggle = "popover">
				<p>user name : Jacen</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-8498">{'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8498">Load Comments</button></br>
			<div id = "commentsection-8498" class = 'collapse'>
			<div id = "comment-13752" class = "comment">
				<p>Completely agree with that last part, cant find most technical details and there is a lot of different builds over internet, my main goal is to know how much can i load that "Mini monster" motors safely as it looks like there is no better motor to a 250 size. I will try to put more tech details.</p>
			</div>
			<div id = "comment-13753" class = "comment">
				<p>I work in drone design professionally, we've built a test bench to characterize off-the-shelf motors and propellers, we design our own propellers and modify motor designs to fit our needs. It's too expensive if you don't plan to build thousands of drones. I saw a low cost test bench [here](https://store.rcbenchmark.com/), but did not test it.</p>
			</div>
			</div>
				<textarea id = "speech-8498" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8498">
					<img id="start_img-8498" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8498">Comment</button>
			<br><div id = "ans-8506"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8506" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is a handy online Calculator I use to answer such questions. I tried with the data you provided (and had to lookup specs on your motors). I can offer the following insights, but I am only guessing about your model's all-up weight.</p>

<p>If we assume it is roughly 800g with 6x3 props:</p>

<ul>
<li>max speed: ~66km/h </li>
<li>additional payload: 934g (of course this will affect top speed)</li>
<li>mixed flight time: 3.9min</li>
</ul>

<p>Everything seems within spec with this data (ie. nothing will burn up, overheat, or be over or under driven)</p>

<p>It probably won't fly at all with 4 inch props (no matter what pitch).</p>

<p>Your flight time is quite low, you might consider a larger battery.</p>

<p>The calculator I used is <a href="http://www.ecalc.ch/xcoptercalc.php?ecalc&amp;lang=en" rel="nofollow">eCalc</a></p>

<p>I strongly recommend spending some time with a calculator like that and trying experiments by adjusting only 1 dimension at a time, say motors or battery or props to see what effect it will have on the model before settling on your particular setup. I think that choosing the best motors is always the hardest choice as there are a lot of variants. The calculator has a lot of predefined motor specs by brand/model so you can try different motors quickly. Not all brands are covered though so its good to have access to your motors actual specs if necessary.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8506" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-8506">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8506">Load Comments</button></br>
			<div id = "commentsection-8506" class = 'collapse'>
			<div id = "comment-13760" class = "comment">
				<p>Not aware of this kind of thing, love it, thanks.</p>
			</div>
			</div>
				<textarea id = "speech-8506" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8506">
					<img id="start_img-8506" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8506">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>