<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I communicate wirelessly between a RasPi and servo?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7067" class = "post">
			<h2>Question</h2>
			<div id="vote-7067" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 64</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I communicate wirelessly between a RasPi and servo?</h2>
<p>I want to use a Raspberry Pi to pan a camera mounted on a servo wirelessly from ~100 feet away. What are some good servos and transceivers for this?
To clarify, there should be no physical connection between the RasPi and servo.
Do I need an additional RasPi on the servo end?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7067" data-toggle = "popover">
				<p>user name : Richard</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-7067">{'wireless': 1, 'None': 0, 'raspberry-pi': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7067">Load Comments</button></br>
			<div id = "commentsection-7067" class = 'collapse'>
			<div id = "comment-10050" class = "comment">
				<p>If you are able to put a RPi on the servo end, then you can put a wifi dongle on each RPi and this becomes very easy.</p>
			</div>
			</div>
				<textarea id = "speech-7067" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7067">
					<img id="start_img-7067" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7067">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7071"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7071" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No matter what, you will have to have a device physically sending a <a href="http://en.wikipedia.org/wiki/Pulse-width_modulation" rel="nofollow">pulse width modulated</a> signal to the servo.  It doesn't necessarily have to be a raspberry pi, and honestly you probably shouldn't use one in this case.  Raspberry Pi's do not have a hardware implementation of PWM.  Software PWM is unreliable because of the precise timing needed for the motor.</p>

<p>I would recommend learning some Arduino as well in this case.  You can still have a RPi talking wirelessly via Radio Packet Communication (i.e. XBee, Bluetooth, 802.11, etc.) to the Arduino.  It will just take a little extra learning if you're not familiar with C coding and setting them up.</p>

<p>If you do want to go the double RPi route.  Look into using these for easy motor control: <a href="https://www.adafruit.com/products/2327" rel="nofollow">Adafruit 16-Channel PWM / Servo HAT for Raspberry Pi - Mini Kit</a></p>

<p>For a good explanation of software PWM and what can go wrong, watch this:
<a href="https://www.youtube.com/watch?v=ddlDgUymbxc" rel="nofollow">https://www.youtube.com/watch?v=ddlDgUymbxc</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7071" data-toggle = "popover">
				<p>user name : TomSchober</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-7071">{'actuator': 4, 'None': 6, 'raspberry-pi': 0, 'arduino': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7071" class = 'collapse'>
			</div>
				<textarea id = "speech-7071" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7071">
					<img id="start_img-7071" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7071">Comment</button>
			<br><div id = "ans-7072"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7072" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use rasp-pi, arduino ,servo and transceiver set (like nrf24l01 or XBee)</p>

<p>Wifi: 10-30m</p>

<p>Bluetooth: 10m</p>

<p>nrf24l01: 15m</p>

<p>XBee 1mW: 300ft </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7072" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7072">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7072" class = 'collapse'>
			</div>
				<textarea id = "speech-7072" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7072">
					<img id="start_img-7072" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7072">Comment</button>
			<br><div id = "ans-7074"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7074" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As TomSchober said,  you will need to send a PWM signal to your servo either way. Tom has already covered Arduino, so I'll make two other suggestions:</p>

<ol>
<li><p>Texas Instruments <a href="http://www.ti.com/tool/ez430-rf2500" rel="nofollow">MSP430 with a CC2500</a> radio (or maybe a newer version of this). It has a 2.4GHz radio with an antenna that you can configure to work as you like. The downside is it is harder to program than, say, an Arduino, but it is definitely doable. The kit is also kind of expensive. If you max out the signal strength, the range is fairly good. If you are interested, I can edit this post with a link to my github code for the radio.</p></li>
<li><p><a href="http://www.st.com/web/catalog/tools/FM116/SC959/SS1532/PF254044" rel="nofollow">STM32 Discovery</a> board. You would need to get a bluetooth or a Wi-Fi dongle for it, but it has hardware PWM. It is fairly easy to program - there is lots of application code available through STM, and it is quite inexpensive at about 12-20 dollars per board. You will also get a fairly capable ARM processor that you can use to do lots of fun stuff. The F3 variant that I linked comes with a build in accelerometer and gyro.</p></li>
</ol>

<p><strong>The only warning I would have is:</strong> make sure the servo can get sufficient current from whatever you use to power it. For example, connecting the servo power line of a high-torque servo directly to the STM32 power pins blows the power circuit of the board (<em>cough  cough</em>) - it is not a particularly hard fix, but still. If your camera is heavy enough and the servo is torque-y enough, I would recommend a separate power supply for the servo.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7074" data-toggle = "popover">
				<p>user name : Mewa</p>
				<p> user reputation : 149</p>
				<p class = "tagcontent" id = "usertaginfo-7074">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7074" class = 'collapse'>
			</div>
				<textarea id = "speech-7074" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7074">
					<img id="start_img-7074" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7074">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>