<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I measure the actual speed and distance traveled of the robot with an external setup?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8586" class = "post">
			<h2>Question</h2>
			<div id="vote-8586" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 343</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I measure the actual speed and distance traveled of the robot with an external setup?</h2>
<p>Good day to all.</p>

<p><strong><em>First of all, I'd like to clarify that the intention of this question is not to solve the localization problem that is so popular in robotics.</strong> However, the purpose is to gather feedbacks on how we can actually measure the speed of the robot with external setup. The purpose is to be able to compare the speed of the robot detected by the encoder and the actual speed, detected by the external setup.</em></p>

<p>I am trying to measure the distance traveled and the speed of the robot, but the problem is it occasionally experiences slippage. Therefore encoder is not accurate for this kind of application. </p>

<p>I could mark the distance and measure the time for the robot to reach the specified point, but then I would have to work with a stopwatch and then transfer all these data to Excel to be analyzed. </p>

<p>Are there other ways to do it? It would be great if the external setup will allow data to be automatically sent directly to a software like Matlab. My concern is more on the hardware side. Any external setup or sensors or devices that can help to achieve this?</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8586" data-toggle = "popover">
				<p>user name : goddar</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-8586">{'control': 3, 'None': 2, 'power': 0, 'arduino': 0, 'battery': 2, 'microcontroller': 0, 'wheeled-robot': 0, 'imu': 1, 'sensor-fusion': 1, 'mobile-robot': 4, 'electronics': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8586">Load Comments</button></br>
			<div id = "commentsection-8586" class = 'collapse'>
			<div id = "comment-13979" class = "comment">
				<p>What you are talking about is one of the most common problems in robotics: _localization_, and specifically the shortcomings of _interoceptive sensors_ performing _dead reckoning_ vs. _exteroceptive sensors_ where the environment provides information regarding the vehicle position in a global frame. This question might end up being closed because you should really be doing research elsewhere before asking here.</p>
			</div>
			<div id = "comment-13980" class = "comment">
				<p>Thanks for the feedback Brian. I know it's a hot topic in robotics. So could you please guide me so that I can edit the question before it is closed. I have a robot and I need to measure its actual performance, i.e speed. I know my robot experiences slippage, therefore I just need to document this discrepancy between what the encoder reads and its actual value in my report. Then I can discuss its performance. I'm not actually looking to solve the localization problem. It is how I can explain the performance of my robot in a report. If you were in my shoe, how would you do it in your report?</p>
			</div>
			<div id = "comment-13981" class = "comment">
				<p>I might write it out as an answer but essentially you want to talk about "dead reckoning" and where it fails -- start with Wikipedia ([here](https://en.wikipedia.org/wiki/Dead_reckoning)).</p>
			</div>
			<div id = "comment-13982" class = "comment">
				<p>Also [this](http://web.eecs.utk.edu/~leparker/Courses/CS594-fall08/Lectures/Nov-13-Localization-Mapping-I.pdf) could be helpful... or just start with [this](https://www.google.ca/search?q=what+is+the+problem+with+dead+reckoning&ie=utf-8&oe=utf-8&gws_rd=cr&ei=-HleVrXqHMS6ebPDiMgO#safe=off&q=robot+dead+reckoning+localization+error+why).</p>
			</div>
			<div id = "comment-13983" class = "comment">
				<p>My project is mainly about the tire design and I've read several journal papers and somehow, when they present the results, they manage to have 2 plots in a graph, which are the actual speed and speed obtained by encoders. Actually how did they do it? I can only imagine that they have another setup where an ultrasonic sensor is used to detect the distance and then the program can calculate the actual speed of the robot. Are there other ways? One of the papers suggested this: http://www.ndigital.com/msci/products/optotrak-certus/. But I can't afford this.</p>
			</div>
			<div id = "comment-13984" class = "comment">
				<p>Yes, exactly, that is what is meant by _interoceptive_ (sensing from within) versus _exteroceptive_ (sending from outside). To avoid dead reckoning errors from odometry you _need_ exteroceptive sensors -- if you pick up the robot it doesn't know it isn't touching the floor anymore so it just keeps integrating. Systems to give you accurate global positioning are not cheap and always difficult to configure properly, so don't be too discouraged.</p>
			</div>
			<div id = "comment-13985" class = "comment">
				<p>Yes, therefore we need an external setup to do this. That is actually the purpose of my question. What kind of external setup that will allow me to measure the actual speed reliably without the use of expensive equipments? Like I said, I can think of using an ultrasonic sensor to do this. Are there other better ways to do it?</p>
			</div>
			<div id = "comment-13987" class = "comment">
				<p>You could possibly command the robot to drive a given distance or path, then measure the true displacement with a measuring tape and protractor. That should be a decent comparison to the odometry (assuming this fits with your project scope). If you really wanted to get fancy then you should also quantify the uncertainty of that measuring tape and protractor. You might notice that many papers quoting an odometry estimate and showing a true measurement for comparison rarely state the uncertainty in that "true" measurement (except for maybe a mention of +/- X mm or something),</p>
			</div>
			</div>
				<textarea id = "speech-8586" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8586">
					<img id="start_img-8586" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8586">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8588"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8588" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a couple good options depending on the scale of your project for capturing a ground truth. </p>

<p>For large scale outside (cars or agricultural vehicles) <a href="http://www.swiftnav.com/piksi.html" rel="nofollow">RTK GPS</a> can be had for a very reasonable price.</p>

<p>For small scale you can probably make a poor-mans motion capture with OpenCV, ping-pong balls, and a few global shutter cameras (preferred if you can afford it) or even webcams.</p>

<p>If you have both no time and no money, make a grid on the floor with a builders chalk line, attach a marker (ping-pong ball on a stick) near to the floor (avoid abbe error), and take a video from above. Your pose estimates will be more precise than the stopwatch estimates you were thinking of.</p>

<p>Make sure to estimate and include the measurement error of your ground truth in the report. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8588" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8588">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8588">Load Comments</button></br>
			<div id = "commentsection-8588" class = 'collapse'>
			<div id = "comment-13988" class = "comment">
				<p>Actually, even easier would be to just put two markers on the vehicle at a known separation distance, then set up a laptop with a webcam and process that data directly in MATLAB. Make the markers a unique colour and you can easily find them automatically by considering the hue value. Since they are a known distance apart you can infer the true distance traveled without having to do a lot of math regarding the camera scene reconstruction. Note I am not making a new answer for this since @hauptmech is saying exactly this (but in a more professional lab setup).</p>
			</div>
			</div>
				<textarea id = "speech-8588" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8588">
					<img id="start_img-8588" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8588">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>