<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to measure robot's absolute accuracy?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14012" class = "post">
			<h2>Question</h2>
			<div id="vote-14012" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 22</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to measure robot's absolute accuracy?</h2>
<p>I'd like to measure a robot's absolute accuracy but I stucked in a step. Exactly I dont know how to measure the robot base frame.</p>

<p>Why is it important for me? Because the measured points are in the sensor's own coordinate frame but the robot coordinates logically
in the base frame. So somehow I have to transform every point into the another coordinate system. And this is my question, how
could I get the transformation matrix? Or do I do totally wrong?</p>

<p>I read a lots of literature in the theme but all of them only theorical and do not detail this part of the measurement.</p>

<p>Thanks for the answers!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14012" data-toggle = "popover">
				<p>user name : KDani</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-14012">{'None': 0, 'industrial-robot': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14012">Load Comments</button></br>
			<div id = "commentsection-14012" class = 'collapse'>
			<div id = "comment-22895" class = "comment">
				<p>Welcome to *Robotics*, KDani. As it stands, it's not clear what you're asking. You want to know how to measure the base frame - you would do that the same way you would measure anything else. Measuring tape, laser rangefinder, etc. Is there some other aspect of the problem that has you stuck?</p>
			</div>
			<div id = "comment-22903" class = "comment">
				<p>I try to explain. So I have a 6DOF robot and a laser tracker. If I measure a point that means I will read the actual robot TCP from the robot controller and the tracker's target position in the same time. The only problem that these two points are not in the same coordinate system so I have to transform one of them. So somehow I have to measure the robot base frame and calculate the transformation matrix, otherwise I can't compare the points and get the accuracy.</p>
			</div>
			</div>
				<textarea id = "speech-14012" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14012">
					<img id="start_img-14012" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14012">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>