<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to convert vertical motion to horizontal
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1538" class = "post">
			<h2>Question</h2>
			<div id="vote-1538" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 20014</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to convert vertical motion to horizontal</h2>
<p>I am interested in using this miniature motor (<a href="http://www.newscaletech.com/technology/squiggle-motors.php" rel="nofollow noreferrer">Squiggle Micro Motor</a>) to create very tiny <strong>horizontal</strong> movements. However, due to very limited space, I can only place it <strong>vertically</strong> within my project.</p>

<p>Assuming this motor is placed as follows, how can one adapt it to simultaneous movement at a right angle? (Ideally with the X-axis movement matched to the Y-axis movement as well as possible.)
<img src="https://i.stack.imgur.com/sdyln.png" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1538" data-toggle = "popover">
				<p>user name : boardbite</p>
				<p> user reputation : 160</p>
				<p class = "tagcontent" id = "usertaginfo-1538">{'None': 0, 'linear-bearing': 9, 'driver': 9, 'motion': 9, 'motor': 11, 'stepper-motor': 2, 'movement': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1538">Load Comments</button></br>
			<div id = "commentsection-1538" class = 'collapse'>
			<div id = "comment-3230" class = "comment">
				<p>Just for reference, i am using lego with my motors, and asked the exact same question over at bricks.SE http://bricks.stackexchange.com/questions/2172/how-can-i-transmit-horizontal-torque-to-vertical - it's answered, maybe the idea can be transfered to metal pieces?</p>
			</div>
			<div id = "comment-3234" class = "comment">
				<p>Look at http://robotics.stackexchange.com/questions/1515/building-a-non-rotating-persistence-of-vision-device - can you guess the solution?</p>
			</div>
			<div id = "comment-3235" class = "comment">
				<p>When it comes to "very limited space", how does that affect the available space for whatever mechanical linkage might be used?  This may be a question for a more mechanical StackExchange.</p>
			</div>
			<div id = "comment-3242" class = "comment">
				<p>You can do it with a cam ( http://www.cs.cmu.edu/~rapidproto/mechanisms/chpt6.html#HDR91 )</p>
			</div>
			<div id = "comment-3270" class = "comment">
				<p>@Hakonbogen: Thank you. That gives me a couple of ideas.</p>
			</div>
			</div>
				<textarea id = "speech-1538" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1538">
					<img id="start_img-1538" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1538">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1543"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1543" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If this is true linear motion (non-rotational) then you will need some sort of a pivoting linkage in between the two units to transfer one motion to the other. Something like this would probably work:
<img src="https://i.stack.imgur.com/rGdKH.jpg" alt="Pivoting Linkage"></p>

<p>As the lower link moves vertically, it rotates the red gear which in turn pushes the second link horizontally.</p>

<p>However, given that your image shows more of a screw type link, I feel like the lower link will be rotating (correct me if I'm wrong here). In that case, then a different approach would need to be taken - at least, a rotational ball joint would need to be used to attached the rotating unit to any linkage.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1543" data-toggle = "popover">
				<p>user name : Kurt E. Clothier</p>
				<p> user reputation : 371</p>
				<p class = "tagcontent" id = "usertaginfo-1543">{'None': 21}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1543">Load Comments</button></br>
			<div id = "commentsection-1543" class = 'collapse'>
			<div id = "comment-3251" class = "comment">
				<p>The lower link will indeed be rotating.</p>
			</div>
			<div id = "comment-3256" class = "comment">
				<p>I thought so, in that case, you would need a swivel ball joint on the top of it to allow the lower link to rotate but the upper link remain stationary.</p>
			</div>
			</div>
				<textarea id = "speech-1543" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1543">
					<img id="start_img-1543" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1543">Comment</button>
			<br><div id = "ans-1548"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1548" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The mechanism suggested in the previous answer is a form of
<em><a href="http://en.wikipedia.org/wiki/Four-bar_linkage" rel="nofollow">four-bar linkage</a></em>.  A <em><a href="http://en.wikipedia.org/wiki/Bell_crank" rel="nofollow">bell crank</a></em> is a slightly simpler form of basically the same thing.  You could push on one side of a <a href="https://www.google.com/search?hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1052&amp;bih=570&amp;q=bell+crank&amp;oq=bell+crank&amp;gs_l=img.3..0l5j0i10j0l4.1311.1311.0.1675.1.1.0.0.0.0.170.170.0j1.1.0....0...1ac..19.img.32OY_EL0zEI" rel="nofollow">bell crank</a> with the end of the motor shaft, and use a spring return for the other direction if it is difficult to attach to the shaft.  (The shaft apparently rotates, but the <a href="http://www.newscaletech.com/technology/squiggle-motors.php" rel="nofollow">Squiggle motors</a> site doesn't say if it does or doesn't, and the pictures, videos, and technical drawing PDF files are not clear on this point.)</p>

<p>Also consider using a flexible-wire push-pull control cable, or a push cable with  spring return; or push a wedge up to produce <a href="http://en.wikipedia.org/wiki/Cam" rel="nofollow">cam</a> action.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1548" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1548">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1548">Load Comments</button></br>
			<div id = "commentsection-1548" class = 'collapse'>
			<div id = "comment-3246" class = "comment">
				<p>Nice, I couldn't come up with the terms, just the picture in my head.</p>
			</div>
			<div id = "comment-3250" class = "comment">
				<p>I didn't clarify: Yes, the shaft does indeed rotate.</p>
			</div>
			</div>
				<textarea id = "speech-1548" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1548">
					<img id="start_img-1548" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1548">Comment</button>
			<br><div id = "ans-1746"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1746" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think a more compact and reliable solution would be to use a third shaft that is perpendicular to the other two (on the Z-axis)</p>

<p>Given the shaft moving up/down is moving on the Y-axis and the shaft moving left/right is moving on the X-axis.</p>

<p>This crude diagram should explain things better.</p>

<p>As the motor turns Shaft A upwards it then turns Shaft C. Shaft C then moves Shaft B left and right  </p>

<p>The addition of Shaft C would make this vertical to horizontal conversion precise and compact.</p>

<p>Note that the only rotating parts are Shafts A and C. Shaft B would only move left and right.</p>

<p>And unlike Kurts answer there's no need for messy joints at the end of each shaft.</p>

<p><img src="https://i.stack.imgur.com/8Z17O.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1746" data-toggle = "popover">
				<p>user name : Robert English</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-1746">{'None': 4, 'calibration': 1, 'cameras': 1, 'localization': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1746">Load Comments</button></br>
			<div id = "commentsection-1746" class = 'collapse'>
			<div id = "comment-7839" class = "comment">
				<p>If shaft A is threaded at a pitch P consistent with the module of C, and moves distance P per full rotation, then C does not move when A rotates.  If it were the case that A moved up and down without rotating (which it isn't) then this mechanism would work.</p>
			</div>
			</div>
				<textarea id = "speech-1746" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1746">
					<img id="start_img-1746" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1746">Comment</button>
			<br><div id = "ans-4816"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4816" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Scott-Russell type mechanism. For weeks I was trying to come up with a solution for that exact problem for a engineering project mine. Look it up.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4816" data-toggle = "popover">
				<p>user name : Mauricio</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-4816">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4816">Load Comments</button></br>
			<div id = "commentsection-4816" class = 'collapse'>
			<div id = "comment-7532" class = "comment">
				<p>Sorry Mauricio, but very short answers like this are unlikely to help future visitors. Looking up Scott Russell linkages suggests applications in the automotive industry which may not be applicable to the tiny movements being asked about. Please expand your answer detailing why you think this type of linage might be suitable.</p>
			</div>
			</div>
				<textarea id = "speech-4816" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4816">
					<img id="start_img-4816" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4816">Comment</button>
			<br><div id = "ans-6841"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6841" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To make a 89 degree turn you need a miter gear.  Amazon has a plastic one that is approximately 2 inches (5 cm) across the face This is by Boston Gear GP1632Y Miter Gear, 0.500" Bore, 1:1 Ratio, 20 degree Pressure Angle, 16 Pitch, 32 Teeth, Molded Nylon.  there is another one shown with a 1 inch face and a 14 degree pressure angle and 14 teeth.  Miter gears always need to be purchased in pairs to mesh properly.  This can be used by attaching a small motor or a manual crank to activate the mechanism you are trying to move. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6841" data-toggle = "popover">
				<p>user name : BJ Coate</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6841">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6841" class = 'collapse'>
			</div>
				<textarea id = "speech-6841" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6841">
					<img id="start_img-6841" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6841">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>