<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do you get to the page that describes reputation privileges you have earned?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-137" class = "post">
			<h2>Question</h2>
			<div id="vote-137" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 93</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do you get to the page that describes reputation privileges you have earned?</h2>
<p>The other day when I logged in I received a notification.  It said that I was now able to vote to close questions.  I have already had this privilege for awhile, but I clicked on the details link in the notification and it took me to a page that describes all the different privileges I have earned or have yet to earn along with their associated reputation requirements.</p>

<p>I have no idea how one would access this page from anywhere on the site itself.  I've looked through my user pages and such but can't find anything.  Is there a link somewhere that I'm missing?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-137" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-137">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-137" class = 'collapse'>
			</div>
				<textarea id = "speech-137" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-137">
					<img id="start_img-137" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-137">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-163"  class = "post">
				<h2>Answer</h2>
			<div id="vote-163" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know if this is a new addition, but you can click on your reputation score at the top of the site and it brings you to the privileges page.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-163" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-163">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-163">Load Comments</button></br>
			<div id = "commentsection-163" class = 'collapse'>
			<div id = "comment-265" class = "comment">
				<p>I feel privileged now. :)</p>
			</div>
			</div>
				<textarea id = "speech-163" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-163">
					<img id="start_img-163" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-163">Comment</button>
			<br><div id = "ans-2088"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2088" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Clicking your reputation is no longer sufficient with the advent of the new top bar.</p>

<p>Go to your user page, either by clicking yourself in the top bar or through any other means, then click the privileges link next to the profile edit link.</p>

<p><img src="https://i.stack.imgur.com/Z1eL7.png" alt=""></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2088" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2088">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2088" class = 'collapse'>
			</div>
				<textarea id = "speech-2088" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2088">
					<img id="start_img-2088" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2088">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>