<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I design for a target speed?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-922" class = "post">
			<h2>Question</h2>
			<div id="vote-922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 137</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I design for a target speed?</h2>
<p>I need to make an omni wheeled robot platform (4 wheels), which should go at a minimum speed of 15 cm/s.  I have an idea for the design, but since this is my first time doing something like this I have made <strong>a lot</strong> of assumptions. </p>

<p>I decided to choose the <a href="http://www.hobbyking.com/hobbyking/store/__13360__TGY_S4505B_40g_4_8kg_0_10sec_Dual_Bearing_Analog_Servo.html" rel="nofollow">TGY-S4505B</a> servos as my motor system. I intend to attach these servos to <a href="http://store.kornylak.com/ProductDetails.asp?ProductCode=FXA308B" rel="nofollow">FXA308B</a> wheels. Finally, I intend to power my servos with one <a href="http://www.hobbyking.com/hobbyking/store/__25030__Turnigy_LSD_6_0V_2300mAh_Ni_MH_Flat_Receiver_Pack.html" rel="nofollow">Turnigy LSD 6.0V 2300mAh Ni-MH Flat Receiver Packs</a> (not sure if LiPo is a better choice). I need to be able to run the servos continuously for roughly 8 minutes. You can ignore the microcontroller and other stuff, relatively speaking they will consume much less power. The robot will have four wheels (thus, four servos).</p>

<p>The basic specifications of each servo is:</p>

<ul>
<li>Type: Analog</li>
<li>Gear train: Plastic</li>
<li>Bearings: Dual</li>
<li>Motor Type: Carbon Brushed</li>
<li>Weight: 40g (1.41oz)</li>
<li>Lead: 30cm</li>
<li>Torque: 3.9kg.cm @ 4.8v / 4.8kg.cm @ 6v</li>
<li>Speed: 0.13sec 60 @ 4.8v / 0.10 60  @ 6v</li>
</ul>

<p>So based on my battery pack, I will be running the servos at 6V. That gives me a speed of 60 degrees per 0.10 seconds. I plan on modifying these servos for continuous rotation, and connected them directly to the wheel. Since the wheel has a diameter of ~5 cm, it has a circumference of ~15 cm. Based on these specs, it seems to me that my robot can move at roughly 15 cm/0.6 seconds, or 25 cm/s (quite fast actually). I don't intend to run it constantly at that speed, so in the 8 minute run, assume my average speed to be 20 cm/s.</p>

<p>Are these assumptions reasonable, and are the calculations correct?  I would really appreciate any insight, advice, recommendations, and criticisms you may have.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-922" data-toggle = "popover">
				<p>user name : capcom</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-922">{'wheel': 5, 'mobile-robot': 5, 'None': 0, 'rcservo': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-922">Load Comments</button></br>
			<div id = "commentsection-922" class = 'collapse'>
			<div id = "comment-2229" class = "comment">
				<p>Any particular reason for a continuous rotation servo instead of a plain old DC motor?</p>
			</div>
			<div id = "comment-2230" class = "comment">
				<p>@JoeBaker Well, based on my research (and I have considered this question several times), there are several reasons why I am choosing this route. First, I don't have to make a gearbox, which can be a real pain. Second, everything is in a single package; thus, easily replaceable. Finally, with the one signal wire by virtue of the pre-installed circuitry, a servo is much easier to control as opposed to a DC motor. Do you think those are reasonable justifications for choosing a servo over a DC motor. In a sense, they are the same anyway.</p>
			</div>
			<div id = "comment-2251" class = "comment">
				<p>@capcom - On stack exchange, it's better to edit information in response to a comment into your question, rather than adding another comment.</p>
			</div>
			</div>
				<textarea id = "speech-922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-922">
					<img id="start_img-922" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-922">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-960"  class = "post">
				<h2>Answer</h2>
			<div id="vote-960" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With all you're going to invest in your robot, it's a better idea to start off with a more solid drive train than a servo.  Take a look at a DC motor with an integrated gearbox and start from there.  Your servo approach won't be as energy efficient, performant, and it won't last as long.</p>

<p>A great reference to start with is <a href="http://rads.stackoverflow.com/amzn/click/0071408509" rel="nofollow noreferrer">Building Robot Drive Trains</a>.</p>

<hr>

<p><img src="https://i.stack.imgur.com/wREwW.jpg" alt="Pololu gear motor"></p>

<p><img src="https://i.stack.imgur.com/h0MKD.jpg" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-960" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-960">{'None': 68}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-960">Load Comments</button></br>
			<div id = "commentsection-960" class = 'collapse'>
			<div id = "comment-2271" class = "comment">
				<p>Thanks. Though I'm curious, why does a servo motor have the deficiencies you noted as opposed to the DC motor with a gearbox. From my understanding of servo motors, aren't the two the same thing, except the servo motor has on board circuitry which eliminates the need for an H-Bridge. Plus, it should be easier to control with just the one signal wire. Thanks again, Jay.</p>
			</div>
			<div id = "comment-2274" class = "comment">
				<p>Open up the servo and take a look at the components.  They have the motor and gearbox but also the potentiometer and the control circuitry to translate the signal into motion.  If the servo and the DC gearbox motor both retail for $15, which one put more money into the motor and gears?  Servos have been engineered to be simple to control and to occasionally move 90-180 degrees to move a lever.  They're excellent at that.  However they're not engineered to be a continous rotation drive motor.  For example, the motor in the photo has a metal gearbox with better housing than the plastic servo.</p>
			</div>
			</div>
				<textarea id = "speech-960" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-960">
					<img id="start_img-960" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-960">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>