<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How could the absolute scale factor be calculated?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14081" class = "post">
			<h2>Question</h2>
			<div id="vote-14081" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 13</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How could the absolute scale factor be calculated?</h2>
<p>In a paper entitled "Micro Air Vehicle Localization and Position Tracking
from Textured 3D Cadastral Models", they use two algorithms to compute the motion of a MAV: one for global localization and another for visual odometry.
After the first global position of the MAV $Pos_{1}$ , another globally localized position is needed that is $Pos_{2}$.</p>

<p>The absolute scale factor $\lambda$ is computed by comparing the metric distance traveled computed by the two global localization estimates with the unscaled motion estimate returned by a visual odometry algorithm.</p>

<p>Let's say between the first and second positions, the visual odometry returns $(R, t)$
The global positions are:</p>

<p>$$ Pos_{1} = \begin{bmatrix} 
 x_{1} \\
 y_{1} \\
 z_{1} \\
\end{bmatrix}$$
and
$$ Pos_{2} = \begin{bmatrix}
 x_{2} \\
 y_{2} \\
 z_{2} \\
\end{bmatrix}$$</p>

<p>This means that $\lambda= \frac{\sqrt{(x_{2}-x_{1})^2+(y_{2}-y_{1})^2+(z_{2}-z_{1})^2}}{t} $ ? 
is this correct?</p>

<p>Afterwards when we concatenate motion obtained from visual odometry, we only multiply $t$ by $\lambda$ and the metrical translation would be $\lambda \times t$?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14081" data-toggle = "popover">
				<p>user name : user7281779</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-14081">{'None': 0, 'computer-vision': 2, 'monocular': 1, 'visual-odometry': 0, 'opencv': 2, 'matlab': 1, 'mobile-robot': 1, 'gps': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14081" class = 'collapse'>
			</div>
				<textarea id = "speech-14081" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14081">
					<img id="start_img-14081" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14081">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>