<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to apply Inverse Kinematics with angle constrained servos?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13899" class = "post">
			<h2>Question</h2>
			<div id="vote-13899" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to apply Inverse Kinematics with angle constrained servos?</h2>
<p>I want to implement Inverse Kinematics and i understand the inverse jacobian method but the servos i have only have a range from -90 to +90 degrees, how can i implement this detail in the algorithm? I can't simply set each joint to its maximum/minimum if the calculated angle is above/below the constraints because if i do future calculations will not understand that the maximum angle is not the correct path</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13899" data-toggle = "popover">
				<p>user name : spetty flakson</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-13899">{'None': 0, 'inverse-kinematics': 3, 'robotic-arm': 3, 'jacobian': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13899">Load Comments</button></br>
			<div id = "commentsection-13899" class = 'collapse'>
			<div id = "comment-22675" class = "comment">
				<p>How many DoF does your arm have?</p>
			</div>
			<div id = "comment-22676" class = "comment">
				<p>4Dof + wrist rotation and claw open/close which i will control entirely seperate. So only 4DOF in regards to IK. the first degree of freedom sets the base angle on the XY plane, and the last three angles set the Z height</p>
			</div>
			<div id = "comment-22678" class = "comment">
				<p>A planar 3 link arm mounted on a rotating base?  (A picture would be help).</p>
			</div>
			<div id = "comment-22680" class = "comment">
				<p>yes that is correct. The base rotates -90 to 90, the first segment is mounted on the rotating base and facing the +Z so it can effectively rotate 0 to pi, the second and third segments are mounted facing +X so they can rotate -90 to 90. i will try to draw a picture but here a a link to the actual robot: https://ae01.alicdn.com/kf/HTB12Q9VPpXXXXX7XVXXq6xXFXXX7/High-Quality-DIY-6DOF-Metal-Mechanical-font-b-Arm-b-font-Kit-font-b-Robot-b.jpg</p>
			</div>
			</div>
				<textarea id = "speech-13899" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13899">
					<img id="start_img-13899" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13899">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-13904"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13904" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>it depends on your design,how many joints you have,
all the movement might happen in 180 degree/depending on the work space you want
,let say for a x,y,z point for the end effector ,you could have multiple  angles but different paths to get to same,for a point you might have multiple set of angles for each joint. you could use limits to pick one set of angles which doesnt have any degree more than 180, but if a point which cant be reached unless you need to have an angle that is more than 90/-90 then you cant go there,as i said it depends on your workspace and design
also be aware from singularity points,</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13904" data-toggle = "popover">
				<p>user name : Abdull</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-13904">{'control': 0, 'None': 1, 'robotic-arm': 0, 'pid': 0, 'microcontroller': 1, 'precise-positioning': 0, 'legged': 0, 'servomotor': 1, 'motor': 0, 'mobile-robot': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13904">Load Comments</button></br>
			<div id = "commentsection-13904" class = 'collapse'>
			<div id = "comment-22677" class = "comment">
				<p>the second joint which controls the elevation of the first segment is placed in an orientation so that it can reach 0 to pi. If you combine this with the -90 to 90 of the first segment angle you should be able to reach all positions. in a semi sphere of radius (l1+l2+l3) where l is the segment lengths. I just dont know how to modify the algorithm</p>
			</div>
			</div>
				<textarea id = "speech-13904" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13904">
					<img id="start_img-13904" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13904">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>