<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do I motorize the elbow socket and other joints in a powered exo-skeleton?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1622" class = "post">
			<h2>Question</h2>
			<div id="vote-1622" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3917</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do I motorize the elbow socket and other joints in a powered exo-skeleton?</h2>
<p>How would you motorize the joints in an Iron Man suit? You need something fairly shallow, I would think, probably dual servos sitting on either side of an elbow or knee joint or either side of your hips, but how do you get motorized action there without dramatically adding to the thickness of the joint? </p>

<p>Bicycle-style chain drives wouldn't work, I would think, since the length of the chain would need to vary depending on what position you're in for at least a lot of joints.</p>

<p>How would you motorize the joints?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1622" data-toggle = "popover">
				<p>user name : Erik  Reppen</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-1622">{'None': 0, 'design': 6, 'mechanism': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1622">Load Comments</button></br>
			<div id = "commentsection-1622" class = 'collapse'>
			<div id = "comment-3361" class = "comment">
				<p>Where "fairly shallow" is a concern, consider a ring of a large number of tiny motors all the way around a ball and socket, rather than the (effectively) 3 big motors to replicate human shoulder-joint motion.</p>
			</div>
			<div id = "comment-3362" class = "comment">
				<p>The ring of tiny motors is awesome. Also, not sure how I missed the existence of a robotics exchange. If a mod feels it would be more appropriate to punt this question to robotics, please feel free but I won't dupe it.</p>
			</div>
			<div id = "comment-3363" class = "comment">
				<p>Thanks :-) I dabble in some mechanical engineering problem solving / CAD in my spare time ;-)</p>
			</div>
			<div id = "comment-3364" class = "comment">
				<p>Hydraulic actuators like the [terminator arm](http://www.empowernetwork.com/empowermalaysia/files/2012/11/terminator.jpg).</p>
			</div>
			<div id = "comment-3365" class = "comment">
				<p>@NickAlexeev Problem with doing that in an exoskeleton: There's a problem putting any hydraulic actuators where the actual human's arm would be.</p>
			</div>
			<div id = "comment-3366" class = "comment">
				<p>"High torque pancake stepper motor" comes to mind.  Can you develop one, and a couple of extra's?  :)</p>
			</div>
			<div id = "comment-3367" class = "comment">
				<p>Awesome. Stick it in an answer and I'll check it. Also, once I've completed the design for my minions I shall have them deliver a suit post-haste or perhaps to your neighbor or somebody on the other side of the planet depending on how fast I get the kinks in the GPS logic worked out.</p>
			</div>
			<div id = "comment-3368" class = "comment">
				<p>Actually I really need both comment/answers that I've liked now that I think about it. Which isn't to say I don't love the terminator arm. Just gotta fit a people arm in that thing somehow and I'd think the workarounds to fit one along-side would be kind of yucky.</p>
			</div>
			<div id = "comment-3369" class = "comment">
				<p>@ErikReppen If you're not in a rush, I'll draw up a 3-D sketch later. :-)</p>
			</div>
			<div id = "comment-3370" class = "comment">
				<p>@AnindoGhosh I'd love to see it but this is not likely to go anywhere so don't go through excess effort for what basically amounts to a powered armor/mecha fanboy programmer wondering how you'd pull it off. If I finish my mobile-app/arduino door buzzer, however, then I may steadily build up the electronics fun to a suit.</p>
			</div>
			<div id = "comment-3371" class = "comment">
				<p>@ErikReppen It was a fun exercise, so now it is done. However, now even more than before, I feel this belongs in Robotics or some hypothetical Mech Engineering site.</p>
			</div>
			<div id = "comment-3372" class = "comment">
				<p>@AnindoGhosh, actions speak louder than words, and I would consider your answer to be condonation of the question. I also have no problem with these kinds of questions, especially if robotics is just in beta, and not very successful, by the looks of it.</p>
			</div>
			<div id = "comment-3373" class = "comment">
				<p>Mods: as a R.SE mod, I'm happy for this to be passed over to Robotics</p>
			</div>
			</div>
				<textarea id = "speech-1622" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1622">
					<img id="start_img-1622" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1622">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1623"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1623" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Erik, your wish is my command:   </p>

<p>"High torque pancake stepper motor" comes to mind. Can you develop one, and a couple of extra's? :)  </p>

<p>Seriously, you're looking at a combination of technologies and disciplines.  Precision positioning of a "High torque pancake stepper motor" might be an acceptable direction, but it'll probably end up simply being the driver behind Nick Alexeev's (Terminator) hydraulics, after all, the back-hoe surely has its place in "motive amplification," if I may use the term sloppily. :) </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1623" data-toggle = "popover">
				<p>user name : JoeFromOzarks</p>
				<p> user reputation : 269</p>
				<p class = "tagcontent" id = "usertaginfo-1623">{'None': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1623">Load Comments</button></br>
			<div id = "commentsection-1623" class = 'collapse'>
			<div id = "comment-3374" class = "comment">
				<p>I was thinking more a combo of Anindos ring of motors and the pancake but I'll give you the answer.</p>
			</div>
			<div id = "comment-3385" class = "comment">
				<p>Okay I gave you the answer pre-migration but dude.. he did an auto-desk. Upvoted again, and the minions will still deliver should they ever exist.</p>
			</div>
			</div>
				<textarea id = "speech-1623" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1623">
					<img id="start_img-1623" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1623">Comment</button>
			<br><div id = "ans-1624"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1624" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Addressing the <strong>shoulder joint</strong>, which is rather more complicated than elbows and knees... After this one, the other joints become far simpler to visualize or engineer.</p>

<hr>

<p>Here is how the ball and socket shoulder joint could work:</p>

<p><img src="https://i.stack.imgur.com/EDy5z.jpg" alt="Shoulder Joint"></p>

<ul>
<li>Freedom of movement: Approximately 60 degrees end to end, all around. Less than for humans, but it can be tweaked to around 80 degrees without difficulty just by making the half-torus narrower.</li>
<li>The static half-torus (shown in shiny steel here) is for strength, and would be joined to the torso exoskeleton by a rigid set of struts. Half torus = torus with an inner coaxial cylinder excised, tentative diameter of cylindrical hole 145 mm.</li>
<li>The inner blued-steel hollow sphere is where the arm goes through, just beyond the actual shoulder. Tentative diameter of sphere 138mm, diameter of inner cylindrical hole 100 mm.</li>
<li>Rings of little stepper motors on both front and hidden edges of half-torus, gripping inner hollow sphere. </li>
<li>Stepper motors have outer ring rotor, inner stator, and rubberized omniwheel "teeth" to move the inner sphere.</li>
<li>Inner sphere will of course be attached to a rigid exoskeleton matching the upper arm dimensions, up to the elbow joint. </li>
</ul>

<p>This is how the motors act upon the inner sphere, close up:</p>

<p><img src="https://i.stack.imgur.com/qKl4e.jpg" alt="Close-up of joint"></p>

<p>This is how each omniwheel stepper motor will work:</p>

<p><img src="https://i.stack.imgur.com/JI2KQ.jpg" alt="Omniwheel Stepper"></p>

<p>The omniwheel design is required for the teeth to allow frictionless motion axial to the rotation direction.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1624" data-toggle = "popover">
				<p>user name : Anindo Ghosh</p>
				<p> user reputation : 339</p>
				<p class = "tagcontent" id = "usertaginfo-1624">{'mobile-robot': 11, 'None': 15, 'servos': 3, 'stepper-motor': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1624">Load Comments</button></br>
			<div id = "commentsection-1624" class = 'collapse'>
			<div id = "comment-3375" class = "comment">
				<p>Is this Autodesk Inventor?</p>
			</div>
			<div id = "comment-3376" class = "comment">
				<p>@trav1s Yes, with some image editing to merge wireframe and shaded outputs.</p>
			</div>
			<div id = "comment-3377" class = "comment">
				<p>Anindo *is* building his own Iron Man suit. This is proof!</p>
			</div>
			<div id = "comment-3378" class = "comment">
				<p>@JYelton I bet I'd do it cheaper and better engineered too. All I need is a 10 million dollar sponsor, and a couple of dozen minions. Any day now.</p>
			</div>
			<div id = "comment-3387" class = "comment">
				<p>Okay, did some back and forth on it. I think joe actually has the elbow solution but this is just !@#$ing badass for a shoulder joint and I kind of went more general with the question than elbow. Although I do wonder if it doesn't represent a lot of little extra things that can go wrong. Syncing the motors would be a challenge. And what happens when one of them craps out or loses its place or something... which isn't to say I don't think this is really cool.</p>
			</div>
			<div id = "comment-3390" class = "comment">
				<p>@ErikReppen That's the cool thing: Running a bunch of motors allows for redundancy: If one or more motors crap out, those will only add a small percentage of drag, that too in one axis, since each motor is only a small contributor. Also, diagnostic capabilities of motor drivers are pretty good these days (*See [DRV8811](http://www.ti.com/product/drv8811)*). The shoulder is the toughest joint to motorize, hence my solution. The rest are trivial by contrast. Want an elbow or knee too? :-)</p>
			</div>
			<div id = "comment-3479" class = "comment">
				<p>If this is placed just beyond the shoulder joint wouldn't it limit the amount of movement even more and potentially try to snap your arm? Your arm would move down at a sharper angle and get crushed... Right?</p>
			</div>
			</div>
				<textarea id = "speech-1624" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1624">
					<img id="start_img-1624" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1624">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>