<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How do visual obstructions impact the ability to localize using LIDAR?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1518" class = "post">
			<h2>Question</h2>
			<div id="vote-1518" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 83</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How do visual obstructions impact the ability to localize using LIDAR?</h2>
<p>If a street is extremely crowded to an extent that the terrain is not visible from the point of view of the LIDAR (e.g. in google's self driving car), can it still manage to localize itself and continue to operate? I recall Sebastian Thrun saying that Google's car cannot navigate through snow filled roads since the onboard LIDAR cannot map the terrain beneath the snow (<a href="http://www.economist.com/node/21560989" rel="nofollow">e.g. here</a>).</p>

<p>[Edit : Based on the comments] Clarifying the context, here "not visible" means there is an obstacle between the LIDAR and the terrain</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1518" data-toggle = "popover">
				<p>user name : atree</p>
				<p> user reputation : 124</p>
				<p class = "tagcontent" id = "usertaginfo-1518">{'None': 0, 'calibration': 1, 'lidar': 1, 'servomotor': 1, 'industrial-robot': 2, 'ugv': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1518">Load Comments</button></br>
			<div id = "commentsection-1518" class = 'collapse'>
			<div id = "comment-3190" class = "comment">
				<p>So it couldn't drive in the night, too?</p>
			</div>
			<div id = "comment-3192" class = "comment">
				<p>LIDAR should operate at night w/o difficulty.</p>
			</div>
			<div id = "comment-3197" class = "comment">
				<p>What does it mean to "continue to operate"?  I would hope that the proper behavior of a self driving car is *not* to continue moving forward if there are people in front of it.</p>
			</div>
			<div id = "comment-3199" class = "comment">
				<p>@Ian By that i mean, can it still know where it is ? or will it freeze. My question is focused on localization and of course it will move only when it is safe to do so.</p>
			</div>
			</div>
				<textarea id = "speech-1518" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1518">
					<img id="start_img-1518" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1518">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1529"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1529" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The snow problem you're referring to seems to that the car can no longer tell where the edge of the road is.</p>

<p>Even in heavy traffic, a good driver still maintains enough space from the car in front that plenty of road is visible, and the side of the road identifiable from LiDAR. This is not common practice, but I imagine autonomous cars would be programmed to do so. In that case, plenty of road is always visible for the car.</p>

<p>Google's car seems to have <a href="http://www.youtube.com/watch?v=BrmorE5W1tM" rel="nofollow">no problems in heavy traffic</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1529" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1529">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1529">Load Comments</button></br>
			<div id = "commentsection-1529" class = 'collapse'>
			<div id = "comment-3213" class = "comment">
				<p>What if the car is closely surrounded by huge trucks. There can be numerous such extreme scenarios. My question is, how can it handle the situation when LIDAR is compromised?</p>
			</div>
			<div id = "comment-3215" class = "comment">
				<p>Well, options I can think of: 1. Inertial dead reckoning 2. (differential) GPS. And presumably all position estimates are combined continuously in a Kalman filter or similar.</p>
			</div>
			<div id = "comment-3227" class = "comment">
				<p>Anyway... if it's surrounded that closely, the goal ceases to be "determine location relative to road" and becomes "don't hit any of these trucks." I mean, you could ask the same question about a human. "How can a human drive if there are so many trucks she can't see the road?"</p>
			</div>
			</div>
				<textarea id = "speech-1529" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1529">
					<img id="start_img-1529" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1529">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>