<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How can I send video from my Arduino camera module video to my Android screen?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-921" class = "post">
			<h2>Question</h2>
			<div id="vote-921" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41960</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I send video from my Arduino camera module video to my Android screen?</h2>
<p>I'm trying to connect a camera module to my Arduino Mega, connect my Mega to my Android phone (throught BlueTooth or other), and send the live view of the camera to the mobile phone.</p>

<p>I saw a <a href="http://www.youtube.com/watch?v=qEVXqOJz-GY">video online</a> that showed this for still images -- an image captured by the camera module on the Arduino was sent to Android and the output image was viewed after a couple of seconds (the time to send image by BT).</p>

<p>Is this doable with live video instead of image?  If yes, please guide me; if no, please suggest some workarounds.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-921" data-toggle = "popover">
				<p>user name : mabdrabo</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-921">{'None': 1, 'cameras': 9, 'arduino': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-921">Load Comments</button></br>
			<div id = "commentsection-921" class = 'collapse'>
			<div id = "comment-2225" class = "comment">
				<p>Hi Mabdrabo, welcome to robotics.stackexchange!  I've updated your wording slightly for better readability.  Can you find the URL of the original video you saw online?</p>
			</div>
			<div id = "comment-2267" class = "comment">
				<p>Also relevant: http://hackaday.com/2013/02/20/video-phone-arduino-shield/</p>
			</div>
			</div>
				<textarea id = "speech-921" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-921">
					<img id="start_img-921" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-921">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-926"  class = "post">
				<h2>Answer</h2>
			<div id="vote-926" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To answer the question "is it doable", I would say yes.  There is apparently a product called Looxcie that does this, according to <a href="http://www.slashgear.com/looxcie-bluetooth-video-camera-review-with-an-htc-thunderbolt-11145337/" rel="nofollow">this review on Slashgear</a>.</p>

<p>My guess is that it's using BlueTooth's <a href="https://www.bluetooth.org/Building/HowTechnologyWorks/ProfilesAndProtocols/AVCTP.htm" rel="nofollow">Audio / Video Control Transport Protocol (AVCTP)</a>, so you might check for devices and mobile phone software libraries that support AVCTP.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-926" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-926">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-926" class = 'collapse'>
			</div>
				<textarea id = "speech-926" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-926">
					<img id="start_img-926" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-926">Comment</button>
			<br><div id = "ans-929"  class = "post">
				<h2>Answer</h2>
			<div id="vote-929" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My solution is a workaround. </p>

<p>I do not send the relatively large image frames via Bluetooth but I use the Android phone with OpenCV to shoot the live video and direct the Arduino via Bluetooth with a few short commands after image processing. The phone is located near the Arduino just as an Arduino connected camera would be.</p>

<p>If you want to see the images - or some processed version of them - remotely you can use another phone connected to camera phone via a second Bluetooth connection. </p>

<p>I am not ready with the above, a Mindstorms NXT, Android, OpenCV version is <a href="http://jataka.hu/rics/nxt_android_opencv/index.html" rel="nofollow">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-929" data-toggle = "popover">
				<p>user name : rics</p>
				<p> user reputation : 551</p>
				<p class = "tagcontent" id = "usertaginfo-929">{'kinect': 32, 'multi-agent': 3, 'None': 25, 'sensors': 32}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-929" class = 'collapse'>
			</div>
				<textarea id = "speech-929" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-929">
					<img id="start_img-929" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-929">Comment</button>
			<br><div id = "ans-1099"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1099" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have different options (priority by difficulty level):</p>

<ol>
<li><p>Using a smartphone as a camera.
There are actually apps for this. If you can attach one phone to your robot then you can stream the live video either on another phone or on the web. However the phone attached to the robot should have an internet connection(3G or even Edge). Search for "live stream" in App store or Google Play. </p></li>
<li><p>Using an <a href="http://en.wikipedia.org/wiki/IP_camera">IP Camera</a>. 
This option is quite simple and requires you to have an IP camera wich then can be controlled by the Arduino. The IP camera can transmit video wirelessly to your Router or A Raspberry pie. You can then connect another phone or computer to the router to see the live image. </p></li>
<li><p>Using a Raspberry Pi. 
Id normally would not do video or image manipulations in the Arduino platform because of the low performance it has got. You could connect a Raspberry pi to the Arduino. And a good camera to Raspberry pi. Arduino can send commands to Raspberry pi on when to start transmitting and so on. You can then do image manipulations on the Pi as well. And Since Raspberry pi can work as a router you could connect you smartphone to the raspberry pi through wifi or even Bluetooth. You will get a nice and high FPS video even with text/color manipulations.</p></li>
<li><p>You could use the <a href="http://developer.android.com/tools/adk/index.html">Android ADK</a> as your main controller. And then the Arduino is set up as an accessory. In this way the Arduino can command Android what to do. A cheap android based mobile phone will cost you around 100USD and you will get lots of features for the price. Like GPS, Camera, Battery etc. Most modern smart phone have the ability of creating a wifi hotspot. You can then connect any other wifi platform to that hotspot and control the robot or in your case viewing a live stream video. This is by the most elegant method in my opinion.</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1099" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1099">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1099">Load Comments</button></br>
			<div id = "commentsection-1099" class = 'collapse'>
			<div id = "comment-2537" class = "comment">
				<p>in fact i did what you said in #1, thanks a lot :)</p>
			</div>
			</div>
				<textarea id = "speech-1099" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1099">
					<img id="start_img-1099" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1099">Comment</button>
			<br><div id = "ans-1102"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1102" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>here's how i managed to solve my problem, i got my old wildfire installed <a href="https://play.google.com/store/apps/details?id=com.pas.webcam" rel="nofollow">IP Webcam</a>, set-up a wifi hotspot from my nexus4, connected to it from the wildfire, took the wildfire's ip and put it in the nexus4's web viewer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1102" data-toggle = "popover">
				<p>user name : mabdrabo</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-1102">{'None': 1, 'cameras': 9, 'arduino': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1102" class = 'collapse'>
			</div>
				<textarea id = "speech-1102" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1102">
					<img id="start_img-1102" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1102">Comment</button>
			<br><div id = "ans-8927"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8927" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes , it is possible but please note the following points.</p>

<p>1)if you are using Bluetooth, it data transfer rate depends upon different versions like for v2 blue tooth its data transfer rate 3 Mb\s.</p>

<p>2)Now let suppose you are using a camera like ov7670 in QVGA mode(320 x 240 pixels for one frame) each pixel is 8 bits, for a good video you require 30 frames per second, which is 76800 bytes for one frame, for 30 frame it is  2.3 Mb\s.</p>

<p>3) Now 2.3 MB\S &lt; 3 MB\s, you can live vedio streaming.</p>

<p>4) The rest depends how good you are in understanding programing and making Electronics connections with different modules.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8927" data-toggle = "popover">
				<p>user name : Muhammed Hussain Ali</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-8927">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8927" class = 'collapse'>
			</div>
				<textarea id = "speech-8927" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8927">
					<img id="start_img-8927" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8927">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>