<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to use ZED camera for face scanning?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13979" class = "post">
			<h2>Question</h2>
			<div id="vote-13979" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to use ZED camera for face scanning?</h2>
<p>I try to use ZEDfu for face scanning with depth range 2m and resolution 0.01m. After 3D mapping procedure face turns into cylinder.</p>

<p>Is it possible to scan such small objects like faces with ZED camera?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13979" data-toggle = "popover">
				<p>user name : Charlie</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-13979">{'stereo-vision': 0, 'None': 0, 'computer-vision': 0, 'mapping': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13979">Load Comments</button></br>
			<div id = "commentsection-13979" class = 'collapse'>
			<div id = "comment-22892" class = "comment">
				<p>Welcome to *Robotics* Charlie, but I'm afraid that questions which can only be answered by the pre-sales or technical support team for a specific manufacturer or supplier aren't a good fit for a stack exchange site. *[Practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)* are always welcome here though, so if you edit your question to fit our community guidelines we can reopen it for you. Please take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-22894" class = "comment">
				<p>It sounds like you tried it and it didn't work. I would assume the answer, then, is that no, it's not possible to do it. I would suggest you contact the manufacturer for more information regarding the capabilities of the system.</p>
			</div>
			<div id = "comment-22902" class = "comment">
				<p>@Chuck my main concern is whether it's a hardware constraint or software issue. Maybe someone has tried to use another stereo vision software with input from ZED camera and got good results; or maybe it's possible to prove that such little objects cannot be scanned with this camera.</p>
			</div>
			</div>
				<textarea id = "speech-13979" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13979">
					<img id="start_img-13979" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13979">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>