<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to use specific ESC,BLDC motor through Arduino Uno R3?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8108" class = "post">
			<h2>Question</h2>
			<div id="vote-8108" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 252</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to use specific ESC,BLDC motor through Arduino Uno R3?</h2>
<h2>Attempt to clean up:</h2>

<p>I'm trying to use <a href="http://rctimer.com/product-1127.html" rel="nofollow noreferrer">this motor</a> with <a href="http://www.rctimer.com/product-1279.html" rel="nofollow noreferrer">this ESC</a> and an Arduino Uno R3.</p>

<p>Typically, I used the PWM pins when I use the Arduino and an ESC, but I can't control the motor even if I use the servo library, and I've also tried sample code from different websites.</p>

<p>The ESC has a beep I can't understand. Sometimes it's high-low-high or high for 4 seconds, but I can't find anything on Google. </p>

<p>Sometimes the motor spins periodically for a short time, but I don't know why. Some sites recommend using flash or bootloader, but I'd prefer to use Arduino PWM or the servo library. </p>

<h2>Original post</h2>

<p>Specific ESC is Rctimer Mini ESC16A OPTO SimonK Firmware SN16A ESC..</p>

<p>I can only using ESC(Discussed above..) and RCTimer 1806-1450KV Multi-Rotor BLDC Motor.</p>

<p>Typically, I used PWM pins(3, 9, 10, 11-because similar Signal frequency) when using Arduino-ESC.. but, I can control BLDC Motor even i used to Servo library.. </p>

<p>I've been used usual websites example code.</p>

<p>Just ESC had unknowable beep .. sometime di-ri-di or di(for 4 seconds).. 
I couldn't find that way.. in google (or my country websites)</p>

<p>Sometimes, The Motor spins(In a certain value, periodically) for a short time but I don't know why The motor spins</p>

<p>In google sites, just using flash or Bootloader, but I'll use Arduino PWM or Servo..</p>

<p>So.. Please! would you please help me?
Thank you for reading my thread.</p>

<p><a href="https://i.stack.imgur.com/vU9oN.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/vU9oN.jpg" alt="enter image description here"></a>
<a href="https://i.stack.imgur.com/MNUMG.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/MNUMG.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8108" data-toggle = "popover">
				<p>user name : Cheol  Shim</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-8108">{'brushless-motor': 0, 'None': 0, 'pwm': 0, 'esc': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8108">Load Comments</button></br>
			<div id = "commentsection-8108" class = 'collapse'>
			<div id = "comment-12943" class = "comment">
				<p>Cheol, I tried to improve the translation of your question; please let me know if what I wrote is acceptable or not.</p>
			</div>
			</div>
				<textarea id = "speech-8108" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8108">
					<img id="start_img-8108" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8108">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8110"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8110" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An ESC needs to have the throttle limits adjusted before you can use it. While there are many options you can set from a programming menu (see page 4 of <a href="http://www.hobbyking.com/hobbyking/store/uploads/981522291X561242X33.pdf" rel="nofollow">this PDF</a> for reference), the throttle adjustment is pretty straightforward:</p>

<ol>
<li>Disconnect the battery from the ESC</li>
<li>Send and hold a full throttle signal to the ESC</li>
<li>Connect the battery to the ESC</li>
<li>Wait 2 seconds for a beep-beep (di-di)</li>
<li>Send a zero throttle signal to the ESC</li>
<li>Hold zero throttle until you hear a long beep</li>
</ol>

<p>If you continue having problems or this doesn't work, check that the battery pack you are using is fully charged and the correct voltage for the ESC you are trying to use.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8110" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8110">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8110">Load Comments</button></br>
			<div id = "commentsection-8110" class = 'collapse'>
			<div id = "comment-13044" class = "comment">
				<p>Thank you!, It needs Calibration(or Throttle Calibration)!</p>
			</div>
			<div id = "comment-13046" class = "comment">
				<p>@CheolShim - If my answer was the answer you needed, please accept it :-) (check mark between the up and down arrows beside the question)</p>
			</div>
			</div>
				<textarea id = "speech-8110" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8110">
					<img id="start_img-8110" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8110">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>