<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How can I improve this question about Siri?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3066" class = "post">
			<h2>Question</h2>
			<div id="vote-3066" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How can I improve this question about Siri?</h2>
<p>A few days ago I asked "<a href="https://apple.stackexchange.com/questions/287161/how-can-i-turn-off-siris-joke-responses">How can I turn off Siri's joke responses?</a>"</p>

<p>I thought this was a perfectly legitimate question. It's on-topic, not subjective, and (I think) pretty clear what I'm asking. It's not intended as a complaint or an invitation to discussion, just a simple "how do I do this" question. I understand that the answer may be "you can't currently" or "nobody knows", although I hope it's not.</p>

<p>My question received several helpful comments and a possible answer. The score is currently -2, which means at least two people thought it was a bad question. Obviously no one but them knows why they voted, but I'm pretty surprised by this. I thought it was a decent question. Is there something obviously wrong that I'm missing? Or if not, is there anything I could change to make this question acceptable?</p>

			</div>
			<div id = "userinfo-3066" style = "float:right">
				<p>user name : Robert</p>
				<p> user reputation : 494</p>
				<p> user tag wise history : {'None': 0, 'discussion': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3066">Load Comments</button></br>
			<div id = "commentsection-3066" class = 'collapse'>
			<div id = "comment-6628" class = "comment">
				<p>I upvoted it - at least it's back to a flat zero now :/ [& no, I don't see anything wrong with it either]</p>
			</div>
			</div>
				<textarea id = "speech-3066" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3066">
					<img id="start_img-3066" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3066">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3067"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3067" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've had a look at the question and, to be honest, don't see any major problems with it. </p>

<p>Obviously there's no way to know what the users who downvoted you were thinking, but I had a look and see they were all before you changed the title, so who knows if that played a role. </p>

<p>In this case it may be best to move on and forget it. For what it's worth, I don't get the joke responses you get when I use Siri to set a timer, so that in itself makes the question valid in my opinion.</p>
</p><br>
			</div>
			<div id = "userinfo-3067" style = "float:right">
				<p>user name : Monomeeth</p>
				<p> user reputation : 23884</p>
				<p> user tag wise history : {'None': 78, 'support': 7, 'bug': 6, 'design': 6, 'chat': 5, 'review-page': 2, 'discussion': 47, 'site-promotion': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3067">Load Comments</button></br>
			<div id = "commentsection-3067" class = 'collapse'>
			<div id = "comment-6625" class = "comment">
				<p>Thanks you for taking a look.</p>
			</div>
			</div>
				<textarea id = "speech-3067" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3067">
					<img id="start_img-3067" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3067">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>