<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to connect an infrared remote control to PC or Arduino or Raspberry Pi?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1274" class = "post">
			<h2>Question</h2>
			<div id="vote-1274" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 483</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to connect an infrared remote control to PC or Arduino or Raspberry Pi?</h2>
<p>I bought my kid a <a href="http://www.gigo.com.tw/english/_toy/detail.php?MID=100&amp;SID=101&amp;ID=974" rel="nofollow">robotics kit</a> with several motors and an infrared remote control (you can steer the robot using IR remote control).</p>

<p>Now I want to take it to the next level and control the robots from a PC or a Raspberry Pi.</p>

<p>What is the simplest approach to do this?</p>

<p>I am thinking about 2 possible ways:</p>

<ol>
<li>Find out the protocol the existing remote control uses and then emulate the IR signals using Arduino (Arduino is sending the IR signals).</li>
<li>Find a piece of hardware, which presses the buttons on the remote control and control it via to Arduino (Arduino is sending signals to the button pushers, the remote control is sending the IR signals to the robot).</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-1274" data-toggle = "popover">
				<p>user name : DP_</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-1274">{'mobile-robot': 1, 'None': 0, 'raspberry-pi': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1274">Load Comments</button></br>
			<div id = "commentsection-1274" class = 'collapse'>
			<div id = "comment-2855" class = "comment">
				<p>Buy them a lego mindstorms kit.</p>
			</div>
			</div>
				<textarea id = "speech-1274" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1274">
					<img id="start_img-1274" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1274">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1275"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1275" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Read <a href="http://learn.adafruit.com/ir-sensor" rel="nofollow">Ada Fruits Tutorial</a> along with many other sources of IR tutorials out there.</p>

<p>Then for an Arduino I would use (and have used) <a href="http://www.righto.com/2009/08/multi-protocol-infrared-remote-library.html" rel="nofollow">Ken's IRremote Library</a> as it has several examples, several device protocols and requires only a <a href="https://www.sparkfun.com/products/10266" rel="nofollow">TSOP38238</a>. And is quickly adaptable to others.</p>

<p>Look at the GitHub Network of Forks, as there are others who have added other device protocols.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1275" data-toggle = "popover">
				<p>user name : mpflaga</p>
				<p> user reputation : 326</p>
				<p class = "tagcontent" id = "usertaginfo-1275">{'None': 18}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1275" class = 'collapse'>
			</div>
				<textarea id = "speech-1275" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1275">
					<img id="start_img-1275" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1275">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>