<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>How to make RRT to work for dynamic systems?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11204" class = "post">
			<h2>Question</h2>
			<div id="vote-11204" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 118</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How to make RRT to work for dynamic systems?</h2>
<p>I want to make path planning algorithm for a quadrotor with RRT in my thesis. I have searched lots of articles and come up with the concept of "dynamic RTT" and one of the articles has a title "kinodynamic RRT*". I have emailed the author of the article with no response. </p>

<p>The main point that I couldn't understand is, we need to sample random state for dynamic RRT like 2 position and 2 velocity values for planar vehicle or an angle and its rate in case of 2D-quadrotor.</p>

<p>How should the samples be so that speeds and positions does not confused and when should I consider the saturation limits of the actuators or vehicle acceleration limits.</p>

<p>I can't understand how to handle what if two consecutive samples for positions are A(0,0) and B(10,10) this needs positive velocity at the point B but sampling can cause negative velocity. Am I wrong?</p>

<p>Other issue is, how should the control signal be determined so that it can be applied for duration of delta t to move as close as possible to the sampled point. I am not sure how to determine the input or move the vehicle. </p>

<p>Do I need optimizations so that it can reach to the sampled point in shortest time possible?</p>

<p>Please let me know if there is a missing part to be understood.</p>

<p>Thanks in advance.</p>

<p>Wish a hopeful new year.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11204" data-toggle = "popover">
				<p>user name : freezer</p>
				<p> user reputation : 35</p>
				<p class = "tagcontent" id = "usertaginfo-11204">{'quadcopter': 5, 'control': 1, 'None': 0, 'rrt': 0, 'pid': 4, 'matlab': 4, 'path-planning': 1, 'mobile-robot': 1, 'motion-planning': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11204">Load Comments</button></br>
			<div id = "commentsection-11204" class = 'collapse'>
			<div id = "comment-20250" class = "comment">
				<p>What is RRT? Can you link to any of the papers, or at least post the title and author(s)?</p>
			</div>
			<div id = "comment-20251" class = "comment">
				<p>https://www.google.com.tr/url?sa=t&source=web&rct=j&url=http://msl.cs.uiuc.edu/~lavalle/papers/LavKuf01b.pdf&ved=0ahUKEwjnwIq35u7QAhXLOBQKHXaHBkYQFggeMAA&usg=AFQjCNF0OI6hpkbo8eEN9vTKU9Zfe-x3UQ&sig2=F-QelaD2OnkXtCzC5P_zRg this is one of the articles</p>
			</div>
			<div id = "comment-20252" class = "comment">
				<p>This paper should provide enough info to implement kinodynamic RRT* http://arl.cs.utah.edu/pubs/ICRA2013-1.pdf</p>
			</div>
			<div id = "comment-20257" class = "comment">
				<p>I have this article and the author Dustin Webb is the one who I sent an email. I really couldn't understand the cost function parts while I have the code related with the article. I can't get the point where I am considering the saturations etc.</p>
			</div>
			</div>
				<textarea id = "speech-11204" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11204">
					<img id="start_img-11204" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11204">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11207"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11207" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Dynamic Systems are described via system identification. That is a procedure to generate a physic engine on-the-fly. The physic engine can predict the future state of the system. An example: the quadrotor has a speed of 10 mph and runs into a wall. The physics engine aka "dynamic system" can predict the collison.</p>

<p>RRT is used for solving the optimal control problem. It calculates the control signals for the quadcopter for reaching a given goal like "fly to a point", "be in balance". The paper which is cited in the comments tries to adapt RRT for kinodynamic planning with the aim of reducing the search space. According to my research the best RRT-like algorithm for solving optimal control is DARRT which was invented by BostonDynamics engineer Jennifer Barry.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11207" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-11207">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11207">Load Comments</button></br>
			<div id = "commentsection-11207" class = 'collapse'>
			<div id = "comment-20258" class = "comment">
				<p>As far as I understand from basic explanation of the algorithm, control signal drives the system from one state to another for a given time duration and the final state is considered as the newest sampled state to be added onto the tree. Bu I am having difficulties to understand how to find the control signal to be applied and how to be sure the target state has appropriate values so that the system can be driven to it.</p>
			</div>
			<div id = "comment-20260" class = "comment">
				<p>The target state is a node in the RRT-Graph, it is comparable to a gametree for Rubiks-cube. I have made a [video](https://www.youtube.com/watch?v=TRTAThlgQl8) which visualizes the RRT-Tree. To your other question "how to search the complete RRT Tree for a given target state" the answer is: I don't know.</p>
			</div>
			<div id = "comment-20300" class = "comment">
				<p>Let say you have a state theta yaw angle. And your vehicle is heading to North. A sample later what if it samples 270deg heading while we desire to go through North? It tends to turn randomly either. Isn't this something awkward?</p>
			</div>
			</div>
				<textarea id = "speech-11207" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11207">
					<img id="start_img-11207" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11207">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>