<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>How should I ask about getting a software recommendation?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2180" class = "post">
			<h2>Question</h2>
			<div id="vote-2180" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">23</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 756</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>How should I ask about getting a software recommendation?</h2>
<p>I am looking for software advice and don't want to ask a question like:</p>

<p>"What is the best racing game for iOS?"</p>

<p>"What is the best free alternative to Photoshop?"</p>

<p>Those sort of questions get down votes, all sorts of wrong answers and are likely to be closed unless there is some critical information in the body of the questions to make them useful and answerable.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2180" class = 'collapse'>
			</div>
				<textarea id = "speech-2180" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2180">
					<img id="start_img-2180" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2180">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2181"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2181" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">23</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Although there is a <a href="http://softwarerecs.stackexchange.com">new site that exclusively handles software recommendations</a>, we have been hosting good software recommendation questions since the beginning of Ask Different in August 2010.</p>

<p>Here is an <a href="https://softwarerecs.meta.stackexchange.com/questions/197/">adaptation of an excellent thread</a> from the Software Recommendation site on how to ask a high-quality question here. </p>

<ul>
<li>Software recommendation questions are best when narrowly scoped</li>
<li>Try not to ask a "wikipedia" of everything that could possibly do X </li>
<li>Try to focus on clearly documenting the specific tasks you need to accomplish along with your constraints <em>(be they time or money or OS version related)</em></li>
</ul>

<hr>

<h1>1. Straight to the point, succinct title</h1>

<p>Don't use words like 'best' or 'good' - just tell us what you want. We're not going to recommend the worst, or bad software. For example, a great title could be<br>
  <strong><em>What [editor/utility/program/plugin] does [task] in [manner]?</em></strong></p>

<h1>2. Describe your task</h1>

<p>This is mandatory - Tell us in clear words what you're doing, or intend to do with what we recommend. If you're bulk re-sizing a bunch of pictures while converting them to another format, or looking for a game to waste time in chunks of 15 minutes - let us know with as several specific and relevant details.</p>

<h1>3. Describe what you have, if anything, and what you don't like about it</h1>

<p>This can sometimes be optional, but let us know what you've got or what you've tried and didn't like, and why. Let us know if you looked at something and decided it wasn't for you. Note - this allows for great answers that may recommend something you dismissed by explaining a feature you overlooked.</p>

<h1>4. Give us an enumerated list of constraints, in order of importance</h1>

<p>Every recommendation question probably needs this list. Tell us the features or operating constraints a good fit would meet, ordered from must-have to nice-to-have. An example:</p>

<ol>
<li>Must run on MacBook Pro (Mid 2013) with 10.8 (and not 10.9)</li>
<li>Must be available outside the Mac App Store</li>
<li>Ideally takes less than 20MB of initial download</li>
<li>Big plus if it does not offer / need in-app-purchase</li>
</ol>

<p>Note: Price is generally a bad requirement. Limiting the question to free or less than $x does two very bad things. First, it doesn't help others as everyone's budgets change based on how important the task is to them. Secondly, prices change (and your budget changes over time) and the cost at basecamp on mount everest doesn't match the price for London or Chicago. Thirdly, once we have collected good software that does X - everyone can easily price them out and select an answer that's best for them when they go to buy.</p>

<h1>5. Wrap up your question, if it needs wrapping up.</h1>

<p>You can probably skip this most of the time if you want, but this is a place to put anything supplemental. </p>

<p>Your goal when writing is to narrow the scope enough so that realistically, 10 answers might directly answer it.</p>

<hr>

<p>That's everything someone needs in order to give you a great recommendation. We may not be able to meet all of your requirements, but since you've listed them in the order of importance, we'll be able to recommend something that gets the most important job done. By thinking about asking a great question, you will be helping many other people as well as the potential pool of people that will step up to make an answer to your question.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2181" class = 'collapse'>
			</div>
				<textarea id = "speech-2181" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2181">
					<img id="start_img-2181" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2181">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>