<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Humble beginnings
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-472" class = "post">
			<h2>Question</h2>
			<div id="vote-472" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 332</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Humble beginnings</h2>
<p>I want to learn robotics and build my first robot. I am looking for a well supported kit that is simple enough and can walk me through, the initial stages of my intellectual pursuit in Robotics. I want to be able to do the basic things first and build a solid foundation in robotics. And then I want to be able to use the solid foundation, to gain confidence in my ability to build new and interesting robotic contraptions. In other words, I want to be able to follow the rules off the game to gain a solid foundation and then once I'm comfortable with what I know, I want to break free of the rules and start making my own robots. </p>

<p>I would like help with 2 things,</p>

<ol>
<li><p>I would like to begin my robotics learning with a good kit that can walk me through my initial stages. I expect that this initial stage might take quite a while. So, any recommendations for how I can start and/or what kit I can buy, to get my feet wet, would be helpful.</p></li>
<li><p>I would like suggestions for "other" actions I can take, that will set me on a path to gain confidence in my knowledge of robotics.</p></li>
</ol>

<p>A little bit about myself. I have a BS and MS in IT. So I am not new to programming. I like to code in golang and haskell. I do not know if it is possible, but it would be awesome if I can write the software aspect of all my robotic projects in haskell.</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-472" data-toggle = "popover">
				<p>user name : Jay</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-472">{'quadcopter': 3, 'None': 0, 'ardupilot': 3, 'kit': -5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-472">Load Comments</button></br>
			<div id = "commentsection-472" class = 'collapse'>
			<div id = "comment-543" class = "comment">
				<p>Sadly, [shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/) are not a good fit for stack exchange sites. Recommendations go out of date too quickly and are thus rarely useful to future visitors. Much better are [practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/faq#dontask). Voting to close as *not constructive ... We expect answers to be supported by facts, references, or specific expertise, but this question will likely solicit debate, arguments, polling, or extended discussion...*.</p>
			</div>
			<div id = "comment-544" class = "comment">
				<p>How do I un-vote your vote? If I can't ask questions like this right now, you won't have users 3 or 4 years from now asking the kind of questions that would be a good fit for stack exchange. Everyone has to start somewhere and if you are going to prevent people from asking questions about how to begin in robotics then you won't have people knowledgeable enough to ask "practical, answerable questions based on actual problem that you face".</p>
			</div>
			<div id = "comment-545" class = "comment">
				<p>@AJ.: You're free to ask in [chat]. The network used to allow such questions, but they caused lots of problems and didn't really help make the site better. SE sites aren't for asking list-type/open-ended questions. You can ask in the chatroom (though most people will tell you to get a Mindstorms). Use it a bit--you may have questions about that which you can ask here (We don't mind beginner-level questions. "Getting started" causes problems, we're not allowing it).</p>
			</div>
			<div id = "comment-546" class = "comment">
				<p>Sorry @AJ. but we know for certain that some types of questions **really** don't work well on stack exchange and it's even more important when a site like ours is young that people understand what sorts of questions do and don't work. I hope that you aren't discouraged from asking more questions, we really need them and I'm fascinated by the potential for doing robotics programming in Erlang. Incidentally, a *problem you face* doesn't necessarily have to be a problem you face *right now*, it could be a problem you anticipate having in the future.</p>
			</div>
			</div>
				<textarea id = "speech-472" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-472">
					<img id="start_img-472" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-472">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-473"  class = "post">
				<h2>Answer</h2>
			<div id="vote-473" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I got drawn into Robotics by a Lego Mindstorms lab course at our university, in which the participants were divided into 2 teams whose robots had to compete against each other in some predefined task. That was shortly before the NXT were introduced. In my experience, a Lego Mindstorms kit is a good way for "software people" to get into Robotics because it doesn't overwhelm you with electronics and manufacturing-related questions when you just want to build e.g. a line follower robot. The NXT kits can also be flased with many different kinds of custom firmware that is available on the Interent. There is also a LabVIEW interface, if i recall correctly.</p>

<p>Another good starting point may be Arduino boards or anything from this company:
<a href="http://www.vexrobotics.com/" rel="nofollow">http://www.vexrobotics.com/</a>
I used them to order some parts i needed for a mechatronics class project. A Parrot AR drone may also be interesting. Or look for game engines or simulators if you want to stay away from hardware at first.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-473" data-toggle = "popover">
				<p>user name : Daniel Eberts</p>
				<p> user reputation : 546</p>
				<p class = "tagcontent" id = "usertaginfo-473">{'None': 32, 'particle-filter': 17, 'localization': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-473" class = 'collapse'>
			</div>
				<textarea id = "speech-473" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-473">
					<img id="start_img-473" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-473">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>