<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I am new in robotics....I want to know about SLAM algorithm....How should I proceed?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5020" class = "post">
			<h2>Question</h2>
			<div id="vote-5020" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 118</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I am new in robotics....I want to know about SLAM algorithm....How should I proceed?</h2>
<p>Please give me guidance how should I proceed to know about SLAM algorithm? I am following some youtube videos but those are not so much helpful for me..... </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5020" data-toggle = "popover">
				<p>user name : Tanuj</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-5020">{'None': 0, 'computer-vision': -3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5020">Load Comments</button></br>
			<div id = "commentsection-5020" class = 'collapse'>
			<div id = "comment-7770" class = "comment">
				<p>Read books, articles, robotics sites, Coursera/EdX courses?</p>
			</div>
			<div id = "comment-7774" class = "comment">
				<p>SLAM is a very large topic that requires a the mastery of a lot of background material, including probability theory, bayesian inference, kalman filters, etc.  It is really hard to give advice without knowing your background and what you want to accomplish from SLAM.</p>
			</div>
			</div>
				<textarea id = "speech-5020" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5020">
					<img id="start_img-5020" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5020">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5022"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5022" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should approach it as you would any subject in which you'd like to learn more.  </p>

<p>Start by clarifying for yourself:</p>

<ul>
<li>why do you want to know more about SLAM algorithms</li>
<li>how much time do you want to put into the subject</li>
<li>how do you learn best -- listening to a speaker, reading a text, writing some code and observing how it works, having a discussion with others</li>
</ul>

<p>Based on your objectives then it is possible to come up with a learning plan to progress through the subject.</p>

<p>Understand the basics, read the wikipedia article, look at a presentation... SLAM stands for Simultaneous Localization and Mapping.  Understand what localization and mapping are independently, then why you'd want to do that simultaneously and why it is difficult.</p>

<ul>
<li>read "simultaneous localization and mapping" on wikipedia</li>
<li>google "introduction to robotics slam" and follow some links, such as the pdf from ai robotics school</li>
</ul>

<p>Build up the pre-requisite knowledge if you don't have it.  If you were confused watching some youtube videos such as this Intro Course maybe you need to back up and watch the first 12 lectures first.
<a href="https://www.youtube.com/watch?v=xoULHsN3bjQ" rel="nofollow">https://www.youtube.com/watch?v=xoULHsN3bjQ</a></p>

<p>If you feel like you already have all the basics, then I guess trying to apply it in practice would be a good way to learn more about the different algorithms.  You can probably shortcut a bit by using existing robot platforms like LEGO Mindstorms or a TurtleBot running ROS or whatever you have available to you.</p>

<ul>
<li>google "slam lego"</li>
<li>google "slam ros" or "intro to navigation ros" and read more about gmapping</li>
</ul>

<p>When you get stuck, back up and dig into part of the subject in more depth and repeat.</p>

<p>Good luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5022" data-toggle = "popover">
				<p>user name : j12y</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-5022">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5022" class = 'collapse'>
			</div>
				<textarea id = "speech-5022" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5022">
					<img id="start_img-5022" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5022">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>