<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I am an entrepreneur and I want to start building robots for businesses, where do I start?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2222" class = "post">
			<h2>Question</h2>
			<div id="vote-2222" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 241</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I am an entrepreneur and I want to start building robots for businesses, where do I start?</h2>
<p>Over the last couple of years I've had good success with my technology startups and now looking to enter into robotics. I was interested in robotics and automation ever since I was a kid (yes, that sounds nerdy). So my question is: Where to get started, what to build? and how to sell? And lastly, how difficult it is to sell in this industry?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2222" data-toggle = "popover">
				<p>user name : Tracy</p>
				<p> user reputation : 19</p>
				<p class = "tagcontent" id = "usertaginfo-2222">{'None': 0, 'industrial-robot': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2222">Load Comments</button></br>
			<div id = "commentsection-2222" class = 'collapse'>
			<div id = "comment-4338" class = "comment">
				<p>This question might be answered already- try here: 

http://robotics.stackexchange.com/questions/2215/how-do-robotics-startups-work</p>
			</div>
			<div id = "comment-4358" class = "comment">
				<p>This is a pretty broad question, and I think you're lacking some details. Do you have an education in the field, or a related field? Do you mean you want to start a company to do this, or you want to design/build equipment yourself? What industry are you considering? Robotics are used in industrial, manufacturing, medical, scientific, food, agriculture. Basically anywhere there's repeated motion that requires repeatability and precision. What you build will depend on the target industry and their needs.</p>
			</div>
			</div>
				<textarea id = "speech-2222" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2222">
					<img id="start_img-2222" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2222">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2225"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2225" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To answer your questions:</p>

<ul>
<li>Where to get started?</li>
</ul>

<p>Start with an idea, talk to some experts about feasibility, hire someone to build a prototype, then get funding and produce your final product.</p>

<ul>
<li>What to build?</li>
</ul>

<p>Build something that is useful, if you want it to be marketable.</p>

<ul>
<li>How to sell?</li>
</ul>

<p>The same way you sell anything else... market it to the right demographic.</p>

<ul>
<li>How difficult it is to sell in this industry?</li>
</ul>

<p>Can't answer this, because it largely depends on what you're selling and how good you are at selling things.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2225" data-toggle = "popover">
				<p>user name : user453441</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-2225">{'None': 5, 'motor': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2225" class = 'collapse'>
			</div>
				<textarea id = "speech-2225" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2225">
					<img id="start_img-2225" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2225">Comment</button>
			<br><div id = "ans-2238"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2238" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Where to get started?
Start with an idea, write down its properties, requirements, scope of the robot, its audience. Sketch it on paper. Make a CAD model using Solidworks if you have. You can simulate many properties in Solidworks. You can also import a 3D model of the ECAD file and estimate the production cost. Learn electronics, programmering and take several courses in mathematics. </p>

<p>What to build?
Build what you would love to have or exist.</p>

<p>How to sell?
Anything can be sold to anybody at any price, if the product makes an impression on the buyer. </p>

<p>How difficult it is to sell in this industry?
Robots nowadays are like computers 40 years ago. So the opportunities are huge. Having said that, the better it impresses the buyer the easier it gets sold. But generally robots related to "Saving the environment", "Saving human lives and increasing health and comfort", "Minimising crime or unwanted behaviors" are getting popular and get a lot of attention in the media.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2238" data-toggle = "popover">
				<p>user name : Esk</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-2238">{'None': 23, 'chassis': 2, 'motor': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2238" class = 'collapse'>
			</div>
				<textarea id = "speech-2238" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2238">
					<img id="start_img-2238" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2238">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>