<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I can't get motors to turn with Raspberry pi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8421" class = "post">
			<h2>Question</h2>
			<div id="vote-8421" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 123</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I can't get motors to turn with Raspberry pi</h2>
<p>I want to turn some motors using my raspberry pi. I am able to turn an LED on and off using the 3.3V GPIO pin. For the motors, I tried using a L293D chip as per the instructions on <a href="http://computers.tutsplus.com/tutorials/controlling-dc-motors-using-python-with-a-raspberry-pi--cms-20051" rel="nofollow">this link</a>.</p>

<p>What happened is that the very first time I set the circuit up for one motor, it worked perfectly. But then, I moved the pi a little and the motor has since refused to work. I even bought a new pi and still no luck with the circuit. I then bought a L298N board that fits smugly on top of the GPIO pins of the pi and followed the instructions on the <a href="https://www.youtube.com/watch?v=JJXzlCK4vnY" rel="nofollow">this video</a></p>

<p>Still no luck, the motor just won't run with either pi. I am using four AA batteries to power the motor and a connecting the pi to a power supply from the wall. What could possibly be the problem here?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8421" data-toggle = "popover">
				<p>user name : Rohit Pandey</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-8421">{'None': 0, 'raspberry-pi': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8421">Load Comments</button></br>
			<div id = "commentsection-8421" class = 'collapse'>
			<div id = "comment-13650" class = "comment">
				<p>Can you post pictures and/or schematics of how you have this set up? The "moved it a little and then it stopped working" is probably a red herring; probably something else is going on and that's the last time you remember it working.</p>
			</div>
			</div>
				<textarea id = "speech-8421" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8421">
					<img id="start_img-8421" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8421">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8423"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8423" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have changed the Pi and changed the L298N board then I would suspect there is a problem with the motor.  Is it possible to drive the motor without the Pi?</p>

<p>You could try replacing the batteries with a second power supply, I'm assuming you have checked the batteries aren't flat :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8423" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-8423">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8423">Load Comments</button></br>
			<div id = "commentsection-8423" class = 'collapse'>
			<div id = "comment-13611" class = "comment">
				<p>Sorry - forgot to mention.. I did try connecting the motors directly to the battery as well and they seem to work fine.</p>
			</div>
			<div id = "comment-13613" class = "comment">
				<p>Have you checked/changed all the wires?  Did you disconnect the wires when you moved the pi?  If so its possible the wiring diagram is wrong and you put a wire in the wrong place first time?  Have you rubbed the batteries between your hands? :)</p>
			</div>
			<div id = "comment-13614" class = "comment">
				<p>Yeah, I checked the wiring diagram multiple times and still no luck :(. Can you recommend a motor shield that worked for you with the RPi?</p>
			</div>
			<div id = "comment-13683" class = "comment">
				<p>Sorry, but I've never used a pi and a motor.  I have used an Arduino and a motor driver board, the cheep $1 ones of eBay/AliExpress.  http://www.aliexpress.com/item/New-Board-ULN2003-5-Line-4-Phase-5V-Stepper-Motor-28BYJ-48-With-Drive-Test-Module/32327223834.html?spm=2114.031010208.8.92.qzLIFt

But I'm not sure that will help, because it needs 5V logic.</p>
			</div>
			</div>
				<textarea id = "speech-8423" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8423">
					<img id="start_img-8423" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8423">Comment</button>
			<br><div id = "ans-8430"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8430" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>run a continuity test on the windings using your voltmeter and let us know what the resistance is compared to what the datasheet on your motor states.
That will give you a clue as to whether your motor is ok or not, if you get no reading, then your motor is gone.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8430" data-toggle = "popover">
				<p>user name : Ycombinatordev</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8430">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8430" class = 'collapse'>
			</div>
				<textarea id = "speech-8430" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8430">
					<img id="start_img-8430" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8430">Comment</button>
			<br><div id = "ans-8437"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8437" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The datasheet of the l298n motor clearly states that you need a minimum of 4.5V of Vss,that is logic supply.Try giving it a higher voltage. 3.3V wont work.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8437" data-toggle = "popover">
				<p>user name : Kartik Madhira</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-8437">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8437" class = 'collapse'>
			</div>
				<textarea id = "speech-8437" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8437">
					<img id="start_img-8437" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8437">Comment</button>
			<br><div id = "ans-10592"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10592" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The same thing happens to me. When i connect my motor it works for the first time and after that it stop working. </p>

<p>Finally i figured out my breadboard was faulty. It may not be your case but do one thing connect all the wire by hand by pressing your finger tip and see what happens. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10592" data-toggle = "popover">
				<p>user name : Tanvir Rajeev</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-10592">{'power': 2, 'None': 0, 'raspberry-pi': 2, 'motor': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10592" class = 'collapse'>
			</div>
				<textarea id = "speech-10592" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10592">
					<img id="start_img-10592" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10592">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>