<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I got a Tumbleweed badge - woopy doo!
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1782" class = "post">
			<h2>Question</h2>
			<div id="vote-1782" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 64</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I got a Tumbleweed badge - woopy doo!</h2>
<p>What purpose does the Tumbleweed badge serve apart from annoying me? And now I'm getting this: <em>This question body does not meet our quality standards. Please make sure that it completely describes your problem - including what you have already tried - and is written using proper grammar.</em></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1782" data-toggle = "popover">
				<p>user name : SteveW</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1782">{'None': 0, 'discussion': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1782">Load Comments</button></br>
			<div id = "commentsection-1782" class = 'collapse'>
			<div id = "comment-3343" class = "comment">
				<p>What purpose does any badge serve really? The answer: none. They're supposed to be fun, non-serious and don't represent anything really. I'd suggest shrugging it off. If it really bothers you, you can delete the question.</p>
			</div>
			<div id = "comment-3344" class = "comment">
				<p>@IanC., I asked a question about something that has been a serious problem on my computer (for a long time now), and I was hoping for a helpful answer - all I got was an irritating and useless badge!</p>
			</div>
			<div id = "comment-3346" class = "comment">
				<p>It certainly could seem like just rubbing it in that you didn't get any help. This is worth noting.</p>
			</div>
			<div id = "comment-3347" class = "comment">
				<p>@DanielLawson, Thanks, I've been checking every day hoping to get a response, and I notice there are a lot of questions being asked with very few views, and hardly any answers - it seemed like a waste of time.</p>
			</div>
			<div id = "comment-3348" class = "comment">
				<p>@SteveW recall that we're not paid in any way to answer questions here. People do it because they find enjoyment in it and part of that enjoyment is the badges. I understand you're trying to find an answer to a serious question, but part of what keeps people engaged here and helping people is a little bit of levity.</p>
			</div>
			<div id = "comment-3349" class = "comment">
				<p>@IanC.I fully understand that no one gets paid for this, but the very existence of the site suggests that you might get lucky and find someone who can answer your question - therefore raising your hopes. The badge I received raised my hopes even more.. and then I read what the badge was for. It was like a slap in the face accompanied with group laughter! I hope you can understand how disappointing and irritating that was.</p>
			</div>
			<div id = "comment-3367" class = "comment">
				<p>I'd hoped we might find an answer for you. I hope the Apple tech gets your computer working!</p>
			</div>
			<div id = "comment-3374" class = "comment">
				<p>@DanielLawson, Aw, I lost my Tumbleweed badge!  :) Thanks Daniel for all your help, and I hope IanC has managed to cool down a bit. My 'Help' issue hasn't been resolved yet, the tech at Apple thinks it could be a port problem.</p>
			</div>
			<div id = "comment-3375" class = "comment">
				<p>You get to keep the tumbleweed badge :-)</p>
			</div>
			</div>
				<textarea id = "speech-1782" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1782">
					<img id="start_img-1782" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1782">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1783"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1783" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One "point" to the Tumbleweed badge is that it makes it more likely that someone might find your question. If any users are looking to be helpful on questions that others have passed on, they can watch <a href="https://apple.stackexchange.com/help/badges/21/tumbleweed">the tumbleweed page</a> for posts that haven't gotten the attention they deserve.</p>

<p>The system gives the Tumbleweed designation to posts that have flown under the radar. That can help them get noticed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1783" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1783">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1783">Load Comments</button></br>
			<div id = "commentsection-1783" class = 'collapse'>
			<div id = "comment-3345" class = "comment">
				<p>This answer helps me get things into perspective. Apologies, the irritation has been building up for a long time now, and it's a touchy subject!  :)</p>
			</div>
			</div>
				<textarea id = "speech-1783" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1783">
					<img id="start_img-1783" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1783">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>