<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I need more robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5226" class = "post">
			<h2>Question</h2>
			<div id="vote-5226" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 113</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I need more robots</h2>
<p>I know that this isn't a programming question, but it is robotics so I thought you could all be flexible since it's my first question?</p>

<p>Anyway. I love making robots using robot kits that come with instructions. It's always fun to use afterwards because of the controllers I build with it.</p>

<p>The problem is that I can't find anymore robots. They are all either too expensive, not what I'm looking for, or both.</p>

<p>Can anybody give me links to some good robot kits?</p>

<p>My price limit is  30 -  40.</p>

<p>Here are the three robot kits I have built. I need kits that are like these:</p>

<p>Robot Arm: <a href="http://www.amazon.co.uk/gp/aw/d/B002HXTONC/ref=mp_s_a_1_9?qid=1419721030&amp;sr=8-9&amp;pi=AC_SX110_SY165" rel="nofollow">http://www.amazon.co.uk/gp/aw/d/B002HXTONC/ref=mp_s_a_1_9?qid=1419721030&amp;sr=8-9&amp;pi=AC_SX110_SY165</a></p>

<p>Remote Control Robot Beetle: I can't post more than two links. Go to maplins and type in the name of the robot and you'll find it. It's a rover version of the robot arm.</p>

<p>3-in-1 All Terrain Robot Kit: <a href="http://www.maplin.co.uk/p/3-in-1-atr-all-terrain-robot-n12dp" rel="nofollow">http://www.maplin.co.uk/p/3-in-1-atr-all-terrain-robot-n12dp</a></p>

<p>I don't want to program this robot. I want it to be like it is in the examples above. Buy the kit, read the instructions, then build it. </p>

<p>Thank you all in advance!</p>

<p>PS. Any further information will be given if asked for.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5226" data-toggle = "popover">
				<p>user name : TechyEngineer</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-5226">{'control': -3, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5226">Load Comments</button></br>
			<div id = "commentsection-5226" class = 'collapse'>
			<div id = "comment-8027" class = "comment">
				<p>This is no robotics, these are toys. This robotics stack exchange is made for professionnals or amateurs in the field of (real) robotics.</p>
			</div>
			<div id = "comment-8032" class = "comment">
				<p>Indeed, the same can be said of Arduinos. But an Arduino, like these kits is a valid stepping block, and the question and its answers are appropriate for people just starting.</p>
			</div>
			<div id = "comment-8038" class = "comment">
				<p>Why do you want to avoid programming?</p>
			</div>
			</div>
				<textarea id = "speech-5226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5226">
					<img id="start_img-5226" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5226">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5228"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5228" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The 3 "robots" above are not really robots. They are more like diy toys. A robot is fully autonomous. A robot that is controlled by someone is called a machine. I highly suggest you buy an arduino, some motors and sensors. Then you can truly make your own robot and there are plenty of instructions online for arduino robot and you can copy the code if you don't want to program.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5228" data-toggle = "popover">
				<p>user name : Harpreet Singh</p>
				<p> user reputation : 68</p>
				<p class = "tagcontent" id = "usertaginfo-5228">{'mobile-robot': 1, 'None': 6, 'localization': 1, 'arduino': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5228" class = 'collapse'>
			</div>
				<textarea id = "speech-5228" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5228">
					<img id="start_img-5228" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5228">Comment</button>
			<br><div id = "ans-5233"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5233" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I will agree with the other answer, what you are calling a robot is a stretch. A robot by definition is a computer operated complex machine. In my mind, the complex part of the definition also excludes an arduino for the most part.  Following a line or wall is not complex, and arduinos seldom do more than that. But an arduino is often the best pre-complex step for beginners.</p>

<p>I also strongly believe a robot is 99% software.  If you build it, and do not program it, you do not have a robot. You have a pile of electrical components. It is unable to perform ANY task, and can not be called a robot.</p>

<p>Search eBay for Arduino Smart Car.  And learn to program it, before moving on to <a href="http://www.spiked3.com/?page_id=1691" rel="nofollow noreferrer">real robots</a>.</p>

<p><img src="https://i.stack.imgur.com/aTtEf.jpg" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5233" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-5233">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5233" class = 'collapse'>
			</div>
				<textarea id = "speech-5233" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5233">
					<img id="start_img-5233" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5233">Comment</button>
			<br><div id = "ans-5235"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5235" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To be honest I don't think that one can begin his experience in robotics without programming or having some electronics skills.
There is (to my knowledge) no <em>out-of the box</em> solution to get started. Of course...you could start with some <a href="https://solarbotics.com/product/k_sv/" rel="nofollow">sumovore</a> robots or something like that, but you will soon discover that after building up the robot according to its instructions you have nothing else to do. You leave the robot running around without the possibility <em>to get directly involved in realizing robots o robotic system</em> (I hope you understand what I mean).</p>

<p>I can tell you that most of people doesn't start with robots directly. Most of them are coming from the IT, electronics, mechanical fields. But the first important thing is to learn to program and to have skills in electrics (I mean: not literally soldering your circuit, but understand how sensors works and what they are capable for, the protocols used... its a MUST).</p>

<p>Given your budget I strongly suggest you to buy an Arduino. You will spend a lot of time learning to program small applications and have a lot of fun. Furthermore you can buy some motor drivers, servomotors and start moving things, or simply to check datas coming from sensors (see <a href="https://learn.adafruit.com/category/learn-arduino" rel="nofollow">here</a> for many possibilities). The possibilities you have with Arduino are really a lot, you will never get bored. Then, once you are confident with what you want to do, you can move on and program small robots, robotic arm, etc... With such a <a href="http://www.amazon.de/Anf%C3%A4ngerset-Mikrocontroller-Breadboard-Starterset-Starterkit/dp/B00CR1FAS2/ref=sr_1_1?ie=UTF8&amp;qid=1419842526&amp;sr=8-1&amp;keywords=arduino" rel="nofollow">kit</a> you will have a lot of fun for the next 6 month.</p>

<p>Enjoy!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5235" data-toggle = "popover">
				<p>user name : Dave</p>
				<p> user reputation : 294</p>
				<p class = "tagcontent" id = "usertaginfo-5235">{'control': 10, 'quadcopter': 11, 'None': 6, 'pid': 13, 'uav': 3, 'matlab': 0, 'mobile-robot': 0, 'ros': 2, 'movement': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5235" class = 'collapse'>
			</div>
				<textarea id = "speech-5235" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5235">
					<img id="start_img-5235" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5235">Comment</button>
			<br><div id = "ans-5243"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5243" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree with most of what has been said here, but would like to make the point that getting into robotics is a journey and that people can follow different paths to get there!</p>

<p>Specifically we shouldn't undervalue the need for assembly skills (soldering, materials, etc) or knowledge of supporting areas (Battery technologies, motors and controllers, use of multi-meter, generic electronic components, materials and their properties, etc). Playing with "kits" can give you some of these skills and it is even better if you make your own "machine" from scratch.</p>

<p>For instance I have just completed my battle robot - which is radio controlled - and not autonomous and technically therefore not a robot (sigh). However the point is that I have learnt so much during the process that I certainly would not discount the experience. And it has been so much fun too. (Let us please not discount the fun element in all this!) </p>

<p>I suppose it is much the same for our friend and his kit "robots". And so many others. including those who came to robotics from IT or from Electronics. They enjoy the journey and before they know it, they are at their destination..</p>

<p>As for the recommendations to start with Arduino, I agree 100%.  Its cheap plus you can get a lot of cheap kit for it (especially from China, try www.banggood.com) and start to get to grips with sensors and programming which will come in very useful for your next project. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5243" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-5243">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5243" class = 'collapse'>
			</div>
				<textarea id = "speech-5243" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5243">
					<img id="start_img-5243" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5243">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>