<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I want to control a sewing machine motor; need help with choices
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5178" class = "post">
			<h2>Question</h2>
			<div id="vote-5178" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2193</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I want to control a sewing machine motor; need help with choices</h2>
<p>I've got an industrial sewing machine (think "can sew with thread that looks like string, and has no trouble pounding through 20 layers of Sunbrella fabric"); it's got a 1 HP motor to power it. (I've got a smaller machine as well, w/ a 1/2 or 3/4 HP motor, which I might work on first.) The motor is a "clutch motor" which is always on, and a foot-pedal engages a clutch, so unless you "slip the clutch", you're basically always sewing fast or stopped. I'd like better control. In particular, I'd like to </p>

<ol>
<li>Be able to stop with the needle "up"</li>
<li>Be able to stop with the needle "buried" (i.e., most of the way down)</li>
<li>Be able to press a button to move forward exactly one stitch</li>
<li>Be able to adjust -- probably with a knob -- the top speed of the motor</li>
<li>Have the motor off when I'm not actually sewing</li>
</ol>

<p>The 1 HP motor is probably overkill for what I'm doing. I don't suppose I've ever used more than about 1/4 HP even on the toughest jobs. </p>

<p>I'd appreciate any comments on my thinking so far: </p>

<p>From what I've read, it looks as if a DC motor is the way to go (max torque at zero speed, which is nice for that initial "punch through the material" thing, and the ability to "brake" by shorting the + and - terminals). Brushless would be nice...but expensive. And I have a nice DC treadmill motor, and if I drive it at about 12-24V, it'll give me more or less the right speed; adjusting pulleys will do the rest. Such DC motors are powered (in electric lawnmowers, for instance) by running AC through a diode bridge rectifier to produce pulsating DC, and I've got such a bridge rectifier handy. I also have an old autotransformer that I can use to get 24VAC pretty easily. Thus I can get 24V pulsating DC to drive the thing ... but that may or may not be a good idea. </p>

<p>I've also got an Arduino and the skills to program it, and several years of electronics tinkering, and some RC experience...but no experience handling larger DC motors like this one. I've been told the magic words "H-bridge", and found this <a href="http://www.ebay.com/itm/SX8847-240W-H-bridge-Motor-Driver-Module-SPI-Smart-Car-4WD-Arduino-USA-/111337627980?pt=LH_DefaultDomain_0&amp;hash=item19ec3d614c">motor driver</a> which certainly seems as if it'll allow me to turn on/off the motor, and regulate the voltage going to the motor. I don't know whether, when presented with pulsating DC at the input, it'll still work. Any thoughts on this? </p>

<p>I also can't tell -- there doesn't seem to be a handy datasheet or instruction page -- whether this thing can do braking. </p>

<p>For position sensing, there are lots of places I can get information -- either from the needle baror the handwheel of the sewing machine, so I'm not too concerned about that part. To give a sense of the problem, a typical stitching speed is something like 1000 stiches per minute, so if I'm just sensing whether the needle is in the top 1/4 of its travels or the bottom quarter, we're talking about something on the order of 10-50Hz, which doesn't <em>sound</em> like a challenging control scenario. </p>

<p>I guess my questions are these:</p>

<ol>
<li>Will pulsating DC work with a controller like the one I've cited? </li>
<li>Would I be better off with an RC motor-controller? I can't seem to find one designed for the 24V range that can handle 50 amps, unless it's for a brushless motor, which I don't have. And I <em>think</em> that I want one that has braking ability as well. And I worry that with an RC controller, the software in the controller may prevent me from making the motor stop at a particular position. </li>
</ol>

<p>Any comments/suggestions appreciated. (BTW, I'm happy with mathematics and with reading data sheets, and I've read (a few years ago) about half of "The Art of Electronics", just so you have an idea of the level of answer that's appropriate.) </p>

<p>To answer @jwpat's questions:</p>

<ol>
<li><p>I got my voltage value by saying that the motor is rated for (I think) 130V, and is 2.5HP (yikes), but turns at something like 6700 RPM. (<a href="https://www.youtube.com/watch?v=olxeXGonOIk">Here's</a> one that looks just like mine).  Dividing by 5 or 6, I got "about 24 V" to give me about 1400 RPM. (I'm at the office; the motor's at home, so I can't tell you the exact part number, alas.) I honestly don't think that the no-load vs load condition is a big deal, because I can wangle a factor of 2 with pulleys. </p></li>
<li><p>The sewing machine is a <a href="https://www.youtube.com/watch?v=exn_9WF6iqo">Juki 562</a> </p></li>
<li><p>Current motor/clutch are similar to <a href="http://rads.stackoverflow.com/amzn/click/B002L6KA92">this</a></p></li>
</ol>

<p>Sorry for the lack of detail here, </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5178" data-toggle = "popover">
				<p>user name : John</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-5178">{'control': 7, 'None': 0, 'power': 7, 'motor': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5178">Load Comments</button></br>
			<div id = "commentsection-5178" class = 'collapse'>
			<div id = "comment-7944" class = "comment">
				<p>1. Many treadmill motors operate at about 90 VDC.  What's the source of your 24V figure?  2. Is that  more or less the right speed  at 24V no-load or under load?  3. Do you have model numbers and photo links for the sewing machine, current motor and clutch, and treadmill motor?  (Please answer 1-2-3 by editing question, rather than via comments)</p>
			</div>
			<div id = "comment-7947" class = "comment">
				<p>Done-- I've added those details.</p>
			</div>
			<div id = "comment-9555" class = "comment">
				<p>Did you get this going? Would appreciate any feedback!</p>
			</div>
			<div id = "comment-9556" class = "comment">
				<p>Not much progress so far -- life got busy. I'll report back when I do make progress.</p>
			</div>
			<div id = "comment-10328" class = "comment">
				<p>are worried you will be unable to quit the actual motor in a an exact place for example upward or even straight down. I believe to achieve that you will require a big machine motor.</p>
			</div>
			<div id = "comment-10329" class = "comment">
				<p>I'm concerned that you will not be able to stop the motor at a a precise position such as up or down. I think to do that you would need a large stepper motor.</p>
			</div>
			<div id = "comment-10331" class = "comment">
				<p>I agree with your concern, and I guess I'll find out. I'll have a shaft-encoder of some sort on the sewing machine itself, and "down" is a range of about 40 degrees, while "up" is probably a 20-degree range. That gives me a little more hope of being able to stop within either of them. I now have several of the parts (but not the position sensors, alas), so I can start testing a little bit.</p>
			</div>
			<div id = "comment-10332" class = "comment">
				<p>On stack exchange John, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			<div id = "comment-13990" class = "comment">
				<p>FYI: Circuit Cellar's Ed Nisley has run a series of articles on controlling a home sewing machine (starting with the November 2014 issue I think) - with similar requirements to yours. His blog entries are here: http://softsolder.com/2014/07/09/kenmore-158-hall-effect-speed-control-pedal/ and the full articles are in the Circuit Cellar archives</p>
			</div>
			</div>
				<textarea id = "speech-5178" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5178">
					<img id="start_img-5178" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5178">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6378"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6378" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can't comment due to reputation but if you go to page 11/38 of <a href="http://www.st.com/web/en/resource/technical/document/datasheet/CD00268302.pdf" rel="nofollow">http://www.st.com/web/en/resource/technical/document/datasheet/CD00268302.pdf</a> you can see how to free wheel(break). </p>

<p>The chip is rated to 28V at 8.9A, but those are ratings in perfect conditions, you are probably pretty safe to go to 28V but because the board you mention is not heat synced I doubt it can support more than 5A. </p>

<p>A large motor with a large load may not run at half voltage full duty cycle (half power). </p>

<p>Since the module is rated to 270W and 1 hp = 745.699872 watts that module is hugely under powered for a 1hp motor. </p>

<p>My experience is that motor power is not particularly linear so "Dividing by 5 or 6, I got "about 24 V" to give me about 1400 RPM. " is not a really valid way of doing it. </p>

<p>Tl;dr. I would buy a much much large H-bridge. For that much power you will probably have to go to discrete MOSFETS and a H-bridge controller. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6378" data-toggle = "popover">
				<p>user name : Sam</p>
				<p> user reputation : 217</p>
				<p class = "tagcontent" id = "usertaginfo-6378">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6378">Load Comments</button></br>
			<div id = "commentsection-6378" class = 'collapse'>
			<div id = "comment-11035" class = "comment">
				<p>As a comment to this answer, I'd like to point out that motor power is proportional to speed cubed. (from the "motor power is not particularly linear" comment) This does not account for the voltage-speed relationship, which may or may not be linear, depending on motor construction.</p>
			</div>
			</div>
				<textarea id = "speech-6378" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6378">
					<img id="start_img-6378" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6378">Comment</button>
			<br><div id = "ans-7994"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7994" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, when you say 'pulsating' it's actually a square wave, it goes up then down. </p>

<p>We don't usually like those types of wave, that's why we regulated them to make a straight line or at least a line that represents a sine wave(those that move with smooth curves). </p>

<p>The type of current that is running through your circuitry doesn't generally affect what controller you should use.</p>

<p>Since you said you had experience with r/c then I think you're pretty fond of using r/c devices. Therefore, I don't suggest you use r/c since someone might operate a controller different from yours and accidentally operate your machine.</p>

<p>You might wanna try infared(Its range is a bit more secluded than radio so it has a lesser chance of being operated unintentionally), bluetooth(Pairing), or via the internet(I don't recommend this).</p>

<p>Plus, r/c communication is generally used when ranges are quite too far and directionless, I don't suppose you'd be operating your machine while taking a bath would you?</p>

<p>About the driver, drivers are usually used to increase the signal current (stepper motors, servo--), not the 'power' current. Since you're using dc, there won't be any signal current-- just those wires that supply power(Though there really are drivers for dc motors, you'd be better off constructing your own circuit if they just turn your dc from on to off and regulate them). I suggest you use relays that could handle your load, maybe 3 relays to handle the back and forth(Only in one speed).</p>

<p>If you ever want a motor where you could accurately control the location and even the speed, then look for a stepper motor(This one will use a motor driver---- unless it's a really small powered motor).</p>

<p>Personally, I've never tried under powering with differences like that. It might take a while for your motor to turn (worst case, it might not even turn) since it's waiting for the electricity to travel along its coil. </p>

<p>All the components should be relatively cheap, the relay would be the most expensive one. Best of luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7994" data-toggle = "popover">
				<p>user name : kdyz</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-7994">{'None': 1, 'laser': 4, 'microcontroller': 4, 'design': 4, 'sensors': 4, 'electronics': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7994">Load Comments</button></br>
			<div id = "commentsection-7994" class = 'collapse'>
			<div id = "comment-12760" class = "comment">
				<p>I asked about using an R/C motor *controller,* not an RC receiver. I agree that doing that could be very dangerous.</p>
			</div>
			</div>
				<textarea id = "speech-7994" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7994">
					<img id="start_img-7994" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7994">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>