<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I want to be a guy of robotics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5218" class = "post">
			<h2>Question</h2>
			<div id="vote-5218" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 120</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I want to be a guy of robotics</h2>
<p>I will be beginner need a help-I want to gain knowledge about robotics so it need a basic theoretical knowledge what is the best way to start?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5218" data-toggle = "popover">
				<p>user name : akshay</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-5218">{'None': 0, 'beginner': -3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5218">Load Comments</button></br>
			<div id = "commentsection-5218" class = 'collapse'>
			<div id = "comment-8001" class = "comment">
				<p>There could be a book written to answer that! Speaking of books, try reading books!</p>
			</div>
			</div>
				<textarea id = "speech-5218" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5218">
					<img id="start_img-5218" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5218">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5219"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5219" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Not too long ago I was a beginner myself so please let me give you my two cents worth of advice.</p>

<p>First of all, some background. </p>

<p>There are different types of robots you can build and the way they are controlled can be different too. </p>

<p>Essentially you have the robots that you build yourself out of bits and pieces and then you have kits you can buy and assemble. On top of that your robot can be radio controlled or it can have sensors and inbuilt programming that will make it react to its environment.</p>

<p>So you really need to better define what you mean when you say you need "knowledge about robotics".</p>

<p>If you decide to go the first route (build your own robot), it will be harder and will take longer but you are likely to learn far more in the process. It might also be cheaper especially if you use recycled parts, but I stand to be corrected on this.</p>

<p>Radio controlled robots bring their own challenges but are far easier to operate than autonomous ones (which use sensors and programming). Radio controlled robots are also easier to build, but they lack that certain something (call it sophistication?) and the challenge with these robots is definitely skewed towards the actual building of the robot hardware. If you go with an autonomous  kit robot, then you get to delve into the programming and sensors and it is more intellectually challenging. </p>

<p>Essentially if you want to make the robot autonomous then you need a microcontroller such as Arduino, which is essentially a microprocessor with input and output ports, so that you can read values from sensors and send out signals to operate servos, motors, lights and so on. This is how you would for instance get the robot to follow a line drawn on the ground. Many kit robots come with this microcontroller already installed so if you prefer to avoid the hassle of making your own robot this might be the best way to go. Plus of course you often get instruction manuals, user forums for that particular model and so on.</p>

<p>However if you do choose to make your own first robot then you should make sure it is a small one. In terms of cost, the microcontroller boards and the sensors you use with them are often very cheap (see also below), but expense grows with size, as in more material being required, larger motors/servos, larger batteries, and so on.</p>

<p>As an aside, in terms of materials, unless you are into wood work, I would recommend either aluminum or polycarbonate for the chassis parts. Polycarbonate in particular is extremely light and strong and can easily be cut into shape with hand tools. Its more expensive than aluminum so your best bet is to go for 3mm thick variety. Do not be scared at the bendability of the material - it won't break even if bent 180 degrees. NB. Make sure the shop does not give you Acrylic instead as this WILL BREAK! Another advantage of Polycarbonate is that it is transparent so it makes lining up holes and such like a breeze! Of course Aluminum is quite good too and you can buy it in various sizes and shapes (such as angle brackets) so it might be useful to explore that way forward also - 2.5mm to 3mm thick aluminum should be fine.</p>

<p>Anyhow, once you have decided what you want to do, then you can start to gather the resources and supporting knowledge you require. In other words you need to plan before you build anything. </p>

<p>First of all, there are lots of free resources online so please save your money to use on the actually hardware. </p>

<p>Download e-books - there are many of these easily available online. In some cases if a book is really good you might want to buy the paper version but don't get carried away.</p>

<p>For instance this site is quite good: <a href="http://it-ebooks.info" rel="nofollow">http://it-ebooks.info</a>. </p>

<p>Then there are many forums out there as well as you tube videos. Plenty of people willing to help too.</p>

<p>Another tip is to explore Chinese vendors because parts will often be far cheaper (although sometimes of lower quality).  But the cheapness means you can experiment without worrying about damaging anything. I buy a lot of my kit from www.banggood.com.</p>

<p>Some last points. </p>

<p>I have found that there are no clear boundaries in this hobby. </p>

<p>Whilst building my first robot, I got engaged with battery technology, Radio control channel mixing (followed a you tube video), motor controllers and motors. I converted cordless driller motors to use with my robot (followed a you tube video), scavenged printers to make the wheel shafts out of. I had to delve into (and buy) power supplies, watt meters, silicon-coated cables, different types of connectors, and umpteen other things I had never encountered before. </p>

<p>I visited metal working shops to get aluminum blocks cut and shaped. I also needed to go to  hardware stores to buy materials for my chassis, negotiated discounts for offcuts etc etc. </p>

<p>Which brings me to the most important thing of all - I talked to people everywhere and more importantly I listened! </p>

<p>That in fact is the number one thing you need to do. You will of course still make mistakes but at least in this way you will avoid making too many. Also note that some mistakes can be expensive and some mistakes can even be dangerous. LIPO batteries for instance need careful handling and require special chargers. So do not just barge ahead and think "these are toys and can't hurt me". Yes they can, especially if they involve large motors, high currents and moving parts.</p>

<p>So I suggest you start by collecting some ebooks using the site I listed. Then after reading bits and pieces here and there, decide on what you want to do exactly, then make a plan for your first robot and get going. And keep asking questions as you go. </p>

<p>And finally remember if it is not fun to do, then don't do it! Good luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5219" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-5219">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5219">Load Comments</button></br>
			<div id = "commentsection-5219" class = 'collapse'>
			<div id = "comment-8007" class = "comment">
				<p>Not once did you mention software. Imagine if we built PCs today by soldering chips and making our own chassis. At some point you have to understand, robots are a lot more about software than hardware.</p>
			</div>
			<div id = "comment-8019" class = "comment">
				<p>I did not specifically use the word "software" but I did refer to programming ..For instance I said "If you go with an autonomous kit robot, then you get to delve into the programming and sensors and it is more intellectually challenging." Of course, an element of software is always present even if just in the motor controllers / ESCs or transmitter etc. so it is definitely important. And yes I know you meant something that the designer of the robot can use to get the robot to follow instructions based on events. So why not add your own reply and maybe expand on the software part?</p>
			</div>
			</div>
				<textarea id = "speech-5219" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5219">
					<img id="start_img-5219" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5219">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>