<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I'd like to use gesture based input for my robot. What are the pros and cons between the Xtion Live and the Kinect?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-39" class = "post">
			<h2>Question</h2>
			<div id="vote-39" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 300</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I'd like to use gesture based input for my robot. What are the pros and cons between the Xtion Live and the Kinect?</h2>
<p>As in the title, I'd like to implement gesture recognition on my robot and I'm looking for the pros and cons between the Kinect and the Xtion - and also if there are any other sensible options available.</p>

<p>I'm thinking of the following, but open to other suggestions:</p>

<ul>
<li>Accuracy</li>
<li>Price</li>
<li>Driver quality</li>
<li>Power draw</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-39" data-toggle = "popover">
				<p>user name : berry120</p>
				<p> user reputation : 640</p>
				<p class = "tagcontent" id = "usertaginfo-39">{'control': 22, 'battery': 16, 'slam': 7, 'design': 8, 'motor': 11, 'underwater': 24, 'kinect': 4, 'auv': 24, 'input': 4, 'electronics': 10, 'gyroscope': 22, 'gps': 17, 'wheel': 9, 'None': 3, 'localization': 17, 'mapping': 7, 'failure': 11, 'protection': 10, 'sensors': 11, 'two-wheeled': 22, 'balance': 22, 'acoustic-rangefinder': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-39">Load Comments</button></br>
			<div id = "commentsection-39" class = 'collapse'>
			<div id = "comment-57" class = "comment">
				<p>Comparison questions almost always land in the "not constructive" territory.  Without ultra specific criteria, there are too many variables on which to compare.</p>
			</div>
			<div id = "comment-59" class = "comment">
				<p>@jonsca Usually I'd agree, but here I've tried to keep it specific - mainly between two devices and with a specific set of categories. I see your point though.</p>
			</div>
			<div id = "comment-60" class = "comment">
				<p>It's hard, as I think it's a question that's of interest, but in terms of setting a precedent for the site, I'm not so confident it's the way to go.</p>
			</div>
			<div id = "comment-74" class = "comment">
				<p>More of a comment here as I have no experience with Xtion. There is one point though, an impediment in my work, which I don't know how it relates to your plans.

By gestures what kind of detail are you looking at? I wanted to perform real-time control of a humanoid with Kinect and I could not get the rotations of individual joints. You could get the locations in 3D of each joint, however, it is not trivial how to recover relative angles. If you are planning to identify simple gestures such as pointing in different directions, or rough poses you should have absolutely no problem.</p>
			</div>
			<div id = "comment-131" class = "comment">
				<p>@gpierris I havent personally implemented this but a few ways to calculate joint angles using the Kinect have been discussed in this [stackoverflow question](http://stackoverflow.com/q/12499602/1473556). Ofcourse, as you aptly note, it is not trivial.</p>
			</div>
			</div>
				<textarea id = "speech-39" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-39">
					<img id="start_img-39" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-39">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-45"  class = "post">
				<h2>Answer</h2>
			<div id="vote-45" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I know the Xtion is smaller and powered by USB where as the Kinect requires to use a wall power socket to operate. In terms of depth perception they are very similar in terms of accuracy. Depending on whether your robot needs to be portable (i.e not attatched to the mains) and small should probably be the deciding factor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-45" data-toggle = "popover">
				<p>user name : Timothy Ford</p>
				<p> user reputation : 98</p>
				<p class = "tagcontent" id = "usertaginfo-45">{'None': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-45">Load Comments</button></br>
			<div id = "commentsection-45" class = 'collapse'>
			<div id = "comment-65" class = "comment">
				<p>You mentioned the most important differences in my eyes already - size and power consumption. I'd like to add, that both devices using the same sensor (from Primesense) and hence behave nearly identically. At least that's my impression so far - we are using both devices here.</p>
			</div>
			<div id = "comment-345" class = "comment">
				<p>The Kinect doesn't require wall power, but it does require a 12v 1.5a supply in addition to USB power.  I've also experimented a little and validated that I could use an unregulated 12v battery supply with an upper range of 17v and a lower range of ~8v before a brownout occurred.</p>
			</div>
			</div>
				<textarea id = "speech-45" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-45">
					<img id="start_img-45" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-45">Comment</button>
			<br><div id = "ans-330"  class = "post">
				<h2>Answer</h2>
			<div id="vote-330" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There may be software differences, depending on how you connect to the device. </p>

<p>On Linux, <code>freenect</code> seems to work better with Kinect than Xtion, while <code>openni</code> tries to support both, but seems rather buggy, lately.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-330" data-toggle = "popover">
				<p>user name : joq</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-330">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-330" class = 'collapse'>
			</div>
				<textarea id = "speech-330" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-330">
					<img id="start_img-330" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-330">Comment</button>
			<br><div id = "ans-335"  class = "post">
				<h2>Answer</h2>
			<div id="vote-335" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might also consider the <a href="https://leapmotion.com/" rel="nofollow noreferrer">Leap Motion</a>:</p>

<p><img src="https://i.stack.imgur.com/U52Ny.jpg" alt="Leap Motion"></p>

<p>It's got amazing resolution, and the ability to pick out individual fingers at an amazing update rate.</p>

<p><img src="https://i.stack.imgur.com/8fNK7.jpg" alt="Leap Motion"></p>

<p>And is even fine enough to allow you to write in the air with a pencil:</p>

<p><img src="https://i.stack.imgur.com/yQI9B.jpg" alt="Leap Motion Pencil"></p>

<p>You can't buy one yet, but they'll be available soon.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-335" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-335">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-335">Load Comments</button></br>
			<div id = "commentsection-335" class = 'collapse'>
			<div id = "comment-375" class = "comment">
				<p>The Leap indead looks like an interesting device. Be warned about the small interaction space of about 8 cubic feet (0.226535 m3). On the other hand it's very precise (0.01mm) [Source](https://forums.leapmotion.com/showthread.php?420-The-unofficial-Leap-FAQ). I'm curious about the first application examples.</p>
			</div>
			</div>
				<textarea id = "speech-335" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-335">
					<img id="start_img-335" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-335">Comment</button>
			<br><div id = "ans-482"  class = "post">
				<h2>Answer</h2>
			<div id="vote-482" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>More driver details:</p>

<p>OpenNI or freenect can be used with the Xtion and the XBox Kinect.</p>

<p>The "Kinect for Windows" requires the Microsoft SDK and drivers. However, there is also a bridge to go from the MSSDK drivers to OpenNI: <a href="http://code.google.com/p/kinect-mssdk-openni-bridge/" rel="nofollow">http://code.google.com/p/kinect-mssdk-openni-bridge/</a></p>

<p>Also, the latest version of the Kinect for Windows (>=1.5) has a <a href="http://blogs.msdn.com/b/kinectforwindows/archive/2012/01/20/near-mode-what-it-is-and-isn-t.aspx" rel="nofollow">near mode</a> that allows for better operation close to the device, this may be of use depending on the application. I do not believe the Xtion has this mode.</p>

<p>The XBox Kinect and Kinect for Windows appear to have different USB interfaces, so you have to use the right set of drivers depending on which one you have.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-482" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-482">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-482" class = 'collapse'>
			</div>
				<textarea id = "speech-482" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-482">
					<img id="start_img-482" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-482">Comment</button>
			<br><div id = "ans-2108"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2108" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The robotics team I lead at NCSU has implemented the ability to drive our holonomic robot using a Leap motion controller. Here's a <a href="https://www.youtube.com/watch?v=BDgmRz1Gb7Q#t=0" rel="nofollow">demo video</a>.</p>

<p>Our codebase is in Python, so we used the Python Leap library, which was quite simple and friendly. Our Leap-related code is only about 150 lines. Our client basically takes pitch, yaw and roll data from the Leap controller and converts it into movements, which it uses to make calls to our bot's API using ZMQ. I can share the code with you if you're interested in additional details (currently in a private GitHub repo pending our contest, but it's open sourced under the BSD two-clause license).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2108" data-toggle = "popover">
				<p>user name : dfarrell07</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-2108">{'brushless-motor': 2, 'None': 0, 'pid': 2, 'motor': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2108" class = 'collapse'>
			</div>
				<textarea id = "speech-2108" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2108">
					<img id="start_img-2108" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2108">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>