<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I'm seeing some pages not load where jquery.min.js is not being cached
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2677" class = "post">
			<h2>Question</h2>
			<div id="vote-2677" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 93</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I'm seeing some pages not load where jquery.min.js is not being cached</h2>
<p>I don't know if this is a bug or some loading/cloudflare configuration issue, but I've been having sporadic slowness on the site the past 4 hours (Tue Nov 17 16:25:40 UTC 2015) on Safari Version 9.0.2 (11601.3.9).</p>

<p>Specifically, when looking at questions (not the main site pages), page rendering is blocked by query.min.js not being cached and taking more than 15 seconds to load (most of the time when it takes that long, it will never end up loading)</p>

<p>The rest of the network times look fine, and I do use ghostly extension - but disabling that doesn't seem to affect this issue.</p>

<p><a href="https://i.stack.imgur.com/y7FJI.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/y7FJI.png" alt="enter image description here"></a></p>

<p>Is this a bug or a user level / configuration issue?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2677" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2677">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2677">Load Comments</button></br>
			<div id = "commentsection-2677" class = 'collapse'>
			<div id = "comment-5944" class = "comment">
				<p>Also, the site now loads images from graph.facebook.com - ewww. I'm guessing adzerk is injecting it, but I'll leave that privacy mess for another question.</p>
			</div>
			<div id = "comment-5945" class = "comment">
				<p>I may have to blame comcast on this one... https://mobile.twitter.com/theFNDTN/status/666653847792824320</p>
			</div>
			</div>
				<textarea id = "speech-2677" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2677">
					<img id="start_img-2677" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2677">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2678"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2678" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I cannot reproduce this so I'll blame the network provider up stream of me rather than the site or the infrastructure that's common to the SE network.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2678" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2678">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2678" class = 'collapse'>
			</div>
				<textarea id = "speech-2678" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2678">
					<img id="start_img-2678" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2678">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>