<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>I-Robot Create 2 reset after sleep issue?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10472" class = "post">
			<h2>Question</h2>
			<div id="vote-10472" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 86</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>I-Robot Create 2 reset after sleep issue?</h2>
<p>I am having issues with bringing the robot out of its sleep or off mode. Seems it goes into sleep mode when there is no activity for about 4 minutes. I am using the i-Robot Create 2 serial cable. When it is in its sleep mode I try removing the cable end plugged into robot and connect jumper wire between pins 5 and 6 on the robot 7 pin connector for a brief time period. This effectively shorts the BRC pin to GND for a short period of time ( less than 1 second). Then I reconnect the serial port cable into the robot 7 pin connector and try giving the robot a command but no go. I have also read that commands 173 and 173 173 can help with this issue but I may be mistaken. Any help on this is very much appreciated !!!! Rick</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10472" data-toggle = "popover">
				<p>user name : rbonari</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10472">{'None': 0, 'irobot-create': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10472">Load Comments</button></br>
			<div id = "commentsection-10472" class = 'collapse'>
			<div id = "comment-18854" class = "comment">
				<p>I'm assuming you mean wake after sleeping? To reset you would still need to wake it then send '7'.</p>
			</div>
			<div id = "comment-18873" class = "comment">
				<p>The link that you refer to is related but still doesn't resolve the issue as the robot still goes into sleep mode after five minutes. Sill haven't seen a working resolution to the problem. Any further ideas would be much appreciated. Thanks much !!!! Rick</p>
			</div>
			</div>
				<textarea id = "speech-10472" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10472">
					<img id="start_img-10472" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10472">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10483"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10483" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Create 2 cable will wake the robot when plugged in without any modifications.
173 is the 'stop' command that stops the OI. It does not do anything if the robot is sleeping.
Also, in the OI Manual it states the robot goes into sleep every 5 minutes unless in full or safe mode.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10483" data-toggle = "popover">
				<p>user name : Jonathan</p>
				<p> user reputation : 177</p>
				<p class = "tagcontent" id = "usertaginfo-10483">{'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10483">Load Comments</button></br>
			<div id = "commentsection-10483" class = 'collapse'>
			<div id = "comment-18858" class = "comment">
				<p>How do you keep the robot from sleeping after five minutes? Is there a way to wake the robot when it is asleep or off other than manually pressing a control panel button? I was thinking of taking the control panel and putting a couple of wires across the switch and putting a relay in parallel with the appropriate button to wake up the robot. Want to use this robot as a telepresense robot that could be operating for extended periods intermittently and then driven back to charger and restarted remotely ( away from home). Any ideas on the best way to do this would be much appreciated.</p>
			</div>
			<div id = "comment-18870" class = "comment">
				<p>This question is relevant then since this is a duplicate of what you want: http://robotics.stackexchange.com/q/9684/9743</p>
			</div>
			<div id = "comment-18874" class = "comment">
				<p>Your link is relevant but still does not resolve the issue as robot still goes to sleep after 5 minutes. Any further thoughts on this are much appreciated. Thanks much.....Rick</p>
			</div>
			</div>
				<textarea id = "speech-10483" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10483">
					<img id="start_img-10483" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10483">Comment</button>
			<br><div id = "ans-11350"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11350" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I suspect you may have a bad cable. Have you verified that the pin is changing level on the end of the Mini-DIN (with a voltmeter)? If it is not, and you are using an iRobot cable, contact create@irobot.com referencing this post.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11350" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-11350">{'None': 50}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11350" class = 'collapse'>
			</div>
				<textarea id = "speech-11350" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11350">
					<img id="start_img-11350" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11350">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>