<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>If I'm a developer, can I ask questions here?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1657" class = "post">
			<h2>Question</h2>
			<div id="vote-1657" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 114</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>If I'm a developer, can I ask questions here?</h2>
<p>Let's say I am developing an app or a service to run on or in conjunction with Apple hardware or software, I'm wondering what questions I can ask here and what I should ask elsewhere.</p>

<p>I've looked at the <a href="https://apple.stackexchange.com/faq#questions">FAQ for Ask Different</a> and the <a href="https://stackoverflow.com/faq#questions">FAQ for Stack Overflow</a> and sometimes it's not clear which, if either of these sites I should bring a specific question.</p>

<p>For instance, If I'm <a href="https://apple.stackexchange.com/questions/88802/what-ios-setting-general-usage-indicate">struggling to make sense of iOS's Storage pane</a> or the <a href="https://apple.stackexchange.com/questions/89650/delete-application-from-iphone-5-1-simulator">iOS simulator is not behaving the way I want</a> - Are these questions OK here or should I take it elsewhere?</p>

<p>Additionally, I may have a <a href="https://apple.stackexchange.com/questions/90055/how-do-you-create-an-ios-app-that-supports-a-bookshelf">question that has both policy and implementation details</a> and wonder where the line between on and off-topic lies for both here and <a href="http://stackoverflow.com">Stack Overflow</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1657" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1657">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1657">Load Comments</button></br>
			<div id = "commentsection-1657" class = 'collapse'>
			<div id = "comment-3109" class = "comment">
				<p>If someone can be elected moderator, earn 53K reputation on this site, and still need to ask this, our documentation is really a mess! Or maybe this is a leading question to generate a great answer we can point people to :-)</p>
			</div>
			<div id = "comment-3110" class = "comment">
				<p>I'm clearly asking this as a proxy for others (being that goofy guy out there "leading by example"), and even though I have some ideas where the line should lie - I'm looking to get several voices in fleshing out the details.</p>
			</div>
			<div id = "comment-3112" class = "comment">
				<p>Of course. I didn't read your name when I asked the question, and was just startled to see it was from you.</p>
			</div>
			<div id = "comment-3113" class = "comment">
				<p>I initially started to write this as a draft FAQ, but we're not there yet. I'd rather see several edge questions get discussed / dissected here rather than in comment threads on the main site. In time, we can document a Q&A here to be tagged [tag:faq]</p>
			</div>
			</div>
				<textarea id = "speech-1657" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1657">
					<img id="start_img-1657" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1657">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1658"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1658" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes. Please ask your question - even if you're not sure where it fits. We have users that will flag, vote, comment and close it if it isn't detailed enough or in the wrong place.</p>

<p>That being said, it's best to do a little research of both sites to avoid too much confusion if you asked a too user-centric question on Stack Overflow or ask a too much developer-centric question here.</p>

<p>The example is an easy one to answer: This is end user functionality (what is the meaning of the number displayed behind each application) so this fits perfectly into AskDifferent.  </p>

<p>If the question is rather "why does the number keep growing in my self-developed app", StackOverflow is definitively the better (and right) place because sooner or later it turns into coding and debugging. But they probably want to see a bit more analysis done upfront than just a "help, my app is eating memory".</p>

<p>In extension to the topics already covered in the FAQ, I currently use the following rules of thumb: If Objective C (or any other programming language besides shell scripting or AppleScript) code or debugging is involved, it belongs to stackoverflow.com. Everything else is usually fine on AD as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1658" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-1658">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1658">Load Comments</button></br>
			<div id = "commentsection-1658" class = 'collapse'>
			<div id = "comment-3111" class = "comment">
				<p>My initial thoughts are the linked question is perfect for here. Yes, a developer is asking it. Yes, they eventually need to come to grips with what specific architectural choices Apple made and they have made to cause their version of their app to use 36 MB of space. Those detailed questions belong on Stack Overflow since they are not iTunes-Connect service questions. However, all users of iOS will benefit from the asking of what makes an app use up space on iOS. So, I see us steering that question to keep it broadly applicable and help the OP refine the area for a follow-on question on SO.</p>
			</div>
			<div id = "comment-3124" class = "comment">
				<p>I've added a second real question to my "question" here. I think it's mostly about how Xcode works to make a simulator and of use, but again - I'm looking to paint the edges of what should be in-play and what should be out of play.</p>
			</div>
			</div>
				<textarea id = "speech-1658" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1658">
					<img id="start_img-1658" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1658">Comment</button>
			<br><div id = "ans-1663"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1663" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a site aimed primarily at end users of Apple products rather than developers. That said, it isn't a site NOT for developers. There are plenty of questions that are of interest to both developers and end users. Just because a person is a developer doesn't mean their question is out of place here.</p>

<p>If a question is likely to produce answers that are helpful to people <strong>using</strong>, <strong>administering</strong>, or <strong>maintaining</strong> Apple hardware or software, that's on target for this site. If the answers are likely to be helpful (or comprehensible) only to people who create software for Apple products, I'd say that falls outside the scope of this site.</p>

<p>I'd say the test is to ask yourself who might find your answer helpful. If the answer is just you personally, the question is too localized. If the answer is just programmers, the question is off-topic for this site. If the answer could be helpful to non-programmers who use Apple products, please do ask it here.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1663" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1663">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1663">Load Comments</button></br>
			<div id = "commentsection-1663" class = 'collapse'>
			<div id = "comment-3125" class = "comment">
				<p>I agree that lots of developer questions shouldn't be here. I've added an Xcode question to the thread above, but I wonder if you could link to some questions that are clearly off-topic in this answer so that we all can know what a question that is helpful only to developers might look like in practice.</p>
			</div>
			</div>
				<textarea id = "speech-1663" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1663">
					<img id="start_img-1663" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1663">Comment</button>
			<br><div id = "ans-1837"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1837" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One thing to add to the answers and/or emphasise is if you are not sure.</p>

<p><strong>Look at both sites for similar questions</strong>.</p>

<p>First this will help you make a choice, you know what sort of answer you want and can see what sort of answers each site gives you.</p>

<p>and</p>

<p>In general especially for development (ie Stack Overflow) assume that the question has been asked before and only if you can't find then ask. There are a lot of developers and users out there and you probably won't be the first.</p>

<p>For example the iOSSimulator question was migrated to SO, which seems correct to me and then was immediately closed as a duplicate.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1837" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 16790</p>
				<p class = "tagcontent" id = "usertaginfo-1837">{'None': 93, 'synonym': 7, 'tags': 6, 'site-scope': 10, 'support': 9, 'canonical-questions': 4, 'status-completed': 6, 'bug': 13, 'closed-questions': 1, 'close-reasons': 1, 'hyperlinks': 1, 'feature-request': 8, 'status-bydesign': 8, 'editing': 1, 'discussion': 39}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1837" class = 'collapse'>
			</div>
				<textarea id = "speech-1837" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1837">
					<img id="start_img-1837" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1837">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>