<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>If the original poster (OP) question is unclear, is it OK to ask OP question to clarify in order to provide a better answer?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-916" class = "post">
			<h2>Question</h2>
			<div id="vote-916" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 71</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>If the original poster (OP) question is unclear, is it OK to ask OP question to clarify in order to provide a better answer?</h2>
<p>I'm looking for accepted practice so as not to offend other members (I was downvoted and told not to do that). Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-916" data-toggle = "popover">
				<p>user name : Global nomad</p>
				<p> user reputation : 2629</p>
				<p class = "tagcontent" id = "usertaginfo-916">{'suggested-edits': 4, 'None': 0, 'support': 4, 'editing': 4, 'discussion': 18}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-916" class = 'collapse'>
			</div>
				<textarea id = "speech-916" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-916">
					<img id="start_img-916" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-916">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-917"  class = "post">
				<h2>Answer</h2>
			<div id="vote-917" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Of course, I do this all the time. However, it should be done in a comment - your statement that you were down voted when you tried to request clarification leads me to think that you posted it as an answer. If so, that would be the reason why you were down voted, not the fact that you asked for the clarification.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-917" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-917">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-917">Load Comments</button></br>
			<div id = "commentsection-917" class = 'collapse'>
			<div id = "comment-1668" class = "comment">
				<p>Thank you for the clear answer. You're right, I (stupidly) posted it as a answer. Will use comment from now on. Now I know how to proceed.</p>
			</div>
			</div>
				<textarea id = "speech-917" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-917">
					<img id="start_img-917" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-917">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>