<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>If you can create pure yaw motion with a quadcoptor then why won't this work with a tricoptor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1562" class = "post">
			<h2>Question</h2>
			<div id="vote-1562" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 400</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>If you can create pure yaw motion with a quadcoptor then why won't this work with a tricoptor?</h2>
<p><a href="https://robotics.stackexchange.com/a/549/37">An answer</a> to the question <a href="https://robotics.stackexchange.com/q/543/37">Why are quadcopters more common in robotics than other configurations?</a>  said:</p>

<blockquote>
  <p>You need 4 degrees of freedom to control yaw, pitch, roll and thrust.</p>
  
  <p>Four props is therefore the minimum number of actuators required. Tricoptors require a servo to tilt one or more rotors which is more mechanically complicated.</p>
</blockquote>

<p>In a comment, I asked:</p>

<blockquote>
  <p>How do you get pure yaw motion with a quadcoptor and if that's possible why won't this work with a tricoptor? I don't understand how can you get yaw motion with any system where all rotors are in a plane without first tilting and moving. I would have thought that the main difference between quadcopters and tricoptors would be the kinematic calculations would be more complex.</p>
</blockquote>

<p><a href="https://robotics.stackexchange.com/a/1453/37">Another answer</a> explained:</p>

<blockquote>
  <p>you get pure yaw in the following way:</p>
  
  <p>North and South motors rotating the same speed but collectively at a higher (or lower) speed than East and West Motors which are also at the same speed. </p>
</blockquote>

<p>This explains why it works with a quadcopter, but doesn't explain why it won't work with a tricopter.</p>

<p>Is it simply the fact that the asymmetry means that you can't imbalance the <a href="http://en.wikipedia.org/wiki/Torque_effect" rel="nofollow noreferrer">torque effects</a> to provide yaw movement while still keeping the thrusts balanced to keep pitch and roll constant?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1562" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-1562">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1562">Load Comments</button></br>
			<div id = "commentsection-1562" class = 'collapse'>
			<div id = "comment-4403" class = "comment">
				<p>Just a complement: it can if one of the rotors can tilt (even the entire motor, so no mechanical complex transmissions). This way the frame don't has to tilt.</p>
			</div>
			</div>
				<textarea id = "speech-1562" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1562">
					<img id="start_img-1562" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1562">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1563"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1563" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Let's look at how a quadrotor flies, then apply that to a trirotor.</p>

<p>Let's assume that we want to remain in a stationary hover position. To do that, you need to balance all the forces: thrust from the propellers vs. gravity, and the torques of each motor.</p>

<p>Each motor produces both thrust and torque according to the equations:
$$
T = K_T\rho n^2 D^4
$$
$$
Q = K_Q\rho n^2 D^5
$$
Where $T$ is thrust, $Q$ is torque, $K_T$ and $K_Q$ are system dependent constants, $\rho$ is the air density, $n$ is rotor speed, and $D$ is rotor diameter.</p>

<p>If you increase thrust then you increase torque, and vice versa. A quadrotor remains stationary by balancing all the forces. This is possible because the quadrotor is symmetrical: two motors spin clockwise, and two motors spin anti clockwise. If all the motors rotate at the same speed then the torques balance, and the thrust balances. </p>

<p>The only question then is what speed? The four rotors need to spin fast enough to collectively generate enough lift to remain in a stationary hover.</p>

<p>What about a trirotor?</p>

<p>Intuitively, the easy base case is when the arms holding the motors are all the same length (such that you can ignore the effects of the motor's displacement from the center of mass). In this case you must set the force of each motor to be equal (to hover without falling) then the torques will be unbalanced (2 in one direction, 1 in the other). The result is a spinning trirotor.</p>

<p>The slightly more difficult case is when the rotor arms are not the same length. To solve that, let's solve the general case. The equation for torque is:
$$
\tau = rFsin(\theta)
$$
$sin(\theta)$ is 1 (at a right angle), so we can ignore it and rearrange our torque equation as follows:
$$
F = \frac{\tau}{r}
$$</p>

<p>Let's make a trirotor and label it as follows:
<img src="https://i.stack.imgur.com/bfK3P.png" alt="enter image description here"></p>

<p>Then, we can balance all the torques:
$$
\frac{\tau_A}{r_A} + \frac{\tau_B}{r_B} + \frac{\tau_C}{r_C} = 0
$$
Substitute in the motor equation for torque from above:
$$
\frac{ K_Q\rho n_A^2 D^5}{r_A} + \frac{K_Q\rho n_B^2 D^5}{r_B} + \frac{K_Q\rho n_C^2 D^5}{r_C} = 0
$$
And get rid of the common constants:
$$
\frac{n_A^2}{r_A} + \frac{n_B^2}{r_B} + \frac{n_C^2}{r_C} = 0
$$
To solve this equation, we need to make a system of equations with the thrust for each motor:
$$
T_A + T_B + T_C = mg
$$
$$
K_T\rho n_A^2 D^4 + K_T\rho n_B^2 D^4 + K_T\rho n_C^2 D^4 = mg
$$
$$
n_A^2 + n_B^2 + n_C^2  = \frac{mg}{K_T\rho D^4} = C
$$
Where C is some constant. We don't really care what it is as long as it's non-zero (if it's zero then we don't need the motors to do anything).</p>

<p>Now, make our system of equations and solve them:</p>

<p>$$
\frac{n_A^2}{r_A} + \frac{n_B^2}{r_B} + \frac{n_C^2}{r_C} = 0
$$
$$
n_A^2 + n_B^2 + n_C^2  =  C
$$</p>

<p>Right away we see that there is no solution except when $C=0$.</p>

<p>Thus, a trirotor needs the servo to rotate at least one motor in order to generate more torque without generating more thrust (in the z direction).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1563" data-toggle = "popover">
				<p>user name : srlm</p>
				<p> user reputation : 361</p>
				<p class = "tagcontent" id = "usertaginfo-1563">{'None': 23}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1563">Load Comments</button></br>
			<div id = "commentsection-1563" class = 'collapse'>
			<div id = "comment-3279" class = "comment">
				<p>Excellent answer, thanks. In summary, it's not possible to create pure yaw motion with a tricopter because the answer to the question at the bottom is that yes, the asymmetry means that you can't imbalance the torque effects while keeping the thrusts balanced.</p>
			</div>
			</div>
				<textarea id = "speech-1563" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1563">
					<img id="start_img-1563" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1563">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>