<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Implementing a position control for UAV through a flight controller. Plant model is unknown
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4824" class = "post">
			<h2>Question</h2>
			<div id="vote-4824" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 157</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Implementing a position control for UAV through a flight controller. Plant model is unknown</h2>
<p>We are using Naza-M-Lite for our flight controller without GPS. The localization is obtained through our RGB-D camera sensor. We are able to teleoperate and even implement PID controllers for Roll, Pitch, Yaw and Throttle channels for our quadrotor. However, we do not know the plant model because what we are inputting from Arduino to the Naza-M-Lite are servo PWM ranging from 1000 to 2000. </p>

<blockquote>
  <p>For throttle:   1500 altitude hold, 2000 maximum throttle, 1000
  minimum throttle</p>
  
  <p>For Pitch, Roll, Yaw: 1500 maintain 0 angle, 2000 and 1000 moves the
  quadrotor towards its respective axes.</p>
</blockquote>

<p>However, even at 1500 on every channel, the quadrotor drifts, maybe due to flying indoors and the wind pushes the quadrotor. Once it gains momentum, it drifts. We are having trouble tuning this because we do not know the relationship of the output is to the position. If the output were velocity, it would have been easier. But as in our case, it is not. Is there a way to find the plant model of the Naza-M-Lite and how can we tune this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4824" data-toggle = "popover">
				<p>user name : Xegara</p>
				<p> user reputation : 63</p>
				<p class = "tagcontent" id = "usertaginfo-4824">{'quadcopter': 3, 'None': 0, 'localization': 11, 'pid': 2, 'mapping': 10, 'uav': 1, 'slam': 10}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4824" class = 'collapse'>
			</div>
				<textarea id = "speech-4824" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4824">
					<img id="start_img-4824" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4824">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7465"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7465" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What is your final desired result? You will certainly want to switch to a different Flight controller like the <a href="https://store.3drobotics.com/products/3dr-pixhawk" rel="nofollow">Pixhawk</a> it will allow you mutch finer control and allow you to reprogam it at will to implment whatver it is that you are trying to do. </p>

<p>Normally a quadrocopter will drift a certain amount, you would want some kind of external position input depending on the accuracy of the hold you require, GPS for a couple meters, optical flow with a target dot for a couple inches</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7465" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7465">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7465" class = 'collapse'>
			</div>
				<textarea id = "speech-7465" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7465">
					<img id="start_img-7465" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7465">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>