<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Implementing a boustrophedon algorithm in a given room with obstacles
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7660" class = "post">
			<h2>Question</h2>
			<div id="vote-7660" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 898</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Implementing a boustrophedon algorithm in a given room with obstacles</h2>
<p>I have a mobile robot which is navigating around a room, I already have the map of the room. I am using the <a href="http://wiki.ros.org/navigation" rel="nofollow">navigation_stack</a> of ROS. I am using rotary encoders for odometry. I am fusing the data from Rotary encoders and IMU using robot_pose_ekf. I am using amcl for localization and move_base for planning. </p>

<p>Now, I have to write a Complete coverage Path planning algorithm and I am following <a href="http://www.ri.cmu.edu/pub_files/pub4/choset_howie_1997_3/choset_howie_1997_3.ps.gz" rel="nofollow">this</a> paper and I would like to ask what is the best way to generate the Boustrophedon path (simple forward and backward motions) in a cell (can be rectangular, trapezium, etc.) with no obstacles? I read a paper where they use different templates and combine them in a certain way to come up with the Boustrophedon path. Is there any other way by which we can generate the boustrophedon path? If someone can suggest how to implement it in ROS, that will be great.</p>

<p>Please let me know if you need more information from me. Any help will be appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7660" data-toggle = "popover">
				<p>user name : Naman Kumar</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-7660">{'None': 0, 'ros': 3, 'localization': 4, 'coverage': 3, 'sensors': 4, 'motion-planning': 3, 'navigation': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7660" class = 'collapse'>
			</div>
				<textarea id = "speech-7660" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7660">
					<img id="start_img-7660" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7660">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7822"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7822" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I implemented something like this in College:</p>

<p><a href="https://github.com/Auburn-Automow/au_automow_common/tree/master/automow_planning" rel="nofollow">https://github.com/Auburn-Automow/au_automow_common/tree/master/automow_planning</a></p>

<p>Basically we just passed the vertices of the boustrophedon path as goals to move_base. Here's a video of a bag file being played back:</p>

<p><a href="https://www.youtube.com/watch?v=R7nLgYquECg" rel="nofollow">https://www.youtube.com/watch?v=R7nLgYquECg</a></p>

<p>Here's the class paper we did for the planner:</p>

<p><a href="https://github.com/ashgti/elect6350/tree/master/final_project" rel="nofollow">https://github.com/ashgti/elect6350/tree/master/final_project</a></p>

<p>Maybe something in there will give you some ideas. In our case we didn't need to do much cell decomposition in the competition, and instead we relied on the obstacle avoidance of move_base, but in our paper we did show our implementation working with more complex scenarios:</p>

<p><a href="https://github.com/ashgti/elect6350/blob/master/final_project/images/obstacle.pdf" rel="nofollow">https://github.com/ashgti/elect6350/blob/master/final_project/images/obstacle.pdf</a></p>

<p>The thing I took away from the experience was that move_base is great for eventually getting from point A to point B and avoiding obstacles along the way, but it was very hard to tune it to follow the path our planner had come up with. As you can imagine when mowing grass you want to follow the path as closely as possible, diverging only when absolutely necessary to avoid obstacles. This was hard to accomplish with move_base.</p>

<p>So YMMV, but move_base is at least a starting place. Hopefully some of the stuff I linked will be useful. Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7822" data-toggle = "popover">
				<p>user name : wjwwood</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-7822">{'None': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7822" class = 'collapse'>
			</div>
				<textarea id = "speech-7822" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7822">
					<img id="start_img-7822" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7822">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>