<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Implementing a torque-controlled method on a position-controlled robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5059" class = "post">
			<h2>Question</h2>
			<div id="vote-5059" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 812</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Implementing a torque-controlled method on a position-controlled robot</h2>
<p>I am working with a position-controlled manipulator. However, I want to implement a torque-controlled method on this robot. Is there any way to convert a torque command to a position command?</p>

<p>I try to find research papers on this but I have no idea where I should start or which keywords I should use in searching. Do you have any suggestion?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5059" data-toggle = "popover">
				<p>user name : Petch Puttichai</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-5059">{'None': 29, 'manipulator': 6, 'inverse-kinematics': 0, 'industrial-robot': 6, 'redundant-robots': 0, 'kinematics': 3, 'robotic-arm': 6, 'singularity': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5059">Load Comments</button></br>
			<div id = "commentsection-5059" class = 'collapse'>
			<div id = "comment-7824" class = "comment">
				<p>Can you describe the problem in more detail? You might want to look into 'impedance control' technique.</p>
			</div>
			<div id = "comment-7832" class = "comment">
				<p>@EugeneSh. Actually impedance control is what I want to implement on the robot. The problem is that I can calculate a set of input joint-torque commands but the robot is joint-position controlled. So I would like to know if there is any way to translate joint-torque commands to joint-position commands.</p>
			</div>
			<div id = "comment-7842" class = "comment">
				<p>Use PID controller. Your input will be the desired position. PID controller generates a torque that moves the manipulator to the desired position.</p>
			</div>
			<div id = "comment-7852" class = "comment">
				<p>@PetchPuttichai But what the arm should actually do? Follow some trajectory? Point to point movement? Movement with maximum exerted external force? If you need a torque/force or impedance control, you will need torque/force feedback from sensor or from observer based on your motors feedback. Are you able to provide it?</p>
			</div>
			<div id = "comment-7871" class = "comment">
				<p>@EugeneSh. The task may be to assemble furniture parts, or something like that. I think I have to implement impedance control in some way but now I still do not have concrete understanding or clear picture about it. Feedback information is available.</p>
			</div>
			<div id = "comment-10871" class = "comment">
				<p>In stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			<div id = "comment-10872" class = "comment">
				<p>Dear friends did you find a good solution for Implementing a torque-controlled strategy on a position-controlled robot?</p>
			</div>
			<div id = "comment-10873" class = "comment">
				<p>Hi milad.  Welcome to Robotics Stack Exchange.  Please do not answer a question with another question like this.  If the answers in this thread don't satisfy you, please consider posting your own question as a new thread.</p>
			</div>
			<div id = "comment-10874" class = "comment">
				<p>Thinking about your question @PetchPuttichai, can you confirm that you have a robot which takes position inputs only, and you have no control over the torques to the motors? If so, then I presume that you are attempting to simulate torque control by stepping to a position just short of or just beyond the actual desired position. This sounds like a difficult problem, fraught with dangers. Is there any reason why you can't switch your motors into toque control mode? Are your motors steppers for instance?</p>
			</div>
			</div>
				<textarea id = "speech-5059" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5059">
					<img id="start_img-5059" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5059">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5086"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5086" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Many robotics textbooks should have descriptions on control algorithms for arm.  Typically, you will wrap position or velocity control around torque control.  You can use PID control for this, but i think there are other methods.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5086" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5086">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5086">Load Comments</button></br>
			<div id = "commentsection-5086" class = 'collapse'>
			<div id = "comment-7851" class = "comment">
				<p>This is not what OP asked. He is interested in torque loop wrapped around position loop.</p>
			</div>
			</div>
				<textarea id = "speech-5086" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5086">
					<img id="start_img-5086" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5086">Comment</button>
			<br><div id = "ans-5090"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5090" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Robotic arm are basically controlled using torque input to reach a position reference. Most common control techniques for such robot are <code>computed torque</code> (also called <code>inverse dynamics approach</code>), and <code>P-D controller with gravity compensation</code>.</p>

<p>You can find all the information you need on the bible of robot modeling and control, <code>Robot Modeling and Control, Spong W. and al., 2005</code>. </p>

<p>PS: searching papers about that subject is a very bad idea since this is no new controller that you are looking for, this is well established control techniques.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5090" data-toggle = "popover">
				<p>user name : Alexandre Willame</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-5090">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5090" class = 'collapse'>
			</div>
				<textarea id = "speech-5090" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5090">
					<img id="start_img-5090" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5090">Comment</button>
			<br><div id = "ans-7531"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7531" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We find this recent paper by Andrea Del Prete, Nicolas Mansard, Oscar Efrain Ramos Ponce, Olivier Stasse, Francesco Nori quite interesting: </p>

<p><a href="https://hal.archives-ouvertes.fr/hal-01136936/document" rel="nofollow noreferrer">Implementing Torque Control with High-Ratio Gear Boxes and without Joint-Torque Sensors</a></p>

<p>The authors presented a framework for implementing joint-torque control on position controlled robots.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7531" data-toggle = "popover">
				<p>user name : Petch Puttichai</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-7531">{'None': 29, 'manipulator': 6, 'inverse-kinematics': 0, 'industrial-robot': 6, 'redundant-robots': 0, 'kinematics': 3, 'robotic-arm': 6, 'singularity': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7531">Load Comments</button></br>
			<div id = "commentsection-7531" class = 'collapse'>
			<div id = "comment-10869" class = "comment">
				<p>Thanks for your answer Petch Puttichai, but we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content does rot. If you add more context from the link, it is more likely that people will find your answer useful.</p>
			</div>
			</div>
				<textarea id = "speech-7531" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7531">
					<img id="start_img-7531" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7531">Comment</button>
			<br><div id = "ans-8533"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8533" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check out this paper by Oussama Khatib, Peter Thaulad, Taizo Yoshikawa and Jaeheung Park from the Stanford Artificial Intelligence Laboratory:</p>

<ul>
<li><a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=4543450&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F4534525%2F4543169%2F04543450.pdf%3Farnumber%3D4543450" rel="nofollow">Torque-position transformer for task control of position controlled robots</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8533" data-toggle = "popover">
				<p>user name : EdibleRobot</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8533">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8533">Load Comments</button></br>
			<div id = "commentsection-8533" class = 'collapse'>
			<div id = "comment-13946" class = "comment">
				<p>Thanks for your answer EdibleRobot, but we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content does rot. If you add more context from the link, it is more likely that people will find your answer useful.</p>
			</div>
			</div>
				<textarea id = "speech-8533" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8533">
					<img id="start_img-8533" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8533">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>