<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>imu position without GPS or camera
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8857" class = "post">
			<h2>Question</h2>
			<div id="vote-8857" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 566</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>imu position without GPS or camera</h2>
<p>I have a IMU that has 3-axis accelerator, 3-axis magnetometer, 3-axis gyroscope and row, yaw, pitch value. I want to get the location of the IMU coordinate(the beginning point is (0,0,0)) but I know just using double integration will has dead reckoning problem. And I found a lot of paper just talking about combining IMU with GPS or camera by using Kalman filter. Is it possible that I just use a IMU to get a slightly precise position data? Because in the future work I will use multiple IMUs bounded on human arms to increase the accuracy. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8857" data-toggle = "popover">
				<p>user name : kint</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8857">{'None': 0, 'imu': 4, 'gps': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8857">Load Comments</button></br>
			<div id = "commentsection-8857" class = 'collapse'>
			<div id = "comment-14567" class = "comment">
				<p>"Slightly precise" is an ambiguous term.  Do you mean (a) good enough for navigation, but not highly precise, or (b) not subject to cumulative error,  (c) something else?</p>
			</div>
			<div id = "comment-14614" class = "comment">
				<p>I'm sorry that maybe I have't make it clear enough,my IMU is not expensive one and my IMU can give info about accelerate, magnet ,angle velocity and angle row,yaw,pitch. I think these datas come from different sensors so the errors are independent and I can get position with combination of these datas in 2 different way, i.e. one way is double integration of acclerate the other is an algorithm from magnet and angle velocity. Because errors are independent so I can use Kalman to get a preciser result then just integration. My problem is how to use the other data to get a preceiser result.</p>
			</div>
			<div id = "comment-14623" class = "comment">
				<p>There is no magic, you don't get any information about position from gyros or magnetometers.</p>
			</div>
			</div>
				<textarea id = "speech-8857" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8857">
					<img id="start_img-8857" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8857">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8858"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8858" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Of course, it is possible. You need to go for a sensor fusion algorithm, that could be Kalman Filter or Complementary Filter. </p>

<p>I personally found very useful the procedure described at the following <a href="http://philstech.blogspot.ch/2015/06/complimentary-filter-example-quaternion.html" rel="nofollow">link</a>, in order to have a total 3D estimation, without suffering any gimbal lock or other problems.</p>

<p>EDIT: I am reading only now that you're asking for position estimation, and not orientation estimation. My answer refers to the latter. For a precise position estimation unfortunately you would need other kind of sensors (if your robot has wheels (not clear from the question), you could use encoders instead of GPS).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8858" data-toggle = "popover">
				<p>user name : charles</p>
				<p> user reputation : 266</p>
				<p class = "tagcontent" id = "usertaginfo-8858">{'None': 9, 'ekf': 3, 'frame': 3, 'slam': 3, 'imu': 4, 'kalman-filter': 3, 'mobile-robot': 4, 'gyroscope': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8858" class = 'collapse'>
			</div>
				<textarea id = "speech-8858" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8858">
					<img id="start_img-8858" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8858">Comment</button>
			<br><div id = "ans-8859"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8859" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No, it is not possible to eliminate the cumulative position error caused by sensor noise and bias without using an additional sensor which can report any kind of position measurement.</p>

<p>Even the best sensors and filtering will not be able to eliminate in a closed-loop fashion the position error.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8859" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8859">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8859">Load Comments</button></br>
			<div id = "commentsection-8859" class = 'collapse'>
			<div id = "comment-14613" class = "comment">
				<p>I'm sorry that maybe I have't make it clear enough,my IMU is not expensive one and my IMU can give info about accelerate, magnet ,angle velocity and angle row,yaw,pitch. I think these datas come from different sensors so the errors are independent and I can get position with combination of these datas in 2 different way, i.e. one way is double integration of acclerate the other is an algorithm from magnet and angle velocity( don't know how). Because errors are independent so I can use Kalman to get a preciser result then just integration.</p>
			</div>
			</div>
				<textarea id = "speech-8859" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8859">
					<img id="start_img-8859" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8859">Comment</button>
			<br><div id = "ans-8868"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8868" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The answer to this question greatly depends on your acceptable error, and budget.</p>

<p>As the other two answers have stated, it is practically impossible to dead-reckon the position without directly observing the position with another sensor; this is however based on assumptions about your acceptable error and IMU selection.</p>

<p>If your acceptable error is large enough, and the time period of which you need operation is small enough, you could possibly estimate the bias of the MEMS sensors as an average measurements during a "calibration" period.</p>

<p>e.g. Don't move the IMU for 5 seconds, record the average accelerations and angular rates, and use that as the bias over the operating period of the next 5 seconds. Do the double-integration for the accelerometer and angular integration (I'd suggest Quaternion integration) for the gyro, but subtract each sensors calculated bias.
<em>I must stress that this will only work for a few seconds for most cheap MEMS IMUs.</em></p>

<p>Alternatively, if you use an incredibly expensive IMU (e.g. naval IMU, up to $2m, 35 kg) you could probably dead-reckon to within acceptable errors for a substantial time period.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8868" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-8868">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8868">Load Comments</button></br>
			<div id = "commentsection-8868" class = 'collapse'>
			<div id = "comment-14612" class = "comment">
				<p>I'm sorry that maybe I have't make it clear enough,my IMU is not expensive one and I want to get a precise result of location without GPS because my IMU can give info about accelerate</p>
			</div>
			<div id = "comment-14631" class = "comment">
				<p>I assumed so; I think what you are asking for is not possible with current low-cost technology. High-frequency and high-accuracy pose tracking is generally achieved using sensor-fusion between IMU and other sensors. Vision and GPS are the main technologies, but it could be fused with anything that can sense the position of your IMU with respect to an external frame.</p>
			</div>
			</div>
				<textarea id = "speech-8868" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8868">
					<img id="start_img-8868" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8868">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>