<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>IMU in a gimbal system
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10994" class = "post">
			<h2>Question</h2>
			<div id="vote-10994" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 135</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>IMU in a gimbal system</h2>
<p>I have short question about the alexmos gimbal controller. The Controller receives the gyroscope and accelerometer sensor data from the IMU, that is mounted on the camera. In optimal case, the camera should stay in perfect position, which means, that there would be no gyroscope data, since there is no movement. So the only data for positioning would be the accelerometer. Is there a second IMU onboard that receives the gyrometer data?</p>

<p>All the gimbal controllers from aliexpress seems not to have an IMU onboard, but it that case the controller can only use the accelerometer, right?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10994" data-toggle = "popover">
				<p>user name : HansPeterLoft</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-10994">{'None': 8, 'cameras': 0, 'imu': 0, 'inverse-kinematics': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10994">Load Comments</button></br>
			<div id = "commentsection-10994" class = 'collapse'>
			<div id = "comment-19820" class = "comment">
				<p>What makes you think that being in some "perfect" position means that there is no data from the sensor? For how long do you think the system maintains this state? I'm not sure I understand this question: you ask about controlling the state of a system and try to point out that reaching the desired state is apparently problematic. I guess the opposite is true: you use the controller to reach exactly the desired state.</p>
			</div>
			<div id = "comment-19824" class = "comment">
				<p>I mean in stationary position, the velocity remains near to zero in the camera frame. So we have only small, noisy gyro data, which seems to be  useless and we can only use the accelerometer, which is only for positioning in the long run and not for fast angular deviations.</p>
			</div>
			</div>
				<textarea id = "speech-10994" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10994">
					<img id="start_img-10994" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10994">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10996"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10996" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am not familiar with the gimbal controller you are using, but you cannot stabilize a gimbal with only an accelerometer. You must be able to measure the states or change in states of the gimbal for stabilization. Can you please provide a link to the controller you have the question about.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10996" data-toggle = "popover">
				<p>user name : Ralff</p>
				<p> user reputation : 158</p>
				<p class = "tagcontent" id = "usertaginfo-10996">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10996">Load Comments</button></br>
			<div id = "commentsection-10996" class = 'collapse'>
			<div id = "comment-19823" class = "comment">
				<p>If we look for example at this one here: https://de.aliexpress.com/item/Wholesale-1pcs-Storm32-BGC-32Bit-3-Axis-Brushless-Gimbal-Controller-V1-31-DRV8313-Motor-Driver-Drop/32390138874.html?spm=2114.47010108.5.2.lp4kJp&&scm=1007.12783.35057.0 There seems to be only one sensor attached to the camera. So the gyrometer can only measure the deviation from the stationary position, and that should be really small for stability and also the data is pretty much noisy for small gyro values. I think it would make more sence to attach the sensor to the base, so the gyrometer can measure the disturbance.</p>
			</div>
			<div id = "comment-19825" class = "comment">
				<p>I think there is also an accelerometer onboard, right? Its that smaller TSSOP chip invensense?</p>
			</div>
			<div id = "comment-19868" class = "comment">
				<p>The link is not in English. Also, I don't understand the point you are trying to make about the gyro measurements being small. Even if they are small, they still contribute to stabilizing the gimbal. I think having the sensor attached to the camera makes the most sense because you want to stabilize the camera.</p>
			</div>
			</div>
				<textarea id = "speech-10996" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10996">
					<img id="start_img-10996" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10996">Comment</button>
			<br><div id = "ans-11792"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11792" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The alexmos and other similar gimbal controllers, are using the camera mounted accelerometer and gyroscope in order to identify the angle and angular rate (and possibly higher order dynamics) of the camera platform, in an attempt to keep the angle the same as the set point. You are right that if the platform was doing it's job perfectly that the sensors would "see" no change, but this is not the case. The platform moves constantly but the sensors are able to sense very small movements very quickly much smaller than could be picked up by the cameras themselves and correct before they become errors that could be see in the video. Some controllers take input from the flight controller or gyros onboard the craft in order to predict or lead movements, in order to make the response to stimuli faster, and enable proactive correction as opposed to just reactive movement.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11792" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-11792">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11792" class = 'collapse'>
			</div>
				<textarea id = "speech-11792" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11792">
					<img id="start_img-11792" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11792">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>