<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>In EKF-SLAM, why do we even need odometry when there is a more reliable sensor?Also, are all SLAM algorithms feature-based?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1949" class = "post">
			<h2>Question</h2>
			<div id="vote-1949" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1215</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>In EKF-SLAM, why do we even need odometry when there is a more reliable sensor?Also, are all SLAM algorithms feature-based?</h2>
<p>In the book of SLAM for dummies, why do we even need the odometry when the robot would use the data retrieved from the laser scanner which is more accurate than odometry? Why not just rerly on the laser scanner and do away from the odometry? Is there any contribution by the odometry that the laser scanner does not have? Also, are all SLAM algorithms feature-based?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1949" data-toggle = "popover">
				<p>user name : Xegara</p>
				<p> user reputation : 63</p>
				<p class = "tagcontent" id = "usertaginfo-1949">{'quadcopter': 3, 'None': 0, 'localization': 11, 'pid': 2, 'mapping': 10, 'uav': 1, 'slam': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1949">Load Comments</button></br>
			<div id = "commentsection-1949" class = 'collapse'>
			<div id = "comment-3996" class = "comment">
				<p>One question at a time, please. But I tried to answer both. Now please don't edit the question to ask more. Instead, ask in separate questions. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-1949" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1949">
					<img id="start_img-1949" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1949">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1950"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1950" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you read about the principles of sensor fusion, you will always get a better estimate when you combine data in the right way. For example, if you are measuring temperature in a room with 3 different temperature sensors, it is not ideal to only use the best sensor. The ideal case would be to create a weighted combination of each sensor, where the sensor's weight is proportional to one over that sensor's variance. Not to mention, odometry data is VERY good. It's the extraction of landmarks that is noisy and will most likely have a higher variance.</p>

<p>If you think about it from a high level perspective it's also required that you have a motion update based on odometry. If you only used landmarks, then you would have ambiguous cases. Take for example, the case where you only identify one landmark. You'd have a distance z from your robot to the landmark, but this would map to an infinite number of points in a circle around the landmark. If you identify zero landmarks, then you can't do anything! By including odometry, we no longer have an ambiguity. Assuming we're localizing in a 2D plane (x,y), then you would have to guarantee you have readings for at least 3 landmarks to triangulate your position without odometry, and you cannot make that guarantee in normal environments.</p>

<p>Finally, an encoder can be sample on the order of 50Hz, whereas a LIDAR can only be sampled at around 6-7Hz (don't quote me on those frequencies). This means that you can update your current position much more frequently via odometry than you can from sensor readings. This isn't even taking into account how long it takes you to process your sensor reading to identify landmarks!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1950" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-1950">{'None': 54}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1950" class = 'collapse'>
			</div>
				<textarea id = "speech-1950" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1950">
					<img id="start_img-1950" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1950">Comment</button>
			<br><div id = "ans-1953"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1953" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are reading it too narrowly. </p>

<ul>
<li><p>You don't "need" odometery. SLAM is simply a way to fuse any sensor estimates into a consistent estimate of the robot's state.</p></li>
<li><p>"Feature-based" doesn't necessarily mean you need to have identifiable features everywhere in the environment. </p></li>
<li><p>First principal of sensor fusion: Two estimates are better than one! </p></li>
</ul>

<h3>Example</h3>

<p>I haven't read the book "for dummies" but if they don't do the following numeric example, I'd set the book on fire and get a better one. And if they <strong>do</strong> have this example, then I wonder why you didn't mention it!</p>

<p>( you can follow along in the math <a href="http://en.wikipedia.org/wiki/Kalman_filter">here</a> )</p>

<p>A robot is at position $x=0$, and is moving to the right (increasing $x$). In this perfect world, the dynamics and sensor modes are linear. (otherwise use EKF, PF, or some variant).</p>

<ul>
<li>There's a wall at <em>exactly</em> $x=10$ which the robot can measure distance to.</li>
<li>The robot has a laser scanner to get distance with sensor variance $\sigma_l^2=.1$</li>
<li>The robot can measure it's distance travelled with odometers using sensor variance $\sigma_o^2 = .5$. Clearly the laser is more accurate than the odos.</li>
</ul>

<p>Here's how the robot handles SLAM in this simple environment. (note this is actually localization since we aren't updating the position of the wall).</p>

<ul>
<li>The robot tries to move one unit to the right.</li>
<li>Odometry measures $x=.9$</li>
<li>Laser scanner says you are $8.8$ units from the wall. (implying you are at 1.2)</li>
</ul>

<p><em>Question</em>: Where are you? </p>

<ul>
<li><p>Do you choose the best sensor? In this case, the laser is the best right? So obviously I'm at $x=1.2$.</p></li>
<li><p>Do you choose the one "closest" to what you expect? Well in this case I think we should use odometry, since $.9$ is closer to what I intended, (moving one unit).</p></li>
<li><p>Maybe you could average the two? Well, that's better, but it is susceptible to outliers.</p></li>
<li><p>The shiny principals of sensor fusion tell you how to answer the question as follows:</p></li>
</ul>

<p>Your minimum mean-squared estimate of the robot position is given by:</p>

<p>$$x_{mmse}=\frac{\sigma_l^2}{\sigma_o^2+\sigma_l^2}(.9) + \frac{\sigma_o^2}{\sigma_o^2+\sigma_l^2}(1.2)$$
$$x_{mmse}=\frac{.1}{.6}(.9) + \frac{.5}{.6}(1.2)$$
$$x_{mmse}=1.15$$</p>

<p>... unless I screwed up the algebra somewhere. People localize airplanes using math not much more complicated than that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1953" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1953">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1953" class = 'collapse'>
			</div>
				<textarea id = "speech-1953" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1953">
					<img id="start_img-1953" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1953">Comment</button>
			<br><div id = "ans-10182"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10182" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just to add up on this, using odometry to estimate the robot position <strong>is much faster</strong> than using data from a laser scanner. In most situations, data from a range scanner is handled as a 2D PointCloud. This means that in order to estimate the relative pose between positions A, B you need to align their corresponding PointClouds and find the most probable pose of that alignment operation. To do that you would use <a href="https://en.wikipedia.org/wiki/Iterative_closest_point" rel="nofollow">ICP</a> or a similar algorithm, which due to its iterating nature is computationally intensive. </p>

<p>On the other hand, using odometry information (e.g. from the wheel encoders) you just need to add up to the current estimation of your pose which is just the sum of two Probability density functions (current estimation + incremental odometry reading)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10182" data-toggle = "popover">
				<p>user name : bergercookie</p>
				<p> user reputation : 155</p>
				<p class = "tagcontent" id = "usertaginfo-10182">{'rangefinder': 0, 'None': 5, 'slam': 0, 'laser': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10182" class = 'collapse'>
			</div>
				<textarea id = "speech-10182" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10182">
					<img id="start_img-10182" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10182">Comment</button>
			<br><div id = "ans-10570"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10570" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The EKF principles have been well explained in the other replies.</p>

<p>I would like to add that you can do SLAM without using Odometry, i.e only using a LIDAR for example.</p>

<p>"Also, are all SLAM algorithms feature-based?"</p>

<p>No not all of course</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10570" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10570">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10570" class = 'collapse'>
			</div>
				<textarea id = "speech-10570" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10570">
					<img id="start_img-10570" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10570">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>