<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>In how many ways can a six propellers drone fly or rotate?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10059" class = "post">
			<h2>Question</h2>
			<div id="vote-10059" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1230</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>In how many ways can a six propellers drone fly or rotate?</h2>
<p>I thought it were twelve ways:</p>

<ul>
<li>Six for each ways between two propellers</li>
<li>Six others for each rotation on these ways.</li>
</ul>

<p>But according to Vijay Kumar Dean of Penn Engineering , it seems that I was wrong...</p>

<p>Then I read <a href="http://www.hindawi.com/journals/mpe/2013/673525/" rel="nofollow noreferrer">this article  about modeling and robust trajectory tracking control for a novel Six-Rotor Unmanned Aerial Vehicle</a> and <a href="http://lup.lub.lu.se/luur/download?func=downloadFile&amp;recordOId=4359940&amp;fileOId=4359943" rel="nofollow noreferrer">this one about navigation and autonomous control of a Hexacopter in indoor environments</a> but was never able to find such an information.</p>

<p>I then guessed that 3 of the rotors could go one direction and three others into another which would add 6 other ways for rotating and therefore 6 others for simply flying but that is only a guess.</p>

<p><a href="https://i.stack.imgur.com/TuWzD.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/TuWzD.jpg" alt="Six propellers drone"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10059" data-toggle = "popover">
				<p>user name : Marine1</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-10059">{'quadcopter': 3, 'None': 0, 'multi-rotor': -2, 'uav': 3, 'slam': 1, 'imu': 0, 'motion-planning': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10059">Load Comments</button></br>
			<div id = "commentsection-10059" class = 'collapse'>
			<div id = "comment-17896" class = "comment">
				<p>Welcome to *robotics* Marine1, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to include details of your current understanding, details of any claim that you are querying and what you don't understand. Please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			<div id = "comment-17915" class = "comment">
				<p>@MarkBooth thank you! I added some informations I had to answer this question. It is a tough question as far as mathematically speaking I think that any quadrotors or hexarotors could go in any way. But as far as this is wrong I'm struggling to know...</p>
			</div>
			</div>
				<textarea id = "speech-10059" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10059">
					<img id="start_img-10059" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10059">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10079"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10079" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally half the rotors will go clockwise and the other half go counterclockwise so the drag on the rotors do not cause a net rotation effect. To manoeuvre, the relative speeds of the rotors change.</p>

<p>Running the rotors faster or slower causes more or less downforce. Doing the same to all the rotors will cause the copter to climb or descend. Doing so to the rotors on one side only will tilt the copter. Once tilted, the total downforce has a sideways component so the copter will move towards the lower side. Slowing down the rotors turning one direction and speeding up those in the other direction imbalances the drag and the copter will turn.</p>

<p>The above scheme effects rotation about thee axes are movement along three axes. That is all the degrees of freedom any solid body can do in three dimensional space.</p>

<p>None of these behaviours directly depend on the number of rotors - three rotors are enough to do all of above, and you can achieve nearly as much control with only one single bladed rotor and more complicated algorithms.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10079" data-toggle = "popover">
				<p>user name : Pete Kirkham</p>
				<p> user reputation : 357</p>
				<p class = "tagcontent" id = "usertaginfo-10079">{'None': 19}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10079">Load Comments</button></br>
			<div id = "commentsection-10079" class = 'collapse'>
			<div id = "comment-17935" class = "comment">
				<p>I don't see how "three rotors are enough", much less "one single bladed rotor". Do you have any links that go into more detail? I look forward to learning something new.</p>
			</div>
			<div id = "comment-17939" class = "comment">
				<p>three rotors are quite common - search youtube for tricopter. The single blade is at the end of this TED talk https://www.ted.com/talks/raffaello_d_andrea_meet_the_dazzling_flying_machines_of_the_future?language=en</p>
			</div>
			<div id = "comment-17940" class = "comment">
				<p>All the tricopters I've seen so far have three rotors plus a tilt servo, so "three rotors and a tilt servo are enough". Thank you for the link showing a flying machine with only a single moving part, which can do a lot more than I though was possible. (Perhaps edit your answer to include that link?)</p>
			</div>
			</div>
				<textarea id = "speech-10079" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10079">
					<img id="start_img-10079" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10079">Comment</button>
			<br><div id = "ans-10082"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10082" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A physical system only has 6 degrees of freedom - you can't have more than 6 ways to move. It doesn't matter how many propellers there are. There is forward/backward (translation) <em>along</em> the x/y/z axes and rolling side-to-side (rotation) <em>about</em> the x/y/z axes. Any off-axis motion just means that there is a combination of fundamental axial motion. </p>

<p>:EDIT:</p>

<p>I'll add, as @DavidCarey <a href="https://robotics.stackexchange.com/a/10084/9720">mentions</a>, that just because you have 6 actuators (6 propellors) doesn't mean you automatically can control all 6 degrees of freedom. </p>

<p>Can you roll the hexacopter 90 degrees sideways <em>and hold it there</em>? Can you pitch it 90 degrees forward <em>and hold it there</em>? </p>

<p>That said, even though you can't <em>control</em> all 6 degrees of freedom, you can still <em>move</em> along all 6 axes of motion. So, if your question is about what you can <em>control</em>, it's 4 axes of control (assuming the hexacopter propellers are all planar; i.e. a customary arrangement). If your question is how many ways you can <em>move</em>, it's 6 degrees of freedom. </p>

<p>As I hint at above, you can have a non-standard 6 propeller arrangement, where 4 fans are planar pointed at +Z, then one each is pointed +x and +y. In that way you can roll, pitch, yaw, and translate along x/y/z. Then you have 6 axes of control. </p>

<p>But again, for a planar arrangement, a 6 rotor vehicle still only has 4 axes of control. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10082" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10082">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10082">Load Comments</button></br>
			<div id = "commentsection-10082" class = 'collapse'>
			<div id = "comment-18045" class = "comment">
				<p>The given answer was actually 6 axes of control</p>
			</div>
			<div id = "comment-18046" class = "comment">
				<p>@Marine1 - Unless the hexacopter were in an atypical arrangement, as I describe in my answer above, then I would again argue that it is *stabilizable* on two axes (roll and pitch), and controllable only on the other four (yaw x/y/z). Can the vehicle *sustain altitude* at a 90 pitching or rolling bank? If not, then you *cannot control* that axis.</p>
			</div>
			</div>
				<textarea id = "speech-10082" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10082">
					<img id="start_img-10082" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10082">Comment</button>
			<br><div id = "ans-10084"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10084" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>practice</h2>

<p>In practice, every multicopter (including 6-propeller hexacopter and 4-propeller quadcopter) that I've seen so far has 4 degrees of freedom: pitch, roll, yaw, and climb.</p>

<p>The minimum number of rigid rotors to get 4 degrees of freedom is 4 rotors.
(Single-rotor helicopters have articulated blades and swashplates, which are more complicated than rigid rotors).
One big advantage of using more rotors than the theoretical minimum number is so that if/when something goes wrong that affects one of the 6 rotors, the remaining rotors can still control all 4 degrees of freedom for a controlled landing.</p>

<p>Such multicopters, like single-rotor helicopters, must go through a "roll -- pull collective -- unroll -- push collective" sequence to move a little bit to the right, since they cannot directly control the "forward" or "right" translation degree of freedom.</p>

<h2>theory</h2>

<p>The maximum number of <a href="http://en.wikipedia.org/wiki/degrees_of_freedom_(mechanics)" rel="nofollow">degrees of freedom</a> of a rigid object in our 3-dimensional world is 6. One way of naming those <a href="http://en.wikipedia.org/wiki/six_degrees_of_freedom" rel="nofollow">6 degrees of freedom</a>: pitch, roll, yaw, climb, forward, right.
Another way of naming the 6 degrees of freedom: heading, elevation, bank, X, Y, Z.</p>

<p>In principle a <a href="http://www.opencircuits.com/multi-rotor" rel="nofollow">multirotor helicopter</a> with 6 or more rigid rotors (hexacopters, octocopters, etc.), if the motors are rigidly mounted at the appropriate tilt(*),
or a <a href="http://en.wikipedia.org/wiki/tandem_rotors" rel="nofollow">tandem rotor helicopter</a> if the articulated blades are controlled appropriately, can directly control all 6 degrees of freedom.</p>

<p>Such a helicopter can move sideways directly by increasing sideways thrust, without tilting.
For example, with a tandem rotor helicopter where the forward rotor turns clockwise as viewed from above,
if the controller drives the swashplates so the front rotor tilts forwards and the back rotor tilts backwards, the helicopter as a whole will accelerate to the right without rotating.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10084" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-10084">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10084" class = 'collapse'>
			</div>
				<textarea id = "speech-10084" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10084">
					<img id="start_img-10084" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10084">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>