<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>In HRI, how is the "uncanny valley" experienced by people on the autism spectrum?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-758" class = "post">
			<h2>Question</h2>
			<div id="vote-758" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 978</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>In HRI, how is the "uncanny valley" experienced by people on the autism spectrum?</h2>
<p>I'm familiar with the idea of the <a href="http://en.wikipedia.org/wiki/Uncanny_valley" rel="nofollow">uncanny valley</a> theory in human-robot interaction, where robots with <em>almost</em> human appearance are perceived as creepy. I also know that there have been research studies done to support this theory using MRI scans. </p>

<p>The effect is an important consideration when designing robotic systems that can successfully interact with people. In order to avoid the uncanny valley, designers often create robots that are very far from humanlike. For example, many therapeutic robots (Paro, Keepon) are designed to look like animals or be "cute" and non-threatening.</p>

<p>Other therapeutic robots, like <a href="http://kaspar.herts.ac.uk/" rel="nofollow">Kaspar</a>, look very humanlike. Kaspar is an excellent example of the uncanny valley, since when I look at Kaspar it creeps me out. However, people on the autism spectrum may not experience Kaspar the same way that I do. And according to Shahbaz's comment, children with autism have responded well to Kaspar.</p>

<p>In the application of therapeutic robots for people on the autism spectrum, some of the basic principles of human-robot interaction (like the uncanny valley) may not be valid. I can find some anecdotal evidence (with Google) that people on the autism spectrum don't experience the uncanny valley, but so far I haven't seen any real studies in that area.</p>

<p>Does anyone know of active research in human-robot interaction for people on the autism spectrum?  In particular, how does the uncanny valley apply (or doesn't it apply) when people on the autism spectrum interact with a humanlike robot?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-758" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-758">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-758">Load Comments</button></br>
			<div id = "commentsection-758" class = 'collapse'>
			<div id = "comment-981" class = "comment">
				<p>Take a look at [Kaspar](http://kaspar.herts.ac.uk/), a robot designed to help children with autism get more social.</p>
			</div>
			<div id = "comment-982" class = "comment">
				<p>@Shahbaz, Kaspar is exactly what I mean about the uncanny valley, I'm going to add that to the question.</p>
			</div>
			<div id = "comment-983" class = "comment">
				<p>@bde, I was involved in a project creating skin that was also used with Kaspar, and from their presentations, it seemed like children with autism were in fact quite happy with Kaspar. More even than humans. That is, they were afraid of people, but more relaxed when dealing with Kaspar.</p>
			</div>
			<div id = "comment-988" class = "comment">
				<p>I would add that normal people should be creeped out by the iCub. That's one weird little robot.</p>
			</div>
			<div id = "comment-991" class = "comment">
				<p>Thanks to everyone for their efforts on this question. This is a great example of how the close/improve/reopen cycle works. If people could now tidy up (delete) comments which are no longer relevant, they will no longer distract from the (now excellent) question.</p>
			</div>
			<div id = "comment-3785" class = "comment">
				<p>I just ran across this question -- thank you for asking it.</p>
			</div>
			</div>
				<textarea id = "speech-758" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-758">
					<img id="start_img-758" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-758">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-759"  class = "post">
				<h2>Answer</h2>
			<div id="vote-759" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is <strong>no</strong>. There doesn't seem to be any study directly investigating if and how the uncanny valley applies to autistic children. At least, a Google Scholar search with the keywords <a href="http://scholar.google.com/scholar?q=autism%20%22uncanny%20valley%22">autism "uncanny valley"</a> doesn't result in anything of the sort. I agree, though, that this would be a most interesting and useful area of research. </p>

<p>Keep in mind, however, that, despite the fMRI and other studies, the Uncanny Valley is far from considered an established theory. This is, partly, because the Uncanny Valley is likely a great deal more complex than Mori first proposed, that is, it is probably not just human likeness that affects our sense of familiarity, nor is familiarity the only factor affected (MacDorman, 2006). </p>

<p>In my personal opinion, there's no doubt something like the Uncanny Valley exists, even though it may not quite take the shape Mori gave it (Bartneck et al., 2007). Artists of all ilk have long been aware of it and have deliberately used it (e.g. Chucky or any zombie movie ever) or suffered when falling into it (the Polar Express being the most notable example). Several explanations have been put forward to explain it (Brenton et al., 2005; MacDorman, 2005; Saygin et al., 2010) and it's been observed in monkeys as well (Steckenfinger and Ghazanfar, 2009), so it's very likely evolutionary in nature.</p>

<p>If you are interested in this area, I'd probably look at how people suffering from autism process faces in general. In this area, there have been a number of studies using real faces (e.g. Scholar search <a href="http://scholar.google.com/scholar?q=autism%20%22facial%20features%22">autism "facial features"</a>), as well as artificial faces (e.g. Scholar search <a href="http://scholar.google.com/scholar?q=autism%20cartoon%20faces">autism cartoon faces</a>). This difference in decoding facial expressions might explain why they seem to not feel the effects of the uncanny valley the same way other people do. </p>

<p>As for Kaspar in particular, Blow et al. (2006) goes into some detail on the design decisions involved in Kaspar's face. Also, in a <a href="https://www.youtube.com/watch?v=wdF7TwhUgLY">YouTube video</a>, Kaspar's creators cite predictability and simplicity as some of the reasons for his particular design.</p>

<p>References:</p>

<ul>
<li>SA Steckenfinger,  AA Ghazanfar. "Monkey visual behavior falls into the uncanny valley." Proceedings of the National Academy of Sciences 106.43 (2009): 18362-18366.</li>
<li>M Blow et al. "Perception of robot smiles and dimensions for human-robot interaction design." Robot and Human Interactive Communication, 2006. ROMAN 2006. The 15th IEEE International Symposium on. IEEE, 2006.</li>
<li>KF MacDorman. "Androids as an experimental apparatus: Why is there an uncanny valley and can we exploit it." CogSci-2005 workshop: toward social mechanisms of android science. 2005.</li>
<li>H Brenton et al. "The uncanny valley: does it exist." proc HCI Annu Conf: workshop on human-animated character interaction, Edinburgh. 2005.</li>
<li>KF MacDorman. "Subjective ratings of robot video clips for human likeness, familiarity, and eeriness: An exploration of the uncanny valley." ICCS/CogSci-2006 long symposium: Toward social mechanisms of android science. 2006.</li>
<li>AP Saygin, T Chaminade, H Ishiguro. "The perception of humans and robots: Uncanny hills in parietal cortex." Proceedings of the 32nd Annual Conference of the Cognitive Science Society. 2010.</li>
<li>C Bartneck et al. "Is the uncanny valley an uncanny cliff?." Robot and Human interactive Communication, 2007. RO-MAN 2007. The 16th IEEE International Symposium on. IEEE, 2007.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-759" data-toggle = "popover">
				<p>user name : ThomasH</p>
				<p> user reputation : 612</p>
				<p class = "tagcontent" id = "usertaginfo-759">{'None': 41, 'gazebo': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-759" class = 'collapse'>
			</div>
				<textarea id = "speech-759" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-759">
					<img id="start_img-759" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-759">Comment</button>
			<br><div id = "ans-800"  class = "post">
				<h2>Answer</h2>
			<div id="vote-800" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>These robots appear creepy because they look like deformed humans and people with autism who find it difficult to read facial expressions and emotions may not perceive the disformities in the robot. They could also react the other way and be very frightened and creeped out by the robots. As someone with ADHD, I can tell you that they definitely creep me out. It's the ones like you have referenced that creep me the most, the futuristic robots from movies don't scare me so much.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-800" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-800">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-800" class = 'collapse'>
			</div>
				<textarea id = "speech-800" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-800">
					<img id="start_img-800" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-800">Comment</button>
			<br><div id = "ans-824"  class = "post">
				<h2>Answer</h2>
			<div id="vote-824" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One of the primary facets of ADD/ADHD/Spectrum is awareness, that is, not missing small details. The phenomenon of the Uncanny Valley is probably more prevalent for these people. However, as also noted, many people sufficiently afflicted with ASD may not consciously recognize the signals they're getting.</p>

<p>I would advise making a conscious effort to stay on the non-human-cute side of the Uncanny Valley, because this is some of the most shaky ground.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-824" data-toggle = "popover">
				<p>user name : rsegal</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-824">{'kinect': 2, 'None': 12, 'ros': 2, 'openni': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-824" class = 'collapse'>
			</div>
				<textarea id = "speech-824" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-824">
					<img id="start_img-824" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-824">Comment</button>
			<br><div id = "ans-1650"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1650" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Actually at the University of Pisa, Centro Piaggio, Italy, we discovered this years ago while working with a human-like robot and presented it at the conference for Autism in Catania, Sicily in 2010.</p>

<ul>
<li><a href="http://www.ilc.cnr.it/~ferro/publications/Roboethics__Human_Robot_Interaction_in_Autism.pdf" rel="nofollow">Human-Robot Interaction in Autism</a> (PDF)</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1650" data-toggle = "popover">
				<p>user name : Arti Ahluwalia</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-1650">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1650">Load Comments</button></br>
			<div id = "commentsection-1650" class = 'collapse'>
			<div id = "comment-3451" class = "comment">
				<p>Welcome to *robotics* Arti, Thanks for your answer, but could you please provide references for the paper or papers presented? It looks like the original conference website is no more and the [conference report](http://www.autismeurope.org/files/files/congress-catania-report-en.pdf) is very light on details. Thanks,</p>
			</div>
			<div id = "comment-3786" class = "comment">
				<p>One thing that one should bear in mind is that current research is finding that autism spectrum disorders are not the result of single-point failures, but rather occur when some preponderance of genetic traits (which I hesitate to even call "defects") tend to pile up.  Thus, each person on the Spectrum will exhibit their autistic or Asberger's traits differently.  So one should beware of making generalizations.</p>
			</div>
			</div>
				<textarea id = "speech-1650" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1650">
					<img id="start_img-1650" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1650">Comment</button>
			<br><div id = "ans-1848"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1848" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The thing is that it's an opinion. Everyone sees things differently and while this may affect it I think it has more to do with each individual.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1848" data-toggle = "popover">
				<p>user name : Zach C</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-1848">{'None': -1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1848">Load Comments</button></br>
			<div id = "commentsection-1848" class = 'collapse'>
			<div id = "comment-3790" class = "comment">
				<p>Welcome Zach... your "answer" is not really an answer.  Could you elaborate?</p>
			</div>
			</div>
				<textarea id = "speech-1848" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1848">
					<img id="start_img-1848" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1848">Comment</button>
			<br><div id = "ans-2107"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2107" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I test positive for aspergers syndrome on highly validated tests and I can read facial expressions sufficiently well to notice certain patterns in my daily interactions and one of the most noticeable "common" patterns is the disgust/revulsion pattern. The sequencing is pretty simple, I start talking, within 500ms of hearing my talking, the face of the respondent contorts in a most hideous way, and then they immediately start wanting to leave/get-away by whatever means possible. </p>

<p>Researching the uncanny valley, as part of my studies into all things related to aspergers syndrome, I couldn't help but notice the similarity of the reactions I get and the reactions described on wikipedia.</p>

<p>Knowing of the evolutionary significance of autism spectrum disorders (Mainly, less of them work, they earn less money on average and, anecdotally, they tend to have fewer friends/girlfriends than average... and money has its evolutionary underpinnings...), it would seem to me there's probably an evolutionary connection between autism and the uncanny valley concept.</p>

<p>Now, according to the tests, I'm a "light sufferer"(I feel like I suffer plenty, though, BELIEVE me.), so I can read facial expressions in a way that more severely affected apparently can't(?). So, I appear to be right between the extremes of blends-in-and-reads-people-well/doesn't-blend-in-and-can't-read-people-well, getting the worst of both worlds.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2107" data-toggle = "popover">
				<p>user name : PeripateticRobot</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-2107">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2107" class = 'collapse'>
			</div>
				<textarea id = "speech-2107" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2107">
					<img id="start_img-2107" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2107">Comment</button>
			<br><div id = "ans-11405"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11405" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Actually this is interesting. I find I tend to look at the robot's eyes, and I do it comfortably. Something that I can never comfortably do with real people. 
I don't think I've experience the uncanny valley effect yet.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11405" data-toggle = "popover">
				<p>user name : Dan</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11405">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11405">Load Comments</button></br>
			<div id = "commentsection-11405" class = 'collapse'>
			<div id = "comment-20564" class = "comment">
				<p>Welcome to *Robotics* Dan, but on Stack Exchange we are are looking for comprehensive answers that provide some explanation and context. Very short answers cannot do this, so please edit your answer to provide the expected context. Are you a researcher for instance or have you participated in research on this subject? Information like this could make your answer much more useful for others interested in this question.</p>
			</div>
			</div>
				<textarea id = "speech-11405" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11405">
					<img id="start_img-11405" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11405">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>