<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>In PID control, what do the poles and zeros represent?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-461" class = "post">
			<h2>Question</h2>
			<div id="vote-461" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3495</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>In PID control, what do the poles and zeros represent?</h2>
<p>Whenever I read a text about control (e.g. PID control) it often mentions 'poles' and 'zeros'. What do they mean by that?  What physical state does a pole or a zero describe?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-461" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-461">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-461">Load Comments</button></br>
			<div id = "commentsection-461" class = 'collapse'>
			<div id = "comment-521" class = "comment">
				<p>Ah I remember we learned those stuff in control, but I have forgotten them. Something about where some function gets to 0 or infinity (zeros and poles) and that there were some curves starting from zeros to poles in the s-space (was that after laplas transform?) or something like that. I remember the diagrams looked beautiful, but I don't remember anything else!</p>
			</div>
			</div>
				<textarea id = "speech-461" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-461">
					<img id="start_img-461" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-461">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-462"  class = "post">
				<h2>Answer</h2>
			<div id="vote-462" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The function $T(\mathbf{x})$ that describes how ones input to a system maps to the output of the system is referred to as a transfer function.</p>

<p>For linear systems the transfer function can be written as $N(\mathbf{x})/D(\mathbf{x})$ where $N$ and $D$ are polynomials, i.e. $$T(\mathbf{x}) = {N(\mathbf{x})\over D(\mathbf{x})}$$</p>

<p>The zeros of the system are the values of $x$ that satisfy the statement $N(\mathbf{x}) = 0$. In other words they are the roots of the polynomial $N(\mathbf{x})$. As $N(\mathbf{x})$. approaches a zero, the numerator of the transfer function (and therefore the transfer function itself) approaches the value 0.</p>

<p>Similarly the poles of the system are the values of $x$ that satisfy the statement $D(\mathbf{x}) = 0$. In other words they are the roots of the polynomial $D(\mathbf{x})$. When $D(\mathbf{x})$ approaches a pole, the denominator of the transfer function approaches zero, and the value of the transfer function approaches infinity.</p>

<p>The poles and zeros allow us to understand how a system will react to various inputs. The zeros are interesting for their ability to block frequencies while the poles provide us information about the stability of the system. Generally we plot the poles and zeros in the <a href="http://en.wikipedia.org/wiki/Complex_plane">complex plane</a> and we say a system is <a href="http://en.wikipedia.org/wiki/BIBO_stability">bounded-input bounded-output</a> (BIBO) stable if the poles are located in the left half of the complex plane (LHP - Left Half Plane). </p>

<p>Finally, when we design a controller we are in effect manipulating it's poles and zeros so as to achieve specific design parameters.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-462" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-462">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-462">Load Comments</button></br>
			<div id = "commentsection-462" class = 'collapse'>
			<div id = "comment-524" class = "comment">
				<p>Thanks, but I don't feel any the wiser. Can you explain what zeros and poles *mean* in a control context?</p>
			</div>
			<div id = "comment-526" class = "comment">
				<p>I have added a bit more per your request. I hope that helps.</p>
			</div>
			<div id = "comment-529" class = "comment">
				<p>I think the problem here @Rocketmagnet is that this is a pretty broad topic. I would probably put it in the category of  *[If you can imagine an entire book that answers your question, you re asking too much](http://robotics.stackexchange.com/faq#dontask)*.</p>
			</div>
			<div id = "comment-18997" class = "comment">
				<p>For the lay person, you also need to clarify that the inputs and outputs are in the *Laplace domain* here. As Mark Booth states, the reason that poles and zeros matter in control is due to complex contour integration, and the fact that differential equations can be turned into algebraic equations in the Laplace domain. Poles can be thought of as characterizing both how much a system oscillates in time (ripple), and how it exponentially decays or grows in time. Overall, however, the intuition must be learned, and there isn't a quick and fast physical explanation...</p>
			</div>
			</div>
				<textarea id = "speech-462" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-462">
					<img id="start_img-462" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-462">Comment</button>
			<br><div id = "ans-471"  class = "post">
				<h2>Answer</h2>
			<div id="vote-471" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>These polynomial transfer functions occur, when you perform a <em>Laplace transform</em> on some linear differential equation which either actually describes your robot or is the result of <em>linearizing</em> the robot's dynamics at some desired state. Think of it like a "Taylor expansion" around that state. </p>

<p>The Laplace transform is the generalization of the Fourier transform to functions which are not periodic. In electrical engineering, the Laplace transform is interpreted as the representation of the system in the <em>frequency domain</em>, i.e. it describes, how the system transmits any frequencies from the input signal. Zeros then describe frequencies that don't get transmitted. And as already mentioned by DaemonMaker, poles are important when considering the system's stability: The transfer function of the system goes to infinity near the poles. </p>

<p>What they mean in a control context:</p>

<p><strong>Poles</strong>: They tell you, if a system (that can also be a new system, in which you have inserted a feedback loop with a control law) is stable or not. Usually you want a system to be stable. So, you want all the poles of the system to be in the left half plane (i.e. the real parts of the poles must be smaller than zero). The poles are the <em>eigenvalues of your system matrix</em>. How far they are on the left half-plane tells you how fast the system converges to it's resting state. The further they are away from the imaginary axis, the faster the system converges.</p>

<p><strong>Zeros</strong>: They can be convenient if you have a pole on the right half plane or still on the left half plane, but too close to the imaginary axis: By clever modification of your system, you can shift the zeros <em>onto your unwanted poles to annihilate them</em>. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-471" data-toggle = "popover">
				<p>user name : Daniel Eberts</p>
				<p> user reputation : 546</p>
				<p class = "tagcontent" id = "usertaginfo-471">{'None': 32, 'particle-filter': 17, 'localization': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-471">Load Comments</button></br>
			<div id = "commentsection-471" class = 'collapse'>
			<div id = "comment-622" class = "comment">
				<p>Can you add some images to illustrate this?</p>
			</div>
			<div id = "comment-2090" class = "comment">
				<p>Sorry for my long absense. Has to do with a lot of studying work I currently have to do. If still desired, I can add one as soon as I have time for it.</p>
			</div>
			<div id = "comment-7147" class = "comment">
				<p>Contrary to what's been said, pole/zero cancellation is **never ever** performed when the pole of the plant to be controlled lies in the RHP. The reason is that even a very tiny difference between the pole and the zero added up to annihilate it will get enhanced and will make the system response diverge. Remember: **never ever**!</p>
			</div>
			</div>
				<textarea id = "speech-471" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-471">
					<img id="start_img-471" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-471">Comment</button>
			<br><div id = "ans-6689"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6689" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I cannot really speak for the zeros of the transfer function, but the <strong>poles of the transfer function</strong> definitely have a meaningful interpretation.  </p>

<p>To understand this interpretation, you have to remember that the system that we want to control is really one of two things: either a <strong>differential</strong> equation or a <strong>difference</strong> equation.  In either case, the common approach to solving these equations is to determine their eigenvalues.  More importantly, when the system is linear, the eigenvalues of the differential/difference equation correspond exactly to the poles of the transfer function.  So, by obtaining the poles, you're really obtaining the eigenvalues of the original equation.  It is the eigenvalues of the original equation (in my opinion) that really determine the stability of the system; it just an amazing coincidence that the poles of a linear system are exactly the eigenvalues of the original equation.</p>

<p>To illustrate this, consider the two cases separately:</p>

<p><strong>Case 1:  Differential Equation</strong>  </p>

<p>When all eigenvalues of a differential equation have a negative real part, then all trajectories (i.e. all solutions) approach the equilibrium solution at the origin (x=0).  This is because solutions of a <strong>differential</strong> equation are typically of the form of an exponential <strong>function</strong> like $x(t)=Ce^{\lambda t}$, where $\lambda$ is the eigenvalue.  Thus, the <strong>function</strong> $x(t)\rightarrow 0$ as $t\rightarrow \infty$ only if $Re(\lambda)&lt;0$.  Otherwise if $Re(\lambda)\ge 0$, the quantity $e^{\lambda t}$ would very likely blow up to infinity in magnitude or simply not converge to zero.</p>

<p><strong>Case 2:  Difference Equation</strong>  </p>

<p>When all eigenvalues of a difference equation are less than 1 in magnitude, then all trajectories (i.e. all solutions) approach the equilibrium solution at the origin (x=0).  This is because solutions of a <strong>difference</strong> equation are typically of the form of an exponential <strong>sequence</strong> like $x_t=C\lambda^t$, where $\lambda$ is the eigenvalue.  Thus, the <strong>sequence</strong> $x_t\rightarrow 0$ as $t\rightarrow\infty$ only if $|\lambda|&lt;1$.  Otherwise if $|\lambda|\ge 1$, the quantity $\lambda^t$ would blow up to infinity in magnitude or simply not converge to zero.</p>

<p>In either case, the poles of the system function and the eigenvalues of the (homogeneous) differential/difference equation are exactly the same thing!  In my opinion, it makes more sense to me to interpret poles as eigenvalues because the eigenvalues explain the stability condition in a more natural fashion.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6689" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-6689">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6689" class = 'collapse'>
			</div>
				<textarea id = "speech-6689" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6689">
					<img id="start_img-6689" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6689">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>