<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>In the SLAM for Dummies, why are there extra variables in the Jacobian Matricies?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8992" class = "post">
			<h2>Question</h2>
			<div id="vote-8992" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 144</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>In the SLAM for Dummies, why are there extra variables in the Jacobian Matricies?</h2>
<p>I am reading SLAM for Dummies, which you can find on Google, or at this link: <a href="http://ocw.mit.edu/courses/aeronautics-and-astronautics/16-412j-cognitive-robotics-spring-2005/projects/1aslam_blas_repo.pdf" rel="nofollow">SLAM for Dummies - A Tutorial Approach to Simultaneous Localization and Mapping</a>.</p>

<p>They do some differentiation of matrices on page 33 and I am getting different answers for the resulting Jacobian matrices. </p>

<p>The paper derived </p>

<p>$$
\left[ {\begin{array}{c}
\sqrt{(\lambda_x - x)^2 + (\lambda_y - y)^2} + v_r \\ \tan^{-1}\left(\frac{\lambda_y - y}{\lambda_y - x}\right) - \theta + v_\theta \end{array}} \right]
$$</p>

<p>and got
$$
\left[ {\begin{array}{ccc}
\frac{x - \lambda_y}{r},&amp; \frac{y - \lambda_y}{r},&amp; 0\\ \frac{\lambda_y - y}{r^2},&amp; \frac{\lambda_y - x}{r^2},&amp; -1 \end{array}} \right]
$$</p>

<p>I don't get where the $r$ came from. I got completely different answers. Does anybody know what the $r$ stands for? If not, is there a different way to represent the Jacobian of this matrix?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8992" data-toggle = "popover">
				<p>user name : artiespeedy</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-8992">{'None': 0, 'slam': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8992" class = 'collapse'>
			</div>
				<textarea id = "speech-8992" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8992">
					<img id="start_img-8992" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8992">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8993"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8993" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Without checking, I assume $r$ is introduced as the range $\sqrt{(\lambda_x - x)^2 + (\lambda_y - y)^2}$. This is often useful when deriving such expressions, since the range often occurs in the derivative in first or higher order.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8993" data-toggle = "popover">
				<p>user name : Falko</p>
				<p> user reputation : 119</p>
				<p class = "tagcontent" id = "usertaginfo-8993">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8993" class = 'collapse'>
			</div>
				<textarea id = "speech-8993" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8993">
					<img id="start_img-8993" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8993">Comment</button>
			<br><div id = "ans-8995"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8995" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the paper:</p>

<p>$\begin{bmatrix} range\\bearing \end{bmatrix} = \begin{bmatrix} \sqrt{(\lambda_x-x)^2 + (\lambda_y - y)^2 } + v_r \\ tan^{-1}(\frac{\lambda_y-y}{\lambda_x-x}) - \theta + v_{\theta} \end{bmatrix}$</p>

<p>The Jacobian is:</p>

<p>$H = \begin{bmatrix}\frac{\partial range}{\partial x} &amp; \frac{\partial range}{\partial y} &amp; \frac{\partial range}{\partial \theta}\\\frac{\partial bearing}{\partial x} &amp; \frac{\partial bearing}{\partial y} &amp; \frac{\partial bearing}{\partial \theta}\end{bmatrix} = \begin{bmatrix}\frac{-2(\lambda_x-x)}{2\sqrt{(\lambda_x-x)^2 + (\lambda_y - y)^2 }} &amp; \frac{-2(\lambda_y-y)}{2\sqrt{(\lambda_x-x)^2 + (\lambda_y - y)^2 }}&amp;0\\ 
\frac{1}{1+(\frac{\lambda_y-y}{\lambda_x-x})^2}\cdot\frac{\lambda_y-y}{(\lambda_x-x)^2}&amp;\frac{1}{1+(\frac{\lambda_y-y}{\lambda_x-x})^2}\cdot\frac{-1}{(\lambda_x-x)}&amp;-1\end{bmatrix}$</p>

<p>The expression $\sqrt{(\lambda_x-x)^2 + (\lambda_y - y)^2 }$ is just the ideal range (distance from the robot to the landmark), and so is called $r$. Then the previous expression simplifies to:</p>

<p>$H = \begin{bmatrix}\frac{x-\lambda_x}{\sqrt{(\lambda_x-x)^2 + (\lambda_y - y)^2 }} &amp; \frac{y-\lambda_y}{\sqrt{(\lambda_x-x)^2 + (\lambda_y - y)^2 }}&amp;0\\ 
\frac{\lambda_y-y}{(\lambda_x-x)^2+(\lambda_y-y)^2}&amp;\frac{x-\lambda_x}{(\lambda_x-x)^2+(\lambda_y-y)^2}&amp;-1\end{bmatrix} = \begin{bmatrix}\frac{x-\lambda_x}{r} &amp; \frac{y-\lambda_y}{r}&amp;0\\ 
\frac{\lambda_y-y}{r^2}&amp;\frac{x-\lambda_x}{r^2}&amp;-1\end{bmatrix}$ </p>

<p>As you can see there is a sign error in the paper (second row, second column). You can check it with any differentiation tool (you can find a bunch of them online).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8995" data-toggle = "popover">
				<p>user name : charles</p>
				<p> user reputation : 266</p>
				<p class = "tagcontent" id = "usertaginfo-8995">{'None': 9, 'ekf': 3, 'frame': 3, 'slam': 3, 'imu': 4, 'kalman-filter': 3, 'mobile-robot': 4, 'gyroscope': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8995" class = 'collapse'>
			</div>
				<textarea id = "speech-8995" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8995">
					<img id="start_img-8995" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8995">Comment</button>
			<br><div id = "ans-9005"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9005" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Besides the answers posted above, you can use Matlab to acquire <strong>H</strong>. </p>

<pre><code>syms my mx x y r p a
r = sqrt( (my-y)^2 + (mx-x)^2 ); % range equation (r)
p = atan( (my-y)/(mx-x) ) - a;   % bearing equation (\phi)
 input = [x y a];
output = [r p];
H = jacobian(output, input)
</code></pre>

<p>The result is </p>

<pre><code>H =
[ -(2*mx - 2*x)/(2*((mx - x)^2 + (my - y)^2)^(1/2)), -(2*my - 2*y)/(2*((mx - x)^2 + (my - y)^2)^(1/2)),  0]
[ (my - y)/((mx - x)^2*((my - y)^2/(mx - x)^2 + 1)),         -1/((mx - x)*((my - y)^2/(mx - x)^2 + 1)), -1]
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9005" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-9005">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9005" class = 'collapse'>
			</div>
				<textarea id = "speech-9005" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9005">
					<img id="start_img-9005" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9005">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>