<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Including a RaspberryPi within a robot... Does this allow for a "universal API"?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-609" class = "post">
			<h2>Question</h2>
			<div id="vote-609" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 515</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Including a RaspberryPi within a robot... Does this allow for a "universal API"?</h2>
<p>I know this is a <em>broad</em> statement, but when you've got support for both TCP as well as a full fledged computer on board (to integrate/run an arduino), does this essentially allow for anything that would run on a linux box (raspberryPi) to run and operate your robot?</p>

<p>I know clock speed as well as the dependency libraries for a given code base (on the Pi) would add some complexity here, but what are some of the big issues that I'm overlooking in such a vertically-integrated control system?</p>

<p>Including a RaspberryPi within a robot... Does this allow for a "universal API"?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-609" data-toggle = "popover">
				<p>user name : delinquentme</p>
				<p> user reputation : 208</p>
				<p class = "tagcontent" id = "usertaginfo-609">{'None': 0, 'raspberry-pi': 6, 'arduino': 20, 'stepper-driver': 7, 'logic-control': 7, 'stepper-motor': 7, 'electronics': 7, 'software': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-609">Load Comments</button></br>
			<div id = "commentsection-609" class = 'collapse'>
			<div id = "comment-689" class = "comment">
				<p>I believe it is basic StackExchange protocol to repeat important information from your title in the body of the question. That way, someone won't miss important details.</p>
			</div>
			<div id = "comment-700" class = "comment">
				<p>Side note, [use comma before `but`, instead of `...`](http://www.grammar-monster.com/lessons/commas_before_conjunctions.htm).</p>
			</div>
			<div id = "comment-724" class = "comment">
				<p>I'm a little worried that within a given topic, this is actually being brought up Shahbaz.  I just hope you're not on S.O.'s payroll as this literally qualifies as trivial to the point of " you should not even mention it " .</p>
			</div>
			</div>
				<textarea id = "speech-609" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-609">
					<img id="start_img-609" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-609">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-610"  class = "post">
				<h2>Answer</h2>
			<div id="vote-610" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is "yes". I'm assuming you are describing an architecture that looks <em>broadly</em> ;-) like this:</p>

<p>Real-time system &lt;--> Soft-time system</p>

<p>This is a very common robot architecture. </p>

<p>The real-time system (RTS) (for example, an Arduino with appropriate firmware) handles the low-level sensor farming (conditioning, data packaging, management, and routing), power management, motor management, and general purpose I/O operations.</p>

<p>The soft-time system (STS) (ex. the Raspberry Pi you mentioned) is a more powerful system designed to handle monitoring, long-range communications, and more elaborate sensor integration and processing tasks. It sits above the RTS, which handles all the intense timing details of waveform generation and low-speed local bus communication so that the STS can work the "harder" problems.</p>

<p>Obviously, this is a big over-simplification, but I think it gets the core ideas across.</p>

<p>I wrote a number of academic papers <a href="http://research.cens.ucla.edu/projects/2005/Actuation/robogaming/">1</a> <a href="http://nesl.ee.ucla.edu/document/list?project_id=26">2</a> on robot architecture if you would like to explore more deeply. If you have something specific in mind, please feel free to ask me (or the community) some follow-up questions. ;-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-610" data-toggle = "popover">
				<p>user name : DrFriedParts</p>
				<p> user reputation : 583</p>
				<p class = "tagcontent" id = "usertaginfo-610">{'control': 7, 'motion': 7, 'None': 40, 'wiring': 7, 'routing': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-610">Load Comments</button></br>
			<div id = "commentsection-610" class = 'collapse'>
			<div id = "comment-694" class = "comment">
				<p>I've never see the terms ***soft-time*** and ***hard-time*** used in industry, is this an academic thing? In industry we tend to use the terms ***soft real-time*** and ***hard real-time***, as used over on the [***Real-time computing*** wikipedia page](http://en.wikipedia.org/wiki/Real-time_computing#Criteria_for_real-time_computing).</p>
			</div>
			<div id = "comment-697" class = "comment">
				<p>@Mark -- I'm drawing an even broader conclusion ;-) Real-time systems have deadlines; soft-time systems don't. Hard-RT, firm-RT, soft-RT are all sub-classifications of real-time systems. That's just how I am "drawing the lines" in this context. I apologize for any confusion.</p>
			</div>
			</div>
				<textarea id = "speech-610" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-610">
					<img id="start_img-610" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-610">Comment</button>
			<br><div id = "ans-611"  class = "post">
				<h2>Answer</h2>
			<div id="vote-611" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"Does this essentially allow for anything that would run on a linux box ( raspberryPi ) to run and operate your robot?"</p>

<p>I'm an outsider, but from what I have heard Rasberry Pi has problems running ROS at the moment. A linux robot that can not run ROS is missing a huge part of the community, and I would have a hard time seeing that as "allowing anything that runs on linux."</p>

<p>To me the purpose of ROS is to allow research/development in a specific area without having to  learn/develop all the other stuff that has already been done. That is the spirit of open source, that is the spirit of Linux, that is the spirit of ROS. Jut because you can not do this does not make it less of a robot, but it does make the reasons to use it much less, IMHO, and to answer your question.</p>

<p>Wouldn't it be a much better choice to run some non rasberyy pi computer with Arduinos? Is price the real issue? And if it is why does anything else matter then? A cute name does not make a cute robot.</p>

<p>edit: can anyone explain to me what a "universal API" is? How about a "vertically-integrated control system"? Actually, explain how this is even a question, with up votes?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-611" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-611">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-611">Load Comments</button></br>
			<div id = "commentsection-611" class = 'collapse'>
			<div id = "comment-726" class = "comment">
				<p>I fail to see how your post addresses the question</p>
			</div>
			<div id = "comment-730" class = "comment">
				<p>@thomasH the question in part is "does this essentially allow for anything that would run on a linux box (raspberryPi) to run and operate your robot" and my answer is "A linux robot that can not run ROS is missing a huge part of the community, and I would have a hard time seeing that as "allowing anything that runs on linux." - Let me know if you need anymore help. And thanks for your helpful contributions.</p>
			</div>
			<div id = "comment-734" class = "comment">
				<p>that's fair enough, I missed that connection alright  :-) Maybe it would be worth editing your post to say something like "In principle yes, but using a pi could mean not being able to run ROS" to make it a bit more obvious and maybe reverse some of those down votes</p>
			</div>
			<div id = "comment-735" class = "comment">
				<p>The down votes are from people who feel the Pi represents nirvana and hate any criticism. The more I look into it, I can see no reason anyone would use a pi for anything in robotics. I really don't care about their feelings, but thanks. Sorry to be rough on you, but I thought the connection was easy to see - and the lack of direct responses to my questions I think shows thats it is more of a touchy feely issue and not really a technical discussion.</p>
			</div>
			<div id = "comment-736" class = "comment">
				<p>I'm not a hardware person, I own a Pi but haven't done anything with it yet, and a friend of mine does some amazing robotics research on NXTs. I don't think a Pi is better than an NXT, or the other way round, because I don't see the point in comparing the two. So I consider myself neutral on this non-issue. What I do see is that you seem to be intent on seeing yourself beset by an anti-NXT/pro-Pi brigade mostly based on *somebody else's answer* to one question that asked about *alternatives to NXT* in which you started a debate because the poster was giving an *alternative to NXT*.</p>
			</div>
			<div id = "comment-739" class = "comment">
				<p>Fair enough. I felt that poster asked a question "what kit alternatives exist comparable to an NXT" and the particular answer originally said "NXT sucks, get a pi".  I will continue to stop mis-information from those who are preaching more than answering, It does not help people just starting.
BTW - on that question, there is speculation the OP was upgrading from an NXT. To me he was choosing his first robotics kit, and he thought he wanted/needed more, to which several replied that a pi was more. Well maybe CPU v CPU it is, but as a robotics learning tool, there is no comparison.</p>
			</div>
			<div id = "comment-741" class = "comment">
				<p>let us [continue this discussion in chat](http://chat.stackexchange.com/rooms/6616/discussion-between-spiked3-and-thomash)</p>
			</div>
			<div id = "comment-763" class = "comment">
				<p>It looks like the tone has become a little personal here, but I want to salvage something from this.  @Spiked3, what you're saying about ROS is true -- it's quite powerful -- but it doesn't fully address the question; that's probably why the downvotes were cast.  That said, the initial question was poorly written ("universal API", what?); it's since been revised.  I think if you had commented on the question (to get clarification) before answering, your answer would have been better received.  I hope you'll continue to contribute, because you seem to have valuable experience to share.</p>
			</div>
			<div id = "comment-765" class = "comment">
				<p>Oh do not worry about me @ian - I could care less about my 'rep'. But your right, the original question was terrible, and an answer a high school grad sees as BS gets 7 upvotes. I just LOL and move on. But anyhow - trying not to add comments as a discussion that doesn't add anything, i've made my point clearly.</p>
			</div>
			</div>
				<textarea id = "speech-611" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-611">
					<img id="start_img-611" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-611">Comment</button>
			<br><div id = "ans-707"  class = "post">
				<h2>Answer</h2>
			<div id="vote-707" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To offer an answer that (specifically) addresses the question, as I understand it, the RaspberryPi offers (either as part of the standard Pi distros, as add-ons or compilable from source) pretty much anything and everything that the Linux operating system provides.</p>

<p>However, for those that are not part of the distro (or from the repositories) there are portability issues, due to the specific hardware platform.</p>

<blockquote>
  <p>does this essentially allow for anything that would run on a linux box
  (raspberryPi) to run and operate your robot</p>
</blockquote>

<p>As such, I'm of the opinion that "Maybe" is the answer... but whether I'd trust a robot to a Pi is another question entirely.</p>

<hr>

<p>That having been said, now some personal opinion:</p>

<p>Yes I have a couple of Pis that I'm experimenting with, but I've rapidly broken through the hype surrounding the Raspie.  I've come to the conclusion that it is so general purpose that it is, in effect, a solution looking for a problem.</p>

<p>As an embedded prototyping system, one is better off with an Arduino or a PIC dev-kit, in my humble opinion.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-707" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-707">{'None': 41}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-707">Load Comments</button></br>
			<div id = "commentsection-707" class = 'collapse'>
			<div id = "comment-897" class = "comment">
				<p>hahah, late welcome to the party. You missed the part where you should mention input voltage being transformed into output voltage - then you'd get 8 or more upvotes! but yeah, I said that - not too popular around here.</p>
			</div>
			<div id = "comment-898" class = "comment">
				<p>Just found the chat-room debate :( I've had a debate at work today with one of my grown-ups who seemed to think a Pi was suitable for a safety critical application... ho hum!</p>
			</div>
			</div>
				<textarea id = "speech-707" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-707">
					<img id="start_img-707" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-707">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>