<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Inconvenient comment signature line break
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1094" class = "post">
			<h2>Question</h2>
			<div id="vote-1094" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Inconvenient comment signature line break</h2>
<p>Due to the length of my name, it's often wrapped in comments. This is entirely understandable. However, it often gets wrapped like this:</p>

<pre><code>...[end of comment] -
Timothy Mueller-Harder
</code></pre>

<p>which looks really weird. I'm fine with</p>

<pre><code>...[end of comment] -Timothy
Mueller-Harder
</code></pre>

<p>as well as </p>

<pre><code>...[end of comment]
- Timothy Mueller-Harder
</code></pre>

<p>but wrapping between the hyphen and my first name is ridiculous. Please change this.</p>

<p>(Edit) Here's an example: <img src="https://i.stack.imgur.com/SNBLU.png" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1094" data-toggle = "popover">
				<p>user name : timothymh</p>
				<p> user reputation : 7731</p>
				<p class = "tagcontent" id = "usertaginfo-1094">{'None': 5, 'editing': 4, 'design': 1, 'discussion': 33, 'tags': 4, 'answers': 4, 'editor': 19, 'notifications': 0, 'formatting': 3, 'inbox': 0, 'comments': 4, 'chat': 1, 'status-bydesign': 3, 'rss': 0, 'bug': 3, 'feature-request': 20}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1094">Load Comments</button></br>
			<div id = "commentsection-1094" class = 'collapse'>
			<div id = "comment-1977" class = "comment">
				<p>Here is an example of such an erroneously signatured comment in action, if you still don't get it.</p>
			</div>
			<div id = "comment-1978" class = "comment">
				<p>Looks okay to me here. Can you post a screenshot of a bad one? http://i.imgur.com/Zf7Ov.png</p>
			</div>
			<div id = "comment-1979" class = "comment">
				<p>@NathanGreenstein Yes, it's showing up that way for me, now, as well. Unfortunately, the edit link is now remarkably unresponsive...</p>
			</div>
			<div id = "comment-1980" class = "comment">
				<p>Here is a comment that causes my signature to wrap in the manner I just described.</p>
			</div>
			<div id = "comment-1986" class = "comment">
				<p>So it appears that your proposed solution is, in fact, already implemented, and that most of our *browsers* are what's broken. Who knew?</p>
			</div>
			</div>
				<textarea id = "speech-1094" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1094">
					<img id="start_img-1094" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1094">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1100"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1100" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are advocating that Stack Exchange removes the space between the end of the comment and the username, or linebreaks the dash ending the comment, I am 100% opposed to that.</p>

<p>This is standard browser line-wrapping behavior. When content hits the end of a displayed line, it rewinds to the last (non-breaking) space, and then moves all the content onto the next line.</p>

<p>You're just going to keep running into this problem.</p>

<p>So what can you do? My only suggestion is to change your username. The only three names I could think of that could permanently resolve this issue would be <code>Timothy-Mueller-Harder</code>, <code>TMH</code>, or <code>TM-H</code>. You could abbreviate it in some other fashion, such as <code>Timothy M-H</code>, but that won't fix the issue. You will inevitably post a comment of some length that pushes not only <code>M-H</code> onto the next line, but <code>Timothy</code> as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1100" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-1100">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1100">Load Comments</button></br>
			<div id = "commentsection-1100" class = 'collapse'>
			<div id = "comment-1985" class = "comment">
				<p>I'm not. I'm advocating that they change it to a non-breaking space.</p>
			</div>
			</div>
				<textarea id = "speech-1100" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1100">
					<img id="start_img-1100" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1100">Comment</button>
			<br><div id = "ans-1101"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1101" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The rendered HTML is already like you're proposing, e.g.:</p>

<pre><code>&amp;ndash;&amp;nbsp;&lt;a href="/users/12285/timothy-mueller-harder"...
</code></pre>

<p>so this sounds like a browser issue.  Indeed, only Firefox seems to render the <code>&amp;nbsp;</code> correctly*:</p>

<p><img src="https://i.stack.imgur.com/AIzw6.png" alt="Firefox ndash example"></p>

<p><sup>* Unless we're doing something wrong, which is entirely possible :)</sup></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1101" data-toggle = "popover">
				<p>user name : Jarrod Dixon</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-1101">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1101">Load Comments</button></br>
			<div id = "commentsection-1101" class = 'collapse'>
			<div id = "comment-1987" class = "comment">
				<p>OK, thanks for your help. I probably should have looked at the HTML myself. :)</p>
			</div>
			</div>
				<textarea id = "speech-1101" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1101">
					<img id="start_img-1101" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1101">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>