<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Inconsistent Notification
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1066" class = "post">
			<h2>Question</h2>
			<div id="vote-1066" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 62</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Inconsistent Notification</h2>
<p>If you try to upvote a question or answer twice, you get the nice yellow box that give an indication of the problem "You already voted on this question ....etc", and an obvious "Click in this box to dismiss" message.  The box is often at or at least near your cursor, making it a trivial task to dismiss the notification.  You can also hit ESCAPE, although it doesn;t tell you that.</p>

<p>In other areas of the site the notification system is different.  For example in the Chat rooms, if you try to star one of your own messages you get a dull drop down notification bar that slides in from the top.  The colour scheme is barely different from the rest of the page, and it's always at the top, never anywhere near your current cursor position.  Also, hitting ESCAPE doesn't remove it.</p>

<p>Should this be standardised in some way?  As I see it there 4 inconsistencies:</p>

<ol>
<li><p>Notification type, box or bar</p></li>
<li><p>Notification location, static at the top, or with some context based on where you clicked</p></li>
<li><p>Notification colour, one stands out, the other belnds in.</p></li>
<li><p>Escape works in one, not the other</p></li>
</ol>

<p>EDIT - Additions:</p>

<p>Also, there are different types of notification bars, there are the ones that tell you your bounty is about to expire, or that you have a new badge.  Some of these appear at the top of the page and push the rest of the content down the way, but others just overlay without resulting in a scroll down for the rest of the content.  These badge notifications are at least more obvious, being a) coloured, and b) causing a scroll that makes them more obvious.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1066" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-1066">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1066" class = 'collapse'>
			</div>
				<textarea id = "speech-1066" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1066">
					<img id="start_img-1066" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1066">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>