<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Incorrect formatting appearance - fixable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2200" class = "post">
			<h2>Question</h2>
			<div id="vote-2200" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Incorrect formatting appearance - fixable?</h2>
<p>My first post on Meta &amp; I didn't find anything similar by searching...<br>
I see this a lot, on various question/answers - the last line of a code section hidden behind the scroll-bar...</p>

<p><img src="https://i.stack.imgur.com/9acCk.png" alt="enter image description here"></p>

<p>If I check Edit, there is no fault with the user's formatting, they have added lines underneath [&amp; incidentally if I then Cancel the formatting 'fixes' itself]</p>

<p>Is there a 'higher-up' who could have a look at this &amp; fix it?</p>

<p>My System - Early 08 Mac Pro; 10.9.4, 26GB RAM, SSD, Safari 7.0.5</p>

<p>Link to this specific example - <a href="https://apple.stackexchange.com/questions/143649/services-menu-shows-the-incorrect-name">Services menu shows the incorrect name</a></p>

<p>Further testing - Chrome shows it just fine, Safari does if I refresh the page, but consistently fails on first opening of that link. I really have no special kind of setup in Safari, it's pretty much fresh out the box in terms of how I have it configured.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2200" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2200">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2200">Load Comments</button></br>
			<div id = "commentsection-2200" class = 'collapse'>
			<div id = "comment-4190" class = "comment">
				<p>Can you link to the question so we can see the issue - it has probably something to do with your browser setup</p>
			</div>
			<div id = "comment-4191" class = "comment">
				<p>Sure - wasn't sure I could find it again, but I did..</p>
			</div>
			<div id = "comment-4192" class = "comment">
				<p>Looks OK on my Safari OSX 10.9.4</p>
			</div>
			<div id = "comment-4194" class = "comment">
				<p>Hmm... it works if I simply click the link, fails if I Cmd/Shift/Click to open in new tab, which is my default method for forum browsing.</p>
			</div>
			<div id = "comment-4195" class = "comment">
				<p>The latter i.e. right click is how I opened it</p>
			</div>
			<div id = "comment-4196" class = "comment">
				<p>Stranger still - right click open in new tab fails, open in new window works.</p>
			</div>
			<div id = "comment-4198" class = "comment">
				<p>Can but hope - it's not hugely irritating, tbh, I'll survive ;-)</p>
			</div>
			<div id = "comment-4199" class = "comment">
				<p>works ok here with 7.0.5 and right-clicking to new tab. Maybe you've installed an extension which impacts rendering?</p>
			</div>
			<div id = "comment-4200" class = "comment">
				<p>You appear to be correct - BOTH Click to Flash & YouTube5 do it, if either is enabled, I see the error, both disabled I don't.</p>
			</div>
			</div>
				<textarea id = "speech-2200" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2200">
					<img id="start_img-2200" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2200">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2211"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2211" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Appears to be fixed with OS 10.9.5 &amp; Safari 7.0.6, even with Click to Flash &amp; YouTube5 enabled.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2211" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2211">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2211" class = 'collapse'>
			</div>
				<textarea id = "speech-2211" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2211">
					<img id="start_img-2211" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2211">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>