<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Increasing the rotation range of a servo motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1086" class = "post">
			<h2>Question</h2>
			<div id="vote-1086" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 844</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Increasing the rotation range of a servo motor</h2>
<p>How do I increase the rotation range of a standard servo? Most servos have a rotation range of ~ 180 degrees. I would like to access the entire 360 degree range on the servo, partially because I would be attaching the servo's shaft to the robotic wheel and would like it to be able to make full rotations. Or is that not possible? </p>

<p>I would not like to however lose the 'encoder' part of the servo which allows me to clearly specify which angular position the wheel should stop at. </p>

<p>If I use gears in order to transform this system range, would it lead to loss of precision?</p>

<p>In addition, would such a transform allow the wheels to continuously rotate in one direction? From what I understand, this won't work.</p>

<p>Would a stepper motor with an external encoder or a dc motor with an external encoder work?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1086" data-toggle = "popover">
				<p>user name : Naresh</p>
				<p> user reputation : 381</p>
				<p class = "tagcontent" id = "usertaginfo-1086">{'control': 3, 'None': 14, 'walking-robot': 8, 'rcservo': 6, 'torque': 2, 'pid': 5, 'wheeled-robot': 2, 'legged': 5, 'gait': 2, 'motor': 8, 'mobile-robot': 8, 'stepper-motor': 2, 'navigation': 6, 'hexapod': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1086" class = 'collapse'>
			</div>
				<textarea id = "speech-1086" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1086">
					<img id="start_img-1086" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1086">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1087"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1087" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is possible to do it. Take a look at this <a href="http://www.acroname.com/robotics/info/ideas/continuous/continuous.html" rel="nofollow">link</a>.
Of course you will not have the encoder possibility with that servo. But you dont have it currently either. You have to solder middle pin from rotary encoder (resistor) and read the value of resistance to determine current position of shaft.</p>

<p>If you need positioning i would suggest DC motor with encoder or stepper. With stepper you can count steps made. That is only rough estimation on distance made by robot as you dont have feedback if motor has actually turn or not.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1087" data-toggle = "popover">
				<p>user name : Gossamer</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-1087">{'None': 18}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1087">Load Comments</button></br>
			<div id = "commentsection-1087" class = 'collapse'>
			<div id = "comment-14716" class = "comment">
				<p>Link is dead...</p>
			</div>
			</div>
				<textarea id = "speech-1087" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1087">
					<img id="start_img-1087" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1087">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>