<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Industrial Robotic Arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3007" class = "post">
			<h2>Question</h2>
			<div id="vote-3007" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 530</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Industrial Robotic Arm</h2>
<p>I had the opportunity to work for a factory/company that is in the domain space of production and they want to use a robotic arm for part of the production line.</p>

<p>They want basically a robotic arm with payload of about 2 Kgs or more and an arm length of more than 1600mm</p>

<p>I have researched a few companies like Kuka.com but I am not sure what I should be looking for when making suggestions and researching for it.</p>

<p>Are there any suggestions you can give me on few good points to be careful about with robotics arms? Any innovating companies out there I should consider? How is an installation done and if I should find a supplier for it etc. Please enlighten me. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3007" data-toggle = "popover">
				<p>user name : makakas</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-3007">{'None': 0, 'computer-vision': 3, 'arduino': 3, 'mechanism': 1, 'lidar': 3, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3007" class = 'collapse'>
			</div>
				<textarea id = "speech-3007" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3007">
					<img id="start_img-3007" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3007">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3011"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3011" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Based on your requirements, I would recommend the <a href="https://github.com/ros-industrial/universal_robot" rel="nofollow">UR5 (0.85m range, 5kg payload) or UR10 (1.3 m range, 10kg payload)</a> from Universal Robotics. Have a friend who has used it for work, and it performs well. It may be overkill on the payload, but it is the only one I would recommend!</p>

<p>Would use <a href="http://rosindustrial.org/" rel="nofollow">ROS industrial</a> to drive it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3011" data-toggle = "popover">
				<p>user name : Pikey</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-3011">{'None': 4, 'lidar': 0, 'kinect': 0, 'slam': 0, 'mobile-robot': 0, 'ros': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3011" class = 'collapse'>
			</div>
				<textarea id = "speech-3011" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3011">
					<img id="start_img-3011" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3011">Comment</button>
			<br><div id = "ans-3018"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3018" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>2 kgs is not very much, so i would probably consider arms that are slightly less <em>industrial</em> than Kuka, ABB, Fanuc, Denso and the like.  However, 1.6m is pretty long and that may be hard to find in non-industrial arms.</p>

<p>Keep in mind there are many other factors to consider when choosing a robot arm.  human safety, accuracy, repeat-accuracy, speed, workspace envelope.  </p>

<p>for example, for relatively planar tasks, low payload, and very fast speeds, a delta configuration robot is best.  Larger payloads, maybe a SCARA configuration is better.  super large workspace, and planar tasks, perhaps a gantry is best.  the point being, there is more than <em>typical</em> robot arms with spherical workspaces.</p>

<p>some of the arms listed below just won't survive the number of cycles industrial arms are typically driven to.  the arms listed below are slightly more human safe than standard industrial arms,  but probably less accurate.</p>

<p>all that being said, here are some more arms to consider:</p>

<p>As Pikey mentioned, Universal Robotics (<a href="http://www.universal-robots.com/" rel="nofollow">http://www.universal-robots.com/</a>) has some arms that might work.</p>

<p>You should also consider the WAM arm from Barrett (<a href="http://www.barrett.com/robot/products-arm.htm" rel="nofollow">http://www.barrett.com/robot/products-arm.htm</a>).  It has been around a long time, and has a longer reach than many other arms. </p>

<p>A lighter duty arm which is very human safe is the Kinova arm: <a href="http://kinovarobotics.com/" rel="nofollow">http://kinovarobotics.com/</a></p>

<p>Another that i have seen, but never touched is the Schunk arm: (<a href="http://mobile.schunk-microsite.com/en/produkte/produkte/dextrous-lightweight-arm-lwa-4d.html" rel="nofollow">http://mobile.schunk-microsite.com/en/produkte/produkte/dextrous-lightweight-arm-lwa-4d.html</a>)</p>

<p>The HDT Arm might be overkill: (<a href="http://www.hdtglobal.com/products/robotics/Adroit_Manipulator_Arm/" rel="nofollow">http://www.hdtglobal.com/products/robotics/Adroit_Manipulator_Arm/</a>)</p>

<p>and of course Baxter for very light industrial use: <a href="http://www.rethinkrobotics.com/products/baxter/" rel="nofollow">http://www.rethinkrobotics.com/products/baxter/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3018" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-3018">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3018">Load Comments</button></br>
			<div id = "commentsection-3018" class = 'collapse'>
			<div id = "comment-5519" class = "comment">
				<p>I am actually looking for more than 2kgs. But I set 2kgs as the min limit.</p>
			</div>
			</div>
				<textarea id = "speech-3018" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3018">
					<img id="start_img-3018" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3018">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>