<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Inexpensive lidar~radar rangefinder good up to 100m?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10681" class = "post">
			<h2>Question</h2>
			<div id="vote-10681" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 515</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Inexpensive lidar~radar rangefinder good up to 100m?</h2>
<p>I've been looking around for a lidar/radar rangefinder for a few months now and can't seem to find anything reasonable for my application.  My requirements are pretty straightforward:</p>

<ol>
<li>100m range</li>
<li>I2C or other serial protocol</li>
<li>Accuracy +/- 0.25m</li>
<li>Sampling > 50hz</li>
</ol>

<p>This isn't a spinning/mapping application, so sampling rate isn't very demanding, and I don't think I'm asking much regarding accuracy, but I can't find anything for less than $600.  It seems like there's a bit of a hole in the market?</p>

<p>The closest ive come is the lidar lite from pulsed lite (now Garmin), but its only good up to 40m, and I've had one backordered for 4 months now!  If they offered this product in an 80 or even 60m application it would help me, but 40m isnt quite enough.</p>

<p>I would assume the technology/demand just isn't out there that anyone is cheaply Producing this device, but I see lots of lidar based rangefinders for golf courses/gun sitting/etc that are around $100 in price and work in these ranges.  What's different about these technologies? <a href="https://jet.com/product/detail/d02d0657e367484494d8c811c7edcc06?jcmp=pla:ggl:gen_cameras_optics_a1:optics_rangefinders_a1_other:na:PLA_348795060_24231781380_pla-174024324060:na:na:na:2&amp;code=PLA15&amp;ds_c=gen_cameras_optics_a1&amp;ds_cid=&amp;ds_ag=optics_rangefinders_a1_other&amp;product_id=d02d0657e367484494d8c811c7edcc06&amp;product_partition_id=174024324060&amp;gclid=CJf0mejAm88CFdgOgQodRpsAAQ&amp;gclsrc=aw.ds" rel="nofollow">Example</a>.  What technology does this use and are there sensors out there that I can buy direct?</p>

<p>Thanks</p>

<p>Also found <a href="http://www.lightware.co.za/shop/en/drone-altimeters/51-sf11c-120-m.html" rel="nofollow">this</a>, but seems specific to altimeters. Is there something about this device that would only make it applicable for drone altimeter applications?  I know there must be considerations for the incoming environmental light and reflectiveness of the surface it's detecting,so possibility it wouldn't work in an outside application where environmental lighting will vary?  And also this device doesn't call itself 'lidar', so let's ask a very basic question:</p>

<p>Are all laser rangefinders considered 'lidar'?  Surprisingly I haven't found this answer.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10681" data-toggle = "popover">
				<p>user name : NateGreco</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-10681">{'stereo-vision': 0, 'None': 4, 'computer-vision': 0, 'laser': 2, 'lidar': 2, 'opencv': 0, 'rangefinder': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10681">Load Comments</button></br>
			<div id = "commentsection-10681" class = 'collapse'>
			<div id = "comment-19329" class = "comment">
				<p>Welcome to *Robotics*, NateGreco. This is a shopping question (where can I buy X), which are not allowed because products and suppliers are prone to change with time, meaning that a valid answer now is of no use to someone visiting the site a year or five from now.</p>
			</div>
			<div id = "comment-19330" class = "comment">
				<p>I'll say that, while you have *some* specifications, you haven't given *all* of the specifications. You say LIDAR, and the connotation with that word is that you are looking for (at least) one **plane** of laser data. With that *plane* you have to specify a field of view and an angular resolution between individual scan rays. If you're picky (you should be, if you're designing the system), you should also look at the angular divergence (spread) of the laser dot. You haven't specified field of view or angular resolution, which makes me wonder if you're just looking for a laser *rangefinder*.</p>
			</div>
			<div id = "comment-19331" class = "comment">
				<p>As a final comment, if you Google "serial laser rangefinder" you'll find several listings on eBay at the moment for single-point laser rangefinders that have a listed accuracy of +/-1mm and a max range of 100m, for about $70.</p>
			</div>
			<div id = "comment-19347" class = "comment">
				<p>Indeed, I am only looking for a rangefinder.  And although the topic was marked for opinion regarding buying, I do have some technical questions still; what's the difference between the rangefinder technology vs lidar?  Is it o ly just the application of a rangefinder with a narrow spread Incorporated with some rotary movement for mapping?</p>
			</div>
			<div id = "comment-19373" class = "comment">
				<p>Yes, generally a "rangefinder" is a single-point measurement where a "lidar" is a multi-point measurement.</p>
			</div>
			<div id = "comment-19375" class = "comment">
				<p>OK, thanks for the clarification!  I was thrown off by devices that were named 'LIDAR' but were also rangefinder's, such as PuledLight's [LIDAR-Lite Laser Rangefinder](http://www.robotshop.com/en/lidar-lite-3-laser-rangefinder.html).  Possibly they mean to indicate that this device is geared towards LIDAR applications, whereas rangefinders with a wider spread wouldn't be a good fit for a LIDAR application.  Anyways, thanks for the help!  My v3 just shipped yesterday.</p>
			</div>
			</div>
				<textarea id = "speech-10681" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10681">
					<img id="start_img-10681" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10681">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10683"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10683" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check <a href="http://www.lightware.co.za/shop/en/scanning-and-obstacle-detection/45-sf40c-100-m.html" rel="nofollow">this</a>, starting from the last part:</p>

<p>I think they are using the same technology as the several of their <a href="http://www.lightware.co.za/shop/en/drone-altimeters/38-sf30c.html" rel="nofollow">sensors</a>: ( the <a href="http://www.lightware.co.za/shop/en/drone-altimeters/51-sf11c-120-m.html" rel="nofollow">one you mentioned</a>)</p>

<p>In the 100 dollar price range I think you will not find anything that meets  your demands.</p>

<p>I have no experience with golf laser range finders.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10683" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10683">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10683">Load Comments</button></br>
			<div id = "commentsection-10683" class = 'collapse'>
			<div id = "comment-19272" class = "comment">
				<p>You're probably right, its just not out there. That SF11/C is definitely my best option and what ill probably settle with, but I guess I'm just surprised by the wide range of pricing in these devices, and I'm very curious how the golf ranging devices work and are so much cheaper. Perhaps it's simple supply and demand? Golf rangefinders are a definite commercial market with competition and diy rangefinders are a low volume niche market that with limited selection where manufacturers can name their price?</p>
			</div>
			<div id = "comment-19273" class = "comment">
				<p>I'll have to wait another 2-3 weeks to test out the lidar lite v3, I wonder how it would perform vs the SF11/C from lightware.  Im thinking the lidar lite should be more tolerant of varying light conditions as it's not advertised specifically as an altimeter device?</p>
			</div>
			<div id = "comment-19286" class = "comment">
				<p>I haven't done a comparison between the two, so I can't expect what will you get. Good luck with the new lidar lite 3</p>
			</div>
			</div>
				<textarea id = "speech-10683" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10683">
					<img id="start_img-10683" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10683">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>