<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Installing MORSE simulator on Ubuntu 12.04
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1918" class = "post">
			<h2>Question</h2>
			<div id="vote-1918" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 708</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Installing MORSE simulator on Ubuntu 12.04</h2>
<p>I've been having trouble installing MORSE.
I am trying to install it on Ubuntu 12.04 and on a VirtualBox with Ubuntu 13.04 (I don't need it on a VirtualBox, I'm just trying to make <em>something</em> work). 
On Ubuntu 12.04 I get the following errors at the cmake stage:</p>

<pre><code>$ cmake -DCMAKE_INSTALL_PREFIX=/home/oferb/opt/morse_build ..
-- will install python files in /home/oferb/opt/morse_build/lib/python3/dist-packages
CMake Error: The following variables are used in this project, but they are set to NOTFOUND.
Please set them or make sure they are set and tested correctly in the CMake files:
PYTHON_INCLUDE_DIR (ADVANCED)
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/src
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/src/morse
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/src/morse/builder
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/src/morse/modifiers
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/src/morse/sensors
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/src/morse/multinode
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/src/morse/middleware
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/bindings
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/testing
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/testing/base
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/testing/failures
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/testing/robots/human
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/testing/robots/segway
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/testing/robots/pr2
   used as include directory in directory /home/oferb/mnt/svr_home/opt/morse/testing/robots/pionner3dx
</code></pre>

<p>On a fresh VMBox with Ubuntu 13.04, after 'morse check' succeeds, I try "morse create mysim" and get:</p>

<pre><code>adminuser@adminuser-VirtualBox:~$ morse create mysim
usage: morse [-h] [-b BASE] [--name NAME] [-c] [--reverse-color] [-g GEOM]
         [-v]
         {check,edit,run} [scene] ...
morse: error: argument mode: invalid choice: 'create' (choose from 'check', 'edit', 'run')
</code></pre>

<p>Any suggestions?</p>

<p>UPDATE:</p>

<p>I've managed to install MORSE on Ubuntu 12.04. Make sure your Blender was compiled with the same version of python (i.e python 3.2.2) that MORSE was compiled in. I used this Blender: 
<a href="http://download.blender.org/release/Blender2.62" rel="nofollow">http://download.blender.org/release/Blender2.62</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1918" data-toggle = "popover">
				<p>user name : Ofer</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-1918">{'None': 1, 'research': 5, 'simulator': 0, 'visual-servoing': 5, 'localization': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1918">Load Comments</button></br>
			<div id = "commentsection-1918" class = 'collapse'>
			<div id = "comment-3933" class = "comment">
				<p>It seems that you've successfully installed morse, but are using incorrect command line arguments.  From the [latest documentation](http://www.openrobots.org/morse/doc/stable/user/builder.html), it looks like the command you tried should have worked.  What version of morse are you running?</p>
			</div>
			<div id = "comment-3934" class = "comment">
				<p>Ubuntu 12.04: The problem might be related to installing python3-dev or python-dev or both, in addition to specifying python3.3 specifically (if python3 directs to python3.2 by default). The cmake I'm using is: "cmake -DCMAKE_INSTALL_PREFIX=/home/oferb/opt/morse -DPYTHON_EXECUTABLE=/usr/local/bin/python3.3 ..". Now I'm stuck on the "sudo make install" part where I'm getting "Linking C shared module zbufferto3d.so
/usr/bin/ld: /usr/local/lib/libpython3.3m.a(abstract.o): relocation R_X86_64_32S against `_Py_NotImplementedStruct' can not be used when making a shared object; recompile with -fPIC"</p>
			</div>
			<div id = "comment-3935" class = "comment">
				<p>Ubuntu 13.04: "sudo apt-get install morse-simulator" gives you morse 1.0, but according to morse support, "morse
create" is something new in morse-1.1</p>
			</div>
			<div id = "comment-3938" class = "comment">
				<p>Sounds like you've answered your own question.  I'd either see if you can find the 1.0 documentation, or install morse-1.1 from source.</p>
			</div>
			<div id = "comment-3956" class = "comment">
				<p>@ofer, you can write the solution as an answer, then later accept it. That way, robotics.SE and its viewers would understand that the question is solved.</p>
			</div>
			<div id = "comment-3960" class = "comment">
				<p>And as a bonus, I believe SE gives you some points and badges for doing so.</p>
			</div>
			<div id = "comment-3966" class = "comment">
				<p>Done! Thanks guys :)</p>
			</div>
			</div>
				<textarea id = "speech-1918" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1918">
					<img id="start_img-1918" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1918">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1932"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1932" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Tips for MORSE on Ubuntu 12.04</strong>:</p>

<p>If you're having trouble compiling MORSE, perhaps these can help:</p>

<ol>
<li>Install python3-dev or python-dev or both (not sure which was needed)</li>
<li>Check which version python3 directs to. If it's the wrong one, you can specify the python version explicitly in cmake. The cmake I used is: "cmake -DCMAKE_INSTALL_PREFIX=/home/oferb/opt/morse -DPYTHON_EXECUTABLE=/usr/local/bin/python3.3 .."</li>
</ol>

<p>If you've already managed to compile MORSE, then make sure your Blender was compiled with the same version of python (i.e python 3.2.2) that MORSE was compiled in. I used this Blender: <a href="http://download.blender.org/release/Blender2.62" rel="nofollow">http://download.blender.org/release/Blender2.62</a>.</p>

<p><strong>Tips for MORSE on Ubuntu 13.04</strong>:</p>

<p>Note that "sudo apt-get install morse-simulator" gives you morse 1.0, but according to morse support, "morse create", which shows up in the tutorials, is something new in morse-1.1. You might want to search for an older tutorial, or install a more recent version of MORSE.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1932" data-toggle = "popover">
				<p>user name : Ofer</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-1932">{'None': 1, 'research': 5, 'simulator': 0, 'visual-servoing': 5, 'localization': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1932" class = 'collapse'>
			</div>
				<textarea id = "speech-1932" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1932">
					<img id="start_img-1932" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1932">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>