<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Interference between 900 MHz video transmitter and 2.4 GHz control radio
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1582" class = "post">
			<h2>Question</h2>
			<div id="vote-1582" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2009</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Interference between 900 MHz video transmitter and 2.4 GHz control radio</h2>
<p>I'm starting to attempt to fly FPV on my quadrotor. I am using a FrSky D8R-II 2.4 GHz frequency hopping diversity receiver (two antennas) for control and recently added a <a href="http://www.readymaderc.com/store/index.php?main_page=product_info&amp;cPath=11_30_31&amp;products_id=348" rel="nofollow noreferrer">no-name 910 MHz 1.5 watt analog video transmitter</a> for FPV flying:</p>

<p><img src="https://i.stack.imgur.com/UFrHc.jpg" alt="enter image description here"></p>

<p>When the video transmitter is powered up, my control range drops from about 1.5km to under 50m. I'm surprised that the 910 MHz video channel affects my 2.4 GHz control channel this way.</p>

<p>Is this sort of interference expected? Is it because my transmitter is low quality? What changes are recommended&nbsp;  should I switch to a UHF control radio? Or a different frequency (eg 5.8 GHz?) for the video radio? Or just try moving it a few more inches (they are already about 5in apart)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1582" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1582">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1582">Load Comments</button></br>
			<div id = "commentsection-1582" class = 'collapse'>
			<div id = "comment-3307" class = "comment">
				<p>Are you sure both transmitters are getting enough power?</p>
			</div>
			<div id = "comment-3308" class = "comment">
				<p>I think the real question you're asking is "how do I debug a difference in control range that happens when I use this other transmitter simultaneously?"  If that's the case, would you edit your question?  If not, what is your proof that RF interference causes this problem?</p>
			</div>
			<div id = "comment-3309" class = "comment">
				<p>@DaemonMaker: quite sure. They are running off of separate batteries.</p>
			</div>
			<div id = "comment-3310" class = "comment">
				<p>@Ian, the FrSky system makes it pretty easy to evaluate changes in effective range. It has a system of beeps that tell you when your RSSI is low and when you lose signal entirely. It also has a range test mode, but I'm not using that. I just walk away with the R/C controller and I can go a long way away when the video TX is not powered, but only tens of meters when the video TX is powered until the FrSky says signal weak and then lost.</p>
			</div>
			<div id = "comment-3312" class = "comment">
				<p>It looks like [you're not the only one to experience this problem](http://www.digi.com/support/forum/5741/xbee-pro-24-802-15-4-interference-with-910-mhz-video).</p>
			</div>
			</div>
				<textarea id = "speech-1582" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1582">
					<img id="start_img-1582" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1582">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1588"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1588" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's a lot of things that this could be.</p>

<p>The transmitter could be faulty, and transmitting considerable power close enough to 2.4GHz to be directly interfering with the receiver.  Yes, the receiver is spread-spectrum, but interference to such a receiver will generally raise its noise floor, which will reduce its range.</p>

<p>The receiver could be faulty; it's front end could be getting swamped by the 910MHz.  This would reduce the effective gain of the receiver front end, which would also result in low range.</p>

<p>There's even a slight chance that the problem is neither one, but some other bit of electronics: the 910MHz signal could be getting rectified by some component in a servo or other bit of electronics.  This would generate signal at 1.82GHz, 2.73GHz and more -- that 2.73GHz signal, if it's strong enough, could cause issues with your 2.4GHz receiver.</p>

<p>A rough test of which is which would be to unhook one or the other from the quadcopter, then increase the separation between them while you see how the signal strength, or range, looks on the 2.4GHz receiver.  If the range of the 2.4GHz receiver rises rapidly with separation, or shows some threshold effect where it is low, low, low, HIGH, then there's a good chance that the problem is that the 2.4GHz receiver is allowing itself to be stomped on by the out-of-band energy from the transmitter.  If the range of the 2.4GHz receiver rises gradually and smoothly as you back away from the video transmitter, then the problem could be in either radio but is most likely in the transmitter.</p>

<p>In an ideal world both the receiver and the video transmitters would be inside of metal boxes, with bandpass filters right at the point of entry or exit for the RF signal that only let the correct frequencies through.  Those metal boxes would weigh nothing, of course.</p>

<p>Alas, this is the real world.  I'm not sure if it'd be worthwhile to try the metal box idea -- the required filters are hard to debug without a spectrum analyzer; you can put one together and see if it works, but if it doesn't you still won't know for sure if a filter isn't the answer, or if that particular filter didn't do the job for you.</p>

<p>The (US) Amateur Radio Relay League has a book called the "Radio Interference Handbook".  The book is aimed at amateur radio operators who are having problems with their neighbors -- but much of what it'll have to say should be pertinent to your case.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1588" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1588">{'None': 107}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1588" class = 'collapse'>
			</div>
				<textarea id = "speech-1588" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1588">
					<img id="start_img-1588" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1588">Comment</button>
			<br><div id = "ans-1592"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1592" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I hesitated to provide this answer, because I can't find directly relevant articles to back it up.  </p>

<p>It's possible that the video transmitter (even though it's on a separate frequency) is saturating the receiver for the controls.  If this is the case, you'll have to find some way to reduce this.  There are a few possibilites:</p>

<ol>
<li>Increase the distance between the antennas.  On a quadrotor, this can only be taken so far.</li>
<li>Change the distance between the antennas to a 1/2 or 1/4 wavelength of the interfering signal.</li>
<li>Change the orientation of the antennas to interfere less &mdash; use a 90&deg; offset.</li>
</ol>

<p>In any of these cases, you'll be better off if you can directly measure the interference signal instead of relying on the audible beeps to gauge the signal level.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1592" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1592">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1592">Load Comments</button></br>
			<div id = "commentsection-1592" class = 'collapse'>
			<div id = "comment-3319" class = "comment">
				<p>What about adding a signal booster to my 2.4ghz control transmitter? Is that likely to help?</p>
			</div>
			<div id = "comment-3321" class = "comment">
				<p>If the problem is the one I'm describing, it's that your receiver is already picking up too much power -- so boosting your control transmitter probably wouldn't help.</p>
			</div>
			</div>
				<textarea id = "speech-1592" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1592">
					<img id="start_img-1592" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1592">Comment</button>
			<br><div id = "ans-2369"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2369" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can say positively that 900Mhz china video transmitters can affect 2.4Ghz frequency range. I experienced this first hand and confirmed interference on my spectrum analyzer, it can cause harmonics on the 2.4Ghz but when the tx and rx are close it appears to have an affect on the noise floor too, using those low pass filter don't seem to help close range either.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2369" data-toggle = "popover">
				<p>user name : andrew</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-2369">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2369">Load Comments</button></br>
			<div id = "commentsection-2369" class = 'collapse'>
			<div id = "comment-4637" class = "comment">
				<p>Thanks... I was considering a low pass filter. Useful to know that's not likely to work.</p>
			</div>
			<div id = "comment-4726" class = "comment">
				<p>My first thought was harmonic interference from a noisy device.</p>
			</div>
			</div>
				<textarea id = "speech-2369" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2369">
					<img id="start_img-2369" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2369">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>