<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Interfacing high-resolution image sensors with ARM Board
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5310" class = "post">
			<h2>Question</h2>
			<div id="vote-5310" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 572</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Interfacing high-resolution image sensors with ARM Board</h2>
<p>I'm working on a project requiring HD (Stereo) Video Processing. Most of High Resolution (5MP+) Sensors use MIPI-CSI interface. </p>

<p>I managed to get a board with an Exynos5 SoC. The SoC Itself has 2 MIPI-CSI2 interfaces, the problem is that the pins to those interfaces are not exposed and It's (almost) impossible to reach them. So I decided to use the USB3.0 Buses.</p>

<p>The problem is when I get to Significant bandwidth (~5.36 Gibibits/s per sensor), I don't think USB3.0 will work out. <code>Bandwidth = Colordepth*ColorChannels*PixelCount*FPS</code> but this could be solved with a Compressed stream (via a coprocessor)</p>

<p>I was thinking that Cypress' CYUSB306X chip was a good candidate for the job, but one of the problems is that I can't do BGA Soldering by hand nor have been able to find a BGA Soldering Service in Switzerland.</p>

<p>Any Ideas on other interfaces I could implement or other coprocessors with MIPI-CSI2 Interface?</p>

<p>Just a final remark, space and weight are important as this is supposed to be mounted on a drone.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5310" data-toggle = "popover">
				<p>user name : Roosembert Palacios</p>
				<p> user reputation : 83</p>
				<p class = "tagcontent" id = "usertaginfo-5310">{'stereo-vision': 4, 'None': 6, 'cameras': 4, 'usb': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5310">Load Comments</button></br>
			<div id = "commentsection-5310" class = 'collapse'>
			<div id = "comment-9102" class = "comment">
				<p>What about Raspberry Pi?</p>
			</div>
			<div id = "comment-9114" class = "comment">
				<p>Is the one soc responsible for both cameras or just one? Could you use multiple usb3 ports?</p>
			</div>
			<div id = "comment-9115" class = "comment">
				<p>Also, How do you plan on processing that much data? Most desktops couldn't do it in anywhere near real time (assuming you could get them the data). You would have to use multiple 10 gigabit ethernet ports and a x16 pci slot. There is no way a smartphone processor could deal with it (that's more bits per second than it's clock speed). Doing data processing remotely wouldn't work very well either because wireless standards can't even handle an order of magnitude less data. You would have to run a cable off of it defeating the point...</p>
			</div>
			<div id = "comment-9116" class = "comment">
				<p>@kozuch Raspberry pi is not powerful enough</p>
			</div>
			<div id = "comment-9118" class = "comment">
				<p>@daweim I was thinking also on using the 2 usb3 ports but I still need compression. For processing I'm using 4 eagle cores and gpu as an opencl device. I already managed to process two streams but from videos only.</p>
			</div>
			<div id = "comment-9134" class = "comment">
				<p>@Roosemberth Palacios Actually, I take back my last comment (I also deleted it). Are you using a gpu designed for cell phones?</p>
			</div>
			<div id = "comment-9135" class = "comment">
				<p>@daweim0: Yes, there's an exynos 5422 onboard</p>
			</div>
			<div id = "comment-9138" class = "comment">
				<p>@Roosemberth Palacios an ODROID-XU3 by chance?</p>
			</div>
			<div id = "comment-9140" class = "comment">
				<p>@daweim0 yes, a xu3</p>
			</div>
			<div id = "comment-9238" class = "comment">
				<p>I know it's been a while, but why not decrease the frame rate by 10%? 5.36 gbps is just slightly higher than usb3's maximum data rate (5 gbps).</p>
			</div>
			<div id = "comment-21516" class = "comment">
				<p>I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works, and the [*Robotics* question checklist](https://robotics.meta.stackexchange.com/q/1302/37) for details of how to write a good question.</p>
			</div>
			</div>
				<textarea id = "speech-5310" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5310">
					<img id="start_img-5310" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5310">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6505"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6505" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would like to suggest you to use Beaglebone Black , it is smaller than size compared to Raspberry pie. It is just the size of a credit card. And has a faster processor of 1 GHz and has an inbuilt 3D graphics Accelerator. There is already a Cape Board for BBB that supports HD Video sensors. </p>

<p><strong>Update :</strong></p>

<p>And if you want to use OpenCL then I would suggest you to take a look at PowerVR SGX540 GPU boards such as <a href="http://shop.imgtec.com/uk/product/mips-creator-ci20/" rel="nofollow">MIPS  Creator CI20</a> and <a href="http://pandaboard.org/content/pandaboard-es" rel="nofollow">Pandaboard ES</a> which support OpenCL but again for the size would be larger than BBB.</p>

<p>Other Possible Boards:</p>

<ol>
<li>Arndale Octa Board</li>
<li>ODROID-XU3</li>
<li>Samsung Chromebook</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6505" data-toggle = "popover">
				<p>user name : Anto Dominic</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-6505">{'None': 11}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6505">Load Comments</button></br>
			<div id = "commentsection-6505" class = 'collapse'>
			<div id = "comment-9367" class = "comment">
				<p>XU3's Octacore A15/A7 Cluster Outcomes Beagleboard Black's A8,  and AFAIK Beagleboard Has no support for openCL neither</p>
			</div>
			<div id = "comment-9368" class = "comment">
				<p>@RoosemberthPalacios If you want to use openCL then i would suggest you to check boards that support "PowerVR SGX540 GPU " such as Pandaboard ES and MIPS creator CI20. I have updated the Answer.</p>
			</div>
			<div id = "comment-9369" class = "comment">
				<p>ODROID-XU3 Is my current platform</p>
			</div>
			<div id = "comment-9370" class = "comment">
				<p>Yeah its a powerful hardware. Best of luck for your project. :) If my answer solved your question ,please mark it as complete. :)</p>
			</div>
			</div>
				<textarea id = "speech-6505" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6505">
					<img id="start_img-6505" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6505">Comment</button>
			<br><div id = "ans-6894"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6894" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>you dont need to do the soldering for the cypress processor, there are always sdk boards like <a href="http://www.cypress.com/?rID=58321" rel="nofollow">http://www.cypress.com/?rID=58321</a></p>

<p>or really just get something like <a href="http://www.e-consystems.com/UltraHD-USB-Camera.asp" rel="nofollow">http://www.e-consystems.com/UltraHD-USB-Camera.asp</a></p>

<p>browse e-consystems site and you will find something usefull </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6894" data-toggle = "popover">
				<p>user name : user3467136</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6894">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6894" class = 'collapse'>
			</div>
				<textarea id = "speech-6894" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6894">
					<img id="start_img-6894" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6894">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>