<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Integrating GPS into Graph SLAM (how orientation fixed?)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11118" class = "post">
			<h2>Question</h2>
			<div id="vote-11118" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 353</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Integrating GPS into Graph SLAM (how orientation fixed?)</h2>
<p>I'm working on Graph SLAM to estimate robot poses (x, y, z, roll, pitch, yaw). Now I want to integrate GPS measurement (x, y, z, of course no angles).</p>

<p>I implemented GPS as pose's prior. But I have a problem.</p>

<ul>
<li>Position(x, y, z) is perfectly corrected by graph optimization</li>
<li>But orientaiton(roll, pitch, yaw) is very unpredictable(unstable) after optization.</li>
</ul>

<p>i.e. It looks like position is fitted by the sacrifice of orientation.</p>

<p>I'm very confused about what's the right way of integrating GPS into graph SLAM. GPS should be handled as prior? or landmark? or one of pose-vertices?</p>

<p>...Thanks for your help in advance.</p>

<p>PS</p>

<p>I use g2o as a graph-optimization library. In g2o, I implemented GPS measurement with EdgeSE3_Prior. GPS's quality is RTK so it's enough precise.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11118" data-toggle = "popover">
				<p>user name : Shin</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-11118">{'None': 0, 'localization': 2, 'pose': 2, 'slam': 2, 'ros': 2, 'gps': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11118" class = 'collapse'>
			</div>
				<textarea id = "speech-11118" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11118">
					<img id="start_img-11118" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11118">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11132"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11132" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Frankly speaking, I don't have any experience with implementing a SLAM algorithm. That said, GPS gives you a position and SLAM gives you a position. My advice would be to use a data fusion technique, such as a Kalman filter or maybe even the Madgwick filter, to combine the position estimates.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11132" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11132">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11132" class = 'collapse'>
			</div>
				<textarea id = "speech-11132" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11132">
					<img id="start_img-11132" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11132">Comment</button>
			<br><div id = "ans-11133"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11133" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use a very low information matrix value at the orientation elements of your state,  given that the information matrix is the inverse of the covariance matrix. </p>

<p>The covariance matrix represents the uncertainty about the measurement,  and the information matrix the certainty about it.</p>

<p>So, the GPS constraints would have a small value at the elements of the information matrix corresponding to the orientation </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11133" data-toggle = "popover">
				<p>user name : Ricardo Achilles</p>
				<p> user reputation : 63</p>
				<p class = "tagcontent" id = "usertaginfo-11133">{'odometry': 0, 'None': 3, 'computer-vision': 0, 'occupancygrid': 0, 'localization': 0, 'particle-filter': 0, 'slam': 0, 'imu': 0, 'sensor-fusion': 0, 'mobile-robot': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11133" class = 'collapse'>
			</div>
				<textarea id = "speech-11133" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11133">
					<img id="start_img-11133" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11133">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>