<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Interfacing GPU image processing with motor control at 30+Hz
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7359" class = "post">
			<h2>Question</h2>
			<div id="vote-7359" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 193</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Interfacing GPU image processing with motor control at 30+Hz</h2>
<p>I would like to make a robotic system which takes as input a video feed, runs some GPU-based image recognition on the video, and outputs commands to a set of motors. The goal is to have the motors react to the video with as little latency as possible, hopefully of the order of 10s of ms. Currently I have a GTX 770m on a laptop running Ubuntu 14.04, which is connected to the camera and doing the heavy image processing. This takes frames at 30Hz and will output motor commands at the same frequency.</p>

<p>After a few days of looking around on the web for how to design such a system, I'm still at a loose end whether (a) it is even feasible (b) if so, what the best approach is to interface the laptop with the motors? The image processing must run on Linux, so there is no leeway to change that part of things.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7359" data-toggle = "popover">
				<p>user name : LPlates</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-7359">{'control': 1, 'None': 0, 'openni': 1, 'real-time': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7359" class = 'collapse'>
			</div>
				<textarea id = "speech-7359" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7359">
					<img id="start_img-7359" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7359">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7360"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7360" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So I mainly use a ZED camera with a Nvidia K1, using the provided plugins for OpenCV GPU compute and I get a processing time of around 16-20ms for low res images (e.g. 640x480, or 1024x768) and use this to control a flight controller, using a uart interface, I assume your motors take pwm input, as for controlling the motors I would suggest somthing like the <a href="https://www.pololu.com/product/1350" rel="nofollow">polou maestro</a> to control them. Can you give more information on your application? why do you have these image processing requirements?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7360" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7360">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7360">Load Comments</button></br>
			<div id = "commentsection-7360" class = 'collapse'>
			<div id = "comment-10505" class = "comment">
				<p>Thanks very much! The application is to try to control a ping pong paddle to keep a ball bouncing. I was planning to use some deep learning for image processing (hence the GPU), to see whether I can get better results than hand-engineering a ball tracker etc. It's more of an academic exercise :) Could I ask do you think a uart is necessary in my application? It seems like I can directly control the polou maestro (and therefore motors) from the laptop via USB?</p>
			</div>
			<div id = "comment-10506" class = "comment">
				<p>Yep you can control directly via usb, should have the reaction speed your looking for, I have used them for quadrocopters which are very latency sensitive without issue</p>
			</div>
			<div id = "comment-10507" class = "comment">
				<p>Sounds great - will give it a go. Thanks again.</p>
			</div>
			</div>
				<textarea id = "speech-7360" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7360">
					<img id="start_img-7360" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7360">Comment</button>
			<br><div id = "ans-7380"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7380" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Did you have a look into <strong>Orocos</strong> <a href="http://www.orocos.org/" rel="nofollow">http://www.orocos.org/</a> ? 
Compared with ROS it has the huge advantage of real time capability.
That would be my choice to implement complicated real time controllers.</p>

<p>In my work (<a href="http://www.gpu-voxels.org" rel="nofollow">http://www.gpu-voxels.org</a>) I am also using a GPU for 3D collision avoidance calculations on our robots, but I am using our own <strong>MCA2</strong> <a href="http://www.mca2.org" rel="nofollow">http://www.mca2.org</a> framework for the real time stuff. Our actuators are all controlled via CANOpen interfaces.</p>

<p>30 Hz should be no problem at all! We run some motor controllers with 100 Hz and more. Andy my GPU (NVidia TITAN) processes 3D pointclouds of multiple Kinect cameras at 30Hz.
So 2D image processing should be possible, even on a Laptop GPU.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7380" data-toggle = "popover">
				<p>user name : Squelsh</p>
				<p> user reputation : 94</p>
				<p class = "tagcontent" id = "usertaginfo-7380">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7380" class = 'collapse'>
			</div>
				<textarea id = "speech-7380" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7380">
					<img id="start_img-7380" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7380">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>