<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Introducing new particles in particle filters for localization
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10679" class = "post">
			<h2>Question</h2>
			<div id="vote-10679" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Introducing new particles in particle filters for localization</h2>
<p>Standard particle filters can produce bad localization result if the initial particle generation step produces no particle that is close to location (and bearing) of tracked object. The accuracy depends on large number of particles to create at least one particle that's very close to state of tracking object.</p>

<p>Could we introduce in resampling stage a small number of completely random new particles? For example, 99% of particles are randomly selected with weighted probability, while 1% are new particles with random state.</p>

<p>My reasoning is that new particles that are bad guesses would quickly disappear, while good guesses would improve accuracy beyond what was possible with fixed particle pool. Does this improvement to particle filters make sense?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10679" data-toggle = "popover">
				<p>user name : Josip</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-10679">{'None': 0, 'particle-filter': 2, 'localization': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10679">Load Comments</button></br>
			<div id = "commentsection-10679" class = 'collapse'>
			<div id = "comment-19225" class = "comment">
				<p>I think introducing a few random particles is a known practice already to stop the algorithm from getting stuck in a wrong "local minimum". One of the random particles might be close to the right value and thus act as a seed for additional particles in that area. This way the estimated state can "jump" back out of a wrong estimate. I have no experience with this and am lacking the proper terminology (and might be totally wrong) so I leave this as a comment. Maybe we are even describing the same thing.</p>
			</div>
			<div id = "comment-19234" class = "comment">
				<p>Thanks for your insight.  Do you know, if random particles are NOT being introduced, what is the point of resampling and keeping track of 1000s of particles if only 2 or 3 unique particles survive after number of resampling steps?  Is some kind of jitter introduced on each particle so they diverge even if they originated from same particle which was sampled more than once?</p>
			</div>
			<div id = "comment-19413" class = "comment">
				<p>You are modelling gaussian distribution by sampling. You are using mean of those particles to determine the center of the distribution. If you have only 2 particles, the mean will move quite a lot. Also, you are using variance as termination criteria. Having only 2-3 particles prevents clustering.</p>
			</div>
			</div>
				<textarea id = "speech-10679" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10679">
					<img id="start_img-10679" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10679">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>