<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Inverse Kinematics based motion planning for redundant manipulators
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14026" class = "post">
			<h2>Question</h2>
			<div id="vote-14026" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Inverse Kinematics based motion planning for redundant manipulators</h2>
<p>How is it that the inverse kinematics based motion planning computed using the Pseudo inverse of the Jacobian does not work for certain configurations? The experimental platform that is being used is the Baxter Robot.<br>
The algorithm uses the equation $ \dot\theta = B\dot\gamma$ where $B = ({J^s})^T({J^s{(J^s)}^T})^{-1}J_2 $.</p>

<p>The path starts from an initial position to a desired position. The simplest assumption for this path is a line segment connecting the  two points in the Euclidean space. This line segment is divided into N smaller line segments for numerical integration. At any integration step, the joint rates required to move the end effector along this line are calculated. Essentially, the algorithm keeps on computing these joint rates unless it is sufficiently close to the goal configuration, where it converges in the end. Thus, we obtain the whole trajectory. </p>

<p>So, it happens that for some particular goal configurations (which are not singular configurations) the algorithm does not converge to a particular solution. That is, it fails to compute the joint angles till the goal configuration (considering the fact that it does not hit the joint limits). Why is that ?      </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14026" data-toggle = "popover">
				<p>user name : Riddhiman Laha</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-14026">{'None': 0, 'motion-planning': 0, 'inverse-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14026">Load Comments</button></br>
			<div id = "commentsection-14026" class = 'collapse'>
			<div id = "comment-22897" class = "comment">
				<p>Welcome to *Robotics* RiddhimanLaha, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to include details of what you want to achieve, what you tried, what you saw & what you expected to see. Please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](https://robotics.meta.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			<div id = "comment-22898" class = "comment">
				<p>Specifically, what do you mean when you say that it "does not work" for "certain configurations?" What is "does not work" - do you mean the results don't make sense, or you get an Inf/NaN result (like divide by zero), or do you mean you get an answer that doesn't work? What configurations does this happen for? Is it repeatable? Do you have test data, code snippets, etc. that you could provide? As it stands, the question reads like, "Why isn't my ___ working?" and it's not possible to answer without some supporting information.</p>
			</div>
			<div id = "comment-22899" class = "comment">
				<p>Please *edit your question* to provide relevant supporting information.</p>
			</div>
			</div>
				<textarea id = "speech-14026" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14026">
					<img id="start_img-14026" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14026">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14033"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14033" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The pseudoinverse is a great method for solving inverse kinematics for redundant robots, in that it can be used to minimize the norm of $\dot{\theta}$.  However, it is not well-behaved near a singular configuration.  From <a href="https://www.math.ucsd.edu/~sbuss/ResearchWeb/ikmethods/iksurvey.pdf" rel="nofollow noreferrer"><em>Introduction to Inverse Kinematics with Jacobian Transpose, Pseudoinverse and Damped Least Squares methods</em> (Buss 2009)</a>:</p>

<p><Blockquote></p>

<p>If the configuration is exactly at a singularity, then the pseudoinverse method will not attempt to move in an impossible direction, and the pseudoinverse will be well-behaved. However, if the configuration is close to a singularity, then the pseudoinverse method will lead to very large changes in joint angles, even for small movements in the target position. In practice, roundoff errors mean that true singularities are rarely reached and instead singularity have to be detected by checking values for being near-zero.
</Blockquote></p>

<p>In your edit you mention that the algorithm will sometimes not converge to a solution.   There is no <em>converging.</em>. This algorithm is deterministic.  The only ways I can think of for your equation to not come up with a joint rate vector is if the Jacobian is rank-deficient, or the pose is unreachable.  In software, being close to rank deficiency may also cause values to be uncomputable.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14033" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-14033">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14033">Load Comments</button></br>
			<div id = "commentsection-14033" class = 'collapse'>
			<div id = "comment-22909" class = "comment">
				<p>Yes, I used the word converging in the sense that the end effector reaches a point sufficiently close (of the order of 1e-4) to the goal configuration. The equation always comes up with a joint rate vector, but the problem is it does not reach the goal configuration after a number of iterations. So, a distance metric has been defined, which gets reduced after each iteration. But, in some cases the distance does not reduce to the order of 1e-4 meter.</p>
			</div>
			<div id = "comment-22910" class = "comment">
				<p>Oh, I see.  The issue isn't the algorithm necessarily.  One-tenth of a millimeter accuracy is the issue.   What is the resolution of the encoders, and what are the link lengths?   You may be experiencing a limitation of the hardware.  I am not familiar with those robots so I'm not certain...</p>
			</div>
			</div>
				<textarea id = "speech-14033" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14033">
					<img id="start_img-14033" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14033">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>