<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Inverse Kinematics of DLR~HIT II Hand
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8907" class = "post">
			<h2>Question</h2>
			<div id="vote-8907" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Inverse Kinematics of DLR~HIT II Hand</h2>
<p>I am trying to find the inverse kinematics formulation of DLR/HIT II hand. Till now I had success in finding an analytical method described in the thesis of Mavrogiannis, Christoforos I. named <a href="http://dspace.lib.ntua.gr/handle/123456789/7858" rel="nofollow">Grasp Synthesis Algorithms for Multifingered Robot Hands</a>, given in appendix B. 
My question is regarding the A.28 where the author calculates q3 but has mentioned previously in the text that q3 is equal to q2. </p>

<p>Note: q here denotes joint angles</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8907" data-toggle = "popover">
				<p>user name : Utkarsh51</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-8907">{'None': 0, 'inverse-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8907">Load Comments</button></br>
			<div id = "commentsection-8907" class = 'collapse'>
			<div id = "comment-14679" class = "comment">
				<p>I cannot read that reference, but setting the two distal joints of the finger to equal angles is one of the typical ways to emulate basic human finger motion.  It does not always hold true (we can use that joint redundancy to our advantage - just watch a guitar player!), but often does.   See, for example, this paper:  http://cdn.intechopen.com/pdfs-wm/46559.pdf</p>
			</div>
			<div id = "comment-14684" class = "comment">
				<p>Thanks for your comment SteveO. In the text, it is given that each of the 5 finger has 4 joints[ q0,q1,q2,q3 ] and 3 degrees of freedom. q0 associated with abduction-adduction, q1 and q2 for flexion and q3 being equal to q2. My question was regarding the IK formulation where the author has calculated q1, q2 and q3 leaving q0, which is the source of my confusion.</p>
			</div>
			<div id = "comment-14707" class = "comment">
				<p>You're welcome.  It has been over twenty years since I solved some stable grasp problems with the redundant hand, so there may be better approaches now.  I had to throw the equations into a Simplex algorithm to give the least-squares optimized solution to the redundancy.   Not sure if that helps or not.</p>
			</div>
			<div id = "comment-17421" class = "comment">
				<p>i am trying to solve the same problem. Hope you have been successful in finding the inverse kinematics. I have a question which i hope you can clarify. In the thesis document, what are the variable l1,l2 used in (A.5) for finding the inverse kinematics in appendix B. It has not been stated anywhere. Thank you in advance.</p>
			</div>
			<div id = "comment-17430" class = "comment">
				<p>l1 and l2 are link lengths. Their values are l1= 55mm and l2= 25 mm. Hope this helps.</p>
			</div>
			</div>
				<textarea id = "speech-8907" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8907">
					<img id="start_img-8907" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8907">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8925"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8925" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like maybe the author ditched the zero-based numbering, but I agree that it is hard to tell. </p>

<p>Why not try to contact the author directly? His <a href="https://www.linkedin.com/in/mavrogiannis" rel="nofollow">LinkedIn page</a> shows he's currently a graduate research assistant at Cornell. I've contacted authors in the past and everyone I've gotten in touch with seemed pleased that I did so. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8925" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8925">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8925">Load Comments</button></br>
			<div id = "commentsection-8925" class = 'collapse'>
			<div id = "comment-14710" class = "comment">
				<p>Thanks for the suggestion @Chuck, I would contact the author.</p>
			</div>
			<div id = "comment-14782" class = "comment">
				<p>I contacted the author and this was his reply "In the derivation of the inverse kinematics, I have probably made a mistake in my notation after equation A.4. So, in my calculations q_1 is actually DLR's q_0, q_2 is q_1, q_3 (coupled with q_4) is q_2. "</p>
			</div>
			<div id = "comment-14785" class = "comment">
				<p>@Utkarsh51 - Excellent! Glad you were able to get in touch, and the problem was what it seemed; just a numbering mistake.</p>
			</div>
			</div>
				<textarea id = "speech-8925" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8925">
					<img id="start_img-8925" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8925">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>