<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Inverse Kinematics of Parallel Manipulator (Delta Robot)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3144" class = "post">
			<h2>Question</h2>
			<div id="vote-3144" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2504</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Inverse Kinematics of Parallel Manipulator (Delta Robot)</h2>
<p>Let me start off by saying that I am currently going to university majoring in computer engineering.  I love software/hardware and I especially love robotics and I want to apply my knowledge of software/hardware in robots.  I have never taken a formal class on robotics, so I don't really know where to start or how to approach the mathematics that robots entail.  </p>

<p>Currently, I am interested in calculating the inverse kinematics of a delta robot. To clarify a bit more, I am trying to determine the required joint angles that will position the end-effector of the delta robot to a specific location given some x,y,z coordinate.  The delta robot that I will be basing my design off of is shown in the image below.</p>

<p><img src="https://i.stack.imgur.com/mr8hD.jpg" alt="enter image description here"></p>

<p>Based off of some research that I have been doing for the past few days, I found that the sort of mathematics involved are usually like those of Denavit-Hartenberg parameters, Jacobian matrices, etc.  I am going to be honest, I have never encountered Denavit-Hartenberg parameters or Jacobian matrices and I don't even know how to apply these to solve the kinematics equations and let alone find the kinematics equations.  Most of the articles that I have read, mainly deal with serial manipulator robots and the mathematics in finding the kinematics equations of those serial manipulators.  I couldn't really find any good material or material that was easy to understand given my current situation on parallel manipulators.  </p>

<p>I wanted to ask my question here in the hopes that someone in the community could direct me to where I can start on learning more on obtaining the inverse kinematics equations of parallel manipulators and solving those equations.</p>

<p>Any help will be much appreciated.</p>

<p>Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3144" data-toggle = "popover">
				<p>user name : jrcatbagan</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-3144">{'None': 6, 'kinematics': 2, 'inverse-kinematics': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3144" class = 'collapse'>
			</div>
				<textarea id = "speech-3144" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3144">
					<img id="start_img-3144" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3144">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4753"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4753" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Introductory robotics books should cover this, for example: Introduction to Robotics: Mechanics and Control by J. Craig.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4753" data-toggle = "popover">
				<p>user name : Armin Meisterhirn</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-4753">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4753" class = 'collapse'>
			</div>
				<textarea id = "speech-4753" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4753">
					<img id="start_img-4753" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4753">Comment</button>
			<br><div id = "ans-4757"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4757" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For these sorts of problems, I always like to attempt to solve them myself. And they're surprisingly simple when you think about them geometrically. Parallel mechanisms are especially easy because each part of the mechanism can be considered separately, and each part is very simple.</p>

<p>The base part (at the top of the image) contains three servo motors. Think about one motor. When the end effector (blue triangle) is in some position, what angle does the motor need to be?</p>

<p><img src="https://i.stack.imgur.com/TCNYQ.png" alt="Parallel Mechanism"></p>

<p>Imagine a sphere centered on one corner of the end effector triangle. The radius of the sphere is the length of the arm attached to that corner. Now imagine the servo arm swinging, tracing out a circle. Where does this circle intersect the sphere?</p>

<p>This is a pretty simple problem to solve. Think of the servo arm sweeping out a plane. That plane intersects the sphere:</p>

<p><img src="https://i.stack.imgur.com/E1h9z.png" alt="Parallel Mechanism"></p>

<p>... <a href="https://en.wikipedia.org/wiki/Circle_of_a_sphere" rel="nofollow noreferrer">creating a circle</a>. Now the problem is just the intersection of two circles. Find the two intersection points, and choose the one that makes most sense (the one that  puts the servo arm into its possible angle range.</p>

<p>Added: For an intuitive explanation of inverse kinematics for serial manipulators, that avoids horrible Denavit-Hartenberg parameters, try my old <a href="http://freespace.virgin.net/hugo.elias/models/m_ik2.htm" rel="nofollow noreferrer">Inverse Kinematics Article</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4757" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4757">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4757">Load Comments</button></br>
			<div id = "commentsection-4757" class = 'collapse'>
			<div id = "comment-7443" class = "comment">
				<p>FYI, I took a look in the [Springer Handbook of Robotics](http://link.springer.com/referencework/10.1007%2F978-3-540-30301-5), and there isn't much regarding Delta robots.  But there is a short section on the [Gough Platform](http://en.wikipedia.org/wiki/Stewart_platform) (aka Stewart Platform), which is similar but has more DOFs.  It does mention that the inverse kinematics problem for this type of robot is straightforward, and it looks like it can be computed with a little bit of vector math and possibly a little trig.  Counter-intuitively, the forward kinematics is much more complex.</p>
			</div>
			<div id = "comment-7446" class = "comment">
				<p>@Ben - Yes, that's right. Serial and parallel robots are opposites in that respect. Serial is easy forward and harder inverse. Parallel is easy inverse, but harder forward.</p>
			</div>
			<div id = "comment-19846" class = "comment">
				<p>best explanation i ever saw of the IK problem, thanks a bunch!</p>
			</div>
			</div>
				<textarea id = "speech-4757" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4757">
					<img id="start_img-4757" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4757">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>