<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Inverse kinematics Calculation for 3dof robotic arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11551" class = "post">
			<h2>Question</h2>
			<div id="vote-11551" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 944</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Inverse kinematics Calculation for 3dof robotic arm</h2>
<p><a href="https://i.stack.imgur.com/TZ58w.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/TZ58w.png" alt="enter image description here"></a>I am doing a project, to draw images provided using robotic arm. Initially edge detection is done on image to be drawn and coordinate value is obtained as (x,y).
How to calculate 3 joint angles inverse kinematics from this value.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11551" data-toggle = "popover">
				<p>user name : Question</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11551">{'None': 0, 'inverse-kinematics': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11551">Load Comments</button></br>
			<div id = "commentsection-11551" class = 'collapse'>
			<div id = "comment-20713" class = "comment">
				<p>This needs a little bit more detail: What's the configuration of your arm? Is it a planar 3-link manipulator, or is it a little more complicated? If it's a planar arm, simple 2D geometry can give you the required joint angles. If not, you might have to construct DH parameters before you figure out the IK: but you might be able to find a closed form solution.</p>
			</div>
			<div id = "comment-20715" class = "comment">
				<p>The best IK-Solver is RRT which is sampling-based. From current situation a graph is constructed for exploring the problemspace. The steps to the goal are determined by a queryrequest to the graph. [(1)](http://www.cs.rice.edu/CS/Robotics/papers/yakey2001rand-linkages-closed-kinema-chain.pdf)</p>
			</div>
			<div id = "comment-20716" class = "comment">
				<p>It is  3dof robotic arm ....Can I obtain joint angles by knowing (x,y)coordinates alone</p>
			</div>
			<div id = "comment-20718" class = "comment">
				<p>There are many different 3dof robotic arms.  The answer will depend on which type of arm you are using.  For example, if all three joint axes are parallel, you need some inverse kinematic optimization like @ManuelRodriguez mentions.   If they are not all parallel, you will most likely be able to obtain the joint angles directly from the coodinates.   We need more information about the arm's structure.</p>
			</div>
			<div id = "comment-20746" class = "comment">
				<p>Without a schematic of the structure, i do not think that it is possible to answer your question</p>
			</div>
			<div id = "comment-20754" class = "comment">
				<p>I just have three link lengtha and (X,Y) coordinate representing the position of end effector. I need help to find three angles for non parallel manipulator..@50k4 @SteveO</p>
			</div>
			<div id = "comment-20755" class = "comment">
				<p>Please provide a sketch of your robot.   A good example of a sketch is found in Step 1 of this tutorial:   http://blog.robotiq.com/how-to-calculate-a-robots-forward-kinematics-in-5-easy-steps</p>
			</div>
			<div id = "comment-20756" class = "comment">
				<p>"The robotic arm has all three joint axes are not parallel" from the figure it seems taht they are parallel. Please note that the exact joint configuration is the key to calculating the joint angles.</p>
			</div>
			<div id = "comment-20761" class = "comment">
				<p>Sorry It was mistake,,,.... Its a parallel manipulator.....</p>
			</div>
			</div>
				<textarea id = "speech-11551" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11551">
					<img id="start_img-11551" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11551">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11595"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11595" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The manipulator in the figure seems like an planar manipulator with 3 degrees of freedom (DoF). However, from the description it seems that you only have 2 coordinates as reference coordinates. As the 3 DoF of the manipulator suggests, you would need 3. </p>

<p>The simplets is just to set the third one to zero, and solve the IK for (x, y, 0). You can come up with better approaches. If you want to draw something you might have a felt tipped pen where the orientation does not matter or if you have a pen, it might matter. In this case you can derive a way to make sure that the orientation matches the heading direction (you can take the next (x,y) sample to calculate the orientation)</p>

<p>You can find a detailed example of how to calculate joint angles for a RRR planar manipulator <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.65.5698&amp;rep=rep1&amp;type=pdf" rel="nofollow noreferrer">here</a> or <a href="http://www-cvr.ai.uiuc.edu/~lab/ece470/docs/planar_rrr.pdf" rel="nofollow noreferrer">here</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11595" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11595">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11595" class = 'collapse'>
			</div>
				<textarea id = "speech-11595" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11595">
					<img id="start_img-11595" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11595">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>