<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Inverse kinematics for a robot lamp
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11669" class = "post">
			<h2>Question</h2>
			<div id="vote-11669" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Inverse kinematics for a robot lamp</h2>
<p>I've been working on a robot lamp.
Looking something like this:</p>

<p><a href="https://i.stack.imgur.com/qA1XJ.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/qA1XJ.png" alt="looking something like this"></a>
<br></p>

<p>So i had a few questions. I've decided to simplify the movements by giving the head a fixed orientation like you see in the picture. The lamp can move around it's own center, but those movements are directly relatable to the X Y Z position of the end effector. </p>

<p>If I have understood all I've read correctly, I'll be able to calculate the other angles, which are now all in the same 2d plane, just by using some geometry right? I've worked out these formula's already (haven't tested anything yet). </p>

<p>If i do want the head to also move around the same plane, the calculations would get A LOT harder and more complicated and there would be a lot of possible solutions, is that right? Or is there an easy step to get to this point when i already did it with the fixed orientation? And even if it would be manageable, would it be a good addition? Because I want the lamp to look at you, and the generated angles could make it look in a weird direction.</p>

<p>Is writing an algorithm the way to go, or would i be better of just hardcoding movements? What would be your tips if you were to make something like this, regarding movement?</p>

<p>Thank for reading and i hope someone can tell me if i'm on the right track here, thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11669" data-toggle = "popover">
				<p>user name : j_v_h</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11669">{'None': 0, 'kinematics': 1, 'inverse-kinematics': 1, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11669">Load Comments</button></br>
			<div id = "commentsection-11669" class = 'collapse'>
			<div id = "comment-20888" class = "comment">
				<p>Look at "Joint-aware Manipulation of Deformable Models" [here](http://www.cs.ubc.ca/~van/papers/index.html) Its Michiel van de Panne's Website who have done lots of usefull staff, especially physcis based animation controller with finite state-machines is his interest.</p>
			</div>
			</div>
				<textarea id = "speech-11669" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11669">
					<img id="start_img-11669" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11669">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>