<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>iOS 9 beta: Why are some promised features not in the beta? And: Time to update NDA!
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2568" class = "post">
			<h2>Question</h2>
			<div id="vote-2568" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>iOS 9 beta: Why are some promised features not in the beta? And: Time to update NDA!</h2>
<p>I know, I know... This probably looks like another idiot complaining that the <em>beta</em> of all things is buggy. I know right? <em>ZOMG WHATS THE POINT OF A BUGGY BETA??!?!?</em> </p>

<p>(   </p>

<p>(   </p>

<p>(   </p>

<p>But, I think this is a worthy question. And besides, I am pretty convinced it's not a bug. No, I am positive. I use an iPod Touch fifth generation, and am painfully aware of how ancient the processor is. I downloaded the iOS 9 public beta the other day, because after all, I had nothing to lose if the iPod 6 is coming tomorrow And it has gone surprisingly well! But I noticed that some of the features they advertise for iOS 9 are not there. Like the Smart Search thingy when you swipe right on the first page of the home screen. And also, I don't know if this is supposed to be a iPhone 6 only feature, but I am missing the Low Power Mode switch in settings. </p>

<p>I don't know if these features are supposed to be released later in a future beta release, if it's a problem with my A5 processor, or if I missed the memo on some information that would be fun to have at the moment. But I've held of from providing Apple with feedback yet, because I am pretty sure it's my fault somewhere or another... Anyway, if you are having a similar experience or have some blindingly obvious information that I overlooked, let me know. Thanks!</p>

<hr>

<p><strong>Ok, hold the iPhone!</strong></p>

<p>Now, I understand why(maybe) my question has received down votes. Because I am discussing software that "hasn't been released to the public". However, I disagree. It is, in fact, and say it with me: a <em>public</em> beta. The key word there is <em>public</em>. In case you didn't notice the italic font I used there. Now,  technically, and this article proves it: <a href="https://apple.meta.stackexchange.com/questions/1712/are-ios-9-and-os-x-el-capitan-questions-ok?cb=1">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a></p>

<p>Look at the excepted answer. What happens next will shock and amaze you. </p>

<blockquote>
  <p>We do have precedent for allowing questions on software that is released in a beta status so if/when these OS versions get a wider release (perhaps as part of the OS X Beta seed program), we may have to revisit whether to
  have the policy relaxed with respect to software that is pre-release.</p>
</blockquote>

<p>That when, Ladies and gentlemen, is NOW. Like it or not.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2568" data-toggle = "popover">
				<p>user name : General Nuisance</p>
				<p> user reputation : 163</p>
				<p class = "tagcontent" id = "usertaginfo-2568">{'None': 0, 'ios': 3, 'discussion': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2568">Load Comments</button></br>
			<div id = "commentsection-2568" class = 'collapse'>
			<div id = "comment-5801" class = "comment">
				<p>     (   _  )</p>
			</div>
			<div id = "comment-5809" class = "comment">
				<p>@Daniel Ok, great. There are like five answers. and a lot of them say different things. I say, NO. That site does _not_ have an answer. It has five different answers all saying different things, and no action was taken.</p>
			</div>
			</div>
				<textarea id = "speech-2568" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2568">
					<img id="start_img-2568" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2568">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2569"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2569" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A couple of things </p>

<ul>
<li>welcome to Ask Different.</li>
<li>Generally, discussion is OK on meta only - so if you post questions on the main site, don't ask for opinions or experience - narrow down the issue and just assume people with opinions or experience will answer.</li>
<li>The community will need to have significantly more votes for the "yes" answer than the "no" answer in <a href="https://apple.meta.stackexchange.com/questions/2537/">Should beta OS questions be on-topic due to NDA changes + widening distribution by Apple</a></li>
<li>Unless there is a groundswell of yes sentiment, then the status quo of "close them as they are off-topic" will continue (see <a href="https://apple.meta.stackexchange.com/questions/1712/are-ios-9-and-os-x-el-capitan-questions-ok">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a>)</li>
</ul>

<p>I personally answered the "yes" and "no" responses, so voting on them is out of my hands. Should I be a tie breaker, I'm likely to fall on "yes - let's try opening beta software for a trial" but ideally, the community will vote overwhelmingly for one answer to not need one moderator's tie breaker at all.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2569" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2569">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2569">Load Comments</button></br>
			<div id = "commentsection-2569" class = 'collapse'>
			<div id = "comment-5800" class = "comment">
				<p>"Welcome to Ask Different" Ha! You seem to have me all figured out! Thanks for the info! I will look into the OS-On topic-NDA changes article.</p>
			</div>
			</div>
				<textarea id = "speech-2569" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2569">
					<img id="start_img-2569" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2569">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>