<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>IR 40kHz receiver
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8062" class = "post">
			<h2>Question</h2>
			<div id="vote-8062" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>IR 40kHz receiver</h2>
<p>These days I'm trying to build IR 40kHz long range receiver. I use ir phototransistor. I don't want to use components like TSOP... I need to make
daylight filter and intensify filtred signal because out of this sensor I wanna use with some microcontroller. Can someone help me? Any idea? Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8062" data-toggle = "popover">
				<p>user name : MELI</p>
				<p> user reputation : 4</p>
				<p class = "tagcontent" id = "usertaginfo-8062">{'None': 0, 'design': 1, 'sensors': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8062">Load Comments</button></br>
			<div id = "commentsection-8062" class = 'collapse'>
			<div id = "comment-12854" class = "comment">
				<p>I voted to close this question because questions which are more of generic electrical engineering questions and have no real relation to robotics are better off at Electrical Engineering.</p>
			</div>
			<div id = "comment-12858" class = "comment">
				<p>It would better go on engineering.stackexchange, as this as daylight filters have nothing to do with electrical engineering. But I have an idea for this question: "Do it, and come back to explain any problem you'll have". SE is a Q/A site, not a place to delegate sensor design.</p>
			</div>
			<div id = "comment-12862" class = "comment">
				<p>I have flagged this question for migration to E.E. SE.</p>
			</div>
			</div>
				<textarea id = "speech-8062" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8062">
					<img id="start_img-8062" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8062">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8063"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8063" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>IR receiver circuits based on phototransistors were widely used in TV sets before the advent of integrated modules, like TSOP, in late '80s. You can take inspiration from old time TV service manuals. In general the phototransistor is polarized via a >100k resistor on the collector, then you need a high-pass filter with high input impedance to reject the effects of ambient IR sources, amplify, bandpass at about 40 kHz and at last shmitt-trigger to a square wave.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8063" data-toggle = "popover">
				<p>user name : CasaMich</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-8063">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8063" class = 'collapse'>
			</div>
				<textarea id = "speech-8063" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8063">
					<img id="start_img-8063" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8063">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>