<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>IR distance sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10425" class = "post">
			<h2>Question</h2>
			<div id="vote-10425" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>IR distance sensor</h2>
<p>I am trying to make a IR distance sensor. I have seen <a href="http://www.instructables.com/id/Simple-IR-proximity-sensor-with-Arduino/" rel="nofollow">this</a> online. My goal however is to see the distance between a IR transmitter and my IR sensor. In the example above he uses the IR led's ambient light and timing to track the distance. Is there a way to find the distance between lets say a IR remote and a sensor? It would only have to be accurate to about 1 meter. I am also open to other ideas of accurately tracking distance between two objects weither that be bluetooth/ir/ultrasonic </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10425" data-toggle = "popover">
				<p>user name : NewExplorer</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10425">{'None': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10425">Load Comments</button></br>
			<div id = "commentsection-10425" class = 'collapse'>
			<div id = "comment-18764" class = "comment">
				<p>If you don't have an accurate way of knowing what the start time for the distance measurement is then you won't be able to do this. Distance is speed*time so if you don't know the time you are stuffed.</p>
			</div>
			</div>
				<textarea id = "speech-10425" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10425">
					<img id="start_img-10425" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10425">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10441"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10441" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You would be better off setting up something that uses a stereoscopic technique. Think of something like <a href="http://www.tobii.com/xperience/products/" rel="nofollow" title="the Tobii EyeX">this</a>. Another similar product is the Leap Motion.</p>

<p>In your case, you could probably get away with just two IR sensors, and one emitter, because of your setup. However, "accurate to 1 meter" is not realistic for most kinds of IR rigs. They usually only function <em>within</em> 0.5 meters, but can be pretty accurate when tracking something inside of their range.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10441" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-10441">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10441" class = 'collapse'>
			</div>
				<textarea id = "speech-10441" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10441">
					<img id="start_img-10441" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10441">Comment</button>
			<br><div id = "ans-10448"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10448" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I also agree that the stereoscopic technique will probably give you a better result. To implement this you have 2 options, either 1 led and 2 cameras or (I think the better option) 2 leds and 1 camera (which is the technique they used with the wiimote). You can see the second approach <a href="https://www.youtube.com/watch?v=Jd3-eiid-Uw" rel="nofollow">here</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10448" data-toggle = "popover">
				<p>user name : Gil</p>
				<p> user reputation : 91</p>
				<p class = "tagcontent" id = "usertaginfo-10448">{'stereo-vision': 2, 'None': 8, 'sensors': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10448" class = 'collapse'>
			</div>
				<textarea id = "speech-10448" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10448">
					<img id="start_img-10448" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10448">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>