<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>iRobot Create: Making Noise and Flashing Red Light While Charging
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9206" class = "post">
			<h2>Question</h2>
			<div id="vote-9206" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1279</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>iRobot Create: Making Noise and Flashing Red Light While Charging</h2>
<p>My iRobot Create is playing a tune about every 30 seconds and continuously flashing a red light when I attempt to charge it. What is the issue?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9206" data-toggle = "popover">
				<p>user name : Gerard</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-9206">{'None': 0, 'irobot-create': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9206" class = 'collapse'>
			</div>
				<textarea id = "speech-9206" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9206">
					<img id="start_img-9206" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9206">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9207"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9207" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the iRobot support site, <a href="http://homesupport.irobot.com/app/answers/detail/a_id/231/~/list-of-roomba-400%2Fdiscovery-error-codes." rel="nofollow noreferrer">List of Roomba 400/Discovery error codes</a>:</p>

<blockquote>
  <p>As Roomba cleans, it communicates with songs, beeps, and indicator lights. It also uses sounds to let you know when there's a problem or it needs maintenance. Here are the most common error codes and what they mean. If the problem cannot be resolved, contact <a href="http://homesupport.irobot.com/app/ask" rel="nofollow noreferrer">iRobot Customer Care</a>.</p>
</blockquote>

<p>Your particular issue, if the tune being played is a 4-note tune (in conjunction with the flashing Power Button red LED, is due to a low battery which requires charging:</p>

<blockquote>
  <p><a href="https://i.stack.imgur.com/HXFB1.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/HXFB1.png" alt="iRobot Low battery error"></a></p>
</blockquote>

<p>As it says:</p>

<blockquote>
  <p>Connect Roomba to a battery charger (or Home Base) and recharge the battery.</p>
</blockquote>

<p>As your iRobot is continuously making this tune, even whilst charging, this would suggest that either:</p>

<ul>
<li>the battery is not taking on any charge (i.e. it is dead), or;</li>
<li>the charging circuitry (within the iRobot) is not detecting the charge current, and assumes that it is not plugged in. As a sanity check, verify that the charger is working, and that the connections are OK. Otherwise, maybe the charging circuit is defective, and needs maintenance, or replacing?</li>
</ul>

<p>This is what should happen, during the charge cycle: <a href="http://homesupport.irobot.com/app/answers/detail/a_id/648/related/1" rel="nofollow noreferrer">Roomba 400 Series/Discovery Battery and Charging Overview</a>.</p>

<blockquote>
  <p>Under normal conditions, Roomba should charge in this manner:</p>
  
  <ul>
  <li>Your Battery Charger should have a solid green light on when it is plugged into a wall outlet charging Roomba.</li>
  <li>Your Home Base, if you have one, should have two solid green lights (one for Power and one for Docked) when it is plugged into the Charger
  and Roomba is charging.</li>
  <li>Your Roomba s POWER light should pulse red/amber while charging. Charging time under normal conditions is between 3   6 hours depending
  on your Battery Charger. Charging could take up to 16 hours if your
  battery is deeply discharged at the beginning of the charge cycle.</li>
  <li>When the charging cycle is complete, the POWER light on Roomba will turn solid green.</li>
  </ul>
  
  <p>While Roomba is running, the POWER light will display the state of the
  battery as follows:</p>
  
  <ul>
  <li>Green - fully charged</li>
  <li>Amber - partially discharged</li>
  <li>Red - nearly discharged</li>
  <li>Flashing Red - discharged</li>
  </ul>
  
  <p>Always store Roomba charging on the Home Base or with the Charger
  plugged into the robot. For long-term storage, iRobot recommends that
  the battery be fully charged and then removed from the robot and
  stored in a cool, dry place.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9207" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-9207">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9207">Load Comments</button></br>
			<div id = "commentsection-9207" class = 'collapse'>
			<div id = "comment-16279" class = "comment">
				<p>I get this tune while I am charging, is there any way to charge the Roomba quietly?</p>
			</div>
			<div id = "comment-16281" class = "comment">
				<p>Thank you, the issue has been resolved. My battery is dead.</p>
			</div>
			</div>
				<textarea id = "speech-9207" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9207">
					<img id="start_img-9207" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9207">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>