<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Irobot Create 2 drawing power from Pi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10665" class = "post">
			<h2>Question</h2>
			<div id="vote-10665" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Irobot Create 2 drawing power from Pi</h2>
<p>I am controlling an IRobot Create 2 with a raspberry pi, which I am powering with one of these:</p>

<p><a href="https://www.adafruit.com/product/1566" rel="nofollow">https://www.adafruit.com/product/1566</a></p>

<p>(I know, I know, I should have just gotten power from the battery thats already in the roomba)</p>

<p>Anyways.  I am trying to read electric current values flowing through the roomba as it cleans.  I should be getting negative values (which I did previous to using the battery).  My code was working, although I know that doesn't mean much.</p>

<p>After much thought, I was wondering if maybe the roomba is drawing power through the serial port from the raspberry pi, giving it a slight charge even though it is not on the charger.</p>

<p>Is this possible, and is there a way to confirm or deny my suspicions?</p>

<p>Any help is appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10665" data-toggle = "popover">
				<p>user name : Ryan</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10665">{'battery': 1, 'serial': 1, 'None': 0, 'irobot-create': 1, 'raspberry-pi': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10665">Load Comments</button></br>
			<div id = "commentsection-10665" class = 'collapse'>
			<div id = "comment-19201" class = "comment">
				<p>Can you post the current seen w/o the battery and with the external battery?</p>
			</div>
			<div id = "comment-19202" class = "comment">
				<p>Yes, I suppose so more details would have been useful.  I will post it when I get back tomorrow.</p>
			</div>
			<div id = "comment-19211" class = "comment">
				<p>Welcome to *Robotics* Ryan. You may also want to post a schematic of your RasPi, Create and power supply. You may find that [SchemeIT](http://www.digikey.co.uk/schemeit/project/) or [Circuit Lab](https://www.circuitlab.com/) etc. may be able to help here. Having said that, I think this would be better off on [electronics.se] rather than here. You are more likely to get a better, faster response there.</p>
			</div>
			</div>
				<textarea id = "speech-10665" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10665">
					<img id="start_img-10665" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10665">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>