<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>iRobot Create without ROS?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3160" class = "post">
			<h2>Question</h2>
			<div id="vote-3160" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 294</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>iRobot Create without ROS?</h2>
<p>Is it possible to control the Create without using any ROS whatsoever? I know it has all these serial/Digital I/O pins that connect to ROS which controls it using drivers/libraries. But how hard would it be to do so using, say, a PCduino?</p>

<p>I'm asking this because I'm having trouble launching the create using ROS (<a href="https://robotics.stackexchange.com/questions/3159/cannot-launch-irobot-create-powers-down-upon-minimal-launch">question</a>)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3160" data-toggle = "popover">
				<p>user name : Anshul</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-3160">{'None': 10, 'irobot-create': 2, 'microcontroller': 0, 'openni': 1, 'kinect': 2, 'ros': 1, 'arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3160" class = 'collapse'>
			</div>
				<textarea id = "speech-3160" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3160">
					<img id="start_img-3160" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3160">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3163"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3163" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is very easy to control an iRobot Create with an Arduino or other microcontroller. </p>

<p>If you have one of the Mini-DIN cables (circular ones) that you are willing to cut up you can wire the correct pins into the TX and RX of an Arduino or PCDuino.</p>

<p>I have found that it is easier though to use the large DB-25 connector (which is the same one used on old printers and scanners) because it can provide 5v regulated power directly to an Arduino (but it can't provide enough current for a PCDuino) along with the serial data.</p>

<p>The pinouts for both of the these connectors can be found here: <a href="http://www.irobot.com/filelibrary/pdfs/hrd/create/create%20open%20interface_v2.pdf" rel="nofollow">http://www.irobot.com/filelibrary/pdfs/hrd/create/create%20open%20interface_v2.pdf</a>, along with a lot of other information.</p>

<p>For software I recommend this Arduino library: <a href="http://www.airspayce.com/mikem/arduino/Roomba/" rel="nofollow">http://www.airspayce.com/mikem/arduino/Roomba/</a>, which is simple and easy to use.</p>

<p>Edit: I just realized that you wanted to do this with a PCDuino, which I have never used, but I think you would have to port the library. The pdf I linked provides information on the entire protocol. If you don't need the processing power of the PCDuino it might just be easier to use an Arduino.</p>

<p>I hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3163" data-toggle = "popover">
				<p>user name : lopsided98</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-3163">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3163">Load Comments</button></br>
			<div id = "commentsection-3163" class = 'collapse'>
			<div id = "comment-6687" class = "comment">
				<p>Thanks. I thought of that as well, but in the meantime I found a matlab contributed library that has a user friendly interface to talk to create and it works like charm</p>
			</div>
			</div>
				<textarea id = "speech-3163" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3163">
					<img id="start_img-3163" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3163">Comment</button>
			<br><div id = "ans-8489"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two ways to do this without using ROS(and indeed the ROS drivers are in fact, wrapping the commands that are sent to the Create base). </p>

<p>For the original(ca. 2007) Create, you might want to see if you can find a "Command Module" on eBay or something. This has an ATMEGA 168 AVR in it with a USB/serial connection and the pins coming off the ATMEGA connected to several DB-9 connectors.(These are NOT serial ports). You write C code to program the AVR, which talks to the Create through its DB-25 connector. 
This tends to involve a lot of bit-masks and bit-shifting since some of the AVR pins are connected to the motors, bumpers, etc. of the Create. If you're not experienced in low-level programming in C or Assembly, this would not be the most productive way for you to control it. </p>

<p>OR</p>

<p>You can send OIS commands to the Create via the DIN-8 connector. This involves sending a series of bytes to the Create through a USB/Serial cable which tell it what to do. </p>

<p>Hope that helps you some.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8489" data-toggle = "popover">
				<p>user name : jetdillo</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-8489">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8489" class = 'collapse'>
			</div>
				<textarea id = "speech-8489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8489">
					<img id="start_img-8489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8489">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>