<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>iRobot Create 2 IR bump light sensor specifications
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8938" class = "post">
			<h2>Question</h2>
			<div id="vote-8938" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 162</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>iRobot Create 2 IR bump light sensor specifications</h2>
<p>Can someone tell me where can I find some specifications about the iRobot Create 2 IR bump light sensors?</p>

<p>We have an SDF model of the Create 2 that uses the Hoyuko laser range finder sensor and we have to simulate the behavior of the IR sensors starting from the laser scan data. </p>

<p>Hence we would like to have some additional information on the IR sensors which we can't find anywhere on the web - such as their exact position in the robot chassis, their maximum range, the shape of the obstacle detection field and so on.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8938" data-toggle = "popover">
				<p>user name : xEnVrE</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-8938">{'None': 0, 'sensors': 1, 'irobot-create': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8938" class = 'collapse'>
			</div>
				<textarea id = "speech-8938" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8938">
					<img id="start_img-8938" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8938">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8944"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8944" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately, I believe this is proprietary information that you won't likely get out of iRobot.  So your best bet is to characterize the sensors yourself.  You can even take apart the bumper assembly if you like.  (And if you are careful you should be able to get it back together.)  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8944" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8944">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8944" class = 'collapse'>
			</div>
				<textarea id = "speech-8944" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8944">
					<img id="start_img-8944" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8944">Comment</button>
			<br><div id = "ans-9065"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9065" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I highly doubt iRobot will share too detailed info with you, but I can from my own experiments. I've found that the forward facing IR sensors in the bumper seems to be able to see around three feet away. The downward facing IR cliff sensors can only see about six inches. The top mounted IR sensor that is used for docking and lighthouse/virtual wall detection can see the furthest, around six feet and is the only one that can see a full 360 degrees.</p>

<p>I wish I could offer more, but I can really only tell by playing with it by hand. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9065" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9065">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9065" class = 'collapse'>
			</div>
				<textarea id = "speech-9065" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9065">
					<img id="start_img-9065" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9065">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>