<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>iRobot Create 2 and Open Interface 2 Spec not syncing up with incoming data
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6686" class = "post">
			<h2>Question</h2>
			<div id="vote-6686" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 397</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>iRobot Create 2 and Open Interface 2 Spec not syncing up with incoming data</h2>
<p>I have the create 2 and have it hooked up to an arduino. Almost all the commands work fine except when retrieving sensor information. If i send a request for packet 18 I get back values that while consistent don't match up, unless I am missing something. So if I press the clean button I get 127 or 11111110 and if i then press spot I get something like 11111010. I might be messing up my endianness but regardless the data isnt formatted how I expected it to be according to the spec sheet. I have 3 create 2s and they all do the same thing. Any ideas? I am using a 2n7000 along with the tutorial from the site but i dont think that has anything to do with the formatting of the byte.</p>

<p>this is the library I am using: <a href="https://github.com/DomAmato/Create2" rel="nofollow">https://github.com/DomAmato/Create2</a></p>

<p>Sorry to take so long to get back on this, anyways the data we get is always formatted this way. It is not a baud rate issue since it understands the commands properly.</p>

<hr>

<pre><code>        day     hour    minute  schedule    clock   dock    spot    clean
day     3       x       x       x           x       x       x       x
hour    6       7       x       x           x       x       x       x
minute  13      14      15      x           x       x       x       x
schedule    x   x       x       x           x       x       x       x
clock   x       x       x       x           x       x       x       x
dock    27      29      30      x           x       31      x       x
spot    55      59      61      x           x       62      63      x
clean   111     119     123     x           x       125     126     127
</code></pre>

<p>Note that the schedule and clock buttons return nothing</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6686" data-toggle = "popover">
				<p>user name : Betty_Brinn_Museum</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-6686">{'None': 2, 'irobot-create': 2, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6686">Load Comments</button></br>
			<div id = "commentsection-6686" class = 'collapse'>
			<div id = "comment-9604" class = "comment">
				<p>Are you absolutely sure that it was Spot and Clean that produced 11111010? That combination should return 3, or if your bits were somehow inverted, 11111100. Were you perhaps pressing Dock instead of Spot?</p>
			</div>
			<div id = "comment-9617" class = "comment">
				<p>I will check again for the certain buttons and make a list of the output when I have a chance</p>
			</div>
			<div id = "comment-9845" class = "comment">
				<p>Hi @Betty_Brinn_Museum, if both of these accounts are yours (and use the same e-mail address) you can use the "contact us" link to request that the accounts be merged. That way reputation from the original account (which you have presumably lost access to) will be added to your new account. Take care,</p>
			</div>
			<div id = "comment-9860" class = "comment">
				<p>I don't understand this table. What are the row headings, and what are the column headings?</p>
			</div>
			<div id = "comment-9862" class = "comment">
				<p>I just had a thought as to what might be wrong. At what voltage is your Arduino running? I am curious to know why you used an 2N7000 (NFET) and not a 2N4403 (PNP BJT). Using the wrong part in the right schematic (or vice versa) will cause an inversion in the signal, or other weirdness. Can you post a picture or a schematic of how you have everything hooked up, exactly? I think there may be a problem with the electrons between the Arduino and the Create 2. If you look at the "Arduino Tutorial" vs the "Create  2 Serial to 3.3V Logic" projects, you'll see that the schematic is different.</p>
			</div>
			<div id = "comment-10044" class = "comment">
				<p>Sorry things have been hectic. We used 2n7000s because we had a ton laying around. I will try switching it out with a PNP transistor the next time I am able as well as just hooking it up directly since the 5v logic schematic is only in the case that the roomba is unable to drive the rx. As for the table I tried to make it readable but the number corresponds to the number returned when the button is pressed after a packet request. When day is pressed you get 3, when day and hour is pressed you get 6 etc...</p>
			</div>
			<div id = "comment-10616" class = "comment">
				<p>It was the 2n7000 causing issues it works now =) thanks</p>
			</div>
			</div>
				<textarea id = "speech-6686" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6686">
					<img id="start_img-6686" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6686">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6691"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6691" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If that example code you posted is what you are running, then I don't think you are using the right baud rate.  The Create2 uses 115200 baud by default.  But the Arduino cannot reliably reproduce this baud, so it is recommended to open the port at 115200, then change the baud down to 19200 for the rest of the comms.  I don't believe this change survives across power cycles.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6691" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-6691">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6691">Load Comments</button></br>
			<div id = "commentsection-6691" class = 'collapse'>
			<div id = "comment-9602" class = "comment">
				<p>Baud rate does not persist between resets or "hard" power cycles but it does persist between "soft" power cycles, as far as I'm aware.</p>
			</div>
			<div id = "comment-9616" class = "comment">
				<p>It's not a baud rate issue, if it was a baud rate problem none of the commands would work including the packet request. It is set to 19200.</p>
			</div>
			</div>
				<textarea id = "speech-6691" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6691">
					<img id="start_img-6691" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6691">Comment</button>
			<br><div id = "ans-6692"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6692" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Without seeing your code and your hardware setup, I'm not sure how much help I can be, but I'll try! The <a href="http://www.irobot.com/~/media/MainSite/PDFs/About/STEM/Create/LightBot.pdf" rel="nofollow">light painting project</a> on the iRobot site has a <a href="http://www.irobot.com/~/media/MainSite/Files/About/STEM/Create/NeoPixel_LightBot_26Nov14.zip" rel="nofollow">sketch</a> which monitors the buttons without using a third party library. The function is called waitForButton. I'd encourage you to grab that function in a separate sketch (not forgetting the setup code for the robot in the original sketch) and see if you can get the buttons to work for you. If they work, it's a problem with your code or the third party library. </p>

<p>I don't have an Arduino to play with right now, but using a USB to Create cable with Python on my laptop, I threw this together for you to test your robots:</p>

<pre><code>#!/usr/bin/env python
# 27 February 2015
# Steven Shamlian
# Released under Poul-Henning Kamp's Beerware license

# A quick and _dirty_ script to test button reads.

import serial, time
COM_PORT = "COM37" # be sure to change this

ser = serial.Serial(port=COM_PORT, baudrate=115200)

print "Resetting..."
ser.write('\x07') # put the robot in a known state
for i in reversed(range(10)):
    print i,
    time.sleep(1)
print
ser.write('\x80\x83') # put the robot in safe mode
time.sleep(0.1)

ser.flushInput() # discard everything we've seen so far

print "Press Ctrl+C to quit."

try:
    while True:
        ser.write('\x8e\x12') # request buttons
        print "Got " + hex(ord(ser.read()))
        time.sleep(0.25)
except:
    pass

ser.close()
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6692" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-6692">{'None': 50}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6692">Load Comments</button></br>
			<div id = "commentsection-6692" class = 'collapse'>
			<div id = "comment-9859" class = "comment">
				<p>Have you tried this? I would be interested to know whether you see different responses to the command on your computer versus on the Arduino, so that we can figure out where the problem is happening.</p>
			</div>
			</div>
				<textarea id = "speech-6692" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6692">
					<img id="start_img-6692" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6692">Comment</button>
			<br><div id = "ans-7442"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7442" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem was the part we were using. Make sure you use the right transistor. The schedule and clock button still dont produce any output but everything else behaves as it should. </p>

<p>Error = 2n7000 transistor</p>

<p>Answer = 2n4403</p>

<p>Thanks to Steve for pointing it out though it doesn't just invert the signal it mutates it into the table I posted in my question.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7442" data-toggle = "popover">
				<p>user name : Betty_Brinn_Museum</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-7442">{'None': 2, 'irobot-create': 2, 'arduino': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7442" class = 'collapse'>
			</div>
				<textarea id = "speech-7442" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7442">
					<img id="start_img-7442" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7442">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>