<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>iRobot Create 2 sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7648" class = "post">
			<h2>Question</h2>
			<div id="vote-7648" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 581</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>iRobot Create 2 sensors</h2>
<p>Can someone please provide me with a list of sensors on the create 2?  I am hoping to get one soon, but want to be sure it has ultrasonic sensors and not just bump sensors before I do.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7648" data-toggle = "popover">
				<p>user name : bmh</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-7648">{'None': 0, 'roomba': 0, 'irobot-create': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7648">Load Comments</button></br>
			<div id = "commentsection-7648" class = 'collapse'>
			<div id = "comment-11084" class = "comment">
				<p>Is this information not available in the iRobot Create 2 manual?</p>
			</div>
			</div>
				<textarea id = "speech-7648" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7648">
					<img id="start_img-7648" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7648">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7658"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7658" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Roomba does not have ultrasonic sensors, but it does have quite a few infrared proximity sensors.  The <a href="http://www.irobotweb.com/~/media/MainSite/PDFs/About/STEM/Create/iRobot_Roomba_600_Open_Interface_Spec.pdf" rel="nofollow">Open Interface Spec</a> calls it the "light bumper".</p>

<p>Package IDs 46-51 (pages 30 and 31) describe the different light bumper IR sensors.  They return a 12 bit number (0-4095) which will roughly correspond to distance to an object.  However it is highly dependent on the object's material.  The "light bumper" packet (45) contains a binary version of all the light bumper sensors together.  I don't know what threshold is used for this.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7658" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7658">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7658">Load Comments</button></br>
			<div id = "commentsection-7658" class = 'collapse'>
			<div id = "comment-11107" class = "comment">
				<p>Can these be used as rangefinders or only as binary "bump" sensors?</p>
			</div>
			</div>
				<textarea id = "speech-7658" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7658">
					<img id="start_img-7658" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7658">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>