<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>iRobot Create 2 discrepancy betweenOpen Interface Specifications and Create 2 Serial to 3.3V Logic
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5240" class = "post">
			<h2>Question</h2>
			<div id="vote-5240" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 329</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>iRobot Create 2 discrepancy betweenOpen Interface Specifications and Create 2 Serial to 3.3V Logic</h2>
<p>I am cautiously moving forward with my new iRobot Create 2, planning on using a Raspberry Pi with ROSberry installed to control the Create 2. Discovered a problem with the pin out specs between the iRobot Roomba Open Interface (OI) Specification and the Create 2 Serial to 3.3V Logic document. Here is the discrepancy (marked by DISCREPANCY):</p>

<p>PIN ((OI)) Serial to 3.3V</p>

<ol>
<li>Vpwr Roomba battery voltage</li>
<li>Vpwr Roomba battery voltage</li>
<li>RXD  Roomba TX DISCREPANCY</li>
<li>TXD  Roomba RX DISCREPANCY</li>
<li>BRC  Ground DISCREPANCY</li>
<li>GND  Ground</li>
<li>GND  Roomba BRC DISCREPANCY</li>
</ol>

<p>The discrepancy is with pins 3,4,5 &amp; 7.</p>

<p>Don't want to fry my Raspberry Pi, any clarification and/or help appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5240" data-toggle = "popover">
				<p>user name : rzwemer</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-5240">{'None': 0, 'irobot-create': 1, 'raspberry-pi': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5240" class = 'collapse'>
			</div>
				<textarea id = "speech-5240" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5240">
					<img id="start_img-5240" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5240">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5242"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5242" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I helped work on the create 2. I will have to double check on pins 5 and 7 but pins 3 and 4 are correct. The RX of the Create needs to connect to the TX of the pi. The same goes for the TX on the Create connecting to the RX on the pi.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5242" data-toggle = "popover">
				<p>user name : MechAndy</p>
				<p> user reputation : 9</p>
				<p class = "tagcontent" id = "usertaginfo-5242">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5242" class = 'collapse'>
			</div>
				<textarea id = "speech-5242" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5242">
					<img id="start_img-5242" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5242">Comment</button>
			<br><div id = "ans-5247"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5247" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am sorry that there is confusion. My personal opinion is that 7-pin mini-DIN connectors are confusing. Unfortunately, multiple vendors have different pin numberings, and things are further confused as some vendors choose to preserve numberings across the M-F boundary, while some do not (they have 1 mate with 2, 3 with 4, and, 5 with 7). This is the case, in this tutorial.</p>

<p>The pin numbering in the OI manual is for the female connector in the Create. The pin numbering in the Create 2 Serial to 3.3V Logic document is for the male connector on a cable. On the cable end, we chose to keep the pin numbering convention of a wire-ended cable that we use in a lot of the tutorials, which is made by a vendor named Tensility (part number 10-00543). Unfortunately, their pin numbering is the mirror of that on the Create. (There is a note to this effect on the bottom of the second column on the first page -- "Note that the Tensility cable uses the opposite pin numbering convention as Roomba.")</p>

<p>If you use this cable, and follow the color scheme in the tutorial, you'll be in good shape (one more gotcha is that there are two black wires, one of which is connected to the shell. A multimeter will help you figure out which one).</p>

<p>If you are just pushing wires into the Create connector itself, without a connector, (which I do not recommend,) use the diagram in the OI manual; it is drawn as if you were looking down upon the female receptacle pins in the robot. Be aware that TX on the Create should go to RX on the Pi (with a level shift), and vice versa!</p>

<p>Happy hacking!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5247" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-5247">{'None': 50}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5247" class = 'collapse'>
			</div>
				<textarea id = "speech-5247" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5247">
					<img id="start_img-5247" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5247">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>