<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is adding a more detailed, yet repetitive answer acceptable?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2837" class = "post">
			<h2>Question</h2>
			<div id="vote-2837" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is adding a more detailed, yet repetitive answer acceptable?</h2>
<p>I can not yet leave comments nor can I edit an answer; however, I would like to add a sentence or two of detail to a correct answer. Is adding a second, slightly more detailed, yet functionally repetitive answer acceptable?</p>

<p>If I should gain enough reputation to comment, it that the best way to add details to an answer?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2837" data-toggle = "popover">
				<p>user name : boredrandom</p>
				<p> user reputation : 122</p>
				<p class = "tagcontent" id = "usertaginfo-2837">{'None': 0, 'discussion': 9, 'comments': 4, 'reputation': 2, 'asking-questions': 3, 'voting': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2837" class = 'collapse'>
			</div>
				<textarea id = "speech-2837" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2837">
					<img id="start_img-2837" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2837">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2838"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2838" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general it's better to improve existing answers than to add slightly different new ones. Everybody can edit answers, even anonymous users, so if you want to add some helpful details to an existing answer, please go ahead and do so. Your edit will then be put into a review queue accessible to higher-rep users and peer-reviewed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2838" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2838">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2838" class = 'collapse'>
			</div>
				<textarea id = "speech-2838" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2838">
					<img id="start_img-2838" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2838">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>