<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is a Genetic alogorithm suitable for mobile robot path planning?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4393" class = "post">
			<h2>Question</h2>
			<div id="vote-4393" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 123</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is a Genetic alogorithm suitable for mobile robot path planning?</h2>
<p>Regarding my project work, I have to write an algorithm for mobile robot planning. For that, I have chosen Genetic algorithm. Is it good for mobile robot path planning? If it is, then where can I start from and get some guidelines?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4393" data-toggle = "popover">
				<p>user name : dinesh</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-4393">{'mobile-robot': 1, 'None': 0, 'navigation': 1, 'algorithm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4393" class = 'collapse'>
			</div>
				<textarea id = "speech-4393" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4393">
					<img id="start_img-4393" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4393">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4403"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4403" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This question is pretty general.</p>

<p>There is an online course available at edx:</p>

<p><a href="https://courses.edx.org/courses/TUMx/AUTONAVx/2T2014" rel="nofollow">https://courses.edx.org/courses/TUMx/AUTONAVx/2T2014</a></p>

<p>Where they explain different possible solutions and their implementations.
This course is pretty good</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4403" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4403">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4403" class = 'collapse'>
			</div>
				<textarea id = "speech-4403" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4403">
					<img id="start_img-4403" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4403">Comment</button>
			<br><div id = "ans-4406"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4406" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is no -- genetic algorithms are not good for path planning.</p>

<p>The longer answer is that while a genetic algorithm is very likely capable of solving a path planning problem, it's a very inefficient way to do so.  Genetic Algorithms are preferred in problems where there are many input variables and the interaction between those variables is complicated.  (A popular example of a Genetic Algorithm problem is the <a href="http://en.wikipedia.org/wiki/Evolved_antenna" rel="nofollow">antenna shape that was "evolved" to produce the proper radiation pattern</a>.)  </p>

<p>Rather than trying to maximize the "fitness" of a set of inputs (as Genetic Algorithms do), in path planning you are trying to minimize the "cost" of getting to your end state -- finding a set of movements (the length of which is unknown at the start) to accomplish that goal.  </p>

<p>If, on the other hand, you were trying to find an algorithm that could help a robot learn <em>how to move</em>, then the evolutionary approach is fine.  The example that comes to my mind is the <a href="http://www.news.cornell.edu/stories/2006/11/cornell-robot-discovers-itself-and-adapts-injury" rel="nofollow">robot from Cornell that can teach itself to limp when it stops being able to walk</a> (<a href="http://creativemachines.cornell.edu/papers/Biomimetics05_Lipson.pdf" rel="nofollow">PDF of some of their work is here</a>).  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4406" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4406">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4406" class = 'collapse'>
			</div>
				<textarea id = "speech-4406" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4406">
					<img id="start_img-4406" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4406">Comment</button>
			<br><div id = "ans-4408"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4408" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My feeling is that a genetic algorithm wouldn't be a good way to do path planning. GAs are better at searching crazy multi-dimensional discontinuous spaces. On the other hand, path planning for a mobile robot just isn't that hard.</p>

<p>You didn't say what kind of robot this was going to be, but for 2D mobile robots, there are already several excellent path planning algorithms around, like <a href="http://en.wikipedia.org/wiki/A*_search_algorithm" rel="nofollow">A*</a>.</p>

<p>My preferred robot path planning method starts with something like A* to generate a first path through the map. Then I would convert that into a piecewise linear path, and use an iterative algorithm on the path to straighten it out, and adjust the velocity, acceleration and jerk along the path to optimise it.</p>

<p>Having said that, people clearly are using <a href="https://duckduckgo.com/?q=genetic%20algorithm%20robot%20path%20planning" rel="nofollow">GAs for path planning</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4408" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4408">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4408" class = 'collapse'>
			</div>
				<textarea id = "speech-4408" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4408">
					<img id="start_img-4408" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4408">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>