<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is a revision required to the "What topics can I ask about here?" page in the Help Center?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2907" class = "post">
			<h2>Question</h2>
			<div id="vote-2907" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is a revision required to the "What topics can I ask about here?" page in the Help Center?</h2>
<p>In the <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask about here?</a> page it clearly states that:</p>

<blockquote>
  <p>Ask Different is for <strong>users of Apple products</strong>. If you have a
  question about ...</p>
  
  <ul>
  <li>Apple hardware</li>
  <li>Apple software</li>
  <li>Apple services including iTunes Connect (selling music, books, apps)</li>
  <li>third-party hardware, services and software when associated for use with Apple products.</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>Recently <a href="https://apple.stackexchange.com/users/5472/bmike">bmike</a> corrected me because I had assumed a question about a formula in Excel was off-topic. I accepted his correction (obviously, as a moderator with the highest reputation I wasn't going to think he was wrong!), but since then I've seen a number of instances where users have voted to close questions as off-topic because the questions were about third-party software.</p>

<p>This got me to thinking that perhaps the <a href="https://apple.stackexchange.com/help/on-topic">What topics can I ask about here?</a> page could do with some minor revision. It may be something as simple as a formatting change to bold the words "third-party hardware, services and software" in the last bullet point.</p>

<p>What do others think?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2907" data-toggle = "popover">
				<p>user name : Monomeeth</p>
				<p> user reputation : 23884</p>
				<p class = "tagcontent" id = "usertaginfo-2907">{'None': 78, 'support': 7, 'bug': 6, 'design': 6, 'chat': 5, 'review-page': 2, 'discussion': 47, 'site-promotion': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2907">Load Comments</button></br>
			<div id = "commentsection-2907" class = 'collapse'>
			<div id = "comment-6329" class = "comment">
				<p>Whiuch questions were closed - I would also not the off topic condition - Basic Customer Support - so can be a matter of opinion which of the two criteria apply.</p>
			</div>
			<div id = "comment-6330" class = "comment">
				<p>I'm not sure the questions were actually closed, just that there were people voting for them to be closed. But I do agree that it often comes down to a matter of opinion in terms of what category applies.</p>
			</div>
			</div>
				<textarea id = "speech-2907" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2907">
					<img id="start_img-2907" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2907">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2909"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2909" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, somebody using Excel on macOS <strong>is</strong> a user of an Apple product, and the bullet list makes it rather clear what a question can be about. I partially understand your confusion, but IMHO the wording is rather clear.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2909" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2909">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2909">Load Comments</button></br>
			<div id = "commentsection-2909" class = 'collapse'>
			<div id = "comment-6327" class = "comment">
				<p>I agree the wording **is** clear, but in the past week I've seen a few questions users have voted to close on the basis they were off-topic when, based on the last bullet point, they aren't. I think the last bullet point is a little lost, not only because it's the last one, but because the first three start with the word _Apple_ which stands out because it's 'Apple' and because of the capital 'A'. Also, the stem sentence has _users of Apple products_ in **bold**. I guess others will learn that these questions are on-topic, but I just thought a minor formatting change may reduce confusion.</p>
			</div>
			<div id = "comment-6328" class = "comment">
				<p>Yeah, but then we would kind of need all bullets in bold, somehow.</p>
			</div>
			</div>
				<textarea id = "speech-2909" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2909">
					<img id="start_img-2909" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2909">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>