<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is AllJoyn a good ROS alternative regarding message passing cross multiple devices?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8970" class = "post">
			<h2>Question</h2>
			<div id="vote-8970" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 161</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is AllJoyn a good ROS alternative regarding message passing cross multiple devices?</h2>
<p>I've used ROS for a while, my environment is Raspberry Pi + Ubuntu + OpenCV + ROS + C/C++. I also use several ROS packages (tf2, usb_camera, slam related, and laser scanner capture.) Also, in my projects, nodes are in multiple devices, and I'm using multiple master package for one project.</p>

<p>I did review some tutorials about AllJoyn, but no handon experience so far.</p>

<p>The questions are:</p>

<ol>
<li><p>regarding to message (especially, ROS image) passing cross devices, is AllJoyn a good ROS alternative? (devices are connected by wifi or bluetooth.)</p></li>
<li><p>For AllJoyn, does it still need single master (like roscore in ROS) to coordinate the nodes (or similar)? </p></li>
</ol>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8970" data-toggle = "popover">
				<p>user name : Alex Huang</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-8970">{'None': 2, 'ros': 2, 'alljoyn': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8970" class = 'collapse'>
			</div>
				<textarea id = "speech-8970" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8970">
					<img id="start_img-8970" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8970">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9056"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9056" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I suppose if you really wanted it, you could - but it seems to be designed for smart home/building applications. I also suppose if you really wanted to, you could use ROS for a smart home too.</p>

<p>But I am not really seeing an advantage to AllJoyn over ROS, in terms of robotics. ROS is structured in an almost 'P2P network', any device can subscribe and publish topics. But AllJoyn seems to be more of a 'hub-and-spoke' network model, some devices listen, fewer think and talk.</p>

<p>For example, on an AllJoyn network, it seems that any device can publish its present state, but it is a central computer that is making the decisions and publishing those decisions. The whatever circuit is controlling that light bulb, or thermostat, is taking all of its directions from the computer running AllJoyn. There doesn't seem to be any leeway for 'independent thought' in the network. But in a ROS network, you do not need to use a 'central-anything'. I can have my nVidia Jetson (which is the piece actually running ROS) control an Arduino, which in-turn is controlling motors based on its own code. The Arduino is making decisions based on what its motors are doing, and what the Jetson is telling it to do, and the Jetson is making decisions based on what the Arduino is telling it and its motors are doing (among other pieces as well).</p>

<p>AllJoyn would be perfect if you wanted to do an IoT or smart home project with your RasPi, but it doesn't seem to make a lot of sense for robotics since it doesn't have a lot of flexibility when it comes to defining feedback into the network devices.</p>

<p>To answer your questions succinctly:</p>

<ol>
<li>Probably not, not for robotics at least. But it would be good for an IoT project.</li>
<li>Yes. It sounds like it needs a 'master' even more so than ROS. The ROS master is mainly to keep track of what is actually on the network and what it is doing. AllJoyn's master is actually making all the decisions too (unlike ROS, where you write nodes for each item on the network, and those do the work).</li>
</ol>

<p>Now I might be mistaken about AllJoyn's network structure, but this was my impression on it after reading up on it last night and this morning.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9056" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9056">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9056">Load Comments</button></br>
			<div id = "commentsection-9056" class = 'collapse'>
			<div id = "comment-14955" class = "comment">
				<p>Thanks for reply. I recently traced sample codes of AllJoyn and see no need to run any "master" daemon like roscore. Seems every AllJoyn application (in C++) has to link alljoyn router library, so an AllJoyn application has the ability to see other apps as long as they connect to same "bus". So, maybe a "master" (roscore-like) is not needed in AllJoyn?</p>
			</div>
			<div id = "comment-14972" class = "comment">
				<p>Interesting. Everything I read made it sound like AllJoyn was based off of some kind of 'master' program that made decisions around an XML or CSV file (storing present system states) that the 'master' also maintained. But I didn't pick through any AllJoyn apps, so you may have a better understanding than I about its capabilities and limitations at this point. I would still stick with ROS though; it has more robotics-relevant documentation than AllJoyn does. You would be on your own with AllJoyn and Robotics.</p>
			</div>
			<div id = "comment-14973" class = "comment">
				<p>Though what might be interesting is trying to get AllJoyn and ROS to talk to one another. ROS is very flexible, and AllJoyn appears to be as well. they both can use C++ and Python. It might make for some interesting applications, having a robot that can integrate with smart home/IoT systems.</p>
			</div>
			</div>
				<textarea id = "speech-9056" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9056">
					<img id="start_img-9056" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9056">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>