<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is an accelerometer sufficient to detect displacement, or do I need an INS?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-556" class = "post">
			<h2>Question</h2>
			<div id="vote-556" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 812</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is an accelerometer sufficient to detect displacement, or do I need an INS?</h2>
<p>Do I need a complex system (of gyros, accelerometers etc.) to detect if a robot has moved forward or can I simply use an accelerometer. </p>

<p>I'm building a robot that learns to walk and I need to detect displacement for machine learning. Can I use an accelerometer or will I need a complicated/expensive Internal Navigation System?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-556" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-556">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-556" class = 'collapse'>
			</div>
				<textarea id = "speech-556" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-556">
					<img id="start_img-556" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-556">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-561"  class = "post">
				<h2>Answer</h2>
			<div id="vote-561" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Measuring if something has moved is ok with just accelerometers, how much and where not. You may need to specify your application a little better, but it sounds like you should use an external tracking system (e.g. camera based) instead. You might also use something simple like an ultrasonic sensor to get the distance your robot has moved, if you are looking for low-cost. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-561" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-561">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-561" class = 'collapse'>
			</div>
				<textarea id = "speech-561" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-561">
					<img id="start_img-561" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-561">Comment</button>
			<br><div id = "ans-564"  class = "post">
				<h2>Answer</h2>
			<div id="vote-564" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can theoretically use just an accelerometer for determining motion, but it may not be accurate enough to achieve your goals. </p>

<p>The big problem with accelerometers is drift over time (i.e., errors in the acceleration measurement get integrated twice), so your position accuracy significantly decreases over time. The severity of this problem depends on the quality of the accelerometer and the measurement time.</p>

<p>If you don't need position information and just want some indication that the robot has moved in a particular direction, an accelerometer would do the job. </p>

<p>Otherwise you would want to use some other sensor in conjunction with the accelerometer, in which case you may need some SLAM techniques. You could also switch to another type of system (like external motion capture mentioned in the other answer).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-564" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-564">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-564">Load Comments</button></br>
			<div id = "commentsection-564" class = 'collapse'>
			<div id = "comment-654" class = "comment">
				<p>Also remember that a tilt will also change the accelerometer's output.  For example, if x is forward and z up, you'll get an increase in x acceleration and a corresponding decrease in -z acceleration if the device tilts forward.</p>
			</div>
			<div id = "comment-657" class = "comment">
				<p>@ViennaMike Could I use [ArduIMU](http://store.diydrones.com/ArduIMU_V3_p/kt-arduimu-30.html) and use the gyros to keep the error to a minimum</p>
			</div>
			</div>
				<textarea id = "speech-564" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-564">
					<img id="start_img-564" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-564">Comment</button>
			<br><div id = "ans-576"  class = "post">
				<h2>Answer</h2>
			<div id="vote-576" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For simple motion detection, you might take a look at these:<a href="http://www.st.com/internet/analog/product/250725.jsp" rel="nofollow">LIS3DH</a>, <a href="http://www.st.com/internet/analog/product/252443.jsp" rel="nofollow">L3GD20</a>.</p>

<p>If you would like to look at more complex options, you might take a look at this package: <a href="http://www.st.com/internet/analog/product/253162.jsp" rel="nofollow">INEMO-M1</a>. I'm using this package in a 3D motion tracking application.  It is relatively cheap, and it's integrated sensor fusion provides the most robust measure of displacement I've found.  (Accelerometer drift is minimized, output is smooth, etc.)</p>

<p>Finally, the fall detection and click/double-tap recognition features found on this part 
may assist in a walking application: <a href="http://www.st.com/internet/analog/product/152913.jsp" rel="nofollow">LIS302DL</a>.  As an example, the free-fall detection (which may be slightly misnamed since motion triggers can be set on any axis) can assist with detection of leg motion.  The tap/double-tap feature could assist in detecting leg contact with the walking surface.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-576" data-toggle = "popover">
				<p>user name : Throwback1986</p>
				<p> user reputation : 281</p>
				<p class = "tagcontent" id = "usertaginfo-576">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-576" class = 'collapse'>
			</div>
				<textarea id = "speech-576" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-576">
					<img id="start_img-576" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-576">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>