<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is configuration space same as joint space?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2422" class = "post">
			<h2>Question</h2>
			<div id="vote-2422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2653</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is configuration space same as joint space?</h2>
<p>For robotic manipulator like the one on the picture:</p>

<p><img src="https://www.learnartificialneuralnetworks.com/images/rcfig1.jpg" alt="robot arm"></p>

<p>are the configuration space and joint space equivalent? I am trying to understand difference between the two...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2422" data-toggle = "popover">
				<p>user name : Slaven Glumac</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-2422">{'forward-kinematics': 7, 'None': 5, 'motion-planning': 7, 'kinematics': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2422" class = 'collapse'>
			</div>
				<textarea id = "speech-2422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2422">
					<img id="start_img-2422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2422">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2442"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2442" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><em>Configuration space</em> refers to the set of all possible configurations of the end-effector, the tool frame in this case. <em>Joint space</em> is the set of joint parameters which describe the overall configuration of the robotic manipulator. <em>Forward kinematics</em> are used to map the <em>Joint space</em> to the <em>Configuration space</em> and <em>Inverse kinematics</em> do the opposite.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2442" data-toggle = "popover">
				<p>user name : Demetris</p>
				<p> user reputation : 414</p>
				<p class = "tagcontent" id = "usertaginfo-2442">{'None': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2442">Load Comments</button></br>
			<div id = "commentsection-2442" class = 'collapse'>
			<div id = "comment-4762" class = "comment">
				<p>Thank you for your answer! I agree that this holds for the *Configuration space of the end-effector*, not the *Configuration space of the robot*. When I was asking this question, I was refering to the *Configuration space of the robot*.</p>
			</div>
			</div>
				<textarea id = "speech-2442" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2442">
					<img id="start_img-2442" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2442">Comment</button>
			<br><div id = "ans-2444"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2444" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In order to define answer my own question <em>Configuration space</em> and <em>Joint space</em> must be defined.</p>

<p><em>Configuration space</em> of a rigid body is a minimum set of parameters that can determine position of each point in that body or <em>Configuration space</em> is set of all possible configurations of that body. </p>

<p><em>Configuration space of the end-effector</em> is set of all possible positions and orientations of the end-effector, while <em>Configuration space of the robot</em> is the set of all possible positions and orientations for each rigid link of the robot. Shape of the <em>Configuration space</em> depends which rigid body refers to.</p>

<p><em>Joint space</em> is set of all joint parameters. In case of the robot in the picture those are its joint angles.</p>

<p>For robotic manipulator on the picutre it can be assumed that its configuration is completely determined by its joint parameters. It can be said that <em>Configuration space</em> and <em>Joint space</em> are equivalent for this robot (give or take few mathematical definitions of equivalent).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2444" data-toggle = "popover">
				<p>user name : Slaven Glumac</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-2444">{'forward-kinematics': 7, 'None': 5, 'motion-planning': 7, 'kinematics': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2444" class = 'collapse'>
			</div>
				<textarea id = "speech-2444" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2444">
					<img id="start_img-2444" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2444">Comment</button>
			<br><div id = "ans-4436"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4436" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In robotics the <em>configuration space</em> is <strong>exactly</strong> the <em>joint space</em> of the manipulator.</p>

<p>Differently, to indicate the space where the forward kinematic law maps the joints configuration into, we use the terms <em>task space</em> and <em>operational space</em>, equivalently.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4436" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-4436">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4436">Load Comments</button></br>
			<div id = "commentsection-4436" class = 'collapse'>
			<div id = "comment-7008" class = "comment">
				<p>This is true for a non-redundant manipulator. Back than, I was searching for a difference between two terms. A redundant manipulator can achieve the same configuration with different joint parameters. In that case, configuration space is not equal to joint space.</p>
			</div>
			<div id = "comment-7009" class = "comment">
				<p>In robotics the term "configuration" refers to current configuration of the joints. The redundancy has to do with the mapping between the configuration of the joints and the task-space (i.e. the pose of the end-effector).
Said that, we can still use the term "configuration space" as a synonym of joint space. The configuration is of the joints, not of the end-effector. This is the common usage.</p>
			</div>
			<div id = "comment-7010" class = "comment">
				<p>I was going with the original definition of the configuration space http://lis.csail.mit.edu/pubs/tlp/spatial-planning.pdf According to this definition, joint space (space of joint angles or translation) is not nearly the same as configuration space, although it may be used as its parametrization...</p>
			</div>
			<div id = "comment-7011" class = "comment">
				<p>Ok, sorry, I was rather pointing to the common meaning in the robotics community instead.</p>
			</div>
			</div>
				<textarea id = "speech-4436" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4436">
					<img id="start_img-4436" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4436">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>