<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Is chat gone from the title bar permanently?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-675" class = "post">
			<h2>Question</h2>
			<div id="vote-675" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 70</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is chat gone from the title bar permanently?</h2>
<p>I was looking for a private room on Ask Different chat - and saw the link I usually follow at the top gone.</p>

<p>It's still in the link roll at the bottom, but I kind of liked it at the top.</p>

<p>Is this a temporary removal or something more permanent?</p>

<p><img src="https://i.stack.imgur.com/p4mM2.png" alt="enter image description here"></p>

			</div>
			<div id = "userinfo-675" style = "float:right">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p> user tag wise history : {'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-675">Load Comments</button></br>
			<div id = "commentsection-675" class = 'collapse'>
			<div id = "comment-1203" class = "comment">
				<p>In addition, why do we have a link to the SE blog? Surely that's more appropriate for the bottom (not site-specific) than this site's chat room.</p>
			</div>
			<div id = "comment-1205" class = "comment">
				<p>http://meta.stackexchange.com/questions/101464/eeeek-where-did-the-chat-top-navigation-link-go</p>
			</div>
			<div id = "comment-1206" class = "comment">
				<p>I'd put the SE info on the far left where the combined "hot questions" live - not amongst the Ask Different specific search, faq, meta/main [chat] and review links live</p>
			</div>
			</div>
				<textarea id = "speech-675" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-675">
					<img id="start_img-675" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-675">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-679"  class = "post">
				<h2>Answer</h2>
			<div id="vote-679" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Kyle pointed that this might be a temporary thing. </p>

<p><a href="https://meta.stackexchange.com/questions/101464/eeeek-where-did-the-chat-top-navigation-link-go">Eeeek! Where did the chat top navigation link go?</a></p>

<p>It appears when the Stack Exchange blog is updated - it pre-empts the normal chat link for Ask Different. I would expect (and appreciate) to see the "new blog" bubble and link to the immediate right of the Stack<strong>Exchange</strong> pull down rather than embedded between the Ask Different specific review, chat, meta and faq links.</p>

<p><img src="https://i.stack.imgur.com/3SMRZ.png" alt="enter image description here"></p>

<p>Stack Exchange general information on the far left.
Ask Different specific links on the right.</p>
</p><br>
			</div>
			<div id = "userinfo-679" style = "float:right">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p> user tag wise history : {'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-679">Load Comments</button></br>
			<div id = "commentsection-679" class = 'collapse'>
			<div id = "comment-1235" class = "comment">
				<p>this has since been changed; only sites with a per-site blog will get the top notification, e.g. http://blog.stackoverflow.com/2011/06/blog-overflow/</p>
			</div>
			<div id = "comment-1239" class = "comment">
				<p>Thanks Jeff! I liked seeing it and would have never seen the blog otherwise - perhaps it can come back to the right of "Stack Exchange" on the far, far left. Add in the blog, but leaving the right past my name or the "login" link for Ask Different only links.</p>
			</div>
			<div id = "comment-1241" class = "comment">
				<p>metas are still hooked up to the SE/SO blog so just visit your meta to see the [new] blog indicator in that case.</p>
			</div>
			<div id = "comment-1256" class = "comment">
				<p>+1 I like the idea of the StackExchange blog notice on the left where the StackExchange drop down is.</p>
			</div>
			</div>
				<textarea id = "speech-679" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-679">
					<img id="start_img-679" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-679">Comment</button>
			<br><div id = "ans-682"  class = "post">
				<h2>Answer</h2>
			<div id="vote-682" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"new" is gone on the main AD site (but not on this meta AD site, oddly), but "blog" still remains instead of chat, so it looks like this is a permanent change, unfortunately. I hope they change it back - I used the chat link at the top a lot.</p>
</p><br>
			</div>
			<div id = "userinfo-682" style = "float:right">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p> user tag wise history : {'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-682">Load Comments</button></br>
			<div id = "commentsection-682" class = 'collapse'>
			<div id = "comment-1210" class = "comment">
				<p>lasts for 24 hours when the blog post is new</p>
			</div>
			</div>
				<textarea id = "speech-682" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-682">
					<img id="start_img-682" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-682">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>