<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is finished plywood a comparable prototyping substitute for polyoxymethylene?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1903" class = "post">
			<h2>Question</h2>
			<div id="vote-1903" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 172</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is finished plywood a comparable prototyping substitute for polyoxymethylene?</h2>
<p>I'm working on a robot with a team, and we're building our robot out of acetal <a href="http://en.wikipedia.org/wiki/Polyoxymethylene" rel="nofollow">polyoxymethylene (POM)</a> (specifically, delrin) plastic. However, we'd like to prototype the robot before we build it out of POM, as POM is somewhat expensive.</p>

<p>There are several critical areas that plywood would be used in place of POM:</p>

<ul>
<li>Over sliding surfaces</li>
<li>Around gearboxes </li>
<li>Under weight stress</li>
</ul>

<p>We'd like to take into account the friction coefficients, smoothness, and rigidity of the materials in deciding whether plywood is a valid prototype substitute. The material will be 1/4" thick.</p>

<p>What differentiates plywood from acetal POM with respect to the relevant points?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1903" data-toggle = "popover">
				<p>user name : Emrakul</p>
				<p> user reputation : 158</p>
				<p class = "tagcontent" id = "usertaginfo-1903">{'None': 4, 'design': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1903">Load Comments</button></br>
			<div id = "commentsection-1903" class = 'collapse'>
			<div id = "comment-3896" class = "comment">
				<p>The thickness of the material you plan to use is a critical piece of information here.</p>
			</div>
			<div id = "comment-3916" class = "comment">
				<p>Why Delrin?  Delrin is a very good material for some things, but it'd be far from my first choice for a robot chassis.  I'd use aluminum, steel, carbon-fiber, and even high-quality plywood before I used Delrin for the main structural parts of a robot.</p>
			</div>
			<div id = "comment-3922" class = "comment">
				<p>@Tim There are a couple key motivations: First, while it is somewhat comparable to plywood, its tensile strength and impact resistance are somewhat higher. Additionally, we're going to need to laser cut the board, and plywood never seems to come out cleanly for us. It can also splinter. We discarded aluminum earlier as it's more expensive to produce, and would need to be cut by waterjet. If you have any suggestions, though, I'd be glad to hear them!</p>
			</div>
			<div id = "comment-3925" class = "comment">
				<p>To my previous comment, I made a typo: I meant higher tensile & impact</p>
			</div>
			<div id = "comment-3936" class = "comment">
				<p>@Emrakul Fixed that for you.</p>
			</div>
			</div>
				<textarea id = "speech-1903" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1903">
					<img id="start_img-1903" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1903">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1908"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1908" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Plywood is available in various grades (A, B, C),  sanded and unsanded, veneer core or MDF core, and with surfaces of various kinds of woods.  I'm not aware of any plywood that will emulate the friction coefficient of <a href="http://en.wikipedia.org/wiki/Delrin" rel="nofollow">Delrin</a> (polyoxymethylene).  </p>

<p>With some hard, tightly grained, or oily woods (eg ironwood, ebony, teak) or Baltic Birch plywood, it might be possible to polish the wood to a point that its smoothness approaches that of  polyoxymethylene.  Note that those woods might cost more than polyoxymethylene does.</p>

<p>For other woods, it might be possible to use a filler and an epoxy finish to emulate some properties of Delrin, but if your project is about building your robot and not about accurately emulating properties of polyoxymethylene, I don't recommend the approach of experimenting with different finishes on plywood.</p>

<p>Instead, it may be best to purchase several <a href="http://en.wikipedia.org/wiki/Polyethylene" rel="nofollow">polyethylene</a> cutting boards and cut them up for use as polyoxymethylene testing standins.  Large cutting boards often are available cheap on Ebay, and small cutting boards can be found at thrift stores.</p>

<p>Note that polyoxymethylene is significantly stronger, harder, and more wear-resistant than the polyethylene in cutting boards, but polyethylene's properties are so much closer to polyoxymethylene's than plywood's are, that the prototyping fit should be much closer.  For a still-closer fit, you can buy   drops  (small cutoffs) of  UHMWPE (<a href="http://en.wikipedia.org/wiki/Ultra-high-molecular-weight_polyethylene" rel="nofollow">ultra high molecular weight polyethylene</a>) that in some applications will work as a Delrin replacement.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1908" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1908">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1908">Load Comments</button></br>
			<div id = "commentsection-1908" class = 'collapse'>
			<div id = "comment-3915" class = "comment">
				<p>Structurally, birch plywood (often sold for model airplane use, and available in the US in hobby shops and Michael's craft stores) is in some ways better than Delrin.  It doesn't have the same friction properties, though.</p>
			</div>
			</div>
				<textarea id = "speech-1908" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1908">
					<img id="start_img-1908" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1908">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>