<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is GMIS really a breakthrough?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7069" class = "post">
			<h2>Question</h2>
			<div id="vote-7069" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 61</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is GMIS really a breakthrough?</h2>
<p>The GMIS (General Machine Intelligence System) from a <a href="http://www.codeproject.com/Articles/897132/GMIS-Turn-All-Your-Devices-into-Robots" rel="nofollow">new article</a> posted at codeproject.com looks interesting.  Do you think that it could be a breakthrough in the field of robotics</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7069" data-toggle = "popover">
				<p>user name : myrobot</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7069">{'mobile-robot': -2, 'None': 0, 'robotic-arm': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7069">Load Comments</button></br>
			<div id = "commentsection-7069" class = 'collapse'>
			<div id = "comment-10045" class = "comment">
				<p>It's far, far too soon to tell.</p>
			</div>
			<div id = "comment-10051" class = "comment">
				<p>but Is there any theory can rise above it currently?</p>
			</div>
			<div id = "comment-10612" class = "comment">
				<p>Your question is interesting, but i don't think it is a good fit for this site because it is primarily opinion based and elicits discussion rather than a canonical answer.</p>
			</div>
			</div>
				<textarea id = "speech-7069" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7069">
					<img id="start_img-7069" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7069">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7185"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7185" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I did some work on embedding decision trees in a hash table.  That worked extremely well.  I could embed many facets of the English language into it such as context sensitive spelling, in only a few seconds, using only a few megabytes. You could also embed complex patterns of movement into it very easily.  It basically ends up as so called feature hashing.  For example in 3 dimensions (x,y,z) you would create a hash function with 3 inputs h(x,y,z). This is a form of dimensional reduction and also data compression.  I took it slightly further and feed in only a few bits of information at a time into the hash function  for even better results and better generalization.<br>
It is clear to me that you could fit everything the human mind can do into 100 Gigabytes or less.  That means that a current mid-scale supercomputer with 300 Tbytes of SDRAM has 3000 times the capacity of the human mind and is much, much faster.  A few years ago the general consensus among computer scientists was that you would see human level AI around 2020.  I would agree, however their view was based on extreme hardware requirements.  My view is that the hardware is already there, it is just a code issue. Hopefully it won't really change anything. That it will only be like adding 1 million people to the human population, in terms of increased ability to do things.   </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7185" data-toggle = "popover">
				<p>user name : SeanOCVN</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7185">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7185" class = 'collapse'>
			</div>
				<textarea id = "speech-7185" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7185">
					<img id="start_img-7185" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7185">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>