<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is having a question with high views and low votes common?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1859" class = "post">
			<h2>Question</h2>
			<div id="vote-1859" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 53</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is having a question with high views and low votes common?</h2>
<p>I recently earned the Famous Question badge [10k views] for <a href="https://apple.stackexchange.com/questions/63911/app-store-an-unknown-error-has-occurred-apple-support-fix-was-only-temporary">App Store &quot;An Unknown Error Has Occurred&quot;, Apple Support fix was only temporary. How fix permanently?</a></p>

<p>I note that there are still low votes on both the question, the answer, and a hackintosh specific answer. Is this a known phenomenon within Apple.SE or the entire SE family of sites? </p>

<p>I am not complaining here, I asked and answered my own question. I am proud that it is viewed often. I hope that means people are searching, finding my question, and getting the answer they need. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1859" data-toggle = "popover">
				<p>user name : Freiheit</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-1859">{'None': 0, 'voting': 5, 'discussion': 5, 'badges': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1859">Load Comments</button></br>
			<div id = "commentsection-1859" class = 'collapse'>
			<div id = "comment-3584" class = "comment">
				<p>Yes, it's happened here before. I have a "Famous Question" with three votes. More than your one, but still that means that 9,997 people read it and decided not to vote for it :-)</p>
			</div>
			<div id = "comment-3585" class = "comment">
				<p>Does the SE api provide a means to query for questions with more than a certain number of views and show the vote totals? This is close: https://api.stackexchange.com/docs/advanced-search#order=desc&sort=votes&views=10000&filter=default&site=stackoverflow&run=true</p>
			</div>
			<div id = "comment-3586" class = "comment">
				<p>http://apple.stackexchange.com/search?page=19&tab=votes&q=views%3a10000%20closed%3ano</p>
			</div>
			</div>
				<textarea id = "speech-1859" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1859">
					<img id="start_img-1859" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1859">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1860"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1860" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Given <a href="https://apple.stackexchange.com/search?page=6&amp;tab=votes&amp;q=views%3a10000%20closed%3ano%20score%3a..3">these search results</a>, I would say that the phenomenon is far from rare.</p>

<p>There are 288 posts with at least 10,000 views with a score of 3 or lower. My cutoffs were arbitrary there, but you can play with the parameters and see that there are many posts with lots of page views and low scores.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1860" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1860">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1860">Load Comments</button></br>
			<div id = "commentsection-1860" class = 'collapse'>
			<div id = "comment-3587" class = "comment">
				<p>http://apple.stackexchange.com/search?tab=votes&q=views%3a10000%20closed%3ano - > 10000 views then go to the "votes" sort order. The highest vote count is 296 for a question with 233k views!</p>
			</div>
			</div>
				<textarea id = "speech-1860" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1860">
					<img id="start_img-1860" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1860">Comment</button>
			<br><div id = "ans-1861"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1861" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is, I believe, a systemic problem with the user base of Ask Different*. Sites like Stack Overflow, where the approach to Q&amp;A was pioneered and little better ingrained in the user base, don't seem to have it quite as bad as we do**.</p>

<p>We attract a lot of search queries for problems and solutions that would otherwise have lead people to more traditional Q&amp;A type stuff: MacWorld, blogs, traditional forums, etc. We have great content here that covers a wide range and great depth of subject matter, so we pull a good deal of search traffic from these topics. Unfortunately, the people looking for answers to these topics tend to not be greatly familiar with our Q&amp;A approach: if you like something, vote it up. We get a lot of "thank you" type posts and comments we have to clean up as mods -- which is pretty clear indicator if you ask me that people visiting here often don't get that you don't write a thank you, you say thanks by clicking the upvote button.</p>

<p>So how do we solve this problem? That, I'm afraid, I have no good answers for.</p>

<pre><code>* Completely speculative, I have no hard data for this.
** Also speculative, don't press me for data 'cause I'll crumble under scrutiny here.
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1861" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-1861">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1861">Load Comments</button></br>
			<div id = "commentsection-1861" class = 'collapse'>
			<div id = "comment-3588" class = "comment">
				<p>This may not be isolated to Ask Diffferent, search for >10000 not closed, sorted by votes at SO: http://stackoverflow.com/search?tab=votes&q=views%3a10000%20closed%3ano

The top hit as 6k votes and 300k views.</p>
			</div>
			</div>
				<textarea id = "speech-1861" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1861">
					<img id="start_img-1861" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1861">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>