<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible for a robot to navigate through predefined coordinates?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6715" class = "post">
			<h2>Question</h2>
			<div id="vote-6715" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1167</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible for a robot to navigate through predefined coordinates?</h2>
<p>I am a total newbie in robotics so please bare with me. </p>

<p>I have a school project where my team has to design a robot that is capable of picking up 3 golf balls in different sizes at predefined locations. Then it has to drop these balls into their respective holes. </p>

<p>We are using an arduino chip in our robot. </p>

<p>I thought I could perhaps define a path for the robot, an invisible virtual path you may call. So imagining the platform as Cartesian plane, can I tell the robot go to where I want it to go? For example, go to (5,12)</p>

<p>Or do I need some sort of sensors so the robot figures it out by itself. Thanks for your time!  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6715" data-toggle = "popover">
				<p>user name : Alp</p>
				<p> user reputation : 5</p>
				<p class = "tagcontent" id = "usertaginfo-6715">{'control': 0, 'None': 0, 'arduino': 0, 'robotic-arm': 0, 'sensors': 0, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6715" class = 'collapse'>
			</div>
				<textarea id = "speech-6715" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6715">
					<img id="start_img-6715" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6715">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6718"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6718" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So, this is my first answer here. Hopefully this will help!</p>

<p>The golf balls, given that they are present in predefined locations, seem to be either be on a graph/grid, or at certain distances away from each other on the same plane.</p>

<p>Firstly, for a grid. You need to have line sensors to detect the presence of a grid which is either a junction (basically a complete black line detected by all sensors) or a right-angled turn. In either case the trick is to assign co-ordinates to it and travelling based on these. For example to travel from (0,0) to (0,1) you need to go north by 1 co-ordinate. So starting from (0,0) the bot must follow the line north till it detects a junction. And so on for any co-ordinate. </p>

<p>This link should help:
<a href="http://www.robotix.in/tutorials/category/auto/grid" rel="nofollow">http://www.robotix.in/tutorials/category/auto/grid</a></p>

<p>Secondly, for no grid. Assuming that these golf balls are at certain distances from the starting point, it is possible to create a virtual grid of your own where each co-ordinate is at fixed distances, just like on a grid or graph. In that case, the bot has to follow the same procedures to reach a destination but just by moving for those fixed distances. So it is suggested that your bot has encoders for the dc motors that will help in travelling precisely the distance that you wish to travel.</p>

<p>Good Luck!! \m/</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6718" data-toggle = "popover">
				<p>user name : Darth Hodorus</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-6718">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6718" class = 'collapse'>
			</div>
				<textarea id = "speech-6718" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6718">
					<img id="start_img-6718" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6718">Comment</button>
			<br><div id = "ans-6730"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6730" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>@Darth Hodorus answers is great ! But I just like to add some info about the second option.</p>

<p>I would definitely go for it and use <a href="https://en.wikipedia.org/wiki/Dead_reckoning" rel="nofollow">dead-reckoning</a>. It's easy to do if you got the encoders and you have plenty of tutorial on it =).</p>

<p>You'll realize that <strong>the</strong> major problem of D-R is <em>drift</em>. So you might have to think of a procedure to calibrate the robot each time. For example, with a Cartesian robot it's <em>as easy as</em> going to a <em>locked position</em> (a position where the robot can't move anymore i.e min in X, Y and Z) and define it as the (0,0,0) position. Indeed, you don't need to measure this position as you can <strong>mechanically</strong> find it. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6730" data-toggle = "popover">
				<p>user name : Malcolm</p>
				<p> user reputation : 393</p>
				<p class = "tagcontent" id = "usertaginfo-6730">{'communication': 1, 'None': 24, 'serial': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6730">Load Comments</button></br>
			<div id = "commentsection-6730" class = 'collapse'>
			<div id = "comment-9653" class = "comment">
				<p>I'm actually thinking about implementing calibration as well. I might stop the robot halfway and then make a distance proximity with an ultrasonic sensor. If it picks up something weird, then I'm planing planning to implement a for loop where each iteration turns the robot about a small angle. Then it does the proximity scan again so on so forth. I'm looking at dead reckoning now. Thanks!</p>
			</div>
			<div id = "comment-9655" class = "comment">
				<p>Ultrasonic is definitely a way to go but the accuracy is going to be not as good as a mechanical stop position. I'll suggest you to do the ultrasonic if you don't have the mechanical stop.</p>
			</div>
			</div>
				<textarea id = "speech-6730" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6730">
					<img id="start_img-6730" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6730">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>