<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to detect road surface or navigation area using LRF data or other laser data in a Park?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10772" class = "post">
			<h2>Question</h2>
			<div id="vote-10772" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 46</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to detect road surface or navigation area using LRF data or other laser data in a Park?</h2>
<p>I would like to detect road surface in a park. In the park, only small grass are covered with the both side of the road. That means there is road and the both side of the road are covered by small grass.
Is it possible to detect road surface (not grass) using LRF data or other laser sensors? 
If not, why?
if yes, which is better-Camera or laser sensor?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10772" data-toggle = "popover">
				<p>user name : K M Ibrahim Khalilullha</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10772">{'stereo-vision': 1, 'None': 0, 'computer-vision': 1, 'laser': 1, 'line-following': 1, 'wheeled-robot': 2, 'mobile-robot': 1, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10772">Load Comments</button></br>
			<div id = "commentsection-10772" class = 'collapse'>
			<div id = "comment-19388" class = "comment">
				<p>I am not an image processing guru, but I think it is easier with a camera. Basically you have a brown-greyish path surrounded with huge green surfaces. Sounds easier to distingush them useing a camera.</p>
			</div>
			</div>
				<textarea id = "speech-10772" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10772">
					<img id="start_img-10772" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10772">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10782"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10782" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Is it possible to detect road surface (not grass) using LRF data or other laser sensors?</strong> </p>

<p>Yes it is possible. A laser scanner will give distance measurements along a scan line. Presumably, the road surface is sufficiently smooth that it will be distinguishable from natural terrain. A quick way (certainly not the best way) to get this working for a prototype would be to use a Hough transform to identify lines in the laser scan, the idea being that a scan of the road will be a reasonably clean line and natural terrain will not. This of course requires the laser scanner to be downward facing (perhaps mounted on a mast), which seems like a waste.</p>

<p><strong>Which is better-Camera or laser [range finder]?</strong>
Because you don't seem to care about exact distances between the robot and the grass, I would suggest using a camera, which will be significantly cheaper. As for which is <em>better</em>, that depends on what you are actually doing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10782" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-10782">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10782">Load Comments</button></br>
			<div id = "commentsection-10782" class = 'collapse'>
			<div id = "comment-19402" class = "comment">
				<p>Thank you very much for your answer. So far I know Laser range finder uses laser beam to determine the distance of the object. But if there is no enough gap between road surface and grass area (Grass is very small), then what will happen! Laser beam will be reflected or not? if not reflected, then laser sensor can differentiate the two region or not. Sorry for my questions because I am new in this field.</p>
			</div>
			<div id = "comment-19403" class = "comment">
				<p>I don't understand your question. What do you mean when you say that there is "not enough gap between road surface and grass area"?</p>
			</div>
			</div>
				<textarea id = "speech-10782" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10782">
					<img id="start_img-10782" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10782">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>