<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to design robot software or AI to function in different devices?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8559" class = "post">
			<h2>Question</h2>
			<div id="vote-8559" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to design robot software or AI to function in different devices?</h2>
<p>so i'm really interested in robotics.. I'm not really a robot expert as i have no experience on creating one. I just like them.  Anyway, I am always wondering if its possible to build a robot that can transfer itself to different devices and still function. I mean, if you want that robot to transfer itself(THE DATA that making it function or whatever you call it) to your laptop so you can still use it while you are away or anything.. Does creating one require advanced computing and knowledge? Is it kind of creating a artificial intelligence?. When it think of this i would always thought of J.A.R.V.I.S since he can go to Stark Suit and communicate with him.</p>

<blockquote>
  <p>Translated into robotics terminology by a roboticist:</p>
  
  <p>Is it possible to create software for controlling robot hardware that can transfer itself to different devices and still function. Could it transfer itself to your laptop and collaborate with you using information it gathered while it was in it's robot body? 
  Does creating software like this require advanced knowledge and computing? Is software like this considered to be artificial intelligence?</p>
</blockquote>

<p>I am serious about this question sorry to bother or if anyone will be annoyed./ </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8559" data-toggle = "popover">
				<p>user name : heydude101</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8559">{'mobile-robot': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8559">Load Comments</button></br>
			<div id = "commentsection-8559" class = 'collapse'>
			<div id = "comment-13914" class = "comment">
				<p>@heydue101, I'm going to edit your question title since it should actually ask the question!</p>
			</div>
			</div>
				<textarea id = "speech-8559" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8559">
					<img id="start_img-8559" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8559">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8560"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8560" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This already happens when a commercial robot product comes off of the assembly line! The robot software is the same for each robot and is copied over.</p>

<p>Some robots work using similar computer processors as your laptop so you could just copy the files over and use them in a simulator of some kind. Many of us use <a href="http://www.ros.org/" rel="nofollow">ROS</a> (Robot Operating System), which is useful for code that works on multiple different robots.</p>

<p>However, you usually want a robot to perform very specific tasks, and the robot itself will typically have a physical configuration that doesn't change. That doesn't mean you can't develop systems that work with various configurations. There are examples of <em>modular robots</em> that can reconfigure themselves -- and this means software or AI that can handle varying configurations. <a href="http://modlabupenn.org/structure-synthesis/" rel="nofollow">Here is one example that builds new robots out of foam</a>. This is kind of like the idea of <a href="https://en.wikipedia.org/wiki/Cross-platform" rel="nofollow">cross-platform software</a> that is intended to work on different devices.</p>

<p>It is just so much easier to make one reliable system for one robot such as a ground vehicle, and another entirely separate system that is reliable for flying a UAV. Trying to make one system that can control both of those vehicles equally well is very difficult, and in most cases it is not worth the risk and disadvantages.</p>

<p>Possibly what you are referring to is a general artificial intelligence that can "hack" into different systems and control them even though it is not designed for it. Otherwise it is just a matter of including various inputs and outputs as you want -- think of something like an automated building management system, controlling thermostats, elevators, door locks, etc., each one of those items is like a separate robot but they are all controlled by one central computer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8560" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8560">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8560" class = 'collapse'>
			</div>
				<textarea id = "speech-8560" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8560">
					<img id="start_img-8560" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8560">Comment</button>
			<br><div id = "ans-8567"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8567" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is yes, totally possible, though not done that often in practice. </p>

<p>Creating an AI that thinks like a human (and does what it's human partners or masters want like J.A.R.V.I.S) is something we can't do yet. The current research in that direction does require advanced knowledge and skills. </p>

<p>If you want to know more about some detail add a comment about what you are curious about and I'll try to answer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8567" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8567">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8567" class = 'collapse'>
			</div>
				<textarea id = "speech-8567" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8567">
					<img id="start_img-8567" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8567">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>