<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to run a neural network on a microcontroller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-568" class = "post">
			<h2>Question</h2>
			<div id="vote-568" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">17</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 12829</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to run a neural network on a microcontroller</h2>
<p>Could you implement a simple neural network on a microprocessor such as the Arduino Uno to be used in machine learning?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-568" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-568">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-568">Load Comments</button></br>
			<div id = "commentsection-568" class = 'collapse'>
			<div id = "comment-658" class = "comment">
				<p>Out of curiosity, why would you want to?</p>
			</div>
			<div id = "comment-659" class = "comment">
				<p>I'm building a quadruped designed to learn how to walk and If I could implement a NN in the Arduino brain then I could use that for the learning portion of the robot.</p>
			</div>
			<div id = "comment-660" class = "comment">
				<p>I'm not an expert in this area, but last I heard, the training of the NN was done in simulation, and the NN was _implemented_ on a chassis, and probably one with a higher-level controller than the Arduino.</p>
			</div>
			<div id = "comment-661" class = "comment">
				<p>How can I run it on a computer simulation and then link it to the Arduino?</p>
			</div>
			<div id = "comment-662" class = "comment">
				<p>Well, you don't have to link it, you just train the NN in simulation, then extract the topology of the NN, including edge weights and node links. Then you program the NN (it's just an equation you have to solve).  I think it sounds like a little more research is needed before you take on this project.</p>
			</div>
			<div id = "comment-663" class = "comment">
				<p>It's probably worth mentioning I'm 16 and this is my electronics major work for high school.</p>
			</div>
			<div id = "comment-665" class = "comment">
				<p>In that case, I presume that you're going above and beyond the call of duty in attempting to implement this?</p>
			</div>
			<div id = "comment-666" class = "comment">
				<p>Definitely. I'm very keen in robotics. No one has ever done anything like this before.</p>
			</div>
			<div id = "comment-16835" class = "comment">
				<p>@Ian, I am new here, So i cannot comment on your thread, that's why i am commenting.<br><br>
As mentioned by you, i looked up these neural network libraries, such as ArduinoANN, but these are giving some error regarding less ram while verifying on Energia for MSP430G2553 kits, which i am using. So, i wanted to ask if there are some other neural network code for my kit,coz i am new in AI too :P, or if i am doing any mistake while compiling the code.</p>
			</div>
			</div>
				<textarea id = "speech-568" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-568">
					<img id="start_img-568" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-568">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-569"  class = "post">
				<h2>Answer</h2>
			<div id="vote-569" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Could you <em>train</em> a neural network on a microcontroller? Maybe, but please don't try. Could you use a NN for classification, etc on a microcontroller? Sure, as long as you can calculate the result of propagating the node and edge values and handle the multiplications.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-569" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-569">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-569">Load Comments</button></br>
			<div id = "commentsection-569" class = 'collapse'>
			<div id = "comment-664" class = "comment">
				<p>I concur. Assuming you can get a neural network of the required complexity to train on the Arduino, you'll still be up for an insane amount of training time. Off-board training of the NN is the logical way to go.</p>
			</div>
			</div>
				<textarea id = "speech-569" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-569">
					<img id="start_img-569" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-569">Comment</button>
			<br><div id = "ans-570"  class = "post">
				<h2>Answer</h2>
			<div id="vote-570" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">21</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's certainly possible to implement this on an Arduino.  Here are 3 such Arduino libraries that implement neural networks:</p>

<ul>
<li><a href="http://diydrones.com/group/arducopter-evolution-team/forum/topics/neuroduino-a-neural-network-library-for-arduino">Neuroduino</a></li>
<li><a href="http://arduinobasics.blogspot.com/2011/08/neural-network-part-1-connection.html">Arduino Basics</a></li>
<li><a href="http://robotics.hobbizine.com/arduinoann.html">ArduinoANN</a></li>
</ul>

<p>The complexity of the network that the Arduino can handle is a separate question, especially when it comes to training -- tens of thousands of iterations on training data.  Training on a fast machine and then copying the neuron weights to the Arduino will be a smarter way to develop your implementation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-570" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-570">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-570" class = 'collapse'>
			</div>
				<textarea id = "speech-570" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-570">
					<img id="start_img-570" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-570">Comment</button>
			<br><div id = "ans-1380"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1380" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes. If you only run it in feed-forward mode and do your training off-line somewhere else:</p>

<p>I programmed a 3-layer (5-5-2) feedforward ANN on an Arduino UNO.  It ran on a mobile robot.  Whenever the robot would hit something, it would re-train the network.  The feedforward portion of the net ran in real-time; while the back-propagation training took on the order of ~5 to 20 seconds.  I suppose you could trim the size of the network as well as the play with the parameters to make it run a bit faster, but if you plan on doing backpropagation on an Arduino, I think it would be too slow.</p>

<p>Some thoughts to speed things up include:</p>

<ul>
<li>Use fixed vs floating point (for MCU's w/o an FPU)</li>
<li>Use an MCU that has a FPU</li>
<li>Use a simpler activation function (ie. $\tanh$) instead of Sigmoid</li>
<li>Have the training phase occur offline on a PC</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1380" data-toggle = "popover">
				<p>user name : Yahma</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-1380">{'None': 5, 'sensors': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1380" class = 'collapse'>
			</div>
				<textarea id = "speech-1380" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1380">
					<img id="start_img-1380" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1380">Comment</button>
			<br><div id = "ans-1381"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1381" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes indeed, it's possible to embed neural network in microcontrollers. There are many such examples of this in the scientific literature but I can cite a striking example of what can be done with a very simple MCU if you're smart enough. In <a href="http://infoscience.epfl.ch/record/63939" rel="nofollow">Evolutionary Bits'n'Spikes</a>, the authors describe the implementation of a real time spiking neural network AND a genetic algorithm to train it, in order to control a differential wheel robot. The whole code runs in a tiny PIC16F628 4MHz MCU embedded on the 1-cubic-inch Alice robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1381" data-toggle = "popover">
				<p>user name : abey</p>
				<p> user reputation : 270</p>
				<p class = "tagcontent" id = "usertaginfo-1381">{'None': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1381" class = 'collapse'>
			</div>
				<textarea id = "speech-1381" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1381">
					<img id="start_img-1381" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1381">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>