<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to make DIY clone of MakerBeam
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2434" class = "post">
			<h2>Question</h2>
			<div id="vote-2434" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 183</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to make DIY clone of MakerBeam</h2>
<p>Is it possible to make clone of <a href="http://www.makerbeam.eu/" rel="nofollow">http://www.makerbeam.eu/</a> of some easy accessible material like:</p>

<ul>
<li>wood</li>
<li>plywood</li>
<li>OSB</li>
<li>MDF</li>
<li>HDF</li>
<li>others</li>
</ul>

<p>Using any type of CNC machine to mill some holes and rails in those materials may give sufficient results e.g. to make a prototype of 3D printer of such "beams".</p>

<p>Of course it won't be as rigid and durable but for making prototypes it may be good idea.</p>

<p>Just for reference: when reading this <a href="http://www.lowtechmagazine.com/2012/12/how-to-make-everything-ourselves-open-modular-hardware.html" rel="nofollow">http://www.lowtechmagazine.com/2012/12/how-to-make-everything-ourselves-open-modular-hardware.html</a> I've found this <a href="http://bitbeam.org/" rel="nofollow">http://bitbeam.org/</a>, this <a href="https://www.google.com/search?q=grid+beam&amp;client=ubuntu&amp;hs=zAr&amp;channel=fs&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ved=0CAcQ_AUoAWoVChMIiLHdqf2MyQIVQZoUCh1cHwV1&amp;biw=1215&amp;bih=927" rel="nofollow">https://www.google.com/search?q=grid+beam&amp;client=ubuntu&amp;hs=zAr&amp;channel=fs&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ved=0CAcQ_AUoAWoVChMIiLHdqf2MyQIVQZoUCh1cHwV1&amp;biw=1215&amp;bih=927</a> and this <a href="http://www.gridbeam.com/" rel="nofollow">http://www.gridbeam.com/</a>, and this <a href="https://www.tetrixrobotics.com/" rel="nofollow">https://www.tetrixrobotics.com/</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2434" data-toggle = "popover">
				<p>user name : Marian Pa dzioch</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-2434">{'None': 2, 'soccer': 1, 'robotic-arm': 4, 'rcservo': 1, 'valve': 1, 'simulator': 1, 'mechanism': 6, 'gearing': 0, 'tracks': 0, 'chassis': 0, 'motor': 2, 'stepper-motor': 2, 'manufacturing': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2434">Load Comments</button></br>
			<div id = "commentsection-2434" class = 'collapse'>
			<div id = "comment-14650" class = "comment">
				<p>I'm voting to close this question because there's not actually any real question. Yes you can build things out of wood.</p>
			</div>
			</div>
				<textarea id = "speech-2434" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2434">
					<img id="start_img-2434" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2434">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2436"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2436" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The main problem you will have with this idea is that the MakerBeam / MicroRax / 80/20 rails are extruded aluminum, not milled.  It might be difficult to replicate the design in wood.</p>

<p>Beyond that, the wood will have roughly 1/10 the <a href="http://en.wikipedia.org/wiki/Ultimate_tensile_strength" rel="nofollow">tensile strength</a> of the aluminum and 1/20th the compression strength.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2436" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2436">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2436" class = 'collapse'>
			</div>
				<textarea id = "speech-2436" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2436">
					<img id="start_img-2436" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2436">Comment</button>
			<br><div id = "ans-8496"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8496" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you don't want to use prepared components, your best bet is using materials that benefit from economies of scale. Find one that suits you (it could be wood boards, steel pipe for plumbing or conduit, steel L or C sections, Aluminum extrusions for architecture, or plastic pipe) and then find where your local builders or tradespeople dump or recycle old material. You should be able to get it for cheap or free.</p>

<p>You will need to learn how to work with the materials you choose; but that is a basic requirement for trying to save money in this way. </p>

<p>A hand saw, a file/rasp, and a drill should be enough to get you started for tools. </p>

<p>Keep in mind that this puts you on a journey of learning to craft some type of material rather than experiment with 3D printing. If the 3D printing part is what's important to you, fundraise or work extra hours until you can buy a kit or a prebuilt printer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8496" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8496">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8496" class = 'collapse'>
			</div>
				<textarea id = "speech-8496" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8496">
					<img id="start_img-8496" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8496">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>