<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it OSX or OS X?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-609" class = "post">
			<h2>Question</h2>
			<div id="vote-609" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">22</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1546</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it OSX or OS X?</h2>
<p>Or does it even matter?</p>

<p>As I <a href="https://apple.meta.stackexchange.com/questions/606/who-is-this-character-with-the-and-the-running-around-editing-all-these-post">mentioned yesterday</a>, I'm editing a ton of question titles. I tend to change OSX to OS X just out of personal preference, but I wonder if that will annoy anyone? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-609" data-toggle = "popover">
				<p>user name : hairboat</p>
				<p> user reputation : 1322</p>
				<p class = "tagcontent" id = "usertaginfo-609">{'osx': 22, 'None': 10, 'discussion': 100, 'status-completed': 6, 'sponsorship': 8, 'exact-duplicates': 3, 'lion': 9, 'twitter': 6, 'site-promotion': 72}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-609">Load Comments</button></br>
			<div id = "commentsection-609" class = 'collapse'>
			<div id = "comment-1106" class = "comment">
				<p>Oh it matters ;-) this crowd is picky, detail-oriented, and very vocal</p>
			</div>
			<div id = "comment-1107" class = "comment">
				<p>@bmike thus the barrage of teeny jargon-related questions! CHAOS has a strict no-toe-stomping policy.</p>
			</div>
			<div id = "comment-1110" class = "comment">
				<p>You are off to a great start - getting consensus, asking - but taking action nonetheless :-) This joint is starting to look "real classy".</p>
			</div>
			<div id = "comment-1117" class = "comment">
				<p>Detail-oriented? Moi? Probably avidly so, and it's the attention to detail (amongst other things) that makes this joint all the classier :-)</p>
			</div>
			<div id = "comment-6323" class = "comment">
				<p>Wait, why is this on the meta? Shouldn't this be on the main site?</p>
			</div>
			</div>
				<textarea id = "speech-609" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-609">
					<img id="start_img-609" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-609">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-610"  class = "post">
				<h2>Answer</h2>
			<div id="vote-610" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">26</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Apple's Mac OS X Lion website, documentation, and marketing material all have spaces between OS and X. I'd assume OS X is the correct way to spell OS X. Sidebar, Mac OS X is pronounced Mac Oh Ess Ten, not Oh Ess Ex. This can be confirmed by using the say command in the terminal:</p>

<pre><code>$ say OS X             # Returns Oh Ess Ten
$ say OSX              # Returns Oh Ess Ex
$ say X                # Returns Ex
$ say Roman numeral X  # Returns Ex
</code></pre>

<p>Also, as noted by michaelmichael the proper spelling would be <strong>Mac</strong> OS X.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-610" data-toggle = "popover">
				<p>user name : Aaron Lake</p>
				<p> user reputation : 3074</p>
				<p class = "tagcontent" id = "usertaginfo-610">{'None': 26}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-610">Load Comments</button></br>
			<div id = "commentsection-610" class = 'collapse'>
			<div id = "comment-1097" class = "comment">
				<p>That's what I thought. We just like to be careful - sometimes people get snippy when we bust in and rearrange all the furniture! (To wit: http://meta.english.stackexchange.com/questions/1666/who-is-lauren-and-why-is-she-changing-posts-introducing-myself)</p>
			</div>
			<div id = "comment-1099" class = "comment">
				<p>Is there any footage of Jobs saying "Oh Ess Ten"?</p>
			</div>
			<div id = "comment-1127" class = "comment">
				<p>Almost certainly. If not [tag:steve-jobs], I have certainly heard other Apple people speak the word "ten" (**never** heard Apple say "X").</p>
			</div>
			<div id = "comment-1128" class = "comment">
				<p>http://www.apple.com/quicktime/qtv/earningsq311/ at 13:33 on the timeline, "First: when we deliver Mac OS X Lion " (pronounced *ten*).</p>
			</div>
			<div id = "comment-6197" class = "comment">
				<p>As well as the website, I like to refer to the various versions of the Apple Style Guide, e.g. https://help.apple.com/asg/mac/2013/ASG_2013.pdf.  (They revise it every few years, and I haven't checked recently.)</p>
			</div>
			<div id = "comment-6198" class = "comment">
				<p>Great answer, but at some point since Lion, Apple adopted the terminology OS X.  And now (2016) we have macOS Sierra.  In writing specifically about Lion (for exampe) I still like to include the version number and write "OS X 10.7 Lion", at least at the first appearance in the piece.</p>
			</div>
			</div>
				<textarea id = "speech-610" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-610">
					<img id="start_img-610" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-610">Comment</button>
			<br><div id = "ans-613"  class = "post">
				<h2>Answer</h2>
			<div id="vote-613" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To be <em>really</em> nitpicky, it's <strong>Mac</strong> OS X. They're fanatical about this in Apple Store retail training.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-613" data-toggle = "popover">
				<p>user name : michaelmichael</p>
				<p> user reputation : 2688</p>
				<p class = "tagcontent" id = "usertaginfo-613">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-613">Load Comments</button></br>
			<div id = "commentsection-613" class = 'collapse'>
			<div id = "comment-1100" class = "comment">
				<p>Is that something I should be striving for when I'm editing? Or is it "colloquially" ok to just leave it at OS X?</p>
			</div>
			<div id = "comment-1102" class = "comment">
				<p>You know what? I stand corrected. Even though http://www.apple.com/osx 404s, all the branding on http://www.apple.com/macosx talks about OS X Lion - no "Mac". Perhaps they've changed their stance since I heard the above anecdote. I'm sure it won't matter much unless Mac OS is still in version 10 by the time iOS reaches its 10th version.</p>
			</div>
			<div id = "comment-1105" class = "comment">
				<p>Yeah, they changed their stance with Lion for some reason and are using "OS X" on the website and marketing material. Though for some reason they still use "Mac OS X" in the actual software. Bizzare...</p>
			</div>
			<div id = "comment-1111" class = "comment">
				<p>It's always been Mac OS X for a long time, but the people that "read the tea leaves" and watch each slide of every keynote that apple publishes have noticed Apple to start to write OS X when it used to _always_ have Mac before the OS. Long time observers feel some references to OS X may stand alone when referring to commonality between iOS and Mac OS X. Best to use Mac until the stand alone usage gains traction or it's clearly meant to be inclusive of iOS and Mac OS X.</p>
			</div>
			<div id = "comment-1160" class = "comment">
				<p>Thanks michaelmichael, I updated my post.</p>
			</div>
			</div>
				<textarea id = "speech-613" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-613">
					<img id="start_img-613" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-613">Comment</button>
			<br><div id = "ans-620"  class = "post">
				<h2>Answer</h2>
			<div id="vote-620" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>Suggestions</h1>

<p>I should: </p>

<ol>
<li>always discourage <strong>OSX</strong> (with or without a <em>Mac</em> prefix)</li>
<li>encourage <strong>Mac OS X</strong> whilst Apple support and licensing for OS X is limited to Mac hardware   currently in <a href="http://www.apple.com/legal/sla/" rel="nofollow noreferrer">Apple   Legal</a> there is no OS X without Mac; System Information in the first release of Lion describes Mac OS X ; and so on</li>
<li>without wishing to speculate, consider the possibility that Apple may one day license <strong>OS X</strong> for use on hardware that is not Mac   not to be confused with past and present <a href="http://en.wikipedia.org/wiki/OSx86" rel="nofollow noreferrer">OSx86</a> (Hackintosh) approaches.</li>
</ol>

<h2>Related (but not listed as such in the sidebar)</h2>

<p><a href="https://apple.meta.stackexchange.com/q/1/8546">What is the difference between [mac] and [apple]?</a> (2010-08-17)  AFAICT focused on tagging</p>

<p><a href="https://apple.meta.stackexchange.com/q/45/8546">On the right name of Apple products and softwares</a> (2010-08-18)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-620" data-toggle = "popover">
				<p>user name : Graham Perrin</p>
				<p> user reputation : 4827</p>
				<p class = "tagcontent" id = "usertaginfo-620">{'None': 30, 'tags': 7, 'support': 7, 'status-completed': 2, 'bug': 3, 'design': 6, 'feature-request': 18, 'status-bydesign': 5, 'discussion': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-620" class = 'collapse'>
			</div>
				<textarea id = "speech-620" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-620">
					<img id="start_img-620" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-620">Comment</button>
			<br><div id = "ans-2903"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2903" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Now it is neither! As of June 13, 2016, the name has been changed to macOS <a href="https://www.apple.com/macos/sierra/" rel="nofollow noreferrer">https://www.apple.com/macos/sierra/</a></p>

<p><a href="https://i.stack.imgur.com/yvS4g.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/yvS4g.png" alt="enter image description here"></a></p>

<blockquote>
  <p>During the keynote at WWDC on June 13, 2016, Apple announced that OS X would be renamed macOS to stylistically match Apple's other operating systems, such as iOS, watchOS, and tvOS.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2903" data-toggle = "popover">
				<p>user name : 10 Replies</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-2903">{'None': 12}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2903">Load Comments</button></br>
			<div id = "commentsection-2903" class = 'collapse'>
			<div id = "comment-6345" class = "comment">
				<p>@JeremyDouglass uh... definitely didn't just edit and change that just now because I didn't notice lol.</p>
			</div>
			<div id = "comment-6346" class = "comment">
				<p>Upvote for the real-time error correction feature on this answer. Which may be needed if Apple keeps changing the <strike>Mac OS X</strike> <strike>OS X</strike> macOS branding....</p>
			</div>
			</div>
				<textarea id = "speech-2903" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2903">
					<img id="start_img-2903" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2903">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>