<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it practical to 3D print a refractive lens?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-520" class = "post">
			<h2>Question</h2>
			<div id="vote-520" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 538</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it practical to 3D print a refractive lens?</h2>
<p>A lot of awesome optics projects like hacking cameras and projectors become possible with CAD lens modelling software<sup>1</sup>, if we can also easily prototype the lenses we design.</p>

<p>What are some materials and additive or subtractive 3D fabrication strategies that can make a clear lens with strong refraction and the ability to be polished?</p>

<p><sup>1</sup> <a href="http://www.optenso.com/links/links.html#lds" rel="nofollow">Here is a helpful list of 37 different lens design &amp; simulation programs</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-520" data-toggle = "popover">
				<p>user name : AlcubierreDrive</p>
				<p> user reputation : 248</p>
				<p class = "tagcontent" id = "usertaginfo-520">{'None': 8, 'manufacturing': 5, 'cnc': 2, '3d-printing': 5, 'arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-520">Load Comments</button></br>
			<div id = "commentsection-520" class = 'collapse'>
			<div id = "comment-608" class = "comment">
				<p>crosspost: http://www.reddit.com/r/3Dprinting/comments/13s4ys/ways_to_3d_print_a_refractive_lens/</p>
			</div>
			<div id = "comment-617" class = "comment">
				<p>Could you replace the lens with a properly-curved mirror and get the same effect?  That would allow you to simply put a reflective finish on the 3d-printed material of your choice.</p>
			</div>
			<div id = "comment-623" class = "comment">
				<p>This person chose to 3d-print a mold, and then cast the lens: http://christopherolah.files.wordpress.com/2011/11/lensesohj.pdf</p>
			</div>
			<div id = "comment-626" class = "comment">
				<p>Until [Digital Fabrication](http://area51.stackexchange.com/proposals/41850/digital-fabrication?referrer=HAU0BHc85WMAKpA7nTzd4Q2) gets off the ground, I think this is *marginally* on topic here.</p>
			</div>
			</div>
				<textarea id = "speech-520" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-520">
					<img id="start_img-520" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-520">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-575"  class = "post">
				<h2>Answer</h2>
			<div id="vote-575" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I interpret your question to read, that you want to directly manufacture the lens through an additive process.</p>

<p>My experience with this recently is that it basically isn't possible (practically anyway). Even injection molding lenses of good quality is quite an art. There is a reason that optical-quality glass lenses are so expensive. </p>

<p>More specifically, we tried to make a custom LED focusing lens using stereo-lithography in a range of PC, PE, PTFE, and (even!) PVC-type plastics. In all cases we had trouble achieving sufficient optical clarity, uniform density, and dimensional accuracy. Granted, we were making a small lens (about 11mm diameter), but it was suspended across an integrated holder (causing a lot of the same problems you'll face if you try to fabricate just a lens in isolation).</p>

<p>I know this has been a bit of a hand-wavy response, but hopefully it's at least a little helpful. If anyone else has any better experiences with this, I'd love to hear about it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-575" data-toggle = "popover">
				<p>user name : DrFriedParts</p>
				<p> user reputation : 583</p>
				<p class = "tagcontent" id = "usertaginfo-575">{'control': 7, 'motion': 7, 'None': 40, 'wiring': 7, 'routing': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-575" class = 'collapse'>
			</div>
				<textarea id = "speech-575" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-575">
					<img id="start_img-575" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-575">Comment</button>
			<br><div id = "ans-2317"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2317" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>3D printing a refractive lens is possible using "printoptical technology" by LUXeXceL. It was developed for making perfectly smooth surfaces. With this technology there is no need for post-processing (grinding, polishing / coloring, etc.). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2317" data-toggle = "popover">
				<p>user name : Michiel_Cremers</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2317">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2317" class = 'collapse'>
			</div>
				<textarea id = "speech-2317" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2317">
					<img id="start_img-2317" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2317">Comment</button>
			<br><div id = "ans-2319"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2319" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One thing to watch out for is that many of the additive or extrusion-based 3D printers will leave small gaps between the beads of plastic that they lay down.  Even if you polish the surface, the interior will be very poor optically.</p>

<p>You may want to look at <a href="http://en.wikipedia.org/wiki/Selective_laser_sintering" rel="nofollow">Selective Laser Sintering (SLS)</a> to create a finished product that is more uniformly solid.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2319" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2319">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2319" class = 'collapse'>
			</div>
				<textarea id = "speech-2319" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2319">
					<img id="start_img-2319" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2319">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>