<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to use a LiPo charger as a lab bench power supply?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10490" class = "post">
			<h2>Question</h2>
			<div id="vote-10490" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 48</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to use a LiPo charger as a lab bench power supply?</h2>
<p>I recently thought about building a lab bench power supply, it comes in cheaper and I love to build things...</p>

<p>But then I also have a LiPo charger an iMax B6AC, that I had bought for my quadcopter, then came the idea of whether I can use the charger as a lab bench power supply...</p>

<p>My questions is, could this work and how could I make it work?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10490" data-toggle = "popover">
				<p>user name : SidS</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-10490">{'quadcopter': 3, 'None': 5, 'power': 1, 'motor': 4, 'electric': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10490" class = 'collapse'>
			</div>
				<textarea id = "speech-10490" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10490">
					<img id="start_img-10490" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10490">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10495"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10495" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The LiPo charger probably doesnt put out enough current to be very useful, and it likely doesn't have the circuit design to provide power at a stable voltage and current.</p>

<p>You would be better off converting a switching power supply for a desktop PC.</p>

<p>Here's a good example</p>

<p><a href="http://www.instructables.com/id/Convert-A-Computer-Power-supply-to-a-Bench-Top-Lab/&amp;ved=0ahUKEwj2pZ6VoMzOAhUFySYKHXXmBXsQFggbMAA&amp;usg=AFQjCNEC2GWbuuvQinSSW4sJptmYU3irHg&amp;sig2=sin4n44XrDZmciFVh_QTKg" rel="nofollow">http://www.instructables.com/id/Convert-A-Computer-Power-supply-to-a-Bench-Top-Lab/&amp;ved=0ahUKEwj2pZ6VoMzOAhUFySYKHXXmBXsQFggbMAA&amp;usg=AFQjCNEC2GWbuuvQinSSW4sJptmYU3irHg&amp;sig2=sin4n44XrDZmciFVh_QTKg</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10495" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-10495">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10495" class = 'collapse'>
			</div>
				<textarea id = "speech-10495" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10495">
					<img id="start_img-10495" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10495">Comment</button>
			<br><div id = "ans-10497"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10497" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could trick the charger into providing power for you by applying a voltage to the balance sensing lines. However the control you have over it would be limited. </p>

<p>Switching power supplies are ridiculously cheap these days. Search ebay for "switching power supply dc 24v" for whatever voltage you want. I just keep a pile of these in the closet for the voltages I use the most (5, 12, 24 and 48). That plus one low power bench supply with current limiting to debug new boards with.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10497" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10497">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10497">Load Comments</button></br>
			<div id = "commentsection-10497" class = 'collapse'>
			<div id = "comment-18889" class = "comment">
				<p>Ah, alright... I'm thinking about making my own lab bench power supply - as seen on GreatScott!'s channel... It might come in useful.. Thanks for the advise though!</p>
			</div>
			<div id = "comment-18892" class = "comment">
				<p>@SidS You might consider a [bench power supply from a computer ATX power supply](http://www.instructables.com/id/ATX--%3E-Lab-Bench-Power-Supply-Conversion/). I made one of these myself. I left the power supply in the computer case and added [voltage indicators](https://www.amazon.com/4-0-30v-Digital-Display-Voltage-Voltmeter/dp/B00B689UGA) for each bus, which are all installed in the side of the case. Now I've got a big box with a removable side that doubles as a storage case and a power supply.</p>
			</div>
			</div>
				<textarea id = "speech-10497" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10497">
					<img id="start_img-10497" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10497">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>