<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to make Kite flying robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1072" class = "post">
			<h2>Question</h2>
			<div id="vote-1072" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 752</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to make Kite flying robot?</h2>
<p>This question was asked in <a href="https://electronics.stackexchange.com/questions/61014/real-time-location-sensor-for-following-a-kite-in-the-air?noredirect=1#comment117178_61014">electronics stackexchange</a>. I want to know if is it possible to make a robot that can fly kites. Is this idea practical? I was thinking that making a kite is just like making some flying quadcopter or helicopter. I just want to know is this idea really implementable?  Is there an example or similar work in reference to this?     </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1072" data-toggle = "popover">
				<p>user name : Abdul Rehman</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-1072">{'control': 2, 'quadcopter': 4, 'None': 1, 'usb': 6, 'algorithm': 1, 'arduino': 6, 'radio-control': 2, 'simulator': 2, 'mapping': 1, 'machine-learning': 1, 'micromouse': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1072">Load Comments</button></br>
			<div id = "commentsection-1072" class = 'collapse'>
			<div id = "comment-2494" class = "comment">
				<p>What happens if you tie a kite to a car and drive at a suitable (not too fast) speed? Wouldn't the kite start going up? I've never flown a kite, but I see that people who do usually just run around. If this is true, then _some robot that can fly kites_ is any mobile robot with enough speed.</p>
			</div>
			<div id = "comment-2500" class = "comment">
				<p>I used to fly stunt kites a lot.  Not easy.  I don't know about an electronic kite, but a robot controlling one would be pretty difficult.  You would need to have some good vision tracking and some great wind conditions.</p>
			</div>
			<div id = "comment-2501" class = "comment">
				<p>Can you add some details to your question?  [A chair is capable of flying a kite](http://flytogether.kittyhawk.com/wp-content/uploads/tdomf//111/parafoil5atbeach-300x400.jpg).</p>
			</div>
			<div id = "comment-2503" class = "comment">
				<p>I'd guess he's talking more in terms of kite fights which happen in Indian Festivals. Kite fights involve a lot more work in comparison to just flying a kite.</p>
			</div>
			<div id = "comment-2598" class = "comment">
				<p>I'd rather not guess.  This is an interesting problem and deserves an accurate answer.</p>
			</div>
			<div id = "comment-2717" class = "comment">
				<p>@Naresh The question doesn't say anything at all about kite fighting. Hard to see why you'd read that into it.</p>
			</div>
			<div id = "comment-2718" class = "comment">
				<p>Caleb: The reasoning is simple. Kite fighting is popular in India/SE Asia and he seems to be from there. 

Kite flying is easy. See Ian's answer. A chair can fly a kite. Kite fights require you to check with the tension on the strings and loosen and tighten the strings.</p>
			</div>
			<div id = "comment-3510" class = "comment">
				<p>I will say yes it possible i dont think it wiil bee too hard</p>
			</div>
			<div id = "comment-13468" class = "comment">
				<p>It's easier to build a robot kite than a robot that flies kites, anyway, I wouldn't make a terrestrial robot to fly a kite because the ground is usually irregular, but a drone would easily fly a kite even though I think the kite is gonna act as a parachute on the drone, try a drone that flies in zig-zag motion so you can lift the kite up in a shorter amount of space</p>
			</div>
			</div>
				<textarea id = "speech-1072" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1072">
					<img id="start_img-1072" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1072">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1075"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1075" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Of course it's possible. Here's how I would try it out.</p>

<ol>
<li>This would work best if the kite had some sort of sensor on it. GPS would work, but better would be some sort of local GPS function. This would allow the robot to know where the kite was easily. It would also be helpful to have a rate sensor to give a better overall picture of what is happening.</li>
<li>The robot would have to be able to pick up the kite somehow, and move a far enough distance away. </li>
<li>The robot would also need to know wind speed, to figure out where to go.</li>
<li>When the robot was an appropriate distance away, it could simply reel in the string, probably from an elevated position.</li>
<li>When the robot sensed that the kite was getting higher, it could stop pulling back.</li>
</ol>

<p>It would not be a simple robot by any means, but it should be possible. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1075" data-toggle = "popover">
				<p>user name : PearsonArtPhoto</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-1075">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1075">Load Comments</button></br>
			<div id = "commentsection-1075" class = 'collapse'>
			<div id = "comment-2509" class = "comment">
				<p>Even good GPS units can't deliver more than a few fixes per second, so you'd need another sensor to accurately measure the movement and position of the kite.</p>
			</div>
			<div id = "comment-2511" class = "comment">
				<p>True enough. Added that a rate sensor would be useful.</p>
			</div>
			</div>
				<textarea id = "speech-1075" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1075">
					<img id="start_img-1075" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1075">Comment</button>
			<br><div id = "ans-1139"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1139" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I read a magazine article many months ago about an automated system of power generation for isolated areas like disaster relief and such where a kite was used instead of a propeller driven wind turbine.  The write-up was not particularly technical but there was a picture of the ground unit and it looked like a winch with a boom like a fishing rod or something in that vein.</p>

<p>I understood it would allow the kite to pull away in the wind and generate power by running the winch motor as a generator and then it would control the kite to either loose drag or swing broadside to the wind so it could be reeled in for much less power draw, to be repeated while the wind lasted.</p>

<p>So it does seem possible to at least partly control kite operation via automation.</p>

<p><strong>EDIT:</strong><br>
<em>I found a company <a href="http://www.enerkite.de/en/" rel="nofollow">EnerKite</a> that makes use of a controlled kite for electricity generation.  It is self launching by swinging it around on a extensible pole, pretty slick.</em></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1139" data-toggle = "popover">
				<p>user name : Kalle Pihlajasaari</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-1139">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1139" class = 'collapse'>
			</div>
				<textarea id = "speech-1139" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1139">
					<img id="start_img-1139" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1139">Comment</button>
			<br><div id = "ans-1168"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1168" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm the author of <a href="https://electronics.stackexchange.com/q/61014">the question you refer to</a> and I will tell you; it is in fact possible. But unfortunately not easy.</p>

<p>There is quite some heavy development going on now, since it seems to be the next promis of wind energy. This is because at higher altitudes, winds are stronger and more constant. In addition to that, there is no need for large constructions (like conventional wind turbines) and the setup is highly mobile (which indeed makes it ideal for emergency situations or developing countries). Lastly, there is less "view pollution" as we more or less call it in Dutch. This is the concept that everyone wants to use green wind energy in their homes, but no one wants a humongous wind turbine in their backyard because of the noise and the view. A kite however, can be a thousand square meters, but if its 5 kilometers up in the air, you just see a string going up in the air.</p>

<p>Next to the advantages, there are some severe challenges as well though. These are of course in some hardware related parts. For example; how do you reliably track the kite in the air (which was exactly my issue with my other question), but also; how do you measure wind speed at kite height without the kite its wind disturbance, and how do you overcome the rope weight when the rope becomes 5 kilometers long?</p>

<p>The software issues seem to be a way bigger issue than the hardware ones though. It appears to be not so easy to fly a kite reliably in a figure 8. This is because you're dealing with quite an unstable environment; changing wind direction, varying speed, and incidental wind gusts. Kite deformations and the different reactions of the kite in different parts within and outside the so called "wind power zone" are very different. A simple PID controller is not the easy solution apparantly. In addition to these things, heavy wind gusts can also be a danger in that it can break the kite's rope. So the kite must be able to quickly depower itself when a windgust comes up, which needs some kind of feed-forward loop. Finally, if the wireless data connection between the kite and the ground station breaks (for whatever reason) how can the kite control itself to decent to make a safe landing.</p>

<p>The reason I'm so into this is because I'm looking into doing a PhD at the Delft University to develop a evolutionary based self learning kite control system for the <a href="http://kitepower.eu/" rel="nofollow noreferrer">currect kitepower project</a> they have there.</p>

<p>Although I'm not very experienced with the hardware side of the story, I thought why not start myself while I haven't started at the TU Delft yet? So I set out to find what I need for all of this. By now I have a good grasp of my first plans. I am now able to do some motor controlling and I am currently in the process of collecting some parts I need.</p>

<p>If you also want to try building one that would be great. The more people in it, the more experience that is gained.. :)</p>

<p>Cheers</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1168" data-toggle = "popover">
				<p>user name : kramer65</p>
				<p> user reputation : 227</p>
				<p class = "tagcontent" id = "usertaginfo-1168">{'wheel': 6, 'None': 5, 'noise': 1, 'usb': 6, 'algorithm': 1, 'encoding': 6, 'battery': 1, 'uav': 5, 'python': 1, 'kalman-filter': 1, 'imu': 1, 'motor': 1, 'raspberry-pi': 4, 'mobile-robot': 4, 'sensors': 6, 'pitot-tube': 1, 'self-driving': 1, 'steering': 1, 'gyroscope': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1168" class = 'collapse'>
			</div>
				<textarea id = "speech-1168" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1168">
					<img id="start_img-1168" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1168">Comment</button>
			<br><div id = "ans-1295"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1295" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Another group that is working on Kite-flying robots is Professor Srikanth Saripalli's group at Arizona State University. Perhaps looking into that, their videos and contacting them would give you additional perspective.</p>

<p><a href="http://sese.asu.edu/person/srikanth-saripalli" rel="nofollow">Professor Srikanth Saripalli's Homepage</a></p>

<p><a href="http://robotics.asu.edu/projects/autokite/" rel="nofollow">Kite-Flying Robot Team - Webpage and Videos</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1295" data-toggle = "popover">
				<p>user name : Naresh</p>
				<p> user reputation : 381</p>
				<p class = "tagcontent" id = "usertaginfo-1295">{'control': 3, 'None': 14, 'walking-robot': 8, 'rcservo': 6, 'torque': 2, 'pid': 5, 'wheeled-robot': 2, 'legged': 5, 'gait': 2, 'motor': 8, 'mobile-robot': 8, 'stepper-motor': 2, 'navigation': 6, 'hexapod': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1295" class = 'collapse'>
			</div>
				<textarea id = "speech-1295" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1295">
					<img id="start_img-1295" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1295">Comment</button>
			<br><div id = "ans-1675"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1675" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am working on an open source project to make a platform to make diy automated kite steering unit. I sent a reply as well on electronics.stackexchange.com</p>

<p>I am using SimpleCV which is a python binding to OpenCV to get the position and orientation of the kite relative to the camera of my mobile phone. I use the acceleration and magnetometer of my mobile phone to get the orientation of the camera. I then send the data to my computer over wifi and process them into python.</p>

<p>The project is still in development, but everybody's welcome to help. The source code and documentation is available here <a href="http://code.google.com/p/robokite/" rel="nofollow">http://code.google.com/p/robokite/</a> I have a blog but it is in french, soon in English?</p>

<p>You can also have a look at zenith wind power. It's a student project. The code was on google code as well, but can't be seen anymore for unknown reason. However, you can still get it with svn checkout <a href="http://zenith-wind-power.googlecode.com/svn/trunk" rel="nofollow">http://zenith-wind-power.googlecode.com/svn/trunk</a> I was not able to compile it, but they made a great job. Adrien should start working again on the project in September.</p>

<p>You have as well academics project (mainly TU Delft).
And you have the "proprietary" solution lie Makani power, sky sails, kite gen.</p>

<p>Hope it helps!
Baptiste LABAT</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1675" data-toggle = "popover">
				<p>user name : user142030</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1675">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1675" class = 'collapse'>
			</div>
				<textarea id = "speech-1675" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1675">
					<img id="start_img-1675" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1675">Comment</button>
			<br><div id = "ans-8381"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8381" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Feso has one, you can use it for inspiration</p>

<p><a href="https://www.festo.com/net/SupportPortal/Files/42084/CyberKite_en.pdf" rel="nofollow">https://www.festo.com/net/SupportPortal/Files/42084/CyberKite_en.pdf</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8381" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8381">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8381" class = 'collapse'>
			</div>
				<textarea id = "speech-8381" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8381">
					<img id="start_img-8381" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8381">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>