<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>is it possible to track movement on a tennis court?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4693" class = "post">
			<h2>Question</h2>
			<div id="vote-4693" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 548</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>is it possible to track movement on a tennis court?</h2>
<p>I'd like to track my run in an indoor tennis court. GPS won't be available so I was thinking researching for other solutions:</p>

<p>Accelerometer: I concluded it's a no go because while playing tennis the player makes a lot of movements that include spinning his body that can alter the data.</p>

<p>Then I thought that a 3/4 point IR system might help but again from what I've understood it's hard for the IR system to track the movement since they won't be able to focus on the player.</p>

<p>So my final thought went to radio systems but I couldn't find any info and it's also hard for me to see a theoretical solution at least on how I can mesure the movement/speed of the player.</p>

<p>So here is my question: Is there any existing system that is able to track random movement of an object (athlete) and give info like speed and distance? is there anywhere resources about how such a system might be achieved or at least the exact technology used for it?</p>

<p>Any suggestions and ideas are greatly appreaciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4693" data-toggle = "popover">
				<p>user name : jnhghy - Jantea Alexandru</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-4693">{'None': 0, 'movement': 1, 'kinematics': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4693" class = 'collapse'>
			</div>
				<textarea id = "speech-4693" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4693">
					<img id="start_img-4693" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4693">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4695"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4695" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well the IR tracking system can work, but I think you need to place the camera at the ceiling.
Usually the distance between player and camera at the ceiling of a tennis-hall (height 8+m I guess) stays about the same.</p>

<p>Using IMU-Data is a bad idea cause of the really complex movement</p>

<p>EDIT1:
For implementing the IR-Tracking (in this case a pretty simple one) you need an IR camera.
Use a 25$ playstation camera and modify it: <a href="http://www.maximumpc.com/article/features/build_your_own_multitouch_surface_computer?page=0,2" rel="nofollow">http://www.maximumpc.com/article/features/build_your_own_multitouch_surface_computer?page=0,2</a>)</p>

<p>Then place a IR Led at your head or at another position which can be seen pretty good by the camera.</p>

<p>I'm actually not sure if there is any fitting software, but writing such stuff is pretty straight forward.</p>

<p>If you look now at a picture of this cam. It will be all black except one mega-bright spot</p>

<p>OpenCV will be able to communicate with the camera easily and get some images. Then you can use some simple object tracking (or also called blob detection) in opencv to get the position
You will get your x/y position. You can perform some basic trigonometry to improve the result but basically the x/y position correlate with a real life postion (the camrera is not moving and you will have most of the time the same vertical distance between you and the camera)  <br>
Now it's just a pretty straight logging.
For the velocity just multiply the distance you moved between two frames with the frame rate.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4695" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4695">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4695">Load Comments</button></br>
			<div id = "commentsection-4695" class = 'collapse'>
			<div id = "comment-7330" class = "comment">
				<p>Keep in mind that bright daylight might wash out IR though.</p>
			</div>
			<div id = "comment-7331" class = "comment">
				<p>If it is played in a hall (what was one of my precondition of my answer) then bright daylight will not be a huge factor in this setup.</p>
			</div>
			<div id = "comment-7333" class = "comment">
				<p>Do you have a link to any such project? or how to use IR tracking? or how to calculate distance and speed using IR systems?</p>
			</div>
			<div id = "comment-7334" class = "comment">
				<p>^Updated answer</p>
			</div>
			<div id = "comment-7348" class = "comment">
				<p>I have been using opencv and this is and this may be more or less what you are looking for http://maximgalushka.com/2013/10/01/tracking-people-from-webcam-with-opencv/ . See the youtube video attached as it may be exactly what you are looking for. The algorithm he is using is much better than the HOG algorithm I have been using for person detection. Keep in mind really fast moving objects may be lost during capture.So this may not be as precise as you may want it.</p>
			</div>
			<div id = "comment-7349" class = "comment">
				<p>Well to improve the accuracy of this system i suggested to use IR-Light. Then you need only to detect a white circle in a black image, this is way easier and more accurate then people detection</p>
			</div>
			</div>
				<textarea id = "speech-4695" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4695">
					<img id="start_img-4695" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4695">Comment</button>
			<br><div id = "ans-4697"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4697" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should look into motion capture systems.  These systems use fixed infrared cameras to track retro-reflective markers on the object.  They got their popularity from tracking humans for the movies.  But are very handy in robotics.  Most of the fancy research being done with quadcopters relies on these systems.  For rigid bodies, you can get sub-millimeter accuracy at hundreds of hz.</p>

<p>The price is probably out of the question for a personal project, but if you are doing this as part of a school or lab, then it may be a good investment.  Vicon (<a href="http://www.vicon.com/" rel="nofollow">http://www.vicon.com/</a>) is probably the most well known company.  Another is NaturalPoint (<a href="https://www.naturalpoint.com/optitrack/" rel="nofollow">https://www.naturalpoint.com/optitrack/</a>).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4697" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4697">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4697" class = 'collapse'>
			</div>
				<textarea id = "speech-4697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4697">
					<img id="start_img-4697" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4697">Comment</button>
			<br><div id = "ans-4979"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4979" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For this project, as well as others like mine (I'll mention after), I would also consider Low Energy Bluetooth or BTLE.</p>

<p>It would be using radio signals like you said.</p>

<p>I would like to see how I, or a cat, or anyone spends there time. Working from home I spend most my day in the house and mostly at the desk or behind the computer screen. But it would be interesting to collect, analyze and visualize this information.</p>

<p>Two methods:
1) Just set up a few fixed-point broadcasting "towers" with the Arduino on the user as a receiver, recording tower_ID and tower_amplitude and simply triangulate.</p>

<p>2) Set up the user / tennis player / cat as the broadcaster and each tower as a receiver.</p>

<p>Each can be ideal for different situations. Consider how long the User must wear the device, how heavy it can be and thus how much power it can carry.
^ My bet would be that method 1 would require more sophistication and thus a larger arduino / shield / power combination to be worn on the User (Tennis player) / Person (Me) / Cat (not me).
^^ Not so good for tennis or action sports, but not a big deal for me lounging around the house in my sweat pants ([See Loss Of Regimen in TheOatMeal blog about working from home post] for lolz)</p>

<p>With the second method you could use a cheap BTLE transmitter that is lightweight (most the weight of these are made up of the watch battery used to power them) about the size and weight of a 3 stacked quarters.
The receiver towers could then be designed with power systems that don't require the cost of reduced weight.
The Second method would, however, require a little extra post data munging since you would need to reconcile data from multiple source inputs rather than method 1's use of a single source with multiple inputs.</p>

<p>I am still digging around with the project myself having just started researching today and won't get around to designing later this month.</p>

<p>Please feel free to contact me with any ideas, suggestions or questions 
@
<a href="http://www.jeradacosta.com" rel="nofollow" title="Personal Website of Jerad Acosta">My Personal Website</a> or <a href="https://www.linkedin.com/in/jeradacosta" rel="nofollow" title="Jerad Acosta LinkedIn">LinkedIn</a></p>

<p>My website / blog is way over due for a make-over and update of past and current projects. But in the coming months I will post projects such as the Brain-Computer-Interface I used to control a synthesizer with, a tactile interface which gave users texture feedback from interacting with digital objects (such as feeling a smooth surface in a picture of granite or a rigid or bumpy surface from accord pictures or programmed game objects with meta data read by the Arduino controlled feedback system build into and around a mouse)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4979" data-toggle = "popover">
				<p>user name : irJERAD</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-4979">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4979">Load Comments</button></br>
			<div id = "commentsection-4979" class = 'collapse'>
			<div id = "comment-7762" class = "comment">
				<p>What are the exact parameters that I can read from a Low Energy Bluetooth transmitter that can give me the distance between the transmitter and the receiver? from what you said I can read the amplitude of the signal but how can I get the distance between the transmitter and the recevier from that value?</p>
			</div>
			</div>
				<textarea id = "speech-4979" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4979">
					<img id="start_img-4979" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4979">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>