<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to record only incoming data with realterm?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2761" class = "post">
			<h2>Question</h2>
			<div id="vote-2761" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 73</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to record only incoming data with realterm?</h2>
<p>I am trying to test a sensor circuit I'm working on. Essentially, I am using <a href="http://realterm.sourceforge.net/" rel="nofollow">RealTerm</a> to send commands to the microcontroller and it is returning the value read by the sensor. </p>

<p>When logging to a file in RealTerm, I noticed the commands being sent were showing up as well as the data being returned. I was wondering if anyone knew a way to record only the incoming data using RealTerm, and not the outgoing commands. Any suggestions would be greatly appreciated. Unfortunately, there is no way around using RealTerm specifically because of a company policy. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2761" data-toggle = "popover">
				<p>user name : user40171</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-2761">{'None': 1, 'serial': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2761">Load Comments</button></br>
			<div id = "commentsection-2761" class = 'collapse'>
			<div id = "comment-5147" class = "comment">
				<p>Also asked and answered here: http://electronics.stackexchange.com/questions/106073/how-do-i-log-only-received-information-in-realterm</p>
			</div>
			<div id = "comment-5262" class = "comment">
				<p>@user40171 It is generally frowned upon to post the exact same question on two stack exchange sites, especially if you're not linking the questions to each other.</p>
			</div>
			</div>
				<textarea id = "speech-2761" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2761">
					<img id="start_img-2761" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2761">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2762"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2762" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like RealTerm has <a href="http://en.wikipedia.org/wiki/Echo_%28computing%29" rel="nofollow">local echo</a> turned on.  Apparently that setting in RealTerm is (incorrectly) called "half-duplex", and should be disabled for your purposes.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2762" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2762">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2762">Load Comments</button></br>
			<div id = "commentsection-2762" class = 'collapse'>
			<div id = "comment-5142" class = "comment">
				<p>I played around with it a little, and Half duplex seems like it only applies to the display, but not the file being dumped to. I can't seem to find anything to turn off local echo in the file. Very strange</p>
			</div>
			<div id = "comment-5144" class = "comment">
				<p>It sounds like RealTerm just doesn't understand http://sourceforge.net/p/realterm/feature-requests/6/</p>
			</div>
			</div>
				<textarea id = "speech-2762" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2762">
					<img id="start_img-2762" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2762">Comment</button>
			<br><div id = "ans-2766"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2766" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use <a href="http://cutecom.sourceforge.net/" rel="nofollow">Cutecom</a> on linux or <a href="https://sites.google.com/site/terminalbpp/" rel="nofollow">Terminal</a> on windows. Both of them log only incoming data.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2766" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-2766">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2766" class = 'collapse'>
			</div>
				<textarea id = "speech-2766" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2766">
					<img id="start_img-2766" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2766">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>