<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to have A~V feed and serial communication on an RF transceiver at the same time on an Arduino?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7153" class = "post">
			<h2>Question</h2>
			<div id="vote-7153" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to have A~V feed and serial communication on an RF transceiver at the same time on an Arduino?</h2>
<p>Is it possible to transmit live audio/video feed and at the same time, receive commands through UART using only 1 RF transceiver connected to the Arduino board?</p>

<p>I want to control the Arduino through serial communication (UART) which can be accomplished by using RF connection to control it from a remote. I also want to transmit live audio and video feed from the Arduino using the same RF transceiver. Is this possible?</p>

<p>I found AVCTP, but I'm not sure if it enables serial communication. Also, I don't like to use Bluetooth for some reasons.</p>

<p>Thanks in advance!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7153" data-toggle = "popover">
				<p>user name : Erik</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-7153">{'None': 0, 'arduino': 1, 'radio-control': 1, 'communication': 1, 'microcontroller': 1, 'serial': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7153">Load Comments</button></br>
			<div id = "commentsection-7153" class = 'collapse'>
			<div id = "comment-10193" class = "comment">
				<p>are you talking live video? What kind of data, just basic serial? What range? What application?</p>
			</div>
			<div id = "comment-10205" class = "comment">
				<p>@MarkOmo Yes, live video and basic serial through a single RF transceiver. I'm thinking of 900 MHz.</p>
			</div>
			<div id = "comment-10327" class = "comment">
				<p>On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			</div>
				<textarea id = "speech-7153" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7153">
					<img id="start_img-7153" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7153">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7173"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7173" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As I suspect you found out (based on your other question <a href="https://robotics.stackexchange.com/questions/7169/robot-with-fpv-over-rf-problems">7169</a>), doing both over the same RF link will be more truble than it is worth, You could use ip as you sujested but this might turn out to be more truble than it is worth unless your main controller is a raspberry pi or BBB that already has native networking. I am assuming you are talking about a quadrocopter or RC car. For those platforms the standard thing to do is use a setup like <a href="http://www.hobbyking.com/hobbyking/store/__22824__2_4GHZ_100mW_Tx_Rx_1_3_inch_CCD_Camera_PAL_520TV_line_.html" rel="nofollow noreferrer">this</a> or make your own, consisting of a <a href="http://www.hobbyking.com/hobbyking/store/__540__543__FPV_Aerial_Video_Telemetry-2_4GHz.html" rel="nofollow noreferrer">transmitter/recever</a> pair, a <a href="http://www.hobbyking.com/hobbyking/store/__538__543__FPV_Aerial_Video_Telemetry-Cameras.html" rel="nofollow noreferrer">camera</a> and somhing to view it on. they sell plenty of battery powered monitors. as for telemetry the gold standard as far as I am concerned are the <a href="https://store.3drobotics.com/products/3dr-radio-915_mhz?taxon_id=34" rel="nofollow noreferrer">3dr 900mhz serial modules</a>, they work great up to about a mile with stock antennas beware you will need a pair to operate.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7173" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7173">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7173" class = 'collapse'>
			</div>
				<textarea id = "speech-7173" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7173">
					<img id="start_img-7173" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7173">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>