<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to use an arduino in hard real time
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11885" class = "post">
			<h2>Question</h2>
			<div id="vote-11885" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 345</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to use an arduino in hard real time</h2>
<p>I am using the ros_arduino_bridge to control a robot, by connecting the Arduino to a main pc with a usb cable. I was thinking of using the Arduino with main pc with a serial cable and then doing real time control of the Arduino by using the real time clock. </p>

<p>Is it possible to communicate with the Arduino in hard real time by using the real time clock and serial connections? I want to use Arduino board as a bridge between the main computer and the sensor and motors. And i want to control those sensors and motors in real time. All the high level processing tasks like computer vision and motion planning will be running in the main computer which then sends the commands to motors from the Arduino. So it is just acting like a bridge. </p>

<p>The reason I want hard real time is so that my robot can control its joints at very high and accurate speed so that the robot can do human level tasks like running, jumping, assembling some parts, balancing its body while moving(walking, running, jumping) at any speed (which requires the joints to be controlled at very high speed and accuracy) etc. I will be using gazebo simulator to test most of the tasks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11885" data-toggle = "popover">
				<p>user name : Dinesh Lama</p>
				<p> user reputation : 160</p>
				<p class = "tagcontent" id = "usertaginfo-11885">{'control': 0, 'stability': 1, 'None': 2, 'inverse-kinematics': 0, 'arduino': 4, 'python': 1, 'gazebo': 0, 'lidar': 0, 'servomotor': 0, 'motor': 0, 'real-time': 1, 'actuator': 0, 'serial': 1, 'ros': 2, 'servos': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11885">Load Comments</button></br>
			<div id = "commentsection-11885" class = 'collapse'>
			<div id = "comment-21136" class = "comment">
				<p>If your main computer is not running a RTOS, then I don't see the purpose of having a "hard real time" connection between the computer and arduino (and I'm not even sure what it would mean).  A typical architecture would run the heavy tasks (vision, planning)  on the main computer "as fast as possible" and then pass mid-level objectives to the arduino which handles the high rate/real time low level control.</p>
			</div>
			<div id = "comment-21138" class = "comment">
				<p>Sir i am using xenomial patched linux in my computer. I am also using ROS and Orocos.</p>
			</div>
			</div>
				<textarea id = "speech-11885" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11885">
					<img id="start_img-11885" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11885">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11888"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11888" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you willing to put an RTOS on the Arduino, or do you want to make your program deterministic with bare metal code?   If you are willing to use an RTOS, there are several to choose from.  For example, FreeRTOS and RTuinOS are available.  Check out this Dr Dobbs article from a couple of years ago for some additional options:   <a href="http://www.drdobbs.com/embedded-systems/arduino-real-time/240165395" rel="nofollow noreferrer">http://www.drdobbs.com/embedded-systems/arduino-real-time/240165395</a>. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11888" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-11888">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11888">Load Comments</button></br>
			<div id = "commentsection-11888" class = 'collapse'>
			<div id = "comment-21139" class = "comment">
				<p>Well after using the RTOS is their something extra which i need to do, to accomplish the real time communication between arduino and pc? Can i use pyserial or pypy for this purpose?</p>
			</div>
			<div id = "comment-21140" class = "comment">
				<p>That question is beyond me - I would use FreeRTOS and program in the C language.   Perhaps others on here can help with integrating Python in an RTOS.</p>
			</div>
			<div id = "comment-21149" class = "comment">
				<p>so after i use freeRTOS on arduino, send the data to pc and than read them in python using pyserial, will it be real time? I mean i will use c in arduino for RTOS and python and serial library just in the main computer to interact with the serial port. Will it be real time sir. if yes, my problem is solved. i have already patched xenomai with my pc kernel.</p>
			</div>
			<div id = "comment-21156" class = "comment">
				<p>Well, it will be possible for it to be real-time in the Arduino side.  You need to assess whether or not you can get all the data transferred and interpreted within the timing of your deterministic loop rate.</p>
			</div>
			</div>
				<textarea id = "speech-11888" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11888">
					<img id="start_img-11888" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11888">Comment</button>
			<br><div id = "ans-12179"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12179" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are multiple different parts to your question. </p>

<ol>
<li><p>Can an Ardiuno be used "in in real-time"?
Yes it can, it has hw timer interrupts, the tolerance of your oscillator will give the precision of the interrupt. </p></li>
<li><p>Can you communicate with an Ardiuno in real-time?Yyes, you can. A synchroneus communication, e.g. SPI is realtime capable. </p></li>
<li><p>Can you communicate with an Ardiuino over serial in real-time?
The serial port is an async communication. If you implement the other protocol layers ontop if it with care (e.g. maximized message length), I assume it can be done. </p></li>
<li><p>can you use USB to communicate with an Arduino in real-time?
No. USB is not real-time capable. </p></li>
</ol>

<blockquote>
  <p>All the high level processing tasks like computer vision and motion planning will be running in the main computer which then sends the commands to motors from the Arduino. So it is just acting like a bridge. </p>
</blockquote>

<p>In this case, which entity performs the closed loop control? Your description suggests, that the arduino is. It is then not a simple bridge. However, sending commands to an arduino does not necesarily need real-time communication capabilites:</p>

<p>The PC computes the reference values for the control system, these are then transfered to the arduino over a non-realtime channel. Tha arduino reads this channel in a non-real time part (i.e. not in the interrupt) and the interrupt on the arduino runs the control loop making sure that the reference value is mainained. You only have to take care that the time required to execute the task in the interrupt is less then (and not equal) the interrupt cycle time. This way the processor can process the communication task "between" two interrupts. The question how much less dies it have to be depends on how often you get a command and how fast do you want to react to a new command.</p>

<p>If the communication is not part of a closed control loop (i.e. it only sends reference values for the outmost loop in a cascasded loop), it does not have to be real-time capable.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12179" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-12179">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12179" class = 'collapse'>
			</div>
				<textarea id = "speech-12179" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12179">
					<img id="start_img-12179" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12179">Comment</button>
			<br><div id = "ans-12180"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12180" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is no, you will not be able to create a distributed system that meets the criteria of 'hard real time' using the approach you describe.</p>

<p>The more nuanced answer is: It is theoretically possible with a heck of a lot of work. You will have the most problems in achieving hard real time from the USB communications, the ROS code, and using python. You will need understand the details of how USB communications work, how your USB bus is physically arranged, and use a real time capable driver like <a href="http://rtcl.kaist.ac.kr/rtca/" rel="nofollow noreferrer">usb4rt</a>. ROS is not real time capable, but once you have finished the difficult effort of achieving realtime in the USB communications, an orocos module to replace the functionality of ros_arduino_bridge should be easy for you. Python <a href="https://stackoverflow.com/a/15011981/734383">can be used in realtime if you are careful</a>.</p>

<p>One small change you could make to simplify the amount of work would be to use direct RS232 serial communications instead of USB communications. I would expect realtime serial drivers to be easier to set up and work with.</p>

<p>Distributed real time systems are difficult to get right. If you are able to design your system such that there is only the main PC and no arduinos, you will simplify things and be able to make progress towards your goals much more quickly.</p>

<p>However, it's likely that you don't really need hard real time. After all, humans do all the tasks you want to do and we do not have hard real time processing. Many robotics algorithms have a basic assumption of a constant time period, and these are the ones that cause robots to work incorrectly when realtime processing is not maintained. It is possible to derive alternate algorithms that do the same thing, but without the constant time period assumption for most of them. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12180" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-12180">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12180" class = 'collapse'>
			</div>
				<textarea id = "speech-12180" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12180">
					<img id="start_img-12180" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12180">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>