<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Is it ok to bounty hunt here?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1945" class = "post">
			<h2>Question</h2>
			<div id="vote-1945" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 214</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it ok to bounty hunt here?</h2>
<p>If anyone's noticed, I've kind of just jumped right in and started trying to snipe bounties on this site. I know that this is acceptable behavior <a href="https://meta.stackexchange.com/a/127022/249673">over on SO</a>, but since this site is much less aggressive (which is such a breath of fresh air), I just wanted to double check.
(I've updated my profile here to reflect that I do more or less have the credentials.)</p>

<p>I'm not trying to show off or anything   mostly, I'm really tired of not having 200 rep on any one SO site and therefore not being able to comment on sister sites.</p>

<p>My main focus these days is working on my coding skills, because at 26, I am in no uncertain terms retired from support, after an abortive shot at starting a consulting company (did well, but 8-10 billing hours of Mac support + run business = mental breakdown. The end-up-in-hospital kind.).</p>

<p>Also, I <strong>did</strong> notice that someone apparently awarded my a bounty on an answer where it seems the person who asked the question and posted the bounty seemed to have gone AWOL past the deadline, and despite having an answer of their own for the same question. Which is both very nice and a smart idea since otherwise good answers would likely slip through and people like me would get discouraged.</p>

<p>So if I can answer a tricky question, why not, right? That kind of why bounties exist?</p>

<p>Also, I <em>do</em> still of course still have Apple <strong>questions</strong>, and probably will be putting any rep gained here into a bountied question of my own shortly. But StackExchange basically makes my head spin just <a href="https://meta.stackexchange.com/questions/221008/etiquette-rules-or-advice-on-which-site-to-pose-a-question-or-why-are-there">trying to figure out which site to even ask the question on.</a></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1945">Load Comments</button></br>
			<div id = "commentsection-1945" class = 'collapse'>
			<div id = "comment-3738" class = "comment">
				<p>Only the person that offered the bounty can award it. I presume you are referring to [this](http://apple.stackexchange.com/questions/103800/how-can-i-enable-time-machine-encryption-on-the-command-line) but actually the bounty was [not offered by the person that asked the question](http://i.stack.imgur.com/hblXD.png). (The only exception to this is when Community offers half the bounty to the highest upvoted answer greater than two since the bounty started.)</p>
			</div>
			<div id = "comment-3739" class = "comment">
				<p>Nope, it's this one, http://apple.stackexchange.com/questions/119964/is-it-possible-to-use-totalterminal-with-go2shell and I thought it would go to you for that very reason.</p>
			</div>
			<div id = "comment-3740" class = "comment">
				<p>Colas (the OP) specifically [chose to award you](http://i.stack.imgur.com/bVPRj.png) the bounty for that one :)</p>
			</div>
			<div id = "comment-3741" class = "comment">
				<p>I'll address two side questions that should probably be edited out of the question - you have enough reputation to chat, so use that when your head spins. Also, you have asked a multi part question here and answered a multi-part question and hose are generally bad and discouraged. They make it hard to fit on the right site, they make it hard for bounties to work, and they make it hard to get clean, neat Q+A. Much of the difficulty might stem from questions that aren't thought through enough to be one core question.</p>
			</div>
			<div id = "comment-3744" class = "comment">
				<p>Thanks both. I was confused by the fact that one can award the bounty but not chose a correct answer. I'll keep all of this in mind.</p>
			</div>
			</div>
				<textarea id = "speech-1945" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1945">
					<img id="start_img-1945" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1945">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1946"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1946" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes - choosing to only answer bountied questions is fine as long as each post adheres generally to the help center guidelines. </p>

<p>Also, consider that the community gives and takes reputation points by voting. If you create a perception of taking more than you give - that can take time and effort to overcome. </p>

<p>We haven't had to suspend or ban anyone for bounty sniping thus far - but there also are people that are known to show up on the site only when a contest is running, or when holiday hats are "earned" or solely to earn rep to drop and bounty their "heavy" question on the site that "really need an immediate answer". <em>(and the above generalizations are not at all directed at you Geoff, but do want to openly acknowledge that some have done this before and will probably continue to do so in the future)</em></p>

<p>I hope over time people, and you specifically, will choose to answer questions that need great answers. I expect for all but the most rare expert at answering choice questions, far more reputation accrues from picking questions based on your ability to provide a quality answer rather than the rare moment when it has a bounty open on it - but that choice is certainly yours to make. </p>

<p>I did want to address what might be confusing about your question to others and perhaps yourself. </p>

<p>Bounties are a contract between the site and he person spending them. </p>

<p>Put aside the awarding of the bounty for a moment. If you spend a bounty - you forfeit the points immediately and get the question promoted for a week. That is the requirement. </p>

<p>Optional things that could happen:</p>

<ul>
<li>the bounty gets cancelled and refunded which immediately removes the promotion going forward but also credits the reputation to the offerer. </li>
<li>the sponsor and only the sponsor can award it to any answer they choose</li>
<li>only in the case where the offerer declines or is unable to award the bounty, the code operating as the community user awards half he bounty to the highest upvoted answer added after the bounty. </li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1946">Load Comments</button></br>
			<div id = "commentsection-1946" class = 'collapse'>
			<div id = "comment-3742" class = "comment">
				<p>TLDR; you don't get good at answering by only participating in bounties. Also, trying too hard or forcing something that's not ready rarely works well - being mindful often prevents falling into either trap, and aids self-correction when you do.</p>
			</div>
			</div>
				<textarea id = "speech-1946" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1946">
					<img id="start_img-1946" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1946">Comment</button>
			<br><div id = "ans-1947"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1947" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Welcome to Ask Different!</p>

<p>You're doing exactly what the bounty system was intended for   it's promoted a question that people haven't answered<sup>1</sup> so that it's more noticeable. You seeing the question and then answering it is perfectly fine <em>and encouraged!</em></p>

<p>Providing you don't <em>just</em> answer bountied questions, I see no reason why bounty hunting is bad, as was reasoned in the post that you linked to on Meta.SO.</p>

<p><sup><sup>1</sup> There is the 'award existing answer' bounty reason though.</sup></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1947" class = 'collapse'>
			</div>
				<textarea id = "speech-1947" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1947">
					<img id="start_img-1947" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1947">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>