<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it better to have batteries distributed at the rotors or the center of the multicopter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-235" class = "post">
			<h2>Question</h2>
			<div id="vote-235" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1484</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it better to have batteries distributed at the rotors or the center of the multicopter?</h2>
<p>I've seen 3 approaches to mounting batteries on a multicopter:</p>

<ul>
<li>All the batteries rigidly mounted near the center of the airframe</li>
<li>All the batteries in a bag hanging under the center of the airframe</li>
<li>Each rotor has its share of the batteries rigidly mounted near/under it. (For example, a quadcopter with 1/4 of all the batteries mounted underneath each motor).</li>
</ul>

<p>Which design is the best, and why?
If there is no one best design, what are the advantages/tradeoffs between the designs?
Is there some other design I'm overlooking that is better in some way?</p>

<p>(This question focuses on multirotor flying machines.
For ground vehicles, see " <a href="https://robotics.stackexchange.com/questions/119/is-it-better-to-have-weight-distributed-over-the-wheels-or-the-center-of-the-rob">Is it better to have weight distributed over the wheels or the center of the robot?</a> ").</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-235" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-235">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-235" class = 'collapse'>
			</div>
				<textarea id = "speech-235" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-235">
					<img id="start_img-235" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-235">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-239"  class = "post">
				<h2>Answer</h2>
			<div id="vote-239" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Center, you want the moment of inertia to be as small as possible.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-239" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-239">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-239">Load Comments</button></br>
			<div id = "commentsection-239" class = 'collapse'>
			<div id = "comment-247" class = "comment">
				<p>That's what I thought at first, too. It makes it faster on the control side, but external disturbances will have more effect. My guess is that it would be somehow connected to the motor/rotor inertia.</p>
			</div>
			</div>
				<textarea id = "speech-239" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-239">
					<img id="start_img-239" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-239">Comment</button>
			<br><div id = "ans-251"  class = "post">
				<h2>Answer</h2>
			<div id="vote-251" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You almost definitely want to have the battery rigidly mounted to the center of the airframe.</p>

<p>Mounting a battery underneath each motor (though I have never seen this) will increase the multicopter's moments of inertia, which will make it more "stable" in that it will more sluggishly lose its balance and thus give a controller more time to react. This, however, is a rather bruteforce way to go about flight stabilization.</p>

<p>Hanging the battery from a bag will make the flight characteristics needlessly complicated. Imagine that the "bag" is instead a rope with a weight attached to the end. What happens to the flight characteristics as the length of the rope increases?</p>

<p>Depending on the particular chassis design, mounting the battery rigidly can also dampen the motor vibrations, which reduces the need for heavy filtering of inertial measurements.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-251" data-toggle = "popover">
				<p>user name : yoos</p>
				<p> user reputation : 411</p>
				<p class = "tagcontent" id = "usertaginfo-251">{'None': 31}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-251" class = 'collapse'>
			</div>
				<textarea id = "speech-251" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-251">
					<img id="start_img-251" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-251">Comment</button>
			<br><div id = "ans-923"  class = "post">
				<h2>Answer</h2>
			<div id="vote-923" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You want to mount the batteries as close to the center of the hub and as close to the center both horizontally and vertically.  The closer it is, the less the controller has to work to keep the craft horizontally balanced and the less battery power you will use.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-923" data-toggle = "popover">
				<p>user name : Rick Murray</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-923">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-923" class = 'collapse'>
			</div>
				<textarea id = "speech-923" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-923">
					<img id="start_img-923" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-923">Comment</button>
			<br><div id = "ans-1641"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1641" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Definitely rigidly mounted to make use of the batteries mass for vibration damping but where?
Depends if you want an agile acrobatic machine or a stable camera platform. Spread the mass out if you want to reduce the wobbles in turbulence.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1641" data-toggle = "popover">
				<p>user name : Vince</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-1641">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1641">Load Comments</button></br>
			<div id = "commentsection-1641" class = 'collapse'>
			<div id = "comment-3439" class = "comment">
				<p>Welcome to *robotics* Vince, do you have any reference for this assertion? If you could you expend your answer to explain why, it would be more useful to future readers of your answer. Thanks,</p>
			</div>
			</div>
				<textarea id = "speech-1641" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1641">
					<img id="start_img-1641" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1641">Comment</button>
			<br><div id = "ans-5191"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5191" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Vince has it right, it is a designers choice. Depends on the application.</p>

<p>Moving the mass away from the center point of rotation will increases the moment of inertia. Which means it will resist influences from external forces more.</p>

<p>This includes both environmental disturbances and self generated motion command updates. One of these is not wanted, and the other is wanted. This leaves us with the trade off in design decision. What you choose will be application specific.</p>

<p>If you choose to have a responsive craft that is quick an aerobatic, it will come at the cost of the controller continuously fighting external disturbances. There will be a limit to how fast it can respond (bandwidth), and consequently will be more unstable given large, or rapidly varying disturbances.</p>

<p>Conversely, if you want inherent open loop stability, it will come at the cost your craft being slow to implement it's own desired motion updates.</p>

<p>I am doing my first build at the moment. I want to start with high controller bandwidth given the mountain environment I am in. My current conundrum is, do I put the battery on top or below. I really want it below. </p>

<p>Primarily because I am going to be changing things up down there when I start adding peripheral components to interact with the environment. It makes sense to wire up the computer with all fixed parts on top and then it's done, permanently.</p>

<p>But this does leave me with two issues. One doesn't want to get into the inconsistent delayed response that yoos brought up that will occur when something is dangling on a string. I can synch up the battery but it is quite a bit of effort each time for both axis'. Maybe I just need to invest in a better battery strap than my 1 dollar Chinese Velcro.</p>

<p>The real thing bothering me right now is risk, the idea of an unstable battery being exposed. I've got the heli-style Tarrot landing gear, and in a big fall I don't see it doing much to protect the battery.</p>

<p>So my question to expand this discussion here is: What are people doing in terms of top or bottom? I like the idea of it being up above, but that leads to numerous different awkward other placement problems down the road.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5191" data-toggle = "popover">
				<p>user name : ALX</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-5191">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5191">Load Comments</button></br>
			<div id = "commentsection-5191" class = 'collapse'>
			<div id = "comment-7963" class = "comment">
				<p>I like these ideas, but I suggest posting that question as a fresh new separate question ("[I've just been told I have to post a follow-up question](http://meta.tex.stackexchange.com/questions/2117/ive-just-been-told-i-have-to-post-a-follow-up-question-why-and-how)").</p>
			</div>
			</div>
				<textarea id = "speech-5191" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5191">
					<img id="start_img-5191" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5191">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>