<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it better to have weight distributed over the wheels or the center of the robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-119" class = "post">
			<h2>Question</h2>
			<div id="vote-119" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 666</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it better to have weight distributed over the wheels or the center of the robot?</h2>
<p>When designing a standard 4 or 6 wheel robot, is it better to have the weight distributed primarily in the center of the robot, or over the wheels, or is there no difference?</p>

<p>Specifically, which weight distribution will make the robot less likely to tip over?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-119" data-toggle = "popover">
				<p>user name : Michael0x2a</p>
				<p> user reputation : 210</p>
				<p class = "tagcontent" id = "usertaginfo-119">{'wheel': 11, 'None': 0, 'first-robotics': 11, 'wheeled-robot': 10, 'stability': 10, 'design': 21, 'mobile-robot': 21, 'movement': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-119">Load Comments</button></br>
			<div id = "commentsection-119" class = 'collapse'>
			<div id = "comment-138" class = "comment">
				<p>Can you elaborate a little more? For example, how rough is the environment? After all, if the robot only moves in a flat surface, it probably doesn't make any difference.</p>
			</div>
			</div>
				<textarea id = "speech-119" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-119">
					<img id="start_img-119" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-119">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-120"  class = "post">
				<h2>Answer</h2>
			<div id="vote-120" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Assuming it is a rigid robot, then the only weight properties of interest is:</p>

<ul>
<li>the total mass</li>
<li>the centre of mass</li>
</ul>

<p>In terms of tipping over, the robot is more stable if the angle required before tipping over is maximized. This is achieved by having a low centre of mass, and a centre of mass as far away from the edges of the <a href="http://en.wikipedia.org/wiki/Support_polygon">support polygon</a> as possible.</p>

<p>Intuitively, you can see that if the centre of mass is near the centre of the robot, it is more stable. More formally, if you consider each wheel to be the vertex of a polygon (from a top view), then you will see a support polygon. You can designate the centre to be the point furtherest away from an edge.</p>

<p>Another way to increase stability is to increase the size of the support polygon - that is, place the wheels further out to form a wide base. Adding more wheels can also increase the size of the support polygon, although this mostly impacts three wheeled robots, which have quite a small support polygon relative to the distance between the wheels.</p>

<p>The angle required for the robot to tip may depend on the direction of tipping. If there is movement along that direction, then disturbances are more likely in that direction. That is why cars are more stable forward/backwards, compared to sideways (roll axis), with front wheels further from the rear wheels as compared to the distance between left and right wheels.</p>

<p>The total mass of the robot is also a factor. If the robot is heavier, then a larger disturbing force is required to tip the robot to the required angle before it will continue to tip over. Having said that, you are unlikely to want to simply increase robot mass, so you will:</p>

<ul>
<li>try to place heavier components lower (batteries can be quite heavy)</li>
<li>increase the size of the support polygon (wheels further out, or 4 wheels instead of 3).</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-120" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-120">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-120" class = 'collapse'>
			</div>
				<textarea id = "speech-120" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-120">
					<img id="start_img-120" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-120">Comment</button>
			<br><div id = "ans-165"  class = "post">
				<h2>Answer</h2>
			<div id="vote-165" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just to add a little to <a href="https://robotics.stackexchange.com/a/120/37">ronalchn's excellent answer</a>:</p>

<p>Changing the weight distribution in the robot in a way that doesn't change the position of the centre of mass will affect the <a href="http://en.wikipedia.org/wiki/Moment_of_inertia" rel="nofollow noreferrer">Moment of Inertia</a>, which in turn will affect the robot's ability to accelerate its rate of rotation.</p>

<p>For most robots that trundle along, this is unlikely to be a problem. However, I could imagine that for an <em>extremely</em> dynamic robot, that travels very quickly and takes tight turns, being able to rotate its body rapidly might be an advantage, and might even be able to save itself from tipping in some extreme cases.</p>

<p>Therefore concentrating the mass near the centre would be best for this type of robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-165" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-165">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-165">Load Comments</button></br>
			<div id = "commentsection-165" class = 'collapse'>
			<div id = "comment-209" class = "comment">
				<p>All I'd add to this and  ronalchn's answer: The one downside of centering the mass vs. putting it over the wheels is that if all the wheels are drive wheels, you may lose some traction by placing all the weight in the center.  But for stability: yes, low and centered.</p>
			</div>
			<div id = "comment-210" class = "comment">
				<p>@ViennaMike - Why? Changing the mass distribution without moving it's centre won't make any difference the the wheel traction.</p>
			</div>
			</div>
				<textarea id = "speech-165" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-165">
					<img id="start_img-165" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-165">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>