<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is it possible to use Matlab "system" function to call ROS commands?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-488" class = "post">
			<h2>Question</h2>
			<div id="vote-488" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 185</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is it possible to use Matlab "system" function to call ROS commands?</h2>
<p>Is it possible to use the Matlab's <code>system</code> function to call ROS commands?</p>

<p>For example, using <code>system('rostopic pub /cmd_vel geometry.msgs.Twist {....}</code>
or <code>system('rospack find ipc_bridge)</code>.</p>

<p>I'm trying to send some commands to ROS without using something like IPC-Bridge.</p>

<p>PS: I know, however, that I need to use IPC-Bridge to subscribe to topics.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-488" data-toggle = "popover">
				<p>user name : Ze Nog</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-488">{'mobile-robot': 5, 'None': 0, 'ros': 5, 'software': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-488" class = 'collapse'>
			</div>
				<textarea id = "speech-488" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-488">
					<img id="start_img-488" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-488">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-489"  class = "post">
				<h2>Answer</h2>
			<div id="vote-489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is possible. But it is very sloppy, in my humble opinion. It is useful for one-off commands, but how will you read back output, verify your command was executed, etc. </p>

<p>If you are dead-set against the IPC bridge, you may want to look at using the <a href="http://www.mathworks.com/help/matlab/matlab_external/product-overview.html" rel="nofollow">MATLAB-java interface</a>. ROS also allows you to program in Java using ros-fuerte-client-rosjava (ubuntu), or just <a href="http://www.ros.org/wiki/rosjava" rel="nofollow">rosjava</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-489" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-489">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-489">Load Comments</button></br>
			<div id = "commentsection-489" class = 'collapse'>
			<div id = "comment-592" class = "comment">
				<p>Ok. Then what am I doing wrong? How can I use the system function properly?</p>
			</div>
			<div id = "comment-597" class = "comment">
				<p>Nothing wrong. Use it if it works for you. Just be sure to set up your bash environment correctly so your commands work. I can see this as helpful for running a matlab script, which then uses rosparam to set the output of the functions for nodes to read. However, I was referring to how difficult it might be to "close the loop" and use matlab to read from ROS ndoes.</p>
			</div>
			</div>
				<textarea id = "speech-489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-489">
					<img id="start_img-489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-489">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>