<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is Khepera II still adequate for learning
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6622" class = "post">
			<h2>Question</h2>
			<div id="vote-6622" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 83</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is Khepera II still adequate for learning</h2>
<p>A professor in my university is asking me to study robotics with him. By robotics I understand programming a robot to move around, avoid obstacles, figure out a maze, etc.. He sent me some manuals for Khepera II. </p>

<p>When I first read the specs, I was surprised by the low specs:</p>

<ul>
<li>Motorola 68331 CPU @ 25 MHz</li>
<li>512 KB RAM</li>
<li>512 KB Flash</li>
</ul>

<p>But then I looked at some of the new Arduino boards and they had similar specs.
So maybe that's OK, I guess the CPU speed and RAM aren't that important if I'm going to control the robot from a normal computer that can handle real time computation.</p>

<p>What about the software? I glanced at the manuals and saw only C and assembly code.</p>

<p>Khepera I is from 1995 and Khepera II is from 2001. I think robots have advanced much since 2001.</p>

<p><strong>Is using Khepera II adequate for university level learning, considering I can probably give 200-300$ for a newer one?</strong></p>

<p>I ask in terms of hardware of the board, motors and sensors, as well as in the programmability. This question might seem vague. I'm ready to improve it by giving more detail upon request.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6622" data-toggle = "popover">
				<p>user name : CoconutCoffee</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6622">{'mobile-robot': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6622" class = 'collapse'>
			</div>
				<textarea id = "speech-6622" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6622">
					<img id="start_img-6622" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6622">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6625"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6625" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The only thing that might make a difference for you is if you are less comfortable in programming with C or assembly. 
The principles and techniques you learn will be able to be applied regardless of the underlying hardware and software. 
I was doing some autonomous mobile robotics programming at the University of Connecticut in the early 90's and while there have been changes to servos and sensors the fundamentals are still, well, fundamental.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6625" data-toggle = "popover">
				<p>user name : Frank</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-6625">{'None': 8, 'design': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6625" class = 'collapse'>
			</div>
				<textarea id = "speech-6625" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6625">
					<img id="start_img-6625" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6625">Comment</button>
			<br><div id = "ans-6637"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6637" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>By using the Motorola, your Prof is getting you understand the fundamentals of what you are doing. If he had specified an Arduido you may have grabbed any bit of code off the net and not really understood the fundamentals. I am sure he knows what he is doing for you.
The best learning is from the mistakes you make, i.e. timing, memory margins, overuns etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6637" data-toggle = "popover">
				<p>user name : Neomada</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-6637">{'None': 5, 'computer-vision': 1, 'localization': 0, 'mapping': 0, 'slam': 0, 'motion-planning': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6637" class = 'collapse'>
			</div>
				<textarea id = "speech-6637" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6637">
					<img id="start_img-6637" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6637">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>