<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is my servo fried?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9709" class = "post">
			<h2>Question</h2>
			<div id="vote-9709" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 75</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is my servo fried?</h2>
<p>I got a new servo a few days back (RC Servo, Futaba FP-S148). I first tested it out with the Sweep sketch on Arduino, powering it with the Arduino 5v and GND pins only. It was working, just fine.</p>

<p>Today I was trying to use it in my robot and I tried powering it with 2 LiPo batteries (Samsung ICR16850 2200mAh, from an old laptop battery) connected in series, giving 8.32v. As soon as I connected my servo, it started rotating randomly, I had not connected it to my Arduino yet. I quickly took it out.</p>

<p>Next, I used a L7805 to get 5.13v regulated supply out of my batteries that I used earlier. When I connected my batteries to the servo, and the servo to the Arduino, uploaded the sketch, the servo started behaving rather strangely, it first did a complete turn and then stopped. Only a humming sound came from the servo. Strange thing is, whenever I connect one of my Multimeter leads to the power cables, the servo immediately turned in the opposite direction <strong>only as long as only lead was in contact with either the positive or negative wire</strong>.<br>
Otherwise, the servo just gives a humming sound.</p>

<p>Have I fried my servo? Or is it some other issue?</p>

<p><strong>UPDATE 1</strong><br>
I stripped down the servo and checked the motor. It is working fine, seems like this is a gear problem.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9709" data-toggle = "popover">
				<p>user name : YaddyVirus</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-9709">{'brushless-motor': 0, 'None': 2, 'raspberry-pi': 1, 'arduino': 1, 'battery': 2, 'rcservo': 0, 'current': 1, 'motor': 2, 'ultrasonic-sensors': 0, 'navigation': 0, 'steering': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9709">Load Comments</button></br>
			<div id = "commentsection-9709" class = 'collapse'>
			<div id = "comment-17247" class = "comment">
				<p>What code are you using to control the servo? Are you using the Arduino Servo library or something similar?</p>
			</div>
			<div id = "comment-17248" class = "comment">
				<p>@Octopus I'm using the sweep example sketch</p>
			</div>
			<div id = "comment-17250" class = "comment">
				<p>Did you ever try putting it back on the Arduino 5V and ground??</p>
			</div>
			<div id = "comment-17253" class = "comment">
				<p>@Chuck yes I did... It didn't work.</p>
			</div>
			</div>
				<textarea id = "speech-9709" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9709">
					<img id="start_img-9709" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9709">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9712"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9712" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes it's absolutely fried. Check the tech specs of your servo next time.</p>

<blockquote>
  <p>Power requirement: 4.8V or 6V (from receiver)
  Power consumption: 6V 8mA (at idle)</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9712" data-toggle = "popover">
				<p>user name : prappolt</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-9712">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9712">Load Comments</button></br>
			<div id = "commentsection-9712" class = 'collapse'>
			<div id = "comment-17257" class = "comment">
				<p>Time to buy a new one I guess</p>
			</div>
			</div>
				<textarea id = "speech-9712" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9712">
					<img id="start_img-9712" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9712">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>