<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is my quadcopter loop fast enough?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5259" class = "post">
			<h2>Question</h2>
			<div id="vote-5259" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 180</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is my quadcopter loop fast enough?</h2>
<p>I've been working on a quad copter for awhile now, recently I've finished the interface for PID tuning and its leading me to question several design decisions. </p>

<p>The quad uses a RaspberryPi as its pilot, the entire loop takes less than 20ms. IMU data is gathered, the throttle speeds are calculated, and then finally sent to an Arduino(micro) over an SPI interface. Where they are <code>analogWrite(...)</code>, to each ESC.</p>

<p>Can a quadcopter fly with a loop that slow? 20ms = 50Hz? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5259" data-toggle = "popover">
				<p>user name : MatUtter</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-5259">{'quadcopter': 3, 'None': 0, 'raspberry-pi': 1, 'arduino': 1, 'pid': 2, 'design': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5259">Load Comments</button></br>
			<div id = "commentsection-5259" class = 'collapse'>
			<div id = "comment-8042" class = "comment">
				<p>in my application runs at 100 Hz (attitude controller), but in many papers I found up to 1 kHz. Pay attention that the update frequency of the velocity give by your GPS could lead to problems. It runs very slowly compared to the rest of the system.</p>
			</div>
			</div>
				<textarea id = "speech-5259" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5259">
					<img id="start_img-5259" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5259">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5287"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5287" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As a rules of thumb, 50Hz is good.  But you need to look at your rates.  What is for example the maximum rate of rotation about "Z" or "yaw"?   If the aircraft can spin at 50 revolutions per second then obviously a 50Hz loop is not going to work.   Divide the 50Hz loop rate by the rates of movements about each axis</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5287" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5287">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5287" class = 'collapse'>
			</div>
				<textarea id = "speech-5287" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5287">
					<img id="start_img-5287" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5287">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>