<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is our laptop wifi single channel or multiple channel? This is for controlling a bot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6583" class = "post">
			<h2>Question</h2>
			<div id="vote-6583" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 252</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is our laptop wifi single channel or multiple channel? This is for controlling a bot</h2>
<p>We are building a hobby drone(Quad-coptor) with a camera for footage. So to control the quad, i have been suggested(<a href="http://www.rchelicopterfun.com/helicopter-radios.html" rel="nofollow">Web</a>,<a href="http://blog.oscarliang.net/choose-rc-transmitter-quadcopter/" rel="nofollow">Here</a>) to use minimum of four channels.For power and for turning etc., So which means i need one channel for every separate task to be done. For eg., if i want to rotate the camera, then i suppose i need the 5th channel and so on..</p>

<p>Now my question would be - i have seen a lot of drones(ardrone, walkera) which are controlled by an Android or an iPhone app. So the wifi used to connect the drones is, single channel or multi-channel? If single channel then how can i control different tasks like to control turning of the quad or camera in different axis?</p>

<p>Also if i want the GPS location from the quad, do i require to have another transmitter?</p>

<p>I am using(Planned to) a Raspberry Pi 2, OpenPilot-CC3D for flight control.</p>

<p>P.S this is my first drone, Kindly show some mercy if i ask/don't understand your comments.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6583" data-toggle = "popover">
				<p>user name : vrOom</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-6583">{'quadcopter': 0, 'radio-control': 0, 'None': 0, 'wifi': 0, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6583" class = 'collapse'>
			</div>
				<textarea id = "speech-6583" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6583">
					<img id="start_img-6583" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6583">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6584"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6584" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are confused by the "channels" term here. The resource you are linking to is talking about "conventional" remote control, using it's own frequency and it's own protocol, not compatible with WiFi in any way. In this case the term "channel" means just a specific radio frequency the control is operating. When talking about WiFi, the channels are frequencies as well, and their number is varying based on country regulations. But in this case, the channel is MOSTLY selected automatically by the wifi adapter, or manually based on how badly the channels are cluttered by surrounding communications. So in general, if using wifi you do not have to worry about number of channels available, because at any point of time you are using just one. <br>
 As for GPS - the location is read into your hardware, and depending on what do you intend to use it for, can be processed on the robot itself or sent via your selected communication method.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6584" data-toggle = "popover">
				<p>user name : Eugene Sh.</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-6584">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6584">Load Comments</button></br>
			<div id = "commentsection-6584" class = 'collapse'>
			<div id = "comment-9471" class = "comment">
				<p>Thanks Eugene. Can you tell me which would best if i want a long range Quad with typical WIFI or a radio with x channels? Which would be preferable if i have receive a video back to my controller?</p>
			</div>
			<div id = "comment-9472" class = "comment">
				<p>Wifi cannot operate at long ranges. But you want to transfer a large amount of data via your channel (like video), which wouldn't be possible with regular radio remote. You will need a dedicated video transmitter. Better option which I would consider is a cellular network with 3G data.</p>
			</div>
			<div id = "comment-9493" class = "comment">
				<p>I dont think using a cellular Network with 3G is a good idea. As there would be lot of latency(Too hard to control the quad). And you wouldnt get a decent 3G/2G or any network if you are gone some place remote..</p>
			</div>
			</div>
				<textarea id = "speech-6584" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6584">
					<img id="start_img-6584" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6584">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>