<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is ROS hard real time safe?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7429" class = "post">
			<h2>Question</h2>
			<div id="vote-7429" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 732</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is ROS hard real time safe?</h2>
<p>I know that is a question that has been asked too many times, but still its not clear to me. I read online that it isn't but some people say that they control their robots under ROS in applications with hard real time constraints. So, because I need some technical arguments (rather than a plain "ros is not real time") I will be more specific (suppose we have ROS under a RTOS):</p>

<ol>
<li>I read that ROS uses a TCP/IP-based communication for ROS topics and I know that TCP/IP is not reliable. That means I cannot use topics in a real time loop? For instance send a control signal to my system publishing it to a topic, and the system sending me some feedback via a topic?</li>
<li>If I have a RTOS (eg Linux+Xenomai) can I build a real time control loop for a robot using ROS, or ROS will be a bottleneck?</li>
</ol>

<p>Maybe the above are naive or I lack some knowledge, so please enlighten me!</p>

<p>Note: I define as a hard real time system (eg in 1KHz), the system that can guarantee that we will not miss a thing (if the control loop fails to run every 1ms the system fails).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7429" data-toggle = "popover">
				<p>user name : jason</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-7429">{'None': 0, 'ros': 7, 'real-time': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7429">Load Comments</button></br>
			<div id = "commentsection-7429" class = 'collapse'>
			<div id = "comment-10610" class = "comment">
				<p>Remind me in a few days when I get to a computer and I'll explain.</p>
			</div>
			<div id = "comment-10619" class = "comment">
				<p>Welcome to *robotics* jason, but I'm afraid that compound questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so you would be more likely to get comprehensive answers if you split them into separate question. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-10666" class = "comment">
				<p>Can you please clarify your definition of "real time". I assume you mean that the control updates at faster than 25Hz otherwise.</p>
			</div>
			<div id = "comment-10903" class = "comment">
				<p>@Shahbaz As real time I define a system that updates the control in some high frequency (eg 200Hz+), but the most important is to provide guarantees that every control cycle will be performed in 200Hz, and we don't lose control cycles due to jitter.</p>
			</div>
			<div id = "comment-10919" class = "comment">
				<p>@jason, realtime doesn't relate to fast. You are correct that a realtime system guarantees deadlines. I understand that you are searching for a fast system, but I'm clarifying for JamesR that a realtime system could be designed for any speed, even if the cycle time is one day!</p>
			</div>
			<div id = "comment-10937" class = "comment">
				<p>Yes @Shahbaz, totally agree with you. Just with one cycle a day is easy to be implemented in practice by a non-real time system. A proper real time system is more useful in "harsh" conditions.</p>
			</div>
			<div id = "comment-10940" class = "comment">
				<p>That's generally true. Slower realtime systems are not unrealistic though. Your typical airport would ideally run as a realtime system that would guarantee flight times for example with a maximum of 2 hours delay. They also thought nonrealtime is fine for such large delays and now we occasionally suffer from canceled or largely delayed flights.</p>
			</div>
			</div>
				<textarea id = "speech-7429" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7429">
					<img id="start_img-7429" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7429">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7436"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7436" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>ROS is not a real-time operating system.  The purpose of ROS was not to be like VXWorx (which is what the Mars Curiosity rover uses).  ROS was developed to be a simple, generic, reusable platform for everyone to contribute to and use.  Developers would be able to add their own abstracted modules, building a rich community of reusable code.  The key here is that ROS is meant to save development time, not to ensure real-time operations.  This addresses your point #6.</p>

<p>Simplest reason ROS is not real-time: the version of Linux it sits on is not real-time.</p>

<p>To point 1, the unreliability of TCP/IP is a good point, but in itself, that doesn't mean that a system with TCP/IP cannot be a real-time system.  "Real-time" simply means that 2 guarantees are always made:</p>

<p>1) a task is guaranteed to have a completion time - an absolute deadline,
and
2) if that deadline cannot be achieved, a warning about this failure will be made.</p>

<p>That should also explain points 2 &amp; 3.</p>

<p>Not sure about point 4.</p>

<p>For point 5: Yes, there is a benefit, but for some architectures to be able to accomplish this, we would need a real-time OS slice (also called a base operating layer), and this may be too burdensome for some projects.</p>

<p>I hope that helps,
Ryan</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7436" data-toggle = "popover">
				<p>user name : Ryan Loggerythm</p>
				<p> user reputation : 265</p>
				<p class = "tagcontent" id = "usertaginfo-7436">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7436">Load Comments</button></br>
			<div id = "commentsection-7436" class = 'collapse'>
			<div id = "comment-10615" class = "comment">
				<p>So, If I patch the linux kernel (eg with Xenomai) and have a RTOS underneath ROS, I would be able to use every ROS functionalies (eg ROS topics) without creating a bottleneck, breaking the realtimeness of my control loop?</p>
			</div>
			<div id = "comment-10627" class = "comment">
				<p>@jason, ROS is non-realtime by nature. Making it run on a realtime system doesn't make it real-time at all.</p>
			</div>
			</div>
				<textarea id = "speech-7436" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7436">
					<img id="start_img-7436" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7436">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>