<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is RobotBASIC outdated?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8644" class = "post">
			<h2>Question</h2>
			<div id="vote-8644" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 163</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is RobotBASIC outdated?</h2>
<p>I found this website <a href="http://robotbasic.org/" rel="nofollow">http://robotbasic.org/</a> and it talks about a language used for programming things related to robotics, and I want to make sure whether or not it's worth investing any time or energy into compared to other languages before I just wipe it from my browser bookmarks for good. Nowadays, are there better languages and methods for going about the same things that it talks about? </p>

<p>I mean, the site looks pretty old, like something from the late 90s or pre-2010, plus I never heard of it anywhere except for this site, so I wonder if it's just not relevant any more if it ever was.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8644" data-toggle = "popover">
				<p>user name : KrimsonKaiser</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8644">{'control': 4, 'None': 0, 'software': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8644">Load Comments</button></br>
			<div id = "commentsection-8644" class = 'collapse'>
			<div id = "comment-19929" class = "comment">
				<p>I'm afraid that questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. Also, the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question.</p>
			</div>
			</div>
				<textarea id = "speech-8644" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8644">
					<img id="start_img-8644" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8644">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8648"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8648" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In an ideal case always the right tool is used for the right job. In many cases however the best among the accessible/known tools is used. </p>

<p>There has to be a purpose why robotbasic was created, and it might still be the best tool for that specific niche purpose. After taking a short look at the website, this purpose was not to me clearly described. It seems as a general tool for everithing, but for that purpuse it is, to my knowledge, not generally used or known.</p>

<p>I find it a bit confusing that it uses an operating system called <a href="http://robotbasic.org/6.html" rel="nofollow">RROS</a>, which it not the well known <a href="http://www.ros.org/" rel="nofollow">ROS</a>, however the names are very similar.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8648" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8648">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8648" class = 'collapse'>
			</div>
				<textarea id = "speech-8648" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8648">
					<img id="start_img-8648" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8648">Comment</button>
			<br><div id = "ans-10866"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10866" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like a light-weight 2D ROS-like simulation system for Windows and a robotic framework like that of Arduino. By glancing over the software, it can be assessed that the software was meant for non-real-time applications with quick-and-easy programming styles (particularly meant for Windows). However, I have found that it is not a standard simulation tool [<a href="http://cours.do.am/ParadigmeAgent/1-s2.0-S0921889012000322-main.pdf" rel="nofollow">1</a>][<a href="http://ranger.uta.edu/~gianluca/papers/StMa_PETRA11.pdf" rel="nofollow">2</a>][<a href="https://arxiv.org/pdf/1402.7050.pdf" rel="nofollow">3</a>].</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10866" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-10866">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10866" class = 'collapse'>
			</div>
				<textarea id = "speech-10866" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10866">
					<img id="start_img-10866" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10866">Comment</button>
			<br><div id = "ans-11063"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11063" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>RobotBASIC (or RROS) is the best thing since sliced bread for the Robotics Hobbyist. And it s free which pretty much puts it into everybody s budget. It s based on BASIC which is a super easy way to learn a programming language (my daughter was writing simple code in 15 minutes). All the low level tedium has been done for you. You add a compass and you have a direction available to you without deciphering a bunch of meaningless bits / protocols from a fluxgate compass. Add ultrasonic sensors (many if you want) and you have distance data and collision avoidance. The list goes on and on. Add a laptop and you have speech recognition and synthesis. RROS takes care of all the low level mundane interfacing so you can quickly assembly a smart bot with a higher level language ( kind of like BIOS does in a PC ) .</p>

<p>Lots of articles have been written in Servo magazine about Navigation, Sensors and a host of other issues by the creator John Blankenship, a Professor back East. On Amazon if you put in his name he has written a dozen robot books and the latest is about ARLO built upon some Parallax structures that walks you through just about every bot issue you could encounter . I could write tons more but it will start to sound like an info-mercial. Please check it out for yourself and you will be pleasantly surprised! </p>

<p>One last thing I have to mention. You get a simulator with the software that allows you to test your real code before you have any hardware. When your software is working as you like it ports directly over to your real bot. How cool is that?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11063" data-toggle = "popover">
				<p>user name : steven canning</p>
				<p> user reputation : 19</p>
				<p class = "tagcontent" id = "usertaginfo-11063">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11063">Load Comments</button></br>
			<div id = "commentsection-11063" class = 'collapse'>
			<div id = "comment-19928" class = "comment">
				<p>Welcome to *Robotics* steven canning. Nice answer, but we please be aware that we consider taglines to be unnecessary noise, so they tend to get edited out. Take a look at the [help/behavior] for more information.</p>
			</div>
			<div id = "comment-19949" class = "comment">
				<p>Are you somehow connected to this project?</p>
			</div>
			</div>
				<textarea id = "speech-11063" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11063">
					<img id="start_img-11063" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11063">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>