<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a tool for building and analysing robots (kinematics, control) visually?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-840" class = "post">
			<h2>Question</h2>
			<div id="vote-840" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 227</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a tool for building and analysing robots (kinematics, control) visually?</h2>
<p>I am reading research papers about robotics and many of them follow the same pattern:</p>

<ol>
<li>some construction is established</li>
<li>kinematical formulas are read from the mechanical structure</li>
<li>the state space is analysed (e.g. how far the robot can reach, what the maximum speed can be, what is left underspecified and how to handle such mathematically incorrect systems and so on)</li>
</ol>

<p>Is there some tool or software product that can receive (as input) the mechanical structure and then output the kinematical formulas?  Preferably, it would provide some kind of plots, analysis, suggestions for optimal design parameters (e.g. length, angles of the sturcture, optimum parameters of motors and so on).  Does this exist?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-840" data-toggle = "popover">
				<p>user name : TomR</p>
				<p> user reputation : 189</p>
				<p class = "tagcontent" id = "usertaginfo-840">{'None': 0, 'computer-vision': 1, 'inverse-kinematics': 8, 'manufacturing': 0, 'simulator': 4, 'simulation': 1, 'humanoid': 0, 'research': 9, 'industrial-robot': 3, 'kinematics': 8, 'design': 10, 'dynamics': 3, 'ros': 3, 'gazebo': 4, 'programming-languages': 3, 'software': 13}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-840" class = 'collapse'>
			</div>
				<textarea id = "speech-840" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-840">
					<img id="start_img-840" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-840">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-844"  class = "post">
				<h2>Answer</h2>
			<div id="vote-844" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.energid.com/actin-simulation-advantages.htm" rel="nofollow">The Actin toolkit</a> is the only one I know of that sounds like what you want. </p>

<p>It integrates with SolidWorks to provide the kind of analysis you are talking about. </p>

<p>Other people may know of other similar tools though.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-844" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-844">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-844">Load Comments</button></br>
			<div id = "commentsection-844" class = 'collapse'>
			<div id = "comment-2113" class = "comment">
				<p>I came here to mention Actin as well, don't know of any others though.</p>
			</div>
			</div>
				<textarea id = "speech-844" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-844">
					<img id="start_img-844" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-844">Comment</button>
			<br><div id = "ans-1106"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1106" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use SolidWorks, ADAMS or CATIA software.
You can design your platform and analyses or make formula for that with these software s.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1106" data-toggle = "popover">
				<p>user name : Erfan Jazeb Nikoo</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1106">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1106" class = 'collapse'>
			</div>
				<textarea id = "speech-1106" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1106">
					<img id="start_img-1106" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1106">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>