<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Is the community (mid 2011) large enough to close questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-577" class = "post">
			<h2>Question</h2>
			<div id="vote-577" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 92</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is the community (mid 2011) large enough to close questions?</h2>
<p>I am wondering if in practice this community has enough people that visit in a 24 to 48 hour period to actually close questions.</p>

<p>Are there any questions that got closed due to an actual quorum of close votes and not via a binding vote by a moderator?</p>

<p>Just curious - things are working well since we have awesome mods - at what point does a site have enough people for the mods to not be needed for all the closing action.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-577">Load Comments</button></br>
			<div id = "commentsection-577" class = 'collapse'>
			<div id = "comment-1661" class = "comment">
				<p>Yes. We have a patient zero candidate.

http://apple.stackexchange.com/questions/31171/what-is-a-good-use-for-my-old-powerpc-mac</p>
			</div>
			</div>
				<textarea id = "speech-577" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-577">
					<img id="start_img-577" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-577">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-578"  class = "post">
				<h2>Answer</h2>
			<div id="vote-578" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes and no.</p>

<p>When going by the rep threshold of 3000 needed to cast close votes, then we only have 12 (twelve) people who can effectively close a question without moderator intervention. But some of the names I haven't seen active on the boards for a while. At the same time, it only takes a rep of 15 to flag a post for moderator attention, so that gives people the power of voting by extension. Going by that logic, the answer then is "yes" but only as long as we have proactive users willing to participate beyond simply asking and answering questions.</p>

<p>Stack Exchange is the only place where I have extensive experience <em>and</em> seen questions closed by voting, and even then it is pretty rare in the tags that I watch relative to the number of questions that get posted. The answer is then "no" when comparing how community sized between SE and Ask Different.</p>

<p>Therefore, I think the question then becomes: How do we encourage more Ask Different users to become proactive members of the community beyond the usual asking and answering questions? How do we become more community-driven than we already are now?</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-578">Load Comments</button></br>
			<div id = "commentsection-578" class = 'collapse'>
			<div id = "comment-1038" class = "comment">
				<p>Excellent post - I appreciate you sharing your observations. I also really appreciate how the moderators are erring on the side of caution when there is room for doubt that a question could be in the spirit of a good answer. I think this site is well on the way to attracting passionate users to curate and time will help.</p>
			</div>
			</div>
				<textarea id = "speech-578" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-578">
					<img id="start_img-578" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-578">Comment</button>
			<br><div id = "ans-579"  class = "post">
				<h2>Answer</h2>
			<div id="vote-579" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can you point to specific questions that you think should have been closed, that were not? </p>

<p>So long as nothing off-topic is surviving and harming the signal-to-noise ratio, I don't think it's necessarily <em>required</em> that 3k+ rep users single-handedly close questions.</p>

<p>Longer term, it is important that the "economy" of the site develop and there should be a growing number of 3k+ and 10k+ users for the future, of course -- and that all hinges on voting!</p>

<p><a href="http://blog.stackoverflow.com/2010/10/vote-early-vote-often/" rel="nofollow">http://blog.stackoverflow.com/2010/10/vote-early-vote-often/</a></p>

<p>So, if you want to help empower your fellow users to close, <em>vote up great questions and answers every day!</em></p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-579">Load Comments</button></br>
			<div id = "commentsection-579" class = 'collapse'>
			<div id = "comment-1039" class = "comment">
				<p>None at all - the mods have been awesomely responsive. It was more a question of whether the community has reached the point to not need the mods. I agree and appreciate the vote early and often post. I saw that days after I joined and it convinced me to vote more freely (i figured I was new and should wait a bit before voting) I'll certainly spread the word on voting.</p>
			</div>
			</div>
				<textarea id = "speech-579" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-579">
					<img id="start_img-579" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-579">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>