<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a brushless motor controller accepting over 500 updates~s?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5196" class = "post">
			<h2>Question</h2>
			<div id="vote-5196" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 161</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a brushless motor controller accepting over 500 updates~s?</h2>
<p>I want to use brushless for my line follower.<br>
The problem is most ESCs don't accept more than 400-500 updates/s due to the characteristic of steering signal.<br>
Is there a way to overcome this with a custom flash or am I out of luck?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5196" data-toggle = "popover">
				<p>user name : Chumanista</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-5196">{'brushless-motor': 0, 'None': 1, 'esc': 0, 'line-following': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5196">Load Comments</button></br>
			<div id = "commentsection-5196" class = 'collapse'>
			<div id = "comment-8017" class = "comment">
				<p>Under what circumstances is a >500 updates/second rate needed for line following? How many km/hr do you anticipate the line follower moving?</p>
			</div>
			<div id = "comment-8025" class = "comment">
				<p>Under any competion-winning ones. It has to move at least 4m/s at times.</p>
			</div>
			</div>
				<textarea id = "speech-5196" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5196">
					<img id="start_img-5196" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5196">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5256"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5256" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here are some off the shelf ESCs which claim to give 400Hz + update rate</p>

<p>1000Hz
<a href="http://www.hobbyking.com/hobbyking/store/__39708__Afro_ESC_30Amp_Multi_rotor_Motor_Speed_Controller_SimonK_Firmware_.html" rel="nofollow">http://www.hobbyking.com/hobbyking/store/__39708__Afro_ESC_30Amp_Multi_rotor_Motor_Speed_Controller_SimonK_Firmware_.html</a></p>

<p>600Hz 
<a href="http://www.amain.com/next-level-30-amp-multi-rotor-esc-w-simonk-firmware/p265104" rel="nofollow">http://www.amain.com/next-level-30-amp-multi-rotor-esc-w-simonk-firmware/p265104</a></p>

<p>499Hz
<a href="http://www.helipal.com/storm-multirotor-30a-opto-esc.html" rel="nofollow">http://www.helipal.com/storm-multirotor-30a-opto-esc.html</a></p>

<p>Normally SimonK firmware should give you some scope to play around for your requirements. You can refer following links</p>

<p><a href="https://github.com/sim-/tgy" rel="nofollow">https://github.com/sim-/tgy</a></p>

<p><a href="http://www.rcgroups.com/forums/showthread.php?t=1513678" rel="nofollow">http://www.rcgroups.com/forums/showthread.php?t=1513678</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5256" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-5256">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5256" class = 'collapse'>
			</div>
				<textarea id = "speech-5256" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5256">
					<img id="start_img-5256" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5256">Comment</button>
			<br><div id = "ans-5265"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5265" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The thing i was looking for turned out to be the KISS ESC:
<a href="http://flyduino.net/KISS-ESC-2-4S-18A-v11_1" rel="nofollow">http://flyduino.net/KISS-ESC-2-4S-18A-v11_1</a></p>

<p>It has an update speed of op to 2000Hz due to it's own control method called oneshot125.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5265" data-toggle = "popover">
				<p>user name : Chumanista</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-5265">{'brushless-motor': 0, 'None': 1, 'esc': 0, 'line-following': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5265">Load Comments</button></br>
			<div id = "commentsection-5265" class = 'collapse'>
			<div id = "comment-8049" class = "comment">
				<p>There is some discussion here; http://www.multiwii.com/forum/viewtopic.php?f=23&t=1947&start=650  Many conclude it is marketing hype. Let us know how it goes.</p>
			</div>
			</div>
				<textarea id = "speech-5265" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5265">
					<img id="start_img-5265" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5265">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>