<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is this supposed to be a bearing?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9057" class = "post">
			<h2>Question</h2>
			<div id="vote-9057" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 56</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is this supposed to be a bearing?</h2>
<p>I'm looking at the assembly of a tail rotor that should look like this</p>

<p><a href="https://i.stack.imgur.com/UuQ5b.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UuQ5b.jpg" alt="enter image description here"></a>
<sup><a href="https://i.stack.imgur.com/8ElkZ.jpg" rel="nofollow noreferrer">original image</a></sup></p>

<p>I wonder if the "tail output shaft stopper" (circled in red) is meant to be a bearing or just a piece of metal stopper:</p>

<p><a href="https://i.stack.imgur.com/ZH64j.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZH64j.png" alt="enter image description here"></a></p>

<p>My reading is that, since it's held by 2 set screws, the whole part should rotate with the rod. While rotating, it'd rub against the bevel gear on the tail drive though. Am I missing something?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9057" data-toggle = "popover">
				<p>user name : John Munroe</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-9057">{'brushless-motor': 0, 'None': 0, 'accelerometer': 1, 'rcservo': 0, 'torque': 1, 'servomotor': 0, 'mechanism': 5, 'gearing': 5, 'motor': 4, 'mobile-robot': 1, 'sensors': 1, 'servos': 0, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9057">Load Comments</button></br>
			<div id = "commentsection-9057" class = 'collapse'>
			<div id = "comment-14921" class = "comment">
				<p>I voted to close this question because it's not about robotics. The general engineering site would be a better fit. For what it's worth, I think it's a clumsy attempt at a thrust bearing to retain the tail output shaft and/or set/maintain gear mesh distance, which again should be the job of a thrust bearing.</p>
			</div>
			</div>
				<textarea id = "speech-9057" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9057">
					<img id="start_img-9057" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9057">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9058"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9058" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://i.stack.imgur.com/UuQ5b.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UuQ5b.jpg" alt="TailRotorStopper"></a></p>

<p>You can see exactly this part in your image. It won't rub anywhere. Since your second pictures shows a so called exploded drawing you cant tell a lot about exact metrics.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9058" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-9058">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9058">Load Comments</button></br>
			<div id = "commentsection-9058" class = 'collapse'>
			<div id = "comment-14916" class = "comment">
				<p>But what's the function of this part? Is it to prevent the output shaft from sliding out? My reading is that there's a bearing on the "Tail Gear Case Plate A", so isn't the rod somehow tightly fitted inside the bearing on that plate already?</p>
			</div>
			<div id = "comment-14917" class = "comment">
				<p>Maybe to secure the axle against displace and prevent the gearing to slip through. I'm not sure 100%</p>
			</div>
			<div id = "comment-14925" class = "comment">
				<p>Thanks TobiasK, I edited the question to use your image in place of the original photo. Also, remember that it is better to edit your answer to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			</div>
				<textarea id = "speech-9058" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9058">
					<img id="start_img-9058" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9058">Comment</button>
			<br><div id = "ans-9061"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9061" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A shaft stopper like that is made to let you assemble the device more precisely.  The bearings look like they are in the "Tail Gear Case Plate" subassemblies.  By using a shaft stopper you can insert the shaft into the bearings, but keep the shaft stopper set screws loose.  Then add whatever preload you want and locktite it in place (notice the "red" instructions in the drawing).</p>

<p>Regarding your additional question about how to secure the bearing: attaching a shaft and bearing can be a challenge.  Often a press is used if they are smaller components.  For large items the bearing is often heated, and, less commonly in my experience, the shaft may be cooled in dry ice.  A press may still be needed.  The tight clearance between the inner race of the bearing and the shaft helps to ensure the load is spread along the ID of the bearing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9061" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9061">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9061">Load Comments</button></br>
			<div id = "commentsection-9061" class = 'collapse'>
			<div id = "comment-14930" class = "comment">
				<p>@SteveO, as I said to TobiasK, please remember that on stack exchange, it is better to edit your answer to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			</div>
				<textarea id = "speech-9061" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9061">
					<img id="start_img-9061" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9061">Comment</button>
			<br><div id = "ans-9062"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9062" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As <a href="https://robotics.stackexchange.com/a/9061/37">SteveO suggested</a>, it is clear from the exploded diagram that a bearing is part of each <em>Tail Gear Case Plate</em>, and the <em>Tail Output Shaft Stopper</em> is locked to the output shaft using the set screws, which sit in the D grooves in the shaft.</p>

<p>The Washer and Poly Slider precisely set the distance between the left bearing and the mesh gear (actually a <a href="https://en.wikipedia.org/wiki/Gear#Bevel" rel="nofollow noreferrer">mitre gear</a>), while stopping the shaft from sliding up/left on the exploded diagram and disengaging the leader and follower.</p>

<p>The purpose of the Tail Output Shaft Stopper is to stop the shaft being pulled in the opposite direction, which is the direction the blades are going to be causing the shaft to be pulled when rotating.</p>

<p>With the stopper in place, the sideways force would be applied from the shaft to the bearing, through the Stopper, with very little force applied to the mesh gear.</p>

<p>Without the Tail Output Shaft Stopper all of the sideways force would be applied via the mesh gear, potentially wearing it out sooner, and possibly even causing it to bind and stop rotating altogether.</p>

<p>This sort of arrangement is fairly common in <em>robotics</em> application.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9062" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-9062">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9062" class = 'collapse'>
			</div>
				<textarea id = "speech-9062" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9062">
					<img id="start_img-9062" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9062">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>