<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Is this a potential community wiki question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1866" class = "post">
			<h2>Question</h2>
			<div id="vote-1866" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is this a potential community wiki question?</h2>
<p>Should <a href="https://apple.stackexchange.com/questions/110575/is-possible-to-upgrade-ios-offline">this question</a> be made into a community wiki post, so we can just mark any "How do I go from iOS {x} to iOS {y}?" questions as a duplicate of this? Of course, we would need to rephrase the actual question be quite generic, but my answer on it has already been made as generic as possible. Perhaps it should just be a new question that I just ask and answer myself and mark as a wiki. Thoughts?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1866" class = 'collapse'>
			</div>
				<textarea id = "speech-1866" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1866">
					<img id="start_img-1866" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1866">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1867"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1867" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I do not see why this sould be CW.</p>

<p>The question could be made a bit more general re the iOS versions but the answer seems to stay the same. Both seem good enough and covering an explict question so that they can be a normal answer</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1867">Load Comments</button></br>
			<div id = "commentsection-1867" class = 'collapse'>
			<div id = "comment-3600" class = "comment">
				<p>The problem is this: they all have the same exact answer, and the questions can all be formatted the exact same way, too.</p>
			</div>
			<div id = "comment-3612" class = "comment">
				<p>So theyare duplicates - not CW</p>
			</div>
			<div id = "comment-3619" class = "comment">
				<p>But which one are they a duplicate of? Maybe a Community Wiki isn't what I think it is...</p>
			</div>
			<div id = "comment-3620" class = "comment">
				<p>If they all have teh same answer then they are all but one  duplicates</p>
			</div>
			<div id = "comment-3621" class = "comment">
				<p>Would it then be acceptable for me to ask a new question in a very general way and then answer it myself in a very general way? (without making it a Community Wiki)</p>
			</div>
			<div id = "comment-3622" class = "comment">
				<p>The question can't be too broad - but I would try and see. And Community Wiki is not relevantt here - mainly used for open ended questions asking for lists</p>
			</div>
			</div>
				<textarea id = "speech-1867" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1867">
					<img id="start_img-1867" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1867">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>