<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is this a good quadcopter build?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1457" class = "post">
			<h2>Question</h2>
			<div id="vote-1457" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 862</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is this a good quadcopter build?</h2>
<p>3D CAD:
<img src="https://i.stack.imgur.com/0heyS.jpg" alt="quadcopter image"></p>

<p><strong>After some editing:</strong></p>

<p>I'm building the frame myself from aluminum and polycarbonate.</p>

<p><strong>EDIT:</strong> all frame is polycarbonate except of the arms (and all screws &amp; nuts &amp; washers)), they are form aluminum covered in polycarbonate. the total length (from one motor to another) is exactly <em>60cm</em></p>

<p><strong>Approximate Mass: 1.736 kg</strong></p>

<h2><strong>What I thought to put in:</strong></h2>

<ul>
<li><strong>Battery</strong>: <a href="http://www.hobbyking.com/hobbyking/store/__7634__ZIPPY_Flightmax_4000mAh_3S1P_20C.html" rel="nofollow noreferrer">ZIPPY Flightmax 4000mAh 3S1P 20C</a> (changed from this 1500mAh <a href="http://www.hobbyking.com/hobbyking/store/uh_viewitem.asp?idproduct=6307&amp;aff=588847" rel="nofollow noreferrer">battery</a>)</li>
<li><strong>Motors</strong>: <a href="http://www.hobbyking.com/hobbyking/store/uh_viewitem.asp?idproduct=18151&amp;aff=588847" rel="nofollow noreferrer">Turnigy Aerodrive SK3 - 2822-1090kv</a></li>
<li><strong>PDB</strong>: <a href="http://www.hobbyking.com/hobbyking/store/uh_viewitem.asp?idproduct=23140&amp;aff=607489" rel="nofollow noreferrer">Hobby King Quadcopter Power Distribution Board</a></li>
<li><strong>ESC</strong>: <a href="http://www.hobbyking.com/hobbyking/store/__6457__hobbyking_ss_series_18_20a_esc.html" rel="nofollow noreferrer">Hobbyking SS Series 18-20A ESC</a></li>
<li><strong>Core</strong>: <a href="http://www.ebay.com/itm/Nano-V3-0-ATmega328P-Arduino-Compatible-/170962843198?pt=LH_DefaultDomain_0&amp;hash=item27ce2df63e" rel="nofollow noreferrer">Arduino Nano</a></li>
<li><strong>IMU</strong>: <a href="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item=261231955458" rel="nofollow noreferrer">Invensense MPU-6050</a></li>
<li><strong>Propellers</strong>: <a href="http://www.hobbyking.com/hobbyking/store/uh_viewitem.asp?idproduct=25822&amp;aff=607489" rel="nofollow noreferrer">10x4.5 SF Props 2pc Standa## Heading ##rd Rotation/2 pc RH Rotation</a> (changed from 8x4.5 ones)</li>
</ul>

<p>I'm gonna program it myself (or atleast try to).</p>

<p><strong>I WANT TO USE IT AS A UAV (self controlled)</strong></p>

<h2><strong>Questions:</strong></h2>

<ol>
<li><p>Is this a good setup?</p></li>
<li><p>It costs to much for me, any way to keep the frame and change the
parts to be cheaper and yet a good quadcopter?</p></li>
<li><p>Does the propeller fit the motor?</p></li>
<li><p>Any place to buy these for cheaper?</p></li>
<li><p>Is it a good frame?</p></li>
<li><p>Am I missing some parts?</p></li>
</ol>

<p>Thanks alot,
Dan</p>

<p><strong>EDIT:</strong></p>

<ul>
<li><p>I checked it using this <a href="http://www.ecalc.ch/xcoptercalc.htm?ecalc&amp;lang=en" rel="nofollow noreferrer">site</a> and it gave no errors (guess its a good sign).</p></li>
<li><p>The camera on the image is just for the picture (no camera is intended there).</p></li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-1457" data-toggle = "popover">
				<p>user name : Dan Barzilay</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-1457">{'quadcopter': 8, 'control': 1, 'None': 0, 'power': 1, 'arduino': 1, 'pid': 7, 'logic-control': 0, 'motor': 2, 'real-time': 6, 'sensors': 1, 'movement': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1457">Load Comments</button></br>
			<div id = "commentsection-1457" class = 'collapse'>
			<div id = "comment-3102" class = "comment">
				<p>This question as written is going to elicit extremely subjective answers.  What is the goal of this project: just to build it, or for the completed vehicle to be able to accomplish some function?</p>
			</div>
			<div id = "comment-3104" class = "comment">
				<p>@Ian i'm more interesting in the programming of this quadcopter so I just want it to be stable and reliable, not too agile or something.. (I want to use it as a UAV)</p>
			</div>
			<div id = "comment-3106" class = "comment">
				<p>@Ian I edited my question with all missing details.</p>
			</div>
			<div id = "comment-3110" class = "comment">
				<p>Sorry dan, welcome to *robotics* but like code critique questions over on [so] this is very unlikely to help future visitors. I'm glad you got an answer that you found useful, but please try to stick to [*practical, answerable questions based on actual problems that you face*](http://robotics.stackexchange.com/help/dont-ask), it looks like you should have plenty when you start building your 'copter. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-1457" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1457">
					<img id="start_img-1457" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1457">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1461"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1461" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First of all, don't take it personally.</p>

<p>I am not a quad copter builder of some sort myself, but your setup is flawed: </p>

<ul>
<li>Battery can deliver 30A constant, maxed out. Your motors take, at full power, 8 4&nbsp;= 32A. You might get away with this battery, but it won't last long because you are pushing it too hard.</li>
<li>Big, heavy battery, low power engines/esc/battery. I don't even think your copter is going to lift of with this setup. Engines of
only 80W on a quad that, taking a look at your picture, is going to
be relatively heavy, is asking for trouble.</li>
<li>PDB is okay with this, and future, more power-hungry (I think), motors. They probably have a safety margin, but don't push it too
hard, which for now, you are not.</li>
<li>Arduino: you are going to <em>try</em> and program it. Programming a quad isn't an easy task, and unless you are quite a skilled programmer, I
recommend you to buy a programmed board, something like this: <a href="http://www.hobbyking.com/hobbyking/store/__21977__HobbyKing_Multi_Rotor_Control_Board_V3_0_Atmega328_PA_.html" rel="nofollow">Hobby
king link</a>.</li>
<li>I don't know a whole lot about copters, I'm more in the plane business, but unless you change motors, these props seem too big.
Moral of the story: get bigger engines, bigger battery, bigger ESC.</li>
<li>I can try to recommend better motors, ESC, etc., but I won't. I don't know enough about quads to be certain it is going to work, and
I won't recommend you something I don't know for sure, sorry.</li>
</ul>

<blockquote>
  <p>It costs to much for me, any way to keep the frame and change the parts to be cheaper and yet a good quadcopter?</p>
</blockquote>

<p>First make sure that your setup is right, then start asking where you can get it cheaper, that's my advice. </p>

<blockquote>
  <p>Does the propeller fit the motor?</p>
</blockquote>

<p>You are going to need an adaptor, but that is normal, I'd bet there are adaptors that suit your needs.</p>

<blockquote>
  <p>Any place to buy these for cheaper?</p>
</blockquote>

<p>Yes, but you are missing a few (important) parts, the setup you present here isn't a very expensive one, if you can't afford it, I recommend you to save money until you can buy a proper setup, you won't regret having some patience. </p>

<blockquote>
  <p>Is it a good frame?</p>
</blockquote>

<p>I can't judge if a frame is correct by one picture, there are way too many variables (like thickness of the material, where you are using aluminum, and where you are using the plastic, how are your motor mounts, what material, so on...).</p>

<blockquote>
  <p>Am I missing some parts?</p>
</blockquote>

<p>Yes, since I think you want to control it, you are going to need a controller, add <a href="http://www.hobbyking.com/hobbyking/store/__9042__Hobby_King_2_4Ghz_6Ch_Tx_Rx_V2_Mode_2_.html" rel="nofollow">25$</a>. Materials for the frame, camera, transmitter for the camera, ground station to receive, monitor for the video feed, so on.</p>

<p>I think you are taking this too lightly. You don't just build a quad for the first time, it's going to take a lot, and I mean a lot, of trial and error, and quite a bit of money.</p>

<p>Take your time to find the right parts.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1461" data-toggle = "popover">
				<p>user name : Thom Kouwen</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-1461">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1461">Load Comments</button></br>
			<div id = "commentsection-1461" class = 'collapse'>
			<div id = "comment-3105" class = "comment">
				<p>Thanks so much for your answer, you helped me alot. I updated the question to help you answer me more accurate, please do so. Thanks again!</p>
			</div>
			<div id = "comment-3111" class = "comment">
				<p>I'll be happy if you'll answer me again even though the question is closed :)</p>
			</div>
			</div>
				<textarea id = "speech-1461" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1461">
					<img id="start_img-1461" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1461">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>