<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a .NET library for conveyor belt automation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8673" class = "post">
			<h2>Question</h2>
			<div id="vote-8673" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a .NET library for conveyor belt automation?</h2>
<p>I'm a software developer and I work for a company that I think could use some automation in its warehouse. I thought it would be fun to put together a prototype of a conveyor system that automates a manual sorting process that we do on our warehouses. I'm primarily a .NET developer so I'm wondering if there is an .NET SDK for conveyor automation. </p>

<p>Any other information on where to start would be helpful but is not my main question here. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8673" data-toggle = "popover">
				<p>user name : Trevor</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-8673">{'None': 0, 'automation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8673">Load Comments</button></br>
			<div id = "commentsection-8673" class = 'collapse'>
			<div id = "comment-14160" class = "comment">
				<p>I have written high level system control software using .Net and the libraries I used were all specific to the hardware selected for the system rather than anything specific to conveyors.

I can't see what functionality you would expect from a conveyor library. Perhaps you could edit your question to explain what you are trying to achieve. Otherwise, this is looking like a *[shopping question](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)*.</p>
			</div>
			<div id = "comment-14163" class = "comment">
				<p>Haha. Thanks. Not sure if I'm "shopping". I just really have no idea where to start. I'm really just asking if something exists for the .NET framework, and I can go from there. I can see how mine could be a *stupid* question. But I can see other people having the same exact question, and I can see the answers gathered being useful for other people.</p>
			</div>
			<div id = "comment-14181" class = "comment">
				<p>We find that *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)* are more useful than speculative questions, so as a minimum we need to know what you would like to achieve. We can't even start to help you find a library if you don't define what functionality you need your library to provide. As I said, I've worked on .Net industrial control systems which included conveyors & never needed a library. Personally, I would grab a Lego Mindstorms set and prototype it there, that's what one of our controls engineers always did.</p>
			</div>
			</div>
				<textarea id = "speech-8673" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8673">
					<img id="start_img-8673" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8673">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8679"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8679" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Software for industrial automation is somewhat different then "general purpose" software.</p>

<p>Your software controlling the conveyor belts will have to interact with the conveyor belts. This is through sensors (probably inductive and/or capacitive proximity sensors, maybe mechanical switches, cameras with image processing etc.). The software you write will most likely be reactive to the information coming from the sensors and will act using actuators (electrical pneumatic or maybe hydraulic motors, which stop the line, move a piece from A to B, etc.)</p>

<p>The trick is to interface your software to hardware. In industrial automation this is normally done with PLC-s. We can very generally define them as the hardware platfrom of automation for running sofware. The programming of these is done in <a href="https://en.wikipedia.org/wiki/IEC_61131-3" rel="nofollow noreferrer">5 standardized languages</a>. For porgramming PLC-s in .net I would like to redirect you <a href="https://stackoverflow.com/questions/3302450/plc-programing-in-c-sharp-net">here</a>. </p>

<p>If it is not a serial product, just an experiment, you might want to take a look at DAQ boards, with .net compatibility like <a href="http://digital.ni.com/public.nsf/allkb/F0FD13D2DD0C433986256D9C00468D29" rel="nofollow noreferrer">this</a> one. The DAQ board will be your interface to phyisical signals and the software will run on a PC in .NET.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8679" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8679">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8679" class = 'collapse'>
			</div>
				<textarea id = "speech-8679" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8679">
					<img id="start_img-8679" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8679">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>