<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a portable and accurate sensor to measure the position of the hand relative to the body?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10427" class = "post">
			<h2>Question</h2>
			<div id="vote-10427" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 202</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a portable and accurate sensor to measure the position of the hand relative to the body?</h2>
<p>My team has been working on a wearable glove to capture data about hand movements, and use it as a human-computer interface for a variety of applications. One of the major applications is the translation of sign language, shown here: <a href="https://www.youtube.com/watch?v=7kXrZtdo39k" rel="nofollow">https://www.youtube.com/watch?v=7kXrZtdo39k</a></p>

<p>Right now we can only translate letters and numbers, because the signs for them require the person to hold their hand still in one position ('stationary' signs). I want to be able to translate <em>words</em> as well, which are non-stationary signs. Also the position of the hands really matters when signing words, for example it matters whether the hand is in front of the forehead, eyes, mouth, chest, cheeks, etc.</p>

<p>For this we need a portable and highly accurate position sensor. We have tried getting position from a 9-DOF IMU (accelerometer, gyroscope, magnetometer) but as you might guess, there were many problems with double integration of the noise and accelerometer bias.</p>

<p>So is there a device that can provide <strong>accurate position</strong> information? It should be <strong>portable and wearable</strong> (for example worn in the chest pocket, headband/cap, etc...be creative!).</p>

<p><strong>EDIT (more details):</strong></p>

<p>I'm going to emphasize certain aspects of this design that weren't clear before, based on people's comments:</p>

<ol>
<li>My <em>current</em> problem of position detection is due to errors in double integration of the accelerometer data. So hopefully the solution <s>has some incredibly powerful kalman filter (I think this is unlikely) or </s> uses some other portable device instead of an accelerometer.</li>
<li>I do not need absolute position of the hand in space/on earth. I only need the <em>hand position relative to some stable point on the body</em>, such as the chest or belly. So maybe there can be a device on the hand that can measure position relative to a wearable device on the body. I don't know if such technology exists; I guess it'd use either magnets, ultrasound, bend sensors, or EM waves of some sort. Be creative :)</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-10427" data-toggle = "popover">
				<p>user name : Bhavesh</p>
				<p> user reputation : 10</p>
				<p class = "tagcontent" id = "usertaginfo-10427">{'None': 0, 'sensor-error': 1, 'precise-positioning': 1, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10427">Load Comments</button></br>
			<div id = "commentsection-10427" class = 'collapse'>
			<div id = "comment-18760" class = "comment">
				<p>"*highly accurate position sensor.*" How accurate is that exactly? There's roughly 30cm between face and chest. You don't need anything "accurate" for that. Could you provide more information on what positions have to be identified?</p>
			</div>
			<div id = "comment-18762" class = "comment">
				<p>I say 'accurate' because I need the position information to be correct without accumulating errors for about 20 minutes to 1 hour. And also it needs to be precise because we need to differentiate between the hand being near the nose, eyes, mouth, etc. I wish I could give you a numerical specification but to be honest I will take the best of what's available. My priority is accuracy rather than precision, i.e. I don't need anything more precise than 2-5cm _but_ it should not report wrong position after continuous use for 20-60 minutes.</p>
			</div>
			<div id = "comment-18763" class = "comment">
				<p>It sounds like you're more concerned about drift caused by accumulation of errors over time, which is a valid concern. This can best be handled by a kaman filter, rather than a more accurate sensor.</p>
			</div>
			<div id = "comment-18766" class = "comment">
				<p>hes worried about observability, which is the problem he ran into with the double integration</p>
			</div>
			<div id = "comment-18787" class = "comment">
				<p>@Paul Is it possible to have a kalman filter for this application? There are a lot of jerky hand movements in all sorts of directions so will the filter be able to provide an accurate position for 20-60 mins?</p>
			</div>
			<div id = "comment-18798" class = "comment">
				<p>@Bhavesh, kalman filtering measurements wont solve an observability problem.</p>
			</div>
			</div>
				<textarea id = "speech-10427" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10427">
					<img id="start_img-10427" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10427">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10432"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10432" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problems of outdoor-tracking are described in <a href="http://www.tinmith.net/papers/piekarski-ismar-2006.pdf" rel="nofollow">http://www.tinmith.net/papers/piekarski-ismar-2006.pdf</a> page 2. As a solution was named the WearTrack System which worked by ultrasonic technology. The system tracks the hand relative to the head of the user. Other hardware solutions are presented here <a href="https://www.evl.uic.edu/jelias1/vr-shapetape.pdf" rel="nofollow">https://www.evl.uic.edu/jelias1/vr-shapetape.pdf</a> (ShapeTape Tracker) and here <a href="https://www.xsens.com/images/stories/PDF/Combining%20Motion%20Sensors%20and%20Ultrasonic%20Hands%20Tracking.pdf" rel="nofollow">https://www.xsens.com/images/stories/PDF/Combining%20Motion%20Sensors%20and%20Ultrasonic%20Hands%20Tracking.pdf</a> (ultrasonic tracker with gesture recognition).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10432" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10432">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10432">Load Comments</button></br>
			<div id = "commentsection-10432" class = 'collapse'>
			<div id = "comment-18785" class = "comment">
				<p>The indoor cyberglove mentioned is not portable at all, although quite a capable and interesting high tech device. I am looking at the papers under 'outdoor tracking' which are very cool solutions, especially the WearTrack system!</p>
			</div>
			<div id = "comment-18812" class = "comment">
				<p>I had a chance to read all of these and the papers in your Outdoor tracking section are quite helpful! I am willing to mark it as the correct answer except there is a lot of information that doesn't answer the question (namely, the indoor cyberglove section). Also it is important to write a bit (at least a sentence) about the "shapetape" paper and the xsens paper.</p>
			</div>
			</div>
				<textarea id = "speech-10432" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10432">
					<img id="start_img-10432" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10432">Comment</button>
			<br><div id = "ans-10440"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10440" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Manuel Rodriguez's idea for the strip-flex potentiometers is about as good are you are going to get. Accurate 3D mapping is not something easily accomplished, let alone accomplished in a portable package. The only other solution I can think of is something like the Leap Motion - but that is far from portable.</p>

<p>Watching their video, they seem to be using the same thing for not just the fingers, but the wrist and elbow joints as well. I can't tell, but it looks like they might also be running OpenCV (or similar) alongside this as well.</p>

<p>The trouble is that it sounds like you aren't even sure <em>exactly</em> what the intended application of this technology is. Not trying to be patronizing but 
<strong><em>what</em></strong> is the goal here? Why do you need an ASL-computer interface, and why does it <strong><em>need</em></strong> to be portable? Someone who needs to ASL for interpersonal communication should have no trouble interfacing with the average computer or smart phone - so I am assuming this is to allow them to communicate with people who do not know ASL (via gesture-to-computer-generated-speech)? If this is the case, then perhaps the solution you have picked is an overly complicated one to your problem.</p>

<p>I would suggest you revisit the drawing board all-together, and come up with a different approach. Perhaps a computer-vision application that can interpret signs, and run on a smart phone? Probably quicker, easier, and more accurate than trying to tackle a hardware problem that I have yet to see outside of a PhD thesis project in one of the world's top robotics research labs (and the one video on Youtube you linked to). Plus, such a solution could probably be later integrated into one of the existing 'universal translators' that Microsoft and Google are working on.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10440" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-10440">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10440">Load Comments</button></br>
			<div id = "commentsection-10440" class = 'collapse'>
			<div id = "comment-18793" class = "comment">
				<p>I should've mentioned in my post, the youtube video I linked to was a video of my team and I demonstrating our first prototype of this glove for our undergraduate final project. There is also a video that became popular in May showing University of Washington students who'd invented a similar device, again with no computer-vision or cameras.

I am aiming for it to be portable so that non-verbal people can use this anywhere outside and communicate with anyone, without having to face a screen. Also ASL requires using both hands so they would not be able to hold a phone while communicating.</p>
			</div>
			<div id = "comment-18794" class = "comment">
				<p>Alright, that is pretty impressive. But I don't think that alleviates my initial concerns that you might be inventing an overly complicated solution for this particular problem. Trouble is that a single human arm has something like 27~ DOFs, and ASL uses both arms. Accuracy will not be easy, regardless of what sensors you use, if you use an Electromechanical system. Never mind getting it fast enough for most users to want to use it.</p>
			</div>
			</div>
				<textarea id = "speech-10440" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10440">
					<img id="start_img-10440" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10440">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>