<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there such a thing as a legitimate duplicate? Is my case one of them?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-664" class = "post">
			<h2>Question</h2>
			<div id="vote-664" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 79</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there such a thing as a legitimate duplicate? Is my case one of them?</h2>
<p>I'm having the same problem as the poster of <a href="https://apple.stackexchange.com/questions/19156/have-to-reconnect-to-wifi-every-time-computer-goes-to-sleep">this question</a>. That question has a few different answers, and one of them is accepted by the OP, so I assume his or her problem is fixed.</p>

<p>I tried all the suggestions there with no joy. </p>

<p>Should I:</p>

<ul>
<li>open another question that notes that I have tried all the ideas from the other one with no success; or</li>
<li>bump that question up with votes and a comment noting that even though there's an accepted answer I'd like more ideas? </li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-664" data-toggle = "popover">
				<p>user name : hairboat</p>
				<p> user reputation : 1322</p>
				<p class = "tagcontent" id = "usertaginfo-664">{'osx': 22, 'None': 10, 'discussion': 100, 'status-completed': 6, 'sponsorship': 8, 'exact-duplicates': 3, 'lion': 9, 'twitter': 6, 'site-promotion': 72}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-664" class = 'collapse'>
			</div>
				<textarea id = "speech-664" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-664">
					<img id="start_img-664" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-664">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-665"  class = "post">
				<h2>Answer</h2>
			<div id="vote-665" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It does look like that answer definitely fixed the problem for the OP, since he commented on the answer first, then accepted the answer later (mouse over the timestamps to see the sequence of events in UTC time).</p>

<p>I agree the presence of the accepted answer is problematic; <em>if the accepted answer wasn't there</em>, I'd say ...</p>

<blockquote>
  <p>bump that question up with votes and a comment [ed: actually an edit is necessary]</p>
</blockquote>

<p>... but since it <em>is</em>, I think you have no choice but to ...</p>

<blockquote>
  <p>open another question that notes that I have tried all the ideas from the other one with no success</p>
</blockquote>

<p>... and link to the older question, obviously.</p>

<p>There's actually a third path here but it is much harder:</p>

<blockquote>
  <p>figure out the solution to your problem on your own, and post it as <em>another</em> answer on the question</p>
</blockquote>

<p>It's probably OK to have two linked questions here, so long as the text of the question is different enough to attract people who search using different terms for the same problem, etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-665" data-toggle = "popover">
				<p>user name : Jeff Atwood</p>
				<p> user reputation : 1898</p>
				<p class = "tagcontent" id = "usertaginfo-665">{'None': 148, 'discussion': 31, 'sponsorship': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-665">Load Comments</button></br>
			<div id = "commentsection-665" class = 'collapse'>
			<div id = "comment-1190" class = "comment">
				<p>Roger. I'll put in due diligence on option 3 and then go for option 2. Thanks!</p>
			</div>
			<div id = "comment-1193" class = "comment">
				<p>Especially for something like this, where the same solution might not work for everyone, then I don't see the problem with a new question. Especially if you state that you've already tried all the previously mentioned tips, as that helps narrow the focus a bit.</p>
			</div>
			</div>
				<textarea id = "speech-665" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-665">
					<img id="start_img-665" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-665">Comment</button>
			<br><div id = "ans-741"  class = "post">
				<h2>Answer</h2>
			<div id="vote-741" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In the Stack Exchange blog: </p>

<p><a href="http://blog.stackoverflow.com/2010/11/dr-strangedupe-or-how-i-learned-to-stop-worrying-and-love-duplication/">Dr. Strangedupe: Or, How I Learned to Stop Worrying And Love Duplication</a> (Jeff Atwood, November 2010)</p>

<p>For someone (like me) who traditionally worries about duplication, it's a refreshing read. </p>

<hr>

<p>For link purposes, in Ask Different meta: </p>

<p><a href="https://apple.meta.stackexchange.com/q/42/8546">Should we duplicate some of the most Apple releated popular questions from other SE sites?</a> (August 2010)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-741" data-toggle = "popover">
				<p>user name : Graham Perrin</p>
				<p> user reputation : 4827</p>
				<p class = "tagcontent" id = "usertaginfo-741">{'None': 30, 'tags': 7, 'support': 7, 'status-completed': 2, 'bug': 3, 'design': 6, 'feature-request': 18, 'status-bydesign': 5, 'discussion': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-741" class = 'collapse'>
			</div>
				<textarea id = "speech-741" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-741">
					<img id="start_img-741" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-741">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>