<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a policy against an edit to add clarification to a question that is now out of date?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2127" class = "post">
			<h2>Question</h2>
			<div id="vote-2127" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a policy against an edit to add clarification to a question that is now out of date?</h2>
<p><a href="https://apple.stackexchange.com/questions/12417/what-different-stack-exchange-apps-exist-for-ios">What different Stack Exchange apps exist for iOS?</a></p>

<p>The question is no longer relevant (in that it says there is no official app) and someone edited it to add that.  A mod removed the edit. Just curious why... seems like it would be helpful to future visitors to know that this question is not relevant today.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2127" data-toggle = "popover">
				<p>user name : Michael Pryor</p>
				<p> user reputation : 725</p>
				<p class = "tagcontent" id = "usertaginfo-2127">{'None': 0, 'editing': 5, 'discussion': 5, 'questions': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2127" class = 'collapse'>
			</div>
				<textarea id = "speech-2127" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2127">
					<img id="start_img-2127" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2127">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2128"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2128" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I did (or rather undid) the edit because answers shouldn't be included in the question but posted as real answers below (and there already was an answer for the official app anyway). I did miss the the part about the nonexistence of an official app though, going to fix this afterwards. Thanks for pointing it out.</p>

<p>In general I would lean towards closing outdated questions with a comment stating the close reason. This way they stay on the site (and are still searchable).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2128" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2128">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2128" class = 'collapse'>
			</div>
				<textarea id = "speech-2128" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2128">
					<img id="start_img-2128" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2128">Comment</button>
			<br><div id = "ans-2129"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2129" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's no policy, but as Patrix points out (and its especially relevant when you read the question title standalone which just asks "What software do people use" indicating the lack of an official one as a side note in effect during the question) the information that an official client is available has been included and is currently the highest voted answer, and the OP has been informed by other regular users to perhaps change his accepted answer.</p>

<p>That's where things get tricky.  With some subjects, things get out of date real quick.  And this is one of those.  Personally the preferred solution for me personally was if the person providing the new answer when the official client came out just didn't answer - it wasn't an active question at that time being 3 years old but now there is a fresh answer it becomes active, and now becomes a sort of Zombie question brought back to life due to new information.  In the perfect world, this old question would not have been resurrected <em>for me</em>, but when they are, we have to try to tread the line between <em>updating the question to make it relevant</em>, which risks making <em>existing answers and votes irrelevant</em>.</p>

<p>A tough one.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2129" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-2129">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2129" class = 'collapse'>
			</div>
				<textarea id = "speech-2129" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2129">
					<img id="start_img-2129" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2129">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>