<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is the working principle of all servo motors the same?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11782" class = "post">
			<h2>Question</h2>
			<div id="vote-11782" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 94</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is the working principle of all servo motors the same?</h2>
<p>If I can control a small hobby servo motor then can I control high torque servo motor in same way? I want to make a robot which needs a high torque and speed motors. But first before buying some industrial servo motors I want to first test the kinematics of my robot with small cheap servo motors. I will be using ros-orocos toolchain to control the robot and to make an efficient motion planning algorithm. Why I can't go for expensive servo motors right now is that first I want to test the working of the robot arm, whether it moves as expected or not. Although I think it is possible, I want to be sure.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11782" data-toggle = "popover">
				<p>user name : Dinesh Lama</p>
				<p> user reputation : 160</p>
				<p class = "tagcontent" id = "usertaginfo-11782">{'control': 0, 'stability': 1, 'None': 2, 'inverse-kinematics': 0, 'arduino': 4, 'python': 1, 'gazebo': 0, 'lidar': 0, 'servomotor': 0, 'motor': 0, 'real-time': 1, 'actuator': 0, 'serial': 1, 'ros': 2, 'servos': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11782" class = 'collapse'>
			</div>
				<textarea id = "speech-11782" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11782">
					<img id="start_img-11782" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11782">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11783"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11783" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For the most part, yes, the working principle is the same.</p>

<p>All servo motors I've ever encountered use PWM to control them (sometimes called PPM).  So the code you use to turn your test motor ought to be reusable with the high torque motor, or in fact any other servo. But be aware of the following possible issues that you may or may not need to account for:</p>

<ul>
<li>the neutral point might not be in the middle of the PWM range</li>
<li>the direction of motion of servos is not standardized, so while one might turn clockwise from low PWM to high, another might turn counterclockwise</li>
<li>most servos work in the range of a 1000 s pulse to a 2000 s pulse for a total rotation of 180  but this is not necessarily true for all, some may work from 800-2200 s or from 1200-1800 s, for example</li>
<li>the time to turn from one extreme to another might vary greatly between two servos</li>
<li>50Hz (or 20ms updates) is pretty standard but some servos (esp. digital servos) may be capable of much quicker updates</li>
</ul>

<p><a href="https://www.pololu.com/blog/17/servo-control-interface-in-detail" rel="nofollow noreferrer">This article on the pololu site</a> is very good at describing the reactions to expect from the various signals and how they might vary between servos. </p>

<p>Good servo code will allow you to tweak the performance by adjusting parameters in the code rather than rewriting the code.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11783" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-11783">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11783" class = 'collapse'>
			</div>
				<textarea id = "speech-11783" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11783">
					<img id="start_img-11783" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11783">Comment</button>
			<br><div id = "ans-11795"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11795" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No, industrial servo motors are not generally controlled in the same way as hobby servos.</p>

<p>The servo motor, motor drive and position sensors which are combined in a hobby servo are separate items in industrial systems, and the control system is responsible for position feedback. Similar to hobby servos, the motor drive may take a PWM signal or a digital signal, but that signal will usually be the desired drive speed. The motor drive will then attempt to drive the motor at that speed. Look around a supplier's site such as <a href="http://www.emersonindustrial.com/en-US/controltechniques/products/servodrives/Pages/servodrives.aspx" rel="nofollow noreferrer">Emerson</a> or <a href="http://www.schneider-electric.com/en/product-subcategory/2935-servo-drives-and-motors/" rel="nofollow noreferrer">Schneider</a> for examples of servo motors and drives.</p>

<p>If you want position control, or force control, then you need to put your own sensor in a feedback loop and request the desired motor speed, rather than requesting a position as you do in most hobby servos - somewhat similar to continuous rotation hobby servos. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11795" data-toggle = "popover">
				<p>user name : Pete Kirkham</p>
				<p> user reputation : 357</p>
				<p class = "tagcontent" id = "usertaginfo-11795">{'None': 19}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11795" class = 'collapse'>
			</div>
				<textarea id = "speech-11795" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11795">
					<img id="start_img-11795" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11795">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>