<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a "follow me" Roomba~Create that works like a BEAMBot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9673" class = "post">
			<h2>Question</h2>
			<div id="vote-9673" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 84</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a "follow me" Roomba~Create that works like a BEAMBot?</h2>
<p>The diagram below shows an old BEAMBot strategy:</p>

<p><a href="http://youtu.be/DNj958sV0-U" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/AOmPx.png" alt="Block diagram of IR based following circuit"></a>   </p>

<p>Is there code or an example using this method? I would rather avoid OpenCV, ultrasonic, GPS etc. I just want the Roomba wheels to react as I go straight, turn left or right. Finally, I could add a front wheel on a servo and try having the Roomba turn with me. </p>

<p>Also has anybody added big, all terrain wheels to a Roomba to replace the originals?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9673" data-toggle = "popover">
				<p>user name : newc3</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9673">{'control': 0, 'None': 0, 'roomba': 0, 'irobot-create': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9673">Load Comments</button></br>
			<div id = "commentsection-9673" class = 'collapse'>
			<div id = "comment-17239" class = "comment">
				<p>Do you mean like a _[Phototrope BEAMBot](https://en.wikipedia.org/wiki/BEAM_robotics#Types)_?</p>
			</div>
			</div>
				<textarea id = "speech-9673" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9673">
					<img id="start_img-9673" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9673">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9688"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9688" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Roomba already does something very close to this: when it returns to its charging dock, it aligns itself with an IR signal coming from the top of the dock.  The procedure is more sophisticated, but the basics are the same.</p>

<p>According to <a href="http://irobot.lv/uploaded_files/File/iRobot_Roomba_500_Open_Interface_Spec.pdf" rel="nofollow">this PDF of the iRobot Roomba 500 Open Interface</a>, there is a way to read the "infrared character" from the left, right, and omni sensors.  So you would need a device that could send an IR character (in Roomba's format) to the vehicle, and your code would detect and react to it. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9688" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9688">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9688">Load Comments</button></br>
			<div id = "commentsection-9688" class = 'collapse'>
			<div id = "comment-17186" class = "comment">
				<p>For the device, you can get one of the iRobot virtual walls. It has a halo and beam, but you can block either with copper tape or similar.</p>
			</div>
			</div>
				<textarea id = "speech-9688" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9688">
					<img id="start_img-9688" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9688">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>