<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a way to turn the sound off of a Roomba?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8444" class = "post">
			<h2>Question</h2>
			<div id="vote-8444" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1214</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a way to turn the sound off of a Roomba?</h2>
<p>I am working with an iRobot Create 2 and I work with others around me. Whenever I turn the robot on, send it an OI reset command, etc., it makes its various beeps and noises. I would like to not have this happen since I find it a little annoying and I'm sure those who have to work around me would like to have things quiet so they can concentrate on their work. Is there a way to accomplish turning off the beeps (while still being able to easily re-enable them), or am I out of luck?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8444" data-toggle = "popover">
				<p>user name : Eric</p>
				<p> user reputation : 20</p>
				<p class = "tagcontent" id = "usertaginfo-8444">{'digital-audio': 2, 'None': 0, 'roomba': 2, 'irobot-create': 3, 'mobile-robot': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8444">Load Comments</button></br>
			<div id = "commentsection-8444" class = 'collapse'>
			<div id = "comment-13674" class = "comment">
				<p>Guess you're stuck needing earplugs! :P</p>
			</div>
			</div>
				<textarea id = "speech-8444" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8444">
					<img id="start_img-8444" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8444">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8447"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8447" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No, there is no software or hardware volume control on the Roomba.  </p>

<p>You could probably put a potentiometer inline with the speaker wire to manually change the volume.  However, getting to the speaker is a bit of work.  But I believe is totally doable.  You just have to disassemble (and reassemble) lots of the robot.  This would make a great project, be sure to <a href="http://www.irobot.com/About-iRobot/STEM/Create-2/Submit-a-Project.aspx" rel="nofollow">submit</a> it!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8447" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8447">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8447">Load Comments</button></br>
			<div id = "commentsection-8447" class = 'collapse'>
			<div id = "comment-13678" class = "comment">
				<p>I was afraid that this was the answer. If I do end up doing this, I will! But tbh, I may just tolerate it because getting things working is a priority at this point.</p>
			</div>
			</div>
				<textarea id = "speech-8447" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8447">
					<img id="start_img-8447" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8447">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>