<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there any robot stability control equation that describes the relation between velocity of the robot and its orientation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10824" class = "post">
			<h2>Question</h2>
			<div id="vote-10824" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there any robot stability control equation that describes the relation between velocity of the robot and its orientation?</h2>
<p>Let s assume at time t a moving robot (e.g. PIONEER 3-DX) changes it s steering angle by $25^{\circ}$. Obviously, in order to maintain stability and avoid overturning,  the robot must reduce its velocity between the time interval $t$ and $t+1$. But the question is by how much?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10824" data-toggle = "popover">
				<p>user name : farhad</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10824">{'control': 0, 'None': 0, 'wheeled-robot': 0, 'industrial-robot': 0, 'kinematics': 0, 'path-planning': 2, 'mobile-robot': 2, 'motion-planning': 2, 'navigation': 2, 'robotc': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10824" class = 'collapse'>
			</div>
				<textarea id = "speech-10824" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10824">
					<img id="start_img-10824" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10824">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10828"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10828" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That's not obvious. If I'm in a tank, going 0.5 km/h, I don't need to slow down at all. If I'm in a bobsled going 100km/h and the track banks, I don't need to slow down at all. </p>

<p>When you steer, you begin to move around a circle with a particular radius of curvature. This means you also begin to experience centrifugal force.</p>

<p>$$
F_c = mv^2/r
$$</p>

<p>where $F_c$ is the centrifugal force, $m$ is the mass, $v$ is the speed, and $r$ is the radius of curvature.</p>

<p>Now, you have a force. It acts through the center of mass of the vehicle. If the center of mass is at some height $h$ above the surface, then you get a torque in addition to the force, where:</p>

<p>$$
\tau_c = F_c h
$$</p>

<p>where $\tau_c$ is the torque on the vehicle caused by the centrifugal force and $h$ is the height above the road. </p>

<p>Now, the centrifugal force is free to increase until one of two things happens:</p>

<ol>
<li>The centrifugal force exceeds the static force between the tires and the road. Once this happens the tires "break loose" and the vehicle begins to "drift". </li>
<li>The torque exceeds the torque required to rotate the vehicle. Once this happens the vehicle rolls over. </li>
</ol>

<p>There was a bunch of news coverage maybe 15 years ago when SUVs were first introduced in the US where the vehicles where rolling over a lot. Their center of mass was too high, meaning that the torque on the vehicle was created much earlier (at lower speeds) than drivers were used to.</p>

<p>So, you don't need to slow down at all <strong>until</strong> the tire's grip is overcome and/or the vehicle begins to roll. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10828" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10828">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10828" class = 'collapse'>
			</div>
				<textarea id = "speech-10828" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10828">
					<img id="start_img-10828" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10828">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>