<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is the input of ESC really limited at 50 Hz and will the PID controllers work properly?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4808" class = "post">
			<h2>Question</h2>
			<div id="vote-4808" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 130</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is the input of ESC really limited at 50 Hz and will the PID controllers work properly?</h2>
<p>Based on the wiki page of ESC, the ESC generally accepts a nominal 50 Hz PWM servo input signal whose pulse width varies from 1 ms to 2 ms</p>

<p><a href="http://en.wikipedia.org/wiki/Electronic_speed_control" rel="nofollow">http://en.wikipedia.org/wiki/Electronic_speed_control</a></p>

<p>For our project, we integrate a flight controller for our UAV, Naza m-lite and we want to implement position control. We already have localization and we can control the quadrotor by applying servo width to roll, pitch, yaw and thrust throttle. Since the ESC only accepts 50 Hz, will the PID controller work at only 50 Hz?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4808" data-toggle = "popover">
				<p>user name : Xegara</p>
				<p> user reputation : 63</p>
				<p class = "tagcontent" id = "usertaginfo-4808">{'quadcopter': 3, 'None': 0, 'localization': 11, 'pid': 2, 'mapping': 10, 'uav': 1, 'slam': 10}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4808" class = 'collapse'>
			</div>
				<textarea id = "speech-4808" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4808">
					<img id="start_img-4808" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4808">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4809"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4809" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First things first: the information on wikipedia refers to ESCs in general, and not a specific one.  You should consult the datasheet on your particular ESC model to make sure that it does in fact use 50 Hz.</p>

<p>You also seem to have a misconception about how the PID controller and ESC are coupled together; in fact, the PID controller can work at whatever frequency it wants.  The output of the PID will be some value, and in order to send that value to the ESC you will need to convert it to a <a href="http://en.wikipedia.org/wiki/Pulse-width_modulation" rel="nofollow">pulse-width modulated (PWM)</a> signal on the frequency that the ESC uses for input.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4809" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4809">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4809">Load Comments</button></br>
			<div id = "commentsection-4809" class = 'collapse'>
			<div id = "comment-7499" class = "comment">
				<p>So the frequency of the PID controller does not have to be the same as of the frequency of sending PWM signal to the flight controller even if the frequency of the PWM signal is only at 50 Hz? What is the usual frequency for PID controller?</p>
			</div>
			<div id = "comment-7501" class = "comment">
				<p>There is no "usual" frequency for PID controls.  If you wanted to PID control the steering on a large boat, 1Hz might be fine; for some flying robots, you may want it to be much higher than 50Hz.  Higher frequency is generally better than lower frequency, but if your ESC can only accept 50 inputs per second then there's no gain to making your PID run faster than that.</p>
			</div>
			</div>
				<textarea id = "speech-4809" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4809">
					<img id="start_img-4809" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4809">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>