<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is this large bipedal robot real or realizable?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11235" class = "post">
			<h2>Question</h2>
			<div id="vote-11235" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 72</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is this large bipedal robot real or realizable?</h2>
<p>I saw this <a href="https://www.instagram.com/p/BOEpUnQjgnb/" rel="nofollow noreferrer">link</a> today. This robot seems real, but redditors on a reddit <a href="https://www.reddit.com/r/robotics/comments/5iwpj6/a_large_bipedal_robot/" rel="nofollow noreferrer">thread</a> argued that it might be CGI. It doesn't seem unfeasible to make such as robot IMO. There isn't anything out of the norm from the video except the size. Plus, there exist Kurata and Megabot, though they don't make bipedal robot, the scale is similar. From roboticist's point view, is this robot real? What are the technological limitation preventing such a robot being developed if it's fake? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11235" data-toggle = "popover">
				<p>user name : user14042</p>
				<p> user reputation : 134</p>
				<p class = "tagcontent" id = "usertaginfo-11235">{'control': 6, 'None': 5, 'robotic-arm': 6, 'pid': 5, 'embedded-systems': 2, 'joint': 6, 'imu': 1, 'kalman-filter': 2, 'design': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11235">Load Comments</button></br>
			<div id = "commentsection-11235" class = 'collapse'>
			<div id = "comment-20336" class = "comment">
				<p>See also http://www.wired.co.uk/article/korea-building-giant-robot-mech</p>
			</div>
			</div>
				<textarea id = "speech-11235" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11235">
					<img id="start_img-11235" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11235">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11238"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11238" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>On the video is a 4 meter tall mecha robot which makes heavy noise while walking forward. To determine if this is a real robot or fake, the first step is to enter the name of creator Vitaly Bulgarov into a search engine like Linkedln to find more about him. Linkedln says that Bulgarov works for the gaming-industry and is an artist. So it is normal, that Google Scholar and ResearchGate has no papers from him. From a academic point of view, he doesn't exists. If this is a real robot, it wasn't created by any universities worldwide. From the technical point of view this kind of mechanic is possible. The most advanced university driven project is until now is "SRI DURUS".</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11238" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-11238">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11238" class = 'collapse'>
			</div>
				<textarea id = "speech-11238" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11238">
					<img id="start_img-11238" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11238">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>