<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there an advantage to multiple magnetometers for heading computation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4682" class = "post">
			<h2>Question</h2>
			<div id="vote-4682" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 215</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there an advantage to multiple magnetometers for heading computation</h2>
<p>I'm building an autonomous sail boat (ripped out the guts of an RC sail boat and replaced with my own mainboard etc.)</p>

<p>The controller board I have can accommodate both an MPU9150 and an HMC5883. Is there any advantage is using both magnetometers for a tilt-compensated heading? I'm thinking that I could compute the unit vector with soft/hard iron offsets removed for both, and then average  the two vectors to get one slightly better one?</p>

<p>Not sure if it would yield a better result though.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4682" data-toggle = "popover">
				<p>user name : kolosy</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-4682">{'magnetometer': 3, 'None': 0, 'sensor-fusion': 2, 'compass': 3, 'electronics': 1, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4682">Load Comments</button></br>
			<div id = "commentsection-4682" class = 'collapse'>
			<div id = "comment-7384" class = "comment">
				<p>One advantage of using only the sensors from the MPU9150 is that you wouldn't have to do sensor alignment.</p>
			</div>
			<div id = "comment-7413" class = "comment">
				<p>@marcv81 very true. The funny thing is, though, that the accuracy of the built-in mag is substantially worse than the HMC. As a result, you may not get any better results, despite eliminating the cross-axis alignment issues.</p>
			</div>
			<div id = "comment-7425" class = "comment">
				<p>I'm not familiar with the MPU9150, but I've setup a MPU6150 + HMC5883L on a quadcopter. I only used the magnetometer to compensate for the gyro drift. The HMC5883L is good, but I can't see how worse it would have been with a poor compass: after all it only needs to provide vaguely consistent results on average and at a slow rate.</p>
			</div>
			</div>
				<textarea id = "speech-4682" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4682">
					<img id="start_img-4682" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4682">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4683"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4683" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A brief google search turned up <a href="http://www.researchgate.net/publication/224154968_New_method_for_magnetometers_based_orientation_estimation/links/09e4150c991ca2aabb000000" rel="nofollow">this paper on using multiple magnetometers</a>.  Depending on how far out at sea you expect to deploy this sailboat, you may want to consider a fallback mode where if the 2 compasses diverge by a certain amount then you consider one of them to be malfunctioning (since the average would be very inaccurate).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4683" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4683">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4683">Load Comments</button></br>
			<div id = "commentsection-4683" class = 'collapse'>
			<div id = "comment-7313" class = "comment">
				<p>The link doesn't seem to show. Do you mind editing it back in?</p>
			</div>
			<div id = "comment-7314" class = "comment">
				<p>Whoops! Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-4683" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4683">
					<img id="start_img-4683" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4683">Comment</button>
			<br><div id = "ans-4732"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4732" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Not really. </p>

<p>With careful planning, experimentation and testing to minimize effect of servo motor magnetic field affecting the sensor (by placing sensor as far away as possible and mathematically iron compensation via angle table), one should be able to achieve accuracy of a few degrees, which should be sufficient for the said application.  (This excludes the case of sensor error detection via multiple sensors)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4732" data-toggle = "popover">
				<p>user name : EEd</p>
				<p> user reputation : 359</p>
				<p class = "tagcontent" id = "usertaginfo-4732">{'None': 16, 'laser': 3, 'pid': 1, 'motor': 1, 'untagged': 0, 'pwm': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4732" class = 'collapse'>
			</div>
				<textarea id = "speech-4732" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4732">
					<img id="start_img-4732" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4732">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>