<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a sensor that can measure through an object?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10878" class = "post">
			<h2>Question</h2>
			<div id="vote-10878" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 55</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a sensor that can measure through an object?</h2>
<p>Is there a sensor that can measure through an object, for example a mattress. (This is not what I want to do but it is a good illustration) I want to mount a sensor on the ceiling above the top bunk of a bunk bed and want to measure the presence of a person on the bottom bunk (when no one is in the top bunk). I have read about thermal and ultrasonic sensors however it does appear that they would be able to measure on the other side of a mattress.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10878" data-toggle = "popover">
				<p>user name : nats yankoo</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10878">{'None': 0, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10878">Load Comments</button></br>
			<div id = "commentsection-10878" class = 'collapse'>
			<div id = "comment-19600" class = "comment">
				<p>Welcome to *Robotics*, natsyankoo. Could you please *edit your question* to be more specific? You said you don't want to measure through a mattress, but then go on to state you want to detect a person on the other side of a mattress. Generally, you get the best quality answers by stating your exact problem, followed by a statement of your approach to the solution. The short answer to your question, "Is there a sensor that can measure through an object?" is, "Yes, of course." X-rays, ultrasound - these are all used to image inside the human body. *What is your specific application?*</p>
			</div>
			</div>
				<textarea id = "speech-10878" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10878">
					<img id="start_img-10878" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10878">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10879"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10879" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some signal has to penetrate the object and reflect back to the transceiver in order to do such a measurement. Light can penetrate some object (e.g glass), ultrasounds can penetrate most objects upto a certain depth (based on material). Magnetic and/or electric fields can also penetrate objects, that is how metal detectors work.</p>

<p>In your mattress use case, a signal entering the object, leaving the object on the other side, then getting reflected, the reflection penetrating again the object and leaving on the other side and then picked up by the transceiver is a tough problem with today's commercially available technology.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10879" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10879">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10879">Load Comments</button></br>
			<div id = "commentsection-10879" class = 'collapse'>
			<div id = "comment-19611" class = "comment">
				<p>Good points. Thanks for the explanation.</p>
			</div>
			</div>
				<textarea id = "speech-10879" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10879">
					<img id="start_img-10879" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10879">Comment</button>
			<br><div id = "ans-10886"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10886" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am not sure you will be able to find a cheap off the shelf sensor.  But if you are an RF engineer and willing to implement something yourself, you might want to read: <a href="https://www.hindawi.com/journals/ijmst/2014/958905/" rel="nofollow">A Multifrequency Radar System for Detecting Humans and Characterizing Human Activities for Short-Range Through-Wall and Long-Range Foliage Penetration Applications</a> by Ram M. Narayanan, Sonny Smith, and Kyle A. Gallagher.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10886" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-10886">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10886">Load Comments</button></br>
			<div id = "commentsection-10886" class = 'collapse'>
			<div id = "comment-19610" class = "comment">
				<p>Great answer thanks</p>
			</div>
			</div>
				<textarea id = "speech-10886" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10886">
					<img id="start_img-10886" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10886">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>