<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a better type of sensor to measure the distance instead of Ultrasonic sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14075" class = "post">
			<h2>Question</h2>
			<div id="vote-14075" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 36</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a better type of sensor to measure the distance instead of Ultrasonic sensors</h2>
<p>We know that the Ultrasonic sensors can't accurately measure the distance to an object that</p>

<ol>
<li>is more than 3 meters away (the distance may vary on brands)</li>
<li>has it's reflective surface at a shallow angle (the angle may vary on brands)</li>
<li>is too small to reflect enough sound</li>
</ol>

<p><a href="https://image.ibb.co/jesTj5/1.jpg" rel="nofollow noreferrer"><img src="https://image.ibb.co/jesTj5/1.jpg" alt="Ultrasonic Sensor"></a></p>

<p>Also the environmental influences such as air tempereture, air pressure, air currents, humidity, mist and types of gas cause inaccurate measurements. Which sensor should i use to get the best measurements ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14075" data-toggle = "popover">
				<p>user name : Kitiara</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-14075">{'None': 0, 'sensors': 2, 'ultrasonic-sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14075">Load Comments</button></br>
			<div id = "commentsection-14075" class = 'collapse'>
			<div id = "comment-22944" class = "comment">
				<p>I assume the question is for indoor, wheeled robot that's trying to self locate or prevent collision. If not, can you add whether it's Indoor or outdoor ? What sort of a distance is relevant? To a wall , to grass?</p>
			</div>
			<div id = "comment-22945" class = "comment">
				<p>This is more like a general question. I'd like to keep it that way for those who want to get informed. It can be for both indoor and outdoor.</p>
			</div>
			</div>
				<textarea id = "speech-14075" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14075">
					<img id="start_img-14075" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14075">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14079"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14079" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, there are IR sensors as well, which provide ranges up to 3-4 meters <a href="https://www.pololu.com/category/79/sharp-distance-sensors" rel="nofollow noreferrer" title="Pololu Range Finders">Pololu Range Finder</a>. Also, we can find Laser range finders that measure up to 30m distance. But these Laser range finders are expensive in compared to ultrasonic sensors and mostly used for mapping purposes.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14079" data-toggle = "popover">
				<p>user name : Bharat Joshi</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-14079">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14079">Load Comments</button></br>
			<div id = "commentsection-14079" class = 'collapse'>
			<div id = "comment-22942" class = "comment">
				<p>As far as i remember there are some environmental influences that cause inaccurate measurements for IR sensors as well, such as light. Am i wrong ? I don't have much info about the laser range finders, is there any factor that may lead inaccurate measurements ?</p>
			</div>
			</div>
				<textarea id = "speech-14079" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14079">
					<img id="start_img-14079" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14079">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>