<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there an analytical solution for inverse kinematics of a 6 DOF serial chain?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2729" class = "post">
			<h2>Question</h2>
			<div id="vote-2729" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1579</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there an analytical solution for inverse kinematics of a 6 DOF serial chain?</h2>
<p>Let's take a 6 DOF robotic structure. It's consisting of the 3 DOF global structure for the position - and the 3 DOF local structure for the orientation of the endeffector.</p>

<p>If the last 3 axis (of the local structure) are coincident in one point, the inverse kinematics can be solved analytically by decomposing it into a position- and orientation-problem. </p>

<p>But is it possible to solve the inverse kinematics analytically if the last 3 axis are <strong>NOT coincident</strong> in one point? I've read several papers that claim that due to high non-linearity of the trigonometric functions and motion complexity in 3D-space, a 6 DOF serial chain cannot be solved analytically. </p>

<p>Does anybody know if this is right?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2729" data-toggle = "popover">
				<p>user name : Hummingbird</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-2729">{'None': 0, 'inverse-kinematics': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2729">Load Comments</button></br>
			<div id = "commentsection-2729" class = 'collapse'>
			<div id = "comment-5173" class = "comment">
				<p>Can you indicate which papers?</p>
			</div>
			</div>
				<textarea id = "speech-2729" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2729">
					<img id="start_img-2729" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2729">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4325"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4325" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=8&amp;ved=0CEUQFjAH&amp;url=http%3A%2F%2Fwww.atlantis-press.com%2Fphp%2Fdownload_paper.php%3Fid%3D3899&amp;ei=-NTWU5nGGIn4oATI-IDoAg&amp;usg=AFQjCNG--tGKOUrLqMtCceDOxBRP1zPGXQ&amp;sig2=wb-SmSWG_-mTdZMFJTEfoA&amp;bvm=bv.71954034,d.cGU" rel="nofollow">This paper</a> seems to agree with you on the fact that 6 DOF arms exist that are not analytically solvable using inverse kinematics, but it also implies there are arm structures that can be analytically solved for, so I would recommenced sticking to those. Most 6 DOF robot arms don't have their last 3 axes coincident in one point, but they are still incredibly precise. Analytical solutions must exist for standard 6 DOF robotic arms. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4325" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-4325">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4325" class = 'collapse'>
			</div>
				<textarea id = "speech-4325" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4325">
					<img id="start_img-4325" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4325">Comment</button>
			<br><div id = "ans-4566"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4566" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem of inverse kinematics to a general <em>6</em>-degrees-of-freedom serial robot was considered hard for a long time. Nevertheless it was solved and the solution in <a href="http://mechanicaldesign.asmedigitalcollection.asme.org/article.aspx?articleid=1443664" rel="nofollow">Raghavan and Roth (1993)</a> is a widely acknowledged method, and improvements have also been made since (see e.g., Husty, Pfurner and Schr cker (2007)).</p>

<p>Although they provides a strategy to solve the inverse kinematics analytically, they do not give the solutions in closed form. All methods stop at a point where a single equation in one unknown variable, but a polynomial of degree <em>16</em> is obtained. The solutions to the remaining five variables are expressed in terms of this unknown, which can be found once the polynomial is solved numerically.  Further, this polynomial is of degree <em>16</em> only in the worst case scenario, where all the joints are rotary. Any further simplification in the architecture only reduce the degree of this polynomial.</p>

<p>These methods use advanced mathematical techniques to solve the problem, which are beyond the scope of this space but a simplified outline of the steps followed in Raghavan and Roth (1993) can be seen in <a href="http://www.mecheng.iisc.ernet.in/~asitava/NPTEL/module3.pdf" rel="nofollow">slides 82-91 of this article</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4566" data-toggle = "popover">
				<p>user name : mechmath</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-4566">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4566" class = 'collapse'>
			</div>
				<textarea id = "speech-4566" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4566">
					<img id="start_img-4566" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4566">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>