<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is the accuracy of estimated position in localization better than estimated position in SLAM?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5023" class = "post">
			<h2>Question</h2>
			<div id="vote-5023" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 202</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is the accuracy of estimated position in localization better than estimated position in SLAM?</h2>
<p>We estimate position of robot in localization and SLAM. My intuition says we get better position estimation in localisation than in SLAM because we have better sensor model likelihoods in localization because of given complete environment than in SLAM.</p>

<p>I would like to know the difference in accuracy of estimated position in localization and SLAM.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5023" data-toggle = "popover">
				<p>user name : nayab</p>
				<p> user reputation : 224</p>
				<p class = "tagcontent" id = "usertaginfo-5023">{'odometry': 4, 'None': 4, 'laser': 3, 'probability': 2, 'occupancygrid': 1, 'localization': 10, 'mapping': 1, 'particle-filter': 4, 'slam': 8, 'mobile-robot': 12}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5023">Load Comments</button></br>
			<div id = "commentsection-5023" class = 'collapse'>
			<div id = "comment-7777" class = "comment">
				<p>What are you comparing here? You use SLAM only when you don't have a map. If you do, you normally just perform localisation.</p>
			</div>
			<div id = "comment-7779" class = "comment">
				<p>we esitame postion in both, is there any difference in estimation?</p>
			</div>
			<div id = "comment-7781" class = "comment">
				<p>If I understand you correctly, you're asking how much more accurate is the position estimation if you have an a priori map, versus not having a map but creating one from scratch?  In short, it should be a lot more accurate if you have a map, but I don't think it's fair to compare the two since they are solving very different kinds of problems.</p>
			</div>
			<div id = "comment-7782" class = "comment">
				<p>@Paul , yes your understanding is right, i want to know what factors make it estimation more efficient in localization than SLAM?</p>
			</div>
			<div id = "comment-7783" class = "comment">
				<p>Isn't it obvious?  Slam requires map building and localization so it requires more operations than localization alone.</p>
			</div>
			<div id = "comment-7784" class = "comment">
				<p>In how much localisation pose estimation acuuracy differ from slam accuray? and why ?</p>
			</div>
			</div>
				<textarea id = "speech-5023" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5023">
					<img id="start_img-5023" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5023">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5029"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5029" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Localization has the goal of identifying where a robot is within an environment.  Whether you have an accurate representation of the environment already or not is the distinction you are trying to compare.</p>

<p>It seems the accuracy of your position would be contingent on the accuracy of the mapping you can build.  In a fixed indoor environment with few obstacles and high definition sensors like LIDAR it would seem you could create a very accurate map and the difference in accuracy between the approaches would be null since both maps would be the same.  The complexity of the operations to get there is different, but the accuracy seems like it would be the same.  </p>

<p>If you are in a complex and changing environment it would be a different story.  The map you had cached using localization alone may no longer be accurate for path planning or navigation you would get from a SLAM approach.</p>

<p>If you trust your map and you trust your sensors (dead reckoning, odometry, gps) as to where the robot is in the environment than I suppose it follows SLAM would not yield any additional accuracy.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5029" data-toggle = "popover">
				<p>user name : j12y</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-5029">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5029" class = 'collapse'>
			</div>
				<textarea id = "speech-5029" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5029">
					<img id="start_img-5029" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5029">Comment</button>
			<br><div id = "ans-5067"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5067" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your intuition is good.  SLAM and a-priori map localization both use (roughly) the same technique for localization, but your SLAM position is only as good as the confidence you have in your map.</p>

<p>With an a-priori map, the confidence in the map is 100%.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5067" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-5067">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5067" class = 'collapse'>
			</div>
				<textarea id = "speech-5067" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5067">
					<img id="start_img-5067" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5067">Comment</button>
			<br><div id = "ans-5085"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5085" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is no meaning of this kind of comparison. It is evident that the localization will be more accurate than SLAM. Let's see why. SLAM is usually constructed by using probabilistic methods as follows 
$$
p( x_{t}, m | z,u)
$$</p>

<p>One seeks to solve the aforementioned conditional probability where $x$ is the state vector, $m$ is the map, $z$ is the observations and $u$ is the control input. For localization, also by using probabilistic methods is as follows </p>

<p>$$
p( x_{t} | z,u, m)
$$
You will notice the $m$ in localization is provided which means the true location of the map is known with absolute certainty. This is not the case in SLAM in which we need to estimate the map $m$ which means the absolute certainty is not provided (i.e. impossible to access to the true location of the map). In SLAM, more work need to be done to filter this noise. As you can see, loosely speaking, localization is a simplified version of the SLAM where we assume the map is given. This is why the authors of "Probabilistic Robotics" started the discussion with localization before SLAM. That being said, SLAM is more realistic than localization.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5085" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-5085">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5085" class = 'collapse'>
			</div>
				<textarea id = "speech-5085" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5085">
					<img id="start_img-5085" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5085">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>