<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there a way to use a single dc motor output for two different loads?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1069" class = "post">
			<h2>Question</h2>
			<div id="vote-1069" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2620</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there a way to use a single dc motor output for two different loads?</h2>
<p>Is there a way to use a single dc motor output for two different loads (by using gears, relays etc) ? Please see the illustration below:</p>

<p><a href="http://oi50.tinypic.com/2z5sjdx.jpg" rel="nofollow noreferrer">http://oi50.tinypic.com/2z5sjdx.jpg</a></p>

<p>To clarify the illustration, I get the dc motor power at "output 1" gear which is extended over an idler gear to output 2 gear. All three are in contact (though the picture doesn't quite show it). Load 1 and Load 2 are two separate gears connected to different loads (wheels etc) and initially not in contact with the bottom gears. On switching on the relays 1, 2 - the load bearing gears, move towards the output1 and output2 and mesh with them to drive Load 1, 2.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1069" data-toggle = "popover">
				<p>user name : ivymike</p>
				<p> user reputation : 155</p>
				<p class = "tagcontent" id = "usertaginfo-1069">{'None': 0, 'automatic': 8, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1069">Load Comments</button></br>
			<div id = "commentsection-1069" class = 'collapse'>
			<div id = "comment-2488" class = "comment">
				<p>This question is unlear to me. Maybe someone will come along who understands it better, but it might help to add more details.</p>
			</div>
			<div id = "comment-2489" class = "comment">
				<p>@Josh added some more details.</p>
			</div>
			</div>
				<textarea id = "speech-1069" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1069">
					<img id="start_img-1069" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1069">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1070"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1070" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, You question is unclear, But as far as I understand You can drive two different load from a single motor by making a correct mechanical gear box assembly. You can rotate two wheels into two different directions with the use of proper gear system. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1070" data-toggle = "popover">
				<p>user name : Abdul Rehman</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-1070">{'control': 2, 'quadcopter': 4, 'None': 1, 'usb': 6, 'algorithm': 1, 'arduino': 6, 'radio-control': 2, 'simulator': 2, 'mapping': 1, 'machine-learning': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1070">Load Comments</button></br>
			<div id = "commentsection-1070" class = 'collapse'>
			<div id = "comment-2491" class = "comment">
				<p>Thanks Abdul Rehman. I added some more details. If I have to add or remove the loads as per need (that is mesh the load bearing gears with output gears) what is the right way to go about it ? Can I just use a solenoid coil to make the contact or will that cause jerks and require some special handling ?</p>
			</div>
			</div>
				<textarea id = "speech-1070" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1070">
					<img id="start_img-1070" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1070">Comment</button>
			<br><div id = "ans-1071"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1071" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Absolutely. Think of how your car works. The engine/motor drives two (or more) wheels at the same time. And the loads presented by the independent wheels are often of very different magnitudes. For instance when the car is turning or when one wheel is slipping.</p>

<p>What you need to split the power is a <a href="http://www.howstuffworks.com/differential.htm" rel="nofollow noreferrer">differential</a>:</p>

<blockquote>
  <h1>What is a Differential?</h1>
  
  <p>The differential is a device that splits the engine torque two ways,
  allowing each output to spin at a different speed.</p>
</blockquote>

<p><a href="http://www.platinumautoservice.com/differential" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/588yj.jpg" alt="differential"></a></p>

<p>This would split the motor load equally. It would allow both outputs to spin at the same speed if their loads are equal. If one load increases or is greater, it will slow down without affecting the speed of the other load.</p>

<p>If the loads are nominally different and you need them to spin at the same speed or if the loads are equal and you need them to spin at different speeds, then you can just add speed change gears to one of the outputs.</p>

<p><a href="http://enginemechanics.tpub.com/14037/css/14037_41.htm" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/r0rLE.jpg" alt="gears used to change speed"></a></p>

<p>Where your output speed would equal your input speed times the difference in the numbers of teeth on the gears:</p>

<p>$$S_2 = S_1 \times \dfrac{T_1}{T_2}$$</p>

<hr>

<p><strong>Edit to answer comment on meshing gears:</strong></p>

<p>Your intuition isn't that far off. Using a solenoid to engage and disengage a load is how part time four-wheel drive works. The solenoid engages and disengages the locking hubs to connect and disconnect the load. But simpler designs will cause a sudden increase in torque demand resulting in some jerk if the motor can't compensate for it.</p>

<p>You would be better off using a <a href="http://auto.howstuffworks.com/clutch.htm" rel="nofollow noreferrer">clutch</a> to gradually apply the load:</p>

<p><a href="http://www.infomanejo.com/How-does-the-clutch-work.html" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/OYHcs.png" alt="clutch load application"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1071" data-toggle = "popover">
				<p>user name : embedded.kyle</p>
				<p> user reputation : 1469</p>
				<p class = "tagcontent" id = "usertaginfo-1071">{'None': 124}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1071">Load Comments</button></br>
			<div id = "commentsection-1071" class = 'collapse'>
			<div id = "comment-2490" class = "comment">
				<p>Thanks Kyle. Assuming the speed is going to be same and the only difference is that loads may not be there all the time (while wont both the car wheels have to rotate at same time even at different speeds ?), how do I take care of meshing of gears ? I thought of just using a solenoid coil to mesh when I have to drive the load but I think it might cause a jerk while doing so. Are you aware of any better way of meshing the gears when required than a solenoid coil ?</p>
			</div>
			<div id = "comment-2492" class = "comment">
				<p>@ivymike See my edit</p>
			</div>
			<div id = "comment-2493" class = "comment">
				<p>Thanks Kyle. If I have to do what a clutch does automatically (instead of manually), how do I go about it :) ?</p>
			</div>
			<div id = "comment-2495" class = "comment">
				<p>@ivymike Use a microcontroller to activate an [electromagnetic clutch](http://www.ogura-clutch.com/products/industrial/). :-)</p>
			</div>
			</div>
				<textarea id = "speech-1071" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1071">
					<img id="start_img-1071" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1071">Comment</button>
			<br><div id = "ans-1096"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1096" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The gear trains in many printers and multifunction devices, and in some scanners, have a transfer gear that drives two different gears, depending on which way the drive motor is running.  The pictures below show several such transfer gears in the left-side gear train of a Brother MFC-1970MC (<a href="http://reviews.cnet.com/multifunction-devices/brother-mfc-1970mc/4507-3181_7-4842717.html" rel="nofollow noreferrer">1</a>, <a href="http://www.brother-usa.com/mfc/discontinued.aspx?ProductID=MFC1970MC#.UUkkblEVlkp" rel="nofollow noreferrer">2</a>), a 1998-vintage fax/copier/printer/scanner/answering machine multifunction device.  The right-side gear train only has half-a-dozen gears in it and isn't shown.</p>

<p>The 1970MC has one drive motor to power four different operations: printer paper pickup, printer paper drive, scan sheet pickup, and scan sheet drive.  I suspect that the solenoid (shown in first and last pictures) selects between printer and scanner operation, and that the swinging transfer gears (some of which appear in all pictures) select between paper pickup and paper drive.</p>

<p><img src="https://i.stack.imgur.com/7XqCF.jpg" alt="overview, left-side gear train">
<img src="https://i.stack.imgur.com/ry4aS.jpg" alt="closeup, rear transfer gear, CCW"></p>

<p>Above: When A turns CW (clockwise), D is driven by the transfer gear C.  Gears A and C go CW while B and D go CCW.  The turning resistance of C causes the arm to swing to the left.  When C encounters D, B continues forcing C to the left so that C and D mesh strongly.</p>

<p>Below: When A turns CCW, E is driven by the transfer gear C.  Gears A and C go CCW while B and E turn CW.</p>

<p>(Note, there is a one-way clutch or ratchet beneath the black gear E; when E is driven, the white gear beneath E does not turn.  When D is driven, it drives the two gears at very top center in picture, so driving the white gear beneath E.  Thus E rotates CW whenever A rotates.  D rotates CCW when A goes CW.  D does not rotate when A goes CCW.)</p>

<p><img src="https://i.stack.imgur.com/2ZGiH.jpg" alt="closeup, rear transfer gear, CW">
<img src="https://i.stack.imgur.com/ND0Uh.jpg" alt="closeup, front transfers, solenoid, and motor"></p>

<p>At the center of the picture above are two swing transfer gears, labeled P and Q.  When the solenoid is out (not energized) the hook at the end of arm R prevents Q from swinging.  Also, a hook on P (more visible in first photo) slides over end of R so if P is operating Q cannot.  When the solenoid is in, Q can swing, and the hook on P hits the end of R, so if Q is operating P cannot engage the gear to its right.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1096" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1096">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1096">Load Comments</button></br>
			<div id = "commentsection-1096" class = 'collapse'>
			<div id = "comment-2535" class = "comment">
				<p>Thanks jwpat7. If possible, can you please mark the second picture to identify the transfer gear and the direction of swing.</p>
			</div>
			<div id = "comment-2543" class = "comment">
				<p>@ivymike, see edit</p>
			</div>
			</div>
				<textarea id = "speech-1096" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1096">
					<img id="start_img-1096" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1096">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>