<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is there any advantage to velocity motion models over odometry motion models for SLAM?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4447" class = "post">
			<h2>Question</h2>
			<div id="vote-4447" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 885</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is there any advantage to velocity motion models over odometry motion models for SLAM?</h2>
<p>I've seen several examples of SLAM algorithms (<a href="http://en.wikipedia.org/wiki/EKF_SLAM" rel="nofollow noreferrer">EKF SLAM</a>, <a href="http://en.wikipedia.org/wiki/GraphSLAM" rel="nofollow noreferrer">Graph SLAM</a>, <a href="http://en.wikipedia.org/wiki/SEIF_SLAM" rel="nofollow noreferrer">SEIF SLAM</a>) written in terms of the <a href="https://robotics.stackexchange.com/questions/3101/velocity-model-motion-in-matlab-probabilistic-robotics">velocity motion model</a>.  I have yet to see an example of any SLAM algorithm utilizing the <a href="https://www.cs.princeton.edu/courses/archive/fall11/cos495/COS495-Lecture5-Odometry.pdf" rel="nofollow noreferrer">odometry motion model</a>.  I wonder if there is an inherent advantage to using the velocity motion model over the odometry model for this problem.  Does it have something to do with the fact that odometry sensor information comes <strong>after</strong> the motion has already taken place, whereas velocity control commands are executed <strong>before</strong> motion?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4447" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-4447">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4447" class = 'collapse'>
			</div>
				<textarea id = "speech-4447" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4447">
					<img id="start_img-4447" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4447">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4451"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4451" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can't think of a reason why a velocity model (based on control commands)
would be superior to an odometry model (which uses the actual wheel speeds). </p>

<p>The lecture notes from Freiburg on <a href="http://probabilistic-robotics.informatik.uni-freiburg.de/ppt/motion-models.ppt" rel="nofollow">motion models</a> imply the same:</p>

<blockquote>
  <ul>
  <li>Odometry-based models are used when systems are equipped with wheel
  encoders. </li>
  <li>Velocity-based models have to be applied when no wheel
  encoders are given.</li>
  </ul>
</blockquote>

<p>The timing does not have an influence here. If any, it would affect the latency, but even that I would think is not the case. </p>

<p>The better your model, the better your prediction. Having actual measurements in the model provide you with additional information to improve the model. One thing which is very commonly performed is to use an IMU to estimate the rotational part of your motion model.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4451" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-4451">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4451" class = 'collapse'>
			</div>
				<textarea id = "speech-4451" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4451">
					<img id="start_img-4451" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4451">Comment</button>
			<br><div id = "ans-4455"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4455" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One obvious example of where velocity motion models work better is in robots that don't operate on land: UAVs and AUVs, for instance.</p>

<p>Thinking about whether the information comes before (as in the case of the velocity command) or after (as in the case of the odometry) the motion is a red herring -- it doesn't matter.  You are creating a position estimate partly based on what you see and partly based on how you think you moved.  Each of those involve uncertainty, so you just need to characterize that uncertainty properly.  </p>

<p>In terms of accuracy, sometimes it's more appropriate to consider exact wheel motion, and sometimes it's more appropriate to consider vehicle momentum; it all depends on the vehicle.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4455" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4455">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4455" class = 'collapse'>
			</div>
				<textarea id = "speech-4455" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4455">
					<img id="start_img-4455" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4455">Comment</button>
			<br><div id = "ans-4458"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4458" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Through my reading of this book "<a href="http://www.probabilistic-robotics.org/" rel="nofollow">Probabilistic Robotics</a>" chapter 5 pp. 120,121. It seems what you thought is right. And this is the reason the authors mentioned. </p>

<blockquote>
  <p>Many commercial mobile robots (e.g. differential drive, synchro drive)
  are actuated by independent transnational and rotational velocities,
  or are best thought of being actuated in this way. The second model
  assumes that one has access to odometry information. Most commercial
  bases provide odometry using kinematic information (distance traveled,
  angle turned). The resulting probabilistic model for integrating such
  information is somewhat different from the velocity model. In
  practice, odometry models tend to be more accurate than velocity
  models, for the simple reason that most commercial robots do not
  execute velocity commands with the level of accuracy that can be
  obtained by measuring the revolution of the robot's wheels. However,
  odometry is only available after executing a motion command. Hence it
  cannot be used for motion planning.</p>
</blockquote>

<p>Hope this helps. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4458" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-4458">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4458">Load Comments</button></br>
			<div id = "commentsection-4458" class = 'collapse'>
			<div id = "comment-7025" class = "comment">
				<p>I've read the same quote from the same book... which is what led me to believe that there was some sort of inherent advantage to the velocity model.  But it's still not clear to me if this extends to the SLAM problem.</p>
			</div>
			<div id = "comment-7026" class = "comment">
				<p>I'm not sure if this has something to do with SLAM itself. To me, at least with EKF-SLAM, you need an initial belief, control input and observations to build SLAM whether the motion model is odometry or velocity. Actually, in the aforementioned book, they provide the odometry model but they used the velocity model for SLAM. But this doesn't mean you can't use the odometry model for SLAM, at least for simulation.</p>
			</div>
			<div id = "comment-7031" class = "comment">
				<p>I guess its "odometry is only available after executing a motion command" quote, which is confusing. Motion planning has got nothing to do with the SLAM part.</p>
			</div>
			</div>
				<textarea id = "speech-4458" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4458">
					<img id="start_img-4458" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4458">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>