<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is the nominal voltage of a motor the voltage to apply to the motor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4828" class = "post">
			<h2>Question</h2>
			<div id="vote-4828" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 248</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is the nominal voltage of a motor the voltage to apply to the motor?</h2>
<p>I have just sized the DC motors I want to use (corresponding to my robot and its intended applications - my figures include a 50% uncertainty factor to account for friction in reducers and other losses). Now I need to actually choose the exact motors I want to buy from the manufacturer (I am targeting maxon motors as I am not an expert and want no problem). I have a few down to earth questions about linking the mechanical needs to the electrical characteristics, among them:</p>

<p><strong>Question #1:</strong></p>

<p>Maxon (or the other manufacturers) states a "nominal voltage" in the characteristic sheets. Is that the voltage you should apply to the motor? This may be a dumb question but I have followed the full maxon e-learning course and read about other tutorials on the web and I could not find this information anywhere. Can anyone who knows about motors confirm?</p>

<p>I have followed some theoretical and practical courses on the web but I find it hard to find answers to my down to earth question...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4828" data-toggle = "popover">
				<p>user name : arennuit</p>
				<p> user reputation : 170</p>
				<p class = "tagcontent" id = "usertaginfo-4828">{'control': 20, 'servomotor': 6, 'None': 0, 'errors': 3, 'motor': 14, 'communication': 10, 'pid': 4, 'brushless-motor': 5, 'design': 9, 'robotic-arm': 4, 'dynamics': 3, 'servos': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4828" class = 'collapse'>
			</div>
				<textarea id = "speech-4828" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4828">
					<img id="start_img-4828" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4828">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4852"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4852" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To control the power of a DC motor you control the voltage applied to it. So no, it's not the "only" voltage you can apply to the motor. The nominal value is a reference so we know what to what specs the motor was engineered. You can input more than the nominal voltage to get more power but it may for example get a bit hotter than it is supposed to, as it wasn't designed to work continuously at a higher voltage. You won't kill a 12V motor by making it work at 20V for 2 minutes, specially Maxon motors which are very well built. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4852" data-toggle = "popover">
				<p>user name : goncalo luis</p>
				<p> user reputation : 324</p>
				<p class = "tagcontent" id = "usertaginfo-4852">{'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4852">Load Comments</button></br>
			<div id = "commentsection-4852" class = 'collapse'>
			<div id = "comment-7576" class = "comment">
				<p>That's a clear answer, thanks!</p>
			</div>
			<div id = "comment-7610" class = "comment">
				<p>But then what would you recommend to use for the voltage of the power supply which should feed the power stage? Say for a 12V or 24V nominal voltage...</p>
			</div>
			<div id = "comment-19415" class = "comment">
				<p>This is false. Even applying nominal voltage to a motor can destroy the motor if it is overloaded, e.g. when stalling it the full 2 minutes.</p>
			</div>
			</div>
				<textarea id = "speech-4852" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4852">
					<img id="start_img-4852" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4852">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>