<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Is Venetian mirror possible in Autodesk Inventor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8561" class = "post">
			<h2>Question</h2>
			<div id="vote-8561" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 36</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Is Venetian mirror possible in Autodesk Inventor?</h2>
<p>I see there are things like glass and mirror in Autodesk Inventor Professional 2016 but is there a possibility to have Venetian mirror? So that from one side it would look like a mirror and from the other side it would look like a transparent glass?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8561" data-toggle = "popover">
				<p>user name : Defozo</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-8561">{'visualization': 0, 'None': 0, '3d-printing': 0, 'mechanism': 0, '3d-model': 0, 'design': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8561">Load Comments</button></br>
			<div id = "commentsection-8561" class = 'collapse'>
			<div id = "comment-13917" class = "comment">
				<p>Why do you want that? Those are cosmetic surface properties only.</p>
			</div>
			<div id = "comment-13918" class = "comment">
				<p>Well, perhaps I demand too much... I would like to do animation of rotating object. That's too bad it may only look like a glass or mirror.</p>
			</div>
			<div id = "comment-13919" class = "comment">
				<p>Can you make it mirrored for part of the animation while showing one side then stop, make it transparent, and record the second part (then stitch the two parts together)?</p>
			</div>
			<div id = "comment-13920" class = "comment">
				<p>Yes, I can, but still that would be nice if Venetian mirror would exist in Inventor :)</p>
			</div>
			<div id = "comment-13921" class = "comment">
				<p>It would be nice! But I think stitching two parts would be the quickest solution.</p>
			</div>
			<div id = "comment-13923" class = "comment">
				<p>No problem, I will turn it from a comment to an official answer.</p>
			</div>
			<div id = "comment-13924" class = "comment">
				<p>I'm voting to close this question as off-topic because it in no way is related to robotics.</p>
			</div>
			<div id = "comment-13926" class = "comment">
				<p>you can use materials that reflect like a mirror when rendering in Studio, not sure about the Venezian part.</p>
			</div>
			<div id = "comment-13927" class = "comment">
				<p>I'm voting to close this question as off-topic because this isn't a question about robotics.</p>
			</div>
			<div id = "comment-13929" class = "comment">
				<p>How could question related to engineering design software not be connected with robotics?</p>
			</div>
			</div>
				<textarea id = "speech-8561" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8561">
					<img id="start_img-8561" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8561">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8564"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8564" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Surface properties like that are really only for cosmetic purposes so it is unlikely any CAD program has that option. However, you may be able to get the appropriate effect by assigning particular <em>faces</em> either glass or mirror texture.</p>

<p>Based on your added comments, I think the best option is simply to capture images or animation frames with whatever proper surface setting is needed for the required view angle. Then you can stitch the separate animation frames together to make it seem as though the component has the look you want.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8564" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8564">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8564" class = 'collapse'>
			</div>
				<textarea id = "speech-8564" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8564">
					<img id="start_img-8564" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8564">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>