<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>iTunes keyboard shortcuts: should Windows alternatives be listed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1058" class = "post">
			<h2>Question</h2>
			<div id="vote-1058" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 43</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>iTunes keyboard shortcuts: should Windows alternatives be listed?</h2>
<p>I often give keyboard shortcuts in my answers. Usually, this is for Mac software, so I can just say "Use <kbd>  (cmd)</kbd> <kbd>A</kbd> to select all," but when I'm giving instructions for iTunes shortcuts, I have no way of knowing the OS the asker is running unless they explicitly state it. When they don't, what should I use? "  (cmd, or ctrl if you're running Windows)"?</p>

<p>(Also, please don't tell me to just give the menu path. I usually give shortcuts in conjunction with those.)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1058" data-toggle = "popover">
				<p>user name : timothymh</p>
				<p> user reputation : 7731</p>
				<p class = "tagcontent" id = "usertaginfo-1058">{'None': 5, 'editing': 4, 'design': 1, 'discussion': 33, 'tags': 4, 'answers': 4, 'editor': 19, 'notifications': 0, 'formatting': 3, 'inbox': 0, 'comments': 4, 'chat': 1, 'status-bydesign': 3, 'rss': 0, 'bug': 3, 'feature-request': 20}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1058" class = 'collapse'>
			</div>
				<textarea id = "speech-1058" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1058">
					<img id="start_img-1058" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1058">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1059"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1059" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think it's OK to assume the asker is using Mac OS unless they explicitly specify otherwise in the title, body, or tags of their question (best to check all 3).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1059" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-1059">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1059">Load Comments</button></br>
			<div id = "commentsection-1059" class = 'collapse'>
			<div id = "comment-1944" class = "comment">
				<p>Perhaps we could add something to the FAQ about that -- "Questions about Apple software running on Microsoft Windows are on topic, but please specify that in your question, as answerers here are otherwise apt to assume you are using a Mac."</p>
			</div>
			<div id = "comment-1945" class = "comment">
				<p>@Daniel unfortunately we can only edit the top section of the FAQ ("what kinds of questions can I ask here?"). maybe tag wiki edits world work?</p>
			</div>
			</div>
				<textarea id = "speech-1059" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1059">
					<img id="start_img-1059" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1059">Comment</button>
			<br><div id = "ans-1060"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1060" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would just use the Apple shortcuts.  The assumption if nothing is stated has to be that the user is on a Mac.  Doing a tag search yields the following stats for results this year to date:</p>

<p>[itunes] [windows] - 2 hits</p>

<p>[itunes] [os x] - 2 hits</p>

<p>[itunes] [mac] - 4 hits</p>

<p>[itunes] - 100+ hits</p>

<p>So by some very basic maths (with the obvious problem that some of the [itunes] only search results were also for [ios]/[ipad]/[iphone]/[ipod] etc etc where shortcuts are not appropriate anyway) would suggest less than 2% of questions explicitly state Windows.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1060" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-1060">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1060">Load Comments</button></br>
			<div id = "commentsection-1060" class = 'collapse'>
			<div id = "comment-1942" class = "comment">
				<p>Thanks, though on questions that *do* state "windows", it isn't really an issue. It's only on the ones that don't say either way that it comes up.</p>
			</div>
			</div>
				<textarea id = "speech-1060" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1060">
					<img id="start_img-1060" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1060">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>