<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Jacobian for Inverse Kinematics with quaternion of end effector
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9336" class = "post">
			<h2>Question</h2>
			<div id="vote-9336" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 135</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Jacobian for Inverse Kinematics with quaternion of end effector</h2>
<p>Quaternion has four parameters. Calculating Jacobian for inverse-kinematics, 3 positions and four quaternion parameters make Jacobian $7\times7$ instead of $6\times6$. How to reduce Jacobian to $6\times6$ when using quaternion?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9336" data-toggle = "popover">
				<p>user name : ar2015</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-9336">{'None': 0, 'inverse-kinematics': 0, 'robotic-arm': 0, 'jacobian': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9336">Load Comments</button></br>
			<div id = "commentsection-9336" class = 'collapse'>
			<div id = "comment-16535" class = "comment">
				<p>Can you explain, why you need exactly a 6x6 jacobian.</p>
			</div>
			<div id = "comment-16539" class = "comment">
				<p>@TobiasK thanks for your comment, Using Euler angles Jacobians are 6x6. So 7x7 matrix seems to have a redundant dimension.</p>
			</div>
			<div id = "comment-16540" class = "comment">
				<p>No there is no redunance. You can see it like this (not in a very mathematical way); euler gives you the possibility to calculate the orientation of an object but you are missing some functionality, like handling the gimbal lock. Therefore you can use another representation: the quaternions. Those guys are helping us handling the problems we have with euler but we need therefore one more Dimension within your calculation. If you do not need this extra functionality you can switch to euler before you calculate the jacobian, this is a pretty easy mathematical operation.</p>
			</div>
			<div id = "comment-16568" class = "comment">
				<p>You just have to know what each term means and how to use the matrix. The jacobian of a robotics is named after a jacobian matrix in mathematical. Including all partial derivates, nothing more nothing less... Its size is not relevant, you just have to make sure to use it in the right way</p>
			</div>
			</div>
				<textarea id = "speech-9336" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9336">
					<img id="start_img-9336" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9336">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>