<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Jacobian Matrix of 6DOF Body (with IMU)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6564" class = "post">
			<h2>Question</h2>
			<div id="vote-6564" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 184</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Jacobian Matrix of 6DOF Body (with IMU)</h2>
<p>I am trying to derive the analytical Jacobian for a system that is essentially the equations of motion of a body (6 degrees of freedom) with gyro and accelerometer measurements.
This is part of an Extended Kalman Filter.</p>

<p>The system state is given by:
$
\mathbf{x} = \left(
\begin{array}{c}
\mathbf{q}\\
\mathbf{b_\omega}\\
\mathbf{v}\\
\mathbf{b_a}\\
\mathbf{p}\\
\end{array}
\right)
$</p>

<p>where $q$ is the quaternion orientation of the body expressed in the global frame, $b_\omega$ and $b_a$ are the biases in the gyro and accelerometer respectively (expressed in the body frame) and $v$ and $p$ are the velocity and position of the body expressed in the global frame. All vectors are [3x1] except $q$ which is [4x1] in $[w,x,y,z]^\top$ format, and $R$ (below) which is [3x3].</p>

<p>The equations of motion $\frac{dx}{dt}=\dot{x}$ (t is time) are:
$$
\dot{\mathbf{q}} = \frac{1}{2}\mathbf{q} \otimes 
\left(
\begin{array}{c}
0\\
\hat{\omega}\\
\end{array}
\right) \\
\dot{\mathbf{b_\omega}} = 0 \\
\dot{\mathbf{v}} = R^\top (\hat{\mathbf{a}} + [\hat{\mathbf{\omega}}\times]R \mathbf{v})+ g \\
\dot{\mathbf{b_a}} = 0 \\
\dot{\mathbf{p}} = \mathbf{v}
$$
Second-order terms are ignored. $\hat{a} = a - b_a$ and $\hat{\omega} = \omega - b_\omega$ are the corrected accelerometer and gyro biases ($a$ and $\omega$ are known) and are expressed in the body frame. $R$ is the rotation matrix (DCM) formed from $q$ and $g$ is the gravity vector $[0,0,9.81]^\top$. These equations have been validated against an aerospace engineering software library.</p>

<p>I need the jacobian $F = \frac{d\dot{x}}{dx}$ but I cannot find this jacobian in any texts (I do find the error-state jacobian eg <a href="http://www-users.cs.umn.edu/~stergios/papers/IROS07-IMUCam.pdf" rel="nofollow">this paper</a>).
I am struggling with doing this myself because I don't know how to handle the quaternion norm constraints. I also am concerned about the validity of a solution given through numerical differentiation.</p>

<p>Any help or explanation would be greatly appreciated. This is going towards an open-source robot localisation project.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6564" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-6564">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6564">Load Comments</button></br>
			<div id = "commentsection-6564" class = 'collapse'>
			<div id = "comment-9478" class = "comment">
				<p>Is this system going to be observable? There are a lot of biases in that system state. Also, this whole mess can be avoided by moving to an unscented kalman filter.</p>
			</div>
			<div id = "comment-9481" class = "comment">
				<p>Hi @holmeski, the system is observable - there are numerous papers (including observability analyses) that use this system however they do not explicitly state what the analytical jacobian is. I currently have this working using a forward-differencing numerical jacobian, but the analytic form would be nice.</p>
			</div>
			<div id = "comment-9486" class = "comment">
				<p>Have you thought about using a Ukf?</p>
			</div>
			</div>
				<textarea id = "speech-6564" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6564">
					<img id="start_img-6564" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6564">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>