<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Jacobian method for inverse kinematics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2504" class = "post">
			<h2>Question</h2>
			<div id="vote-2504" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1897</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Jacobian method for inverse kinematics</h2>
<p>I have big problem. I have to solve inverse kinematics for a manipulator with 6-DOF using jacobian method. From what I know to do that I need to have matrix of transformation and Denavit Hartenberg parameters, which both I have. But I am not a mathematician, and descriptions I find on the web are not even a bit understandable to me. So I would love if you could give me an example of how to solve my problem.</p>

<p>The Denavit-Hartenberg parameters are:
$$
        \begin{matrix}
        \alpha &amp; l &amp; \lambda &amp; \theta\\
        90 &amp; 150 &amp; 0 &amp; var(-69) \\
        0 &amp; 610 &amp; 0 &amp; var(85) \\
        90 &amp; 110 &amp; 0 &amp; var(-52) \\
        -90 &amp; 0 &amp; 610 &amp; var(62) \\
        90 &amp; 0 &amp; 113 &amp; var(-60) \\
        0 &amp; 0 &amp; 78 &amp; var(-108) \\
        \end{matrix}
$$</p>

<p>The values in theta are values to get the following matrix of transformation, and values I want to get with this jacobian method. And those values are in degrees.</p>

<p>Matrix of transformation:
$$
        \begin{matrix}
        0.7225 &amp; 0.0533 &amp; 0.6893 &amp; 199.1777\\
        -0.2557 &amp; -0.9057 &amp; 0.3381 &amp; -500.4789\\
        0.6423 &amp; -0.4206 &amp; -0.6408 &amp; 51.6795\\
        0 &amp; 0 &amp; 0 &amp; 1 \\
        \end{matrix}
$$</p>

<p>I would be most greatful, if someone could walk me through how to solve it in simple language.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2504" data-toggle = "popover">
				<p>user name : abece</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-2504">{'None': 0, 'inverse-kinematics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2504">Load Comments</button></br>
			<div id = "commentsection-2504" class = 'collapse'>
			<div id = "comment-4910" class = "comment">
				<p>Using Jacobian ? Are you sure ? Answer this question and then I can see what I can do :D
Alright, there is some more information that I need, how was the Forward Kinematics computed otherwise, the Transformation Matrix obtained ? What is the template of the Transformation Matrix ? Was it computed using the Proximal Convention or the Distal Convention ? The reason this information is needed because, the transformation matrix you gave, I am assuming is the Goal Position of the Arm. So what you have to do is use the DH parameters and multiply it with the Template of the Goal Matrix and compare it</p>
			</div>
			</div>
				<textarea id = "speech-2504" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2504">
					<img id="start_img-2504" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2504">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4877"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4877" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree with all of Tva 's questions above.  It would be nice to have answers to these, but I will try to provide an answer regardless.</p>

<p>To calculate the (geometric) Jacobian, you don't really need all those D-H parameters.  See this question for an explanation how to calculate the Jacobian: 
<a href="https://robotics.stackexchange.com/questions/3032/jacobian-of-abb-irb140-robot">jacobian of Abb irb140 robot</a></p>

<p>Inverse-kinematics using the Jacobian doesn't sound right.  Remember that the Jacobian describes the mapping between joint velocities and end-effector velocities, and that this relationship is configuration dependant.  So you can use the Jacobian to determine joint velocities to move your end-effector along a given vector.  But not really to move the end-effector to some other point in the workspace, far from the current configuration.  Typically IK solvers will give you a number of solutions for a target pose.</p>

<p>That being said, you might want to check out this page by another user:
<a href="http://freespace.virgin.net/hugo.elias/models/m_ik2.htm" rel="nofollow">http://freespace.virgin.net/hugo.elias/models/m_ik2.htm</a> on gradient based methods.</p>

<p>Finally, I would highly recommend using a kinematics library such as <a href="http://openrave.org/" rel="nofollow">OpenRave</a>, <a href="http://www.orocos.org/kdl" rel="nofollow">Orocos KDL</a>, ROS <a href="http://moveit.ros.org/" rel="nofollow">MoveIt!</a> among others.  These libraries will do the heavy math stuff for you, give you advanced controls, and get you up and running much quicker.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4877" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4877">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4877" class = 'collapse'>
			</div>
				<textarea id = "speech-4877" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4877">
					<img id="start_img-4877" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4877">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>