<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>joint positions of a robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6936" class = "post">
			<h2>Question</h2>
			<div id="vote-6936" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 248</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>joint positions of a robot</h2>
<p>I would likte to find the joints positions using joint angles, link lengths etc.</p>

<p>How can I define the position of the each joint using DH parameters?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6936" data-toggle = "popover">
				<p>user name : user9413</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-6936">{'joint': 1, 'None': 0, 'dh-parameters': 1, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6936" class = 'collapse'>
			</div>
				<textarea id = "speech-6936" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6936">
					<img id="start_img-6936" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6936">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6937"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6937" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Please see some of the many other similar questions on this site.  For example:</p>

<ul>
<li><a href="https://robotics.stackexchange.com/questions/3032/jacobian-of-abb-irb140-robot/">jacobian of Abb irb140 robot</a></li>
<li><a href="https://robotics.stackexchange.com/questions/2250/finding-inverse-kinematics-algorithm-for-a-specific-manipulator">Finding inverse kinematics algorithm for a specific manipulator</a></li>
<li><a href="https://robotics.stackexchange.com/questions/4610/forward-kinematics-d-h-parameters-for-perpendicular-joint-axes">Forward Kinematics/D-H parameters for perpendicular joint axes</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6937" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-6937">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6937" class = 'collapse'>
			</div>
				<textarea id = "speech-6937" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6937">
					<img id="start_img-6937" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6937">Comment</button>
			<br><div id = "ans-6949"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6949" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Essentially when applying the DH parameter method to compute Forward Kinematics for a robot arm(assuming that it is anthropomorphic robot arm kinematics you are interested in), you are to set reference frames at each joint such that the z axis coincides with the axis of rotation of the joint. </p>

<p>The next step is to find the DH values for the joints w.r.t the base reference frame, i.e the link lengths(L1,L2 etc, also represented frequently as 'a'), the theta angles (of rotation at the joints),d (joint offset distances), and "alpha" angles (joint offset angles).</p>

<p>You can find those values by inspecting the frames of the robot once you assign them. </p>

<p>Then input those DH parameter values in a transformation matrix that relates the frame of reference to the previous frame of reference, i.e. for Joint 1, it will be T(1 to 0), for Joint 2 T(2 to 1) etc.</p>

<p>The then final step is to premultiply the transformation matrices 
T(n to 0) = T(1 to 0)* T(2 to 1) * T(3 to 2)...* T(n to n-1) to compute the Total Transformation matrix(T (n to 0) that relates the end effector(nth frame of reference) to the base reference frame. That is your Forward Kinematic solution for the robot arm.</p>

<p>A good reference textbook would be Robot Modeling and Control by Spong, Vidyasagar. Look for chapter on Forward Kinematics. See link for the book chapter : <a href="http://www.fit.hcmup.edu.vn/~hungnv/teaching/Robotics/0471649902_-_Robot_Modeling_and_Control.pdf" rel="nofollow">http://www.fit.hcmup.edu.vn/~hungnv/teaching/Robotics/0471649902_-_Robot_Modeling_and_Control.pdf</a></p>

<p>If you can be more specific about the type of robot you are trying to compute kinematics for, I can be more specific with my answer. Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6949" data-toggle = "popover">
				<p>user name : Akshay Nagarajan</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-6949">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6949" class = 'collapse'>
			</div>
				<textarea id = "speech-6949" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6949">
					<img id="start_img-6949" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6949">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>