<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>JSP container for embedded systems
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2435" class = "post">
			<h2>Question</h2>
			<div id="vote-2435" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 478</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>JSP container for embedded systems</h2>
<p>There is this project I am working on which is using a BeagleBone and we need a JSP container to run on it. I was thinking of Tomcat but wanted to know if Tomcat is suitable for embedded systems.</p>

<p>Is it too resource-heavy? If yes, are there other lighter JSP containers? I know only of Tomcat and Jetty.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2435" data-toggle = "popover">
				<p>user name : pratnala</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-2435">{'None': 0, 'beagle-bone': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2435">Load Comments</button></br>
			<div id = "commentsection-2435" class = 'collapse'>
			<div id = "comment-4757" class = "comment">
				<p>and why u need the JSP container there. provide more details</p>
			</div>
			</div>
				<textarea id = "speech-2435" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2435">
					<img id="start_img-2435" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2435">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2439"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2439" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Could you perhaps elaborate on your performance requirements?</p>

<p>I'm quite confident you will be able to get Tomcat running, <a href="http://www.youtube.com/watch?v=aUCa8GQvsjo" rel="nofollow noreferrer">here's a video of someone getting Tomcat 5.5 running</a> on a beagleboard c4 (note the video is dated Feb 2011). Also remember that you can run a normal <a href="https://wiki.ubuntu.com/ARM" rel="nofollow noreferrer">Ubuntu distro</a> on the beaglebone, so installing Tomcat should be as easy as simply going 'sudo apt-get install tomcat7'.</p>

<p>The big issue is performance. If you're planning to use the beaglebone as a server handling thousands of requests a second you're probably going to have a problem.</p>

<p>The following table indicates the performance difference between embedded application processors and a desktop PC (the benchmark calculates pi to 500 digits, <a href="http://upon2020.com/blog/2013/07/comparing-raspberry-pi-beaglebone-and-mirabox/" rel="nofollow noreferrer">see Johannes Ernst's blog for more info</a>).</p>

<p><img src="https://i.stack.imgur.com/Dpe8k.png" alt="enter image description here"></p>

<p>The above benchmark obviously does not characterize other performance areas important in running a server (e.g. disk or network I/O), but let's assume you're looking at roughly a tenfold increase in processing time.</p>

<p>For instance, if a single Tomcat transaction usually took 10 ms to complete, it could now take 100 ms. If you're only using the beaglebone to serve a small number of consumers (infrequently), and responsiveness isn't as critical, it should work fine.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2439" data-toggle = "popover">
				<p>user name : EDDY74</p>
				<p> user reputation : 395</p>
				<p class = "tagcontent" id = "usertaginfo-2439">{'None': 25}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2439">Load Comments</button></br>
			<div id = "commentsection-2439" class = 'collapse'>
			<div id = "comment-4759" class = "comment">
				<p>It won't be connected to the Internet but to a local network. So, probably tens of requests a second. That should be fine right?</p>
			</div>
			<div id = "comment-4760" class = "comment">
				<p>I honestly can't say, it depends on what your servlet is up to. Are you planning on running a full blown sql db in the background, or are you just buffering data collected by the beaglebone? Ultimately the only way of knowing is test and see.</p>
			</div>
			<div id = "comment-4761" class = "comment">
				<p>We plan to use an SQLite backend</p>
			</div>
			</div>
				<textarea id = "speech-2439" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2439">
					<img id="start_img-2439" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2439">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>