<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Kalman filter model values or state space original value? Which values to use?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5037" class = "post">
			<h2>Question</h2>
			<div id="vote-5037" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 159</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Kalman filter model values or state space original value? Which values to use?</h2>
<p>I am using <a href="http://www.pololu.com/file/0J563/L3GD20.pdf" rel="nofollow">L3GD20</a> and I am trying to implement a kalman filter for it on the stm32f3 discovery board. I have though a few questions about that:</p>

<ol>
<li><p>After the filter gave me the values, do I have to make an average between them and those of the original model or should I use them as they are?</p></li>
<li><p>According to <a href="http://academic.csuohio.edu/simond/courses/eec644/kalman.pdf" rel="nofollow">this document</a>, we don't use the original state space vectors in the filter, so how could we have "correct" space state estimated values?</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-5037" data-toggle = "popover">
				<p>user name : Med.ali</p>
				<p> user reputation : 34</p>
				<p class = "tagcontent" id = "usertaginfo-5037">{'control': -1, 'odometry': 1, 'None': 0, 'noise': 5, 'motor': 1, 'arduino': 1, 'pid': 1, 'wheeled-robot': 1, 'kalman-filter': 3, 'sensors': 0, 'gyroscope': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5037">Load Comments</button></br>
			<div id = "commentsection-5037" class = 'collapse'>
			<div id = "comment-7798" class = "comment">
				<p>Your kalman filter gives you "multiple values"?  Please elaborate.</p>
			</div>
			<div id = "comment-7799" class = "comment">
				<p>What i mean is that the filter give estimated values that could be wrong and the sensor gives noisy values.Which values do i have to trust?</p>
			</div>
			<div id = "comment-7800" class = "comment">
				<p>If you doing things properly, the output of the kalman filter should be better than relying on sensor data or your state transition model alone.</p>
			</div>
			<div id = "comment-7805" class = "comment">
				<p>@Med.ali, if you apply Kalman filter correctly, then the estimated values are one of the best values you can go with. The whole point of using Kalman filter is to eliminate noise, so of course you need to trust Kalman filter more than your sensor.</p>
			</div>
			</div>
				<textarea id = "speech-5037" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5037">
					<img id="start_img-5037" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5037">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5049"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5049" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To apply Kalman filter successfully, you need two requirements namely the system must be linear (i.e. both the motion and observation models) and the noise to be Gaussian with zero mean and some variance besides the models must be specified accurately. Kalman filter is a time domain recursive filter. Meeting these requirements, Kalman filter is one of the best filters to go, so you don't need to average the filtered data. This answers your first question.  For the second question, I didn't read the attached pdf, Kalman filter estimates your state vector. I don't understand what do you mean by saying "we don't use the original state space vectors"?  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5049" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-5049">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5049" class = 'collapse'>
			</div>
				<textarea id = "speech-5049" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5049">
					<img id="start_img-5049" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5049">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>