<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Kalman Filter and the state noise vector?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2245" class = "post">
			<h2>Question</h2>
			<div id="vote-2245" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 241</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Kalman Filter and the state noise vector?</h2>
<p>I'm reading Probabilistic Robotics by Thrun. In the Kalman filter section, they state that 
$$
x_{t} =A_{t}x_{t-1} + B_{t}u_{t} + \epsilon_{t}
$$</p>

<p>where $\epsilon_{t}$ is the state noise vector.  And in
$$
z_{t} = C_{t}x_{t} + \delta_{t}
$$
where $\delta_{t}$ is the measurement noise. Now, I want to simulate a system in Matlab. Everything to me is straightforward except the state noise vector $\epsilon_{t}$. Unfortunately, majority of authors don't care much about the technical details. My question is what is the state noise vector? and what are the sources of it? I need to know because I want my simulation to be rather sensible. About the measurement noise, it is evident and given in the specifications sheet that is the sensor has uncertainty ${\pm} e$.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2245" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-2245">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2245" class = 'collapse'>
			</div>
				<textarea id = "speech-2245" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2245">
					<img id="start_img-2245" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2245">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2248"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2248" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In my understanding, $\epsilon_{t}$ accounts for the uncertainties of the state model. Uncertainties come from real life imperfections, for example the wheels are not completely round, or the weight distribution is not even, or the motors don't perform exactly as predicted by the model.</p>

<p>So when the robot executes a straight movement, it is expected to eventually reach a nearby position of that predicted by the model, a bit to the left or right.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2248" data-toggle = "popover">
				<p>user name : Demetris</p>
				<p> user reputation : 414</p>
				<p class = "tagcontent" id = "usertaginfo-2248">{'None': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2248">Load Comments</button></br>
			<div id = "commentsection-2248" class = 'collapse'>
			<div id = "comment-4381" class = "comment">
				<p>thanks for the reply. Based on what you said, kalman filter is a matter of modelling the system accurately.</p>
			</div>
			<div id = "comment-4390" class = "comment">
				<p>Well, an accurate model is beneficial for Kalman filter but that is true for any filter. The important thing is that uncertainties of the model are represented by $\epsilon$ and (the standard) Kalman filter assumes that is a random variable from a zero mean Gaussian distribution.</p>
			</div>
			</div>
				<textarea id = "speech-2248" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2248">
					<img id="start_img-2248" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2248">Comment</button>
			<br><div id = "ans-2259"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2259" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The noise term $\epsilon_t$ is meant to capture uncertainty in the transition model, e.g. slippage due to an imperfect friction model for wheels. In other words, components of the model that were not incorporated either because they add to much computational complexity or simply cannot be modeled, such as disturbances that cannot be known in advance. It is usually assumed to be a zero mean Gaussian distributed random variable vector of the same size as the state variable $x$ that is independent between time steps. In other words, $x, \epsilon \in \mathbb{R}^n$ where $n$ is the dimension of the state-space, $\epsilon \sim \mathcal{N}(0,\Sigma)$, $\Sigma$ is the covariance of $\epsilon$, and $\epsilon_t$ and $\epsilon_{t+1}$ are identical and independently distributed. These assumptions permit closed form solutions to the Kalman filter which in term makes it relatively efficient to compute.</p>

<p>The noise term $\delta_t$ is basically the same but represents uncertainty in the sensing model. Usually $\epsilon_t$ and $\delta_t$ are not known a priori and need to be learned via some system identification method or can be learned from data using something like Expectation-Maximization.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2259" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-2259">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2259">Load Comments</button></br>
			<div id = "commentsection-2259" class = 'collapse'>
			<div id = "comment-4635" class = "comment">
				<p>what about the uncertainty with sensors that are given in the specification sheet? Why they are not included in $\delta_{t}$?</p>
			</div>
			<div id = "comment-4643" class = "comment">
				<p>Those can absolutely be used. I only mean to say that at some point the uncertainty model needs to be determined. In that case the manufacturer measures certain aspects of the sensor which may or may not be applicable to your model.</p>
			</div>
			<div id = "comment-4654" class = "comment">
				<p>I think I'm still struggle with it. It seems to me that this stuff should be covered from a technical perspective. Majority of books repeat the same stuff without shedding  some light on the technical details makes it harder to grasp the meaning of those magic symbols.</p>
			</div>
			</div>
				<textarea id = "speech-2259" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2259">
					<img id="start_img-2259" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2259">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>