<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Kalman filter localisation equations
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13886" class = "post">
			<h2>Question</h2>
			<div id="vote-13886" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 91</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Kalman filter localisation equations</h2>
<p>I am doing mobile robot localisation as a project. Now I stuck in obtaining the equations of EKF localisation. My robot moves straight for 10 seconds parallel to x-axis and robot equipped with 2 sonars - in front and in right side. As a landmark I have two lines in front of the robot and on the right side parallel to x-axis. Could you please help me to obtain the equations?! The map looks like this:
<a href="https://i.stack.imgur.com/7RBzn.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/7RBzn.png" alt="enter image description here"></a></p>

<p>The robot is in the origin (0, 0), the landmark line parallel to X-axis coordinate is y=-2000mm, the landmark parallel to y-axis is x=4000. I already implemented the motion-based control which returns estimated pose of the robot and covariance matrix. The estimated pose of the robot is given by S=[Sx, Sy, Sth]. Please help me to find matrices of the correction step</p>

<p>What is my observation model Jacobian matrix?!
The papers in internet gives me only Jacobian matrix form for nonlinear model, but in my case as my teacher said the model is linear, but I dont know how to obtain this Jacobian matrix which has dimension H[2][3] matrix</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13886" data-toggle = "popover">
				<p>user name : Nekromant</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-13886">{'None': 0, 'errors': 0, 'usb': 0, 'localization': 1, 'ekf': 1, 'wheeled-robot': 0, 'connector': 0, 'slam': 1, 'kalman-filter': 0, 'mobile-robot': 1, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13886">Load Comments</button></br>
			<div id = "commentsection-13886" class = 'collapse'>
			<div id = "comment-22637" class = "comment">
				<p>Welcome to *Robotics*, user17633. Could you please explain more what your terms are and what source you're working from? You seem to be confused about the same terms I am (z_real?) and I think it would be helpful to read the publication that used it.</p>
			</div>
			<div id = "comment-22638" class = "comment">
				<p>Hi Chuck! I am working with localisation as my dissertation topic, this is the link for the material that I am using: https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxwYXVsb3BpbmV8Z3g6NWExMGI2MmZhZmViMzg3     I am doing implementation in C++ using Aria library and Amigobot, and the last thing left is this localisation method. Cannot obtain Jacobian matrix for the model described above</p>
			</div>
			<div id = "comment-22674" class = "comment">
				<p>I totally agree with @Chuck, it is not clear what you are trying to do. Please share more info. Be clear and precise. We don't know what you've done and you are trying to do.</p>
			</div>
			<div id = "comment-22682" class = "comment">
				<p>ok. My primary task is to do mobile robot localisation in MobileSim. Firstly, my supervisor asked me to do motion-based localisation(or dead-reckoning) and it works fine now. Now my next task is to do Extended Kalman filter localisation. I have estimated pose and covariance matrix(from motion-based localisation). Now I need to find the matrices of correction step, especially the observation model Jacobian matrix</p>
			</div>
			<div id = "comment-22683" class = "comment">
				<p>Then if I know the observation model Jacobian matrix, I can find a Kalman gain and update the pose and covariance matrix of the robot. I don't know the observation model Jacobian matrix in my example described above, please help me, deadline is coming soon</p>
			</div>
			<div id = "comment-22684" class = "comment">
				<p>As my teacher said, for the sake of simplicity, just do the extended Kalman filter for robot that has goal in front by, for example, simulating the driving straight for 10 seconds, because if I start rotating robot it will be challenging to estimate the pose of the robot. As a landmark, I have two walls in front and on the right side. I know the coordinates of these two walls, moreover I am reading the sonar measurements, with these information I have to do Extended Kalman filter localisation. I reviewed a lot of materials, all of them for nonlinear functions, that's why I stuck on the problem</p>
			</div>
			<div id = "comment-22685" class = "comment">
				<p>Dx and Dy in figure 1 are the sonar measurements @Chuck</p>
			</div>
			<div id = "comment-22686" class = "comment">
				<p>Starting position is (0, 0) and robot runs for 10 second straight with constant linear speed @CroCo</p>
			</div>
			<div id = "comment-22687" class = "comment">
				<p>From the [document you linked](https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxwYXVsb3BpbmV8Z3g6NWExMGI2MmZhZmViMzg3), `z_real` comes from a landmark location that, in turn, is provided by a `FeatureDetection` algorithm that is not covered in the document. Other than not explaining/showing the `FeatureDetection` function, everything else seems straightforward and well explained. I would argue that you probably can't do feature detection with two single-point rangefinders, but that's all dependent on the function.</p>
			</div>
			<div id = "comment-22688" class = "comment">
				<p>If your questions are about an algorithm you learned in class, please ask your professor for help - that's what they're there for. If your questions are about a *published* algorithm, then please link the publication. As it stands, it's not clear what you're asking *that we can help with.* You asked, `What is my observation model Jacobian matrix?!` and the document states, `For each feature, it will be required these 2 rows in H. [example]`. You ask, `For what z_real is equal to?` and again, the document states, `zrealt is related to the real Landmark correspondent to the zt`.</p>
			</div>
			<div id = "comment-22689" class = "comment">
				<p>If you're going to use an extended Kalman filter, please start from a quality EKF tutorial and/or publication. The document you posted is a set of class slides about an algorithm that we can't see, but it does appear to answer the questions you asked here. Again, I would refer you to your professor for help with that specific document. If you have questions about the EKF, please [review previous questions asked here](https://robotics.stackexchange.com/questions/tagged/ekf) and, if that doesn't help, then ask a *specific, answerable question* based on *a problem you actually face.*</p>
			</div>
			<div id = "comment-22690" class = "comment">
				<p>ok @Chuck thank You for response, I already understood what is the z_real and z_sensor. I will delete it, because it is not anymore a problem. The problem is that my teacher says he wont explain me anything anymore, it is your research and bla bla. Third week I still stuck on finding the Jacobian matrix, all other parts are already clear.</p>
			</div>
			<div id = "comment-22691" class = "comment">
				<p>The question is to find the Jacobian matrix H[2][3].</p>
			</div>
			<div id = "comment-22692" class = "comment">
				<p>I found some material which explains this Jacobian matrix: H shows us how much the range and bearing changes as x, y and theta changes. The first element in the first row is the change in range with respect to the change in the x axis. The second element is with respect to the change in the y axis. The last element is with respect to the change in theta, the robot rotation. Of course this value is zero as the range does not change as the robot rotates. The second row gives the same information, except that this is the change in bearing for the landmark. But it is still not clear to me</p>
			</div>
			<div id = "comment-22694" class = "comment">
				<p>If I follow the explanation above my matrix has form: H[2][3] = { { Lx - Sx, Ly - Sy, 0 }, { 0, 0, 0(or -1 ?) } } ? Where Lx=4000 and Ly=2000 are true landmark positions, is it correct or not?!</p>
			</div>
			<div id = "comment-22696" class = "comment">
				<p>https://drive.google.com/drive/folders/0B0qN_eo4iV3vRG9CR2ZmSE03Nzg - this is the main book that I am using to EKF, the equation I am asking is 6.51 on page 60.</p>
			</div>
			</div>
				<textarea id = "speech-13886" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13886">
					<img id="start_img-13886" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13886">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>