<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Keyboard icons & terminology
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-193" class = "post">
			<h2>Question</h2>
			<div id="vote-193" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">49</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3001</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Keyboard icons & terminology</h2>
<p>Different people use different terminology and symbols for Mac keys/commands. I figured we should have one standardized list that can be a point of reference for editing guidelines. Since no one else has created one </p>

<h3>Usage:</h3>

<ul>
<li>Names go from most to least common, so use the first in the list whenever possible.<br /><br /></li>
<li>Terms in italics are obsolete, slang, and/or terms used on other platforms; these should only be used when it's unavoidable.<br /><br /></li>
<li>No images were used here so that the symbols can be copied/pasted into questions and answers (and please do!).<br /><br /></li>
<li>When typing shortcuts, don't include characters that aren't pressed. In Safari, for instance, <strong> +</strong> zooms in while <strong> -</strong> zooms out. Using <strong> ++</strong> or <strong> -+</strong> would just be confusing.<br /><br /></li>
<li>The <code>&lt;kbd&gt;</code> tag is problematic: for instance, <kbd> +</kbd> is readable, but <kbd> </kbd> is not.<br /><br /></li>
<li>Bolding shortcuts helps readability, but not inside <code>&lt;kbd&gt;</code> tags.

<ul>
<li><code>** +**</code> becomes <strong> +</strong> </li>
<li><code>** **</code> becomes <strong> </strong></li>
<li><code>&lt;kbd&gt;** +**&lt;/kbd&gt;</code> becomes <kbd><strong> +</strong></kbd></li>
<li><code>&lt;kbd&gt;** **&lt;/kbd&gt;</code> becomes <kbd><strong> </strong></kbd><br /><br /></li>
</ul></li>
<li>When typing shortcuts, don't separate keystrokes that must be made together. For instance, typing in  <strong> </strong> N N or <b> </b>N N  produce different results and the latter makes it clear which two need to be pressed simultaneously.

<ul>
<li>If you're using the <code>&lt;kbd&gt;</code> tag, that means use <kbd><b> </b>N</kbd> <kbd>N</kbd>, not <kbd><strong> </strong></kbd> <kbd>N</kbd> <kbd>N</kbd>.</li>
</ul></li>
</ul>

<hr>

<dl>
    <dt><strong>Icon</strong></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Name(s) and alternate symbols</strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Command, Cmd, Cmnd, <em>Clover</em>, <em>Apple</em><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Control, Ctl, Ctrl<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Option, Opt, <em>Alt</em><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Shift<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Caps lock<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Eject<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Return, Carriage return, <strong> </strong>, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Enter, <strong> </strong>, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Delete, Backspace, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Forward delete, Fwd delete, Delete, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Escape, Esc, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Right arrow<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Left arrow<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Up arrow<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Down arrow<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Page up, PgUp<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Page down, PgDn<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Home<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; End<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Tab, Tab right, Horizontal tab, <strong> </strong><br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Shift tab, Tab left<br /><br /></dd>
    <dt><h2> </h2></dt><dd> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Space, Blank, <strong> </strong></dd>
</dl>

<hr>

<p>Notes:</p>

<ul>
<li>I'm not crazy about the way this looks either, but there's a limit to what I can do without tables and formatting. If you can improve it, please do!</li>
<li>This is currently solely based on the American English keyboard, so it could really use some internationalization help.</li>
<li>These didn't come down from on high; it's a work in progress based on community consensus. If you have suggestions for changes or ideas for additions, add them below for discussion.</li>
</ul>

<hr>

<p>Edited to add:</p>

<p>For those who can't see the table above, or who want to know what to type in rather than copy paste, this might help:</p>

<p><img src="https://i.stack.imgur.com/cN8Vh.png" alt="alt text"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-193" data-toggle = "popover">
				<p>user name : Dori</p>
				<p> user reputation : 6870</p>
				<p class = "tagcontent" id = "usertaginfo-193">{'None': 44, 'tags': 8, 'discussion': 60, 'faq': 49, 'status-completed': 1, 'moderators': 3, 'design': 1, 'bug': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-193">Load Comments</button></br>
			<div id = "commentsection-193" class = 'collapse'>
			<div id = "comment-316" class = "comment">
				<p>looks great, thanks for making this</p>
			</div>
			<div id = "comment-317" class = "comment">
				<p>this post is love in a bottle +1</p>
			</div>
			<div id = "comment-318" class = "comment">
				<p>nice job Dori, I like it</p>
			</div>
			<div id = "comment-329" class = "comment">
				<p>Is there an easy way to enter those characters on a keyboard in OSX? Shy of hunting them down in the Character Viewer?</p>
			</div>
			<div id = "comment-333" class = "comment">
				<p>What a shame. If you ever learn another easy method, post it here, will 'ya? :)</p>
			</div>
			<div id = "comment-334" class = "comment">
				<p>This totally doesn't work on Win+IE. All I see is bullets and squares.</p>
			</div>
			<div id = "comment-349" class = "comment">
				<p>If I could re-upvote you I would. You missed a linebreak between the second and third 'return' icons, however. [edit] I can re-upvote you, that comment! Duh.</p>
			</div>
			<div id = "comment-1194" class = "comment">
				<p>@Dori why is "alt" obsolote, when it is written on the keyboard?</p>
			</div>
			<div id = "comment-1220" class = "comment">
				<p>@Dori It certainly isn't slang, and it's written on both my mac keyboards, so I can't see that it's only used on other platforms.</p>
			</div>
			<div id = "comment-1403" class = "comment">
				<p>Thank you very much for compiling this list. I've needed something like this many times. Except I didn't know about it...</p>
			</div>
			<div id = "comment-1807" class = "comment">
				<p>Adding Arial Unicode MS to the list of fonts inide <kbd> might help for IE users.</p>
			</div>
			<div id = "comment-1808" class = "comment">
				<p>Also, why isn t Control a simple ^ (caret)?</p>
			</div>
			<div id = "comment-2450" class = "comment">
				<p>@kinokijuf None of us works for Apple, so we can't answer that. :)</p>
			</div>
			<div id = "comment-2591" class = "comment">
				<p>@Dori Where did you get that chart from?</p>
			</div>
			<div id = "comment-2592" class = "comment">
				<p>The list is missing   (clear).   is also more common than  .</p>
			</div>
			<div id = "comment-3284" class = "comment">
				<p>  Lauri: ** ** is the "blank symbol". But I share with you that the ** ** is more frequently used.</p>
			</div>
			<div id = "comment-3317" class = "comment">
				<p>Is there any character to use for the power on button?</p>
			</div>
			<div id = "comment-5873" class = "comment">
				<p>@danielAzuelos ** ** [source](https://gist.github.com/Zenexer/c5243c4216f1f8cd2251) -- I forget where I got it from, but it was somewhere reliable</p>
			</div>
			<div id = "comment-5874" class = "comment">
				<p>Casting my vote for   over  .    is much more common;   is quite rare.  It's worth noting, though, that in menus, Apple just writes "Space".</p>
			</div>
			<div id = "comment-5875" class = "comment">
				<p>Here's Apple's official list of Unicode mappings for keys: ftp://ftp.unicode.org/Public/MAPPINGS/VENDORS/APPLE/KEYBOARD.TXT  I added them to the link I posted a couple comments up.  It appears the correct character for Space is  , not   or  .  Blank is also the same character ( ).  Power is  , not   as I had stated previously.</p>
			</div>
			</div>
				<textarea id = "speech-193" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-193">
					<img id="start_img-193" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-193">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-198"  class = "post">
				<h2>Answer</h2>
			<div id="vote-198" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is there something StackExchange can develop to make this easier? Some tag/macro they can develop in order to sanely enter these characters? I like having a source, which this post is perfect for, but I like something more that doesn't unfocus me from the question/answer at hand.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-198" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-198">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-198">Load Comments</button></br>
			<div id = "commentsection-198" class = 'collapse'>
			<div id = "comment-353" class = "comment">
				<p>I would hope they would do such a thing pending graduation for this project (if it happens). I would not blame them for not doing it before.</p>
			</div>
			<div id = "comment-1941" class = "comment">
				<p>Related: http://meta.apple.stackexchange.com/questions/683/put-the-characters-somewhere-for-people-to-copy-paste</p>
			</div>
			</div>
				<textarea id = "speech-198" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-198">
					<img id="start_img-198" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-198">Comment</button>
			<br><div id = "ans-199"  class = "post">
				<h2>Answer</h2>
			<div id="vote-199" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This seems like a lot of extra hassle for essentially no tangible gain.  Unlike, say, Math Overflow, math.SE, or LaTeX.SE, symbolic notation here is simply beyond unnecessary (I refuse to say something so trite as "in my opinion", but given the recent allegations that I use "weasel words", this is a reverse disclaimer, in that these views are my own and not the views of "people in general", as it were.). This is a Q&amp;A site for enthusiasts/power users of a certain brand of electronic device.  In fact, this kind of thing gives one (by which I mean your humble servant) the impression of "trying too hard", as it were.  </p>

<p>Further, albeit less related to the original post, it seems clear to me, at least, that this site would do well to drop the overwhelming aura of seriousness. Being an Apple fan, power user (alas, gone are the days when the users of the powermac/book quite literally "power users"), simply does not require that we speak and act with such gravity (as opposed to levity!). This is a Q&amp;A site about the products of Apple Computer for experienced users. Lobotomizing away the personality and panache from people's posts (alliteration <em>not</em> intended) does not make the subject matter any more substantial or important.</p>

<p>Thank you for your time.</p>

<p>Cordially yours,</p>

<p>Harry</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-199" data-toggle = "popover">
				<p>user name : Harry Gindi</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-199">{'None': -8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-199">Load Comments</button></br>
			<div id = "commentsection-199" class = 'collapse'>
			<div id = "comment-337" class = "comment">
				<p>The symbolic notation for keyboard shortcuts is widely used in Mac OS X - just open up the menu in any program - so it makes perfect sense to use it here as well. As far as "lobotomizing" the "personality" and "panache" from your posts, it's standard practice on the Stack Exchange network to remove unnecessary editorialization from anyone's posts.</p>
			</div>
			<div id = "comment-338" class = "comment">
				<p>Dear @Kyle, are you trying to run a Q&A site or compile an encyclopedia? I understand things like "remove unnecessary swearing", but editorializing includes the following example: (I'll do it in programming-speak for your entertainment, so you can chuckle at how little I know about programming):  Suppose someone asks a specific question, like, "Hey, store ints as floats?"  Then the answer would be something like "yes, here's how you do it". And editorializing would be, "and here's why you shouldn't".  Further, when I write, I write as "I, the author".  It's rather clear when you look at my</p>
			</div>
			<div id = "comment-339" class = "comment">
				<p>posts what is my opinion and what is general opinion.  There is a general way of writing mathematics (I think that it comes from the French), where one uses "we", as in, I the writer, and you the reader.  Is this the "editorializing that you're so against?</p>
			</div>
			<div id = "comment-340" class = "comment">
				<p>It's more phrases like *"Every self-respecting Macintosh user knows that in terms of usability, the dock, while pretty, is even worse than the Micro$oft Windblows taskbar."* and *"Because I'm such a nice guy, I'm not going to rag on the OS X developers for the following completely inane design decision"* that are unnecessary. And yes, one of the goals behind Stack Exchange is a bit encyclopedic in that the questions and answers are intended to be useful both to the original asker and additionally to people coming in off Google with the same question.</p>
			</div>
			<div id = "comment-342" class = "comment">
				<p>@Kyle: The second one doesn't even resemble editorializing at least for the definitions of editorializing I've found.  It does not assert that the opinions are held by anyone other than myself.  Further, it's clearly a joke since it very blatantly contradicts itself.  It's like saying, "I'm not trying to be mean or anything, I just want to see you shed _one_ tear." or "I'd _never_ hit a woman, but just last week, my wife started nagging me while I was watching the game, so I punched her in the uterus to shut her up".</p>
			</div>
			</div>
				<textarea id = "speech-199" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-199">
					<img id="start_img-199" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-199">Comment</button>
			<br><div id = "ans-200"  class = "post">
				<h2>Answer</h2>
			<div id="vote-200" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Oh yes this is readable - NOT!</p>

<p><img src="https://i.stack.imgur.com/5vkzn.png" alt="mumbo jumbo"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-200" data-toggle = "popover">
				<p>user name : Torben Gundtofte-Bruun</p>
				<p> user reputation : 1790</p>
				<p class = "tagcontent" id = "usertaginfo-200">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-200">Load Comments</button></br>
			<div id = "commentsection-200" class = 'collapse'>
			<div id = "comment-336" class = "comment">
				<p>It's supposed to look like [this](http://modos.org/mackeys.png). It's OK on Macs and iOS devices because they have fonts that can display the characters built in, but unfortunately it'll look broken on Windows. Not an ideal situation, but since the keyboard shortcuts are only useful to those that *have* Macs, it might be acceptable.</p>
			</div>
			<div id = "comment-346" class = "comment">
				<p>@Dori It supports Unicode, it just doesn't have any fonts that have the required characters. I think most of the symbols are custom-made by Apple and wouldn't be expected to be supported on other platforms.</p>
			</div>
			<div id = "comment-351" class = "comment">
				<p>@dori: it's really incomprehensible... i've had a little unknown character symbol next to the name of every person in my contact list who sends me an email in gmail since windows xp.  It's a standard unicode character that looks like a telephone icon.  The first time i get on a macbook, lo and behold, the character shows up just fine!  I'm not sure how unicode support is still a problem in Windows after all these years.  Not sure, but I think it's more a problem with the default fonts used by browsers in windows rather than lack of unicode compatible fonts.</p>
			</div>
			<div id = "comment-2594" class = "comment">
				<p>@KyleCronin All characters currently listed in the question are standard Unicode characters. (Not private use area characters with a special meaning in some fonts like the Apple logo character.)</p>
			</div>
			</div>
				<textarea id = "speech-200" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-200">
					<img id="start_img-200" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-200">Comment</button>
			<br><div id = "ans-210"  class = "post">
				<h2>Answer</h2>
			<div id="vote-210" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">29</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I disagree about combining control modifiers into the same <code>kbd</code> tags. For example, rather than </p>

<blockquote>
  <p>To quit, type: <kbd> Q</kbd></p>
</blockquote>

<p>I think that the following makes much more sense:</p>

<blockquote>
  <p>To quit, type: <kbd> </kbd>+<kbd>Q</kbd></p>
</blockquote>

<p>For a few reasons:</p>

<ol>
<li>There is no <strong> Q</strong> key. using a <code>&lt;kbd&gt;</code> tag makes the item appear like a key on the keyboard, and placing <code> Q</code> together inside the <code>&lt;kbd&gt;</code> tag gives the appearance that there is a single key <strong> Q</strong>, when in fact there are two seperate keys</li>
<li>Despite my personal dislike of the "+" sign in the above notation, <a href="http://chat.meta.stackoverflow.com/transcript/message/277400#277400">it is the most common way of indicating that two keys should be pressed in conjunction</a>.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-210" data-toggle = "popover">
				<p>user name : Josh</p>
				<p> user reputation : 4457</p>
				<p class = "tagcontent" id = "usertaginfo-210">{'None': 33, 'discussion': 4, 'election': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-210">Load Comments</button></br>
			<div id = "commentsection-210" class = 'collapse'>
			<div id = "comment-1244" class = "comment">
				<p>I also feel strongly that it's confusing to have the tag make up a key that doesn't exist. The tag denotes a physical key - not that two keys should be pressed in sequence or synchronically. I think it's good to debate whether _ or + or , or - or nothing to separate them, but inventing an imaginary combination key is what having two characters inside the same `<kbd>` tag implies to me.</p>
			</div>
			<div id = "comment-1742" class = "comment">
				<p>I would also like to add that we should maybe follow what Apple actually puts on their recent keyboards: i.e. write <kbd>shift</kbd> *not* <kbd>&#8679;</kbd> and <kbd>option</kbd> not <kbd>&#8997;</kbd></p>
			</div>
			<div id = "comment-1845" class = "comment">
				<p>I agree about combining the modifiers</p>
			</div>
			</div>
				<textarea id = "speech-210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-210">
					<img id="start_img-210" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-210">Comment</button>
			<br><div id = "ans-241"  class = "post">
				<h2>Answer</h2>
			<div id="vote-241" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Should the arrows actually be arrows-with-tails as currently listed, or should they be replaced with       and   which are used on the arrow keys currently?</p>

<p>(<a href="http://www.visibone.com/htmlref/char/cer09600.htm" rel="nofollow">http://www.visibone.com/htmlref/char/cer09600.htm</a> for ease of HTML entity reference.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-241" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-241">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-241">Load Comments</button></br>
			<div id = "commentsection-241" class = 'collapse'>
			<div id = "comment-451" class = "comment">
				<p>Also, the sheer number of size-difference only characters of those symbols is so freaking annoying.</p>
			</div>
			<div id = "comment-453" class = "comment">
				<p>Fair enough, makes sense.</p>
			</div>
			<div id = "comment-1245" class = "comment">
				<p>I wish the keyboard would be printed with the same characters as are drawn in the menu bar. Can we all file a bug report with apple now to riot for some consistency?</p>
			</div>
			</div>
				<textarea id = "speech-241" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-241">
					<img id="start_img-241" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-241">Comment</button>
			<br><div id = "ans-1662"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1662" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Let's take a look at all the different options here:</p>

<ol>
<li><p>To take a screenshot of the entire window press <kbd> </kbd>
<kbd> </kbd> <kbd>4</kbd>, select the file on your desktop and copy
it with <kbd> </kbd> <kbd>C</kbd></p></li>
<li><p>To take a screenshot of the entire window press <kbd>  Command</kbd>
<kbd>  Shift</kbd> <kbd>4</kbd>, select the file on your desktop and
copy it with <kbd>  Cmd</kbd> <kbd>C</kbd></p></li>
<li><p>To take a screenshot of the entire window press <kbd>Command</kbd>
<kbd>Shift</kbd> <kbd>4</kbd>, select the file on your desktop and
copy it with <kbd>Command</kbd> <kbd>C</kbd></p></li>
<li><p>To take a screenshot of the entire window press <kbd>  Command</kbd> +
<kbd>  Shift</kbd> + <kbd>4</kbd>, select the file on your desktop and
copy it with <kbd>  Cmd</kbd> + <kbd>C</kbd></p></li>
</ol>

<p>Number 2 seems like the best option; It uses the proper notation used throughout Mac, and also uses the name as it appears on the keyboard (so it's much easier for novices to know what they're actually supposed to do.</p>

<p>I don't understand the need to separate each key with the <strong>+</strong> symbol. It makes sense when you're writing keyboard shortcuts in plain text where you have no way to visually distinguish between different keys, but condsidering we have <code>&lt;kbd&gt;</code> I just don't see a need for it.</p>

<p>Also, AskDifferent is supposed to be a site for learning, right? Using <kbd>  Option</kbd> people would finally be able to figure out what that crazy <strong> </strong> symbol is! </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1662" data-toggle = "popover">
				<p>user name : Josh Hunt</p>
				<p> user reputation : 2574</p>
				<p class = "tagcontent" id = "usertaginfo-1662">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1662" class = 'collapse'>
			</div>
				<textarea id = "speech-1662" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1662">
					<img id="start_img-1662" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1662">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>