<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Kinect VS Stereo cameras
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7671" class = "post">
			<h2>Question</h2>
			<div id="vote-7671" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 298</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Kinect VS Stereo cameras</h2>
<p>As I'm advancing in my project I realized I need better hardware, particularly for video input and processing.</p>

<p>From an intuitive feeling sounds like stereo cameras offers a more powerful and flexible solution, on the other hand the Kinect looks like a great out-of-the-box solution for depth sensing and it also takes away a lot of computational complexity as it output directly the depth.</p>

<p>So I would like to know what are the upsides and downsides of the 2 solutions and if they have any well known limitation and/or field of application and why.</p>

<p>Thank you </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7671" data-toggle = "popover">
				<p>user name : Cesar</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-7671">{'stereo-vision': 0, 'kinect': 1, 'None': 0, 'cameras': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7671">Load Comments</button></br>
			<div id = "commentsection-7671" class = 'collapse'>
			<div id = "comment-11110" class = "comment">
				<p>Welcome to *robotics* Cesar, but I'm afraid that this kind of question isn't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works, and try to rephrase your question in terms of the ultimate aim of the project, what you have tried so far and the problems you have had with those attempts to solve the problem.</p>
			</div>
			<div id = "comment-11113" class = "comment">
				<p>@MarkBooth Hello mark, thank you for welcoming me into the community.
I'm asking it's a comparison of capabilities between 2 different technologies for depth sensing, however I understand your concern, can you point me out what part of the question could lead people into giving opinions more than facts ? I would like to edit it, Thank you</p>
			</div>
			<div id = "comment-11131" class = "comment">
				<p>The problem is, product comparisons are closed questions. They presuppose that the best solution to your problem can be found in one of the options proposed. Much better are open questions which invite solutions which are outside of what you have considered so far.</p>
			</div>
			<div id = "comment-11148" class = "comment">
				<p>@MarkBooth Mmm, I see what you mean, however I always had the feeling that an open question would lead even more into opinions, I mean something like `What is the best solution for obtaining a depth map and video stream for an outdoor environment ? (with a reasonable limited budged)` ... how would you phrase it ?</p>
			</div>
			<div id = "comment-11149" class = "comment">
				<p>Yes, asking for lists of possible solutions are also problematic, as are asking for subjective evaluations. Asking "How do I do X, within the constraints of Y budget and Z expertise? I have already tried V and W and had these problems with those approaches" is the best way to go about it. In this case you would hopefully get an number of possibilities which you can evaluate and chose between. The key is providing enough information that can help people address your specific situation, while also resulting in a answer which will also answer other peoples similar situations.</p>
			</div>
			</div>
				<textarea id = "speech-7671" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7671">
					<img id="start_img-7671" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7671">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7673"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7673" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Kinect:
Pro:</p>

<ul>
<li><p>cheap</p></li>
<li><p>already calibrated</p></li>
<li><p>active system (works also on textureless surfaces)</p></li>
<li><p>dense stereo</p></li>
</ul>

<p>Con:</p>

<ul>
<li><p>defined range (low maximal range)</p></li>
<li><p>does not work good outdoors in direct sunlight</p></li>
</ul>

<p>Stereo:</p>

<p>Pro:
- adjustable (different camera, different baseline possible for different ranges)</p>

<ul>
<li><p>higher framerate possible</p></li>
<li><p>works outdoors</p></li>
</ul>

<p>Cons:</p>

<ul>
<li><p>hard to built right (cameras must not move at all)</p></li>
<li><p>higher computational load</p></li>
<li><p>no dense 3d (does rely on texture)</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7673" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-7673">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7673" class = 'collapse'>
			</div>
				<textarea id = "speech-7673" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7673">
					<img id="start_img-7673" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7673">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>