<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>kinect - development kit to aid obstacle-avoiding robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4578" class = "post">
			<h2>Question</h2>
			<div id="vote-4578" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 233</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>kinect - development kit to aid obstacle-avoiding robot?</h2>
<p>Some friends and I are interested in working on a robot. I know little to nothing about robotics, but do have a lot of experience with programming. Before we start, I am hoping that I can find some development kits or libraries that will help aid the goals of the robot. Which are:</p>

<ul>
<li>Robot needs to move from point A to point B. While moving, it needs to detect rocks (approx. 1 foot diameter) on ground. It needs to detect rocks that are big enough to stop it, turn away from them, and proceed. </li>
</ul>

<p>In theory, we will want to detect the kinect's angle via the accelerometers, and use that data to obtain Cartesian coordinates of the ground from the kinect's sensors. Later, we will want a way to assemble a 'map' in the robot's memory so that it can find better paths from A to B.</p>

<p>Right now we aren't concerned with the motors on the robot - only the vision element. Ie, I am not really interested in software that interfaces with the motors of the robot, only only something that interfaces with the kinect. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4578" data-toggle = "popover">
				<p>user name : SheerSt</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-4578">{'kinect': 1, 'None': 0, 'computer-vision': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4578">Load Comments</button></br>
			<div id = "commentsection-4578" class = 'collapse'>
			<div id = "comment-7182" class = "comment">
				<p>If I get you right, then you want to use odometry-data to obtain the robots position and then draw a map of your environment?
Take a look a ROS and the "rgbdslam"</p>
			</div>
			<div id = "comment-7184" class = "comment">
				<p>Do you look for drivers or libraries to convert Kinect's depth data to point clouds or for SLAM software in general?</p>
			</div>
			<div id = "comment-7188" class = "comment">
				<p>"drivers or libraries to convert Kinect's depth data to point clouds" I believe is the answer. @Kinkilla - I've seen this, as well as MRPT. Have you ever used MRPT? Does anyone know if it's more/less useful for what I want?</p>
			</div>
			<div id = "comment-7209" class = "comment">
				<p>This question seems very broad, as written.</p>
			</div>
			</div>
				<textarea id = "speech-4578" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4578">
					<img id="start_img-4578" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4578">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4791"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4791" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should start here 
<a href="http://wiki.ros.org/gmapping" rel="nofollow">http://wiki.ros.org/gmapping</a>
Or if you are unfamiliar with ROS, start doing the beginner tutorials.
After that set up your Robot and install ROS on it.
gmapping will automatically build a map of your room as you move the robot around.</p>

<p>Finally after having a map file, all you need is to set up the navigation
<a href="http://wiki.ros.org/navigation" rel="nofollow">http://wiki.ros.org/navigation</a></p>

<p>There you will see the robot in your map and can tell it to go to any point inside that map.</p>

<p>It will use the global map of your room for global path planning and then if it encounters an obstacle on the way it will detect it using the kinect (or any other sensors like sonar or PSD) and replan a new path.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4791" data-toggle = "popover">
				<p>user name : Mehdi</p>
				<p> user reputation : 394</p>
				<p class = "tagcontent" id = "usertaginfo-4791">{'control': 1, 'odometry': 12, 'None': 15, 'computer-vision': 10, 'mobile-robot': 2, 'power': 1, 'battery': 1, 'navigation': 2, 'cameras': 7, 'torque': 1, 'lidar': 5, 'joint': 2, 'slam': 12, 'magnetometer': 2, 'laser': 1, 'speech-processing': 3, 'rangefinder': 4, 'actuator': 1, 'sensors': 4, 'digital-audio': 0, '3d-reconstruction': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4791" class = 'collapse'>
			</div>
				<textarea id = "speech-4791" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4791">
					<img id="start_img-4791" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4791">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>