<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Kinect point cloud + Pcduino. Will it work?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2649" class = "post">
			<h2>Question</h2>
			<div id="vote-2649" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 379</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Kinect point cloud + Pcduino. Will it work?</h2>
<p>I'm a newbie to Mircroprocessors (PcDuino, for example) and I wanted to know if Kinect can be integrated with the pcduino, before I go and buy the board. I know in terms of connectors etc what might be required. My concern is regarding the hardware required to run the Kinect.</p>

<p>To elaborate more, I'll explain my current system: I have a system working on my laptop that uses a Kinect to extract unorganized point cloud data using "Processing" IDE which interacts with Kinect using openni drivers. My Matlab code then processes this information to detect obstacles and specific objects (can also be done using C++). </p>

<p>I want to build such a system for a robot, but using pcduino as the processing module. This means that the Kinect will connect to the pcduino using one of its usb ports. I'll power the Kinect using battery and a converted power adapter. Since pcduino can run Linux (Ubuntu) I (think I) can easily convert my laptop code into whatever the Ubuntu requires. The only concern I have is if there were any problems associated with using depth sensors with mini pc boards in terms of hardware capabilities of mini pc boards? I know that mini pc boards are not as fast as a PC, so the processing would be slower, but I'm not concerned with the speed, atleast for the time being.</p>

<p>One problem I encountered while using kinect, even on a PC is that the point cloud drivers in openni won't initiate the point cloud data stream, unless there was a GPU in the PC; the exact same code runs perfectly on a PC with a dedicated GPU. However, I do know that pcduino has a GPU chip (OpenGl ES2.0). Would the kinect work on this?</p>

<p>I searched online but the closest thing I could find is <a href="http://hackaday.com/2013/05/29/charlotte-the-hexapod-with-3d-vision/" rel="nofollow">this</a> which does not elaborate how the integration of Raspi and Asus Xtion works. I'm not too picky about the boards, anything that would work with a kinect is fine with me, although I like the pcduino since it has arduino headers and built in wi-fi etc. </p>

<p>Any additional pointers can also be helpful. Please let me know if I need to elaborate on anything more.</p>

<p>Thanks in advance</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2649" data-toggle = "popover">
				<p>user name : Anshul</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-2649">{'None': 10, 'irobot-create': 2, 'microcontroller': 0, 'openni': 1, 'kinect': 2, 'ros': 1, 'arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2649" class = 'collapse'>
			</div>
				<textarea id = "speech-2649" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2649">
					<img id="start_img-2649" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2649">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2666"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2666" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have used ROS and Ubuntu with a Kinect on many platforms and it has yet to let me down. I used it on a Pentium laptop without dedicated GPU as well as on powerfull desktops.</p>

<p>If the board has a USB port (which it does) and it can run Ubuntu, I don't see that there would be any problems with this setup. </p>

<p>I have also used MatLab on Windows and it is much easier to work with than ROS. Be prepared to do some debugging before it gets working correctly. If you don't have to, good for you!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2666" data-toggle = "popover">
				<p>user name : Sam</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-2666">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2666">Load Comments</button></br>
			<div id = "commentsection-2666" class = 'collapse'>
			<div id = "comment-6634" class = "comment">
				<p>I received my pcduino and i'm having trouble installing OpenNI on it (let alone SensorKinect and NITE which are required to run kinect). The problem is that Pcduino is an ARM architecture, therefore the OpenNI packages designed for x86 etc don't work here. I followed a bunch of pointers about installing it [here](http://daybydaylinux.blogspot.com/2012/12/how-to-compile-openni-and-sensorkinect.html) and [here](http://www.andol.info/hci/1924.htm) but neither works. 
Installing Matlab is not possible since pcduino doesnt use sse2 instruction set.</p>
			</div>
			</div>
				<textarea id = "speech-2666" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2666">
					<img id="start_img-2666" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2666">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>