<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>King Robota: Does he speak for himself?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-585" class = "post">
			<h2>Question</h2>
			<div id="vote-585" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2060</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>King Robota: Does he speak for himself?</h2>
<p>I want to know if its currently possible for a robot to speak by it self as <code>King Robota</code> does, or is just someone speaking on his behalf?</p>

<p><a href="https://www.youtube.com/watch?v=UYI2UDpQtv4" rel="nofollow">Youtube video</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-585" data-toggle = "popover">
				<p>user name : EH_warch</p>
				<p> user reputation : 92</p>
				<p class = "tagcontent" id = "usertaginfo-585">{'control': -7, 'None': 0, 'software': -7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-585">Load Comments</button></br>
			<div id = "commentsection-585" class = 'collapse'>
			<div id = "comment-692" class = "comment">
				<p>Sorry, but this post was presented for review to me, so I have to be honest; It does nothing to further robotic knowledge at this site, in any form.</p>
			</div>
			</div>
				<textarea id = "speech-585" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-585">
					<img id="start_img-585" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-585">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-598"  class = "post">
				<h2>Answer</h2>
			<div id="vote-598" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Not only is a human voice behind this (likely through a vocoder), I believe you are looking at a mechanized costume and not an actual robot -- <a href="http://kingrobota.com/faq.html" rel="nofollow">someone is inside</a>.  </p>

<p>Using fake robots to attract crowds has worked since <a href="http://www.youtube.com/watch?v=T35A3g_GvSg" rel="nofollow">"Elektro" at the 1939 World's Fair (video)</a>.  You can also <a href="http://digitaldiscountproducts.com/WP/2012/04/18/start-your-own-robot-business-2012/" rel="nofollow">buy your own King Robota suit</a> if you want to take up this form of entertainment yourself.</p>

<p>A more interesting question is how the costume's mouth reacts to the incoming speech, to emulate actual speaking.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-598" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-598">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-598">Load Comments</button></br>
			<div id = "commentsection-598" class = 'collapse'>
			<div id = "comment-683" class = "comment">
				<p>Fake automata go back a lot further than [Elektro](http://en.wikipedia.org/wiki/Elektro), with [The Turk (1770)](http://en.wikipedia.org/wiki/The_Turk) being the most famous example.</p>
			</div>
			<div id = "comment-686" class = "comment">
				<p>Excellent point!</p>
			</div>
			</div>
				<textarea id = "speech-598" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-598">
					<img id="start_img-598" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-598">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>