<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>KUKA delimiter .NET
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9312" class = "post">
			<h2>Question</h2>
			<div id="vote-9312" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 230</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>KUKA delimiter .NET</h2>
<p>I have a chance to develop a user interface program that lets the user control a KUKA robot from a computer. I know how to program stuff with the KUKA utilities, like OrangeEdit, but I don't know how to do what I want to do. I don't even know what's the "best" language to talk to the robot.</p>

<p>My idea is to control the robot with the arrow buttons, like up/down controls the Z axis and left/right controls the X/Y axes.</p>

<p>Can someone help me here? I know there's a lot of libraries to control the robot even with an Xbox controller, but if I limit the robot to 3 axes I might be able to control with simple buttons. </p>

<p>Edit: Now imagine that i have a routine that consists on going from P1 to P2 then to P3. I know i can "touch up" the points to refresh its coordinates using the console, but can i do it in a .net application? like modifying the src/srcdat files?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9312" data-toggle = "popover">
				<p>user name : noidea</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-9312">{'kuka': 0, 'None': 0, 'industrial-robot': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9312">Load Comments</button></br>
			<div id = "commentsection-9312" class = 'collapse'>
			<div id = "comment-16552" class = "comment">
				<p>If you intend on controlling a robot, the closer to a real-time environment you have, the better. That is RT-Linux > Linux > Windows in my experience, and C or C++ > anything else. .Net+Windows is essentially the worst choice for robotics, latency/predictability-wise.</p>
			</div>
			<div id = "comment-16553" class = "comment">
				<p>yeah i wish i could use linux :/ The thing is, the project must use windows because the application needs to talk to the gripper. And the gripper has internal software that only runs on windows. And speed is not that important to this project..</p>
			</div>
			<div id = "comment-16554" class = "comment">
				<p>Major fail on your gripper manufacturer.</p>
			</div>
			<div id = "comment-16559" class = "comment">
				<p>at first it wasn't suppose to be a gripper, it had a static position and were connected to a hmi running w7.</p>
			</div>
			</div>
				<textarea id = "speech-9312" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9312">
					<img id="start_img-9312" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9312">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9325"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9325" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I assume you are working with a KRC4 or KRC2 controller since you have mentioned OrangeEdit. </p>

<p>In order give your robot motion reference values you will need a technology packet called RSI Interface. This allows you to transmit ethernet packets to the controller and give new motion references with a 12 ms cylcetime. All you have to do is generate the required message (XML format) from a PC application based on the values of coming from your joystick. I think this approach is the best, preimplemented libraries you can find here: <a href="https://sourceforge.net/projects/kct/" rel="nofollow">https://sourceforge.net/projects/kct/</a> or <a href="https://github.com/erensezener/kuka-rsi3-communicator" rel="nofollow">https://github.com/erensezener/kuka-rsi3-communicator</a></p>

<p>There are also other approches, exploiting some workarounds. 
<a href="https://www.mb.hs-wismar.de/cea/Kuka_KRL_Tbx/Kuka_KRL_Tbx.html" rel="nofollow">https://www.mb.hs-wismar.de/cea/Kuka_KRL_Tbx/Kuka_KRL_Tbx.html</a>
 or
<a href="http://home.mis.u-picardie.fr/~fabio/Eng/documenti/articoli/ChScMoPr_RAM11.pdf" rel="nofollow">http://home.mis.u-picardie.fr/~fabio/Eng/documenti/articoli/ChScMoPr_RAM11.pdf</a></p>

<p>EDIT:
Once the src and dat files are loaded in memory they cannot be changed. You can still give new reference waypoints to the robot  with the above mentioned tools/interfaces.</p>

<p>If the said program is not loaded in memory, you can do a .net ftp server, ftp in the Kuka controller, do the file operations for changing the coordinates. However, I do not think that a Kuka program can be loaded into memory and executed without any manual intervention (e.g switch mode selector to AUT or EXT).</p>

<p>EDIT2: you mentiond KRC4. KRC4 supports customized HMI so instead of a PC connection you might get the same functionality by making an HMI screen with buttons and use the 6D mouse on the console (KCP), instead of a joystick.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9325" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-9325">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9325">Load Comments</button></br>
			<div id = "commentsection-9325" class = 'collapse'>
			<div id = "comment-16544" class = "comment">
				<p>it's a krc4. i'll give it a look. thank you !</p>
			</div>
			<div id = "comment-16549" class = "comment">
				<p>i've edited my post!</p>
			</div>
			<div id = "comment-16550" class = "comment">
				<p>I've edited my answer! However, your post edit slightly contradicts your original post. I do not think that editing files upon each joystick movment is a feasable solution for any kind of technical system. (Touchup edits the source files)</p>
			</div>
			<div id = "comment-16551" class = "comment">
				<p>i think i didn't explain properly. Imagine that i built a program with the console, with P1 and P2, with "default" coordinates". After that, with the joystick i move the robot to a new position and after a button click in the .net app i'm able to update the P1 coordinates. I didn't mean to edit the files per each movement..</p>
			</div>
			<div id = "comment-16566" class = "comment">
				<p>You can definitely achieve a similar behavior with the RSI interface. however it will not change and sourcecode, your .net program will have to sent out the coordinates via ethernet continously. it work fine under windows, with an ordinary PC, you do not need any realtime extention for it.</p>
			</div>
			<div id = "comment-16584" class = "comment">
				<p>i guess that's a package we have to buy right? it was the first time i heard about it..</p>
			</div>
			<div id = "comment-16585" class = "comment">
				<p>I only read the edit2 now, and it sounds nice. My main objective is to avoid people to freely manage the robot and the console, so if i design a hmi with all my configs and with some buttons to TouchUp the points it would be nice. And what's my best option on HMI customization? I refer to the "How to" if u know what i mean</p>
			</div>
			<div id = "comment-16592" class = "comment">
				<p>http://www.kuka-robotics.com/germany/en/products/software/additional_functions/ Kuka.HMI also you might want to look at kuka.opc which might let you modify variables (but as far as I know waypoints are not variables)</p>
			</div>
			<div id = "comment-16598" class = "comment">
				<p>there's no "free" way to do it? sorry for going offtopic</p>
			</div>
			<div id = "comment-16612" class = "comment">
				<p>No, sorry, I do not think so...</p>
			</div>
			</div>
				<textarea id = "speech-9325" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9325">
					<img id="start_img-9325" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9325">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>