<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Kuka KR16L-2 robot simulation base and wrist rotation inconsistent with original robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9677" class = "post">
			<h2>Question</h2>
			<div id="vote-9677" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 296</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Kuka KR16L-2 robot simulation base and wrist rotation inconsistent with original robot</h2>
<p>The issue is regarding simulation of Kuka robot KR16L6-2 in <strong>MATLAB using Robotics toolkit by Peter Corke</strong>. I wish to simulate  the kinematic before passing a command to real robot for motion.</p>

<p>I have attached the DH-Parameters. Apart from this I have also tried many other combination of orientations but to no useful effect.</p>

<p><a href="https://i.stack.imgur.com/S81q2.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/S81q2.jpg" alt="DH parameters and code"></a></p>

<p>The problems is that the robot base rotates counter-clockwise by default for positive increases in <code>Joint1</code>, while the original robot moves in the opposite direction. Similarly for the wrist roll, i.e. Joint 4, the direction of simulation is reversed.</p>

<p>In order to confirm that it's not my mistake only, I searched for similar ready made simulation software. Although it did not include the same KUKA robot, a similar variant (KUKA_KR_5_sixx_R650) was available. Hence, KUKA_KR_5_sixx_R650 had one set of motions for base and wrist in <strong><em>RoKiSim v1.7</em></strong> for positive increases in joint angle and reverse motion in <strong><em>roboanalyzerv7</em></strong>  .</p>

<p><a href="https://i.stack.imgur.com/8vWCo.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/8vWCo.jpg" alt="Screenshots of Robot Simulation of KUKA_KR_5_sixx_R650"></a></p>

<p><strong><em>NOTE:</em></strong> Only the rotation of J1 (base) and J4 (Wrist Roll) are reversed
and I want to recreate the results of RoKiSim v1.7 in Matlab where rotations are similar to the real world robot spec provided by KUKA.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9677" data-toggle = "popover">
				<p>user name : ihti</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9677">{'kuka': 1, 'None': 0, 'ekf': 0, 'simulation': 1, 'industrial-robot': 1, 'slam': 0, 'matlab': 1, 'sensor-fusion': 0, 'mobile-robot': 0, 'visual-odometry': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9677">Load Comments</button></br>
			<div id = "commentsection-9677" class = 'collapse'>
			<div id = "comment-17644" class = "comment">
				<p>If you get your coordinate axes to agree with those printed on the robot, as [50k4 suggested](http://robotics.stackexchange.com/a/9690/9720), and this causes the motion to work correctly but your inverse kinematics to be wrong, then I'd say there's something wrong with your inverse kinematics. Can you post that code?</p>
			</div>
			</div>
				<textarea id = "speech-9677" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9677">
					<img id="start_img-9677" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9677">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9690"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9690" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Kuka robots have the axis positive and negative side clearly marked on them. Use these to define the orientations of the Z-axes assigned to the joints. With other words, try to reverse engineer the DH parameters used by Kuka. Only this way can you corelate your DH table with the kuka axis orientations. If the axis moves in the wrong direction it means that your coordonate system is upside down. Flip it and change the sign of the other parameters.</p>

<p>Also keep in mind that there are multiple variants of teh DH parametrization (proximal and distal or modified DH). It can be that kuka uses a different one then the Robotics toolbox.</p>

<p>Other simulation software is not necesarily corelated with the real robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9690" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-9690">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9690">Load Comments</button></br>
			<div id = "commentsection-9690" class = 'collapse'>
			<div id = "comment-17261" class = "comment">
				<p>Yes I have tried doing that, Motion coincides with the original but then the inverse kinematics is not correct. Thanks anyway :)</p>
			</div>
			</div>
				<textarea id = "speech-9690" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9690">
					<img id="start_img-9690" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9690">Comment</button>
			<br><div id = "ans-11254"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11254" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd recommend putting a layer between your internal DH-model and the manufacturers axis conventions. (The differ for different manufacturers, so your IK will not be reusable otherwise. Zero positions varies as well.) KUKA likely does something similar given that you find stuff like this in <code>$machine.dat</code>:</p>

<p><code>
$AXIS_DIR[1]=-1
$AXIS_DIR[2]=1
$AXIS_DIR[3]=1
$AXIS_DIR[4]=-1
$AXIS_DIR[5]=-1
$AXIS_DIR[6]=-1
</code></p>

<p>Regarding the "reverse engineering" mentioned in the other answer: The file mentioned above contains lots of kinematic parameters as well.</p>

<p>Edit: Just noticed the post date. Why did this show up in my sidebar?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11254" data-toggle = "popover">
				<p>user name : tommyo</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-11254">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11254" class = 'collapse'>
			</div>
				<textarea id = "speech-11254" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11254">
					<img id="start_img-11254" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11254">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>