<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>KUKA Robotics API IDE
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7600" class = "post">
			<h2>Question</h2>
			<div id="vote-7600" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1973</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>KUKA Robotics API IDE</h2>
<p>I've got Robotics API library, demo-program and a robot. I want to develop app for it. The best solution is offline development on some kind of simulator. I'm completely new in such tasks - is there any IDE for this? Or a way do deliver byte-code to machine? Thanks in advance!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7600" data-toggle = "popover">
				<p>user name : Nikita Pronchik</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-7600">{'dynamic-programming': 0, 'None': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7600">Load Comments</button></br>
			<div id = "commentsection-7600" class = 'collapse'>
			<div id = "comment-10996" class = "comment">
				<p>Could you add more specific information? what robotic arm? what API? what platform for an app? what do you want it to do?</p>
			</div>
			<div id = "comment-11158" class = "comment">
				<p>What kuka are you using?</p>
			</div>
			</div>
				<textarea id = "speech-7600" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7600">
					<img id="start_img-7600" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7600">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7606"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7606" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In school (about 8 years ago) I did some work with a Kuka KR 5 sixx robot arm.  I remember there being 2 different APIs.  One was pretty high-level and you could specify joint configurations, waypoints, etc. through XML over TCP at some slow rate (maybe 10 Hz).  They also provided a more powerful low-level interface, but I forget the specifics of that.  I don't remember Kuka allowing you to put code on their control box.  Both of these interfaces were over Ethernet.</p>

<p>I don't think there is any sort of IDE, the way VisualStudio or Arduino have IDEs.  However, I do know that Kuka does have some fancy work-cell simulation and analysis software.  This kind of thing is for laying out large industrial floor plans and optimizing efficiency. </p>

<p>Remember that by far most of the Kuka robots in existence are "programmed" using the control pendant.  People writing "real" code to move the robot is not their normal use-case.  </p>

<p>But if Kuka gave you the API, shouldn't you know about this kind of stuff?  Or at least have a contact at Kuka.  Why are you asking us here?  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7606" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7606">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7606" class = 'collapse'>
			</div>
				<textarea id = "speech-7606" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7606">
					<img id="start_img-7606" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7606">Comment</button>
			<br><div id = "ans-7689"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7689" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If it's your first time, better off try with a simulator to check that your program doesn't break the robot's constraints or security configurations. 
The most powerful simulator I came across is "V-REP", which is free for educational purposes.</p>

<blockquote>
  <p>V-REP is the Swiss army knife among robot simulators: you won't find a
  simulator with more functions, features, or more elaborate APIs.</p>
  
  <p>The robot simulator V-REP, with integrated development environment, is
  based on a distributed control architecture: each object/model can be
  individually controlled via an embedded script, a plugin, a ROS node,
  a remote API client, or a custom solution. This makes V-REP very
  versatile and ideal for multi-robot applications. Controllers can be
  written in C/C++, Python, Java, Lua, Matlab, Octave or Urbi.</p>
  
  <p>V-REP is used for fast algorithm development, factory automation
  simulations, fast prototyping and verification, robotics related
  education, remote monitoring, safety double-checking, etc.
  <a href="http://www.coppeliarobotics.com/index.html" rel="nofollow">http://www.coppeliarobotics.com/index.html</a></p>
</blockquote>

<p>and answering @ben:</p>

<blockquote>
  <p>I don't think there is any sort of IDE, the way VisualStudio or
  Arduino have IDEs. However, I do know that Kuka does have some fancy
  work-cell simulation and analysis software. This kind of thing is for
  laying out large industrial floor plans and optimizing efficiency.</p>
</blockquote>

<p>In fact, KUKA's latest robots "LBR iiwa" come with a sophisticated Eclipse-based IDE called "<a href="http://www.kuka-lbr-iiwa.com/?post_type=modal&amp;p=479" rel="nofollow">KUKA Sunrise.Workbench.</a>", you program your 7 DoF robot's arm directly with Java and Kuka's complete API.
And you still can program the robot with the control pendant (They call them SmartPAD) or C++ by communicating via a UDP interface called FRI (Fast Research Interface Library).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7689" data-toggle = "popover">
				<p>user name : El Zo</p>
				<p> user reputation : 88</p>
				<p class = "tagcontent" id = "usertaginfo-7689">{'None': 6, 'c++': 2, 'robotic-arm': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7689">Load Comments</button></br>
			<div id = "commentsection-7689" class = 'collapse'>
			<div id = "comment-11347" class = "comment">
				<p>Do you have any resources on how to communicate with the LBR iiwa via FRI? The interfaces seem woefully underdocumented. Also, are you sure the robot can be *programmed* via FRI? It's been my understanding that it's only meant for I/O.</p>
			</div>
			<div id = "comment-11371" class = "comment">
				<p>The only resource I have is the PDF file KUKA provided, and it doesn't give much information on the programming paradigm or the mechanism.</p>
			</div>
			<div id = "comment-11372" class = "comment">
				<p>For now, I communicate with the LBR iiwa via UDP (ports from 30.000 to 30.010) and it's working fine, either to control the robot or receive data ( AxisAngles, Torques Values, etc.). FRI as Kuka's representative told me, it's more for overlaying movements than for fully control the robot's movements.
I asked a question on FRI here on SO, the only guy I came across who worked with FRI is @Andrew Hundt. you can find his answer here:
http://robotics.stackexchange.com/questions/7760/create-a-simple-c-client-application-to-control-kukas-robot-arm-lbr-iiwa-via</p>
			</div>
			</div>
				<textarea id = "speech-7689" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7689">
					<img id="start_img-7689" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7689">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>