<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>KUKA robot - update coordinates
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9395" class = "post">
			<h2>Question</h2>
			<div id="vote-9395" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 372</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>KUKA robot - update coordinates</h2>
<p>I need to develop something in order to update some coordinates in a KUKA KR C4 robot predefined program.</p>

<p>After some research I've found some ways to do it, but all of them non free.</p>

<p>I had several options, like developing a HMI in the console with 3 buttons, to touch up the 3 coordinates that I have to update for example.</p>

<p>Sending a XML file would work too but I need a RSI connection, and I can't do it without proper software (I guess).</p>

<p>Do you know about something like this? Or a C++ library that allows me to have access the <code>.src</code>/<code>.dat</code> files or to create a new one with the same "body" but with different coordinates?</p>

<p>Summing up, imagine that I have a conveyor that carries boxes and I need to develop a pick and place program. So far so good. But every 100 boxes, the size changes (and I can't predict it). So the operator goes and updates the coordinates, but I want to make sure that he won't change anything else in the program. Any ideas?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9395" data-toggle = "popover">
				<p>user name : noidea</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-9395">{'kuka': 0, 'None': 0, 'industrial-robot': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9395" class = 'collapse'>
			</div>
				<textarea id = "speech-9395" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9395">
					<img id="start_img-9395" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9395">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9401"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9401" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is as far as it can be from an elegant solution:</p>

<p>You can access the src and dat files via ftp. You can manipulate them as you like afterwards. However you cannot load them into memory without pressing some buttons on the panel. To circumvent this you might be able to install a program on the windows os running on the kuka controller that can move the mouse by getting external command via ethernet. You cam change the src file by editing over ftp and instruct the virtual mouse program to make some clicks to load the src into memory.</p>

<p>A somewhat more elegant solution is:
Make the operator switch the robot from auto-ext mode to T1 (as I recall this unloads the program from memory) with a hardware switch. Access teh program vie ftp edit on a PC with custom hmi copy back via ftp and instruct the operator to switch the robot back to aut-external (as I recall it loads back the program to memory) with a hardware switch)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9401" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-9401">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9401">Load Comments</button></br>
			<div id = "commentsection-9401" class = 'collapse'>
			<div id = "comment-16658" class = "comment">
				<p>what about JOpenShowVar ?</p>
			</div>
			<div id = "comment-16660" class = "comment">
				<p>Seems to do what you are looking for. Not sure how (using which protocol) it work to communicate with the robot controller.</p>
			</div>
			<div id = "comment-16661" class = "comment">
				<p>tcp/ip i guess. `private static String robotIP = "192.168.2.2";  //The static IP of the robot 
    private static int port = 7000;`</p>
			</div>
			<div id = "comment-16680" class = "comment">
				<p>Clearly there is a custom interface between the TCP client and the proxy which has to be installed to the robot controller. Interesting would be to know how does it tap into the robot controller.</p>
			</div>
			<div id = "comment-16681" class = "comment">
				<p>soon i'll tell you. i hope :) i thought it would be easier to "acess" robot axis variables .. like it's shown in the console</p>
			</div>
			<div id = "comment-16779" class = "comment">
				<p>you still wanna know how to? i've tested it today. works fine ! i'm developing a GUI now to make it easier to check coordinates. Like a personalized console</p>
			</div>
			<div id = "comment-16780" class = "comment">
				<p>yes, very much so!  i am interested in how the proxy talks to the robot controller, not the client tot the proxy. Thanks!</p>
			</div>
			<div id = "comment-17016" class = "comment">
				<p>i didn't forget about you ! wanna start?</p>
			</div>
			<div id = "comment-17049" class = "comment">
				<p>yes, I am really interested in the connection between the proxy and the robot controller.</p>
			</div>
			<div id = "comment-19214" class = "comment">
				<p>You guys care to let me in on the secret? :) I have heard that KUKAVARPROXY uses some Kuka API to access the controller, and appears to use a simple socket server to handle connections. Am I on the right track? I would very much like to duplicate this functionality in Python.</p>
			</div>
			</div>
				<textarea id = "speech-9401" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9401">
					<img id="start_img-9401" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9401">Comment</button>
			<br><div id = "ans-9713"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9713" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are working with windows then for KUKA programs you can use the (OrangeEdit), check it in this website, <a href="http://www.orangeapps.de/?lng=en&amp;page=apps/orangeedit" rel="nofollow">OrangeEdit Beta</a>. It is free and it enables you to view and edit all the <code>.src</code> and <code>.dat</code> files and more. </p>

<p>As for the robot program itself, usually you can save it in a USB key, to do so you just log into the KCP of the robot as administrator (default password is "kuka") then plug your key in the robot CPU, then in the KCP, in the menu bar, choose <strong>File->Save As->USB</strong> and wait for the saving to finish. You end up with a zip file that you can extract and then access via the OrangeEdit.</p>

<p>Normally there are three main folders, the one you will be interested in is (KRC) inside you will have a file called (<code>$config.dat</code>) where normally all the base frames are defined. Actually people, usually, use these base frames to define zones or areas of work, then in each zone another specific program defines the relative displacement. So, for example, in you application you might find a program called <code>pick_cartoon()</code> where the relative displacement, according to the cartoon dimensions, will be saved in the associated <code>.dat</code> file. So if that is the case then what you can do is to add offset to the part in <code>.src</code> file that does the displacement of frame of work, the offset of course express the difference between the two types of cartoons you have. To do so you need to follow the following steps:</p>

<ol>
<li><p>First defines your offsets parameters in the <code>$config.dat</code>.</p></li>
<li><p>Then program them in a convenient way in your <code>.src</code> file, you can use a counter or presence sensors to differentiate between the two types of cartoon, in this case you need to use some I/O of the robot and those also you can define in the <code>$config.dat</code> file.</p></li>
<li>Then you make these parameters accessible by the operators by defining them in the <code>ConfigMon</code> file which you can find under the (<code>\C\</code>) folder in the robot program.</li>
</ol>

<p>BTW, if you are under Linux you can actually access all the files and open them with any text editor, but it is not as nicer as with OrangeEdit, because that software was created specially for KUKA programs.</p>

<p>Let me know if this helps you, or if you have any further questions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9713" data-toggle = "popover">
				<p>user name : ghanimmukhtar</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-9713">{'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9713">Load Comments</button></br>
			<div id = "commentsection-9713" class = 'collapse'>
			<div id = "comment-17280" class = "comment">
				<p>i understand everything you said, but yet it doesn't fit to the problem. my other thread might help you understand my problem: http://robotics.stackexchange.com/questions/9312/kuka-delimiter-net</p>
			</div>
			<div id = "comment-17368" class = "comment">
				<p>I had a look at the link you provided, but still I don't understand why you have to create a separate program or App to execute what you want I still believe you can do so using the digital I/Os and .src .dat and ConfigMon. But anyway I cannot help you further, goodluck.</p>
			</div>
			<div id = "comment-17370" class = "comment">
				<p>The main reason is that i don't want the operators to TouchUp the **new** points in the console.  And every point has a "different gripper job", so i have to previously choose the job i want, and i can't make that in the kuka console.</p>
			</div>
			</div>
				<textarea id = "speech-9713" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9713">
					<img id="start_img-9713" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9713">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>