<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Lag in altitude measurements using a barometer and an acclerometer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9105" class = "post">
			<h2>Question</h2>
			<div id="vote-9105" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 134</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Lag in altitude measurements using a barometer and an acclerometer</h2>
<p>I am fusing data from the barometer and accelerometer using a complementary filter. However, there is a considerable lag in the readings which is affecting the Alt-Hold performance. 
Accelerometer : mpu 6050 
Baro : ms 5611. 
Here's the code : <a href="https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/altitudehold.c" rel="nofollow">https://github.com/cleanflight/cleanflight/blob/master/src/main/flight/altitudehold.c</a></p>

<p>You will find the filter being implemented in the function calculateEstimatedAltitude()
Does anyone have any suggestions to improve the measurements ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9105" data-toggle = "popover">
				<p>user name : Siddharth Hari Nair</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-9105">{'quadcopter': 4, 'None': 0, 'sensors': 4, 'sensor-fusion': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9105">Load Comments</button></br>
			<div id = "commentsection-9105" class = 'collapse'>
			<div id = "comment-15069" class = "comment">
				<p>Is this on a flying vehicle or currently in a hand-held test structure? Do you know which sensor is lagging?</p>
			</div>
			<div id = "comment-15078" class = "comment">
				<p>This is on a flying vehicle. The barometer seems to be lagging.</p>
			</div>
			<div id = "comment-15085" class = "comment">
				<p>Is this a duplicate of [your other question](http://robotics.stackexchange.com/q/8975/9720)? What is the code you are using in your complementary filter? The complimentary filter itself isn't introducing lag, but if you're weighting a laggy sensor too much that could of course affect your outcome. I don't think anyone can diagnose your problems without seeing the datasheets on the parts you're using and the code you're using to fuse them.</p>
			</div>
			<div id = "comment-15090" class = "comment">
				<p>I agree with @Chuck - it is not possible to diagnose without knowing the parts and the code.  In general, I'd expect a properly-selected barometer to respond to pressure changes within tens of milliseconds.  The filter itself shouldn't introduce much lag if implemented correctly.  So it could be anything - gains, implementation, test artifacts, *etc.*   If all is implemented correctly, then you might need to explore feed-forward control, model-reference adaptive control, or other advanced methods to achieve the performance you want.</p>
			</div>
			<div id = "comment-15092" class = "comment">
				<p>Can you define "considerable lag"? Specifically, can you provide data (plots) of the filter output compared to another altitude reading (even if it's just the accelerometer output).</p>
			</div>
			</div>
				<textarea id = "speech-9105" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9105">
					<img id="start_img-9105" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9105">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>