<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Landmark extraction algorithm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10224" class = "post">
			<h2>Question</h2>
			<div id="vote-10224" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 332</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Landmark extraction algorithm</h2>
<p>The landmarks are often used in SLAM. What are the algorithms used to extract them, and how can a robot differentiate the landmarks, if they detect one in point A at X<sub>t</sub> and another in X<sub>t+1</sub>? How can the robot know if it's the same landmark or not?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10224" data-toggle = "popover">
				<p>user name : namster</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-10224">{'ransac': 2, 'odometry': 0, 'None': 0, 'computer-vision': 0, 'ekf': 2, 'lidar': 2, 'kinect': 0, 'slam': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10224">Load Comments</button></br>
			<div id = "commentsection-10224" class = 'collapse'>
			<div id = "comment-18229" class = "comment">
				<p>You need to narrow your topic. There are several representations for map  which is strongly related to  what it is called a landmark.</p>
			</div>
			</div>
				<textarea id = "speech-10224" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10224">
					<img id="start_img-10224" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10224">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10225"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10225" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Landmarks or features are usually found using SURf, SIFT, or ORB. these algorithms extract corners from images and can be found in the opencv library. </p>

<p>Matching measured features to previously seen features is called the assignment problem. There are a couple ways to deal with this. The munkres algorithm solves this problem in O(n^4) time with a nxn cost matrix. The cost of assigning a measured feature to a previously seen feature is often the difference between the two scaled by the mahalonobis distance . </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10225" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-10225">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10225">Load Comments</button></br>
			<div id = "commentsection-10225" class = 'collapse'>
			<div id = "comment-18228" class = "comment">
				<p>The proper term for "Matching measured features to previously seen features" called **data association**. Also, the algorithms you stated related to visual SLAM not SLAM in general since Laser sensors more popular in SLAM expect underwater environments.</p>
			</div>
			<div id = "comment-18230" class = "comment">
				<p>is data association a problem with slam when lasers are being used? It seems like if you get distance and direction data association would not be needed.</p>
			</div>
			<div id = "comment-18233" class = "comment">
				<p>Thank you for your answer , its been a time that im intressted in robotics domaine and i am very confused , i start with Stereo Vision and it was successful I would  like to continue in 3D reconstitution , can I use only odometry And INS The project the RGB-D image ? why use the SLAM ?</p>
			</div>
			<div id = "comment-18234" class = "comment">
				<p>@namster, it might be time for another question. But i think the answer to your question is yes. Using only a single camera and an INS you will have the ability to do slam.</p>
			</div>
			<div id = "comment-18319" class = "comment">
				<p>@holmeski, I've read alot of papers when I was doing my project regarding SLAM and majority of these papers (i.e. most of them using lasers but some use cameras) using data association.</p>
			</div>
			<div id = "comment-18320" class = "comment">
				<p>@holmeski, "distance and direction" this is not enough for data association. Distance and direction allow you to reconstruct the position of a landmark (i.e. converting from polar to Cartesian coordinates ) but to carry out the data association procedure, you probably need more statistical checks like  Mahalanobis distance, see this book "tracking and data association" by bar-shalom</p>
			</div>
			</div>
				<textarea id = "speech-10225" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10225">
					<img id="start_img-10225" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10225">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>