<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>language to code Beaglebone
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6328" class = "post">
			<h2>Question</h2>
			<div id="vote-6328" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 811</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>language to code Beaglebone</h2>
<p>I'm trying to build a hexapod with beaglebone in the linux environment (Im thinking of using Ubuntu). What is the <strong>best language</strong> to use for <strong>coding purpose</strong> to make <em>robot controls, camera and wifi integration</em> etc.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6328" data-toggle = "popover">
				<p>user name : Karthikeyan R</p>
				<p> user reputation : 5</p>
				<p class = "tagcontent" id = "usertaginfo-6328">{'control': 0, 'None': 0, 'power': 0, 'programming-languages': 0, 'beagle-bone': 0, 'linux': 0, 'hexapod': 0, 'servos': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6328">Load Comments</button></br>
			<div id = "commentsection-6328" class = 'collapse'>
			<div id = "comment-9123" class = "comment">
				<p>The best language is C.</p>
			</div>
			<div id = "comment-9126" class = "comment">
				<p>"Best" is relative. C/C++ are in my opinion the best, but phyton is a good alternative. I don't like phyton, but it provides some advantages over C/C++, espiacially for beginners.</p>
			</div>
			<div id = "comment-9127" class = "comment">
				<p>So with *C/C++* can I achieve all the *controls* and *wifi integration ???* and I'm also going to *transmit captured video* with *wifi* or *gsm* to another *beaglebone with receiver and LCD* , is that also **possible???**</p>
			</div>
			</div>
				<textarea id = "speech-6328" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6328">
					<img id="start_img-6328" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6328">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6329"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6329" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're going to want to do this using ros. This will allow you to use both python and cpp. I would reccomend doing all control and estimation in cpp and and camera stuff in python. Ros also works on networks of computers so you will be able to communicate with other linux machines running ros on the same network.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6329" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-6329">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6329" class = 'collapse'>
			</div>
				<textarea id = "speech-6329" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6329">
					<img id="start_img-6329" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6329">Comment</button>
			<br><div id = "ans-6336"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6336" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ubuntu is fine if you are familiar with it, if you start having jitter issues you can add the real time mods to the kernel but that is almost certainly not a problem you will face. Adafruit has some decent python libraries for the beagle bone black at <a href="https://github.com/adafruit/adafruit-beaglebone-io-python" rel="nofollow">https://github.com/adafruit/adafruit-beaglebone-io-python</a>. Genrally it is best to prototype in the easiest language you can get away with as it is less frustrating and faster, but that is somewhat personal option. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6336" data-toggle = "popover">
				<p>user name : Sam</p>
				<p> user reputation : 217</p>
				<p class = "tagcontent" id = "usertaginfo-6336">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6336" class = 'collapse'>
			</div>
				<textarea id = "speech-6336" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6336">
					<img id="start_img-6336" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6336">Comment</button>
			<br><div id = "ans-6338"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6338" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As one user has said, <a href="http://wiki.ros.org/ROS/Installation" rel="nofollow">ROS</a> is a very good framework for robotics platforms that supports python and c++. I highly recommend downloading the VirtualBox image of ROS and giving it a try, it takes about 5 minutes excluding download.</p>

<p>ROS will give you a communication framework between machines on a network, and also between subsystems on the robot (mobility, state estimation, vision, etc). Included in ROS is the Computer Vision library OpenCV which may interest you if you are using a camera to sense some state or parameter. </p>

<p>In addition to ROS, I can recommend <a href="http://mathworks.com/products/simulink/?refresh=true%20*Simulink*" rel="nofollow">Simulink</a> for your algorithmic development. Simulink is a simulation environment with very useful pre-validated libraries. After simulating and validating your module, you can compile it into C/C++, then put that into ROS so that your I/O is handled by ROS.
I use this for almost all kinematic or dynamic systems because it speeds up development significantly, although I avoid doing any I/O directly in Simulink.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6338" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-6338">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6338" class = 'collapse'>
			</div>
				<textarea id = "speech-6338" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6338">
					<img id="start_img-6338" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6338">Comment</button>
			<br><div id = "ans-6343"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6343" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ubuntu is a pretty common distribution so it should be pretty easy to work with.  However, Ubuntu is targeted for desktops, so I'd recommend using a light-weight flavor for the Beaglebone.  For example <a href="http://xubuntu.org/" rel="nofollow">Xubuntu</a> or <a href="http://lubuntu.net/" rel="nofollow">Lubuntu</a>.  But I also know that installation on a board like this can be a pain, so i'd try to find some standard image if possible.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6343" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-6343">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6343">Load Comments</button></br>
			<div id = "commentsection-6343" class = 'collapse'>
			<div id = "comment-9156" class = "comment">
				<p>Im going to use the beaglebone black and it comes pre installed with the angstrom distribution. So is it worth installing Ubuntu over Angstrom (Basically both are linux ) and will there be any more advantage to use the Ubuntu</p>
			</div>
			<div id = "comment-9160" class = "comment">
				<p>You should use the pre-installed [Angstrom](http://www.angstrom-distribution.org/) distribution because it is made for embedded boards.  The only thing Ubuntu will get you is more support for non-standard libraries.  With Angstrom, you may have to build a few libraries from source when you start to do advanced things, but I think you will have a much easier time overall.</p>
			</div>
			</div>
				<textarea id = "speech-6343" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6343">
					<img id="start_img-6343" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6343">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>