<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Laser ~ photosensor pair or similar
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1757" class = "post">
			<h2>Question</h2>
			<div id="vote-1757" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 143</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Laser ~ photosensor pair or similar</h2>
<p>I'm looking for a laser / photosensor pair (or product of similar function) for detecting when a beam is interrupted (no more than 3ft apart, probably more like 1ft).</p>

<p>I'd like these to run off of 5V, since I'm using an Arduino. My main requirement, however, is that these parts have nice housings, ideally with some mounting screw holes or something along those lines. This is going into a project where sturdiness and durability are important.</p>

<p>I don't know how to search for parts like what I am looking for. Could you please point me either to some good product sources, give me some better keywords for searching, or link me directly to potentially useful products?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1757" data-toggle = "popover">
				<p>user name : Void Star</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-1757">{'None': 0, 'sensors': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1757">Load Comments</button></br>
			<div id = "commentsection-1757" class = 'collapse'>
			<div id = "comment-3656" class = "comment">
				<p>How about an ultrasonic sensor, maybe combined with infrared? Should be cheaper and easier to use.</p>
			</div>
			<div id = "comment-3657" class = "comment">
				<p>I can't see how that would be cheaper. Ultrasonic sensors are fairly expensive and I'd also be worried that the beam wouldn't be interrupted at all since the whole project is going to be housed in a small metal shed (not a box, a shed, with standing room).
Infrared may be a good solution in most cases, but this is being used in close proximity to a very hot charcoal stove, so that's no good.</p>
			</div>
			<div id = "comment-3658" class = "comment">
				<p>I think the choice of which sensor to use should be determined by your operating environment. In noisy audio environments ultra sonic sensors tends to suffer (eg see p 6 of http://www.eecs.berkeley.edu/~tomlin/papers/conferences/hrwdjt04_dasc.pdf). The problem with lasers are that as the distance between transmitter and receiver increases it gets very difficult to accurately align the beam. The smallest bump will cause a permanent failure. I'd recommend a plain IR beam (especially since it seems you're planning to use it in doors). Try googling "IR Beam arduino". Good luck.</p>
			</div>
			<div id = "comment-3660" class = "comment">
				<p>If however you're set on using a laser, any LDR should do the trick, please refer to the following web page for spectrum characteristic as well as response times: http://triyot.com/en/index.php?lang=en&page_id=light-dependent-resistor-LDR</p>
			</div>
			<div id = "comment-3719" class = "comment">
				<p>As it stands, this sounds very much like a *[shopping question](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* and this type of question isn't a good fit for a stack exchange site. We prefer *[practical,
answerable questions based on actual problems that you 
face](http://robotics.stackexchange.com/faq#dontask)*. Take a look at [ask] and 
[about] for more information on how stack exchange works, and hopefully we can 
modify this question into something a bit more answerable.</p>
			</div>
			<div id = "comment-3720" class = "comment">
				<p>If you could explain the problem you are trying to solve, rather than asking for a source for a part you have already decided on, then someone may be able to suggest a solution you haven't thought of yet.</p>
			</div>
			</div>
				<textarea id = "speech-1757" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1757">
					<img id="start_img-1757" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1757">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>