<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Learning Algorithms for Walking Quadruped
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-327" class = "post">
			<h2>Question</h2>
			<div id="vote-327" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3147</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Learning Algorithms for Walking Quadruped</h2>
<p>I'm building a 4 legged robot (quadruped) with 3 Degrees of freedom per leg.
The goal of my project is to make this robot able to learn how to walk.
What learning algorithms will I need to implement for it to work?</p>

<p>I'm using an <a href="http://www.arduino.cc/" rel="nofollow">Arduino Uno</a> for the microcontroller.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-327" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-327">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-327">Load Comments</button></br>
			<div id = "commentsection-327" class = 'collapse'>
			<div id = "comment-364" class = "comment">
				<p>Welcome to Robotics... quite a broad question and an ambitious project! Have you got it working under manual control yet?</p>
			</div>
			<div id = "comment-429" class = "comment">
				<p>I just finnished building my first prototype, it closley resembles road kill...</p>
			</div>
			<div id = "comment-891" class = "comment">
				<p>Did you know that horses have so many [gaits](http://en.wikipedia.org/wiki/Horse_gait)? Just thought it might be interesting to you.</p>
			</div>
			</div>
				<textarea id = "speech-327" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-327">
					<img id="start_img-327" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-327">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-328"  class = "post">
				<h2>Answer</h2>
			<div id="vote-328" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here's a paper that seems relevant: <a href="http://www.cs.utexas.edu/~pstone/Papers/bib2html/b2hd-icra04.html" rel="nofollow">Policy Gradient Reinforcement Learning for Fast Quadrupedal Locomotion</a>.</p>

<p><strong>Abstract:</strong></p>

<ul>
<li>This paper presents a machine learning approach to optimizing a quadrupedal trot gait for forward speed. Given a parameterized walk designed for a specific robot, we propose using a form of policy gradient reinforcement learning to automatically search the set of possible parameters with the goal of finding the fastest possible walk. We implement and test our approach on a commercially available quadrupedal robot platform, namely the Sony Aibo robot. After about three hours of learning, all on the physical robots and with no human intervention other than to change the batteries, the robots achieved the fastest walk known for the Aibo, significantly outperforming a variety of existing hand-coded and learned solutions.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-328" data-toggle = "popover">
				<p>user name : joq</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-328">{'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-328">Load Comments</button></br>
			<div id = "commentsection-328" class = 'collapse'>
			<div id = "comment-415" class = "comment">
				<p>I would upvote this if you maybe provide a quick summary of the paper or quote some of the abstract to illustrate how it's relevant.</p>
			</div>
			<div id = "comment-3063" class = "comment">
				<p>Good idea, abstract quoted.</p>
			</div>
			</div>
				<textarea id = "speech-328" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-328">
					<img id="start_img-328" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-328">Comment</button>
			<br><div id = "ans-333"  class = "post">
				<h2>Answer</h2>
			<div id="vote-333" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a number of things to consider for your project. Since you are asking for the learning algorithms, I asume your hardware is or will be up and running. When getting your robot to learn, you should differentiate between on-line and off-line learning. Further, there is on-system and off-sytem learning, which can be combined with the previous category. Since your system only has a micro-controller attached to it, your method of choice would be off-system. You learn (be it on-line or off-line) on your connected PC, but not on the system. The system will just execute your current learned policy. </p>

<p>All gait movements have some sort of cyclic nature, and can generally be described as functions that provide an angular value over time for each of the joints. The trick is to parametrize these functions that you come out with as little parameters as possible. Then you perform optimization on these functions. In order to do that you need to know what to optimize for. </p>

<p>Most learning approaches will require some sort of reward function, so effectively some feedback to the algorithm to tell it how well it does perform (e.g. maximise distance travelled/energy required). The algorithm will then want to see the reward for a given set of parameters (single episode). Depending on the complexity of your problem, the number of episodes might be quite large. This is where the destinction between on-line and off-line learning comes in. In off-line learning you use a simulation to perform the learning and then later move it to the system. In on-line learning you learn directly on the system. This is generally more difficult, since you will have to spend a lot of time performing evaluations for the learning algorithm. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-333" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-333">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-333">Load Comments</button></br>
			<div id = "commentsection-333" class = 'collapse'>
			<div id = "comment-2608" class = "comment">
				<p>The on-line learning and off-line learning sound like closed-loop dynamic optimization problems, do you use Bellman's dynamic programming algorithm? http://en.wikipedia.org/wiki/Bellman_equation</p>
			</div>
			</div>
				<textarea id = "speech-333" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-333">
					<img id="start_img-333" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-333">Comment</button>
			<br><div id = "ans-373"  class = "post">
				<h2>Answer</h2>
			<div id="vote-373" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is not a specific set of learning algorithms that you will need to implement. Genetic algorithms (GA), neural networks (GA), and reinforcement learning (RL) have all successfully been applied to the problem of gait generation. I can also conceive of ways to use unsupervised learning methods to approach this problem but I can't say for certain whether they would work. Even if they would I'm inclined to think RL is the better approach.</p>

<p>Dr. Hod Lipson talks about using GAs in his TED video entitled <a href="http://www.ted.com/speakers/hod_lipson.html">Hod Lipson builds "self-aware" robots</a>.</p>

<p>NNs have often been used. A few examples include:</p>

<ul>
<li><a href="http://www.mitpressjournals.org/doi/abs/10.1162/neco.1992.4.3.356">A Distributed Neural Network Architecture for Hexapod Robot Locomotion</a></li>
<li><a href="http://www.sciencedirect.com/science/article/pii/0921889096000036">Biologically based distributed control and local reflexes improve rough terrain locomotion in a hexapod robot</a></li>
<li><a href="http://www.sciencedirect.com/science/article/pii/S092188909600036X">Application of evolved locomotion controllers to a hexapod robot</a></li>
<li><a href="http://matwbn.icm.edu.pl/ksiazki/amc/amc20/amc2015.pdf">A biologically inspired approach to feasible gait learning</a></li>
</ul>

<p>I don't know whether RL has been appplied to quadrapeds but there are a number of succesful applications to hexapods.</p>

<ul>
<li><a href="http://dl.acm.org/citation.cfm?id=1346424">Free gait generation with reinforcement learning for a six-legged robot</a></li>
<li><a href="http://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=2&amp;ved=0CD0QFjAB&amp;url=http%3A%2F%2Fdownload.intel.com%2Fembedded%2Fapplications%2Find%2FQ-LearningHexapod.pdf&amp;ei=YnOhUMHfJc3siQKF44CwCA&amp;usg=AFQjCNEEE7tVf5I1Nydo6t3zYm6jTkhqIw&amp;sig2=t68ZLQYy7UgaiX0_ScdQlw&amp;cad=rja">Q-Learning Hexapod</a></li>
</ul>

<p>Beware that these lists are by no means comprehensive.</p>

<p>GA and NN would be relatively simple to implement. RL on the other is a more principled way to approached the problem. In all cases you will need more processing power than the Uno offers to actually perform the learning. If you intended to do offline learning then the Uno may work after the learning phase.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-373" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-373">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-373" class = 'collapse'>
			</div>
				<textarea id = "speech-373" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-373">
					<img id="start_img-373" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-373">Comment</button>
			<br><div id = "ans-702"  class = "post">
				<h2>Answer</h2>
			<div id="vote-702" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A simplified method for learning would be to make the robot into one random position and then another and tweak the second position until it moves forward. Using this position as a start do the process again n times and then you will have n positions to move through that make the robot move forward.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-702" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-702">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-702" class = 'collapse'>
			</div>
				<textarea id = "speech-702" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-702">
					<img id="start_img-702" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-702">Comment</button>
			<br><div id = "ans-708"  class = "post">
				<h2>Answer</h2>
			<div id="vote-708" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have built a lot of walking robots, in my experience if you can't get it to walk by programming a gait you are not going to get it to learn because you don't know what it is supposed to do and the search space is too large. Using an Arduino you may be able to get it to fine tune some movements iff you can define good movements.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-708" data-toggle = "popover">
				<p>user name : DAvid</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-708">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-708">Load Comments</button></br>
			<div id = "commentsection-708" class = 'collapse'>
			<div id = "comment-899" class = "comment">
				<p>I've been able to hardcode a gait that works effectively. Also the physical robot is also being constantly developed to walk better</p>
			</div>
			</div>
				<textarea id = "speech-708" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-708">
					<img id="start_img-708" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-708">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>