<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Learning about embedded systems
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1443" class = "post">
			<h2>Question</h2>
			<div id="vote-1443" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 92</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Learning about embedded systems</h2>
<p>The last robotics project I worked on involved autonomous outdoor navigation, using a microcontroller for lower-level control and a computer for image processing and decision making. I worked more with the higher-level software and another guy on the team did the electrical and embedded systems. I would like to be capable of doing everything, including stuff with embedded, but I'm not sure where to look for information. If I were to have done the project from scratch on my own, I'd need to know:</p>

<ul>
<li>What microcontroller to use</li>
<li>What motors are required </li>
<li>What motor controllers to get, and how to interface with the controllers</li>
<li>What encoders to use for motor feedback, and how to write drivers for them</li>
<li>What batteries to use and how to safely power everything </li>
</ul>

<p>If I were trying to learn about higher-level software, I'd probably take a few courses on Udacity. Are there any good resources out there like that for this kind of low-level stuff?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1443" data-toggle = "popover">
				<p>user name : Robz</p>
				<p> user reputation : 954</p>
				<p class = "tagcontent" id = "usertaginfo-1443">{'pid': 8, 'embedded-systems': 0, 'slam': 20, 'sensor-error': 8, 'accelerometer': 5, 'kinematics': 7, 'mechanism': 1, 'differential-drive': 8, 'imu': 12, 'kalman-filter': 28, 'actuator': 21, 'gyroscope': 5, 'gps': 20, 'magnetometer': 5, 'None': 25, 'noise': 5, 'power': 0, 'localization': 20, 'microcontroller': 0, 'brushless-motor': 13, 'sensors': 41, 'quadcopter': 13, 'navigation': 7, 'sensor-fusion': 21, 'sonar': 8, 'servos': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1443">Load Comments</button></br>
			<div id = "commentsection-1443" class = 'collapse'>
			<div id = "comment-3080" class = "comment">
				<p>This isn't so much a question; it's an observation you're making before you've begun any development of a robotics project.  In other words, on this site we focus on questions that have objective and specific answers to actual problems you're facing.  It sounds like you're not at that stage yet.  Check out our chat room for the kind of discussion you're attempting to start here... and come back with a more answerable question when you get started on your first project.</p>
			</div>
			<div id = "comment-3081" class = "comment">
				<p>Why isn't a question regarding resources to learn about low-level embedded stuff answerable?</p>
			</div>
			<div id = "comment-3083" class = "comment">
				<p>The answer to that is probably best expressed on the closed question [Resources for learning basics of Robotics](http://robotics.stackexchange.com/q/397/350): **We expect answers to be supported by facts, references, or specific expertise, but this question will likely solicit debate, arguments, polling, or extended discussion.**  This has been brought up before [as a meta question](http://meta.robotics.stackexchange.com/q/29/350).</p>
			</div>
			<div id = "comment-3085" class = "comment">
				<p>List questions really aren't a good fit for stack exchange, they tend to go out of date too easily. The best place for lists of resources are in the appropriate tag wikis. Meanwhile if you can break this down is to a number of specific practical answerable questions along with details of what you have tried so far, then I think it would be much more likely that we could help you.</p>
			</div>
			<div id = "comment-3388" class = "comment">
				<p>Are Microcontrollers technically "embedded systems?"</p>
			</div>
			</div>
				<textarea id = "speech-1443" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1443">
					<img id="start_img-1443" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1443">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1444"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1444" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While I don't know about any online resources for what you want, I learned my skills by trying and failing, probably the best method to learn this sort of stuff if you have the time to do it. If you don't have much time, your best bet is probably just googling  stuff that you need to know.</p>

<p>A lot of good information can also be found in university thesis or research papers, also a lot of quality parts from reputable manufacturers come with really good documentation on how to use them. The documentation can sometimes be overwhelming, but at least it will point you in the right direction.</p>

<p>And if you did't find anything you need after the steps above, just ask here, that's why this site exists.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1444" data-toggle = "popover">
				<p>user name : Plecharts</p>
				<p> user reputation : 331</p>
				<p class = "tagcontent" id = "usertaginfo-1444">{'mobile-robot': 8, 'None': 15, 'design': 8, 'motor': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1444" class = 'collapse'>
			</div>
				<textarea id = "speech-1444" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1444">
					<img id="start_img-1444" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1444">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>