<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Learning Materials for Beginners in Robotics and Quadrocopters
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4762" class = "post">
			<h2>Question</h2>
			<div id="vote-4762" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 226</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Learning Materials for Beginners in Robotics and Quadrocopters</h2>
<p>I am a web developer. I am fascinated by Quadrocopters and i am trying to learn how to build one and basically i am trying to jump into robotics fields. I don't have much electric circuit and electronics knowledge so i did some research on how to build and what type of knowledge you would require to develop such flying machine. So i started learning basics of electronics from <a href="http://www.ibiblio.org/kuphaldt/electricCircuits/" rel="nofollow">Lessons In Electric Circuits by Tony R. Kuphaldt</a></p>

<p>The books are very interesting but i could not find a technique so that i can implement what i learn from the books. Basically i am just going through the stuffs, and understanding them little by little. What i want to know is that what is the right way and effective way to learn electronics and electric circuit from your experience and i should i do now so that i can increase my learning speed so that i can achieve my goal.</p>

<p>While i was researching i came across topics such as mathematical modelling and modelling the quadrocopters first and them implementing them on real. How can i gain such knowledge to model something mathematically and implement such in real life? How much math and what areas of mathematics do i need to learn and how can i learn such? </p>

<p>Now you have idea what i want to learn and achieve. Can you please suggest me a road map or steps i need to take to gain such knowledge and skill to develop myself, so that in near future i would be able to build such flying machines on my own. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4762" data-toggle = "popover">
				<p>user name : monk</p>
				<p> user reputation : 130</p>
				<p class = "tagcontent" id = "usertaginfo-4762">{'quadcopter': 5, 'None': 0, 'raspberry-pi': 0, 'arduino': 0, 'python': 0, 'multi-rotor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4762">Load Comments</button></br>
			<div id = "commentsection-4762" class = 'collapse'>
			<div id = "comment-19561" class = "comment">
				<p>Welcome to *Robotics* monk, but I'm afraid that questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. Also, the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question.</p>
			</div>
			</div>
				<textarea id = "speech-4762" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4762">
					<img id="start_img-4762" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4762">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4768"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4768" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was in a very similar situation about a year ago, and I now have a flying aircraft. Below is what worked for me, but many other routes are possible.</p>

<p>First I purchased an almost ready to fly quadcopter kit from a well-known manufacturer. I only had do a bit of soldering, assemble the frame, configure the flight controller, and bind the transmitter. While this step may not seem necessary, it allowed me to develop a basic understanding of how the system works as a whole. I had no prior RC knowledge. It also allowed me to learn how to fly, and to have realistic expectations about how a well-tuned quadcopter should behave.</p>

<p>Then I got an Arduino and basic sensors. At this point I was not sure I would end up building my very own quadcopter. I just wanted some toys to play with and see what I could do without spending too much money. I am a hobbyist programmer so the C++ part was not a problem. You are a web developer so you will have to learn how to program real software ;-) This step allowed me to confirm I could connect a microcontroller and a few sensors without blowing up the house. Eventually I ended up with a working inertial measurement unit (IMU), combining gyroscope accelerometer and magnetometer data into an accurate representation of the device orientation in space.</p>

<p>It then became clear that building a quadcopter was a realistic target. I spent a little more money to purchase motors, propellers, ESCs, a radio receiver (I already had the transmitter from my first quadcopter) and a few wooden sticks for the frame. With some more programming efforts I eventually got everything to fit in together nicely.</p>

<p>The whole process took me about a year and I'm still working on it. It's worth noting that along the way I also learnt about a few unnecessary things, like servo motors, barometers, and sonars. I did not mean to take the fastest route. If like me you have a day job and a life this is at least a 6 months long project. In order to keep me motivated I posted my steps on a <a href="http://robokitchen.tumblr.com" rel="nofollow">blog</a> and I only set myself realistic targets: I did not start thinking I would build a quadcopter, instead I thought I would learn the Arduino basics and refined my goals as I progressed.</p>

<p>I went to uni (10 years ago) and I had a basic level in physics, mathematics, and electronics. The difficult skills I had to learn were 3D vector geometry and controller theory. 3D geometry is for the IMU. I used quaternions because Arduino requires optimisations for speed. Matrices and a better microcontroller is probably a more reasonable choice. Controller theory is to implement and tune the PID controllers which drive the motors so as to keep the aircraft level. These are all skills that you can learn online. I never bought a book for this project. I also didn't model my quadcopter mathematically like you seem to suggest.</p>

<p>This is my experience, I hope it is helpful to you. I'm sure the challenges will be different for you anyway. If I had to summarise I would urge you to purchase some components/parts and see what you can do with them because learning quadcopters is more about practice than theory. Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4768" data-toggle = "popover">
				<p>user name : marcv81</p>
				<p> user reputation : 408</p>
				<p class = "tagcontent" id = "usertaginfo-4768">{'None': 22, 'pid': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4768" class = 'collapse'>
			</div>
				<textarea id = "speech-4768" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4768">
					<img id="start_img-4768" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4768">Comment</button>
			<br><div id = "ans-10852"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10852" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your question is interesting one as most of us experience the same during the beginning of development of drones. I am a drone software developer and I was just a student with enthusiasm towards physics, mathematics, development of hardwares (as a part of purpose of life). I hadn't even known the types of differential equations of flight. But, taking up a project (professionally as well with deadlines) helped a lot. This is not "hey me me" story. Some of the websites that helped a lot were <a href="http://robots.stanford.edu/" rel="nofollow">robots.stanford.edu</a> and the papers ranging from discriminative training of Kalman filters to full fledged stanford driving software of Stanley, the car that won DARPA Grand Challenge. The 'depth of understanding' depends on your objective and the purpose for which you are developing drone applications. Delft University and University of Pennsylvania have been actively researching on application of drones as well. </p>

<p>From my personal experience, it can be said that simulators like ROS Gazebo MAVproxy can aid the development of research while flying directly feels like a nice hobby.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10852" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-10852">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10852" class = 'collapse'>
			</div>
				<textarea id = "speech-10852" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10852">
					<img id="start_img-10852" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10852">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>