<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Legal questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-263" class = "post">
			<h2>Question</h2>
			<div id="vote-263" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 118</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Legal questions?</h2>
<p>On the main trilogy, there's a very consistent hard line drawn against amateur legal advice.</p>

<p>If you want to have the same policy here, you should vote to close:</p>

<p><a href="https://apple.stackexchange.com/questions/6109/gpl-software-in-mac-app-store">Is it possible to have GPL software in the Mac App Store?</a></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-263">Load Comments</button></br>
			<div id = "commentsection-263" class = 'collapse'>
			<div id = "comment-529" class = "comment">
				<p>Hm, good point. At the very least we should make it clear that the answers do NOT constitute legal advice.</p>
			</div>
			</div>
				<textarea id = "speech-263" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-263">
					<img id="start_img-263" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-263">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-264"  class = "post">
				<h2>Answer</h2>
			<div id="vote-264" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To me, it depends how much <strong>danger</strong> there is in such advice.</p>

<p>Like, medical advice here would be a bad idea because if someone gave you bad medical advice, <em>you could die</em>.</p>

<p>I am not sure that particular question holds any danger for anyone of any consequence, and the information it provides is at least useful as a starting point for research.</p>

<p>That said, if you saw a user providing <em>bad</em> or <em>careless</em> legal advice, that is -- more than simple basic pointers for research with the disclaimer that "hey, I'm no lawyer, I'm just a user like you, but here's what I know" -- then it's fair to vote that down or flag it.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-264" class = 'collapse'>
			</div>
				<textarea id = "speech-264" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-264">
					<img id="start_img-264" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-264">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>