<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>LIDAR solutions
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2394" class = "post">
			<h2>Question</h2>
			<div id="vote-2394" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3079</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>LIDAR solutions</h2>
<p>I am surprised by the price range of Lidar applications considering the simplicity of the design. I try to make a simple project that requires lidar for object recognitions etc. I wouldn't like to use Visual Recognition such as OpenCV. </p>

<p>Regardless of that I am trying to understand why Lidar solutions are so expensive you can see
that this 
<a href="http://velodynelidar.com/lidar/hdlproducts/hdl32e.aspx" rel="nofollow">http://velodynelidar.com/lidar/hdlproducts/hdl32e.aspx</a>
Small lidar sensor goes for 20,000$. </p>

<p>I strongly believe that Lidar is the next step in robotic applications but I am not sure why it is so EXCLUSIVE. </p>

<p>I have seen few projects that go for around 200$ but their performance is very bad. </p>

<p>I hope you can answer what makes a Lidar so expensive and what are some cheap systems a hobbyist can afford. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2394" data-toggle = "popover">
				<p>user name : makakas</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-2394">{'None': 0, 'computer-vision': 3, 'arduino': 3, 'mechanism': 1, 'lidar': 3, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2394">Load Comments</button></br>
			<div id = "commentsection-2394" class = 'collapse'>
			<div id = "comment-4686" class = "comment">
				<p>Velodyne HDL 32E is one of the best in the market, not so much as "Small lidar sensor goes for 20,000$". If you want less pricey solutions, try buying something like this http://www.robotshop.com/en/hokuyo-urg-04lx-laser-rangefinder.html and put it on a mechanically nodding platform and form your own 3D data points. However, the noise would be phenomenal, unless you spend weeks, perhaps months, implementing cutting edge filters and sensor fusion algorithms on your platform.</p>
			</div>
			<div id = "comment-4701" class = "comment">
				<p>@metsburg even that, the sensor you posted has a 4m max range, and is rated for indoor use only. I don't know if it's because of the IP rating, or maybe the IR sensor can be affected by sunlight.</p>
			</div>
			<div id = "comment-4704" class = "comment">
				<p>helpful responses thank you.</p>
			</div>
			<div id = "comment-4705" class = "comment">
				<p>@DiegoCNascimento: The same manufacturer has sensors rated for outdoor use at a slightly higher price. Then there are LRFs from SICK. I'm sure there are plenty of other such sensors.</p>
			</div>
			<div id = "comment-4706" class = "comment">
				<p>@metsburg none of the outdoor ones are affordable solutions</p>
			</div>
			<div id = "comment-4708" class = "comment">
				<p>More affordable than Velodyne sensors, I guess. However, there's a quality/effectiveness vs price tradeoff.</p>
			</div>
			</div>
				<textarea id = "speech-2394" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2394">
					<img id="start_img-2394" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2394">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2395"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2395" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>LIDAR are expensive because it normally relies on Time-of-Flight of the light for measuring each point distance. They are <em>simple</em> in theory of working, in practice it requires a good design in electronics and the sensors.</p>

<p>I don't think LIDAR is the next step, but stereo vision could be. This is not related to OpenCV, and most optical vision system designers forget the basics that is a good camera with good optics. This is your source of information, if you have a bad one, you difficultly get good results. This means at least ~$200,00 for camera and lenses, with RAW protocol for images, and goes on.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2395" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-2395">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2395" class = 'collapse'>
			</div>
				<textarea id = "speech-2395" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2395">
					<img id="start_img-2395" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2395">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>