<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Lifting robotic leg with only one servo
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8501" class = "post">
			<h2>Question</h2>
			<div id="vote-8501" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 467</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Lifting robotic leg with only one servo</h2>
<p><strong>Note before I start:</strong> I have not actually put anything together yet, i'm still just planning, so any changes that require a shape change or anything like that are accepted.</p>

<p>I'm working on making a walking robot with my arduino and 3d printing all the pieces I need. It will have four legs, but since it needs to be mobile, I didn't want the power supply to be huge. I've decided it would be best if I can get each leg to only require 1 servo, at 5V each. I know how to get the leg to move back and forth, but i want to be able to lift it in between; before it brings the leg forward, it needs to lift up the foot.
The only thing I can think of is the rotation maybe locking some sort of gear.</p>

<p>When a motor begins rotating clockwise, how can I have it power a short motion to move an object toward itself, and when it begins moving counterclockwise to power the same object a short distance away from itself?</p>

<p>The servos I am using have 180* of rotation, so they don't go all the way around in a loop.</p>

<p>also: don't know if it will be important or not, but because of the peculiar construction of the foot, it would be best if it was lifted straight up, rather than up at an angle, but it isn't 100% necessary. </p>

<p>Are there any robots that already do this? if so, I'm unaware of them. Thanks for your time.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8501" data-toggle = "popover">
				<p>user name : Vince Scalia</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-8501">{'gearing': 2, 'None': 0, 'arduino': 2, 'mechanism': 2, 'servomotor': 2, 'programming-languages': 2, 'legged': 2, 'motion-planning': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8501">Load Comments</button></br>
			<div id = "commentsection-8501" class = 'collapse'>
			<div id = "comment-13787" class = "comment">
				<p>I remember having a Lego robotic manipulator who's end-effector opened and closed its grasp using the same motor for the previous joint -- when the joint extended all the way it would hit a stop and the power would be transmitted through to the end-effector. Upon reversal it worked the same way, the joint would rotate down and then the claw would close. This also worked in a servo-driven manner like you describe, back and forth, no continuous turning. A differential drive mechanism works on the same type of principal, transmitting power where it can.</p>
			</div>
			<div id = "comment-13788" class = "comment">
				<p>I've updated my answer to show a figure regarding this idea. Also, here is a video showing that Lego robot arm: https://www.youtube.com/watch?v=N7j9bowxcEU</p>
			</div>
			<div id = "comment-13944" class = "comment">
				<p>I would recommend adding the extra detail you added to the [engineering.se version of your question](http://engineering.stackexchange.com/q/6213/287) to this question.</p>
			</div>
			</div>
				<textarea id = "speech-8501" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8501">
					<img id="start_img-8501" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8501">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8503"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8503" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Going forward, a <a href="https://en.wikipedia.org/wiki/Klann_linkage" rel="nofollow">Klann linkage</a> has a near-vertical leg drop action.  (See the legs at left in the wikipedia <a href="https://en.wikipedia.org/wiki/Klann_linkage#Illustrations" rel="nofollow">animated GIF</a>.)
It has a near-vertical leg lift action if running in reverse.  (See the legs at right in the illustration.)</p>

<p>Note, this linkage and some other <a href="https://en.wikipedia.org/wiki/Leg_mechanism" rel="nofollow">leg mechanism linkages</a> use a rotary crank; ie, rather than using a 180  back-and-forth motor, they use a motor that turns continuously in one direction.</p>

<p>Also see <a href="https://en.wikipedia.org/wiki/Jansen&#39;s_linkage" rel="nofollow">Jansen's linkage</a> and the source links from wikipedia.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8503" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8503">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8503" class = 'collapse'>
			</div>
				<textarea id = "speech-8503" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8503">
					<img id="start_img-8503" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8503">Comment</button>
			<br><div id = "ans-8505"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8505" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The linkages suggested by jwpat7 are great, and I would probably prefer to use something like that. But, if you want something <em>really</em> simple, then you might be able to get away with a four-bar linkage <a href="https://www.youtube.com/watch?v=RsFnbChKVXU" rel="nofollow noreferrer">like this type of thing</a>. Although it does depend on continuous rotation, so maybe not appropriate for your application.</p>

<p>With a servo-motor that rotates back-and-forth, you may be able to build a mechanism similar to what I show in the figure below. The gears (shown in blue) are all free to rotate, but input from the motor will actually rotate the entire leg and foot together until hitting a mechanical stop (some limiting tab that prevents the leg from rotating further). At this point, the input motor will then transfer power by rotating the gears so that only the foot moves.</p>

<p><a href="https://i.stack.imgur.com/uVUi0.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uVUi0.png" alt="enter image description here"></a></p>

<p>This will work when there is less torque resistance from rotating the entire leg and foot together compared to rotating the foot with respect to the leg -- assuming the inertia of the foot is small this will always work when the leg is simply moving in free space. However, if you are touching the ground (which I assume a legged robot will be...), then this might get tricky. It would then become a matter of adding more resistance to the gear transmission so that the leg still rotates until hitting the stop.</p>

<p>Another option would be to use some kind of cam, so that when the main input rotation reaches a given point, another arm is lifted by the cam surface to rotate only the foot. If you aren't sure what I mean then check out <a href="https://www.youtube.com/watch?v=KRnTXvjTeIA" rel="nofollow noreferrer">this video</a> for inspiration.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8505" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8505">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8505">Load Comments</button></br>
			<div id = "commentsection-8505" class = 'collapse'>
			<div id = "comment-13771" class = "comment">
				<p>yeah, sorry guys, the continuous rotation is not going to work because of the precision in need from my servos... thanks anyway, i'll keep looking for my probably non-existent solution. :D</p>
			</div>
			<div id = "comment-13792" class = "comment">
				<p>thankyou very much..this seems like it should work</p>
			</div>
			</div>
				<textarea id = "speech-8505" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8505">
					<img id="start_img-8505" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8505">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>