<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Lightweight, commercially available robotic arms
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-656" class = "post">
			<h2>Question</h2>
			<div id="vote-656" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 263</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Lightweight, commercially available robotic arms</h2>
<p>I was wondering what options are there in terms of lightweight (&lt; 5 lbs) robotic arms. I see <a href="http://www.robai.com/products.php?prdt_id=1" rel="nofollow">Robai Cyton Gamma 300</a>, and <a href="http://www.crustcrawler.com/products/AX-18F%20Smart%20Robotic%20Arm/" rel="nofollow">CrustCrawler AX18</a> look like interesting options. What lightweight arms do people use/like? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-656" data-toggle = "popover">
				<p>user name : JES</p>
				<p> user reputation : 4</p>
				<p class = "tagcontent" id = "usertaginfo-656">{'mobile-robot': -2, 'None': 0, 'arm': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-656">Load Comments</button></br>
			<div id = "commentsection-656" class = 'collapse'>
			<div id = "comment-818" class = "comment">
				<p>In general, survey questions are not a good fit, and will get closed or downvoted. This site is for _specific_ problems you are having. If you want to pursue this question, could you please add more details? For instance, what is your intended application, what does "interesting" mean, what are the cost constraints / programability constraints? Think of someone who may visit this page in the future. How would they know if they can use this information for _their_ application?</p>
			</div>
			<div id = "comment-821" class = "comment">
				<p>@Josh though i'm not answering, appreciate your comment. Because many of the others just down-vote/close-vote without saying any reason (I feel like it's so rude).  And JES what josh said is right. Refer [this](http://stackoverflow.com/questions/how-to-ask) to know more.</p>
			</div>
			<div id = "comment-823" class = "comment">
				<p>Welcome to *Robotics* JES, but we try to avoid [shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/) as they are not very useful to future visitors to the site and go out of date quickly. We prefer [practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/faq#dontask) so if you can rephrase your question to ask what things you need to consider when selecting a robot arm, you may get answers which are both useful now and in the future. Thanks,</p>
			</div>
			<div id = "comment-840" class = "comment">
				<p>Welcome to robotics.SE. A few more details would be helpful. How much weight should it be able to lift, do you need a certain number of degrees of freedom, do you need it to connect directly to a PC or are you comfortable with it connecting to something like an Arduino?</p>
			</div>
			<div id = "comment-847" class = "comment">
				<p>Sorry about that (I'm new to robotics.SE). I want to lift approximately 500 grams. Initially, looking for 4 DoF+. I would be comfortable programming Arduino.</p>
			</div>
			</div>
				<textarea id = "speech-656" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-656">
					<img id="start_img-656" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-656">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-658"  class = "post">
				<h2>Answer</h2>
			<div id="vote-658" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you thought about cardboard? <a href="http://www.kickstarter.com/projects/392540503/cardboard-robot-robotic-arm-and-smart-phone-camera" rel="nofollow">http://www.kickstarter.com/projects/392540503/cardboard-robot-robotic-arm-and-smart-phone-camera</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-658" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-658">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-658" class = 'collapse'>
			</div>
				<textarea id = "speech-658" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-658">
					<img id="start_img-658" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-658">Comment</button>
			<br><div id = "ans-664"  class = "post">
				<h2>Answer</h2>
			<div id="vote-664" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The <a href="http://www.owirobots.com/cart/html/owi-535-robotic-arm-edge-kit.html" rel="nofollow">OWI robotic arm</a> is a cheap starting possibility for $30. 
There is an <a href="http://www.instructables.com/id/Intro-and-what-youll-need/" rel="nofollow">instructables tutorial</a> on how to connect it to arduino.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-664" data-toggle = "popover">
				<p>user name : rics</p>
				<p> user reputation : 551</p>
				<p class = "tagcontent" id = "usertaginfo-664">{'kinect': 32, 'multi-agent': 3, 'None': 25, 'sensors': 32}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-664" class = 'collapse'>
			</div>
				<textarea id = "speech-664" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-664">
					<img id="start_img-664" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-664">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>