<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Linearize a non linear system
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9962" class = "post">
			<h2>Question</h2>
			<div id="vote-9962" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 162</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Linearize a non linear system</h2>
<p>How do I linearize the following system using taylor series expansion:<br/>
$\dot x = v cos\theta \\ \dot y = v sin\theta \\ \dot \theta = u$
<br/>
Here, $\theta$ is the heading direction of my robot, measured counter clockwise with respect to $x$ axis.<br/>
$v$ is the linear velocity of the robot,<br/>
$u$ is the angular velocity of the robot.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9962" data-toggle = "popover">
				<p>user name : Santosh</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9962">{'mobile-robot': 1, 'None': 0, 'localization': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9962">Load Comments</button></br>
			<div id = "commentsection-9962" class = 'collapse'>
			<div id = "comment-17759" class = "comment">
				<p>for each equation, take the derivative with respect to each state variable which eventually will yield a matrix.</p>
			</div>
			<div id = "comment-17760" class = "comment">
				<p>The method you are taking is the Jacobian method right?</p>
			</div>
			<div id = "comment-17763" class = "comment">
				<p>That's right...</p>
			</div>
			<div id = "comment-17787" class = "comment">
				<p>Should that be written as answer?</p>
			</div>
			</div>
				<textarea id = "speech-9962" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9962">
					<img id="start_img-9962" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9962">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10140"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10140" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer to this question is that linearization won't work, and here's why:</p>

<p>Differential drive robots can be modeled with unicycle dynamics of the form: $$\dot{z}=\left[\begin{matrix}\dot{x}\\ \dot{y} \\ \dot{\theta} \end{matrix}\right] = \left[\begin{matrix}cos(\theta)&amp;0\\sin(\theta)&amp;0\\0&amp;1\end{matrix}\right] \left[\begin{matrix}v\\\omega\end{matrix}\right],$$ where $x$ and $y$ are Cartesian coordinates of the robot, and $\theta \in (-\pi,\pi]$ is the angle between the heading and the $x$-axis. The input vector $u=\left[v, \omega \right]^T$ consists of linear and angular velocity inputs.</p>

<p>We can re-write this in affine form, such that:
$$\dot{z}=f(z)+g(z)u.$$
Notice that $f(z)=0$, which is equivalent to saying that there is no drift in the system. For clarity, let $\mathbf{g}(z,u)=g(z)u.$ The Jacobian, which is essentially a matrix of truncated Taylor series expansions, is used to linearize nonlinear systems about an equilibrium point, but the eigenvalues of the Jacobian matrix, evaluated at equilibrium, must be nonzero in order for the linearization to hold (there are some important theorems that come into play here, which are covered in linear algebra and linear systems textbooks). The Jacobian for state matrix A of the possible linearized unicycle system is given by: $$A:=D\mathbf{g}(z,u)=\frac{\partial \mathbf{g}(z,u)}{\partial z}=\left[\begin{matrix}\frac{\partial g_1(z,u)}{\partial x}&amp;\frac{\partial g_1(z,u)}{\partial y}&amp;\frac{\partial g_1(z,u)}{\partial \theta}\\\frac{\partial g_2(z,u)}{\partial x}&amp;\frac{\partial g_2(z,u)}{\partial y}&amp;\frac{\partial g_2(z,u)}{\partial \theta}\\\frac{\partial g_3(z,u)}{\partial x}&amp;\frac{\partial g_3(z,u)}{\partial y}&amp;\frac{\partial g_3(z,u)}{\partial \theta}\end{matrix}\right]=\left[\begin{matrix}0&amp;0&amp;-v\text{sin}(\theta)\\0&amp;0&amp;v\text{cos}(\theta)\\0&amp;0&amp;0\end{matrix}\right],$$
where $g_n$ is the $n^{th}$ function of $\mathbf{g}(z,u)$. Each element in the Jacobian is evaluated as follows, using $n=1$ as an example: $$\frac{\partial g_1(z,u)}{\partial x}=\frac{\partial (v cos{\theta})}{\partial x}=0.$$</p>

<p>By inspection, we can see that the eigenvalues of the Jacobian are zero for all $z$, never mind at any equilibrium point, so this system cannot be linearized. Despite not being able to linearize the system, non-linear control of unicycle robots is straightforward and well studied.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10140" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-10140">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10140">Load Comments</button></br>
			<div id = "commentsection-10140" class = 'collapse'>
			<div id = "comment-18054" class = "comment">
				<p>How do you expand from a 3x2 state matrix to a 3x3 state matrix? If your states were originally $[v,w]^T$, a 2x1 state vector, what are they now?</p>
			</div>
			<div id = "comment-18055" class = "comment">
				<p>Good question! Correct me if I'm wrong, but this is how I understand the Jacobian. There are 3 state variables ($x$, $y$, and $\theta$), and there are 3 functions working on the state variables ($\mathbf{g}(z,u)=g(z)u$). The Jacobian maps from $\mathbf{g}(z,u)\in\mathbb{R}^3$ to the update of $\dot{z}\in\mathbb{R}^3$, and is in $\mathbb{R}^{3\times 3}$.</p>
			</div>
			<div id = "comment-18061" class = "comment">
				<p>If the state variables are $[x,y,\theta]^T$, then what is the state matrix? All zeros? Perhaps this is the point you're trying to make. But then I still don't see how you get to your $Dg(z)$ matrix above - what are the $g_N$ terms in $\partial g_N$? Is $g(z)$ not a 3x2 matrix? How are you indexing $g(z)$? I'm not trying to nit-pick, I just think you've glossed over a couple steps (maybe?) and I'm genuinely curious how you've gotten your answer.</p>
			</div>
			<div id = "comment-18064" class = "comment">
				<p>The discussion is good, and hopefully other readers will benefit! The goal is to take the nonlinear system $\dot{z}=\mathbf{g}(z,u)$ and linearize it to $\dot{z}=Ax+Bu.$ To do this we must compute the Jacobian matrices $A:=\frac{\partial \mathbf{g}(z,u)}{\partial z}\in\mathbb{R}^{3\times 3}$ and $B:=\frac{\partial \mathbf{g}(z,u)}{\partial u}\in\mathbb{R}^{3\times 2}$. After computing A, it was easy to determine that linearization would fail about any equilibrium point (none exist!), so I didn't bother computing B. In short, we are both right--you correctly highlight that I left a step out!</p>
			</div>
			<div id = "comment-18209" class = "comment">
				<p>I found a great paper talking about the problem of linearization of unicycle robot models: http://www.dis.uniroma1.it/~labrob/pub/papers/Ramsete01.pdf -- it goes into good detail. In particular, the author highlights the problem in section 2.</p>
			</div>
			</div>
				<textarea id = "speech-10140" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10140">
					<img id="start_img-10140" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10140">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>