<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Line follower for coloured lines
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11092" class = "post">
			<h2>Question</h2>
			<div id="vote-11092" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 134</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Line follower for coloured lines</h2>
<p>I am building a line-following robot with a Raspberry Pi Zero, using the explorer PHat.
The robot is supposed to follow black, red, green and blue lines and react to the colour, so it should drive faster on a red line and slower on a blue line.</p>

<p>I do not have much experience with line followers, so I am not sure what kind of hardware I need.
My questions are:</p>

<ol>
<li>Is it possible to follow a red, blue or green line with IR LEDs? Most of the line followers obviously use IR LEDs (like TCRT5000), but they are supposed to only follow black lines.</li>
<li>I have a RGB sensor which works quite well with the explorer PHat and I am able to recognize colours very accurately. Is it possible to use this single sensor as a line follower? As the robot should be able to drive on a curvy course a single sensor is probably not enough? </li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-11092" data-toggle = "popover">
				<p>user name : Cay1990</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11092">{'None': 0, 'line-following': 0, 'raspberry-pi': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11092">Load Comments</button></br>
			<div id = "commentsection-11092" class = 'collapse'>
			<div id = "comment-19996" class = "comment">
				<p>What kind of RGB sensor are you using? In the past, I successfully used a RGB Sensor (TCS230) for an application where similar to yours. You can use it if the lines are large enough for the sensor sensibility.</p>
			</div>
			</div>
				<textarea id = "speech-11092" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11092">
					<img id="start_img-11092" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11092">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11094"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11094" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>IR sensors are about reflection. With TCRT5000, distinguishing black from white is based on the absorption of the black surface, it almost absorbs all of the IR waves. While white reflects almost all of it.</p>

<p>Now with different colours, it is all about how much difference is between their absorbtion or reflection capabilities. (I think, you won't be able to make difference between blue and black, unless if it is a really light blue.)</p>

<p>What you should do is make some tests. Hook-up a single TCRT5000 and measure with red, green, blue and other surfaces. Do a lot of measurements and analyze the results, so you can decide if those colours are entirely distinguishable.</p>

<hr>

<p>Now the RGB sensor. You should add a datasheet if you want anyone to tell you if it can really work.</p>

<blockquote>
  <p>Is it possible to use this single sensor as a line follower? As the robot should be able to drive on a curvy course a single sensor is probably not enough? </p>
</blockquote>

<p>Depends on how large is the area that a single sensor can cover. Is it a single pixel sensor or it can detect N x N pixel's colour? It is not impossible to use it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11094" data-toggle = "popover">
				<p>user name : Bence Kaulics</p>
				<p> user reputation : 605</p>
				<p class = "tagcontent" id = "usertaginfo-11094">{'None': 26}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11094" class = 'collapse'>
			</div>
				<textarea id = "speech-11094" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11094">
					<img id="start_img-11094" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11094">Comment</button>
			<br><div id = "ans-11103"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11103" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you tried using combination of your RGB sensor with other sensors like LDR or photo diode. You can use these 2 sensors on the side with your RGB sensors at the centre which you say is quite accurate.  You can set your potentiometer  such that these 2 sensors can differentiate the background color from the lowers intensity line color. You can make a simple PID controller which can keep the robot following the line using the combination of these 3 sensors, while your RGB sensor can sense the coloured line as it is always on top of the line. I remember making a coloured line follower robot long back using photodiode which could sense the translation in color. Hope it helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11103" data-toggle = "popover">
				<p>user name : shekhar gupta</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-11103">{'control': 4, 'kuka': 1, 'None': 3, 'robotic-arm': 4, 'motor': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11103" class = 'collapse'>
			</div>
				<textarea id = "speech-11103" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11103">
					<img id="start_img-11103" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11103">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>