<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Line following robot with EV3 Colour Sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2131" class = "post">
			<h2>Question</h2>
			<div id="vote-2131" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 677</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Line following robot with EV3 Colour Sensor</h2>
<p>I am trying to build an advanced coloured lines following robot with the ability to differentiate between many different coloured lines and follow them. I am looking for the right sensor that will help my robot achieve its objective.</p>

<p>As I was researching I came across the <em>EV3 Colour Sensor</em> which can detect up to 7 colours.</p>

<p>Is this sensor suitable for my project?</p>

<p>What other sensors can I use and how?</p>

<p>Thank You</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2131" data-toggle = "popover">
				<p>user name : user3064497</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-2131">{'mobile-robot': 5, 'None': 0, 'sensors': 4, 'line-following': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2131">Load Comments</button></br>
			<div id = "commentsection-2131" class = 'collapse'>
			<div id = "comment-4237" class = "comment">
				<p>Are the lines going to have hard turns (like right angles) or will it be curvy?  I've always used multiple sensors on the bottom, the more the merrier, so buy multiple</p>
			</div>
			<div id = "comment-10018" class = "comment">
				<p>I would imagine that the answer to this question depends heavily on the width of the lines that you'll be following, and how close the sensor needs to be in order to sense the color (vs sensing a combination of 2 colors).</p>
			</div>
			</div>
				<textarea id = "speech-2131" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2131">
					<img id="start_img-2131" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2131">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7019"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7019" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The EV3 Color Sensor will work great if you're using the Mindstorms platform, if not it will be a pain it uses a non standard connection style and a not quite standard I2C communication protocol. If you are using an arduino then I would recommend something like <a href="https://www.sparkfun.com/products/12829" rel="nofollow">this</a> from sparkfun which still uses the I2C bus but will be far easier to integrate into a project. </p>

<p>In order to use it you will have to profile the color of the lines you want to follow in the exact same conditions that you will use for your robot to get best results. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7019" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7019">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7019">Load Comments</button></br>
			<div id = "commentsection-7019" class = 'collapse'>
			<div id = "comment-11067" class = "comment">
				<p>The EV3 Color Sensor is not I2C at all. It uses UART with a custom protocol. See http://ev3.fantastic.computer/doxygen/UartProtocol.html</p>
			</div>
			<div id = "comment-11068" class = "comment">
				<p>Then I stand corrected, the NXT color sensor was and I was under the impression that the EV3 one was as well</p>
			</div>
			</div>
				<textarea id = "speech-7019" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7019">
					<img id="start_img-7019" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7019">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>