<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Linear actuator for impact tests
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12844" class = "post">
			<h2>Question</h2>
			<div id="vote-12844" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 15</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Linear actuator for impact tests</h2>
<p>I'm puzzling over the remake of an impact testing machine. It's a sort of a robot arm that pushes a probe against a target to test its characteristics.</p>

<p>Right now the machine use air pistons, because it's easier to decide the force to exert. The probe is a ball of about 0.5 kg and 8 cm in diameter.</p>

<p>The machine should control three main parameters:</p>

<ol>
<li><p>speed at the moment of the impact (roughly between 100 mm/s and 20 m/s)</p></li>
<li><p>force to exert against the target (roughly between 5 N and 100 N)</p></li>
<li><p>duration of the holding after the impact (between 100 ms and 10+ s)</p></li>
</ol>

<p>The goal is to try to redesign the machine using only electrical actuators, like steppers or other motors, avoiding the pneumatic systems.</p>

<p>I'm looking for some ideas how to design the mechanical device to fit the requirements.</p>

<p>Some idea that won't work:</p>

<ul>
<li><p>using a standard linear actuator or a stepper coupled with an endless screw: you can easily control parameters 1 and 3, but 2 it's very hard to achieve</p></li>
<li><p>using a cam to accelerate and launch the probe without a hard-link to the mechanism: you cannot control the third parameter and hence neither the second</p></li>
</ul>

<p>Any thought?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12844" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-12844">{'None': 0, 'robotic-arm': 1, 'motor': 1, 'mechanism': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12844">Load Comments</button></br>
			<div id = "commentsection-12844" class = 'collapse'>
			<div id = "comment-22561" class = "comment">
				<p>Welcome to *Robotics* Mark, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-22562" class = "comment">
				<p>Even with as much as you've written, it's not clear how your machine should work. With every elastic collision there is recoil because of conservation of momentum. Is your probe a solid? Is the target a solid? I don't understand how you alter the "duration of the holding after impact" unless you can control the recoil interaction between the probe and target. This would be done by altering the elasticity of the probe or target, but I don't think it would have anything to do with the accelerator.</p>
			</div>
			<div id = "comment-22563" class = "comment">
				<p>And again, along with the duration of the impact, you can't really alter the *force* of the impact again without altering the elasticity of the probe and/or target. I would highly recommend you read more on the [physics concept of impulse](https://en.wikipedia.org/wiki/Impulse_(physics)). It's the change in momentum over time, so speed, mass, and elasticity are all factors that go into the formula, but, as I've mentioned, this is all really more about probe design than the actuator. You could probably just **drop** the probe onto the target if you designed the probe correctly.</p>
			</div>
			<div id = "comment-22564" class = "comment">
				<p>But, that's the thing about design questions - they're all open-ended, lots of discussions, no real "correct" answer and, most importantly, they're so *tailored to you* that they're not especially useful to any future visitors. That's why the question is off-topic. If you would like to discuss the problem more, then please join us in [chat]!</p>
			</div>
			</div>
				<textarea id = "speech-12844" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12844">
					<img id="start_img-12844" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12844">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12850"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12850" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Do you have the space to implement a straight-line 4-bar mechanism?  These devices take a rotary input and generate straight-line motion for a point on the coupler.  There are exact straight-line mechanisms as well as approximate straight-line mechanisms.  Challenges may be range of motion, plus the need to implement additional (passive) rotary joints without compromising the dynamics or accuracy of the device.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12850" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-12850">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12850">Load Comments</button></br>
			<div id = "commentsection-12850" class = 'collapse'>
			<div id = "comment-22554" class = "comment">
				<p>Space is not a problem. I'm going to search about that mechanism, to better understand your answer. I will comment back as soon as possible.</p>
			</div>
			<div id = "comment-22555" class = "comment">
				<p>I don't understand is how to achieve point 2: the point that moves on a straight line is hard-linked to the rotary source: its position is only function of the angle of the axis. Instead I need the probe to reach the position given the force exerted on the target. I hope my English is understandable.</p>
			</div>
			<div id = "comment-22556" class = "comment">
				<p>For example: setting a given force to the probe, a softer material leads the probe to reach a further position than a piece of hard wood.</p>
			</div>
			<div id = "comment-22557" class = "comment">
				<p>If you look at this video,  http://inewsgo.net/video/yFXEyogNXkm8 can you envision placing the motor at the leftmost joint (blue and yellow) to control the probe attached to the joint at the end of the red section?</p>
			</div>
			</div>
				<textarea id = "speech-12850" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12850">
					<img id="start_img-12850" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12850">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>