<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Linear slider motor mount location - Pros~cons
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4580" class = "post">
			<h2>Question</h2>
			<div id="vote-4580" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 538</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Linear slider motor mount location - Pros~cons</h2>
<p>I'm currently designing a linear camera slider, that will be used to hold camera equipment weighing just about 15 Kgs including all of the lenses and monitors and everything else. </p>

<p>For those who don't know what a camera slider is, it's a linear slider on top of which a camera is mounted and then the camera is slided slowly to create some nice footage <a href="https://www.youtube.com/watch?v=hLvP2Dr2FWQ" rel="nofollow noreferrer">like this</a>.</p>

<p><strong>The problem</strong></p>

<p>Now, looking at the commercially available camera sliders out there, there seems to be two ways in which the motor maybe mounted on these sliders:</p>

<ol>
<li><p>Motor mounted on the side:</p>

<p><img src="https://i.stack.imgur.com/6TMcu.jpg" alt="enter image description here"></p></li>
<li><p>Motor mounted directly on the carriage:</p>

<p><img src="https://i.stack.imgur.com/PE1PW.jpg" alt="enter image description here"></p></li>
</ol>

<p>I would like to know which option would be optimal - Performance-wise (this slider maybe used vertically too, to create bottom to top slide shots), efficiency-wise and 
which one of these two will be resistant to motor vibration (these motors vibrate a lot, the effects of which may sometimes leak into the produced footage).</p>

<p><strong>Additional Questions</strong></p>

<ol>
<li><p>Motor mounted on the carriage directly <em>maybe, just maybe</em> more efficient, but it also has to carry it's own weight in addition to the 15kg camera load?</p></li>
<li><p>Pulling force is greater than pushing force (I have no idea why, would be great if someone explained why, atleast in this case?), so a motor mounted in the end should be able to lift vertically with ease?</p></li>
<li><p>Does a belt setup as shown in the first figure above really dampen the motor vibrations? Will/won't the motor vibrating on the end get amplified (because, the whole setup will be attached to a single tripod in the exact center of the slider)</p></li>
<li><p>Which design will be less stressful for the motor, taking inertia into consideration for both cases?</p></li>
<li><p>Which one of these designs will be best suitable for vertical pulling of load against gravity?</p></li>
</ol>

<p>Manufacturers use both designs interchangeably, so it's hard to predict which design is better than which.</p>

<p>Any help would be much appreciated!</p>

<p>Please note, this question has been migrated from the Stackexchange Physics (and Electrical) forum by me because the mods thought it would be appropriate here.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4580" data-toggle = "popover">
				<p>user name : dsignr</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-4580">{'control': 2, 'motion': 2, 'None': 0, 'design': 2, 'stepper-motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4580" class = 'collapse'>
			</div>
				<textarea id = "speech-4580" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4580">
					<img id="start_img-4580" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4580">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4584"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4584" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Performance-wise, first version wins as the motor's own weight is not added to the payload for motion. </p>

<p>Efficiency-wise, it depends on the elasticity and material properties of the drive belt, versus the material of the powered roller surface, gripping force of rollers, and other energy loss factors. </p>

<p>The belt drive will be far more vibration-damped: Note the spring-loaded tensioning pin through which the belt passes in the top photo. This will flex and absorb a lot of the vibration - acting like a low-pass filter for mechanical energy. </p>

<p>With regard to "these motors vibrate a lot": If vibration reduction is important, a stepper motor might be the worst possible choice. Use a linear encoder on the slider for closed-loop position feedback, and drive the unit using a BLDC motor - effectively making a linear servo out of the whole thing. BLDCs are much less vibration prone: Note the smoothness of rotation of a CDROM drive main motor. Of course, for meaningful traversal speeds, the BLDC would be geared down significantly, with the side effect of even more vibration reduction. For that matter, even a brushed DC motor with suitable gearing down would work great, again with the linear encoder.</p>

<ol>
<li>The first version will require slightly less power, and will suffer marginally less inertia effects: The motor in the photograph shown most likely weighs under 1 Kg, that will add to the payload weight for movement energy as well as starting and stopping inertia. However, the flexing drive belt will eat up some (maybe a lot) of the improvement in efficiency.</li>
<li>Pulling versus pushing force, not sure how that applies. The first uses a closed loop belt with tensioner, i.e. pulling force is all that applies. The second uses rotation-translation, no pushing there either.</li>
<li>A belt drive with a spring loaded tensioner will significantly damp vibration of the motor, except in the odd chance of the motor hitting a resonant harmonic frequency of the belt assembly (can't quite see that happening).</li>
<li>Lower inertia = lower stress on motor. So clearly the first version is better, see above.</li>
<li>For vertical pulling, a belt drive instinctively feels safer: Dust getting between rollers and slide, or the powered rollers wearing out, may cause the entire assembly to slide down under gravity. Of course, this safety is illusory, as the drive belt could break too. Adding an auto-brake design to protect against slippage or breakage (like some elevators have) just adds complication. </li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4584" data-toggle = "popover">
				<p>user name : Anindo Ghosh</p>
				<p> user reputation : 339</p>
				<p class = "tagcontent" id = "usertaginfo-4584">{'mobile-robot': 11, 'None': 15, 'servos': 3, 'stepper-motor': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4584">Load Comments</button></br>
			<div id = "commentsection-4584" class = 'collapse'>
			<div id = "comment-7189" class = "comment">
				<p>Thanks, that was a comprehensive, brilliant answer; Exactly what I was looking for :)</p>
			</div>
			</div>
				<textarea id = "speech-4584" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4584">
					<img id="start_img-4584" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4584">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>