<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>List of books similar to Thrun's Probabilistic Robotics for robot mechanics and manipulation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9145" class = "post">
			<h2>Question</h2>
			<div id="vote-9145" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 110</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>List of books similar to Thrun's Probabilistic Robotics for robot mechanics and manipulation</h2>
<h2>What?</h2>

<p>Put together here <strong>a list of books (like the one for C/C++ on StackOverflow) that are spiritually similar to Sebastian Thrun's Probabilistic Robotics for robotic manipulation and mechanics</strong>.</p>

<h2>Why?</h2>

<p>Thrun's book is a wonderful resource for implementable algorithms while also dealing with the mathematics/theory behind them. In somewhat similar vein for robotic mechanics there is "A Mathematical Introduction to Robotic Manipulation - S.Sastry, Z.Li and R.Murray" which has a lot of mathematical/theoretical content. What is missing however in this book are the algorithms concerned with how should/would one go about implementing the theoretical stuff.</p>

<h2>Requirements</h2>

<ol>
<li>Ideally list books dealing with diverse areas of robotics.</li>
<li>The books have to present algorithms like what Thrun does in his book.</li>
<li>Algorithms presented have to be language agnostic and as much as possible not be based on packages like MATLAB in which case they should be categorized appropriately.</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-9145" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-9145">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9145">Load Comments</button></br>
			<div id = "commentsection-9145" class = 'collapse'>
			<div id = "comment-15155" class = "comment">
				<p>I'm voting to close this as a book request - there's no way to pick a correct answer. "Life Questions are off-topic. Questions about choosing how to spend your time (**what book to read**, which class to take, what robotics project to construct, what career to pursue, etc.) may be about difficult decisions, and they are often important, but they are too specific to your own situation and are unlikely to help future visitors to the site. They would be better off asked in Robotics Chat." There is no specific, actual problem here (nor is there actually any question), so there's nothing to answer.</p>
			</div>
			<div id = "comment-15156" class = "comment">
				<p>This is not a life question. As I mentioned in the question, stackoverflow has a list of books for C/C++ divided into Beginner, Intermediate, Advanced and Other categories. I would like this question to be similar but for roboticists.</p>
			</div>
			<div id = "comment-15157" class = "comment">
				<p>Perhaps this list should be put in the wiki for the [books](http://robotics.stackexchange.com/questions/tagged/books) tag.  Feel free to [start it](http://robotics.stackexchange.com/edit-tag-wiki/93)</p>
			</div>
			<div id = "comment-15164" class = "comment">
				<p>Can you provide the link to the stackoverflow list of books? @Ben - that seems like a good idea, as it could provide a useful resource to point people to.</p>
			</div>
			<div id = "comment-15167" class = "comment">
				<p>@Greenonline - Here's the link. http://stackoverflow.com/q/388242</p>
			</div>
			<div id = "comment-15182" class = "comment">
				<p>I've done research before regarding this matter and the result was disappointing. The answer is no. This book is unique. I hope other authors  inspire by the way this book presents the material.</p>
			</div>
			</div>
				<textarea id = "speech-9145" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9145">
					<img id="start_img-9145" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9145">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9147"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9147" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is my go-to book for all things manipulation.  But it covers some other topics as well.
<a href="https://books.google.com/books/about/Robotics.html?id=jPCAFmE-logC" rel="nofollow">Robotics: Modelling, Planning and Control</a> by Bruno Siciliano, Lorenzo Sciavicco, Luigi Villani, Giuseppe Oriolo.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9147" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-9147">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9147">Load Comments</button></br>
			<div id = "commentsection-9147" class = 'collapse'>
			<div id = "comment-15168" class = "comment">
				<p>Same for me as well.</p>
			</div>
			</div>
				<textarea id = "speech-9147" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9147">
					<img id="start_img-9147" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9147">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>