<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>LM2576 and LM2596 regulator make microcontroller hang
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4902" class = "post">
			<h2>Question</h2>
			<div id="vote-4902" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1840</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>LM2576 and LM2596 regulator make microcontroller hang</h2>
<p>I am making a self balancing scooter which runs off 2 x 12V SLA batteries connected in series to make 24V. Everything works as expected except for the power supply which makes me pull most of the hair in my head for 2 weeks now. Hope someone could help.</p>

<p>The 2 24V motors run off the batteries directly. Now for my scooter, I need a +12V line for the half bridge drivers, and a +5V line for the signal part. For +12V I am using a LM2576-12 hooked to the batteries (+24) and for the +5V signal I am using a LM2596 ADJ, also hooked directly to the batteries (or is it supposed to be hooked to the output of LM2576-12 for better performance??).</p>

<p>The problem is that, when the motors are under load this power supply system makes the microcontroller hang (or reset I am not too sure, since everytime I have to try to turn off the power switch immediately, because the motor keeps running with whatever value they are fed with right before this happens), usually within 1 minute of riding, which is very dangerous when someone is onboard.</p>

<p>I have read and re-read the datasheet of LM2576 and LM2596 many times, and have tried many settings, from recommended to different values of capacitor and inductor. For the diode, I am using the SS34.</p>

<p>I guess its not because of electromagnetic interference, since while I do have the PCB located near the motors, the PCB is actually put inside a homemade Faraday cage which is grounded (Battery -), and the motor cases are also grounded. Plus that the microcontroller only hangs when motors are under load (i.e. me on board), especially when I go from forward to backward.</p>

<p>The motor controller is self made, using 8 x AUIRF2804S MOSFETs. I also put 4 x 1000uF caps between the motors and the +24V.</p>

<p>Would anyone be so kind to throw some light. What would a power supply for this kind of application is supposed to be?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4902" data-toggle = "popover">
				<p>user name : Dave</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-4902">{'None': 1, 'motor': 0, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4902">Load Comments</button></br>
			<div id = "commentsection-4902" class = 'collapse'>
			<div id = "comment-7617" class = "comment">
				<p>Can you provide some detail on the current draw of your motors and the rest of the system?  Also, when the motors droop the power bus, how low does the voltage go?  Additionally, your motor drivers should be fail-safe so that when you loose power, the H-bridge goes into a brake, or coast state.</p>
			</div>
			<div id = "comment-7623" class = "comment">
				<p>Hi Ben, the 2 motors are rated 16.5A each. With no load (no one on board) the system draws around 1A more or less moving itself back & forth. With me on board, when riding slowly the system draws about 2-3A. And at the time it hangs it doesn't exceed 4A. I notice that it usually hangs when I am on board and trying to change direction (forward to backward) swiftly. Voltage drop just about 1V. In the code that if voltage drops to less than 22.5V then the scooter will slowly come to a stop. The fail-safe is good advice, thanks but for now the microcontroller hangs and ceases to receive commands.</p>
			</div>
			<div id = "comment-7624" class = "comment">
				<p>I have also just tried the following in vail: 1. Moved the PCB outside the case so it is farther away from the motors 2. Hooked the 5V buck converter (LM2596 ADJ) to the output of the 12V line (LM2576-12) instead of to the batteries. I am at my wits end since it seems no other DIY self balancing scooter has this problem. I have an oscilloscope but its hard to diagnose since the scooter must be under load, moving and it happens very suddenly.</p>
			</div>
			</div>
				<textarea id = "speech-4902" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4902">
					<img id="start_img-4902" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4902">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4925"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4925" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like the main problem is that you are powering your control electronics and power electronics off the same battery.  The battery voltage will drop when it's under load, and that drop seems to be browning out the control circuitry.</p>

<p>It's not impossible to power both pieces from the same power source, but it would be a very good idea to isolate the root cause of your issue before you go about trying to fix that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4925" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4925">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4925">Load Comments</button></br>
			<div id = "commentsection-4925" class = 'collapse'>
			<div id = "comment-7639" class = "comment">
				<p>Yup, two batteries with a common ground sounds like a good solution to me.</p>
			</div>
			<div id = "comment-7640" class = "comment">
				<p>I also believe two separate power supply units may solve the problem. But implementation would add much weight and complexity. What is bugging me is that I have seen a few DIY segway clones online which uses only 1 LM2576 or 2596 for the entire control electronics, so I am clueless where I went wrong. I built the PCB myself, with the FETs and power on the left and control part on the right. Microcontroller is about 3cm from nearest power line. Any chance PCB layout contribute to the problem? Since I am just a hobby PCB designer without much experience.</p>
			</div>
			<div id = "comment-7644" class = "comment">
				<p>Thinking about it over, the noise must come from the motors in the form of current ripples, or EMI, or in the worst case, both. Reviewing everything, I see that I am using a H-bridge switching frequency of around 16KHz. Will increase to 20-25Khz and see how it goes. Any advice on this is highly appreciated.</p>
			</div>
			<div id = "comment-7652" class = "comment">
				<p>Your first step is to characterize the problem... after that's done, you can start worrying about the solution.</p>
			</div>
			<div id = "comment-7729" class = "comment">
				<p>Ian, I think you are right...It's not the regulation that is the problem, but rather it's the regenerative current that should be the culprit. I will post another more relevant question. Thanks all for all your help!</p>
			</div>
			</div>
				<textarea id = "speech-4925" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4925">
					<img id="start_img-4925" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4925">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>