<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Localization with only IMU
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8941" class = "post">
			<h2>Question</h2>
			<div id="vote-8941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 428</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Localization with only IMU</h2>
<p>What will be the best approach to get the most localization accuracy out of only an accelerometer and gyroscope?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8941" data-toggle = "popover">
				<p>user name : Christian Henkel</p>
				<p> user reputation : 4</p>
				<p class = "tagcontent" id = "usertaginfo-8941">{'None': 0, 'accelerometer': 0, 'algorithm': 0, 'localization': 0, 'imu': 0, 'gyroscope': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8941">Load Comments</button></br>
			<div id = "commentsection-8941" class = 'collapse'>
			<div id = "comment-14735" class = "comment">
				<p>Some time ago I read a paper on tracking pedestrians using only shoe-mounted inertial sensors. I can't find it right now, but research in that direction might turn up a few sets of results...</p>
			</div>
			<div id = "comment-14736" class = "comment">
				<p>This question has been asked many times on Robotics StackExchange. Most recently: http://robotics.stackexchange.com/questions/8857/imu-position-without-gps-or-camera .</p>
			</div>
			<div id = "comment-14754" class = "comment">
				<p>dont know about localization. but for both sensor accuracy try to implement a filter to the sensor reading. kalman filter/complimentary filter work best i think..</p>
			</div>
			</div>
				<textarea id = "speech-8941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8941">
					<img id="start_img-8941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8941">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8942"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8942" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe internal sensors such as those are impossible for localization.  Navigation from a known location is possible with common methods of inertial navigation.  These methods are limited by the accuracy of the sensors and external observations.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8942" data-toggle = "popover">
				<p>user name : Drew</p>
				<p> user reputation : 70</p>
				<p class = "tagcontent" id = "usertaginfo-8942">{'product-of-exponentials': 3, 'None': 5, 'manipulator': 3, 'matlab': 0, 'jacobian': 3, 'dynamics': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8942" class = 'collapse'>
			</div>
				<textarea id = "speech-8942" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8942">
					<img id="start_img-8942" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8942">Comment</button>
			<br><div id = "ans-8948"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8948" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is similar to this question: <a href="https://robotics.stackexchange.com/questions/8857/imu-position-without-gps-or-camera/8859#8859">imu position without GPS or camera</a></p>

<p>The short answer is that what you ask is not possible given realistic constraints.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8948" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8948">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8948" class = 'collapse'>
			</div>
				<textarea id = "speech-8948" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8948">
					<img id="start_img-8948" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8948">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>