<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Local Localisation with particle filter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-989" class = "post">
			<h2>Question</h2>
			<div id="vote-989" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 174</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Local Localisation with particle filter</h2>
<p>I am doing Local Localisation with sonar, particle filter (i.e all particles are initially with robot pose).</p>

<p>I have grip map of environment. When I execute algorithm in environment (where doors are closed/open), particles are not able to followup the robot.</p>

<p>I don't have random particles since I know the initial position of the robot exactly.</p>

<p>Adding random particle will change the pose of robot (i am find median of particles as robot pose).</p>

<p>Any idea/methods how to improve local localisation?</p>

<p>I want to know, do I need random variable if I am doing local localisation? And how do I improve localisation if there are many changes in the map without adding random particles?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-989" data-toggle = "popover">
				<p>user name : nayab</p>
				<p> user reputation : 224</p>
				<p class = "tagcontent" id = "usertaginfo-989">{'odometry': 4, 'None': 4, 'laser': 3, 'probability': 2, 'occupancygrid': 1, 'localization': 10, 'mapping': 1, 'particle-filter': 4, 'slam': 8, 'mobile-robot': 12}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-989">Load Comments</button></br>
			<div id = "commentsection-989" class = 'collapse'>
			<div id = "comment-2345" class = "comment">
				<p>Hi Nadosh and welcome to the Robotics Stack Exchange. It's unclear to me what you are asking precisely. Can you ask a more pointed question?</p>
			</div>
			<div id = "comment-2350" class = "comment">
				<p>i want to know do i need random variable if i am doing locallocalisation.and how to improve localisation if many changes in map without adding random particles.</p>
			</div>
			<div id = "comment-2378" class = "comment">
				<p>Hi Nadosh, welcome to *robotics*. On stack exchange, comments are there to help improve questions (and answers), so it is better to edit your question in response to a request for clarification in a comment. That way, once the question has been improved, the comments can be tidied up (deleted) and they will no longer distract people from the question itself.</p>
			</div>
			</div>
				<textarea id = "speech-989" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-989">
					<img id="start_img-989" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-989">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1013"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1013" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Of course adding random particles will change the pose of the robot. That's the point: To add randomness to account for errors you can't compute yourself. You should add random particles every time the state of the robot may change, then adjust the weight of the particles based on which seem likely given sensor data.</p>

<p>This is a very basic definition of particle filters. I suggest you roll up your sleeves and do some more research on the subject.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1013" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1013">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1013" class = 'collapse'>
			</div>
				<textarea id = "speech-1013" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1013">
					<img id="start_img-1013" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1013">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>