<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Locate a quadcopter in x,y space
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11354" class = "post">
			<h2>Question</h2>
			<div id="vote-11354" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 48</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Locate a quadcopter in x,y space</h2>
<p>I have a quadcopter using image processing to detect shapes on the ground to the determine x,y position. It works ok. My problem is that if the illumination isnt perfect.</p>

<p><strong>I would like to know if there's a way to fuse the image processing data with another kind of way to find the position x,y of the quadcopter.</strong></p>

<p><em>My teacher told me about Bluetooth Low Energy</em> and some beacons but I dont think it will work.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11354" data-toggle = "popover">
				<p>user name : Tiago Silva</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11354">{'quadcopter': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11354">Load Comments</button></br>
			<div id = "commentsection-11354" class = 'collapse'>
			<div id = "comment-20525" class = "comment">
				<p>Welcome to *Robotics* Tiago Silva, it looks like you may actually have several questions here. The first is about image processing when illumination isn't perfect, the second is about fusing data from multiple sensors and the third is about the practicality of using BTLE beacons. All of these could be good questions in their own right, if they are written as *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. I would suggest that you start with your image processing problem, and then see where the answers take you.</p>
			</div>
			<div id = "comment-20526" class = "comment">
				<p>As it stands though, this question is just too broad in scope.  Questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic, since there are many ways to solve any given design problem. I would take a look at [ask] and [about] for more information on how stack exchange works, and the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) for details of how to write good questions.</p>
			</div>
			</div>
				<textarea id = "speech-11354" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11354">
					<img id="start_img-11354" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11354">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11355"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11355" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a number of things you can do, the first is it seams that you have the opportunity to increase your computer vision systems effectiveness, I am unsure what you are doing now but off the top of my head:</p>

<ul>
<li>Do your work in the <a href="https://en.wikipedia.org/wiki/HSL_and_HSV" rel="nofollow noreferrer">HSV</a> space instead of the <a href="https://en.wikipedia.org/wiki/RGB_color_model" rel="nofollow noreferrer">RGB</a> space it generally gives better results becouse it splits the actual color from the brightness or hue</li>
<li>Use easier to identify glyphs, tune the sizes and types to suit your environment, generally if your lighting is going to be consistent you can use colored glyphs which can allow you to make them smaller, or if you have widely variable lighting conditions you can use black and white glyphs, which will reduce your information density somewhat.</li>
</ul>

<p>But if you want to use another localization method as well, you can use one of the simple radio location methods, that uses <a href="https://locatify.com/blog/indoor-positioning-systems-ble-beacons/" rel="nofollow noreferrer">BLE or Wifi</a>, which generally will integrate all the bluetooth (or wifi) stations within range calculating the round trip time to them, as well as the received power in dB, they can then use the predetermined station locations and the approximate distances in order to calculate a xy, or xyz location. Generally in practice the location accuracy can be very poor, around 10-20ft.</p>

<p>Another location technology that can give better readings is a Ultra Wideband system like <a href="https://www.pozyx.io/" rel="nofollow noreferrer">Pozyx</a> based on the <a href="http://www.decawave.com/" rel="nofollow noreferrer">Decawave</a> system (which has some <a href="https://github.com/thotro/arduino-dw1000" rel="nofollow noreferrer">Open Source Libraries</a> available). These can give you an accuracy better than 10 cm but can get pretty expensive depending on the area you need to cover.</p>

<p>Finally for indoor robotics research there is the 8,000lb gorilla, the Motion Capture Systems like <a href="https://www.vicon.com/" rel="nofollow noreferrer">Vicon</a>, and <a href="http://www.qualisys.com/" rel="nofollow noreferrer">Qualisys</a>. These systems can run $50K or more, but can give you amazing volumes of information like 1cm accuracy at 100 or 500 Hz depending on your setup.</p>

<p>This all assumes your inside, if your outside you might want to check out systems like <a href="https://en.wikipedia.org/wiki/Real_Time_Kinematic" rel="nofollow noreferrer">RTK GPS</a>, and <a href="https://en.wikipedia.org/wiki/Differential_GPS" rel="nofollow noreferrer">DGPS</a>. both can give you sub 10cm locations.</p>

<p>You can take all the information you get from sources like this, along with your vehicle's Gyroscope, Accelerometer and Magnetometer, and throw it into a <a href="https://en.wikipedia.org/wiki/Kalman_filter" rel="nofollow noreferrer">Kalman Filter</a> in order to get the best possible location estimate.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11355" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-11355">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11355" class = 'collapse'>
			</div>
				<textarea id = "speech-11355" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11355">
					<img id="start_img-11355" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11355">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>