<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Localising a robot swarm non-optically
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1811" class = "post">
			<h2>Question</h2>
			<div id="vote-1811" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 112</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Localising a robot swarm non-optically</h2>
<p>This question is further to <a href="https://robotics.stackexchange.com/questions/1795/localizing-a-swarm-of-robots">Localizing a swarm of robots</a>.</p>

<p>In summary: I want to create a swarm of robots which can each measure their own position in a 3x2m room with a 25cm high ceiling, to an accuracy of  5mm. </p>

<p>There were some good answers, but most of them were optical methods. I would be interested to hear some non-optical localisation ideas, so I will impose the following further constraints:</p>

<ul>
<li>Localisation method cannot use optical means, either visible or invisible.</li>
<li>Nothing can be added to the floor or ceiling.</li>
<li>There's no appreciable gap between the top of the robots and the ceiling.</li>
<li>There are no walls, and equipment can be added around the perimeter of the room.</li>
</ul>

<p>I look forward to hearing some creative ideas.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1811" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-1811">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1811">Load Comments</button></br>
			<div id = "commentsection-1811" class = 'collapse'>
			<div id = "comment-5122" class = "comment">
				<p>Two things for clarification: (1) As [@zkent](http://robotics.stackexchange.com/a/2740/131) also asks, can the robots communicate with each other; (2) How 'densely' is the room filled with the robots?</p>
			</div>
			<div id = "comment-5138" class = "comment">
				<p>@ThomasH - There was no plan originally for them to be able to communicate with each other, but if it helps, I don't see why not. The robots could all huddle together, touching, and let's say there were 20 robots each 30cm wide cylinders.</p>
			</div>
			<div id = "comment-10215" class = "comment">
				<p>Opticaly means light based sensor like camera, infrared etc. am I right?</p>
			</div>
			</div>
				<textarea id = "speech-1811" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1811">
					<img id="start_img-1811" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1811">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1812"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1812" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I guess after optic (direct-line of sight) solutions, <a href="https://electronics.stackexchange.com/questions/8690/signal-triangulation">triangulation via sonic/radio frequency seems to be a possible solution</a>.</p>

<p>A factor that needs to be decided is how the triangulation will be achieved. Will your transmitters be stationary, or will your receivers be stationary. In other words, will you synchronize your transmitters or your receivers.</p>

<h2>Stationary transmitters</h2>

<p>In other words, your robots will have receivers, while your room has 2 or more stationary transmitters (each synchronized). Each transmitter will continuously broadcast a unique identifier (for instance, each transmitting on their own frequency). The mobile receiver (robot), will then measure the phase shift between each transmission and triangulate.</p>

<h2>Stationary Receivers</h2>

<p>In other words, your robots will have speakers, while your room has 2 or more microphones (each synchronized). Each mobile transmitter (ie, each robot), will have an unique id (again for example their own frequency), while the stationary receivers (synchronized) will listen for broadcasts. The only problem of course is the stationary receivers will need to communicate the triangulated position back to the robot via a parallel channel (eg Bluetooth).</p>

<h2>Implementation</h2>

<p>Since trying to sample time-of-flight for RF waves isn't exactly cheap/easy (299 792 458 m / s at 5 mm : 16.7 ps ~ sampling rate in excess of 50 GHz), I'd recommend going for sonic.</p>

<p>The only problem of course is the desired resolution. Given the speed of sound at sea level 340.29 m/s, a signal pulse will take 14.7 us to travel 5 mm. And since we'd like to take a sample at least twice per our base period, we need to sample at a rate of at least 1/7.35 us = 136 kHz.</p>

<p>While you do get system's that can sample the audible range at that rate (professional audio recording equipment usually goes up to 192 kHz and above), easily accessible recording equipment usually samples at 48 kHz (PC sound cards).</p>

<p>Ultimately I think I'd try and go for stationary (expensive) recorders, and cheap speakers on the robots.</p>

<h2>External links</h2>

<ul>
<li><a href="https://instruct1.cit.cornell.edu/Courses/ee476/FinalProjects/s2007/ai45_hkc2_sbs43/ai45_hkc2_sbs43/index.html#hardware" rel="nofollow noreferrer">Cornell University - PeanutBot, The Audio Homing Robot</a> (uses a single stationary speaker, with three microphones on the robot itself).</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1812" data-toggle = "popover">
				<p>user name : EDDY74</p>
				<p> user reputation : 395</p>
				<p class = "tagcontent" id = "usertaginfo-1812">{'None': 25}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1812" class = 'collapse'>
			</div>
				<textarea id = "speech-1812" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1812">
					<img id="start_img-1812" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1812">Comment</button>
			<br><div id = "ans-2740"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2740" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What about sonar?  I guess this would be made a bit more difficult with other robots in the room.  It might take a few minutes for an individual robot to create a clear picture of the room by eliminating the other robots that it detects, thus finding "walls".  You would get the added benefit of collision detection.</p>

<p>Do the robots communicate?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2740" data-toggle = "popover">
				<p>user name : zkent</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-2740">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2740">Load Comments</button></br>
			<div id = "commentsection-2740" class = 'collapse'>
			<div id = "comment-5137" class = "comment">
				<p>Just be mindful that anything that transmits is potentially a regulated device, unless it fits a specific exemption.

I suggest "sonar" is entering Pandora's Box territory</p>
			</div>
			<div id = "comment-5139" class = "comment">
				<p>@Andrew i guess by "sonar" I was referring to echolocation which is the broader concept.  Who regulates echolocation-type sound?</p>
			</div>
			</div>
				<textarea id = "speech-2740" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2740">
					<img id="start_img-2740" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2740">Comment</button>
			<br><div id = "ans-2741"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2741" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It seems that RF positioning is the only technology capable of giving you the precision that you need.  That said, I don't think it's ready for 5mm ranges just yet.</p>

<ul>
<li><a href="http://diydrones.com/profiles/blogs/radio-based-position-tracking-works-indoors-and-out" rel="nofollow">50 quadcopters, 20Hz, 5-15cm precision</a></li>
<li><a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=4653450&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D4653450" rel="nofollow">Development of experimental TDOA system test-bed for indoor applications</a></li>
<li><a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=1682996&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D1682996" rel="nofollow">Hybrid TDOA/AOA Indoor Positioning and Tracking Using Extended Kalman Filters</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2741" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2741">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2741" class = 'collapse'>
			</div>
				<textarea id = "speech-2741" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2741">
					<img id="start_img-2741" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2741">Comment</button>
			<br><div id = "ans-7180"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7180" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm working on this topic too. I'm trying to obtain sound 
* ultrasonic: there is a lot of applications
* audible sound difference via multiple microphones like stereo vision or tdoa. also we need robot identification that may be frequency difference</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7180" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7180">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7180" class = 'collapse'>
			</div>
				<textarea id = "speech-7180" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7180">
					<img id="start_img-7180" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7180">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>