<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Localization of a Robot to find it Coordinates according to the Known Map
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10408" class = "post">
			<h2>Question</h2>
			<div id="vote-10408" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 243</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Localization of a Robot to find it Coordinates according to the Known Map</h2>
<p>I am a third-year electrical engineering student and am working on an intelligent autonomous robot in my summer vacations.</p>

<p>The robot I am trying to make is supposed to be used in rescue operations. The information I would know is the position of the person (the coordinates of the person in a JSON file that can be changed anytime except during the challenge) to be rescued from a building on fire. I would also know the rooms of the building from a map, but I don't know where the robot may be placed inside the building to start the rescue operation.</p>

<p>That means I have to localise the robot placed at an unknown position in a known environment, and then the robot can plan its path to the person who has to be rescued. I can use gyroscope, accelerometer, magnetometer and ultrasonic sensors to do the localising job. I cannot use a GPS module or a camera for this purpose.</p>

<p>The object to be rescued (whose location is known in terms of coordinates &amp; can be changed anytime) is surrounded by walls from 3 sides. Hence, adding more walls in this map.</p>

<p>According to my research particle filter is the best method used for localization of robot. But how can I deal with the landmarks (walls) that are <em>fixed</em> as shown in the map image and <em>that are variable</em> depending on the location of the object to be rescued being provided in the JSON file?</p>

<p>I can do the path planning from a known position to the target position, but I'm not sure how to determine the starting position.</p>

<p>More about JSON file:
(1) json file containing the coordinates of the object to be rescued can change. (2) it won't change during the challenge. (3) json file will be provided to me in an SD card that my robot has to read. I have successfully written the code that will allow the robot to read the json file and hence the coordinates of the object to be rescued.</p>

<p>Here is the map of the building which is known to me.</p>

<p><a href="https://i.stack.imgur.com/6EIgO.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6EIgO.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10408" data-toggle = "popover">
				<p>user name : Rabia Khalid</p>
				<p> user reputation : 14</p>
				<p class = "tagcontent" id = "usertaginfo-10408">{'None': 0, 'particle-filter': 2, 'localization': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10408">Load Comments</button></br>
			<div id = "commentsection-10408" class = 'collapse'>
			<div id = "comment-18696" class = "comment">
				<p>Is this part of some challenge? I'm sure we had pretty much the same question on here a while ago.</p>
			</div>
			<div id = "comment-18701" class = "comment">
				<p>Please at least link to the official problem so that it's clear what you ask for.</p>
			</div>
			<div id = "comment-18707" class = "comment">
				<p>Okay, I made some edits and hopefully this makes your question more clear. Regarding the "best software" in which to implement something - generally the best software is the one you know how to use. It's generally an arbitrary/personal preference decision. It seems that your only question is how to incorporate particle filters into a localization algorithm. Is this correct?</p>
			</div>
			<div id = "comment-18728" class = "comment">
				<p>Possible duplicate of [Localising a robot placed at an unknown position in a known environment](http://robotics.stackexchange.com/questions/10330/localising-a-robot-placed-at-an-unknown-position-in-a-known-environment)</p>
			</div>
			<div id = "comment-18730" class = "comment">
				<p>The first few paragraphs are identical @BendingUnit22 but the actual question itself seems to be trying to solve a different part of the same challenge.</p>
			</div>
			<div id = "comment-18732" class = "comment">
				<p>@MarkBooth I have a hard time seeing that difference, can you elaborate? This question puts emphasis on variable walls, which are still known obstacles. Is it that what you mean?</p>
			</div>
			<div id = "comment-18733" class = "comment">
				<p>Bending Unit 22  that question is asked by one of my team mate. And the variable walls are not known to me that way because the JSON file can change (having coordinates of the object to be rescued)</p>
			</div>
			<div id = "comment-18736" class = "comment">
				<p>@Rabia Khalid please always use an @ in front of names in comments so people get notified. Please clarify: are the walls known or not? What do you mean by "*the json file can change*"? Can it change during one "run" of the challenge? What exactly is in that json file? I find your use of the words "known" and "change" a little hard to understand. **This would all be a lot easier if you simply linked to the official description**.</p>
			</div>
			<div id = "comment-18765" class = "comment">
				<p>On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments @RabiaKhalid . Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted). Comments should be considered ephemeral, any comment which no longer actively helps to improve a question or answer may be deleted at any time.</p>
			</div>
			<div id = "comment-18767" class = "comment">
				<p>@Mark Booth thank you... I have edited it now.</p>
			</div>
			</div>
				<textarea id = "speech-10408" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10408">
					<img id="start_img-10408" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10408">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10410"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10410" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Particle filter</strong></p>

<p>According to the OP a robot with at least a distance sensor is available and a map too. That's a nice starting point for developing a hypothesis tracker aka particle filter. At first a game engine is needed which simulate the map and the position of particles. The game-engine calculates the expected sensor-information from the distance-sensor. E.g. the particle is on left top in the map and direction is "north" and the game-engine says "distance=10 cm". This is done for every random particle in the map.</p>

<p>Now comes the nice part: a particle will be deleted which has the greatest difference to the real measurement. That means, if the robot has a real distance of 5 cm on the sensor, than a particle with a distance of 200 cm can not be the right one. After deleting the particle the robot will be moved ahead, and the particles also. Again, the worst particle has to be deleted.</p>

<p>From a theoretical point of view, this is called a hypothesis elimination. It means, that the algorithm deletes the particle with the lowest probability to be the right answer. After a while a particle cloud with the real position of the robot is remaining.</p>

<p><strong>Landmarks</strong></p>

<p>Fixed landmarks in the map (like a door which is marked with a red line on the ground) can be easily integrated in the particle filter because in the map are particles who fulfill the conditions and others who don't. E.g. if the real robot detect a door, all particle in the game-engine who not detect the door are wrong. A more complicated task are variable landmarks which can be anywhere in the map. These obstacle change the map itself and create an extended problem called SLAM (=map building). Algorithms like <a href="http://ais.informatik.uni-freiburg.de/teaching/ws12/mapping/pdf/slam10-fastslam-4.pdf" rel="nofollow">FastSlAM</a>  and <a href="https://userpages.uni-koblenz.de/~agas/Documents/Pellenz2009R2R.pdf" rel="nofollow">Hyperparticle</a>  (every particle has its own map) build a map and localize together.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10410" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10410">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10410">Load Comments</button></br>
			<div id = "commentsection-10410" class = 'collapse'>
			<div id = "comment-18723" class = "comment">
				<p>Compliment to Chuck. You edited my answer in under 1 minute. Are you a chatbot?</p>
			</div>
			<div id = "comment-18724" class = "comment">
				<p>No, I just saw the main page indicate a question had changed. I generally check the site every hour or so at work, as a break for what I'm currently working on. I seem to check it about the time people make changes.</p>
			</div>
			<div id = "comment-18727" class = "comment">
				<p>"*a game engine is needed*" I find that term a bit misleading. It's a simulation, why not call it like that? Telling somebody to look for a "game engine" they will likely look at very wrong places as I doubt that anything that calls itself a "game engine" includes a particle filter simulator.</p>
			</div>
			<div id = "comment-18749" class = "comment">
				<p>All we know right now is that @Chuck has passed the Turing Test.</p>
			</div>
			</div>
				<textarea id = "speech-10410" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10410">
					<img id="start_img-10410" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10410">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>