<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Localizing a swarm of robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1795" class = "post">
			<h2>Question</h2>
			<div id="vote-1795" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 301</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Localizing a swarm of robots</h2>
<p>I have a 300cm x 300cm room with a 25cm high ceiling (yes twenty five centimeters). It contains 50 small wheeled robots (about 20cm x 20cm). A central computer will orchestrate the movements of the robots, using a wireless network to send position commands to them. The robots will perform their own closed loop position control to save wireless bandwidth. The robots have 32-bit ARM microcontrollers. They have wheel position sensors, and the ability to do accurate wheel control. </p>

<p>Problem: The robots can't actually do this yet because they have no way to measure their position in the room.</p>

<p>Question: How can the robots be given the ability measure their position and orientation to an accuracy of better than  5mm? I am looking for an accurate and robust solution, which is not affected by occlusions, and doesn't require a high power PC on each robot. Whatever sensors are necessary for localisation can easily be added to the robots. The microcontrollers can easily be changed for more powerful ones if the localisation solution demands it.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1795" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-1795">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1795">Load Comments</button></br>
			<div id = "commentsection-1795" class = 'collapse'>
			<div id = "comment-3724" class = "comment">
				<p>What kind of sensors do the robots have and what kind of computational power?</p>
			</div>
			<div id = "comment-3725" class = "comment">
				<p>@DaemonMaker - Added that information, and tried to clarify the question.</p>
			</div>
			<div id = "comment-3726" class = "comment">
				<p>That's a good update @Rocketmagnet but the question is still rather open ended. There are lots of tricks in the localization literature that may be available to you depending on what your robots can observe about themselves, their environment, and each other. For instance there is a lot of work related to combining the beliefs of multiple robots to increase the accuracy of any given robot's belief. This can be achieved by adding a small camera and fiducial marker to each robot and wouldn't increase the processing much.</p>
			</div>
			<div id = "comment-3727" class = "comment">
				<p>Do occlusions block x-y line of sight, or z as well?  Eg, if you have lines, lasers, or mirrors on the ceiling, will robots usually be able to see them?</p>
			</div>
			<div id = "comment-3728" class = "comment">
				<p>@jwpat7 - Since the ceiling is so low and the robots practically touch it, there's basically never a line of sight  in the Z direction.</p>
			</div>
			</div>
				<textarea id = "speech-1795" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1795">
					<img id="start_img-1795" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1795">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1799"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1799" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If a <a href="http://www.vicon.com/" rel="nofollow">vicon system</a> is out of the question, then you can use a system of calibrated cameras to read markers placed on top of the robots. </p>

<ol>
<li>Place the best cameras you can get around the environment. I use $20 web cams from amazon.com</li>
<li>Use OpenCV's calibration tools to calibrate the cameras.</li>
<li>Place markers on top of the robots</li>
<li>The cameras know their relative positions in the environment, so by triangulating the marker positions, they can accurately output the position and orientation of the markers.</li>
</ol>

<p>Sort of like what <a href="http://mars.cs.umn.edu" rel="nofollow">these researchers</a> did in <a href="http://www-users.cs.umn.edu/~stergios/papers/TRO-Optimal-Motions-Distance-Bearing-2010.pdf" rel="nofollow">this paper</a> (see page 16)</p>

<p>However, as others have noted, if the ceiling is very low, you won't have a good line of sight to the top of the robots, and you'll have a difficult time using this method.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1799" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1799">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1799">Load Comments</button></br>
			<div id = "commentsection-1799" class = 'collapse'>
			<div id = "comment-3729" class = "comment">
				<p>Thanks for the answer. The problem with anything like Vicon is the massive amount of occlusion that happens when you have 50 robots crowding a room with such a low ceiling. I think that makes this kind of solution impossible.</p>
			</div>
			</div>
				<textarea id = "speech-1799" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1799">
					<img id="start_img-1799" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1799">Comment</button>
			<br><div id = "ans-1800"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1800" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If the ceiling is a flat surface that is visible from the tops of the robots, you could place marker stripes (or some other known fiducial pattern) on the ceiling at regular intervals.   The stripes might be white or black lines or narrow reflective tape, detected using photosensors on top of robots.</p>

<p>If wheel position sensors and accurate wheel control are good enough to maintain desired location data accuracy when a robot has moved no further than distance <em>d</em> from an accurately known position, the stripes (which might be white stripes, black stripes, or narrow reflective tape) might need to be placed no further than about <em>d</em>/ 2 apart.  </p>

<p>The motion-planning software probably would need to adapt. If a robot's position is consistently wrong when it crosses a stripe, adjust its ratio of wheel encoder counts to distance traveled; or if a stripe would be seen if a travel leg were just slightly longer, extend the leg to cross the stripe; or move to calibrate against several stripes just before any position-sensitive operations; or perform position-sensitive operations at a stripes crossing-point.</p>

<p>There is quite a variety of fiducial patterns possible.  Orthogonal stripes laid out parallel to x and y axes are probably simplest to create and work with.  But bulls-eyes, cross-hairs, wedges,  bar codes, and other patterns as well are worth considering.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1800" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1800">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1800">Load Comments</button></br>
			<div id = "commentsection-1800" class = 'collapse'>
			<div id = "comment-3735" class = "comment">
				<p>+1 Even though I read your answer before posting mine, I still posted pretty much the same answer about fiducials ... I blame lack of sleep.</p>
			</div>
			<div id = "comment-3736" class = "comment">
				<p>@ThomasH, thanks!  I'm suprised the OP hasn't voted up any of the answers, all of which provide *some* useful info.</p>
			</div>
			</div>
				<textarea id = "speech-1800" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1800">
					<img id="start_img-1800" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1800">Comment</button>
			<br><div id = "ans-1804"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1804" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some ideas off the top of my head...  Generally you can either have each robot sense it's own position or have some sort of system find the robots and send them information about their position (or a combination).  Possibly using other robot positions to locate yourself is another option if they can communicate.  You could also combine sensor information from the robots and other sources.</p>

<p><strong>Optical</strong></p>

<p>You can encode either absolute position or relative position on the floor or ceiling.  A sensor on the robot can look at those.  A sensor like the one in your optical mouse can get relative motion off most surfaces even without any pattern.  There were older style mice that used a patterned grid.</p>

<p>You could have two (or more) cameras on every robot looking at different directions, if the walls of the room have the right kind of pattern you could determine your location based on the images.  A spinning camera is another option.  Obstruction of the camera by other robots may be a concern.</p>

<p>A sensor array or camera in the floor or ceiling could locate the robots and then you can send the robots their location.</p>

<p>Some sort of spinning optical sensor that can locate the direction of an optical beacon (e.g. a LED).</p>

<p><strong>Sound</strong></p>

<p>You could have a few beacons around emitting ultrasound chirps.  If they are all synchronized (e.g. fixed delay between them) then given their location you could use a time of flight calculation to determine the position of the robot.  Many years ago I've worked with an ultrasound digitizer that was accurate to about a mm over a distance of about a meter so it seems in the ballpark.  Depending on the shape of your robot and the configuration of the swarm reflections and obstructions may or may not be a problem.  You would need to experiment but my gut feeling is that with enough beacons you could good performance.</p>

<p>Ultrasound range finders on every robot.  (spinning?)  Could map the distance to other robots or the walls.</p>

<p>If any of these sound interesting I can try develop those ideas a little further.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1804" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-1804">{'None': 75}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1804">Load Comments</button></br>
			<div id = "commentsection-1804" class = 'collapse'>
			<div id = "comment-3741" class = "comment">
				<p>I like the ultrasound method. I wonder if I could send it through the floor so that it could travel without being disturbed or reflected by the swarm.</p>
			</div>
			<div id = "comment-3750" class = "comment">
				<p>@Rocketmagnet: You could send it through the floor.  The problem is properly coupling the transducer which is usually done with gel. Would probably be kind of messy for your application.  Without the right coupling the ultrasound would simply bounce off the surface.  Perhaps the wheels of your robot could do the trick.</p>
			</div>
			<div id = "comment-6799" class = "comment">
				<p>@GuySirton I want to implement detection of ultrasound chirps from a device that are emitted from another device. I am struggling to do this because all the components I see available are range-finders which emit and detect the echo. They output the range and it is difficult to separate them into emit and receive parts. I need to send the signals through air. Any pointers or suggestions? Thanks!</p>
			</div>
			<div id = "comment-6829" class = "comment">
				<p>@necromancer you should be able to buy transmitters/receivers e.g. see this http://www.digikey.ca/product-detail/en/MA40S4R/490-7706-ND/4358146 and more in the same category...</p>
			</div>
			<div id = "comment-6830" class = "comment">
				<p>@GuySirton thank you very much. a big help!</p>
			</div>
			</div>
				<textarea id = "speech-1804" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1804">
					<img id="start_img-1804" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1804">Comment</button>
			<br><div id = "ans-1807"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1807" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The low distance between the top of the robot and the ceiling really restricts your options. It seems pretty much impossible to get a centralised overview of the whole room and work from there.</p>

<p>I'm not sure what kind of 'room' you are talking about and how much you can instrument it, but it might be an option to place markers on the ceiling rather than the robots. Given the short distance, you'd have to pretty much completely fill the ceiling with tiny markers that can be completely observed by an upwards pointing camera on every single robot, though you might be able to position this camera lower on the robot, say between the front and back wheels on either side, to give you a wider viewing angle. But the biggest challenge would be to print enough distinct markers to instrument the whole ceiling.</p>

<p>Alternatively, it might be conceivable to instrument the floor with lots of RFID tags, provided you can find readers that have a small enough range (AFAIK, RFID readers will only tell you that a certain tag is in range, not where it is). The <a href="http://www.phidgets.com/products.php?category=14&amp;product_id=1024_0" rel="nofollow">Phidgets RFID reader</a> already has a range of approx. 3 inches, so unless you localise by seeing which group of tags you can observe (if it's possible to observe multiple tags at the same time - can you tell I have no actual working experience with RFID?), you'd have to experiment with getting smaller tags and 'shielding' them to a degree from the reader, so that they can't be read other than at very close range.</p>

<p>All in all it seems a tough but very interesting challenge. If it's for work, I assume you can't tell us the purpose of the project, but it sure sounds intriguing :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1807" data-toggle = "popover">
				<p>user name : ThomasH</p>
				<p> user reputation : 612</p>
				<p class = "tagcontent" id = "usertaginfo-1807">{'None': 41, 'gazebo': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1807">Load Comments</button></br>
			<div id = "commentsection-1807" class = 'collapse'>
			<div id = "comment-3742" class = "comment">
				<p>Thanks for the answer. Frustratingly, there's so little I can disclose about the project that it's made it very difficult to ask the question.</p>
			</div>
			<div id = "comment-5112" class = "comment">
				<p>I was thinking the same thing.  Swimming pools have the colored flags above and lines below to indicate to the swimmer his location in in his lane in the pool.  Same concept but 2 axis instead of one.</p>
			</div>
			</div>
				<textarea id = "speech-1807" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1807">
					<img id="start_img-1807" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1807">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>