<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Localization within a map with gyro, accelerometer and magnetometer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12734" class = "post">
			<h2>Question</h2>
			<div id="vote-12734" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 64</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Localization within a map with gyro, accelerometer and magnetometer</h2>
<p>My goal is to locate precision within a known map. </p>

<p>If the size of the map is known, a rectangle 4 x 3 m, and I know the initial position and orientation of the robot, after a certain period of time here moved randomly, can you know at what point of the map I am? </p>

<p>I use the MPU 9250 sensor, gyro, accelerometer and magnetometer sensor.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12734" data-toggle = "popover">
				<p>user name : hackkato</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-12734">{'python': 2, 'None': 0, 'kinematics': 2, 'mapping': 2, 'raspberry-pi': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12734" class = 'collapse'>
			</div>
				<textarea id = "speech-12734" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12734">
					<img id="start_img-12734" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12734">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12735"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12735" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the acceleration relatively to time you can get  velocity and distance simply by ingrating ,and by how much you have moved added to your initail position  with respect to the orientation you get the position,meaning imagine you moved forward orientation is the same you add the distance to y then moved to right straight you add the distance to x,but when you move in x,y together  imagine you are in a triangle with the orientation as your angle </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12735" data-toggle = "popover">
				<p>user name : Abdull</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-12735">{'control': 0, 'None': 1, 'robotic-arm': 0, 'pid': 0, 'microcontroller': 1, 'precise-positioning': 0, 'legged': 0, 'servomotor': 1, 'motor': 0, 'mobile-robot': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12735">Load Comments</button></br>
			<div id = "commentsection-12735" class = 'collapse'>
			<div id = "comment-22346" class = "comment">
				<p>The measurement samples are discrete and the acceleration is not constant. How can I proceed? Some specific guides for python?</p>
			</div>
			</div>
				<textarea id = "speech-12735" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12735">
					<img id="start_img-12735" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12735">Comment</button>
			<br><div id = "ans-12744"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12744" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As @Abdul mentioned, and accelerometer measures acceleration which when integrated (adding together successive measurements over time) becomes velocity and when velocity is integrated you get position.  So (in theory) you can use the accelerometer to track position.</p>

<p>The challenge with this is that in the real world you have error.  As error is integrated over time it gets works and then when that is also integrated it gets WAY worse.</p>

<p>Last year our robotics team made a robot that focused on autonomy (the ability to drive itself).  Initially we used the drive encoders to track robot position and orientation; but, when the wheels slipped or the robot was bumped it would go off path.  To fix that, we added and accelerometer to correct.  The initial results were impressive.  You could bump the robot and it would return to the target path.  Then one competition we had a several minute delayed start and rather than driving straight it immediately turned right and climbed the ramp.  Epic Fail.</p>

<p>There are ways to correct (some) for the accumulated error.  One technique is to use a <a href="https://en.wikipedia.org/wiki/Kalman_filter" rel="nofollow noreferrer">Kalman Filter</a>.  Since the robot starts and stops a lot, the average acceleration should be zero.  Also, you can compensate for bearing errors by using the magnetometer to detect and compare bearing changes.  Another option is to use points where you know your robot's position, velocity, or orientation to correct calculated values.</p>

<p>The bottom line is that yes you can use and accelerometer to track potion; but, you will have to deal with accumulated error.  The better you handle that the better your positional accuracy will be.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12744" data-toggle = "popover">
				<p>user name : markshancock</p>
				<p> user reputation : 383</p>
				<p class = "tagcontent" id = "usertaginfo-12744">{'quadcopter': 1, 'None': 15, 'rcservo': 2, 'first-robotics': 2, 'servomotor': 2, 'servos': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12744" class = 'collapse'>
			</div>
				<textarea id = "speech-12744" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12744">
					<img id="start_img-12744" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12744">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>