<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Long range distance measurements
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12051" class = "post">
			<h2>Question</h2>
			<div id="vote-12051" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 24</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Long range distance measurements</h2>
<p>We are building a plane which should fly autonomously, to achieve best results in the enviroment we are flying in (many Hills and Mountains) we need some sort of reliable height readings.</p>

<p>We already get some information using a barometer and the google maps elevation API but especially for landing and low alltitude flights we need a precise height.</p>

<p>Most sensors have a bad performance on grass (SRF-08 achieves about 1m; Lidar Lite about 3-4m). Is there some (not to expensive) sensor which can measure distances to at least 50m with a precision of about 20cm? Which method would be suitable for this application?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12051" data-toggle = "popover">
				<p>user name : aul12</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-12051">{'None': 8, 'cameras': 0, 'ultrasonic-sensors': 0, 'lidar': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12051" class = 'collapse'>
			</div>
				<textarea id = "speech-12051" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12051">
					<img id="start_img-12051" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12051">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12054"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12054" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am guessing that because the surface is non-flat and has different levels of reflective that your readings are very noisy. You might get better results if you do sensor fusion between all the sensors and/or just filter the results with a LPF.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12054" data-toggle = "popover">
				<p>user name : EngineeringStudent</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-12054">{'stereo-vision': 0, 'None': 12, 'computer-vision': 0, 'localization': 1, 'mapping': 2, 'lidar': 2, 'mobile-robot': 2, 'ros': 0, 'navigation': 0, 'gps': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12054" class = 'collapse'>
			</div>
				<textarea id = "speech-12054" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12054">
					<img id="start_img-12054" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12054">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>