<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Looking for a cheap(ish) micromouse that I can program with C~C++
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5108" class = "post">
			<h2>Question</h2>
			<div id="vote-5108" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 569</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Looking for a cheap(ish) micromouse that I can program with C~C++</h2>
<p>I'm looking to buy a micromouse (i.e. a small single-board unit with wheels and IR sensors that can move around freely). I've done a lot of searching but have only found resources relating to building one from components bought separately. However, I'm more of a programmer than an electrician so I fear I would struggle with this.</p>

<p>Anybody know where to buy one of these in the UK? (PICAXE does some suitable stuff but they're BASIC only unfortunately). My budget is about  60.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5108" data-toggle = "popover">
				<p>user name : Jazcash</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-5108">{'mobile-robot': 0, 'None': 0, 'micromouse': 0, 'wheeled-robot': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5108">Load Comments</button></br>
			<div id = "commentsection-5108" class = 'collapse'>
			<div id = "comment-9271" class = "comment">
				<p>Welcome to *robotics* Jazcash, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-5108" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5108">
					<img id="start_img-5108" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5108">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5115"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5115" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you'll be hard-pressed to find a Micromouse off the shelf besides PICAXE.  If you want one that's a bit more advanced, I'd recommend putting the robot together yourself.  I would encourage you to try out the electronics on a project like this, they aren't too bad to figure out and there are lots of resources online.  </p>

<p>Some recommendations:</p>

<ul>
<li>An arduino-nano is capable for such a task, look into AVR-GCC for programming.</li>
<li>NEMA-17 sized stepper motors will supply enough power, Pololu is a good site to find these motors and matching wheels/controllers.  </li>
<li>I've seen people use Sharp IR's before, this will simplify some of the electronics.  </li>
</ul>

<p>This is a difficult project but very rewarding!  Best of luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5115" data-toggle = "popover">
				<p>user name : JMarple</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-5115">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5115">Load Comments</button></br>
			<div id = "commentsection-5115" class = 'collapse'>
			<div id = "comment-7872" class = "comment">
				<p>Might try building one then. There are indeed a lot of resources out there to help, but I have absolutely no experience with electronics so it's quite a scary thing to look into when most the articles I've read are very jargony and over-my-head technical.</p>
			</div>
			</div>
				<textarea id = "speech-5115" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5115">
					<img id="start_img-5115" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5115">Comment</button>
			<br><div id = "ans-5146"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5146" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Try a <a href="http://www.pololu.com/product/975" rel="nofollow noreferrer">Pololu 3Pi</a>. They were going for 50usd during black friday. Normally $99.  You can use arduino IDE to program it using Wiring, a C/C++ like language.</p>

<p>You would probably have to add IR sensors yourself, either via the expansion board, or re-wire the existing line detectors</p>

<p>At the moment, Hobby Robots are still only reachable by those with soldering skills. But that will be changing in the next few years.</p>

<p><img src="https://i.stack.imgur.com/K3Emz.jpg" alt="3Pi"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5146" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-5146">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5146" class = 'collapse'>
			</div>
				<textarea id = "speech-5146" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5146">
					<img id="start_img-5146" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5146">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>