<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>looking for a miniature joystick, but in reverse
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1021" class = "post">
			<h2>Question</h2>
			<div id="vote-1021" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 163</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>looking for a miniature joystick, but in reverse</h2>
<p>Does anyone know if small mechanical actuators exist which can be controlled electrically, sort of like a miniature joystick, but in reverse.  Instead of it picking up mechanical movement and outputting electrical signals, I want it to generate mechanical movement controlled via my electrical input signals.  I ve searched for : electromechanical actuators, not finding what I need. Think of a pencil attached to a surface which can pivot to point anywhere in its half dome.  I m thinking small, on the order of an inch.  It will not be load bearing. </p>

<p>My goal is to programmatically control the normal pointed to by a small flat surface attached to the end of each joystick rod.  Accuracy is more important than speed.  From across a small room, say 10' by 10', I'd like the surface normal to accurately point to arbitrary objects in the room, say a person walking across the room.  If I can cheaply buy/build such mechanisms to control the movement of these small flat surfaces, I would like dozens places across the walls of the room.</p>

<p>Its for an electromechanical sound project I m planning. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1021" data-toggle = "popover">
				<p>user name : Scott Stensland</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1021">{'control': 4, 'actuator': 4, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1021">Load Comments</button></br>
			<div id = "commentsection-1021" class = 'collapse'>
			<div id = "comment-2435" class = "comment">
				<p>Thanks *Event Horizon*, that's sounds like an interesting project. It sounds like a tough set of requirements to do cheaply though, especially if you want lots of them. Hopefully people can come up with a some possibilities for you.</p>
			</div>
			<div id = "comment-4740" class = "comment">
				<p>+1 to both Andrew Wagner and mimipc's answers.  You will need to build your 2-degree-of-freedom actuator out of two separate 1-degree-of-freedom actuators, either in a polar coordinate (pan/tilt) or cartesian coordinate (x axis / y axis) system.  https://www.sparkfun.com/tutorials/304 might have the image of what you're trying to describe.</p>
			</div>
			</div>
				<textarea id = "speech-1021" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1021">
					<img id="start_img-1021" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1021">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1024"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1024" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could do this using two servos (one for each axis).
Here is what I mean (sorry for the poor graphics) :</p>

<p>Edit : trying to find the original image and upload it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1024" data-toggle = "popover">
				<p>user name : mimipc</p>
				<p> user reputation : 240</p>
				<p class = "tagcontent" id = "usertaginfo-1024">{'quadcopter': 11, 'stability': 9, 'None': 4, 'battery': 5, 'bec': 2, 'brushless-motor': 3, 'esc': 2, 'electronics': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1024">Load Comments</button></br>
			<div id = "commentsection-1024" class = 'collapse'>
			<div id = "comment-2397" class = "comment">
				<p>The diagram is great mimipc. Whatever actuator is used, the same physical mounting as you describe could be used translate a small actuator movement into a movement of the *tip* within the hemisphere of movement.</p>
			</div>
			<div id = "comment-2402" class = "comment">
				<p>@mimipc cool thanks - this morning I was thinking of a similar possibility - I will try using a servo approach</p>
			</div>
			<div id = "comment-2406" class = "comment">
				<p>@EventHorizon - Don't be too quick to judge an answer. By accepting mimipc's answer, you may discourage other solutions. Given the coupling, there could be other ideas which are be easier to control than this one.</p>
			</div>
			<div id = "comment-2407" class = "comment">
				<p>I agree with Mark Booth. This was just an idea and it has some limitations. For example, it doesn't allow much movement, and is not a complete hemisphere. The zone is pretty much a restricted cone.</p>
			</div>
			<div id = "comment-11638" class = "comment">
				<p>It looks like the images you uploaded here have been replaced with advertisements by ImageShack. Do you have backup copies, by any chance?</p>
			</div>
			<div id = "comment-11644" class = "comment">
				<p>Thanks for letting me know, I'll try to find the original one.</p>
			</div>
			<div id = "comment-11656" class = "comment">
				<p>If you use the image insert button rather than directly linking to an image, then the image is copied to the stack exchange imgur, and should never be lost or replaced. Also, it's a good idea to add a description (for blind users) and a link to the page it was copied from (assuming it is an attribution licensed image). Best of luck finding it again.</p>
			</div>
			</div>
				<textarea id = "speech-1024" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1024">
					<img id="start_img-1024" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1024">Comment</button>
			<br><div id = "ans-2415"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2415" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The device you are looking for is a "pan-tilt" unit.  They are typically used for pointing security cameras.  If you find a "PTZ", i.e. pan-tilt-zoom security camera used, you could butcher it an just use the Pan/Tilt part.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2415" data-toggle = "popover">
				<p>user name : Andrew Wagner</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-2415">{'None': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2415">Load Comments</button></br>
			<div id = "commentsection-2415" class = 'collapse'>
			<div id = "comment-4741" class = "comment">
				<p>yes that's the term I am looking for:  Pan/Tilt Bracket  - thanks</p>
			</div>
			</div>
				<textarea id = "speech-2415" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2415">
					<img id="start_img-2415" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2415">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>