<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Low power to motors -- motor power jumper issue
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6900" class = "post">
			<h2>Question</h2>
			<div id="vote-6900" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 157</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Low power to motors -- motor power jumper issue</h2>
<p>I'm currently working on my first robotics project using the <a href="http://4tronix.co.uk/store/index.php?rt=product/product&amp;product_id=171" rel="nofollow">Initio kit from 4tronix</a> powered by Raspberry Pi. The setup was fairly simple, and I've been testing it out over the last couple of days. All of the sensors work as expected; however, my motor tests are failing. When I input commands to actually move the robot, I can hear the DC motors running but they're not getting enough power to do anything. In the instructions, it says if this issue is encountered, that the power selection jumper might not be set correctly and provides this diagram:</p>

<p><a href="https://onedrive.live.com/redir?resid=3C398965F6E3D4A1!69271&amp;authkey=!AAPxSGXtZsVBWxY&amp;v=3&amp;ithint=photo%2cjpg" rel="nofollow"><img src="https://xdteya-ch3301.files.1drv.com/y2mGTgMLv3fnWgVl5wjaInciwhc93ByI8lhDwjzUcpCIQkaDKpugWr-uJoKAalXvf06LRv2nNmqJ3tbryGkGJA5p4EvWG96dlBQ4H_C0Inw0FrOrewIvratJ6_zcX4-BIE-HknIwyKUGQ9bkqpPOSQlqA/pirocon.jpg?psid=1" alt=""></a></p>

<p>For comparison, here's how I have the wiring for the motors setup:</p>

<p><a href="https://onedrive.live.com/redir?resid=3C398965F6E3D4A1!69260&amp;authkey=!ABFSrJ5e5ru42Dg&amp;v=3&amp;ithint=photo%2cjpg" rel="nofollow"><img src="https://xttdya.dm2302.livefilestore.com/y2mqOa7YTsmXAtHAs-JEDc1px07PIEFjrLVM53pFYpDCuWrgDLZDzL7X7Rwd0nwhCGK4xChoR--yTBYSZnwbhb0RDnXPxRpKLC8Il2eHfHS1x1xCAetDTeE3cvStshsMWMc3VEMpTTnSo-N3cr6n7unXg/robo_pic_crop_one.jpg?psid=1" alt=""></a></p>

<p>I'm not entirely sure what it means to have the power selection jumper being set incorrectly and would greatly appreciate it if someone could explain this to me or point out if they see anything wrong with my setup.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6900" data-toggle = "popover">
				<p>user name : wrigley06</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6900">{'first-robotics': 0, 'mobile-robot': 0, 'None': 0, 'raspberry-pi': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6900">Load Comments</button></br>
			<div id = "commentsection-6900" class = 'collapse'>
			<div id = "comment-9866" class = "comment">
				<p>I meant to post a link to the kit's home page, but I don't have the reputation points to post more than two links in a question. If you're interested, the kit can be found here http://4tronix.co.uk/store/index.php?rt=product/product&product_id=171</p>
			</div>
			<div id = "comment-9883" class = "comment">
				<p>I added the kit link into question.</p>
			</div>
			<div id = "comment-10086" class = "comment">
				<p>After reviewing the documentation on it, it appears that you have everything hooked up correctly, try higher power batteries, or simply more to allow more current through.</p>
			</div>
			</div>
				<textarea id = "speech-6900" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6900">
					<img id="start_img-6900" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6900">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6965"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6965" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I had exactly the same problem ; I contacted 4tronix and they said "Use Energiser or Eneloop recharcheable batteries" (I was using Duracells) I did as they said and it worked fine. Mind you I am still not sure what initio.py actually does ....</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6965" data-toggle = "popover">
				<p>user name : Roger Goulder</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6965">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6965">Load Comments</button></br>
			<div id = "commentsection-6965" class = 'collapse'>
			<div id = "comment-11073" class = "comment">
				<p>Have this other batteries another voltage? Or what?</p>
			</div>
			</div>
				<textarea id = "speech-6965" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6965">
					<img id="start_img-6965" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6965">Comment</button>
			<br><div id = "ans-10183"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10183" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I had the same problem with the "Ultimate 4tronix Initio 4WD Robot Kit" - the motors make some noise, but do not start moving. I tried using 8 batteries instead of 6 (for higher voltage on the motor), that helped for one motor assembly, but did not work for the other. I disassembled the gear box, and found that several of the gears had small plastic bumps remaining from injection molding. Those bumps were on horizontal parts of the gears, and some - between teeth of the gear. Here is a photo of one of them. <a href="https://i.stack.imgur.com/shI9l.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/shI9l.jpg" alt="Plastic gear with traces of injection molding"></a> Plastic forks that are used to switch rotors off from the motor also have a ridge in the middle, and I think it is high enough to touch the teeth of the gear. <a href="https://i.stack.imgur.com/UeV5v.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UeV5v.jpg" alt="enter image description here"></a></p>

<p>Below is the photo of the gear box immediately after I opened it - white paste is some kind of lubricant. <a href="https://i.stack.imgur.com/y7Pdm.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/y7Pdm.jpg" alt="Gear box after disassembly"></a></p>

<p>Then I increased the number of batteries to 10, and was able to get consistent rotation from one of the gear boxes at speeds of 30% to 100% - in the air, without wheels attached. The other gear box behaves much worse - sometimes manages to start up, sometimes not.</p>

<p>After spending few more evenings on the gear boxes, I was able to make them start consistently at speeds of 50% to 100%. </p>

<p>Here are the steps if you want to try this on your gear boxes:</p>

<ol>
<li>Disconnect motors from any power supply.</li>
<li>Unscrew gear box from the chassis.</li>
<li>Unscrew 2 screws of the rotational encoder, detach it.</li>
<li>Unscrew 6 screws that hold the gear box case. Remove the gear box cap.</li>
<li>Take a photo or remember where each gear sits, and which side of the gear is up.</li>
<li>Carefully remove plastic gears and metal axles. Remember which axle was coming from where, as they are of different lengths. They will be in a greasy lubricant.</li>
<li>Unscrew 3 screws of the hood that protects the motor. Take a photo or remember which side the wires are pointing to. </li>
<li>Pull the motor from the gear box.</li>
<li>There may be some lubricant on the gear attached to the motor - wipe it with a cloth or tissue paper. Do not wash motor in water.</li>
<li>Wash gear box case, metal axes and gears in warm water with soap or kitchen washing up liquid. The goal is to get rid of the lubricant - it is not necessary, as the friction of plastic to plastic and plastic to metal is very small for the materials used in this gear box.</li>
<li>Wipe the gears and gear box case with tissue paper until they are dry. Make sure not to leave any paper on the gears.</li>
<li>Match gears with holes to the corresponding metal axles, try to rotate them - they should turn without significant friction. If there is some friction, use a thin round metal file to slightly increase the diameter of the hole in the gear. After using the file, make sure to wash the gear, so that small pieces of plastic do not go to the gear box.</li>
<li>Find a small plastic tube, like from LEGO Technic (see  Figure 2 below). Cut it a bit, so that it can be used as a support for the small gear with hole (See Figure 3 below).</li>
<li>Inspect each gear, and remove any bumps on the horizontal sides with a file.</li>
<li>Pay special attention to the sides of the gears marked by red arrows on Figure 5 below. Those sides should be filed so that a small chamfer is formed. It should not be a proper 45 degrees chamfer, you just need to remove a bit of material to make sure the teeth are not touching another gear.</li>
<li>Wash the gears after polishing, so that the dust does not go to the gear box.</li>
<li>Assemble the gear box without motor, try to turn one of the side axles. The rotation should be smooth, none of the gears should wobble or jump. If they do, or if you feel any obstruction on one of the angles, find the offending gear and polish it more.</li>
<li>Cut the legs of the black plastic forks, as they are not needed and can prevent gears from folling (see Figure 4 below).</li>
<li>Assemble the gear box back, screw in 6 screws. </li>
<li>Make sure the axles still can be turned without significant friction.</li>
<li>Looks into the motor holder place, note two bumps inside. There are corresponding holes on the motor, orient it accordingly, check the location of wire, and insert the motor.</li>
<li>Attach the motor hood. </li>
<li>Check that the motor is turning at reasonable levels of speed (pulse-width modulation).</li>
<li>Attach the encoder and check the motor again. </li>
</ol>

<p><a href="https://i.stack.imgur.com/kbnQt.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/kbnQt.jpg" alt="Polishing the gears"></a></p>

<p>The gear boxes are very noisy when they manage to start rotating. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10183" data-toggle = "popover">
				<p>user name : user14084</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-10183">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10183">Load Comments</button></br>
			<div id = "commentsection-10183" class = 'collapse'>
			<div id = "comment-18118" class = "comment">
				<p>Below is the photo of the gear box immediately after I opened it - white paste is some kind of lubricant. http://i.stack.imgur.com/y7Pdm.jpg</p>
			</div>
			</div>
				<textarea id = "speech-10183" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10183">
					<img id="start_img-10183" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10183">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>