<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Low power computer for stereo vision
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6508" class = "post">
			<h2>Question</h2>
			<div id="vote-6508" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1492</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Low power computer for stereo vision</h2>
<p>I would like to build a motorized robot with stereo vision that sends visual input to a PC over wifi for processing. A Raspberry Pi would have been perfect for the task if it would be possible to connect 2 cameras. The Pi 2 would be powerful enough for two USB webcams (with minimum 8fps) I guess, but the shared USB seems to be a bottleneck (2 cameras + wifi dongle).</p>

<p>What other options are there to send input from 2 cameras and control a motor (or an arduino)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6508" data-toggle = "popover">
				<p>user name : TomTom</p>
				<p> user reputation : 138</p>
				<p class = "tagcontent" id = "usertaginfo-6508">{'None': 0, 'computer-vision': 7, 'cameras': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6508">Load Comments</button></br>
			<div id = "commentsection-6508" class = 'collapse'>
			<div id = "comment-9371" class = "comment">
				<p>With two USB webcams you would have to worry about synchronization.</p>
			</div>
			<div id = "comment-9399" class = "comment">
				<p>have you looked at the Jetson TK1?</p>
			</div>
			<div id = "comment-9560" class = "comment">
				<p>You should consider an ODROID U3 from Hardkernel. I'm using them for stereo vision on MAVs and they work great.</p>
			</div>
			<div id = "comment-9934" class = "comment">
				<p>@abarry: Do you do your stereo matching on the U3 directly or do you send the image frames elsewhere for processing? The board is rather weak to the the processing itself, right? I did not find it to support OpenCL for GPGPU.</p>
			</div>
			<div id = "comment-9948" class = "comment">
				<p>(sorry, I can't make comments) @Kozuch: all the processing is on the [ODROID-U3](http://www.hardkernel.com/main/products/prdt_info.php?g_code=g138745696275). You can expect to get 5-10fps on 320x240 stereo USB cameras (black and white) in OpenCV without parallelizing any of the code. You can read about how we get 120 fps (8.3ms / frame) in our ICRA 2015 preprint below. The USB bus is sufficient for those frame sizes and rates with two cameras. Overall, the ODROID-U2/U3 will preform much better than a Pi. Andrew J. Barry and Russ Tedrake. Pushbroom stereo for high-speed navigation in cluttered</p>
			</div>
			<div id = "comment-20530" class = "comment">
				<p>Have you considered two raspberry pi units?</p>
			</div>
			</div>
				<textarea id = "speech-6508" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6508">
					<img id="start_img-6508" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6508">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6521"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6521" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You probably are asking too much of inexpensive components.</p>

<p>The raspberry Pi does not have 2 camera connections, but its brother, the Pi Compute board does.</p>

<p><img src="https://i.stack.imgur.com/htHOP.jpg" alt="enter image description here"></p>

<p><a href="http://makezine.com/2014/11/03/stereo-depth-perception-with-raspberry-pi/" rel="noreferrer">http://makezine.com/2014/11/03/stereo-depth-perception-with-raspberry-pi/</a></p>

<p>Even then, you will have to write optimized GPU Code in assembler to get anything near acceptable performance if you try to do it all on the Pi.</p>

<p>I doubt there will be any cpu cycles left to do anything else.</p>

<p>For now I believe the best inexpensive solution remains the Kinect. I've seen some recent new products described, but no news of how they work for robotics (Intel RealSense, Creative Senz3D). </p>

<p>Wait for something new or spend more money or use the Kinect.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6521" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6521">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6521" class = 'collapse'>
			</div>
				<textarea id = "speech-6521" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6521">
					<img id="start_img-6521" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6521">Comment</button>
			<br><div id = "ans-7010"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7010" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The lowest cost options for stereo vision that I have used are the Nvidia K1 boards (around 200$), with integrated GPU that can be taken advantage of by the OpenCV GPU libraries I can get 30+ fps with 2 720p streams doing just stereo depth mapping.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7010" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7010">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7010" class = 'collapse'>
			</div>
				<textarea id = "speech-7010" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7010">
					<img id="start_img-7010" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7010">Comment</button>
			<br><div id = "ans-7015"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7015" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm working in a project where I'm using a Netduino+2 and 2 Cameras (maybe it will be more than that), I'm working with I2C. I can connect all the cameras I want.</p>

<p>I don't know if it is an option for you, because in my case I only need positions. The image processing is on the camera side.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7015" data-toggle = "popover">
				<p>user name : J natas Br s</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-7015">{'stereo-vision': 2, 'None': 2, 'microcontroller': 2, 'cameras': 2, 'robotic-arm': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7015" class = 'collapse'>
			</div>
				<textarea id = "speech-7015" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7015">
					<img id="start_img-7015" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7015">Comment</button>
			<br><div id = "ans-7017"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7017" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you're working with the K1 and stereovision you might be interested by this <a href="http://jetsonhacks.com/2015/03/25/stereolabs-zed-camera-3d-depth-sensing-gtc-2015/" rel="nofollow">http://jetsonhacks.com/2015/03/25/stereolabs-zed-camera-3d-depth-sensing-gtc-2015/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7017" data-toggle = "popover">
				<p>user name : thib_3Dguru</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7017">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7017" class = 'collapse'>
			</div>
				<textarea id = "speech-7017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7017">
					<img id="start_img-7017" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7017">Comment</button>
			<br><div id = "ans-11357"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11357" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Not sure how well this will run on a Raspberry Pi but the Zed stereo camera does most of the processing istelf with makes it ideal for this type of thing.</p>

<p><a href="https://www.stereolabs.com/" rel="nofollow noreferrer">https://www.stereolabs.com/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11357" data-toggle = "popover">
				<p>user name : NickF</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-11357">{'gearing': 0, 'None': 1, 'motor': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11357">Load Comments</button></br>
			<div id = "commentsection-11357" class = 'collapse'>
			<div id = "comment-20959" class = "comment">
				<p>Doesn't the Zed explicitly require CUDA capability?</p>
			</div>
			<div id = "comment-20970" class = "comment">
				<p>Ah, yes it does. Thanks for pointing that out. I'm running the ZED from a NVidia Jetson TX1 which has CUDA. I don't think the ZED would work on a raspberry pi.</p>
			</div>
			</div>
				<textarea id = "speech-11357" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11357">
					<img id="start_img-11357" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11357">Comment</button>
			<br><div id = "ans-11728"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11728" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you're working with the TK1 and stereo camera, you might consider this:</p>

<p><a href="https://devtalk.nvidia.com/default/topic/994170/jetson-tk1-and-stereo-vision/" rel="nofollow noreferrer">https://devtalk.nvidia.com/default/topic/994170/jetson-tk1-and-stereo-vision/</a></p>

<p>These stereo cameras are supports ROS: <a href="http://rosindustrial.org/news/2016/1/13/3d-camera-survey" rel="nofollow noreferrer">http://rosindustrial.org/news/2016/1/13/3d-camera-survey</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11728" data-toggle = "popover">
				<p>user name : venkat</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11728">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11728" class = 'collapse'>
			</div>
				<textarea id = "speech-11728" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11728">
					<img id="start_img-11728" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11728">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>