<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Low-cost servo with digital control interfaces?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-274" class = "post">
			<h2>Question</h2>
			<div id="vote-274" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 725</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Low-cost servo with digital control interfaces?</h2>
<p>Some years ago, there where some projects that provided hardware and software to perform modifications on standard hobby servos to convert them to digital servos, with all the advantages that come with it. </p>

<ul>
<li><a href="http://openservo.com/" rel="nofollow">OpenServo</a> is a little outdated, and does not seem to be worked on anymore, and there is no hardware to buy.</li>
<li>Sparkfun has its <a href="https://www.sparkfun.com/products/9014" rel="nofollow">own version</a> of the OpenServo, which at least is available for buying.</li>
</ul>

<p>Do you know if there are other mods, or even complete low cost digital servos? I am mostly interested in position feedback, and servo chaining.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-274" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-274">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-274">Load Comments</button></br>
			<div id = "commentsection-274" class = 'collapse'>
			<div id = "comment-9930" class = "comment">
				<p>I know this is an old question, but it really seems like Openservo is even more irrelevant now. You can get cheap Dynamixel-clones for around \$20, whereas with Openservo you have to buy A \$15 board, a \$15 hobby servo and then disassemble then desolder then resolder then reassemble them yourself. Just get a real "digital robot" servo and save yourself the hassle.</p>
			</div>
			</div>
				<textarea id = "speech-274" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-274">
					<img id="start_img-274" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-274">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-290"  class = "post">
				<h2>Answer</h2>
			<div id="vote-290" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, the v3 OpenServo is out of stock.</p>

<p>In fact we are working on a new version 4 of OpenServo that will modernise the codebase.</p>

<p>There are no timelines for the v4 as yet, but work has only just started.</p>

<p>I would recommend the SparkFun board for now.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-290" data-toggle = "popover">
				<p>user name : Barry Carter</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-290">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-290" class = 'collapse'>
			</div>
				<textarea id = "speech-290" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-290">
					<img id="start_img-290" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-290">Comment</button>
			<br><div id = "ans-334"  class = "post">
				<h2>Answer</h2>
			<div id="vote-334" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With a bit of additional research I have found one other project very similar to the OpenServo project. They are called supermodified servos. Some of the web sources are not available anymore, but there is the source for the project, which is quite advanced on google code and on github:</p>

<ul>
<li><a href="http://code.google.com/p/zosupermodified/" rel="nofollow">zosupermodified</a> - source code for the controller</li>
<li><a href="https://github.com/jandetlefsen/Supermodified-Servo" rel="nofollow">Supermodified-Servo</a> - eagle files</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-334" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-334">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-334" class = 'collapse'>
			</div>
				<textarea id = "speech-334" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-334">
					<img id="start_img-334" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-334">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>