<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Make Pepper understanding and speaking German or other none-english languages
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13905" class = "post">
			<h2>Question</h2>
			<div id="vote-13905" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 26</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Make Pepper understanding and speaking German or other none-english languages</h2>
<p>I am using the "Choreography" software to interact with Pepper. I can create english dialogs there. But I have problems to change the language to (e.g.) German.</p>

<p>In the settings of a Dialog I can choose other languages (e.g. German). <strong>But</strong> when I create a "Topic" there is only a checkbox for English. So I am confused at this point.</p>

<p>:EDIT:</p>

<p>The properties of the project itself does have language settings, too. There you have to check the languages you want to support. Then they are available for the modules.</p>

<p><a href="https://i.stack.imgur.com/RJLlD.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/RJLlD.png" alt="enter image description here"></a></p>

<p>Currently I need to restrict my answer to the "Choreography" software only. The software now offers "Topics" in "German". But Pepper now does nothing. There is a problem I currently can not identify.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13905" data-toggle = "popover">
				<p>user name : buhtz</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-13905">{'None': 0, 'mapping': 0, 'speech-processing': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13905">Load Comments</button></br>
			<div id = "commentsection-13905" class = 'collapse'>
			<div id = "comment-22787" class = "comment">
				<p>Welcome to *Robotics*, buhtz. As it stands, I *think* you're referring to the [robot Pepper](https://www.ald.softbankrobotics.com/en/cool-robots/pepper), though it's not clear. Regardless, questions about how to use or interact with a particular robot or software package should generally be [directed to the vendor](https://www.ald.softbankrobotics.com/en/about-us/contact).</p>
			</div>
			<div id = "comment-22788" class = "comment">
				<p>Questions which can only be answered by the pre-sales or technical support team for a specific manufacturer or supplier aren't a good fit for a stack exchange site. *[Practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)* are always welcome here though, so if you edit your question to fit our community guidelines we can reopen it for you. Please take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-22793" class = "comment">
				<p>@Chuck I checked to how to ask before. You posed only a default textblock to desribte your delete-reason. Could you please again use your own words why you deleted this? I don't understand why.</p>
			</div>
			<div id = "comment-22794" class = "comment">
				<p>I explained in my own words in the [first comment](https://robotics.stackexchange.com/questions/13905/make-pepper-understanding-and-speaking-german-or-other-none-english-languages?noredirect=1#comment22787_13905). You are asking a question that is best and/or only answerable by the software manufacturer. Try [contacting the manufacturer](https://developer.softbankrobotics.com/us-en/support). I *do* see that they (sadly) refer people to [Stack Overflow for answers](https://stackoverflow.com/questions/tagged/pepper) - [as you appear to already know](https://stackoverflow.com/q/45330210/5171120).</p>
			</div>
			<div id = "comment-22795" class = "comment">
				<p>I closed the question because I think you should contact the vendor. The vendor says go to [so]. The closing message on the comment says, in part, *"Questions which are not specific to robotics are off-topic, but can be asked on other Stack Exchange sites: **Stack Overflow for programming questions**."* Regardless, the template comment says everything: *Questions which can only be answered by the ... technical support team for a specific manufacturer or supplier aren't a good fit for a stack exchange site ... if you edit your question to fit our community guidelines we can reopen it for you.*</p>
			</div>
			</div>
				<textarea id = "speech-13905" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13905">
					<img id="start_img-13905" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13905">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>