<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>making a robot that knows your location
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5180" class = "post">
			<h2>Question</h2>
			<div id="vote-5180" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 366</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>making a robot that knows your location</h2>
<p>I've just made a radio frequency remote control using PIC microcontroller and I want to do something useful with it. I am thinking of a robot that gets things for you while you are at bed but here comes the question: How am I going to have the PIC determine the location of the remote control calling for it? It can't really be done using a GPS module because it will all be in the house.</p>

<p>What options do I have?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5180" data-toggle = "popover">
				<p>user name : fady basem</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-5180">{'None': 0, 'microcontroller': 2, 'localization': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5180">Load Comments</button></br>
			<div id = "commentsection-5180" class = 'collapse'>
			<div id = "comment-12869" class = "comment">
				<p>Welcome to the world of indoor navigation :D</p>
			</div>
			</div>
				<textarea id = "speech-5180" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5180">
					<img id="start_img-5180" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5180">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5184"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5184" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For closed spaces (like a robot in a factory moving pieces from A to B) it is usually the best solution to put some beacons on walls, carpet, edge, doors, etc.. and doing a localisation based on fixed markers or beacons. Here get you an idea: <a href="https://parasol.tamu.edu/wafr06/papers/p45.pdf" rel="nofollow">https://parasol.tamu.edu/wafr06/papers/p45.pdf</a>
but I strongly suggest you to read the following <a href="http://www.robotee.com/EBooks/Introduction_to_Autonomous_Mobile_Robots.pdf" rel="nofollow">book</a>
.
Forget Voronoi, potential fields and EKF or Markov probabilistic methods. The way you want to go is triangulation between fixed markers. Usually you need at least 3 of them, preferably 4. It is not really difficult as you can image. It is enough to mount a light emitter on your robot, put some <a href="https://www.google.de/search?q=reflecting%20beacon&amp;client=ubuntu&amp;hs=JUR&amp;channel=fs&amp;source=lnms&amp;tbm=isch&amp;sa=X&amp;ei=tF-TVPLUC-LQygOOkoLICQ&amp;ved=0CAgQ_AUoAQ&amp;biw=1600&amp;bih=805#channel=fs&amp;tbm=isch&amp;q=reflective%20strip" rel="nofollow">reflecting strips</a> on the wall and write a program to read the intensity of the light reflected from the marker and the angle. Some of them are in Infrared light spectrum, so you don't see anything. If I find the book, where I read about this, I ll tell you.</p>

<p>Or you can use a solenoid under the carpet..a line follower just to get the idea. The idea with the reflective strips is the most commons in industry where a robot must move in a given space but on medium-long distance.</p>

<p>A GPS does in reality the same...with 4 satellites</p>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5184" data-toggle = "popover">
				<p>user name : Dave</p>
				<p> user reputation : 294</p>
				<p class = "tagcontent" id = "usertaginfo-5184">{'control': 10, 'quadcopter': 11, 'None': 6, 'pid': 13, 'uav': 3, 'matlab': 0, 'mobile-robot': 0, 'ros': 2, 'movement': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5184">Load Comments</button></br>
			<div id = "commentsection-5184" class = 'collapse'>
			<div id = "comment-9256" class = "comment">
				<p>I disagree with dismissing probabilistic methods.  There will always be noise in the measurements and pure triangulation doesn't account for it.</p>
			</div>
			<div id = "comment-11511" class = "comment">
				<p>A note about the # of markers: a 1-story house would need 3 as a minimum. A 2-story house needs 4 as a minimum. The minimum is defined as the # of dimensions in your state space, plus 1.</p>
			</div>
			</div>
				<textarea id = "speech-5184" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5184">
					<img id="start_img-5184" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5184">Comment</button>
			<br><div id = "ans-7300"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7300" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you want to find an RF transmitter using the robot that receives the signal, which is difficult to do with the degree of accuracy that you would probably need.  The strength of a signal (whether optical, auditory, or RF) in a real-world environment varies due to interference.  </p>

<p>Not only that, you'd have to assume that the robot could move directly toward the signal at all times.</p>

<p>The most robotics-oriented way to do this would be to have the transmitter report its position, then have the robot navigate to that position.  This requires both the transmitter and the robot to be able to measure their position.  Features such as the ability to move through rooms of a house or avoid obstacles would require additional time and energy to implement.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7300" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7300">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7300" class = 'collapse'>
			</div>
				<textarea id = "speech-7300" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7300">
					<img id="start_img-7300" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7300">Comment</button>
			<br><div id = "ans-7310"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7310" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you know the first location, you can use a laser mouse.</p>

<p>{URL redacted}</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7310" data-toggle = "popover">
				<p>user name : Nafiz</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7310">{'None': -2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7310">Load Comments</button></br>
			<div id = "commentsection-7310" class = 'collapse'>
			<div id = "comment-10422" class = "comment">
				<p>Why was this URL redacted?</p>
			</div>
			<div id = "comment-10714" class = "comment">
				<p>Welcome to *robotics* Nafiz, thanks for our answer but we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content does rot. If you add more context from the link, it is more likely that people will find your answer useful.</p>
			</div>
			</div>
				<textarea id = "speech-7310" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7310">
					<img id="start_img-7310" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7310">Comment</button>
			<br><div id = "ans-8086"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8086" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When you're in a closed area with different obstacles and your accuracy is about a meter things will change comparing outdoor navigation. I suggest someways.</p>

<ul>
<li><p>Using IR or Laserpoint in the case of Line Of Sight to the robot.</p></li>
<li><p>Using Ultrasound to call Robot, it don't need a LOS but it is invaluable,too.</p></li>
<li><p>Using a headquarter to determine your location and Navigate robot to your position. for instance use a receiver in each room. Then you will tell your robot, which room you are and then can navigate your robot to your location.</p></li>
</ul>

<p>Professional ways include measuring your signal strength in different directions and then determine the most powerful signal strength and folow that way. It is possible by directional antennas which are currently used in BTS (mobile base stations) to estimate locations.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8086" data-toggle = "popover">
				<p>user name : HOPE</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-8086">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8086" class = 'collapse'>
			</div>
				<textarea id = "speech-8086" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8086">
					<img id="start_img-8086" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8086">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>