<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Making a robotic arm that can draw a circle
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1598" class = "post">
			<h2>Question</h2>
			<div id="vote-1598" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 471</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Making a robotic arm that can draw a circle</h2>
<p>I am software engineering student and don't know much about hardware.</p>

<p>I recently have started a project in my AI course. The project is <strong>playing a 3x3 <a href="http://en.wikipedia.org/wiki/Tic-tac-toe" rel="nofollow">tic-tac-toe</a> game between computer and a human</strong>. </p>

<p>In a tic-tac-toe board, suppose you play first and you put a cross mark in a certain place.(in <a href="https://dl.dropboxusercontent.com/u/80047546/tic.png" rel="nofollow">tic-tac-toe board</a> your position is (3,1)).
 Now my computer will take a picture with webcam and analyse this picture with help of Opencv(It is a open source c++ library for image processing. for details opencv.org). After finding the position of your cross mark it will find the optimal position with the help of my algorithm at which it will put a circle. For output it will just speak out the position.</p>

<p>Now, I want to make a robotic hand that can draw this circle as output. Would anybody please help me to find the hardware and other materials that needed to make that robotic hand? It will be very helpful if anybody suggest me some tutorials.</p>

<p>I Googled and found many many suggestions, but I am confused about what to choose. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1598" data-toggle = "popover">
				<p>user name : Moshii</p>
				<p> user reputation : 114</p>
				<p class = "tagcontent" id = "usertaginfo-1598">{'None': 0, 'robotic-arm': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1598">Load Comments</button></br>
			<div id = "commentsection-1598" class = 'collapse'>
			<div id = "comment-3330" class = "comment">
				<p>Hi Moshii and welcome to the Robotics Stack Exchange. Unfortunately this isn't the type question we address here as it very opinion based and we try to stick to the facts. As you mentioned there are a number of solutions. Which will work best for you is going to be highly subjective and only you can actually gauge that. This question will likely be closed if left in it's current state. You can avoid that by changing it to ask a more practical question.</p>
			</div>
			<div id = "comment-3331" class = "comment">
				<p>@DaemonMaker I know there are so many solutions, but i want to know from what i can start learning. Any good book references, any tutorial or other materials that can help me.Thanks</p>
			</div>
			<div id = "comment-3332" class = "comment">
				<p>Welcome to *robotics* Moshil, I think that once you have settled on a design and have started to implement your robot, you will find it easier to ask [*practical, answerable questions based on actual problems that you face*](http://robotics.stackexchange.com/help/dont-ask). In the meantime, take a look at out [about] page and [ask] to see how stack exchange works and how to ask good questions.</p>
			</div>
			<div id = "comment-3768" class = "comment">
				<p>Whilst this question has had editorial tweaks following its closure, the content is the same - as such I see no reason to re-open?!</p>
			</div>
			<div id = "comment-4228" class = "comment">
				<p>I understand why this was closed, but it would be fun to see some opinions.  For instance, one possible solution would be to use a circle "stamp". Then there is no need to program the complexities of drawing a circle.</p>
			</div>
			</div>
				<textarea id = "speech-1598" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1598">
					<img id="start_img-1598" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1598">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>