<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Making Clash of Clans questions off-topic here
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2294" class = "post">
			<h2>Question</h2>
			<div id="vote-2294" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">21</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 214</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Making Clash of Clans questions off-topic here</h2>
<p>We currently (as of November 19) have 65 questions tagged "Clash of Clans" on the site, with an average question score of 0.2. Currently, these questions have generated a grand total of two answers that have received multiple up votes. This isn't a recipe for quality Q&amp;A, which is what the site is designed to encourage.</p>

<p>Accordingly, I'd like to make questions about the particulars of specific games to be off-topic for this site. Maybe there are fora that can generate constructive discussion about "how do I change users in Sonic and Zelda Assassin: Grand Theft Unicorn Edition," but it doesn't seem to be working here.</p>

<p>The only two CoC answers with multiple up votes are pretty trivial answers themselves: one quotes the documentation for the game and the other indicates that there is no OS X version of the game. Good information, but if these are the best responses CoC questions generate, maybe that's a sign that the site is better off without CoC questions.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2294" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-2294">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2294">Load Comments</button></br>
			<div id = "commentsection-2294" class = 'collapse'>
			<div id = "comment-4307" class = "comment">
				<p>Do we want to push them to games.stackexchange.com? That seems slightly cruel...</p>
			</div>
			<div id = "comment-4308" class = "comment">
				<p>I don't want to push them anywhere, but people are welcome to take their questions someplace where they are welcome.</p>
			</div>
			<div id = "comment-4311" class = "comment">
				<p>What about these ones and game centre which are uprooted an well viewed http://apple.stackexchange.com/questions/92852/if-i-delete-clash-of-clans-on-one-ipad-and-download-it-on-another-using-the-sam</p>
			</div>
			<div id = "comment-4312" class = "comment">
				<p>Not sure off topic is the way! Where do we draw the line than? The recent flood was caused by CoC server problems, which will calm down soon. All questions were from honest users asking for help. On the other site, is there anything we can answer wrt CoC that would actually help?</p>
			</div>
			<div id = "comment-4315" class = "comment">
				<p>We draw the line at Clash of Clans. It's the first time in the site's history we've felt compelled to draw such a line. I think it's suitably extreme in its annoyance to do so now.</p>
			</div>
			<div id = "comment-4320" class = "comment">
				<p>More to the point, we're always drawing the line. The question is indeed "where to draw the line"</p>
			</div>
			<div id = "comment-4321" class = "comment">
				<p>@Buscar  ** The recent flood was caused by CoC server problems, which will calm down soon. ** Flood, schmood  Who cares? Why is it that  Clash of the Clans  seems to attack users who just don t do basic searches for previous questions? The posts are past redundant. Almost instantaneous noise. Posted about this as well here. http://meta.apple.stackexchange.com/questions/2287/is-it-just-me-or-is-there-a-sudden-uptick-in-clash-of-clans-questions-with-tons</p>
			</div>
			<div id = "comment-4322" class = "comment">
				<p>To draw a solid line as opposite to a line in a sand one should establish a rule rather than call it CoC. The reason we get so many question is that OP are looking to us to get some answer that they do not get elsewhere. Due to high popularity of the CoC game we get a flood of simple questions to which we do not have a solution, since the problem is at the source. I do agree on establishing a rule/tool to handle this kind of situations. Example- on hold with just 2 votes ? if that is possible?</p>
			</div>
			<div id = "comment-4323" class = "comment">
				<p>1000% agree they should be off-topic. Push them to Arqade. That's what it's there for.</p>
			</div>
			<div id = "comment-4335" class = "comment">
				<p>Surely we draw the line at: *This is some irrelevant, low-rent, low-grade shit, that has nothing to do with the OS, hardware, or anything pertinent whatsoever and belongs in a turdpile or **answers.yahoo.com*** - Or even because SE doesn't exist to provide free support to this crap? It belongs on the developer's sites, not on SE, ever, but certainly not anywhere other than Arqade.</p>
			</div>
			<div id = "comment-4417" class = "comment">
				<p>@IanC. - Why do you think it is cruel to push them to Arqade? It is distinctly more humane than just putting on hold, closing and then deleting them :-)</p>
			</div>
			<div id = "comment-4419" class = "comment">
				<p>@Greenonline it's cruel to the Arqade people, not the person asking the question. :)</p>
			</div>
			</div>
				<textarea id = "speech-2294" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2294">
					<img id="start_img-2294" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2294">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2295"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2295" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes. This makes sense to me. The answer to the vast majority of these questions has been: contact the developer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2295" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-2295">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2295">Load Comments</button></br>
			<div id = "commentsection-2295" class = 'collapse'>
			<div id = "comment-4325" class = "comment">
				<p>Accomplished: http://apple.stackexchange.com/help/on-topic</p>
			</div>
			<div id = "comment-4327" class = "comment">
				<p>@DanielLawson Not sure if the wording accomplishes the goal. "Questions about the particulars of specific games" seems to imply that "How do I get to level XYZ" is off-topic, but maybe not "bugs" (such as "I can't login to my 12th CoC account because it keeps crashing") or [this](http://apple.stackexchange.com/questions/92852). I would change it to "Questions about the particulars of specific games, such as game account or in-app purchase issues, should be directed to the game's developer." Also disagree with "manufacturers" in the current wording, but that's a definition quibble. :P</p>
			</div>
			</div>
				<textarea id = "speech-2295" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2295">
					<img id="start_img-2295" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2295">Comment</button>
			<br><div id = "ans-2297"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2297" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"questions about the particulars of specific games to be off-topic "  </p>

<p>That hits the nail on the head for me. </p>

<p>CoC had a few days of irritation, due to server issues, but in the relatively short time I've been here, it's the only game that seems to crop up as a taggable one. The rest don't seem to generate questions here. So, blanket ban on games questions would almost seem to be 'CoC only' anyway.</p>

<p>Having typed that, I'm not sure whether I voted yes or no, but games just don't seem to fit AskDifferent's ethos anyway; there are a million sites better-suited.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2297" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2297">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2297">Load Comments</button></br>
			<div id = "commentsection-2297" class = 'collapse'>
			<div id = "comment-4316" class = "comment">
				<p>I'm not in any way opposed to questions about games, by the way. It's just that those questions don't tend to produce very good answers here.</p>
			</div>
			<div id = "comment-4317" class = "comment">
				<p>They tend not to be very good questions, gigo ;-)  tbh, banning them won't stop them happening, if something like the CoC server issue happens again. The downside of getting good Google results for SE is it's easy to find.</p>
			</div>
			<div id = "comment-4318" class = "comment">
				<p>They have been terrible questions that have led to great answers. These aren't them.</p>
			</div>
			<div id = "comment-4319" class = "comment">
				<p>'I dun gone & busted it' rarely gets good answers ;-)</p>
			</div>
			<div id = "comment-4336" class = "comment">
				<p>AskDifferent should be about the OS, hardware, and software relationships to the OS and hardware of the Apple ecosystem only. Not **crap like this**. If someone is asking how to install, remove, or get a refund from their kid spending $$$ without their approval on a stupid F2P game, that's okay, because it's not about the game or service provider. Anything else == trash.</p>
			</div>
			</div>
				<textarea id = "speech-2297" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2297">
					<img id="start_img-2297" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2297">Comment</button>
			<br><div id = "ans-2298"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2298" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm going to say we don't need to make COC off topic.</p>

<p>It seems odd to rule out one app because we already have all the tools we need to close low quality (and total crap) questions.</p>

<p>If someone can show me a question that needs to be closed as "off topic" if we were to implement this request, my suspicion is that it could also easily be closed as low quality, unclear, or duplicate.</p>

<p>If people don't document the exact build of COC and the iOS version, then that's good enough for me to close it as too broad and/or unclear.</p>

<p>I'd rather a few canonical answers get assembled and then we can dupe vague questions and/or close them with little to no additional effort. I don't see how adding a clause to the off-topic makes things better for anyone.</p>

<p>As things stand, we have this clause:</p>

<blockquote>
  <p>Questions about the particulars of specific games, such as game account or in-app purchase issues, should be directed to the game's developer.</p>
</blockquote>

<p>What if we substituted running apps or Apple apps for games. Isn't this a big broad ban for no real benefit?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2298" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2298">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2298">Load Comments</button></br>
			<div id = "commentsection-2298" class = 'collapse'>
			<div id = "comment-4328" class = "comment">
				<p>The thing is, there are no canonical answers. Most of the questions revolve around "How do I use two (or more) accounts on the same device and not have it screw up like it just did?" There is no answer to that, because the developer explicitly does not support playing more than one game (account) on a single device, but they haven't managed to keep it from working (most of the time). With all the stunts they pull to keep you from even restarting your game, I wouldn't be surprised that they have something built-in to thwart multiple account use which in turn drives all these questions.</p>
			</div>
			<div id = "comment-4329" class = "comment">
				<p>Regarding your last question, I would say that account or in-app purchase issues should be directed to the developer of any app, not just games...but the questions we get are about CoC and some of its ilk (to a much lesser degree). I wouldn't be opposed to expanding the wording to include all apps for those particular issues.</p>
			</div>
			<div id = "comment-4330" class = "comment">
				<p>@tubedogg Wouldn't a canonical answer tell the asker explicitly where the developer site for support is for that specific app? Instead we are brushing all these questions aside and not even answering them IMO.</p>
			</div>
			<div id = "comment-4331" class = "comment">
				<p>This strikes me as no different than Hackintosh questions. We chose to make them off-topic because they didn't produce helpful answers; we didn't like the effect the questions had on our community. If the questions led to good answers, we'd want them, but I don't see any evidence they do.</p>
			</div>
			<div id = "comment-4332" class = "comment">
				<p>Whilst I really don't like the general question quality of Clash of Clans questions, I support what is being said in this answer. I don't think Clash of Clans or other iOS game infrastructure should be off-topic as it is essentially Game Center. All that's required here is [more proactive duplicate closures](http://chat.stackexchange.com/transcript/message/16563111#16563111) and possibly effort in a canonical question regarding the main problem that people are facing.</p>
			</div>
			<div id = "comment-4333" class = "comment">
				<p>Also, stating that Clash of Clans is off-topic without an actual closure reason has lead to some [very poor closure reasons](http://apple.stackexchange.com/questions/158339/game-center-and-clash-of-clans#comment186158_158339). I would prefer that iOS games and other apps remain on-topic, and poor questions closed with the standard closure reasons of unclear/broad/etc.</p>
			</div>
			</div>
				<textarea id = "speech-2298" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2298">
					<img id="start_img-2298" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2298">Comment</button>
			<br><div id = "ans-2299"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2299" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm adding this as another answer just to make one specific point/question/poll </p>

<p>How many of the mods &amp; high rep others here have ever actually played CoC? or had any of the issues we've seen described on the topic?</p>

<p>Or are we, between us, providing the best LMGTFY service to single-digit AD users that we possibly can, yet coming up far shorter than we would on a question about, say, Terminal &amp; how to use sudo?</p>

<p>Personally, I wouldn't <em>expect</em> a 50k rep user on here to be a gamer; I'd expect them to have a deep knowledge of MacOS &amp; iOS - that's how they got their rep in the first place. </p>

<p>I'm not casting us as old, crotchety &amp; bah-humbug - I just think there may be a significant proportion who wouldn't give a rat's ass for gaming &amp; would consider they have far better things to think about.</p>

<p><em>[Doesn't really need comments, though who am I to stop you;-) but just a straw poll by voting this up or down might give some indication as to degree of agreement with my point]</em></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2299" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2299">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2299">Load Comments</button></br>
			<div id = "commentsection-2299" class = 'collapse'>
			<div id = "comment-4338" class = "comment">
				<p>I have to add this Q as an indication of the level of competence we face on the CoC issue - http://apple.stackexchange.com/questions/158683/cant-buy-gem-from-clash</p>
			</div>
			<div id = "comment-4339" class = "comment">
				<p>Just FYI: I play Clash of Clans occasionally and can answer questions about the game, but I've never moved/transferred my game between devices, run two saves on the same device, or any other strange stuff like that I play the game how Game Center intends, which means that I'm unable to canonically answer the main questions on this subject on the site.</p>
			</div>
			</div>
				<textarea id = "speech-2299" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2299">
					<img id="start_img-2299" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2299">Comment</button>
			<br><div id = "ans-2316"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2316" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This questions either should go games.stackexchange or elsewhere. They are not about features of OS X, iOS or Game Center. They are about specific of game, mostly according to saving progress.</p>

<p>And on the side note I was off the think different for a while and I see we have pretty much low quality questions now. I might say we are flooded with them. Was it that it you have to get some points before asking a question before? </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2316" data-toggle = "popover">
				<p>user name : iskra</p>
				<p> user reputation : 4643</p>
				<p class = "tagcontent" id = "usertaginfo-2316">{'None': 0, 'spam': 4, 'support': 4, 'suggested-edits': 4, 'feature-request': 4, 'editing': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2316">Load Comments</button></br>
			<div id = "commentsection-2316" class = 'collapse'>
			<div id = "comment-4369" class = "comment">
				<p>You have always been able to ask questions with no reputation</p>
			</div>
			</div>
				<textarea id = "speech-2316" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2316">
					<img id="start_img-2316" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2316">Comment</button>
			<br><div id = "ans-2365"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2365" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>IMHO, they should be migrated to <em>SE Arqade</em>. There are many CoC questions there, most of them platform agnostic. Unless there is a specific issue relating to Coc client on an Apple platform, iOS or OS X, (in which case <em>maybe</em> it should be on <em>SE Ask Different</em>) there sh9ould really be asked/migrated to Arqade.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2365" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 517</p>
				<p class = "tagcontent" id = "usertaginfo-2365">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2365" class = 'collapse'>
			</div>
				<textarea id = "speech-2365" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2365">
					<img id="start_img-2365" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2365">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>