<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Malfuction in motors using L298N
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8702" class = "post">
			<h2>Question</h2>
			<div id="vote-8702" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 145</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Malfuction in motors using L298N</h2>
<p>I have purchased the undermentioned robot chassis with DC motors supported with plastic gears from a local store. There is a 3A battery holder and when I connect robot to that and put it on the ground both the motors working fine and smooth. But when I connect the L298N motor controller which was made by myself and tested with proteus, only one motor is working. When I switch the wires of both motors, still the motor which worked before is working and the other motor never runs unless I manually give a little rotation to the wheel.</p>

<p>I use a PIC18F4431 to control the motor controller and tried USB power and a 5V regulator created by myself and the result is the same in both occasions. What could be the issue here? If I tried oiling the malfunctioning motor will it work? I heard one of my friends having the same issue, one motor is not working. But both motors work with just two pen torch batteries and can't think of a valid reason that the motor is faulty. May be my motor controller? But when I swap the wires from faulty to the working one, the working one still works as I've mentioned above.</p>

<p><a href="https://i.stack.imgur.com/Vog3A.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Vog3A.png" alt="Robot car chassis"></a></p>

<p><a href="https://i.stack.imgur.com/pSqRz.gif" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/pSqRz.gif" alt="enter image description here"></a><a href="https://i.stack.imgur.com/O5gOs.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/O5gOs.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8702" data-toggle = "popover">
				<p>user name : Blogger</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-8702">{'mobile-robot': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8702">Load Comments</button></br>
			<div id = "commentsection-8702" class = 'collapse'>
			<div id = "comment-14230" class = "comment">
				<p>It's possible the power supply (battery) just can't deliver enought current or voltage to run both motors at once. If you're just using 3 AA cells, you might get better results with more. Alternatively, if the wires from the battery, through the controller to the motors are very thin, this may restrict the current.</p>
			</div>
			<div id = "comment-14234" class = "comment">
				<p>The motors work fine when connected to the stock motor controller but don't work when connected to your motor controller. Is this your problem? I would say that there's some mistake with your motor controller (and/or the batteries are low or dead as @Andy mentions). Can you post schematics for how you have everything setup?</p>
			</div>
			<div id = "comment-14238" class = "comment">
				<p>@Chuck No Chuck when I tried connecting the motors directly to the battery pack which is in my case two 3AA batteries, both motors work fine. But when I connect them to the motor controller and supply USB power, only one motor works. I have edited my post by adding schematics.</p>
			</div>
			<div id = "comment-14239" class = "comment">
				<p>@Andy But one motor is working and when I supply from 2 x 3AA batteries, both the motors work fine. But USB giving more current than those batteries right?</p>
			</div>
			<div id = "comment-14242" class = "comment">
				<p>Where does the +12V in your schematic come from?  Also,  2 x 3AA batteries would give 7.2 volts, while USB power is 5 V.  Also, lithium batteries typically are rated at 1C, that is, at the current that will use up the nominal ampacity in one hour; which if your 3AA batteries are 1650 mAh, means 1.65 A.  USB, on the other hand, typically has a  .5 A limit unless negotiated otherwise</p>
			</div>
			<div id = "comment-14243" class = "comment">
				<p>continuing from @jwpat7 ; may you have hit the torque limit of the motors by giving less than required current to them? and maybe one of the motors is just a little bit less resisting the motion?</p>
			</div>
			<div id = "comment-14259" class = "comment">
				<p>And I think looking from the datasheet block diagrams, If I supply both Vs and Vss pins the same voltages, the transistors inside the L298 are not biased properly right? So I have to try 5V for Vs and 7V> for Vss I think. Am I correct? :)</p>
			</div>
			<div id = "comment-16408" class = "comment">
				<p>I think you need to apply 5V to Vss as that is what sets the logic voltage. 12V is applied to Vs as that is used to drive the motors. Also you need to add 10k pull ups to the enable pin</p>
			</div>
			</div>
				<textarea id = "speech-8702" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8702">
					<img id="start_img-8702" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8702">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10390"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10390" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sounds like a load balancing problem in combination with a current issue. Do you have another L298N to try? Make sure the IC isn't defective, or have you checked the current draw at each motor. 
Do these motors have a capacitor installed across the leads on each motor? I doubt you hit the torque limit of the motors, as it appears that they came in a kit and were probably selected for the kit by the manufacturer because of their specs. It seems like You're not getting enough current to get past starting torque, a capacitor on each motor will help with the initial current draw.</p>

<p>How are you powering the USB? Is it from a laptop? Most USB ports on laptops put out pretty low current to save on battery. Try a powered USB hub.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10390" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-10390">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10390" class = 'collapse'>
			</div>
				<textarea id = "speech-10390" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10390">
					<img id="start_img-10390" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10390">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>