<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Manipulator end-effector orientation with quaternions
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8592" class = "post">
			<h2>Question</h2>
			<div id="vote-8592" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 423</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Manipulator end-effector orientation with quaternions</h2>
<p>I have the following problem:</p>

<p>Given 3 points on a surface, I have to adjust a manipulator end-effector (i.e. pen) on a Baxter Robot, normal to that surface.</p>

<p>From the three points I easily get the coordinate frame, as well as the normal vector. My question is now, how can I use those to tell the manipulator its supposed orientation.</p>

<p>The Baxter Inverse Kinematics solver takes a $(x,y,z)$-tuple of Cartesian coordinates for the desired position, as well as a $(x,y,z,w)$-quaternion for the desired orientation. What do I set the orientation to? My feeling would be to just use the normal vector $(n_1,n_2,n_3)$ and a $0$, or do I have to do some calculation?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8592" data-toggle = "popover">
				<p>user name : thomas_567</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-8592">{'None': 0, 'inverse-kinematics': 2, 'orientation': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8592">Load Comments</button></br>
			<div id = "commentsection-8592" class = 'collapse'>
			<div id = "comment-14000" class = "comment">
				<p>You need to look up how to transform a rotation matrix to a quaternion!</p>
			</div>
			<div id = "comment-14006" class = "comment">
				<p>One other thing you will have to do is set a constraint on the other axes of your tool. Technically there are infinite orientations that will place the pen with that normal vector. I would recommend converting your normal vector into an azimuth-elevation representation, which can then be used to generate a full rotation matrix that can then be converted to a quaternion.</p>
			</div>
			</div>
				<textarea id = "speech-8592" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8592">
					<img id="start_img-8592" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8592">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8594"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8594" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As Brian indicated in a comment, you simply need to convert your rotation matrix (or Euler angles) into a quaternion.  <a href="http://www.euclideanspace.com/maths/geometry/rotations/conversions/matrixToQuaternion/index.htm" rel="nofollow">Maths - Conversion Matrix to Quaternion</a> is my favorite site for geometric conversions.</p>

<p>Quaternions are a great representation and have a number of benefits over other representations, so you should definitely read up on them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8594" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8594">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8594">Load Comments</button></br>
			<div id = "commentsection-8594" class = 'collapse'>
			<div id = "comment-14007" class = "comment">
				<p>Awesome link, gonna add that to my bookmarks, thanks!</p>
			</div>
			<div id = "comment-14014" class = "comment">
				<p>@BrianLynch Yeah, there is a lot of great stuff there.</p>
			</div>
			<div id = "comment-14040" class = "comment">
				<p>For those preferring a more mathematical and comprehensive guide to rotation parameterizations and conversions, check out [this paper](https://www.astro.rug.nl/software/kapteyn/_downloads/attitude.pdf).</p>
			</div>
			</div>
				<textarea id = "speech-8594" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8594">
					<img id="start_img-8594" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8594">Comment</button>
			<br><div id = "ans-8645"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8645" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not familiar with your device, but here are a few tips that might help...</p>

<p>Since the device is using a quaternion to describe an orientation, they must also specify some base coordinate frame against which that rotation applies.</p>

<p>The w term in a quaternion is the cosine of the half-angle of desired rotation around the (x,y,z) vector component. If you don't care about the angle of rotation, then w can be anything (subject to normalization requirements), including 0.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8645" data-toggle = "popover">
				<p>user name : RickNZ</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-8645">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8645" class = 'collapse'>
			</div>
				<textarea id = "speech-8645" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8645">
					<img id="start_img-8645" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8645">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>