<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Manipulator link applied torque
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3200" class = "post">
			<h2>Question</h2>
			<div id="vote-3200" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 187</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Manipulator link applied torque</h2>
<p>I want to implement a manipulator link using a physic library. I can only apply some torque to the centre of mass, but the torque should be applied at the beginning of the link.</p>

<p>Shifting a reference frame from the centre of mass and recalculating inertia tensor in the new frame is not a problem, neither is recalculating a new torque, based on the change of distance, but I think it is not the correct solution.</p>

<p>In short, how can I scale a torque of a control signal applied at the beginning of the link to a torque of a physic simulation applied to the centre of mass. Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3200" data-toggle = "popover">
				<p>user name : andrey</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-3200">{'None': 0, 'torque': 1, 'simulator': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3200">Load Comments</button></br>
			<div id = "commentsection-3200" class = 'collapse'>
			<div id = "comment-6733" class = "comment">
				<p>Which physics library are you using that only allows torques applied at the COM?  It is my experience that most physical simulators have some concept of joints, and allow torques at them.</p>
			</div>
			<div id = "comment-6738" class = "comment">
				<p>Its bullet. Maybe i am mistaken, but to my knowledge there is no way to apply torque at an arbitrary point, not without hacking the source at least. Its possible yo create a compound object and shift a com of an added rigid body, but i am really not sure if its gonna do the trick.</p>
			</div>
			</div>
				<textarea id = "speech-3200" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3200">
					<img id="start_img-3200" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3200">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3205"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3205" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A <a href="http://en.wikipedia.org/wiki/Couple_%28mechanics%29" rel="nofollow">moment</a> applied to a rigid body does not matter where it is placed.  (This simple fact is taught in the "Statics" class for freshmen mechanical engineers).  Bullet does support joint constraints.  So you only need apply the torque on one link relative to the previous link.  Do not scale or transform the torque.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3205" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-3205">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3205">Load Comments</button></br>
			<div id = "commentsection-3205" class = 'collapse'>
			<div id = "comment-6739" class = "comment">
				<p>It is more about changing a pivot point. Picture this, on link has pivot point at the center of mass and another at the beginning. The torque has the meaning of applying some force relative to a pivot point (or an axis we chose to be a rotation axis and calculate the inertia tensor for this particular axis). Now we apply the same torque, say, the same force at the same distance from COM. Do you think its gonna have the same effect on both bodies? Bullet allows a rotation axis to go only through COM. There are some motors for constraints, but it is a kinematic thing, not dynamic.</p>
			</div>
			<div id = "comment-7841" class = "comment">
				<p>"A torque applied to a rigid body does not matter where it is placed" I think it does. Applying torque at the center of a rigid body is not exactly like applying it at the edge of that body. Would you elaborate a bit?</p>
			</div>
			<div id = "comment-7846" class = "comment">
				<p>Do not confuse a force acting at a distance to create a torque, and a [pure moment](http://en.wikipedia.org/wiki/Couple_%28mechanics%29).  Imagine a body floating in zero gravity.  If you apply a moment at any point, the body will always rotate about its CoM.  It may also translate though...  But perhaps i should change the terminology in my post above.</p>
			</div>
			<div id = "comment-10551" class = "comment">
				<p>-1 - He's asking about shifting the axis of rotation; this *does* matter; he needs the parallel axis theorem to update the moment of inertia tensor. If he wants a particular rotational acceleration, moving away from the center of mass increases the moment of inertia and thus increases the required torque.</p>
			</div>
			</div>
				<textarea id = "speech-3205" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3205">
					<img id="start_img-3205" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3205">Comment</button>
			<br><div id = "ans-3213"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3213" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From this page on Bullet's constraints (<a href="http://bulletphysics.org/mediawiki-1.5.8/index.php/Constraints" rel="nofollow">http://bulletphysics.org/mediawiki-1.5.8/index.php/Constraints</a>), you can clearly create a hinge constraint that is not at the COM of the links it is attached to.  </p>

<pre><code>btHingeConstraint(btRigidBody&amp; rbA,btRigidBody&amp; rbB,
                  const btVector3&amp; pivotInA,
                  const btVector3&amp; pivotInB,
                  btVector3&amp; axisInA,
                  btVector3&amp; axisInB,
                  bool useReferenceFrameA = false);
</code></pre>

<p>Once you set up a constraint like this, the bodies will pivot about this point (relative to each other).  applying a torque to any location on one of the links will have the same affect.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3213" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-3213">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3213" class = 'collapse'>
			</div>
				<textarea id = "speech-3213" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3213">
					<img id="start_img-3213" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3213">Comment</button>
			<br><div id = "ans-3215"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3215" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I know how set up the constraint. I have it set up, have the control signal and it just do not behave as expected (though it also can be because of some mistake in my calculations). Constraining two bodies like this is just removing some dof to keep them at distance pivotInA, pivotInB and allow only for rotation about set axis. It does not dismiss the fact, that the inertia tensors is calculated for COM, not for the beginning of link. If you look at the methode applyForce (const btVector3 &amp;force, const btVector3 &amp;rel_pos) you can see that it is separated into </p>

<pre><code>  applyCentralForce(force);
</code></pre>

<p>and<br>
      applyTorque(rel_pos.cross(force*m_linearFactor));</p>

<p>the offset is taken relative to the COM, you can not just apply a force relative to any other points but to the COM. So, the inertia tensor is wrong, force would be applied with a wrong shoulder, i doubt it is gonna produce the correct result. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3215" data-toggle = "popover">
				<p>user name : andrey</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-3215">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3215" class = 'collapse'>
			</div>
				<textarea id = "speech-3215" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3215">
					<img id="start_img-3215" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3215">Comment</button>
			<br><div id = "ans-7401"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7401" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use the <a href="http://en.wikipedia.org/wiki/Parallel_axis_theorem" rel="nofollow">parallel axis theorem</a></p>

<p>$$
\tau=I\alpha \\
\alpha = \frac{\tau}{I} \\
I_{new} = I_{from.COM} + mr^2
$$
Assuming you want to keep the same acceleration as though you applied the torque at the center of mass, the <em>new</em> torque you need to apply to create the same angular acceleration from a different location is:</p>

<p>$$
\frac{\tau_{COM}}{I_{from.COM}} = \frac{\tau_{new}}{I_{new}}
$$
$$
\tau_{new} = I_{new} \frac{\tau_{COM}}{I_{from.COM}} \\
\tau_{new} = (I_{from.COM} + mr^2)\frac{\tau_{COM}}{I_{from.COM}}
$$</p>

<p>where $\tau_{COM}$ was the torque that had to be applied at the center of mass to get the desired angular acceleration, $I_{from.COM}$ is the moment of inertia through the center of mass, $m$ is the mass of the load, and $r$ is the distance from the center of mass to where you are now rotating the load. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7401" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7401">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7401" class = 'collapse'>
			</div>
				<textarea id = "speech-7401" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7401">
					<img id="start_img-7401" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7401">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>