<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Mapping between camera pose and image features in visual servoing
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8499" class = "post">
			<h2>Question</h2>
			<div id="vote-8499" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Mapping between camera pose and image features in visual servoing</h2>
<p>I have a robotic arm and a camera in eye-in-hand configuration. I know that there is a relationship between the body velocity $V$ of the camera and the velocities $\dot s$ in the image feature space that is $\dot s=L(z,s) V$ where $L$ is the interaction matrix. I was wondering if one can find a mapping (a so called diffeomorphism) that connects the image features' vector $s$ with the camera pose $X$. All I was able to find is that it is possible to do that in a structured environment which I don't fully understand what it is.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8499" data-toggle = "popover">
				<p>user name : Controller</p>
				<p> user reputation : 89</p>
				<p class = "tagcontent" id = "usertaginfo-8499">{'control': 8, 'None': 0, 'cameras': 6, 'algorithm': 5, 'simulator': 0, 'localization': 1, 'torque': 1, 'mapping': 0, 'simulation': 1, 'filter': 5, 'visual-servoing': 13, 'exploration': 1, 'matlab': 5, 'dynamics': 1, 'motion-planning': 1, 'software': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8499" class = 'collapse'>
			</div>
				<textarea id = "speech-8499" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8499">
					<img id="start_img-8499" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8499">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8507"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8507" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Look up Camera Space Manipulation, which uses the pinhole camera model to map image space and physical space coordinates.  It is not too difficult to do.  </p>

<p>A structured environment is one in which objects which occupy the environment are known, and can be modelled.   It is much easier to program mobility, and to identify objects, in a structured environment.   For example, if you know that a particular circular object has a given diameter, you can use that object's elliptical shape in camera space to determine viewing angle, and dimensions to determine distance between the circle and the camera.  But if you don't know the model of that object, you can't be sure if it is a circle viewed from an angle, or an ellipse viewed head-on.   Therefore unstructured environments are much more difficult for relating camera space coordinates and physical coordinates.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8507" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-8507">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8507" class = 'collapse'>
			</div>
				<textarea id = "speech-8507" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8507">
					<img id="start_img-8507" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8507">Comment</button>
			<br><div id = "ans-8509"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8509" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Image features are connected to the camera pose through two steps: (1) the relationship between the feature pixel coordinates and its homogeneous coordinates in the camera reference frame, and (2) the relationship between the camera reference frame and the world frame. Take a look at this figure, where the world frame is denoted with subscript 0 and the camera frame is denoted with subscript C. A feature is shown as a blue dot, with position $p$ in the world frame.</p>

<p><a href="https://i.stack.imgur.com/1E7or.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/1E7or.png" alt="enter image description here"></a></p>

<p>The camera has a particular field of view (shown with a pyramid in the image), which relates the pixels coordinates to the relative position of the feature in the camera reference frame, $\tilde{p}$, through the camera projection matrix:</p>

<p>$\begin{bmatrix} I \\ J \\ 1 \end{bmatrix} = \begin{bmatrix} k_x &amp; 0 &amp; C_x \\ 0 &amp; k_y &amp; C_y \\ 0 &amp; 0 &amp; 1 \end{bmatrix} \begin{bmatrix} X \\ Y \\ 1 \end{bmatrix}$</p>

<p>Where $I$ and $J$ are the pixel coordinates of the feature in the image, and the camera is defined with parameters $k_x$, $k_y$, $C_x$ and $C_y$ (based on the field of view and output image size). The <em>homogeneous coordinates</em>, $X$ and $Y$ are defined based on the relative position of the feature in the camera frame:</p>

<p>$\tilde{p} = \begin{bmatrix} \tilde{x} \\ \tilde{y} \\ \tilde{z} \end{bmatrix}$</p>

<p>$X = \frac{\tilde{x}}{\tilde{z}}$</p>

<p>$Y = \frac{\tilde{y}}{\tilde{z}}$</p>

<p>That relative position of the feature is then related to the actual position of the feature (in the world frame) as well as the camera pose, according to:</p>

<p>$p = R_C \tilde{p} + p_C$</p>

<p>Where $R_C$ is the rotation matrix defining the camera orientation and $p_C$ is the position of the camera.</p>

<p>One thing I have not discussed is lens distortion, which must be accounted for before using this approach but can be treated separately. Note that the <a href="http://docs.opencv.org/2.4/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html" rel="nofollow noreferrer">OpenCV Camera Calibration and 3D Reconstruction</a> page provides a more detailed explanation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8509" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8509">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8509">Load Comments</button></br>
			<div id = "commentsection-8509" class = 'collapse'>
			<div id = "comment-13806" class = "comment">
				<p>Nice introduction into pinhole camera model but I don't think this fully answers the question. It is impossible to estimate the velocity of features observed by a monocular camera without knowing their depth. It would be possible to do that by using structure from motion algorithms but it radically increases the complexity of the task. Using a kinect would be preferred.</p>
			</div>
			<div id = "comment-13807" class = "comment">
				<p>The question asks "if one can find a mapping... that connects the image features' vector s with the camera pose X". There is mention of velocities $\dot{s}$ but that is not the question. Also, this model necessarily requires 3D coordinates of features to begin with ($p$ is assumed to be known) -- I'm not saying you get depth from a monocular camera, these features are assumed to be known because it is a _structured environment_! Sorry if my answer is confusing, I will update it later.</p>
			</div>
			<div id = "comment-13808" class = "comment">
				<p>Structured environment means an environment with observable edges and corners as far as I know. Doesn't need to be an environment where the structure is known. I see that the question was only about the mapping from pixels to camera frame but I don't think that it would be enough to the OP considering his final goal.</p>
			</div>
			<div id = "comment-13809" class = "comment">
				<p>Not quite, a structured environment is one where features are recognizable based on some a priori knowledge. Yes, you can treat edges/corners as known structures in the environment, but in general it refers to the fact that these structures are filling a necessary gap. In the case of a monocular camera you would be depending on fiduciary markers or known objects with scale to provide that structure. Also, you often want to predict the pixel coordinates for a measurement model so this is the relevant component of that larger question -- what comes next may be already answered elsewhere.</p>
			</div>
			</div>
				<textarea id = "speech-8509" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8509">
					<img id="start_img-8509" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8509">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>