<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Mapping algorithm without noise
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6984" class = "post">
			<h2>Question</h2>
			<div id="vote-6984" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 54</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Mapping algorithm without noise</h2>
<p>I have a simulated robot moving in a discretized 2D grid world that (for various simplification and time-restriction reasons) has no noise. The problem is how the robot creates its initial map of the world. Algorithms like SLAM and occupancy grid mapping are based on uncertainty, but in this case there is no uncertainty.</p>

<p>So I'm wondering if there is a relatively simple algorithm for mapping the environment with noiseless position.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6984" data-toggle = "popover">
				<p>user name : Pterosaur</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6984">{'None': 0, 'mapping': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6984">Load Comments</button></br>
			<div id = "commentsection-6984" class = 'collapse'>
			<div id = "comment-9956" class = "comment">
				<p>You'll need to provide more information. What sensor(s) does your robot have to observe the world? Why does the robot need to create the map in the first place? If pose of the robot is certain all the time, all you would need to do is transform observations of the environment from the sensor coordinate frame to the world coordinate frame.</p>
			</div>
			</div>
				<textarea id = "speech-6984" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6984">
					<img id="start_img-6984" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6984">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7035"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7035" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As Kamek said in a comment, all that needs to be done is to transform the coordinates of the sensor hits to the world frame.  For a 2D grid world, this shouldn't be too hard to do with a little trigonometry.</p>

<p>You asked about the "initial" map.  Typically, the robot wakes up and knows nothing about the world or where it is.  So it starts in the middle of an empty map.  Make sure your map is large enough to accommodate your entire grid world even if the robot starts at the edge of the world.  (So if your grid world is (N x N), your map will be (2N x 2N).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7035" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7035">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7035" class = 'collapse'>
			</div>
				<textarea id = "speech-7035" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7035">
					<img id="start_img-7035" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7035">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>