<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Mass Matrix in Lagrange equation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9054" class = "post">
			<h2>Question</h2>
			<div id="vote-9054" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 363</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Mass Matrix in Lagrange equation</h2>
<p>I want to find the equations of motion of an RRRR robot.I have studied about it a bit but I am having some confusion.</p>

<p>Here, in one of the lectures I found online, it describes an Inertia matrix of a link as $\bf{I}_i$ which is computed by $\tilde{\bf{I}}_i$ also described  below?</p>

<blockquote>
  <p>In conclusion, the kinetic energy of a manipulator can be determined when, for each link, the following quantities are known:</p>
  
  <ul>
  <li>the link mass $m_i$;</li>
  <li>the inertia matrix $\bf{I}_i$, computed with respect to a frame $\mathcal{F}_i$ fixed to the center of mass in which it has a constant expression $\tilde{\bf{I}}_i$;</li>
  <li>the linear velocity $\bf{v}_{Ci}$ of the center of mass, and the rotational velocity $\omega_i$ of the link (both expressed in $\mathcal{F}_0$);</li>
  <li>the rotation matrix $\bf{R}_i$ between the frame fixed to the link and $\mathcal{F}_0$.</li>
  </ul>
  
  <p>The kinetic energy $K_i$ of the i-th link has the form:</p>
  
  <p>$$
K_i = \frac{1}{2}m_i\bf{v}_{Ci}^T\bf{v}_{Ci} + \frac{1}{2}\omega_i^T\bf{R}_i\tilde{\bf{I}}_i\bf{R}_i^T\omega_i \\
$$
  It is now necessary to compute the linear and rotational velocities ($\bf{v}_{Ci}$ and $\omega_i$) as functions of the Lagrangian coordinates (i.e. the joint variables $\bf{q}$).</p>
</blockquote>

<p>So $\tilde{\bf{I}}_i$ is computed wrt to fixed frame attached to the centre of mass.</p>

<p>However in another example below from another source there is no rotation matrix multiplication with ${I}_{C_1}$ and $I_{C_2}$ as shown above. Am I missing something?</p>

<blockquote>
  <p>$\underline{\mbox{Matrix M}}$</p>
  
  <p>$$
M = m_1 J_{v_1}^TJ_{v_1} + J_{\omega_1}^TI_{C_1}J_{\omega_1} + m_2 J_{v_2}^TJ_{v_2} + J_{\omega_2}^TI_{C_2}J_{\omega_2} \\
$$</p>
</blockquote>

<p>What is the significance of multiplying Rotation matrix with $I_{C_1}$ or $\tilde{\bf{I}}_i$?</p>

<p>I am using former approach and getting fairly large mass matrix. Is it normal to have such long terms inside a Mass matrix? I still need to know though which method is correct. </p>

<p>(A series of images showing Mathematica output of a 4x4 matrix with some very, very long terms - <a href="https://i.stack.imgur.com/ECwAB.jpg" rel="nofollow noreferrer">A</a>, <a href="https://i.stack.imgur.com/4j9fK.jpg" rel="nofollow noreferrer">B</a>, <a href="https://i.stack.imgur.com/drhkQ.jpg" rel="nofollow noreferrer">C</a>)</p>

<p>The equation I used for the mass matrix is:</p>

<p>$$
\begin{array}{lcl}
K &amp; = &amp; \displaystyle{\frac{1}{2}} \displaystyle{\sum_{i=1}^{n}} m_i\bf{v}_{Ci}^T \bf{v}_{Ci} + \displaystyle{\frac{1}{2}} \displaystyle{\sum_{i=1}^{n}} \omega_i^T\bf{R}_i\tilde{\bf{I}}_i\bf{R}_i^T\omega_i \\
&amp; = &amp; \boxed{ \frac{1}{2} \dot{\bf{q}}^T \sum_{i=1}^{n}\left[ m_i {\bf{J(\bf{q})}_{v}^{i}}^T {\bf{J(\bf{q})}_{v}^i} + {\bf{J(\bf{q})}_{\omega}^i}^T\bf{R}_i\tilde{\bf{I}}_i\bf{R}_i^T\bf{J(\bf{q})}_{\omega}^i \right] \dot{\bf{q}} } \\
&amp; = &amp; \displaystyle{\frac{1}{2}} \dot{\bf{q}}^T\bf{M(q)}\dot{\bf{q}} \\
&amp; = &amp; \displaystyle{\frac{1}{2}} \displaystyle{\sum_{i=1}^{n}} \displaystyle{\sum_{j=1}^{n}} M_{ij}(\bf{q})\dot{q}_i \dot{q}_j \\
\end{array} 
$$</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9054" data-toggle = "popover">
				<p>user name : Muhammad Qasim</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-9054">{'servomotor': 0, 'None': 0, 'dynamics': 3, 'robotic-arm': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9054">Load Comments</button></br>
			<div id = "commentsection-9054" class = 'collapse'>
			<div id = "comment-14920" class = "comment">
				<p>You've given a method from one source, an example from a different source, no information on which method this is or where you got them. You provide an output dump from what appears to be Matlab with no details on what you did to get that answer. There are many ways to setup and solve dynamics problems. Without more information, namely the method you're trying to implement and the code you're using, with a picture of what your terms mean, I don't think you're going to get a lot of help.</p>
			</div>
			<div id = "comment-14923" class = "comment">
				<p>Welcome to *robotics* Muhammad Qasim and thanks for your question. On *robotics* we are fortunate enough to have MathJax support enabled, allowing you to easily create subscripts, superscripts, fractions, square roots, greek letters and more. This allows you to add both inline and block element mathematical expressions in *robotics* questions and answers. For a quick tutorial, take a look at [How can I format mathematical expressions here, using MathJax?](http://meta.robotics.stackexchange.com/q/130/37). Converting your images into MathJax would make your equations much easier to read.</p>
			</div>
			<div id = "comment-14927" class = "comment">
				<p>thanks, I will surely look into MathJax.

regarding my mass Matrix,I just want to know that getting lengthy terms inside it is usual or not?
I am new in Robotics so I don't know what other methods are. 
I have used Eular lagrange Robotics approach .
First I did forward kinemetics using denavit hartenberg parameters.
From here on I calculated  Transformation matrix of each link.
with the help Iof it I calculated Jacobian matrices.I dont know what the ambiguity is.
then i used the equation I have now inserted in my question at bottom</p>
			</div>
			</div>
				<textarea id = "speech-9054" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9054">
					<img id="start_img-9054" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9054">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-13888"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13888" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am not sure what exactly your question is. Here is something that might help.</p>

<p>The rotation matrix converts inertial matrix with respect to body fixed frame (F$_1$) to that in space fixed frame (F$_0$) in which the angular velocity has been expressed.</p>

<p>If you carefully read the derivation of Lagrange equation, you can see that both the Inertial matrix and angular velocity must be expressed in the same reference frame.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13888" data-toggle = "popover">
				<p>user name : Priyanka Rao</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-13888">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13888" class = 'collapse'>
			</div>
				<textarea id = "speech-13888" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13888">
					<img id="start_img-13888" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13888">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>