<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>MATLAB 3D Simulation with SOLIDWORKS model
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7723" class = "post">
			<h2>Question</h2>
			<div id="vote-7723" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2501</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>MATLAB 3D Simulation with SOLIDWORKS model</h2>
<p>I'm learning  to make a 3D simulation in MATLAB based on a model designed from SOLIDWORKS.
There is an example: <a href="https://youtu.be/1nSafEJlySs" rel="nofollow">SIMULINK+SOLIDWORKS</a></p>

<p>The way used here is: </p>

<ol>
<li><p>Create a 3D model in SOLIDWORKS</p></li>
<li><p>Create a xml file applicable to import to MATLAB via SimMechanics Link</p></li>
<li><p>Import the model to MATLAB/SIMULINK. A simulink system is created.</p></li>
</ol>

<p>After these steps, controlling the system will be implemented in <strong>SIMULINK</strong>.
But I feel simulink is kind of strict to control. I want to be more flexible, apply any algorithm to the model. And using matlab *.m file to control is more efficient way. </p>

<p>So my question is this: Is there any way to do 3D simulation (MATLAB+SOLIDWORKS) by using only *.m file to control, no <strong>SIMULINK</strong> anymore? </p>

<p>All model information will be contained in the *m.file. Maybe the step 1 and 2 are inherited, but step 3 is different.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7723" data-toggle = "popover">
				<p>user name : Phan</p>
				<p> user reputation : 53</p>
				<p class = "tagcontent" id = "usertaginfo-7723">{'None': 1, 'manipulator': 2, 'simulator': 1, 'simulation': 5, 'matlab': 5, 'actuator': 2, 'gazebo': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7723">Load Comments</button></br>
			<div id = "commentsection-7723" class = 'collapse'>
			<div id = "comment-11216" class = "comment">
				<p>Basically you need a Simulink file because of the SimMechanics. But if is possible to "control" simulink files from a *.m file. Make sure the optimization "Inline Parameters" is disabled to be able to set all parameters of the simulink easily. Just start your simulation with the sim() command. If you can be more precise what you try to achieve I can give a better answer.</p>
			</div>
			<div id = "comment-11217" class = "comment">
				<p>Thanks for your comment. I made a controller for a quadruped in MATLAB, and animated in 2D. I see the simulation in [this video](https://www.youtube.com/watch?v=IG7hX-_D3gU) is very interesting. So i want to realize a 3D simulation for my work.</p>
			</div>
			<div id = "comment-11218" class = "comment">
				<p>I usually create a simulation m-file which enables me to control any input to the system (creating offsets, provide measured data....) and set the parameters per non-inlining. So you can do easily DoE simulations and so on.</p>
			</div>
			<div id = "comment-11219" class = "comment">
				<p>Can you explain it more clearly. I still don't get your point. What is DoE simulation?</p>
			</div>
			<div id = "comment-11220" class = "comment">
				<p>I created a chat room to avoid discussion in comments:
http://chat.stackexchange.com/rooms/26108/matlab-3d-simulation-with-solidwork-model</p>
			</div>
			<div id = "comment-11221" class = "comment">
				<p>I dont have enough reputation to joint the chat room. Hic. Do you have gmail? Maybe can we discuss by using chat in gmail?</p>
			</div>
			<div id = "comment-11222" class = "comment">
				<p>send me your mail: RoboticsSE@sharklasers.com</p>
			</div>
			<div id = "comment-11284" class = "comment">
				<p>Hi @TobiasK your comment has been flagged as being useful enough to be an answer. It's not possible for moderators to convert comments into answers, but I'm sure that an answer would be appreciated.</p>
			</div>
			<div id = "comment-11285" class = "comment">
				<p>Welcome to Robotics @Phan, I've just voted your question up, so you now have enough reputation to join TobiasK's [chat room](http://chat.stackexchange.com/rooms/26108/matlab-3d-simulation-with-solidwork-model).</p>
			</div>
			<div id = "comment-11297" class = "comment">
				<p>@MarkBooth: really appreciate your help! Thanks so much!</p>
			</div>
			</div>
				<textarea id = "speech-7723" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7723">
					<img id="start_img-7723" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7723">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7727"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7727" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I use CAD software to generate 3D models, convert those 3D models to an STL format, then load those STL files to Matlab with the following script:</p>

<pre><code>function [points,success] = LoadSTL(path)
% LoadSTL loads an ASCII STL file with units in [mm]. 
% The output is a structure array where each element in the array is 
% a vertex. 
%
% [points , success] = LoadSTL(path)
%
% path = String containing the path and extension of the file to be loaded.
% points = Matrix of locations where each column is a vertex, rows are x/y/z/1:
%    points(1,:) = x
%    points(2,:) = y
%    points(3,:) = z
%    points(4,:) = 1
%           NOTE - every three columns is a new face/facet. 
% success = Bit indicating if the file was successfully opened or not. 

success = 0;
fileID = fopen(path);
if fileID &lt;0
    fprintf('File not found at path %s\n',path);
    return;
end
fprintf('Loading Path %s...\n',path);
fileData = fread(fileID,'*char');
eol = sprintf('\n');
stlFile = strsplit(fileData',eol);
fclose(fileID);
fprintf('Done.\n')
pause(0.25);
clc
assignin('base' , 'stlFile' , stlFile)
pointsTracker = 1;
for i=2:size(stlFile,2)
    if mod(pointsTracker,100)==0
        clc
        fprintf('Parsing file at %s...\n',path);
        fprintf('Currently logged %d points\n',pointsTracker);
    end

    testLine = stlFile{i};
    rawStrip = strsplit(testLine , ' ' , 'CollapseDelimiters' , true);
    if numel(rawStrip) == 5
        points(1,pointsTracker) = str2double(rawStrip{1,3})/1000;
        points(2,pointsTracker) = str2double(rawStrip{1,4})/1000;
        points(3,pointsTracker) = str2double(rawStrip{1,5})/1000;
        points(4,pointsTracker) = 1;
        pointsTracker = pointsTracker + 1;
    end
end
disp('Done.')
pause(0.25);
clc;

if mod(size(points,2),3) &gt; 0
    disp('File format in an unexpected type.')
    disp('Check the file specified is an STL format file with ASCII formatting.')
    disp('(Error - number of vertices not a multiple of 3)')
    disp(numel(points.x))
    return;
end

success = 1;
return;
</code></pre>

<p>Once this is done I save the resulting output (points) as a .mat file and load exclusively from that .mat instead of the STL file because the .mat file loads <em>significantly</em> faster than parsing the STL file every time.</p>

<p>Once you've loaded the file, you can quickly plot the STL file in Matlab with the following command:</p>

<pre><code>myPlotColor = [0.5 0.5 0.5];
nFaces = size(points,2)/3;
patch(...
    reshape(points(1,:),3,nFaces) , ...
    reshape(points(2,:),3,nFaces) , ...
    reshape(points(3,:),3,nFaces) , ...
    myPlotColor);
</code></pre>

<p>At this point, standard Matlab plot commands work; e.g., <code>axis equal</code>, <code>hold on</code>, etc. </p>

<p>Now, given how to load and display STL files in Matlab plots from an m-file, you can go about doing whatever form of control you want. Transform the CAD file with any 4x4 transform matrix composed of a rotation matrix $R$ and translation vector $s$:</p>

<p>$$
\mbox{transformedPoints} = \begin{bmatrix}
 &amp; R&amp; &amp; s \\
0 &amp;0 &amp;0&amp; 1 \\
\end{bmatrix}
\mbox{points}
$$</p>

<p>Plot the transformed points with the <code>patch</code> command shown above. As long as you've generated your CAD model such that the origin of your 3D model corresponds with the origin of your mathematical model then any movement/rotation of the mathematical model about its origin can be correctly applied to the CAD model, which can then be displayed.</p>

<p>I'd just like to reiterate that this file loads STL files that are in ASCII format with units in millimeters, and the resulting plot is with units in meters, but of course you can change that with the <code>/1000</code> scaling during the loading of the file. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7727" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7727">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7727">Load Comments</button></br>
			<div id = "commentsection-7727" class = 'collapse'>
			<div id = "comment-11225" class = "comment">
				<p>It sounds great! Thank you for your answer. Can you share me an example of doing that or suggest me somewhere to look for more information  about this method?</p>
			</div>
			</div>
				<textarea id = "speech-7727" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7727">
					<img id="start_img-7727" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7727">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>