<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Matlab: System simulation with dynamic state matrix ~ input matrix
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7485" class = "post">
			<h2>Question</h2>
			<div id="vote-7485" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 132</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Matlab: System simulation with dynamic state matrix ~ input matrix</h2>
<p>I have the following system:
$$\dot{x} = A(t)x+B(t)u$$
$$y = x$$</p>

<p>$A(t)$ and $B(t)$ are actually scalar, but time-dependent. If they would be constant, I could simulate the system in Matlab using:</p>

<p><code>sys = ss(A,B,C,0);</code>
<code>lsim(sys,u,t,x0);</code></p>

<p>However, it would be nice to simulate the system with dynamic state and input matrix. The matrices are based on measurement data, this means I would have for each discrete time step $t_i$ another matrix $A(t_i)$. Any suggestions how to do that?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7485" data-toggle = "popover">
				<p>user name : donald</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-7485">{'None': 0, 'pose': 1, 'simulation': 1, 'motion': 1, 'matlab': 1, 'dynamics': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7485">Load Comments</button></br>
			<div id = "commentsection-7485" class = 'collapse'>
			<div id = "comment-10718" class = "comment">
				<p>I'm voting to close this question as off-topic because it belongs on [Stack Overflow](http://stackoverflow.com/) (yes, despite the fact that I answered it).</p>
			</div>
			<div id = "comment-10721" class = "comment">
				<p>What is wrong with using an ode solver such as ode45 and interpolating A and B?</p>
			</div>
			<div id = "comment-10722" class = "comment">
				<p>@Chuck I do not think this question would really be suited for stackoverflow, the computation science stackexchange would be a better choice.</p>
			</div>
			<div id = "comment-10723" class = "comment">
				<p>@fibonatic, you might be correct, but I've always gotten Matlab answers from Stack Overflow. To this point, consider there are 321 questions tagged with "matlab" on the computation science board, but 48,752 on the Stack Overflow board.</p>
			</div>
			<div id = "comment-10728" class = "comment">
				<p>@Chuck But stackoverflow is also an older/bigger stackexchange.</p>
			</div>
			<div id = "comment-10732" class = "comment">
				<p>@fibonatic, if you're looking at recent posts, consider 387 questions tagged with matlab on stack overflow this *week*, vs. 148 tagged on comp sci this *year*. EDIT - I'm just saying where I would post my own question if I wanted a solid response. Stack overflow has a larger community and Matlab questions still fall under their umbrella.</p>
			</div>
			<div id = "comment-10762" class = "comment">
				<p>Questions on Matlab simulations which are not specific to robotics are off-topic, so please try the appropriate stack exchange. Even questions which are on-topic here may still receive quicker and better answers on their own sites.</p>
			</div>
			<div id = "comment-11187" class = "comment">
				<p>What are A and B?</p>
			</div>
			<div id = "comment-11188" class = "comment">
				<p>@CroCo - this is a state space equation; x is a vector of state variables, u is a vector of inputs, A is typically the plant/system, and B applies the inputs to the system.  EDIT - y is the output, and there are typically C and D matrices for the output equation that control how the inputs and states appear in the output; here C is 1 and D is 0 so they aren't shown.</p>
			</div>
			<div id = "comment-11189" class = "comment">
				<p>@Chuck, I mean the numerical values or their analytical functions since they are time-varying, other than that there is no meaning for the simulation tag.</p>
			</div>
			<div id = "comment-11190" class = "comment">
				<p>I disagree - you can have symbolic simulations. This is less a question about a particular problem and more about how to approach a class of problems - simulating state space systems with time varying plants.</p>
			</div>
			</div>
				<textarea id = "speech-7485" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7485">
					<img id="start_img-7485" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7485">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7488"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7488" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When you say the matrices are based on measurement data, do you mean that $A(t)$ varies with your state space output $y$, which should be configured to provide your outputs (measurements), or that you want to actually provide a hard-coded series of parameters (field measurements) to the $A$ matrix?</p>

<p>If you are trying to do the former, have essentially $A=f(y)$, where $y=f(t)$ (because actually $y=f(x)$, but $x=f(t)$ by definition), then you can use ode45. In the function you want to use you can define y = x, then use that to update the parameters in $A$. </p>

<p>If you want the latter, or the former really, you can always brute force it. Setting up some standards real quick, let's say you have:</p>

<p>nSamples, which would be the number of time points in your simulation. </p>

<p>Your time step is dT. </p>

<p>You have nStates, so $size(A) = [nStates,nStates]$. Now assume that your A matrix evolves over time based of field samples (testing, etc.), you should have a bunch of $A$ matrices, such that you actually have $size(A) = [nStates,nStates,nSamples]$. </p>

<p>Now, try this:</p>

<blockquote>
  <p>x = Initial Conditions;</p>
  
  <p>for i = 1:nSamples</p>
  
  <p>currentA = A[<strong>: , : ,</strong> i];</p>
  
  <p>xDot = currentA * x + B * u;</p>
  
  <p>x = x + xDot * dT;</p>
  
  <p>y = x;</p>
  
  <p>end</p>
</blockquote>

<p>As before, if you just want to swap out parameters in $A$ based on $y$ then that's easy to implement too. </p>

<blockquote>
  <p>x = Initial Conditions;</p>
  
  <p>y = f(x);</p>
  
  <p>for i = 1:nSamples</p>
  
  <p>A = f(y);</p>
  
  <p>xDot = Ax + Bu;</p>
  
  <p>x = x + xDot*dT;</p>
  
  <p>y = f(x);</p>
  
  <p>end</p>
</blockquote>

<p>Again, this is just a brute-force method to implement what lsim does for you. It's just numeric integration. </p>

<p>Hope this helps!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7488" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7488">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7488" class = 'collapse'>
			</div>
				<textarea id = "speech-7488" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7488">
					<img id="start_img-7488" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7488">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>