<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Maximum Distance using Ultrasonic sensor Arduino
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2748" class = "post">
			<h2>Question</h2>
			<div id="vote-2748" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 9302</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Maximum Distance using Ultrasonic sensor Arduino</h2>
<p>What is the maximum distance (of say , a car ) you could measure using an ultrasonic sensor that would be compatible with arduino? Is there any sensor(ultrasonic or not) that could measure the distance of a car , say upto 50 meters that can be used with arduino?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2748" data-toggle = "popover">
				<p>user name : Ahmed A.M</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2748">{'None': 0, 'ultrasonic-sensors': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2748">Load Comments</button></br>
			<div id = "commentsection-2748" class = 'collapse'>
			<div id = "comment-5126" class = "comment">
				<p>"compatible with arduino" describes almost every rangefinding sensor on the market.  The low-level ones use a digital signal to indicate send/receive times, and the more high-level ones give output (ascii or binary) on a serial port.</p>
			</div>
			<div id = "comment-5129" class = "comment">
				<p>A quick search hasn't shown me any ultrasonic sensors capable of more than a few meters, certainly nowhere near 50m. At those distances laser would be a viable solution if you are after a simple sensor. Beyond that I guess you are into camera based recognition, but that's probably more than an Arduino can handle.</p>
			</div>
			</div>
				<textarea id = "speech-2748" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2748">
					<img id="start_img-2748" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2748">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2765"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2765" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your question is multiple questions inside of one. As answered in comments, your question should probably be limited to the sensor and/or technology for longer range detection of large (moving?) objects. The use of an arduino is mostly irrelevant.</p>

<p>As per comment by @Ian, <strong>ultrasonic sensors will probably not be useful at 50 meters</strong>, I think due to physics of sound. See the article below on choosing an ultrasonic sensor.</p>

<p>One option might be to use a <strong>laser rangefinder</strong> (such as you can find in hardware stores).  Another option might be to use <strong>radar</strong>, such as in old police radar guns. However, both of these options are <strong>limited in capability and highly dependent on environmental factors</strong>.</p>

<p>Perhaps the best option would be a <strong>LIDAR system</strong>. They tend to be expensive, but there is an upcoming product called "LIDAR-Lite" by PulseLight that is lower cost and might be of interest. They are advertising a 40 meter range capability.</p>

<p>Additional reading:</p>

<ul>
<li><a href="http://www.phoenixgarage.org/show_article/167" rel="nofollow">Low Cost LIDAR and Laser Range Finders: Where Are They?</a></li>
<li><a href="https://store.3drobotics.com/products/lidar-lite/" rel="nofollow">LIDAR-Lite by PulseLight</a></li>
<li><a href="http://www.parallax.com/product/28043" rel="nofollow">SF02 Laser Rangefinder from Parallax</a></li>
<li><a href="http://www.sensorsmag.com/sensors/acoustic-ultrasound/choosing-ultrasonic-sensor-proximity-or-distance-measurement-825" rel="nofollow">Choosing an Ultrasonic Sensor for Proximity or Distance Measurement</a></li>
<li><a href="http://www.maxbotix.com/performance.htm" rel="nofollow">Beam patterns of various MaxBotix ultrasonic sensors</a></li>
<li><a href="http://en.wikipedia.org/wiki/Radar_gun" rel="nofollow">Radar Gun</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2765" data-toggle = "popover">
				<p>user name : kaliatech</p>
				<p> user reputation : 472</p>
				<p class = "tagcontent" id = "usertaginfo-2765">{'None': 28, 'microcontroller': 5, 'serial': 5, 'rs232': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2765">Load Comments</button></br>
			<div id = "commentsection-2765" class = 'collapse'>
			<div id = "comment-5274" class = "comment">
				<p>Kaliatech is right in regards to the physics of sound waves preventing you from being able to use an ultrasonic sensor at 50 meters. As sound waves move forward away from the sensor, they also spread out drastically in a cone shape. This means that your ultrasonic sensor could receive an echo from anything 50 meters out and tens of meters sideways, which isn't the type of resolution you're looking for I'd assume.</p>
			</div>
			</div>
				<textarea id = "speech-2765" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2765">
					<img id="start_img-2765" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2765">Comment</button>
			<br><div id = "ans-3053"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3053" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is a <a href="http://hackaday.com/2014/01/23/lidar-with-leds-for-under-100/" rel="nofollow">cheap LIDAR</a> I saw on hackaday earlier this year that can connect to an Arduino over I2C (or any other micro). The sensor can detect up to 40m, and it's called <a href="http://www.dragoninnovation.com/projects/32-pulsedlight-single-board-range-finder-minimodule" rel="nofollow">LIDAR-LITE</a>. They start shipping next month and can be ordered from <a href="https://store.3drobotics.com/products/lidar-lite/" rel="nofollow">here</a> for $72 US.</p>

<p>As the previous comments/answers have indicated, you will get nowhere near 50m with any ultrasonic sensor, most hobbyist ones are only a meter or 2.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3053" data-toggle = "popover">
				<p>user name : Pikey</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-3053">{'None': 4, 'lidar': 0, 'kinect': 0, 'slam': 0, 'mobile-robot': 0, 'ros': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3053" class = 'collapse'>
			</div>
				<textarea id = "speech-3053" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3053">
					<img id="start_img-3053" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3053">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>