<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Maximum likelihood estimator (ML Data Association) EKF
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3166" class = "post">
			<h2>Question</h2>
			<div id="vote-3166" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 191</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Maximum likelihood estimator (ML Data Association) EKF</h2>
<p>This question is an extension to <a href="https://robotics.stackexchange.com/questions/3073/data-association-with-ekf">my previous problem (Data association with ekf)</a>. My problem here is in the line 16 in the aforementioned link. </p>

<p>16. &nbsp; &nbsp; $ j(i) = \underset{k}{\operatorname{arg\,max}} \ \ det(2 \pi S^{k})^{-\frac{1}{2}} \exp\{-\frac{1}{2} (z^{i}-\hat{z}^{k})^{T}[S^{k}]^{-1} (z^{i}-\hat{z}^{k})\} $</p>

<p>When I compute this line, I'm getting huge number <code>1.0e+09 * 3.5230</code>. This is probability density function. Why is the pdf getting bigger than 1 in a huge way?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3166" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-3166">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3166" class = 'collapse'>
			</div>
				<textarea id = "speech-3166" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3166">
					<img id="start_img-3166" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3166">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3192"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3192" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Getting a value larger than 1 in a pdf <a href="http://en.wikipedia.org/wiki/Probability_density_function#Further_details" rel="nofollow">is normal</a>. Remember that the pdf does not actually evaluate to a probability itself, but to a density. Only the integral over the function has to evaluate to 1. For a continuous variable the probability of getting exactly one particular value approaches zero. In this case you can only give the probability that the variable is within a certain interval, or you can compare the relative probability. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3192" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-3192">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3192">Load Comments</button></br>
			<div id = "commentsection-3192" class = 'collapse'>
			<div id = "comment-6718" class = "comment">
				<p>I'm getting zeros for other features. This makes the filter to diverge. I have no idea why this is the case. Matlab is telling me the covariance is not positive definite however in the book the covariance is semidefinite  which means the covariance is greater than or equal zero.</p>
			</div>
			<div id = "comment-6723" class = "comment">
				<p>Sounds like another question to me :)</p>
			</div>
			</div>
				<textarea id = "speech-3192" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3192">
					<img id="start_img-3192" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3192">Comment</button>
			<br><div id = "ans-3193"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3193" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just like Jacob said. The integral of pdf from $\int_{-\infty}^{\infty}{f(t) dt}=1$ for some pdf $f(t)$.
This does not mean the pdf cannot be more than one at some point (i.e. infinitesimal interval). Thinking about <a href="http://en.wikipedia.org/wiki/Dirac_delta_function" rel="nofollow">dirac delta function</a> might help.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3193" data-toggle = "popover">
				<p>user name : vvikas01</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-3193">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3193" class = 'collapse'>
			</div>
				<textarea id = "speech-3193" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3193">
					<img id="start_img-3193" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3193">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>