<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Maze Solving Algorithm For Mazes With Loops
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1448" class = "post">
			<h2>Question</h2>
			<div id="vote-1448" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3938</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Maze Solving Algorithm For Mazes With Loops</h2>
<p>I am trying to implement a line following robot that can solve mazes similar to the Pololu robots you can watch on youtube. My problem is the maze that I am trying to solve is looped and therefore simple Left/Right hand rule can not solve the maze. I have done some research and think either Flood-Fill or Breadth-First-Search algorithm will be able to solve these looped mazes. Solving the maze is reaching a large black area where all the sensors will read black. When the robot is following the line some of the sensors will read white and the central ones black.</p>

<p>Is there any other algorithms that can solve looped mazes? I understand how the Flood-Fill algorithm works but am unsure how it could be implemented in this situation.</p>

<p>My robot has 3 sensors on the bottom. The one in the centre is expected to always read black (the black line it follows) and the sensors on the right and left are expected to read white (while following a straight line) and then black once a junction or turn is reached. My robot has no problem following the line, turning etc. I need to find an algorithm that can solve looped mazes (that is, find a path from an entrance to an exit).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1448" data-toggle = "popover">
				<p>user name : user2476983</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-1448">{'mobile-robot': 3, 'None': 0, 'motion-planning': 3, 'routing': 3, 'line-following': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1448">Load Comments</button></br>
			<div id = "commentsection-1448" class = 'collapse'>
			<div id = "comment-3093" class = "comment">
				<p>How about http://en.wikipedia.org/wiki/Maze_solving_algorithm</p>
			</div>
			</div>
				<textarea id = "speech-1448" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1448">
					<img id="start_img-1448" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1448">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1471"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1471" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If both entrance and exit of the maze is at the edges of the maze, the left/right hand (wall following) algorithm should work. If you start following a wall that is connected to the exit, you could never get into a loop.</p>

<p>If you want the robot to be able to start in the middle of a maze with loops then simple wall following is not enough. I would recommend the <a href="http://en.wikipedia.org/wiki/Maze_solving_algorithm#Pledge_algorithm" rel="nofollow">Pledge algorithm</a> in that case. The basic idea is that you pick an arbritary direction and follow it until you encounter a wall. Then you follow the wall until you have made as many righ turns as left turns, then continue forward (along the direction you originally picked).</p>

<p>The Pledge algorithm is proven to work in the ideal case with perfect sensors or some kind of error correction. If there could be errors when turning and not all angles are 90  some further measures may be needed (for example a compass). See <a href="http://academic.research.microsoft.com/Paper/688807.aspx" rel="nofollow">this article</a> for more details (<a href="http://web.informatik.uni-bonn.de/I/publications/kl-pares-03.pdf" rel="nofollow">direct link to the pdf</a>). In your case the errors should be small enough.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1471" data-toggle = "popover">
				<p>user name : Hjulle</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-1471">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1471">Load Comments</button></br>
			<div id = "commentsection-1471" class = 'collapse'>
			<div id = "comment-3120" class = "comment">
				<p>I need a robust algorithm as I don't know whether the start point is at the edge or somewhere inside the maze, nor do i know whether the finish is on the outside or inside. Reading about the pledge algorithm it can't solve all of these cases.</p>
			</div>
			<div id = "comment-3121" class = "comment">
				<p>It can solve all cases as far as I know. The "G"-shape is only mentioned to explain why it should be implemented that way it is (360  != 0 ).</p>
			</div>
			</div>
				<textarea id = "speech-1471" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1471">
					<img id="start_img-1471" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1471">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>