<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Meaning of 'sign' in Writhe Matrix
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9536" class = "post">
			<h2>Question</h2>
			<div id="vote-9536" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Meaning of 'sign' in Writhe Matrix</h2>
<p>Following is the equation of Writhe matrix from the article <a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=2&amp;cad=rja&amp;uact=8&amp;ved=0ahUKEwiShMzIuOnLAhVIQyYKHS5RD-oQFggpMAE&amp;url=https%3A%2F%2Fipvs.informatik.uni-stuttgart.de%2Fmlr%2Fpapers%2F13-ivan-IJRR.pdf&amp;usg=AFQjCNHftBdmoPCF6xDv59fxlEfwGkLGvg&amp;sig2=m9a-rNtK1v6NAJxqr3rTqA&amp;bvm=bv.117868183,bs.1,d.eWE" rel="nofollow noreferrer">Topology based Representation</a>(page no. 6).
<a href="https://i.stack.imgur.com/k8LQw.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/k8LQw.jpg" alt="enter image description here"></a></p>

<p>What is the meaning of 'sign' in the second part of this equation? I am not sure if this is some typo in that article as the other article of <a href="http://www.roboticsproceedings.org/rss08/p59.pdf" rel="nofollow noreferrer">Hierarchical Motion Planning</a>(page no. 3), compleletely neglects the term 'sign[...]'
<a href="https://i.stack.imgur.com/L2LJJ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/L2LJJ.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9536" data-toggle = "popover">
				<p>user name : vacky</p>
				<p> user reputation : 140</p>
				<p class = "tagcontent" id = "usertaginfo-9536">{'control': 8, 'None': 0, 'computer-vision': 6, 'algorithm': 8, 'monocular': 6, 'python': 3, 'pose': 0, 'wheeled-robot': 7, 'visual-odometry': 6, 'opencv': 0, 'slam': 6, 'robotic-arm': 18, 'mobile-robot': 12, 'motion-planning': 19, 'navigation': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9536" class = 'collapse'>
			</div>
				<textarea id = "speech-9536" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9536">
					<img id="start_img-9536" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9536">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9537"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9537" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sign is a function that returns +1 whenever the operand is anything positive, -1 if it's anything negative, and 0 if it's zero. I'm not sure if it's mathematically correct for your equation as I'm not familiar with it, but it's not an uncommon function, especially in the realm of robotics. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9537" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9537">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9537">Load Comments</button></br>
			<div id = "commentsection-9537" class = 'collapse'>
			<div id = "comment-16854" class = "comment">
				<p>Plus the sign of a vector is generally returned as a vector where each element is the sign as @Chuck describes for the corresponding element of its argument.</p>
			</div>
			<div id = "comment-16856" class = "comment">
				<p>@SteveO is correct; there's no definition for multiple elements (what would it be if a11 were positive and a21 were negative?) so any multidimensional inputs yield multidimensional outputs.</p>
			</div>
			</div>
				<textarea id = "speech-9537" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9537">
					<img id="start_img-9537" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9537">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>