<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Meaning of the equation of graphical model
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9542" class = "post">
			<h2>Question</h2>
			<div id="vote-9542" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Meaning of the equation of graphical model</h2>
<p>The paper <a href="https://ipvs.informatik.uni-stuttgart.de/mlr/papers/13-ivan-IJRR.pdf" rel="nofollow noreferrer"><em>Topology-based Representations for Motion Planning
and Generalisation in Dynamic Environments with
Interactions</em></a> by Ivan
et.al., says on page 10 that the Approximate Inference Control (AICO) framework translates the robot dynamics to the graphical model by the following equation:</p>

<p><a href="https://i.stack.imgur.com/lQsJ4.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/lQsJ4.jpg" alt="enter image description here"></a></p>

<p>What does p(x0:T,u0:T) mean? I feel that p means 'prior of' some uncertain quantity, but I'm not sure about this. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9542" data-toggle = "popover">
				<p>user name : vacky</p>
				<p> user reputation : 140</p>
				<p class = "tagcontent" id = "usertaginfo-9542">{'control': 8, 'None': 0, 'computer-vision': 6, 'algorithm': 8, 'monocular': 6, 'python': 3, 'pose': 0, 'wheeled-robot': 7, 'visual-odometry': 6, 'opencv': 0, 'slam': 6, 'robotic-arm': 18, 'mobile-robot': 12, 'motion-planning': 19, 'navigation': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9542">Load Comments</button></br>
			<div id = "commentsection-9542" class = 'collapse'>
			<div id = "comment-16872" class = "comment">
				<p>Maybe you should be more specific in your question. $p(x_{0:T},u_{0:T})$ normally means the joint probability distribution of all states and control inputs.</p>
			</div>
			</div>
				<textarea id = "speech-9542" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9542">
					<img id="start_img-9542" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9542">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9548"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9548" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is not a prior. It is the posterior of trajectory and controls. Basically that equation gives you the motion model of the robot similar to the motion models described in Sebastian Thrun's Probabilistic Robotics. $x_{0:t}$ is a set of poses i.e., trajectory and $u_{0:t}$ is a set of controls, i.e., Motor commands for the joints. The posterior here provides a likelihood estimate of the robot's pose after a control command. From what I understand after skimming through the rather obscure paper and another paper <a href="https://homes.cs.washington.edu/~todorov/courses/amath579/reading/Toussaint.pdf" rel="nofollow">Robot Trajectory Optimization using Approximate Inference</a> that the LHS is used to compute a likelihood for the next pose, $x_{t+1}$ if a control action $u_t$ is chosen with the knowledge of $x_t$. The LHS can be viewed as described in the Background section below. From the latter paper, the estimation of state $x_{t+1}$ requires some confidence on the knowledge of current state $x_t$ which is given by the covariance matrix $A$ and mean $a$.</p>

<p><strong>Background:</strong></p>

<p>$p(x_{0:t},u_{0:t})$ is called a state transition probability, it can also be written as $p(x_{t}|x_{0:t-1}, u_{0:t})$ since it can be assumed that $x_t$ is a complete state or here just the pose of the robot, i.e. it is a summary of all that happened in the past poses after executing commands in the set $u_{1:t}$. What this results in is that $x_t$ is conditional stochastically on $x_{t-1}$ and can be estimated by executing the command $u_t$. Which is what the motion model does for you and it is shown as $p(x_t|u_t, x_{t-1})$. It says that the state $x_t$ depends on $u_t$ and can be computed as long as $x_{t-1}$ is known.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9548" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-9548">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9548">Load Comments</button></br>
			<div id = "commentsection-9548" class = 'collapse'>
			<div id = "comment-16883" class = "comment">
				<p>Thank you for the explanation @Tva . But what does posterior trajectory and control mean?</p>
			</div>
			<div id = "comment-16884" class = "comment">
				<p>I have edited the answer to add what the posterior means.</p>
			</div>
			<div id = "comment-16885" class = "comment">
				<p>If it means likelihood estimate of robot's pose "**given**" a control command, then why it is not written like this: p(x0:t | u0:t)? I mean why it is not written in terms of conditional probability?@Tva </p>
			</div>
			<div id = "comment-16886" class = "comment">
				<p>@vacky my wrong choice of words - the posterior estimates the likelihood after a control command is given. It makes use of the command to construct an estimate of what its pose is as a result of the command.</p>
			</div>
			</div>
				<textarea id = "speech-9548" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9548">
					<img id="start_img-9548" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9548">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>