<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Measuring angular displacement using the TI-SensorTag
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7120" class = "post">
			<h2>Question</h2>
			<div id="vote-7120" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 205</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Measuring angular displacement using the TI-SensorTag</h2>
<p>I've looked around but can't find the answer, to what I hope is a simple question. I'm working with a TI-SensorTag, and I want to be able measure the rotation around the unit's Z-axis. Basically I want to attach the tag to a clock pendulum, lie the clock on a table so the tag and clock face point up, and to measure the angular displacement of the pendulum as it swings back and forth. I'm hoping the mental image translated well! </p>

<p>My understanding is that I can solve for displacement by multiplying my gyroscope readings by my sampling period, but I'm not sure how to compensate for drift. So my questions are: is my approach sound, and is the answer to drift to use the changing x and y accelerations? Or would I need to somehow incorporate the magnetometer readings?</p>

<p>Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7120" data-toggle = "popover">
				<p>user name : lguo</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-7120">{'None': 0, 'kinematics': 1, 'sensors': 1, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7120">Load Comments</button></br>
			<div id = "commentsection-7120" class = 'collapse'>
			<div id = "comment-10535" class = "comment">
				<p>I don't know if I'm having an issue visualizing this or you have a faulty plan. Is the clock going to be laying on its back, so the clock face is pointing up? That's the way I read your statement. If so, the pendulum will not swing because gravity doesn't pull horizontally.</p>
			</div>
			</div>
				<textarea id = "speech-7120" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7120">
					<img id="start_img-7120" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7120">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7130"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7130" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For your application the magnetometer data are the best to use.</p>

<p>The accelerometer data are completely useless. The gyro data have the drift problem, but the magnetometer data are the best.</p>

<p>The earth's magnetic field can be seen like some kind of vector field. Any place on the earth is a specific field, which you can calculate on this webpage: <br> <a href="http://www.ngdc.noaa.gov/geomag-web/#igrfwmm" rel="nofollow">http://www.ngdc.noaa.gov/geomag-web/#igrfwmm</a> <br>
So basically the vertical component is useless for you application. In addition, you see, that east component is way smaller than the north component. So you can neglect the east component. 
The rest is applying a simple trigonometric operator on the measurement and you are done.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7130" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-7130">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7130">Load Comments</button></br>
			<div id = "commentsection-7130" class = 'collapse'>
			<div id = "comment-10568" class = "comment">
				<p>Like @TobiasK, I've also found that the accelerometer is pretty useless.</p>
			</div>
			<div id = "comment-10569" class = "comment">
				<p>This does not provide an answer to the question. To critique or request clarification from an author, leave a comment below their post - you can always comment on your own posts, and once you have sufficient [reputation](http://robotics.stackexchange.com/help/whats-reputation) you will be able to [comment on any post](http://robotics.stackexchange.com/help/privileges/comment).</p>
			</div>
			</div>
				<textarea id = "speech-7130" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7130">
					<img id="start_img-7130" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7130">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>