<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Measure 2 diffrent battery voltages on arduino
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10461" class = "post">
			<h2>Question</h2>
			<div id="vote-10461" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 66</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Measure 2 diffrent battery voltages on arduino</h2>
<p>Is it possible to measure the voltage of 2 different batteries on arduino? Currently I am able to use a resistor divider / voltage divider of 2x 10K resistors to an analog pin to read the voltage of the battery supplying the arduino.</p>

<p>Currently the system looks like 6v battery -> 5v power regulator to Arduino -> resistor divider attached to 6v (unregulated) battery. GND is common throughout.</p>

<p>How could I measure the voltage of another battery given that it will be on a different circuit? e.g. different ground loop.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10461" data-toggle = "popover">
				<p>user name : Alex</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-10461">{'None': 1, 'power': 2, 'arduino': 3, 'platform': 0, 'tracks': 0, 'design': 0, 'mobile-robot': 0, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10461">Load Comments</button></br>
			<div id = "commentsection-10461" class = 'collapse'>
			<div id = "comment-18815" class = "comment">
				<p>could you upload a drawing of what your circuit looks like? Whats stopping you from using the same ground for both batteries?</p>
			</div>
			<div id = "comment-18826" class = "comment">
				<p>each battery has its own ground e.g. black wire, no? you can't chain grounds together if they are separate circuits... they arnt in parallel or in series...</p>
			</div>
			</div>
				<textarea id = "speech-10461" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10461">
					<img id="start_img-10461" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10461">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10485"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10485" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You cannot measure a voltage if you don't have any reference to measure it.</p>

<p>So you have to connect the two wire of your second battery to your arduino circuit : 
just connect the ground of the second battery to the common ground and apply the same technique for the voltage measurement.</p>

<p>Here is an image to show how you can do : 
<a href="https://i.stack.imgur.com/in8AX.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/in8AX.png" alt="Different bat voltage arduino"></a></p>

<ul>
<li>B1 is your main battery</li>
<li>R2 and R1 make the voltage division for measurement on ANA_1 (any analog pin of the arduino is OK)</li>
<li>B2 is your second battery</li>
<li>R4 and R3 make the voltage division for measurement on ANA_2 (any analog pin of the arduino is OK)</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10485" data-toggle = "popover">
				<p>user name : Inounx</p>
				<p> user reputation : 66</p>
				<p class = "tagcontent" id = "usertaginfo-10485">{'mobile-robot': 4, 'None': 3, 'navigation': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10485">Load Comments</button></br>
			<div id = "commentsection-10485" class = 'collapse'>
			<div id = "comment-18905" class = "comment">
				<p>Thank you very much! Side note, what software do you use for your circuit mockups?</p>
			</div>
			<div id = "comment-18909" class = "comment">
				<p>It is LTSpice IV, a free software used for simulating electronics</p>
			</div>
			</div>
				<textarea id = "speech-10485" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10485">
					<img id="start_img-10485" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10485">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>