<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Measuring speed of movement in Webots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-883" class = "post">
			<h2>Question</h2>
			<div id="vote-883" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 294</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Measuring speed of movement in Webots</h2>
<p>I have been experimenting with different fitness functions for my <a href="http://www.cyberbotics.com/overview" rel="nofollow">Webots robot simulation</a> (in short: I'm using genetic algorithm to evolve interesting behaviour).</p>

<p>The idea I have now is to reward/punish Aibo based on its speed of movement. The movement is performed by setting new joint position, and currently it results in jerky random movements. I have been looking at the nodes available in Webots, but apart from GPS node (which is not available in Aibo) I couldn't find anything relevant.</p>

<p>What I want to achieve is to measure the distance from previous location to current location after each movement.  How can I do this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-883" data-toggle = "popover">
				<p>user name : Anna Pawlicka</p>
				<p> user reputation : 138</p>
				<p class = "tagcontent" id = "usertaginfo-883">{'mobile-robot': 5, 'None': 1, 'reinforcement-learning': 5, 'simulator': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-883" class = 'collapse'>
			</div>
				<textarea id = "speech-883" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-883">
					<img id="start_img-883" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-883">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-887"  class = "post">
				<h2>Answer</h2>
			<div id="vote-887" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I went to the source (Cyberbotics) and got these 2 solutions:</p>

<ul>
<li><p>Aibo has no GPS. And it's not straight forward to add it, because its node hierachy is hidden behind the prototype mechanism. The definition of the Aibo if however open-source:
$WEBOTS/resources/projects/robots/aibo/protos/Aibo_ERS7.proto
GPS can be added to the project (into the protos path) and modified as we wish.
Adding GPS is as simple as adding a GPS node inside the direct children of the Robot node.</p></li>
<li><p>A supervisor allows to query the scene tree. This includes getting the position of the Aibo.
This solution is clearer. The following example shows a supervisor retrieving information from the scene tree:
$WEBOTS/projects/samples/devices/worlds/supervisor.wbt</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-887" data-toggle = "popover">
				<p>user name : Anna Pawlicka</p>
				<p> user reputation : 138</p>
				<p class = "tagcontent" id = "usertaginfo-887">{'mobile-robot': 5, 'None': 1, 'reinforcement-learning': 5, 'simulator': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-887" class = 'collapse'>
			</div>
				<textarea id = "speech-887" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-887">
					<img id="start_img-887" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-887">Comment</button>
			<br><div id = "ans-902"  class = "post">
				<h2>Answer</h2>
			<div id="vote-902" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some years ago I have used the supervisor to know the position of a simulated Khepera robot in Webots 4.
The main components of the C code was the following:</p>

<p>Declarations:</p>

<pre><code>  #define STEP 64

  NodeRef robot_node;
  float robot_data[4]={0,0,0,0};
</code></pre>

<p>Getting the node named Khepera:</p>

<pre><code>  robot_node=(NodeRef)supervisor_node_get_from_def("KHEPERA");
</code></pre>

<p>Getting data from the node in every STEP milliseconds: </p>

<pre><code>supervisor_field_get(robot_node,SUPERVISOR_FIELD_TRANSLATION|SUPERVISOR_FIELD_ROTATION_ANGLE,&amp;robot_data,STEP);
</code></pre>

<p>All the above was called before the main cycle of the supervisor. The main cycle contained a <code>robot_step(STEP);</code> call to let the system fill the elements of the robot data structure (x,y,z,head coordinates) regularly.</p>

<p>Again it was Webots 4 may be there are better ways in Webots 7 to fulfill the task but it could be a starting point.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-902" data-toggle = "popover">
				<p>user name : rics</p>
				<p> user reputation : 551</p>
				<p class = "tagcontent" id = "usertaginfo-902">{'kinect': 32, 'multi-agent': 3, 'None': 25, 'sensors': 32}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-902">Load Comments</button></br>
			<div id = "commentsection-902" class = 'collapse'>
			<div id = "comment-2196" class = "comment">
				<p>I don't think this has changed much since version 4. I'm programming in Java so method names are a little different, but retrieving translation via supervisor looks very similar. Thank you!</p>
			</div>
			</div>
				<textarea id = "speech-902" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-902">
					<img id="start_img-902" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-902">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>