<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Measuring the performance and response rate of ESCs
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4953" class = "post">
			<h2>Question</h2>
			<div id="vote-4953" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 81</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Measuring the performance and response rate of ESCs</h2>
<p>How would i go about measuring and quantifying the performance of an ESC? I am looking to measure the response rate(in Hz) of an ESC, as well as it's performance(i.e how fast it starts and stops, as well as how much it increases/decreases the motor's speed per tick).</p>

<p>I'm assuming that i can manually program an ESC and it's response rate with a programming card/module that is compatible with said ESC, but i would still not be able to measure the exact performance of the ESC.</p>

<p>I would appreciate any and all inputs and suggestions.</p>

<p>P.S This question is linked/asked in conjunction with a previous question of mine here on the Robotics StackExchange here   <a href="https://robotics.stackexchange.com/questions/4939/why-cant-i-use-different-escs-together-on-a-multirotor">Why can&#39;t i use different ESCs together on a multirotor?</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4953" data-toggle = "popover">
				<p>user name : Kenneth .J</p>
				<p> user reputation : 179</p>
				<p class = "tagcontent" id = "usertaginfo-4953">{'quadcopter': 14, 'None': 0, 'ardupilot': 1, 'power': 1, 'multi-rotor': 12, 'radio-control': 1, 'arduino': 5, 'microcontroller': 10, 'battery': 1, 'esc': 7, 'electronics': 7, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4953" class = 'collapse'>
			</div>
				<textarea id = "speech-4953" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4953">
					<img id="start_img-4953" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4953">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5052"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5052" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After reading your other question, I reason that the one quantity you can look at is the rpm of your motor at different input values.</p>

<p>To measure this, you may use a tachometer and give your ESC an input from your transmitter and then record your tachometer readings for several inputs.</p>

<p>I myself user different esc's on one of my tricopter's, reason being, the ones I purchased earlier are no longer available. It flies fine as the flight controller compensates for any differences, but you may notice erratic behaviour while flying aggressively.</p>

<p>On a different note, you could also open up the esc and look at the hardware used. Almost all esc's use an avr running at the same speed, so if you flash the same firmware in them, they would operate the same, given that the rest of the hardware is identical.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5052" data-toggle = "popover">
				<p>user name : pushpreet</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-5052">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5052" class = 'collapse'>
			</div>
				<textarea id = "speech-5052" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5052">
					<img id="start_img-5052" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5052">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>