<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Mechanism to oscillate a human leg?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10644" class = "post">
			<h2>Question</h2>
			<div id="vote-10644" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 47</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Mechanism to oscillate a human leg?</h2>
<p>I'm working on creating a robotic device capable of oscillating an adult human leg using the knee as pivot, being able to constrain the amplitude of oscillation by controlling the mechanism with a microcontroller and some other electronic components.</p>

<p>The only idea I have to do this is by placing a pair of servomotors and some gears that will rotate the structure that holds the leg and then control the PWM, however I don't think I will be able to find servos strong enough to lift both the structure and the leg, so it would be very useful to hear some suggested mechanism and motors to accomplish this device. </p>

<p><a href="https://i.stack.imgur.com/uKnnS.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uKnnS.png" alt="This is what I&#39;ve tried to do"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10644" data-toggle = "popover">
				<p>user name : Jaime Centeno</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10644">{'None': 0, 'design': 1, 'mechanism': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10644">Load Comments</button></br>
			<div id = "commentsection-10644" class = 'collapse'>
			<div id = "comment-19142" class = "comment">
				<p>A drawing of what you are trying to accomplish would be helpful.</p>
			</div>
			<div id = "comment-19143" class = "comment">
				<p>I've just added a rough sketch of what I've tried to do</p>
			</div>
			<div id = "comment-19147" class = "comment">
				<p>"*I don't think I will be able to find servos strong enough to lift both the structure and the leg*" why do you think that? Servo motors come in many strengths and sizes.</p>
			</div>
			<div id = "comment-19149" class = "comment">
				<p>You could go in a gym and look for a machine that e.g. trains the quadrizeps fermoris (front of upper leg). Now replace the weights with a motor and you should have a first protoype.</p>
			</div>
			<div id = "comment-19271" class = "comment">
				<p>This needs more information. If there is no requirement for speed or acceleration, you could use a very small motor as long as the reduction is big enough. You might also think of including passive parallel springs or counter weights to partly compensate for gravity. Are upper and lower leg both free (rather than being fixed to the machine) and is the upper part of the robot fixed to the world? If not, then you might want to consider doing a literature survey to active exoskeletons.</p>
			</div>
			</div>
				<textarea id = "speech-10644" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10644">
					<img id="start_img-10644" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10644">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>