<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Mechanism for changing gears on a bicycle
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1897" class = "post">
			<h2>Question</h2>
			<div id="vote-1897" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 355</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Mechanism for changing gears on a bicycle</h2>
<p>I'm looking to make an automatically shifting bicycle for my senior design project (along with some additional features TBD). However, I come from an electrical/software background; not a mechanical one. So I need to figure out a decent way to shift gears. I was thinking of leaving the gear system in place as is and using some sort of motor (servo or stepper motor with worm gears) to pull and release the wire cable as needed. However, I have some concerns with this; namely the amount of torque needed to pull the wire and finding something with enough holding torque. Perhaps my best option is to use the trigger shifters on as well and perhaps use a solenoid. My other concern (namely with the worm gear) is that it'll be too slow. </p>

<p>So I would like to pick your brains here for a moment. Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1897" data-toggle = "popover">
				<p>user name : audiFanatic</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-1897">{'None': 0, 'automatic': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1897">Load Comments</button></br>
			<div id = "commentsection-1897" class = 'collapse'>
			<div id = "comment-3897" class = "comment">
				<p>Do you have the ability to measure the tension required to pull the shifter to its limit?  Knowing that measurement would be the first step toward making any type of informed decision.</p>
			</div>
			<div id = "comment-3939" class = "comment">
				<p>I could probably use a tension gauge to measure it once I obtain a donor bicycle.</p>
			</div>
			<div id = "comment-13397" class = "comment">
				<p>I have seen a very simple unit on a 3 speed hub gear that was bolted to the chain  guard and would actuate the read hub rear link as the pedal cadence increased.  It certainly looked like a old bit of gear from the 80's.</p>
			</div>
			<div id = "comment-13398" class = "comment">
				<p>This is a exploded view of a commercial gear cable actuator, very nice.  http://www.schaeffler.com/remotemedien/media/_shared_media/04_sectors/02_industry/bicycles_and_sports_equipment/000868CE.jpg</p>
			</div>
			</div>
				<textarea id = "speech-1897" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1897">
					<img id="start_img-1897" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1897">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1898"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1898" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Depending on your budget, for the mechanical part you could use one of the electronic derailleurs on the market and simply add send it signals from your microcontroller. </p>

<p>One of the fancier ones I've seen is the Shimano Di2 Dura Ace 7970 It's not cheap though, it's about <a href="http://www.performancebike.com/bikes/Product_10052_10551_1147610_-1_400608__400608" rel="nofollow">\$2200</a> for the set or \$500 for the rear derailleur alone, \$690 for the shifters, plus another \$85 for the battery.</p>

<p>If you're looking for something cheaper, you might want to check out a project from some Carnegie Mellon students. <a href="http://build18.ece.cmu.edu/wiki/index.php/Automatic_Bicycle_Transmission" rel="nofollow">Their wiki</a> goes into more detail. It looks like they used an Arduino controller, hall effect sensors and four servos to control the shifting based on rider cadence.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1898" data-toggle = "popover">
				<p>user name : lttlblckbx</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-1898">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1898">Load Comments</button></br>
			<div id = "commentsection-1898" class = 'collapse'>
			<div id = "comment-3892" class = "comment">
				<p>Very interesting, I never knew that you could buy these. Way too expensive for us, unfortunately. But now that I know they exist, I'll shop around</p>
			</div>
			<div id = "comment-3893" class = "comment">
				<p>IEEE also has an interesting DIY tutorial that I'm looking into. http://spectrum.ieee.org/geek-life/hands-on/diy-electronic-bicycle-derailleur</p>
			</div>
			</div>
				<textarea id = "speech-1898" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1898">
					<img id="start_img-1898" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1898">Comment</button>
			<br><div id = "ans-1902"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1902" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This might be a stupid idea, but wouldn't using a CVT (continuously variable transmission) be easier to control using an electronic system (both from a mechanical and control points of view)?</p>

<p>I'm just not sure how easy it is to build one. I hope this helps! Good luck! :D</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1902" data-toggle = "popover">
				<p>user name : Cashew</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-1902">{'None': 1, 'slam': 2, 'mapping': 2, 'localization': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1902" class = 'collapse'>
			</div>
				<textarea id = "speech-1902" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1902">
					<img id="start_img-1902" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1902">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>