<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Mechanical or electrical engineering for robotic and automation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4362" class = "post">
			<h2>Question</h2>
			<div id="vote-4362" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 743</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Mechanical or electrical engineering for robotic and automation?</h2>
<p>I have decided to pursue a career in automation and robotic. At the moment, I am being torn between Mechanical and Electrical Engineering. I know that both of them relate to my choices of career, and at the moment, I think that I like them equally. I hope you guys can help me solve my dilemma by using your insights/experiences to assist me with the following questions:   </p>

<p>1/ From your experiences and opinions, which of the two engineering fields is generally more crucial and challenging, especially in an automation/robotics project?<br>
2/ Which will see an increase in demand and importance in the near future? Which of them might become outdated/obsolete or at least develop at a slower rate compare to the other?(I have a feeling that EE has a slight edge over this matter; however, I am not so sure)
3/ Which of the fields is more versatile? Which is more physical demanding (I am actually quite frail)<br>
4/ Which is generally easier to self-study? Robotics is obviously an incredibly broad and complex field and I have prepared to step outside of my comfort zone and do lots of studying by myself to achieve my goals and passion.  </p>

<p>I could probably come up with a few more questions; however, I am sure that you guys got the gist of my puzzle. Thank you very much and I apologize if there is any grammatical error.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4362" data-toggle = "popover">
				<p>user name : Erik Makin</p>
				<p> user reputation : 14</p>
				<p class = "tagcontent" id = "usertaginfo-4362">{'None': 0, 'automatic': 2, 'beginner': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4362">Load Comments</button></br>
			<div id = "commentsection-4362" class = 'collapse'>
			<div id = "comment-7107" class = "comment">
				<p>You may want to consider the computer science aspect of robotics:  its very challenging, with lots of open problems and applications and isn't physically demanding.</p>
			</div>
			<div id = "comment-7311" class = "comment">
				<p>In general, "life questions" are offtopic for this site.</p>
			</div>
			</div>
				<textarea id = "speech-4362" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4362">
					<img id="start_img-4362" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4362">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4363"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4363" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>How about make a self reflection on </p>

<p>a) which one you like from the heart, only yourself can answer this <strong>hard</strong>
    question </p>

<pre><code>b) which earn more, this is easy. can check Government labor
department statistic and prediction 

c) are you able and confident in learning it, try tasting from looking at MOOC
courses
</code></pre>

<p>Hope this help, welcome and best wishes</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4363" data-toggle = "popover">
				<p>user name : EEd</p>
				<p> user reputation : 359</p>
				<p class = "tagcontent" id = "usertaginfo-4363">{'None': 16, 'laser': 3, 'pid': 1, 'motor': 1, 'untagged': 0, 'pwm': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4363">Load Comments</button></br>
			<div id = "commentsection-4363" class = 'collapse'>
			<div id = "comment-6932" class = "comment">
				<p>Thanks for your answer. Here are some of my  uncertain reflections:   a/ I honestly like both fields. I am attracted to certain aspects of both field, so, until I got the chance to dig deeper into either field, I think it is fair for me to say I like them both equally.  b/ At the moment, I do not think much about earning since typically, engineers earn quite well.  c/ I am actually quite confident in my ability and perseverance. And, thanks for your advice about the MOOC courses. I did not even know they exist! I will check them out soon.</p>
			</div>
			<div id = "comment-6934" class = "comment">
				<p>PS: I kind of screw up on line break. I still have lots to learn about formatting. Anyway, any additional advice is greatly welcome. I just want some insights from anyone who is experienced in the field, so that I can plan ahead and approach the field as smoothly and effectively as possible.</p>
			</div>
			<div id = "comment-6935" class = "comment">
				<p>(a) is hard so I put b and c in grey. Choosing is personal and cannot offer solid help here, apart from some videos. How Professor Thrun choose his path, to save life, may give you some insight how choosing may be personal. Again best wishes. http://www.ted.com/talks/sebastian_thrun_google_s_driverless_car  http://en.wikipedia.org/wiki/Stanley_%28vehicle%29 http://en.wikipedia.org/wiki/Sebastian_Thrun http://www.ted.com/talks/ruth_chang_how_to_make_hard_choices</p>
			</div>
			<div id = "comment-6939" class = "comment">
				<p>How a n years old determine which ice cream favor is best, actually taste it. a) READ. MIT has open all its courses, this is what you 'get' from college/university http://ocw.mit.edu/index.htm  b)TOUCH. Buy a DIY kit, joint a local hackerspace club http://en.wikipedia.org/wiki/Maker_culture http://en.wikipedia.org/wiki/Hackerspace c)make peer FRIEND. These gentleman need to decide which way to go, same as your. Read their post. Email them and make 'cyber friend' https://www.facebook.com/jhsrobo</p>
			</div>
			<div id = "comment-6940" class = "comment">
				<p>d) INCLUDE IT/Computing along EE as your choice, as one of these gentleman did. http://chrisstechblog.blogspot.hk/search?updated-min=2014-01-01T00:00:00-08:00&updated-max=2015-01-01T00:00:00-08:00&max-results=2 e) BE WARNED that Engineering in general, EE/IT/CS in particular, need life long constant learning or else your skill outdated and faded. There are tons of other life route that are 'easier'. Make sure you still like/want/can-do when age 30,40 and 50. Are you deciding for next year? Have 1 year 'tasting' time to actually try it. Again, best wishes.</p>
			</div>
			<div id = "comment-6942" class = "comment">
				<p>Thanks for your ted links. I have been watching some of them, but have not seen what you mentioned. I am going to an engineering school next month, so I think I might actually have the chance to try out some aspects of both fields (I might even have to buy some LEGO/DIY engineering kit). Since core engineering courses for both ME and EE are quite similar, I might have some more time to research which field suit me the best. I think my perfectionist personality is inhibiting me from actually getting in the field, as I keep guessing the best way to join it. I guess I should just charge right in.</p>
			</div>
			<div id = "comment-6960" class = "comment">
				<p>As your comment on may buy DIY kits, EE (not mechanical) popular,  widely available, open source, many education materials and with large user community DIY kits are like http://www.arduino.cc/  http://www.adafruit.com/  https://www.sparkfun.com/categories  http://www.pololu.com/</p>
			</div>
			</div>
				<textarea id = "speech-4363" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4363">
					<img id="start_img-4363" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4363">Comment</button>
			<br><div id = "ans-4506"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4506" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As others mentioned, you should look into CS. In the broad strokes:</p>

<p>ME - build physical robots, + tangible, - might be physically demanding, - can be costly (need parts)</p>

<p>EE - build circuits, low level control, + less physically demanding, + tangible (now you have robot that does something), - can be costly (might need whole robots) </p>

<p>CS - build robot's "brain", + not physically demanding, + cheap for simulation, - less tangible (you need EE/ME folks if you want to see your algorithms on the physical robot), - experiments are expensive (for the same reason). </p>

<p>Of course, robotics is multi-disciplinary field and all three are closely related with blurred lines between them. Try all and see what clicks. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4506" data-toggle = "popover">
				<p>user name : afaust</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-4506">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4506" class = 'collapse'>
			</div>
				<textarea id = "speech-4506" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4506">
					<img id="start_img-4506" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4506">Comment</button>
			<br><div id = "ans-4681"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4681" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have a look at the research being done at your university. Stop by some professors offices, and ask them what <em>their</em> degree has offered in terms of robotics. Of course, a bunch of us on stackexchange are probably in favor of CS, but I can tell you from attending conferences that roboticists come in all flavors, and CS-type problems are being solved by people of all backgrounds. In fact, a lab here at my university specializes in building new types of robot actuators or chassis, and strangely <em>all of their students are in CS</em> as is the professor. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4681" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-4681">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4681" class = 'collapse'>
			</div>
				<textarea id = "speech-4681" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4681">
					<img id="start_img-4681" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4681">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>