<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>MEMS accelerometer calibration
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-646" class = "post">
			<h2>Question</h2>
			<div id="vote-646" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1194</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>MEMS accelerometer calibration</h2>
<p>I am trying to calibrate a MEMS accelerometer. I was able to calibrate it for the current axis which is parallel to gravity and shows correctly, 1g. But the other two axes which should be 0.00g are showing +-0.02g instead. 
So, e.g., when the accelerometer's x axis is parallel to gravity, it should show (1g, 0g, 0g) and not (1g, 0.02g, -0.01g) like now.</p>

<p>How could I eliminate those values, e.g. further calibrate accelerometer? </p>

<p><strong>EDIT:</strong> The <a href="http://www.st.com/internet/com/TECHNICAL_RESOURCES/TECHNICAL_LITERATURE/DATASHEET/CD00091417.pdf" rel="nofollow">acelerometer's datasheet</a> says nothing about calibrating except that <em>The IC interface is factory calibrated for sensitivity (So) and Zero-g level (Off)</em> (page 20).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-646" data-toggle = "popover">
				<p>user name : Primo  Kralj</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-646">{'None': 0, 'errors': 4, 'accelerometer': 12, 'calibration': 12, 'design': 8, 'electronics': 8, 'sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-646">Load Comments</button></br>
			<div id = "commentsection-646" class = 'collapse'>
			<div id = "comment-812" class = "comment">
				<p>Have you compared your errors to those on page 18? You are getting max 20 mg at rest. This seems to be within the tolerance specified: $\pm$70 mg</p>
			</div>
			<div id = "comment-813" class = "comment">
				<p>You have a valid point there! But why am I getting errors only on axes perpendicular to gravity (0g) and not on axis parallel to gravity (1g)? Isn't that strange?</p>
			</div>
			<div id = "comment-815" class = "comment">
				<p>I wouldn't complain if one axis is performing better than the rest. Happy robot-ing.</p>
			</div>
			<div id = "comment-816" class = "comment">
				<p>It doesn't really matter which axis - x, y and z show 1.00g but only and only if parallel to gravity. I hope I didn't express myself wrong by telling that only one axis shows correct value - it depends whether the axis is parallel to gravity or not! Case for only one axis, say x: when parallel to gravity it shows 1.00g (this is good); when perpendicular to gravity is shows 0.02g (not good). This occurs for all three axes. Does this info change any of your answers?</p>
			</div>
			<div id = "comment-817" class = "comment">
				<p>if (error < tolerance of device), life is good. I can't help you remove the remaining .02g error, unless you want to subtract it, given it seems to always appear.</p>
			</div>
			</div>
				<textarea id = "speech-646" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-646">
					<img id="start_img-646" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-646">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-648"  class = "post">
				<h2>Answer</h2>
			<div id="vote-648" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is possibly a bias in the accelerometer.  The measured non-zero results (like yours) are the bias. No idea if the magnitude of these biases is right, i.e., you may be experiencing more error than you should expect from a bias. To be clear, you can subtract this bias from your estimate of acceleration. However, you should be sure that the bias doesn't change with time. Then you'll need more sophisticated methods. see: <a href="http://www.vectornav.com/support/library?id=76" rel="nofollow">overview of INS</a> or <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=05594974" rel="nofollow">some literature</a>
and <a href="http://www.analog.com/en/content/td_accelerometer_specifications_definitions/fca.html" rel="nofollow">typical accelerometer specs</a>.</p>

<p>Does your datasheet help? There's probably a section on calibration schemes. <a href="http://www.analog.com/en/mems-sensors/mems-inertial-sensors/adxl345/products/product.html" rel="nofollow">For example</a>:</p>

<p>"In a no-turn or single-point calibration scheme, the part is oriented 
such that one axis, typically the z-axis, is in the 1 g field of gravity 
and the remaining axes, typically the x- and y-axis, are in a 0 g
field. The output is then measured by taking the average of a 
series of samples. The number of samples averaged is a choice of 
the system designer, but a recommended starting point is 0.1 sec 
worth of data for data rates of 100 Hz or greater. This corresponds 
to 10 samples at the 100 Hz data rate. For data rates less than 
100 Hz, it is recommended that at least 10 samples be averaged 
together. These values are stored as X0g, Y0g, and Z+1g for the 0 g
measurements on the x- and y-axis and the 1 g measurement on 
the z-axis, respectively"</p>

<p>EDIT: Also please compare this error to the specified precision of your sensor. Turns out this small error was not a problem, and not unexpected.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-648" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-648">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-648">Load Comments</button></br>
			<div id = "commentsection-648" class = 'collapse'>
			<div id = "comment-808" class = "comment">
				<p>Shouldn't the bias be eliminated since I was using [this matlab script](http://www.mathworks.com/matlabcentral/fileexchange/33252-mems-accelerometer-calibration-using-gauss-newton-method/content/CalibAccel.m)? Basically, I measured `(x,y,z)` output in nine different positions and then calculated scale factors matrix and bias vector which I incorporated in the code. What if the errors in perpendicular axes are because they are misaligned? Maybe the axes of MEMS are not orthogonal in the first place causing the deviation. I am not sure if the script should take care of that or not.</p>
			</div>
			</div>
				<textarea id = "speech-648" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-648">
					<img id="start_img-648" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-648">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>