<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Merge contacts.app and address-book tags
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2699" class = "post">
			<h2>Question</h2>
			<div id="vote-2699" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 55</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Merge contacts.app and address-book tags</h2>
<p>Two seemingly identical tags:</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a></p>

<p>Tag wiki:</p>

<blockquote>
  <p>Apple's address book client, renamed from Address Book in OS X 10.8</p>
</blockquote></li>
<li><p><a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a></p>

<p>Tag wiki:</p>

<blockquote>
  <p>Apple's built-in contacts manager software for Mac OS X.</p>
</blockquote>

<p>As the <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a> tag wiki clearly states, it is a simple rename of the same thing.</p></li>
</ul>

<p>Feature Request: Merge the two, and create a synonym for the other.</p>

<hr>

<p><strong>Edit</strong>:  I'm not saying these are the <em>only</em> tags that need it - go ahead and merge the others as well! :)</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a>   <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ical" class="post-tag" title="show questions tagged &#39;ical&#39;" rel="tag">ical</a>   <a href="https://apple.stackexchange.com/questions/tagged/calender" class="post-tag" title="show questions tagged &#39;calender&#39;" rel="tag">calender</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ichat" class="post-tag" title="show questions tagged &#39;ichat&#39;" rel="tag">ichat</a>   <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a></li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-2699" data-toggle = "popover">
				<p>user name : Cullub</p>
				<p> user reputation : 398</p>
				<p class = "tagcontent" id = "usertaginfo-2699">{'None': 0, 'feature-request': 4, 'tags': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2699">Load Comments</button></br>
			<div id = "commentsection-2699" class = 'collapse'>
			<div id = "comment-5983" class = "comment">
				<p>It hasn't even been called Address Book since Mac OS X 10.7 "Lion".</p>
			</div>
			<div id = "comment-5984" class = "comment">
				<p>Haha - yeah.  Overdue, wouldn't you say? :)</p>
			</div>
			<div id = "comment-5988" class = "comment">
				<p>I will create "address-book" as tag synonym for "contacts" as soon I can as I'm one vote short on my answers for "contacts"-tagged posts in order to create tag synonyms for it. I do agree that the tags need to be merged, as all it is is an old name for Contacts.app.</p>
			</div>
			</div>
				<textarea id = "speech-2699" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2699">
					<img id="start_img-2699" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2699">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2700"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2700" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My instinct is that this is a good thing, but I'm not convinced about what I feel about this, particularly if you're limiting this to the tags in your question.</p>

<p>There's a few tags that exist like this, where the different tags refer to different versions of the software, delineated by its name change.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/address-book" class="post-tag" title="show questions tagged &#39;address-book&#39;" rel="tag">address-book</a>   <a href="https://apple.stackexchange.com/questions/tagged/contacts.app" class="post-tag" title="show questions tagged &#39;contacts.app&#39;" rel="tag">contacts.app</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ical" class="post-tag" title="show questions tagged &#39;ical&#39;" rel="tag">ical</a>   <a href="https://apple.stackexchange.com/questions/tagged/calendar" class="post-tag" title="show questions tagged &#39;calendar&#39;" rel="tag">calendar</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/ichat" class="post-tag" title="show questions tagged &#39;ichat&#39;" rel="tag">ichat</a>   <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a></li>
</ul>

<p>If you're going to synonym one pair, might as well synonym all the pairs?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2700" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2700">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2700">Load Comments</button></br>
			<div id = "commentsection-2700" class = 'collapse'>
			<div id = "comment-5985" class = "comment">
				<p>What other pairs are like this?</p>
			</div>
			<div id = "comment-5991" class = "comment">
				<p>@Red Updated answer</p>
			</div>
			<div id = "comment-5992" class = "comment">
				<p>I think we should merge all the pairs of tags you mentioned. None of them have used their name since 10.7. I don't think that we should have separate vote counts for the same software under an old name.</p>
			</div>
			</div>
				<textarea id = "speech-2700" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2700">
					<img id="start_img-2700" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2700">Comment</button>
			<br><div id = "ans-2704"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2704" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've submitted address-book as a tag synonym suggestion for the contacts tag. However, it still needs 4 votes by those that have 5 votes or more in the contacts tags in order to actually become a tag synonym. If it reaches a vote of -2 the suggestion will be deleted, though.</p>

<p><a href="https://i.stack.imgur.com/JfYCm.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/JfYCm.jpg" alt=""></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2704" data-toggle = "popover">
				<p>user name : RedEagle2000</p>
				<p> user reputation : 4694</p>
				<p class = "tagcontent" id = "usertaginfo-2704">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2704" class = 'collapse'>
			</div>
				<textarea id = "speech-2704" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2704">
					<img id="start_img-2704" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2704">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>