<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Merged question and answers
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1655" class = "post">
			<h2>Question</h2>
			<div id="vote-1655" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Merged question and answers</h2>
<p>This <a href="https://apple.stackexchange.com/questions/44527/is-there-a-free-photoshop-alternative-for-mac-os-x">question</a> about Photoshop alternatives seems to be the result of a merge, for example there are three answers on GIMP. </p>

<p>Should some of the answers be closed (mine should as it is much worse than the other two but both the others have merit), should the answers be merged.</p>

<p>Also should the question be edited to remove the request about free alternatives as the list now includes commercial ones.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1655" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 16790</p>
				<p class = "tagcontent" id = "usertaginfo-1655">{'None': 93, 'synonym': 7, 'tags': 6, 'site-scope': 10, 'support': 9, 'canonical-questions': 4, 'status-completed': 6, 'bug': 13, 'closed-questions': 1, 'close-reasons': 1, 'hyperlinks': 1, 'feature-request': 8, 'status-bydesign': 8, 'editing': 1, 'discussion': 39}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1655" class = 'collapse'>
			</div>
				<textarea id = "speech-1655" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1655">
					<img id="start_img-1655" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1655">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1656"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1656" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The question is not the result of merge as far as I can see (there would be a note for that).</p>

<p>Getting multiple answers recommending the same or similar solutions happens regularly (there are other questions with the same issue). Sometimes it's just a timing issue (e.g. the two highly voted GIMP answers only have a four minutes gap), sometimes it's just the result of users not reading the other answers (or even competing for reputation). If you want to delete your own one, feel free to do that (personally I wouldn't bother with deleting it, it even got upvoted). There is a fourth one recommending GIMP which was deleted by the owner (that's why you can't see it) after realizing that others answered the same way already.</p>

<p>As for the answers with the commercial solutions: The asker didn't go into details about he is looking for free as "at no cost" or for free as "significantly cheaper than Photoshop", so they still are helpful. Don't upvote, maybe downvote even, but they are close enough to provide an answer that I wouldn't act on a "not an answer" flag.</p>

<p>In both cases it's a good example on how the voting system works on AD. Good answers (e.g. both the GIMP ones with their screenshots etc.) get voted up, bad answers (or those somehow missing the point) get down voted or at least not up voted so much. I see no need for any additional moderation activity here.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1656" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-1656">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1656">Load Comments</button></br>
			<div id = "commentsection-1656" class = 'collapse'>
			<div id = "comment-3107" class = "comment">
				<p>The reason I think it is a merge is that I don't think I would have given a simple answer on GIMP a year after at least one illustrated one (or else my mind is really going)</p>
			</div>
			</div>
				<textarea id = "speech-1656" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1656">
					<img id="start_img-1656" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1656">Comment</button>
			<br><div id = "ans-1810"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1810" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are correct in detecting that at least one merge happened to be linked question. </p>

<p>The history shows a merge around January 28. </p>

<p>Feel free to flag any answers you feel should be deleted or edited as a result of the merge. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1810" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1810">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1810">Load Comments</button></br>
			<div id = "commentsection-1810" class = 'collapse'>
			<div id = "comment-3429" class = "comment">
				<p>I disagree. Answers only need to be deleted if they are dangerous or not answers. Duplicate answers do not need to be deleted.</p>
			</div>
			<div id = "comment-3430" class = "comment">
				<p>@DanielLawson I'm not saying that the flag would result in deletion, just that people should flag things that they feel are out of place so we could look at them ;-) If my words are implying that - let's edit so that no one things we'll robot delete anything that gets flagged...</p>
			</div>
			</div>
				<textarea id = "speech-1810" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1810">
					<img id="start_img-1810" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1810">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>