<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Metal shaft design for a 6mm plastic bevel gear
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9040" class = "post">
			<h2>Question</h2>
			<div id="vote-9040" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Metal shaft design for a 6mm plastic bevel gear</h2>
<p>I have a small POM bevel gear with these dimensions:</p>

<p><a href="https://i.stack.imgur.com/ARMjQ.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ARMjQ.png" alt="enter image description here"></a></p>

<p>It has a 6mm hole for the shaft and a M4 hole for the set screw.</p>

<p>Suppose this bevel gear is meshed with a 45T bevel gear and give a max. output torque of 0.4kg/cm. How should the design of the 6mm shaft be? Should the diameter be precisely 6mm? Should it be flattened into a 'D' shape (so that the set screw can hold the shaft)? I'm planning to use a metal shaft.</p>

<p>Any help will be appreciated.</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9040" data-toggle = "popover">
				<p>user name : John Munroe</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-9040">{'brushless-motor': 0, 'None': 0, 'accelerometer': 1, 'rcservo': 0, 'torque': 1, 'servomotor': 0, 'mechanism': 5, 'gearing': 5, 'motor': 4, 'mobile-robot': 1, 'sensors': 1, 'servos': 0, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9040" class = 'collapse'>
			</div>
				<textarea id = "speech-9040" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9040">
					<img id="start_img-9040" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9040">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9041"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9041" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since the bevel gear itselt is made out of plastic, you don't need to do a lot of considerations about the shaft. <br>
Basically you are talking about a relationship between a hole and a shaft. This relationshift is called a fit. Usually you are defineing your fit by assining special tolerancefields and tolerancesizes to your nominal size.<br>
In this case you have some cheap plastics, where you are almost unable to apply any special tolerances. This comes from the nature of those plastics, they are pretty flexible and can't stand lot of forces, in addition they are very hard to maschine.(I have never seen a broach made for plastics) Therefor most of this plastic parts are made by injection moulding (which is most likely true for your parts). <br>
So let's this excursion into construction theory end and come back to your question. Just buy a cheap metal pin with 6mm (in most cases it is 6h7). If you measure the pin, you will see it will have somewhere between 5.97 and 6.00mm.
Create a flatspot ( use  a file or an electric driller), to prevent twisting between the gearing and the shaft and you are done.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9041" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-9041">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9041">Load Comments</button></br>
			<div id = "commentsection-9041" class = 'collapse'>
			<div id = "comment-14889" class = "comment">
				<p>The manufacturer said the tolerance is 0.02MM. With a 6mm (5.97MM even) pin, will the fit be tight enough?</p>
			</div>
			<div id = "comment-14890" class = "comment">
				<p>It won't wobble around. But it is not the tightest fight you will ever see. You can easily disassembly it by hand. You can look and try to find a pin with 6j7 (here you will need some forces, or even a hammer to put those things together) or a pin with 6k7, where you will need definetly a hammer and won't be able to seperate them again</p>
			</div>
			<div id = "comment-14891" class = "comment">
				<p>Thanks. For 6j7 or 6k7, what should the diameter for the hole holding the shaft be so that the shaft can freely spin without wobbling? Apologies for my poor use of terminology.</p>
			</div>
			<div id = "comment-14892" class = "comment">
				<p>Do you want to let it freely spin? I don't get reason why you want to do this.</p>
			</div>
			<div id = "comment-14893" class = "comment">
				<p>Yes I do. I want the shaft to freely spin w.r.t. the housing but it grips tightly on the gear - isn't that how most setups are?</p>
			</div>
			<div id = "comment-14895" class = "comment">
				<p>I did check it again just buy a normal metal pin, create a flatspot and you are all fine. PIns with j7 or k7 are not sold in all hardware shops and you will need them to order seperatly... use a normal pin and you have a so called clearance fit, this is perfect.</p>
			</div>
			<div id = "comment-14896" class = "comment">
				<p>Actually, what does j7/k7 mean? I can't seem to find this notation used.</p>
			</div>
			<div id = "comment-14900" class = "comment">
				<p>These are tolerances according to the iso 286 norm.</p>
			</div>
			</div>
				<textarea id = "speech-9041" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9041">
					<img id="start_img-9041" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9041">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>