<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Method to get answers accepted if OP is unregistered
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2948" class = "post">
			<h2>Question</h2>
			<div id="vote-2948" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Method to get answers accepted if OP is unregistered</h2>
<p>On Ask Different especially, a significant proportion of questions are asked by unregistered users who are then unable to accept an answer to their question as correct. This is a massive disincentive to answering questions from unregistered users, given that the probability of reputation gain from that answer is significantly lower.</p>

<p>I have <a href="https://apple.stackexchange.com/questions/242711/can-someone-who-registered-my-iphone-read-all-my-text-messages/242715#242715">one such answer</a> that has been left un-accepted despite receiving 35 upvotes (and 0 downvotes) because the OP is unregistered and thus has no means of accepting it. </p>

<p>Could there be a way to automatically accept answers to unregistered users' questions once they reach, say, +5 votes? This rule would remove the disincentive of answering many of Ask Different's questions, and get users well-earned reputation points.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2948">Load Comments</button></br>
			<div id = "commentsection-2948" class = 'collapse'>
			<div id = "comment-6397" class = "comment">
				<p>Auto-accepting is an interesting idea. Thanks for asking this question!</p>
			</div>
			<div id = "comment-6398" class = "comment">
				<p>@IanC. You're welcome you'd just have to decide the cutoff.</p>
			</div>
			<div id = "comment-6399" class = "comment">
				<p>If you are here for the rep, you might be here for the wrong reasons :-) Upvotes give 10 rep, accepts 15. So good answers will benefit anyway...</p>
			</div>
			<div id = "comment-6400" class = "comment">
				<p>Anyway: see http://meta.stackexchange.com/questions/83295/auto-accept-for-high-rated-answers-to-questions etc for a lot of reasons why this may or may not be a good idea</p>
			</div>
			<div id = "comment-6401" class = "comment">
				<p>And actually the user asking the question you refer to seems to be registered. They just never came back after asking the question (last seen date/time is equal to question date/time)</p>
			</div>
			<div id = "comment-6402" class = "comment">
				<p>@patrix If you load the desktop version of Jenny's profile page you'll see they are unregistered. And it's not just for the rep :D!</p>
			</div>
			</div>
				<textarea id = "speech-2948" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2948">
					<img id="start_img-2948" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2948">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2949"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2949" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Short answer, no.</p>

<p>You would need to ask for this change on the main stack exchange meta to change the code across the entire site.</p>

<p>Long answer - people voting for useful answers gives 10 rep to the people so the +5 for the tick mark is a little like a cherry on top of the sundae. Voting, putting a bounty on a really great answer are much more meaningful to give rep and draw attention to useful answers regardless of the OP coming back to participate. Voting up the question also helps others find the good answer you voted up.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2949" class = 'collapse'>
			</div>
				<textarea id = "speech-2949" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2949">
					<img id="start_img-2949" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2949">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>