<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Micro Powder Dosing
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9290" class = "post">
			<h2>Question</h2>
			<div id="vote-9290" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 207</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Micro Powder Dosing</h2>
<p>I am in process of designing a micro powder doser for metallic powder into plastic capsules (the capsule volume would be bigger than what we require, so traditional capsule filling wont work). The quantity I need to dose is 400 mg .. What in your opinion would be the best approach for this? </p>

<p>As per my research, I have found out that there can be 3 approaches</p>

<ol>
<li>Auger based solution, where an auger is used to control the powder drop gravitationally. </li>
</ol>

<p><a href="https://i.stack.imgur.com/26vbD.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/26vbD.jpg" alt="Auger Based Powder doser"></a></p>

<ol start="2">
<li>Volumetric
As powder quantities would be small, a metal rods with groove of proper volume can be designed to dispense powder. For keep powder flowing we can use a vibration motor to pour powder in the groove. A stepper motor can rotate the rod for dispensing the powder. I have made the rod bigger to show the concept, and then how it would be mounted in a cap so when we rotate it that much volume of powder is dropped from the cap.</li>
</ol>

<p><a href="https://i.stack.imgur.com/sKLt6.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/sKLt6.jpg" alt="enter image description here"></a></p>

<ol start="3">
<li>Weight based measurement.
Dropping powder on to a weighing balance, and control it via feedback .. I think it would be a difficult thing to do, plus time consuming, provided we'd have to fill thousands of capsules.</li>
</ol>

<p>Prio # 1 is accuracy, with an error margin of 1 -2 % .. secondly cost .. I'd like it not to be too costly .. 300 - 500 $. 
The metal powder is not magnetic .. is very fine .. and doesn't clump .. I have read articles and it appears by continues tapping the powder flow can be improved a lot.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9290" data-toggle = "popover">
				<p>user name : Muzammil</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-9290">{'None': 0, 'design': 0, 'motor': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9290">Load Comments</button></br>
			<div id = "commentsection-9290" class = 'collapse'>
			<div id = "comment-16458" class = "comment">
				<p>If you're going to ask what the "best" option is, you need to have criteria. In order to judge to that criteria, the designs need to have the relevant information included. You said there were three approaches; I see two presented. Are you concerned about precision? Cost? Reliability? What criteria should drive the decision, and what is flexible? What is the powder? Does it clump? Is it magnetic?</p>
			</div>
			<div id = "comment-16460" class = "comment">
				<p>If you need exactly 400mg, I would suggest a mass measurement based on that weight. Your volumetric measure might not be accurate enough if the feed powder varies over time (porosity, etc). Actually I think your first step should be to find what the allowable **range** of the dose is.</p>
			</div>
			<div id = "comment-16465" class = "comment">
				<p>@Andy agreed. How precise the measurement should be is an important requirement.</p>
			</div>
			<div id = "comment-16467" class = "comment">
				<p>good points .. I have updated the question ..</p>
			</div>
			</div>
				<textarea id = "speech-9290" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9290">
					<img id="start_img-9290" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9290">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>