<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Minimising lateral drift in a PID (Arduino) controlled quadcopter using a 6DOF IMU
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6733" class = "post">
			<h2>Question</h2>
			<div id="vote-6733" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 354</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Minimising lateral drift in a PID (Arduino) controlled quadcopter using a 6DOF IMU</h2>
<p>I'm developing a stabilisation system for an 'off-the-shelf' quadcopter by using an Arduino Mega and an IMU. The IMU is reading the angle of the quad, calculating motor commands by using a PID controller and applying them to the motors. It works well when constrained in a test bed, however in reality, although the quad is straight and level, it's drifting to one side because of its recent motor commands correcting the pitch/yaw. Is there any way I can (without using a vision system) keep the quad in one place without drifting?</p>

<p>I've looked into obtaining velocity by integrating the acceleration value, however it's extremely noisy and doesn't give a meaningful reading.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6733" data-toggle = "popover">
				<p>user name : Alex Godbehere</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-6733">{'quadcopter': 2, 'None': 0, 'rcservo': 2, 'arduino': 2, 'pid': 2, 'imu': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6733" class = 'collapse'>
			</div>
				<textarea id = "speech-6733" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6733">
					<img id="start_img-6733" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6733">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6735"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6735" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately, with just an IMU there's virtually no way for your quad to know that it's drifting so it can't stop it. </p>

<p>For outdoor flight you can add a GPS to detect the drift. For indoor flight, many people use vision systems to detect the drift. Depending on how close you are to walls, you could also look at ultrasonic range sensors to detect drift.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6735" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-6735">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6735">Load Comments</button></br>
			<div id = "commentsection-6735" class = 'collapse'>
			<div id = "comment-9668" class = "comment">
				<p>I would implement a GPS system, however the scope of the project doesn't extend to this. I'll look into other options. Thanks.</p>
			</div>
			<div id = "comment-9699" class = "comment">
				<p>With no other sensors than the IMU it is not possible to measure the drift, hence it is not possible to compensate for it. There are no other options to look into.</p>
			</div>
			</div>
				<textarea id = "speech-6735" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6735">
					<img id="start_img-6735" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6735">Comment</button>
			<br><div id = "ans-6737"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6737" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>IMUs have accumulating error and can not be a reliable sensors by themselves if you want to measure velocity or even worse, position.</p>

<p>I believe your safest bet would be doing a sensor fusion between an IMU and a vision sensor using feature extraction and Kalman filter. Using only a camera can introduce unpredictable errors specially in featureless environments.</p>

<p>The best resources would be finding monocular SLAM(Simultaneous Localization And Mapping) papers.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6737" data-toggle = "popover">
				<p>user name : BarzinM</p>
				<p> user reputation : 316</p>
				<p class = "tagcontent" id = "usertaginfo-6737">{'None': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6737" class = 'collapse'>
			</div>
				<textarea id = "speech-6737" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6737">
					<img id="start_img-6737" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6737">Comment</button>
			<br><div id = "ans-7241"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7241" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are constrained to using an IMU without external sensors, then you would have to play with the platform to increase its stability. This could possibly be achieved by implementing a dihedral angle to all the prop-arms. So that natural disturbances would be naturally taken care of.</p>

<p>About using acceleration, it's a worthwile idea to try. You could try implementing a stability augmentation controller loop based on your acceleration data (without integrating it). This can be simply done-- similar to pitch/roll correction- by tilting the vehicle against the direction of the acceleration (e.g. if the vehicle is accelerating towards the right, tilt the vehicle a little bit to the left). This technique depends a lot on your acceleration data quality, and may not be practical at all.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7241" data-toggle = "popover">
				<p>user name : G rkan  etin</p>
				<p> user reputation : 284</p>
				<p class = "tagcontent" id = "usertaginfo-7241">{'None': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7241" class = 'collapse'>
			</div>
				<textarea id = "speech-7241" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7241">
					<img id="start_img-7241" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7241">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>