<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Minor bug on review page
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-361" class = "post">
			<h2>Question</h2>
			<div id="vote-361" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 14</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Minor bug on review page</h2>
<p>On Chrome 9.0.597.84 on Windows Vista (don't ask...) on the <a href="https://apple.stackexchange.com/review"><strong>review</strong></a> page, the line separator (declared in <code>.question-summary</code>) is too long:</p>

<p><img src="https://i.stack.imgur.com/E9wAB.png" alt="apple stackexchange review"></p>

<p>The width parameter is not used. Probably because of the <code>width: 940px!important;</code> line in <code>.review-page #questions .question-summary</code></p>

<p>It happens on Firefox 3.6.13 too.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-361" data-toggle = "popover">
				<p>user name : Lo c Wolff</p>
				<p> user reputation : 13007</p>
				<p class = "tagcontent" id = "usertaginfo-361">{'None': 24, 'tags': 24, 'discussion': 32, 'support': 1, 'status-completed': 25, 'design': 1, 'voting': 8, 'bug': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-361">Load Comments</button></br>
			<div id = "commentsection-361" class = 'collapse'>
			<div id = "comment-748" class = "comment">
				<p>this is being fixed. thanks!</p>
			</div>
			</div>
				<textarea id = "speech-361" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-361">
					<img id="start_img-361" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-361">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-362"  class = "post">
				<h2>Answer</h2>
			<div id="vote-362" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The fix will be in the next deployment.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-362" data-toggle = "popover">
				<p>user name : Jin</p>
				<p> user reputation : 200</p>
				<p class = "tagcontent" id = "usertaginfo-362">{'None': 87, 'design': 107, 'discussion': 89}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-362" class = 'collapse'>
			</div>
				<textarea id = "speech-362" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-362">
					<img id="start_img-362" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-362">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>