<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Mobile robot localization in a known map
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-37" class = "post">
			<h2>Question</h2>
			<div id="vote-37" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 486</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Mobile robot localization in a known map</h2>
<p>I want to localize a mobile robot equipped with a 2D laser scanner in a known indoor environment.  The map is a 2D occupancy grid, but is not perfect.</p>

<p>What algorithms are appropriate for mobile robot localization?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-37" data-toggle = "popover">
				<p>user name : Felix</p>
				<p> user reputation : 437</p>
				<p class = "tagcontent" id = "usertaginfo-37">{'planning': 4, 'control': 32, 'None': 0, 'errors': 20, 'tuning': 32, 'localization': -3, 'artificial-intelligence': 4, 'pid': 32, 'noise': 9, 'mobile-robot': 17, 'sensors': 9, 'motion-planning': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-37">Load Comments</button></br>
			<div id = "commentsection-37" class = 'collapse'>
			<div id = "comment-49" class = "comment">
				<p>This is really broad - what sensor(s)? What environment?  What is the map?</p>
			</div>
			<div id = "comment-115" class = "comment">
				<p>True, I've improved the question a little.</p>
			</div>
			</div>
				<textarea id = "speech-37" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-37">
					<img id="start_img-37" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-37">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-40"  class = "post">
				<h2>Answer</h2>
			<div id="vote-40" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As i have mentioned in <a href="https://robotics.stackexchange.com/questions/23/f-oss-optical-object-avoidance/">this</a> post, it can be achieved with a camera and some markers in known locations on/in the environment as demonstrated <a href="http://team759.blogspot.co.uk/2012/02/more-intelligent-cube-finding.html" rel="nofollow noreferrer">here</a> by the robotics team I am in. We use the location of the markers on the desks, which have a known height and width, and the center we can get from the libkoki library. It is then a simple task of using some trigonometry to find out where we are, as demonstrated in <a href="http://team759.blogspot.co.uk/2012/03/getting-position-of-robot.html" rel="nofollow noreferrer">this blog post</a>.</p>

<p>Although by <code>Given sensors</code> I assume you don't know what method you are going to use... I'm sure there are other ways of getting your position to varying degrees of accuracy.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-40" data-toggle = "popover">
				<p>user name : Njdart</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-40">{'None': 21}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-40" class = 'collapse'>
			</div>
				<textarea id = "speech-40" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-40">
					<img id="start_img-40" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-40">Comment</button>
			<br><div id = "ans-41"  class = "post">
				<h2>Answer</h2>
			<div id="vote-41" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Particle filters or <a href="http://en.wikipedia.org/wiki/Monte_Carlo_localization">Monte Carlo localization</a> can be used. Basically you distribute a set of points at random across the maps and see which points would have sensor readings most similar to the reading from your map. The best points survive and you create new points and so forth. After some iterations you have a group of points, hopefully, all in the same place on the map as your robot. </p>

<p>I believe there is a few methods explained in <a href="http://www.udacity.com/overview/Course/cs373/CourseRev/apr2012">this course</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-41" data-toggle = "popover">
				<p>user name : Nis</p>
				<p> user reputation : 302</p>
				<p class = "tagcontent" id = "usertaginfo-41">{'None': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-41" class = 'collapse'>
			</div>
				<textarea id = "speech-41" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-41">
					<img id="start_img-41" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-41">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>