<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Modified DH Parameter for Puma 560
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11878" class = "post">
			<h2>Question</h2>
			<div id="vote-11878" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 299</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Modified DH Parameter for Puma 560</h2>
<p>I'm trying to apply modified DH parameters (from Craig's version) to Puma 560.</p>

<p>As per modified DH says,</p>

<p><a href="https://i.stack.imgur.com/AKkP1.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/AKkP1.jpg" alt="Modified DH Parameter Convention"></a></p>

<p>And the robot Puma 560 with axes and frame are,</p>

<p><a href="https://i.stack.imgur.com/4IZ4x.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4IZ4x.png" alt="Puma 560"></a></p>

<p>As per above sign convention, the sign of d2 and d3 should be negative. However, for the correct result, it seems that the sign of d2 should be positive.</p>

<p>My question is, should the sign here be positive and if yes, then doesn't it contradict the sign convention for above mentioned modified DH convention?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11878" data-toggle = "popover">
				<p>user name : Nitin Kumar</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-11878">{'None': 0, 'dh-parameters': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11878" class = 'collapse'>
			</div>
				<textarea id = "speech-11878" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11878">
					<img id="start_img-11878" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11878">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11882"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11882" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure if there's a typo in your question (maybe you're asking the question after working in a zero-based programming language?) but you're asking about the signs of d2 and d3, but I don't see a d2 anywhere in Picture 1 or Table 1. Do you mean d3 and d4? I'll assume this is the case for the answer. </p>

<p>Consider your statement,</p>

<p>$$
\mbox{Offset length, } d_i \mbox{ is the distance from } x_{i-1} \mbox{ to } x_{i} \mbox{ measured along } z_i \\
$$</p>

<p>So, <em>start</em> at $x_{i-1}$, go to $x_i$, and compare the direction you're going to the direction that $z_i$ points. If you're moving in the same direction, it's positive. </p>

<p>So, I get that both $d_3$ and $d_4$ are <em>positive</em>; here's my work:</p>

<p><a href="https://i.stack.imgur.com/UvzN2.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UvzN2.png" alt="Modified DH parameter orientation"></a></p>

<p>Again, in the top image I'm comparing the line <em>from</em> $x_2$ <em>to</em> $x_3$ to the orientation of $z_3$. They point in the same direction, so $d_3$ is <em>positive</em>. The same goes for the bottom graphic. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11882" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11882">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11882">Load Comments</button></br>
			<div id = "commentsection-11882" class = 'collapse'>
			<div id = "comment-21126" class = "comment">
				<p>Sorry, my mistake. You are right, it is d3 and d4 (i changed the figure but didn't check for the d number, my mistake).</p>
			</div>
			<div id = "comment-21127" class = "comment">
				<p>Thank you very much! I have now used the positive notation as you shown, it seems this example only solve if arm is up. I started with all joint angle zero, I used a robot simulator called RoboDK to see what position I get. When I attach frame when the arm is down like in figure, I get negative value for zero but if I attach frame if arm is up then I get correct values. This bring me another important question, how can one know which robot pose to start with?</p>
			</div>
			<div id = "comment-21128" class = "comment">
				<p>@NitinKumar - Glad this helps. If this answers the question you asked, please accept it so the question is marked as complete (check mark between the up and down arrows). Regarding how you know the pose - the pose is dictated by the joint angles $\theta$. Each of the other parameters, $a$, $\alpha$, and $d$ work to describe how one joint relates physically to the next (or previous, as in modified DH) joint. The joint angles describe how the *link* is oriented. Remember that polarity counts for describing rotations; use the [right hand rule!](https://en.wikipedia.org/wiki/Right-hand_rule).</p>
			</div>
			<div id = "comment-21129" class = "comment">
				<p>If your question is more detailed than this (or my brief comment here is insufficient), then please *create a new question* and add the specifics of what you're providing as the joint angles and what the particular answers are that you're getting. Questions are free, so please use as many as you want. If you would like to include this question to give the other one context, then simply click the "share" button under this question and paste that link into your new question. You can hyperlink text by using the following: `[link text](http://robotics.stackexchange.com/q/11878/9720)`.</p>
			</div>
			<div id = "comment-21130" class = "comment">
				<p>I can only assume that I am getting negative values for z axis when arm is down as in figure is because the robot's base is located where frame 1 is located and therefore, even though the convention say that we must take d4 positive w.r.t z3 axis but these dimensions should get sign as per direction of z axis at origin (z_origin). So d4 should be negative instead of positive OR we must assign all up or down z-axis after z_origin in the same direction as z_origin? What would you like to say on this?</p>
			</div>
			<div id = "comment-21131" class = "comment">
				<p>@NitinKumar - It's a bit hard to visualize what you're asking. Can you please post a new question with images? How are you getting answers? What formulas are you using? What are you using for the joint angles $\theta_i$ in those formulas? z-axes are defined as passing through the axis of actuation (rotation or translation) of the joint.</p>
			</div>
			<div id = "comment-21132" class = "comment">
				<p>Okay, I have asked another question to provide more details.</p>
			</div>
			<div id = "comment-21490" class = "comment">
				<p>d values represent distances.  They are positive values.   If your first frame is located at the intersection of the waist and shoulder axes, then yes, z values will be negative when the end effector is below the origin of that coordinate system.   Many people place a global coordinate system on the floor, oriented in the same way as your frame 1.   That would ensure z is always positive.</p>
			</div>
			</div>
				<textarea id = "speech-11882" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11882">
					<img id="start_img-11882" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11882">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>