<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Monobrick Communication Library-reading nxt sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11599" class = "post">
			<h2>Question</h2>
			<div id="vote-11599" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 53</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Monobrick Communication Library-reading nxt sensors</h2>
<p>In my program, I'm need to detect if the NXT touch sensor is pressed.</p>

<pre><code>var nxt = new Brick&lt;Sensor, Sensor, Sensor, Sensor&gt;("usb");
nxt.Connection.Open();
nxt.Sensor1 = new TouchSensor();
nxt.Sensor1.Reset(false);
nxt.Sensor1.Initialize();
Console.WriteLine(nxt.Sensor1);
</code></pre>

<p>When I start the program, the sensor value always reads 0. But I discovered that if I go into the "View" menu in the NXT and see the touch sensor value, the program value reads 1. I can't do that for my setup. Also, I can't use Bluetooth; my computer doesn't have it. Can someone help me?</p>

<p>EDIT: my full code</p>

<p><code>using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using MonoBrick.NXT;
using MonoBrick;
using System.Windows.Forms;
using System.Reflection;
using System.Threading;</p>

<p>namespace MonoBrick
{
    class Program
    {
        [STAThread]
        static void Main(string[] args)
        {
            try
            {
                var nxt = new Brick("usb");
                nxt.Connection.Open();
                nxt.Sensor1 = new TouchSensor();
                nxt.Sensor1.Reset(false);
                nxt.Sensor1.Initialize();
                Console.WriteLine(nxt.Sensor1.ReadAsString());
                nxt.Beep(500);
                System.Windows.Application application = new System.Windows.Application();
                application.Run(new Window1());
                nxt.Connection.Close();
            }</p>

<pre><code>        catch (Exception e)
        {
            Console.WriteLine("Error: " + e.Message);
            Console.WriteLine("Press any key to end...");
            Console.ReadKey();
        }
    }
}
</code></pre>

<p>}</code></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11599" data-toggle = "popover">
				<p>user name : jpcreeper13</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11599">{'mindstorms': 0, 'nxt': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11599" class = 'collapse'>
			</div>
				<textarea id = "speech-11599" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11599">
					<img id="start_img-11599" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11599">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11600"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11600" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need to read the value continually in order to get the updated value, see the <a href="http://www.monobrick.dk/guides/communication-library-guides/monobrick-guide/" rel="nofollow noreferrer">tutorial on there website</a>.</p>

<p>Here is what the code to do that might look like (untested as I do not have a NXT):
</p>

<pre><code>using System;
using MonoBrick.EV3;
public static class Program{
    static void Main(string[] args)
    {
        var nxt = new Brick&lt;Sensor, Sensor, Sensor, Sensor&gt;("usb");
        nxt.Connection.Open();
        nxt.Sensor1 = new TouchSensor();
        nxt.Sensor1.Reset(false);
        nxt.Sensor1.Initialize();
        ConsoleKeyInfo cki;  
        Console.WriteLine("Press Q to quit");  
        do   
        {  
            cki = Console.ReadKey(true); //press a key  
            Console.WriteLine(nxt.Sensor1);                       
            }  
        } while (cki.Key != ConsoleKey.Q);
        ev3.Connection.Close();
    }
}
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11600" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-11600">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11600">Load Comments</button></br>
			<div id = "commentsection-11600" class = 'collapse'>
			<div id = "comment-20777" class = "comment">
				<p>this is what I tried before, it doesn't work</p>
			</div>
			<div id = "comment-20778" class = "comment">
				<p>What did you do? Can you post all your code? What errors did you get? How did you try to fix them?</p>
			</div>
			<div id = "comment-20780" class = "comment">
				<p>I tried using do...while. All my code won't fit. I got no errors. I tried to fix the error by using do...while</p>
			</div>
			<div id = "comment-20796" class = "comment">
				<p>post it in your original post, along with any output.</p>
			</div>
			<div id = "comment-20822" class = "comment">
				<p>I changed it. Up top</p>
			</div>
			</div>
				<textarea id = "speech-11600" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11600">
					<img id="start_img-11600" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11600">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>