<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Monocular vs. stereo computer vision robustness for object detection
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6880" class = "post">
			<h2>Question</h2>
			<div id="vote-6880" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1559</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Monocular vs. stereo computer vision robustness for object detection</h2>
<p>Are there some genaral rules for the robustness between monocular and stereo vision when considering object detection? I am especially interested in the automotive field - considering distance/obstacle/car detection (see video links below).</p>

<p>Someone told me monocular vision is more robust than stereo. I guess this may be true if the monocular algorithm is well written (and especially verified over lots of input data)... but once you input (image) data that has not been verified it may probably provide unexpected results, right? With stereo vision one does not really care about the contents of the image as long as texture/lighting conditions allow stereo matching and the object detection is then done within the point cloud.</p>

<p>I consider following usage:</p>

<ul>
<li><p><a href="https://www.youtube.com/watch?v=LRnQUncmZEo" rel="nofollow">Monocular</a></p></li>
<li><p><a href="https://www.youtube.com/watch?v=UVdhilv2qmg" rel="nofollow">Stereo</a></p></li>
</ul>

<p>The monocular sample video seems to have sometimes problems detecting the cars in front (the bounding boxes disappear once in a while). The stereo sample seems to be more robust - the car in front clearly is detected in all of sequnce image frames.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6880" data-toggle = "popover">
				<p>user name : Kozuch</p>
				<p> user reputation : 338</p>
				<p class = "tagcontent" id = "usertaginfo-6880">{'stereo-vision': 12, 'structure-from-motion': 1, 'autonomous-car': 0, 'encoding': 2, 'precise-positioning': 0, 'hardware': 0, 'mobile-robot': 6, 'monocular': 2, 'rotation': 2, 'rcservo': 0, 'self-driving': 0, 'cameras': 2, 'point-cloud': 1, 'kinect': 1, 'opencv': 1, 'electronics': 1, 'gazebo': 0, 'gps': 7, 'engine': 1, 'odometry': 5, 'None': 8, 'electric': 1, 'localization': 0, 'wheeled-robot': 2, 'simulator': 1, 'visual-odometry': 2, 'gnss': 0, 'sensors': 2, 'steering': 0, '3d-reconstruction': 1, 'computer-vision': 12, 'algorithm': 2, 'calibration': 4, 'scale-model': 1, 'simulation': 0, 'servomotor': 0, 'sensor-fusion': 2, 'navigation': 0, 'software': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6880" class = 'collapse'>
			</div>
				<textarea id = "speech-6880" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6880">
					<img id="start_img-6880" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6880">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6885"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6885" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Two videos that you provided are not doing the same task. The stereo system is just measuring distance of different points in space (which happens to include a car in that video). It will show any object in front of it but won't classify the object. So, cars or people or trash cans mean the same thing to that algorithm and it will just return the distances.</p>

<p>On the other hand the monocular system is doing object classification into two categories of "Car" and "Not Car". Another part of this algorithm is detecting characteristic lines of a driving lane (two blue lines and the yellow line). The distance of each car is calculated based on relative position of of the car to these detected lines.</p>

<p>In conclusion, if you want to do object (cars) detection, you need to use a method similar to what was illustrated in monocular system video. If you only want distance, stereo vision is one of many available methods.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6885" data-toggle = "popover">
				<p>user name : BarzinM</p>
				<p> user reputation : 316</p>
				<p class = "tagcontent" id = "usertaginfo-6885">{'None': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6885">Load Comments</button></br>
			<div id = "commentsection-6885" class = 'collapse'>
			<div id = "comment-9841" class = "comment">
				<p>I did not mean the videos to fight exactly against each other. My question is whether one can achieve better robustness for object detection in general with mono or stereo vision. The point with stereo is that you can very easily detect an object in a given point cloud (even though it is not directly shown in the second video one can recognize that the car simply is in the cloud all the time). I am the author or the stereo video - I have a new version of algorithm now that can do object detection based on object's size. But I am just curious about monocular vision.</p>
			</div>
			<div id = "comment-9842" class = "comment">
				<p>Are you trying to compare performance of object detection for the case of having an image vs point cloud as input?</p>
			</div>
			<div id = "comment-9844" class = "comment">
				<p>No, I consider only images as the source data for stereo. My point with stereo is that the stereo matching algorithm actually only does a "mechanical" (in terms of limited intelligence necessity) correspondence matching and does not care about the image contents classification at all (is it a car, pedestrian, road surface etc.) which may be more robust since there may be less errors compared to object detection by texture/shape/whatever in the case of mono vision. I am now trying to justify my impression that stereo is better but as I said I want to learn about the differences between both.</p>
			</div>
			<div id = "comment-9846" class = "comment">
				<p>Of course there are fields of application where both stereo and mono will have some advantage - for instance, if the depth difference between the object and its background is small then you will have a hard time with stereo and maybe mono will be better (case for mono - small objects on the floor). Stereo may have an advantage if you know nothing about the object (color, shape, texture etc.) but the background is further away - in that case you will be able to detect the object in point cloud easily...</p>
			</div>
			<div id = "comment-20036" class = "comment">
				<p>@Kozuch what did you conclude? Also curious about the benefits of stereo vs mono for object detection (though more for sports, not automotive).</p>
			</div>
			<div id = "comment-20037" class = "comment">
				<p>@BarzinM so for detection, say of a circular object like a basketball, does stereo offer advantages over mono? thanks for your thoughts!</p>
			</div>
			<div id = "comment-20070" class = "comment">
				<p>@Crashalot, many many details can affect the answer to this question. For example, if you want to only detect if a basketball is present in your camera frame, then I'd use a monocular camera (not that you can't do it with stereo). On the other hand, if you want to have information about it's `x,y,z` position relative to the camera, then stereo can provide that more accurately compared to methods commonly available for monocular.</p>
			</div>
			<div id = "comment-20071" class = "comment">
				<p>@BarzinM what if you wanted to do shot detection? do you think one holds an inherent advantage over the other?</p>
			</div>
			<div id = "comment-20154" class = "comment">
				<p>@Crashalot, not sure what you mean by shot detection. I'm sure you'll find better answers if you start a separate question.</p>
			</div>
			</div>
				<textarea id = "speech-6885" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6885">
					<img id="start_img-6885" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6885">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>