<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>More convenient way to make code blocks
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2523" class = "post">
			<h2>Question</h2>
			<div id="vote-2523" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 35</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>More convenient way to make code blocks</h2>
<p>Is there any more convenient way to write code? When I have a longer log, I dont want to space every line because it would take very long. I thought that using the <code>&lt;code&gt;</code> tag would help. But that results in:</p>

<p><code>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin tortor nec dignissim maximus. Maecenas imperdiet auctor dapibus. Duis efficitur elit et arcu pulvinar placerat. Vivamus sed fringilla sapien. Aenean laoreet lacus ut nulla eleifend lacinia. Mauris laoreet luctus luctus. Nam ullamcorper tellus non magna eleifend, id scelerisque lorem consequat. Duis a libero a urna aliquam sagittis. Vestibulum id orci eu ex consectetur auctor. Phasellus facilisis interdum fermentum.
</code></p>

<p>I would like something not this thin like the usual space:</p>

<pre><code>example
</code></pre>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2523" class = 'collapse'>
			</div>
				<textarea id = "speech-2523" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2523">
					<img id="start_img-2523" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2523">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2524"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2524" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's no other way to create block code formatting other than to prepend each line with four spaces. The easiest way to do this is to highlight all the lines, then press command-K.</p>

<p>There are numerous feature requests on Meta.SE to support <code>```</code>, however this has not been implemented yet. CommonMark support appears to be coming in the near future which would support this.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2524">Load Comments</button></br>
			<div id = "commentsection-2524" class = 'collapse'>
			<div id = "comment-5720" class = "comment">
				<p>Thanks for the tip :) Is there command K alternative on iOS?</p>
			</div>
			<div id = "comment-5721" class = "comment">
				<p>@TheBro21 On the iOS app, there's a code button on the toolbar. On the desktop web, there's a button on the editor toolbar. On mobile web, there's currently no feature for this.</p>
			</div>
			</div>
				<textarea id = "speech-2524" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2524">
					<img id="start_img-2524" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2524">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>