<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Most accurate rotation representation for small angles
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9609" class = "post">
			<h2>Question</h2>
			<div id="vote-9609" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 647</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Most accurate rotation representation for small angles</h2>
<p>Assume that I have a rigid body for which I know that it can rotate with respect to a global reference frame (which is considered fixed and already given) for only a few degrees of angle, so I can describe its rotation by using the small angle approximation. For this system, I would like to know if there is a rotation representation that offers more accuracy when compared with other representation methods.</p>

<p>The main representation methods that I considered are the euler angles and the pitch-yaw-roll transformation. To my perception, I think that pitch-yaw-roll representation is expected to be more accurate, since all the angles are expressed with respect to the initial coordinate frame. On the other hand, euler angles are defined on different frames, so I am not sure if the resulting angles will be really small.</p>

<p>To sum up, I know that the body can rotate for only a few degrees and I would like to know which coordinate representation is much probable to deliver the smallest angles, such that the small angle approximation is more valid.</p>

<p>It could also be the case that there is not a general answer (so it depends on the specific configuration) but still I haven't found anything about this topic on the related literature!</p>

<p><strong>Example</strong> (no small angle approx used): Assume I have a coordinate frame which describes a point in space by the following vector</p>

<p>$P2=\begin{bmatrix} 4 \\ 1 \\ 0.05 \end{bmatrix}$.</p>

<p>Given another coordinate frame which is rotated with respect to the previous one, the description of the same point is given by     </p>

<p>$P1=\begin{bmatrix} 3.8933 \\
    1.3566 \\
   -0.0630 \end{bmatrix}$.</p>

<p>Using Euler angles, I can find that the rotation matrix $R_{euler}$ is characterized by the angles $0.1,0.2,0.1$ rads, which correspond to the angle of rotation around z axis, the rotation around the resulting y axis and the rotation around the resulting z axis, respectively (these are basic stuff, it is explained in many books.). So I have that $P1=R_{euler} P2$.</p>

<p>Now I want to find the corresponding rotation matrix if I use the pitch-yaw-roll representation. Here I have to solve an optimization problem and the solution that I get (maximum error between P1 and the estimated P1 is $3 \times 10^{-8}$) delivers me the following angles</p>

<p>$\begin{bmatrix}  -0.0103   \\ 0.0257  \\  0.0902\end{bmatrix}$,</p>

<p>which correspond to the rotation around the x,y and z axis of the initial coordinate frame. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9609" data-toggle = "popover">
				<p>user name : jpro</p>
				<p> user reputation : 19</p>
				<p class = "tagcontent" id = "usertaginfo-9609">{'geometry': 3, 'None': 0, 'rotation': 3, 'inverse-kinematics': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9609">Load Comments</button></br>
			<div id = "commentsection-9609" class = 'collapse'>
			<div id = "comment-17018" class = "comment">
				<p>*Truth is invariant under change of notation.* You can't turn your pickup truck into a Ferrari by describing it in polar coordinates or a different frame of reference.</p>
			</div>
			<div id = "comment-17034" class = "comment">
				<p>How about using quaternions? See [this question](http://math.stackexchange.com/questions/473736/small-angular-displacements-with-a-quaternion-representation)</p>
			</div>
			<div id = "comment-17037" class = "comment">
				<p>It would still be a truck, even using quaternions</p>
			</div>
			<div id = "comment-17050" class = "comment">
				<p>@CodePoetics it seems that you get what I want to do here! However, I haven't considered quaternions yet because I would like to avoid for now the fact that they need for parameters to define the rotation. But I definitely have to consider them. For now I have restricted my search in euler-type of rotations, that is to say, rotations around 3 different axes.</p>
			</div>
			<div id = "comment-17212" class = "comment">
				<p>Is this a question about how to minimize the error that you'll get when you start encoding all these values as floating-point (finite precision) values in a computer program?</p>
			</div>
			</div>
				<textarea id = "speech-9609" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9609">
					<img id="start_img-9609" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9609">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9610"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9610" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>@jpro, I think you are not understanding something about kinematics.  Whether you use Euler angles, or homogeneous transforms, or rotation matrices, or quaternians, or any other kinematic representation, <em>ALL</em> of them relate the object's pose with respect to some coordinate frame.  If you refer back to a reference coordinate frame located at the end of the robot's forearm (or the wrist center if the wrist is spherical), you will ensure that any errors caused by the kinematics of the arm joints are not part of your equations.  But you can pick which type of kinematic model you use and you should find the same accuracy for them all.</p>

<p>Edited based in your update:</p>

<p>The Rotation Matrix is unique.  See the answers here:  <a href="https://math.stackexchange.com/questions/105264/3d-rotation-matrix-uniqueness">https://math.stackexchange.com/questions/105264/3d-rotation-matrix-uniqueness</a></p>

<p>Each term of this 3x3 can be represented many ways, as you are trying to do.  A silly example:   If one of your angles is $\theta_1$, you could instead write it as the sum of ten smaller angles.  But $R$ would be the same.   There is probably a way to represent each of the nine terms with a minimum (least-squares) set of terms.  But $R$ will be the same.  </p>

<p>One more edit (sorry):</p>

<p>$R$ is orthonormal.  That puts six constraints on the nine terms ($||R|| = 1$, the magnitude of each row (and column) is also 1, and the rows and columns are mutually orthogonal).  So you have three degrees of freedom to play with.   There is your optimization problem.   Pick any representation, and as you find different ways to represent those nine terms, it may be challenging to relate that back to the physical system.   I believe you will end up at screw coordinates.   You may want to research canonical kinematics for ideas.   But I suspect you will find different robot geometries, and different motion goals, will result in a change for which standard notation results in the smallest angles.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9610" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9610">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9610">Load Comments</button></br>
			<div id = "commentsection-9610" class = 'collapse'>
			<div id = "comment-17020" class = "comment">
				<p>Thanks for the answer. Maybe my question was not that clear. I agree that all transformations give the location of the same point with respect to the same coordinate frame, if properly done. However, each rotation representation uses a different set of angles to describe the same object. 

Now, in my application, I want to estimate the 6 variables used in the transformation matrix using a set of 9 lasers by only knowing that the angles are small. So, I would like to know if there exists a rotation representation that is expected to express the position of the object using smaller angle values.</p>
			</div>
			<div id = "comment-17023" class = "comment">
				<p>@jpro: this is an [XY problem](http://meta.stackexchange.com/questions/66377/what-is-the-xy-problem). Your real problem is how to do that measurement properly and how to set up the lasers. But the question you asked here is about some solution you came up with (find some other representation for angle values), which includes (possibly wrong) assumptions and restrictions of the underlying real problem which we have no clue about. This is why your question is so unclear. Please ask a new question about the actual problem that you have. It sounds like an interesting one.</p>
			</div>
			<div id = "comment-17024" class = "comment">
				<p>@BendingUnit22: I think I avoided the XY problem since I avoided mentioning my approach for a specific problem, but I tried to present the question in a more general framework. The general question is: given a rotation of a body for "small" angles, find the rotation representation whose angles are taking the smallest values.</p>
			</div>
			<div id = "comment-17026" class = "comment">
				<p>@jpro: forget about the whole small angle stuff! You have this idea stuck in your head that small angles are good and that it is your mission now to apply them to this problem *no matter what*. Take a step back and explain the original task you have. At the moment it appears to me that you're the guy with the hammer trying to see a nail in something that ain't one.</p>
			</div>
			<div id = "comment-17027" class = "comment">
				<p>@BendingUnit22 I cannot completely forget the small angle approximation, because then the question loses its meaning. Assume that my object rotates for arbitrarily large angles and I use the non-approximated rotation representations.Then my question would be about which representation delivers the smallest degrees of angle. One would ask then, why should I care? Well, the motivation is that if I have small degrees, I can use the small angle approximation. So I have to mention it.</p>
			</div>
			<div id = "comment-17028" class = "comment">
				<p>What you are trying to do by transforming general displacements and rotations into some kind of other transformation, which results in smaller angles, does not make sense.  Angles are preserved under these mathematical constructs.  Look into screw theory - you can use any modeling methodology you want, and it can be ultimately decomposed into a single screw axis, with a computed pitch, and a single rotation, to accomplish that transformation.  You can't change what the angles "look like."</p>
			</div>
			<div id = "comment-17204" class = "comment">
				<p>@SteveO It does make sense, see the added example. Unfortunately there is nothing about it in any book/paper I read, so I was wondering if someone else has any personal experience with it.</p>
			</div>
			<div id = "comment-17259" class = "comment">
				<p>@SteveO Thanks for the answer. I agree that the rotation matrix is unique and in general with this analysis. Actually I am working many years now on this field but I never saw any comments/ hints about how to choose a representation (if it makes sense at all to prefer one instead of another).  


Anyway, as a general remark about the community (and sorry for the hubris of mentioning it here), it is so irritating that so many people follow the principle "shoot first, then ask", barely showing any good intentions...</p>
			</div>
			</div>
				<textarea id = "speech-9610" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9610">
					<img id="start_img-9610" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9610">Comment</button>
			<br><div id = "ans-9612"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9612" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds to me like you want something where you can (exaggerating) express 30 degrees as thirty 1 degree transforms, such that you can then do something where $\sin{(1)} \approx 1$ and "cheat" that transform to use $\sin{(30)}\approx 30$.</p>

<p>You can't do this, because as BendingUnit22 put it, "Truth is invariant under change of notation." </p>

<p>It's similar to saying, "Well, a mile is 5280 feet, and a foot is 12 inches, and each inch is 25.4mm, and a millimeter is basically nothing, so a mile is a 1.6 million times nothing, so a mile is nothing." It doesn't work because there is <em>error</em> with any approximation, and that error propagates with every successive step. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9612" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9612">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9612">Load Comments</button></br>
			<div id = "commentsection-9612" class = 'collapse'>
			<div id = "comment-17021" class = "comment">
				<p>thanks for the answer. I don't want to do this, because it doesn't make sense! What I am investigating is if there is a representation that describes a point using smaller angle values. To give another example (which is not what I want to do here, but still shows the general idea), one could say that an object travelled 4m to the x direction and 4 to the y. Another one could define his axes to be rotated 45deg. anti-clockwise w.r.t. the previous ones, so he could say that the object travelled 5.65m to the new x axis. Hope this clarifies a bit my problem!</p>
			</div>
			<div id = "comment-17025" class = "comment">
				<p>@jpro: ok, now the object goes back to 0 on the (original) Y axis. How do you describe that position now? Change frame of reference again? Now how do you measure the (not small) angles of the frame of reference? You might as well say that in its own local frame of reference the object doesn't ever move at all. All angles are zero. Great, but is that helpful? Your problem needs a lot clarification, because so far you only described the problems of some abstract mathematical description of it, which may or may not be correct.</p>
			</div>
			<div id = "comment-17036" class = "comment">
				<p>@jpro - I think this is *exactly* what you're trying to do. You're trying to find some other means of expression such that you can approximate. So, instead of saying "miles" you say "millimeters" and make the *approximation* that millimeters are negligible. Or, I think to put it your way, "The Earth only rotated a fraction of a degree, so the mile is negligible." Is this not correct? Rather than using the actual distance (a mile) you want a different frame that lets you use a small angle approximation. **If you want to abuse it, nobody here can stop you**, but we can say you're doing it wrong.</p>
			</div>
			<div id = "comment-17041" class = "comment">
				<p>There are cases where the question can make sense, if intended as: how to maximize the accuracy vs the range of the parameter.
Ex: If the angle varies between 0 and 180 degrees, then I can use 1 byte and the LSb represents a degree. But if the angle is always between 0 and 90 degrees, then I can use the LSb to represent half degree, thus doubling the precision.</p>
			</div>
			<div id = "comment-17042" class = "comment">
				<p>@Chuck I don't know how familiar you are with different rotation representations, so maybe the question is not clear to you. Please take a look at the example that I added to see that I don't do any "magic" but I am just trying to use the tools that are the most appropriate for what I want to achieve, if there are any of course (if I knew the answer I wouldn't ask!).</p>
			</div>
			</div>
				<textarea id = "speech-9612" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9612">
					<img id="start_img-9612" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9612">Comment</button>
			<br><div id = "ans-9613"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9613" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is one option (I'm tempted to write trick) that might help you. in a limited set of conditions.</p>

<p>uC / uP systems are exceedingly good at measuring time.</p>

<p>So, if you can either assume that the speed is constant or that you can compensate for changes, you could convert your measurements of angles into measurements of time (i.e. how long does it take to reach a certain angular position).</p>

<p>This would enable faster fixed point math and you could even build calibration tables for the motors.</p>

<p>But it really depends on the specific application if anything of what I described can bring any benefit. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9613" data-toggle = "popover">
				<p>user name : Igor Stoppa</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-9613">{'brushless-motor': 0, 'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9613" class = 'collapse'>
			</div>
				<textarea id = "speech-9613" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9613">
					<img id="start_img-9613" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9613">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>