<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motion Model for Holonomic Robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2382" class = "post">
			<h2>Question</h2>
			<div id="vote-2382" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 613</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motion Model for Holonomic Robot</h2>
<p>We are working with an holonomic robot equipped with three (120 degree shifted) omnidirectional wheels. The relative movement is estimated by dead reckoning using wheel encoders. To improve this estimation we installed an gyroscope to measure the change in orientation. Furthermore the robot has a 270 degree laser range finder. </p>

<p>In order to solve the kidnapped robot problem we implemented a particle filter. In every step each particle is updated according to the odometry and gyroscope readings. Since these readings are distorted by noise we need a motion model to include these errors. As described in Probabilistic Robotics by Thrun (Page 118 - 143) there are two commonly used motion models (velocity motion model and odometry motion model). However these models seem to describe the behavior of differential drive robots not omnidirectional robots. I base this thesis on the fact that the error in relative y-direction is proportional to the error in orientation as far as the motion models by Thrun are concerned. This is appropriate for differential drive robots as the orientation and the heading of the robot are identical. For omnidirectional robots this assumption can not be made since the heading and the orientation are completely independent. Even if we assume perfect information about the robots orientation we can still obtain error in relative y-direction.</p>

<p>I would like to discuss if my assumption - that the velocity/odometry motion model fails for omnididrectional robots - is correct or not as i am not sure about that. Furthermore  i am curious if there are any other motion models for omnidirectional robots that might fit better.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2382" data-toggle = "popover">
				<p>user name : Johnny Mudcrab</p>
				<p> user reputation : 98</p>
				<p class = "tagcontent" id = "usertaginfo-2382">{'None': 3, 'manipulator': 4, 'simulator': 3, 'localization': 9, 'torque': 4, 'motion': 9, 'particle-filter': 6, 'mobile-robot': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2382">Load Comments</button></br>
			<div id = "commentsection-2382" class = 'collapse'>
			<div id = "comment-11192" class = "comment">
				<p>You are right, the model discussed in Thrun is not for omnidirectional drives. I think there was a note made in the bibliographical comments at the end of the chapter pointing out this fact as far as i remember</p>
			</div>
			</div>
				<textarea id = "speech-2382" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2382">
					<img id="start_img-2382" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2382">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2398"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2398" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found a paper (<a href="http://dl.acm.org/citation.cfm?id=1015413" rel="nofollow">Learning probabilistic motion models for mobile robots</a>) which examines the constraints of the motion models introduced by Thrun and presents a more general model.</p>

<p>Abstract:</p>

<blockquote>
  <p>Machine learning methods are often applied to the problem of learning a map from a robot's sensor data, but they are rarely applied to the problem of learning a robot's motion model. The motion model, which can be influenced by robot idiosyncrasies and terrain properties, is a crucial aspect of current algorithms for Simultaneous Localization and Mapping (SLAM). In this paper we concentrate on generating the correct motion model for a robot by applying EM methods in conjunction with a current SLAM algorithm. In contrast to previous calibration approaches, we not only estimate the mean of the motion, but also the interdependencies between motion terms, and the variances in these terms. This can be used to provide a more focused proposal distribution to a particle filter used in a SLAM algorithm, which can reduce the resources needed for localization while decreasing the chance of losing track of the robot's position. We validate this approach by recovering a good motion model despite initialization with a poor one. Further experiments validate the generality of the learned model in similar circumstances.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2398" data-toggle = "popover">
				<p>user name : Johnny Mudcrab</p>
				<p> user reputation : 98</p>
				<p class = "tagcontent" id = "usertaginfo-2398">{'None': 3, 'manipulator': 4, 'simulator': 3, 'localization': 9, 'torque': 4, 'motion': 9, 'particle-filter': 6, 'mobile-robot': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2398" class = 'collapse'>
			</div>
				<textarea id = "speech-2398" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2398">
					<img id="start_img-2398" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2398">Comment</button>
			<br><div id = "ans-2527"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2527" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you have two problems; first, on the mathematical side, the models aren't matching your geometry, so the assumptions about error accumulation are wrong, as you've ascertained.  I suspect that's fixable.  </p>

<p>The second problem is harder and is related to the messy physics of omnidirectional robots (at least for 120-degree and Mecanum) - they generally involve so much nonlinear slip that odometry just doesn't work.  I don't have the mathematical rigor to defend this assertion, but if your output error component isn't significantly less than the ideal model output component, you might as well do dead reckoning based on a random number.  :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2527" data-toggle = "popover">
				<p>user name : Jolly Roger</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-2527">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2527" class = 'collapse'>
			</div>
				<textarea id = "speech-2527" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2527">
					<img id="start_img-2527" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2527">Comment</button>
			<br><div id = "ans-3086"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3086" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree that the motion models in Probabilistic Robotics are badly suited for omnidirectional robots. I always interpreted the models presented there as examples only that should enable you to devise a custom model for your own robot.</p>

<p>First of all you need to model and solve the forward kinematics for this kind of omnidirectional drive. I guess you already managed to do that, but just in case you might want to check Section III.b) in <a href="ftp://robotics.mi.fu-berlin.de/pub/Rojas/omniwheel/killoughz.pdf" rel="nofollow">this paper</a>.</p>

<p>Second, there are many ways of turning a kinematic model into a probabilistic model. The easiest way is to just take the kinematic model and add some "process noise" in pose space. A probably better alternative is assuming noisy wheel encoders, i.e. sample and add noise to wheel encoder readings before transforming these according to the kinematic model.</p>

<p>I had good results applying a particle filter to a robot with the same geometry with the latter option a while ago, but your mileage may vary.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3086" data-toggle = "popover">
				<p>user name : sebsch</p>
				<p> user reputation : 404</p>
				<p class = "tagcontent" id = "usertaginfo-3086">{'control': 6, 'quadcopter': 2, 'None': 15, 'sensor-error': 4, 'sensor-fusion': 4, 'localization': 16, 'ekf': 9, 'pose': 1, 'errors': 8, 'kalman-filter': 17, 'mobile-robot': 8, 'sensors': 4, 'navigation': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3086" class = 'collapse'>
			</div>
				<textarea id = "speech-3086" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3086">
					<img id="start_img-3086" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3086">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>