<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>motor inertia tensor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9704" class = "post">
			<h2>Question</h2>
			<div id="vote-9704" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>motor inertia tensor?</h2>
<p>In modeling dynamics of a robot ,in which servo motor is adjusted inside the link, there is a need to find inertia tensor of the motor itself,Right?</p>

<p><a href="https://i.stack.imgur.com/qaVmL.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/qaVmL.png" alt="enter image description here"></a></p>

<p>So if it is needed how can i get the inertia tensor of motor since i couldn't find its solid works model having internal components,i mean gears and other stuff(with related specified materials)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9704" data-toggle = "popover">
				<p>user name : Muhammad Qasim</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-9704">{'servomotor': 0, 'None': 0, 'dynamics': 3, 'robotic-arm': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9704" class = 'collapse'>
			</div>
				<textarea id = "speech-9704" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9704">
					<img id="start_img-9704" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9704">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9721"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9721" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is a little difficult to understand exactly what you are needing.   The motor specs should have a value for rotor inertia.   The gears would depend a lot on their design, but I have always been able to ignore their rotary inertias and just use the gear ratio in the overall drive train inertia calculations.   Those would be for the inertias distal to the motor.   For the inertias seen by the proximal motors, it is usually sufficient to model it as a point mass located at its cg. </p>

<p>Or, are you trying to inderstand <em>how</em> to create the inertia and mass matrices?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9721" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9721">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9721" class = 'collapse'>
			</div>
				<textarea id = "speech-9721" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9721">
					<img id="start_img-9721" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9721">Comment</button>
			<br><div id = "ans-9737"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9737" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally, you shouldn't worry about modeling the dynamics.  You only need to do this in the case where you've got everything set up, but things aren't working as accurately as you'd like them to.  And in that case, the inertia that caused the overshoot should be visible in your data -- you can use the direct measurement instead of the theoretical calculation.</p>

<p>If you're asking about this because you're planning to push the servo to its physical limits, you should probably rethink your design.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9737" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9737">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9737" class = 'collapse'>
			</div>
				<textarea id = "speech-9737" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9737">
					<img id="start_img-9737" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9737">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>