<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motor for DIY Electric skateboard
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12476" class = "post">
			<h2>Question</h2>
			<div id="vote-12476" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 80</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motor for DIY Electric skateboard</h2>
<p>I've been planning to make an electric skateboard for a while now. All the tutorials that I have seen use brushless motors. However, where I live, its not possible to get the exact ones as shown in those tutorials. </p>

<p>The ones I can buy are somewhat like <a href="http://www.amazon.in/1000kv-Outrunner-Brushless-conectors-REES52/dp/B01BQJ2T7U/ref=pd_sim_328_7?_encoding=UTF8&amp;psc=1&amp;refRID=1Q958P0BJH68GE8C59VJ" rel="nofollow noreferrer">this</a>.</p>

<p>The one shown in the tutorials is <a href="http://alienpowersystem.com/shop/brushless-motors/alien-5065-sensored-outrunner-brushless-motor-270kv-2200w-2/" rel="nofollow noreferrer">this</a>.</p>

<p>I am new to brushless motors. The one in the tutorial in 270kv and the one I can buy is 1000kv (and above) but they both differ greatly in size. Plus there's this "outrunner" thing. The ones I can buy seem to be made for quadcopters and similar stuff.</p>

<p>So am I okay using the ones I can buy? The little 1000 kv ones, considering the fact that they need to run a 14T to 36T pulley system with approx 70kgs of weight on the board.</p>

<p>Or maybe I could just use the 12v 10Amp 1000RPM DC Motor that I have lying around?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12476" data-toggle = "popover">
				<p>user name : YaddyVirus</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-12476">{'brushless-motor': 0, 'None': 2, 'raspberry-pi': 1, 'arduino': 1, 'battery': 2, 'rcservo': 0, 'current': 1, 'motor': 2, 'ultrasonic-sensors': 0, 'navigation': 0, 'steering': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12476" class = 'collapse'>
			</div>
				<textarea id = "speech-12476" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12476">
					<img id="start_img-12476" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12476">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12477"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12477" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The 1000kv motor will probably not have enough torque, and the 10A motor will drain your battery (I am assuming you will be running on a battery) way too fast. 
The motors you want are a lower kv that might not spin as fast, but will have enough starting torque to get you moving from a standstill.</p>

<p><a href="https://oscarliang.com/quadcopter-motor" rel="nofollow noreferrer"> Here is some good information on the types of motors you are talking about that might help you out. It applies to quadcopters but will help you understand the basics about motors and what their values and capabilities are.  </a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12477" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-12477">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12477">Load Comments</button></br>
			<div id = "commentsection-12477" class = 'collapse'>
			<div id = "comment-21937" class = "comment">
				<p>Torque was also my main concern for the 1000kv motor. Thanks for the link though. I'll read it and get back to you</p>
			</div>
			</div>
				<textarea id = "speech-12477" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12477">
					<img id="start_img-12477" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12477">Comment</button>
			<br><div id = "ans-12489"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check the legal requirements of the motors for your area.</p>

<p>The little 1000kV motors wouldn't have sufficient torque...</p>

<p>Look for anything below 600kV and the motor should be equal to or under the legal limit of the motor wattage.</p>

<p>Just to let you know...</p>

<p>kV means RPM per volt</p>

<p>The 'k' is the constant
The 'V' is the volts</p>

<p>So...</p>

<p>1000 kV means 1000 RPM per volt </p>

<p>Normally, higher kV motors have less torque and they are mainly used for small multicopters</p>

<p>Higher kV would have a lower top speed and much higher torque and they can be used for larger multicopter or projects like electric long board or e-bikes.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12489" data-toggle = "popover">
				<p>user name : SidS</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-12489">{'quadcopter': 3, 'None': 5, 'power': 1, 'motor': 4, 'electric': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12489">Load Comments</button></br>
			<div id = "commentsection-12489" class = 'collapse'>
			<div id = "comment-21954" class = "comment">
				<p>What about using a dc motor only?</p>
			</div>
			<div id = "comment-21955" class = "comment">
				<p>@YaddyVirus I'm not completely sure what you mean, the motors that we are talking about are DC but they all have different specifications and only fit certain needs...</p>
			</div>
			<div id = "comment-21961" class = "comment">
				<p>I mean brushed DC motors like this one http://www.amazon.in/Johnson-geared-Specially-Robowar-competitions/dp/B010V2O6CO</p>
			</div>
			<div id = "comment-21963" class = "comment">
				<p>@YaddyVirus you could use brushed motors but they require brushed ESCs and they tend to last not that long... The motor that you've linked is not powerful enough, if you look at the torque it's 10kg/cm which means it will output 10kg of force for every centimetre of rotation which is hardly anything compared to the weight of a person and the skateboard.</p>
			</div>
			<div id = "comment-21975" class = "comment">
				<p>No, I'll be using the motor with a gear assembly to increase torque. The gear assembly will have a ratio of approx 3:1</p>
			</div>
			<div id = "comment-21978" class = "comment">
				<p>@YaddyVirus you can use this method, but I think you may face some lowered top speeds</p>
			</div>
			<div id = "comment-21986" class = "comment">
				<p>That would do... As this is only an experiment and I'm only interested in getting the board to run. If I can do that, well we know what upgrades come next...</p>
			</div>
			</div>
				<textarea id = "speech-12489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12489">
					<img id="start_img-12489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12489">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>