<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motor-controller with path output
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10944" class = "post">
			<h2>Question</h2>
			<div id="vote-10944" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 27</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motor-controller with path output</h2>
<p>I'm entirely new to robotics and have the following design requirement for a project I'm working on:</p>

<blockquote>
  <p>Given a robot capable of positioning an object in three dimensional space ( vis. a plastic extruder or syringe, etc ), allow the robot's end user to manually move that object through a path so that the robot's motor/controller will output the path taken.</p>
</blockquote>

<p>I'm sure there must be motor-controller packages with such a feature, but I have no idea what keywords to search for so as to learn more about this type of hardware.</p>

<p>The basic idea is to allow the end user to give the robot instructions by manually moving the object through a procedure, then recording that procedure, manipulating it and playing it back. </p>

<p>Can anyone give me some keywords to get me started in my research?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10944" data-toggle = "popover">
				<p>user name : StudentsTea</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-10944">{'control': 0, 'None': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10944">Load Comments</button></br>
			<div id = "commentsection-10944" class = 'collapse'>
			<div id = "comment-19712" class = "comment">
				<p>Welcome to *Robotics* StudentsTea, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-19727" class = "comment">
				<p>If the OP was asking a general question about ways to implement teach-repeat programming then I'd agree with the On Hold.  But the question was about keywords to assist in research for the topic.  I think that is a fair and specific question.</p>
			</div>
			</div>
				<textarea id = "speech-10944" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10944">
					<img id="start_img-10944" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10944">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10945"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10945" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some keywords you can use are <em>teach and repeat robot programming,</em> and <em>programming by demonstration.</em>  You can also study how <em>teach pendants</em> work.  </p>

<p>EDIT (expanded to include motor controller behaviors):</p>

<p>For some robots, particularly hobby and educational robots, the system can just disable the brakes and/or servos (or remove the motor's bus voltage), and let the operator move the end effector by hand.  The controller, in this teach mode, records the sequence of encoder values for each joint for the entire time the robot is in teach mode, and allows subsequent playback.   For larger robots, with large link inertias, this can be challenging for the operator to do.   I have worked on systems that energize the motors and compensate for gravity so that the operator can move the end effector with ease even though the links were heavy.  This is tricky from a safety perspective, and usually require a "live man" switch to be continually engaged because the operator is in the robot's workspace with the system powered on.   Most teach and repeat processes that I've seen use a teach pendant, in which the operator uses a joystick, switches, or programming commands to guide the robot to a series of discrete "taught points," rather than recording the actual sequence of encoder values throughout the entire path.  These taught points can then be programmed into a robot's move commands, with additional options of setting motion parameters such as speeds, accelerations, and settling windows for each motion segment.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10945" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-10945">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10945" class = 'collapse'>
			</div>
				<textarea id = "speech-10945" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10945">
					<img id="start_img-10945" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10945">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>