<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motor for a hydraulic pump in a hydraulic system
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6536" class = "post">
			<h2>Question</h2>
			<div id="vote-6536" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 131</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motor for a hydraulic pump in a hydraulic system</h2>
<p>I'm not entirely sure if this is the right area to post this question, but looking at the other subjects on StackExchange, this seems to be the best fit.</p>

<p>I am a complete beginner to hydraulic systems, and I've wanted to learn more about this area. I'm designing a hydraulic system that involves using hydraulics to push/pull objects using pistons. I have looked at what the basic requirements are for a hydraulic system, but there is one thing that escapes me.</p>

<p>I come from an electronic background, and I noticed that the hydraulic pumps (for example, this one) seem to lack a motor to drive the fluid. Am I wrong? If not, I've been looking everywhere for a motor that can/should be attached to said pump, but I cannot seem to find anywhere that sells them. Is it just a simple DC motor (with correct specs), or should there be a specific motor designed for hydraulic pumps?</p>

<p>Looking around, I came across this, but looking through the specs, I don't see a power requirement, and being used to seeing power consumption in datasheets, I'm not even sure it is a motor!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6536" data-toggle = "popover">
				<p>user name : Tom</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6536">{'None': 0, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6536">Load Comments</button></br>
			<div id = "commentsection-6536" class = 'collapse'>
			<div id = "comment-19989" class = "comment">
				<p>Hydraulics course playlist:https://www.youtube.com/watch?v=S_4anj7GpRo&list=PLdnqjKaksr8ruhw85YYSSO6EWLhVVmSKm
This should be about what you are looking for, he goes through how to use all the needed formulas and exactly how they work. Best of luck to you sir.</p>
			</div>
			</div>
				<textarea id = "speech-6536" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6536">
					<img id="start_img-6536" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6536">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6540"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6540" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, hydraulic pumps are sold without motors, although some suppliers (eg <a href="http://www.hydraproducts.co.uk/hydraulic-calculators/output-power.aspx" rel="nofollow">hydraproducts.co.uk</a>) sell complete systems.</p>

<p>Hydraulic pumps typically are driven by gas or diesel engines, or by large AC motors, which often are more affordable and more available than comparable DC motors.  See <a href="http://hydraulicspneumatics.com/other-technologies/chapter-22-fluid-power-formula" rel="nofollow">hydraulicspneumatics.com</a> for fluid power formulas that will allow computing the size of motor required.  For example, one of the smallest hydraulic pumps available at <a href="http://www.surpluscenter.com/Hydraulics/Hydraulic-Pumps/Vane-Pumps/0-20-CU-IN-CRS-V10-1P1P-1C20-VANE-PUMP-9-8532-1.axd" rel="nofollow">surpluscenter.com</a> delivers   3.6 GPM @ max. RPM ,    2500 PSI cont. , and works at RPMs from 600 up to 4800.  From the power formula  Horsepower to drive a pump @ 85% efficiency [is] HP = GPM x PSI x 0.000686 , it needs a motor giving about 6.2 HP (4.6 KW) at 4800 RPM.  A slower, less powerful motor would support either less flow or lower pressure.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6540" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-6540">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6540" class = 'collapse'>
			</div>
				<textarea id = "speech-6540" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6540">
					<img id="start_img-6540" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6540">Comment</button>
			<br><div id = "ans-6558"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6558" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In the automotive field water pumps for cooling the combustion engine have been mechanically driven by a belt linked to the engine. The same should be true for hydraulic pumps. Now there is a trend to use brushless DC motors (BLDC, also called electronically commutated) because their speed can be chosen independent of the combustion engine's speed. They also consume much less power. I would consider looking into BLDCs as motors, if they fit the hydraulic power required for your application, i.e. motor electric power = hydraulic power. I would pick a slightly bigger motor, with maybe 1.2 times the hydraulic power. Also, dependent on the hydraulic actuator you want to drive, make sure the motor torque at rated speed matches what is required by the actuator. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6558" data-toggle = "popover">
				<p>user name : jjack</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6558">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6558" class = 'collapse'>
			</div>
				<textarea id = "speech-6558" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6558">
					<img id="start_img-6558" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6558">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>