<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motor upgrade to higher torque?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9616" class = "post">
			<h2>Question</h2>
			<div id="vote-9616" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 46</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motor upgrade to higher torque?</h2>
<p>I have assembled a 4WD car using kits I bought on ebay.</p>

<p>I have 4 motors similar to this one: <a href="https://i.stack.imgur.com/7DFlDm.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/7DFlDm.jpg" alt="motor"></a>.</p>

<p>The description says:</p>

<blockquote>
  <ul>
  <li>Operating voltage: 3V~12VDC 
  (recommended operating voltage of about 6 to 8V)</li>
  <li>Maximum torque: 800gf cm min (3V)</li>
  <li>No-load speed: 1:48 (3V time)</li>
  <li>The load current: 70mA (250mA MAX) (3V)</li>
  <li>This motor with EMC, anti-interference ability. 
  The microcontroller without interference.</li>
  <li>Size: 7x2.2x1.8cm(approx)</li>
  </ul>
</blockquote>

<p>I am not too fond of the max speed I can reach, but I would be able to provide more power, because I have a 12V 2A battery onboard.</p>

<p>So far I have used 6V, because that seemed to be the safer voltage choice.</p>

<p>Has anybody tried successfully higher voltages, without wearing down the motor in few hours (I've read this can happen)?</p>

<p>Alternatively, can someone recommend replacement motors that would tolerate reliably a higher power envelope?</p>

<p>I would like to preserve the gearbox and replace only the motor, if possible.</p>

<p>I think I could fit a motor 2-4 mm longer (replacing the transparent strap which bonds it to the gearbox), if that makes any difference.</p>

<p>BTW, I'm making the assumption:</p>

<p>higher_voltage => higher_torque => higher_speed</p>

<p>but I'm not sure it's overall correct.</p>

<p>I expect that it would at least produce higher acceleration during the transients.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9616" data-toggle = "popover">
				<p>user name : Igor Stoppa</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-9616">{'brushless-motor': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9616" class = 'collapse'>
			</div>
				<textarea id = "speech-9616" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9616">
					<img id="start_img-9616" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9616">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9617"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9617" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Few points,</p>

<ol>
<li>Voltage is like a reservoir with water and it doesn't matter how big it is if your tap only allows a thin stream of water, your current in this case. For motors, it is the current that is important as long as the voltage is in the operating range. Current determines how fast your motor can spin.</li>
<li>Torque is always inversely proportional to speed. The higher torque u need the slower the motor will have to be, you can see the torque vs speed graphs in the datasheets.</li>
<li>Cannot really suggest you a motor just like that since you haven't provided any requirements like what is the target torque required? Since a motor can be practically useful only if its torque can be specified since it relates a lot of things like the motor's size, power rating etc.</li>
</ol>

<p><strong>Edit:</strong></p>

<p>To point you in the right direction, Information about where the motor is being used is required - linear drive units, rc cars, propellers etc. For starters, you can look at these links - <a href="http://www.pittman-motors.com/portals/0/resources/applying_dc_motors_in_linear_motion_applications1.pdf" rel="nofollow">Link1</a>, <a href="http://www.baldormotion.com/pdf/Linear%20Motor%20Sizing%20Sheet.pdf" rel="nofollow">Link2</a>, <a href="http://www.orientalmotor.com/technology/articles/motor-sizing-calculations.html" rel="nofollow">Link3</a>, <a href="http://www.moog.com/literature/MCG/moapp.pdf" rel="nofollow">Link4</a>, <a href="http://www.msitec.com/images/pdf/free/move_profile.pdf" rel="nofollow">Link5</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9617" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-9617">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9617">Load Comments</button></br>
			<div id = "commentsection-9617" class = 'collapse'>
			<div id = "comment-17043" class = "comment">
				<p>Do you have any pointer that I could use as guide to make an evaluation of the motor I have (no datasheet was provided) and an estimate of what I might need? ATM all I can say is that the control range for the PWM duty cycle applied is fairly limited and that the top speed it can reach is not so high.</p>
			</div>
			<div id = "comment-17044" class = "comment">
				<p>Like I said I don't know what you are trying to actuate, as in what is the load that the motor is driving. I do not have information about how the motor is being operated as in what is the acceleration that it is trying to generate and in what time?</p>
			</div>
			<div id = "comment-17045" class = "comment">
				<p>I do not have it either, I have not characterized the whole system and I was asking for a link describing how to do such characterization. It seems that I'm on my own at least until I can express the problem in a form that is matching certain formal requirements. So I would like to have the meta-information, if available, about how I should express my problem: what parameters to consider, what requirements to analyse, etc.</p>
			</div>
			<div id = "comment-17047" class = "comment">
				<p>Read my edited answer for some links I added.</p>
			</div>
			</div>
				<textarea id = "speech-9617" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9617">
					<img id="start_img-9617" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9617">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>