<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motor driver selection
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1613" class = "post">
			<h2>Question</h2>
			<div id="vote-1613" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 164</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motor driver selection</h2>
<p>I am building a 2 wheel robot to carry 7KG of load. I used this <a href="http://www.robotshop.com/dc-motor-selection.html?lang=en-us" rel="nofollow">link</a> to get the torque required for each motor which is <strong>11Kg-cm</strong>. So I choose 2 of these <a href="http://www.robot-r-us.com/motor-brushed/planetary-gearhead-motor-12v-13.71-with-encoder.html" rel="nofollow">motor</a> which has <strong>36Kg-cm</strong>(2x more) torque. I noticed that the stall current is 14A. </p>

<p>Can I use Adafruit Motor Shield for Arduino which is rated 3A peak current capability?</p>

<p>If not what current rating driver should look into?</p>

<p>Thanks!!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1613" data-toggle = "popover">
				<p>user name : user1850666</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-1613">{'current': 1, 'None': 0, 'driver': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1613">Load Comments</button></br>
			<div id = "commentsection-1613" class = 'collapse'>
			<div id = "comment-3350" class = "comment">
				<p>possible duplicate of [H-bridges and stall current](http://robotics.stackexchange.com/questions/1567/h-bridges-and-stall-current)</p>
			</div>
			<div id = "comment-3353" class = "comment">
				<p>I dunno Ian -- I think this one stands on its own, although they are similar.</p>
			</div>
			<div id = "comment-3354" class = "comment">
				<p>Kg-cm is not a measure of torque, because while a centimeter is a measure of distance, a kg is a measure of mass, not force.  Presumably you mean kg-g-cm, or 110N-cm (roughly) for the motor.</p>
			</div>
			<div id = "comment-3424" class = "comment">
				<p>Similar, but not a duplicate: propose to leave open for now</p>
			</div>
			</div>
				<textarea id = "speech-1613" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1613">
					<img id="start_img-1613" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1613">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1617"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1617" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Adafruit Motor Shield for Arduino should work, if two conditions are satisfied:</p>

<ol>
<li>the Adafruit Motor Shield for Arduino can limit its own current, or there's enough data available so that you can.</li>
<li>the motor you want to use can generate sufficient torque on 3 amps</li>
</ol>

<p>The answer to (1) should come from the data for the Adafruit Motor Shield for Arduino.  The answer to (2) should come from the motor data (look for the motor torque constant.  It should be in (torque units)/(amp).  Given what the motor uses for torque units, it'll probably be in kg-cm/amp, however improper those units may be as a measure of torque.  Multiply that torque constant by 3A, and you have your answer for the motor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1617" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1617">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1617">Load Comments</button></br>
			<div id = "commentsection-1617" class = 'collapse'>
			<div id = "comment-3380" class = "comment">
				<p>Ok checked out adafruit website, the new motor shield has flyback diodes, thermal shutdown protection and 3 Amp peak current.

Also decided to change motors as I relised I didnt need that much torque. So current torque is 0.45Nm so decide to use this [motor](http://www.robot-r-us.com/motor-brushed/gearhead-motor-12v-401-175rpm-with-encoder.html).</p>
			</div>
			</div>
				<textarea id = "speech-1617" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1617">
					<img id="start_img-1617" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1617">Comment</button>
			<br><div id = "ans-1620"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1620" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could use it, but that would mean you will have to limit your power supply <strong><em>a lot</em></strong>. When your robot starts up, it will need a serious amount of power for the time it takes to accelerate, if you have a power supply of 12V, you will probably immediately burn out the motor driver you mentioned.</p>

<p>A motor driver that would work (from Sparkfun, I couldn't find a high power motor driver at Adafruit) is <a href="https://www.sparkfun.com/products/10182" rel="nofollow">this shield</a>.</p>

<p>That said, you could use these motors, with the shield you mentioned, but you will have to limit your power supply, and that is going to cost you: speed, acceleration, torque and a big headache. You are way better off getting a higher power shield.</p>

<p>I am in no way affiliated with Sparkfun, I just knew they had a shield that will suit your needs.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1620" data-toggle = "popover">
				<p>user name : Thom Kouwen</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-1620">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1620" class = 'collapse'>
			</div>
				<textarea id = "speech-1620" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1620">
					<img id="start_img-1620" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1620">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>