<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motor for weapon for Hobbyweight
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4716" class = "post">
			<h2>Question</h2>
			<div id="vote-4716" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 601</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motor for weapon for Hobbyweight</h2>
<p>I am currently building a hobby-weight (5.44kg) robot. The weapon will be a vertical spinning disk at the front. It will probably be a commercial one from the hardware store or I could maybe get one made.</p>

<p>I have 2 cordless drill motors to drive my wheels so I should be ok there, but I am still lost where it comes to what motor I should get for my weapon. I am now inclined to think it should be brush-less although I am still open to other opinions.</p>

<p>Can anyone please recommend a good motor (in-line brush-less) or brushed motor that will give me the speed and strength I need for the weapon?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4716" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4716">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4716">Load Comments</button></br>
			<div id = "commentsection-4716" class = 'collapse'>
			<div id = "comment-7396" class = "comment">
				<p>What is the weight of the disk, and what are its dimensions?  How fast do you need it to reach its top speed?</p>
			</div>
			<div id = "comment-7405" class = "comment">
				<p>Its a 14 cm diameter cutting disk as used in commercial hand held grinders. Not too heavy - around 150 grams. It would need to reach max speed in 4-6 seconds, although thats not too critical. I have no experience with brushless and was going to experiment with a hard disk motor but have not yet got round to it. Meanwhile I do have some smaller cordless motors available (7.2 volts and 12 volts and also an 18 volt) which which might do the job - maybe if I remove the gearbox and drive the disk directly. Not as many rpm as brushless but might be enough and probably less fragile overall. Opinions?</p>
			</div>
			<div id = "comment-7407" class = "comment">
				<p>Well, this is a site more for fact than opinion.  A few physics calculations should give you the moment of inertia of the disc, so combining that with the desired time for full acceleration will give you a desired torque value.  Whether you need to use a gearbox to achieve that torque (based on what motors are available) is another matter.</p>
			</div>
			<div id = "comment-7417" class = "comment">
				<p>Well Ian, by "opinions" I actually meant informed opinions ideally by people who have done this before. As in "no don't use a commercial disk because it will break off" or "it won't damage the opponents" or "forget all about cordless drill motors for the disk". I don't know how to approach this the theoretical way nor do I have the torque figures for my motors in hand so I felt I should resort to the experience of others to get at least acceptable results and not look an utter fool when I go out there and face off.</p>
			</div>
			<div id = "comment-7500" class = "comment">
				<p>There are a lot of users on this site, but if you're hoping to only speak with users who have entered into 5.44kg battle robot competitions with spinning disc weapons then you may be disappointed.  When you did the calculations I mentioned, what were the results?</p>
			</div>
			<div id = "comment-7506" class = "comment">
				<p>Just to clarify - the rules specified an Active Weapon, and lifters involve hydraulics and so on which add weight and complexity; that is why I opted for a spinning disk which I thought would be an easier and more straightforward approach. I have not carried out the calculations yet, but I am now thinking that the motor would be continuously on (I have a dedicated battery for it) so acceleration may not be so important. The disk is quite light, so torque required to bring it up to speed isn't high. Actually on reflection I think a brush-less will do fine given its speed I want.</p>
			</div>
			<div id = "comment-7507" class = "comment">
				<p>However if I go brush-less, the fact that I am not using any slip mechanism (pulley etc) means that I will have to be careful to stop the motor before it stalls. So it will be more of a quick attack and back away approach. Else something will break.</p>
			</div>
			</div>
				<textarea id = "speech-4716" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4716">
					<img id="start_img-4716" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4716">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4776"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4776" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would start by looking at cordless power tools that do the job you want. It sounds like you want a lot of speed and power for cutting through another robot. Well, you want a cordless saw:</p>

<p><img src="https://i.stack.imgur.com/jjPQn.jpg" alt="Cordless saw"></p>

<p>Don't forget the mount the motor so that when the saw hits the enemy, it throws the enemy upwards, and pushes your robot down. For this saw, it means having the motor on the right of your robot.</p>

<p>Added: OK, so you have a 5.44k weight limit. Well, there are a few smaller cordless saws available, like the <a href="http://www.makita.com/en-us/Modules/Tools/ToolDetails.aspx?Name=SH01W" rel="nofollow noreferrer">Makita SH01W</a> which weighs 1.5kg. By taking off some of the casing, you might get that down to 1.25kg. I wouldn't bother with a drill motor for the saw, as it wouldn't be fast enough. A saw really needs that kinetic energy to stop it getting stuck.</p>

<p>If you find yourself over the weight limit, and can't get under it, then you could go for a brushless motor. These have a better power:weight ratio than brushed motors, so you could save another 500g perhaps. But the downside is that you now have to spend time attaching it securely to the saw's gearbox. OK if you have the time, skill and equipment. But something to bear in mind.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4776" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4776">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4776">Load Comments</button></br>
			<div id = "commentsection-4776" class = 'collapse'>
			<div id = "comment-7460" class = "comment">
				<p>Great except that the motor on that looks way too heavy for a 5.44 Kg limit robot. Would a cordless driller motor be as good? And in that case should I remove the gear box and just drive the saw directly?</p>
			</div>
			<div id = "comment-7518" class = "comment">
				<p>I ordered a brushless motor; hopefully that will give me the speed and torque that I need. I may also mount the disk horizontally rather than vertically since the motor is not too long.</p>
			</div>
			</div>
				<textarea id = "speech-4776" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4776">
					<img id="start_img-4776" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4776">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>