<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motor for DIY Remote controlled shades
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8054" class = "post">
			<h2>Question</h2>
			<div id="vote-8054" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 109</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motor for DIY Remote controlled shades</h2>
<p>I'm currently undertaking a project to build remote controlled shades from scratch. I currently have every piece figured out except I don't know know much about the motors involved in something like this. I am looking for suggestions on what type of motor to search for. I imagine I need a type that can go forward and back as well as stop when the shade is fully retracted. I don't know what to search for though.</p>

<p>Any help is much appreciated. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8054" data-toggle = "popover">
				<p>user name : user10598</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-8054">{'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8054">Load Comments</button></br>
			<div id = "commentsection-8054" class = 'collapse'>
			<div id = "comment-12845" class = "comment">
				<p>Possibly a [gear motor](http://www.ebay.com/bhp/gear-motor) would work?</p>
			</div>
			<div id = "comment-12846" class = "comment">
				<p>Please explain what kind of shades you want to control and what motion of them you want to control.</p>
			</div>
			<div id = "comment-12847" class = "comment">
				<p>I just planned to used a cloth material that would roll up when the shades were open.</p>
			</div>
			<div id = "comment-12866" class = "comment">
				<p>@user10598 I'd be really interested to see you document your process & report back.</p>
			</div>
			</div>
				<textarea id = "speech-8054" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8054">
					<img id="start_img-8054" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8054">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8070"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8070" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use a stepper motor, to precisely control the position of the shade, unless you also want to have to use <em>limit switches</em>.</p>

<p>If you use a stepper motor, then you can simply calculate the number of rotations required in order to roll the cloth up, or down, sufficiently. Once the number of rotations has been completed, turn off the stepper. In addition, if you use a stepper, you could also have the shade stop half way, two thirds, or whatever proportional open, or closed, that you require, without needing limit switches (or IR switches) along the entire <em>throw</em> of the shade, to tell you where the shade currently is.</p>

<p>If you use a geared motor, then you will require limit switches, or something of that ilk, to stop the shade when it reaches either extreme (i.e., fully open and fully closed).</p>

<p>Common stepper motors include the 28BYJ-48</p>

<p><a href="https://i.stack.imgur.com/uY9XR.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uY9XR.jpg" alt="28BYJ-48 stepper motor"></a></p>

<p>and the Nema variations</p>

<p><a href="https://i.stack.imgur.com/5YvIc.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/5YvIc.jpg" alt="Nema stepper motors"></a></p>

<p>Be sure to chose one with sufficient power (torque) to wind to shade. It shouldn't require too much, but it will depend on the weight of the cloth and the size of the shade.</p>

<p>The stepper motor will need to be controlled by an Arduino (or some other such controller (Raspberry Pi or PIC)), in conjunction with a stepper motor driver (such as a Easy Driver or ULN2003).</p>

<p>Stepper motors are too large a topic to explain here in depth, however the following two tutorials should get you up to speed.</p>

<p>There is a very useful video tutorial, <a href="https://www.youtube.com/watch?v=cYIL5gxRogM" rel="nofollow noreferrer">Control a Stepper Motor using an Arduino, a Joystick and the Easy Driver - Tutorial</a>, that you will find very useful.</p>

<p>If you decide to use a ULN2003, then the video tutorial, <a href="https://www.youtube.com/watch?v=B86nqDRskVU" rel="nofollow noreferrer">28BYJ-48 Stepper Motor and ULN2003 Driver Intro</a>, is extremely informative.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8070" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-8070">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8070" class = 'collapse'>
			</div>
				<textarea id = "speech-8070" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8070">
					<img id="start_img-8070" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8070">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>