<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motors response different with high-frequency PWM
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-998" class = "post">
			<h2>Question</h2>
			<div id="vote-998" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 452</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motors response different with high-frequency PWM</h2>
<p>We are making a junior soccer robot and we just got our brilliant motors from Maxon.
Setting the PWM timer to low-frequencies (around 39kHz or 156 kHz ) the robot acts as expected. But this produces some problems. </p>

<ol>
<li>It puts a heavy current on batteries (around 1.5A for 3 motors which is far too high).</li>
<li>The high current causes our motor drivers (L6203) to heat up very quickly and even heat-sinks won't help them.</li>
<li>The motors make such a bad sound as they are screaming and this is not normal.</li>
</ol>

<p>In contrast when I configure the timer on high-frequencies (such as 1250 kHz or 10000 kHz) the current drops off to 0.2A which is ideal and the sounds quit down.
But this causes a problem that our 3 motors when set to run on their highest speed (PWM set to 255) don't run by the same rpm. like one of them runs slower than others making robot turn to a specific side and so our handling functions fail to work correctly.</p>

<p>Asking someone he told me that the drivers don't respond the same to frequencies thus resulting in different speeds and because on low frequencies the difference is very small I won't notice it but on higher frequencies the difference becomes bigger and noticeable.</p>

<p>So is there any workaround for this problem? or I should continue using low frequencies? </p>

<p>PS: I'm using ATMEGA16 as the main controller with a 10 mHz external crystal. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-998" data-toggle = "popover">
				<p>user name : Miro Markaravanes</p>
				<p> user reputation : 323</p>
				<p class = "tagcontent" id = "usertaginfo-998">{'control': 12, 'None': 8, 'i2c': 2, 'motor': 6, 'power': 6, 'pwm': 7, 'microcontroller': 2, 'mechanism': 0, 'avr': 7, 'circuit': -5, 'electronics': 6, 'soccer': 12, 'software': -3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-998">Load Comments</button></br>
			<div id = "commentsection-998" class = 'collapse'>
			<div id = "comment-2358" class = "comment">
				<p>Just so we're clear, are all of the drivers identical?</p>
			</div>
			<div id = "comment-2361" class = "comment">
				<p>Yes the drivers are all identical..</p>
			</div>
			<div id = "comment-2364" class = "comment">
				<p>Is there a specific cutoff frequency where it gets problematic? Also, do you have access to a logic analyzer by any chance?</p>
			</div>
			<div id = "comment-2370" class = "comment">
				<p>I don't know if there is a cutoff frequency or not... However my guess is that the 10mHz crystal can't produce the required clock for 3 motors. Is that even possible? what do you mean by logic analyzer? however I own an oscilloscope.</p>
			</div>
			<div id = "comment-2371" class = "comment">
				<p>Highly doubt it's the crystal. A logic analyzer is a special type of scope (or sometimes an addon module for an existing scope). I was once dealing with a jitter issue in PWM signals that was causing servos to shake. We used a Salae (http://www.saleae.com/logic/) to take a big (~10k pulse) sample of the pulses at a given width and measured the jitter by calculating the standard deviation of the widths of the sample set. It's possible that you could use your scope to hunt for similar issues, but you likely can't get a big enough sample at once for stdev calculations.</p>
			</div>
			<div id = "comment-4537" class = "comment">
				<p>If the motors have different speed for the same PWM signal input, that means to me they are not getting the same voltage... You say it works at low freqs, but is it really working, or you have this impression, because the speed being so low, that you don't see significant differences, whereas those differences are amplified at high freqs?</p>
			</div>
			</div>
				<textarea id = "speech-998" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-998">
					<img id="start_img-998" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-998">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1004"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1004" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While I do not know how to fix the root cause of the problem, a work around is to use closed-loop feedback.  If you can measure the speed of each wheel (for example, with encoders), you can use a PID-like algorithm to adjust the speeds of your wheels so the robot goes straight.</p>

<p>A compass or gyroscope would also be suitable for this task.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1004" data-toggle = "popover">
				<p>user name : apnorton</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-1004">{'control': 7, 'mobile-robot': 7, 'None': 19, 'arm': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1004">Load Comments</button></br>
			<div id = "commentsection-1004" class = 'collapse'>
			<div id = "comment-2360" class = "comment">
				<p>I'm already using a compass and PID for my spin back functions to get the robot in the right direction to the opponent goal. However your answer would work but I would need to solve out the problem rather just reduce the speeds until the robot goes straight. Thx</p>
			</div>
			<div id = "comment-2372" class = "comment">
				<p>@MiroMarkarian - The point is that if you have one PID loop per motor, it shouldn't matter that they respond differently because the PID loop will adjust the PWM output for each motor so that the encoder on the wheel tracks the desired speed & position.</p>
			</div>
			</div>
				<textarea id = "speech-1004" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1004">
					<img id="start_img-1004" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1004">Comment</button>
			<br><div id = "ans-3127"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3127" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Two issues on hardware,</p>

<p>a)  Chip takes time to turn on and off. Heating up more while in-between on and off. So, no point to use too high frequency. Generally, 10, 15 or 20KHz max, out of human ear range is enough. </p>

<p>See details (explain frequency effects with examples of 20 chips from many companies) (especially those items state ultrasonic frequency 20KHz) in<br>
<a href="http://www.pololu.com/category/11/brushed-dc-motor-drivers" rel="nofollow">http://www.pololu.com/category/11/brushed-dc-motor-drivers</a></p>

<p>b)  Motor coil has inductance. Too high frequency reduce current flow, low torque, low RPM.</p>

<p>Apparently, 0.5A per motor seems in normal range. Likely, at 6, 7.2 or 12 volts, a few watts to 10 watts per motor for fast robot motion. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3127" data-toggle = "popover">
				<p>user name : EEd</p>
				<p> user reputation : 359</p>
				<p class = "tagcontent" id = "usertaginfo-3127">{'None': 16, 'laser': 3, 'pid': 1, 'motor': 1, 'untagged': 0, 'pwm': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3127" class = 'collapse'>
			</div>
				<textarea id = "speech-3127" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3127">
					<img id="start_img-3127" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3127">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>