<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Motor Choice given size constraint and load requirement
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10060" class = "post">
			<h2>Question</h2>
			<div id="vote-10060" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 92</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Motor Choice given size constraint and load requirement</h2>
<p>Good day everyone :)</p>

<p>I am an undergraduate student working on a project involving the use of high torque small-sized DC motors for use in designing a person following trolley bag. Where in the problem is to use small sized motors but still maintain the usability and efficiency in carrying loaded luggages.</p>

<p>I have been looking for motors in local stores as well as in RS components as well as Element 14. However I am not sure if my choices are the right fit as I am at a loss on what specifications to look for when selecting a particular motor for this application. I have also tried to look for motors used in current products that can be used in my application such as todays electric skate boards but unfortunately have no luck on finding their suppliers.</p>

<blockquote>
  <p>Basically the question I would like to ask  is what specifications or calculations can I perform to select the proper motors given size constraints and weight carrying requirments. Or does anyone have suggestions on common motors that are already normally used for this application. My target maximum load capacity is 20kg.</p>
</blockquote>

<p>Thank you!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10060" data-toggle = "popover">
				<p>user name : lyrad</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-10060">{'gearing': 4, 'mobile-robot': 4, 'None': 1, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10060" class = 'collapse'>
			</div>
				<textarea id = "speech-10060" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10060">
					<img id="start_img-10060" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10060">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10065"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10065" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Approach 1: based on the total weight and how steep a slope you would expect it to climb, calculate the power required. (Basic physics)</p>

<p>Approach 2: draw a diagram of the wheel size you'd like to use, with an obstacle of a given height in front of it. Work out the angle the wheel has to "lever" itself up to get over the obstacle, and work out the motor torque needed from that.</p>

<p>Disclaimer: I didn't do either of the above - I just bought a few of <a href="http://www.robot-electronics.co.uk/products/drive-systems/motors-brackets-and-wheels/emg30-gearmotor-with-encoder.html" rel="nofollow">these (EMG30 motors)</a> which were fine for a five kilogram machine. Yours will be a lot heavier though so I think the more precise method would be recommended.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10065" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-10065">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10065" class = 'collapse'>
			</div>
				<textarea id = "speech-10065" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10065">
					<img id="start_img-10065" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10065">Comment</button>
			<br><div id = "ans-10067"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10067" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>20kg is a mass. It makes a force on Earth (20*9.81 = 196N), but that's not a torque. Motors make torque - what is your maximum torque specification?</p>

<p>Once you know how much torque you need (that will be based on the load, gearbox, wheel/pulley diameter, <em>friction and other losses</em>, etc.) then you can ballpark feasibility by evaluating your required <a href="https://en.wikipedia.org/wiki/Torque_density">torque density</a> - how much torque you need per unit of volume (as your two driving specs are torque and volume). </p>

<p>You'll have some nominal torque load, and a nominal operating speed - this should give you your average power, and then you can look at power density. Power densities should be easy-ish to find, but you may have to start doing the math to determine what an acceptable range of torque densities are. Note that a lot of sites mis-label specific torque (torque per weight) as torque density (torque per volume). </p>

<p>If you find that your torque and power densities are reasonable (within the band of products available on the market) then it's just a matter of shopping for the right one. </p>

<p>This is the kind of research that, as an engineer and former undergrad advisor, I would love to see as proof that the base design needs to be re-evaluated. Look at torque densities for a range of sizes - from large industrial motors to miniature units. I suspect you're not going to find a huge variation in torque per unit volume, and then you can say for sure that it is or is not possible to achieve your performance in a particular size.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10067" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10067">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10067" class = 'collapse'>
			</div>
				<textarea id = "speech-10067" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10067">
					<img id="start_img-10067" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10067">Comment</button>
			<br><div id = "ans-10068"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10068" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have some budget for your project, both <a href="http://www.maxonmotor.com/">Maxon</a> and <a href="https://fmcc.faulhaber.com/en/GLOBAL/">Faulhaber</a> have good DC motors and motor-gearhead combinations.</p>

<p>Maxon publishes a nice set of <a href="http://www.maxonmotor.com/medias/sys_master/root/8819755417630/maxon-Formelsammlung-e.pdf">formulas</a> and <a href="http://www.maxonmotor.com/medias/sys_master/8799044927518/Principles-and-Propertiees-of-high-dynamic-DC-Miniature-Motors.pdf">background theory</a> on electric motors.</p>

<p>When it comes to getting the maximum performance out of motors, thermal issues are the main factor. One starts asking questions like: What's the actual duty cycle for this application? Is the motor on 100% of the time or will there be time for it to cool down? How quickly can my system get rid of the heat?</p>

<p>Keep in mind that even though a lot of motors are specified relative to their design voltage, this is a flexable parameter. Even with a cheap motor you may be able to get higher performance with a combination of driving it with a higher voltage and monitoring it's temperature to make sure you don't overheat it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10068" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10068">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10068">Load Comments</button></br>
			<div id = "commentsection-10068" class = 'collapse'>
			<div id = "comment-17907" class = "comment">
				<p>Duty cycle and cooling are great to consider. There is a difference between peak and average output for exactly these reasons.</p>
			</div>
			</div>
				<textarea id = "speech-10068" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10068">
					<img id="start_img-10068" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10068">Comment</button>
			<br><div id = "ans-10173"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10173" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Thanks for the suggestions guys. I'll consider your suggestions and give an update once I have chosen a motor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10173" data-toggle = "popover">
				<p>user name : lyrad</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-10173">{'gearing': 4, 'mobile-robot': 4, 'None': 1, 'motor': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10173" class = 'collapse'>
			</div>
				<textarea id = "speech-10173" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10173">
					<img id="start_img-10173" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10173">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>