<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Mountain Lion Challenge - ask, answer, blog and win Apple products!
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1365" class = "post">
			<h2>Question</h2>
			<div id="vote-1365" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 836</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Mountain Lion Challenge - ask, answer, blog and win Apple products!</h2>
<p><strong>Congratulations to our winners!</strong></p>

<p>For asking a Nice Question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/25735/felix">Felix</a></li>
<li><a href="https://apple.stackexchange.com/users/2220/nathan-greenstein">Nathan Greenstein</a></li>
<li><a href="https://apple.stackexchange.com/users/8551/viktor">Viktor</a></li>
</ul>

<p>For asking a Popular Question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/7451/vivart">Vivart</a></li>
<li><a href="https://apple.stackexchange.com/users/6916/kmc">KMC</a></li>
<li><a href="https://apple.stackexchange.com/users/17423/dennis-madsen">Dennis Madsen</a></li>
</ul>

<p>For giving a Nice Answer:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/15562/scot">Scot</a></li>
<li><a href="https://apple.stackexchange.com/users/25826/meeee">meeee</a></li>
<li><a href="https://apple.stackexchange.com/users/8320/xalexownzx">XAleXOwnZX</a></li>
</ul>

<p>For being a Bounty Hunter:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/4408/mathias-bynens">Mathias Bynens</a></li>
<li><a href="https://apple.stackexchange.com/users/8331/eggyal">eggyal</a></li>
<li><a href="https://apple.stackexchange.com/users/5472/bmike">bmike</a></li>
</ul>

<p>For being a Blogger:</p>

<ul>
<li><a href="https://apple.stackexchange.com/users/9388/daniel-lawson">Daniel Lawson</a></li>
<li><a href="https://apple.stackexchange.com/users/9058/patrix">Patrix</a></li>
<li><a href="https://apple.stackexchange.com/users/9495/stuffe">Stuffe</a></li>
</ul>

<p>And the winner of our Grand Prize Challenge is... <a href="https://apple.stackexchange.com/users/1035/houbysoft">houbysoft</a>!</p>

<p>Thanks to everyone who participated, and I hope you enjoyed the contest. Winners will be contacted via email to arrange prize shipping.</p>

<hr>

<p><a href="http://www.apple.com/osx/" rel="nofollow noreferrer">Mountain Lion</a> is the next major iteration of Apple's OS, and it was officially released today. To celebrate, we are holding a contest with lots of chances to win Apple products, including a grand prize package worth upwards of $500!</p>

<p><img src="https://i.stack.imgur.com/KV7vj.png" alt="Apple Prizes"></p>

<p>To win, do as you always do! Ask and answer awesome questions about <a href="https://apple.stackexchange.com/questions/tagged/mountain-lion" class="post-tag" title="show questions tagged &#39;mountain-lion&#39;" rel="tag">mountain-lion</a>. There will also be an opportunity to win prizes by writing posts for the <a href="http://apple.blogoverflow.com/" rel="nofollow noreferrer">Ask Different Blog</a>. </p>

<p>For rules and more details, see the <a href="http://mountainlionchallenge.com/" rel="nofollow noreferrer">Mountain Lion Challenge</a> page.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1365" data-toggle = "popover">
				<p>user name : Lauren</p>
				<p> user reputation : 190</p>
				<p class = "tagcontent" id = "usertaginfo-1365">{'ipad': 28, 'None': 31, 'discussion': 56, 'status-completed': 12, 'twitter': 9, 'site-promotion': 40}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1365">Load Comments</button></br>
			<div id = "commentsection-1365" class = 'collapse'>
			<div id = "comment-2615" class = "comment">
				<p>The [List all new OS X Mountain Lion features](http://apple.stackexchange.com/questions/57349/please-share-new-features-which-you-have-discovered-in-os-x-mountain-lion) question seems like it'll game this contest hard, if [the previous iterations](http://apple.stackexchange.com/questions?sort=votes) are to judge. Could CW questions be excepted from this?</p>
			</div>
			<div id = "comment-2616" class = "comment">
				<p>I'm inclined to agree that CW should be excluded. It seems unfair to reward one person for something that's designed to be a community collaboration.</p>
			</div>
			<div id = "comment-2617" class = "comment">
				<p>I agree also. The poster of the CW question being discussed made similar comments in chat this morning; I don't suspect this policy would draw any complaints if we excluded CW.</p>
			</div>
			<div id = "comment-2618" class = "comment">
				<p>I also think that CW posts should be excluded. They distort the challenge.</p>
			</div>
			<div id = "comment-2619" class = "comment">
				<p>What is CW? Thanks.</p>
			</div>
			<div id = "comment-2620" class = "comment">
				<p>CW stands for Community Wiki.  The reason they would like it excluded is because the questions are usually vague, like: What are some great hidden features in Mountain Lion.  They usually get a huge amount of up votes and the answers in them get them too, see example: http://apple.stackexchange.com/q/82/24141 People would like them excluded because they aren't like the regular questions that people ask on here. And someone could win this contest easily with this kind of CW question.</p>
			</div>
			<div id = "comment-2622" class = "comment">
				<p>Good points. I'll think about how best to deal with this in the future. I don't want to go back and make people ineligible who have already completed the ML challenges, so I'm going to leave it in for this contest. Keep in mind that we are doing a raffle though - so while people may earn entries from a CW question, the huge amount of upvotes won't give them an unfair advantage (i.e., there's no advantage to going higher once you get 10 upvotes, or 1000 views, etc)</p>
			</div>
			<div id = "comment-2627" class = "comment">
				<p>@Lauren Do keep in mind that three of the four people who requested this policy are three of the four people who qualified for the drawing on the basis of that post.</p>
			</div>
			<div id = "comment-2672" class = "comment">
				<p>w00t :) congrats guys! :)</p>
			</div>
			<div id = "comment-2716" class = "comment">
				<p>So when i will get my gift?</p>
			</div>
			<div id = "comment-2718" class = "comment">
				<p>@Vivart if you haven't gotten it yet, please send me an email with your order information and full name.</p>
			</div>
			<div id = "comment-2745" class = "comment">
				<p>thanks @Lauren I got my prize.</p>
			</div>
			<div id = "comment-3774" class = "comment">
				<p>This question is closed since the relevant promotion is over and that code inactive.</p>
			</div>
			</div>
				<textarea id = "speech-1365" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1365">
					<img id="start_img-1365" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1365">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1366"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1366" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I favor to <strong>exclude CW posts from the mountainlionchallenge<sup>TM</sup></strong> as it distorts the results.</p>

<p>On Ask Different posts are made community wikis mostly because:</p>

<ul>
<li>multiple people worked on an answer but only one get's the votes</li>
<li>collect gems which Apple hides in their software</li>
</ul>

<p>Excluding CW posts will encourage communal editing to provide the best answers and hints without giving some people an unfair head start in the challenge.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1366" data-toggle = "popover">
				<p>user name : gentmatt</p>
				<p> user reputation : 32773</p>
				<p class = "tagcontent" id = "usertaginfo-1366">{'None': 37, 'discussion': 3, 'blog': 3, 'reputation': 0, 'status-bydesign': 0, 'bug': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1366">Load Comments</button></br>
			<div id = "commentsection-1366" class = 'collapse'>
			<div id = "comment-2623" class = "comment">
				<p>And, in point of fact, all the posts that have already qualified for the contest as of 24 hours after the announcement are related to one particular Community-Wiki question. A good case for excluding CW posts from the contest.</p>
			</div>
			<div id = "comment-2635" class = "comment">
				<p>I would support this as well since CW as it exists now is to allow people to ask "the obvious" and not have it skew reputation or points.</p>
			</div>
			</div>
				<textarea id = "speech-1366" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1366">
					<img id="start_img-1366" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1366">Comment</button>
			<br><div id = "ans-1367"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1367" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm writing a Blog Post (one that I always intended to write), and it's going to be more than 750 Characters - is this OK?  It's not massively over, it will be approaching a thousand words.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1367" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-1367">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1367">Load Comments</button></br>
			<div id = "commentsection-1367" class = 'collapse'>
			<div id = "comment-2621" class = "comment">
				<p>It should be fine. The upper limit is meant to dictate the kind of scope we're interested in rather than be a hard cutoff. Feel free to run your draft by us in the [blog chat room](http://chat.stackexchange.com/rooms/1408/ask-different-blog).</p>
			</div>
			<div id = "comment-2625" class = "comment">
				<p>Oh, and when I say 750 characters, I mean WORDS!</p>
			</div>
			<div id = "comment-2626" class = "comment">
				<p>Twitter has warped our thinking.</p>
			</div>
			</div>
				<textarea id = "speech-1367" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1367">
					<img id="start_img-1367" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1367">Comment</button>
			<br><div id = "ans-1370"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1370" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Thank you</strong> for making this entirely raffle-based. That, combined with the higher (10-score) bar for quality should produce better results than the last contest.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1370" data-toggle = "popover">
				<p>user name : jtbandes</p>
				<p> user reputation : 8925</p>
				<p class = "tagcontent" id = "usertaginfo-1370">{'status-reproduced': 6, 'None': 9, 'support': 4, 'data-explorer': 4, 'status-completed': 16, 'design': 22, 'feature-request': 92, 'graphics': 16, 'images': 19, 'editing': 76, 'bug': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1370" class = 'collapse'>
			</div>
				<textarea id = "speech-1370" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1370">
					<img id="start_img-1370" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1370">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>