<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>MPU-6050 + Arduino nano - Logic converter or not?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1697" class = "post">
			<h2>Question</h2>
			<div id="vote-1697" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 691</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>MPU-6050 + Arduino nano - Logic converter or not?</h2>
<p>I bought this MPU-6050: <a href="http://www.ebay.com/itm/MPU-6050-6DOF-3-Axis-Gyroscope-Accelerometer-Module-for-Arduino-DIY-/261231955458" rel="nofollow">link</a></p>

<p>According to the manufacture site, the sensor logic level is 3.3V (though the <em>ebay</em> page says <code>Power supply :3-5v</code>)</p>

<p>Should I use a 4 channel Bi-Directional Logic Level Converter (<a href="http://www.dash.co.il/image/cache/data/AD-757/ID757_LRG-500x500.jpg" rel="nofollow">like this one</a>) for the <code>SDA, SCL, INT</code> channels? or can I connect it directly to my arduino nano?</p>

<p>I saw some places that says I should use it with a logic level converter and some who say it's ok without it. (I guess it depends on the sensor board, so please take a look, link above)</p>

<p><strong>Current Setup:</strong></p>

<pre><code>SDA &lt;-&gt; LLC &lt;-&gt; A4
SCL &lt;-&gt; LLC &lt;-&gt; A5
INT &lt;-&gt; LLC &lt;-&gt; D2
VCC &lt;- LLC &lt;- 5V (arduino)
GND &lt;- LLC &lt;- GND (arduino)
</code></pre>

<p><em>I still don't have the parts so I can't test it, and I'm probably going to use <a href="http://www.i2cdevlib.com/devices/mpu6050" rel="nofollow">Jeff Rowberg library</a></em> to communicate with the sensor (I<sup>2</sup>C)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1697" data-toggle = "popover">
				<p>user name : Dan Barzilay</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-1697">{'quadcopter': 8, 'control': 1, 'None': 0, 'power': 1, 'arduino': 1, 'pid': 7, 'logic-control': 0, 'motor': 2, 'real-time': 6, 'sensors': 1, 'movement': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1697">Load Comments</button></br>
			<div id = "commentsection-1697" class = 'collapse'>
			<div id = "comment-3561" class = "comment">
				<p>This was [multi-posted to *electronics*](http://electronics.stackexchange.com/q/77780/3774).</p>
			</div>
			<div id = "comment-3562" class = "comment">
				<p>Please don't spam multiple sites with the same question Dan. With over 1500 reputation on Stack Overflow you should know that if a question needs to be on a different site it can be migrated there.</p>
			</div>
			</div>
				<textarea id = "speech-1697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1697">
					<img id="start_img-1697" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1697">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1704"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1704" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to the link you provided, you can use 5V or 3.3V directly on the sensor (it already have a voltage regulator). Since the arduino is able to send 3.3V or 5V you can use both of them directly without any level converter.
You can see on the video <a href="http://lukagabric.com/arduino-mpu6050/" rel="nofollow">here</a> that you don't need anything </p>

<p>I got a GY-80 with the same kind of features and I use it directly on my arduino nano without any level converter.
Their is also a whole arduino playground on how to use this sensor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1704" data-toggle = "popover">
				<p>user name : Malcolm</p>
				<p> user reputation : 393</p>
				<p class = "tagcontent" id = "usertaginfo-1704">{'communication': 1, 'None': 24, 'serial': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1704">Load Comments</button></br>
			<div id = "commentsection-1704" class = 'collapse'>
			<div id = "comment-3564" class = "comment">
				<p>I understand that you can directly connect the 5V from the arduino to the sensor, but what about the SCL and SDA? it specifically says that it operates at 3.3V.. (in the sesor specification)</p>
			</div>
			<div id = "comment-3566" class = "comment">
				<p>You got a pretty good answer to that question [Arduino forum](http://forum.arduino.cc/index.php?topic=180711.0;topicseen) explaining you why it will work without it.</p>
			</div>
			<div id = "comment-3572" class = "comment">
				<p>Ok, thanks, but the arduino nano doesn't have a 3.3V output with power from external source (which is what I plan to do). [from arduino.cc/en/Main/ArduinoBoardNano "when running on external (non-USB) power, the 3.3V output (which is supplied by the FTDI chip) is not available"]</p>
			</div>
			<div id = "comment-3584" class = "comment">
				<p>Actually, I just tried on my Arduino Nano and, when alimented by an external source, the 3.3V is still working and available. Probably, the Arduino website is talking about an old version of the board. You should just try it with your Arduino to see if the 3.3V is still available with power from an external source. But mine is still working for sure.</p>
			</div>
			</div>
				<textarea id = "speech-1704" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1704">
					<img id="start_img-1704" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1704">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>