<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Multiple PIDs in quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6510" class = "post">
			<h2>Question</h2>
			<div id="vote-6510" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 280</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Multiple PIDs in quadcopter</h2>
<p>I am wondering what the use is of two PID loops to control a quadcopter. One PID for stability control and another PID for rate control.</p>

<p>Why can't you just use one PID per axis to control a quadcopter where you take the current and desired angle as input and motor power as the output?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6510" data-toggle = "popover">
				<p>user name : user2233215</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-6510">{'quadcopter': 2, 'None': 0, 'pid': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6510" class = 'collapse'>
			</div>
				<textarea id = "speech-6510" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6510">
					<img id="start_img-6510" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6510">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6519"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6519" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not quite old in quadcopter, but from my understanding, you can, but it is quite annoying.</p>

<p>We set up the PID control loops as position control loop and speed control loop because these are two ways we want and we will control the quadcopter.
For example, I want my quadcopter rotate 3 rad/s in yaw then stop or fly 5 meters away in y axis then stop. So I just set the reference signal as 3 in speed control loop and 5 in position control loop. That is enough. </p>

<p>But if we want to do the same thing with PID control for every axis, you need to calculate how these three inputs are and when to change them in order to make quadcopter stop. That is not quite convenient.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6519" data-toggle = "popover">
				<p>user name : lanyusea</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-6519">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6519" class = 'collapse'>
			</div>
				<textarea id = "speech-6519" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6519">
					<img id="start_img-6519" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6519">Comment</button>
			<br><div id = "ans-6535"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6535" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Because it is an under-actuated system. You can not directly control the linear velocity with only one PID. To move in the 3D space you need to control the linear velocity.</p>

<p>So the first loop uses the angular velocity (or the attitude itself) as control inputs to control the linear velocity, while the second loop uses the torques or rpms of the fans (real commands) to achieve that angular velocity: backstepping-like effect. </p>

<p>Is this comment helpful?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6535" data-toggle = "popover">
				<p>user name : Courier</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-6535">{'None': 1, 'kinematics': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6535">Load Comments</button></br>
			<div id = "commentsection-6535" class = 'collapse'>
			<div id = "comment-9392" class = "comment">
				<p>That's not a comment, that's an answer. Mine is a comment.</p>
			</div>
			</div>
				<textarea id = "speech-6535" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6535">
					<img id="start_img-6535" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6535">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>