<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Multiple Tag Wiki Edit Screen Style Bugs
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-963" class = "post">
			<h2>Question</h2>
			<div id="vote-963" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Multiple Tag Wiki Edit Screen Style Bugs</h2>
<p>It seems that some old and new style bugs have cropped up with the various style changes that have occurred over the course of 2011.</p>

<p>Which is, well, all of them? :)</p>

<p>Let's take a look at the <a href="https://apple.stackexchange.com/edit-tag-wiki/1544">tag wiki editing page</a>:</p>

<p><img src="https://i.stack.imgur.com/CvnvZ.png" alt="Tag Wiki edit page screenshot"></p>

<ul>
<li><p>The contrast of all of the text directly on the page is too low, the color could stand to be darkened.</p></li>
<li><p>The text color of the full preview absolutely needs to be fixed.</p></li>
<li><p>Additionally, could the character counter text for the excerpt field have a little bit more room to breath?</p></li>
</ul>

			</div>
			<div id = "userinfo-963" style = "float:right">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p> user tag wise history : {'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-963" class = 'collapse'>
			</div>
				<textarea id = "speech-963" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-963">
					<img id="start_img-963" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-963">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2442"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2442" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So... nothing quite like a site design refresh 3+ years later to fix outstanding issues... :)</p>

<p><img src="https://i.stack.imgur.com/B1Uzv.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div id = "userinfo-2442" style = "float:right">
				<p>user name : Adam Lear</p>
				<p> user reputation : 101</p>
				<p> user tag wise history : {'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2442" class = 'collapse'>
			</div>
				<textarea id = "speech-2442" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2442">
					<img id="start_img-2442" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2442">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>