<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>My PID Controller in Java is not operating correctly
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6992" class = "post">
			<h2>Question</h2>
			<div id="vote-6992" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 821</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>My PID Controller in Java is not operating correctly</h2>
<p>I was looking for an implementation of a PID controller in Java and I found this one:</p>

<p><a href="https://code.google.com/p/frcteam443/source/browse/trunk/2010_Post_Season/Geisebot/src/freelancelibj/PIDController.java?r=17" rel="nofollow">https://code.google.com/p/frcteam443/source/browse/trunk/2010_Post_Season/Geisebot/src/freelancelibj/PIDController.java?r=17</a></p>

<p>So, for what I could understand about it I am using it this way:</p>

<pre><code>package lol.feedback;

public class dsfdsf {

    public static void main(String[] args) throws InterruptedException {
        final PIDController pidController = new PIDController(1, 1, 1);
        pidController.setInputRange(0, 200); // The input limits
        pidController.setOutputRange(50, 100); // The output limits
        pidController.setSetpoint(120); // My target value (PID should minimize the error between the input and this value)
        pidController.enable();
        double input = 0;
        double output = 0;
        while (true) {
            input = output + 30;
            pidController.getInput(input);
            output = pidController.performPID();
            System.out.println("Input: " + input + " | Output: " + output + " | Error: " + pidController.getError());

            Thread.sleep(1000);
        }
    }

}
</code></pre>

<p>But he never stabilizes. He doesn't behave like a PID at all... This is the output I get:</p>

<pre><code>Input: 30.0 | Output: 100.0 | Error: 90.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
Input: 80.0 | Output: 100.0 | Error: 40.0
Input: 130.0 | Output: 50.0 | Error: -10.0
</code></pre>

<p>Can someone help me tell me what I am missing?</p>

<p>Thank you!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6992" data-toggle = "popover">
				<p>user name : PedroD</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-6992">{'control': 1, 'None': 0, 'pid': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6992">Load Comments</button></br>
			<div id = "commentsection-6992" class = 'collapse'>
			<div id = "comment-9962" class = "comment">
				<p>Irrelevant side note: doing control in Java is not a very good idea. Ideally, control is done with a real-time system, where you can guarantee delays. With Java, you have unpredictable delays, in the very least from the garbage collector.</p>
			</div>
			<div id = "comment-9963" class = "comment">
				<p>For this particular situation, which is temperature control, where thermal delays are huge java is fine. But thanks for the suggestion :-)</p>
			</div>
			</div>
				<textarea id = "speech-6992" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6992">
					<img id="start_img-6992" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6992">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6995"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6995" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If a PID loop isn't properly "tuned" then it can result in oscillatory behavior similar to what you are seeing after the first few initial iterations. What I would try first is to change the input value only once (ie pull it out of the while loop) and then see what you get. Doing this would basically be applying what is called a Step input to your system to see how it responds. Since the input does not change after the initial "step", the resulting output over time allows you to easily determine if your tuning is damped, critically damped, or overdamped. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6995" data-toggle = "popover">
				<p>user name : Aaron Kracht</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-6995">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6995" class = 'collapse'>
			</div>
				<textarea id = "speech-6995" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6995">
					<img id="start_img-6995" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6995">Comment</button>
			<br><div id = "ans-6996"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6996" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have a few problems that I see.  The biggest problem is that your values for P, I, and D and too aggressive.  This is making the PID loop oscillate from hard stop to hard stop.</p>

<p>You generally want to take a cautious approach to tuning a PID loop.  Since PID control is feedback based, it is pretty easy to get a positive feedback loop which makes the system diverge.  My preferred approach to tuning is to start with tuning P leaving I and D at 0.0.  With the way your system is defined, a P value of 1.0 will try to remove all the error in a single time step.  I would start with a lower P value and increase it until the system responds quickly without much overshoot.  You might start with 0.1 and increase in small steps until you find something reasonable.  Note, that using the P value alone, you will always have some residual error.</p>

<p>After tuning the P value, I would move onto the I value.  The purpose of the I value is to reduce steady state error.  It does this by responding to the accumulation of error over time.  If the steady state error is acceptable, it is possible to not use the I term at all.  Because it is integrating the error over time, it is more powerful than the P value and you will need a smaller constant.  You might start with a value of 0.01 and try increasing it from there.  You should be able to remove the steady state error with just P and I.  Increasing the value of I will add momentum to your system and will tend to increase overshoot.  The implementation you are using calculates the integral error with a simple integration, so the value of I you need will depend on your update rate for an actual physical system.</p>

<p>After tuning P and I, then I would move onto D.  The purpose of the D term is to reduce overshoot.  It does this by predicting future reduction in error based on estimating the derivative of the error.  The derivative of the error can be a noisy estimate on some systems, so keep that in mind if you use D.  The value you need for D will depend on the values you are using for P and I.  The implementation you are using calculates the D term based on a simple difference, so the constant you need will also depend on your integration rate for an actual physical system.  Using some D might allow you to be more aggressive with your usage of P and I.</p>

<p>You have some other problems as well.  Your output range is pretty tight around the desired output.  Ideally your input would be 120 which implies your ideal output would be 90.  The value 90 is near the edge of your allowed output range of [50,100].  This is going to make it a bit more difficult on the PID controller.</p>

<p>The implementation you are using has a bug in the integral error integration.  Integral error has a problem that it can accumulate without bound over time in some situations.  This integral windup can cause very unintuitive outputs from PID systems.  For this reason, all practical PID systems limit the magnitude of the integral error.  The calculation used in the implementation only really works for outputs near 0 I think.</p>

<p>The implementation has:</p>

<pre><code>/* Integrate the errors as long as the upcoming integrator does
   not exceed the minimum and maximum output thresholds */
if (((m_totalError + m_error) * m_I &lt; m_maximumOutput) &amp;&amp;
    ((m_totalError + m_error) * m_I &gt; m_minimumOutput)) {
    m_totalError += m_error;
}
</code></pre>

<p>but I think this should be:</p>

<pre><code>/* Integrate the errors as long as the upcoming integrator does
   not exceed the minimum and maximum output thresholds */
/* What the output would be if integral error is updated */
double outputWithI = (m_P * m_error + m_I * (m_totalError + m_error) + m_D * (m_error - m_prevError));
if ((outputWithI &lt; m_maximumOutput) &amp;&amp;
    (outputWithI &gt; m_minimumOutput)) {
    m_totalError += m_error;
}
</code></pre>

<p>The problem with the original implementation is that if the integral term alone doesn't get the output into the correct range then the error isn't integrated.</p>

<p>A common alternative approach is to directly limit the magnitude of m_totalError and therefore the total contribution of the I term.  An implementation along these lines might look something like:</p>

<pre><code>m_totalError += m_error;
if (m_totalError &lt; -m_maxTotalErrorMagnitude) {
    m_totalError = -m_maxTotalErrorMagnitude;
} else if (m_totalError &gt; m_maxTotalErrorMagnitude) {
    m_totalError = m_maxTotalErrorMagnitude;
}
</code></pre>

<p>I'm more used to seeing this solution used, although I think either should work.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6996" data-toggle = "popover">
				<p>user name : DrRoboto</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-6996">{'None': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6996" class = 'collapse'>
			</div>
				<textarea id = "speech-6996" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6996">
					<img id="start_img-6996" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6996">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>