<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Nano sized electric motors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5224" class = "post">
			<h2>Question</h2>
			<div id="vote-5224" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 191</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Nano sized electric motors</h2>
<p>What is a good website for buying 1.5V continuous motors? I'm looking to build a clockwork robot but I cannot find a motor small enough to fit inside my power box and I don't want to mount it outside of the box. I have a 1" by .75" space that the motor needs to fit into. I have found a few websites but they look sketchy and none of them have good reviews.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5224" data-toggle = "popover">
				<p>user name : Apoc</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-5224">{'brushless-motor': 2, 'motion': 2, 'None': 0, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5224" class = 'collapse'>
			</div>
				<textarea id = "speech-5224" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5224">
					<img id="start_img-5224" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5224">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5225"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5225" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Pager motors</strong> will most likely do the trick. You can find some on <a href="http://www.robotshop.com/en/solarbotics-tiny-pager-motor-tpm2.html" rel="nofollow noreferrer">Robotshop</a> for example, with correct specs. This one is manufactured by <a href="https://solarbotics.com/" rel="nofollow noreferrer">Solarbotics</a>.</p>

<p><img src="https://i.stack.imgur.com/2U6LF.jpg" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5225" data-toggle = "popover">
				<p>user name : Alexandre Willame</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-5225">{'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5225">Load Comments</button></br>
			<div id = "commentsection-5225" class = 'collapse'>
			<div id = "comment-8009" class = "comment">
				<p>It's torque will be reduced as compared to its nominal voltage, but yes it can still turn at 1.5V.</p>
			</div>
			</div>
				<textarea id = "speech-5225" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5225">
					<img id="start_img-5225" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5225">Comment</button>
			<br><div id = "ans-5258"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5258" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Maxon motors are quality motors for industrial automation, their catalog is here - <a href="http://www.maxonmotor.com/maxon/view/catalog/" rel="nofollow">http://www.maxonmotor.com/maxon/view/catalog/</a> </p>

<p>The 320173 fits in your dimensions ( assuming the 0.75" is diameter ) and is nominally 1.8V. New ones are around a hundred times more expensive than the cheap pager motors, but rated at 2W rather than 50mW.</p>

<p>You can get Maxon motors second hand on ebay (the ones I got were for N-gauge model locomotives- they were 12mm diameter x 19mm 12V 1.2W - the 118429 but with a easily removed gearbox on ebay as 139885 ), though you're probably better sizing the machine around the motor you can afford rather than trying to get a particular model.</p>

<p>Though I'm not sure why a clockwork robot needs an electric motor - surely it would be an electric robot! </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5258" data-toggle = "popover">
				<p>user name : Pete Kirkham</p>
				<p> user reputation : 357</p>
				<p class = "tagcontent" id = "usertaginfo-5258">{'None': 19}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5258" class = 'collapse'>
			</div>
				<textarea id = "speech-5258" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5258">
					<img id="start_img-5258" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5258">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>