<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Nao doesn't talk in ROS
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11628" class = "post">
			<h2>Question</h2>
			<div id="vote-11628" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 34</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Nao doesn't talk in ROS</h2>
<p>I started to use ROS and NAO. I want to make NAO say "hello world" using the command:</p>

<pre><code>rostopic pub "/speech" std_msgs/String "Hello World".
</code></pre>

<p>and I get this: </p>

<pre><code>publishing and latching message. Press ctrl-C to terminate 
</code></pre>

<p>But nao doesn't speek (it blocks at that output and I have to press ctrl-C to stop it).</p>

<p>Can anyone help me please? What could be the problem?</p>

<p>Further information: I find the topic <code>/speech</code> and with the command <code>rostopic echo /speech</code>, I get: </p>

<pre><code>data: Walker online
---
data: Hello World
---
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-11628" data-toggle = "popover">
				<p>user name : J.butterfly</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-11628">{'None': 0, 'ros': 2, 'gazebo': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11628">Load Comments</button></br>
			<div id = "commentsection-11628" class = 'collapse'>
			<div id = "comment-20818" class = "comment">
				<p>Please provide more information regarding what you have tried, and it would be helpful if you can give more output by following some debugging steps. Check whether there is a topic called `/speech` using command `rostopic list`. If there is then you can see the output using `rostopic echo /speech`, see if you are getting any output when you execute this command. 

**Tip** : You can also include the frequency of publication in `rostopic pub` command.</p>
			</div>
			<div id = "comment-20819" class = "comment">
				<p>yes there is a topic called /speech with rostopic list, and with rostopic echo /speech: i get 
data: Walker online
---
data: Hello World
---</p>
			</div>
			<div id = "comment-20820" class = "comment">
				<p>i edited the question</p>
			</div>
			</div>
				<textarea id = "speech-11628" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11628">
					<img id="start_img-11628" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11628">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>