<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Natural frequency computation (for PID gains computations)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4360" class = "post">
			<h2>Question</h2>
			<div id="vote-4360" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 452</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Natural frequency computation (for PID gains computations)</h2>
<p>I am currently trying to parametrize the low-level gains of a robotic arm. This arm uses a classical PID for each joint.</p>

<p>I am trying to use a method based on computation rather than a trial-and-error/tweaking approach. The method I use considers each joint independently and assumes the system driven by the PID is linear. Hence I infer a transfer function, a characteristic polynomial, poles and this gives me gains $K_p$, $K_i$, and $K_d$ for each joint.</p>

<p>Now, computed as I did, these gains depend on the natural angular-frequency. For example:
$$
K_p = 3 a w^2
$$
where $a$ is the inertia and $w$ is the natural angular-frequency.</p>

<p>Hence my question: <strong>how shall I compute $w$, the natural angular-frequency for my system</strong>? Is this an enormous computation involving the geometry and other complex characteristics of the robot, and that only a computer can do or are there simple assumptions to be made which can already give a rough result for $w$?</p>

<p>I guess this is a complex computation and this is one of the reasons why PID gains are most often found by trial-and-error rather than from computation. Though I am looking for some more details on the subject to help me understand what is possible and what is not.</p>

<p>Kind regards,</p>

<p>Antoine</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4360" data-toggle = "popover">
				<p>user name : arennuit</p>
				<p> user reputation : 170</p>
				<p class = "tagcontent" id = "usertaginfo-4360">{'control': 20, 'servomotor': 6, 'None': 0, 'errors': 3, 'motor': 14, 'communication': 10, 'pid': 4, 'brushless-motor': 5, 'design': 9, 'robotic-arm': 4, 'dynamics': 3, 'servos': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4360" class = 'collapse'>
			</div>
				<textarea id = "speech-4360" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4360">
					<img id="start_img-4360" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4360">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4361"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4361" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For a rough calculation of natural frequency, you could create an <a href="http://en.wikipedia.org/wiki/Bode_plot" rel="nofollow">bode plot</a>. </p>

<p>Starting at low frequencies, command a sin wave and measure the amplitude of the output motion (which will be a phase-shifted sin wave). Plotting the output amplitude on a log-scale, if you're lucky the response will be flat for a while, turn relatively quickly, and then start decaying in a straight line (again, make sure it is a log-log plot). If you extend the 2 asymptotic lines, the early horizontal and the later decaying, the point at which they intersect is the natural frequency.</p>

<p>That said, I am doubtful that you will get a good result. </p>

<ul>
<li>First, it assumes a second order linear system which is sometimes a good approximation and sometimes not. </li>
<li>Second, it can sometimes be hard and sometimes dangerous to measure the response especially at higher frequencies. </li>
<li>Lastly, mathematical tuning techniques like these only work well for simple, isolated systems. A robotic arm is anything but: movement at the wrist joint significantly affects the elbow joint creating a complex coupling. At best, the mathematical tuning will give you a starting point from which you will need to manually tune.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4361" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-4361">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4361">Load Comments</button></br>
			<div id = "commentsection-4361" class = 'collapse'>
			<div id = "comment-6930" class = "comment">
				<p>This is a clear answer, thanks Ryan.</p>
			</div>
			</div>
				<textarea id = "speech-4361" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4361">
					<img id="start_img-4361" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4361">Comment</button>
			<br><div id = "ans-5239"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5239" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Rough estimates of the resonant angular frequency $\hat{\omega}_i$ for joint $i$ can be always guessed from the current configuration of the manipulator.</p>

<p>Let focus on joint $i$ and consider all downstream joints $\left \{j:i&lt;j \le n \right \}$, where $n$ is the number of DOFs of manipulator. Put the angular positions $\theta_j$ of these latter joints in such a way to determine somehow a worst case estimate (see below) of <em>moment of inertia</em> $\hat{I}_i^{\text{max}}$ computed with respect to joint $i$; that is:</p>

<p>$$
\hat{I}_i^{\text{max}}= \max_{\mathbf{\theta} \in \mathbb{R}^{n-i}} I_i(\mathbf{\theta}).
$$</p>

<p>Then, by neglecting the internal dynamics and friction components:
$$
\hat{\omega}_i=\sqrt\frac{\hat{k}_i}{\hat{I}_i^{\text{max}}},
$$</p>

<p>where $\hat{k}_i$ represents an estimate of the stiffness of the downstream structure. See this <a href="http://en.wikipedia.org/wiki/Torsion_spring#Torsional_harmonic_oscillators" rel="nofollow">link</a> for further details.
Here, $\hat{I}_i^{\text{max}}$ can be retrieved through simple geometrical inspections, and also by resorting to tools such as the <a href="http://en.wikipedia.org/wiki/Parallel_axis_theorem" rel="nofollow">Huygens Steiner theorem</a>.</p>

<p>Importantly, since it comes out that $\hat{\omega}_i$ is inversely proportional to $\hat{I}_i^{1/2}$, we then try to maximize $\hat{I}_i$ in order to account for the worst impact (i.e. lower $\hat{\omega}_i$) on the control design.</p>

<p>Of course, the validity of such an approach remains limited, but yet worth being pursued, particularly considering that you're not forced to experiment on the real manipulator to get the Bode plot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5239" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-5239">{'None': 99}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5239" class = 'collapse'>
			</div>
				<textarea id = "speech-5239" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5239">
					<img id="start_img-5239" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5239">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>