<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Nearest-neighbor data structure for non-Euclidean configuration space
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5" class = "post">
			<h2>Question</h2>
			<div id="vote-5" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 453</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Nearest-neighbor data structure for non-Euclidean configuration space</h2>
<p>I'm trying to implement a nearest-neighbor structure for use in an RRT motion planner. In order to do better than a linear brute-force nearest-neighbor search, I'd like to implement something like a kd-tree. However, it seems like the classical implementation of the kd-tree assumes that each dimension of the space can be split into "left" and "right". This notion doesn't seem to apply to non-Euclidean spaces like SO(2), for instance.</p>

<p>I'm working with a serial manipulator arm with fully rotational links, meaning that each dimension of the robot's configuration space is SO(2), and therefore non-Euclidean. Can the kd-tree algorithm be modified to handle these kinds of subspaces? If not, is there another nearest-neighbor structure that can handle these non-Euclidean subspaces while still being easy to update and query? I also took a look at <a href="http://www.cs.ubc.ca/~mariusm/index.php/FLANN/FLANN">FLANN</a>, but it wasn't clear to me from their documentation whether they can handle non-Euclidean subspaces.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5" data-toggle = "popover">
				<p>user name : giogadi</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5">{'None': 20, 'motion-planning': 24, 'rrt': 24, 'theory': 11, 'algorithm': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5">Load Comments</button></br>
			<div id = "commentsection-5" class = 'collapse'>
			<div id = "comment-10" class = "comment">
				<p>By the way, approximate nearest-neighbors is fine too (even preferred, if the speedup is considerable)</p>
			</div>
			<div id = "comment-52" class = "comment">
				<p>While you have accepted an excellent answer, it is usually a good idea to wait a few days before accepting an answer so that you don't discourage further answers which might provide other options.</p>
			</div>
			<div id = "comment-53" class = "comment">
				<p>Thanks Mark, I was actually uncertain about how long to wait before accepting the answer.</p>
			</div>
			</div>
				<textarea id = "speech-5" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5">
					<img id="start_img-5" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are correct that kd-trees typically only work in small, Euclidean metric spaces. But, there is lots of work for general nearest neighbor applications in metric spaces (anywhere you can define a distance function essentially).</p>

<p>The classic work is on <a href="http://en.wikipedia.org/wiki/Ball_tree">ball trees</a>, which then were generalized to <a href="http://en.wikipedia.org/wiki/Metric_tree">metric trees</a>.</p>

<p>There is some newer work called <a href="http://hunch.net/~jl/projects/cover_tree/cover_tree.html">cover trees</a> which even has GPL'ed code. I have wanted to look into the performance characteristics between these trees and kd-trees for more than two years now.</p>

<p>Hopefully, that fits your application. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12" data-toggle = "popover">
				<p>user name : Chris Mansley</p>
				<p> user reputation : 464</p>
				<p class = "tagcontent" id = "usertaginfo-12">{'odometry': 15, 'None': 24, 'kalman-filter': 15, 'localization': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12">Load Comments</button></br>
			<div id = "commentsection-12" class = 'collapse'>
			<div id = "comment-55" class = "comment">
				<p>Sorry to unaccept; just following another commenter's advice to give this question a few more days to "stew". I really found your answer helpful, though!</p>
			</div>
			<div id = "comment-62" class = "comment">
				<p>Booo. Just kidding. I am just happy that you found this helpful.</p>
			</div>
			</div>
				<textarea id = "speech-12" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12">
					<img id="start_img-12" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12">Comment</button>
			<br><div id = "ans-12779"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12779" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A simple option for approximate neighbor search in non-euclidean spaces is using $sqrt(N)$ samples in the search. This has been implemented in OMPL, see <a href="http://ompl.kavrakilab.org/classompl_1_1NearestNeighborsSqrtApprox.html" rel="nofollow noreferrer"><code>ompl::NearestNeighborsSqrtApprox&lt; _T &gt;</code> Class Template Reference</a>.</p>

<p>This reduces complexity to $O(sqrt(N))$.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12779" data-toggle = "popover">
				<p>user name : Anand</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-12779">{'None': 1, 'rrt': 0, 'wheeled-robot': 0, 'path-planning': 0, 'motion-planning': 0, 'steering': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12779" class = 'collapse'>
			</div>
				<textarea id = "speech-12779" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12779">
					<img id="start_img-12779" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12779">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>