<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need help regarding odometry using Encoder motor and raspberry pi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10377" class = "post">
			<h2>Question</h2>
			<div id="vote-10377" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 173</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need help regarding odometry using Encoder motor and raspberry pi</h2>
<p>I am doing project on odometry using raspberry pi. I know that encoder motor will tell me how much distance my robot has covered, but I have no idea ho to implement completely. I just need guideline about which steps to follow. Till now I have interfaced motor with raspberry pi and counted the number of rotation. I have questions as follow?</p>

<p>How to plot map of odometry using which language and library?</p>

<p>If you know anything, just give me guideline about steps to follow.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10377" data-toggle = "popover">
				<p>user name : rushank27</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10377">{'odometry': 0, 'None': 0, 'raspberry-pi': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10377">Load Comments</button></br>
			<div id = "commentsection-10377" class = 'collapse'>
			<div id = "comment-18635" class = "comment">
				<p>Welcome! Please only ask one question. I edited your post and removed the second part about ros. You can ask about that in a separate question. Still, your question is somewhat unclear as you did not describe your robot at all, which makes it impossible to answer. Please [edit] your question and add that information. Thanks.</p>
			</div>
			<div id = "comment-18649" class = "comment">
				<p>Are you using a 2-motor differential drive robot, or one with some sort of car steering mechanism?</p>
			</div>
			</div>
				<textarea id = "speech-10377" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10377">
					<img id="start_img-10377" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10377">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10380"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10380" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could maybe use Matlab to plot the position of your vehicle? This is how I'm trying to do that:
I have a 'logging'-program running on the Raspberry Pi that counts each sampling time the pulses from the encoders. This I log in a file. This file I upload in Matlab to calculate X and Y coordinate and the angle under which the vehicle is standing, assuming the vehicle starts at coordinate (0,0) and angle 0 .
These are the formula's I use. With 'triangle'-r and 'triangle'-l I mean the distance traveled by left and right wheel (can be calculated using pulses in log file and diameter of the wheel). Distance '2L' is the distance between the 2 wheels.</p>

<p><a href="https://i.stack.imgur.com/jwMNG.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/jwMNG.jpg" alt="enter image description here"></a></p>

<p>I wrote a <a href="http://nl.mathworks.com/discovery/matlab-gui.html" rel="nofollow noreferrer">matlab GUI</a> in which I can browse a data file (from the Pi), calculates the X and Y position every sampling period and plot this is an XY graph. </p>

<p>Ps: you didn't mention it, but I suppose you have a differential drive vehicle?!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10380" data-toggle = "popover">
				<p>user name : Eva</p>
				<p> user reputation : 60</p>
				<p class = "tagcontent" id = "usertaginfo-10380">{'odometry': 5, 'None': 2, 'noise': 1, 'sensor-fusion': 5, 'wheeled-robot': 1, 'differential-drive': 0, 'imu': 5, 'kalman-filter': 6, 'gps': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10380">Load Comments</button></br>
			<div id = "commentsection-10380" class = 'collapse'>
			<div id = "comment-18636" class = "comment">
				<p>Please note that you can insert mathematical formulas into your post with mathjax. This has the advantage that it can be edited more easily than an image. For example `$$\Theta_{k+1} = \Theta_{k} + \omega$$` gives $$\Theta_{k+1} = \Theta_{k} + \omega$$. You can also right click on any formula to see the code (Tex commands) that were used to create it. As this is close to Latex, it's a handy skill to have.</p>
			</div>
			</div>
				<textarea id = "speech-10380" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10380">
					<img id="start_img-10380" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10380">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>