<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need a mobile robot simulator that provides easier odometry funtions
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8294" class = "post">
			<h2>Question</h2>
			<div id="vote-8294" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 109</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need a mobile robot simulator that provides easier odometry funtions</h2>
<p>I want a mobile robot to go from a starting position to a goal position. But, I don't want to calculate the pose from encoders. Instead I want to know if there exist such a simulator that provides pose function that makes the work easier, like go_to(x_coordinate, y_coordinate). That means, the robot will automatically calculate its current position and leads itself to the goal position. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8294" data-toggle = "popover">
				<p>user name : Nafees</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-8294">{'mobile-robot': 0, 'None': 0, 'simulation': 0, 'odometry': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8294">Load Comments</button></br>
			<div id = "commentsection-8294" class = 'collapse'>
			<div id = "comment-13284" class = "comment">
				<p>If the robot is automatically calculating the odometry, and the environment is simulated, which part are you developing?</p>
			</div>
			<div id = "comment-13285" class = "comment">
				<p>Please provide more information.  What else do you want / need the simulator to do?  Are you simulating a theoretical perfect robot or do you want wheel slip, 2D or 3D, can it be a simulated version of a common off-the-shelf robot like Khepera or a Pioneer 3-DX or must it by your own robot, what OS will it run on?</p>
			</div>
			<div id = "comment-13293" class = "comment">
				<p>Thank you for your quick response. I am a newbie in this field. I am working on path planning algorithm for mobile robot. For my research, 2D simulation is acceptable. First, I started with Khepera robot using Kiks simulator. I have subdivided my work to small pieces. First job is, I want my robot go from starting position to goal position where no obstacles will be involved. But, when i started with kiks simulator, all i get is encoder values. But, it will be lot easier if i could work with Cartesian(x,y) coordinates. I want such simulator that has large library for odometric calculation.</p>
			</div>
			</div>
				<textarea id = "speech-8294" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8294">
					<img id="start_img-8294" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8294">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8301"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8301" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://stackoverflow.com/questions/2533321/robotics-simulator/2556393">This closed StackOverflow question</a> has a long list of simulators and some discussion on them.  Some are simple and 2D only, some are 3D and include rigid body physics simulation. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8301" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8301">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8301">Load Comments</button></br>
			<div id = "commentsection-8301" class = 'collapse'>
			<div id = "comment-13388" class = "comment">
				<p>I have installed Player/Stage and this is cool for my research. Thanks a lot.</p>
			</div>
			</div>
				<textarea id = "speech-8301" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8301">
					<img id="start_img-8301" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8301">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>