<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need suggestion about which microcontroller~processor and language to be used in my project
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7175" class = "post">
			<h2>Question</h2>
			<div id="vote-7175" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 213</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need suggestion about which microcontroller~processor and language to be used in my project</h2>
<p>I am very new to robotics. but I will be writing algorithm for my robot to move around and gather information from its surroundings and process it. It will also process audio-visual signals. but I am in confusion about which micro-controller to use so it would be performance efficient and consumes less power.</p>

<p>The controller should also be capable of communication with wireless network (internet through wi-fi) and should also support memory integration.</p>

<p>Also I know to program in Java and C. please suggest which would be the best language to use for programming.</p>

<p>Thanks.</p>

<p>P.S. I would really like to use a microprocessor as it is highly customizable. Please suggest the best to use</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7175" data-toggle = "popover">
				<p>user name : rehan</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-7175">{'None': 0, 'artificial-intelligence': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7175" class = 'collapse'>
			</div>
				<textarea id = "speech-7175" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7175">
					<img id="start_img-7175" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7175">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7192"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7192" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you are the perfect candidate for the <a href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b/" rel="nofollow">Raspberry PI!</a> It is an awesome microcomputer that can do plenty of things, has a great community of support and tons of add on boards that can do everything you might need including <a href="http://www.adafruit.com/product/2348" rel="nofollow">driving motors for a robot</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7192" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7192">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7192" class = 'collapse'>
			</div>
				<textarea id = "speech-7192" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7192">
					<img id="start_img-7192" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7192">Comment</button>
			<br><div id = "ans-7208"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7208" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Raspberry Pi 2 will give you lot of options to play with in robotics field, ardunio would be nice addon with it. Another nice option would be ODROID , you can setup it up with ROS. 
Now regarding the language, C would be good.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7208" data-toggle = "popover">
				<p>user name : shruti</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-7208">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7208" class = 'collapse'>
			</div>
				<textarea id = "speech-7208" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7208">
					<img id="start_img-7208" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7208">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>