<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need help modelling and coding a feedback scenario
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10657" class = "post">
			<h2>Question</h2>
			<div id="vote-10657" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 142</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need help modelling and coding a feedback scenario</h2>
<p><a href="https://i.stack.imgur.com/4asV7.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4asV7.png" alt="enter image description here"></a>
Above illustration is the basic setup for the question. The scenario will be the following:</p>

<blockquote>
  <p>A potentiometer(providing 0 to 5V) is an analog input to A0. This
  potentiometer voltage is converted to PWM(pin9) which controls a fan
  M1. Which means the human controls directly the M1 fan speed.</p>
  
  <p>This directly speed-controlled M1 fan creates air pressure on a sensor
  Sen1.</p>
  
  <p>On the other hand I want M2 fan to reach to a speed(via pin10 PWM)
  such that Sen2 should output the same voltage as Sen1. Which means
  eventually voltage at A1 analog input should be equal to A2. So one
  can achieve same air pressures at Sen1 and Sen2.</p>
</blockquote>

<p>I'm not experienced in PID or other type of controls. I would be glad if someone can help me to relate parameters and code this scenario. I was suggested to ask here instead of Arduino stack-exchange.</p>

<p>edit: Do you think I can use the following <a href="https://johnwilliamrussell.wordpress.com/2014/09/21/pid-control-of-a-led/" rel="nofollow noreferrer">idea</a>.  If I make changes as following: PWM to LED in that example will be PWM to M2 in mycase; poti input in the example will be Sen1 input in mycase. And LDR input in the example will be Sen2 input in mycase. Do you think it is worth to try?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10657" data-toggle = "popover">
				<p>user name : user16307</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-10657">{'None': 0, 'pid': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10657">Load Comments</button></br>
			<div id = "commentsection-10657" class = 'collapse'>
			<div id = "comment-19173" class = "comment">
				<p>Are those sensors independent? Can the air streams of M1 and M2 only reach their respective sensors or both of them?</p>
			</div>
			<div id = "comment-19174" class = "comment">
				<p>They are not that far away.The flow of M1 might affect M2's flow a bit. I want the output voltage of sensor 2 to follow sensor 1's.</p>
			</div>
			<div id = "comment-19175" class = "comment">
				<p>Do you think I can use the following idea: https://johnwilliamrussell.wordpress.com/2014/09/21/pid-control-of-a-led/ 
If I make changes as following: PWM to LED in that example will be PWM to M2 in mycase; poti input in the example  will be Sen1 input in mycase. And LDR input in the example will be Sen2 input in mycase. Do you think it is worth to try?</p>
			</div>
			<div id = "comment-19176" class = "comment">
				<p>Please [edit] your question and include the information you obtained from your additional research.</p>
			</div>
			<div id = "comment-19177" class = "comment">
				<p>just edited the question</p>
			</div>
			</div>
				<textarea id = "speech-10657" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10657">
					<img id="start_img-10657" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10657">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10733"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10733" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure I understand why you're taking such a long "around the block to cross the street" approach to this problem. Your basic steps are:</p>

<blockquote>
  <p><strong>1.</strong>  [The human controls directly the] potentiometer voltage [which] is converted to PWM... which controls a fan M1.</p>
  
  <p><strong>2.</strong>  This directly speed-controlled M1 fan creates air pressure on a sensor Sen1.</p>
  
  <p><strong>3.</strong>  [The] M2 fan [should] reach to a speed(via pin10 PWM) such that Sen2 should output the same voltage as Sen1.</p>
  
  <p><strong>4.</strong>  Which means eventually voltage at A1 analog input should be equal to A2.</p>
  
  <p><strong>5.</strong>  So one can achieve same air pressures at Sen1 and Sen2.</p>
</blockquote>

<p>If, per step 4 above, you think the analog input voltages should be the same, then why not just feed the human-reference input provided at step 1 to both fans? </p>

<p>Another way to think critically about this problem is to recognize that I, personally, have no idea what voltage is required to get a fan to achieve a particular air pressure. That is, maybe <em>you</em> as the designer should choose some maximum allowable air pressure (perhaps dictated by the capacity of the fan), and then have the human's reference be interpreted as a desired <em>air pressure</em> instead of a desired <em>fan voltage</em>.</p>

<p>Then, the desired air pressure is the reference, the actual air pressure is the feedback, and you use the error between the two to create your PID loop. </p>

<p>This is basically what you're talking about for fan two, where you have fan two setup in a "follower" mode. </p>

<p>The problem I would see with the approach you've requested is in your statement in the comments:</p>

<blockquote>
  <p>The flow of M1 might affect M2's flow a bit.</p>
</blockquote>

<p>I'm assuming that this implies that M2's flow might also affect M1's. So imagine this:</p>

<ol>
<li>M1 is running at 50%. </li>
<li>M2 is not running. </li>
<li>M2 gets M1's 50% flow as a reference. </li>
<li>M2 spins up, but a portion of its flow is sensed by M1's sensor, Sen1. </li>
<li>M1's flow sensor now reads 50% + X%. </li>
<li>M2 gets M1's 50% + X% flow as a reference. </li>
<li>M2 spins a little faster, but a portion of its flow is sensed by M1's sensor, Sen1. </li>
<li>Repeat 5-7 until M2 is spinning at full speed or the system naturally stabilizes <em>at some value higher than probably intended</em>. </li>
</ol>

<p>If you have both PID loops (for M1 and M2) tuned to the same response time, then there is a high probability that they'll wind up "fighting" each other - both fans spin up at the same time, overshoot, trigger each other to slow down, and you may find that neither fan ever settles at the desired setpoint. </p>

<p>The two approaches I would take to inhibit this kind of behavior would be to intentionally tune one loop slower than the other. The slower system acts as a "base load" supplier, the faster loop responds to disturbances. This also assumes there's some moderate cross-flow between the two systems. </p>

<p>The other way you could try to do this is to have one control loop, where the output signal is sent to both fans (instead of being tailored on a per-fan basis) and maybe the output signal (Sen1 and Sen2) is averaged to produce one feedback. </p>

<p>I'm not sure what the application here is so I can't provide any meaningful advice beyond what I've posted above. You could consider ducting or physically relocating the fans to prevent cross-flow between M1 and M2.</p>

<p>I'll say that steps 4 and 5 above are generally conflicting - due to variations in motor and sensor construction, impedances, etc., you will probably find that voltages A1 and A2 are <strong>not</strong> equal when the outputs of Sen1 and Sen2 are equal, and vice-versa.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10733" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10733">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10733" class = 'collapse'>
			</div>
				<textarea id = "speech-10733" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10733">
					<img id="start_img-10733" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10733">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>