<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need the uav to perform a circle turn
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8877" class = "post">
			<h2>Question</h2>
			<div id="vote-8877" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need the uav to perform a circle turn</h2>
<p>I've got a project that will require my drone to perform a circle turn while the drone is always facing the tangent of the turning curve. Similiar to a car that is performing a frictionless banked turn. 
Just wondering which method should i use to achieve it, the throttle control can be ignored since i already have a pid on height control.</p>

<p>Any suggestions would be appreciated. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8877" data-toggle = "popover">
				<p>user name : libra</p>
				<p> user reputation : 122</p>
				<p class = "tagcontent" id = "usertaginfo-8877">{'quadcopter': 1, 'None': 0, 'multi-rotor': 0, 'pid': 1, 'coverage': 2, 'mobile-robot': 2, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8877">Load Comments</button></br>
			<div id = "commentsection-8877" class = 'collapse'>
			<div id = "comment-14624" class = "comment">
				<p>Are you sure you want to achieve a target acceleration and not a target velocity? As per your description, if you let go of the sticks, the quadrotor will maintain constant speed. Is that what you want?</p>
			</div>
			<div id = "comment-14625" class = "comment">
				<p>Yes exactly, i need a it to make a circle turn, and the horizontal acceleration is used to encounter centripetal force</p>
			</div>
			<div id = "comment-14626" class = "comment">
				<p>I have never heard of a quadcopter controller following a circle this way. Anyway, it might be more complicated than you think, since in order to increase lateral acceleration you may need to increase both bank angle and thrust. Best of luck!</p>
			</div>
			<div id = "comment-14627" class = "comment">
				<p>Huh how would you finish a circle with the drone always facing to the tangent of the curve then?</p>
			</div>
			<div id = "comment-14628" class = "comment">
				<p>I You could look at the ArduCopter code. I think the way they do it (and I have done so as well in another project) is to build a potential field tangent to your desired circle and use it for reference orientation. There is an algorithm for a plane here: Beard, R., & McLain, T. (2012). Small unmanned aircraft: Theory and practice</p>
			</div>
			<div id = "comment-14629" class = "comment">
				<p>Thank you!, i just bought the book on google! Could you briefly tell me which chapter it is? Im really new to this control stuff~</p>
			</div>
			<div id = "comment-14630" class = "comment">
				<p>Chapter 10.2. Perhaps you could now re-phrase your  question so that we can wrap it up there?</p>
			</div>
			<div id = "comment-14632" class = "comment">
				<p>Thank you! Not good at english so i didnt quite sure if i did what you mentioned, i rephrase the question so it sounds more legit.</p>
			</div>
			<div id = "comment-14635" class = "comment">
				<p>Just what you did, change the question with the new content from the comments. I'll submit a proper answer and afterwards a moderator can delete the extra comments, if they please.</p>
			</div>
			</div>
				<textarea id = "speech-8877" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8877">
					<img id="start_img-8877" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8877">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8885"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8885" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A possible approach would be to construct a virtual potential field, which is tangent to your desired circle and use it for reference (target) orientation (yaw angle).</p>

<p>There is an algorithm for a plane here: Beard, R., &amp; McLain, T. (2012). Small unmanned aircraft: Theory and practice, Ch. 10.2</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8885" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8885">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8885" class = 'collapse'>
			</div>
				<textarea id = "speech-8885" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8885">
					<img id="start_img-8885" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8885">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>