<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need an idea: automated sim card switcher
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8322" class = "post">
			<h2>Question</h2>
			<div id="vote-8322" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 92</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need an idea: automated sim card switcher</h2>
<p>First off, sorry if my question is too naive or not related to the forum (this is the best matching one I've found on StackExchange).</p>

<p>I have some amount of SIM-cards. I can programmatically access a single SIM-card if it is inserted into a USB-modem. I want to be able to access the specified card in the set. The best way to achieve this I can think of is to create a device that would somehow replace the current card in the modem with one in the set. I can not use several modems for this because I don't really know the amount of cards and I would like to automate this process anyway.</p>

<p>I am more of a programmer than an engineer so everything that follows (including the entire concept of switching cards) looks pretty weird to me. There probably is a better solution, but this is the best I've come up with. For now I consider building some sort of conveyor that would move cards and insert the ones I need with some sort of a feed device. This looks like an overkill to me that would be both expensive to build and uneffective to work with.</p>

<p>I want an idea of a device that would replace SIM-cards into the modem (or maybe a better solution to the problem). Any disassembly of a modem needed is possible.</p>

<p>This is required to automate receiving SMS from clients that have different contact phones. Unfortunately, a simple redirection of SMS is not an option.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8322" data-toggle = "popover">
				<p>user name : bashis</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-8322">{'None': 0, 'automatic': 1, 'automation': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8322" class = 'collapse'>
			</div>
				<textarea id = "speech-8322" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8322">
					<img id="start_img-8322" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8322">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8326"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8326" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Seems pretty challenging! I would suggest a rotating table with the SIM cards (sort of like an old slide projector) that is controlled with a stepper motor or has an encoder or Hall effect sensors so you can position the cards with the reader. On the inside of the ring of cards you could use an actuator to push them into the reader. Getting them back out is probably the harder part since you will need to grab them out.</p>

<p>If you can mess with the reader then that is good since it will work a lot better if you can make it so your actuator system just holds onto the SIM card the entire time -- push it in, read it, then pull it out without letting go. You can then also make the connection a bit looser if that helps pushing in and pulling out more easily.</p>

<p>Another option could be to pull apart the reader some more and set it up so that you press the SIM card up against it instead of inserting into a slot. This would probably make it easier to change cards but you'll have to be more careful about ensuring the "pins" are connected properly.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8326" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8326">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8326" class = 'collapse'>
			</div>
				<textarea id = "speech-8326" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8326">
					<img id="start_img-8326" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8326">Comment</button>
			<br><div id = "ans-8332"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8332" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are hoping to make a jukebox for SIM cards.</p>

<p>If you can place a reasonable cap on the size of your magazine (say 50) I would use a carousel with the cards attached to the outer perifery.  You would then index the disk and move the relevant SIM card under the contacts (extended from the modem) that would be loaded onto the card (and signal the SIM door closed or power on the modem).  This way you have two very simple motions that you can simply automate with a stepper motor (with timing belt reduction) and a simple hobby type PWM servo actuator.  You would have some index ridges to align the nano, mini or micro SIMs and glue or double sided tape them down.  If you need more capacity you would just replicate the setup.</p>

<p>A more sophisticated setup would be to make an electronic switching arrangement.  You would then permanently load the cards into sockets and use electronics to enable the connection to each one.  Dual sim selectors for mobile phones are common but I expect the system could be made to work on perhaps 8 or 16 and possibly even cascaded two deep with perhaps 64 to 256 loaded cards selected with commands to the control circuit.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8332" data-toggle = "popover">
				<p>user name : KalleMP</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-8332">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8332" class = 'collapse'>
			</div>
				<textarea id = "speech-8332" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8332">
					<img id="start_img-8332" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8332">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>