<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need of Kalman filters in unimodal measurement model
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6597" class = "post">
			<h2>Question</h2>
			<div id="vote-6597" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 109</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need of Kalman filters in unimodal measurement model</h2>
<p>I have recently been studying Kalman filters. I was wondering that if sensor model of a robot gives a <strong>unimodal Gaussian</strong> ( as is assumed for LKF) and the environment is pre-mapped, then the sensor reading can be completely trusted( ie. max value of Kalman gain), removing the need for odometry for localization or target tracking purposes and hence the need for the Kalman filter. Please Clarify.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6597" data-toggle = "popover">
				<p>user name : Raman Butta</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-6597">{'None': 0, 'kalman-filter': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6597">Load Comments</button></br>
			<div id = "commentsection-6597" class = 'collapse'>
			<div id = "comment-9477" class = "comment">
				<p>Hi RamanButta and welcome to robotics SE!  I don't quite understand your question.  Could you clarify or add more details?  What are you using the kalman filter to accomplish?</p>
			</div>
			<div id = "comment-9479" class = "comment">
				<p>What do you mean by a pre-mapped environment?</p>
			</div>
			<div id = "comment-11115" class = "comment">
				<p>What is your question?</p>
			</div>
			</div>
				<textarea id = "speech-6597" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6597">
					<img id="start_img-6597" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6597">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6600"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6600" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No. An example of this is a GPS measurement: It has one mode (the mean), but is uncertain. What this means is, if you receive 100 gps measurements, they will all have similar modes, but will be slightly different due to uncontrollable environmental effects. </p>

<p>The map of the environment has nothing to do with the sensor data of this type.</p>

<p>The mode / mean is often called the <em>estimate</em>, and for practical purposes with <em>small</em> noise, yes, you can treat the mean as the true state. But it is never <em>theoretically</em> correct to do so. Always account for the uncertainty of the system. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6600" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-6600">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6600">Load Comments</button></br>
			<div id = "commentsection-6600" class = 'collapse'>
			<div id = "comment-9492" class = "comment">
				<p>Let us assume we use a camera fitted on a robot to estimate the location of a robot at any instant of time. I don't understand why do we need to consider the odometry reading/ state transition model/ action model from the previous time instant and combine it with the camera reading to find the minimum variance estimate of the location. Aint the camera reading perfect if no two places in the environment have the same appearance ?</p>
			</div>
			<div id = "comment-9494" class = "comment">
				<p>In the real world there are always errors.</p>
			</div>
			<div id = "comment-9502" class = "comment">
				<p>If the error in your system is always tolerably small, then you don't need all the sensor data. It almost never is. The only way to know for sure is to try it.</p>
			</div>
			<div id = "comment-9508" class = "comment">
				<p>Thanks @Josh . In fact the KF does minimize the error covariance.</p>
			</div>
			<div id = "comment-9509" class = "comment">
				<p>No, the kf estimates the covariance. If the cov. estimate shrinks, it is because the update steps provide information about the state estimate.</p>
			</div>
			</div>
				<textarea id = "speech-6600" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6600">
					<img id="start_img-6600" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6600">Comment</button>
			<br><div id = "ans-6605"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6605" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What I think you are asking:</p>

<p>Given a map of the environment (e.g., the positions of landmarks), and a sensor that can measure the location of these landmarks, is odometry required when the position of the robot can be uniquely determined from the landmark measurements?</p>

<p>My answer:</p>

<p>In short, yes. If every measurement can be uniquely associated with a large enough set of landmarks, you can get a unique estimate of your position. Note I said "estimate" of your position. Of course there will still be uncertainty of your estimate because your measurement of the landmarks will not be perfect. However, here are a couple reasons having odometry in this situation would be helpful anyway:</p>

<ul>
<li><p>As an initial guess. A lot of data association algorithms work much better if you have a good initial guess. Having odometry here helps increase the likelihood of a good match. It helps you make the correct choice between two possible matches, for example.</p></li>
<li><p>To help deal with infrequent or highly uncertain landmark measurements. There are often situations where your landmark measurements won't be very good for stretches of time. Maybe you briefly were in an unmapped or poorly mapped area. Maybe the environment has changed. Maybe something is interfering with how your sensor is working (e.g., different lighting). If you are not constantly getting good updates based on measurements of the environment, it could lead to unrecoverable errors. Odometry gives you a (dead-reckoning) estimate during this time, making recovery easier when you start to get good landmark measurements again.</p></li>
</ul>

<p>In short, you need to ask yourself: Is the map very good? Does it full cover the operational area (i.e., is it possible for the robot to take measurements of things not in the map)? Is it possible the map has changed? Does the sensor work well in different conditions? Is the data association algorithm reliable for different amounts of noise? Will the updates provided by the sensor be frequent enough based on how fast the robot is travelling? Etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6605" data-toggle = "popover">
				<p>user name : kamek</p>
				<p> user reputation : 775</p>
				<p class = "tagcontent" id = "usertaginfo-6605">{'None': 48}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6605">Load Comments</button></br>
			<div id = "commentsection-6605" class = 'collapse'>
			<div id = "comment-9507" class = "comment">
				<p>Thanks @kamek . I see the key point you mentioned was the dynamic and noisy nature of the environment itself (and not the camera) which calls for odometry readings. Indeed if the environment is well landmarked and static, then Kalman filter will be needed only if the camera itself is unreliable.</p>
			</div>
			</div>
				<textarea id = "speech-6605" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6605">
					<img id="start_img-6605" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6605">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>