<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need suggestions for object recognition
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1856" class = "post">
			<h2>Question</h2>
			<div id="vote-1856" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1581</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need suggestions for object recognition</h2>
<p>I am tasked with creating a system that will recognize fish pulled out of a lake. The system should be able to identify the type of species of fish. Typically, I turn to Arduino for projects like this. However, based on what I've read about image processing, it's sounding like Arduino doesn't have the processing power. Does anyone have any suggestions for development boards and cameras that can easily interface with the board?</p>

<p>I've look at this option, <a href="http://www.finboard.org/videos/introducing-finboard?utm_campaign=Embedded%20Processing%20and%20DSP%20Newsletter%2013-Q3%20NA&amp;utm_medium=email&amp;utm_source=Eloqua" rel="nofollow">http://www.finboard.org/videos/introducing-finboard?utm_campaign=Embedded%20Processing%20and%20DSP%20Newsletter%2013-Q3%20NA&amp;utm_medium=email&amp;utm_source=Eloqua</a>. It seems like it would be a nice all in one type of thing. Has anyone used anything like this?</p>

<p>Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1856" data-toggle = "popover">
				<p>user name : Sam Cutler</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-1856">{'None': 0, 'microcontroller': 0, 'cameras': 0, 'raspberry-pi': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1856">Load Comments</button></br>
			<div id = "commentsection-1856" class = 'collapse'>
			<div id = "comment-3825" class = "comment">
				<p>Are you looking for a system on which to develop fish-recognition software, or are you trying to find a platform for fish-recognition software that already exists?</p>
			</div>
			</div>
				<textarea id = "speech-1856" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1856">
					<img id="start_img-1856" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1856">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1860"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1860" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think it would be powerful enough, but you could look into the raspberry pi.  It has an HDMI port and ethernet port, and it allows you to run Linux. The Beaglebone is similar but more powerful. At work when I built an image processing platform for an autonomous ATV we used a miniITX motherboard with an i5 processor and a separate firewire card plugged into the PCIE port (this was for the stereo camera). Computer vision can involve some very intense computation, so I'd probably recommend a similar setup. However, the perception system I built was constantly running in a loop, whereas yours only needs to process one image and it's probably fine if it takes 10+ seconds to operate. When driving an autonomous vehicle, you don't have that kind of time XD. For those reasons, you might be able to get away with the previously mentioned boards.</p>

<p>Here's a video of someone using a webcam to capture video and images (and look at that he's looking at FISH!) with a Beaglebone. He's also using the openCV library, which is something you'd probably want to use as well: <a href="http://www.youtube.com/watch?v=8QouvYMfmQo" rel="nofollow">http://www.youtube.com/watch?v=8QouvYMfmQo</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1860" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-1860">{'None': 54}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1860" class = 'collapse'>
			</div>
				<textarea id = "speech-1860" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1860">
					<img id="start_img-1860" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1860">Comment</button>
			<br><div id = "ans-1960"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1960" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The arduino is a pretty versatile piece of kit that can work alongside pretty much anything. I'd look at the fish identification process and work back to the appropriate hardware.</p>

<ol>
<li>How many possible species of fish are there in the lake? (The more fish, the more memory you'll need, and the more complex your software will be)</li>
<li>Can these species clearly be told apart by size/weight? (If so, you may not necessarily need computer vision at all)</li>
<li>Can the species be told apart simply by colour? (colour averaging will be significantly easier to process than differentiating finer details, less processing power required)</li>
<li>How fast does this recognition need to occur? (imaging processing can be intensive, pick an appropriately fast system)</li>
<li>Does the system need to be entirely self-contained / on-site? (If not, you could save time by sending the image to a remote computer over wireless/3G for processing)</li>
<li>How small are the distinguishing features? (This will determine what camera resolution / number of cameras / lens you will need)</li>
</ol>

<p>...etc</p>

<p>In terms of computer vision software, <a href="http://opencv.org" rel="nofollow">OpenCV</a> should be high on your list.</p>

<p>If you have a good understanding of mobile app development, a smart phone could be appropriate (combined camera &amp; computer, cheap, portable, relatively fast), combined with Google's ADK and you could pass resulting commands to actuators.</p>

<p>The list of hardware capable of running image processing software is rather large. Arduinos, Beaglebone/boards, mbeds, FPGAs, RaspberryPi, fitPC, NUCs, full-sized computers (ATX motherboards etc) and beyond. Up to you what works for your application and budget.</p>

<p>Have a look at some of the HD logitech web cams, for the price and resolution they deliver high frame rates and have support across a good few operating systems.</p>

<p>Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1960" data-toggle = "popover">
				<p>user name : rom</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-1960">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1960" class = 'collapse'>
			</div>
				<textarea id = "speech-1960" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1960">
					<img id="start_img-1960" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1960">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>