<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Need help calculating the thrust on quadcopter motors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2687" class = "post">
			<h2>Question</h2>
			<div id="vote-2687" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 21700</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Need help calculating the thrust on quadcopter motors</h2>
<p>I'm trying to calculate the lifting capability of my four quadcopter motors. I tried using eCalc but it doesn't have battery I'm using. Are there any equations to keep in mind for doing these calculations? Here are some relevant details:</p>

<p>Battery: 2200mAh 3S 25~50C LiPo</p>

<p>ESC: 25A</p>

<p>Motor: 1240kV Brushless</p>

<p>Propeller: 8x4</p>

<p>Any help would be much appreciated, thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2687" data-toggle = "popover">
				<p>user name : user2200321</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-2687">{'quadcopter': 3, 'radio-control': 1, 'None': 0, 'microcontroller': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2687">Load Comments</button></br>
			<div id = "commentsection-2687" class = 'collapse'>
			<div id = "comment-5053" class = "comment">
				<p>Are you asking about the thrust that the motors provide or the leftover lifting capacity after you consider the weight of the assembled vehicle?</p>
			</div>
			<div id = "comment-5056" class = "comment">
				<p>Thanks for clearing up the difference. I'm asking for both in that case.</p>
			</div>
			</div>
				<textarea id = "speech-2687" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2687">
					<img id="start_img-2687" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2687">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4305"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4305" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately, the basic equations for thrust aren't all that basic when you also want to look at things like motor efficiency, which is partly why all these quadcopter calculators are so popular.  The one at <a href="http://www.drivecalc.de/" rel="nofollow">http://www.drivecalc.de/</a> is pretty handy, especially if you want to define things like custom motors or batteries.  </p>

<p>I made some guesses about your setup and came up with:</p>

<ul>
<li>About 0.053 N/W thrust efficiency for that prop</li>
<li>About 260 Watts at the shaft for that size motor</li>
<li>About 14 Newtons of thrust per motor</li>
<li>14 newtons will hold up about 1.4 kg</li>
<li>Max weight for a static hover with 4 motors is about 5.6 kg</li>
<li>You should probably be about half this for a quadcopter that flies well, so try to get its weight under 2.8 kg</li>
</ul>

<p>If this is your first quad, I'd say that 2.8 kg (6.2 lb) is a little heavy. The bigger they are, the harder they fall.  This adage is definitely true for quadcopters.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4305" data-toggle = "popover">
				<p>user name : Frankenberry Pi</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-4305">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4305">Load Comments</button></br>
			<div id = "commentsection-4305" class = 'collapse'>
			<div id = "comment-6845" class = "comment">
				<p>...as far as lifting capacity, I'd say add up all your components and see how far under 2.8 kg you are.  Whatever is left over would be a good guess for a lifting capacity.</p>
			</div>
			</div>
				<textarea id = "speech-4305" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4305">
					<img id="start_img-4305" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4305">Comment</button>
			<br><div id = "ans-4356"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4356" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could probably calculate this value, but the sensible thing to do would be to just measure it directly.  </p>

<p>Just turn it upside-down and put it on a kitchen scale <a href="https://www.youtube.com/watch?v=2f_XM6l6YGQ" rel="nofollow noreferrer">as shown in this video</a>.  </p>

<p><a href="https://www.youtube.com/watch?v=2f_XM6l6YGQ" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/dr6Tr.png" alt="Measuring thrust with a scale"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4356" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4356">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4356">Load Comments</button></br>
			<div id = "commentsection-4356" class = 'collapse'>
			<div id = "comment-11266" class = "comment">
				<p>This. Empirical testing for things like this almost always produces superior data because it's so hard to take everything relevant into account. As a bonus, it's also significantly faster!</p>
			</div>
			</div>
				<textarea id = "speech-4356" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4356">
					<img id="start_img-4356" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4356">Comment</button>
			<br><div id = "ans-7762"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7762" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here is the equation I was able to come up with:</p>

<p>THRUST (kg) =  ((2.83 x 10-12) * (RPM^2) * (DIAMETER^4) * (((AIR DENSITY) * 23.936) / 29.92) * CF) / 2.2</p>

<p>where
*RPM is motor kv multiplied by battery voltage
*DIAMETER is total length of propellers
*AIR DENSITY has to be looked up or calculated separately
*CF changes based on prop type but should just be "1" for your calculations</p>

<p>Hope this helps</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7762" data-toggle = "popover">
				<p>user name : Vallab</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7762">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7762">Load Comments</button></br>
			<div id = "commentsection-7762" class = 'collapse'>
			<div id = "comment-11686" class = "comment">
				<p>Question. At first is it 2.83 * 10 - 12 or 2.83 *10^-12. I'm asking because it appears that you've wrote it in the first way i mentioned, which makes no sense because you could just calculate the result as there's no variable in this parenthesis. Tested it both ways. This equation gives me completely erroneous results.</p>
			</div>
			</div>
				<textarea id = "speech-7762" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7762">
					<img id="start_img-7762" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7762">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>