<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Neuromorphic Engineering and Robotics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2526" class = "post">
			<h2>Question</h2>
			<div id="vote-2526" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 193</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Neuromorphic Engineering and Robotics</h2>
<p>I have been into a boggling paper research on neuromorphic engineering and its implications on robotics applications, lately. It is relatively a less applied field and full of academic papers and difficult to skim easily :)</p>

<p>There are many ongoing projects applying analog or digital circuitry design to implement neurosynaptic simulations of the brain. Consumer oriented products like IBM <a href="http://www.research.ibm.com/cognitive-computing/neurosynaptic-chips.shtml?lnk=ushpls1" rel="nofollow">Synapse</a> and Qualcomm's <a href="http://www.qualcomm.com/media/blog/2013/10/10/introducing-qualcomm-zeroth-processors-brain-inspired-computing" rel="nofollow">Zeroth</a> focus on digital hardware whereas academic research like Standford's <a href="http://www.stanford.edu/group/brainsinsilicon/neurogrid.html" rel="nofollow">neurogrid</a> or ETC Zurich's Human Brain Project focus more on actual brain study using analog hardware.</p>

<p>If anybody is following this engineering field, can he/she spread more light on it and explain it's <strong>implications, methodologies and toolsets</strong> to the community, in detail?</p>

<p>PS : Regarding toolsets, I'm talking about the most feasible engineering methodologies to commit to the field.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2526" data-toggle = "popover">
				<p>user name : xsnk</p>
				<p> user reputation : 60</p>
				<p class = "tagcontent" id = "usertaginfo-2526">{'control': 2, 'None': 0, 'computer-vision': 5, 'beginner': 3, 'artificial-intelligence': 6, 'microcontroller': 5, 'embedded-systems': 5, 'programming-languages': 3, 'machine-learning': 6, 'mobile-robot': 1, 'electronics': 2, 'research': 6, 'software': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2526">Load Comments</button></br>
			<div id = "commentsection-2526" class = 'collapse'>
			<div id = "comment-4919" class = "comment">
				<p>Just as an aside, the [Human Brain Project](https://www.humanbrainproject.eu/) is *directed* by the EPFL (rather than the ET**H** Zurich) and is one of the two EU flagship programs (the other being the Graphene project). It is a staggering ten year, one billion euro project comprising 86 European institutions plus a few international ones. You can find out quite a bit from the [Wikipedia page](https://en.wikipedia.org/wiki/Human_Brain_Project) or the [HBP's own homepage](https://www.humanbrainproject.eu/)</p>
			</div>
			</div>
				<textarea id = "speech-2526" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2526">
					<img id="start_img-2526" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2526">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2534"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2534" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Seems like this is a step towards what religious AI people would call a Singualarity. The goal to create a system which would function like the brain. I'am not into this field but I am into Robotics and AI. I can tell you that it's a step towards that dream. No one can say if its possible to do that because of Neuroscience finding weird things about the brain that they can't make sense of and Quantum Science confusing it even further. But what we can say is this, it's a step forward. It's like Quantum Computing in a way. So far in my opinion, Quantum Computing + Neural Model based Hardware + XXXX = Brain. So the implications are that you can develop Robotics to the level of using hardware that will emulate a few functions of the Brain so that we don't have to bang out heads against the table trying to make it learn something and do something. I'd say it's more to do with Automating most of the stuff that we humans are lazy or inefficient or incapable of doing. It will take many Engineering disciplines to come together, sorta like the United Nations. AI, EEE, ECE, Robotics, Neuroscience, Quantum Physics. Umm..I can't think of anymore that will make sense into the addition to make up for this field. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2534" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-2534">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2534" class = 'collapse'>
			</div>
				<textarea id = "speech-2534" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2534">
					<img id="start_img-2534" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2534">Comment</button>
			<br><div id = "ans-3020"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3020" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Regarding methodologies and tools, I recommend Chris Eliasmith's <a href="http://nengo.ca/build-a-brain" rel="nofollow">How to Build a Brain</a>. It presents the Semantic Pointer Architecture (SPA), a cognitive model that has been realized in the open source <a href="http://nengo.ca/" rel="nofollow">Nengo</a> toolkit. I have read the book's introduction and some of Eliasmith's papers, and so far the approach looks very promising.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3020" data-toggle = "popover">
				<p>user name : xperroni</p>
				<p> user reputation : 386</p>
				<p class = "tagcontent" id = "usertaginfo-3020">{'None': 19, 'inverse-kinematics': 3, 'algorithm': 2, 'speech-processing': 2, 'rangefinder': 2, 'linux': 3, 'mobile-robot': 8, 'sensors': 2, 'digital-audio': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3020">Load Comments</button></br>
			<div id = "commentsection-3020" class = 'collapse'>
			<div id = "comment-7819" class = "comment">
				<p>@SNP I work in Chris Eliasmith's lab and if you have any questions regarding this subject matter, feel free to ask on cogsci.stackexchange.com!

For a quicker overview than the book, check out [this lecture by Travis Dewolf](http://digitalops.sandia.gov/Mediasite/Play/86e1cbfa747a448d96909658df1352011d).</p>
			</div>
			</div>
				<textarea id = "speech-3020" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3020">
					<img id="start_img-3020" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3020">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>