<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>No Voice Memos on the iPad?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2854" class = "post">
			<h2>Question</h2>
			<div id="vote-2854" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 78</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>No Voice Memos on the iPad?</h2>
<p>iPhones have a dedicated Voice Memos app. iPads don't, despite running the same OS and also featuring a built-in microphone. </p>

<p>As an addendum to <a href="https://apple.stackexchange.com/questions/250654/voice-memos-on-the-ipad">this</a> question (which was suggested I move to Meta as per this site's policy), I am super curious what the logic for not making Voice Memos available on the iPad could have been. I was baffled me when I realized it's not available for iPad given that Apple devices are usually designed to work out of the box for a broad range of possible use cases. So Apple must have had a very specific reason for not including it on the iPad. </p>

<p>So if there's anyone who would be able to help me understand what that reason could have been that would be much appreciated! </p>

			</div>
			<div id = "userinfo-2854" style = "float:right">
				<p>user name : jan</p>
				<p> user reputation : 145</p>
				<p> user tag wise history : {'ipad': 2, 'None': 0, 'discussion': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2854">Load Comments</button></br>
			<div id = "commentsection-2854" class = 'collapse'>
			<div id = "comment-6214" class = "comment">
				<p>I understand you were encouraged to post this question here by another user, however this is incorrect. See [my comment](http://apple.stackexchange.com/questions/250654/voice-memos-on-the-ipad#comment311395_250654) on your question. Meta is just for questions about Ask Different itself.</p>
			</div>
			<div id = "comment-6215" class = "comment">
				<p>@fbara You may want to join the discussion here</p>
			</div>
			<div id = "comment-6216" class = "comment">
				<p>Thanks for posting here so we can iron out any procedural issues. I would hit up the chat rooms to ask people _why_ they feel Apple does this. Sometimes questions that aren't great for the site make for great discussion pieces.</p>
			</div>
			</div>
				<textarea id = "speech-2854" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2854">
					<img id="start_img-2854" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2854">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2855"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2855" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Meta is for discussions about the site itself, not for questions which are off-topic on the main site. In your case, asking about why Apple does or doesn't do something is off-topic in general, as explained in <a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a>:</p>

<blockquote>
  <p>Please refrain from asking about the following topics as questions with these core subjects are generally closed or deleted:</p>
  
  <ul>
  <li>Pre-release hardware or asking how/why Apple does  </li>
  <li>[...]</li>
  </ul>
  
  <p>[...] specific questions about what Apple [did|does|thinks|might do] are not helpful in a Q&amp;A setting since they lack a practical problem to be solved.</p>
</blockquote>
</p><br>
			</div>
			<div id = "userinfo-2855" style = "float:right">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p> user tag wise history : {'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2855" class = 'collapse'>
			</div>
				<textarea id = "speech-2855" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2855">
					<img id="start_img-2855" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2855">Comment</button>
			<br><div id = "ans-2856"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2856" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I put a lock on the main question since asking three questions in one muddies the waters. </p>

<p>Looking at this revision:</p>

<p><a href="https://apple.stackexchange.com/revisions/250654/2">https://apple.stackexchange.com/revisions/250654/2</a></p>

<p>Question 1 - Could be edited into a great question. "Is a jailbreak to add Apple voice memo possible on hardware X at iOS version Y?" It is practical and will get yes answers, maybe answers and no answers. The voting and comments will quickly establish some answers relating to voice memo on iPad. </p>

<p>Question 2 - asking for lists of X is covered as <a href="https://apple.meta.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation">How should I ask about getting a software recommendation?</a></p>

<p>Question 3 - off topic - Patrix covers this well</p>

<p>Just keep in mind - even asking several on-topic, great questions together is problematic at best. Once each question is clearly phrased, the site can vote to close or answer. If somethings is voted to close, you can ask here about how or whether to edit it so that it might get reopen votes. </p>
</p><br>
			</div>
			<div id = "userinfo-2856" style = "float:right">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p> user tag wise history : {'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2856" class = 'collapse'>
			</div>
				<textarea id = "speech-2856" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2856">
					<img id="start_img-2856" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2856">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>