<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Non-Vision Based Target Tracking
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1315" class = "post">
			<h2>Question</h2>
			<div id="vote-1315" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 145</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Non-Vision Based Target Tracking</h2>
<p>I am building 4-wheeled, knee-high robot with music and speakers on top that will follow a target person as the target moves around. I would like some help with the setup for tracking the target. The most obvious solutions are Ultrasound or Infrared sensors or some kind of vision tracking, but for this application, I don't want to use them. </p>

<p>Imagine that the robot is placed into a crowded area and asked to move towards a particular person in the area (for the sake of simplicity, assume the person is less than 5 meters away, but could be obscured by an object). Ideally, if someone walked between the target and the robot, the robot would not lose it's path (as would happen with vision-based sensing).<br>
Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1315" data-toggle = "popover">
				<p>user name : RJackson</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-1315">{'None': 0, 'computer-vision': 2, 'mobile-robot': 9, 'sensors': 11, 'navigation': 2, 'electronics': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1315">Load Comments</button></br>
			<div id = "commentsection-1315" class = 'collapse'>
			<div id = "comment-2907" class = "comment">
				<p>You should close your question on EE.SE since you have asked it again here!</p>
			</div>
			<div id = "comment-2908" class = "comment">
				<p>I don't think I can, since I don't have enough rep. However, I am interested in your RF solution from the other thread. Do you know where I could find more information about this, since I don't have any experience in it? Obviously I will continue to look around Robotics Stack Exchange.</p>
			</div>
			<div id = "comment-2910" class = "comment">
				<p>I think the reasons for you to want to avoid vision are unfounded. Robustness relative to occlusion should be part of your algorithm, not of your sensor data. Even a solution involving tracking a single, specific person requires quite a bit of work for possibly bad results (i.e. attaching an active beacon on the person and using that signal to somehow localize the person accurately... while dealing with multi-path, power losses through collisions in the environment, etc)</p>
			</div>
			<div id = "comment-2911" class = "comment">
				<p>Also, I assume you are interested in indoor environments (5 meters away, crowded), so GPS wouldn't work. That kind of precision makes it expensive, as well. So called "indoor GPS" systems would be even more so.</p>
			</div>
			</div>
				<textarea id = "speech-1315" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1315">
					<img id="start_img-1315" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1315">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1316"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1316" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a few ways you might handle this.  Although my knee-jerk response is to say "transmit a radio signal from the target and triangulate it with 3 antennas on the robot", apparently the implementation of that is really difficult (<a href="https://electronics.stackexchange.com/a/8693">1</a> <a href="http://forums.hackaday.com/viewtopic.php?f=8&amp;t=2420" rel="nofollow noreferrer">2</a> <a href="http://www.eetimes.com/design/microwave-rf-design/4019032/Wireless-triangulation-using-RSSI-signals" rel="nofollow noreferrer">3</a>).</p>

<p>Although it sounds heavy-handed, the best way to do what you're describing is to put a GPS on both the robot and the target, and have the target communicate its location back to the robot.  Assuming that you don't lose wireless connectivity -- 5 meters is within the range of bluetooth, zigbee, wifi, and 3G -- obstacles will not hamper the ability of the robot to find its target; you just <a href="http://www.movable-type.co.uk/scripts/latlong.html" rel="nofollow noreferrer">use the haversine formula to draw a path between those two points</a>.</p>

<p>Of course, if you're going to let a knee-high robot loose in a crowded area, it would be common courtesy for it to have adequate ultrasonic/vision sensors to be able to <a href="http://stream1.gifsoup.com/view5/2689564/peter-skint-knee-o.gif" rel="nofollow noreferrer">avoid bumping into passerby</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1316" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1316">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1316" class = 'collapse'>
			</div>
				<textarea id = "speech-1316" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1316">
					<img id="start_img-1316" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1316">Comment</button>
			<br><div id = "ans-1323"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1323" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The issue with any kind of field based approach is that the robot wouldn't know in which direction it was coming from without enough resolution which might force one to get expensive high resolution equipment. Also, the smaller the robot, the more expensive and higher res equipment one would need to triangulate a point of origin.</p>

<p>Alternatively, sound signatures could work. Sound waves are slower than electromagnetic waves and so would be easier to triangulate. You could also use a frequency that humans/animals cannot hear. You wouldn't need very high end equipment I don't think if you orient mics at appropriately far angles apart. Imagine a "follow my voice" kind of scenario.</p>

<p>Perhaps RF would work here too as mentioned but it does depend on the size/equipment/software.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1323" data-toggle = "popover">
				<p>user name : Enigma</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-1323">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1323" class = 'collapse'>
			</div>
				<textarea id = "speech-1323" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1323">
					<img id="start_img-1323" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1323">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>