<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Not a lot of final cut pro questions here...
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-568" class = "post">
			<h2>Question</h2>
			<div id="vote-568" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 259</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Not a lot of final cut pro questions here...</h2>
<p>I don't see a lot of questions (or answers) about Final Cut Pro X on the Apple Stack Exchange, and want to do something about that.</p>

<p><img src="https://i.stack.imgur.com/7mlJl.png" alt="enter image description here"></p>

<p>If you:</p>

<ul>
<li>regularly do video editing </li>
<li>regularly participate in Ask Different</li>
<li>don't yet have a copy of Final Cut Pro X</li>
<li>would use one if you got it</li>
<li>would ask and answer questions about Final Cut Pro X on Ask Different </li>
</ul>

<p>please answer this question. Early this week we will be sending out free, fully-licensed copies to the first 5 people who qualify.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-568" data-toggle = "popover">
				<p>user name : Joel Spolsky</p>
				<p> user reputation : 1513</p>
				<p class = "tagcontent" id = "usertaginfo-568">{'None': 0, 'discussion': 61, 'lion': 34, 'tags': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-568">Load Comments</button></br>
			<div id = "commentsection-568" class = 'collapse'>
			<div id = "comment-1022" class = "comment">
				<p>I don't do video editing regularly, but I do occasionally. I would certainly ask and answer on Ask Different. In the unlikely event of there not being better-qualified people, I'm here :-).</p>
			</div>
			<div id = "comment-1023" class = "comment">
				<p>I do video editing quite frequently (in school), but haven't got to try any software beyond iMovie. I would definitely ask questions, the software already looks difficult to use :/.
On a side note, take a look at [this article on CNET](http://news.cnet.com/8301-27076_3-20074064-248/conan-obrien-rips-apples-final-cut-pro-x-on-show/) and [this article on NYTimes](http://pogue.blogs.nytimes.com/2011/06/23/professional-video-editors-weigh-in-on-final-cut-pro-x/). There seems that there is a lot of criticism about it</p>
			</div>
			<div id = "comment-1024" class = "comment">
				<p>@Nathan It might be nice to do a segment about it on the podcast</p>
			</div>
			<div id = "comment-1025" class = "comment">
				<p>I'd speculate that why we don't see questions about FCP here is because it's a specialized application one can build a career around. This is kind of like asking (though a bit reaching) for more Adobe inDesign questions for the Mac on Ask Different, but those questions are better suited over at Graphic Design due to its specialization and its community. I wonder if FCP questions and the surrounding issues are too specific or too deep for a general-use site like Ask Different, but I am all for more traffic.</p>
			</div>
			<div id = "comment-1026" class = "comment">
				<p>@Philip It's an Apple product, so it's by definition on topic for this site. I'd love to get more in-depth, technical questions about it here.</p>
			</div>
			<div id = "comment-1027" class = "comment">
				<p>@bckbck Per Joel's instructions, answer the question to throw your hat into the ring. The information in your comment makes you look like a perfect candidate (IMO).</p>
			</div>
			<div id = "comment-1028" class = "comment">
				<p>@VxJasonxV with absolutely no experience or skill in using FCP X.  I'd think that it would be better if there are some other people more suited for this, rather than me.</p>
			</div>
			<div id = "comment-1029" class = "comment">
				<p>@bckbck But that is the point. You don't have to have experience or skill using FCP X, you just have to have a need to edit videos and own a Mac capable of running FCP X. You will be given a copy, you use it, and when you run into problems, ask about it here.</p>
			</div>
			<div id = "comment-1030" class = "comment">
				<p>@VxJasonxV I'll wait and see. If there are no other worthy people, then i will post it as an answer.</p>
			</div>
			<div id = "comment-1031" class = "comment">
				<p>this really belongs on the upcoming video site, I think</p>
			</div>
			<div id = "comment-1032" class = "comment">
				<p>@Kyle: I agree that FCP questions are technically on-topic for Ask Different, I'm just wondering how much traction they are really going to get even with this effort. Xcode is an highly specialized Apple product, but we don't get that many questions or answers about it directly. I'm not saying this is a bad idea, and is definitely worth a shot, but I just have a doubt the FCP community is going to follow along. Video-editing is a culture unto itself.</p>
			</div>
			<div id = "comment-1033" class = "comment">
				<p>@bckbck: I think you should answer with your comment anyway. You won't know unless you ask.</p>
			</div>
			<div id = "comment-1036" class = "comment">
				<p>bump...........</p>
			</div>
			<div id = "comment-1607" class = "comment">
				<p>How do I qualify? Or was this too long ago?</p>
			</div>
			<div id = "comment-1700" class = "comment">
				<p>@PhilipRegan Stack Overflow is a more suitable place for xCode and c+ developing. That is where I go for these answers and questions.</p>
			</div>
			</div>
				<textarea id = "speech-568" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-568">
					<img id="start_img-568" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-568">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-569"  class = "post">
				<h2>Answer</h2>
			<div id="vote-569" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There was a point when I looked into film production as a career, chiefly by starting my own production company, even going so far as to acquiring FCP when it first released along with some production equipment. I had done some work, but it was a lack of people resources that kept me from getting too far, so I put everything down and went forward with more stable ventures. That was about ten years go but I have still dabbled here and there in video and audio production as I got into multimedia for educational products.</p>

<p>Now, I really just want make videos of my kid(s), if only for the fact that my out-of-state and out-of-America family (which is pretty much everyone) has been practically begging for more videos. Using iMovie is a real drag, to me at least, I think because my first work with video was using Final Cut Pro. Using FCP compared to iMovie is a completely different mindset, one where I actually felt overly-guided in iMovie. I have read from a couple different sources speculation as to why FCPX wasn't released as a new version of FCP Express or a prosumer version of iMovie. It's an interesting point, and I have been wondering just how valid that really is.</p>

<p>Therefore, I would like to give this a go, should I qualify. I have a couple months before classes start again, and I would love a copy of FCP to work with for the benefit of familial relations and Ask Different promotion.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-569" data-toggle = "popover">
				<p>user name : Philip Regan</p>
				<p> user reputation : 5775</p>
				<p class = "tagcontent" id = "usertaginfo-569">{'None': 95, 'site-scope': 5, 'moderators': 1, 'discussion': 11, 'moderation': 1, 'lion': 5, 'closed-questions': 5, 'beta': 5, 'new-users': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-569" class = 'collapse'>
			</div>
				<textarea id = "speech-569" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-569">
					<img id="start_img-569" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-569">Comment</button>
			<br><div id = "ans-570"  class = "post">
				<h2>Answer</h2>
			<div id="vote-570" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I regularly do software demo videos, screen casts that I splice together with audio and music. I do these with iMovie now. I would do them with FCPX if I had a copy. :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-570" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-570">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-570" class = 'collapse'>
			</div>
				<textarea id = "speech-570" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-570">
					<img id="start_img-570" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-570">Comment</button>
			<br><div id = "ans-571"  class = "post">
				<h2>Answer</h2>
			<div id="vote-571" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would be very happy to participate!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-571" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-571">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-571">Load Comments</button></br>
			<div id = "commentsection-571" class = 'collapse'>
			<div id = "comment-1035" class = "comment">
				<p>...and the answer to all 5 questions posed is yes.</p>
			</div>
			</div>
				<textarea id = "speech-571" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-571">
					<img id="start_img-571" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-571">Comment</button>
			<br><div id = "ans-572"  class = "post">
				<h2>Answer</h2>
			<div id="vote-572" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>If you:
  <br>regularly do video editing</p>
</blockquote>

<p>I do video editing in school quite frequently, and haven't used anything better that iMovie (other than using FCP a few times on my friend's Mac). I would definitely want to try using FCP X for video editing.</p>

<blockquote>
  <p>regularly participate in Ask Different</p>
</blockquote>

<p>Definitely.</p>

<blockquote>
  <p>don't yet have a copy of Final Cut Pro X</p>
</blockquote>

<p>I don't have a copy of Final Cut Pro X.</p>

<blockquote>
  <p>would use one if you got it</p>
</blockquote>

<p>I would use it, since iMovie lacks the tools which I need</p>

<blockquote>
  <p>would ask and answer questions about Final Cut Pro X on Ask Different</p>
</blockquote>

<p>Of course, since the software already looks difficult to use :P</p>

<p>I'd be glad to participate :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-572" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-572">{'None': 5, 'discussion': 18, 'profile-page': 4, 'closed-questions': 6, 'close-reasons': 6, 'suggested-edits': -9, 'design': 8, 'feature-request': 8, 'questions': 4, 'graphics': 3, 'status-declined': 8, 'user-accounts': 4, 'support': 9, 'user-interface': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-572" class = 'collapse'>
			</div>
				<textarea id = "speech-572" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-572">
					<img id="start_img-572" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-572">Comment</button>
			<br><div id = "ans-593"  class = "post">
				<h2>Answer</h2>
			<div id="vote-593" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If this isn't over yet I would be interested in participating. I don't 'regularly' edit video, most of what I do in iMovie is home videos but I recently acquired a large collection of old super 8 film that needs to be sliced and diced.</p>

<p>I pretty regularly check Ask Different. I was a little more active today than usual but today is also Lion day.</p>

<p>I don't have a copy of FCPX, but would definitely use it if I had it.</p>

<p>I already have a few questions in mind for FCPX like: How picky is the Content Auto-Analysis, do people have to be in the shot the entire time for it to tag it properly? Same thing for zooming in on the subject, it is tagged as wide, medium or closeup?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-593" data-toggle = "popover">
				<p>user name : Steve Moser</p>
				<p> user reputation : 4592</p>
				<p class = "tagcontent" id = "usertaginfo-593">{'blog': 15, 'None': 10, 'support': 0, 'discussion': 16, 'tags': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-593" class = 'collapse'>
			</div>
				<textarea id = "speech-593" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-593">
					<img id="start_img-593" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-593">Comment</button>
			<br><div id = "ans-870"  class = "post">
				<h2>Answer</h2>
			<div id="vote-870" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would be happy to help too! I really enjoy video editing. I use iMovie (not that much anymore), FCE 4, iDVD, and have used DVDSP some. 
And I would love to get a copy of FCPX because I don't have multi-cam editing on FCE (something which Apple has promised will come out in spring 2012)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-870" data-toggle = "popover">
				<p>user name : daviesgeek</p>
				<p> user reputation : 18210</p>
				<p class = "tagcontent" id = "usertaginfo-870">{'community-wiki': -2, 'questions': -4, 'design': 14, 'chat': 1, 'images': 1, 'flagging': 3, 'unanswered-questions': -4, 'editing': 6, 'support': 10, 'hyperlinks': 12, 'feature-request': 16, 'bounty': 1, 'status-bydesign': 1, 'profile-page': 1, 'None': 27, 'tags': 2, 'status-completed': 3, 'moderator-tools': 3, 'review-page': 1, 'bug': 1, 'closed-questions': 0, 'reputation': 1, 'voting': 3, 'discussion': 31}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-870" class = 'collapse'>
			</div>
				<textarea id = "speech-870" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-870">
					<img id="start_img-870" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-870">Comment</button>
			<br><div id = "ans-936"  class = "post">
				<h2>Answer</h2>
			<div id="vote-936" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This may be slightly late, I would happily participate in this.</p>

<p>I have a qulaification in Media production, which includes Video production. I use After Effects to create special effects as seen here on youtube.</p>

<ul>
<li>I also use DVD Studio pro.</li>
<li>regularly do video editing for clients</li>
<li>regularly participate in Ask Different with over 600 rep last month</li>
<li>don't yet have a copy of Final Cut Pro X not yet, I have Express and
Adobe Premiere</li>
<li>would use one if you got it, of course</li>
<li>would ask and answer questions about Final Cut Pro X on Ask
Different, would be happy to ask and answer.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-936" data-toggle = "popover">
				<p>user name : Graeme Hutchison</p>
				<p> user reputation : 5627</p>
				<p class = "tagcontent" id = "usertaginfo-936">{'None': 0, 'site-scope': 19, 'support': 0, 'profile-page': 0, 'feature-request': 8, 'discussion': 28}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-936" class = 'collapse'>
			</div>
				<textarea id = "speech-936" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-936">
					<img id="start_img-936" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-936">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>