<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Numerical-Example for Paden-Kahan subproblems?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4741" class = "post">
			<h2>Question</h2>
			<div id="vote-4741" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 601</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Numerical-Example for Paden-Kahan subproblems?</h2>
<p>I am writing a kinematics library in Go as part of my final year project. I am working with Product of Exponentials method and have successfully implemented the Forward Kinematics part of this. I need help with the Inverse Kinematics. </p>

<p>I understand the theoretical aspect of it. I would like a numerical example where actual numbers are used for the Paden-Kahan subproblems as the ones dealt in <a href="http://www.cds.caltech.edu/~murray/books/MLS/pdf/mls94-complete.pdf" rel="nofollow">"A Mathematical Introduction to Robotic Manipulation - Murray,Li and Sastry" [freely-available online PDF]</a>. </p>

<p>I specifically need help with knowing what should p,q be when trying to solve the inverse kinematics. The book just says given, a point p,q around the axis of rotation of the joint. But how do you know these points in practice, like when the robot is actually moving, how do you keep track of these points? For these reasons I need a numerical example to understand it. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4741" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-4741">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4741" class = 'collapse'>
			</div>
				<textarea id = "speech-4741" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4741">
					<img id="start_img-4741" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4741">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5134"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5134" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm working through this book right now at that particular section. </p>

<p>Looking at the example on page 105 / section 3.3, with the elbow manipulator, it looks like once you define appropriate points q_w and p_b, you express them in the base frame S (as is every other quantity so far from the preceeding section). </p>

<p>So here's what I would do. Try q_w = (0, l1+l2, l0), p_b = (0, 0, l0). Solve the full problem with these points. </p>

<p>Then try plugging in test thetas and end effector poses g1 to verify that the model works (i.e. compute both forward and inverse kin on sample points). I'm fairly confident that the above points are expressed in the base frame S, but feel free to do this additional testing to create a numerical example. </p>

<p>Hope this helps. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5134" data-toggle = "popover">
				<p>user name : JDS</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-5134">{'servomotor': 0, 'None': 1, 'force': 1, 'motor': 10, 'power': 3, 'servos': 0, 'torque': 5, 'gearing': 5, 'industrial-robot': 4, 'dh-parameters': 6, 'robotic-arm': 17, 'actuator': 4, 'rotation': 2, 'forward-kinematics': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5134" class = 'collapse'>
			</div>
				<textarea id = "speech-5134" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5134">
					<img id="start_img-5134" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5134">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>