<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Object Detection and Pose Estimaion
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10811" class = "post">
			<h2>Question</h2>
			<div id="vote-10811" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 92</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Object Detection and Pose Estimaion</h2>
<p>I am working on a robotics project for fun and can't really wrap my head around a solution to my perception problem. </p>

<p><strong>Setup:</strong>
My robot will have a stereo vision setup and will have to detect certain objects and align itself to those objects in a certain pose.  The robot will know what the width and height of those objects are.  The robot will be using a tx1 for computation, so implementation needs to be pretty fast.  Also, the environment's lightning will change a lot so using color for detection isn't a great option. </p>

<p><strong>My plan:</strong> To use convolutional neural networks to detect those objects of interest.  I have been able to program a network to detect those objects in 2D however, I am stuck on how to detect the pose of the objects in 3D.  My idea has been to detect the object with the neural network and once I have that region of interest, get the point cloud.  Then fit a 3D model using ICP.  Once the 3D model is fit I can get the pose of the object. </p>

<p>I have also seen people using 3D correspondence grouping for this but would that work on a non dense point cloud that stereo vision generates?</p>

<p>I am pretty novice in this area and would love to get advice on from some more advanced robotics practitioners.  </p>

<p>Thanks for you time!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10811" data-toggle = "popover">
				<p>user name : Swooshftw</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-10811">{'mobile-robot': 3, 'None': 0, 'computer-vision': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10811">Load Comments</button></br>
			<div id = "commentsection-10811" class = 'collapse'>
			<div id = "comment-19454" class = "comment">
				<p>i am not sure what you are asking</p>
			</div>
			<div id = "comment-19458" class = "comment">
				<p>your plan seems ok. I do not have experience with correspondence grouping.</p>
			</div>
			<div id = "comment-20010" class = "comment">
				<p>Do you have a prior pointcloud of all your objects?  If so, ICP seems like a reasonable thing to do.</p>
			</div>
			</div>
				<textarea id = "speech-10811" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10811">
					<img id="start_img-10811" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10811">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>