<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Object Grasping Robot Arm Control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7682" class = "post">
			<h2>Question</h2>
			<div id="vote-7682" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 244</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Object Grasping Robot Arm Control</h2>
<p>I have a 2 DOF Robot Arm with a camera attached to it. It takes an Image and there's an object in that image, say a glass. Of course, in order to move the arm to the required position to grasp the object, I have to solve the inverse kinematic equations. In order to solve them, I need the x and y, the coordinates where the arm has to reach to grasp the object. My question is how can I find the x and y of say the midpoint of the object from the image. Thanks </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7682" data-toggle = "popover">
				<p>user name : Bilal Wasim</p>
				<p> user reputation : 40</p>
				<p class = "tagcontent" id = "usertaginfo-7682">{'None': 0, 'inverse-kinematics': 3, 'humanoid': 7, 'stability': 4, 'robotic-arm': -2, 'mobile-robot': 5, 'balance': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7682">Load Comments</button></br>
			<div id = "commentsection-7682" class = 'collapse'>
			<div id = "comment-11117" class = "comment">
				<p>The same author asked essentially the [same question here](http://robotics.stackexchange.com/questions/7652/how-do-i-control-the-robotic-arm-motion).</p>
			</div>
			<div id = "comment-11132" class = "comment">
				<p>Sorry @BilalWasim but this question is still too broad. Generally speaking, if you could write a book as an answer to a question, it is asking too much. In general we prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-11133" class = "comment">
				<p>In addition, *on hold* means just that. It isn't closed, it isn't deleted, it's just waiting for improvements. If you edit the question to no longer be 'too broad' then it can be opened and people can start adding answers again. Incidentally, it would have been if you had edited your [existing question](http://robotics.stackexchange.com/q/7652/37) rather than adding a new question which is almost the same. By asking two questions, the two answers which might help you a little are now split between them, rather than both being in the same place.</p>
			</div>
			</div>
				<textarea id = "speech-7682" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7682">
					<img id="start_img-7682" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7682">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7684"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7684" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you need is to know the position in (x,y) of the object with respect to your robot's arm. That is, you want to measure distance. You have several options:</p>

<ol>
<li>Use a <a href="https://en.wikipedia.org/wiki/Fiducial_marker" rel="nofollow noreferrer">fiducial marker</a>. By placing one of these images on your object, you can use an image processing algorithm to detect the marker and use its relative size and orientation to determine where the object is relative to the camera/your robot arm.
Common ones look like this:
<img src="https://i.stack.imgur.com/OUOwz.gif" alt="enter image description here"></li>
</ol>

<p>Try looking for implementations of algorithms for reading fiducials in either ROS (Robot Operating System) modules or as functions in OpenCV.</p>

<ol start="2">
<li><p>Use a distance sensor. Some commonly used ones for hobbyists are <a href="https://www.parallax.com/product/28015" rel="nofollow noreferrer">ultrasonic</a> and <a href="https://www.sparkfun.com/products/242" rel="nofollow noreferrer">infra-red laser range finders</a>. Place these sensors on your robot arm and have the sensor detect the object by looking for a "bump" in the reading, then calculate the distance to the object.</p></li>
<li><p>Use a stereo camera. You'll need to use an image processing algorithm to parse your camera outputs to detect how far away something is. <a href="https://chrisjmccormick.wordpress.com/2014/01/10/stereo-vision-tutorial-part-i/" rel="nofollow noreferrer">Link</a></p></li>
<li><p>Use a <a href="http://www.robotshop.com/en/hokuyo-utm-03lx-laser-scanning-rangefinder.html" rel="nofollow noreferrer">Lidar laser range finder</a>. These are probably out of your budget, as most of them cost between $1000 and several thousand dollars, but they can be used to generate a 3D map of your environment.</p></li>
</ol>

<p>Side note: With only a 2DOF arm, you'll be limited to grasping your object in one of two configurations. (elbow in/out) You might consider using a 3DOF robot arm with a wrist so that you can more easily adjust your grasping angle.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7684" data-toggle = "popover">
				<p>user name : wyverniv</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-7684">{'quadcopter': 1, 'None': 10, 'power': 1, 'humanoid': 1, 'simulation': 1, 'design': 1, 'matlab': 1, 'mobile-robot': 1, 'dynamics': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7684">Load Comments</button></br>
			<div id = "commentsection-7684" class = 'collapse'>
			<div id = "comment-11121" class = "comment">
				<p>Great visual summary of fiducial markers!  I'd also add [April tags](https://april.eecs.umich.edu/wiki/index.php/AprilTags) which is pretty popular now i think.  And color dots on top of [RoboCup SSL robots](http://www.cs.cmu.edu/sites/default/files/CMDragons_b.jpg).  NASA JPL also has a really nice simple fiducial that they put on [Robosimian](http://imagecache.jpl.nasa.gov/images/640x350/robosimian-640-640x350.jpg)'s joints.  But is used more for arm and joint calibration.  It is actually split on the joint line, and doesn't have a unique shape.</p>
			</div>
			<div id = "comment-11127" class = "comment">
				<p>I think I should add that I didn't make that picture myself, I found it here from a google images search: http://www.computer.org/csdl/trans/tp/2010/07/ttp2010071317-abs.html</p>
			</div>
			</div>
				<textarea id = "speech-7684" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7684">
					<img id="start_img-7684" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7684">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>