<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Off position robot model - Inverse Kinematics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10602" class = "post">
			<h2>Question</h2>
			<div id="vote-10602" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 204</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Off position robot model - Inverse Kinematics</h2>
<p>I had to make a <strong>Unity3D</strong> robot model(ABB IRB 1600-6R/6DOF), that given a desired end effector transformation matrix, it would calculate and rotate the robot joints to the appropriate angles(<strong>Inverse Kinematics Computation</strong>). I found some code in Robotics Toolbox for <strong>MATLAB</strong> that, lets say that you trust me, actually calculates the needed angles(its the <em>general</em> "offset" case in ikine6s.m) - <em>but for a different zero angle position than my chosen one, which is corrected using  the appropriate offsets</em>.</p>

<p>So, I have set my 3D robot model in Unity3D correctly, angles are correct, I give the same parameters in Robotics Toolbox in <strong>MATLAB</strong> and the results are the same, I plot the robot stance in <strong>MATLAB</strong> to see it-it's on position-, I then run the code in <strong>Unity3D</strong> and the robot model seems to move to the stance I saw in <strong>MATLAB</strong> but it is off position- the end effector is away from its desired position.</p>

<p><strong>Am I missing something?</strong></p>

<p>The scaling is correct. I have subtracted a translation (equal to the distance of the bottom of the model's base contact to the <strong>floor</strong>, to the <strong>start</strong> of the next link- as MATLAB doesnt calculate it) from the Y component of the desired position of the end effector(in its homogenous transformation matrix I use as the rotation part, the identity matrix, so we do not care about that part).
Here are some pictures showing my case(say <strong>Px, Py, Pz</strong> is my desired EE position):</p>

<p><strong>MATLAB</strong>-<em>This is the plot of the results of the <strong>MATLAB</strong> ikine6s with input <strong>Px, Py, Pz</strong> in the corresponding translation part of the desired homogenous transform matrix:</em></p>

<p><a href="https://i.stack.imgur.com/DzG54.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/DzG54.png" alt="enter image description here"></a></p>

<p><strong>Unity3D</strong>-<em>This is what I get for the same input and angles in <strong>Unity3D</strong>-the EE is off position(should be half inside white sphere):</em> </p>

<p><a href="https://i.stack.imgur.com/2Zl7n.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/2Zl7n.png" alt="http://i.imgur.com/cT3kqhW.png"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10602" data-toggle = "popover">
				<p>user name : hey</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-10602">{'3d-model': 5, 'None': 0, 'dh-parameters': 3, 'inverse-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10602">Load Comments</button></br>
			<div id = "commentsection-10602" class = 'collapse'>
			<div id = "comment-19049" class = "comment">
				<p>Well i guess its those axes...</p>
			</div>
			<div id = "comment-19051" class = "comment">
				<p>What changes do I need?</p>
			</div>
			</div>
				<textarea id = "speech-10602" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10602">
					<img id="start_img-10602" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10602">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10605"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10605" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is is hard to make out from the perspectives that you have included, but is seems that the matlap screenshot has a rotation of approx 45 degrees around the global z axis. Taking a look at the grid in the unitz screenshot it seems that the robot has also a 45 degree angle with the global vertical axes (y axis). </p>

<p>I would suggest the following:</p>

<ul>
<li><p>Check if the units match. Matlab uses radians while unity in most cases uses degrees for rotation</p></li>
<li><p>Check succession of children and parent game object in unity. Make sure that the root coordinate system is the one you think it is and that each linkage is the child of the previous one.</p></li>
<li><p>make sure that the coordinate systems where each linkage meets the next one un Unity corresponds to the Matlab one. This might be tricky, due to different coordinate systems. In Unity each game object has its own coordinate system. There are no rules on how these are oriented and they might be left or right handed. The coordinate system in Matlab is left handed and it is oriented according to the DH convention. Make sure that the coordinate system at the joints in Unity are the same as in Matlab or the joint angles are correctly transformed.</p></li>
<li><p>make sure that both system use the same handed coordinate systems, adjust if not</p></li>
<li><p>lookup which Denavit Hartenberg convention is used in Matlab (proximal, distal, modified, classic) and follow that in Unity</p></li>
</ul>

<p>If everything else fails (or you just do not want to bother with coordinate systems) and it is not important to squeeze out every bit of performance in Unity, you can use the built-in Inverse Kinematics in Unity.</p>

<p>UPDATE: build-in un Unity seems to only support humanoid models. Look in the assets tore for a free on which supports serial structures. </p>

<p>Troubleshooting:
Take the a MAtlab forward model. Get the position and orientation of each joint coordinate system in the global frame. Draw these in Unity in a global frame. See which is the first one which is not located at its corresponding joint. Fix then go forward until the last one is in place (at the EE). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10605" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10605">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10605">Load Comments</button></br>
			<div id = "commentsection-10605" class = 'collapse'>
			<div id = "comment-19066" class = "comment">
				<p>-isn't proximal/modifies and distal/classic reffering to the same convention? That's what I thought I don't know or stumbled across any other.   
-i had already double-checked dots 1,2 and 5 but explain dot 3 as I dont get what you exactly mean. As it goes for dot 4 I noticed, some time after I uploaded the question, that Unity uses a different coordinate system than MATLAB, so I changed the input in Unity (lets say MATLAB's is Px,Py,Pz) to Px,Pz,Py but I think I may leave out a minus sign, is it correct as it is? Or should it be Px,Pz,-Py ot sth else I miss. I have tried both.</p>
			</div>
			<div id = "comment-19067" class = "comment">
				<p>The EE is still off position, but I think the first suggestion is closer to the actual  desired EE position. Is there something else I should change? -I searched many of the scripts available in the Asset Store, but couldn't make out how to use them, so I decided to write my own.  -And lastly,  this is a very nice answer, it may help the most with the same question so I'll accept it, but try to help me a bit more to solve mine.</p>
			</div>
			<div id = "comment-19093" class = "comment">
				<p>I think you need the minus in the CS transformation but I am not completly sure. as for point 3 see the update of the post. I also added a troubleshooting method which may help</p>
			</div>
			<div id = "comment-19094" class = "comment">
				<p>To my knowledge, there are are 3 DH paramter sets form the 4 above just 2 are the same not 2-2. I might be wrong, chck out this paper: http://proceedings.asmedigitalcollection.asme.org/proceeding.aspx?articleid=1589602</p>
			</div>
			<div id = "comment-19095" class = "comment">
				<p>I updated the answer explaining point 3 better and with an added troubleshooting method.</p>
			</div>
			<div id = "comment-19096" class = "comment">
				<p>I guess point 3 and five are the same basically...sorry about that, types the answer in a hurry</p>
			</div>
			<div id = "comment-19187" class = "comment">
				<p>its ok, ill check out that paper, i accepted the answer and my model does exactly what the matlab does now, which is not exactly accurate, i found out. thanks for answering</p>
			</div>
			</div>
				<textarea id = "speech-10605" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10605">
					<img id="start_img-10605" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10605">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>