<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>On the ardupilot board, what is the difference between A10 ~ A11 ground pins and the PWM ground pins?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1496" class = "post">
			<h2>Question</h2>
			<div id="vote-1496" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 254</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>On the ardupilot board, what is the difference between A10 ~ A11 ground pins and the PWM ground pins?</h2>
<p>I'm looking for an electrical explanation of the statement <a href="http://copter.ardupilot.com/wiki/camera-mount/" rel="nofollow noreferrer">here</a>:</p>

<blockquote>
  <p>Warning: Do not connect power (red + &amp; black -) from the RC10 (A10) &amp;
  RC11 (A11) connectors to the servos, just use the signal lines. Power
  the servos via the PWM Outputs connectors. These solutions will avoid
  the scenario that can possibly happen when the Pan/Tilt servo draw too
  much current and cause the APM to brownout (reset)</p>
</blockquote>

<p>I examined the APM2.5 board drawing and schematic <a href="http://stuff.storediydrones.com/APM_v252_RELEASE.zip" rel="nofollow noreferrer">here</a> and the grounding is a little unclear. On the schematic, they all just go to GND, but on the board drawing some of the ground pins appear unconnected to traces. I checked for continuity, and there is no continuity between the PWM grounds and the A10/A11 ground pins. By the way, my power setup is that I have J1 enabled and I am using an ESC to power the board.</p>

<p>Can anyone figure out, electrically, what is between these two sets of ground pins?</p>

<p>Ground pins appear unconnected to the traces:</p>

<p><a href="https://i.stack.imgur.com/hLO2r.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/hLO2rm.jpg" alt="Ground pins appear unconnected to the traces"></a></p>

<p>PWM ground just connected to GND:</p>

<p><a href="https://i.stack.imgur.com/Fyzmo.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Fyzmom.png" alt="PWM ground just connected to GND"></a></p>

<p>analog output ground also connected to GND:</p>

<p><a href="https://i.stack.imgur.com/arrQR.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/arrQRm.png" alt="analog output ground also connected to GND"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1496" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1496">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1496">Load Comments</button></br>
			<div id = "commentsection-1496" class = 'collapse'>
			<div id = "comment-3170" class = "comment">
				<p>Can you upload an image of the schematic and link to it from this question?</p>
			</div>
			<div id = "comment-3171" class = "comment">
				<p>Ok, I've cut out the relevant bits of the schematic and the board diagram, and added them.</p>
			</div>
			</div>
				<textarea id = "speech-1496" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1496">
					<img id="start_img-1496" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1496">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1501"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1501" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found a possible answer for you <a href="https://groups.google.com/forum/#!topic/drones-discuss/baFSnoCtKJ0" rel="nofollow">here</a>:</p>

<blockquote>
  <p>A10 &amp; A11 are connected to the input rail because historically those were inputs and the Vcc rail was used to power the sensors.  When you attempt to power servos from the input rail, the extra current draw causes an additional voltage drop across the input diode and fuse and Vcc drops to brownout levels regardless if you are using a BEC or the Power Module.  If you are going to connect servos to A10 &amp; A11 you must provide an alternate source of power not Vcc from the input rail.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1501" data-toggle = "popover">
				<p>user name : Nate</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-1501">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1501" class = 'collapse'>
			</div>
				<textarea id = "speech-1501" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1501">
					<img id="start_img-1501" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1501">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>