<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>One motor, two wheels (motor direction rotates one wheel forward, reverse for other wheel)?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11251" class = "post">
			<h2>Question</h2>
			<div id="vote-11251" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 752</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>One motor, two wheels (motor direction rotates one wheel forward, reverse for other wheel)?</h2>
<p>Rewriting this whole question as I've learned a lot more since I first tried to ask.</p>

<p>I'm building a tiny bot and looking to use two motorized wheels for movement, but only one motor. I'll have a 3rd wheel (caster) for balance.</p>

<p>My goal is to have the wheels move opposite to each other when the motor turns and each wheel reverse direction when the motor reverses direction.</p>

<p>The tricky part is I want the ratio to be uneven between the wheels. By this, I mean when one wheel rotates clockwise, it should rotate faster than the other wheel rotating counter-clockwise. This needs to hold true regardless of which wheel is rotating which way.</p>

<p>The end result should be that I could run the motor in one direction continuously to have my bot drive in a small circle. If I switch motor directions, it would drive in the same size circle the opposite direction. If I alternate motor directions frequently enough, the bot should move in a fairly straight line (or if I alternate the motor too infrequently, an S like pattern).</p>

<p>The closest I can envision so far (thanks to those that have responded here) is to use bevel/miter gears to have my wheels rotate opposite to each other and then to use two differently sized ratcheting mechanisms per wheel working in opposite directions. This would allow each ratcheting mechanism to trigger only in one direction and the RPM per direction would be related to the size of that direction's ratcheting mechanism.</p>

<p>Is this the best way to achieve my goal? Is there a name for this concept or is it so uncommon I'll have to build/fabricate it all myself? As far as a ratcheting mechanism, I believe I'd be looking to use a freewheel clutch or I'd need an oscillating lever carrying a driving pawl over top a ratchet gear. My biggest struggle in finding affordable parts is the ratcheting mechanism.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11251" data-toggle = "popover">
				<p>user name : Mythics Winter</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11251">{'gearing': 1, 'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11251" class = 'collapse'>
			</div>
				<textarea id = "speech-11251" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11251">
					<img id="start_img-11251" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11251">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11252"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11252" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you talking about a bevel gear? <a href="https://www.youtube.com/watch?v=qx_kYB4jwhY" rel="nofollow noreferrer">Here's a video</a> - the gold gear would be connected to the motor and the blue gears would be connected to your wheels.</p>

<p>Both wheels are always powered - one is powered in forward and the other is powered in reverse. </p>

<p>You're not clear on the purpose of this device, so I don't know if this fits your needs.</p>

<p>A <a href="https://www.youtube.com/watch?v=K4JhruinbWc&amp;t=3m15s" rel="nofollow noreferrer">differential</a> allows the wheels to rotate at different speeds, but they generally still rotate in the same direction. You could use a brake band or something similar to lock an output axle and force all of the drive power to be delivered to the other wheel, but then one wheel is <em>locked</em> and not able to turn freely.</p>

<p>Hopefully this helps, but again I'm not clear on what you want to do. Generally it's best to provide your end application if you're looking for help on naming a particular mechanism.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11252" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11252">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11252">Load Comments</button></br>
			<div id = "commentsection-11252" class = 'collapse'>
			<div id = "comment-20365" class = "comment">
				<p>+1 Just for the awesome videos. A bevel gear would indeed be the start of what I believe I'd be looking for. The concept would require both wheels to only spin in one direction though. When attempting to spin in the "wrong" direction, I'd want full power on the other wheel that's spinning the "right" direction.</p>
			</div>
			<div id = "comment-20366" class = "comment">
				<p>As I think about it, it'd actually be best if each wheel always rotated one direction at a slightly higher rpm rather than either wheel locking up or rotating freely.</p>
			</div>
			<div id = "comment-20373" class = "comment">
				<p>@MythicsWinter - Instead of saying "+1", you can use the up/down arrows to the left of the answer to actually give (or take) points to a user. I'm very curious as to what your end application is - can you share any details?</p>
			</div>
			<div id = "comment-20383" class = "comment">
				<p>I did use the up arrow, but I am new to robotics on stackexchange and it will not display up/down votes until I have more reputation (10 or 20 I think it is). I added an edit to the question giving more detail. The gist of it is I want to make swarm bots with 2 motorized wheels using only one motor. No reverse, but have left/right turning capabilities and alternate running the motor to go "forward". I'm just getting started with electronics/arduino, but I'd be pretty happy to just use the concept for an obstacle avoidance bot.</p>
			</div>
			<div id = "comment-20384" class = "comment">
				<p>Using a bevel gearbox in combination with a ratchet/pawl or freewheel clutch system, I believe it'd work well enough, but I'm pretty sure I'll want one wheel working at a different ratio than the other (possibly having one wheel locked entirely) or the turning won't be predictable.</p>
			</div>
			<div id = "comment-20387" class = "comment">
				<p>@MythicsWinter - What actuates the ratchet/pawl/clutch? You are going to wind up (almost literally) re-designing the wheel here, using an expensive gear box and two actuators (motor and servo, maybe?) instead of just using two motors and a standard gearbox. Gears get more expensive when they are machined to tighter tolerances. Small/miniature gearboxes are thus naturally expensive because a tolerance of a tenth of an inch (a couple mm) might be an entire tooth. They are innately required to be highly precise, which makes them expensive. Just use two motors.</p>
			</div>
			<div id = "comment-20390" class = "comment">
				<p>While I'm sure you're not wrong, for me, designing something new/uncommon is what would make robotics fun. It's the innovation of even the most basic components that intrigues me. Right now, I'm about as green as they come, but I'd like to implement this basic movement concept even if it does cost a bit. I'm somewhat interested in buying my own 3D printer anyway. :P</p>
			</div>
			<div id = "comment-20391" class = "comment">
				<p>@MythicsWinter - If you're talking about making the gearbox from a 3d printer, I would **highly, highly recommend** you try to find a local Makerspace, library, university, etc. that would let you try a 3d print. The print quality of a reasonably affordable (<$1000) printer is not that great, requires lots of tuning, etc. Try one that's up and running and already tuned and see if that part works for you. You can use a service like Shapeways to get parts 3d printed on industrial-grade printers, but you're not going to get nearly the efficiency you need in a gearbox to make it feasible.</p>
			</div>
			<div id = "comment-20392" class = "comment">
				<p>Let us [continue this discussion in chat](http://chat.stackexchange.com/rooms/50452/discussion-between-chuck-and-mythics-winter).</p>
			</div>
			</div>
				<textarea id = "speech-11252" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11252">
					<img id="start_img-11252" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11252">Comment</button>
			<br><div id = "ans-11253"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11253" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Do you want the non-engaged wheel to be locked in place while the other wheel is rotating?  If so, I cannot think of any transmission that will do this easily without getting rather complicated.</p>

<p>If you can accept the non-engaged wheel being free to rotate (as if in neutral), then you may be able to take advantage of a clever arrangement of simple mechanisms to do the job.  The two that come to mind are both described at Carnegie-Mellon's <a href="https://www.cs.cmu.edu/~rapidproto/mechanisms/chpt8.html" rel="nofollow noreferrer">Introduction to Mechanisms course</a>.  You could place a ratchet that engages in one direction to drive the ratchet wheel attached to one wheel's axle, and does not engage when it is rotated the other direction.  Then do the reverse ratchet design for the other wheel.  You could also use two opposite-direction engaging overdriven clutches to accomplish the same purpose.</p>

<p>Both of these implementations will have considerable backlash, and the non-driven wheel will be uncontrolled.  It is not clear if that is acceptable to your application.</p>

<p>I do not know of any common term for such a device, but it sounds like fun to develop!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11253" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-11253">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11253">Load Comments</button></br>
			<div id = "commentsection-11253" class = 'collapse'>
			<div id = "comment-20371" class = "comment">
				<p>I would prefer the non-engaged wheel to still rotate, but in the opposite direction of the engaged wheel and around half the RPM of the engaged wheel. The ratchet concept sounds like a fairly reasonable alternative as well, I'm just having a hard time finding something I could simply purchase to fill this need (for super tiny wheels at a reasonable price). I'm quite the beginner in this area.</p>
			</div>
			<div id = "comment-20385" class = "comment">
				<p>A differential can be made to rotate, for example, "left wheel forward and right wheel reverse" when the motor spins in one direction, and the opposite when it spins in the other direction.  However, the forward and reverse ratios (speeds) are the same.</p>
			</div>
			<div id = "comment-20386" class = "comment">
				<p>The only option I can envision on my own then would be to use something to have the wheels rotate opposite to one another and two different sized ratcheting mechanisms like in your link, per wheel. One large one for driving the wheel forward and a small one for driving the wheel backward. I just wouldn't use the locking pawl for either. This is starting to sound doable now, if only I had the ability/skill/tools to craft it myself.</p>
			</div>
			</div>
				<textarea id = "speech-11253" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11253">
					<img id="start_img-11253" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11253">Comment</button>
			<br><div id = "ans-11255"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11255" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><hr>

<p>A freewheel clutch attached to each wheel will do what you want.</p>

<p>When turned in one direction the clutch will transmit power to the wheel but in the opposite direction it will free spin.</p>

<p>This way when the motor is turned in one direction one wheel will turn and in the other direction the other wheel will turn in the same direction as the first.</p>

<p>The catch is you will have no ability to reverse.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11255" data-toggle = "popover">
				<p>user name : Michael</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-11255">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11255">Load Comments</button></br>
			<div id = "commentsection-11255" class = 'collapse'>
			<div id = "comment-20370" class = "comment">
				<p>Any idea how to go about finding a freewheel clutch for a super tiny wheel? =\  I'm talking axle of around 5mm.</p>
			</div>
			<div id = "comment-20399" class = "comment">
				<p>Another name for freewheeling clutches is sprag clutches (different mechanism, same effect)

Dynatect's Polyclutch range is their smallest. They will go down to an axle of 5mm but the housing may or may not be small enough.
[link](http://www.dynatect.com/mechanical-motion-control/slip-clutches/one-way)

Otherwise, this guy built his own using Lego Technic
[link](https://www.youtube.com/watch?v=pGgv7VNb6Nk)</p>
			</div>
			</div>
				<textarea id = "speech-11255" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11255">
					<img id="start_img-11255" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11255">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>