<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>One BEC for multiple ESC (Quadcopter)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-979" class = "post">
			<h2>Question</h2>
			<div id="vote-979" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 5027</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>One BEC for multiple ESC (Quadcopter)</h2>
<p>I'm building a quadcopter and have discovered that most ESC have a built-in BEC, but I was wondering if it wouldn't be better to use only one.</p>

<p>What if I delivered power to my four ESC with a unique BEC ? Would that work ?
I think this would be easier to configure (you have to set it up only once for the four ESC) and it would prevent each ESC from having it's own behavior.</p>

<p>Am I doing it wrong ?</p>

<p>Here is an image of what I'm talking about :</p>

<p>Edit : trying to find the original image and upload it.</p>

<p>Given the <a href="https://robotics.stackexchange.com/a/982/37">answer by Ian McMahon</a> it appears that this schema is not the right thing to do, since I had misunderstood the role of BECs.</p>

<p>So would the right schema would look like this ?
Edit : trying to find the original image and upload it.
I'm still not sure if I'm getting it.</p>

<p>Do I need 4 ESCs with integrated BECs and connect all three cables to flight controller ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-979" data-toggle = "popover">
				<p>user name : mimipc</p>
				<p> user reputation : 240</p>
				<p class = "tagcontent" id = "usertaginfo-979">{'quadcopter': 11, 'stability': 9, 'None': 4, 'battery': 5, 'bec': 2, 'brushless-motor': 3, 'esc': 2, 'electronics': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-979">Load Comments</button></br>
			<div id = "commentsection-979" class = 'collapse'>
			<div id = "comment-2317" class = "comment">
				<p>So the right schema would look like this ?
I'm still not sure if I'm getting it.
Do I need 4 ESCs with integrated BECs and connect all three cables to flight controller ?
[<img src="http://img43.imageshack.us/img43/6963/escbec2.png">](http://img43.imageshack.us/img43/6963/escbec2.png)</p>
			</div>
			<div id = "comment-2318" class = "comment">
				<p>This is what I was suggesting, yes.  In this case, only the "west" ESC is supplying power to the controller.  You could certainly choose an ESC with integrated BEC for the "west" controller, but not for the other three, but likely you'll want to make sure they're all the same, because different ESCs may work slightly (or significantly) differently, which could be a challenge for your quadrotor :)</p>
			</div>
			<div id = "comment-2319" class = "comment">
				<p>I'm also thinking about taking 4 ESCs without integrated BECs plus one standalone BEC. Could this possibly work ?</p>
			</div>
			<div id = "comment-2320" class = "comment">
				<p>Yep, absolutely.  In that case, you'd feed the BEC off the battery, same as the ESCs, and then run the flight controller off the BEC's output.  All a BEC is is a little switching regulator that'll take some range of input (probably something like 7-12V) and put out regulated 5V (or 6V, some of them are switchable because some servos like 6V).

I've built a couple of these, I'll put some details up in my answer (where I can embed images)</p>
			</div>
			<div id = "comment-2321" class = "comment">
				<p>Thanks again, I really apreciate your comments. So the programmable part (cutoff, brakes, soft start, etc.) is handled by the ESCs ? I thought it was the BEC !</p>
			</div>
			<div id = "comment-2322" class = "comment">
				<p>Nope, that's all the ESC doing that.  An Electronic Speed Controller is a digital three phase generator that runs DC three phase motors, which is what brushless DC motors are.  It does electronic commutation.  All the BEC is there for is as a voltage regulator.</p>
			</div>
			<div id = "comment-2323" class = "comment">
				<p>The BECs in a speed controller can be linear or switching. Generally 20amp up uses switching, but check the specs to be sure. You do not need to cut the power wire to the receiver on any if they are linear. You must cut the power on all but 1 if the are switched. Some boards like the KK v2, but not many, ignore all but speed controller 1, and then it is ok to leave them all connected.</p>
			</div>
			<div id = "comment-2324" class = "comment">
				<p>@mimipc - If you have supplementary questions, please request clarification by commenting on an answer or editing your question. Stack exchange doesn't work like a forum, each question is intended to ask a question, while each answer should attempt to provide an answer to that question. Posting an answer which just asks several more questions doesn't fit with the way Stack Exchange works.</p>
			</div>
			<div id = "comment-2325" class = "comment">
				<p>This sort of discussion is better off on Robotics [Chat] or on a forum. If there is useful information in these comments then please edit that information into another answer or into the question before I tidy up (delete) these comments.</p>
			</div>
			<div id = "comment-11637" class = "comment">
				<p>It looks like the images you uploaded here have been replaced with advertisements by ImageShack. Do you have backup copies, by any chance?</p>
			</div>
			<div id = "comment-11645" class = "comment">
				<p>Thanks for letting me know, I'll try to find the original one.</p>
			</div>
			</div>
				<textarea id = "speech-979" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-979">
					<img id="start_img-979" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-979">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-982"  class = "post">
				<h2>Answer</h2>
			<div id="vote-982" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Typically you want to power the ESCs directly from the battery, and use a BEC to power 5v electronics such as your controller.  However, a lot of ESCs have the ability to provide 5v power back to the controller over the 5v line on their control cable (servo-style 3 pin cable).  In that case, you wouldn't need to use a BEC at all, but it's possible you might have issues with more than one ESC all trying to supply power on the 5v line with them all hooked together.  For maximum flexibility, it might make sense to select an ESC which has switchable BEC capability.</p>

<p>My project experience (since removed) can be found in an <a href="https://robotics.stackexchange.com/revisions/982/2">earlier revision of this answer</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-982" data-toggle = "popover">
				<p>user name : Ian McMahon</p>
				<p> user reputation : 256</p>
				<p class = "tagcontent" id = "usertaginfo-982">{'walk': 10, 'mobile-robot': 10, 'None': 6, 'rcservo': 6, 'arduino': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-982">Load Comments</button></br>
			<div id = "commentsection-982" class = 'collapse'>
			<div id = "comment-2294" class = "comment">
				<p>Thanks for your answer. I was completely wrong regarding the usage of BECs. That's why many people cut the red wire on all but one ESCs. This powers the flight controller and it only needs ground and control lines to send data back. Right ?</p>
			</div>
			<div id = "comment-2295" class = "comment">
				<p>Exactly.  If you were to cut the red wire on three of the four ESCs, and let the fourth one power your controller, you should be good to go.  Now, if you need more current than one ESC can supply, you may need to rethink this, but you probably won't.  They're designed to power a receiver and a bunch of servos, and servos likely consume much more power than your controller will.</p>
			</div>
			<div id = "comment-2313" class = "comment">
				<p>@IanMcMahon - What is the relevance of your pictures to your answer?</p>
			</div>
			<div id = "comment-2316" class = "comment">
				<p>@IanMcMahon - Comments are intended to help improve the quality of an answer (or question) rather than responding to a comment like this with another comment, it is better to edit your answer, that way the comment can be tidied up (deleted) and it will no longer distract readers from the answer itself.</p>
			</div>
			<div id = "comment-11655" class = "comment">
				<p>Hi @IanMcMahon, you didn't need to remove the video links, I just thought it would be nice if you could mention why you thought they were relevant. Your answer is probably better without them, but I have added a link so that people can get to them easily if they are interested. I still think that you should fold the info in your 14:48 comment into the answer though, it would improve your answer and help tidy thing up the comments.</p>
			</div>
			</div>
				<textarea id = "speech-982" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-982">
					<img id="start_img-982" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-982">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>