<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>OpenNI vs OpenNI2 file difference
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10594" class = "post">
			<h2>Question</h2>
			<div id="vote-10594" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 135</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>OpenNI vs OpenNI2 file difference</h2>
<p>I am relatively new to c++ and to OpenNI2 so forgive me if this is fundamental. I have received software from someone to use in my final year project. His software has multiple source and header files and makes use of OpenCV and OpenNI.</p>

<p>Note: I am using Visual Studios 2015, on a windows 64bit Laptop.</p>

<p>My error now is that there is one final header file I am unable to include because it cannot be found anywhere in the installed OpenNI2 program files. I have been able to add all the libraries and do the 'linker'and include stuff correctly in the project properties.</p>

<p>The file is : '<strong><em>XnCppWrapper.h</em></strong>' , which through googling i have found is available in the OpenNI program files, however i have OpenNI2 installed.</p>

<p>Will i be able to download and install OpenNI to only use this one file and use OpenNI2 aswell? Or will my whole project need to work off one or the other?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10594" data-toggle = "popover">
				<p>user name : James Mallett</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-10594">{'stereo-vision': 4, 'None': 0, 'computer-vision': 4, 'cameras': 4, 'c++': 0, 'servomotor': 0, 'opencv': 0, 'motor': 0, 'stepper-motor': 0, 'openni': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10594">Load Comments</button></br>
			<div id = "commentsection-10594" class = 'collapse'>
			<div id = "comment-19190" class = "comment">
				<p>First: This is not a robotics question at all.

But to (partly) answer your question: I am almost 100% sure, that you will not succeed in mixing headers of the two OpenNI versions. Stick with one or the other. Be careful which sensor you use: At least with linux, ONI2 does not support the Kinect 1.</p>
			</div>
			</div>
				<textarea id = "speech-10594" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10594">
					<img id="start_img-10594" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10594">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>