<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Optimal trajectory for manipulators using optimal control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8387" class = "post">
			<h2>Question</h2>
			<div id="vote-8387" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 230</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Optimal trajectory for manipulators using optimal control</h2>
<p>I'm trying to implement direct-multiple shooting method to my problem.</p>

<pre><code>Objective function: tf
constraints       : q&lt;q_max
                    v&lt;v_max (v=dq/dt)
                    a&lt;a_max
                    tau&lt;tau_max (tau=M(q)a+B(q,v)+G(q))
                    C(q)=r_0-|P-P_0|  (obstacle avoidance)

Initial condition q(0)=q_0 (q_0 is given) 
                  q(t_f)=q_f (q_f is given) and 
                  v(0)= 0
                  v(t_f)=0
</code></pre>

<p>As I understand from the theory, I have to divide the variables as state variables and control variables.</p>

<pre><code>State variables are: q and v 
Control variable is: tau
In each time interval I'll generate cubic splines which are q(t)=a_0+a_1*t+a_2*t^2+a_3*t^3
</code></pre>

<p>Could you help me how I will implement it? I don't understand what is the ODE here and how I should construct the algorithm?</p>

<p>Are there any example about it?</p>

<p>edit to make the equations clear I'll rewrite them here again:</p>

<p>based on the link</p>

<p>state variables:
<code>x1(t) = (q1(t) ,   ,qn(t))^T</code> and <code>x2(t) = (q 1(t) ,   ,q n(t))^T</code>.  and derivatives of the state variables are equal to <code>x (t) = f(x(t) ,u(t))</code> where f is
<code>f(x(t), u(t)) = ((q 1(t), . . . , q 5(t))^T;
                  M(x(t)) 1  (u(t)   N(x(t)))</code> </p>

<p>I don't know how to insert cubic polynomials in that equation system and how to solve ODE Will it be like <code>[T,X]=ode45('f', [0 t_f], [q_0 q_f])</code> </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8387" data-toggle = "popover">
				<p>user name : user70299</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-8387">{'None': 0, 'manipulator': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8387">Load Comments</button></br>
			<div id = "commentsection-8387" class = 'collapse'>
			<div id = "comment-13492" class = "comment">
				<p>What exactly are you having trouble with? What ODE are you trying to make? Can you link to a page that explains the algorithm you're trying to use?</p>
			</div>
			</div>
				<textarea id = "speech-8387" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8387">
					<img id="start_img-8387" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8387">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10311"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10311" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>@chuck: thanks for reading my answer and give advice that there is room for improvement. I would like to try out the edit button to improve my answer. </p>

<p>But to the topic:</p>

<p>A lock into history of optimal control may help to answer the question. A classical problem which is over 200 years old is the two body problem. Later in 1760 Leonhard Euler described the three-body-problem. In both cases, a mathematical system is used for describing the problem itself. The formula which describes the three body problem and the problem from the original post also are called "ordinary differential equation" (ODE). The solution for solving these kind of problem is to use a transfer function which is a backward ODE.</p>

<p>In robotics for most problems such a backward function is impossible to create because the mathematical theory has no answer. So in most cases the three-body-problem and also robotics problems are solved with numerical solver which are not very elegant but uses bruteforce searching to detemine the parameter.</p>

<blockquote>
  <p>Could you help me how I will implement it? </p>
</blockquote>

<p>Optimal Control with obstacle avoidance can only be done with a numerical solver like A* or others. It is not poassible to use a ODE for this kind of task, it is a np-hard problem. An example implementation in matlab is done <a href="http://tomopt.com/docs/propt/tomlab_propt075.php" rel="nofollow">by</a>. The author used the "OPTRAGEN 1.0 A MATLAB Toolbox for Optimal Trajectory Generation" for generating trajectory between obstacles.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10311" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10311">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10311">Load Comments</button></br>
			<div id = "commentsection-10311" class = 'collapse'>
			<div id = "comment-18493" class = "comment">
				<p>Welcome to *Robotics* ManuelRodriguez. Thanks for your answer but we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content disappears. If you add more context from the link, it is more likely that people will find your answer useful.</p>
			</div>
			<div id = "comment-18494" class = "comment">
				<p>Also, it looks like you may have created two accounts. If so, then please follow the instructions at [I accidentally created two accounts; how do I merge them?](http://robotics.stackexchange.com/help/merging-accounts) Stack Exchange only allows an individual to actively use one account. Any and all duplicates should be merged into your main account.</p>
			</div>
			<div id = "comment-18525" class = "comment">
				<p>I will not downgrade my own answer.</p>
			</div>
			<div id = "comment-18546" class = "comment">
				<p>I'm not asking you to "downgrade" it, I'm asking you to expand it. What's the name of the paper? Who is the author? What's the name of the method? Where can you get the toolbox?</p>
			</div>
			</div>
				<textarea id = "speech-10311" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10311">
					<img id="start_img-10311" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10311">Comment</button>
			<br><div id = "ans-10709"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10709" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have asked a complex question, and from your question it seems that there a lot of basic underlying concepts that you are not familiar with. Since you are new to ODEs, path planning and possibly robotics I would advise to take a stepwise approach:</p>

<ol>
<li><p>Take a look at how s-curves trajectory planning is done for robotic manipulators. You will se how the trajectory equation looks like for positions, velocities, accelerations and possibly jerks. The way the trajectory is defined will surly explain what is the ODE when talking about trajectory planning. You can find explanations <a href="http://www-lar.deis.unibo.it/people/cmelchiorri/Files_Robotica/FIR_07_Traj_1.pdf" rel="nofollow">here</a> and here <a href="http://www.diag.uniroma1.it/~deluca/rob1_en/13_TrajectoryPlanningJoints.pdf" rel="nofollow">here</a> and second half of <a href="http://www.ene.ttu.ee/elektriajamid/oppeinfo/materjal/AAR0040/03_Robotics.pdf" rel="nofollow">this</a> document</p></li>
<li><p>Take a look at path planning with obstacle avoidance. Here you can learn how optimality criteria (cost function) are defined and used. <a href="https://www.youtube.com/watch?v=f2wk6xEdSGk" rel="nofollow">Here</a> and <a href="http://ais.informatik.uni-freiburg.de/teaching/ss11/robotics/slides/18-robot-motion-planning.pdf" rel="nofollow">here</a> and the first half of this <a href="http://www.ene.ttu.ee/elektriajamid/oppeinfo/materjal/AAR0040/03_Robotics.pdf" rel="nofollow">document</a></p></li>
<li><p>Read about optimal control. Before solving complex problems with optimal control, solve simple examples and make sure you understand them. Introduction <a href="http://www.cmapx.polytechnique.fr/~boscain/AUTOMATICS/introduction-to-optimal-control.pdf" rel="nofollow">here</a></p></li>
<li><p>Combine all of the above. If you know how trajectory planning works, how path planning works and how optimal control works, you are in a position to combine them.  </p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10709" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10709">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10709" class = 'collapse'>
			</div>
				<textarea id = "speech-10709" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10709">
					<img id="start_img-10709" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10709">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>