<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Optimal location of the center of mass for an inverted pendulum
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9082" class = "post">
			<h2>Question</h2>
			<div id="vote-9082" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 358</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Optimal location of the center of mass for an inverted pendulum</h2>
<p>I'm building an inverted pendulum to be controlled by DC motors, but I've run across a conundrum.  Personal life experience tells me that it's better to have a lower center of mass to maintain balance.  On the other hand, the greater the moment of inertia (e.g. the higher the center of mass), the easier it is to maintain balance as well.</p>

<p>These two views both seem plausible, and yet also seem contradictory.   For an inverted pendulum, is there an optimal balance between the two perspectives?  Or is one absolutely right while the other absolutely wrong?  If one is wrong, then where is the error in my thinking?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9082" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-9082">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9082" class = 'collapse'>
			</div>
				<textarea id = "speech-9082" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9082">
					<img id="start_img-9082" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9082">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9083"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9083" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can answer this by considering the equations of motion of an inverted pendulum:  $$\ddot{\Theta} = \frac{g}{l} \sin(\Theta)$$</p>

<p>If you agree that the easiest system to control is that which has the smallest $\ddot \Theta$ for you to compensate, then you have three options:</p>

<ol>
<li><p>Control the pendulum on the moon to lower $g$</p></li>
<li><p>Keep the pendulum close to $\Theta = 0$, because $\sin(\Theta) \rightarrow \Theta$ for small values of $\Theta$.</p></li>
<li><p>Make $l$ as large as possible.  $l$ is the distance to the center of mass along the link.</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9083" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9083">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9083">Load Comments</button></br>
			<div id = "commentsection-9083" class = 'collapse'>
			<div id = "comment-14986" class = "comment">
				<p>While this is a good physics-centric answer, it ignores all the feedback aspects of this problem. This is the motion, but as it drifts and the system attempts to compensate, it will become more difficult to correct the position the further you get from vertical. From a feedback perspective, you would want the mass of the pendulum to be as low as possible (and CM being close to the fulcrum would help too)</p>
			</div>
			<div id = "comment-14987" class = "comment">
				<p>Oppenheim wrote a great book *Signals and Systems.*  Look at 26.13 and 26.14 from here: http://ocw.mit.edu/resources/res-6-007-signals-and-systems-spring-2011/lecture-notes/MITRES_6_007S11_lec26.pdf   This example includes proportional and derivative control, and shows that the distance of the poles from the origin of the s plane varies indirectly with $l$.  I am ignoring practical aspects such as impedance matching, speed of controller response, etc., but I don't think adding feedback without any of those limitations changes my answer.</p>
			</div>
			<div id = "comment-15004" class = "comment">
				<p>Interesting. I'll be sure to give that one a read. Perhaps you should edit your answer to include the control aspect of your answer. I suspect that is what Ian is really looking for, not just a physics answer (that is what I was trying to convey with my first comment)</p>
			</div>
			</div>
				<textarea id = "speech-9083" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9083">
					<img id="start_img-9083" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9083">Comment</button>
			<br><div id = "ans-9084"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9084" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Lower centers of mass are <em>more</em> stable, but an inverted pendulum is inherently unstable; any perturbation will set it off. </p>

<p>The height to center of mass depends on how much track you have available, your reaction time, how you're measuring displacement/force, etc.</p>

<h2>:EDIT:</h2>

<p>To elaborate on my statement above, say you're estimating pendulum position by the reaction force on the carriage, where the force on the carriage is </p>

<p>$$F_{\mbox{reaction}} = (mg)L\sin{\theta}$$</p>

<p>Well, in that instance, if the reaction force is constant (say you're evaluating the minimum detectable force), then the angle associated with that force declines as the pendulum length $L$ increases. </p>

<p>Similarly, if you've got a rotary/angular encoder that has some minimum detectable angle, then the reaction force that puts on your carriage increases as the pendulum length increases.</p>

<p>In addition to the minimum detectable cases, consider the <em>kinetic energy</em> of the pendulum. This is an inverted pendulum, so the portion of the potential energy that is converted to kinetic energy is given by:</p>

<p>$$ \mbox{KE} = \mbox{PE}_{\mbox{initial}} -  \mbox{PE}_{\mbox{final}} \\
\mbox{KE} = mgL - mgL\cos{\theta} \\
\mbox{KE} = (mg)*L(1-\cos{\theta}) \\
$$</p>

<p>(All of this assumes $\theta=0$ when the pendulum is vertical, by the way, just in case there's any confusion)</p>

<p>So, here again, for a constant $\theta$, the longer the pendulum length is the more kinetic energy the pendulum has. Assuming that you are again considering the minimum detectable case, this means that the longer the pendulum length is, the more kinetic energy the system has <em>before you get a chance to respond</em>.</p>

<p>So now, in addition to the fact that you're traversing more track ($\Delta x = L\sin{\theta} \approx L\theta$), the pendulum also has a higher starting kinetic energy, which means now you have to take a larger control action to damp the motion and return to steady state. </p>

<p>So, in summary:</p>

<ol>
<li>If you're measuring the angle of the pendulum directly, a shorter pendulum length would be preferred because it minimizes the kinetic energy of the pendulum by the time you detect motion. </li>
<li>If you're estimating the angle of the pendulum by measuring reaction force on the carriage, a longer pendulum length would be preferred because this corresponds to a smaller angle, which in turn corresponds to lower initial kinetic energy. </li>
</ol>

<p>I made a short spreadsheet to generate some plots to show the differences:</p>

<p><a href="https://i.stack.imgur.com/2gZGN.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/2gZGN.png" alt="Inverted Pendulum Energy"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9084" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9084">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9084">Load Comments</button></br>
			<div id = "commentsection-9084" class = 'collapse'>
			<div id = "comment-14988" class = "comment">
				<p>So, a lower center of mass makes it more difficult to move away from equilibrium (assuming you already started out there), but a higher center of mass makes it easier to move back to the equilibrium?</p>
			</div>
			<div id = "comment-14989" class = "comment">
				<p>Also, the dependence of the optimal CoM height on reaction time and track availability make sense, but what do you mean when you say that it also depends on "how you're measuring displacement/force, etc."  Could you elaborate on that a bit more?</p>
			</div>
			<div id = "comment-15001" class = "comment">
				<p>@Paul - Please see my updated response. Sorry for the brevity in the initial response; it was late and I was on my phone.</p>
			</div>
			<div id = "comment-15019" class = "comment">
				<p>If I'm using an accelerometer to measure the angle, which category would this fall under?  Direct angle or reaction force?</p>
			</div>
			<div id = "comment-15029" class = "comment">
				<p>I don't know where your accelerometer is; on the top and I'd say angle, on the carriage and I'd say force.</p>
			</div>
			</div>
				<textarea id = "speech-9084" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9084">
					<img id="start_img-9084" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9084">Comment</button>
			<br><div id = "ans-9085"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9085" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The two views are not contradictory; they apply to two different situations, which you are treating as a single one.</p>

<p>Your personal experience about having a low center of mass applies to situations where there is a stable position -- a local minimum height for the center of mass.  For example, if you have a vase on a shelf, the height of the vase's center of mass (in relation to the width of its base) determines how far it can wobble from side to side without tipping over.  Shown here with trucks:</p>

<p><a href="https://i.stack.imgur.com/Xq4Ao.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Xq4Aom.jpg" alt="Stability vs the height of the center of mass"></a></p>

<p>The wobbling of a vase represents the tendency of the vase's center of mass to return to that local minimum height. If it tips over too far, the center of mass will find a different (and undesirable) minimum height.</p>

<p>The inverted pendulum situation has no "stable" position -- no local minimum for the center of mass.  This shouldn't be surprising, because it rests on a single point. </p>

<p><a href="https://i.stack.imgur.com/tKXT9.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/tKXT9m.png" alt="enter image description here"></a></p>

<p>So in the vase example, once the vase begins its inevitable fall, the height of the vase's center of mass affects how much time it will take to complete that movement.  In the case of the inverted pendulum, this affects how much time you have to correct for that undesired outcome.</p>

<p>So if either one of these is the "absolutely wrong" way to look at an inverted pendulum, it's the "resting in a stable position" situation.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9085" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9085">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9085" class = 'collapse'>
			</div>
				<textarea id = "speech-9085" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9085">
					<img id="start_img-9085" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9085">Comment</button>
			<br><div id = "ans-11800"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11800" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since your control input to the system acts only on the cart, then you can influence the pendulum angle only due to the coupling between the cart motion and the pendulum motion.  If you were to put the pendulum CG at the pivot, there is no coupling between the cart and the pendulum, and the pendulum angle is no longer controllable.  This can be verified by checking the system's controllability matrix.</p>

<p>On paper, having a non-zero $l$ is good enough - the system is controllable as soon as the CG is not on the pivot axis.  In practice, however, you need to be able to control the pendulum angle when a reasonable amount of force is applied to the cart (what is reasonable depends on your preferences and budget).  When the pendulum is vertical ($\theta$ = 0), the pendulum acceleration is proportional to the cart acceleration:</p>

<p>$$
\ddot{\theta} I = -\ddot{x} m l
$$</p>

<p>If your goal is just to stabilize the pendulum, it may be desirable to have a large $m l$ and a small $I$ - so your control inputs more directly affect the pendulum angle.  If you have constraints on force (and power), cart displacement, etc. or if you have other goals then you may have to choose these parameters differently.</p>

<p>As pointed out in other answers, some systems are more stable when the CG is lower.  An inverted pendulum, however, is unstable (or for $\theta = 0$, marginally stable) for all (non-zero) values of $l$, so this theory doesn't apply.  In general, it is desirable to have a large $l$ and small $I$ because it makes it easier to control the pendulum.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11800" data-toggle = "popover">
				<p>user name : Kerry</p>
				<p> user reputation : 86</p>
				<p class = "tagcontent" id = "usertaginfo-11800">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11800" class = 'collapse'>
			</div>
				<textarea id = "speech-11800" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11800">
					<img id="start_img-11800" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11800">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>