<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Optimal-time acceleration sequence of a line-following robot following a moving obstacle
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8058" class = "post">
			<h2>Question</h2>
			<div id="vote-8058" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 213</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Optimal-time acceleration sequence of a line-following robot following a moving obstacle</h2>
<p>Say we have a line-following robot that has a moving obstacle in front, that is a one-dimensional problem. The moving obstacle is defined by its initial state and a sequence of (longitudinal) acceleration changes (the acceleration function is piecewise constant). Let's say the robot can be controlled by specifying again a sequence of acceleration changes and its initial state. However, the robot has a maximum and minimum acceleration and a maximum and minimum velocity. How can I calculate the sequence of accelerations minimizing the time the robot needs to reach a goal. Note that the final velocity must not necessarily be zero.</p>

<p>Can you briefly explain how this problem can be addressed or point me to some references where an algorithm is described? Or point out closely related problems?</p>

<p>Furthermore, does the solution depend on the goal position or could the robot just brake as late as possible all the time (avoiding collisions) and still reach any goal in optimal time?</p>

<p>A more formal problem description:
Given the position of the obstacle $x_B(t) = x_{B,0} + \int_{t_0}^t v_B(t) dt$, and the velocity of the obstacle $v_B(t) = v_{B,0} + \int_{t_0}^t a_B(t) dt$, where $a_B$ is a known piecewise constant function:</p>

<p>$$a_B(t) = \begin{cases} a_{B,1} &amp; \text{for } t_0 \leq t &lt; t_1 \\
a_{B,2} &amp; \text{for } t_1 \leq t &lt; t_2 \\
\dots &amp; \\
\end{cases}$$</p>

<p>and given the initial state of the line-follower $x_{A,0}, v_{A,0} \in \mathbb{R}$ we search for piecewise constant functions $a_A$, where $a_{min} \leq a_A(t) \leq a_{max}$, $v_{min} \leq v_A(t) \leq v_{max}$ and $x_A(t) \leq x_B(t)$ (collision freeness) holds at all times. Reasonable assumptions are e.g. $v_B(t) \geq 0$ and $x_{B,0} \geq x_{A,0}$. Among the feasible solutions I would like to pick those minimizing $\int_{t_0}^{\infty} x_B(t) - x_A(t) dt$ or a similar objective. Approximation algorithms are also ok.</p>

<p>Some numbers for those who would like a test input:
<a href="http://pastebin.com/iZsm2UhB" rel="nofollow">http://pastebin.com/iZsm2UhB</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8058" data-toggle = "popover">
				<p>user name : user1225999</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-8058">{'control': 3, 'mobile-robot': 3, 'None': 1, 'motion-planning': 3, 'line-following': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8058" class = 'collapse'>
			</div>
				<textarea id = "speech-8058" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8058">
					<img id="start_img-8058" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8058">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8059"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8059" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Assuming constant accelerations, "stopping" (slowing) distance can be calculated with:</p>

<p>$$
x = x_0 + v_0 t + \frac{1}{2} a t^2 \\
$$</p>

<p>where $x_0$ is your initial position, $v_0$ is your initial speed, $a$ is your acceleration, and $t$ is time. Assuming you are trying to get from one constant speed to another constant speed, you can calculate the time required to achieve the speed change with:</p>

<p>$$
v = v_0 + a t \\
t = \frac{v - v_0}{a} \\
$$</p>

<p>You question isn't especially clear to me - do you know the moving obstacle's acceleration profile before the challenge starts? Do you program your line-following robot completely before the start of competition? (i.e., you don't just look at the distance between yourself and the obstacle?)</p>

<p>If you know and program everything in advance, then you should have your robot as close to the obstacle as possible any time the obstacle is about to have a positive acceleration and you should leave the correct "stopping" distance between yourself and the obstacle any time the obstacle is about to have a negative acceleration. You have to take the obstacle's slowing and accelerating distances into account as well.</p>

<p>I would start at the end - you know your speed ($0$) and position ($x_{\mbox{end}}$) at the end of the course, and you should be able to calculate the obstacle's position, speed, and acceleration at the end of the course as well, by using the speed and position equations together with the acceleration profile.</p>

<p>Assuming obstacle initial conditions of $x_0 = 0$ and $v_0 = 0$ at $t_0 = 0$, then you can calculate the speed and position after the first acceleration period:
$$
x_1 = x_0 + v_0 t + \frac{1}{2} a t^2 \\
x_1 = x_0 + v_0 (t_1 - t_0) + \frac{1}{2} a (t_1 - t_0)^2 \\
x_1 = 0 + 0 (t_1 - 0) + \frac{1}{2} a (t_1 - 0)^2 \\
\boxed{x_1 = \frac{1}{2} a (t_1)^2 \\}
$$</p>

<p>$$
v = v_0 + at \\
v = v_0 + a (t_1 - t_0) \\
v = 0 + a (t_1 - 0) \\
\boxed{v = a (t_1) \\}
$$</p>

<p>For each segment in the acceleration profile N, you can increment the speeds and positions:</p>

<p>$$
x_N = x_{N-1} + v_{N-1}(t_N - t_{N-1}) + \frac{1}{2} a_N (t_N - t_{N-1})^2 \\
v_N = v_{N-1} + a_N (t_N - t_{N-1}) \\
$$</p>

<p>Keep incrementing through the acceleration profile until $x_N &gt;= x_{\mbox{end}}$. </p>

<p>Now, work backwards. This depends in part on the problem definition - you will reach the goal faster if you can "tag" the goal like a baseball player would "tag" home - running over it at full speed. However, you may need to <em>stop</em> at the goal in order to have "reached" the goal. This is a point you should seek clarification on. In any event, the line follower's $x_N$ should be $x_{\mbox{end}}$ and the $v_N$ should be:</p>

<ol>
<li>$v_{\mbox{max}}$, if the obstacle's $v_N$ at that point is higher than the line follower's $V_{\mbox{max}}$, or</li>
<li>$v_{\mbox{line follower}}$, if the obstacle's speed is <em>lower</em> than your $v_{\mbox{max}}$ at that point, or </li>
<li>0, if you're required to be stationary at the the target. </li>
</ol>

<p>From your end conditions, work backward, trying to put the line-follower as close as possible to the obstacle while always allowing for braking/slowing distances. You can check your answer by incrementing through the positions and velocities again, this time using <em>differential</em> values:</p>

<p>$$
x_{N_{\mbox{diff}}} = x_{(N-1)_{\mbox{diff}}} + v_{(N-1)_{\mbox{diff}}} (t_N - t_{N-1}) + \frac{1}{2} a_{N_{\mbox{diff}}} (t_N - t_{N-1})^2 \\
$$
$$
v_{N_{\mbox{diff}}} = v_{(N-1)_{\mbox{diff}}} + a_{N_{\mbox{diff}}}(t_N - t_{N-1})\\
$$</p>

<p>where the differential values are $x_{\mbox{diff}} = x_{\mbox{obstacle}} - x_{\mbox{line follower}}$ and $v_{\mbox{diff}} = v_{\mbox{obstacle}} - v_{\mbox{line follower}}$. With these equations you're looking at the <em>differential</em> position - the distance <em>between</em> the obstacle and the line follower - if $x_{\mbox{diff}}$ is ever less than zero you're doing something wrong because it means your line follower is further ahead than your obstacle is!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8059" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8059">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8059">Load Comments</button></br>
			<div id = "commentsection-8059" class = 'collapse'>
			<div id = "comment-12848" class = "comment">
				<p>Yes I know the acceleration profile in advance and yes I intend to plan the idealized acceleration profile of my robot in advance.</p>
			</div>
			<div id = "comment-12849" class = "comment">
				<p>The crucial point of my question is: How can I put my line-follower as close as possible to the obstacle while always allowing for braking/slowing distances?</p>
			</div>
			<div id = "comment-12850" class = "comment">
				<p>Use the differential position equation. Try setting $x_{N_{\mbox{diff}}} = 0$ and solving for $a_{N_{\mbox{diff}}}$, which is equal to $a_{\mbox{obstacle}} - a_{\mbox{line follower}}$, then solve for the line follower's acceleration.</p>
			</div>
			<div id = "comment-12851" class = "comment">
				<p>One problem: The position of the line follower at time t depends on the unknown accelerations at times before t. Furthermore, the times when the line follower needs to change the accelerations are unknown. Also a differential position =0 at the end might not be feasible (e.g. if the obstacle exceeds the maximum velocity of the robot.</p>
			</div>
			<div id = "comment-12852" class = "comment">
				<p>I thought you said the acceleration profile was known. Update your question posting an example acceleration profile of the obstacle, the top speed of the follower, the acceleration *and* deceleration rate of the follower, and I'll give you some sample code to get started.</p>
			</div>
			<div id = "comment-12856" class = "comment">
				<p>The acceleration profile of the obstacle is known and the acceleration profile of the line-follower is unknown. I updated the question with a more formal description.</p>
			</div>
			<div id = "comment-12857" class = "comment">
				<p>Numbers. Update your question posting an example acceleration profile of the obstacle, the top speed of the follower, the acceleration and deceleration rate of the follower. Of course the initial acceleration profile of the follower is unknown - isn't that what you're programming? So it's not unknown, it's undefined.</p>
			</div>
			</div>
				<textarea id = "speech-8059" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8059">
					<img id="start_img-8059" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8059">Comment</button>
			<br><div id = "ans-8060"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8060" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The paper  Optimizing Train Speed Profiles to Improve Regeneration Efficiency of Transit Operations  (in <a href="http://railtec.illinois.edu/articles/Files/Conference%20Proceedings/2014/JRC2014-3795.pdf" rel="nofollow">JRC2014-3795.pdf</a>) by Haichuan Tang et al addresses some of the issues mentioned in the question and sets out a dynamic programming method for solving related problems.  The paper's goals are different than yours, but its method and some of its references may be helpful.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8060" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8060">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8060">Load Comments</button></br>
			<div id = "commentsection-8060" class = 'collapse'>
			<div id = "comment-12855" class = "comment">
				<p>Indeed. Discretization with DP most probably is an option. I would prefer approaches without discretization though.</p>
			</div>
			</div>
				<textarea id = "speech-8060" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8060">
					<img id="start_img-8060" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8060">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>