<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Orienting rectangular plastic bricks
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8822" class = "post">
			<h2>Question</h2>
			<div id="vote-8822" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Orienting rectangular plastic bricks</h2>
<p>As part of a sorting machine, I need to orient a pile of plastic brick-shaped objects (which are all identical in size - about 3cm x 2cm x 1.5cm) so that they always end up with the white side facing up:</p>

<p><a href="https://i.stack.imgur.com/zGW0d.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/zGW0d.png" alt="enter image description here"></a></p>

<p>These will then be fed into a bowl feeder type of machine for further re-orienting. </p>

<p>How can I accomplish this, preferably without optical sensors? I was thinking about cutting into the bricks and putting magnets inside, but is there a more elegant solution?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8822" data-toggle = "popover">
				<p>user name : NullUserException</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-8822">{'None': 0, 'orientation': 0, 'mechanism': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8822">Load Comments</button></br>
			<div id = "commentsection-8822" class = 'collapse'>
			<div id = "comment-14504" class = "comment">
				<p>You say "always end up with the white side facing up" but in your drawing they have 5 white sides.  Does it matter which white side is upper most?</p>
			</div>
			<div id = "comment-14505" class = "comment">
				<p>Side note: try [inkscape](https://inkscape.org/en/). You won't regret it.</p>
			</div>
			<div id = "comment-14506" class = "comment">
				<p>I'm voting to close this question because it's an open-ended design question. Even if more clearly defined, all the answers posted here are going to be speculation; there is no "correct" answer.</p>
			</div>
			<div id = "comment-14519" class = "comment">
				<p>@Matt They are always going to have one of those two sides facing up</p>
			</div>
			<div id = "comment-14548" class = "comment">
				<p>Welcome to *robotics* NullUserException, but you know the drill - edit your question into a *[practical, answerable question](http://robotics.stackexchange.com/help/dont-ask)* and we can reopen it.</p>
			</div>
			</div>
				<textarea id = "speech-8822" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8822">
					<img id="start_img-8822" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8822">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8830"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8830" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Its a bit difficult to give you an exact answer because its quite an open question.</p>

<p>You are sorting the bricks based on an optical characteristics so I can't see any way of doing it other than by using an optical sensor.  If you start sorting them by magnetic properties then you aren't sorting them by their colour anymore.  So what is the reason you don't want to use an optical sensor?</p>

<p>Using one of the colour detector sensors is probably overkill if you only want black and white.</p>

<p>Since black and white are quite different you should be able to use a system that compared the reflectiveness, unless they are high shine.  Could you fire a light beam (laser) off the bricks, would you get different amount amounts of energy absorbed and if you can detect the difference then.</p>

<p>Temperature could be another option, the black side should get hotter faster.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8830" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-8830">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8830">Load Comments</button></br>
			<div id = "commentsection-8830" class = 'collapse'>
			<div id = "comment-14520" class = "comment">
				<p>The optical sensor would require an additional mechanism to flip the bricks, which I believe would slow down the whole thing quite a bit. Ideally I'd want something that allows the bricks to naturally orient themselves the right way. Magnets inside seem to be the best option; otherwise I'd have to deform the bricks somehow.</p>
			</div>
			<div id = "comment-14545" class = "comment">
				<p>Without optical sensors and without an actuator is a very different question to just without optical sensors.When you were suggesting a magnet, I was expecting you to use the magnet to sense orientation, not try to turn the brick over with it.</p>
			</div>
			</div>
				<textarea id = "speech-8830" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8830">
					<img id="start_img-8830" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8830">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>