<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Our quadcopter goes forward instead of hovering in place. How to correct it?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2849" class = "post">
			<h2>Question</h2>
			<div id="vote-2849" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3382</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Our quadcopter goes forward instead of hovering in place. How to correct it?</h2>
<p>I'm trying to do a quadcopter with some friends and we have a problem. It goes forward instead of hovering in place. We made a video to explain it, you can see it <a href="https://www.youtube.com/watch?v=iH-BB3ADuus">here</a>.</p>

<p>As you can see, the quadcopter flight and go forward when I don't touch the controller. I need to correct it to go backward and it goes forward again.</p>

<p>We use the kk2.1.5. </p>

<blockquote>
  <p>The HobbyKing KK2.1.5 Multi-Rotor controller is a flight control board for multi-rotor aircraft (Tricopters, Quadcopters, Hexcopters etc). Its purpose is to stabilize the aircraft during flight. To do this it takes the signal from the 6050MPU gyro/acc (roll, pitch and yaw) then passes the signal to the Atmega644PA IC. The Atmega644PA IC unit then processes these signals according the users selected firmware and passes control signals to the installed Electronic Speed Controllers (ESCs). These signals instruct the ESCs to make fine adjustments to the motors rotational speed which in turn stabilizes your multi-rotor craft.</p>
</blockquote>

<p>We made some test. As you can see in the video, we placed the battery backward to be sure there is no weight against. When we check values in the debug mode, all values are at 0 when nothing is pressed.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2849" data-toggle = "popover">
				<p>user name : Dougui</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-2849">{'quadcopter': 9, 'None': 0, 'multi-rotor': 11, 'uav': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2849" class = 'collapse'>
			</div>
				<textarea id = "speech-2849" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2849">
					<img id="start_img-2849" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2849">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2853"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2853" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are quite a few possible explanations for the instability, I'll try to list 'em:</p>

<ol>
<li><p>PID settings are off the mark. I'm not familiar with KK2.1.5 Multi-Rotor controller, but I'm sure there will be something to adjust the roll/pitch PIDs. Try tweaking them. Under-compensated integral error may be a possible culprit.</p></li>
<li><p>Some issue with ESC calibration. Try recalibrating the ESCs. In case you happen to have any spare ESCs, try replacing them.</p></li>
<li><p>Re-calibrating the 6050MPU might be a good idea.</p></li>
<li><p>Some thing wrong with the electrical connections inside PDB or the BLDC motors.</p></li>
</ol>

<p>However, wrong PID tuning seems to be the most plausible reason. </p>

<p>Quite often, while hovering in low throttle, there will be an uncompensated roll/pitch integral error that would cause the quadrotor to translate sideways. Such translations would usually go away at a higher throttle.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2853" data-toggle = "popover">
				<p>user name : metsburg</p>
				<p> user reputation : 269</p>
				<p class = "tagcontent" id = "usertaginfo-2853">{'quadcopter': 15, 'None': 8, 'ardupilot': 6, 'accelerometer': 1, 'arduino': 13, 'ekf': 0, 'pid': 12, 'stability': 10, 'slam': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2853">Load Comments</button></br>
			<div id = "commentsection-2853" class = 'collapse'>
			<div id = "comment-5351" class = "comment">
				<p>We have set better values for PI, it's better but still unstable with the self level. Without the self-level, it's uncontrollable.</p>
			</div>
			</div>
				<textarea id = "speech-2853" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2853">
					<img id="start_img-2853" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2853">Comment</button>
			<br><div id = "ans-3099"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3099" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You seem to be controlling the quadrotor's attitude (roll, pitch) to (0, 0) and not its position.</p>

<p>What you are seeing is drift in position, which is inevitable if you do not control the quadrotor's position. You might still be able to reduce the amount of drift a little:</p>

<ul>
<li>Make sure that the center of gravity of your quadrotor is actually in the center. If it is only slightly in front, it will pull your quadrotor forward.</li>
<li>Make sure that the KK controller board is mounted exactly parallel to the propeller plane. This is mechanically difficult so most controller boards allow you to calibrate their orientation, but I do not know about KK. The controller board can then account for the fact that their attitude estimate is slightly off.</li>
</ul>

<p>Also keep in mind that your quadrotor behaves differently from normal so close to the ground due to the <a href="http://en.wikipedia.org/wiki/Ground_effect_%28aerodynamics%29" rel="nofollow">so-called ground effect</a>. It might get much better after takeoff.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3099" data-toggle = "popover">
				<p>user name : sebsch</p>
				<p> user reputation : 404</p>
				<p class = "tagcontent" id = "usertaginfo-3099">{'control': 6, 'quadcopter': 2, 'None': 15, 'sensor-error': 4, 'sensor-fusion': 4, 'localization': 16, 'ekf': 9, 'pose': 1, 'errors': 8, 'kalman-filter': 17, 'mobile-robot': 8, 'sensors': 4, 'navigation': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3099" class = 'collapse'>
			</div>
				<textarea id = "speech-3099" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3099">
					<img id="start_img-3099" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3099">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>