<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Overcorrecting Kalman Filter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2315" class = "post">
			<h2>Question</h2>
			<div id="vote-2315" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 340</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Overcorrecting Kalman Filter</h2>
<p>I'm trying to get an extended Kalman Filter to work. My System Model is:</p>

<p>$ x = \begin{bmatrix}
 lat \\
 long \\
 \theta
\end{bmatrix}$</p>

<p>where <em>lat</em> and <em>long</em> are latitude and longitude (in degree) and $\theta$ is the current orientation of my vehicle (also in degree).
In my Prediction Step I get a reading for current speed <em>v</em>, yaw rate $\omega$ and inclination angle $\alpha$:</p>

<p>$z = \begin{bmatrix}
 v \\
 \alpha\\
 \omega 
 \end{bmatrix}$</p>

<p>I use the standard prediction for the EKF with $f()$ being:</p>

<p>$
\vec{f}(\vec{x}_{u,t}, \vec{z}_t) = \vec{x}_{u,t} + 
 \begin{bmatrix}
  \frac{v}{f} * \cos(\theta) * \cos(\alpha) * \frac{180  }{\pi * R_0} \\
  \frac{v}{f} * \sin(\theta) * \cos(\alpha) * \frac{180  }{\pi * R_0} * \frac{1}{\cos(lat)} \\
  \frac{\omega}{f}
 \end{bmatrix}
$</p>

<p>$f$ being the prediction frequency, $R_0$ being the radius of the earth (modelling the earth as a sphere)</p>

<p>My Jacobian Matrix looks like this:</p>

<p>$
C = v \cdot \Delta t \cdot cos(\alpha) \cdot \frac{180}{\pi R_0}
$</p>

<p>$
F_J =
\begin{pmatrix}
  1 &amp; 0 &amp; -C \cdot sin(\phi) \cdot \frac{1}{cos(lat)} \\
  -C \cdot sin(\phi) \cdot \frac{sin(lat)}{{cos(lat)}^2} &amp; 1 &amp; C \cdot cos(\phi) \cdot \frac{1}{cos(lat)}\\
  0 &amp; 0 &amp; 1
\end{pmatrix}
$</p>

<p>As I have a far higher frequency on my sensors for the prediction step, I have about 10 predictions followed by one update.</p>

<p>In the update step I get a reading for the current GPS position and calculate an orientation from the current GPS position and the previous one. Thus my update step is just the standard EKF Update with $h(x) = x$ and thus the Jacobian Matrix to $h()$, $H$ being the Identity.</p>

<p>Trying my implementation with testdata where the GPS Track is in constant northern direction and the yaw rate constantly turns west, I expect the filter to correct my position close to the track and the orientation to 355 degrees or so. What actually happens can be seen in the image attached (Red: GPS Position Measurements, Green/blue: predicted positions): <img src="https://i.stack.imgur.com/KCasT.png" alt="Red: GPS Position Measurements, Green/blue: predicted positions"></p>

<p>I have no Idea what to do about this. I'm not very experienced with the Kalman filter, so it might just be me misunderstanding something, but nothing I tried seemed to work </p>

<p>What I think:</p>

<p>I poked around a bit: If I set the Jacobian Matrix in the prediction to be the identity, it works really good. The Problem seems to be that $P$ (the covariance Matrix of the system model) is not zero in $P(3,1)$ and $P(3,2)$. My interpretation would be that in the prediction step the Orientation depends on the Position, which does not seem to make sense. This is due to $F_J(2,1)$ not being zero, which in turn makes sense.</p>

<p>Can anyone give me a hint where the overcorrection may come from, or what I should look at / google for?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2315" data-toggle = "popover">
				<p>user name : Niklas</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-2315">{'None': 0, 'sensor-fusion': 4, 'kalman-filter': 4, 'gps': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2315" class = 'collapse'>
			</div>
				<textarea id = "speech-2315" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2315">
					<img id="start_img-2315" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2315">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8256"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8256" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is an error in your posted equation for the Jacobian $F_J$, so that could be the source of the problem. It should look like this:</p>

<p>$F_J = \begin{bmatrix}
1 &amp; 0 &amp; -C \sin \theta \\
C \frac{\sin \theta \sin \lambda}{\cos^2 \lambda} &amp; 1 &amp; C \frac{\cos \theta}{\cos \lambda} \\
0 &amp; 0 &amp; 1 \\
\end{bmatrix}$</p>

<p>With that new Jacobian I get results that look like:</p>

<p><a href="https://i.stack.imgur.com/N895f.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/N895f.png" alt="GPS EKF results"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8256" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8256">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8256">Load Comments</button></br>
			<div id = "commentsection-8256" class = 'collapse'>
			<div id = "comment-13215" class = "comment">
				<p>Nice catch, and welcome to the Robotics SE!</p>
			</div>
			<div id = "comment-13219" class = "comment">
				<p>Thanks! Finally had to ask a question on Overflow so I signed up and am keen to contribute. :)</p>
			</div>
			<div id = "comment-13231" class = "comment">
				<p>Welcome to *Robotics* Brian, great first post, I look forward to your future contributions.</p>
			</div>
			</div>
				<textarea id = "speech-8256" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8256">
					<img id="start_img-8256" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8256">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>