<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Overheating~Jamming MG996R servo
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8103" class = "post">
			<h2>Question</h2>
			<div id="vote-8103" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 632</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Overheating~Jamming MG996R servo</h2>
<p>I have recently purchased my first ever servo, a cheap unbranded Chinese MG996R servo, for  3.20 on eBay.</p>

<p><a href="https://i.stack.imgur.com/p57Ha.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/p57Ha.jpg" alt="MG996R clone servo"></a></p>

<p>I am using it in conjunction with a Arduino Servo shield (see below):</p>

<p><a href="https://i.stack.imgur.com/RKe8Z.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/RKe8Z.jpg" alt="Arduino Servo Shield"></a></p>

<p>As soon as it arrived, before even plugging it in, I unscrewed the back and ensured that it had the shorter PCB, rather than the full length PCB found in MG995 servos. So, it seems to be a reasonable facsimile of a bona-fide MG996R.</p>

<p>I read somewhere (shame I lost the link) that they have a limited life, due to the resistive arc in the potentiometer wearing out. So, as a test of its durability, I uploaded the following code to the Arduino, which just constantly sweeps from 0  to 180  and back to 0 , and left it running for about 10 to 15 minutes, in order to perform a very simple <em>soak test</em>.</p>

<pre><code>#include &lt;Servo.h&gt; 

const byte servo1Pin = 12;

Servo servo1;                // create servo object to control a servo 
                             // twelve servo objects can be created on most boards

int pos = 0;                 // variable to store the servo position 

void setup() 
{ 
  servo1.attach(servo1Pin);  // attaches the servo on pin 9 to the servo object 
  Serial.begin(9600);
} 

void loop() 
{ 
  pos = 0;
  servo1.write(pos);         // tell servo to go to position in variable 'pos' 
  Serial.println(pos);
  delay(1000);               // waits 15ms for the servo to reach the position 

  pos = 180;
  servo1.write(pos);         // tell servo to go to position in variable 'pos' 
  Serial.println(pos);
  delay(1000);               // waits 15ms for the servo to reach the position 
} 
</code></pre>

<p>When I returned, the servo was just making a grinding noise and no longer sweeping, but rather it seemed to be stuck in the 0  position (or the 180 ). I picked the servo up and whilst not hot, it was certainly quite warm. A quick sniff also revealed that hot, burning motor windings smell.  After switching of the external power supply and allowing it to cool, the servo began to work again. However, the same issue occurred a little while later. Again, after allowing it to rest, upon re-powering, the servo continues to work.  However, I am reluctant to continue with the soak test, as I don t really want to burn the motor out, just yet.</p>

<p>Is there a common  no-no  of not making servos sweep from extreme to extreme, and one should  play nice  and just perform 60  sweeps, or is the cheapness of the servo the issue here?</p>

<p>I am powering the servo from an external bench supply, capable of 3A, so a lack of current is not the issue.</p>

<hr>

<p>Please note that I also have a follow up question, <a href="https://robotics.stackexchange.com/questions/8104/should-a-mg996r-servos-extreme-position-change-over-time">Should a MG996R Servo's extreme position change over time?</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8103" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-8103">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8103" class = 'collapse'>
			</div>
				<textarea id = "speech-8103" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8103">
					<img id="start_img-8103" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8103">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8105"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8105" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might be driving the servo beyond its limits.  As noted in the pololu.com article  <a href="https://www.pololu.com/blog/17/servo-control-interface-in-detail" rel="nofollow">Servo control interface in detail</a> :</p>

<blockquote>
  <p>If you keep making the pulses wider or narrower, servos will keep moving farther and farther from neutral until they hit their mechanical limits and possibly destroy themselves. This usually isn t an issue with RC applications since only about half of the mechanical range is ever used, but if you want to use the full range, you have to calibrate for it and be careful to avoid crashing the servo into its limit.</p>
</blockquote>

<p>Similarly, the arduino.cc article about <a href="https://www.arduino.cc/en/Reference/ServoWriteMicroseconds" rel="nofollow">Servo.WriteMicroseconds</a> says (with emphasis I added):</p>

<blockquote>
  <p>On standard servos a parameter value of 1000 is fully counter-clockwise, 2000 is fully clockwise, and 1500 is in the middle. [...] some [...] servos respond to values between 700 and 2300. Feel free to increase these endpoints until the servo no longer continues to increase its range. <strong>Note however that attempting to drive a servo past its endpoints (often indicated by a growling sound) is a high-current state, and should be avoided.</strong></p>
</blockquote>

<p>I suggest running a calibration, where you drive the servo to different angles, to find out what parameter values are large enough to drive the servo to its extreme positions without overdriving it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8105" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8105">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8105">Load Comments</button></br>
			<div id = "commentsection-8105" class = 'collapse'>
			<div id = "comment-12937" class = "comment">
				<p>The growling sound sounds just like what I experienced. Good tips, thx...</p>
			</div>
			</div>
				<textarea id = "speech-8105" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8105">
					<img id="start_img-8105" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8105">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>