<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Overview - what skills are needed for sensor fusion?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1046" class = "post">
			<h2>Question</h2>
			<div id="vote-1046" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 331</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Overview - what skills are needed for sensor fusion?</h2>
<p>I want to make a list of what knowledge is necessary for <a href="http://en.wikipedia.org/wiki/Sensor_fusion" rel="nofollow">sensor fusion</a>. Since it has a wide array of possible applications, it is not clear where to begin studying. Can <em>we</em> please verify add topics that are in-scope, and specify to what extent?:</p>

<ol>
<li>Digital Signal Processing - course: <a href="https://www.coursera.org/course/dsp" rel="nofollow">https://www.coursera.org/course/dsp</a></li>
<li>Probability - course <a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-041-probabilistic-systems-analysis-and-applied-probability-spring-2006/lecture-notes/" rel="nofollow">http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-041-probabilistic-systems-analysis-and-applied-probability-spring-2006/lecture-notes/</a></li>
<li>Machine Learning - course at Coursera from Stanford University</li>
<li>Programming robotic car - course at Udacity</li>
<li>Knowledge of Matlab and Simulink - tutorials on mathworks webpage and offline help.</li>
<li>Basic knowledge about integrals, matrices operations, differential equations.</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-1046" data-toggle = "popover">
				<p>user name : josh131</p>
				<p> user reputation : 97</p>
				<p class = "tagcontent" id = "usertaginfo-1046">{'None': 0, 'sensor-fusion': 14, 'algorithm': 10, 'artificial-intelligence': 3, 'books': 4, 'kalman-filter': 14, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1046">Load Comments</button></br>
			<div id = "commentsection-1046" class = 'collapse'>
			<div id = "comment-2442" class = "comment">
				<p>Welcome to Robotics.SE! There's a lot of question all rolled up into one. You might consider splitting this into several questions. However, your main question is essentially a list question, which is discouraged on StackExchange in general, as there is no one right answer. Maybe our [FAQ](http://robotics.stackexchange.com/faq) can help you rephrase the question in a more answerable way.</p>
			</div>
			<div id = "comment-2450" class = "comment">
				<p>Welcome *josh131* there's definitely an interesting question (or evenseveral  questions) buried in here, so feel free to either edit this question or start a new question (or questions). For an explanation of why we try to avoid *list* questions, see [this answer](http://meta.stackexchange.com/a/98366/138432) on teh stack exchange meta site.</p>
			</div>
			<div id = "comment-2476" class = "comment">
				<p>This question is basically no different than [This one](http://robotics.stackexchange.com/questions/138/mathematical-prerequisites-for-beginning-graduate-student-in-robotics), except that it is less-well-posed. I think the problem here is the lack of a solid definition about "sensor fusion." I'll edit it then we can revisit closing. For now I think it's valid.</p>
			</div>
			</div>
				<textarea id = "speech-1046" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1046">
					<img id="start_img-1046" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1046">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1059"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1059" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can skip all but 2,6,5, if you want to learn how sensor information is fused to form a consistent estimate of something. 5 is optional but helpful. The best course you can take is a Optimal Estimation / Filtering course, and a Probabilities and Stochastic Processes course. Try MIT Courseware for both of those.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1059" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1059">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1059">Load Comments</button></br>
			<div id = "commentsection-1059" class = 'collapse'>
			<div id = "comment-2712" class = "comment">
				<p>I have been dabbling with those courses. There are many of them and I'm not sure which would be the best to follow on MIT courseware. I have not found exactly with the name you specified, Optimale Estimation/Filtering. Which one exactly do you recommend?</p>
			</div>
			<div id = "comment-2713" class = "comment">
				<p>This is exactly Optimal Estimation / Filtering. Review the requirements for this course, make sure you satisfy them, then take this course. It's your best bet.</p>
			</div>
			</div>
				<textarea id = "speech-1059" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1059">
					<img id="start_img-1059" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1059">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>