<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Papers on Algorithms in Robotics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9276" class = "post">
			<h2>Question</h2>
			<div id="vote-9276" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 54</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Papers on Algorithms in Robotics</h2>
<p>I'm a CS student and I need to give a 30-minute lecture about 1-2 papers describing 1-2 algorithms for any of the main problems in Robotics (navigation, coverage, patrolling, etc.).</p>

<p>I have no background in Robotics specifically, but I did take classes such as Algorithms and AI (including some basic AI algorithms such as <a href="https://en.wikipedia.org/wiki/A*_search_algorithm" rel="nofollow">A*</a>, <a href="https://en.wikipedia.org/wiki/Iterative_deepening_depth-first_search" rel="nofollow">IDS</a>, <a href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm#Practical_optimizations_and_infinite_graphs" rel="nofollow">UCS</a>, and subjects such as <a href="https://en.wikipedia.org/wiki/Decision_tree_learning" rel="nofollow">decision trees</a>, <a href="https://en.wikipedia.org/wiki/Game_theory" rel="nofollow">game theory</a>, etc.).
The difference between simply describing one of the above is that I need the paper to refer to actual physical robots and their algorithms, with real problems in the physical world, as opposed to AI "agents" with more theoretical algorithms.</p>

<p>I am required to lecture on 1-2 academic papers, published from 2012 onward, with a "respectable" amount of citations. Any suggestions of such papers would be greatly appreciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9276" data-toggle = "popover">
				<p>user name : Cauthon</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-9276">{'coverage': 0, 'None': 0, 'navigation': 0, 'theory': 0, 'algorithm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9276">Load Comments</button></br>
			<div id = "commentsection-9276" class = 'collapse'>
			<div id = "comment-16423" class = "comment">
				<p>I'm voting to close this question as off-topic because it's a homework question and OP hasn't shown any effort, because it's a literature request, and because there's no specific question based on a problem OP actually faces. The question is, "I need 2 papers on robots," with no other direction. Is it a request for papers on unmanned deep sea navigation or on vending machines?</p>
			</div>
			<div id = "comment-16424" class = "comment">
				<p>That said, if *I* were OP, I'd use the university library's database to search papers on algorithms I were interested in, then see who cited *those* papers. Then I could find papers that reference algorithms I was interested in.</p>
			</div>
			<div id = "comment-16425" class = "comment">
				<p>@Chuck It's not a classic "do my homework" question. I have searched Google Scholar with basic keywords, however, as I mentioned, I do not have **any** experience or even basic knowledge in this field. That is why I'm asking the community for a few suggestions of papers to start me off. I can search and read through tens of papers, eventually arriving at a few good ones, or I can ask for some advice and suggestions from people who know more about this than I.</p>
			</div>
			<div id = "comment-16426" class = "comment">
				<p>If you haven't been taught about applied robotics applications, nobody else in your class has, either. So, you've got the same problem everyone else does - a *research* problem. As I said above, you provide no topics you're interested in, so it's hard for anyone here to give any relevant feedback. As I also said, my advice would be to use your *university library* to search databases like IEEE Xplore, look for algorithms you're interested in, then see who cited them. Search *quality journals* and get quality papers.</p>
			</div>
			<div id = "comment-16428" class = "comment">
				<p>@Chuck Thanks, I'll definitely try that out.</p>
			</div>
			<div id = "comment-16451" class = "comment">
				<p>@Cauthon If you really know nothing, then academic papers might be a bit dry and too deep. There are occasionally survey papers that are helpful, but at this stage, you'd be better off going to higher-level publications. The Journal of Field Robotics and the IEEE Robotics and Automation Magazine are good options for higher-level, but still technical, discussions of robotics. Your librarian can help you find recent articles in these periodicals.</p>
			</div>
			<div id = "comment-16452" class = "comment">
				<p>@JoshVanderHook thanks, I eventually found two interesting ones, one from the IEEE and another from ACM symposium.</p>
			</div>
			</div>
				<textarea id = "speech-9276" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9276">
					<img id="start_img-9276" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9276">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9281"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9281" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might like the algorithms run on PR-2 robot. Two papers I can think of are "A single planner for a composite task of approaching, opening and navigating through non-spring and spring-loaded doors" and "Motion planning for smooth pickup of moving objects". Both can be found on IEEE Xplore.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9281" data-toggle = "popover">
				<p>user name : nemoBot</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-9281">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9281" class = 'collapse'>
			</div>
				<textarea id = "speech-9281" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9281">
					<img id="start_img-9281" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9281">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>