<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Passing power through a motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6331" class = "post">
			<h2>Question</h2>
			<div id="vote-6331" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 338</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Passing power through a motor</h2>
<p>How would one go about passing power through a motor?</p>

<p>Let's say we have some basic robot which has a motor that slowly spins a limb, on each end of that limb, there is a motor which again spins a limb. Because the first motor is always going to be spinning, any wires would twist and eventually break, so a wired approach wouldn't work. The same goes for the subsequent motors.</p>

<p>I know that dc motors use brushes to get past this, but how is this generally solved in engineering/robotics? This must be a problem that has come up before, and there must be a solution to it.</p>

<p>Any ideas? :)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6331" data-toggle = "popover">
				<p>user name : Adam K Dean</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-6331">{'power': 1, 'None': 0, 'stepper-motor': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6331">Load Comments</button></br>
			<div id = "commentsection-6331" class = 'collapse'>
			<div id = "comment-9225" class = "comment">
				<p>possible duplicate of [Continous rotation with cables](http://robotics.stackexchange.com/questions/4857/continous-rotation-with-cables)</p>
			</div>
			</div>
				<textarea id = "speech-6331" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6331">
					<img id="start_img-6331" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6331">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6332"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6332" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is called a slip ring.</p>

<p><img src="https://i.stack.imgur.com/KVWCu.png" alt="enter image description here"></p>

<p>It works the same as a brushed motor.</p>

<p>See <a href="http://www.robotshop.com/en/slip-ring-flange-736.html" rel="nofollow noreferrer">here</a> for a robotic oriented one.</p>

<p>Larger versions handle power, and cost more.</p>

<p>Also near field technologies such as those used to wirelessly charge your electric toothbrush, and more recent wireless cell phone chargers, are potential solutions</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6332" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6332">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6332">Load Comments</button></br>
			<div id = "commentsection-6332" class = 'collapse'>
			<div id = "comment-9157" class = "comment">
				<p>Thanks man, this is exactly what I was looking for. Looks like the one I need is a `toroidal slip ring` with a bore hole through the centre which can attach to the stator of a servo/motor. Expensive but this solves my problem. Thanks spiked!</p>
			</div>
			<div id = "comment-9171" class = "comment">
				<p>I saw some really nice robotic servos like a while back. But yeah, pricey as heck.</p>
			</div>
			</div>
				<textarea id = "speech-6332" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6332">
					<img id="start_img-6332" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6332">Comment</button>
			<br><div id = "ans-6344"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6344" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you do have actual limbs that won't do continuous rotation, you can typically get away with "service loops".  Which is a fancy word for a loop of extra wire that still allows the joint to move through its range.  Putting hard stops in the joint help prevent wire breakage, but are not necessary.  You can even have the joint rotate past 360 degrees depending on how much extra wire you use.  But you should keep track of the joint position and limit rotation through software.  There are many ways to do service loops that are neat and tidy and don't have wire hanging all over.</p>

<p>To further have a clean look, you can also have a hollow shaft and pass the wires down the middle of the axis.  The wires can still twist up, but much less wire is required.</p>

<p>Other fancy ideas are optical slip rings.  Instead of mechanical brushes which can introduce electrical noise in the signals, these bridge the gap with IR light.  Of course this won't transfer power.  To transfer power, you can use inductive coupling.</p>

<p>I think most robots simply use service loops.  Because slip rings are expensive.  So they are only used where continuous rotation is needed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6344" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-6344">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6344">Load Comments</button></br>
			<div id = "commentsection-6344" class = 'collapse'>
			<div id = "comment-9158" class = "comment">
				<p>Thanks Ben, the service loop concept is a great idea for non-rotating limbs, though for a rotating one, looks like a toroidal slip ring is what I need.</p>
			</div>
			</div>
				<textarea id = "speech-6344" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6344">
					<img id="start_img-6344" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6344">Comment</button>
			<br><div id = "ans-6360"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6360" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While others have provided you with proper solutions, there's also a cheap hack :)
You can use audio connectors (I've seen people use them for "persistence of vision" display applications): <img src="https://i.stack.imgur.com/ll6Y4.jpg" alt="3.5mm audio"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6360" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-6360">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6360">Load Comments</button></br>
			<div id = "commentsection-6360" class = 'collapse'>
			<div id = "comment-9174" class = "comment">
				<p>Dude! That's an amazing idea. Thanks man!</p>
			</div>
			<div id = "comment-9175" class = "comment">
				<p>Now I just need a servo with a bore hole...</p>
			</div>
			</div>
				<textarea id = "speech-6360" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6360">
					<img id="start_img-6360" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6360">Comment</button>
			<br><div id = "ans-6389"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6389" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The device you are looking for is broadly known as a slip ring, but since you are trying to power other motors through it you should be aware that a slip ring is not electrically identical to a wire.  </p>

<p>Depending on the amount of current you are trying to send, the slight variations in impedance that your slip ring will produce as it spins can damage some motor controllers.  There is no real way (that I'm aware of) to find out whether this will happen to you... until it happens.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6389" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-6389">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6389">Load Comments</button></br>
			<div id = "commentsection-6389" class = 'collapse'>
			<div id = "comment-9236" class = "comment">
				<p>Are you aware of any success or failure with hobby grade servos? I'm curious how it would handle it. I've got the parts to try, just not the time.</p>
			</div>
			<div id = "comment-9243" class = "comment">
				<p>I'm not sure how hobby grade servos handle this.  We solved our problems by using a service loop instead of a slip ring and moved on; it would have been more time and money than it was worth to find out the exact problem (and be 100% confident in the slip ring after that).  It might be sufficient just to put the motor controllers on the same side of the slip ring as the motors they power.</p>
			</div>
			</div>
				<textarea id = "speech-6389" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6389">
					<img id="start_img-6389" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6389">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>