<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Path planning vs. linear interpolation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9845" class = "post">
			<h2>Question</h2>
			<div id="vote-9845" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 211</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Path planning vs. linear interpolation?</h2>
<p>I at moment trying to convince myself that what I need is a simple path planning algorithm, instead of linearly interpolating between a current and a desired state. </p>

<p>I am at moment working with an robot arm (UR) with an camera mounted on to its TCP.  The application i am trying to create is a simple ball tracking application which tracks the movement of the ball, while always keeping the object within sight. </p>

<p>which meant that I needed some form of path planning algorithm which plans the path between my current state and the desired state. The path should should be such that the ball is always kept in focus while the arm moves to the desired state.</p>

<p>But then I began question myself whether it was a bit overkill, and whether a simple straight line interpolation wouldn't suffice?.. I am actual not sure what form of benefit i would have by choosing a pathplanner, than a simple interpolation..</p>

<p>Interpolation would also generate the path I desire, so why choose a pathPlanner at all?</p>

<p>would someone elaborate?
It should be noted that obstacle avoidance is also a part of the task, which could cause trouble for a straight line interpolating. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9845" data-toggle = "popover">
				<p>user name : James potter</p>
				<p> user reputation : 226</p>
				<p class = "tagcontent" id = "usertaginfo-9845">{'stereo-vision': 3, 'visualization': 1, 'None': 0, 'inverse-kinematics': 11, 'algorithm': 5, 'c++': 4, 'kinematics': 5, 'matlab': 1, 'robotic-arm': 18, 'jacobian': 3, 'motion-planning': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9845" class = 'collapse'>
			</div>
				<textarea id = "speech-9845" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9845">
					<img id="start_img-9845" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9845">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9846"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9846" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Path planning is essentially obstacle avoidance.</p>

<p>If there are no obstacles, chances are path planning is Overkill. However, one obstacle that you always have and that is a constraint for the configuration space is the robot itself. </p>

<p>Now if you have no obstacles and start and end configurations can be connected by a straight line in configuration space, the task of path planning indeed simplifies to knowing the line that connect them.</p>

<p>Especially if the camera captures images frequently, movement will be small.</p>

<blockquote>
  <p>a <em>simple</em> path planning algorithm</p>
</blockquote>

<p>There's no such thing. You need to define configuration space which gets very complicated with higher dimensions, perform all kinds of geometric operations on it and finally have some algorithm navigate through it.</p>

<p>I'd say it's not just over-kill, it's over-annihilation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9846" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-9846">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9846">Load Comments</button></br>
			<div id = "commentsection-9846" class = 'collapse'>
			<div id = "comment-17534" class = "comment">
				<p>Thanks for the answer, I think i would go with the path planning then.. 
But choosing the right one is the issue here..  Any suggestions?</p>
			</div>
			<div id = "comment-17535" class = "comment">
				<p>Are you sure? Again, this can be **really** complicated and I do think it's overkill. I guess you could ask a question specifically about how to do the path planning including information about the robot arm you are using, what obstacles are to be avoided and an exact description of the tracking that you want to do.</p>
			</div>
			<div id = "comment-17536" class = "comment">
				<p>I am not sure I understand the overkill if I also incoporate collision checking for a straight line path..</p>
			</div>
			<div id = "comment-17537" class = "comment">
				<p>My idea was to create the straight line path, and choose that path if it is collision free which would require collision check, which i assume is the overkill here..</p>
			</div>
			<div id = "comment-17538" class = "comment">
				<p>And then what? What if you have a collision? What will you do? I think you are drastically oversimplifying the path planning problem. The point of path planning is to find any collision free path if possible. In case a straight line path is blocked, there could be many others. Again, **path planning usually does not include collision checks, instead collisions are avoided** by operating in a collision free space. Trying a straight line and giving up if that causes a collision can barely by called path planning. This topic fills libraries of books and is not as trivial as it seems.</p>
			</div>
			<div id = "comment-17542" class = "comment">
				<p>.....Makes sense, I guess that i would make a new question relating this issue..</p>
			</div>
			</div>
				<textarea id = "speech-9846" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9846">
					<img id="start_img-9846" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9846">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>