<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Perfecting Tripod Gait - Building a R-Hex Robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1056" class = "post">
			<h2>Question</h2>
			<div id="vote-1056" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 206</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Perfecting Tripod Gait - Building a R-Hex Robot</h2>
<p>I need help with figuring out the following things:</p>

<p>I'm developing a hexapod R-Hex type model with a tripod gait. However, the angles obtained during the robot's walking in real life are not perfectly aligned. Because of this the robot often collapses and falls even on perfectly straight terrain.</p>

<p>My configuration is: </p>

<ul>
<li>60 rpm dc motors for each leg</li>
<li>H-bridge motor drivers for each dc motor</li>
<li>Atmega 8</li>
</ul>

<p>Should I change the gait type?</p>

<p>Or is Tripod sufficiently stable?</p>

<p>Are DC motors providing fine enough control or do I need servos?</p>

<p>Do I need a DC motor with an Encoder? 
What will be its benefits?</p>

<p>What could be done to improve performance of the robot?</p>

<p><strong>Added: Would a Stepper motor work as well, instead of a servo?</strong></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1056" data-toggle = "popover">
				<p>user name : Naresh</p>
				<p> user reputation : 381</p>
				<p class = "tagcontent" id = "usertaginfo-1056">{'control': 3, 'None': 14, 'walking-robot': 8, 'rcservo': 6, 'torque': 2, 'pid': 5, 'wheeled-robot': 2, 'legged': 5, 'gait': 2, 'motor': 8, 'mobile-robot': 8, 'stepper-motor': 2, 'navigation': 6, 'hexapod': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1056">Load Comments</button></br>
			<div id = "commentsection-1056" class = 'collapse'>
			<div id = "comment-2463" class = "comment">
				<p>Can you add a picture of the robot?</p>
			</div>
			<div id = "comment-2464" class = "comment">
				<p>It is useful to make the distinction between [servomotors](http://en.wikipedia.org/wiki/Servomotor) and [hobby (aka RC) servos](http://en.wikipedia.org/wiki/Servomechanism#RC_servos). If you already have DC motors and motor drivers, adding an encoder could be an easy way to give your system closed loop control and turn your motors into servomotors. Personally, I can't imagine trying to do complex movement with a robot without closed loop control.</p>
			</div>
			<div id = "comment-2481" class = "comment">
				<p>Are you saying that the joint angles among the 3 standing legs are not coming out equal, even though you are commanding them to be equal?</p>
			</div>
			<div id = "comment-2486" class = "comment">
				<p>Yes. Precisely that Ian. In my adams simulation it comes out to be exactly equal but there seem to be different variations in my experimental runs on the physical prototype. These variations(like an extra 90 degrees rotation on one of the legs) often cause the prototype to collapse.</p>
			</div>
			</div>
				<textarea id = "speech-1056" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1056">
					<img id="start_img-1056" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1056">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1067"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1067" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Tripod gait is a stable gait. Moreover, it is a statically stable gait, meaning that if you lock the joints with 3 legs down and turn the power off, the robot will not topple. This implies that you don't need to dynamically balance the robot while walking. </p>

<p>The reason when a legged robot falls down is that its center of gravity does not fall on its support polygon (in tripod gait case, it is a triangle with each corner on one leg that's touching the ground). So what you should do is to measure the center of gravity and guarantee that it never leaves the support polygon of your robot while walking via adjusting your leg motion. Of course, this is all for a statically stable gait. Dynamically stable gaits allow the center of gravity to leave the support polygon in a controlled manner. But as I said, the tripod gait is statically stable. </p>

<p>I'm assuming that you are using naked DC motors without encoders or gear trains. There are two issues about this:</p>

<ul>
<li>First, make sure that you are getting enough total torque at each leg triplet that lift the robot. It may be the case that the DC motors cannot lift the robot on their own without a gear train. </li>
<li>Second, errors tend to grow without bound when performing such a task, angular position errors being one example. This is simply due to noise and imperfect modeling of the motor. So in a sense, DC motors are not actually "controlled", you just apply an input while not knowing what the output is. You must apply closed loop control, which is done via getting feedback from an encoder. Then, you can sense what the angular position on your motor is, determine your error, and apply an input to correct that error.</li>
</ul>

<p>Both of these problems are addressed in a servomotor, which is basically a DC motor, a gear train to increase torque and reduce angular velocity, and an encoder. I very much suggest using servos for your leg joints. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1067" data-toggle = "popover">
				<p>user name : Ayberk  zg r</p>
				<p> user reputation : 230</p>
				<p class = "tagcontent" id = "usertaginfo-1067">{'control': 12, 'pid': 18, 'None': 2, 'servos': 18}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1067">Load Comments</button></br>
			<div id = "commentsection-1067" class = 'collapse'>
			<div id = "comment-2487" class = "comment">
				<p>Thanks for the detailed help- I've been considering to buy servos for closed loop control and have placed an order after understanding its additional utility ! In addition, while initializing the R-Hex prototype I'm facing a 'annoying' problem where all but one of the 'legs' initialize to the correct angle. This happens sometimes only and not always. What could possibly be the reason for that?</p>
			</div>
			<div id = "comment-2496" class = "comment">
				<p>Unfortunately, I cannot say much unless you give more details about your problem. It could be anything from a faulty motor to a software bug. I would suggest asking this in a separate question with relevant details.</p>
			</div>
			</div>
				<textarea id = "speech-1067" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1067">
					<img id="start_img-1067" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1067">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>