<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Permanent Magnet DC Motor Calcuations
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11490" class = "post">
			<h2>Question</h2>
			<div id="vote-11490" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 94</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Permanent Magnet DC Motor Calcuations</h2>
<p>I have to determine speed and torque suitable for my combat robot.
I've done some calculations and I need to know whether they're right or not (because they don't seem to be right).</p>

<p>Suppose I have 10kg robot, I want to push other 10kg robot to the arena walls. Let's first assume opposite robot is not opposing my push. Suppose I want it to move it with acceleration of 10cm/sec/sec (also lemme know if acceleration assumed is suitable for robowar or not).
Then force required will be,</p>

<p>F = (total mass to be moved) * (acceleration) = (10+10)*(10e-2) = 2 N.
Assume opposite robot is also pushing with me same force, in that case I will need another 2 N for opposing his push, Now taking into account frictional retardation, suppose I need another 2 N so total would be 6 N.</p>

<p>Assuming velocity = 10cm/sec, then Power required will be 6 * velocity = 6*10e-2 = 600mW. For 12V motor even with 20% efficiency it would cause current of 250mA only. Also output power = speed X torque.</p>

<p>Now I've heard that robowars usually require motor with high full load current otherwise they'll be damaged.</p>

<p>So it looks like I am somewhere wrong in my calculations. If so, lemme know where,am I wrong where I assumed that opposing robot will cause just 2 N,  because generally they'd be fitted with more high torque motors. But is it the only thing which goes wrong in above calculations? If opposite bot had to just exert 2N on my bot, are calculations right?</p>

<p>PS: By side-shaft geared motors, it is meant that it is internally geared with horizontal shaft, right? Or "side-shaft" means something more?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11490" data-toggle = "popover">
				<p>user name : Deep</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11490">{'None': 0, 'wheeled-robot': 0, 'torque': 0, 'design': 0, 'motor': 0, 'mobile-robot': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11490" class = 'collapse'>
			</div>
				<textarea id = "speech-11490" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11490">
					<img id="start_img-11490" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11490">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11491"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11491" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The logic for the calculation seems ok, you can also check the results <a href="http://www.robotshop.com/blog/en/drive-motor-sizing-tool-9698" rel="nofollow noreferrer">here</a> and <a href="http://www.servomagazine.com/uploads/issue_downloads/pdf/Tips%20For%20Selecting%20DC%20Motors%20For%20Your%20Mobile%20Robot.pdf" rel="nofollow noreferrer">here</a></p>

<p>When building robots that would oviously benefit from as much force (motor torque) as possible, I would suggest the following approach.</p>

<p>Rather than defining speed and acceleration requirements, I would approximate what is the maximum amount of force the wheels can apply to the ground without causing the wheels to slip. This would lead to the maximum torque of the motor by calculating backwards from the wheel force to the motor torque. If you consider that this amount of torque has to be applied to the ground also when the maximum velocity of the robot is reached,  you have defined the motor. You can then check what acceleration will the motor provide. Since it is limited by wheel friction, even if you would increase motor torqe, the acceleration would not incears, since wheels would start to spin.</p>

<p>This way you exploint your wheels to their maximum amount and so deliver the maximum force possible to the oponent robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11491" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11491">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11491">Load Comments</button></br>
			<div id = "commentsection-11491" class = 'collapse'>
			<div id = "comment-20639" class = "comment">
				<p>Wow, yes that is kinda easy way to select motors ^^", will 4 motors of 300RPM (that would be rated on No-load, right?) work for 10kg robot? Or would it sleep on wooden surface?</p>
			</div>
			<div id = "comment-20640" class = "comment">
				<p>I think the aswer of mactro clarifies how to calcualte max friction force.</p>
			</div>
			<div id = "comment-20642" class = "comment">
				<p>Yeah, it seems to be great help, however if I have motor with 60rpm (that'd be rated at no-load AFAIK),will my robot able to start, provided it has to only move self-weight of 10-12 kg at starting?This question came into my mind since speed falls with load, however full load current is 7A & as torque is approximately proportional to current in PMDC, I don't  think speed would fall so much that it won't even start, right?
Also I want to know that for any load, will low rated rpm (with high torque)can cause my robot being immobile? It's ok if it is moving with low velocity but it shouldn't stop</p>
			</div>
			<div id = "comment-20643" class = "comment">
				<p>With a 7A max load @12V and 60rpm max spees (measn you probably have a large gearbox) )you should be able to start rolling 10kg without problems.</p>
			</div>
			</div>
				<textarea id = "speech-11491" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11491">
					<img id="start_img-11491" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11491">Comment</button>
			<br><div id = "ans-11500"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11500" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I affraid you are very wrong with your assumptions. I'm not exactly sure what competition are you going to start in, but take a look at some videos with 3kg sumo robots:</p>

<ul>
<li>Vienna: <a href="https://youtu.be/7T0en-RcljE" rel="nofollow noreferrer">https://youtu.be/7T0en-RcljE</a></li>
<li>Riga: <a href="https://youtu.be/Z_WE-ppaE5A" rel="nofollow noreferrer">https://youtu.be/Z_WE-ppaE5A</a></li>
<li>Japan: <a href="https://youtu.be/lUpUQf16qzQ" rel="nofollow noreferrer">https://youtu.be/lUpUQf16qzQ</a></li>
</ul>

<p>On all of these videos you will see robots that reach speeds of couple m/s and accelerate in less than 1s. Some of these competitions may be played on metal rings and magnets on the robots to increase friction and in result maximum possible accelerations. Still, I think the smallest reasonable speed is 1-1.5m/s with acceleration at least $1m/s^2$.</p>

<p>Now, let's find out how much force do you need to push your opponent. For a moment let's assume it just a 10kg block of rubber (because a robot will likely have rubber wheels). From a <a href="http://www.engineeringtoolbox.com/friction-coefficients-d_778.html" rel="nofollow noreferrer">table of friction coefficients</a> you select one between rubber and whatever material the arena is made of - let's say dry concrete. That means that friction coefficient $\mu = 0.85$. Now the friction force $F_f = \mu * m * g$, so for 10kg block of rubber it will be around 85N and that's under the assumption your opponent is doing nothing!</p>

<p>To sum up aim for the biggest motors you can pack in your robot. Also, keep in mind that the more friction you have, the more push you will get. That means that good tires for your wheels are as important as the motors.   </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11500" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-11500">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11500">Load Comments</button></br>
			<div id = "commentsection-11500" class = 'collapse'>
			<div id = "comment-20641" class = "comment">
				<p>Yeah I know that this specs are nothing against those sumo warriors but I kinda know what kind of competition I am taking part in, and yeah, this time I'm just interested in taking part and winning 3-4 rounds will be awesome. Btw, isn't there a difference between friction existing due to rubber block of 10kg and rubber wheels which are mounted so as to give free movement? (I honestly don't know ^^").  Also, as there will be 4 motors, power out of robot will be 4 times that out of single motor, right?</p>
			</div>
			<div id = "comment-20644" class = "comment">
				<p>Of course there is a difference in friction between rubber block and free spinning wheel - that's why we use wheels :) But it is rather unlikely that your opponent will disable his engines and just let you push him that way :) And yes, 4 motors are 4 times more powerful than 1 motor of the same type.</p>
			</div>
			<div id = "comment-20645" class = "comment">
				<p>Thanks a lot for that info :)! And when you said that 4 motors are 4 times motor powerful, you meant that torque will be 4 times, right? (Cause speed has to be same for all wheels  and power = torque times speed^^")</p>
			</div>
			<div id = "comment-20646" class = "comment">
				<p>Yes, I meant torque</p>
			</div>
			</div>
				<textarea id = "speech-11500" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11500">
					<img id="start_img-11500" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11500">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>