<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Phantom Omni type robot Inverse kinematics solution
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8748" class = "post">
			<h2>Question</h2>
			<div id="vote-8748" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 165</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Phantom Omni type robot Inverse kinematics solution</h2>
<p>Guys my robot looks like this,<a href="https://i.stack.imgur.com/hYAGJ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/hYAGJ.jpg" alt="enter image description here"></a></p>

<p>Thanks to @croco I came to know that it looks much similar to Phantom Omni. Since it looks similar to the phantom Omni I am trying to get the inverse kinematics geometric solution for it. Using this inverse kinematics solution I can build my FPGA design. There is a very good research paper on this</p>

<p><a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=6318365&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6318365" rel="nofollow noreferrer">http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=6318365&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6318365</a></p>

<p>but I do not understand in page 2122 how they find the L3 and L4 (shown in the image below). If I find this for my robot then my project is almost done. How do I find L3 and L4 for my robot ? Should I just bring my end effector to the (0,0,0) position as shown in Fig2  amd then measure the L3 and L4, would this work ?? Would be great if you guys could help. Cheers.
<a href="https://i.stack.imgur.com/xR8M0.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/xR8M0.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8748" data-toggle = "popover">
				<p>user name : Bhuvanesh Narayanan</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-8748">{'geometry': 0, 'None': 3, 'inverse-kinematics': 0, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8748">Load Comments</button></br>
			<div id = "commentsection-8748" class = 'collapse'>
			<div id = "comment-14324" class = "comment">
				<p>I thought the same that if you add L1 + L2 = L4. But this is not how it is, in the paper whihc is the main research paper on whihc others are based upon,http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=5341989
it says L4= L1+ A. So I think that I have to bring my End effector to the orgin point (0,0,0) aligned with the base centre as shown in the figure and the measure L4. Isnt it ?? L3 can be neglected as it is very small compared to others.</p>
			</div>
			<div id = "comment-14325" class = "comment">
				<p>It is clearly that L3 and L4 depend on the angles, L1, L2. From trigonometry, you can come up with such formulas for L4 and L3.</p>
			</div>
			<div id = "comment-14327" class = "comment">
				<p>I doubt L4= L1+ A. is correct. I think L4 = L1*cos(theta1) + A. This is clear from trigonometry.</p>
			</div>
			<div id = "comment-14330" class = "comment">
				<p>Its given in the research paper taht L4=L1+A  and it also evident from the diagram above . So I think that if I bring the end effector to the orgin position(0,0,0) and then measure, it should be it ! Because this part I am not able to understand properly . And also since L1 is not the hypotenuse so L1*co(theta1) cannot be right I think</p>
			</div>
			<div id = "comment-14680" class = "comment">
				<p>@CroCo Thank you so much ! the phantom omni model fits mine perfectly and I got what I wanted, i ran a simulation and the results match perfectly ! Thank you so much !!!</p>
			</div>
			</div>
				<textarea id = "speech-8748" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8748">
					<img id="start_img-8748" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8748">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>