<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>PI-controller and selective periodic disturbance rejection
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12625" class = "post">
			<h2>Question</h2>
			<div id="vote-12625" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 20</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>PI-controller and selective periodic disturbance rejection</h2>
<p>This question related to the another question I posted <a href="https://robotics.stackexchange.com/questions/12623/pi-with-poor-sampling-rate">here</a>, however I think its best to start a different post.</p>

<p>I have a 1-DOF electromechanical application whereby I am controlling the contact-force at the tip of the end-effector. The sensor unfortunately only samples at an incredible painful 20 Hz. With a simple PI controller, I have poor disturbance rejection.</p>

<p>The end-effector is in contact with a compliant surface that is moving back-and-forth periodically with 2 frequency components (0.3 and 1.25 Hz). I am interested in <strong>only</strong> rejecting the slower frequency (0.3 Hz). Through Simulink, I was able to verify that I can design a PI-controller to reject this frequency with acceptable performance - I also evaluated it on a lab bench. </p>

<p>However, in the real system both frequencies exists, and the PI controller attempts to compensate for the 1.25 Hz disturbance causing instability. Is it possible to add a low-pass filter somewhere in the loop so controller doesn't care about the 1.25 Hz disturbance.</p>

<p>All of this is implemented on an Arduino Due.</p>

<p>Thank you,</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12625" data-toggle = "popover">
				<p>user name : Danny Gelman</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-12625">{'control': 0, 'None': 0, 'arduino': 0, 'pid': 0, 'matlab': 0, 'dynamics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12625">Load Comments</button></br>
			<div id = "commentsection-12625" class = 'collapse'>
			<div id = "comment-22127" class = "comment">
				<p>You could add a notch filter at 1.25 Hz.</p>
			</div>
			<div id = "comment-22137" class = "comment">
				<p>In the feedback loop, I assume? I will try that, thank you.</p>
			</div>
			<div id = "comment-22145" class = "comment">
				<p>Yes, as part of the controller.</p>
			</div>
			<div id = "comment-22169" class = "comment">
				<p>I just implemented an LPF in the feedback loop, but it added too much phase-lag. Over the weekend I took a look into zero-lag LPF and they don't seem to exist - is there anything else I can take a look into?</p>
			</div>
			</div>
				<textarea id = "speech-12625" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12625">
					<img id="start_img-12625" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12625">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>