<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>PID Conundrums for Legged Robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1414" class = "post">
			<h2>Question</h2>
			<div id="vote-1414" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 269</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>PID Conundrums for Legged Robots</h2>
<p>I am currently working on a legged hexapod which moves around using a tripod gait. I have two sets of code to control the tripod. </p>

<p>Set 1: Time based control</p>

<p>In this code set, I set the tripod motor set to move at their rated rpm for a required amount of time before shifting to the other tripod motor set.</p>

<p>PID control would be based on counting the number of transitions using an optical speed encoder, Calculating the error based on difference between actual speed and required speed and then adjusting the error with fixed Kd and Ki values.</p>

<p>Set 2: Transitions based control</p>

<p>In this code set I count to the number of transitions required to complete one rotation of the leg(tripod motor set) before starting the other leg(tripod motor set).</p>

<p>PID control would be time based. Calculation of error would be the difference in time taken for individual motors of the motor set.</p>

<p>Query:
The set 2 shows promising results even without PID control, but the first set does not.Why so? The motors are basically set to move 1 rotation before the other set moves. </p>

<p>Would the speed differences between the motors cause it to destabilize?</p>

<p>How often do I update the PID loop?</p>

<p>My robot seems to drag a little bit. How do I solve this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1414" data-toggle = "popover">
				<p>user name : Naresh</p>
				<p> user reputation : 381</p>
				<p class = "tagcontent" id = "usertaginfo-1414">{'control': 3, 'None': 14, 'walking-robot': 8, 'rcservo': 6, 'torque': 2, 'pid': 5, 'wheeled-robot': 2, 'legged': 5, 'gait': 2, 'motor': 8, 'mobile-robot': 8, 'stepper-motor': 2, 'navigation': 6, 'hexapod': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1414">Load Comments</button></br>
			<div id = "commentsection-1414" class = 'collapse'>
			<div id = "comment-3030" class = "comment">
				<p>I suggest moving the part regarding the "drag" to another question. Also, the last part about "arduino pin" is another question by itself. Heck even the question on "destabilization" could be asked separately.</p>
			</div>
			<div id = "comment-3033" class = "comment">
				<p>While I don't think there is anything particularly wrong in this question framework, I shall do as asked.</p>
			</div>
			<div id = "comment-3038" class = "comment">
				<p>it contains three almost separate questions. You will get better answers if you ask them separately. Also, future visitors will be able to find what they need more easily.</p>
			</div>
			<div id = "comment-3103" class = "comment">
				<p>Please at the very least, submit the arduino question as a separate question.  I've removed that text from this question, as it's unrelated to your main query.  If you want to copy it to a new question, you can find the original text [in the edit history](http://robotics.stackexchange.com/posts/1414/revisions).  I suggest posting the drag question separately as well.</p>
			</div>
			</div>
				<textarea id = "speech-1414" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1414">
					<img id="start_img-1414" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1414">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1460"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1460" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe that your set #2 works better because you're already applying feedback to it, in the form of counting transitions of your encoder.</p>

<p>My knee-jerk method to do this control would be to first use quadrature encoders on each motor, to make sure that I was capturing any backwards motion that might mess me up.  Then I would store a time vs. position trajectory that I wanted the motor to follow, which would result in my desired velocity trajectory.  Then I would servo the motors to the desired positions using PID control.</p>

<p>The rule of thumb for control loops that generally works is to sample ten times faster than your desired bandwidth.  That works out to a sampling interval that's ten times shorter than the amount of time you want to allow for your system to settle <strong>after</strong> it is operating in its linear range (which roughly starts at the last instant that any of the variables come out of saturation).</p>

<p>If your encoders are coarse enough that they don't go through many transitions in your desired control loop sampling interval, you may be better off sampling at the encoder transitions.  This will make your life difficult as the speed changes, but perhaps not as difficult as trying to cope with control loop updates with insufficient information.</p>

<p>Some of the articles linked to here may help, particularly "PID Without a PhD" and the one on operating motors with friction and backlash:
<a href="http://www.wescottdesign.com/articles.html" rel="nofollow">http://www.wescottdesign.com/articles.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1460" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1460">{'None': 107}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1460" class = 'collapse'>
			</div>
				<textarea id = "speech-1460" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1460">
					<img id="start_img-1460" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1460">Comment</button>
			<br><div id = "ans-1462"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1462" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you have 6 legs with some number of PID-controlled joints on each leg.  You would like to move 3 legs at a time, while the other 3 legs stand in a stable tripod configuration.</p>

<p><strong>Instead of figuring out how to move each set of 3 legs as one unit, you should be treating them as individual legs.</strong>  You will send a leg a set of desired joint positions, and the PID control on each joint motor will effect that change.  By sending a steady stream of desired joint positions, you will be describing a trajectory for the leg to follow.</p>

<p>Coordinating the actions of all 6 legs simply involves a series of checkpoints to make sure that no leg gets too far behind the others.  You need not keep all 6 legs on the same checkpoint; for example, you might keep each set of tripods tightly in sync but only sync the 2 sets at the point in the gait where the weight is shifted.  </p>

<p><em>Another way to imagine the checkpoints is to consider the gait to be a series of repeated movements of each leg, where each leg is slightly phase-shifted.  In that case, the checkpoints would be the "constraints" on the allowed phase differences (e.g. <a href="http://www.msl.ri.cmu.edu/publications/pdfs/haynes-icra-2006.pdf" rel="nofollow">this CMU paper</a>).</em></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1462" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1462">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1462" class = 'collapse'>
			</div>
				<textarea id = "speech-1462" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1462">
					<img id="start_img-1462" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1462">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>