<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>PID with position and velocity goal?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10127" class = "post">
			<h2>Question</h2>
			<div id="vote-10127" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 475</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>PID with position and velocity goal?</h2>
<p>I'm trying to design a control system for a robot that tracks moving object. Thus I want to robot to match the position and velocity state of the object. I don't want robot to simply to arrive at the position, but I want to arrive at the position with the same velocity of the object. </p>

<p>Object velocity and position data will be provided externally.</p>

<p>I'm not sure if a traditional PID controller (with velocity controls) with just a position based error is enough. Wouldn't position only state goal result in tracking that is always lagging behind?</p>

<p>Is PID what I want or should I be looking at something else like trajectory controls?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10127" data-toggle = "popover">
				<p>user name : fairuse</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-10127">{'None': 0, 'pid': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10127" class = 'collapse'>
			</div>
				<textarea id = "speech-10127" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10127">
					<img id="start_img-10127" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10127">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10128"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10128" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In the case of <strong>MIMO</strong> systems (Multi-Input, Multi-Ouput), my warm suggestion is to go with <strong>State Space Control</strong>, which will give you enough freedom to move the closed-loop poles and thus achieve your control requirements. One viable solution, explored quite a lot in literature, is to employ a <strong>LQR controller</strong> coupled with a <strong>state observer</strong>, where here the state is obviously composed of position and velocity.</p>

<p>With regards to the use of a simple <strong>PID</strong>, I believe these two following questions are very much related:</p>

<ul>
<li><a href="https://robotics.stackexchange.com/questions/5260/the-aerial-refueling-problem-sketch-of-a-feedback-controller">The aerial refueling problem: sketch of a feedback controller</a>.</li>
<li><a href="https://robotics.stackexchange.com/questions/7502/control-both-velocity-and-position-linear-actuator">Control both Velocity and Position (Linear Actuator)</a>.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10128" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-10128">{'None': 99}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10128" class = 'collapse'>
			</div>
				<textarea id = "speech-10128" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10128">
					<img id="start_img-10128" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10128">Comment</button>
			<br><div id = "ans-10135"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10135" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If in fact you need the robot to be at the same speed as the tracked object at the time it arrives with it, you might need to employ more sophisticated methods. However, a controller that is the correct <em>type</em> will achieve asymptotically 0 tracking error on position (implying zero error on velocity by extension). Type is the amount of integrators in your controller. Now if your object you will be tracking is moving linearly, you need a type 1 controller. If it is changing its speed as well as its position (up to quadratic paths), you need a type 2 controller. 
My point is that if you know the constraints on the motion of the object you're tracking, and your specifications are that you must asymptotically approach the velocity and position of your object, you may be able to get away with employing a PID controller + integrator, which would look something like this: $$
\frac{k_{d}s^2+k_{p}s+k_{i}}{s^2} $$</p>

<p>or this:</p>

<p>$$ \frac{k_{d}s^2+k_{p}s+k_{i}}{s^3} $$</p>

<p>Careful though, these integrators can make your system unstable. You can test in Matlab.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10135" data-toggle = "popover">
				<p>user name : Bryan</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-10135">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10135">Load Comments</button></br>
			<div id = "commentsection-10135" class = 'collapse'>
			<div id = "comment-18017" class = "comment">
				<p>This answer contains nice arguments on the required controller's type.</p>
			</div>
			</div>
				<textarea id = "speech-10135" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10135">
					<img id="start_img-10135" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10135">Comment</button>
			<br><div id = "ans-10139"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10139" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In many cases, a single traditional PID controller is adequate to track an object and match both position and velocity of the object.
With the error term of the PID in terms of position, the integral term ("I" of the PID) and the derivative term (the "D" term in the PID) each help compensate for the velocity of the object.</p>

<p>No matter what control system you use, if the object makes a sudden unexpected movement, the tracking will lag behind -- that's part of the nature of our causal universe.
(Please tell us if there are any, even completely infeasible, ways of eliminating all lag from an object tracker).</p>

<p>There are various feedforward approaches that can reduce (but never eliminate) the lag in a PID controller.
In your case, rather than the (traditional, error-amplifying) approach that makes D proportional to the derivative of the position error,
you may have less lag by directly measuring the speed of the object and the speed of your tracker and setting D proportional to their difference.
(Or perhaps proportional to the speed of the object alone).</p>

<p>If you want the tracker to arrive at the velocity of the object at the same instant that it arrive at the position of the object,
then you want a control system "without overshoot".
There are lots of applications that require such a control system,
and PID control systems can be tuned such that they have no overshoot after a step impulse.
(You probably already know that <em>most</em> PID control systems are tuned using a different critera that <a href="http://support.motioneng.com/downloads-notes/tuning/pid_overshoot.htm" rel="nofollow noreferrer">allows some overshoot</a> and oscillation in order to reduce the lag in settling time; people using such systems use the term "overdamped" to describe settings that have no overshoot).</p>

<ul>
<li>Bob Pease. <a href="http://electronicdesign.com/analog/whats-all-p-i-d-stuff-anyhow" rel="nofollow noreferrer">"What's All This P-I-D Stuff, Anyhow?"</a> <em>("you may get better results from having two sensors. The one that drives the Differentiator may be located very close to the heater as an aid to stability. But the one that drives the integrator may live in the "sweet spot" -- the exact place where highest precision is needed.")</em></li>
<li><a href="https://robotics.stackexchange.com/questions/5260/the-aerial-refueling-problem-sketch-of-a-feedback-controller">The aerial refueling problem: sketch of a feedback controller</a></li>
<li>Leith Znaimer and John Bechhoefer. <a href="http://www.sfu.ca/chaos/papers/2014/rsi14-PID-reprint.pdf" rel="nofollow noreferrer">"Split PID control Two sensors can be better than one"</a>.</li>
<li><a href="http://control.com/thread/1026155550" rel="nofollow noreferrer">"PID control without overshoot"</a></li>
<li><a href="http://dx.doi.org/10.1109/ICEVENT.2013.6496531" rel="nofollow noreferrer">"Modified PID controller for avoiding overshoot in temperature of barrel heating system"</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10139" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-10139">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10139" class = 'collapse'>
			</div>
				<textarea id = "speech-10139" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10139">
					<img id="start_img-10139" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10139">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>