<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>PID over another module that implements a PID control?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7265" class = "post">
			<h2>Question</h2>
			<div id="vote-7265" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 66</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>PID over another module that implements a PID control?</h2>
<p>I'm in charge of a module to control the smoothness with which a platform should move; the platform already implements a closed-loop control on its own but this firmware is closed and I do not have access to source code.
It is therefore requested that a closed loop control should implemented on top of that PID, in a superior layer, above a module that already implements a closed loop control, so i have several question:</p>

<ol>
<li>It's conceptually correct implement a PID control in an upper layer to closed loop control that implements it?</li>
<li>What features may be loose in the lower close loop?</li>
<li>Maybe loop control closed negatively be influenced by the PID that implements the top layer?</li>
<li>Estimate The angular speed, yaw and pitch, based on the position of the motors using Kalman filters can generate values too far from the actual values reported</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-7265" data-toggle = "popover">
				<p>user name : Ricardo_arg</p>
				<p> user reputation : 105</p>
				<p class = "tagcontent" id = "usertaginfo-7265">{'ekf': 0, 'None': 0, 'pid': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7265" class = 'collapse'>
			</div>
				<textarea id = "speech-7265" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7265">
					<img id="start_img-7265" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7265">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7267"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7267" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is not uncommon to have nested (or hierarchical) control loops in a controller.</p>

<p>Usually the two different loops control two different variables, not the same one. Furthermore, it is assumed that the inner loop is faster then the outer one. 
If you write the differential equation of the plant, you can easily understand why: </p>

<p>$$ \dot{x} = f(x, \xi)$$
$$ \dot{\xi} = g(x, \xi, u)$$</p>

<p>You have the control $u$ which (directly) influences only the evolution of $\xi$ but you want to control $x$; you can think of designing a two-loop control system: an outer loop controlling $x$ and a second (inner) loop controlling $\xi$. The assumption  here is that $\xi$ will converge to the desired value faster than $x$.</p>

<p>This should answer your 1,2,3) questions. 
About the 4th one, it probably depends on how you implemented the Kalman Filter.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7267" data-toggle = "popover">
				<p>user name : Francesco</p>
				<p> user reputation : 201</p>
				<p class = "tagcontent" id = "usertaginfo-7267">{'control': 13, 'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7267" class = 'collapse'>
			</div>
				<textarea id = "speech-7267" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7267">
					<img id="start_img-7267" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7267">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>