<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Piezo sensors and multiplexers
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10215" class = "post">
			<h2>Question</h2>
			<div id="vote-10215" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 82</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Piezo sensors and multiplexers</h2>
<p>I got asked to make some sort of trigger pads for the foot section of an organ working over midi to a electric piano and my friend wants it to be pressure sensitive so we can program in the note velocity when he's not using the organ sound.</p>

<p><a href="https://www.youtube.com/watch?v=DuariiHWJQg" rel="nofollow">https://www.youtube.com/watch?v=DuariiHWJQg</a></p>

<p>That is what I try to achive. I want the pads to not just be on/off but also be able to control the velocity of the midi note.</p>

<p>Im planning to use a Adruino Uno with a MUX Shield II from Mayhew Labs to get 36 analog inputs. Not exactly sure on the wiring yet but have looked at some guides and videos on google to get a feel for how it can be made. </p>

<p>All these 36 piezo-"sensors" is planned to register how hard you push the pedals and then send out a MIDI signal with a specific note correspondig to the pedal, and velocity to the electric piano so you can control the low notes with your feet.</p>

<p><a href="http://www.thomann.de/se/clavia_nord_pedal_key_27.htm" rel="nofollow">http://www.thomann.de/se/clavia_nord_pedal_key_27.htm</a></p>

<p>Just like that but more pedals and a lot cheaper. </p>

<p>Will the Arduino be able to read the analog output of the piezo sensor even though it's going through a multiplexer?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10215" data-toggle = "popover">
				<p>user name : Minhtanh</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10215">{'control': 1, 'None': 0, 'electronics': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10215" class = 'collapse'>
			</div>
				<textarea id = "speech-10215" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10215">
					<img id="start_img-10215" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10215">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10217"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10217" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're asking about the <a href="http://mayhewlabs.com/products/mux-shield-2" rel="nofollow">Mayhew Labs multiplexer</a>.  Looking at their <a href="http://mayhewlabs.com/media/Mux_Shield_II_User_Guide.pdf" rel="nofollow">user guide</a>:</p>

<blockquote>
  <p>The Mux Shield uses TI 74HC4067 analog multiplexers (mux s) for input functionality</p>
</blockquote>

<p>I'm very sure those will be able to pass an analogue signal.</p>

<p>Bear in mind though that Piezo sensors respond to a <em>change</em> in pressure. When tapped they will produce a peak voltage that can be read to give a velocity, but they don't respond so well to continuous pressure (aftertouch) in the way that organ pedals might. This is fine if you want to know the velocity at which the pedals are hit, but perhaps not a full aftertouch.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10217" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-10217">{'None': 59}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10217">Load Comments</button></br>
			<div id = "commentsection-10217" class = 'collapse'>
			<div id = "comment-18217" class = "comment">
				<p>Thanks for the answer.

Du you have any suggestions for something instead of piezo sensors so I get an aftertouch-like response?</p>
			</div>
			<div id = "comment-18237" class = "comment">
				<p>@Minhtanh I have tried Force Sensitive Resistors [like these](https://www.rapidonline.com/taiwan-alpha-18mm-circular-membrane-force-sensor-78-4007) and they respond to pressure, though initial velocity might be a bit trickier to measure. Sadly much more expensive than piezo discs though...</p>
			</div>
			</div>
				<textarea id = "speech-10217" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10217">
					<img id="start_img-10217" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10217">Comment</button>
			<br><div id = "ans-10218"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10218" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A multiplexer should be able to do what you want, as could a multi-channel <a href="https://learn.sparkfun.com/tutorials/analog-to-digital-conversion" rel="nofollow">analog to digital converter</a>. </p>

<p>A multiplexer "aligns" a particular signal line with a pin on the microcontroller, like a <a href="http://previews.123rf.com/images/jerryb7/jerryb71111/jerryb7111100136/11458143-Railroad-TrainYard-Detroit-Stock-Photo.jpg" rel="nofollow">rail switch</a>, and then the microcontroller reads the value of the signal.</p>

<p>An analog to digital converter actually reads the value <em>at</em> the signal, then stores that value in a register. </p>

<p>The microcontroller has to send a signal to the MUX to tell it which signal it should align, and it would also have to have a digital communication with the an analog to digital converter (ADC). </p>

<p>You can sometimes get faster connection with a MUX because you can sometimes use digital I/O to signal the MUX to change (rather than a bus communication), but there are also issues with a MUX in that the device might short two input signals together before switching is complete (make-before-break). A MUX might also buffer the signal such that you're not <em>actually</em> connected to the true device. Sometimes these are advantages, sometimes they're not. </p>

<p>It's up to you to carefully read the datasheet on all of the devices and make sure what you're getting is what is suitable for you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10218" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10218">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10218" class = 'collapse'>
			</div>
				<textarea id = "speech-10218" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10218">
					<img id="start_img-10218" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10218">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>