<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>PixHawk or Naza M V2 for Aerial Imaging of Small Study Area with Hexacopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8703" class = "post">
			<h2>Question</h2>
			<div id="vote-8703" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 49</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>PixHawk or Naza M V2 for Aerial Imaging of Small Study Area with Hexacopter</h2>
<p>I have a project that is going to involve capturing ~80 images of a 35m x 50m agricultural study area for image processing.</p>

<p>I am wondering whether to use a NAZA v2 or PixHawk controller to outfit my ship (on a DJI F550 Flamewheel airframe).</p>

<p>My understanding is that Naza is limited as far as the amount of waypoints I can have during a particular mission. Can I break my imaging mission up into 8 or 10 sub-missions?</p>

<p>I also understand that PixHawk is in many ways superior but getting it up and running can be more finicky - I am on a limited time frame for this project.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8703" data-toggle = "popover">
				<p>user name : monkeyshines</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-8703">{'radio-control': 1, 'None': 0, 'uav': 1, 'gps': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8703">Load Comments</button></br>
			<div id = "commentsection-8703" class = 'collapse'>
			<div id = "comment-14233" class = "comment">
				<p>Welcome to *robotics* monkeyshines, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-8703" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8703">
					<img id="start_img-8703" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8703">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>