<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Place for GPS antenna on autonomous vehicle
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1765" class = "post">
			<h2>Question</h2>
			<div id="vote-1765" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 247</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Place for GPS antenna on autonomous vehicle</h2>
<p>I used to think that the higher GPS antenna position the better until I read the following on <a href="http://gpsd.berlios.de/faq.html#accuracy" rel="nofollow">GPSd FAQ</a>:</p>

<blockquote>
  <p>One <strong>common error is to place the GPS or antenna as high as possible</strong>.
  This will increase multipath effects due to signal bounce from the
  ground or water, which can cause the GPS to mistake its position and
  the time signal. The <strong>correct location for a boat GPS antenna</strong> is on the
  gunwale rail or pushpit rail, <strong>close to the water</strong> and as far from the
  mast as possible (to reduce signal bounce from the mast). If you're
  outside or in a fixed location, put the GPS antenna as far from
  buildings as possible, and on the ground.</p>
  
  <p>If you're <strong>in a car</strong>, <strong>don't
  put the GPS antenna on the roof, put it on the towbar</strong> or some similar
  location. If you're driving in a heavily built up area, you're going
  to get signal bounce off buildings and reduced accuracy. That's just
  how the physics works. Note, however, that as your velocity goes up it
  becomes easier for the convergence filters in your GPS to spot and
  discard delayed signal, so multipath effects are proportionally less
  important in fast-moving vehicles.</p>
</blockquote>

<p>Does anyone has experience placing GPS antenna on a towbar of the car as suggested? Does it give reasonable effect?</p>

<p>My concern is that placing antenna there will not reduce an error that much, but will expose the device (antenna) to possible mechanical damage.</p>

<p>So, are there any better positions apart from roof and towbar?</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1765" data-toggle = "popover">
				<p>user name : Boris</p>
				<p> user reputation : 38</p>
				<p class = "tagcontent" id = "usertaginfo-1765">{'None': 0, 'ugv': 7, 'gps': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1765">Load Comments</button></br>
			<div id = "commentsection-1765" class = 'collapse'>
			<div id = "comment-3662" class = "comment">
				<p>Get a mag-mount and give it a whirl?  Another problem with the towbar-mount is that the vehicle will block out half the sky, which will be an issue at times.</p>
			</div>
			<div id = "comment-3676" class = "comment">
				<p>I hoped someone tried it already. In our system antenna is bolted now, so I would be happy to find additional proof before moving it at all.</p>
			</div>
			<div id = "comment-3689" class = "comment">
				<p>I'm curious why you don't trust the GPSd FAQ to be giving you the best possible advice in this situation.</p>
			</div>
			<div id = "comment-3693" class = "comment">
				<p>@Ian, it is easier to ask rather than move the device (including all the wiring). Also it seems to be rather an exotic place for antenna - if you check some of autonomous cars, e.g. [Stanford's Stanley](https://www.google.com/search?q=grand+challenge+stanley&newwindow=1&safe=off&source=lnms&tbm=isch&sa=X&ei=-nEdUrauJYmQiQe_u4GgDg&ved=0CAkQ_AUoAQ&biw=1280&bih=742#imgdii=_) (which won DARPA Grand Challenge), they place antennae on the roof. Same did the other teams. So there is a big question if it is worth the effort.</p>
			</div>
			<div id = "comment-3698" class = "comment">
				<p>Autonomous vehicles are a different story because they combine their GPS with a host of other sensors (most notably, LIDAR) to get a much more accurate real-time position.  If you're planning to do the same thing, you should update your question with that information.</p>
			</div>
			<div id = "comment-3701" class = "comment">
				<p>Well, the question's title telling about autonomous vehicle. So I thought it is sufficient.</p>
			</div>
			<div id = "comment-3963" class = "comment">
				<p>How much do you care about accuracy? 

The reality with any GPS system is that you are only going to be accurate to about 1-2 meters unless you use Differential GPS (or some other correction signal). It is usually much better to tie the GPS position to some sort of Inertial measurement system. While I agree multipath is a huge issue for robots... you need to think of what your real needs are. What kind of autonomous vehicle are you trying to make? From that, you could decide how much accuracy you really need from your GPS solution.</p>
			</div>
			</div>
				<textarea id = "speech-1765" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1765">
					<img id="start_img-1765" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1765">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1940"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1940" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I work on  race cars which occasionally race in built up areas such as street circuits. 
As part of the mandatory electronic systems we fit a GPS antenna to the car to allow vehicle tracking.</p>

<p>Some of the guidance we have for the installation is </p>

<ul>
<li>Fit the antenna to the upper surface of the car </li>
<li>Keep the antenna within 5 degrees of horizontal</li>
<li>Do not place metal objects above the antenna</li>
<li>Guarantee the direct visibility of the sky from the antenna, with a minimum of 170  cone unimpeded</li>
</ul>

<p>So I would have expected that mounting a GPS antenna on a towbar where, potentially, half of the visibility would be obstructed by the metal structures at the rear of the vehicle would not be a good idea and would almost certainly be worse than fitting it to the roof</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1940" data-toggle = "popover">
				<p>user name : Matthew Gordon</p>
				<p> user reputation : 303</p>
				<p class = "tagcontent" id = "usertaginfo-1940">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1940" class = 'collapse'>
			</div>
				<textarea id = "speech-1940" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1940">
					<img id="start_img-1940" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1940">Comment</button>
			<br><div id = "ans-2141"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2141" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Inaccuracy due to multipath bounces is negligible compared to inaccuracy due to seeing fewer satellites, as Matthew Gordon answers.  So on a land vehicle, roof is best.  Towbar is very poor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2141" data-toggle = "popover">
				<p>user name : Camille Goudeseune</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-2141">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2141" class = 'collapse'>
			</div>
				<textarea id = "speech-2141" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2141">
					<img id="start_img-2141" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2141">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>