<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Plastic that's transparent to IR range sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5071" class = "post">
			<h2>Question</h2>
			<div id="vote-5071" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2813</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Plastic that's transparent to IR range sensors</h2>
<p>Sharp IR range finders are pretty popular sensors, but I usually see them externally mounted and directly exposed to the environment which makes them prone to being damaged or getting crufty.</p>

<p>I have a few that I'd like to use on an outdoor rover, and I'd like to cover them with some sort of transparent case to protect them dirt and impacts in the environment. What type of plastics would be completely transparent to these sensors, and where would I buy simple sheets of it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5071" data-toggle = "popover">
				<p>user name : Cerin</p>
				<p> user reputation : 152</p>
				<p class = "tagcontent" id = "usertaginfo-5071">{'magnetometer': 0, 'None': 0, 'force': 1, 'motor': 1, 'simulator': 2, 'battery': 1, 'bec': 0, 'cameras': 2, 'torque': 1, 'design': 1, 'mechanism': 0, 'slam': 3, 'rangefinder': 2, 'beagle-bone': 1, 'compass': 0, 'mobile-robot': 1, 'sensors': 3, 'ros': 3, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5071" class = 'collapse'>
			</div>
				<textarea id = "speech-5071" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5071">
					<img id="start_img-5071" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5071">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5072"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5072" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First you need to know the wavelength of the sensor. According to the sharp sensors datasheet for GP2Y0A21YK, the cover should efficiently transmit light throughout the wavelength range of the LED(  = 850 nm   70 nm).</p>

<p>Second you need to find the exact material which can transmits the wavelength of the sensor. Some transparent plastics such as acrylic glass are used where there is need to transmit IR-light or visible light. Poly(methyl methacrylate) (PMMA) passes infrared light of up to 2,800 nm and blocks IR of longer wavelengths up to 25,000 nm. Colored PMMA varieties allow specific IR wavelengths to pass while blocking visible light (for remote control or heat sensor applications, for example). A company called ePlastics has a variety of <a href="http://www.eplastics.com/Plexiglass_Acrylic_Sheet_Infrared_Transmitting" rel="nofollow">plexiglas for different wavelengths</a>. But there are several other suppliers.</p>

<p>Note: Sometime IR-range sensor don't function properly under direct sunlight.
Further reading: <a href="http://www.plasticgenius.com/2011/05/infrared-and-ultraviolet-transmission.html" rel="nofollow">http://www.plasticgenius.com/2011/05/infrared-and-ultraviolet-transmission.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5072" data-toggle = "popover">
				<p>user name : Esk</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-5072">{'None': 23, 'chassis': 2, 'motor': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5072" class = 'collapse'>
			</div>
				<textarea id = "speech-5072" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5072">
					<img id="start_img-5072" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5072">Comment</button>
			<br><div id = "ans-5075"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5075" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>FWIW, I once needed to create a plexiglass window/shell for a near-IR camera. Most CCD and CMOS sensors are sensitive in the near IR range (e.g. around 850nm), which is where <a href="https://robotics.stackexchange.com/a/5072/7620">@user3095849</a> suggested your sensor sits.</p>

<p>I went to a local plexiglass supplier and asked for samples of various sheets (they often have lots of leftover pieces) and simply tried them with my sensor.<br>
This was actually simpler than looking for data-sheets for the materials the supplier had.  </p>

<p>Interestingly, many of the colored plexiglass sheets were completely transparent in IR. I ended up using one that appears a completely opaque black.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5075" data-toggle = "popover">
				<p>user name : Adi Shavit</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-5075">{'magnetometer': 2, 'None': 4, 'imu': 2, 'gyroscope': 2, 'accelerometer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5075" class = 'collapse'>
			</div>
				<textarea id = "speech-5075" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5075">
					<img id="start_img-5075" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5075">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>