<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Plastic shaft supports
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1205" class = "post">
			<h2>Question</h2>
			<div id="vote-1205" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 129</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Plastic shaft supports</h2>
<p>I would like to prevent a shaft from being pulled through it's bearings - that is, press a plastic ring around it on either side.  What are these rings called? They're not bearings or hubs.  And where can I find them?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1205" data-toggle = "popover">
				<p>user name : SRobertJames</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-1205">{'None': 0, 'mechanism': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1205" class = 'collapse'>
			</div>
				<textarea id = "speech-1205" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1205">
					<img id="start_img-1205" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1205">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1206"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1206" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Many shafts and spindles have shoulders (ie, a ring-shaped surface at the junction of different shaft diameters) turned on them to serve such a purpose.  If there is no diameter change in the shaft you are working with, <em><a href="http://en.wikipedia.org/wiki/Shaft_collar" rel="nofollow">shaft collars</a></em> sometimes are used to keep the shaft from sliding back and forth.  The wikipedia article mentions several kinds of collars.  <a href="http://www.amazon.com/b?ie=UTF8&amp;node=16411911" rel="nofollow">Amazon</a> and <a href="http://www.ebay.com/sch/i.html?_trksid=p2050601.m570.l1313.TR0.TRC0&amp;_nkw=Shaft+collar&amp;_sacat=0&amp;_from=R40" rel="nofollow">Ebay</a> sellers list quite a few medium to large sizes.  If the shaft you are working with is small-diameter, eg 1/16" 3/16", then look for shaft collars among model airplane supplies.  </p>

<p>I'm not aware of any suppliers of shaft collars made of plastic.  If you are referring to bushings or to grommets, they won't resist sliding unless they are fastened with a band clamp or a collet.</p>

<p><a href="https://www.google.com/search?q=shaft+grommet&amp;hl=en&amp;tbm=isch&amp;tbo=u&amp;source=univ&amp;sa=X&amp;ei=fsxwUbLpIOP5iwKqmoG4Cw&amp;ved=0CDsQsAQ&amp;biw=1052&amp;bih=553#hl=en&amp;tbm=isch&amp;q=snap+ring&amp;revid=1540968864&amp;sa=X&amp;ei=FtJwUePVEMKRiQKMqYCwAQ&amp;ved=0CE8QgxY&amp;bav=on.2,or.r_qf.&amp;bvm=bv.45373924,d.cGE&amp;fp=d610fbf3756a904e&amp;biw=1052&amp;bih=553" rel="nofollow">Snap rings</a> also are used to keep shafts from sliding.  Snap rings fit into a thin shallow groove around the shaft.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1206" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1206">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1206" class = 'collapse'>
			</div>
				<textarea id = "speech-1206" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1206">
					<img id="start_img-1206" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1206">Comment</button>
			<br><div id = "ans-1223"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1223" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Shafts can be constrained with e-clips, snap rings, shaft collars, set screws, spacers or threaded holes at the end of the shaft with washers.  </p>

<p>McMaster.com is usually a good place to look for different shaft collars and mechanisms, especially if you don't know the exact name.  They have an excellent picture reference and sorting feature for sizes and materials.  </p>

<p>My advice is to go with a "clamp-on shaft collar".<br>
<a href="http://www.mcmaster.com/#shaft-collars/=mgq5da" rel="nofollow">http://www.mcmaster.com/#shaft-collars/=mgq5da</a></p>

<p>Clamp-on shaft collars typically do not leave marks and are easy to assemble compared to other shaft constraint methods.   E-clips and snap rings typically require the shaft to be modified to allow for the insert of the clip.  "Set screw shaft collars" will leave an indentation on the shaft from the screw.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1223" data-toggle = "popover">
				<p>user name : lyncas</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1223">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1223" class = 'collapse'>
			</div>
				<textarea id = "speech-1223" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1223">
					<img id="start_img-1223" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1223">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>