<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Please remove this "beta" article from help
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2604" class = "post">
			<h2>Question</h2>
			<div id="vote-2604" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Please remove this "beta" article from help</h2>
<p>Please remove <a href="https://apple.stackexchange.com/help/whats-beta">https://apple.stackexchange.com/help/whats-beta</a></p>

<p>This applies to sites that are still in "beta" and clouds the issue we have on the site with respect to beta software questions in general.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1119/">Despite the general rule to not answer questions about beta products, should we allow Messages on OS X and Siri on iPhone 4S questions?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/1712/">Are iOS 10, macOS 10.12, watchOS 3 or tvOS 10 (beta) questions OK?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/573/">Update to FAQ regarding beta and pre-release software</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/798/">Pre-release software that doesn&#39;t require an NDA</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/2396/">Are Apple iCloud / iWork beta web apps on topic for the main site?</a></li>
</ul>

<p>The site beta status is "inside baseball" describing what steps Ask Different went through to get to where we are today. It's no longer relevant to have up and the help could use some thinning since it's not even viewable on one page.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2604" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2604">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2604" class = 'collapse'>
			</div>
				<textarea id = "speech-2604" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2604">
					<img id="start_img-2604" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2604">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2605"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2605" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a specific article about what we wish the community to know about the term "beta" as it pertains to any site in the SE network.  It serves as information for users who have never been a part of the SE network and wish to learn how a site evolves.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2605" data-toggle = "popover">
				<p>user name : Geoff Dalgas</p>
				<p> user reputation : 102</p>
				<p class = "tagcontent" id = "usertaginfo-2605">{'None': 24, 'community-ads': 9, 'discussion': 9, 'site-promotion': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2605">Load Comments</button></br>
			<div id = "commentsection-2605" class = 'collapse'>
			<div id = "comment-5879" class = "comment">
				<p>Could you at least bury it so it's below the fold on the main help page? I interact with users that need help and actually looked for help on the help page, but there's too much data there for them to find the asking / answering articles without searching. I can gladly start a new request listing the exact articles I feel from experience should be visible above the fold. Spamming, meta and editing are things we suspend users and have to help them with. Could those get better ordering than "what is beta"?</p>
			</div>
			</div>
				<textarea id = "speech-2605" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2605">
					<img id="start_img-2605" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2605">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>