<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Please change name of site from "Apple" to "Ask Different"
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-433" class = "post">
			<h2>Question</h2>
			<div id="vote-433" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">23</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 550</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Please change name of site from "Apple" to "Ask Different"</h2>
<p>The new "mobile" template, among other things, replaces the site logo with the name of the site in text. However, the Stack Exchange engine still thinks that this site is called "Apple", which results in users visiting Ask Different on their iPhones being served a page that looks nothing like Ask Different with the word "Apple" instead of the logo.</p>

<p>Another example of where "Apple" appears where "Ask Different" should be used is in the moderator election system message. I've changed it on the main site, but you can see here on the meta site that it says "Apple 2011 community moderator election" instead of "Ask Different 2011 community moderator election". </p>

<p>To fix these issues, and to make sure that similar ones don't come up in the future, I request that the name of this site be changed to "Ask Different".</p>

<p><strong>edit:</strong> some current examples:</p>

<p><img src="https://i.imgur.com/a3WAG.png" alt=""></p>

<p><img src="https://i.imgur.com/EywZW.png" width="320"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-433" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-433">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-433">Load Comments</button></br>
			<div id = "commentsection-433" class = 'collapse'>
			<div id = "comment-915" class = "comment">
				<p>this should not be migrated to meta.so</p>
			</div>
			<div id = "comment-916" class = "comment">
				<p>@Jeff OK, then can you provide a response to the request here?</p>
			</div>
			<div id = "comment-1044" class = "comment">
				<p>It does add to the cognitive load to see the URL different than the branding.</p>
			</div>
			<div id = "comment-1118" class = "comment">
				<p>In Ask Different Chat, http://chat.stackexchange.com/transcript/message/1491135#1491135 (2011-07-31, my first participation in chat) highlights the confusion that may be experienced by newcomers.</p>
			</div>
			<div id = "comment-1119" class = "comment">
				<p>"Apple - Stack Exchange is that tiny asterisk "  http://apple.stackexchange.com/about</p>
			</div>
			<div id = "comment-1120" class = "comment">
				<p>"Apple Stack Exchange" and "Apple - Stack Exchange" in the FAQ  would this type of comment be better in [What should our FAQ contain?](http://meta.apple.stackexchange.com/q/5/8546)?</p>
			</div>
			<div id = "comment-2522" class = "comment">
				<p>Thanks Geoff. Not to sound ungrateful but any updates on the domain name as well? :)</p>
			</div>
			</div>
				<textarea id = "speech-433" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-433">
					<img id="start_img-433" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-433">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-645"  class = "post">
				<h2>Answer</h2>
			<div id="vote-645" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1><a href="http://twitter.com/stackapple" rel="nofollow noreferrer">StackApple on Twitter</a></h1>

<p>I doubt that the short name can be changed. </p>

<p>My first thought was that the name to the side could be updated: </p>

<ul>
<li>from <em>Apple Stack Exchange</em></li>
<li>to <em>Ask Different</em></li>
</ul>

<p>Later I became <a href="http://chat.stackexchange.com/transcript/message/1537771#1537771">aware of @askdifferent on Twitter</a>, which now has its own question <a href="https://apple.meta.stackexchange.com/q/654/8546">Who owns @askdifferent on twitter?</a></p>

<p>So: whatever happens to the side name etc. of @StackApple should be not decided until after the @askdifferent question is answered. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-645" data-toggle = "popover">
				<p>user name : Graham Perrin</p>
				<p> user reputation : 4827</p>
				<p class = "tagcontent" id = "usertaginfo-645">{'None': 30, 'tags': 7, 'support': 7, 'status-completed': 2, 'bug': 3, 'design': 6, 'feature-request': 18, 'status-bydesign': 5, 'discussion': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-645">Load Comments</button></br>
			<div id = "commentsection-645" class = 'collapse'>
			<div id = "comment-1222" class = "comment">
				<p>We are going to change the bio line of @StackApple to something like "Stack Exchange Q&A for power users of Apple hardware and software", which means we will be able to change the Real Name to Ask Different without having to mention SE. In theory. (This is not a fix by any means, but it's a good first step.)</p>
			</div>
			</div>
				<textarea id = "speech-645" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-645">
					<img id="start_img-645" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-645">Comment</button>
			<br><div id = "ans-676"  class = "post">
				<h2>Answer</h2>
			<div id="vote-676" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This also is listed as Apple and not Ask Different in the chat parent user dialog.</p>

<ol>
<li>go to <a href="http://chat.stackexchange.com/">http://chat.stackexchange.com/</a> and log in if needed</li>
<li>select your user name at the top of the screen (to the left of users | rooms | faq)</li>
<li>select <strong><em>change</em></strong> next to parent user <img src="https://i.stack.imgur.com/sGLca.png" alt="enter image description here"></li>
<li><strong>Apple</strong> matches the Ask Different site - <strong>ask</strong> only matches <strong><em>Ask Ubuntu</em></strong></li>
</ol>

<p>Now that this name change is complete - the search tab for selecting a site is quite intelligent, matching the obvious Ask but also matching the intuitive, but not shown Apple string as you type it. This is very cool!</p>

<p><img src="https://i.stack.imgur.com/Lug5I.png" alt="new ask different name change expansion"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-676" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-676">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-676">Load Comments</button></br>
			<div id = "commentsection-676" class = 'collapse'>
			<div id = "comment-1204" class = "comment">
				<p>(i figured this would be better here or should I make a new bug post for this specifically?)</p>
			</div>
			<div id = "comment-1209" class = "comment">
				<p>This is fine here, it's the same problem</p>
			</div>
			</div>
				<textarea id = "speech-676" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-676">
					<img id="start_img-676" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-676">Comment</button>
			<br><div id = "ans-1016"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1016" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's also listed as <em>Apple</em> in the migration statistics section of the 10k tools on other sites. Makes it difficult to find when searching for <em>Ask Different</em>.</p>

<p><img src="https://i.stack.imgur.com/1ab3Z.png" alt="enter image description here"></p>

<p>Especially given the fact that <em>Ask Ubuntu</em> is the proper name of the Ubuntu site...</p>

<p><img src="https://i.stack.imgur.com/Kvml7.png" alt="enter image description here"></p>

<hr>

<p>On the reputation leagues site, it also appears as <em>Apple</em>.</p>

<p><img src="https://i.stack.imgur.com/9JJsX.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1016" data-toggle = "popover">
				<p>user name : Daniel Beck</p>
				<p> user reputation : 1712</p>
				<p class = "tagcontent" id = "usertaginfo-1016">{'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1016" class = 'collapse'>
			</div>
				<textarea id = "speech-1016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1016">
					<img id="start_img-1016" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1016">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>