<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Plotting location using wheel encoder data
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9171" class = "post">
			<h2>Question</h2>
			<div id="vote-9171" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 525</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Plotting location using wheel encoder data</h2>
<p><strong>Context</strong>: I am working with the SFU Mountain Dataset<a href="http://autonomylab.org/sfu-mountain-dataset/" rel="nofollow noreferrer"> [http://autonomylab.org/sfu-mountain-dataset/]</a></p>

<p>The UGV image - via the SFU Mountain Dataset website:
<a href="https://i.stack.imgur.com/exx7h.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/exx7h.jpg" alt="enter image description here"></a></p>

<p>I have used the following state update equations (Husky A200 - differential drive)</p>

<p>State Update - from Prob. Robotics, Thrun et. al <code>[x' y' theta'] represent the state at the next time step</code></p>

<p><a href="https://i.stack.imgur.com/UAh17.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UAh17.jpg" alt="enter image description here"></a>
<a href="https://i.stack.imgur.com/sVtB6.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/sVtB6.jpg" alt="State Update - from Prob. Robotics, Thrun et. al."></a></p>

<p>After plotting the x and y positions based on <strong>just</strong> the wheel encoder data (v_fwd and w -> the dataset provides these directly, instead on the vr and vl), the curve seems to be quite weird and unexpected.
Wheel Odometry Data - <a href="http://autolab.cmpt.sfu.ca/files/datasets/sfu-mountain-workshop-version/sfu-mountain-torrent/encoder-dry-a.tgz" rel="nofollow noreferrer">http://autolab.cmpt.sfu.ca/files/datasets/sfu-mountain-workshop-version/sfu-mountain-torrent/encoder-dry-a.tgz</a></p>

<p>Blue - Wheel Odom  |  Red - GPS
<a href="https://i.stack.imgur.com/zw32B.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/zw32B.jpg" alt="Blue - Wheel Odom  |  Red - GPS"></a></p>

<p>Actual path!
<a href="https://i.stack.imgur.com/v6Fsf.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/v6Fsf.jpg" alt="Actual path!"></a></p>

<p><strong>Question</strong>: Is the above curve expected (considering the inaccuracy of wheel odometry) or is there something I'm missing? If the wheel encoder data is that bad, will an EKF (odom + imu) even work?</p>

<p>PS: I'm not worried about the EKF (update step) just as yet. What concerns me more is the horrible wheel odometry data.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9171" data-toggle = "popover">
				<p>user name : AKag</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-9171">{'odometry': 8, 'None': 0, 'localization': 8, 'ekf': 12, 'pose': 4, 'wheeled-robot': 12, 'differential-drive': 5, 'imu': 3, 'kalman-filter': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9171">Load Comments</button></br>
			<div id = "commentsection-9171" class = 'collapse'>
			<div id = "comment-15208" class = "comment">
				<p>I experienced slip of wheels even in somewhat ideal lab conditions (flat, clean, dry floor), which made separate slip-free encoder wheels necessary. This is a woodland trail.</p>
			</div>
			</div>
				<textarea id = "speech-9171" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9171">
					<img id="start_img-9171" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9171">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9176"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9176" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, I have experienced this. Wheel encoders are great for a second to second hint for an ekf predict step, but are generally awful for long term, long distance prediction. Odometery and imu can do better, but both are integrators and will accumulate error quickly. Add GPS, terrain features, or other global estimates for a real solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9176" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-9176">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9176">Load Comments</button></br>
			<div id = "commentsection-9176" class = 'collapse'>
			<div id = "comment-15211" class = "comment">
				<p>Thanks for the help! 
But, shouldn't I get a curve (from the pure wheel odom reading) that at least resembles the actual/gps curve? I expected it to be of a similar 'shape', with a large drift from the gps data. Do the equations that I'm using make sense?</p>
			</div>
			<div id = "comment-15213" class = "comment">
				<p>Maybe. I'm sure others can and will address the details. I'm just saying I've seen it that bad before</p>
			</div>
			</div>
				<textarea id = "speech-9176" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9176">
					<img id="start_img-9176" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9176">Comment</button>
			<br><div id = "ans-9177"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9177" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Thanks for the update. Now it looks like $x_c$ and $y_c$ denote the origin/starting position, and $\theta$ is positive, measured CCW from the positive x-axis. Now I am even more concerned about the equations you're using. Consider just $x$. You have:</p>

<p>$$
x_k = x_{k-1} - \frac{v}{\omega} \sin{(\theta)} + \frac{v}{\omega} \sin{(\theta + \omega \Delta t)}
$$</p>

<p>So, </p>

<ol>
<li>Consider the term $\frac{v}{\omega}$. If there is no yawing motion, $\omega = 0$, then what happens? That term is divide-by-zero. If $\omega$ happens to be <em>near</em> zero, the term explodes to infinity. </li>
<li>Consider #1 to not be broken, and imagine no yaw at a heading of $\theta = 0$, which means the vehicle is pointing in-line with the +x axis. However, assuming #1 is a non-issue, x values update directly proportional to $\sin{\theta}$, which evaluates to zero. That is, per the diagram and code provided, when the vehicle is in line with the x-axis it is not possible to change the x-coordinate of the vehicle. </li>
<li>Ignoring #1 and #2 above, there is no time-dependency on the non-x terms. This means that, whether the sample frequency is 10Hz or 1000Hz, each sample will accumulate with the same weight. This is akin to me saying I've traveled another 60 miles every time I look at the speedometer in my car, <em>regardless of how frequently I check it</em>. I (you) don't include <em>how long</em> the vehicle has been at that speed, so any check of vehicle speed is improperly weighted.</li>
</ol>

<p>Currently you only show (a picture of!) the algorithm you're using to generate positions. The more you can post the easier it is to help - the actual code would help the most.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9177" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9177">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9177">Load Comments</button></br>
			<div id = "commentsection-9177" class = 'collapse'>
			<div id = "comment-15216" class = "comment">
				<p>1. You're correct. When using this motion model, you're actually supposed to switch to another one when   is below a threshold (see my answer). 2. When $\omega\neq 0$ (i.e., #1 not broken) and $v>0$, the third term will be positive, making $x$ increase. 3. I think you should take a look at the formulation. The $\Delta t$ in the third term here actually accounts for how long you've been travelling at the velocities since the last update.</p>
			</div>
			<div id = "comment-15220" class = "comment">
				<p>Chuck, that's a good catch! I'll try it out with kamek's suggestion, and check if it gets any better.</p>
			</div>
			<div id = "comment-15225" class = "comment">
				<p>@AKag - no problem, but again, please post the actual code you're using on the next update (if there is one). Something I thought about since I answered is that your vehicle looks like a 4 wheeled vehicle, but you state it's differentially steered. I don't know if all four wheels are driven, and if not, whether the encoder data is coming from driving or passive wheels. Passive wheels would neatly sidestep most of your wheel slip error. As a neat check, once you've parsed the data, try summing the path and compare that path length to summed GPS path length.</p>
			</div>
			</div>
				<textarea id = "speech-9177" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9177">
					<img id="start_img-9177" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9177">Comment</button>
			<br><div id = "ans-9179"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9179" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A few things:</p>

<ol>
<li><p>I took a look at your data set. Did you make sure you used the time column correctly? The first entry is "1429481388546050050" without the decimal. To make it in seconds, it should be 1429481388.546050050.</p></li>
<li><p>Your motion model is fine (I've used it before, for people who want to see it derived, it is very similar to <a href="http://rossum.sourceforge.net/papers/DiffSteer/#d5" rel="nofollow">this one</a>). However, to avoid dividing by zero, you should be checking the value for angular velocity, and if it below a certain threshold, you need to change it to</p></li>
</ol>

<p>$$
\begin{bmatrix}
x_{k+1} \\ y_{k+1} \\ \theta_{k+1}
\end{bmatrix}
= 
\begin{bmatrix}
x_k \\ y_k \\ \theta_k
\end{bmatrix}
+
\begin{bmatrix}
v_k\Delta t\cos(\theta_k) \\ v_k\Delta t\sin(\theta_k) \\ \omega_k\Delta t
\end{bmatrix}
$$</p>

<ol start="3">
<li><p>The wheel encoders on the Husky are actually pretty good. If you can get your hands on the raw data (i.e., the ticks), you might get a better result. However, this requires that it was somewhat well calibrated (i.e., how many ticks per metre of travel).</p></li>
<li><p>If this were an indoor test, I would tell you that yes, you should definitely get better results. But it looks like the Husky was travelling on pretty rough terrain. If you've compensated for the two things I mentioned, it might just be the tough environment!</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9179" data-toggle = "popover">
				<p>user name : kamek</p>
				<p> user reputation : 775</p>
				<p class = "tagcontent" id = "usertaginfo-9179">{'None': 48}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9179">Load Comments</button></br>
			<div id = "commentsection-9179" class = 'collapse'>
			<div id = "comment-15219" class = "comment">
				<p>Thanks!
 I have scaled and subtracted the time stamps appropriately. I will try changing the equations for the w = 0 condition and get back. In the case that it still turns out to be bad, are you aware of any other datasets that have decently dependable wheel odom + imu values?</p>
			</div>
			</div>
				<textarea id = "speech-9179" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9179">
					<img id="start_img-9179" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9179">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>