<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Pole-balancing ~ inverted-pendulum; is there a need for active control?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8544" class = "post">
			<h2>Question</h2>
			<div id="vote-8544" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Pole-balancing ~ inverted-pendulum; is there a need for active control?</h2>
<p>Not sure if I am posting this question in the correct community, as it relates primarily to reinforcement learning. Apologies early on if this is not so.</p>

<p>In reinforcement learning many algorithms exist for 'solving' the cart-pole problem; that of balancing a mass on the edge of a stick, connected to a cart on a hinge, which has 1 DoF. There is TD learning, Q-learning and many other on and off-policy methods. There is also the more recent, model-based policy search method <a href="http://mlg.eng.cam.ac.uk/pilco/" rel="nofollow">PILCO</a>.</p>

<p>What I am really wondering, I suppose is more of a physics question: is there a need for active control? Why is it not possible to find the one point for the cart, which prevents the mass to move, even incrementally, left or right as it sits atop the pole? Why does it always 'fall'?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8544" data-toggle = "popover">
				<p>user name : Astrid</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-8544">{'control': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8544" class = 'collapse'>
			</div>
				<textarea id = "speech-8544" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8544">
					<img id="start_img-8544" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8544">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8545"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8545" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your question might be better suited to another forum, but is definitely important for robotics in general. You are basically talking about <em>unstable equilibrium</em>, where there does exist a point where the pole is balanced, but any small perturbation (random unforeseen input like wind or vibration) will cause it to diverge away from that balance.</p>

<p>This is one reason why active control is necessary. But even if the pole were a regular pendulum hanging down (with a <em>stable equilibrium</em> point), you still might want active control to stop it from swinging around too much. In the end, active control is what you need if you want to change the system dynamics -- whether that means going from unstable to stable or just improving the response for desired performance.</p>

<p>When you consider this in the context of reinforcement learning, you can think about active control as the input you still need for certain actions to account for effects that cannot be modelled. For example, driving a car involves learned actions that you simply just "do" without any real active control, like moving your eyes to look in the rear-view mirror. However, it also involves lots of active control to react to the changing environment (otherwise you could drive around blind-folded).</p>

<p>Take a look at combined feedback and feed-forward control, where the former is the active control and the latter representative of learned inputs.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8545" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8545">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8545">Load Comments</button></br>
			<div id = "commentsection-8545" class = 'collapse'>
			<div id = "comment-13841" class = "comment">
				<p>Thanks that was very informative, though suppose our entire goal is to just find the point at which the unstable equilibrium is reached. Can that point be reached and then kept there without need active control input?</p>
			</div>
			<div id = "comment-13842" class = "comment">
				<p>On paper, unstable equilibrium is still equilibrium but in reality it doesn't last very long. Imagine balancing a coin on its edge -- can be done but doesn't necessarily stay up long. Now imagine balancing a pencil on its sharp point -- almost impossible. For a cart with an inverted pendulum the equilibrium point is with the pendulum straight up (unless you are accelerating, or accounting for aerodynamic drag while moving at constant speed). But I would say in reality you will almost always need active control for an unstable system.</p>
			</div>
			<div id = "comment-13843" class = "comment">
				<p>@astrid:  how exactly do you think it could be "kept there"?  In practice it is impossible to keep it there passively.  There will always be disturbances.</p>
			</div>
			</div>
				<textarea id = "speech-8545" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8545">
					<img id="start_img-8545" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8545">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>