<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Policy~opinion on upvoting a question
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2269" class = "post">
			<h2>Question</h2>
			<div id="vote-2269" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 16</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Policy~opinion on upvoting a question</h2>
<p>Sorry for the ambiguous title.</p>

<p>Better but more wordy question ought to be...<br>
Is it policy or does it make sense to upvote a question where the user obviously did something incredibly dim, but the question/answer itself could be useful to other people?</p>

<p>I use this as an example [the fact that I answered it has no bearing, I'm still tempted to upvote the question as useful]<br>
<a href="https://apple.stackexchange.com/questions/153000/mac-stopped-working-after-deleting-hidden-files">Deleted hidden files and now Mac won&#39;t boot, how do I fix this?</a></p>

			</div>
			<div id = "userinfo-2269" style = "float:right">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p> user tag wise history : {'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2269">Load Comments</button></br>
			<div id = "commentsection-2269" class = 'collapse'>
			<div id = "comment-4273" class = "comment">
				<p>Allow me the soapbox for a moment: there is far too little voting on this site, both up and down. Voting tends to follow along the "well, I wouldn't do that so no vote from me" lines which isn't really how it should work. A good question is a good question. Similarly multiple good answers in a question can be upvoted because a good answer is a good answer.</p>
			</div>
			</div>
				<textarea id = "speech-2269" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2269">
					<img id="start_img-2269" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2269">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2271"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2271" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the <a href="https://apple.stackexchange.com/help/why-vote">FAQ on Why is voting important</a>:</p>

<blockquote>
  <p>Voting up a question or answer signals to the rest of the community that a post is interesting, well-researched, and useful, while voting down a post signals the opposite: that the post contains wrong information, is poorly researched, or fails to communicate information. The more that people vote on a post, the more certain future visitors can be of the quality of information contained within that post   not to mention that upvotes are a great way to thank the author of a good post for the time and effort put into writing it!</p>
</blockquote>

<p>So the key idea is not to vote on the actions/problems of others but primarily on whether a question is "interesting, well-researched, and useful". Which also means that down voted questions can have up voted answers (and vice versa, which is probably the case more often).</p>

<p>But also keep in mind that the SE network is all about sharing information and giving back to the community. So if you see ways to improve a question, go ahead and do so because it will benefit all parties involved (the OP might learn how to write better questions, you will get some reputation for the edit and the community has a better question attracting better answers).</p>
</p><br>
			</div>
			<div id = "userinfo-2271" style = "float:right">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p> user tag wise history : {'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2271">Load Comments</button></br>
			<div id = "commentsection-2271" class = 'collapse'>
			<div id = "comment-4270" class = "comment">
				<p>The question I referred to has no merit except to warn others not to do the same, hence my hesitancy.</p>
			</div>
			<div id = "comment-4271" class = "comment">
				<p>@Tetsujin that question you linked to is great, if maybe a little poorly worded, "I deleted hidden files and now my machine won't boot, how do I fix this?"</p>
			</div>
			<div id = "comment-4272" class = "comment">
				<p>@IanC. All yours if you want to change it to a simple 'I blew it, how do i fix it' question. I do feel the idea of the question is useful, however awkwardly it's currently worded.</p>
			</div>
			<div id = "comment-4274" class = "comment">
				<p>@Tetsujin I encourage you to improve, not flag, questions and answers on the site when they have some merit to them. I'll use this as an example if you need a guide, but it's not on the moderators to do all the question clean up here, it's on the community as a whole. Edit: I didn't need much work at all.</p>
			</div>
			<div id = "comment-4275" class = "comment">
				<p>@IanC. Thanks. I do make edits, but as I'm still a relative newbie, I avoid the ones that may need major revision or a more experienced mod, I tend to stick to the 'inline an image, clarify some syntax, fix a typo' etc for now.</p>
			</div>
			</div>
				<textarea id = "speech-2271" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2271">
					<img id="start_img-2271" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2271">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>