<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Polling feature
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-767" class = "post">
			<h2>Question</h2>
			<div id="vote-767" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 68</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Polling feature</h2>
<p>Would it be helpful to add a polling feature to Ask Different? I was talking to Nathan Greenstein in the chat room about web browser shares among Mac users, which led me to post this. I am not sure how useful it would be to have a feature like this. If you downvote this post could you <strong>please</strong> let me know why you downvoted it. It's helpful to have feedback as to why you think a feature request isn't a good idea.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-767" data-toggle = "popover">
				<p>user name : daviesgeek</p>
				<p> user reputation : 18210</p>
				<p class = "tagcontent" id = "usertaginfo-767">{'community-wiki': -2, 'questions': -4, 'design': 14, 'chat': 1, 'images': 1, 'flagging': 3, 'unanswered-questions': -4, 'editing': 6, 'support': 10, 'hyperlinks': 12, 'feature-request': 16, 'bounty': 1, 'status-bydesign': 1, 'profile-page': 1, 'None': 27, 'tags': 2, 'status-completed': 3, 'moderator-tools': 3, 'review-page': 1, 'bug': 1, 'closed-questions': 0, 'reputation': 1, 'voting': 3, 'discussion': 31}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-767">Load Comments</button></br>
			<div id = "commentsection-767" class = 'collapse'>
			<div id = "comment-1423" class = "comment">
				<p>I'm voting this up since it's a good thing to ask, not that I agree we should have polls.  I of course up voted the answers that explained _why_ polls are less than welcome here.</p>
			</div>
			<div id = "comment-1457" class = "comment">
				<p>@bmike Thanks! I got three (three!) downvotes with no one explaining why they downvoted.</p>
			</div>
			<div id = "comment-1739" class = "comment">
				<p>I'm voting up, because poll questions are the only way to get a median feedback of a group. So far, there is no way to form an answer by collective opion ([wisdom of the crowds](http://en.wikipedia.org/wiki/Wisdom_of_the_crowd)). Also, I do not understand this comment: *...under the stipulation that no one can earn reputation from them, you've strongly discouraged these sorts of questions...* Isn't this merely a personal option? It's essential to not earn reputation off poll questions, because the answer of a poll question does not lie in the quality but in the **option** of the collective!</p>
			</div>
			<div id = "comment-1751" class = "comment">
				<p>@Matt The polls would be strictly biased towards the collective opinion of this community (ie. potentially not relevant for the casual googler); or actually it wouldn't even represent the opinion of this community, but the opinion of those who answered the poll. I think the best way to conduct a poll on this site is to use some kind of online tool (Google Docs, for example) and then bring up the poll in chatroom, where it can be answered and discussed. Let the main site be for factual questions & answers; not for some pseudo-factual polls ("this is a fact because it is the median feedback").</p>
			</div>
			</div>
				<textarea id = "speech-767" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-767">
					<img id="start_img-767" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-767">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-778"  class = "post">
				<h2>Answer</h2>
			<div id="vote-778" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>None of the SE sites is going to support poll questions. The FAQ of every SE sites reports  that you should not ask subjective questions where every answer is equally valid, which is essentially what poll questions are.</p>

<p>To notice that the purpose of the CW questions have been changed and, as reported in <a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">The Future of Community Wiki</a>:</p>

<blockquote>
  <p>If a question is valuable enough that you believe it belongs on the site, chances are you don t need it to be community wiki! We welcome all contributions which improve the quality of a site and advertise its greatness to the rest of the world. If you allow a certain class of questions, but only under the stipulation that no one can earn reputation from them, you've strongly discouraged these sorts of questions. People aren't going to put in nearly as much effort to ask them.</p>
  
  <p>Instead, strive for quality. If you're unsure a certain question class belongs on the site, don't tolerate the worst examples   demand that these questions be awesome.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-778" data-toggle = "popover">
				<p>user name : kiamlaluno</p>
				<p> user reputation : 2594</p>
				<p class = "tagcontent" id = "usertaginfo-778">{'openid': 0, 'None': 9, 'editing': 0, 'users': 0, 'tags': 4, 'support': 9, 'community-wiki': 1, 'status-completed': 6, 'answers': 7, 'notifications': 3, 'design': 5, 'feature-request': 1, 'questions': 4, 'bounty': 3, 'flagging': 3, 'user-accounts': 0, 'bug': 5, 'discussion': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-778" class = 'collapse'>
			</div>
				<textarea id = "speech-778" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-778">
					<img id="start_img-778" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-778">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>