<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>POMDPs in robotics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2109" class = "post">
			<h2>Question</h2>
			<div id="vote-2109" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 73</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>POMDPs in robotics</h2>
<p>POMDPs are used when we cannot observe all the states.
However, I cannot figure out when these POMDPs can be useful in robotics. What is a good example of the use of POMDPs? (I have read one paper where they used them, but I didn't find it obvious why pomdps should be used) What would be good projects ideas based on POMDPs?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2109" data-toggle = "popover">
				<p>user name : guest1</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-2109">{'None': 0, 'algorithm': 3, 'artificial-intelligence': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2109">Load Comments</button></br>
			<div id = "commentsection-2109" class = 'collapse'>
			<div id = "comment-4234" class = "comment">
				<p>POMDP = partially observable Markov decision process?</p>
			</div>
			</div>
				<textarea id = "speech-2109" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2109">
					<img id="start_img-2109" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2109">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2115"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2115" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A good rule of thumb is that where ever an MDP is useful in theory a POMDP would likely need to be used in reality.</p>

<p>To answer your question directly I would direct you to some of the latest work coming out of the <a href="http://arl.cs.utah.edu/" rel="nofollow">Algorithmic Robotics Lab</a>. My advisor and I recently developed a method wherein we use a POMDP at the core of a new grey-box system identification method. In this method we know an approximate kinematic or dynamic model of the robot in question. We do not however know some of the associated parameters (e.g. mass, center of mass). One way to learn the parameters is to use an extended Kalman filter (EKF) to monitor the system while the motor babbling. However more can be learned if the dynamics are excited correctly. To achieve this part we use a POMDP to plan controls. The details can be found in our paper <a href="http://arl.cs.utah.edu/research/ope/" rel="nofollow">Online Parameter Estimation via Real-time Replanning of Continuous Gaussian POMDPs</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2115" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-2115">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2115">Load Comments</button></br>
			<div id = "commentsection-2115" class = 'collapse'>
			<div id = "comment-4215" class = "comment">
				<p>The first sentence nailed it completely.  Robots in the real world are never quite able to get all the data they need about their environment, and you need to account for that.</p>
			</div>
			</div>
				<textarea id = "speech-2115" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2115">
					<img id="start_img-2115" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2115">Comment</button>
			<br><div id = "ans-7609"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7609" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Partially Observable MDPs actually are very interesting to robotics, and especially for the <strong>partially observable</strong> part. Sensor signals (laser, sonar, vision, ..) are noisy, some more then others depending on several variables. We cannot trust the sensor signal completely, but we can use them to estimate the real state. The POMDP can thus be used in robotics to do planning with noisy observations. A list of applications is shown by Cassandra [1], a more general overview of planning with uncertainty in robotics is given by Thrun et al. [2], and of course there are lots of examples on the web. The big problem of POMDPs is that finding their optimal solution is intractable (i.e it easily takes too long to compute), but there are several methods which approximate the optimal solution.</p>

<p>[1] Cassandra, A. R. (1997). A Survey of POMDP Applications. In Uncertainty in Artificial Intelligence (pp. 472 480). Retrieved from <a href="http://www.cassandra.org/pomdp/papers/applications.pdf" rel="nofollow">http://www.cassandra.org/pomdp/papers/applications.pdf</a>.</p>

<p>[2] Thrun, S., Burgard, W., &amp; Fox, D. (2005). Probabilistic Robotics (Intelligent Robotics and Autonomous Agents. The MIT Press.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7609" data-toggle = "popover">
				<p>user name : agold</p>
				<p> user reputation : 250</p>
				<p class = "tagcontent" id = "usertaginfo-7609">{'None': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7609" class = 'collapse'>
			</div>
				<textarea id = "speech-7609" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7609">
					<img id="start_img-7609" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7609">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>