<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Positioning Sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7925" class = "post">
			<h2>Question</h2>
			<div id="vote-7925" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Positioning Sensor</h2>
<p>I would like to locate the position of a stationary autonomous robot in x-y-z axis relative to a fixed starting point.</p>

<p>Could someone suggest sensors that would be suitable for this application?</p>

<p>I am hoping to move the robot in 3D space and be able to locate it's position wirelessly. The rate of position update is not important as I would like to stop the robot from moving and relay the information wirelessly.</p>

<p>The range I am looking for is roughly 2 KM + (the more the better) with accuracy of  +/- 1 CM.</p>

<p>Is there any system that could do this? Thanks for your help.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7925" data-toggle = "popover">
				<p>user name : nathan</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7925">{'None': 0, 'imu': 2, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7925" class = 'collapse'>
			</div>
				<textarea id = "speech-7925" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7925">
					<img id="start_img-7925" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7925">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7926"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7926" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Differential GPS could be a starting point. But 1 cm will cost a bit.</p>

<p>The basic idea is to increase the accuracy of gps. Stationary antennas at known positions allow to measure the error in the gps signal transit times.</p>

<p>A robot can then receive the error from the antennas and use it to improve its gps result.</p>

<p><a href="https://de.wikipedia.org/wiki/Differential_Global_Positioning_System" rel="nofollow">According to German wikipedia</a>:</p>

<blockquote>
  <p>Die erreichbare Genauigkeit liegt je nach Qualit t des Empf ngers und der Korrekturdaten zwischen 0,3 m und 2,5 m f r die Lage (x, y) und bei 0,2 m bis 5 m f r die H he.</p>
</blockquote>

<p>that is:</p>

<p>The possible accuracy depending on the quality of the receiver and the correction data lies between 0,3m and 2,5m for the position (x,y) and between 0,2m and 0,5m for the height.</p>

<p>On top of that, the phase shift of the carrier wave can be evaluated to increase accuracy even further:</p>

<blockquote>
  <p>Hochqualitative Systeme werten zus tzlich die Phasenverschiebung der Tr gerwelle aus [...] und erreichen so Genauigkeiten von wenigen Millimetern (  1 mm bis   10 mm pro km Abstand zur Referenzanlage).</p>
</blockquote>

<p>that is:</p>

<p>High quality systems additionally evaluate the phase shift of the carrierwave and allow accuracy of few milimeters (from $\pm 1mm$ up to $\pm 10mm$ per $1km$ distance to the reference station)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7926" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-7926">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7926">Load Comments</button></br>
			<div id = "commentsection-7926" class = 'collapse'>
			<div id = "comment-11603" class = "comment">
				<p>The source is here: https://de.wikipedia.org/wiki/Differential_Global_Positioning_System "erreichen so Genauigkeiten von wenigen Millimetern (  1 mm bis   10 mm pro km Abstand zur Referenzanlage)."  The claim is an error of +-1mm per km distance to the reference station.</p>
			</div>
			<div id = "comment-11610" class = "comment">
				<p>Instead of posting another "here at Stack Exchange..."-comment, could you maybe just cite your source?</p>
			</div>
			<div id = "comment-11613" class = "comment">
				<p>Thanks @BendingUnit22 that improves the answer substantially.</p>
			</div>
			<div id = "comment-11615" class = "comment">
				<p>Sorry FooBar, we appreciate your answer and the time that you have taken, but we have to think long term. Do you not agree that the answer in it's current form is substantially better than the original one-liner? If you consider a year down the line when both the English and German wikipedia pages could be significantly different to how they are today, the context provided will allow the answer to make as much sense then as now.</p>
			</div>
			<div id = "comment-11616" class = "comment">
				<p>Incidentally, I mentioned my source, the English wikipedia page.</p>
			</div>
			</div>
				<textarea id = "speech-7926" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7926">
					<img id="start_img-7926" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7926">Comment</button>
			<br><div id = "ans-7958"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7958" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Feel free to correct me, or add more if you feel the need and have experience implementing this, but I believe instead of blowing tons of money on an ultra-precise Diff. GPS you could purchase a precision altimeter and then use some form of directional transmitter/receiver(laser?) and get your x,y,z from a sensor fusion such as this. Just an outside of the box thought instead of jumping straight to a very expensive GPS.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7958" data-toggle = "popover">
				<p>user name : RACKGNOME</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-7958">{'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7958" class = 'collapse'>
			</div>
				<textarea id = "speech-7958" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7958">
					<img id="start_img-7958" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7958">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>