<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Position and Object Data Tracking
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2787" class = "post">
			<h2>Question</h2>
			<div id="vote-2787" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 317</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Position and Object Data Tracking</h2>
<p>For a class project, I'm working with a weight stack:</p>

<p><img src="https://i.stack.imgur.com/LSgxa.png" alt="weight stack"></p>

<p>I'm trying to simultaneously measure:</p>

<ol>
<li>the position of a moving weight stack</li>
<li>the value of the weight based on a calibrated/preloaded position in the stack, not via load sensor. (e.g. think a stack of plate weights where the sensor knows in advance that 1 plate = 10lbs, 2 plates = 20lbs, etc.)</li>
</ol>

<p>The weight stack and the base camp chip/sensor/laser would be within two feet of the weight stack, so I don't need anything overly strong. My requirement is that it is small/unobtrusive and cost effective. I've looked into a few options, but I'm not an engineer so I'm not sure if I am on the right track.</p>

<p>How would you do this? Is there any research that I could check out?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2787" data-toggle = "popover">
				<p>user name : Chelsea</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2787">{'None': 0, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2787">Load Comments</button></br>
			<div id = "commentsection-2787" class = 'collapse'>
			<div id = "comment-5172" class = "comment">
				<p>Can you post a diagram or simple drawing?  I'm having trouble visualizing what you are describing.</p>
			</div>
			<div id = "comment-6870" class = "comment">
				<p>Can you measure both the position and the mass (momentum) at the same time? (;</p>
			</div>
			<div id = "comment-11227" class = "comment">
				<p>What was your idea? Can you assume a minimal movement of the weights during one repetition? (Is the lowest weight moving past the initial position of the top weight?)</p>
			</div>
			<div id = "comment-11230" class = "comment">
				<p>I voted to close as this is a open-ended design question.</p>
			</div>
			</div>
				<textarea id = "speech-2787" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2787">
					<img id="start_img-2787" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2787">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2788"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2788" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use a kinect or a similar depth sensor.</p>

<p>If you know the weight of a plate, if you can setup the environment as you wish (namely the stack is always on the floor or on a plane) you can, with <a href="http://pointclouds.org/" rel="nofollow">pcl</a> extract the volume of the stack (removing the plane what rest is only the stack and you get its track for free), estimate the number of plates with the height of the stack and consequently get the weight.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2788" data-toggle = "popover">
				<p>user name : Michele</p>
				<p> user reputation : 180</p>
				<p class = "tagcontent" id = "usertaginfo-2788">{'wheel': 1, 'None': 2, 'inverse-kinematics': 1, 'cameras': 8, 'wheeled-robot': 1, 'tracks': 2, 'kalman-filter': 2, 'mobile-robot': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2788">Load Comments</button></br>
			<div id = "commentsection-2788" class = 'collapse'>
			<div id = "comment-5176" class = "comment">
				<p>So pcl is more or less algo/code, right? What would I program that into? A camera? What are some examples? I'm a real beginner :( Just trying to learn!</p>
			</div>
			<div id = "comment-5177" class = "comment">
				<p>Yep you need to write some code for example in C++. It can be hard if you are new to programming... After you learn the basic of C++ you can follow the tutorials in the pcl web page.</p>
			</div>
			<div id = "comment-10927" class = "comment">
				<p>Not sure a kinect camera fully counts as "small", but perhaps it can be setup to be unobtrusive.</p>
			</div>
			<div id = "comment-11229" class = "comment">
				<p>Where do you want to position the Kinect?</p>
			</div>
			</div>
				<textarea id = "speech-2788" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2788">
					<img id="start_img-2788" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2788">Comment</button>
			<br><div id = "ans-2793"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2793" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If the moving stack follows a regular path, you could use a stack of bump switches to determine their arrival at that point, and also to measure the number of plates in the stack by using one switch for each plate.
This would only work if the plates were thick enough, and the path regular. By extension, a array of photocell/LED pairs could provide a contactless method of doing the same thing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2793" data-toggle = "popover">
				<p>user name : Mhz4.77</p>
				<p> user reputation : 475</p>
				<p class = "tagcontent" id = "usertaginfo-2793">{'None': 30}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2793">Load Comments</button></br>
			<div id = "commentsection-2793" class = 'collapse'>
			<div id = "comment-5175" class = "comment">
				<p>Hmmm, I think the bump switches would be too intrusive because they would interfere with the natural resting point of each weight stack, right? Or, where would they be positioned?</p>
			</div>
			</div>
				<textarea id = "speech-2793" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2793">
					<img id="start_img-2793" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2793">Comment</button>
			<br><div id = "ans-6873"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6873" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If there is a gap, divot, crease, etc, between plates you might be able to count the number of plates that go past using a tactile micro switch. The holes in the plates used to 'pick' the weight could be used if the plates interface were sufficiently smooth to prevent counting transitions. Of course you would need to know the direction of movement and be able to tell when the completely picked stack was passed. </p>

<p>Another alternative might be using a light beam through the pole the weights ride on, which would be blocked by the pin. Though this seems more error prone. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6873" data-toggle = "popover">
				<p>user name : Frank</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-6873">{'None': 8, 'design': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6873">Load Comments</button></br>
			<div id = "commentsection-6873" class = 'collapse'>
			<div id = "comment-11228" class = "comment">
				<p>This only works if all weights move past your sensor. You'd have to position this sensor just above the top weight. If the range of motion is however smaller than the size of the stack, the lowest weights will not be seen by your sensor, so you can't count them.</p>
			</div>
			</div>
				<textarea id = "speech-6873" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6873">
					<img id="start_img-6873" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6873">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>