<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Possible bug in the contest share count
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1238" class = "post">
			<h2>Question</h2>
			<div id="vote-1238" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 125</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Possible bug in the contest share count</h2>
<p>Here s a screenshot from <a href="https://apple.stackexchange.com/users/3117/adam-eberbach">Adam Eberbach s profile</a> (not that it matters who it s from   this is just so you can reproduce the issue):</p>

<p><img src="https://i.imgur.com/Op8pT.png" alt=""></p>

<p>Note that it says  19/20 shares , even though level 3 is 100% complete. I assume that after completion of level 3, one of the questions/answers Adam shared got deleted or closed. Apparently, this has the side effect of not counting towards the total share count anymore.</p>

<p>Is this a bug or a feature?</p>

<p>And, by extension, if contest questions/answers are deleted/closed, will the votes they gained still be considered in the final count, or not?</p>

<p><strong>Update:</strong> To clarify, I know <a href="https://apple.meta.stackexchange.com/a/1205/4408">completed missions won t be revoked</a>   I m just wondering what happens to the total score when one of the questions/answers gets deleted/closed.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1238" data-toggle = "popover">
				<p>user name : Mathias Bynens</p>
				<p> user reputation : 6839</p>
				<p class = "tagcontent" id = "usertaginfo-1238">{'status-bydesign': 4, 'None': 6, 'bug': 4, 'site-promotion': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1238">Load Comments</button></br>
			<div id = "commentsection-1238" class = 'collapse'>
			<div id = "comment-2276" class = "comment">
				<p>Thanks, I was just about to ask about this too. I think it is because someone closed one of my questions after it was shared. But someone who can look at the stats can probably say for sure.</p>
			</div>
			<div id = "comment-2277" class = "comment">
				<p>I think the intent of the employees chat message wasn't necessarily that a mission will not get revoked, just that one solitary down vote (aka vote fluctuation) wasn't going to get someone removed.  The community closing a question is far more of a signal that you should keep trying to complete the contest than a single down vote from where I see things... I'll ping Lauren tomorrow to see what the contest runners have to say about this.</p>
			</div>
			<div id = "comment-3775" class = "comment">
				<p>This question is closed since the relevant promotion is over and that code inactive.</p>
			</div>
			</div>
				<textarea id = "speech-1238" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1238">
					<img id="start_img-1238" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1238">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1244"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1244" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is as intended. As I've previously said (you've linked to the quote), once you've finished a mission, we will not revoke that mission again unless the mission has been accomplished by &hellip; less-than-fair means.</p>

<p>The contest site has a (dev-only) list of those users who have accomplished a mission, but <em>according to current stats</em> would not qualify. I look at that list at least once a day to check on it (it currently lists two users, Adam and one Mission 1 winner), and neither of these cases look irregular. So there's no reason to revoke these missions; at some point, the objectives where fulfilled, and thus the mission accomplished.</p>

<p>The profile widget shows a full bar (100%) if the mission is completed, but it doesn't lie about the stats. To be precise (and to comment on speculations about rounding errors), the percentage is deliberately designed to be at 100% <em>if and only if</em> the mission is completed. Having achieved 99.8% of a mission is still 99%, and having achieved a mission but not matching the stats <em>anymore</em> still puts you at 100%.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1244" data-toggle = "popover">
				<p>user name : balpha</p>
				<p> user reputation : 100</p>
				<p class = "tagcontent" id = "usertaginfo-1244">{'None': 26}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1244">Load Comments</button></br>
			<div id = "commentsection-1244" class = 'collapse'>
			<div id = "comment-2279" class = "comment">
				<p>And how will this influence the total score?  In the event that more than the maximum number of people complete the Levels, the winners with the highest combined score on their contest posts will be chosen.  Will votes on deleted/closed posts count towards the total score or not?</p>
			</div>
			<div id = "comment-2280" class = "comment">
				<p>@MathiasBynens This particular case doesn't really influence the tie breaker, since it's about the "shared posts" count. But no, they wouldn't count; the tie breaker (for Mission 3) will be the sum of the top 35 scores of non-closed, non-deleted posts (in case of answers, those on non-closed questions) that have a score of 2+. This will be counted at the time the contest ends.</p>
			</div>
			<div id = "comment-2283" class = "comment">
				<p>So there will always be 35 posts that count towards the total score, i.e., if one post that helped a user gain a level got deleted/closed, another one that was posted during the contest will be used instead, even if that one didn t affect the level rankings. Right? (I m asking  cause I have [such a question myself](http://apple.stackexchange.com/q/45644/4408).)</p>
			</div>
			<div id = "comment-2284" class = "comment">
				<p>Yes, all that counts is a) the post's score *at the time the contest ends* and b) the elegibility of that post (i.e. posted during the contest time and non-closed [again, at the time the contest ends] etc.) It doesn't matter whether that post already existed at the time you completed the mission.</p>
			</div>
			<div id = "comment-2285" class = "comment">
				<p>Thanks for clarifying :)</p>
			</div>
			<div id = "comment-2310" class = "comment">
				<p>@balpha I got a string of up votes at 9:22 UTC, which will most likely be cleaned up by the script. Will that put me below Level2? Since I've capped for the day, I can't even tell if I'm moving up or down in votes on old posts. It's also probably too late for me to catch up to what damage the up votes might cause. Could you let me know what will happen?</p>
			</div>
			<div id = "comment-2312" class = "comment">
				<p>@R.M Yeah, those votes have been invalidated. Note though that these votes will *not* have caused any harm for you, at all. Everything will just be like they never happened in the first place. Which indeed unfortunately includes completing mission 2 :\</p>
			</div>
			<div id = "comment-2313" class = "comment">
				<p>@balpha That indeed is the "harm" I was talking about ;) Thanks for the response</p>
			</div>
			</div>
				<textarea id = "speech-1244" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1244">
					<img id="start_img-1244" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1244">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>