<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Power switch standards and suitability for purpose
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4933" class = "post">
			<h2>Question</h2>
			<div id="vote-4933" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 108</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Power switch standards and suitability for purpose</h2>
<p>I scavenged a 4 terminal power switch (Legion EPS 21) from some electronic device (don't remember what it was) and it has the following markings on it:</p>

<p>Legion EPS21
10A 250VAC TV-5
8A/128A 250V &micro;T85 </p>

<p><img src="https://i.imgur.com/TNYkzqQ.jpg" alt="Legion EPS21"></p>

<p>I would like to use this as the main power switch for my robot which will have nothing higher than 12 volts and a "normal" total Amperage (i.e. with all the motors in it running) of around 25 Amps, but of course if a motor stalls then the current will rise much higher. </p>

<p>First of all I cannot understand how the same switch can be rated for different amperages. I cannot find any datasheets for this switch that might help nor any reference to the standards (TV-5 and &micro;T85). So I would like to know if this can handle 128 Amps at 12 Volts. If it helps at all, the wires currently connected to the terminals are quite thick and have "18 AWG 600 volts" written on them.</p>

<p>Secondly I would like to ask whether I need to cater for normal running amperage levels or for stall current levels, which are obviously much higher. Although people talk about stall currents running over 100 Amps in some cases - which quite frankly cause me some concern - I cannot seem to be able to find any such switches on any robot component websites, so I am starting to think that it is the "normal" level of current I should plan for and not the "stall" one. Am I right in this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4933" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4933">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4933" class = 'collapse'>
			</div>
				<textarea id = "speech-4933" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4933">
					<img id="start_img-4933" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4933">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4935"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4935" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First, regarding why  the same switch can be rated for different amperages , the current-rating of a switch depends on switched voltage and current because switching a high voltage or current typically produces a more energetic arc than does switching a low voltage or current.</p>

<p>The switch you referred to, with its  Legion EPS21 10A 250VAC TV-5 8A/128A 250V  T85  markings, is rated at switching a maximum of 10A in a 250VAC circuit, and is rated at 8A normal current, 128A surge, and is rated for use at temperatures no higher than 85  C.  </p>

<p>See eg <a href="http://www.alps.com/prod/info/E/HTML/Switch/Power/SDKZ/SDKZ_common.html" rel="nofollow">alps.com</a> for a table of UL, CSA, and IEC Safety Standards markings.  The 8A/128A mark is a VDE, SEMKO, or BS (ie, German, Swedish, or British) Load Life Test  rating, comparable to the UL or CSA (ie, American or Canadian) TV8 Load Life Test  rating for DPST switches.</p>

<p>If you used that switch in a 12VDC circuit carrying 25A, you'd have no guarantees about how it would work.  It might fail open or closed, after working for 1 or 1000 operations; it might catch fire; it might work ok.</p>

<p>If you operated it during a motor-stall event to switch a hundred or so amps, I'd expect it to fail after one or two such uses, with contacts either welded together or melted off.</p>

<p>The 18 AWG wires attached to it are rated at 7 to 10A.  They wouldn't burn out carrying 25A, but would run warm.  If you consult a wire-size table (eg at <a href="http://www.powerstream.com/Wire_Size.htm" rel="nofollow">powerstream.com</a> or <a href="http://www.stayonline.com/reference-circuit-ampacity.aspx" rel="nofollow">stayonline.com</a>) you will see that 12 AWG is a workable size of wire for 25A, while 10 AWG would provide a bigger safety margin.</p>

<p>Using a 12V contactor or automotive relay (controlled by a small switch like the example) is an alternative to using a big switch.  (Eg, see <a href="https://www.google.com/search?hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1169&amp;bih=612&amp;oq=+12V+contactor+or+automotive+relay+&amp;gs_l=img.12...1826.1826.0.3103.1.1.0.0.0.0.75.75.1.1.0....0...1ac..58.img..1.0.0.qfanuMsiQpo&amp;q=12V%20contactor%20or%20automotive%20relay" rel="nofollow">contactor and relay pictures</a> at Google Images.)</p>

<p><em>Edit:</em> If a surge or stall is brief (eg a few hundredths of a second; I don't know the actual UL specs on surge duration) and the switch is not operated during it, the switch should survive.  But if the switch is opened during a motor stall, arcing will occur.  Typically, most of the energy inductively stored in the motor windings will dump into the arc, and the switch contacts will vaporize.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4935" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-4935">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4935">Load Comments</button></br>
			<div id = "commentsection-4935" class = 'collapse'>
			<div id = "comment-7665" class = "comment">
				<p>Brilliant answer thanks. However one thing still confuses me. if it is rated for 128 Amp surge then why would it fail during a stall event with a 100 Amp current? Isn't this just a momentary surge current also?</p>
			</div>
			<div id = "comment-7667" class = "comment">
				<p>@GalahadII, see edit</p>
			</div>
			<div id = "comment-7668" class = "comment">
				<p>ah ok, but should not be a problem since the battle robot will only be turned on at the start of the bout and off at the end, so no switch movements will take place. In any case, if such high currents will really manifest themselves, the wiring will probably go first since I am using 14 AWG throughout. Anyhow I will be doing some testing before the event and will see how things go. Thanks again.</p>
			</div>
			<div id = "comment-7669" class = "comment">
				<p>@GalahadII, as a backup or alternative you could wire a [knife switch](http://www.kelvin.com/mm5/merchant.mvc?Store_Code=k&Screen=CTGY&Category_Code=ELPCSWLK) in parallel or in place of the switch you mentioned.</p>
			</div>
			</div>
				<textarea id = "speech-4935" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4935">
					<img id="start_img-4935" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4935">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>