<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Powering a multirotor with dedicated batteries for each motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6323" class = "post">
			<h2>Question</h2>
			<div id="vote-6323" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 251</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Powering a multirotor with dedicated batteries for each motor</h2>
<p>I'm currently thinking of extending the battery life of my quad by powering each motor and ESC individually. I  will be using 1 dedicated battery for each motor, and 1 dedicated battery for the flight controller itself, bringing the total to 5 batteries for the entire quad.</p>

<p>My thinking is that by powering each motor with a dedicated battery, given a power draw/consumption, the flight-time of my quad will be increased by 4x as each motor will have 4x the capacity to draw from. Putting the problem of weight aside, would this be a feasible idea?</p>

<p>Also, i am currently using just 1 battery to power all motors, and as such, i only have to plug in the single battery and i can calibrate my ESCs. How would i calibrate my ESCs if i am using dedicated batteries for my APM 2.6 and each motors?Would i be able to get away with powering my APM using the BEC on my ESCs?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6323" data-toggle = "popover">
				<p>user name : Kenneth .J</p>
				<p> user reputation : 179</p>
				<p class = "tagcontent" id = "usertaginfo-6323">{'quadcopter': 14, 'None': 0, 'ardupilot': 1, 'power': 1, 'multi-rotor': 12, 'radio-control': 1, 'arduino': 5, 'microcontroller': 10, 'battery': 1, 'esc': 7, 'electronics': 7, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6323" class = 'collapse'>
			</div>
				<textarea id = "speech-6323" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6323">
					<img id="start_img-6323" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6323">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6390"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6390" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a few ways to read your question, but in general what you are suggesting is a bad idea.</p>

<p>The only reason to do it would be in the extreme case where splitting a large battery into several smaller batteries would help you find space for them in a tightly-packed chassis, and even then it might be more trouble than it's worth -- quadrupling the number of connections that might fail.  If you're considering putting a battery on each arm (close to each motor), <a href="https://robotics.stackexchange.com/q/235/350">be aware that it does not provide an advantage</a>.  </p>

<p>Electrically, your best bet would be to connect all 4 batteries in parallel -- essentially making your own multicell battery, no different than others you could buy off the shelf.  If there's a compelling reason for you to avoid the off-the-shelf option, you haven't mentioned it. </p>

<p>If you <em>don't</em> connect all 4 batteries together, you're losing the ability to supply more current to one motor by supplying less to another (e.g. when you want to accelerate your pitch or roll). Worse, you're introducing the possibility (actually, the certainty) that one motor would lose power before the others.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6390" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-6390">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6390" class = 'collapse'>
			</div>
				<textarea id = "speech-6390" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6390">
					<img id="start_img-6390" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6390">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>