<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Power solution for Raspberry Pi robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10549" class = "post">
			<h2>Question</h2>
			<div id="vote-10549" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 259</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Power solution for Raspberry Pi robot</h2>
<p>I am building a Pi car with 4 gear motors (190-250mAh each max). Now I want to use my 10000mAh USB power bank to power up raspberry pi along with the 4 gear motors.</p>

<p>I can power up the raspberry pi directly but I want to use my power bank as the only source of power for the Pi Car. How can I connect both my RPi and motor controller L298N to my USB power bank?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10549" data-toggle = "popover">
				<p>user name : Tanvir Rajeev</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-10549">{'power': 2, 'None': 0, 'raspberry-pi': 2, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10549">Load Comments</button></br>
			<div id = "commentsection-10549" class = 'collapse'>
			<div id = "comment-19017" class = "comment">
				<p>I believe you mean 190 - 250 mA each not mAh.</p>
			</div>
			<div id = "comment-19036" class = "comment">
				<p>Yes you are correct :)</p>
			</div>
			</div>
				<textarea id = "speech-10549" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10549">
					<img id="start_img-10549" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10549">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10550"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10550" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use a split USB cable.  Something like this should work.</p>

<p><a href="https://shop.pimoroni.com/products/split-microb-usb-power-cable" rel="nofollow">https://shop.pimoroni.com/products/split-microb-usb-power-cable</a></p>

<p>You might need a breakout board to run your motors if your motor driver can't take a USB source directly for power. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10550" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-10550">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10550" class = 'collapse'>
			</div>
				<textarea id = "speech-10550" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10550">
					<img id="start_img-10550" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10550">Comment</button>
			<br><div id = "ans-10576"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10576" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm actually in your exact situation, and have decided to do the following:</p>

<p>I got a power bank with <em>two USB outputs</em>. I intend to connect the first output directly into the raspberry Pi, and then connect the second output to a breadboard to power the motors.</p>

<pre><code>              USB 1 -&gt; Raspberry pi
             / 
   Power Bank
             \
              USB 2 -&gt; Breadboard -&gt; Motors
</code></pre>

<p>However, if my power bank just had <em>one USB output</em>, I would have connected it to the breadboard and powered the pi from there as well (through the 5V pin on the PI, I believe):</p>

<pre><code>                                     Raspberry Pi
                                    /
    Power Bank -&gt; USB -&gt; Breadboard
                                    \
                                     Motors
</code></pre>

<p><strong>PS: Remember to connect the grounds</strong></p>

<p>In order to connect the USB to the breadboard, I will either cut open an old USB cable and solder the power wires to the board from directly, or look online for something premade that does this neatly for me.</p>

<p><strong>PPS: I haven't tested this yet, so do it at your own risk :)</strong></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10576" data-toggle = "popover">
				<p>user name : Tormod Haugene</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-10576">{'None': 5, 'computer-vision': 3, 'cameras': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10576">Load Comments</button></br>
			<div id = "commentsection-10576" class = 'collapse'>
			<div id = "comment-19035" class = "comment">
				<p>Yes i already thought about your second option. but the problem is 5V GPIO output pins has no over voltage protection. If i do something messy this could break the pi.

Do you have any suggestions on this? I mean is there any way to protect the GPIO's using diod, fuse or something?</p>
			</div>
			<div id = "comment-19037" class = "comment">
				<p>You are right about the lack of protection with this solution. It is probably possible to add some protection, but I don't currently have a solution for that.</p>
			</div>
			<div id = "comment-19038" class = "comment">
				<p>No problem. Thanks mate :)</p>
			</div>
			</div>
				<textarea id = "speech-10576" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10576">
					<img id="start_img-10576" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10576">Comment</button>
			<br><div id = "ans-10632"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10632" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would rather use:</p>

<ol>
<li>Two separate voltage sources with ground connected (5V PSU from powerbank + LiPo battery for engines)</li>
</ol>

<p>or</p>

<ol start="2">
<li>One bigger LiPo battery with 5V regulator circuit for logic.</li>
</ol>

<p>But if You want to use your powerbank as only energy source, <strong>yes</strong>, it is possible. However:</p>

<ul>
<li>Take care of proper decoupling of 5V line. I mean, check datasheet of bridge you want to use, search for recommended connection schematic and use same capacitors, or at least close to them, as described.</li>
<li>In order to protect your Raspberry from overvoltage, use <a href="https://en.wikipedia.org/wiki/Zener_diode" rel="nofollow">Zener diode</a>, reverse polarized, rated at 5.3V. It should short-circuit supply voltage line at voltages exceeding its nominal value. It shouldn't happen, since your powerbank has already voltage regulator, but if you want to connect H-Bridge with it, I recommend using it.</li>
<li>Also, I'd recommend You to use different H-bridge, like TB6612FNG. It is capable of powering engines up to 13.5V at 1.6A per channel. It is also smaller and more energy efficient than L298N.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10632" data-toggle = "popover">
				<p>user name : Szczepan</p>
				<p> user reputation : 164</p>
				<p class = "tagcontent" id = "usertaginfo-10632">{'mobile-robot': 1, 'None': 11, 'pid': 1, 'research': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10632" class = 'collapse'>
			</div>
				<textarea id = "speech-10632" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10632">
					<img id="start_img-10632" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10632">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>