<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Power switch and common ground on a battle robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4782" class = "post">
			<h2>Question</h2>
			<div id="vote-4782" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 125</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Power switch and common ground on a battle robot</h2>
<p>I am constructing a 5.44Kg Hobby-weight battle robot and one of the safety rules is that the robot must have a power switch that turns off power to the motors (and weapon).</p>

<p>The robot has three sub-systems; the drive motors (one battery), the weapon (another battery) and some lighting (a small 9 volt battery).</p>

<p>I have read that since all these will be connected to the same receiver it is important to have all the electronics sharing a common ground for everything to work properly.</p>

<p>Now I know that usually it is the "live" wire that is connected to the switch, but I was thinking of hitting two birds with one stone and connecting all the ground wires (rather than the live wires) to the switch. In this way I still turn off power and also have a common ground. In terms of safety (shorts) etc I am not too concerned because I am using XT 60 connectors and have been careful to use only female plugs for the power leads (so no prongs are visible).</p>

<p>It seems to me that it should work and still be safe enough especially since I am not dealing with mains voltage levels here, but on the other hand I don't want to look stupid.</p>

<p>Does this way of connecting to the switch make sense or am I violating some unwritten law? Is this normal practice? Would it effect the circuitry in any way to have the grounds connected together?</p>

<p>I was also thinking of using a switch from a PC power supply; as far as I know this is rated for reasonably high currents. In my case I will have 3 cordless motors, each of which might be drawing up to 5 amps when under load, so say 15 amps in all. Has anyone out there ever used such switches or did you buy high current ones? In that case what should I ask for?</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4782" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4782">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4782">Load Comments</button></br>
			<div id = "commentsection-4782" class = 'collapse'>
			<div id = "comment-7468" class = "comment">
				<p>A [drawing](http://www.inkscape.org/en/) of how you intend on connecting the wires helps clarify a lot!</p>
			</div>
			</div>
				<textarea id = "speech-4782" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4782">
					<img id="start_img-4782" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4782">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4783"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4783" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can say:"Yes it works"</p>

<p>Are there any recommendation not doing this? I cannot say, but it works. </p>

<p>The problem you may get is with a weak design. You have to be sure, that there is not any switch/sensor/relay/wire which is able to bypass the main switch.</p>

<p>I'm not sure whether the PC-switch will work, because a computer usually has a power consumption of less then 1000W. This means a current of around 5Amps (10Amps for the US).</p>

<p>If you draw around 20Amps, this may exceed the capability of the switch.</p>

<p>I suggest using an EMO switch.They usually can handle currents of 50Amps+ and it you know what to do with something went wrong. Just Smash it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4783" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4783">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4783">Load Comments</button></br>
			<div id = "commentsection-4783" class = 'collapse'>
			<div id = "comment-7475" class = "comment">
				<p>Is there a way to post or attach drawings here?</p>
			</div>
			<div id = "comment-7476" class = "comment">
				<p>You could post links to online image storage places.
like imgur or even dropbox</p>
			</div>
			</div>
				<textarea id = "speech-4783" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4783">
					<img id="start_img-4783" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4783">Comment</button>
			<br><div id = "ans-4814"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4814" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It shouldn't be a problem; when working on cars, it's customary to disconnect the negative terminal of the battery.  This is because the entire chassis of the car is connected to that terminal -- if you were taking off the positive terminal first and your wrench came in contact with any part of the chassis, you'd short something out.  So it's not a terrible idea in terms of positive/negative.</p>

<p>Based on your setup however, you would need to be very careful that the wiring between the switch (attached to a common ground) and the 3 batteries that it connects to will be protected from ever coming in contact with any other ground points (like the frame).  If that happens, the switch will effectively be bypassed and you'll have an out-of-control robot on your hands.</p>

<p>You may want to look for relay-based kill switches if you need to switch a lot of current.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4814" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4814">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4814">Load Comments</button></br>
			<div id = "commentsection-4814" class = 'collapse'>
			<div id = "comment-7510" class = "comment">
				<p>That gave me an idea - I could connect all the grounds to the chassis (if aluminium) and feed the live through the switch. Since I am using XT60 female sockets throughout (from the battery side), the risk of any live wire touching anything else is minimal. Thanks for the idea.</p>
			</div>
			<div id = "comment-7511" class = "comment">
				<p>I'm not sure what you're intending, but **do not use the chassis as a substitute for wired grounds**.  This goes double for an aluminum chassis, because aluminum can (and will eventually) oxidize, causing your connections to arc, fail, or both.  Set up a common ground in your circuitry, then connect that common ground to the chassis.</p>
			</div>
			</div>
				<textarea id = "speech-4814" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4814">
					<img id="start_img-4814" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4814">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>