<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Powering my robot with 12V battery which is charged by a gas~petrol generator while the robot is operating?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8122" class = "post">
			<h2>Question</h2>
			<div id="vote-8122" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 150</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Powering my robot with 12V battery which is charged by a gas~petrol generator while the robot is operating?</h2>
<p>A have designed a robot to perform tasks in farms.  But the problem now is I'm not sure on the best way to supply continuous power to my robot.  All the motors are rated at 12V and only Arduino and a few sensors work at 5V or less.  </p>

<p>Can I continuously charge a 12V lead acid battery with an adapter (comes with the battery) plugged into the AC output of the generator while the robot is operating? Do I have to worry about overcharging the battery?</p>

<p>Or should I use the generator's DC output which can supply 12V and up to 8.3Amp. Or is there any other suggestions?</p>

<p>Some information about the adapter which are stated on the package:
1. Built-in over-charge protection device.
2. Built-in thermal protection device
3. Output: 6v/12v 2Amp</p>

<p>This is the generator that I have: 
<a href="http://global.yamaha-motor.com/business/pp/generator/220v-60hz/0-1/et950/" rel="nofollow">http://global.yamaha-motor.com/business/pp/generator/220v-60hz/0-1/et950/</a></p>

<p>This is my first robot which is quite big that requires a lot of electrical/electronic knowledge to power it. I do not have a lot of experience in this field. So any feedback is greatly appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8122" data-toggle = "popover">
				<p>user name : goddar</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-8122">{'control': 3, 'None': 2, 'power': 0, 'arduino': 0, 'battery': 2, 'microcontroller': 0, 'wheeled-robot': 0, 'imu': 1, 'sensor-fusion': 1, 'mobile-robot': 4, 'electronics': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8122" class = 'collapse'>
			</div>
				<textarea id = "speech-8122" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8122">
					<img id="start_img-8122" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8122">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8123"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8123" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The alternator in a car is constantly charging the 12V battery while the car is running, which is to say battery-wise you shouldn't have any issues. </p>

<p>Several things could be meant when you say the motors are "rated" for 12V. Is that a maximum, minimum, or nominal voltage? I'm assuming they're rated for DC power, but there are some low voltage AC motors. </p>

<p>If I recall correctly, I <em>think</em> a vehicle 12V bus could swing from dead battery voltage of 11.8 to a charging voltage of 14.4V, so you should check that you aren't violating any ratings on the motors. </p>

<p>For the electronics I would use a 5V DC-DC converter. You should consider a 12V-12V DC-DC converter for power conditioning if the generator output is too noisy. </p>

<p>The only reason I would consider using a battery is if the generator can't supply the peak current you need or if you have to be able to run some functions without the generator on. Remember that the generator must supply more than the average power draw or you'll always wind up running the batteries dead.</p>

<p>Lastly, some generators may require a minimum load for proper voltage regulation, so be sure to check. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8123" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8123">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8123">Load Comments</button></br>
			<div id = "commentsection-8123" class = 'collapse'>
			<div id = "comment-12956" class = "comment">
				<p>Thanks for your feedback. All the motors are DC and I guess that is the nominal voltage since that is all I can find on the datasheet.  For the DC-DC converter, it has to be plugged in on the generator DC output, am I right? Which do you think is better? Getting the power from AC or DC output? Another concern is I'm afraid that if I'm getting the power directly from the generator without the battery, the voltage coming from generator will fluctuate? The more I think about it and as you said earlier, the battery unnecessary. The purpose of the battery is so that I can get a steady DC voltage.</p>
			</div>
			<div id = "comment-12961" class = "comment">
				<p>Not sure why you would use 220VAC if you're only going to transform and rectify down to 12VDC when there's already 12VDC available. Unless you can get (and need) more power from the AC side. More parts = more money. The DC-DC converter would need a DC input. As I mentioned earlier, I would expect voltage to fluctuate between 11.8-14.4V, as anything in that range is acceptable to an automotive 12V load. Whether or not that's acceptable for you is your choice.</p>
			</div>
			<div id = "comment-12962" class = "comment">
				<p>But, just so I'm clear, a battery isn't going to do anything to correct the voltage variation.</p>
			</div>
			<div id = "comment-12967" class = "comment">
				<p>I know that voltage regulator is what I need to get a consistent and stable 12v output. But does the dc-dc converter has a voltage regulator built in it or do I have to buy it separately? If lets say the robot's power requirement exceeds what my generator can provide, what are the other options that I have? Bigger generator? Or there are other better methods that im not aware of.</p>
			</div>
			<div id = "comment-12968" class = "comment">
				<p>If the peak power exceeds the generator capacity but the mean power does not, you need a battery, where the battery capacity is large enough to handle the worst case power excursion plus some buffer. A DC-DC converter *is* a voltage regulator. **If** you need one, it also needs to be able to supply your peak power demand, and it also needs to be placed between to battery (if you use one) and your robot or the battery will never get to a proper charging voltage.</p>
			</div>
			<div id = "comment-12969" class = "comment">
				<p>If the mean power draw exceeds the generator capacity, you need a bigger generator, but remember too that you can pull from the 220VAC side of the generator, you just need a transformer, bridge, and capacitors.</p>
			</div>
			<div id = "comment-12973" class = "comment">
				<p>It's getting clearer now for me.  Just wondering why is it stated on my generator that the 12V output is only for battery charging only?   What does it mean and is there any difference whether it is meant for battery charging or not?  So, can I hook it up with the DC-DC converter and power my robot?</p>
			</div>
			<div id = "comment-12977" class = "comment">
				<p>I don't know why it would say it's for battery charging only, but it may have to do with either voltage regulation or the DC bus could be so noisy it might damage electronics. I would monitor the bus voltage with an oscilloscope first before I connected anything to it.</p>
			</div>
			</div>
				<textarea id = "speech-8123" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8123">
					<img id="start_img-8123" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8123">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>