<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Pre-release software that doesn't require an NDA
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-798" class = "post">
			<h2>Question</h2>
			<div id="vote-798" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 123</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Pre-release software that doesn't require an NDA</h2>
<p>THe FAQ makes it clear that prerelease software requiring an NDA is off-topic for the site. But not all pre-release software requires an NDA. Is pre-release software that doesn't require an NDA an allowable topic?</p>

<p>For example, <a href="https://apple.stackexchange.com/questions/24982/installing-windows-8-preview-on-a-mac">Installing Windows 8 Preview on a Mac?</a> was closed as off topic, but at <a href="http://msdn.microsoft.com/en-us/windows/apps/br229516" rel="nofollow noreferrer">http://msdn.microsoft.com/en-us/windows/apps/br229516</a>, one can download the Windows 8 preview without any NDA.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-798" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-798">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-798">Load Comments</button></br>
			<div id = "commentsection-798" class = 'collapse'>
			<div id = "comment-1473" class = "comment">
				<p>Thanks for posting this; I was just about to do it myself :)</p>
			</div>
			</div>
				<textarea id = "speech-798" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-798">
					<img id="start_img-798" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-798">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-799"  class = "post">
				<h2>Answer</h2>
			<div id="vote-799" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here's my view on this:</p>

<p>The reason to disallow questions about prerelease software <strong>is not the NDA</strong>. It's not our job to enforce that. If users want to break their NDAs that's their choice.</p>

<p>Rather, the reason that I think we shouldn't allow these questions is that many of them are simply <strong>too localized</strong>.<br>
Things change very quickly with prerelease software, so a question and answer that work today are likely to be broken, or not even relevant, tomorrow.</p>

<p>I'm in favor of updating the FAQs to block all questions about prerelease software, not just those under NDA.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-799" data-toggle = "popover">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p class = "tagcontent" id = "usertaginfo-799">{'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-799">Load Comments</button></br>
			<div id = "commentsection-799" class = 'collapse'>
			<div id = "comment-1474" class = "comment">
				<p>I've talked with one of the other moderators, and we've updated the FAQs to reflect this view: "It is not about... pre-release or beta software"</p>
			</div>
			<div id = "comment-2375" class = "comment">
				<p>For link purposes: [Update to FAQ regarding beta and pre-release software   Ask Different meta](http://meta.apple.stackexchange.com/q/573/8546)</p>
			</div>
			</div>
				<textarea id = "speech-799" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-799">
					<img id="start_img-799" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-799">Comment</button>
			<br><div id = "ans-800"  class = "post">
				<h2>Answer</h2>
			<div id="vote-800" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Some pre-release software is transient and likely too localized a question because it will too-soon become obsolete. Other times, software languishes for years in pre-release form. (Google's perpetual betas are one example; many open-source projects also exhibit these symptoms). A question about a developer preview that will in days or months be superseded by an official release likely should be off-topic, I'd think. But I'd hate for this rule to keep us from being able to answer questions about any beta software, or stable but slowly developing solutions to real problems people might develop.</p>

<p>This isn't a clear bright line, which is unfortunate, but I do think it's an important distinction.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-800" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-800">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-800">Load Comments</button></br>
			<div id = "commentsection-800" class = 'collapse'>
			<div id = "comment-1475" class = "comment">
				<p>I agree that there is a fine line between betas that are buggy, incomplete, and subject to rapid change and betas that are largely stable and widely used. Part of this has to do with the industry, led by Google, to keep the "beta" label for years during which the software is feature-complete and experiencing only iterative improvements. Still, I think it's important to have the clause in the FAQ disallowing beta questions as we can simply not enforce it in situations where the "beta" is really a stable product.</p>
			</div>
			<div id = "comment-1476" class = "comment">
				<p>To tie it in with the question in question, Windows 8 has been out for about a week - this is certainly not enough time to determine if compatibility and behavior are stable, and that's why I agree that the closure was warranted. It might be useful to revisit this particular issue in a few months to see what's developed.</p>
			</div>
			<div id = "comment-1477" class = "comment">
				<p>I think the important distinction is stability -- not in terms of not crashing, but in terms of not changing rapidly. If something is buggy and incomplete, but it doesn't change rapidly, an answer about how to get it working in a particular context could be very helpful.</p>
			</div>
			<div id = "comment-1478" class = "comment">
				<p>If it's abandonware then I agree, but most bugs on active software projects get fixed eventually</p>
			</div>
			<div id = "comment-1479" class = "comment">
				<p>Yes, absolutely in terms of outright bugs. But I don't see any reason why an open source project that hasn't hit a 1.0 release should be any less on topic than one that has. I agree that Windows 8 Developer Preview questions will become obsolete too quickly to be helpful.</p>
			</div>
			<div id = "comment-2376" class = "comment">
				<p>*Towards a clear bright line*   **Apple products**: consider [whether Apple provides an area for public discussion of an Apple product](http://meta.apple.stackexchange.com/a/1268/854).</p>
			</div>
			<div id = "comment-2377" class = "comment">
				<p> **Third party products**: an example, I expect Windows 8 to be **not** discussed in Ask Different until after Apple adds support for that version of Windows to Boot Camp. Without that support from Apple, Windows will be too off-topic from OS X.</p>
			</div>
			</div>
				<textarea id = "speech-800" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-800">
					<img id="start_img-800" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-800">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>