<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Pre-built PID motor controller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1995" class = "post">
			<h2>Question</h2>
			<div id="vote-1995" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1904</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Pre-built PID motor controller</h2>
<p>I lead a university robotics team that needs PID controllers for four drive motors and two additional motors that are used in a secondary system. I would strongly prefer to buy pre-built PID controllers that provide just about any reasonable interface for setting PID constants, motor velocity and direction, as the controllers are not remotely central to the difficult, interesting problems we're trying to solve. To my astonishment, the Internet doesn't seem to be saturated with such controllers (talk about reinventing the wheel - hundreds of tutorials but almost no pre-built solutions! Did Willow Garage build their own PID controller for the PR2?!). </p>

<p>Does anyone have recommendations/experience, preferably pointers to such controllers? </p>

<p>I've Googled around quite a bit, and so far <a href="https://github.com/Exadler/DualMotorControlCape" rel="nofollow">this</a> is the best option I've found. It's a cape for a BeagleBone Black (which is the board we're using). The problem is that the Python library is not finished - it resets PID constants at every call, it doesn't support changing the direction of the motor, and it seems to only support setting motor power, not velocity, which gives me the impression that it's not actually using the PID controller at all.</p>

<p>Additional details:</p>

<ul>
<li>The stall current of our <a href="http://www.pololu.com/catalog/product/2271" rel="nofollow">drive motors</a> is 6A. They are brushless DC motors with quadrature encoders. The secondary motors are much smaller, and we're building our own encoders for them.</li>
<li>Our code base is in Python, and we're running on a BeagleBone Black using the latest Debian image from Robert Nelson (that guy's awesome!). Our batteries provide 14.8V, and we already have 3.3V and 5V rails.</li>
<li>Our robot is fairly small, about 1x1x2 feet, and weighs about 9 pounds. This info is meant to give perspective with regard to scale.</li>
<li>$350 or so is the comfortable top range of what we could spend to get all 6 motors PID-controlled.</li>
</ul>

<p>Any help would be greatly appreciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1995" data-toggle = "popover">
				<p>user name : dfarrell07</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-1995">{'brushless-motor': 2, 'None': 0, 'pid': 2, 'motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1995">Load Comments</button></br>
			<div id = "commentsection-1995" class = 'collapse'>
			<div id = "comment-4043" class = "comment">
				<p>Sorry about the lack of up-votes so far, btw. I'll remedy that as soon as I get >=15 reputation. You all rock!</p>
			</div>
			<div id = "comment-4080" class = "comment">
				<p>You're not really supposed to upvote answers to your own questions...  Other people can and will do that to what they consider good answers.  You can accept the answer you feel is the best one.</p>
			</div>
			<div id = "comment-4081" class = "comment">
				<p>Can you cite a source for that? If I think an answer contributes, say by raising an important point that the "best answer" doesn't, I'm under the impression that it's proper to up-vote it.</p>
			</div>
			<div id = "comment-4084" class = "comment">
				<p>It's my personal opinion.  I guess I see upvotes as something I give really good answers in general, not something I use to reward people for answering my questions... It's not a big deal and looks like I'm in the minority: http://meta.stackexchange.com/questions/184291/as-question-asker-should-i-up-vote-answers</p>
			</div>
			<div id = "comment-4085" class = "comment">
				<p>What's really obvious though is that you have not accepted any answer yet and my comment was somewhat in that context (i.e. don't use upvote where you should be using accept).</p>
			</div>
			<div id = "comment-4086" class = "comment">
				<p>None of the answers solve my problem, although some help clarify concepts/problems. I'm not planning on accepting an answer that doesn't answer the question, although I would up-vote some of these answers, since they contribute valuable information. I don't have the two confused, but thanks for your concern. As a side note, there's a [push to vote more freely](http://blog.stackoverflow.com/2010/10/vote-early-vote-often/).</p>
			</div>
			<div id = "comment-4088" class = "comment">
				<p>You're obviously on top of things ;-) Looking forward for your future contribution on this site!</p>
			</div>
			<div id = "comment-4194" class = "comment">
				<p>"Did Willow Garage build their own PID controller for the PR2" - Yes. Each motor has its own closed loop PI current controller board which they designed themselves. The position control uses a PID controller running in the host, and talks to the current controller through the EtherCAT bus.</p>
			</div>
			<div id = "comment-4702" class = "comment">
				<p>Welcome to *Robotics* dfarrell07, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-4783" class = "comment">
				<p>@MarkBooth - Understood, thanks for the links.</p>
			</div>
			</div>
				<textarea id = "speech-1995" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1995">
					<img id="start_img-1995" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1995">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1998"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1998" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Should be able to find something either <a href="http://www.kbelectronics.com/Variable_Speed_DC_Drives.html" rel="nofollow">here at Kb Drives</a> or <a href="http://www.geckodrive.com/g320x.html" rel="nofollow">at GeckoDrive</a>
I think the "problem" is that very few hobbyists actually use servo drives for projects since steppers are simpler. As a result, most of the prebuilt stuff you will find is for industry, with prices to match. Geckodrive has a good reputation (never used them) and their prices are quite reasonable.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1998" data-toggle = "popover">
				<p>user name : lyndon</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-1998">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1998">Load Comments</button></br>
			<div id = "commentsection-1998" class = 'collapse'>
			<div id = "comment-4037" class = "comment">
				<p>Thanks for the info! The Kb options seem way more heavy-duty than what we need, unless I'm missing something. I don't see any that take less than 115VDC input voltage. The GeckoDrive one is much closer, but its minimum power supply voltage is still 18VDC (still planning on passing that one off to the team to see if we can make it work). Also, thanks for the insight into why such drives aren't ubiquitous.</p>
			</div>
			<div id = "comment-4075" class = "comment">
				<p>@dfarrell07: I think another factor is that most applications run brush-less motors at fairly high RPM and usually that means a higher bus voltage due to back-EMF.  6 motors for $350 is a pretty tight budget.  I'd expect to pay that much for a single motor in a brushless servo application.</p>
			</div>
			<div id = "comment-4082" class = "comment">
				<p>We already have four brush-less drive motors that exceed our needs, and they were $37 each. The two motors for the secondary system were about half that price. The 350 figure was meant to just apply to the controllers, if that wasn't clear. Thanks for the info regarding the high voltage specs!</p>
			</div>
			</div>
				<textarea id = "speech-1998" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1998">
					<img id="start_img-1998" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1998">Comment</button>
			<br><div id = "ans-1999"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1999" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>These should work well: <a href="http://www.jrkerr.com/" rel="nofollow">http://www.jrkerr.com/</a></p>

<p>Control via serial w/ tunable PID gains for position, velocity and acceleration. They also require a quadrature encoder signal, so you're good to go in that regard.</p>

<p>My boss has used these in previous robotics projects and vouches for them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1999" data-toggle = "popover">
				<p>user name : Andrew Capodieci</p>
				<p> user reputation : 826</p>
				<p class = "tagcontent" id = "usertaginfo-1999">{'None': 54}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1999">Load Comments</button></br>
			<div id = "commentsection-1999" class = 'collapse'>
			<div id = "comment-4038" class = "comment">
				<p>Thank you so much for the info! The PIC-SERVO SC 3PH seems like a pretty good fit, although the $240-per-motor price tag is quite a bit more than I expected (which you couldn't have known, I added price details).</p>
			</div>
			</div>
				<textarea id = "speech-1999" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1999">
					<img id="start_img-1999" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1999">Comment</button>
			<br><div id = "ans-2002"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2002" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check <a href="http://www.pololu.com" rel="nofollow">http://www.pololu.com</a> , they have few cheap options. If you want more reliable, more expensive solutions, then check <a href="http://www.copleycontrols.com" rel="nofollow">http://www.copleycontrols.com</a> . Both have solutions that meet your requirements, just find something that suits your budget. </p>

<p>There is another option that is used mainly for robotic drive, quite easy to setup, but it also allows you to drive motors individually, worth while looking at : www.robot-electronics.co.uk/htm/md49tech.htm</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2002" data-toggle = "popover">
				<p>user name : blackcoder</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-2002">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2002">Load Comments</button></br>
			<div id = "commentsection-2002" class = 'collapse'>
			<div id = "comment-4042" class = "comment">
				<p>Thanks for your answer! I [don't see](http://www.pololu.com/catalog/category/9) any motor controllers for brushless DC motors from Pololu (which is a shame, because we've had awesome experiences with them). From what I understand, the two types can not be mixed, but correct me if I'm wrong.

None of the Copley Controllers controllers seem to work at less than 20VDC, and the one from robot-electronics needs 25VDC. These are much closer to what we need, however. Thanks!</p>
			</div>
			<div id = "comment-4047" class = "comment">
				<p>http://www.robot-electronics.co.uk/htm/md25tech.htm is the 12V alternative, it should do the job. Copley have modules that work with as low as 14 volts, you should check check their products for something that suits your motors. It really depends on what motors you have, and how you are planning to control them. I am very happy with the MD25 controlling one of my robots, and I have plenty of Copley control modules used to control stepper motors, and linear stages. Copley controls are, however, pretty expensive but very reliable and easy to tune (PID, current, position and velocity control).</p>
			</div>
			<div id = "comment-4053" class = "comment">
				<p>The one you linked to there has a max 1A peak, as I mentioned, our motors need 6A peak. I see the 14VDC Copley one you're talking about now, the Stepnet Plus model. It *may* work. Again, our batteries are 14.8V.</p>
			</div>
			</div>
				<textarea id = "speech-2002" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2002">
					<img id="start_img-2002" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2002">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>