<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Prediction of Ready to Use Robotic Control Cards Codes
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11540" class = "post">
			<h2>Question</h2>
			<div id="vote-11540" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 35</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Prediction of Ready to Use Robotic Control Cards Codes</h2>
<p>Suppose you have a control card. We do not have access to the control card's code and we do not know which control algorithm is used (PID, PD, PI, Fuzzy, ...). We can only measure the control inputs we apply and the output signals the card generates. For examples a quadrotor card, inputs are yaw, pitch roller and throttle and the outputs are propeller pwm signals. Can we predict the algorithm and coefficients/properties used? Is there such a method or study? There are many ready to use control cards, we can imitate or improve for robot control. I think it is important to develop a method for extraction/prediction of algorithm on control board. Thank you for your help and your views.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11540" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-11540">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11540" class = 'collapse'>
			</div>
				<textarea id = "speech-11540" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11540">
					<img id="start_img-11540" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11540">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11544"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11544" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you are trying to do is to identify a system. Since you kind of know what to expect, your system is not black box, it is grey box or white box. </p>

<p>There is a lot of theory on how to identify these systems. The field itself is called System Identification and you can find a lot of books and publications for all kinds of systems (blackbox, greybox, whitebox etc.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11544" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11544">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11544">Load Comments</button></br>
			<div id = "commentsection-11544" class = 'collapse'>
			<div id = "comment-20706" class = "comment">
				<p>I might need to rethink my answer.  But I am having trouble understanding how to conduct system identification for just the controller with no plant and no feedback available.  You're saying to treat the card like any unknown plant and determine its characteristics.   Is that sufficient?</p>
			</div>
			<div id = "comment-20707" class = "comment">
				<p>The system performance in closed loop is determined by the parameters of the controller (and the plant, but the plant is not in focus here). If you identify the controller in open loop, you identify its parameters (e.g. P gain, I gain...). If you have identified the paremeters...you can model it and put it in a closed loop simulation for example. It should perform as the real controller does (given that the identification is good enough).</p>
			</div>
			<div id = "comment-20708" class = "comment">
				<p>In other word, the parameters you identify in the controller in open loop, are exactly the same which influence the closed loop system. Identifing that the P-gain is 42 can be done in open loop. Its effects are of course different in closed loop, but the value is the same.</p>
			</div>
			<div id = "comment-20709" class = "comment">
				<p>Thanks @50k4.   I am overthinking it.  The controller is a block in the system like any other block.   I will remove my answer.</p>
			</div>
			<div id = "comment-20710" class = "comment">
				<p>No worries, next time it will be the other way around...</p>
			</div>
			</div>
				<textarea id = "speech-11544" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11544">
					<img id="start_img-11544" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11544">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>