<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Preventing leaks in motor shafts for underwater bots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-150" class = "post">
			<h2>Question</h2>
			<div id="vote-150" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">30</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29463</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Preventing leaks in motor shafts for underwater bots</h2>
<p>Whenever building an aquatic bot, we always have to take care to prevent leakages, for obvious reasons. Now, holes for wires can be made watertight easily--but what about motors? We can easily seal the casing in place (and fill in any holes in the casing), but the part where the axle meets the casing is still left unprotected. </p>

<p><img src="https://i.stack.imgur.com/xahVT.jpg" alt="enter image description here"></p>

<p>Water leaking into the motor is still quite bad. I doubt there's any way to seal up this area properly, since any solid seal will not let the axle move, and any liquid seal (or something like grease) will rub off eventually.</p>

<p>I was thinking of putting a second casing around the motor, maybe with a custom rubber orifice for the shaft. Something like (forgive the bad drawing, not used to GIMP):</p>

<p><img src="https://i.stack.imgur.com/z0E4K.png" alt="enter image description here"></p>

<p>This would probably stop leakage, but would reduce the torque/rpm significantly via friction.</p>

<p>So, how does one prevent water from leaking into a motor without significantly affecting the motor's performance?</p>

<p>(To clarify, I don't want to buy a special underwater motor, I'd prefer a way to make my own motors watertight)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-150" data-toggle = "popover">
				<p>user name : Manishearth</p>
				<p> user reputation : 1068</p>
				<p class = "tagcontent" id = "usertaginfo-150">{'underwater': 30, 'None': 53, 'protection': 64, 'motor': 64, 'auv': 30, 'actuator': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-150">Load Comments</button></br>
			<div id = "commentsection-150" class = 'collapse'>
			<div id = "comment-204" class = "comment">
				<p>You don't need a custom orifice design. Shaft seals are available from bearing companies as well as specialists. SKF and INA are two such manufacturers.</p>
			</div>
			</div>
				<textarea id = "speech-150" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-150">
					<img id="start_img-150" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-150">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-168"  class = "post">
				<h2>Answer</h2>
			<div id="vote-168" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure if an 'aquabot' is a fully submersible vehicle, or a surface one.</p>

<p>If it's a surface vehicle, then you just need to look at RC boats. They've got this solved pretty well.</p>

<p><img src="https://i.stack.imgur.com/W7zXO.gif" alt="Boat propeller shaft"></p>

<p>The seal that prevents water entering the boat is called a stuffing box (4 on the diagram). It's simply a tube stuffed with grease. The grease prevents any water leaking into the boat between the tube and the propeller shaft. Usually there's about a 1mm or so gap between the shaft and the inside of the tube, so that it can hold plenty of grease. The ends of the tube have loose bushings fitted which hardly contribute any friction, but prevent the grease escaping.</p>

<p>This will probably work well even for fully submersible vehicles, as long as they don't go too deep. As you go deeper, the pressure will begin to force water up the tube, pushing the grease out, and eventually letting water into the boat.</p>

<p>One way to combat this is to simply push back. Increase the air pressure at the other end of the stuffing box so that things stay balanced. One way to do this is to enclose the motor and the inside end of the tube inside a small sealed box. Use a tiny pump to pressurize the box to match the water pressure.</p>

<p>Alternatively, why not let the water do the work for you? Seal the motor inside a rubber bladder and house it outside the boat. The water pressure will compress the bladder so that the air pressure inside always matches the pressure outside perfectly.</p>

<hr>

<p>My final suggestion is similar to <a href="https://robotics.stackexchange.com/a/275/37">Mark Booth</a>'s. Why not build a motor which can cross the hull of the vehicle. Put the magnets of the motor outside, and keep the windings inside where it's dry. What you will be making here is basically a Brushless Motor:</p>

<p><img src="https://i.stack.imgur.com/Y26Lk.jpg" alt="Brushless motor"></p>

<p>You could maybe build this into something like a ducted fan.</p>

<p><img src="https://i.stack.imgur.com/6OCz4.jpg" alt="Ducted Fan"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-168" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-168">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-168">Load Comments</button></br>
			<div id = "commentsection-168" class = 'collapse'>
			<div id = "comment-201" class = "comment">
				<p>Thanks for the attribution, but I was thinking more of something like a [Magnetically Coupled Drive](http://openrov.com/forum/topics/magnetically-coupled-drive) rather than building a motor from scratch. *8')</p>
			</div>
			<div id = "comment-203" class = "comment">
				<p>Interesting, thanks :). @Mark I hadn't thought of that, either, but if you could expand it into an answer it would probably be a good read :D</p>
			</div>
			<div id = "comment-291" class = "comment">
				<p>Yesterday I worked with a similar "stuffing box" inside a [hose reel](http://www.lowes.com/Search="Hose+Reel"?Ntt="hose+reel"). It worked surprisingly well.</p>
			</div>
			<div id = "comment-2983" class = "comment">
				<p>I'd remove the part of this answer that suggests actively pumping air to balance the pressure that comes with depth.  The better and more elegant solution used in the underwater vehicle industry is simply to fill the motor housing with an incompressible liquid (usually some sort of oil).</p>
			</div>
			</div>
				<textarea id = "speech-168" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-168">
					<img id="start_img-168" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-168">Comment</button>
			<br><div id = "ans-175"  class = "post">
				<h2>Answer</h2>
			<div id="vote-175" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>All seals leak. If you are able to enclose the motor so that the shaft is the only exit point, fill the motor with a low viscosity non conductive oil such as mineral oil. This greatly reduces the pressure difference across the seal.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-175" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-175">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-175">Load Comments</button></br>
			<div id = "commentsection-175" class = 'collapse'>
			<div id = "comment-268" class = "comment">
				<p>An addition to filling the motor with oil is to attach a flexible bladder (like a balloon) filled with oil to the motor. When the bladder is exposed to the water it will allow the pressure in the motor to equilibrate with the external pressure preventing the pressure gradient that otherwise would drive water into the motor.</p>
			</div>
			</div>
				<textarea id = "speech-175" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-175">
					<img id="start_img-175" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-175">Comment</button>
			<br><div id = "ans-275"  class = "post">
				<h2>Answer</h2>
			<div id="vote-275" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You may want to consider a <a href="http://openrov.com/forum/topics/magnetically-coupled-drive" rel="nofollow noreferrer">Magnetically Coupled Drive</a>. Use a standard motor with a magnetic coupling to transmit the torque to your prop.</p>

<p>This would allow your motor to be completely sealed inside your vehicle:</p>

<p><img src="https://i.stack.imgur.com/3AVt1.png" alt="Magnetically Coupled Drive"></p>

<p><sup>From <a href="http://openrov.com/profile/1gupl83kvnk8f" rel="nofollow noreferrer">Eric Stackpole</a>'s <a href="http://openrov.com/forum/topics/magnetically-coupled-drive" rel="nofollow noreferrer">article</a> mentioned above. Image used without permission, but with attribution.</sup></p>

<p>This solution may or may not be suitable however, depending on the torque you need to transmit, but for open water use has the distinct advantage that it <em>is</em> torque limited. In other words, if your prop gets jammed and you have selected suitable motor and coupling torques then the coupling will <em>slip</em> before your motor burns out.</p>

<p>I particularly like Erics solution as it simultaneously transmits torque to the prop, centers the prop on the shaft and centers the prop along the shaft. An elegant piece of design which solves several problems simultaneously.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-275" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-275">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-275">Load Comments</button></br>
			<div id = "commentsection-275" class = 'collapse'>
			<div id = "comment-4469" class = "comment">
				<p>Well this is one of the best solutions, until the magnetics lose their magnetic field :)) I would think that if the motor have no gear reduction, a stator could be made in the place of the inner tube magnets. Anyway this will be like mounting a brush-less motor, so its a balance between simplicity and efficiency. If the motor has reduction gear, then this is the way, to put most of the parts on a sealed way.</p>
			</div>
			<div id = "comment-21670" class = "comment">
				<p>@DiegoCNascimento Well, you can create a magnetic gearbox too, by adding ferromagnetic iron pieces between the inner and outer magnet ring. The number of pieces inner (or outer) magnet polepairs should be equal to the outer (or inner) number of magnet pole pairs. A step further would be an integrated magnetic gear (motor which employs magnetic gearing). Industry applications which require a sealed environment sometimes employ a cylinder between stator and rotor too. But yeah we are only talking about hobby applications :-).</p>
			</div>
			</div>
				<textarea id = "speech-275" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-275">
					<img id="start_img-275" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-275">Comment</button>
			<br><div id = "ans-303"  class = "post">
				<h2>Answer</h2>
			<div id="vote-303" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Take it for what it's worth, I was next to the OpenROV booth at Maker Faire and their answer was 'let it leak and dry it off later'.  They said they were surprised that water getting into the motor didn't cause issues for them.</p>

<p>'course I haven't tried this myself and I may have misheard them -- or perhaps nothing had failed for them <em>yet</em> :-)</p>

<p>It may be worthwhile though to start with cheap motors and see if your experience matches theirs...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-303" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-303">{'None': 68}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-303" class = 'collapse'>
			</div>
				<textarea id = "speech-303" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-303">
					<img id="start_img-303" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-303">Comment</button>
			<br><div id = "ans-313"  class = "post">
				<h2>Answer</h2>
			<div id="vote-313" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you're looking for a very cheap way to do it (as in, educational budget cheap), check out the <a href="http://seaperch.mit.edu/docs/seaperch-build-october2011.pdf" rel="nofollow noreferrer">Sea Perch ROV build manual</a>.</p>

<p>Full disclosure, I used to work at the MIT lab that heads up this educational program.</p>

<p>On page 9 of that PDF it starts talking about how to waterproof a hobby motor with a film canister and toilet bowl wax.  The entire housing remains submerged and we've taken it to 20 or 30 foot depths in some cases.</p>

<p><a href="http://www.flickr.com/photos/mitauvlab/5489472176/sizes/l/in/set-72157626049644099/" rel="nofollow noreferrer"><img src="https://farm6.staticflickr.com/5212/5489472176_8dd00b928b_b.jpg" alt="Potted Hobby Motor"></a></p>

<p>The build is actually pretty straightforward; we help a lot of junior high and high school kids make these and I can't remember an incident where the seal turned out to be unreliable.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-313" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-313">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-313">Load Comments</button></br>
			<div id = "commentsection-313" class = 'collapse'>
			<div id = "comment-2959" class = "comment">
				<p>Just a note on these: while it is a mainly reliable design and has worked pretty well for my team so far, you will need to use them regularly or they will sieze up. Otherwise, we have built about 6 ROVs so far (a total of 18 motors) with this design and have only had a seal fail twice.</p>
			</div>
			</div>
				<textarea id = "speech-313" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-313">
					<img id="start_img-313" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-313">Comment</button>
			<br><div id = "ans-1451"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1451" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>On one of my remotely controlled boats, I used this design...</p>

<p><img src="https://i.stack.imgur.com/NB48i.png" alt="enter image description here"></p>

<p>The blue discs are flywheels. They are attached to the green rods which are hooked to both sides of a flexible, waterproof membrane. The membrane is fixed to both sides of the casing so it will transmit the motion, but it will not let water through.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1451" data-toggle = "popover">
				<p>user name : J. Walker</p>
				<p> user reputation : 109</p>
				<p class = "tagcontent" id = "usertaginfo-1451">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1451">Load Comments</button></br>
			<div id = "commentsection-1451" class = 'collapse'>
			<div id = "comment-4467" class = "comment">
				<p>I has think on a membrane drive too (although a linear movement in the membrane would be better. But the problem is, with water pressure, the membrane will be forced inside making the motor have near no torque for just moving the membrane. It could be small to reduce force of the pressure, but so small and it would have a very reduced MTBF.</p>
			</div>
			</div>
				<textarea id = "speech-1451" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1451">
					<img id="start_img-1451" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1451">Comment</button>
			<br><div id = "ans-1689"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1689" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Simple DC motors installed in my Underwater Robot are still running (with a little more noise), from an year, without ANY seal.</p>

<p>The voltage of 12V is not so much, so even if the power terminals are dipped in water,  water will not conduct much current through itself, unless it is salty.</p>

<p>As the current flows through the path of least possible resistance, most of the current will still be going through the motor windings, however presence of water causes Rusting which will damage the brushes of the motor and hence more noise and friction.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1689" data-toggle = "popover">
				<p>user name : Ahmed</p>
				<p> user reputation : 9</p>
				<p class = "tagcontent" id = "usertaginfo-1689">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1689" class = 'collapse'>
			</div>
				<textarea id = "speech-1689" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1689">
					<img id="start_img-1689" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1689">Comment</button>
			<br><div id = "ans-1923"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1923" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have come across all the suggestions in the other posts. I don't understand why people are suggesting complex and expensive solutions which are also not feasible.</p>

<p>A <strong>mechanical seal</strong> is the simplest answer for sealing the motor or making it of IP 68. We can use this motor to a depth of 20 m in sea water. </p>

<p>The construction is like a WET pit.</p>

<p>Such types of motor are used in sewage submersible pumps which work to the depth of 20 m in water.  </p>

<p>The cost of such a seal is also very low.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1923" data-toggle = "popover">
				<p>user name : Deepak landage</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1923">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1923">Load Comments</button></br>
			<div id = "commentsection-1923" class = 'collapse'>
			<div id = "comment-3944" class = "comment">
				<p>Which solutions aren't feasible, and why (given that some of them are currently implemented, and in use)?  In what way is a mechanical seal different than a [stuffing box](http://en.wikipedia.org/wiki/Stuffing_box)?</p>
			</div>
			<div id = "comment-10669" class = "comment">
				<p>Well, I know this is an old post but I got this question in the SE Robotics weekly newsletter, and I've got [about 6 years of experience](http://www.navy.com/careers/nuclear-power/nuclear-operations.html#ft-key-responsibilities) with stuffing boxes and mechanical seals, so I figured I'd comment. A stuffing box is a tube, larger in diameter than the shaft, through which the shaft passes. You put ("stuff") a sealer into the tube, then compress it until it's so tight against the shaft that you get no leaks. The sealer is typically some form of wax or oil impregnated fabric.</p>
			</div>
			<div id = "comment-10670" class = "comment">
				<p>With the stuffing box, there is no requirement on surface finish or precision with which the part is made. The downside is that you compress the packing material until it squeezes the shaft so tight no fluid can pass - this usually adds a HUGE amount of torque to what is normally required to rotate the shaft. A [mechanical seal](http://en.wikipedia.org/wiki/End_face_mechanical_seal) uses precision ground (lapped) faces to provide a seal and a spring to mash those faces together. What @Deepak failed to mention is that mechanical seals are **designed to leak** and require a lubricating fluid.</p>
			</div>
			<div id = "comment-10671" class = "comment">
				<p>Mechanical seal use parts manufactured to an extremely high degree of precision, so they leverage that precision and rely on the very, *very* flat faces to prevent leaks, as opposed to stuffing boxes, which rely on lots of pressure to prevent leaks. As stated above, mechanical seals require a lubricating fluid *stream* to prevent the seal faces from getting mangled; this is usually whatever fluid is being pumped (these are usually used in pumps for this very reason). You could add a seal water system, where you pump water from outside through the mechanical seal, but that is also complex.</p>
			</div>
			</div>
				<textarea id = "speech-1923" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1923">
					<img id="start_img-1923" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1923">Comment</button>
			<br><div id = "ans-2633"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2633" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I understand exactly what you are talking about. I am developing my own ROV that will have a track system and crawl on the sea floor. If I may suggest placing your motor in a high point in your ROV with the gear drive close to the bottom, you can install a pressurized air system that will allow air into the chamber as the ROV goes deeper. Think of it like a toilet bowl except it allows air in as the water level rises. I have thought about this same issue and this is what I have come up with.
Using a CO2 cartridge from an airgun and a home-made pressurizing valve (idea from toilet bowl) the deeper it goes, the more air compresses allowing water to enter into the chamber. With the valve installed, it introduces more air, keeping the water away from the electric motor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2633" data-toggle = "popover">
				<p>user name : James Adams</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2633">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2633" class = 'collapse'>
			</div>
				<textarea id = "speech-2633" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2633">
					<img id="start_img-2633" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2633">Comment</button>
			<br><div id = "ans-4912"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4912" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To expand on the Tracked-ROV/toilet-bowl answer, the same could be achieved without the complexity of the airgun cartridge, if the motor is positioned high enough in the chamber:   As the water enters, it compresses the air trapped above, depending on the height of the chamber, depth of ROV (and density of the fluid), at some point the pressures will equalise and prevent further fluid ingress.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4912" data-toggle = "popover">
				<p>user name : Colin</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-4912">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4912" class = 'collapse'>
			</div>
				<textarea id = "speech-4912" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4912">
					<img id="start_img-4912" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4912">Comment</button>
			<br><div id = "ans-7888"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7888" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I wanted to create a submerged water pump as part of school science project. I really had a hard time in making a normal DC motor and its shaft in making water proof. i failed miserably. 
Later i came with an idea. I removed the shaft and magnets from the motor . i removed the coil and attached magnet in the shaft. use a small pvc pipe piece and coil it. keep the shaft inside the coiled pvc pipe. Now when you pass AC current in the coil the shaft will rotate. So now you dont have to water proof the rotating shaft but the wire holes made in the wall which is very easy.</p>

<p>Now coils are water proof and shaft doesnt have any coil and electric circuit to get short. just magnectic field under water.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7888" data-toggle = "popover">
				<p>user name : Amarnath</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7888">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7888" class = 'collapse'>
			</div>
				<textarea id = "speech-7888" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7888">
					<img id="start_img-7888" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7888">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>