<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Probabilistic Velocity Obstacles
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4789" class = "post">
			<h2>Question</h2>
			<div id="vote-4789" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 58</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Probabilistic Velocity Obstacles</h2>
<p>I have been working with the Velocity Obstacles concept. Recently, I came across a probabilistic extension of this and couldn't understand the inner workings. </p>

<p>Source: Recursive Probabilistic Velocity Obstacles for Reflective Navigation <a href="http://www.morpha.de/download/publications/FAW_ASER03_Kluge.pdf" rel="nofollow noreferrer">http://www.morpha.de/download/publications/FAW_ASER03_Kluge.pdf</a></p>

<p><img src="https://i.stack.imgur.com/20jll.png" alt="Shape Uncertainty Formulation"></p>

<p>What does the equation at the bottom and the top mean? Vij is the relative velocity of agent i to agent j. ri &amp; ci and rj &amp; cj are their respective radius and centers.</p>

<p>Update:
What does inf(ri + rj) and sup(ri + rj) mean? Does it mean that I should define a function that goes from 1 to 0 from inf to sup? And if not, then how do I calculate the value of PCC at any given point?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4789" data-toggle = "popover">
				<p>user name : simplename</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-4789">{'stereo-vision': 3, 'None': 0, 'probability': 1, 'multi-agent': 1, 'motion-planning': 1, 'navigation': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4789">Load Comments</button></br>
			<div id = "commentsection-4789" class = 'collapse'>
			<div id = "comment-7503" class = "comment">
				<p>The notation $PCC_{ij} : \Bbb R^2 \to [0,1]$ means "$PCC_{ij}$ is a function from $\Bbb R^2$ (real ordered pairs) to the interval $[0,1]$."</p>
			</div>
			<div id = "comment-7504" class = "comment">
				<p>Inf and sup are terms that deal with limits.  The bottom equation seems to treat at least one of those symbols as a random variable, but I'd have to dig deeper to find where it's defined.</p>
			</div>
			</div>
				<textarea id = "speech-4789" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4789">
					<img id="start_img-4789" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4789">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>