<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Problem with HC-SR04 sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8705" class = "post">
			<h2>Question</h2>
			<div id="vote-8705" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Problem with HC-SR04 sensor</h2>
<p>I have three HC-SR04 sensors connected to a PIC18F4431 with the schematic provided below. Before building the PCB I've tried testing all three sensors with a bread board and they worked fine. But now I have my PCB and when I connect them to that and tried testing, they work only for a few seconds and then stop working.</p>

<p>I set timers and a set of LEDs to lit if an item is in between 40cm from each sensor. As I've tried from the bread board, when I cross my arm withing that range, the appropriate bulbs are lit and when I take my arm off the other bulbs are lit. But using the PCB, when I upload the code through a PICKIT2 they work fine for a few seconds and then they freeze. If I reset the MCLR pin it works again for another few seconds and freeze again. And sometimes randomly if I touch the receiving part of the sensor it works but that happens randomly. Not always working. What could be the issue? </p>

<p>Is my oscillator burnt while I was soldering it? Once I connected two 0.33uF polar capacitors and found out that for one second, it takes one minute or more to blink a bulb.</p>

<p><a href="https://i.stack.imgur.com/uI7mT.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uI7mT.jpg" alt="enter image description here"></a>
<a href="https://i.stack.imgur.com/uZ2jv.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uZ2jv.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8705" data-toggle = "popover">
				<p>user name : Blogger</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-8705">{'mobile-robot': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8705">Load Comments</button></br>
			<div id = "commentsection-8705" class = 'collapse'>
			<div id = "comment-14240" class = "comment">
				<p>That is not a schematic, it is a board layout, and an illegible one at that. Can you post a picture of the solder at the sensor(s) that aren't working? A cold solder joint may cause intermittent connection issues.</p>
			</div>
			<div id = "comment-14241" class = "comment">
				<p>@Chuck I've added a picture of the pins under the board.They seems ok and conduct current when I checked from a multi-meter.</p>
			</div>
			<div id = "comment-14255" class = "comment">
				<p>In the ICSP block (the 5-pin row to the right of the circled 6-pin row)  the two left pins appear to be solder-bridged.  On purpose, or not?</p>
			</div>
			<div id = "comment-14258" class = "comment">
				<p>No no it's just a styrofoam piece. I covered the underside with a sheet of styrofoam. Today I tried the sensors with the breadboard again and found out that they are not working as they used to be. I have to reset the board to make it work. Are those sensors fried? :(</p>
			</div>
			<div id = "comment-14261" class = "comment">
				<p>I regard [styrofoam](https://www.google.com/search?hl=en&site=imghp&tbm=isch&source=hp&biw=1095&bih=635&q=styrofoam&oq=styrofoam&gs_l=img.3..0l10.1912.1912.0.3488.1.1.0.0.0.0.130.130.0j1.1.0....0...1ac..64.img..0.1.130.-qQ5gIg0b94#hl=en&tbm=isch&q=+styrofoam+cup) as problematic with electronics because of the static charge it can hold.   I don't know of a good test for whether HC-SR04's are working ok.  If you have a known-good sensor and  known-good development system, use that to develop working software before building a board, then try substituting, one at a time, the suspect sensors.</p>
			</div>
			</div>
				<textarea id = "speech-8705" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8705">
					<img id="start_img-8705" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8705">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8707"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8707" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In the PCB copper-side picture and the board layout picture, three pins have been left unconnected.  If your code has those set as inputs you are likely to get random inputs.  Check what your program does with those pins.  You can set them to low outputs and leave them low if they are causing problems.</p>

<p>For the other pins (ie those with with traces) if there is nothing yet connected to an input pin that you are reading, you may get intermittent problems like those mentioned in the question.  As an interim measure you might tie such pins high or low through 10 K  to 40 K  resistors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8707" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8707">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8707">Load Comments</button></br>
			<div id = "commentsection-8707" class = 'collapse'>
			<div id = "comment-14253" class = "comment">
				<p>But @jwpat7 When I tried the same pin layout in a bread board, it worked. The only difference I can think of is the oscillator but the Pololu QRT 8RC IR sensor works perfectly fine with this board so it can't be the oscillator too. :/ The non-soldered pins are not used in my code. I'm drawing current from the USB port. Is that current enough?</p>
			</div>
			<div id = "comment-14260" class = "comment">
				<p>I was experimenting and found something like this. I tried connecting the Vcc pins of my three sonar sensor to a breadboard and had another pin connected to that so I can disconnect the Vcc when ever I want. So when the sensors are frozen I disconnect the power to the sensor and reconnect in a second or two and they work. Is there and noise issue here? Note that I don't have any decoupling capacitors connected.</p>
			</div>
			<div id = "comment-14262" class = "comment">
				<p>On-board capacitors (eg a 10 F to 100 F in parallel with a 100 nF) are a good idea if you have those sensors on the same board as the micro; or a 10 F cap at the sensor if they are remote.      You should get a logic analyzer and/or oscilloscope to diagnose this issue   eg to find out whether the pulse is going out when you think the sensor's "frozen", but not being detected on its return, or whether the sensor is completely working but your micro isn't working</p>
			</div>
			</div>
				<textarea id = "speech-8707" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8707">
					<img id="start_img-8707" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8707">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>