<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Problem uploading to Roboduino AtMega328
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1320" class = "post">
			<h2>Question</h2>
			<div id="vote-1320" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1794</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Problem uploading to Roboduino AtMega328</h2>
<p>I bought a new Roboduino atmega 328 board. Basically Roboduino is a modded version of Arduino UNO made by robokits.co.in. The problem is </p>

<p><strong>On Windows Plaform:</strong>
When I tried to upload a simple Blink program that's listed in the examples of Arduino IDE 1.0.4, I got error that 
<strong>avrdude: stk500_getsync(): not in sync: resp=0x00</strong></p>

<p>I chose the correct COM port after verifying it with the Device manager. I installed the Prolific Drivers for the board. I selected the board as Arduino UNO in Arduino IDE.</p>

<p>The complete verbose for the upload is as follow:</p>

<pre><code>D:\Softwares\Installed Files\arduino-1.0.4\hardware/tools/avr/bin/avrdude -CD:\Softwares\Installed Files\arduino-1.0.4\hardware/tools/avr/etc/avrdude.conf -v -v -v -v -patmega328p -carduino -P\\.\COM10 -b115200 -D -Uflash:w:C:\Users\ANKITS~1\AppData\Local\Temp\build5865304215250534760.tmp\Blink.cpp.hex:i     
avrdude: Version 5.11, compiled on Sep  2 2011 at 19:38:36
         Copyright (c) 2000-2005 Brian Dean, http://www.bdmicro.com/
         Copyright (c) 2007-2009 Joerg Wunsch
         System wide configuration file is "D:\Softwares\Installed Files\arduino-1.0.4\hardware/tools/avr/etc/avrdude.conf"
Using Port                    : \\.\COM10
Using Programmer              : arduino
Overriding Baud Rate          : 115200

avrdude: Send: 0 [30]   [20]   
avrdude: Send: 0 [30]   [20]    
avrdude: Send: 0 [30]   [20]    
avrdude: Recv:    
avrdude: stk500_getsync(): not in sync: resp=0x00

avrdude done.  Thank you.
</code></pre>

<p>When I plug in the board the power LED is on. The 13 pin LED blinks once. When the IDE shows uploading the 13 pin LED blinks 3-4 times and then the error appears on the screen. In between also sometimes it blinks randomly for 5-6 times. I also tried other example programs but the same follows.
I'm using 32 bit Windows 7 Ultimate and the baud rate is set to 9600.</p>

<p><strong>On Ubuntu 13.04:</strong>
I downloaded the IDE from Software Center. I was added to the dialouts group on  the first run. After connecting the board to my pc I ran two commands <code>lsusb</code> which returned following output:</p>

<pre><code>Bus 004 Device 003: ID 067b:2303 Prolific Technology, Inc. PL2303 Serial Port
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub
Bus 002 Device 001: ID 1d6b:0001 Linux Foundation 1.1 root hub
Bus 003 Device 001: ID 1d6b:0001 Linux Foundation 1.1 root hub
Bus 004 Device 001: ID 1d6b:0001 Linux Foundation 1.1 root hub
Bus 005 Device 001: ID 1d6b:0001 Linux Foundation 1.1 root hub
</code></pre>

<p>and then <code>dmesg</code>. After this when I tried to upload the same program of blink, it gave me following error:<strong>avrdude: stk500_recv(): programmer is not responding</strong>. I'm using 64 bit ubuntu 13.04 and selected Arduino UNO as the board.</p>

<p>Thank you for reading this long. Please provide me suggestions for the problem.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1320" data-toggle = "popover">
				<p>user name : meteors</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-1320">{'None': 2, 'pid': 3, 'line-following': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1320">Load Comments</button></br>
			<div id = "commentsection-1320" class = 'collapse'>
			<div id = "comment-2917" class = "comment">
				<p>You wrote `9600 baud with windows`, but the output shows 115200 baud?</p>
			</div>
			<div id = "comment-2920" class = "comment">
				<p>Thae's actually the overiding baud rate. Nyways the problem got solved look at my answer.</p>
			</div>
			</div>
				<textarea id = "speech-1320" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1320">
					<img id="start_img-1320" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1320">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1325"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1325" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I finally got the problem solved. The problem was that I had selected Arduino UNO. After checking out the datasheets for my board I found that it had the same specs as Arduino Duemilanove AtMega328. After selecting it I got the things right.
So the general solution is check out the data sheets if you are using any such modded boards and then select the appropriate board which matches the specs.
Now my board is working successfully on both windows and linux.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1325" data-toggle = "popover">
				<p>user name : meteors</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-1325">{'None': 2, 'pid': 3, 'line-following': 3, 'arduino': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1325" class = 'collapse'>
			</div>
				<textarea id = "speech-1325" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1325">
					<img id="start_img-1325" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1325">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>