<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Problem with vibrations in air bearing
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1202" class = "post">
			<h2>Question</h2>
			<div id="vote-1202" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 336</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Problem with vibrations in air bearing</h2>
<p>We have an air bearing for a planar xy motion. Today it consists of four pockets according to picture. </p>

<p><img src="https://i.stack.imgur.com/dET39.png" alt="Current design"></p>

<p>In the current design there are no sealings around the peripheries of the pockets and we suspect that is the reason we get vibrations. </p>

<p>In the current design we control the pressure, same for all for recesses. The flow is adjustable individually for each recess. In practice it is very hard to tune it.</p>

<p>For the non recess surfaces we have used <a href="http://www.tss.trelleborg.com/remotemedia/media/globalformastercontent/downloadsautomaticlycreatedbyscript/catalogs/turcite_b_slydway_gb_en.pdf" rel="nofollow noreferrer">Slydway</a> as we need to be able to operate it without pressure occasionally.</p>

<p>To try to solve the problem we plan to develop a prototype where we can try out the effect of using sealings around the periphery of the pockets. The idea is something like this:
<img src="https://i.stack.imgur.com/7yKuf.png" alt="Idea for new design"></p>

<p><strong>Questions</strong></p>

<ul>
<li>Is the idea with adding sealings good? (sanity check)</li>
<li><p>Suggestions for sealings? (I'm thinking a porous material like felt or cigarette filter) </p>

<p>Of course all suggestions are welcome.</p></li>
</ul>

<p><em>Edit</em></p>

<p>I'm going to try and add grooves around the recesses to evaquate the air that leaks. My thinking is that this will give us a more defined area under pressure.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1202" data-toggle = "popover">
				<p>user name : Johan Larsson</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-1202">{'None': 1, 'linear-bearing': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1202" class = 'collapse'>
			</div>
				<textarea id = "speech-1202" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1202">
					<img id="start_img-1202" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1202">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1203"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1203" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Non of the commercial air bearings I've seen have attempted to <em>seal</em> like this, so I think that your problems with vibration may lie elsewhere.</p>

<hr>

<p>The problems I have seen with air-bearing systems have been related to mechanical <a href="http://forums.reprap.org/read.php?14,131155,131155" rel="nofollow noreferrer">over constraint</a>.</p>

<p>A high performance linear bearing stage I once worked on used six bearings like these:</p>

<p><a href="http://www.nelsonair.com/NA_prods_flatpad_fp.htm" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/gHOsJ.gif" alt="Copyright of Nelson Air Corp assumed, Image used without permission but with attribution."></a></p>

<p>Arranged in 3 pairs like this: <code>/\em_</code></p>

<p>Where <code>/</code>, <code>\</code> &amp; <code>_</code> are a pair of bearings (side by side along the track), <code>e</code> was the encoder strip and <code>m</code> was a linear motor.</p>

<p>The problem that we had was that no matter how we tuned the servo loop, if it was tightly tuned enough to get up to the speed and acceleration we needed (3m/s &amp; 2g) then the system would often get into a <a href="http://en.wikipedia.org/wiki/Limit_cycle" rel="nofollow noreferrer">limit cycle</a> (sometimes erroneously called <a href="http://en.wikipedia.org/wiki/Resonance" rel="nofollow noreferrer">resonance</a>) when stopping (i.e. it would sit humming).</p>

<p>The way we solved this was to remove one of the air bearings on the <code>/</code> row, relocating it to the middle:</p>

<pre><code>   Front view       Side
Unstable   Stable   view
  o o       o o      |o
   m         m       |m
   e         e       |e
  o o       o o      \o
  o o        o       /o
</code></pre>

<p>By removing the excess constraint, we appeared to remove the tendency for a perturbation in one air bearing to affect another bearing and then ripple through to the other bearings.</p>

<p>Depending on your typical direction of motion and the flatness of your surface, you may find that a three point bearing system may work better for your system:</p>

<p><a href="http://www.newwayairbearings.com/design/technical-resources/new-way-technical-reports/tech-report-2-vacuum-preloaded-x-y-stage" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/JzlXh.jpg" alt="Copyright of New Way Air Bearings, Image used without permission but with attribution."></a></p>

<p>You may also want to consider purchasing commercial air-bearing modules and attaching them to a frame (at least for a prototype) rather than attempting to manufacture your own air bearings. That way you can leverage the knowledge and support provided by the air-bearing manufacturer.</p>

<p>One other point is that we used ordinary <a href="http://en.wikipedia.org/wiki/Polyimide" rel="nofollow noreferrer">Polyimide</a> tape on our air bearings. We considered various more permanent methods, but in the end decided that being able to easily remove old, scarred or scored tape and replace it with fresh tape quickly and easily made the most sense for our application.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1203" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-1203">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1203">Load Comments</button></br>
			<div id = "commentsection-1203" class = 'collapse'>
			<div id = "comment-2728" class = "comment">
				<p>+1 three points is an excellent suggestion. We often have tight space constraints so it would be good for us to learn how to make our own. the idea withe the prototype is to give us something to play around with and learn.</p>
			</div>
			</div>
				<textarea id = "speech-1203" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1203">
					<img id="start_img-1203" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1203">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>