<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Processor and command interface preference for a robot arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-380" class = "post">
			<h2>Question</h2>
			<div id="vote-380" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 225</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Processor and command interface preference for a robot arm</h2>
<p>I want to build a robot arm that'll be approximately 1.25 meter long and will be able to lift up to 2 kilograms. It'll have 6 dof and it is an expensive project. And most importantly, i am the only programmer in this brand new robotics facility of ours. :)</p>

<p>The robot that i want to build will be led by Inverse Kinematics, so with all these parameters and matrices, i think that i'll need a tough processor (Not so sure).</p>

<p>Assuming that my robots control interface will be on an Android tablet, i thought that i also could develop my program for Android, and send necessary commands to the control chip via RS-232 interface.</p>

<p>So, my question is, are standart 1 GHz Android tablets suitable for these tasks? If not, has anybody got an advice for me?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-380" data-toggle = "popover">
				<p>user name : 3yanlis1bos</p>
				<p> user reputation : 124</p>
				<p class = "tagcontent" id = "usertaginfo-380">{'None': 0, 'inverse-kinematics': 1, 'programming-languages': 0, 'rs232': 1, 'arm': 1, 'software': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-380">Load Comments</button></br>
			<div id = "commentsection-380" class = 'collapse'>
			<div id = "comment-431" class = "comment">
				<p>have a google? see what others have done</p>
			</div>
			<div id = "comment-433" class = "comment">
				<p>Yeah, well, i'm afraid the others haven't done anything alike. Even tough there are some usage of Android on some robot arm projects, none of them are beyond hobby projects. They don't need too much current, they don't have 6 dof, etc. And for this reason, they're not hard enough to compare.</p>
			</div>
			<div id = "comment-435" class = "comment">
				<p>There is no way to answer this question with the information given! My advice, like for most performance questions, is profile it. The only way you can know how your code and work load will perform on any given hardware is to try it and measure the performance.</p>
			</div>
			<div id = "comment-437" class = "comment">
				<p>@Mark i think that you've got a point. I should give more details, you're right. The problem is, it's the only detail that i have right now. So, it could help a lot more, if you could tell me how to make a more clear profile of my robot.</p>
			</div>
			<div id = "comment-444" class = "comment">
				<p>I think you need to focus this question more.  The physical dimensions are independent of the computing requirements, so don't include them.  The computing requirements are flexible too; the faster your processor, the more movements per second/minute you'll be able to plan out.  Can you provide more details on what you require for that?  Also, is there a specific need to use a tablet computer instead of a desktop computer for this?  If so, why?</p>
			</div>
			</div>
				<textarea id = "speech-380" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-380">
					<img id="start_img-380" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-380">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-384"  class = "post">
				<h2>Answer</h2>
			<div id="vote-384" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like you are implementing Inverse kinematics(IK) control of robot manipulator for first time. I would suggest you to start of inverse kinematics control program in regular computer. Once you have implemented stable IK control program, you can implement the same same for Android tablet. </p>

<p>Please don't complicate the task which is already complicated! Best way start is to keep building of arm and developing IK control for the arm as separate modules and integrate them once both modules are working properly. For IK control program you can start off with simulated robot arm. Building reliable 6 DoF arm of reach 1.25 meter is definitely not easy job, especially if you are doing it for first time. It would be good idea to start with smaller prototype and later scale it up required size.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-384" data-toggle = "popover">
				<p>user name : subot24</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-384">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-384">Load Comments</button></br>
			<div id = "commentsection-384" class = 'collapse'>
			<div id = "comment-439" class = "comment">
				<p>Mythoughts exactly, about programming on tablet. I'm planning to develop it on my PC with java first, then i'll do the same for Android like you said. But for arm, i have a companion who is an expert at mechanics, so, the metal part will be a lot easier. (Won't be alone at least.) Even tough there are two of us in this business, we'll use some second hand material to prevent bigger financial losses. But i'll consider your prototype advice as well.</p>
			</div>
			</div>
				<textarea id = "speech-384" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-384">
					<img id="start_img-384" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-384">Comment</button>
			<br><div id = "ans-385"  class = "post">
				<h2>Answer</h2>
			<div id="vote-385" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This project sounds quite plausible. The question is, where do the servo loops happen? Does it go through the Android Tablet, or just the control chip? What chip is this?</p>

<p>If the servo loops go through the tablet, then be warned that the tablet needs to be able to process that servo loop in good time each cycle. No being late, or missing cycles. No sudden waiting for a WiFi connection, or spending too much time doing voice recognition. It doesn't need to be hard real time (ROS isn't for example) but it should be fairly reliable.</p>

<p>If the servo loop goes only through the control chip, whatever that is, then that would be much better. The tablet would just send demand values to the control chip, and it wouldn't matter so much if these were a bit late or were skipped.</p>

<p>Your robot arm is only 6 degrees of freedom, meaning the Inverse Kinematics function can be solved analytically every control cycle, and will be very fast. 1GHz is actually quite a fast processor. I used to do IK on a <a href="http://freespace.virgin.net/hugo.elias/models/m_ik.htm" rel="nofollow">12 DOF simulation</a> in QBASIC on an old 486, and could easily get 30 FPS.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-385" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-385">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-385">Load Comments</button></br>
			<div id = "commentsection-385" class = 'collapse'>
			<div id = "comment-440" class = "comment">
				<p>What i call as [the chip](http://www.maxonmotor.com/maxon/view/news/MEDIENMITTEILUNG-Epos2-24-2-Positioniersteuerung) turns out to be a MAXON EPOS 2, but i'm not really sure about the cycles. My first thought was leaning on Android in all our needs. So, because of my lack of knowledge about this controller, i'll continue with my first approach for now. But thanks a lot for your comprehensive support. :)</p>
			</div>
			<div id = "comment-471" class = "comment">
				<p>@3yanlis1bos - Given that the EPOS is going to do all of your low level hard [real-time](http://en.wikipedia.org/wiki/Real-time_computing#Criteria_for_real-time_computing) servo loop control, your tablet is going to be doing just the soft real-time motion planning, kinematics and GUI, so this is more a user experience issue. You may even be able to use [OpenCL](http://www.pgroup.com/products/pgcl/pgcl_qsg/ch03s07.html) to get the GPU to accelerate the kinematic modelling.</p>
			</div>
			</div>
				<textarea id = "speech-385" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-385">
					<img id="start_img-385" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-385">Comment</button>
			<br><div id = "ans-388"  class = "post">
				<h2>Answer</h2>
			<div id="vote-388" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>How many degrees of freedom do you plan to implement?</p>

<p>I use Arduino Mega for my arm with 4 axis and plan to use simple ARM processor instead it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-388" data-toggle = "popover">
				<p>user name : Robotex</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-388">{'None': 0, 'design': 5, '3d-printing': 5, 'mechanism': 5, 'software': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-388">Load Comments</button></br>
			<div id = "commentsection-388" class = 'collapse'>
			<div id = "comment-448" class = "comment">
				<p>You may be able to improve your answer by linking your experience to the question asked, whether the 1 GHz tablet is suitable for the task.</p>
			</div>
			<div id = "comment-451" class = "comment">
				<p>Like i said, it'll have 6 dof.</p>
			</div>
			</div>
				<textarea id = "speech-388" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-388">
					<img id="start_img-388" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-388">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>