<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Programable Drone with robotic arm and hand?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7089" class = "post">
			<h2>Question</h2>
			<div id="vote-7089" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 291</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Programable Drone with robotic arm and hand?</h2>
<p>I was just wondering if it was possible to buy or build a programmable drone with a robotic arm,hand, knife.</p>

<p>I want to program a drone to harvest crops.</p>

<p>-object recognition from live video stream to server</p>

<p>-identify and grab objects with arm, make cut if necessary</p>

<p>-transport produce to collection site</p>

<p>I know this would take much knowlege from many fields but do any you have any forsight into the limitations of doing this other than energy for power.</p>

<p>Estimates on cost of hardware?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7089" data-toggle = "popover">
				<p>user name : JerryA</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7089">{'quadcopter': 0, 'dynamic-programming': 0, 'None': 0, 'design': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7089">Load Comments</button></br>
			<div id = "commentsection-7089" class = 'collapse'>
			<div id = "comment-18641" class = "comment">
				<p>My experience tells me that this is very difficult.  The movement+ will impact the tuning algo (PIDs).  Here is the lesson I learned a long time ago: I put a new GoPro Session on a frame. I thought I would be "smart" and use the session mount/etc, as opposed to strapping the cam down on the frame.  The cam had a tiny bit of unavoidable play, movement, and bounce in the mounting as it stuck out a little off the frame, similar to an arm.  This made the drone unusable and I could not tune out the feedback loop introduced by the arm. Conclusion: Arm mass and movement needs to be in the math.</p>
			</div>
			<div id = "comment-19012" class = "comment">
				<p>@datamafia I thought there would be helpful open source code or frameworks to handle this.... oh well. One library of code for loaction of objects in realtion to a point on the drone which would automatically manipulate movement commands.</p>
			</div>
			<div id = "comment-19013" class = "comment">
				<p>I think it is possible, but you need to add considerable math to compensate for the arm and tune the movement activly into the PID loop. I have not seen any external "arm" on any drone yet and I think there is a reason.  Sure, there are gimbals, but the center of mass of the gimbal and drone is not effected much by the movement. Also, each arm movement will have an equal an opposite force that must be handled in the PID loop >> rotate arm to right and the drone will want to rotate left - for example.</p>
			</div>
			</div>
				<textarea id = "speech-7089" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7089">
					<img id="start_img-7089" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7089">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7092"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7092" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is no ready to fly model or kit. You should do it yourself arm/hand/knife. But if you use extra blade like propellers you can use it as a harvester. BLDC motors have enough power.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7092" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7092">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7092">Load Comments</button></br>
			<div id = "commentsection-7092" class = 'collapse'>
			<div id = "comment-13913" class = "comment">
				<p>http://www.engadget.com/2015/11/27/dji-farming-drone-water-resistant-dustproof/</p>
			</div>
			</div>
				<textarea id = "speech-7092" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7092">
					<img id="start_img-7092" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7092">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>