<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>programming pan-tilt unit with C
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1388" class = "post">
			<h2>Question</h2>
			<div id="vote-1388" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 195</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>programming pan-tilt unit with C</h2>
<p>I am trying to write a C code for a pan-tilt unit model ptu-d46 using visual studio 2010 in Windows 7, but I can't find any tutorial or reference on how to do so. All the user's manual mentions is that there is a C programmer's interface (model ptu-cpi) available, but it doesn't say where to find it nor how to use. I looked for it on google but couldn't find anything.</p>

<p>There is a command reference manual along with the user's manual, but it only shows the different commands to control the tilt and does not explain how to make a C program that connects to the tilt controller and sends queries to it. </p>

<p>Does anyone please have an idea of where I should look or if there are any open source programs for that. I'm not trying to make a complicated program. I just need it to connect to the tilt controller (the computer is connected via USB cable to the host RS232 of the tilt controller) and makes it nod to say "Yes" and "No" !</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1388" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1388">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1388" class = 'collapse'>
			</div>
				<textarea id = "speech-1388" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1388">
					<img id="start_img-1388" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1388">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1389"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1389" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The command reference manual is <a href="http://www.dperception.com/pdf/Pan-Tilt-Command-Reference-Manual.pdf" rel="nofollow">here</a>. These commands are sent as ASCII text to the serial interface on the controller.  How to send data to a serial port depends on your OS and how the device is attached.  On Linux, you'll probably open a device file like /dev/ttyXXX and write to that.  I don't know about Windows or MacOS.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1389" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1389">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1389">Load Comments</button></br>
			<div id = "commentsection-1389" class = 'collapse'>
			<div id = "comment-2993" class = "comment">
				<p>Thank you ! I'll try to search more about how to do that in Windows</p>
			</div>
			</div>
				<textarea id = "speech-1389" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1389">
					<img id="start_img-1389" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1389">Comment</button>
			<br><div id = "ans-1390"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1390" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You do not need the PTI-CPU (which is a separate product -- $250) for your application. It's only necessary if you are going to give the PTU instructions more than 10 times per second.</p>

<p>What you just need to do is figure out how to use a serial port in your environment, and send it the commands as described in the manual you already have.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1390" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1390">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1390" class = 'collapse'>
			</div>
				<textarea id = "speech-1390" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1390">
					<img id="start_img-1390" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1390">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>