<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Programming A Rover
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9447" class = "post">
			<h2>Question</h2>
			<div id="vote-9447" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Programming A Rover</h2>
<p>I am part of my College team which is planning to enter a Mars Rover Challenge. In the point of view of a programmer, where should I start? I know C is the main language NASA used for their Rover and I have a basic understanding of it. Plus, how much should I look into the RTOS part for making a rover?</p>

<p>Any books/links to this topic would be greatly appreciated. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9447" data-toggle = "popover">
				<p>user name : Ravi Sankar</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-9447">{'None': 0, 'programming-languages': 1, 'c': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9447" class = 'collapse'>
			</div>
				<textarea id = "speech-9447" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9447">
					<img id="start_img-9447" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9447">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9449"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9449" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ravi - This is a great question.  So many great ideas stop simply because we don't know how to kick things off.  I'll try to list a few options below for each of your questions so I don't sound like I'm selling one method or product.</p>

<p>Your question is at a very high level, so I'll try to point you to some great resources; if I went too deep, I'd have a novel for you - and there is no reason to recreate the wheel.  Your (compound) question also allows for a lot of subjective opinion - I'll try to keep my answer as objective as possible.  As a reference for when I inject my opinion, my 3-person university senior design team built an autonomous firefighting robot for RoboGames (A worldwide competition held annually near San Francisco, CA) and took 2nd place - not bragging, as we didn't win the gold, but we were in the same boat as you when we started: "where the heck do we even start?!?"</p>

<p><strong>Where to Start</strong></p>

<p>Planning is integral - the more time you spend here, the less money and frustration you waste later on, so again I reiterate that you have a great question here.<br>
There are a LOT of getting started books/resources out there - it is so helpful it can be overwhelming and may actually seem like it adds to the confusion. </p>

<ul>
<li><a href="https://www.edx.org" rel="nofollow">EDX.org</a> - this is an amazing site that offers FREE full college courses on almost every course of knowledge from schools like MIT, Harvard, UC Berkley, etc - and its constantly adding new classes.  Search 'Robot' or 'Embedded' for a dozen classes.  Here are a couple EDX classes (<a href="https://www.edx.org/course/electronic-interfaces-bridging-physical-uc-berkeleyx-ee40lx-0" rel="nofollow">Class 1</a> / <a href="https://www.edx.org/course/embedded-systems-shape-world-utaustinx-ut-6-03x" rel="nofollow">Class 2</a>) that are using a $50 dev board and showing you how to program the microcontroller and interface with sensors.  (If you buy the board, you are already on your way just watching the videos and following along with the exercises).</li>
<li><a href="http://www.robotpark.com/academy/" rel="nofollow">RobotPark</a> - A great site - just follow the links for 'learn' and 'design.'</li>
<li><a href="http://freebookspot.es/" rel="nofollow">FreeBookSpot</a> - This site has a WEALTH of free ebook links on all topics.  Search 'microcontrollers' or 'robot' to be greeted with over a hundred good resources.  Look for beginner/getting started titles.  (The main options will be PIC or Arduino - more on that to come).  Almost all of these books offer step-by-step getting started demos and code samples.  (This site sometimes updates their domain, so if this link is broken, search for 'freebookspot' on your favorite search engine).</li>
<li>Since this is a college project - I'd hit up a professor that teaches micro-controllers/robotics.</li>
</ul>

<p><strong>Language</strong></p>

<p>Some feel this is one of the more important decisions, others feel it is one of the least.  If you pick up a class or book from the above section, it will most likely already define what dev board, language and programming IDE you should use for it's code samples.  </p>

<p>As far as languages to use, here are some available options:</p>

<ul>
<li>C - C is a great language that enables one of the widest range of micro-controllers to interface with (assembly language is the probably the widest, but has a larger learning curve and can add to development times).  It is also more respected in the engineering community than the other options I will list below.  Since you are a student, <a href="http://www.microchip.com/development-tools/academic-corner" rel="nofollow">MicroChip</a> offers you a free MPLab dev environment with C compiler for PIC programming. </li>
<li>Arduino - Seen as a quicker/easier option to use when getting started with a trade off that you are more limited in hardware (there are many that would argue this point - or that it doesn't matter).  Arduino boards (and shields) are relatively cheap and easy to pick up from Amazon/SparkFun/etc.  Here is a great intro on <a href="https://learn.sparkfun.com/tutorials/what-is-an-arduino" rel="nofollow">SparkFun's</a> site for Arduino.</li>
<li>C#.NET - Many find C# extremely easy to pick up and use, and is a great fully-functional alternate option; it is also another free option, as it uses Microsoft's free libraries/IDE. Check out [Netduino's] site for more information.  </li>
<li>Raspberry PI - a dev board with many online resources that easily allows linux to be loaded on it (Not a language, but I list it here as an easy option for using an OS on a dev board).</li>
</ul>

<p><strong>RTOS</strong></p>

<p>RTOS (Real Time OS) enables you to have a lot of power over processing data as it comes in without buffering.  I found in academia, real time OS got a lot of interest from professors, but there are very few applications where I needed it for a rover.  A good system of interrupts is usually more than adequate for prioritizing processor time for your different systems.  I hope I'm not upsetting your professor/adviser if this is on their agenda - it is definitely a fun intellectual exercise (and has its uses); however, it can add unnecessary time and limit your hardware choices by forcing the use of an OS (real time or not).</p>

<p><strong>Buying Parts</strong></p>

<p>When you get started, sites like SparkFun and RobotShop offer great options and kits to make life easier.  Amazon may even sell some of the same dev boards cheaper.  If you need to get down to fine granularity and want the more advanced options, mouser and digikey are a great option.</p>

<p><strong>Wrapping it up with a subjective opinion</strong></p>

<p>Take it or leave it - but I'll offer you the advice I'd give myself if I was starting over again.  See if you can get in a micro-controller / embedded system class at your university if offered as early as possible - this gives you access to a professor or TA that is yours for all your questions (use the heck out of them!).  Visit the EDX site and start watching the free lecture / lab videos to see if you like the hardware/software in their demos/examples - if not, look at the free book site and find platform that interests you and run with it).  Expect to run into overwhelming frustration when things that look correct don't go right.  And keep up on this robotics stack exchange forum (among others) to keep getting fresh ideas and finding better ways of doing things.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9449" data-toggle = "popover">
				<p>user name : Ray K</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-9449">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9449" class = 'collapse'>
			</div>
				<textarea id = "speech-9449" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9449">
					<img id="start_img-9449" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9449">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>