<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Programming a line following robot with reinforcement learning
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-361" class = "post">
			<h2>Question</h2>
			<div id="vote-361" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2333</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Programming a line following robot with reinforcement learning</h2>
<p>I am considering programming a line following robot using reinforcement learning algorithms. The question I am pondering over is how can I get the algorithm to learn navigating through any arbitrary path?</p>

<p>Having followed the <a href="http://webdocs.cs.ualberta.ca/~sutton/book/the-book.html" rel="noreferrer">Sutton &amp; Barto Book</a> for reinforcement learning, I did solve an exercise problem involving a racetrack where in the car agent learnt not to go off the track and regulate its speed. However, that exercise problem got the agent to learn how to navigate the track it trained on.</p>

<p>Is it in the scope of reinforcement learning to get a robot to navigate arbitrary paths? Does the agent <strong>absolutely</strong> have to have a map of the race circuit or path? What parameters could I possibly use for my state space?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-361" data-toggle = "popover">
				<p>user name : Lord Loh.</p>
				<p> user reputation : 317</p>
				<p class = "tagcontent" id = "usertaginfo-361">{'None': 2, 'accelerometer': 8, 'inverse-kinematics': 5, 'line-following': 12, 'artificial-intelligence': 12, 'deduced-reckoning': 8, 'reinforcement-learning': 26, 'machine-learning': 17, 'sensors': 8, 'pwm': 9, 'navigation': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-361">Load Comments</button></br>
			<div id = "commentsection-361" class = 'collapse'>
			<div id = "comment-393" class = "comment">
				<p>I don't know how, but I'm certain that it is possible to teach it to keep itself within a path, regardless of its shape. The goal of teaching in this case should be what local decision the robot takes based on its immediate inputs (or perhaps some history). This way, it doesn't matter what the shape of the path is, since all decisions are local.</p>
			</div>
			<div id = "comment-424" class = "comment">
				<p>@Shahbaz - What would you suggest I use for the state space?</p>
			</div>
			<div id = "comment-425" class = "comment">
				<p>I'm actually not sure. Even though I have studied AI in university, that was never my field of work/research. The answer you have accepted seems reasonable!</p>
			</div>
			<div id = "comment-7735" class = "comment">
				<p>Are you using an answer to test Markdown? You can just write what you want and see the immediate rendering below it, and then _not_ post it.</p>
			</div>
			</div>
				<textarea id = "speech-361" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-361">
					<img id="start_img-361" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-361">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-363"  class = "post">
				<h2>Answer</h2>
			<div id="vote-363" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One of the key measures of any machine learning algorithm is it's ability to generalize (i.e. apply what it has learned to previously unsceen scenarios). Reinforcement learners (RL) <strong>can</strong> generalize well but this ability is in part a function of the state-space formulation in my experience. This means that if you can find the right setup then the RL learner will not need a map of of the race circuit.</p>

<p>This leaves the question of which parameters to use. Without knowing more about the sensors available on your robot I can only speculate. My first inclinition is to try to encoded the relative orientation of the line and robot (i.e. is the robot tending to the right, left, or simply moving parallel with the line). Doing so would result in a nice small state-space. Though not strictly necessary it would make for a quick and simple implementation. Furthermore, if the robot is not going to move at a constant rate then it may help to encode the robots velocity as the robot will need to react more quickly when moving at higher speeds.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-363" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-363">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-363">Load Comments</button></br>
			<div id = "commentsection-363" class = 'collapse'>
			<div id = "comment-3688" class = "comment">
				<p>Without the map, the state space is just what the robot can sense from its immediate position.  So to a certain extent, the map is just a way to "look ahead".  The learned behavior in the map-less scenario will be essentially "do the same thing as before but go slower because we don't know where the turns are this time".  (Presumably, you'll be able to tell where the edges of the track are.)</p>
			</div>
			<div id = "comment-3691" class = "comment">
				<p>A policy tells us what control to apply given a state. If the state-space is formulated well for the RL agent then distinctly different scenarios may look the same in the state-space and yield the same behavior. This is called generalization and is desirable when done correctly. The robot will have a maximum speed based on the speed of it's control loop. The learned behavior will not necessarily be to slow down. If the reward is inversely related to the length of time of the run then the agent would be inclined to max out it's speed with respect to the speed of it's control loop.</p>
			</div>
			</div>
				<textarea id = "speech-363" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-363">
					<img id="start_img-363" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-363">Comment</button>
			<br><div id = "ans-7849"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7849" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am not sure what type of robot you have but i have been doing robocup rescue line for a few years now. I have come to realise that if you want to follow a line well using PID is a good option. Let me expand on this. If you imagine two light sensors on either side of the line you would want them to be of equal value so that the line is in the middle. You can then use the difference between the value of the two sensors to change the turning percentage of the robot. With this technique it is possible to get a robot to follow a line at extraordinary speeds. i just like you have been contemplating making the robot learn to improve its line tracking abilities. What i came up with is start with your initial PID values higher than you want them to be and use a gyroscopic sensor to measure the frequency of oscillation of the robot as it tracks the line. You can from there create your own function to determine how much to lower your values by in order to get a stable system, this is not exactly artificial intelligence more like an automate optimization algorithm, but hey im 18 and i learnt how to code from the internet. I hope this helps. If you have any queries email me this isnt my main email address so i wont check it regularly.
69darkeagle@sigaint.org</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7849" data-toggle = "popover">
				<p>user name : Omar Quaye</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7849">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7849" class = 'collapse'>
			</div>
				<textarea id = "speech-7849" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7849">
					<img id="start_img-7849" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7849">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>