<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Programming language?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3017" class = "post">
			<h2>Question</h2>
			<div id="vote-3017" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 499</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Programming language?</h2>
<p>In general, what is a good programming language for robotics? I am a starting robo nerd and don't know anyone who would know things like this.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3017" data-toggle = "popover">
				<p>user name : user4490</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-3017">{'mobile-robot': 0, 'None': 0, 'wheeled-robot': 0, 'programming-languages': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3017" class = 'collapse'>
			</div>
				<textarea id = "speech-3017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3017">
					<img id="start_img-3017" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3017">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3019"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3019" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer is, frustratingly, "it depends".</p>

<p>Nearly every established language can be used to program one robot platform or another. In my short career as a roboticist I have already used Python, Java and C++ to program different robots. There are even <a href="http://libre.adacore.com/tools/mindstorms/">tools</a> to program the Lego NXT in <em>Ada,</em> would you believe that? So whatever programming language you already know, there's a good chance you can use just that: Google <code>robot &lt;language name&gt;</code> and see what turns up.</p>

<p>That said, if you have no previous programming language knowledge, C and C++ are probably the safest bets out there. Most robotics platforms support either one of them (or can be <a href="http://www.cs.tau.ac.il/~stoledo/lego/nxt-native/">coaxed into support</a> without too much effort), and there are plenty of <a href="http://opencv.org/">useful packages</a> available. As a bonus, C / C++ were highly influential to languages that came after them, so it would give you a head start on many a language you might want to learn later.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3019" data-toggle = "popover">
				<p>user name : xperroni</p>
				<p> user reputation : 386</p>
				<p class = "tagcontent" id = "usertaginfo-3019">{'None': 19, 'inverse-kinematics': 3, 'algorithm': 2, 'speech-processing': 2, 'rangefinder': 2, 'linux': 3, 'mobile-robot': 8, 'sensors': 2, 'digital-audio': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3019">Load Comments</button></br>
			<div id = "commentsection-3019" class = 'collapse'>
			<div id = "comment-5521" class = "comment">
				<p>That's great thanks!! Now to make that a little harder-do you know if I can program a (probably not native) ios app with any of the languages that could be used for robotics? I am hoping to just learn one language instead of two for now.</p>
			</div>
			<div id = "comment-5530" class = "comment">
				<p>That's a different question altogether, and you could easily have found the answer yourself by Googling `ios <language of choice>`. But yes, there is C++, which you can use to program iOS apps with the help of the [Qt framework](http://qt-project.org/doc/qt-5/ios-support.html).</p>
			</div>
			<div id = "comment-5531" class = "comment">
				<p>Thanks you so much!! This is exactly the info I was looking for.</p>
			</div>
			</div>
				<textarea id = "speech-3019" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3019">
					<img id="start_img-3019" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3019">Comment</button>
			<br><div id = "ans-3045"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3045" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It depends on the project. But generally you should choose the language you are most comfortable with. C/C++, Python  have the most tools and libraries available. However I'd choose Ada all the days in the week. It's an elegant and simple yet very advanced language which has a very strong typing. The latest 2014 GPL version has been release for the public recently. There are not many Ada users left but the support communities are great. To sum it up, try the popular languages first and then try Ada perhaps. Links to visit if you want more information on Ada or if you have questions:   </p>

<ol>
<li><a href="http://www.reddit.com/r/ada/" rel="nofollow noreferrer">Ada on Reddit</a> </li>
<li><a href="https://groups.google.com/forum/m/#!forum/comp.lang.ada" rel="nofollow noreferrer">Comp.lang.ada</a>   </li>
<li><a href="https://stackoverflow.com/questions/tagged/ada">Ada on StackOverflow</a></li>
<li><a href="http://www.seas.gwu.edu/~mfeldman/ada-project-summary.html" rel="nofollow noreferrer">Who uses Ada?</a></li>
<li><a href="http://www.pegasoft.ca/resources/boblap/book.html" rel="nofollow noreferrer">The Big Online Book of Linux Ada Programming</a></li>
<li><a href="http://rads.stackoverflow.com/amzn/click/0521197163" rel="nofollow noreferrer">Building Parallel, Embedded, and Real-Time Applications with Ada</a></li>
</ol>

<p>Alse check out the <a href="http://www.ros.org/" rel="nofollow noreferrer">Robot Operating System</a> which has many modules and packages ready to use.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3045" data-toggle = "popover">
				<p>user name : Esk</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-3045">{'None': 23, 'chassis': 2, 'motor': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3045" class = 'collapse'>
			</div>
				<textarea id = "speech-3045" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3045">
					<img id="start_img-3045" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3045">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>