<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Project Idea for a AI related project
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2628" class = "post">
			<h2>Question</h2>
			<div id="vote-2628" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 631</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Project Idea for a AI related project</h2>
<p>I am a Computer Science final year undergraduate student.Until now,I used to shirk away from robotics as I believed that it is more related to electrical and mechanical aspects.But my interest in robotics grew by seeing some demos and I seriously want to make a robot which involves AI by teaming up with interbranch students of college.So what is the best project I can pick up as a beginner in robotics and AI and some experience in Computer Science so I can apply AI Machine learning concepts so that it learns something.How to start something?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2628" data-toggle = "popover">
				<p>user name : user1369975</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-2628">{'None': 0, 'machine-learning': 0, 'artificial-intelligence': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2628">Load Comments</button></br>
			<div id = "commentsection-2628" class = 'collapse'>
			<div id = "comment-4974" class = "comment">
				<p>How about we flesh the question out a bit, are you looking for something which will involve hardware design as well or an off the shelf robot?</p>
			</div>
			<div id = "comment-4975" class = "comment">
				<p>@MatthewGordon,basically a robot that performs any task intelligently</p>
			</div>
			<div id = "comment-4976" class = "comment">
				<p>I'm not sure it would be possible to come up with a wider spec... For some ideas take a look at existing university robotics competitions http://en.wikipedia.org/wiki/Competitions_and_prizes_in_artificial_intelligence.</p>
			</div>
			<div id = "comment-4990" class = "comment">
				<p>Welcome to *robotics* XXX, but I'm afraid that *[life questions](http://robotics.stackexchange.com/help/on-topic)* really aren't a good fit for robotics.SE. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-2628" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2628">
					<img id="start_img-2628" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2628">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2629"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2629" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Basically almost any control system can be used with machine learning. You just <em>learn</em> the control logic instead of using some PID for example. Here is one simple example which doesn't have too much robotics involved but you'll get the point I hope: <a href="http://www.youtube.com/watch?v=XiigTGKZfks" rel="nofollow">http://www.youtube.com/watch?v=XiigTGKZfks</a></p>

<p>Ball and Plate system could also be interesting to you. You could generally base your research on comparison of different algorithms, both machine learning (HMM, reinforcement, supervised...) and some more often used controllers like PID and Fuzzy logic.</p>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2629" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2629">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2629" class = 'collapse'>
			</div>
				<textarea id = "speech-2629" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2629">
					<img id="start_img-2629" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2629">Comment</button>
			<br><div id = "ans-2630"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2630" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is quite a broad question.</p>

<p>Everything depend on if you want to involve hardware design as Matthew Gordon said already. Lets say you don't want to touch hardware design.</p>

<p>I, as well, will suppose you don't want to do control (like PID control) but more AI, in team work, K-means algorithm and so.</p>

<p>First of all, I honestly think that, you'll always have to know at least a bit how the hardware is working for it is just really useful to know that in the control process. You don't have to be an expert about it but know the limit and the possibility of the robot helps design the machine learning process. So you know what's possible and what isn't.</p>

<p>Apart from that if you have no robot at disposition already you should look at simulation software. Some like <a href="http://playerstage.sourceforge.net/" rel="nofollow">Stage</a> or <a href="http://gazebosim.org/" rel="nofollow">Gazebo</a> are really good simulators. Gazebo implied a bit more of preparation to be run though.</p>

<p>Then you can just take an existing robot to do your simulation. An existing robot like <a href="https://www.willowgarage.com/pages/pr2/overview" rel="nofollow">PR2</a> or <a href="https://www.willowgarage.com/turtlebot" rel="nofollow">TurtleBot</a> depending on your project would do the trick.</p>

<p>Now those robots run with <a href="http://www.ros.org/" rel="nofollow">ROS</a> which is, as the name say, a <em>Robot Operating System</em>. The goal is to provide abstraction so if you design an AI in C++ or python you could just directly run it on those robots because all the controls are already done. Meaning if your program uses the standard type of message for moving the robot you just have to ask for things as simples as "go there" in your AI program.</p>

<p>Ros is definitely a good start if you want to team up with other people as well as it will give you conventions, rules and a lot of libraries already provided for your robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2630" data-toggle = "popover">
				<p>user name : Malcolm</p>
				<p> user reputation : 393</p>
				<p class = "tagcontent" id = "usertaginfo-2630">{'communication': 1, 'None': 24, 'serial': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2630">Load Comments</button></br>
			<div id = "commentsection-2630" class = 'collapse'>
			<div id = "comment-4988" class = "comment">
				<p>,thanks for a well formed answer but the scenario is a little different.I am the programmer here with team of two electrical engineer to complete the robot.I think process illustrated above will hold good here too.</p>
			</div>
			<div id = "comment-4989" class = "comment">
				<p>What kind of Intelligence are planning on creating ? Are your two electrical students going to program the motor drivers as well and  the sensor drivers and up to which level ?
In any case the simulation first is always a good start so you don't have to wait for your two friends to finish the robot to work on.</p>
			</div>
			</div>
				<textarea id = "speech-2630" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2630">
					<img id="start_img-2630" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2630">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>