<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Prop orientation for tricopters
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1370" class = "post">
			<h2>Question</h2>
			<div id="vote-1370" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1301</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Prop orientation for tricopters</h2>
<p>This question stems from previous <a href="https://robotics.stackexchange.com/questions/1367/prop-orientation-on-a-multirotor">question</a>, where I asked why does the prop orientation matter so much for a multirotor. But on further research<sup>&dagger;</sup> I found that these reasons need not apply to a tri copter. and then again. Why? </p>

<p>Are these reasons general for all multi rotors with odd number of motors? or even rotors?</p>

<p>&dagger; <a href="http://www.rcgroups.com/forums/showthread.php?t=1889111" rel="nofollow noreferrer">This forum</a> talks a lot about tricopters and prop orientations but nothing really answers the question. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1370" data-toggle = "popover">
				<p>user name : Chandough</p>
				<p> user reputation : 455</p>
				<p class = "tagcontent" id = "usertaginfo-1370">{'quadcopter': 23, 'None': 15, 'design': 1, 'multi-rotor': 9}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1370" class = 'collapse'>
			</div>
				<textarea id = "speech-1370" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1370">
					<img id="start_img-1370" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1370">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1373"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1373" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For a basic multicopter, in the absence of any other way to control yaw, orientation does matter. A quadrotor needs a balanced set of rotation directions so that it can easily control yaw direction, and at equilibrium, all propellers can rotate at the same speed. This is primarily because all rotors in a quadrotor are fixed (usually). The quadrotor can also control yaw by varying the speed of propellers that rotate in one direction versus another.</p>

<p>Propeller orientation does not matter so much when it has some other method to control yaw. For example, helicopters have a tail rotor, which corrects for any yaw moment caused by the main propeller. Thus, if it was to set to rotate in the opposite direction, the tail rotor can just rotate in the opposite direction to counter this.</p>

<p>The standard tricopter has two front rotors, and a third rear rotor. However, the rear rotor can change its axis. It tilts left or right. When it tilts left or right, a portion of its thrust acts in the yaw direction. Therefore, where front rotors rotate in the same direction, the rear rotor must tilt more the counter the moment from the front rotors. Where the front rotors rotate in opposite directions, the rear rotor tilts less. This is explained in <a href="http://vimeo.com/22778782" rel="nofollow">the video</a> in <a href="http://www.rcgroups.com/forums/showpost.php?s=768e670da2be9e8df7c955f722722400&amp;p=24951580&amp;postcount=4" rel="nofollow">message #4</a> of the link you posted.</p>

<p>The reason why the controllers does not even need to know the direction of rotation in the tri-copter is because it is a feedback controller. Thus, when it senses undesired yaw, it simply tilts the rear rotor in the opposite direction to correct the yaw direction.</p>

<p>Note that the rear rotor, when tilted in one direction, also causes a lateral force. This is counter-balanced by having the whole tricopter tilt in the opposite direction. Hence, the front rotors are tilted (to a lesser degree), and part of their force is oriented laterally.</p>

<p>Therefore, tricopters are more stable and performs better when the front rotors are counter-rotating, because the rear rotor can tilt less (as well as the whole tricopter tilting less).</p>

<p>In summary, the general rule is that propeller orientation is a consideration <strong>unless</strong> it has some other mechanism to correct for yaw. With more than 4 rotors (which are unable to tilt), it is not necessary to have rotors in one direction be exactly equal to the number in the other direction, because it can change the speed of the rotors independently to exactly cancel out the moments. However, this may cause uneven utilisation of the rotors - we tend to like symmetry.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1373" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-1373">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1373" class = 'collapse'>
			</div>
				<textarea id = "speech-1373" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1373">
					<img id="start_img-1373" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1373">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>