<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Properly flashing the firmware on a Lego Mindstorms NXT
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-118" class = "post">
			<h2>Question</h2>
			<div id="vote-118" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 644</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Properly flashing the firmware on a Lego Mindstorms NXT</h2>
<p>I am attempting to upload a custom firmware to a Lego Mindstorms NXT and am having issues.</p>

<p>First of all, I'm attempting to use <a href="http://lejos-osek.sourceforge.net/">nxtOSEK</a>, which would let me run C++ programs on it.  The problem is, everytime I put it into firmware update mode, the download doesn't seem to actually occur.</p>

<p>What I mean by this is that, according to the output in my terminal (both Mac and Windows), the download was successful, however when the NXT reboots, I still see the normal logo (not nxtOSEK).</p>

<p>So, what I'm doing is first holding down the <code>Reset</code> button for a few seconds, then hitting the orange button, giving me that tic-tic-tic sound.  Then I run the firmware update (either using the Windows NextTool or Mac OSX GUI NextTool) and attempt the download.  I get a success message, yet the robot is still using the old firmware.</p>

<p>What could be the cause of this problem and how can I solve it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-118" data-toggle = "popover">
				<p>user name : espais</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-118">{'mindstorms': 8, 'nxt': 8, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-118">Load Comments</button></br>
			<div id = "commentsection-118" class = 'collapse'>
			<div id = "comment-245" class = "comment">
				<p>Have you tried downloading the firmware to a different NXT brick?</p>
			</div>
			<div id = "comment-255" class = "comment">
				<p>I have not, however this is a completely fresh unit....</p>
			</div>
			<div id = "comment-257" class = "comment">
				<p>Still, some NXT bricks are faulty when you get them. I've not used the nxtOSEK firmware before, but I'll try loading it onto my own brick and see what happens.</p>
			</div>
			<div id = "comment-258" class = "comment">
				<p>Ok thanks, I'll give that a shot the next time I'm in my lab.  Fortunately we have more than one...</p>
			</div>
			<div id = "comment-260" class = "comment">
				<p>I've just had a look at the nxtOSEK website... are you using the enhanced *NBC/NXC* firmware? 

(As in http://lejos-osek.sourceforge.net/howtoupload.htm#UploadToNXTfw and http://bricxcc.sourceforge.net/firmware.html)</p>
			</div>
			</div>
				<textarea id = "speech-118" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-118">
					<img id="start_img-118" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-118">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-250"  class = "post">
				<h2>Answer</h2>
			<div id="vote-250" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The reason why you can't see the nxtOSEK logo, is that the enhanced firmware looks the same as the regular firmware, but with several performance and feature enhancements. It isn't specific to nxtOSEK.</p>

<p>To check if the firmware installed properly, visit the <strong>Settings</strong> menu on the NXT, and then the <strong>NXT Version</strong> submenu. The top line should read: <code>FW NBC/NXC x.xx</code>, where <code>x.xx</code> is the version number of the firmware.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-250" data-toggle = "popover">
				<p>user name : shea</p>
				<p> user reputation : 239</p>
				<p class = "tagcontent" id = "usertaginfo-250">{'nxt': 15, 'None': 2, 'algorithm': 2, 'not-exactly-c': 4, 'programming-languages': 4, 'motor': 11, 'mindstorms': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-250">Load Comments</button></br>
			<div id = "commentsection-250" class = 'collapse'>
			<div id = "comment-262" class = "comment">
				<p>Hmm, it does show FW NBC/NXC 1.07.  I guess I did flash it (in the tutorials/documentation I read, I always saw the nxtOSEK logo).  I'm having issues running compiled C++ programs and figured the firmware didn't get updated.</p>
			</div>
			<div id = "comment-265" class = "comment">
				<p>@espais You can try grabbing the latest enhanced firmware from http://bricxcc.sourceforge.net/test_releases/</p>
			</div>
			<div id = "comment-266" class = "comment">
				<p>I'll give that a shot.  If I continue to have problems I'll create a new question.  Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-250" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-250">
					<img id="start_img-250" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-250">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>