<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>proper tuning method of an cascade controller?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2968" class = "post">
			<h2>Question</h2>
			<div id="vote-2968" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 169</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>proper tuning method of an cascade controller?</h2>
<p>Would a control system consisting of 2 PID controller one plant  would be considered as an cascade controller??</p>

<p>And how come would a proper tuning method be?</p>

<p>As far i've googled it seems to me that only best method is to manually do it, one by one. </p>

<p>this is how my system looks like 
<a href="http://snag.gy/rJH2J.jpg" rel="nofollow">http://snag.gy/rJH2J.jpg</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2968" data-toggle = "popover">
				<p>user name : Control</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-2968">{'control': 19, 'None': 0, 'pid': 16, 'tuning': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2968" class = 'collapse'>
			</div>
				<textarea id = "speech-2968" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2968">
					<img id="start_img-2968" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2968">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2969"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2969" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A <a href="http://en.wikipedia.org/wiki/PID_controller#Cascade_control" rel="nofollow">cascaded controller</a> simply has the output of one controller acting as the input to another.  </p>

<p>A good example of this would be in a motor control application where you typically have a current loop controlling the current to the motor, over that you'd have a velocity loop where the output of that loop is the input to the current loop, and over that you'd have a position loop where the output is the input to the velocity loop.</p>

<p>Each loop can be tuned independently of the other by whatever method you fancy.  Tune the inner-most controller first and then start going outwards.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2969" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-2969">{'None': 75}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2969">Load Comments</button></br>
			<div id = "commentsection-2969" class = 'collapse'>
			<div id = "comment-5453" class = "comment">
				<p>What kind of tuning method would you use, if ziegler nichols can't be used.</p>
			</div>
			<div id = "comment-5454" class = "comment">
				<p>@Control Why can't Z-N be used?</p>
			</div>
			<div id = "comment-5455" class = "comment">
				<p>The system can't as far i can tell never become unstable</p>
			</div>
			<div id = "comment-5456" class = "comment">
				<p>@Control Then just set all the gains to infinity and you got yourself a great controller.  Just kidding.  If you're unable to get the system to become unstable by increasing the gains (e.g. of that inner loop) then there's something else going on that's unrelated to the cascade.  I should add that it's easiest to see that this inner controller is "just" a regular non-cascaded controller.  If you're unable to turn off the other controllers in the cascade you may need to set their gains low enough to be able to essentially see the inner controller in isolation.</p>
			</div>
			<div id = "comment-5457" class = "comment">
				<p>Well..  my first approach was to isolate the inner loop, and then using z-n method, but since (according to root locus) it will not become marginally stable, i a bit lost on how i should aproach the situation. 
From what i've read is that a P controller would work for the inner loop and a PI for the outer, but since the output of the inner loop doesn't resemble the output of the system... i think something completely wrong.

I've included a pic showing my control system, including the plant G(s), if it might help deducing the error.</p>
			</div>
			<div id = "comment-5458" class = "comment">
				<p>It seems to me that whatever i do, the PID controller will not affect the inner loop, by looking at the close loop transfer function, it removes the effect of the PID controller .</p>
			</div>
			<div id = "comment-5459" class = "comment">
				<p>@Control If you just have your inner velocity loop you should be able to get the system to become unstable by ramping up the P gain.  If it does not then you have some other problem, e.g. you aren't getting any feedback or your feedback is too low resolution.  You may need to provide some control input (e.g. set a given velocity) or tap the motor to  get the controller actually doing anything.</p>
			</div>
			<div id = "comment-5460" class = "comment">
				<p>Hmm.. well looking at the root locus plot for the close loop system consisting of the inner loop doesn't show that any gain will make it marginally stable, or unstable for that sake. 
Since my feedback consist of the the G(s) defines the angular position of the motor, which is the reason why i mutiply it with s in the feedback loop. i am bit uncertain about the feedback loop, since invertions negate the effect of the controller on the ch. ep, and thereby make it impossible to move the poles, to make the system unstable.</p>
			</div>
			<div id = "comment-5461" class = "comment">
				<p>@Control is this a real system or a simulation?  In a real system there is always some frequency where closed loop phase crosses 180 degrees and therefore some gain where the system will become unstable.  That's because there's some time constant to the system.  In a simulated system it's possible not to have that in which case just set the gain as close to infinity as possible to get the best simulated closed loop response.  An example of a motor simulation where this doesn't happen is if you have zero mass.</p>
			</div>
			<div id = "comment-5464" class = "comment">
				<p>Well.. the transfer function has been identified by comparing it's input and output using matlab. So the transfer function itself should be a indication of how the real system should. The real system, is just a DC motor with some kind of load on it, so the mass isn't zero.
how would an unstable motor even react?? I seems kind of logical to me that a motor always will stay stable, since it already restricted to turn, and nothing else??
The feedback for me seems also weird cause it doesn't seem to me that the controller affect the system anyway.</p>
			</div>
			<div id = "comment-5465" class = "comment">
				<p>I've deduced that the inner close loop transfer function is $$T(s) = \frac{k1*G(s)}{1 + (k1*G(s))(k1*G(s))^{-1} *s} <=> T(s) =\frac{k1*G(s)}{1 + s} <=>  $$ the ch. eq. or the poles never get affected by the changing the parameter.</p>
			</div>
			<div id = "comment-5466" class = "comment">
				<p>@Control so your transfer function must be wrong.  I'm not familiar with the process of using real world data to construct a transfer function in matlab.  A real system with load will *always* show instability given a high enough gain and a PID controller.  An unstable system would look like the motor oscillating violently back and forth with ever increasing amplitude rather than tracking your command.</p>
			</div>
			<div id = "comment-5467" class = "comment">
				<p>The only reason the transfer function itself doesn't get affected by the controller must be because of the feedback which inverts the k1*G(s). My theory is that even if the transfer function was correct, the controller will never affect the close loop transfer function because of the loop, thus never become marginally stable, and stay stable.. Are you saying that there is always a pole at the origo for the DC motor??

I would gladly take this discussion to the chat if you want to ?</p>
			</div>
			<div id = "comment-5468" class = "comment">
				<p>Let us [continue this discussion in chat](http://chat.stackexchange.com/rooms/14684/discussion-between-guy-sirton-and-control).</p>
			</div>
			</div>
				<textarea id = "speech-2969" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2969">
					<img id="start_img-2969" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2969">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>