<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Pros~Cons of common robotics "kits" at the high school level
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1475" class = "post">
			<h2>Question</h2>
			<div id="vote-1475" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Pros~Cons of common robotics "kits" at the high school level</h2>
<p>I am interested in starting a robotics club at my high school next year, since we don't have one, and I want to know what the pros/cons are of common kits. I already have a Vex kit since my uncle is one of the regional suppliers for Indiana, but I'm not sure that Vex is the best choice. What are the pros/cons of the other kits out there?</p>

<p>Note: I looked at Lego Mindstorms, and have used them when I was learning robotics, but do not want them for this. Also, i own a Raspberry Pi.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1475" data-toggle = "popover">
				<p>user name : Pip</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-1475">{'mindstorms': 0, 'None': 0, 'beginner': 0, 'raspberry-pi': 0, 'children': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1475">Load Comments</button></br>
			<div id = "commentsection-1475" class = 'collapse'>
			<div id = "comment-3127" class = "comment">
				<p>I'm sorry *PythonInProgress* but making your request for opinions **louder** does not make it any less *opinion based*. In order to answer questions effectively they need to be [*practical, answerable questions based on actual problems that you face*](http://robotics.stackexchange.com/help/dont-ask). Lists of products go out of date quickly, personal opinions on what is best change and there are so many schools out there that no-one can say what is *most common*. Asking [***how** to choose*](http://robotics.stackexchange.com/q/1132/37) is a much better option, and that's been done.</p>
			</div>
			<div id = "comment-3129" class = "comment">
				<p>@MarkBooth sorry , i dont think "common" is an opinion... :P Is there any way to make this a legitimate question? I though my original one would be ok....</p>
			</div>
			<div id = "comment-3130" class = "comment">
				<p>@MarkBooth i changed the question a bit. Better?</p>
			</div>
			<div id = "comment-3131" class = "comment">
				<p>Thanks for trying to to make this more answerable *PythonInProgress*, but I'm afraid that it's still essentially asking for a *list*, and this sort of question is rarely useful to future visitors. I would suggest asking a new question, based on specific issues that you have identified with the answers on the question this is closed as a duplicate of.</p>
			</div>
			<div id = "comment-3132" class = "comment">
				<p>@MarkBooth thanks... could i just edit this question with those answers?</p>
			</div>
			<div id = "comment-3134" class = "comment">
				<p>I'm not sure I understand what you mean, sorry.</p>
			</div>
			<div id = "comment-3135" class = "comment">
				<p>@MarkBooth thanks anyhow :D see you on other SE sites (im mostly stackoverflow and Gamedev)</p>
			</div>
			</div>
				<textarea id = "speech-1475" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1475">
					<img id="start_img-1475" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1475">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>