<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Protecting electronics against voltage~current extremes and bad polarity
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-637" class = "post">
			<h2>Question</h2>
			<div id="vote-637" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 198</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Protecting electronics against voltage~current extremes and bad polarity</h2>
<p>I have built a robot from a wheelchair that has worked very well thus far. It is now time for me to take the next step. I need to implement a permanent power circuit with proper protection. </p>

<p>The lowest level of protection I can think of is a fuse, but I would like to take a step further (current/voltage/direction/switches/High/Low voltages). If some one could give some insight on this project of mine any info will be greatly appreciated.</p>

<hr>

<p><strong>Moderator comment:</strong>  Please see <a href="https://robotics.meta.stackexchange.com/questions/5/how-do-we-address-questions-about-related-subject-areas">How do we address questions about related subject areas?</a> before answering.  This question is close to the boundary, but is on-topic here.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-637" data-toggle = "popover">
				<p>user name : Jon Wilhelm</p>
				<p> user reputation : 38</p>
				<p class = "tagcontent" id = "usertaginfo-637">{'mobile-robot': 7, 'None': 0, 'protection': 7, 'wheeled-robot': 7, 'circuit': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-637">Load Comments</button></br>
			<div id = "commentsection-637" class = 'collapse'>
			<div id = "comment-769" class = "comment">
				<p>You might be better off asking this on the electrical engineering SO site.</p>
			</div>
			<div id = "comment-770" class = "comment">
				<p>The answer will depend on what constitutes "high" voltage and/or current.  Can you provide some more information and specs?</p>
			</div>
			<div id = "comment-771" class = "comment">
				<p>I agree with @MarkW, while your question is perfectly on topic here, migrating the question to [electronics.SE](http://electronics.stackexchange.com/) will probably give you better answers. If you **do** want to get it migrated, just flag the question for moderator attention and state in the text box that you'd like it moved there.</p>
			</div>
			<div id = "comment-776" class = "comment">
				<p>While this question may get a more *electrically* complete answer on [Electrical Engineering](http://electronics.stackexchange.com/) I suspect that answer here may be more *directly relevant* to the questioner as they will take into account aspects that electrical engineers without robotics experience might not take into account.</p>
			</div>
			</div>
				<textarea id = "speech-637" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-637">
					<img id="start_img-637" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-637">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-640"  class = "post">
				<h2>Answer</h2>
			<div id="vote-640" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think this is a very relevant question for robotics, as you can spent a lot of time fixing your system if something went wrong in this area. Here are a few things to look out for:</p>

<ul>
<li><p>Insulation: Ideally you don't want any high voltages to reach your equipment in the first place. So one of the most important rules we apply to our electronics is insulate. Try to have as little conductive surfaces flying around as possible. Especially when you system is moving, having something flying around that is conductive can screw you in the literal sense. insulation tape, tubing whatever are the weapons of choice here.</p></li>
<li><p>Connectors: Try never to use connectors that could be plugged the wrong way, or use the same connectors for different ports. Always check your connector thrice on the running system with a voltmeter before connecting it. </p></li>
<li><p>Diodes can be useful to prevent overvoltage or reverse polarity, they are however useless if your power source is very powerfull, burns your diode, and gets through anyway. That is what a <a href="http://en.wikipedia.org/wiki/Crowbar_%28circuit%29" rel="nofollow noreferrer">crowbar circuit</a> will prevent. Its a combination of a fuse and a diode and will fix both overvoltage/overcurrent and reverse current. There are integrated parts available, and I've also successfully used <a href="http://ae.rsdelivers.com/product/te-connectivity/zen056v130a24ls/polyzen-polymer-protected-diode-56v/0494723.aspx" rel="nofollow noreferrer">polyfuses</a> for small equipment.</p></li>
<li><p><a href="https://electronics.stackexchange.com/questions/7709/why-put-a-resistor-in-series-with-signal-line">Resistors in series</a> for data lines are also quite useful as they limit the current flowing through. Something between 50-100 Ohm should usually do the job.</p></li>
<li><p>Fuses are generally a good idea, especially when you use power sources with very high current capabilities (e.g. LiPo). </p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-640" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-640">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-640">Load Comments</button></br>
			<div id = "commentsection-640" class = 'collapse'>
			<div id = "comment-775" class = "comment">
				<p>+1 for resistors in the data lines.  Can you add any insight into how to choose values for these?</p>
			</div>
			<div id = "comment-778" class = "comment">
				<p>This is relevant only because robots use electricity. Would we answer a question about installing RAM in a computer, because robots use computers? Or about inflating tires because robots might use tires?</p>
			</div>
			<div id = "comment-948" class = "comment">
				<p>Very informative Jakob! +1</p>
			</div>
			</div>
				<textarea id = "speech-640" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-640">
					<img id="start_img-640" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-640">Comment</button>
			<br><div id = "ans-770"  class = "post">
				<h2>Answer</h2>
			<div id="vote-770" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Keeping with the idea of robotics-relevant answers, another thing to take into consideration for mobile/wheeled robotics (albeit not so much with a wheelchair unless you plan to take it off-roading) is vibration and shock. In reviewing your design, ask yourself: is there anything that's going to come loose? Think connectors that aren't a very snug fit or jumper wires connected to a header pin. </p>

<p>There's been some questions with great answers on Electronics.SE that cover this area at the PCB level:</p>

<p><a href="https://electronics.stackexchange.com/questions/5998/smd-vs-through-hole-components-in-high-vibration-environments">SMD vs. Through-hole components in high vibration environments</a></p>

<p><a href="https://electronics.stackexchange.com/questions/11457/board-design-for-high-impact-environments">Board Design for High Impact Environments</a></p>

<p>While this is a pushing outside the scope of the question, be sure to account for disconnect/power loss conditions in software when possible as well. There's not a whole lot you can do on the power side if it's a single-supply system, but if you have multiple subsystems powered off of different supplies, you can monitor supply voltages so that one component can be aware of a failure elsewhere and act appropriately.</p>

<p>If your robot is controlled over a serial interface and the onboard controller can't get some kind of "heartbeat" signal from the host system, it needs to fail gracefully and not go careening down a hallway uncontrolled because the last command it received was "go forward".</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-770" data-toggle = "popover">
				<p>user name : Joe Baker</p>
				<p> user reputation : 477</p>
				<p class = "tagcontent" id = "usertaginfo-770">{'None': 33}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-770" class = 'collapse'>
			</div>
				<textarea id = "speech-770" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-770">
					<img id="start_img-770" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-770">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>