<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Protected questions not considering +100 bonus rep for linking profile
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2573" class = "post">
			<h2>Question</h2>
			<div id="vote-2573" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 43</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Protected questions not considering +100 bonus rep for linking profile</h2>
<p>I have over 22k rep on various SE sites (mainly EE.SE) and received the 100 rep bonus when I came here for the first time and signed in.</p>

<p><img src="https://i.stack.imgur.com/aYY8l.png" alt="enter image description here"></p>

<p>However, I was prevented from answering a <a href="https://apple.stackexchange.com/questions/151480/music-files-dont-copy-from-itunes-to-iphone-appear-grey-with-a-dotted-circle?s=2%7C0.9009">protected question</a> because of insufficient reputation.</p>

<p><img src="https://i.stack.imgur.com/aeUOz.png" alt="enter image description here"></p>

<p>What gives? Since when is 101 less than 10? Is this a bug or by design? If it <em>is</em> by design, admins should update the protection note to clearly say that rep earned elsewhere doesn't count against the restriction.</p>

<p>Tried with two different browsers - same deal.</p>

			</div>
			<div id = "userinfo-2573" style = "float:right">
				<p>user name : Adam Lawrence</p>
				<p> user reputation : 141</p>
				<p> user tag wise history : {'None': 0, 'support': 4, 'protected-questions': 4, 'reputation': 4, 'status-bydesign': 4, 'bug': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2573" class = 'collapse'>
			</div>
				<textarea id = "speech-2573" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2573">
					<img id="start_img-2573" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2573">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2574"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2574" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is <a href="/questions/tagged/status-bydesign" class="post-tag moderator-tag" title="show questions tagged &#39;status-bydesign&#39;" rel="tag">status-bydesign</a>.<br>
The association bonus is purposefully removed from the calculation used to determine if you have sufficient reputation to answer a protected question.</p>

<p>To answer a protected question, you must earn 10 reputation specifically on this site, regardless of your reputation elsewhere on Stack Exchange.</p>

<p>There's already a feature request on Meta.SE to <a href="https://meta.stackexchange.com/questions/210481/improve-protected-question-message-with-regard-to-rep-gained-through-associati">change the phrasing of the protected question post notice</a>.</p>
</p><br>
			</div>
			<div id = "userinfo-2574" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2574">Load Comments</button></br>
			<div id = "commentsection-2574" class = 'collapse'>
			<div id = "comment-5811" class = "comment">
				<p>Thanks for the clarification.</p>
			</div>
			</div>
				<textarea id = "speech-2574" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2574">
					<img id="start_img-2574" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2574">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>