<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Prototyping with IRobot roomba
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7712" class = "post">
			<h2>Question</h2>
			<div id="vote-7712" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 165</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Prototyping with IRobot roomba</h2>
<p>For a project I am building a Tele-Op Robot using the IRobot's Roomba as my drivetrain. In order for my robot to work, I need an extra castor. IRobot provides .stl and .stp files for me to use and I used them and printed the files. (The file I printed was from this link: <a href="http://www.irobot.com/~/media/MainSite/PDFs/About/STEM/Create/Create_2_Bin_Modification.pdf" rel="nofollow">Create  2 Bin Modification</a>.</p>

<p>This file is a new part to the drivetrain to allow another caster.</p>

<p>And I downloaded the first link called "<a href="http://www.irobot.com/~/media/MainSite/Files/About/STEM/Create/c2binbottom.stl" rel="nofollow">Full bin bottom with caster mount</a>"</p>

<p>The piece was great but it made the castor a different height then the wheels. I was wondering if anyone had this file but saved as something different so I can edit it in preferably Solidworks. I was on the phone with IRobot for over 2 hours today and they told me to post here. So please help!!!! :)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7712" data-toggle = "popover">
				<p>user name : Harmonica</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-7712">{'None': 0, 'roomba': 3, 'irobot-create': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7712" class = 'collapse'>
			</div>
				<textarea id = "speech-7712" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7712">
					<img id="start_img-7712" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7712">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7713"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7713" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you having trouble importing the file? I'm not sure what the problem you're having is. You can edit the file in Solidworks; just import the STL, then edit the file.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7713" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7713">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7713" class = 'collapse'>
			</div>
				<textarea id = "speech-7713" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7713">
					<img id="start_img-7713" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7713">Comment</button>
			<br><div id = "ans-7717"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7717" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The caster shaft can potentially not seat right causing canting of the robot.</p>

<p>Can you share pictures of your print? I have had good luck with printing the files posted on the iRobot thingiverse page. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7717" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-7717">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7717" class = 'collapse'>
			</div>
				<textarea id = "speech-7717" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7717">
					<img id="start_img-7717" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7717">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>