<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>PTAM CameraCalibrator error
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7659" class = "post">
			<h2>Question</h2>
			<div id="vote-7659" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 221</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>PTAM CameraCalibrator error</h2>
<p>I am trying to run the <code>cameracalibrator.launch</code> using PTAM according to this <a href="http://wiki.ros.org/ethzasl_ptam/Tutorials/camera_calibration" rel="nofollow noreferrer">Camera Calibration tutorial</a>. However, when I do so, I get the following error:</p>

<pre><code>ERROR: cannot launch node of type [ptam/cameracalibrator]: can't locate node [cameracalibrator] in package [ptam]
</code></pre>

<p>I source my <code>devel/setup.bash</code> before I run the code as well and it still does not work. Here is my launch file:</p>

<pre><code>&lt;launch&gt;
    &lt;node name="cameracalibrator" pkg="ptam" type="cameracalibrator" clear_params="true" output="screen"&gt;
        &lt;remap from="image_raw" to usb_cam/image_raw" /&gt;
        &lt;remap from="pose" to="pose"/&gt;
        &lt;rosparam file="$(find ptam)/PtamFixParams.yaml"/&gt;
    &lt;/node&gt;
&lt;/launch&gt;
</code></pre>

<p>Here is what I get for <code>rostopic list</code>:</p>

<pre><code>/rosout
/rosout_agg
/svo/dense_input
/svo/image
/svo/image/compressed
/svo/image/compressed/parameter_descriptions
...
/tf
/usb_cam/camera_info
/usb_cam/image_raw
/usb_cam/image_raw/compressed
...
/usb_cam/image_raw/theora
/usb_cam/image_raw/parameter_descriptions
/usb_cam/image_raw/parameter_updates
</code></pre>

<p>The path where the <code>cameracalibration.launch</code> file is <code>catkin_ws/src/ethzasl_ptam/ptam/launch</code>. </p>

<p>I am not sure why this error keeps coming up because when I run <code>roslaunch ptam cameracalibrator.launch</code>, it says:</p>

<pre><code>NODES
  /
    cameracalibrator (ptam/cameracalibrator)
</code></pre>

<p>So I'm thinking that PTAM does include <code>cameracalibrator</code>. If someone could please point out my error, that would be really helpful. I've been using this post as a guide, but it's not been helping me much: <a href="https://stackoverflow.com/questions/16759356/ros-dynamic-config-file">Ros Dynamic Config file</a>.</p>

<p>As it says in the above link, I tried <code>find . -executable</code> and I could not find <code>cameracalibrator</code>. I could only find the below. How do I proceed?</p>

<pre><code>./include
./include/ptam
./cfg
...
./launch
./src
./src/ptam
./src/ptam/cfg
...
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-7659" data-toggle = "popover">
				<p>user name : K S</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-7659">{'None': 1, 'ros': 1, 'cameras': 1, 'calibration': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7659" class = 'collapse'>
			</div>
				<textarea id = "speech-7659" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7659">
					<img id="start_img-7659" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7659">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7807"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7807" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Try to find the node by typing "rosrun ptam" and then hitting the tab key. If it doesn't show up there, most likely there's something wrong with your package path. I am surprised it works with the other launch file. Did you check the difference between the two launch files? From where (which directories) are you launching them?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7807" data-toggle = "popover">
				<p>user name : Marc</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7807">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7807" class = 'collapse'>
			</div>
				<textarea id = "speech-7807" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7807">
					<img id="start_img-7807" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7807">Comment</button>
			<br><div id = "ans-10211"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10211" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use the <a href="http://%20http://wiki.ros.org/camera_calibration" rel="nofollow">camera_calibration package</a>. it's supported in all distributions. the package you're using looks pretty old.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10211" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-10211">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10211" class = 'collapse'>
			</div>
				<textarea id = "speech-10211" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10211">
					<img id="start_img-10211" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10211">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>