<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Public dataset for monocular visual odometry
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5283" class = "post">
			<h2>Question</h2>
			<div id="vote-5283" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 887</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Public dataset for monocular visual odometry</h2>
<p>I am planning to develop a monocular visual odometry system. Is there any indoor dataset available to the public, along with the ground truth, on which I can test my approach?</p>

<p>Note: I am already aware of the KITTI Vision Benchmark Suite which provides stereo data for outdoor vehicles.</p>

<p>If anyone has access to the datasets used in the following paper [SVO14], it would be even more great: <a href="http://rpg.ifi.uzh.ch/docs/ICRA14_Forster.pdf" rel="nofollow">http://rpg.ifi.uzh.ch/docs/ICRA14_Forster.pdf</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5283" data-toggle = "popover">
				<p>user name : Avi Singh</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-5283">{'odometry': 3, 'None': 2, 'computer-vision': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5283">Load Comments</button></br>
			<div id = "commentsection-5283" class = 'collapse'>
			<div id = "comment-9840" class = "comment">
				<p>I think you can easily use only a single camera data from the KITTI dataset. For the ground truth you can use their quite precise GPS data.</p>
			</div>
			<div id = "comment-9863" class = "comment">
				<p>I mentioned in my question that I needed an indoor dataset.</p>
			</div>
			</div>
				<textarea id = "speech-5283" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5283">
					<img id="start_img-5283" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5283">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5297"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5297" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am not sure if there are monocular odometry datasets there, (I think it is mostly for standard 2D laser based SLAM), but you should check out <a href="http://radish.sourceforge.net/" rel="nofollow">radish</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5297" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5297">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5297">Load Comments</button></br>
			<div id = "commentsection-5297" class = 'collapse'>
			<div id = "comment-8077" class = "comment">
				<p>Thanks a lot!
This might be useful for some future problem that I might tackle.</p>
			</div>
			</div>
				<textarea id = "speech-5297" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5297">
					<img id="start_img-5297" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5297">Comment</button>
			<br><div id = "ans-5299"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5299" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found a monocular dataset captured from a Micro Aerial Vehicle (MAV), and it has been been made available here:
<a href="http://projects.asl.ethz.ch/sfly/org/doku.php?id=mav%20datasets" rel="nofollow">http://projects.asl.ethz.ch/sfly/org/doku.php?id=mav%20datasets</a></p>

<p>In case the url stops worksing in the future, I am adding the name of the publication that came along with this dataset:
"A Benchmarking Tool for MAV Visual Pose Estimation"
Int. Conf. Control, Automation, Robotics and Vision
Singapore, 7-10th December 2010</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5299" data-toggle = "popover">
				<p>user name : Avi Singh</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-5299">{'odometry': 3, 'None': 2, 'computer-vision': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5299" class = 'collapse'>
			</div>
				<textarea id = "speech-5299" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5299">
					<img id="start_img-5299" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5299">Comment</button>
			<br><div id = "ans-11353"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11353" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is another more recent one, based on the paper <a href="http://vision.in.tum.de/_media/spezial/bib/engel2016monodataset.pdf" rel="nofollow noreferrer">A Photometrically Calibrated Benchmark For Monocular Visual Odometry by Engel et al</a>:</p>

<p><a href="http://vision.in.tum.de/data/datasets/mono-dataset" rel="nofollow noreferrer">http://vision.in.tum.de/data/datasets/mono-dataset</a></p>

<p>This gives both indoor and outdoor scenes, with calibration (or the corresponding sequences so you can calibrate yourself). I haven't tested it fully myself but it seems a rather complete dataset.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11353" data-toggle = "popover">
				<p>user name : Stephen Phillips</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-11353">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11353" class = 'collapse'>
			</div>
				<textarea id = "speech-11353" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11353">
					<img id="start_img-11353" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11353">Comment</button>
			<br><div id = "ans-11356"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11356" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://vision.in.tum.de/data/datasets/rgbd-dataset" rel="nofollow noreferrer">http://vision.in.tum.de/data/datasets/rgbd-dataset</a></p>

<p>This is a set of recordings for the Kinect and Asus Xtion pro, which are all indoors (in offices and a hangar). It comes with precise ground truth from a motion capturing system.</p>

<p>The data is available as ROS bag files, but also as a tarball with png images with a text file for the trajectory. </p>

<p>There are also some scripts to benchmark your results against the ground truth.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11356" data-toggle = "popover">
				<p>user name : FelEnd</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-11356">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11356" class = 'collapse'>
			</div>
				<textarea id = "speech-11356" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11356">
					<img id="start_img-11356" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11356">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>