<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Public training data for vehicle detectors in computer vision?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1966" class = "post">
			<h2>Question</h2>
			<div id="vote-1966" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 130</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Public training data for vehicle detectors in computer vision?</h2>
<p>This question is to anyone familiar with object (specifically vehicle) detection research.</p>

<p>I'm new to computer vision and am confused about training object detection classifiers. Specifically, the objective is vehicle detection. I've been reading through vehicle detection literature for weeks now, but I'm still a bit confused.</p>

<p>What I'm confused about is evaluation. For the evaluation of a system, the research community usually has a benchmarked dataset which can be used for testing data. But the performance of a system also depends very much on the data that was used to train it, no? </p>

<p>So aren't there any <em>training datasets</em> out there, too? That would make for far more uniform method comparisons. I seem to keep finding papers using benchmarked datasets for evaluation, but making no mention of where they got their training data from.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1966" data-toggle = "popover">
				<p>user name : user961627</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1966">{'None': 0, 'computer-vision': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1966">Load Comments</button></br>
			<div id = "commentsection-1966" class = 'collapse'>
			<div id = "comment-4015" class = "comment">
				<p>What kind of data are you looking for? Video? Stereo? Lidar?</p>
			</div>
			</div>
				<textarea id = "speech-1966" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1966">
					<img id="start_img-1966" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1966">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1968"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1968" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You typically use the same data set (or, rather, parts of it) for training and testing. I. e. you split the data set into a training set and a test set. A common technique for evaluating classifiers in general is called 10-fold cross validation. You split your data set 10 different ways such that 90% of the data is used for training and 10% of the data is used for testing. This way you get 10 different accuracy results, which you can then use to do statistical significance testing to show that your classifier is better than somebody else's.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1968" data-toggle = "popover">
				<p>user name : Dima</p>
				<p> user reputation : 191</p>
				<p class = "tagcontent" id = "usertaginfo-1968">{'None': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1968" class = 'collapse'>
			</div>
				<textarea id = "speech-1968" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1968">
					<img id="start_img-1968" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1968">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>