<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Pulse Position Modulation as used in RC controls
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4456" class = "post">
			<h2>Question</h2>
			<div id="vote-4456" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 913</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Pulse Position Modulation as used in RC controls</h2>
<p>How are several channels multiplexed down to a single physical wire? If two channels are transmitting the same value in the same frame, wont there be an overlap of the pulses?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4456" data-toggle = "popover">
				<p>user name : RaGe</p>
				<p> user reputation : 168</p>
				<p class = "tagcontent" id = "usertaginfo-4456">{'None': 5, 'pwm': 3, 'rcservo': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4456" class = 'collapse'>
			</div>
				<textarea id = "speech-4456" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4456">
					<img id="start_img-4456" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4456">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4461"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4461" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Multiple PWM channels generally aren't shoved into a single wire (Or I've never heard of it). If you need to send multiple data channels over the same wire then using a higher level protocol (such as UART or SPI) would be the way to go. While PWM is technically digital, it isn't like other digital protocols where data can be shoved in and expected to come out perfect on the other side. It's more like an analog signal where readings are subject to noise and infinite precision is not possible. </p>

<p>Also, it wouldn't matter if two channels are sending the same value or not. The way servo PWM works only the longer pulse would survive (Assuming the pulses are synchronized. If they weren't unusable garbage would most likely come out). </p>

<p>EDIT: 
As for pulse positioning, it might be possible to multiplex 2 signals depending on how they were constructed. From what I have read ppm requires either a clock pulse or a external clock, but in theory it should be possible to multiplex. Keep in mind that there won't be any real way to differentiate between the pulses sent, and both sources will need to share the same clock. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4461" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-4461">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4461">Load Comments</button></br>
			<div id = "commentsection-4461" class = 'collapse'>
			<div id = "comment-7076" class = "comment">
				<p>My question is about pulse **position** modulation and not width modulation. I can see why it is a bad idea to multiplex two width modulated signals. Thank you for your answer nonetheless.</p>
			</div>
			</div>
				<textarea id = "speech-4461" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4461">
					<img id="start_img-4461" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4461">Comment</button>
			<br><div id = "ans-4466"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4466" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Many (perhaps most) radio control transmitters multiplex all the "RC PWM" channels into a single physical wire, using a system called "RC PPM" (radio-control pulse position modulation).
<a href="http://www.futaba-rc.com/faq/faq-pcm1024.html" rel="nofollow">(a)</a> <a href="http://books.google.com/books?id=EcbjKvhgPLsC&amp;q=pulse%20position%20modulation" rel="nofollow">(b)</a> <a href="http://www.hobbytronics.co.uk/decode-rc-control-ppm" rel="nofollow">(c)</a> <a href="http://books.google.com/books?id=EWZumms67AUC&amp;q=pulse%20position%20modulation" rel="nofollow">(d)</a> <a href="http://pages.cs.wisc.edu/~bolo/rc/radio_types.html" rel="nofollow">(e)</a> <a href="http://adamone.rchomepage.com/guide1.htm" rel="nofollow">(f)</a> <a href="http://www.495thsquadron.org/PDF_Files/UnderstandingRC.pdf" rel="nofollow">(g)</a></p>

<p>Often this "PPM" signal is transferred from the a student's RC transmitter through the buddy box wire to the teacher's RC transmitter.</p>

<p>The "combined signal" -- the "RC PPM signal" -- looks something like this
(based on diagram from <a href="http://www.min.at/prinz/?x=entry:entry130320-204119" rel="nofollow">Richard J. Prinz</a>):
<a href="http://blog.ncode.ca/?tag=remote-control" rel="nofollow">(h)</a> <a href="http://www.avrfreaks.net/index.php?name=PNphpBB2&amp;file=printview&amp;t=75692&amp;start=0" rel="nofollow">(i)</a> <a href="http://users.belgacom.net/TX2TX/tx2tx/english/tx2txgb1.htm" rel="nofollow">(j)</a> <a href="http://rcarduino.blogspot.com/2012/11/how-to-read-rc-receiver-ppm-stream.html" rel="nofollow">(k)</a> <a href="http://www.rcgroups.com/forums/showthread.php?t=1654104&amp;page=2" rel="nofollow">(l)</a></p>

<pre><code>Sync    1       2     3     4        5    6    7   8   Sync...
---+ +----+ +------+ +-+ +-------+ +--+ +--+ +--+ +-+ +----...
   | |    | |      | | | |       | |  | |  | |  | | | |
   | |    | |      | | | |       | |  | |  | |  | | | |
   | |    | |      | | | |       | |  | |  | |  | | | |
   +-+    +-+      +-+ +-+       +-+  +-+  +-+  +-+ +-+
    *      *        *   *         *    *    *    *   *

 * - low separator pulse, always 0.5 ms
 1..8 - high "RC PWM pulse" for channels 1..8      0.5   1.5 ms
</code></pre>

<p>The long "sync pulse" between frames is typically at least 5 ms long.
All the other pulses are no more than 2 ms long.
Most transmitters have a fixed frame rate somewhere in the range of 40 Hz to 200 Hz.</p>

<p>When the pilot moves the positions of the joysticks on the transmitter,
the width of the corresponding "RC PWM pulse" for that channel
will grow proportionally longer or shorter.</p>

<p>The corresponding radio control receiver decodes the radio signal to a RC PPM signal on a single physical wire.
Often the receiver includes either a <a href="http://en.wikipedia.org/wiki/4000_series#4017_decade_counter" rel="nofollow">4017 decade counter</a> or a 4015 shift register --
that chip decodes the RC PPM signal at its CLK input into to several independent "RC PWM" outputs. The various <a href="https://en.wikipedia.org/wiki/Servo_(radio_control)" rel="nofollow">RC servos</a> are connected to those outputs with standard 3-pin connectors with 0.1" spacing.
The RC PWM signal on the "signal" wire of the 3-wires coming out of the servo
has a pulse width that typically varies from 1.0 ms to 2.0 ms (proportional to the position of the joystick),
but only one pulse for each frame.</p>

<p>(The standardized "RC PWM" works differently enough from the PWM used to control DC motor speeds that some people say that RC PWM signals "are not really PWM signals"
<a href="http://www.microchip.com/forums/m450082.aspx" rel="nofollow">(m)</a> <a href="http://www.technobots.co.uk/discus/messages/7/387.html?1225050483" rel="nofollow">(n)</a> <a href="http://www.rcgroups.com/forums/showthread.php?t=1318288" rel="nofollow">(o)</a> <a href="http://www.cmucam.org/boards/8/topics/2877?r=2882#message-2882" rel="nofollow">(p)</a> <a href="http://www.pololu.com/blog/16/electrical-characteristics-of-servos-and-introduction-to-the-servo-control-interface" rel="nofollow">(q)</a>. Alas,
none of those people give any suggestions as to what we <em>should</em> call these signals, so I call them "RC PWM signals" for lack of a better name.
Perhaps I should call them <a href="http://www.mitchr.me/SS/batteriesRequired/RCcontrolTheory/" rel="nofollow">"RC control signals"</a> ?).</p>

<p>If two transmitters are transmitting at the same time, then yes, there will be an overlap of pulses.
However, people at RC flying parks are very careful to assign each pilot (and the transmitter and receiver he uses) a different "frequency channel", so that the receiver in each airplane can easily pick out the signal from its own transmitter and ignore the radio signals from every other transmitter.</p>

<p>A 6-channel receiver uses only one "frequency channel", but it has 6 output channels (6 servo channels), i.e., it has 6 rows of output pins for up to 6 servos to plug into -- typically one channel each for pitch(elevator), roll(aileron), yaw(rudder), throttle, and some optional AUX channels.</p>

<p>During a single RC frame, the a 6-channel receiver cycles through every every servomotor, putting one "RC PWM" pulse at a time on each of its 6 outputs.
Only one of its outputs is ever active at any one time -- there is no overlap of its pulses.</p>

<p>With a typical 50 Hz 6-channel transmitter,
when all the control sticks are pushed to turn all the servos all the way counterclockwise, the receiver spits out</p>

<ul>
<li>a 1 ms pulse on channel 1, then -- as soon as that finishes -- a 1 ms pulse on channel 2, for all 6 channels -- a total of 6 ms -- and the (relatively long) sync pulse is however long it needs to be to fill out the rest of the 20 ms frame.</li>
</ul>

<p>When all the control sticks are pushed to turn all the servos all the way clockwise, the receiver spits out</p>

<ul>
<li>a 2 ms pulse on channel 1, then -- as soon as that finishes -- a 2 ms pulse on channel 2, for all 6 channels -- a total of 12 ms -- and the (much shorter) sync pulse is however long it needs to be to fill out the rest of the 20 ms frame.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4466" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-4466">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4466">Load Comments</button></br>
			<div id = "commentsection-4466" class = 'collapse'>
			<div id = "comment-7078" class = "comment">
				<p>Thanks for the explanation and all the links. Definitely clears up a few things. I realized I had a flawed understanding of PPM, as picked up from non-authoritative websites. [Example](http://blog.oscarliang.net/wp-content/uploads/2013/11/pwm-ppm-signal-example.jpg) This diagram says that the pulse width is fixed, but the position of the pulse conveys data. I was worried that two channels with the same data would have pulses in the same position. Your links show fixed pulse position (per channel) and varied pulse width.</p>
			</div>
			<div id = "comment-7079" class = "comment">
				<p>additional question: Does the sync pulse width vary per frame depending on the duty cycle of the individual channels?</p>
			</div>
			<div id = "comment-7088" class = "comment">
				<p>Yes, [Oscar](http://blog.oscarliang.net/pwm-ppm-difference-conversion/) shows the "normal" PPM used in optical fiber and, well, everywhere except radio control "RC PPM". I feel like I'm not doing a very good job explaining, because "RC PPM" does not, in fact, have a fixed pulse position per channel. With a typical 50 Hz transmitter, the first "separator pulse" occurs at a fixed width and position every 20 ms, all the other pulses start wherever the last pulse left off, which changes every time the control sticks move.</p>
			</div>
			</div>
				<textarea id = "speech-4466" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4466">
					<img id="start_img-4466" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4466">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>