<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Pure Arduino Quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9254" class = "post">
			<h2>Question</h2>
			<div id="vote-9254" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 178</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Pure Arduino Quadcopter</h2>
<p>I recently bought a set of escs, brushless outrunner motors and propellers. I'm trying to perform a calibration on the esc, but I can't find how I can do that without using components other than the arduino uno itself. The setup I've managed to make is the one shown in the picture. The escs are a mystery, as there is no manual to be found. If it helps, the buy link is this : <a href="http://www.ebay.co.uk/itm/4x-A2212-1000KV-Outrunner-Motor-4x-HP-30A-ESC-4x-1045-prop-B-Quad-Rotor-/111282436897" rel="nofollow noreferrer">http://www.ebay.co.uk/itm/4x-A2212-1000KV-Outrunner-Motor-4x-HP-30A-ESC-4x-1045-prop-B-Quad-Rotor-/111282436897</a>
There might also be a problem with the battery (LiPo 3.7V, 2500mAh).
<a href="https://i.stack.imgur.com/vF9YJ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/vF9YJ.jpg" alt="My Setup"></a></p>

<p>Can andybody figure out what I'm doing wrong?
The sample arduino code I found was this:</p>

<pre><code>#include &lt;Servo.h&gt;

#define MAX_SIGNAL 2000
#define MIN_SIGNAL 700
#define MOTOR_PIN 9

Servo motor;

void setup() {
  Serial.begin(9600);
  Serial.println("Program begin...");
  Serial.println("This program will calibrate the ESC.");

  motor.attach(MOTOR_PIN);

  Serial.println("Now writing maximum output.");
  Serial.println("Turn on power source, then wait 2 seconds and press any key.");
  motor.writeMicroseconds(MAX_SIGNAL);

  // Wait for input
  while (!Serial.available());
  Serial.read();

  // Send min output
  Serial.println("Sending minimum output");
  motor.writeMicroseconds(MIN_SIGNAL);

}

void loop() {  
}
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-9254" data-toggle = "popover">
				<p>user name : Petros</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-9254">{'quadcopter': 2, 'brushless-motor': 1, 'None': 0, 'esc': 2, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9254" class = 'collapse'>
			</div>
				<textarea id = "speech-9254" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9254">
					<img id="start_img-9254" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9254">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9255"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9255" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What is the problem you're having? You ask, "Can anybody figure out what I'm doing wrong?" but you don't state clearly what your problem is. Will the motors not spin up after? Is anything happening when you do the calibration? </p>

<p>As an FYI, <a href="https://electronics.stackexchange.com/a/27024/76598">here</a> is an answer on EE stack exchange explaining the basic startup modes for an electronic speed controller. Quoting:</p>

<blockquote>
  <p><strong>Normal starup</strong> [one style of ESC]:</p>
  
  <ul>
  <li><p>Turn On ESC</p></li>
  <li><p>minimum throttle</p></li>
  <li><p>wait 2 seconds</p></li>
  <li><p>maximum throttle</p></li>
  <li><p>wait 2 seconds</p></li>
  <li><p>minimum throttle</p></li>
  <li><p>wait 1 second</p></li>
  </ul>
  
  <p>OK to Go</p>
  
  <p><strong>Normal starup</strong> [another style of ESC]:</p>
  
  <ul>
  <li><p>Turn On ESC</p></li>
  <li><p>minimum</p></li>
  <li><p>wait 3 seconds</p></li>
  <li><p>OK to Go</p></li>
  </ul>
  
  <p><strong>Calibration</strong>:</p>
  
  <ul>
  <li><p>Turn on ESC</p></li>
  <li><p>maximum</p></li>
  <li><p>wait 2 sec</p></li>
  <li><p>minimum</p></li>
  <li><p>wait 1 sec</p></li>
  <li><p>OK to go</p></li>
  </ul>
</blockquote>

<p>From that post, typically there's a beep from the ESC between each of these steps (where you're instructed to wait, wait for the beep).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9255" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9255">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9255">Load Comments</button></br>
			<div id = "commentsection-9255" class = 'collapse'>
			<div id = "comment-16384" class = "comment">
				<p>I try to start it up, but no sounds are made, like everyone say it should be, and the motor doesn't react at all. What do you mean by "turn esc on"??</p>
			</div>
			<div id = "comment-16386" class = "comment">
				<p>@Petros - Connect (typically battery) power to the ESC. I just check on my phone (imgur is blocked where I work) and I would advise you to [remove the prop from that motor until you have everything working](https://www.youtube.com/watch?v=EKToI6UV21I&t=1m20s) (warning: **graphic video** - beware!). I'm not sure what sequence you're doing this all in, but you have to do the special startup sequence immediately after connecting power to the ESC, to the point that you should probably start the process just *before* connecting battery power to the ESC.</p>
			</div>
			<div id = "comment-16401" class = "comment">
				<p>I've tried to do that, but I don't know the special startup sequence for my escs, and it doesn't seem to be anywhere to be found. Do you know what short of battery I'd need (motor has this : "A2212 / 13T 1000KV" written on it). Could there be a problem with the arduino or the pins??</p>
			</div>
			<div id = "comment-16409" class = "comment">
				<p>@Petros - If you're concerned there could be a problem with the arduino, you could connect the motor pin to an analog input pin and verify you're actually sending what you think you're sending. Are there any markings on the ESC? That's really what matters, not so much the motor (with regards to getting the ESC to respond). Does the ESC ever make any noise? Are your battteries charged?</p>
			</div>
			<div id = "comment-16416" class = "comment">
				<p>The ESC never makes a noise or have any other reaction to the signals. I guess the problem is with the battery. Here is what is written on the ESC : "HobbyPower ESC - 30A Brushless Speed Controller DC: 5.5V - 12.6V BEC 5/2A". I'm only using one LiPo battery (that grey thing in the photo) of 3.7V, with 2500mAh. It is charged and I checked the motor pin, so what now?</p>
			</div>
			<div id = "comment-16417" class = "comment">
				<p>@Petros - If the ESC says it accepts 5.5-12.6V, and you're only giving it 3.7, then it's never powering on correctly. Best case scenario is it just hasn't been powering on, worst case scenario is it's been browned out the whole time you've had it connected and something got damaged. I would put two **identical and charged** batteries in series and try to power it on.</p>
			</div>
			</div>
				<textarea id = "speech-9255" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9255">
					<img id="start_img-9255" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9255">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>