<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Python3 Modules for motor movement
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1503" class = "post">
			<h2>Question</h2>
			<div id="vote-1503" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 118</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Python3 Modules for motor movement</h2>
<p>Are there any Python3 modules used to program robotic movement by declaring a device or component and then providing the instructions? I am not looking for modules that test the components.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1503" data-toggle = "popover">
				<p>user name : Devyn Collier Johnson</p>
				<p> user reputation : 132</p>
				<p class = "tagcontent" id = "usertaginfo-1503">{'python': 1, 'mobile-robot': 2, 'None': 0, 'raspberry-pi': 2, 'artificial-intelligence': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1503">Load Comments</button></br>
			<div id = "commentsection-1503" class = 'collapse'>
			<div id = "comment-3188" class = "comment">
				<p>Hi Devyn, this question as written is going to elicit very subjective answers.  Can you rephrase it a little bit to describe what "easy" means as far as your specific application?</p>
			</div>
			<div id = "comment-3189" class = "comment">
				<p>@Ian, thank you for the tip.</p>
			</div>
			</div>
				<textarea id = "speech-1503" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1503">
					<img id="start_img-1503" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1503">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1521"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1521" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is an extremely general question. What code you will use will depend on the type of "robotic movement" you are attempting to achieve, and what platform you are running the code on.</p>

<p>Let's say you want to control a stepper motor from python running on a Raspberry Pi. Stephen Phillips has written <a href="http://blog.scphillips.com/2012/12/a-python-class-to-move-the-stepper-motor/" rel="nofollow">a nice python class</a> for this purpose. The code was for Python 2.x, but the only changes you need to make to port it to python 3 are to add parenthesis to the print statements and change the backticks to repr() because python 3 has cleaned up the print syntax. See the output of python's 2to3 command below:</p>

<pre><code>@@ -41,10 +41,10 @@
         steps = (steps % self.steps_per_rev)
         if steps &gt; self.steps_per_rev / 2:
             steps -= self.steps_per_rev
-            print "moving " + `steps` + " steps"
+            print("moving " + repr(steps) + " steps")
             self._move_acw(-steps / 8)
         else:
-            print "moving " + `steps` + " steps"
+            print("moving " + repr(steps) + " steps")
             self._move_cw(steps / 8)
         self.step_angle = target_step_angle

@@ -98,7 +98,7 @@
     GPIO.setmode(GPIO.BOARD)
     m = Motor([18,22,24,26])
     m.rpm = 5
-    print "Pause in seconds: " + `m._T`
+    print("Pause in seconds: " + repr(m._T))
     m.move_to(90)
     sleep(1)
     m.move_to(0)
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1521" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1521">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1521" class = 'collapse'>
			</div>
				<textarea id = "speech-1521" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1521">
					<img id="start_img-1521" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1521">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>