<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Python libraries for image processing and feedback control on raspberry pi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1091" class = "post">
			<h2>Question</h2>
			<div id="vote-1091" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1482</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Python libraries for image processing and feedback control on raspberry pi</h2>
<p>I'm building a motion detection and object recognition camera with feedback control for a hexy robot. Fortunately most of the servo control is handled by the analog servo controls and the high-level logic can be implemented in python on a raspberry pi. What's the right combination of python modules to implement:</p>

<ol>
<li>a daemon/service to trigger and execute image capture and processing</li>
<li>a daemon/service to regularly update the hexy with the latest motion plan and servo setpoints</li>
<li>the image processing for recognition and tracking of objects from the webcam</li>
</ol>

<p>I'm currently using python-daemon for the services and comparing the various pypi opencv libraries to see if any of them look promising. Anyone have experience with these on a raspberry pi or ARM processor in a robotics application? </p>

<ul>
<li>remotecv                  - remotecv is an OpenCV server for face recognition</li>
<li>ctypes-opencv             - ctypes-opencv - A Python wrapper for OpenCV using ctypes</li>
<li>pyopencv                  - PyOpenCV - Boost.Python and NumPy</li>
<li>opencv-cython             - An alternative OpenCV wrapper</li>
<li>CVtypes                   - Python OpenCV wrapper using ctypes</li>
<li>Tippy                     - another Toolbox for Image Processing, based on OpenCV</li>
</ul>

<p>These each depend on a deep list of low-level libraries and/or compilers like Boost->numpy->gfortran or cython->gcc or ctypes. I'm concerned about compatibility and performance of these lowlevel libraries on Raspbian and an ARM processor.</p>

<p>Anyone with a known working architecture for image processing and real-time control in python on an ARM processor will get their answer upvoted and/or accepted.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1091" data-toggle = "popover">
				<p>user name : hobs</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-1091">{'python': 5, 'None': 0, 'kinematics': 5, 'raspberry-pi': 5, 'real-time': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1091">Load Comments</button></br>
			<div id = "commentsection-1091" class = 'collapse'>
			<div id = "comment-2527" class = "comment">
				<p>Are you asking whether such libraries exist, or do you have specific problems with openCV (in terms of performance, or otherwise)?</p>
			</div>
			<div id = "comment-2528" class = "comment">
				<p>I'm concerned about the libraries that support the various openCV python modules (cython, jython) and their suitability for an ARM processor. Will list them in Q above.</p>
			</div>
			</div>
				<textarea id = "speech-1091" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1091">
					<img id="start_img-1091" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1091">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1095"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1095" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You could just <a href="http://eduardofv.com/read_post/185-Installing-OpenCV-on-the-Raspberry-Pi" rel="nofollow">install OpenCV on a Raspberry Pi board</a> and run your own performance tests.  What counts as "real-time control" and image processing will depend on your specific application, so if OpenCV can't handle it then you should post another question with more concrete performance requirements.</p>

<p>A colleague of mine says that:</p>

<blockquote>
  <p>OpenCV runs fine [on a Raspberry Pi], and is easy to install (sudo apt-get install libopencv-dev). I found the board quite capable and not far behind performance of the Beagle Board. As an example, Apriltags (<a href="http://people.csail.mit.edu/kaess/apriltags/" rel="nofollow">http://people.csail.mit.edu/kaess/apriltags/</a>) runs at 3.5fps at 320x240 from a USB camera</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1095" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1095">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1095">Load Comments</button></br>
			<div id = "commentsection-1095" class = 'collapse'>
			<div id = "comment-2534" class = "comment">
				<p>Yes, the compiled OpenCV lib is likely as efficient as I can hope for. But I'm still holding out hope that someone has used one of the *python* modules I mentioned (on an ARM processor) and can vouch for it, or tell me I'm barking up the wrong tree with this architecture.</p>
			</div>
			</div>
				<textarea id = "speech-1095" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1095">
					<img id="start_img-1095" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1095">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>