<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Q Learning And Kohonen Maps For Line Follower Robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10350" class = "post">
			<h2>Question</h2>
			<div id="vote-10350" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 113</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Q Learning And Kohonen Maps For Line Follower Robot</h2>
<p>I'm trying to build a line follower robot and I'm interested in predicting the curves on the track.
I have 8 binary sensor array(qre1113).
My goal is to make a system that it can generalize what it learned about the curves and give me predictions about where should be at the line to pass it as fast as possible.</p>

<p>How can I integrate a system like Q learning and how can I train it?
And also how can I combine this system with a Type C PID controlller ?</p>

<p><a href="https://github.com/michalnand/motoko_after_math_linefollower/blob/master/doc/ossconf_2015_paper/paper.pdf" rel="nofollow">There is a paper about it ot you are willing to explain</a></p>

<p>This is a important project for me and i am kinda running on clock so quick help would be appreciated</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10350" data-toggle = "popover">
				<p>user name : Ege Keyvan</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-10350">{'None': 0, 'two-wheeled': 4, 'differential-drive': 5, 'machine-learning': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10350">Load Comments</button></br>
			<div id = "commentsection-10350" class = 'collapse'>
			<div id = "comment-18688" class = "comment">
				<p>You're asking (1) How to implement a neural network, (2) How to train it, and (3) How to use it in conjunction with a PID controller. I've left this question open in the spirit of letting [borderline questions stay open](http://meta.robotics.stackexchange.com/q/1315/9720), but you have to remember that this is a site of volunteers. That is, someone has to find your question, take time to answer it, and *know enough* to answer it. If your question were about batteries then you'd have an answer already. Neural networks are an advanced topic; I'm not surprised you don't have an answer yet.</p>
			</div>
			<div id = "comment-18689" class = "comment">
				<p>I personally have asked two questions here - both about the Rigid Body Dynamics Library. The [first](http://robotics.stackexchange.com/q/7278/9720) was open for over a month before the guy that wrote the RBDL answered it! I had a [follow-up question](http://robotics.stackexchange.com/q/7573/9720) I asked the next day, and that was never answered. Point is - when your topics get advanced enough, the pool of people qualified to give answers becomes so small that you're better off contacting an author directly than hoping a question gets answered here, and the paper you link gives contact info.</p>
			</div>
			<div id = "comment-18690" class = "comment">
				<p>Thank you very much for the advice i am updating the link ASAP</p>
			</div>
			</div>
				<textarea id = "speech-10350" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10350">
					<img id="start_img-10350" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10350">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>