<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter frame design
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6999" class = "post">
			<h2>Question</h2>
			<div id="vote-6999" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 394</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter frame design</h2>
<p>Quadcopter frames seem to consistently follow the same X design. For example:</p>

<p><a href="https://i.stack.imgur.com/IpaTl.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/IpaTlm.png" alt="Quadcopter X Frame"></a></p>

<p>I'm curious to know why that is. It certainly seems like the most efficient way to use space but is it the only frame design that would work for quadcopters?</p>

<p>For instance, would a design like this work?</p>

<p><a href="https://i.stack.imgur.com/cMDxM.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/cMDxMm.png" alt="Quadcopter O Frame"></a></p>

<p>Why or why not?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6999" data-toggle = "popover">
				<p>user name : dalton</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-6999">{'quadcopter': 2, 'None': 0, 'design': 2, 'frame': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6999">Load Comments</button></br>
			<div id = "commentsection-6999" class = 'collapse'>
			<div id = "comment-9974" class = "comment">
				<p>mechanical inconvenient.</p>
			</div>
			<div id = "comment-10020" class = "comment">
				<p>camera ships especially follow that shape to give a central mount point to balance the heavy weight without having to correct for inertia of a heavy item on one side.  However, racing quads tend to use the H config more, with a central rail.  That design allows for better weight distribution with an FPV cam up front.</p>
			</div>
			<div id = "comment-10036" class = "comment">
				<p>That would still work, yes. As long as the propellers are in the right position.</p>
			</div>
			<div id = "comment-10533" class = "comment">
				<p>five people bothered to answer this, even though only 2 thought this was a decent question?</p>
			</div>
			</div>
				<textarea id = "speech-6999" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6999">
					<img id="start_img-6999" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6999">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7000"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7000" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A frame in that configuration or any other witch holds the props in a square without being unbalanced would work, the reason that most people do it with cross bars is because the FC batteries and ESCs must go somewhere. For your proposed solution you would have to balance all of that equipment around the ring running power and control lines all around possible causing interference and inefficiencies. Not to say it doesn't or couldn't work, but it will not be ideal. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7000" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7000">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7000">Load Comments</button></br>
			<div id = "commentsection-7000" class = 'collapse'>
			<div id = "comment-9973" class = "comment">
				<p>The PIDs would compensate for any unbalance...</p>
			</div>
			<div id = "comment-9975" class = "comment">
				<p>They would up to a point, if say one side is 2x times as heavy as the other side then the props on one side would need to run twice as fast giving you less maneuvering overhead and possibly difficulty moving in one direction. but if it was all mostly balanced and you had everything setup properly there is no reason why it would not work.</p>
			</div>
			</div>
				<textarea id = "speech-7000" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7000">
					<img id="start_img-7000" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7000">Comment</button>
			<br><div id = "ans-7007"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7007" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As it has been said in other answers it would still work any other configurations. But the X is practical for several reasons:</p>

<ul>
<li><p>having a centre point adding the electronics, battery, etc. These add a lot of weight so it's better to have them in the centre, otherwise your quad will spend a lot of energy trying to remain horizontal.</p></li>
<li><p>when adding a camera, the frame is not in the field of view.</p></li>
<li><p>there is something cool about the X... ;-)</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7007" data-toggle = "popover">
				<p>user name : dm76</p>
				<p> user reputation : 245</p>
				<p class = "tagcontent" id = "usertaginfo-7007">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7007" class = 'collapse'>
			</div>
				<textarea id = "speech-7007" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7007">
					<img id="start_img-7007" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7007">Comment</button>
			<br><div id = "ans-7026"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7026" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To answer your questions directly, the X-shape is not the only design that will work.  There are many variations of frame design around a number of rotors that can range from 3 to (in some cases) 8.  </p>

<p><a href="http://www.personal-drones.net/wp-content/uploads/2013/10/SFC4410_ASSEMBLED.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/E5iCNm.png" alt="enter image description here"></a></p>

<p>Since it hasn't been mentioned in the other answers, I want to point out that perhaps the biggest reason for the X shape is to keep the weight in the center, <a href="https://robotics.stackexchange.com/a/251/350">which decreases the moment of inertia of the vehicle</a> -- the vehicle will pitch and roll more easily in response to the thrust.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7026" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7026">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7026">Load Comments</button></br>
			<div id = "commentsection-7026" class = 'collapse'>
			<div id = "comment-10522" class = "comment">
				<p>+1 for reduces moment of inertia. I don't think enough people understand it or its impact on performance. Lower moments of inertia give faster accelerations for the same torque, so twisting motions (like you would use to stabilize or position the craft) become more responsive.</p>
			</div>
			<div id = "comment-10525" class = "comment">
				<p>I wanted to add that a decreased moment of inertia means less power expended on maneuvering, but I couldn't find a study that quantified it.</p>
			</div>
			<div id = "comment-10526" class = "comment">
				<p>You don't need a study; it's supported by physics. Torque required to accelerate is given by $\tau_{accel} = I_{structure} \alpha$, where $\tau_{accel}$ is the torque required to accelerate, $\alpha$ is the acceleration, and $I_{structure}$ is the moment of inertia for the craft. The power expended is given by $P=\tau \omega$, where $\omega$ is the rotational speed. For a given acceleration (implying also a given rotational speed), a lower moment of inertia lowers torque requirements, which in turn lowers the power expended.</p>
			</div>
			<div id = "comment-10527" class = "comment">
				<p>Also, a quadcopter doesn't have any means to produce lateral thrust during level operation. It produces lateral thrust by rotating, creating an off-vertical thrust vector. The horizontal component accelerates the craft to a desired speed, at which point the craft rotates again for a vertical thrust. When the target position is near the craft rotates, decelerates, rotates again. All of this happens very quickly, very frequently, much more so than you would change altitude. All of the rotations add up, so anything you could do to reduce the moment of inertia would yield gains on flight time.</p>
			</div>
			<div id = "comment-10528" class = "comment">
				<p>Indeed, qualitatively the effect is obvious.  But like I said, I was looking for something more quantitative -- showing how sensitive the power usage is to the moment of inertia.  It's definitely worth putting the weight in the center, but how much benefit is there to tightly optimizing the center?  You can calculate the power usage difference from simple physics, but that won't tell you how much flight time is devoted to pitch and roll actions.</p>
			</div>
			</div>
				<textarea id = "speech-7026" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7026">
					<img id="start_img-7026" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7026">Comment</button>
			<br><div id = "ans-7371"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7371" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Any frame design that:</p>

<ul>
<li>Is not too heavy</li>
<li>Does not flex too much</li>
<li>keeps the motors the same distance apart when measured diagonally(to use default x or + motor layouts)</li>
<li>can fit all required equipment</li>
<li>allows the flight controller board to be mounted in the centre</li>
</ul>

<p>There are many other frame designs like the V-tail or dead cat that require you to use different motor mix settings.</p>

<p>Also you may want to look into H frame designs, they are relatively simple, and easy to repair.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7371" data-toggle = "popover">
				<p>user name : GJH105775</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-7371">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7371" class = 'collapse'>
			</div>
				<textarea id = "speech-7371" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7371">
					<img id="start_img-7371" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7371">Comment</button>
			<br><div id = "ans-7376"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7376" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Those two designs you posted are identical as far as the placement of propellers goes, so yes, they would both work, and with exactly the same flight electronics. </p>

<p>The second ring design though, uses approximately twice as much material for the frame hence it will be heavier, while in practice you'd probably want to minimize the weight of the airframe. There doesn't seem to be a convenient place to mount a central flight computer, but I'm sure a little creativity could lead to a ring design that is practical.</p>

<p>Here's a slightly different configuration for a quadcopter (called V-tail) that seems to be gaining popularity. It would need slightly different logic.</p>

<p><img src="https://i.stack.imgur.com/2sC2f.jpg" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7376" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-7376">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7376" class = 'collapse'>
			</div>
				<textarea id = "speech-7376" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7376">
					<img id="start_img-7376" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7376">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>