<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadrocopter build - Do these parts look fine?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2631" class = "post">
			<h2>Question</h2>
			<div id="vote-2631" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 316</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadrocopter build - Do these parts look fine?</h2>
<p>I am completely brand new to quadrocopter building. I am currently about to start building a Quad. I have done a little bit of research and was thinking of buying the following parts:</p>

<ul>
<li>KK2.1 Hobbyking Flight Controller</li>
<li>Turnigy H.A.L Quadcopter Frame</li>
<li>4 x NTM Prop Drive    35-30 1100kv / 380w</li>
<li>Turnigy 9X 9CH</li>
<li>Turnigy Plush 40A ESC</li>
<li>Slow Fly Prop Left</li>
<li>Slow Fly Prop Right</li>
<li>Quad Power Dist Board</li>
<li>Turnigy 5Ah 3S25C LiPo</li>
</ul>

<p>What do you think of these parts/Do you have any complete builds with instructions that you would recommend instead?</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2631" data-toggle = "popover">
				<p>user name : JosephGarrone</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-2631">{'quadcopter': 0, 'None': 0, 'sensors': 0, 'motor': 0, 'multi-rotor': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2631" class = 'collapse'>
			</div>
				<textarea id = "speech-2631" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2631">
					<img id="start_img-2631" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2631">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2655"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2655" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since your frame is about (220g + other parts' weight), you need to make sure that your 4 motors give you a combined thrust of atleast 100 g more than, just to get off the ground and maneuver. Anything greater than that is good. <a href="http://aeroquad.com/showthread.php?1048-Calculating-motor-thrust" rel="nofollow">(Thurst Calculator)</a>. Just looking at the numbers, I think it should work out fine.</p>

<p>You battery amps * burst C / constant C should be greater than the motor amp pull * 4 (using same units, mAh or Ah).</p>

<p>Your ESC amp rating should be higher than the Max current pull of a motor (which it looks to be).</p>

<p>Propellers look OK. Make sure their inner diameter matches motor shaft diameter, else buy adapters.</p>

<p>Rest all looks good to me.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2655" data-toggle = "popover">
				<p>user name : Anshul</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-2655">{'None': 10, 'irobot-create': 2, 'microcontroller': 0, 'openni': 1, 'kinect': 2, 'ros': 1, 'arm': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2655" class = 'collapse'>
			</div>
				<textarea id = "speech-2655" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2655">
					<img id="start_img-2655" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2655">Comment</button>
			<br><div id = "ans-4289"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4289" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>EDIT: Sorry, didn't see that this was such an old question, I'm used to Stack Overflow where the first page of questions spans several minutes instead of several months!</p>

<p>The DJI Naza Flamewheel F450 is a popular kit, I am building one. You can get it at a bunch of different places online, such as <a href="http://heli-heli.com/items/quad-copters/dji-innovations/dji-flame-wheel-f450-arf-kit-includes-motors-esc-propellers-dji-fw450-detail.htm" rel="nofollow">here</a>. It includes the airframe, motors, ESCs, and props, and because they are from the same kit they are pretty much guaranteed to be compatible.</p>

<p>You will have to source the remaining parts yourself, i.e. the battery, Tx/Rx, and flight controller. Your battery and Tx look fine for the Flamewheel F450 kit, and I can't comment on the Hobbyking FC unit because I have no experience with it (I use the DJI Naza-M Lite).</p>

<p>Also, don't forget the LiPo battery charger!</p>

<p>Hope this helps, good luck with your build!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4289" data-toggle = "popover">
				<p>user name : ethguo</p>
				<p> user reputation : 17</p>
				<p class = "tagcontent" id = "usertaginfo-4289">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4289" class = 'collapse'>
			</div>
				<textarea id = "speech-4289" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4289">
					<img id="start_img-4289" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4289">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>