<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter Charging
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8852" class = "post">
			<h2>Question</h2>
			<div id="vote-8852" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 101</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter Charging</h2>
<p>Our thesis is about Multicopter using two batteries wherein the first battery is used and when the power goes out, a switch is placed use to charge the first battery while the second battery is powering the multicopter, the process repeats again and again until all the power of the battery is drained. Is the process possible to achieved?</p>

<p>Edit 1:
Just to clear everything up again. The thesis is about a <strong>Quadcopter</strong> that uses two batteries as its power source. These <strong>two batteries</strong> are attached to a <strong>"switching circuit system"</strong> that will allow one battery to be drained then the quadcopter will be transferred to the other battery. The solar panels serve as the "charger" of whatever battery is in its standby mode (the discharged battery). So while one battery is being used by the quadcopter, one will be connected to a solar panel which will be charging that battery. <em>Once the other battery is drained, the quadcopter will switch to the charged battery.</em> This will continue to go on until both batteries are drained. Is this achievable?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8852" data-toggle = "popover">
				<p>user name : Dale Sebastian</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8852">{'battery': 0, 'quadcopter': 0, 'None': 0, 'power': 0, 'multi-rotor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8852">Load Comments</button></br>
			<div id = "commentsection-8852" class = 'collapse'>
			<div id = "comment-14535" class = "comment">
				<p>A little more description would make your question easier to understand.</p>
			</div>
			<div id = "comment-14544" class = "comment">
				<p>How is the alternate battery charged while the primary is in use?</p>
			</div>
			<div id = "comment-14574" class = "comment">
				<p>With the use of a solar panels attached to the multicopter</p>
			</div>
			<div id = "comment-14594" class = "comment">
				<p>I'd just like to comment that, in order for the solar panels to actually supply a *net power* to the batteries, they must first supply enough power to account for their own weight. Say it takes 1W to keep the solar panel aloft. If the solar panel output is 0.75W, then you are actually draining 0.25W from your system to "charge" the batteries and you would be better off not even putting them on to begin with. The only way to make this "cost" effective is to have solar cells that output more power than is required to keep them aloft.</p>
			</div>
			<div id = "comment-14606" class = "comment">
				<p>Yes this is achievable.</p>
			</div>
			</div>
				<textarea id = "speech-8852" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8852">
					<img id="start_img-8852" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8852">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8853"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8853" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think it would be feasible.</p>

<p>There are multiple examples of <a href="http://www.uav-store.de/copter-komponenten/airbotpower-board/#cc-m-product-10099966693" rel="nofollow">power distribution boards</a> which allow for dual batteries.</p>

<p>If you use such a device, you can leave the multiple input managment to it, while you use a power switch to isolate each battery for charging.</p>

<p>Provided that you use an adequately sized (for your required ampacity) solid-state switch, I would say that your project is realistic.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8853" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8853">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8853">Load Comments</button></br>
			<div id = "commentsection-8853" class = 'collapse'>
			<div id = "comment-14532" class = "comment">
				<p>How about adding up flight simulations (such as Hovering,Emergency Landing) for the Multicopter?</p>
			</div>
			<div id = "comment-14542" class = "comment">
				<p>I don't understand your question. Can you elaborate on it and how it relates to the original question?</p>
			</div>
			<div id = "comment-14573" class = "comment">
				<p>Our thesis is entitled Development of remote-controlled quadrotor with solar recharging and emergency landing capabilities</p>
			</div>
			<div id = "comment-14576" class = "comment">
				<p>I'm sorry, but I still don't understand how a flight simulation relates to live battery switching or how can one add up simulations.</p>
			</div>
			<div id = "comment-14578" class = "comment">
				<p>Emergency landing actually relates to battery since it will occur when the battery is low. It also adds to the actual battery since it will use a more battery consuming quadcopter.</p>
			</div>
			</div>
				<textarea id = "speech-8853" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8853">
					<img id="start_img-8853" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8853">Comment</button>
			<br><div id = "ans-8854"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8854" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The best way to manage power redundancy for autonomous systems is a really interesting topic. </p>

<p>There are two classes of power needed. Flight and processing. Often the power required for flight is much higher than what's needed for processing.</p>

<p>Issue number 1 is that as soon as you introduce redundancy (2 batteries instead of 1) you incur a penalty of extra volume and weight. 1 big battery will hold more energy than two batteries that fill the same mass and volume.</p>

<p>Issue number 2 is that every stage of electronics you add, every DC-DC converter, every MOSFET, will waste some of your power to heat. So it's very possible that the losses from the extra electronics will be too high.</p>

<p>So you have to have a really good reason for using more than one battery. Especially in a flight system where every gram affects performance.</p>

<p>One reason is to keep the processing system alive to avoid the time cost of startup and shutdown, or provide emergency recovery communictations. In this case, using a big battery for flight and a small battery for processing might be advantagous. Make the small battery only just big enough for the shutdown/emergency time and power the processor with the big battery during normal operations.</p>

<p>Another reason would be to allow the vehicle to do an autonomous mechanical change of batteries. Two batteries of the same size makes it cheaper to build and operate a system like this(assuming lots of aircraft and lots of batteries).</p>

<p>Based on my current understanding of your system, which is a battery+solar panel power system with the goal of maximizing a single flight (rather than landing and charging on the ground), it's possible to do what you want to do but more efficient to put the energy from the solar panels directly into the motors and use one big battery. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8854" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8854">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8854">Load Comments</button></br>
			<div id = "commentsection-8854" class = 'collapse'>
			<div id = "comment-14562" class = "comment">
				<p>My idea for that is, that the big battery charges a small accu for the processor as well as powers the motors. So the device can return to exchange the big battery and the processor continues to run. I'd like to have that in e-cars too.</p>
			</div>
			<div id = "comment-14577" class = "comment">
				<p>I like the idea you are suggesting but the current objective of this project is to switch between two batteries of the quadcopter. One of the batteries will be used by the quad, one will be used by the solar panel. Only a few accessories will be used like the emergency landing capability and hovering system.</p>
			</div>
			<div id = "comment-14580" class = "comment">
				<p>Updated answer but your description of your system is not entirely clear so you should improve it if the answers don't seem to be right.</p>
			</div>
			<div id = "comment-14603" class = "comment">
				<p>Based on my current understanding of your system, which is a battery+solar panel power system with the goal of maximizing a single flight (rather than landing and charging on the ground), it's possible to do what you want to do but more efficient to put the energy from the solar panels directly into the motors and use one big battery.

^We already tried to use solar panel directly to the motor but its output can't deliver enough power to turn on the motor</p>
			</div>
			<div id = "comment-14605" class = "comment">
				<p>Do you have initial calculations that show the solar panel will supply a useful amount of power during the flight? How much extra energy do you expect the solar panels to supply? See @chucks point about solar panel weight. (The solar panel does not have to turn the motors on it's own to be useful)</p>
			</div>
			<div id = "comment-14641" class = "comment">
				<p>We are currently testing it, thank you for the advice</p>
			</div>
			</div>
				<textarea id = "speech-8854" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8854">
					<img id="start_img-8854" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8854">Comment</button>
			<br><div id = "ans-8873"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8873" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Would the answer not just be a make-before-break DPDT relay/toggle controlled by whatever (microcontroller, flight controller, etc.) is monitoring battery voltage? If <code>battery voltage</code> is less than <code>preset limit</code> then <code>toggle</code>. If <code>battery voltage</code> is still less than <code>preset limit</code> then <code>power down</code>.</p>

<p>Use make-before-break (MBB) to ensure there's no gap in voltage supply, and DPDT lets you switch two circuits (charging circuit and load circuit). There would be a moment where both batteries are connected, but I don't know that the momentary connection would have any adverse effects. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8873" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8873">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8873">Load Comments</button></br>
			<div id = "commentsection-8873" class = 'collapse'>
			<div id = "comment-14620" class = "comment">
				<p>Can you kindly suggest a microcontroller to use? :)</p>
			</div>
			<div id = "comment-14634" class = "comment">
				<p>Any microcontroller with a digital output can do this. So, any microcontroller.</p>
			</div>
			<div id = "comment-14834" class = "comment">
				<p>Good day! How about using Arduino Uno with same method with this http://www.instructables.com/id/Controlling-AC-light-using-Arduino-with-relay-modu/?ALLSTEPS Will it work?</p>
			</div>
			<div id = "comment-14844" class = "comment">
				<p>@DaleSebastian - Yes, that's the method I described. A (*any*) microcontroller that has a digital output toggles a relay. Just be sure that the relay is make-before-break (MBB) not break-before-make. Make-before-break means that the connection is made to the new circuit *before* the old circuit is disconnected. This can be detrimental to some applications, but the alternative, break-before-make, means the old circuit is disconnected before the new circuit is connected. This would leave your aerial vehicle with no power for the duration of the switchover, which could reset your electronics.</p>
			</div>
			</div>
				<textarea id = "speech-8873" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8873">
					<img id="start_img-8873" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8873">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>