<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadrotor control using ArduIMU
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1221" class = "post">
			<h2>Question</h2>
			<div id="vote-1221" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 796</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadrotor control using ArduIMU</h2>
<p>We are using <a href="http://code.google.com/p/ardu-imu/" rel="nofollow noreferrer">ArduIMU (V3)</a> as our Quadrotor's inertial measurement unit. (we have a separate board to control all motors, not with ArduIMU itself). </p>

<p>As mentioned <a href="http://code.google.com/p/ardu-imu/wiki/Output#Output_Rate" rel="nofollow noreferrer">here</a> , the output rate of this module is only at about 8hz. </p>

<p>Isn't it super slow to control a quadrotor ? I'm asking because as mentioned in <a href="https://robotics.stackexchange.com/a/246/1137">this answer</a> a quadrotor needs at least 200hz of control frequency to easily stay in one spot, and our ESCs is configured to work with 450hz of refresh rate. Any working PID controller I saw before for Quadrotors used at least 200-400hz of control frequency.</p>

<p>I asked similar question before from Ahmad Byagowi (one of the developers of ArduIMU ) and he answered:</p>

<blockquote>
  <p>The arduimu calculates the dcm matrices and that makes it so slow. If
  you disable the dcm output, you can get up to 100 hz gyro, acc and so
  on.</p>
</blockquote>

<p>So, what will happen if I disable DCM from the firmware ? Is it really important ? We did a simulation before and our PID controller works pretty well without DCM.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1221" data-toggle = "popover">
				<p>user name : Michel Gokan</p>
				<p> user reputation : 211</p>
				<p class = "tagcontent" id = "usertaginfo-1221">{'quadcopter': 10, 'None': 6, 'noise': 2, 'arduino': 9, 'pid': 7, 'ardupilot': 2, 'imu': 7, 'esc': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1221">Load Comments</button></br>
			<div id = "commentsection-1221" class = 'collapse'>
			<div id = "comment-5325" class = "comment">
				<p>Micheal Kogan, can you please share with me the code for the Kalman Filter you implemented on ArduIMU? I'll be grateful.</p>
			</div>
			<div id = "comment-5326" class = "comment">
				<p>Actually the problem was 2 things, one Kalman filter and second the ArduIMU non-standard IC for some countries. Me and my friend implemented a new firmware that can eliminate all these problems. Here is the link: https://code.google.com/p/ardu-imu/downloads/detail?name=arduimu_vD.rar&can=2&q=</p>
			</div>
			<div id = "comment-5327" class = "comment">
				<p>Thank you very much for your response. Sir, I implemented this very code without the GPS and I am only getting 50 Hz loop rate.</p>
			</div>
			<div id = "comment-5328" class = "comment">
				<p>Your welcome, I think you need to remove unnecearry parts in your code to make it work faster. Also timing is important. Create a separate question, put your codes and let me know.</p>
			</div>
			<div id = "comment-5330" class = "comment">
				<p>@MichelKogan - Could you edit the information in these comments into either your question or your answer. They look like they might be useful to future visitors, but unlike answers, comments are ephemeral - if they get deleted they are gone forever. Thanks,</p>
			</div>
			</div>
				<textarea id = "speech-1221" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1221">
					<img id="start_img-1221" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1221">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1239"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1239" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I updated ArduIMU's firmware and successfully got 100hz of output without disabling normalization.</p>

<hr>

<p><strong>Update:</strong> </p>

<p>Thanks to Kalman filter firmware of ArduIMU I got up to 180hz of output plus removing all noises.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1239" data-toggle = "popover">
				<p>user name : Michel Gokan</p>
				<p> user reputation : 211</p>
				<p class = "tagcontent" id = "usertaginfo-1239">{'quadcopter': 10, 'None': 6, 'noise': 2, 'arduino': 9, 'pid': 7, 'ardupilot': 2, 'imu': 7, 'esc': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1239">Load Comments</button></br>
			<div id = "commentsection-1239" class = 'collapse'>
			<div id = "comment-11046" class = "comment">
				<p>I know this has been a while, but for Michel Kogan, would you mind posting your latest code that runs at 180hz? ThnkaS</p>
			</div>
			<div id = "comment-11047" class = "comment">
				<p>We already updated the firmware. You can download Michel and Edwin edition from ArduIMU firmware website.</p>
			</div>
			<div id = "comment-11048" class = "comment">
				<p>Thanks but I tried that firmware and the loop timing is still set to 20ms (50 hz) and the X and Y Euler calcs still drift.  It will run consistently at 8ms (125 hz).  But I can't get it to 180 so I assumed you had an update.</p>
			</div>
			</div>
				<textarea id = "speech-1239" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1239">
					<img id="start_img-1239" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1239">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>