<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter Roll, Pitch Fluctuation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4607" class = "post">
			<h2>Question</h2>
			<div id="vote-4607" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 114</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter Roll, Pitch Fluctuation</h2>
<p>For my quadcopter, i turn on the quadcopter while letting it stable on the ground. But i see that the Roll, Pitch fluctuate with the max difference being 15 degree. When i protect the sensor with soft material, then i observe the max difference is around 6 degree. Is this fluctuation for the quadcopter? By the way, i use complementary filter and DCM with scaling factor being 0.8 gyro and 0.2 accel
Thanks in advance!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4607" data-toggle = "popover">
				<p>user name : Tuyen Vo Quang</p>
				<p> user reputation : 72</p>
				<p class = "tagcontent" id = "usertaginfo-4607">{'quadcopter': 5, 'None': 2, 'i2c': 0, 'pid': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4607">Load Comments</button></br>
			<div id = "commentsection-4607" class = 'collapse'>
			<div id = "comment-7381" class = "comment">
				<p>Your drift is high. What is the oscillation period?</p>
			</div>
			<div id = "comment-7382" class = "comment">
				<p>Also what is the frequency of your DCM filter? The accel coefficient looks high (my quadcopter is airworthy and the accel coefficient at 200Hz is 0.005).</p>
			</div>
			</div>
				<textarea id = "speech-4607" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4607">
					<img id="start_img-4607" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4607">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4611"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4611" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What imu combination do you use to measure the roll and pitch? Do you use a fusion algorithm to correct for drift? Personally I think the drift values that you report are far to big.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4611" data-toggle = "popover">
				<p>user name : JR_</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-4611">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4611">Load Comments</button></br>
			<div id = "commentsection-4611" class = 'collapse'>
			<div id = "comment-7224" class = "comment">
				<p>I use DCM algorithm along with complimentary filter. The sensor is MPU9150 which has Accelerometer, Gyroscope and Magnetometer</p>
			</div>
			</div>
				<textarea id = "speech-4611" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4611">
					<img id="start_img-4611" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4611">Comment</button>
			<br><div id = "ans-4615"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4615" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Very nice question , </p>

<p>Kindly check EMF and make sure to isolate the MPU9150 from any EMF and Make sure that it's temperature is Stable and change in the temperature will lead to huge drift in reading regardless the filter you are using </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4615" data-toggle = "popover">
				<p>user name : RoboMan</p>
				<p> user reputation : 84</p>
				<p class = "tagcontent" id = "usertaginfo-4615">{'servomotor': 4, 'None': 6, 'accelerometer': 3, 'pid': 6, 'brushless-motor': 4, 'imu': 3, 'motor': 4, 'sensors': 3, 'gyroscope': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4615">Load Comments</button></br>
			<div id = "commentsection-4615" class = 'collapse'>
			<div id = "comment-7226" class = "comment">
				<p>Can you give me some example of EMF sources that can affect the sensor?</p>
			</div>
			<div id = "comment-7227" class = "comment">
				<p>any lines with current passing near by it, any battery , any metal , and so ..you need to fully isolate it</p>
			</div>
			<div id = "comment-7230" class = "comment">
				<p>Sorry, but how can we isolate it from any source of EMF. Does commercial quad also have to do so!</p>
			</div>
			<div id = "comment-7231" class = "comment">
				<p>I don't know ...</p>
			</div>
			</div>
				<textarea id = "speech-4615" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4615">
					<img id="start_img-4615" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4615">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>