<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter stability vs (PID error signal lag and sample time)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8207" class = "post">
			<h2>Question</h2>
			<div id="vote-8207" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 168</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter stability vs (PID error signal lag and sample time)</h2>
<p>The question I am asking is that, what is the effect on stability of increasing or decreasing both the sample time and lagging of error signal to PID. Does it helps in stability or degrade it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8207" data-toggle = "popover">
				<p>user name : Bilal Ayub</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-8207">{'quadcopter': 6, 'None': 0, 'arduino': 4, 'pid': 5, 'stability': 2, 'esc': 3, 'balance': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8207" class = 'collapse'>
			</div>
				<textarea id = "speech-8207" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8207">
					<img id="start_img-8207" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8207">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8211"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8211" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, a system that is "discrete" will always be less stable, the less samples per time, the less stable it will be.</p>

<p>Imagine you are driving a car. You are only allowed to turn the steering wheel every 10 minutes. Can you keep the car on a curvy road this way?</p>

<p>To expand the example to answer your second question: don't drink and drive.
If your sensors are lagging, your ability to control the car are evidently reduced. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8211" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-8211">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8211">Load Comments</button></br>
			<div id = "commentsection-8211" class = 'collapse'>
			<div id = "comment-13129" class = "comment">
				<p>ok, so the sample rate is proportional to stability; but the sensors on high sensitivity gives more noise while on lower sensitivity(lagging signal) gives less error. So what do to with that. that is: non lagging => noise.
lagging => lesser noise.</p>
			</div>
			</div>
				<textarea id = "speech-8211" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8211">
					<img id="start_img-8211" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8211">Comment</button>
			<br><div id = "ans-8218"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8218" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A PID can provide great control, but it's a very unsophisticated technique -- it only understands error and correction.  The longer you wait between measurements, the larger your error will be each time.  (No surprises here, right?  It's the difference between moving 60 miles every hour and moving 1 mile every minute.)</p>

<p>The best performance that you can get from a PID happens when it runs (1) as fast as your sensor can supply <em>accurate</em> measurements, or (2) as fast as your actuator can make accurate adjustments -- whichever is slower.  If your sensor measurements aren't updating between PID ticks, your PID will overcompensate.  If your actuators aren't updating between PID ticks, you will notice that your PID gains only work for a limited range of the output (e.g. it works fine at 75% thrust but goes crazy at 55% or 95%).  </p>

<p>Regarding accuracy: it may be necessary to average out individual measurements from a noisy sensor, which sacrifices the sample rate.  If that's the case, there really isn't much you can do here except lower your maximum speed.  You can experiment a bit to see how much averaging is sufficient for your application, but you can't really get around the limitations of the hardware itself.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8218" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-8218">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8218">Load Comments</button></br>
			<div id = "commentsection-8218" class = 'collapse'>
			<div id = "comment-13263" class = "comment">
				<p>Could you elaborate that bit in the last line of your second paragraph? About actuators being slower creating limited effective PID range?</p>
			</div>
			<div id = "comment-13264" class = "comment">
				<p>Sure.  Think of the lag as a non-linear effect on your system, similar to [a dead band or a stick-slip cycle](http://blog.opticontrols.com/archives/77).  In that scenario, the $K_d$ component can line up with that lag effect over some range; you can tune as normal and things will appear to work fine.  But when you move out of that range, things will seem to be out of tune again.  There are many, many nonlinear effects to watch out for (like I said, PID is very unsophisticated), but I mentioned this one because it relates to lag.</p>
			</div>
			<div id = "comment-13290" class = "comment">
				<p>Interesting! That makes me want to revisit PID controllers in a more critical and contrasted analysis. Any directions you could recommend?</p>
			</div>
			<div id = "comment-13295" class = "comment">
				<p>Most of what I know comes from hands-on testing, not the literature.  (And with a hardware system that's already set in stone, your options are limited: to slow down the PID frequency, decrease the operating range, or try to improve your actuation model -- usually some hack -- to make things fit what a PID expects.)  I'd look for articles on finding the proper PID frequency for a given system.</p>
			</div>
			</div>
				<textarea id = "speech-8218" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8218">
					<img id="start_img-8218" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8218">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>