<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter trajectory tracking with various headings using attitude controller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14078" class = "post">
			<h2>Question</h2>
			<div id="vote-14078" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 19</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter trajectory tracking with various headings using attitude controller</h2>
<p>I'm working on quadcopter right now. I've successfully implemented position controller for my copter using attitude control. Basically I have attitude PIDs which take position of goal and output the desired attitudes which I then sent to autopilot to execute. </p>

<p>Let's say I have my copter ($\vec{cp}$), previous and current waypoint ($\vec{pwp}$, $\vec{cwp}$) positions, all in local coordinates where 0,0,0, is the starting location of copter. Then I have copter heading $\psi$. From this I want to calculate the desired attitudes roll, pitch and yaw ($\phi_d$, $\theta_d$, $\psi_d$). Here's what I did so far.</p>

<p>Considering these vectors:
$$
\vec{cp} =         \begin{bmatrix}
        cp_x \\
        cp_y \\
        cp_z \\
        \end{bmatrix}
$$</p>

<p>$$
\vec{pwp} =         \begin{bmatrix}
        pwp_x \\
        pwp_y \\
        pwp_z \\
        \end{bmatrix}
$$</p>

<p>$$
\vec{cwp} =         \begin{bmatrix}
        cwp_x \\
        cwp_y \\
        cwp_z \\
        \end{bmatrix}
$$</p>

<p>I calculated target angle $ta$:
$$
ta = atan2(cwp_y - pwp_y, cwp_x - pwp_x)
$$</p>

<p>Then I rotated waypoint coordinates using rotation matrix $R(-ta)$ around z-axis to easily computer roll and pitch error.</p>

<p>$$
R(-ta) =         \begin{bmatrix}
        cos(-ta) &amp; -sin(-ta) &amp; 0 \\
        sin(-ta) &amp; cos(-ta) &amp; 0 \\
        0 &amp; 0 &amp; 1 \\
        \end{bmatrix}
$$</p>

<p>$$
\vec{pwp^R} = R(-ta) \cdot \vec{pwp}
$$
$$
\vec{cwp^R} = R(-ta) \cdot \vec{cwp}
$$</p>

<p>The the pitch and roll errors are simply computed like this:
$$
\theta_{err} = cwp^R_x - pwp^R_x
$$
$$
\phi_{err} = cwp^R_y - pwp^R_y
$$</p>

<p>Then I just use the errors for my attitude PIDs and it works just fine. The problem is that it won't work with different headings. Or at least it's not following the trajectory between 2 waypoints.</p>

<p>How could I solve this issue so that I'm able to change headings and follow the trajectory with that heading using attitude controller?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14078" data-toggle = "popover">
				<p>user name : L4ncelot</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-14078">{'quadcopter': 0, 'None': 0, 'motion-planning': 0, 'pid': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14078" class = 'collapse'>
			</div>
				<textarea id = "speech-14078" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14078">
					<img id="start_img-14078" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14078">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>