<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter configuration
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2227" class = "post">
			<h2>Question</h2>
			<div id="vote-2227" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 325</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter configuration</h2>
<p>I'm building a quadcopter. It will be controlled by a Beaglebone black with several Sensors and a cam.</p>

<p>I new to the quadcopter stuff, therefore it would be nice if someone could have a look at my setup before I buy the parts.</p>

<ul>
<li>Frame: <a href="http://www.hobbyking.com/hobbyking/store/__29600__Hobbyking_X650F_Glass_Fiber_Quadcopter_Frame_550mm.html" rel="nofollow">X650F - 550mm</a></li>
<li>Battery: <a href="http://www.hobbyking.com/hobbyking/store/uh_viewItem.asp?idProduct=20676" rel="nofollow">Turnigy nano-tech 5000mah 4S 25~50C Lipo Pack</a></li>
<li>Motor: <a href="http://www.hobbyking.com/hobbyking/store/__25080__NTM_Prop_Drive_28_30S_800KV_300W_Brushless_Motor_short_shaft_version_.html" rel="nofollow">NTM Prop Drive 28-30S 800KV / 300W Brushless Motor</a></li>
<li>ESC: <a href="http://www.goodluckbuy.com/hobbywing-brushless-esc-4in1-25a-x-4-skywalker-quattro-throttle-hub-for-quadcopter-.html" rel="nofollow">Skywalker 4x 25A Brushless</a></li>
</ul>

<p>This sums up to ~ 2kg. Giving me still some room for about 700g payload.</p>

<p>What do you think? Did I miss something important? Better ideas for some parts?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2227" data-toggle = "popover">
				<p>user name : magu_</p>
				<p> user reputation : 109</p>
				<p class = "tagcontent" id = "usertaginfo-2227">{'quadcopter': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2227">Load Comments</button></br>
			<div id = "commentsection-2227" class = 'collapse'>
			<div id = "comment-4350" class = "comment">
				<p>When you calculated the 700g payload how much margin did you leave?</p>
			</div>
			<div id = "comment-4361" class = "comment">
				<p>@GuySirton. I did change the frame so it will be now around 2.1 kg. with Payload. The max. thrusth should be around 4.3 kg</p>
			</div>
			</div>
				<textarea id = "speech-2227" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2227">
					<img id="start_img-2227" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2227">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2239"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2239" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Looks good to me. You also need:</p>

<ol>
<li>propellers</li>
<li>power distribution board which keeps thing more organised until you make your own PCB.</li>
<li>A Li-Po battery charger with a compatible connector.</li>
<li>Spare parts. (Many propellers, and few motors and ESCs)</li>
</ol>

<p>Also visit <a href="http://ecalc.ch/xcoptercalc.htm" rel="nofollow">xcoptercalc</a> to 'simulate' the parts.</p>

<p>Be careful with the motors since there are some openings at the bottom making it easy for small metal dust to enter the motor. If metallic dust enters the motor, it is almost impossible to detach it from those permanent magnets.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2239" data-toggle = "popover">
				<p>user name : Esk</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-2239">{'None': 23, 'chassis': 2, 'motor': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2239">Load Comments</button></br>
			<div id = "commentsection-2239" class = 'collapse'>
			<div id = "comment-4362" class = "comment">
				<p>Thank you for your answer. I already did some ecalc calculations which seemed to be ok. I'm not sure what you meant with the motor point. I didn't find any brush less motors which are sealed. You mean the motor can get stuck or that the motor cannot be detached from its mounting anymore?</p>
			</div>
			<div id = "comment-4363" class = "comment">
				<p>If metall dust enters, the motor will run but with some friction. The amount of friction is proportional to the size of metall dust. You shouldn't really worry too much about it if you are not going to cut the shafts or work in a metal workshop.</p>
			</div>
			<div id = "comment-4364" class = "comment">
				<p>Well cutting the shaft is gonna be difficult with that version of the motor... Thank you for you're explenation.</p>
			</div>
			</div>
				<textarea id = "speech-2239" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2239">
					<img id="start_img-2239" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2239">Comment</button>
			<br><div id = "ans-2241"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2241" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should have a prop balancer like <a href="http://www.hobbyking.com/hobbyking/store/__19292__Turnigy_Magnetic_Precision_Prop_Balancer.html" rel="nofollow">this</a> which will ensure that propellers are well balanced. Also you should have a Lipo alarm like <a href="http://www.hobbyking.com/hobbyking/store/__18588__Hobbyking_2_8S_Cell_Checker_with_Low_Voltage_Alarm.html" rel="nofollow">this</a> which can warn you when you are low on battery during fight.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2241" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-2241">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2241">Load Comments</button></br>
			<div id = "commentsection-2241" class = 'collapse'>
			<div id = "comment-4368" class = "comment">
				<p>Thank you for the tip for the balancer. I'll defenetly have a look. For the battery. Do you think it is enough to look at the overall voltage of the battery (the BBB has a analog in) or should I survey all the cells induvidually?</p>
			</div>
			<div id = "comment-4370" class = "comment">
				<p>It is always good to monitor all the cells in lipo as there is always a chance of unbalance of voltage between cells. If you are going to use analog in of BBB then make sure it has proper current protection as lipo can supply lots of current.</p>
			</div>
			<div id = "comment-4371" class = "comment">
				<p>Hm, I would have thought about a simple voltage splitter (2 Resistors) - maybe together with a shotky diode in order to protect the BBB. Shouldn't this be enough?</p>
			</div>
			<div id = "comment-4372" class = "comment">
				<p>I use [this](http://www.rctimer.com/product_861.html) sensor which gives me analog voltage and current input to 3.3V. And controller is also protected as I am not connecting lipo directly to controller.</p>
			</div>
			<div id = "comment-4373" class = "comment">
				<p>This is a nice tool. I'll put it onto my shoping list, I wasn't really thinking about a ampere meter till now.</p>
			</div>
			</div>
				<textarea id = "speech-2241" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2241">
					<img id="start_img-2241" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2241">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>