<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter Propeller size + Motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6906" class = "post">
			<h2>Question</h2>
			<div id="vote-6906" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 168</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter Propeller size + Motor</h2>
<p>i would like to build quad that uses bigger propellers like 15" . My question is what kind of motor shall i use ? Low or high KV? Do all motors support this kind of propellers ? Will they burn because of it ?I found they say CW and CCW motors does that mean you can't set way they spin ? I'm totally new in this so thank you for answer .</p>

<p><a href="http://www.ebay.com/itm/GARTT-ML3508-415KV-Brushless-Motor-For-Multirotor-Quadcopter-Hexa/261535221935?_trksid=p2047675.c100005.m1851&amp;_trkparms=aid%3D222007%26algo%3DSIC.MBE%26ao%3D1%26asc%3D29266%26meid%3Da4bdb746beac401b8a4ca982730d114e%26pid%3D100005%26rk%3D2%26rkt%3D6%26sd%3D261640837515&amp;rt=nc" rel="nofollow">okey so given this one it should be able to hold 15" prob since it's in description</a>
shall i get 12A ESC since on 15 size prob they used max 8.8 or shall i get 25A ESC cause max continous is 20 ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6906" data-toggle = "popover">
				<p>user name : Mirne</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-6906">{'quadcopter': 5, 'brushless-motor': 5, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6906" class = 'collapse'>
			</div>
				<textarea id = "speech-6906" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6906">
					<img id="start_img-6906" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6906">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6917"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6917" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Information you provide are a bit short.
This depends a lot on the power of the motors. See my answer on this question: <a href="https://robotics.stackexchange.com/questions/4463/choosing-motor-for-a-tricopter">Choosing motor for a tricopter</a></p>

<p>If you choose some a motor big enought for your application then it won't burn regardless of the prop size. If it is too small, it will burn regardless of the prop size ;)</p>

<p>Usually the motor manufactures provide you with a test sheet, something like this: <a href="http://www.funtobuyonline.com/media/wysiwyg/920_datas.jpg" rel="nofollow noreferrer">http://www.funtobuyonline.com/media/wysiwyg/920_datas.jpg</a> <br>
Which is one for your motor. This might be japanese (not sure) but the columns are in this case from left to right: <br>
Voltage,Prop Size, Power, Current, Power, Thrust, RPM, Efficency 
<br>If the Power at 100% exceed the motor specification then the motor will burn... pretty simple</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6917" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-6917">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6917" class = 'collapse'>
			</div>
				<textarea id = "speech-6917" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6917">
					<img id="start_img-6917" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6917">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>