<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter accelerating or not
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8006" class = "post">
			<h2>Question</h2>
			<div id="vote-8006" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter accelerating or not</h2>
<p>I am on the project quadcopter. So i have to use PID for stabalizing it. I think i am going wrong because i am adding the pid output to motors thrust. While the motors thrust means to be its acceleraTion. The reason of my previous statment is that when the quad is static in air(not goin up nor below), that time the thrust is enough to cancel gravity, means thrust is negative gravity, that is acceleration. So if i add pid output to thrust that is acceleration of motors, it will be wrong. I have to add pid to speed of motors, which is not visible. My quad is not stabalizing the reason i see is this, that i am adding pid to acc, while it should be added to speed(virtually). What should i do. Should i derivate the pid output and add to thrust? <a href="https://mbasic.facebook.com/photo.php?fbid=1545278952394916&amp;id=100007384772233&amp;set=a.1447457675510378.1073741830.100007384772233&amp;refid=17&amp;_ft_=top_level_post_id.1545278952394916%3Athid.100007384772233%3A306061129499414%3A69%3A0%3A1443682799%3A-1394728329505289925&amp;__tn__=E" rel="nofollow">https://mbasic.facebook.com/photo.php?fbid=1545278952394916&amp;id=100007384772233&amp;set=a.1447457675510378.1073741830.100007384772233&amp;refid=17&amp;<em>ft</em>=top_level_post_id.1545278952394916%3Athid.100007384772233%3A306061129499414%3A69%3A0%3A1443682799%3A-1394728329505289925&amp;<strong>tn</strong>=E</a></p>

<p><a href="https://mbasic.facebook.com/photo.php?fbid=1545281645727980&amp;id=100007384772233&amp;set=a.1447457675510378.1073741830.100007384772233&amp;refid=17&amp;__tn__=E" rel="nofollow">https://mbasic.facebook.com/photo.php?fbid=1545281645727980&amp;id=100007384772233&amp;set=a.1447457675510378.1073741830.100007384772233&amp;refid=17&amp;<strong>tn</strong>=E</a></p>

<p>This is the drawing of my circuit. I am giving the current from one esc to whole of the circuit. Other esc's has only pwm wire connected to circuit.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8006" data-toggle = "popover">
				<p>user name : Sulaiman Ayub</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8006">{'quadcopter': -2, 'None': 0, 'battery': 0, 'pid': -2, 'lithium-polymer': 0, 'balance': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8006">Load Comments</button></br>
			<div id = "commentsection-8006" class = 'collapse'>
			<div id = "comment-12761" class = "comment">
				<p>Did you take any of the advice given [on the other question you asked about this](http://robotics.stackexchange.com/questions/7968/what-pid-values-should-i-keep)? Can you post a link to **all** of your code and the data sheets for all of your parts? Can you post a picture that shows where all of your sensors are located on your quadcopter? You [already posted one picture](http://i.stack.imgur.com/3d4Jm.jpg), but in that picture it looks like you have IC's wired to your quadcopter that are on the ground. I just want to see where everything is to ensure your attitude sensor isn't on the ground.</p>
			</div>
			<div id = "comment-12762" class = "comment">
				<p>I am asking that the propellers and motors produce acceleration. That is the motors at thrust x will have height equation as {height+=speed and speed += thrust.}  And it is not like this that{height += thrust}. Tell me which of the two happens in the motors. If 1st statment is true then i should no be adding pid to thrust ,but i should add change in pid to thrust. Help</p>
			</div>
			<div id = "comment-12771" class = "comment">
				<p>It doesn't matter what effect thrust has on height. If you send a reference height to your controller, and you provide a height feedback to your controller, then the controller will output the correct motor signal. If you are having issues then you are either (1) not providing it the correct reference signal, (2) not providing it the correct feedback signal, (3) not providing the correct gains, and/or (4) not implementing the controller correctly. Given the last question you asked, I doubt you are providing the correct gains and I also don't think you have your system configured correctly.</p>
			</div>
			<div id = "comment-12773" class = "comment">
				<p>The problems/limitations i face are below;                1. When i use a floating variable the microcntlr doesnt start. So i cant use kp or ki or kd in floats. What will i do for that.  2. I only use the acceleromter at 2g for my error signal. So it gives output half of full range at full error. Which is 16280. So the error signal is ranging from -16280to +16280. So  the pid will try to correct this error. And give output of this scale. BUT BUT,,,,,, my microcontrl accepts a value ranging from 0 to 42, to set speed from 0 to max respectively. So i will have to add pid to speed.</p>
			</div>
			<div id = "comment-12774" class = "comment">
				<p>NOW the error range is 0 to 16380, and my speed range is 0 to 42. Provide a solution.</p>
			</div>
			<div id = "comment-12775" class = "comment">
				<p>Give me the code for pid ocntroller that is properly scaled to that range</p>
			</div>
			<div id = "comment-12776" class = "comment">
				<p>Again, I have no idea why your microcontroller won't run floats, or why you can only use 43 values for speed. I don't know anything about your accelerometer. Please post everything I asked for above - code, labeled picture, and data sheets.</p>
			</div>
			<div id = "comment-12777" class = "comment">
				<p>My accelerm is mpu6050, microtlr is 8051 8bit. 1 is main 8051 controlr that controls other 4 8051's . Those 4 controls the esc. The main 8051 has 4ports, 8bit all. In every port 6bits/pins are dedicated to a 8051. So remained pins are 32-24= 8 pins. In these pins 4 are for reciever, and 2 are for mpu6050 i2c interface. I have 2 pins free now,. So thats why i use 42 values cause bits are 6.</p>
			</div>
			</div>
				<textarea id = "speech-8006" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8006">
					<img id="start_img-8006" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8006">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8007"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8007" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The propellers convert a rotary speed into thrust. You should still be controlling the motor speed. The un-modified output of a PID controller should be the input to your plant/system. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8007" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8007">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8007">Load Comments</button></br>
			<div id = "commentsection-8007" class = 'collapse'>
			<div id = "comment-12763" class = "comment">
				<p>Thrust is force so it has acceleration, that is it will increase the speed with time and height will increase at 2nd order.</p>
			</div>
			<div id = "comment-12770" class = "comment">
				<p>@SulaimanAyub Height has nothing to do with stability. The controller is a controller - it will automatically adjust the motor signal until the output matches the input. See my comment on your question.</p>
			</div>
			</div>
				<textarea id = "speech-8007" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8007">
					<img id="start_img-8007" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8007">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>