<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter Props? Wood vs Plastic vs Carbon Fiber
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2418" class = "post">
			<h2>Question</h2>
			<div id="vote-2418" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2327</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter Props? Wood vs Plastic vs Carbon Fiber</h2>
<p>All the pro FPV builds and the more expensive quads don't seem to be using plastic props. Any reason for this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2418" data-toggle = "popover">
				<p>user name : Matt</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-2418">{'quadcopter': 5, 'stability': 2, 'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2418">Load Comments</button></br>
			<div id = "commentsection-2418" class = 'collapse'>
			<div id = "comment-5443" class = "comment">
				<p>I have since switched all my multirotor aircraft back over to good quality plastic props and I definitely get better flight times with them.</p>
			</div>
			</div>
				<textarea id = "speech-2418" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2418">
					<img id="start_img-2418" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2418">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2429"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2429" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Plastic and wood props wear and tear over the time while carbon fiber props have very less tendency to wear and tear hence are more durable ad last long. I have seen plastic props breaking in flight as it was used for long duration. So if you are making expensive setup the it is always better to use carbon fiber props as their strength is far better than plastic or wooden props.</p>

<p>Also carbon fiber props are more rigid than plastic props. Hence you can have better efficiency out of carbon fiber props which will result in less power consumption resulting in more flight time which is a very crucial factor while designing and build qauds or any multirotor for FPV.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2429" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-2429">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2429">Load Comments</button></br>
			<div id = "commentsection-2429" class = 'collapse'>
			<div id = "comment-5442" class = "comment">
				<p>Sorry but can you please point me to the test data proving this remark? I have been monitoring the flight times and efficient with both good quality plastic props and CF props and I find I get less flight time from CF props.

This prompted me to look further into where this theory came from the CF props are better. Was it simply to have stronger more damage resistant props? Was it just from an assumption CF is so good in many other areas it should automatically be a given it would be the best material for multirotor aircraft props as well and just becasue its rigid?</p>
			</div>
			<div id = "comment-5444" class = "comment">
				<p>So far I have drawn a blank to find any significant test data to support this claim other than people make a comment without foundation on forums like this one.

I have never seen any significant test data to prove they are more efficient or not either way. But just going on my own observations and experience with using the exact same aircraft, I actually get less flight times using CF props. I have also now seen others starting to find the same.</p>
			</div>
			</div>
				<textarea id = "speech-2429" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2429">
					<img id="start_img-2429" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2429">Comment</button>
			<br><div id = "ans-9439"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9439" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Maybe this would help. The flex is just a twist. The twist causes a lower angle of attack, progressively worsening the further out the blade you travel and as the revolutions are increased (where and when you're getting your most lift). It's the point hitting the air hardest. </p>

<p>Less angle of attack means less bite, resulting in less lift and less response (this is also the reason variable pitch works). The denser the air, the less angle of attack needed and vice versa. Also the twisted blade takes less power to rotate. Flatter blades give less lift and less response but will increase the flight times due to less drag on the twisted prop. A prop is just a wing that rotates - drag and lift. </p>

<p>The tests were done long before quads through. Sikorsky might have been the first to do wind tunnel and lift capabilities tests I think if you would like another place to search. I hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9439" data-toggle = "popover">
				<p>user name : Mike Hendrix</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9439">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9439" class = 'collapse'>
			</div>
				<textarea id = "speech-9439" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9439">
					<img id="start_img-9439" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9439">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>