<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter propeller physics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9532" class = "post">
			<h2>Question</h2>
			<div id="vote-9532" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 246</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter propeller physics</h2>
<p>In propellers as the airspeed increases thrust decreases. Is the air speed component taken as a vector quantity perpendicular to the propeller? If thats true the its quiet easy to visualize in case of airplanes but for quadcopters will it be  <strong>"copter_airspeed * sin(copter tilt)"</strong>? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9532" data-toggle = "popover">
				<p>user name : nik0987</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-9532">{'quadcopter': 3, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9532">Load Comments</button></br>
			<div id = "commentsection-9532" class = 'collapse'>
			<div id = "comment-16849" class = "comment">
				<p>What is your question? Where are you getting `copter_airspeed` from? Why would this not be the velocity of the quadcopter normal to the plane of the propeller?</p>
			</div>
			<div id = "comment-16859" class = "comment">
				<p>advance ratio of propeller is a function of velocity of air speed in the propeller. According to my understanding in case of airplane it is perpendicular to the surface area of the propeller and equal to speed of aircraft assuming surrounding air velocity is zero. But in case of quadcopters horizontal speed of quadcopter is at angle to propeller so what component of velocity sholud be used to calculate advance ratio?</p>
			</div>
			<div id = "comment-16863" class = "comment">
				<p>Same as this question (though Robotics is probably the best place for it): http://aviation.stackexchange.com/questions/26547/propeller-physics</p>
			</div>
			<div id = "comment-16864" class = "comment">
				<p>You may find the following helpful (older question here, covering some of the material you need): http://robotics.stackexchange.com/questions/2704/quadcopter-forward-speed</p>
			</div>
			</div>
				<textarea id = "speech-9532" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9532">
					<img id="start_img-9532" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9532">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9533"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9533" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have a look at <a href="https://www.google.es/url?q=http://seniorphysics.com/physics/helicopterEEI.pdf&amp;sa=U&amp;ved=0ahUKEwjpqLr09ejLAhWM8RQKHdRgBzkQFggNMAA&amp;usg=AFQjCNFbcQj3zxhh6eevn_qa5CQRQ6C3EA" rel="nofollow">investigating flight with toy helicopter</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9533" data-toggle = "popover">
				<p>user name : galtor</p>
				<p> user reputation : 348</p>
				<p class = "tagcontent" id = "usertaginfo-9533">{'control': 2, 'quadcopter': 5, 'None': 14, 'reinforcement-learning': 1, 'pid': 4, 'simulation': -3, 'machine-learning': 1, 'untagged': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9533">Load Comments</button></br>
			<div id = "commentsection-9533" class = 'collapse'>
			<div id = "comment-16858" class = "comment">
				<p>So to summarize: when quadcopter is moving forward Thrust of propeller is used for 1)  balancing the weight and 2) moving forward. "sine" component of forward velocity will be used for calculating the advance ratio of the propeller. Is this correct?</p>
			</div>
			<div id = "comment-16879" class = "comment">
				<p>Yes, that's right. The model I passed you is only valid for toy quadrotor, which means that rotors are not formed by deformable blades. You cannot make the same assumption with real scale helicopters</p>
			</div>
			</div>
				<textarea id = "speech-9533" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9533">
					<img id="start_img-9533" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9533">Comment</button>
			<br><div id = "ans-9540"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9540" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can you draw a picture of what you're asking for? I think you may be thinking about the problem wrong (no offense). The big problem (I think) is that <em>quadcopter's propellers are not oriented the same as an aircraft's</em>, which means that the velocity direction for calculating advance ratio is not the same for the two types of aircraft.</p>

<p><a href="https://i.stack.imgur.com/gYEEV.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/gYEEV.png" alt="Aircraft directions vs Prop face"></a></p>

<p>In an airplane, horizontal motion is (for the most part) <a href="https://en.wikipedia.org/wiki/Normal_(geometry)" rel="nofollow noreferrer">normal</a> to the [geometric!] <a href="https://en.wikipedia.org/wiki/Plane_(geometry)" rel="nofollow noreferrer">plane</a> of the prop: </p>

<p>In a quadcopter, horizontal motion is (again, for the most part) <em>parallel</em> to the plane of the prop. </p>

<p>As I understand it, the advance ratio is calculated with the ratio of fluid speed <strong>across</strong> the blades relative to the tip speed of the blade. In an airplane, this is equal to the horizontal speed of the airplane because the plane of the blades is normal to the horizontal motion. </p>

<p>In a quadcopter, horizontal motion causes air to pass <strong>along</strong> the blades because horizontal motion is in the same plane as the face of the blade. That is, <em>I don't think you use horizontal speed to calculate the advance ratio of a quadcopter</em>. </p>

<p>Instead, I would use (generally) the <em>vertical</em> speed of the quadcopter because the vertical direction is normal to a quadcopter's propellers. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9540" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9540">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9540">Load Comments</button></br>
			<div id = "commentsection-9540" class = 'collapse'>
			<div id = "comment-17046" class = "comment">
				<p>As you mentioned in the post for quadcopter "**horizontal motion is (again, for the most part) parallel to the plane of the prop**" is  incorrect. You need to provide tilt to quadcopter to move in horizontal direction. In above diagram there is no horizontal component to push quadcopter forward. So you need to tilt quadcopter to make horizontal motion.</p>
			</div>
			<div id = "comment-17051" class = "comment">
				<p>@nik0987 - You need to tilt to apply *force* in the horizontal direction. That is, to *accelerate* and then to overcome air resistance. If it takes 10g of thrust to move horizontally at 10mph, and the quadcopter's motors make 100g of thrust (numbers totally made up), then the quadcopter is tilted at asin (0.1) ~ 6 degrees. Assuming the quadcopter is maintaining altitude in still air,  the air speed is largely parallel to the plane of the props, and the advance ratio calculations don't really apply.</p>
			</div>
			</div>
				<textarea id = "speech-9540" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9540">
					<img id="start_img-9540" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9540">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>