<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter liPo battery weight~capacity trade off
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-554" class = "post">
			<h2>Question</h2>
			<div id="vote-554" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">29</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 37000</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter liPo battery weight~capacity trade off</h2>
<p>I'm trying to find where additional battery capacity becomes worthless in relation to the added weight in terms of a quadcopter. Currently with a 5500 mAh battery, 11.1V, I can get between 12 minutes and 12:30 flight time out of it. My question, then, is this - within the quads lifting capability of course, is there any way to find out where the added weight of a larger battery (or more batteries) cancels out any flight time improvement? Obviously it's not going to be as long as two separate flights, landing and swapping batteries; I'm just trying to maximize my continuous 'in air' time. I'm trying to figure out where the line is (and if I've already crossed it) with tacking bigger batteries onto the quad and seeing diminishing returns. Thanks!</p>

<p>(Again, for now presume that the quad is strong enough to lift whatever you throw at it. With one 5500mAh, ~ 470 grams, my max throttle is about 70%)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-554" data-toggle = "popover">
				<p>user name : Chris</p>
				<p> user reputation : 562</p>
				<p class = "tagcontent" id = "usertaginfo-554">{'quadcopter': 44, 'None': 15, 'accelerometer': 8, 'power': 29, 'localization': 15, 'battery': 29, 'multi-rotor': 2, 'pid': 2, 'uav': 8, 'motion': 2, 'imu': 8, 'cnc': 6, 'gyroscope': 8, 'gps': 15}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-554" class = 'collapse'>
			</div>
				<textarea id = "speech-554" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-554">
					<img id="start_img-554" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-554">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-562"  class = "post">
				<h2>Answer</h2>
			<div id="vote-562" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">37</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For quadcopter designs, you generally want to have around a 2:1 <a href="https://en.wikipedia.org/wiki/Thrust-to-weight_ratio" rel="noreferrer">thrust-to-weight ratio</a>. That is, at 100% throttle, you want your combined propeller thrust to be capable of lifting two times the weight of the craft.</p>

<p>You then need to determine the amount of power the motors need to generate that thrust (usually given on the datasheet). When you have that amount of power, you can easily calculate the amount of time your battery will last.</p>

<p>This page on <a href="https://code.google.com/p/ro-4-copter/wiki/QuadcopterPerformance" rel="noreferrer">Quadcopter Performance</a> gives a good example:</p>

<blockquote>
  <p>Looking at the data from the motor performance chart, it looks like
  the absolute maximum weight the motors can support is 560 each, so
  2240 grams. This is when the motors are working at 100%, using 95.2
  watts, which means about 8.6 amps at 11.1 volts.</p>
  
  <p>Looking at the data from the flight weight vs power and battery life
  graph, it seems that the helicopter should not exceed 61 ounces (1700
  grams). At that weight, 61 watts of power is used, which is 5.5 amps
  at 11.1 volts.</p>
</blockquote>

<p><img src="https://i.stack.imgur.com/RKru1.jpg" alt="Flying Weight vs Power &amp; Battery Life"></p>

<blockquote>
  <p>The graph also shows that one ounce of flight weight would need one
  watt of power, and the two are linearly correlated. Assuming the craft
  is 60 ounces, 60 watts of power is needed.</p>
</blockquote>

<p>This quote is a bit misleading though. The original author is missing the words "per motor" in their conclusion. 230W/4 motors = 57.5 Watts. That's where they got the "60 ounces needs 60 Watts (per motor)" conclusion. However the general method of plotting performance is beneficial to answering the question.</p>

<p>If you increase the maximum thrust-to-weight ratio, you can keep your throttle lower, use less power, and stay in the air longer. So you can either increase thrust or decrease weight to achieve longer flight times.</p>

<p>To more concisely answer your question, the point of diminishing returns comes when the additional weight added by the battery brings your thrust-to-weight ratio below 1.5:1 on the low end.</p>

<p>Something else to consider is the <a href="https://en.wikipedia.org/wiki/Energy_density" rel="noreferrer">energy density</a> of your battery technology. How much power per unit weight the battery is capable of. You're probably using Lithium-ion batteries which are probably the best available from a price to performance perspective. But if you're really trying to get longer flight times without increasing weight, you can consider some of the more esoteric (and much more expensive) technologies out there.</p>

<p><a href="http://newenergyandfuel.com/http:/newenergyandfuel/com/2009/06/15/battery-research-prospects-grow/battery-specific-energy-list1/" rel="noreferrer"><img src="https://i.stack.imgur.com/5M9Fd.png" alt="Battery Specific Energy List"></a></p>

<p><a href="http://www.legitreviews.com/article/887/2/" rel="noreferrer"><img src="https://i.stack.imgur.com/Z9Flb.jpg" alt="Energizer Zinc-Air Battery Comparison"></a></p>

<p>And it's probably worth mentioning that even within the Lithium-ion category, not all batteries are created equal.</p>

<p><a href="http://batteryuniversity.com/learn/article/the_high_power_lithium_ion" rel="noreferrer"><img src="https://i.stack.imgur.com/NKfwd.gif" alt="L-Ion Comparison"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-562" data-toggle = "popover">
				<p>user name : embedded.kyle</p>
				<p> user reputation : 1469</p>
				<p class = "tagcontent" id = "usertaginfo-562">{'None': 124}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-562" class = 'collapse'>
			</div>
				<textarea id = "speech-562" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-562">
					<img id="start_img-562" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-562">Comment</button>
			<br><div id = "ans-573"  class = "post">
				<h2>Answer</h2>
			<div id="vote-573" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>The batteries should weigh roughly the same as everything else on the airframe combined.</strong></p>

<p>With a given aircraft -- everything known except for the mass of the batteries -- the absolute maximum flight time occurs when the weight of the batteries is twice as much as the weight of everything else on the airframe combined.
However, many other characteristics -- time to get up to altitude, responsiveness, avoiding stall, etc. -- work better with less battery weight, so a better rule of thumb is batteries roughly the same (one times) the weight of everything else combined.
Reference: Andres 2011. <a href="http://api.ning.com/files/aFMLPsgnHmZXdNMAY8PM0KekqE4uAQSMx2C*usF6KDpKiqpO4L9-hrUKYBsS-xtRMqo-K4GR5TPsM2Isq56oMw__/battery_capacity.pdf" rel="nofollow noreferrer">Optimal Battery Capacity</a>. via <a href="http://www.heino.com/?page_id=24443" rel="nofollow noreferrer">Heino R. Pull</a>.</p>

<p>This rule of thumb applies to all kinds of battery-powered aircraft -- fixed-wing, quadcopters, helicopters etc.</p>

<p>(Forgive me for recycling my answer to <a href="https://robotics.stackexchange.com/questions/262/effectiveness-of-a-mobile-robot-in-relation-to-mass/305#305">Effectiveness of a Mobile Robot In Relation To Mass</a> ).</p>

<p>EDIT: fixed a self-contradictory sentence -- thanks, Gustav.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-573" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-573">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-573">Load Comments</button></br>
			<div id = "commentsection-573" class = 'collapse'>
			<div id = "comment-6988" class = "comment">
				<p>This confuses me, `weight of the batteries is twice as much as the weight of everything else`. Does not that mean that the batteries should be 2/3 of the vessel?</p>
			</div>
			<div id = "comment-6989" class = "comment">
				<p>@Gustav: Have you considered maybe looking at Fig. 1 and the last section of the paper by Andres that I linked? When (a) optimizing for absolute maximum flight time, then yes, the weight of the batteries should be roughly two times the total weight of everything else combined. However, (b) many other characteristics -- time to get up to altitude, responsiveness, avoiding stall, etc. -- work better with less battery weight, so a better rule of thumb is batteries roughly the same (one times) the weight of everything else combined. How can I say this more clearly?</p>
			</div>
			<div id = "comment-6990" class = "comment">
				<p>Thanks! Doing that distinction between those two cases makes it much more clear. You did not write that in your answer.</p>
			</div>
			</div>
				<textarea id = "speech-573" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-573">
					<img id="start_img-573" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-573">Comment</button>
			<br><div id = "ans-1868"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1868" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>have you seen these new zinc air 8cell 10,000mAh 12V drone batteries? 
<a href="http://www.tradekorea.com/product-detail/P00265914/drone_battery_10000mAh.html#.UjpxM2QpY2K" rel="nofollow">http://www.tradekorea.com/product-detail/P00265914/drone_battery_10000mAh.html#.UjpxM2QpY2K</a>
saw the chart on different power to weight ratios on the above discussion comparing efficiency to fuel cells (which are still too heavy 1.2kg + fuel^800g+)</p>

<p>was toying round with the idea of a quad fitted with a zinc air 10,000mAh battery, 4xGenesys alternators and 2x super capacitors</p>

<p>Barry Densley</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1868" data-toggle = "popover">
				<p>user name : Barry Densley</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-1868">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1868" class = 'collapse'>
			</div>
				<textarea id = "speech-1868" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1868">
					<img id="start_img-1868" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1868">Comment</button>
			<br><div id = "ans-7714"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7714" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>And how about a little experimenting?</p>

<p>I would take the lightest battery i can find and then try adding weights.
For each weight I would measure the flight time, make a "flight time / mAh" vs "takeoff weight" plot and fit a curve through the data points. Then I'd go to hobbyking and for every battery pack there I'd calculate flight time using my new magical graph. Find maximum and you're done :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7714" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-7714">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7714" class = 'collapse'>
			</div>
				<textarea id = "speech-7714" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7714">
					<img id="start_img-7714" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7714">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>