<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadrocopter first build: how to tell if components play well together?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2453" class = "post">
			<h2>Question</h2>
			<div id="vote-2453" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1798</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadrocopter first build: how to tell if components play well together?</h2>
<p>I'm building my first quadrocopter, and I'm trying to come up with a parts list that is suitable for a first build. </p>

<p>I will use this to <strong>learn how to fly a quadrocopter manually</strong> (lots of crashes!), and to do some experiments with running AI for piloting it.</p>

<p>A couple questions about the below list of parts:</p>

<ol>
<li><p><strong>Is this a good choice for a first build?</strong> Are we missing any crucial parts?</p></li>
<li><p><strong>Do these components work together?</strong> Is this <strong>battery strong enough</strong> to fuel all the components that need power?</p></li>
</ol>

<p><em>Here's the current list of parts:</em></p>

<ul>
<li>Frame - 450 mm</li>
<li>Propellers - 10x4.5", two pairs</li>
<li>Motor (4x) - 900kv brushless outrunner motor; max current: 18A; ESC: 25-30A; cell count:3s-4s lipoly</li>
<li>Electronic speed controllers (4x) - 20A constant current, 25A burst current; battery: 2-4S lipoly</li>
<li>Battery - 3300mAh lipoly, 11.1v, 3 cell; constant discharge: 30C, peak discharge: 40C. charge plug: JST-XH. 3300 mAh x 30C = 99 amps?</li>
<li>Charger - lipoly, 50W, 6A, 12v power supply</li>
<li>Power supply - input: AC 100-240v 50/60Hz; output: DC15v 5A</li>
<li>Arduino board</li>
<li>Gyroscope for arduino</li>
<li>Accelerometer for arduino</li>
<li>GPS sensor for arduino?</li>
<li>RC transmitter for arduino</li>
<li>RC controller</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-2453" data-toggle = "popover">
				<p>user name : Maxim Zaslavsky</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-2453">{'quadcopter': 3, 'None': 0, 'sensors': 3, 'motor': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2453" class = 'collapse'>
			</div>
				<textarea id = "speech-2453" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2453">
					<img id="start_img-2453" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2453">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2454"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2454" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You part list is fine as this is your first build. However I would suggest you to use ready made flight controller instead of buying arduino and program it yourself. Once you are comfortable flying quad rotor, it will be easier for you to test your code and adjust controller gains which is a very crucial step to control quad rotor as per your requirement. There are good flight controller available for quad rotor such as <a href="http://store.3drobotics.com/products/apm-2-6-kit-1" rel="nofollow">Ardupilotmega</a> or <a href="http://www.hobbyking.com/hobbyking/store/__49254__Hobbyking_KK2_1_Multi_rotor_LCD_Flight_Control_Board_With_6050MPU_And_Atmel_644PA.html" rel="nofollow">KKMulticopter</a>.</p>

<p>Apart from this, you should add lipo alarm like <a href="http://www.hobbyking.com/hobbyking/store/__18588__Hobbyking_2_8S_Cell_Checker_with_Low_Voltage_Alarm.html" rel="nofollow">this</a> to your list which will monitor lipo voltage during flight and tell you when to land. Also you should have spare propellers as propeller are most likey to get damage when you crash. You should also consider propeller balancer like <a href="http://www.hobbyking.com/hobbyking/store/__19292__Turnigy_Magnetic_Precision_Prop_Balancer.html" rel="nofollow">this</a> to reduce vibration due to imbalanced propeller.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2454" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-2454">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2454">Load Comments</button></br>
			<div id = "commentsection-2454" class = 'collapse'>
			<div id = "comment-8060" class = "comment">
				<p>Best answer.  Buy an open source controller, learn by modifying its code. When you are ready, re-write it all. It honestly is not a 1 man short term project, expect years.</p>
			</div>
			</div>
				<textarea id = "speech-2454" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2454">
					<img id="start_img-2454" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2454">Comment</button>
			<br><div id = "ans-2455"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2455" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found myself in the same situation some time ago. </p>

<p>Keep your list. If you want to see if everything fits, well I'm going to tell you that they won't. Only if there's a miracle. Start learning and designing in SolidWorks. This software gives you the ability to test and fail until everything works. You can simulate basically everything, from weather in diverse regions to how an alloy reacts to pressure. You can even simulate how your code works on your quadcopter by creating a virtual quadcopter.</p>

<p>As for tutorial, I can tell you that you have all the good documentation on their website. If you have a confusion, google and youtube is your best friend. Oh, and don't forget stackexchange.com.</p>

<p>Since time must not rush you, take your time, and be meticulous. Start with an Arduino, but take it slow. Test your programming skills, and if they're not that good, read some tutorials about it. Implement this "algorithm" into your own life, and you'll find out that you can solve anything.</p>

<p>Keep in touch, mate.</p>

<p>By the way, we are both the same age. Well, I'm 17.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2455" data-toggle = "popover">
				<p>user name : Robert Lucian Chiriac</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-2455">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2455" class = 'collapse'>
			</div>
				<textarea id = "speech-2455" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2455">
					<img id="start_img-2455" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2455">Comment</button>
			<br><div id = "ans-2468"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2468" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you trying to learn about electronics, flying quadcopters, or both? If it's just flying, then I would consider buying one of the little models in a wireframe cage for practicing flying. If it's both, then here are a couple of things to consider:</p>

<ol>
<li>There are "pusher" and "puller" rotors. You will need two of each.</li>
<li>Don't make your own flight controller. Buy an already-made one. They are complex, and do a lot. And you can get a great one for $50 or less.</li>
<li>Voltage levels matter. You'll want most things regulated to 3.3 or 5 volts. A good flight controller will do this for you.</li>
<li>Buy an air frame with ESCs and motors already attached. While you don't have to do this, it's easier and there will be less things that can go wrong.</li>
<li>(Shameless self promotion alert) You can take a look at <a href="http://www.thecoldheartofspace.com" rel="nofollow">my build blog</a>  for some step-by-step guidance. I'm not completely done yet, but I'm getting there.</li>
<li>You will want a telemetry radio. They are sometimes called 3DR (after the company that builds the standard one). Take a look at <a href="http://www.thecoldheartofspace.com/2013/12/lets-talk-about-parts.html" rel="nofollow">my parts list</a> and you'll see links to it.</li>
<li>If you use an ArduPilot or MegaPirateNG (my recommendation) compatible flight controller, then you can use a wonderful free program called <a href="http://planner.ardupilot.com/" rel="nofollow">Mission Planner</a>. I highly recommend it.</li>
<li>If you use one of the flight controllers I spoke about in item 7, your firmware is already written for you. Just download, set your board style, build, and upload to your AVR. It's wonderful.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2468" data-toggle = "popover">
				<p>user name : kmort</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-2468">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2468" class = 'collapse'>
			</div>
				<textarea id = "speech-2468" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2468">
					<img id="start_img-2468" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2468">Comment</button>
			<br><div id = "ans-5288"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5288" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have an Arduino in the list of parts but no software.  Are you writing your own?  This would be a big job.</p>

<p>If you are building this from scratch including the software one big mistake would be to simply build the whole thing then try to fly it outdoors.  NO.  Fist build some small part and test it, then some other small part.   For example the arduino and software.  Run it on your desk with a USB cable plugging in to the PC and just print motor commands and sensor inputs to the screen or log files.   Build a jig to test one motor what you measure current with a meter and RPP with an IR sensor.  </p>

<p>You are developing an aircraft and you do that in a series of tiny "baby steps".  </p>

<p>If you just want a quad copter then buy a quad copter.  If you want a design project then buy parts but expect a long process, especially with the software development.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5288" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5288">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5288" class = 'collapse'>
			</div>
				<textarea id = "speech-5288" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5288">
					<img id="start_img-5288" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5288">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>