<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter PID output
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2964" class = "post">
			<h2>Question</h2>
			<div id="vote-2964" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 10647</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter PID output</h2>
<p>I'm trying to develop a control system to a quadcopter and one of my options is to use a PID controller (which I think is the most used method).</p>

<p>From what I've read, the commom strategy is to run a PID algorithm to each axis. My question is: how the PID output is converted to PWM signals?</p>

<p>I'm asking that because the three axes and the four rotors depend on each other. I mean, if I slow down a couple of rotors which are opposite to each other then the quadcopter will move down in a vertical axis. But if I speed one of them and slow down the other, the quadcopter will rotate in a different axis.</p>

<p>So we cannot isolate each axis and associate them with a single rotor or a pair of those. And because of that, how can a PID output (which is associated to an axis) can be converted to PWM signals to the rotors?</p>

<p>Is that a MIMO system?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2964" data-toggle = "popover">
				<p>user name : FELIPE_RIBAS</p>
				<p> user reputation : 145</p>
				<p class = "tagcontent" id = "usertaginfo-2964">{'quadcopter': 5, 'None': 0, 'pid': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2964" class = 'collapse'>
			</div>
				<textarea id = "speech-2964" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2964">
					<img id="start_img-2964" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2964">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2965"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2965" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you slow down one couple of oppositely placed rotors in a quadcopter, it will not only reduce the vertical thrust, it will result in change of yaw. </p>

<p>Since what you're asking is essentially a general description of PID tuning techniques for a quadcopter, I suggest you stick to Google for the moment, including <a href="http://blog.oscarliang.net/quadcopter-pid-explained-tuning/" rel="nofollow noreferrer">http://blog.oscarliang.net/quadcopter-pid-explained-tuning/</a>   and   <a href="http://www.thomasteisberg.com/quadcopter/" rel="nofollow noreferrer">http://www.thomasteisberg.com/quadcopter/</a></p>

<p>Things to note:</p>

<ul>
<li>You can have more than 1 PIDs per axis</li>
<li>The usual output of PIDs are +/- values for rate of change of roll, pitch and yaw.</li>
<li>The desired change in roll, pitch or yaw is brought about by a low level controller. It converts the rate of change to a restoring torque (basically... a small increment in one motor and a corresponding small decrement in the opposite motor.)</li>
<li>Usually, roll and pitch PIDs act on two motors at a time. Yaw PID act on all fours.</li>
</ul>

<p>You may try going through :
<a href="https://robotics.stackexchange.com/questions/2920/understanding-the-pid-controller">understanding the PID controller</a>
and 
<a href="https://robotics.stackexchange.com/questions/2297/quadcopter-pid-tuning">Quadcopter PID tuning</a> </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2965" data-toggle = "popover">
				<p>user name : metsburg</p>
				<p> user reputation : 269</p>
				<p class = "tagcontent" id = "usertaginfo-2965">{'quadcopter': 15, 'None': 8, 'ardupilot': 6, 'accelerometer': 1, 'arduino': 13, 'ekf': 0, 'pid': 12, 'stability': 10, 'slam': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2965">Load Comments</button></br>
			<div id = "commentsection-2965" class = 'collapse'>
			<div id = "comment-5446" class = "comment">
				<p>Thanks for the answer. Maybe I was not very clear in my question, but I am not trying to understand a PID controller nor a quadcopter physics. As for the situation above, I think it should change the yaw AND reduce vertical thrust since the net force (which is purely vertical if the quadcopter is well balanced) will reduce. My question is about the second and third point you said. How exaclty those rates of change in an axis are converted to changes in rotor's  speed?</p>
			</div>
			<div id = "comment-5447" class = "comment">
				<p>Also, since the proppellers force are not linear in respect to the PWM input, how can a sum of PID's work well? I mean, if I have a PID to control yaw acting in all four motors, another PID to controle roll acting in a pair of motors and another onde to control pitch acting also in a pair. When I want the quadcopter to make a move which is a combination of movements, each PID will give its contribution. How those contributions will be added since it is not a linear system?</p>
			</div>
			<div id = "comment-5469" class = "comment">
				<p>PWM input vs propellor thrust is not a linear curve, but you can try a test bench like this: http://llamahacks.blogspot.in/2014/01/rc-motor-and-prop-thrust-and-current.html to determine the i/p vs o/p response of your setup. You'll have to determine a working region of your PWM where the response is 'nearly' linear i.e, operate the PWM at a range where the output is almost linear. If the three PIDs work fine individually, they should also work fine when put together.</p>
			</div>
			<div id = "comment-5470" class = "comment">
				<p>You may wanna have a look at this project: https://github.com/agnivsen/NoobCopter for a simple implementation of PID using Arduino. This project barely launches a quadrotor into a stable upward lift (may need PID tuning)... but the implementation is simple and it serves the purpose. You may start from here and build something more robust.</p>
			</div>
			</div>
				<textarea id = "speech-2965" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2965">
					<img id="start_img-2965" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2965">Comment</button>
			<br><div id = "ans-2974"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2974" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Let's try to give a comprehensive answer and stay on topic!</p>

<p>As you said in your question there is one PID per axis. This means 3 PIDs in total: roll, pitch, and yaw.</p>

<p>Also the motors input is a PWM high-level time, typically in the 1000-2000us range. There are 4 motors input: front, back, left, and right. One subtlety of the motors is that there is a value under which the motors stop completely, for instance 1100ms.</p>

<p>There is another variable not mentioned in the question: the throttle.</p>

<p>The first step in my quadcopter project was to tune the throttle. My throttle values were between -100 and 100, so I applied the following formula to each motor: motor = 300 * throttle / 100 + 1550. The constant values are arbitrary and give us a motor value in the 1250-1850 range, other values of the same magnitude would work.</p>

<p>Only then do we apply the PIDs using the motor mix formula. For instance for my +4 quadcopter the formula is:</p>

<ul>
<li>Front = Throttle + PitchPID - YawPID</li>
<li>Back = Throttle - PitchPID - YawPID</li>
<li>Left = Throttle + RollPID + YawPID</li>
<li>Right = Throttle - RollPID + YawPID</li>
</ul>

<p>The PID output has no unit. Choosing the right P, I, and D constants shall give us values which can stabilise the quadcopter. One caveat is that depending on the PID values the motor input can exceed the bounds: it could go over 2000us or under 1100us (which is our example motor cut value). In order to avoid such a situation we can analyse the higher and the lower of our motors inputs and add a constant to get all the motors within bounds.</p>

<p>For instance if the motor mix formula gave us:</p>

<ul>
<li>Front = 1900</li>
<li>Back = 1800</li>
<li>Left = 2100</li>
<li>Right = 1700</li>
</ul>

<p>We would remove 100 from each motor and get:</p>

<ul>
<li>Front = 1800</li>
<li>Back = 1700</li>
<li>Left = 2000</li>
<li>Right = 1600</li>
</ul>

<p>This would give us motors input values within bounds and maintain the difference between motors.</p>

<p>As a side note you said in a comment that the thrust vs PWM input is not linear. This is true but PIDs can drive non-linear systems with more or less success. For quadcopters the consensus is that it works reasonably well :)</p>

<p>If anything was unclear please let me know!</p>

<p>Cheers,
Marc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2974" data-toggle = "popover">
				<p>user name : marcv81</p>
				<p> user reputation : 408</p>
				<p class = "tagcontent" id = "usertaginfo-2974">{'None': 22, 'pid': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2974">Load Comments</button></br>
			<div id = "commentsection-2974" class = 'collapse'>
			<div id = "comment-5483" class = "comment">
				<p>Nice answer. I'm starting to understand and will read it again, but before, tell me something: when you try to tune one of the PID's, doesn't it affect the tuning of the others since they are all related? And as I asked in the end of the question: is that a MIMO system then?</p>
			</div>
			<div id = "comment-5486" class = "comment">
				<p>It is called a MIMO system indeed, but each of the 3 PIDs has an individual input and an individual output. So don't let the term MIMO confuse you: it's just 3 classic PIDs.</p>
			</div>
			<div id = "comment-5487" class = "comment">
				<p>Also because the motor mix is chosen with a reasonable understanding of the underlying model, the tuning of a PID has virtually no impact on the others. It is worth noting that because a quadcopter is symmetrical the same tuning can be used for roll and pitch. In my project I turned the pitch and roll rates with the same parameters first, and then I tuned the yaw rate.</p>
			</div>
			<div id = "comment-5509" class = "comment">
				<p>Are your example values correct? From what I've read, generally the PWM range goes from 1.0ms to 2.0ms with 1.5ms being the stop value. Also, your throttle should go from -1 to +1 so your formula work and not -100/+100. As for the system, where does the direction goes in your formula? I mean, besides the throttle, we should indicate where to go (right, front, left or back).</p>
			</div>
			<div id = "comment-5513" class = "comment">
				<p>Yes, I meant microseconds (us) instead of milliseconds (ms). Also the throttle formula has a slight mistake. I edited the original reply, thanks for pointing these out! The directions are given as PIDs inputs. A PID takes as an input a setpoint and a measured variable, and the error is calculated as setpoint - measured variable. The setpoint comes from your sticks input.</p>
			</div>
			<div id = "comment-6958" class = "comment">
				<p>Sorry for taking so long, but another question: when you reach motor bounds like you said in the example above, removing 100 from each motor can be understood as saturating thrust. Am I right? In other words, removing a piece from each motor is like removing vertical thrust. You may spin or tilt as you want since you kept the motor proportions, but the vertical force which is made by the sum of all motors will be reduced. Please correct me if I'm wrong.</p>
			</div>
			<div id = "comment-6964" class = "comment">
				<p>You are totally correct, some trust is removed. The related design assumption is that moving up/down is not as important as maintaining the angles.</p>
			</div>
			<div id = "comment-10845" class = "comment">
				<p>But PWM width is not proportional to thrust so it would not work. It is proportional to the square root of thrust so you would have to take square roots of these values and scale them afterwards.</p>
			</div>
			<div id = "comment-10855" class = "comment">
				<p>PIDs can drive non-linear systems, so it does not matter. For the record I did try to use the square root to "optimise" the system based on the following response curve: http://robokitchen.tumblr.com/post/97515352620/lift-force-measurement, but it did not help very much at all. Also if we want to be strict the thrust is not proportional to the square of the PWM: there are other factors such as the battery voltage, etc.</p>
			</div>
			</div>
				<textarea id = "speech-2974" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2974">
					<img id="start_img-2974" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2974">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>