<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadruped Learning Simulator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-712" class = "post">
			<h2>Question</h2>
			<div id="vote-712" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1187</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadruped Learning Simulator</h2>
<p>I'm currently building a robot with four legs (<a href="http://en.wikipedia.org/wiki/Quadrupedalism/" rel="nofollow noreferrer">quadruped</a>), 3 DOF (Degrees of Freedom) and Its been suggested <a href="https://robotics.stackexchange.com/questions/327/learning-algorithms-for-walking-quadruped/">here</a> that I use a simulator to do the learning on a computer and then upload the algorithms to the robot. I'm using an <a href="http://arduino.cc" rel="nofollow noreferrer">Arduino Uno</a> for the robot and what software could I use to simulate the learning and then be able to upload to the Arduino board?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-712" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-712">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-712">Load Comments</button></br>
			<div id = "commentsection-712" class = 'collapse'>
			<div id = "comment-901" class = "comment">
				<p>Will you be using an existing robot or designing it and building it yourself?</p>
			</div>
			<div id = "comment-914" class = "comment">
				<p>I've built the robot already from scratch :)</p>
			</div>
			</div>
				<textarea id = "speech-712" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-712">
					<img id="start_img-712" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-712">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-714"  class = "post">
				<h2>Answer</h2>
			<div id="vote-714" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This wouldn't cover the robot simulation, but the <a href="http://docs.opencv.org/modules/ml/doc/ml.html" rel="nofollow">OpenCV Machine Learning Library</a> might be useful for evaluating learning algorithms and training parameters to download to the robot.</p>

<p>It includes a neural network implementation, which may be of particular interest for this problem.</p>

<p>OpenCv is a standard library too, and would likely integrate well with some other simulator for the robot itself.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-714" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-714">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-714">Load Comments</button></br>
			<div id = "commentsection-714" class = 'collapse'>
			<div id = "comment-902" class = "comment">
				<p>Would this really work? Can the OpenCV ML library fit on an Arduino?</p>
			</div>
			<div id = "comment-903" class = "comment">
				<p>Well no, but you could use it to train the parameters for a learning algorithm on an Arduino.</p>
			</div>
			<div id = "comment-915" class = "comment">
				<p>This is way to complicated for me, I'm only in high school and I was hopping for a much easier and friendly alternative. Perhaps a program that lets me design a virtual robot similar to my own and then displays the positions for each leg that I can just copy and paste (essentially) into the code of my project</p>
			</div>
			<div id = "comment-922" class = "comment">
				<p>In that case, maybe have a look at this question too: http://robotics.stackexchange.com/questions/697/standalone-or-capable-of-being-robotics-simulator Robotics is complicated though, and robotics with machine learning is no exception. If you are serious about robotics in the future it wouldn't be a bad idea to learn something like OpenCV</p>
			</div>
			<div id = "comment-924" class = "comment">
				<p>Also, don't think that something is too hard to complicated just because you are in high school. There are lots of places (including this site) where you can find help if you get stuck.</p>
			</div>
			</div>
				<textarea id = "speech-714" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-714">
					<img id="start_img-714" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-714">Comment</button>
			<br><div id = "ans-722"  class = "post">
				<h2>Answer</h2>
			<div id="vote-722" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://gazebosim.org/" rel="nofollow">Gazebo</a> is a good tool for what you want to do. Since you're using a custom robot you will need to <a href="http://gazebosim.org/user_guide/started__models.html" rel="nofollow">build a model</a> for the simulator to use. They have managed to make doing so pretty easy but for a quadraped I can imagine it will take a bit of time.</p>

<p>Gazebo is also nice because it works well with <a href="http://ros.org" rel="nofollow">ROS</a> which means that if you build you could build a program to control your robot and send the commands to the simulated robot via the integration or to the real robot via <a href="http://www.ros.org/wiki/rosserial" rel="nofollow">rosserial</a>. Just beware that if you have not used any of these tools then it will take some time to develop your solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-722" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-722">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-722">Load Comments</button></br>
			<div id = "commentsection-722" class = 'collapse'>
			<div id = "comment-916" class = "comment">
				<p>I've had a look at some of the steps to install this and it looks like a long process and I'm very unfamiliar with most of it and I'm using a mac, which doesn't seem to hame much support. +1 for a plausible solution but I may have to keep looking</p>
			</div>
			<div id = "comment-923" class = "comment">
				<p>An alternative would be to build your own simulator with something like OpenGL. The complexity of doing so would depending on the kinematics of your robot and whether you will be simulating the dynamics.</p>
			</div>
			</div>
				<textarea id = "speech-722" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-722">
					<img id="start_img-722" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-722">Comment</button>
			<br><div id = "ans-4350"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4350" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The recently open-sourced <a href="http://www.coppeliarobotics.com" rel="nofollow">V-REP simulator</a> may suite your needs. I found it more approachable than Gazebo, and it can run on Windows, OSX, and Linux. Their tutorials are fairly straight forward. There are a ton of different ways to interface with it programmatically (including with ROS). It looks like there is even a <a href="http://www.coppeliarobotics.com/helpFiles/en/hexapodTutorial.htm" rel="nofollow">tutorial for making a hexapod</a>, which you could probably use as a starting point if they don't already have a quadruped example available. Unfortunately, I believe the simulator is tied directly with the UI rendering, which I believe is not necessarily the case with Gazebo.</p>

<p>So, your program would have to use one of the many ways to interface with V-REP, and then feed the performance of a particular gait, determined from some sensor in V-REP, into a machine learning algorithm (perhaps something from OpenCV as @WildCrustacean mentioned). You'd then have to come up with a translation from the gait description used by the simulated robot to something used to command actual motors on your Arduino.</p>

<p>On the other hand, you could make your own simulator using an existing physics engine, rendering it with a graphics library. Bullet and OGRE, respectively, could be used for this purpose, if you like C++. There are tons of others for other programming languages.</p>

<p>I would also look into how researchers who work on gait generation do their simulations. There might be an existing open source project dedicated to it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4350" data-toggle = "popover">
				<p>user name : Robz</p>
				<p> user reputation : 954</p>
				<p class = "tagcontent" id = "usertaginfo-4350">{'pid': 8, 'embedded-systems': 0, 'slam': 20, 'sensor-error': 8, 'accelerometer': 5, 'kinematics': 7, 'mechanism': 1, 'differential-drive': 8, 'imu': 12, 'kalman-filter': 28, 'actuator': 21, 'gyroscope': 5, 'gps': 20, 'magnetometer': 5, 'None': 25, 'noise': 5, 'power': 0, 'localization': 20, 'microcontroller': 0, 'brushless-motor': 13, 'sensors': 41, 'quadcopter': 13, 'navigation': 7, 'sensor-fusion': 21, 'sonar': 8, 'servos': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4350" class = 'collapse'>
			</div>
				<textarea id = "speech-4350" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4350">
					<img id="start_img-4350" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4350">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>