<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter cannot balance!
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4504" class = "post">
			<h2>Question</h2>
			<div id="vote-4504" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 143</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter cannot balance!</h2>
<p>I am bulding a quadcopter using these compenents:</p>

<ul>
<li>Microcontroller: Tiva C Lanchpad (ARM Cortex M4 - 80 MHz), but
running at 40MHz in my code</li>
<li>MPU 9150 - Sensorhub TI</li>
<li>ESC - Hobbywing Skywalker 40A</li>
</ul>

<p>I use the sample project comp_dcm from Tivaware and use that angles for my PID which running at 100Hz</p>

<p>I test PID Control on 2 motors, but the motors oscillate as in the video i found on youtube from one guy!</p>

<p><a href="https://www.youtube.com/watch?v=k1Ks1e67bwI" rel="nofollow">Quadcopter  Unbalance</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4504" data-toggle = "popover">
				<p>user name : Tuyen Vo Quang</p>
				<p> user reputation : 72</p>
				<p class = "tagcontent" id = "usertaginfo-4504">{'quadcopter': 5, 'None': 2, 'i2c': 0, 'pid': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4504">Load Comments</button></br>
			<div id = "commentsection-4504" class = 'collapse'>
			<div id = "comment-7108" class = "comment">
				<p>I'll start with the obvious question: Have you tuned the PID?</p>
			</div>
			<div id = "comment-7111" class = "comment">
				<p>Looks like an unstable controller, just tune it.</p>
			</div>
			<div id = "comment-7115" class = "comment">
				<p>we tune the PID so many times, and the same problems. Even though that the P Term is very small</p>
			</div>
			<div id = "comment-7118" class = "comment">
				<p>Also the I term can make it unstable...
just use a P term and rest to zero for first try</p>
			</div>
			<div id = "comment-7122" class = "comment">
				<p>I tune the quadcopter with just P component, and the way i did is starting with very small kP to larger kP. But the same problem occurs, with very small kP, but the quadcopter cannot balance, and actually it oscillates as shown in the video!
I think about many solutions such as: the angle  updates too slow, or the MCU computation is too slow...</p>
			</div>
			</div>
				<textarea id = "speech-4504" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4504">
					<img id="start_img-4504" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4504">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4524"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4524" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A couple possibilities come to mind,</p>

<ul>
<li><p>PIDs need tuning, this is <em>relatively</em> simple (entire books have been written on it)</p>

<ul>
<li>Basically, set the I and D terms to 0 and slowly move up the P term till it oscillates and turn it down again to just below that point</li>
</ul></li>
<li><p>Your code is running too slowly (this can cause all kinds of odd errors)</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4524" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-4524">{'None': 119}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4524" class = 'collapse'>
			</div>
				<textarea id = "speech-4524" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4524">
					<img id="start_img-4524" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4524">Comment</button>
			<br><div id = "ans-4565"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4565" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like your I term is turned up too high.  This can cause the system to overcompensate before it has even started to return to equilibrium.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4565" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4565">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4565" class = 'collapse'>
			</div>
				<textarea id = "speech-4565" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4565">
					<img id="start_img-4565" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4565">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>