<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter Localization Beacon
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-256" class = "post">
			<h2>Question</h2>
			<div id="vote-256" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2587</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter Localization Beacon</h2>
<p>I want to use an RF beacon to localize my quadcopter for autolanding, when GPS is not precise enough, for example, when my driveway is only 10 feet wide, and the GPS is only showing 20-30 ft. accuracy (with a proverbial lake of lava on either side). The quadcopter would use the GPS to fly to the rough location until it had a strong enough signal off the beacon, when it would begin to use that signal to come to a landing in a precise location, referenced off said beacon. Can someone please explain to me the concepts and theories behind building the beacon and it's accompanying receiver (suitable for connection to an Arduino via any digital or analog method) and achieving, say, a 4" or better horizontal and vertical accuracy within a 50' sphere? Minimally, the quad should have range and altitude, i.e. "I am 10 feet away from the beacon and 2 feet above it". How much added complexity would it take to make the robot fully position aware about the beacon, i.e. "x ft. South, y ft. West and z ft. above it", where the coordinate system is determined by the beacon and not linked to any sort of geographic coordinate system? If the beacon is mounted on a, say, 10 ft pole, are there any changes to be made versus having it on the ground and presuming that all activity takes place above it's x-y plane?</p>

<p>Last note-
This thing would prefferably operate in the 72MHz band, please presume that where I'm operating, there are not other devices operating on the same band.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-256" data-toggle = "popover">
				<p>user name : Chris</p>
				<p> user reputation : 562</p>
				<p class = "tagcontent" id = "usertaginfo-256">{'quadcopter': 44, 'None': 15, 'accelerometer': 8, 'power': 29, 'localization': 15, 'battery': 29, 'multi-rotor': 2, 'pid': 2, 'uav': 8, 'motion': 2, 'imu': 8, 'cnc': 6, 'gyroscope': 8, 'gps': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-256">Load Comments</button></br>
			<div id = "commentsection-256" class = 'collapse'>
			<div id = "comment-271" class = "comment">
				<p>Precise and reliable RF localisation is pretty hard. In your case I would go for something like an external tracking system which uses vision. It may be workable with a single camera at the landing pad looking upward, if combined with altitude information from the quadcopter.</p>
			</div>
			<div id = "comment-273" class = "comment">
				<p>Just be mindful as to whether a localiser **beacon** is "legal" use of a 72MHz channel in your location</p>
			</div>
			<div id = "comment-277" class = "comment">
				<p>Yes, use off-board sensors to track the quadcopter. That's how some labs are able to make hybrid systems: Mobile robots which launch quadcopters.</p>
			</div>
			<div id = "comment-426" class = "comment">
				<p>You might want to see http://en.wikipedia.org/wiki/Local_Area_Augmentation_System if you can implement a LAAS (Big Project) you might be able to use a WAAS compatible GPS receiver to navigate around.</p>
			</div>
			<div id = "comment-427" class = "comment">
				<p>http://waas.stanford.edu/research/laas.htm might also be of some use.</p>
			</div>
			</div>
				<textarea id = "speech-256" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-256">
					<img id="start_img-256" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-256">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-259"  class = "post">
				<h2>Answer</h2>
			<div id="vote-259" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would start here, I know someone who did this on a quadrotor with some 50$ gps modules and said it worked very well.</p>

<p><a href="http://www.rtklib.com/" rel="nofollow">http://www.rtklib.com/</a></p>

<p><a href="http://en.wikipedia.org/wiki/Real_Time_Kinematic" rel="nofollow">http://en.wikipedia.org/wiki/Real_Time_Kinematic</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-259" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-259">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-259">Load Comments</button></br>
			<div id = "commentsection-259" class = 'collapse'>
			<div id = "comment-270" class = "comment">
				<p>Using an RTK GPS is a good way to improve your positioning quality, but it won't help if your satellites are shadowed by e.g. your house. For free areas it should be ok, but I would not rely on it near buildings too much.</p>
			</div>
			<div id = "comment-280" class = "comment">
				<p>Could you elaborate a bit more? Answers with little more than a link are actively discouraged, due to linkrot and other things. Write a bit  about your procedure or something :)</p>
			</div>
			</div>
				<textarea id = "speech-259" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-259">
					<img id="start_img-259" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-259">Comment</button>
			<br><div id = "ans-273"  class = "post">
				<h2>Answer</h2>
			<div id="vote-273" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might be able to do this using inductive coupling to give the quad copter some indication as to which direction it should move to approach the landing pad.</p>

<p><img src="https://i.stack.imgur.com/xTJyT.png" alt="Quad copter landing pad"></p>

<p>On the landing pad is a single coil on the vertical axis (this is the transmitter). On the quad-copter are two coils, 90  apart and on the horizontal axis (these are the receivers). An alternating current is passing through the coil on the handing pad, creating an alternating magnetic field around it.</p>

<p>If the quad-copter is centred directly above the landing pad, then no current will be induced in the receivers. If the quad-copter is to one side, then a current will be induced in the receivers. Which receiver is seeing the current will tell the quad-copter which axis to move in, but not whether to move one way or the other. You can use a band-pass filter to distinguish between the signal from the landing pad, and noise from the motors.</p>

<p>Deciding which direction to move in is tricky, and I'm not sure of the best solution yet.</p>

<p>One way would be to correlate the change in signal with velocity information inferred from the accelerometers. If the quad-copter is moving one way, and sees the induced current reduce at the same time, then it knows that it should continue moving that way.</p>

<p>Another way would be to pulse a DC current through the coil. Pulse it forwards for 10ms, then backwards for 30ms. Use a low-pass filter on the receivers to distinguish between this signal and background noise. By looking at the pulse widths, the quad-copter can now tell the difference between the forward and backwards directions.</p>

<hr>

<p>You can probably make the receivers smaller than I have drawn here, and the transmitter as large as the landing pad.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-273" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-273">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-273" class = 'collapse'>
			</div>
				<textarea id = "speech-273" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-273">
					<img id="start_img-273" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-273">Comment</button>
			<br><div id = "ans-283"  class = "post">
				<h2>Answer</h2>
			<div id="vote-283" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As other people mentioned, an RF beacon will probably be difficult and vision is definitely a viable option. The common difficulty with vision-based solutions is that they are computationally expensive, making it difficult to be done on-board. </p>

<p>You can try using the PixArt IR tracking sensor from a Nintendo Wii remote, which communicates through I2C and can thus be easily connected to for example an Arduino and place a few active IR beacons on the ground which are then picked up by the sensor. Using a simple clever pose estimation algorithm will get you an accurate estimate of your position.</p>

<p>A regular colour camera could also be used but unless you have something like a Beagleboard or Gumstix on-board it would be difficult to process the images in real-time. (although there is nothing stopping you from doing calculations on the ground, of course).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-283" data-toggle = "popover">
				<p>user name : geez</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-283">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-283" class = 'collapse'>
			</div>
				<textarea id = "speech-283" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-283">
					<img id="start_img-283" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-283">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>