<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter forward speed
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2704" class = "post">
			<h2>Question</h2>
			<div id="vote-2704" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 6138</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter forward speed</h2>
<p>I am trying to better understand the dynamics of forward flight in multirotors.</p>

<p>Assuming I have a quadcopter with 4 motor/propeller combinations capable (each) of a propeller pitch speed of, say, SpeedMax= 100 mph.</p>

<p>In forward horizontal flight, the quadcopter will pitch down at a certain angle, let's say AlphaP, from horizontal. If AlphaP is, say, 45 degrees, and drag is neglected, wouldn't the quadcopter be capable of a max theoretical speed of sin (45)* SpeedMax ~ 70Mph?</p>

<p>Also, seems to me AlphaP cannot go all the way to 90 degree (quadcopter flying like a plane), as at that point the propellers would not produce any  upward thrust to maintain the copter aloft given there is no wing loading as available in a plane.  If drag was to be neglected, what factors would the optimum AlphaP be depended on, and what would that angle be, for maximum speed?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2704" data-toggle = "popover">
				<p>user name : user4128</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-2704">{'quadcopter': 8, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2704">Load Comments</button></br>
			<div id = "commentsection-2704" class = 'collapse'>
			<div id = "comment-5090" class = "comment">
				<p>Where does your 100mph number come from?  At any rate, what determines the maximum pitch is exctly what you said, being able to maintain the altitude against gravity... the thrust vector's component pointing up.</p>
			</div>
			<div id = "comment-5507" class = "comment">
				<p>Slightly off topic, but an important point: even if you stay at 0 degrees of tilt, there is still a maximum forward speed that you can achieve.  Helicopters have a lot of trouble [breaking the $\mu$-1 barrier](http://en.wikipedia.org/wiki/CarterCopter).</p>
			</div>
			<div id = "comment-7380" class = "comment">
				<p>Motors generate acceleration, not speed. If the drag (and relativity) are neglected, the maximum theoretical speed is infinite!</p>
			</div>
			</div>
				<textarea id = "speech-2704" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2704">
					<img id="start_img-2704" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2704">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2705"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2705" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With my rudimentary knowledge of aerodynamics, your calculation of forward horizontal velocity sounds OK. I'm sure other people can shed more light on the practical constraints.</p>

<p>About the max alphaP angle, here's what I think:
Say your copter can produce F Newton upward thrust. And say your copter weighs x Kg. Then your max angle for alphaP will be governed by:</p>

<pre><code> F*cos(maxAlphaP) = x*g     //cos or sine alphaP, depending upon how you measure the angle.
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2705" data-toggle = "popover">
				<p>user name : metsburg</p>
				<p> user reputation : 269</p>
				<p class = "tagcontent" id = "usertaginfo-2705">{'quadcopter': 15, 'None': 8, 'ardupilot': 6, 'accelerometer': 1, 'arduino': 13, 'ekf': 0, 'pid': 12, 'stability': 10, 'slam': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2705" class = 'collapse'>
			</div>
				<textarea id = "speech-2705" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2705">
					<img id="start_img-2705" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2705">Comment</button>
			<br><div id = "ans-2831"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2831" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As you said, as AlphaP increases, the amount of upward thrust decreases, and when AlphaP = Forget about speed. This idea that each propeller is capable of 100mph isn't that helpful. The problem is that the thrust produced by the propellers will be a function of speed. The faster they are traveling through the air, the less thrust they'll produce. Think instead about thrust. How much thrust are the propellers capable of?</p>

<p>90 , there's no upward thrust at all.
Your tilt angle, AplhaP will be limited by the upward thrust needed to keep the quadcopter aloft. the amount of upward thrust produced is proportional to cos(AlphaP).</p>

<p>If all 4 propellers together produce 20N, and your Quadcopter weighs 10N, then to stay aloft: </p>

<ul>
<li>cos(AlphaP)*20N >= 10N</li>
<li>cos(AlphaP) >= 0.5</li>
<li>Alpha &lt;= invcos(0.5)</li>
<li>Alpha &lt;= 60 </li>
</ul>

<p>Now the forward thrust produced will be sin(60 )*20N = 0.866*20N = 17.3N. What speed does this relate to? You can't neglect drag here. The quadcopter will accelerate until the drag equals 17.3N.</p>

<p>But of course, it's not that simple. What's confounding this is that the thrust produced at speed will be less than that produced when stationary. A very rough first approximation is to think of the power output of the propellers.</p>

<ul>
<li>power = force * speed</li>
</ul>

<p>Double the speed means half the thrust. But it's not that simple either. Generally, when you do these simple calculations, I would divide the results by 4 to get a more realistic estimate of the maximum speed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2831" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-2831">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2831" class = 'collapse'>
			</div>
				<textarea id = "speech-2831" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2831">
					<img id="start_img-2831" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2831">Comment</button>
			<br><div id = "ans-10162"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10162" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Great question!  And, yes props develop acceleration, but neglecting friction does not mean speed is infinite, because the thrust from the prop is a function of the angle of attack which changes as speed increases.  At some angle, with maximum power applied, lift=weight and forward thrust=drag.  It's not a simple problem to solve.  At the prop tip the effective airspeed in hover is r*w (radius of prop x angular velodicy in radians/sec (RPM/10)).  In forward, tilted flight, the effective airspeed at the prop tip is the sum of the propeller speed vector, plus the relative movement of the quad at the forward tilt angle.  My point is, this is a VERY VERY complex problem to solve.  You can do it but you need to be very strong in math, geometry and maybe even calculus and Excel.  I've done calculations like this using the Iterate feature in Excel.  I broke the problem down into tiny pieces (small sections of the prop) and solved the aerodynamics for each little piece of the prop, and then added them all up for the total effect.  LOTS of work.  Best bet is probably to survey some data from quad racers in online forums and make some educated guesses from that.  Good Luck.  (BTW, I found this thread because I'm looking for exactly the same answer).  But I'm looking for it so that I can understand the difference in lift on the advancing blade versus the retreating blade.  The advancing blade sees a higher airspeed, but it also has a smaller angle of attack because the airframe is tilted forward.  Do these two effects cancel each other out?.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10162" data-toggle = "popover">
				<p>user name : Randy Sonnicksen</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10162">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10162">Load Comments</button></br>
			<div id = "commentsection-10162" class = 'collapse'>
			<div id = "comment-18504" class = "comment">
				<p>Welcome to *Robotics* RandySonnicksen! This is a great answer. If you wanted to ask your question, you're more than welcome to. I would suspect you may not find any help, though - the question you're asking sounds like a master's thesis!</p>
			</div>
			</div>
				<textarea id = "speech-10162" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10162">
					<img id="start_img-10162" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10162">Comment</button>
			<br><div id = "ans-10166"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10166" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well if i understand you question which im not sure if i do your asking how to make the copter move and the answer to that is lower the power slightly on the direction you want to move sorry for being unhelpful</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10166" data-toggle = "popover">
				<p>user name : Kai Hayati</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10166">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10166">Load Comments</button></br>
			<div id = "commentsection-10166" class = 'collapse'>
			<div id = "comment-18152" class = "comment">
				<p>Welcome to *Robotics*, KaiHayati! Could you perhaps expand your answer? How do you choose the degree to which you lower power on the direction you want to move?</p>
			</div>
			</div>
				<textarea id = "speech-10166" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10166">
					<img id="start_img-10166" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10166">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>