<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter application underwater
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1466" class = "post">
			<h2>Question</h2>
			<div id="vote-1466" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2556</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter application underwater</h2>
<p>Just out of curiosity, can the concept of a Quadcopter be applied to an ROV? Would it work the same way underwater as it would be in Air? If not what kind of modifications it would take to implement that idea, underwater?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1466" data-toggle = "popover">
				<p>user name : Chandough</p>
				<p> user reputation : 455</p>
				<p class = "tagcontent" id = "usertaginfo-1466">{'quadcopter': 23, 'None': 15, 'design': 1, 'multi-rotor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1466">Load Comments</button></br>
			<div id = "commentsection-1466" class = 'collapse'>
			<div id = "comment-3114" class = "comment">
				<p>If I'm reading this right, you're asking about the concept of a quadrotor working underwater, not whether it's possible for the same quadrotor to work in both air and water.</p>
			</div>
			<div id = "comment-4693" class = "comment">
				<p>It's very possible, I stumbled upon a vimeo clip once showing a flying quadrocopter, landing on water and continuing it's journey under water... It was "flying" under water using the 4 props to balance and propel on low rpm. I guess that accidently opening full throttle under water would blow up the electronics, flying into the water directly would kill the props.
Hope you can find such movies and see how it works.</p>
			</div>
			<div id = "comment-7228" class = "comment">
				<p>@user2479: Are you maybe referring to [EZ Drone: "Underwater Multicopter"](https://www.youtube.com/watch?v=X6spt3fAD2U) ?</p>
			</div>
			</div>
				<textarea id = "speech-1466" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1466">
					<img id="start_img-1466" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1466">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1468"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1468" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First of all, my intuition says it'll work, same logic - props push the water/air makes the quadcopter move.</p>

<p>My guess is that the water resistance to the motors is much higher than the air and therefor the motors should be much stronger.</p>

<p>Another thing might be that there is almost no way to fix it if it brakes in the water (it'll probably just drown) so you should probably "extra" protect your props and electronics and actually everything..</p>

<p>The other thing is quite obvious, you need to protect your electronics from water so that makes the price go up a bit more.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1468" data-toggle = "popover">
				<p>user name : Dan Barzilay</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-1468">{'quadcopter': 8, 'control': 1, 'None': 0, 'power': 1, 'arduino': 1, 'pid': 7, 'logic-control': 0, 'motor': 2, 'real-time': 6, 'sensors': 1, 'movement': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1468" class = 'collapse'>
			</div>
				<textarea id = "speech-1468" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1468">
					<img id="start_img-1468" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1468">Comment</button>
			<br><div id = "ans-1470"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1470" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm guessing that your question is based on whether the mathematical <em>model</em> of a quadrotor would work in a water environment, and not the hardware. Quite obviously the electronics and mechanical systems would need changing to work in the water: the electronics would short and the rotors would spin too fast.</p>

<p>The rest of my answer is based on the work <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5164715&amp;tag=1" rel="nofollow noreferrer">Design and implementation of a structured flight controller for a 6DoF quadrotor using quaternions</a> by Stingu and Lewis. The free version of that paper can be found at <a href="http://www.uavdesign.net/adaptive-a-distributed-control/quaternion-based-quadrotor-control/" rel="nofollow noreferrer">Quaternion-Based Quadrotor Control</a>. Most quadrotor models that I have studied use minor variations on the same equations for the basic flight control.</p>

<p>From that paper we have the following system diagram:</p>

<p><a href="https://i.stack.imgur.com/eVHRA.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/LSpaz.jpg" alt="System control"></a></p>

<p>Operating a quadrotor model in a liquid would require one change to the model: if the physical vehicle was neutrally or positively buoyant (ie, it doesn't sink) then the model would be invalidated. In that case the model would have to adjust for flipping the quadrotor upside down to increase the depth.</p>

<p>The rest of the model could be used as is: it's medium independent. In fact, the only portion of the model that touches on the medium is the equations for torque and thrust of the propellers:</p>

<p>$$
K_T = \frac{T}{\rho n^2 D^4}
$$</p>

<p>$$
K_Q = \frac{Q}{\rho n^2 D^5}
$$</p>

<p>In these equations, $K_T$ is a thrust constant, $K_Q$ is a torque constant, $T$ is thrust, $\rho$ is free stream density (air or water), $n$ is rotation speed, and $D$ is rotor diameter. To operate the model in water $\rho$ just has to be replaced with the density of water ($1000 kg/m^3$).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1470" data-toggle = "popover">
				<p>user name : srlm</p>
				<p> user reputation : 361</p>
				<p class = "tagcontent" id = "usertaginfo-1470">{'None': 23}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1470" class = 'collapse'>
			</div>
				<textarea id = "speech-1470" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1470">
					<img id="start_img-1470" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1470">Comment</button>
			<br><div id = "ans-1472"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1472" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is an underwater quadrotor possible?  Absolutely.  Whether it's practical in that configuration is a different matter.  </p>

<p>In air, viscosity and buoyancy are negligible; in water, they are not.  An aerial quadrotor will expend energy fighting gravity, while an underwater quadrotor can simply rely on positively bouyant materials to keep it from sinking.  You can experience this yourself &mdash; you can swim in water (or use a small piece of foam for flotation), but not in air.</p>

<p>An underwater quadrotor will expend energy fighting the water's fluid friction, while an aerial quadrotor will move easily.  You can experience this effect as well &mdash; try throwing a frisbee in air, then see how far you can "throw" it underwater.</p>

<p>If you were to actually operate a quadrotor underwater, you would mostly likely fly it with the rotors oriented horizontally &mdash; in the direction of travel, instead of being vertical and just tilting slightly in the direction of travel.  </p>

<p><strong>Update 2015-12-21:</strong> Someone did this exact thing.
<a href="https://www.youtube.com/watch?v=FC9EJhs0pc0" rel="nofollow noreferrer"><img src="https://i.imgur.com/FZy52am.gif" alt="underwater quadrotor"></a></p>

<p>While a torpedo shape typically favored for cruising in a forward direction, there are other vehicles with 4 thrusters (positioned for maneuverability), such as Bluefin's HAUV:</p>

<p><img src="https://i.stack.imgur.com/JlXXy.jpg" alt="Bluefin HAUV Prototype"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1472" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1472">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1472" class = 'collapse'>
			</div>
				<textarea id = "speech-1472" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1472">
					<img id="start_img-1472" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1472">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>