<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Quadcopter degrees of freedom
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3069" class = "post">
			<h2>Question</h2>
			<div id="vote-3069" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3450</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Quadcopter degrees of freedom</h2>
<p>It might be kind of a stupid question but how many degrees of freedom are there in a typical quadcopter? I say some saying 4 and some saying 6. The difference stands in translation throughout the other 2 axis (horizontal ones). Being strict to what you can directly tell the quadcopter to do, only 4 movements are possible since you cannot apply a pure lateral force. But you can tilt to start a lateral movement and align the body right after and let it hover in a horizontal axis, theoretically. So, formally, how many degrees of freedom should I consider to exist?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3069" data-toggle = "popover">
				<p>user name : FELIPE_RIBAS</p>
				<p> user reputation : 145</p>
				<p class = "tagcontent" id = "usertaginfo-3069">{'quadcopter': 5, 'None': 0, 'pid': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3069">Load Comments</button></br>
			<div id = "commentsection-3069" class = 'collapse'>
			<div id = "comment-6571" class = "comment">
				<p>See also: http://robotics.stackexchange.com/a/2252/350</p>
			</div>
			</div>
				<textarea id = "speech-3069" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3069">
					<img id="start_img-3069" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3069">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3070"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3070" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Formally, a quadcopter has <strong>four</strong> degrees of freedom. As you noted, at any given instant in time you can only apply force/moment in only four directions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3070" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-3070">{'None': 133}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3070" class = 'collapse'>
			</div>
				<textarea id = "speech-3070" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3070">
					<img id="start_img-3070" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3070">Comment</button>
			<br><div id = "ans-4306"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4306" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That depends on what you mean.  If your question is about output, then the answer is you have 4 degrees of freedom: thrust, pitch, yaw, and roll.  If you question is about the dynamics of the helicopter, then you have to make some assumptions.  Assuming the vehicle is a rigid body is usually a good assumption for answering basic questions about a system, in which case it would have 6 DOF, position in x, y, and z, plus rotation about x, y, and z.  If your question is about inputs, then the answer is also 6 DOF, because you have to measure all 6 DOF if you want to be able to control a quadcopter.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4306" data-toggle = "popover">
				<p>user name : Frankenberry Pi</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-4306">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4306" class = 'collapse'>
			</div>
				<textarea id = "speech-4306" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4306">
					<img id="start_img-4306" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4306">Comment</button>
			<br><div id = "ans-4309"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4309" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think that it is important to recall that a rigid body in space has 6 Dof without considering quantum or relativistic effects ;). So if you use the newton equations, written in an inertial frame of reference, to describe the hole motion of a quadcopter you will get two set of 
equations.
First the position $x \in \mathbb{R}^3$</p>

<p>$$
m\ddot{x}  = F
$$</p>

<p>where $F$ is the sum of all external forces, here will take place the action of the rotor's blades. Second, we have the equations for the orientation of the quadcopter and, in my opinion, they are a quite complex issue. If we write the moment of inertia $I$ w.r.t. the centre of mass of the quadcopter and in our inertial frame of reference, we can write
$$
I\dot{\omega} = \omega \times I \omega + M
$$
where $\omega \in \mathbb{R}^3$ is the angular velocity and $M$ is the sum of all external moments, all of them computed w.r.t. the centre of mass of the quadcopter. Note that in our second equation the euler angles $\psi$ does not apper. In fact, the dynamic equation for the orientation of a rigid body cannot be easily written in an explicit form w.r.t. the euler angles, because the appear in non linear form in $I$.</p>

<p>Now if we call $u\in \mathbb{R}^4$ our control imput, i.e., the velocity of the 4 blades, we have that the dynamic equations of our system is</p>

<p>$$
\left\{ \matrix{m \ddot{x} &amp;=&amp; F(u) \cr I \dot\omega &amp;=&amp; \omega \times I \omega +M(u)} \right.
$$
Where, F and M are in general non linear forms of the blade's angular velocities. I think that a this level it will be clear that our system is described by 6 parameters: the position that lives in $\mathbb R^3$ (but really the position bellows to the affine space constructed from $\mathbb R^3$ ) and the three euler angles that are a minimal representation of the rotation group $\mathcal S \mathcal O(3)$ that is a lie group with three degrees of freedom.</p>

<p>Until now we have a system completely described by 6 paramenters and 4 control inputs. So we have 6 DOF!. More over a physicist or mathematician could say that we have 6+4=10 DOF because the position of the motors are also parameter of our system, but engineers say that they are the control input so we manually set its values.</p>

<p>But what if I want to write my system in the more control-engineering shape  $\dot x = f(t,x,u)$?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4309" data-toggle = "popover">
				<p>user name : Rafael Rojas</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-4309">{'communication': 0, 'None': 4, 'c': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4309" class = 'collapse'>
			</div>
				<textarea id = "speech-4309" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4309">
					<img id="start_img-4309" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4309">Comment</button>
			<br><div id = "ans-4355"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4355" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think the term you are looking for is <a href="http://en.wikipedia.org/wiki/Holonomic_(robotics)" rel="nofollow">Holonomic</a>.  The important distinction that you've missed is between "total degrees of freedom" and "controllable degrees of freedom" (which is what most roboticists mean when they refer to DOF).  </p>

<p>Your quadcopter is non-holonomic; it can achieve 6 degrees of freedom, but only by planning maneuvers that make use of its 4 controllable degrees of freedom.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4355" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4355">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4355" class = 'collapse'>
			</div>
				<textarea id = "speech-4355" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4355">
					<img id="start_img-4355" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4355">Comment</button>
			<br><div id = "ans-6725"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6725" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have 6 degrees of freedom. Three translational and three rotational. You have linear movements along the xyz axis and rotations around the xyz axis.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6725" data-toggle = "popover">
				<p>user name : Ozymandias</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-6725">{'quadcopter': 7, 'control': 4, 'None': 6, 'tuning': 1, 'accelerometer': 1, 'arduino': 3, 'battery': 0, 'pid': 4, 'brushless-motor': 0, 'kinematics': 6, 'imu': 1, 'gyroscope': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6725" class = 'collapse'>
			</div>
				<textarea id = "speech-6725" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6725">
					<img id="start_img-6725" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6725">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>