<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Question about ROS, how to explain to someone what ROS is?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10951" class = "post">
			<h2>Question</h2>
			<div id="vote-10951" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 58</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Question about ROS, how to explain to someone what ROS is?</h2>
<p>Over the summer, I have configured ROS navigation stack on a mobile robot (with radar and Kinect) so that it can autonomously navigate in the unknown environment. I also wrote a python program that allow the robot to track human motion, also using the open source library. </p>

<p>Currently, I am applying to software job. I thought this experience is very relevant to software programming. But, I am actually stuck on how to explain what ROS is. And when I use the packages (eg, navigation stack) on a robot, <strong>am I actually doing coding</strong>? Can I say ROS is just an API?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10951" data-toggle = "popover">
				<p>user name : Nygen Patricia</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10951">{'None': 0, 'ros': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10951">Load Comments</button></br>
			<div id = "commentsection-10951" class = 'collapse'>
			<div id = "comment-19713" class = "comment">
				<p>Welcome to *Robotics* Nygen Patricia, but I'm afraid that questions like this really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. Also, the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) has good advice on how to write a good question. If you edit your question to fit our community guidelines we can reopen it for you.</p>
			</div>
			</div>
				<textarea id = "speech-10951" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10951">
					<img id="start_img-10951" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10951">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10952"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10952" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Compare it to a message bus connecting different services through publish/subscribe mechanism. All enterprise software engineers should be able to understand this comparison. </p>

<p>If you write source code you are coding. If you do not write source code you are not coding. Please note that coding can also cover graphical languages like Function blocks or  similar. Coding is not necessarily only the implementation of complex algorithms, writing source code that glues together different libraries or just calling them is also coding.  </p>

<p>ROS is not just an API. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10952" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10952">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10952">Load Comments</button></br>
			<div id = "commentsection-10952" class = 'collapse'>
			<div id = "comment-19702" class = "comment">
				<p>thanks for the reply. If they ask me, how much I code, should I say none? (I pretty sure I did a lot of reading on the ROS code)</p>
			</div>
			<div id = "comment-19703" class = "comment">
				<p>If you read about code, but did not write any...then say that...</p>
			</div>
			</div>
				<textarea id = "speech-10952" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10952">
					<img id="start_img-10952" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10952">Comment</button>
			<br><div id = "ans-10958"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10958" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>ROS is a framework to do component based development of software for robotics. </p>

<p>Component based development has been around for a while in software engineering. One advantage is that you can split the process of developing components - self sustained modules that perform a specific task - and how a bunch of them are applied together in a system quite well. It creates different roles in the development process. </p>

<p>In your case you have used the components to get a running system. The skills you acquired seem to be in the area of python programming (I would consider this a form of coding), robotics and of course ROS.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10958" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-10958">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10958" class = 'collapse'>
			</div>
				<textarea id = "speech-10958" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10958">
					<img id="start_img-10958" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10958">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>