<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Questions on gears for a robot actuator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5267" class = "post">
			<h2>Question</h2>
			<div id="vote-5267" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 122</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Questions on gears for a robot actuator</h2>
<p>I have some questions regarding building a gearbox for a motor to create a robot actuator. Given my desired motor and loads, I've determined that a gear ratio in the 400-700 range is adequate for my application. </p>

<p>Here is my motor choice for reference: <a href="http://www.robotshop.com/ca/en/banebots-rs-550-motor-12v-19300rpm.html" rel="nofollow">http://www.robotshop.com/ca/en/banebots-rs-550-motor-12v-19300rpm.html</a></p>

<p>Here are my questions:</p>

<p>1) Mounting gears to a motor: if I have a motor with a shaft diameter of 0.12in (3.2mm), what size gear bore should I use, and how do I attach a gear to the shaft in practice? I'm not that mechanically inclined (yet). </p>

<p>2) Say I build a gearbox of ratio 625:1, as such: <a href="https://www.youtube.com/watch?v=lF-4qVBWy88" rel="nofollow">https://www.youtube.com/watch?v=lF-4qVBWy88</a> I have no idea of how "durable" such a set up would be. For my application, I am looking at moving an 8kg mass from 0.6 meters away, coming out to a total torque of 47 newton meters. How can I tell if the gears will break or not? </p>

<p>For reference, these are the gears I'm looking at (and I'm pretty sure they're the same ones in the video): <a href="http://www.vexrobotics.com/276-2169.html" rel="nofollow">http://www.vexrobotics.com/276-2169.html</a> </p>

<p>3) Assuming those gears above were to fail, what type of gear material would be recommended for my load application of max 47nm? </p>

<p>4) What efficiencies can one expect from gears of different types? I've been assuming 50% conservatively as another answer mentioned. </p>

<p>Thank you for any help, and please let me know if anything was unclear.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5267" data-toggle = "popover">
				<p>user name : JDS</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-5267">{'servomotor': 0, 'None': 1, 'force': 1, 'motor': 10, 'power': 3, 'servos': 0, 'torque': 5, 'gearing': 5, 'industrial-robot': 4, 'dh-parameters': 6, 'robotic-arm': 17, 'actuator': 4, 'rotation': 2, 'forward-kinematics': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5267">Load Comments</button></br>
			<div id = "commentsection-5267" class = 'collapse'>
			<div id = "comment-8051" class = "comment">
				<p>question is too broad, consider splitting or more being specific. efficiency depends on various parameter even it depends on mounting. about mounting gear on shaft, shaft usually comes with slot, gears can be fixed with a screw. However the kit that you are using has square hole, you may need adapter for that.</p>
			</div>
			<div id = "comment-8052" class = "comment">
				<p>Why do you want to build a custom gear box?  Because unless you are exceptionally mechanically inclined or need something very specific, this is typically not something people do.  I am guessing it is because you could only find small motors on that site, but your robot requires something much larger.  You should try [www.robotmarketplace.com](http://www.robotmarketplace.com/store.html).  They have much larger components.</p>
			</div>
			<div id = "comment-8064" class = "comment">
				<p>@Ben - 2 reasons. For one, the joy of learning how to do so. And two, cost to reach specifications. Preassembled solutions are not cutting it in terms of my required specs (i.e. 47 Nm max torque at a reasonable speed). In terms of raw components, it seems that in theory I can meet specs at a much lower price point; in this question I'm just working out some specifics of how to do so.</p>
			</div>
			</div>
				<textarea id = "speech-5267" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5267">
					<img id="start_img-5267" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5267">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5271"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5271" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Why not just BUY a gear motor.  These things are basically the motor you linked to with a reduction gearbox attached.
Here is a motor with a 380:1 reduction
<a href="http://www.pololu.com/product/1590" rel="nofollow" title="gear motor">gear motor</a>  These come is any reduction ratio you need.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5271" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5271">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5271">Load Comments</button></br>
			<div id = "commentsection-5271" class = 'collapse'>
			<div id = "comment-8065" class = "comment">
				<p>I would like to, but unfortunately the torque output is far too low for my application (250 oz-in), when in fact I need 47 Nm == 6655 oz-in! The closest thing I can find is something like this: https://www.servocity.com/html/spg7950a-bm-360_360o_rotation.html for $250! So I'm trying to break down the parts component-by-component to build something close to what I need.</p>
			</div>
			</div>
				<textarea id = "speech-5271" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5271">
					<img id="start_img-5271" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5271">Comment</button>
			<br><div id = "ans-5308"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5308" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is not directly answering all your questions, but if you are starting out with mechanical stuff I highly recommend reading pretty much all this guy's web site. </p>

<p><a href="http://www.etotheipiplusone.net/" rel="nofollow">http://www.etotheipiplusone.net/</a></p>

<p>In particular, take a look at his battle robot stuff. There is some gold in there!
If you want a more condensed version, he wrote another great article on building stuff fast and on the cheap. It's on Instructables, but don't hold that against it...</p>

<p><a href="http://www.instructables.com/id/How-to-Build-your-Everything-Really-Really-Fast/" rel="nofollow">http://www.instructables.com/id/How-to-Build-your-Everything-Really-Really-Fast/</a></p>

<p>Also, there is some more great stuff in here:</p>

<p><a href="http://web.mit.edu/2.75/fundamentals/FUNdaMENTALS.html" rel="nofollow">http://web.mit.edu/2.75/fundamentals/FUNdaMENTALS.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5308" data-toggle = "popover">
				<p>user name : law</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-5308">{'None': 3, 'torque': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5308" class = 'collapse'>
			</div>
				<textarea id = "speech-5308" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5308">
					<img id="start_img-5308" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5308">Comment</button>
			<br><div id = "ans-6311"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6311" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I doubt you will find a solution in the price range you are looking for. But I will answer your questions as best I can.</p>

<p>1) You need match the gear to the bore, ideally within a thousandths of an inch. A .12in in shaft simply will not work with even a .125. Especially, at any reasonable speed. If you have matching shaft and bore, a setscrew could be used or a notched shaft with a setscrew.</p>

<p>2) At 47 Nm those gears would be as soft as butter. Additionally, your shaft would twist off instantly. For reference, look at these gears <a href="http://qtcgears.com/products/gears/spur_alloy_steel_kmsg.php" rel="nofollow">http://qtcgears.com/products/gears/spur_alloy_steel_kmsg.php</a>. These are steel and by the ratings, 2 inch gear with 1/2 inch shaft would be the minimum.</p>

<p>3) Steel or an extremely large plastic gear. Remember, larger gear -> larger lever arm -> less force.</p>

<p>4) Spur gears are fairly efficient (best guess, 75% to 90%). However, if you have a bunch of reductions these compound quickly. Your guess of 50% is probably fine. Also, remember that high gear ratios greatly reduce speed and motors slow down when they are loaded. The combination may be too slow for the application.</p>

<p>One thing you have not considered is acceleration of that mass. If you just have to hold the weight, that's one thing. If you have to move it, you have inertia to worry about. If you know the acceleration you could calculate this but I would use a minimum of twice the mass for calculations. Partly for the inertia and partly for an additional safety factor.</p>

<p>Lastly, many people would use a linear actuator in this case. You could use the actuator to lift the bar and create rotation if you desire the "arm" design. Google "engine hoist" to see what I mean.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6311" data-toggle = "popover">
				<p>user name : Kearney</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-6311">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6311" class = 'collapse'>
			</div>
				<textarea id = "speech-6311" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6311">
					<img id="start_img-6311" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6311">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>