<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>question allowed here? buying a battery replacement for Macbook Air if Apple doesn't have official service in the country
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1880" class = "post">
			<h2>Question</h2>
			<div id="vote-1880" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 121</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>question allowed here? buying a battery replacement for Macbook Air if Apple doesn't have official service in the country</h2>
<p>I am considering to post the following question. Will it be allowed at AskDifferent? Any suggestions on how it can be improved?</p>

<hr>

<p><em>title:</em> <strong>battery replacement for Macbook Air (if original Apple service is not available in my country)</strong></p>

<p><em>body:</em></p>

<p>I need to replace a battery for Macbook Air 2011. Apple doesn't provide its own official support in my country, only lists authorized service providers. I am concerned that those providers can easily use non-genuine replacement parts, and I'm also willing to save 30% to 40% of totals cost by a do-it-yourself repair (judging by official prices Apple gives for its official batt replacement for the US, for example).</p>

<p>What can be the best option online to buy a most lasting and robust battery replacement? How can I ensure before ordering that it's closest to the genuine battery possible?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1880" data-toggle = "popover">
				<p>user name : yurkennis</p>
				<p> user reputation : 597</p>
				<p class = "tagcontent" id = "usertaginfo-1880">{'None': 0, 'site-scope': -1, 'support': 4, 'guideline': -1, 'asking-questions': 1, 'discussion': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1880" class = 'collapse'>
			</div>
				<textarea id = "speech-1880" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1880">
					<img id="start_img-1880" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1880">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1881"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1881" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You seem to have two questions overall:</p>

<ol>
<li>What can be the best option online to buy a most lasting and robust battery replacement? </li>
<li>How can I ensure before ordering that it's closest to the genuine battery possible?</li>
</ol>

<p>The first question doesn't work here. I can appreciate your predicament but understand that answering it well means it's: a) likely specific to where ever you live; b) only relevant for a short period of time because prices changes, retailers come and go, technology marches on.</p>

<p>The second question seems okay though -- when ordering a battery online, how can you ensure it's either genuine Apple or at least Apple compatible to some degree? That's a question with some general longevity to it, especially if you focus the question on how, when doing DIY repairs to Apple equipment, to ensure you're buying the right components and not ending up with partially-compatible pieces. It could even be made non-specific to batteries. That's a good question IMO.</p>

<p>I'd suggest shortening the whole thing down to something like:</p>

<blockquote>
  <p><strong>How do I make sure I'm buying Apple-compatible replacement parts when performing DIY repairs?</strong></p>
  
  <p>I live in a place where Apple has no official presence. Support and repairs are done by Apple-authorized service providers. I'm fairly savvy with electronics and would like to save on the authorized repair markup and do my own repairs. I'm currently in need of a battery replacement in my MacBook Pro, but other repairs may come up as I try to extend the life of my Apple investment.</p>
  
  <p>How can I be certain that any replacement parts I order for my repairs that are obviously Apple genuine parts, are at least Apple compatible parts?</p>
</blockquote>

<p>That seems to capture the spirit of your question, not wanting to order the wrong thing when going DIY in a country where returning an order can be problematic and expensive, but without asking for specific purchase advice that would quickly become obsolete.</p>

<p>Does that help?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1881" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-1881">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1881">Load Comments</button></br>
			<div id = "commentsection-1881" class = 'collapse'>
			<div id = "comment-3637" class = "comment">
				<p>Also, maybe explain what DIY means (or write it out).</p>
			</div>
			<div id = "comment-3641" class = "comment">
				<p>It turns out I'm most interested in "what manufacturer makes the most robust and lasting replacement [and what is its product ID]". These things are both non-specific to where I live, and very unlikely to change very often, especially given the age of my Macbook Air. Any compelling reasons why this would be an appropriate question at Ask Different?</p>
			</div>
			<div id = "comment-3646" class = "comment">
				<p>I think that specific question would be okay.</p>
			</div>
			<div id = "comment-3651" class = "comment">
				<p>Thanks @IanC., will try to post that.</p>
			</div>
			<div id = "comment-3662" class = "comment">
				<p>Done: http://apple.stackexchange.com/questions/113804/most-robust-and-lasting-replacement-battery-for-macbook-air-2011</p>
			</div>
			<div id = "comment-4106" class = "comment">
				<p>@yurkennis I'm looking at my one line comment above and I don't know what I was thinking when I said that'd be okay. As soon as you start asking for product IDs it starts to become a shopping question very quickly and goes out of scope for the site. You might be able to make it work, but the question you did post was definitely a shopping question. So sorry about that one line comment.</p>
			</div>
			</div>
				<textarea id = "speech-1881" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1881">
					<img id="start_img-1881" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1881">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>