<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>question about car-like robot localization based on dead-reckoning
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1861" class = "post">
			<h2>Question</h2>
			<div id="vote-1861" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 695</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>question about car-like robot localization based on dead-reckoning</h2>
<p>I have a question about car-like robot localization using only dead-reckoning. Given: </p>

<ul>
<li>robot position (at current time step) in the form $\begin{bmatrix}x &amp; y &amp; \theta\end{bmatrix}$ (theta is the heading)</li>
<li>steering angle </li>
<li>distance traveled between two time steps</li>
</ul>

<p>How can I estimate the position of the robot at the next time step?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1861" data-toggle = "popover">
				<p>user name : user1566055</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-1861">{'mobile-robot': 3, 'None': 0, 'localization': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1861">Load Comments</button></br>
			<div id = "commentsection-1861" class = 'collapse'>
			<div id = "comment-3836" class = "comment">
				<p>This is a possible duplicate of [Calculate position of differential drive robot](http://robotics.stackexchange.com/questions/1653/calculate-position-of-differential-drive-robot).  To achieve dead reckoning, you would just use the technique they describe and keep track of the latest result.</p>
			</div>
			<div id = "comment-3837" class = "comment">
				<p>It is not a duplicate. Car-like (ackerman drive) behave differently form differential drive robots.</p>
			</div>
			<div id = "comment-3856" class = "comment">
				<p>The equations are the same -- distance traveled will be measured instead of commanded, but the relationships between the left/right drive wheel radii, the wheel odometry, and the steering angle still stand.</p>
			</div>
			<div id = "comment-3865" class = "comment">
				<p>It was never explicitly stated whether this is an Ackermann steering system.  Is it?</p>
			</div>
			</div>
				<textarea id = "speech-1861" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1861">
					<img id="start_img-1861" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1861">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1867"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1867" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm reasonably sure the answer to your original question using the steering angle, will involve some hefty calculus. Although I'd like to be proven wrong.</p>

<p>I'd suggest putting encoders on the non steering pair of wheels so you can tell how far each wheel has traveled. </p>

<p>As the non steering wheels are always pointing the same direction you can use the information about how far each wheel has traveled in the same way that you would for a differential drive robot. This does of course assume that the to wheels can rotate independently of each other, as is traditional with cars having a differential to allow for the vehicle turning.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1867" data-toggle = "popover">
				<p>user name : Robert Sutton</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-1867">{'None': 6, 'roomba': 2, 'irobot-create': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1867">Load Comments</button></br>
			<div id = "commentsection-1867" class = 'collapse'>
			<div id = "comment-3854" class = "comment">
				<p>the difference is the instantaneous center of rotation. a differential drive robot can turn in place but an ackerman one can't. in other words the turning radius is a function of steering angle and the wheelbase of the ackerman robot. that said, the min turning radius of the ackerman robot is nonzero but for the differential one it can be zero.</p>
			</div>
			<div id = "comment-3855" class = "comment">
				<p>Robert - could you expand your answer... at the moment it doesn't really add to the discussion.</p>
			</div>
			</div>
				<textarea id = "speech-1867" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1867">
					<img id="start_img-1867" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1867">Comment</button>
			<br><div id = "ans-1870"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1870" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Assuming that this doesn't count as a duplicate of the math that <a href="https://robotics.stackexchange.com/users/720/daniel-oertwig">Daniel Oertwig</a> provided in his question "<a href="https://robotics.stackexchange.com/q/1653/350">Calculate position of differential drive robot</a>", the calculations are as follows (for each time step):</p>

<p>First, calculate the distance travelled.
$$
\Delta d = \frac{\Delta L + \Delta R}{2} = \Delta t * s
$$
Where $L$ is the left wheel odometry, $R$ is the right wheel odometry, and s is the vehicle speed.  </p>

<p>Next, calculate the change in $x, y$ position.
$$
\Delta x = \Delta d \cdot cos(\theta) \\
\Delta y = \Delta d \cdot sin(\theta)
$$</p>

<p>Where $\theta$ is the orientation angle (in radians) of the robot.</p>

<p>Next, calculate the change in the heading.
$$
\Delta \theta = \frac{\Delta R - \Delta L}{w}
$$</p>

<p>Where $w$ is the distance betweeen the two wheels.</p>

<p>The accuracy of this technique is inversely proportional to the size of the time steps ($\Delta{t}$), and will accumulate error over time.  You can improve estimation if you have a compass, as you can detect some slippage of the wheels by comparing the actual vs expected orientation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1870" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1870">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1870" class = 'collapse'>
			</div>
				<textarea id = "speech-1870" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1870">
					<img id="start_img-1870" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1870">Comment</button>
			<br><div id = "ans-1873"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1873" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With a vehicle with steered wheels the simple approach is to calculate the centre of rotation for the vehicle and then, given the speed of the vehicle, the distance travelled around the arc can be calculated. This results in a change in position and heading. </p>

<p>The centre of rotation can be determined by projecting lines along the axles of the four wheels and finding where they intersect. Normally the rear wheels are non steering so they project a line along the rear axle line. If the steering geometry is 100% Ackermann, the lines projected from the front axles will intersect at the same point on the rear axle line, giving the centre of rotation.</p>

<p>The 'AckerMann Steering Geometry' and 'Slip Angle' entries on Wikipedia cover this quite nicely without getting bogged down in the maths.</p>

<p>Note that this is a simple model which ignores wheel slip, static toe etc</p>

<p>A slightly more complex approach is to calculate the angle of the wheels relative to the motion of the vehicle (aka the slip angle) and then determine the force vector generated by each wheel. 
Each wheel has a longitudinal force (rolling resistance and driving/braking torque) and a lateral force (generated by the slip) which combine to give the force vector.
Each of these forces act upon the vehicle to give a net acceleration (both linear and rotational)</p>

<p>This approach requires knowledge of the wheel loads and, at the least, an estimation of the tyre slip-force curves, although you could assume the force is linearly dependent on slip angle for low speed modelling.</p>

<p>If you want to really simplify matters you can treat the vehicle as a bicycle model i.e. two wheels on the centreline, one steering.
The position calculation can then be approximated by using the steering angle to generate a rotation around the centre of gravity (the steering angle is roughly proportional to a force which acts along the axle line of the wheel) and then travel in a straight line using the vehicle velocity over the sampling interval. In some regards this is similar to the calculations required for a tracked vehicle.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1873" data-toggle = "popover">
				<p>user name : Matthew Gordon</p>
				<p> user reputation : 303</p>
				<p class = "tagcontent" id = "usertaginfo-1873">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1873" class = 'collapse'>
			</div>
				<textarea id = "speech-1873" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1873">
					<img id="start_img-1873" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1873">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>