<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Question was locked and put on hold, but the banners only show 'on hold' and migration
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1898" class = "post">
			<h2>Question</h2>
			<div id="vote-1898" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 37</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Question was locked and put on hold, but the banners only show 'on hold' and migration</h2>
<p>Came across this question:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/114081/enforcing-single-document-copy-in-ios">Enforcing single docent copy in iOS [on hold]</a></li>
</ul>

<p>It's on hold and locked, according to timeline, and I can't comment/edit </p>

<p><img src="https://i.stack.imgur.com/TyLFy.png" width="300"></p>

<p><img src="https://i.stack.imgur.com/QXbdi.png" height="60"><img src="https://i.stack.imgur.com/QPKwg.png" height="30"></p>

<p>Yet the banners below the post only shows the migration and the 'on hold' state, with no mention of the lock:</p>

<p><img src="https://i.stack.imgur.com/yrrJk.png"></p>

<p>Is this <a href="/questions/tagged/status-bydesign" class="post-tag moderator-tag" title="show questions tagged &#39;status-bydesign&#39;" rel="tag">status-bydesign</a>? I've tagged this as <a href="/questions/tagged/support" class="post-tag required-tag" title="show questions tagged &#39;support&#39;" rel="tag">support</a> instead of <a href="/questions/tagged/bug" class="post-tag required-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a> because I'm not sure yet.</p>

<p><em>If so, there seems to be a further problem, since the 'on hold' banner says 'please edit the question' which can't happen because it's locked </em></p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1898" class = 'collapse'>
			</div>
				<textarea id = "speech-1898" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1898">
					<img id="start_img-1898" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1898">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1899"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1899" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've cleared the lock. Thanks for spotting the anomaly. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1899">Load Comments</button></br>
			<div id = "commentsection-1899" class = 'collapse'>
			<div id = "comment-3668" class = "comment">
				<p>Does that mean that this is a bug? What exactly happened here   should there have been a 'locked' banner as well as the 'on hold' banner?</p>
			</div>
			<div id = "comment-3671" class = "comment">
				<p>It's not clear if the lock came from the sending site or was a glitch. We get so few migrations into the site, that it's a rare occurrence when a moderator closes a question soon after migration and then community locks the post.</p>
			</div>
			<div id = "comment-3672" class = "comment">
				<p>I know I didn't intend for it to be locked; just put on hold. But given that the OP doesn't have an account here, I'm not hopeful that it will be edited into something useful.</p>
			</div>
			<div id = "comment-3685" class = "comment">
				<p>Just noticed this question on Meta.SO: http://meta.stackexchange.com/questions/147766/what-is-the-reason-for-locking-a-question-migrated-from-another-site-that-is-the Seems the answer is an answer to this too </p>
			</div>
			</div>
				<textarea id = "speech-1899" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1899">
					<img id="start_img-1899" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1899">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>