<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Questions asking "Has anyone else experienced this?"
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2280" class = "post">
			<h2>Question</h2>
			<div id="vote-2280" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Questions asking "Has anyone else experienced this?"</h2>
<p>I'm seeing a fair number of questions that describe a problem then ask whether anyone else has experienced the problem. This invites a host of "yes, I've had that problem" (or worse, but less common, "no, that hasn't happened to me") answers. Ordinarily "I've got that problem too" gets deleted as a non-answer, but in this case, it actually answers the OP's question.</p>

<p>The problem is,the question as asked literally invites all of humanity to chime in with yes, me too or no, not me. This is not a question that provokes helpful answers.</p>

<p>What can we do to discourage the question "has anyone else experienced this problem" in favor of something that provokes better responses?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2280" class = 'collapse'>
			</div>
				<textarea id = "speech-2280" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2280">
					<img id="start_img-2280" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2280">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2281"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2281" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It may be enough to just have a look at the Help Center entry about <a href="https://apple.stackexchange.com/help/dont-ask">What types of questions should I avoid asking?</a>:</p>

<blockquote>
  <p>[...] avoid asking subjective questions where ...</p>
  
  <ul>
  <li>every answer is equally valid:  What s your favorite ______? </li>
  <li>your answer is provided along with the question, and you expect more answers:  I use ______ for ______, what do you use? </li>
  <li><strong>there is no actual problem to be solved:  I m curious if other people feel like I do. </strong></li>
  <li>you are asking an open-ended, hypothetical question:  What if ______ happened? </li>
  <li>your question is just a rant in disguise:  ______ sucks, am I right? </li>
  </ul>
</blockquote>

<p>So I would invite everybody to either edit these kind of questions into something which can be answered in a way which solves the problem or at least flag those questions. And (because the site is supposed to be self-moderating) I want to encourage everybody to give the "edit" option a try :-)</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2281" class = 'collapse'>
			</div>
				<textarea id = "speech-2281" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2281">
					<img id="start_img-2281" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2281">Comment</button>
			<br><div id = "ans-2282"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2282" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We have one site-specific close reason left which we could actually use to close questions which do not ask for an actual solution. Kind of like the "not a real question" reason we had in the past, but a bit more specific.</p>

<p>PS: Had to use two different answers to give people a chance to upvote answers based on preferences</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2282" class = 'collapse'>
			</div>
				<textarea id = "speech-2282" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2282">
					<img id="start_img-2282" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2282">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>