<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Question for those who have experience using stereo cameras~module (e.g. ZED, DUO M, Bumblebee, etc.)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7549" class = "post">
			<h2>Question</h2>
			<div id="vote-7549" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2341</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Question for those who have experience using stereo cameras~module (e.g. ZED, DUO M, Bumblebee, etc.)</h2>
<p>This is a question for those of you who have experience using stereo cameras/modules like the ZED, DUO M, Bumblebee cameras, etc. (not TOF cameras). I can't find any sample disparity outputs out there on the internet, and I can't find any information on how they perform. Basically here are a few things I'd like to know to those of you who used any of the cameras mentioned above (and others)</p>

<ol>
<li>What resolution and no. of disparities did you work with? </li>
<li>How was the framerate? </li>
<li>On what hardware?</li>
<li>Did the camera have an ASIC of some sort to produce the disparity maps, or did it require a host?</li>
<li>How was the quality?</li>
</ol>

<p>For those who used the ZED camera, there is a <a href="http://youtube.com/watch?v=P-QEnnMHYt0" rel="nofollow">promotional video on youtube</a>. Are the disparity maps really that good?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7549" data-toggle = "popover">
				<p>user name : renzbagaporo</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7549">{'stereo-vision': 2, 'None': 0, 'cameras': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7549">Load Comments</button></br>
			<div id = "commentsection-7549" class = 'collapse'>
			<div id = "comment-13939" class = "comment">
				<p>I used a multisense S7 briefly and was pretty happy with the results. All the computation is onboard and draws only 20W of power if I remember correctly (FPGA).</p>
			</div>
			</div>
				<textarea id = "speech-7549" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7549">
					<img id="start_img-7549" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7549">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7594"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7594" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can't speak for the others, but the Bumblebee2 simply gives you a synchronized pair of images, and some calibration parameters.  You need a host computer to compute the stereo correspondence.  </p>

<p>For all stereo cameras, the quality of output and "number of disparities" will greatly depend on the scene.  Stereo matching requires salient features to be found in both images.  So looking at large solid color walls, tabletops, and things like that return very few matches.  However, natural scenes, and scenes with texture and clutter perform much better.</p>

<p>FYI, the <a href="http://click.intel.com/intel-realsense-developer-kit.html" rel="nofollow">Intel RealSense</a> gets around some of these limitations by projecting an IR texture in the scene, then doing regular stereo matching.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7594" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7594">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7594">Load Comments</button></br>
			<div id = "commentsection-7594" class = 'collapse'>
			<div id = "comment-10958" class = "comment">
				<p>I did not know that about the RealSense camera. I thought it was TOF.</p>
			</div>
			</div>
				<textarea id = "speech-7594" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7594">
					<img id="start_img-7594" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7594">Comment</button>
			<br><div id = "ans-8754"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8754" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My experience with ready-made stereo solutions is that they (as @Ben has said) provide you with synchronized image pairs and well-defined baseline geometry.</p>

<p>If you are on a low-budget, and you have the capability to fabricate your own stereo rig, then I'd suggest making your own aluminium stereo rig and buying two identical cameras and lenses, as you can choose your own baseline geometry. The cameras can be synced using trigger output from one camera to the trigger input to the next.</p>

<p>To generate disparity maps from that point is then a design choice for your system and is generally a trade-off between accuracy, robustness and speed. 
For example; a system using sparse matching will estimate depth rather poorly (after interpolation) but this will be quick, and may be adequate for your purposes. More common is the use of a dense matching algorithm which can be slow, but GPU parallelism gives significant processing time reduction.</p>

<p>Some references:</p>

<ul>
<li><a href="http://83.212.134.96/robotics/wp-content/uploads/2011/12/review-of-stereo-matching-algorithms-for-3d-vision.pdf" rel="nofollow">Table 1 in this paper</a></li>
<li><a href="http://soe.rutgers.edu/~meer/TEACHTOO/PAPERS/Szeliskistereodraft.pdf" rel="nofollow">A good overview and detail in this thesis</a></li>
</ul>

<p>EDIT:
I've now tried both the Realsense F200 and R200 and I've seen the ZED in action via a colleague. The F200 is coded-light monocular, the R200 is infrared-stereo with an additional projected texture for better disparity matching. Both are less than $200USD and work at around 30FPS and do the <strong>depth calculation on-board</strong>. The F200 gives much smaller spatial and depth resolution at the cost of poor performance after about 1.5m or in sunlight. The R200 has poor performance at close ranges &lt;1m.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8754" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-8754">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8754" class = 'collapse'>
			</div>
				<textarea id = "speech-8754" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8754">
					<img id="start_img-8754" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8754">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>