<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Question about what motor to use for opening window
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10286" class = "post">
			<h2>Question</h2>
			<div id="vote-10286" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 131</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Question about what motor to use for opening window</h2>
<p>first off, just to be transparent, I'm a total newbie when it comes to DC motors (and pretty much anything robotic). </p>

<p>I've got a couch that's right up to a window with the lever type openings (anderson windows). With the couch, I have no clearance to turn the lever to open it. Given I've replaced most of my house switches/outlets with home automatable ones, I figured I'd see if I can build myself a small motor that I can automate to open these also. To be absolutely honest, I've got no clue where to start. I have no problem with coding the automation part, but I don't even know what kind of motors to look for that would be able to turn my knob (or rather how to actuate the thing my knob connects to)...</p>

<p>Help!</p>

<p>Thanks :)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10286" data-toggle = "popover">
				<p>user name : John</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-10286">{'None': 0, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10286">Load Comments</button></br>
			<div id = "commentsection-10286" class = 'collapse'>
			<div id = "comment-18426" class = "comment">
				<p>Could you include an image of the window? Or link to the product? "* lever type openings"* is kind of vague. In Europe pretty much all windows are lever type and can usually open in several ways. It order to give a helpful answer, it'd be helpful to know exactly how the window moves.</p>
			</div>
			</div>
				<textarea id = "speech-10286" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10286">
					<img id="start_img-10286" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10286">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10290"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10290" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The standard way to control a window in the industry is actually with a linear chain actuator. I am in the construction business, and linear chain actuators are often used to control skylights. They are easy to set a repeatable distance, typically have a pin at the end with can disconnect the window from the system easily, and are time proven in the field. </p>

<p>DC motors would require a feedback loop, which I think is overkill for this, not to mention that casement style windows like this require a fair amount of torque, so a dc motor this size might get a little on the heavy/expensive side. </p>

<p>Steppers would work well, except for the fact that they can skip steps, and are somewhat loud.</p>

<p>You may be able to adapt an electric skylight opener. Also look into installing a rain sensor, that will close the window if it detects moisture.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10290" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-10290">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10290">Load Comments</button></br>
			<div id = "commentsection-10290" class = 'collapse'>
			<div id = "comment-18423" class = "comment">
				<p>I'm not too concerned about noise as this is mostly for daytime use. 
Since I don't have much room, would you use a stepper motor with some sort of belt to turn the crank?

The problem with going linear is that I have to alter the window itself to do that rather than automate the turning of the lever...</p>
			</div>
			<div id = "comment-18623" class = "comment">
				<p>While you might need to modify the window, it should be fairly simple given the way that casement windows typically open. Remove a few nuts and bolts from them and you can remove the crank and mount the end of the actuator there. If you want a rotary solution, the motor will need to be mounted, otherwise the motor will turn and not the crank, this is probably going to be more work than modifying the window.</p>
			</div>
			</div>
				<textarea id = "speech-10290" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10290">
					<img id="start_img-10290" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10290">Comment</button>
			<br><div id = "ans-10293"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10293" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The other answers advocate the use of stepper motors.  They can be easy to control by just sending a certain number of pulses to the stepper controller.  However, they do not guarantee that you will not attempt to overtravel the mechanism.  Steppers can slip, or miss steps, if the torque is marginal.  If that happens going one direction, you will likely try to overtravel in the return direction. </p>

<p>I don't know of any motor that is easier for a newbie to control than a brushed dc motor.   To get it to rotate you just apply the proper voltage across the windings.  This is easily done using a relay.   Rotation in the other direction is accomplished by applying the same voltage, but opposite polarity, to the same windings.  </p>

<p>If you needed to control the motion profile accurately then you'd need some sort of position feedback, such as an encoder.  If this was the case then steppers would be more relevant. But your application does not require that.  You simply need a switch to be made when the window is opened, and another switch when the window is closed.   Simple.  </p>

<p>Be careful, though.  Manually opening and closing the window lets the operator stop motion if pets or fingers are in the way.  By doing this automatically you need to make sure no fingers or tails will be chopped off by the motion.   That is a bigger challenge unless you will always be present and watching the window when you open or close it.  </p>

<p>In response to the question you ask in the comment ("Do they provide some feedback back to the code if, for example, something was holding the window back?"):  you can monitor the current to the motor.  That is proportional to the motor's torque.  This signal is usually pretty noisy, though, so you would likely need to low-pass filter it either using a capacitor, or in your software.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10293" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-10293">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10293">Load Comments</button></br>
			<div id = "commentsection-10293" class = 'collapse'>
			<div id = "comment-18424" class = "comment">
				<p>Do these have resistance detection thresholds? I.e. I should expect fairly consistent torque based on what I believe the position of the window is. Do they provide some feedback back to the code if, for example, something was holding the window back? 

If that's the case, then I may not need to care about a stepper motor and monitoring current position. An Open command can keep going until I hit a certain resistance (or I interrupt it), same with close...</p>
			</div>
			<div id = "comment-18425" class = "comment">
				<p>Edited my answer to address this question.</p>
			</div>
			</div>
				<textarea id = "speech-10293" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10293">
					<img id="start_img-10293" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10293">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>