<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Raspberry Pi for two wheel robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2639" class = "post">
			<h2>Question</h2>
			<div id="vote-2639" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 503</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Raspberry Pi for two wheel robot?</h2>
<p>I want to create a two wheel remote controlled robot. I have worked out a lot of the logic with regards to balancing. I have started to read up on motor control and arduino vs beagleboard black vs raspberry pi.</p>

<p>Is the multitasking nature of a full linux OS a problem I need to be concerned with for this application?</p>

<p>I expect that I have to adjust the motors at least 20 times per second, but I don't think a slight variation in the update loop interval to be a problem. Possibly, I will face problems if I need to do PWM myself?</p>

<p>Basically, the way I plan to make the robot work is by using an accelerometer to have a reference to where down is. The robot will autonomously work to keep the direction of the accelerometer down. The remote control will simply adjust the readings from the accelerometer, and the balancing loop will then react as if the robot is falling and accelerate the wheels.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2639" data-toggle = "popover">
				<p>user name : frodeborli</p>
				<p> user reputation : 152</p>
				<p class = "tagcontent" id = "usertaginfo-2639">{'control': 1, 'None': 1, 'raspberry-pi': 1, 'arduino': 3, 'battery': 1, 'stepper-driver': 2, 'cnc': 2, 'motor': 0, 'real-time': 1, 'reprap': 2, 'stepper-motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2639">Load Comments</button></br>
			<div id = "commentsection-2639" class = 'collapse'>
			<div id = "comment-5001" class = "comment">
				<p>I don't think it relates to the question, but I just thought to put it out there. You would need to look into control algorithms such as PID or PI. They will help you generate a PWM value from the error amount (difference from the reference point), but they need some calibrating and some trial and error to calculate the constants...</p>
			</div>
			<div id = "comment-5009" class = "comment">
				<p>I've never heard about the PID algorithm, but it looks like the approach I was going to take intuitively. I've been thinking for a long time about this. The only thing I'm worried about is, how can I attach "arbitrary" mass to the robot (changing its center of gravity), and make it maintain its position - i.e. not start moving in a direction.</p>
			</div>
			<div id = "comment-5020" class = "comment">
				<p>Use interrupts. You can be sure youll get an even distribution of short tasks 20 times a second if you run it on an interrupt.  All other tasks on the CPU will be preempted during an interrupt.</p>
			</div>
			</div>
				<textarea id = "speech-2639" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2639">
					<img id="start_img-2639" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2639">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2647"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2647" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With an Arduino, you are guaranteed to have dedicated processing power for your balancing application.  That said, the calculations for PID control are not terribly complicated and I would be very surprised to hear that a Raspberry Pi could not keep up with 20 calculations per second, even under load.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2647" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2647">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2647">Load Comments</button></br>
			<div id = "commentsection-2647" class = 'collapse'>
			<div id = "comment-5010" class = "comment">
				<p>The problem would be if I could expect a "hang" of say 100-200 ms at arbitrary times. If all the 20 calculations are performed at the end of a second, it doesn't help much.</p>
			</div>
			<div id = "comment-6737" class = "comment">
				<p>If you're worried about hangs due to multitasking, you could always increase the priority of the process that does the balancing.  I'm not sure what operations would cause your system to hang for 100-200ms (assuming you are not using blocking I/O in the thread that does the balancing).</p>
			</div>
			</div>
				<textarea id = "speech-2647" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2647">
					<img id="start_img-2647" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2647">Comment</button>
			<br><div id = "ans-3204"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3204" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A Raspberry Pi should be sufficient for the control you intend to do with it.</p>

<p>In designing a controller under a full multitasking operating system, like the Linux operating systems that are available for the Raspberry Pi, you have to be careful about the real-time requirements, and if the time share chunk of processor made available to your software will be enough to keep up with the rt nature of cyber-physical interactions.</p>

<p>In small words: if you don't run much beyond the controller code in the RPi, it should suffice, but if you want to have other pieces of code running, like some higher level supervisory control or even a Java virtual machine for some reason, you will have to assess the response time, and even take the risk of some runaway thread end up blocking your controller for some time.</p>

<p>The solution for that, and if you take it you will most likely have no headaches in the process, is to have non-preemptive multi-tasking OS, or, even better, a Real Time OS running on the Raspberry Pi.</p>

<p>And you can have both (not at the same time, of course!). Raspberry Pi has support for the <a href="http://www.raspberrypi.org/risc-os-for-raspberry-pi/" rel="nofollow">RISC OS</a> Operating System, which employs cooperative multitasking, where you can give absolute priority for the control loop, and only run other pieces of code once the control loop is done for the cycle.</p>

<p>And, my personal best, you have <a href="http://www.xenomai.org/" rel="nofollow">Xenomai</a> running on it. Xenomai is a hard real-time supervisor that has Linux running under it, so you can have a full deploy of a Linux machine, with all the benefits of having all the pre-packaged software and other amenities, and you also have a Real Time layer where you can run your control loop without any risks of getting interrupted out of time. You can find instructions on how to have Xenomai installed on the RPi <a href="http://www.raspberrypi.org/forums/viewtopic.php?f=28&amp;t=50184" rel="nofollow">here</a>. There used to be a ready SD image of it available, but it seems to have gone offline at this time.</p>

<p><strong>EDIT:</strong> A ready to install SD image of Xenomai for the Raspberry Pi can be downloaded from <a href="http://diy.powet.eu/2012/07/25/raspberry-pi-xenomai/" rel="nofollow">this link</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3204" data-toggle = "popover">
				<p>user name : Marco Poli</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-3204">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3204" class = 'collapse'>
			</div>
				<textarea id = "speech-3204" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3204">
					<img id="start_img-3204" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3204">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>