<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Raspberry Pi operating system for robotics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-667" class = "post">
			<h2>Question</h2>
			<div id="vote-667" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 601</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Raspberry Pi operating system for robotics</h2>
<p>Is there an operating system for the Raspberry Pi that is specifically made for running robotics applications? Or an operating system whose purpose is to optimized just to run a few specific programs?</p>

<p>I've been working with an Arduino for a while now. As far as efficiency goes, it makes sense to me to just upload a specific set of commands and have the hardware only need to handle that, and not have to worry about running a full fledged operating system. Is something like this possible to do on a Raspberry Pi?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-667" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-667">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-667" class = 'collapse'>
			</div>
				<textarea id = "speech-667" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-667">
					<img id="start_img-667" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-667">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-668"  class = "post">
				<h2>Answer</h2>
			<div id="vote-668" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are asking two different things. 1) Is there a robotics-specific operating system, and 2) Is it possible to do hardware-level control on an R-Pi without messing around with an operating system. This is sort of a false dichotomy, as an operating system is a benefit, not a cost, unless you are <em>severely</em> constrained for processing power.</p>

<p>Microcontrolers (Arduino) are designed to handle time-critical things, and usually only one or two time critical things. They are great for turning wheels, etc. When it comes to high level planning, a high-level language / libraries are very helpful. As are multi-threaded applications, etc. This is where your OS comes in. Without further details about your project, I can't help you decide what is the best fit: Arduino or R-Pi.</p>

<p>To answer 1: Yes, just google around.</p>

<p>To answer 2: Yes, the hardware interfaces IO are available to code API's. But you'll need (want) something like this:</p>

<p>You -> OS -> microcontroller -> hardware.</p>

<p>See <a href="https://robotics.stackexchange.com/a/610/37">This excellent answer</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-668" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-668">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-668">Load Comments</button></br>
			<div id = "commentsection-668" class = 'collapse'>
			<div id = "comment-844" class = "comment">
				<p>Hi Josh, if you want to link to an answer (or question) it's best to click on the *share* link below that answer (or question) as these links are permanent. The url you used in your "This excellent answer" link is to the question page and is non-portable, thus it may break if the question title changes. I presume you were referring to [this answer](http://robotics.stackexchange.com/a/610/37) instead.</p>
			</div>
			</div>
				<textarea id = "speech-668" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-668">
					<img id="start_img-668" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-668">Comment</button>
			<br><div id = "ans-669"  class = "post">
				<h2>Answer</h2>
			<div id="vote-669" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From your question, what you might be interested in is an RTOS for microcontrollers. A very popular one is <a href="http://www.freertos.org/" rel="nofollow">FreeRTOS</a>, which apparently was <a href="https://github.com/everslick/piratos" rel="nofollow">ported to Raspberry Pi</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-669" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-669">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-669" class = 'collapse'>
			</div>
				<textarea id = "speech-669" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-669">
					<img id="start_img-669" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-669">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>