<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Raspberry Pi vs BeagleBone Black Rev C on vending machine
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4954" class = "post">
			<h2>Question</h2>
			<div id="vote-4954" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1217</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Raspberry Pi vs BeagleBone Black Rev C on vending machine</h2>
<p>I wish to start my vending business, but none of the existing vending machines fit my needs.
So, I need to choose the "brains" to my vending machine under current development.</p>

<p>The user experience of my vending machine will be:</p>

<blockquote>
  <p>User change their products on touchscreen display (firegox open rails application running in the "brains"), insert moneys, after that products will be returned to the user and notification (json query) will be send to it saas.</p>
</blockquote>

<p>There are requirements:</p>

<ol>
<li>Popular (I want to use a widely used computer for better support)</li>
<li>Debian-like or CentOs like system (easy to develop rails apps on them)</li>
<li>Big count of GPIOs</li>
<li>Working with touch-screen and large display (at least 15")</li>
<li>Working with mdb protocol (for currency detector needs)</li>
</ol>

<p>So, I need your hints. It seems that BeagleBone is more powerful then Raspberry Pi, but there is one problem: It doesn't support many of the video outputs. Is there any solution to make good video output on BeagleBone? Do other such computers exist?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4954" data-toggle = "popover">
				<p>user name : asiniy</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-4954">{'None': 0, 'raspberry-pi': 2, 'arduino': 1, 'design': 2, 'beagle-bone': 1, 'actuator': 2, 'electronics': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4954">Load Comments</button></br>
			<div id = "commentsection-4954" class = 'collapse'>
			<div id = "comment-7741" class = "comment">
				<p>Neither is really suitable for a production product - both are designed for prototyping and rapid-development!</p>
			</div>
			<div id = "comment-7937" class = "comment">
				<p>Side note: if your vending machine failed to give the product, please give back the money!!</p>
			</div>
			<div id = "comment-7960" class = "comment">
				<p>@Andrew can you offer me a cob which designed for rapid-development & production mode?</p>
			</div>
			<div id = "comment-7961" class = "comment">
				<p>@asiniy - no... you would design your own PCB</p>
			</div>
			<div id = "comment-14162" class = "comment">
				<p>If you want to use Multi-drop Bus (as opposed to CCtalk), you need a true 9 data bit serial port (ignore any hacks which tell you to use the parity bit as the 9th data bit - they have timing problems)</p>
			</div>
			</div>
				<textarea id = "speech-4954" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4954">
					<img id="start_img-4954" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4954">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4977"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4977" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would recommend sticking to Raspberry Pi for few reasons:</p>

<ol>
<li>Popularity - Raspberry gives 30,900,000 results in Google and Beagle Bone Black only 1,900,000.</li>
<li>Raspi have Raspian - Debian for ARM</li>
<li>Raspberry could easily drive even 32' or more HD display. Beagle has some limitations on resolution. </li>
<li><p>Raspberry will work with MDB protocol if you buy some hardware (MDB to RS232) Example here: <a href="http://www.waferstar.com/en/MDB-PC.html" rel="nofollow">http://www.waferstar.com/en/MDB-PC.html</a></p></li>
<li><p>Future proof - you could use compute module if you wish to make your product modular. </p></li>
</ol>

<p>Reasons for Beagle Bone Black
3. Pin count - 96 vs 40 for Raspberry.</p>

<p>I think that you design with using web browser only to connect to Ruby on Rails application could be too much for embedded design because this could be achieved with Tkinter for Python or similar <a href="http://visualruby.net/" rel="nofollow">http://visualruby.net/</a> if you want to use Ruby language. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4977" data-toggle = "popover">
				<p>user name : Kacper Wikie </p>
				<p> user reputation : 161</p>
				<p class = "tagcontent" id = "usertaginfo-4977">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4977">Load Comments</button></br>
			<div id = "commentsection-4977" class = 'collapse'>
			<div id = "comment-7733" class = "comment">
				<p>Also I don't see how the greater computational power of a Beagle Bone has an advantage when it comes to a vending machine. Also yes, it has more GPIOs but in a case of a Raspberry Pi you can always add more by adding a shield (this can also be done with a Beagle Bone of course). Even if you only want to make coffee/hot chocolate etc. you will still need additional boards to control the various motors you will have to integrate in the system.</p>
			</div>
			</div>
				<textarea id = "speech-4977" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4977">
					<img id="start_img-4977" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4977">Comment</button>
			<br><div id = "ans-5163"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5163" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><img src="https://i.stack.imgur.com/y2Rwb.png" alt="enter image description here"></p>

<p>Check out the new Raspberry Pi Compute module, it was created for things like this. </p>

<p>And you can begin development on a regular raspberry pi in the meantime.  </p>

<p>I personally believe the Raspberry Pi is completely years ahead of everything else goes as far as maturity and suitability for use in production, as evidenced by this new compute card targeted at embedded system, above and beyond just prototyping.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5163" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-5163">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5163">Load Comments</button></br>
			<div id = "commentsection-5163" class = 'collapse'>
			<div id = "comment-13865" class = "comment">
				<p>For URLs, try https://www.raspberrypi.org/blog/raspberry-pi-compute-module-new-product/ and https://www.raspberrypi.org/products/compute-module/ - however, please note my comment above. @Spiked3 can this handle true 9-data bit serial data?</p>
			</div>
			</div>
				<textarea id = "speech-5163" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5163">
					<img id="start_img-5163" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5163">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>