<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Razor IMU Arduino interfacing
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1864" class = "post">
			<h2>Question</h2>
			<div id="vote-1864" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 5895</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Razor IMU Arduino interfacing</h2>
<p>I was looking into the  Razor IMU from Sparkfun, and realized that the only example code on sparkfun's website was for it was meant for hooking it up to a computer (the AHRS head tracker used a serial to usb chip). I looked on google and saw nothing but stories about how it did not work. </p>

<p>Is there any good way to hook up the  Razor IMU to an arduino uno (or any arduino without hardware support for more than one serial port), and if so does example code exist?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1864" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-1864">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1864">Load Comments</button></br>
			<div id = "commentsection-1864" class = 'collapse'>
			<div id = "comment-13470" class = "comment">
				<p>I have the same question regarding direct interfacing between Arduino Mega board and Razor 9DOF IMU.</p>
			</div>
			</div>
				<textarea id = "speech-1864" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1864">
					<img id="start_img-1864" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1864">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1869"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1869" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Razor IMU has an ATmega328 microcontroller on board that can be programmed with the Arduino IDE according to <a href="https://www.sparkfun.com/products/10736" rel="nofollow">sparkfun's product page</a>. You could use the tx/rx pins (serial communication) to connect to your other Arduino's rx/tx pins (tx to rx, tx to rx) and program a communication protocol to pass data from the Razor IMU to the Arduino Uno. The Razor IMU probably already has code on board to do this. It's a matter of writing the Uno's code to request and receive the data. The Razor IMU uses 3.3V logic so make sure you use an arduino variant that uses 3.3V or use a level shifter.</p>

<p>Another option is to <a href="http://trandi.wordpress.com/2011/01/03/razor-9dof-imu-i2c-to-arduino/" rel="nofollow">hack an I2C connection</a>. This involves soldering to a pin ATmega328 and modifying some of its code.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1869" data-toggle = "popover">
				<p>user name : brnd4n</p>
				<p> user reputation : 301</p>
				<p class = "tagcontent" id = "usertaginfo-1869">{'None': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1869" class = 'collapse'>
			</div>
				<textarea id = "speech-1869" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1869">
					<img id="start_img-1869" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1869">Comment</button>
			<br><div id = "ans-1921"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1921" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>by searching for a different topic I found your post and I work with the Sparkfun Razor 9DOF IMU too. Actually it was a pain in the ass to get it all work.</p>

<p>First of all you have to do the tutorial <a href="https://github.com/ptrbrtz/razor-9dof-ahrs/wiki/Tutorial" rel="nofollow">razor-9dof-ahrs</a> form ptrbrtz. When this is working you can do the next steps. Btw.: read it carefully and you should be able to do it on your own!!!</p>

<p>First I tried to get it work with an Arduino Uno and a SoftwareSerial. Sadly I wasn t able to get it work with a SoftwareSerial, I received with Text and Binary output only rubbish data. I worked a whole day on this topic and I wasn t able to do it and I could say I have a lot experience with Arduino programming. If you are able to get it work with a SoftwareSerial please post an answear.</p>

<p>With the Uno I was only able to receive data with this configuration: <a href="http://blog.mobileapes.com/2010/09/read-data-from-9dof-razor-imu-via.html" rel="nofollow">http://blog.mobileapes.com/2010/09/read-data-from-9dof-razor-imu-via.html</a>
But be aware the TX should go to RX and the RX to TX!!! The description in the picture (Rx to Rx and Tx to Tx) is false.</p>

<p>If you are able to use an Arduino MEGA, which has at least 4 UARTs, you could use the code I developed. Once I get it work on an Uno but I searched for the Code and I didn t found it anymore, with a little try and fail you should be able to do it. But be aware, if you are sending data to the PC and receiving data from to IMU on only one UART, you could probably negatively influence the serial communication.</p>

<pre><code>/**************************** INFO ********************************/

// This code expects a message in the format: H 12.00,-345.00,678.00

/******************************************************************/

#include &lt;TextFinder.h&gt;

/*** Defines the frequency at which the data is requested ***/
/*** frequency f=1/T, T=period; ie. 100ms --&gt; f=10Hz, 200ms --&gt; f=5Hz ***/
#define PERIOD      100 // [ms]

/*** Vars for IMU ***/
TextFinder  finder(Serial3);  
const int NUMBER_OF_FIELDS = 3; // how many comma seperated fields we expect                                           
float rpy[NUMBER_OF_FIELDS];    // array holding values for all the fields

/************************************************************/
/*** Setup
/************************************************************/
void setup()
{
  Serial.begin(57600);  // init the Serial port to print the data to PC
  Serial3.begin(57600); // init the Serial3 port to get data from the IMU

  delay(500);

  initIMU();
}

/************************************************************/
/*** Loop
/************************************************************/
void loop()
{
  // print manager timer
  static unsigned long timer = 0;
  static unsigned long currentTime = 0;

  /************************************************************/
  /*** Request after a specific period for the data
  /************************************************************/
  currentTime = millis();
  if(currentTime - timer &gt;= PERIOD)
  {
    // Request one output frame from the IMU
    // #f only requests one reply, replies are still bound to the internal 20ms (50Hz) time raster.
    // So worst case delay that #f can add is 19.99ms.
    Serial3.write("#f");

    /************************************************************/
    /*** Get the IMU values
    /************************************************************/

    // the current field being received
    int fieldIndex = 0;            

    // search the Serial Buffer as long as the header character is found
    boolean found_HeaderChar = finder.find("H");

    if (found_HeaderChar)
    {
      // Get all 3 values (yaw, pitch, roll) from the Serial Buffer
      while(fieldIndex &lt; NUMBER_OF_FIELDS)
      {
        rpy[fieldIndex++] = finder.getFloat();
      }
    }

    /************************************************************/
    /*** Print out the values
    /*** Format: yaw, pitch, roll, left_Encoder, right_Encoder
    /************************************************************/
    if (found_HeaderChar)
    {
      // print Interval
      Serial.print(currentTime - timer);
      Serial.print(",");

      // print IMU values
      for(fieldIndex=0; fieldIndex &lt; NUMBER_OF_FIELDS; fieldIndex++)
      {
        Serial.print(rpy[fieldIndex]);
        Serial.print(",");
      }
      Serial.println("");
    }

    timer = millis();
  }
}

/********************************/
/*** Initialize Functions
/********************************/

void initIMU()
{
  // Output angles in TEXT format &amp; Turn off continuous streaming output &amp; Disable error message output
  Serial3.write("#ot#o0#oe0");
  Serial3.flush();
}
</code></pre>

<p>Edit: Oh I forgot to say that you must edit the Output.ino from the Razor AHRS Firmware. search for the function "output_angles()" and change it to:</p>

<pre><code>// Output angles: yaw, pitch, roll
void output_angles()
{
  if (output_format == OUTPUT__FORMAT_BINARY)
  {
    float ypr[3];  
    ypr[0] = TO_DEG(yaw);
    ypr[1] = TO_DEG(pitch);
    ypr[2] = TO_DEG(roll);

    Serial.write((byte*) ypr, 12);  // No new-line
  }
  else if (output_format == OUTPUT__FORMAT_TEXT)
  {
    Serial.print("H ");
    Serial.print(TO_DEG(yaw)); Serial.print(",");
    Serial.print(TO_DEG(pitch)); Serial.print(",");
    Serial.print(TO_DEG(roll)); Serial.println();
  }
}
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1921" data-toggle = "popover">
				<p>user name : user2035</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-1921">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1921">Load Comments</button></br>
			<div id = "commentsection-1921" class = 'collapse'>
			<div id = "comment-4241" class = "comment">
				<p>It took me a few minutes to figure out to install the text finder library, but after that it worked like a dream. Thanks a lot!</p>
			</div>
			<div id = "comment-22610" class = "comment">
				<p>I've just found that post. I'm working right now on an HAB (High Altitude Balloon) and I need to program some sensors on Razor Imu 9dof but i really don't know how to work on it. I've really tried to follow all the AHRS tutorials but none of them it's working :/, even the [razor--9dof-ahrs](https://github.com/Razor-AHRS/razor-9dof-ahrs/wiki/Tutorial) isn't working or, at least, i can't make it work.</p>
			</div>
			</div>
				<textarea id = "speech-1921" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1921">
					<img id="start_img-1921" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1921">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>