<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>RC Helicopter Connect with computer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2446" class = "post">
			<h2>Question</h2>
			<div id="vote-2446" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 7161</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>RC Helicopter Connect with computer</h2>
<p>I am planing to control my RC helicopter with my computer. I have experience of programming in .Net. Could we use .Net to control RC helicopter? 
From where can I start this project?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2446" data-toggle = "popover">
				<p>user name : Waqas Aslam</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2446">{'control': 1, 'radio-control': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2446">Load Comments</button></br>
			<div id = "commentsection-2446" class = 'collapse'>
			<div id = "comment-4766" class = "comment">
				<p>Not an answer, but this may be of interest: [Computer control of RC helicopter](http://electronics.stackexchange.com/questions/14242/computer-control-of-rc-helicopter)</p>
			</div>
			<div id = "comment-4768" class = "comment">
				<p>Yes, as Tut points out, you can control a helicopter from a computer. However to offer any other assistance you really need to ask a more specific question. It helps to discuss what you have tried and what specific problem(s) you need assitasnce with. As it is currently formulated your question will probably be closed as being too broad.</p>
			</div>
			</div>
				<textarea id = "speech-2446" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2446">
					<img id="start_img-2446" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2446">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2447"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2447" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes you can do it and there are a number of different ways
as far as the language you choose its your choice because you can manipulate serial ports with any language. Think of an RC Heli as another computer. What comes to mind is you just need a medium for communication. Choosing what medium of course depends on how much data you want to send and receive and what range you want.</p>

<p>Example:</p>

<p><strong>Bluetooth:</strong> if you need only few meters range and small amount of data</p>

<p><strong>RC Transmitter</strong> Another way is to connect the RC transmitter to your computer directly. See this <a href="http://www.min.at/prinz/?x=entry%3aentry130320-204119" rel="nofollow">blog Post</a></p>

<p><strong>Wifi</strong> can also be used to communicate <a href="http://diydrones.com/profiles/blogs/hacking-a-rc-helicopter-for-wifi-router-control" rel="nofollow">see this Post</a></p>

<p>If you need more help give more details what you intend to do.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2447" data-toggle = "popover">
				<p>user name : Neo</p>
				<p> user reputation : 119</p>
				<p class = "tagcontent" id = "usertaginfo-2447">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2447" class = 'collapse'>
			</div>
				<textarea id = "speech-2447" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2447">
					<img id="start_img-2447" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2447">Comment</button>
			<br><div id = "ans-2448"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2448" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use onboard microcontroller like <a href="https://www.ghielectronics.com/catalog/product/450" rel="nofollow">FEZ cerb40</a> which you can program using .NET micro framework. You can use this to control servo and ESC. You can use <a href="https://www.sparkfun.com/products/8742" rel="nofollow">Xbee</a> or any similar wireless serial communication system to receive commands from your computer using serial terminal program.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2448" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-2448">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2448" class = 'collapse'>
			</div>
				<textarea id = "speech-2448" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2448">
					<img id="start_img-2448" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2448">Comment</button>
			<br><div id = "ans-2449"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2449" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Waqas, your question is a little vague. So the simple answer is of course why not. But do consider the following:</p>

<h2>What type of RC helicopter is it?</h2>

<p>RC helicopters come in many shape and sizes, and they require special mixing for each type. For example a collective pitch/roll helicopter uses different mixing than a non collective type RC. So given this you will have to think about how many different types do you wish to support.</p>

<p>In some cases the mixing is done onboard the helicopters most commonly known as FlightControllers(FC). At the same time some advanced Transmitters also do certain pre-mixing before sending commands to the FC.</p>

<h2>How do I connect to it?</h2>

<p>Again the possibilities here are endless. You can tether to it from your laptop, but then you are limited to how far it can go. How about instead you use an onboard controller which you can control using WiFi or bluetooth, try <a href="http://www.buildyourowndrone.co.uk/ArduPilot-Mega-s/36.htm" rel="nofollow">http://www.buildyourowndrone.co.uk/ArduPilot-Mega-s/36.htm</a>. You could build a program to send commands to your ArduPilot over UDP.</p>

<h2>How do I start tinkering?</h2>

<ul>
<li>Try maybe starting small, try controlling and RC car, trust me it is a lot easier to get past the initial problems, and you will experience the problems in easier dimensions.</li>
<li>See which parts you can pull out and replace with your application
<ul>
<li>Try to turn you PC into a transmitter</li>
</ul></li>
<li>When ready replace the Car with the Helicopter</li>
<li>If you wish try replacing the FC onboard the Helicopter with your custom version should you choose to.</li>
</ul>

<p>I am for learning actually doing something similar, by building an onboard framework use to control many types of RC vehicle <a href="http://dashee.co.uk" rel="nofollow">http://dashee.co.uk</a>. This is very much a work in progress, so I recommend you use ArduPilot to control an RC over Radio/Wifi using your .NET program.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2449" data-toggle = "popover">
				<p>user name : HAL9000</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-2449">{'None': 0, 'esc': 10, 'electronics': 10, 'raspberry-pi': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2449" class = 'collapse'>
			</div>
				<textarea id = "speech-2449" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2449">
					<img id="start_img-2449" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2449">Comment</button>
			<br><div id = "ans-2452"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2452" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've done a similar project before where I wrote the control program with .Net.</p>

<p>I think the first step is deciding how much of a role do you want the computer to play in controlling the helicopter.  If you want the helicopter to be rather autonomous and simply receive commands from the computer but decide how to execute those commands you will likely need to use a microcontroller on-board the helicopter.</p>

<p>If you want to control everything via transmitting sensor data from the helicopter and then having the computer do all the control, you won't need as much hardware on the helicopter itself. You will just need a wireless data link.</p>

<p>When I worked on my project, I used the first architecture because I didn't want loss of communication with the computer to result in a total loss of control.</p>

<p>Do you have microcontroller or assembly language experience?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2452" data-toggle = "popover">
				<p>user name : SomeEE</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-2452">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2452" class = 'collapse'>
			</div>
				<textarea id = "speech-2452" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2452">
					<img id="start_img-2452" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2452">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>