<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Reading Intention for exoskeletons motion estimation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11193" class = "post">
			<h2>Question</h2>
			<div id="vote-11193" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 133</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Reading Intention for exoskeletons motion estimation</h2>
<p>I'm interested in exoskeletons and wearable rehabilitation robotics. I wonder how we can estimate/predict the intention of human body/part motion. I want to prevent the exoskeleton from interfering with human movements.  Intention reading is the process of predicting how the movement will take place and how it will happen at the beginning of any movement.</p>

<p>There is an exoskeleton example (<a href="https://www.youtube.com/watch?v=BdoblvmTixA" rel="nofollow noreferrer">https://www.youtube.com/watch?v=BdoblvmTixA</a>) which detects muscle activation with EMG and generates artificial muscle attraction. But this is only a open and close action. And it will begins after the movement. Also EMG system has a lot of disadvantage like sliding probes, affecting from other/crossing muscles. I want to estimate every motion like turn,twist, amount of contraction. I'm open to suggestions or issues (The troubles you have experienced.)</p>

<p><a href="https://www.mathworks.com/videos/signal-processing-and-machine-learning-techniques-for-sensor-data-analytics-107549.html" rel="nofollow noreferrer">This matlab webinar</a> which is about "<em>Signal Processing and Machine Learning Techniques for Sensor Data Analytics</em>" shows how to classify different actions. But this example predicts kind of motion after the motion completed. I need to know motion information at very first.</p>

<p>I want know how can I estimate different motions at the beginning of limb action. Which system (EMG,EEG,IMU,etc.) and processing technique will be better or which combination should I use.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11193" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-11193">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11193">Load Comments</button></br>
			<div id = "commentsection-11193" class = 'collapse'>
			<div id = "comment-20254" class = "comment">
				<p>This is a rather broad question which also solicits opinions, so could be closed for either reason. To make it a *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)* it would be a good idea to include details of what you want to achieve, how you tried to do these calculations, what you saw & what you expected to see. Remember the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) is there to help you edit your question to make it clearer.</p>
			</div>
			<div id = "comment-20256" class = "comment">
				<p>@MarkBooth question edited.</p>
			</div>
			<div id = "comment-20263" class = "comment">
				<p>Thanks @acs hopefully the extra detail in the question will elicit more comprehensive answers.</p>
			</div>
			<div id = "comment-20271" class = "comment">
				<p>Are you interested in measuring motion or measuring intent? Those are two completely different things. Measuring motion needs to happen around the joints, with any number of motion capture techniques. Intent would be more difficult (as you outline) and, like any other signal transmission, requires capturing the signal before transmission (brain wave), after reception (muscle potential), or somewhere between the two (nerve/spinal interception). But again, *what do you actually care about*? Intent or action?</p>
			</div>
			<div id = "comment-20275" class = "comment">
				<p>@Chuck Your detection is correct. Intent reading will be a more accurate definition.</p>
			</div>
			</div>
				<textarea id = "speech-11193" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11193">
					<img id="start_img-11193" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11193">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11194"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11194" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have many options: encoders at exo joints to provide absolute angles, IMU on limbs for estimating motions, force sensing shoe soles for force distribution, force sensors at joints, crutches usually used by pilots wearing rehab exo can also have those sensors, e.g. at the bottom of the crutch, at hand handles, etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11194" data-toggle = "popover">
				<p>user name : user14042</p>
				<p> user reputation : 134</p>
				<p class = "tagcontent" id = "usertaginfo-11194">{'control': 6, 'None': 5, 'robotic-arm': 6, 'pid': 5, 'embedded-systems': 2, 'joint': 6, 'imu': 1, 'kalman-filter': 2, 'design': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11194">Load Comments</button></br>
			<div id = "commentsection-11194" class = 'collapse'>
			<div id = "comment-20229" class = "comment">
				<p>Can you give more specific examples</p>
			</div>
			<div id = "comment-20233" class = "comment">
				<p>Here are three papers related to previous exoskeleton designs.  The first just uses optical encoders at each joint; the other two are for powered exoskeletons that provide force/torque feedback to the operator:

https://www.researchgate.net/publication/235103833_Optimized_Forward_Kinematics_for_the_MBA_Exoskeleton_and_Partitioned_Kinematics_for_the_Merlin_Robot



http://www.dtic.mil/dtic/tr/fulltext/u2/a452553.pdf</p>
			</div>
			<div id = "comment-20234" class = "comment">
				<p>...and the third:  

https://www.researchgate.net/publication/235103833_Optimized_Forward_Kinematics_for_the_MBA_Exoskeleton_and_Partitioned_Kinematics_for_the_Merlin_Robot

http://www.dtic.mil/dtic/tr/fulltext/u2/a452553.pdf

http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&cad=rja&uact=8&ved=0ahUKEwih44KQpefQAhVGyGMKHZW9AOUQFggjMAI&url=http%3A%2F%2Fwww.dtic.mil%2Fcgi-bin%2FGetTRDoc%3FAD%3DADA299539&usg=AFQjCNHrXjev8zrSSGWR54vC1Np0Vhl1_g&sig2=_DFRvpiA9Qw_gCuO18yO9g&bvm=bv.141320020,d.cGc</p>
			</div>
			</div>
				<textarea id = "speech-11194" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11194">
					<img id="start_img-11194" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11194">Comment</button>
			<br><div id = "ans-11199"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11199" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://www.youtube.com/watch?v=te1RBQQlHz4" rel="nofollow noreferrer">MYO gesture control</a> looks like a good system at least estimation on arm and hand motions. It includes multiple EMG and IMU sensors. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11199" data-toggle = "popover">
				<p>user name : M LKSOZ</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-11199">{'None': 2, 'multi-agent': 5, 'simulation': 5, 'swarm': 5, 'robotic-arm': 5, 'actuator': 1, 'sensors': 5, 'manufacturing': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11199" class = 'collapse'>
			</div>
				<textarea id = "speech-11199" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11199">
					<img id="start_img-11199" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11199">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>