<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Reading data from D+ and D- pins of a USB
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2587" class = "post">
			<h2>Question</h2>
			<div id="vote-2587" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 751</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Reading data from D+ and D- pins of a USB</h2>
<p>So I have this optical mouse with me, which has a PAN3504DL-TJ optical sensor. It has a USB interface and when I looked up the internet, all I could find was tutorials using A2501 or sensors in those lines and it has pins like SCLK and SDI but I don't have them instead I have D+ and D-. I understand that these are the data pins so what I did was take two wires and plug them into my Analog Pins of my dsPIC30F4011 and read data from it. After setting up UART communication and transmitting data, all I get are numbers running continuously.</p>

<p><img src="https://i.stack.imgur.com/Gu8lW.png" alt="Screenshot of Termite receiving information from the Analog Pins which are connected to the D+ and D- of the Optical Sensor"></p>

<p>What I want to do is to read coordinates over the analog pins as the mouse aka the sensor moves on a surface. I would use this for position control for my robot.
So my question is how do I read coordinates from the Optical Sensor over the D+ and D- lines through my Analog Pins ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2587" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-2587">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2587">Load Comments</button></br>
			<div id = "commentsection-2587" class = 'collapse'>
			<div id = "comment-4931" class = "comment">
				<p>Sounds like you need to plug it in to a USB port.  Does your microcontroller support USB?  If it's designed for USB you're not going to get anywhere connecting it to anything but USB.  Do you have a datasheet?</p>
			</div>
			<div id = "comment-4933" class = "comment">
				<p>Yeah I power my Microcontroller via USB cable and also read other sensory information through the same USB interface otherwise called UART. By datasheet you mean the microcontroller's or the optical sensor's ?</p>
			</div>
			</div>
				<textarea id = "speech-2587" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2587">
					<img id="start_img-2587" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2587">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2590"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2590" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The mouse is sending data using the USB protocol.  You will have to read and decode that protocol to get the mouse data.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2590" data-toggle = "popover">
				<p>user name : Mark Harrison</p>
				<p> user reputation : 183</p>
				<p class = "tagcontent" id = "usertaginfo-2590">{'quadcopter': 1, 'mobile-robot': 5, 'None': 5, 'differential-drive': 5, 'power': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2590">Load Comments</button></br>
			<div id = "commentsection-2590" class = 'collapse'>
			<div id = "comment-4934" class = "comment">
				<p>I have found that trying to decipher the HID (human interface device) protocol is a huge headache.  (at least on linux).  However, you might be able to hack your mouse and access the communications to/from the chip that actually does the optical differencing which you want.  i.e. cut out the USB interface.</p>
			</div>
			</div>
				<textarea id = "speech-2590" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2590">
					<img id="start_img-2590" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2590">Comment</button>
			<br><div id = "ans-2750"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2750" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use different PAN, PAN3101 in praticular. How to do that? See this (chapter "5.3.6 PAN3101") <a href="https://robotics.stackexchange.com/a/2733/2663">https://robotics.stackexchange.com/a/2733/2663</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2750" data-toggle = "popover">
				<p>user name : Marian Pa dzioch</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-2750">{'None': 2, 'soccer': 1, 'robotic-arm': 4, 'rcservo': 1, 'valve': 1, 'simulator': 1, 'mechanism': 6, 'gearing': 0, 'tracks': 0, 'chassis': 0, 'motor': 2, 'stepper-motor': 2, 'manufacturing': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2750" class = 'collapse'>
			</div>
				<textarea id = "speech-2750" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2750">
					<img id="start_img-2750" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2750">Comment</button>
			<br><div id = "ans-2753"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2753" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As others pointed out, you'll need to implement the protocol for communication (most likely HID). I recommend you buy an optical mouse with PS/2 protocol because it will be much much easier to implement, there are even numerous solutions for it online (as in codes and libraries).</p>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2753" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2753">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2753" class = 'collapse'>
			</div>
				<textarea id = "speech-2753" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2753">
					<img id="start_img-2753" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2753">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>