<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Real-time object classification for an indoor autonomous quad-rotor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9372" class = "post">
			<h2>Question</h2>
			<div id="vote-9372" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 171</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Real-time object classification for an indoor autonomous quad-rotor</h2>
<p>I am designing an indoor autonomous drone. I am currently writing an object classification program in OpenCV for this purpose. My objects of interests for classification are: ceiling fans; AC units; wall and ceiling lamps, and; wall corners. I am using BoW clustering algorithm along with SVM classifier to achieve this (I'm still in the process of developing the code, and I might try other algorithms when testing).</p>

<p>The primary task of the drone is to successfully scan (what I mean by scanning is moving or hovering over the entire ceiling space) a ceiling space of a given closed region while successfully avoiding any obstacles (like ceiling fans, AC units, ceiling and wall lamps). The drone's navigation, or the scanning process over the ceiling space, should be in an organised pattern, preferably moving in tight zig-zag paths over the entire ceiling space.</p>

<p>Having said that, in order to achieve this goal, I'm trying to implement the following to achieve this:</p>

<ol>
<li><p>On take off, fly around the given closed ceiling space and <strong>use SLAM to localise and map its environment</strong>.</p></li>
<li><p>While running SLAM, <strong><em>run the object classier algorithm to classify the objects of interests and track them in real time</em></strong>.</p></li>
<li><p>Once obtained a detail map of the environment and classified all objects of interest in the local environment, <strong><em>integrate both data together to form an unified map. Meaning on the SLAM output, label the classified objects obtained from the classifier algorithm. Now we a have fun comprehensive map of the environment with labeled objects of interest and real-time tracking of them (localization).</em></strong></p></li>
<li><p>Now pick random corner on the map and plan a navigation pattern in order to scan the entire ceiling space. </p></li>
</ol>

<p>So the question now here is, <strong><em>is using object classification in real-time will yield successful results in multiple environments (the quad should be able to achieve the above mentioned tasks in any given environment)?</em></strong>. I'm using a lot of train image sets to train my classifier and BoW dictionary but I still feel this won't be a robust method <strong><em>since in real-time it will be harder to isolate an object of interest</em></strong>. Or, in order to overcome this, should I use real-situation like train images (currently my train images only contain isolated objects of interests)?</p>

<p><strong><em>Or in my is using computer vision is redundant? Is my goal completely achievable only using SLAM?</em></strong> If, yes, how can I classify the objects of interest (I don't want my drone to fly into a running ceiling fan mistaking it for a wall corner or edge). <strong><em>Furthermore, is there any kind of other methods or sensors, of any type, to detect objects in motion?</em></strong> (using optical flow computer vision method here is useless because it's not robust enough in real-time).</p>

<p>Any help and advice is much appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9372" data-toggle = "popover">
				<p>user name : Vino</p>
				<p> user reputation : 75</p>
				<p class = "tagcontent" id = "usertaginfo-9372">{'control': 1, 'robotic-arm': 1, 'pid': 1, 'slam': 0, 'motor': 1, 'linux': 5, 'mobile-robot': 0, 'ros': 5, 'forward-kinematics': 5, 'manipulator': 1, 'robotics-library': 0, 'mechanism': 1, 'opencv': 0, 'cnc': 2, 'machine-learning': 0, 'None': 2, 'inverse-kinematics': 5, 'artificial-intelligence': 0, 'automation': 1, 'industrial-robot': 0, 'quadcopter': 0, 'computer-vision': 2, 'c++': 5, 'circuit': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9372" class = 'collapse'>
			</div>
				<textarea id = "speech-9372" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9372">
					<img id="start_img-9372" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9372">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9468"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9468" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>tl;dr - SLAM is good enough for your task.</p>

<p>The ceiling is the area where your robot will be traveling in. Few things to notice -</p>

<ul>
<li>Ceiling is fixed and not changing.</li>
<li>Things on the ceiling are fixed as well at any given time unless the environment is changed.</li>
<li>The number of things on the ceiling are also fixed.</li>
<li>If you are going to be using a feature based map then the features are the walls and the objects on the ceiling all of them being obstacles.</li>
</ul>

<p>In view of these three observations your SLAM should be enough, these obstacles are your features and thus there comes no question as to identifying them or classifying. Commonsense tells that any obstacle is a potential danger to the robot and thus is to avoided or maneuvered around. Depending on the size of the map and the number of obstacles the algorithms used for SLAM will have to be chosen obviously. If the task is to just navigate the ceiling around these features from point A to B then SLAM should be enough. As for detecting the fan, since you know the position of it on the ceiling, usually it is in the center, then u can feed that information into your map and let your robot maintain a certain radius away from that particular feature. This way you will avoid doing unnecessary computation in trying to keep track of frames or extra sensors to do this.</p>

<p>Object classification and tracking can be done since the scene your robot are static, but is not necessary for your task. In addition the training will have to be done for different environments which IMO doesn't seem to be very feasible and complicates things for your task.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9468" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-9468">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9468">Load Comments</button></br>
			<div id = "commentsection-9468" class = 'collapse'>
			<div id = "comment-16764" class = "comment">
				<p>Hey @Tvasta thank you so much for your answer. I totally understand that SLAM is sufficient for obstacle avoidance and navigation. Actually this a cleaning-bot system. So the purpose for me to identify the fans and ACs were actually to clean them. So I guess I still need a object-classification programme. As u said, I need to train the classifier at several environments. Furthermore, what are some good c++ libraries to implement SLAM? I was thinking of g-mapping of ROS...any suggestions? Thanks again mate :) Have a good one :)</p>
			</div>
			<div id = "comment-16771" class = "comment">
				<p>I wouldn't be able to help u with that am afraid. I have not used any C++ library for SLAM to date, I have written the necessary modules myself. Let me know how the project goes, am curious how you're gonna do the cleaning part of it assuming you've succeeded in identifying the objects of interest.</p>
			</div>
			</div>
				<textarea id = "speech-9468" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9468">
					<img id="start_img-9468" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9468">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>