<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Real time operating system for robotics vision
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4863" class = "post">
			<h2>Question</h2>
			<div id="vote-4863" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 253</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Real time operating system for robotics vision</h2>
<p>I have robot vision system which consists of conveyor with encoder, two cameras (gigabit eth and usb) and simple illuminator.</p>

<p>I need to trigger cameras and illuminator when encoder reaches position interval.</p>

<p>I'm considering using real time operating system for this task:
Encoder, illuminator and cameras connected to PC and vision system application runing on it.</p>

<p><strong>Which real-time solution you can reccomend for this problem?</strong> </p>

<p>I'm considering using Beckhoff TwinCAT software which turns normal operating system into RT. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4863" data-toggle = "popover">
				<p>user name : krzych</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-4863">{'None': 0, 'computer-vision': 1, 'real-time': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4863">Load Comments</button></br>
			<div id = "commentsection-4863" class = 'collapse'>
			<div id = "comment-7631" class = "comment">
				<p>What you're asking is unclear.  Which parts of this system (cameras, conveyor, encoder, illuminator, and vision system application) are already connected and working, and which parts are you trying to connect?</p>
			</div>
			<div id = "comment-7643" class = "comment">
				<p>All parts are not working. The question is how to connect this elements to work.</p>
			</div>
			<div id = "comment-7653" class = "comment">
				<p>So you haven't built any of this yet?  How do you know you need a real-time system?</p>
			</div>
			<div id = "comment-7666" class = "comment">
				<p>Don't know want to know the possibilities. First idea is to use encoder to trigger camera and process frames on non real time system. But I would like to know possibilities of solving this problem with RT system.</p>
			</div>
			</div>
				<textarea id = "speech-4863" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4863">
					<img id="start_img-4863" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4863">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4864"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4864" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>EtherCAT as you have noticed is a actually a good option for real-time data transfer, but if by "normal operating system" you mean Windows, that's a bad choice.</p>

<p>You can get a Linux implementation of EtherCAT master from IgH (<a href="http://www.etherlab.org/en/ethercat/index.php" rel="nofollow">http://www.etherlab.org/en/ethercat/index.php</a>) which needs a real-time operating system, such as Linux patched with RTAI, Xenomai or RT-preempt.</p>

<p>Once you are able to acquire your data periodically, you can use the many freely available software packages under most GNU/Linux distributions to process them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4864" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-4864">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4864">Load Comments</button></br>
			<div id = "commentsection-4864" class = 'collapse'>
			<div id = "comment-7564" class = "comment">
				<p>I would prefer to work on Windows. Another problem is that I have a lot of code from developed vision systems which are compiled to non real time targets.</p>
			</div>
			</div>
				<textarea id = "speech-4864" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4864">
					<img id="start_img-4864" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4864">Comment</button>
			<br><div id = "ans-4899"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4899" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Which type of real-time are you seeking for? Hard-, soft- or near- RT?</p>

<p>I'm asking because I believe it's likely that near-RT fits your application, depending of course on the speed of the conveyor and the system responsiveness you require.</p>

<p>Near-RT does not need large implementation effort: for instance, on Windows you can easily reach up to 100 Hz computation linking against <a href="http://wiki.icub.org/yarpdoc/index.html" rel="nofollow">yarp</a>, which is a C++ lightweight library already integrated with OpenCV for vision processing.</p>

<p>Note that 100 Hz should be suitable for dealing with the normal camera frame rate (i.e. 33 Hz)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4899" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-4899">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4899">Load Comments</button></br>
			<div id = "commentsection-4899" class = 'collapse'>
			<div id = "comment-7609" class = "comment">
				<p>For this application I need near-RT. I think that I will use encoder and PLC to trigger camera in real time, and process frames on normal PC. However I would like to have some recomentations of RT systems I can use in similar cases.</p>
			</div>
			</div>
				<textarea id = "speech-4899" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4899">
					<img id="start_img-4899" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4899">Comment</button>
			<br><div id = "ans-4940"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4940" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Whether you actually require a realtime system is unclear.  The only component for which realtime would be relevant is the computer vision application, and it sounds like you haven't written it yet -- you don't know if it will work without realtime.</p>

<p>All the hardware components you listed are agnostic toward the hard- soft- or non-realtime nature of the OS they will connect to.</p>

<p>You should implement the vision system first, and see if its performance is adequate.  If not, only then should you start looking for more real-time OS options -- at that point, you'll have a more solid grasp of the performance requirements.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4940" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4940">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4940">Load Comments</button></br>
			<div id = "commentsection-4940" class = 'collapse'>
			<div id = "comment-7671" class = "comment">
				<p>Off course I will do. But I have asked about real time options to apply. I've listed elements, told about idea the question is about proposition of connecting this into real time solution. It does not matter if I use it or not, just for curiosity.</p>
			</div>
			<div id = "comment-7675" class = "comment">
				<p>In that case, you're not asking a practical question with an objective answer...</p>
			</div>
			</div>
				<textarea id = "speech-4940" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4940">
					<img id="start_img-4940" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4940">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>