<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Real-time video processing on video feed from a drone's camera
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8262" class = "post">
			<h2>Question</h2>
			<div id="vote-8262" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 670</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Real-time video processing on video feed from a drone's camera</h2>
<p>I am working on a project where I want to run some computer vision algorithms (e.g. face recognition) on the live video stream coming from a flying drone. </p>

<p>There are many commercial drones out there that offer video streams, like</p>

<ul>
<li><a href="http://www.flyzano.com/mens/" rel="nofollow">http://www.flyzano.com/mens/</a></li>
<li><a href="https://www.lily.camera/" rel="nofollow">https://www.lily.camera/</a></li>
<li>etc..</li>
</ul>

<p>But none of them seem to give access to the video feed for real-time processing. </p>

<p>Another idea is to have the drone carry a smartphone, and do the processing on the phone through the phone's camera. Or just use a digital camera and an arduino that are attached to the drone. </p>

<p>Although these ideas are feasible, I would rather access the video-feed of the drone itself. So my question is that are there any drones out there that offer this feature? or can be hacked somehow to achieve this? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8262" data-toggle = "popover">
				<p>user name : Mohamed Khamis</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-8262">{'None': 0, 'computer-vision': 1, 'cameras': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8262">Load Comments</button></br>
			<div id = "commentsection-8262" class = 'collapse'>
			<div id = "comment-13216" class = "comment">
				<p>I've had a quick look at your links and I can't see a mention of streaming the data, just capturing to SD card.  What ever solution you choose you may have bandwidth problems .</p>
			</div>
			</div>
				<textarea id = "speech-8262" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8262">
					<img id="start_img-8262" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8262">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8265"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8265" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This <a href="http://ardrone2.parrot.com/" rel="nofollow"> AR.Drone</a> provides SDK, therefore, you can access the images on real-time. It is fully compatible with Linux. They have examples also for smartphones. I believe android and iPhone. It has two cameras. I've bought it and its price is reasonable. At that time, the price was roughly 272 CAD. Of course, the price is now more expensive than before but I believe it is affordable. You need to know c programming and Makefiles. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8265" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-8265">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8265" class = 'collapse'>
			</div>
				<textarea id = "speech-8265" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8265">
					<img id="start_img-8265" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8265">Comment</button>
			<br><div id = "ans-8465"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8465" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I bought an AR done 2.0 for my research.</p>

<p>I used Labview to process the realtime video feed from either the bottom camera of the drone or the front camera.</p>

<p>You can read more details on how to setup the 3rd party free library to use Labview to control and to receive realtime sensors data and video feed as well:</p>

<p><a href="http://sine.ni.com/nips/cds/view/p/lang/en/nid/211837" rel="nofollow">AR Drone Toolkit for LabVIEW - LVH</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8465" data-toggle = "popover">
				<p>user name : hayder</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8465">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8465" class = 'collapse'>
			</div>
				<textarea id = "speech-8465" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8465">
					<img id="start_img-8465" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8465">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>