<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Recent answers to version-tagged questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2650" class = "post">
			<h2>Question</h2>
			<div id="vote-2650" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 83</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Recent answers to version-tagged questions</h2>
<p>In <a href="https://apple.stackexchange.com/q/73320/25135">How to open time machine progress bar window</a> I asked a question regarding the version of OS X I had installed at that time, namely Lion. I got an answer matching that version, indicating that what I wanted was not possible. I accepted that answer, ticking the check mark.</p>

<p>Recently (or perhaps not <em>that</em> recently) there have been some answers indicating that what I wanted is possible these days. But I'm pretty confident that all those recent reports are for a newer version of OS X. And since I'm not running Lion myself any more, I cannot verify whether those answers do in fact apply to Lion.</p>

<p>So my question is this: should I change the accepted answer in order to keep the page up to date? If I do, should I remove the version tag as well? Or is it enough that the other answers are there (a bit down the page) for those who search, and leave tag and check mark where they are as an indication of the history of this question and its answers? I tend to do the latter, but the more new answers come in, the more I doubt whether ignoring them because they ignore the version tag is really the right choice.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2650" data-toggle = "popover">
				<p>user name : MvG</p>
				<p> user reputation : 284</p>
				<p class = "tagcontent" id = "usertaginfo-2650">{'None': 0, 'accepted-answer': 3, 'discussion': 3, 'tags': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2650" class = 'collapse'>
			</div>
				<textarea id = "speech-2650" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2650">
					<img id="start_img-2650" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2650">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2653"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2653" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd remove the tag. I'd also accept one of the other answers relating to System Preferences, since most people will have a newer OS that has that feature (not sure if it's on lion or earlier)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2653" data-toggle = "popover">
				<p>user name : IronCraftMan</p>
				<p> user reputation : 1783</p>
				<p class = "tagcontent" id = "usertaginfo-2653">{'None': -2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2653" class = 'collapse'>
			</div>
				<textarea id = "speech-2653" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2653">
					<img id="start_img-2653" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2653">Comment</button>
			<br><div id = "ans-2656"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2656" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would ask another question referring to the original for Lion but in the new question state what OS you need it for (in this case cheat and ask for the first one you know it works on)</p>

<p>The questions and answers are still useful as there are still people on Lion and Snow Leopard so the answers are not wrong. We would now be helping more people.</p>

<p>On some mailing lists I see people still asking about Tiger and Leopard I think they are using PPC) so even answers for this are useful</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2656" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 16790</p>
				<p class = "tagcontent" id = "usertaginfo-2656">{'None': 93, 'synonym': 7, 'tags': 6, 'site-scope': 10, 'support': 9, 'canonical-questions': 4, 'status-completed': 6, 'bug': 13, 'closed-questions': 1, 'close-reasons': 1, 'hyperlinks': 1, 'feature-request': 8, 'status-bydesign': 8, 'editing': 1, 'discussion': 39}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2656">Load Comments</button></br>
			<div id = "commentsection-2656" class = 'collapse'>
			<div id = "comment-5930" class = "comment">
				<p>I don't think asking the same question for some more recent OS is useful, since apparently the information is readily accessible in more recent versions.</p>
			</div>
			<div id = "comment-5931" class = "comment">
				<p>It is useful here as a search will get the old answer - we need the new answer as well. The current accepted answer is correct and should stay accepted + a new answer now could be accepted. A question cannot have two accepted answers so I this k we need two questions here so both correct answers can be accepted</p>
			</div>
			</div>
				<textarea id = "speech-2656" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2656">
					<img id="start_img-2656" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2656">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>