<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>recommendation of robot for special education
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7210" class = "post">
			<h2>Question</h2>
			<div id="vote-7210" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 114</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>recommendation of robot for special education</h2>
<p>I saw a video of a robot used in special education with children on the autism spectrum (<a href="https://www.youtube.com/watch?v=FQcjfebQXgQ" rel="nofollow">https://www.youtube.com/watch?v=FQcjfebQXgQ</a>).  My son isn't autistic, he has Tourette Syndrome, ADHD, executive function problems, and OCD.  A robot could be quite helpful for him.  Where can I buy one?  I don't need it to look like a human being.  It just needs to be interactive and reasonable cute.  As my son is getting ready for bed, he needs someone to talk him through his steps, give him positive feedback, and ask questions like "Okay, you're in your pajamas.  Great!  What else do you need to do to get ready for bed?"  And the robot would have a mental list (preprogrammed) of everything that's needed (brush teeth, wash face, put on eczema ointment, put dirty clothes in hamper).  My son is 12 and would like to get ready by himself -- without Mama or Papa -- but he gets sidetracked when he's in his room on his own.  The robot doesn't need to be able to "see" him brushing his teeth.  He just needs to be able to hear my son saying, "I brushed my teeth."  Because when the two of them together decide he has made it through his routine, then they can call me in, and I'll check, and then we'll do our bedtime reading.</p>

<p>That's an example of what I have in mind.  There are other situations where I could imagine a robot being helpful for him.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7210" data-toggle = "popover">
				<p>user name : aparente001</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-7210">{'None': 0, 'artificial-intelligence': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7210" class = 'collapse'>
			</div>
				<textarea id = "speech-7210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7210">
					<img id="start_img-7210" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7210">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7211"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7211" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Honestly, this would be extremely complex to program and I am not aware of any off the shelf solutions. Somewhere you might start is using somthing like <a href="http://jasperproject.github.io/" rel="nofollow">jasper</a> to implment some simple procudures, you could even put it along with its microphone and speaker in a cute case.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7211" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7211">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7211">Load Comments</button></br>
			<div id = "commentsection-7211" class = 'collapse'>
			<div id = "comment-10258" class = "comment">
				<p>I have looked at Pepper and Cubic so far.</p>
			</div>
			<div id = "comment-10259" class = "comment">
				<p>Those are both very interesting, I haven't seen either of these, please let us know how this goes.</p>
			</div>
			</div>
				<textarea id = "speech-7211" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7211">
					<img id="start_img-7211" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7211">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>