<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Recording GPS position
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11696" class = "post">
			<h2>Question</h2>
			<div id="vote-11696" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 23</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Recording GPS position</h2>
<p>I build 3d models using Agisoft and need to record the position of the Ground Control Points as accurately as possible, latitude , longitude and altitude. What is the best way of doing this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11696" data-toggle = "popover">
				<p>user name : Mark Watson</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11696">{'quadcopter': 1, 'None': 0, 'gps': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11696">Load Comments</button></br>
			<div id = "commentsection-11696" class = 'collapse'>
			<div id = "comment-20910" class = "comment">
				<p>Welcome to *Robotics* Mark Watson, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to include details of what you want to achieve, what you tried, what you saw & what you expected to see. Please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			</div>
				<textarea id = "speech-11696" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11696">
					<img id="start_img-11696" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11696">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11700"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11700" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The most accurate position is probably calculated by using a sensor-fusion algorithm.</p>

<p>As sensors you can use:</p>

<ul>
<li>GPS for absolute (but relatively inprecise position)</li>
<li>Distance sensors (either via triangulation with multiple ground stations or via a SLAM algorithm)</li>
<li>Odometric data from your quadrocopter (motor power)</li>
<li>Acceleration (lot's of drift over time but precise for a short time)</li>
</ul>

<p>This sensor data can be fused used something like a Kalman-Filter.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11700" data-toggle = "popover">
				<p>user name : aul12</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-11700">{'None': 8, 'cameras': 0, 'ultrasonic-sensors': 0, 'lidar': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11700" class = 'collapse'>
			</div>
				<textarea id = "speech-11700" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11700">
					<img id="start_img-11700" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11700">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>