<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Recursive Tree Representation for Multi Agent Robots?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4725" class = "post">
			<h2>Question</h2>
			<div id="vote-4725" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 23</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Recursive Tree Representation for Multi Agent Robots?</h2>
<p>I have been going through a code base for multi agent motion planning. And I came across a recursive tree building algorithm for the agents. I haven't been able to figure out the algorithm. Does anyone know what it is called? Or any other similar kinds of algorithms so I could read more about it?</p>

<p>Here is what I got from the code: 
The node of the tree is as follows - </p>

<pre><code>&gt;   struct AgentTreeNode {
&gt;     int begin;
&gt;     int end;
&gt;     float minX, maxX, minY, maxY;
&gt;     int left;
&gt;     int right;   };
</code></pre>

<p>Each node has a max and min value for x and y. And also a begin, end, left and right value. </p>

<p>Then the tree is split either horizontally or vertically based on which limits are longer (x or y). And an optimal value is found and agents are split. </p>

<p>Then these split agents are recursively build again.</p>

<p>Thank you very much. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4725" data-toggle = "popover">
				<p>user name : simplename</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-4725">{'stereo-vision': 3, 'None': 0, 'probability': 1, 'multi-agent': 1, 'motion-planning': 1, 'navigation': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4725" class = 'collapse'>
			</div>
				<textarea id = "speech-4725" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4725">
					<img id="start_img-4725" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4725">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4731"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4731" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like a <a href="https://en.wikipedia.org/wiki/K-d_tree" rel="nofollow">KD-tree</a></p>

<p>If it is a KD-tree, the four floats seem a little redundant, bounding boxes can be calculated on the fly when traversing the tree, you only need to record the splitting plane in the node.</p>

<p>I would guess that begin and end describe range of indices of agents belonging to the current node and left and right are indices of left and right subtree of the current node.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4731" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-4731">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4731">Load Comments</button></br>
			<div id = "commentsection-4731" class = 'collapse'>
			<div id = "comment-7416" class = "comment">
				<p>Thank you for your response. I came across this [link](http://en.wikipedia.org/wiki/Binary_space_partitioning) on Binary space partitioning which has an algorithm that is related to the one I mentioned. 

But it's not quite the same. So I was wondering if there is a general class of such algorithms.</p>
			</div>
			<div id = "comment-7422" class = "comment">
				<p>BSP-tree is a more generic variant of KD-tree that doesn't require the splitting plane to be axis aligned. In general these are binary search trees, only extended from 1D (you have an interval, split it, build the same structure recursively on both sides of the split) to higher dimensions (you have a n-dimensional box, split it (somehow), build the same structure on recursively on both sides).</p>
			</div>
			</div>
				<textarea id = "speech-4731" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4731">
					<img id="start_img-4731" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4731">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>