<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Reducing motor speed without jamming up
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1514" class = "post">
			<h2>Question</h2>
			<div id="vote-1514" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 599</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Reducing motor speed without jamming up</h2>
<p>So I built three little bots so far. </p>

<p>One with a raspberry-pi, (6V motors), one with an arduino (12V motors), and another with an arduino but a hacked remote car (7ish, volt motors):<br>
<a href="https://i.stack.imgur.com/AJ45l.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/AJ45ls.jpg" alt="enter image description here"></a>
<a href="https://i.stack.imgur.com/f6NUt.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/f6NUts.jpg" alt="enter image description here"></a>
<a href="https://i.stack.imgur.com/Rr5fH.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Rr5fHs.jpg" alt="enter image description here"></a></p>

<p>The problem I have with all these is that the motors spin so fast the car just bumps into something in a few seconds. (I have a small house)</p>

<p>I tried to use PWM to control the speed, but at a little less than full throttle (255) they jam up and they can't take the weight I put on them.</p>

<p>Should I buy one of these chassis that slow the motor down and give it torque with a gearbox, or is there anything else I can do?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1514" data-toggle = "popover">
				<p>user name : gideon</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-1514">{'None': 0, 'pwm': 6, 'motor': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1514" class = 'collapse'>
			</div>
				<textarea id = "speech-1514" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1514">
					<img id="start_img-1514" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1514">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1522"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1522" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li>Gearboxes are probably your best bet if you never want to go fast.</li>
<li>You may be able to make it work better if you give it pulsed power (PWM in a way, but pulsed at a speed low enough that the motor actually gets going and then slows down each time.  See <a href="http://wescottdesign.com/articles/Friction/friction.pdf">Controlling Motors in the Presence of Friction and Backlash</a> for details on the technique.</li>
<li>You can almost certainly make it better if you put some sort of closed-loop speed control on the motors.  Encoders are best, but you can do amazing things using back-EMF speed sensing.  Either of these techniques require you to work with a closed-loop system which isn't trivial, and neither of them will overcome all the problems unless you use a gearbox (but, with closed-loop speed control you can have a much higher ratio of top to bottom speed while keeping things smooth).</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1522" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1522">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1522">Load Comments</button></br>
			<div id = "commentsection-1522" class = 'collapse'>
			<div id = "comment-3217" class = "comment">
				<p>Hey thanks for your answer. I tried `(1)` and got a 45 RPM motor+gearbox. Works decent so far. About point `(3)`, I've heard about these _encoders_ from the [rover 5 platform](https://www.sparkfun.com/products/10336), I understand it will help me scan how fast the motors are going? Forgive my ignorance but how will this really help? Is the speed control that is outputed by the arduino and the actual speed different? Also, what do you mean by _closed loop_ ?</p>
			</div>
			<div id = "comment-3219" class = "comment">
				<p>Wikipedia has the skinny on rotary encoders: http://en.wikipedia.org/wiki/Rotary_encoder.  The ones in the pictures are scary-fancy, though.  Yes, a rotary encoder can help.  I don't know Arduino, but I'll bet that their "speed control" is just a drive voltage.  If so, then sensing the motor speed and adjusting the drive voltage can help tremendously.  Sensing the speed and using it to drive the motor speed is what I mean by closed loop control -- once again Wikipedia comes to the rescue, although with a very wordy article: http://en.wikipedia.org/wiki/Feedback</p>
			</div>
			<div id = "comment-3226" class = "comment">
				<p>Yep on the arduino I can just do PWM pulses slower or faster to control speed. So essentially you're saying I should send PWM pulses and then scan for the speed the robot is running at. The rover 5 has hall effect encoders so if I do buy one of those then I will try it. Thanks very much for your help.</p>
			</div>
			</div>
				<textarea id = "speech-1522" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1522">
					<img id="start_img-1522" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1522">Comment</button>
			<br><div id = "ans-1537"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1537" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When you PWM the voltage to the motor you are effectively controlling the current to the motor which is related to torque (acceleration).  The "jamming up" that you notice is basically the inability of the motor to overcome friction.  </p>

<p>Think about the PWM as the gas pedal in your car, to get to a constant speed you may push all the way down, gradually back off as you reach your target speed and then modulate it to maintain that speed.</p>

<p>A DC motor driven at a fixed voltage loses torque as it goes faster and faster.  That's why it doesn't speed up to infinity.  Gearing it down effectively limits the top speed you'll see at the output.  It gives you more torque at the output but you're trading off speed.</p>

<p>As Tim notes what you need is a closed speed control loop running over that such that you set a speed set-point and the loop, very quickly, ramps the PWM up and down to maintain the speed.  To do that you need some way of measuring the speed.  Once you have that you may be able to get by with a relatively simple PI controller.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1537" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-1537">{'None': 75}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1537">Load Comments</button></br>
			<div id = "commentsection-1537" class = 'collapse'>
			<div id = "comment-3236" class = "comment">
				<p>@MarkBooth: Thanks for the comment! It's a somewhat imperfect analogy but the point is that speed is self limiting and that's why slapping a gearbox on that system results in lower top speed.  In a DC motor it's effectively limited by the back EMF and my imperfect analogy to that is the "red line".  I'll think of a way of expanding the answer.</p>
			</div>
			<div id = "comment-3238" class = "comment">
				<p>@MarkBooth:  A gear box doesn't really give you more controllability.  It can improve your stability if your feedback is at the motor because now the reflected load is smaller.  It will *always* reduce the linearity and the stiffness of the system.  I'll think of a better analogy though :-)</p>
			</div>
			<div id = "comment-3239" class = "comment">
				<p>@MarkBooth: It really depends if you're thinking about control of the load or the motor.  Your ability to control the load is a a function a how stiffly it is coupled to your motor...</p>
			</div>
			<div id = "comment-3243" class = "comment">
				<p>Thanks for the edits Guy, can't fault your answer now. I guess we have different ideas about *controllability* though. *8')</p>
			</div>
			</div>
				<textarea id = "speech-1537" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1537">
					<img id="start_img-1537" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1537">Comment</button>
			<br><div id = "ans-1748"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1748" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need to use a PID algorithm to control the speed of the motors, that way you'll be able to make them spin as slow as you need while still getting torque. The PID algorithm needs to measure the speed of your motor somehow, the typical way is to place some optical encoders in the wheels, this is a must for any rover and besides giving you the speed will give you a very good estimate of the position, which helps navigate and make turns.</p>

<p>You can steal the optical encodes from an old mouse, those with a ball. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1748" data-toggle = "popover">
				<p>user name : aguaviva</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-1748">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1748">Load Comments</button></br>
			<div id = "commentsection-1748" class = 'collapse'>
			<div id = "comment-3649" class = "comment">
				<p>Including "somehow" in the answer suggests a bit more detail is required...</p>
			</div>
			</div>
				<textarea id = "speech-1748" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1748">
					<img id="start_img-1748" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1748">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>