<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Refresh The Main Page
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-283" class = "post">
			<h2>Question</h2>
			<div id="vote-283" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 74</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Refresh The Main Page</h2>
<p>Add a comment if you had Apple.StackExchange.com loaded today and refreshed the page "N" times to see if the new design appeared </p>

<p><sub>This is a joke ;) </sub></p>

<p><strong>Update for the less humorous out there:</strong>
A bird  told me that we should <em>see</em> it "VERY soon" [sic]. </p>

<p>  A rare type of <em>bird</em> that likes <a href="http://en.wikipedia.org/wiki/Bacon" rel="nofollow">this</a> a lot.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-283">Load Comments</button></br>
			<div id = "commentsection-283" class = 'collapse'>
			<div id = "comment-605" class = "comment">
				<p>Damn you. I though it was Jin telling  us to refresh the page to see the new design :/</p>
			</div>
			<div id = "comment-606" class = "comment">
				<p>@Lo c It's a TRAP!</p>
			</div>
			<div id = "comment-607" class = "comment">
				<p>@Mart n the cake is a lie!</p>
			</div>
			<div id = "comment-608" class = "comment">
				<p>POO-STORM!!1!1!1!!</p>
			</div>
			<div id = "comment-609" class = "comment">
				<p>@calavera excellent tag ;)</p>
			</div>
			<div id = "comment-610" class = "comment">
				<p>@Mart n did you email him?</p>
			</div>
			<div id = "comment-611" class = "comment">
				<p>@kyle Nope, twitter ;)</p>
			</div>
			</div>
				<textarea id = "speech-283" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-283">
					<img id="start_img-283" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-283">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-284"  class = "post">
				<h2>Answer</h2>
			<div id="vote-284" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>YESSSSS!!!!!!! We're live!!!!!</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-284">Load Comments</button></br>
			<div id = "commentsection-284" class = 'collapse'>
			<div id = "comment-613" class = "comment">
				<p>Now must announce it to other sites :D</p>
			</div>
			</div>
				<textarea id = "speech-284" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-284">
					<img id="start_img-284" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-284">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>