<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Relative orientation of two robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8491" class = "post">
			<h2>Question</h2>
			<div id="vote-8491" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 75</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Relative orientation of two robots</h2>
<p>Given two robot arms with TCP (Tool Center Point) coordinates in the world frame is:</p>

<p>$X_1 = [1, 1, 1, \pi/2, \pi/2, -\pi/2]$</p>

<p>and</p>

<p>$X_2 = [2, 1, 1, 0, -\pi/2, 0]$</p>

<p>The base of the robots is at:</p>

<p>$Base_{Rob1} = [0, 0, 0, 0, 0, 0]$</p>

<p>$Base_{Rob2} = [1, 0, 0, 0, 0, 0]$</p>

<p>(The coordinates are expressed as successive transformations, X-translation, Y-translation, Z-translation, X-rotation, Y-rotation, Z-rotation. None of the joint axes are capable or continuous rotations.)</p>

<p>How many degrees does the TCP of robot 2 have to rotate to have the same orientation as the TCP of robot one?</p>

<p>Is the calculation </p>

<p>$\sqrt{(\pi/2 - 0)^2 + (\pi/2 - (-\pi/2))^2 + (-\pi/2 - 0)^2}$</p>

<p>wrong? If yes, please specify why.</p>

<p>UPDATED:
is the relative orientation of the two robots [ /2, /2, /2] [0, /2,0]=[ /2, , /2]? but the euclidean distance cannot be applied to calculate angular distance?</p>

<p>In other words:</p>

<ol>
<li><p>While programming the robot, and tool frame is selected for motion, to match the orientation of the other one, i would have to issue a move_rel($0, 0, 0, \pi/2, \pi, -\pi/2$) command, but the executed motion would have magnitude of $\pi$?</p></li>
<li><p>While programming the robot, and world frame is selected for motion, to match the orientation of the other one, i would have to issue a move_rel($0, 0, 0, \pi, 0, 0$) command, and the executed motion would have magnitude of $\pi$?</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-8491" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8491">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8491" class = 'collapse'>
			</div>
				<textarea id = "speech-8491" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8491">
					<img id="start_img-8491" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8491">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8494"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8494" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Applying the rotation sequence (x-y-z) that you specify, your first robot tool will have the following rotation matrix:</p>

<p>$R_1 = \begin{bmatrix} 0 &amp; 0 &amp; -1 \\ 0 &amp; -1 &amp; 0 \\ -1 &amp; 0 &amp; 0 \end{bmatrix}$</p>

<p>While your second robot tool will have the following rotation matrix:</p>

<p>$R_2 = \begin{bmatrix} 0 &amp; 0 &amp; -1 \\ 0 &amp; 1 &amp; 0 \\ 1 &amp; 0 &amp; 0 \end{bmatrix}$</p>

<p>Here is a figure to clarify, where the subscript 0 refers to the world coordinate frame, 1 refers to robot 1, and 2 refers to robot 2. Coordinate frames are shown with the x-axis in red, y-axis in green, and z-axis in blue -- grey lines show the world-frame.</p>

<p><a href="https://i.stack.imgur.com/wnm24.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/wnm24.png" alt="enter image description here"></a></p>

<p>There are actually infinite solutions that would rotate you from frame 1 to frame 2, but the simplest would be to rotate about the world frame x-axis by 180 degrees.</p>

<p>We can get that mathematically by looking at the rotation necessary to transform frame 2 to frame 1:</p>

<p>$R_1 = R_{2\rightarrow 1} R_2$</p>

<p>$R_{2 \rightarrow 1} = R_1 R^T_2$</p>

<p>$R_{2 \rightarrow 1} = \begin{bmatrix} 1 &amp; 0 &amp; 0 \\ 0 &amp; -1 &amp; 0 \\ 0 &amp; 0 &amp; -1 \end{bmatrix}$</p>

<p>Which can be treated as a rotation about the x-axis by angle $\phi$:</p>

<p>$R_{2 \rightarrow 1} = \begin{bmatrix} 1 &amp; 0 &amp; 0 \\ 0 &amp; \cos \phi &amp; -\sin \phi \\ 0 &amp; \sin \phi &amp; \cos \phi \end{bmatrix}$</p>

<p>Where $\cos \phi = -1$ and $\sin \phi = 0$. This leads to the solution:</p>

<p>$\phi = n \pi$</p>

<p>Where $n$ is any odd integer. The smallest rotation is when $n = 1$ or $n = -1$, which corresponds to 180 degree rotation about the x-axis in either direction to bring you from frame 2 to frame 1.</p>

<p>On the other hand, if you consider the angle error to simply be the same as a Euclidean distance, then you get the following (evaluating the formula you give in your question):</p>

<p>$\varepsilon = \pi \sqrt{\frac{3}{2}}$</p>

<p>So why is that different? It's because <em>translation</em> takes place in $\mathcal{R}^3$ space while <em>rotation</em> takes place in $\mathcal{S}^3$ space. Euclidean distance is applicable in $\mathcal{R}^3$ space, but not $\mathcal{S}^3$ space. Rotations are non-linear and order matters, meaning most of the concepts applicable to translation are not applicable to rotation.</p>

<p>In some cases you can use the Euclidean distance in angular coordinates to approximate the angular error between two points, but only when the angle errors are small -- essentially linearizing the trigonometric relations $\cos \theta \approx 1$ and $\sin \theta \approx \theta$.</p>

<p>You cannot take two sets of Euler angles, subtract them, and use that difference as the set of Euler angles defining the rotation transformation between the two frames defined by the original angles. For example, given your defined sets of angles resulting in the difference $\begin{bmatrix} \frac{\pi}{2} &amp; \pi &amp; -\frac{\pi}{2} \end{bmatrix}$, those new Euler angles would yield the following rotation matrix:</p>

<p>$R = \begin{bmatrix} 0 &amp; 0 &amp; -1 \\ 1 &amp; 0 &amp; 0\\ 0 &amp; -1 &amp; 0 \end{bmatrix}$</p>

<p>But we already know that the rotation matrix is:</p>

<p>$R = \begin{bmatrix} 1 &amp; 0 &amp; 0 \\ 0 &amp; -1 &amp; 0 \\ 0 &amp; 0 &amp; -1 \end{bmatrix}$</p>

<p>Once again, you simply cannot apply linear mathematics to rotations. The rotation angles give you rotation matrices, and those matrices multiply. The new rotation matrix will itself have a set of corresponding angles, and those angles are not simply the difference between the original sets. The closest you can get to what you are talking about is by using <a href="https://en.wikipedia.org/wiki/Quaternions_and_spatial_rotation" rel="nofollow noreferrer">quaternions</a>, where subsequent rotations can be "added" and "subtracted" but again using non-linear mathematics.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8494" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8494">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8494">Load Comments</button></br>
			<div id = "commentsection-8494" class = 'collapse'>
			<div id = "comment-13747" class = "comment">
				<p>so...$[1, 1, 1]-[2, 1, 1]$ gives the realative distance and euclidean norm can be applied to calcaulte distance everythign is ok. in the orientation case...is the realative orientation of the two robots $[\pi/2, \pi/2, -\pi/2]-[0, -\pi/2, 0] = [\pi/2, \pi, -\pi/2]$? but the euclidiean distance cannot be applied to calculate angular distance. In other words while programming the robot to match the orientation of the other one, i would have to issue a move_rel([0, 0, 0, \pi/2, \pi, -\pi/2$) command, but the executed motion would have magnitute of \pi?</p>
			</div>
			<div id = "comment-13748" class = "comment">
				<p>Well now you are talking about some kind of robot command ("move_rel"), and that is specific to your robot -- the command should be `move_rel([0, 0, 0, pi, 0, 0])`. But no, that angle difference you quote will not yield the overall rotation you want (see my updated answer). Stop thinking about rotations like translations, the math just doesn't apply! You need to imagine the "difference" in rotations is actually another rotation itself, so find the relevant rotation matrix ($R_{2 \rightarrow 1}$ in the answer) and then determine the angles for it.</p>
			</div>
			<div id = "comment-13749" class = "comment">
				<p>Also, I would say yes that you have $\pi$ for a magnitude of the motion, but only in this case where that rotation is along a single axis only. In general, the rotation from one frame to another will have rotations about each axis, and that brings us back to your original question -- the "magnitude" will not be the norm of the angle differences. In that general case, you should think about the rotation using [axis-angle theorem](https://en.wikipedia.org/wiki/Axis%E2%80%93angle_representation). That will yield a single rotation about some unit vector by some angle (the magnitude).</p>
			</div>
			</div>
				<textarea id = "speech-8494" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8494">
					<img id="start_img-8494" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8494">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>