<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Relative Navigation Systems
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4487" class = "post">
			<h2>Question</h2>
			<div id="vote-4487" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 287</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Relative Navigation Systems</h2>
<p>Im trying to develop a system that autonomously navigates a large outside space, where accuracy is vital (GPS is too inaccurate). There are a number of options but have largely been used inside, has anyone tried these or used anything else?</p>

<p>WiFi triangulation,
Dead reckoning,
RFID landmarks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4487" data-toggle = "popover">
				<p>user name : user1949366</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-4487">{'None': 0, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4487">Load Comments</button></br>
			<div id = "commentsection-4487" class = 'collapse'>
			<div id = "comment-7086" class = "comment">
				<p>So, what's the level of accuracy that you need?</p>
			</div>
			</div>
				<textarea id = "speech-4487" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4487">
					<img id="start_img-4487" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4487">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4499"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4499" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would look at the System "PIKSI" from Swift Navigation</p>

<p>It uses one fixed GPS modul and one which is carried on your Robot.
Your accuracy is about 5 centimeters, which is pretty good for a GPS based system</p>

<p>I haven't tried it yet, so I cannot share experience, but I think it is worth a try.</p>

<p>Here are some links:<br>
<a href="http://swiftnav.com/piksi.html" rel="nofollow">http://swiftnav.com/piksi.html</a><br>
<a href="https://www.kickstarter.com/projects/swiftnav/piksi-the-rtk-gps-receiver" rel="nofollow">https://www.kickstarter.com/projects/swiftnav/piksi-the-rtk-gps-receiver</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4499" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4499">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4499" class = 'collapse'>
			</div>
				<textarea id = "speech-4499" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4499">
					<img id="start_img-4499" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4499">Comment</button>
			<br><div id = "ans-4503"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4503" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have tried using <a href="http://www.decawave.com/" rel="nofollow noreferrer">Decawave's</a> <a href="http://www.decawave.com/products/dw1000" rel="nofollow noreferrer">DW1000</a> chips. You can now get these on <a href="http://www.decawave.com/products/dwm1000-module" rel="nofollow noreferrer">little boards</a>:</p>

<p><img src="https://i.stack.imgur.com/pSgsC.jpg" alt="DW1000 board"></p>

<p>These can measure the distance between each other by measuring the time of flight of an Ultra-Wideband message. The precision is about 10cm, and the trueness depends on a lot of factors.</p>

<p>You have a few as base stations, and one or more on each robot. By triangulation, you can work out the location of the robot.</p>

<p>I can report that the chips are insanely complex to program, and the example code they provide is a huge hairball that looks like it was written by an intern. However, they do work, and the other benefit is that you can put a data payload in the messages, so they solve your communications problems too.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4503" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4503">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4503" class = 'collapse'>
			</div>
				<textarea id = "speech-4503" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4503">
					<img id="start_img-4503" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4503">Comment</button>
			<br><div id = "ans-4522"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4522" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can fuse Laser mesurements (which are very precise) with GPS mesurements to navigate and localize the obstacles. I think this is the solution used by google car, but be careful: Laser finders can be very expensive.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4522" data-toggle = "popover">
				<p>user name : Amine Horseman</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-4522">{'control': 1, 'quadcopter': 1, 'None': 14, 'wireless': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4522" class = 'collapse'>
			</div>
				<textarea id = "speech-4522" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4522">
					<img id="start_img-4522" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4522">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>