<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Relay Fix at Normally Open
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10875" class = "post">
			<h2>Question</h2>
			<div id="vote-10875" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Relay Fix at Normally Open</h2>
<p>I am using my RF module to send a High signal to relay but just once by a push button.As soon as I release it the Relay goes to NC . How can I Fix it to stay at NO . I thought of using a Flip-Flop.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10875" data-toggle = "popover">
				<p>user name : A.Tiwari</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-10875">{'radio-control': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10875">Load Comments</button></br>
			<div id = "commentsection-10875" class = 'collapse'>
			<div id = "comment-19601" class = "comment">
				<p>What is your desired behavior? You want to send one pulse and have it stay on... until what? Forever? Power is removed? Another pulse? Generally what you're describing is referred to as a latch, but without a specific description of the desired behavior it's not possible to give you an exact answer.</p>
			</div>
			<div id = "comment-19605" class = "comment">
				<p>Sir I will send pulse once to move relay at NO and send another pulse to move it to NC.like using a remote for a car.</p>
			</div>
			</div>
				<textarea id = "speech-10875" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10875">
					<img id="start_img-10875" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10875">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10880"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10880" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, that is a very good way to go...</p>

<p>you can use a t flip flop so you the q output can hold the relay in the state you need and can toogle every time you press the button..</p>

<p>here the T flip flip, your signal every time you press the button must be connected to the clock</p>

<p><a href="https://i.stack.imgur.com/Pdh0F.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Pdh0F.png" alt="enter image description here"></a> </p>

<p>and the output signal diagram looks like</p>

<p><a href="https://i.stack.imgur.com/FvKVF.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/FvKVF.png" alt="enter image description here"></a></p>

<h1>Edit</h1>

<p>you can replace the flip flop with its equivalent nand gates</p>

<p><a href="https://i.stack.imgur.com/FtxAb.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/FtxAb.png" alt="enter image description here"></a></p>

<p>or even more, considering that every nand gate can be schematizied with diodes 
like</p>

<p>but as you can see you will need more more elements and more place on the main board if you really want to replace the flipflop</p>

<p><a href="https://i.stack.imgur.com/SVOYL.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/SVOYL.png" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10880" data-toggle = "popover">
				<p>user name :  Xoc     epe pa  </p>
				<p> user reputation : 132</p>
				<p class = "tagcontent" id = "usertaginfo-10880">{'kuka': 0, 'None': 1, 'programming-languages': 0, 'industrial-robot': 0, 'software': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10880">Load Comments</button></br>
			<div id = "commentsection-10880" class = 'collapse'>
			<div id = "comment-19604" class = "comment">
				<p>Can there be any other method than using Flip Flops</p>
			</div>
			</div>
				<textarea id = "speech-10880" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10880">
					<img id="start_img-10880" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10880">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>