<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Reliability of Raspberry Pi in Wild Life Guardian Drone project
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11281" class = "post">
			<h2>Question</h2>
			<div id="vote-11281" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 82</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Reliability of Raspberry Pi in Wild Life Guardian Drone project</h2>
<p>I'm new here, my name is Mark, I'm 24 years old and I'm a Linux lover, by 2020 I intend to build up a wildlife guardian drone based on the Raspberry pi which will be connected to the internet but that will operate by its own using artificial intelligence.</p>

<p>Talking about this to a technician at my school in Italy, I have been told that the Raspberry is not suitable for an important project but just for little experiments.</p>

<p>The way he said that seemed to me just a bit too dismissive but he made me become doubtful about the Raspberry's quality so I hope you guys can help me understand if the Raspberry can suite my ambitious plan to build a guardian drone to protect the wildlife of a very little Papua New Guinea island or if it will break the first time it encounters trouble.</p>

<p>Is the Raspberry pi 3 only for little experiments or will it also work for very important stable projects like building robots?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11281" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 5</p>
				<p class = "tagcontent" id = "usertaginfo-11281">{'None': 0, 'raspberry-pi': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11281" class = 'collapse'>
			</div>
				<textarea id = "speech-11281" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11281">
					<img id="start_img-11281" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11281">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11284"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11284" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From what I've seen other people using RaspberryPi, they sometimes had reliability issues with it when used in bad conditions (Thrown around in boxes, lots of interference, dubious power supplies and cables -- This was when they were used for driving displays at a competition, not in robotics though), so there might be a point to what people at your school tell you.</p>

<p>But while building a robot, you will likely be doing a lot of little experimenting anyway :). You can start with a RaspberryPi if you have it available and then move to something else if you find out it's not good enough for you. Buying some expensive hardware only to find out a month later that you actually needed the other one is not so much fun :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11284" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-11284">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11284" class = 'collapse'>
			</div>
				<textarea id = "speech-11284" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11284">
					<img id="start_img-11284" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11284">Comment</button>
			<br><div id = "ans-11286"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11286" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want your drone to operate by itself, it must have some degree of intelligence, which means powerful computation resources are needed. </p>

<p>Assuming you intend to use computer vision for the drone to navigate, then it needs to process video stream real time, which is far beyond what Raspberry can do. However, if you construct an super "elegant" AI, a Raspberry would suffice. But this takes a lot of effort. MIT has built a system that can make an aircraft navigate in the forest, which is very impressive. Since details of the project is not shown in the question, I don't know what kind of intelligence it requires.</p>

<p>By the way, Raspberry alone is not capable of controlling a drone. You are going to need ESC(electronic speed control) to control the motors.</p>

<p>Another solution is that the drone transmits all data to the server, where AI algorithms process the data then give the drone commands. But the method involves other problems. First, it's hard for the drone to transmit the data for long distance. If you want to make the wireless communication reliable and keep the cost down, 2Km might be the limit on complicated terrain. In your case, 2Km may be able to cover the island. You also need to make sure the transmitter won't overheat during operation. Second, real-time processing cannot be guaranteed. If the velocity of  your drone surpass 20m/s, the command delay would be a disaster. </p>

<p>In conclusion. Raspberry is not well-suited for your project, but it's still possible. I found that innovation often comes from those outsiders. So try it, even others tell you it's not possible. Some axiom may be true, but they are only applicable to most people in most conditions, not all.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11286" data-toggle = "popover">
				<p>user name : AiEngineer</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-11286">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11286">Load Comments</button></br>
			<div id = "commentsection-11286" class = 'collapse'>
			<div id = "comment-20434" class = "comment">
				<p>Since your answer is selected and others will be using it, it would be great if you could improve the accuracy of it. 1) As you said, it's the challenge of running vision algorithms on the pi that is the barrier to using it. Realtime is not a problem and the pi would not be directly controlling the motor commutation. ESC's do that. 2) Wireless communications are extremely variable depending on the situation. If you put a distance limit (2km) then you also need to include your assumptions on environment, frequency, traffic, etc. I hope that's interesting to you. Thanks for contributing!</p>
			</div>
			</div>
				<textarea id = "speech-11286" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11286">
					<img id="start_img-11286" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11286">Comment</button>
			<br><div id = "ans-11287"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11287" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>By all means start with a raspberry pi and see where that leads you. If you write your AI, control and other algorithms nice and modular, moving to another platform would be quite simple, and shouldn't be a problem since this is a long-term project. Afterall, you would still be using Linux, gcc, glibc and all sorts of libraries that are portable across Linux distributions and the architecture is running on.</p>

<p>One thing I often experience is that version 1 of anything is very flawed. It's hard to predict all the requirements and challenges of a problem beforehand, so version 1 ends up being patched over patched and ugly. Learning everything from that, version 2 becomes a much better design, more efficient and overall much better. So start with a raspberry pi, knowing that you might even decide to redo the whole thing after initial experimentation, at which point you would be glad you didn't waste a long time trying to find the best platform to do something you weren't entirely sure what it was!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11287" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-11287">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11287" class = 'collapse'>
			</div>
				<textarea id = "speech-11287" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11287">
					<img id="start_img-11287" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11287">Comment</button>
			<br><div id = "ans-11288"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11288" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is no definite answer to your question. In any case you should define specific requirements for you system, including:</p>

<ul>
<li>processing power needed</li>
<li>maximum power consumption</li>
<li>operating temperature range </li>
<li>should the system be dust/water proof</li>
</ul>

<p>What's more, for a drone you will probably need additional board for running motors control loop. Raspberry isn't a good choice here because of real time requirements, but can be good choice for higher level control unit (image processing, navigation etc.) Even if it fails, the motor control could be programmed to safely get a drone to the ground by slowly lowering altitude. </p>

<p>As Shahbaz said, at prototype stage it is a good choice. You will probably want to change it at some point, but first gather more experience on the project.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11288" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-11288">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11288" class = 'collapse'>
			</div>
				<textarea id = "speech-11288" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11288">
					<img id="start_img-11288" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11288">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>