<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Remaking an RC transmitter for controlling aircraft
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9476" class = "post">
			<h2>Question</h2>
			<div id="vote-9476" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 268</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Remaking an RC transmitter for controlling aircraft</h2>
<p>I am thinking about working on alternative drone controllers. I am looking into making it more easy to use and a natural feel (debating between sensor bracelets, rings, etc.).</p>

<p>The main issue I have is, I've been looking over all the standard RC transmitters that are used to control RC aircraft, but I am not sure what technology is inside of them, what kind of ICs they use for the actual RC signals. </p>

<p>I want more information on how to make an RC transmitter myself, mainly the protocol that's used to send messages, and what circuitry is needed to actually transmit that, what kind of components do I need and how should I implement the software?</p>

<p>I was aiming at doing this as a side project (hobby), but now I have the chance to use it as a uni project as well, so I'd like to give it a shot now, but I lack the proper information before getting started. </p>

<p>I'd rather not take apart my current RC controller and use an oscilloscope to decode the protocol. </p>

<p>Any answers (short or long) and reading material is appreciated.</p>

<p>Other questions, can the protocol be implemented in software on an embedded system (Raspberry Pi, Arduino, Intel Galileo, etc.)?
I am asking this because the frequency for these are 2.4 GHz.</p>

<p>This is part of a bigger project, drone related currently, and I could use alternative methods of sending the information, through other wireless means, as the first prototype, suggestions are welcomed.</p>

<p>Need: aircraft RC transmitter protocol info, RC transmitter components &amp; schematics, anything else that might help with the transmission side</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9476" data-toggle = "popover">
				<p>user name : user3000239</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-9476">{'radio-control': 1, 'None': 0, 'microcontroller': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9476">Load Comments</button></br>
			<div id = "commentsection-9476" class = 'collapse'>
			<div id = "comment-16763" class = "comment">
				<p>This is an interesting question, but I fear that it may be a little too broad. However, why do you say `because the frequency for these are 2.4 GHz`? By `these`,  do you mean the Pi, Arduino or Galileo? These boards are not confined to using 2.4 GHz.</p>
			</div>
			<div id = "comment-16765" class = "comment">
				<p>I've mentioned 2.4GHz because that's what I've seen is the norm nowadays when it comes to RC Transmitters, and I'd like to have this prototype work with general RC receivers, so that you could potentially swap the transmitter with my device and continue flying, without having to change the receiver. I've also read about all the features of using Spread spectrum RC, with frequency hopping mainly, and would like to keep that.</p>
			</div>
			</div>
				<textarea id = "speech-9476" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9476">
					<img id="start_img-9476" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9476">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9480"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9480" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are looking at automatic control, consider using a radio modem instead of RC transmitter/receiver. <a href="http://store.rfdesign.com.au/rfd-900p-modem/" rel="nofollow">One example</a>. These are often used on hobby drones for relaying telemetry and control via ground station software.</p>

<p>The Pixhawk is a drone flight computer that works well for this. Designed by researchers, there are lots of inputs and a couple different open source code bases.</p>

<p>Remember that RF communications is not magic and the spectrum is full of noise (other users). Choose your frequencies wisely. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9480" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9480">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9480" class = 'collapse'>
			</div>
				<textarea id = "speech-9480" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9480">
					<img id="start_img-9480" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9480">Comment</button>
			<br><div id = "ans-9481"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9481" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am, unfortunately, not going to address your entire question but, rather, focus on the frequency used for communications. Why do you say:</p>

<blockquote>
  <p>because the frequency for these are 2.4 GHz</p>
</blockquote>

<p>By <em>these</em>,  do you mean the Pi, Arduino or Galileo? </p>

<p>These boards are not confined to using 2.4 GHz. The reason 2.4 GHz is so popular is that it is one of the bands that the telecommunication authorities have deemed available for consumer use<sup><a href="https://en.wikipedia.org/wiki/List_of_2.4_GHz_radio_use" rel="nofollow noreferrer">1</a></sup>, Bluetooth<sup><a href="https://en.wikipedia.org/wiki/Bluetooth" rel="nofollow noreferrer">2</a></sup>, XBee (Series 1 and 2), and Wi-Fi<sup><a href="https://en.wikipedia.org/wiki/List_of_WLAN_channels" rel="nofollow noreferrer">3</a></sup> being the common examples.</p>

<p>It is worth noting that 900 MHz devices <em>generally</em> have a larger range than 2.4 GHz devices. So, depending on the <strong><em>range</em></strong> that you require, you could chose from a wide range of communications devices and frequencies, for example:</p>

<ul>
<li><a href="http://www.digi.com/products/xbee-rf-solutions/modules/xbee-pro-868" rel="nofollow noreferrer">Long Range 868MHz XBee Pro</a> (for Europe), or 900MHz (for US) XBees - However these seem to have reached End-Of-Life;</li>
</ul>

<p><a href="https://i.stack.imgur.com/tysu3.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/tysu3.jpg" alt="XBee Pro 868 Long Range"></a></p>

<ul>
<li><a href="http://www.digi.com/products/xbee-rf-solutions/modules/xbee-868lp" rel="nofollow noreferrer">Low Power 868MHz XBees</a> (for Europe), or 900MHz (for US) XBees</li>
</ul>

<p><a href="https://i.stack.imgur.com/A59iT.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/A59iT.jpg" alt="XBee 868 LP"></a></p>

<ul>
<li><a href="http://www.ebay.co.uk/itm/RFbee-V1-1-RF-Module-Compatible-for-Arduino-Atmega168-ISM-868MHz-915MHz-/141301368650" rel="nofollow noreferrer">868/915MHz RFBees</a></li>
</ul>

<p><a href="https://i.stack.imgur.com/ouEdF.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ouEdF.jpg" alt="RFBee"></a></p>

<p>Also, other frequencies used, in addition to 2.4, 900, 868 MHz, are the 315 and 433 MHz bands:</p>

<ul>
<li><a href="http://www.ebay.co.uk/itm/RF-Wireless-Transmitter-Receiver-Link-Kit-Module-433Mhz-for-Remote-Control-FT-/221676762118" rel="nofollow noreferrer">Simple 433 MHz circuits</a>. </li>
</ul>

<p><a href="https://i.stack.imgur.com/jbIwl.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/jbIwl.jpg" alt="433MHz Receiver/Transmitter"></a></p>

<ul>
<li><a href="http://www.ebay.co.uk/itm/NRF905-Arduino-Compatible-Wireless-Communication-Transmission-Module-/151855926839" rel="nofollow noreferrer">NRF905 Arduino Compatible Wireless Communication Transmission Module</a></li>
</ul>

<p><a href="https://i.stack.imgur.com/QoGPT.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/QoGPT.jpg" alt="nRF905"></a></p>

<ul>
<li><a href="http://www.ebay.co.uk/itm/CC1101-Wireless-RF-Transceiver-315-433-868-915MHZ-SMA-Antenna-Module-/231718316695" rel="nofollow noreferrer">CC1101 Wireless RF Transceiver 315/433/868/915MHZ + SMA Antenna Module</a></li>
</ul>

<p><a href="https://i.stack.imgur.com/jobGk.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/jobGk.jpg" alt="CC1101"></a></p>

<p>If you do decide to stick with 2.4 GHz then it is well worth considering the successors to the popular <a href="http://www.nordicsemi.com/eng/Products/2.4GHz-RF/nRF24L01" rel="nofollow noreferrer">nRF24L01</a>:</p>

<blockquote>
  <p>This product is not recommended for new designs. Nordic recommends its drop-in compatible nRF24L01+ or for a System-on-Chip solution the Nordic nRF24LE1 or nRF24LU1+.</p>
</blockquote>

<p><a href="https://i.stack.imgur.com/lGhf4.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/lGhf4.jpg" alt="nRF24L01"></a></p>

<h3>A note on protocols</h3>

<p>One of the advantages of using XBees is that they already implement a pretty rugged and secure protocol, so there is less need for you to have to re-invent the wheel. However, they are relatively slow (the data rate is 250kbps half duplex), so should you require FPV then XBee will not be sufficient. See also <a href="https://robotics.stackexchange.com/questions/6701/drones-and-camera-streaming">Drones and camera streaming</a>.</p>

<p>Protocols implemented in software (using a Pi, Arduino, or whatever), could be a little slow and it is probably better to use one that is implemented in hardware as the control of aircraft is somewhat time sensitive, that is to say, the least lag possible is required, for accurate flight control.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9481" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-9481">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9481">Load Comments</button></br>
			<div id = "commentsection-9481" class = 'collapse'>
			<div id = "comment-16767" class = "comment">
				<p>I want to keep compatibility with existing receivers, that is why I wanted 2.4GHz, and for that, the last product you've shown seems to fit the requirement.
In which case, I still have a few more questions before hitting google and finding out more on my own:
1. Is there anywhere I can find information on commonly used protocols? I'll have a hard time finding an oscilloscope to decode that kind of frequency.
2. Is it possible to reproduce a commonly used protocol, with a microcontroller such as Arduino (Uno or Galileo), or a Pi? (I have access to these only)</p>
			</div>
			<div id = "comment-16769" class = "comment">
				<p>@user3000239 - Thanks for accepting my answer, although I am not sure whether it should actually be the accepted answer, as the other answers seem to address your question better. W.R.T. your other two questions, it might be better for you to _strip out_ your questions about protocol in this lengthly question (and leave it solely about about ICs and H/W) and post a _separate_ question specifically about which protocols are used and how to reproduce them programmatically. In your second question it would probably be wise to put a link referring back to this question, i.e. "Following on from..."</p>
			</div>
			</div>
				<textarea id = "speech-9481" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9481">
					<img id="start_img-9481" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9481">Comment</button>
			<br><div id = "ans-9484"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9484" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>what kind of ICs they use for the actual RC signals</p>
</blockquote>

<h2>Traditional FM RC</h2>

<p>The over-the-air signal to a RC aircraft is often a FM-modulated binary PPM signal in a narrow slice of the 72 MHz band.</p>

<p>That band is reserved only for RC aircraft.</p>

<p>The Phillips NE5044 is a typical RC encoder IC.</p>

<p>Often the receiver includes either a 4017 decade counter or a 4015 shift register -- that chip decodes the RC PPM signal at its CLK input into to several independent "RC PWM" outputs.</p>

<p><a href="http://www.opencircuits.com/servo_control" rel="nofollow">Open Circuits: servo control</a> has more details.</p>

<h2>Spread spectrum RC</h2>

<p>The over-the-air signal to new RC aircraft is often a spread-spectrum modulated PCM signal spread out over a very wide 2.4 GHz ISM band.
Modern spread-spectrum and error-correcting techniques allow more-or-less error-free communication,
even though that band is shared with microwave ovens, WiFi, ZigBee, Bluetooth, and many other transmitters.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9484" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-9484">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9484" class = 'collapse'>
			</div>
				<textarea id = "speech-9484" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9484">
					<img id="start_img-9484" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9484">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>