<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Remove or update answers that are incorrect due to technological advances
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-949" class = "post">
			<h2>Question</h2>
			<div id="vote-949" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 74</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Remove or update answers that are incorrect due to technological advances</h2>
<p>I have come across some answers that are now incorrect since the launch of iOS5. <a href="https://apple.stackexchange.com/questions/24677/how-to-switch-between-mail-and-safari-on-ipad-2/33508#33508">Such as this one</a> </p>

<p>Should another answer be put down or should we change these answers to make them factually correct?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-949" data-toggle = "popover">
				<p>user name : Graeme Hutchison</p>
				<p> user reputation : 5627</p>
				<p class = "tagcontent" id = "usertaginfo-949">{'None': 0, 'site-scope': 19, 'support': 0, 'profile-page': 0, 'feature-request': 8, 'discussion': 28}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-949" class = 'collapse'>
			</div>
				<textarea id = "speech-949" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-949">
					<img id="start_img-949" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-949">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-950"  class = "post">
				<h2>Answer</h2>
			<div id="vote-950" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Moderators don't generally delete things because they are incorrect or out of date. This is one of the stock flag rejection messages: "Flags should not be used to indicate technical inaccuracies, or an altogether wrong answer".</p>

<p>It's okay to edit, but you generally shouldn't change the meaning of the original post. This is one of the stock edit rejection messages: "This edit changes too much in the original post; the original meaning or intent of the post would be lost."<br>
<em>Note, of course, that if the post is a Community Wiki you should by all means change it as much as necessary.</em></p>

<p><strong>Generally, the thing to do is write your own answer!</strong><br>
If your new one is correct, people will vote it up and it will float to the top.</p>

<p>It's also completely okay to comment on an out-of-date answer to warn the OP and other users.</p>

<p>I would probably stop short of downvoting until the OP has had fair warning that their post is out of date, so that they have a chance to fix it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-950" data-toggle = "popover">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p class = "tagcontent" id = "usertaginfo-950">{'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-950">Load Comments</button></br>
			<div id = "commentsection-950" class = 'collapse'>
			<div id = "comment-1721" class = "comment">
				<p>I wouldn't down vote, as it was correct at one time, just not now. I have previously made small edits to answers to bring them up to date, but for some answers you may as well write a totally new answer.</p>
			</div>
			</div>
				<textarea id = "speech-950" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-950">
					<img id="start_img-950" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-950">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>