<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>remote control laser meter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5016" class = "post">
			<h2>Question</h2>
			<div id="vote-5016" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>remote control laser meter</h2>
<p>I am looking to buy a laser distance meter and to connect it to a motor and a 3g cellular to control both the motor and to mesure the distance. I will appriciate your advice on how to do so. thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5016" data-toggle = "popover">
				<p>user name : Arik Noi</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-5016">{'None': 0, 'laser': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5016">Load Comments</button></br>
			<div id = "commentsection-5016" class = 'collapse'>
			<div id = "comment-7772" class = "comment">
				<p>What kind of distances are you interested in measuring?</p>
			</div>
			<div id = "comment-7775" class = "comment">
				<p>shold be around 50-70 meters</p>
			</div>
			</div>
				<textarea id = "speech-5016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5016">
					<img id="start_img-5016" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5016">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5024"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5024" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like all you need is a single beam distance measurement.  There are lots of devices like the <a href="http://www.boschtools.com/products/tools/Pages/BoschProductDetail.aspx?pid=DLR130K" rel="nofollow">Bosch laser distance meter</a>.  But i don't think they have the range you want, and also probably no computer interface.</p>

<p>SICK makes a 2D laser scanner that used to be standard in robotics.  (You can see many of these mounted atop the DARPA Grand Challenge cars for example).  I think the standard used to be the LMS200 series, but it looks that has been replaced by the <a href="https://www.mysick.com/eCat.aspx?go=FinderSearch&amp;Cat=Row&amp;At=Fa&amp;Cult=English&amp;FamilyID=344&amp;Category=Produktfinder&amp;Selections=50696,34243" rel="nofollow">LMS500 series</a>.  These work outdoors, have ranges up to 80 meters, and are easily interfaced with a computer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5024" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5024">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5024">Load Comments</button></br>
			<div id = "commentsection-5024" class = 'collapse'>
			<div id = "comment-7785" class = "comment">
				<p>thanks. yet, bosch products have no details about pc connectivity except to the ones with blooetooth</p>
			</div>
			</div>
				<textarea id = "speech-5024" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5024">
					<img id="start_img-5024" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5024">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>