<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>remote controlled quadcopter : Why is it not possible to send all the commands over one channel?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11320" class = "post">
			<h2>Question</h2>
			<div id="vote-11320" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 256</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>remote controlled quadcopter : Why is it not possible to send all the commands over one channel?</h2>
<p>First of all, this might be a stupid or bad question but i am quite new to this topic.</p>

<p>I want to build a rc transmitter (with some joystick buttons, an arduino and a hc-12 transceiver). I've searched a lot about this topic. But i still have a question that rests unanswered. </p>

<p>Why is it necessary to use multiple channnels to control for example pitch,jaw,throttle of a quadcopter. <a href="https://hobbyking.com/en_us/hobby-king-2-4ghz-6ch-tx-rx-v2-mode-2.html" rel="nofollow noreferrer">transmitters in shops</a> have 4 or 6 channels but i don't understand why these different channels are necessary. These transmitter send the information of each button over a different channel, why is this necassary?</p>

<p>Is it not possible to send the commands over one channel (all at the same frequency)? For example send p30 for a pitch of 30 degrees and j30 for a jaw of 30 degrees? Than, the receiver can interpret this as well?</p>

<p>I guess it is to send al the commands on the same time?</p>

<p>Thanks in advance </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11320" data-toggle = "popover">
				<p>user name : newbee</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-11320">{'quadcopter': 4, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11320">Load Comments</button></br>
			<div id = "commentsection-11320" class = 'collapse'>
			<div id = "comment-20464" class = "comment">
				<p>Welcome to *Robotics* newbee, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to include details of what you want to achieve, what you tried, what you saw & what you expected to see. Please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			<div id = "comment-20465" class = "comment">
				<p>Ok  Mark, i will try to formulate it beter and more specific</p>
			</div>
			<div id = "comment-20467" class = "comment">
				<p>Thanks newbee, understanding how to write a good question is a skill we all have to learn.</p>
			</div>
			</div>
				<textarea id = "speech-11320" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11320">
					<img id="start_img-11320" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11320">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11330"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11330" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's a bit more complex than that. </p>

<p>Basically, it is <em>several channels</em> multiplexed and all transmitted on <em>one channel</em>, yet constantly being switched between <em>various channels</em>.</p>

<p>That sounds confusing so let me explain what I mean.</p>

<p>Let's take as an example of a classic four <em>channel</em> RC system. You'd have roll, yaw, pitch and throttle. Each control stick axis is on a separate channel electronically, but then they are multiplexed together into a single <em>channel</em> and the receiver will demultiplex them back out into their various control channels so that each can move a servo or signal a microprocessor. </p>

<p>In the case of a DSM type transmitter this single multiplexed channel is encoded so that a single receiver alone (the one that you bind to) can understand your transmitter. This allows several users to coexist all in the same 2.4GHz band of frequencies. The fact that several users are all transmitting signals to their own vehicles at the same time potentially leads to interference problems and so the transmitter now uses frequency or <em>channel</em> hopping algorithms in order to avoid the interference from all the other users nearby.</p>

<p>So here we have used the word channel to refer to several different things:</p>

<ul>
<li>several <em>channels</em>, one for each dimension of control</li>
<li>a single multiplexed <em>channel</em> of info transmitted to the receiver</li>
<li>signal hopping between various <em>channels</em> to avoid interference</li>
</ul>

<p>RC controllers have evolved through many generations and are quite good today at allowing numerous users to coexist in the same area.</p>

<p>Sure, you could design a transmitter that sends all the information you want on a single radio <em>channel</em> as <a href="http://www.rcuniverse.com/forum/golden-age-vintage-antique-rc-196/9741452-2-4ghz-single-channel.html" rel="nofollow noreferrer">this person seems to have done</a>. But I think that they would soon learn of the shortcomings of their design if they tried to use that one design on multiple vehicles at the same place and time.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11330" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-11330">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11330" class = 'collapse'>
			</div>
				<textarea id = "speech-11330" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11330">
					<img id="start_img-11330" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11330">Comment</button>
			<br><div id = "ans-11345"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11345" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Arduino, HC-12 transceivers and a KY-023-type X and Y Joystick?
I shall be able to respond it to you in a few days time.
I got my remote control already working, a 50k Potentiometer to send to the ESC on the plane the motor speed that I desire and the KY-023. I am using an Arduino Nano (Micro or Uno would work great as well), however, on the receiver side(plane), I am using an Arduino based on Atmega32u4, a little more expensive. Why? For better performance, and in order to avoid interference with the servos, so you need a physical serial UART port, and the other Arduinos(with the exception of the 32u4-based and the Mega) have only one, witch is used to upload the code and debug (the Serial instance). This one has Serial and Serial1, Serial1 being represented by a pair of distinct pins on the board, that provides you with a hardware-based serial UART interface (avoiding running the HC-12 over a software-based one) that will give you better IO performance and also avoid conflicts with the Servo.h lib that uses Timer1. The only reason that I can't give you the answer now, is that I burned my receiver by accident while connecting it to a drop-down voltage regulator in order to start outdoor testing. Indoors it was moving the servos with quite acceptable delay, however, due to current limitations I had to buy those external power supplies, coz the onboard ones were not holding voltage while dealing with 2 servos plus the transceiver. I was using factory default configuration, Serial1 set to 9600bps. Data format is: 1000,110,89 -> First value meant to be ESC speed control, second one to be X servo position and third to be Y servo position. The manual(datasheet) says it has a time between 4-80mS per byte sent, so, do not abuse it. I also read that if you send and receive too much data at the same time, it gets as slow as 1 sec. per cycle. So this is it! As soon as I get a new board I will start outdoor testing and post the results.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11345" data-toggle = "popover">
				<p>user name : Jeferson Lucio</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11345">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11345">Load Comments</button></br>
			<div id = "commentsection-11345" class = 'collapse'>
			<div id = "comment-20510" class = "comment">
				<p>Hi and welcome to Robotics! Please improve formatting of your answer and split it into multiple paragraphs, as reading through a text wall like this is not very pleasant.</p>
			</div>
			</div>
				<textarea id = "speech-11345" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11345">
					<img id="start_img-11345" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11345">Comment</button>
			<br><div id = "ans-11397"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11397" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, today I was able to finally get my hands on a new Hc-12 transceiver, since one the last batch was burned out by accident and I had to give my project a pause. So today, I lowered the baud rate of both boards to 2400bps, since it offers the best rage and transmitting power possible, and changed from the default channel-01 to channel-02. If I may, let me share a couple of important things about these little things. First, <strong>always</strong>, if powering from 4.5v to 5v, always use a 1N4007 diode in series with the module, specially if you're transmitting all the time. My transmitter got so hot that I though it was gone for good, lucky enough, I saw this information on the manuals before loosing it. A 100uf decoupling electrolytic capacitor is also recommended, to be put in direct contat with the board after the diode. I think the pourpose here is decoupling, power reservoir and/or noise filtering. It is raining down here, and probably will still rain for a few days, so I am not so eager to take the pair outside for a real trial run. I will need binoculars and a few aluminum foil pieces glued to a stick and then glued to the servos, so I can observe from a certain distance. What I can tell for the indoors performance is that it looks sharp. But the KY-023-type X and Y Joystick really requires skill to operate, it requires you to have hands of a fairy, only after training for like 1h I could move it to the desired positions without making the servos jump around. You need to go slowly but surely. Lag is almost non-existent, I would say looks pretty much real time. What really scared me is the current-hungry pair of sg90 servos! 4 AA batteries are not enough to power them directly and the 32u4-based Arduino board + transceiver. So I am looking into C-type batteries or even a power bank to be able to test outside. Really! This servo-current thing is really giving me something else to think about......</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11397" data-toggle = "popover">
				<p>user name : Jeferson Lucio</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11397">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11397">Load Comments</button></br>
			<div id = "commentsection-11397" class = 'collapse'>
			<div id = "comment-20608" class = "comment">
				<p>Hi! I "solved" the servo issue with the addition of 3x 4700uF caps in parallel between then and the power source (4 AA-size alcaline batteries), and put a 100uF capacitor connected directly to the Hc-12 module (direct to it, after the IN1007 diode). The leds on the Arduino board still "Jitter" when the servos move, but the Arduino board does not reboot nor freezes anymore. 250 meters direct sight, is all I've got in an open RF-noisily environment (long street, small town). Factory mode 9.6kbps, CH02. I'll try to lower the b. rate to 2.4kbps and get a pair of better antennas.</p>
			</div>
			<div id = "comment-20649" class = "comment">
				<p>Hello again! I've just bought an Nagoya Na-771 UHF Antenna + Pigtail and connected it to the transmitter board. Eager to start testing again ASAP. This antenna has 3dB gain while the onboard one is said to have 2dB. If the weather clears (stops raining) tonight or tomorrow night, I will test it outdoors. I will keep initially 9.6kbps, it is said to reach a maximum of 600 meters with this configuration, which to me, is more than enough. ESC with BEC, motor and battery will arrive soon. I am curious to see how it's going to behave under the electrical magnetic noise of a brushless nearby.</p>
			</div>
			<div id = "comment-20654" class = "comment">
				<p>The Na-771 Antenna on the transmitter side made the "magic", I've got a little more than 500 meters from it, direct line of sight, basically doubling the range. Used default factory configuration (only the UHF channel was changed to CH02, keeping 9.6kbps). As I said before the weather was not so nice and the avenue I used to test it is RF-noisily, many cars passing by as well, I wonder how things would go on the country-side (I will get there in a few days, should the weather helps and my ESC and brushless motor arrive). As I mentioned before I'm worried about motor noise on UHF band.</p>
			</div>
			<div id = "comment-20655" class = "comment">
				<p>I am quite happy with the 500 meters range. I am studding UHF antennas in order to find out how can I implement one, better than the HC-12's factory-default to fly on my flying wing without messing CG or aerodynamics. However, don't you guys agree that 500 meters is enough to fly a line of sight 1,2 meters flying wing? Further than that, if you're not using FPV, you can easily lost visual contact with such small object on this giving distance, against a clear sky background, and even if you implement engine shutdown and emergency landing protocols, most of the time you're going to be domed.</p>
			</div>
			<div id = "comment-20728" class = "comment">
				<p>Hello again! The 2A/5v BEC contained into the ESC seems to supply more than enough current to drive the Arduino Micro, the two SG90 servos and the HC-12 transceiver, and the current lines seem to be clean enough not to interfere with the operation of them all. My wing will arrive late this week and I am exited about testing it all together!!</p>
			</div>
			<div id = "comment-20769" class = "comment">
				<p>Hey! Here is the result of my progress so far. Eager to fly it tomorrow or during the weekend. Last thing I've done was to ensure elevator flat and engine stop if the remote link is lost for more than 2 seconds. 
https://www.youtube.com/watch?v=EjbmKQSqXXE</p>
			</div>
			<div id = "comment-20961" class = "comment">
				<p>Everything is working however I crashed the wing very badly, due to lack of proper control. The KY-023 is to blame. This is definitely not the kind of control you want to have over a flying object, it's too sensible, and prone to disaster. I needed something pro, so I ordered a gimbaled stick of a Taranis X9d RC, a little expensive but definitely pro stuff, and will improve my handling over the RC wing. Will post news as soon as I have them. Interesting that I had shown the KY-023 working to a friend who builds and flies models, and he was shocked about how crappy and sensible it is.</p>
			</div>
			<div id = "comment-21285" class = "comment">
				<p>The new wing that we built is working flawlessly. I am eager to post a video and finally the source code. Much to my surprise, the MPU6050 IMU is giving me a lot of headaches (I just edited out this part of the source code and decided to implement an autopilot latter), while the RC-12s are working like a charm. Still need a test of maximum safe range over the air, so far we got some 500 meter with no interruption in communications. Brushless engines seems not to cause that much interference(or none at all) on this little UHF module, or maybe I've been  only too good wiring things up! ;-)</p>
			</div>
			</div>
				<textarea id = "speech-11397" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11397">
					<img id="start_img-11397" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11397">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>