<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Remove duplicate status for a non-duplicate question
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2270" class = "post">
			<h2>Question</h2>
			<div id="vote-2270" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 34</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Remove duplicate status for a non-duplicate question</h2>
<p><a href="https://apple.stackexchange.com/questions/151821/disable-iphoto-auto-launch-when-connecting-an-iphone-in-yosemite">Disable iPhoto auto launch when connecting an iPhone or iPad</a>
is marked as duplicate. It's not. It's similar but it only pertains to iPhoto specifically in Yosemite.</p>

<p>Got feedback that it should explain how it's different. That can't possibly be reasonable, to have to defend why a question is different when it clearly is.
The answers in the linked "duplicate" works fine for the question posted there. But not for the question I posted.</p>

<p>The last answer in the linked "duplicate" even refers to my question since it does not solve the problem I posted about. </p>

<p>Who can remove such duplicate flags?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2270" data-toggle = "popover">
				<p>user name : GusOst</p>
				<p> user reputation : 1528</p>
				<p class = "tagcontent" id = "usertaginfo-2270">{'closed-questions': 1, 'exact-duplicates': 1, 'None': 0, 'support': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2270" class = 'collapse'>
			</div>
				<textarea id = "speech-2270" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2270">
					<img id="start_img-2270" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2270">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2272"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2272" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>All moderators can (and will if necessary) reopen questions, but so can high-rep users if a question is flagged for a reopen. Flagging for reopen can be done either explicitly (by clicking on the "reopen" label below the question) or be editing the text of a question.</p>

<p>In the question linked above, the comments indicate why an edit is deemed necessary, primarily because <em>as written</em> the question doesn't say anything about the solution in the linked question not solving the problem in Yosemite any longer. So if you want the question reopened, the easiest way would be to rewrite the question to show the steps already tried (e.g. changing the setting in iPhoto).</p>

<p>PS: Please keep in mind that it's not just the moderators who can moderate/improve the site -- all users can (and are invited to) do that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2272" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2272">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2272">Load Comments</button></br>
			<div id = "commentsection-2272" class = 'collapse'>
			<div id = "comment-4276" class = "comment">
				<p>Real annoying that it says: 
"This question already has an answer here:"...
when the question has no answer there.</p>
			</div>
			<div id = "comment-4277" class = "comment">
				<p>@GusOst Feel free to fix the question so we can reopen it.</p>
			</div>
			<div id = "comment-4278" class = "comment">
				<p>@GusOst Technically the linked question does have four answers with one marked as accepted by the OP. If a question is a duplicate of one without an answer, the question **cannot be marked as a duplicate of it** (unless it's an edge case where both questions are by the OP for the purposes where OP reposts their question). As far as the system is concerned, the linked question does answer the same question as the one you asked (as marked by a user not trying to imply any AI/etc here) and is therefore marked as duplicate. This means you should edit your question body to explain why it is not.</p>
			</div>
			<div id = "comment-4291" class = "comment">
				<p>I did. @grgarside
I will never again contribute to this site. Not worth the frustration.</p>
			</div>
			</div>
				<textarea id = "speech-2272" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2272">
					<img id="start_img-2272" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2272">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>