<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Remote Control Relative to Driver
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6818" class = "post">
			<h2>Question</h2>
			<div id="vote-6818" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 35</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Remote Control Relative to Driver</h2>
<p>Is it possible to remote control a 'robot' relative to the driver with an angle sensor (or any other sensor)?  For example, if the robot starts in this position</p>

<pre><code>--------------
|    Front   |
|  --------  |
| |________| |     [robot]
|    Back    |
--------------
</code></pre>

<p>and the joystick is in this configuration</p>

<pre><code>--------------
|  Forwards  |
| [joystick] |
|  Backwards |
--------------
</code></pre>

<p>then if the robot turns around,</p>

<pre><code>--------------
|    Back    |
|  --------  |
| |________| |     [robot]
|    Front   |
--------------
</code></pre>

<p>pushing the controller forwards will still make the robot go forward</p>

<pre><code>--------------
|      ^     |
| [joystick] |
|  Backwards |
--------------

--------------
|      ^     |
|  --------  |
| |________| |     [robot]
|    Front   |
--------------
</code></pre>

<p><em>even though from the robot's POV, he's going backwards</em>.</p>

<p>Any ideas/solutions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6818" data-toggle = "popover">
				<p>user name : Max Isom</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-6818">{'control': 0, 'None': 0, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6818" class = 'collapse'>
			</div>
				<textarea id = "speech-6818" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6818">
					<img id="start_img-6818" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6818">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6856"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6856" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sure, as along as you can measure orientation (compass, GPS, whatever). Remember the initial orientation and then before figuring out the direction to command the robot, you just need to rotate the coordinates. So if the joystick (DRIVER) and robot are aligned to start (initial offset 0) and then the robot is pointing, say at 90 degrees, and you command the robot to move in the 180 direction FROM THE DRIVER PERSPECTIVE, you take the 180 minus the current orientation of the robot (90) and issue a command for the robot to move in the 90 degree direction IN IT'S OWN ROTATED COORDINATE SYSTEM.</p>

<p>So robot command is driver coordinate command direction minus current robot direction relative to the driver coordinate (which was stored at initiation). Just add one more factor if the robot and driver aren't initially aligned. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6856" data-toggle = "popover">
				<p>user name : ViennaMike</p>
				<p> user reputation : 353</p>
				<p class = "tagcontent" id = "usertaginfo-6856">{'None': 15, 'sensors': 11, 'compass': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6856" class = 'collapse'>
			</div>
				<textarea id = "speech-6856" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6856">
					<img id="start_img-6856" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6856">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>