<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Remote car controlling
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-876" class = "post">
			<h2>Question</h2>
			<div id="vote-876" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 91</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Remote car controlling</h2>
<p>Before I start asking you for help let you know that I am newbie in electronic field.</p>

<p>All I want to know is the principle of wheel rotation (left-right) from remote car gadget. I am not talking about changing the spin rotation of DC motor (up,down buttons from remote), I am asking about left and right movement of wheel.</p>

<p>I know that spin change depends on polarity of DC motor, so changing polarity changes spin, but what is the principle of changing the left and right positions of front wheels.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-876" data-toggle = "popover">
				<p>user name : ttokic</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-876">{'control': 0, 'wheel': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-876" class = 'collapse'>
			</div>
				<textarea id = "speech-876" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-876">
					<img id="start_img-876" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-876">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-877"  class = "post">
				<h2>Answer</h2>
			<div id="vote-877" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A DC motor has 2 directions, <code>forwards</code> and <code>backwards</code>.</p>

<p>The DC motor <strong>does not</strong> control the direction of an RC car, instead it's the <strong>steering mechanism</strong>.</p>

<p>Rather than write everything here - I have found <a href="http://rc4beginners.blogspot.co.nz/p/lesson-4-steering-system_06.html" rel="nofollow">an article</a> for you that I believe will explain the principles of car steering. Hopefully it's a good starting point for you; feel free to Google for further information that you require. </p>

<p>The term <a href="https://www.google.com/#hl=en&amp;sugexp=les;&amp;gs_rn=2&amp;gs_ri=hp&amp;tok=BBu9JIbGhlO8CVJL8oOmfQ&amp;cp=22&amp;gs_id=6&amp;xhr=t&amp;q=how+car+steering+works&amp;es_nrs=true&amp;pf=p&amp;tbo=d&amp;output=search&amp;sclient=psy-ab&amp;oq=how+car+steering+works&amp;gs_l=&amp;pbx=1&amp;bav=on.2,or.r_gc.r_pw.r_cp.r_qf.&amp;bvm=bv.41867550,d.dGI&amp;fp=6daf5ba8052c93de&amp;biw=1527&amp;bih=840" rel="nofollow"><code>how car steering works</code></a> returns <strong>a lot</strong> of results. Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-877" data-toggle = "popover">
				<p>user name : Marko</p>
				<p> user reputation : 184</p>
				<p class = "tagcontent" id = "usertaginfo-877">{'quadcopter': 6, 'None': 0, 'gps': 6, 'two-wheeled': 6, 'arduino': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-877" class = 'collapse'>
			</div>
				<textarea id = "speech-877" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-877">
					<img id="start_img-877" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-877">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>