<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Rename [photos] to [photographs]
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2710" class = "post">
			<h2>Question</h2>
			<div id="vote-2710" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 21</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Rename [photos] to [photographs]</h2>
<p>Sorry, I couldn't think up of a burnination zinger.</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/photos" class="post-tag" title="show questions tagged &#39;photos&#39;" rel="tag">photos</a> is ambiguous, as people may think it refers to the photos OS X application.</p>

<p>It should be renamed to <a href="https://apple.stackexchange.com/questions/tagged/photographs" class="post-tag" title="show questions tagged &#39;photographs&#39;" rel="tag">photographs</a> to avoid ambiguity.</p>

<p>There was a previous request to change it as an answer by the OP of <a href="https://apple.meta.stackexchange.com/questions/2455/synonym-for-photos-app-to-photos">Synonym for photos.app to photos</a> , but underneath that answer was a comment suggesting using the tag chat room (now frozen) or another question to discuss it.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2710">Load Comments</button></br>
			<div id = "commentsection-2710" class = 'collapse'>
			<div id = "comment-5999" class = "comment">
				<p>That won't make a difference as people will select photos rather than photographs</p>
			</div>
			<div id = "comment-6037" class = "comment">
				<p>How about a new tag for Photos the app as Photos.app and an explicit mention in the tag descriptor for the existing photos tag?</p>
			</div>
			</div>
				<textarea id = "speech-2710" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2710">
					<img id="start_img-2710" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2710">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>