<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Repairing non-lubricated linear actuator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3218" class = "post">
			<h2>Question</h2>
			<div id="vote-3218" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 175</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Repairing non-lubricated linear actuator</h2>
<p>I have a Chinese CNC mill (CNC3020T, though several different devices go under this name), and its Z axis was very imprecise, often being randomly off position by as much as 0.5mm. I've disassembled the linear actuator and discovered several problems with it.</p>

<p>First problem is that they apparently forgot to lubricate the linear ball bearings. I make this conclusion because the rails have a set of grooves ground into them, and after wiping the rails with a tissue the only thing that is left is the finely powdered metal, with no traces of oil or other lubricant.</p>

<p><img src="https://i.stack.imgur.com/eIQYD.jpg" alt="rails">
<img src="https://i.stack.imgur.com/bf2b4.jpg" alt="bearings"></p>

<p>Second problem is the nut. I expected to see a ballnut, but in reality it is just a piece of threaded PTFE! The leadscrew rotates smoothly in it, but there is quite some lateral movement, i.e. I can tilt it slightly without any opposing force.</p>

<p><img src="https://i.stack.imgur.com/8KVRS.jpg" alt="PTFE nut"></p>

<p>Third problem is the overall mounting. In the picture below, the top left screw has been sheared in the factory and then they hid their mistake by tapping a larger thread and putting in a shorter screw that doesn't actually hold anything in the top plate.  So the whole assembly was fixed in three, rather than four, points. However, the remaining screw was quite tight.</p>

<p><img src="https://i.stack.imgur.com/MSvwB.jpg" alt="assembly"></p>

<p>So my closely related questions are:</p>

<ul>
<li>Is the assembly even salvageable? How do I verify that linear ball bearings, the PTFE nut are relatively undamaged?</li>
<li>Can I just rotate the rails by 45  to get smooth surface again?</li>
<li>What do I lubricate the linear bearings with? Do I clean them before lubrication? I have an ultrasonic cleaner.</li>
<li>Any other advice on maintenance of the whole assembly? There may be something that I missed.</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-3218" data-toggle = "popover">
				<p>user name : whitequark</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-3218">{'actuator': 2, 'None': 1, 'linear-bearing': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3218">Load Comments</button></br>
			<div id = "commentsection-3218" class = 'collapse'>
			<div id = "comment-6773" class = "comment">
				<p>The RepRap page http://reprap.org/wiki/Lubrication says that PTFE-based lubricant would be the best for both leadscrew and linear bearings. Leadscrew seems to be lubricated using it. I'll try it.</p>
			</div>
			</div>
				<textarea id = "speech-3218" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3218">
					<img id="start_img-3218" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3218">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4383"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4383" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've cleaned the bearings of residue using dimethoxymethane aerosol and lubricated them with PTFE-based oil lubricant. It works pretty well now.</p>

<p>More details <a href="http://lab.whitequark.org/notes/2014-07-08/cnc3020t-poor-positioning-accuracy/" rel="nofollow">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4383" data-toggle = "popover">
				<p>user name : whitequark</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-4383">{'actuator': 2, 'None': 1, 'linear-bearing': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4383" class = 'collapse'>
			</div>
				<textarea id = "speech-4383" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4383">
					<img id="start_img-4383" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4383">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>