<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Rephrase 'Basic Customer Support' off-topic wording
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2870" class = "post">
			<h2>Question</h2>
			<div id="vote-2870" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 76</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Rephrase 'Basic Customer Support' off-topic wording</h2>
<p>I flagged <a href="https://apple.stackexchange.com/questions/251737/ios-app-that-delivers-push-notifications-for-twitter-hanshtags">this question</a> and commented that it would be better suited for the <a href="https://softwarerecs.stackexchange.com/">SR</a> site, instead.  </p>

<p>@patrix, and probably others, agreed and put the question on hold.  I was reading the 'hold' wording and realized it didn't mention the SR site at all:</p>

<blockquote>
  <p>"Basic Customer Support or <strong>questions asking to recommend or find off-site resources (Mac/book/software/tutorial)</strong> are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit to clearly describe your problem and the research done so far to solve it."</p>
</blockquote>

<p><em>Emphasis added by me.</em></p>

<p>I didn't know the SR existed until a few weeks ago so I'm sure many others don't realize it, either.  An OP who reads this wouldn't realize there's an entire site dedicated to seeking recommendations; instead, they're directed to edit they're question to describe the problem they're having.  Maybe they don't have a problem and just want a recommendation?</p>

<p>Should the wording of this message be changed to direct the OP to either edit they're question, as it currently says, or ask the question on the SR site?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2870" data-toggle = "popover">
				<p>user name : fsb</p>
				<p> user reputation : 7698</p>
				<p class = "tagcontent" id = "usertaginfo-2870">{'None': 7, 'software-recommendation': 0, 'support': 4, 'close-reasons': 2, 'suggested-edits': 4, 'flagging': 6, 'discussion': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2870" class = 'collapse'>
			</div>
				<textarea id = "speech-2870" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2870">
					<img id="start_img-2870" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2870">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2871"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2871" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Given that we also have <a href="https://apple.meta.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation">How should I ask about getting a software recommendation?</a> (which implies that asking about software recommendation can be on-topic if done properly) the close reason definitively might need need some work here. The goal should be to put questions on hold which basically say "I need a tool to do xyz" (see also <a href="https://apple.meta.stackexchange.com/questions/2426/adding-a-close-reason-to-explain-why-recommendations-hardware-book-are-off-to?rq=1">Adding a close reason to explain why recommendations (hardware, book) are Off Topic</a>) and point the asker to a page with advice on how to improve the question.</p>

<p>Any ideas on how this could be written better? Please post as an answer here.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2871" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2871">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2871" class = 'collapse'>
			</div>
				<textarea id = "speech-2871" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2871">
					<img id="start_img-2871" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2871">Comment</button>
			<br><div id = "ans-2872"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2872" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm in favor of keeping as simple and as close to the current wording as possible.</p>

<blockquote>
  <p>"Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. <a href="https://softwarerecs.stackexchange.com/">Software</a>/<a href="https://hardwarerecs.stackexchange.com/">Hardware</a> recommendations can be asked at their own dedicated sites.  Alternatively, edit to clearly describe your problem and the research done so far to solve it."</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2872" data-toggle = "popover">
				<p>user name : fsb</p>
				<p> user reputation : 7698</p>
				<p class = "tagcontent" id = "usertaginfo-2872">{'None': 7, 'software-recommendation': 0, 'support': 4, 'close-reasons': 2, 'suggested-edits': 4, 'flagging': 6, 'discussion': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2872">Load Comments</button></br>
			<div id = "commentsection-2872" class = 'collapse'>
			<div id = "comment-6240" class = "comment">
				<p>Current policy is to allow software recommendation questions as long as they are well-written (see http://meta.apple.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation?noredirect=1&lq=1). So sending every software enquiry to softwarerecs would be a policy change.</p>
			</div>
			<div id = "comment-6241" class = "comment">
				<p>Hardware may be different, but there the typical "is a Mac xyz enought to do abc" is probably off-topic on both sites.</p>
			</div>
			<div id = "comment-6242" class = "comment">
				<p>I can't remember the last time I saw a request for a recommendation that was written as well as that link suggests :-).  I'm ok with that policy but it still leaves us reviewers with a little confusion regarding how to handle those questions. For poorly-written questions, I think updating the close statement to include the SR site would be helpful to the OP.  For well-written ones, answering them here appears to be ok.</p>
			</div>
			<div id = "comment-6243" class = "comment">
				<p>For poorly-written questions we can refer them to the meta post to show them how to improve the question. The guidelines on SR are similar to the meta post here, so just sending them off without guidance will lead to yet another frustration once they posted over there (something I would like to avoid).</p>
			</div>
			<div id = "comment-6244" class = "comment">
				<p>So I understand better, when you say 'refer them to the meta post' do you mean update the close answer or just add a comment pointing to the meta answer?</p>
			</div>
			<div id = "comment-6245" class = "comment">
				<p>Update the close reason</p>
			</div>
			<div id = "comment-6246" class = "comment">
				<p>Thanks, @patrix, I think that's a good approach.  This is my first time thru this process so what do we do next?</p>
			</div>
			<div id = "comment-6247" class = "comment">
				<p>Can you update your answer (or post a second one)? I'll ping the other mods to join the discussion)</p>
			</div>
			<div id = "comment-6248" class = "comment">
				<p>I've added it as a new answer.</p>
			</div>
			</div>
				<textarea id = "speech-2872" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2872">
					<img id="start_img-2872" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2872">Comment</button>
			<br><div id = "ans-2873"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2873" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've added a new answer to keep track of the revisions.  Based on the discussion comments, here's an updated close answer.  I added the last sentence to make sure we're clear in our direction (and avoid frustration on both sides of the question).  </p>

<blockquote>
  <p>"Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, use the <a href="https://apple.meta.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation?noredirect=1&amp;lq=1">guidelines described here</a> to edit your question, clearly describing the problem you want to solve, the research you've done so far, and what software you've already tried."</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2873" data-toggle = "popover">
				<p>user name : fsb</p>
				<p> user reputation : 7698</p>
				<p class = "tagcontent" id = "usertaginfo-2873">{'None': 7, 'software-recommendation': 0, 'support': 4, 'close-reasons': 2, 'suggested-edits': 4, 'flagging': 6, 'discussion': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2873">Load Comments</button></br>
			<div id = "commentsection-2873" class = 'collapse'>
			<div id = "comment-6251" class = "comment">
				<p>@patrix Is there any feedback on the answer above or is it too soon?</p>
			</div>
			<div id = "comment-6252" class = "comment">
				<p>Is there any feedback from the moderators, or anyone, on the suggested edit to the close question above?</p>
			</div>
			<div id = "comment-6255" class = "comment">
				<p>It's been over a month since there was any action on this question/answer.  Is it no longer being considered as a close-reason update or do these types of updates take longer?</p>
			</div>
			</div>
				<textarea id = "speech-2873" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2873">
					<img id="start_img-2873" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2873">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>