<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Replying to one's own question
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-402" class = "post">
			<h2>Question</h2>
			<div id="vote-402" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 121</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Replying to one's own question</h2>
<p>Is there a policy about replying to one's own question? It might happen (and it has just happened to me) that on further thought or research, one finds a solution to his own problem, which might deserve a place alongside other people's answers. Is this acceptable?</p>

			</div>
			<div id = "userinfo-402" style = "float:right">
				<p>user name : DaG</p>
				<p> user reputation : 1063</p>
				<p> user tag wise history : {'None': 0, 'discussion': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-402" class = 'collapse'>
			</div>
				<textarea id = "speech-402" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-402">
					<img id="start_img-402" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-402">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-403"  class = "post">
				<h2>Answer</h2>
			<div id="vote-403" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From the <a href="https://apple.stackexchange.com/faq">FAQ</a>:</p>

<blockquote>
  <p>It s also perfectly fine to ask and answer your own question, as long as you pretend you re on Jeopardy: phrase it in the form of a question.</p>
</blockquote>

<p>It is encouraged to answer your own question, as long as it meets the standard Q&amp;A format.</p>
</p><br>
			</div>
			<div id = "userinfo-403" style = "float:right">
				<p>user name : BinaryMisfit</p>
				<p> user reputation : 5873</p>
				<p> user tag wise history : {'None': 57, 'tags': 3, 'discussion': 24, 'reputation': 17, 'questions': 3, 'editing': 3, 'site-promotion': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-403">Load Comments</button></br>
			<div id = "commentsection-403" class = 'collapse'>
			<div id = "comment-795" class = "comment">
				<p>Thank! Sorry for having missed this in the FAQ.</p>
			</div>
			<div id = "comment-1302" class = "comment">
				<p>The FAQ reference to http://en.wikipedia.org/wiki/Jeopardy! is not ideal for people who have never seen the show; it's a **really** long article. I'd prefer the FAQ to be self-explanatory.</p>
			</div>
			<div id = "comment-1870" class = "comment">
				<p>I was just about to say what Graham said, I have no idea at all what Jeopardy is, any more than the average American will know what Countdown is... :)</p>
			</div>
			</div>
				<textarea id = "speech-403" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-403">
					<img id="start_img-403" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-403">Comment</button>
			<br><div id = "ans-1033"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1033" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you post a question about a problem you have, then find the solution to your own problem, please, please post it.</p>

<p>While official policy is to <a href="http://blog.stackoverflow.com/2011/07/its-ok-to-ask-and-answer-your-own-questions/">encourage self-answering questions</a>, I personally take a dimmer view of people who post a question then answer their own question seconds later. If it's a common problem to which the user wants to document the solution, that can be a helpful contribution to the site, but frankly I hold such questions to a higher standard of "it better be a good general question."</p>

<p>In general, SE question serve two purposes: they help the OP get the information they need, and they create a searchable archive of useful information for people who encounter the problem in the future. If a question seems likely to <em>only</em> fill the first role, it gets closed as "too localized." But an instantly self-answered question only fills the second role, so it had better be good at that second role (i.e. it should be something that others are likely to look for).</p>

<p>If someone asks and then instantly answers their own question, my first response is to ask "what's the point?" Sometimes there is indeed a good point in documenting the question, but if there isn't, I'm likely to vote against the question.</p>
</p><br>
			</div>
			<div id = "userinfo-1033" style = "float:right">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p> user tag wise history : {'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1033">Load Comments</button></br>
			<div id = "commentsection-1033" class = 'collapse'>
			<div id = "comment-1903" class = "comment">
				<p>Right. Nathan, Jason, and I discussed this on the [Ask Different Best Practices podcast](http://apple.blogoverflow.com/2012/01/podcast-20-ask-different-best-practices/) (27:00 to 31:30). We came to the conclusion that a question should be a problem that you're having, and that although easy questions are OK, lazy questions are bad. If you can instantly answer your question, you didn't really have a legitimate problem.</p>
			</div>
			</div>
				<textarea id = "speech-1033" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1033">
					<img id="start_img-1033" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1033">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>