<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Reputation on the users page
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-793" class = "post">
			<h2>Question</h2>
			<div id="vote-793" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Reputation on the users page</h2>
<p>I was looking on the <a href="https://apple.stackexchange.com/users">AD users page</a> and noticed that my reputation is at 501.
<img src="https://i.stack.imgur.com/RW1Pp.png" alt="AD user page: daviesgeek"></p>

<p>My actual reputation is at 1.2K</p>

<p><img src="https://i.stack.imgur.com/2zzgT.png" alt="Actual reputation of daviesgeek"></p>

<p>Is this a bug, or is reputation on the users page supposed to be delayed?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-793" data-toggle = "popover">
				<p>user name : daviesgeek</p>
				<p> user reputation : 18210</p>
				<p class = "tagcontent" id = "usertaginfo-793">{'community-wiki': -2, 'questions': -4, 'design': 14, 'chat': 1, 'images': 1, 'flagging': 3, 'unanswered-questions': -4, 'editing': 6, 'support': 10, 'hyperlinks': 12, 'feature-request': 16, 'bounty': 1, 'status-bydesign': 1, 'profile-page': 1, 'None': 27, 'tags': 2, 'status-completed': 3, 'moderator-tools': 3, 'review-page': 1, 'bug': 1, 'closed-questions': 0, 'reputation': 1, 'voting': 3, 'discussion': 31}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-793" class = 'collapse'>
			</div>
				<textarea id = "speech-793" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-793">
					<img id="start_img-793" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-793">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-794"  class = "post">
				<h2>Answer</h2>
			<div id="vote-794" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you look on the right of the users page, you'll see something very similar to:</p>

<p><img src="https://i.stack.imgur.com/jBV5C.png" alt="snapshot of users page"></p>

<p>Notice the <em>week</em>, <em>month</em>, <em>quarter</em>, <em>year</em>, and <em>all</em> filters.  The rep shown is the amount of rep you've earned during the duration selected.  This is too highlight users that are earning rep now, not a hypothetical someone who earned rep a year ago and hasn't returned since.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-794" data-toggle = "popover">
				<p>user name : Rebecca Chernoff</p>
				<p> user reputation : 173</p>
				<p class = "tagcontent" id = "usertaginfo-794">{'None': 13, 'discussion': 8, 'election': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-794">Load Comments</button></br>
			<div id = "commentsection-794" class = 'collapse'>
			<div id = "comment-1463" class = "comment">
				<p>Thanks! I didn't see the tabs.</p>
			</div>
			</div>
				<textarea id = "speech-794" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-794">
					<img id="start_img-794" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-794">Comment</button>
			<br><div id = "ans-795"  class = "post">
				<h2>Answer</h2>
			<div id="vote-795" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I interpreted 501 as your UID. Although it could also be an indicator that you wear Levi's jeans, are part of the 501st Legion, live in Arkansas, or have very poor credit. </p>

<p>Joking aside, it's probably a bug/feature.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-795" data-toggle = "popover">
				<p>user name : l'L'l</p>
				<p> user reputation : 6992</p>
				<p class = "tagcontent" id = "usertaginfo-795">{'None': 5, 'users': 3, 'support': 3, 'answers': 0, 'profile-page': 3, 'discussion': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-795">Load Comments</button></br>
			<div id = "commentsection-795" class = 'collapse'>
			<div id = "comment-1470" class = "comment">
				<p>:-) :-) :-) :-) LOL!</p>
			</div>
			</div>
				<textarea id = "speech-795" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-795">
					<img id="start_img-795" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-795">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>