<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Reputation Points & Bounty Payments
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-718" class = "post">
			<h2>Question</h2>
			<div id="vote-718" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 83</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Reputation Points & Bounty Payments</h2>
<p>When offering a Bounty, the points are immediately removed from your reputation score.  It's like they are put in escrow in some purgatory until they are either awarded or the time is up.  Would it not be better for them to remain shown against a users total, and removed only when they have been awarded?  I can't imagine why it's done this way, particularly as for new users it could result in loss of privilege if offering your first bounty dips you back under the threshold?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-718" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-718">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-718">Load Comments</button></br>
			<div id = "commentsection-718" class = 'collapse'>
			<div id = "comment-1308" class = "comment">
				<p>You are so smart about apple that you will be rolling in reputation in no time. You'll be all "this is a 200 bounty question" before you know it!</p>
			</div>
			<div id = "comment-1311" class = "comment">
				<p>But those first few reputation points are special, I'll never forget them ;)</p>
			</div>
			<div id = "comment-1314" class = "comment">
				<p>Yes they are precious and you shouldn't forget them!</p>
			</div>
			</div>
				<textarea id = "speech-718" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-718">
					<img id="start_img-718" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-718">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-719"  class = "post">
				<h2>Answer</h2>
			<div id="vote-719" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm willing to bet that behavior is by design. As you point out, you lose points through a bounty one way or another. An immediate withdrawal from their account once the bounty is posted should cause people to think twice about their question so that they don't spend their points on anything frivolous.</p>

<p>In this context, reputation is truly a form of currency and therefore should be treated with the same respect.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-719" data-toggle = "popover">
				<p>user name : Philip Regan</p>
				<p> user reputation : 5775</p>
				<p class = "tagcontent" id = "usertaginfo-719">{'None': 95, 'site-scope': 5, 'moderators': 1, 'discussion': 11, 'moderation': 1, 'lion': 5, 'closed-questions': 5, 'beta': 5, 'new-users': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-719" class = 'collapse'>
			</div>
				<textarea id = "speech-719" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-719">
					<img id="start_img-719" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-719">Comment</button>
			<br><div id = "ans-720"  class = "post">
				<h2>Answer</h2>
			<div id="vote-720" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe that there is a reason behind the current behavior. The reason, put simply, is to discourage abuse of the system.</p>

<p>Imagine this scenario:  </p>

<ul>
<li>Someone offers a bounty on a question. They lose no rep yet.</li>
<li>The bounty encourages people to answer.</li>
<li>Someone correctly answers the question.</li>
<li>The asker, wanting to save some rep, decides to pretend that the answer didn't work and not award the bounty.</li>
</ul>

<p>So, this could allow the asker to get an answer because of the bounty, but not 'pay' the promised amount.</p>

<p>Now, with the current system, the asker loses their rep right away and it's put to the side until it is awarded. There's no way that the asker can regain or avoid losing their rep.<br>
Now, when someone correctly answers the question, the asker has no reason not to award the bounty.</p>

<p>Note that there is already a system in place to help stop abuse of the bounty system: If the bounty is not awarded, the highest-voted new answer with 2 or more upvotes is automatically awarded half the bounty.<br>
However, I don't think that this system would be sufficient on its own.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-720" data-toggle = "popover">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p class = "tagcontent" id = "usertaginfo-720">{'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-720">Load Comments</button></br>
			<div id = "commentsection-720" class = 'collapse'>
			<div id = "comment-1296" class = "comment">
				<p>Thanks Nathan.  I just put up my first 50 Bounty, and I was under the impression that I get it back if no-one answered suitably.  I can't see how if the points are deducted now or later that would have any effect on me not accepting a valid answer.  Am I right in reading that once offered, those points are lost even if no-one answers?  Apologies if this seems a dumb question.</p>
			</div>
			<div id = "comment-1297" class = "comment">
				<p>@stuffe this is covered in http://apple.stackexchange.com/faq#bounty</p>
			</div>
			<div id = "comment-1298" class = "comment">
				<p>OK.  I'm happy with it, but I'm not sure it's how I would do it, if the best answer get's half even if it's not accepted, I think it would be fair to also provide half back to the OP if there are no answers that meet that criteria, which is what I expect to get for mine :)</p>
			</div>
			<div id = "comment-1301" class = "comment">
				<p>Sometimes the most-voted answer isn't the correct or best one, just the first one. The behavior, while not ideal, is the most appropriate one.</p>
			</div>
			<div id = "comment-1307" class = "comment">
				<p>Think of it this way - any answer that is eligible for the half-off bounty loophole was proffered in light of the chance of getting said bounty. If the bounty offerer is either too picky, not appreciative or simply can't log in again, the community gets to dole out half the points offered. It entices the bounty offerer to stay connected and comment / edit and rewards the people answering in the event the offerer can't or won't deliver the goods.</p>
			</div>
			<div id = "comment-1312" class = "comment">
				<p>I agree with handing it out automatically on the basis that there were suitable answers with upvotes.  It's the points disappearing when no-one answers that I feel isn't quite right.  I'm happy to lose such point where a contribution has been made to earn them.</p>
			</div>
			<div id = "comment-1316" class = "comment">
				<p>Going to accept this answer, and leave a final note that as it stands as per my last comment, I don't think that the system is quite right, or rather it does not fit with my definition of the word "Bounty", maybe offering, or donation :)</p>
			</div>
			</div>
				<textarea id = "speech-720" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-720">
					<img id="start_img-720" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-720">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>