<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Resampling step for MC variation reduction
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13902" class = "post">
			<h2>Question</h2>
			<div id="vote-13902" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 16</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Resampling step for MC variation reduction</h2>
<p>I am reading particle filtering for robot localisation and specifically the resampling step to avoid particle degeneracy.  Can anyone explain me what MC (Monte Carlo) variation means? I saw it couple of times as a benefit of some resampling techniques against others.</p>

<p>For example, "Systematic resampling is the scheme preferred by the authors [since it is simple to implement, takes O(N) time, and minimizes the MC variation]" (Arulampalam et al., 2002).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13902" data-toggle = "popover">
				<p>user name : George</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-13902">{'None': 0, 'particle-filter': 1, 'algorithm': 1, 'localization': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13902">Load Comments</button></br>
			<div id = "commentsection-13902" class = 'collapse'>
			<div id = "comment-22784" class = "comment">
				<p>Welcome to *Robotics*, George. It looks like you copied a line from the paper, "[A Tutorial on Particle Filters for Online Nonlinear/Non-Gaussian Bayesian Tracking](https://people.eecs.berkeley.edu/~pabbeel/cs287-fa12/optreadings/Arulampalam_etal_2002.pdf)," by Arulampalam et al. The *full* quote mentions source [25] - "Systematic resampling [25] is the scheme preferred by the authors", where [25] is,  Monte Carlo filter and smoother for non-Gaussian nonlinear state space models,  by G. Kitagawa. I would, in general, highly suggest following the cited sources if you have questions.</p>
			</div>
			<div id = "comment-22785" class = "comment">
				<p>This is still a good question, though. I'm hoping you get some great answer! :)</p>
			</div>
			</div>
				<textarea id = "speech-13902" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13902">
					<img id="start_img-13902" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13902">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>