<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Restore from backup?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2927" class = "post">
			<h2>Question</h2>
			<div id="vote-2927" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 137</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Restore from backup?</h2>
<p>The cynic in me wants to post a question &amp; answer</p>

<blockquote>
  <p><strong><a href="http://knowyourmeme.com/memes/i-accidentally" rel="nofollow noreferrer">I accidentally my hard drive</a>. What do I do now?</strong></p>
  
  <p>I accidentally  </p>
  
  <ul>
  <li>Wiped my boot drive  </li>
  <li>Tried to resize my partition  </li>
  <li>Tried to fix/adjust my Boot Camp partition from inside Windows  </li>
  <li>got a blank screen after a failed OS update  </li>
  <li>typed <code>sudo rm -rf /</code>  </li>
  <li>chown'd my entire machine  </li>
  <li>dropped my Mac/pad/phone &amp; now it doesn't work    </li>
  <li>lent my Mac/phone/pad to someone &amp; they...  </li>
  <li>disassembled my fusion drive</li>
  <li>Used beta software/APFS etc on a mission-critical machine</li>
  <li>Stored my only copy of valuable data on a flash drive</li>
  <li>etc etc etc</li>
  </ul>
</blockquote>

<p>Then simply post the answer</p>

<blockquote>
  <p>Restore your machine from your last backup</p>
</blockquote>

<p>mark it as correct &amp; link as a dupe every other question to which it applies.</p>

<p>So... my actual question is...<br>
<strong>Would this get me a hat?</strong></p>

<p><sup><em>Note: This entire question is not really meant to be taken seriously, but it's hat season, so why not.</em></sup></p>

<p><strong><em>Late Edit</em></strong><br>
Real-world examples, as I find them</p>

<p>Let these become the Darwin Awards for dead data ;-)</p>

<p><a href="https://apple.stackexchange.com/questions/286164/trouble-with-encrypted-sd-card">Trouble with encrypted SD card</a><br>
<a href="https://apple.stackexchange.com/questions/287721/how-to-recover-data-from-a-partition-overwritten-by-an-os-x-installer">How to recover data from a partition overwritten by an OS X installer?</a><br>
<a href="https://apple.stackexchange.com/questions/287885/how-to-backup-a-mac-which-shows-as-unformatted">SD card shows up as Internal in Disk Utility</a> which was a follow-up to<br>
<a href="https://apple.stackexchange.com/questions/286480/macbook-wont-boot-after-creating-two-small-partitions">MacBook wont boot after creating two small partitions</a><br>
<a href="https://apple.stackexchange.com/questions/288392/big-file-folder-icon-at-the-center-of-the-screen-when-tried-macos-high-sierra-pu">Big file folder icon at the center of the screen when tried macOS high Sierra public beta</a><br>
<a href="https://apple.stackexchange.com/questions/296053/hfs-journaled-and-encrypted-flash-drive-does-not-accept-password">HFS+ journaled and encrypted flash drive does not accept password</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2927" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2927">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2927">Load Comments</button></br>
			<div id = "commentsection-2927" class = 'collapse'>
			<div id = "comment-6367" class = "comment">
				<p>I really like this. A lot. I'd be a rich man if I had $1 every time I asked someone: _"Where's your backup?"_</p>
			</div>
			</div>
				<textarea id = "speech-2927" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2927">
					<img id="start_img-2927" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2927">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2928"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2928" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Meta hat? Quite possibly. Would be diabolical to make you self Ask anD self answer on meta and on main for a pixel overlay. </p>

<p>I endorse the clear canonical question - especially if it helps get people a clear answer. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2928" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2928">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2928" class = 'collapse'>
			</div>
				<textarea id = "speech-2928" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2928">
					<img id="start_img-2928" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2928">Comment</button>
			<br><div id = "ans-2934"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2934" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I disagree with creating a canonical question for this. With each one of those cases, whilst  restore from backup  is a suitable answer, there are other answers which apply to specific cases. For example, adjusting Boot Camp partition from Windows has many answers beside restoring from a backup, but those answers wouldn't apply to the other cases. Canonical answers are great, but make sure they only canonicalise those questions which are identical.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2934" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2934">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2934">Load Comments</button></br>
			<div id = "commentsection-2934" class = 'collapse'>
			<div id = "comment-6629" class = "comment">
				<p>Quick note about the votes: my answer was provided almost a week after the other, the voting may reflect this.</p>
			</div>
			</div>
				<textarea id = "speech-2934" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2934">
					<img id="start_img-2934" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2934">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>