<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Reverse engineering commercial drone control algorithms
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9547" class = "post">
			<h2>Question</h2>
			<div id="vote-9547" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 446</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Reverse engineering commercial drone control algorithms</h2>
<p>I'm wondering if there is a way to figure out the actual controllers used in the commercial drones such as <a href="http://ardrone2.parrot.com/" rel="nofollow">AR drone</a> and <a href="http://www.dji.com/product/phantom-4" rel="nofollow">Phantom</a>. According to AR drone SDK, users are not allowed to access the actual hardware of the platform yet they are only capable of sending and receiving commands from/to the drone. </p>

<hr>

<p><strong>Edit:</strong>
I'm hoping to to check the actual controller utilized in the software. When I fly AR drone, it seems the platform can't stabilize itself when I perform aggressive maneuvers, therefore, I can guess that they use linearized model which is applicable for using simple controllers such as PD or PID</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9547" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-9547">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9547">Load Comments</button></br>
			<div id = "commentsection-9547" class = 'collapse'>
			<div id = "comment-16878" class = "comment">
				<p>Good theme but the question is not clear enough to generate specific answers. What does figure out mean? A) learn about the architecture? B) hardware? C) software? And the title sounds like the question is about getting access to a drone (hi jacking?). Some clarification will make this a great topic.</p>
			</div>
			<div id = "comment-16907" class = "comment">
				<p>Downvote? leaving comments will enhance the quality of the post.</p>
			</div>
			</div>
				<textarea id = "speech-9547" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9547">
					<img id="start_img-9547" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9547">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9551"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9551" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would recommend looking at the PX4 software that runs on the pixhawk. It's open source and is available on github.</p>

<p>You won't be able to see the actual control software flying on the other drones as it's proprietary. </p>

<p><a href="https://github.com/PX4/Firmware" rel="nofollow">https://github.com/PX4/Firmware</a></p>

<p>--</p>

<p>the software on the pixhawk is well put together and maintained. it is likely more accessible than most because processes are split into modules and comminicate via messages. The ardupilot is another open source flight stack. However, the ardupilot is a god object that is a mess of inheritance. If you are not familiar with oop you best stay away.</p>

<p>The only downside to the px4 flight stack is that it uses cascaded pid for attitude control which isn't all that exotic. </p>

<p>But if you're just looking to get a feel for how controllers are implemented in the real world on embedded systems, the px4 flight stack will be your best bet. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9551" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-9551">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9551">Load Comments</button></br>
			<div id = "commentsection-9551" class = 'collapse'>
			<div id = "comment-16893" class = "comment">
				<p>Thank you for guiding me for the open software which of course solves my question partially. For other drones, is there a software that allows me to access to the drone's microcontroller to see the implementation of its controller for stabilizing the drone?</p>
			</div>
			</div>
				<textarea id = "speech-9551" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9551">
					<img id="start_img-9551" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9551">Comment</button>
			<br><div id = "ans-9560"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9560" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><em>Reverse engineering</em> is the term you are looking for. Search <strong>reverse engineering ar drone</strong> or <strong>reverse engineering phantom</strong> to get started.</p>

<p>Reverse engineering embedded systems can be really educational and fun, if time consuming. Most embedded processors have code security subsystems, but manufacturers often don't bother to turn them on, and if they are turned on, a little research will give you lots of info on bypassing the typically inadequate security.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9560" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9560">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9560" class = 'collapse'>
			</div>
				<textarea id = "speech-9560" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9560">
					<img id="start_img-9560" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9560">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>