<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Revisiting prerelease software
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3100" class = "post">
			<h2>Question</h2>
			<div id="vote-3100" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 23</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Revisiting prerelease software</h2>
<p>Yes, there are already a lot of questions on meta about prerelease software, but I don t think any of them actually focus on Public Betas. </p>

<p>Sure, in the past, people would illegally download developer ipsw files to get ios betas on their phones. But now, since it is easy and legal to download the iOS 11 beta (I m running it right now), we are seeing more and more questions crop up about iOS betas that do not apply to a vast majority of users on this forum, like <a href="https://apple.stackexchange.com/q/290556/191432">Will Siri in iOS 11 support Spotify?</a></p>

<p>What should we do about these questions? </p>

			</div>
			<div id = "userinfo-3100" style = "float:right">
				<p>user name : Jackson1442</p>
				<p> user reputation : 1510</p>
				<p> user tag wise history : {'None': 1, 'tags': 7, 'site-scope': -1, 'discussion': 16, 'moderators': 9, 'election': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3100">Load Comments</button></br>
			<div id = "commentsection-3100" class = 'collapse'>
			<div id = "comment-6656" class = "comment">
				<p>There is no ban on beta related questions any longer. The question you're referred to needed to be closed because it was rather speculative.</p>
			</div>
			<div id = "comment-6657" class = "comment">
				<p>@patrix Alright, thanks. I didn't realize that there ever was a "beta ban" but did notice an uptick in 'how do I solve this beta-specific issue' questions.</p>
			</div>
			</div>
				<textarea id = "speech-3100" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3100">
					<img id="start_img-3100" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3100">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>