<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Road Detection When the Robot is Off-Road
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11411" class = "post">
			<h2>Question</h2>
			<div id="vote-11411" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 62</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Road Detection When the Robot is Off-Road</h2>
<p>I'm trying to make a lightweight method of outdoor road following for a small ground robot. In nearly all road detection work that I've seen, they all assume that the robot is already on the road, which allows for techniques like finding the vanishing point or sampling pixels near the bottom of the camera frame. However in my application, the robot can be a few meters away from the road and needs to first find the road. As the robot computation runs on an Android phone, I'm hoping to avoid heavy computer vision techniques, but also be robust to variable outdoor lighting conditions. Obviously there is a trade-off, but I'm willing to sacrifice some accuracy for speed and ease of computation. Any ideas on how to achieve this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11411" data-toggle = "popover">
				<p>user name : fitany</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-11411">{'None': 0, 'computer-vision': 1, 'wheeled-robot': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11411">Load Comments</button></br>
			<div id = "commentsection-11411" class = 'collapse'>
			<div id = "comment-20588" class = "comment">
				<p>1) Why not move in a spiral path to find the road? 2) why and how did the robot get out of the road? Maybe relaxing speed requirements can help avoid the problem altogether.</p>
			</div>
			<div id = "comment-20592" class = "comment">
				<p>I'm working in a large outdoor park with long intersecting paths. The robot navigates to the destination, evaluating whether it is better to take the road or take a shortcut through grass, so it's constantly having to switch in and out of road following mode.</p>
			</div>
			<div id = "comment-20593" class = "comment">
				<p>ok. So the robot cuts corners from time to time. I think an option to consider could be to drive straight or with a spiral till getting back at the road. Can be simpler than seeing the road from 3 meters away. Is the camera resolution enough to see the road at 3 meters ? (Angle, field of view, resolution, fps). If the Processing capacity is not plenty, you could work on hi resolution captures (each second? Or 2hz maybe).</p>
			</div>
			<div id = "comment-20596" class = "comment">
				<p>Yes, the resolution is that of a high-end Android smartphone camera and can see the road even from 10 meters away. I do like the spiral idea and have tried variations of it, but I still have no method of knowing when to stop the spiral behavior. When the robot reaches the road, it is often very perpendicular to the road and needs to know when to stop and turn a full 90 degrees.</p>
			</div>
			<div id = "comment-20609" class = "comment">
				<p>Another idea, just to speculate: Is the on road sensor data somewhat different than the off-road data? In some vehicles accelerometer data is used to notice being on road. This is not a conclusive method but may help give a second decision point.</p>
			</div>
			<div id = "comment-20616" class = "comment">
				<p>The accelerometer data does show higher average values on grass than on the road and I could definitely use that information to help. I'm trying that in my current attempt. Thanks for your suggestions</p>
			</div>
			<div id = "comment-20617" class = "comment">
				<p>Good luck. It's always interesting to put an algorithm in real systems and find the usefulness (validate).</p>
			</div>
			</div>
				<textarea id = "speech-11411" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11411">
					<img id="start_img-11411" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11411">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11435"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11435" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You may be interested in what is called "terrain classification" - not detecting the road itself, but classifying different regions of an image taken by the camera as grass, gravel, road, etc. This will help you to find the road, where you can apply more efficient methods of road following.</p>

<p>A paper "High Resolution Visual Terrain Classification for Outdoor Robots" by Yasir Niaz, Khan Philippe Komma and Andreas Zell, that discusses approach based on SURF features can be found here: <a href="http://www.cogsys.cs.uni-tuebingen.de/publikationen/2011/khan2011iccvworkshop.pdf" rel="nofollow noreferrer">http://www.cogsys.cs.uni-tuebingen.de/publikationen/2011/khan2011iccvworkshop.pdf</a></p>

<p>A list of some other papers on the subject: <a href="http://www2.ift.ulaval.ca/~pgiguere/terrainID.html" rel="nofollow noreferrer">http://www2.ift.ulaval.ca/~pgiguere/terrainID.html</a> (note that last modification is from 2014, so there may be some new research worth investigating).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11435" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-11435">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11435">Load Comments</button></br>
			<div id = "commentsection-11435" class = 'collapse'>
			<div id = "comment-20595" class = "comment">
				<p>Thanks for the suggestion and links. I can definitely try out this approach.</p>
			</div>
			</div>
				<textarea id = "speech-11435" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11435">
					<img id="start_img-11435" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11435">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>