<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot localization without any sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7921" class = "post">
			<h2>Question</h2>
			<div id="vote-7921" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 139</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot localization without any sensors</h2>
<p>Is it possible to localize a robot without any sensors, odometer and servo motors?</p>

<p>Assume robot has dc motors and no obstacles.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7921" data-toggle = "popover">
				<p>user name : ronroo</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-7921">{'None': 0, 'arduino': 2, 'navigation': 2, 'mapping': 1, 'localization': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7921">Load Comments</button></br>
			<div id = "commentsection-7921" class = 'collapse'>
			<div id = "comment-11574" class = "comment">
				<p>Its quite vague description of what you need. You can locate any object with triangulation. Object needs to have a way to detect at least three indoor beacons. Accuracy depends on technology used. If you need to track the robot position, it is hard to do without any sensors. With aceelerometer you could calculate the directional vector and probably determine location..</p>
			</div>
			<div id = "comment-11581" class = "comment">
				<p>Can you give more information localization using three indoor beacons? Any article or tutorial will be helpful.</p>
			</div>
			<div id = "comment-11590" class = "comment">
				<p>@ronroo Can you give more details of your application? As stated your question is very vague and would be hard to help other users. By definition you would need at least one sensor to get any feedback, even a beacon is technically a sensor.</p>
			</div>
			<div id = "comment-11595" class = "comment">
				<p>@aerophilic you are right! But I will create a new topic for my application which uses sensors and cameras. But for this topic I was trying to explore solution without any sensor.</p>
			</div>
			<div id = "comment-11597" class = "comment">
				<p>I have created a new topic here, any explaination will be helpful. http://robotics.stackexchange.com/questions/7928/robot-localization-using-three-beacons</p>
			</div>
			</div>
				<textarea id = "speech-7921" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7921">
					<img id="start_img-7921" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7921">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7922"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you know the wheel radius and the speed of the robot, you will be able to calculate its location at any time relatively to its initial position.</p>

<pre><code>travelled_distance = Speed * time;
current_position = initial_position + travelled_distance;
</code></pre>

<p>This is a simplified 1-dimensional equation than can help you. But keep in mind that without sensors and odometry the localization can't be very accurate.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7922" data-toggle = "popover">
				<p>user name : Amine Horseman</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-7922">{'control': 1, 'quadcopter': 1, 'None': 14, 'wireless': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7922">Load Comments</button></br>
			<div id = "commentsection-7922" class = 'collapse'>
			<div id = "comment-11575" class = "comment">
				<p>This is typically called dead-reckoning.</p>
			</div>
			<div id = "comment-11582" class = "comment">
				<p>Hi thanks for this, any solution for turning? Without sensor I think it will not be accurate.</p>
			</div>
			<div id = "comment-11628" class = "comment">
				<p>Turning depends on the motion model of your robot, is it differential ?</p>
			</div>
			</div>
				<textarea id = "speech-7922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7922">
					<img id="start_img-7922" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7922">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>