<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot arm matlab Simulink simulation error
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11742" class = "post">
			<h2>Question</h2>
			<div id="vote-11742" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 135</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot arm matlab Simulink simulation error</h2>
<p>I am doing robotic arm simulation in Matlab Simulink but get the error. How I can resolve this.</p>

<p><a href="https://i.stack.imgur.com/HbGWK.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/HbGWK.png" alt="enter image description here"></a></p>

<p>My model given below.
<a href="https://i.stack.imgur.com/ndBYG.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ndBYG.png" alt="enter image description here"></a></p>

<p>Other details:
1. image of coordinates with world coordinates.
2. 6 DOF joint setting
<a href="https://i.stack.imgur.com/33owH.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/33owH.png" alt="enter image description here"></a>
<a href="https://i.stack.imgur.com/yZjVe.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/yZjVe.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11742" data-toggle = "popover">
				<p>user name : Naseeb Gill</p>
				<p> user reputation : 62</p>
				<p class = "tagcontent" id = "usertaginfo-11742">{'None': 0, 'manipulator': 2, 'inverse-kinematics': 5, 'simulator': 0, 'arduino': 2, 'simulation': 2, 'servomotor': 1, 'kinematics': 1, 'matlab': 6, 'robotic-arm': 5, 'rotation': 1, 'forward-kinematics': 0, 'dynamics': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11742">Load Comments</button></br>
			<div id = "commentsection-11742" class = 'collapse'>
			<div id = "comment-20962" class = "comment">
				<p>Could you please add the orientation of the revolute joints? Preferably in world coordinate system? Also adding the exact configuration of the 6DOF joint would help.</p>
			</div>
			<div id = "comment-20965" class = "comment">
				<p>Hello @50k4,
As you asked me the details therefore I am sharing my full folder on dropbox. Kindly comment if you face any problem in accessing the folder. Looking for your help .Thanks.
https://www.dropbox.com/sh/vvjw2rvoba1g9jj/AABX5LKmpOkKXmRGpomtbyQVa?dl=0</p>
			</div>
			<div id = "comment-20966" class = "comment">
				<p>Posting the details of the joints in the question would help more, I don not have access to Matlab currently</p>
			</div>
			<div id = "comment-20968" class = "comment">
				<p>Hello 50k4, as you asked I added two more images in question. I hope you are asking for same.</p>
			</div>
			</div>
				<textarea id = "speech-11742" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11742">
					<img id="start_img-11742" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11742">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11769"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11769" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You cane find a detailed explanation on how to set the joint actuation types <a href="http://www.mathworks.com/help/physmod/sm/ug/joint-actuation.html" rel="nofollow noreferrer">here</a>. It seems that you need to set the torques as automatically computed, otherwise these are set to zero.</p>

<p>Furthermore, as it seems, the robot only moves in the x-y plane, but there is a z offset wrt the world coordinate system. Please make sure that this is handled correctly (you can use the same offset before the 6dof joint or you can allow for z axis movement) </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11769" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11769">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11769">Load Comments</button></br>
			<div id = "commentsection-11769" class = 'collapse'>
			<div id = "comment-20984" class = "comment">
				<p>Thanks 50k4, As you suggest my that error vanished but new error is coming as shown.

An error occurred while running the simulation and the simulation was terminated Derivative of state 'Revolute3.Rz.w' in block 'rob/Revolute3' at time 22.91008778271366 is not finite. The simulation will be stopped. There may be a singularity in the solution.  If not, try reducing the step size (either by reducing the fixed step size or by tightening the error tolerances).
.....continue on next comment.</p>
			</div>
			<div id = "comment-20985" class = "comment">
				<p>.....continue from previous comment...
i tried to solve it by changing solver type, step size but all are in vein. Can you suggest me what modification should I do with solver type, step size etc. to work it perfect.</p>
			</div>
			<div id = "comment-20988" class = "comment">
				<p>Could it be that it is in fact a singular pose of the robot? In a singular position, when you try to compute the joint velocities from the Cartesian velocities the results is an infinite value. Industrial robot controllers have ways to cope with this, but these techniques cannot be use when you rely on a solver to solve your model equations.</p>
			</div>
			<div id = "comment-20989" class = "comment">
				<p>Another option is that the signal generator you are using the generate e reference trajectroy has a high jump in position and the numerical derivation gives an infinite velocity already for the Cartesian velocity. Try to use smooth motions for the Cartesian reference trajectroy and see if the problems still shows up</p>
			</div>
			</div>
				<textarea id = "speech-11769" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11769">
					<img id="start_img-11769" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11769">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>