<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>robotics as a beginner
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2507" class = "post">
			<h2>Question</h2>
			<div id="vote-2507" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 168</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>robotics as a beginner</h2>
<p>I want to begin robotics.So as a beginner what micro-controller would be convenient?Arduino or PIC?what type of robots can be built with arduino or PIC? Should I start from just a line-following vehicle? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2507" data-toggle = "popover">
				<p>user name : saptarshi nag</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-2507">{'None': 0, 'microcontroller': 1, 'beginner': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2507">Load Comments</button></br>
			<div id = "commentsection-2507" class = 'collapse'>
			<div id = "comment-4858" class = "comment">
				<p>You may consider narrowing down the scope of your question. (It is too broad a premise, almost all possible answer will depend on personal opinion.) You may consider what you want to do in future by studying robotics and what resources you have at your disposal at the moment.</p>
			</div>
			<div id = "comment-9338" class = "comment">
				<p>Is there a FAQ/Wiki to help start from scratch</p>
			</div>
			</div>
				<textarea id = "speech-2507" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2507">
					<img id="start_img-2507" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2507">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2512"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2512" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Alright, this is my first question that I am answering. I'll try to throw as much light as possible to clarify your doubt. I guess, I'll open the door to many more answers.</p>

<p>Anyways, I am a 2nd Year Robotics Engineering student from Bristol, UK. I started out with an Arduino because when I entered Uni, I had no previous experience with electronics or even coding (zero knowledge infact). So, my uni had us start out with Arduino to get some coding experience with C. We did some coding on an Altera Development Board as well, that was to get us familiar with bit-wise operations for controlling hardware from the register level. Arduino is easier because you don't go into the territory of registers. You have pre-written functions for many operations like reading from sensors, writing to serial port, displaying strings etcetera. My first robot, my team named is Zeus was a helper robot, it's tasks were to follow wall, detect and avoid obstacles, identify and stop at the goal. The last task requires some algorithms to do it efficiently but hey, common, we just started out and so all we had to do was search the entire area, which was a fairly small one. We just had to connect sensors which were ready made and picked from the LEGO Kit and then just program them in Arduino using C. It was easy, the only thing that was difficult for us was we didn't have enough knowledge of C when coding, its easy now that I think back. Now, I am working on PIC Microcontroller, its a level above. Here you have to deal with registers and reading datasheets and configuring ports and yaada yaada yaada. I'd say start from scratch, learn how to use the Arduino first and when you successfully interface sensors with your motors on the Arduino platform which is again easy, then step up to do stuff like sending data wirelessly from a bluetooth back and forth between PC and Arduino. Then step up to do some small projects which will serve as foundation for the big stuff like line-follower robot. It's not as easy as the word sounds. It could be fairly easy on an Arduino but once you get into the discrete platforms like Atmel and PIC, you will deal with much more deeper levels of coding so to keep you strong for that, work on the Arduino a fair bit and then step up to the more complex MCUs like Atmel,PIC, Altera and so on.</p>

<p>I hope that answers your question a little atleast. I might have missed something, let me know, if you need more clarity on a specific issue. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2512" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-2512">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2512">Load Comments</button></br>
			<div id = "commentsection-2512" class = 'collapse'>
			<div id = "comment-4859" class = "comment">
				<p>thank you,it has helped me a lot as a beginner.Now,I am a computer science student.I've formed a group consists of an electronics student and a mechanical engg. student.So how can we distribute our works among ourselves as a beginner according to our areas of expertise?</p>
			</div>
			<div id = "comment-4860" class = "comment">
				<p>Depends on the project actually and the capabilities of your team members. For example, I am currently doing a project and I have three Electronics students and myself, Robotics, so I divided based on the strength of each of the members. So my strength is alround but I use my brain a lot, so I took up coding and another guy as well. Now from the other two, I gave one partial coding and sensor and main board prototyping and the last guy PCB design and prototyping.</p>
			</div>
			<div id = "comment-4861" class = "comment">
				<p>In your case you could have that your Mech friend good at Math and mechanical design or if he is adventurous then even some coding in C, your electronics guy might know some assembly, ofcourse electronic design and prototyping, and yourself some coding and if you are adventurous as well then you might be an allrounder. I don't know your friends, you should give work based on what they can do not their area of expertise, well expertise also plays a role but what they can do preceds expertise in priority.</p>
			</div>
			<div id = "comment-4864" class = "comment">
				<p>Now I'm telling about us.The electronics or mechanical guy is not so good at coding.They are interested rather in hardware part.I am OK with the coding part and also interested in the hardware part.So now what should we do?Will they start learning the coding part?</p>
			</div>
			<div id = "comment-4868" class = "comment">
				<p>I wouldn't know if they would put an effort into learning how to code. It's better to not do that, if you can code, then just take up the task and do it. If you can do hardware as well, take up a small share of hardware along with the others and do it. Obviously the Mech and Electronics guys would want to hardware because they are better at it. So let them be. Just make sure that you distribute based on strengths and one member's strength makes up for the other's weakness so that the team strength is balanced. :D</p>
			</div>
			<div id = "comment-4876" class = "comment">
				<p>So the mechanical engg. student does need to know much about micro-controller or coding.Then what will he learn at beginning and at the beginning on which part he can contribute?</p>
			</div>
			</div>
				<textarea id = "speech-2512" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2512">
					<img id="start_img-2512" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2512">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>