<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot detection in motion
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11518" class = "post">
			<h2>Question</h2>
			<div id="vote-11518" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 81</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot detection in motion</h2>
<p>In the environment, I have two robots and a couple of fixed obstacles. In order to detect obstacles I am using ultrasonic sensors. For robots, they need to detect each other and from which side other robot is coming (front, left, right or back), and do this during the motion. For this purpose, I cannot use PIR sensors, because robots are constantly moving. Also, I need to differentiate between moving robots and stationary obstacles, so ultrasonic sensors are also not helpful. </p>

<p>So I came up with idea to somehow mark the robots with some property unique to environment, so when we detect object with that property, we know that it is a robot, and not another obstacle. One of ideas might be to put lasers on one robot, and on other robot put four laser sensors, one for each side, so we precisely can say from which side the other robot came from. Another option might be to use IR transmitters on one robot and four IR receivers on other robot? What do you suggest, is there any other type of sensors that might help?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11518" data-toggle = "popover">
				<p>user name : nevres jahic</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-11518">{'None': 0, 'sensors': 3, 'ultrasonic-sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11518">Load Comments</button></br>
			<div id = "commentsection-11518" class = 'collapse'>
			<div id = "comment-20674" class = "comment">
				<p>Are the robots allowed to communicate with each other? What budget do you have? Is a global position of the robots known?</p>
			</div>
			<div id = "comment-20676" class = "comment">
				<p>Robots do not comunicate with each other. Budget is not the problem, and robots do not know their position relative to envitonment.</p>
			</div>
			</div>
				<textarea id = "speech-11518" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11518">
					<img id="start_img-11518" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11518">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11523"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11523" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My solution disadvantages/limitations are:</p>

<ul>
<li>Needs computation/processing power</li>
<li>Robots should move slowly</li>
<li>Robots scan environment quickly as possible as you can</li>
</ul>

<p>Here are the steps:</p>

<ol>
<li>Create a radar like system with a servo and two ultrasonic distance sensor or use 360 deg. servo and a ultrasonic. (<a href="http://www.instructables.com/id/Arduino-HC-SR04-Ultrasonic-Rover/" rel="nofollow noreferrer">http://www.instructables.com/id/Arduino-HC-SR04-Ultrasonic-Rover/</a>) </li>
<li>Add a compass sensor for deciding absolute angle of ultrasonic sensor.</li>
<li>detect the environment by scanning.</li>
<li>after the scan, you have signal which have a size of 360 in each robot. Because of static obstacles, the scan signals should have similarities. you can compare scans with correlation / convolution. delay gives you distance vector of your robot. (<a href="https://www.mathworks.com/help/signal/ref/xcorr.html" rel="nofollow noreferrer">https://www.mathworks.com/help/signal/ref/xcorr.html</a>)</li>
<li>also you can compare the the scan signals and decide where is the other moving robots. Moving robots creates difference in correlation and you can detect it.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11523" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-11523">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11523">Load Comments</button></br>
			<div id = "commentsection-11523" class = 'collapse'>
			<div id = "comment-20677" class = "comment">
				<p>Thank you for your reply. But your solution would need some computations that I would not like to have in my implementation. I think that with lasers or some other implementation I would not have this much computational tasks.</p>
			</div>
			<div id = "comment-20702" class = "comment">
				<p>It can be implemented on a microcontroller. at least, correlation can be minimized as multiplication of arrays. But, as I mentioned it needs some computation and processing power.</p>
			</div>
			</div>
				<textarea id = "speech-11523" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11523">
					<img id="start_img-11523" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11523">Comment</button>
			<br><div id = "ans-11534"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11534" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First: You have said that robot do not communicate with each other. But can they communicate with a third party (not necessarily a robot). Then you can mark your robots - objects with some kind of code (Like QR) and put a camera (Observer) on top of the environment. Then send the message to each robot about their relative position to each other. (Since there is only one way communication: Master -> Slave this will be a simpler network then creating a network between all robots.)</p>

<p>If they can not communicate in high level at all, lets think about all the mediums and signals that can deliver some data and from your description this <strong>data should indicate the ID of robot, not just identify it as robot</strong>.</p>

<ol>
<li><p>There is light as you have guessed. Other then what you have suggested already (IR sensors) you can put camera on each of them and mark objects and robots (with their different sides) but both material and computation is costly. There are various ways to do it and a lot of challenges you need to face. Even with IR sensors you need to make sure data from different source will not mix (may be use time dividing).</p></li>
<li><p>There is sound: <a href="https://en.wikipedia.org/wiki/Sound_localization" rel="nofollow noreferrer">Sound Localization</a> : You can <strong>combination of Frequency Modulation and Sound Localization</strong>. If all robots (and object can too but may seem unreasonable) continuously produce a sound in a unique frequency. Then each robot will get two (or more) microphones. You can use Time-to-Frequency Domain transformations (like fourier) to filter unrelated sounds and identify different sources and their stregths. Then use differential signal strength or phase from all microphones to approximately locate direction and distance of other robots. It is mechanically simple, requires some computation (FT is not that costly). You may even find-design digital circuit to process the signals instead of programming.</p></li>
<li><p>There is electromagnetic waves: Many RF devices provide information on signal strength from unique sources, and there are really cheap RF modules in market. It will not give you idea about direction but only distance. And since the electromagnetic waves travel way more faster then sound, it is really hard to differentiate difference between signals (you need very accurate hardware) so we can not use a technique easily like sound localization.</p></li>
</ol>

<p>Of course there must be more ways but right now these are all i can think of on top of my head.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11534" data-toggle = "popover">
				<p>user name : ifyalciner</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-11534">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11534" class = 'collapse'>
			</div>
				<textarea id = "speech-11534" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11534">
					<img id="start_img-11534" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11534">Comment</button>
			<br><div id = "ans-11571"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11571" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use a Lidar system and then elaborate the data using a point cloud libray( i've never done this but i just want to tell you that it's a possible solution)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11571" data-toggle = "popover">
				<p>user name : BlueJay</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11571">{'None': -1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11571">Load Comments</button></br>
			<div id = "commentsection-11571" class = 'collapse'>
			<div id = "comment-20738" class = "comment">
				<p>elcome to *Robotics* BlueJay. On Stack Exchange we are are looking for comprehensive answers that provide some explanation and context. Very short answers cannot do this, so please edit your answer to explain why it is right, ideally with citations. Answers that don't include explanations may be voted down as not useful or even deleted.</p>
			</div>
			</div>
				<textarea id = "speech-11571" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11571">
					<img id="start_img-11571" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11571">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>