<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>robot control law - control theory vs optimal control
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2807" class = "post">
			<h2>Question</h2>
			<div id="vote-2807" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1315</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>robot control law - control theory vs optimal control</h2>
<p>For a robot, say path planning in particular, what are the pros and cons of choosing classical control theory or optimal control (LQR for example) ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2807" data-toggle = "popover">
				<p>user name : Raaj</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-2807">{'control': 2, 'None': 0, 'accelerometer': 1, 'localization': 0, 'artificial-intelligence': 0, 'mapping': 0, 'simulation': 1, 'wireless': 0, 'slam': 0, 'imu': 1, 'motion-planning': 2, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2807">Load Comments</button></br>
			<div id = "commentsection-2807" class = 'collapse'>
			<div id = "comment-5198" class = "comment">
				<p>Are you talking about path following? Path planning and  control laws are two separate things.</p>
			</div>
			<div id = "comment-5225" class = "comment">
				<p>The question is too broad. It is like you are asking for a book abstract.</p>
			</div>
			</div>
				<textarea id = "speech-2807" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2807">
					<img id="start_img-2807" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2807">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2808"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2808" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Classical control theory requires Linear Time Invariant systems. Most robots of interest actually have non-linear dynamics. Of course many optimal control techniques also require linear systems. LQR for instance stands for <em>Linear Quadratic Regulator</em> meaning it takes a quadratic cost function and gives the optimal control for a system with linear dynamics. This is handled in both cases by linearizing the dynamics. In the case of classical control techniques linearizing the dynamics invalidates all the guarantees and the tools for analyzing stability and tuning gains generally don't work. In the case of optimal control methods then generated control will often still be good so long as the approximation error is low. Often it helps to simply try the different methods. Alternatively you may consider non-linear control methods.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2808" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-2808">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2808">Load Comments</button></br>
			<div id = "commentsection-2808" class = 'collapse'>
			<div id = "comment-8014" class = "comment">
				<p>Well, tools for linear analysis so as linear controllers are much more widespread compared with optimal control methods, even in contexts where significant deviations from linearity arise.</p>
			</div>
			<div id = "comment-8021" class = "comment">
				<p>I don't understand what you are trying to say with your comment Ugo. I get the impression you missed a word or two. Would you care to clarify?</p>
			</div>
			<div id = "comment-8023" class = "comment">
				<p>I did want just to tone down the impression one can receive from your answer that engineers tend to not apply linear analysis to nonlinear problems. It's true we lose many guarantees, but linear controllers (e.g. PID) are very robust thanks to the feedback and it happens very often that linearized processes represent good estimation of the real plants. Especially compared with optimal control techniques, PID are still far more employed, also in the nonlinear scenarios. That's it</p>
			</div>
			<div id = "comment-8024" class = "comment">
				<p>I understand. I'm not sure what about my post gives you the impression that I that engineers don't usually apply linear analysis. But I appreciate the clarification so that others don't get that impression.</p>
			</div>
			</div>
				<textarea id = "speech-2808" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2808">
					<img id="start_img-2808" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2808">Comment</button>
			<br><div id = "ans-4495"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4495" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Robotic path planning is a field unto itself.  There are people doing research on integrating optimal nonlinear model based predictive control with path planning, but those tools aren't really ready for prime-time yet.  A good place to get acquainted with this field would be to skim through Steven Lavalle's free path planning book:</p>

<p><a href="http://planning.cs.uiuc.edu/" rel="nofollow">http://planning.cs.uiuc.edu/</a></p>

<p>After that you should have some idea what sort of algorithm you want to learn more about, hunt for existing code, implement your own code, etc...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4495" data-toggle = "popover">
				<p>user name : Andrew Wagner</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-4495">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4495" class = 'collapse'>
			</div>
				<textarea id = "speech-4495" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4495">
					<img id="start_img-4495" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4495">Comment</button>
			<br><div id = "ans-4505"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4505" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Please see Lavalle's book for more details, in the meantime some basic terminology....</p>

<p>A path is a sequence of robot poses. A trajectory is sequence of time-pose pairs. Path planning creates a path, and control methods (classical, optimal, adaptive, etc) produce trajectories. </p>

<p>For example, when you plan your route from home to work, you come up with roads that you would take. That's your path, and you just did path planning. When you embark on the journey, you are at the particular place and the particular time. That's your trajectory. </p>

<p>A difference is in the toolset you used to produce path and trajectories. You planned the path based on the goal and the physical size of your car. You created a trajectory by following the path (reducing the error) and by pushing gas and brake pedals, and turning the steering wheel. </p>

<p>Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4505" data-toggle = "popover">
				<p>user name : afaust</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-4505">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4505" class = 'collapse'>
			</div>
				<textarea id = "speech-4505" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4505">
					<img id="start_img-4505" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4505">Comment</button>
			<br><div id = "ans-5231"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5231" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Besides the clear <a href="https://robotics.stackexchange.com/a/4505/6941">answer</a> that helps distinguish planning from control, I would stress the point that classical approaches based on pole placement (e.g. PID) and optimal control techniques (e.g. LQR) respond to different design requirements:</p>

<ul>
<li><p>The former methods are more oriented to vary the transient dynamics of the closed-loop system (faster/slower response) so as they allow for a principled way to reject disturbances; hence, key features are: frequency analysis, transient response, steady-state errors, robustness margins, ease of gain tuning.</p></li>
<li><p>The latter methods focus much more on meeting some given integral goals, that is to comply for example with objectives such as maximum level of control effort or final displacement attained in the minimum time that are all computed over the whole trajectory; thus, key features are: bounds on control output, state feedback, performance on the whole.</p></li>
</ul>

<p>However, pole placement techniques are preferable for the difficulties encountered in LQR design of setting up proper cost functions, as described in <a href="http://en.wikipedia.org/wiki/Linear-quadratic_regulator#General_description" rel="nofollow noreferrer">wikipedia</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5231" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-5231">{'None': 99}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5231" class = 'collapse'>
			</div>
				<textarea id = "speech-5231" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5231">
					<img id="start_img-5231" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5231">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>