<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot interaction language
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3234" class = "post">
			<h2>Question</h2>
			<div id="vote-3234" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 104</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot interaction language</h2>
<p>Is there any well documented robot interaction language? I would imagine something like taking a user's speech in English, parsing it using some natural language processing like NLTK or Stanford NLP and then building a new sentence understandable by the robot. Does something like this already exists?</p>

<p>I recently found ROILA <a href="http://roila.org/language-guide/" rel="nofollow">http://roila.org/language-guide/</a> but it seems like it is a whole different language and not just a reformulation of sentences using English words with less grammatical complexity.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3234" data-toggle = "popover">
				<p>user name : Mehdi</p>
				<p> user reputation : 394</p>
				<p class = "tagcontent" id = "usertaginfo-3234">{'control': 1, 'odometry': 12, 'None': 15, 'computer-vision': 10, 'mobile-robot': 2, 'power': 1, 'battery': 1, 'navigation': 2, 'cameras': 7, 'torque': 1, 'lidar': 5, 'joint': 2, 'slam': 12, 'magnetometer': 2, 'laser': 1, 'speech-processing': 3, 'rangefinder': 4, 'actuator': 1, 'sensors': 4, 'digital-audio': 0, '3d-reconstruction': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3234" class = 'collapse'>
			</div>
				<textarea id = "speech-3234" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3234">
					<img id="start_img-3234" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3234">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4246"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4246" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This does exist (or will, both eventually and inevitably).  The most relevant project to what you are talking about is <a href="http://www.princetonai.com/bot/" rel="nofollow">Eugene</a> who recently <a href="http://blogs.telegraph.co.uk/technology/jamiebartlett/100013858/no-eugene-didnt-pass-the-turing-test-but-he-will-soon/" rel="nofollow">sort of passed the Turing test</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4246" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4246">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4246" class = 'collapse'>
			</div>
				<textarea id = "speech-4246" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4246">
					<img id="start_img-4246" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4246">Comment</button>
			<br><div id = "ans-4253"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4253" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Speech recognition is a pretty vast problem, if you are simply wanting to command a robot using your voice, a lot of ROS users use <a href="http://wiki.ros.org/pocketsphinx" rel="nofollow">Pocket Sphinx</a>. You'll have to teach the program all the words, sentences or phrases you want it to recognize, but there are built-in tools that make this easy. It's also straight forward to teach it multiple phrases that mean the same thing, for example: come here, get over here, heel boy, etc. There is a nice example of how to use it in the <em>ROS by Example</em> book if you can get your hands on a copy. </p>

<p>If you're not using ROS, Pocket Sphinx is actually independent of ROS, that link just points to the ROS wrapper, I've never used it outside of ROS. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4253" data-toggle = "popover">
				<p>user name : Airuno2L</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4253">{'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4253">Load Comments</button></br>
			<div id = "commentsection-4253" class = 'collapse'>
			<div id = "comment-6800" class = "comment">
				<p>Thanks but speech recognition is not my problem now, I am using the Google unofficial API and it works quite well.</p>
			</div>
			</div>
				<textarea id = "speech-4253" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4253">
					<img id="start_img-4253" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4253">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>