<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot won't work properly, claw will only go one way and will only open or close once per cycle
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11482" class = "post">
			<h2>Question</h2>
			<div id="vote-11482" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 68</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot won't work properly, claw will only go one way and will only open or close once per cycle</h2>
<p>We're students trying to make a clawbot for a Science Seminar class. However, for some reason, whenever we try to move the arm or the claw in a certain way, it will lock up and only move that direction. Code attached. Please help.</p>

<pre><code>#pragma config(Motor, port1, frWheel, tmotornormal, openLoop, reversed) //Setting up the motors
#pragma config(Motor, port5, brWheel, tmotornormal, openLoop, reversed)
#pragma config(Motor, port3, flWheel, tmotornormal, openLoop)
#pragma config(Motor, port4, blWheel, tmotornormal, openLoop)
#pragma config(Motor, port10, Arm, tmotornormal, openLoop)
#pragma config(Motor, port6, Claw, tmotornormal, openLoop)

task main() 
{
    int a = 0; //Arm integer
    int c = 0; //Claw integer
    while(true) 
    {
        motor[frWheel] = vexRT(Ch2); //Wheels
        motor[brWheel] = vexRT(Ch2);
        motor[flWheel] = vexRT(Ch3);
        motor[blWheel] = vexRT(Ch3);
        if(a &gt;= -30 &amp;&amp; a &lt;= 30)  {
            if(vexRT[Btn8D] == 1) //If arm down button pressed...
            {
                motor[Arm] = --a; //then arm will go down.
            }
            else if(vexRT[Btn8U] == 1)
            {
                motor[Arm] = ++a;
            }
            else(vexRT[Btn8U] == 0 &amp;&amp; vexRT[Btn8D] == 0);
            {
                motor[Arm] = a;
            }
        }
        else
        {

        }

        if(c &lt;= 30 &amp;&amp; c &gt;= -30)
        {
            if(vexRT[Btn7U] == 1) //If claw up button pressed...
            {
                motor[Claw] = ++c; //Claw will open.
            }
            else if(vexRT[Btn7D] == 1)
            {
                motor[Claw] = --c;
            }
            else(vexRT[Btn7D] == 0 &amp;&amp; vexRT[Btn7U] == 0);
            {
                motor[Claw] = c;
            }
        }
        else
        {

        }
    }
}
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-11482" data-toggle = "popover">
				<p>user name : DeadlySprinklez</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-11482">{'None': 0, 'wheeled-robot': 1, 'c': 1, 'vex': 1, 'robotic-arm': 1, 'ultrasonic-sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11482">Load Comments</button></br>
			<div id = "commentsection-11482" class = 'collapse'>
			<div id = "comment-20619" class = "comment">
				<p>If you make short presses on the up, and then down, buttons, will the arm go up then down?  In other words, does it lock up only when it has reached a count of +/- 30?</p>
			</div>
			<div id = "comment-20620" class = "comment">
				<p>Thanks for the help, and no, even if we press the button for a fraction of a second it'll immediately go in the direction we pressed, and nowhere else, regardless of its position.</p>
			</div>
			</div>
				<textarea id = "speech-11482" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11482">
					<img id="start_img-11482" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11482">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11483"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11483" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your conditional logic needs to be improved.  Consider the following scenario:</p>

<ul>
<li><code>a</code> is initialized to zero.</li>
<li>The operator presses <code>Btn8d</code> (arm down)</li>
<li>a is decremented to -1, then -2, etc.</li>
<li>If the button continues to be pressed, <code>a</code> eventually reaches -30.  Depending on the loop rate, this may happen very quickly.</li>
<li>When <code>a == 30</code> the statement <code>if(a &gt;= -30 &amp;&amp; a &lt;= 30)</code> is still true.</li>
<li><code>a</code> is decremented to -31.</li>
<li>Recovery is not possible because the conditional will never be true again.</li>
</ul>

<p>Your code needs to handle this corner condition.</p>

<p>Also, when is the vexRT[] array updated?  If it is not continuously updated with the values of the button presses, then you will need to update it at the top of your <code>while</code> loop.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11483" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-11483">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11483">Load Comments</button></br>
			<div id = "commentsection-11483" class = 'collapse'>
			<div id = "comment-20630" class = "comment">
				<p>We'll test the code on the bot, now that we've revised it. If it doesn't work, we'll ask for more help, but for the meantime, I'm marking this as an answer. Thank you!</p>
			</div>
			<div id = "comment-20634" class = "comment">
				<p>Did the code revisions work?   If not, post another question with your code changes and we can take a look.</p>
			</div>
			<div id = "comment-20636" class = "comment">
				<p>They did, thanks again!</p>
			</div>
			</div>
				<textarea id = "speech-11483" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11483">
					<img id="start_img-11483" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11483">Comment</button>
			<br><div id = "ans-11485"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11485" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two reasons reason for your problem:</p>

<ol>
<li>The main loop is executed very fast - you only check conditionals and assign some values to variables. Total execution time will be probably in order of milliseconds. That means that when you press the button for even as short as 0.1s the loop will execute thousands of times. I would advice on checking the button states only every 50-200 milliseconds.</li>
<li><p>As already mentioned by SteveO, there is also an error in your logic. When variables <code>a</code> and <code>c</code> reach their maximum values, there is no way to reset them to their original state. I would do that like:</p>

<pre><code>if(buttonIsPressed()) {
  changeVariable();
}
if(variable &gt; maxValue) {
  variable = maxValue;
} 
</code></pre></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11485" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-11485">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11485">Load Comments</button></br>
			<div id = "commentsection-11485" class = 'collapse'>
			<div id = "comment-20631" class = "comment">
				<p>Thank you for your insight! Looking into how to implement a timer as is. Are you sure that making the claw motor equal c will reset it to it's original position and not to the value of c?</p>
			</div>
			<div id = "comment-20632" class = "comment">
				<p>Oops, no of course not. Somehow,  when I looked at it I thought it was 0 not C. Silly mistake</p>
			</div>
			<div id = "comment-20633" class = "comment">
				<p>We've all been there, don't worry about it.</p>
			</div>
			</div>
				<textarea id = "speech-11485" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11485">
					<img id="start_img-11485" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11485">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>