<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot arm reachability of a pose in Cartesian space
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8171" class = "post">
			<h2>Question</h2>
			<div id="vote-8171" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 367</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot arm reachability of a pose in Cartesian space</h2>
<p>Given a set of robot joint angles (i.e. 7DoF) $\textbf{q} = [q_1, ... , q_n]$ one can calculate the resulting end-effector pose (denoted as $\textbf{x}_\text{EEF}$), using the foward kinematic map. </p>

<p>Let's consider the vice-versa problem now, calculating the possible joint configurations $\textbf{q}_i$ for a desired end-effector pose $\textbf{x}_\text{EEF,des}$. The inverse kinematics could potentially yield infinitely many solutions or (and here comes what I am interested in) no solution (meaning that the pose is not reachable for the robot).</p>

<p>Is there a mathematical method to distinguish whether a pose in Cartesian space is reachable? (Maybe the rank of the Jacobian) Furthermore can we still find a reachability test in case we do have certain joint angle limitations? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8171" data-toggle = "popover">
				<p>user name : Flo Ryan</p>
				<p> user reputation : 73</p>
				<p class = "tagcontent" id = "usertaginfo-8171">{'odometry': 3, 'None': 2, 'motion-planning': 2, 'kalman-filter': 3, 'kinematics': 2, 'robotic-arm': 4, 'imu': 3, 'sensor-fusion': 3, 'jacobian': 2, 'mobile-robot': 4, 'sensors': 3, 'ros': 2, 'inverse-kinematics': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8171" class = 'collapse'>
			</div>
				<textarea id = "speech-8171" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8171">
					<img id="start_img-8171" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8171">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8176"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8176" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It depends on how theroetical/practical solution you are looking for. </p>

<p>If you are considering a theoretical workspace, with no angular limits of your joints (e.g. due to mechanical constraints) then the calculating the inverse kinematics for a Cartesian pose which is out of the workspace would result in complex joint angles (at least one of the 7 joint angles in your case would be complex). </p>

<p>One solution would be to check whenever you calculate a square root in your IK if the term under the square root is negative. If yes, the cartesian pose is unreachable.</p>

<p>For 6 DOF the case is simpler, there it is enough to check if the point is within sphere (again disregarding angular joint limits), however for 7 DOF the additional expression (that is required to solve the IK) might make the point unreachable. </p>

<p>Hope this helped..</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8176" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8176">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8176" class = 'collapse'>
			</div>
				<textarea id = "speech-8176" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8176">
					<img id="start_img-8176" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8176">Comment</button>
			<br><div id = "ans-8180"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8180" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Nowadays we no longer employ exact solutions for the IK problem, simply because the number of degrees of freedom so as the number of constraints the final configuration needs to comply with make the so called geometric approach intractable. </p>

<p>By contrast, iterative methods are used to converge to the most plausible solution. Therefore, the <strong>reachability is tested at the end of this iterative process</strong> by comparing - within a given threshold - the target with the pose reached by the end-effector.</p>

<p>Of course, one can create beforehand a map of the workspace containing samples of reachable and/or dexterous locations for the manipulator and use it as a sort of rough prediction.</p>

<p>The <strong>Jacobian embeds a local description</strong> of the robot, so that it cannot account for any global hint whether the goal can or cannot be attained.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8180" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-8180">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8180">Load Comments</button></br>
			<div id = "commentsection-8180" class = 'collapse'>
			<div id = "comment-13088" class = "comment">
				<p>By iterative methods you mean a step by step approach towards the desired position using some form of pseudo-inverse of the Jacobian matrix ?</p>
			</div>
			<div id = "comment-13093" class = "comment">
				<p>Yes, but bear in mind that the _Jacobian pseudo-inverse_ is only one of the iterative methods we have.</p>
			</div>
			<div id = "comment-13095" class = "comment">
				<p>Could you please tell me some of the alternative approaches ?</p>
			</div>
			<div id = "comment-13096" class = "comment">
				<p>Well, we do have the _transposed Jacobian_, the _damped-least-squares (aka Levenberg-Marquardt)_ and more sophisticated nonlinear optimization methods such as the _interior point_ techniques.</p>
			</div>
			</div>
				<textarea id = "speech-8180" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8180">
					<img id="start_img-8180" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8180">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>