<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robotic arm ["FAiL"] error display. - Festo ~ Mitsubishi Melfa RV-2AJ (Controller CR1-571)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8261" class = "post">
			<h2>Question</h2>
			<div id="vote-8261" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 692</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robotic arm ["FAiL"] error display. - Festo ~ Mitsubishi Melfa RV-2AJ (Controller CR1-571)</h2>
<p><em>To avoid wasting your time on this question, you might only want to react on this if you have knowledge of industrial robotic arms specific.
Common troubleshooting is unlikely to fix this problem or could take too much time.</em></p>

<p>We've started a project with the Mitsubishi Melfa RV-2AJ robotic arm.
Everything went fine until the moment we replaced the batteries.</p>

<p>The controller displays: "FAiL" and does not respond to any buttons or commands sent through serial connection.</p>

<p>We did replace the batteries of both the robot and the controller. As it took some time to get the batteries delivered, we've left the robot (and controller) withouth power for the weekend. (Which might have caused this problem)</p>

<p>Is there anyone with knowledge of Mitsubishi Robotic arms around here?
I'm kinda hoping it would be a common problem/mistake and anyone with experience on this subject would know about it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8261" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-8261">{'None': 6, 'robotic-arm': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8261">Load Comments</button></br>
			<div id = "commentsection-8261" class = 'collapse'>
			<div id = "comment-13213" class = "comment">
				<p>I'm not sure if this is the correct place for support/questions on industrial robotics. You should, in fact, contact the supplier if there are any problems (for security/legislable reasons). Though I found that this solution worked for me. And please don't delete this question, as it can be of much value to the community or other people having the same problem. Our supplier (not mitsubishi self) didn't know the problem and didn't react on it for around a week.</p>
			</div>
			<div id = "comment-13232" class = "comment">
				<p>That's a common problem FuaZe. You are welcome to ask questions like this on *robotics*, but you are correct, Mitsubishi support are rather better placed to help. If this is a problem someone here has seen before though, you still might get an answer faster than from official sources. The only thing I ask is that if you do solve your problem, then please post your own answer here too. That way others might be saved waiting for the solution to the same problem in the future. Thanks,</p>
			</div>
			<div id = "comment-13233" class = "comment">
				<p>@MarkBooth Thanks for the clarification.
And yes, we did contact "Festo", who would contact Mitsubishi about it.
We didn't hear anything for a week (sent mail and called). So I hope this will help someone.
But I have to wait a little before I can accept my own answer.</p>
			</div>
			</div>
				<textarea id = "speech-8261" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8261">
					<img id="start_img-8261" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8261">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8263"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8263" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After some googling I found that there is an explanation &amp; fix guide, only in German, for this.</p>

<hr>

<p>It'll be of use for others having the same problem.</p>

<p>I'll try my very best to translate it a bit, please note that German, not English, is my main language:</p>

<blockquote>
  <p><strong>Concerning "FAIL" in the display of the robotcontroller after voltage drop from back-up batteries (general). - KS00527</strong></p>
  
  <p>When the battery voltage is unsufficient to keep the buffer (which
  holds the settings of the powered-off robot), the display will show
  the message: "FAIL".</p>
  
  <p>To reset this message/state, a RAM data reset is needed. After this
  reset, all programs and position data in the robotcontroller will be
  erased and the parameters will be reverted.</p>
  
  <p><strong>The procedure (RAM data reset) is as following:</strong></p>
  
  <ul>
  <li>Press STOP and RESET at the same time, while the controller is being activated.</li>
  <li>The robot controller display would show "|----|".</li>
  <li>Releave the STOP and RESET buttons.</li>
  <li>Press RESET untill the display will show "EnG".</li>
  <li>Press START once.</li>
  <li>The robot controller display would show "rAMc9".</li>
  <li>After ~15-25 sec. (depending on the contents of the RAM?) you'll see a countdown from "100-0".</li>
  <li>The message "ok" will appear on the dispaly.</li>
  <li>Finally the robot will automatically reboot. (Didn't happen for us though)</li>
  </ul>
</blockquote>

<p>I believe the procedure might differ a little per controller, but this would get you going.</p>

<hr>

<p>The original text:</p>

<blockquote>
  <p>Anzeige FAIL im Display der Robotersteuerung nach Spannungsverlust der
  Pufferbatterien (General) - KS00527 Wenn die Batteriespannung die
  Einstellungen der ausgeschalteten Robotersteuerung nicht mehr puffern
  kann, zeigt das Display nach dem Einschalten die Anzeige FAIL an. Um
  diese zu beseitigen hilft nur ein RAM Daten Reset. Nach diesem Reset
  sind alle Programme, Positionsdaten in der Robotersteuerung gel scht
  und die Parameter auf Werkseinstellung zur ckgesetzt. Die Prozedur ist
  wie folgt : - Dr cken Sie die STOP und RESET Taste gleichzeitig,
  w hrend der Controller eingeschaltet wird. - Im Display wird  I- - -
  -I  angezeigt. - STOP und RESET Taste loslassen - Die Taste RESET so oft dr cken bis  EnG  im Display angezeigt wird. - Dr cken Sie einmal
  die START Taste. - Dr cken Sie die Taste RESET oder STOP so oft bis im
  Display angezeigt wird. - Dr cken Sie einmal die START Taste. - Im
  Display wird nun  rAMc9  angezeigt. - Nach ca. 15-25 sec (abh ngig vom
  Inhalt des RAM Speichers) sieht man im Display einen Countdown von
   100-0 . - Es erscheint kurz die Meldung  ok  im Display. -
  Abschlie end bootet der Controller selbstt tig neu.</p>
</blockquote>

<p>Source: <a href="https://eu3a.mitsubishielectric.com/fa/en/service/knowledgebase?m_culture=de&amp;ks=527" rel="nofollow">https://eu3a.mitsubishielectric.com/fa/en/service/knowledgebase?m_culture=de&amp;ks=527</a></p>

<p><em>KS00527</em> of the GERMAN knowledgebase on Mitsubishi (Somehow German people may know things the English aren't allowed to? :D (You can't find it in English))</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8263" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-8263">{'None': 6, 'robotic-arm': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8263">Load Comments</button></br>
			<div id = "commentsection-8263" class = 'collapse'>
			<div id = "comment-13214" class = "comment">
				<p>FuaZe, if this was the answer that solved your problem, you can accept your own answer.</p>
			</div>
			<div id = "comment-13237" class = "comment">
				<p>Thanks @FuaZe, it's obvious that you're familiar with how Stack Exchange works, so it's great to have to on board here at *robotics*.</p>
			</div>
			<div id = "comment-13239" class = "comment">
				<p>There seems to be a problem with the link.</p>
			</div>
			<div id = "comment-13240" class = "comment">
				<p>@Greenonline I think the certificate of the mitsubishi website is invalid or something. 
For me it shows like this: http://imgur.com/EY35vbA (The red arrow indicates where the article can be found)</p>
			</div>
			<div id = "comment-13241" class = "comment">
				<p>I don't get what is shown in your screenshot, instead I get the message "Nothing found matching your search" :-( Maybe it just doesn't like me... :-)</p>
			</div>
			<div id = "comment-13259" class = "comment">
				<p>@Greenonline Ah, it seems to default to english, I'm going to try to get the German articale another way.</p>
			</div>
			</div>
				<textarea id = "speech-8263" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8263">
					<img id="start_img-8263" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8263">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>