<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot safety standards for software
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5099" class = "post">
			<h2>Question</h2>
			<div id="vote-5099" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 188</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot safety standards for software</h2>
<p>I am looking for possible ISO standards for robot safety specifically for software.</p>

<p>I have come across <a href="http://www.eu-robotics.net/cms/upload/euRobotics_Forum/ERF2014_presentations/day_2/Industrial_HRC_-_ERF2014.pdf" rel="nofollow">this presentation</a> that mentions many ISO standards and it's not very clear which exactly applies to software. The most probable ones are:</p>

<ul>
<li>ISO 10218-1</li>
<li>ISO 13849-1 / IEC 62061</li>
<li>IEC 61508</li>
<li>ISO/TS 15066</li>
</ul>

<p>The safety related to software seems to be categorized as Level 4 and Level 6 in the presentation above.</p>

<p>I would appreciate if anyone with knowledge in this area could point me to the right standard. They are quite expensive so I could simply go through them all to see which one applies.</p>

<p>As a side note, some standards like C have their standard "draft" freely available. Could there be free copies of drafts for those standards too?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5099" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-5099">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5099">Load Comments</button></br>
			<div id = "commentsection-5099" class = 'collapse'>
			<div id = "comment-7863" class = "comment">
				<p>I happened to find [ISO 10218-1](https://law.resource.org/pub/bg/ibr/bds.en.iso.10218-1.2011.pdf), thanks to the government of republic of Bulgaria.</p>
			</div>
			<div id = "comment-7864" class = "comment">
				<p>It depends on industry the final product is intended for. Obviously, the medical, military and home use robots will have totally different safety requirements.</p>
			</div>
			<div id = "comment-7865" class = "comment">
				<p>@EugeneSh. I see. How about home and/or industry?</p>
			</div>
			</div>
				<textarea id = "speech-5099" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5099">
					<img id="start_img-5099" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5099">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5102"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5102" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe the EN 61508 is the most important one from the software point of view.
But it is not only valid for robots. This is one of the most important standard for industrial development. It defines the safety of a system, that it has to be free of "unjustifyable risks"</p>

<p>There are all the requirements for:
 - rts
 - redundancy (including redundant software)
 - SIL
 - software development process and documentation</p>

<p>More detailed: <br>
61508-1 is pretty general <br>
61508-2 is lot about electronics, including programmable electronic parts <br>
61508-3 is the main part about software <br>
61508-4 has nothing to do with software, just some acronym's and the rest of the overhead you need to understand the rest<br>
61508-5 How to calculate SIL <br>
61508-6 Examples of Part 2 and 3 <br>
61508-7 Another genral part about application</p>

<p>From this standard lot of other standards are inherit: <br>
61511 for process industry <br>
60335 for home <br>
60601 for medical applications <br>
62061 for industrial tools <br></p>

<p>For source I have some university scripts, unfortunatly they are in german:<br>
<a href="http://ext02.fh-kaernten.at/rts/intern/downloads/RTS/RTS1/Sicherheitsnormen.pdf" rel="nofollow">about 61508</a> <br>
<a href="http://ext02.fh-kaernten.at/rts/intern/downloads/RTS/RTS1/SIL.pdf" rel="nofollow">general info about SIL</a> <br></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5102" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-5102">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5102">Load Comments</button></br>
			<div id = "commentsection-5102" class = 'collapse'>
			<div id = "comment-7868" class = "comment">
				<p>Thanks a lot! This is exactly what I have been looking for. I found the pdf of 61508-3 [here](http://www.cechina.cn/ELetter/Standard/safety/IEC61508-3.pdf).</p>
			</div>
			</div>
				<textarea id = "speech-5102" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5102">
					<img id="start_img-5102" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5102">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>