<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot Serial Communication Error
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-331" class = "post">
			<h2>Question</h2>
			<div id="vote-331" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 159</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot Serial Communication Error</h2>
<p>We are using a Koro robot for our PC based automation solution. But sometimes the robot is getting the command but refuses to respond. Then I get a serial communication timeout error. The error is happening for a random type of commands and it is also not happening all the time making the troubleshooting difficult.</p>

<p>I doubt the driver problem. How do you approach this problem.?</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-331" data-toggle = "popover">
				<p>user name : Jaggi</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-331">{'None': 3, 'logic-control': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-331">Load Comments</button></br>
			<div id = "commentsection-331" class = 'collapse'>
			<div id = "comment-365" class = "comment">
				<p>Can you clarify the type of serial comms used? RS232, USB etc</p>
			</div>
			<div id = "comment-397" class = "comment">
				<p>It is RS232 connection</p>
			</div>
			<div id = "comment-417" class = "comment">
				<p>When you say "the robot is getting the command" does that mean that you simply sent the command, or that you have some confirmation that the robot received it?  Is the timeout error caused by failing to receive an expected response to your command?</p>
			</div>
			<div id = "comment-500" class = "comment">
				<p>I dont have a confirmation that the command is received. It happens only when I run my main program. But when I try to send the commands through a separate software provided by the console</p>
			</div>
			</div>
				<textarea id = "speech-331" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-331">
					<img id="start_img-331" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-331">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-332"  class = "post">
				<h2>Answer</h2>
			<div id="vote-332" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Welcome to Robotics... Hopefully, this will give you some pointers, although your situation is not easy to debug remotely :)</p>

<p>Things to consider (and I appreciate its a non-repeatable problem):</p>

<ol>
<li>Does it only happen when battery levels are low, or also with full charge (voltage low)</li>
<li>Does it only happen when the robot is active, or also from stationary (processor overload)</li>
<li>What else is the control PC doing? (PC overload)</li>
<li>Have you checked that the comms link is correct (voltage levels, numbers of bits, protocol etc) - Check with an oscilloscope.</li>
<li>Noise interference (EMC) if the motors are active</li>
<li>Can you log what is received at the robot?</li>
<li>Is the receive buffer on the robot big enough for the biggest command sequence? (buffer overflow)</li>
<li>Have you checked the cable, both for continuity and that it isn't loose.</li>
</ol>

<p>As things stand, it is difficult to be able to determine...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-332" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-332">{'None': 41}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-332">Load Comments</button></br>
			<div id = "commentsection-332" class = 'collapse'>
			<div id = "comment-398" class = "comment">
				<p>Thanks for the reply. The robot was working well perfectly before last week. I am debugging now and get back to you with more information.</p>
			</div>
			<div id = "comment-531" class = "comment">
				<p>I found out the problem was with the serial communication card..I connected the robot through the direct PC com port 2. It was working fine..</p>
			</div>
			<div id = "comment-534" class = "comment">
				<p>Doh! Thanks @Jaggi - such an obvious first check, I'd overlooked it!</p>
			</div>
			</div>
				<textarea id = "speech-332" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-332">
					<img id="start_img-332" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-332">Comment</button>
			<br><div id = "ans-467"  class = "post">
				<h2>Answer</h2>
			<div id="vote-467" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found out the problem was with the serial communication card..I connected the robot through the direct PC com port 2. It was working fine</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-467" data-toggle = "popover">
				<p>user name : Jaggi</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-467">{'None': 3, 'logic-control': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-467">Load Comments</button></br>
			<div id = "commentsection-467" class = 'collapse'>
			<div id = "comment-532" class = "comment">
				<p>Grrr, I almost suggested that you try different `com` ports, it's amazing that in 2012 this is *still* a problem!</p>
			</div>
			<div id = "comment-533" class = "comment">
				<p>Thanks for the update... and further to (and agreeing) Mark's comment, this is a reminder to check the basics first, no matter how obvious it may seem.  And this is likely to become a bigger issue as built-in RS232 becomes even more rarer :(</p>
			</div>
			</div>
				<textarea id = "speech-467" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-467">
					<img id="start_img-467" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-467">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>