<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot docking for self-recharging
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4699" class = "post">
			<h2>Question</h2>
			<div id="vote-4699" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1672</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot docking for self-recharging</h2>
<p>I want to build a simple obstacle avoider robot, but this time I want it to be self-recharging so I am building a dock for this purpose, so I want it to be able to locate the dock and go for it when battery voltage is lower than a fixed value.</p>

<p>I am having trouble to chose the right components for locating the dock, I think I am going to use an IR emitter on the dock so the robot can head toward it when battery is low (let's forget about the orientation problem for the moment, but if you have any thoughts about it that will be helpful) but I am not sure if the robot is able to detect the IR LED (or whatever) from a long distance (over 10 meter)</p>

<p>Is it possible to use this solution for this distance? If not, what do you suggest?</p>

<p>(If there is a simple ready solution to buy that's ok, let's say I have no budget limit)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4699" data-toggle = "popover">
				<p>user name : Jihed Jaouabi</p>
				<p> user reputation : 68</p>
				<p class = "tagcontent" id = "usertaginfo-4699">{'None': 0, 'localization': 8, 'arduino': 5, 'battery': 8, 'valve': 5, 'wheeled-robot': 13, 'mechanism': 5, 'wireless': 8, 'industrial-robot': 5, 'sensors': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4699">Load Comments</button></br>
			<div id = "commentsection-4699" class = 'collapse'>
			<div id = "comment-7342" class = "comment">
				<p>if you use a highpower IR-Led (i guess around 0.5-1W) and a daylight filter before the sensor you have pretty good change to be able to detect the light.
If the robot is only driving indoor, there won't be any problem. Outdoor could be a problem if the sun shines bright.</p>
			</div>
			<div id = "comment-7401" class = "comment">
				<p>The range will (obviously) be similar to a TV remote. You may have problems when the emitter is not in the line of sight. You could try using a magnetometer (compass) as long as the dock is on a far wall angle.</p>
			</div>
			<div id = "comment-7411" class = "comment">
				<p>For advice about the "orientation problem", see this question: [Can I make an automatically-parking robot car with IR sensor?](http://robotics.stackexchange.com/q/4734/350)</p>
			</div>
			</div>
				<textarea id = "speech-4699" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4699">
					<img id="start_img-4699" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4699">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4744"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4744" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It will be up to you to pick an IR LED (or a set of them) that provide enough power to differentiate from ambient light.  Unless I'm reading your question incorrectly, there should be no issue with putting many LEDs at the docking station to multiply the power.</p>

<p>Keep in mind that you can always flash the source LED(s) at a known frequency or in some more complicated pattern to make that signal separable from other light sources.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4744" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4744">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4744" class = 'collapse'>
			</div>
				<textarea id = "speech-4744" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4744">
					<img id="start_img-4744" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4744">Comment</button>
			<br><div id = "ans-5009"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5009" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have a look at the <a href="http://wiki.ros.org/kobuki/Tutorials/Testing%20Automatic%20Docking#How_it_works" rel="nofollow noreferrer">second part</a> of the page, <a href="http://wiki.ros.org/kobuki/Tutorials/Testing%20Automatic%20Docking" rel="nofollow noreferrer">Testing Automatic Docking</a>.</p>

<p>Here they explain how it works with Kobuki turtlebots.</p>

<blockquote>
  <p>Kobuki's docking station has 3 IR (Infrared) emitters. The emitted IR
  lights cover three regions in front of the docking station: left,
  central and right, each divided in two sub-fields: near and far. Each
  beam encodes this information, so the robot knows at any moment in
  which region and sub-field he is. Also, as regions and fields are
  independently identified, they can be overlap on its borders.</p>
</blockquote>

<p><a href="https://i.stack.imgur.com/26rMn.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/26rMn.png" alt="IR emitters"></a></p>

<blockquote>
  <p>Kobuki has 3 IR receivers. When the robot is placed within the field
  of the docking station, and at least one IR receiver is facing toward
  it, the robot will catch the signal and stream it to the controller
  netbook. The information is available on
  <code>/mobile_base/sensors/dock_ir</code> topic, in the form of
  <code>kobuki_msgs/DockInfraRed</code> messages.</p>
</blockquote>

<p><a href="https://i.stack.imgur.com/AM8Cu.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/AM8Cu.png" alt="IR receivers"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5009" data-toggle = "popover">
				<p>user name : Robert Stevens</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-5009">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5009">Load Comments</button></br>
			<div id = "commentsection-5009" class = 'collapse'>
			<div id = "comment-7804" class = "comment">
				<p>Welcome to Robotics.SE - link-only answers don't really provide the A part of Q&A... could you expand on your answer please?!</p>
			</div>
			</div>
				<textarea id = "speech-5009" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5009">
					<img id="start_img-5009" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5009">Comment</button>
			<br><div id = "ans-5187"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5187" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is a simple off-the-shelf solution.  The <a href="http://www.irobot.com/create" rel="nofollow">iRobot Create</a> is a hackable Roomba and maintains all of its original code and behaviors.  One of which is "seek dock".  Although i think the max distance it can sense the dock is probably around 1 or 2 meters.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5187" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5187">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5187" class = 'collapse'>
			</div>
				<textarea id = "speech-5187" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5187">
					<img id="start_img-5187" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5187">Comment</button>
			<br><div id = "ans-5291"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5291" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can detect an IR LED from quite some distance.  This is how TV remote controls work.  A tiny battery operated LED can send data even when not aimed directly at the TV.  The trick is to modulate the LED with some high frequency then the receiver uses an analog filter to pass only that frequency.  This filters out room light (which is close to DC.)</p>

<p>Homing in on an IR LE is just like those line following robots.  You have a row of IR receivers each with a narrow angle of view and turn the robot so the center receiver gives the brightest signal.  This works in the easy case that the room is clear of obstacles.  </p>

<p>I have not done this but I think a cheap video camera (web cam) would work well. A blinking IR LED would be easy to detect, then star the robot so as to keep the blinking LED centered.  But you'd need a computer able to run openCV or the like.  An Arduino could handle a row of IR phototransistors but not a camera.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5291" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5291">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5291">Load Comments</button></br>
			<div id = "commentsection-5291" class = 'collapse'>
			<div id = "comment-8063" class = "comment">
				<p>RaspPi is probably a better choice, and has a regular camera and a NOIR (no Infrared filter) camera available.</p>
			</div>
			</div>
				<textarea id = "speech-5291" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5291">
					<img id="start_img-5291" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5291">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>