<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robotics jargon question: How to conjugate 'teach'?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6576" class = "post">
			<h2>Question</h2>
			<div id="vote-6576" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 73</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robotics jargon question: How to conjugate 'teach'?</h2>
<p>As a non-native speaker I have a (maybe trivial, but to me not clear) question concerning the verb 'to teach'. Of course, from school (and online dictionaries) I know the past tense of 'teach' is 'taught' not 'teached'. But in robotics 'to teach' has a special meaning (like: 'to make special ponts/orientations known to the (arm-)robot', e.g. by guiding the robot to those points/orientations.) </p>

<p>Does it make sense to have a different past tense for 'teach' (i.e. 'teached') in this case ? Maybe a reference were it is used/explained ?</p>

<p>(I would say 'No. The past of teach is taught, and that's it.', but some of my colleagues - also not native speakers - have a different opinion.)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6576" data-toggle = "popover">
				<p>user name : Johannes Trost</p>
				<p> user reputation : 130</p>
				<p class = "tagcontent" id = "usertaginfo-6576">{'None': 0, 'algorithm': 2, 'localization': 1, 'joint': 2, 'industrial-robot': 2, 'robotic-arm': 1, 'reference-request': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6576">Load Comments</button></br>
			<div id = "commentsection-6576" class = 'collapse'>
			<div id = "comment-9456" class = "comment">
				<p>Check http://dict.leo.org/ is your language present there? to teach so. | taught, taught |</p>
			</div>
			<div id = "comment-9457" class = "comment">
				<p>Yes, I've checked leo.org. I've edited the question.</p>
			</div>
			<div id = "comment-9458" class = "comment">
				<p>I know this for `dream`, which allows both `dreamed` or `dreamt`. But not for `teach`.</p>
			</div>
			</div>
				<textarea id = "speech-6576" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6576">
					<img id="start_img-6576" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6576">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6579"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6579" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have paid online or DVD access to Oxford English Dictionary, you can look up the entry for <em>teached</em>.  Here is its entry from OED1 (1919 vintage, available free online):</p>

<blockquote>
  <p>Teached ... <em>Obs.</em> or <em>dial.</em> = TAUGHT.
  1639 LO. DIGAY, etc. <em>Lett. conc. Relig.</em> (1651) 96 By the
  frequent misapprehension of the teached,..either let slip or supplanted. 1644 G. PLATTES in Hartlib's Legacy (1655)
  176 The Teachers and the Teached were nothing else but
  the blind leading of the blind.</p>
</blockquote>

<p>That is, OED (which typically is regarded as a definitive reference) in its first release referred to <em>teached</em> as obsolete or dialectic, and labels it as meaning <em>taught</em>.</p>

<p><em><a href="https://books.google.com/books?id=mVcJqKs1isUC&amp;pg=PA798&amp;lpg=PA798&amp;dq=teached+or+taught&amp;source=bl&amp;ots=zuw_rJNhvz&amp;sig=T1nJwq74BT9upWTw9JMDTs7yv6A&amp;hl=en&amp;sa=X&amp;ei=UoTbVJijEoG1ogTajoCQCQ&amp;ved=0CEMQ6AEwBTgK#v=onepage&amp;q=teached%20or%20taught&amp;f=false" rel="nofollow">Garner's Modern American Usage</a></em> (2009, Oxford University Press) by Bryan Garner in its <strong><em>Teach</strong> > taught > taught</em> entry states</p>

<blockquote>
  <p><code>*</code><em>Teached</em> is a form that isn't taught anywhere and is no part of STANDARD ENGLISH. But it sometimes appears  </p>
</blockquote>

<p>and offers some examples of it appearing by mistake in American newspaper articles.</p>

<p>The <a href="http://en.wiktionary.org/wiki/teached" rel="nofollow">en.wiktionary</a> entry for <em>teached</em> labels it as  nonstandard, colloquial, dialectal  and offers some dialectal examples.</p>

<p>In short, use <em>taught</em>, not <em>teached</em>.  But note that rather than referring to a robot  replaying a collection of <em>taught</em> poses , more often one refers to it  replaying a collection of <em>learned</em> poses , making the viewpoint that of the taught instead of of the teacher.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6579" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-6579">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6579">Load Comments</button></br>
			<div id = "commentsection-6579" class = 'collapse'>
			<div id = "comment-9461" class = "comment">
				<p>Great research.
Curiously, we have two forms also for the past of _learn_: learned and learnt; this time, both correct.</p>
			</div>
			</div>
				<textarea id = "speech-6579" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6579">
					<img id="start_img-6579" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6579">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>