<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>RobotC graphical raise arms while reversing
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11707" class = "post">
			<h2>Question</h2>
			<div id="vote-11707" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>RobotC graphical raise arms while reversing</h2>
<p>I am trying to help my son program his robot using RobitC graphical. He has it doing most of what he wants it to do but the code is stuck and won't continue past the arm raise/ hold. What it is supposed to be doing at the point where it gets stuck is raise the arms (to lift an object) Hold the arms up while reversing Turn 90 degrees Reverse (This is as far as he's created as he realized it isn't working) Turn 90 degrees Reverse to the basket and raise the arms again</p>

<p>His code is trying to say to hold the arms up until he creates a new set point</p>

<p>He has tried both of these codes</p>

<p>I know it says (left drive) instead of (arm) on one bit that was corrected and still doesn't work correctly</p>

<p>I was asked in the comments on my other question to post which line it fails. I believe it fails at 18. The arms stay up but the bot does not continue the program (reverse). I could not respond in the comments as I do not have a high enough rating. <img src="https://i.stack.imgur.com/qYk5z.jpg" alt="enter image description here"><img src="https://i.stack.imgur.com/hGfzZ.jpg" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11707" data-toggle = "popover">
				<p>user name : Stephanie Beck</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11707">{'mobile-robot': 0, 'None': 0, 'programming-languages': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11707">Load Comments</button></br>
			<div id = "commentsection-11707" class = 'collapse'>
			<div id = "comment-20904" class = "comment">
				<p>Welcom to *Robotics* Stephanie Beck. It looks like you may have accidentally created two accounts (Stephanie Beck & Stephanie). Stack Exchange only allows an individual to actively use one account, so please follow the instructions at [I accidentally created two accounts; how do I merge them?](http://robotics.stackexchange.com/help/merging-accounts)
Note that moderators [can't merge accounts](http://meta.stackexchange.com/a/272251) for you.</p>
			</div>
			<div id = "comment-20905" class = "comment">
				<p>Also, it is better to edit your question to add information requested in comments, rather than creating a new question. I guess this is a consequence of losing access to the first account you created, but you could also have suggested an edit to your original question, rather than adding another question.</p>
			</div>
			</div>
				<textarea id = "speech-11707" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11707">
					<img id="start_img-11707" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11707">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11712"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11712" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In both of the pictures, line 19 has a "wait" command. The execution of the program will progress past this line when the condition in the parenthesis has been met.  You mentioned, that you have changed Ldrive to Larm and Rdrive to Rarm, however the motor brakes for these motors are set only after line 19. The command at line 19 is waiting for the brakes to be active, but there has been no command issued which would activate the brakes. </p>

<p>I would suggest that you try moving the set brake commands for the Larm and Rarm before the waituntil command. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11712" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11712">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11712" class = 'collapse'>
			</div>
				<textarea id = "speech-11712" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11712">
					<img id="start_img-11712" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11712">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>