<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot Navigation Feedback using Image Processing
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6566" class = "post">
			<h2>Question</h2>
			<div id="vote-6566" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 424</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot Navigation Feedback using Image Processing</h2>
<p>In my project, I've successfully analyzed the arena and have detected the obstacles using an overhead webcam. I also have computed the shortest path. The path data is transmitted to the robot via Zigbee, based on which it moves to its destination.</p>

<p>The problem is: My robot is not taking accurate turns which would cause error in the rest of path it follows.</p>

<p>Could anyone please suggest any methods/techniques for feedback from the robot so as the path is corrected and the robot follows the original path computed without any deviation? (Basically a tracking mechanism to avoid deviation from the original computed path)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6566" data-toggle = "popover">
				<p>user name : HVN1673</p>
				<p> user reputation : 28</p>
				<p class = "tagcontent" id = "usertaginfo-6566">{'motion-planning': 2, 'None': 0, 'computer-vision': 2, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6566">Load Comments</button></br>
			<div id = "commentsection-6566" class = 'collapse'>
			<div id = "comment-9445" class = "comment">
				<p>You should describe more about your setup. for example other sensors, control methods you are using for motion of robot</p>
			</div>
			<div id = "comment-9451" class = "comment">
				<p>I'm using the position encoders. Though these don't work perfectly at right angled turns. I have placed two colored stickers on robot to detect its orientation from the overhead camera. It's all based on image processing, so I wont be using any sensors in that case. I'll be sending movements commands to the robot via Zigbee.</p>
			</div>
			</div>
				<textarea id = "speech-6566" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6566">
					<img id="start_img-6566" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6566">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6574"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6574" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should feedback on position and heading using the information from the webcam overhead. </p>

<p>So you have an list of cells that make up the path that you would like to travel in the order that you would like them visited. Give each cell a property 'traveled' with an initial value of false. Give the robot some slow constant speed with a desired heading that points it to the next untraveled cell. Once the robot gets withing some distance of the cell, mark the cell as traveled and move on to the next one. As long as the robot is moving slow enough compared to the rate you are sending commands, this should get you through the maze.</p>

<p>Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6574" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-6574">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6574">Load Comments</button></br>
			<div id = "commentsection-6574" class = 'collapse'>
			<div id = "comment-9459" class = "comment">
				<p>Yes! But how to do that is what I wanted to know...</p>
			</div>
			<div id = "comment-9475" class = "comment">
				<p>what are you using for path planning? Do you know the vehicle's current position and orientation?</p>
			</div>
			<div id = "comment-9476" class = "comment">
				<p>Yes the position and orientation is known. I'm converting my arena into a grid and using A* to find the path. Path is in the format of a sequence of coordinates. The position of the bot is also known in terms of coordinates from this grid.</p>
			</div>
			</div>
				<textarea id = "speech-6574" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6574">
					<img id="start_img-6574" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6574">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>