<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robotic part to dispense candy
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2411" class = "post">
			<h2>Question</h2>
			<div id="vote-2411" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2171</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robotic part to dispense candy</h2>
<p>I'm a complete newbie trying to build a simple robot that dispenses candy (M&amp;M, skittles, etc).  However, since I'm not familiar with the field, I'm having a hard time googling because I don't know the correct terms to search for.  I'm looking for a piece to build a robotic 'trap door' of sorts that will open for a specified amount of time to release candy.  What parts can I use and what is are called?  I've tried robotic lever, robotic door, etc with no luck.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2411" data-toggle = "popover">
				<p>user name : Marcos Savoury</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-2411">{'None': 0, 'design': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2411">Load Comments</button></br>
			<div id = "commentsection-2411" class = 'collapse'>
			<div id = "comment-4727" class = "comment">
				<p>You might search for "electronic dispenser".</p>
			</div>
			<div id = "comment-14065" class = "comment">
				<p>The pharmaceutical automation industry makes a large variety of automated pill dispensers that achieve the functions you are trying to do.  Of course, their systems are more complex due to the safety requirements for dispensing medicines.  You might want to look up designs by Baker, McKesson, Innovation Associates, Automed, Kirby-Lester, and the like.</p>
			</div>
			</div>
				<textarea id = "speech-2411" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2411">
					<img id="start_img-2411" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2411">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2412"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2412" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your mechanism will depend on the type of dispenser you want. Like if its gravity feed or not. I will assume it is, so I make this sketch to give you some idea:</p>

<p><img src="https://i.stack.imgur.com/5EEuB.gif" alt="electronics candy dispenser sketch"></p>

<p>The hole size will depend on how many candy you want to dispense at each stroke. (Of course its related to the candy size). The electro-mechanical actuator can be a crankshaft one, a solenoid, a linear motor, and goes on.</p>

<p>You can use a vibrator attached to the cup if the candy tends to get stuck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2412" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-2412">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2412">Load Comments</button></br>
			<div id = "commentsection-2412" class = 'collapse'>
			<div id = "comment-14066" class = "comment">
				<p>You will be amazed at how easily the candy gets stuck, or constructs "bridges" across the opening.   Consider some type of agitator to break up those logjams.</p>
			</div>
			<div id = "comment-19360" class = "comment">
				<p>@SteveO yes, that's why I added *You can use a vibrator attached to the cup if the candy tends to get stuck.* when posted.</p>
			</div>
			</div>
				<textarea id = "speech-2412" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2412">
					<img id="start_img-2412" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2412">Comment</button>
			<br><div id = "ans-2419"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2419" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two good search terms that come to mind.  The first one is a "candy machine mechansim", or "dispenser mechanism" (e.g. <a href="http://www.woodworkingformeremortals.com/2012/10/make-candy-dispenser.html" rel="nofollow noreferrer">http://www.woodworkingformeremortals.com/2012/10/make-candy-dispenser.html</a>).  There are several models of off-the-shelf pet food dispensers and cereal dispensers that use this method.</p>

<p><a href="https://i.stack.imgur.com/Ab4YP.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Ab4YPm.jpg" alt="cereal dispenser"></a></p>

<p>The second term would be a <a href="http://en.wikipedia.org/wiki/Screw_conveyor" rel="nofollow noreferrer">screw conveyor</a> (a.k.a. "auger dispenser"/"food auger"/"grain auger"), which describes a more continuous-flow version of what you are describing.</p>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Archimedes-screw_one-screw-threads_with-ball_3D-view_animated_small.gif" alt="screw conveyor"></p>

<p>This type of dispenser controls the volume that is delivered by rotating the auger by a fixed amount, not by dumping a fixed-size container.</p>

<p>Beyond those, there are some homemade concepts that use some variation on the idea, like this one:
<a href="http://omahamakergroup.org/2011/06/24/evening-project-automatic-cat-food-dispenser/" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UsIeTm.jpg" alt="sliding cat food dispenser"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2419" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2419">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2419">Load Comments</button></br>
			<div id = "commentsection-2419" class = 'collapse'>
			<div id = "comment-4764" class = "comment">
				<p>Well, your first link and the "home made" concepts are near the same, just one is rotary and the other is linear. I don't think there's no commercial machine using the second optional, that is similar to what I suggested. The screw conveyor is complex to make, therefore more expansive (that's thinking on metal, if you find it in production in plastic it can be an alternative).</p>
			</div>
			<div id = "comment-4765" class = "comment">
				<p>I'm not sure I understand the point you're trying to make.</p>
			</div>
			</div>
				<textarea id = "speech-2419" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2419">
					<img id="start_img-2419" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2419">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>