<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robotics Trends
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-184" class = "post">
			<h2>Question</h2>
			<div id="vote-184" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 279</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robotics Trends</h2>
<p>Robotics has always been one of those engineering fields which has promised so much, but is taking a long time to deliver all the things that people imagine.</p>

<p>When someone asks: "How long before we have [X] type of robots?" Are there any resources we can call upon to try to calculate a rough answer. These resources might include:</p>

<ul>
<li>Rate of progress of computational power, and some estimate of how much will be needed for various types of AI.</li>
<li>Rate of progress of electrical energy storage density, and some estimate of how much will be needed for various types of robot.</li>
<li>Rate of progress of actuation systems, and some estimate of what would be needed for various types of robot.</li>
<li>Lists of milestones towards various types of robot, and which ones have been achieved and when.</li>
</ul>

<p>Are these types of studies performed, and are the results published?</p>

<hr>

<p>Added:</p>

<p>In response to Jakob's comment, I am not looking for opinions or discussions on this subject. What I am looking for are published studies which might shed light on this question.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-184" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-184">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-184">Load Comments</button></br>
			<div id = "commentsection-184" class = 'collapse'>
			<div id = "comment-215" class = "comment">
				<p>While certainly an interesting question, I fear any of the answer would turn out to be quite opinionated.</p>
			</div>
			<div id = "comment-216" class = "comment">
				<p>@Jakob - No. I am not looking for opinions. The question is clearly looking for *specific resources and studies* which have been published. *Not* opinions.</p>
			</div>
			</div>
				<textarea id = "speech-184" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-184">
					<img id="start_img-184" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-184">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-226"  class = "post">
				<h2>Answer</h2>
			<div id="vote-226" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In my opinion, the question "How long before we have [X] type of robots?" is flawed. It assumes some kind of linear progress towards a goal that we already know, but scientific progress doesn't work that way. One cannot honestly say "if we had 100x of today's computing power, we could achieve human-level AI" (although it sounds like something Ray Kurzweil <em>might</em> say). Also, we cannot predict today what robots 50 years from now will look like.</p>

<p>If you had asked anybody in the sixties about the future of computers, they wouldn't have predicted that all of us carry around a super computer in our pockets which we use to publicly answer a question asked by somebody on the other side of the planet.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-226" data-toggle = "popover">
				<p>user name : Martin</p>
				<p> user reputation : 320</p>
				<p class = "tagcontent" id = "usertaginfo-226">{'odometry': 14, 'None': 13, 'imu': 14, 'ros': 14, 'ugv': 14, 'gyroscope': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-226">Load Comments</button></br>
			<div id = "commentsection-226" class = 'collapse'>
			<div id = "comment-237" class = "comment">
				<p>I must disagree. [Moore's Law](http://en.wikipedia.org/wiki/Moore's_law) was observed in the sixties, and people were already making predictions about the future of computing which turned out to be accurate. We can observe trends in various technologies like energy storage density, motor power density, computing power, etc, and make educated estimates about the when certain technologies will be possible.</p>
			</div>
			<div id = "comment-242" class = "comment">
				<p>We can certainly all make guesses, but @Martin is right. "Predictions are uncertain, especially about the future."</p>
			</div>
			<div id = "comment-627" class = "comment">
				<p>Even Moore's Law doesn't look very accurate when you just look at the last 10 years. It's just a trend that was noticed and an (educated) guess was made it would continue. There's nothing to suggest that a new breakthrough won't speed it up or that if scientists and engineers did nothing the technology would continue on this trend anyway. We can only make educated guesses that might work out.</p>
			</div>
			</div>
				<textarea id = "speech-226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-226">
					<img id="start_img-226" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-226">Comment</button>
			<br><div id = "ans-523"  class = "post">
				<h2>Answer</h2>
			<div id="vote-523" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Rate of progress of computational power</h2>

<p><a href="http://en.wikipedia.org/wiki/Moore%27s_law" rel="nofollow">Moore's law</a>: over the history of computing hardware, the density of transistors on an integrated circuit doubles approximately every two years.</p>

<p>How long will that take until we have human-equivalent processing power (HEPP) ?
As Martin pointed out, Ray Kurzweil and those who listen to him say things like:
"By some estimates, we already have supercomputers that have the raw processing power
necessary to produce HEPP -- we just don't know how yet to program them to act intelligently."
"By 2030, the hardware for a HEPP will cost one dollar." (<a href="http://mol-eng.com/takeoff.pdf" rel="nofollow">a</a> <a href="http://books.google.com/books?id=aL2QThQPuxgC&amp;pg=PA340&amp;lpg=PA340&amp;dq=HEPP%3a%20Human%20Equivalent%20Processing%20Power&amp;source=bl&amp;ots=lOlF3nUjVY&amp;sig=GEUZuDAnhXGnvPQV6KbcvOkrzTY&amp;hl=en&amp;sa=X&amp;ei=kYazULSOJ4y29gTit4GoAw&amp;ved=0CEgQ6AEwAw#v=onepage&amp;q=HEPP%3a%20Human%20Equivalent%20Processing%20Power&amp;f=false" rel="nofollow">b</a>)</p>

<p>Nielsen's Law: network connection speeds double approximately every 21 months.</p>

<h2>Rate of progress of electrical energy storage density</h2>

<p><a href="http://blogs.wsj.com/drivers-seat/2012/03/28/who%E2%80%99ll-name-the-law-for-electric-car-batteries/" rel="nofollow">unnamed law</a>: electric vehicle batteries double in miles/dollar every 10 years. (<a href="http://www.eaa.org/experimenter/articles/2010-05_electric.asp" rel="nofollow">b</a>)</p>

<p>The power consumed by a integrated circuit running at full speed remains roughly constant.</p>

<p>The power consumed by a integrated circuit to do any fixed amount of processing halves approximately every two years.</p>

<h2>Other trends relevant to robotics</h2>

<p>Hendy's Law: digital camera pixels per dollar doubles approximately every 18 months.</p>

<p>Haitz's law: the light output of an LED doubles approximately every 36 months.</p>

<p><a href="http://johnnyryan.wordpress.com/2011/08/24/a-moore%E2%80%99s-law-for-3d-printing-i-need-data/" rel="nofollow">Johnny Ryan</a> is gathering data that may lead to a similar law for 3d printing.
(Robots are sometimes built using such 3D printed parts,
and 3D printers themselves are technically a kind of "robot" under most definitions).</p>

<p>[unnamed law]: the power-to-weight ratio of electric motors and their control electronics doubles every [FIXME] years.
(This trend is most obvious in electric aircraft). ( <a href="http://www2.electronicproducts.com/High_power_MOSFET_packages_muscle_in_on_high_density_power_systems-article-MARIR1-mar1999-html.aspx" rel="nofollow">a</a> <a href="http://www.eaa.org/experimenter/articles/2010-05_electric.asp" rel="nofollow">b</a> )</p>

<p>These trends in the low-level quantitative measures of what people build are surprisingly "linear" (in a log-linear graph) and therefore easy to predict.
However, historically people have made terrible predictions of exactly how much quantity of such low-level hardware was necessary to achieve some qualitative features in AI and other areas of robotics.
Usually people woefully underestimate what is needed to automate things we find "easy" like riding a bike or <a href="http://en.wikipedia.org/wiki/Darpa_grand_challenge" rel="nofollow">driving a car</a>.
Occasionally people find it disturbing how easy it is to automate some things ( <a href="http://en.wikipedia.org/wiki/ELIZA_effect" rel="nofollow">ELIZA effect</a> ).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-523" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-523">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-523" class = 'collapse'>
			</div>
				<textarea id = "speech-523" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-523">
					<img id="start_img-523" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-523">Comment</button>
			<br><div id = "ans-527"  class = "post">
				<h2>Answer</h2>
			<div id="vote-527" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This isn't a published study, but many people use the <a href="http://en.wikipedia.org/wiki/Technology_readiness_level" rel="nofollow">Technology Readiness Level (TRL)</a> system to assess the state of technologies. </p>

<p>Granted, it doesn't really tell you <em>when</em> a technology might reach a particular stage, but it can be useful in establishing a common framework for this sort of question. </p>

<p>It also can be useful for prioritizing and comparing different subsystems. For example, in a robotic system, if you deem that the actuators are at TRL 6 but your power storage technology is only at TRL 1, you can see what is holding the whole system back and put more effort ($) there.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-527" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-527">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-527" class = 'collapse'>
			</div>
				<textarea id = "speech-527" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-527">
					<img id="start_img-527" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-527">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>