<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot wire follower + how to position on wire
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8186" class = "post">
			<h2>Question</h2>
			<div id="vote-8186" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 405</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot wire follower + how to position on wire</h2>
<p>I'm designing my lawn mower robot, and I am in the perimeter stage. 
The electronic part is done, and works quite good, now comes the software.</p>

<p>I need an advice on how to deal with the problem of line following. I mean, once the robot is on the line, parallel to the line, that's relatively easy. 
But how to manage the situation when the robot is driving around and approaches the line (wire)?</p>

<p>I have two sensors, left and right, turned 45  with respect to the forward direction. </p>

<p>The robot could arrive from any angle, so the signal amplitude read from the sensor could be completely random.. 
So I don't understand what to do in order to move it in the right position on the wire...
What's the usual approach? </p>

<hr>

<p>The idea is the same as here:</p>

<p><a href="http://wiki.ardumower.de/index.php?title=Datei:Ardumower_perimeter.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UFH2Q.png" alt="Ardumower perimeter wire"></a></p>

<p>The wire is all around the yard. on the mower there are 2 sensors, left and right, that sense the signal emitted from the wire, a square wave signal at 34 KHz. The signal amplitude read from the sensors on the mower is about 2 V when it's above the wire.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8186" data-toggle = "popover">
				<p>user name : user3318528</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-8186">{'magnetometer': 1, 'None': 0, 'line-following': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8186">Load Comments</button></br>
			<div id = "commentsection-8186" class = 'collapse'>
			<div id = "comment-13070" class = "comment">
				<p>You mention "line" and "wire" - can you draw your setup? I'm having a hard time visualizing what you're doing, unless you're going to rig up (fishing?) line all around your yard or something. I'm not sure what on the mower would interact with the wire, etc.</p>
			</div>
			<div id = "comment-13083" class = "comment">
				<p>Welcome to Robotics user3318528. On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted).</p>
			</div>
			<div id = "comment-13084" class = "comment">
				<p>It sounds like your robot is using a boundary line as a navigation line. Is your robot mapping where it's already been?</p>
			</div>
			<div id = "comment-13087" class = "comment">
				<p>I didn't do anything regarding the movement of the robot, I started the project from the perimeter wire, so at the moment I'm focusing on this part...</p>
			</div>
			</div>
				<textarea id = "speech-8186" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8186">
					<img id="start_img-8186" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8186">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8193"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8193" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a lot of possible ways to solve your problem.</p>

<p>First, let's get you off the wrong track: this isn't a simple, line following problem.  For it to be a line following robot, you need to lay track lines under your lawn for every place that you want to mow.  Imagine a grid like a potato masher instead of the one your drew.</p>

<p>The problem seems to be:</p>

<p><em>Given a perimeter wire &amp; an autonomous robot, how can I make a robot mow my lawn, and how can it do the job in a relatively efficient manner? (ie: don't take a random walk).</em></p>

<p>Here's what I would do:</p>

<p>1) Add a start/stop location to you map. You could use a strong IR emitter and sensor (test it to make sure your robot can see it in bright sunlight).  Add this to your "charging station" and you've killed 2 birds with 1 stone.</p>

<p>2) Ensure that you're using encoded motors for your wheel motors. I'd take an approach similar to SLAM, but without the on-the-fly mapping.  You can encode your yard as a map, making the code and problem drastically easier.</p>

<p>MIT's "<a href="http://ocw.mit.edu/courses/aeronautics-and-astronautics/16-412j-cognitive-robotics-spring-2005/projects/1aslam_blas_repo.pdf" rel="nofollow">SLAM for Dummies</a>"</p>

<p>Also look into "particle filter localization".  </p>

<p>3) Assume your yard is forever static.  If it's not (if you plant a tree, remove the pool, or get a pile of mud after a storm, etc), we'll get to that in code with obstacle avoidance &amp; with localization.  But for now, we'll start with the simplest case, and we'll build up in difficulty from there.</p>

<p>Now with these 3 additions, I'd start the robot by hugging to the perimeter line -- this is its one little bit of line following.  Let's start at the home, ie: the "charging station," and we'll work up the map towards the house.  The root will straddle the perimeter wire.  When the left sensor drops from 2V to zero, you're at the top of the map.  Turn right, follow the line for x-inches or x-centimeters, turn right again, and go down the line blindly. This should work well until you reach the house's left perimeter line.  You'll need to try this out in the yard and see how reliable your encoders are, how little slippage your gears give, etc.</p>

<p>Particle filtering will help your robot as it moves blindly to the next perimeter line.</p>

<p>The next issue to tackle is how to get around the pool. The encoded wheels will give you a decent idea of your positioning, so you can simply revert back to line following when you hit the pool perimeter.  Follow the line for x-inches again, and turn.  Unlike your exterior perimeter, your turns here are not 180 degrees.  You'll need to experiment.</p>

<p>In lieu of trying to work that out, you can just avoid the pool area.  Mow the easy part of the grid (everywhere that allows for simple 90 and 180 degree turns), and then come back to the pool at the end, where you're more likely to have poor localization.</p>

<p>I'd also add a sonar sensor at the front for obstacle avoidance. </p>

<p>I hope this spurs some ideas for you.</p>

<p>Ryan</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8193" data-toggle = "popover">
				<p>user name : Ryan Loggerythm</p>
				<p> user reputation : 265</p>
				<p class = "tagcontent" id = "usertaginfo-8193">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8193" class = 'collapse'>
			</div>
				<textarea id = "speech-8193" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8193">
					<img id="start_img-8193" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8193">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>