<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robots without microcontrolers (beam robots). Are they technologically limited?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2196" class = "post">
			<h2>Question</h2>
			<div id="vote-2196" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 311</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robots without microcontrolers (beam robots). Are they technologically limited?</h2>
<p>BEAM robotics seem to be a good approach to teach learners about electronics in robotics. But can these robots be like regular programmed "cognitive" robots? Can these robots, with just analog circuits, take us to the level of robotic assistants, worker robots and other kinds of self sufficient autonomous robots?</p>

<p>I specifically want to know that, when creating mission critical robots -></p>

<p>1) What are the areas in robotics which are practically impossible without a real time software system?</p>

<p>2) What areas of the field can be done without programming? If yes, are these areas feasible without an onboard software system?</p>

<p>3) Could an intelligent space rover, work without a cpu in the future?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2196" data-toggle = "popover">
				<p>user name : xsnk</p>
				<p> user reputation : 60</p>
				<p class = "tagcontent" id = "usertaginfo-2196">{'control': 2, 'None': 0, 'computer-vision': 5, 'beginner': 3, 'artificial-intelligence': 6, 'microcontroller': 5, 'embedded-systems': 5, 'programming-languages': 3, 'machine-learning': 6, 'mobile-robot': 1, 'electronics': 2, 'research': 6, 'software': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2196" class = 'collapse'>
			</div>
				<textarea id = "speech-2196" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2196">
					<img id="start_img-2196" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2196">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2199"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2199" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If we are defining BEAM robots as ones that do not use microprocessors, and only use analog circuits, then yes I think it is possible, but not practical.</p>

<p>A microprocessor is essentially a programmable circuit, and if we define what we want our robot to do, then we should be able to program the hardware (by building the proper circuit) without needing a microprocessor and programming software for it.</p>

<p>To answer your sub questions:</p>

<p>1) Without a real-time software system you can still have a real-time hardware system, so the only areas that would be impossible are areas where the robot needs to be functionally flexible and programmable post-manufacturing.</p>

<p>2) As answered in 1), all robots can be manufactured without software as long as the "programming" is defined in the hardware circuitry and doesn't need to change.</p>

<p>3) Yes.</p>

<p>Note: I'm not a hardware expert, please correct me if I'm wrong.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2199" data-toggle = "popover">
				<p>user name : user453441</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-2199">{'None': 5, 'motor': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2199">Load Comments</button></br>
			<div id = "commentsection-2199" class = 'collapse'>
			<div id = "comment-4321" class = "comment">
				<p>But Software-less robots, spacecrafts etc. might never be close to feasible. Right?</p>
			</div>
			<div id = "comment-4334" class = "comment">
				<p>I can't predict the future. I guess I would ask, why do you care / want to know?</p>
			</div>
			</div>
				<textarea id = "speech-2199" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2199">
					<img id="start_img-2199" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2199">Comment</button>
			<br><div id = "ans-2210"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2210" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you are mixing the idea of BEAM robotics (why that, I prefer to not use this term), with analog electronics.</p>

<p>Analog circuits are in major applications more fast than a micro processed one, that have a clock to process instructions. The "problem" with analogs is in part with noise, but early computers are made analog, <em>operational amplifiers</em> are made to do computation with analog circuits.</p>

<p>The 74LS series, have a bunch of digital discrete ICs, they are not microprocessors, but can be flip-flops of some types, bus drivers, gate logic, and can do
a lot of "processing", again generally faster than a microprocessor.</p>

<p>But, today digital electronics and micro-controller or processors reached a point where cost is acceptable even for the hobbyist. Sometimes is more easy to make a software than the equivalent analog circuit if possible. There a number of reasons.</p>

<p>But you can see that micro-controllers still have analog circuits for the user, like analog comparators, A/D and D/A converters, and much more depending on the application, so <strong>majority of circuits are mixed type</strong></p>

<blockquote>
  <p>But Software-less robots, spacecrafts etc. might never be close to feasible. Right?</p>
</blockquote>

<p>That is really application and project dependent, and at some degree opinion based.
Op amps for example with an analog encoder, could close a PID loop, very fast ones.
But the signal to the PID would come from a software and a D/A. <strong>So I don't say its impossible, but there's no subject to go this way, but again, they are in major projects mixed circuits, not only digital</strong></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2210" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-2210">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2210" class = 'collapse'>
			</div>
				<textarea id = "speech-2210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2210">
					<img id="start_img-2210" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2210">Comment</button>
			<br><div id = "ans-2214"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2214" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>BEAM robots are generally simple circuits that exhibit some emergent behavior that (superficially) mimics biological behavior.  Generally speaking, there is no hard criteria for what a BEAM robot must accomplish -- they are not built to handle tasks that require reliability or repeatability.  </p>

<p>While BEAM robotics should in theory be able to handle any tasks that a microcontroller could handle, the style of construction is not geared toward ease of troubleshooting or debugging -- essential tasks for the development of any complex behavior.</p>

<p>Analog circuits in general are capable of very critical real-time tasks, such as <a href="http://www.computerhistory.org/revolution/real-time-computing/6/128" rel="nofollow noreferrer">guiding rockets</a>; see -- for example -- <a href="http://www.ti.com/ww/en/bobpease/" rel="nofollow noreferrer">the work of Bob Pease</a>.  But compare the ease of development by changing a few lines of code to testing and rewiring a system like the Hawk Missile autopilot:
<a href="http://www.computerhistory.org/revolution/real-time-computing/6/128/530?position=0" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/KclBRm.jpg" alt="Hawk Missile Autopilot"></a></p>

<p>Analog electronics aren't incapable, they're just (in these sorts of cases) impractical.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2214" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2214">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2214">Load Comments</button></br>
			<div id = "commentsection-2214" class = 'collapse'>
			<div id = "comment-4346" class = "comment">
				<p>The size of the components and the number of wired connections is completely irrelevant; the debugging and testing process is simply different between code and circuits.</p>
			</div>
			</div>
				<textarea id = "speech-2214" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2214">
					<img id="start_img-2214" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2214">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>