<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot autonomous variable terrain with yaw sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9161" class = "post">
			<h2>Question</h2>
			<div id="vote-9161" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 140</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot autonomous variable terrain with yaw sensor</h2>
<p>I am programming a robot to drive over variable terrain obstacles autonomously. The variable terrain could potentially knock the robot off of its initial heading, but I would like to design an autonomous sequence to correct for any change in direction. I am using a very accurate sensor with compass and yaw. What is the best way to have it correct for any changes and maintain its heading? Side to side motion does not have to stay perfect, but the heading needs to stay the same.We are currently correcting it by overpowering one side of the wheels (depending on direction of correction needed) until the heading is correct again, but this seems to be a slightly antiquated method, so I'm looking for a cleaner and more smooth method.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9161" data-toggle = "popover">
				<p>user name : ejscribner</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9161">{'None': 0, 'automation': 1, 'compass': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9161">Load Comments</button></br>
			<div id = "commentsection-9161" class = 'collapse'>
			<div id = "comment-15186" class = "comment">
				<p>It looks like this may be a duplicate of another question that was asked recently. See [my answer there](http://robotics.stackexchange.com/a/9148/9720), but briefly - use a PID controller whose input is heading reference, feedback is sensor heading, and output is an adjustment to motor speed signal.</p>
			</div>
			</div>
				<textarea id = "speech-9161" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9161">
					<img id="start_img-9161" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9161">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9224"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9224" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you have the path you want the robot to stay on, it sounds like you need <em>Pure Pursuit</em>.  In this simple algorithm, you steer the robot to some look-ahead point on the path.  The gist of it is illustrated by this image.  </p>

<p><a href="https://www.researchgate.net/figure/258177250_fig2_Figure-2-Geometry-of-the-pure-pursuit" rel="nofollow"><img src="https://www.researchgate.net/profile/Dong-hyung_Kim/publication/258177250/figure/fig2/Figure-2-Geometry-of-the-pure-pursuit.png" alt="Figure 2. Geometry of the pure pursuit.&nbsp;"></a></p>

<p>This only works for non-holonomic robots, but even if you have a holonomic robot, you can do something similar.</p>

<p>Original algorithm proposed here:
<a href="https://www.ri.cmu.edu/pub_files/pub3/coulter_r_craig_1992_1/coulter_r_craig_1992_1.pdf" rel="nofollow">Implementation of the Pure Pursuit Path Tracking Algorithm</a>. R. Craig Coulter, CMU, 1992.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9224" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-9224">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9224" class = 'collapse'>
			</div>
				<textarea id = "speech-9224" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9224">
					<img id="start_img-9224" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9224">Comment</button>
			<br><div id = "ans-9477"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9477" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's not a singular, best approach to solve your problem.  It's a qualitative problem (what's a good/viable solution?), not so much a quantitative one (how do I minimize drive time under all conditions? minimize path drift, again, under all conditions? minimize battery drain? etc).  You could turn it into a quantative problem, but that's a huge undertaking.</p>

<p>@Chuck's writeup looks great for <strong>PID</strong> usage.  PIDs are a great solution when you can characterize your environment, ie: properly tune your PID's variables.  A PID wouldn't be my choice because I like learning algorithms more.</p>

<p>So here are some other approaches and a few pros/cons.</p>

<p><strong>Kalman filtering</strong></p>

<p><strong>Pros</strong>: not only addresses your drift, but it accounts for the error in your sensors.  You should keep in mind that regardless of how good a sensor is, it's not perfect, so not all of the drift occurs because of the terrain. Plug and play code exists.</p>

<p><strong>Cons</strong>: very steep learning curve; matrix math.</p>

<p><strong>Particle filering</strong></p>

<p><strong>Pros</strong>: very simple to code and tailor to your exact surroundings. path correction is very similar to the integral portion of a PID controller.</p>

<p><strong>Cons</strong>: this addresses the error in your sensors as the main problem and the drift from the environment as a secondary problem.</p>

<p><strong>SLAM</strong> with way points</p>

<p><strong>Pros</strong>: one of the most heavily documented navigation methods</p>

<p><strong>Cons</strong>: many, many variants to choose from; requires your robot to be stateful and remember its learned states from earlier runs, otherwise this approach is overkill; you'll need to hybridize your implementation by adding known way points to your map</p>

<p>I think that neural nets would be an interesting way to adjust the robot's immediate actions.  That is, change the driving techniques to correct for slippage in mud or rain.  But, again, overkill.</p>

<p>To throw in a few more options:</p>

<ul>
<li>motion planning with potential functions (also called "gradient descent" and "vector field" calculation) </li>
<li>feed-forward / feedback reinforcement learning.</li>
</ul>

<p><a href="http://planning.cs.uiuc.edu/ch8.pdf" rel="nofollow">Here's a chapter on path planning.</a></p>

<p>I'd be interested to know what you choose to go with.</p>

<p>Good luck,
Ryan</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9477" data-toggle = "popover">
				<p>user name : Ryan Loggerythm</p>
				<p> user reputation : 265</p>
				<p class = "tagcontent" id = "usertaginfo-9477">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9477" class = 'collapse'>
			</div>
				<textarea id = "speech-9477" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9477">
					<img id="start_img-9477" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9477">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>