<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robotics advice needed
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6386" class = "post">
			<h2>Question</h2>
			<div id="vote-6386" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 59</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robotics advice needed</h2>
<p>For a high school project I will be building a robot that will draw an image on a whiteboard for you based on what instructions you give. To accomplish this a motor will move the pen on each axis similar to how a 3rd printer moves but without the Z axis. As far as code goes I'm fine but I was wondering if anyone could give me an insight on how to go about building the robot (i.e. what motors, best system for moving on axises etc) All help is appreciated thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6386" data-toggle = "popover">
				<p>user name : An Orphan</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-6386">{'None': 0, 'mechanism': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6386">Load Comments</button></br>
			<div id = "commentsection-6386" class = 'collapse'>
			<div id = "comment-9222" class = "comment">
				<p>Are you asking for help finding the terminology, or are you asking for specific suggestions on what to buy?</p>
			</div>
			<div id = "comment-9235" class = "comment">
				<p>@Ian Anything, this is the first time I've had to build the robot I am writing code for and am looking for any information I can get before I begin</p>
			</div>
			</div>
				<textarea id = "speech-6386" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6386">
					<img id="start_img-6386" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6386">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6387"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6387" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you are asking about is commonly referred to as a turtle robot.</p>

<p>See <a href="http://en.wikipedia.org/wiki/Turtle_%28robot%29" rel="nofollow noreferrer">Wiki</a></p>

<p>There are a lot of kits, and looking at them will give you some idea as to how to build. Google after reading the Wiki.</p>

<p><img src="https://i.stack.imgur.com/IIqkW.jpg" alt="enter image description here"></p>

<p>One example I have seen does it very nicely, <a href="http://www.robotnav.com/" rel="nofollow noreferrer">Robot Navigation.</a></p>

<p>The thing is to reach that level of accuracy requires a gyro and math skills that may be out of reach of High School, but it is certainly worth looking into. Many High School projects succeeded.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6387" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6387">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6387">Load Comments</button></br>
			<div id = "commentsection-6387" class = 'collapse'>
			<div id = "comment-9216" class = "comment">
				<p>This is cool but what I had in mind was more lIke a 3rd printer, which will make the math significantly easier because all I have to do is turn both motors to zero them and then it's just a challenge of accurately controlling them.</p>
			</div>
			<div id = "comment-9220" class = "comment">
				<p>:) good learning path. You will be surprised to learn they are closer to each other than you thought. Good luck. Keep asking!</p>
			</div>
			</div>
				<textarea id = "speech-6387" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6387">
					<img id="start_img-6387" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6387">Comment</button>
			<br><div id = "ans-6388"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6388" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The alternate method is to move the pen as you suggested (or the board if you have room) instead of the robot. This is called a <a href="http://www.instructables.com/id/Low-Cost-Hobby-Servo-XY-Table/" rel="nofollow">XY Table.</a></p>

<p>To do this, you would need a set of stepper motors, some sort of linear rail system for movement, and a hardware controller board.  The software will need to include acceleration and deceleration (and perhaps motion planning) to achieve smooth results. Coarse results can be achieved by simple instructions, as you mentioned. If you do not wish to write your own software, a <a href="https://www.google.com/webhp?#q=3d%20print%20control%20board" rel="nofollow">board designed for 3D printing</a> would work as is, and you would just need to learn <a href="https://code.google.com/p/dxf2gcode/" rel="nofollow">G-Code</a> to send to it. </p>

<p>Overall, I think typically the cost exceed the turtle bot approach, but the program can be simplier. Just be aware that steppers, can and do fail to step, if the mechanics bind in some way, thus precision of construction is critical.</p>

<p>An alternate of this alternate, is inverse kinematics where the pen is moved by a non XY motion.  Again, the math can be complicated, but success has been <a href="https://www.youtube.com/watch?v=G3GtdstjT7U" rel="nofollow">accomplished</a> by those younger than high school (well sorta).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6388" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6388">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6388" class = 'collapse'>
			</div>
				<textarea id = "speech-6388" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6388">
					<img id="start_img-6388" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6388">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>