<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot Loud Alarm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4498" class = "post">
			<h2>Question</h2>
			<div id="vote-4498" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot Loud Alarm</h2>
<p>We are working on a project where we want to sound an alarm if somebody is messing around with our Robot (e.g., the Robot is being shaken abruptly or the cameras/LIDARs are blocked).
I am using "loud speakers" (4.1 x 3 inch 10 Watts 8 ohm speakers), but they are not loud enough.</p>

<p>Are there any small speakers or alarm systems small enough, but loud enough (closed to a car alarm) that you would recommend? 
Ideally something that I can just plug into the robots computer, or interface with through a microcontroller. Either one would be fine.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4498" data-toggle = "popover">
				<p>user name : Pototo</p>
				<p> user reputation : 43</p>
				<p class = "tagcontent" id = "usertaginfo-4498">{'control': 0, 'stepper-driver': 1, 'None': 0, 'noise': 2, 'circuit': 0, 'arduino': 1, 'wheeled-robot': 1, 'microcontroller': 1, 'driver': 2, 'h-bridge': 0, 'current': 1, 'differential-drive': 5, 'imu': 2, 'motor': 1, 'actuator': 1, 'ros': 7, 'navigation': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4498">Load Comments</button></br>
			<div id = "commentsection-4498" class = 'collapse'>
			<div id = "comment-7095" class = "comment">
				<p>The answer to this will depend on size, power supply and required volume.  Presumably you can't just add an audio amplifier between your existing alarm generator and the speaker?</p>
			</div>
			<div id = "comment-7098" class = "comment">
				<p>Currently I have a Boss audio amplifier for the speakers. I have 4 speakers (with the specs mentioned about) and they are getting full power at 12V. We are using an overspeced 26V battery that supplies more than enough power for all devices. I want something can be heard 100-300 meters away or scare/throw someone on the ground because of the noise, yet something that I can send signals to with a computer and/or MCU. Thanks for you help.</p>
			</div>
			<div id = "comment-7099" class = "comment">
				<p>Can you explain why simply using a car alarm siren would not work for you?</p>
			</div>
			<div id = "comment-7100" class = "comment">
				<p>A car alarm siren would definitely work. Any that you recommend?</p>
			</div>
			<div id = "comment-7106" class = "comment">
				<p>If you just want to make really load noise, 
there are signal horns usually used in football stadiums with something around 135dB powered by 12V
This systems use a compressor and are not speakers anymore....
for example this one here on ebay:
[here on ebay](http://www.ebay.com/itm/Super-Loud-12v-Dual-Trumpet-Air-Horn-Compressor-Kit-Train-Car-Truck-Boat-135db-/111446506739?pt=Car_Speakers&hash=item19f2babcf3)</p>
			</div>
			</div>
				<textarea id = "speech-4498" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4498">
					<img id="start_img-4498" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4498">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4507"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4507" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you don't mind a hacky solution then opening one of <a href="http://rads.stackoverflow.com/amzn/click/B003DWH4KG" rel="nofollow">these</a> might be the best way to go. Just replace the button with a FET (or standard transistor) and be on your way. 
If you wan't a more traditional/better looking solution, then the best thing I can recommend is getting a larger speaker/amplifier. It looks like one can buy car horns, but that would probably take more wiring than necessary. 
If I were in your position, I would go with the electronic whistle. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4507" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-4507">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4507" class = 'collapse'>
			</div>
				<textarea id = "speech-4507" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4507">
					<img id="start_img-4507" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4507">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>