<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robotic cell simulation software, PLC
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5104" class = "post">
			<h2>Question</h2>
			<div id="vote-5104" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 207</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robotic cell simulation software, PLC</h2>
<p>I need to simulate robotic cell where cartesian robot trims a PCB arriving on conveyor, picks it up with vacuum cup and and places in another device. After receiving signal from device the robot would pick it up and place on another belt. I want to make the cartesian robot myself using servomotors and control cell using a PLC. Would there be software that can simulate all this? I would also need to integrate sensors and possibly machine vision.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5104" data-toggle = "popover">
				<p>user name : Eduards</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-5104">{'None': 0, 'computer-vision': 1, 'plc': 1, 'manufacturing': 1, 'simulation': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5104">Load Comments</button></br>
			<div id = "commentsection-5104" class = 'collapse'>
			<div id = "comment-11337" class = "comment">
				<p>Welcome to *robotics* Eduards, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works. I think this could be made into a practical question, but you need to ask what features you need to look for in a simulation package, rather than asking for a recommended package.</p>
			</div>
			</div>
				<textarea id = "speech-5104" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5104">
					<img id="start_img-5104" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5104">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5105"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5105" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, this is possible to do.  Check out some of these robotics <a href="https://stackoverflow.com/questions/2533321/robotics-simulator">simulators</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5105" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5105">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5105">Load Comments</button></br>
			<div id = "commentsection-5105" class = 'collapse'>
			<div id = "comment-11336" class = "comment">
				<p>You reference a rather old closed question. The reason why list questions and shopping questions are less than useful is that their information goes out of date and their recommendations are subjective. If you could point out what the questioner should look for in simulation software, then this question has the potential to have lasting value, otherwise I will have to close it as just another shopping question.</p>
			</div>
			</div>
				<textarea id = "speech-5105" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5105">
					<img id="start_img-5105" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5105">Comment</button>
			<br><div id = "ans-8177"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8177" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A simple PLC is not meant to control a robot. You will at least need OpenPLC Motion Control capabilities for the PLC to control motions. Or you can opt for a motion controller to have better control over the motions. </p>

<p>If you are thinking of writing PLC code, running on the PLC, and you want to see what happens to motors/drive amplifiers when they receive a certain output, and what happens in your cell, you could use a virtual commissioning tool for example. Those are meant to simulate the plant, connected to a real PLC, and the PLC "has no idea" that the connected systems are just simulated, not real.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8177" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8177">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8177">Load Comments</button></br>
			<div id = "commentsection-8177" class = 'collapse'>
			<div id = "comment-16468" class = "comment">
				<p>I would argue that PLCs are built *specifically* to control robots; I don't know of any other platform that allows for so many sensor and signal connections, both input and output, and in so many formats - Ethernet, CAN, analog, etc. However, I would also agree that they are *poor* platforms for processing intensive applications like computer vision. But if the robot is going to be using any kind of process planning or feedback control (PID, state feedback, etc.) then PLCs are a great platform.</p>
			</div>
			<div id = "comment-16485" class = "comment">
				<p>The question refers to a cell with a PLC and servomotors. PLCs perform well when connected to a robot controller (which handles motion control) but perform poorly in motion control applications. This disadvantage of PLCs are somewhat improved by the OpenPLC motion contorl blocks, but it is still not comparable to a motion controller.</p>
			</div>
			</div>
				<textarea id = "speech-8177" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8177">
					<img id="start_img-8177" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8177">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>