<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robotic Arm analysis in Matlab~simulink
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9569" class = "post">
			<h2>Question</h2>
			<div id="vote-9569" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 720</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robotic Arm analysis in Matlab~simulink</h2>
<p>I am going through a paper, <a href="http://cdn.intechopen.com/pdfs-wm/41413.pdf" rel="nofollow noreferrer">Kinematic Modelling and Simulation of a 2-R Robot Using SolidWorks and Verification by MATLAB/Simulink</a>, which is about a 2-link revolute joint robotic arm. According to the paper, the trajectory analysis of the robot was done via simulations in MATLAB/Simulink. </p>

<p>It shows the following picture, <em>Trajectory generation of 2 R robot with MATLAB/Simulink</em>:</p>

<p><a href="https://i.stack.imgur.com/8TWTN.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/8TWTN.png" alt="Trajectory generation of 2 R robot with MATLAB/Simulink"></a></p>

<p>and then, <em>Simulink - Simulation block to calculate the trajectory</em>:</p>

<p><a href="https://i.stack.imgur.com/ZTl5L.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZTl5L.png" alt="Simulink - Simulation block to calculate the trajectory"></a></p>

<p>I think this is done in SimMechanics, but I am not sure. Experienced users, can you please tell me what am I looking at and how can I reproduce this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9569" data-toggle = "popover">
				<p>user name : uqhi</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9569">{'None': 0, 'matlab': 0, 'robotic-arm': 0, 'simulation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9569">Load Comments</button></br>
			<div id = "commentsection-9569" class = 'collapse'>
			<div id = "comment-16937" class = "comment">
				<p>Please add a screenshot of the subsystems also...it does not look like simmechanics, just equations implemented as function blocks...</p>
			</div>
			<div id = "comment-16949" class = "comment">
				<p>I found the first image. Its implemented by using Robotic Toolbox by Peter Corke. 
The paper does not say anything about Subsystems. Does it mean that I can't implement it? You can view the paper at http://cdn.intechopen.com/pdfs-wm/41413.pdf</p>
			</div>
			<div id = "comment-16953" class = "comment">
				<p>I'm not sure if this is what you are asking but the second image is a Simulink block diagram.</p>
			</div>
			<div id = "comment-16955" class = "comment">
				<p>Ok. If I want to implement (reproduce) this Simulink block diagram, is it possible? What would i need to do?</p>
			</div>
			<div id = "comment-16956" class = "comment">
				<p>" how can I reproduce this" start from the dynamics equations. You don't have to utilize Matlab or whatever software that they used. Use any programming language that is capable of solving ODEs.</p>
			</div>
			</div>
				<textarea id = "speech-9569" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9569">
					<img id="start_img-9569" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9569">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9587"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9587" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>The paper does not say anything about Subsystems. Does it mean that I can't implement it?</p>
</blockquote>

<p>This question implies that you don't really know what a subsystem is in the context of matlab.</p>

<p>It's as if you got a new car and a friend of yours says "that's a nice yellow color" and your response would be "What does 'yellow' mean? Can it still drive?"</p>

<hr>

<p>Please take a step back and think about your approach once again.</p>

<p>This matlab/simulink code is not ment to be used as an introduction tutorial for beginners. Try to familiarize yourself with the fundamental basics of the programming platform separately.</p>

<p>Otherwise you have to solve one equation for two unknowns: What parts of the code are the way they are due to the content of the paper and what due to how matlab/simulink works?</p>

<p>From the paper you can deduce what they implemented, but if you don't know <em>how</em>, it becomes hard (and more importantly: unreliable) to deduce any further information from the code.</p>

<p>Choose tools according to the problem at hand. If using the tool becomes a problem in of itself, you can get trapped in the need-new-tool-to-solve-the-problem-of-the-previous-tool loop.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9587" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-9587">{'None': 93}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9587" class = 'collapse'>
			</div>
				<textarea id = "speech-9587" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9587">
					<img id="start_img-9587" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9587">Comment</button>
			<br><div id = "ans-9588"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9588" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like the second image is a Simulink system. That doesn't mean it's not also SimMechanics, because there are ways to interface Simulink signals to Simscape. </p>

<p>The thing that is hard (impossible) for you is that those are subsystem blocks, meaning that you can't replicate the code contained inside of them without being able to see inside. </p>

<p>The thing that's really a pain is that it <em>might</em> be stock functionality, or a couple stock blocks strung together, but you can't tell because it's been encapsulated. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9588" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9588">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9588" class = 'collapse'>
			</div>
				<textarea id = "speech-9588" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9588">
					<img id="start_img-9588" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9588">Comment</button>
			<br><div id = "ans-9601"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9601" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The paper you mentioned in the comment clearly presents on SimMechanics model, but it also presnets the necessary equation to solve the inverse kinematics problem. </p>

<p>It seems that the screenshot you have submitted calculates sine and cosine functions of the angles. This would not be necessary if simmemchanics blocks would be used in the subsystems. It seems that the simmechanics model is used to verify the correctness of the inverse kinematics. It is a very convenient way to verify and validate the results. And the correctness of the equations.</p>

<p>From the point of view of the results the two approaches, the analytic solution and the numeric solution using simmechanics have to be the same (with a given tolerance of the numerical error). </p>

<p>From a performance (calculation time) point of view, the analytical solution should be superior to any other numerical solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9601" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-9601">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9601" class = 'collapse'>
			</div>
				<textarea id = "speech-9601" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9601">
					<img id="start_img-9601" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9601">Comment</button>
			<br><div id = "ans-9635"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9635" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The first step for reproducing the results is to utilize the equations. They didn't mention which controller they used but in my simulation I chose the PD controller, therefore, </p>

<p>$$
\begin{align*}
\ddot{\theta}(t)   &amp;= M^{-1}( u - V - G) \\
              u(t)    &amp;= M ( \ddot{\theta}_{d} + k_{d} \dot{e} + k_{p} e) + V + G \\
           M &amp;=              
              \begin{bmatrix}
              m_{11} &amp; m_{12} \\
              m_{21} &amp; m_{22} 
\end{bmatrix} \\
V &amp;=              
              \begin{bmatrix}
              v_{11}  \\
              v_{21}  
\end{bmatrix} \\
G &amp;=              
              \begin{bmatrix}
              g_{11}  \\
              g_{21} 
\end{bmatrix} \\
              e(t)    &amp;= \theta - \theta_{d} \\
          \dot{e}(t)  &amp;= \dot{\theta} - \dot{\theta}_{d} \\
      \theta_{1d}(t)  &amp; = 10t^{4} + 10t^{3} + 10t^{2} \\
\dot{\theta}_{1d}(t)  &amp; = 40t^{3} + 30t^{2} + 20t \\
\ddot{\theta}_{1d}(t) &amp; = 120t^{3} + 60t^{2} + 20t \\
             \theta_{2d}(t) &amp;= 50t^{4} + 10t^{3}  \\
         \dot{\theta}_{2d}(t) &amp;= 200t^{3} + 30t^{2}  \\
         \ddot{\theta}_{2d}(t) &amp;= 600t^{2} + 60t  \\
\end{align*}
$$</p>

<p>where $k_{d} = 20, k_{p} = 100, m_{1} = m_{2} = 16.92, l_{1} = l_{2} = 1$. The results I got for the elbow down case via C++ code are </p>

<pre><code>t     theta1  theta2 px        py
-----------------------------------------
0     0       0      2         0
0.1   0.111   0.015  2         0.00349066
0.2   0.496   0.160  1.99992   0.0177943
0.3   1.251   0.675  1.9993    0.0518948
0.4   2.496   1.920  1.99642   0.115588
0.5   4.375   4.375  1.98633   0.221951
0.6   7.056   8.640  1.95706   0.385653
0.7  10.731  15.435  1.88376   0.618508
0.8  15.616  25.6    1.7218    0.919393
0.9  21.951  40.095  1.40621   1.25027
1.0  30.0    60      0.878878  1.49793
</code></pre>

<p>They are very close to the results stated in the paper. Visualizing the movement of the manipulator is not big deal. As a matter of fact, people care much about the results not the visualization. This is can be done by OpenGL as well. No one cares about the software you are using. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9635" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-9635">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9635" class = 'collapse'>
			</div>
				<textarea id = "speech-9635" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9635">
					<img id="start_img-9635" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9635">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>