<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot kit suggestions
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2822" class = "post">
			<h2>Question</h2>
			<div id="vote-2822" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 83</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot kit suggestions</h2>
<p>I want to develop a toy project that will allow me to move object around the house. Because I am interested in the programming of the robot and not actually build it, I would like to use some sort of programmable "starter kits" (like lego mindstorm) to get started. While I do not have everything figured out yet, here is a list of specs that I expect my ideal kit should have: </p>

<ul>
<li>The ability to lift object (Object as big as 4'' or 10 centimeters)</li>
<li>The ability to distinguish objects by their colors. It should have some stort of color sensors.</li>
<li>Obviously it should be able to move on a smooth surface.</li>
<li>Obstacle detection. Should have sensors for obstacle detection</li>
<li>Extra: Maybe remotely controllable.
Can someone please suggests the cheapest kit I should use for this? 
Thanks</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-2822" data-toggle = "popover">
				<p>user name : Dillion Ecmark</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2822">{'mobile-robot': 1, 'None': 0, 'kit': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2822">Load Comments</button></br>
			<div id = "commentsection-2822" class = 'collapse'>
			<div id = "comment-5219" class = "comment">
				<p>There are spider robots equipped with small grippers that can be the cheapest choices. They have simple cameras, or sonars as well.</p>
			</div>
			<div id = "comment-5233" class = "comment">
				<p>Can you give me the link to these robots?</p>
			</div>
			<div id = "comment-5234" class = "comment">
				<p>you just need to google, spider, hexapod, ...! an example that I am aware of is this one: http://pages.isir.upmc.fr/~mouret/website/resilient.xhtml</p>
			</div>
			<div id = "comment-5235" class = "comment">
				<p>or check this one: http://www.belhabib.com/2013/06/01/charlotte-the-robot-talks-its-way-around-obstacles/</p>
			</div>
			<div id = "comment-5257" class = "comment">
				<p>Welcome to *robotics* Nirupama, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-2822" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2822">
					<img id="start_img-2822" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2822">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2839"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2839" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a couple ways you could do this.  I'm gonna put down my recommendations in order of what I'd most recommend to least.</p>

<ol>
<li>Mindstorms NXT flashed with Lejos for java.  You can follow simple instructions to build anything with these kits and then program them in java.  They have Bluetooth built in for simple remote control and no wiring necesary for tons of sensors. Plus, an NXT kit will cost you only $200 on ebay for near infinite possibilities.  </li>
<li>Work with a simple material to build a very basic robot chassis.  My reccomendation would just be to buy a sheet of precut lexan and drill 8 holes for cheap motor mounts.  Boom, robot chassis.  Add an arduino with bluetooth shield, couple of motors and controllers and you're ready to go.  You would have infinite expansion opportunities, for example you could add any type of linear actuator you liked with minimal fuss.  Trust me, even if you think you're a software guy it's important to know a little about hardware.  Add a claw such as <a href="https://www.sparkfun.com/products/11524" rel="nofollow">this</a>, and you have a high powered solution for 1/2 the cost of a kit.</li>
<li>If you really do need a kit, I'd recommend going with the Rover 5 from <a href="https://www.sparkfun.com/products/10336" rel="nofollow">
Sparkfun</a>.  Add an arduino with bluetooth, a couple of sensors and a linear actuator and you're good to go.</li>
</ol>

<p>All in all, there are many ways to get into robotics from a software perspective.  You may also be interested in software such as RobotC Virtual Worlds, which is essentially a robot simulator you program in C.  If you are feeling adventurous go with #2.   A kit such as the rover 5 would take you 10 minutes to build from scratch with just a drill and be so much more rewarding.  And if you need any help, you know where to ask. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2839" data-toggle = "popover">
				<p>user name : nanogru</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-2839">{'gps': 3, 'None': 10, 'localization': 3, 'sensors': 3, 'arduino': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2839">Load Comments</button></br>
			<div id = "commentsection-2839" class = 'collapse'>
			<div id = "comment-5240" class = "comment">
				<p>Thanks. I wish I could up vote your answer.... But I do not have the required reputation</p>
			</div>
			<div id = "comment-5244" class = "comment">
				<p>You can accept it as an answer by pressing the green check.</p>
			</div>
			</div>
				<textarea id = "speech-2839" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2839">
					<img id="start_img-2839" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2839">Comment</button>
			<br><div id = "ans-2842"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2842" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found this treasure chest at the <a href="http://www.hobbyking.com/hobbyking/store/__702__689__Robotics_DIY-Robotics_Kits.html" rel="nofollow">Hobbyking</a> website today.
They feature Arduino based robot kits from 43 up to 150 USD.</p>

<p>A simple Arduino board is great for small robots, due to a low power consumption and thus smaller batteries and larger autonomy compared to other options.</p>

<p>Of course, having something like a Raspberry Pi with an operating system, access to standard frameworks and libraries (for computer vision etc.) mounted on your robot can be a huge asset, depending on what direction you would like to take with your project.</p>

<p>In either case, the above kits seem like a great start!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2842" data-toggle = "popover">
				<p>user name : means-to-meaning</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-2842">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2842" class = 'collapse'>
			</div>
				<textarea id = "speech-2842" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2842">
					<img id="start_img-2842" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2842">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>