<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot never goes straight
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9001" class = "post">
			<h2>Question</h2>
			<div id="vote-9001" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3278</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot never goes straight</h2>
<p>I am using <strong>2 identical</strong> DC motors and a castor wheel. The motors are connected to <strong>L293D motor driver</strong> and are controlled by <strong>RPi</strong>. </p>

<p>The robot is not going straight. It veers off to the right. I am running both the motors at <strong>100% PWM</strong>.</p>

<p>What I tried to correct the error:</p>

<ol>
<li>I adjusted the PWM of the wheel going faster to <strong>99%</strong>, but the robot just turns to the other side; </li>
<li>I adjusted the weight on the robot and the problem still persists.</li>
</ol>

<p>I once tried to run the motor without any load. Is that the cause of this, as I was later told that, running a DC motor without any load damages them?</p>

<p>If that is not the cause, then please tell me how to solve this problem without using any <strong>sensors</strong> for controlling it. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9001" data-toggle = "popover">
				<p>user name : selfie side</p>
				<p> user reputation : 83</p>
				<p class = "tagcontent" id = "usertaginfo-9001">{'control': 15, 'None': 0, 'wheeled-robot': 15, 'raspberry-pi': 15, 'motor': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9001">Load Comments</button></br>
			<div id = "commentsection-9001" class = 'collapse'>
			<div id = "comment-14824" class = "comment">
				<p>In a differential drive configuration which I image is what you use, this is very likely to happen. A small difference between the two motor will cause the robot to rotate.</p>
			</div>
			<div id = "comment-14825" class = "comment">
				<p>Welcome to open loop control. You need sensors of your own (your eyes) to detect the problem yourself, how do you think will the robot be able to detect it without additional sensors? Closing the control loop with sensors is the way to go.</p>
			</div>
			<div id = "comment-14837" class = "comment">
				<p>Stepper motors might work if you want to avoid sensors.</p>
			</div>
			<div id = "comment-14845" class = "comment">
				<p>@bdares - If there are no sensors, how does the robot know when to course correct? If one wheel hits an area of low friction (dust, for example) and slips, the robot turns and will never correct.</p>
			</div>
			<div id = "comment-14846" class = "comment">
				<p>When you say no sensors, could this mean no external sensing or are you also excluding encoders on the wheels? because that is the typical solution to this problem.</p>
			</div>
			<div id = "comment-20763" class = "comment">
				<p>The environment has a major effect. And since it is impossible to have a fully isolated place, it would be impossible to go 100% straight.</p>
			</div>
			<div id = "comment-20995" class = "comment">
				<p>my elegoo robot car runs straight on full power. with analogWrite(ENA,ABS);
analogWrite(ENB,ABS);
it will never goes straight. but with digitalWrite(ENA,HIGH); digitalWrite(ENB,HIGH); it goes straight. so why?</p>
			</div>
			</div>
				<textarea id = "speech-9001" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9001">
					<img id="start_img-9001" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9001">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9002"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9002" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, if the problem does not lie in differences in hardware nor software for each wheel, then it is probably a problem with natural imperfections in either the way you built the robot or the way the motors were produced. The connections might not be solid or the RPI might not be outputting the same current. You probably want to be using speed controllers. Try that first. </p>

<p>If that doesn't work, your manufacturer probably didn't make identical motors and you'll probably just have to calibrate the motors. It might mean scaling the value of the stronger motor so 100% power to the strong motor matches the weak one. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9002" data-toggle = "popover">
				<p>user name : artiespeedy</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-9002">{'None': 0, 'slam': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9002">Load Comments</button></br>
			<div id = "commentsection-9002" class = 'collapse'>
			<div id = "comment-14828" class = "comment">
				<p>Using identical motor controllers will not solve the issue at hand.  The issue lies at the core of robotics, which is "how do I correct the error?"</p>
			</div>
			<div id = "comment-15162" class = "comment">
				<p>I've heard that DC motors can run slightly slower backwards as forwards. Also, any imbalance in the weight might cause some shifting to a side. Not to mention other things like friction etc.
Doing anything "identical" won't work. Steppers might do a little better, but then you shouldn't drive too fast or anything...</p>
			</div>
			</div>
				<textarea id = "speech-9002" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9002">
					<img id="start_img-9002" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9002">Comment</button>
			<br><div id = "ans-9006"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9006" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">28</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm posting this as an answer because it is <em>the</em> answer. </p>

<p>You can't. </p>

<p>As @BendingUnit22 mentions, you are attempting "open loop" control. Noise and variations will mean that your robot will <strong>never</strong> drive a perfectly straight line. </p>

<p>The motors could have different winding resistances (different drive currents/torque), the wheels could be different sizes, the wheels could have different traction characteristics, the caster bearing could be "stiff", the caster might not be perfectly straight when the vehicle starts, the floor might have varying surface friction characteristics (read: dust or carpet) - the list goes on and on. </p>

<p>The <em>only</em> way to account for the things outside your control (what I mention above + more) is to use feedback sensors.</p>

<p>You can try to get <em>better</em> open-loop performance by correcting the problems I listed, but there are even more and you simply can't control everything. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9006" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9006">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9006">Load Comments</button></br>
			<div id = "commentsection-9006" class = 'collapse'>
			<div id = "comment-14827" class = "comment">
				<p>Exactly!  The issue lies in the statement "I am using 2 identical DC motors".  They're never perfectly identical, and as @Chuck mentions, there's a whole host of other considerations.  The only thing certain in robotics is that error and noise will come up.</p>
			</div>
			<div id = "comment-14839" class = "comment">
				<p>Using two wheels on the same axis should still yield much better results than just using two of the same motor, shouldn't it?</p>
			</div>
			<div id = "comment-14841" class = "comment">
				<p>@JanDvorak - I'm not entirely sure what you mean when you say, "Two wheels on the same axis," but I believe it is understood/implied that the two wheels are on the same geometric axis. If you mean the same control axis (as in one motor) or *axle* (again implying one motor), then I would point out that it's not possible to perform differential drive steering with a locked axle. For one motor to control both wheels to different speeds requires a differential (and other equipment), and the differential effectively breaks the axle into two pieces and you're back at square one.</p>
			</div>
			<div id = "comment-14842" class = "comment">
				<p>I did mean one axle, sorry. I did not know there was a requirement to be able to go not straight?</p>
			</div>
			<div id = "comment-14843" class = "comment">
				<p>@JanDvorak - I believe OP's robot is a micromouse-style vehicle. Even if it only had to go straight, and used one axle, all of the other sources of error still apply. If one wheel is 0.1% larger in diameter than the other then it will  travel a path length that is 0.1% farther than the smaller tire *per revolution*. Say, for example, the nominal wheel size is 10cm and the wheel spacing is 10cm. The larger tire is 10.01cm and travels 0.0314cm farther *per revolution*. For the wheel base, the robot turn 0.12 degrees *per wheel revolution*. 0.01cm could easily be from dust on one tire.</p>
			</div>
			<div id = "comment-14849" class = "comment">
				<p>@Chuck could you please explain how you got the 0.12 degrees per rotation? It seems to me more like 0.18 degrees.</p>
			</div>
			<div id = "comment-14851" class = "comment">
				<p>@magma - the distance between the wheels (hypotenuse) is 15cm, and one wheel is 0.0314cm "above" level (if you drew it like a triangle). The angle the robot must have turned to achieve this is asin(0.0314/15), which is approximately (small angle approximation) 0.00209 radians. Multiply by (180/3.1415) to get 0.12 degrees. Note that the small angle approximation followed by rad to deg conversion is (0.0314/15)(180/3.14), which is equivalent to 1.8/15, or 0.12.</p>
			</div>
			<div id = "comment-14871" class = "comment">
				<p>Yes @Chuck, but you wrote 2 comments above that the distance between the wheels is 10 cm , not 15 cm as you write now. That' why I got 0.18 degrees, following your original description. Do you see your typo?</p>
			</div>
			<div id = "comment-14874" class = "comment">
				<p>@magma - yes, but I can't edit that post as it's a comment. I'll just leave it rather than deleting it; my point is that there *is* rotation, even from a seemingly insignificant difference in wheel diameter. Thanks for pointing out the typo, though :)</p>
			</div>
			<div id = "comment-14875" class = "comment">
				<p>No problem @Chuck.</p>
			</div>
			</div>
				<textarea id = "speech-9006" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9006">
					<img id="start_img-9006" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9006">Comment</button>
			<br><div id = "ans-9008"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9008" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since the open-closed loop issue is already mentioned, I will give a comment to the "I once tried to run a dc-motor without a load". <br>
Yes you might damage your motor with this but you can also damage or destroy your motor with a load. The destruction is coming from the current and the resulting temperature. If there is no smoke and some obvious smell coming from the motor it is most likely not damaged. From my experience I can tell that hobby-scale dc-motors will start to degrade at temperatures way over 100 C. And you will definetly notice such temperatures </p>

<p><strong>EDIT:</strong>
<br>
I did think about this again and I might got an idea which your collegue might have been talking about. There are a special kind of AC-Motor. These are non-excited synchronous motors. Basically they are build for self destruction. If you power them up, they will start accelerating until they disassemble themselves. But if you place a heavy load on them, they can't reach this state, just because of the huge moment they have to apply to the load. So you can use them for reasonable purposes. Anyway you definetly do not of a motor like this in your application.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9008" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-9008">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9008">Load Comments</button></br>
			<div id = "commentsection-9008" class = 'collapse'>
			<div id = "comment-14829" class = "comment">
				<p>I think too that, especially with hobby motors, by the time you heat it up enough to notice it's hot or smells funny you've probably already burnt the insulation off the windings. Like a lot of electric equipment, it either works fine or it's broken. There aren't a lot of in-between cases.</p>
			</div>
			<div id = "comment-14858" class = "comment">
				<p>There was no such smoke or any visible damage. So maybe it is not damaged as I ran it for less than half a minute.</p>
			</div>
			</div>
				<textarea id = "speech-9008" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9008">
					<img id="start_img-9008" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9008">Comment</button>
			<br><div id = "ans-9016"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9016" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you are describing is called open loop control, and to do this you need two motors which are exactly the same, two wheels exactly the same, the robot center of gravity to be in the center between the wheels, a perfect symmetrical electrical circuit, and finally a perfect uniform level surface to run on.</p>

<p>To accomplish this you typically order tens or hundreds of each part, and then perform significant testing to find two motors that are the closest match to each other in terms of power and speed vs voltage and PWM. Do the same for the wheels, the motor controllers and other parts.</p>

<p>This process is called binning - after these tests you sort them according to their capability or characteristics.  It's considered much more expensive in both time and resources to do properly than changing to a closed loop model, and doesn't even account for poor ground conditions.</p>

<p>It is, however, one way to achieve your requirements without additional sensors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9016" data-toggle = "popover">
				<p>user name : Adam Davis</p>
				<p> user reputation : 211</p>
				<p class = "tagcontent" id = "usertaginfo-9016">{'None': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9016" class = 'collapse'>
			</div>
				<textarea id = "speech-9016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9016">
					<img id="start_img-9016" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9016">Comment</button>
			<br><div id = "ans-9018"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9018" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Though it will never be perfect, there may be a simple way to get it to go more straight.</p>

<p>If at 100%-100% the car always turns left, and at 100%-99% the car always turns right, you should be able to improve on that by trying values in between.</p>

<p>Start with 100%-99.5% and continue with 100%-99.75% or 100%-99.25% depending on the outcome. This should soon converge to a situation where you will go straight 'on average'.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9018" data-toggle = "popover">
				<p>user name : Dennis</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-9018">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9018" class = 'collapse'>
			</div>
				<textarea id = "speech-9018" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9018">
					<img id="start_img-9018" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9018">Comment</button>
			<br><div id = "ans-11794"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11794" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Wheels with dc motors should b on front. And coster wheel at back. Then it will move straight only in forward direction</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11794" data-toggle = "popover">
				<p>user name : Arslan</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11794">{'None': -2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11794">Load Comments</button></br>
			<div id = "commentsection-11794" class = 'collapse'>
			<div id = "comment-21011" class = "comment">
				<p>Welcome to *Robotics* Arslan. On Stack Exchange we are are looking for comprehensive answers that provide some explanation and context. Very short answers cannot do this, so please edit your answer to explain why it is right, ideally with citations. Answers that don't include explanations may be removed.</p>
			</div>
			</div>
				<textarea id = "speech-11794" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11794">
					<img id="start_img-11794" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11794">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>