<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Robot start-up movement problems
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2747" class = "post">
			<h2>Question</h2>
			<div id="vote-2747" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 162</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Robot start-up movement problems</h2>
<p>I have created robot using a robot <a href="http://www.hobbyking.com/hobbyking/store/__44606__DG012_ATV_4WD_ATV_Multi_Chassis_Kit_with_Four_Rubber_Tyres.html" rel="nofollow noreferrer">chassis kit</a> from hobbyking. At first when testing the robot connected to USB power source and the wheels lifted above the ground everything seemed to be OK. Then, when I tried to power the robot with batteries I encountered a problem with starting the movement.</p>

<p>The robot hardly starts to move even when I power it with 100% of power - sometimes I have to push it a little bit in order to start driving.</p>

<p>As a newbie I don't know whether it is a power source (battery) or motors problem.</p>

<ul>
<li>There are 4 motors with torque of 800gf.cm min in the chassis. </li>
<li>The gear ratio is 48:1 and to power the motors </li>
<li>I used two serially connected Li-ion batteries and dc-dc regulator which limits the voltage output to 5V. </li>
<li>The power is regulated with dual H-bridge motor driver. </li>
</ul>

<p>According to specifications, the maximum free running current for a single motor is 250mA and I have read that the stall current is 3-8x running current.</p>

<p>Anyway, the problem is that the robot has problems with starting-up driving and I don't know how whether the motors are even powerful enough to move the robot or it is a power source problem or perhaps the obstacle could be solved with appropriate power regulation (ramp). </p>

<p>How can I solve this problem?</p>

<p><a href="https://i.stack.imgur.com/1Mgjy.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/1Mgjym.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2747" data-toggle = "popover">
				<p>user name : Niko Gamulin</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-2747">{'battery': 1, 'None': 0, 'motor': 1, 'movement': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2747">Load Comments</button></br>
			<div id = "commentsection-2747" class = 'collapse'>
			<div id = "comment-5116" class = "comment">
				<p>What is the current rating of your dc-dc regulator?</p>
			</div>
			<div id = "comment-5121" class = "comment">
				<p>What happens if you hold it in the air?  Does everything appear to start smoothly?  Put a voltmeter on the motor terminals (I'm assuming they are brushed motors), what voltage do you measure?</p>
			</div>
			<div id = "comment-5220" class = "comment">
				<p>the batteries are not powerful enough.</p>
			</div>
			</div>
				<textarea id = "speech-2747" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2747">
					<img id="start_img-2747" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2747">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2978"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2978" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Try running the motors in free-load condition (holding in air). If motor runs then, most likely they are not able to carry the load or the battery is dying. Try replacing the battery &amp; see if that works well. Here in all, I am assuming that you boards are working well &amp; enough power is reaching the output pins of the board (or input of motor).</p>

<p>Anyways, its difficult to run metal geared motors at 5V. What are the motor specifications?</p>

<p>Just to test, see if you can disconnect any 2 motors (either front or back) &amp; see if the bot moves. This may give you some hints.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2978" data-toggle = "popover">
				<p>user name : Ram-BO</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2978">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2978" class = 'collapse'>
			</div>
				<textarea id = "speech-2978" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2978">
					<img id="start_img-2978" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2978">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>