<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Rocker bogie suspension stability
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2032" class = "post">
			<h2>Question</h2>
			<div id="vote-2032" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 519</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Rocker bogie suspension stability</h2>
<p>From the designs usually shown of rocker bogie systems, the whole weight of platform seems to be supported by only one rod, be it differential bar or gear. Isn't this a bit unstable system because if we have arms of rover at one end we will have a high torque about that rod?</p>

<p>Is my understanding such rocker bogie systems correct? If so, are there any solutions to this problem which don't sacrificing the functionality of rover?</p>

<p>To clarify, I want to know how rovers like curiosity are designed so as to balance such a heavy platform with a differential bar mechanism. I am trying to make a small rocker bogie myself and I want to avoid this anticipated problem.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2032" data-toggle = "popover">
				<p>user name : Shivam</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2032">{'mobile-robot': 2, 'None': 0, 'design': 2, 'wheeled-robot': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2032">Load Comments</button></br>
			<div id = "commentsection-2032" class = 'collapse'>
			<div id = "comment-4090" class = "comment">
				<p>Hi Shivam, and welcome to *Robotics.SE*.  Your question is a little vague; what do you mean by "better design"?  What are your criteria?  Is there a practical problem that you're attempting to solve?</p>
			</div>
			<div id = "comment-4097" class = "comment">
				<p>i want to ask how rovers like curiosity modify the design so as to balance so much heavy platform in differential bar mechanism. i am trying to make a small rocker bogie myself and i am thinking about this problem.</p>
			</div>
			<div id = "comment-4703" class = "comment">
				<p>Welcome to *Robotics* Shivam. I have edited your question to make it less like an [Unbounded Design Question](http://meta.robotics.stackexchange.com/a/195/37) and focus on the problem you anticipated having.</p>
			</div>
			</div>
				<textarea id = "speech-2032" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2032">
					<img id="start_img-2032" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2032">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2420"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2420" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This should only be a problem if you anticipate that the weight would be shifting <em>within</em> the robot.  </p>

<p>You're correct that the weight of the rover will be borne by the single contact points on each side, so any imbalance about that rod will become stress on the differential mechanism.  However, in the initial design of the vehicle you should be placing the contact points of the suspension system in line with the vehicle body's center of mass.  You could also add weight to certain parts of the vehicle to achieve this balance.</p>

<p>In cases where you really do want to change the weight distribution in the vehicle (e.g. picking up an object with a gripper arm), you have 2 choices: either make the suspension strong enough to handle the torque you'll be putting on it, or introduce a system that can adjust the balancing point -- a movable ballast.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2420" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2420">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2420" class = 'collapse'>
			</div>
				<textarea id = "speech-2420" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2420">
					<img id="start_img-2420" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2420">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>