<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Role of Neuromorphic Computing and Quantum Computing in the field of Robotics and AI
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2812" class = "post">
			<h2>Question</h2>
			<div id="vote-2812" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 404</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Role of Neuromorphic Computing and Quantum Computing in the field of Robotics and AI</h2>
<p>I asked a similar kind of question some time ago (<a href="https://robotics.stackexchange.com/questions/2526/neuromorphic-engineering-and-robotics">Neuromorphic Engineering and Robotics</a>)</p>

<p>Since then, many things have come to the point of revelation. A <a href="http://journal.frontiersin.org/Journal/10.3389/fnins.2013.00118/full" rel="nofollow noreferrer">road-map for neuromorphic computing</a> was revealed recently; It proposes the analog way of computation, to solve advanced computer vision problems. IBM and Qualcomm are also working on the similar project though on the digital side. Memristor technology is slated to come very soon.</p>

<p>The question I am asking here is <strong>How is the Robotics community working to adopt the technology?</strong> This question opens the domain for other pressing questions which have been answered cryptically since the 1980s.</p>

<p>Are neuromorphic computers good for <em>mission critical precise robots</em>, like that on Mars? Can we use neuromorphic systems on <em>Avionics systems</em>? How is neuromorphic processing going to help us solve the problems on NLP, and knowledge processing? <em>Aren't quantum computers very similar to neuromorphic computers in ideology?</em> If neuromorphic robots gain traction, will digital hardware still be required?</p>

<p>It would be really nice if someone could explain all points, because answers in various but sparsely related research papers are very cryptic.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2812" data-toggle = "popover">
				<p>user name : xsnk</p>
				<p> user reputation : 60</p>
				<p class = "tagcontent" id = "usertaginfo-2812">{'control': 2, 'None': 0, 'computer-vision': 5, 'beginner': 3, 'artificial-intelligence': 6, 'microcontroller': 5, 'embedded-systems': 5, 'programming-languages': 3, 'machine-learning': 6, 'mobile-robot': 1, 'electronics': 2, 'research': 6, 'software': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2812">Load Comments</button></br>
			<div id = "commentsection-2812" class = 'collapse'>
			<div id = "comment-5263" class = "comment">
				<p>Just as an aside, one of the 13 subprojects that make up the  1Bn, 10-year [Human Brain Project](http://humanbrainproject.eu) is dedicated to developing [neuromorphic computing platforms](https://www.humanbrainproject.eu/neuromorphic-computing-platform). So watch this space!</p>
			</div>
			</div>
				<textarea id = "speech-2812" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2812">
					<img id="start_img-2812" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2812">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2821"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2821" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You've asked more than one question, so I'll try to answer them in order.</p>

<ol>
<li><p>The Robotics community has not yet hit the limits of current hardware, so very little work is being done on the exotic cutting edge like neuromorphic hardware. The exception to this is software neural nets, which have come in and out of fashion for decades, and the  Nv artificial neurons used successfully in BEAM robotics.</p></li>
<li><p>No. Neuromorphic systems are not ideal for precision. Most probes are remote-controlled, not Artificially Intelligent. </p></li>
<li><p>To some extent. A bird's brain could not be built in neuromorphic form, and then used to fly a fighter jet, as the control actuators and senses are completely different. If the algorithms for good flight are properly understood, they could be implemented on digital hardware more easily than trying to wire up a neuromorphic chip. </p></li>
<li><p>Its not. The hope was that if we could throw enough neurons at the problem , and put them in a learning circuit, then we would not have to understand NLP and similar problems, because the machine would magically solve them for us. But while that might work for a demo - look up Perceptrons, for instance - it does not get us any closer to the algorithms we need.</p></li>
<li><p>Not at all. Neuromorphic mimics the neural structures in living creatures. Quantum computers specialize in simultaneously parallel computing.</p></li>
<li><p>Most likely. Digital systems work very well for measurement and calculation. Consider how microcontrollers are often easier to understand, debug and use than operational amplifiers, for many control systems.</p></li>
</ol>

<p>I am afraid that this is largely an opinion-based answer, as the questions were very general, and contained enough scope for an entire course.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2821" data-toggle = "popover">
				<p>user name : Mhz4.77</p>
				<p> user reputation : 475</p>
				<p class = "tagcontent" id = "usertaginfo-2821">{'None': 30}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2821">Load Comments</button></br>
			<div id = "commentsection-2821" class = 'collapse'>
			<div id = "comment-5212" class = "comment">
				<p>Really nice answers :) But for the 5th one, is not the brain inherently parallel architecture (http://cogsci.stackexchange.com/questions/1946/difference-between-parallel-processing-done-by-human-brain-and-by-computers)? Also, analog computations show multiple states. Quantum computers also show multiple states? Thanks</p>
			</div>
			<div id = "comment-5214" class = "comment">
				<p>Not parallel in the same sense. A CPU can have a lot of internal circuits active at once without processing in parallel. Same with the brain. A quantum computers advantage is that it can discover all solutions to certain questions at the same time. No analog computation exhibits multiple states simultaneously except quantum...that is what makes it quantum.</p>
			</div>
			</div>
				<textarea id = "speech-2821" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2821">
					<img id="start_img-2821" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2821">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>