<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Roller Screw drive - axial movement instead of friction
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1815" class = "post">
			<h2>Question</h2>
			<div id="vote-1815" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 446</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Roller Screw drive - axial movement instead of friction</h2>
<p>I need an equation or a some hints to solve the following problem.</p>

<p>Imagine a <a href="http://en.wikipedia.org/wiki/Roller_screw" rel="nofollow noreferrer">roller screw</a> drive. I apply a torque of <code>T</code> to translative move my load mass <code>M</code>. I assume my screw has an efficiency of 90%. Now an additional axial force affects my mass in the opposite moving direction. Is this force completely transformed into torque (of course considering the efficiency) or is it possible, that my whole roller screw is moving, because it is not fixed? I just found papers/books/articles for movable slides/loads, but fixed shafts. But in my case motor and shaft are part of an osciallation system.</p>

<p>I'm not a mechanical engineer, so I'm sorry if the answer may is trivial.</p>

<p>I made a little sketch now <img src="https://i.stack.imgur.com/70UmY.jpg" alt="enter image description here"></p>

<p>The process force <code>Fp</code> is pushing my mass, most of the force is transformed into a load torque <code>Tp</code> which acts against my drive torque <code>TD</code>. Some of the energy is lost by friction. The question is, if there is also a partial force <code>Tp?</code> which is affecting the bearing and therefore exciting my chassis.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1815" data-toggle = "popover">
				<p>user name : thewaywewalk</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-1815">{'None': 0, 'torque': 6, 'differential-drive': 6, 'movement': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1815">Load Comments</button></br>
			<div id = "commentsection-1815" class = 'collapse'>
			<div id = "comment-3751" class = "comment">
				<p>What do you mean "because it is not fixed?"  The roller screw drive should affect the motion between two rigid assemblies, and will be affected by any forces between those two assemblies.  If neither of those assemblies is nailed down to the ground, then the motion gets more complex.  Which gets back to -- what do you mean by "because it is not fixed?"</p>
			</div>
			<div id = "comment-3752" class = "comment">
				<p>exactly that, neither of the two is "nailed" to the ground. The shaft is mounted to a bearing, which itself is part of an oscillating system. And I need to model this complex motion. The question is whether also a translative force is affecting the bearing or if the losses are completely consisting of friction.</p>
			</div>
			<div id = "comment-3756" class = "comment">
				<p>Oi.  Now there's not enough information.  But to get back to basics: if the ball screw (roller screw -- whatever) is exerting axial force or has force exerted on it, then that force will show up as torque.  Note this isn't the same as a plain old jack screw drive -- in that case, when you try to back drive it, the force will be lost to friction in the nut.</p>
			</div>
			<div id = "comment-3757" class = "comment">
				<p>I'm having trouble figuring out exactly what you are asking. A diagram, screenshot, or pictures of the setup would help in understanding your problem.</p>
			</div>
			<div id = "comment-3761" class = "comment">
				<p>okay I added a sketch (I was logged out, don't be confused) - I hope my question is clearer now.</p>
			</div>
			<div id = "comment-3762" class = "comment">
				<p>Is F  (the process force that is shown as lifting the mass) also ground-relative?  Is the roller screw's height fixed, relative to the frame and motor, but can vary relative to ground as the frame moves up or down?</p>
			</div>
			<div id = "comment-3763" class = "comment">
				<p>When you use the right kind of bearings and mount them properly (e.g. see here: http://www.hiwin.com/pdf/bs/ballscrews.pdf ) your screw isn't going to move much when you apply a force.  The load is taken by the bearing (and thus obviously also transmitted through your chassis)... (+ what Tim said about backdriving/friction and if it's a servo it will also fight any backdriving)...</p>
			</div>
			<div id = "comment-3764" class = "comment">
				<p>Also Newton's third law applies.  So the answer to your question is basically that in a properly designed screw system there will be forces acting on your chassis at the bearing.  The servo motor shaft shouldn't see any forces along your Fp direction it's all taken by the bearing.</p>
			</div>
			<div id = "comment-3765" class = "comment">
				<p>The force is actually not ground related, but for my posted simplified example it is. The roller screw's height is fixed related to rotor and chassis by the bearing, but the whole system can oscillate up and down. And I need to know if the whole system is oscillating (obviously it is) caused by the force `Fp` and how.</p>
			</div>
			<div id = "comment-3766" class = "comment">
				<p>I had a long talk with a colleague today, he says, that the full force `Fp` is affecting the bearing. But we weren't sure, whether the screw is self-inhibiting or not, but that would make a huge difference right? Actually a document which shows me the complete force and torque balance of screw would already help me a lot. And if this document would also explain the differences between self-inhibited to uninhibited - perfect! Already thank you to everybody participating!</p>
			</div>
			</div>
				<textarea id = "speech-1815" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1815">
					<img id="start_img-1815" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1815">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1833"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1833" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>OK.  <strong>as drawn</strong>, ignoring mass and accelerations, the force $F_p$ will appear as a torque on your ball screw.</p>

<p><strong>However</strong>, the total force on the ball screw, and hence the torque, depends on the mass of the thing you're moving with the ball screw interacting with gravity (if it's being moved in anything other than a horizontal plane), and on whether or not the whole assembly -- frame and load -- is moving at anything other than a steady velocity.</p>

<p>On a bad day, your mass-spring-damper system will have an overall resonance that interacts with your control system, making oscillations happen where you never expected them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1833" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1833">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1833">Load Comments</button></br>
			<div id = "commentsection-1833" class = 'collapse'>
			<div id = "comment-3767" class = "comment">
				<p>I'm not worried about resonances and I'm aware that there will be no steady speed of my frame. I tried to minimize my problem to a simple case, but actually there are other oscillating parts. And the (oscillating) distance between my mass and the "ground" is quite important, even if it's just some millimeters. At the beginning I thought there is a more trivial answer to my question, thats why I posted it here. I think I'm going to ask some experts at the university, the communication than is maybe easier. Thanks anyway!</p>
			</div>
			<div id = "comment-3771" class = "comment">
				<p>I understood it now, to honor your effort I edited your answer to be satisfactory and I'll accept it. Finally it was quite trivial, but I haven't seen the point before.</p>
			</div>
			<div id = "comment-3780" class = "comment">
				<p>Further comments from @thewaywewalk:
The point where you get stuck, is that torque is a form of energy while force is a potential. Applying Newton's third law, as suggested, $F_p$ is affecting the bearing with 100% - but $F_p$ is also moving the the mass/screw by $x$ and therefore introducing the energy $F_p \cdot x$, which is transformed into the torque $T_p$ ~ $F_p \cdot x$, which finally brakes the motor.</p>
			</div>
			<div id = "comment-3788" class = "comment">
				<p>@Ian: Huh?  Torque happens to have the same units as energy, but it essentially just force in rotation.  Just as force must be exerted over some distance to transfer energy, torque must be exerted over some angular displacement to transfer energy.  The only difference is that the angular displacement involved is in radians, which is a dimensionless quantity, which is why torque has the same dimensions as energy.  But exerting one foot-pound of torque on a stationary shaft for a whole year won't lift a pound of rocks any distance at all.</p>
			</div>
			<div id = "comment-3789" class = "comment">
				<p>TimWescott: that text was what @thewaywewalk [appended onto your answer](http://robotics.stackexchange.com/revisions/1833/2).  As this was not an appropriate edit, I [reverted the changes](http://robotics.stackexchange.com/revisions/1833/3) and moved it to a comment.  I take no responsibility for the (in)accuracy of the text itself.</p>
			</div>
			</div>
				<textarea id = "speech-1833" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1833">
					<img id="start_img-1833" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1833">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>