<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>ROS tutorials no longer working
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9244" class = "post">
			<h2>Question</h2>
			<div id="vote-9244" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 476</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>ROS tutorials no longer working</h2>
<p>Has anyone ever run into a case where a fresh install of ROS cannot run its tutorial packages?</p>

<p>I am running ROS Indigo on an nVidia Jetson TK1, using the nVidia-supplied Ubuntu image. I just did a fresh install, Ubuntu and ROS, just to keep things clean for this project. I am building a kind of 'demo-bot' for some students I will be teaching; it will use both the demo files and some of my own code. Now, after setting things up, I try to run the talker tutorial just to check to make sure that everything is running, and rospack is pretty sure that the tutorials don't exist.</p>

<p>For example, inputting this into the terminal</p>

<pre><code>rosrun rospy_tutorials talker
</code></pre>

<p>Outputs</p>

<pre><code>[rospack] Error: package 'rospy_tutorials' not found
</code></pre>

<p>This is the case for every tutorial file; python and C++. Now, I am sure the tutorials are installed. I am looking right at them in the file system, installed from the latest versions on github. So I think it is something on ROS' side of things.</p>

<p>Has anyone ever bumped into something similar before, where a ROS package that supposedly was installed correctly isn't found by ROS itself? I would rather not have to reinstall again if I can avoid it.</p>

<p><strong>EDIT #1</strong></p>

<p>After playing with it some more, I discovered that multiple packages were not running. All of them - some turtlebot code, and some of my own packages - returned the same error as above. So I suspect something got messed up during the install of ROS.</p>

<p><a href="http://wiki.ros.org/roswtf" rel="nofollow">roswtf</a> was able to run, but it did not detect any problems. However, going forward.</p>

<p><strong>EDIT #2</strong></p>

<p>I double checked the bashrc file. One export was missing, for ROS directory I was trying to work within. Adding it did not solve the problem. </p>

<p>I am still looking for a solution, that hopefully does not involve reflashing the TK1.</p>

<p><strong>EDIT #3</strong></p>

<p>Alright, so I've been poking at this for a few days now and pretty much gave up trying to get ROS to work correctly, and decided a re-flash was necessary. But I think I found something when I booted up my host machine. In my downloads folder, I have the v2.0 and the v1.2 JetPack. I know I used the v2.0 for this latest install, and it has been the only time I have used it (it provides some useful updates for OpenCV and bug fixes, among other things). I'm going to re-flash using the v1.2 JetPack this time, see if things behave better with ROS under that version. Its a long shot, but it is all I have to work with at the moment, and it shouldn't lose any ROS capabilities (aside from some of the stuff I wanted to do with OpenCV). I'll update everyone if that seems to work.</p>

<p><strong>EDIT #4</strong></p>

<p>Ok, everything seems to be working now. The problem does seem to be an issue with Jetpack v2.0. I suspect that some change, somewhere between v1.2 and v2.0 (made to accommodate the new TX1 board), messes with running ROS indigo on a TK1. I'm going to be a more detailed explanation in an answer to this question.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9244" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9244">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9244">Load Comments</button></br>
			<div id = "commentsection-9244" class = 'collapse'>
			<div id = "comment-16355" class = "comment">
				<p>Did you correctly source the environment? (setup.bash or whatever)</p>
			</div>
			<div id = "comment-16356" class = "comment">
				<p>Yeah, that was the first thing I checked.</p>
			</div>
			<div id = "comment-16432" class = "comment">
				<p>Wait until I comment here, or update to post the bounty. I have a few things going on tomorrow, and I may not have time to get ROS installed and configured.</p>
			</div>
			<div id = "comment-16440" class = "comment">
				<p>You may want to ask on http://answers.ros.org</p>
			</div>
			<div id = "comment-16453" class = "comment">
				<p>@Ian - I did poke through answers.ros.org to see if I could find a solution, but using an ARM processor creates enough differences that the tutorials mostly just point the way. That said, its working now, and I'll update my question, and create an answer for this. No need for a bounty (I do appreciate the offer though)</p>
			</div>
			</div>
				<textarea id = "speech-9244" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9244">
					<img id="start_img-9244" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9244">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9245"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9245" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you tried <a href="http://wiki.ros.org/roswtf" rel="nofollow">roswtf</a>? It's the first step in the <a href="http://wiki.ros.org/ROS/Troubleshooting" rel="nofollow">ROS Troubleshooting guide</a>:</p>

<blockquote>
  <p>If you don't know what the problem is yet or how to fix it, try running roswtf first, which is like a FAQ implemented in code. It will look at your configuration and what is running and try and diagnose problems. You can either run it by itself, or you can give it the name of a roslaunch file, e.g.</p>

<pre><code>roswtf
</code></pre>
  
  <p>or</p>

<pre><code>roswtf myfile.launch
</code></pre>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9245" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9245">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9245">Load Comments</button></br>
			<div id = "commentsection-9245" class = 'collapse'>
			<div id = "comment-16378" class = "comment">
				<p>I just tried this (first time hearing about it - seems really useful). It did not detect any problems. I also checked ROS by trying to run some turtlebot packages, and some packages of my own design. Same issue: "package not found". So I'm going with a re-install. But I suspect this tool will come in handy with a lot of other things going forward, so I am going to accept it as the answer (and update my question clarifying this).</p>
			</div>
			<div id = "comment-16379" class = "comment">
				<p>@MechanicalMan - If a reinstall *doesn't* fix your problem, feel free to un-accept my answer and I'll put a bounty on the question for you to attract some other answers :)</p>
			</div>
			<div id = "comment-16380" class = "comment">
				<p>The ROS reinstall did not fix it, so I am going to un-accept your answer. When I first installed it after the re-flash, I used the JetsonHacks script to install ROS (as I have before without issue). But now I am wondering if he did an update to it that means ROS doesn't uninstall all-the-way. I definitely found some leftover bits when I just reinstalled today. I'm also going to go poke answers.ros, and see if they have some ideas. I would rather not reflash, just a pain in the butt.</p>
			</div>
			<div id = "comment-16381" class = "comment">
				<p>@MechanicalMan - It looks like your question isn't quite old enough for a bounty, but I'll put one on when I see that option become available.</p>
			</div>
			</div>
				<textarea id = "speech-9245" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9245">
					<img id="start_img-9245" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9245">Comment</button>
			<br><div id = "ans-9289"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9289" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After wrestling with this one for almost a week, I believe I have found the cause; and unfortunately the only solution seems to be a re-flash.</p>

<p>The problem was ROS didn't seem to be linking properly to some of the shared resources (specifically, rospy or roscpp tutorials) and did not want to work with packages I had developed myself or downloaded from code repositories like Github or Bitbucket. After a few days of playing with it, and two reflashes, I believe I found the issue: <strong><em>Jetpack v2.0</em></strong> (though I do not know the exact details).</p>

<p>roswtf did not find any issues, and I had already checked the exports and sources in the .bashrc file through:</p>

<pre><code>gedit ~/.bashrc
</code></pre>

<p>I was looking right at the tutorial folders for rospy_tutorials and roscpp_tutorials, in the right folder <code>/opt/ros/indigo/share/</code>. Even the individual code files within could be opened and editted. I first wanted to make sure that it wasn't the way I configured ROS, I did a couple uninstalls/reinstalls of ROS itself (leaving Ubuntu in place). I tried two methods:</p>

<p><strong>First</strong></p>

<p>According to <a href="http://answers.ros.org/question/66194/complete-ros-uninstallation/" rel="nofollow">this</a> ros.answers' question about removing ROS</p>

<pre><code>sudo apt-get purge ros-*
sudo apt-get autoremove
</code></pre>

<p><strong>Second</strong></p>

<p>Following <a href="http://answers.ros.org/question/86766/uninstall-and-reinstall-ros/" rel="nofollow">a different</a> ros.answers' question as a guide</p>

<pre><code>sudo apt-get purge ros-*
</code></pre>

<p>Neither of these seemed to allow ROS to be installed and configured properly. So I booted up my host to re-flash, and I realized something: I had both Jetpack v1.2 and Jetpack v2.0 in my downloads folder - and I knew that I had used v2.0 for this latest flash (it provided some graphical fixes and bug fixes for OpenCV4Tegra that I thought would be helpful for what I wanted to do). The critical different between Jetpack v1.2 and v2.0 is that v2.0 was released to add support for the new TX1 development board. The TX1 uses a new, 'more standard' ARM-CPU, while the TK1 uses an ARM-CPU that was designed/heavily modified by nVidia (if I am not mistaken about my understanding of these two CPUs). They are also using different GPUs, but I suspect this was less of an issue, since I hadn't gotten to any code that utilized the GPU.</p>

<hr>

<h2><strong>Solution</strong></h2>

<p>I re-flashed using Jetpack v1.2</p>

<p>After reflashing, I installed the Grinch Kernel following the instructions <a href="https://devtalk.nvidia.com/default/topic/906018/jetson-tk1/-customkernel-the-grinch-21-3-4-for-jetson-tk1-developed/" rel="nofollow">on the nVidia devtalk forums</a>, and then installed ROS manually. Normally I just use the scripts provided by Jetsonhacks on their Github, but I wanted to see everything happening this time around. So I followed the instructions on the <a href="http://wiki.ros.org/indigo/Installation/UbuntuARM" rel="nofollow">wiki.ros</a>. Now, when installing ROS on an ARM-based platform or other embedded system, the desktop version <strong><em>WILL NOT</em></strong> install. I suspect something in the desktop version is looking for an x86 CPU, and it prevents the simulations (among other things) from installing correctly. Instead, what you can do is</p>

<pre><code>sudo apt-get install ros-indigo-robot
</code></pre>

<p>This will install what is the 'most complete' (and appropriate, in my opinion) version of ROS for the TK1 if you are developing onboard and not cross-compiling your code. I do not believe using the robot variant of ROS prevents you from cross-compiling if you feel like it. The robot variant does not include (most of) the GUI components of ROS, you'll have to install those manually as you find yourself in need of them. I'm guessing the GPU and the GUI components aren't really sure what to do with one another in this case. The robot variant also does not install the tutorials (the broken thing that started this whole mess) either. Those will need to be installed with</p>

<pre><code>sudo apt-get install ros-indigo-ros-tutorials
</code></pre>

<p>Once those are installed, start <code>roscore</code> in one terminal window, and type (in a separate terminal window):</p>

<pre><code>rosrun rospy_tutorials talker
</code></pre>

<p>This will start the roscore processes, and the python talker program should start up just fine. All the other tutorials and packages also seem to work as well now too.</p>

<p><strong>Jetpack v2.0</strong></p>

<p>So I guess lesson learned? If you are planning on running ROS on a TK1, don't use v2.0 of the Jetpack. Not sure what is going on, but I am going to send what I did learn to nVidia and hope that v2.1 fixes the issues. Unfortunately, this amounts more to 'symptoms' than any actual causes. My guess it is a case of two different, highly specialized, experimental pieces of software just not knowing how to play nice together. There is always bound to be some issues. In the mean time, if you're like me, stick to v1.2 of the Jetpack, and you should be fine.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9289" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9289">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9289" class = 'collapse'>
			</div>
				<textarea id = "speech-9289" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9289">
					<img id="start_img-9289" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9289">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>