<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>ROS Installation Error : ARCH LINUX
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10799" class = "post">
			<h2>Question</h2>
			<div id="vote-10799" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 153</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>ROS Installation Error : ARCH LINUX</h2>
<p><a href="https://i.stack.imgur.com/tIIaU.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/tIIaU.png" alt="enter image description here"></a>So I had this old lappy on which I used to play with ROS a lot then it got broken so I bought a new one and installed the same distro as that of old one i.e. arch linux. Now when I am installing the ROS via AUR I get this build error please help me fix this.</p>

<pre><code>Scanning dependencies of target libqt_gui_cpp_sip
[ 85%] Running SIP generator for qt_gui_cpp_sip Python bindings...
Traceback (most recent call last):
File "/opt/ros/jade/share/python_qt_binding/cmake/sip_configure.py", line 50, in &lt;module&gt;
    config = Configuration()
 File "/opt/ros/jade/share/python_qt_binding/cmake/sip_configure.py", line 19, in __init__
    ['qmake', '-query'], env=env, universal_newlines=True)
  File "/usr/lib/python2.7/subprocess.py", line 567, in check_output
    process = Popen(stdout=PIPE, *popenargs, **kwargs)
  File "/usr/lib/python2.7/subprocess.py", line 711, in __init__
errread, errwrite)
  File "/usr/lib/python2.7/subprocess.py", line 1343, in _execute_child
raise child_exception
OSError: [Errno 2] No such file or directory
make[2]: *** [src/qt_gui_cpp_sip/CMakeFiles/libqt_gui_cpp_sip.dir/build.make:90: sip/qt_gui_cpp_sip/Makefile] Error 1
make[1]: *** [CMakeFiles/Makefile2:375: src/qt_gui_cpp_sip/CMakeFiles/libqt_gui_cpp_sip.dir/all] Error 2
make: *** [Makefile:128: all] Error 2
==&gt; ERROR: A failure occurred in build().
Aborting...
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-10799" data-toggle = "popover">
				<p>user name : Saransh</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-10799">{'None': 0, 'algorithm': 5, 'line-following': 5, 'python': 5, 'mapping': 5, 'slam': 5, 'linux': 5, 'ros': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10799">Load Comments</button></br>
			<div id = "commentsection-10799" class = 'collapse'>
			<div id = "comment-19436" class = "comment">
				<p>Move to Stack Overflow...</p>
			</div>
			<div id = "comment-20862" class = "comment">
				<p>This looks quite similar to this [problem](http://stackoverflow.com/questions/40593473/problems-during-compilation-of-ros-indigo-qt-gui-cpp-in-arch-linux-arm), where the user was missing qt5-base</p>
			</div>
			<div id = "comment-21488" class = "comment">
				<p>@combo Yup, It was. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-10799" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10799">
					<img id="start_img-10799" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10799">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12100"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12100" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might want to try ubuntu. The ubuntu support for ROS is much better. I know a lot of people use ROS indigo on Ubuntu 14.04 LTS without problems.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12100" data-toggle = "popover">
				<p>user name : EngineeringStudent</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-12100">{'stereo-vision': 0, 'None': 12, 'computer-vision': 0, 'localization': 1, 'mapping': 2, 'lidar': 2, 'mobile-robot': 2, 'ros': 0, 'navigation': 0, 'gps': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12100" class = 'collapse'>
			</div>
				<textarea id = "speech-12100" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12100">
					<img id="start_img-12100" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12100">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>