<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>ROS Calibration Camera Problems
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7647" class = "post">
			<h2>Question</h2>
			<div id="vote-7647" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 512</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>ROS Calibration Camera Problems</h2>
<p>I am trying to calibrate a monocular camera using ROS with the help of this website: <a href="http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration" rel="nofollow">How to Calibrate a Monocular Camera</a>. When I run <code>rostopic list</code>, I get:</p>

<pre><code>/left
/right
/rosout
/rosout_agg
/usb_cam/image
</code></pre>

<p>When I run <code>rosservice list</code>, I get:</p>

<pre><code>/cameracalibrator/get_loggers
/cameracalibrator/set_logger_level
/rosout/get_loggers
/rosout/set_logger_level
</code></pre>

<p>Finally, when I run:</p>

<pre><code>rosrun camera_calibration cameracalibrator.py --size 10x7 --square 0.025 image:=/usb_cam/image camera:=/usb_cam 
</code></pre>

<p>It says:</p>

<pre><code>('Waiting for service', '/usb_cam/set_camera_info', '...')
Service not found
</code></pre>

<p>I even added the parameter at the end, <code>--no-service-check</code>, but that just makes the terminal stall indefinitely. </p>

<p>Could someone please help me figure out what is going wrong and how I can fix it? Also if it is important, <code>usb_cam</code> is saved at <code>catkin_ws/src/usb_cam</code>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7647" data-toggle = "popover">
				<p>user name : K S</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-7647">{'None': 1, 'ros': 1, 'cameras': 1, 'calibration': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7647" class = 'collapse'>
			</div>
				<textarea id = "speech-7647" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7647">
					<img id="start_img-7647" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7647">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7649"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7649" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks the answer you seek may have already been <a href="http://answers.ros.org/question/62778/ros_camera_info-service-not-found-for-usb_cam/" rel="nofollow">answered on the ROS website</a>. </p>

<p>Specifically, a bug in the camera driver in that it is not advertising the proper service.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7649" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7649">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7649">Load Comments</button></br>
			<div id = "commentsection-7649" class = 'collapse'>
			<div id = "comment-11066" class = "comment">
				<p>So how would I get around this bug? I'm sorry, I am very new to ROS.</p>
			</div>
			<div id = "comment-11071" class = "comment">
				<p>So I ran the `roslaunch usb_cam-test.launch` command, and then ran the same command as above specified. This time after the Waiting message, it says OK and then stalls, with and without the parameter at the end.</p>
			</div>
			<div id = "comment-11072" class = "comment">
				<p>I'm not sure how you would get around it.  My advice is to ask on that other forum, where people seem much more knowledgable on that particular topic.</p>
			</div>
			</div>
				<textarea id = "speech-7649" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7649">
					<img id="start_img-7649" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7649">Comment</button>
			<br><div id = "ans-7651"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7651" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I got the problem fixed, apparently my camera was not "on", and it only turned on after I ran the .launch test file right before I do the calibration. Also it should be image_raw, not image in the command. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7651" data-toggle = "popover">
				<p>user name : K S</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-7651">{'None': 1, 'ros': 1, 'cameras': 1, 'calibration': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7651">Load Comments</button></br>
			<div id = "commentsection-7651" class = 'collapse'>
			<div id = "comment-11261" class = "comment">
				<p>In that case, it's perfectly fine to tag your own answer as "the good answer". It makes sure that the question gets marked as "answered" in the SE system.</p>
			</div>
			</div>
				<textarea id = "speech-7651" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7651">
					<img id="start_img-7651" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7651">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>