<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>ROS on Raspberry Pi Model 2: UbuntuARM vs ROSBerryPi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8710" class = "post">
			<h2>Question</h2>
			<div id="vote-8710" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 238</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>ROS on Raspberry Pi Model 2: UbuntuARM vs ROSBerryPi</h2>
<p>Before I ask my question, I'd better confirm that I've read the most prominent post about <a href="https://robotics.stackexchange.com/questions/230/can-ros-run-on-a-raspberry-pi/7844#7844">running ROS on Raspberry Pi devices</a>.</p>

<p>That post contains some valuable information, but it's a bit dated, and ROS support for ARM devices is much better these days. In fact, ROS 2.0 is evidently going to have excellent support for <a href="http://design.ros2.org/articles/why_ros2.html#new-use-cases" rel="nofollow noreferrer">running on embedded devices</a> like the Raspberry Pi.</p>

<p>I just got a Pi model 2 for my birthday, and I'm really eager to get ROS running on it so I can build a robot I've been working on, which is based on the Wild Thumper 6WD platform.</p>

<p>From my perspective, here are a few pros &amp; cons regarding UbuntuARM and ROSBerryPi:</p>

<p>UbuntuARM</p>

<p><strong>Pros:</strong></p>

<ul>
<li><p>Ubuntu is the official ROS distro and is the most well-supported ROS OS </p></li>
<li><p>The best documentation on the ROS wiki for running on ARM devices is written for UbuntuARM</p></li>
</ul>

<p><strong>Cons:</strong></p>

<ul>
<li>Raspbian (on which ROSBerryPi is based) is the official distro for Rasbperry Pi and thus has the best support for the board.</li>
</ul>

<p><hr/>
ROSBerryPi</p>

<p><strong>Pros:</strong></p>

<ul>
<li><p>Raspbian (on which ROSBerryPi is based) is the official distro for Rasbperry Pi and thus has the best support for the board.
<strong>Cons:</strong></p></li>
<li><p>ROS is not well supported on OS's other than Ubuntu</p></li>
<li>To use the ROSBerryPi distro, you must build ROS from source.</li>
</ul>

<p>My question is: can anyone provide any further insight into this dilemma? If you've been running ROS on your Raspberry Pi 2 (model 2 only please; the model B+ has completely different issues, like not being well-supported by Ubuntu), what's your experience been? </p>

<p>Which distro would/did you choose, and why?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8710" data-toggle = "popover">
				<p>user name : tommytwoeyes</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-8710">{'None': 0, 'ros': 5, 'arm': 5, 'raspberry-pi': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8710" class = 'collapse'>
			</div>
				<textarea id = "speech-8710" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8710">
					<img id="start_img-8710" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8710">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9136"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9136" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The ROSBerryPi page is quite outdated, you actually can <a href="http://wiki.ros.org/groovy/Installation/Raspbian" rel="nofollow">install prebuilt ROS Groovy binaries on Raspbian</a>.</p>

<p>You will be better off installing prebuilt ROS binaries rather than building from source on your pi.</p>

<p>I don't have any experience with Ubuntu on the raspi but it's running great on my Odroid UX4 (similar single board computer) and ROS Jade runs just fine on that. See <a href="http://wiki.ros.org/indigo/Installation/UbuntuARM" rel="nofollow">these instructions</a> for how to install Ubuntu on your pi. Running Ubuntu will allow you to easily use the latest ROS distribution and packages.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9136" data-toggle = "popover">
				<p>user name : hammer</p>
				<p> user reputation : 86</p>
				<p class = "tagcontent" id = "usertaginfo-9136">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9136">Load Comments</button></br>
			<div id = "commentsection-9136" class = 'collapse'>
			<div id = "comment-15136" class = "comment">
				<p>I second this. Once you get Ubuntu onto your RasPi2, you can use pre-built ROS binaries. I would suggest trying Jade first, then Indigo, then Groovy. But once you have a ROS build that works for you, it should function mostly fine. Just double check any packages you use, and make sure they can execute on ARM architectures.</p>
			</div>
			</div>
				<textarea id = "speech-9136" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9136">
					<img id="start_img-9136" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9136">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>