<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Ros, iai_kinect2 issues
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6632" class = "post">
			<h2>Question</h2>
			<div id="vote-6632" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 561</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ros, iai_kinect2 issues</h2>
<p>here is what I did on <strong>Ubuntu 14.04 LTS</strong> running on a Toshiba Satellite, <strong>intel</strong> i7, <strong>nvidia</strong> with <strong>usb 3.0 and 2.0 ports</strong>.</p>

<p>1, 2, 3 refer to scripts found <a href="https://github.com/Parth-Mehrotra/Tools/tree/master/InstallScripts" rel="nofollow">here</a></p>

<ol>
<li><p>Setup ros by running this install-ros.sh script</p></li>
<li><p>Setup opencv by running this install-opencv.sh script</p></li>
<li><p>Setup PCL by running this install-pcl.sh script</p></li>
<li><p>Installed  libfreenect2 via the instructions at the master branch</p></li>
<li><p>Made the changes and installed</p></li>
<li><p>Cloned the repository into an empty catkin workspace</p></li>
<li><p>Sourced the respective setup.zsh files from my <strong>/opt/ros/...</strong> and from the <strong>devel/</strong> folders.</p></li>
</ol>

<p>At this point, I have encountered no issues</p>

<p>I tried running: </p>

<pre><code>rosrun kinect2_bridge kinect2_bridge
</code></pre>

<p>and I get the following message:</p>

<pre><code>[ERROR] [1424391698.413758209]: [registerPublisher] Failed to contact master at [localhost:11311].  Retrying..
</code></pre>

<p>So I assume I need to run roscore or something like that. So if I run: </p>

<pre><code>roscore
</code></pre>

<p>in one terminal and:</p>

<pre><code>rosrun kinect2_bridge kinect2_bridge
</code></pre>

<p>in another terminal, I get the following segmentation fault:</p>

<pre><code>[ERROR] [1424393345.496836066]: [registerPublisher] Failed to contact master at [localhost:11311].  Retrying...
[ INFO] [1424393446.243884489]: Connected to master at [localhost:11311]
parameter:
        base_name: kinect2
           sensor: 
        fps_limit: -1
       calib_path: /home/parthmehrotra/catkin_ws/src/iai_kinect2/kinect2_bridge/data/
          use_png: false
     jpeg_quality: 90
        png_level: 1
     depth_method: opengl
     depth_device: -1
       reg_method: default
       reg_devive: -1
        max_depth: 12
        min_depth: 0.1
       queue_size: 2
 bilateral_filter: true
edge_aware_filter: true
       publish_tf: false
     base_name_tf: kinect2
   worker_threads: 4

[1]    2679 segmentation fault (core dumped)  rosrun kinect2_bridge kinect2_bridge
</code></pre>

<p>I must be overlooking something really trivial. Thanks for taking the time to help me. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6632" data-toggle = "popover">
				<p>user name : Parth Mehrotra</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6632">{'kinect': 0, 'None': 0, 'ros': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6632">Load Comments</button></br>
			<div id = "commentsection-6632" class = 'collapse'>
			<div id = "comment-9538" class = "comment">
				<p>You might have better luck at answers.ros.org</p>
			</div>
			<div id = "comment-9656" class = "comment">
				<p>Are you sure your kinect is detected and working on your Ubuntu ? I had lots of trouble getting my Xtion to work correctly. As well where do you find those install scripts ? It appears that having PCL installed from PCL repos isn't working with ros ! You need to install PCL from ros repos.</p>
			</div>
			<div id = "comment-9669" class = "comment">
				<p>@Malc If I run something like lsusb, the Kinect shows up. I created those scripts, but I retried by simply following the instructions found on the ROS repositories so that's not the issue. Is lsusb sufficient evidence that kinect is detected by Ubuntu?</p>
			</div>
			<div id = "comment-9670" class = "comment">
				<p>I can't say for sure. I did that a long time ago. Do you have any "test scripts" for the kinect ? Something outside ros that when you launch it, shows the camera image</p>
			</div>
			<div id = "comment-9671" class = "comment">
				<p>Nothing that was successfully run. I received segmentation faults on the libfreenect2 demos as well</p>
			</div>
			<div id = "comment-9700" class = "comment">
				<p>So, that's probably not a ROS related problem. How did you install libfreenect ?</p>
			</div>
			</div>
				<textarea id = "speech-6632" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6632">
					<img id="start_img-6632" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6632">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>