<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Rotation ratio between left rocker and right rocker in rocker-bogie system
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1302" class = "post">
			<h2>Question</h2>
			<div id="vote-1302" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 146</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Rotation ratio between left rocker and right rocker in rocker-bogie system</h2>
<p>Following, the <a href="https://robotics.stackexchange.com/questions/1235/how-does-rocker-bogie-keep-the-body-almost-flat">previous question</a>, I am trying to calculate how much one rocker would rotate when the other is being rotated. I attached my calculation here.</p>

<p>I am trying calculate the rotation of gear B that connects to right rocket. Given gear A rotates at 0.05 rad, what is the rotation of gear B in rad? Gear ratio A:D is 4:1, and D:B is 1:4.</p>

<p>At the end, I ended up with rotational gear A = gear B. This somewhat puzzles me. Is my calculation correct?</p>

<p><img src="https://i.stack.imgur.com/HDtsx.jpg" alt="My calculation given rotation of gear A that connects to left rocker"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1302" data-toggle = "popover">
				<p>user name : ikel</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-1302">{'wheel': 5, 'mobile-robot': 5, 'None': 0, 'wheeled-robot': 19, 'motion': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1302" class = 'collapse'>
			</div>
				<textarea id = "speech-1302" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1302">
					<img id="start_img-1302" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1302">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1303"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1303" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your calculation is correct in magnitude but incorrect in sign, because gear B rotates oppositely to A (when the axis of D is fixed and D is not locked).</p>

<p>If D is locked (ie, the gear is not free to rotate in its plane) then A and B are locked together and rotate identically.  </p>

<p>If the body V to which the axis of D is fixed rotates during rotation of A, then the rotation rate of B will differ from that of A.  Example: Let rotation directions for A, B, and V be stated relative to a view from the left, and for D  relative to a view from above.  With V fixed, suppose A rotates CW at 40 rpm.  Then D rotates CCW at 10 rpm, driving B CCW at 40 rpm.  If V now begins to rotate CW  at 20 rpm, D's rotation rate drops to 5 rpm, so that B begins to rotate at -20 rpm relative to A, 0 rpm relative to V, and 20 rpm to the frame of reference.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1303" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1303">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1303">Load Comments</button></br>
			<div id = "commentsection-1303" class = 'collapse'>
			<div id = "comment-2885" class = "comment">
				<p>Thanks. I am trying to understand _"...D's rotation rate drops to 5 rpm..."_ bit.</p>
			</div>
			<div id = "comment-2886" class = "comment">
				<p>When A and V rotate the same direction, D's rotation rate is 1/4 the difference.  When they rotate oppositely, 1/4 the sum.</p>
			</div>
			<div id = "comment-2887" class = "comment">
				<p>Got that! Thanks for your simple approach to my convoluted problem.</p>
			</div>
			</div>
				<textarea id = "speech-1303" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1303">
					<img id="start_img-1303" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1303">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>