<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Rotate (and stop) a large disk in very tiny increments
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4713" class = "post">
			<h2>Question</h2>
			<div id="vote-4713" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 191</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Rotate (and stop) a large disk in very tiny increments</h2>
<p>In a lab build I'm doing, I'm stuck at this problem, so I am fishing for suggestions.</p>

<p>I'm creating a turn-table type setup where I need to make readings (with a nanotube-tip probe I've already designed, similar to an AFM probe) on the very edge/circumference of a 10 cm radius disk (substrate).</p>

<p>The current hurdle is: I need to get the substrate disk to move circularly in steps of 0.1 mm displacement -- meaning, I occasionally need to STOP at certain 0.1mm-increment positions.</p>

<p>What would be a way I can achieve this, assuming an accurate feedback system (with accuracy of say ~0.1 mm, e.g., with quadrature optical encoders) is available if needed for closed-loop control?</p>

<p>Specs of commonly sold steppers don't seem to allow this kind of control. I'm at the moment trying to study how, e.g. hard disks achieve extreme accuracies (granted they don't have such large disks).</p>

<p>Certainly, direct-drive like I'm currently building (see below image) probably doesn't help!</p>

<p><img src="https://i.stack.imgur.com/P24mX.png" alt=""></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4713" data-toggle = "popover">
				<p>user name : boardbite</p>
				<p> user reputation : 160</p>
				<p class = "tagcontent" id = "usertaginfo-4713">{'None': 0, 'linear-bearing': 9, 'driver': 9, 'motion': 9, 'motor': 11, 'stepper-motor': 2, 'movement': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4713">Load Comments</button></br>
			<div id = "commentsection-4713" class = 'collapse'>
			<div id = "comment-7398" class = "comment">
				<p>Are gears or other mechanical reductions out of the question?</p>
			</div>
			<div id = "comment-7420" class = "comment">
				<p>@Ian: Definitely not of the question, as long as it's precise without costing a fortune! I just don't have sufficient experience to know what would work. What do you suggest?</p>
			</div>
			<div id = "comment-7433" class = "comment">
				<p>Say that you put a disc of 1cm radius on the motor, and used a belt to connect it to the 10cm radius disc.  Now it will take 10 rotations of the motor to turn the disc once, so 0.1mm step accuracy for the disc will only require 1mm step accuracy of the motor.</p>
			</div>
			</div>
				<textarea id = "speech-4713" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4713">
					<img id="start_img-4713" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4713">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4714"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4714" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use stepper motors easily:</p>

<p>Given the 20cm diameter, this is around 63cm circumfence. Your target stepsize is around 0,1mm. This means the motor should do around 6300 steps per revolution.
If you take a common stepper motor, which has a step size of around 1,8  per step. So the motor performs 200steps/per revolution. your target is 6300. 
Now we know the motor should have (6300/200) around 32times more accuracy.</p>

<p>So you have 2 different options: <br>
1. Use a gearbox with minimum ratio of 1:32
<br> Advantage: Still lot of force <br>
Disadvantage: It is pretty slow</p>

<p>2 Use some Stepper magic and let him microstepping. There are drivers with around 128 times microstepping.
<br> advantage: Still decent velocity
<br> disadvante: looses most of this force.</p>

<p>You could also combine this two methods... This is no problem at all.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4714" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4714">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4714">Load Comments</button></br>
			<div id = "commentsection-4714" class = 'collapse'>
			<div id = "comment-7366" class = "comment">
				<p>Thanks for the calculation to justify the use of steppers. But, regarding the microstepping: Based on what literature I read about microstepping, it seems to be mainly a way to get from one full step to another in a smooth way; isn't this true? Can you actually *stop* at a microstep, like I want in my problem?</p>
			</div>
			<div id = "comment-7367" class = "comment">
				<p>Microstepping enables you to stop at any position.
The drawback is that the motor uses lot of this torque. If your disk as a hugh inertia or the motor is a cheap one with bad bearings then the motor will loose steps and the accuracy will suffer.
To read more about this, here is a very good page about microstepping
http://www.micromo.com/microstepping-myths-and-realities</p>
			</div>
			<div id = "comment-7368" class = "comment">
				<p>*"the motor will loose steps and the accuracy will suffer"* ---> Well, I suppose the good news in my case is that I will have an encoder to provide feedback for a closed-loop, so I can correct accordingly.</p>
			</div>
			<div id = "comment-7369" class = "comment">
				<p>Well this is the optimal setup for this motor...
just don't buy the cheapest motor, then the internal friction will screw it.</p>
			</div>
			<div id = "comment-7370" class = "comment">
				<p>Oh, no worries on the motor quality! -- I found a 400 step/rev (0.9 degrees) stepper from a presumably good manufacturer from our academic-partner's catalog.</p>
			</div>
			<div id = "comment-7371" class = "comment">
				<p>This sounds pretty good, so you need to work with 1/16 microstepping</p>
			</div>
			</div>
				<textarea id = "speech-4714" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4714">
					<img id="start_img-4714" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4714">Comment</button>
			<br><div id = "ans-4748"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4748" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Why do you need to have the motor at the axis? Wouldn't it be much easier to have <del>several</del> at least one motors at the edge of the disc and the disc would lie on wheels (the smaller the more accurate)? There could still be a pivot in the middle but just with ball bearings instead of a motor. If the surfaces are clean this should be accurate and by far easier to build. </p>

<p>If this is incomprehensible I'll do a drawing. </p>

<p>[I'd have preferred for this to be a comment, but lack the reputation and wanted to be helpful]</p>

<p>EDIT: Here have crappy drawings; I hope they bring the general idea across though. 
It would be quite important to have a force pulling (or pressing if it is convenient to have something above the disc) the disc down so that you have more friction; then normal rubber wheels would be enough I think (with the benefit of having smooth motion). 
I'm not sure what you mean by skate bearings as wheels; the wheels should have friction in contact with the disc. The non-motorized wheels (to support the disc) could have ball bearings as hubs. </p>

<p>On a side note, the design you proposed in the question is quite likely to cause the disc to wobble even if there is a only a slight misalignment or vertical force on the disc. </p>

<p>It might also be advisable to mount all those things on a material that doesn't change volume too much based on temperature/humidity. </p>

<p><img src="https://i.stack.imgur.com/MxTBh.jpg" alt="seen from above, the disc is transparent">
<img src="https://i.stack.imgur.com/KUsPt.jpg" alt="seen from the side, the non-motorized wheel is transparent"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4748" data-toggle = "popover">
				<p>user name : caconyrn</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4748">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4748">Load Comments</button></br>
			<div id = "commentsection-4748" class = 'collapse'>
			<div id = "comment-7421" class = "comment">
				<p>@caconym: This is definitely more substantial than a comment; thanks. I think I partly understand your idea -- it's interesting and would solve the resolution issue, since the motor's shaft directly moves the plate circumference. For the wheels, are you talking about something like skate bearings that run within a guided track on a bottom surface? Yes, could you do a crude sketch please?</p>
			</div>
			</div>
				<textarea id = "speech-4748" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4748">
					<img id="start_img-4748" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4748">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>