<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Running a cycle on brushless outrunner motors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10503" class = "post">
			<h2>Question</h2>
			<div id="vote-10503" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Running a cycle on brushless outrunner motors?</h2>
<p>Is it possible to convert a cycle into an electric bike by using brushless outrunner motors that usually are for RC planes, multicopter, helicopter, etc?</p>

<p>If it is possible, what specs do my motors need to be to provide enough power to bring my cycle to speed?</p>

<p>Will I need a gear system?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10503" data-toggle = "popover">
				<p>user name : SidS</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-10503">{'quadcopter': 3, 'None': 5, 'power': 1, 'motor': 4, 'electric': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10503" class = 'collapse'>
			</div>
				<textarea id = "speech-10503" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10503">
					<img id="start_img-10503" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10503">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10506"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10506" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Its going to be very difficult to make a cycle run with motors that small. You would be better off looking at an electric wheelchair motor. You need starting torque to bring the bike up from a standstill, and a motor that is typically light enough to run an rc plane isn't going to have the "balls" to push a bike, especially with a rider on it. They make motors already spec'd for this task, why reinvent the wheel(pun intended).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10506" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-10506">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10506">Load Comments</button></br>
			<div id = "commentsection-10506" class = 'collapse'>
			<div id = "comment-18898" class = "comment">
				<p>Haha, thanks for the advice... I saw some YouTube videos that shows cycles with low kv motors attached, I might try it because starting off with bigger motors, they cost like  100, but lower kv motors are a bit cheaper coming in at  30, so I might start off with the cheaper option, if that fails I will go with the bigger motor...</p>
			</div>
			<div id = "comment-18902" class = "comment">
				<p>This is a good series of articles you may want to check out.     https://www.electricbike.com/motor-tech-learn-the-terms-part-1/</p>
			</div>
			</div>
				<textarea id = "speech-10506" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10506">
					<img id="start_img-10506" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10506">Comment</button>
			<br><div id = "ans-10510"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10510" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Let's assume you do a motor on the crank shaft rather than on the hub.</p>

<p>When you step on the pedal/crank it's approximately the mass of your body doing all the work.</p>

<p>$Torque(\tau)=Force*Distance$, $Force=mass*Acceleration$</p>

<p>$mass:=70Kg$, $Acceleration:=9.8\frac{m}{s^2}$, $Distance:=0.2m$</p>

<p>$\tau=70\times9.8\times0.2 \implies140Nm$ of torque for a motor to provide the same torque that you do.</p>

<p>$Power=Torque*Speed(in \frac{radians}{sec})$ </p>

<p>Cranking the pedals a full turn each second is reasonable.</p>

<p>$1\frac{rotation}{sec}=\frac{2\pi\space radians}{sec}=\frac{6.28\space radians}{sec}$</p>

<p>So, $140Nm\times6.28\frac{radians}{sec}\implies 880Watts$</p>

<p>This is a peak, you would get tired very quickly pedalling this hard, (think about how long you can climb stairs at 2 per second). <a href="https://en.wikipedia.org/wiki/Human_power" rel="nofollow">Average human power</a> is closer to 100W.</p>

<p>So now you have some numbers. You don't need more than 140Nm peak torque, and around 900W power. (<a href="https://en.wikipedia.org/wiki/Electric_bicycle_laws" rel="nofollow">Laws usually restrict you to less than this power</a>). Let's say that you just want some power assist. 30Nm and 50W of power might be ok.</p>

<p>I have no idea which motor you were looking at; <a href="http://www.hobbyking.com/hobbyking/store/__67036__Quanum_MT_Series_5208_335KV_Brushless_Multirotor_Motor_Built_by_DYS.html" rel="nofollow">here's one at random</a> in the  30 range. Let's estimate the torque it will produce. The motor constant kv tells us a lot. Not only is it an estimate of the backemf (ie how many volts per rpm the motor generates when it's spinning), the inverse of the same consant is an estimate of how much torque per amp is produced.</p>

<p>$kv\implies \frac{Volts}{\frac{rotations}{min}}\implies\frac{Volts}{\frac{2\pi\space radians}{60sec}}\implies\frac{60}{2\pi}\frac{Volts}{\frac{radians}{sec}}\implies\frac{Volts}{\frac{radians}{sec}}=\frac{2\pi}{60}kv$</p>

<p>$\frac{Volts}{\frac{radians}{sec}}=\frac{1}{\frac{Nm}{Amp}}\implies\frac{Nm}{Amp}=\frac{1}{\frac{Volts}{\frac{radians}{sec}}}=\frac{60}{2\pi kv}$</p>

<p>That motor has a kv of 335$\frac{rpm}{V}$ so it's torque constant is about .028$\frac{Nm}{Amp}$ and it has a max current of 28A so it's maximum torque is 0.78$Nm$</p>

<p>So you would need around 40:1 gearing to get the torque into the range we want. </p>

<p>So even though the motor seems to have enough power, to amplify the torque to be useful, you will need gearing.</p>

<p>I agree with @user241585 it's much easier to use kits designed for bicycles to start with. A company I've been happy with and is relatively cheap is <a href="http://www.goldenmotor.com/" rel="nofollow">golden motor</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10510" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10510">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10510" class = 'collapse'>
			</div>
				<textarea id = "speech-10510" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10510">
					<img id="start_img-10510" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10510">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>