<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Scan Matching finds right rotation but false translation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4787" class = "post">
			<h2>Question</h2>
			<div id="vote-4787" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Scan Matching finds right rotation but false translation</h2>
<p>I'm currently developing a SLAM software on a robot, and I tried the Scan Matching algorithm to solve the odometry problem.</p>

<p>I read this article :
<a href="http://webdiis.unizar.es/~montesan/web/pdfs/minguez06TRO.pdf" rel="nofollow">Metric-Based Iterative Closest Point Scan Matching
for Sensor Displacement Estimation</a></p>

<p>I found it really well explained, and I strictly followed the formulas given in the article to implement the algorithm.</p>

<p>You can see my implementation in python there :
<a href="https://github.com/pierrolelivier/SLAMScanMatching/blob/master/ScanMatching.py" rel="nofollow">ScanMatching.py</a></p>

<p>The problem I have is that, during my tests, the right rotation was found, but the translation was totally false. The values of translation are extremely high.</p>

<p>Do you have guys any idea of what can be the problem in my code ?</p>

<p>Otherwise, should I post my question on StackOverflow or on the Mathematics Stack Exchange ?</p>

<p>The ICP part should be correct, as I tested it many times, but the Least Square Minimization doesn't seem to give good results.</p>

<p>The parts that might be problematic are the function getAXX() to getBX() (starting at line 91).</p>

<p>As you noticed, I used many decimal.Decimal values, cause sometimes the max float was not big enough to contain some values.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4787" data-toggle = "popover">
				<p>user name : PinkPR</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-4787">{'sonar': 2, 'None': 0, 'slam': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4787">Load Comments</button></br>
			<div id = "commentsection-4787" class = 'collapse'>
			<div id = "comment-7469" class = "comment">
				<p>In the `getA11` function, for example, I see numbers that are powered by 2. If that is so huge it doesn't fit in `float`, probably the original value was also very large (i.e. `pix`, `piy` etc). Large floating point values have large errors, but besides that, are those values expected to be actually that large? Is there perhaps a mistake with units, like you should be working in meters, but you are actually working with micrometers or something?</p>
			</div>
			</div>
				<textarea id = "speech-4787" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4787">
					<img id="start_img-4787" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4787">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>