<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>SCARA Arm Lead Screw Choices
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2723" class = "post">
			<h2>Question</h2>
			<div id="vote-2723" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 364</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>SCARA Arm Lead Screw Choices</h2>
<p>I'm thinking about building a <a href="http://en.wikipedia.org/wiki/SCARA" rel="nofollow">SCARA Arm</a> to lift moderate loads(5lbs) with a high degree of accuracy. I want a relatively quick and inexpensive Z axis gantry, and I was thinking about using a lead screw with dual linear rail. Trouble is I'm not certain the linear velocity will be fast enough.</p>

<p>What's the best method of choosing the lead screws and the associated nut, given a desired linear velocity of 10inches/second and a NEMA stepper motor driving it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2723" data-toggle = "popover">
				<p>user name : cii</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-2723">{'None': 0, 'mechanism': 5, 'robotic-arm': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2723">Load Comments</button></br>
			<div id = "commentsection-2723" class = 'collapse'>
			<div id = "comment-5145" class = "comment">
				<p>What do you mean by *high degree of accuracy*? Given the tortional and sag stresses you may be need to more concerned about how the axis is braced (it's linear rail) than how it is actuated (lead screws). With suitable tensioning a belt drive may give you more flexibility and less backlash than a lead screw, as well as being much easier to adjust Z-track length. We used to use this scheme and the Z axis was one of the more accurate axes on [our robots](http://robotics.stackexchange.com/a/286/37) (sadly no longer in production, though you can occasionally pick them up second hand).</p>
			</div>
			<div id = "comment-6628" class = "comment">
				<p>Define high degree of accuracy and inexpensive...  I worked on machines with belt drives, linear drives and leadscrew/ballscrew drives with pretty much any combination of motors/encoders that you can imagine... 10inches/second is definitely in the realm of screw/stepper drive.  A ball screw is orders of magnitude stiffer than a belt drive but as Mark points out your total accuracy depends on other parts of the system.  Micron level accuracy with 10 inches per second with very high stiffness can be done in a well designed system.</p>
			</div>
			<div id = "comment-9208" class = "comment">
				<p>e.g. https://www.youtube.com/watch?v=tW5-fI2ElPc</p>
			</div>
			</div>
				<textarea id = "speech-2723" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2723">
					<img id="start_img-2723" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2723">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2791"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2791" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The 'speed' of a lead-screw is the product of the lead-screw's pitch and the rotational speed of the motor. For example, if you have a screw with 10 threads-per-inch pitch, and you rotate it at 60 r.p.m. you will get an advance speed of 0.1 inches per second. At 600 r.p.m. you would get 1 inch per second. You would need 6000 r.p.m. to drive a 10 threads-per-inch lead-screw.(3/4" hardware store all-thread has this pitch)
If you get a coarser thread, to increase translational speed, the torque requirements go up, and you'll need a bigger motor.
Lead-screws are great for slow, precise motion - the homemade 3d printer industry was practically built on them. High speed movement is another kettle of fish. As Mark Booth pointed out, belt drives are better if you need the speed.
As per accuracy, this page has a good practical discussion:
<a href="http://www.protoparadigm.com/blog/2013/10/accuracy-vs-precision-and-threaded-rod-vs-leadscrews-in-3d-printers/" rel="nofollow">http://www.protoparadigm.com/blog/2013/10/accuracy-vs-precision-and-threaded-rod-vs-leadscrews-in-3d-printers/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2791" data-toggle = "popover">
				<p>user name : Mhz4.77</p>
				<p> user reputation : 475</p>
				<p class = "tagcontent" id = "usertaginfo-2791">{'None': 30}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2791" class = 'collapse'>
			</div>
				<textarea id = "speech-2791" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2791">
					<img id="start_img-2791" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2791">Comment</button>
			<br><div id = "ans-3122"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3122" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a bunch of mechanical considerations but as far as the screw/motor combination is concerned you want to look at the top speed and torque requirements.</p>

<p>Your torque requirements are a function of the reflected load seen at the motor during acceleration (including things like nut friction).</p>

<p>I've worked on screw driven systems that went up to ~x3 your speed requirements and I've seen others that are even faster.  So there's no feasibility issue from a load/speed perspective.  There are practical questions in terms of what type of screw to use, cost, accuracy, whether the motor is directly coupled to the screw or not, etc.  When very high loads are involved screws are often a very good linear motion solution.</p>

<p>Is there some specific NEMA motor size you have in mind?  There's a huge range of torque available from "NEMA" stepper motors.  How accurate do you need your linear motion to be?  What sort of acceleration did you have in mind?  What's your budget?  What's the range of motion?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3122" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-3122">{'None': 75}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3122" class = 'collapse'>
			</div>
				<textarea id = "speech-3122" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3122">
					<img id="start_img-3122" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3122">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>