<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Seamless motor movement
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4991" class = "post">
			<h2>Question</h2>
			<div id="vote-4991" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 31</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Seamless motor movement</h2>
<p>With the lego NXT Mindstorm kit I would like to have a rotating carousel that has "perfect" movement. This carousel has baskets and therefore it has quite a bit of inertia. I would like to find a method to calculate the perfect time to slow it down--taking into account motor friction, and momentum etc.</p>

<p>Here is some data I've collected:</p>

<p><img src="https://i.stack.imgur.com/3TvpX.jpg" alt="enter image description here"></p>

<p>The motor power is the power to the motor. The break time was the time it took to stop from the time that the motor power was set to 0. The over-turn dist was amount of rotation in degrees that the motor continued to rotate after the power was set to 0.</p>

<p>Is there a specific method or approach to optimize the motors movement so movement can be precisely rotated to <strong>X</strong> degrees?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4991" data-toggle = "popover">
				<p>user name : Klik</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-4991">{'nxt': 3, 'None': 0, 'motion': 0, 'troubleshooting': 1, 'motor': 0, 'path-planning': 3, 'mobile-robot': 3, 'motion-planning': 3, 'navigation': 3, 'robotc': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4991" class = 'collapse'>
			</div>
				<textarea id = "speech-4991" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4991">
					<img id="start_img-4991" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4991">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4992"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4992" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Do you have any feedback from the motor (it's speed or position)? In this case you should consider using a closed loop control here like <a href="http://en.wikipedia.org/wiki/PID_controller" rel="nofollow">PID</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4992" data-toggle = "popover">
				<p>user name : Eugene Sh.</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-4992">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4992">Load Comments</button></br>
			<div id = "commentsection-4992" class = 'collapse'>
			<div id = "comment-7746" class = "comment">
				<p>On the motor there is a relative encoder. It is the only data available to me. However using it, I can calculate speed (angular) over a period of time.</p>
			</div>
			<div id = "comment-7747" class = "comment">
				<p>Actually you can calculate the position as well, relative to a startup position, which might be enough for your application. But as I understand you are more concerned about the speed, so having the feedback you are able to implement the speed control loop.</p>
			</div>
			<div id = "comment-7748" class = "comment">
				<p>Yes I can find the position. Which is in degrees. The relative encoder gives me 360 counts per full rotation, thus the encoder value mod 360 gives me its position in degrees relative to startup. My end goal is to seamlessly rotate in the fastest, but most precise way, to a specific angle. What is the best way to implement such a speed control loop?</p>
			</div>
			<div id = "comment-7749" class = "comment">
				<p>Look into closed loop control and PID</p>
			</div>
			<div id = "comment-7750" class = "comment">
				<p>Will do. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-4992" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4992">
					<img id="start_img-4992" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4992">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>