<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Securing a disc~wheel to a shaft
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2983" class = "post">
			<h2>Question</h2>
			<div id="vote-2983" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Securing a disc~wheel to a shaft</h2>
<p>I am in a situation where I need to secure a 20" wheel made of 3/4" thick MDF (of my own making) onto a 1-1/4" precision-ground steel shaft, and this joint needs to be strong enough to convey a rather large amount of torque, about 575-600 in-lbs, effectively a 5hp motor driving the shaft at 500-600 rpm.</p>

<p>I don't have a milling machine or any metalworking tools, so my preferred option of 'milling flats onto the shaft' is out. My second option was to attempt to increase the surface area of the wheel's bore and then use an appropriate adhesive such as JB Weld.</p>

<p>Is JB weld a suitable solution to this problem or is there a better method of fastening that doesn't involve modifying the steel shaft at all?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2983" data-toggle = "popover">
				<p>user name : cathode</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-2983">{'wheel': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2983">Load Comments</button></br>
			<div id = "commentsection-2983" class = 'collapse'>
			<div id = "comment-5488" class = "comment">
				<p>What is the diameter of your shaft?  How did you figure out those torque numbers?  What are you driving with this wheel?  Using an adhesive doesn't sound right for this situation.  Did you consider drilling a hole through the shaft?</p>
			</div>
			<div id = "comment-5489" class = "comment">
				<p>It's a 1-1/4" shaft, I edited the question with this. The purpose is actually a bandsaw, the 20" wheel will be where the blade runs on and will be heavily tensioned. There is no measurable axial load, all loading on the shaft itself is radial in this case. The torque numbers are from this chart: http://www.engineeringtoolbox.com/electrical-motors-hp-torque-rpm-d_1503.html</p>
			</div>
			<div id = "comment-5495" class = "comment">
				<p>You need to consider the interface between the adhesive to the steel and the interface between the adhesive to the MDF and the MDF itself.  Find an adhesive with a data-sheet and check out the numbers.  I would look into some sort of metal pipe clamping solution, something you could clamp around your shaft and then connect to your MDF board farther out and in a way that distributes the load better.  In general clamping is good a way of coupling to a round shaft and can transmit large forces/torques as it relies on friction.  Not as good as keying the shaft though.</p>
			</div>
			<div id = "comment-5496" class = "comment">
				<p>also that torque number isn't necessarily what matters.  The torque seen on your joint is a function of the external load on your bandsaw which could be smaller than the maximum the motor can provide.  If you do expect to load the saw up to your motor's maximum torque then you're designing to the right number.</p>
			</div>
			<div id = "comment-6677" class = "comment">
				<p>For what it's worth I've basically solved this issue in two ways: The construction of the wheel has been changed, and I settled on a 'pinned' fastening of the wheel to the shaft. Essentially drilling a through-hole radially into the shaft and running a bolt all the way through the shaft and through an integral flange on the wheel.</p>
			</div>
			<div id = "comment-6678" class = "comment">
				<p>drilling into precision ground (hardened?) steel... fun!  By the way, it's perfectly OK to answer your own question, if you have a picture that would be cool.</p>
			</div>
			</div>
				<textarea id = "speech-2983" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2983">
					<img id="start_img-2983" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2983">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>