<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>See CC3D actual configuration
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8804" class = "post">
			<h2>Question</h2>
			<div id="vote-8804" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 66</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>See CC3D actual configuration</h2>
<p>I just received my first hobby-grade quadcopter.</p>

<p>It's the Eachine racer 250 and comes preassembled with transmitter and receiver also included.</p>

<p>It comes with some kind of CC3D flight board, most people say it's not the original one, but can be configured with the same software.</p>

<p>It is actually flying very well right out of the box so I'm not sure if I want to touch the FC config.</p>

<p>I'm mostly interested in learning to fly in manual/acro mode, the transmitter seems to have a switch with 3 flight modes, first 2 looks like low/high rates in self-level mode, I expect the third to be the acro mode, but I'm not sure right now, I couldn't test it because of the weather, it could be a third higher rate?.</p>

<p>So, is there any way I can look at the actual FC config without changing anything? what software do I need? and are the flight modes actually set on the FC or transmitter so I could be able to see and edit them? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8804" data-toggle = "popover">
				<p>user name : Nanoc</p>
				<p> user reputation : 77</p>
				<p class = "tagcontent" id = "usertaginfo-8804">{'quadcopter': 4, 'brushless-motor': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8804" class = 'collapse'>
			</div>
				<textarea id = "speech-8804" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8804">
					<img id="start_img-8804" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8804">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8805"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8805" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Supposedly the OpenPilot Ground Control Station (GCS) will allow you to download your existing configuration.  In general, you probably want to search for something that will allow you to "back up CC3D configuration" from the UAV.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8805" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-8805">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8805">Load Comments</button></br>
			<div id = "commentsection-8805" class = 'collapse'>
			<div id = "comment-14467" class = "comment">
				<p>can you please answer the second question?</p>
			</div>
			<div id = "comment-14468" class = "comment">
				<p>Not without additional information in the original question, such as the relevant model number(s) for the CC3D board and the name of the software you are referring to when you say "the same software".  I genuinely have no idea how to answer the second question without that.</p>
			</div>
			<div id = "comment-14475" class = "comment">
				<p>was more about the flight modes than the software used.</p>
			</div>
			<div id = "comment-14483" class = "comment">
				<p>A brief google search suggests that the quadcopter supports this mode.  Were you able to run your own test to find out for yourself?  If there is a way to download the FC config, then that would require software.</p>
			</div>
			<div id = "comment-14540" class = "comment">
				<p>Using OP GCS i was able to see the config and change the third mode to rate, since it was on rattitude mode. Now i need to be able to test it outdoors.</p>
			</div>
			</div>
				<textarea id = "speech-8805" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8805">
					<img id="start_img-8805" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8805">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>