<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Seeking dirt cheap, wheeled, programmable robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4625" class = "post">
			<h2>Question</h2>
			<div id="vote-4625" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2952</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Seeking dirt cheap, wheeled, programmable robot</h2>
<p>I was playing the old "confuse the cat with a flash-light" game, when I thought that I might like to program a confuse-a-cat robot.</p>

<p>Something, probably with tracks, which can right itself if he flips it over, and which I can program to move randomly around a room, turning at walls, making an occasional sound or flashing a light.</p>

<p>Since I am on a <strong><em>very</em></strong> tight budget, I wondered if there is some cheap kit which I can program ...</p>

<p>Arduino, Raspberry Pi, any platform, so long as it is programmable.</p>

<p>Thanks in advance for your help</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4625" data-toggle = "popover">
				<p>user name : Mawg</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-4625">{'mobile-robot': 9, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4625">Load Comments</button></br>
			<div id = "commentsection-4625" class = 'collapse'>
			<div id = "comment-7233" class = "comment">
				<p>You may be able to use [this service](http://www.youtube.com/watch?v=B2Je1CEPkUM).</p>
			</div>
			</div>
				<textarea id = "speech-4625" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4625">
					<img id="start_img-4625" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4625">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4626"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4626" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You haven't define what's the limit of your budget.</p>

<p>However, for cheap programmable robots you can use: the <a href="https://www.dfrobot.com/product-65.html" rel="nofollow noreferrer">DFRobot 2WD Mobile Platform</a> and interface it with an Arduino Uno. You can also use a <a href="https://www.pololu.com/product/975" rel="nofollow noreferrer">Pololu 3pi Robot</a> or even a <a href="http://www.picaxe.com/Hardware/Robot-Kits/PICAXE-20X2-Microbot/" rel="nofollow noreferrer">PICAXE Microbot</a> which is already equiped with a front bumper</p>

<p>Look a this for more kits: <a href="http://www.intorobotics.com/47-programmable-robotic-kits/" rel="nofollow noreferrer">47 Programmable Robotic Kits</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4626" data-toggle = "popover">
				<p>user name : Amine Horseman</p>
				<p> user reputation : 176</p>
				<p class = "tagcontent" id = "usertaginfo-4626">{'control': 1, 'quadcopter': 1, 'None': 14, 'wireless': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4626">Load Comments</button></br>
			<div id = "commentsection-4626" class = 'collapse'>
			<div id = "comment-7236" class = "comment">
				<p>Thanks for the info, @Horse-man +1   My limit is elastic, but low. I will know the "hurt point" when I reach it, but even $100 is out of the question. I am not even sure if there is anythign that I can afford. I will check out your recommendations & get back to you.</p>
			</div>
			<div id = "comment-7237" class = "comment">
				<p>If it still expensive: you can recycle an old toy and interface it with an arduino, but I really recommand a kit, it's more robust and easier</p>
			</div>
			</div>
				<textarea id = "speech-4626" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4626">
					<img id="start_img-4626" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4626">Comment</button>
			<br><div id = "ans-4630"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4630" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Did you say <em>dirt</em>?  May I recommend a <a href="http://hackingroomba.com">Roomba</a>?</p>

<ul>
<li>It has wheels and tracks.</li>
<li>A cat wouldn't be able to flip it over.</li>
<li>It already knows how to move randomly around a room, turning at walls.</li>
<li>It already makes sounds and has some LEDs.  You should be able to hack how they behave.</li>
</ul>

<p><a href="http://www.youtube.com/watch?v=mk4XB2wZqF4">Some cats like Roombas.  Others are highly indifferent to them.</a></p>

<p>Bonus: it can pick up cat hair.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4630" data-toggle = "popover">
				<p>user name : 200_success</p>
				<p> user reputation : 181</p>
				<p class = "tagcontent" id = "usertaginfo-4630">{'None': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4630">Load Comments</button></br>
			<div id = "commentsection-4630" class = 'collapse'>
			<div id = "comment-7239" class = "comment">
				<p>Ha ha ha - not only informative, but witty too. And an interesting alternative. I will give it serious thought.</p>
			</div>
			<div id = "comment-7240" class = "comment">
				<p>Upvoted because of the bonus part :-)</p>
			</div>
			<div id = "comment-7260" class = "comment">
				<p>The only problem with Roomba is: the price!
I think @Mawg said clearly "I am on a very tight budget"</p>
			</div>
			</div>
				<textarea id = "speech-4630" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4630">
					<img id="start_img-4630" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4630">Comment</button>
			<br><div id = "ans-4631"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4631" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Dirty cheap robot:</p>

<p>Try seeking in Aliexpress/Ebay/your local e-store something called 2WD robot chassis. 
For about ~14-16 usd you will get two wheels and two engines and quite good basic platform for further development. </p>

<p>Then you will have to add:</p>

<ul>
<li>Arduino or clone (cheaper) ~8-9 usd</li>
<li>Driver shield or H-bridge (H bridge or transistors are much cheaper but you will have to learn how to use them. It's not wasted time if you want to pursue robotics hobby) ~6-7usd for cheapest</li>
<li>Ultrasonic sensor 2 usd</li>
<li>6x battery holder 1 usd</li>
<li>Breadboard and dupont cables (jumpers) 6 usd</li>
</ul>

<p>You will get complete kit for ~40 usd total. If you will add about 20 usd for arduino kit that will be more than enough to start. </p>

<p>Start here and search for suitable elements
<a href="http://www.aliexpress.com/wholesale?SearchText=arduino&amp;catId=&amp;initiative_id=SB_20140925122631" rel="nofollow">http://www.aliexpress.com/wholesale?SearchText=arduino&amp;catId=&amp;initiative_id=SB_20140925122631</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4631" data-toggle = "popover">
				<p>user name : Kacper Wikie </p>
				<p> user reputation : 161</p>
				<p class = "tagcontent" id = "usertaginfo-4631">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4631" class = 'collapse'>
			</div>
				<textarea id = "speech-4631" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4631">
					<img id="start_img-4631" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4631">Comment</button>
			<br><div id = "ans-4669"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4669" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As another person said, you can buy cheap basic motorised platforms from such Chinese sites.</p>

<p>I use banggood.com myself and get loads of stuff from there; H-bridges, ESCs, motors, components, sensors, bench power supplies, oscilloscopes etc. basically anything except batteries which are a problem here since we live in Europe and there are a lot of safety standards.</p>

<p>For instance here is a motor and wheel assembly for 3 dollars: <a href="http://www.banggood.com/Robot-Smart-Car-Wheel-Deceleration-DC-Motor-For-Arduino-Smart-Car-p-907973.html?currency=USD" rel="nofollow">http://www.banggood.com/Robot-Smart-Car-Wheel-Deceleration-DC-Motor-For-Arduino-Smart-Car-p-907973.html?currency=USD</a></p>

<p>And here is a whole kit for 10 dollars. <a href="http://www.banggood.com/Smart-Robot-Car-Chassis-Kit-Speed-Encoder-Battery-Box-For-Arduino-p-915324.html" rel="nofollow">http://www.banggood.com/Smart-Robot-Car-Chassis-Kit-Speed-Encoder-Battery-Box-For-Arduino-p-915324.html</a></p>

<p>As for reliability, I can confirm that everything I order arrives safely and payment can be made through paypal so is pretty much safe also. The only catch is the basic delivery period (free shipping!) takes up to 27 days. Some items offer expedited shipping for a charge and that gets a bit weird because sometimes it is just a couple of dollars and the item arrives in a few days.</p>

<p>Mind you I would not trust my life to anything sourced from such places because quality is not always the best (for instance an imitation Arduino may have some parts not perfectly aligned), but for fun stuff its great. </p>

<p>So I would highly recommend it. Hope that helps! </p>

<p>By the way if you want to make it more fun you might want to incorporate a laser (make sure it points downwards just ahead of the vehicle. In that way the cat will tend to spring at the spot rather than the vehicle!) if you want to do this for free, get an old DVD drive (not CD) and dismantle it to get the 3 lead diode. </p>

<p>Say hi to your cat for me. :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4669" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4669">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4669">Load Comments</button></br>
			<div id = "commentsection-4669" class = 'collapse'>
			<div id = "comment-10041" class = "comment">
				<p>*1 for saying "hi" to my cat ;-)</p>
			</div>
			</div>
				<textarea id = "speech-4669" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4669">
					<img id="start_img-4669" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4669">Comment</button>
			<br><div id = "ans-12253"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12253" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just gonna add one here as I researched this topic thoroughly.
The best one I found so far is the fully functioning AERobot: 20$ without shipping and programmable:</p>

<p><a href="https://www.seeedstudio.com/AERobot-p-2531.html" rel="nofollow noreferrer">https://www.seeedstudio.com/AERobot-p-2531.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12253" data-toggle = "popover">
				<p>user name : Anton_C</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-12253">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12253">Load Comments</button></br>
			<div id = "commentsection-12253" class = 'collapse'>
			<div id = "comment-21621" class = "comment">
				<p>Thanks for the recommendation... perhaps you could expand, to explain your reasoning?</p>
			</div>
			<div id = "comment-22234" class = "comment">
				<p>Basically its pretty tough to get robots under 50$, the robots used in research and education are mostly far beyond 100$. There are two alternatives afaik that you get under 50$: 1) The robots from the 2014 competition from AFRON of which the AERobot is the only one available for shipping. 2) Building your own, which is a pain in the ass as many parts mostly ship only in large quantities at a good price. - Still, there is a new project in Germany called Calliope which robot costs around ~35, although not wheeled.</p>
			</div>
			</div>
				<textarea id = "speech-12253" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12253">
					<img id="start_img-12253" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12253">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>