<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Selecting an accelerometer for Deduced Reckoning
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-405" class = "post">
			<h2>Question</h2>
			<div id="vote-405" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 143</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Selecting an accelerometer for Deduced Reckoning</h2>
<p>I have never used an accelerometer before, but I am aware that they come with I2C, SPI and analog outputs. If I choose to use an I2c or SPI, device, will I accumulate errors due to communication time?</p>

<p>Is the fast sampling of an analog signal likely to get me a more accurate deduced position than using am I2C?</p>

<p>Will this be true for </p>

<ol>
<li>A robot moving in a room </li>
<li>A robot moving in an outdoor terrain and is likely to slip and roll down a slope.</li>
</ol>

<p>Also, I have no sense of Gs. I tried to move my hand around fast with my phone running andro-sensor in my fist and saw that the readings saturated at 20m/s<sup>2</sup>. What G can I expect my robot to experience if it is hit by another fat moving bot or bumped by a fast walking human?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-405" data-toggle = "popover">
				<p>user name : Lord Loh.</p>
				<p> user reputation : 317</p>
				<p class = "tagcontent" id = "usertaginfo-405">{'None': 2, 'accelerometer': 8, 'inverse-kinematics': 5, 'line-following': 12, 'artificial-intelligence': 12, 'deduced-reckoning': 8, 'reinforcement-learning': 26, 'machine-learning': 17, 'sensors': 8, 'pwm': 9, 'navigation': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-405" class = 'collapse'>
			</div>
				<textarea id = "speech-405" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-405">
					<img id="start_img-405" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-405">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-406"  class = "post">
				<h2>Answer</h2>
			<div id="vote-406" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Increasing the sampling frequency of the sensor doesn't improve it's accuracy or precision. That is a feature of the sensor which you usually cannot change. If you try to estimate your position by integrating accelerations alone, you definitely <em>will</em> accumulate error over time, because every sensor is noisy. If you want to use the accelerometers to determine position or velocity, you should combine them with some other sensor that actually measures position (even with lower precision) or velocity. Then, you can combine these different sensor signals with a <em>Kalman filter</em> to obtain a reasonable estimate of where you are and how fast you are moving. </p>

<p>Considering G forces, consider that 1 G is 9.81 m/s^2, which seems a lot to me, in the context of small hobby robots, at least for indoor robots. Outdoor could be a different story, depending on how powerful your engine is. A saturation at 20m/s^2 should be enough.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-406" data-toggle = "popover">
				<p>user name : Daniel Eberts</p>
				<p> user reputation : 546</p>
				<p class = "tagcontent" id = "usertaginfo-406">{'None': 32, 'particle-filter': 17, 'localization': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-406" class = 'collapse'>
			</div>
				<textarea id = "speech-406" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-406">
					<img id="start_img-406" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-406">Comment</button>
			<br><div id = "ans-412"  class = "post">
				<h2>Answer</h2>
			<div id="vote-412" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Think in terms of your control loop speed. A typical fast control loop speed is 1kHz. Some robots use a faster rate, some slower. Usually your control loop speed is higher than you really need it to be.</p>

<p>So each control frame lasts for 1000us. Within this control frame you need to:</p>

<ul>
<li>Sample your sensors</li>
<li>Perform the control calculations</li>
<li>Send the new outputs to the motors</li>
</ul>

<p>As long as you can comfortably do all of this within the time frame, you've got no problems. So how long does it take to read the accelerometer? If it's a 3-axis device, using 400kbps I2C, then it might take about 160us to read the data. That leaves you 840us to perform the calculation and update the motors. Even an 8-bit PIC can manage that.</p>

<hr>

<p>About G forces. During an impact, they can be surprisingly high. For example, how much of a whack do you think it would take to break a hard drive? Probably not that much. Well a hard drive I had recently said it was rated for 75G max acceleration. So expect two robots colliding to produce at least several G. It's impossible to estimate accurately because it depends hugely on the mechanical design of the robots. If they are both completely solid like snooker balls, then you can expect very high accelerations. If they have some kind of flexible shell to them, then this will reduce the acceleration a great deal. But, the question is, do you really need to know the actual value of acceleration during an impact?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-412" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-412">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-412" class = 'collapse'>
			</div>
				<textarea id = "speech-412" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-412">
					<img id="start_img-412" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-412">Comment</button>
			<br><div id = "ans-441"  class = "post">
				<h2>Answer</h2>
			<div id="vote-441" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From your question I figure you are trying to get your position from the accelerometers. Have a look at what sort of <a href="http://www.vectornav.com/support/library?id=76#unaided-position-estimate" rel="nofollow">errors</a> you are expecting before, and then maybe reconsider. Position estimation has very large errors, mainly due to the uncertainty in the orientation. The application in ships, planes, rockets etc use very expensive high precision navigation grade IMUs. The latency, which your question boils down to is not so much of a problem. More relevant is the synchronization between your other sensors (e.g. Gyros). Accelerometers are usually not used for position estimation (there are some cases where it helps, but only for short periods), but rather for compensating gyro drift in orientation estimation. You can also use them directly to estimate your orientation, but then your estimate is perturbed by dynamic accelerations. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-441" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-441">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-441" class = 'collapse'>
			</div>
				<textarea id = "speech-441" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-441">
					<img id="start_img-441" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-441">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>