<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Selecting a gear reduction: torque vs speed
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4831" class = "post">
			<h2>Question</h2>
			<div id="vote-4831" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 166</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Selecting a gear reduction: torque vs speed</h2>
<p>I have just sized the DC motors I want to use (corresponding to my robot and its intended applications - my figures include a 50% uncertainty factor to account for friction in reducers and other losses). Now I need to actually choose the exact motors I want to buy from the manufacturer (I am targeting maxon motors as I am not an expert and want no problem). I have a few down to earth questions about linking the mechanical needs to the electrical characteristics, among them:</p>

<p><strong>Question #4:</strong></p>

<p>The motor I chose (maxon brushed DC: 310005 <a href="http://www.maxonmotor.com/maxon/view/catalog/" rel="nofollow">found here</a>) has nominal speed = 7630rpm - nominal torque = 51.6mNm. My needs are max speed = 50.42rpm / max torque = 10620 mNm. This means a reduction factor of 151 for speed and 206 for torque. Should I choose a gear closer to 151 or 206?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4831" data-toggle = "popover">
				<p>user name : arennuit</p>
				<p> user reputation : 170</p>
				<p class = "tagcontent" id = "usertaginfo-4831">{'control': 20, 'servomotor': 6, 'None': 0, 'errors': 3, 'motor': 14, 'communication': 10, 'pid': 4, 'brushless-motor': 5, 'design': 9, 'robotic-arm': 4, 'dynamics': 3, 'servos': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4831" class = 'collapse'>
			</div>
				<textarea id = "speech-4831" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4831">
					<img id="start_img-4831" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4831">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4841"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4841" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you choose 151 you'll get the speed but won't get the torque, if you choose 206 you'll get the torque but won't get the speed. You can either play with your needs to be able to use that motor or use another higher torque/speed motor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4841" data-toggle = "popover">
				<p>user name : goncalo luis</p>
				<p> user reputation : 324</p>
				<p class = "tagcontent" id = "usertaginfo-4841">{'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4841">Load Comments</button></br>
			<div id = "commentsection-4841" class = 'collapse'>
			<div id = "comment-7547" class = "comment">
				<p>I see that makes sense, thanks!</p>
			</div>
			</div>
				<textarea id = "speech-4841" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4841">
					<img id="start_img-4841" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4841">Comment</button>
			<br><div id = "ans-10280"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10280" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have to select the motor for the worst case.  (Assuming you cannot change your specification) it just may turn out that you have excess of speed or an excess of torque.   In your example you have selected a motor that only handles the best case.  You need a larger motor.  (or to reduce your specification or to reduce your safety factor.) </p>

<p>My preference would be to have available more torque than required by specification as you really should NEVER stall a motor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10280" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-10280">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10280" class = 'collapse'>
			</div>
				<textarea id = "speech-10280" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10280">
					<img id="start_img-10280" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10280">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>