<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Selecting hardware: stereo camera for beginners
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7397" class = "post">
			<h2>Question</h2>
			<div id="vote-7397" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 276</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Selecting hardware: stereo camera for beginners</h2>
<p>I'm looking for some cheap hardware that would offer me results decent enough to continue my experimentation.</p>

<p>I've been looking into how to obtain hardware for learning about stereo vision and 3D reconstruction, I found two basic ways: - buy 2 cheap webcams and DIY - buy a stereo camera</p>

<p>For what I understood little variations in distance and inclination can easily compromise the diff map and so the DIY version might end up requiring constant calibrations, however on the other end, so buying "professional" stereo camera range from 500 euro to infinite.</p>

<p>For the moment I trying something in between, like the minoru 3d, however the overall performance of the camera looks a bit poor also because it's a 2009 product, however I can't find any more recent product offering a similar solution.</p>

<p>Can you suggest me what would be the best way/product/guide to archive decent results without spending a fortune ?</p>

<p>Thank you very much :)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7397" data-toggle = "popover">
				<p>user name : Cesar</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-7397">{'stereo-vision': 0, 'kinect': 1, 'None': 0, 'cameras': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7397" class = 'collapse'>
			</div>
				<textarea id = "speech-7397" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7397">
					<img id="start_img-7397" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7397">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7412"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7412" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am a huge fan of the <a href="https://www.stereolabs.com/" rel="nofollow">ZED</a> it is easy to use and comes with pre built modules to use with opencv and some great examples, but at 500$ it might be out of your price range. I have had plenty of success with two cheap webcams, thee best thing to do it mount them on somthing like a metal bar after removing any pivot mechanism, so they will always be aligned.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7412" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7412">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7412">Load Comments</button></br>
			<div id = "commentsection-7412" class = 'collapse'>
			<div id = "comment-10597" class = "comment">
				<p>Yeah, i've seen the ZED, I think it's going to be my first "expensive" camera if I can't do with cheaper ones... for a cheaper test what have you been using ?</p>
			</div>
			<div id = "comment-10598" class = "comment">
				<p>honestly just webcams on a stick they work great just more of a pin to get working</p>
			</div>
			<div id = "comment-10599" class = "comment">
				<p>thanks you very much, I'll give it a try and see what's up :)</p>
			</div>
			<div id = "comment-10600" class = "comment">
				<p>Glad I could help! Feel free to ask more questions were here to help</p>
			</div>
			</div>
				<textarea id = "speech-7412" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7412">
					<img id="start_img-7412" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7412">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>