<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Self balancing robot control system strategies
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11298" class = "post">
			<h2>Question</h2>
			<div id="vote-11298" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 454</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Self balancing robot control system strategies</h2>
<p>I m in the early stages of designing a self-balancing robot as a way to refresh my knowledge on control theory, which has been gradually slipping away since graduating about a year and a half ago. I'm wondering if anyone has any input on how best to approach this problem.</p>

<p>My plan is to use a 6 DOF IMU as an angle sensor, and to control the pitch by accelerating and decelerating the cart. I'm looking for robust response to disturbance, and to add in RC differential drive capabilities later on. This block diagram is a pretty close match for what I was planning to do,  (source: Sebastian Nilsson's Blog):</p>

<p><a href="https://i.stack.imgur.com/CD0Qy.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CD0Qy.png" alt="Source: Sebastian Nilsson s Blog"></a></p>

<p>Would this be a good approach? Any recommended alternatives? Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11298" data-toggle = "popover">
				<p>user name : Jeff</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-11298">{'control': 2, 'imu': 2, 'None': 0, 'wheeled-robot': 2, 'two-wheeled': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11298" class = 'collapse'>
			</div>
				<textarea id = "speech-11298" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11298">
					<img id="start_img-11298" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11298">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11309"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11309" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can recommend an alternative which has worked for me quite well.</p>

<p>I derived the dynamical model of a inverted pendulum, then linearised it around the stable operating point. With this simplified model I found the LQR controller which keeps my robot upright and tracks my desired linear and angular velocities.</p>

<p>The robot working: <a href="https://www.youtube.com/watch?v=USnkWeM0EHY" rel="nofollow noreferrer">https://www.youtube.com/watch?v=USnkWeM0EHY</a></p>

<p>For learning more about control, linearising and LQR: <a href="https://www.coursera.org/learn/mobile-robot" rel="nofollow noreferrer">https://www.coursera.org/learn/mobile-robot</a></p>

<p>For specific example with self-balance robot: Lecture 4.4   The Segway Robot of the same course.</p>

<p>The paper which I based my derivation of the dynamical system: Dynamic Analysis of a Nonholonomic Two-Wheeled Inverted Pendulum Robot, YEONHOON KIM*, SOO HYUN KIM and YOON KEUN KWAK, Journal of Intelligent and Robotic Systems (2005) 44: 25 46</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11309" data-toggle = "popover">
				<p>user name : vmatos</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-11309">{'None': 8, 'pose': 0, 'laser': 0, 'lidar': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11309">Load Comments</button></br>
			<div id = "commentsection-11309" class = 'collapse'>
			<div id = "comment-20495" class = "comment">
				<p>I haven't had any exposure to LQR control, and the main purpose of the project was to refresh my memory on concepts that I went over in school (PID,  lead-lag, etc.). I recognize that LQR would be the more elegant solution, and might move forward with that approach after, but some input on incorporating PID control would be appreciated as well. Thanks for the sources, I'll certainly be looking into them.</p>
			</div>
			<div id = "comment-20500" class = "comment">
				<p>Then the approach you listed should be good as a start. Start inside out, with just one PID (angle PID), then add the outside one. Have fun</p>
			</div>
			</div>
				<textarea id = "speech-11309" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11309">
					<img id="start_img-11309" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11309">Comment</button>
			<br><div id = "ans-11340"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11340" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would say gyroscopes, they are what is used in every other engineering discipline. However, I have no experience using gyroscopes with robotics. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11340" data-toggle = "popover">
				<p>user name : Jameson Dennelly</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11340">{'None': 0, 'wifi': -1, 'wheeled-robot': -1, 'line-following': -1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11340">Load Comments</button></br>
			<div id = "commentsection-11340" class = 'collapse'>
			<div id = "comment-20494" class = "comment">
				<p>I'm using a gyro/accelerometer combo for "pendulum" angle measurements, and motor encoders for position measurements.</p>
			</div>
			<div id = "comment-20532" class = "comment">
				<p>@Jeff that's not a real gyroscope, this is a real gyroscope http://cyberneticzoo.com/walking-machines/1981-the-walking-gyro-john-w-jameson-american/</p>
			</div>
			</div>
				<textarea id = "speech-11340" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11340">
					<img id="start_img-11340" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11340">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>