<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Self Driving Robotics Project : ROS or Python
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10938" class = "post">
			<h2>Question</h2>
			<div id="vote-10938" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 194</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Self Driving Robotics Project : ROS or Python</h2>
<p>So, I am working on building a simple self driving tank (small) that needs to navigate a large hall.  I plan to use ultrasonics, LIDAR and a Kinect.  I am pretty happy with how I will build all of this.  My main question is would this be easier to do in ROS or write it in Python.  I have very basic knowledge of ROS but have been programming for many years (Java, Objective C etc).</p>

<p>I assume I will need to load in a basic map of static objects / floor plan.  Use SLAM etc (which I see is possible in Python).</p>

<p>Sorry if this is a vague question. My hoping is someone on here who has used ROS a lot will turn round and say its the way to go</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10938" data-toggle = "popover">
				<p>user name : Burf2000</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-10938">{'python': 0, 'None': 0, 'ros': 0, 'self-driving': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10938">Load Comments</button></br>
			<div id = "commentsection-10938" class = 'collapse'>
			<div id = "comment-19693" class = "comment">
				<p>Welcome to *Robotics*, Burf2000. As it stands, it seems like you have a solution concept, but are maybe lacking in the depth of knowledge required to implement it. For instance, you mention loading a map and using SLAM - SLAM is Simultaneous Localization *and Mapping*. You ask if you should use ROS or Python, but as mentioned in the answer below ROS can be used WITH Python. If you look at a description of the topics of the [ROS tutorials](http://wiki.ros.org/ROS/Tutorials) you will see there's a Python variant of every C++ based tutorial.</p>
			</div>
			<div id = "comment-19694" class = "comment">
				<p>Hopefully I'm not sounding condescending, I'm really not trying to be. My suggestion would be to read more about the topics you are interested in and look at tutorials or other people's projects and see how they were done. When you have a *specific, answerable* question about your project, that's the time to come here for answers.</p>
			</div>
			<div id = "comment-19695" class = "comment">
				<p>Also, if you ever are just looking for advice or how to begin a project, please come join us in [chat]! That's the more appropriate place to ask about references, getting started guides, vendors/manufacturers, etc. Any kind of open-ended question.</p>
			</div>
			<div id = "comment-19700" class = "comment">
				<p>Hey Chuck, thank you, I thought my question may be a little vague.  I am learning ROS and Python as we speak but I was more considering ROS / C vs ROS / Python. It feels that all I need can be done in Python.  I want to give the system a basic map outline, the event will have 16,000 people so it will have plenty to dodge,  Chat sounds the way to go</p>
			</div>
			</div>
				<textarea id = "speech-10938" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10938">
					<img id="start_img-10938" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10938">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10939"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10939" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use both! ROS nodes can be written in python.</p>

<p>I'm doing a similar project and the reusability of ros code is a nice thing to have in mind. ROS also have many things already implemented (even that you want to build everything from scratch).</p>

<p>The message types of ROS will also provide an easier to integrate application, for future projects and expansions.</p>

<p>my advice is to use ROS AND Python</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10939" data-toggle = "popover">
				<p>user name : Ricardo Achilles</p>
				<p> user reputation : 63</p>
				<p class = "tagcontent" id = "usertaginfo-10939">{'odometry': 0, 'None': 3, 'computer-vision': 0, 'occupancygrid': 0, 'localization': 0, 'particle-filter': 0, 'slam': 0, 'imu': 0, 'sensor-fusion': 0, 'mobile-robot': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10939">Load Comments</button></br>
			<div id = "commentsection-10939" class = 'collapse'>
			<div id = "comment-19691" class = "comment">
				<p>Do you fancy sharing some ideas etc, are you putting stuff in GitHub</p>
			</div>
			<div id = "comment-19692" class = "comment">
				<p>Sure, i dont have much done, but it's all on www.github.com/rachillesf</p>
			</div>
			<div id = "comment-19699" class = "comment">
				<p>Thanks dude, mine is here, I will be uploading lots soon https://github.com/burf2000</p>
			</div>
			</div>
				<textarea id = "speech-10939" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10939">
					<img id="start_img-10939" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10939">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>