<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Self answer was removed
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2581" class = "post">
			<h2>Question</h2>
			<div id="vote-2581" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Self answer was removed</h2>
<p>Just wondering if you can have an answer removed here without any indication that it has been removed? No admin comments, no downvotes, nothing. Just an answer disappear?</p>

<p>I answered a couple of my own questions and saw that one got downvoted, so I'm assuming this is a community no-no simply answering your own question?</p>

<p>Another I answered (submitted some time ago), with what I thought to be a concise, useful answer that did not exist anywhere on the site, and it is just gone, with nothing indicating why.</p>

<p>I'm not one to care much about Karma or reputation. I'm more concerned about getting banned or not being able to post for a while.</p>

<p>Thanks,</p>

<p>Chris</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2581" data-toggle = "popover">
				<p>user name : Chris Gleason</p>
				<p> user reputation : 133</p>
				<p class = "tagcontent" id = "usertaginfo-2581">{'None': 0, 'discussion': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2581">Load Comments</button></br>
			<div id = "commentsection-2581" class = 'collapse'>
			<div id = "comment-5825" class = "comment">
				<p>Okay, it was never removed. It was pushed up the list of answers and I just didn't see it. Sorry for whining!</p>
			</div>
			<div id = "comment-5827" class = "comment">
				<p>"I answered a couple of my own questions and saw that one got downvoted, so I'm assuming this is a community no-no simply answering your own question?" -- just wanted to point out that this is *NOT* a no-no on Stack Exchange. Answer away! Even your own questions! There's even a facility to post an answer to a question at the _same time_ you post the question! :D</p>
			</div>
			</div>
				<textarea id = "speech-2581" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2581">
					<img id="start_img-2581" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2581">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2582"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2582" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes. Posts can simply be deleted. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2582" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2582">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2582" class = 'collapse'>
			</div>
				<textarea id = "speech-2582" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2582">
					<img id="start_img-2582" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2582">Comment</button>
			<br><div id = "ans-2583"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2583" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Posts, both questions and answers, can be deleted by elected moderators (denoted by the diamond) and those who have the necessary reputation to cast delete votes on posts.</p>

<p>However, these posts aren't actually deleted. The original poster of the question or answer can always view their own deleted posts, even if the post was deleted by a moderator rather than themselves. Furthermore, deleted questions and answers are visible to those who have sufficient reputation and a link to the post.</p>

<p>The posts are hidden from the user profile (except to elected moderators) but you can see your own recently deleted posts by clicking the button at the bottom of the questions/answers tab on your profile activity.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2583" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2583">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2583">Load Comments</button></br>
			<div id = "commentsection-2583" class = 'collapse'>
			<div id = "comment-5826" class = "comment">
				<p>+1, the wording is awkward, although to the majority of people except those identified in this answer an answer can appear to be deleted, in reality it's just hidden.  It is possible to go one step further and genuinely remove it, this usually requires "destroying" the user and all their content, usually when dealing with SPAM accounts etc.</p>
			</div>
			</div>
				<textarea id = "speech-2583" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2583">
					<img id="start_img-2583" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2583">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>