<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Self Powered Quadcoptor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4704" class = "post">
			<h2>Question</h2>
			<div id="vote-4704" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 894</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Self Powered Quadcoptor</h2>
<p>I have this idea or a very curious question in my mind. I am no where near professional though, but i would like it to be answered. </p>

<p>We all know how wind turbines can be used to generate electricity. So is it possible to create a quadcoptor that will start with some minimal power by small battery but in time will sustain and keep its system on by self generating electricity and keep on rotating its rotors on its own without other external supply? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4704" data-toggle = "popover">
				<p>user name : monk</p>
				<p> user reputation : 130</p>
				<p class = "tagcontent" id = "usertaginfo-4704">{'quadcopter': 5, 'None': 0, 'raspberry-pi': 0, 'arduino': 0, 'python': 0, 'multi-rotor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4704">Load Comments</button></br>
			<div id = "commentsection-4704" class = 'collapse'>
			<div id = "comment-7350" class = "comment">
				<p>How you want to generate this electricity? 
There are already some solutions with photovoltaics on the market, but this systems are far away from being a "good" quadrocopter</p>
			</div>
			<div id = "comment-7351" class = "comment">
				<p>well, that is what i am asking.. is it possible to generate electricity, by the rotation of rotors??</p>
			</div>
			<div id = "comment-7352" class = "comment">
				<p>Definetly not!!
Because you just cannot let a motor rotate and get more energy out of it with a generator. This would a perpetual motion machine. This is fortunately impossible.</p>
			</div>
			<div id = "comment-7353" class = "comment">
				<p>I think monk means using other rotors than the ones used for lift. I would say it is not possible, because in a turbine you use the wind speed relative to the ground to generate electricity. In a quadcopter there is no fixed ground and you would have to expend power to stay fixed relative to the ground. But then again there are things like this car:
http://www.wired.com/2012/07/wind-powered-car-upwind/ showing that (my) intuition cannot be always trusted :-)</p>
			</div>
			<div id = "comment-7355" class = "comment">
				<p>Well you can say this works under certain circumstances, but you will need an energyflow into the system. So you need a windy day or whatever, nothing that works in general.</p>
			</div>
			<div id = "comment-16992" class = "comment">
				<p>@TobiasK: you mean *un*fortunately?</p>
			</div>
			<div id = "comment-16996" class = "comment">
				<p>@BendingUnit22 : No I meant "fortunately". Let us do a little "gedankenexperiment": Just imagine that such a simple tool exist. You take a wheel and let it spin by putting energy into the system (with potential energy of water, electricity or wind....whatever you like to imagine). Now you are able to take energy out of the system e.g. lifing some mass or move some electrons. But you will never get more energy then you put into it (there are tons of different conservation principles which are telling this). So now imagine you get more energy out of it.</p>
			</div>
			<div id = "comment-16997" class = "comment">
				<p>You will literally end up destroying everything. If such simple mechanisms enable you to literally "produce" energy, then this would happen all over the universe, all the time. Everywhere we would get lot of energy, and at the end the planet earth would never exist at all. So I'm glad we are not able to build perpetual machines.</p>
			</div>
			<div id = "comment-16999" class = "comment">
				<p>https://xkcd.com/1378/</p>
			</div>
			<div id = "comment-17000" class = "comment">
				<p>@TobiasK: just because something is possible doesn't mean that it happens all over the universe and all the time, see life for example.</p>
			</div>
			<div id = "comment-17002" class = "comment">
				<p>Well first, we are talking about a simple thing like a spinning wheel which is generating electricity and second: who is saying life is unique? We haven't look for it properly. We managed to look at one moon and on some square kilometers of the next planet... bot really convincing</p>
			</div>
			</div>
				<textarea id = "speech-4704" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4704">
					<img id="start_img-4704" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4704">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4709"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4709" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A quadcopter flies because the propellers put the air into motion, which generates a lift. This relies on the air flow around the propellers being relatively unobstructed. As you might imagine it would not fly if you obstructed the propellers with pieces of cardboard for instance.</p>

<p>Wind turbines generate electricity from the wind. If you measured the wind speed before and after the turbine you would see that the wind speed has decreased after passing through the turbine. As such they do obstruct the air flow.</p>

<p>Let's imagine a system with a quadcopter propeller and a wind turbine just underneath it. Because the turbine reduces the wind speed coming out of the whole system, it also reduces the quadcopter lift. To make things worse, the conservation of energy tells us that in an ideal system you can only collect as much energy as what is required to create the lift you lost. In a real system you collect <strong>less</strong> energy than the lift you lost. So not only would you reduce the lift, you would also collect less energy than what is required to produce the wasted lift.</p>

<p>So I'm afraid the answer is a no. Sorry.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4709" data-toggle = "popover">
				<p>user name : marcv81</p>
				<p> user reputation : 408</p>
				<p class = "tagcontent" id = "usertaginfo-4709">{'None': 22, 'pid': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4709" class = 'collapse'>
			</div>
				<textarea id = "speech-4709" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4709">
					<img id="start_img-4709" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4709">Comment</button>
			<br><div id = "ans-4710"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4710" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Generating electricity by rotation of rotors</h2>

<p>Yes, electric power generators and electric motors are often similar enough to do both tasks -- converting electrical energy to mechanical energy at one time (such as on takeoff), and converting mechanical energy to electrical energy at some other time (such as during landing).</p>

<p>Any system that takes (mechanical) energy out of the wind and converts it to electrical energy is a <a href="http://en.wikipedia.org/wiki/wind_turbine" rel="nofollow noreferrer">wind turbine</a>.
Pretty much all commercial wind turbines are mounted on top of a rigid tower.</p>

<h2>Generating electricity in the air without a rigid tower</h2>

<p>A few <a href="http://en.wikipedia.org/wiki/airborne_wind_turbine" rel="nofollow noreferrer">airborne wind turbines</a> have been demonstrated.
They convert some of the energy of the wind into electrical energy, and simultaneously use the wind (or balloons) to stay aloft.</p>

<p>All airborne wind turbines that I've seen so far have one or two steel cables tethering them to a winch on the ground.</p>

<p>Airborne wind turbines can potentially produce more electric power at lower cost than wind turbines on a tower.
The cost is lower because a kilometer of steel cable that can support a few tons of tension from the wind is much simpler and lower cost than a 220 meter tower that can resist a ton of bending force from the wind.
The electric power is (potentially) higher because airborne wind turbines can fly higher than a tower, where the wind usually blows faster (has more mechanical energy) than it does closer to the ground.</p>

<p>Other parts of airborne wind turbines are much more complicated than putting wind turbines on a tower.</p>

<h2>Generating electricity in the air without any connection to the ground</h2>

<p>Many airplanes have a <a href="http://en.wikipedia.org/wiki/ram_air_turbine" rel="nofollow noreferrer">ram air turbine</a> that can generate electricity in the air.</p>

<p>While one might think that the first law of thermodynamics (conservation of energy) might make it impossible to generate more electrical energy with a ram air turbine than the energy is consumed keeping the airplane in the air, a careful analysis shows that there's no physical law that makes it impossible to generate electricity in the air without any connection to the ground.</p>

<p>However, it seems to me that it would be more difficult than keeping a glider in the air, which is already tricky enough.</p>

<p>In principle, gliders can stay aloft indefinitely by extracting energy from the wind (typically from updrafts).
In practice <a href="http://en.wikipedia.org/wiki/flight_endurance_record" rel="nofollow noreferrer">Charles Atger</a> managed to keep a glider in the air 56 hours 15 minutes in 1952.
The FAI stopped recognizing new glider flight-time endurance records after that due to safety concerns.
Occasionally <a href="http://en.wikipedia.org/wiki/cloud_suck" rel="nofollow noreferrer">"cloud suck"</a> updrafts put far more energy into a glider than is safe.
In principle a ram air turbine could convert some of that excess energy into electrical energy.</p>

<h2>Quadrotors generating electric power</h2>

<p>EDIT:
In response to comments that mathematically "prove" that quadrotors use up more electric power just staying airborne than they could possibly generate, let me point out that</p>

<p><em>"If it happens, it must be possible."</em></p>

<p>See the 4-rotor (and therefore quadrotor, right?) flying machine photographs in
<a href="http://inhabitat.com/top-secret-google-x-buys-airborne-wind-turbine-company-makani-power/" rel="nofollow noreferrer">Google X Buys Airborne Wind Turbine Company Makani Power</a>; <a href="http://www.google.com/makani/technology/" rel="nofollow noreferrer">Makani technology</a>, <a href="https://plus.google.com/+makani/photos" rel="nofollow noreferrer">Makani photos</a>, etc.</p>

<p>In particular,</p>

<p><img src="https://i.stack.imgur.com/KNwqt.jpg" alt="Wing 7 generating power"></p>

<p>"A composite image of Wing 7 generating power autonomously during crosswind flight. Photo by Andrea Dunlap, composite work by Anita Tirapelle." --
<a href="https://plus.google.com/+makani/photos/photo/5672410613505989778?pid=5672410613505989778&amp;oid=111579908374957776413" rel="nofollow noreferrer">(Wing 7 generating power)</a></p>

<p><img src="https://i.stack.imgur.com/mnlV8.jpg" alt="Wing 7 on the ground"></p>

<p><a href="https://plus.google.com/+makani/photos/photo/5696078333974767394?pid=5696078333974767394&amp;oid=111579908374957776413" rel="nofollow noreferrer">(Wing 7 on the ground)</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4710" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-4710">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4710">Load Comments</button></br>
			<div id = "commentsection-4710" class = 'collapse'>
			<div id = "comment-7373" class = "comment">
				<p>A lot of interesting information about other types of aircrafts than quadcopters. You might want to remind the OP that it would not apply to multicopters or helis.</p>
			</div>
			<div id = "comment-7375" class = "comment">
				<p>I suspect that "cloud suck" applies to every kind of aircraft, including quadcopters. Why doesn't it apply to multicopters or helis?</p>
			</div>
			<div id = "comment-7377" class = "comment">
				<p>Cloud suck does apply. Let's do the maths. A typical quadcopter weights 1kg (with battery), has a 3300mAh 11.1V battery (3S), and flies for 15 minutes. 3300mAh at 11.1V is 36.6Wh = 131.8kJ. The same potential energy for a 1kg mass represents a 13.4km gain in altitude. Assuming a 100% energy efficiency in your wind turbine you'd have to gain 13.4km from cloud suck in 15 minutes to keep the same charge in your battery. Well built turbines (not hobby grade) have a 50% efficiency, so plan on 26.8km. You don't get that much cloud suck every day!</p>
			</div>
			<div id = "comment-7378" class = "comment">
				<p>In comparison gliders don't need to spend any energy to carry on gliding. Quadcopters and helicopters need to spend energy just for the privilege of staying airborne, hence the different treatment.</p>
			</div>
			</div>
				<textarea id = "speech-4710" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4710">
					<img id="start_img-4710" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4710">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>