<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Self-locking actuator: Friction versus worm gear
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4903" class = "post">
			<h2>Question</h2>
			<div id="vote-4903" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 899</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Self-locking actuator: Friction versus worm gear</h2>
<p>I am planning to control my bicycle derailleur with an electronic circuit, the advantages being multiple but not topic of this question.</p>

<p>The actuation would be performed by placing the assembly very close to the derailleur (but not on it) and by winding the usual steel cable around a spool placed on axis of a gear, and by using a motor to turn the gear. </p>

<p>This question concerns the alternatives for the spool self-locking mechanism (and eventually the kind of motor to use).</p>

<p>In the literature I found <a href="http://nabilt.github.io/diy_eshift/" rel="nofollow">http://nabilt.github.io/diy_eshift/</a> and other similar ones that directly modify the derailleur with a stepper motor, and then are forced to keep the stepper motor powered up all the time to keep some torque on the shaft. I consider this inefficient, therefore I require a self-locking system to be able to remove power.</p>

<p>I come up with two ideas:</p>

<ul>
<li>worm gear operated by a DC motor, where the steel cable is wound around the gear. This system is self-locking or almost self-locking, according to the gear ratio: the gear cannot (easily) drive the worm.</li>
<li>a motor driving normal gears with an appropriate reduction factor, but with an additional friction element, whose friction force is greater than the strength of the spring mounted on the derailleur (sorry if I mixed the technical terms). This is what normal bicycles already have: the friction along the cable and in the element placed n the handle is high and keeps the derailleur in place.</li>
</ul>

<p>Both system would be assisted by a position-sensitive element (a trimmer?) to detect the actual position of the gear and/or of the derailleur, all configured in a closed feedback loop.</p>

<p>I don't consider additional options for the gear such as this one: <a href="http://www.agma.org/assets/uploads/publications/10FTM17_Kapelevich.pdf" rel="nofollow">http://www.agma.org/assets/uploads/publications/10FTM17_Kapelevich.pdf</a> that consists of parallel-axis gears, whose teeth are however shaped in a manner to achieve self-locking without the need of a low-efficiency worm system.</p>

<p>From my point of view, I cannot see any clear advantage of worm gear vs friction except for:</p>

<ul>
<li>the worm gear may allow me to build a more compact assembly, thanks to the two axes being perpendicular</li>
<li>speed vs torque: worm gears reduce the torque requirements, but the motor has to spin a lot and I cannot wait 3 seconds for each gear change.</li>
</ul>

<p>Concerning the choice of the motor type (this is not the main question though), I think that:</p>

<ul>
<li>a worm gear allows me to easily use a DC motor, since torque requirements are low and I don't need to detect the position of the shaft. Moreover, DC motors increase torque with decreasing speed, while stepper motors have the maximum torque defined by the stepping frequency.</li>
<li>DC are more compact and cheaper, important if I decide to offer this assembly as a kit and not unique, personal prototype.</li>
<li>I am working with 5V supply and I fear most easy-to get DC motors (old printers, scrap electronics) work on 12V, with a significant reduction of the available torque when operated at 5V.</li>
</ul>

<p>I was looking for a "mechanics" section in Stack Exchange but I couldn't find it, so I opted for Robotics instead of Electronics.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4903" data-toggle = "popover">
				<p>user name : OlafM</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-4903">{'brushless-motor': 0, 'None': 0, 'stepper-motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4903">Load Comments</button></br>
			<div id = "commentsection-4903" class = 'collapse'>
			<div id = "comment-9379" class = "comment">
				<p>You can influence worm gears to some extent by getting a different worm pitch and gearing up the output, dont give up on it so fast.</p>
			</div>
			</div>
				<textarea id = "speech-4903" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4903">
					<img id="start_img-4903" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4903">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4924"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4924" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like what you're looking for is a <a href="http://en.wikipedia.org/wiki/Ratchet_(device)" rel="nofollow noreferrer">pawl</a>.  </p>

<p><a href="http://en.wikipedia.org/wiki/Ratchet_(device)" rel="nofollow noreferrer"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Ratchet_Drawing.svg/320px-Ratchet_Drawing.svg.png" alt="ratchet and pawl"></a></p>

<p>This would allow you to passively lock the gear, and when you wanted to loosen the tension on the cable you would just use a solenoid to disengage the pawl. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4924" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4924">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4924">Load Comments</button></br>
			<div id = "commentsection-4924" class = 'collapse'>
			<div id = "comment-7641" class = "comment">
				<p>He couldn't reverse direction easily with a pawl. Shifting up isn't fun if you can't shift down.</p>
			</div>
			<div id = "comment-7654" class = "comment">
				<p>Why couldn't he?</p>
			</div>
			<div id = "comment-7656" class = "comment">
				<p>Ah, didn't see your note about a solenoid release.</p>
			</div>
			<div id = "comment-7662" class = "comment">
				<p>But the locking should not be stepwise, it should be continuous, because the steps between gears are not fixed (they depend also on the cable deformation and other factors).</p>
			</div>
			<div id = "comment-7663" class = "comment">
				<p>Moreover, isn't this system increasing complexity too much? it requires a pawl and an additional solenoid, while the friction is a simple disc that can be mounted on axis with the gears and the "self-locking" worm gear would require no other modifications at all.</p>
			</div>
			<div id = "comment-7673" class = "comment">
				<p>It would be up to you to determine the appropriate number of gear teeth per inch of movement on the cable in order to properly shift, then provide the appropriate gearing on which to put the pawl.</p>
			</div>
			<div id = "comment-7674" class = "comment">
				<p>Regarding worm gears, you said "the motor has to spin a lot and I cannot wait 3 seconds for each gear change".  This is a way to avoid worm gears and still have a reliable lock that does not require energy to maintain.</p>
			</div>
			<div id = "comment-9701" class = "comment">
				<p>The concept of the pawl is good, I don't doubt it, but I see it as complex to implement: are there ready-made assemblies less than 5x5x2 cm big? not to mention that the actuation also requires preloading the motor to the proper value that won't make it shift up but also avoids falling down, then actuating the solenoid.</p>
			</div>
			</div>
				<textarea id = "speech-4924" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4924">
					<img id="start_img-4924" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4924">Comment</button>
			<br><div id = "ans-6736"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6736" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I suggest the worm gear. In our projects we use worm gear for having reliable locking characteristics without draining the batteries. If your only concern is the operation time, you can simply add one more gear to reduce the torque and increase the speed. In that case, you can use the benefits of a reliable locking system and faster operation. It will come with the expense of having a bigger motor and battery though. Keep in mind that vibrations can have a very bad effect on your friction-based lock.</p>

<p>To detect actual position of your derailleur, I suggest using a <a href="http://en.wikipedia.org/wiki/Rotary_encoder" rel="nofollow">rotary encoder</a>. I don't think you need to have a second feedback sensor on your gear and it will just overcomplicated the problem.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6736" data-toggle = "popover">
				<p>user name : BarzinM</p>
				<p> user reputation : 316</p>
				<p class = "tagcontent" id = "usertaginfo-6736">{'None': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6736">Load Comments</button></br>
			<div id = "commentsection-6736" class = 'collapse'>
			<div id = "comment-9677" class = "comment">
				<p>The Hall sensor used as feedback has the advantage that detects the final position, while a rotary encoder on the gear would not know about loosening of the cable, temperature expansion, ...</p>
			</div>
			<div id = "comment-9681" class = "comment">
				<p>I was thinking about putting the encoder on derailleur's joint. Your idea should work just fine too. In case you decided to go with hall sensor, consider adding a low pass filter.</p>
			</div>
			<div id = "comment-14402" class = "comment">
				<p>I don't quite understand how a worm gear could be used as a locking mechanism. Care to elaborate a bit?</p>
			</div>
			</div>
				<textarea id = "speech-6736" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6736">
					<img id="start_img-6736" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6736">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>