<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>sending and receiving parameters to ardupilot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2114" class = "post">
			<h2>Question</h2>
			<div id="vote-2114" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1138</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>sending and receiving parameters to ardupilot</h2>
<p>I am interested in getting an arducopter with an ardupilot(APM). I read through the documentation and from what I understand, ardupilot is the low level hardware and firmware that directly controls the motors of the arducoptor. </p>

<p>I would like to know if there is a higher level programmatic interface to the ardupilot? The mission planner provides a user interface to control the ardupilot. But is there a programmatic interface to control it?</p>

<p>In other words, would it be possible for a user written 'linux process' to receive and send sensory data to and from the ardupilot respectively?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2114" data-toggle = "popover">
				<p>user name : Jay</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-2114">{'quadcopter': 3, 'None': 0, 'ardupilot': 3, 'kit': -5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2114" class = 'collapse'>
			</div>
				<textarea id = "speech-2114" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2114">
					<img id="start_img-2114" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2114">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2118"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2118" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, there is programmatic interface. Like many autopilot systems the Ardupilot uses a protocol called <a href="http://qgroundcontrol.org/mavlink/start" rel="nofollow">Mavlink</a>. It allows for both sending commands and receiving telemetry data. It also allows for managing the data that is sent to the ground control system to avoid overburdening ones communication link. There is support for Mavlink in C and python as well as a ROS library (see <a href="https://github.com/mavlink" rel="nofollow">Mavlink Github</a>).</p>

<p>Furthermore this can be used for onboard control via a single board computer (SBC) such as a Raspberry Pi, Gumstix, or PCduino by interfacing the preferred SBC with the Ardupilot XBee port which is really just a TTL level serial.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2118" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-2118">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2118">Load Comments</button></br>
			<div id = "commentsection-2118" class = 'collapse'>
			<div id = "comment-4207" class = "comment">
				<p>I went through that link. It seems to imply that mavlink can be used for enabling communication between the arducoptor and the ground control station(GCS) through a radio link.  But I would like to know if it is possible to interface a single board computer like the raspberry pi for example, directly with the ardupilot? I believe this opens up many more possibilities. Most of all, this allows the arducopter to be autonomous without having to depend on a ground control station if need by.</p>
			</div>
			<div id = "comment-4208" class = "comment">
				<p>In short, the answer is again yes. See my updated answer.</p>
			</div>
			</div>
				<textarea id = "speech-2118" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2118">
					<img id="start_img-2118" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2118">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>