<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sending commands to Roomba from PC
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6782" class = "post">
			<h2>Question</h2>
			<div id="vote-6782" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 590</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sending commands to Roomba from PC</h2>
<p>I'm trying to send some commands to the Roomba. However is behaving strange.</p>

<p>This is the manual that I'm using.
<a href="http://www.irobot.com/~/media/MainSite/PDFs/About/STEM/Create/create_2_Open_Interface_Spec.pdf" rel="nofollow">http://www.irobot.com/~/media/MainSite/PDFs/About/STEM/Create/create_2_Open_Interface_Spec.pdf</a>  </p>

<p>First of all. I have consulted several manuals, some of them say that the default baudrate is 115200, however it works for me at 57200. </p>

<p>I'm trying to get a response from the Roomba sending the following comand </p>

<p>Examples:
  To turn on iRobot Create s Play LED only:
128 132 139 2 0 0</p>

<p>However, the Roomba goes crazy and start going around. Any idea what's happening or what I'm not doing? Or what should I do first? </p>

<p>Thank you. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6782" data-toggle = "popover">
				<p>user name : anfedres</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-6782">{'None': 0, 'roomba': 1, 'irobot-create': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6782">Load Comments</button></br>
			<div id = "commentsection-6782" class = 'collapse'>
			<div id = "comment-9798" class = "comment">
				<p>what version of Roomba do you have?</p>
			</div>
			</div>
				<textarea id = "speech-6782" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6782">
					<img id="start_img-6782" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6782">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6820"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6820" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>iRobot Create and Rommba does not support the same functionality. A SCI manual for the Roomba could be found here: <a href="http://www.robotappstore.com/files/KB/Roomba/Roomba_SCI_Spec_Manual.pdf" rel="nofollow">Roomba SCI spec</a>.</p>

<p>It works for me by sending plain byte sequence's.</p>

<p>Could you add some more information to your question:</p>

<ul>
<li>How do you connect to the Roomba physical?</li>
<li>How are you sending data to the Roomba logical?</li>
</ul>

<p>Meta Remark: I would like to use the comment function but do not have enough reputation. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6820" data-toggle = "popover">
				<p>user name : Tob</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-6820">{'None': 1, 'roomba': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6820">Load Comments</button></br>
			<div id = "commentsection-6820" class = 'collapse'>
			<div id = "comment-9799" class = "comment">
				<p>Yes, the Roomba does not support the same API as the command module in the old Create.  However, the Create has been re-released (as Create 2) with no command module.  Now the only interface is SCI (Serial Command Interface) aka OI (Open Interface).  This hasn't changed much from version to version, and I believe even the old Create supported it.  The link you posted is for older Roombas, the link anfedres posed is for Roombas version 500 and above.</p>
			</div>
			</div>
				<textarea id = "speech-6820" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6820">
					<img id="start_img-6820" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6820">Comment</button>
			<br><div id = "ans-6872"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6872" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your robot communicates at 57600 baud, then it is a Roomba 400 series robot, and you should use the manual that En3rGy posted, not the one for Create 2. That said, the LEDs command (139) is identical in all versions of Create and Roomba, so clearly something else is going on. Try a baud rate of 57600. It's possible that when you send data at 57200, some data corruption is happening as Create tries to interpret it at 57600 baud.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6872" data-toggle = "popover">
				<p>user name : Andrea</p>
				<p> user reputation : 209</p>
				<p class = "tagcontent" id = "usertaginfo-6872">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6872" class = 'collapse'>
			</div>
				<textarea id = "speech-6872" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6872">
					<img id="start_img-6872" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6872">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>