<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sending commands from Ubuntu
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8731" class = "post">
			<h2>Question</h2>
			<div id="vote-8731" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 410</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sending commands from Ubuntu</h2>
<p>I have a iRobot Create model 4400 and I need to send commands to the open interface through Ubuntu. I'm using gtkterm at 57600 baud but when I press play button, it only drives around itself. I have tried to send commands as raw data and as hexadecimal data but it doesn't work.</p>

<p>What am I doing wrong?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8731" data-toggle = "popover">
				<p>user name : Samuel Fraga Mateos</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-8731">{'None': 0, 'roomba': 4, 'irobot-create': 4, 'linux': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8731" class = 'collapse'>
			</div>
				<textarea id = "speech-8731" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8731">
					<img id="start_img-8731" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8731">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8735"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8735" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you tried sending the example commands from <a href="http://www.irobot.com/filelibrary/create/Create%20Manual_Final.pdf" rel="nofollow">the manual</a>?</p>

<p>Make sure you are entering an OI mode before you try to send an actuator command or sensor reading command. Otherwise, the commands will be ignored.</p>

<p>Posting the commands you are sending would also be helpful in understanding the problem you are having.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8735" data-toggle = "popover">
				<p>user name : Jonathan</p>
				<p> user reputation : 177</p>
				<p class = "tagcontent" id = "usertaginfo-8735">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8735" class = 'collapse'>
			</div>
				<textarea id = "speech-8735" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8735">
					<img id="start_img-8735" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8735">Comment</button>
			<br><div id = "ans-8739"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8739" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Roomba expects binary data.  When you type in gtkterm, you are sending <a href="http://www.asciitable.com/" rel="nofollow noreferrer">ASCII</a> data.  (Unless there is a feature of gtkterm i don't know about).  For example when you type "128" into the terminal, you are actually sending 3 bytes of data: [49 50 56].  And because many commands of the <a href="http://www.irobot.com/~/media/MainSite/PDFs/About/STEM/Create/create_2_Open_Interface_Spec.pdf?la=en" rel="nofollow noreferrer">OI Spec</a> are outside the typeable ASCII range, using the terminal in this manner won't work.</p>

<p>You should use a programming language such as <a href="https://robotics.stackexchange.com/questions/7158/c-and-create2">C</a>, <a href="https://robotics.stackexchange.com/questions/7018/irobot-create-2-c-connection">C#</a>, <a href="https://robotics.stackexchange.com/questions/6831/where-can-i-get-openinterface-py">Python</a>, etc to send the data packet.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8739" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8739">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8739">Load Comments</button></br>
			<div id = "commentsection-8739" class = 'collapse'>
			<div id = "comment-15000" class = "comment">
				<p>Finally I've used Python and Pyserial library. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-8739" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8739">
					<img id="start_img-8739" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8739">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>