<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>SENotifier, a Stack Exchange inbox notifier for Mac OS X
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1149" class = "post">
			<h2>Question</h2>
			<div id="vote-1149" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">20</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 499</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>SENotifier, a Stack Exchange inbox notifier for Mac OS X</h2>
<p>I've put together a <a href="https://stackapps.com/questions/3081/senotifier-a-stack-exchange-inbox-notifier-for-mac-os-x">status bar notifier for Stack Exchange sites</a> (inspired by Google Notifier) and I thought I'd ask here to get some feedback on a couple of things.</p>

<p><a href="http://hewgill.com/senotifier/senotifier.png" rel="nofollow noreferrer">screenshot http://hewgill.com/senotifier/senotifier.png</a></p>

<p>I've developed this on Lion and am curious about whether it works on previous releases of OS X (or whether this even matters very much, in practical terms). This is my first Mac OS X app ever, so I'm not even sure what issues are important.</p>

<p>Also, it sort of needs an application icon, so if you're feeling inclined, artwork would get you a mention and a link in the About panel!</p>

<p>Any other comments and suggestions are welcome.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1149" data-toggle = "popover">
				<p>user name : Greg Hewgill</p>
				<p> user reputation : 277</p>
				<p class = "tagcontent" id = "usertaginfo-1149">{'None': 0, 'discussion': 20, 'inbox': 20}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1149">Load Comments</button></br>
			<div id = "commentsection-1149" class = 'collapse'>
			<div id = "comment-2078" class = "comment">
				<p>So cool - I will check this out when I'm back in front of a Mac. Thanks for sharing!</p>
			</div>
			<div id = "comment-2079" class = "comment">
				<p>Thanks so much for this!</p>
			</div>
			<div id = "comment-2080" class = "comment">
				<p>Looks great - sounds like you need some Beta Testers tho ;) ;)</p>
			</div>
			<div id = "comment-2081" class = "comment">
				<p>@GregHewgill I've been waiting for such a tool for OSX ever since I saw it for Ubuntu! Thank you!</p>
			</div>
			<div id = "comment-2138" class = "comment">
				<p>I have a draft for the icon  It's nothing impressive, but what do you think? Do you want something more original? http://i.imgur.com/CQFKm.png</p>
			</div>
			</div>
				<textarea id = "speech-1149" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1149">
					<img id="start_img-1149" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1149">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1162"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1162" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To answer your question about its compatibility with previous versions of Mac OS X, I encountered an error when trying to run the program on my Panther machine. So it does not work on 10.3.9.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1162" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1162">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1162">Load Comments</button></br>
			<div id = "commentsection-1162" class = 'collapse'>
			<div id = "comment-2114" class = "comment">
				<p>Thanks, I might have predicted that. :) I've tried it on 10.6 so it appears to work there too, but since I've used ARC it's unlikely to work on 10.5 or earlier.</p>
			</div>
			</div>
				<textarea id = "speech-1162" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1162">
					<img id="start_img-1162" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1162">Comment</button>
			<br><div id = "ans-1203"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1203" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I noticed the layout for OpenID-based logins is a bit weird (tested on OS X 10.7.3):</p>

<p><img src="https://i.imgur.com/IVUQr.png" alt="Screenshot"></p>

<p>Just a heads up.</p>

<p>Thanks for your work on this wonderful app!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1203" data-toggle = "popover">
				<p>user name : Mathias Bynens</p>
				<p> user reputation : 6839</p>
				<p class = "tagcontent" id = "usertaginfo-1203">{'status-bydesign': 4, 'None': 6, 'bug': 4, 'site-promotion': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1203">Load Comments</button></br>
			<div id = "commentsection-1203" class = 'collapse'>
			<div id = "comment-2205" class = "comment">
				<p>Thanks. I noticed this too, but nothing I've been able to do seems to change the look. It's just a totally ordinary OS-provided WebView, so I'm not sure what's going on. I'll keep looking though.</p>
			</div>
			<div id = "comment-2206" class = "comment">
				<p>@GregHewgill That s weird indeed, as it renders as expected in Safari/WebKit. Strange!</p>
			</div>
			</div>
				<textarea id = "speech-1203" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1203">
					<img id="start_img-1203" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1203">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>