<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sensing an actuator using vision
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12717" class = "post">
			<h2>Question</h2>
			<div id="vote-12717" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sensing an actuator using vision</h2>
<p>I am looking forward for a method to sense in real time, using computer vision for a control application.</p>

<p>For this I am unsure of which is the right platform . I am well versed with MATLAB, but I am wondering if it will be able to do the image processing in real time or not.</p>

<p>If there are other platforms which are much quicker, you can please recommend me.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12717" data-toggle = "popover">
				<p>user name : qwerty123</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-12717">{'control': 0, 'None': 0, 'computer-vision': 0, 'design': 1, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12717">Load Comments</button></br>
			<div id = "commentsection-12717" class = 'collapse'>
			<div id = "comment-22736" class = "comment">
				<p>Welcome to *Robotics* qwerty123, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works, and the [*Robotics* question checklist](https://robotics.meta.stackexchange.com/q/1302/37) for details of how to write a good question.</p>
			</div>
			<div id = "comment-22737" class = "comment">
				<p>If you are ever unsure about a Matlab toolbox, just call Mathworks and ask for a trial. I've used several trials in the past and, as I recall, the trial periods are pretty generous - I believe about 30 days. Speed is all relative to what you're trying to do but, in general, the fastest programs run in C++.</p>
			</div>
			</div>
				<textarea id = "speech-12717" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12717">
					<img id="start_img-12717" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12717">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12723"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12723" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>MATLAB is a very powerful platform for doing such applications. I recommend you using it. You can get your images using a USB camera, implement whatever functions to your captured images and then plot your results in a GUI charts or tabs. </p>

<p>Other software you can use is LabVIEW of NI, but you have to know how to use a function block diagram programming language.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12723" data-toggle = "popover">
				<p>user name : Ahmed M.Zahran</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-12723">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12723" class = 'collapse'>
			</div>
				<textarea id = "speech-12723" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12723">
					<img id="start_img-12723" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12723">Comment</button>
			<br><div id = "ans-12730"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12730" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I didn't work on matlab with vision,but if you want another choice you can always use c++/in visual studio with opencv libraries 
Or java in eclipse,but opencv function for c++ are easier and there are much more tutorials</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12730" data-toggle = "popover">
				<p>user name : Abdull</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-12730">{'control': 0, 'None': 1, 'robotic-arm': 0, 'pid': 0, 'microcontroller': 1, 'precise-positioning': 0, 'legged': 0, 'servomotor': 1, 'motor': 0, 'mobile-robot': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12730" class = 'collapse'>
			</div>
				<textarea id = "speech-12730" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12730">
					<img id="start_img-12730" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12730">Comment</button>
			<br><div id = "ans-13933"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13933" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The branch of science that is binding vision and control is called visual servoying. You can find visp written in cpp or matlab implementations. Check also if visp is having a matlab bridge/api. If you have a professional robot (not a diy one ) i think ROS + visp will be a good start.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13933" data-toggle = "popover">
				<p>user name : Mark Nabil</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-13933">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13933" class = 'collapse'>
			</div>
				<textarea id = "speech-13933" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13933">
					<img id="start_img-13933" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13933">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>