<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sensor orientation of an external magnetometer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8150" class = "post">
			<h2>Question</h2>
			<div id="vote-8150" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 425</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sensor orientation of an external magnetometer</h2>
<p>On many drones are already external magnetometers. Unfortunately, the orientation of such sensors is sometimes unknown. E.g. the sensor can be tilted 180  (pitch/roll) or X  in yaw. I was wondering, whether one could calculate the rotation of the sensor relative to the vehicle by application of the accelerometer and gyrometer?
Theoretically, the accelerometer yields a vector down and can be used for calculation of the coordinate system. The discrepancy between magnetometer and gyrometer then, may be used for calculation of the correct orientation of the compass. Later the compass should be used for yaw calculation. 
Below is the starting orientation of both sensors (just an example, the orientation of the compass can be anything). Does someone know a good way to figure out the rotation of the compass? </p>

<p><a href="https://i.stack.imgur.com/JbG8H.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/JbG8H.png" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8150" data-toggle = "popover">
				<p>user name : dgrat</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-8150">{'quadcopter': 14, 'magnetometer': 1, 'None': 0, 'ardupilot': 4, 'orientation': 0, 'accelerometer': 4, 'arduino': 2, 'multi-rotor': 7, 'c++': 1, 'mavlink': 1, 'calibration': 1, 'compass': 1, 'sensors': 5, 'navigation': 3, 'gyroscope': 1, 'gps': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8150">Load Comments</button></br>
			<div id = "commentsection-8150" class = 'collapse'>
			<div id = "comment-13032" class = "comment">
				<p>When you say the sensor can be tilted, do you mean in relation to the vehicle? Or during flight while on the vehicle?</p>
			</div>
			<div id = "comment-13038" class = "comment">
				<p>In relation to the vehicle.</p>
			</div>
			</div>
				<textarea id = "speech-8150" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8150">
					<img id="start_img-8150" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8150">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8157"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8157" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you put a strong magnet under the magnetometer, its readings of direction should match the accelerometer reading for gravity.  You could then place the magnet in the other cardinal directions in order to resolve any ambiguity in the orientation you calculate.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8157" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-8157">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8157">Load Comments</button></br>
			<div id = "commentsection-8157" class = 'collapse'>
			<div id = "comment-13033" class = "comment">
				<p>Using magnets near the compass could lead to decalibration.</p>
			</div>
			<div id = "comment-13040" class = "comment">
				<p>This is absolutely not an answer for anything.</p>
			</div>
			<div id = "comment-13041" class = "comment">
				<p>@dgrat please elaborate.</p>
			</div>
			</div>
				<textarea id = "speech-8157" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8157">
					<img id="start_img-8157" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8157">Comment</button>
			<br><div id = "ans-8167"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8167" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since the gyros are only good for measuring rotational rates, they are essentially useless at calculating your orientation. The accelerometers, as you say, will calculate exactly your reference plane, but it seems your question is about an arbitrary yaw within that plane.</p>

<p>Now this is where the compass becomes important: for measuring the yaw. Since the compass is fixed to the frame, it should be known at design time how its orientation differs from the vehicle's. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8167" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-8167">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8167">Load Comments</button></br>
			<div id = "commentsection-8167" class = 'collapse'>
			<div id = "comment-13039" class = "comment">
				<p>It is not abaout calculation of the yaw. It is about the calculation of the sensor board orientation. If the compass is 180  around the roll axis rotated, then the board will yield inverted tilt values in relation to the compass. E.g. gyro +45  and compass -45  :D</p>
			</div>
			</div>
				<textarea id = "speech-8167" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8167">
					<img id="start_img-8167" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8167">Comment</button>
			<br><div id = "ans-8169"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8169" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'll try to go through your question as best as I can:</p>

<blockquote>
  <p>I was wondering, whether one could calculate the rotation of the sensor relative to the vehicle by application of the accelerometer and gyrometer?</p>
</blockquote>

<p>Without any more information than an accelerometer and a gyro, no, you cannot, because gyros measure velocity and accelerometers measure acceleration, which means that you can only use those to find a position by using a <a href="https://en.wikipedia.org/wiki/Constant_of_integration" rel="nofollow noreferrer">constant of integration</a>. </p>

<p>The constant of integration here would be an initial velocity for the first integration of accelerometer output, and and initial position <strong>and heading</strong> for the second integration of accelerometer output and gyro output, respectively. </p>

<p>The gyro and accelerometer will only ever give you <em>relative</em> positions and headings. You would need to find an initial heading to align those outputs to a (literal) global coordinate system, at which point you would be using whatever device you used for initial heading to compare with the magnetometer. </p>

<blockquote>
  <p>Theoretically, the accelerometer yields a vector down and can be used for calculation of the coordinate system. </p>
</blockquote>

<p>I would be careful regarding this - see <a href="https://robotics.stackexchange.com/q/1858/9720">Ben's question/comment</a> regarding his experience that 3-axis accelerometers tend to have a left-handed coordinate system. That is, if you haven't read the datasheet on the accelerometer, you could mis-interpret the orientation of the sensor because it's not using the coordinate system you think it is. </p>

<blockquote>
  <p>The discrepancy between magnetometer and gyrometer then, may be used for calculation of the correct orientation of the compass. Later the compass should be used for yaw calculation. </p>
</blockquote>

<p>I don't know if you're using magnetometer and compass interchangeably here or if you are actually referring to two different devices, but as stated above, a gyro will only ever output a relative heading, so you can't use it to determine any absolute heading. This means that you can't use it to set/test/check the alignment of an absolute output device such as a magnetometer. </p>

<blockquote>
  <p>Below is the starting orientation of both sensors (just an example, the orientation of the compass can be anything). Does someone know a good way to figure out the rotation of the compass?</p>
</blockquote>

<p>I don't know how specific you are trying to get with your measurement, but in general, I would just command the vehicle to point North. If you have a rotationally symmetric vehicle like a quadcopter then you'll have to determine which arm/end of the vehicle is "forward" (should correspond to a "move forward" command) and mark that end. Once the vehicle stops actively maneuvering to reach your heading command you can use a manual/secondary compass to determine true North and mark/compare the difference between that position and "forward" on your vehicle. </p>

<p>If you need a more precise measurement or if you can't command an absolute heading, then your only other choice is to try to get access to the electronics. I would look for the magnetometer chip itself, find the <a href="https://electronics.stackexchange.com/questions/48734/how-do-i-identify-pin-1-on-a-chip-with-no-corner-mark">orientation of the chip</a>, then read the datasheet and determine how it senses North. The chip will be soldered to a board which, in turn, will be attached to the vehicle. You can then relate compass orientation to the craft. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8169" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8169">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8169" class = 'collapse'>
			</div>
				<textarea id = "speech-8169" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8169">
					<img id="start_img-8169" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8169">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>