<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sensor Fusion of Visual odometry (stereo and monocular) and IMU for 6D pose prediction
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13994" class = "post">
			<h2>Question</h2>
			<div id="vote-13994" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 24</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sensor Fusion of Visual odometry (stereo and monocular) and IMU for 6D pose prediction</h2>
<p>Let me explain slightly about what I am doing.I am trying to develop a SLAM implementation with the help of a stereo vision, IMU and possibly GPS at a later stage. </p>

<p>Now, I have (1) a homogeneous transformation (R|t)  between consecutive point clouds at <em>t-1 and t</em>  using ICP, (2) a homogeneous transformation (R|t) from monocular vision (using left camera of the stereo)  between consecutive frames at same <em>t-1 and t</em> with the scale recovered and (3) transformation (R) between <em>t-1 and t</em> from the IMU. (I do not want to recover position from IMU since that's mostly poor)</p>

<p>All of them individually would result in drift or may fail to compute a correct transformation sometime. Now, How do you suggest to fuse and filter the results? Is Extended Kalman Filtering a good option? Could you suggest a good <strong>Matlab friendly implementation</strong> that is available and can be altered for this case, since I have very little knowledge about Kalman Filters implementation?</p>

<p>So we have 3 rotational matrices and 2 translational vectors to fuse and predict a final(R|t).The R could also be converted to Euler angles for simplification.
 Thank :)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13994" data-toggle = "popover">
				<p>user name : ihti</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-13994">{'kuka': 1, 'None': 0, 'ekf': 0, 'simulation': 1, 'industrial-robot': 1, 'slam': 0, 'matlab': 1, 'sensor-fusion': 0, 'mobile-robot': 0, 'visual-odometry': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13994" class = 'collapse'>
			</div>
				<textarea id = "speech-13994" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13994">
					<img id="start_img-13994" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13994">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>