<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sensors for identifying stacked books
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9106" class = "post">
			<h2>Question</h2>
			<div id="vote-9106" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 33</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sensors for identifying stacked books</h2>
<p>I am working on a robotics application that involves moving objects (e.g. books) between several (around 10) stacks. To measure the performance, I'd like to be able to measure which book is located on each of the stacks. The order is not important I just want to know if a book is on one of the stacks. </p>

<p>The stacks are separated by at least one meter and the height of the stacks is less than 30cm (&lt; 8 Books). </p>

<p>If have thought of putting an RFID card in every book and fixing RFID readers above (or below) the stack positions. Several readers could be attached via SPI or I2C to some arduinos or RPis. </p>

<p>What to you think about this approach? Is there a simpler way? Could someone maybe recommend a sensor that could solve this problem? </p>

<p>// Update:
I can modify the books (e.g. add a QR-Marker) to some extent, but can't guarantee that the orientation on the stack is fixed. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9106" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-9106">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9106">Load Comments</button></br>
			<div id = "commentsection-9106" class = 'collapse'>
			<div id = "comment-15073" class = "comment">
				<p>Would you be allowed to visually tag the book?</p>
			</div>
			<div id = "comment-15074" class = "comment">
				<p>I'm saying this more for fun, but if each book weighs differently, it's very likely that if you look at the weight of the stack, you can uniquely work out what combinations of books were placed on it. (Assuming books don't change weight over time and certain other constraints on the weights)</p>
			</div>
			<div id = "comment-15075" class = "comment">
				<p>This would require a scale that can communicate via network which is probably more expensive than an RFID reader.</p>
			</div>
			<div id = "comment-15079" class = "comment">
				<p>I'm not sure I completely understand the scenario.  Is it important that you identify the stack for *every* book, or just for certain books?  The reason I'm asking is, if you only need to test your system using a few of the books, then you might be able to use a color vision system to identify books which you could wrap with certain colors of papers, *vs.* the majority of books which you could wrap with grey or black covers.</p>
			</div>
			<div id = "comment-15080" class = "comment">
				<p>I need to know the stack for every book.</p>
			</div>
			<div id = "comment-15082" class = "comment">
				<p>Ok, then using color would be tough (probably not impossible).  So your RFID idea may be best, although I worry about cross-talk between books and multiple receivers.</p>
			</div>
			</div>
				<textarea id = "speech-9106" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9106">
					<img id="start_img-9106" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9106">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9107"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9107" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might want to look at <a href="http://www.aforgenet.com/projects/gratf/" rel="nofollow">optical glyph tracking</a>.  I'm not sure how many unique glyphs there are and how many books you have, but it would provide a somewhat simple way to accomplish all this with a camera.</p>

<p>I say "simple" because you'd be able to visually debug it by just looking at the augmented reality video to see what glyphs are being detected.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9107" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9107">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9107">Load Comments</button></br>
			<div id = "commentsection-9107" class = 'collapse'>
			<div id = "comment-15076" class = "comment">
				<p>For that I had to attach markers to every side of the objects and have a camera for each stack position. But that could even be cheaper than the RFID.</p>
			</div>
			<div id = "comment-15077" class = "comment">
				<p>It depends on the camera resolution, and I had imagined that you could group several stacks into the frame.  You should be able to determine which stack something is in based on the pixel(s) it occupies in the image.</p>
			</div>
			<div id = "comment-15081" class = "comment">
				<p>The stacks are more than a meter apart so that I'll need a camera per stack.</p>
			</div>
			<div id = "comment-15089" class = "comment">
				<p>I second the overall idea of using a vision based approach (whether glyphs or QR-codes/some other barcode). Even if you have to get a camera per stack, especially since you don't need to process particularly fast, you can probably get a raspberry Pi + Camera + wifi + power setup going for about 750 USD ( 10 x 75 USD (35 + 25 + 10 + 5)).. One note, You may need to experiment with resolution on the individual cameras.</p>
			</div>
			</div>
				<textarea id = "speech-9107" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9107">
					<img id="start_img-9107" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9107">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>