<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sensing the level of a liquid in a tube
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7256" class = "post">
			<h2>Question</h2>
			<div id="vote-7256" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 470</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sensing the level of a liquid in a tube</h2>
<p>I'm looking to build a sensor which will detect the level of liquid in a tube.</p>

<p>It does not have to be precisely accurate, just detect whether the level is approximately above a certain height.</p>

<p><img src="https://i.stack.imgur.com/4USD9.jpg" alt="tube"></p>

<p>The liquid level can be seen in the red oval</p>

<p><img src="https://i.stack.imgur.com/VwvhD.jpg" alt="level"></p>

<p>I thought about monitoring this with a webcam and using opencv to detect the liquid level. but this seemed a bit overkill. Especially if I have to have a dedicated PC to process the images.</p>

<p>Surely there's a simpler solution.</p>

<p>Perhaps a component I can attach to a raspberry PI or arduino board ... </p>

<p>I'm not very familiar with laser sensors so I don't know what is suitable. </p>

<p>As long as it's reliable ...</p>

<p><strong>EDIT</strong></p>

<p>I should add that the tube contains toluene which is flammable, and it is vacuum sealed. So we can't just drill into it. Some kind of optical/laser sensor might be  OK, as long as it can recognise a clear liquid. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7256" data-toggle = "popover">
				<p>user name : sav</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-7256">{'None': 0, 'laser': 3, 'sensors': 3, 'raspberry-pi': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7256">Load Comments</button></br>
			<div id = "commentsection-7256" class = 'collapse'>
			<div id = "comment-10299" class = "comment">
				<p>What kind of liquid are you talking about, water or can it be something else?</p>
			</div>
			<div id = "comment-10311" class = "comment">
				<p>@fibonatic The liquid is toluene. Note that this is flamable.</p>
			</div>
			<div id = "comment-10314" class = "comment">
				<p>I should also add that the tube is vacuum sealed.</p>
			</div>
			<div id = "comment-10381" class = "comment">
				<p>I've just been informed that the tubes contain toluene and shelite.</p>
			</div>
			<div id = "comment-10382" class = "comment">
				<p>maybe refractive index ? http://www.fiso.com/admin/useruploads/files/fri.pdf</p>
			</div>
			</div>
				<textarea id = "speech-7256" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7256">
					<img id="start_img-7256" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7256">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7257"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7257" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have to look at pressure sensor usually used in washing machines market.</p>

<p>Usually are components or amplifier where you can connect your tube directly, and it will give you an output proportional to the pressure.</p>

<p>First googled <a href="http://www.pace-sci.com/low-pressure.htm" rel="nofollow">LINK</a></p>

<p>All sensor catalogue <a href="http://www.allsensors.com/catalog-pdf/PC-0001_Rev_E1.pdf" rel="nofollow">LINK</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7257" data-toggle = "popover">
				<p>user name : LPs</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-7257">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7257">Load Comments</button></br>
			<div id = "commentsection-7257" class = 'collapse'>
			<div id = "comment-10315" class = "comment">
				<p>Are there any pressure sensors that will work from outside the glass? We don't want to drill into the case because it needs to remain pressure sealed.</p>
			</div>
			<div id = "comment-10354" class = "comment">
				<p>Did yoi tried to find out laser densitometer? You can use density to calculate pressure variations.</p>
			</div>
			<div id = "comment-10358" class = "comment">
				<p>I got the impression that the densitometer needed to be in contact with the tube. Am I mistaken about this? Can the densitometer measure the fluid from outside the glass?</p>
			</div>
			<div id = "comment-10372" class = "comment">
				<p>I read your edit now. As fra as I know, laser densitometer has to be in contact with the pipe. Do you have temperature of liquid? You could derivate density from temperature and then derivate pressure from density, but I don't really know how much approximated can be.</p>
			</div>
			</div>
				<textarea id = "speech-7257" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7257">
					<img id="start_img-7257" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7257">Comment</button>
			<br><div id = "ans-7258"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7258" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you look in the industry, they usually use capacitive proximity sensors.</p>

<p>This sensors can be adjusted easily to sense behind the glass. In addition I can tell you, that this measurement is highly reliable. Usually they start around 70$, but you find also some cheaper DIY-solutions.</p>

<p>Another possibility is the use floating styrofoam with a magnet on top of the liquid. Just place a reed-relay at the side of your tube and you got the position.</p>

<p>The disadvantages of the listed solutions are that they provide only digital measurements. You get only information like this: The liquid is higher or lower than X cm.</p>

<p>For analog measurements refer to LPs' solution or work with the weight of your device and calculate then the height of your liquid.</p>

<p><strong>EDIT</strong>:
concerning the edit of the questions, You should really consider the capacitive proximity sensors, which are usually used for such applications, because you do not need to modify the tube at all.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7258" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-7258">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7258">Load Comments</button></br>
			<div id = "commentsection-7258" class = 'collapse'>
			<div id = "comment-10359" class = "comment">
				<p>I think you might be on to something 
http://www.automationmedia.com/Port1050%5CSiemensFreeCourses%5Csnrs_4.pdf</p>
			</div>
			<div id = "comment-10380" class = "comment">
				<p>https://www.youtube.com/watch?v=Y1mA50tEmLQ</p>
			</div>
			<div id = "comment-10383" class = "comment">
				<p>Yes, Both links look pretty fine.</p>
			</div>
			</div>
				<textarea id = "speech-7258" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7258">
					<img id="start_img-7258" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7258">Comment</button>
			<br><div id = "ans-7263"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7263" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here's a few ideas:</p>

<ul>
<li><p>Insert two bare wires as probes and measure the resistance between them. The resistance should drop dramatically once the liquid touches both sensors.</p></li>
<li><p>Insert a sonar into one end that points directly into the tube. This method should give you a simple measurement of how far the surface of the fluid is from the sensor. I'm not sure how well a sonar works inside a tube as there will be echoes and such to consider, but some experimentation might lead to good results.</p></li>
<li><p>Seal the tube at one end with a cork and put a barometer on the inside. The rising level of fluid will compress the air and register different "altitudes" on the barometer.</p></li>
<li><p>Maybe its possible to use an IR beam through the tube if you can apply a dye to the fluid.</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7263" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-7263">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7263">Load Comments</button></br>
			<div id = "commentsection-7263" class = 'collapse'>
			<div id = "comment-10310" class = "comment">
				<p>Using visible light might require dye in the fluid; IR probably wouldn't</p>
			</div>
			<div id = "comment-10312" class = "comment">
				<p>@jwpat, that's a good point, in fact glass is opaque to IR as well, so depending on what the tube is made of, that approach might not work at all.</p>
			</div>
			<div id = "comment-10313" class = "comment">
				<p>I should also add that the tube is vacuum sealed, so we don't want to just go drilling into it.</p>
			</div>
			<div id = "comment-10318" class = "comment">
				<p>@Octopus, as noted in a [physicsforums.com thread](https://www.physicsforums.com/threads/why-doesnt-infrared-radiation-travel-through-glass.408392/) some window glass has low IR transmittance but several kinds of glass have high transmittance.  Eg, lots of SiO  optical fiber is driven by IR or near-IR.  For UV, see wikipedia [Ultraviolet Blockers and absorbers](https://en.wikipedia.org/wiki/Ultraviolet#Blockers_and_absorbers) article</p>
			</div>
			</div>
				<textarea id = "speech-7263" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7263">
					<img id="start_img-7263" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7263">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>