<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Serial downvoting on voice dictation questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2304" class = "post">
			<h2>Question</h2>
			<div id="vote-2304" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 155</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Serial downvoting on voice dictation questions</h2>
<p>I've just noticed that I got downvoted on my voice dictation questions:</p>

<p><img src="https://i.stack.imgur.com/4O0UW.png" alt="enter image description here"></p>

<p>Are voice dictation questions out of scope here? If not, is there any other issues with my  voice dictation questions?</p>

<ul>
<li><a href="https://apple.stackexchange.com/q/159833/20338">Equivalent of Dragon NaturallySpeaking&#39;s HeardWord function in Dragon Dictate 4</a></li>
<li><a href="https://apple.stackexchange.com/q/159831/20338">No cap after a period in Dragon Dictate 4</a></li>
<li><a href="https://apple.stackexchange.com/q/159829/20338">Voice command to output &quot;\ref{}&quot; in Dragon Dictate 4</a></li>
</ul>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2304" class = 'collapse'>
			</div>
				<textarea id = "speech-2304" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2304">
					<img id="start_img-2304" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2304">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2305"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2305" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Those questions are not only on topic, but I view them as good ones. My guess is someone doesn't like questions about third party products.</p>

<p>I'll watch for vote patterns, but so far nothing is in "moderator needs to act" range. If you see two dozens of votes, please flag a post or bump this again and we can see if there is a pattern that would merit intervention.</p>

<p>You are clearly trying to use OS X software and hardware to do some useful automation and voice recognition. I hope a few cranky votes don't put you off on the site.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2305">Load Comments</button></br>
			<div id = "commentsection-2305" class = 'collapse'>
			<div id = "comment-4340" class = "comment">
				<p>Sounds good, thanks. I'm new on this SE so I essentially wanted to make sure the questions were all right. The serial downvoting got reversed, then was performed again, we'll see how it goes..</p>
			</div>
			<div id = "comment-4341" class = "comment">
				<p>Seems someone didn't like them all appearing all at once & got trigger happy. I thought they were good questions too, no reason to downvote. I'm glad they all bounced back.</p>
			</div>
			<div id = "comment-4343" class = "comment">
				<p>The system reversed one person't votes as part of the daily vote checks. Seems like things are working as intended to me...</p>
			</div>
			<div id = "comment-4344" class = "comment">
				<p>@bmike Actually the guy did serial downvoted a few minutes after his first serial downvote got reversed: the second serial downvote didn't get reversed.</p>
			</div>
			<div id = "comment-4345" class = "comment">
				<p>@FranckDernoncourt Have a look at http://meta.stackexchange.com/questions/126829 serial voting is defined as 20 to 100 votes in a day usually. People are allowed to vote down bad answers - so it's a matter of how many and how quickly in most cases. You got three down votes by the looks of things in your screen shot.</p>
			</div>
			<div id = "comment-4346" class = "comment">
				<p>@bmike and 3 more very suspicious downvotes today...</p>
			</div>
			<div id = "comment-4347" class = "comment">
				<p>@FranckDernoncourt I noticed that today. All the question you've asked have been downvoted specifically.</p>
			</div>
			</div>
				<textarea id = "speech-2305" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2305">
					<img id="start_img-2305" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2305">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>