<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Servo motors for large scale RC car
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9583" class = "post">
			<h2>Question</h2>
			<div id="vote-9583" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 195</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Servo motors for large scale RC car</h2>
<p>I want to convert an electric ATV (quad) for kids (like the <a href="http://www.high-per.com/" rel="nofollow noreferrer">HIGHPER</a> ATV-6E) to radio control for a robotics project. These small ATVs are about a meter long and weigh about 40 kg. I need to choose servo motors for steering and braking. What grade servos do I need and how much torque do they need to have? Can I use the strongest RC servo I may find (like <a href="https://www.pololu.com/product/1390" rel="nofollow noreferrer">this 115kg/cm one</a> or maybe even more, with metal gears of course) or do I need an "industrial grade" servo?</p>

<p>I plan to use one servo for steering and one for braking. For braking the ATV has mechanical disc brakes - two discs in the front and one common disc in the rear (there are two brake levers - front/rear). I plan to use only one servo and use it either for front or for rear. The plan is to mount the brake wire to the servo which would "simulate" the lever movement.</p>

<p>I guess I could also make a "weak" servo stronger by adding a proper gear, but I am not really into mechanical engineering much and would prefer an off-the-shelf component.</p>

<p><a href="https://i.stack.imgur.com/N8SXx.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/N8SXx.jpg" alt="Highper ATV"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9583" data-toggle = "popover">
				<p>user name : Kozuch</p>
				<p> user reputation : 338</p>
				<p class = "tagcontent" id = "usertaginfo-9583">{'stereo-vision': 12, 'structure-from-motion': 1, 'autonomous-car': 0, 'encoding': 2, 'precise-positioning': 0, 'hardware': 0, 'mobile-robot': 6, 'monocular': 2, 'rotation': 2, 'rcservo': 0, 'self-driving': 0, 'cameras': 2, 'point-cloud': 1, 'kinect': 1, 'opencv': 1, 'electronics': 1, 'gazebo': 0, 'gps': 7, 'engine': 1, 'odometry': 5, 'None': 8, 'electric': 1, 'localization': 0, 'wheeled-robot': 2, 'simulator': 1, 'visual-odometry': 2, 'gnss': 0, 'sensors': 2, 'steering': 0, '3d-reconstruction': 1, 'computer-vision': 12, 'algorithm': 2, 'calibration': 4, 'scale-model': 1, 'simulation': 0, 'servomotor': 0, 'sensor-fusion': 2, 'navigation': 0, 'software': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9583">Load Comments</button></br>
			<div id = "commentsection-9583" class = 'collapse'>
			<div id = "comment-16933" class = "comment">
				<p>You need to measure the force and torque you need to pull the brake wire and turn the steering column respectively. Make sure the atv is loaded to your final payload weight and on the most difficult surface you expect to operate on so you steering torque is not under estimated. Fishing/luggage hook scales are great for making this type of measurement but a clever use of a bathroom scales might work too...</p>
			</div>
			</div>
				<textarea id = "speech-9583" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9583">
					<img id="start_img-9583" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9583">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9584"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9584" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What an interesting project!  </p>

<p>For braking I was going to suggest a linear actuator, but then I realized you have an ATV already designed for the human hand to actuate the brakes.   Why don't you look into low cost electric robotic grippers, and mount one to the handlebar to take advantage of the existing brake lever design?  That would be pretty easy to integrate and control.</p>

<p>Steering is more of a challenge.  I agree with @hauptmech that you need to measure the required torques.   That could be difficult, though, since the range of torques needed to steer will vary widely through your operating scenarios.   My suggestion is to put the ATV on a downward incline, so that the steering wheels have the most load on them, and use a torque wrench to measure how much (worst-case) torque is needed to steer.   This should be sufficient to size that motor (or motor + gearbox).   You will have to keep in mind how fast you need the steering column to rotate, but I suspect if you can overcome the torque necessary to move the front wheels when standing still, you shouldn't have an issue with speed of rotation.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9584" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9584">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9584" class = 'collapse'>
			</div>
				<textarea id = "speech-9584" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9584">
					<img id="start_img-9584" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9584">Comment</button>
			<br><div id = "ans-9585"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9585" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For the steering: I have seen boat "autopilots" which use a linear actuator that connects (via a bearing or universal joint) to the boat's steering tiller. I think a similar arrangement would work attached to one end of your handlebars. It would have to be robustly attached to prevent it shaking loose, and it would have high force but might be quite slow.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9585" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-9585">{'None': 59}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9585">Load Comments</button></br>
			<div id = "commentsection-9585" class = 'collapse'>
			<div id = "comment-16942" class = "comment">
				<p>Thanks for your note. I have thought about the steering and I think the easiest might be to put a big gear directly on the "steering column" on which the handlebars are mounted and connect the small servo gear directly to it (gear to gear) - like this a bulky bar connection from the servo to steering would be completely avoided.</p>
			</div>
			</div>
				<textarea id = "speech-9585" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9585">
					<img id="start_img-9585" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9585">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>