<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Servos power supply in Quadruped Robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2832" class = "post">
			<h2>Question</h2>
			<div id="vote-2832" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 571</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Servos power supply in Quadruped Robot</h2>
<p>I'm facing a problem while building my quadruped robot which is figuring out the efficient power supply needed for the 12 servos. I'm using 12 MG995 tower pro servos powered by 2 lithium batteries 2x3.7v (about 8 volts) with 2200 mA . I really don't know if that enough for the servos or something else is needed to be added(i hardly fitted the 2 batteries into the robot's body) 
any suggestions please?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2832" data-toggle = "popover">
				<p>user name : DieDen</p>
				<p> user reputation : 45</p>
				<p class = "tagcontent" id = "usertaginfo-2832">{'quadcopter': 0, 'kuka': 0, 'None': 2, 'walking-robot': 1, 'line-following': 0, 'power': 1, 'arduino': 3, 'battery': 1, 'pid': 0, 'servomotor': 1, 'python': 0, 'matlab': 1, 'beagle-bone': 0, 'serial': 3, 'ultrasonic-sensors': 0, 'inverse-kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2832">Load Comments</button></br>
			<div id = "commentsection-2832" class = 'collapse'>
			<div id = "comment-5245" class = "comment">
				<p>I think that more broadly, this is a question of "How do I know whether my batteries are sufficient for my motors, given the ratings of both".  This question might be helpful to you: http://robotics.stackexchange.com/q/416/350</p>
			</div>
			</div>
				<textarea id = "speech-2832" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2832">
					<img id="start_img-2832" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2832">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2836"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2836" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That should be enough power, although I would regulate the 8 volts to 6. You could get slightly better life out of the batteries on a single go if you pull some power out using a Polulu adjustable boost regulator. This will regulate the current to 6v and give you the ability to drop below 6v on the batteries and still have the 6v output to the servos (although  sometimes this can be bad for the batteries)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2836" data-toggle = "popover">
				<p>user name : Alex</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-2836">{'None': 1, 'power': 2, 'arduino': 3, 'platform': 0, 'tracks': 0, 'design': 0, 'mobile-robot': 0, 'sensors': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2836">Load Comments</button></br>
			<div id = "commentsection-2836" class = 'collapse'>
			<div id = "comment-7973" class = "comment">
				<p>Not sometimes, always.  Dropping a lipo less than 3V per cell pretty much ruins it.</p>
			</div>
			</div>
				<textarea id = "speech-2836" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2836">
					<img id="start_img-2836" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2836">Comment</button>
			<br><div id = "ans-5202"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5202" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to the <a href="http://www.servodatabase.com/servo/towerpro/mg995" rel="nofollow">specs</a>, that is a 4.8V servo. Do NOT run it at 8 volts unless you are doing a smoking light show.</p>

<p>Get some sort of step down like <a href="http://www.ebay.com/itm/DC-DC-Boost-Buck-adjustable-step-down-Up-Converter-XL6009-Module-Solar-Voltage/400597430280" rel="nofollow">this</a> and set the voltage to 5V max.</p>

<p>Once you have the voltage correct the rule of thumb is max 1 amp per servo at heavy load. How many of your servos will be at heavy load? Your batteries will need to deliver that, and is specified as a 'C' rating.  A C rating of 1 means 1 times the mah, so 2 LiPos in series (for approx 7.4V even though it will be stepped down) is still 2200mah = 2.2 amps Most Batteries today have a minimum C of 15 or so. I would imagine 12 lightly loaded servos will not exceed 2.2 amps, but with a C rating of 15, you have up to 30 amps available, the step down is rated at 4amps, so you might need a beefier version of it (but I doubt it).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5202" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-5202">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5202" class = 'collapse'>
			</div>
				<textarea id = "speech-5202" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5202">
					<img id="start_img-5202" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5202">Comment</button>
			<br><div id = "ans-6670"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6670" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>(I still can't comment, so yet another reply from me.)</p>

<p>Servos will typically operate between 4.8V and 6V. Do not directly connect the output of the LiPo battery pack to the power line of your servos (because that is 8.4V when charged). Despite what Spiked3 says, your servo is not 4.8V - the ratings on the "specs" website show torque and speed at 4.8V, but <a href="http://www.electronicoscaldas.com/datasheet/MG995_Tower-Pro.pdf" rel="nofollow">another website</a> will show the torque/speed ratings taken at 6V. <a href="http://www.electronicoscaldas.com/datasheet/MG995_Tower-Pro.pdf" rel="nofollow">In fact, your servos appear to be rated for 4.8-7.2V</a>. <strong>I would run at 5-6V.</strong></p>

<p>You should get a voltage regulator circuit (or build your own). <a href="http://www.reuk.co.uk/LM317-High-Current-Voltage-Regulator.htm" rel="nofollow">You can make a fairly cheap one using LM317T and a Darlington pair BJT</a> - this can carry up to about 11A of current. It is very to breadboard if you wanted to prototype it. If you decide to buy one, pay attention to its heat dissipation capabilities.</p>

<p>Your servos are fairly beefy (similar to ones in my hexapod), so you should in theory budget at least 1A of stall current for each one. This means that if the servos for some reason 
cannot move or experience so much resistance that they cannot move), you must supply enough current for them to still operate. You should really avoid this situation as they'll start to heat up and will probably burn out, but it's something to consider.</p>

<p>I have to power 18 high-torque metal gear servos, so what I ended up doing is splitting this into two power banks - each LiPo then had to power 9 at a time. With that I would need about 9A at stall (though the info I found online about my servos says less). The LM317T circuit + Darlington provides 11A, so I'm good on that front. I ended up adding a fuse on the board just in case, and heatsinks on the transistors. </p>

<p>As for the battery life - you have 2200mAh batteries (2.2Ah), which means that if your servos drew 2.2A, the batteries would last an hour. With 12 servos, and assuming you split them evenly between the battery packs (6/battery pack) I think you'll get that no problem, but it obviously depends on the situation. The servos draw most current while moving and of course if they are struggling to hold the load.</p>

<p>Last little suggestion: make sure you use thick wire (not normal hook-up wire) in your voltage regulator circuit since you are potentially carrying 10A, and that's a lot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6670" data-toggle = "popover">
				<p>user name : Mewa</p>
				<p> user reputation : 149</p>
				<p class = "tagcontent" id = "usertaginfo-6670">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6670" class = 'collapse'>
			</div>
				<textarea id = "speech-6670" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6670">
					<img id="start_img-6670" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6670">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>