<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Servo controlled valve
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4474" class = "post">
			<h2>Question</h2>
			<div id="vote-4474" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 377</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Servo controlled valve</h2>
<p>I am trying to build a servo-controlled water valve.  Max pressure 150 psi , valve size 1/2".</p>

<p>Can anyone recommend a suitable 1/4-turn valve, either ceramic, ball valve, or anything else that is <em>easy</em> to turn, even under pressure? It must require very little torque to turn, so a standard servo can rotate it with a small lever attached.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4474" data-toggle = "popover">
				<p>user name : Ryan Griggs</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-4474">{'None': 0, 'valve': 0, 'servos': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4474">Load Comments</button></br>
			<div id = "commentsection-4474" class = 'collapse'>
			<div id = "comment-7048" class = "comment">
				<p>What's your application?  I'm not sure something like an RC servo is the right solution here.  Are you familiar with solenoid valves?</p>
			</div>
			<div id = "comment-7052" class = "comment">
				<p>Application is controlling water flow, so a solenoid (on/off only) is not suitable.  I need to be able to partially open/close the valve to allow various flow rates.  Thanks!</p>
			</div>
			<div id = "comment-7053" class = "comment">
				<p>There are commercial units available, very expensive.  I  am trying to build my own for a low cost application.</p>
			</div>
			<div id = "comment-7054" class = "comment">
				<p>It looks like what i want is called a 'proportional valve' as per http://electronics.stackexchange.com/questions/60370/variable-liquid-flow-rate-control</p>
			</div>
			<div id = "comment-7057" class = "comment">
				<p>If you have feedback you may be able to modulate (e.g. PWM) an on-off valve to get the flow you need...</p>
			</div>
			<div id = "comment-7063" class = "comment">
				<p>No this is just for a spigot.  Thanks.</p>
			</div>
			<div id = "comment-7067" class = "comment">
				<p>This looks like a [shopping question](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/), so I'm not sure that it would be valid for any SE site.</p>
			</div>
			<div id = "comment-7085" class = "comment">
				<p>So we can't ask for help sourcing parts for our projects?</p>
			</div>
			</div>
				<textarea id = "speech-4474" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4474">
					<img id="start_img-4474" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4474">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4500"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4500" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is pretty common to take a simple and cheap solenoid valve and use a PWM at the input</p>

<p>TI  has a pretty nice driver (DRV102) which uses a analog input and provides enough power to switch the most valves. I don't even need a MCU, just a variable resistor is enought
Then just take a cheap valve and the job is done</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4500" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4500">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4500">Load Comments</button></br>
			<div id = "commentsection-4500" class = 'collapse'>
			<div id = "comment-7103" class = "comment">
				<p>Very interesting. Does the liquid exit the line in visible pulses?</p>
			</div>
			<div id = "comment-7104" class = "comment">
				<p>The used PWM is about 24kHz
You cannot see any pulses
the piston in the valve is just kept in a middle position proportinal to the duty cycle of the pwm</p>
			</div>
			<div id = "comment-7110" class = "comment">
				<p>This is exactly the info i was looking for.  I did not know solenoid valves could use PWM to partially open.  I assumed the valve would pulse open and closed, causing choppy water output.  Thank you!</p>
			</div>
			</div>
				<textarea id = "speech-4500" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4500">
					<img id="start_img-4500" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4500">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>