<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>setup requirement of stereo camera
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12310" class = "post">
			<h2>Question</h2>
			<div id="vote-12310" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 46</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>setup requirement of stereo camera</h2>
<p>In the stereo camera system, two cameras are needed and should be mounted side by side. I see someone just glues two cameras to a wooden board. However one mobile phone manufacture claimed that the two lens of dual camera modules on phones produced by them are parallel within 0.3 degree. Why do two lens on mobile phones need such high precise assembly? Does this will bring any benefit?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12310" data-toggle = "popover">
				<p>user name : Jogging Song</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-12310">{'stereo-vision': 7, 'None': 0, 'computer-vision': 1, 'calibration': 7, 'cameras': 8, 'opencv': 1, 'matlab': 0, '3d-reconstruction': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12310" class = 'collapse'>
			</div>
				<textarea id = "speech-12310" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12310">
					<img id="start_img-12310" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12310">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12314"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12314" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you glue two cameras to a wooden board, and then write your code with the assumption that your translation matrix is perfectly or really close to [1, 0, 0], once the cameras are slightly displaced, depth errors start creeping up in your stereo applications such as reconstruction. In mobile phones, the drivers and the rest of the API code would be preprogrammed, and most probably cannot be changed later on: which means the geometry needs to be described as accurately as possible.</p>

<p>Also, as you go smaller on your baseline, which is the case for mobile phone cameras, even tiny imprecisions in the setup of the cameras can cause a huge difference in the geometry and depth computations. On the contrary, you can probably get away with a few centimeters of movement on the Z axis when your cameras' baseline is 1 m on the X axis.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12314" data-toggle = "popover">
				<p>user name : HighVoltage</p>
				<p> user reputation : 398</p>
				<p class = "tagcontent" id = "usertaginfo-12314">{'stereo-vision': 2, 'probability': 10, 'multi-agent': 4, 'planning': 10, 'manipulator': 2, 'cameras': 1, 'matlab': 1, 'kalman-filter': 7, 'None': 19, 'noise': 3, 'inverse-kinematics': 2, 'localization': 8, 'pose': 4, 'mapping': 0, 'rotation': 1, '3d-reconstruction': 0, 'computer-vision': 8, 'algorithm': 3, 'c++': 3, 'slam': 2, 'exploration': 0, 'path-planning': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12314">Load Comments</button></br>
			<div id = "commentsection-12314" class = 'collapse'>
			<div id = "comment-21684" class = "comment">
				<p>In manufacturing process, it is inevitable to bring variation in parameters describing geometric relation between two cameras in mobile phones. However, each dual camera need to be calibrated to obtain precise parameters for each mobile phone, so variation can be tolerated. I don't understand  two lens on mobile phones need high precise assembly.</p>
			</div>
			</div>
				<textarea id = "speech-12314" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12314">
					<img id="start_img-12314" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12314">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>