<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Shape Memory Alloy wire for robot gripper arm actuation: How to vary grip pressure?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-85" class = "post">
			<h2>Question</h2>
			<div id="vote-85" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2713</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Shape Memory Alloy wire for robot gripper arm actuation: How to vary grip pressure?</h2>
<p>For a robotic gripper arm we are designing for factory floor use on very small components, we propose to use electrically activated Shape Memory Alloy (SMA) wire harnesses for actuation. </p>

<p>The device being designed is akin to Pick &amp; Place machines used for circuit assembly, but moves over an aircraft-hanger sized work surface on wheels. It manipulates irregular shaped and porous objects between 0.5 cu.cm and 8 cu.cm each - hence the traditional vacuum P&amp;P mechanism does not appeal. Also, individual objects in the assembly line have varying hardness and weights.</p>

<p>Our design constraints are: </p>

<ul>
<li>Ensuring minimal to zero vibration and sound </li>
<li>Using minimal volume within the mechanism (batteries are at the wheelbase, providing stability, so their weight is not a concern)</li>
<li>Fine variation of gripper pressure</li>
</ul>

<p>We believe SMA meets the first two constraints well, but need some guidance on achieving constraint 3, i.e. different levels of pressure of the gripper controlled electronically.</p>

<p>My questions:</p>

<ul>
<li>Can PWM of a current above the activation threshold (320 mA for <a href="http://www.dynalloy.com/TechDataWire.php">0.005 inch Flexinol HT</a>) provide variable, repeatable actuation force? </li>
<li>Would we need pressure sensors on each fingertip and a closed loop control for grip, or can the gripper be calibrated periodically and maintain repeatable force?</li>
<li>Is there any well-documented precedent or study we should be referring to?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-85" data-toggle = "popover">
				<p>user name : Anindo Ghosh</p>
				<p> user reputation : 339</p>
				<p class = "tagcontent" id = "usertaginfo-85">{'mobile-robot': 11, 'None': 15, 'servos': 3, 'stepper-motor': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-85" class = 'collapse'>
			</div>
				<textarea id = "speech-85" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-85">
					<img id="start_img-85" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-85">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-90"  class = "post">
				<h2>Answer</h2>
			<div id="vote-90" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Why you shouldn't use SMA</strong></p>

<p>Firstly, I have to wonder why you have chosen to use shape memory alloys in a robotic application. If you look at any of the application lists for SMAs, you'll almost never see a robotic application on the list.</p>

<p>Most SMA applications are non-actuated, and include things like glasses frames and golf clubs.</p>

<p>Some applications do use the SMA as an actuator, but usually only once or twice. These are applications like medical stents, which need to be inserted into an artery small, but open up once inside.</p>

<p>The reason there are no robotic applications where the SMA needs to act as an actuator and exert a force cause something to move, is that it's subject to fatigue. According to the <a href="http://en.wikipedia.org/wiki/Shape-memory_alloy#Fatigue_and_functional_fatigue" rel="nofollow noreferrer">Wikipedia</a>:</p>

<blockquote>
  <p>SMA is subject to fatigue; a failure mode by which cyclic loading results in the initiation and propagation of a crack that eventually results in catastrophic loss of function by fracture.
  in addition to this failure mode, which is not exclusively observed in smart materials. SMA are also subject to Functional Fatigue, whereby the SMA does not fail structurally, but, due to a combination of applied stress, and/or temperature, loses (to some degree) its ability to undergo a reversible phase transformation.</p>
</blockquote>

<p><strong>But if you insist</strong></p>

<p>Because SMA undergoes creep and fatigue, you will <em>have</em> to have some kind of force transducer and control system to make sure you're applying a known force.</p>

<p><strong>What I would suggest</strong>
Rather than SMAs, there are many small actuators which can satisfy your constraints without the huge drawbacks of SMA.</p>

<p><strong>Voice Coils:</strong> These simply consist of a permanent magnet and a coil. Adjusting the flow of current directly affects the force applied to the magnet. Ungeared, these are totally silent, and more power efficient than SMAs. The force applied is quite repeatable, as long as the ambient temperature doesn't vary enormously. You can buy these as ready made components from <a href="http://www.pwr-con.com/voice-coil-motor.htm" rel="nofollow noreferrer">Moticont</a>. Or open up a hard drive, look there's a ready made robotic finger!</p>

<p><img src="https://i.stack.imgur.com/gpAZf.jpg" alt="Voice coil robotic finger"></p>

<p><strong>Piezo actuators:</strong> There's a range of different motors based on piezo ceramics. These are usually very tiny, but expensive motors. Try the Squiggle motors from <a href="http://www.newscaletech.com/squiggle_overview.html" rel="nofollow noreferrer">Newscale Tech</a>.</p>

<p><img src="https://i.stack.imgur.com/Xr2Xe.jpg" alt="Squiggle Motor"></p>

<p>There's a company called <a href="http://www.flxsys.com/Applications/Advanced%20Actuators/" rel="nofollow noreferrer">Flexsys</a> who make actuators using both technologies.</p>

<p><img src="https://i.stack.imgur.com/Ajcus.jpg" alt="Voice Coil actuator"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-90" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-90">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-90">Load Comments</button></br>
			<div id = "commentsection-90" class = 'collapse'>
			<div id = "comment-95" class = "comment">
				<p>Actually, SMA-based repeatable actuators are not uncommon at all, and are way cheaper than the unrealistic Squiggle Motor pricing. We have evaluated the squiggle, of course, but the company is clearly not interested in low volume business, their marketing and pricing strategy actively discourages retail. Here are some SMA actuator products and robotics research papers: http://store.migamotors.com/nanomuscle-nm706-super-linear-muscle-wire-actuator   http://jongohpark.pe.kr/data/treatise/142.pdf   http://www-bsac.eecs.berkeley.edu/~sbergbre/research/publications/WheeledMicrorobot-2004.pdf</p>
			</div>
			<div id = "comment-96" class = "comment">
				<p>@AnindoGhosh - I agree that Squiggle motors are hard to come by and expensive. But you should seriously consider the voice coil actuator. It will provide you with years of reliable life. Unlike the Nanomuscle which *has no applications*. Just look at the list of 'applications' suggested by the company itself. Not one of them actually exists yet. They are all suggestions. All of the papers you linked to are just prototypes. Take a serious look to see if you can find a single commercial robotic application which uses SMAs.</p>
			</div>
			<div id = "comment-97" class = "comment">
				<p>@AnindoGhosh - Please, listen to the voice of experience. We've been here before. We were seduced by the promise of SMAs more than once, but have always abandoned them because they are desperately unreliable. Before you go anywhere with them, put one through a proper life test under realistic conditions.</p>
			</div>
			<div id = "comment-98" class = "comment">
				<p>The realistic testing is in progress. The voice of experience often tells us that innovation = naivete, so I'll let that pass. Also, oddly enough, there's an entire bunch of SMA actuated machinery, operational for a decade or more in some cases, at the very factory where this new device would be deployed. The client seems pretty happy with the stuff, clearly he hasn't heard the voice of experience yet. I'll be sure to mention it.</p>
			</div>
			<div id = "comment-103" class = "comment">
				<p>@AnindoGhosh - I would love to know what some of these real world applications are. Looking at a [manufacturer's web site](http://www.saesgetters.com/default.aspx?idPage=1416) for a list of applications, I can only find 'potential', 'future', and 'possible' applications. They list no current ones, even though the technology has been around more than a decade.</p>
			</div>
			<div id = "comment-109" class = "comment">
				<p>@Rocketmagnet Muscle Wires  was used on the Mars Pathfinder Sojourner Rover. While that might not be **our** world it is **a** world and it's defiantly real. Also see the Section "Where has Flexinol  been used already?" in their [FAQ](http://www.dynalloy.com/FAQ.php)</p>
			</div>
			<div id = "comment-113" class = "comment">
				<p>@Rocketmagnet A poorly updated manufacturer's web site indicates poor corporate communications on their part, which is terrible, I'm sure, but not a show-stopper. The real world devices I know of are semi-autonomous robotic devices for handling and checking live cultured pearl oysters in situ, without moving or disturbing them. SMA seems to be a well known technology path in this field, primarily for noiseless actuation. I won't repeat the client's response to the voice of experience - not sure I could, even, based on pure phonetic limitations!</p>
			</div>
			</div>
				<textarea id = "speech-90" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-90">
					<img id="start_img-90" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-90">Comment</button>
			<br><div id = "ans-98"  class = "post">
				<h2>Answer</h2>
			<div id="vote-98" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have a look at the paper <a href="http://www.dynalloy.com/pdfs/TCF1140.pdf" rel="nofollow noreferrer">Technical Characteristics of Flexinol Actuator Wires</a>.</p>

<p>What you'll want to do is devise a structure that leverages the available contraction of the nitinol wire to achieve the desired stroke and force for your application. The paper give a couple of example structures:</p>

<p><img src="https://i.stack.imgur.com/i1giv.png" alt="structures 1"></p>

<p><img src="https://i.stack.imgur.com/jKiFI.png" alt="structures 2"></p>

<p><img src="https://i.stack.imgur.com/i6vwx.png" alt="stroke and force"></p>

<p>The percentage of contraction of nitinol is related to it's temperature. However, the relationship is non-linear and differs between the heating phase and the cooling phase. These differences will need to be taken into account.</p>

<p><img src="https://i.stack.imgur.com/dPrWV.png" alt="temp vs. contraction"></p>

<p>In the article <a href="http://robotics.hobbizine.com/flexinolresist.html" rel="nofollow noreferrer">precision flexinol position control using arduino</a> the author describes how to use the properties of nitinol so that the wire can act as it's own feedback sensor:</p>

<blockquote>
  <p>Flexinol, also known as Muscle Wire, is a strong, lightweight wire
  made from Nitinol that can be made to contract when conducting
  electricity. In this article I'll present an approach to precision
  control of this effect based on controlling the voltage in the
  Flexinol circuit. In addition, taking advantage of the fact that the
  resistance of Flexinol drops predictably as it contracts, the
  mechanism described here uses the wire itself as a sensor in a
  feedback control loop. Some advantages of eliminating the need for a
  separate sensor are reduced parts count and reduced mechanical
  complexity.</p>
</blockquote>

<p>So by using PWM to vary the voltage across the wire and using an ADC to read that voltage drop, you can design closed loop control of the percentage of contraction of the nitinol wire. Then, using an appropriate mechanical structure, you can translate that contraction into the desired stroke and force needed for your application.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-98" data-toggle = "popover">
				<p>user name : embedded.kyle</p>
				<p> user reputation : 1469</p>
				<p class = "tagcontent" id = "usertaginfo-98">{'None': 124}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-98">Load Comments</button></br>
			<div id = "commentsection-98" class = 'collapse'>
			<div id = "comment-104" class = "comment">
				<p>From the last paragraph, it would imply that a periodic recalibration against a pressure sensor should enable us to dispense with gripper-tip sensors and still get reasonable repeatability? That sounds useful, thanks! A daily recalibration can be built into the task schedule... Excellent.</p>
			</div>
			<div id = "comment-108" class = "comment">
				<p>@AnindoGhosh That and designing not to over stress the wire. See Section two of the Flexinol paper: "If Flexinol  actuator wire is used in the appropriate conditions then obtaining repeatable motion from
the wire for tens of millions of cycles is reasonable."</p>
			</div>
			<div id = "comment-111" class = "comment">
				<p>The current design works around using the SMA at around half of the 4% that it can contract, and return is not by a spring, it is a push-pull using another SMA segment, again just flexing 2%. Thus we would be staying well away from both over-stressing and continuous stress on the wire. Light springs are used for some structural stability, but weak enough to be insignificant in stress terms. So it is hoped that a quarter million cycles should work safely - that's more than what was required in the specification.</p>
			</div>
			</div>
				<textarea id = "speech-98" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-98">
					<img id="start_img-98" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-98">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>