<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Shedding light on "cyber-physical systems"
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1182" class = "post">
			<h2>Question</h2>
			<div id="vote-1182" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 337</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Shedding light on "cyber-physical systems"</h2>
<p>These days, one often hears of <a href="http://en.wikipedia.org/wiki/Cyber-physical_system" rel="nofollow">cyber-physical systems</a>. Reading on the subject, though, it is very unclear how those systems differ from distributed and/or embedded systems. Examples from Wikipedia itself only make them look more like traditional distributed systems. For example:</p>

<blockquote>
  <p>A real-world example of such a system is the Distributed Robot Garden at MIT in which a team of robots tend a garden of tomato plants. This system combines distributed sensing (each plant is equipped with a sensor node monitoring its status), navigation, manipulation and wireless networking.</p>
</blockquote>

<p>Obviously, <em>any</em> distributed system consists of sensing, actuations (which can easily include navigation) and networking.</p>

<p>My question is, how exactly does cyber-physical systems differ from traditional distributed systems? Is it just a fancy name, or is there something considerably different with it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1182" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-1182">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1182" class = 'collapse'>
			</div>
				<textarea id = "speech-1182" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1182">
					<img id="start_img-1182" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1182">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1183"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1183" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's just a fancy (and awkward) name. Also known as robotics, cybernetics, embedded systems, control systems and so on. I'm guessing there is some dissatisfaction with either the implications or specificity of those other related categories:</p>

<ul>
<li>Robotics - Makes people think of rovers and industrial material handling equipment.</li>
<li>Embedded systems - Too unspecific, doesn't necessarily have much physical interaction with the world outside of buttons and displays. </li>
<li>Control systems - Mostly is used to refer to deterministic and non-distributed control loops. More Z-transform, less AI.</li>
<li>Cybernetics - probably the closest in meaning, but over time the cyber-x has come to mean things that are purely virtual (cyberspace, cybersecurity, etc) instead of the original control system meaning. Thus the need to tack on a somewhat redundant "physical" to remind people that this involves atoms and not just bits.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1183" data-toggle = "popover">
				<p>user name : Theran</p>
				<p> user reputation : 244</p>
				<p class = "tagcontent" id = "usertaginfo-1183">{'None': 12}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1183">Load Comments</button></br>
			<div id = "commentsection-1183" class = 'collapse'>
			<div id = "comment-2692" class = "comment">
				<p>Do you also happen to know the history of the word? How/Where it was invented?</p>
			</div>
			<div id = "comment-2698" class = "comment">
				<p>I first heard the word at UIUC about 4 years ago. I have no idea if that's where it first appeared. There was a cyber-physical systems lab when I visited.</p>
			</div>
			<div id = "comment-2699" class = "comment">
				<p>Cybernetics used to mean controlling complex systems. Now it means cyberpunk-ish meat+machine implants.</p>
			</div>
			</div>
				<textarea id = "speech-1183" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1183">
					<img id="start_img-1183" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1183">Comment</button>
			<br><div id = "ans-1187"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1187" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Reading through some of the articles linked to in the Wikipedia article, I'll respectfully disagree with <a href="https://robotics.stackexchange.com/a/1183/37">@Theran</a>. The distinction seems quite well grounded, although Wikipedia does a poor job of making it. </p>

<p>The term <em>embedded systems</em> (ES) has been around since the 60s and can, arguably, refer to anything from an airplane to a Furby. I think the term <em>cyber-physical systems</em> (CPS) was coined to distinguish it from what are traditionally thought of as embedded systems, namely closed-loop, non-networked "boxes" that operate in a very well-defined and constrained domain with a limited power to affect physical systems. CPS, on the other hand, embody the idea of <em>think globally, act locally</em> (my apologies to <a href="https://en.wikipedia.org/wiki/Think_Globally,_Act_Locally#Origin_in_town_planning" rel="nofollow noreferrer">Patrick Geddes</a>), that is, they are usually highly networked systems that bring about change in a local physical system dependent on the state and actions of other entities in the wider network. </p>

<p>While many robotic applications fit this definition, and can therefore be termed cyber-physical systems, many are not. What bestows the honour on MIT's robotic garden, I believe, is the fact that the robots form <a href="https://www2.lirmm.fr/lirmm/interne/BIBLI/CDROM/ROB/2009/IROS_2009/papers/1119.pdf" rel="nofollow noreferrer">part of a wider, decentralised system</a> (PDF). It is the plants, equipped with sensors, that decide when to request watering or other services from the robots, while it is the robots that then decide between them which one will fulfil that request. Furthermore, not all CPS are thought of as "robotic", for example, an intelligent power grid.</p>

<p><a href="https://en.wikipedia.org/wiki/Cybernetics" rel="nofollow noreferrer">Cybernetics</a>, as @Theran has noted, is occupied with the study of control systems, and so will form a core part of studying CPS, but also has a broader range of applications in fields such as mathematics, economics, and sociology, for example.</p>

<p>This <a href="http://www.eecs.berkeley.edu/Pubs/TechRpts/2008/EECS-2008-8.pdf" rel="nofollow noreferrer">report on cyber-physical systems</a> (PDF), by Edward Lee from UC Berkeley, makes clear that CPS are a next step in the evolution of embedded systems with many of the same constraints (real-time capabilities, reliability) plus a few extra ones (robustness, adaptability, intelligence, interconnectedness). As such, the field of CPS is, in parts, concerned with developing completely new approaches to hard- and software architecture. For example:</p>

<blockquote>
  <p>But I believe that to realize its full potential, CPS systems will require fundamentally new technologies [...] One approach that is very much a bottom-up approach is to modify computer architectures to deliver precision timing [...] Complementing bottom-up approaches are top-down solutions that center on the concept of model-based design [...] In this approach, "programs" are replaced by "models" that represent system behaviors of interest. Software is synthesized from the models. </p>
</blockquote>

<p>Lee's thoughts are echoed in this <a href="http://www.jiafuwan.net/download/cyber_physical_systems.pdf" rel="nofollow noreferrer">Embedded Computing column</a> (PDF) by Wayne Wolf of Georgia Tech.</p>

<blockquote>
  <p>After all, we've had computers attached to stuff for a long time. Why, you may ask, do we need a new term to describe what we've been doing for years? [...] We have a surprisingly small amount of theory to tell us how to design computer-based control systems. Cyber-physical systems theory attempts to correct this deficiency. [...] Cyber-physical systems actively engage with the real world in real time and expend real energy. This requires a new understanding of computing as a physical act a big change for computing.</p>
</blockquote>

<p>I recommend reading both articles for a good view on how CPS are different from "mere" embedded systems. <a href="http://cyberphysicalsystems.org" rel="nofollow noreferrer">Cyberphysicalsystems.org</a> has a concept map of CPS on their homepage that nicely illustrates many of the aspects involved in developing CPS. </p>

<p>As for the origin of the term, none of the sources I found attributed it to anyone. Many papers defined it without attribution while clearly not being the first to use them. The term first crops up in the literature in <a href="http://scholar.google.com/scholar?q=%22cyber-physical+systems%22&amp;hl=en&amp;as_sdt=0%2C5&amp;as_ylo=&amp;as_yhi=2006" rel="nofollow noreferrer">2006</a> but, by that time, the US National Science Foundation had already organised a <a href="http://varma.ece.cmu.edu/cps/" rel="nofollow noreferrer">Workshop on Cyber-Physical Systems</a>, suggesting that the term was already in use by then.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1187" data-toggle = "popover">
				<p>user name : ThomasH</p>
				<p> user reputation : 612</p>
				<p class = "tagcontent" id = "usertaginfo-1187">{'None': 41, 'gazebo': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1187" class = 'collapse'>
			</div>
				<textarea id = "speech-1187" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1187">
					<img id="start_img-1187" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1187">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>