<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Short distance ball transport
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4689" class = "post">
			<h2>Question</h2>
			<div id="vote-4689" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 34</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Short distance ball transport</h2>
<p>I'm looking for a way to transport balls (diameter 50mm) 220 mm up with over a slope with a length of 120 mm. Currently I'm considering the usage of a belt system but I cannot seem to find a good belt system.</p>

<p>Because of space constraints within my robot, normally I would probably take a nylon belt and jam nails trough it to make little slots and then use that. However this would result in considerable reduction in available space as it means that I have to also take into account the extra space required for the nails on the way back. This means that ideally there would be a way to reduce the space used by the nails on the way back.</p>

<p>Does anybody have a good solution for this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4689" data-toggle = "popover">
				<p>user name : Thijser</p>
				<p> user reputation : 203</p>
				<p class = "tagcontent" id = "usertaginfo-4689">{'control': 1, 'None': 1, 'manipulator': 0, 'usb': 7, 'power': 6, 'simulator': 0, 'communication': 1, 'arduino': 3, 'c++': 4, 'simulation': 0, 'servomotor': 1, 'kinematics': 0, 'servos': 1, 'beagle-bone': 13, 'linux': 4, 'serial': 2, 'ros': 3, 'gazebo': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4689" class = 'collapse'>
			</div>
				<textarea id = "speech-4689" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4689">
					<img id="start_img-4689" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4689">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4690"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4690" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you wanna stick to the belt system, then cut circular holes into the belt with a diameter of ~30mm. The ball will not fall through and can be transported upwards.</p>

<p>if you don't need much control over the ball, then you can "shoot" it with air pressure or a mechanical construction; something like a racket .</p>

<p>If you have enough place at the beginning of the slope, you could use a pneumatic actuator to push the ball.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4690" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4690">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4690">Load Comments</button></br>
			<div id = "commentsection-4690" class = 'collapse'>
			<div id = "comment-7322" class = "comment">
				<p>That will work however the hole should have a size of at least 2*sin([angle of transport]). Which in this case comes up as closer to 40mm</p>
			</div>
			<div id = "comment-7323" class = "comment">
				<p>Well but i suggest using a bigger hole then needed....this will improve reliability of the system.</p>
			</div>
			<div id = "comment-7324" class = "comment">
				<p>Yes but not much as above 50mm there will be other problems.</p>
			</div>
			<div id = "comment-7325" class = "comment">
				<p>For sure, if it's bigger then 50mm the ball will fall through.</p>
			</div>
			</div>
				<textarea id = "speech-4690" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4690">
					<img id="start_img-4690" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4690">Comment</button>
			<br><div id = "ans-4743"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4743" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You don't need to modify or mutilate a belt in any way to be able to use it as a ball elevator.</p>

<p>Simply place the belt upside-down <em>above</em> the balls, and and use it to roll the balls uphill.</p>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/BallBearing.gif/120px-BallBearing.gif" alt="ball bearing animation"> &lt;-- similar to what's happening in this part of the animation</p>

<p>In this case, the inner ring represents your belt and the outer ring represents the ramp.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4743" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4743">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4743" class = 'collapse'>
			</div>
				<textarea id = "speech-4743" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4743">
					<img id="start_img-4743" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4743">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>