<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Should I suggest an edit to rollback an edit?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1792" class = "post">
			<h2>Question</h2>
			<div id="vote-1792" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should I suggest an edit to rollback an edit?</h2>
<p>I recently made <a href="https://apple.stackexchange.com/review/suggested-edits/36499">this suggested edit</a> to an answer to fit with the edit that had been made to the question (being specific about Apple's <strong>UK</strong> Support site).</p>

<p><img src="https://i.stack.imgur.com/XsZgJ.png" alt="My suggested edit"></p>

<p>An <a href="https://apple.stackexchange.com/posts/100250/revisions">edit</a> was then made to add the region to the link, however the incorrect region was added (US instead of UK).</p>

<p><img src="https://i.stack.imgur.com/fETCL.png" alt="@bmike&#39;s edit"></p>

<p>As per the guidelines, I should avoid trivial, tiny one-letter edits, and suggested edits must be longer than 6 characters anyway.</p>

<p>Am I overlooking something?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1792" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-1792">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1792" class = 'collapse'>
			</div>
				<textarea id = "speech-1792" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1792">
					<img id="start_img-1792" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1792">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1793"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1793" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In this case - false information trumps the general prohibition to make a trivial edit. Sadly, the system won't even let us fix that one typo so we have to change more or use two edits to effect a one character change.</p>

<p>I wouldn't roll back, but just edit it correct going forward. </p>

<p>Great catch. </p>

<p><em>btw - that bmike fellow often is on an iPad and making silly typos when trying to improve a suggested edit</em> </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1793" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1793">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1793">Load Comments</button></br>
			<div id = "commentsection-1793" class = 'collapse'>
			<div id = "comment-3382" class = "comment">
				<p>What should I do about the "*Edits must be at least 6 characters*"?</p>
			</div>
			<div id = "comment-3383" class = "comment">
				<p>The main reason why I suggested a rollback is because of the character requirement for suggested edits.</p>
			</div>
			<div id = "comment-3384" class = "comment">
				<p>I too was hobbled by the character requirement, so I made sure to improve things with some more details that I know to be true (like chat windows are only drawn when people are scheduled to be chatting).</p>
			</div>
			</div>
				<textarea id = "speech-1793" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1793">
					<img id="start_img-1793" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1793">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>