<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Should the therotical parameters match the physical setup constraints when modeling a robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8276" class = "post">
			<h2>Question</h2>
			<div id="vote-8276" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 79</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should the therotical parameters match the physical setup constraints when modeling a robot?</h2>
<p>I'm working on modeling and simulation of robotic arm, after I obtained the mathematical model of the robot, I used that to implement some control techniques, to control the motion of the robot. The dimensions and masses of each links are taken from available kit, basically, it's <a href="http://www.imagesco.com/kits/robotic-arm.html" rel="nofollow">RA02</a> robot with servo at each joint. After the modeling, different parameters, can be plotted: like the joint angles\speeds\torques ... etc. The point now is that, the value obtained for the joint toque is much more higher that the torque limit of the servo, does it mean my design\modeling is not realizable? Is it necessarily to get close (torque)  value for servo's torque? </p>

<p>Any suggestion?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8276" data-toggle = "popover">
				<p>user name : AlFagera</p>
				<p> user reputation : 99</p>
				<p class = "tagcontent" id = "usertaginfo-8276">{'control': 5, 'product-of-exponentials': 3, 'None': 4, 'manipulator': 0, 'inverse-kinematics': 0, 'torque': 1, 'pid': 2, 'simulation': 1, 'servomotor': 1, 'industrial-robot': 6, 'dh-parameters': 2, 'matlab': 2, 'robotic-arm': 10, 'jacobian': 0, 'kinematics': 2, 'dynamics': 5, 'forward-kinematics': 1, 'robotc': 1, 'input': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8276" class = 'collapse'>
			</div>
				<textarea id = "speech-8276" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8276">
					<img id="start_img-8276" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8276">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8278"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8278" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your computed torques are out of the range for your robot, then you are no longer modelling your robot but a different one. You can ignore the torque limits as good as the joint angle limits of your robot (i.e. not at all). 
If the required torque is to high, your robot will either be much slower (if you are lucky) or won't be able to reach its goal positions (e.g. if it's just not able to overcome gravity). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8278" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-8278">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8278">Load Comments</button></br>
			<div id = "commentsection-8278" class = 'collapse'>
			<div id = "comment-13244" class = "comment">
				<p>Ok, but the problem is that, I'm modeling [that](http://www.imagesco.com/kits/robotic-arm.html), I get the dimensions and weights for each link and start modeling them. What I'm thinking, suppose that, the actual torque of the servo was 20 N.m. What will be the difference in my model if the actual output of the servo was, let say, 1000 N.m. I guess the mathematical model is (blind) and doesn't know at all, how much is torque output, is this make sense?, One last point, I forgot to mention is that, I'm neglecting the dynamics of the motor.</p>
			</div>
			<div id = "comment-13245" class = "comment">
				<p>If your model does not include the maximal torques of your motors, then you will have to create a better model for your robot. Your model is currently telling you that the motion you try to simulate is not possible. You'll have to lower your accelerations until you have a sufficently small torque.</p>
			</div>
			</div>
				<textarea id = "speech-8278" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8278">
					<img id="start_img-8278" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8278">Comment</button>
			<br><div id = "ans-8281"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8281" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure which way you're trying to model this; forward or inverse kinematics, but the term you should look for is "saturation". Saturation means basically that the system can't continue to respond despite a signal being present. For example, a 0-10V sensor being supplied with 11V is saturated because it will only show you 10V. Likewise, your actuators saturate at $\tau_{\mbox{max}}$ despite the fact that you are asking/signalling for more torque. </p>

<p>I don't know how you're simulating this system (Matlab/Simulink or ROS, etc.), but Simulink has a saturation block you can use on your actuators. If you're using other software you can implement saturation yourself: </p>

<pre><code>torqueMax = &lt;max torque&gt;; 
torque = &lt;control loop output&gt;;
if abs(torque) &gt; torqueMax
  torque = sign(torque) * torqueMax;
end
</code></pre>

<p>You can of course have two different saturation values, one for a maximum limit and one for minimum, you'd just use two <code>if</code> statements to do the check.</p>

<p>Saturation adds nonlinear elements to your model, which may or may not be acceptable to you. If you don't want to deal with the nonlinearities this introduces, then you should lower your control gains such that your response slows down to the point that you never enter saturation.</p>

<p>I won't go into any more detail than to just say that "saturation is a thing" with a brief overview as your question seemed to be more in the scope of asking how to handle control/simulation outputs that exceed physical capability - I gave a code snippet above for that. If you want to read more on the subject there are a ton of articles on <a href="https://scholar.google.com/scholar?q=actuator+saturation+control+theory" rel="nofollow">Google Scholar</a>. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8281" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8281">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8281">Load Comments</button></br>
			<div id = "commentsection-8281" class = 'collapse'>
			<div id = "comment-13254" class = "comment">
				<p>First I obtained the forward kinematics model, then, I used _**Lagrange**_ equation to derive the dynamic model, in the form $M[\theta]\ddot\theta+C(\theta,\dot\theta)\dot\theta+g(\theta)=\tau$, then after that I applied PID control.</p>
			</div>
			</div>
				<textarea id = "speech-8281" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8281">
					<img id="start_img-8281" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8281">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>