<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Should we claim http:~~meta.apple?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2748" class = "post">
			<h2>Question</h2>
			<div id="vote-2748" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 62</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should we claim http:~~meta.apple?</h2>
<p>I typed in <code>meta.apple</code> into chrome, and rather than googling for Ask Different Meta, it tried to load <code>http://meta.apple</code> and failed.</p>

<p>Should we claim <code>http://meta.apple</code> and have it redirect to <code>http://meta.apple.stackexchange.com/</code>?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2748" data-toggle = "popover">
				<p>user name : Andrew Grimm</p>
				<p> user reputation : 310</p>
				<p class = "tagcontent" id = "usertaginfo-2748">{'None': 4, 'flagging': 11, 'meta': 3, 'discussion': 28, 'tags': 14}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2748">Load Comments</button></br>
			<div id = "commentsection-2748" class = 'collapse'>
			<div id = "comment-6070" class = "comment">
				<p>Is `.apple` even a valid top level domain?</p>
			</div>
			<div id = "comment-6071" class = "comment">
				<p>@patrix I thought it was, based on a quick google search. I could be mistaken. Am I too cynical to think it is valid?</p>
			</div>
			</div>
				<textarea id = "speech-2748" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2748">
					<img id="start_img-2748" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2748">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2749"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2749" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure how this would be possible. Apple owns .apple and I doubt they're going to give us a subdomain. Also, I'd presume the main site is more worthwhile for a .apple subdomain than just the meta site.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2749" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2749">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2749" class = 'collapse'>
			</div>
				<textarea id = "speech-2749" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2749">
					<img id="start_img-2749" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2749">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>