<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Should we expand site scope to include iTunes Connect?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1038" class = "post">
			<h2>Question</h2>
			<div id="vote-1038" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">27</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 877</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should we expand site scope to include iTunes Connect?</h2>
<p>I would like to call for discussion on the scope of this site in light of recent changes by Apple to broaden the audience for the iTunes Connect program.</p>

<p>I understand the initial hesitance to have Developer questions here on the end user forum - especially with Stack Overflow for hard developer questions and audience from coding to the app submission process. However, more and more end users are stepping forward to create iTunes connect accounts. </p>

<p>I don't see any reason to expand the scope to include how to program at this point, but it seems overly restrictive to keep iTunes Connect in the "out of bounds" portion of scope for Apple products and services.</p>

<p>What started as a Service for developers to sell iOS apps has now has served up:</p>

<ul>
<li><a href="http://www.apple.com/pr/library/2013/02/28iTunes-U-Content-Tops-One-Billion-Downloads.html" rel="nofollow">One Billion iTunes U downloads</a></li>
<li><a href="http://www.apple.com/pr/library/2013/02/06iTunes-Store-Sets-New-Record-with-25-Billion-Songs-Sold.html" rel="nofollow">25 Billion iTunes songs sold</a></li>
<li><a href="http://www.apple.com/pr/library/2013/01/07App-Store-Tops-40-Billion-Downloads-with-Almost-Half-in-2012.html" rel="nofollow">40 Billion App store purchases with almost 20 Billion in 2012 alone</a></li>
</ul>

<p>There will be questions about third party tools to manage billing, prepare songs and books for sale, and other topics related to selling or giving away content through the various Apple electronic storefronts. I think we can avoid any NDA issues by insisting that answers be sourced from public resources and be willing to clearly close or answer off-topic questions pointing the asker's to Apple's official channel for support in those cases.</p>

<p>I think the site was served well by initially discouraging iOS developers from asking iTunes connect questions, but now that we are excluding teachers, artists, musicians,  authors and programmers from asking iTunes Connect questions we're missing a large audience of people that use and work with one of Apple's most notable and unique services - their integrated store front for content creators.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1038" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1038">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1038">Load Comments</button></br>
			<div id = "commentsection-1038" class = 'collapse'>
			<div id = "comment-3103" class = "comment">
				<p>I'm going to feature this for a week and then see if any objections are aired by Wednesday the 10th of April and then suggest a FAQ change be made at that point to implement this in the absence of any widespread criticism of this proposal.</p>
			</div>
			<div id = "comment-3104" class = "comment">
				<p>Sounds good; the proposal's been floating around for more than a year. It's time for some action.</p>
			</div>
			<div id = "comment-3105" class = "comment">
				<p>I have edited the FAQ section and would appreciate several eyes to look for typos and or omissions or inclusions that seem too broad or narrow. http://apple.stackexchange.com/posts/5788/revisions</p>
			</div>
			</div>
				<textarea id = "speech-1038" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1038">
					<img id="start_img-1038" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1038">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1041"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1041" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">23</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I tend to be a conservative about these sorts of things, meaning that if this site is mostly working, the burden of proof lies with a proposal to change its scope. While some site clearly should include this as a topic, in my mind, the proposal needs to answer the question</p>

<h1>Why here?</h1>

<p>Questions about about selling apps, books, music, etc., through Apple's stores are clearly not questions about how to write computer programs.</p>

<p>But they also aren't exactly questions about using Apple products, which is the focus of this site. It seems to me that iTunes Connect questions would fit in better, perhaps, in a site where the audience is content developers of one sort or another rather than a site aimed at end users.</p>

<p>Is there a complementarity between questions about using Apple products and questions about selling content to users of Apple products? Yes, it's Apple-related, but do the questions attract answerers with the same expertise? I think that's the biggest relevant question. If having these questions hosted here would improve the base of answerers for the questions that are currently on-topic, it could be a good idea. If it's just more traffic on a sort-of-related-but-not-quite-overlapping subject, goodness knows it merits a place where it is on-topic, but I rather doubt that place is here.</p>

<p>If the askers are teachers, bands, and writers who want to list their content through iTunes, and want to know how to use Apple's iTunes Connect App, and they are looking for expertise from people familiar with using this app, I believe the answer is</p>

<h1>Yes, these posts belong here.</h1>

<p>I believe that the people who currently answer questions about using Apple apps and hardware can help answer questions about the Apple service known as iTunes connect, and that the questions are related enough and attract a similar enough species of end user that they will fit in nicely with this site.</p>

<h1>I support this proposal.</h1>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1041" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1041">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1041">Load Comments</button></br>
			<div id = "commentsection-1041" class = 'collapse'>
			<div id = "comment-1889" class = "comment">
				<p>Let's take some other examples and see if we have problems with current scope. We allow questions on iPhoto, iTunes, iPad/iPhone networking - do we shy away from setting up and using Apple accounts for buying Calendars and printed books from within iPhoto; shy away from all manner of iTunes account related issues, legalities, gotchas and billing within iTunes or the iTunes store web app called apple.com/support/itunes; or shy away from 3G data service questions as well as technical details relating to all three?</p>
			</div>
			<div id = "comment-1917" class = "comment">
				<p>@bmike Your comment added to the original post about bands and teachers and authors as the desired audience of askers and people who can answer their technical questions as the answerers makes me feel like the answer to my question about "is there complementarity" is YES, and thus, I am inclined to SUPPORT this proposal.</p>
			</div>
			<div id = "comment-1918" class = "comment">
				<p>Awsome - the "why here" is simple. It's one of the many Apple products or services and many questions will also tie closely with knowledge or capabilities of Apple Software and Hardware. I'm of the opinion, "Why not here?" and can't see a good reason at this point why not.</p>
			</div>
			<div id = "comment-1921" class = "comment">
				<p>I'm a conservative in that regard: if something more or less works, the burden of proof is on any proposal to change it, rather than the other way around. But I think this proposal meets that burden of proof.</p>
			</div>
			<div id = "comment-1928" class = "comment">
				<p>Yippee - I appreciate the thoughts and the reasoning.</p>
			</div>
			<div id = "comment-3008" class = "comment">
				<p>The **[App Stores](http://area51.stackexchange.com/proposals/30702/app-stores)** proposal is nearing critical mass; perhaps there within two months.</p>
			</div>
			</div>
				<textarea id = "speech-1041" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1041">
					<img id="start_img-1041" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1041">Comment</button>
			<br><div id = "ans-1047"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1047" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Before I seem like I'm completely against this idea, let just start by saying that I have no problem with our site expanding its focus to include iTunes Connect. It's a subject matter that is currently underserved by the rest of the Stack Exchange network, and it would be great to have a place to ask those kinds of questions.</p>

<p>I've often thought that Ask Different should have a sister site for programming for Apple's Mac OS X and iOS platforms, which include both Objective-C as well as iTunes Connect stuff. However, although I've followed a few proposals here and there on Area 51, nothing's managed to get to the commit phase.</p>

<p>So returning to the original question, my reservation about having questions about developer programs is that I'm concerned that most of the questions that can and will be asked are questions about policy, or are questions that only Apple can answer, or even just complaints/rants about the system. And as a personal note, I'm also completely unfamiliar with this side of Apple. Although subject matter expertise isn't a requirement to moderate, sometimes it's necessary to have some basic knowledge in the subject in order to determine if something's a duplicate, not a real question, etc. With the upcoming moderator election, it's possible we'll be getting new moderators more capable of handling these topics, so we can definitely revisit this then.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1047" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-1047">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1047">Load Comments</button></br>
			<div id = "commentsection-1047" class = 'collapse'>
			<div id = "comment-1909" class = "comment">
				<p>I wanted to ask this before the election so that even if the answer is no or not now, it's at least on the radar. Where the site may or may nor go seems to be very close to selecting the moderators for the upcoming year.</p>
			</div>
			<div id = "comment-1910" class = "comment">
				<p>@bmike I notice you still haven't nominated yourself. Why not be the change you wish to see in the site?</p>
			</div>
			<div id = "comment-1911" class = "comment">
				<p>I just went to register but it appears to be closed or broken?!?</p>
			</div>
			<div id = "comment-1912" class = "comment">
				<p>http://elections.stackexchange.com/ - all good now</p>
			</div>
			</div>
				<textarea id = "speech-1047" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1047">
					<img id="start_img-1047" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1047">Comment</button>
			<br><div id = "ans-1313"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1313" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I really don't think this should be a grey area, or "muddy waters". </p>

<ul>
<li>iTunes Connect is an Apple Service.</li>
<li>The site definition includes "other Apple products or services"</li>
</ul>

<p>Therefore it already fits in the definition of this site. </p>

<p>The problem is someone has added an exception to the definition. I don't see anywhere the community deciding on that exception. So why is it there?</p>

<p>iTunes Connect is just as much an Apple service as iCloud.com is.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1313" data-toggle = "popover">
				<p>user name : Jonathan.</p>
				<p> user reputation : 2344</p>
				<p class = "tagcontent" id = "usertaginfo-1313">{'None': 16, 'discussion': 33}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1313">Load Comments</button></br>
			<div id = "commentsection-1313" class = 'collapse'>
			<div id = "comment-2501" class = "comment">
				<p>Thanks for the positive words. Xcode and developing was the initial iTunes connect user base and that is also something that is off topic here, so I think that explains the initial reluctance to embrace this change. It's much trickier to allow some ITC questions and not others - just like beta SW, NDA topics, etc.</p>
			</div>
			<div id = "comment-3101" class = "comment">
				<p>I've listed some questions I want to keep in a separate answer. After discussing things with the other elected moderators, the initial decision was made to separate the site from the developer centric Stack Overflow and well before itunes-connect became a multi billion dollar enterprise. Times change and this is how we work out if and how we will change with the times.</p>
			</div>
			</div>
				<textarea id = "speech-1313" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1313">
					<img id="start_img-1313" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1313">Comment</button>
			<br><div id = "ans-1315"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1315" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, iTunes Connect should be on topic both here and on Web Apps.</p>

<p>While all of the answers here are technically correct, there's another option:</p>

<p>See <a href="http://area51.stackexchange.com/proposals/30702/app-stores">this proposal (link)</a>, which would encompass iTunes Connect and (<em>shudder</em>) Google Play, and other similar services. </p>

<p><strong>Edit:</strong></p>

<p><a href="https://stackoverflow.com/questions/10635046/to-receive-money-from-apple-developer-i-need-multi-currency-bank-account">This question</a> seems off topic on AskDifferent, but would be on topic on App Stores.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1315" data-toggle = "popover">
				<p>user name : Moshe</p>
				<p> user reputation : 4663</p>
				<p class = "tagcontent" id = "usertaginfo-1315">{'None': 9, 'discussion': 1, 'status-completed': 26, 'feature-request': 26, 'status-bydesign': 4, 'bug': 4, 'site-promotion': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1315">Load Comments</button></br>
			<div id = "commentsection-1315" class = 'collapse'>
			<div id = "comment-2502" class = "comment">
				<p>The Area 51 proposal for App Stores doesn't seem to include music sales, iBook sales, iAd sales but only iOS and Mac app stores. Even if that site were up, I'd still want the basic user level questions on iTunes Connect to have an audience here. If other sites also allow them - we can handle it like mac questions on Super User / ServerFault and Ask Different. Focusing on the users makes it clear that overlap can work well for the site as a whole. Hopefully iTunes connect can do the same.</p>
			</div>
			<div id = "comment-3100" class = "comment">
				<p>What do you think of the answer I have just added?</p>
			</div>
			</div>
				<textarea id = "speech-1315" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1315">
					<img id="start_img-1315" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1315">Comment</button>
			<br><div id = "ans-1633"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1633" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A lot of good things have been written and discussed already, let me throw in my few cents as well.</p>

<h3>Pro</h3>

<ul>
<li><strong>Does it fit in</strong>: In a way iTunes Connect is an Apple service like iCloud and a lot of other stuff. One uses it to sell/publish media of any kind in the iTunes Stores</li>
<li><strong>Isn't it programming</strong>: Not really. There may be borderline issues (e.g. around in-app purchases) but they should be easy to spot</li>
<li><strong>Is there a need</strong>: Appearantly there is, we wouldn't have several questions around iTunes Connect otherwise</li>
</ul>

<h3>Contra</h3>

<ul>
<li><strong>Will the questions be answerable</strong>: The more technical ones for sure but there might also be issues around iTunes Store policies, acceptance criteria, turnaround times and other topics not really fit for a Q&amp;A site</li>
<li><strong>Will there be answers</strong>: Now that is the big question for me. For the usual end user questions the AD community is big enough to have somebody around who is able to answer them (well, at least most of the time). With iTunes Connect that's probably a bit different because I expect the community to be significantly smaller and maybe not so active</li>
</ul>

<p>Overall I'm not so sure whether it is really worth the effort to go down that route. On the other hand we should be able to cope with the drawbacks in a timely manner so maybe we can give it a try for 6 months and see what happens.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1633" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-1633">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1633" class = 'collapse'>
			</div>
				<textarea id = "speech-1633" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1633">
					<img id="start_img-1633" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1633">Comment</button>
			<br><div id = "ans-1654"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1654" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I wish to build a case for limited scope increase of <a href="https://apple.stackexchange.com/questions/tagged/itunes-connect" class="post-tag" title="show questions tagged &#39;itunes-connect&#39;" rel="tag">itunes-connect</a>.</p>

<p>Assuming I get a large support in terms of net up votes, we might assume a general consensus to change the [faq] officially to endorse a limited scope of book-selling, music-selling, developer-program related questions.</p>

<hr>

<h1>Here are the sort of questions I'd love to see more of in the future.</h1>

<ul>
<li><p><a href="https://apple.stackexchange.com/q/87711/5472">Submitting to the appstore: Once an app is reviewed by Apple, does it automatically go live on the app store?</a> This question is an honest effort to learn how things work before spending money. It can be definitively answered with public information from an Apple developer page that has detailed information enough to help substantiate my post as valid. It doesn't require anyone to break NDA and helps people understand how the process works to develop an app using an Apple Service (iOS Developer Program in this case).</p></li>
<li><p><a href="https://apple.stackexchange.com/questions/86753/can-i-create-an-itunes-u-course-indepedent-of-an-educational-institution">Can I create an iTunes U course indepedent of an educational institution?</a> This is exactly what I want here. Someone wants to enroll in iTunes U to make content available and publish their knowledge to share with others. Again, no NDA topics are contemplated or needed for the person to learn and decide how to participate in using an Apple Service (iTunes U in this case)</p></li>
</ul>

<hr>

<h1>Here are the sort of questions I'd rather not see here (at least initially):</h1>

<ul>
<li><a href="https://apple.stackexchange.com/questions/83532/after-renewing-ios-developer-membership-my-apps-are-pending-contract">After renewing IOS developer membership, my apps are &quot;pending contract&quot;</a> (In this case, the developer should know about the Developer escalation and discussion boards and get their answer fielded directly via Apple.)</li>
<li><a href="https://apple.stackexchange.com/questions/85206/gambling-license-for-a-game-with-virtual-money-chips">https://apple.stackexchange.com/questions/85206/gambling-license-for-a-game-with-virtual-money-chips</a> (If this were to ask if Apple had publicly disclosed what the rules of the App store are, and this didn't ask for legal advice, I'd be more willing to entertain it. As it stands, it's NDA covered and also not precise enough to ask for experience [<em>e.g. If it asked - what popular apps are live on the store that gamble? or What regions allow gambling on the iOS App Store?</em>] but as worded it should be closed for multiple reasons)</li>
</ul>

<hr>

<h1>Here are some borderline questions:</h1>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/52397/when-do-itunes-connect-stats-update">When do iTunes Connect Stats update?</a> (It's clearly a weak question - yes/no simplicity, but it does ask for reasoned expertise from a peer group and unlikely to be entangled with NDA for other people to gab about when they see their sales numbers update. Perhaps it's rotating, perhaps it changes, there could be potential value to hosting this Q&amp;A here)</p></li>
<li><p><a href="https://apple.stackexchange.com/questions/54376/itunes-connect-can-i-have-one-bank-account-for-every-currency-i-receive">iTunes Connect: Can I have one bank account for every currency I receive?</a> (Again, this is reasonable expertise asking how others are setting up their business and using an Apple Service to sell their work. It applies to Music publishers, iBooks Authors, Newsstand developers, potentially iAd producers and certainly OS X and iOS developers and doesn't smack me as a hornets nest of NDA details since it's really about how people's business is set up and interface with Apple's tools.)</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1654" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1654">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1654" class = 'collapse'>
			</div>
				<textarea id = "speech-1654" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1654">
					<img id="start_img-1654" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1654">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>