<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Should all badges be attainable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-947" class = "post">
			<h2>Question</h2>
			<div id="vote-947" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 80</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should all badges be attainable?</h2>
<p>I looked at <a href="https://meta.stackexchange.com/questions/13/should-the-beta-badges-stop-being-awarded-to-users">SO meta</a>, and they have removed the badge for participating in the beta.</p>

<p>I think that all the badges should be attainable for everyone, so badges like Beta and precognative. </p>

<p>I do understand that these are a medal and people are proud to ahve them but can these be incorporated into the profile rather than a badge, as no newer users will ever have the chance of gaining these badges.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-947" data-toggle = "popover">
				<p>user name : Graeme Hutchison</p>
				<p> user reputation : 5627</p>
				<p class = "tagcontent" id = "usertaginfo-947">{'None': 0, 'site-scope': 19, 'support': 0, 'profile-page': 0, 'feature-request': 8, 'discussion': 28}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-947">Load Comments</button></br>
			<div id = "commentsection-947" class = 'collapse'>
			<div id = "comment-1722" class = "comment">
				<p>Oooh, if we down vote the question and up vote the answer enough, will we get a "Reversal" here?</p>
			</div>
			<div id = "comment-1724" class = "comment">
				<p>I'm all for it :-)</p>
			</div>
			<div id = "comment-1743" class = "comment">
				<p>@Daniel Sounds like a good idea to me!</p>
			</div>
			</div>
				<textarea id = "speech-947" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-947">
					<img id="start_img-947" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-947">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-948"  class = "post">
				<h2>Answer</h2>
			<div id="vote-948" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a number of badges which are practically unattainable for various reasons:</p>

<ul>
<li>"participated in Beta" -> obvious</li>
<li>"Legendary" (Earned 200 daily reputation 150 times) -> maybe in a few years</li>
<li>"Reversal" (Provided answer of +20 score to a question of -5 score) -> how likely is that?</li>
</ul>

<p>So I think one unattainable badge more or less doesn't matter.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-948" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-948">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-948">Load Comments</button></br>
			<div id = "commentsection-948" class = 'collapse'>
			<div id = "comment-1718" class = "comment">
				<p>These can ultimately be achieved over time. The ones i have mentioned are absolutely unattainable from now onwards, there is no point in having them.</p>
			</div>
			<div id = "comment-1719" class = "comment">
				<p>So? Let the beta users have their badge, there are more than enough badges to go for remaining :-)</p>
			</div>
			<div id = "comment-1720" class = "comment">
				<p>have the badge but why list it, if it cannot be achieved?</p>
			</div>
			<div id = "comment-1740" class = "comment">
				<p>@GraemeHutchison, do you mean to list it on people's profiles, but not on the [list of badges](http://meta.apple.stackexchange.com/badges)?</p>
			</div>
			<div id = "comment-1741" class = "comment">
				<p>@Daniel yes, either list it as a badge or as something else, on the profile, and remove it from the list of attainable badges.</p>
			</div>
			</div>
				<textarea id = "speech-948" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-948">
					<img id="start_img-948" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-948">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>