<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Should we forbid all "Which Mac is the best for..." questions?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-887" class = "post">
			<h2>Question</h2>
			<div id="vote-887" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 121</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should we forbid all "Which Mac is the best for..." questions?</h2>
<p>I noticed lately a lot of "which Mac is the best for..." questions.</p>

<p>Here is a list, and I practically only used the <a href="https://apple.stackexchange.com/questions/tagged/development" class="post-tag" title="show questions tagged &#39;development&#39;" rel="tag">development</a> tag:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/29377/which-macbook-pro-configuration-is-best-suitable-for-iphone-ipad-app-development">Which MacBook Pro configuration is best suitable for Iphone/Ipad App development?</a></li>
<li><a href="https://apple.stackexchange.com/questions/3295/what-are-good-specs-for-a-macbook-to-develop-on-ios-with">What are minimum specs for a MacBook to develop iOS apps?</a></li>
<li><a href="https://apple.stackexchange.com/questions/29245/best-performance-macbook-for-xcode">https://apple.stackexchange.com/questions/29245/best-performance-macbook-for-xcode</a></li>
<li><a href="https://apple.stackexchange.com/questions/28493/is-a-macbook-pro-good-enough-for-software-development-or-is-an-imac-a-better-opt">https://apple.stackexchange.com/questions/28493/is-a-macbook-pro-good-enough-for-software-development-or-is-an-imac-a-better-opt</a></li>
<li><a href="https://apple.stackexchange.com/questions/3365/should-i-get-a-macbook-air-or-pro-for-ruby-on-rails-development-while-traveling">https://apple.stackexchange.com/questions/3365/should-i-get-a-macbook-air-or-pro-for-ruby-on-rails-development-while-traveling</a></li>
<li><a href="https://apple.stackexchange.com/questions/6650/is-the-white-macbook-suitable-for-software-development">Is the white MacBook suitable for software development?</a></li>
</ul>

<p>Some of them are closed, a lot still open. </p>

<p>So we should either <strong>close them</strong> all - in the end, they kind of belong to the <em>shopping</em>-style question - or, like Diago suggested for the iCloud questions, have a <strong>canonical question</strong>, with each MacBook and their specs as a separate answer, so we can close the other questions as a duplicate of this one.</p>

<p>My opinion would be to simply close them, but let's see what the community has to say about this.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-887" data-toggle = "popover">
				<p>user name : Lo c Wolff</p>
				<p> user reputation : 13007</p>
				<p class = "tagcontent" id = "usertaginfo-887">{'None': 24, 'tags': 24, 'discussion': 32, 'support': 1, 'status-completed': 25, 'design': 1, 'voting': 8, 'bug': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-887" class = 'collapse'>
			</div>
				<textarea id = "speech-887" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-887">
					<img id="start_img-887" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-887">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-888"  class = "post">
				<h2>Answer</h2>
			<div id="vote-888" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I do like the idea of a canonical question for this one. That way, most can be closed as duplicates, and those whose authors think the canonical question doesn't answer their question can provide more information to distinguish what makes their case different. Then, if their case is different but not too localized, they can be reopened.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-888" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-888">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-888" class = 'collapse'>
			</div>
				<textarea id = "speech-888" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-888">
					<img id="start_img-888" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-888">Comment</button>
			<br><div id = "ans-889"  class = "post">
				<h2>Answer</h2>
			<div id="vote-889" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would say no - don't close them unless they clearly are bad questions.</p>

<p>I was personally dissapointed that the "http://apple.stackexchange.com/questions/29377/which-macbook-pro-configuration-is-best-suitable-for-iphone-ipad-app-development" question got closed and will try to fix it and get it undeleted.</p>

<p>Even when the question is worded poorly (many of these are) and narrowly (the OP obviously is in the process of asking), I think there is a kernel of very important knowledge that is purely objective and should be questioned here to let people provide good technical answers.</p>

<p>Specifically, to develop iOS you have three major tasks:</p>

<ul>
<li>initial design and layout of the app</li>
<li>coding and unit tests</li>
<li>running the iOS simulator</li>
<li>debugging and support</li>
</ul>

<p>Portable macs have specific constraints that make the "design / layout" and "simulator" aspects of development problematic. Specifically, the iOS simulator wants to use 368 by 716 pixels for non retina devices, 690 by 994 pixels for retina devices and 765 by 994 for iPad simulation.</p>

<p>This really limits the effective use of say an 11 inch air unless you will have a monitor when you need to do the "design/layout" or want to edit code and read bug reports on the same screen as the simulator is running if you won't debug your code on an actual device and use the Mac's screen to do the dev half of the work.</p>

<hr>

<p>So - the existing tools (flag, close, edit) work well to close questions that are vague, similar or exact duplicate or don't talk about objective Q/A. </p>

<p>Any hardware recommendation question is prone to uncertainty / fragmentation based on the asker and answer's personal interpretation of:</p>

<ol>
<li>cost ($4k for professional tools is a pittance if you forego $400k for an education. On the other hand, $4k for something that won't make you money for 6-16 months is a lot to spend on <em>anything</em>)</li>
<li>time (students/learners vs professionals)</li>
<li>expertise</li>
<li>timing (do you try to time your purchase or just buy knowing macs hold their resale and you can always get most of your money back if you want a new mac in 3 months time)</li>
</ol>

<p>When these issues are mixed with a technical discussion, the quality of the question seems to devolve rapidly and I don't think a ban will be any more effective than current mod tools.</p>

<p>Thoughts?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-889" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-889">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-889">Load Comments</button></br>
			<div id = "commentsection-889" class = 'collapse'>
			<div id = "comment-1636" class = "comment">
				<p>Regarding the closed question, it definitely looks like a duplicate to me, is there some reason that's not the case?</p>
			</div>
			</div>
				<textarea id = "speech-889" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-889">
					<img id="start_img-889" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-889">Comment</button>
			<br><div id = "ans-894"  class = "post">
				<h2>Answer</h2>
			<div id="vote-894" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I favor having a canonical question for them, but until one is created I think that the questions can remain open, provided they aren't duplicates.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-894" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-894">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-894" class = 'collapse'>
			</div>
				<textarea id = "speech-894" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-894">
					<img id="start_img-894" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-894">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>