<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Should OS version be included on OS specific questions?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1285" class = "post">
			<h2>Question</h2>
			<div id="vote-1285" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should OS version be included on OS specific questions?</h2>
<p>Should OS version (E.g. 10.7.3) be included on all standard Operating System questions for future reference? As Operating Systems release updates and/or New Operating systems are released all together, multiple changes occur that may nullify previous answers. By making it mandatory to include the full version on any standard OS question we could ensure the integrity of the answers on apple.stackexchange.com as well as provide opportunities for new answers when updates and new Operating Systems are released.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1285" data-toggle = "popover">
				<p>user name : E1Suave</p>
				<p> user reputation : 1314</p>
				<p class = "tagcontent" id = "usertaginfo-1285">{'osx': -1, 'None': 0, 'support': -1, 'answers': -1, 'feature-request': -1, 'discussion': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1285">Load Comments</button></br>
			<div id = "commentsection-1285" class = 'collapse'>
			<div id = "comment-2417" class = "comment">
				<p>Related: http://meta.apple.stackexchange.com/questions/1141/</p>
			</div>
			<div id = "comment-2418" class = "comment">
				<p>I do not agree with Vivart's concept. It is not necessary for all questions to include multiple specs. However, as previously posted I do believe it is a solid idea to provide the OS version. What is to be done with questions that are the same but would naturally have different answers due to the OS version?</p>
			</div>
			<div id = "comment-2419" class = "comment">
				<p>I see this as an opportunity for more questions followed by more reliable answers.</p>
			</div>
			</div>
				<textarea id = "speech-1285" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1285">
					<img id="start_img-1285" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1285">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1286"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1286" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a modified version of <a href="https://apple.meta.stackexchange.com/a/1144/2220">my answer</a> on <a href="https://apple.meta.stackexchange.com/questions/1141/i-think-system-specifications-should-show-as-signature/1144#1144">I think system specifications should show as signature?</a>.</p>

<p>I've seen similar systems implemented on other sites (like the Apple Discussions).</p>

<p>The current system is to specify the OS in the body of the question and/or in a tag. I think that way works pretty well; it gives users an easy way to include the info and gives us an easy way to organize things.</p>

<p>The idea of making people know and tell us their OS is good, but I don't think it would work well on Ask Different.</p>

<p>(Note: I'm assuming we would require this information for questions tagged with any of the OS tags.)</p>

<ul>
<li><p><strong>Detailed OS info isn't always necessary.</strong> This would force people to include info even when it isn't necessary (not all questions tagged <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a> need a version specified).</p></li>
<li><p><strong>Dedicated OS info would frequently be redundant.</strong> We'd run the risk of causing redundancy by requiring people to specify their OS version if they have already specified it in the body of their question or in a tag.</p></li>
</ul>

<p>I don't think that adding system info separately is the right path to take.</p>

<p>What I would like to see, though, is another 'reminder' item shown while posting a question that tells people to be sure to include all relevant hardware and software information.</p>

<p>Of course people wouldn't always follow it, but commenting and asking for info is easy, and people generally respond to it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1286" data-toggle = "popover">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p class = "tagcontent" id = "usertaginfo-1286">{'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1286">Load Comments</button></br>
			<div id = "commentsection-1286" class = 'collapse'>
			<div id = "comment-2420" class = "comment">
				<p>I agree with your thought of having a reminder. However, I also have a concern with OS specific searching in the future. If their isn't a tag or specific version information provided in the title how would a quick search for a common question look? The user who is hoping for answers may find themselves diving through multiple answers before finding one that actually works with their OS.</p>
			</div>
			<div id = "comment-2423" class = "comment">
				<p>Nathan... Did you give me a downvote? :(</p>
			</div>
			<div id = "comment-2425" class = "comment">
				<p>@E1Suave No, I didn't. I think the idea is valid and worth consideration, even if I don't agree with it. Don't worry about downvotes, though. That's just how people show whether or not they support an idea.</p>
			</div>
			<div id = "comment-2426" class = "comment">
				<p>OK thanks. It's my first question. :)</p>
			</div>
			<div id = "comment-2432" class = "comment">
				<p>OS specific tags can also work against future searches, particularly if the problem/solution apply to multiple versions of the OS. In general, I believe fewer-broader tags serve us better than more-specific tags do.</p>
			</div>
			</div>
				<textarea id = "speech-1286" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1286">
					<img id="start_img-1286" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1286">Comment</button>
			<br><div id = "ans-1287"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1287" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Different iterations of iOS and Mac OS X have more in common than they have differences. While OS versions are sometimes very relevant to the answer to a program, frequently they are not. I see no reason whatsoever to require questions to be more specific than necessary.</p>

<p>It is not rare for a question to omit important information. Occasionally, that missing information is the operating system. But this seems like a solution in search of a problem that our community, for the most part, does not have.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1287" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1287">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1287">Load Comments</button></br>
			<div id = "commentsection-1287" class = 'collapse'>
			<div id = "comment-2427" class = "comment">
				<p>I certainly do not mean to imply that there is a problem. Just thought that it could be a nice addition for future searches. Certainly there are major differences between Panther and Lion (2003 - 2011). However, many questions once asked about Panther may have many similarities to questions still asked about Lion.</p>
			</div>
			<div id = "comment-2428" class = "comment">
				<p>I'm all in favor of including versions where relevant, and editing old questions and answers when changes make the answer become version-specific. But I'm opposed to requiring version information, or even encouraging it when it doesn't change the answer.</p>
			</div>
			<div id = "comment-2429" class = "comment">
				<p>How is one to know if the answer will be different on a future release? If this judgement is to be based on anyones opinion outside of Apple it is highly likely that future questions will have answers that do not define any version specifics. What if we were to have questions asked 8 years ago about Panther, and no specific version information was deemed necessary and made available. And what if today a user searches for a similar question hoping for an answer and thinks they have found one. Unfortunately in this case the answer has no hope of being helpful on the user's Lion machine.</p>
			</div>
			<div id = "comment-2430" class = "comment">
				<p>However in agreeing with your point that not all things change and much of the OS will stay very similar, I would hate for users to simply disregard answers because the answered date was ages ago or the system version was old. I just think there is a need for something to set apart OS version specific answers, aside from the judgement of one who may not care or think about adding this information.</p>
			</div>
			<div id = "comment-2434" class = "comment">
				<p>According to the community wiki "Unless the question is obviously completely hardware-related (which it almost never is), include your version of Mac OS. You can get this from the "About This Mac" window." This was based on the answer to your question "Help! My computer doesn't work" 6 months ago.</p>
			</div>
			<div id = "comment-2435" class = "comment">
				<p>http://meta.apple.stackexchange.com/questions/890/help-my-computer-doesnt-work  Are you in disagreement with the answer/community wiki tagged FAQ? I see that the answer was not accepted. Perhaps you disagree with the community wiki. What I am pointing out is that down the road it may not be as easy to search for related questions nor create new questions because the wording will be so similar even though the answer is not.</p>
			</div>
			<div id = "comment-2436" class = "comment">
				<p>The post to which you refer is about best practices: it's great advice, but not a requirement. It also applies specifically to **troubleshooting** posts not to all posts. If someone is trying to fix something broken, OS version information can be very helpful. There are many other categories posts that don't need OS version information, though, and we don't usually add a lot of **requirements** here. You seem to propose we make it mandatory (how? delete all posts that don't include OS info?), and that's not how we generally roll here. Good idea often, helpful, but not a general requirement.</p>
			</div>
			</div>
				<textarea id = "speech-1287" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1287">
					<img id="start_img-1287" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1287">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>