<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Should follow-up advice given in comments be added as an update to an answer?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2578" class = "post">
			<h2>Question</h2>
			<div id="vote-2578" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 59</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should follow-up advice given in comments be added as an update to an answer?</h2>
<p>I provided and answer to <a href="https://apple.stackexchange.com/questions/197514/how-many-partitions-should-i-make-and-what-formatting-schemes-should-be-used-on/197526#197526">this question</a> on the main site, and subsequent to that answer, I had an exchange with the OP in the comments section where I provided additional advice on how I personally handled a similar situation, and the solutions I used. </p>

<p>I think that those answers are more <strong>opinion-based</strong> than the original answer, and don't necessarily answer the original question directly, but more address the OP's follow-up, so I am not sure whether or not they should be incorporated into the Q &amp; A as an update to the originals. </p>

<p><em>So should the Q &amp; A's be updated or is that additional information more correctly left in the comments?</em></p>

<p>I would appreciate any feedback you can give on this situation, so that I know how to handle not only this, but similar situations going forward.</p>

			</div>
			<div id = "userinfo-2578" style = "float:right">
				<p>user name : AMR</p>
				<p> user reputation : 1052</p>
				<p> user tag wise history : {'etiquette': 0, 'None': 0, 'flagging': 1, 'tags': 7, 'discussion': 12, 'moderation': 1, 'answers': 4, 'moderators': 1, 'comments': 4, 'questions': 4, 'editing': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2578" class = 'collapse'>
			</div>
				<textarea id = "speech-2578" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2578">
					<img id="start_img-2578" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2578">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2579"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2579" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So long as your answer contains a real and genuine answer, then provided the more fluffy bits round the edges are just extra information, and do not form the primary answer, then they will read better and your post will seem more complete than if you include bits in the answer and bits in comments.  Plus, comments invite further comments, which soon clutter things up diluting the message. In your particular example, then worded correctly I would be happy to see it in the answer, not only does it remove your own comment, but it could remove the previous comments too as their queries are now included in an answer.</p>
</p><br>
			</div>
			<div id = "userinfo-2579" style = "float:right">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p> user tag wise history : {'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2579" class = 'collapse'>
			</div>
				<textarea id = "speech-2579" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2579">
					<img id="start_img-2579" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2579">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>