<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Should I switch my servo system from brushed to brushless motors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-254" class = "post">
			<h2>Question</h2>
			<div id="vote-254" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 589</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should I switch my servo system from brushed to brushless motors?</h2>
<p>I have a robot that uses brushed motors in its servo system. These are Maxon 3W motors, with 131:1 planetary gearboxes. The motors are controlled by a PIC microcontroller, running a 1kHz PID controller. The servos are for a low speed high torque application. There is significant backlash between the sensor and the motor.</p>

<p>Maxon offer 12W brushless motors which are the same size. These are better in many ways: double the torque, better heat dissipation, higher efficiency.</p>

<p>The problem, obviously, is that they require more complex drive electronics. Also, I have heard a couple of people mention that brushed motors are better for servo applications, though they never explained why.</p>

<ul>
<li>Has anyone else implemented this kind of system?</li>
<li>Are there any gotchas when using brushed motors for servos?</li>
<li>Is it possible to servo it at low speeds if I only have the 3 integral digital Hall sensors, and no encoder? (I would prefer not to add an encoder because of the money and space cost)</li>
<li>It torque ripple likely to be a problem?</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-254" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-254">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-254" class = 'collapse'>
			</div>
				<textarea id = "speech-254" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-254">
					<img id="start_img-254" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-254">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-260"  class = "post">
				<h2>Answer</h2>
			<div id="vote-260" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Brushed motors are easier for servo systems, but are not better.  Many high end servo systems are brushless/AC.</p>

<p>It is possible to control the motors at low speeds with only 3 hall sensors.  You really don't want trapezoidal commutation, especially at low speeds so could add an encoder or estimate the rotor position if necessary.</p>

<p>It is possible to estimate the rotor position with only hall/current sensors but if there are a lot of external disturbances it won't work very well.</p>

<p>Torque ripple is unlikely to be a problem, of course it depends on your application.  More advanced commutation methods (sinusoidal or flux vector) essentially eliminate torque ripple.</p>

<p>You say that your application is low speed, but you are also using a 131:1 gearbox.  What RPM does the motor normally see?  Its not really a low speed application if the motor is running at 30%+ of its rated RPM.  Even hall sensors are very high resolution after going through that much reduction so you might not really need low speed performance at the motor itself.</p>

<p>IMHO Given that your current system has significant backlash between the sensor and the motors, I can't imagine a brushless system doing any worse even with halls/trapezoidal commutation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-260" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-260">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-260">Load Comments</button></br>
			<div id = "commentsection-260" class = 'collapse'>
			<div id = "comment-272" class = "comment">
				<p>Thanks for the answer. The velocity of the motor ranges from full speed, right down to zero. Sometimes the motor will need to make large rapid movements, and sometimes it will need to make tiny or *very* slow movements.</p>
			</div>
			</div>
				<textarea id = "speech-260" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-260">
					<img id="start_img-260" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-260">Comment</button>
			<br><div id = "ans-866"  class = "post">
				<h2>Answer</h2>
			<div id="vote-866" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In industry, there is a strong preference for low maintenance brush-less motors over relatively high maintenance brushed motors. While the former may me more expensive in terms of the motor itself and the drive electronics, the reduction in the term long cost of maintenance usually out weighs the extra capital cost.</p>

<p>As <a href="https://robotics.stackexchange.com/a/260/37">user65</a> suggests, you may need sinusoidal commutation to avoid torque ripple at low speeds, depending on precisely how you design your system and how fine you need your velocity control to be.</p>

<p>The paper <a href="http://www.magnelab.com/uploads/4c51d9ba6fe5a.pdf" rel="nofollow noreferrer">A Comparison Study of the Commutation Methods for ...</a> has some interesting information commutation methods, which might be of use.</p>

<p>Ultimately though, I think that avoiding using encoders is a false economy.</p>

<p>Unlike halls, they have the distinct advantage that they <em>aren't tied to the motor rotation</em> - i.e. they don't have to go on the motor shaft. You could place them on the load side of the gearbox, which will allow you to quantify the precise effects of the backlash in your gearbox.</p>

<p>This would allow you to to perform backlash compensation in software, run dual servo loops (one for position tracking with backlash compensation and another for more immediate velocity control) and generally take much more precise control of your system both at high and low speeds.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-866" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-866">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-866">Load Comments</button></br>
			<div id = "commentsection-866" class = 'collapse'>
			<div id = "comment-2155" class = "comment">
				<p>Regarding encoders: annoyingly, our system suffers from a high level of very variable backlash. It can vary between 0% and 60% of the load's travel! There's not much we can do about it without making fundamental changes to the nature of our robot.</p>
			</div>
			<div id = "comment-2157" class = "comment">
				<p>@Rocketmagnet - Presumably most of your movements are from one end of travel to the other then? If you are making moves of less than 60% of travel I can't see how you can ever know where you are. At least if you add an encoder you *would* know where you are, even if you don't know how much you have to turn the motor to get somewhere else. Have you published anything anywhere about your robot yet? I would be interested to read more about it.</p>
			</div>
			<div id = "comment-2169" class = "comment">
				<p>On [our robot](http://www.shadowrobot.com/) we have analogue position sensors at the load (after the backlash), so I can do reasonable position control. And we have torque sensors at the motor output (before the backlash) so I can at least drive the motor quickly until it feels the backlash being taken up. Still, I'd really prefer not to have any backlash.</p>
			</div>
			<div id = "comment-2170" class = "comment">
				<p>@Rocketmagnet - Wouldn't we all. **8')* It's why I like working with direct drive linear motors, there your only real problem is *cogging* and that can be tuned out. Incidentally, do you have a single motor per axis, and have you considered doubling up and having a pair of these high backlash actuators working in opposition? I presume that's how your *air muscles* are used in the *dextrous hand*.</p>
			</div>
			<div id = "comment-2172" class = "comment">
				<p>My dream is to use direct drive motors. Sadly other constraints rule these out at the moment. We have a single motor per axis. One motor per tendon would remove the backlash, but massively increase the weight, cost and size.</p>
			</div>
			</div>
				<textarea id = "speech-866" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-866">
					<img id="start_img-866" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-866">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>