<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Should a MG996R Servo's extreme position change over time?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8104" class = "post">
			<h2>Question</h2>
			<div id="vote-8104" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 102</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should a MG996R Servo's extreme position change over time?</h2>
<p>This question is a follow on from my previous question, <a href="https://robotics.stackexchange.com/questions/8103/overheating-jamming-servo">Overheating/Jamming MG996 servo</a>.</p>

<p>I have recently purchased my first ever servo, a cheap unbranded Chinese MG996R servo, for  3.20 on eBay.</p>

<p><a href="https://i.stack.imgur.com/p57Ha.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/p57Ha.jpg" alt="MG996R clone servo"></a></p>

<p>After mounting the servo horn and the bracket, I realised that I had not mounted the horn in a <em>tout a fait</em> 0  orientation, rather the angle between the bracket and the servo side was approximately 20 . However, after switching the servo on and off a couple of times, with each time allowing the servo to perform, say, about 10 sweeps each time, I quickly noted that the servo s extreme positions were changing over time, so that the initial extremes and then the extremes after about 5 on and off cycles, had changed by about 15 , so that now, 0  and 180  the bracket is now parallel with the body of the servo. </p>

<p>I was quite surprised at this, as I had assumed that the 0  and 180  positions would be fixed, and not change over time, or vary each time that it was switched on and off.</p>

<p>Seeing as there should be a <em>stop peg</em> on the gear connected to the potentiometer inside, how is this even possible?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8104" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-8104">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8104" class = 'collapse'>
			</div>
				<textarea id = "speech-8104" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8104">
					<img id="start_img-8104" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8104">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10791"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10791" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is there anything with a weight (actually moment of inertia) connected to the servo? If so, it might be that the plastic "mounting" part is slipping with respect to axle. Axle shouldn't ever be changing extremes.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10791" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-10791">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10791">Load Comments</button></br>
			<div id = "commentsection-10791" class = 'collapse'>
			<div id = "comment-19424" class = "comment">
				<p>Thanks for the answer... The only thing connected to the servo is an aluminium SES multi-function bracket, with nothing attached beyond that, so the inertia is negligible. The body of the servo is not mounted on anything, it is just sitting "loose" on my work top, rotating back and forth. It was the actual angle of the bracket to the _body_ of the servo itself that was changing, not to what the body was mounted upon.</p>
			</div>
			</div>
				<textarea id = "speech-10791" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10791">
					<img id="start_img-10791" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10791">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>