<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Should answers which are not forward compatible be edited for compatibility, or new answers created for new versions?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2688" class = "post">
			<h2>Question</h2>
			<div id="vote-2688" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 31</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should answers which are not forward compatible be edited for compatibility, or new answers created for new versions?</h2>
<p>Recent OS X updates (SIP) have rendered some old solutions (especially scripts) broken. Should old answers be updated, or new questions answered in their own right?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2688" data-toggle = "popover">
				<p>user name : agentroadkill</p>
				<p> user reputation : 1061</p>
				<p class = "tagcontent" id = "usertaginfo-2688">{'site-scope': 1, 'None': 0, 'editing': 5, 'discussion': 6, 'questions': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2688" class = 'collapse'>
			</div>
				<textarea id = "speech-2688" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2688">
					<img id="start_img-2688" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2688">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2689"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2689" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The old solutions are not broken; the new operating systems are :-)</p>

<p>The posted solutions are still quite valid for computers running the operating systems for which the answers were written. I don't see any reason to break the answers for people running Panther or Tiger or Leopard or Snow Leopard or Lion or Mountain Lion or </p>

<p>If one wanted to edit <em>additional</em> information into the answers to make them compatible with these newfangled operating systems that aren't named after cats, I suppose one could do that, but don't break answers that work fine for the systems for which they were intended.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2689" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-2689">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2689">Load Comments</button></br>
			<div id = "commentsection-2689" class = 'collapse'>
			<div id = "comment-5968" class = "comment">
				<p>That's more or less my thought, though I guess my question was incomplete. Should the new solutions be added to the original answer, or new answers created in new questions for the new OS?</p>
			</div>
			<div id = "comment-5969" class = "comment">
				<p>Either one sounds like a good plan to me.</p>
			</div>
			<div id = "comment-5970" class = "comment">
				<p>Perhaps a quick copy/paste then to keep one question answer as a reference and mark the other one answered</p>
			</div>
			<div id = "comment-5971" class = "comment">
				<p>@agentroadkill I like what daniel said here. Also, if the existing question and answers are great, it's better to edit/curate it. If there are problems with the old question (no user to accept an answer, problematic length-too long, asks several questions, rambles and especially if the answers are off-track mostly) - better to make a new question and link in the body explaining that 10.11 seems to be the time when whatever "broke"</p>
			</div>
			</div>
				<textarea id = "speech-2689" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2689">
					<img id="start_img-2689" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2689">Comment</button>
			<br><div id = "ans-2690"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2690" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If there is a clearly-winning, correct answer which only changes at for instance El Capitan, my inclination would be to just add something along the lines of  </p>

<p>"<strong>Edit:</strong> after El Capitan you need to do this instead/as well"   </p>

<p>which preserves the original &amp; updates for newer systems <em>and also</em> keeps the right answer for all occasions at the top of the list.</p>

<p>It also keeps the rep points accruing for the person who actually got the right answer in the first place; it wasn't their fault El Capitan broke their elegant solution.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2690" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2690">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2690" class = 'collapse'>
			</div>
				<textarea id = "speech-2690" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2690">
					<img id="start_img-2690" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2690">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>