<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Should we merge or edit and differentiate these two questions?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1608" class = "post">
			<h2>Question</h2>
			<div id="vote-1608" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 29</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should we merge or edit and differentiate these two questions?</h2>
<p>I've closed a question since I'd like to have one authoritative "My FaceTime was hacked" thread, but perhaps I've been too hasty.</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/questions/81952/apple-id-facetime-account-hacked">Apple ID /Facetime account hacked?</a></p></li>
<li><p><a href="https://apple.stackexchange.com/questions/81236/does-receiving-spam-imessages-facetime-calls-indicate-my-account-is-compromise">Does receiving spam iMessages / FaceTime calls indicate my account is compromised?</a></p></li>
</ul>

<p>What's your read on this? Total dupe and merge down the newer question to the older question or is my second comment onto a reason to edit / keep them separate for a while (perhaps even open for longer) to see if they're two different cases with the same circumstances. (some sort of unwanted call arrives to someone that isn't deeply familiar with the inner workings of iMessage and FaceTime and what is needed.</p>

<p>If the questions were all clear and direct, I could see a good question on the following without any really being a duplicate:</p>

<ul>
<li>What is needed to send an unwanted message?</li>
<li>What is needed to register a bogus account?</li>
<li>What is needed to actually compromise your pre-existing account?</li>
</ul>

			</div>
			<div id = "userinfo-1608" style = "float:right">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p> user tag wise history : {'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1608" class = 'collapse'>
			</div>
				<textarea id = "speech-1608" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1608">
					<img id="start_img-1608" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1608">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1609"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1609" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is indeed a fairly complicated situation because:</p>

<ol>
<li>The newer question is lower quality - potentially good content, but there is a lack of all-important details that would narrow the field of options as to what happened</li>
<li>The newer question scores really nicely in Google - perhaps this is because it uses some important words in the title such as "Apple ID" and "hacked". I think some is more likely to find a question with those keywords instead of "compromised" and such.</li>
<li>The newer question also brings in the factor, that, potentially, the OPs contacts were used in calling contacts - this is an element that wasn't introduced in the older question. On the other hand, it could have a complete coincidence.</li>
</ol>

<hr>

<ol>
<li>The older question has a lot of good, qualifying information which is used to determine exactly what happened. </li>
</ol>

<p>I think the key element at stake here is the phrase in the <em>newer</em> question where the OP states quite emphatically:</p>

<blockquote>
  <p>we received a Facetime call from <strong>our own email address</strong> and it was a complete stranger</p>
</blockquote>

<p>Even though you can Facetime from any email address (@gmail.com, @icloud.com, @hotmail.com, etc. etc), to any email address, it seems strange that someone else could Facetime <em>from</em> the OPs email address. </p>

<p><em>Side note: One thing I probably should have mentioned in my answer is that, at least as of iOS 6, one really can't Facetime their own email address.</em></p>

<p>For the older question, it is obviously possible for anyone to iMessage or Facetime anyone and it seems much less of a "hack" event.</p>

<p>So, as it is right now, I see the questions as sufficiently different.</p>
</p><br>
			</div>
			<div id = "userinfo-1609" style = "float:right">
				<p>user name : bassplayer7</p>
				<p> user reputation : 11741</p>
				<p> user tag wise history : {'None': 8, 'review-page': 1, 'discussion': 6, 'feature-request': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1609">Load Comments</button></br>
			<div id = "commentsection-1609" class = 'collapse'>
			<div id = "comment-2989" class = "comment">
				<p>I agree they could be different - we'll see - I almost answered with questions back - what address was used exactly but realized that was a commend and it indicated that the question is really too broad to be answered in it's current form. It could be hacking, it could be misunderstanding, it could be spam using a unicode character to look like the OP's email even though it's a different iCloud account. We just can't tell yet, IMO.</p>
			</div>
			</div>
				<textarea id = "speech-1609" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1609">
					<img id="start_img-1609" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1609">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>