<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Should we allow "useless" tags and what are "useless" tags for Apple.SE?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4" class = "post">
			<h2>Question</h2>
			<div id="vote-4" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 124</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should we allow "useless" tags and what are "useless" tags for Apple.SE?</h2>
<p>What is the list of tags we should not allow? Much like how on most other SE sites tags like <code>homework</code>, <code>subjective</code>, etc. have been disallowed.</p>

<p>For more info check out: <a href="https://meta.stackexchange.com/questions/51627/should-we-permanently-remove-the-subjective-tag">Should we permanently remove the [subjective] tag?</a> on Meta.SO.</p>

			</div>
			<div id = "userinfo-4" style = "float:right">
				<p>user name : Chealion</p>
				<p> user reputation : 6376</p>
				<p> user tag wise history : {'None': 56, 'tags': 6, 'discussion': 28, 'chat': 4, 'beta-essentials': 10, 'site-promotion': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4">Load Comments</button></br>
			<div id = "commentsection-4" class = 'collapse'>
			<div id = "comment-3752" class = "comment">
				<p>I'm going to lock this. With two questions, it got the discussion started in 2010 but isn't answerable or continuing the discussion today.</p>
			</div>
			</div>
				<textarea id = "speech-4" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4">
					<img id="start_img-4" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Why should we not allow <code>[mac]</code> or <code>[apple]</code> tags? </p>

<p>Is there a distinct clutter benefit to not allowing them? </p>

<p>Some tags that I think we should not allow:</p>

<ul>
<li><code>[linux]</code></li>
<li><code>[windows]</code></li>
</ul>

<p>Okay, just a joke. I can't think of any tags that <em>shouldn't</em> be allowed, except for standard subjective questions, questions that are clearly argumentative (<code>windows-vs-mac</code>?) or spiteful (<code>i-can't-google</code>).</p>
</p><br>
			</div>
			<div id = "userinfo-7" style = "float:right">
				<p>user name : Josh K</p>
				<p> user reputation : 1615</p>
				<p> user tag wise history : {'None': 45, 'tags': 19, 'site-scope': 7, 'discussion': 46, 'status-bydesign': 1, 'bug': 1, 'beta-essentials': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7">Load Comments</button></br>
			<div id = "commentsection-7" class = 'collapse'>
			<div id = "comment-7" class = "comment">
				<p>As was proposed in the other question on the subject, [apple] as a tag makes a great deal of sense for questions about the company. [osx] for general OS questions seems fine as well. [mac] however, feels very superfluous to me.</p>
			</div>
			<div id = "comment-8" class = "comment">
				<p>@Less: Then submit and answer indicating that. I'm starting to feel the same way however. :)</p>
			</div>
			<div id = "comment-23" class = "comment">
				<p>I didn't have the rep to before!</p>
			</div>
			</div>
				<textarea id = "speech-7" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7">
					<img id="start_img-7" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7">Comment</button>
			<br><div id = "ans-12"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>At first I believed they'd add clutter but using <code>[mac]</code> for any Mac based questions, <code>[iphone]</code> for iPhone based questions, etc. will help users categorize the type of Apple question. My initial impressions was wrong but I still believe there will be a list of tags that should not be allowed. The ones I first gave are not them.</p>
</p><br>
			</div>
			<div id = "userinfo-12" style = "float:right">
				<p>user name : Chealion</p>
				<p> user reputation : 6376</p>
				<p> user tag wise history : {'None': 56, 'tags': 6, 'discussion': 28, 'chat': 4, 'beta-essentials': 10, 'site-promotion': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12">Load Comments</button></br>
			<div id = "commentsection-12" class = 'collapse'>
			<div id = "comment-16" class = "comment">
				<p>Can you edit the question & title then? Sounds like a good idea.</p>
			</div>
			<div id = "comment-20" class = "comment">
				<p>@Josh K: Toned down the suck!</p>
			</div>
			<div id = "comment-36" class = "comment">
				<p>+agreed.  I think [apple] is definitely useless as it's the basic premise of the site.  [mac], [osx], [iphone], etc, are very usefull.</p>
			</div>
			</div>
				<textarea id = "speech-12" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12">
					<img id="start_img-12" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12">Comment</button>
			<br><div id = "ans-21"  class = "post">
				<h2>Answer</h2>
			<div id="vote-21" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think that if we have an <code>[apple]</code> tag, it will be used in a way that doesn't add any value.  Maybe we can use <code>[apple inc]</code> for questions related to the company.</p>
</p><br>
			</div>
			<div id = "userinfo-21" style = "float:right">
				<p>user name : KeithB</p>
				<p> user reputation : 423</p>
				<p> user tag wise history : {'None': 22}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-21">Load Comments</button></br>
			<div id = "commentsection-21" class = 'collapse'>
			<div id = "comment-122" class = "comment">
				<p>Yes, my thoughts exactly when I noticed someone had retagged [this](http://apple.stackexchange.com/questions/715/what-was-the-very-first-apple-product) with [apple]. 
[apple-inc] might indeed be better as it makes it clearer it's about the *company*. If we do keep the [apple] tag, it will certainly be used in completely superfluous ways (like [programming] on Stack Overflow).</p>
			</div>
			</div>
				<textarea id = "speech-21" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-21">
					<img id="start_img-21" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-21">Comment</button>
			<br><div id = "ans-26"  class = "post">
				<h2>Answer</h2>
			<div id="vote-26" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>[Mac] strikes me as the single most superfluous tag. [OSX] while seemingly useless at a glance, is actually fairly useful for categorizing general system software questions that aren't specific to one version or another. Similarly, [Apple] makes perfect sense as a tag for questions about Apple, The Company, rather than Apple, The Subject - But if folks would rather that tag be [Apple, Inc.], I don't think that's a problem either.</p>

<p>Questions about Mac Hardware, should, for clarity, probably be tagged with the particular product line (i.e. [iMac], [PowerBook], [Mac Mini]), or category ([Notebook], [Desktop]). I can really only count on one hand the sort of questions that could generally be applied to all Macs across that sort of categorization scheme that would actually benefit from a tag of [Mac] and not something else entirely.</p>
</p><br>
			</div>
			<div id = "userinfo-26" style = "float:right">
				<p>user name : LessPop_MoreFizz</p>
				<p> user reputation : 974</p>
				<p> user tag wise history : {'None': 14}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-26">Load Comments</button></br>
			<div id = "commentsection-26" class = 'collapse'>
			<div id = "comment-1341" class = "comment">
				<p>[Is it OSX or OS X?](http://meta.apple.stackexchange.com/q/609/8546)</p>
			</div>
			</div>
				<textarea id = "speech-26" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-26">
					<img id="start_img-26" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-26">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>