<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Should making edits bump a question to the top of the list?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1028" class = "post">
			<h2>Question</h2>
			<div id="vote-1028" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 72</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Should making edits bump a question to the top of the list?</h2>
<p>I noticed today that even a tiny edit like simply removing the word "thanks" form the end of a question can bump it right back to the top of the list of questions.</p>

<p>Whilst this does alert interested users of change, it also bumps the rest of the questions down the way.  When you get a serial editor come along and make dozen of changes on a short period of time, the entire first page of results can be shunted away making space for edits that may not have materially amended the post.  It does seem odd to see a whole load of older posts jump to the front leaving the newer questions way down the page where they are less likely to be spotted.</p>

<p>Would it not be better for edits to be construed as responses to those that have already taken part in the question, without it making them look like new content in the form of an answer?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1028" data-toggle = "popover">
				<p>user name : stuffe</p>
				<p> user reputation : 22059</p>
				<p class = "tagcontent" id = "usertaginfo-1028">{'status-reproduced': 15, 'None': 251, 'discussion': 51, 'support': 15, 'community-wiki': 7, 'status-completed': 13, 'meta': 6, 'design': 23, 'chat': 6, 'bounty': 3, 'bug': 23, 'site-promotion': 28}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1028">Load Comments</button></br>
			<div id = "commentsection-1028" class = 'collapse'>
			<div id = "comment-1854" class = "comment">
				<p>Related: http://meta.stackexchange.com/questions/26483/could-we-have-the-ability-to-mark-a-change-as-minor-in-questions-or-answers</p>
			</div>
			<div id = "comment-1855" class = "comment">
				<p>Exactly that - great link, and as one of the commenters mentioned over there, it's much worse on lower traffic sites like this one when it happens, as there isn't the natural flow of normal content being thrown into the mix at the same speed as the edits.</p>
			</div>
			<div id = "comment-1857" class = "comment">
				<p>In the absence of such a mechanism, perhaps we need to discourage serial editing sprees.</p>
			</div>
			<div id = "comment-1858" class = "comment">
				<p>Honest question: did I "inspire you" (cause you) to post this?</p>
			</div>
			<div id = "comment-1860" class = "comment">
				<p>Hehe, honest Answer: No, actually it was "daviesgeek", and while it's not a criticism of his efforts, clearly every edit improves something, he was knocking them out at a rate a couple a minute.  The comment over on the main SE site restricted himself to one an hour to prevent the massive exodus of posts with the same name to the top of the list.  That seems a little low.  I think a better option is to better encourage the behaviour of avoiding tiny edits, like simply removing "thanks" that might clean things up but don't add to the question or answers validity, unless further edits are made</p>
			</div>
			<div id = "comment-1871" class = "comment">
				<p>I was actually wondering about the same thing myself. Particularly because I mainly make cleanup edits that aren't major edits. I don't like cluttering up the main page of the site with old posts. However, I usually try not to edit at a high traffic time, so night time, etc. Thanks for posting, BTW.</p>
			</div>
			</div>
				<textarea id = "speech-1028" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1028">
					<img id="start_img-1028" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1028">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>