<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sigma gate (std deviation) plot Inference
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12199" class = "post">
			<h2>Question</h2>
			<div id="vote-12199" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 18</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sigma gate (std deviation) plot Inference</h2>
<p>So i plot some standard deviation plots (std deviation obtained from covariance matrices generated) around mean, to see if the ground truth lies in it or not. </p>

<p>It is an localization estimation of an UAV, so i have 3 plot; estimation of x (north), estimation of y (east) and estimation of z (downwards towards earths center). </p>

<p><a href="https://imgur.com/a/1jHED" rel="nofollow noreferrer">http://imgur.com/a/1jHED</a></p>

<p>As it can seen from the plots that the covariance estimation looks fine in the case of x and y as the ground truth lies just within it, not leaving too much residual. However in the estimation of z the covariance estimation is not that good.</p>

<p>I believe, it is because the uncertainty in attitude estimation is not modelled efficiently, am i correct? </p>

<p>What my question here is what can i infer from the plots, a little detail will help me a lot. </p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12199" data-toggle = "popover">
				<p>user name : Rohit Dhakate</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-12199">{'visualization': 2, 'None': 0, 'slam': 2, 'uav': 0, 'localization': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12199">Load Comments</button></br>
			<div id = "commentsection-12199" class = 'collapse'>
			<div id = "comment-21554" class = "comment">
				<p>What do you mean x and y are good but z is bad? It looks like the exact opposite to me. For your middle plot, z, your estimate tracks very close to the ground truth. The top plot, y, shows the ground truth is tracking the $-\sigma$ line, and the bottom plot, x, shows ground truth *beyond* the $-\sigma$ line. Can you please clarify what you are expecting to see? You also talk about a "not good" estimate of z and state that "attitude estimation is not modelled efficiently." Do you mean *altitude*? How are you estimating it?</p>
			</div>
			<div id = "comment-21555" class = "comment">
				<p>what i meant to say is the estimation of covariance for x and y are good and for z is not that optimal. 
If the ground truth  JUST fits in the sigma gates, not leaving too much room, dosent it mean that he covariance estimation is done perfectly?
I believe for covariance in z, a high uncertainty is modelled which lead to a larger standard deviation. Wouldnt it affect on the localization estimation if the covariance estimation is not done efficiently?
The localization estimation (x,y,z) is carried out through a VisualSLAM algorithm.</p>
			</div>
			</div>
				<textarea id = "speech-12199" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12199">
					<img id="start_img-12199" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12199">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12202"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12202" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>How are you calculating the covariance and sigma values? It looks like the magnitudes of your sigma values are the same on each axis. This would make sense if you're looking at the straight line distance between your estimated position and the ground truth position, and would also explain why your z-value sigma values are so large - your poor x/y estimates are degrading the quality of your z-axis estimate. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12202" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-12202">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12202" class = 'collapse'>
			</div>
				<textarea id = "speech-12202" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12202">
					<img id="start_img-12202" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12202">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>