<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Simple equation to calculate needed motor torque
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9114" class = "post">
			<h2>Question</h2>
			<div id="vote-9114" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 898</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Simple equation to calculate needed motor torque</h2>
<p>Suppose I have a DC motor with an arm connected to it (arm length = 10cm, arm weight = 0), motor speed 10rpm.</p>

<p>If I connect a 1Kg weight to the very end of that arm, how much torque is needed for the motor to do a complete 360  spin, provided the motor is placed horizontally and the arm is vertical?</p>

<p>Is there an simple equation where I can input any weight and get the required torque (provided all other factors remain the same)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9114" data-toggle = "popover">
				<p>user name : Ramast</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-9114">{'None': 0, 'torque': 4, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9114" class = 'collapse'>
			</div>
				<textarea id = "speech-9114" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9114">
					<img id="start_img-9114" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9114">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9118"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9118" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The dynamic torque of actuators for robotic limbs is a topic that is thoroughly discussed in a mathematical introduction to robotic manipulation.
<a href="http://www.cds.caltech.edu/~murray/books/MLS/pdf/mls94-complete.pdf" rel="nofollow">http://www.cds.caltech.edu/~murray/books/MLS/pdf/mls94-complete.pdf</a></p>

<p>Answering your question lead me to page 156.  The result seems to be that the torque is purely dependent on position and independent velocity (assuming steady simply planar rotation).
So by your numbers, I would expect approximately one newton-meter cosine wave at ten cycles per minute.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9118" data-toggle = "popover">
				<p>user name : Drew</p>
				<p> user reputation : 70</p>
				<p class = "tagcontent" id = "usertaginfo-9118">{'product-of-exponentials': 3, 'None': 5, 'manipulator': 3, 'matlab': 0, 'jacobian': 3, 'dynamics': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9118">Load Comments</button></br>
			<div id = "commentsection-9118" class = 'collapse'>
			<div id = "comment-15106" class = "comment">
				<p>What if its 2KG or 3KG? Is there a simple equation where I can put different weight and get estimated torque ?</p>
			</div>
			</div>
				<textarea id = "speech-9118" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9118">
					<img id="start_img-9118" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9118">Comment</button>
			<br><div id = "ans-9122"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9122" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since the arm is in a vertical plane, certainly, motor torque is required to counteract the gravitational torque. Since it is a simple 1DOF arm with a rotary joint, the gravitational torque is </p>

<blockquote>
  <p>$ \tau_{g} = mglcos(\theta) $</p>
</blockquote>

<p>where m - mass of the link; l - perpendicular distance of the center of mass from the joint axis; $\theta$ - angle of rotation measured with the positive x-axis which is pointing to right</p>

<p>If the torque required has to be precisely calculated, then, joint frictional also has to be estimated. Generally, joint friction is assumed to be linear, although it shows a complex nonlinear behaviour at low speeds, it is a reasonable assumption to consider a linear function consisting of coulomb friction and viscous friction. Because of these two frictional terms, two new parameters arise which are generally estimated experimentally or used from the available literature. </p>

<blockquote>
  <p>$ \tau_{f} = b_{c} + b_{v}\dot{\theta} $</p>
</blockquote>

<p>where $ b_{c} $ - coefficient of coulomb friction; $ b_{v} $ - coefficient of viscous friction</p>

<p>Also, the inertia of the link itself contributes to the torque generated. However, inertial torque will be zero if it rotates at a constant angular velocity.</p>

<blockquote>
  <p>$ \tau_{I} = I\alpha $</p>
</blockquote>

<p>where, I - inertia of the link about the axis of rotation; $\alpha$ - angular acceleration of the joint</p>

<p>Hence, the total torque required will be</p>

<blockquote>
  <p>$\tau_{T} = \tau_{g} + \tau_{f} + \tau_{I} $</p>
</blockquote>

<p>To do the above computations, the joint position, velocity, and acceleration trajectories have to be decided and evaluated which in robotics terminology is called as trajectory planning. The procedure of torque computation from the joint trajectories is called as inverse dynamics.</p>

<p>Since this was a simple 1DOF arm, the torque was evaluated with simple equations. However, for large DOF arms, for systematic computation of torque, techniques like Euler-Newton are generally used. (available in the book provided by @Drew)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9122" data-toggle = "popover">
				<p>user name : bluebird</p>
				<p> user reputation : 163</p>
				<p class = "tagcontent" id = "usertaginfo-9122">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9122">Load Comments</button></br>
			<div id = "commentsection-9122" class = 'collapse'>
			<div id = "comment-15111" class = "comment">
				<p>Thanks for the detailed response. However I am very illiterate in that field. By simple equation I am expecting something like (no of kgs * some constant = torque needed)</p>
			</div>
			</div>
				<textarea id = "speech-9122" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9122">
					<img id="start_img-9122" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9122">Comment</button>
			<br><div id = "ans-9125"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9125" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>How <em>quickly</em> do you want to go from stopped to 10rpm? This will define your angular acceleration. </p>

<p>Regarding calculations, first you should convert to standard units, so meters instead of centimeters and radians per second instead of revolutions per minute:</p>

<p>$$
\omega_{\mbox{rad/s}} = N_{\mbox{rpm}}*\frac{2\pi}{60} \\
\omega_{\mbox{rad/s}} = N_{\mbox{rpm}}*0.1 \\
\omega_{\mbox{rad/s}} = 1 \mbox{rad/s} \\
$$</p>

<p>$$
L = 0.1 \mbox{m} \\
$$</p>

<p>Now, the equations you'll need are:</p>

<p>$$
\tau_{\mbox{min}} = \tau_{\mbox{dynamic}} + \tau_{\mbox{static}_\mbox{max}} \\
$$</p>

<p>where</p>

<p>$$
\tau_{\mbox{static}_\mbox{max}} = mgL \\
$$</p>

<p>and</p>

<p>$$
\tau_{\mbox{dynamic}} = I\alpha \\
$$</p>

<p>where $g$ is the gravitational constant $9.81\mbox{m/s}^2$, $I$ is the moment of inertia and $\alpha$ is the angular acceleration. These can be further defined as:</p>

<p>$$
I = mL^2 \\
\alpha = \frac{\omega_{\mbox{desired}}}{t_{\mbox{desired}}}
$$</p>

<p>where $t_{\mbox{desired}}$ is how long you want the motor to take to get from stopped to full speed and $L$ and $\omega$ are your arm length and rotational speeds in meters and rad/s, respectively. </p>

<p>So, putting this all together:</p>

<p>$$
\tau_{\mbox{min}} = (mL^2)(\frac{\omega_{\mbox{desired}}}{t_{\mbox{desired}}}) + mgL
$$</p>

<p>The power required to achieve this torque will peak the instant before you stop accelerating, when you are at top speed. This power is given by:</p>

<p>$$
P = \tau \omega \\
$$</p>

<p>where $\tau$ is the torque calculated above and again $\omega$ is rotational speed in rad/s. Power is in Watts. </p>

<p>Please note this is the <em>theoretical minimum</em>; in reality you will need more torque (and thus more power) because the arm is <em>not</em> massless and your load is <em>not</em> a point mass, but most importantly because whatever gear box you use to get to 10rpm will introduce significant inertia and frictional losses. I would shoot for <em>at least</em> double whatever those calculations give you as a performance margin. </p>

<p>Once you have torque, speed, and power, you should be have enough specifications to purchase the correct motor. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9125" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9125">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9125">Load Comments</button></br>
			<div id = "commentsection-9125" class = 'collapse'>
			<div id = "comment-15115" class = "comment">
				<p>Thanks for the detailed response however I am very illetrate - stupid if you will - . would it be possible that you fill in the numbers in the equation you provided for me given the data I provided? As for how long I want the motor to go from 0 to 10rpm the answer is it doesn't matter, say 1 minute</p>
			</div>
			<div id = "comment-15117" class = "comment">
				<p>@Ramast - For your specifications, the numbers come out to about 1Nm torque and 1W power, but again I would add a performance margin of *at least* 2x that number. This isn't much for your project; a hobby gearmotor like [this one](https://www.sparkfun.com/products/12367) should work fine.</p>
			</div>
			<div id = "comment-15122" class = "comment">
				<p>@Ramast - Yes, mass can factor out of the equations above, so increasing mass by some amount increases torque and power by the same factor. But, as I mention repeatedly, 2Nm is the *absolute* **unachievable** *minimum torque*. Your system hasfriction, the load won't be a point mass and your arm has mass and inertia, if nothing else, so *you need a performance margin* because you haven't completely modeled the entire system. 2Nm would probably not get you the desired performance; it would likely *just* underperform. The motor I linked (1.5x) might still function but would be borderline.</p>
			</div>
			<div id = "comment-15123" class = "comment">
				<p>Understandable, I just wanted to have a general idea in my head of how strong 1Nm motor can be that's all.
Thanks for your help</p>
			</div>
			</div>
				<textarea id = "speech-9125" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9125">
					<img id="start_img-9125" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9125">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>