<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Simplest and cheapest way to create a spring back latch
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4928" class = "post">
			<h2>Question</h2>
			<div id="vote-4928" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 393</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Simplest and cheapest way to create a spring back latch</h2>
<p>My and a friend are hacking together a Nespresso Coffee pod dispenser. We have our heart set on a particular design after thinking up countless ways of dispensing a single pod. </p>

<p>The design has a single flavour of pods in a vertical tube so they tend to fall down. One or more latches around the base of the tube stop any pods from falling out. Releasing the latch for 45ms will allow the pod through (10mm fall, well past the lip of the pod) while catching the next one.</p>

<p>The latch is the problem component. I haven't yet found a suitable product off the shelf. Ideally, the solution would be compact and cheap (&lt; $5). </p>

<p>Here are some of the latch ideas to date (most of which are considered linear in motion):</p>

<ol>
<li>Solenoid - Seems over-kill and tend to be > 5 dollars each</li>
<li>Ultrasonic Motor - Can't find any</li>
<li>Linear Actuator - Usually around 50 dollars and quite bulky</li>
<li>Piezoelectric Actuator - Mostly tuned for nM scale precision, and are hard to come by.</li>
<li>Rotating disk with release notch, driven by stepper motor - still > $5 and moderately bulky.</li>
<li>Rotating latch with string attached to rack and pinion powered by electric motor - Don't think it's a simple enough solution.</li>
<li>Rotating cam - how a gumball machine works (I suspect). (This was also suggested in an answer, but would involve both a mechanical and electronic motor component, not as simple as option [5])</li>
</ol>

<p>I have a 3D printer, so I am open to mechanical solutions - a custom latch with crude electromagnet for example.</p>

<p><img src="https://i.stack.imgur.com/Jo6qG.png" alt="enter image description here"></p>

<p>Note the desired size of the latch (Yellow), holding pods (Orange) in a tube (Black). Yes, motors can work, but they would be quite bulky. I'm not after the obvious solution, but a clever one, or one which finds the suitable product.</p>

<p>(I understand that with only one latch on one side, the pods will not sit perfectly vertical, and the latch would need to be higher up.)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4928" data-toggle = "popover">
				<p>user name : Todd</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-4928">{'None': 0, 'mechanism': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4928">Load Comments</button></br>
			<div id = "commentsection-4928" class = 'collapse'>
			<div id = "comment-7679" class = "comment">
				<p>It turns out solenoids are not out of the question - http://www.alibaba.com/product-detail/Pull-push-Solenoid-low-price_1773209285.html - $2.68ea and as low as .39c ea on bigger orders.</p>
			</div>
			<div id = "comment-7680" class = "comment">
				<p>Thermally activated actuators are interesting, but would be too slow anyway - $6.71 for 25 http://www.migamotors.com/miga/nanomuscle-nm706-super-linear-muscle-wire-actuator</p>
			</div>
			</div>
				<textarea id = "speech-4928" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4928">
					<img id="start_img-4928" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4928">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4931"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4931" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What about using a simple RC-servo with a rotating cam that holds one pod.
When rotating down It would drop the pod it is holding. When rotating up, it would lift the whole stack for one pod height and allow the bottom pod to drop into the cam's holding space.
<img src="https://i.stack.imgur.com/ogzDG.png" alt="drawing"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4931" data-toggle = "popover">
				<p>user name : cube</p>
				<p> user reputation : 567</p>
				<p class = "tagcontent" id = "usertaginfo-4931">{'control': 2, 'None': 31, 'wifi': 2, 'kalman-filter': 3, 'calibration': 3, 'geometry': 0, 'localization': 2, 'c': 1, 'avr': 1, 'robotic-arm': 0, 'brushless-motor': 2, 'differential-drive': 2, 'esc': 1, 'motor': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4931">Load Comments</button></br>
			<div id = "commentsection-4931" class = 'collapse'>
			<div id = "comment-7659" class = "comment">
				<p>Yeah, that was on of my considerations. But relative to my desired outcome, that is quite bulky and still requires a servo motor which would be more expensive and and not as simple.</p>
			</div>
			<div id = "comment-7660" class = "comment">
				<p>It would definitely be < 5 USD that you required in the question. The cheapest micro servos cost about 2 - 3 USD. With the right shape of the cam you wouldn't even need to lift the pods, so the force requirements for the servo would be minimal.</p>
			</div>
			<div id = "comment-7681" class = "comment">
				<p>True, thanks @cube</p>
			</div>
			</div>
				<textarea id = "speech-4931" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4931">
					<img id="start_img-4931" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4931">Comment</button>
			<br><div id = "ans-4942"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4942" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since you don't need any position control (i.e., it needs to be either latched or unlatched), the simplest option that will serve your needs is a solenoid.  </p>

<p>All of the other mechanisms you listed would require some degree of position control, not to mention the extra complexity.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4942" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4942">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4942">Load Comments</button></br>
			<div id = "commentsection-4942" class = 'collapse'>
			<div id = "comment-7682" class = "comment">
				<p>Correct. If you can include mine are any other evidence to cheaper solenoid prices, I'll tick this as the answer.</p>
			</div>
			<div id = "comment-7690" class = "comment">
				<p>I can't say whether you can get what you want for the price you want it -- $5 was a completely arbitrary amount.  All I'm saying is that I don't know of a more minimal way to accomplish what you are after with an off-the-shelf part.</p>
			</div>
			</div>
				<textarea id = "speech-4942" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4942">
					<img id="start_img-4942" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4942">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>