<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Simple Neural Network with hardcoded positions for walk optimisation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-801" class = "post">
			<h2>Question</h2>
			<div id="vote-801" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 416</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Simple Neural Network with hardcoded positions for walk optimisation</h2>
<p>I'm building a quadrupedal robot that will learn how to walk. From the <a href="https://robotics.stackexchange.com/questions/568/is-it-possible-to-run-a-neural-network-on-a-microcontroller">responses</a> I got from asking if  its possible to run a NN on a micro controller I realised I needed to think of a clever system that wouldn't take 1000 years to be effective and would still be able to demonstrate onboard learning. I've designed a system but I'm not sure how effective it will be.</p>

<p>Firstly I hardcode 5-20 positions for the legs.</p>

<p>I set up a (simple) neural network where each node is a different set of positions for the legs, which I will write.</p>

<p>The robot moves from one node to another and the weight of the joint is determined by how far forward the robot moves.</p>

<p>Eventually there will be strong connections between the best nodes/positions and the robot will have found a pattern of moves that are most successful in walking.</p>

<blockquote>
  <p>How effective would this be in learning to walk?</p>
</blockquote>

<p>Note: instead of positions I could write short gaits and the process would work out which sets work best when combined.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-801" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-801">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-801">Load Comments</button></br>
			<div id = "commentsection-801" class = 'collapse'>
			<div id = "comment-2038" class = "comment">
				<p>1000 years to learn to walk is not that bad. Definitely more efficient than evolution!</p>
			</div>
			<div id = "comment-2039" class = "comment">
				<p>@shahbaz lol & true. would not a genetic algorithm be more appropriate for this? (and how it worked in evolution by the way).</p>
			</div>
			<div id = "comment-2040" class = "comment">
				<p>[Hod Lipson](http://web.mae.cornell.edu/lipson/) tried using GAs to develop quadraped gaits. His [TED Talk](http://blog.ted.com/2007/10/11/hod_lipson_on_t/) on the experience is worth watching.</p>
			</div>
			<div id = "comment-2041" class = "comment">
				<p>@Spiked3, well in evolution it was quite random, so you can't really compare. I was just joking. Obviously, if nature had a specific goal (as in a genetic algorithm), things could have been much faster.</p>
			</div>
			</div>
				<textarea id = "speech-801" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-801">
					<img id="start_img-801" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-801">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-803"  class = "post">
				<h2>Answer</h2>
			<div id="vote-803" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This reminds me of <a href="http://www.foddy.net/Athletics.html" rel="nofollow">QWOP</a> (seriously).  You need to plan a sequence of button presses to move forward.  For every situation the runner finds himself in, we need to know what button to press, how long to hold it, etc. When you play that, you probably look a lot like this video I stumbled across (pun alert): <a href="https://www.youtube.com/watch?v=JFJkpVWTQVM" rel="nofollow">NN training bi-pedal walkers</a></p>

<p>What you need to recognize is <strong>what configuration is my robot in</strong> and you need to plan <strong>what leg should move to where</strong>?  So you need a topology like this</p>

<p>Leg encoder values   NN   Leg desired encoder values</p>

<p>The difference is you need <em>actual</em> input in the form of sensor values, and output in the form of actions.</p>

<p>Note, if you had other sensors (IMU would be helpful) it would be included in the inputs, and if you had force-controlled joints, those would be your outputs. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-803" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-803">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-803" class = 'collapse'>
			</div>
				<textarea id = "speech-803" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-803">
					<img id="start_img-803" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-803">Comment</button>
			<br><div id = "ans-804"  class = "post">
				<h2>Answer</h2>
			<div id="vote-804" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Really this is a question to be answered by experiments. Will it work? It seems like it could. Two things that will be important to look at are:</p>

<ol>
<li><em>Training time</em> - You are still using a neural network and they take time to train. Whether this formulation would reduce the number of rounds required for training is really to be seen. It will of course change with the number of connections in the net as your agent will need to test each multiple times.</li>
<li><em>Training method</em> - Based on your description it seems you are planning to use a <a href="http://en.wikipedia.org/wiki/Recurrent_neural_network" rel="nofollow">Recurrent Neural Network</a> (RNN) which, if memory serves, makes training more computationally intense.</li>
</ol>

<p>There is a bit of literature on this topic already. For example a quick google reveals a paper titled <a href="http://www.sciencedirect.com/science/article/pii/S0925231201005045" rel="nofollow">A neural network model for quadruped gait generation and transitions</a>. It may be worth looking to see what has already been tried. But then sometimes it is just fun to run the experiments.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-804" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-804">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-804" class = 'collapse'>
			</div>
				<textarea id = "speech-804" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-804">
					<img id="start_img-804" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-804">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>