<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Simple sensor to detect motion of inanimate objects
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11674" class = "post">
			<h2>Question</h2>
			<div id="vote-11674" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 70</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Simple sensor to detect motion of inanimate objects</h2>
<p>This is for a high school project that I'm doing. The sensor should be able to detect the movement of a moving inanimate object and convert into electrical energy, and be fairly cheap to buy.</p>

<p>I have looked into a few sensors but most of them seem to be geared towards detecting HUMAN movement, eg. PIR sensors. I am looking for the type of sensor that is able to detect non-human movement at close range (about 1/2 metres). Any suggestions? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11674" data-toggle = "popover">
				<p>user name : user16152</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11674">{'None': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11674">Load Comments</button></br>
			<div id = "commentsection-11674" class = 'collapse'>
			<div id = "comment-20868" class = "comment">
				<p>[Welcome to Robotics Stack Exchange](http://robotics.stackexchange.com/tour). One of the cheapest solutions is using camera however it requires some knowledge in image processing which is way advanced for high school students.</p>
			</div>
			</div>
				<textarea id = "speech-11674" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11674">
					<img id="start_img-11674" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11674">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11675"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11675" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a range of solutions based on the type of environment you are gonna implement your system;</p>

<p>So I will list the possible solutions and the respective best possible implementation conditions.</p>

<ul>
<li><p>You can use IR sensors to detect motion. Given your sensors are setup
in a controlled environment where the ambient lighting is consistent,
you can setup IR to read ranges from a given distance. For example
lets say you object is at 1 m from  the sensor; your MCU can
constantly read the voltage drop from IR sensor and detect 'motion'
when there is change in these voltage readings. This only works if
your sensors are stationary relative to your detecting object. This
is a very cheap solution. Can easily program using Arduino. You can
even use code already written from other users.</p></li>
<li><p>Using an ultrasound module. This works by sending a 'ping' and<br>
listens for the echo. Motion can be detected by monitoring the width 
of the 'echo' pulse. This solution doesn't not require a controlled<br>
lighting environment unlike IR. But on the flip side, ultrasound<br>
signals are not directional like IR; and hence your system maybe<br>
prone to noise from other reflected 'echo' pulses off target. But<br>
this can be implemented successfully by properly thresholding your<br>
signals. This too can be implemented using Arduino easily. Check PING
example in Arduino IDE. This requires your system to be stable<br>
relative to your target.</p></li>
<li><p>As mentioned earlier, camera is another solution. It could<br>
implemented intelligently regardless whether your system is<br>
stationery relative to your target. But this requires you to have<br>
some kind computer vision/programming background. Since you mentioned
you are from high school, I presume this will be a bit challenging<br>
for you. But you always try. OpenCV, and Matlab CV toolbox are a good
starting point. But this solution is relatively expensive. Camera is 
relatively expensive compared to IR and Ultrasound. And if you are<br>
looking for a embedded solution, you need a much powerful MCU than an
Arduino to deploy your project.</p></li>
</ul>

<p>Cheers and good luck</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11675" data-toggle = "popover">
				<p>user name : Vino</p>
				<p> user reputation : 75</p>
				<p class = "tagcontent" id = "usertaginfo-11675">{'control': 1, 'robotic-arm': 1, 'pid': 1, 'slam': 0, 'motor': 1, 'linux': 5, 'mobile-robot': 0, 'ros': 5, 'forward-kinematics': 5, 'manipulator': 1, 'robotics-library': 0, 'mechanism': 1, 'opencv': 0, 'cnc': 2, 'machine-learning': 0, 'None': 2, 'inverse-kinematics': 5, 'artificial-intelligence': 0, 'automation': 1, 'industrial-robot': 0, 'quadcopter': 0, 'computer-vision': 2, 'c++': 5, 'circuit': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11675">Load Comments</button></br>
			<div id = "commentsection-11675" class = 'collapse'>
			<div id = "comment-20870" class = "comment">
				<p>How about converting movement into electrical energy?</p>
			</div>
			<div id = "comment-20886" class = "comment">
				<p>@G rkan etin, we assume a virtual mechanical force that causes the motion of the object and the integral of the product of it by the distance the object travels as times goes, we can compute the energy. Using generators principles, one can convert the mechanical energy to the electrical one. The force can be computed using either the linear momentum principle or applying Newton's second law directly. I prefer the former over the later since estimating acceleration from an estimated velocity is very noisy. The problematic part obviously is measuring the mass.</p>
			</div>
			</div>
				<textarea id = "speech-11675" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11675">
					<img id="start_img-11675" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11675">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>