<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Simple vector problem, Weight vector components & sine and cosine of rotation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5203" class = "post">
			<h2>Question</h2>
			<div id="vote-5203" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 357</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Simple vector problem, Weight vector components & sine and cosine of rotation?</h2>
<p>I have the quadcopter in the photo below. It has rotate <code>theta</code> degrees about the <code>-y</code> axis. I want to get the <code>x</code> and <code>z</code> components in the local frame for the weight <code>W</code> which always points along the vertical downward.</p>

<p><img src="https://i.stack.imgur.com/1TuVk.png" alt="enter image description here"></p>

<p>We simply have:</p>

<pre><code>Wx = W sin(theta); Wz = W cos(theta);
</code></pre>

<p>Suppose that <code>W = 4N</code> and <code>theta = 30 deg</code>, then:</p>

<pre><code>Wx = -4 * sin(-30) = 2N;   Wz = -4 * cos(-30) = -3.464N
</code></pre>

<p>The negative sign in the angle was put because the rotation is about the <code>-y</code> axis (counterclockwise).</p>

<p><code>Wz</code> seems correct as it is pointing towards the negative local <code>z</code> axis but <code>Wx</code> is 2 which seems wrong because according to the diagram it is supposed to be -2 indicating that it point towards the negative local <code>x</code> axis.</p>

<p>What's wrong with my simple calculation?</p>

<pre><code>EDIT:
</code></pre>

<p>Using rotation matrices, we have the following rotation matrix when pitching (rotating about <code>y axis</code>):</p>

<p><img src="https://i.stack.imgur.com/ki1Ck.png" alt="Rotation Matrix"></p>

<p>This matrix is used to transform vectors from inertial frame <code>Xn,Yn,Zn</code> to local frame <code>Xb,Yb,Zb</code>. To find the components of the weight <code>W</code>, we can multiply this matrix by <code>W</code>. Doing so, we get the same result:</p>

<pre><code>Wx = W sin(theta); Wz = W cos(theta);
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-5203" data-toggle = "popover">
				<p>user name : Moayad Abu Rmilah</p>
				<p> user reputation : 79</p>
				<p class = "tagcontent" id = "usertaginfo-5203">{'quadcopter': 9, 'control': 5, 'None': 0, 'tuning': 5, 'accelerometer': 3, 'frame': 1, 'pid': 10, 'design': 5, 'sensor-fusion': 3, 'navigation': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5203" class = 'collapse'>
			</div>
				<textarea id = "speech-5203" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5203">
					<img id="start_img-5203" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5203">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5204"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5204" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You've written your equations as if the weight vector you drew was positive, but then used a negative weight vector in your calculation. If you flipped $W$ around in your drawing you'd get
$$
\begin{align}
W_x &amp;= -W \sin(\theta)
\\
W_z &amp;= W \cos(\theta)
\end{align}
$$</p>

<p>** edit **</p>

<p>To expand, a more consistent approach is use to proper vector math. In this case you need apply a rotation to your weight vector (<em>edited to correctly go from global to local frame</em>)
$$
\begin{align}
W_L &amp;= [0~0~-mg]^T
\\
R_{LG} &amp;= \begin{bmatrix}
\cos(-\theta) &amp; 0 &amp; -\sin(\theta) \\
0 &amp; 1 &amp; 0 \\
\sin(-\theta) &amp; 0 &amp; \cos(\theta)
\end{bmatrix}
\\
W_L = R_{LG} W_G &amp;= \begin{bmatrix}
mg\sin(\theta) \\
0 \\
mg \cos(\theta)
\end{bmatrix}
\end{align}
$$</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5204" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-5204">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5204">Load Comments</button></br>
			<div id = "commentsection-5204" class = 'collapse'>
			<div id = "comment-7978" class = "comment">
				<p>Why am I to flip the weight? The weight always points downward which is the '-z' in my case.
In vector form 'W = i + j - 4k'. Why did you consider the negative sign in 'Wx' and not in 'Wz' too?</p>
			</div>
			<div id = "comment-7980" class = "comment">
				<p>When using a pure trig approach you run the risk of sign errors so it's often help to draw things as "positive" and then apply your sign. You are correct that Wz should also be negative. A more consistent approach, which is needed as systems get complicated, is to stick to proper vector math and use rotation matrices.</p>
			</div>
			<div id = "comment-7984" class = "comment">
				<p>Yes, the equations your wrote are correct and they are exactly the ones that I use. The thing is with the sign of 'theta' itself! If I just want to take it always as positive then, the result weight components in the mathematical model will always be the same regardless of the rotation direction!</p>
			</div>
			<div id = "comment-7990" class = "comment">
				<p>I'm confused, why do you want to have theta always positive? The math doesn't work that way.</p>
			</div>
			<div id = "comment-8002" class = "comment">
				<p>Actually, the very first answer you posted gives the correct equations but I really don't know why we should place the negative sign in 'Wx' equation. The correct equations, as you posted first, are: 'Wx = -W sin(theta)' ; 'Wz = W cos(theta)'. The rotation matrix you put in your last edit gives the transformation matrix from local frame to reference frame and this is wrong. What I want to transform is vectors like W from reference frame to local frame. To do so, you should inverse the matrix (transpose it as it is orthogonal) then multiply it by the weight vector.</p>
			</div>
			<div id = "comment-8004" class = "comment">
				<p>I'm sorry, you are correct; I've updated my answer accordingly. For the easiest intuition go back go an arbitrary force acting along the +Z axis in the global frame and then rotate the frame +$\theta$ a little bit. You will see what direction the force vector is pointing in the local frame.</p>
			</div>
			</div>
				<textarea id = "speech-5204" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5204">
					<img id="start_img-5204" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5204">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>