<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Simulator for an adaptive, under-actuated robotic gripper
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5068" class = "post">
			<h2>Question</h2>
			<div id="vote-5068" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 144</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Simulator for an adaptive, under-actuated robotic gripper</h2>
<p>I am looking to build an adaptable robotic arm with under-actuated three (or four) fingered hands. Before I start shelling out money, I want to test my prototypes in a simulator which would ideally</p>

<ul>
<li>allow me to try out various actuators, and also possibly a tactile sensor (like a pressure sensitive resistor or a pressure sensitive conductive sheet). </li>
<li>simulate different environments and tasks like gripping various shapes, sizes, weights etc.</li>
<li>be able to talk to an external learning/inference programs for the adaptive part (which, I think, goes under the name 'Dexterous Manipulation Planning' tasks), with sensory feedback from tactile sensors within the simulator and also camera input from a separate module.</li>
</ul>

<blockquote>
  <p>What are my options for such a simulator, including those that only
  partially address my requirements above?</p>
</blockquote>

<p>A bit about my background: I dont have any recent experience in building electronics hardware projects, although I have experienced it as part of my labs during electronics engineering under-graduation, a field that I have left a long time back. I am just a wannabe hobbyist now.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5068" data-toggle = "popover">
				<p>user name : crackjack</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-5068">{'planning': 1, 'None': 0, 'motion-planning': 1, 'robotic-arm': 1, 'simulator': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5068" class = 'collapse'>
			</div>
				<textarea id = "speech-5068" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5068">
					<img id="start_img-5068" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5068">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5073"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5073" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For designing you can use Solidworks. And for simple simulation use Solidworks Simulation with Solidworks Motion Analysis. You can import/export data from/to MatLab or various other programs. Sensors and actuator can be placed on arbitrary points to sense the stress, displacement, etc. Use solidworks to test and improve the design.</p>

<p>Another very good simulator is <a href="http://www.cyberbotics.com/overview" rel="nofollow">Webots 8</a>. Check out their movies section as there is a gripper similar to what you are looking for.</p>

<p>There are various other softwares for simulation according to <a href="http://www.robotcafe.com/dir/Software/Simulators/" rel="nofollow">this link</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5073" data-toggle = "popover">
				<p>user name : Esk</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-5073">{'None': 23, 'chassis': 2, 'motor': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5073">Load Comments</button></br>
			<div id = "commentsection-5073" class = 'collapse'>
			<div id = "comment-7843" class = "comment">
				<p>Thanks for the helpful pointers! My university does not provide Webots and SolidWorks for students. Can the design part be substituted with AutoDesk? I can get a free student version for these (I am looking at [Inventor Professional and AutoCAD Electrical](http://www.autodesk.com/education/free-software/product-design-manufacturing)). My university also provides Simulink,SimMechanics and SimScape. Would it work for (design and) simulation? I haven't researched on how effective Sim products are for mechanical design, but they do allow importing design files from AutoDesk.</p>
			</div>
			</div>
				<textarea id = "speech-5073" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5073">
					<img id="start_img-5073" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5073">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>