<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Simulation software for KUKA LBR iiwa robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9240" class = "post">
			<h2>Question</h2>
			<div id="vote-9240" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 979</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Simulation software for KUKA LBR iiwa robot?</h2>
<p>I have been working with KUKA LBR iiwa 7 R800 robot, with the KUKA's IDE, which is the 'Sunrise.Workbench'. Since it does not have any virtual platform to verify the code (simulate), it's been quite difficult, as I need to test each code by deploying to the robot.</p>

<p>Can anyone suggest if there is any simulation software available where I can test the code written using the Robotics API in Sunrise.Workbench?</p>

<p>I came across V-REP simulation software, but, not sure if I can use my code in the workbench platform.</p>

<p>Appreciate if anyone can shed some light on it.
Thanks in advance.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9240" data-toggle = "popover">
				<p>user name : MMD</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-9240">{'None': 0, 'simulation': 0, 'programming-languages': 1, 'matlab': 1, 'robotic-arm': 1, 'robotc': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9240" class = 'collapse'>
			</div>
				<textarea id = "speech-9240" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9240">
					<img id="start_img-9240" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9240">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9247"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9247" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I suggest using ROS and related tools. If you want to simulate kinematics of the manipulator, you can visualize it in ROS, by following below steps. <br>
1. Find a URDF description, or write a one <br>
2. Visualize it in rviz tool <br>
3. Write a joint state publisher node, which outputs the joint values from 
your existing code to the visualizer. <br></p>

<p>look on to <a href="https://github.com/CentroEPiaggio/kuka-lwr" rel="nofollow">this</a></p>

<p>If you want to do a exact physics simulation you can consider on using Gazebo with ROS.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9247" data-toggle = "popover">
				<p>user name : Dinesh</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-9247">{'control': 0, 'None': 1, 'manipulator': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9247">Load Comments</button></br>
			<div id = "commentsection-9247" class = 'collapse'>
			<div id = "comment-16873" class = "comment">
				<p>The Github project you posted  is for the  KUKA LWR 4+ and not for the LBR iiwa.</p>
			</div>
			</div>
				<textarea id = "speech-9247" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9247">
					<img id="start_img-9247" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9247">Comment</button>
			<br><div id = "ans-9543"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9543" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><em>"Can anyone suggest if there is any simulation software available"</em></p>

<p>No, there isn't according to KUKA's support team that I contacted. There used to be V-REP in version 1.5 of Sunrise Suite (The OS, the workbench and the options), but not anymore. 
You can find this in the document (KUKA_SunriseConnectivity_Servoing_15_Rendering_15_en.pdf), but not in (KUKA_SunriseConnectivity_Servoing_17_en.pdf).</p>

<p>What I do, I write my Java-RoboticsAPI programs on Sunrise.Workbench (Currently, I'm on version 1.8 that came with the new white iiwa Touch Elektrisch), and you can only synchronize (The term they use for deploying to the robot) your project when it has no syntax errors. After that, you can launch your program from the SmartPad in T1 mode (The reduced-speed test mode where you must keep pushing the enabling switch midway then the play button to start the program), and see what happens. If it's OK, go for T2 (High speed test mode). If everything is good, go for the Auto mode. That's what was recommended in the training.</p>

<p>I don't know exactly what type of applications you use the robot for, or how familiar are you with it, but IMHO, a simulation will never be as helpful as for the other KUKA  industrial Robots with 6 or less axes. Because, the LBR iiwa is a collaborative robot, and can be used in multiple scenarios that are very hard to simulate. For instance, if you use it in "compliance mode" ( where the Robot's TCP act like a Spring with Stiffness and Damping) or "Handguiding mode", I don't see how simulation can be helpful as the movement relay on the environment input that cannot be predicted by Simulation.</p>

<p>And for safety, You can always program safety spaces, collision detection, axes torque limitations, etc.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9543" data-toggle = "popover">
				<p>user name : El Zo</p>
				<p> user reputation : 88</p>
				<p class = "tagcontent" id = "usertaginfo-9543">{'None': 6, 'c++': 2, 'robotic-arm': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9543" class = 'collapse'>
			</div>
				<textarea id = "speech-9543" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9543">
					<img id="start_img-9543" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9543">Comment</button>
			<br><div id = "ans-11115"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11115" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have drivers for the kuka iiwa and integrate the V-REP simulator with my library <a href="https://github.com/ahundt/grl" rel="nofollow noreferrer"><strong>grl</strong></a>, you can even have the simulator drive the physical robot. </p>

<p>Another independent tool is <a href="https://github.com/SalvoVirga/iiwa_stack" rel="nofollow noreferrer">iiwa_stack</a>. 
grl can integrate with iiwa_stack as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11115" data-toggle = "popover">
				<p>user name : Andrew Hundt</p>
				<p> user reputation : 276</p>
				<p class = "tagcontent" id = "usertaginfo-11115">{'stereo-vision': 2, 'None': 14, 'calibration': 2, 'c++': 2, 'planning': 2, 'robotic-arm': 4, 'motion-planning': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11115" class = 'collapse'>
			</div>
				<textarea id = "speech-11115" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11115">
					<img id="start_img-11115" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11115">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>