<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>simulation of robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9246" class = "post">
			<h2>Question</h2>
			<div id="vote-9246" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 442</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>simulation of robots</h2>
<p>I am designing a new mechanism similar to robot arm. It would be a 6 or 7 axis with arms but not the same with traditional articulated arms. As a result, new DH matrix,and inverse kinematics involve. I would like to consult the robot professionals in this forum that do you suggest any simulation tool of this mechanism?</p>

<p>I plan to start with start and end points. Then I will do a trapezoid velocity plan and take sample points with sampling time along the path. After that, I would like to transfer these sampling points to motor joints by DH matrix and inverse kinematics. Finally I would do some basic 3D animation to visualize the movement temporally. I do not plan to simulate controller behavior because in my application motor drivers deal with it. I only need to focus on sending reasonable commands to motor drivers. </p>

<p>In my opinion, Matlab, octave, VC++, and some third-party tools are candidates. Starting from ground zero would be a time-consuming work. I would appreciate if any experts can share a tool or open source code from his or her experience. I did some search on Matlab robotics toolbox but I am not sure if it fits my need because it is expensive and optimized for ROS. In Octave there are also some robotics toolbox but I am not sure about what it can do and what it cannot. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9246" data-toggle = "popover">
				<p>user name : Superuser</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-9246">{'None': 0, 'manufacturing': 0, 'microcontroller': 1, 'c': 2, 'mechanism': 0, 'simulation': 2, 'books': 0, 'matlab': 2, 'robotic-arm': 2, 'real-time': 1, 'ros': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9246">Load Comments</button></br>
			<div id = "commentsection-9246" class = 'collapse'>
			<div id = "comment-16359" class = "comment">
				<p>what questions are you trying to answer with the simulation? Do you only want to visualize the mechanism or are you trying to predict something?</p>
			</div>
			<div id = "comment-16363" class = "comment">
				<p>I try to optimize the arm length and volecity of each axis. If the design has some problem, I would like to find it out before I make it.</p>
			</div>
			<div id = "comment-16364" class = "comment">
				<p>If there movement is not reasonable, then I have to fix it. That's why I need to visualize the movement with animation. Thank you!</p>
			</div>
			<div id = "comment-16365" class = "comment">
				<p>I've seen a video on the net doing a robotic arm from scratch for his PhD. He used a program called Rhinoceros to simulate his work with animations. I tried to look up the video but could no longer find it. He machined the parts himself using Arduino Due as the controller board with I think a PC for image processing</p>
			</div>
			<div id = "comment-16366" class = "comment">
				<p>I found it! XD https://www.youtube.com/watch?v=cod_SNq-d6c</p>
			</div>
			</div>
				<textarea id = "speech-9246" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9246">
					<img id="start_img-9246" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9246">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9248"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9248" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For visualization and kinematics, <a href="http://gazebosim.org/" rel="nofollow">Gazebo</a> works fine. You can use C++ or Python to work with it. There is lots of integration with ROS as well if you like that sort of thing.</p>

<p>If you want a clean and simple rigid body dynamics library, I really like <a href="http://rbdl.bitbucket.org/" rel="nofollow">RBDL</a>, but you'll need to add your own integrator for simulation and graphics for visualization. <a href="http://headmyshoulder.github.io/odeint-v2/" rel="nofollow">odeint</a> works well. For visualization, <a href="http://www.openscenegraph.org/" rel="nofollow">OSG</a> has a really clean and nice design, and OGRE is what the Gazebo/ROS guys use.</p>

<p>If you are familiar with a CAD software such as Creo, Solidworks, <a href="https://www.onshape.com/" rel="nofollow">Onshape</a>, etc then it can be quick to set up your links and joints and move them around by hand to get a feel for things. Onshape is from the guys that created Solidworks and it's free github style (private data costs money).</p>

<p>A physical mockup, using cardboard, posterboard, particle board and tape, glue, brads, nails, screws and whatever else you need can be a quick way to understand a new mechanism. You can print out 2D sections from your favorite CAD software to scale as a template to help get complex shapes right.</p>

<p>The last open source automated mechanism synthesis software I kept track of and liked was <a href="http://darwin2k.sourceforge.net/" rel="nofollow">Darwin2K</a>, but that might be more hardcore optimization than you are looking for.</p>

<p>If you are comfortable with C++ I'd favor that over Octave. You're more likely to find C++ libraries that help you than Matlab/octave ones. (I know lots of guys that really like matlab/simulink for robotics work, but you mentioned the cost as an issue). If you are comfortable with Linux, I'd also favor that over windows; lots of open source code has a Posix base and can be a little clunky to work with on windows.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9248" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9248">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9248" class = 'collapse'>
			</div>
				<textarea id = "speech-9248" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9248">
					<img id="start_img-9248" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9248">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>