<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Simulate IMU (2D gyro and accelerometer) data
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6931" class = "post">
			<h2>Question</h2>
			<div id="vote-6931" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1099</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Simulate IMU (2D gyro and accelerometer) data</h2>
<p>If I have a robot path in 2D space, </p>

<p>i.e. a vector of (x,y) locations, and I need to generate artificial IMU data (simulate them), how would I go about it? </p>

<p>How do I model equations to generate the values given a time frame and positions?</p>

<p>I've come across <em>imusim</em> I'd like to know how to model them and generate using Matlab or something similar.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6931" data-toggle = "popover">
				<p>user name : Raaj</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-6931">{'control': 2, 'None': 0, 'accelerometer': 1, 'localization': 0, 'artificial-intelligence': 0, 'mapping': 0, 'simulation': 1, 'wireless': 0, 'slam': 0, 'imu': 1, 'motion-planning': 2, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6931">Load Comments</button></br>
			<div id = "commentsection-6931" class = 'collapse'>
			<div id = "comment-9893" class = "comment">
				<p>are you trying to simulate robot behaviour in a graphical environment. or are you asking because you want to simulate hardware on robots where those devices aren't present?</p>
			</div>
			<div id = "comment-9899" class = "comment">
				<p>latter.

Don't have a physical IMU yet but need to simulate those.
1) Need to generate a fake path/trajectory (x,y,phi)
2) Using those, need to generate IMU data.</p>
			</div>
			</div>
				<textarea id = "speech-6931" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6931">
					<img id="start_img-6931" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6931">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6932"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6932" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is really simple. First of all, you need to understand how the sensor works. In other words, you need understand whether the measurements is coming from linear or nonlinear model. Second, what is the type of the sensor's noise?</p>

<p>CASE STUDY: 
Let's say you want to simulate DC Voltemeter to measure a battery's voltage of 5 Volt. In an ideal case, the model of the system is </p>

<p>$$
V_{b}(k+1) = V_{b}(k)
$$
It is just a constant value whether you measure it now or in the future, the value is 5 Volt. In the reality, this is not the case. If you measure it now, you might get 4.9 Volt, later on 5.1 Volt. The measurements vary which means the sensor is noisy. In many cases, the noise is Gaussian with zero mean and some variance (i.e. $\mathcal{N}(0, \sigma^{2})$. Therefore, the measurement model is </p>

<p>$$
Z(k+1) =  V_{b}(k+1) + \delta
$$</p>

<p>where $\delta$ is the measurement noise (i.e. $\mathcal{N}(0, \sigma^{2})$). </p>

<p>To simulate this scenario in Matlab, </p>

<pre><code>clear all; clc;
ideal_value = 5;
sigma = 0.01;
real_value = ideal_value + sigma*randn(5,1) 
</code></pre>

<p>The output is then </p>

<pre><code>real_value =
    5.0009
    5.0173
    4.9939
    4.9926
    4.9825
</code></pre>

<p>In reality, there is no way to know the ideal value. If you want to decrease the accuracy of your sensor, you need to increase the value of the $\sigma$. In 2D laser scenario, the input of the sensor is the Cartesian location ($x, y$) and the output is the polar coordinates ($r, \phi$) with some Gaussian noise. Let's say we have a 2D laser sensor that is located in the origin and we have a tree in planar environment. The sensor with update rate 10 Hz provides the range $r$ and the bearing $\phi$ to the tree with some noise in both the range and the bearing.  Therefore the following code simulates the scenario</p>

<pre><code>clear all
clc

tree_x = 4;
tree_y = 4;

sigma_r = 0.1; % cm
sigma_p = deg2rad(1); % rad

dt = 1/10;

t = 0:dt:0.5;
for i = 1:numel(t)
    r(i) = sqrt( tree_x^2 + tree_y^2 ) + sigma_r*randn();
    p(i) = atan2( tree_y, tree_x ) + sigma_p*randn();
end
r 
rad2deg(p) 
</code></pre>

<p>The results are</p>

<pre><code>r =
    5.7598    5.7581    5.6356    5.5525    5.6130    5.7552
p =
   44.6549   45.6293   44.1343   44.7299   44.5913   44.7023
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6932" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-6932">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6932">Load Comments</button></br>
			<div id = "commentsection-6932" class = 'collapse'>
			<div id = "comment-9894" class = "comment">
				<p>i'm glad you included noise in your equations.</p>
			</div>
			<div id = "comment-9901" class = "comment">
				<p>Hi CroCo, 

I had a vague idea about this and looks like I was right about the for loop at least. Your answer clears a lot of doubts.

Let me explain my problem. I'm trying to set up a synthetic environment for SLAM.

I don't have a state space (robot poses) yet, and I don't have IMU data yet.

Am I right in understanding that 
>> I have to generate a sequence of (x,y,theta) and then 
>> between adjacent (x,y,theta) values, activate my IMU

If that's correct, you've helped me answer 2nd question.
For the 1st, should I use distance formula and rotation matrix/ generate trajectory somehow?</p>
			</div>
			<div id = "comment-9902" class = "comment">
				<p>@Raaj, would you please state what you are trying to do exactly? If you are interested in building SLAM for 2D scenario, read this book "Probabilistic Robotics ". The measurement model for 2D laser is provided in depth.</p>
			</div>
			<div id = "comment-9904" class = "comment">
				<p>@CroCo , 

Trying to implement this ----
http://www-cs.stanford.edu/people/dstavens/icra11/huang_etal_icra11.pdf

 Since I don't have a robot, or IMU, I'm trying to generate synthetic data to implement the paper:

1) Robot pose sequence, or a trajectory that has loop closures (returns to the same spot as it started).

2) Generate IMU data for the pose sequence.

After this, I can get to understanding and implementing the SLAM algorithm presented in the link :)</p>
			</div>
			<div id = "comment-9940" class = "comment">
				<p>@Raaj, read this book "Probabilistic Robotics". This is the way I learned SLAM.</p>
			</div>
			</div>
				<textarea id = "speech-6932" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6932">
					<img id="start_img-6932" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6932">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>