<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Since future-tech is offtopic, but Siri is a hot topic, is it on topic or off?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-828" class = "post">
			<h2>Question</h2>
			<div id="vote-828" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Since future-tech is offtopic, but Siri is a hot topic, is it on topic or off?</h2>
<blockquote>
  <p><strong>Possible Duplicate:</strong><br>
  <a href="https://apple.meta.stackexchange.com/questions/825/announced-but-not-yet-released-products">Announced but not yet released products</a>  </p>
</blockquote>



<p>Simple enough, yet nuanced. Since future-tech is off-topic, but Siri is a hot topic, is it on-topic or off?</p>

<p>Here's my reasons why it is on-topic:</p>

<ul>
<li>This is going to be asked in the near future as people are ready for the launch of 4S. </li>
<li>The web (or this site) needs a good canonical answer.</li>
<li>It may drive traffic here.</li>
<li>It will be asked again (so says my experience).</li>
</ul>

<p>So, even though the 4S and iOS 5 isn't here yet, is asking what Siri is and how do you pronounce it, etc., on-topic?</p>

			</div>
			<div id = "userinfo-828" style = "float:right">
				<p>user name : jcolebrand</p>
				<p> user reputation : 379</p>
				<p> user tag wise history : {'None': 0, 'discussion': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-828" class = 'collapse'>
			</div>
				<textarea id = "speech-828" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-828">
					<img id="start_img-828" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-828">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-829"  class = "post">
				<h2>Answer</h2>
			<div id="vote-829" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since the software and the phones are announced and will be shipping next week, it's OK for people to start asking questions about them.</p>
</p><br>
			</div>
			<div id = "userinfo-829" style = "float:right">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p> user tag wise history : {'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-829" class = 'collapse'>
			</div>
				<textarea id = "speech-829" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-829">
					<img id="start_img-829" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-829">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>