<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Single Touch Based Sensor and Odometry SLAM in Noisy Rectilinear Environment
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6463" class = "post">
			<h2>Question</h2>
			<div id="vote-6463" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 164</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Single Touch Based Sensor and Odometry SLAM in Noisy Rectilinear Environment</h2>
<p>A Co-worker said he remembered a 2011(ish) ICRA (ish)  paper which used just a touch/bump sensor and odometry to do SLAM. I can't find it - I've paged thru the ICRA and IROS agendas and paper abstracts for 2010-2012, no joy. I found a couple of  interesting papers but my coworker says these aren't the ones he remembered.</p>

<p>Foxe 2012 <a href="http://staffwww.dcs.shef.ac.uk/people/C.Fox/fox_icra12.pdf" rel="nofollow">http://staffwww.dcs.shef.ac.uk/people/C.Fox/fox_icra12.pdf</a>
Tribelhorn a &amp; Dodds 2007:  <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.507.5398&amp;rep=rep1&amp;type=pdf" rel="nofollow">http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.507.5398&amp;rep=rep1&amp;type=pdf</a></p>

<p>Background - I'm trying to make a Lego Mindstorms bot navigate and map our house. I also have a IR sensor, but my experience with these is that they are really noisy, and at best can be considered an extended touch sensor.</p>

<p>Regards, 
 Winton</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6463" data-toggle = "popover">
				<p>user name : W D</p>
				<p> user reputation : 4</p>
				<p class = "tagcontent" id = "usertaginfo-6463">{'None': 0, 'slam': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6463" class = 'collapse'>
			</div>
				<textarea id = "speech-6463" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6463">
					<img id="start_img-6463" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6463">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6464"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6464" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As a step up from pure IR, check out <a href="http://www.parallax.com/product/28044" rel="nofollow noreferrer">http://www.parallax.com/product/28044</a> </p>

<p><img src="https://i.stack.imgur.com/EaYtp.png" alt="enter image description here"></p>

<p>But otherwise neat project. Sorry I don't have any info on the paper you seek, but the idea sounds reasonable, albeit slow.</p>

<p>The problem you will probably run into, is that SLAM is used to improve odometry, by looking at multiple object distances at once, and you are depending on odometry to supply a single object input to SLAM, so I am not sure how good your map will be. But if there is a paper explaining how to do, then very cool.</p>

<p>To some extent, SLAM tries to deal with noise, so with a lot of filter tuning, you might get some results with just the IR on a servo.  The math on this will be pretty intense as far as CPU power goes, so it might be pushing the NXT, ie you need to do many iterations of each landmark using least squares fit algorithms (trig intensive) for ICP (iterative closest point) SLAM.  Other algorithms each have their own pros and cons as usual.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6464" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6464">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6464">Load Comments</button></br>
			<div id = "commentsection-6464" class = 'collapse'>
			<div id = "comment-9321" class = "comment">
				<p>the obvious problem comparing with traditional SLAM methods is that there's only ever 1 landmark distinguishable (ie bumped into something). So you need to do something smart in terms of filtering. The obvious helpful constraint is the rectilinear nature of the world. I just don't want to reinvent the wheel :) (or rather if I must, I'd like to know what hasn't worked or has worked).</p>
			</div>
			<div id = "comment-9323" class = "comment">
				<p>I was thinking keeping track of things you bumped into as landmarks. At that point I think it becomes more of a RANSAC? But might serve your purpose?</p>
			</div>
			<div id = "comment-9333" class = "comment">
				<p>I'm guessing I can use odometry and the fact that even if turns are off, that I can tell whether or not I have turned roughly 90 or 180 degrees to hypothesize rough width and length of rooms. Less so about whether I've moved to a new room. The alternate approach is just to zoom around at random, noting where odometry thinks it hit something, then try to fit rectangles to the data.</p>
			</div>
			<div id = "comment-9334" class = "comment">
				<p>yeah, should work somewhat. Be sure to tune you turns, eg test a 2/3 meter square and get the error as low as possible before sending it off on the real run.  Do you have a blog web site?</p>
			</div>
			</div>
				<textarea id = "speech-6464" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6464">
					<img id="start_img-6464" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6464">Comment</button>
			<br><div id = "ans-6465"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6465" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I remember a robot with whiskers in icra 2012
Here the link
 <a href="http://www.researchgate.net/publication/236166849_Tactile_SLAM_with_a_biomimetic_whiskered_robot" rel="nofollow">http://www.researchgate.net/publication/236166849_Tactile_SLAM_with_a_biomimetic_whiskered_robot</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6465" data-toggle = "popover">
				<p>user name : Mallo</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-6465">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6465">Load Comments</button></br>
			<div id = "commentsection-6465" class = 'collapse'>
			<div id = "comment-9322" class = "comment">
				<p>That's the Foxe paper - definitely interesting, but whiskers give you a bit more resolution. I wonder if you can simulate this with the IR on a servor as @Spiked3 suggested.</p>
			</div>
			</div>
				<textarea id = "speech-6465" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6465">
					<img id="start_img-6465" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6465">Comment</button>
			<br><div id = "ans-7605"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7605" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This reminds me of a paper (or perhaps thesis) I read way back in 2006 or 2007, where the author created equivalence classes for robot sensors.  For example a robot with wheel encoders and a bump sensor is theoretically equivalent to a robot with no encoders and only a planar laser range finder.  I forget the rest, but this kind of notion has stuck with me.  Keep in mind this was all for theoretical robots with perfect sensing.  But interesting to think about none the less.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7605" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7605">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7605" class = 'collapse'>
			</div>
				<textarea id = "speech-7605" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7605">
					<img id="start_img-7605" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7605">Comment</button>
			<br><div id = "ans-8791"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8791" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure that I've understood you and also this is my first answer, but I'll try my best.</p>

<p>Two years ago, I've faced the exact same challenge. Is there a way of building budget friendly mapping robot? Unfortunately, the answer to this question is not binary. There are so many variables that should be accounted such as movement of robot, movements in the environment, sensor sensivity, encoder sensivity, friction etc. Perhaps there are better questions. What is the ratio of accuracy to budget? Do we need a 3D or 2D map? How can we map an environment in 3D? What are the sources of error?</p>

<p>I've looked for an answer and tried many things along the way. Some of them was cheaper and some of them was more convenient. </p>

<hr>

<h2>1) IR/Sonar Sensor + Servo</h2>

<p>Most basic or "primitive" type of solution, also the first one I've tried. It consists of a simple wheeled platform, a servo (two if you want 3D) and an IR/Sonar sensor. You calculate the movement of robot by measuring distance from the front to the next obstacle, and you map the room/house by doing a sweeping motion with the servo + sensor.</p>

<p>Pros:</p>

<ol>
<li>Budget friendly</li>
<li>Extremely simple</li>
</ol>

<p>Cons:</p>

<ol>
<li>Highly inaccurate</li>
<li>Algorithm wise not scalable</li>
</ol>

<p>My Suggestions:</p>

<p>If you want to implement this way, pick Sonar sensors. The good ones are a little bit more expensive then most IR sensors but they won't get scrambled when you bump into a reflective surface. Also, make sure that you sweep few times to estimate distance with smaller errors.</p>

<hr>

<h2>2) IR/Sonar Sensor + Encoders</h2>

<p>A little bit more expensive this way, but a little bit more accurate so to say. The only change is that now the encoders define the position of the robot. Since we are getting the measurements from two seperate sources, we can calculate an error value more precisely. Unfortunately more problems start to occur this way. The encoders give accurate values, but can we really trust that? What if our robot slips during a movement? What if it gets stuck while moving to a carpet? Now we have to calculate different errors for different situations.</p>

<p>Pros:</p>

<ol>
<li>Little bit expensive but still manageable</li>
<li>Still simple enough</li>
<li>Two sources of information</li>
</ol>

<p>Cons:</p>

<ol>
<li>Two sources of error</li>
</ol>

<p>My Suggestions:</p>

<p>Use rubber tires with small wheels, so that you can get a more precise value from encoders since needed wheel rotation for distance increases and minimize the slipping since rubber has greater friction.</p>

<hr>

<h2>3) Xbox Kinect (or equivalent)</h2>

<p>In my opinion the best choice for mapping, but not for robotics. Fairly cheap, can be found everywhere, very accurate and tons of tutorials exist. The key phrase is "Point Cloud Map". The Kinect device sends many IR rays and then collects them. By combining this mechanic with the Kinect camera, you can attach every distance point a pixel. Thus it's called Point Cloud.</p>

<p>Pros:</p>

<ol>
<li>Best accuracy/budget ration</li>
<li>Many resources available</li>
</ol>

<p>Cons:</p>

<ol>
<li>It's not very robotics friendly due to its size</li>
<li>Another computating device (such as a notebook) is needed to process the data</li>
<li>Not very easy to tinker with</li>
</ol>

<p>My Suggestions:</p>

<p>A wider robot with a small device to buffer the data (such as Raspberry Pi) would be ideal. You could connect the Kinect to Raspberry Pi and with a wifi dongle you can buffer mapping data to your computer to process, but since you would need an external usb hub too I wouldn't recommend this way.</p>

<hr>

<h2>4) Laser Scanners / Radar Modules</h2>

<p>Even though I think this is not suitable to your concept of mapping, I will mention this just as a reference. The industrial solution to mapping because of best precision. Many unmanned vehicles, even the ones owned by the military use these devices. But of course they come with a price.</p>

<p>Pros:</p>

<ol>
<li>Best precision</li>
<li>Highly durable and reliable</li>
</ol>

<p>Cons:</p>

<ol>
<li>Extremely expensive</li>
<li>Most of the time require a high power source</li>
</ol>

<p>My Suggestions:</p>

<p>Although this might be out of your league, you may still find inspiration in them. They more or less work with the same principle as IR Sensor + Servo combos.</p>

<hr>

<p>I've tried my best to mention all current trends in SLAM technology even though you've mentioned that you only have a single IR sensor because I wanted this to be a source for future projects. I hope it helps to you and the others.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8791" data-toggle = "popover">
				<p>user name : Goktay Kaykusuz</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-8791">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8791">Load Comments</button></br>
			<div id = "commentsection-8791" class = 'collapse'>
			<div id = "comment-14409" class = "comment">
				<p>Excellent post. Hang around! :)</p>
			</div>
			</div>
				<textarea id = "speech-8791" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8791">
					<img id="start_img-8791" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8791">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>