<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Single camera vision and mapping system
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1348" class = "post">
			<h2>Question</h2>
			<div id="vote-1348" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 5463</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Single camera vision and mapping system</h2>
<p>Some time ago I saw a demo of a small 'toy tank' with a single camera mounted on it. This tank was able to drive around the floor and detect objects and then move/steer to avoid them.
The interesting part was that it used a single camera vision system and as far as I remember was taking advantage of the floor being flat. and then using the rate a feature was moving in the scene relative to the motors and directions of travel to evaluate and hence map the scene.</p>

<p>Can anyone send me pointers what to search for to get some more information on this, or some pointers to codebases that can do this.</p>

<p>The reason I ask is that this was a single camera system from a number of years ago (5+) and therefore (from what I remember) was a relatively low compute load.
I was intending to try this out on a Raspberry PI to build a car/tank that maps a room or set of rooms.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1348" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 166</p>
				<p class = "tagcontent" id = "usertaginfo-1348">{'None': 0, 'computer-vision': 13, 'raspberry-pi': 13}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1348">Load Comments</button></br>
			<div id = "commentsection-1348" class = 'collapse'>
			<div id = "comment-2943" class = "comment">
				<p>Welcome to *robotics* Ben.  Please check out [ask] and [about] for some hints about how to write [practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/faq#dontask). Thanks,</p>
			</div>
			</div>
				<textarea id = "speech-1348" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1348">
					<img id="start_img-1348" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1348">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1352"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1352" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's hard to say exactly what they were doing, but the terms you may want here are "<a href="http://en.wikipedia.org/wiki/Optical_flow" rel="nofollow">optical flow</a>" and "<a href="http://en.wikipedia.org/wiki/Egomotion" rel="nofollow">egomotion</a>". Sounds like there may have been some feature detection and matching (something like SURF or SIFT) or foreground/background segmentation thrown in as well.</p>

<p><a href="http://opencv.org/" rel="nofollow">OpenCV</a> is probably the most widely used codebase for computer vision, they have a lot of <a href="http://docs.opencv.org/modules/video/doc/motion_analysis_and_object_tracking.html" rel="nofollow">functionality for motion analysis</a>. OpenCV should run on the Raspberry Pi, although your algorithms may be limited by computing power.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1352" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-1352">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1352" class = 'collapse'>
			</div>
				<textarea id = "speech-1352" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1352">
					<img id="start_img-1352" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1352">Comment</button>
			<br><div id = "ans-1353"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1353" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Building on <a href="https://robotics.stackexchange.com/users/479/wildcrustacean">WildCrustcean</a>'s response another possiblity would be <a href="http://en.wikipedia.org/wiki/Computer_stereo_vision" rel="nofollow noreferrer">stereo vision</a>. While we often think of stereo vision as using two cameras the techniques really only need images displaced in space and a model of the displacement. In other words I can take an image, move, then take another image. So long as I know the transformation between these two images I can then use stereo vision techniques to calculate the distance to a point in the image.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1353" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1353">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1353">Load Comments</button></br>
			<div id = "commentsection-1353" class = 'collapse'>
			<div id = "comment-17004" class = "comment">
				<p>I think the technique you are talking about is called "Structure from motion".</p>
			</div>
			</div>
				<textarea id = "speech-1353" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1353">
					<img id="start_img-1353" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1353">Comment</button>
			<br><div id = "ans-1405"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1405" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It could have been using Parellel Tracking and Mapping <a href="http://www.robots.ox.ac.uk/~gk/PTAM/" rel="nofollow">PTAM</a>. PTAM is an implementation of the Simultaneous Localization and Mapping (SLAM) problem that uses a single camera to build a 3D map of the world and localize by tracking visual features.</p>

<p>My team once experimented with using the <a href="http://www.ros.org/wiki/ptam" rel="nofollow">PTAM package in ROS</a>.</p>

<p>We were running Ubuntu on an Intel Atom, and as I recall it didn't grain too much of the processor. We didn't end up using though, mainly because we couldn't get it to find enough features in the environment where our robot would be running.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1405" data-toggle = "popover">
				<p>user name : Robz</p>
				<p> user reputation : 954</p>
				<p class = "tagcontent" id = "usertaginfo-1405">{'pid': 8, 'embedded-systems': 0, 'slam': 20, 'sensor-error': 8, 'accelerometer': 5, 'kinematics': 7, 'mechanism': 1, 'differential-drive': 8, 'imu': 12, 'kalman-filter': 28, 'actuator': 21, 'gyroscope': 5, 'gps': 20, 'magnetometer': 5, 'None': 25, 'noise': 5, 'power': 0, 'localization': 20, 'microcontroller': 0, 'brushless-motor': 13, 'sensors': 41, 'quadcopter': 13, 'navigation': 7, 'sensor-fusion': 21, 'sonar': 8, 'servos': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1405" class = 'collapse'>
			</div>
				<textarea id = "speech-1405" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1405">
					<img id="start_img-1405" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1405">Comment</button>
			<br><div id = "ans-2818"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2818" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In the general you can't extract <em>metric distance</em> measurements from a single image, unless  you have extra information about the world. For example, if you know the world is planar (or you can detect the floor, which is a planar region), then you can estimate a homography.</p>

<p>A homography is a projective transformation between planes (3x3 matrix). Given the camera intrinsic calibration, you can decompose this plane-induced homography into a rotation and translation. The translation is up to scale. You can resolve this scale ambiguity by knowing the distance from the camera to the floor (plane).</p>

<p>Once you have the homography, you can detect objects that are <em>not</em> on the plane. The homography allows you warp the first image onto the second. Objects on the plane will align and will have a small error. Objects not on the plane will <em>not</em> align. This is called parallax.</p>

<p>One way to implement this could be </p>

<ol>
<li>Extract features from both images.</li>
<li>Match the features, or track them.</li>
<li>Estimate the homography using RANSAC.</li>
<li>Decompose the homography into a rotation and translation using the calibration.</li>
<li>Warp the first image onto the<br>
second. Pixels with large errors are not on the floor and could be<br>
obstacles.</li>
</ol>

<p>Most of the building blocks are implemented in opencv (see <a href="http://docs.opencv.org/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html" rel="nofollow">http://docs.opencv.org/modules/calib3d/doc/camera_calibration_and_3d_reconstruction.html</a>).</p>

<p>Good luck.</p>

<p>P.S. the homography decomposition will also give you the normal of the plane. But, since you are assuming this is the ground plane, we have the normal pointing in the up direction. A more precise solution can be accomplished in your calibration procedure. You can use a checkerboard target and estimate its pose. The pose will have a plane normal and distance to the camera.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2818" data-toggle = "popover">
				<p>user name : bendervader</p>
				<p> user reputation : 197</p>
				<p class = "tagcontent" id = "usertaginfo-2818">{'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2818" class = 'collapse'>
			</div>
				<textarea id = "speech-2818" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2818">
					<img id="start_img-2818" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2818">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>