<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Single power source for electronics and actuators
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1492" class = "post">
			<h2>Question</h2>
			<div id="vote-1492" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Single power source for electronics and actuators</h2>
<p>It seems popular to build robotic systems with separate supplies for the electronics and motors/servos, but what would be involved in a circuit that powers both from one source?</p>

<p>If it helps, here is my particular situation. I want to use a single 7.4V Li-Po pack to power an embedded system (2.5-6V operating voltage input, max 1A current draw) and up to 18 standard-sized servos (HS-645, 4.8-6V operating voltage). This would be a hexapod, so it is unlikely that all servos would be stalling at once with normal gait patterns.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1492" data-toggle = "popover">
				<p>user name : Crunchy</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-1492">{'legged': 5, 'None': 1, 'servos': 5, 'electronics': 5, 'power': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1492" class = 'collapse'>
			</div>
				<textarea id = "speech-1492" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1492">
					<img id="start_img-1492" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1492">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1493"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1493" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are a variety of reasons to separate the motor power from the "hotel load", including:</p>

<ul>
<li>Reducing the number of wires running between high-power and low-power electronics</li>
<li>Redundancy (your homing beacon shouldn't run out of power when the rest of the system does)</li>
<li>Preventing heavy current loads from browning out the control system</li>
<li>Making the system more modular</li>
<li>Being able to have an emergency kill switch for the actuator power that won't hard-shutdown your onboard PC (risking data loss in the filesystem).</li>
</ul>

<p>However, there's nothing fancy about doing it all from one battery: use a DC-DC converter to get the voltage you need for your electronics, and watch out for ground faults.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1493" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1493">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1493" class = 'collapse'>
			</div>
				<textarea id = "speech-1493" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1493">
					<img id="start_img-1493" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1493">Comment</button>
			<br><div id = "ans-1498"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1498" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can also add between the controller power an electrolytic capacitor of about 500 or even 1000 microfarads x 12 volts and a diode in series with it, so when the trigger pull much current source with a corresponding drop in voltage will be avoided that Power down controller please and even free you from unwanted noise (about 10 turns of cable around a ferrite core also help eliminate noise).![enter image description here][1]</p>

<pre><code>+__________mmm___________K|_______________ + controller
Fonte                          ___|___
                             |_________|
                                  |
                                 ground                                      
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1498" data-toggle = "popover">
				<p>user name : Fernando</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-1498">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1498">Load Comments</button></br>
			<div id = "commentsection-1498" class = 'collapse'>
			<div id = "comment-3193" class = "comment">
				<p>So, you're saying that I could put a 1000uF electrolytic capacitor between the Battery&high-current-trace and the control circuit (with a power management IC in front)?</p>
			</div>
			</div>
				<textarea id = "speech-1498" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1498">
					<img id="start_img-1498" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1498">Comment</button>
			<br><div id = "ans-1534"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1534" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Both your computer and your servos need supplies at a lower voltage than your battery supplies.  So you need some sort of voltage regulation between battery and "the rest".  Just make sure that the servo side is current limited.</p>

<p>Better, make sure that the one to the servos is current limited, and that it indicates to the processor that it's in current limit.  That way if it goes into current limit for more than a moment you can shut the whole thing off.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1534" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1534">{'None': 107}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1534" class = 'collapse'>
			</div>
				<textarea id = "speech-1534" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1534">
					<img id="start_img-1534" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1534">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>