<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Site design update
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2374" class = "post">
			<h2>Question</h2>
			<div id="vote-2374" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">24</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 474</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Site design update</h2>
<p>As you can see, Ask Different community site got a slight design update today. I have moved site's CSS to a newly refactor LESS system, so it's easier for us to fix SE network CSS bugs globally going on forward. Also I've updated site's logo and icons to SVG for retina support. Visually it should "feel" the same as the old site, but with updated Apple aesthetics(yes, I did flatten all the things). I have retired Lucida Sans for Helvetica.</p>

<p>This update should retro-actively fix most of the old CSS bugs. If you see any new ones, or old ones not being fixed, please let me know!</p>

<p>P.S. I can't believe it's been over 4 years since AD launched. Here's the <a href="https://i.imgur.com/H9Q9b7V.png" rel="nofollow noreferrer">original design</a> when the site first launched.</p>

			</div>
			<div id = "userinfo-2374" style = "float:right">
				<p>user name : Jin</p>
				<p> user reputation : 200</p>
				<p> user tag wise history : {'None': 87, 'design': 107, 'discussion': 89}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2374">Load Comments</button></br>
			<div id = "commentsection-2374" class = 'collapse'>
			<div id = "comment-4428" class = "comment">
				<p>Awesome! Thank you! Looks snazzy.</p>
			</div>
			<div id = "comment-4429" class = "comment">
				<p>That's great, but I noticed that with the new updates, the designs of sites become less and less unique. Now the fonts are the same everywhere, the vote buttons, favorite button and The Checkmark are the same everywhere, only color differs in active state. Elements are now aligned with no difference on all the new sites and the sites with recently updated design. The only major difference between those sites is logo and, in some places, color scheme (and metas are almost indistinguishable, if I can't see the logo). Ah yes. Tag designs also differ a bit.</p>
			</div>
			<div id = "comment-4430" class = "comment">
				<p>But I love the new top bar on main site :)</p>
			</div>
			<div id = "comment-4432" class = "comment">
				<p>@nicael We only make visual changes when needed, sites should still retain their individual style. We did standardize icons when they don't affect the overall look and feel of the site. In the case of Ask Different, I used Helvetica because that's what Apple uses for the latest OS now. Some elements are more standardize now, e.g. tags and badges because they'd reduce layout issues across the network.</p>
			</div>
			<div id = "comment-4433" class = "comment">
				<p>Looks great!!!!</p>
			</div>
			<div id = "comment-4434" class = "comment">
				<p>Can we get [the new profile page update](http://meta.stackexchange.com/questions/249951/help-us-test-the-shiny-new-user-activity-page-plus-a-bunch-of-new-features) as well?</p>
			</div>
			<div id = "comment-4435" class = "comment">
				<p>@bmike it's coming soon!</p>
			</div>
			<div id = "comment-4436" class = "comment">
				<p>Perfect. I've hit a bunch of the edge cases - no glitches at all I've noticed in the revamp / vectorization. I'm really, really loving the changes. Thanks again to all who worked on it.</p>
			</div>
			<div id = "comment-4437" class = "comment">
				<p>@bmike new LESS structure was launched on Stack Overflow first, so I had probably hundreds of thousands of SO users QAing for you guys :)</p>
			</div>
			<div id = "comment-4438" class = "comment">
				<p>@jin Even the odd mod tools pages look solid. Bigger crew of eyes there too I suppose.</p>
			</div>
			<div id = "comment-4439" class = "comment">
				<p>How can you make the font thicker it is too thin to read comfortably - the text in the comment entry is readable</p>
			</div>
			<div id = "comment-4441" class = "comment">
				<p>@Mark which font are you referring to? the font in the question and answer body?</p>
			</div>
			<div id = "comment-4442" class = "comment">
				<p>@Jin Yes and the question titles all appear to be overwhelmed by the white background - now if we could have a page with new and old on at the same time I could work out what the actual issue is</p>
			</div>
			<div id = "comment-4443" class = "comment">
				<p>and just noticed the link to the original - The top bar and right hand side have improved but all the other changes make the site less readable</p>
			</div>
			<div id = "comment-4444" class = "comment">
				<p>@Mark I'll adjust the blue question title link color for more contrast</p>
			</div>
			<div id = "comment-4445" class = "comment">
				<p>@Jin I am  not certain it is contrast but more the fonts are too thin (in pre CSS days I could tell you exactly the issue :()</p>
			</div>
			<div id = "comment-4446" class = "comment">
				<p>I like the thin font look . The font looks crisp and readable to me.</p>
			</div>
			<div id = "comment-4447" class = "comment">
				<p>@markhunte It gives me actual pain - how can I configure it to something readable</p>
			</div>
			<div id = "comment-4448" class = "comment">
				<p>@Mark I have added an answer for you. Although I am not using it for myself as I don't have a problem with the comments font.</p>
			</div>
			<div id = "comment-4449" class = "comment">
				<p>I like the original format better! But that's as much about Apple's unfortunate design language changes And they way the site keeps current with them.</p>
			</div>
			<div id = "comment-4461" class = "comment">
				<p>What changes? did not notice anything :)</p>
			</div>
			<div id = "comment-4481" class = "comment">
				<p>So much white space... total waste of my monitor size. Do you guys realize some people still use SE with a computer?</p>
			</div>
			<div id = "comment-4496" class = "comment">
				<p>Answers with score -3 or lower aren't being "muted" anymore because there's no `.downvoted-answer` selector in the new CSS. Is this intentional?</p>
			</div>
			<div id = "comment-4497" class = "comment">
				<p>@epimorphic no it's not. it's a bug I'll fix.</p>
			</div>
			<div id = "comment-4507" class = "comment">
				<p>@epi it is fixed now.</p>
			</div>
			</div>
				<textarea id = "speech-2374" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2374">
					<img id="start_img-2374" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2374">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2379"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2379" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>@mark </p>

<p>create a user style sheet with for example:</p>

<pre><code>tr.comment&gt;td {

    font: 16px Lucida Sans !important; 

}
</code></pre>

<p>---------- Or</p>

<pre><code>tr.comment&gt;td {

    font: 15px Helvetica !important; 

}
</code></pre>

<p>Save the file ( plain text) it as  stackComments.css</p>

<p>And then in the Safari preferences -> Advanced: </p>

<p>Use the <strong>style sheet</strong> drop down option 'other' to navigate and select your style sheet.</p>

<p>This should change the font size and font to whatever you set it to.</p>
</p><br>
			</div>
			<div id = "userinfo-2379" style = "float:right">
				<p>user name : markhunte</p>
				<p> user reputation : 9022</p>
				<p> user tag wise history : {'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2379">Load Comments</button></br>
			<div id = "commentsection-2379" class = 'collapse'>
			<div id = "comment-4458" class = "comment">
				<p>I ended up using the Stylish extension for Safari to add styles - now to learn some CSS - at least I have the titles and comments readable</p>
			</div>
			</div>
				<textarea id = "speech-2379" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2379">
					<img id="start_img-2379" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2379">Comment</button>
			<br><div id = "ans-2383"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2383" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The newsletter ad looks a bit outdated now.</p>

<p><img src="https://i.stack.imgur.com/PlUER.jpg" alt="full ad"></p>

<p><img src="https://i.stack.imgur.com/fLjGn.jpg" alt="The image at time of posting"></p>

<p><a href="http://cdn.sstatic.net/apple/img/newsletter-ad.png" rel="nofollow noreferrer">http://cdn.sstatic.net/apple/img/newsletter-ad.png</a></p>
</p><br>
			</div>
			<div id = "userinfo-2383" style = "float:right">
				<p>user name : 0942v8653</p>
				<p> user reputation : 4461</p>
				<p> user tag wise history : {'None': 1, 'flagging': 5, 'support': 8, 'questions': 5, 'community-user': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2383">Load Comments</button></br>
			<div id = "commentsection-2383" class = 'collapse'>
			<div id = "comment-4457" class = "comment">
				<p>The new one is up. I think the old newsletter ad background image you're seeing is browser cached.</p>
			</div>
			<div id = "comment-4459" class = "comment">
				<p>@Jin   It's not browser cached, but it may be the CDN (not quite an expert on that). The last modified header is from Friday March 6 but it still gives me the old image. I also tried from 2 different internet connections, neither works.</p>
			</div>
			<div id = "comment-4460" class = "comment">
				<p>are you still seeing the old one? you can try this link to cache break it: http://cdn.sstatic.net/apple/img/newsletter-ad.png?v=2</p>
			</div>
			<div id = "comment-4462" class = "comment">
				<p>@Jin: Looks like it's still cached on the CDN. But `?v=2` or anything else with a query string will work for `curl` and browsers.</p>
			</div>
			</div>
				<textarea id = "speech-2383" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2383">
					<img id="start_img-2383" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2383">Comment</button>
			<br><div id = "ans-2404"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2404" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have to say - I didn't like the new font at all to start with.</p>

<p>Couple of weeks go by &amp; now all the other SE sites actually look a bit fat &amp; bold by comparison.</p>

<p>Nice job - seeing further than I did initially ;-)</p>
</p><br>
			</div>
			<div id = "userinfo-2404" style = "float:right">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p> user tag wise history : {'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2404" class = 'collapse'>
			</div>
				<textarea id = "speech-2404" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2404">
					<img id="start_img-2404" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2404">Comment</button>
			<br><div id = "ans-2438"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2438" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Jin - please see if the line spacing can be harmonized on this post (and those like it). I think the edit icon introduced a gap in the last line.</p>

<p><a href="https://apple.stackexchange.com/a/180232/5472">https://apple.stackexchange.com/a/180232/5472</a></p>

<p><img src="https://i.stack.imgur.com/ddnZM.png" alt="enter image description here"></p>

<p>Safari Version 8.0.5 (10600.5.17) - Retina MBP in closed clamshell mode to cinema display (non retina / non big-k)</p>
</p><br>
			</div>
			<div id = "userinfo-2438" style = "float:right">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p> user tag wise history : {'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2438">Load Comments</button></br>
			<div id = "commentsection-2438" class = 'collapse'>
			<div id = "comment-4577" class = "comment">
				<p>It's not the edited icon, [it's your diamond](http://i.stack.imgur.com/igUh9.gif) that's causing that.</p>
			</div>
			<div id = "comment-4578" class = "comment">
				<p>@grgarside Awesome catch. I believe it's both since my diamond alone doesn't make the gap tooth layout.</p>
			</div>
			<div id = "comment-4580" class = "comment">
				<p>[It is *just* the diamond](http://i.stack.imgur.com/zCZSr.gif)?</p>
			</div>
			</div>
				<textarea id = "speech-2438" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2438">
					<img id="start_img-2438" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2438">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>