<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Slam Odometer Requirement
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9391" class = "post">
			<h2>Question</h2>
			<div id="vote-9391" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Slam Odometer Requirement</h2>
<p>How accurate must my odometer reading be for SLAM ?</p>

<p>I am writing this extra section because it says my question body does not meet the quality standard. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9391" data-toggle = "popover">
				<p>user name : J.Chew</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-9391">{'ekf': 3, 'None': 0, 'slam': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9391">Load Comments</button></br>
			<div id = "commentsection-9391" class = 'collapse'>
			<div id = "comment-16638" class = "comment">
				<p>This is very specific to your exact sensors and system. Many SLAM implementations don't use odometry at all. If you fully detail your system it might help get responses, but I would not expect much.</p>
			</div>
			</div>
				<textarea id = "speech-9391" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9391">
					<img id="start_img-9391" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9391">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9396"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9396" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That's what's great about SLAM: it doesn't matter. As long as your sensor noise is modeled appropriately and the odometer readings can be translated to position changes, the general algorithm holds. </p>

<p>In a practical sense, with very high uncertainty from odometery, it will update the position just fine, but will seem to ignore the odometer when <em>any</em> other information is available (e.g., laser and static landmarks). Without other information, your maps may look like junk, but it will faithfully produce an estimate with correspondingly high uncertainty. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9396" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-9396">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9396">Load Comments</button></br>
			<div id = "commentsection-9396" class = 'collapse'>
			<div id = "comment-16639" class = "comment">
				<p>I have a follow up question: I a have the Lidar and odometer data from a test run. If i put my starting position at [0,0,90] it gives bad map. However if i shift it away from [0,0] to something like [50,50,90] the map seems fine.How can this be ? Thanks again</p>
			</div>
			<div id = "comment-16640" class = "comment">
				<p>Follow-up questions need to be posted as *new questions*. Otherwise it's very difficult to answer them properly as they do not get the proper visibility. Thanks!</p>
			</div>
			<div id = "comment-16683" class = "comment">
				<p>"As long as your sensor is unbiased and has anything close to Gaussian noise" this assumption is unnecessary. This relates to the filter not to SLAM since other filters like particle filter work well without the Gaussian assumption.</p>
			</div>
			<div id = "comment-16684" class = "comment">
				<p>@CroCo Absolutely correct. Updated the answer.</p>
			</div>
			</div>
				<textarea id = "speech-9396" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9396">
					<img id="start_img-9396" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9396">Comment</button>
			<br><div id = "ans-9425"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9425" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>How accurate must my odometer reading be for SLAM ?</p>
</blockquote>

<p>There is no specific level for the accuracy. This is why the modern approaches for building SLAM are probabilistic approaches. This is due to the fact that noise in any sensor is inherited even with very accurate ones. The heavy load with very noisy sensors will be on your filters. You need very good filters to at least run SLAM in very simple maps (e.g. a bunch of points). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9425" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-9425">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9425" class = 'collapse'>
			</div>
				<textarea id = "speech-9425" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9425">
					<img id="start_img-9425" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9425">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>