<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>SLAM: Why use two cameras (stereo) if SLAM can be done using single camera (monocular)?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11612" class = "post">
			<h2>Question</h2>
			<div id="vote-11612" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 275</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>SLAM: Why use two cameras (stereo) if SLAM can be done using single camera (monocular)?</h2>
<p>I am aware that algorithm for monocular SLAM is complex compared to stereo SLAM. But my question is if by any means it is possible to do SLAM using one camera why one should use two cameras to do the same thing?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11612" data-toggle = "popover">
				<p>user name : vacky</p>
				<p> user reputation : 140</p>
				<p class = "tagcontent" id = "usertaginfo-11612">{'control': 8, 'None': 0, 'computer-vision': 6, 'algorithm': 8, 'monocular': 6, 'python': 3, 'pose': 0, 'wheeled-robot': 7, 'visual-odometry': 6, 'opencv': 0, 'slam': 6, 'robotic-arm': 18, 'mobile-robot': 12, 'motion-planning': 19, 'navigation': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11612" class = 'collapse'>
			</div>
				<textarea id = "speech-11612" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11612">
					<img id="start_img-11612" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11612">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11614"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11614" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The most important point is the scale. If you do monocular SLAM, your map will only be accurate up to scale so that you e.g. cannot compute the length of the travelled path in meters. The scale between your map and the world is not even constant over time so that if you come back to your starting point, it's going to be difficult to match the beginning and end of you map as they have a different scale. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11614" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-11614">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11614">Load Comments</button></br>
			<div id = "commentsection-11614" class = 'collapse'>
			<div id = "comment-20800" class = "comment">
				<p>Thanks for your answer @FooBar.
But I believe that this limitation can by solved by using loop closure. Dont you think so ?</p>
			</div>
			<div id = "comment-20803" class = "comment">
				<p>No. You can move your camera slowly over a toy city or attach it to a drone. Just by looking at the images, you are not able (no one is able!) to detect the difference. You can only add other sensors (e.g. pressure sensor from the drone) that give you the absolute scale.</p>
			</div>
			<div id = "comment-20804" class = "comment">
				<p>How can I get the absolute scale for UGVs?</p>
			</div>
			<div id = "comment-20808" class = "comment">
				<p>Why don't you read my comment?</p>
			</div>
			<div id = "comment-20810" class = "comment">
				<p>If you're constrained to only one camera, it would probably make sense to use multiple frames to initialize the scale, as PTAM does: or another (fancier) way is what's called image alignment to obtain transformations: as in LSD-SLAM.</p>
			</div>
			<div id = "comment-20811" class = "comment">
				<p>This can only help in fixing the scale, but never to get the correct metric scale.</p>
			</div>
			</div>
				<textarea id = "speech-11614" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11614">
					<img id="start_img-11614" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11614">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>