<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>SLAM starting point ~ quardrant issue
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9403" class = "post">
			<h2>Question</h2>
			<div id="vote-9403" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 31</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>SLAM starting point ~ quardrant issue</h2>
<p>I have a question that is puzzling me. I have a simple rectangle enclosure and i have extracted the Lidar and odometer data from a test run. If i put my starting position at [0,0,90] it gives bad map. However if i shift it away from [0,0] to something like [50,50,90] the map seems fine. How can this be ? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9403" data-toggle = "popover">
				<p>user name : J.Chew</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-9403">{'ekf': 3, 'None': 0, 'slam': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9403">Load Comments</button></br>
			<div id = "commentsection-9403" class = 'collapse'>
			<div id = "comment-16646" class = "comment">
				<p>I am not certain given the information you've provided, but could the nonconvergence ("bad map") be related to the accuracy of the trig functions near zero, or to the abrupt  sign changes when going from 0+ to 0-?  It sure sounds like a singularity, or at least a bifurcation, issue to me.  But I am not sure.</p>
			</div>
			<div id = "comment-16648" class = "comment">
				<p>From debugging, it seems to be my map feature have to be on one quardrant. When i start from [0,0] the map is on both side and it seems like the gain is correcting it in the wrong direction.</p>
			</div>
			<div id = "comment-16649" class = "comment">
				<p>It seems to me there is a problem with wrapping the angle. Double check this crucial issue. That being said, you need to provide further details.</p>
			</div>
			<div id = "comment-16651" class = "comment">
				<p>It has nothing to do with wrapping. When i check my observation from Lidar and the measurement prediction , the angle are close to one another. It does diverge but always pick itself back. The final position is actually within ball park but the overall tracking was not very accurate. What kind of detail would be helpful to explain the problem ?</p>
			</div>
			<div id = "comment-16652" class = "comment">
				<p>More details need to be specified. What kind of maps you use (i.e. metric or topological maps)? What kind of SLAM you use? What kind of filter you use? ... etc.</p>
			</div>
			<div id = "comment-16653" class = "comment">
				<p>EKF slam. Storing map as landmarks.</p>
			</div>
			<div id = "comment-16654" class = "comment">
				<p>lidar scan, fit line and then extract point landmark.</p>
			</div>
			<div id = "comment-16659" class = "comment">
				<p>"[0,0,90]" (from the question.)  What do these three numbers mean, **exactly**? Two linear distances and an angle? If so, what are the units and directions? (Add this information to the question with a drawing.)</p>
			</div>
			</div>
				<textarea id = "speech-9403" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9403">
					<img id="start_img-9403" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9403">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>