<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>SLAM without landmarks using sonar
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4650" class = "post">
			<h2>Question</h2>
			<div id="vote-4650" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 903</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>SLAM without landmarks using sonar</h2>
<p>I'm currently programming an app for a robot and I'd like to make him map a zone and then make him move autonomously from one point to another.</p>

<p>I have to solve a SLAM problem, but the biggest matter is that I can't use landmarks to find myself in the environment. The robot just has the abilities to move, and to make distance measurements over -120/+120 degrees using a sonar.</p>

<p>I can't find any simply explained algorithm that permits me to solve this SLAM problem with the no-landmark limitation.</p>

<p>Have you any idea ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4650" data-toggle = "popover">
				<p>user name : PinkPR</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-4650">{'sonar': 2, 'None': 0, 'slam': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4650" class = 'collapse'>
			</div>
				<textarea id = "speech-4650" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4650">
					<img id="start_img-4650" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4650">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4651"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4651" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you considered to use grid maps?</p>

<p>A particle filter based SLAM with grid maps can be found here:
<a href="https://www.openslam.org/gmapping.html" rel="nofollow">https://www.openslam.org/gmapping.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4651" data-toggle = "popover">
				<p>user name : Steffen</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-4651">{'None': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4651">Load Comments</button></br>
			<div id = "commentsection-4651" class = 'collapse'>
			<div id = "comment-7276" class = "comment">
				<p>Seems like a reasonable suggestion. Would make a better answer if you said why gmapping might fit the problem better.</p>
			</div>
			</div>
				<textarea id = "speech-4651" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4651">
					<img id="start_img-4651" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4651">Comment</button>
			<br><div id = "ans-4653"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4653" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I asked this question before in <a href="https://robotics.stackexchange.com/questions/1985/slam-without-landmarks">here</a> when I had no idea what SLAM problem actually is. I realized later this question was a sign indicates that I have no idea about the problem. The word SLAM is an acronym for Simultaneous Localization And Mapping which indicates that the environment must be part of the problem or in other words the robot needs to navigate an  unknown environment and concurrently localizes its pose in this map. If you don't want to include the landmarks or the environment, then you don't need SLAM at all. The problem then decreases to a kinematic problem in which the robot moves in an empty space and you hope to determine its pose in this empty map. If this is the case, then you need odometry info or just use GPS. As you can see, odometry is an accumulated error problem if the noise is presented. GPS doesn't work in an indoor environment. I highly recommend you to read this book <a href="http://www.probabilistic-robotics.org/" rel="nofollow noreferrer">Probabilistic Robotics</a>. This is the only book that I know covers the problem in depth with providing a complete algorithm for constructing SLAM with a given model. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4653" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-4653">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4653" class = 'collapse'>
			</div>
				<textarea id = "speech-4653" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4653">
					<img id="start_img-4653" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4653">Comment</button>
			<br><div id = "ans-4680"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4680" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are SLAM methods that do use landmarks and others that do not. If your sensor allows you to easily find and and identify landmarks (e.g. using cameras you can easily detect interest points and identify these using feature descriptors) it can be beneficial to do so. But in many cases (e.g. laser scanners, sonar) <em>reliably</em> detecting and identifying landmarks is nearly impossible.</p>

<p>The current state of the art in SLAM are graph-based methods and while I am not aware of an existing system using sonar sensors, the straight-forward approach which is widely used with laser scanners would be:</p>

<ul>
<li>Use a pose graph representation and store sonar measurements at key poses. </li>
<li>Use the odometry of your robot to add measurement edges between consecutive nodes.</li>
<li>Can you use your robot's sonar array for registration/scan matching (even with rather inaccurate results)? Also add the resulting relative pose edges to your pose graph.</li>
<li>From time to time: Perform pose graph optimization. After that you might want to create an occupancy grid map using sonar scans corresponsing to nodes with their corrected pose.</li>
</ul>

<p>For 2D laser scanners, this is described in more detail in <a href="https://www.willowgarage.com/sites/default/files/spa2d.pdf" rel="nofollow">this paper</a> and implemented in <a href="http://wiki.ros.org/karto" rel="nofollow">karto</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4680" data-toggle = "popover">
				<p>user name : sebsch</p>
				<p> user reputation : 404</p>
				<p class = "tagcontent" id = "usertaginfo-4680">{'control': 6, 'quadcopter': 2, 'None': 15, 'sensor-error': 4, 'sensor-fusion': 4, 'localization': 16, 'ekf': 9, 'pose': 1, 'errors': 8, 'kalman-filter': 17, 'mobile-robot': 8, 'sensors': 4, 'navigation': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4680" class = 'collapse'>
			</div>
				<textarea id = "speech-4680" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4680">
					<img id="start_img-4680" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4680">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>