<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Small IR distance sensor that works on black surfaces
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8455" class = "post">
			<h2>Question</h2>
			<div id="vote-8455" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 761</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Small IR distance sensor that works on black surfaces</h2>
<p>Can anyone recommend an IR distance sensor that works on black surfaces? I'm looking for something to use as a "cliff" sensor, to help a small mobile robot avoid falling down stairs or off a table, and I thought the <a href="https://www.pololu.com/product/1132" rel="nofollow">Sharp GP2Y0D805Z0F</a> would work. However, after testing it, I found any matte black surface does not register with the sensor, meaning the sensor would falsely report a dark carpet as a dropoff.</p>

<p>Sharp has some other models that might better handle this, but they're all much larger and more expensive. What type of sensor is good at detecting ledges and other dropoffs, but is small and inexpensive and works with a wide range of surfaces?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8455" data-toggle = "popover">
				<p>user name : Cerin</p>
				<p> user reputation : 152</p>
				<p class = "tagcontent" id = "usertaginfo-8455">{'magnetometer': 0, 'None': 0, 'force': 1, 'motor': 1, 'simulator': 2, 'battery': 1, 'bec': 0, 'cameras': 2, 'torque': 1, 'design': 1, 'mechanism': 0, 'slam': 3, 'rangefinder': 2, 'beagle-bone': 1, 'compass': 0, 'mobile-robot': 1, 'sensors': 3, 'ros': 3, 'navigation': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8455">Load Comments</button></br>
			<div id = "commentsection-8455" class = 'collapse'>
			<div id = "comment-13692" class = "comment">
				<p>Have you actually tested the Sharp sensor with the "dark carpet" you intend to use? The Sharp IR rangefinders work by illuminating the scene and evaluating the return intensity, BUT they are infrared - that means that you *cannot* evaluate IR reflectivity by looking at surface color in the visible spectrum. Carpet mostly nylon, so comparing its response to whatever matte black surface you used is probably not a fair representation.</p>
			</div>
			<div id = "comment-13697" class = "comment">
				<p>@Chuck, I haven't tested it with true black carpet, no, but my primary goal is also to make this work with black table tops. You may be right about carpet, but when it's on the ground, I'm more concerned with black tile and black plastic carpet trim as registering a false positive.</p>
			</div>
			<div id = "comment-13698" class = "comment">
				<p>I understand your concern, but again, plastics especially typically have considerably different properties in IR vs visible bands. Also, for sanitary/cleaning purposes, I think that you might find a lot of surfaces like tables and floors are non-porous. This would mean that it's harder to stain the surface, but should also give stronger return intensities. Again, I would try testing it on the surfaces you're concerned about. Try going to a carpet show room, I'm sure they'd let you test on swatches.</p>
			</div>
			</div>
				<textarea id = "speech-8455" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8455">
					<img id="start_img-8455" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8455">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8458"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8458" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A surface that appears black doesn't reflect much visible light (it's the absence of visible light reaching your eye that makes it look black), if the surface also doesn't reflect IR light very well, then IR sensors will not work very well (they work by shinning IR light and measuring the intensity of the IR light reflected back). Note you can not tell with certainty whether a surface will reflect infrared by looking at it since you cannot see IR, but if it is the case that your surface isn't reflecting IR, then no IR sensor will work. </p>

<p>Have you considered using an ultrasonic distance sensor (aka ultrasonic rangefinders)? They work using the same principal but with sound (outside of auditory spectrum) instead of light. Or a mechanical sensor?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8458" data-toggle = "popover">
				<p>user name : jonvw</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-8458">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8458" class = 'collapse'>
			</div>
				<textarea id = "speech-8458" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8458">
					<img id="start_img-8458" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8458">Comment</button>
			<br><div id = "ans-8468"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8468" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ultrasonic sensors have a deadband of about 2-5 cm, so wouldn't be useful for close-range sensing. Also ultrasonics work best with hard, solid surfaces. Carpet, clothing, drapes, cushions, etc. will absorb much of the ultrasonic pulse and are likely to result in a faulty reading with the target appearing much further away than it really is. </p>

<p>The key for any sort of "cliff sensor" is that you are looking for a change in measurement by a significant value from previous measurements. I've built robots before that are programmed to avoid table edges and were using IR sensors. The heuristic for avoiding a table edge or stairway isn't to look for a specific value but a large change. </p>

<p>So, something like:</p>

<pre><code>//assuming distance is measured in raw sensor values vs. cm or inches. 
if ( abs(cur_distance - last_distance) &gt; 100)  
{

 //do some avoidance logic here

}
</code></pre>

<p>This will work even if the sensors return weak or off-scale measurements when passing over a dark surface. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8468" data-toggle = "popover">
				<p>user name : jetdillo</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-8468">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8468" class = 'collapse'>
			</div>
				<textarea id = "speech-8468" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8468">
					<img id="start_img-8468" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8468">Comment</button>
			<br><div id = "ans-8493"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8493" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problems with the Sharp sensor you've listed are: it's infra red only, and it's a digital on/off signal.</p>

<p>As you're hoping to detect a ledge or cliff, perhaps you could use an analogue sensor instead. Looking over the side of the ledge, we might reasonably expect the light level to change in some way, unless the room is in complete darkness - so if you suddenly detect a change in light level, you might be near the edge.</p>

<p>Note this may be affected by patterned carpets/tabletops though, or even by people switching the room lights... the only way is to try it and see.</p>

<p>Another possibility is to abandon visual sensors and use something that gently touches the floor - a flexible feeler like a cat's whisker, or a lever going down to a smooth roller or slider. But this could get tangled if there's clutter in the environment, such as loose wires or the edge of a rug.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8493" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-8493">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8493" class = 'collapse'>
			</div>
				<textarea id = "speech-8493" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8493">
					<img id="start_img-8493" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8493">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>