<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Smart Home Model with Raspberry Pi
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9652" class = "post">
			<h2>Question</h2>
			<div id="vote-9652" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 86</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Smart Home Model with Raspberry Pi</h2>
<p>I'm still new to RPi and I am currently trying to do a smart home model. </p>

<p>I planned to use RPi only to control 5 servos (which will be controlling the open/close of the doors by setting the angle) and 5 LEDs. </p>

<p>Will I need to use an external circuit to supply the power for the servos or is it fine to just connect them to the RPi?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9652" data-toggle = "popover">
				<p>user name : Kar Keng Chan</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9652">{'None': 0, 'raspberry-pi': 0, 'rcservo': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9652">Load Comments</button></br>
			<div id = "commentsection-9652" class = 'collapse'>
			<div id = "comment-17107" class = "comment">
				<p>Hi Kar, and welcome to SE Robotics. Yes, you could, although additional circuitry ({power] transistors mostly, I guess) would be required in order to provide sufficient current to the servos, as the GPIO is rather limited in its current capability, as well as only providing 3.3V on the I/O. 3.3V (and the low current) would be fine for the LEDs, however, and only a resistor is required for _each_ of the LEDs. You _might_ find it easier to use an Arduino with an Arduino servo shield. However, I guess you want to learn the Pi and use it in a project, in which case fair enough, and yes you can.</p>
			</div>
			<div id = "comment-17121" class = "comment">
				<p>Thanks a lot, actually I was thinking to use arduino too. But I was trying to use Webiopi to provide a UI for controlling all the components and I couldn't quite get how to code for the serial connection.</p>
			</div>
			<div id = "comment-17122" class = "comment">
				<p>Arduino would be better, IMHO. However, regarding WebIOPI - In that case, you may want to edit your question, and ask that instead, or (better still) ask a separate question on [Stack Exchange Raspberry Pi](http://raspberrypi.stackexchange.com/), as your second WebIOPI issue is more related to Pi that Robotics. This current question, as it stands is a little too broad, and may get closed.</p>
			</div>
			<div id = "comment-17123" class = "comment">
				<p>Also, take a look at this question, [Advice on domotic project improvement](http://arduino.stackexchange.com/questions/18423/advice-on-domotic-project-improvement) and the [video](https://youtu.be/FA91QIYKh5I)</p>
			</div>
			<div id = "comment-17124" class = "comment">
				<p>Okay will look into it thanks a lot</p>
			</div>
			<div id = "comment-17125" class = "comment">
				<p>Welcome to *robotics* Kar Keng Chan, but I'm afraid it's not clear what you're asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to include details of what what you would like to achieve, what you tried, what you expected to see & what you actually saw. Please take a look at [ask] & [about] for more information on how stack exchange works & work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			</div>
				<textarea id = "speech-9652" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9652">
					<img id="start_img-9652" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9652">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9746"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9746" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Though, there is not much information about your servos let's assume that they consume at least 1A each. This value will probably be higher given that you want to move doors and that requires torque.</p>

<p>Now let's see the RPi's capabilities. An answer from <a href="https://raspberrypi.stackexchange.com/questions/9298/what-is-the-maximum-current-the-gpio-pins-can-output">Stack Exchange Raspberry Pi</a>, tells you the necessary information and sources about the RPi's power rails and GPIOs.</p>

<p>The 3.3 V supply can source a maximum of 50 mA, as the GPIOs are driven from this rail too. A GPIO can source max 16 mA, the overall current sourced by GPIOs cannot exceed the 3.3 V rail's max 50 mA.</p>

<p>This is far not enough but also 3.3 V would be too low for supplying a servo, as servos usually need 4-6 V.</p>

<p>The 5 V supply rail is limited by the power supply that powers the RPi, minus the RPi's current consumption. You did not provide what model do you use, so here is a table with each (except RPi3) models power requirements.</p>

<p><a href="https://i.stack.imgur.com/6LRsm.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6LRsm.png" alt="enter image description here"></a></p>

<p>Now, if you want to power your servos from the RPi's 5 V rail, your maximum current is at least 5A + RPi's consumption. If you check, most USB micro type B connectors are rated on 1.8 A, but even if the connector can handle 5-6 A, driving this much current through the board just to supply your servos would be risky.</p>

<p>The best solution would be an external supply which provides 6 V as your servos will have higher torque at 6 V. Also it must be able to supply six times a servo's current. </p>

<p>A possible block diagram:</p>



<p><img src="https://i.stack.imgur.com/i4Ta4.png" alt="schematic"></p>



<p>The driving circuit can be a simple current limiting resistor an each pin of the RPi or you can use an appropriate small-signal FET as an interface.</p>

<p>As for connecting the LEDs, you can use a simple current limiting resistor and GPIOs, but be careful to not exceed the 50 mA of the 3.3 V rail.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9746" data-toggle = "popover">
				<p>user name : Bence Kaulics</p>
				<p> user reputation : 605</p>
				<p class = "tagcontent" id = "usertaginfo-9746">{'None': 26}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9746" class = 'collapse'>
			</div>
				<textarea id = "speech-9746" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9746">
					<img id="start_img-9746" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9746">Comment</button>
			<br><div id = "ans-10434"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10434" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Raspberry Pis can be used for a huge range of things! And I like your idea!</p>

<p>Although, you could use an Arduino Pro Micro board as that has everything you need and doesn't have unnecessary items like Ethernet cables etc... It comes a lot cheaper -  2 here in the UK from Amazon! </p>

<p>Bence Kaulics explains it very clearly and I suggest you use that idea.</p>

<p>My suggestion is that you can use a relay board that the Raspberry Pi controls and the relay board will power the servos. Use a relay board because you need a stable current and voltage to power the servos, especially to move a window, you will need powerful servos. The relay can suit the needs and protect the servos.</p>

<p>You can also connect more items to the relay if you want to improve the smart home model by adding motion sensors outside the window and alarms.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10434" data-toggle = "popover">
				<p>user name : SidS</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-10434">{'quadcopter': 3, 'None': 5, 'power': 1, 'motor': 4, 'electric': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10434">Load Comments</button></br>
			<div id = "commentsection-10434" class = 'collapse'>
			<div id = "comment-18772" class = "comment">
				<p>Hey Sid, I edited out the introduction of your answer, because it doesn't add to the answer directly. Please do not add it to all of your posts. We are an international Q&A site with users of all ages. There's no reason to apologise for your age (this is true in general) If you want to say something about yourself, feel free to do so on your profile page. If somebody doesn't understand something in your answer (or question) or wants to point something out, they will leave a comment (like I'm doing here right now)</p>
			</div>
			<div id = "comment-18781" class = "comment">
				<p>Thanks a lot for your support! Also, thanks for the advise, will use in the future!</p>
			</div>
			</div>
				<textarea id = "speech-10434" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10434">
					<img id="start_img-10434" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10434">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>