<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Software for designing mechanical systems~robotic parts
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1813" class = "post">
			<h2>Question</h2>
			<div id="vote-1813" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 479</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Software for designing mechanical systems~robotic parts</h2>
<p>Which software can be used to prototype/design robot parts (mechanical parts, body, gears, etc)></p>

<p>I have some crazy idea I would like to try (quadripedal walking robot, animal-like), but I'd like to design the mechanism and test (to some degree) the mechanism in some kind of simulator before I start wasting money on parts/materials. What tool could I use for that? </p>

<p>I'm only interested in mechanical design (chassis + servo/motor placement + cogs/gears), not in electronic design. I'm not interesting in robot <em>control</em> software, because I'll be probably able to slap something like arduino onto it and program behavior I want (experienced programmer)</p>

<p><strong>Details (what I'd like to see)</strong>:</p>

<ol>
<li>Should work in 3d. I.e. finished system should be viewable in 3d.</li>
<li>I should be able to cut materials like plywood/metal, drill holes, place gears on it, etc.</li>
<li>It would be nice if it had some kind of part catalog so to place a gear/cog I wouldn't need to design it from scratch.</li>
<li>It would be nice I could test if parts can actually move. I don't need full-blown simulation, just to see if gears can turn or if they'll get stuck.</li>
<li>Not interested in electronic circuitry, just need mechanical parts, but should be able to place servos.</li>
<li>It would be nice if it could produce blueprints.</li>
<li>cheap/inexpensive, if possible.</li>
</ol>

<p>Basically, I should be able to construct robot mechanism in it (by placing/connecting parts like gears,cogs, motors, springs), or some kind of clock, and test (to some degree) if it actually works.</p>

<p>I know that I could use blender3d for that, but it wasn't exactly designed for this purpose.</p>

<p>I also heard that solidworks could be used for designing mechanical parts, but it is too expensive, especially for one-time-project. </p>

<p>Any recommendations?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1813" data-toggle = "popover">
				<p>user name : SigTerm</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-1813">{'None': 0, 'software': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1813" class = 'collapse'>
			</div>
				<textarea id = "speech-1813" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1813">
					<img id="start_img-1813" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1813">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1818"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1818" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use <a href="http://www.sketchup.com/" rel="nofollow">google sketchup</a>. It's free and should be allow you to do most of what you want. </p>

<p>Solidworks would most likely fully match your requirements above. Since it is a one-time project, you could consider evaluating Solidworks by requesting a <a href="http://www.solidworks.com/sw/purchase/solidworks-trial.htm" rel="nofollow">free trial</a>.</p>

<p>Good luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1818" data-toggle = "popover">
				<p>user name : ddevaz</p>
				<p> user reputation : 503</p>
				<p class = "tagcontent" id = "usertaginfo-1818">{'None': 34}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1818" class = 'collapse'>
			</div>
				<textarea id = "speech-1818" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1818">
					<img id="start_img-1818" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1818">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>