<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Software real-time of ROS system
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9074" class = "post">
			<h2>Question</h2>
			<div id="vote-9074" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 196</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Software real-time of ROS system</h2>
<p>As far as I know, a hardware real-time robot control system requires a specific computing unit to solve the kinematics and dynamics of a robot such as interval zero RTX, which assigns CPU cores exclusively for the calculation, or a DSP board, which does exactly the same calculation. This configuration makes sure that each calculation is strictly within, maybe, 1 ms. </p>

<p>My understanding is that ROS, which runs under Ubuntu, doesn't have a exclusive 
computing unit for that. Kinematics and dynamics run under different threads of the same CPU which operates the Ubuntu system, path plan, and everything else. </p>

<p>My question is that how does ROS achieve software-real time? Does it slow down the sampling time to maybe 100ms and makes sure each calculation can be done in time? Or the sampling time changes at each cycle maybe from 5ms, 18ms, to 39ms each time in order to be as fast as possible and ROS somehow compensates for it at each cycle?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9074" data-toggle = "popover">
				<p>user name : Superuser</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-9074">{'None': 0, 'manufacturing': 0, 'microcontroller': 1, 'c': 2, 'mechanism': 0, 'simulation': 2, 'books': 0, 'matlab': 2, 'robotic-arm': 2, 'real-time': 1, 'ros': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9074">Load Comments</button></br>
			<div id = "commentsection-9074" class = 'collapse'>
			<div id = "comment-14953" class = "comment">
				<p>1: ROS questions will get better responses at http://answers.ros.org.   2: You will have to be more specific with your question. ROS is not generally real-time capable itself. However parts of ROS can be (and are) used in systems with real-time subsystems. You will need to refer to the specific ROS package or real-time system implementation you are interested in.</p>
			</div>
			<div id = "comment-14957" class = "comment">
				<p>As far as I know, no part of ROS is real-time, so this question is void. ROS 2 is currently in alpha and advertizes real-time capabilities not for PCs but for single-board computers. You might want to check it out.</p>
			</div>
			</div>
				<textarea id = "speech-9074" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9074">
					<img id="start_img-9074" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9074">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9081"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9081" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Short answer: it doesn't compensate at all. </p>

<p>ROS is generally not considered a real-time OS. You usually need specialized hardware and software to implement a real-time OS. The communication line and bus needs to be specifically designed to minimize lag, and the software needs to be written to be 'clock centric'. A real-time OS is built to do things at certain times, not to do as many calculations as it can in a certain amount of time. Unless you're running ROS on a real-time variant of Linux, and on hardware designed to operate with it, ROS won't operate in real time. Even then, you would probably have to modify or redesign ROS and the packages you want to use to operate primarily by the clock, instead of 'at their leisure' </p>

<p>Generally, you do not need an real-time OS for robotics. Usually, you only see it in aerospace applications, specifically rocket motor control. Getting from point A to point B using a rocket motor requires split second timing. If the motor goes for even a half second too long or too short, it will miss it's target velocity (and so, overshoot or undershoot it's target). Robots do not usually require this level accuracy in timing. We're more concerned about our creations doing it right, instead of doing it fast. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9081" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9081">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9081" class = 'collapse'>
			</div>
				<textarea id = "speech-9081" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9081">
					<img id="start_img-9081" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9081">Comment</button>
			<br><div id = "ans-9091"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9091" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use <a href="https://github.com/orocos/rtt_ros_integration/blob/hydro-devel/README.md" rel="nofollow">Orocos RTT</a> with ROS to achieve some real time performance. In order to use this you need to patch the Linux kernel with a real time patch like PREEMPT_RT or run a real time kernel like Xenomai.</p>

<p>You question about changing the sample time seems to actually miss the point of real time computing. Real time is not about doing calculations fast, it is about doing calculations within the required time frame. A rocket control system probably needs an update rate of several kHz, whereas a nuclear power plant is working more in the Hz range. Nevertheless, the power plant definitely needs real time computation. Basically it is up to you to set the required update rate, then the system can tell you if it can meet those demands. If you are working with hard real time, missing the deadline means a failure of the program and it should start a shut down procedure. Soft real time accepts some deviation but will know when the deadlines are not satisfied.</p>

<p>If you are working with balancing robots, e.g. segways, you will probably want update rates around 1 kHz hard real time. If you are doing trajectory following with a stable robot 100 Hz soft real time seems reasonable.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9091" data-toggle = "popover">
				<p>user name : Karl Damkj r Hansen</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-9091">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9091">Load Comments</button></br>
			<div id = "commentsection-9091" class = 'collapse'>
			<div id = "comment-15027" class = "comment">
				<p>Thank you very much for your comments. I am curious about soft-real time, which is claimed by some robot manufactors. It is claimed to be similar to hardware-real. Maybe it is possible by softwares like OROCOS RRT. Is it?</p>
			</div>
			</div>
				<textarea id = "speech-9091" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9091">
					<img id="start_img-9091" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9091">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>