<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Solar panel set rotation: How to achieve both vertical and horizontal rotation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8438" class = "post">
			<h2>Question</h2>
			<div id="vote-8438" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 90</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Solar panel set rotation: How to achieve both vertical and horizontal rotation?</h2>
<p><a href="https://i.stack.imgur.com/Gu5Sk.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Gu5Sk.jpg" alt="Solar panel array"></a></p>

<p>How can we achieve this kind of rotation to enable maximum trapping of solar rays during the day?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8438" data-toggle = "popover">
				<p>user name : patrick</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8438">{'mobile-robot': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8438">Load Comments</button></br>
			<div id = "commentsection-8438" class = 'collapse'>
			<div id = "comment-13660" class = "comment">
				<p>You've shown a photo of a solar panel and asked how to achieve "this kind of rotation". Please elaborate further otherwise we have to guess what you mean.</p>
			</div>
			<div id = "comment-13663" class = "comment">
				<p>This might serve as an inspiration:

http://www.mdpub.com/suntracker/</p>
			</div>
			</div>
				<textarea id = "speech-8438" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8438">
					<img id="start_img-8438" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8438">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8440"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8440" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your question is very broad... what have you tried already? SE can help with specific issues, but not design an entire sun tracking system.</p>

<p>However, a simple google for "<a href="https://www.google.com/search?q=sun%20tracker%20DIY" rel="nofollow noreferrer">sun tracker DIY</a>" should give you some ideas. <a href="https://robotics.stackexchange.com/questions/8438/solar-panel-set-rotationhow-to-achive-both-vertical-and-horizontal-rotation/8440#comment-13663">50k4's suggested link</a> is a very good example of a DIY sun tracking system.</p>

<p>Basically you need to track the Sun, on a daily basis, throughout the year. So a mechanical system with 1 or 2 DOF (degree of freedom) is required to <em>tilt</em> the panels, along with a mechanism to <em>track</em> the Sun.</p>

<p><strong>Tilt</strong></p>

<p>There are two types of tilt required - vertical and horizontal:</p>

<ul>
<li>For vertical tilt, along the N-S axis, this is easy as it (generally)
remains constant, and is equal to the latitude of the installation. So
at the equator the panels are parallel to the ground, angle of tilt
is 0 ; in Paris that angle would be 48.8; at the North Pole the panels would be perpendicular (90 ). Obviously there is <em>some</em> seasonal variation, between the
solstices, and a vertical tracking system can be added (hence the 2
DOF). However it is not essential, and it is better to concentrate on
the horizontal tracking;</li>
<li>For horizontal tilt, along the E-W axis, then a 1 DOF arc of 180
degrees, maximum, is required to track the Sun. So, only one
servo/actuator, or bank of parallel servos, would be required, per panel or array of panels. </li>
</ul>

<p>How you mount the panels on to the servos is up to you, either:</p>

<ul>
<li>One servo/actuator to one panel;</li>
<li>One servo/actuator to an array of panels.</li>
</ul>

<p>Remember the larger the number of panels in the array (2x2, 3x3, 4x4...), the heavier the array will become, the greater its mechanical inertia and the larger the required actuator will be. You could use one actuator for each panel, but then the maintenance required will be greater, as there are more servos to maintain. Also, from a cost perspective, is one big actuator cheaper than 9, or 16, smaller servos?</p>

<p><strong>Tracking</strong></p>

<p>There are a number of ways to actually track the Sun, to keep the panels facing the Sun, including:</p>

<ul>
<li>The simplest form of tracking would employ a light sensor, mounted in
the same plane as the panels, that, when maximum light output is
achieved then  it can be assumed that the panel (sensor) is pointing
directly at the Sun. One downside is that the sensor, and hence the panel array, would need to be 
constantly shifting orientation, and sampling the light, to ensure that maximum luminosity is achieved.</li>
<li>A more complex solution would be to have an array of Solar coordinates over time for
that specific date, which can be used to control the servos, to simply point the panels in the direction of where the Sun should be at that particular time. However this requires the preparation of tables, and access to an almanac. Although, it would be possible to programmatically derive the coordinates - using a model of the Solar System in Mathematica, for example.</li>
<li>Get the angle of the Sun's path for that day, divide that by the number of daylight hours for that date, and you have the required angular velocity of the panel/array. Point the panel to the angle of the Sunrise and then at sunrise start the rotation at the calculated angular velocity. This will keep the panels pointing in roughly the correct orientation, without the requirement for a sensor.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8440" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-8440">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8440" class = 'collapse'>
			</div>
				<textarea id = "speech-8440" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8440">
					<img id="start_img-8440" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8440">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>