<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Solutions for Finding Position and Heading in a Multi-Level House
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2902" class = "post">
			<h2>Question</h2>
			<div id="vote-2902" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 378</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Solutions for Finding Position and Heading in a Multi-Level House</h2>
<p>I was wondering if you could reccomend possible solutions for locating a robot within a multilevel house.  What seems obvious to me is that need an altitude sensor to derive the story the robot, and a compass sensor to derive the heading.  However I was wondering what I could use to locate the robots xy position in the house.  If this requirement is unclear, imagine that I have to map a dot representing my robot position to an image of the current floor from the top.<br>
My original idea was to use GPS, however as I need submeter accuracy that would be incredibly expensive.  I also considered Monti-Carlo localization, however that requires no obstruction between sonar sensors and walls.  It is also a significant task programically.  I had an idea to place 3 wireless beacons of some sort on the vertexes of an equilateral triangle surrounding the house, then triangulate my position using distance from each beacon.  However, I have no idea how I would go about this hardware-wise.  Do any of these ideas seem viable, and if so do you have suggestions on how to implement them? Otherwise, can you reccomend an easier or cheaper alternative?  My platform is essentially an arduino hooked up to sensors and motor drivers connected to java on a laptop over serial.  Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2902" data-toggle = "popover">
				<p>user name : nanogru</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-2902">{'gps': 3, 'None': 10, 'localization': 3, 'sensors': 3, 'arduino': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2902" class = 'collapse'>
			</div>
				<textarea id = "speech-2902" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2902">
					<img id="start_img-2902" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2902">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2910"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2910" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>GPS won't give you the accuracy you are looking for. Outdoors it's good for around 1-3 m, indoors if you get a signal at all the multipath will increase your error. There are better GPS technologies out there such as RTK and PPP but their performance degrades significantly when the view of the sky is obstructed.</p>

<p>If you don't have line of sight to the landmarks, your options are a bit more limited. </p>

<p>RF trilateration is a good direction to investigate; there's a lot of interesting research these days into using COTS wifi access points for this purpose. You'll have to read some fairly recent research papers to find an algorithm.</p>

<p>This is actually a pretty difficult problem that you are trying to solve. To make it easier, I would suggest making the problem simpler. Try using a large number of artificial landmarks that are identifiable (such as QR codes or April tags), and use the landmark IDs to indicate the floor of the house you are on. (You can color code them by floor, for example.) From there you can implement a basic SLAM algorithm to find your position. It will be even easier if you map out the locations of the landmarks in advance, because then instead of SLAM you can just do triangulation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2910" data-toggle = "popover">
				<p>user name : Andrea</p>
				<p> user reputation : 209</p>
				<p class = "tagcontent" id = "usertaginfo-2910">{'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2910">Load Comments</button></br>
			<div id = "commentsection-2910" class = 'collapse'>
			<div id = "comment-5318" class = "comment">
				<p>Yeah, unfortunately QR codes are not an option as all electronics for the house need to be hidden.  Do you think I could do the same thing with IR leds?</p>
			</div>
			<div id = "comment-5324" class = "comment">
				<p>Essentially, you need to get angle, distance, and id to at least 4-5 landmarks to calculate your position. There are a number of technologies that can achieve this. IR LEDs can be difficult because sunlight will wash them out, the landmarks will require batteries, and any data encoding you do over IR will be complicated if the robot is moving while localizing.</p>
			</div>
			</div>
				<textarea id = "speech-2910" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2910">
					<img id="start_img-2910" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2910">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>