<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Solution for INS and GPS integration
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8065" class = "post">
			<h2>Question</h2>
			<div id="vote-8065" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 167</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Solution for INS and GPS integration</h2>
<p>I have a GPS module and an IMU (gyro, accelerometer and magnetometer) and I need to build an autonomous navigation system for a quadcopter. It must know its position at any time so that it can track a predefined path. I know that, in order to improve precision, I need to merge both sensors data through a Kalman Filter (or any other technique for that matter, the thing is that the Kalman Filter is way more common according to my research).
The problem is that I am seriously stuck and I know this might be something very simple but I don't seem to find a solution or at least the answer for some of the most basic questions.
As a start, I know how to get the position from the accelerometer readings. I have some filters that help eliminate noise and minimize the integration errors. I also have the GPS readings in latitude and longitude. The first question is, during sensor fusion, how can I make both measurements compatible? The latitude and longitude from the GPS won't simply mix with the displacement given by the accelerometer, so what is the starting point for all of this? Should I calculate the displacement from the GPS readings or should I assume a starting latitude and longitude and then update it with the accelerometer prior to applying the filter?</p>

<p>I have once developed a simple Kalman Filter in which I could plug the new reading values to obtain the next estimate position of a two wheeled car. Now I have two sources of inputs. How should I merge those two together? Will the filter have two inputs or should I find a function that will somehow get the best estimate (average, maybe?) from the accelerometer and GPS? I am really lost here.</p>

<p>Do you guys have any examples of code that I could use to learn? It is really easy to find articles full of boxes with arrows pointing the direction in which data must flow and some really long equations that start to get confusing very soon such as those presented on this article: <a href="http://isas.uka.de/Material/Samba-Papierkorb/vorl2014_15/SI/Terejanu_tutorialUKF.pdf" rel="nofollow">http://isas.uka.de/Material/Samba-Papierkorb/vorl2014_15/SI/Terejanu_tutorialUKF.pdf</a> (I have no problems with equations, seriously) but I have never seen a real life example of such implementation.</p>

<p>Any help on this topic would be deeply appreciated.</p>

<p>Thank you very much.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8065" data-toggle = "popover">
				<p>user name : Vin cius Barros</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-8065">{'None': 0, 'sensor-fusion': 2, 'kalman-filter': 2, 'gps': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8065">Load Comments</button></br>
			<div id = "commentsection-8065" class = 'collapse'>
			<div id = "comment-12939" class = "comment">
				<p>Take a look at this book chapter 5. The author addresses how multiple measurements are fused http://www.amazon.ca/Mobile-Robotics-Mathematics-Models-Methods/dp/110703115X/ref=sr_1_1?s=books&ie=UTF8&qid=1442960123&sr=1-1&keywords=mobile+robotics+mathematics</p>
			</div>
			<div id = "comment-12944" class = "comment">
				<p>I was wondering if you had a chance to try out the complimentary filter. Did the answer I provided help?</p>
			</div>
			<div id = "comment-13089" class = "comment">
				<p>I did. I tried the complimentary filter and it worked but not with the precision I needed. I am working on an unscented Kalman Filter because I believe I found a solution for those messy equations and I am waiting until I have some more solid results so that I can post a reply and an answer to my own question so that other people can be helped as well.</p>
			</div>
			</div>
				<textarea id = "speech-8065" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8065">
					<img id="start_img-8065" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8065">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8066"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8066" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was in exactly the same boat with my master's thesis; wave-based imaging (sonar and radar) seemed so common that all the papers I read assumed you knew the fundamental concept and they were going to show an advanced technique, or they set out deriving everything from Maxwell's equations! That said, I hope this helps. </p>

<p>Essentially, you have two measurements: one that should be really accurate in the short term, but prone to integration error/drift in the long run (the IMU accelerometer readings); and you have one that should be extremely accurate in the long term but is very noisy in the short term (GPS).</p>

<p>I would recommend you look at a <a href="http://www.pieter-jan.com/node/11" rel="nofollow">complimentary filter</a>, which is an <em>extremely</em> easy way to combine two measurements. Basically:</p>

<p>$$
y_{\mbox{est}} = g * y_1 + (1-g) y_2 \\
$$</p>

<p>That's it. $g$ is a value between 0 and 1 that controls how much weight or "trust" you put in a measurement. $y_1$ would be the more trustworthy input, and $y_2$ would be the less trustworthy input. In your case, maybe try g=0.9 with the IMU as y1 and the GPS as y2. Remember, in the short term - sample to sample - IMU integration should be more accurate. </p>

<p>Now you can of course filter individual measurements before, or output after, or both, but try it first with just the raw measurements. </p>

<p>If you're really into pain and desperately want to use the Kalman filter because it's what all the other academics are doing, <a href="https://www.mit.bme.hu/system/files/oktatas/targyak/7206/A_comparison_of_complementary_and_kalman_filtering.pdf" rel="nofollow">this paper</a> (PDF) may be of help as it provides a discrete implementation of a fusing Kalman filter. I wouldn't do it, though. If you're doing something tangible it's engineering, and as engineers we want quality, reliable results, whatever the means! The complimentary filter is literally the one line I wrote, it's super easy to debug, minimal processor requirement, it's intuitive, <strong>it works</strong>, and did I mention easy to debug? </p>

<p>Try looking around online for "complimentary vs Kalman filter"; I'm not the only advocate. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8066" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8066">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8066">Load Comments</button></br>
			<div id = "commentsection-8066" class = 'collapse'>
			<div id = "comment-12861" class = "comment">
				<p>In re-reading your question, regarding units, I would get the starting latitude and longitude and update it with IMU integration, trying to work in those units, though ultimately I don't think it should technically matter. Once you get the sensor fusion working, try it both ways and see which works the best for you.</p>
			</div>
			</div>
				<textarea id = "speech-8066" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8066">
					<img id="start_img-8066" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8066">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>