<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sonar for obstacle avoidance: how many sensors and where to place them?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-839" class = "post">
			<h2>Question</h2>
			<div id="vote-839" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 903</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sonar for obstacle avoidance: how many sensors and where to place them?</h2>
<p>For avoiding obstacles during 2D robot navigation what is the best position/angle to place the sonar sensors? How many should there be?</p>

<p>I would like to know if there is some theory or examples for the problem of placing. I realize that it depends on the way that the robot moves and its geometry, but I am searching for general answers.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-839" data-toggle = "popover">
				<p>user name : Anton</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-839">{'mobile-robot': 9, 'None': 0, 'navigation': 9, 'sensors': 9, 'acoustic-rangefinder': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-839">Load Comments</button></br>
			<div id = "commentsection-839" class = 'collapse'>
			<div id = "comment-2117" class = "comment">
				<p>Why don't you just use a servo. Some sonar sensors are so expensive that if you need a wide angle, a servo would be easier, cheaper, and use less pins. There is a disadvantage: you can't go as fast because it wouldn't be able to sense fast enough unless you get a high quality sensor. Also, servos take lots of power, so beware. I know you already have an answer, I just wanted to point this out for the community.</p>
			</div>
			</div>
				<textarea id = "speech-839" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-839">
					<img id="start_img-839" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-839">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-842"  class = "post">
				<h2>Answer</h2>
			<div id="vote-842" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally the main factor in positioning sensors is the actual <a href="http://www.maxbotix.com/articles/008.htm">beam width</a> of the sensors themselves. It's usually the case that the longer range the sensor is, the narrower the beam width.</p>

<p>So firstly you need to work out the range you are aiming to sense at and pick some sensors that work at that range.</p>

<p>Then you've got to decide on how wide an angle span you want to sense distance at. For instance, you may decide to cover everything in-front and to the sides of a robot (a 180 degree range, 90 degrees to either side of straight-ahead).</p>

<p>You then divide the angle span by the beam width of your chosen sensor to get the number of sensors you need.</p>

<p>Using the above example, if you have sensors with a 90 degree beam width, you'd only need two of them, each at 45 degrees either side of straight-ahead. If you had longer-range sensors with, say, a 20 degree beam width, you'd need 9 of them to cover the same area.</p>

<p>Obviously the beam width is not an exact measurement so its probably safer to have some overlap of the beams. Finally, the sensors should be installed symmetrically between the left and right sides of the robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-842" data-toggle = "popover">
				<p>user name : thisismyrobot</p>
				<p> user reputation : 331</p>
				<p class = "tagcontent" id = "usertaginfo-842">{'None': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-842" class = 'collapse'>
			</div>
				<textarea id = "speech-842" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-842">
					<img id="start_img-842" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-842">Comment</button>
			<br><div id = "ans-843"  class = "post">
				<h2>Answer</h2>
			<div id="vote-843" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To expand on <a href="https://robotics.stackexchange.com/a/842/37">thisismyrobot's answer</a>, beam width is indeed important.  However, there are a number of other factors, such as the reflectivity of the environment (acoustic "brightness"), transmission frequency, etc.</p>

<p>Although it is from 1988, <a href="http://www-personal.umich.edu/~ykoren/uploads/Obstacle_avoidance_w_ultrasonic_sensors_IEEE.pdf" rel="nofollow noreferrer">Obstacle Avoidance with Ultrasonic Sensors</a> covers the challenges well - the physics of echo-ranging appear to have changed little over the years :) </p>

<p>The <a href="http://www.generationrobots.com/ultrasonic-sonar-sensors-for-robots,us,8,19.cfm" rel="nofollow noreferrer">Ultrasonic sonar sensors</a> article on <a href="http://www.generationrobots.com/boutique/index.cfm" rel="nofollow noreferrer">Generation Robots</a> introduces some of the more interesting issues in ultrasonic ranging: beam shapes and lobes (see the 50kHz figure).</p>

<p>From there, you should visit these more detailed articles on beam characteristics and sensor selection:</p>

<ul>
<li><a href="http://www.sensorsmag.com/sensors/acoustic-ultrasound/choosing-ultrasonic-sensor-proximity-or-distance-measurement-838" rel="nofollow noreferrer">Choosing an Ultrasonic Sensor for Proximity or             Distance Measurement Part 2: Optimizing Sensor Selection</a></li>
<li><a href="http://www.ndt-ed.org/EducationResources/CommunityCollege/Ultrasonics/EquipmentTrans/beamspread.htm" rel="nofollow noreferrer">Transducer Beam Spread</a></li>
<li><a href="http://airmartechnology.com/uploads/AirPDF/Intro_Overview.pdf" rel="nofollow noreferrer">Overview for Applying Ultrasonic Technology</a></li>
<li><a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;sqi=2&amp;ved=0CDIQFjAA&amp;url=http://www.olympus-ims.com/.downloads/download/?file=285213495=en_US/&amp;ei=Y6IEUZntGMWl2AX3loCgCQ&amp;usg=AFQjCNE6CyPgNs60UjeUishZz5c8AbL0mA&amp;sig2=APv39o2XxBbL181TI08rqw&amp;bvm=bv.41524429,d.b2I" rel="nofollow noreferrer">Important Characteristics of Sound Fields of Ultrasonic Transducers</a> [pdf]</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-843" data-toggle = "popover">
				<p>user name : Throwback1986</p>
				<p> user reputation : 281</p>
				<p class = "tagcontent" id = "usertaginfo-843">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-843" class = 'collapse'>
			</div>
				<textarea id = "speech-843" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-843">
					<img id="start_img-843" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-843">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>