<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sourcing motors by physical dimensions
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8288" class = "post">
			<h2>Question</h2>
			<div id="vote-8288" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 31</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sourcing motors by physical dimensions</h2>
<p>I have a 1inch square tube that I would like to place a motor into. <img src="https://i.stack.imgur.com/JvPPH.jpg" alt="small gear motor inside steel square tube"></p>

<p>The motor I have takes up approximately 1/2 of the available space (roughly 3/4 inch I.D.) I would like to find the largest motor that will fit in the space without having to cobble too much of a housing. </p>

<p>Where/how can i find motors by physical dimensions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8288" data-toggle = "popover">
				<p>user name : Patrick Pease</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-8288">{'None': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8288">Load Comments</button></br>
			<div id = "commentsection-8288" class = 'collapse'>
			<div id = "comment-13269" class = "comment">
				<p>What exactly are you trying to do? Typically form follows function - you specify a torque requirement and the physical size is a result. There's no chance a motor that will fit into that hole is going to move something on the same scale as the tube steel.</p>
			</div>
			<div id = "comment-13270" class = "comment">
				<p>I'm trying to fit the largest motor i can in that tube. Design decisions have been made. Thank you.</p>
			</div>
			<div id = "comment-13271" class = "comment">
				<p>Motor sizing and selection is part of the design decision process! As suggested by Chuck, just start searching for motors at different suppliers' websites ([Robotshop](http://www.robotshop.com) is another good one). The actual overall size of the motor is not necessarily going to reflect the performance, so you need to specify your requirements better. Do you just want any motor at all no matter how weak but want it big enough that you need less "stuff" to mount it inside the tube?</p>
			</div>
			<div id = "comment-13286" class = "comment">
				<p>The primary concern is fitting the motor inside the tube. Torque is of secondary importance, and speed is of fairly low importance.</p>
			</div>
			</div>
				<textarea id = "speech-8288" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8288">
					<img id="start_img-8288" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8288">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8291"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8291" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.digikey.com/product-search/en/motors-solenoids-driver-boards-modules/motors-ac-dc/983125" rel="nofollow">Digikey</a> has the ability to sort by physical size (body diameter). I would have thought other sites would offer this as well, but Mouser and Tower Hobbies don't appear to. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8291" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8291">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8291" class = 'collapse'>
			</div>
				<textarea id = "speech-8291" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8291">
					<img id="start_img-8291" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8291">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>