<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Source to learn Kalman Fusion, explanatory code snippets
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1047" class = "post">
			<h2>Question</h2>
			<div id="vote-1047" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 928</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Source to learn Kalman Fusion, explanatory code snippets</h2>
<p>Currently I am reading a book of Mr. Thrun: <a href="http://www.probabilistic-robotics.org/" rel="nofollow">Probabilistic Robotics</a>. I find it really helpfull to understand concept of filters, however I would like to see some code in eg. Matlab. Is the book "Kalman Filter for Beginners: with MATLAB Examples" worth buying, or would you suggest some other source to learn the code snippets from?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1047" data-toggle = "popover">
				<p>user name : josh131</p>
				<p> user reputation : 97</p>
				<p class = "tagcontent" id = "usertaginfo-1047">{'None': 0, 'sensor-fusion': 14, 'algorithm': 10, 'artificial-intelligence': 3, 'books': 4, 'kalman-filter': 14, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1047" class = 'collapse'>
			</div>
				<textarea id = "speech-1047" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1047">
					<img id="start_img-1047" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1047">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1048"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1048" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Kalman Filter is based on some assumptions - a linear process with independent normally distributed noise. Noise over time is independent. Each measurement is also independent.</p>

<p>The Wikipedia article (<a href="http://en.wikipedia.org/wiki/Kalman_filter" rel="nofollow">http://en.wikipedia.org/wiki/Kalman_filter</a>) is quite complete in information on this. This article should be enough to allow you to implement the Kalman Filter. Other sources also exist on the internet. Most people here will not be able to give an opinion on the book you mentioned - since we have not read it, and I will never read it because I do not need to.</p>

<p>The Wikipedia article contains, in particular, <a href="http://en.wikipedia.org/wiki/Kalman_filter#Details" rel="nofollow">detailed equations</a> showing each step that a Kalman filter takes. In particular the equations given implement a filter allowing the covariance (noise in measurements) to differ on different timesteps, and keeps an updated estimate of the covariance (accuracy) of the estimated states.</p>

<p>There is also an <a href="http://en.wikipedia.org/wiki/Kalman_filter#Example_application.2C_technical" rel="nofollow">example</a> which helps walk through the equations.</p>

<p>An alternative way of implementing the Kalman filter is simply as a fixed state-space linear time-invariant filter. The relevant equation is $x(k)=x(k-1)+Ky(k)$. This is a simplification of the full set of equations, because $K$ - the Kalman gain, is fixed if the covariances are fixed. The gain can also be obtained from the solution to the <a href="http://en.wikipedia.org/wiki/Algebraic_Riccati_equation" rel="nofollow">Discrete-time Algebraic Ricatti equation</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1048" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-1048">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1048" class = 'collapse'>
			</div>
				<textarea id = "speech-1048" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1048">
					<img id="start_img-1048" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1048">Comment</button>
			<br><div id = "ans-1058"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1058" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I <em>have</em> read the book, and found it unnecessarily obtuse. Unfortunately, the code snippets will not be very helpful, since they will probably look exactly like the equations, while using a matrix library like Eigen, OpenCV, boost, or just Matlab.  To get a good understanding of a Kalman Filter, you should start with a review of multi-variate Gaussian random variables, then brush up on Taylor Series expansions, then realize we are just inventing a covariance matrix for the joint distribution of measurements and state.</p>

<p>For example, here's some code I wrote for a robotic rover which uses an EKF. </p>

<hr>

<pre><code>
void DifferentialKinematics::ekfMeasurement(Eigen::MatrixXd&X,Eigen::MatrixXd&Q,Eigen::MatrixXd&Z,Eigen::MatrixXd&R){
  Eigen::MatrixXd I=Eigen::MatrixXd::Identity(3,3);
  Eigen::MatrixXd ZP = Eigen::MatrixXd(Z);
  Eigen::MatrixXd XP = Eigen::MatrixXd(X);
  Eigen::MatrixXd z = Z-X;
  Eigen::MatrixXd S =Q+R;

  Eigen::MatrixXd K=Q*S.inverse();

  X = X + K*(z);
  Q = (I-K)*Q;
}
/**
 * Update given wheel speeds left, right.
 * Both are in/out
 */
void DifferentialKinematics::ekfPredict(float left, float right, Eigen::MatrixXd&pose, Eigen::MatrixXd&cv){
  float hth=pose(2)+getTheta(left,right)/2;
  float dd = std::fabs(getVel(left,right));
  updatePose(left,right,pose);

  //Form Jacobian
  Eigen::MatrixXd V=Eigen::MatrixXd::Zero(3,2);
  V(0,0)=(cos(hth)+(dd/width)*sin(hth))/2;
  V(0,1)=(cos(hth)-(dd/width)*sin(hth))/2;
  V(1,0)=(sin(hth)-(dd/width)*cos(hth))/2;
  V(1,1)=(sin(hth)+(dd/width)*cos(hth))/2;
  V(2,0)=(-1/width);
  V(2,1)=(1/width);

  Eigen::MatrixXd G;
  G=Eigen::MatrixXd::Identity(3,3);
  G(0,2)=-dd*sin(hth);
  G(1,2)=cos(hth)*dd;

  Eigen::MatrixXd M=Eigen::MatrixXd::Zero(2,2);
  M(0,0)=left &lt 0? -1*left*kl:left*kl;
  M(1,1)=right &lt 0? -1*right*kr:right*kr;

  Eigen::MatrixXd R=V*M*V.transpose();
  Eigen::MatrixXd r2 = G*cv*G.transpose()+R;
  cv = r2; 
  return;
}
</code>
</pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1058" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1058">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1058">Load Comments</button></br>
			<div id = "commentsection-1058" class = 'collapse'>
			<div id = "comment-2472" class = "comment">
				<p>I implemented an EKF for my final year thesis. I never had the feeling I actually understood what I was doing, as the math just seemed over my head. Now I know why, I've never learned about any of the terms you mentioned :)</p>
			</div>
			</div>
				<textarea id = "speech-1058" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1058">
					<img id="start_img-1058" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1058">Comment</button>
			<br><div id = "ans-1124"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1124" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are looking for a source to get an intuitive feeling for what the Kalman Filter is actually doing I would suggest going through lesson 2 of Udacity's Artificial Intelligence for Robotics course found here:
<a href="https://www.udacity.com/course/cs373" rel="nofollow">https://www.udacity.com/course/cs373</a>.</p>

<p>The course is free and it has video lectures and simple code examples. The explanation given is a little simplistic but it does help to build an intuition for how and why the filter works.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1124" data-toggle = "popover">
				<p>user name : ddevaz</p>
				<p> user reputation : 503</p>
				<p class = "tagcontent" id = "usertaginfo-1124">{'None': 34}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1124" class = 'collapse'>
			</div>
				<textarea id = "speech-1124" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1124">
					<img id="start_img-1124" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1124">Comment</button>
			<br><div id = "ans-1321"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1321" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Once you have a real intuition for the Kalman equations you will easily be able to translate the equations / models into code.  I highly recommend working (by hand) the examples in the Lecture <a href="http://www.cs.cornell.edu/Courses/cs4758/2012sp/materials/MI63slides.pdf" rel="nofollow">Subject MI63: Kalman Filter Tank Filling - Kalman Filter Applications</a>.</p>

<p>The examples highlight how the system model can greatly affect the output of the Kalman filter and provide concrete examples of tracking random variables.</p>

<p>More information on the derivation of the models used in the examples is given in <a href="http://www.cs.unc.edu/~welch/kalman/media/pdf/kftool_models.pdf" rel="nofollow">UNC-Chapel Hill, COMP 145 - Team 18: The Kalman Filter Learning Tool - Dynamic and Measurement Models</a>.</p>

<p>You can implement the examples in something as simple as Excel or Matlab.  However, if you plan on implementing the Kalman equations in C++, I recommend use the Eigen software package like Josh previously mentioned.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1321" data-toggle = "popover">
				<p>user name : Kevin DeMarco</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1321">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1321">Load Comments</button></br>
			<div id = "commentsection-1321" class = 'collapse'>
			<div id = "comment-2926" class = "comment">
				<p>Thanks for your answer Kevin and welcome to Robotics. Giving the names of papers as well as the URLs is useful in case the URLs die, that way people fan attempt to find the papers through google (scholar) etc. I've edited your answer to add these in for you.</p>
			</div>
			</div>
				<textarea id = "speech-1321" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1321">
					<img id="start_img-1321" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1321">Comment</button>
			<br><div id = "ans-1341"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1341" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've been collecting books on Kalman filtering and target tracking for some years now.</p>

<p>Most approachable book I've found: Gelb's <a href="http://rads.stackoverflow.com/amzn/click/0262570483" rel="nofollow">Applied Optimal Estimation</a>.  It is widely considered a classic in the field.  It is also relatively inexpensive.</p>

<p>Second place goes to Brookner's <a href="http://rads.stackoverflow.com/amzn/click/0471184071" rel="nofollow">Tracking and Kalman Filtering Made Easy</a>.  It is aimed primarily at radar processing.  He goes to a good bit of trouble to explain simpler tracking filters first, then shows that the Kalman filter is nothing magic, just a more flexible way of coming up with the coefficients for the filter.</p>

<p>Neither of them tackle the association problem for multiple target tracking.  Blackman's <a href="http://rads.stackoverflow.com/amzn/click/0890061793" rel="nofollow">Multiple Target Tracking with Radar Applications</a> is a good start.  New, it is expensive, like all Artech House books.  Amazon says there are some inexpensive used copies available.</p>

<p>Unfortunately, I have yet to find anything that even remotely resembles an approachable explanation for Reid's <a href="http://users.isr.ist.utl.pt/~alex/Resources/Reid_MHT_ieee_trans_ac_1979.pdf" rel="nofollow">Multiple Hypothesis Tracker</a>, which you need if you are trying to do multiple-target tracking.  This is a robust approach to the problem of associating sensor reports with existing tracks and/or initiating new tracks if something new pops up.  You NEED to solve the association problem to do multiple target tracking.  Unfortunately, Reid's paper is almost incomprehensible, at least to me.  (Yes, there are simpler methods, but they are not nearly as robust.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1341" data-toggle = "popover">
				<p>user name : John R. Strohm</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1341">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1341" class = 'collapse'>
			</div>
				<textarea id = "speech-1341" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1341">
					<img id="start_img-1341" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1341">Comment</button>
			<br><div id = "ans-1375"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1375" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The two links that I found most useful were <a href="http://greg.czerniak.info/guides/kalman1/" rel="nofollow" title="Kalman Filter for Undergrads1">Kalman Filter for Undergrads1</a>
and <a href="http://bilgin.esme.org/BitsBytes/KalmanFilterforDummies.aspx" rel="nofollow">Kalman Filter for Dummies</a>. They're not high on the theory though. and <a href="http://studentdavestutorials.weebly.com/kalman-filter-with-matlab-code.html" rel="nofollow">Student Dave's Kalman Filter Tutorial</a>. The last one has matlab code that you can play with and is easy to follow. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1375" data-toggle = "popover">
				<p>user name : canatan</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-1375">{'motion': 5, 'mobile-robot': 5, 'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1375" class = 'collapse'>
			</div>
				<textarea id = "speech-1375" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1375">
					<img id="start_img-1375" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1375">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>