<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Space elevator: What is still needed, apart from the cable and propulsion?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1214" class = "post">
			<h2>Question</h2>
			<div id="vote-1214" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 151</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Space elevator: What is still needed, apart from the cable and propulsion?</h2>
<p>In order to build and operate a <a href="http://en.wikipedia.org/wiki/Space_elevator">space elevator</a> moving crafts and people into space, there are two big challenges that have not been solved yet:</p>

<ul>
<li>Finding a cable with enough <a href="http://simple.wikipedia.org/wiki/Tensile_strength">tensile strength</a>,</li>
<li>Moving stuff along the cable at a reasonnable speed.</li>
</ul>

<p>Apart from those two ones, what are the other technical challenges to solve, especially things that do not exist yet in robotics, and need to be invented?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1214" data-toggle = "popover">
				<p>user name : Nicolas Raoul</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-1214">{'mobile-robot': 5, 'None': 2, 'research': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1214" class = 'collapse'>
			</div>
				<textarea id = "speech-1214" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1214">
					<img id="start_img-1214" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1214">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1215"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1215" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think there would be parts not yet existent in robotics. The elevator itself is pretty much a cabin moving on a rail. It may not be built from off-the-shelf components, but building it shouldn't be difficult.</p>

<p>There are other reasons however, some of which are mentioned in the same Wikipedia article you have linked to. So additional to "not having cables strong enough" and "the slow speed":</p>

<ul>
<li><p>Cable wear: The cable used for the elevator will be partially below the clouds (subject to <strong>warmth</strong>, <strong>dry air</strong>, <strong>rain</strong>, <strong>snow</strong>, <strong>wind</strong>, <strong>tornadoes</strong> etc), partially in and above clouds (<strong>Humid</strong>, <strong>Cold</strong>), partially in vacuum (<strong>extreme cold</strong>, <strong>no air pressure</strong>), sometimes in the sun (<strong>extremely hot</strong> outside atmosphere), sometimes in the shade (<strong>near 0 degrees</strong> outside atmosphere) etc. So any cable used for the elevator should be able to resist <em>all</em> these environments.</p>

<p>The situation is made worse by considering the <strong>friction</strong> between the "wheels" of the elevator and the track, <strong>chemical reactions</strong> with the environment, <strong>radiation</strong>, <strong>solar flares</strong> and even <strong>biological</strong> reasons (for example an eagle deciding he doesn't like the cable, or a sort of moss evolving to take advantage (aka eat) the material)</p></li>
<li>Cable repair: Sooner or later, the cable needs repair. There is no such thing as "indestructible". Now imagine, how would you repair such a long cable? Surely, you can't just cut the bad parts and patch it, because the "welded" parts would probably not be strong enough. Replacing the whole cable would be an option which is quite expensive, given the special tough material and the long length. So, at least this issue would delay building the space elevator until they are sure it's doable.</li>
<li>Safety of the elevator: One challenge is to be able to provide safety for the elevator. For example, how would you prevent asteroids from damaging it?</li>
<li>Safety of the passengers: Another challenge is to provide safety for the passengers. With a slow speed, passing through the <a href="http://en.wikipedia.org/wiki/Van_Allen_radiation_belts" rel="nofollow">Allen radiation belts</a> is not healthy. This means that there should be adequate radiation shielding on the elevator, adding weight to it and making it harder to build.</li>
<li>Safety of others: Yet another issue is providing safety for others, such as airplanes or space satellites. Most probably they would all need to become aware of the existence of this new concept, involving reprogramming a large number of air/space-crafts.</li>
</ul>

<p>In conclusion, probably the most important thing hindering the construction of the space elevator is the construction of the cable. Not only should it be strong enough to withhold the stress, but it should be practically able to withstand any kind of environment. Other reasons would be minor nuisance in comparison, but still they are and would further delay the deployment of the space elevator.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1215" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-1215">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1215">Load Comments</button></br>
			<div id = "commentsection-1215" class = 'collapse'>
			<div id = "comment-2744" class = "comment">
				<p>New technologies such as sensor and actuators are being designed everyday. In addition, major breakthroughs on cable strength and composition can be tied to the work in nanofibers and other material engineering. I cannot imagine that you honestly "don't think there would be parts not yet existent in robotics [...]"</p>
			</div>
			<div id = "comment-2746" class = "comment">
				<p>@KurtE.Clothier: Could you please make your comment an answer, so that it can be upvoted independently? Please also add details if possible. Thanks for your insight!</p>
			</div>
			<div id = "comment-2748" class = "comment">
				<p>@NicolasRaoul - The comment can be up voted, but I'll get some information and come back. I have to look through some of my papers to make sure I'm telling the truth...</p>
			</div>
			<div id = "comment-2749" class = "comment">
				<p>@KurtE.Clothier, that could be argued. Regarding the cabin, sure, new sensors and actuators are designed everyday, but I believe the ones already made are probably good enough. Also like I said, perhaps you may need to tweak them for this specific purpose, but that doesn't seem like the real challenge to me. They just need to sit down and do it. Regarding the cable, as you said also, it belongs to Material Engineering more than Robotics.</p>
			</div>
			<div id = "comment-2750" class = "comment">
				<p>@Shahbaz, the concept of a space elevator is simply a means of transporting objects into space, typically thought of as tethered as opposed to a rocket propelled vehicle or teleportation. The entire project isn't any more "robotic" than the elevator in a hotel is. The actual means by which a cabin is transported could change dramatically with the introduction of new technology, "good enough" is a dangerous concept in engineering. If this could easily be done with current technology, then it would have been done. Rich people are commissioning things be built for personal use all of the time.</p>
			</div>
			<div id = "comment-2751" class = "comment">
				<p>@KurtE.Clothier, perhaps you are right. But I think right now the major problem is the cable. So neither you nor me wouldn't know if the current technology is "good enough" for the cabin, since we don't have the cable for it anyway.</p>
			</div>
			<div id = "comment-2762" class = "comment">
				<p>@Shahbaz, agreed.</p>
			</div>
			</div>
				<textarea id = "speech-1215" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1215">
					<img id="start_img-1215" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1215">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>