<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Spinning disk Weapon
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4707" class = "post">
			<h2>Question</h2>
			<div id="vote-4707" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 96</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Spinning disk Weapon</h2>
<p>I am building a Hobby-weight robot and my weapon of choice is a spinning disk at the front.</p>

<p>As regards the disk I was thinking of buying commercial (grinder-type) disks and change type of disk depending on the "enemy's" chassis construction material. So for instance I would have an aluminum cutting disk if the enemy's chassis is made of aluminum and so on.</p>

<p>First question is therefore; do such disks do the job in practise (or break, fail to cut?)</p>

<p>Secondly, should I use a brushed or brush-less motor for the disk? I actually have ESCs for both but sort of feel a brushed motor will give me more torque while a brush-less motor might give me more speed. So which is more important speed or torque? </p>

<p>I do know - from my uncle who uses metal lathes - that machines that cut metal usually spin at a slower speed (drills, cutting wheels etc)- indeed he likes to say that metal working machines are safer than wood-working ones partially for this reason. </p>

<p>But I am a newbie and really would like to have an effective weapon if possible and breaking or not-cutting disks do not make such a weapon!</p>

<p>Also is it normal practise to use one battery for everything (drive and weapon) or have two separate batteries?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4707" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4707">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4707">Load Comments</button></br>
			<div id = "commentsection-4707" class = 'collapse'>
			<div id = "comment-7412" class = "comment">
				<p>This is as much a question about machining as it is about robotics.  Steel can be cut with abrasive saws (like angle grinders), but aluminum not so much -- it melts and sticks to the abrasive surface, which makes the cutting less effective.  Many times, you can cut aluminum successfully using a saw blade designed for wood.</p>
			</div>
			<div id = "comment-7419" class = "comment">
				<p>The commercial disk I bought is intended to cut aluminium, but the best thing I can do is trial it on a bit of scrap aluminium I have handy; I also have wood type ones which look much more menacing due to the larger teeth but may be less effective. I will run some speed experiments this weekend with different motors and will also try to cut through aluminium. If push comes to shove I will have a disk made out of cast iron or mild steel for me but I still have the problem of the motor. Maybe I should just buy an in-runner brushless for a r/c car or heli and use that..</p>
			</div>
			<div id = "comment-9213" class = "comment">
				<p>I abandoned the disk and went for a drum with spikes. The "drum" is a printer rod (made of bright mild steel (BMS)and is 1.5 cm in diameter). Along the length I drilled out and threaded 9 x 5 mm holes and inserted spikes (cut from a 5 mm diameter BMS threaded rod). Locknuts on both ends completed the job. The drum fits into ball-bearings set in alum blocks. The motor is an standard brushless one and  is connected to the drum/rod using 2 pulleys and an O ring for slippage / avoid high stall currents. It is also assigned to a variable channel on the r/c so that I can freely adjust the speed.</p>
			</div>
			</div>
				<textarea id = "speech-4707" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4707">
					<img id="start_img-4707" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4707">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4708"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4708" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well grinding machines in general use really high cutting speeds, so a very high revolution speed.
At a metal lathe it is pretty easy to get the force of your tool onto the workpiece. In a robo-fight it's actually not that easy, so i suggest very high speed.
More like an angle grinder</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4708" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4708">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4708">Load Comments</button></br>
			<div id = "commentsection-4708" class = 'collapse'>
			<div id = "comment-7418" class = "comment">
				<p>Ah yes that makes sense. So speed is the thing then.</p>
			</div>
			</div>
				<textarea id = "speech-4708" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4708">
					<img id="start_img-4708" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4708">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>