<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Spring with electronically adjustable stiffness
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7494" class = "post">
			<h2>Question</h2>
			<div id="vote-7494" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 234</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Spring with electronically adjustable stiffness</h2>
<p>I would like to build a mechanical module that acts like a spring with electronically controllable stiffness (spring rate).</p>

<p>For instance, let's imagine a solid, metallic cube, 0.5 m each side. On the top side of the cube, there is a chair sitting on top of a solid mechanical spring. When you sit on the chair, it would go down proportionally to your weight, and inversely proportional to the spring's rate. </p>

<p>What I want is that this spring's rate be electronically adjustable in real time, for instance a microcontroller system might increase the spring's rate when it detects a larger weight.</p>

<p>I'm using this example to best describe what I want to achieve because I'm not a robotics specialist and I don't know the inside terms.</p>

<p>Is there already an electro-mechanic module as the one I'm describing? (obviously nevermind the cube and the chair, it's the spring I'm interested in).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7494" data-toggle = "popover">
				<p>user name : Bogdan Alexandru</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-7494">{'actuator': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7494">Load Comments</button></br>
			<div id = "commentsection-7494" class = 'collapse'>
			<div id = "comment-10739" class = "comment">
				<p>[Electronic suspension kits](https://www.google.com/search?hl=en&site=imghp&tbm=isch&source=hp&biw=1130&bih=608&q=electronic+suspension+kit&oq=electronic+suspension+kit&gs_l=img.12..0.1179.1179.0.2685.1.1.0.0.0.0.103.103.0j1.1.0....0...1ac..64.img..0.1.103.USTq1R8o7Rg) are available -- they change damper characteristics rather than spring characteristics, in real time.</p>
			</div>
			</div>
				<textarea id = "speech-7494" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7494">
					<img id="start_img-7494" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7494">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7496"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7496" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Like jwpat said, I think the only package you'll find for what you're looking for is active suspension, but good luck getting official support from the manufacturer unless you have some automotive OEM sponsorship. </p>

<p>Note that jwpat linked to <em>adaptive</em> suspension parts, which vary damping as mentioned, not <em>active</em> suspension, which uses an actuator to do things more similar to what you are looking for. </p>

<p>For guidelines on building your own, I would look at available literature on <a href="http://machinedesign.com/springs/exclusive-interview-gill-pratt-how-compliant-actuators-revolutionized-robotics" rel="nofollow">series elastic actuators</a>, which are essentially linear actuators that drive springs. </p>

<p>Essentially, you use the (linear fixed) spring constant and a desired force to estimate what the spring compression should be (this would be your input), then you use position feedback on the spring to get actual spring compression. Use PID control or whatever else you like to drive the spring compression to yield the desired force. </p>

<p>Note that you get to pick the force, so if you want the spring to be nonlinear or of varying constants you can just choose what you want. </p>

<p>All of this assumes what you have asked for is the best solution to your problem. What effect are you going for that you need variable spring constants? Are you looking for a constant force output or some kind of constant displacement? Are you looking for a nonlinear spring or user-selectable springs? More information on your problem will let us give you better help. </p>

<p>Hydraulics can also give you what you're looking for, but, even though you asked for electro-mechanical, hydraulics are usually out of the scope of most people's projects. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7496" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7496">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7496" class = 'collapse'>
			</div>
				<textarea id = "speech-7496" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7496">
					<img id="start_img-7496" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7496">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>