<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Stabilizing a quadcopter with optical flow
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1844" class = "post">
			<h2>Question</h2>
			<div id="vote-1844" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 8174</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Stabilizing a quadcopter with optical flow</h2>
<p>My quad copter can balance itself in the air using data collected from mpu6050. With the sonar sensor, it can hover at a specific height, but it  moves on the horizontal plane in a random direction.  If i put an object below it, it will ascend to keep the distance between the sonar senor and the object.</p>

<p>Now i want to make it have the ability to hover stably. Is it possible to add a downward-facing camera to calculate the speed of optical flow in order to keep it hovering on the same point in the horizontal plane?  Could I use a forward-facing camera to stabilize its vertical speed?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1844" data-toggle = "popover">
				<p>user name : refent</p>
				<p> user reputation : 28</p>
				<p class = "tagcontent" id = "usertaginfo-1844">{'quadcopter': 5, 'None': 0, 'cameras': 5, 'sensors': 5, 'visual-servoing': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1844">Load Comments</button></br>
			<div id = "commentsection-1844" class = 'collapse'>
			<div id = "comment-3779" class = "comment">
				<p>It sounds like you want to use cameras to (1) keep the quadcopter in one place on the X-Y plane, and (2) stabilize the vertical speed.  What does it mean to stabilize the vertical speed?  Are you trying to avoid the case where the quadcopter ascends in response to an object underneath it, or just smooth that motion?</p>
			</div>
			<div id = "comment-3783" class = "comment">
				<p>If i use two cameras and remove the sonar sensor. Can it work as i think--hover in the air. Or are there any methods to achieve my goal.</p>
			</div>
			</div>
				<textarea id = "speech-1844" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1844">
					<img id="start_img-1844" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1844">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1846"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1846" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you want to control the position of your quadcopter, and although it's possible to do with a camera I don't think optical flow is the right way to approach the problem.</p>

<p>Rather than measure the motion of the quadcopter, you should measure the position.  For that, you'll want to use the camera to identify features in its field of vision, then attempt to keep them in the same place relative to the vehicle.  This is called <a href="http://en.wikipedia.org/wiki/Visual_Servoing" rel="nofollow">Visual Servoing</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1846" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1846">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1846" class = 'collapse'>
			</div>
				<textarea id = "speech-1846" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1846">
					<img id="start_img-1846" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1846">Comment</button>
			<br><div id = "ans-1847"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1847" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can definitely use Visual Servoing for pose maintenance in the X-Y plane. You need to have sufficient distinct features on the ground to get a good estimate of drift/spin etc. For example, on an uniform and large ground/field, lack of features might become a problem. But things will be more in your control and you can add visual cues into the scene to assist the image processing.</p>

<p>The forward facing camera is quite different. If your quadcopter flies high enough and is staring right into the horizon, precise pose maintenance will be very difficult (roll/pitch stabilisation might become easy in that case). But stabilising the vertical speed based on solely its front facing camera may not be a very good idea. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1847" data-toggle = "popover">
				<p>user name : metsburg</p>
				<p> user reputation : 269</p>
				<p class = "tagcontent" id = "usertaginfo-1847">{'quadcopter': 15, 'None': 8, 'ardupilot': 6, 'accelerometer': 1, 'arduino': 13, 'ekf': 0, 'pid': 12, 'stability': 10, 'slam': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1847" class = 'collapse'>
			</div>
				<textarea id = "speech-1847" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1847">
					<img id="start_img-1847" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1847">Comment</button>
			<br><div id = "ans-1849"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1849" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The following diagram (<a href="http://www.thedambusters.org.uk/height.html" rel="nofollow noreferrer">1</a>) illustrates a method by which a Lancaster navigator determined airplane height above the water of a lake. Such a method is useful if the ground lacks features needed for other forms of Visual Servoing.  A program I saw about mission <a href="https://en.wikipedia.org/wiki/Operation_Chastise" rel="nofollow noreferrer">Chastise</a> showed one spotlight shining green and the other red, to avoid confusion about which way to go to get to correct altitude.  Note, the bomb aiming <a href="http://www.thedambusters.org.uk/sight.html" rel="nofollow noreferrer">rangefinder</a> used similar geometric principles.</p>

<p><img src="https://i.stack.imgur.com/gz4i3.jpg" alt="2-spotlight height-method"></p>

<p>With a quadcopter, you could use red and green lasers, eg from a red laser pointer and a green laser pointer.  You could also add servos to rotate one or both of the lasers to adjust the altitude setpoint.  A camera or a line sensor would detect the relative positions where the lights hit the ground.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1849" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-1849">{'None': 134}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1849">Load Comments</button></br>
			<div id = "commentsection-1849" class = 'collapse'>
			<div id = "comment-3791" class = "comment">
				<p>This is a good idea. Nice trick, loved it!</p>
			</div>
			<div id = "comment-4485" class = "comment">
				<p>cool... but how does that answer the question about stabilising the quad in the x-y plane?</p>
			</div>
			<div id = "comment-4486" class = "comment">
				<p>@dm76, my answer was about holding a given altitude, and I didn't have more to say about Visual Servoing than was in the other answers.  (This method, like sonar and VS, could be fooled by an object added below the quadcopter.) Note, [range finder sights](http://www.thedambusters.org.uk/sight.html) as mentioned in answer might be usable to hold XY position via a camera looking at distant landmarks.</p>
			</div>
			<div id = "comment-4503" class = "comment">
				<p>@jwpat7, "my answer was about holding a given altitude". Indeed, hence my comment since the question was *not* about holding altitude...</p>
			</div>
			</div>
				<textarea id = "speech-1849" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1849">
					<img id="start_img-1849" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1849">Comment</button>
			<br><div id = "ans-2312"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2312" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Using a so-called optical flow sensor is the best way to help with holding the horizontal (i.e. in X-Y plane) position. I don't see any reason why you couldn't do the same for vertical control, although a sonar is probably easier and cheaper to use for this (likewise, if you are indoors, you could use 2 sonars for the horizontal position as well)</p>

<p>People used to hack the sensors of optical mice to achieve this:</p>

<p><a href="http://makezine.com/2007/12/15/using-an-optical-mouse-for-rob/" rel="nofollow noreferrer">http://makezine.com/2007/12/15/using-an-optical-mouse-for-rob/</a>
<a href="http://areciv.com/index.php?aid=18" rel="nofollow noreferrer">http://areciv.com/index.php?aid=18</a>
<a href="http://home.roadrunner.com/~maccody/robotics/croms-1/croms-1.html" rel="nofollow noreferrer">http://home.roadrunner.com/~maccody/robotics/croms-1/croms-1.html</a>
<a href="http://home.roadrunner.com/~maccody/robotics/mouse_hack/mouse_hack.html" rel="nofollow noreferrer">http://home.roadrunner.com/~maccody/robotics/mouse_hack/mouse_hack.html</a></p>

<p>Some ready-made sensors are available: <a href="http://www.buildyourowndrone.co.uk/Optical-Flow-Sensor-p/op-fs.htm" rel="nofollow noreferrer">http://www.buildyourowndrone.co.uk/Optical-Flow-Sensor-p/op-fs.htm</a></p>

<p>Some explanation on how to use such device with an Arduino can be found here:<a href="https://code.google.com/p/arducopter/wiki/AC2_OptFlow" rel="nofollow noreferrer">https://code.google.com/p/arducopter/wiki/AC2_OptFlow</a></p>

<p>Nowadays, better sensors are out there (but much more expensive) that works in low-light conditions (i.e. indoors) and are even combined with a sonar (as it makes senses to hold altitude in order to get a better/stable optical reading for XY positioning), such as this one:</p>

<p><img src="https://i.stack.imgur.com/S1APo.jpg" alt="px4flow">
<a href="http://store.3drobotics.com/products/px4flow" rel="nofollow noreferrer">http://store.3drobotics.com/products/px4flow</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2312" data-toggle = "popover">
				<p>user name : dm76</p>
				<p> user reputation : 245</p>
				<p class = "tagcontent" id = "usertaginfo-2312">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2312" class = 'collapse'>
			</div>
				<textarea id = "speech-2312" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2312">
					<img id="start_img-2312" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2312">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>