<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Stallable motor - 100% duty cycle higher torque motor that can be stalled without burning up
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6516" class = "post">
			<h2>Question</h2>
			<div id="vote-6516" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 226</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Stallable motor - 100% duty cycle higher torque motor that can be stalled without burning up</h2>
<p>I have a project where I need a motor that can turn some number of rotations which will spool up a cable attached to a spring-closed device to open it up. When power is disconnected, the spring closure will cause the spool to unwind and the device to close.</p>

<p>In the closed position, no power is available. (i.e. The closure mechanism needs to be 100% passive.)</p>

<p>In order to keep this open for some time, I will need a motor that is capable of being stalled for long periods without having the windings burn up. I know some motors can do this, such as the motors they use on spring closed HVAC dampers, but I don't know how to find them or if there's a particular name I should be using to find them. I know I could probably do this with a stepper motor, but that seems overkill for the application.</p>

<p>The only requirements are higher torque to open this mechanism, no gearing that prevents the motor from spinning when power is disconnected, and the ability to be stalled.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6516" data-toggle = "popover">
				<p>user name : David Pfeffer</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-6516">{'None': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6516">Load Comments</button></br>
			<div id = "commentsection-6516" class = 'collapse'>
			<div id = "comment-9691" class = "comment">
				<p>Why not use something like a gear stopper while "stalled"?</p>
			</div>
			</div>
				<textarea id = "speech-6516" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6516">
					<img id="start_img-6516" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6516">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6550"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6550" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The current required to open the device is greater than the current required to keep the device from closing.</p>

<p>A motor is a piece of wire conducting commutated DC. While it is stalled, it is just DC. 
A reduction gear can increase the torque applied (further reducing the force and current required to open and hold open) without interfering with the automatic close function, because a standard DC motor should provide little, or no, "Detent Torque" like a stepper.</p>

<p>Try this:<br>
-Calculate Iholding using Ohm's law to limit the power dissipated by the stalled motor.<br>
-I("RMS")lifting will be less since the DC is being commutated.<br>
-The power limit is arbitrary; the wires will un-solder at >300F.<br>
-The power limit should allow the motor enough current to open the device.<br>
-If it doesn't, add a reduction gear.</p>

<p>An example using a <a href="https://www.sparkfun.com/products/11696" rel="nofollow">motor's</a> <a href="http://dlnmh9ip6v2uc.cloudfront.net/datasheets/Robotics/M260.pdf" rel="nofollow">datasheet</a>:<br>
1.0V &lt; Vin &lt; 3.0V (This motor can supposedly tolerate 12V, no problem)<br>
"locked-rotor current" = stall current</p>

<p>Working backwards with V = 3.0V and I = 0.8A, using Ohm's law:</p>

<pre><code>E = I * R  
R = E / I  
R = 3.0V / 0.8A = approximately 3.75ohms
</code></pre>

<p>With Vin = 3.0V, using Ohm's law:  </p>

<pre><code>E = I * R  
I = E / R  
I = 3.0V / 3.75ohm = 0.8A
P = I * E  
P = 0.8A * 3.0V = 2.4W
</code></pre>

<p>Same motor with Vin = 1.0V, using Ohm's law: (it will turn slower)  </p>

<pre><code>E = I * R  
I = E / R  
I = 1.0V / 3.75ohm = 0.26A
P = I * E  
P = 0.26A * 1.0V = 0.26W
</code></pre>

<p>Same motor with Vin = 3.0V and 5ohm series resistor, using Ohm's law:</p>

<pre><code>E = I * R  
I = E / R  
I = 3.0V / (3.75ohm + 5ohm) = 0.34A
EdropAcrossR = 0.34A * 5ohm = 1.7V
EdropAcrossMotor = 0.34A * 3.75ohm = 1.28V  &lt;= above no-load start voltage
P = I * E  
Pr = 0.34A * 1.7V = 0.58W  
Pmotor = 0.34A * 1.28V = 0.44W  

Double-check:
Ptotal = 0.58W + 0.44W = 1.02W  
Ptotal = Itotal * Etotal  
Etotal = Ptotal / Itotal  
Etotal = 1.02W / 0.34A = 3.0V
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6550" data-toggle = "popover">
				<p>user name : Jon</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-6550">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6550">Load Comments</button></br>
			<div id = "commentsection-6550" class = 'collapse'>
			<div id = "comment-9410" class = "comment">
				<p>This doesn't answer the question. Even with less load, the motor still needs to be designed to stall or the windings will burn up.</p>
			</div>
			<div id = "comment-9415" class = "comment">
				<p>moved comments to answer, added detail</p>
			</div>
			<div id = "comment-9418" class = "comment">
				<p>Most motors don't have a stated stall torque or current. Also, the formulas in this answer assume that the motor is an Ohmic load. Motors are inductive loads (except when stalled), not resistive.</p>
			</div>
			<div id = "comment-9419" class = "comment">
				<p>All of the calculations above are with the motor stalled</p>
			</div>
			</div>
				<textarea id = "speech-6550" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6550">
					<img id="start_img-6550" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6550">Comment</button>
			<br><div id = "ans-6760"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6760" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One simple alternative is to attach the spring in such a way that it doesn't pull the device closed when it is all the way open (see diagram below). In this fashion there is no torque acting on the device, so the motor will not need to be running at this point.</p>

<p>Note that this will require a small torque back in the original direction in order to close.</p>

<p><img src="https://i.stack.imgur.com/l23aV.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6760" data-toggle = "popover">
				<p>user name : Alecg_O</p>
				<p> user reputation : 142</p>
				<p class = "tagcontent" id = "usertaginfo-6760">{'None': 3, 'theory': -2, 'beginner': -2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6760" class = 'collapse'>
			</div>
				<textarea id = "speech-6760" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6760">
					<img id="start_img-6760" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6760">Comment</button>
			<br><div id = "ans-6761"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6761" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One possible option would be a linear solenoid. I would get a push type (Push solenoid's will push a rod out when energized and the builtin spring will auto retract it when the power is removed.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6761" data-toggle = "popover">
				<p>user name : birdman3131</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6761">{'None': 0, 'laser': 0, '3d-printing': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6761" class = 'collapse'>
			</div>
				<textarea id = "speech-6761" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6761">
					<img id="start_img-6761" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6761">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>