<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Standalone (or capable of being) Robotics Simulator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-697" class = "post">
			<h2>Question</h2>
			<div id="vote-697" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 695</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Standalone (or capable of being) Robotics Simulator</h2>
<p>I'm a software engineer who volunteers with a non-profit that introduces young girls to technology. We have recently been talking about methods of introducing these children to the world of robotics, and I am curious what types of low-cost options we have.</p>

<p>One very appealing idea would be to have an online simulator, or (more preferable) an off-line standalone-simulator that we can build and program simple robots with. Perhaps nothing more than dragging components together, and then programming the interactions between those components.</p>

<p>What solution(s) exist that I might be able to make use of in our outreach?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-697" data-toggle = "popover">
				<p>user name : Sampson</p>
				<p> user reputation : 336</p>
				<p class = "tagcontent" id = "usertaginfo-697">{'None': 0, 'simulator': 11, 'programming-languages': 36, 'children': 11, 'software': 47}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-697">Load Comments</button></br>
			<div id = "commentsection-697" class = 'collapse'>
			<div id = "comment-885" class = "comment">
				<p>In my experience, a non-working average-looking robot gets way more attention (as a robot) than a full-blown cool-looking robot in a simulator. As long as it's not real, it may have as well all been a computer game or a cartoon for all kids care.</p>
			</div>
			<div id = "comment-886" class = "comment">
				<p>We need a simulator so the girls can actually learn programming concepts, and put them in use. The simulator doesn't need to be pretty - it could be nothing more than crude geometric shapes. The code is what matters.</p>
			</div>
			</div>
				<textarea id = "speech-697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-697">
					<img id="start_img-697" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-697">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-698"  class = "post">
				<h2>Answer</h2>
			<div id="vote-698" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Stage and Gazebo are open source 2D and 3D simulators respectively. They are created and maintained by the <a href="http://playerstage.sourceforge.net/">Player project</a>. They are very easy to use and have a lot of pre-built maps and robots. Depending on the experience of your audience you may need to do a bit of the heavy lifting (i.e. building configuration files and the main classes).</p>

<p>They have a couple of additional benefits as well. First, so long as you create your main control code as player plug-ins then they can be easily adapted to real robots. Second, there are a large number of plug-ins already built to work with real hardware. Third, they work with <a href="http://ros.org">ROS</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-698" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-698">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-698" class = 'collapse'>
			</div>
				<textarea id = "speech-698" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-698">
					<img id="start_img-698" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-698">Comment</button>
			<br><div id = "ans-699"  class = "post">
				<h2>Answer</h2>
			<div id="vote-699" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://www.microsoft.com/robotics/" rel="nofollow">Microsoft robotics</a> is FREE and includes a <a href="https://www.microsoft.com/robotics/#GetStartedStep3" rel="nofollow">simulator</a>. It is not exactly the easiest environment in the world, however it IS robust and appropriate to real robotics.  I think with some teacher involvement to set things up beforehand, it could be usable. There is a simulator 'package' for LEGO, Neato and some other robots, and they can be programmed in C# or a visual drag and drop language. </p>

<p>Again, I think it would need some work up front to make it easy for youngsters to use, but it wouldn't be that hard, and would be my approach given your requirements. I would say as far as complexity goes, this (windows) vs. a Linux environment with Gazebo/ROS, the windows environment would be slightly less complicated, although most of that would hopefully be hidden with preparation work.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-699" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-699">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-699" class = 'collapse'>
			</div>
				<textarea id = "speech-699" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-699">
					<img id="start_img-699" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-699">Comment</button>
			<br><div id = "ans-700"  class = "post">
				<h2>Answer</h2>
			<div id="vote-700" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.robotc.net/index.php" rel="nofollow">RobotC</a> has a <a href="http://www.robotc.net/blog/2012/11/19/new-versions-of-rvw-curriculum-and-competition-tables/" rel="nofollow">simulator</a> available, although both are products at some costs. However, they are very geared towards younger students and education. This would be the easiest, and most appropriate route if costs are not a blocking factor (<a href="http://www.robotc.net/purchase/rvw/" rel="nofollow">around \$100 per license for both for single user, \$300 for 6 users, \$600 for 30 users</a>).</p>

<p>If you buy the student version <a href="http://www.robotc.net/purchase/nxt/" rel="nofollow">ROBOTC for MINDSTORMS NXT of LEGO</a> the price can be 49\$ for each or 40$ (more than 20 licences) </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-700" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-700">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-700" class = 'collapse'>
			</div>
				<textarea id = "speech-700" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-700">
					<img id="start_img-700" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-700">Comment</button>
			<br><div id = "ans-701"  class = "post">
				<h2>Answer</h2>
			<div id="vote-701" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>May be it is a bit pricy (CHF 75) but I still suggest <a href="http://www.ceebot.com/colobot/edu-e.php" rel="nofollow">Colobot</a>. It is a nice, almost game-like environment where robots need to help humans to make a space base habitable. Robots are programmed by the kids while increasingly complex tasks are performed. The program teaches the fundamentals of programming in a goal-oriented, funny way.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-701" data-toggle = "popover">
				<p>user name : rics</p>
				<p> user reputation : 551</p>
				<p class = "tagcontent" id = "usertaginfo-701">{'kinect': 32, 'multi-agent': 3, 'None': 25, 'sensors': 32}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-701" class = 'collapse'>
			</div>
				<textarea id = "speech-701" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-701">
					<img id="start_img-701" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-701">Comment</button>
			<br><div id = "ans-822"  class = "post">
				<h2>Answer</h2>
			<div id="vote-822" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Maybe not a full robotics simulator but we are using 3D CAD, Autodesk Inventor, quite a lot for simulations. Usually we make an interface to the CAD similar to what we want it to be for the hardware. That way we can use the CAD model as a virtual prototype to:</p>

<ul>
<li>Catch design errors early. Collisions, not enough stroke etc.</li>
<li>It has also been useful for finding compensations to errors such as alignment errors. Using the CAD we can model different errors one by one and test our compensations. It is convenient to be able to introduce large errors with known sign.</li>
<li>The CAD also gives answers about things such moments of inertia.</li>
<li>We also use the CAD model to generate the program for the equipment.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-822" data-toggle = "popover">
				<p>user name : Johan Larsson</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-822">{'None': 1, 'linear-bearing': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-822">Load Comments</button></br>
			<div id = "commentsection-822" class = 'collapse'>
			<div id = "comment-2068" class = "comment">
				<p>Correct me if I'm wrong but CAD focuses very much on modelling the hardware and physics correctly, much less on programming the robot. The OP is interested in teaching programming, not engineering, so I think a CAD system doesn't address his problem</p>
			</div>
			<div id = "comment-2069" class = "comment">
				<p>@ThomasH we have had some success programming to the api of the CAD and that way been able to do a lot of development. Should I delete?</p>
			</div>
			<div id = "comment-2072" class = "comment">
				<p>No need to delete. It's not a bad answer just because I think it's not a great fit for the OP. Voting usually propels the most fitting answer to the top anyway, and the OP will accept the one that helped most. But your's might still be of interest to someone with a similar problem that comes across this question</p>
			</div>
			</div>
				<textarea id = "speech-822" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-822">
					<img id="start_img-822" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-822">Comment</button>
			<br><div id = "ans-827"  class = "post">
				<h2>Answer</h2>
			<div id="vote-827" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might want to check out "<strong><a href="http://en.wikipedia.org/wiki/MindRover" rel="nofollow">MindRover</a></strong>".  It's old and harder to find now since the original website is defunct, but can still be found on <a href="http://www.ebay.com/mindrover" rel="nofollow">Ebay</a> or <a href="http://www.amazon.com/s/url=search-alias=aps&amp;field-keywords=mindrover" rel="nofollow">Amazon</a>.  Although game/mission oriented, it involved picking from a palette of robot components, putting them on a chassis, and then wiring them together.  It was really well done for a game and could be used to explore simple to semi-advanced concepts. Some screenshots here: <a href="http://images.google.com/images?q=mindrover" rel="nofollow">http://images.google.com/images?q=mindrover</a>.</p>

<p>If you are looking for something a bit more serious with real world capabilities, you might want to check out <strong><a href="http://www.dsprobotics.com/academic.html" rel="nofollow">FlowStone for Education</a></strong>. I have not used it, but I believe it is a visual programming environment ideally suited for robotics type work.</p>

<p>Last, although not software or simulation, I recently came across a <a href="http://www.reddit.com/r/compsci/comments/16ov26/invited_to_talk_to_a_3rd_grade/c7xz4pg" rel="nofollow">comment on reddit by phblj</a> regarding a <strong>technique for introducing programming</strong>, and I thought it was really good (and especially adaptable to robotics programming). Quote:</p>

<blockquote>
  <p>Great example of computers I did with kids: One kid got to be the
  "program" and gave instructions on how to make a peanut-butter and
  jelly sandwich, but they couldn't watch my actions. I was the
  computer, and followed the instructions exactly. Hilarity resulted.
  (Not taking lid off peanut bar, not getting bread out of box I had it
  in). After a minute, another kid came up and tried. They got a little
  further, but still floundered. "Put the peanut butter on the bread"
  resulted in the jar sitting on the loaf, etc. It took several kids,
  but eventually we got it. If you've got an assistant, have them write
  the instructions as they're said, creating the "program."</p>
  
  <p>You can get into explanations, then, but the thing that really stuck
  was that the kids were each "smarter than a computer." But that
  computers were really, really fast at following instructions. So they
  needed to use their smarts and the computers speed, and...
  programming!</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-827" data-toggle = "popover">
				<p>user name : kaliatech</p>
				<p> user reputation : 472</p>
				<p class = "tagcontent" id = "usertaginfo-827">{'None': 28, 'microcontroller': 5, 'serial': 5, 'rs232': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-827" class = 'collapse'>
			</div>
				<textarea id = "speech-827" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-827">
					<img id="start_img-827" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-827">Comment</button>
			<br><div id = "ans-834"  class = "post">
				<h2>Answer</h2>
			<div id="vote-834" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.coppeliarobotics.com/" rel="nofollow">V-Rep</a> (Virtual Robot Experimentation Platform) seems to be quite broad in the kinds of simulations that it can do. It is free for educational purposes and comes with a wide range of tools. You can take a look at this <a href="http://www.youtube.com/watch?v=bwGYUayglHY" rel="nofollow">YouTube video</a> for a demo.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-834" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-834">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-834" class = 'collapse'>
			</div>
				<textarea id = "speech-834" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-834">
					<img id="start_img-834" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-834">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>