<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Starter Looking For Advice
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7542" class = "post">
			<h2>Question</h2>
			<div id="vote-7542" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Starter Looking For Advice</h2>
<p>I'm no professional. At 29 I just became seriously interested in robotics a few months ago and have been researching everything I can since. Now that I've come to understand how far robotics have truly come I have a desire to try to make my own.
Granted, I know nothing about coding or programming. I have no idea where to begin. And I know it'll probably, the first time at least, be something small rather than a huge life altering project.
Thus, if anyone could suggest to me good resources for a beginner I'd massively appreciate it.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7542" data-toggle = "popover">
				<p>user name : melodie</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7542">{'None': 0, 'beginner': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7542">Load Comments</button></br>
			<div id = "commentsection-7542" class = 'collapse'>
			<div id = "comment-10868" class = "comment">
				<p>What is your background? What is your field? Update the question with this information.</p>
			</div>
			</div>
				<textarea id = "speech-7542" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7542">
					<img id="start_img-7542" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7542">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7544"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7544" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As a starter too on this field I am still looking for tips too. Recently I found that I could look into instructable to try things and also found that the raspberry is a great ressource for starter (not all of them but a few ones are a good start in even for people learning to code)<br>
<a href="https://www.raspberrypi.org/resources/make/" rel="nofollow">https://www.raspberrypi.org/resources/make/</a> (I will love to make the robo butler in there)<br>
In instructables, this one could help for example : <a href="http://www.instructables.com/id/Johnny-Five-an-automated-turret/" rel="nofollow">http://www.instructables.com/id/Johnny-Five-an-automated-turret/</a> but there are plenty others.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7544" data-toggle = "popover">
				<p>user name : Nekogeekaku</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-7544">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7544" class = 'collapse'>
			</div>
				<textarea id = "speech-7544" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7544">
					<img id="start_img-7544" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7544">Comment</button>
			<br><div id = "ans-7554"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7554" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Buy a Raspberry Pi, and an Arduino. You will be buying a few general purpose items like jumber wires, bread boards, single-core wires(for making circuits on bread board), soldering ion etc. </p>

<p>Then you will find tons of projects you can do with the RaspPi and Arduino on the internet to get you started. Pick a project, buy the required sensors, and do it. You shouldn't be just doing the interfacing. Learn the electronics behind the things you use as much as you can. At this point, one thing you can do is to document your works, preferably by starting a blog or something. When you work with arduino, you will learn some arduino  coding, which is pretty simple, and you will get the hand of it easily. Also learn python. A good place for it would be websites like codeacademy, where you can enrol for the course you want. The primary objective of this exercise is to get a general overview about robotics. This would be your gateway to the world of robotics.</p>

<p>Then you could move to more and more advanced projects, and as you grow, you will finally that 'huge life altering project' you wanted to do will come to your head. Let's hope it does. But definitely you will be gaiining a lot of knowledge and life hacks in life if you go down this lane.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7554" data-toggle = "popover">
				<p>user name : daltonfury42</p>
				<p> user reputation : 162</p>
				<p class = "tagcontent" id = "usertaginfo-7554">{'underwater': 7, 'None': 0, 'usb': 3, 'arduino': 4, 'communication': 4, 'localization': 6, 'operating-systems': 1, 'c++': 2, 'odometry': 1, 'kinematics': 1, 'sensor-fusion': 6, 'sensors': 6, 'ros': 1, 'differential-drive': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7554" class = 'collapse'>
			</div>
				<textarea id = "speech-7554" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7554">
					<img id="start_img-7554" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7554">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>