<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Stated power for a motor does not equal nominal voltage x current?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4830" class = "post">
			<h2>Question</h2>
			<div id="vote-4830" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 125</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Stated power for a motor does not equal nominal voltage x current?</h2>
<p>I have just sized the DC motors I want to use (corresponding to my robot and its intended applications - my figures include a 50% uncertainty factor to account for friction in reducers and other losses). Now I need to actually choose the exact motors I want to buy from the manufacturer (I am targeting maxon motors as I am not an expert and want no problem). I have a few down to earth questions about linking the mechanical needs to the electrical characteristics, among them:</p>

<p><strong>Question #3:</strong></p>

<p>I chose a motor reference (310005 maxon reference <a href="http://www.maxonmotor.com/maxon/view/catalog/" rel="nofollow">found here</a>) which has a stated power of 60W, as the nominal voltage is 12V, I was expecting to have a nominal current of 5A, but it states 4A. Where am I wrong? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4830" data-toggle = "popover">
				<p>user name : arennuit</p>
				<p> user reputation : 170</p>
				<p class = "tagcontent" id = "usertaginfo-4830">{'control': 20, 'servomotor': 6, 'None': 0, 'errors': 3, 'motor': 14, 'communication': 10, 'pid': 4, 'brushless-motor': 5, 'design': 9, 'robotic-arm': 4, 'dynamics': 3, 'servos': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4830" class = 'collapse'>
			</div>
				<textarea id = "speech-4830" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4830">
					<img id="start_img-4830" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4830">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4882"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4882" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Take a look at this sample characteristic: <a href="http://homepages.which.net/~paul.hills/Motors/ScottMotorCharacteristic.gif" rel="nofollow">http://homepages.which.net/~paul.hills/Motors/ScottMotorCharacteristic.gif</a></p>

<p>Nominal current and voltage are given for the point of maximum efficiency (or close to) of the motor, but this is not the point of maximum power. Power of the motor is given by </p>

<blockquote>
  <p>P=I*V</p>
</blockquote>

<p>It does not rise linearly, because the slower the motor rotates (because of greater load) and the greater is the current, the smaller is the voltage drop on the motor (caused by back EMF). As you can see on the characteristic, maximum of that function comes somewhere in the middle.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4882" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-4882">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4882">Load Comments</button></br>
			<div id = "commentsection-4882" class = 'collapse'>
			<div id = "comment-7595" class = "comment">
				<p>It's clear now, thanks! So what I understand from the curve you sent, is that given computed max speed Vm and max torque Tm, my max mechanical power Pm=Vm x Tm does not correspond to the maximum stated power of the motor Psm, right? What I mean is that because this Psm only corresponds to a single point of the power parabola, if I want my motor to achieve Vm or Tm at a functioning point different than the max of the power parabola then I need a stronger motor - possibly much stronger... Is there a clean way, or a rule of thumb to match some motor specs to given computed mechanical Vm and Tm?</p>
			</div>
			<div id = "comment-7596" class = "comment">
				<p>To choose a motor I usually do the following:
1. Calculate max needed torque
2. Calculate max needed rpm
3. Multiply both by safety margin of at least 1.5
4. Choose a motor that has max torque, and no-load speed greater than calculated values.

Mind that, this is not the only and universal rule to do that, but in most hobby applications it works well enough.</p>
			</div>
			<div id = "comment-7597" class = "comment">
				<p>Haha, the beginning of some guidelines, that's what I am after, thanks! Now if I look at Maxon data sheets I can find the max torque and no-load speed clearly stated, but there are other manufacturers for which it is lesss clear: with Faulhaber I can only find a stall torque and a rated torque. Do you think the information on the max torque in "hidden" in some other data row?</p>
			</div>
			<div id = "comment-7598" class = "comment">
				<p>Example Faulhaber datasheet (just in case):http://laureneantoine.uk.quickconnect.to/fbsharing/WCJswcdK</p>
			</div>
			</div>
				<textarea id = "speech-4882" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4882">
					<img id="start_img-4882" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4882">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>