<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Steal or borrow or use Tag information from other StackExchange sites
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1953" class = "post">
			<h2>Question</h2>
			<div id="vote-1953" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 25</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Steal or borrow or use Tag information from other StackExchange sites</h2>
<p>Last time I've updated a tag synonym I've found the best information and very detailed on SO. The information I found was about the <a href="https://apple.stackexchange.com/questions/tagged/r" class="post-tag" title="show questions tagged &#39;r&#39;" rel="tag">r</a>-tag.</p>

<p>Is it okay to do this? </p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1953" class = 'collapse'>
			</div>
				<textarea id = "speech-1953" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1953">
					<img id="start_img-1953" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1953">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1954"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1954" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two things to consider:</p>

<ol>
<li>The function of a tag summary and tag wiki</li>
<li>How to properly attribute Creative Commons licensed work. </li>
</ol>

<p>Both of those reasons make me feel we shouldn't just copy other tag content. A tag isn't a dictionary and the same word should have different meanings on different sites by definition. Take "network/networking" as it will be different here as on a workplace site. Even on computer sites like here, Super User and Ask Ubuntu - explaining what types of questions should get tagged as networking can and should be different. </p>

<p>So, if there isn't any controversy or disagreement on use of a tag, the actual words attached to them are of little use in practice. I would say, in the case you mention - we would be served best by merging the r tag into open source since it won't make sense to most of the users of Mac, iOS and Apple Services as well as be more confusing to people typing other tags than the benefit of allowing some people to search for that one open-source software package. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1954">Load Comments</button></br>
			<div id = "commentsection-1954" class = 'collapse'>
			<div id = "comment-3759" class = "comment">
				<p>No for open-source as you could argue that the search people want to use is statistics to find R etc. i.e. the activity you want is important not how you do it.</p>
			</div>
			</div>
				<textarea id = "speech-1954" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1954">
					<img id="start_img-1954" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1954">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>