<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Step Motor and Bevel gear calibration
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5148" class = "post">
			<h2>Question</h2>
			<div id="vote-5148" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Step Motor and Bevel gear calibration</h2>
<p>I am new to robotics. I want to understand how gears state is preserved as the gears turned to same positions repetitively. 
I have a bevel gear and a step motor connected to one gear. This gear will turn 45*n = degrees. That is to say there are 8 states gears will stay in. The problem here is there will be force on the gear, which is not connected to motor, in any direction. That force must not change worm position even in micrometers. I think there should be a locking mechanism. Is there any applications of that you can give example of?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5148" data-toggle = "popover">
				<p>user name : gungor</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-5148">{'stability': 0, 'actuator': 1, 'None': 0, 'stepper-motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5148">Load Comments</button></br>
			<div id = "commentsection-5148" class = 'collapse'>
			<div id = "comment-7916" class = "comment">
				<p>Can you provide a diagram of your gear train?  It is a little hard to follow.</p>
			</div>
			</div>
				<textarea id = "speech-5148" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5148">
					<img id="start_img-5148" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5148">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5181"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5181" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A complete answer isn't possible without details of your requirements for rotation rates, torque, tolerance, budget, mechanical layout, allowances for calibration or adjustment, and directions of motion.  That said, I will mention some relevant topics for gungor to study.</p>

<p>First, read about <em><a href="http://en.wikipedia.org/wiki/Backlash_%28engineering%29" rel="nofollow">backlash</a></em>.  Here's a brief overview from wikipedia:</p>

<blockquote>
  <p>In mechanical engineering, backlash, sometimes called lash or play, is clearance or lost motion in a mechanism caused by gaps between the parts. It can be defined as "the maximum distance or angle through which any part of a mechanical system may be moved in one direction without applying appreciable force or motion to the next part in mechanical sequence".</p>
</blockquote>

<p>Next, read about <em>anti-backlash mechanisms</em>.  An article in <a href="http://machinedesign.com/technologies/methods-minimize-gear-backlash" rel="nofollow">machinedesign.com</a> has an overview of some common methods, including use of precision gears; adjusting positions of gears (either manually or automatically) for minimum lash; and special designs.  With so little context given in the question, one can't say which technique would be best.</p>

<p>Also consider using limit switches or an encoder.  A set of eight or sixteen switches could be installed and calibrated so that different combinations of switch readings correspond to go and nogo rotations.</p>

<p>A <a href="http://en.wikipedia.org/wiki/Rotary_table" rel="nofollow">rotary table</a> or an indexing fixture would allow precise and solid positioning, but can be expensive, heavy, and in some forms difficult to use in automated systems.  However, if you use a machinist's indexing or dividing plate with a multiple of eight holes, repetitive rotary positioning accurate to a few arcseconds (comparable to a few microns at a radius of a few cm) is easy to achieve.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5181" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-5181">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5181" class = 'collapse'>
			</div>
				<textarea id = "speech-5181" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5181">
					<img id="start_img-5181" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5181">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>