<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Stepper does not turn
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4307" class = "post">
			<h2>Question</h2>
			<div id="vote-4307" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 902</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Stepper does not turn</h2>
<p>I always wanted to have a CNC to make PCB quickly at home. </p>

<p>Finally, I got a <a href="http://rads.stackoverflow.com/amzn/click/B002ARTLUG" rel="nofollow noreferrer">7x7 kit</a> from zentools recently and put it together. I attached a battery powered screw driver to 2nd shaft of the stepper and moved the each axis all the way back and forward before wiring. All 3 axis moves smoothly, I can turn the steppers even by hand. Every piece works smoothly, no mechanical jam.</p>

<p>I decided to use <a href="https://github.com/grbl/grbl" rel="nofollow noreferrer">GRBL</a> as controller software. Tested the software without the shield or stepper (qv: <a href="http://cadduino.wordpress.com/2013/11/18/testing-grbl-in-arduino-board-without-the-motors/" rel="nofollow noreferrer">Testing GRBL in Arduino Board without the steppers</a>) I use <a href="https://github.com/winder/Universal-G-Code-Sender" rel="nofollow noreferrer">Universal Gcode Sender</a> to communicate with GRBL.</p>

<p>I got an <a href="http://blog.protoneer.co.nz/arduino-cnc-shield/" rel="nofollow noreferrer">Arduino CNC Shield</a> for Arduino UNO, put it together, attached to Arduino UNO, re-tested GRBL, it worked. </p>

<p>I used Reprep's <a href="http://reprap.org/wiki/Stepper_wiring#.22pair.22_wires_on_6_wire_motors" rel="nofollow noreferrer">Stepper wiring</a> article to connect stepper to the driver, wired 1 stepper to the stepper driver (X axis). Powered the shield with 20V 17.5Amp (350W) DC Regulated Power supply. (It was the power adaptor for an old 17" notebook. Notebook died, I kept the adaptor)</p>

<p>When the move 5 steps command (G1 X5) was sent, stepper makes a small move in the direction and then makes a grinding noise. (<a href="https://www.youtube.com/watch?v=cNiFV6u2nSk" rel="nofollow noreferrer">Can be seen on Youtube</a>) </p>

<p>I tried switching 1st pair's cables, using another stepper driver (3 drivers), turning the potentiometer to increase the current, but still no luck.</p>

<p>I attached 2 photos of the cnc and the controller and controller unit.</p>

<p>I tried everything I can think of, any suggestions?</p>

<p><img src="https://i.stack.imgur.com/Ubgr5.jpg" alt="CNC">
<img src="https://i.stack.imgur.com/hu2nb.jpg" alt="Controller (the DC adapter at the bottom)"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4307" data-toggle = "popover">
				<p>user name : dvdmn</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-4307">{'None': 1, 'stepper-motor': 1, 'cnc': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4307" class = 'collapse'>
			</div>
				<textarea id = "speech-4307" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4307">
					<img id="start_img-4307" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4307">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4321"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4321" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After reviewing the Polulu Stepper Driver manual, I realized I was wiring stepper wires in wrong order.</p>

<p>The controller pin labels are: 1A, 1B, 2A, 2B. The controller card's manual was saying 'use letters as pair' but it suppose to say 'use numbers as pair'.</p>

<p>Everything works perfectly after correcting the wires.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4321" data-toggle = "popover">
				<p>user name : dvdmn</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-4321">{'None': 1, 'stepper-motor': 1, 'cnc': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4321" class = 'collapse'>
			</div>
				<textarea id = "speech-4321" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4321">
					<img id="start_img-4321" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4321">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>