<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Stereo camera Vs Kinect
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6581" class = "post">
			<h2>Question</h2>
			<div id="vote-6581" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 5463</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Stereo camera Vs Kinect</h2>
<p>Any one can advice me on the ideal perception sensors for pick and place application using a robotic manipulator with ROS support. I have generally looked at things like Kinect and stereo cameras (Bumblebee2) which provide depth that can be used with PCL for object recognition and gripper positioning. Are there any other sensors would be preferred for such application and if not what are the drawbacks of stereo cameras in comparison to Kinect or other sensing capability. </p>

<p>Thanks,</p>

<p>Alan</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6581" data-toggle = "popover">
				<p>user name : Alan</p>
				<p> user reputation : 28</p>
				<p class = "tagcontent" id = "usertaginfo-6581">{'kinect': 5, 'stereo-vision': 5, 'None': 0, 'sensors': 5, 'robotic-arm': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6581">Load Comments</button></br>
			<div id = "commentsection-6581" class = 'collapse'>
			<div id = "comment-9465" class = "comment">
				<p>In a typical Pick and Place machine, your machine is already knowledgeable about the width, length and height of an object so I am not sure what stereo (or RGB-D) will do for you. How were you planning to use that?</p>
			</div>
			<div id = "comment-9466" class = "comment">
				<p>In my case, the packages can be arbitrary and is not like a typical pick and place machine where it is in a fixed environment. This will essentially be a Mobile Manipulator. So the question is the Stereo or RGB-D camera sufficient for the arm to recognise and pick up an object? with PCL / OpenCV for processing. And what are the main differences between the two sensors?</p>
			</div>
			<div id = "comment-9482" class = "comment">
				<p>Will the manipulator be a Serial or Parallel manipulator? If it is a top-down parallel manipulator then you may not need depth (just assume it is a constant planar surface).
Will the camera be mounted on the end-affector? You can do stereo without 2 cameras by having accurate pose feedback.</p>
			</div>
			<div id = "comment-9495" class = "comment">
				<p>It is a serial manipulator from crustcrawler attached to a moving platform. I understand the case of top=down manipulator but I believe this is more difficult scenario, as the placement of objects to pick up are random.</p>
			</div>
			<div id = "comment-10019" class = "comment">
				<p>Your criteria for making this judgment aren't very clear.  Is this a cost problem or are you concerned with either speed or accuracy?</p>
			</div>
			<div id = "comment-10053" class = "comment">
				<p>Cost is not an issue, and yes based on speed/accuracy/operating range</p>
			</div>
			<div id = "comment-10316" class = "comment">
				<p>@Alan what range of depths are you hoping to operate at?</p>
			</div>
			</div>
				<textarea id = "speech-6581" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6581">
					<img id="start_img-6581" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6581">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6589"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6589" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The <a href="http://structure.io/developers" rel="nofollow">Structure sensor</a> is a "3D sensor for mobile devices". Reading over the details it sounds like a smaller version of Kinect. It has open source drivers, openNI support etc. It's been on my to buy list for awhile but I don't have an immediate application just yet. </p>

<p>From the site,</p>

<blockquote>
  <p>The magic of 3D depth sensing begins with the ability to capture fast, accurate, dimensions of objects and environments.</p>
</blockquote>

<p>I'm am in no way associated with the company that sells the sensor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6589" data-toggle = "popover">
				<p>user name : Matt Brown</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-6589">{'None': 16, 'wheeled-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6589">Load Comments</button></br>
			<div id = "commentsection-6589" class = 'collapse'>
			<div id = "comment-9473" class = "comment">
				<p>That is quiet interesting, but slightly different applications I guess more into ipad based mobile robots.</p>
			</div>
			<div id = "comment-9474" class = "comment">
				<p>yeah they definitely target it to iPad, but have the drivers for windows and linux as well.</p>
			</div>
			<div id = "comment-9496" class = "comment">
				<p>I wonder if you can use multiple of those camera simultaneously, will there be any interference from the projected infrared, just as with the Kinect</p>
			</div>
			<div id = "comment-10976" class = "comment">
				<p>But last time I checked it is at least 3 times more expensive as the Kinect,</p>
			</div>
			</div>
				<textarea id = "speech-6589" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6589">
					<img id="start_img-6589" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6589">Comment</button>
			<br><div id = "ans-7597"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7597" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Kinect is certainly a popular choice these days for robotics.  However, time-of-flight, structured light, and stereo cameras all have their own strengths and weaknesses.  These two threads have a good discussion:</p>

<ul>
<li><a href="https://robotics.stackexchange.com/questions/7014/what-main-factors-features-explain-the-high-price-of-most-industrial-computer-vi">What main factors/features explain the high price of most industrial computer vision hardware?</a> </li>
<li><a href="https://robotics.stackexchange.com/questions/7549/question-for-those-who-have-experience-using-stereo-cameras-module-e-g-zed-du">Question for those who have experience using stereo cameras/module (e.g. ZED, DUO M, Bumblebee, etc.)</a></li>
</ul>

<p>I think the simple answer is that stereo requires visual texture in the scene, and you can alter your baseline for different min/max ranges.  TOF cameras might have trouble with certain materials, and can give you false readings when an object is too close to the camera.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7597" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7597">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7597" class = 'collapse'>
			</div>
				<textarea id = "speech-7597" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7597">
					<img id="start_img-7597" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7597">Comment</button>
			<br><div id = "ans-11886"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11886" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Kinect is an active 3D depth estimation setup that employs IR laser
  structured patterns for Depth calculation and are reliable for Indoor
  applications only.</p>
</blockquote>

<p>Whereas,</p>

<blockquote>
  <p>Stereo Camera setup is a passive 3d depth estimation setup that
  typically involves use of Stereo calibration procedure in order to
  compute projection matrix that will transform a 2D point(generally
  observed in left camera) into a 3D point in the left camera coordinate
  system(assuming left camera is at origin[0,0,0]). These stereo camera
  setups performs way better than Kinect in case of outdoor
  applications.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11886" data-toggle = "popover">
				<p>user name : Lokesh Kumar</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-11886">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11886" class = 'collapse'>
			</div>
				<textarea id = "speech-11886" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11886">
					<img id="start_img-11886" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11886">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>