<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Stereo vision for outdoor obstacle detection
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10443" class = "post">
			<h2>Question</h2>
			<div id="vote-10443" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 57</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Stereo vision for outdoor obstacle detection</h2>
<p>I'm trying to detect obstacles for a distance of up to 10 meters in an outdoor environment. Up to meaning that I also want to be able to detect obstacles that are close to the robot. I am thinking of doing this using stereo vision, but I am unsure if this is in fact even possible (before I buy expensive hardware). So is it possible? Has anyone had any success?</p>

<p>If this isn't possible, then what kind of sensors could give me a decent point cloud for such a range (outdoors)? I need a sensor that will fit a medium size robot. Also it needs to be not overly expensive since I have a limited budget.</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10443" data-toggle = "popover">
				<p>user name : Gil</p>
				<p> user reputation : 91</p>
				<p class = "tagcontent" id = "usertaginfo-10443">{'stereo-vision': 2, 'None': 8, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10443">Load Comments</button></br>
			<div id = "commentsection-10443" class = 'collapse'>
			<div id = "comment-18790" class = "comment">
				<p>What makes you jump to the conclusion this might not be possible?</p>
			</div>
			<div id = "comment-18791" class = "comment">
				<p>What research have you done? [Yes, it's possible](https://www.youtube.com/watch?v=A-y3GyC1SZI), and the software is [free](http://docs.opencv.org/3.1.0/dd/d53/tutorial_py_depthmap.html#gsc.tab=0) At the moment, your question sounds like a shopping question - You don't appear to have looked in-depth at any possible solutions to your problem, and instead post here stating you want to know "what kind of sensors could give me a **decent point cloud**" to "detect **obstacles** for a distance up to 10 meters" that will "fit a **medium size** robot" and that "needs to be **not overly expensive**".</p>
			</div>
			<div id = "comment-18792" class = "comment">
				<p>If cost is a limiting factor, I suggest setting a hard budget and looking generally at the price points at which each "style" of technology is available- Kinect, LIDAR, stereo vision, etc. This should quickly eliminate the stuff beyond your ability to purchase. Then, compare specifications between the different technologies you *can* afford. If you then have *specific, answerable questions* about terminology, specifications, implementing a particular method, etc., then by all means, please come back and ask. If you want to **discuss** your project and get advice, please join us in [chat].</p>
			</div>
			<div id = "comment-18799" class = "comment">
				<p>I'm sorry Chuck. I'm new here and I didn't mean for the question to sound like a shopping question. It is a plausibility question which you have answered. Maybe I should have included some more information. I'm volunteering on a project for a non profit organization. The project we are working on is for a 10 year old boy whose is visually impaired and whose dream is to ride a skateboard. We want to build him a helmet that gives him indications to where there might me obstacles using small vibrating motors embedded in the helmet. That is why we need a range of about 10m.</p>
			</div>
			<div id = "comment-18800" class = "comment">
				<p>I've been working on a solution using ROS with 2 cheap webcams that were donated. I have gone as far as I can with the webcams. I am at a point where I have to recommend if to buy a stereo camera but was unsure it would even work for our specifications (detecting obstacles in the range). Those cameras aren't cheap so I didn't want to get it wrong. Before posting I thought it wasn't possible thats why I asked if other sensors I may have overlooked. Anyways thanks Chuck</p>
			</div>
			<div id = "comment-18809" class = "comment">
				<p>Using the formula, z=f(b/(x1-x2)) where z - depth, b - baseline, x1-x2 - disparity, f - focal length of the camera. You can set the baseline  (distance between the two cameras) to the corresponding maximum distance you want to measure (hardware). As for the nearest possible object to be measured, you can increase the maximum disparity (software) allowed to maximize the search range to minimize the blind spot of the stereo vision camera setup.</p>
			</div>
			</div>
				<textarea id = "speech-10443" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10443">
					<img id="start_img-10443" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10443">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>