<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Stereo camera pair focal lengths
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11413" class = "post">
			<h2>Question</h2>
			<div id="vote-11413" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 111</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Stereo camera pair focal lengths</h2>
<p>I came across the standard representation of stereo cameras where they are side to side and the epipolar lines are the same image scan line and the cameras have the same focal length. 
<a href="https://i.stack.imgur.com/fRhr4.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/fRhr4.png" alt="enter image description here"></a>
Source: <a href="http://vision.deis.unibo.it/~smatt" rel="nofollow noreferrer">http://vision.deis.unibo.it/~smatt</a></p>

<p>Now, do <em>all</em> stereo camera pairs need to have the same focal length? And if not then how does that change the stereo depth calculation? </p>

<p>Thank you. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11413" data-toggle = "popover">
				<p>user name : simplename</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-11413">{'stereo-vision': 3, 'None': 0, 'probability': 1, 'multi-agent': 1, 'motion-planning': 1, 'navigation': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11413" class = 'collapse'>
			</div>
				<textarea id = "speech-11413" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11413">
					<img id="start_img-11413" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11413">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11443"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11443" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're just using the focal length as part of a camera model. </p>

<p>All you really care about is exactly what the image you posted depicts - that you can  correlate a particular pixel with an <em>angle</em>. If you know the angle to a point of interest from one camera, and you know the angle to the same point of interest from another camera, and you know how far the cameras are apart, then the law of sines can tell you where that point of interest is actually located.</p>

<p>Like I said above - what you really want to know is how a <em>pixel</em> relates to an <em>angle</em>. If you know that your key point is located 15 pixels from the left edge (the right camera in your image), what <em>angle</em> does that make between the image receptor and that key point? That depends on the <em>focal length</em> of the camera. A lot of techniques use the pinhole camera model, and I believe this is sufficient for most cameras, but especially if you wanted to use a fisheye lens or similar then you need to rectify your output image in addition to applying the camera model. </p>

<p>This might be a straightforward process, but it can definitely get complicated in a hurry, especially if you can't find documentation regarding the characteristics of the lens you're using.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11443" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11443">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11443" class = 'collapse'>
			</div>
				<textarea id = "speech-11443" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11443">
					<img id="start_img-11443" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11443">Comment</button>
			<br><div id = "ans-11453"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11453" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is nothing that forces both cameras to have the same focal length, but there is also no reason to use different cameras. In a stereo setup you want both cameras to see the same region of the world as only the objects in the overlapping region can be reconstructed. If you use a zoom-lense and fisheye, the overlapping region would be minimal and you could only use a small path of your fisheye-image. </p>

<p>You also want to match the two images so that both camera should have a similar characteristic (consisting of lense, sensor and settings). The similar both cameras are, the better the matching. </p>

<p>So you could built a stereo camera with different camera, but you don't want to. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11453" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-11453">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11453" class = 'collapse'>
			</div>
				<textarea id = "speech-11453" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11453">
					<img id="start_img-11453" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11453">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>