<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Stereo vision on a moving vehicle
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4960" class = "post">
			<h2>Question</h2>
			<div id="vote-4960" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 223</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Stereo vision on a moving vehicle</h2>
<p>When I put stereo camera on a moving platform and sync the cameras, what kind of delay between the cameras is tolerable? This would probably depend on the motion, but are there some guidelines?</p>

<p>Are there any practitioner guides on how to build a moving stereo system?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4960" data-toggle = "popover">
				<p>user name : Alex Kreimer</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-4960">{'stereo-vision': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4960">Load Comments</button></br>
			<div id = "commentsection-4960" class = 'collapse'>
			<div id = "comment-7706" class = "comment">
				<p>From my experience I can say:
This depends on the algorythm! The simplest algorythms are not very tolerant to such things.
later algorythms can handle some small delays (the quality will decrease for sure)
I suggest take the images at the same time and minimize the delay. Everything under 100ms is no problem at all</p>
			</div>
			<div id = "comment-7708" class = "comment">
				<p>Why do you say that under 100ms is not a problem? For what speeds?  I have a hardware synced stereo pair which produces about 100 ms delays.  Bouguet stereo calibration toolbox refuses to calibrate the pair if the calibration patters move, so 100ms for calibration is probably not acceptable...</p>
			</div>
			<div id = "comment-7709" class = "comment">
				<p>Do you use a "real" stereo camera or 2 independent cams?
I worked with 2 indepentend cams at a framerate of 10hz. This cameras aren't synced, so the picture could be up to 100ms old and the other picture may be a pretty recent one
So there is a delay in the pictures.

Possible workaround for you: take pictures at 10hz and delay one by one cycle. then you eliminated the hardware delay</p>
			</div>
			<div id = "comment-7710" class = "comment">
				<p>I use 2 separate cams. The first camera is software triggered, but when its sensor is exposed it hardware triggers the 2nd camera.</p>
			</div>
			<div id = "comment-7711" class = "comment">
				<p>Ok the delay is exactly 100ms?</p>
			</div>
			<div id = "comment-7712" class = "comment">
				<p>Nope,its volatile.  100 is a max</p>
			</div>
			<div id = "comment-7713" class = "comment">
				<p>What do you mean by volatile in this context?</p>
			</div>
			<div id = "comment-7714" class = "comment">
				<p>I mean that the delay between sensor exposures is at max 100 ms and is not constant</p>
			</div>
			<div id = "comment-7715" class = "comment">
				<p>can you determine this timeframe, more specific?</p>
			</div>
			<div id = "comment-7716" class = "comment">
				<p>I dont think so. And even if i do, how does this help</p>
			</div>
			<div id = "comment-7717" class = "comment">
				<p>you could compensate this delay by setting a specific framerate</p>
			</div>
			</div>
				<textarea id = "speech-4960" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4960">
					<img id="start_img-4960" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4960">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4971"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4971" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The guidelines is quite simple math. You are right the sync precision requirement is a function of speed - the faster you go the better the sync has to be to give you the same distance difference between the two cameras. Example: 100 km/h is 27.7 m/s - 100ms sync will give you difference of 2.7 meters of distance from one camera to other. 10ms will give you 27cm, 1ms 2.7cm etc. If you have a very slow moving vehicle 100ms can be OK. But I think no stereo algorithm (3D reconstruction, visual odometry) can produce good results with bad input data so you want to do your math before starting to see where the sync should be.</p>

<p>If you can analyze your stereo in post you can fix the sync in post-processing (more FPS will give you better sync possibility). If you need real-time then you can not fix in post and your requirement for hardware is higher.</p>

<p>For real time stereo processing I think you want the stereo sync to be as good as possible within your budget (of course depending on vehicle speed). The best is two identical cameras with wired external trigger (remote shutter) - you wire both cameras to the same HW trigger button. If you dont need high FPS you can use commodity (relatively cheap) consumer cameras with remote shutter (few point&amp;shoot cameras may have it, ultrazooms or DSLRs will too), but these usually save to SD card which is not very convenient for real-time processing.</p>

<p>An USB camera is better for real time as you can stream the images directly into your code (C++ etc.). "Industrial" cameras are usually USB, they have quite high FPS and external trigger - <a href="http://www.e-consystems.com/1MP-USB3-Globalshutter-Camera.asp" rel="nofollow">See3CAM_10CUG by e-con Systems</a> is the cheapest one probably, other more expensive brands are <a href="http://www.theimagingsource.com/en_US/products/cameras/" rel="nofollow">The Imaging Source</a> or <a href="http://www.ptgrey.com/" rel="nofollow">Point Grey</a>. These can usually do from about 10 to many FPS with external trigger depending on model.</p>

<blockquote>
  <p>I use 2 separate cams. The first camera is software triggered, but when its sensor is exposed it hardware triggers the 2nd camera.</p>
</blockquote>

<p>This is a wrong solution - you want to trigger both the same way in order for them to behave the same - see the remote shutter above.</p>

<p><strong>EDIT:</strong></p>

<p>Going back to the root of your question:</p>

<blockquote>
  <p>what kind of delay between the cameras is tolerable?</p>
</blockquote>

<p>As I said above this translates into "what distance difference between left and right stereo frames is tolerable for stereo vision?" To be honest, even though I did some stereo matching I have no experience with sync precision here (I used synced dastasets), but as I said I can imagine the results will get worse linearly with the distance delta. Would be interesting to do some tests in this field...</p>

<p>Something like "spherical resolution" (number of image horizontal/vertical pixels divided by your lens field-of-view) will probably play a big role - the lower the spherical resolution the lower the sync precision needs because you could not recognize the details anyways. There will be some (probably not very difficult) math behind this.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4971" data-toggle = "popover">
				<p>user name : Kozuch</p>
				<p> user reputation : 338</p>
				<p class = "tagcontent" id = "usertaginfo-4971">{'stereo-vision': 12, 'structure-from-motion': 1, 'autonomous-car': 0, 'encoding': 2, 'precise-positioning': 0, 'hardware': 0, 'mobile-robot': 6, 'monocular': 2, 'rotation': 2, 'rcservo': 0, 'self-driving': 0, 'cameras': 2, 'point-cloud': 1, 'kinect': 1, 'opencv': 1, 'electronics': 1, 'gazebo': 0, 'gps': 7, 'engine': 1, 'odometry': 5, 'None': 8, 'electric': 1, 'localization': 0, 'wheeled-robot': 2, 'simulator': 1, 'visual-odometry': 2, 'gnss': 0, 'sensors': 2, 'steering': 0, '3d-reconstruction': 1, 'computer-vision': 12, 'algorithm': 2, 'calibration': 4, 'scale-model': 1, 'simulation': 0, 'servomotor': 0, 'sensor-fusion': 2, 'navigation': 0, 'software': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4971" class = 'collapse'>
			</div>
				<textarea id = "speech-4971" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4971">
					<img id="start_img-4971" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4971">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>