<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Strain gauges or flex sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11654" class = "post">
			<h2>Question</h2>
			<div id="vote-11654" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 125</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Strain gauges or flex sensors</h2>
<p>I've been thinking about making myself a fancy data glove. Now that I'm looking into it, I notice a lot of DIY stuff works with these so called flex sensor based on conductive carbon ink. </p>

<p>I'm not familiar with these sensors but from what I have learned so far, they are more expensive and less accurate compared to a simple strain gauge. Or are they just hard to use because of the length and bend radius of the finger?</p>

<p>So actually I'm just wondering what the pros and cons are of these sensors when faced with data gloves.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11654" data-toggle = "popover">
				<p>user name : ExtraLars</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-11654">{'None': 0, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11654" class = 'collapse'>
			</div>
				<textarea id = "speech-11654" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11654">
					<img id="start_img-11654" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11654">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11657"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11657" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The sensors, which are called flexible or bending sensors, are actually capacitors or coils.  If you bend the structure the value of capacitor or coil going to  be changed. If you can produce the flexible sensor correctly and precisely, you will get good results. However, the sensor used as a strain gauges are includes crystals like piezo and these crystals produces electric vibrations in case of load vibration or bending.</p>

<p><a href="https://i.stack.imgur.com/LB148.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/LB148.jpg" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11657" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-11657">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11657" class = 'collapse'>
			</div>
				<textarea id = "speech-11657" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11657">
					<img id="start_img-11657" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11657">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>