<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Strange EKF localization covariance behavior during prediction only
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11615" class = "post">
			<h2>Question</h2>
			<div id="vote-11615" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 49</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Strange EKF localization covariance behavior during prediction only</h2>
<p>I've implemented a simple robot simulation based on the equations from <a href="http://probabilistic-robotics.informatik.uni-freiburg.de/corrections1/pg204-206.pdf" rel="nofollow noreferrer">EKF localization with known correspondence</a> found in Probabilistic Robotics by Thrun et. al. Everything seems to be working but I noticed the covariance matrix has an odd behavior when doing prediction only. </p>

<p>When I move the robot with a forward velocity and some angular velocity and no correction the covariance grows (size of eigenvalues), as expected. But when I move the robot backwards with some angular velocity the covariance shrinks a bit before growing again. I expect the covariance to always increase if there is no correction.</p>

<p>I checked my implementation many times for errors but I now suspect this issue may be attributed to the fact that the Jacobians V and M uses signed values of velocity and angular velocity, instead of absolute?</p>

<p>Here is a video showing the covariance shrinking and growing. In this video the true pose of the robot is in green with an imaginary depth sensor shown as a green cone. There are no landmarks, so no correction step. The gray is the estimated pose plus covariance ellipse at 95% confidence interval.</p>

<p><a href="https://www.youtube.com/watch?v=RcHkCijyG7c&amp;feature=youtu.be" rel="nofollow noreferrer">https://www.youtube.com/watch?v=RcHkCijyG7c&amp;feature=youtu.be</a></p>

<p><strong>UPDATE:</strong>
I've attached a graph that illustrates this issue better. Two graphs are shown below. The graph in red is running the EKF prediction on noise free input and plotting the area of the ellipsoid of the covariance. The area (uncertainty) monotonically increases as expected. I repeat the same thing but at t=10 I inverted the velocity, resulting in the blue graph. There is an oscillation in the area for some reason yet to be determined.</p>

<p><a href="https://i.stack.imgur.com/zXZHc.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/zXZHc.png" alt="enter image description here"></a></p>

<p>The Octave script I wrote can be found here <a href="http://pastebin.com/rQyczVbm" rel="nofollow noreferrer">http://pastebin.com/rQyczVbm</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11615" data-toggle = "popover">
				<p>user name : Nghia</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-11615">{'ekf': 1, 'None': 0, 'localization': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11615">Load Comments</button></br>
			<div id = "commentsection-11615" class = 'collapse'>
			<div id = "comment-20805" class = "comment">
				<p>[Welcome to Robotics Stack Exchange](http://robotics.stackexchange.com/tour). When it comes to simulation, it is a good thing to add some numbers, plots, results, ...,etc. Adding a minimal working example is highly recommended. It is hard to tell what exactly the thing(s) that causes what you believe the unexpected results.</p>
			</div>
			<div id = "comment-20813" class = "comment">
				<p>Thanks for the feedback. I've updated my post to include a video.</p>
			</div>
			</div>
				<textarea id = "speech-11615" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11615">
					<img id="start_img-11615" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11615">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>