<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Submarine screw and the isolation from the water
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4948" class = "post">
			<h2>Question</h2>
			<div id="vote-4948" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 335</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Submarine screw and the isolation from the water</h2>
<p>How does the submarine prevent water flow through the screw mechanism? The mechanism rotates the screw so there should be a little gap, how come the water doesn't come through this gap in to the submarine?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4948" data-toggle = "popover">
				<p>user name : Willmore</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-4948">{'None': 0, 'design': 3, 'motor': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4948">Load Comments</button></br>
			<div id = "commentsection-4948" class = 'collapse'>
			<div id = "comment-7695" class = "comment">
				<p>related: ["Preventing leaks in motor shafts for underwater bots"](http://robotics.stackexchange.com/questions/150/preventing-leaks-in-motor-shafts-for-underwater-bots)</p>
			</div>
			<div id = "comment-7698" class = "comment">
				<p>@DavidCary ty. the answer it contains is exactly what I was looking for.:)</p>
			</div>
			</div>
				<textarea id = "speech-4948" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4948">
					<img id="start_img-4948" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4948">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4950"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4950" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A variety of techniques are used for propeller shaft sealing.  One of the most common is a "packing gland" or "stuffing box", as in illustration below from a <a href="http://www.dieselduck.info/machine/04%20auxiliary/stuffing_box.htm" rel="nofollow noreferrer">dieselduck.info</a> web page which has details of using such seals. </p>

<p><img src="https://i.stack.imgur.com/qEeY4.jpg" alt="packing gland"></p>

<p>Also see <a href="http://www.boatus.com/boattech/casey/stuffing-box.asp" rel="nofollow noreferrer">boatus.com</a>, which describes how much leakage to allow, and when to repack.  Two or three drops of leakage per minute is recommended; the leakage helps lubricate the shaft where it passes through the seal. Leakage gets pumped out of the vessel as necessary.
For some submarines, high leakage rates occur.  For example, <a href="http://en.wikipedia.org/wiki/Collins-class_submarine#Propulsion_system" rel="nofollow noreferrer">wikipedia </a> notes that</p>

<blockquote>
  <p>Propeller shaft seals were a significant problem on Collins and Farncomb.  Although designed to allow for a leak of 10 litres per hour, during trials it was found that the seals would regularly misalign and allow hundreds of litres per hour into the boat   during one deep diving test the flow rate was measured at approximately 1,000 litres a minute.</p>
</blockquote>

<p>Other kinds of propeller shaft seals (oil or grease filled, gas filled, with carbon plates, o-rings, etc) may leak less or not at all. (<a href="http://www.shaftseal.com/en/categories" rel="nofollow noreferrer">1</a>, <a href="https://www.physicsforums.com/threads/how-do-you-seal-a-rotor-underwater.323819/" rel="nofollow noreferrer">2</a>).  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4950" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-4950">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4950" class = 'collapse'>
			</div>
				<textarea id = "speech-4950" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4950">
					<img id="start_img-4950" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4950">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>