<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Suggestion - Possibly Sitewide - Inbox Feed?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-971" class = "post">
			<h2>Question</h2>
			<div id="vote-971" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 84</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suggestion - Possibly Sitewide - Inbox Feed?</h2>
<p>I might be being dense, but I was wondering if there is a RSS feed that displays entries from our 'inbox'? If not, then perhaps a feature suggestion.</p>

<p>I use a RSS reader a lot and it updates constantly in the background - I just thought it'd be cool. </p>

			</div>
			<div id = "userinfo-971" style = "float:right">
				<p>user name : George Pearce</p>
				<p> user reputation : 1575</p>
				<p> user tag wise history : {'None': 0, 'feature-request': 6, 'rss': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-971" class = 'collapse'>
			</div>
				<textarea id = "speech-971" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-971">
					<img id="start_img-971" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-971">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-972"  class = "post">
				<h2>Answer</h2>
			<div id="vote-972" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Currently, this feature isn't available.</p>

<p><a href="https://meta.stackexchange.com/questions/85897/is-there-a-rss-to-the-stackexchange-inbox-how-about-to-activity">It's been asked for before, actually.</a></p>

<p>The solution, according to answers to the above post, is that you would have to convert the JSON to RSS yourself. Not hard, but not exactly automatic.</p>
</p><br>
			</div>
			<div id = "userinfo-972" style = "float:right">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p> user tag wise history : {'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-972" class = 'collapse'>
			</div>
				<textarea id = "speech-972" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-972">
					<img id="start_img-972" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-972">Comment</button>
			<br><div id = "ans-973"  class = "post">
				<h2>Answer</h2>
			<div id="vote-973" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Nathan is correct. For a close approximation, though, try this: <a href="https://apple.stackexchange.com/feeds/user/15589/responses">https://apple.stackexchange.com/feeds/user/15589/responses</a></p>

<p>(substitute your own user number for best results; this one is for the OP)</p>
</p><br>
			</div>
			<div id = "userinfo-973" style = "float:right">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p> user tag wise history : {'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-973">Load Comments</button></br>
			<div id = "commentsection-973" class = 'collapse'>
			<div id = "comment-1773" class = "comment">
				<p>Oh Safari and your 'feed://' "protocol" handler :/.</p>
			</div>
			<div id = "comment-1788" class = "comment">
				<p>Sorry, @JasonSalaz I copied and pasted without checking the protocol.</p>
			</div>
			<div id = "comment-1789" class = "comment">
				<p>@JasonSalaz Edited</p>
			</div>
			<div id = "comment-2055" class = "comment">
				<p>This seems to be "responses *from* so-and-so," rather than "responses *to* so-and-so."</p>
			</div>
			</div>
				<textarea id = "speech-973" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-973">
					<img id="start_img-973" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-973">Comment</button>
			<br><div id = "ans-1328"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1328" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have just added this capability to my website. You can read all of the details <a href="https://meta.stackexchange.com/a/135045/142114">here</a>.</p>

<p>Basically the process goes something like this:</p>

<ol>
<li>Register for an account on my website.</li>
<li>Connect your new account to your Stack Exchange profile.</li>
<li>Authorize my website to access your inbox.</li>
<li>Receive a custom RSS feed URL that contains the contents of your inbox.</li>
</ol>
</p><br>
			</div>
			<div id = "userinfo-1328" style = "float:right">
				<p>user name : Nathan Osman</p>
				<p> user reputation : 77</p>
				<p> user tag wise history : {'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1328" class = 'collapse'>
			</div>
				<textarea id = "speech-1328" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1328">
					<img id="start_img-1328" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1328">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>