<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Suggestion for relevant non-complex simulator
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10915" class = "post">
			<h2>Question</h2>
			<div id="vote-10915" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 105</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suggestion for relevant non-complex simulator</h2>
<p>I've recently started working on some localization algorithms like <em>probabilistic road map</em> and <em>SLAM</em> algorithms. What I'm looking for is a software that would help me in simulation for such algorithms. I started with pythons <code>graphics.py</code> and have now started working with Gazebo and ROS, but I've found it complex to use. </p>

<p>Is there any similar freeware simulation software that is easy to setup and work with, thus allowing me to reduce my time stressing over the simulation part and working more on the algorithms?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10915" data-toggle = "popover">
				<p>user name : badrobot15</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-10915">{'None': 0, 'simulator': 3, 'simulation': 3, 'slam': 3, 'ros': 3, 'gazebo': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10915">Load Comments</button></br>
			<div id = "commentsection-10915" class = 'collapse'>
			<div id = "comment-19661" class = "comment">
				<p>Check out the wiki page for [simulator](http://robotics.stackexchange.com/tags/simulator/info).</p>
			</div>
			</div>
				<textarea id = "speech-10915" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10915">
					<img id="start_img-10915" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10915">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10916"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10916" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>just use matlab or and python with a set of fixed features in space represented as points. Don't do any vision processing. At this point any vision processing would be overkill. </p>

<p>you are making this way too complex. </p>

<p>the measurements for your slam can be angles to features. create a set of 30 features randomly populating a 20m by 20m square. make your view point move in a circle around the square. </p>

<p>this is enough to get started with slam.</p>

<p>if you only rely on other people's packages and modules without going through the trouble of building your own you will never really get a sense of how these things work and break. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10916" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-10916">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10916">Load Comments</button></br>
			<div id = "commentsection-10916" class = 'collapse'>
			<div id = "comment-19650" class = "comment">
				<p>could you specify which python package would be most useful.</p>
			</div>
			<div id = "comment-19652" class = "comment">
				<p>(+1) Straight to the point.</p>
			</div>
			<div id = "comment-19659" class = "comment">
				<p>you would need numpy for some math</p>
			</div>
			<div id = "comment-19662" class = "comment">
				<p>I guess I'll start with the turtle package in python then</p>
			</div>
			</div>
				<textarea id = "speech-10916" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10916">
					<img id="start_img-10916" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10916">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>