<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Suggested edit confusion
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1800" class = "post">
			<h2>Question</h2>
			<div id="vote-1800" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 106</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suggested edit confusion</h2>
<p>I have looked back over the <a href="https://apple.stackexchange.com/posts/100577/revisions">revision history</a> to <a href="https://apple.stackexchange.com/questions/100577/imessage-sign-in-not-working-correctly-after-changing-apple-id">this question</a> and I am confused as to what actually happened.</p>

<p>I posted my suggested edit shortly after the question was posted initially (around 15 minutes after posting), yet my edit is not correctly listed and <a href="https://apple.stackexchange.com/review/suggested-edits/36761">was reverted</a> since it seemed to 'mess up' a <em>later</em> suggested edit.</p>

<p><img src="https://i.stack.imgur.com/5WR59.png" alt="Revision History"></p>

<p>For example, it shows that my suggested edit removed the <a href="https://apple.stackexchange.com/questions/tagged/imessage" class="post-tag" title="show questions tagged &#39;imessage&#39;" rel="tag">imessage</a> tag, yet this tag did not exist when I submitted my suggested edit.</p>

<p>The revision history shows that <a href="https://apple.stackexchange.com/users/54484/tubedogg">@tubedogg</a> submitted his edit 2 hours after the original post, considerably later than mine, yet mine also shows 2 hours, and being after his </p>

<p>What's happened, and why did Community not reject one of the edits?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1800" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-1800">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1800">Load Comments</button></br>
			<div id = "commentsection-1800" class = 'collapse'>
			<div id = "comment-3407" class = "comment">
				<p>Hmm, I remember approving the first two edits close after each other which is kind of strange since the system shouldn't let you edit a post where a suggested edit is still pending approval</p>
			</div>
			</div>
				<textarea id = "speech-1800" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1800">
					<img id="start_img-1800" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1800">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1801"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1801" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Reading the logs as closely as I can, it would appear that two suggested edits were allowed to be submitted to the same question, which the system ordinarily does not permit. Both were approved, but the second edit was applied on top of the first, which made less sense. As far as I can tell, this is a bug.</p>

<p>The one thing I about this that does make sense to me is that the time posted on suggested edits is the time at which they were approved, not the time at which they were submitted. So 2 hours after the original post is when both of your edits were approved, not when they were submitted.</p>

<p>Community  would not ordinarily reject an edit for that reason; instead, the ability to suggest an edit would be blocked if another suggested edit was pending.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1801" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1801">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1801">Load Comments</button></br>
			<div id = "commentsection-1801" class = 'collapse'>
			<div id = "comment-3418" class = "comment">
				<p>Is this http://meta.stackexchange.com/questions/195576/reviewing-suggested-edit-of-own-post-after-completing-20-reviews relevant?</p>
			</div>
			</div>
				<textarea id = "speech-1801" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1801">
					<img id="start_img-1801" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1801">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>