<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Suggested Edits now take more than one review?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1489" class = "post">
			<h2>Question</h2>
			<div id="vote-1489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 130</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suggested Edits now take more than one review?</h2>
<p>I accepted a suggested edit just now ( <a href="https://apple.stackexchange.com/questions/70269/hoew-to-use-a-unix-console-app">How to use a UNIX console app</a> ), but I get a note saying: </p>

<blockquote>
  <p>You have already reviewed this item. It needs more reviews from other users to be completed.</p>
</blockquote>

<p>Is this new? Why is there now extra verification on an edit?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1489" data-toggle = "popover">
				<p>user name : jmlumpkin</p>
				<p> user reputation : 7654</p>
				<p class = "tagcontent" id = "usertaginfo-1489">{'None': 6, 'review-page': 3, 'suggested-edits': 6, 'support': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1489">Load Comments</button></br>
			<div id = "commentsection-1489" class = 'collapse'>
			<div id = "comment-2796" class = "comment">
				<p>Good question! Speaking as a mod, I have no idea, so I hope someone does.</p>
			</div>
			<div id = "comment-2797" class = "comment">
				<p>The edit queue has been quite flakey for me lately (ok since they rolled out the new changes). Often when I choose an action, it doesn't work in that it won't clear. I've noticed that the system somehow corrects itself within a day or two and then it works until the next time it chokes on an edit...</p>
			</div>
			<div id = "comment-2798" class = "comment">
				<p>A majority of these recent 'features' really feel like something for the sake of change, versus history of the site. Its still very buggy, and constantly changing.</p>
			</div>
			</div>
				<textarea id = "speech-1489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1489">
					<img id="start_img-1489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1489">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1491"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1491" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes - it's very new. Site wide, it now takes two to tango (although I hear they are into threesomes on Stack Overflow).</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/151536/it-takes-two-to-tango">It takes two to tango?</a></li>
</ul>

<p>Good eye, jmlumpkin.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1491" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-1491">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1491">Load Comments</button></br>
			<div id = "commentsection-1491" class = 'collapse'>
			<div id = "comment-2799" class = "comment">
				<p>Thanks. No big deal, but just confuses me on all these changes. You can't even set a goal anymore for a new badge, or the like, because they change the rules every week. To me, this change almost instills a layer of untrust of a ranked user, versus more community engagement. The whole SE path has changed dramatically in the last two years, and sometimes really ask what for...</p>
			</div>
			<div id = "comment-2800" class = "comment">
				<p>Like anything - they saw a problem and attempted to fix it. We'll have to see if the downside is worth the fix. I actually like this for goal setting. Now, it's not so much a race for one person to clear the queue. If that's your thing, you can now do that, but twice the number of people get to see each change. You are correct, you can't focus on singlehandedly clearing the queue now.</p>
			</div>
			<div id = "comment-2801" class = "comment">
				<p>Well, my goal hasn't been to clear the queue per se. I can see how the new paths make it lessen the ability for one person to make major or constant changes, but on the flip side seems to now almost overmoderate - where a majority of the site feels like maintenance/moderation than Q/A (if you see that side).</p>
			</div>
			<div id = "comment-2802" class = "comment">
				<p>My opinion is the editing load is better served by more people doing less - this change means we don't have to be nearly as active as correcting people that start to have sole edit power. I don't think raising the rep to edit would be good - but new editors often need some guidance to get going (myself included). We didn't have a good way to see that in the past - perhaps this will start down that path...</p>
			</div>
			</div>
				<textarea id = "speech-1491" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1491">
					<img id="start_img-1491" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1491">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>