<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Suggestions for beginer in Robotics
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6596" class = "post">
			<h2>Question</h2>
			<div id="vote-6596" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 156</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suggestions for beginer in Robotics</h2>
<p>I am beginner in Robotics.I want to make serious start from scratch with interest but confused from where to start.So can anyone give some suggestions for 1.As a beginner in robotics ,<strong>are there some simple and basic robots or circuit
designs which I can make by myself in the home</strong>(so that I can gain practical knowledge of robots)? 2.or should I first read books (can anyone suggest some good reference  <strong>book names,articles ,links,free on-line  video lecture series</strong>)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6596" data-toggle = "popover">
				<p>user name : pandu</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-6596">{'None': 0, 'beginner': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6596" class = 'collapse'>
			</div>
				<textarea id = "speech-6596" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6596">
					<img id="start_img-6596" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6596">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6598"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6598" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Great to know that you are interested in Robotics. To start with robotics you should have a bit knowledge on how to do simple programs in C and if you have knowledge on Electronics and Mechanical then it will really help you out in designing robot parts understand the circuit and all. </p>

<p>For a beginner I would suggest you to check out <a href="http://arduino.cc/en/Tutorial/HomePage" rel="nofollow">Arduino Tutorials</a>, since it is easy to learn and has a large user-base. You will need to buy many components for your robotic projects such as sensors, leds, wires, motors, camera, etc and it can sometimes be costly. Before buying any robotic parts from your nearby stores or other sites you should check the price of the same at these sites <a href="https://www.adafruit.com/category/" rel="nofollow">Adafruit Shop</a>, <a href="http://element14.com" rel="nofollow">Element14</a>, <a href="https://www.sparkfun.com/" rel="nofollow">Sparkfun</a>, <a href="http://www.robotmarketplace.com/store.html" rel="nofollow">Robot Marketplace</a> and <a href="http://hobbyking.com/" rel="nofollow">Hobbyking</a> , maybe you will find a better option there.</p>

<p>Alternatively you can also check these sites to learn Arduino : <a href="https://learn.adafruit.com/category/learn-arduino" rel="nofollow">Adafruit</a>, <a href="http://www.ladyada.net/learn/arduino/" rel="nofollow">Ladyada</a>, Sparkfun,<a href="http://www.raywenderlich.com/tutorials#arduino" rel="nofollow">Ray Wenderlich</a> and <a href="http://www.instructables.com/howto/arduino/" rel="nofollow">Instructables</a>. Once you are done learning Arduino you can then learn PIC Microcontroller and following that embedded boards such as <a href="http://www.raspberrypi.org/" rel="nofollow">Raspberry Pi</a> and <a href="http://beagleboard.org/BLACK" rel="nofollow">Beaglebone Black</a>. By this time you will have good knowledge of how hardware and software works and you can then be able to dig into advances stuffs like Artificial intelligence and Autonomous bots.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6598" data-toggle = "popover">
				<p>user name : Anto Dominic</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-6598">{'None': 11}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6598">Load Comments</button></br>
			<div id = "commentsection-6598" class = 'collapse'>
			<div id = "comment-9497" class = "comment">
				<p>sir , what
software tools are must
required on my laptop.?
Are they available on
internet for downloading
and free?Can u send me
link?</p>
			</div>
			<div id = "comment-9500" class = "comment">
				<p>Which OS are you using??  Mac or windows or Ubuntu ??</p>
			</div>
			<div id = "comment-9501" class = "comment">
				<p>sir,my laptop has OS of Windows</p>
			</div>
			<div id = "comment-9503" class = "comment">
				<p>for Arduino there is an Arduino IDE for windows users -> http://arduino.cc/en/main/software</p>
			</div>
			<div id = "comment-9504" class = "comment">
				<p>For raspberry pie and beaglebone black has its own Os in it. You can download different OS supporting that device like an image file or tar file and follow up tutorials on how to install it. But for arduino its pretty much simple , just need to plug in the device to ur laptop via usb and then open up arduino IDE and write a program and compile it and burn.</p>
			</div>
			<div id = "comment-9505" class = "comment">
				<p>ok and thank you.I will go through it</p>
			</div>
			<div id = "comment-9506" class = "comment">
				<p>sure... Best wishes for your project...</p>
			</div>
			</div>
				<textarea id = "speech-6598" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6598">
					<img id="start_img-6598" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6598">Comment</button>
			<br><div id = "ans-6623"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6623" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>i wanna recommend to you 2 book :
[1]: Craig, John J. Introduction to robotics: mechanics and control. Addison-Wesley, 1989.</p>

<p>[2]: Spong, Mark W., Seth Hutchinson, and Mathukumalli Vidyasagar. Robot modeling and control. Wiley, 2006.
First book said simply lesson , you can esaily figure out 
i have studied both of them .</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6623" data-toggle = "popover">
				<p>user name : Parham sagharichi ha</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-6623">{'dh-parameters': 4, 'None': 0, 'forward-kinematics': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6623" class = 'collapse'>
			</div>
				<textarea id = "speech-6623" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6623">
					<img id="start_img-6623" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6623">Comment</button>
			<br><div id = "ans-6629"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6629" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Great to see bright new minds interested in the field.</p>

<p>If you are a student you might want to look into <a href="http://usfirst.org" rel="nofollow">F.I.R.S.T. Robotics</a>, or <strong>F</strong>or <strong>I</strong>nspiration and <strong>R</strong>ecognition of <strong>S</strong>cience and <strong>T</strong>echnology.</p>

<p>This is not something you can do yourself at home, but it is a program that I would highly recommend, and you will be able to join any team, need not any prior experiences;the community is about sharing our knowledge with others.</p>

<p>This is a program based primarily in the US with teams across the world that is dedicated to inspiring young minds in the arts.</p>

<p>On the main page, you can go to the <code>Programs</code> section and select a program for more information.</p>

<p>I do not know your age, but this may help others as well:</p>

<ul>
<li>F.L.L. (Grades 4 to 8)</li>
<li>F.T.C. (Grades 7 to 12)</li>
<li>F.R.C. (Grades 9 to 12)</li>
</ul>

<p>They also have available an event / team finder so you can check it out if you want!</p>

<p><a href="http://www3.usfirst.org/whats-going-on" rel="nofollow"><strong>Event &amp; Team Finder</strong></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6629" data-toggle = "popover">
				<p>user name : Matt Clark</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-6629">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6629" class = 'collapse'>
			</div>
				<textarea id = "speech-6629" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6629">
					<img id="start_img-6629" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6629">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>