<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Suggestion for correct battery pack
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9941" class = "post">
			<h2>Question</h2>
			<div id="vote-9941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 68</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suggestion for correct battery pack</h2>
<p>I am trying to run 2 12V Geared DC motors which has No-load current = 800 mA(Max), Load current = upto 9.5 A(Max). Runtime to be atleast 3-4 hours.<br>
The motor takes about 10-12 V for operation.<br>
I need a proper battery pack for these, but how can I determine the specs I should go for?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9941" data-toggle = "popover">
				<p>user name : YaddyVirus</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-9941">{'brushless-motor': 0, 'None': 2, 'raspberry-pi': 1, 'arduino': 1, 'battery': 2, 'rcservo': 0, 'current': 1, 'motor': 2, 'ultrasonic-sensors': 0, 'navigation': 0, 'steering': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9941">Load Comments</button></br>
			<div id = "commentsection-9941" class = 'collapse'>
			<div id = "comment-17712" class = "comment">
				<p>This is like the 5th question from you about a motor and a battery. No problem there, ask as many questions as you want. But **none of your questions has an accepted answer**.</p>
			</div>
			<div id = "comment-17714" class = "comment">
				<p>@BendingUnit22 actually I solved most of them on my own. I agree I've been irresponsible and irritating but rookie here, this community is the only help I got so, my apologies for being such a clumsy fool...</p>
			</div>
			<div id = "comment-17715" class = "comment">
				<p>Most of the batteries on the linked page are 11.1V Li-Poly. I'm not sure I would recommend those, unless you were experienced with that sort of thing. I would go for a 12V ni-mh pack made for model cars.  Or maybe a simple 12V lead-acid battery (of the leakproof gel-cell type) if you don't mind a little extra weight.</p>
			</div>
			<div id = "comment-17716" class = "comment">
				<p>@Andy lead-acid batteries aren't gonna pull it. I need to use Li-Po or some other reliable battery type.</p>
			</div>
			<div id = "comment-17717" class = "comment">
				<p>How are you a fool if you managed to solve your problems? Congratulations. There's nothing wrong with posting an answer to your own question. It's actually encouraged. This way you show others what worked for you and create a valuable resource for others.</p>
			</div>
			<div id = "comment-17718" class = "comment">
				<p>@BendingUnit22 thanks for that bro, I'll make sure I update all my questions... I'm a bit lazy as well though... :P</p>
			</div>
			<div id = "comment-17725" class = "comment">
				<p>@Chuck I think did mention those. I mean I've mentioned all the info about the motors I am using _which is available_. I mean there isn't a data sheet for this one so I've simply put all the details the manufacturer provided me with. I just need advice, I've already determined which one to go for but I'm unsure as I'm not very much into batteries at the moment. I've edited the question, hope its enough to remove it from hold...</p>
			</div>
			</div>
				<textarea id = "speech-9941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9941">
					<img id="start_img-9941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9941">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9950"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9950" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You haven't given a nominal (average or anticipated "normal") current draw for what you expect during the routine operation, so what I'm going to do will probably give you an over-specified battery pack for what you need. </p>

<p>Typically you would have some "worst case" load (all your sensors powered on, microcontroller powered on, all motors at full load, etc.) - this will provide the worst-case current draw and will establish what kind of a "C" rating the battery pack needs to have (more on this later).</p>

<p>Also, you typically aren't going to be operating at worst-case all the time, so you assume maybe your average duty cycle has all your electronics on and maybe your motors at 60% - again, this would be the <em>average</em> motor power during the entire time your device is powered on. This would establish what total capacity was required to provide the desired run time. </p>

<p>A "C" rate is the current that would drain (or charge) 100% of battery capacity in 1 hour. So, for a 1000mAh battery, 1C is (1000mAh/1h) = 1000mA, or 1A. Different battery styles and chemistries have different charging and discharging C rates, or maximum allowable current limits. The nice thing about using a C rate instead of an actual current limit is that it scales correctly for all batteries of a particular style and chemistry, regardless of capacity. </p>

<p>So, the easiest way to determine capacity is to figure your nominal total load and multiply that by your run time requirement. The best way to work with load is to multiply the current for each component by its operating voltage and get an operating <em>power</em>. Sum all of your component power requirements, then divide that by the battery pack's nominal voltage. Once you get a total current requirement <em>in terms of your battery voltage</em>, then multiply that by your desired run time to get required battery capacity. </p>

<p>In your case, you don't give an <em>average</em> load current, just a <em>maximum</em> current. So, based on that, you need a $(12\mbox{V})*(9.5\mbox{A})*(4\mbox{h}) = 456\mbox{Wh}$ battery. This is a significant amount of capacity.</p>

<p>If you are using a lead-acid battery, with a nominal voltage of 12V, then you need a capacity of 38Ah. If you are using a LiPO battery, with a nominal cell voltage of 3.6V, then you would need 3 (10.8V) or 4 (14.4V) in series (3S or 4S pack), and your required capacity is 42.2Ah or 31.7Ah, respectively. </p>

<p>Depending on how detailed you want to be with your battery pack specifications (or how stringent your requirements are) you may want to dig a little deeper with the pack design. </p>

<p>For instance, quality battery manufacturers should provide a curve that shows battery capacity versus discharge limits. As battery discharge current increases, the pack heats up and the internal resistance of the battery increases. This means that more power is wasted in the battery pack, reducing the effective output capacity of the battery.</p>

<p>More important even than that is checking the battery cycles versus depth of discharge. Some batteries could give you 2000 cycles if you discharge down to 40 percent state of charge but only 500 cycles if you went to 20 percent state of charge. Then it's up to you to determine what the benefit is of driving to a lower state of charge. </p>

<p>For instance, if you <em>need</em> to have 10Ah of capacity, you could either go to a (10/0.6) = 16.6Ah battery to go to a 40% state of charge during one "run" or you could use a (10/0.8) = 12.5Ah battery and push to a 20% state of charge. Both packs get you the capacity you need, but you'll wear out the smaller pack first because you're driving to a deeper depth of discharge. However, the benefits (reduced weight, reduced volume) may outweigh the cost (literally, cost of replacing the packs on a 4:1 basis) of using the larger pack. The smaller pack may also actually be less expensive than the larger pack, which could also help justify that decision. </p>

<p>I'll add too that, while you may commonly "float" a lead-acid battery to near 100% state of charge, it's bad (read:fires happen) when you try to do the same for lithium chemistry batteries. That is, lithium batteries may typically only ever get charged to 90% state of charge. </p>

<p><strong>So, in summary</strong>, </p>

<ol>
<li>Multiply your load current by the load voltage to get load power. Do this for each device you want to run. </li>
<li>Add these load powers together to get the total load power required, then multiply <em>that</em> by the desired run time to get the capacity requirement. </li>
<li>Choose a battery chemistry. This is generally based on energy density (how much the batteries weigh for a given capacity) and specific energy (how much space the batteries take up for a given capacity). </li>
<li>Based on the chemistry selected, add <em>nominal</em> cell voltages together until the desired operating voltage is achieved. </li>
<li>Using the same number of batteries selected above to achieve operating voltage, add the <em>maximum</em> cell voltages together and ensure that no maximum voltage specification is exceeded. </li>
<li>Divide the total capacity requirement in Wh or mWh by the <em>nominal</em> pack voltage calculated in step 4 to get the ideal battery capacity. </li>
<li>Find the allowable charge limits on the battery, based on depth of discharge limits and common charge limits. For instance, if the battery manufacturer suggests limiting discharge to 40% state of charge (a 60% depth of discharge), and suggests not charging above 90% state of charge, then the battery only really has 50% of its rated capacity available as useful output. </li>
<li>Find the actual required battery capacity by (ideal capacity)/(max charge - min charge). So a 10Ah battery that can only run between 40% and 90% would be (10Ah)/(0.9 - 0.4) = 20Ah pack required. </li>
<li>Finally, design the pack. The number of cells in series was calculated in step 4 above. Find a particular cell to use and get that battery's capacity. Divide the actual required capacity found in step 8 above and divide that by the cell capacity to get the number of cells to put in parallel. Take the ceiling of that number, which means if you find you need 2.05 cells in parallel, you need 3 cells in parallel to meet your requirements. </li>
<li>The total number of batteries required is the number in series (from step 4) multiplied by the number in parallel (from step 9). </li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9950" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9950">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9950">Load Comments</button></br>
			<div id = "commentsection-9950" class = 'collapse'>
			<div id = "comment-17741" class = "comment">
				<p>that's what I was looking for. Thanks a lot buddy! However I want the pack to run only motors (2 simultaneously). I made a custom battery pack out of old LiPo batteries out of a laptop battery and used a UBEC for voltage and current regulation, its running my microcontrollers (Arduino UNO, Raspberry Pi) and a servo motor just fine.</p>
			</div>
			<div id = "comment-17742" class = "comment">
				<p>@YaddyVirus - Yeah, relative to a pair of motors drawing up to (12V*9.5A) = 114W each, a microcontroller drawing maybe 50 or 100mW and a servo motor at maybe 0.25 or 0.5W is negligible.</p>
			</div>
			</div>
				<textarea id = "speech-9950" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9950">
					<img id="start_img-9950" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9950">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>