<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Suggestions for stepper motor controllers
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2918" class = "post">
			<h2>Question</h2>
			<div id="vote-2918" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 416</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suggestions for stepper motor controllers</h2>
<p>I am working on a project where a dslr camera will be rotated on a tripod on 2 axes. I'm definitely using nema 17 motors as those are what I have. The motors will rotate 30 degrees every 5 seconds in normal usage so speed is not a requirement. The weight of the camera is 1170g and I'm using 3d printed parts for the remainder of the mount. I tried running nema 17 stepper motors off a Adafruit Motor Shield V2 but the whole thing overheats (battery, driver, and motor). By the way, the motor will be controlled by an Arduino. I need to find another motor controller to use. I looked on ebay and things like this came up for 20 dollars which seems too good to be true. </p>

<p>My question is what motor driver should I use for this project as I have little experience with them outside of Arduino shields</p>

<p><img src="https://i.stack.imgur.com/hPqyQ.jpg" alt="A motor controller"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2918" data-toggle = "popover">
				<p>user name : Jkallus</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2918">{'stepper-driver': 1, 'None': 0, 'cameras': 1, 'motor': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2918" class = 'collapse'>
			</div>
				<textarea id = "speech-2918" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2918">
					<img id="start_img-2918" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2918">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2932"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2932" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A "nema 17 stepper motor ... controlled by an Arduino"
is the same setup used by RepRap 3D printers.
Perhaps one of the stepper drivers on the <a href="http://reprap.org/wiki/stepper_motor_driver#Stepper_drivers" rel="nofollow">"stepper motor driver" page at RepRep</a> would be adequate for your project.
That page also has many relatively unbiased comments about each one.</p>

<p>One thing that many people regret: they save a bunch of money buying an extremely low-cost stepper motor controller, and then they are pulling their hair out for weeks because of inadequate documentation.
Stuff with good documentation often costs a little more, but in my opinion is well worth it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2932" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-2932">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2932">Load Comments</button></br>
			<div id = "commentsection-2932" class = 'collapse'>
			<div id = "comment-5359" class = "comment">
				<p>The drivers used in the reprap are typically polulu or something similar, they require a ramps shield to operate with an arduino. I'm thinking something more contained like the one used here http://makezine.com/video/driving-big-stepper-motors-with-arduino/        Just not a driver for a nema 34 , because that's overkill</p>
			</div>
			</div>
				<textarea id = "speech-2932" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2932">
					<img id="start_img-2932" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2932">Comment</button>
			<br><div id = "ans-2934"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2934" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I decided on the RAMPS shield from the reprap open hardware initiative. The stepper motors are cheap and the board is too when bought from certain places. The board is expandable and has many possible reuses. Also the pololu drivers are plenty powerful for this project with up to 2.2 amps with proper heat management. They accept ranges up to 45 volts in some cases. Also I have never seen one break on a reprap printer with over 500 prints.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2934" data-toggle = "popover">
				<p>user name : Jkallus</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2934">{'stepper-driver': 1, 'None': 0, 'cameras': 1, 'motor': 1, 'arduino': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2934" class = 'collapse'>
			</div>
				<textarea id = "speech-2934" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2934">
					<img id="start_img-2934" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2934">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>