<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Suitable uC for atonomous robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9675" class = "post">
			<h2>Question</h2>
			<div id="vote-9675" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suitable uC for atonomous robot</h2>
<p>I am going to build an autonomous robot with Kalman-filter for localization integrated from Lidar, encoder, IMU and GPS. I will also add obstacle avoidance while moving to the required position.</p>

<p>Is the ATmega32 8-bit suitable for that (or Arduino Mega) or do I have to use avr32, ARM, or PIC32 and which is better?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9675" data-toggle = "popover">
				<p>user name : Catch.Me</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-9675">{'None': 1, 'localization': 0, 'arduino': 0, 'microcontroller': 0, 'wheeled-robot': 0, 'motion': 0, 'mobile-robot': 0, 'dynamics': 0, 'ros': 1, 'gazebo': 1, 'robotc': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9675">Load Comments</button></br>
			<div id = "commentsection-9675" class = 'collapse'>
			<div id = "comment-17161" class = "comment">
				<p>What size should it be? Should it walk, drive or fly? Or all of them?</p>
			</div>
			<div id = "comment-17176" class = "comment">
				<p>about 2-3 meters wide and 4-6 meters long and it's a ground vehicle.</p>
			</div>
			<div id = "comment-17177" class = "comment">
				<p>I was thinking of Arduino DUE.</p>
			</div>
			</div>
				<textarea id = "speech-9675" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9675">
					<img id="start_img-9675" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9675">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9685"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9685" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One could break down your problem to three areas: memory, speed and I/O. </p>

<p>Memory is pretty straightforward, but you have to estimate it yourself. Things to consider: Are you doing a map? Are you saving past state? If yes how long/much? etc.</p>

<p>Speed is a bit different: Assume you are building a quadcopter: If you have high latency in the controller's feedback loops the thing will not even fly. If you have a ground vehicle on the other hand you could simply drive slower. </p>

<p>Consider how you want to structure the program's control flow: Do you poll for new data all the time or do it interrupt-driven? 
How fast should your control loop run and what do you need to calculate during it? How many floating point operations do you need? How large is your map for obstacle avoidance? </p>

<p>Lastly what peripherals, sensors, debugging tools etc. do you want to connect and does the uC have enough connections to allow that? </p>

<p>If this is going to be a rather serious project, I would shy away from arduino, because if you need to have more control over the program and write low-level code things are likely to get messy. The learning curve to develop with Atmel Controllers directly is not that high. </p>

<p>With the meager information you provided I feel like the ATmega32 will be suitable, but if you need a fast control loop consider ARM with a floating point unit. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9685" data-toggle = "popover">
				<p>user name : caconyrn</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-9685">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9685">Load Comments</button></br>
			<div id = "commentsection-9685" class = 'collapse'>
			<div id = "comment-17185" class = "comment">
				<p>I do really wonder why you are saying that about Arduino. As I know Ardiuno uses gcc compiler, so any lower level (assembly inline etc) can be used or I misunderstand something!!</p>
			</div>
			<div id = "comment-17190" class = "comment">
				<p>Let's say you have used the standard servo library. If I recall correctly this is done via flipping a digital I/O all the time, which is about the least elegant way. If you build your system on top of such things you later have to refactor all the things if you want to do it properly. But this is much personal opinion of course, I had tried to indicate that.</p>
			</div>
			<div id = "comment-17192" class = "comment">
				<p>I do agree on that(It was challenging for me and using counter inside timer interrupt solved that). I got an Arduino due :( ,so I may be try Mat lab with it.</p>
			</div>
			<div id = "comment-17238" class = "comment">
				<p>So would be better if I used tm4c132 for that?</p>
			</div>
			<div id = "comment-17249" class = "comment">
				<p>I cannot really say that because your exact requirements are not know to me. Just read the datasheet and check if all the peripherals you need are there (SPI, ADC, UART, ... ) The processing power is certainly high enough even for demanding applications.</p>
			</div>
			<div id = "comment-17251" class = "comment">
				<p>For both peripherals are rich and suitable, but can I use edge detection (from a camera) algorithm on tm4c?</p>
			</div>
			<div id = "comment-17252" class = "comment">
				<p>Of course you can run it, the question is how fast it needs to be. The difficulty lies in doing things parallel and responding to sensor data fast enough. Perhaps it is even easier to have a separate small uC for such things as PID loops than having to write really good multithreaded code.</p>
			</div>
			<div id = "comment-17255" class = "comment">
				<p>OK. I will try to tackle this challenge with tm4c only or add to it p8x32a for parallelizing.</p>
			</div>
			</div>
				<textarea id = "speech-9685" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9685">
					<img id="start_img-9685" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9685">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>