<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Suitable gear construction for a robotic extender - plastic?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8797" class = "post">
			<h2>Question</h2>
			<div id="vote-8797" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 111</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Suitable gear construction for a robotic extender - plastic?</h2>
<p>I have a rather simple setup for my robotic extender. The DC motor turns a shaft with a worm on it. The worm connects to a small worm gear (green) which itself has a small gear (red) on the same shaft connecting to a large gear (blue):</p>

<p><a href="https://i.stack.imgur.com/v2PNY.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/v2PNY.png" alt="enter image description here"></a></p>

<p>The DC motor's gearbox gives around 50-100rpm and has a stall torque of around 2kg-cm. The small gear should be around 15MM tall and the large gear should be around 45MM tall.</p>

<p>If the load (on the large gear) has a maximum torque of 5kg-cm and a typical torque of 3kg-cm, could the two gears be made from plastic and be of module (metric form for pitch, as @Chuck pointed out) 0.5? Is a higher module needed? How about the worm, could it be made of plastic (nylon?)?</p>

<p>Any help will be appreciated.</p>

<p><strong>EDIT</strong> Fixed typos and updated diagram.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8797" data-toggle = "popover">
				<p>user name : Kar</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-8797">{'stability': 0, 'None': 0, 'linear-bearing': 4, 'torque': 1, 'gearing': 1, 'tracks': 4, 'motor': 6, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8797">Load Comments</button></br>
			<div id = "commentsection-8797" class = 'collapse'>
			<div id = "comment-14426" class = "comment">
				<p>What do you mean when you say "module"?</p>
			</div>
			<div id = "comment-14427" class = "comment">
				<p>I'm not sure if module is the correct term, but I've seen it used at several places - like [here](http://sdp-si.com/products/miniature-gears-metric.htm) and [here](http://i01.i.aliimg.com/img/pb/493/441/536/536441493_635.jpg).</p>
			</div>
			<div id = "comment-14428" class = "comment">
				<p>Ah - for later readers, the [module](https://en.wikipedia.org/wiki/Gear#Standard_pitches_and_the_module_system) is the metric form of "pitch" - It's just the number of teeth divided by the pitch diameter.</p>
			</div>
			<div id = "comment-14429" class = "comment">
				<p>@Chuck what is the equivalent pitch measurement "class" for 0.5 module? The chart translates to a rather ugly number.</p>
			</div>
			<div id = "comment-14430" class = "comment">
				<p>You're not going to get an exact translation to an Imperial gear because it is a messy conversion.</p>
			</div>
			<div id = "comment-14434" class = "comment">
				<p>Your picture and description aren't clear enough for me to know for sure what sorts of gears or worms you are talking about.  It sort of seems like you plan to couple a worm to the motor shaft, thus driving a small gear that then drives a large gear.  However, another possible interpretation is the first worm drives a small gear on the same shaft as a worm that drives the large gear.  I suggest you label the parts (A, B, C...) and provide an edge view as well as a plan view.</p>
			</div>
			<div id = "comment-14436" class = "comment">
				<p>@jwpat7 Sorry for the confusion caused. I've colour coded the gears and fixed my description. Hopefully it's clearer now.</p>
			</div>
			<div id = "comment-14437" class = "comment">
				<p>Kar, thanks for the update, +1, now much clearer</p>
			</div>
			</div>
				<textarea id = "speech-8797" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8797">
					<img id="start_img-8797" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8797">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8799"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8799" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What's the point of the middle gear? It's not doing anything for you reduction-wise because it's on a different shaft than the larger gear. </p>

<p>There's an equation <a href="http://www.sdp-si.com/plastic/design-of-plastic-gears.htm" rel="nofollow">here</a> that should give you the maximum allowable force for a nylon worm gear (Equation 18-4).</p>

<p>A torque of 5 kg-cm caused by a force at (45/2) = 22.5mm (2.25cm) means the force is 2.2 kgf. While I detest "kgf" as a force unit, it's what the formula I linked uses as an output, so this is the number you would compare to the formula there. </p>

<p>If your material is nylon and the pitch diameter is fixed, then the only thing you have to play with is the gear pitch and maybe the lead angle. You haven't specified a lead angle for the worm gear so I can't go any further than this. </p>

<p>Notice also <a href="http://www.sdp-si.com/plastic/design-of-plastic-gears.htm" rel="nofollow">Equation 18-8</a>, the sliding speed for the worm, and the limitations that this puts on your system as well. </p>

<p>I would caution against using nylon gears for any power transmission application as I've found that the gears always strip. To be fair, I've always used off-the-shelf parts (servos, reduction gears, etc.) and not something I went through the effort to design myself. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8799" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8799">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8799">Load Comments</button></br>
			<div id = "commentsection-8799" class = 'collapse'>
			<div id = "comment-14433" class = "comment">
				<p>The middle gear is just there to elevate the large gear. The issue is that motor shaft is relatively short, so that motor case will be in the way of the large gear if it wasn't elevated. My concern with metal gears is that I can't find them. I'm using a D-shaped M3 shaft and I can't even find the right worm for it.</p>
			</div>
			<div id = "comment-14435" class = "comment">
				<p> never go with nylon gears for anything  does not make sense.  Take apart almost any printer and you'll find loads of plastic gears in light-duty applications where using a metal gear would be silly.  In robotics, plastic gears can make sense in steering, sensor rotation, etc.  I agree that in this application with the loads mentioned metal gears probably are needed.  However, advice like  never go with nylon gears for anything  is wrong.</p>
			</div>
			<div id = "comment-14438" class = "comment">
				<p>Chuck, see the new picture that at least partly answers  What's the point of the middle gear?  and probably obsoletes  It's not doing anything for you reduction-wise because it's on a different shaft than the larger gear. </p>
			</div>
			<div id = "comment-14439" class = "comment">
				<p>@jwpat7 - I'll concede that, for *positioning*, plastic gears may be acceptable, but I would never use plastic gears for power transmission. Every time I've tried to use plastic gears for moving anything that could be considered a "load" I've been disappointed.</p>
			</div>
			<div id = "comment-14440" class = "comment">
				<p>@Chuck Are plastic gears actually that bad? I think most power lock actuators use [plastic gears](http://s.hswstatic.com/gif/power-lock-actuator2.jpg). Like [this one](http://forum.ih8mud.com/attachments/exploded-jpg.255363/) as well.</p>
			</div>
			<div id = "comment-14441" class = "comment">
				<p>I'm having issues finding the values to the parameters needed for this equations. I'll need to spend more time. Meanwhile, I'm trying this [calculator](https://www.polyplastics.com/ppg/CheckGear03.do). For 5kg-cm, 40 teeth, module 0.8, I'm getting fairly close. But any idea to what "engaging gear width" might mean? Is it "space width" in this [diagram](https://www.cs.cmu.edu/~rapidproto/mechanisms/figures/gear.terms.gif)?</p>
			</div>
			</div>
				<textarea id = "speech-8799" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8799">
					<img id="start_img-8799" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8799">Comment</button>
			<br><div id = "ans-8803"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8803" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've done a couple worm drive designs and I threw the numbers you gave (Assuming sd-spi nylatron gears) into my calculations.</p>

<p>I'm using AGMA 6022-C93 Worm gear design guidelines for tooth width and thickness to get the shear area. I'm assuming 3 teeth in contact and mesh efficiency around 30%.</p>

<p>The tooth stresses are a little more than one order of magnitude below shear strength of the plastic, which means it will probably work.</p>

<p>Usually one uses two different materials for the worm and gear to help with friction and wear.</p>

<p>The AGMA document above is worth reading if you are serious about your design. Between the sd-spi technical documents and the AGMA documents you will have all the info you need for calculations.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8803" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8803">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8803">Load Comments</button></br>
			<div id = "commentsection-8803" class = 'collapse'>
			<div id = "comment-14443" class = "comment">
				<p>I'm still trying to come up with the parameter values for the sd-spi equations @Chuck provided in his answer. When you crunched my figures, did you assume a POM worm / worm gear? I'm very new, but an order of magnitude below shear strength sounds really good.</p>
			</div>
			<div id = "comment-14452" class = "comment">
				<p>You'll need to look up the symbol meanings in the [technical reference](http://sdp-si.com/D805/D805_PDFS/Technical/8050T000.pdf) since they leave some undefined in @Chuck's link. Your sliding speed is .05 m/s so you don't need to worry about that. Nylatron is the material I used.</p>
			</div>
			<div id = "comment-14453" class = "comment">
				<p>An order of magnitude is NOT really good. Just adequate to proceed. The real world is a lot more complex than the math we use for estimation. Equations from basic principles are fine if you know the assumptions that were made in developing them. Things like K factors and material characteristics can be dangerous. Treat every number with suspicion and plan on some testing and design iteration. For instance, do you know who is making your POM and what the strength variation between batches is? Math is important but it just get's you to a starting point for design.</p>
			</div>
			<div id = "comment-14454" class = "comment">
				<p>Nylatron = Nylon MC901 in the link from @Chuck</p>
			</div>
			</div>
				<textarea id = "speech-8803" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8803">
					<img id="start_img-8803" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8803">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>