<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Sun tracking with +~- 0.1degree accuracy?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5156" class = "post">
			<h2>Question</h2>
			<div id="vote-5156" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 244</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Sun tracking with +~- 0.1degree accuracy?</h2>
<p>For a school project I am looking to track the sun with +/- 0.1 degree accuracy for use with a parabolic dish reflector. Say we need a final output torque of about 20Nm, what kind of gearing/motors and feedback would you guys use to accomplish this? The sun position will be found with a solar positioning algorithm.</p>

<p>I am pretty new to this all but from my research stepper motors seem the easiest but brushless DC motors, from what I have read, can yield better results with smoother tracking. I am confused how you even use regular brushless dc motors to achieve precision positioning. I am aware of encoders but I don't really understand why the BLDC are preferred for this particular application, and how one would implement them.. Any ideas that can help kick start my researching?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5156" data-toggle = "popover">
				<p>user name : SoLost</p>
				<p> user reputation : 38</p>
				<p class = "tagcontent" id = "usertaginfo-5156">{'servomotor': 2, 'None': 0, 'beagle-bone': 5, 'c': 5, 'brushless-motor': 2, 'motor': 2, 'stepper-motor': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5156" class = 'collapse'>
			</div>
				<textarea id = "speech-5156" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5156">
					<img id="start_img-5156" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5156">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5159"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5159" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you look a stepper motors they have not an infinite resolution: They have a fixed stepwidth, which can be break down by modulating the input signals with sin waves, but you  <a href="http://www.micromo.com/microstepping-myths-and-realities" rel="nofollow">loose torque</a>. <br>
So you say you need 20Nm torque. Which is a lot for a standalone stepper, therefor you need one with a gearbox. I suggest you buy a stepper with 0.5Nm, which is a pretty common value for a powerful stepper. Take a gearbox with 1:100. This means one revolution on your device's side mean 100 revolutions on your stepper's side. Therrefor you have a theoretical torque of 50Nm, which is a pretty good value for a 20Nm load. <br>
I assume your stepper has the standard resolution of 200Steps/Revolution. Now with the gearbox you  have a resolution of 20kSteps/Revolution or 0.018  per step. <br>
I won't suggest using microstepping for this setup, Because you already have enought resolution and you will only loose torque. <br>
The huge Problem now is the method how you "control" the stepper. You basically have two posibilities: Open and Closed Loop. Most of the time you use a stepper in openloop, because he usually does one step if you tell him to do one step. BUT you can "loose" step, which is caused by a to high load-torque. So open loop is not the best but the simplest solution. In closed loop you simply use an encoder on the stepper motor and control it. In your setup you don't have any dynamically changing loads, but this is your decision.</p>

<p>For BLCD it is basically the same. You will need a gearbox, too. There are gearless BLDC with this high torque, but they are not reasonable for this project (~5k$). The BLDC has no restriction is resolution, but it needs an encoder and a control loop. Unfortunatly I cannot tell a lot about typical values for BLDC.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5159" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-5159">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5159">Load Comments</button></br>
			<div id = "commentsection-5159" class = 'collapse'>
			<div id = "comment-7928" class = "comment">
				<p>*hit enter by mistake*.I will attach the encoders adjacent to the dish and inline with it's rotational axis'.  I have been looking at these two particular set-ups: http://www.dunkermotor.com/default.asp?mid=153&lang=2&id=13&gid=5&cid= versus   http://www.omc-stepperonline.com/gear-ratio-471-planetary-gearbox-nema-23-geared-stepper-motor-23hs222804spg47-p-147.html If I were to use a BLDC how would I move it to the right position? I assume I would just run it until I reach the desired value from the encoder but will it stop immediately after I issue the command?</p>
			</div>
			<div id = "comment-7929" class = "comment">
				<p>You need to implement a closed loop control. This mean depending in the actual Position and the target Position the motor will be powered with a specific current</p>
			</div>
			<div id = "comment-7930" class = "comment">
				<p>It seems the stepper motor would be much easier to implement if that's the case. Given your suggested 100:1 ratio with a 200steps/rev stepper would you think there is any benefit to using a BLDC? I assume that with a 12bit encoder my precision would be limited by the encoder anyways?</p>
			</div>
			<div id = "comment-7931" class = "comment">
				<p>Stepper is sufficient in my mind</p>
			</div>
			</div>
				<textarea id = "speech-5159" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5159">
					<img id="start_img-5159" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5159">Comment</button>
			<br><div id = "ans-5162"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5162" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, the sun moves pretty slowly across the sky.  So your best bet is to get a motor and gear it down heavily.  I'd say the type of motor doesn't matter as much as your sensing and control loop.  </p>

<p>you definitely want to put an encoder directly on your dish.  This will eliminate errors from the gear train backlash.  i think you will want a 12 bit encoder or better.  this will give you slightly better than 0.1 degree accuracy.  (360 / 2^12 = 0.087 degrees per count).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5162" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5162">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5162">Load Comments</button></br>
			<div id = "commentsection-5162" class = 'collapse'>
			<div id = "comment-7923" class = "comment">
				<p>When you gear it down, the encoder can have a worse resolution</p>
			</div>
			<div id = "comment-18437" class = "comment">
				<p>No, the motor is geared down, but the encoder is fixed directly to the output.</p>
			</div>
			</div>
				<textarea id = "speech-5162" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5162">
					<img id="start_img-5162" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5162">Comment</button>
			<br><div id = "ans-10281"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10281" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have the same exact problem that all astronomical telescope drives have.  The easiest solution is to align your axis so that one of them is EXACTLY parallel  to the Earth's pole.  Now  you only need one motor to track the sun as it moves.</p>

<p>The second motor needs only a small range of motion and only needs to move a tiny bit every day and then it can "put on the brakes" literally to keep this axis from moving.  We call this the declination axis</p>

<p>This type of drive moves in something like a latitude and longitude coordinate system.  They are spherical not cartesian and it make tracking the sun very simple. So simple you don't need computer control.</p>

<p>The large motor needs to rotate about one revolution per day.  The smaller motor makes a few degrees of motion per year and then reverses.  It is mostly stationary.</p>

<p>You are in fact building a CLOCK and in fact in these these drives were called "clock drives" because SPEED is the thing you need to control not position.  The sun goes not move randomly.   A hundred years ago, before electronics were available, they used springs and pendulums to regulate the speed, just like you'd see in a large clock.</p>

<p>typically the axis that is parallel with Earth's pole called the "polar axis" is tilted to match your latitude is fitted with a large worm gear.  Get the largest and best one you can afford.  The pinion that drives this worm uses a motor that can be very accurately speed controlled.  It will need an encoder on the motor shaft to measure speed.  You will need a feedback loop to keep the speed constant as the mechanical load changes.</p>

<p>In any case think more about controlling exact SPEED as this drive will move very slowly and must not do so in steps or you will have huge vibration problems.  If the mass of the load is high you MUST move it continuously not in anything like small steps.</p>

<p>One other thing:  You seem to want to move this "open loop".  But why not try and track the sun with some kind of sensor?  All you need is a small tube with both ends closed.  Face one end approximately at the sun and make a tiny pinhole in the sun facing cover.  this will project a tiny dot of light on the other cover.  control the speed of your polar axis drive motor so as to keep the projected dot from moving.  Someone suggested placing an encoder on the shaft, no need when your target is so bright and easy to track.</p>

<p>Problems you will face:  (1) your axis is not perfectly aligned with the Earth's axis.  This means that for sure you can not use an open lop drive and WILL need to track the Sun optically.   This is another reason not to depend on a shaft mounted encoder.  Also I lied about the declination motor being able to clamp on the brakes.  That only works in the axis are perfect.  It will not be perfect.</p>

<p>You will have these problems but even worse it you try to build an "X, Y" type drive where one axis is vertical and the other horizontal.   You will find that your two axis are not at exactly 90 degrees and they are not pointing where you think they are. You will have to track the sun with a sun sensor less you spend a LOT of money building a very rigid and precise mechanical system</p>

<p>the good news is that this is a well known problem and there are many ways to go.  Computers make it cheaper then in the last century because we can build a cheap sun tracker to compensate for the faults of a less then perfect mechanical system.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10281" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-10281">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10281" class = 'collapse'>
			</div>
				<textarea id = "speech-10281" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10281">
					<img id="start_img-10281" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10281">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>