<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Supplying power from a power bank to an arduino and DC Motors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12108" class = "post">
			<h2>Question</h2>
			<div id="vote-12108" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 319</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Supplying power from a power bank to an arduino and DC Motors</h2>
<p>I have a two port powerbank capable of supplying a maximum of 5V 2.1A</p>

<p>I'm using it to power an Arduino and a L293D IC connected to two DC motors which have the following specifications:</p>

<ul>
<li>Working voltage : 3V to 9V</li>
<li>No-load current = 60 mA, Stall current = 700 mA</li>
</ul>

<p>The setup is not working and I have made the following observations</p>

<p>1) The voltage across the output terminals of the powerbank is read as 4.9V (when the arduino is not powered either from the other port of the power bank or another power supply all together)</p>

<p>2) The voltage across the output terminals of the powerbank is read as 4.0V when the Arduino is powered either from the other port of the power bank or my laptop</p>

<p>This voltage is given to the L293D Pin 8 (That is meant to be given 12V). A 12V to 5V buck provides the 5V to the IC itself (this is part of the motor driver board)</p>

<p>3) When only one motor is switched on, the voltage provided to that motor is 2.8V. The motor rotates only when given some manual force on the axle.</p>

<p>4) When both motors are switched on, the voltage provided to each motor is around 0.5V. Both the motors don't rotate at all.</p>

<p>5) When only one motor is switched on, the voltage reads around 0.2V until given manually rotating the axle after which it picks up speed.</p>

<p>I couldn't measure the current (or rather measured current to be 0A) anywhere as the motors don't rotate at all if I connect the ammeter. I understand that the power bank supplies power only when the load connected to it demands the power (due to smart sensing).</p>

<p>What should I do so that the power bank continually provides 5V and this 5V is delivered to each motor?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12108" data-toggle = "popover">
				<p>user name : prajwaldp</p>
				<p> user reputation : 20</p>
				<p class = "tagcontent" id = "usertaginfo-12108">{'None': 0, 'power': 3, 'localization': 0, 'arduino': 3, 'swarm': 0, 'motor': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12108">Load Comments</button></br>
			<div id = "commentsection-12108" class = 'collapse'>
			<div id = "comment-21448" class = "comment">
				<p>Can you provide a schematic/drawing of how everything is connected? As [Fab-B mentions](http://robotics.stackexchange.com/a/12110/9720), I can't tell where you have 12V anywhere in the system, so I'm not sure why you would have a 12V to 5V converter.</p>
			</div>
			<div id = "comment-21449" class = "comment">
				<p>@Chuck. Yes, there's no 12V anywhere in the system. The 12V to 5V converter exists on the motor driver board so that less number of connections need to be made. I tried the same setup using just the IC and a bread board, and the result is way better. 4.3V provided to both motors. Thanks for all your help!</p>
			</div>
			<div id = "comment-21458" class = "comment">
				<p>I have the same peoblem teying to run a small rc toy car from powerbank. My bet is over current protection or some other smart feature in the control chip of the powerbank</p>
			</div>
			</div>
				<textarea id = "speech-12108" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12108">
					<img id="start_img-12108" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12108">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12110"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12110" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you sure the problem is about smart sensing ?</p>

<p>You should look about your 12V to 5V converter. Most of these devices require a minimum voltage above the desired voltage.</p>

<p>Typically, many 5V regulators requires 7V input.</p>

<p>Also, is this regulator necessary ? Since your powerbank supply 5V, you don't need to lower the voltage.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12110" data-toggle = "popover">
				<p>user name : Fab-B</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-12110">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12110">Load Comments</button></br>
			<div id = "commentsection-12110" class = 'collapse'>
			<div id = "comment-21445" class = "comment">
				<p>The voltage regulator is an LM7805 and yes, it does require 7V. I'll try using just the IC. Thanks!</p>
			</div>
			<div id = "comment-21450" class = "comment">
				<p>Using just the L293D IC on a breadboard gave me good results. 4.3V to both motors when run together and 4.9V to a motor when run individually. Thanks a lot!</p>
			</div>
			<div id = "comment-21477" class = "comment">
				<p>With the L293D IC, there are 2 power connections pins. In my project I supplied 5v to the IC via a low drop out 5V Regulator (works closer to 5v) and to the other pin I gave it 7.5v which supplies power to the motors.</p>
			</div>
			</div>
				<textarea id = "speech-12110" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12110">
					<img id="start_img-12110" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12110">Comment</button>
			<br><div id = "ans-12111"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12111" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A powerbank is a battery. It sounds like your battery is not charged. When was the last time you charged it? What happens when you try to charge it now?</p>

<p>I would suggest putting it on to charge for an hour at least and checking if performance is better or worse.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12111" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-12111">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12111">Load Comments</button></br>
			<div id = "commentsection-12111" class = 'collapse'>
			<div id = "comment-21444" class = "comment">
				<p>Yes, I keep charging it. It was almost fully charged when I made the observations.</p>
			</div>
			<div id = "comment-21446" class = "comment">
				<p>@prajwaldp - What's the specific model number for the power bank? Have you tried using a different one?</p>
			</div>
			<div id = "comment-21447" class = "comment">
				<p>It's a lenovo pa10400. And I haven't tried any other power bank yet</p>
			</div>
			</div>
				<textarea id = "speech-12111" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12111">
					<img id="start_img-12111" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12111">Comment</button>
			<br><div id = "ans-13968"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13968" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's important to know how much mAh (miliAmperes per hour) is capable your power bank. And also, specially for DC motors to know peak current that could provide too.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13968" data-toggle = "popover">
				<p>user name : Sphinx</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-13968">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13968">Load Comments</button></br>
			<div id = "commentsection-13968" class = 'collapse'>
			<div id = "comment-22833" class = "comment">
				<p>Welcome to *Robotics* Sphinx. Thanks for your answer but we are looking for comprehensive answers that provide some explanation and context. Very short answers cannot do this, so please edit your answer to explain why it is right, ideally with citations. Answers that don't include explanations may be removed.</p>
			</div>
			</div>
				<textarea id = "speech-13968" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13968">
					<img id="start_img-13968" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13968">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>