<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Switching from wall power to battery and back again
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10769" class = "post">
			<h2>Question</h2>
			<div id="vote-10769" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Switching from wall power to battery and back again</h2>
<p>I'm in the final phase of my BeerBot* project, and I'm looking for the best way to power it.</p>

<p>BeerBot will spend most of his life sitting in a docking station, keeping his battery charged and running off of wall power.  When called upon, he needs to be able to disconnect from the docking station and switch to battery power without interrupting power to his brain.  Upon returning to his docking station, he needs to switch back to wall power again.</p>

<p>I have a NiMH charge circuit, and I have a circuit for powering the robot from a wall outlet, I'm just not sure how to switch from one to the other without interrupting power.  For my testing thus far, I've just been shutting the robot down and manually switching between wall power and battery power, and connecting the battery to an external charger as needed.  This is obviously not a permanent solution, since BeerBot needs to be always at the ready - shutting him down to switch over to battery power every time I need a beer would defeat the whole purpose of BeerBot*.</p>

<p>So my question is, what is the best way to keep a robot powered from the wall, simultaneously charging the battery, and switching between wall power and battery power automatically when disconnected?  I guess this is analogous to the way a laptop works - switching to battery when unplugged and and keeping the battery charged while plugged in.</p>

<p>I don't care if it's a ready-made solution or a circuit I can build, I'm just looking for a good way to do this without frying my robot or setting my house on fire.  I'm mostly a software guy, so I know just enough about circuit design to be dangerous (and I've fried enough electronics to know that power supplies can be dangerous...).  I've been looking at power management ICs, but I'm thinking that might be overkill since I already have a charging circuit and a wall-power circuit, I just need a way to switch between them.  Can I just connect both and use a couple of diodes to keep current from flowing in directions it shouldn't, like this?</p>

<p><a href="https://i.stack.imgur.com/hw6JA.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/hw6JA.jpg" alt="enter image description here"></a></p>

<p>or do I need something more complex?  </p>

<p>.</p>

<p>*If you're curious, BeerBot is a semi-autonomous beer-seeking robot.  He sits quietly in the corner listening for commands.  Currently his only command comes from a modified <a href="http://www.staples.com/Staples-Easy-Button/product_606396" rel="nofollow noreferrer">Easy Button</a> on my desk, which sends a wireless signal to BeerBot.  When he hears the signal, he wakes up, drives autonomously to the refrigerator, opens the door with his robotic arm, uses computer vision to detect a beer bottle (placed strategically on the bottom shelf where he can reach), grabs a cold one, closes the refrigerator door, brings the beer to my desk, and returns to his corner to await my next request.  Phase 2 will incorporate a bottle opener.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10769" data-toggle = "popover">
				<p>user name : Jeff Loughlin</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-10769">{'battery': 1, 'None': 0, 'power': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10769" class = 'collapse'>
			</div>
				<textarea id = "speech-10769" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10769">
					<img id="start_img-10769" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10769">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10775"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10775" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Basically the simple <strong>Diode-OR</strong> circuit, you just have shown would be enoguh, if you (or your circuits) can get along with the voltage drop on the diodes. It is about 0.3 V - 0.5 V depending on the diodes you choose. But there is one thing you have to make sure, so the switching between the power supplies will happen correctly.</p>

<p><a href="https://i.stack.imgur.com/dNeYW.gif" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/dNeYW.gif" alt="enter image description here"></a></p>

<p>The voltage from the wall supply should be larger than the voltage from the battery, ensuring that when the wall adapter is connected D1 will conduct and D2 won't.</p>

<ol>
<li>Wall adapter is disconnected: $$ V_{out} = V_{battery} $$</li>
<li>When the robot connects to the adapter, where: $$ V_{wall} &gt; V_{battery}(=V_{out}) $$
then D1 will conduct as the voltage on its anode (+) will be higher than on its cathode (-).</li>
<li>Now the output will be: $$ V_{out} = V_{wall} $$
so the voltage on the cathode (-) of D2 will be higher than on its anode (+), disconencting the battery.</li>
</ol>

<p>This won't work if the two voltage sources are equal, slightly equal.</p>

<hr>

<p>There are also available autoswitching power multiplexer ICs on the market, such as this <a href="http://www.ti.com/lit/ds/symlink/tps2114a.pdf" rel="nofollow noreferrer">one</a>.</p>

<p><a href="https://i.stack.imgur.com/AEbr1.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/AEbr1.png" alt="enter image description here"></a></p>

<p>Note that, this is just an <strong>example</strong> and it does not support 12 V input. You can find one with the correct voltage and current ratings though.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10775" data-toggle = "popover">
				<p>user name : Bence Kaulics</p>
				<p> user reputation : 605</p>
				<p class = "tagcontent" id = "usertaginfo-10775">{'None': 26}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10775" class = 'collapse'>
			</div>
				<textarea id = "speech-10775" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10775">
					<img id="start_img-10775" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10775">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>