<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Switch activated by a microcontroller
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10178" class = "post">
			<h2>Question</h2>
			<div id="vote-10178" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 49</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Switch activated by a microcontroller</h2>
<p>I'm working on a project where I'm using a voltage that is higher than what most microcontrollers can handle. I'm looking for a kind of switch that will connect a power source to an electromagnet and all of this controlled by my microcontroller. I also thought about using a potentiometer to control the speed of two high voltage DC motors via my microcontroller so please tell me if this is a good idea aswell. <br />
Thanks for your time
<br />
Zakary</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10178" data-toggle = "popover">
				<p>user name : ZakFS</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-10178">{'None': 0, 'microcontroller': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10178">Load Comments</button></br>
			<div id = "commentsection-10178" class = 'collapse'>
			<div id = "comment-18114" class = "comment">
				<p>What you are describing is called a "transistor". That might help in your search.</p>
			</div>
			</div>
				<textarea id = "speech-10178" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10178">
					<img id="start_img-10178" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10178">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10179"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10179" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use a relay for the switch. Relays typically have 4 pins: 2 are the switch, and the other 2 control the switch. For reed relays, the switch is a small metal reed (normally closed) that makes contact when an internal electromagnetic coil is powered. </p>

<p>You have to pick the right relay so that your microcontroller can supply sufficient current to controlling pins of the relay. You also need to make sure that the switch of the relay can handle the current flowing from your power source to the electromagnet.</p>

<p>For the motors, consider getting a separate motor control board, which will isolate your microcontroller from the motors and allow you to control their velocity with PWM--you can then use the potentiometer to set the specific PWM duty cycle to control the motors.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10179" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-10179">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10179">Load Comments</button></br>
			<div id = "commentsection-10179" class = 'collapse'>
			<div id = "comment-18122" class = "comment">
				<p>Thank you so much this is exactly what I was looking for! I thought I would have to use a third electromagnet to open and close the switch so this should save me some time.</p>
			</div>
			<div id = "comment-18150" class = "comment">
				<p>@ZakFS - I'll add/reiterate Shahbaz's comment that an NPN transistor can assist or do the job entirely. It depends on your application; if you have very high currents then using a relay would be the solution, but you could use a transistor to drive the relay. On an NPN transistor, connect the **E**mitter to ground, the **B**ase to the I/O pin on the microcontroller, and the **C**ollector to the "low" side of the relay coil. Connect the high side of the relay coil to battery positive. The I/O pin triggers the transistor, which in turn triggers the relay.</p>
			</div>
			</div>
				<textarea id = "speech-10179" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10179">
					<img id="start_img-10179" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10179">Comment</button>
			<br><div id = "ans-10184"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10184" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can connect your switch to a comparator, such as the LM339, and wire its output to the microprocessor input pin.   It has open collector outputs, so you can pull the outputs up to whatever voltage level your micro can handle.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10184" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-10184">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10184" class = 'collapse'>
			</div>
				<textarea id = "speech-10184" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10184">
					<img id="start_img-10184" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10184">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>