<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>System for determining occupied seats in an auditorium
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2304" class = "post">
			<h2>Question</h2>
			<div id="vote-2304" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1139</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>System for determining occupied seats in an auditorium</h2>
<p>I need an app that can do live monitoring of whether each seat in an auditorium is occupied,  so visitors can load the app and see where to sit.    </p>

<p>The auditorium has a relatively flat ceiling 4m high, and the seats are .5m wide. 
The hardware cost per seat needs to be $5.</p>

<p>I'm looking for all solutions.  Web cams, preasure sensors, sonars, lasers, arduino, pi, intel edison, anything. </p>

<p>Obviously there cannot be wires that people could trip over.  Sensors on the ceiling could have wired networking.  Sensors on the seat or floor would need to have wireless communication.  sensors on the ceiling would need to consider occlusion by people sitting in the seats (think, if there is an empty spot between 2 people, can the sensor see it as empty)</p>

<p>In the end, the data needs to be collected as a simple list of which chairs are occupied/open</p>

<p><img src="https://i.stack.imgur.com/dGKyO.png" alt="enter image description here"></p>

<p>Possible solutions:</p>

<ul>
<li>rasberry pi's on the ceiling every 8 seats with a camera.   </li>
<li>pressure sensors under chair legs wired to pi's gpio</li>
<li>Drones flying around the auditorium :)</li>
</ul>

<p>Any ideas?</p>

<p><strong>Update (more constraints):</strong></p>

<ul>
<li>auditorium size is 400 seats</li>
<li>Installation costs should average 10 chairs per hour(400/10 = 40 hours)  </li>
<li>as the picture shows, chairs are cushioned</li>
<li>regular maintenance should take no longer than 30 min. per 2-hour event(eg, batteries)</li>
<li>hardware should last 100 sessions</li>
<li>for auditorium cleaning, it should be possible to "disconnect" and "reconnect" the chairs with 4 hours of labor.</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-2304" data-toggle = "popover">
				<p>user name : AwokeKnowing</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-2304">{'None': 0, 'computer-vision': 1, 'sensors': 1, 'raspberry-pi': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2304" class = 'collapse'>
			</div>
				<textarea id = "speech-2304" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2304">
					<img id="start_img-2304" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2304">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2305"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2305" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>OK, so the hardware cost per seat is $5. But what is the total cost per seat? What's the total cost for the whole auditorium? In short, what's your budget? Who will maintain this system? What other constraints do you have?</p>

<p>A simple pressure switch can be made for 50 cents, but wiring it might cost $100 per seat, so you meet the hardware cost constraint, but may fail elsewhere.</p>

<p>That said, with what little you've told us, the simple solution is to put a pressure plate on each seat, with sensor wires going down into the floor. Then all those sensors can be read by a single computer with a lot of input channels. That could easily be built for a cost of $200 + $5/seat, but I suspect that the installation costs will kill you.</p>

<p>If you want wireless communication, now you have to deal with how to power the thing. Who will make sure all those batteries are working every day, or will they all be changed out at a fixed time?</p>

<p>If you use one each of those cheap <a href="https://www.sparkfun.com/products/10534" rel="nofollow">wireless transmitters and receivers</a> in each seat and a small microcontroller to implement a poll/response mechanism, a battery, sensor and an enclosure, then you might just scrape by for $5/seat in volume.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2305" data-toggle = "popover">
				<p>user name : lyndon</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-2305">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2305">Load Comments</button></br>
			<div id = "commentsection-2305" class = 'collapse'>
			<div id = "comment-4493" class = "comment">
				<p>@lyndon thanks.  I've updated the post with more constraints.  They should all be "goals" though, so if the cost or labor is somewhat close, it's a good answer.</p>
			</div>
			<div id = "comment-4494" class = "comment">
				<p>@DiegoCNascimento Suppose the job could be done by sticking 20 ip cameras in the ceiling.  Installation costs would be very minimal. Or a wireless base per each section of 20 seats. That would be manageable.  it seems wireless "could" be an option.  I'm just looking for any and all ideas that could actually be done within the constraints.</p>
			</div>
			</div>
				<textarea id = "speech-2305" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2305">
					<img id="start_img-2305" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2305">Comment</button>
			<br><div id = "ans-2306"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2306" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Computer vision would work, but have some error margins like people putting a bag on the other chair. It may be uncomfortable to the people too to, although the cameras could be hidden.</p>

<p>Pressure sensors could suffers from a high weight bag too, where computer vision is more affected by area.</p>

<p>It's a fixed installation with a cost for that. When you can, use wires! There's then no batteries to worry, no signal problems, no RF pollution, and goes on.</p>

<p>As you have a relatively high number of seats, just use a small uC from Microchip, Atmel, or what you prefer, that should cost near 1,60 and a differential driver (RS-485 compliant), and use it to read lets say 4 seats sensors. Pass a bus of RS-485 (UTP with 2 pair), and poll the sensors.</p>

<p><strong>EDIT</strong> (as OP said that has no way to pass wires in the floor)</p>

<p>If you go to computer vision<sup><strong>note 2</strong></sup> and you said a chair occupied by some object will in fact by considered occupied (and not the say the people to put the bag on the ground and allow space for another people), computer vision could do the job. Just think its not that cheap as you may think. </p>

<p>Lets take a 200,00 camera (it should be higher than this, need to check prices and options on your country), thought 20 seats, so 10,00/seat would be more than you can use. You could get a larger area depending on the height of the camera relative to the chairs, but high angle lens does not seems a good option as there will me much distortion.</p>

<p>Wiring would have near more or less the cost of the other option. As the cameras require each cable from the hub/switch to the camera, a bus would not be feasible like an RS-485 bus.</p>

<hr>

<p><sup>Note 1: You mean nothing of infrastructure for wiring, if there's no way to pass wires, then yes, you should go wireless.</sup></p>

<p><sup>Note 2: For computer vision the better is to use RAW cameras (without image compression) and if it's unavoidable to use compression, at least H.264. (An lossless compression would give the same uncompressed image, but that's not easy to find).
Good optics are very important too, so good focus. As you have a controlled light environment, sensor size could be less important, but not forgettable. Computer vision is not that easy, that's why some projects fails. Just putting any camera with any lens would not to the work for most of the scenarios.</sup></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2306" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-2306">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2306">Load Comments</button></br>
			<div id = "commentsection-2306" class = 'collapse'>
			<div id = "comment-4495" class = "comment">
				<p>The goal here is not really to count people but find empty seats, so in that sense if someone sticks a bag on a seat, it's occupied.  Also, there is one other constraint that's a "big one".  the chairs need to be moved once per week for auditorium cleaning.  It should take no more than 4 hours of labor to "disconnect" and "reconnect" the setup.</p>
			</div>
			<div id = "comment-4496" class = "comment">
				<p>Well a chair with a bag should be considered occupied then?</p>
			</div>
			<div id = "comment-4497" class = "comment">
				<p>yes, a chair with a bag can be considered occupied.</p>
			</div>
			<div id = "comment-4498" class = "comment">
				<p>perhaps something like a flat IR LED embedded in the cushion, that flashes at 1Hz would make an optical solution easier.  or combining with a structured light approach. Or distance sensor on "rails" that slides back and forth over the row...</p>
			</div>
			<div id = "comment-4500" class = "comment">
				<p>@AwokeKnowing yes, but that way you need a battery and a circuit to flash the led in each chair. Also the update rate will be low, and more prone to errors as a people could make the led visible even being in the seat, so you should integrate the value and consider occupied and the LED is not "seem" more than x times in x minute. But the problem is how to identify what seat it is, if this is necessary of course. A distance sensor would be difficult at that distance.</p>
			</div>
			<div id = "comment-4501" class = "comment">
				<p>If you can't pass wires (in a place like this its good to have infrastructure for that), then you should go to wireless. If some chair are "glued", you could use one transmitter for x chairs.</p>
			</div>
			</div>
				<textarea id = "speech-2306" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2306">
					<img id="start_img-2306" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2306">Comment</button>
			<br><div id = "ans-2307"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2307" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are looking for an easy cheap solution.  I doubt there is one.   Each easy solution can be fooled. A camera is going to detect a jacket of bag on a seat, a weight or pressure sensors will get tripped many times.  What if a person "takes" a seat them walk around.  How does your system know a seat is reserved.</p>

<p>I think this system will need to use multiple sensors and some "rules of thumb" to make guesses.   You will have to accept that the results will not be perfect.</p>

<p>Star  with pressure sensors.  You can wire an entire row together from seat to seat without creating any wire s on the floor.  Then you have boxes mounted on the seats nearest the isle to handle that row.  These boxes will need power.  You will need to run wire down the ales to each isle box.  </p>

<p>I would back this up with another system perhaps based on vision.</p>

<p>Then you can also count people and cross check the totals from the count, pressure and vision systems.</p>

<p>OK, one last question?  Why do you care about the cost of the seat sensors.  That will be trivial compared to the engineering and installation costs.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2307" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-2307">{'None': 27}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2307">Load Comments</button></br>
			<div id = "commentsection-2307" class = 'collapse'>
			<div id = "comment-4519" class = "comment">
				<p>I like the way you're thinking.  you are absolutely correct that a "concept in the lab" is much different than a practical solution in the "wild". However, I have learned that often  there ARE simple solutions if you can think of them.  For example, people used to pick cotton by hand.  Sombody might ask how to build a robot to pick cotton by hand, and it wouldn't be practical.  But the solution a machine that does something entirely different from what the human did.  I think there is a "technically sweet" solution out there that will cost $5 per seat and only take an hour to put on 10 chairs</p>
			</div>
			<div id = "comment-4520" class = "comment">
				<p>As far as people "leaving", you are right. a rule of thumb like, if it was occupied for 1-5 minutes, mark it occupied for 15 minutes after they "leave", etc.</p>
			</div>
			<div id = "comment-4533" class = "comment">
				<p>Your technically sweet solution certainly exists (think remotely unlocking a single car in a parking lot of hundreds), but to reach that $5 unit cost you will probably have to make 10,000 units.</p>
			</div>
			<div id = "comment-4536" class = "comment">
				<p>And I found a patent on this. Since it's from 1918, it's long expired, so feel free to use it ;-) http://www.google.com/patents/US1257873</p>
			</div>
			</div>
				<textarea id = "speech-2307" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2307">
					<img id="start_img-2307" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2307">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>