<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Tag not longer presents
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2742" class = "post">
			<h2>Question</h2>
			<div id="vote-2742" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tag not longer presents</h2>
<p>A few weeks ago, I suggested a new tag related to 4K. The suggestion had been accepted but right now I don't see the tag anymore. </p>

<p>Is this normal? There is some regulation related to the evolution of the tags?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2742" data-toggle = "popover">
				<p>user name : Mattia</p>
				<p> user reputation : 1419</p>
				<p class = "tagcontent" id = "usertaginfo-2742">{'None': 0, 'tags': 1, 'support': 6, 'reputation': 0, 'images': 5, 'editing': 5, 'discussion': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2742">Load Comments</button></br>
			<div id = "commentsection-2742" class = 'collapse'>
			<div id = "comment-6057" class = "comment">
				<p>What post had that tag?</p>
			</div>
			<div id = "comment-6058" class = "comment">
				<p>@bmike this one: http://apple.stackexchange.com/questions/228423/mac-pro-50-4k-ultra-hd-led-tv-as-monitor-best-graphics-card</p>
			</div>
			<div id = "comment-6059" class = "comment">
				<p>looks like it was merged into retina tag</p>
			</div>
			<div id = "comment-6060" class = "comment">
				<p>I don' t see it among the synonyms of retina. Anyway if you think this is normal, no problem.</p>
			</div>
			<div id = "comment-6065" class = "comment">
				<p>@bmike when was retina-diaplay synonymed to display which seems wrong</p>
			</div>
			<div id = "comment-6066" class = "comment">
				<p>Feel free to start a thread or discussion in the tags chat room if you want to propose a new tag or changes to synonyms, @Mark</p>
			</div>
			</div>
				<textarea id = "speech-2742" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2742">
					<img id="start_img-2742" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2742">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2743"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2743" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If I remember correctly, <a href="https://apple.stackexchange.com/review/suggested-edits/151924">this</a> and <a href="https://apple.stackexchange.com/review/suggested-edits/151923">this</a> originally have been the edits for <a href="https://apple.stackexchange.com/questions/tagged/4k" class="post-tag" title="show questions tagged &#39;4k&#39;" rel="tag">4k</a>. I've rejected both because the tag description was incorrect and incomplete.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2743" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2743">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2743" class = 'collapse'>
			</div>
				<textarea id = "speech-2743" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2743">
					<img id="start_img-2743" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2743">Comment</button>
			<br><div id = "ans-2744"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2744" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The <a href="https://apple.stackexchange.com/review/suggested-edits/151881">suggested edit 151881</a> shows that <a href="https://apple.stackexchange.com/questions/tagged/4k" class="post-tag" title="show questions tagged &#39;4k&#39;" rel="tag">4k</a> was the tag that was suggested to be added, but the <a href="https://apple.stackexchange.com/posts/228423/revisions">post revisions</a> shows that <a href="https://apple.stackexchange.com/questions/tagged/retina-display" class="post-tag" title="show questions tagged &#39;retina-display&#39;" rel="tag">retina-display</a> was added. <a href="https://apple.stackexchange.com/questions/tagged/4k" class="post-tag" title="show questions tagged &#39;4k&#39;" rel="tag">4k</a> was merged with <a href="https://apple.stackexchange.com/questions/tagged/retina-display" class="post-tag" title="show questions tagged &#39;retina-display&#39;" rel="tag">retina-display</a>, but <a href="https://apple.stackexchange.com/questions/tagged/retina-display" class="post-tag" title="show questions tagged &#39;retina-display&#39;" rel="tag">retina-display</a> is a synonym of <a href="https://apple.stackexchange.com/questions/tagged/display" class="post-tag" title="show questions tagged &#39;display&#39;" rel="tag">display</a>, and as such <a href="https://apple.stackexchange.com/tags/retina-display/synonyms">/tags/retina-display/synonyms</a> redirects to <a href="https://apple.stackexchange.com/tags/display/synonyms">/tags/display/synonyms</a> which doesn't show <a href="https://apple.stackexchange.com/questions/tagged/4k" class="post-tag" title="show questions tagged &#39;4k&#39;" rel="tag">4k</a> as a synonym, because it isn't. The <a href="/questions/tagged/bug" class="post-tag required-tag" title="show questions tagged &#39;bug&#39;" rel="tag">bug</a> here is that the question shouldn't be able to be tagged with <a href="https://apple.stackexchange.com/questions/tagged/retina-display" class="post-tag" title="show questions tagged &#39;retina-display&#39;" rel="tag">retina-display</a> and <a href="https://apple.stackexchange.com/questions/tagged/display" class="post-tag" title="show questions tagged &#39;display&#39;" rel="tag">display</a> at the same time, as the former is a synonym of the latter.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2744" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2744">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2744">Load Comments</button></br>
			<div id = "commentsection-2744" class = 'collapse'>
			<div id = "comment-6061" class = "comment">
				<p>Sorry if I ask but, knowing that not all the times a retina-display corresponds to a 4k resolution. Isn't it better to have an independent tag for 4k to be used for questions like this: [Mac Pro + 50  4K Ultra HD LED TV as monitor   Best graphics card?](http://apple.stackexchange.com/questions/228423/mac-pro-50-4k-ultra-hd-led-tv-as-monitor-best-graphics-card). Here the question is not referring to retina display!</p>
			</div>
			<div id = "comment-6062" class = "comment">
				<p>@Mattia I somewhat agree. I don't think [retina-display]/etc should be a synonym of [display] which would allow [4k] to be a synonym of [retina-display].</p>
			</div>
			<div id = "comment-6063" class = "comment">
				<p>More precisely, I think that in a Apple environment like Ask Different [retina-display] could be a synonym of [display], nowadays more or less all the Apple displays produced are retina. The point is that 4k in most of the cases is not related to Apple displays and to retina-displays. Anyway, I was just wondering why that tag was accepted and than it disappeared.</p>
			</div>
			<div id = "comment-6064" class = "comment">
				<p>@Mattia If display is linked to retina-display - what do you do for external displays or links via HDMI/VGA or just a generic display of a programetc Out of the newest 10 questions tagged display only one might be tagged as retina</p>
			</div>
			</div>
				<textarea id = "speech-2744" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2744">
					<img id="start_img-2744" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2744">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>