<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Tag bug involving auto-chopping of excess words in wiki excerpts
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1176" class = "post">
			<h2>Question</h2>
			<div id="vote-1176" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 62</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tag bug involving auto-chopping of excess words in wiki excerpts</h2>
<p>The Tags page, when showing excerpts, automatically removes some key words from the beginning of excerpts (e.g. "Terminal is" from <a href="https://apple.stackexchange.com/questions/tagged/terminal" class="post-tag" title="show questions tagged &#39;terminal&#39;" rel="tag">terminal</a>). This mostly works fine, except for two things:</p>

<ul>
<li><p><strong>Capitalization inconsistency</strong></p>

<p>It does not then capitalize the first remaining word, so some excerpts begin with "the" and some "The."</p></li>
<li><p><strong>Extra deleted text</strong></p>

<p>At least one tag (<a href="https://apple.stackexchange.com/questions/tagged/backup" class="post-tag" title="show questions tagged &#39;backup&#39;" rel="tag">backup</a>) has extra text removed. See the below screenshots.</p></li>
</ul>

<p>Text displayed on the Tags page:</p>

<p><img src="https://i.stack.imgur.com/xD5WM.png" alt="summary on the tag page"></p>

<p>Text displayed upon hover:</p>

<p><img src="https://i.stack.imgur.com/Xa1VS.png" alt="hovertext"></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1176">Load Comments</button></br>
			<div id = "commentsection-1176" class = 'collapse'>
			<div id = "comment-2857" class = "comment">
				<p>Are you OK with the answer provided? Would you like us to move this to the main meta site since that's where consensus would need to be built to change the system wide design.</p>
			</div>
			</div>
				<textarea id = "speech-1176" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1176">
					<img id="start_img-1176" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1176">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1312"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1312" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is an intentional feature and not simply a bug. </p>

<p>The reasons for it are enumerated here (as well as the regex used to neuter presumably excessively wordy tag summaries):</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/82700/new-tags-page-mangles-tag-wiki-excerpts">New tags page mangles tag wiki excerpts</a></li>
</ul>

<p>In summary, this looks like a design compromise to fit a portion of the text within the available space.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1312">Load Comments</button></br>
			<div id = "commentsection-1312" class = 'collapse'>
			<div id = "comment-2596" class = "comment">
				<p>That's a bizarre algorithm. It it's intentional, someone has odd intentions. I see what they're trying to do, but I believe they're doing it wrong.</p>
			</div>
			<div id = "comment-2856" class = "comment">
				<p>@DanielLawson We can take it up on the [main meta](http://meta.stackoverflow.com/) if you want to see if it could be changed...</p>
			</div>
			</div>
				<textarea id = "speech-1312" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1312">
					<img id="start_img-1312" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1312">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>