<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Tag standardization
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-121" class = "post">
			<h2>Question</h2>
			<div id="vote-121" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 145</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tag standardization</h2>
<p>I've been working on the tag list lately, trying to standardize the format and clean up confusion. For instance, we didn't need both <a href="https://apple.stackexchange.com/questions/tagged/podcast"><code>[podcast]</code></a> <em>and</em> <a href="https://apple.stackexchange.com/questions/tagged/podcasts"><code>[podcasts]</code></a>, and the non-existent <a href="https://apple.stackexchange.com/questions/tagged/iphone-2g"><code>[iphone-2g]</code></a> needed to be redirected to <a href="https://apple.stackexchange.com/questions/tagged/iphone-3g"><code>[iphone-3g]</code></a>.</p>

<p>So far, so good  mostly.</p>

<p>The internal editor in my head says <a href="https://apple.stackexchange.com/questions/tagged/applications"><code>[applications]</code></a> run on my Mac, and <a href="https://apple.stackexchange.com/questions/tagged/apps"><code>[apps]</code></a> run on my iPhone and iPad (and yes, I know the <code>[applications]</code> tag is currently unused).</p>

<p>Consequently a couple of days ago, on the question <a href="https://apple.stackexchange.com/questions/2377/ipad-getting-back-to-initial-screen-after-watching-podcast">iPad: getting back to initial screen after watching podcast</a>, I changed the tag <a href="https://apple.stackexchange.com/questions/tagged/ipod-application"><code>[ipod-application]</code></a> to <a href="https://apple.stackexchange.com/questions/tagged/ipod-app"><code>[ipod-app]</code></a> and set the former to be a synonym of the latter.</p>

<p>Today, <a href="https://apple.stackexchange.com/users/481/nippysaurus">Nippysaurus</a> changed it back again.</p>

<p>This wouldn't be an issue except the system still thinks <code>[ipod-application]</code> is a synonym of <code>[ipod-app]</code>   which means you now can't get to its <a href="https://apple.stackexchange.com/tags/ipod-application/info">info</a>, <a href="https://apple.stackexchange.com/tags/ipod-application/faq">faq</a>, <a href="https://apple.stackexchange.com/tags/ipod-application/stats">stats</a>, <a href="https://apple.stackexchange.com/tags/ipod-application/new">new answers</a>, or <a href="https://apple.stackexchange.com/tags/ipod-application/synonym">synonym</a> pages.</p>

<p>I'm about to rollback his change and see if that fixes the problems, but I figured that this and tag standardization in general could use a discussion.</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-121">Load Comments</button></br>
			<div id = "commentsection-121" class = 'collapse'>
			<div id = "comment-210" class = "comment">
				<p>My tags are awesome! :p</p>
			</div>
			<div id = "comment-2368" class = "comment">
				<p>For link purposes: [Tag corrections  Ask Different Meta](http://meta.apple.stackexchange.com/q/49/8546)</p>
			</div>
			</div>
				<textarea id = "speech-121" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-121">
					<img id="start_img-121" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-121">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-122"  class = "post">
				<h2>Answer</h2>
			<div id="vote-122" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Nice work on cleaning tags. As for <code>[iphone-2g]</code> being a synonym - the iPhone 2G is sometimes how the original iPhone is referred to (2G referring to EDGE) instead of the 2nd generation like the iPod lines tend to use.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-122">Load Comments</button></br>
			<div id = "commentsection-122" class = 'collapse'>
			<div id = "comment-197" class = "comment">
				<p>@Dori: I'd let it be and end up approaching them on a case by case basis. The good news is that it isn't made anymore so we shouldn't see many questions dealing with it.</p>
			</div>
			<div id = "comment-200" class = "comment">
				<p>Good point on "iphone-2g". My feeling is that people usually mean the **original iPhone** (launched 2007) with that, not iPhone 3G.</p>
			</div>
			<div id = "comment-2372" class = "comment">
				<p>Without voting on this answer: we already have both [tag:ipod] ([info](http://apple.stackexchange.com/tags/ipod/info)) and [tag:apps] ([info](http://apple.stackexchange.com/tags/apps/info)) so I do not favour the idea of [tag:ipod-app].</p>
			</div>
			<div id = "comment-2394" class = "comment">
				<p>@GrahamPerrin: Given this answer's age. I'm inclined to agree.</p>
			</div>
			</div>
				<textarea id = "speech-122" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-122">
					<img id="start_img-122" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-122">Comment</button>
			<br><div id = "ans-124"  class = "post">
				<h2>Answer</h2>
			<div id="vote-124" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One minor suggestion: retag <a href="https://apple.stackexchange.com/questions/tagged/ios4"><code>ios4</code></a> to <code>ios-4</code>. That would be more consistent with tags like <code>iphone-3g</code> and <a href="http://www.apple.com/iphone/ios4/" rel="nofollow noreferrer">more correct</a> too.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-124">Load Comments</button></br>
			<div id = "commentsection-124" class = 'collapse'>
			<div id = "comment-216" class = "comment">
				<p>I vote for the change for the sake of consistent use of the hyphen as a space. See my comment on `[mac-mini]` vs. `[macmini]`</p>
			</div>
			</div>
				<textarea id = "speech-124" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-124">
					<img id="start_img-124" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-124">Comment</button>
			<br><div id = "ans-126"  class = "post">
				<h2>Answer</h2>
			<div id="vote-126" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know the exact SE policy about tag but I prefer some shorter synonym for some tag for example I hate <a href="https://apple.stackexchange.com/questions/tagged/software-recommendation"><code>[software-recommendation]</code></a> I think it's too long and I prefer <a href="https://superuser.com/questions/tagged/software-rec"><code>software-rec</code></a> (as it use in <a href="http://superuser.com">superuser</a>). in the beginning I try to change all to <code>software-rec</code> but someone focus on  <a href="https://apple.stackexchange.com/questions/tagged/software-recommendation"><code>[software-recommendation]</code></a> and I tired of editing.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-126">Load Comments</button></br>
			<div id = "commentsection-126" class = 'collapse'>
			<div id = "comment-207" class = "comment">
				<p>http://meta.apple.stackexchange.com/questions/58/tag-for-alternatives-to-windows-only-applications Both tags appeared around the same time.</p>
			</div>
			<div id = "comment-214" class = "comment">
				<p>Tags aren't variables in code; the context of the question is given to us largely by the tag if no other information is in the question itself. The abbreviation "rec" can have all sorts of meanings, the least of which being "recommendation". If the tag doesn't give us the context of the question, then a lot of intent can be lost.</p>
			</div>
			</div>
				<textarea id = "speech-126" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-126">
					<img id="start_img-126" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-126">Comment</button>
			<br><div id = "ans-1269"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1269" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>Tag synonym: <a href="https://apple.stackexchange.com/questions/tagged/beta" class="post-tag" title="show questions tagged &#39;beta&#39;" rel="tag">beta</a></h1>

<h2>Background</h2>

<p><a href="https://apple.meta.stackexchange.com/a/1121/8546">In answer</a> to a very good meta question <a href="https://apple.meta.stackexchange.com/q/1119/8546">Despite the general rule to not answer questions about beta products, should we allow Messages on OSX and Siri on iPhone 4S questions?</a> we have the suggestion of tags such as:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/messages-beta" class="post-tag" title="show questions tagged &#39;messages-beta&#39;" rel="tag">messages-beta</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/siri-beta" class="post-tag" title="show questions tagged &#39;siri-beta&#39;" rel="tag">siri-beta</a></li>
</ul>

<p>I would prefer: </p>

<ul>
<li>a single <strong>tag</strong> <a href="https://apple.stackexchange.com/questions/tagged/pre-release" class="post-tag" title="show questions tagged &#39;pre-release&#39;" rel="tag">pre-release</a>  for voting purposes, there's a <a href="https://apple.meta.stackexchange.com/a/1270/8546">separate answer</a></li>
<li>plus probably a <strong>tag synonym</strong>, <a href="https://apple.stackexchange.com/questions/tagged/beta" class="post-tag" title="show questions tagged &#39;beta&#39;" rel="tag">beta</a>. </li>
</ul>

<p>As used by Apple, expressions <em>pre-release</em> and <em>beta</em> are <strong>not</strong> synonymous, but I don't wish to complicate this answer. Specifically: let's not get too hung up on users', developers' and Apple's interpretations of those expressions; for <strong>simplicity</strong> it may be desirable to treat them as synonymous. </p>

<h2>Related</h2>

<p><a href="https://apple.meta.stackexchange.com/q/573/8546">Update to FAQ regarding beta and pre-release software - Ask Different Meta</a></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1269" class = 'collapse'>
			</div>
				<textarea id = "speech-1269" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1269">
					<img id="start_img-1269" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1269">Comment</button>
			<br><div id = "ans-1270"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1270" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1>Tag: <a href="https://apple.stackexchange.com/questions/tagged/pre-release" class="post-tag" title="show questions tagged &#39;pre-release&#39;" rel="tag">pre-release</a></h1>

<p>Compare with a slightly different answer to this question </p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/a/1269/8546">Tag synonym: beta</a></li>
</ul>

<p>Of the two expressions, <em>pre-release</em> seems to be used more commonly by Apple. </p>

<h2>Examples</h2>

<p>I imagine combinations of tags such as: </p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/tagged/pre-release" class="post-tag" title="show questions tagged &#39;pre-release&#39;" rel="tag">pre-release</a> <a href="https://apple.stackexchange.com/questions/tagged/messages" class="post-tag" title="show questions tagged &#39;messages&#39;" rel="tag">messages</a> <a href="https://apple.stackexchange.com/questions/tagged/osx" class="post-tag" title="show questions tagged &#39;osx&#39;" rel="tag">osx</a></li>
<li><a href="https://apple.stackexchange.com/questions/tagged/pre-release" class="post-tag" title="show questions tagged &#39;pre-release&#39;" rel="tag">pre-release</a> <a href="https://apple.stackexchange.com/questions/tagged/siri" class="post-tag" title="show questions tagged &#39;siri&#39;" rel="tag">siri</a> <a href="https://apple.stackexchange.com/questions/tagged/ios" class="post-tag" title="show questions tagged &#39;ios&#39;" rel="tag">ios</a></li>
</ul>

<h3>Hint</h3>

<p>Please refrain from voting on this answer until after you have considered <a href="https://apple.meta.stackexchange.com/q/1119/8546">this meta question</a>. Questions relating to <em>some</em> types of pre-release software might be allowed in Ask Different. </p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1270">Load Comments</button></br>
			<div id = "commentsection-1270" class = 'collapse'>
			<div id = "comment-2370" class = "comment">
				<p>Important: I would **not** favour automatic removal of a tag such as this after a product (say, Messages) is released and no longer in beta. [Discuss ](http://chat.stackexchange.com/transcript/message/4173059#4173059)</p>
			</div>
			</div>
				<textarea id = "speech-1270" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1270">
					<img id="start_img-1270" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1270">Comment</button>
			<br><div id = "ans-1276"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1276" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong><em>Hyphenated Tags Must be Outlawed</em></strong></p>

<p>Read on...</p>

<p><strong>Tags is an indexed-sequential search, not random access</strong></p>

<p>I.E. The tag filters on a major idea. It is supposed to be a quick narrowing of possibilities with a high likelihood of picking up specifics I'm looking for (assuming they exist in the first place, of course). At that point the brain takes over looking in detail at the search results. </p>

<p>As we "engineer" specificity into our tagging system we move toward the idea of a single query, <em>a single tag to find exactly what I'm looking for</em>. I assert that this bad, anti-tagish. Let's just use SQL for crying out loud.</p>

<p><strong>Are hyphenated tag names transitive?</strong></p>

<p>I see <a href="https://apple.stackexchange.com/questions/tagged/ipod-applications" class="post-tag" title="show questions tagged &#39;ipod-applications&#39;" rel="tag">ipod-applications</a> as different from <a href="https://apple.stackexchange.com/questions/tagged/applications-ipod" class="post-tag" title="show questions tagged &#39;applications-ipod&#39;" rel="tag">applications-ipod</a>.</p>

<p>In the first case I'm "looking for ipod stuff" and in the latter I'm looking for "application stuff". How I think about my search matters.</p>

<p>What is the results implication of including both hyphened-versions? Who knows how the hell the tags were used when at least 4 tags may be involved here! I don't want to know - and I don't have to know if we ban hyphen-tags.</p>

<p><strong>Major points of tagging goodness are:</strong></p>

<ul>
<li>Very little time spent constructing the query.</li>
<li>There are no semantics &amp; syntax to know about - including <em>implied or assumed</em> semantics of hyphenated tags.</li>
<li>1-off tag proliferation makes tracking favorites impossible.</li>
<li><p>Specificity is gotten by using multiple tags - and it's syntax free</p></li>
<li><p>A broadly cast net so I don't waste my time looking for stuff that was filtered out by too much tag specificity</p></li>
<li>There is a gross assumption that the searcher knows (a) how to search a rendered web page and (b) search with tag/literal-text in the first place.</li>
</ul>

<p><strong>Hyphenated tags should be outlawed</strong></p>

<p>We must not corrupt the tag space. I can easily search for <a href="https://apple.stackexchange.com/questions/tagged/applications" class="post-tag" title="show questions tagged &#39;applications&#39;" rel="tag">applications</a> <a href="https://apple.stackexchange.com/questions/tagged/ipod" class="post-tag" title="show questions tagged &#39;ipod&#39;" rel="tag">ipod</a> without having to worry if I just ruined my search by including (or not!) <a href="https://apple.stackexchange.com/questions/tagged/ipod-applications" class="post-tag" title="show questions tagged &#39;ipod-applications&#39;" rel="tag">ipod-applications</a> or vice versa or vice-and-versa.</p>

<p>I would make exceptions, for example <a href="https://apple.stackexchange.com/questions/tagged/macbook-pro" class="post-tag" title="show questions tagged &#39;macbook-pro&#39;" rel="tag">macbook-pro</a> because this cannot mean "macbook or macbook pro". I prefer it to <a href="https://apple.stackexchange.com/questions/tagged/macbookpro" class="post-tag" title="show questions tagged &#39;macbookpro&#39;" rel="tag">macbookpro</a>, but would defer if it is confusing or non-hyphenation were enforced @ creation time.</p>

<p><strong>Other Examples</strong></p>

<ul>
<li>this: <a href="https://apple.stackexchange.com/questions/tagged/safari" class="post-tag" title="show questions tagged &#39;safari&#39;" rel="tag">safari</a><a href="https://apple.stackexchange.com/questions/tagged/version4" class="post-tag" title="show questions tagged &#39;version4&#39;" rel="tag">version4</a> not this: <a href="https://apple.stackexchange.com/questions/tagged/safari-4" class="post-tag" title="show questions tagged &#39;safari-4&#39;" rel="tag">safari-4</a></li>
<li>this: <a href="https://apple.stackexchange.com/questions/tagged/iphone" class="post-tag" title="show questions tagged &#39;iphone&#39;" rel="tag">iphone</a><a href="https://apple.stackexchange.com/questions/tagged/3g" class="post-tag" title="show questions tagged &#39;3g&#39;" rel="tag">3g</a> not this: <a href="https://apple.stackexchange.com/questions/tagged/iphone-3g" class="post-tag" title="show questions tagged &#39;iphone-3g&#39;" rel="tag">iphone-3g</a></li>
<li>this: <a href="https://apple.stackexchange.com/questions/tagged/software" class="post-tag" title="show questions tagged &#39;software&#39;" rel="tag">software</a><a href="https://apple.stackexchange.com/questions/tagged/recommendation" class="post-tag" title="show questions tagged &#39;recommendation&#39;" rel="tag">recommendation</a> not this:
<a href="https://apple.stackexchange.com/questions/tagged/software-recommendation" class="post-tag" title="show questions tagged &#39;software-recommendation&#39;" rel="tag">software-recommendation</a></li>
<li>this: <a href="https://apple.stackexchange.com/questions/tagged/hardware" class="post-tag" title="show questions tagged &#39;hardware&#39;" rel="tag">hardware</a><a href="https://apple.stackexchange.com/questions/tagged/recommendation" class="post-tag" title="show questions tagged &#39;recommendation&#39;" rel="tag">recommendation</a> not this:
<a href="https://apple.stackexchange.com/questions/tagged/hardware-recommendation" class="post-tag" title="show questions tagged &#39;hardware-recommendation&#39;" rel="tag">hardware-recommendation</a></li>
<li>this: <a href="https://apple.stackexchange.com/questions/tagged/os9" class="post-tag" title="show questions tagged &#39;os9&#39;" rel="tag">os9</a><a href="https://apple.stackexchange.com/questions/tagged/xcode" class="post-tag" title="show questions tagged &#39;xcode&#39;" rel="tag">xcode</a><a href="https://apple.stackexchange.com/questions/tagged/version3" class="post-tag" title="show questions tagged &#39;version3&#39;" rel="tag">version3</a> not this: <a href="https://apple.stackexchange.com/questions/tagged/os9-xcode" class="post-tag" title="show questions tagged &#39;os9-xcode&#39;" rel="tag">os9-xcode</a><a href="https://apple.stackexchange.com/questions/tagged/os9" class="post-tag" title="show questions tagged &#39;os9&#39;" rel="tag">os9</a><a href="https://apple.stackexchange.com/questions/tagged/xcode-1" class="post-tag" title="show questions tagged &#39;xcode-1&#39;" rel="tag">xcode-1</a><a href="https://apple.stackexchange.com/questions/tagged/xcode-2" class="post-tag" title="show questions tagged &#39;xcode-2&#39;" rel="tag">xcode-2</a><a href="https://apple.stackexchange.com/questions/tagged/xcode-3" class="post-tag" title="show questions tagged &#39;xcode-3&#39;" rel="tag">xcode-3</a><a href="https://apple.stackexchange.com/questions/tagged/xcode" class="post-tag" title="show questions tagged &#39;xcode&#39;" rel="tag">xcode</a> <a href="https://apple.stackexchange.com/questions/tagged/os8-xcode" class="post-tag" title="show questions tagged &#39;os8-xcode&#39;" rel="tag">os8-xcode</a> ...</li>
</ul>

<p>You should quickly see several things:</p>

<ul>
<li>Tags become reusable. You can "recommend" or "version" on anything!</li>
<li>Tags are meant to identify general concepts. Combining tags gives sufficient, flexible specificity.</li>
<li>Excellent cross reference flexibility</li>
<li>There are no "shades of meaning" in a tag, therefore any given tag, or combination of tags, is more likely to hit on what I'm looking for.</li>
<li>In a hyphenated-tag rich environment you must ask yourself "What fraken tags did I miss because there are so many that I <em>know</em> I did not find just the right "synonym" tag!!</li>
<li>Hyphen-tagging quickly degenerates into hyper inflation of tags, tags-per-question, and tags-per-query. AND ironically, significantly increasing the probability that you will not, indeed cannot, find what you're looking for.</li>
</ul>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1276">Load Comments</button></br>
			<div id = "commentsection-1276" class = 'collapse'>
			<div id = "comment-2399" class = "comment">
				<p>This proposal fundamentally breaks the purpose of the tag system. Tags exist to help people identify questions they want to read and answer. Tags are atomic; they do not nest, nor is there a way for one tag to modify another. If there were, this proposal could be helpful, but as currently implemented in the SE engine, there is not. version4 is not a useful tag; no one would be interested in the fourth version of all software, but not the third or fifth. [ipod][safari][version4] has no way of designating whether [version4] is the fourth version of the iPod or of Safari.</p>
			</div>
			<div id = "comment-2411" class = "comment">
				<p>Absolutely enforces the purpose of tags. Tags need to be inclusive, not exclusive. These conversations of [tag:ipad-applications] vice [tag:applications-ipad], or "2g" vice "original" (iphone). Try to imagine how many hyphenated tags will you need to ensure coverage on just these things! These discussions are precisely the problem writ large. With proper tags there is no need for discussion (or tag maintenance over time by @Dori). I guarantee that proliferation of concept-narrowing tags will gradually ruin Tag useability in StackExchange sites.</p>
			</div>
			</div>
				<textarea id = "speech-1276" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1276">
					<img id="start_img-1276" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1276">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>