<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Tag for questions that apply to MacBook, MacBook Pro, PowerBook equally?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-138" class = "post">
			<h2>Question</h2>
			<div id="vote-138" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tag for questions that apply to MacBook, MacBook Pro, PowerBook equally?</h2>
<p>There are some questions on the site that apply to all Apple notebook computers.  These questions tend to be tagged arbitrarily as MacBook or MacBook Pro.  However, a question can also be related very specifically to a MacBook rather than a MacBook Pro and vice-versa.  </p>

<p>Should there be a tag that covers all Apple notebook computers such as <code>[notebook]</code>?</p>

			</div>
			<div id = "userinfo-138" style = "float:right">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p> user tag wise history : {'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-138" class = 'collapse'>
			</div>
				<textarea id = "speech-138" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-138">
					<img id="start_img-138" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-138">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-139"  class = "post">
				<h2>Answer</h2>
			<div id="vote-139" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>FYI I did the wikipedia "be bold" thing and created two new tags:</p>

<p><code>[unibody]</code>: for questions that that aren't specific to the MB or MBP, but encompass both versions if they are in unibody cases.</p>

<p><code>[notebook]</code>: for questions that encompass all Apple portable computers with a physical keyboard (i.e. no iPads, iPod Touch, iPhone... just MBP, MB, PowerBooks, etc).</p>

<h2>edit @Dori:</h2>

<p>Why are you rolling back these changes without any discussion?  You haven't posted on here why you think the tags should be kept as is.  So far there is no opposition, and the tags you reverted to are not descriptive of the topic elements in the questions.</p>

<h2>in regards to these particular tags:</h2>

<p>this is obviously open to discussion, so feel free to post your preferred alternative and hopefully some votes can help us reach a consensus. I just created the tags to get the train rolling, but they can be edited if there is a better option</p>
</p><br>
			</div>
			<div id = "userinfo-139" style = "float:right">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p> user tag wise history : {'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-139">Load Comments</button></br>
			<div id = "commentsection-139" class = 'collapse'>
			<div id = "comment-231" class = "comment">
				<p>I'm not sure if both of these are needed (and would have probably picked `laptop` myself), but yeah, I've also recognised the need for such tag.</p>
			</div>
			<div id = "comment-232" class = "comment">
				<p>@Jonik: I still call them laptops as well, but since all the manufacturers officially call them "notebook" computers these days, I figure we should just go with the flow :P</p>
			</div>
			<div id = "comment-233" class = "comment">
				<p>Heh, I think what *users* call them is more important. But whatever. With regards to rollbacks, **I agree**. Perhaps leave the original tag (e.g. `macbook`) too, but removing `notebook` without justification is just silly. :(</p>
			</div>
			<div id = "comment-234" class = "comment">
				<p>@Jonik: this is obviously open to discussion, so feel free to post laptop as your preferred alternative and hopefully some votes can help us reach a consensus.  I just created the tags to get the train rolling, but they can be edited if there is a better option.</p>
			</div>
			<div id = "comment-238" class = "comment">
				<p>@Dori: not a problem, I just did not know if you had even seen this topic so I didn't know how to get your attention :P</p>
			</div>
			<div id = "comment-240" class = "comment">
				<p>however... maybe next time you could post *before* you go through and roll back all the changes?</p>
			</div>
			<div id = "comment-243" class = "comment">
				<p>@Dori: How are they not applicable??  I left the macbook tags and added tags that more correctly specified the nature of the question... I don't see any reason why you would remove tags that describe the question.  The tags that you are reverting to are the ones that "aren't necessarily applicable", but as you state yourself in your answer, they make the questions more easily search-able.  So I agreed with you on that point and kept those tags and added more specificity and that's bad??</p>
			</div>
			<div id = "comment-246" class = "comment">
				<p>@Dori: it doesn't apply to all optical-drives or all enclosures either, but you aren't removing those.  It applies most specifically to unibody macbook and macbook pros.  Like your previous logic regarding macbooks, most people that see "unibody" are going to think macbook or macbook pro, very rarely would anyone assume it refers to the macbook air.  As I said in my response to your other comment, I don't care if unibody is not the absolute 100% best tag... but come up with something better rather than removing it since it certainly is applicable.</p>
			</div>
			<div id = "comment-251" class = "comment">
				<p>@Dori: This was a hot-headed response, and I apologize for not giving myself and hour or so before responding :)  *extends olive brand*</p>
			</div>
			</div>
				<textarea id = "speech-139" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-139">
					<img id="start_img-139" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-139">Comment</button>
			<br><div id = "ans-140"  class = "post">
				<h2>Answer</h2>
			<div id="vote-140" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>How about using <code>[laptop]</code> for those questions? (I'm adding this as an alternative as calavera suggested.)</p>

<p><sup>See what <a href="http://en.wikipedia.org/wiki/Notebook_%28computer%29" rel="nofollow">Wikipedia prefers</a>. ;-)</sup></p>

<p><strong>Edit</strong>: With the above I meant not using two categories like <code>[unibody]</code> &amp; <code>[notebook]</code>. I am <strong>not</strong> suggesting that any original <code>[macbook]</code> etc. tags should be removed, if that's what some downvoter thought.</p>
</p><br>
			</div>
			<div id = "userinfo-140" style = "float:right">
				<p>user name : Jonik</p>
				<p> user reputation : 2453</p>
				<p> user tag wise history : {'site-scope': 1, 'None': 32, 'beta': 13, 'discussion': 29, 'beta-essentials': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-140">Load Comments</button></br>
			<div id = "commentsection-140" class = 'collapse'>
			<div id = "comment-235" class = "comment">
				<p>ok, now that you brought the wikipedia thing into it, I agree laptop is better :P  I still think there should be a unibody tag though, since people ask questions about hardware that only applies to unibody MacBook and MacBook Pros.  Like the optical drive replacement stuff, as far as I know, those products will only fit in unibodies.</p>
			</div>
			<div id = "comment-244" class = "comment">
				<p>so come up with a better descriptor and propose it rather than blowing away a helpful addition.  it sure as heck doesn't work for all macbook pros or macbooks either, so your own logic is working against you.</p>
			</div>
			<div id = "comment-986" class = "comment">
				<p>Apple refers to them as [portable] since many are too warm to run comfortably on a lap anymore.</p>
			</div>
			</div>
				<textarea id = "speech-140" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-140">
					<img id="start_img-140" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-140">Comment</button>
			<br><div id = "ans-181"  class = "post">
				<h2>Answer</h2>
			<div id="vote-181" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since this is a poo-storm I will add my two cents. </p>

<p>I believe that macbook or macbookpro should be there, as much as macbookair (if it exists), a tag synonym should encompass the same models (i.e. unibody, etc.)</p>

<p>The truth is that tags are nice, but if you go tooooooo specific, it turns against you. If I have a macbook pro 17  problem, I don t think that the (in)existence of that tag would prevent me to find it. I ll just search macbook pro 17  etc. </p>

<p>Apple Laptops are called macbook, macbook pro and macbook air. That s all you need in my humble opinion. Of course Powerbook should be there too, but old models will definitely get less questions. </p>

<p>All other variants (size, etc.) should be grouped into synonyms. </p>

<p><strong>And Unibody stuff?</strong>
Unibody <em>should</em> be its own tags. Mac-minis are unibodies too, so that s an <em>additional</em> and <em>distinctive</em> feature of a particular model. There are Macbook Pros and Unibody Macbook Pros. The tag should exist as such. </p>

<p>In my opinion, (to repeat myself) the current Apple models (macbooks) are more or less the same and a problem that exists on a Macbook Pro 15  will probably be the same on a 17  model and if not, my idea is that Tags are not the right tool to differentiate <em>that</em> particular aspect of the question. </p>
</p><br>
			</div>
			<div id = "userinfo-181" style = "float:right">
				<p>user name : Martin Marconcini</p>
				<p> user reputation : 19601</p>
				<p> user tag wise history : {'None': 34, 'discussion': 15, 'poo-storm': 1, 'meta': 8, 'design': 4, 'subjective-questions': 8, 'status-declined': 4, 'status-norepro': 6, 'bug': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-181">Load Comments</button></br>
			<div id = "commentsection-181" class = 'collapse'>
			<div id = "comment-307" class = "comment">
				<p>+1 for unibody reference. I think it's a relevant subset of hardware model.</p>
			</div>
			<div id = "comment-985" class = "comment">
				<p>+1 for unibody from the standpoint of a hardware repair technician - see the wikipedia article on macbooks for details how much different non-unibody versus unibody hardware is. http://en.wikipedia.org/wiki/Macbook</p>
			</div>
			</div>
				<textarea id = "speech-181" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-181">
					<img id="start_img-181" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-181">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>