<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Technique to increase POV resolution
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10573" class = "post">
			<h2>Question</h2>
			<div id="vote-10573" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 36</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Technique to increase POV resolution</h2>
<p>I have thought of a technique to increase the resolution of a POV (persistence of vision) display. In an usual POV display, the LEDs are arranged in a strip and spun in a circle. There are two limiting factors to increasing the radial resolution along the circumference of any one circular path that an LED follows. One is, depending on the speed of the POV wheel, the minimum time required (decided by the microcontroller) to change the LED's color in case of a RGB. The other factor is the LED's width, that increases the 'bleeding' of color from one pixel to the neighboring pixel if the LED changes color or brightness too fast. </p>

<p>If one were to fix a slit in the front of an LED, |*|  &lt;-- like so, would this help improve the resolution of the POV display; by doing this one would in effect be reducing the width of the 'pixel' along the circumference on which the led would be traversing.</p>

<p>Thus if one were to use a fast enough microcontroller and a narrow enough slit, one could probably obtain a very high resolution along one dimension at least.</p>

<p>To be clear I've not yet implemented this, and am just looking for any experienced person who can tell if this will work or not.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10573" data-toggle = "popover">
				<p>user name : Hazkaz</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-10573">{'quadcopter': 0, 'None': 5, 'microcontroller': 1, 'pid': 0, 'electronics': 1, 'gyroscope': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10573">Load Comments</button></br>
			<div id = "commentsection-10573" class = 'collapse'>
			<div id = "comment-18998" class = "comment">
				<p>Your slit just makes the LED effectively smaller, right? But then all you're increasing is the horizontal resolution; the vertical resolution stays the same. Why not just use a [smaller LED](http://www.sunledusa.com/products/spec/XZMYR155W.pdf)?</p>
			</div>
			<div id = "comment-18999" class = "comment">
				<p>There is a limit to the size of the LED am I right...say i wanted hypothetically, 330 ppi :)</p>
			</div>
			<div id = "comment-19000" class = "comment">
				<p>How do you get 300 ppi vertically? Or are you okay with bad vertical resolution? Personally I would only try to achieve a horizontal resolution that is as good as the vertical</p>
			</div>
			<div id = "comment-19001" class = "comment">
				<p>"*say i wanted hypothetically, 330 ppi :)*" what is your real requirement? It's moot to give you any advice if you dismiss it for some **hypothetical** requirement. This site is not for discussion but real answerable questions. @Chuck I think the terms horizontal and vertical are a bit misleading, it's rather radial and tangential I'd say.</p>
			</div>
			<div id = "comment-19002" class = "comment">
				<p>i said 'hypothetically' to counter the argument that using a small led is enough. I'm planning to design a pov display for my bike which I plan to attach to the spokes. I'm just beginning to design it when the idea occurred and wanted to see if I was overlooking something or if someone who has actually done it could give me advice to make it better. @BendingUnit22 thanks for the terms...your usage is correct. It is infact radial and tangential.</p>
			</div>
			<div id = "comment-19003" class = "comment">
				<p>@Chuck what you say is correct and getting only a high radial resolution would not improve the overall quality of the pov display, but maybe a low rpm dc motor that would cause reciprocating motion on the tangential angle would solve that problem. Actually this idea occurred to me only as I was writing this comment. Thank you so much Chuck</p>
			</div>
			<div id = "comment-19004" class = "comment">
				<p>But using a small Led *is* enough. That's what (some of the) regular displays are made of. Smartphone screens have more than 330 PPI.  Still: what resolution are you aiming for? You ask for improvement on some unspecified design. My suggestion would be to first create a working prototype and only then think about what you want to improve and how to do it. I guess you might want to prioritise the improvements in other areas like frame rate for example.</p>
			</div>
			<div id = "comment-19005" class = "comment">
				<p>@BendingUnit22 I'm a hobbyist and the maximum density pov led strips i've seen are 144 LEDs per meter. Smartphone screens do have high PPI but those sort of LEDs are not used in POV are they? Could you tell me what you mean by improvement in frame rate?</p>
			</div>
			</div>
				<textarea id = "speech-10573" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10573">
					<img id="start_img-10573" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10573">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>