<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Technology behind Kiva Systems mobile robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-142" class = "post">
			<h2>Question</h2>
			<div id="vote-142" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2059</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Technology behind Kiva Systems mobile robots</h2>
<p>What kind of sensors and algorithms are the mobile robots of <a href="http://www.kivasystems.com/">Kiva Systems</a> equipped with? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-142" data-toggle = "popover">
				<p>user name : hAcKnRoCk</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-142">{'mobile-robot': 6, 'None': 0, 'industrial-robot': 6, 'research': 11}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-142" class = 'collapse'>
			</div>
				<textarea id = "speech-142" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-142">
					<img id="start_img-142" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-142">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-152"  class = "post">
				<h2>Answer</h2>
			<div id="vote-152" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Kiva uses a multi-agent system to control its fleet of robots and movable shells. Their website provides a <a href="http://www.kivasystems.com/solutions/software/" rel="nofollow noreferrer">high-level overview of their system architecture</a> and there's also a <a href="http://www.slideshare.net/devbp/kiva-system" rel="nofollow noreferrer">presentation</a> online that goes into more detail. The A* algorithm is used for wayfinding and a heuristic algorithm decides on the order of things to pick up (travelling salesman problem) and which shelves to move where (more frequently used shelves are put nearer the packing stations to reduce travel time).</p>

<p>According to <a href="https://www.aaai.org/ojs/index.php/aimagazine/article/viewArticle/2082" rel="nofollow noreferrer">this paper</a>, the whole system is implemented in Java and MySQL.</p>

<p>I couldn't find any direct quote about the sensors in their mobile platforms, but from the picture I'd be guessing a number of sonars and IRs</p>

<p><img src="https://i.stack.imgur.com/MQhwO.png" alt="Kiva Systems Robot"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-152" data-toggle = "popover">
				<p>user name : ThomasH</p>
				<p> user reputation : 612</p>
				<p class = "tagcontent" id = "usertaginfo-152">{'None': 41, 'gazebo': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-152">Load Comments</button></br>
			<div id = "commentsection-152" class = 'collapse'>
			<div id = "comment-14662" class = "comment">
				<p>There is also an article that was recently published that provides some high-level descriptions and interior pictures of the bot itself.

https://blog.bolt.io/meet-the-drone-that-already-delivers-your-packages-2a2d7cf7714f</p>
			</div>
			</div>
				<textarea id = "speech-152" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-152">
					<img id="start_img-152" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-152">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>