<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Tf frame origin is offset from the actual base_link
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8866" class = "post">
			<h2>Question</h2>
			<div id="vote-8866" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 179</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tf frame origin is offset from the actual base_link</h2>
<p>I have built my differential drive mobile robot in solidworks and converted that to URDF file using soliworks2urdf converter. I successfully launched and robot and simulated with tele-operation node. Since i am intended to use navigation stack in i viewed the transform of the robot in rviz which resulted as below.</p>

<p><a href="https://i.stack.imgur.com/2FgIo.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/2FgIo.png" alt="enter image description here"></a></p>

<p>As you can see the base plate is the one which supports the wheels and castors but the tf of base plate is shown away from the actual link and even odom is away from the model. Where have i gone wrong and how to fix this. Refer the URDF of model below.</p>

<pre><code>    &lt;?xml   version="1.0"?&gt;
&lt;robot
  name="JMbot"&gt;
  &lt;link
    name="Base_plate"&gt;
    &lt;inertial&gt;
      &lt;origin
        xyz="-0.3317 0.71959 -0.39019"
        rpy="0 0 0" /&gt;
      &lt;mass
        value="0.55378" /&gt;
      &lt;inertia
        ixx="0.0061249"
        ixy="0.00016086"
        ixz="-8.6651E-18"
        iyy="0.0041631"
        iyz="-1.4656E-17"
        izz="0.010283" /&gt;
    &lt;/inertial&gt;
    &lt;visual&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Base_plate.STL" /&gt;
      &lt;/geometry&gt;
      &lt;material
        name=""&gt;
        &lt;color
          rgba="0.74902 0.74902 0.74902 1" /&gt;
      &lt;/material&gt;
    &lt;/visual&gt;
    &lt;collision&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Base_plate.STL" /&gt;
      &lt;/geometry&gt;
    &lt;/collision&gt;
  &lt;/link&gt;
  &lt;link
    name="Wheel_R"&gt;
    &lt;inertial&gt;
      &lt;origin
        xyz="0.010951 1.1102E-16 -1.1102E-16"
        rpy="0 0 0" /&gt;
      &lt;mass
        value="0.45064" /&gt;
      &lt;inertia
        ixx="0.00091608"
        ixy="-1.2355E-19"
        ixz="1.0715E-18"
        iyy="0.00053395"
        iyz="-6.7763E-20"
        izz="0.00053395" /&gt;
    &lt;/inertial&gt;
    &lt;visual&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Wheel_R.STL" /&gt;
      &lt;/geometry&gt;
      &lt;material
        name=""&gt;
        &lt;color
          rgba="0.74902 0.74902 0.74902 1" /&gt;
      &lt;/material&gt;
    &lt;/visual&gt;
    &lt;collision&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Wheel_R.STL" /&gt;
      &lt;/geometry&gt;
    &lt;/collision&gt;
  &lt;/link&gt;
  &lt;joint
    name="Wheel_R"
    type="continuous"&gt;
    &lt;origin
      xyz="-0.14688 0.40756 -0.73464"
      rpy="-2.7127 -0.081268 -3.1416" /&gt;
    &lt;parent
      link="Base_plate" /&gt;
    &lt;child
      link="Wheel_R" /&gt;
    &lt;axis
      xyz="1 0 0" /&gt;
  &lt;/joint&gt;
  &lt;link
    name="Wheel_L"&gt;
    &lt;inertial&gt;
      &lt;origin
        xyz="-0.039049 2.2204E-16 2.498E-15"
        rpy="0 0 0" /&gt;
      &lt;mass
        value="0.45064" /&gt;
      &lt;inertia
        ixx="0.00091608"
        ixy="-9.6693E-19"
        ixz="-1.7816E-18"
        iyy="0.00053395"
        iyz="1.3553E-19"
        izz="0.00053395" /&gt;
    &lt;/inertial&gt;
    &lt;visual&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Wheel_L.STL" /&gt;
      &lt;/geometry&gt;
      &lt;material
        name=""&gt;
        &lt;color
          rgba="0.74902 0.74902 0.74902 1" /&gt;
      &lt;/material&gt;
    &lt;/visual&gt;
    &lt;collision&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Wheel_L.STL" /&gt;
      &lt;/geometry&gt;
    &lt;/collision&gt;
  &lt;/link&gt;
  &lt;joint
    name="Wheel_L"
    type="continuous"&gt;
    &lt;origin
      xyz="-0.46668 0.40756 -0.70859"
      rpy="2.512 0.081268 3.4272E-15" /&gt;
    &lt;parent
      link="Base_plate" /&gt;
    &lt;child
      link="Wheel_L" /&gt;
    &lt;axis
      xyz="-1 0 0" /&gt;
  &lt;/joint&gt;
  &lt;link
    name="Castor_F"&gt;
    &lt;inertial&gt;
      &lt;origin
        xyz="2.2204E-16 0 0.031164"
        rpy="0 0 0" /&gt;
      &lt;mass
        value="0.056555" /&gt;
      &lt;inertia
        ixx="2.4476E-05"
        ixy="-2.8588E-35"
        ixz="1.0281E-20"
        iyy="2.4476E-05"
        iyz="-1.2617E-20"
        izz="7.4341E-06" /&gt;
    &lt;/inertial&gt;
    &lt;visual&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Castor_F.STL" /&gt;
      &lt;/geometry&gt;
      &lt;material
        name=""&gt;
        &lt;color
          rgba="0.75294 0.75294 0.75294 1" /&gt;
      &lt;/material&gt;
    &lt;/visual&gt;
    &lt;collision&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Castor_F.STL" /&gt;
      &lt;/geometry&gt;
    &lt;/collision&gt;
  &lt;/link&gt;
  &lt;joint
    name="Castor_F"
    type="continuous"&gt;
    &lt;origin
      xyz="-0.31952 0.39256 -0.57008"
      rpy="-1.5708 1.1481 -1.3614E-16" /&gt;
    &lt;parent
      link="Base_plate" /&gt;
    &lt;child
      link="Castor_F" /&gt;
    &lt;axis
      xyz="0 0 1" /&gt;
  &lt;/joint&gt;
  &lt;link
    name="Castor_R"&gt;
    &lt;inertial&gt;
      &lt;origin
        xyz="-1.1102E-16 0 0.031164"
        rpy="0 0 0" /&gt;
      &lt;mass
        value="0.056555" /&gt;
      &lt;inertia
        ixx="2.4476E-05"
        ixy="0"
        ixz="-3.9352E-20"
        iyy="2.4476E-05"
        iyz="-1.951E-20"
        izz="7.4341E-06" /&gt;
    &lt;/inertial&gt;
    &lt;visual&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Castor_R.STL" /&gt;
      &lt;/geometry&gt;
      &lt;material
        name=""&gt;
        &lt;color
          rgba="0.75294 0.75294 0.75294 1" /&gt;
      &lt;/material&gt;
    &lt;/visual&gt;
    &lt;collision&gt;
      &lt;origin
        xyz="0 0 0"
        rpy="0 0 0" /&gt;
      &lt;geometry&gt;
        &lt;mesh
          filename="package://jmbot_description/meshes/Castor_R.STL" /&gt;
      &lt;/geometry&gt;
    &lt;/collision&gt;
  &lt;/link&gt;
  &lt;joint
    name="Castor_R"
    type="continuous"&gt;
    &lt;origin
      xyz="-0.34387 0.39256 -0.86909"
      rpy="1.5708 -0.93144 3.1416" /&gt;
    &lt;parent
      link="Base_plate" /&gt;
    &lt;child
      link="Castor_R" /&gt;
    &lt;axis
      xyz="0 0 1" /&gt;
  &lt;/joint&gt;

&lt;gazebo&gt;
&lt;plugin name="differential_drive_controller"
    filename="libgazebo_ros_diff_drive.so"&gt;
    &lt;leftJoint&gt;Wheel_L&lt;/leftJoint&gt;  
    &lt;rightJoint&gt;Wheel_R&lt;/rightJoint&gt;
    &lt;robotBaseFrame&gt;Base_plate&lt;/robotBaseFrame&gt;
    &lt;wheelSeparation&gt;0.235&lt;/wheelSeparation&gt;
    &lt;wheelDiameter&gt;0.12&lt;/wheelDiameter&gt;
    &lt;publishWheelJointState&gt;true&lt;/publishWheelJointState&gt;
    &lt;/plugin&gt;
&lt;plugin name="joint_state_publisher"
    filename="libgazebo_ros_joint_state_publisher.so"&gt;
    &lt;jointName&gt;Castor_F, Castor_R&lt;/jointName&gt;
    &lt;/plugin&gt;

&lt;/gazebo&gt;

&lt;/robot&gt;
</code></pre>

			</div>
			<div class = "userinfosection"  id = "userinfo-8866" data-toggle = "popover">
				<p>user name : user3725099</p>
				<p> user reputation : 38</p>
				<p class = "tagcontent" id = "usertaginfo-8866">{'odometry': 2, 'None': 0, 'power': 3, 'arduino': 1, 'battery': 3, 'gazebo': 3, 'first-robotics': 1, 'lithium-polymer': 3, 'simulation': 1, 'motor': 3, 'mobile-robot': 7, 'ros': 4, 'navigation': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8866">Load Comments</button></br>
			<div id = "commentsection-8866" class = 'collapse'>
			<div id = "comment-14584" class = "comment">
				<p>Can you try changing the Fixed Frame on RViz? Sometimes wrong selection there can cause weird results.</p>
			</div>
			<div id = "comment-14586" class = "comment">
				<p>That doesn't help. Even if i change the fixed frame the origin falls out of the base_plate</p>
			</div>
			<div id = "comment-14601" class = "comment">
				<p>The Odom frame is supposed to stay away from the model since it is the inertial frame, so that part is ok</p>
			</div>
			<div id = "comment-14602" class = "comment">
				<p>Also, you will get better help for this at answers.ros.org</p>
			</div>
			</div>
				<textarea id = "speech-8866" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8866">
					<img id="start_img-8866" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8866">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8869"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8869" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like most of your parts have no rotation, but <em>some</em> of them do, so I'm going to guess that you didn't mate your assembly to the origin planes in Solidworks.</p>

<p>First, on your base plate, open the Solidworks part file and check that the origin planes run through what you want the origin of the part to be. If they don't and it's a pain to re-draw the part, then go to the "Reference Feature" button and then "Plane" and draw what you want the origin planes to be. SAVE THE PART. </p>

<p>Open your assembly, and check if it says "underdefined" at the bottom. Solidworks (annoyingly) puts the first part down fixed, but not mated, to a random position in the assembly space.</p>

<p>So, in the parts tree, right click the top part (should have (f) after the name, indicating it's fixed), and click "float". You may have to expand the option list to see this. </p>

<p>Now go to Mates, then expand the part list for your base plate, then mate the origin (or reference) planes of your base plate to the origin planes of your assembly space. </p>

<p>You may also need to mate the wheels to prevent them from rotating in order to get the "fully defined" message at the bottom.</p>

<p>I'm on my phone at the moment; I'll add some figures after I get to work.</p>

<p>:EDIT:</p>

<p>Here are some pictures OP provided. I've marked up what I believe to be the error. I think that the URDF Global Origin is set to be the same as the Solidworks assembly origin. In this case, for the robot, the robot (global) origin <em>should</em> be the origin of the Base Plate, but I am betting that the Base Plate is not mated to the assembly origin, so this is causing the discrepancy in the simulation visualization. </p>

<p><a href="https://i.stack.imgur.com/wjubW.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/wjubW.png" alt="Solidworks URDF Assembly Origin"></a></p>

<p><a href="https://i.stack.imgur.com/iH9pT.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/iH9pT.png" alt="Solidworks URDF Global Origin"></a></p>

<p>:EDIT 2:</p>

<p>Here's a picture walk-through of mating a part to the assembly origin. If you need anything clarified, please let me know in a comment, but if you have a new question about something then please just make a new question (they're free!)</p>

<p><a href="https://i.stack.imgur.com/QPBvy.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/QPBvy.png" alt="Solidworks URDF Part Origin"></a></p>

<p><a href="https://i.stack.imgur.com/EpPt6.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/EpPt6.png" alt="Solidworks URDF Under defined Assembly"></a></p>

<p><a href="https://i.stack.imgur.com/f9Bpz.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/f9Bpz.png" alt="Solidworks URDF Part Assembly Mating"></a></p>

<p><a href="https://i.stack.imgur.com/bAuGZ.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/bAuGZ.png" alt="Solidworks URDF Fully Defined Assembly"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8869" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8869">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8869">Load Comments</button></br>
			<div id = "commentsection-8869" class = 'collapse'>
			<div id = "comment-14590" class = "comment">
				<p>Thank you, I have couple of pics showing my origin [here](https://www.dropbox.com/sh/e0iueib8e8xuq8l/AAACW2macfkLyJM42_KaTckAa?dl=0) and i feel its fine, can you please verify</p>
			</div>
			<div id = "comment-14611" class = "comment">
				<p>Great! So [this](https://www.dropbox.com/s/kqi2swet03hz2u5/1-13-2016%2012-55-39%20PM.png?dl=0) is the problem am i right?</p>
			</div>
			<div id = "comment-14617" class = "comment">
				<p>@user3725099 - Yes, I believe that is the problem - that your *global* reference frame is in a random location. I believe if you constrain (mate) the center of your robot to the center of your assembly space it will fix that, which will then fix your simulations.</p>
			</div>
			</div>
				<textarea id = "speech-8869" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8869">
					<img id="start_img-8869" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8869">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>