<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>The algorithm for the following analog controller => digital controller?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5208" class = "post">
			<h2>Question</h2>
			<div id="vote-5208" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 91</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>The algorithm for the following analog controller => digital controller?</h2>
<p>I have found a continous control in the following form:</p>

<p>$$
u(s) = \left( K_{p} + \frac{K_{i}}{s} + K_{d} \frac{N}{1 + \frac{N}{s}} \right)e(s)
$$</p>

<p>but since I need it to "convert" in a digital control I need something like:</p>

<p>$$
y_{k} = y_{k-1} + q_{0}e_{k-1} + q_{2}e_{k-2}
$$</p>

<p>or everything that I can use in a digital way.
Is there any algorithm to achieve such transformation?
Actually the problem is the term $N$ in the equation. At first I thought that it was a simply PID controller but the N term is far from my understanding</p>

<p>Thank you very much and happy Christmas!!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5208" data-toggle = "popover">
				<p>user name : Dave</p>
				<p> user reputation : 294</p>
				<p class = "tagcontent" id = "usertaginfo-5208">{'control': 10, 'quadcopter': 11, 'None': 6, 'pid': 13, 'uav': 3, 'matlab': 0, 'mobile-robot': 0, 'ros': 2, 'movement': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5208">Load Comments</button></br>
			<div id = "commentsection-5208" class = 'collapse'>
			<div id = "comment-7983" class = "comment">
				<p>Where have you found it, and why do you think it  is what you need? The derivative term looks unusual. What is N?</p>
			</div>
			<div id = "comment-7985" class = "comment">
				<p>In this document [link](http://link.springer.com/article/10.1007%2Fs10846-013-9911-x) on page 43</p>
			</div>
			<div id = "comment-7995" class = "comment">
				<p>Same question as Eugene Sh. This looks like a [PID controller](https://en.wikipedia.org/wiki/PID_controller), with an unusual term for the derivative term. The link you gave is not working.</p>
			</div>
			<div id = "comment-7997" class = "comment">
				<p>The parameter N regulates the filtering on the derivative term to cut off high-frequency noise and to make the derivative feasible, of course. Read the [bible of PID](https://aiecp.files.wordpress.com/2012/07/1-0-1-k-j-astrom-pid-controllers-theory-design-and-tuning-2ed.pdf) (page 76) for reference.</p>
			</div>
			</div>
				<textarea id = "speech-5208" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5208">
					<img id="start_img-5208" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5208">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5212"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5212" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should take a look at the <a href="http://en.wikipedia.org/wiki/Bilinear_transform" rel="nofollow">Tustin transformation</a> to get the bilinear mapping between s-domain and z-domain. You'll also find examples therein.</p>

<p>Once you're provided with the description of your transfer function in z-domain, it's straightforward to derive the formula in discrete time domain.</p>

<p>Given
$$
\frac{Y}{U}=\frac{b_0+\ldots+b_{m-1}z^{-(m-1)}+b_mz^{-m}}{a_0+\ldots+a_{n-1}z^{-(n-1)}+a_nz^{-n}},
$$</p>

<p>you'll obtain
$$
y_k=\frac{b_0u_k+\ldots+b_mu_{k-m} - a_1y_{k-1}-\ldots-a_ny_{k-n}}{a_0}.
$$</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5212" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-5212">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5212">Load Comments</button></br>
			<div id = "commentsection-5212" class = 'collapse'>
			<div id = "comment-7996" class = "comment">
				<p>How should I deal with the $N$ term in the first formel?</p>
			</div>
			<div id = "comment-7998" class = "comment">
				<p>Uhm, it seems you're not so familiar with PID control then... This is one of possible [reference](https://aiecp.files.wordpress.com/2012/07/1-0-1-k-j-astrom-pid-controllers-theory-design-and-tuning-2ed.pdf) (page 76). Before rushing headlong into the problem, always recap some useful pieces of theory :)</p>
			</div>
			</div>
				<textarea id = "speech-5212" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5212">
					<img id="start_img-5212" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5212">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>