<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>The velocity profile of my robot is fluctuating
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9840" class = "post">
			<h2>Question</h2>
			<div id="vote-9840" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 117</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>The velocity profile of my robot is fluctuating</h2>
<p>I am presently doing a robotics project. I am using USARSIM (Urban Search and Rescue Simulation) to spawn a robot. I am trying to create different behaviors, like: </p>

<ul>
<li>goal following behavior; </li>
<li>obstacle avoidance behavior, and; </li>
<li>wall following behavior for my robot. </li>
</ul>

<p>I first generate the robots in USARSIM. Then I specify a goal location to the robot and provide it with a speed. The robot then moves to the goal location at the specified speed. USARSIM provides me the (x, y, z) coordinates of the vehicle at every time stamp. Based on the the coordinates received, I am trying to calculate the instantaneous speed of the robot at every time stamp. The instantaneous speed graph is fluctuating a lot. </p>

<p>In a specific case, I am providing the robot with 0.2 m/s. The velocity profile is shown below. I am unable to understand the reason behind it.</p>

<p><a href="https://i.stack.imgur.com/731c5.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/731c5.png" alt="The velocity profile of my robot"></a></p>

<p>Here are some observations that I have made. </p>

<ol>
<li>As I increase the speed of the robot, the variations are decreasing.</li>
<li>Suppose, I provide a straight trajectory to the robot, it doesn't follow the straight trajectory. Does it explain why my velocity profile is fluctuating a lot ? </li>
</ol>

<p><a href="https://i.stack.imgur.com/i7DHF.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/i7DHF.png" alt="Graph of &quot;Provided trajectory&quot; versus &quot;Followed trajectory&quot;"></a></p>

<p>Please let me know if any one can provide me a possible explanation for the variance in my velocity profile.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9840" data-toggle = "popover">
				<p>user name : Lenin Mishra</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9840">{'mobile-robot': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9840">Load Comments</button></br>
			<div id = "commentsection-9840" class = 'collapse'>
			<div id = "comment-17531" class = "comment">
				<p>I assume you use finite differencing for the velocity, which is very sensitive to errors in the position. You could improve it with a low-pass-filter.</p>
			</div>
			</div>
				<textarea id = "speech-9840" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9840">
					<img id="start_img-9840" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9840">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9858"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9858" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There can be many reasons for the fluctuating velocity. </p>

<p>The most commons is errors due to the finite differences method that I assume you are using. </p>

<p>If the system is not real time, the interrupt when you measure the distance might be sometimes later sometimes earlier then expected. Since the velocity you ploted is always below the target velocity and never above...there might be a nother problem in your case. </p>

<p>I do not know the simulation system you mentioned, but if it is not a real-time simulation system there is a possiblity that the simulation is tardy. Events in simulation happen later then in your computer clock. 1 second of simulation takes 1.2 seconds to calculate for example. If you use a real-time clock to get the interrupts and use that time to calculate the velocity, you think you are at simulation time 1 second but you are actually at simulation time 0.85 seconds, so the distance that should be covered in this time was not yet covered hence you get a lower velocity. This would also mean that your velocity should slowly drift downwards, which is not happening. </p>

<p>If you do not use a fixed time solver for the simulation, it might be that sometimes you are blow the simulation time sometimes you are "catching up".</p>

<p>It might very well be a combination of the above. </p>

<p>These are just guesses. </p>

<p>Are you using the time as a fixed interrupt or do you interrogate the simulation environment for the simulation time?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9858" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-9858">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9858">Load Comments</button></br>
			<div id = "commentsection-9858" class = 'collapse'>
			<div id = "comment-17594" class = "comment">
				<p>It is true that I am using finite difference method for calculating the instantaneous speed of the vehicle. The simulation environment provides the (x,y) coordinates of the vehicle at a frequency of 10 Hz. Though if one observes the time stamps, the difference is not exactly 100 milliseconds. It fluctuates between 85 and 100 milliseconds. One interesting point that you mentioned is that the vehicle is not achieving the maximum speed that is provided. What do you think could be the reason for this? Regarding the trajectory of the vehicle, could you provide a specific reason for why is it deviat</p>
			</div>
			<div id = "comment-17600" class = "comment">
				<p>Is the ground completle flat? Maybe you have movement in the z direction as well and the overall speed vector is 0.2 m/s</p>
			</div>
			</div>
				<textarea id = "speech-9858" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9858">
					<img id="start_img-9858" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9858">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>