<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>theory on rigid body motion in robotics book
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5227" class = "post">
			<h2>Question</h2>
			<div id="vote-5227" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 114</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>theory on rigid body motion in robotics book</h2>
<p>I am reading some theories related to rigid body motion from the book "A Mathematical Introduction to Robotic Manipulation" by Prof. Richard Murray. </p>

<p>I am focusing on chapter 2, Sec 4 to derive some formulation. According to his introduction of chapter "we present a modern approach treatment of the theory of screws based on linear algebra and matrix groups". I myself feel rather understandable and comprehensive explanation from this approach. </p>

<p>However, his scope in this chapter is limited in inertia coordinate frame where he refers to as spatial frame and moving frame as body frame. Is there any other references that treat the topic in the reversed order? spatial as moving/non-inertia frame and the other one is inertia frame?</p>

<p>Thank you!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5227" data-toggle = "popover">
				<p>user name : Shawn Le</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-5227">{'control': 2, 'None': 0, 'manipulator': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5227" class = 'collapse'>
			</div>
				<textarea id = "speech-5227" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5227">
					<img id="start_img-5227" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5227">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6422"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are probably new to the business. Richard's book follows standard approach in mechanics textbook with an emphasis on coordinate invariance (a notion commonly popped up in Lie group theory). The two most important references of this book is Greenwood's classical dynamics and John McCarthy's Introduction to theoretical kinematics.</p>

<p>The advantage of Richard's approach is that you can just use any coordinate system, inertial or moving. In fact, if you really understand the book up to certain level, you will realize that instantaneously there is no difference between the two at all: when you use body fixed coordinate frame to compute the kinematics or dynamics, you are actually referring to an inertial frame which at that moment coincides with the body frame (we usually say, a copy). So there is no so called reverse order whatsoever. The true reversion happens only when you switch the roles of the base and the end-effector (a notion usually only used in mechanism synthesis).</p>

<p>Later when you move on to dynamics, you will see everything computed in body frame. The tricky part is that in classical dynamics, laws of physics only respects inertial frame, or in other words, invariant under the 10 dimensional Galilean transformation. So the restatement of Newton's laws for example, has to be made first in inertial frame, and then transformed to body frame. So on the one hand, equation of motions should start within a inertial frame, but on the other hand, it is eventually transformed into body frame. You may ask why?</p>

<p>A 'High-Big-Up' answer may process as follows. It is a common knowledge that there is no bi-invariant Riemannian metric on $SE(3)$. This means the notion of "error" on $SE(3)$ for example, is not consistent under arbitrary change of inertial and/or body frames (and so it also affects the curvature and hence dynamics). For the past 40 or so years, people satisfy themselves with left or right invariant metric instead. The philosophy behind this is that if they can choose some preferred inertial or body frame, then only right- or left-invariance is good enough (in terms of consistency) for engineering applications. The inertia tensor written in body frame for example, serves as a left-invariant (i.e. invariant under change of inertial frame) metric for a single rigid body, is chosen based on the fact that there is actually a preferred body frame, namely the one located at the center of mass with axes aligned with the principal axes.</p>

<p>Nevetheless, the equation of motion has a coordinate invariant form (something like $M\dot V-ad_V^T(MV)=F$), though the Riemmanian metric might be different under change of coordinate frames. The reason is that Newton's second law is geometric in nature: $M\nabla_VV=F$, i.e. essentially a geodesic equation. This is the beauty of the matrix Lie group machinery: elegance in analytic derivation. But it is not necessarily computationally efficient. These days people are moving on to geometric algebra. But Lie theory is inevitable anyway, and is equivalent to Richard's matrix approach under proper linear representations.</p>

<p>Hopes my mumbo jumbo didn't kill the fun of the book.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6422" data-toggle = "popover">
				<p>user name : Troy Woo</p>
				<p> user reputation : 306</p>
				<p class = "tagcontent" id = "usertaginfo-6422">{'None': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6422">Load Comments</button></br>
			<div id = "commentsection-6422" class = 'collapse'>
			<div id = "comment-9354" class = "comment">
				<p>I am stun and flooded by your information. It's great to read your comments though! I've been through lectures at universities as a student but haven't reached this depth of theory. Even I've always felt like the explanation in several graduate textbooks do not open up this far and leave lots of questions. Thank you!</p>
			</div>
			<div id = "comment-9355" class = "comment">
				<p>@ShawnLe you are welcome. It is more reasonable to let professionals provide software packages and toolboxes with advanced ideas. But these days deterministic robotics are downplayed and probabilistic robotics is everywhere---nobody will get paid for doing deterministic robotics anymore. It is not impossible to utilize the classic deterministic tools (geometry oriented) in probabilistic robotics, e.g. to consider stochastic analysis on manifolds and Lie groups (the non-linearity issue). But the prerequisite are too much and most people don't qualify. Many things are done all wrong.</p>
			</div>
			</div>
				<textarea id = "speech-6422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6422">
					<img id="start_img-6422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6422">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>