<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>There seems to be so many robotic arms on the market, where can I get a list of pros~cons of each?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10758" class = "post">
			<h2>Question</h2>
			<div id="vote-10758" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>There seems to be so many robotic arms on the market, where can I get a list of pros~cons of each?</h2>
<p>Doing some research on robotic arms and thinking about getting one, but I was wondering where can I get info on the pros/cons of each one and how they compare to each other. Another important factor is which one has the largest community following.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10758" data-toggle = "popover">
				<p>user name : duckx</p>
				<p> user reputation : 95</p>
				<p class = "tagcontent" id = "usertaginfo-10758">{'None': 0, 'robotic-arm': -3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10758">Load Comments</button></br>
			<div id = "commentsection-10758" class = 'collapse'>
			<div id = "comment-19362" class = "comment">
				<p>Are we supposed to guess which arms you are referring to?!</p>
			</div>
			</div>
				<textarea id = "speech-10758" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10758">
					<img id="start_img-10758" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10758">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10759"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10759" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's no such list because if a property is an advantage or disadvantage depends on the application to a large degree.</p>

<p>This holds true for a lot of things in engineering and life in general.</p>

<p>You said nothing about your application. From your statement:</p>

<blockquote>
  <p>thinking about getting one</p>
</blockquote>

<p>it looks like you don't really have one either. </p>

<p>So what would you want to do with such a list anyway? Are you worried about making a mistake and buying the wrong arm? What if arm A has 20% more maximum force than arm B, but B has a 20% larger community? Would you want to come up with some weighted scoring system? How would you be able to decide which arm is right for you given that you have no experience with them and no clear requirements?</p>

<p>Just get started with any arm. This is the best way to gain experience with what matters and what does not.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10759" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-10759">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10759">Load Comments</button></br>
			<div id = "commentsection-10759" class = 'collapse'>
			<div id = "comment-19358" class = "comment">
				<p>I have a retail display window and wanted to build a robotic arm vending machine where users can pay via a bill acceptor and then the arm would drop the items to an opening.</p>
			</div>
			<div id = "comment-19361" class = "comment">
				<p>Required speed? Weight of the objects? Safety considerations? Working volume of the robot? Budget? Normal items or cooled environment?</p>
			</div>
			</div>
				<textarea id = "speech-10759" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10759">
					<img id="start_img-10759" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10759">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>