<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Thoughts on OPs deleting questions
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3064" class = "post">
			<h2>Question</h2>
			<div id="vote-3064" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 53</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Thoughts on OPs deleting questions</h2>
<p>I have encountered this a few times recently: A user will ask a question about a problem, the solution to which is generally a one-liner troubleshooting thing posted in the comments (i.e. "Have you tried resetting the SMC?" "Great, it works now!") or something like a the location of a menu item buried somewhere. Every now and then, the user will subsequently delete this question.</p>

<p>I don't like this because I feel that some other users might benefit greatly from reading the question when they are having a similar issue, even if the answer was "easy" for those who are more familiar with the products and troubleshooting techniques.</p>

<p>Am I the only person who feels this way, or do other people agree and, if there is agreement, is there a good way to encourage users not to delete their posts?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3064" data-toggle = "popover">
				<p>user name : NoahL</p>
				<p> user reputation : 1867</p>
				<p class = "tagcontent" id = "usertaginfo-3064">{'None': 4, 'spam': 8, 'discussion': 13, 'canonical-questions': -3, 'closed-questions': 8, 'questions': 8, 'flagging': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3064" class = 'collapse'>
			</div>
				<textarea id = "speech-3064" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3064">
					<img id="start_img-3064" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3064">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3065"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3065" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The main countermeasure against this is that <a href="https://meta.stackexchange.com/q/5221/222623">Stack Exchange prevents the asker from deleting their question if it has an upvoted answer or if it has multiple answers</a>.</p>

<p>Unfortunately, due to the low voting on this site, it can happen that an answer given wasn't upvoted, which leaves OP free to delete their question. If this happens and you suspect it to be because someone provided their answer, you can bring it up in chat so a moderator can have a look and potentially undelete the question.</p>

<p>If you see a pattern of this with a particular user, that's definitely grounds to flag for a moderator. Should a user regularly delete their questions, <a href="https://meta.stackexchange.com/a/97720/222623">an automatic question ban would be applied anyway</a>.</p>

<p>With regard to deleting questions after an answer was given in comments, this is another reason for answering using the answer box rather than in the comments, so the answer can be upvoted. For the exact transcript you give, I'd still be inclined to raise it in chat as I would if it had been an answer, since it is clear that OP has deleted simply because they have an answer.</p>

<p>In my opinion, this kind of thing happens rarely. I've given over 2.5k answers and only had this happen a couple of times. This is the kind of ratio where moderators can take a look manually, and I don't think anything else needs implementing specifically to deal with this.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3065" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-3065">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3065" class = 'collapse'>
			</div>
				<textarea id = "speech-3065" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3065">
					<img id="start_img-3065" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3065">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>