<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>TI ARM with stacked RAM
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-924" class = "post">
			<h2>Question</h2>
			<div id="vote-924" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>TI ARM with stacked RAM</h2>
<p>Do any of the TI <a href="http://en.wikipedia.org/wiki/ARM_system-on-chip_architecture" rel="nofollow">ARM SOC</a>s, e.g. <a href="http://www.ti.com/lsds/ti/arm/sitara_arm_cortex_a_processor/sitara_arm_cortex_a8/omap3503_15_arm_cortex_a8/products.page?paramCriteria=no" rel="nofollow">OMAP</a> or <a href="http://www.ti.com/lsds/ti/dsp/video_processors/overview.page" rel="nofollow">Da Vinci</a>, have a version with stacked RAM? (e.g. DDR2 or mDDR) For miniature robots like micro drones, it would be really nice to not need to spend board area on an external RAM chip. Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-924" data-toggle = "popover">
				<p>user name : AlcubierreDrive</p>
				<p> user reputation : 248</p>
				<p class = "tagcontent" id = "usertaginfo-924">{'None': 8, 'manufacturing': 5, 'cnc': 2, '3d-printing': 5, 'arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-924" class = 'collapse'>
			</div>
				<textarea id = "speech-924" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-924">
					<img id="start_img-924" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-924">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-925"  class = "post">
				<h2>Answer</h2>
			<div id="vote-925" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to TI's website, <a href="http://www.ti.com/general/docs/wtbu/wtbuproductcontent.tsp?templateId=6123&amp;navigationId=12828&amp;contentId=50020" rel="nofollow noreferrer">some of the OMAP processors (specifically the OMAP-DM5x range) have stacked RAM</a>.</p>

<p><img src="https://focus.ti.com/en/multimedia/wtbu/OMAP-DM299-500-diagram.jpg" alt="chip architecture"></p>

<p>More info <a href="http://www.ti.com/lit/ml/swpt036/swpt036.pdf" rel="nofollow noreferrer">here (PDF)</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-925" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-925">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-925" class = 'collapse'>
			</div>
				<textarea id = "speech-925" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-925">
					<img id="start_img-925" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-925">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>