<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Top bar on updated site has some unsharp text in it on a Thunderbolt display
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2378" class = "post">
			<h2>Question</h2>
			<div id="vote-2378" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 50</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Top bar on updated site has some unsharp text in it on a Thunderbolt display</h2>
<p>Overall the update is awesome. I really like the new fonts and the <em>really</em> like the updated look to the Markdown input box for question asking and answering.</p>

<p>I'm noticing, on my Thunderbolt display (which is attached to my 15" rMPB), that the top bar text has a bad case of the jaggies.</p>

<p><img src="https://i.stack.imgur.com/zPc7z.png" alt="Thunderbolt display"></p>

<p>(Direct link: <a href="https://i.stack.imgur.com/zPc7z.png" rel="nofollow noreferrer">http://i.stack.imgur.com/zPc7z.png</a>)</p>

<p>The Thunderbolt display is running at native 2560 x 1440 resolution.</p>

<p>For comparison here's how it looks on the retina display on the MacBook Pro (which is great):</p>

<p><img src="https://i.stack.imgur.com/XywMV.png" alt="Retina MacBook Pro display"></p>

<p>(Direct link: <a href="https://i.stack.imgur.com/XywMV.png" rel="nofollow noreferrer">http://i.stack.imgur.com/XywMV.png</a>)</p>

<p>I'm using Chrome 41.0.2272.76 (64-bit) on OS X 10.2.2 to view the site but it renders equally jaggy in Safari.</p>

<p>Edit: those scaled-down images don't show the problem. Use the direct links to see them at full resolution.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2378" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-2378">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2378">Load Comments</button></br>
			<div id = "commentsection-2378" class = 'collapse'>
			<div id = "comment-4440" class = "comment">
				<p>that's weird. I'm not seeing it on my iMac(non-retina). if you use use chrome inspect on the body tag, you'll see we use -webkit-font-smoothing: antialiased; if you turn it off does it fix the font issue?</p>
			</div>
			<div id = "comment-4456" class = "comment">
				<p>@Jin uh, how do I turn off that option? <sheepish grin></p>
			</div>
			</div>
				<textarea id = "speech-2378" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2378">
					<img id="start_img-2378" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2378">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>