<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Torque control and monitoring of servo
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4379" class = "post">
			<h2>Question</h2>
			<div id="vote-4379" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 395</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Torque control and monitoring of servo</h2>
<p>I am trying to control the servo motor operation by torque control by interfacing the sensor to an avr , which will continuously monitor the torque value from the sensor and control the torque according to the given set point .Is it possible to make such a setup? If yes how?</p>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4379" data-toggle = "popover">
				<p>user name : Soumya</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-4379">{'servomotor': 2, 'None': 0, 'torque': 2, 'avr': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4379">Load Comments</button></br>
			<div id = "commentsection-4379" class = 'collapse'>
			<div id = "comment-6955" class = "comment">
				<p>If you already have a specific sensor in mind, you should link the data sheet or the type name.</p>
			</div>
			<div id = "comment-7013" class = "comment">
				<p>Please give details of the sensor... at the moment this is very difficult to answer</p>
			</div>
			</div>
				<textarea id = "speech-4379" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4379">
					<img id="start_img-4379" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4379">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4995"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4995" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, torque control of a motor with an AVR microcontroller is possible.  In fact, torque control of a joint is common practice in robotics.  This is a good example of a <a href="http://en.wikipedia.org/wiki/Feedback" rel="nofollow">feedback loop</a>.  </p>

<p>There are many ways to measure the torque of a motor.  An expensive way is to use an off-the-shelf strain gauge based force/torque sensor on the output.  A cheaper way is to just us a rotary spring and measure the angle before and after the spring.  If you have a brushed or brushless motor that you are controlling yourself, the motor's torque is proportional to the current draw.  there are ways to measure this electronically as well.</p>

<p>As for control, you will probably use some variant of <a href="http://en.wikipedia.org/wiki/PID_controller" rel="nofollow">PID control</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4995" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4995">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4995" class = 'collapse'>
			</div>
				<textarea id = "speech-4995" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4995">
					<img id="start_img-4995" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4995">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>