<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Torque of coreless DC micro motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7497" class = "post">
			<h2>Question</h2>
			<div id="vote-7497" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 428</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Torque of coreless DC micro motor</h2>
<p>I would like to build a small two-wheeled robot similar to the one shown <a href="http://www.instructables.com/id/Mini-2-wheel-robot-with-IR-sensor-weight-14gr-and-/" rel="nofollow noreferrer">here</a>.</p>

<p>In order to keep the robot small, I intend to use two coreless micro motors like the one shown bellow. The power source would be 2 AAA or AA batteries, in order to reach 3 V. These batteries would represent the bulk of the weight of the robot. The rest of the robot would be virtually weightless.</p>

<p>The specifications of one of such motor are:</p>

<pre><code>Motor diameter: 6 mm
Motor length: 12 mm
Output shaft: 0.8 mm
Output shaft length: 4 mm
Voltage: 3 V 
Current: 17 mA (stall 120 mA) 
Frequency : 22000 RPM 
</code></pre>

<p>My question is if small DC motors of this type have enough torque to even make the robot start moving. I have been unable to find torque info on these kind of motors and I suspect the weight of the robot could be too much for them to handle. Do you know the typical torque of such motor? Is there another type of (cheap) motor more appropriate for this project?</p>

<p><img src="https://i.stack.imgur.com/E7PhAm.jpg" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7497" data-toggle = "popover">
				<p>user name : Gon alo Ribeiro</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-7497">{'mobile-robot': 1, 'None': 0, 'torque': 1, 'wheeled-robot': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7497">Load Comments</button></br>
			<div id = "commentsection-7497" class = 'collapse'>
			<div id = "comment-10742" class = "comment">
				<p>These motors won't likely be strong enough. As you suspect they are fast, but torque is low. For 3$ you can just try but you'll probably need some gearing. Just use the smallest possible wheels.</p>
			</div>
			<div id = "comment-10743" class = "comment">
				<p>Take the "Voltage" and "Speed" specs from the page you linked, they give you the speed constant (Kv, rpm/v, or better radians/sec/volt) Some standard math from that gives you the torque constant (Nm/amp). Then you have the stall torque because they gave the spec for the stall current. I'm leaving a bit of digging for you to do... Hint : power = speed in radians/sec * torque, and also V * A)</p>
			</div>
			<div id = "comment-10744" class = "comment">
				<p>@BrianDrummond, thank you for your tip. From your tip I did the following deduction: P =  , P = VA, then VA =   and after some manipulation   = VA/(2 f). Then I substituted V = 3 V, A = 120 mA, f = 367 Hz (22000 rmp) and obtained   = 156  N m. Does this look right?</p>
			</div>
			<div id = "comment-10745" class = "comment">
				<p>@Goncalo without doing the math myself I think you're on the right lines. Remember that's the stall torque - for rated torque use rated current (17mA or so, and remember some of that torque is lost in friction. I think you'll need to build some very small gearboxes ... feel like hacking watches?</p>
			</div>
			</div>
				<textarea id = "speech-7497" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7497">
					<img id="start_img-7497" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7497">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7529"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7529" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know if you will have enough torque, but if/when you try it out, you might have better luck if you don't put any wheels on there.  The <a href="https://solarbotics.com/product/k_pp/" rel="nofollow noreferrer">Solarbotics Photopopper Photovore</a>, uses similar un-geared motors and just uses a bit of heat-shrink tubing for a wheel.  (However, it only has a solar cell and capacitor, so is much lighter than your bot).
<img src="https://i.stack.imgur.com/kCfV1.jpg" alt="Solarbotics Photopopper Photovore side view"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7529" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7529">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7529">Load Comments</button></br>
			<div id = "commentsection-7529" class = 'collapse'>
			<div id = "comment-10832" class = "comment">
				<p>Thank you very much. I will take your suggestion into account :)</p>
			</div>
			</div>
				<textarea id = "speech-7529" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7529">
					<img id="start_img-7529" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7529">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>