<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Tracking a ball returning its x,y,z coordinates
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13887" class = "post">
			<h2>Question</h2>
			<div id="vote-13887" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tracking a ball returning its x,y,z coordinates</h2>
<p>I'm a Mechatronics Student Engineer, and still new with the computer vision field and am now working on a project that needs to Tracks a small ball and need to determine it's (x,y,z).
1st) Kinect was bad for detecting small objects.
2nd) Stereo with 2 cameras not hardware synchronized isn't accurate.
3rd) Single Stereo Camera is very expensive and I don't have any information of how dealing with it.</p>

<p>So how Can I track a ball to return its coordinates(x,y,z) ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13887" data-toggle = "popover">
				<p>user name : Zain Khaled</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-13887">{'opencv': 0, 'None': 0, 'computer-vision': 0, 'matlab': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13887">Load Comments</button></br>
			<div id = "commentsection-13887" class = 'collapse'>
			<div id = "comment-22661" class = "comment">
				<p>Welcome to *Robotics* ZainKhaled, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-22662" class = "comment">
				<p>Any method that gives you (x,y,z), that is also capable of resolving your object, should work, unless you have some other specifications - frame rate, measurement accuracy, etc. You could use RGB-D cameras, stereo vision, structured light (like the Kinect), etc. Regarding `simple examples that [you] could modify to [your] case` - Simple is a relative term; computer vision is a pretty advanced topic. However, please consider the [OpenCV sample files](https://github.com/opencv/opencv/tree/master/samples); browse to cpp (C++) or Python and try to "stereo_match" example.</p>
			</div>
			<div id = "comment-22670" class = "comment">
				<p>Thanks guys I got it, sorry for any miss understanding, it was my 1st question on this site so I didn't know how to ask well. I'm now trying the kinect so if i get any good results i will inform others similar questions with what I get.</p>
			</div>
			<div id = "comment-22701" class = "comment">
				<p>Sorry @ZainKhaled but this is still not a [practical, answerable questions based on actual problems that you face](https://robotics.stackexchange.com/help/dont-ask), so I can't re-open it. It looks like you **do** have a couple of good questions you could ask instead however: "How to improve the accuracy of detecting small objects with Kinect" and "How to improve accuracy of stereo vision when cameras aren't synchronised".  In each case you will need to include details of what you want to achieve, what you tried, what you saw & what you expected to see.</p>
			</div>
			</div>
				<textarea id = "speech-13887" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13887">
					<img id="start_img-13887" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13887">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-13890"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13890" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I did this for my project usingb 2 webcams,to get x,y,z it is a very hard topic you need to be well informed in computer vision,even you get a stero vision camera you need to threads,so you wont be dealing with low fps ,since you are using computer vision in 2 camera frame,getting depth from stero vision is hard,also the accuracy in stereo vision is less than a kinect,and takes a big amount of time,i recommend you use kinenct or a 3d camera,and it is not the camera that is important the more important thing is your code and your method to track the ball,there are alot of method to track it ,in kinect or any other3d vision system getting x,y,z is easy since you know the depth,otherwise if you want to use normal or fast camera,if you are not well informed  in computer vision ,i recommend you change the project</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13890" data-toggle = "popover">
				<p>user name : Abdull</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-13890">{'control': 0, 'None': 1, 'robotic-arm': 0, 'pid': 0, 'microcontroller': 1, 'precise-positioning': 0, 'legged': 0, 'servomotor': 1, 'motor': 0, 'mobile-robot': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13890">Load Comments</button></br>
			<div id = "commentsection-13890" class = 'collapse'>
			<div id = "comment-22648" class = "comment">
				<p>I liked the recommendation part :'D, but I really challenge my self with my team in this project. I was told that kinect is bad for detecting small objects, even I'm trying now to check, but if not do you have any information about how to deal with a stereo camera.? also could you share your idea or any files of your project with me ?! "Not the code and privet stuff" just any files you learned form :') thanks in advance.</p>
			</div>
			</div>
				<textarea id = "speech-13890" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13890">
					<img id="start_img-13890" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13890">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>