<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Tracking with accelerometer and gyro versus multiple accelerometers
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1777" class = "post">
			<h2>Question</h2>
			<div id="vote-1777" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3650</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tracking with accelerometer and gyro versus multiple accelerometers</h2>
<p>I'm building quadcopter and most of the control systems use one accelerometer and gyro. I've read few papers and usually accelerometer is used as reference to the ground because gyro slowly drifts away in time. But if quadcopter does some crazy maneuvering when force direction from accelerometer does not have to point to the ground than accelerometer data is useless. As well there is problem with centripetal force if the accelerometer is not directly in the centor of mass.</p>

<p>I was thinking about using multiple accelerometers. To fully determine position and motion of quadcopter one would need three accelerometers(If I have done the math right). This would kind of solve the problem with centripetal force</p>

<p>So I would like to know if anyone tried to use multiple accelerometers for better orientation estimation. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1777" data-toggle = "popover">
				<p>user name : tom</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-1777">{'quadcopter': 2, 'None': 0, 'imu': 2, 'gyroscope': 2, 'accelerometer': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1777" class = 'collapse'>
			</div>
				<textarea id = "speech-1777" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1777">
					<img id="start_img-1777" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1777">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1778"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1778" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You definitely mean the orientation and not position. Any yes, people have used multiple accelerometers to determine the orientation, for example Wii's "nunchuck" is an attachment to the Wiimote that has an additional accelerometer, so that the orientation of the stick can be calculated</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1778" data-toggle = "popover">
				<p>user name : Haider</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-1778">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1778" class = 'collapse'>
			</div>
				<textarea id = "speech-1778" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1778">
					<img id="start_img-1778" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1778">Comment</button>
			<br><div id = "ans-1780"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1780" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You won't be able to determine the <strong>position</strong> of the quadcopter with accelerometers or gyros or a combination of both. </p>

<p>You can use either accelerometers or a combination of accelerometers and gyros to determine the <strong>orientation</strong> (eg. roll, pitch, yaw) of the quadcopter. The gyro will allow for a more nimble quadcopter because it provides additional information at a faster rate. </p>

<p>You can think of it like this: The accelerometers are useful for determining your orientation when moving slow (stable response, no drift, low bandwidth). The gyros are useful for determining your orientation when your moving fast (provide high bandwidth updates but have significant drift over longer time periods). The combination of the two using something like a <a href="http://www.pieter-jan.com/node/11" rel="nofollow">complementary filter</a> will provide the best of both worlds however you will need 6 axes of measurement (3-axis gyro, 3-axis accelerometer). Also, since gravity is symmetric about the vertical axis you would need a magnetometer or compass sensor to zero the gyro drift about that axis and provide reliable heading control. There are several off-shelf <a href="https://www.sparkfun.com/products/10736" rel="nofollow">Intertial Measurement Units (IMU)</a> that can be purchased and interfaced to your main controller.</p>

<p>If you use only accelerometers your quadcopter won't be as agile as if you used a combination of gyros and accelerometers since the bandwidth of accelerometers are generally lower than that of gyros. Most ready-to-fly quads use accelerometers, gyros, and magnetometers.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1780" data-toggle = "popover">
				<p>user name : ddevaz</p>
				<p> user reputation : 503</p>
				<p class = "tagcontent" id = "usertaginfo-1780">{'None': 34}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1780" class = 'collapse'>
			</div>
				<textarea id = "speech-1780" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1780">
					<img id="start_img-1780" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1780">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>