<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Tracking Landspeed Underwater
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6418" class = "post">
			<h2>Question</h2>
			<div id="vote-6418" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 130</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tracking Landspeed Underwater</h2>
<p>I am hoping someone might be able to nudge me in the right direction (apologies for the long post but wanted to get all the information I have gained so far down.</p>

<p>Basically I am after a solution to record the path my vessel took under water for later analysis like a bread crumb trail.</p>

<p><strong>Requirements:</strong></p>

<p>Ideally have a range of at least 30meters however if there were no other options I would accept down to 10meters.</p>

<p>Working fresh and salt water.</p>

<p>The vessel is (25cm x 8cm) so size and power consumption are a factors.</p>

<p>It would be traveling roughly parallel to the sea bed at variable distances from the sea bed (range of 0-30 meters)</p>

<p>Does not need to be super accurate, anything less than 5 meters would be fine.</p>

<p>Measurement speed range of 0   4 mph.</p>

<p>Measure direction the object was moving in (i.e. forwards, sideways, backwards) I am planning to use a compass to ascertain N, S, E, W heading.</p>

<p><strong>Options I have discounted:</strong></p>

<ul>
<li>Accelerometers:</li>
</ul>

<p>This was my initial thinking but in doing some reading it seems they are not suited to my needs (unless you spend loads of money, and then the solution would end up being too heavy anyway).</p>

<ul>
<li>Optical Flow:</li>
</ul>

<p>Looks too new (from a consumer perspective) / complicated. I don t know what its range would be like. Also requires additional sonar sensor.</p>

<p><strong>Current favorites:</strong></p>

<ul>
<li>Sonar:
<a href="http://www.alibaba.com/product-detail/1mhz-waterproof-transducer-underwater-ultrasonic-sensor_1911722468.html" rel="nofollow">http://www.alibaba.com/product-detail/1mhz-waterproof-transducer-underwater-ultrasonic-sensor_1911722468.html</a></li>
</ul>

<p>Simplest use is distance from object, however can use doppler effect to analyse speed of a moving object.</p>

<p>40m range, nice!</p>

<p>Presumptions:</p>

<p>If I fired this at an angle to the seabed I could deduce the speed the floor was  moving  below which would give me the speed of my vessel?</p>

<p>I am also presuming that I could interpret direction of movement from the data?</p>

<p>I presume that the sensor would need to be aimed at an angle of around 45 degrees down to the seabed?</p>

<ul>
<li>Laser Rangefinder:</li>
</ul>

<p>Although it works differently to the Sonar the premise of use looks the same, and thus I have the same queries with this as I do with the Sonar above.</p>

<p>Presume if I mounted the sensor behind high quality glass (to waterproof it) then performance would not be impacted that much.</p>

<p>This is a lot more costly so if it does not give me any advantage over sonar I guess there is no point.</p>

<ul>
<li>Water Flow Meter:
<a href="http://www.robotshop.com/en/adafruit-water-flow-sensor.html" rel="nofollow">http://www.robotshop.com/en/adafruit-water-flow-sensor.html</a></li>
</ul>

<p>Super low cost and simple compared with the other options, I would potentially use a funnel to increase water pressure if it needs more sensitivity at low speed.</p>

<p>Would then just need to calibrate the pulses from the sensor to a speed reading.</p>

<p>Significant limitations of this is it would be registering a speed of 0 if the vessel was simply drifting with the current .its speed over the seabed that I am interested in.</p>

<p>Current favorite option is sonar (with the option of using water flow meter as second data source) however are my sonar presumptions correct, have I missed anything?</p>

<p>Any better ideas?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6418" data-toggle = "popover">
				<p>user name : OllieRoberts</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-6418">{'underwater': 3, 'None': 0, 'laser': 3, 'rangefinder': 3, 'sonar': 3, 'acoustic-rangefinder': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6418">Load Comments</button></br>
			<div id = "commentsection-6418" class = 'collapse'>
			<div id = "comment-17504" class = "comment">
				<p>What are your operational limits? Could you surface periodically to check-in? What are your structural limits? Could you put a mast on vehicle that would stay above the surface? Can you control the environment? Could you put a base station or target somewhere for reference? You mention weight and cost as problems, but what are your limits? How much development are you willing to do to make or customize your own solution? As it stands, your question is open speculation about what you've used in the past and what you could use, with no actual requirements for what you're allowed to do.</p>
			</div>
			</div>
				<textarea id = "speech-6418" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6418">
					<img id="start_img-6418" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6418">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6419"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6419" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Another sensor that you should investigate is <a href="http://en.wikipedia.org/wiki/Ultra-short_baseline" rel="nofollow">ultra-short baseline</a> (USBL).  I have used the <a href="http://www.tritech.co.uk/product/usbl-tracking-system-micronnav" rel="nofollow">MicronNav</a> with success in the past.  </p>

<p>You mentioned accelerometers, but what I think you really meant is an <a href="http://en.wikipedia.org/wiki/Inertial_navigation_system" rel="nofollow">inertial navigation system</a>.  These fuse data from accelerometers, gyros, compass, and optionally GPS for a more accurate dead-reckoning.  I have used the  <a href="http://www.vectornav.com/products/vn200-smd" rel="nofollow">VectorNav</a> in the past for an autonomous surface craft.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6419" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-6419">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6419" class = 'collapse'>
			</div>
				<textarea id = "speech-6419" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6419">
					<img id="start_img-6419" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6419">Comment</button>
			<br><div id = "ans-6420"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6420" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I do not work with AUVs however I have read a few navigation papers for AUVs, one promising off-the-shelf navigation system is the Doppler Velocity Log (DVL). I am unsure as to how expensive it is but I can imagine it is quite costly.</p>

<p>As Ben has said accelerometers alone will not be of much use, but an INS might be able to. I have used the VectorNav before in GPS and magnetometer-denied environments. If you can't get GPS signal then it can still give you accurate orientation estimates but probably unusable position estimates. Iron interference will also be an issue that can be solved by mounting. The VectorNav 100 (oldest model) starts from upwards of $1000USD.</p>

<p>If you are not from a robotics background, and are not capable of producing your own navigation system, this problem will be difficult to solve unless you are willing to spend a lot of money.</p>

<p>If I were to approach this problem in a GPS-denied environment I would use a cheap IMU (accelerometer + gyro + compass), a depth-meter, flow-meter and visual odometry (provided you can see the floor). These different sensors would all need to be fused together using a data-fusion filter such as an (Extended) Kalman Filter.
The aim would be to keep a very accurate orientation estimate while using the flow meter and visual odometry to accurately know the forward speed of the vehicle. There are still no 'correcting' measurements to the position, so the solution will always drift depending on the conditions. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6420" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-6420">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6420" class = 'collapse'>
			</div>
				<textarea id = "speech-6420" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6420">
					<img id="start_img-6420" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6420">Comment</button>
			<br><div id = "ans-6421"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6421" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So this is really a hard task. Estimating the position of a AUV is still a large challenge even in research.</p>

<p>There are sensors like as DVL (Doppler Velocity Log) available that can estimate the speed over ground. These sensors working okay, but they only estimating the speed. These devices are precise enough for your use case BUT these devices are to large and to heavy. </p>

<p>Sonar systems like a USBL System requires additional infrastructure outside the vehicle, and of the shelf systems are to heavy too as i assume. They smallest ones like the TritechNav system have roughly the size of a coke-can. </p>

<p>Accelerometer are to imprecise, forget this approach.</p>

<p>If you have the background and the resources to develop a smaller device i would to for the following solution:</p>

<ul>
<li>Use a INS Sensor for orientation Estimation (Like Mti Xsens or similar products)</li>
<li>Depth-Sensor (i have good experience with sensortechnics)</li>
<li>Use a Fossen-Based motion model for motion prediction</li>
<li><strong>Develop a distance estimator with the transducer you mentioned</strong>
<ul>
<li>You can simply send a Chirp-Ping to you base station and wait for the response</li>
<li>if you implement this on a real time capable  C you can calculate the distance based on the time until you received the pong from the base-station</li>
<li>(You need to assume a fixed speed-of-sound-in water but for you use case this should be fine</li>
</ul></li>
<li>Feed the estimation from the motion-model+imu + distance estimation to fixed ground station in a particle filter.</li>
<li>You can add the flow-meter or GPS (when surfaces) to correct your estimations</li>
</ul>

<p>We played around with parts of such a setup, and have had good results, the most tricky part is to develop a good electronic for signal processing of the ping/pong system.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6421" data-toggle = "popover">
				<p>user name : Matthias Goldhoorn</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-6421">{'None': 11, 'syskit': 1, 'rock': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6421" class = 'collapse'>
			</div>
				<textarea id = "speech-6421" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6421">
					<img id="start_img-6421" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6421">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>