<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Track a moving object
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1554" class = "post">
			<h2>Question</h2>
			<div id="vote-1554" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 7597</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Track a moving object</h2>
<p>If this has already been answered, by all means please point me to it.</p>

<p>I am in the process of building a quadcopter which I eventually plan to run autonomously by allowing it to track an object and take a video feed of it moving.</p>

<p>GPS is one of the options I've considered, basically:</p>

<ul>
<li>GPS antena on moving object (person, car, bike, surfer)</li>
<li>GPS antena on quadcopter</li>
<li>Radio to transmit coordinates from moving object to quad copter</li>
</ul>

<p>Some of the challenges I can foresee are</p>

<ul>
<li>Line of sight for camera. How does the camera know exactly where to point?</li>
<li>Angle, how can I pre-program the quad to always record, say... 10m to the right of the moving object, or even better, program a set of angles to record from whilst keeping up with the object</li>
<li>GPS accuracy, what happens if the GPS lock is weak?</li>
</ul>

<p>What are some of my other options? I saw this <a href="http://www.youtube.com/watch?v=w2itwFJCgFQ">TED Talk</a> where the quads are following a ball shaped sensor? I believe it uses Kinect cameras and lots of them which is not really an option for this challenge.</p>

<p>So I'm open to hearing some ideas before I start research and development of these features.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1554" data-toggle = "popover">
				<p>user name : Marko</p>
				<p> user reputation : 184</p>
				<p class = "tagcontent" id = "usertaginfo-1554">{'quadcopter': 6, 'None': 0, 'gps': 6, 'two-wheeled': 6, 'arduino': 12}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1554" class = 'collapse'>
			</div>
				<textarea id = "speech-1554" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1554">
					<img id="start_img-1554" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1554">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1558"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1558" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Research the accuracy of your proposed GPS receivers.  You may be disappointed.  You can augment GPS accuracy by fusing the GPS receiver output with data from an inertial sensor, but as far as I know you can't get a hobbyist-price system where that's already done, and the problem isn't at all trivial to solve.</p>

<p>For pointing, consider a compass on your quad copter.</p>

<p>It's going to be a pretty rough problem to solve, particularly if you want the quad copter to be small and not tied to a ground station (there's lots you could do if you had video processing capabilities, and the time to get them working, but that's not something that'll readily fit on a small copter).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1558" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1558">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1558">Load Comments</button></br>
			<div id = "commentsection-1558" class = 'collapse'>
			<div id = "comment-3284" class = "comment">
				<p>I believe the Ardupilot APM boards do exactly what you describe -- combine GPS and inertial measurements.</p>
			</div>
			</div>
				<textarea id = "speech-1558" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1558">
					<img id="start_img-1558" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1558">Comment</button>
			<br><div id = "ans-1559"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1559" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A <a href="http://www.vicon.com/" rel="nofollow">Vicon</a> <a href="https://en.wikipedia.org/wiki/Motion_capture" rel="nofollow">motion capture system</a> system is used in the TED Talk that you referenced. It is similar to a Kinect in that gives the 3D coordinates of any object being tracked within its field of view. Like the Kinect it uses IR, but uses IR reflective balls attached to the quadrotor and the presenters pointer to identify and track objects. Not to mention it is a considerably more expensive system.</p>

<p>Systems like Vicon and the Kinect do not work outdoors because they use IR and the sun blinds them. The GPS solution you propose is a common approach to this problem for outdoor venues. Another approach might be to use <a href="http://quuppa.com/" rel="nofollow">Quuppa</a>, an RF based motion capture system.</p>

<p>Regardless of which tracking method you use, once you know the position of the robot and the target the problem of calculating the direction to the target, or ahead of it, is a basic geometric problem. Subtracting the robot position from the target position will give you the direction to point the camera. To track a few feet ahead of the target you would first add vector to the target position representing the direction of travel and lead distance (10m in your example).</p>

<p>If you don't actually need to know the location of the robot, only its relative position to the target, then you could use computer vision techniques to track the target and move with it. Of course you will need to avoid obstacles in the process. Also the obstacles themselves could occlude your view in which case you would need some way to predict the targets movement. This could be particularly difficult to come up with if your tracking humans outdoors.</p>

<p>The reality is that the problem you are addressing is a highly active area of research. I know of several research groups, both in academia and industry, that are trying to address this problem. I have only scratched the surface here.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1559" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1559">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1559">Load Comments</button></br>
			<div id = "commentsection-1559" class = 'collapse'>
			<div id = "comment-3283" class = "comment">
				<p>Thank you for the elaborate answer. I will start implementing the GPS solution and see how I get on and will likely post follow up questions.</p>
			</div>
			</div>
				<textarea id = "speech-1559" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1559">
					<img id="start_img-1559" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1559">Comment</button>
			<br><div id = "ans-1560"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1560" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your proposed GPS solution is the best option by a significant margin, as long as you are in an environment where GPS is available (aka you are always outdoors).</p>

<p>Vision-based solutions might seem tempting, but they are really not appropriate in this situation.  Not only are you limited in terms of camera quality and processing power, but object tracking in arbitrary locations outdoors is a horrendously difficult problem, especially once you start have partial/complete occlusions.</p>

<p>You also have a very nice advantage because the vast majority of GPS errors will affect both receivers simultaneously. Their "global" position might be off by dozens of meters, but their relative locations are likely to be much, much closer. (This is essentially <a href="http://en.wikipedia.org/wiki/Differential_GPS" rel="nofollow">DGPS</a>.)</p>

<p>As soon as you know the location of your quadrotor relative to the location of the target the problem reduces down to high-school trig or basic linear algebra. </p>

<p>Note that as soon as you start talking about obstacle avoidance, or robustness when sensors drop out things become genuinely complicated again.  </p>

<p>Frankly, a reliable solution to this problem that does not involve placing a beacon on the target would be at the minimum worthy of a PhD thesis, and probably worth a lot more.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1560" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-1560">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1560" class = 'collapse'>
			</div>
				<textarea id = "speech-1560" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1560">
					<img id="start_img-1560" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1560">Comment</button>
			<br><div id = "ans-1561"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1561" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In this case, your absolute-positioning technology is a red herring.  If you are trying to track an object, all that matters is your relative position.  We did such vision-based navigation (relative to an underwater structure) with an underwater vehicle -- unable to receive GPS signals while submerged.</p>

<p>Assuming that you've established the ability to locate an object in a video frame (and deduce your range and bearing relative to it), all that remains is to calculate your desired position and feed that into your X/Y PID control.  The only difficult part is getting the object into the frame initially.  (Presumably, your coarse GPS control will get you in the right ballpark.)</p>

<p>I can think of 3 fairly simple ways that you might get your range and bearing from an input video stream.  The best way would be to have native 3D support in the camera (such as in a Kinect).  Failing that, if you know your target's size (and how to detect it in the frame) then you should be able to calculate the range based on how many pixels it occupies.  Worst case, just use an <a href="http://www.aforgenet.com/articles/glyph_recognition/" rel="nofollow">augmented reality glyph</a> on your target -- they are fairly easy for computer vision to detect.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1561" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1561">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1561">Load Comments</button></br>
			<div id = "commentsection-1561" class = 'collapse'>
			<div id = "comment-3275" class = "comment">
				<p>Range to target isn't necessary unless you're trying to compensate for platform motion.  Since you don't know target motion, compensating for just platform motion often isn't helpful.  Often just bearing (and how bearing is changing) is all that's necessary in an optical tracking application.</p>
			</div>
			<div id = "comment-3281" class = "comment">
				<p>I'm not sure I understand your comment.  If you're trying to hold formation with a target that's moving away from you, why wouldn't you need the range measurement?</p>
			</div>
			</div>
				<textarea id = "speech-1561" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1561">
					<img id="start_img-1561" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1561">Comment</button>
			<br><div id = "ans-2253"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2253" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want sub-meter tracking of the moving object, GPS alone will not be sufficient.  I concur that passive vision-based techniques will require a huge amount of engineering to implement, not to mention substantial size, weight, and power.  I recommend using differential GPS techniques -- not exactly easy, but simpler from a system standpoint.  You will need a high-update rate GPS receiver that outputs Carrier Phase and Pseudo-Range data as well as a traditional GPS solution.  You will also need to transmit this additional data to your quadcopter from both a nearby reference station and the moving object.  It is useful to have a stationary reference station since its position is exactly known, so using the satellite ephemeris you can determine the propagation and timing errors from each satellite very precisely.  Since you know the approximate geometry to both the non-moving reference station and the moving object, and the paths to the satellites are approximately the same for both cases, you can adopt the precisely calculated propagation and timing errors learned from the reference station and apply them to the moving object.  Additional accuracy is gained by computing a relative position solution for both the quadcopter and the moving object that explains the observed changes in Carrier Phase over time as both of these move.  Since these are phase changes, the integer number of cycles is unknown and must be solved for using a well-known technique for finding integer solutions to least-square problems (name escapes me at the moment).  A Kalman Filter or Particle Filter is also typically needed to converge to the correct position solution using the carrier data after fusing with the pseudo-range-derived data.  Check out work done at Auburn University's Navlab for examples of this type of work.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2253" data-toggle = "popover">
				<p>user name : mikeTronix</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-2253">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2253" class = 'collapse'>
			</div>
				<textarea id = "speech-2253" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2253">
					<img id="start_img-2253" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2253">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>