<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Tracking 2D positioning with IMU Sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2321" class = "post">
			<h2>Question</h2>
			<div id="vote-2321" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 622</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tracking 2D positioning with IMU Sensor</h2>
<p>I am using a miniature car and I want to estimate the position. We can not use GPS modules and most of the tracking systems that I saw, are using IMU senson with the GPS module. In our car we are able to find our exact correct location with image processing but for some parts that dont have enough markings we can not do this. So we want to use the IMU as backup for our positioning. so as long as the positioning is close is good for us.</p>

<p>And we are only interested in our 2D position since the car is on a flat ground.</p>

<p>I am using a IMU 9DOF sensor and I want to calculate my movement. I have seen some amazing works with IMU for tracking body movements but no code or simple explanation is anywhere about it. So basically I have the reading from accelerometer, gyro and magnetometer. I also have orientation in quarternions. From the device I am getting also the linear acceleration but even when I am not moving it in any direction the values are not 0 which is really confusing.</p>

<p>Can you please help me how to approach this?</p>

<p>Thanks in advance</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2321" data-toggle = "popover">
				<p>user name : user2628</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-2321">{'None': 0, 'sensors': 0, 'accelerometer': 0, 'gyroscope': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2321" class = 'collapse'>
			</div>
				<textarea id = "speech-2321" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2321">
					<img id="start_img-2321" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2321">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2325"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2325" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An IMU as any sensor is not perfect and it is affected by errors.</p>

<p>In IMUs case there are some accelerometers and gyros. They should be orthogonal each other but for construction constraints they can't really be.</p>

<p>Expensive IMUs come with a calibration matrix which is "personal" for each device, and here is why of the extra costs. So someone should calibrate it before use it.</p>

<p>IMUs are affected by many others things like magnetic fields as example.
This is another reason for why you won't never read a zero value if the IMU is not moving.</p>

<p>All these error affect the pose estimation since they read accelerations you have to perform a double integration of the value to reach a pose. Double integration of an error make it error^2 (for a simple constant error due to bad calibration).</p>

<p>I can suggest you to search the web for "pose estimation algorithm" as keywords or go to <a href="http://wiki.ros.org/Sensors/Pose%20Estimation" rel="nofollow">ROS</a> that maybe have something ready for your IMU.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2325" data-toggle = "popover">
				<p>user name : Michele</p>
				<p> user reputation : 180</p>
				<p class = "tagcontent" id = "usertaginfo-2325">{'wheel': 1, 'None': 2, 'inverse-kinematics': 1, 'cameras': 8, 'wheeled-robot': 1, 'tracks': 2, 'kalman-filter': 2, 'mobile-robot': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2325" class = 'collapse'>
			</div>
				<textarea id = "speech-2325" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2325">
					<img id="start_img-2325" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2325">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>