<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Transformation a robot in 2D?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2445" class = "post">
			<h2>Question</h2>
			<div id="vote-2445" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 384</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Transformation a robot in 2D?</h2>
<p>I'm watching this <a href="http://www.youtube.com/watch?v=0wOp4k_lJvI" rel="nofollow">video</a> at 36.00 min. The guy gave an example but I'm not sure what is the problem. He stated that if we want to move a robot then we should to the following </p>

<p>for inhomogeneous case, 
$$
x' = Rx + t \\
R = 
\begin{bmatrix}
cos\theta &amp; -sin\theta \\
sin\theta  &amp; cos\theta
\end{bmatrix}
$$ 
where $t$ is the translation vector and $x$ is the previous position. </p>

<p>in homogeneous case, 
$$
x' = 
\begin{bmatrix}
R &amp; \bf{t} \\
\bf{0}^{T} &amp; 1 
\end{bmatrix}
x
$$
Now, he gave an example in which 
$$
t = 
\begin{bmatrix}
1 \\
0 
\end{bmatrix}
, 
x = 
\begin{bmatrix}
0.7 \\
0.5 
\end{bmatrix}
$$
My solution is as the following in Matlab</p>

<pre><code>% inhomogeneous case
&gt;&gt; a = 45;
&gt;&gt; R = [cosd(a) -sind(a); sind(a) cosd(a)];
&gt;&gt; t = [1; 0];
&gt;&gt; x = [0.7; 0.5];
&gt;&gt; xnew = R*x + t
xnew =

    1.1414
    0.8485
</code></pre>

<p>For homogeneous case</p>

<pre><code>&gt;&gt; xn = [R t; 0 0 1]*[x ; 1]

xn =

    1.1414
    0.8485
    1.0000
</code></pre>

<p>Both have same result, but the guy got another result. What exactly he did is </p>

<pre><code>&gt;&gt; xf = [R x; 0 0 1]*[t ; 1]

xf =

    1.4071
    1.2071
    1.0000
</code></pre>

<p>Why he did switch $t$ and $x$? I'm aware of the issue that he is trying to calculate the velocity but in fact he is computing the position. This mistake in the notation won't affect the final result. </p>

<hr>

<p>Second question, why he assumed that the forward movement of the robot in the above example should be
$$
t = \begin{bmatrix}1\\0\end{bmatrix}
$$
? He said that because the robot always in the forward movement move in +x axis. Why this is the case? The movement in robot's frame is determined based on the direction of the robot and the distance the robot travels which is specified as hypotenuse length. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2445" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-2445">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2445" class = 'collapse'>
			</div>
				<textarea id = "speech-2445" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2445">
					<img id="start_img-2445" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2445">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2450"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2450" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First of all thanx for sharing a good video
i have me first lecture of Computer vision tomorrow so i revised all the matrix and vector operations.
Its been a while when i last studied these things</p>

<p>OK your <strong>Second Question</strong>
The assumption is made to simplify the problem to understand .if we have a robot with too many variables changing at the same time it will become complicated.
So we assume just for the sake of simplicity
When i first studied we used to assume a simple robot just going forward to understand control theory.</p>

<p><strong>Now the First Question</strong>
Why you answer is wrong </p>

<p>Simple Logic(just plot the values with a graph) :
<img src="https://i.stack.imgur.com/ztUov.png" alt="enter image description here">
 robot was at x,y(0.7,0.5).it then moves another 1 Meter forward .which will end up increasing x and y eventually   :)
If your answer is right then the increased difference in your answer will give answer 1 by Pythagoras theorem </p>

<pre><code>a^2 + b^2 = c^2
</code></pre>

<p>We cannot apply this  x =[R0Tt1]x    formula straight forward because the teacher in the video said the distance of 1 meter it traveled is <strong>Local</strong>.</p>

<p>To change that local distance to global he uses the method <strong>Matrix multiplication with Vector</strong>.</p>

<p>There can be a lot more dicussion that can be done in solving these kind of questions.thats why i am posting the answer to see your response</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2450" data-toggle = "popover">
				<p>user name : Neo</p>
				<p> user reputation : 119</p>
				<p class = "tagcontent" id = "usertaginfo-2450">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2450">Load Comments</button></br>
			<div id = "commentsection-2450" class = 'collapse'>
			<div id = "comment-4770" class = "comment">
				<p>I'm sorry but I'm not convinced by either answers. Saying for the sake of simplicity makes no sense to me. If the robot is moving in a planar environment then the robot must be represented as a Cartesian coordinates ($x,y$) or polar coordinates ($p, \theta$). For the forward movement, the direction must be specified in advance whether in global or local frames otherwise the definition of forward should be investigated. The forward movement of a rigid body is simply the distance the rigid body travels in the direction of its heading.</p>
			</div>
			<div id = "comment-4771" class = "comment">
				<p>For the first question, I'm not sure but I think the formula should be $x' = R*t + x$ not $x' = R*x + t$ to get same answer.</p>
			</div>
			<div id = "comment-4772" class = "comment">
				<p>By the way, I found this formula in another book. this is why once I switch t and x I got the correct result which is the length of hypotenuse by doing $$\sqrt{(1.4071-0.7)^{2} + (1.2071-0.5)^{2}} = 1$$</p>
			</div>
			<div id = "comment-4773" class = "comment">
				<p>You are right "The forward movement of a rigid body is simply the distance the rigid body travels in the direction of its heading" thats why he said its an assumption</p>
			</div>
			<div id = "comment-4774" class = "comment">
				<p>my friend i think you dont understand Translations.please refer the book where you found the formula</p>
			</div>
			<div id = "comment-4775" class = "comment">
				<p>and can you tell me where in the video he said t=[1,0], x=[0.7,0.5]</p>
			</div>
			<div id = "comment-4776" class = "comment">
				<p>Check the video at 36 min. $x$ is the previous location of the robot which is (0.7, 0.5). and the translation is (1,0)</p>
			</div>
			<div id = "comment-4777" class = "comment">
				<p>See the following picture http://imgur.com/P2u1QmM  now let's go around. $$x_{new} = a + b = a + L_{2}cos\theta \\ x' = x + L_{2}cos\theta \\ y' = y + L_{2}sin\theta $$</p>
			</div>
			<div id = "comment-4778" class = "comment">
				<p>Now, $$\underbrace{\begin{bmatrix} x' \\ y' \end{bmatrix}}_{\bf{x'}} = \underbrace{\begin{bmatrix} cos\theta & -sin\theta \\ sin\theta & cos\theta \end{bmatrix}}_{R} \underbrace{\begin{bmatrix} L_{2}=1 \\ 0 \end{bmatrix}}_{t} + \underbrace{\begin{bmatrix} x=0.7 \\ y=0.5 \end{bmatrix}}_{\bf{x}}$$ where $L_{2}$ is the forward movement. It is the length of hypotenuse. $a$ is ($x,y$)</p>
			</div>
			<div id = "comment-4779" class = "comment">
				<p>tell me the book where you found it. i would like to read some pages</p>
			</div>
			<div id = "comment-4799" class = "comment">
				<p>"Game Physics Engine Development: How to Build a Robust Commercial-Grade Physics Engine for your Game"</p>
			</div>
			<div id = "comment-5300" class = "comment">
				<p>Actually, I've implemented the project in OpenGL and everything is working as a charm. What I said was correct.</p>
			</div>
			</div>
				<textarea id = "speech-2450" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2450">
					<img id="start_img-2450" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2450">Comment</button>
			<br><div id = "ans-2618"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2618" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem is that the rotation matrix describes the rotation around the coordinate system center and not around the center of the robot, so here's what happens.</p>

<p>You wish to add to the robot position a vector which is oriented the same as he is (which is described by R), so how do you do this. You take a vector t which is rotated by 0 degrees (that is [1; 0] because of the angle convention), you multiply it by intensity (which is 1 because of 1m/s), you rotate it so it has the same direction as your robot (because it should move <em>forward</em>) and then you add that vector to the current position (which is described by x).</p>

<p>So you in the end you get x'=R*t+x which is the same thing he did.</p>

<p><strong>EDIT:</strong>
I forgot to mention that this is much easier to remember in homogeneous representation:</p>

<p>S=[R R x; R R y; 0 0 1]</p>

<p>which represents the "state" of the robot (it's position and orientation, as I mentioned, if it's looking to the right along x axis its angle is 0). So when you multiply the state of the robot with transformation matrix you get the new state. Transformation matrix is in the exact shape as the state matrix, so it's A=[R R tx; R R ty; 0 0 1]. So if you want only to translate the robot you make [R R; R R] identity matrix [1 0; 0 1], and if you want only to rotate the robot you make tx=ty=0. You can both rotate and translate the robot at the same time like this but keep in mind that the robot will first translate and then rotate (that is, it will translate with respect to the old orientation, not the new one). If you wish to rotate and then translate it, make a rotation transformation matrix and multiply it by the translation transformation matrix and then use that matrix as the transformation matrix which you will multiply with the state matrix (right side multiply as always). Order of matrices is of course important as matrix multiplication is not commutative.</p>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2618" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2618">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2618" class = 'collapse'>
			</div>
				<textarea id = "speech-2618" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2618">
					<img id="start_img-2618" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2618">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>