<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Transfer Function for Hitec Servo Motor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12222" class = "post">
			<h2>Question</h2>
			<div id="vote-12222" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 135</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Transfer Function for Hitec Servo Motor</h2>
<p>I am using Hitec Servo Motor in my 6 Dof Robotic Arm. I am going to run an open loop response and compare it with simulation which using a transfer function in MATLAB. But I could not find any parameters that I need in a transfer function. For example, moment of inertia, damping, electric resistance, electric inductance, and back-emf constant. What I had found on the data sheet are operating speed, output torque,idle current,running current and dead bandwidth. How to relate all these to get the parameters that I need to develop my transfer function ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12222" data-toggle = "popover">
				<p>user name : Chai Mau Shern</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-12222">{'None': 0, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12222">Load Comments</button></br>
			<div id = "commentsection-12222" class = 'collapse'>
			<div id = "comment-21707" class = "comment">
				<p>Why don't you directly do some tests and use system identification techniques? Or in other words, why do you want to create the physical model of the servo? For many control scenarios the most simplistic servo models are sufficient. (a/(b^2+s))</p>
			</div>
			</div>
				<textarea id = "speech-12222" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12222">
					<img id="start_img-12222" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12222">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12232"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12232" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>$Resistance = \frac{operating voltage}{stall current}$</p>

<p>$BackEMF = (Voperating-(Resistance*FreeRunningCurrent))/RPM$</p>

<p>As to the rest they are a lot harder to get without a datasheet or a test rig.</p>

<p>I would also look at putting an impulse or step function into the motor and measuring the response if you want an accurate transfer function. You should look up system identification because that's what you are trying to do.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12232" data-toggle = "popover">
				<p>user name : EngineeringStudent</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-12232">{'stereo-vision': 0, 'None': 12, 'computer-vision': 0, 'localization': 1, 'mapping': 2, 'lidar': 2, 'mobile-robot': 2, 'ros': 0, 'navigation': 0, 'gps': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12232" class = 'collapse'>
			</div>
				<textarea id = "speech-12232" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12232">
					<img id="start_img-12232" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12232">Comment</button>
			<br><div id = "ans-12240"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12240" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I do not think you can test the open loop responce of a Hitec servo if you do not modify the hardware. It is a closed loop system which has a position control loop, reacting the commands sent in the from of impulses (it might depend on the exact model). The motor values are only one of your problems, the gears of the servo has a high translation ratio and high friction. Probably that influences the dynamics of the system heavily. </p>

<p>Since it is a servo motor, with integrated controller and not a system for which you have to tune the controller, I would recommend modelling it as rotational joint (if you are usgin SimMechanics) with motion input. Make sure that you limit the max velocity and acceleration. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12240" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-12240">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12240" class = 'collapse'>
			</div>
				<textarea id = "speech-12240" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12240">
					<img id="start_img-12240" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12240">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>