<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Transforming Point Cloud to get Top Down Image
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10914" class = "post">
			<h2>Question</h2>
			<div id="vote-10914" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 121</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Transforming Point Cloud to get Top Down Image</h2>
<p>My task:</p>

<p>I have a task where I am asked to track parcels(carton boxes) of different dimensions moving on a conveyor. I am using Asus Xtion pro camera mounted on top of a conveyor in any inclined angle. I am looking for a model free object tracker that will detect boxes in the scene, track them &amp; gives their 6 DOF? My target object is just a box and I want to eliminate all other things in the scene.</p>

<p>My approach:</p>

<ol>
<li><p>I do Point cloud pre-processing like down-sampling, pass through filtering and segmentation. All these should give me a final point cloud containing only the objects on the conveyor.</p></li>
<li><p>I planned to make the "z" values in each point(depth value) as zero, thereby making the point cloud of the box to be flat on the ground.</p></li>
<li><p>I planned to transfer the view of the camera from any inclined position to a top down view so that I can view any number of carton boxes moving on the conveyor from a top down view. I feel the top down view will prevent perspective viewing problems</p></li>
</ol>

<p>The process flow of step 2 and 3 is shown below.
<a href="https://i.stack.imgur.com/L5Ile.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/L5Ile.png" alt="enter image description here"></a></p>

<ol start="4">
<li>After the top down view of the point cloud is achieved, I need to convert the 3rd point cloud to 2nd image, so that I can perform object tracking with so many OpenCV based tracking algorithms available.</li>
</ol>

<p>A Sample point cloud is shown below in different views</p>

<p>Original View from camera:</p>

<p><a href="https://i.stack.imgur.com/qrifj.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/qrifj.jpg" alt="enter image description here"></a></p>

<p>Point Cloud View 1:
<a href="https://i.stack.imgur.com/yuW82.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/yuW82.jpg" alt="enter image description here"></a></p>

<p>Point Cloud View 2:
<a href="https://i.stack.imgur.com/4UUJr.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/4UUJr.jpg" alt="enter image description here"></a></p>

<p>Point Cloud Target/Desired View for converting to 2nd: (The box is the target. All the ground plane and unnecessary points would be eliminated)
<a href="https://i.stack.imgur.com/m2koi.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/m2koi.jpg" alt="enter image description here"></a></p>

<p>Is my approach correct? How will I achieve steps 2,3 and 4?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10914" data-toggle = "popover">
				<p>user name : Mahe Sirius</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-10914">{'None': 0, 'computer-vision': 4, 'c++': 0, 'opencv': 4, 'machine-learning': 4, 'ros': 4, 'point-cloud': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10914">Load Comments</button></br>
			<div id = "commentsection-10914" class = 'collapse'>
			<div id = "comment-19648" class = "comment">
				<p>If you know the scene when it is "empy" (i.e. no boxes coming on the conveyor) and it is failry static in the region of interest you can select that region of interesed based on an bounding box in 3D space, placed where you expect the boxes. You can delete all the rest. In the region of interest substract the static image and al you are left with is the box and noise. Filter, project to XY plane and there you have it...</p>
			</div>
			<div id = "comment-19651" class = "comment">
				<p>This sounds like an open-ended design question, and the answer would be primarily opinion-based (is it correct, how can you achieve), but I'll let the community weigh in for a couple days before I decide to close it. That said, what is the point of flattening the point cloud along the z-axis? Don't you want to know "their 6 DOF?" If you're moving the view point to overhead I don't know what flattening gets you.</p>
			</div>
			<div id = "comment-19654" class = "comment">
				<p>@Chuck yeah i want to a have 6 DOF, but the problem is that, when we transform the point cloud without having z = 0, we will have image where side faces of the boxes would also be visible as the box is moving.</p>
			</div>
			<div id = "comment-19655" class = "comment">
				<p>@50k4 yeah we can get only the boxes and noise as you said, but after projecting to the XY plane do we get top down view?</p>
			</div>
			<div id = "comment-19658" class = "comment">
				<p>If you manage to get rid of every point from the point cloud, but the  box then you get a sort of top down view. Depending on the viewing angle, obviously as close as you get to a actual top down view with your camera the better the projected coordinates will reflect a top down view. Since you mentioned that the box is moving, can you compensate for that? do you know the conveyor velocity?</p>
			</div>
			</div>
				<textarea id = "speech-10914" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10914">
					<img id="start_img-10914" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10914">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>