<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Transform Image Using Roll-Pitch-Yaw Angles (image rectification)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2130" class = "post">
			<h2>Question</h2>
			<div id="vote-2130" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2346</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Transform Image Using Roll-Pitch-Yaw Angles (image rectification)</h2>
<p><strong>UPDATE:</strong> <em><a href="https://stackoverflow.com/questions/20445147/transform-image-using-roll-pitch-yaw-angles-image-rectification/20469709#20469709">This exact problem</a> has been solved in StackOverflow. Please read this post there for further explanation and a working solution. Thanks!</em></p>

<p>I am working on an application where I need to rectify an image taken from a mobile camera platform. The platform measures roll, pitch and yaw angles, and I want to make it look like the image is taken from directly above, by some sort of transform from this information. </p>

<p>In other words, I want a perfect square lying flat on the ground, photographed from afar with some camera orientation, to be transformed, so that the square is perfectly symmetrical afterwards. </p>

<p>I have been trying to do this through OpenCV(C++) and Matlab, but I seem to be missing something fundamental about how this is done.</p>

<p>In Matlab, I have tried the following:</p>

<pre><code>%% Transform perspective
img = imread('my_favourite_image.jpg');
R = R_z(yaw_angle)*R_y(pitch_angle)*R_x(roll_angle);
tform = projective2d(R);   
outputImage = imwarp(img,tform);
figure(1), imshow(outputImage);
</code></pre>

<p>Where R_z/y/x are the standard rotational matrices (implemented with degrees).</p>

<p>For some yaw-rotation, it all works just fine:</p>

<pre><code>R = R_z(10)*R_y(0)*R_x(0);
</code></pre>

<p>Which gives the result:</p>

<p><img src="https://i.stack.imgur.com/pyiNq.jpg" alt="Image rotated 10 degrees about the Z-image axis"></p>

<p>If I try to rotate the image by the same amount about the X- or Y- axes, I get results like this:</p>

<pre><code>R = R_z(10)*R_y(0)*R_x(10);
</code></pre>

<p><img src="https://i.stack.imgur.com/cbZoE.jpg" alt="Image rotated 10 degrees about the X-image axis"></p>

<p>However, if I rotate by 10 degrees, divided by some huge number, it starts to look OK. But then again, this is a result that has no research value what so ever:</p>

<pre><code>R = R_z(10)*R_y(0)*R_x(10/1000);
</code></pre>

<p><img src="https://i.stack.imgur.com/kssGS.jpg" alt="Image rotated 10/1000 degrees about the X-image axis"></p>

<p>Can someone please help me understand why rotating about the X- or Y-axes makes the transformation go wild? Is there any way of solving this without dividing by some random number and other magic tricks? Is this maybe something that can be solved using Euler parameters of some sort? Any help will be highly appreciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2130" data-toggle = "popover">
				<p>user name : Tormod Haugene</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-2130">{'None': 5, 'computer-vision': 3, 'cameras': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2130" class = 'collapse'>
			</div>
				<textarea id = "speech-2130" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2130">
					<img id="start_img-2130" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2130">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2136"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2136" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>SOLUTION:</strong> <em><a href="https://stackoverflow.com/questions/20445147/transform-image-using-roll-pitch-yaw-angles-image-rectification/20469709#20469709">This exact problem</a> has been solved in StackOverflow. Please read this post there for further explanation and a working solution. Thanks!</em></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2136" data-toggle = "popover">
				<p>user name : Tormod Haugene</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-2136">{'None': 5, 'computer-vision': 3, 'cameras': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2136" class = 'collapse'>
			</div>
				<textarea id = "speech-2136" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2136">
					<img id="start_img-2136" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2136">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>