<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>trapezoidal vs sinusoidal commutation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1440" class = "post">
			<h2>Question</h2>
			<div id="vote-1440" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1153</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>trapezoidal vs sinusoidal commutation</h2>
<p>How do you know if a commercial driver is working with trapezoidal or sinusoidal commutation? If you measure the 3-phase voltage applied to the PMSM by means of an oscilloscope, will you see a difference?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1440" data-toggle = "popover">
				<p>user name : user1494</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1440">{'brushless-motor': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1440">Load Comments</button></br>
			<div id = "commentsection-1440" class = 'collapse'>
			<div id = "comment-13965" class = "comment">
				<p>In a block commutation , the phase shift between each phases is 120degrees. However the diagram of block commutation shows only 60 deg phase shift. Does anybody know if a 60deg phase shift could commutate the BLDC correctly?</p>
			</div>
			<div id = "comment-13966" class = "comment">
				<p>Please start a new thread if you have a new question.</p>
			</div>
			</div>
				<textarea id = "speech-1440" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1440">
					<img id="start_img-1440" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1440">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1442"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1442" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm reasonably sure that the sinusoidal wave will look like a sign wave, and that the trapezoidal wave will look more square-ish. The image below explains it better:</p>

<p><img src="https://i.stack.imgur.com/ccHs1.jpg" alt="Trapezoidal vs Sinusoidal waves"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1442" data-toggle = "popover">
				<p>user name : Maxwellfire</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-1442">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1442">Load Comments</button></br>
			<div id = "commentsection-1442" class = 'collapse'>
			<div id = "comment-3087" class = "comment">
				<p>The trapezoidal waveforms don't look right. It is block commutation, which means that for each phase, it is positive for 2 states, tri-state for 1 state, negative for 2 states, and tri-state again for 1. When it is tri-state, the back-EMF varies so that it looks trapezoidal. Your diagram seems to show the $V_A$ at max for only 1 commutation state in each cycle</p>
			</div>
			</div>
				<textarea id = "speech-1442" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1442">
					<img id="start_img-1442" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1442">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>