<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Tried Normal Distributions Transform with my own files (in correct PCD format) and it throws errors, why?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3016" class = "post">
			<h2>Question</h2>
			<div id="vote-3016" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 125</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tried Normal Distributions Transform with my own files (in correct PCD format) and it throws errors, why?</h2>
<p><a href="http://pointclouds.org/documentation/tutorials/normal_distributions_transform.php#normal-distributions-transform" rel="nofollow">http://pointclouds.org/documentation/tutorials/normal_distributions_transform.php#normal-distributions-transform</a></p>

<p>I've used this program with the sample PCD's given and it came out correctly. This was confirmed by experienced users on here. Now I'm trying to use my own pcd's. I didn't want to bother changing the program so I just changed the names to room_scan1 and room_scan2. When I attempt to use them, I get this error:</p>

<blockquote>
  <p>Loaded 307200 data points from room_scan1.pcd Loaded 307200 data
  points from room_scan2.pcd Filtered cloud contains 1186 data points
  from room_scan2.pcd normal_distributions_transform:
  /build/buildd/pcl-1.7-1.7.1/kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp:172:
  int pcl::KdTreeFLANN::radiusSearch(const PointT&amp;, double,
  std::vector&amp;, std::vector&amp;, unsigned int) const [with PointT =
  pcl::PointXYZ, Dist = flann::L2_Simple]: Assertion
  `point_representation_->isValid (point) &amp;&amp; "Invalid (NaN, Inf) point
  coordinates given to radiusSearch!"' failed. Aborted (core dumped)</p>
</blockquote>

<p>This is the program I compiled: <a href="http://robotica.unileon.es/mediawiki/index.php/PCL/OpenNI_tutorial_1%3a_Installing_and_testing#Testing_.28OpenNI_viewer.29" rel="nofollow">http://robotica.unileon.es/mediawiki/index.php/PCL/OpenNI_tutorial_1:_Installing_and_testing#Testing_.28OpenNI_viewer.29</a></p>

<p>Before you suggest it, I will let you know I already changed all of the PointXYZRGBA designations to just PointXYZ. It threw the same error before and after doing this. The thing that confuses me is that I looked at my produced PCD files and they seem to be exactly the same as the samples given for NDT.</p>

<p>Mine:</p>

<pre><code>2320 2e50 4344 2076 302e 3720 2d20 506f
696e 7420 436c 6f75 6420 4461 7461 2066
696c 6520 666f 726d 6174 0a56 4552 5349
4f4e 2030 2e37 0a46 4945 4c44 5320 7820
7920 7a0a 5349 5a45 2034 2034 2034 0a54
5950 4520 4620 4620 460a 434f 554e 5420
3120 3120 310a 5749 4454 4820 3634 300a
4845 4947 4854 2034 3830 0a56 4945 5750
4f49 4e54 2030 2030 2030 2031 2030 2030
2030 0a50 4f49 4e54 5320 3330 3732 3030
0a44 4154 4120 6269 6e61 7279 0a00 00c0
7f00 00c0 7f00 00c0 7f00 00c0 7f00 00c0
</code></pre>

<p>Sample from NDT page:</p>

<pre><code>2320 2e50 4344 2076 302e 3720 2d20 506f
696e 7420 436c 6f75 6420 4461 7461 2066
696c 6520 666f 726d 6174 0a56 4552 5349
4f4e 2030 2e37 0a46 4945 4c44 5320 7820
7920 7a0a 5349 5a45 2034 2034 2034 0a54
5950 4520 4620 4620 460a 434f 554e 5420
3120 3120 310a 5749 4454 4820 3131 3235
3836 0a48 4549 4748 5420 310a 5649 4557
504f 494e 5420 3020 3020 3020 3120 3020
3020 300a 504f 494e 5453 2031 3132 3538
</code></pre>

<p>Does anyone have any ideas?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3016" data-toggle = "popover">
				<p>user name : athoesen</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-3016">{'kinect': 1, 'None': 0, 'computer-vision': 1, 'openni': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3016">Load Comments</button></br>
			<div id = "commentsection-3016" class = 'collapse'>
			<div id = "comment-7554" class = "comment">
				<p>Seems to be an x-post http://stackoverflow.com/q/23943586/2063546</p>
			</div>
			</div>
				<textarea id = "speech-3016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3016">
					<img id="start_img-3016" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3016">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4850"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4850" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like you have NaN/Inf entries in the data. Try PCL's removeNaNFromPointCloud before applying the algorithm.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4850" data-toggle = "popover">
				<p>user name : bendervader</p>
				<p> user reputation : 197</p>
				<p class = "tagcontent" id = "usertaginfo-4850">{'None': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4850">Load Comments</button></br>
			<div id = "commentsection-4850" class = 'collapse'>
			<div id = "comment-7555" class = "comment">
				<p>I assume those are the `7f00` entries?  What format are those in?</p>
			</div>
			<div id = "comment-10492" class = "comment">
				<p>Those entries are IEEE 754 floating point values, in hex. Read more [from Mathworks](http://www.mathworks.com/help/fixedpoint/ref/num2hex.html) and from [an MSDN blog](http://blogs.msdn.com/b/premk/archive/2006/02/25/539198.aspx)   :EDIT: I just noticed this is an old post, but no answer was selected AND for some reason it's at the top of the Robotics SE for me.</p>
			</div>
			</div>
				<textarea id = "speech-4850" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4850">
					<img id="start_img-4850" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4850">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>