<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Tring to run 12 V DC geared motor using Samsung Li Ion ICR16850 batteries
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9918" class = "post">
			<h2>Question</h2>
			<div id="vote-9918" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 105</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Tring to run 12 V DC geared motor using Samsung Li Ion ICR16850 batteries</h2>
<p>I am trying to run this <a href="http://www.amazon.in/Johnson-geared-Specially-Robowar-competitions/dp/B010V2O6CO?ie=UTF8&amp;psc=1&amp;redirect=true&amp;ref_=oh_aui_detailpage_o01_s00" rel="nofollow">motor</a>. </p>

<p>Using the batteries stated in the title. The motor requires 12 V and I am supplying 11.98V to the motor, through a motor driver. After a while, the motor keeps slowing down and the battery voltage drops down to 5-6 V, but after I remove the battery from the motor driver it again shows 11.9V.</p>

<p>Is this battery capable enough to run my motors, or do I need a new one?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9918" data-toggle = "popover">
				<p>user name : YaddyVirus</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-9918">{'brushless-motor': 0, 'None': 2, 'raspberry-pi': 1, 'arduino': 1, 'battery': 2, 'rcservo': 0, 'current': 1, 'motor': 2, 'ultrasonic-sensors': 0, 'navigation': 0, 'steering': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9918">Load Comments</button></br>
			<div id = "commentsection-9918" class = 'collapse'>
			<div id = "comment-17621" class = "comment">
				<p>"After a while" how much time is that exactly? Also was there any load on the motor?</p>
			</div>
			<div id = "comment-17624" class = "comment">
				<p>@BenceKaulics that's about 45-60 seconds</p>
			</div>
			</div>
				<textarea id = "speech-9918" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9918">
					<img id="start_img-9918" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9918">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9920"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9920" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Assuming that the motor is in a healthy condition...</p>

<p>Voltage is only one aspect, you have to be sure that you battery can supply the current drawn by your motor. 
The maximum current, according to the link you have specified is approx 10 Ampers. </p>

<p>I am not sure how many batteries and in which config you are using, the description I have found is <a href="http://www.tme.eu/html/EN/li-ion-18650-samsung-rechargeable-batteries/ramka_7013_EN_pelny.html" rel="nofollow">this</a> one. It states that the maximum current that the batteries can supply is 5.2 ampers. So if you do not have any parallel connections in the battery configuration (I assume you have serial ones because of the higher voltage you have specified) you cannot supply the 10 amps required by the motor for maximum torque. Try to measure also the current, not just the voltage and see if this is the problem. You can use more then one batteries (probably 2, maybe 3) connected in parallel to each other to solve this problem. </p>

<p>Another source of the problem could be a short circuit with a very short duration in the driver when switching the transistors. Try to measure the current also before and after the driver stage to identify if this is the problem.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9920" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-9920">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9920">Load Comments</button></br>
			<div id = "commentsection-9920" class = 'collapse'>
			<div id = "comment-17623" class = "comment">
				<p>yes those are the batteries I'm using, the green one, actually scavenged them out of an old laptop battery. I'm using 3 of them connected in series, current was also my first suspicion but if I join them in parallel then how will I get the required voltage? And as about the motor, I did place a separate thread, which you have read already.</p>
			</div>
			<div id = "comment-17625" class = "comment">
				<p>Put 3 in series then another 3 in series then the two stacks in paralell</p>
			</div>
			<div id = "comment-17626" class = "comment">
				<p>Very well, what about the motors?</p>
			</div>
			</div>
				<textarea id = "speech-9920" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9920">
					<img id="start_img-9920" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9920">Comment</button>
			<br><div id = "ans-9922"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A fully charged LiPo battery cell should has a voltage of 4.2 V. Assuming that you have three cells in series, that would give 12.6 V. When you apply a big load, this voltage of course, will decrease instantly but if you measured 11.98 V in open-circuit that means the batteries were not fully charged. I guess your batteries were not charged at all.</p>

<p>Here is the discharge characteristic of the Samsung IRC16850, taken from this <a href="http://budgetlightforum.com/node/33814" rel="nofollow noreferrer">site</a>.</p>

<p><a href="https://i.stack.imgur.com/slL38.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/slL38.png" alt="enter image description here"></a></p>

<p>A discharge current of 7 A will drain your battery flat in 20 minutes.</p>

<p>Furthermore a discharged battery's voltage is not the same when the load is still connected and when it is in open circuit. After disconnecting the load the battery voltage will rise, this will be the OCV (open circuit voltage).</p>

<p><a href="https://i.stack.imgur.com/Yrijp.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Yrijp.png" alt="enter image description here"></a></p>

<p>This is a figure of a LiPo battery pack, 12 cells in series. When the load is disconnected the voltage has risen from 2.7 V to ~3.2 V in a short period of time (PB 6 voltage). This happens with your batteries too but if you reconnect the motor the voltage will drop back.</p>

<p>And finally, if you measure 5-6 V on your battery pack that means one cell's voltage is around 2 V and the cells are probably damaged now. The Samsung ICR18650's discharge cut-off voltage 2.75V, which means that you should not use it when the voltage is lower. Actually you should not use the cells but recharge when the voltage drops to 3 V.</p>

<p>If a cell is heating up it means that its internal resistance has risen. The dissipated heat will be:</p>

<p>$$ P = R_{internal} \times I_{discharge}^2 $$</p>

<p>this means that a part of the stored energy is wasted on heating the cell itself (which is very <strong>DANGEROUS</strong> as LiPo cells can easily catch fire). The effective battery capacity is lower in this case.</p>

<hr>

<p>Without load your motor should drain 800 mA and the batteries should last 2.5 hours with that. I suggest to make some tests without any load attached to you motor, or just some light load. These batteries would be capable of supporting that, just make sure that they are fully charged. But probably you will need new cells too.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9922" data-toggle = "popover">
				<p>user name : Bence Kaulics</p>
				<p> user reputation : 605</p>
				<p class = "tagcontent" id = "usertaginfo-9922">{'None': 26}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9922">Load Comments</button></br>
			<div id = "commentsection-9922" class = 'collapse'>
			<div id = "comment-17628" class = "comment">
				<p>what do you actually mean by "load" I have nothing attached to the motor during testing</p>
			</div>
			<div id = "comment-17629" class = "comment">
				<p>By load I mean a gear or wheel that rotates something. But if you have nothing attached then the required current is max 800mA and your 3 cells in series should have easily support that much current for hours. Get some new batteries and try again.</p>
			</div>
			<div id = "comment-17631" class = "comment">
				<p>Ahh, that was my first guess, actually I took these batteries from an old laptop battery. I didn't even charge them and I have been using them for testing purposes for about 3 weeks now. Moreover, one of the three cells in my battery pack heats up while the motor is connected, shall I replace that cell, or is the battery all together not able to run the motor. Also consider that I have to run a robot, and that two motors will be running simultaneously</p>
			</div>
			<div id = "comment-17632" class = "comment">
				<p>You should replace the whole battery pack, and in the future recharge the new one when the battery voltage is around 9 V. If a cell heats up it means that its internal resistance had risen and the higher the IR to less the C-rating.</p>
			</div>
			<div id = "comment-17633" class = "comment">
				<p>These cells are OK, you will only have to use more of them in paralell-series combination to get the appropriate voltage and current ratings. Just like @50k4 told you.</p>
			</div>
			</div>
				<textarea id = "speech-9922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9922">
					<img id="start_img-9922" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9922">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>