<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Trying to calculate the Thrust of my quadcopter motors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8340" class = "post">
			<h2>Question</h2>
			<div id="vote-8340" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 400</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Trying to calculate the Thrust of my quadcopter motors</h2>
<p>I am trying to Calculate the thrust my 4 quadcopter motors will have.
I am not sure how to do it. Here are the parts I am Using</p>

<p>4S 6600mAh 14.8V Lipo Pack </p>

<p>15x5.5 Prop</p>

<p>274KV motor max output is 28A</p>

<p>ESC 35 Amp</p>

<p>Thank You</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8340" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8340">{'quadcopter': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8340">Load Comments</button></br>
			<div id = "commentsection-8340" class = 'collapse'>
			<div id = "comment-13403" class = "comment">
				<p>There isn't enough information here. You need the figure of merit of the propeller, the peak efficiency of your motor and the resistance of your motor to get an approximation</p>
			</div>
			</div>
				<textarea id = "speech-8340" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8340">
					<img id="start_img-8340" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8340">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8341"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8341" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Thrust is a force. You probably have a device in your house to measure force: a scale, so why not determine the thrust empirically?</p>

<ol>
<li>Build a little mount to place the prop on a scale securely.</li>
<li>Tare the scale</li>
<li>start the motor, the reading of the scale will tell you how much thrust the prop produces</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8341" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-8341">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8341">Load Comments</button></br>
			<div id = "commentsection-8341" class = 'collapse'>
			<div id = "comment-13400" class = "comment">
				<p>Well I haven't bought any motors yet. I am trying to figure everything out because I don't want to spend all the money on components that won't work together. My Dad's cousin sent me a quadcopter frame that is approximately 39 inches(3 1/4 foot). So it is not a little cheap one and I want to get all the right parts for it. I am sort of a beginner but I have been looking into buying/building a drone for quite a while. I am only 14 and I am building this quadcopter as part of a school project.</p>
			</div>
			<div id = "comment-13401" class = "comment">
				<p>Excellent, an engineer in the making. You should be able to find thrust data for propellers that you can purchase, along with the required torque (both as a function of rotation speed). Then you can estimate how much thrust you _need_ from each rotor (say 1/4 your expected quadrotor weight, with some factor to account for accelerating and not just hovering) and figure out the torque and speed for your propeller. Next make sure your motors can provide that torque and speed -- if so then great, otherwise find a new motor or new propeller.</p>
			</div>
			</div>
				<textarea id = "speech-8341" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8341">
					<img id="start_img-8341" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8341">Comment</button>
			<br><div id = "ans-8342"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8342" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your motors do not develop the thrust, they spin rotors which develop thrust. Practically speaking, it is probably better to create an empirical model (or look-up table) based on measurements of the thrust versus motor voltage -- see Bending Unit 22's answer.</p>

<p>However, if you really want to predict the thrust, you'll need a model of your rotor. Then you can use <a href="https://en.wikipedia.org/wiki/Blade_element_momentum_theory" rel="nofollow">blade element momentum theory (BEMT)</a> to estimate the thrust based on the rotor properties -- chord distribution, twist distribution, airfoil lift and drag profiles, etc.</p>

<p>You can also reduce the model to a simple equation like this:</p>

<p>$T = \frac{1}{4 \pi^2} K_T \rho D^4 \omega^2$</p>

<p>Where $T$ is the thrust, $\rho$ is the air density, $D$ is the diameter of your rotor, $\omega$ is the rotor angular speed, and $K_T$ is the thrust coefficient defined as a function of the <em>advance ratio</em>, $\zeta$.</p>

<p>$K_T = C_{T1} \zeta + C_{T2}$</p>

<p>$\zeta = \frac{2 \pi \left( v - v_{\infty} \right)}{\omega D}$</p>

<p>The coefficients $C_{T1}$ and $C_{T2}$ are specific to the rotor blade, and $\zeta$ is a function of the relative vehicle speed <em>along the thrust direction</em> with respect to the surrounding air ($v - v_{\infty}$).</p>

<p>Note that this simplified model is typically more applicable to underwater propellers, but might work for your quadrotor as well. However, BEMT is the usual approach for modeling rotorcraft thrust.</p>

<p>But to apply any model you will need to know the properties of your rotor, and they can be difficult to find (especially considering the properties are probably not constant along the blade). This is why an empirical method is likely your best option to avoid unnecessary work.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8342" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8342">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8342" class = 'collapse'>
			</div>
				<textarea id = "speech-8342" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8342">
					<img id="start_img-8342" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8342">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>