<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Trying to make question on El-Capitan and WiFi printer specific
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2686" class = "post">
			<h2>Question</h2>
			<div id="vote-2686" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Trying to make question on El-Capitan and WiFi printer specific</h2>
<p>I have an issue with my WiFi printer after upgrading my OS. I'm trying to understand/isolate (and ultimately resolve) the issue, however, I am not getting anywhere. The only question to post here that I can come up with, I myself would likely VtC as "Too Broad". But I am struggling with clarifying it.<br>
<strong>Should I ask anyway, or consult a discussion forum instead?</strong></p>

<p>Here's my situation:</p>

<ul>
<li>I use a Brother HL-2270DW printer which connects to the home WiFi.  </li>
<li>Previous to upgrading to OS X El Capitan on my 2009 MacBook, I had no issues using the printer.  </li>
<li>After upgrading the OS, the printer was gone from the list of available printers.  </li>
<li>The only way to add it to the list was specifying the IP address of the printer. Only then was it detected and correctly identified.  </li>
<li>But: I can only ever print once. On any subsequent job, the printer cannot be connected. I can delete it and add it again to the list and it will print - once.  </li>
<li>Adding the printer by inputting the IP address for every single document is too tedious for me.  </li>
</ul>

<p>However, as stated above, I do not know how to tackle this. And asking for trouble-shooting advice appears "too broad". </p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2686" class = 'collapse'>
			</div>
				<textarea id = "speech-2686" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2686">
					<img id="start_img-2686" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2686">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2687"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2687" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The recipe for asking about troubleshooting is pretty easy once you've seen it work.</p>

<p>Everything is in the help section on how to ask a good question.</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/how-to-ask">https://apple.stackexchange.com/help/how-to-ask</a></li>
</ul>

<p>Just show your exact search terms on what you looked for and be narrow about the issue. You want to focus people on asking how to determine if a printer supports bonjour or how to set up a printer so that you don't have to use an IP address.</p>

<p>Using chat or a discussion forum might help you winnow down what you really are asking. Also, sometimes just "how can tell if printer XYZ should be discoverable by OS X version ABC" with you documenting what search you did on Apple and Brother's site makes it answerable.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2687">Load Comments</button></br>
			<div id = "commentsection-2687" class = 'collapse'>
			<div id = "comment-5977" class = "comment">
				<p>Actually using your suggested search phrase brought me to the brother website which had a list of supported printers - and updated drivers. problem solved.</p>
			</div>
			<div id = "comment-5978" class = "comment">
				<p>@Schorsch Excellent. If you wanted to contribute that knowledge here - we do encourage people to ask and then answer questions if they help accumulate specific steps to solve issues.</p>
			</div>
			</div>
				<textarea id = "speech-2687" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2687">
					<img id="start_img-2687" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2687">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>