<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Two DC motors and single output?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8209" class = "post">
			<h2>Question</h2>
			<div id="vote-8209" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 30</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Two DC motors and single output?</h2>
<p>I saw one old industrial robot(Year 1988) end effector is having 2 DC motor for roll drive. After roll drive, yaw and pitch drives are connected and it has dc motors separately.</p>

<p>But roll drive has two DC motors. Why are they used like this? why not single with higher torque.</p>

<p>All the roll, pitch and yaw motors are same spec. Total 4 DC motors.</p>

<p>Two DC motor connected to single shaft using gears in roll.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8209" data-toggle = "popover">
				<p>user name : Kanaga Senthil Raja</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-8209">{'None': 0, 'industrial-robot': 1, 'motor': 1, 'matlab': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8209">Load Comments</button></br>
			<div id = "commentsection-8209" class = 'collapse'>
			<div id = "comment-13128" class = "comment">
				<p>Can you identify the model of the robot or provide a picture or sketch? I'm very curious as I've never seen one of this configuration....</p>
			</div>
			</div>
				<textarea id = "speech-8209" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8209">
					<img id="start_img-8209" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8209">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8210"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8210" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Reusing parts is a very important and common concept.</p>

<p>Using the same DC motor 4 times means you have to deal with only one motor type. If you choose a 2nd type of motor for the roll, you have to fiddle with the characteristics of two motors. Using a motor with more torque usually means that you need a different drive circuit. From here on the problems are proliferating. </p>

<ul>
<li>What if the supplier of the bigger motor stops selling the motor?</li>
<li>What if the driver circuit of the bigger motor does not have the
precision of the smaller ones?</li>
<li>What's the price to buy 1 + 2 motors vs. buying 4 of the same kind?</li>
</ul>

<p>If you are a company building industrial robots you buy DC motors in bulk. You use few standard motors that your engineers are familiar with. The driver circuits are proven and tested.</p>

<p>If you face a higher torque requirement, you simply add another familiar motor. It's not economical to pay somebody finding a better suited motor, which has several possible drawbacks as pointed out above.</p>

<p>As a company your goal is to sell robots, not to overengineer them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8210" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-8210">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8210">Load Comments</button></br>
			<div id = "commentsection-8210" class = 'collapse'>
			<div id = "comment-13132" class = "comment">
				<p>Hi, thanks for your answer.  could you please elaborate any other technical reason behind this?</p>
			</div>
			</div>
				<textarea id = "speech-8210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8210">
					<img id="start_img-8210" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8210">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>