<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Typical Problem in Simple Line Follower Using 3 sensors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8909" class = "post">
			<h2>Question</h2>
			<div id="vote-8909" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 816</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Typical Problem in Simple Line Follower Using 3 sensors</h2>
<p>I am working on building a line follower robot using ATmega2560 and I want its <strong>movement to be more precise</strong>. I am facing a very typical problem.
It consists of three(3) IR sensors. The <strong>thickness of the line</strong> to be followed is <strong>1.2cm</strong> and the <strong>gap between the sensors</strong> is more than that, around <strong>1.8cm</strong>. </p>

<p>So if the <strong>black line comes between the center and any of the side sensors</strong>, <strong>all the three sensors</strong> are on <strong>white</strong> and it stops.
And I need the robot to stop over white, due to my application. 
So please can anyone suggest me a good algorithm to tackle this situation.
I think PID control can be of good use, as i searched on Google. But I don't understand how to implement it with three sensors.
Please Help</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8909" data-toggle = "popover">
				<p>user name : Deepak Singh</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-8909">{'None': 0, 'microcontroller': 1, 'avr': 1, 'line-following': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8909">Load Comments</button></br>
			<div id = "commentsection-8909" class = 'collapse'>
			<div id = "comment-14714" class = "comment">
				<p>Please explain the configuration of the sensors (e.g. are they in a straight line perpendicular to the line you are following?). Also, why are the sensors so far apart?</p>
			</div>
			</div>
				<textarea id = "speech-8909" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8909">
					<img id="start_img-8909" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8909">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8929"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8929" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think you'll be able to use PID control successfully because you don't have a continuous feedback signal. Your feedback is binary on each of three sensors. </p>

<p>From your description, you need to monitor or eliminate the gap between the sensors. Monitor meaning add more sensors in the gap, and eliminate meaning move the existing sensors close enough together that the gap is smaller than the line thickness.</p>

<p>You have a good description of your problem, but you have a poor description of the scenario. For instance:</p>

<ol>
<li>Why did you set the gap to be wider than the line?</li>
<li>What happens when the robot is supposed to stop? Does the line you were following just end? </li>
<li>How quickly do you need to stop after detecting all white?</li>
<li>Why are you using three sensors? </li>
</ol>

<p>If I were you, I would use two sensors to follow the line. Set them equal distances on either side of the "center" you would like to use for line following. The total distance between the sensors should be less than or equal to the line thickness. </p>

<p>Now, with two sensors, if both register black, you are on the line and should go straight. If the left sensor fails to register black then you are too far to the left and you need to turn right. When both register black then turn a little to get straight again then resume going straight. Same process for the right sensor: when it fails to register black, start turning, then once both register black then course-correct back to straight and resume straight driving again. </p>

<p>With one sensor only to detect if you're on the line you won't know what action to take after you depart from your intended course because you have no way of knowing which way you need to go back for course correction. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8929" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8929">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8929" class = 'collapse'>
			</div>
				<textarea id = "speech-8929" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8929">
					<img id="start_img-8929" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8929">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>