<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Typical laser scanner noise values
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10335" class = "post">
			<h2>Question</h2>
			<div id="vote-10335" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 133</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Typical laser scanner noise values</h2>
<p>I am building an application that executes graphSLAM using datasets recorded in a simulated environment. The dataset has been produced in MRPT using the <a href="http://www.mrpt.org/list-of-mrpt-apps/application_gridmapnavsimul/" rel="nofollow">GridMapNavSimul</a> application. To simulate the laserScans one can issue the bearing and range error standard deviation of the range finder. </p>

<p>Currently I am using a dataset recorded with range_noise = 0.30m, bearing_noise = 0.15deg. Am I exaggerating with these values? Could somebody provide me with typical values for these quantities? Do laser scanner manufacturers provide these values?</p>

<p>Thanks in advance,</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10335" data-toggle = "popover">
				<p>user name : bergercookie</p>
				<p> user reputation : 155</p>
				<p class = "tagcontent" id = "usertaginfo-10335">{'rangefinder': 0, 'None': 5, 'slam': 0, 'laser': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10335" class = 'collapse'>
			</div>
				<textarea id = "speech-10335" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10335">
					<img id="start_img-10335" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10335">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10336"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10336" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Am I exaggerating with these values?</p>
</blockquote>

<p>No your're not but you need to filter the measurements. Also, you can double check datasheet of any laser sensor for the specifications. I've written a code for Kalman filter long time ago for a laser sensor that measures a static point located at &lt;10,10>. Let's see how the filter is working with the noise you've stated (0.3m, .15deg). </p>

<p><a href="https://i.stack.imgur.com/YrB7H.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/YrB7H.png" alt="enter image description here"></a></p>

<p>As you see the measurements (green) are noisy and the filter (red) is doing a great job to estimate the true value (blue) even though the measurement model is nonlinear. </p>

<p><a href="https://i.stack.imgur.com/uxMJj.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uxMJj.png" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10336" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-10336">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10336">Load Comments</button></br>
			<div id = "commentsection-10336" class = 'collapse'>
			<div id = "comment-18530" class = "comment">
				<p>Ok, but this requires the implementation of a Kalman filter which is a totally different approach to the graphSLAM I am trying to implement isn't it? 

I looked up a typical [laserScanner device](https://www.hokuyo-aut.jp/02sensor/07scanner/urg_04lx_ug01.html) which states that Accuracy( 30mm). If this corresponds to a gaussian model with 0 mean, this would result in \sigma = 5mm (which is far off the 0.3m that I considered)</p>
			</div>
			<div id = "comment-18531" class = "comment">
				<p>I've used Kalman filter as  an example to test the noise you'r mentioned regarding a noisy laser sensor. Whether Kalman is applicable or not for your project is irrelevant. Usually people assume Gaussian noise for laser sensor.</p>
			</div>
			</div>
				<textarea id = "speech-10336" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10336">
					<img id="start_img-10336" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10336">Comment</button>
			<br><div id = "ans-10338"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10338" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think 0.3m noise is a bit exaggerated for a scanning laser rangefinder.
As you saw with the Hokuyo (which is one of the cheapest LIDARs you can get) they say that it is 0.03m range "error" (they do not explicitly state this is 2$\sigma$, but I have tested the noise profile myself and it is consistent with 2$\sigma$).</p>

<p>My experience with laser scanners is that the depth accuracy is very much a function of cost, while the angular accuracy is pretty small and is only a real problem when the lidar is used for around 10m+.
A URG04LX (\$1,300) that I've calibrated had range standard deviations that were  around $\sigma = 0.013m$ while a Velodyne HDL64E (>\$150,000) had around $\sigma=0.006m$. I can't remember the angular $\sigma$s but <a href="http://velodynelidar.com/docs/datasheet/63-9194_Rev-D_HDL-64E_Data%20Sheet_Web.pdf" rel="nofollow">the data sheet</a> says around 0.08 degrees (which I again assume is 3$\sigma$).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10338" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-10338">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10338">Load Comments</button></br>
			<div id = "commentsection-10338" class = 'collapse'>
			<div id = "comment-18535" class = "comment">
				<p>"which I again assume is 3 " did you mean 2\sigma in this case as well?</p>
			</div>
			<div id = "comment-18539" class = "comment">
				<p>@bergercookie, I use $3\sigma$ in all of my specifications, but in the case of the Hokuyo they just say "accuracy" or something. After doing some experiments I found that what they call "accuracy" is actually $2\sigma$. I assume the Velodyne is $3\sigma$ for no good reason  other than it's an expensive sensor... Someone would need to do tests to see what "accuracy" on their data sheet means.</p>
			</div>
			</div>
				<textarea id = "speech-10338" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10338">
					<img id="start_img-10338" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10338">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>