<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Ultrasonic flow sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9187" class = "post">
			<h2>Question</h2>
			<div id="vote-9187" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 22</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ultrasonic flow sensor</h2>
<p>The goal is to have a non-invasive flow meter that I can clamp over hydraulic lines.</p>

<p>As a student of hydraulics, I ended up looking and poking around for a good way to make an ultrasonic flow sensor with Arduino and possibly the hc-sr04. Not married to either idea. </p>

<p>So, I admit, I know nothing, but is it possible to do this?<br>
Is there an easier way?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9187" data-toggle = "popover">
				<p>user name : Yippeethemagician</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9187">{'None': 0, 'ultrasonic-sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9187">Load Comments</button></br>
			<div id = "commentsection-9187" class = 'collapse'>
			<div id = "comment-16226" class = "comment">
				<p>The HC-SR04's ultrasonics are sound waves in air and might not couple well into a hydraulic line without some special adapters</p>
			</div>
			<div id = "comment-16227" class = "comment">
				<p>Thanks, I know my post wasnt that specific. I'm mostly looking for just a general starting point. The biggest one being, which ultrasonic detectors are applicable. I don't know much of anything about this, but wanted to see what info was out there.</p>
			</div>
			<div id = "comment-16228" class = "comment">
				<p>I'm going to migrate this question to robotics as it's more relevant there.</p>
			</div>
			<div id = "comment-16232" class = "comment">
				<p>Welcome to *robotics* Yippeethemagician, but this is looking like a shopping question. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it is a good idea to include details of what what you would like to achieve, what you have tried, what you expected to see & what you actually saw. Take a look at [ask] & [about] for more information on how stack exchange works. Please work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) & edit your question to make it clearer.</p>
			</div>
			<div id = "comment-16233" class = "comment">
				<p>Your other question has just been brought to my attention, so as that one is better phrased, I have closed this as a duplicate of it.</p>
			</div>
			</div>
				<textarea id = "speech-9187" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9187">
					<img id="start_img-9187" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9187">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>