<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>unable to install ros kinetic in ubuntu 16.04
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10447" class = "post">
			<h2>Question</h2>
			<div id="vote-10447" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 176</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>unable to install ros kinetic in ubuntu 16.04</h2>
<p>I am trying to install ros kinetic kame in ubuntu 16.04 , but after trying the first step setup your sources. list. 
I am getting  cannot create /etc/apt/sources.list.d/ros-latest.list: Permission denied what to do now</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10447" data-toggle = "popover">
				<p>user name : Abhinav</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10447">{'None': 0, 'ros': 0, 'irobot-create': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10447">Load Comments</button></br>
			<div id = "commentsection-10447" class = 'collapse'>
			<div id = "comment-18807" class = "comment">
				<p>We're going to need a little more detail.  Where exactly in the process of installing KK are you when you get this error? Have you checked to make sure that you have the necessary permissions/are inputting the admin password when it prompts you?</p>
			</div>
			<div id = "comment-18808" class = "comment">
				<p>this question might be better suited for answers.ros.org</p>
			</div>
			</div>
				<textarea id = "speech-10447" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10447">
					<img id="start_img-10447" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10447">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10449"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10449" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I understand that the problem was when running this command in the terminal:</p>

<blockquote>
  <blockquote>
    <p>sudo sh -c 'echo "deb <a href="http://packages.ros.org/ros/ubuntu" rel="nofollow">http://packages.ros.org/ros/ubuntu</a> $(lsb_release -sc) main" > /etc/apt/sources.list.d/ros-latest.list'</p>
  </blockquote>
</blockquote>

<p>Could it be you forgot to run it with sudo?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10449" data-toggle = "popover">
				<p>user name : Gil</p>
				<p> user reputation : 91</p>
				<p class = "tagcontent" id = "usertaginfo-10449">{'stereo-vision': 2, 'None': 8, 'sensors': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10449" class = 'collapse'>
			</div>
				<textarea id = "speech-10449" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10449">
					<img id="start_img-10449" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10449">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>