<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Understanding the Bode Plot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6339" class = "post">
			<h2>Question</h2>
			<div id="vote-6339" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 113</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Understanding the Bode Plot</h2>
<p>I'm not sure if this is the correct forum for this question about Automatic Control, but I'll try to post it anyway.</p>

<p>So, I've just started to learn about Control Systems and I have some troubles understanding Bode plots. My textbook is really unstructured and the information I find on the Internet always seem a little bit too advanced for a beginner like me to grasp, so I hope you can help me to understand this. </p>

<p>I would like to know what the information we find in the Bode plot can tell us about how the corresponding step responses behave. I know that a low phase margin will give an oscillatory step response and that the crossover frequency decide the rise time. But how can we see if the step response has a statical error in the Bode plot and what does the phase graph of the Bode plot actually mean?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6339" data-toggle = "popover">
				<p>user name : Djamillah</p>
				<p> user reputation : 25</p>
				<p class = "tagcontent" id = "usertaginfo-6339">{'control': 4, 'None': 0, 'noise': 1, 'automatic': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6339">Load Comments</button></br>
			<div id = "commentsection-6339" class = 'collapse'>
			<div id = "comment-9154" class = "comment">
				<p>What textbook are you using? You might want to check out System Dynamics by Ogata, that text covers everything.</p>
			</div>
			<div id = "comment-9155" class = "comment">
				<p>I'm using a short textbook in Swedish, that even our lecturer sais is really bad (still they don't want to change it for some reason)... I found a pdf of Ogata's book so I'll definately check it out! Thanks!</p>
			</div>
			<div id = "comment-9159" class = "comment">
				<p>Ogata's book is used for most System Dynamics classes in the US. It's worth having if you're looking to get into the estimation and controls field.</p>
			</div>
			</div>
				<textarea id = "speech-6339" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6339">
					<img id="start_img-6339" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6339">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6358"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6358" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well to answer your question, I hope this correct, I won't consider myself as an expert:</p>

<p>Basically to see if there is a statical, you need the phase graph. Each differentiating element in the system will boost the final phase by 90 , each integrating element decrease the phase by 90 .
<br><br>
Just look at the highest frequency and take the phase, usually this value is a multiple of 90 . <br>
If it's negative the system is allover integrating and there is no statical error.
<br><br>
Systems are usually represented with a complex frequency (The Laplace's "s"). You are allowed to substitude the s with j*omega, where omega is the frequency and j is the imaginary number. <br>
Just insert your frequency and then a complex number remains. Complex numbers can be expressed in exponential form. This representation has a gain and an angle. This two values are plotted in the bode plots.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6358" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-6358">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6358" class = 'collapse'>
			</div>
				<textarea id = "speech-6358" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6358">
					<img id="start_img-6358" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6358">Comment</button>
			<br><div id = "ans-6370"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6370" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I assume you are talking about a Bode plot of a <a href="http://en.wikipedia.org/wiki/Transfer_function" rel="nofollow">transfer function</a> response, which relates the input of a system to the output in the frequency domain. One way of measuring such a response would be to input a sinusoidal signal of one particular frequency, and measure the amplitude and phase shift of the output. So the input will have the following form,</p>

<p>$$
x_{in}(t) = A \sin(\omega t).
$$</p>

<p>The output will always also be a sinusoidal signal of the same frequency, assuming that the dynamics of the system are linear, so no $\dot{x}=x^2$, but possibly with a different amplitude and phase. So the output will have the following form,</p>

<p>$$
x_{out}(t) = B \sin(\omega t + \phi).
$$</p>

<p>The amplitude would actually be the ratio of $B/A$ and $\phi$ would be the phase shift.
There are more efficient ways of measuring a transfer function, however I think this helps explain the meaning of the Bode plot of a transfer function in the frequency domain.</p>

<p>Usually a logarithmic scale is used for the frequency axis of a Bode plot, just as the amplitude (usually with decibel). A linear scale usually used for the phase information. A transfer function usually expressed in complex values instead of amplitude and phase, since that information can also be extracted from complex numbers. When you want to find the response of a system, you can just multiply the transfer function by the frequency domain of the input signal (when you have amplitude and phase separate, you can multiply the amplitudes and add the phases).</p>

<p>The frequency domain of a step function has a constant nonzero amplitude and constant phase for all frequencies. If you would multiply this by the transfer function you would basically get the transfer function back (possibly scaled) as the frequency domain of the output signal. Since all sinusoidal signals oscillate around zero, therefore you can find the offset from zero (I assume you mean this by statical error) by looking at the amplitude of the output at 0 Hz.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6370" data-toggle = "popover">
				<p>user name : fibonatic</p>
				<p> user reputation : 373</p>
				<p class = "tagcontent" id = "usertaginfo-6370">{'quadcopter': 2, 'None': 19, 'design': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6370" class = 'collapse'>
			</div>
				<textarea id = "speech-6370" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6370">
					<img id="start_img-6370" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6370">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>