<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Understanding how solar panels can supply power to robotic circuits
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7489" class = "post">
			<h2>Question</h2>
			<div id="vote-7489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Understanding how solar panels can supply power to robotic circuits</h2>
<p>Say I have <a href="http://www.adafruit.com/products/200" rel="nofollow">this solar panel</a> that outputs 6V at 330mA, or ~1.98 Watts. If I connect that to Arduino, which expects a 5V supply at (roughly) 50mA, then the Arduino as a whole requires 5V * .05A = 0.25 Watts to power it. To me, if I understand this correctly, then in perfect weather/sunlight, the solar panel will power Arduino all day long, no problem.</p>

<p>Now let's say we wire up 4 motors to the Arduino, each of which draw 250 Watts. Now the Arduino + 4 motors are drawing ~1.25 Watts. But since the panels are still outputting 1.98 Watts, I would think that (again, under perfect sunlight) the panel would power the Arduino and motors all day long, no problem.</p>

<p>Now we add 4 more motors to the Arduino circuit, for a total of 8 motors. The circuit is now drawing 1.25 Watts + 1 W = 2.25 Watts. I would expect the solar panel to <em>no longer</em> be capable of powering the circuit, at least properly.</p>

<p>My first concern here is: am I understanding these 3 scenarios correctly? If not, where is my understanding going awry?</p>

<p>Assuming I'm more or less on track, my next question is: can solar panels be "daisy chained" together to increase total power output? In the third case above, is there a way to add a second solar panel into the mix, effectively making the two panels output 1.98 Watts * 2 = 3.96 Watts, which would then make them capable of powering the Arduino and its 8 motors (yet again, assuming perfect weather/sunlight conditions)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7489" data-toggle = "popover">
				<p>user name : smeeb</p>
				<p> user reputation : 166</p>
				<p class = "tagcontent" id = "usertaginfo-7489">{'quadcopter': 10, 'None': 0, 'power': 1, 'rcservo': 0, 'battery': 0, 'wiring': 0, 'circuit': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7489" class = 'collapse'>
			</div>
				<textarea id = "speech-7489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7489">
					<img id="start_img-7489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7489">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7490"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7490" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your scenarios are correct. </p>

<p>You can connect multiple solar cells together to get <a href="http://www.instructables.com/id/How-to-Wire-Batteries-in-Series-or-in-Parallel/" rel="nofollow">increased current or increased voltage.</a> Wire them in series (positive to negative) to boost voltage, wire them in parallel (positives to positive) to boost current capacity. </p>

<p>As a final note, I would caution running near the maximum capacity of the solar cell. The voltage of the cell will drop as load increases; you can see the <a href="http://www.voltaicsystems.com/2-watt-panel" rel="nofollow">specifications for the cell you're looking at</a> and see the "open circuit" voltage is 7.0V, while the "peak voltage" is 6.0V. The more load you put on the solar cell the lower the output voltage goes. </p>

<p>If you manage to lower the output voltage below the minimum for a voltage regulator (which you should absolutely be using considering the voltage swings), then you will <a href="https://en.wikipedia.org/wiki/Brownout_(electricity)" rel="nofollow">brownout</a> the voltage regulator. </p>

<p>When this happens you could either have the voltage regulator shutoff (best case scenario). When it turns off it stops drawing power, which reduces the load on the solar cell. When this happens, the reduced load causes the voltage to recover. When this happens the regulator turns back on. You wind up cycling power to your board a LOT and it could damage it. </p>

<p>OR the voltage regulator could try to "hold on" and just pass the lower voltage. At this point you are providing the <a href="http://www.emersonnetworkpower.com/en-US/Solutions/ByApplication/Pages/What-Causes-Dirty-Power.aspx" rel="nofollow">dirty power</a> directly to your microcontroller. This could do anything from power cycle as described above to flat-out frying your board. There is <a href="http://forum.arduino.cc/index.php?topic=10489.0" rel="nofollow">a thread about brownout detection and handling</a> over at the Arduino forums if you're interested. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7490" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7490">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7490">Load Comments</button></br>
			<div id = "commentsection-7490" class = 'collapse'>
			<div id = "comment-10724" class = "comment">
				<p>Thaks @Chuck (+1) - a few quick followups if you don't mind here: (1) You mention several different "types" of voltage: *open circuit*, *max* and *peak*...are these all the same thing or do they mean different things? (2) Is there a way to predict how much a load will lower output voltage by? It would be nice to know, "*Hey, at 50% max power, the load lowers the output voltage of the panel by 1V. At max power, it lowers the output voltage by 2.5V.*" Anyway to calculate this? Thanks again!</p>
			</div>
			<div id = "comment-10725" class = "comment">
				<p>Unfortunately there is no way to (easily) calculate this. Typically, if the solar cell is a high-power cell or for industrial use, the manufacturer will provide a document that shows the voltage-current relationship at a given irradiance, similar to [the figure shown here](http://www.wholesalesolar.com/solar-information/solar-panel-efficiency).</p>
			</div>
			<div id = "comment-10726" class = "comment">
				<p>Regarding the types of voltages, they represent key points on the plot (that unfortunately isn't given). At one end of the cell's curve, you have maximum voltage, or the voltage with no load. If there is no load, there is effectively nothing connected to the panel; this is why this condition is called "open circuit". At this point, open circuit voltage is 7.0V, but there is no current - so your power output is (7.0V * 0A) = 0W. On the other end, you get "short circuit" output - maximum current with no voltage. There you get (0V * some# Amps) = 0W. Still no power output.</p>
			</div>
			<div id = "comment-10727" class = "comment">
				<p>"Peak" output occurs where the voltage x current (power output) is maximized. This is typically the "knee" on the curves I've linked to above. You get the "best" tradeoff between voltage and current. If you look at the curves I linked, you can see that below the knee the curves are almost flat. This means that if you draw a *little more* current, the voltage suddenly plummets, potentially to zero. This is why I caution operating right at the cell's limit; there's usually very little overhead before you hit a blackout/brownout condition.</p>
			</div>
			<div id = "comment-10729" class = "comment">
				<p>Ahhh, thanks again @Chuck (+1 to both as well as the green check) - so can I *surmise* that the name of the game then is to pair the load with a solar panel that will provide this maximum (optimal) voltage? Thanks again!</p>
			</div>
			<div id = "comment-10731" class = "comment">
				<p>Trying to optimize the the load to coax the maximum power output is called [Maximum power point tracking](https://en.wikipedia.org/wiki/Maximum_power_point_tracking) and is the subject of a lot of research at the moment. You don't need to do anything so complex; just look at the power rating as an absolute maximum that you'll get. Absolute power output is going to be peak current @ peak voltage. You should *always* leave overhead because power will dip if the cell is dirty, not pointed normal to the sun, branches/clouds, etc. I would suggest your max load be ~80% of cell capacity.</p>
			</div>
			</div>
				<textarea id = "speech-7490" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7490">
					<img id="start_img-7490" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7490">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>