<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Underwater ROV Variable Ballast
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7242" class = "post">
			<h2>Question</h2>
			<div id="vote-7242" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 487</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Underwater ROV Variable Ballast</h2>
<p>How would you guys recommend making a variable ballast system for an underwater robot? I was thinking about this problem earlier and I was trying to figure out if there was a way to make one that didn't require a tank of compressed air. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7242" data-toggle = "popover">
				<p>user name : CA ROV</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-7242">{'underwater': 3, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7242" class = 'collapse'>
			</div>
				<textarea id = "speech-7242" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7242">
					<img id="start_img-7242" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7242">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7274"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7274" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Variable ballast on ROVs in practice is usually limited to just the really big ones, for several reasons:</p>

<ol>
<li>In general, you only need to vary your ballast when you're trying to get an exact amount of buoyancy at great depth -- when that amount would be different than at the surface (due to compression of various components)</li>
<li>The pressure housing required adds a lot of size and weight</li>
<li>The power required for the pump or compressor is significant</li>
<li>It requires more maintenance</li>
</ol>

<p>That's not to say it can't be done on a small scale, for slight adjustments to ballast.  <a href="http://my.fit.edu/~swood/GliderThesisFinal.pdf" rel="nofollow">Underwater gliders use variable ballast as "buoyancy engines"</a>.  </p>

<p>Depending on your specific application, you might get away with one of the following alternatives:</p>

<ol>
<li>Descending with a dropweight, then shedding it at the desired depth (repeat for rapid ascent)</li>
<li>Having a canister of lead shot, and dropping the balls in a controlled fashion until you have reached the desired buoyancy -- useful if you are going to collect samples</li>
<li>Use more powerful motors and actively compensate for buoyancy</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7274" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7274">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7274" class = 'collapse'>
			</div>
				<textarea id = "speech-7274" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7274">
					<img id="start_img-7274" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7274">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>