<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>unstable quad with naza m lite
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12071" class = "post">
			<h2>Question</h2>
			<div id="vote-12071" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>unstable quad with naza m lite</h2>
<p>I almost finished my first quad and first time it just flipped(the back over the front 360 degrees)...the motors and  props are installed correctly..i triple checked but i'm still a  noob in this...my quad specs are q330 frame with naza m lite (with gps),hobbywing 30a esc,rs 2205 motors ,flysky fs i6 with ia6b,3s battery ... maybe someone can help with my problem...i don't want to loose to many props or even worse...thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12071" data-toggle = "popover">
				<p>user name : user16615</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-12071">{'quadcopter': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12071" class = 'collapse'>
			</div>
				<textarea id = "speech-12071" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12071">
					<img id="start_img-12071" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12071">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12086"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12086" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are multiple possibilities for the flip of quadrotor.</p>

<ol>
<li><p>It can be because of incorrect prop directions (in X or + configuration, the diagonally opposite props must have same rotational direction and adjacent props must have opposite rotational direction; This is all about compensation of angular momentum).</p></li>
<li><p>It can be because of a faulty ESC or improperly tuned ESC. There are several ways to tune ESCs properly. (Like this: <a href="https://librepilot.atlassian.net/wiki/display/LPDOC/ESC+Calibration" rel="nofollow noreferrer">https://librepilot.atlassian.net/wiki/display/LPDOC/ESC+Calibration</a> )</p></li>
<li><p>It can be an issue of PID tuning. (<a href="http://myfirstdrone.com/tutorials/how-to-tune-a-quadcopter/" rel="nofollow noreferrer">http://myfirstdrone.com/tutorials/how-to-tune-a-quadcopter/</a> <a href="https://oscarliang.com/quadcopter-pid-explained-tuning/" rel="nofollow noreferrer">https://oscarliang.com/quadcopter-pid-explained-tuning/</a> )</p></li>
<li><p>IMU may not be calibrated properly and the EKF estimates may be wrong. (<a href="https://fpv-flightclub.com/quadcopter-flips-takeoff/" rel="nofollow noreferrer">https://fpv-flightclub.com/quadcopter-flips-takeoff/</a> Accelerometer and Gyro orientation along with Compass need to be properly set up)</p></li>
<li><p>(Rare) GPS functionality might be malfunctioning ending that up with GPS locks for inaccurate location estimates.</p></li>
</ol>

<p>BTW, there are many forums that address this issue and simple Google search is ending up with results like:</p>

<p><a href="https://oscarliang.com/quadcopter-flies-unstable-flips-troubleshoot/" rel="nofollow noreferrer">https://oscarliang.com/quadcopter-flies-unstable-flips-troubleshoot/</a></p>

<p><a href="http://diydrones.com/forum/topics/quadcopter-flips-on-liftoff" rel="nofollow noreferrer">http://diydrones.com/forum/topics/quadcopter-flips-on-liftoff</a></p>

<p><a href="https://www.rcgroups.com/forums/showthread.php?2284434-My-x-quadcopter-flips-on-takeoff" rel="nofollow noreferrer">https://www.rcgroups.com/forums/showthread.php?2284434-My-x-quadcopter-flips-on-takeoff</a></p>

<p>Please consider mentioning what you have tried and what hasn't worked (otherwise this question is 'too broad' with many Google results popping up for same).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12086" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-12086">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12086" class = 'collapse'>
			</div>
				<textarea id = "speech-12086" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12086">
					<img id="start_img-12086" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12086">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>