<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Up to what force is a servo motor a reasonable choice as an actuator?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3231" class = "post">
			<h2>Question</h2>
			<div id="vote-3231" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 247</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Up to what force is a servo motor a reasonable choice as an actuator?</h2>
<p>I'm working on an application where I need to apply a linear or angular force to operate a linkage mechanism, but I don't (yet) know what amount of force I will need. I anticipate that it will be less than 4.5 kg (44 N). The travel distance on the linkage input should be less than 15 cm.</p>

<p>As I look through available servos, they seem to exist firmly in the scale-model realm of remote control vehicles, and as such I am uncertain if any will be suitable for my application. For example, one of Futaba's digital servos, the mega-high torque <a href="http://www.futaba-rc.com/servos/digital.html" rel="nofollow">S9152</a>, is listed at 20 kg/cm.</p>

<p>From what I understand, this means that at 1 cm from the center of the servo shaft, I can expect approximately 20 kg force. If I wanted 15 cm of travel distance I would need roughly a 10.6 cm radius, which would diminish the applied force to 20 / 10.6 = 1.9 kg, well below the 4.5 that might be required.</p>

<p><strong>Question:</strong></p>

<p>Is my understanding and calculation even remotely accurate? Should I be looking at other types of actuators instead of servos? They seem to become prohibitively expensive above 20 kg/cm torque. <em>(For the purposes of this project, the budget for the actuator is less than $250 US.)</em></p>

<p>For my application, I'd like to have reasonable control over intermediate positions across the travel range, good holding power, and fairly fast operation. For this reason I have dismissed the idea of using a linear actuator driven by a gearmotor and worm drive.</p>

<p>I am relatively new to robotics in the usage of motorized actuators, but I've used pneumatic cylinders for many years. For this application, I can't use pneumatics.</p>

<p><strong>Edit:</strong></p>

<p>Per comments, some additional constraints that are important:</p>

<ul>
<li><strong>Linkage Details:</strong> The linkage is a planar, one degree-of-freedom, part of a portable system (similar to a scissor lift mechanism). It is for a theatrical effect where the motion is amplified and force reduced (speed ratio and mechanical advantage are &lt; 1).</li>
<li><strong>Power:</strong> It will be carried by a person. As such, the actuation needs to be battery-operated, as no tubing or wiring can tether the person. Tubing or wiring that is self-contained is okay. Because this is a portable system, battery-power will be used. The control system will be designed specifically for an appropriate actuator. Rechargeable batteries up to 12V will most likely be employed. Actuators could operate on as high as 24V. Ideally a motor would not exceed 1-2 amperes draw, but as it is not in continuous operation, this is not a hard limit.</li>
<li><strong>Not Pneumatic:</strong> I've considered pneumatic actuation, using CO2 cartridges, for example, but the client would prefer not to use pneumatics. Also, the ability to stop/hold at intermediate points in the motion range is desirable, and somewhat more complicated to do with pneumatic actuators.</li>
<li><strong>Speed:</strong> An ideal actuator will be able to move the input coupling 15 cm in 1-2 seconds.</li>
<li><strong>Weight:</strong> Weight constraints are not well-defined. As it will be carried by a person, it should be moderately lightweight. The actuator itself should probably be less than 1kg, but certainly this can vary. (The rest of the mechanism will probably be 6-8 kg.)</li>
<li><strong>Size:</strong> The primary size constraint is that everything must fit within a space measuring no more than 500 x 500 x 120 mm (H x W x D). The linkage mechanism extends from and collapses outside the enclosure, parallel to the width.</li>
<li><strong>Noise:</strong> The quieter the better, but noise is the least priority.</li>
</ul>

<p>Servos seemed like the best choice for the job, but they don't seem to be available with the sort of torque I need.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3231" data-toggle = "popover">
				<p>user name : JYelton</p>
				<p> user reputation : 218</p>
				<p class = "tagcontent" id = "usertaginfo-3231">{'servomotor': 2, 'actuator': 7, 'None': 4, 'force': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3231">Load Comments</button></br>
			<div id = "commentsection-3231" class = 'collapse'>
			<div id = "comment-6783" class = "comment">
				<p>You can build servo motors for just about any amount of force.  At some point, it becomes less efficient to use electrical actuation than, say, hydraulic actuation.  However, the right choice depends on your specific needs.  What problem are you trying to solve?</p>
			</div>
			<div id = "comment-6784" class = "comment">
				<p>I'm looking for an appropriate actuator to operate a linkage made mostly of aluminum, but will require more force than most RC servos can provide. I'm not finding anything that seems correct. Linear actuators seem too slow.</p>
			</div>
			<div id = "comment-6785" class = "comment">
				<p>I assume that there is some sort of space constraint or weight constraint as well, because [electric motors are strong enough to propel ships](http://img.nauticexpo.com/images_ne/photo-g/propulsion-electric-motors-ship-asynchronous-31629-274165.jpg).  Have you looked at pneumatic actuation?</p>
			</div>
			<div id = "comment-6787" class = "comment">
				<p>Sorry if I've left out some constraints. I'll edit the question with more information.</p>
			</div>
			</div>
				<textarea id = "speech-3231" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3231">
					<img id="start_img-3231" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3231">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4234"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4234" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The motion control parts of this well  documented open sourced project likely suits your specification and cost budget.</p>

<p>It uses mass-produced and widely available 3D printer parts in a re-purposed (different functions) manner.  Stepper motor is sized by a NMEA number. Choose one suits your N.cm specification. also, note the power / current rating of driver. </p>

<p>The scheme is widely scalable. You can use bigger or small motor, gear and belt to achieve a very wide range of force, speed and cost. The scheme (at small size) is widely used in millions of ink jet printers and scanner.</p>

<p>For even higher force, use lead screw. 
Google IMAGE for pcb drilling machine. High end unit drive 100kg load, at 0.01mm accuracy and amazing high speed.</p>

<p><a href="https://www.google.com/search?safe=off&amp;hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1824&amp;bih=795&amp;q=pcb+drilling+machine&amp;oq=pcb+drilling+machine&amp;gs_l=img.3..0l3j0i5l3j0i24l4.3081.6630.0.9591.20.18.0.2.2.0.119.1541.15j3.18.0....0...1ac.1.48.img..0.20.1534._cNDl940Wms#hl=en&amp;q=lead+screw&amp;safe=off&amp;tbm=isch" rel="nofollow">https://www.google.com/search?safe=off&amp;hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1824&amp;bih=795&amp;q=pcb+drilling+machine&amp;oq=pcb+drilling+machine&amp;gs_l=img.3..0l3j0i5l3j0i24l4.3081.6630.0.9591.20.18.0.2.2.0.119.1541.15j3.18.0....0...1ac.1.48.img..0.20.1534._cNDl940Wms#hl=en&amp;q=lead+screw&amp;safe=off&amp;tbm=isch</a></p>

<p><a href="https://www.google.com/search?safe=off&amp;hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1824&amp;bih=795&amp;q=pcb+drilling+machine&amp;oq=pcb+drilling+machine&amp;gs_l=img.3..0l3j0i5l3j0i24l4.3081.6630.0.9591.20.18.0.2.2.0.119.1541.15j3.18.0....0...1ac.1.48.img..0.20.1534._cNDl940Wms" rel="nofollow">https://www.google.com/search?safe=off&amp;hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1824&amp;bih=795&amp;q=pcb+drilling+machine&amp;oq=pcb+drilling+machine&amp;gs_l=img.3..0l3j0i5l3j0i24l4.3081.6630.0.9591.20.18.0.2.2.0.119.1541.15j3.18.0....0...1ac.1.48.img..0.20.1534._cNDl940Wms</a></p>

<p>Choice belt or screw. </p>

<p>Large size belt can suit high force. However, it is 'plastic and soft' and cannot support too high acceleration and rapidly changing speed / acceleration / quick start /sudden stop.</p>

<p>Lead screw is all-metal and can support very high acceleration. </p>

<p>Large size NMEA stepper motor should be more than sufficient for your loading. If even higher force is needed, us industrial servo motor, tens to a few thousand watts. Precise angle 1000 to 20000 steps of one revolution. This type is over your stated budget and no need for your stated load.</p>

<p><a href="https://www.google.com/search?safe=off&amp;hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1824&amp;bih=795&amp;q=pcb+drilling+machine&amp;oq=pcb+drilling+machine&amp;gs_l=img.3..0l3j0i5l3j0i24l4.3081.6630.0.9591.20.18.0.2.2.0.119.1541.15j3.18.0....0...1ac.1.48.img..0.20.1534._cNDl940Wms#hl=en&amp;q=industrial+servo+motor&amp;safe=off&amp;tbm=isch" rel="nofollow">https://www.google.com/search?safe=off&amp;hl=en&amp;site=imghp&amp;tbm=isch&amp;source=hp&amp;biw=1824&amp;bih=795&amp;q=pcb+drilling+machine&amp;oq=pcb+drilling+machine&amp;gs_l=img.3..0l3j0i5l3j0i24l4.3081.6630.0.9591.20.18.0.2.2.0.119.1541.15j3.18.0....0...1ac.1.48.img..0.20.1534._cNDl940Wms#hl=en&amp;q=industrial+servo+motor&amp;safe=off&amp;tbm=isch</a></p>

<p>Video
<a href="http://www.youtube.com/watch?v=CjzSeOg8oTs" rel="nofollow">http://www.youtube.com/watch?v=CjzSeOg8oTs</a></p>

<p>Description
<a href="http://cienciaycacharreo.blogspot.com.es/2014/02/new-project-air-hockey-robot-3d-printer.html" rel="nofollow">http://cienciaycacharreo.blogspot.com.es/2014/02/new-project-air-hockey-robot-3d-printer.html</a></p>

<p>Github for design files
<a href="https://github.com/JJulio/AHRobot" rel="nofollow">https://github.com/JJulio/AHRobot</a></p>

<p>Build manual
<a href="https://docs.google.com/document/d/1SXIIW5MG1uT7O6P6tBWwzjiLe_gj4_Z2HHhHXPehwso/edit?pli=1" rel="nofollow">https://docs.google.com/document/d/1SXIIW5MG1uT7O6P6tBWwzjiLe_gj4_Z2HHhHXPehwso/edit?pli=1</a></p>

<p>Hope this helps</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4234" data-toggle = "popover">
				<p>user name : EEd</p>
				<p> user reputation : 359</p>
				<p class = "tagcontent" id = "usertaginfo-4234">{'None': 16, 'laser': 3, 'pid': 1, 'motor': 1, 'untagged': 0, 'pwm': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4234">Load Comments</button></br>
			<div id = "commentsection-4234" class = 'collapse'>
			<div id = "comment-6768" class = "comment">
				<p>This is a very cool project, it looks like a lot of fun. However, I am not sure if I can make use of gearbelts and steppers for what I am doing. I suppose I could devise a way to apply linear motion to the linkage with a gearbelt but I am not sure about the force and holding power. The speed certainly seems more than enough.</p>
			</div>
			<div id = "comment-6770" class = "comment">
				<p>See edited for choice of large and small loading.</p>
			</div>
			</div>
				<textarea id = "speech-4234" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4234">
					<img id="start_img-4234" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4234">Comment</button>
			<br><div id = "ans-10268"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10268" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A linear actuator would be the ideal solution. You can find them very cheaply on sites like ebay or specialised robotics stores. If you need to keep position there are models avaliable with built in position sensors and endstops. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10268" data-toggle = "popover">
				<p>user name : TechAUmNu</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-10268">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10268" class = 'collapse'>
			</div>
				<textarea id = "speech-10268" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10268">
					<img id="start_img-10268" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10268">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>