<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Upgrading the motors on a SeaPerch ROV - more torque, or more RPMs?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1346" class = "post">
			<h2>Question</h2>
			<div id="vote-1346" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 899</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Upgrading the motors on a SeaPerch ROV - more torque, or more RPMs?</h2>
<p>I am looking to upgrade the motors for SeaPerch underwater ROVs so we can carry heavier payloads and more equipment.  </p>

<p>My question is, should I look for motors which have a higher RPM and lower torque, or with lower RPM but higher torque to gain a substantial power increase? If the latter, what threshold of RPMs should I stay above to maintain speed?  </p>

<p>We are currently running <a href="http://www.jameco.com/Jameco/Products/ProdDS/232022.pdf" rel="nofollow noreferrer">Jameco <code>PN 232022</code> motors</a> with ~1 1/2" props (same setup as <a href="https://robotics.stackexchange.com/a/313/1397">here</a>). They are mainly run at max power as our ESC currently consists of a fuse and a toggle switch.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1346" data-toggle = "popover">
				<p>user name : Nate Koppenhaver</p>
				<p> user reputation : 78</p>
				<p class = "tagcontent" id = "usertaginfo-1346">{'underwater': 5, 'None': 0, 'motor': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1346" class = 'collapse'>
			</div>
				<textarea id = "speech-1346" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1346">
					<img id="start_img-1346" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1346">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1365"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1365" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Keep in mind that "heavier" is not quite the term you're looking for.  You should be trimming your SeaPerch to be neutrally buoyant, so unless the new payload creates significantly more drag than your old one, your existing motors should work fine (just with decreased acceleration in response to the increased mass).</p>

<p>The answer to the question of torque vs RPM really depends on the propeller you use -- they should be evenly matched.  There is a fair amount of theory on this (for example, <a href="http://web.mit.edu/drela/Public/web/qprop/motorprop.pdf" rel="nofollow noreferrer">Mark Drela's lecture notes from MIT</a>), but you can also just approach it in a practical way.</p>

<p>The basic idea is to work with the power curves of the propeller and motor (both of which are measurable):</p>

<p><a href="http://www.tunnel2funnel.com/2013/01/significance-of-propeller-curve.html" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/dFuVS.png" alt="Engine and propeller power curves"></a> (more <a href="http://www.tunnel2funnel.com/2013/01/significance-of-propeller-curve.html" rel="nofollow noreferrer">here</a>)</p>

<p>Based on this, you should be able to work iteratively with a few propeller designs after you pick your motor.  There are also a lot of guides for this (like <a href="http://youboat.net/boatPower4.aspx" rel="nofollow noreferrer">this one</a>, providing the image below) that explain how to choose the propeller based on the power of the motor that you've already selected.  You might not be measuring your engine power in units as large as <a href="http://en.wikipedia.org/wiki/Horsepower#Brake_horsepower" rel="nofollow noreferrer">BHP</a>, but the technique is the same.
<a href="http://youboat.net/boatPower4.aspx" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/u5r76.png" alt="Rpm vs propeller size for given HP"></a></p>

<p>As always, you'll have to run your own thrust-vs-rpm tests on a variety of propellers to verify your calculations.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1365" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1365">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1365" class = 'collapse'>
			</div>
				<textarea id = "speech-1365" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1365">
					<img id="start_img-1365" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1365">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>