<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Uploading edited code for Arducopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5282" class = "post">
			<h2>Question</h2>
			<div id="vote-5282" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 528</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Uploading edited code for Arducopter</h2>
<p>I'm attempting to customise some code for my DIY pentacopter frame.</p>

<p>To that end, i've modified the some existing code, and saved it under AP_MotorPenta.cpp and AP_MotorsPenta.h . I'm currently trying to upload the code onto my flight controller, but am currently unable to do so due to the following problems.</p>

<p>Problems</p>

<p>Unable to upload to my APM 2.6    ( #1)
Unable to select my pentacopter frame.    (#2)</p>

<p>Problem (#1)</p>

<p>I've saved my customised files in the AP_Motors library, and have compiled the Arducopter 3.2 code in ArduPilot-Arduino-1.0.3-gcc-4.8.2-windows , after which i upload it using mission planner. However, when i am uploading the hex file, i get the following error </p>

<blockquote>
  <p>"Uploaded Succeeded, but verify failed : exp E2 got 60 at 245760"</p>
</blockquote>

<p>However, when i try uploading it directly from the modified Arduino IDE, i get a series of warnings , followed by the messages</p>

<blockquote>
  <p>avrdude:verification error, first mismatch at byte 0x3c000 0x60 !=
  0xe2 avrdude: verification error; content mismatch</p>
</blockquote>

<p>followed by the message </p>

<blockquote>
  <p>" avrdude done.Thank you. "</p>
</blockquote>

<p>Does this mean that the uploading of the firmware to my flight controller is successfull? Also, is there any difference between uploading via mission planner and the modified Arduino IDE?</p>

<p>Problem #2</p>

<p>In the mission planner, originally there is the option to choose one of several frames, (i.e Quad/HexaOcto) etc. After uploading my firmware, how would i go about selecting my penta frame for use?Also is there any further thing that i would have to do?</p>

<p>Apologies in advance if the questions are rather inane, as i have little programming experience to speak of.</p>

<p>I would really appreciate any help i can get.</p>

<p>Thanks in advance !</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5282" data-toggle = "popover">
				<p>user name : Kenneth .J</p>
				<p> user reputation : 179</p>
				<p class = "tagcontent" id = "usertaginfo-5282">{'quadcopter': 14, 'None': 0, 'ardupilot': 1, 'power': 1, 'multi-rotor': 12, 'radio-control': 1, 'arduino': 5, 'microcontroller': 10, 'battery': 1, 'esc': 7, 'electronics': 7, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5282" class = 'collapse'>
			</div>
				<textarea id = "speech-5282" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5282">
					<img id="start_img-5282" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5282">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5289"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5289" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You say "I have little programming experience to speak of."  I'd fix this problem before going further.  You questions tell be you don't know how to use even the basic Arduino IDE.</p>

<p>Have you gotten the example sketches in the IDE to work?  Staring with the blinking LED example?  Sorry if this is an insulting question butI don't know, you don't say what you CAN do</p>

<p>Now to your question. "Uploaded Succeeded, but verify failed" means that when the code was loaded and the read back to verify  the loading as accurate.  This failed.  So you can't be sure the correct code is loaded in the Arduino.   </p>

<p>We don't know why this failed.  I would put the copter and related software aside and verify you can load code into the Aduino and verify it.  Just write some big sketch that nearly fills memory.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5289" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5289">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5289" class = 'collapse'>
			</div>
				<textarea id = "speech-5289" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5289">
					<img id="start_img-5289" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5289">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>