<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>UR3 TCP~IP communication protocol
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11137" class = "post">
			<h2>Question</h2>
			<div id="vote-11137" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 220</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>UR3 TCP~IP communication protocol</h2>
<p>I'm currently programming a C socket for communicating via (Ethernet) TCP/IP with an UR3 robot which control software is version 3.3. I'm able to get raw data from the ports 30001,30002, and 30003. I can deserialize the data thanks to the source of a ROS driver. But I wish to have more information about deserialization, and Universal Robots seems to not provide such information. Do anybody knows where to get info about the TCP packets that the robot sends?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11137" data-toggle = "popover">
				<p>user name : Rafael Rojas</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-11137">{'communication': 0, 'None': 4, 'c': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11137">Load Comments</button></br>
			<div id = "commentsection-11137" class = 'collapse'>
			<div id = "comment-20050" class = "comment">
				<p>Further detail might help to answer the question. Do you have a real-time application? what is the cycle time? Do you use URScript via ethernet or Modbus?</p>
			</div>
			</div>
				<textarea id = "speech-11137" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11137">
					<img id="start_img-11137" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11137">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11140"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11140" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Based on the ports you have mentioned you are probably using URScript. 
Are you aware of <a href="https://s3-eu-west-1.amazonaws.com/ur-support-site/16496/Client_Interface.xlsx" rel="nofollow noreferrer">this</a> documentation from the <a href="https://www.universal-robots.com/how-tos-and-faqs/how-to/ur-how-tos/remote-control-via-tcpip-16496/" rel="nofollow noreferrer">UR website</a>, describing the ethernet packets?</p>

<p>The example given is</p>

<pre><code>Lets say the client has recieved this data:                                                         

Received 465 bytes.                                                     
Bytes: [0] [0] [1] [209] [16] [0] [0] [0] [29] [0] [0] [0] [0] [0] [0] [5] [7] [246] [1] [1] [1] [0] [0] [0] [0] [0] [63] [240] [0] [0] [0] [0] [0] [0] [0] [0]                                                     
[0] [251] [1] [64] [1] [78] [244] [77] [189] [249] [149] [64] [1] [78] [247] [89] [95] [104] [85] [0] [0] [0] [0] [0] [0] [0] [0] [188] [220] [97] [3] [66] [62]                                                        
[0] [0] [66] [0] [102] [103] [66] [99] [153] [154] [253] [191] [246] [74] [170] [216] [242] [29] [102] [191] [246] [74] [178] [44] [92] [72] [137] [0] [0] [0] [0]                                                      
[0] [0] [0] [0] [192] [1] [106] [78] [66] [63] [153] [154] [66] [4] [204] [205] [66] [104] [0] [0] [253] [63] [253] [49] [202] [91] [202] [8] [64] [63] [253] [49]                                                      
[210] [233] [51] [16] [35] [0] [0] [0] [0] [0] [0] [0] [0] [191] [155] [135] [34] [66] [62] [0] [0] [65] [249] [153] [154] [66] [100] [0] [0] [253] [191] [220] [115]                                                       
[204] [104] [205] [239] [254] [191] [220] [118] [68] [109] [49] [34] [158] [0] [0] [0] [0] [0] [0] [0] [0] [190] [60] [245] [109] [66] [63] [153] [154] [66] [25] [51]                                                      
[51] [66] [116] [204] [205] [253] [63] [242] [146] [224] [105] [231] [66] [209] [63] [242] [146] [65] [3] [193] [196] [156] [0] [0] [0] [0] [0] [0] [0] [0] [190] [115]                                                         
[157] [190] [66] [62] [0] [0] [66] [21] [51] [51] [66] [119] [153] [154] [253] [191] [231] [207] [8] [215] [85] [22] [88] [191] [231] [206] [77] [130] [151] [190] [17]                                                     
[191] [146] [242] [158] [148] [114] [240] [57] [188] [224] [224] [96] [66] [68] [102] [103] [66] [37] [153] [154] [66] [127] [153] [154] [253] [0] [0] [0] [53] [4] [63]                                                        
[217] [153] [52] [224] [36] [238] [93] [191] [217] [153] [169] [67] [241] [211] [23] [63] [207] [255] [137] [8] [22] [253] [198] [63] [240] [0] [170] [111] [207] [54]                                                      
[176] [63] [243] [51] [88] [137] [58] [151] [217] [63] [201] [148] [119] [151] [70] [237] [237] [0] [0] [0] [29] [5] [64] [143] [64] [0] [0] [0] [0] [0] [64] [143] [64]                                                        
[0] [0] [0] [0] [0] [64] [143] [64] [0] [0] [0] [0] [0] [0] [0] [0] [61] [3] [0] [63] [0] [0] [0] [0] [63] [123] [129] [184] [27] [129] [184] [28] [63] [112] [225]                                                     
 [14] [16] [225] [14] [17] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [66] [87] [51] [51] [66] [66] [0] [0] [62] [35] [215] [11] [61]                                                      
[241] [169] [253] [0] [0] [0] [37] [2] [0] [0] [63] [141] [83] [47] [180] [171] [196] [232] [63] [137] [46] [99] [102] [69] [149] [155] [66] [55] [51] [51] [0] [59]                                                        
[68] [155] [166] [66] [92] [0] [0] [253] [0]                                                        

So to start from the beginning:                                                         

[0],[0],[1],[209]: Length is 1*256+209 = 465                                                        

[16] Package type is "Robot State"                                                      

[0][0][0][29] First package length is 29                                                        

[0] Package type is 0: "Robot Mode Data"                                                        

[0] [0] [0] [0] [0] [5] [7] [246] Timestamp is 329718                                                       

[1] isRobotConnected True                                                       

[1] isRealRobotEnabled True                                                         

[1] isPowerOnRobot True                                                         

[0] isEmergencyStopped False                                                        

[0] isSecurityStopped False                                                         

[0] isProgramRunning False                                                      

[0] isProgrampaused False                                                       

[0] robot mode is 0                                                         

[63] [240] [0] [0] [0] [0] [0] [0] Speed fraction as a double                       see     http://en.wikipedia.org/wiki/Double-precision_floating-point_format                             , network byte order

[0] [0] [0] [251] Second package length is 251                                                      

[1] Second package type is "joint data"                                                     

[64] [1] [78][244] [77] [189] [249] [149] Joint 0 position                                                      

[64] [1] [78] [247] [89] [95] [104] [85] Joint 0 target position                                                        

[0] [0] [0] [0] [0] [0] [0] [0] Joint 0 target speed                                                        

[188] [220] [97] [3] Joint 0 current                                                        

[66] [62] [0] [0] Joint 0 voltage                                                       

[66] [0] [102] [103]  Joint 0 motor temperature                                                     

[66] [99] [153] [154] Joint 0 microprocessor temperature                                                        

[253] Joint 0 joint mode                                                        

[191] [246] [74] [170] [216] [242] [29] [102] Joint 1 position                                                      
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11140" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11140">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11140" class = 'collapse'>
			</div>
				<textarea id = "speech-11140" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11140">
					<img id="start_img-11140" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11140">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>