<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Usage of Multibeam 2D Imaging Sonar for AUVs, testing them in the pool environment
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1976" class = "post">
			<h2>Question</h2>
			<div id="vote-1976" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 182</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Usage of Multibeam 2D Imaging Sonar for AUVs, testing them in the pool environment</h2>
<p>I belong to an AUV team at my university. We are planning to have a Multibeam 2D Imaging Sonar (the Blueview P900) for our AUV to detect obstacles underwater.</p>

<p>I have the following questions to ask on the feasibility of testing/implementing such sonars on AUVs.</p>

<ol>
<li><p>As we know that these multibeam sonars have multiple reflections arriving at different times from various surfaces while testing in a pool, is there any recommended way to filter these noises in the image obtained from the sonar pings?</p></li>
<li><p>Are such sonars in use/test by any other team/organization anywhere else who do pool testing other than a ocean/reservoir testing where multiple reflections are almost zero except the reflections from the obstacle(s)?</p></li>
<li><p>Also i would like to know the recommended image processing algorithms that can be implemented/used to detect obstacles from the sonar images.</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-1976" data-toggle = "popover">
				<p>user name : freax</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-1976">{'sonar': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1976" class = 'collapse'>
			</div>
				<textarea id = "speech-1976" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1976">
					<img id="start_img-1976" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1976">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1982"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1982" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As you've noted, a pool is one of the worst environments in which to test acoustic sensors; there is nothing to dampen the echoes, and the multipath is quite extreme.</p>

<p>Generally, one of 3 things is done to help mitigate these effects -- the goal being an <a href="http://en.wikipedia.org/wiki/Anechoic_chamber" rel="nofollow noreferrer">anechoic test chamber</a>.  </p>

<ol>
<li><p>Make the shape of your test tank such that all echoes are reflected into a trap.  The <a href="http://wikimapia.org/1362997/TRANSDEC-Anechoic-Pool" rel="nofollow noreferrer">TRANSDEC anechoic pool</a> accomplishes this with its eliptical shape; sounds that hit the bottom are directed toward the edge, which has a "trap" around its perimeter. (I can no longer find the cut-away diagram for that... sorry).<br>
<img src="https://i.stack.imgur.com/FMyNb.jpg" alt="TRANSDEC anechoic pool"></p></li>
<li><p>Put foam wedges along the outside of the tank to absorb acoustic energy, similar to the way that recording-studio anechoic chambers are designed. 
<a href="http://www.floridamemory.com/items/show/75485" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/YBKiQ.png" alt="Vincent Benedetti placing a submarine model inside the large anechoic tank at the Naval Research Laboratory - Orlando, Florida."></a></p></li>
<li><p>Aerate the water to scatter the echoes, a technique described in <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1692822/pdf/11079420.pdf" rel="nofollow noreferrer">this paper: "Anechoic aquarium
for ultrasonic neural telemetry"</a>.  The use of microbubbles is apparently able to prevent most of the multipath effects.
<a href="https://i.stack.imgur.com/5vrov.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/5vrovm.png" alt="Diagrammatic representation of the anechoic aquarium, (a) cross-section and (b) top view."></a></p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1982" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1982">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1982" class = 'collapse'>
			</div>
				<textarea id = "speech-1982" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1982">
					<img id="start_img-1982" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1982">Comment</button>
			<br><div id = "ans-2013"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2013" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've worked with the same sonar in a similar setting, and your only real option (if you can't do anything to the pool itself) is to find an open water testing area. You could also contact BlueView. They're pretty responsive.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2013" data-toggle = "popover">
				<p>user name : TheWumpus</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-2013">{'magnetometer': 1, 'None': 2, 'ekf': 2, 'platform': 0, 'imu': 1, 'kalman-filter': 18, 'ugv': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2013">Load Comments</button></br>
			<div id = "commentsection-2013" class = 'collapse'>
			<div id = "comment-4067" class = "comment">
				<p>Thanks for your suggestion! Yes, creating an anechoic pool is out of the scope for us and hence I think the best option that we have now is an open water testing area.</p>
			</div>
			</div>
				<textarea id = "speech-2013" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2013">
					<img id="start_img-2013" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2013">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>