<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>USB instead of RS232
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-474" class = "post">
			<h2>Question</h2>
			<div id="vote-474" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 527</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>USB instead of RS232</h2>
<p>RS232 is not popular as it used to be and is mainly replaced by USB [<a href="http://en.wikipedia.org/wiki/RS-232#Role_in_modern_personal_computers" rel="nofollow noreferrer">wikipedia</a>]. Problems such as mentioned in <a href="https://robotics.stackexchange.com/q/331/158">this question</a> doesn't help its reputation either.</p>

<p>In a new system design therefore, one could think of using USB instead of Serial Port for communication. However, it still seems like RS232 is the serial communication protocol/port of choice.</p>

<p>Why is that? I understand changing old machinery that work with RS232 is costly, but what prevents <em>new</em> system designers from using USB instead of RS232?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-474" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-474">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-474" class = 'collapse'>
			</div>
				<textarea id = "speech-474" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-474">
					<img id="start_img-474" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-474">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-475"  class = "post">
				<h2>Answer</h2>
			<div id="vote-475" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Simplicity, i guess. A USB implementation (chips and driver software) is usually more complex than good ol' RS232, which can even be found in many 8-bit microcontrollers. While USB has many protocol mechanisms and is designed to deal with many participants over a bus, a RS232 connection doesn't have any of that. Instead, it's the "rawest" form possible of sending bytes over a wire.</p>

<p>Although Arduino and increasing spread of USB-to-serial adapters show promise that USB will eventually become as dominant as RS232 used to be.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-475" data-toggle = "popover">
				<p>user name : Daniel Eberts</p>
				<p> user reputation : 546</p>
				<p class = "tagcontent" id = "usertaginfo-475">{'None': 32, 'particle-filter': 17, 'localization': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-475" class = 'collapse'>
			</div>
				<textarea id = "speech-475" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-475">
					<img id="start_img-475" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-475">Comment</button>
			<br><div id = "ans-476"  class = "post">
				<h2>Answer</h2>
			<div id="vote-476" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>At least in the microcontroller level:</p>

<ol>
<li><p>Serial ports (usually TTL or LVTTL) are still the most common way to communicate, since most simple microcontrollers don't have a USB controller. </p>

<p>For instance: most 8-bit AVR or PIC microcontrollers don't have USB, a few 32-bit ARM microcontrollers do, but they all usually have serial ports.</p></li>
<li><p>Conversion from TTL/LVTTL serial communication to RS-232 requires a "simple" logic level conversion, which can be done with very cheap ICs (MAX232/MAX3232)</p></li>
<li><p>Conversion from TTL/LVTTL serial communication to USB when your microcontroller does not have a USB controller usually requires using a slightly more expensive IC (FTDI) which does not have any through-hole packaging options, only surface mount.</p></li>
<li><p>There are a few details relative to the protocol one has to pay attention to when using USB devices in general, such as the current level it may request from the USB host. With serial ports, you only have to worry about 3 to 5 fixed parameters that have to be consistent in your system (baudrate, # of stop bits, parity, etc).</p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-476" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-476">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-476" class = 'collapse'>
			</div>
				<textarea id = "speech-476" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-476">
					<img id="start_img-476" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-476">Comment</button>
			<br><div id = "ans-477"  class = "post">
				<h2>Answer</h2>
			<div id="vote-477" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think the biggest reason that RS232 has stayed around is the simplicity in implementing common use-cases in embedded hardware - like sending a sequence ASCII bytes between two devices for control. The use-cases for sending information at the much higher speeds available with USB are not worth the trade-off in complexity caused by implementing <a href="http://en.wikipedia.org/wiki/Universal_Serial_Bus#Signaling">the USB protocol's signalling</a>.</p>

<p>As the requirements for higher speeds appear, I wouldn't be surprised if <a href="http://en.wikipedia.org/wiki/RS-485">RS-485</a> became more common with it's very simple physical interface and high (up to 10Mb/s) data rates.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-477" data-toggle = "popover">
				<p>user name : thisismyrobot</p>
				<p> user reputation : 331</p>
				<p class = "tagcontent" id = "usertaginfo-477">{'None': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-477" class = 'collapse'>
			</div>
				<textarea id = "speech-477" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-477">
					<img id="start_img-477" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-477">Comment</button>
			<br><div id = "ans-794"  class = "post">
				<h2>Answer</h2>
			<div id="vote-794" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ul>
<li>Simplicity for hardware designers and easy usage for programmers </li>
<li>Reliability</li>
<li>Well known and supported in many systems</li>
</ul>

<p>Specially in robotics when we forced to use USB instead of RS232 (Our new PCs did not have RS232 ports). We faced many problems:</p>

<ol>
<li><p>Any USB socket disconnection need so much effort to recover the system. Sometimes it leads to a bad system-fault and we had to restart PCs.</p></li>
<li><p>Any shock or hazard make it unplugged.</p></li>
<li><p>Too much programming time </p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-794" data-toggle = "popover">
				<p>user name : deepmax</p>
				<p> user reputation : 161</p>
				<p class = "tagcontent" id = "usertaginfo-794">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-794" class = 'collapse'>
			</div>
				<textarea id = "speech-794" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-794">
					<img id="start_img-794" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-794">Comment</button>
			<br><div id = "ans-8195"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8195" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Communication latency is another reason why USB1.1 or USB2.0 is not always a good replacement for RS232. Data on USB1.1 or USB2.0 bus is formatted into 1ms or 125us frames respectively, which forces minimum receive to transmit latency equal to two frame periods (often more in practise). This is an important consideration for modern PC hardware, which usually doesn't have built-in RS232 port and USB/RS232 converter is used instead.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8195" data-toggle = "popover">
				<p>user name : Paul Jurczak</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-8195">{'motion-planning': 2, 'None': 2, 'ros': 2, 'c++': 2, 'robotic-arm': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8195" class = 'collapse'>
			</div>
				<textarea id = "speech-8195" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8195">
					<img id="start_img-8195" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8195">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>