<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Use of automated tricopters instead of quadcopters?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1552" class = "post">
			<h2>Question</h2>
			<div id="vote-1552" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2432</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Use of automated tricopters instead of quadcopters?</h2>
<p>Hy, I just found useful to post my idea here. </p>

<p>I've seen videos about automated quadcopters: <a href="http://www.ted.com/talks/raffaello_d_andrea_the_astounding_athletic_power_of_quadcopters.html" rel="nofollow">http://www.ted.com/talks/raffaello_d_andrea_the_astounding_athletic_power_of_quadcopters.html</a> and <a href="http://www.ted.com/talks/vijay_kumar_robots_that_fly_and_cooperate.html" rel="nofollow">http://www.ted.com/talks/vijay_kumar_robots_that_fly_and_cooperate.html</a>. </p>

<p>I surfed pages from the companies presenting this research and other information on the internet, but I haven't found why they use quadcopters specifically. 
I understand, how accelerating, rotating and rolling works in those quadcopters - it's simple, but they claim that quadcopters have minimum number of working parts to fulfill their needs, which I don't agree and I think that tricopters are better in this (duocopters can't rotate horizontally, but tricopters can by inclining and then powering the remaining left or right propeller). </p>

<p>I rode forums, calculated and draw drafts of both tri and quad and found, that tri is much more efficient just in everything than quad with same props and battery when taken in account that best properties has the smallest copter with the largest props so: 
3:4 moving parts (no vectored yaw in tri), 9.5:16 size, building Y instead of X construction take far less material 1.5:2.82, lesser maximum power input 3:4, better power efficiency makes longer flight time and tricopters have also improved agility over quadcopters. </p>

<p>The only disadvantage I see is a bit complicated horizontal rotating in tricopter without vectored yaw, which can be problem in man controlled machines but easily solved by simple algorithms in automated machines -> it's not a real disadvantage, just a small work to be done. I was thinking about doing that in my bachelor thesis, but for now I am looking for your opinions, thanks!</p>

<p>EDIT: Maybe the torque is the problem, because on tricopters you can can have all 3 props in 1 direction or 2 in 1 direction and 1 in the opposite and it's symmetrical in neither way, but I'm not sure if this is the main problem...</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1552" data-toggle = "popover">
				<p>user name : Salda</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-1552">{'quadcopter': 2, 'None': 0, 'multi-rotor': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1552">Load Comments</button></br>
			<div id = "commentsection-1552" class = 'collapse'>
			<div id = "comment-3257" class = "comment">
				<p>As written, this isn't really a question.  Whether you should or shouldn't study this for your bachelor thesis is certainly an important question, but it's not something that can be supported factually one way or the other -- it's a matter of opinions.  Is there a more practical aspect of the quadcopter-vs-tricopter design that you're having trouble with?</p>
			</div>
			<div id = "comment-3258" class = "comment">
				<p>But I just want to find, what is the problem with tricopters.. maybe someone tells me, what is much better on quadcopters, I don't know.</p>
			</div>
			<div id = "comment-3259" class = "comment">
				<p>I thought quadcopters had two rotors balanced against the other two.  How do you do that with a tri-copter?</p>
			</div>
			<div id = "comment-3260" class = "comment">
				<p>I see there's an additional servo to tilt one of the motors in a typical tri-copter design.  That's your answer I guess...  http://shrediquette.wikia.com/wiki/How_does_a_tricopter_work</p>
			</div>
			</div>
				<textarea id = "speech-1552" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1552">
					<img id="start_img-1552" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1552">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1553"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1553" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want to maximise efficiency, you go with two rotors: a main rotor, and a tail rotor. I.e. a traditional helicopter. With the common CCPM setup (Cyclic Collective Pitch Mixing), you have three servos controlling the main rotor. Together they can tilt it any direction and control the pitch on the blades. As you can imagine, this is mechanically complicated.</p>

<p>The advantage of a quadcopter is that it's very simple; you have no servos. Adjacent arms are counter-rotating to control yaw.</p>

<p>Tricopters have a yaw imbalance that is corrected by dynamically tilting one of the motors.</p>

<p>So, with a tricopter you lose the "no servo" advantage that made people switch from traditional 2-rotor helis to quads.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1553" data-toggle = "popover">
				<p>user name : foobarbecue</p>
				<p> user reputation : 513</p>
				<p class = "tagcontent" id = "usertaginfo-1553">{'quadcopter': 1, 'None': 24, 'ardupilot': 7, 'rocket': 1, 'power': 4, 'arduino': 5, 'python': 1, 'multi-rotor': 7, 'lithium-polymer': 1, 'brushless-motor': 3, 'esc': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1553">Load Comments</button></br>
			<div id = "commentsection-1553" class = 'collapse'>
			<div id = "comment-19516" class = "comment">
				<p>Actually, I'd have to argue that if you want to maximize efficiency you forfeit vertical flight completely and go with a plane.</p>
			</div>
			<div id = "comment-19526" class = "comment">
				<p>Because the author asked about multirotors, I think it's safe to assume hovering was required. If you want to expand the problem domain beyond multirotors, maybe he should use a blimp - they get the longest flight times.</p>
			</div>
			</div>
				<textarea id = "speech-1553" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1553">
					<img id="start_img-1553" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1553">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>