<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Use of ADC with Sharp Infrared Sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10885" class = "post">
			<h2>Question</h2>
			<div id="vote-10885" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Use of ADC with Sharp Infrared Sensor</h2>
<p>I have a Sharp GP2D12 and I've been using it with my Arduino just fine. I have however had some experience in the past where this sensor (which is analog) was fed into an <a href="http://mech.vub.ac.be/teaching/info/mechatronica/finished_projects_2012/Twinbot1/media/downloads/SharpGP2D12Snrs.pdf" rel="nofollow">ADC (like ADC0831) to go to a Basic Stamp</a>. I was wondering what the purpose of this is given that both the Arduino and the Basic Stamp support analog inputs if I am not mistaken, thus it seems weird having an extra and necessary link in the chain. Does the ADC provide more resolution? What is the point of it in this circumstance?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10885" data-toggle = "popover">
				<p>user name : Alex</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-10885">{'None': 1, 'power': 2, 'arduino': 3, 'platform': 0, 'tracks': 0, 'design': 0, 'mobile-robot': 0, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10885" class = 'collapse'>
			</div>
				<textarea id = "speech-10885" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10885">
					<img id="start_img-10885" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10885">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10889"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10889" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Basic stamp does <strong>not</strong> have an analog input. It has a method that can be used to attempt to measure voltage, but the output won't be as good as a proper ADC. </p>

<p>Briefly, the Basic Stamp uses an internal RC circuit and a timer to "count" how long it takes to charge the pin, then converts that time constant to a voltage. <a href="http://emesystems.com/BS2rct.htm" rel="nofollow">Here</a> is an application note that describes the process in greater detail. </p>

<p>The method is prone to errors with noise and temperature drift, and also appears to be poor at handling slow changes in input voltage.</p>

<p>So, the point of the ADC is to get a stable reading of the Sharp sensor's output. The Arduino <em>does</em> have an analog input pin, the Basic Stamp does not. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10889" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10889">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10889" class = 'collapse'>
			</div>
				<textarea id = "speech-10889" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10889">
					<img id="start_img-10889" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10889">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>