<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Use computer to throw a small switch
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1910" class = "post">
			<h2>Question</h2>
			<div id="vote-1910" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 137</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Use computer to throw a small switch</h2>
<p>Would like a product that enables me to use my computer to throw an small DC ON / OFF switch. Seems like a stupidly simple thing to do, but for the life of me I can't seem to find such a device when I search online.</p>

<p>Is there a device floating around out there that I can order? Or is there some kind of term I should be searching for?</p>

<p>Thanks so much!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1910" data-toggle = "popover">
				<p>user name : Chris Dutrow</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-1910">{'control': 3, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1910">Load Comments</button></br>
			<div id = "commentsection-1910" class = 'collapse'>
			<div id = "comment-3904" class = "comment">
				<p>Do you want to be able manually control the switch as well?</p>
			</div>
			<div id = "comment-3905" class = "comment">
				<p>By   throw a small DC ON / OFF switch  do you mean physically actuate an existing switch?</p>
			</div>
			<div id = "comment-3906" class = "comment">
				<p>@DaemonMaker - No I don't need to manually control it.</p>
			</div>
			<div id = "comment-3907" class = "comment">
				<p>@jwpat7 - No, not an existing switch. I just need to connect two wires carrying a low DC load for a second and then disconnect them.</p>
			</div>
			<div id = "comment-3909" class = "comment">
				<p>How much current are we talking about?  You can use a relay or a solid state switch...  When you say switch do you mean physically disconnect?  Sometimes a transistor will do the job.</p>
			</div>
			<div id = "comment-3910" class = "comment">
				<p>Just FYI, shopping questions are not really fit for this Q&A site. Try rephrasing the question to instead of being "what product to buy to do X?", it would be more like "how can I achieve X with properties Y, Z and W?" The answers would certainly have enough pointers for you to be able to find the product you are looking for.</p>
			</div>
			<div id = "comment-3911" class = "comment">
				<p>There are some AC extension leads that you can control via USB. It should be easy to reuse these.</p>
			</div>
			<div id = "comment-3941" class = "comment">
				<p>Does your computer have a parallel port? (nowadays an "old" port used for connecting printers)</p>
			</div>
			<div id = "comment-3943" class = "comment">
				<p>It may on the motherboard. If not I could connect it to an Arduino via USB.</p>
			</div>
			<div id = "comment-3969" class = "comment">
				<p>Put the switch in front of the computer's CD drive. Eject the CD drive, and it will hot the switch!</p>
			</div>
			</div>
				<textarea id = "speech-1910" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1910">
					<img id="start_img-1910" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1910">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1912"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1912" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two easy ways:</p>

<ul>
<li>Use a relay</li>
<li>Use a transistor</li>
</ul>

<p>In both cases, you can use the processor as the switch input...</p>

<p><img src="https://i.stack.imgur.com/khRpY.png" alt="Example MOSFET switch"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1912" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-1912">{'None': 41}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1912">Load Comments</button></br>
			<div id = "commentsection-1912" class = 'collapse'>
			<div id = "comment-3912" class = "comment">
				<p>I think I actually have all the parts to do this. Would you use the serial or USB port to send the signal? A concern I have is the time factor. I feel like if I can buy a USB Nerf Missile Launcher off Amazon.com, shouldn't there be a device to simply turn something on or off that is commercially available?</p>
			</div>
			<div id = "comment-3914" class = "comment">
				<p>On a PC, you could use a parallel port directly... if you use serial or USB you will need to unpack the data first</p>
			</div>
			<div id = "comment-3942" class = "comment">
				<p>Ah, interesting. I think I understand now, thanks so much!</p>
			</div>
			<div id = "comment-3980" class = "comment">
				<p>I might be reading this wrong, but why are you bypassing the dump load resistor with a diode?</p>
			</div>
			<div id = "comment-3981" class = "comment">
				<p>The diode is there to stop back EMF and offers reverse protection.  The diode is (if you notice) reverse biased, so it is NOT bypassing the load!</p>
			</div>
			<div id = "comment-3983" class = "comment">
				<p>Ok, so it allows current to flow freely from 12V to ground? When would this happen? The reason I am asking is because I built a similar, but more complex circuit to control 8 machines using the Arduino. It works fine when plugged in, but restarts the machines sometimes when I unplug the USB.</p>
			</div>
			<div id = "comment-3985" class = "comment">
				<p>Just posted the question here: http://electronics.stackexchange.com/questions/85013/multiplexers-used-as-a-switch-seem-to-leak-when-power-is-cut</p>
			</div>
			</div>
				<textarea id = "speech-1912" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1912">
					<img id="start_img-1912" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1912">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>