<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Using an Arduino to control an ON ~ OFF connection between two pins
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-75" class = "post">
			<h2>Question</h2>
			<div id="vote-75" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 856</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Using an Arduino to control an ON ~ OFF connection between two pins</h2>
<p>I've got this driver: <a href="http://www.pololu.com/catalog/product/1182" rel="nofollow noreferrer">http://www.pololu.com/catalog/product/1182</a></p>

<p>... a A4988 stepper motor driver carrier</p>

<p><img src="https://i.stack.imgur.com/MPEI5.png" alt="enter image description here"></p>

<p>I'm attempting to control a connection between the RESET and SLEEP pins with logic ( code ) running on my Arduino. The motor runs perfectly when these two pins are connected however I'd like to control when the stepper is powered off from my Arduino ( and thus not generating extra heat )</p>

<p>I'd like to:</p>

<ol>
<li>designate a pin to control the connection between these two pins</li>
<li>use a "digitalWrite" to the above pin with a HIGH or LOW to
switch power on and off from the stepper</li>
</ol>

<p>NOTE: The <a href="http://www.pololu.com/file/0J450/a4988_DMOS_microstepping_driver_with_translator.pdf" rel="nofollow noreferrer">data sheet</a> mentioned that for the driver to be powering the stepper both RESET and SLEEP needed to be in switched on ( HIGH )</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-75" data-toggle = "popover">
				<p>user name : delinquentme</p>
				<p> user reputation : 208</p>
				<p class = "tagcontent" id = "usertaginfo-75">{'None': 0, 'raspberry-pi': 6, 'arduino': 20, 'stepper-driver': 7, 'logic-control': 7, 'stepper-motor': 7, 'electronics': 7, 'software': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-75" class = 'collapse'>
			</div>
				<textarea id = "speech-75" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-75">
					<img id="start_img-75" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-75">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-76"  class = "post">
				<h2>Answer</h2>
			<div id="vote-76" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are going about this incorrectly.  The reason why pololu is telling you to connect the two pins is because the sleep pin has a pullup resistor on their breakout board.  </p>

<p>Connecting reset to the sleep pin is equivalent to connecting the reset pin to high.</p>

<p>You can achieve your goal by connecting reset pin to high (5V through pullup resistor) and connect the sleep pin directly to your arduino just like the step/dir pins.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-76" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-76">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-76">Load Comments</button></br>
			<div id = "commentsection-76" class = 'collapse'>
			<div id = "comment-244" class = "comment">
				<p>solid explanation and for looking into the docs you +1</p>
			</div>
			</div>
				<textarea id = "speech-76" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-76">
					<img id="start_img-76" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-76">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>