<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>using range-only sensors for mapping in SLAM
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6956" class = "post">
			<h2>Question</h2>
			<div id="vote-6956" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 526</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>using range-only sensors for mapping in SLAM</h2>
<p>SLAM noob here but trying to implement an algorithm that fuses odometry data and mapping based on wifi signal strengths for a 2D robot.</p>

<p><strong>1)</strong>
After various readings of different resources,
I came across this - <a href="http://www.qucosa.de/fileadmin/data/qucosa/documents/8644/Dissertation_Niko_Suenderhauf.pdf" rel="nofollow noreferrer">http://www.qucosa.de/fileadmin/data/qucosa/documents/8644/Dissertation_Niko_Suenderhauf.pdf</a>
that explained what sensors are used in mapping and how they are categorized.</p>

<p>There are range-bearing sensors (stereo cameras,RGB-d cameras) that provide both distance and angle (range and bearing), from which is easy to locate (x,y) coordinates of landmarks ---> I can develop a map.</p>

<p>But in case I'm using wifi signal strengths (Received signal strengths) etc, in which case it is range-only (meaning, I can only establish from a robot pose(x,y,theta) as to <strong>how far</strong> this signal is coming from), how am I developing a map at all?</p>

<p>My question is similar to this - <a href="https://robotics.stackexchange.com/questions/53/what-algorithm-can-i-use-for-constructing-a-map-of-an-explored-area-using-a-numb">What algorithm can I use for constructing a map of an explored area using a number of ultrasound sensors?</a> but not quite same.</p>

<p>Even if I were using IMU/GPS, how am I using GPS to develop a map? What is my state space there? If I am getting GPS signals / wifi signals/ radio signals, am I estimating the transmitter/AP's location as the map? or the walls of a room I'm navigating in, as a map?</p>

<p>A lot of SLAM literature talks about <strong>motion model</strong> and <strong>measurement model</strong>, the former gives me the pose of the robot quite easily because of the odometry and imu. </p>

<p>The latter though is more for development of a map. Am I right in understanding this? If yes, say 
a] I have walls in a room and I'm using Lidar scanner - 
this still gives me the location of the wall using the number of beams that give me bearing, and the average distance from all the beams.</p>

<p>b] Or if I have just a single laser scanner, I can still use a camera (distance) and the heading of the robot to calculate the location of wall (the map). <a href="https://shaneormonde.wordpress.com/2014/01/25/webcam-laser-rangefinder/#more-403" rel="nofollow noreferrer">https://shaneormonde.wordpress.com/2014/01/25/webcam-laser-rangefinder/#more-403</a></p>

<p>But If I have wireless signal strengths, I have a distance (<strong>distance of the transmitter from which I'm getting the RSS</strong>, not the distance of the wall) as to where they are coming from. But how am I estimating the location of walls here?</p>

<p><strong>2)</strong> What does the term "correspondences" mean in SLAM literature? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6956" data-toggle = "popover">
				<p>user name : Raaj</p>
				<p> user reputation : 120</p>
				<p class = "tagcontent" id = "usertaginfo-6956">{'control': 2, 'None': 0, 'accelerometer': 1, 'localization': 0, 'artificial-intelligence': 0, 'mapping': 0, 'simulation': 1, 'wireless': 0, 'slam': 0, 'imu': 1, 'motion-planning': 2, 'gyroscope': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6956">Load Comments</button></br>
			<div id = "commentsection-6956" class = 'collapse'>
			<div id = "comment-9927" class = "comment">
				<p>You're asking a number of very different questions in one post.  It would be better to break this up into multiple, separate posts.</p>
			</div>
			</div>
				<textarea id = "speech-6956" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6956">
					<img id="start_img-6956" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6956">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6974"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6974" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>SLAM is so huge topic with a lot of challenging problems. For beginners, I don't really recommend you to read papers. The authors of academic papers assume you know not only the  basics in the field but they assume you know the problem that they handle. What you really need is a book that covers the problem in a complete manner, therefore this <a href="http://rads.stackoverflow.com/amzn/click/0262201623" rel="nofollow">book</a> is the way to go with. Read the book and do some simulation in Matlab. It answers your questions. The book is really big however you need only to focus on the basics (i.e. focus on EKF-SLAM for the time being). </p>

<p>Chapter 1, 2, 3 ( math prerequisites ) </p>

<p>Chapter 5,6 ( motion and measurement models  )</p>

<p>Chapter 7 ( Localization problem )</p>

<p>Chapter 10 ( SLAM problem )</p>

<p>Once you are done with these chapters, you should do some simulations and read some academic papers regarding EKF-SLAM. Once you reach this level, you are able to know your path. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6974" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-6974">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6974" class = 'collapse'>
			</div>
				<textarea id = "speech-6974" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6974">
					<img id="start_img-6974" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6974">Comment</button>
			<br><div id = "ans-12153"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12153" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you are confusing two distinct things here. You can of course use Wi-Fi signals for SLAM, but you cannot use them to create a map <em>directly</em> from the RSS. As you have already stated yourself, this only gives you information about where the access point / router might be located, i.e. $\left(x_{ap},y_{ap}\right)$. There is hardly any information about the structure of the room in this data, and pursuing this to build a map is not going to be very productive.</p>

<p>What Wi-Fi and similar beacon-like systems like GPS are typically used for, is providing constraints for the dead reckoning via odometry / IMU. By integrating this external positioning data, e.g. using a Kalman Filter or a graph based representation of a MLE problem, you can reduce the estimation error over the robot's trajectory while performing SLAM. Basically it would act like a weak loop closure algorithm, which corrects the robot current pose (and consequently the prior trajectory) by integrating external "semi-ground truth" data. Having a better estimation of the robot trajectory, i.e. the localization aspect of SLAM, can be automatically translated into more accurate mapping. After all, if you knew the ground truth trajectory of the robot, creating the map would simply require translating all sensor measurements to their accurate measurement poses and then combining them into one large measurement (e.g. a point cloud or an occupancy grid / voxel map). This still assumes a <strong>dense metric sensor</strong> like a LIDAR or a 3D depth camera to actually get sensor measurements of the structure of the environment!</p>

<p>All of this being said, you can of course create a map simply from the RSS of the Wi-Fi. This would be estimating a sparse representation of the environment, where the estimated state of the environment comprises solely of the locations of the access points. This kind of map would allow you to localize the robot to some degree and even navigate (in the absence of obstacles), but I am quite certain this is not what you are after.</p>

<p>In summary, I think you are confusing metric mapping (dense SLAM) and landmark based mapping (sparse SLAM). Positioning systems like Wi-Fi/GPS can either supplement dense SLAM (requiring a dense metric sensor though), or provide the landmarks for sparse SLAM. Sparse SLAM will not typically give you a metric map of an environment though, but rather a map that spatially relates abstract landmarks.</p>

<p>As for your question about correspondences, it refers to observing landmarks at two distinct timesteps $t$ and $t+1$, and identifying these landmarks in the associated sensor measurements $z_t$ and $z_{t+1}$. Correspondences therefore represent a mapping $\lbrace a : z_t\rbrace\rightarrow\lbrace b : z_{t+1}\rbrace$ where $a=b$ are the same landmark observed in sensor observations $z_t$ and $z_{t+1}$. Correspondences indicate a geometric constraint between observation poses $x_t$ and $x_{t+1}$, as the same feature of the environment was observed, which is <strong>the</strong> information SLAM is based on.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12153" data-toggle = "popover">
				<p>user name : Christian R.</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-12153">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12153" class = 'collapse'>
			</div>
				<textarea id = "speech-12153" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12153">
					<img id="start_img-12153" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12153">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>