<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Using an Xbox controller to fly a Quadrocopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1246" class = "post">
			<h2>Question</h2>
			<div id="vote-1246" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 9171</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Using an Xbox controller to fly a Quadrocopter</h2>
<p>So I have a quadrocopter, it does come with a remote but I intend to run certain modifications to the copter, like installing a camera, a mechanical manipulator, and other random modifications. The remote that comes with the copter isn't flexible enough to help with such functions and plus it lacks any more buttons. </p>

<p>I was wondering if I could somehow program the quadrocopter to respond to my Xbox controller. I was planning on using my laptop's Bluetooth connection to talk to copter. The Xbox controller which is connected to the computer would be then used to control the quadrocopter. So my question is, how exactly do I program the controller? How do I go about making all of this possible? </p>

<p>I understand this question is really vague and that there are too many options out there, but I do need help figuring this out. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1246" data-toggle = "popover">
				<p>user name : Chandough</p>
				<p> user reputation : 455</p>
				<p class = "tagcontent" id = "usertaginfo-1246">{'quadcopter': 23, 'None': 15, 'design': 1, 'multi-rotor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1246">Load Comments</button></br>
			<div id = "commentsection-1246" class = 'collapse'>
			<div id = "comment-2804" class = "comment">
				<p>We use playstation controllers to control all our laptops. This is perfectly plausible.</p>
			</div>
			<div id = "comment-2807" class = "comment">
				<p>Bluetooth range is the main limiting factor here.</p>
			</div>
			</div>
				<textarea id = "speech-1246" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1246">
					<img id="start_img-1246" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1246">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1247"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1247" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, in general this idea is perfectly plausible. However the method is going to be specific to your setup. I.e. the operating system you are using on your control computer and the onboard controller that you are employing. In our lab we use an <a href="http://store.diydrones.com/ArduPilot_Mega_kit_p/kt-apm-01.htm">Ardupilot Mega</a> as our onboard controller for some of our quadrotors. To solve this problem I used the <a href="https://www.kernel.org/doc/Documentation/input/joystick-api.txt">Linux joystick API</a> to acquire the data from the Xbox controller (or a PS3 controller for that matter). I can then send this data to an Arduino that I have used to replace the RC receiver or I can send it directly to the Ardupilot via Xbee using the <a href="http://qgroundcontrol.org/mavlink/start">Mavlink protocol</a>. If you can provide more detail about your setup then I may be able to provide a more detailed response.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1247" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1247">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1247" class = 'collapse'>
			</div>
				<textarea id = "speech-1247" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1247">
					<img id="start_img-1247" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1247">Comment</button>
			<br><div id = "ans-1248"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1248" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is easy actually!</p>

<ol>
<li><p>(ROS + Joy package) -- <a href="http://www.ros.org" rel="nofollow noreferrer">http://www.ros.org</a></p></li>
<li><p>XBee (as mentioned by @DaemonMaker)</p></li>
<li><p>A simple program that takes the joy_node publications and sends them out over XBee. This could be as simple as <code>rostopic echo /joy &gt;&gt; /dev/ttyS0</code> or such, depending on how much control you have over the receiving end.</p></li>
</ol>

<p>Note: We use playstation controllers on all our robots. Highly recommended.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1248" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1248">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1248" class = 'collapse'>
			</div>
				<textarea id = "speech-1248" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1248">
					<img id="start_img-1248" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1248">Comment</button>
			<br><div id = "ans-1251"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1251" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Xbox and PS3 controllers are very versatile, it is true, but don't forget about range. </p>

<p>Bluetooth was only intended for short range operations out to about 10m (33ft.) for class 2 devices (xbox and ps3 controllers have class 2 transmitters) and 100m(330ft) for class 1 devices. Flying devices could most certainly go beyond that very quickly and you will risk losing control.</p>

<p>You're better off using an RC radio. Even though they use the same part of the RF spectrum (2.4GHz), RC radios typically have more power and are good for a couple of miles in good weather. You <strong>can</strong> get RC controllers with 8 channels and more, thereby offering greater flexibility of number of controlled devices.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1251" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-1251">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1251" class = 'collapse'>
			</div>
				<textarea id = "speech-1251" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1251">
					<img id="start_img-1251" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1251">Comment</button>
			<br><div id = "ans-5101"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5101" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I know it's not <em>software out of the box</em> but if you are into programming, I suggest you to look into the gaming library GLFW3. It's the best library that is used in games and OpenGL, and you have many functions for <a href="http://www.glfw.org/docs/latest/group__input.html" rel="nofollow">controlling all input devices</a>. It also has bindings for your <a href="http://www.glfw.org/download.html" rel="nofollow">favorite language</a> <em>probably</em></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5101" data-toggle = "popover">
				<p>user name : urosjarc</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-5101">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5101" class = 'collapse'>
			</div>
				<textarea id = "speech-5101" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5101">
					<img id="start_img-5101" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5101">Comment</button>
			<br><div id = "ans-6489"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I found a web site that uses wifi if that would help with the quadcopter. endurance-rc.com They have some neat applications. I've put in an inquiry through their email chain. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6489" data-toggle = "popover">
				<p>user name : user8999</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-6489">{'brushless-motor': 1, 'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6489" class = 'collapse'>
			</div>
				<textarea id = "speech-6489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6489">
					<img id="start_img-6489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6489">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>