<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Using kinect for medical application but without computer. Is it possible?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4554" class = "post">
			<h2>Question</h2>
			<div id="vote-4554" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 147</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Using kinect for medical application but without computer. Is it possible?</h2>
<p>I have to use kinect for an application. However,  the final work must be mobile: it means no computer. Consequently, I thought using a microcontroller to handle data from kinect. But is it possible? My job is mesuring some points of a body (axis X, Y, Z) and get back these coordinates. I don't know if I'm enough accurate. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4554" data-toggle = "popover">
				<p>user name : Yoann</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-4554">{'kinect': 2, 'None': 0, 'microcontroller': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4554">Load Comments</button></br>
			<div id = "commentsection-4554" class = 'collapse'>
			<div id = "comment-7160" class = "comment">
				<p>Depending on the processing you need to do, I know there are many people using the kinect with microcontroller sized computers like the NVidia Jetson and one of the Odroid boards. I don't know much about them though but you might get lucky searching for "NVidia Jetson and Kinect" and find some good write ups.</p>
			</div>
			<div id = "comment-7161" class = "comment">
				<p>What do mean with "medical application"</p>
			</div>
			<div id = "comment-7162" class = "comment">
				<p>I have to mesure some parts of the body in order to jauge the balance.</p>
			</div>
			<div id = "comment-7165" class = "comment">
				<p>And how you can identify the important points?
Do this points have specific color?</p>
			</div>
			</div>
				<textarea id = "speech-4554" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4554">
					<img id="start_img-4554" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4554">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4560"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4560" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There MCU which provide enough calculation power. I'd say "the bigger, the better". For example a ARM-CORTEX M4</p>

<p>This is enough with you just want to extract some coordinates</p>

<p>The protocol of the kinect is pretty simple (<a href="http://openkinect.org/wiki/Protocol_Documentation" rel="nofollow">http://openkinect.org/wiki/Protocol_Documentation</a>). You can easily implement a communication between the Kinect and the MCU</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4560" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-4560">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4560" class = 'collapse'>
			</div>
				<textarea id = "speech-4560" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4560">
					<img id="start_img-4560" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4560">Comment</button>
			<br><div id = "ans-4758"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4758" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are some microcontrollers which can act as a USB host, E.G. <a href="http://www.nxp.com/documents/data_sheet/LPC4357_53_37_33.pdf" rel="nofollow">NXP LPC4357</a>. However, microcontrollers tend to have very little RAM. The LPC4357 for example has only 136kB. If you use all of this to store an image, you'd only be able to store a resolution of 373x373 pixels!  The USB host stack and other code are probably going to need quite a bit too.</p>

<p>My advice would be to use a small computer which can do the job, E.G. <a href="http://jonmacey.blogspot.co.uk/2012/07/raspberry-pi-and-kinect.html" rel="nofollow">Raspberry Pi</a>. These tend to have many megabytes of RAM, they run Linux and you can get drivers for them. They aren't big (compared to a Kinect), and fairly low power.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4758" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4758">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4758" class = 'collapse'>
			</div>
				<textarea id = "speech-4758" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4758">
					<img id="start_img-4758" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4758">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>