<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Using Gazebo installed on same machine in MATLAB
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8296" class = "post">
			<h2>Question</h2>
			<div id="vote-8296" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 396</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Using Gazebo installed on same machine in MATLAB</h2>
<p>I am planning to use MATLAB and Gazebo for one of my course projects. </p>

<p>However all the tutorials I have seen till now use Gazebo by using a virtual machine which has ROS and Gazebo installed. I have already installed ROS and Gazebo on this machine (OS Ubuntu). I also have MATLAB installed on it. </p>

<p>Is it possible to use the Gazebo on this machine itself with the MATLAB toolbox? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8296" data-toggle = "popover">
				<p>user name : Anupu</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-8296">{'None': 0, 'ros': 2, 'gazebo': 2, 'matlab': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8296">Load Comments</button></br>
			<div id = "commentsection-8296" class = 'collapse'>
			<div id = "comment-13287" class = "comment">
				<p>I haven't done it before, but it does look like there are ways to connect Gazebo and MATLAB -- check out the Mathworks resources [here](http://www.mathworks.com/help/robotics/examples/getting-started-with-gazebo-and-a-simulated-turtlebot.html).</p>
			</div>
			<div id = "comment-13288" class = "comment">
				<p>This method involve using a virtual machine. I was wondering if it could be done in such a way that same machine has Matlab and gazebo running.</p>
			</div>
			</div>
				<textarea id = "speech-8296" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8296">
					<img id="start_img-8296" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8296">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8814"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8814" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As I understand, you installed ROS and Gazebo in your virtual machines, but MATLAB is not. Your MATLAB is installed in the real machine(~.~). If your case is like this, you can get a linux-MATLAB version and install it in the virtual computer. All things get done!
You can follow the instruction mentioned in Brian's comment above to connect Gazebo and MATLAB in your virtual machine. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8814" data-toggle = "popover">
				<p>user name : Phan</p>
				<p> user reputation : 53</p>
				<p class = "tagcontent" id = "usertaginfo-8814">{'None': 1, 'manipulator': 2, 'simulator': 1, 'simulation': 5, 'matlab': 5, 'actuator': 2, 'gazebo': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8814" class = 'collapse'>
			</div>
				<textarea id = "speech-8814" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8814">
					<img id="start_img-8814" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8814">Comment</button>
			<br><div id = "ans-10194"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10194" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The MATLAB tutorial doesnt cover this aspect well about when you have matlab  and gazebo  running on the same linux  machine with no virtual box.</p>

<p>Change your linux ethernet interface ip address statically  using:</p>

<pre><code>sudo ifconfig eth0   192.168.1.1 netmask 255.255.255.0
</code></pre>

<p>assign to ros master the same ip address using: </p>

<pre><code>export ROS_MASTER_URI=http://192.168.1.1:11311 &gt;&gt; ~/.bashrc
export ROS_HOSTNAME=192.168.1.1 &gt;&gt; ~/.bashrc
export ROS_IP=192.168.1.1 &gt;&gt; ~/.bashrc
</code></pre>

<p>assign to  matlab ros, an  ip address in same subnet as the master above using :</p>

<pre><code>setenv('ROS_IP','192.168.1.100:11311')
setenv('ROS_IP','192.168.1.100')
</code></pre>

<p>start rosmaster in terminal using : <code>roscore</code></p>

<p>start gazebo model in terminal</p>

<p>connect to rosmaster ip adress in MATLAB using: <code>rosinit('192.168.1.1:11311')</code></p>

<p>Now you should see gazebo and ros topics in matlab command window</p>

<p>You can also follow the matlab tutorial to see how much more you can do</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10194" data-toggle = "popover">
				<p>user name : Themarkofaspur</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-10194">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10194">Load Comments</button></br>
			<div id = "commentsection-10194" class = 'collapse'>
			<div id = "comment-18151" class = "comment">
				<p>This is a stellar answer! For readability (and to prevent parsing of URLs) I'll comment that you can place code between grave accent marks (`) or put the code on a new line and preface it with four spaces. Also, you can highlight the code and use the code command button { } and it will automatically insert the 4 preceding spaces.</p>
			</div>
			</div>
				<textarea id = "speech-10194" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10194">
					<img id="start_img-10194" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10194">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>