<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Using Accelerometer, Gyroscope and any sensor to track speed, position,
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9894" class = "post">
			<h2>Question</h2>
			<div id="vote-9894" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1947</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Using Accelerometer, Gyroscope and any sensor to track speed, position,</h2>
<h1>Problem</h1>

<p>Currently working on reverse engineering this application <a href="http://www.zepp.com/en-us/baseball/smart-coach/" rel="nofollow">zepp.com/baseball</a>. This is a wearable device that can track a users </p>

<ul>
<li>speed</li>
<li>positional tracking</li>
<li>when the object makes contact with another one </li>
<li>3-D Rendering</li>
</ul>

<p>Currently using an accelerometer and gyroscope to get the yaw, pitch, and roll(orientation) of the device, but do not know how to use that information to calculate speed, or if the device has collided with another object?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9894" data-toggle = "popover">
				<p>user name : Kehlin Swain</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9894">{'precise-positioning': 1, 'None': 0, 'imu': 1, 'accelerometer': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9894">Load Comments</button></br>
			<div id = "commentsection-9894" class = 'collapse'>
			<div id = "comment-17602" class = "comment">
				<p>A device that can track a users 3-D Rendering? What does that mean?</p>
			</div>
			</div>
				<textarea id = "speech-9894" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9894">
					<img id="start_img-9894" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9894">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9914"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9914" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are essentially making your own <a href="https://en.wikipedia.org/wiki/Inertial_measurement_unit" rel="nofollow">IMU</a>.  The way this works is essentially: </p>

<ul>
<li>the accelerometer gives you linear acceleration</li>
<li>the rotational gyro gives you angular velocity</li>
<li>integrate the rotational gyro over time to give you angular position</li>
<li>integrate the accelerometer over time to give you linear velocity</li>
<li>double integrate the accelerometer over time to give you linear position</li>
</ul>

<p>Of course, integrations like this introduce errors, so that is why people typically combine estimates from many different sensors (and sensing modalities) with something like a <a href="https://en.wikipedia.org/wiki/Kalman_filter" rel="nofollow">Kalman Filter</a>.  </p>

<p>Also note that these integrations don't work anymore if you max out the sensing range of your sensors.  For example, some cheap accelerometers won't measure over 3gs.  And I imagine that swinging a bat and hitting a ball will produce some pretty high gs.  And a low resolution (bit count) will also severely affect the accuracy.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9914" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-9914">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9914">Load Comments</button></br>
			<div id = "commentsection-9914" class = 'collapse'>
			<div id = "comment-17634" class = "comment">
				<p>To accomplish accuracy with calculating speeds. I was going to use an air speed sensor http://www.hobbyking.com/mobile/viewproduct.asp?idproduct=62752 and correlate that speed data to the accelerometer and gyroscope data. The end goal is to just use a as a standalone gadget that just has an accelerometer and gyroscope to accurately measure velocity. What do you think about this idea fusing the speed sensor data with accelerometer?</p>
			</div>
			<div id = "comment-17683" class = "comment">
				<p>Well, you can't directly correlate the accelerometer to speed because they are fundamentally different quantities.  But you may be interested to know that centripetal acceleration is $$a=v^2/r$$.  So you really need to know where the device is on the bat.  I think a better solution would be to just throw the air speed into the Kalman filter too.</p>
			</div>
			<div id = "comment-17685" class = "comment">
				<p>The device will be on the knob of the bat, and so if I know how many revs that the device moved. I can use that for angular velocity?</p>
			</div>
			<div id = "comment-17859" class = "comment">
				<p>do you think the that repp is using the angular velocity of the device to calculate it's speed?</p>
			</div>
			</div>
				<textarea id = "speech-9914" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9914">
					<img id="start_img-9914" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9914">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>