<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Using pic as webserver?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2904" class = "post">
			<h2>Question</h2>
			<div id="vote-2904" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 65</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Using pic as webserver?</h2>
<p>I want to show information about temperature over the Internet using a sensor and PIC.
How can I do using PIC?  Is there any way for the PIC 16f628A or 18F to do it?
Does anyone hame some literature about it? Schematics?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2904" data-toggle = "popover">
				<p>user name : Eduardo</p>
				<p> user reputation : 2</p>
				<p class = "tagcontent" id = "usertaginfo-2904">{'None': 0, 'microcontroller': -3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2904">Load Comments</button></br>
			<div id = "commentsection-2904" class = 'collapse'>
			<div id = "comment-5314" class = "comment">
				<p>Do you have any knowledge of what the inthernet [sic] is?</p>
			</div>
			<div id = "comment-5322" class = "comment">
				<p>In what way is https://www.google.com/search?q=pic+microcontroller+webserver not useful to you?</p>
			</div>
			</div>
				<textarea id = "speech-2904" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2904">
					<img id="start_img-2904" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2904">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2907"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2907" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, it is not that easy.
One way is to use chips like <code>enc28j60</code>. That chip will only give you Mac/Phy layer to ethernet, so you need to implement IP and TCP and HTTP layer, which is quite hard(but cheap solution). </p>

<p>Easier way is to get chip that already have TCP/IP layer and only implement your response to http GET request. One example is <code>WIz5100</code>.</p>

<p>There are also wireless chips with tcp/ip stack, like Roving network's <code>RN42</code>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2907" data-toggle = "popover">
				<p>user name : Gossamer</p>
				<p> user reputation : 311</p>
				<p class = "tagcontent" id = "usertaginfo-2907">{'None': 18}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2907" class = 'collapse'>
			</div>
				<textarea id = "speech-2907" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2907">
					<img id="start_img-2907" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2907">Comment</button>
			<br><div id = "ans-2951"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2951" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, this can be done.  I did this 15 years ago with I think a PIC demo board.  I remember it being very slow and clunky.  The TCP/IP code will eat up most of your memory.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2951" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-2951">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2951" class = 'collapse'>
			</div>
				<textarea id = "speech-2951" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2951">
					<img id="start_img-2951" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2951">Comment</button>
			<br><div id = "ans-4803"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4803" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I once used a Modtronix sbc68ec to do this. If you wanted to do this manually you could perhaps follow their example.</p>

<p><a href="http://modtronix.com/sbc66ec.html" rel="nofollow">sbc68ec</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4803" data-toggle = "popover">
				<p>user name : Chris Coles</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-4803">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4803" class = 'collapse'>
			</div>
				<textarea id = "speech-4803" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4803">
					<img id="start_img-4803" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4803">Comment</button>
			<br><div id = "ans-4807"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4807" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Another idea is to use a RaspberryPi, BeagleBone, or similar embedded computer.  These devices bridge the gap between PCs and microcontrollers.  You get a <em>real</em> (but paired down) Linux OS, plus GPIO that you can use to interface with custom sensors, etc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4807" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4807">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4807" class = 'collapse'>
			</div>
				<textarea id = "speech-4807" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4807">
					<img id="start_img-4807" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4807">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>