<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Using an AR.Drone's IMU to perform PDR
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10722" class = "post">
			<h2>Question</h2>
			<div id="vote-10722" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Using an AR.Drone's IMU to perform PDR</h2>
<p>My task is simple: I want to move my drone manually around a room (<strong>IMPORTANT: I DO NOT WANT TO FLY IT</strong>) and I want to see its position update on a map using IMU data. </p>

<p>I've attempted something in ROS and Rviz, but the position on the map does not update when I pickup my drone from spot A and place it 5 meters away at spot B. It does however update when I fly the drone from A to B.</p>

<p>My question is this : is there someway I can do dead reckoning using the drone while not flying it? Or is flying the drone necessary to perform dead reckoning using the drone's IMU?</p>

<p>EDIT: Here's what my Rviz shows when I pickup the drone from A and put it at B. As you can see, orientation is updated, but the position remains the same. However, when I fly the drone, I can see the red arrow move around the map.</p>

<p><a href="https://i.stack.imgur.com/uGrqT.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/uGrqT.png" alt="enter image description here"></a></p>

<p>Any help would be greatly appreciated!</p>

<p>EDIT : The duplicate question just asks for general solutions. Here I've found a solution, I just can't get it to work; I need help debugging.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10722" data-toggle = "popover">
				<p>user name : ReiJin ThunderKeg</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10722">{'quadcopter': 1, 'None': 0, 'accelerometer': 0, 'localization': 2, 'uav': 0, 'dead-reckoning': 2, 'imu': 1, 'ros': 1, 'gyroscope': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10722">Load Comments</button></br>
			<div id = "commentsection-10722" class = 'collapse'>
			<div id = "comment-19316" class = "comment">
				<p>Possible duplicate of [ROS : Performing 2-D Pedestrian Dead Reckoning on an AR Drone and displaying location on a floorplan](http://robotics.stackexchange.com/questions/10714/ros-performing-2-d-pedestrian-dead-reckoning-on-an-ar-drone-and-displaying-loc)</p>
			</div>
			<div id = "comment-19323" class = "comment">
				<p>The other question has been closed as a shopping question, since it was seeking a ROS package recommendation, and this one appears more practical and relevant to the site anyway.</p>
			</div>
			</div>
				<textarea id = "speech-10722" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10722">
					<img id="start_img-10722" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10722">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>