<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Using a Sick laser with Matlab in Windows
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-884" class = "post">
			<h2>Question</h2>
			<div id="vote-884" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 620</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Using a Sick laser with Matlab in Windows</h2>
<p>Is there a Matlab toolbox available to use <a href="http://www.sick.com/us/en-us/home/products/product_portfolio/laser_measurement_systems/Pages/indoor_laser_measurement_technology.aspx" rel="nofollow">Sick lasers</a> in Windows?</p>

<p>I found <a href="http://sourceforge.net/projects/sicktoolbox/" rel="nofollow">one toolbox for Matlab in GNU/Linux</a>.  Is there another way to use Sick laser via Matlab in Windows?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-884" data-toggle = "popover">
				<p>user name : nayab</p>
				<p> user reputation : 224</p>
				<p class = "tagcontent" id = "usertaginfo-884">{'odometry': 4, 'None': 4, 'laser': 3, 'probability': 2, 'occupancygrid': 1, 'localization': 10, 'mapping': 1, 'particle-filter': 4, 'slam': 8, 'mobile-robot': 12}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-884">Load Comments</button></br>
			<div id = "commentsection-884" class = 'collapse'>
			<div id = "comment-2281" class = "comment">
				<p>If all fails, you can write your own using mex http://www.mathworks.com/help/matlab/creating-c-c-and-fortran-programs-to-be-callable-from-matlab-mex-files.html basically, get the example code from sick, see how they init the device and grab data from it. Write the stuff in mex to output the data in Matlab friendly format</p>
			</div>
			<div id = "comment-9485" class = "comment">
				<p>SICK laser scanners send their data over a pretty simple serial interface.  I'm sure you can find the API easily.  Then it is just a matter of getting serial data in Matlab, which is a question for a different site.</p>
			</div>
			</div>
				<textarea id = "speech-884" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-884">
					<img id="start_img-884" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-884">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1422"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have worked with <a href="http://sicktoolbox.sourceforge.net/" rel="nofollow">the Sick LIDAR Matlab/C++ Toolbox</a>, its pretty easy to use and does the job very well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1422" data-toggle = "popover">
				<p>user name : Shreyas Kapur</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-1422">{'kinect': 9, 'odometry': 9, 'None': 1, 'slam': 9, 'arduino': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1422">Load Comments</button></br>
			<div id = "commentsection-1422" class = 'collapse'>
			<div id = "comment-3051" class = "comment">
				<p>it is only for linux,finally i found same tool box ported to windows by one of the faculty.thanks for response.</p>
			</div>
			<div id = "comment-3055" class = "comment">
				<p>Your welcome, happy you solved your problem, you seem like you'll be doing some awesome stuff with your SICK :D</p>
			</div>
			<div id = "comment-10934" class = "comment">
				<p>from your comment it seems that you got a ported version of the Sick LIDAR Matlab/C++ Toolbox.
I tried porting the toolbox myself with no success. Would it be possible to get the Windows Version from you?</p>
			</div>
			<div id = "comment-10935" class = "comment">
				<p>Any chance you could post your own answer with a link to the windows version you found please @bvbdort , thanks.</p>
			</div>
			<div id = "comment-10983" class = "comment">
				<p>Sorry, it was not online. It was from deportment.</p>
			</div>
			<div id = "comment-11281" class = "comment">
				<p>Is that the toolbox that you discuss above support SICK Tim 561?</p>
			</div>
			<div id = "comment-11282" class = "comment">
				<p>Terry - (1) Please don't use an *answer* as a place to ask a question, you can ask your own, and (2) if you follow the link and read the documentation it clearly states that the only two families explicitly supported are the LMS200 and LD (as in LD-LRS). The TiM is not explicitly supported.</p>
			</div>
			<div id = "comment-11283" class = "comment">
				<p>If you have a new question, please ask it by clicking the [Ask Question](http://robotics.stackexchange.com/questions/ask) button. Include a link to this question if it helps provide context.</p>
			</div>
			</div>
				<textarea id = "speech-1422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1422">
					<img id="start_img-1422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1422">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>