<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Vacuum Lifter: Moving Playing Cards
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7317" class = "post">
			<h2>Question</h2>
			<div id="vote-7317" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 200</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Vacuum Lifter: Moving Playing Cards</h2>
<p>I'd like to buy a small Vacuum Lifter so that I can move playing cards around with robotics. But my "google-fu" is failing me. I don't really know what search terms to look for... or what webpages to look to find this kind of component.</p>

<p>In essence, I want an electronic version of a <a href="http://rads.stackoverflow.com/amzn/click/B001U35OJI" rel="nofollow">Vacuum Pen</a>.</p>

<p>I don't really know where to search for this kind of component. I've found pneumatic valves and other complicated machinery... but ideally I'd want a self-contained electronic vacuum pen. Since I'm only planning to move playing cards around.</p>

<p>Anyone have an idea where to look for something like this? Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7317" data-toggle = "popover">
				<p>user name : Dragontamer5788</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-7317">{'actuator': 1, 'None': 0, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7317" class = 'collapse'>
			</div>
				<textarea id = "speech-7317" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7317">
					<img id="start_img-7317" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7317">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7318"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7318" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Vacuum gripper - I think. Perhaps something like the lynxmotion version, which generates the vacuum with a motorised syringe:
<a href="http://www.lynxmotion.com/p-788-vacuum-gripper-kit.aspx" rel="nofollow">http://www.lynxmotion.com/p-788-vacuum-gripper-kit.aspx</a></p>

<p>Alternatively - a flat electrostatic gripper can be used for paper handling but it involves a high voltage on one side of a plate, covered by a thin plastic sheet.  A bit of research would be needed to get one working though:
<a href="http://mechatronics.org/r&amp;d/rob/eag/electroadhesion.pdf" rel="nofollow">http://mechatronics.org/r&amp;d/rob/eag/electroadhesion.pdf</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7318" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-7318">{'None': 59}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7318">Load Comments</button></br>
			<div id = "commentsection-7318" class = 'collapse'>
			<div id = "comment-10421" class = "comment">
				<p>Interesting. I guess I was looking at something more turnkey, but the kit you linked there looks like it'd work. I'll hold out on "accepted answer" for a bit longer, to see if anyone else knows of other solutions. (I think I was thinking of something like that vacuum gripper, except with a linear actuator instead of a servo)</p>
			</div>
			<div id = "comment-10426" class = "comment">
				<p>Actually I now think nanogru's 12V vacuum pump, connected to this gripper or something similar, would be a better solution now.  You'd only need a motor driver circuit (as nanogru described) to make it work.  Industrial robot suppliers like Adept can provide a vacuum system for their SoftPIC, but at a price of course!</p>
			</div>
			<div id = "comment-10427" class = "comment">
				<p>I'm actually not convinced that the vacuum pump can "blow" air with an HBridge. The vacuum pump has distinct "blow" and "suck" valves. Which means that "dropping" the card would require a pneumatic relays. On the other hand, the syringe can be "preloaded" before picking up the card. (ie: Hold the syringe at 25% normally, pull back 100% while "holding" the card, and then press down to 0% to "push" the card out).</p>
			</div>
			</div>
				<textarea id = "speech-7318" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7318">
					<img id="start_img-7318" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7318">Comment</button>
			<br><div id = "ans-7322"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7322" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This 12V vaccum pump from Sparkfun may be of interest to you: <a href="https://www.sparkfun.com/products/10398" rel="nofollow">link</a>.</p>

<p>In order to drive this pump you could either:</p>

<ol>
<li>Use an HBridge motor driver for both forwards and reverse variable speed control.  This would allow you to release your playing cards with some force, but it may not be necessary.</li>
<li>If you think you could get away with just stopping the pump to let go of a card, you could simply use a Mosfet to variably control the pump with only a sucking ability and no blowing.</li>
<li>If you don't expect to require variable speed control, you could use a relay to very simply open and close a 12V circuit with the motor.</li>
</ol>

<p>Good luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7322" data-toggle = "popover">
				<p>user name : nanogru</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-7322">{'gps': 3, 'None': 10, 'localization': 3, 'sensors': 3, 'arduino': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7322" class = 'collapse'>
			</div>
				<textarea id = "speech-7322" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7322">
					<img id="start_img-7322" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7322">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>