<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>VAL language and velocity control of industrial robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2486" class = "post">
			<h2>Question</h2>
			<div id="vote-2486" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 51</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>VAL language and velocity control of industrial robot</h2>
<p>In my bachelor, I programmed CNC machines. Now, working with an Industrial robot arm, I learn that their programming languages are mostly similar. VAL is a typical example, for instance:</p>

<pre><code>PROGRAM PICKPLACE
  1. MOVE P1
  2. MOVE P2
  3. MOVE P3
  4. CLOSEI 0.00
  5. MOVE P4
  6. MOVE P5
  7. OPENI 0.00
  8. MOVE P1
.END
</code></pre>

<p>Most of the cases, control of a robot arm is similar to this example. Cleary, move end-effector to a point with a given pose.</p>

<p>But... is there any way that I can control the end-effector (EE) speed? An example is "Move EE to P1 with time duration T1", or "Move EE to P1 with velocity V1" (I could have only seen defining for joint rotational velocity) In other way of speaking, I can command the EE to move from P0 to P1 but cannot control the duration of that traverse which is necessary in cases of EE velocity control</p>

<p>This is the programming manual for my robot mediafire.com/?agl76pi7t7v4hjv. The velocity control I'm talking about is not joint velocity but end-effector velocity. But EE_screw = robot_Jacobian*joint_vel which means to control EE velocity, it resolves in control joint velocity. About the inverse kinematic, I've already programmed a module to solve the robot</p>

<p>the experienced in robotics programming and VAL please help! I've stuck in this problem for months</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2486" data-toggle = "popover">
				<p>user name : Shawn Le</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-2486">{'control': 2, 'None': 0, 'manipulator': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2486" class = 'collapse'>
			</div>
				<textarea id = "speech-2486" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2486">
					<img id="start_img-2486" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2486">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>