<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Velocity Relation for Parallel Robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11233" class = "post">
			<h2>Question</h2>
			<div id="vote-11233" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 77</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Velocity Relation for Parallel Robots</h2>
<p>In my course of "Advanced Robotics" with "Fundamental of Robotic Mechanical Systems" as the reference book I saw the following equation as the velocity relation for parallel manipulators such as the one depicted on the pic. </p>

<p>$$\mathbf{J}\mathbf{\dot{\theta}}=\mathbf{K}\mathbf{t}$$</p>

<p>$\mathbf{\dot{\theta}}$ is the joint rate vector and $\mathbf{t}$ is the twist.</p>

<p><a href="https://i.stack.imgur.com/6RZcn.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/6RZcn.png" alt="enter image description here"></a></p>

<p>where $\theta_{J1}$ for $1\leq J\leq 3$ is the actuator.</p>

<p>It was indicated there that usually the matrix $\mathbf{J}$ is a diagonal matrix referring to the borders of the work space. But the proof for this velocity relation was just given case by case. In another word there was no general proof of this equation. </p>

<p>So here are my questions</p>

<ol>
<li><p>Is there a way to derive a general velocity formula for parallel manipulators ? (a formula that would show the relation between joint rates and twists). </p></li>
<li><p>Are there cases in which $\mathbf{J}$ is not a diagonal matrix ?</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-11233" data-toggle = "popover">
				<p>user name : Arvin Rasoulzadeh</p>
				<p> user reputation : 28</p>
				<p class = "tagcontent" id = "usertaginfo-11233">{'None': 0, 'kinematics': 5, 'inverse-kinematics': 5, 'jacobian': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11233" class = 'collapse'>
			</div>
				<textarea id = "speech-11233" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11233">
					<img id="start_img-11233" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11233">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11239"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11239" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ol>
<li><p>If you can write the forward kinematics equations of a parallel robot in an explicit form, you can derivate those equations and you get the formula for the velocities. This is  generally valid approach for <em>all</em> robots, but the formulae obtained are only valid for the specific structure. </p></li>
<li><p>If the jacobi matrix is diagonal it means that the motions of the robot are decoupled. i.e. if only one joint moves, only one component of the 6 (or 3 the planar case) velocities of the end effector will change. The ISOGlide type parallel structures have a diagonal jacobi matrix, as published <a href="https://www.researchgate.net/publication/226125804_Theoretical_and_Experimental_Research_on_the_Dynamics_of_a_4DOF_Isoglide_4-T3R1_Parallel_Robot" rel="nofollow noreferrer">here</a>. Portal or Cartesian type structures, like <a href="http://machinedesign.com/site-files/machinedesign.com/files/uploads/2013/09/121213-6-Cartesian-robot-supports.jpg" rel="nofollow noreferrer">this</a>,  also have a diagonal jacobi matrix. <a href="https://en.wikipedia.org/wiki/Delta_robot" rel="nofollow noreferrer">Delta robots</a>, <a href="https://en.wikipedia.org/wiki/Stewart_platform" rel="nofollow noreferrer">Stewart platfroms</a>, <a href="https://en.wikipedia.org/wiki/SCARA" rel="nofollow noreferrer">Scara robots</a> and 6 axis <a href="https://en.wikipedia.org/wiki/Programmable_Universal_Machine_for_Assembly" rel="nofollow noreferrer">puma robots</a> do not have a diagonal jacobi matrix. </p></li>
</ol>

<p>(By looking at the schematic you attached, and not doing the math, I am not convinced that the robot you described has a diagonal jacobi matrix)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11239" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11239">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11239">Load Comments</button></br>
			<div id = "commentsection-11239" class = 'collapse'>
			<div id = "comment-20318" class = "comment">
				<p>Thank you so much for the answer. In the case of number one I'm more interested in a solution with geometrical interpretation (Like the solution that one would find on "Geometric Fundamentals of Robotics" about the serial manipulator's velocity relation).</p>
			</div>
			<div id = "comment-20319" class = "comment">
				<p>and in the case of the robot depicted above, the Jacobian matrix J in fact is diagonal ... you can find the proof on page 407 of Angeles "Fundamental of Robotic Mechanical Systems".</p>
			</div>
			<div id = "comment-20320" class = "comment">
				<p>Which edition of the mentioned book?</p>
			</div>
			<div id = "comment-20321" class = "comment">
				<p>third edition if I'm not wrong</p>
			</div>
			<div id = "comment-20322" class = "comment">
				<p>OK, so the Jacobi matrix of the mechanism is broken into a diagonal matrix (J) and a row matrix (K).  At the end of the chapter this is further emphasized.  I would assume that this formalism can be applied for other parallel structures also. Other than singularity analysis, I do not see any advantages in this formalism.</p>
			</div>
			<div id = "comment-20323" class = "comment">
				<p>Well having the interpretation in an invariant language such as Lie groups would always be beneficial. Especially that I'm a math student who works in robotics and I'm always more interested in these interpretations.</p>
			</div>
			<div id = "comment-20328" class = "comment">
				<p>This is a rather subjective advantage...</p>
			</div>
			</div>
				<textarea id = "speech-11239" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11239">
					<img id="start_img-11239" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11239">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>