<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Velocity Control via Vibration
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3173" class = "post">
			<h2>Question</h2>
			<div id="vote-3173" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 80</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Velocity Control via Vibration</h2>
<p>I am working on a robot that has an accelerometer. This accelerometer measures the vibration of the robot. When the robot hits a certain vibration, I would like it to slow down in order to reduce the vibration. I thought about a PID controller, but I don't think it would work. Does anybody have some input on different types of controllers I can use? </p>

<ul>
<li>Mechaman</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-3173" data-toggle = "popover">
				<p>user name : mechaman</p>
				<p> user reputation : 22</p>
				<p class = "tagcontent" id = "usertaginfo-3173">{'control': 3, 'None': 0, 'accelerometer': 0, 'pid': 3, 'differential-drive': 3, 'sensors': 2, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3173">Load Comments</button></br>
			<div id = "commentsection-3173" class = 'collapse'>
			<div id = "comment-6704" class = "comment">
				<p>Are the vibrations indicative of a resonant frequency, or are they directly correlated to motor speed?</p>
			</div>
			<div id = "comment-6714" class = "comment">
				<p>The vibrations are indicative of a sort of 'resonant frequency' or rather damaging frequency of something being being held by the robot... and it cannot reach that frequency and damage the that something.</p>
			</div>
			<div id = "comment-6716" class = "comment">
				<p>Just to check my assumptions here, are you slowing down a free-spinning load that is vibrating due to being off balance, or is this robot more like a speeding car -- slowing down when the bumpiness of the road gets too intense?</p>
			</div>
			<div id = "comment-6722" class = "comment">
				<p>I am slowing down a speeding car when it notices that the terrain has just become too bumpy. So the latter!</p>
			</div>
			<div id = "comment-6727" class = "comment">
				<p>That changes things a bit... I put my reply into [answer form](http://robotics.stackexchange.com/a/3201/350).</p>
			</div>
			</div>
				<textarea id = "speech-3173" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3173">
					<img id="start_img-3173" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3173">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3174"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3174" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your main problem is that vibration isn't a well-defined measurement; what number do you assign to vibration? Peak accel value? Average accel value? And over what time range; peak value over the last 1s, 2s, 3s?</p>

<p>Once you've decided precisely what measurement you plan to use, then I would initially go ahead and try a PID. If it works then you're set. Beyond that, it's hard to say what will work well. Ideally, you would use a controller that minimizes energy (e.g. $\mathcal{H}_\infty$ control) but those are quite complex and take a lot of advances math to understand and create.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3174" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-3174">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3174">Load Comments</button></br>
			<div id = "commentsection-3174" class = 'collapse'>
			<div id = "comment-6690" class = "comment">
				<p>What we end up doing is taking the rms every 4 readings from the accelerometer. I considered PID, but if we have our set point of 'vibration' to be 0 then the vehicle will output a linear velocity that is 0. This is due to the case where no movement = no vibration and we don't want this to occur. What is this energy minimizer controller you speak of?</p>
			</div>
			<div id = "comment-6691" class = "comment">
				<p>Your controller is doing more than just reducing vibration, it is also tracking a reference signal. So your controller input is now some combination of position error and vibration measurement, e.g. $\hat{e} = (p-p^d) + \alpha q$ where $p$ is your postiion, $p^d$ is your desired position, and $q$ is your vibration measurement. $\alpha$ is a coefficient for you to tune.</p>
			</div>
			<div id = "comment-6694" class = "comment">
				<p>Can you describe the intuition behind including the position inside of my error equation? Perhaps a better description of my system is necessary:  I have a mathematical model for my robot and I am designing for the linear velocity and the angular velocity. These two variables translate into the right and left motor velocities of my differential drive robot.For the angular velocity, I used heading error with its own PID. And for the linear velocity I want it to be minimized depending on the vibration of the vehicle.</p>
			</div>
			<div id = "comment-6695" class = "comment">
				<p>This said, I don't see why I need to include position in my PID if I already have that handled. My robot can attain a position with the current setup given any velocity, but now I want to vary the velocity as to minimize it based on the vibrations of the robot. (Sorry had to split this up into 2 comments)</p>
			</div>
			<div id = "comment-6696" class = "comment">
				<p>Sorry, but I don't understand your description. Are you saying that your system input is linear/angular velocity and the output is linear/angular position? Please edit your original question to make this clear.</p>
			</div>
			</div>
				<textarea id = "speech-3174" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3174">
					<img id="start_img-3174" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3174">Comment</button>
			<br><div id = "ans-3201"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3201" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since you are attempting to slow down a car when the road gets too bumpy, a PID controller is not what you want.  Or rather, the bumpiness of the road will determine the <em>desired speed</em> that goes into the PID, instead of being part of the PID's sensor feedback loop.</p>

<p>You may want to look at <a href="http://en.wikipedia.org/wiki/Additive_increase/multiplicative_decrease" rel="nofollow">additive increase, multiplicative decrease</a> as a function to control your desired speed.  The basic idea would be:</p>

<pre><code>good = 1
bad = 1
while (true):
    if (bumpy_level_detected() &gt; bumpy_level_allowed):
        bad = bad + 1
    else:
        good = good + 1

    desired_speed = (good_speed_constant * good) / (bad_speed_constant ** bad)
</code></pre>

<p>In more mathematical notation: 
$$speed_{desired} = \frac{k_{good} * g}{({k_{bad}})^b} $$
Where $g$ represents the number of iterations where the bump sensor was within limits, $b$ represents the number of iterations where the bump sensor was over the limit, $k_{good}$ controls how quickly the car ramps up its speed when the road is smooth, and $k_{bad}$ controls how quickly the car slows down when the road is bumpy.</p>

<p>(The above is just for explanatory purposes; in practice, rather than keeping $g$ and $b$ in memory and causing an overflow as they increase, you'd just apply the $k_{good}$ > 0 and $k_{bad} &gt; 1$ constants to the running total as appropriate.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3201" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-3201">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3201">Load Comments</button></br>
			<div id = "commentsection-3201" class = 'collapse'>
			<div id = "comment-6732" class = "comment">
				<p>This looks great. Thank you Ian :)</p>
			</div>
			<div id = "comment-6872" class = "comment">
				<p>After thinking about this problem and getting distracted from this problem, I've came to realize that although this control scheme is good for packets... Robots or rather objects with mass and dynamic properties won't work so well. Have you seen a successful account of this control scheme for a robot?</p>
			</div>
			<div id = "comment-6877" class = "comment">
				<p>I don't know of any robots that use this control scheme.  That said, it's the simplest algorithm I know of that provides adaptability to a channel of randomly-changing capacity (in the network case, the congestion level; in your case, the bumpiness that causes the vibration).  A more rigorous approach would be to model the bumps as a [stochastic process](http://en.wikipedia.org/wiki/Stochastic#Manufacturing).  Why don't you think the AIMD approach I outlined above would work for an object with dynamic mass?</p>
			</div>
			</div>
				<textarea id = "speech-3201" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3201">
					<img id="start_img-3201" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3201">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>