<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Velocity derivatives using Quaternions
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4542" class = "post">
			<h2>Question</h2>
			<div id="vote-4542" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 87</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Velocity derivatives using Quaternions</h2>
<p>How to compute the angular and linear velocities Quaternions? I am new to this area and although I have studied the algebra I am unable to understand how to compute the velocities.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4542" data-toggle = "popover">
				<p>user name : user3563283</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-4542">{'None': 0, 'kinematics': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4542">Load Comments</button></br>
			<div id = "commentsection-4542" class = 'collapse'>
			<div id = "comment-7156" class = "comment">
				<p>Could you be more precise here, what exactly you want? E.g. you have two quaternions, and you want to get the rotation between them?</p>
			</div>
			<div id = "comment-18420" class = "comment">
				<p>If they open again, I will try to answer your queston.</p>
			</div>
			</div>
				<textarea id = "speech-4542" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4542">
					<img id="start_img-4542" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4542">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4985"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4985" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The best way is of course to get yourself familiar with geometric algebra first. </p>

<pre><code>Lounesto, Pertti. Clifford algebras and spinors. Vol. 286. Cambridge university press, 2001.
</code></pre>

<p>After that, everything can be derived by yourself. But I guess most people here only like quick and dirty approaches. Use this book instead:</p>

<pre><code>Kuipers, Jack B. Quaternions and rotation sequences. Vol. 66. Princeton: Princeton university press, 1999.
</code></pre>

<p>straightly answers your question.</p>

<p>If you want to have more geometric sense of the algebra manipulations, John McCarthy's couldn't have done it better.</p>

<pre><code>McCarthy, J. Michael. Introduction to theoretical kinematics. MIT press, 1990.
McCarthy, J. Michael, and Gim Song Soh. Geometric design of linkages. Vol. 11. Springer, 2010.
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4985" data-toggle = "popover">
				<p>user name : Troy Woo</p>
				<p> user reputation : 306</p>
				<p class = "tagcontent" id = "usertaginfo-4985">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4985" class = 'collapse'>
			</div>
				<textarea id = "speech-4985" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4985">
					<img id="start_img-4985" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4985">Comment</button>
			<br><div id = "ans-5032"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5032" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When I studied the relationship between the rotation matrix and quaternion, I have found a literature, here is <a href="http://www.euclideanspace.com/physics/kinematics/angularvelocity/QuaternionDifferentiation2.pdf" rel="nofollow">the link</a>. I think it will instruct you how to compute the velocity derivatives using quaternions.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5032" data-toggle = "popover">
				<p>user name : Saking</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-5032">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5032">Load Comments</button></br>
			<div id = "commentsection-5032" class = 'collapse'>
			<div id = "comment-7786" class = "comment">
				<p>+1 for http://www.euclideanspace.com/physics/kinematics/angularvelocity/.  That site is huge and great for all kinds of math stuff.</p>
			</div>
			</div>
				<textarea id = "speech-5032" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5032">
					<img id="start_img-5032" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5032">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>