<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Very low output voltage at the output of L298n?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8356" class = "post">
			<h2>Question</h2>
			<div id="vote-8356" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 266</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Very low output voltage at the output of L298n?</h2>
<p>I am using arduino and L298n motor driving IC to drive 4 12V dc motors (150rpm).
Also I am using 11.1V LiPo battery (3cell, 3300 mAh, 20C).I have connected two PWM pins of L298n to digital HIGH from arduino.Battery positive terminal is connected to the 12V input of IC.Battey negative terminal and<a href="https://i.stack.imgur.com/efuZt.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/efuZt.png" alt="enter image description here"></a> arduino ground is connected to the ground input of IC.Also a 5V input is given from arduino to IC and ground from arduino is connected to other gnd pin which is adjacent to INT3 pin.Motor1 pins from L298n are connected with two motors (connected parallely on right side of bot) and Motor2 pins are connected with other two motors (connected parallely on left side of bot).Appropriate inputs are given to INT1,INT2,INT3,INT4 to drive the bot in forward direction.<strong>But the bot is moving too slowly</strong>.The voltage measured across motor1 pins is only 5V.I have connected the battery directly to the motors,then it is running very fast.<strong>How to run it fast</strong>.Please help.....</p>

<p><a href="https://i.stack.imgur.com/1HtwM.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/1HtwM.png" alt=""></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8356" data-toggle = "popover">
				<p>user name : user10945</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8356">{'None': 0, 'motor': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8356">Load Comments</button></br>
			<div id = "commentsection-8356" class = 'collapse'>
			<div id = "comment-13427" class = "comment">
				<p>What's the battery state of charge? Is the battery voltage 5V when you measure motor terminal voltage to be 5V? Can you provide a schematic? How are you running four motors with a chip that only has two outputs? What is your drive cycle? (How heavy is the vehicle, what incline, what tires, terrain, etc.)</p>
			</div>
			</div>
				<textarea id = "speech-8356" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8356">
					<img id="start_img-8356" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8356">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8358"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8358" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Try to digitalwrite a high on your pwm pins, i.e.</p>

<pre><code>digitalWrite(pwmpin1, HIGH);

digitalWrite(pwmpin2, HIGH);
</code></pre>

<p>Otherwise, run your motors from an external power supply as they may be requiring a lot of current to run. 
Hope this helps :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8358" data-toggle = "popover">
				<p>user name : Forrest4096</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-8358">{'None': 1, 'rcservo': 4, 'arduino': 4, 'torque': 4, 'robotic-arm': 4, 'stepper-motor': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8358" class = 'collapse'>
			</div>
				<textarea id = "speech-8358" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8358">
					<img id="start_img-8358" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8358">Comment</button>
			<br><div id = "ans-8359"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8359" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>"connected parallely on right side of bot"</p>
</blockquote>

<p>Watch out for this - running two motors in parallel from one motor output doesn't always work as you would expect.  If you try the circuit with just one motor connected for each side of the vehicle, does it work better?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8359" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-8359">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8359" class = 'collapse'>
			</div>
				<textarea id = "speech-8359" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8359">
					<img id="start_img-8359" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8359">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>