<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Vex motors and tank treads drained 9-volt battery more quickly than expected
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-602" class = "post">
			<h2>Question</h2>
			<div id="vote-602" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 417</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Vex motors and tank treads drained 9-volt battery more quickly than expected</h2>
<p>I've got a couple <a href="http://www.vexrobotics.com/276-2181.html" rel="nofollow">Vex 269 Motors</a> hooked up to an <a href="http://www.arduino.cc/en/Main/ArduinoBoardDuemilanove" rel="nofollow">Arduino Duemilanove</a>. These motors run a some <a href="http://www.vexrobotics.com/276-2168.html" rel="nofollow">Vex Tank Treads</a>. I powered the whole setup with an off-brand 9-volt battery. Everything seems to run great, except that it is only able to run for about 30 seconds worth of motor movement. Then the battery quickly isn't able to pump out the energy needed to move the treads and the whole thing quickly slows to being unusable.</p>

<p>What's my problem here? The tank treads seem loose enough that I don't think they're so restricting the motor has to pump out too much energy to move them. There's nothing else being powered except the Arduino and the motors. Is it because this Enercell 9-volt (alkaline) is just a terrible battery choice? Should I only expect that long of battery life for this robot on a 9-volt? Or is there something else I'm missing? Thank you much!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-602" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-602">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-602" class = 'collapse'>
			</div>
				<textarea id = "speech-602" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-602">
					<img id="start_img-602" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-602">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-605"  class = "post">
				<h2>Answer</h2>
			<div id="vote-605" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like your motors can draw up to 2.5A each; there's no way a 9-volt alkaline can sustain that current (plus the other on-board electronics) for any length of time.  </p>

<p>You'll need to pick a more appropriate battery for this robot.  Have a look at the discharge curves for several batteries, and pick one that fits the current draw and desired operating time for your robot.  Here's an example of what a discharge curve for several 9V batteries looks like:</p>

<p><img src="https://www.powerstream.com/z/9v-100ma-discharge-tests.png" alt="Discharge curve"></p>

<p>mAH is Milliamp-hours: how many hours the battery will supply a given amount of current -- a way of measuring capacity.  </p>

<p>The other factor is how much current you draw:</p>

<p><a href="http://www.rctoys.com/pr/pr-images/tp-extreme-5000-discharge-curve-graph.gif" rel="nofollow noreferrer">Discharge curve http://www.rctoys.com/pr/pr-images/tp-extreme-5000-discharge-curve-graph.gif</a></p>

<p>The different curves indicate different loads for the battery.  <strong>There is a maximum load for every battery, and you should not exceed it</strong>; best case, you get poor performance, worst case you get a fire or explosion.  In this graph, you can see that the 125A load causes a severe drop in voltage.  That's the same effect you're seeing -- a severe drop in performance caused by overloading the battery. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-605" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-605">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-605">Load Comments</button></br>
			<div id = "commentsection-605" class = 'collapse'>
			<div id = "comment-687" class = "comment">
				<p>For development purposes, you could also replace the battery with some manner of benchtop power supply and a reasonably long pair of wires.</p>
			</div>
			<div id = "comment-745" class = "comment">
				<p>that is a good point. Make sure you use a wire with a large enough diameter, though.</p>
			</div>
			</div>
				<textarea id = "speech-605" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-605">
					<img id="start_img-605" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-605">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>