<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>view angle of distance sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10392" class = "post">
			<h2>Question</h2>
			<div id="vote-10392" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 72</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>view angle of distance sensor</h2>
<p>I need a distance sensor (IR or Optical or any other) with 90 degree view angle to sense a rectangle surface.
in this case sensor must putting at the same level of surface area. please help me to solve this.</p>

<p><a href="https://i.stack.imgur.com/AiWo0.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/AiWo0.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10392" data-toggle = "popover">
				<p>user name : Nohome Mordad</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10392">{'mobile-robot': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10392">Load Comments</button></br>
			<div id = "commentsection-10392" class = 'collapse'>
			<div id = "comment-18669" class = "comment">
				<p>Please can you provide more information on what you want, a better diagram would probably help since I have no idea what you are asking. Also what information do you want the sensor to give back? A list of distances at angles? Or just one distance? What kind of surface? Is it for outdoor use?</p>
			</div>
			</div>
				<textarea id = "speech-10392" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10392">
					<img id="start_img-10392" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10392">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10401"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10401" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can think of two approaches to your problem.</p>

<ol>
<li><p>Use a stereo camera pair. You can use a stereo camera pair utilizing a camera with a 90 degree field of view while setting the appropriate baseline to the range of or minimum distance from the from the two cameras which the rectangle needs to be detected. It fairly easy to implement. You can find many sources online. It can also be implemented on common SBC's such as the Raspberry Pi.
See here:<a href="https://robotics.stackexchange.com/a/9645/11311">Example Implementations using the Raspberry Pi</a> I am currently able to get 6 fps for my purposes for the previous 2 fps.</p></li>
<li><p>Use a LIDAR sensor with the appropriate field of view. A colleague of mine working with our lab's automated vehicle utilized the LIDAR Lite sensor (lowest cost LIDAR sensor I think while also designing a sweep mechanism using a cheap motor) to get a 1-dimensional 360 degree sweep of his surroundings and characterize the objects through clustering if they are a pole, a wall or a car. I think you can do a similar approach but in 3D. See this for reference: <a href="https://www.kickstarter.com/projects/scanse/sweep-scanning-lidar/description" rel="nofollow noreferrer">https://www.kickstarter.com/projects/scanse/sweep-scanning-lidar/description</a>. It also uses the Lidar Lite but the second version.</p></li>
<li><p>There are many more approaches to the problem like using an ultrasonic or IR sensor matrix, but I think the 2 above are the most effective and easiest approach however not necessarily the lower cost option.</p></li>
</ol>

<p>I hope it helps :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10401" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-10401">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10401" class = 'collapse'>
			</div>
				<textarea id = "speech-10401" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10401">
					<img id="start_img-10401" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10401">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>