<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Vision-based Position Estimation for a quadrotor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9327" class = "post">
			<h2>Question</h2>
			<div id="vote-9327" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 108</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Vision-based Position Estimation for a quadrotor</h2>
<p>As a subtask inside a main project I need to compute the position (x,y,z) of a quadrotor using an homography. </p>

<p>To do this I will use a camera (attached to the quadrotor) pointing down to an artificial landmark on the floor. Basically I need to compute the extrinsic parameters of the camera to know the pose with respect to the landmark. I know the projective points of the landmark in the camera, and the intrinsic matrix of the camera but I also need the real landmark position [X, Y, Z].</p>

<p>I suppose that Z coordinate is equal to 0 because the landmark is plane, but I am not sure how to compute the real [X,Y] coordinates.</p>

<p>Any idea how to do that?</p>

<p>I am also interested in put the (x,y,z) position of the quadrotor into a control path, anybody knows where I can find info about the most common controllers for do this kind of task?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9327" data-toggle = "popover">
				<p>user name : osuarez</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-9327">{'control': 5, 'stereo-vision': 2, 'beginner': 3, 'pid': 3, 'uav': 5, 'slam': 3, 'robotic-arm': 0, 'mobile-robot': 7, 'forward-kinematics': 0, 'cameras': 2, 'kinect': 0, 'visual-servoing': 2, 'matlab': 1, 'motion-planning': 4, 'movement': 1, 'odometry': 1, 'None': 2, 'inverse-kinematics': 0, 'raspberry-pi': 7, '3d-reconstruction': 2, 'quadcopter': 9, 'computer-vision': 6, 'geometry': 3, 'c++': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9327">Load Comments</button></br>
			<div id = "commentsection-9327" class = 'collapse'>
			<div id = "comment-16541" class = "comment">
				<p>This is an interesting paper with single camera:

http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4636756&tag=1</p>
			</div>
			</div>
				<textarea id = "speech-9327" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9327">
					<img id="start_img-9327" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9327">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9330"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9330" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's odd that you're suggesting computing the position of a landmark.  Literally, a mark on the land -- a position that you should already know and will use to localize your vehicle.  You can give it whatever arbitrary location you want.</p>

<p>If you have only one landmark, the most logical choice for it is [0, 0, 0].  Or, you could determine the X,Y coordinates that match the landmark's location within the room.  As long as all the fixed-position objects are assigned coordinates from the same grid, it doesn't matter what they are.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9330" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9330">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9330" class = 'collapse'>
			</div>
				<textarea id = "speech-9330" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9330">
					<img id="start_img-9330" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9330">Comment</button>
			<br><div id = "ans-9332"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9332" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Because a camera is a range-only sensor, you cannot directly estimate the relative position of the object.
Additionally, because you have only one object, there are infinite solutions that are equally possible, given only the angular camera measurements.</p>

<p>Possible solutions:</p>

<p>If you have two images with a known relative position between the two, then you can use single-camera stereo vision to estimate the relative position between the quadrotor and the object.</p>

<p>Another solution is to use range-bearing SLAM and set very high initial range uncertainty, and range observation noise[1][2]. You can estimate the observed range using trigonometry with a level-body assumption and altimeter readings, this will be really inaccurate but SLAM should significantly improve the estimate.</p>

<p>Finally, if you can simply add more objects that you can uniquely identify and know the relative positions of them, then you can use OpenCV solvePnP (see similar question [3]).</p>

<p>[1] <a href="http://www.iri.upc.edu/people/jsola/JoanSola/eng/toolbox.html" rel="nofollow noreferrer">http://www.iri.upc.edu/people/jsola/JoanSola/eng/toolbox.html</a></p>

<p>[2] <a href="http://www.mrpt.org/List_of_SLAM_algorithms" rel="nofollow noreferrer">http://www.mrpt.org/List_of_SLAM_algorithms</a></p>

<p>[3] <a href="https://robotics.stackexchange.com/questions/8849/tracking-objects-from-camera-pid-controlling-parrot-ar-drone-2">Tracking objects from camera; PID controlling; Parrot AR Drone 2</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9332" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-9332">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9332">Load Comments</button></br>
			<div id = "commentsection-9332" class = 'collapse'>
			<div id = "comment-16575" class = "comment">
				<p>What do you mean by, "you cannot directly estimate the relative position of the object"? I would've thought cameras are very precise in that regard.</p>
			</div>
			<div id = "comment-16576" class = "comment">
				<p>You can observe the angle of the object from the camera, but not the depth. The object could lie at any point along the line that starts at the camera focal point and passes through the object's centroid on the image plane.</p>
			</div>
			<div id = "comment-16577" class = "comment">
				<p>Except when you already know the dimensions of your landmark. Cameras make excellent surveying equipment as long as there are some known dimensions within the image. A little trig goes a long way. If you know how wide it is, for example, you can figure out how far away it is to quite a degree of accuracy.</p>
			</div>
			<div id = "comment-16578" class = "comment">
				<p>What you are referring to is an instance of the "Perspective-n-Point" (PnP) problem.</p>
			</div>
			</div>
				<textarea id = "speech-9332" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9332">
					<img id="start_img-9332" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9332">Comment</button>
			<br><div id = "ans-9333"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9333" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are able to design the artificial landmark yourself, you can use what some past colleagues of mine used in the context of camera space manipulation.   They designed their targets, like your landmark, as concentric high-contrast circles or ellipses.  With those targets they could extract distance information (measured versus expected diameters), as well as relative position between the camera and the center of the target.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9333" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9333">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9333" class = 'collapse'>
			</div>
				<textarea id = "speech-9333" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9333">
					<img id="start_img-9333" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9333">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>