<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Visualizing kinect data on rviz
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2173" class = "post">
			<h2>Question</h2>
			<div id="vote-2173" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2285</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Visualizing kinect data on rviz</h2>
<p>I am a beginner of ROS, Kinect and Ubuntu. What I want is to visualize Kinect's data on rviz environment then run object recognition on it.</p>

<p>I've tried a few tutorials but had no luck. All I got was an empty rviz world.</p>

<p>Since I am a beginner I would appreciate any step-by-step instructions (preferably for hydro or groovy).</p>

<p>I would also like to note that I've managed to get visual from Kinect so the device is working fine.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2173" data-toggle = "popover">
				<p>user name : SpiderRico</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-2173">{'kinect': 3, 'None': 0, 'ros': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2173">Load Comments</button></br>
			<div id = "commentsection-2173" class = 'collapse'>
			<div id = "comment-4549" class = "comment">
				<p>For ROS-related questions, [its QA forum](http://answers.ros.org/) is the best place to ask question like this.</p>
			</div>
			<div id = "comment-4550" class = "comment">
				<p>@IsaacS While I appreciate that you are trying to help user2433 get his/her question answered, this sort of suggestion isn't terribly useful here and at best it should be a comment. It certainly shouldn't be an answer unless you can provide a link to a QA forum thread which already answers the question. Even then you should provide enough context such that link rot couldn't render the answer invalid.</p>
			</div>
			<div id = "comment-5215" class = "comment">
				<p>the problem is, Rviz works with a time vector besides the image stream that it is receiving. If you are just plugged the kinect to rviz it is normal that it doesn't show anything.</p>
			</div>
			</div>
				<textarea id = "speech-2173" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2173">
					<img id="start_img-2173" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2173">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2824"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2824" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can  install the a package for kinect:</p>

<pre><code>sudo apt-get install ros-hydro-openni-launch
</code></pre>

<p>Then to make the package publish kinect's topics:</p>

<pre><code>roslaunch openni_launch openni.launch  
</code></pre>

<p>To visualize the depth image run:</p>

<pre><code>rosrun image_view image_view image:=/camera/depth/image
</code></pre>

<p>To visualize for example the Point Cloud in rviz you can add a PointCloud2 Display ad choose the appropriate topic. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2824" data-toggle = "popover">
				<p>user name : NKN</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-2824">{'None': 0, 'ros': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2824" class = 'collapse'>
			</div>
				<textarea id = "speech-2824" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2824">
					<img id="start_img-2824" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2824">Comment</button>
			<br><div id = "ans-3005"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3005" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>ROS Indigo Igloo will be coming out in a week or 2. Will be the first release in a year (they used to have 6 month release cycle, it has been a long wait). It moves at such a fast pace, so it may be worth waiting until it comes out so you don't have to set up your environment/re-learn new stuff again.</p>

<p>I would recommend you start with MoveIt, even if you already have Hydro or Groovy set up:
<a href="http://moveit.ros.org/documentation/tutorials/" rel="nofollow">http://moveit.ros.org/documentation/tutorials/</a></p>

<p>With this tutorial first:
<a href="http://docs.ros.org/hydro/api/moveit_setup_assistant/html/doc/tutorial.html" rel="nofollow">http://docs.ros.org/hydro/api/moveit_setup_assistant/html/doc/tutorial.html</a></p>

<p>Then move onto the integrating the Kinect:
<a href="http://docs.ros.org/api/pr2_moveit_tutorials/html/planning/src/doc/perception_configuration.html" rel="nofollow">http://docs.ros.org/api/pr2_moveit_tutorials/html/planning/src/doc/perception_configuration.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3005" data-toggle = "popover">
				<p>user name : Pikey</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-3005">{'None': 4, 'lidar': 0, 'kinect': 0, 'slam': 0, 'mobile-robot': 0, 'ros': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3005" class = 'collapse'>
			</div>
				<textarea id = "speech-3005" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3005">
					<img id="start_img-3005" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3005">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>