<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Visual Bug in "Not the answer you're looking for [...]" text.
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-327" class = "post">
			<h2>Question</h2>
			<div id="vote-327" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 166</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Visual Bug in "Not the answer you're looking for [...]" text.</h2>
<p>When viewing a question with an answer, the "Not the answer you're looking for [...]" text is pushed right of the answer box, and not located entirely underneath.</p>

<p>Here on ASE:<br>
<img src="https://i.stack.imgur.com/ZYdpR.png" alt="ASE Answer Box"></p>

<p>Over on SuperUser:<br>
<img src="https://i.stack.imgur.com/oCNBH.png" alt="Answer box on SU"></p>

<p>I'm using Chrome 8 on Mac.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-327" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-327">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-327">Load Comments</button></br>
			<div id = "commentsection-327" class = 'collapse'>
			<div id = "comment-704" class = "comment">
				<p>have you done a hard refresh? this has been fixed already. see my comment below.</p>
			</div>
			<div id = "comment-712" class = "comment">
				<p>Yes, I guess I should have reverted my change when I had. Sorry.</p>
			</div>
			</div>
				<textarea id = "speech-327" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-327">
					<img id="start_img-327" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-327">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-328"  class = "post">
				<h2>Answer</h2>
			<div id="vote-328" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This has been fixed. please refresh.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-328" data-toggle = "popover">
				<p>user name : Jin</p>
				<p> user reputation : 200</p>
				<p class = "tagcontent" id = "usertaginfo-328">{'None': 87, 'design': 107, 'discussion': 89}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-328">Load Comments</button></br>
			<div id = "commentsection-328" class = 'collapse'>
			<div id = "comment-701" class = "comment">
				<p>I just bumped the original ticket with another issue I see occasionally. If you would rather me write it up as a new issue, feel free to let me know + rollback the edit.</p>
			</div>
			<div id = "comment-702" class = "comment">
				<p>@VxJasonxV you may have to do a hard refresh. that problem has been fixed. make sure you load the latest image sprite at: http://sstatic.net/apple/img/sprites.png</p>
			</div>
			</div>
				<textarea id = "speech-328" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-328">
					<img id="start_img-328" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-328">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>