<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Visual Odometry options?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-433" class = "post">
			<h2>Question</h2>
			<div id="vote-433" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 749</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Visual Odometry options?</h2>
<p>What are the pros/cons of the different <a href="http://en.wikipedia.org/wiki/Visual_odometry" rel="nofollow">visual</a> <a href="http://en.wikipedia.org/wiki/Odometry" rel="nofollow">odometry</a> options? </p>

<ul>
<li>Stereo Camera</li>
<li>Optical Flow</li>
<li><a href="http://en.wikipedia.org/wiki/Simultaneous_localization_and_mapping" rel="nofollow">SLAM</a></li>
<li>other?</li>
</ul>

<p>Criteria:</p>

<ul>
<li>how well it performs vs other odometry options/sensors (lidar, radar)</li>
<li>sensor fidelity</li>
<li>computation</li>
<li>accuracy</li>
<li>precision</li>
<li>drift</li>
<li>native resilience and repeadability in sensor noise or vehicle speed</li>
<li>ease of integrating with <a href="http://en.wikipedia.org/wiki/Inertial_measurement_unit" rel="nofollow">IMU</a>/GPS</li>
<li>etc</li>
</ul>

<p>In general, of course, because there are a lot of different ways the trade-offs go when we get into specifics about applications and hardware.  I'm asking out of curiosity, not for designing anything in particular.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-433" data-toggle = "popover">
				<p>user name : Eruditass</p>
				<p> user reputation : 134</p>
				<p class = "tagcontent" id = "usertaginfo-433">{'mobile-robot': 6, 'None': 0, 'computer-vision': 6, 'odometry': 6, 'localization': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-433">Load Comments</button></br>
			<div id = "commentsection-433" class = 'collapse'>
			<div id = "comment-487" class = "comment">
				<p>This is more of a discussion than a question.  You seem to have an idea of what techniques are available, but everything else here is subjective.  Is there a specific aspect of visual odometry that you are looking for help with, or a specific comparison that you'd like to make?</p>
			</div>
			<div id = "comment-2578" class = "comment">
				<p>Nowadays, questions can be archived as wiki entries. This, provided good solid answers, would be a great wiki entry. I think it should stay open and receive good attention.</p>
			</div>
			<div id = "comment-2953" class = "comment">
				<p>Sorry Eruditass but on stack exchange, we prefer [practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/faq#dontask). For hints on how to write better questions, check out the [about] and [ask] pages.</p>
			</div>
			<div id = "comment-3108" class = "comment">
				<p>@MarkBooth, due to the open ended nature of the question, as per Josh's request, I was simply asking for it to become a community wiki, as I am sure others who go through the initial engineering process of selecting how to localize a robot may find it useful.</p>
			</div>
			<div id = "comment-3109" class = "comment">
				<p>Community wiki is now [pretty much deprecated](http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/) on stack exchange. The recommendation is that either a question is good, on-topic, constructive and a good fit, in which case it stays open, or it isn't and it is closed. Essentially the community wiki *patch* is no longer needed now that we have suggested edits. More often than not it was used to stop people gaming the system getting rep while keeping a non-constructive question open. If you want to discuss this further, feel free to come over to [meta] and ask a question there.</p>
			</div>
			</div>
				<textarea id = "speech-433" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-433">
					<img id="start_img-433" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-433">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-437"  class = "post">
				<h2>Answer</h2>
			<div id="vote-437" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not familiar with all visual odometry options, but you might find the following two articles that recently appeared in the IEEE Robotics and Automation Magazine relevant:</p>

<p>Scaramuzza, D., Fraundorfer, F., <strong>Visual Odometry: Part I - The First 30 Years and Fundamentals</strong>, IEEE Robotics and Automation Magazine, Volume 18, issue 4, 2011.</p>

<p>Fraundorfer, F., Scaramuzza, D., <strong>Visual Odometry: Part II - Matching, Robustness, and Applications</strong>, IEEE Robotics and Automation Magazine, Volume 19, issue 2, 2012.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-437" data-toggle = "popover">
				<p>user name : fgb</p>
				<p> user reputation : 374</p>
				<p class = "tagcontent" id = "usertaginfo-437">{'None': 22}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-437" class = 'collapse'>
			</div>
				<textarea id = "speech-437" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-437">
					<img id="start_img-437" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-437">Comment</button>
			<br><div id = "ans-440"  class = "post">
				<h2>Answer</h2>
			<div id="vote-440" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, visual odometry is a method that performs odometric measurements using visual means. This rules out the SLAM component, since visual odometry is only a relative means of navigation (see my answer on <a href="https://robotics.stackexchange.com/a/207/127">navigation</a>). There are a number of methods to extract the relative motion of the camera. Since the transform from camera to robot is known this will also give you the relative transform of your robot.</p>

<ul>
<li><p>If you only work with a single camera, you will always have a scale ambiguity, unless you have something to resolve that ambiguity in your image (e.g. object of known size) or combine it with another form of odometry like wheel odometry.</p></li>
<li><p>From a vision point of you, there are two ways you can follow: dense and sparse processing. Dense processing means, you use a regular sampling of your image points for your processing (could also be the full image). Sparse processing would mean, that you first extract feature points and only perform your operations on these features. </p></li>
<li><p>Using optical flow for visual odometry, I would consider a dense approach. Once you got the flow field, you need to extract the motion components. This is not so trivial, as it largely depends on how your environment looks. There was an interesting way of resolving this in the presence of outliers presented in "Monocular Heading Estimation in Non-Stationary Urban Environment"</p></li>
<li><p>Sparse approaches will use features, which are extracted using feature detectors. Then there are two different methods on handling the features. First approach will perform tracking of the feature and in this way estimate where the scene point was moving to. Second approach performs association of features through feature descriptors. First one is usually used with fast algorithms on high frequency, while the second one is more robust to larger scene changes and hence can be run at lower frequency. The visual odometry on the MER Rovers works this way e.g. Some form of geometric constraint is used to remove outliers, usually with a form of RANSAC. There is quite a nice library called <a href="http://www.cvlibs.net/software/libviso2.html" rel="nofollow noreferrer">libviso2</a> for performing visual odometry this way.</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-440" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-440">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-440" class = 'collapse'>
			</div>
				<textarea id = "speech-440" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-440">
					<img id="start_img-440" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-440">Comment</button>
			<br><div id = "ans-1105"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1105" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have a look at <a href="http://www.cvlibs.net/datasets/kitti/eval_odometry.php" rel="nofollow">KITTI Visual Odometry Benchmark/Evaluation</a>. Its a recent and nice evaluation of different stereo visual odometry algorithms on some large outdoor urban scenes. They compare it against ground truth (GPS). </p>

<p>I would say Visual Odometry are quite accurate and elegant perception systems. And its much better option than the IMU/GPS alone (even the high end ones).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1105" data-toggle = "popover">
				<p>user name : iNFINITEi</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-1105">{'None': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1105" class = 'collapse'>
			</div>
				<textarea id = "speech-1105" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1105">
					<img id="start_img-1105" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1105">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>