<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Voice control solution for Linux robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2988" class = "post">
			<h2>Question</h2>
			<div id="vote-2988" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 214</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Voice control solution for Linux robot?</h2>
<p>I wanted to present a voice-controlled robot in my lab's upcoming demo contest. My robot is essentially a x86 Ubuntu notebook resting on top of a two-wheeled platform, so in principle any solution available on Linux would do.</p>

<p>I looked into <a href="http://julius.sourceforge.jp/en_index.php" rel="nofollow">Julius</a>, but it seems the only comprehensive acoustic model available for it is aimed at the Japanese language   which coincidentally I <em>can</em> speak a little, but apparently not clearly enough to produce anything beyond garbled text. I also tried the <a href="https://gist.github.com/alotaiba/1730160" rel="nofollow">Google Speech API</a>, which has a decent selection of languages and worked very well, but requires Internet access. Finally there is <a href="http://cmusphinx.sourceforge.net/" rel="nofollow">CMU Sphinx</a>, which I haven't yet tested, but I'm afraid might have a problem with my accent (I'm a nativa Brazilian Portuguese speaker, and apparently there is no such acoustic model available for it).</p>

<p>Is that all there is to it? Have I missed any additional options? As you may have guessed, my main requirement is support for my native language (Brazilian Portuguese), or failing that, good performance for English spoken with foreign accents. A C++ API is highly desirable, but I can do with a shell interface.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2988" data-toggle = "popover">
				<p>user name : xperroni</p>
				<p> user reputation : 386</p>
				<p class = "tagcontent" id = "usertaginfo-2988">{'None': 19, 'inverse-kinematics': 3, 'algorithm': 2, 'speech-processing': 2, 'rangefinder': 2, 'linux': 3, 'mobile-robot': 8, 'sensors': 2, 'digital-audio': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2988" class = 'collapse'>
			</div>
				<textarea id = "speech-2988" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2988">
					<img id="start_img-2988" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2988">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2992"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2992" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, if no connection with internet is a requirement, I would say that the best option could be using Julius with a self trained corpus model. In this case you can use your own language and intonation. As an advantage, the success percentage of the ASR unit will be higher than using a public trained corpus. As a disadvantage, this corpus will be useful just for you, for other users the percentage of recognized commands will be lower.</p>

<p>With your own corpus, using a limited number of voice commands would be something relatively easy to do, but of course if we are speaking about natural language recognition, the only solution is looking in internet for an already trained corpus of your own language.</p>

<p>I used Simon <a href="http://www.simon-listens.org" rel="nofollow">http://www.simon-listens.org</a> to prepare my own corpus, and once was correctly working, I integrate it in the Julius Engine.</p>

<p>If using a remote service, as you said the Google API, could be possible, then a combination of Julius + Google API would be the best solution.
Julius continuously running the ASR process looking for a keyword (already integrated in your corpus), and once this keyword is found, trigger a request to the Google service that is not limited for the number of commands to be recognized.</p>

<p>One year ago I created a similar project using Julius, Google API and the Raspberry Pi board. Here can you find further infos: <a href="http://www.robotergarten.de" rel="nofollow">http://www.robotergarten.de</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2992" data-toggle = "popover">
				<p>user name : robotergarten</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-2992">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2992">Load Comments</button></br>
			<div id = "commentsection-2992" class = 'collapse'>
			<div id = "comment-5503" class = "comment">
				<p>I didn't know you could use Simon to collect a custom corpus to Julius. I'll look into it later, but since the Internet access requirement insn't really a problem, for now I'll go with Google Speech.</p>
			</div>
			</div>
				<textarea id = "speech-2992" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2992">
					<img id="start_img-2992" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2992">Comment</button>
			<br><div id = "ans-2996"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2996" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://robotics.stackexchange.com/users/4461/robotergarten">robotergarten</a> gave some really interesting tips, but in the end I decided to roll <a href="https://github.com/xperroni/Clarus/blob/master/Sources/clarus/io/speech.cpp" rel="nofollow noreferrer">my own Google Speech client</a>, using <a href="http://sox.sourceforge.net/" rel="nofollow noreferrer">sox</a> to record the user's voice. The ability to work without an Internet connection would be nice but is not really required for my demo, and response time is short enough.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2996" data-toggle = "popover">
				<p>user name : xperroni</p>
				<p> user reputation : 386</p>
				<p class = "tagcontent" id = "usertaginfo-2996">{'None': 19, 'inverse-kinematics': 3, 'algorithm': 2, 'speech-processing': 2, 'rangefinder': 2, 'linux': 3, 'mobile-robot': 8, 'sensors': 2, 'digital-audio': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2996" class = 'collapse'>
			</div>
				<textarea id = "speech-2996" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2996">
					<img id="start_img-2996" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2996">Comment</button>
			<br><div id = "ans-2997"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2997" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Also for completeness, I did find a <a href="http://www.laps.ufpa.br/falabrasil/downloads.php" rel="nofollow">Julius model for Brazilian Portuguese</a>, but was rather underwhelmed with its performance   Julius would take several seconds to process any utterance, and usually get what I said hilariously wrong. A <a href="https://acassis.wordpress.com/2012/11/09/compilando-o-reconhecedor-de-voz-julius-para-funcionar-com-o-coruja/" rel="nofollow">second model</a> that promised improved performance for dictation would require me to recompile Julius in order to work, but at that point I had already resigned myself to relying on the Google cloud.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2997" data-toggle = "popover">
				<p>user name : xperroni</p>
				<p> user reputation : 386</p>
				<p class = "tagcontent" id = "usertaginfo-2997">{'None': 19, 'inverse-kinematics': 3, 'algorithm': 2, 'speech-processing': 2, 'rangefinder': 2, 'linux': 3, 'mobile-robot': 8, 'sensors': 2, 'digital-audio': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2997" class = 'collapse'>
			</div>
				<textarea id = "speech-2997" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2997">
					<img id="start_img-2997" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2997">Comment</button>
			<br><div id = "ans-3008"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3008" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>a couple of years ago I tried Julius and it worked quite well. It is documented here, hope it helps:
<a href="http://achuwilson.wordpress.com/2012/01/11/speech-recogition-using-julius-in-linux/" rel="nofollow">http://achuwilson.wordpress.com/2012/01/11/speech-recogition-using-julius-in-linux/</a></p>

<p>and</p>

<p><a href="http://achuwilson.wordpress.com/2012/01/11/chippu-speech-recognition/" rel="nofollow">http://achuwilson.wordpress.com/2012/01/11/chippu-speech-recognition/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3008" data-toggle = "popover">
				<p>user name : Achu Wilson</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-3008">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3008" class = 'collapse'>
			</div>
				<textarea id = "speech-3008" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3008">
					<img id="start_img-3008" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3008">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>