<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Voltage rpm relation
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7698" class = "post">
			<h2>Question</h2>
			<div id="vote-7698" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 350</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Voltage rpm relation</h2>
<p>I measure the voltage ESC drawing while increasing the dc motor speed. Multimeter shows that as long as the speed increases the voltage value decreases. Can anybody explain why this is happening? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7698" data-toggle = "popover">
				<p>user name : lsn</p>
				<p> user reputation : 34</p>
				<p class = "tagcontent" id = "usertaginfo-7698">{'quadcopter': 0, 'filter': 2, 'None': 0, 'noise': 2, 'arduino': 2, 'microcontroller': 0, 'embedded-systems': 2, 'brushless-motor': 1, 'esc': 1, 'matlab': 4, 'motor': 0, 'imu': 2, 'electronics': 3, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7698" class = 'collapse'>
			</div>
				<textarea id = "speech-7698" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7698">
					<img id="start_img-7698" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7698">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7699"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7699" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think the answer <a href="http://www.electricaltechnology.org/2013/01/according-to-ohms-law-current-increases_4.html" rel="nofollow">here</a> should be insightful. But basically when the motor is running, you're working under the equation</p>

<p>P=V*I</p>

<p>This equation has to stay balanced, so assuming your (P)ower remains a fixed value, then if (V) changes, current (I) has to make and opposite change in order to keep the equation balanced. In this instance, current (I) increases as speed increases, thus you get a related decrease in (V)oltage in order to maintain the balance.  </p>

<p>EDIT: My answer is flawed because as pointed out in the comments, the assumption of power being fixed is wrong and doesn't make any sense. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7699" data-toggle = "popover">
				<p>user name : Matt Brown</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-7699">{'None': 16, 'wheeled-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7699">Load Comments</button></br>
			<div id = "commentsection-7699" class = 'collapse'>
			<div id = "comment-11172" class = "comment">
				<p>Im gonna use this meuserment for guessing the motor rpm from Kv constant. my motors is 1350 Kv(rpm/V) and it has a propeller I try find out rpm-thrust diagram. According to my measurment result, the rpm value will decrease (though it increases) as a result of decrement in V values and I couldn't understand. I think Im missing a point for rpm calculation with Kv.</p>
			</div>
			<div id = "comment-11177" class = "comment">
				<p>This is an incorrect way to evaluate the problem because this assumption means that the motor spinning at low speed and at high speed both draw the same power. Even assuming the motor wasn't loaded, and ignoring viscous friction effects, there is still dynamic friction between the shaft and whatever bearing/bushings are in the motor. Assuming this is only due to the rotor weight, you get a constant frictional torque (friction force applied at $r_{rotor}$), and since $P = \tau w$, where $w$ is motor speed, you have a higher frictional losses at higher speed - they can't be the same power.</p>
			</div>
			<div id = "comment-11178" class = "comment">
				<p>Also, current doesn't increase as speed increases, current increases as *torque* increases; that is, $\tau_{motor} = K_T I$. The reason you may see current increase as speed increases is precisely because of frictional losses as described above - frictional power losses increase at higher speed, requiring higher torque from the motor to maintain the given speed. Higher torque requires higher current, so again, a real motor with the same load draws *higher power*, not the same, at higher speeds.</p>
			</div>
			</div>
				<textarea id = "speech-7699" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7699">
					<img id="start_img-7699" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7699">Comment</button>
			<br><div id = "ans-7701"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7701" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can't understand this because you don't know what you observe. The electromotive force (EMF) of your motor is proportional to its speed (the ratio is called Kv). So, when the speed of your motor rises, the EMF rises too.</p>

<p>What does an ESC ? Basically, it hashes the input voltage to generate the expected output voltage.</p>

<p>So, what is this decreasing voltage value you observe ? It won't be the output voltage of the ESC, because it's rising, not falling, and, as it is hashed, you probably can't measure it with your multimeter (basic multimeters only measure continuous or sinusoidal signals).</p>

<p>I expect the decreasing voltage to be the input of your ESC. Why would it drop ? Because your driving a motor with a load that rises with speed (typically a propeller), and this requires current. The wires between your battery and your ESC are resistors. Let say you have 50mOhms of resistivity. If you uses 10A, the input voltage of your ESC is 0.5V less than your battery output. Moreover, your battery also have internal resistivity. If you drive more current, the output voltage of your battery drops too.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7701" data-toggle = "popover">
				<p>user name : Jacen</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-7701">{'None': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7701">Load Comments</button></br>
			<div id = "commentsection-7701" class = 'collapse'>
			<div id = "comment-11173" class = "comment">
				<p>Many thanx ....now I got it.. Thanx a lot again</p>
			</div>
			</div>
				<textarea id = "speech-7701" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7701">
					<img id="start_img-7701" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7701">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>