<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Voted to close, but shows as voted to migrate?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1878" class = "post">
			<h2>Question</h2>
			<div id="vote-1878" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 30</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Voted to close, but shows as voted to migrate?</h2>
<p>Going through my close vote list to see how many of the questions I voted to close were actually closed, I see that one of the questions that I voted to close <a href="https://stackoverflow.com/questions/19693311/associating-a-file-extension-with-my-application">was migrated</a>:</p>

<p><img src="https://i.stack.imgur.com/69Fhm.png" width="500"></p>

<p>Being intrigued, I click the link and sure enough, it takes me to the question now on SO.</p>

<p>Since I want to see how this migration is shown on the original question posted to Apple.SE, I add <code>?noredirect=1</code> to the link, and sure enough I end up at <a href="https://apple.stackexchange.com/questions/107675/registering-a-file-extension-with-my-application?noredirect=1">the original question</a>.</p>

<p>However where I usually see the 'on hold' or 'closed' message, I see 'migrated' as I expected to see, <strong>but with my name shown as one of those that migrated the question</strong>.</p>

<p><img src="https://i.stack.imgur.com/RNQyU.png"></p>

<p>How? <strong>I didn't vote to migrate, I voted to close</strong>, albeit with one of Apple.SE's predefined off-topic reasons suggesting that it be posted to Stack Overflow, but I thought this was just one of the reasons written by a   moderator with some custom text, and didn't have any technical consequences on my close vote ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1878" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-1878">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1878" class = 'collapse'>
			</div>
				<textarea id = "speech-1878" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1878">
					<img id="start_img-1878" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1878">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1879"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1879" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Technically speaking, all close votes are the same, irregardless of the close reason given by the individual voter. So if there are different vote reasons given, either the majority or (as in this case) the most meaningful reason wins.</p>

<p>As migration is a subset of the "off topic" close reason, it still counts as a close vote for you (and you didn't do anything wrong either). Migrating questions to different SE sites is always a tricky thing anyway.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1879" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-1879">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1879">Load Comments</button></br>
			<div id = "commentsection-1879" class = 'collapse'>
			<div id = "comment-3627" class = "comment">
				<p>How is most meaningful calculated ?</p>
			</div>
			<div id = "comment-3628" class = "comment">
				<p>I'm wondering myself (aehem). Migrated should be obvious (because the question isn't actually closed), duplicates are marked special as well, all other reason may end up in "Closed". I'm sure this is documented somewhere...</p>
			</div>
			<div id = "comment-3629" class = "comment">
				<p>See also http://meta.stackexchange.com/questions/54917/distinguish-votes-to-close-by-reason</p>
			</div>
			</div>
				<textarea id = "speech-1879" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1879">
					<img id="start_img-1879" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1879">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>