<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Voting vs Editing, are they at Odds in the Current System?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3125" class = "post">
			<h2>Question</h2>
			<div id="vote-3125" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 21</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Voting vs Editing, are they at Odds in the Current System?</h2>
<p>The site encourages editing questions, comments and answers.
The site also encourages to vote, up or down on each of these entry types.
Maybe I do not understand this correctly but what happens in the following scenarios:</p>

<p>There is a simple answer. It may be bad or at least perceived as such. It gets down votes. Now this answer is edited, and hopefully improved. If there was a mistake that is now no longer there, whatever, the negative vote still stands. What was the point in editing it?</p>

<p>There is a simple question. It may be quite well received and some people give good answers to how they understand the question. Question and/or answer get up votes. Now the original poster of the question realises that he was misunderstood, edits the question and the answers given do not really address the newly formulated question. Or the new question would now not be perceived as so interesting or valuable as the previous version. The votes remain the same. What was the point in editing it, now in relation to the votes to no longer fitting answers?</p>

<p>Currently I do not see how this dynamic is addressed.</p>

<p>This was regarding old posts. But it is also applicable to very new entries:
It seems to me that many votes are cast quite quickly, because someone likes or dislikes an answer or a question she just read. 
My current impression: Quick voting is the first phase that accumulates votes fast but also dies down quickly. After the first votes the voting slows down considerably. </p>

<p>This effect is contrary to how the system is explained to work. (Good content raises to the top bad sinks down.)</p>

<p>If the example is a really fresh entry then diligence requires you to refine this (possibly your own) entry, based on comments, suggestions, better insight. But this is currently problematic:</p>

<ol>
<li><p>"Likes or dislikes" is purposely opinion based, I understand. But asking these opinion based questions is discouraged. Technical merit or correctness are not emphasised enough in this voting system. Wit and humour, grammatical prowess, or the lack of both, play a role here. So voting is very largely influenced by opinion. If opinion is mostly discouraged in questions and answers, the it should be minimised in voting.</p></li>
<li><p>If these votes are cast before a fresh and still dynamic Q&amp;A is only half-way settled then the concerns raised above become even more important. These should self-correct automatically (through the system as designed). But they only do if they are still within the attention span of those involved so far. Seems that sometimes the individual attention span or how this site is used by the community aren't really catering to that. This demotivates participants and muffles the discussion.</p></li>
</ol>

<p>So, ideas for improvement or feature requests are:</p>

<ol>
<li><p>Differentiate in the temporal sense votes cast and edits thereafter. Or make an automated request to review votes if (substantial) editing took place. Or introduce a voting quarantine.</p></li>
<li><p>Enable more feedback that encourages editing, improving the existing content. If this site is not only about answering but also about learning, then the feedback has to be more direct. This feedback will likely improve the overall quality on its own.</p></li>
<li><p>Make it easier or explicitly possible to differentiate between likes and votes. The latter being based solely on technical correctness. (I understand that this might be either unwanted or even too late, given the content produced so far.)</p></li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-3125" data-toggle = "popover">
				<p>user name : LangLangC</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-3125">{'None': 0, 'editing': 3, 'feature-request': 3, 'voting': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3125">Load Comments</button></br>
			<div id = "commentsection-3125" class = 'collapse'>
			<div id = "comment-6729" class = "comment">
				<p>Thanks for raising the issue - we can discuss here and put the feature request in to the main meta as you wish.</p>
			</div>
			<div id = "comment-6730" class = "comment">
				<p>You raise some very valid points. At present, if you vote an answer up, then after a period of time has passed the system won't let you change your vote **unless** the it has been edited. What doesn't happen though, is after any such edit, voters of that answer aren't pinged automatically to let them know that an edit has taken place. Hmm.</p>
			</div>
			</div>
				<textarea id = "speech-3125" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3125">
					<img id="start_img-3125" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3125">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3126"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3126" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The editing is mostly a way to avoid a large period of time where people would be inclined to down vote as opposed to remedy past impressions. Ideally, each edit would then ping the voters or come back and revisit their expression - but without that, there s still the chance that everyone else will see the edited post and help right the down votes if the edit fixes whatever issues existed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3126" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-3126">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3126">Load Comments</button></br>
			<div id = "commentsection-3126" class = 'collapse'>
			<div id = "comment-6726" class = "comment">
				<p>Fun fact- in Stack Overflow Extras, there is a builtin script that tells you when a question you downvote is edited.</p>
			</div>
			<div id = "comment-6727" class = "comment">
				<p>@bmike: "Ideally": that's why I tagged this a feature request. Further: you first line I understand as: choose to either downvote or improve. Does anybody do that? Editing old questions other people posed seems already strange at first, but editing really old answers becomes quite fruitless this way. Together with no-comment down-votes this is really detrimental. Currently I think editing dates and vote dates should somehow be displayed.</p>
			</div>
			<div id = "comment-6728" class = "comment">
				<p>Sounds good @LangLangC - we can keep this feature request here and the developers will see it. You can also see if this is requested on the main meta or request this be migrated if you want this feature to be implemented on all sites that share the common code base and functionality.</p>
			</div>
			<div id = "comment-6731" class = "comment">
				<p>Re: *"Ideally, each edit would then ping the voters or come back and revisit their expression"*. This sounds like a good place to start. At least then users would have the option of reviewing their vote in case they'd like to change it. However, an automatic ping raises problems without some sort of check and balance in place. For example, any automated pings should happen only after a certain amount of time has passed since the edit (let's say an hour), otherwise we could get a lot of pings while the edits are still in the progress of being made.</p>
			</div>
			<div id = "comment-6732" class = "comment">
				<p>Also, how do we deal with the issue of *who* made the edit? For example, if someone wants to *vandalise* an answer in some subtle way for some sort of revengeful purpose, they could do that in the hope of reducing votes. So, how do we deal with that? Do we require the OP of the question/answer to have to accept the edit prior to any automated pings going out? Or maybe a requirement for the OP to have to accept an edit if their post already has votes (or in the case of an answer, if it's been accepted)?</p>
			</div>
			<div id = "comment-6733" class = "comment">
				<p>@Jackson1442 Thanks for mentioning [Stack Overflow Extras](https://stackapps.com/q/6091), I hadn't come across this before. Have you installed it? How well does it work?</p>
			</div>
			</div>
				<textarea id = "speech-3126" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3126">
					<img id="start_img-3126" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3126">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>