<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wake up iRobot Create 2 while on dock
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10666" class = "post">
			<h2>Question</h2>
			<div id="vote-10666" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 108</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wake up iRobot Create 2 while on dock</h2>
<p>I have a 7 pin cable connected to the OI port of my Create 2. While the Create is on the floor away from the dock, if I touch the BRC pin (7) to the ground pin (5), the Create wakes up, makes a beep, and the green Clean button light turns on.</p>

<p>However, if I put the Create on the dock and let it sit for several minutes and then touch the BRC pin to the ground pin, nothing happens.</p>

<p>Is there a method for waking up/starting the Create while it is on the dock/charging?</p>

<p>(Note: I have seen this answer and it does not solve the issue <a href="https://robotics.stackexchange.com/questions/7895/irobot-create-2-powering-up-after-sleep">IRobot Create 2: Powering Up after Sleep</a>)</p>

<p>If I send a command or try to fetch sensor data after the Create has been sitting on the dock for several minutes, I get no response and the Create doesn't do anything (no lights, sounds, movements, etc).</p>

<p>While the Create is already awake, the response from a restart command (0x7) looks like this</p>

<pre><code>bl-start
STR730
bootloader id: #x4718535E 7DDBCFFF
bootloader info rev: #xF000
bootloader rev: #x0001
2007-05-14-1715-L
</code></pre>

<p>EDIT: simplified the scope of the question.</p>

<p>EDIT 2: added info from Jonathan's questions.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10666" data-toggle = "popover">
				<p>user name : smurthas</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-10666">{'None': 0, 'irobot-create': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10666">Load Comments</button></br>
			<div id = "commentsection-10666" class = 'collapse'>
			<div id = "comment-19235" class = "comment">
				<p>What happens if you send a command or try to fetch sensor data? Also, what SW release does your robot have on it? (This will help me understand what the robot should be doing while on the dock).</p>
			</div>
			<div id = "comment-19302" class = "comment">
				<p>Thanks for the response Jonathan. I've added the info to the question above.</p>
			</div>
			</div>
				<textarea id = "speech-10666" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10666">
					<img id="start_img-10666" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10666">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10734"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10734" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>With the firmware you have, the robot does not sleep on the dock. Assuming the baud rates are correct, it will still respond to sensor fetches and should respond to the 'clean' request.
Pulsing the BRC pin could be changing the baud rate or could be doing some other unintentional behavior. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10734" data-toggle = "popover">
				<p>user name : Jonathan</p>
				<p> user reputation : 177</p>
				<p class = "tagcontent" id = "usertaginfo-10734">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10734" class = 'collapse'>
			</div>
				<textarea id = "speech-10734" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10734">
					<img id="start_img-10734" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10734">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>