<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Water depth arduino sonar sensor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2379" class = "post">
			<h2>Question</h2>
			<div id="vote-2379" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 8274</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Water depth arduino sonar sensor</h2>
<p>Just like a fish finder finds the depth of the water directly beneath it, Im trying to find a sensor that I can purchase for the Arduino that does the same. would like it to check up to 20 ft at least, with high accuracy, +/- 10 or 15 cm. All the threads and info I've been finding are water level sensors not for water depth. So does anyone know of a sensor like this and where I can find one?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2379" data-toggle = "popover">
				<p>user name : Mediyum</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-2379">{'underwater': 2, 'None': 0, 'microcontroller': 2, 'arduino': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2379">Load Comments</button></br>
			<div id = "commentsection-2379" class = 'collapse'>
			<div id = "comment-4657" class = "comment">
				<p>[Shopping questions are not really fit for robotics.SE](http://meta.robotics.stackexchange.com/a/180). Try detailing the question a bit, showing what you have found, what was the problem, what ideas you have to address it etc.</p>
			</div>
			<div id = "comment-4658" class = "comment">
				<p>Its asking for a type of sensor not where to buy it, that's what I understand from the question.</p>
			</div>
			<div id = "comment-4659" class = "comment">
				<p>im not asking where to buy one just looking for someone who has done a project similar to what I'm trying to achieve and what sensors they have had success with... any information will help as Im stuck with nothing at the moment can't even find a single sensor that can check water depth</p>
			</div>
			<div id = "comment-4660" class = "comment">
				<p>Well, fish finders uses sonar for that, you can start from that. Anyway, that sonar will need to be a bit underwater, so I don't think you will find a cheap sensor. Some link: http://www.divediscover.whoi.edu/tools/sonar-singlebeam.html</p>
			</div>
			<div id = "comment-4661" class = "comment">
				<p>Also If you post more information about your project maybe we can suggest other sensor as well.</p>
			</div>
			<div id = "comment-4664" class = "comment">
				<p>my project is nothing more then checking the depth of the water..the sensor doesn't have to be cheap. cost is not an issue</p>
			</div>
			<div id = "comment-4667" class = "comment">
				<p>@Rookie well measuring the depth on a bucket is a thing, you could use a float in an arm with an angle sensor, you can also measure the weight if you know the density and bucket dimensions, and goes on. So that's why I asked, there's different ways that can be applied to different scenarios. If you don't provide more information, the water sonar is the way to go, but the speed of sound under water is relatively fast, and with a small distance the reflection will be very fast, so will need other sonar method then just _catch first reflection_ or a fast circuit.</p>
			</div>
			</div>
				<textarea id = "speech-2379" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2379">
					<img id="start_img-2379" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2379">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2385"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2385" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The simplest sensor you can build is a weight on a string. Lower it down until the tension of the string is reduced. I assume you want sonar. So just go buy one they are dead easy to interface to.</p>

<p>You can buy these at marine hardware stores. They are not cheap. Look for a depth finder that has "NMEA" output. You may have heard of NMEA as the data format that GPS receivers use to send location. But it is a common format used by wind, depth and speed sensors.</p>

<p>The NMEA format is just 4800 baud serial ASCII data with end of lines and the data is typically sent once per second. You can read the data in a PC if it has a serial port and a terminal program.</p>

<p>The sensors itself looks like a plumbing fitting. You drill a 1 or 2 inch hole in the boat and install the sensor facing down then a wire runs to the main unit. In theory you could create electronics that "ping" the sensor and wait for a return but it's easier to buy a complete unit with NMEA output.</p>

<p>If you try and roll your own you have to deal with thermoclines, soft bottoms, rocks and even fish and do a lot of signal processing to find a reliable depth. This is <strong>not</strong> like sonar in air where there is a <strong>huge</strong> difference between a solid wall and air. Soft mud is not so much unlike water. But a NMEA sensor would be very easy to use. You pay the big price for the DSP.</p>

<p>My favorite store is West Marine. Google it and I bet there is one near you if you live near ocean. I recommend them because of their high level of customer support. They will point you at the best product and answer questions like "what's NMEA?"</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2385" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-2385">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2385" class = 'collapse'>
			</div>
				<textarea id = "speech-2385" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2385">
					<img id="start_img-2385" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2385">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>