<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Ways of reversing motor direction easily
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6445" class = "post">
			<h2>Question</h2>
			<div id="vote-6445" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 187</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Ways of reversing motor direction easily</h2>
<p>My set up consists of a brushed motor (ex cordless drill type) connected to a motor controller which is in turn connected to a LIPO battery and an r/c receiver. All my cables are fitted with XT 60 connectors except for the cable that goes to the receiver which is a 3 wire pin (usual white, red and black).</p>

<p>The above set up is one of a pair which I am using in my battle robot. The motors are connected to drive wheels, left and right respectively. the problem is the motors are turning in opposing directions.</p>

<p>For some reason I neglected to switch the polarity of the wires of one  motor at the time I attached the XT 60 connectors and I really am not looking forward to re-soldering.  </p>

<p>So my question is whether there is any fast way of reversing the direction of rotation without soldering?  For instance can the R/C transmitter (a turnigy 9x without any modding)be programmed to switch up for down (hence forward for reverse)? </p>

<p>Or can I maybe switch the pin connector going into the receiver (I don't think so because the ground is probably common, but worth asking just in case I guess). </p>

<p>Any ideas or should I just get soldering?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6445" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-6445">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6445">Load Comments</button></br>
			<div id = "commentsection-6445" class = 'collapse'>
			<div id = "comment-9301" class = "comment">
				<p>Are you using an h-bridge?</p>
			</div>
			<div id = "comment-9303" class = "comment">
				<p>Paul, I am using this motor controller. I don't think it is an H-bridge. http://www.ebay.co.uk/itm/320A-7-2V-16V-High-Voltage-ESC-Brushed-Speed-Controller-for-RC-Car-Truck-Boat-UK-/390820623587?ssPageName=ADME:X:RTQ:GB:1123</p>
			</div>
			<div id = "comment-9307" class = "comment">
				<p>320 Amp! each channel! that must be a serious robot! Deep inside, it is indeed an H-bridge, as about every speed controller is.</p>
			</div>
			<div id = "comment-9318" class = "comment">
				<p>I seriously doubt the 320A rating is right though since the power cables are pretty standard 12AWG gauge!</p>
			</div>
			</div>
				<textarea id = "speech-6445" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6445">
					<img id="start_img-6445" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6445">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6448"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6448" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Yes, the Turnigy 9x and just about every RC transmitter can reverse channels. Look for Servo setup, reverse.  Step 9.1 in <a href="http://www.hobbyking.com/hobbyking/store/uploads/529892926x11510x49.pdf" rel="nofollow">9x manual</a></p>

<p>This assumes your left and right motors are on different channels. If you used a v-tail mixer to obtain turtle drive, you will have to experiment with it's set-up instead (9.17).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6448" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6448">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6448" class = 'collapse'>
			</div>
				<textarea id = "speech-6448" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6448">
					<img id="start_img-6448" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6448">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>