<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wearable Accelerometor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1399" class = "post">
			<h2>Question</h2>
			<div id="vote-1399" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 104</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wearable Accelerometor</h2>
<p>I've worked with wiimote accelerometer, but I think now I want to move past that. Mostly because I want to have a wider range of available gestures and I think that using only one accelerometer has too many limitations for what I want to do. I'm looking for something compatible with arduino or RPi. Does anyone have recommendations on how I should do this?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1399" data-toggle = "popover">
				<p>user name : r351574nc3</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-1399">{'control': 2, 'None': 3, 'cameras': 2, 'sensors': 4, 'accelerometer': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1399">Load Comments</button></br>
			<div id = "commentsection-1399" class = 'collapse'>
			<div id = "comment-3017" class = "comment">
				<p>Can you edit your question to say a bit more about what sort of gestures you'd like to support?  That will allow more accurate answers.</p>
			</div>
			</div>
				<textarea id = "speech-1399" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1399">
					<img id="start_img-1399" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1399">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1402"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1402" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you want is a three-axis (or sometimes triple-axis, three-axes) accelerometer, which will allow you to detect the magnitude and direction of the acceleration. If you want to detect the acceleration of one part relative to another part, then you need an accelerometer for each part. I2C is a reasonably standard sensor protocol. I2C accelerometers are available off-the-shelf, and Arduino has libraries for I2C communication.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1402" data-toggle = "popover">
				<p>user name : trav1s</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-1402">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1402" class = 'collapse'>
			</div>
				<textarea id = "speech-1402" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1402">
					<img id="start_img-1402" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1402">Comment</button>
			<br><div id = "ans-1441"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1441" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Mpu6050, or 9150 is great for gesture sensing. The 6050 has a 3 axis accelerometer and a 3 axis gyro. The 9150 has all that, as well as a 3 axis magnetometer.</p>

<p>Theoretically, you can program gestures into it that trigger an external interrupt when they are activated. Unfortunately, Invensense, the makers of the chip have not been forthcoming with documentation on how to do that.</p>

<p>If you want to write the gesture reconization yourself, then there is a library for getting plain data as well as quaternions from the 6050 at <a href="https://github.com/jrowberg/i2cdevlib" rel="nofollow">https://github.com/jrowberg/i2cdevlib</a></p>

<p>If you go with the 9150, there is a great resource of code at <a href="https://github.com/Pansenti/MPU9150Lib" rel="nofollow">https://github.com/Pansenti/MPU9150Lib</a>, which includes resources to do some of the higher level processing the 9150 is capable of.</p>

<p>I actually am trying to use the line of mpu's myself, as part of a rocketlogger project. I have some of my code at <a href="http://waterrocketry.com" rel="nofollow">http://waterrocketry.com</a> It doesn't entirely work yet, but it is still a work in progress, and I hope to have full control of the Data Motion Processing of the 6050 soon.</p>

<p>Good luck with what your building</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1441" data-toggle = "popover">
				<p>user name : Maxwellfire</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-1441">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1441" class = 'collapse'>
			</div>
				<textarea id = "speech-1441" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1441">
					<img id="start_img-1441" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1441">Comment</button>
			<br><div id = "ans-9222"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9222" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If I understood your question correctly, what you need to capture more gestures are just more accelerometers positioned at different locations on your device.</p>

<p>If you are talking complex finger gestures, then maybe you need something like a machine vision system to recognize all the complex hand and finger motions. Hope this helps a little.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9222" data-toggle = "popover">
				<p>user name : goddar</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-9222">{'control': 3, 'None': 2, 'power': 0, 'arduino': 0, 'battery': 2, 'microcontroller': 0, 'wheeled-robot': 0, 'imu': 1, 'sensor-fusion': 1, 'mobile-robot': 4, 'electronics': 0, 'sensors': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9222" class = 'collapse'>
			</div>
				<textarea id = "speech-9222" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9222">
					<img id="start_img-9222" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9222">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>