<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Web mapping that can be used for autonomous vehicles~robots
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1036" class = "post">
			<h2>Question</h2>
			<div id="vote-1036" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 728</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Web mapping that can be used for autonomous vehicles~robots</h2>
<p>Is there web mapping tool that allows developers to use it to plot GPS data of autonomous vehicles/robots?</p>

<p><code>Google Maps</code> forbids it. See <a href="https://developers.google.com/maps/terms">10.2.C</a>. <code>Google Earth</code> terms of use link jumps to the same page. <code>Bing</code> Maps looks the similar (see <a href="http://www.microsoft.com/maps/product/terms.html">3.2.(g)</a>).</p>

<p>What I want is a internet-based tool that shows either/both satellite images and/or map, which can overlay plot using its API. <a href="https://github.com/ros-visualization/rqt_common_plugins/issues/41">I'm making a generic GPS plotter</a> on <code>ROS</code> that could be used both for slow robots or fast vehicles/cars.</p>

<p>Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1036" data-toggle = "popover">
				<p>user name : IsaacS</p>
				<p> user reputation : 190</p>
				<p class = "tagcontent" id = "usertaginfo-1036">{'visualization': 12, 'None': 1, 'servomotor': 0, 'untagged': 0, 'dynamixel': 0, 'gps': 12}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1036" class = 'collapse'>
			</div>
				<textarea id = "speech-1036" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1036">
					<img id="start_img-1036" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1036">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1043"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1043" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.google.com/earth/" rel="nofollow noreferrer">Google Earth</a> exists for precisely this purpose: overlaying your own data on a map.  You simply write scripts to translate (or export) your data into <a href="https://developers.google.com/kml/documentation/" rel="nofollow noreferrer">KML format</a> then add the URL to Google Earth like so:</p>

<p><img src="https://www.woopra.com/wp-content/uploads/2009/10/add_network_link.png" alt="Add network link"></p>

<p>With regard to terms of use: the terms of use for Google Earth only forbid you to use the software to control the behavior of your vehicle, not to represent its past behavior.  (Their concern is most likely to limit their liability from you trying to draw a path on a road in GE for a robot to follow, and having it crash into something due to a map inaccuracy.)</p>

<p>As quasi-proof, I wrote a mission planner with Google Earth at one point (<a href="http://www.youtube.com/watch?v=vK0wWH9Ijnk" rel="nofollow noreferrer">http://www.youtube.com/watch?v=vK0wWH9Ijnk</a>) which I showed to the Google Earth team; they were fine with it.  They also put me in touch with a team at NASA that uses Goole Earth for this purpose.  I'm led to believe that such usage is allowed since I'm only generating mission scripts and not interacting with the autonomy. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1043" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1043">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1043">Load Comments</button></br>
			<div id = "commentsection-1043" class = 'collapse'>
			<div id = "comment-2437" class = "comment">
				<p>Confirmed: We use this feature for plotting data from our field experiments. Highly recommended.</p>
			</div>
			<div id = "comment-2439" class = "comment">
				<p>Thx for the post. However I am asking about terms of use, not about feature.</p>
			</div>
			<div id = "comment-2445" class = "comment">
				<p>I've updated the answer with my ToS experience with the Google Earth team.  TL;DR, you're fine.</p>
			</div>
			<div id = "comment-2502" class = "comment">
				<p>My impression is your case was fine with Google b/c it's cool</p>
			</div>
			<div id = "comment-2510" class = "comment">
				<p>I doubt that a company as big as Google has exemptions in their legal process for projects that they decide are "cool".  Here's a KMZ file from Woods Hole Oceanographic Institute that does what you're talking about, and more: http://habcam.whoi.edu/HabCamData/GoogleEarth/Google%20Ocean%20Demo%2020080816_v5.kmz</p>
			</div>
			</div>
				<textarea id = "speech-1043" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1043">
					<img id="start_img-1043" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1043">Comment</button>
			<br><div id = "ans-1044"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1044" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd summarize my read of both of those as:</p>

<ul>
<li>Don't use our logic to provide turn by turn navigation to vehicles</li>
<li>Don't use our maps for business asset tracking unless you've signed a commercial use agreement</li>
</ul>

<p>Hard to tell if your use case described violates either of these terms.  In any case, check out <a href="http://www.openstreetmap.us/">http://www.openstreetmap.us/</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1044" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-1044">{'None': 68}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1044">Load Comments</button></br>
			<div id = "commentsection-1044" class = 'collapse'>
			<div id = "comment-2438" class = "comment">
				<p>Thanks for "proof read". I re-read again and agreed that they don't sound to prohibit plotting itself.</p>
			</div>
			</div>
				<textarea id = "speech-1044" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1044">
					<img id="start_img-1044" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1044">Comment</button>
			<br><div id = "ans-1088"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1088" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The Rock framework has such a widget (based on OpenPilot/GCS).</p>

<p>package</p>

<p><a href="http://rock-robotics.org/master/pkg/gui/map2d/index.html" rel="nofollow">http://rock-robotics.org/master/pkg/gui/map2d/index.html</a></p>

<p>code</p>

<p><a href="http://gitorious.org/rock-gui/map2d" rel="nofollow">http://gitorious.org/rock-gui/map2d</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1088" data-toggle = "popover">
				<p>user name : sylvain.joyeux</p>
				<p> user reputation : 363</p>
				<p class = "tagcontent" id = "usertaginfo-1088">{'None': 20, 'kalman-filter': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1088" class = 'collapse'>
			</div>
				<textarea id = "speech-1088" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1088">
					<img id="start_img-1088" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1088">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>