<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Weird behaviour with a Create2 connected via XBEE
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9119" class = "post">
			<h2>Question</h2>
			<div id="vote-9119" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 70</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Weird behaviour with a Create2 connected via XBEE</h2>
<p>This is not really a problem but something strange is going on.</p>

<p>When Create2 is connected to a PC via the USB original connector lead, when you start-up the computer the Create2 is activated by the Baud Rate Change (BRC) pulling to ground. If I understand correctly, normal behaviour.</p>

<p>My Create2 is connected to a XBEE via a buck converter, I added a switch so the buck converter and the XBEE should not drain the battery continuously so as mentioned in the specs.</p>

<p>I followed the Bluetooth pdf for the connections, its working well for sending commands but I still just have a few problems with streaming the return data but that will be resolved.</p>

<p>But now, with the XBEE switched off my Create2 still activates when I start-up my PC, how is that possible, how can the BRC be pulled to ground?</p>

<p>There can be no communication between the PC XB and the Create2 XB since the Create2 XB is switched off, only the PC XB is switched on when starting the computer.</p>

<p>Its not a problem, its just that I am puzzled. Can anyone explain why this is happening?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9119" data-toggle = "popover">
				<p>user name : xavier22</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-9119">{'None': 3, 'irobot-create': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9119" class = 'collapse'>
			</div>
				<textarea id = "speech-9119" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9119">
					<img id="start_img-9119" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9119">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9121"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9121" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So, am I understanding this correctly that there is no physical connection between your Create 2 and your PC when going by the XBEE - only a bluetooth connection?</p>

<p>If you say the Create 2 XBee is switched off, then it sounds like a hardware failure of the switch on the Create 2's XBee. Not uncommon with cheaper/smaller switches, the switch just happened to fail in the 'on' position. Try switching the Xbee on the PC off and rebooting the PC, see if the signal still gets through (just to eliminate the PC XBee as the malfunction).</p>

<p>Pull the create 2 XBee, and check the continuity of the switch with a simple DMM (check the resistance - high for 'off', low for 'on', no change for 'broken').</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9121" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9121">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9121">Load Comments</button></br>
			<div id = "commentsection-9121" class = 'collapse'>
			<div id = "comment-15104" class = "comment">
				<p>If you are going to correct spelling and grammer, it's a good idea to correct all of the problems, otherwise a reviewer might reject your suggested edits. In this case, I decided to do the edits you missed. Also, please don't correct British English to American English, it isn't necessary and some people get offended at the presumption. Please just accept either when it comes to British/America/other English spellings.</p>
			</div>
			<div id = "comment-15105" class = "comment">
				<p>My bad on the american-to-british, that one was an honest mistake. It is pretty late on my local time, thought I was careful.</p>
			</div>
			<div id = "comment-15107" class = "comment">
				<p>First of all thanks for the reply. Xbee is not Bluetooth do.</p>
			</div>
			<div id = "comment-15108" class = "comment">
				<p>I checked the switch and its completely OFF and yes, there is no physical connection between the two.</p>
			</div>
			<div id = "comment-15109" class = "comment">
				<p>Even more stranger, the Create2 does not activate now, even after 2 reboots and even with the switch on. It only seems to activate at first startup in the morning :)</p>
			</div>
			<div id = "comment-15113" class = "comment">
				<p>did you check the switch with a digital multimeter? Sometimes these things fail, so that even when you physically open or close then, they no longer change their state. The only way to be sure is to check their electrical resistance.</p>
			</div>
			<div id = "comment-15116" class = "comment">
				<p>No problem, it's always good to see people willing to put the time into making questions and answers better, just make sure that you always maintain the original authors intent.</p>
			</div>
			<div id = "comment-15131" class = "comment">
				<p>Yes, i checked the switch, there is no continuity between the two contacts, and no, i'm not going berserk, it did it again this morning, short beep and the "CLEAN" led illuminated green for a moment.If there was power on the receiving XB i would have 2 power leds illuminated anyway. Could this be due somehow to static ?</p>
			</div>
			<div id = "comment-15132" class = "comment">
				<p>Possibly static? But unlikely. If you're certain hardware failure is out of the question, my next suggestion is to post the relevant code either here, to linked here from github (or similar). Unfortunately, I know almost nothing about bluetooth and its programming - someone else will have to help you.</p>
			</div>
			<div id = "comment-15133" class = "comment">
				<p>I put the switch on the positif lead, wich is recommended in electronics i believe. So the ground is directly connected to the battery. I use a Parallax SIP adapter # 32402 as interface for my XB, BRC is connected to ground at the input of my buck converter (regulated 5v out)</p>
			</div>
			<div id = "comment-15134" class = "comment">
				<p>It cannot be related to code since there is no way any information has been transmitted between the two XB's. XB is not Bluetooth btw, it uses the 802.15.4 (Series1) protocol.</p>
			</div>
			<div id = "comment-15135" class = "comment">
				<p>I meant any code you're written to allow you to pass messages to the create. But either way, it sounds like you've eliminated hardware as the fault, which leaves software. Without knowing more, I can't really help you, and comments aren't an ideal way to do this any way. My only other thought is that a driver or firmware update on your host machine is the cause.</p>
			</div>
			<div id = "comment-15137" class = "comment">
				<p>I guess the TX XB driver send some kind of wakeup signal when activated by the motherboard USB port. But there is no way this signal can be received by a RX XB that is not connected to any electricity. Anyway its a puzzle for me, but thanks anyway.</p>
			</div>
			</div>
				<textarea id = "speech-9121" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9121">
					<img id="start_img-9121" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9121">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>