<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is required to approve suggested edits?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2422" class = "post">
			<h2>Question</h2>
			<div id="vote-2422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 30</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is required to approve suggested edits?</h2>
<p>Once upon a time, I thought I could approve edits.</p>

<p>Now I get this:</p>

<blockquote>
  <p>This suggestion still needs 1 approve vote from other reviewers. Close this popup (or hit Esc) to continue.</p>
</blockquote>

<p>Did something change (and I missed the memo) or am I just mistaking?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2422" data-toggle = "popover">
				<p>user name : Buscar </p>
				<p> user reputation : 26972</p>
				<p class = "tagcontent" id = "usertaginfo-2422">{'search': 1, 'voting': -5, 'suggested-edits': 0, 'spam': -6, 'support': 5, 'moderation': -4, 'None': 1, 'comments': -6, 'closed-questions': -3, 'moderators': -7, 'reputation': -2, 'answers': -1, 'inbox': 1, 'bounty': -2, 'user-accounts': 0, 'flagging': -7, 'discussion': -15, 'review-page': 0, 'accepted-answer': -1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2422" class = 'collapse'>
			</div>
				<textarea id = "speech-2422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2422">
					<img id="start_img-2422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2422">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2423"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2423" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You've never been able to single-handedly approve suggested edits (except on your posts).</p>

<p>Suggested edits require two approve or reject votes before being committed. If you are the first reviewer (or second if you disagreed with the first) then another review vote is still required.</p>

<p>With regard to <a href="https://apple.stackexchange.com/review/suggested-edits/101814">your last review</a>, you were the first to approve it and you couldn't have approved it solely yourself as it wasn't suggested on one of your posts. Therefore it required a second person to approve it for it to be approved, which is what occurred.</p>

<p>This isn't the first time you've approved something first; <a href="https://apple.stackexchange.com/review/suggested-edits/38462">this one was approved</a> first by you then by me. In the same vein, <a href="https://apple.stackexchange.com/review/suggested-edits/51182">you rejected this one</a> first, but it wasn't rejected until the second person rejected it.</p>

<p>For more information on suggested edits, see:</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/76251">How do suggested edits work?</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2423" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2423">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2423">Load Comments</button></br>
			<div id = "commentsection-2423" class = 'collapse'>
			<div id = "comment-4538" class = "comment">
				<p>Then till now it was just coincidence that I was the second one and newer saw that message before.</p>
			</div>
			<div id = "comment-4539" class = "comment">
				<p>@Buscar There's plenty of examples to the contrary (I've picked two random ones and added them to my answer).</p>
			</div>
			<div id = "comment-4542" class = "comment">
				<p>Now that is a good demonstration how to use this site. PS You are right, I saw them before but ignored them till now.</p>
			</div>
			<div id = "comment-4543" class = "comment">
				<p>Often I make comments then they disappear when I return to it, and I  kept wondering if I made the comment or not. Maybe there is a way to see that in the history logs as well.</p>
			</div>
			<div id = "comment-4544" class = "comment">
				<p>@Buscar Feel free to ask a separate question about that.</p>
			</div>
			</div>
				<textarea id = "speech-2423" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2423">
					<img id="start_img-2423" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2423">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>