<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What connectors are most reliable?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-100" class = "post">
			<h2>Question</h2>
			<div id="vote-100" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1222</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What connectors are most reliable?</h2>
<p>If you have used connectors for signal wiring for any length of time, you may find that they are unreliable.</p>

<p>Specifically, I find these to be unreliable when used for a long time, with a number of disconnections and re-connections:</p>

<p><img src="https://i.stack.imgur.com/RDJQV.jpg" alt="enter image description here"></p>

<p>This is due to the loss of springy-ness of the crimped metal end on the wire, which causes contact problems.</p>

<p>Which connectors (with rapid connection time) are reliable for multiple re-connections for simple signal wiring?</p>

<p>This excludes screw terminals and connectors with screws (eg. D-subminiature connectors), because they are not simple plug-in connectors.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-100" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-100">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-100">Load Comments</button></br>
			<div id = "commentsection-100" class = 'collapse'>
			<div id = "comment-105" class = "comment">
				<p>I wonder whether this question isn't more suited to the Electronics StackExchange, than Robotics?</p>
			</div>
			<div id = "comment-123" class = "comment">
				<p>@AnindoGhosh - The concerns here might be different to those on Electrical Engineering. In this case I think the question is fine, part of the answer here may be to do with flex and vibration resistance, which is less of a consideration in non robotic applications.</p>
			</div>
			<div id = "comment-136" class = "comment">
				<p>Could you tighten up the question, by detailing the sort of circumstances you are using them.  Fundamentally, any "push fit" type connector is prone to the sort of problem you are identifying - which is why Dminitures and 38999 types are so prevalent in in (eg) the military world.</p>
			</div>
			<div id = "comment-137" class = "comment">
				<p>just general use between different parts, eg. pcb to custom components etc, or to split a bundle of signals into two parts.</p>
			</div>
			<div id = "comment-264" class = "comment">
				<p>I'm not sure--but this seems to fall within the catogory of Not Constructive--especially, looking at the answers. Product recommendations that have a large number of differing answers usually are NC... :S</p>
			</div>
			</div>
				<textarea id = "speech-100" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-100">
					<img id="start_img-100" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-100">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-124"  class = "post">
				<h2>Answer</h2>
			<div id="vote-124" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Depends a lot on what the connectors are being used for.  Do they need to be panel mounted? pcb mounted?  Just hanging out?</p>

<p>I see anderson power poles all over the place in robotics because they lock reliably and can be snapped together to make connectors of any size.  Normally they are used for power, not signals.</p>

<p>IDC connectors are also very common for signals/low power.  They also lock reliably and use standard .1 header spacing which is nice for prototyping/testing.</p>

<p>The locking headers you mentioned are also very common, but never where repeated disconnects/reconnects are expected.  Mostly just indicator lights and such.</p>

<p>In weight/space restricted applications RC connectors are great.  A lot of the RC connectors have extremely high current capacity and are very reliable under vibration.  My favourite is the XT60.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-124" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-124">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-124">Load Comments</button></br>
			<div id = "commentsection-124" class = 'collapse'>
			<div id = "comment-226" class = "comment">
				<p>To add a bit of detail, In >=20amp motors on robots, Anderson power poles are definitely the most common connector used in Robotics.</p>
			</div>
			</div>
				<textarea id = "speech-124" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-124">
					<img id="start_img-124" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-124">Comment</button>
			<br><div id = "ans-180"  class = "post">
				<h2>Answer</h2>
			<div id="vote-180" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are lots of very reliable connectors out there. Here are a few of my favorites:</p>

<p><strong>Harwin Datamate</strong> These come in a few varieties. The ones shown here are fantastic and have both high current power connections, and many signal connections. They are extremely reliable, and I know that they are used on several robots I know of, including the <a href="http://www.shadowrobot.com/hand/motorhand.shtml" rel="nofollow noreferrer">Shadow Robot Hand</a>, <a href="http://robonaut.jsc.nasa.gov/" rel="nofollow noreferrer">Robonaut</a> and the latest <a href="http://www.dlr.de/rm/en/desktopdefault.aspx/tabid-3802/" rel="nofollow noreferrer">DLR space qualified hand</a>.</p>

<p><img src="https://i.stack.imgur.com/7gmmT.jpg" alt="Harwin Datamate"></p>

<p>The ones you see here are a little on the expensive side, up to $30 each! But the simpler connectors with only signal pins are much more reasonable, just a couple of dollars each. They are extremely reliable. The pins are gold plated and have several contact points. The latching and screw mechanisms on them mean they can even survive the vibration of a rocket launch.</p>

<p>Check out Harwin's other connectors, especially the M30 range. They're pretty small and, if you crimp the wires properly, then they are extremely reliable. I have never seen one of the <a href="http://www.harwin.com/M30-610-family.html" rel="nofollow noreferrer">M30</a> connectors fail due to repeated mating.</p>

<hr>

<p><strong>Consumer Connectors:</strong> Generally, connectors intended for the consumer market should be able to survive quite a while. These include <a href="http://en.wikipedia.org/wiki/Universal_Serial_Bus" rel="nofollow noreferrer">USB</a>, <a href="http://en.wikipedia.org/wiki/Firewire" rel="nofollow noreferrer">Firewire</a>, <a href="http://en.wikipedia.org/wiki/HDMI" rel="nofollow noreferrer">HDMI</a>, <a href="http://en.wikipedia.org/wiki/VGA" rel="nofollow noreferrer">VGA</a>, <a href="http://en.wikipedia.org/wiki/D-Sub" rel="nofollow noreferrer">D-Sub</a>.</p>

<p><img src="https://i.stack.imgur.com/rqNNw.jpg" alt="USB"><img src="https://i.stack.imgur.com/cRq2H.jpg" alt="HDMI"></p>

<p>The other good thing about these connectors is that they are suitable for high speed data, like EtherCAT's LVDS physical layer. The downside of USB, HDMI and Firewire is that they aren't vibration proof, and may fall out if not strapped down. Make sure you get gold plated ones.</p>

<hr>

<p><strong>Omnetics:</strong> The cream of the crop come from <a href="http://www.omnetics.com/" rel="nofollow noreferrer">Omnetics</a>. They have the double benefits of being both super reliable, and also very small.</p>

<p><img src="https://i.stack.imgur.com/6wbc5.jpg" alt="Omnetics Connectors"><img src="https://i.stack.imgur.com/B9m4o.jpg" alt="Omnetics Connectors"></p>

<p>They have all kinds of wire-wire, and wire-board connectors. But be warned, they are <em>very</em> expensive.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-180" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-180">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-180" class = 'collapse'>
			</div>
				<textarea id = "speech-180" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-180">
					<img id="start_img-180" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-180">Comment</button>
			<br><div id = "ans-252"  class = "post">
				<h2>Answer</h2>
			<div id="vote-252" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As you pointed out, on a robot with high vibration,
you want connectors that have "spring" (elasticity).
Even when momentarily jostled slightly out of position,
the spring pushes everything back into place.</p>

<p>Alas, there is a tradeoff -- the higher the vibration that a connector can tolerate without getting accidentally disconnected, the more difficult it is to deliberately connect and disconnect the connector.</p>

<p>Some connectors you might look at:</p>

<ul>
<li><a href="http://www.stefanv.com/rcstuff/qf200001.html" rel="nofollow">Stefan Vorkoetter</a> has a nice review of connectors suitable for mid-size RC aircraft (easily handling 20 A), including <a href="http://en.wikipedia.org/wiki/DC_connector#Anderson_Powerpole_connectors" rel="nofollow">Anderson Powerpole connectors</a> which are the standard 12VDC connector in ham radio.</li>
<li>cage clamp terminal strips (also known as spring clamp terminal strips)</li>
<li>some kinds of twist-lock bi-pin connector and bayonet connectors</li>
<li>some kinds of 8P8C "RJ45" "Ethernet" connectors. <a href="http://reprap.org/wiki/list_of_electronics" rel="nofollow">Many RepRaps</a> use these connectors to carry power over CAT5 cable to the stepper motors, in a way completely incompatible with any power-over-Ethernet standard or any Ethernet data standard.</li>
<li>a few barrel connectors have a retaining groove that lets it snap into place</li>
<li>The kind of IDC ribbon cable connector that has a "latch"</li>
<li>USB connectors are becoming the standard 5VDC connector</li>
</ul>

<p>(Too many connectors allow parts to gradually slip further and further out of place, until the connection falls apart. This includes most screw connectors, barrel connectors, etc.).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-252" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-252">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-252" class = 'collapse'>
			</div>
				<textarea id = "speech-252" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-252">
					<img id="start_img-252" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-252">Comment</button>
			<br><div id = "ans-291"  class = "post">
				<h2>Answer</h2>
			<div id="vote-291" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Maybe too expensive for a home project, but the MIL-DTL-38999 series connector (available from <a href="http://www.glenair.com/interconnects/mildtl38999/" rel="nofollow">Glenair</a> and many other suppliers) is the connectro of choice for military equipment</p>

<p>OK, it fails your "they are not simple plug-in connectors" requirement but are ideal for disconnect/reconnect in all kinds of environments.</p>

<p>ANd no I don't work for Glenair :)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-291" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-291">{'None': 41}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-291" class = 'collapse'>
			</div>
				<textarea id = "speech-291" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-291">
					<img id="start_img-291" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-291">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>