<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What device do I need to project a laser to point at a specific location?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7825" class = "post">
			<h2>Question</h2>
			<div id="vote-7825" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What device do I need to project a laser to point at a specific location?</h2>
<p>I'm searching for a (commercial) projector that just projects a single laser point into the world (e.g. using two moving mirrors). However, I'm struggling because I'm not sure what such a thing is called. I either find area projectors that use lasers, party equipment or laser pointers. </p>

<p>What is the name for such a device? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7825" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-7825">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7825">Load Comments</button></br>
			<div id = "commentsection-7825" class = 'collapse'>
			<div id = "comment-11381" class = "comment">
				<p>What's your application? Are you looking to purchase a finished solution or are you okay with DIY?</p>
			</div>
			<div id = "comment-11385" class = "comment">
				<p>I want to check if you can build some kind of Human Robot Interface with the system. And I'd rather buy something as I currently have more funding than time.</p>
			</div>
			</div>
				<textarea id = "speech-7825" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7825">
					<img id="start_img-7825" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7825">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7826"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7826" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The underlying mechanism used by high performance laser painting devices is usually a <em>galvo</em> (Galvanometer scanner, Laser Galvanometer or Mirror Galvanometer).</p>

<p>High performance galvos, like this one from scanlab are essential to the  laser <a href="http://www.scanlab.de/en/applications/micromachining" rel="nofollow noreferrer">micro-machining</a> (drilling, cutting, marking) industries:</p>

<p><a href="https://en.wikipedia.org/wiki/File:DynAXIS_L.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/L2wI2.jpg" alt="Scanlab mirror galvanometer from Wikipedia"></a></p>

<p>Their cost and performance may significantly exceed your requirements however. These are designed to position themselves in microseconds, to sub-micron (near field) accuracy.</p>

<p><sub>I have no association with Scanlab, but I worked for many years in the laser micro-machining industry and they are the products I'm most familiar with.</sub></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7826" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-7826">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7826">Load Comments</button></br>
			<div id = "commentsection-7826" class = 'collapse'>
			<div id = "comment-11383" class = "comment">
				<p>+1, in 2D cutting applications, using a galvo to move the laser is orders of magnitude faster compared to a CNC based movement of the laser. The reason is that the mirror is very light and the only mass that has to be moved.</p>
			</div>
			<div id = "comment-11387" class = "comment">
				<p>Thanks, that was what I was looking for. I just ordered a preconfigured pair with controller, so that I just have to provide analog Input signals for the two mirrors (http://www.mylaserpage.de/images/Litrack.jpg).</p>
			</div>
			</div>
				<textarea id = "speech-7826" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7826">
					<img id="start_img-7826" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7826">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>