<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the Kalman Filter in the basics of its aspects?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2331" class = "post">
			<h2>Question</h2>
			<div id="vote-2331" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 88</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the Kalman Filter in the basics of its aspects?</h2>
<p>My question is very broad. However I would like a complete description to the very last detail in a way that a foreign exchange student would understand. I want to try my best to master the way the Kalman Filter works. Please be as through as you possibly can, and more.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2331" data-toggle = "popover">
				<p>user name : sdffftrgtyhryrfff</p>
				<p> user reputation : 145</p>
				<p class = "tagcontent" id = "usertaginfo-2331">{'None': 5, 'kalman-filter': -3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2331">Load Comments</button></br>
			<div id = "commentsection-2331" class = 'collapse'>
			<div id = "comment-4671" class = "comment">
				<p>This question is being asked all the time. Check out the existing answers which contains very valuable links to tutorials/explanations/etc.

http://robotics.stackexchange.com/search?q=kalman</p>
			</div>
			</div>
				<textarea id = "speech-2331" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2331">
					<img id="start_img-2331" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2331">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2339"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2339" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Imagine watching a bird flying behind some trees.  You can observe the bird's speed and direction, and when it passes behind a tree you have an expectation of (approximately) where you will see it appear on the other side.  If the tree is wide, or there are several trees in a group, the bird will be hidden for longer -- and there will be a larger set of possibilities for where you might see the bird again.  A Kalman filter is a more formal version of this process.</p>

<p>Because this is a statistical technique, it works best when the possible variations in the path of the bird (or whatever you're filtering) follow a gaussian distribution -- in other words, are completely random.  </p>

<p>Those are the very basic concepts, and I'm not sure how I'd explain the rest any better than something you'd find on Google.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2339" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2339">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2339" class = 'collapse'>
			</div>
				<textarea id = "speech-2339" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2339">
					<img id="start_img-2339" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2339">Comment</button>
			<br><div id = "ans-2386"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2386" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"Please be as through as you possibly can"</p>

<p>This is a book length subject.  To cover it completely would required hundreds of pages of text. </p>

<p>The best way to learn, and I'm just starting to learn is to start out very simple.  Make a filter where the state is just a 2D vector and the measurements look a LOT like the state.</p>

<p>Then you try a harder problem and so on.   I doubt you can learn by reading.  I can't.  I have to use the theory to learn it.  This is a very good and simple explanation, about as simple as in can get: <a href="http://greg.czerniak.info/guides/kalman1/" rel="nofollow">Kalman tutorial</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2386" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-2386">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2386" class = 'collapse'>
			</div>
				<textarea id = "speech-2386" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2386">
					<img id="start_img-2386" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2386">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>