<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What should I use for speech recognition?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2182" class = "post">
			<h2>Question</h2>
			<div id="vote-2182" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 123</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What should I use for speech recognition?</h2>
<p>I was wondering, my team and me are working on a robot communication-oriented and we wanted to add speech recognition on it.</p>

<p>What technology should I use ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2182" data-toggle = "popover">
				<p>user name : David Bensoussan</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-2182">{'None': 0, 'software': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2182">Load Comments</button></br>
			<div id = "commentsection-2182" class = 'collapse'>
			<div id = "comment-4292" class = "comment">
				<p>I think you should clarify your question, as speech recognition can go in some implementations, like: you need to accept non-trained commands? you need to accept no trained voices? you need to distinguish between voices? If you can train, you can use a "matching" algorithm with the recorded commands, if not (that is, anyone should be recognized by the system) that is a complex system, and major is closed source.</p>
			</div>
			</div>
				<textarea id = "speech-2182" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2182">
					<img id="start_img-2182" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2182">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2183"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2183" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You must go through softwares like matlab(licensed). Open source versions are also available like QtOctave and FreeMat.</p>

<p>You must have a sound knowledge about Digital Signal Procesing , different type of Filters etc..</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2183" data-toggle = "popover">
				<p>user name : kernel</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-2183">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2183">Load Comments</button></br>
			<div id = "commentsection-2183" class = 'collapse'>
			<div id = "comment-4290" class = "comment">
				<p>Why is matlab better for embedded ?
Why not sphinx ? why not SmartVR ?</p>
			</div>
			<div id = "comment-4291" class = "comment">
				<p>@DavidBensoussan I don't think it is :)</p>
			</div>
			</div>
				<textarea id = "speech-2183" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2183">
					<img id="start_img-2183" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2183">Comment</button>
			<br><div id = "ans-2184"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2184" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think there is any "must" for you task. In turn, it depends on what your robot platform is. In the context of embedded systems, MATLAB could be cumbersome.</p>

<p>I don't know what your robot system is like, but maybe this <a href="http://www.pirobot.org/blog/0022/" rel="nofollow">article</a> based on ROS and Sphinx is a good starting point?</p>

<p>Also, for the purpose of understanding speech recognition technologies, the <a href="http://htk.eng.cam.ac.uk/" rel="nofollow">HTK toolkit</a> and the <a href="http://en.wikipedia.org/wiki/HTK_%28software%29" rel="nofollow">HTK book</a> are a good reference.</p>

<p>For a general idea of the state-of-art research on speech recognition, you can also visit <a href="http://www-i6.informatik.rwth-aachen.de/rwth-asr/" rel="nofollow">http://www-i6.informatik.rwth-aachen.de/rwth-asr/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2184" data-toggle = "popover">
				<p>user name : nil</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-2184">{'None': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2184">Load Comments</button></br>
			<div id = "commentsection-2184" class = 'collapse'>
			<div id = "comment-4294" class = "comment">
				<p>I'll try it asap.
Thx !</p>
			</div>
			</div>
				<textarea id = "speech-2184" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2184">
					<img id="start_img-2184" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2184">Comment</button>
			<br><div id = "ans-2187"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2187" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You may find the Natural Language Tool Kit useful.</p>

<p><a href="http://nltk.org/" rel="nofollow">http://nltk.org/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2187" data-toggle = "popover">
				<p>user name : en4bz</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-2187">{'mobile-robot': 6, 'None': 2, 'ros': 6, 'kalman-filter': 6, 'ekf': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2187">Load Comments</button></br>
			<div id = "commentsection-2187" class = 'collapse'>
			<div id = "comment-4304" class = "comment">
				<p>On my "to try" list ! Thx</p>
			</div>
			</div>
				<textarea id = "speech-2187" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2187">
					<img id="start_img-2187" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2187">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>