<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the approaches for indoor robot positioning?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8510" class = "post">
			<h2>Question</h2>
			<div id="vote-8510" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 184</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the approaches for indoor robot positioning?</h2>
<p>I understand that most of the self-driving cars solutions are based on Lidar and video SLAM.</p>

<p>But what about robots reserved for indoor usage? Like robot vacuums and industrial AGVs? I see that Lidar is used for iRobot and their latest version uses VSLAM. AGVs also seem to use Lidar.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8510" data-toggle = "popover">
				<p>user name : teddy teddy</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-8510">{'None': 0, 'slam': 2, 'lidar': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8510">Load Comments</button></br>
			<div id = "commentsection-8510" class = 'collapse'>
			<div id = "comment-13761" class = "comment">
				<p>Are you asking about sensors or algorithms, or both?</p>
			</div>
			<div id = "comment-13816" class = "comment">
				<p>This question is a little backwards because I believe robotic indoor positioning predates outdoor positioning by a lot. There is plenty of literature on robotic indoor positioning.</p>
			</div>
			</div>
				<textarea id = "speech-8510" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8510">
					<img id="start_img-8510" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8510">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8520"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8520" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That's about it for mainstream robots. Lasers, Cameras, Inertial Measurement Units (IMUs), and odometry or kinematic updates. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8520" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-8520">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8520" class = 'collapse'>
			</div>
				<textarea id = "speech-8520" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8520">
					<img id="start_img-8520" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8520">Comment</button>
			<br><div id = "ans-8530"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8530" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Dead Reckoning: </p>

<p>Robot moves and counts its steps (or better said the rotation of its wheels), it tends to drift with longer distances. Can be made robuster by fusing information from an IMU (acceleration plus rotation speed) Needs an exact position initialization, especially the rotation angle.</p>

<p>Montecarlo localization: </p>

<p>Using a known map, the robot compares what it observed using its lidar and tries to fit it to the map, the result is a probabilistic state estimation that tends to converge as the robot moves. It needs an expensive lidar. Can be done with a kinect though. Needs a rough position initialization most of the times.</p>

<p>Purely visual methods: </p>

<p>Observe environment with a camera and find features that belong to one specific position. Not very scalable and needs a lot of computing power. Most of the time not very accurate positioning, but can be used as position initialization for other algorithms.</p>

<p>There is also plenty of other methods that require an additional infrastructure like installing bluetooth beans all over the building, or using Wifi routers if they are already there. Many companies also offer solution with magnetic wires installed under the floor that robots can detect. RFID tags are also another cheap solution but not so accurate. Another classical approach is using <a href="http://www.uco.es/investiga/grupos/ava/node/26" rel="nofollow">AR markers</a> combined with a monocular camera, a cheap localization system with a high accuracy.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8530" data-toggle = "popover">
				<p>user name : Mehdi</p>
				<p> user reputation : 394</p>
				<p class = "tagcontent" id = "usertaginfo-8530">{'control': 1, 'odometry': 12, 'None': 15, 'computer-vision': 10, 'mobile-robot': 2, 'power': 1, 'battery': 1, 'navigation': 2, 'cameras': 7, 'torque': 1, 'lidar': 5, 'joint': 2, 'slam': 12, 'magnetometer': 2, 'laser': 1, 'speech-processing': 3, 'rangefinder': 4, 'actuator': 1, 'sensors': 4, 'digital-audio': 0, '3d-reconstruction': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8530">Load Comments</button></br>
			<div id = "commentsection-8530" class = 'collapse'>
			<div id = "comment-13811" class = "comment">
				<p>SLAM (alternatively Camera Space Manipulation) is similar to the Monte Carlo approach Mehdi describes, but uses a pinhole camera model with inexpensive cameras to determine position relative to a known model, using a Kalman filter algorithm.  I guess it is a fourth approach to what Mehdi describes - kind of a combination between his second and third methods.  Durant-Whyte published a lot about the approach, as did Steven Skaar, if you want to look it up.</p>
			</div>
			<div id = "comment-13812" class = "comment">
				<p>SLAM is a very broad word and can be used with multiple types of sensors (lidars, camera, RGBD sensors etc.) . It is not only about localization but also building a map of the environment at the same time. Once a map is obtained, SLAM is not necessary any more. Kalman filter is always used for state estimation anyway, it is just a filter that takes any additional information about the robot's pose. Many SLAM algorithms are accessible on this website https://openslam.org .</p>
			</div>
			<div id = "comment-13813" class = "comment">
				<p>I agree with your comment.  I should have mentioned different sensor types.  The point of my comment, though, was to explain that the state estimation techniques are not just for "expensive lidar" sensors.  I believe that is what the reader would believe from your original answer.</p>
			</div>
			</div>
				<textarea id = "speech-8530" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8530">
					<img id="start_img-8530" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8530">Comment</button>
			<br><div id = "ans-8531"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8531" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For drone tracking my institute uses the commercial system <a href="http://www.optitrack.com/motion-capture-robotics/" rel="nofollow">OptiTrack</a>. It uses cameras and special markers placed on the robot and/or other objects to localize them. They have a high precision:</p>

<blockquote>
  <p>OptiTrack s drone and ground robot tracking systems consistently produce positional error less than 0.3mm and rotational error less than 0.05 . </p>
</blockquote>

<p>Therefore this system is also used as a <a href="https://en.wikipedia.org/wiki/Ground_truth" rel="nofollow">ground truth</a> to compare and verify other localization algorithms.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8531" data-toggle = "popover">
				<p>user name : agold</p>
				<p> user reputation : 250</p>
				<p class = "tagcontent" id = "usertaginfo-8531">{'None': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8531" class = 'collapse'>
			</div>
				<textarea id = "speech-8531" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8531">
					<img id="start_img-8531" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8531">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>