<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What motor to use for reciprocating (reversive) movement
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2348" class = "post">
			<h2>Question</h2>
			<div id="vote-2348" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3779</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What motor to use for reciprocating (reversive) movement</h2>
<p>I want to make a copy of this machine <a href="https://www.youtube.com/watch?v=16x-_9pcWXU" rel="nofollow">Fisher Price Soothing Motions  Glider</a> and I'm wondering what motor to use? Simple DC motor with appropriate gearbox (slow rpm) or stepper motor?</p>

<p><a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=KvlVKIuXGuI" rel="nofollow">Here</a> is another instance of this idea.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2348" data-toggle = "popover">
				<p>user name : Marian Pa dzioch</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-2348">{'None': 2, 'soccer': 1, 'robotic-arm': 4, 'rcservo': 1, 'valve': 1, 'simulator': 1, 'mechanism': 6, 'gearing': 0, 'tracks': 0, 'chassis': 0, 'motor': 2, 'stepper-motor': 2, 'manufacturing': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2348">Load Comments</button></br>
			<div id = "commentsection-2348" class = 'collapse'>
			<div id = "comment-4579" class = "comment">
				<p>This is a fairly broad question, because many motors might be suited to this task.</p>
			</div>
			<div id = "comment-4585" class = "comment">
				<p>I should remember to look back at this question when we decide to have a baby!</p>
			</div>
			<div id = "comment-4595" class = "comment">
				<p>You would need a fairly powerful motor for this application and I would also be concerned about safety if you build your own.</p>
			</div>
			<div id = "comment-4598" class = "comment">
				<p>@GuySirton I completely agree with the safety part. But the powerful one is relative. Even that, it needs just to overcome the inertia. Depending on the rotor, the inertia of the rotor could help the motor in the more requiring force travels. This with the motion being relatively slow, would let a fraction of hp to do the work. But, as the motor is supposed to run at continuous duty, I would be more concerned on thermostat, colling the motor, that is, safety.</p>
			</div>
			<div id = "comment-4600" class = "comment">
				<p>@MarianPa dzioch seems that the first one has linear motion, if so you should have to project the sliding mechanism too. The second one already shows the mechanism (reciprocating), with a DC brushed-motor and gear-box.</p>
			</div>
			<div id = "comment-4604" class = "comment">
				<p>@DiegoCNascimento Note the video shows a fairly high acceleation of a fairly high load (multiple kilograms at least).  This isn't an RC car motor in there, it's something that can chew up your fingers...  (an appropriately geared RC car motor might do that too though but this is bigger...)</p>
			</div>
			<div id = "comment-4608" class = "comment">
				<p>@GuySirton well its approximately 1 travel per second. Depending on the crank mechanism this would be 0.5RPS. Small DC brushed motors normally go to 1000RPM easy under small load (thats so generic anyway), so a reduction of 1:34 can be used. Consider a motor with a stall torque of 1kgf/cm then we have 34kgf/cm. With a 10 cm arm, that is 3,4Kg of linear force on the more fast rotation period.</p>
			</div>
			<div id = "comment-4609" class = "comment">
				<p>@DiegoCNascimento Your arm would need to be much longer to get this stroke, right?  You need to take into account the mechanism you use to translate the rotary motion into linear motion.  By your argument we can move any linear mass with any acceleration as long as we make the arm short enough...</p>
			</div>
			<div id = "comment-4611" class = "comment">
				<p>@GuySirton I don't think it needs to be much longer than that. If we assume the crank shaft to be at the same plane as the linear axis of motion, with a 10 cm arm we have 20 cm travel, I don't know how much the baby needs :) Anyway my example don't leave into consideration gearing losses, but it take a 18W DC-Brushes motor in the best efficiency as an example (stall torque is more than 3Kgf/cm), really a small motor for this (opinion based).</p>
			</div>
			<div id = "comment-4612" class = "comment">
				<p>Well other thing to consider is noisy, otherwise the music should be on all the time :)</p>
			</div>
			<div id = "comment-4613" class = "comment">
				<p>@GuySirton `By your argument we can move any linear mass with any acceleration as long as we make the arm short enough` I don't know from where you get that. My argument is objective about the stroke length, torque and force, and speed, no place I say the stroke can be any length with the same force.</p>
			</div>
			<div id = "comment-4621" class = "comment">
				<p>@Diego C Nascimento: noise shouldn't be such a problem, in fact it can even help to lull the baby</p>
			</div>
			<div id = "comment-4623" class = "comment">
				<p>@DiegoCNascimento But the force that a crank puts out isn't constant, it depends on the angle of the motor.  I think it'd be easier to see if we go through the calculation with a screw drive.</p>
			</div>
			<div id = "comment-4624" class = "comment">
				<p>@GuySirton if the mechanism is designed the way I said, the less force and more fast will be at center of travel, as it produces a sinusoidal like motion. The calc are for these rotation moment.</p>
			</div>
			<div id = "comment-4632" class = "comment">
				<p>@DiegoCNascimento It seemed to me the stroke was longer and the required acceleration was higher but sounds like Marian did find a relatively small motor in the device as per his comment below...  I wonder what motor specifically that was.</p>
			</div>
			</div>
				<textarea id = "speech-2348" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2348">
					<img id="start_img-2348" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2348">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2353"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2353" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A DC or AC gearmotor is all you need. If you're asking about a stepper because of the change in direction, you can use a crank shaft mechanism to convert motion from rotary to reciprocating linear like the one in the above image:</p>

<p><img src="https://i.stack.imgur.com/GKuEh.gif" alt="a crank mechanism"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2353" data-toggle = "popover">
				<p>user name : lyndon</p>
				<p> user reputation : 206</p>
				<p class = "tagcontent" id = "usertaginfo-2353">{'None': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2353">Load Comments</button></br>
			<div id = "commentsection-2353" class = 'collapse'>
			<div id = "comment-4584" class = "comment">
				<p>Reciprocating motion - I was looking for that term, thanks. And by the way I've bought and disassembled "Fisher Price Soothing Motions  Glider" - there is simple crankshaft mechanism with small toy-looking DC motor (cylinder shaped, ~3cm diameter, 3cm height)</p>
			</div>
			<div id = "comment-4596" class = "comment">
				<p>@lyndon your answer would be a lot nicer with a drawing (or a picture) of such a mechanism...  Maybe Marian could contribute a picture of the actual mechanism from the device?</p>
			</div>
			<div id = "comment-4601" class = "comment">
				<p>I'm positive that I was able to upload a .gif animation to electronics.stackexchange.com before. Did StackExchange stop accepting gifs? Animations make it much easier to visualize stuff like this.</p>
			</div>
			</div>
				<textarea id = "speech-2353" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2353">
					<img id="start_img-2353" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2353">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>