<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the actual application for manufactuing, with robot arm autonomous object classification system
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3125" class = "post">
			<h2>Question</h2>
			<div id="vote-3125" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 64</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the actual application for manufactuing, with robot arm autonomous object classification system</h2>
<p>I m a graduate student, and we're doing a project that is going to introduce a robot arm into manufacturing. Our goal is to build up an autonomous object classification system. We already have the software and hardware required for the task, but we have no idea if there is any existing manufacturing scenario where we can apply the system and really improve the efficiency or save human resources.</p>

<p>Here is some info about the robot arm:
For the hardware part, the robot arm is with 7 dof and 5kg payload (the weight of the end effector is not counted). Besides, the end effector is a 1.5kg 3-fingered robot hand with 2kg payload. The workspace is approximately a sphere with 0.9m diameter.</p>

<p>For the software part, we have programming by touch, by which human can drag the robot and record the desired pose. Besides, we have PCL object recognition that can recognize the object and its pose in the scene. Lastly, we have online trajectory generator and dynamic obstacle avoidance that can improve the safety when the robot corporates with human.</p>

<p>Since we know few about manufacturing, we hope that someone can give us a hint about the scenario and an actual application where we can apply this system. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3125" data-toggle = "popover">
				<p>user name : AlbertK</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-3125">{'None': 0, 'manufacturing': 1, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3125" class = 'collapse'>
			</div>
				<textarea id = "speech-3125" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3125">
					<img id="start_img-3125" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3125">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4605"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4605" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You seem to have described something similar to the UR-5 from universal robotics.</p>

<p>Here are a couple of videos worth watching to give an idea of how they are used:</p>

<p><a href="http://www.youtube.com/watch?v=2ZaLxTAVyBQ" rel="nofollow">A Company Called OTV Plastic</a></p>

<p><a href="http://www.youtube.com/watch?v=5K5VYm8z4nY" rel="nofollow">Brief glimpse of a couple dozen applications</a></p>

<p>There's plenty more videos out there too (including BMW's factories where they use the UR-5), but I just joined this StackExchange site so I can't post more than 2 links. Many of these applications use different attachments than the 3 fingered hand you describe, but this should still give you a good idea.</p>

<p>Anywhere the production line has a place where an object needs to repetitively be grabbed and moved or repositioned, your robot could be used. It could be used for packing products at the end of the assembly line. Depending on accuracy and repeatability, it could be used for assembling small parts.</p>

<p>The nice thing about being programmed as you described is that it doesn't take a dedicated programmer on staff when the robot needs to be re-purposed for another job. And of course the safety features are nice because standard industrial robots need to work in a space that is separated from human workers to avoid injury risk.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4605" data-toggle = "popover">
				<p>user name : JR Warren</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4605">{'servomotor': 5, 'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4605" class = 'collapse'>
			</div>
				<textarea id = "speech-4605" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4605">
					<img id="start_img-4605" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4605">Comment</button>
			<br><div id = "ans-4618"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4618" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you have a solution in search of a problem...  </p>

<p>Autonomy, online path planning, and general object classification have been slow (if at all) to be used in manufacturing.  The reason is because in manufacturing you know exactly which parts are coming down the line, where they will be and when.  You also have almost complete control over the environment, colors, lighting, keeping humans away, etc.  </p>

<p>That being said, some companies are trying to make inroads to the light-manufacturing area.  Universal Robotics mentioned by Warren is one company, Rethink Robotics (<a href="http://www.rethinkrobotics.com/" rel="nofollow">http://www.rethinkrobotics.com/</a>) is another.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4618" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4618">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4618" class = 'collapse'>
			</div>
				<textarea id = "speech-4618" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4618">
					<img id="start_img-4618" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4618">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>