<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What's the most adapted programming language for Robotic and principally AI?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4488" class = "post">
			<h2>Question</h2>
			<div id="vote-4488" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 384</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What's the most adapted programming language for Robotic and principally AI?</h2>
<p>I'm currency a Web programmer and I'm very passionate by robotics and specialty for Artificial Intelligence. </p>

<p>I have already make some C++ program for Microship and Arduino for little robots and other Lisp codes (example for labyrinth path search) but I think it's not really applicable for projects further. </p>

<p>I have read a lots for artificial neural network to create artificial mind, but it's very theoretical and I have no idea to reproduce that on code.</p>

<p>Someone have a idea to help me, a specific language, or just a C++ library ? 
If you have some links, articles, or other tutorials I take it.</p>

<p>Thank a lots !</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4488" data-toggle = "popover">
				<p>user name : Arthur</p>
				<p> user reputation : 85</p>
				<p class = "tagcontent" id = "usertaginfo-4488">{'servomotor': 3, 'None': 0, 'cameras': 3, 'raspberry-pi': 3, 'arduino': 4, 'artificial-intelligence': 2, 'wireless': 1, 'programming-languages': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4488">Load Comments</button></br>
			<div id = "commentsection-4488" class = 'collapse'>
			<div id = "comment-7093" class = "comment">
				<p>"Best"-type questions are not particularly valuable for this format of discussion.  http://robotics.stackexchange.com/help/dont-ask</p>
			</div>
			<div id = "comment-7096" class = "comment">
				<p>Okay, i'll change it</p>
			</div>
			</div>
				<textarea id = "speech-4488" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4488">
					<img id="start_img-4488" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4488">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4490"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4490" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Python has become increasingly popular in the computational sciences, but I'm not sure how widespread is its use in AI, machine learning, or robotics.  </p>

<p>What I do know is that one popular choice is to use the open source <a href="http://www.ros.org" rel="nofollow">Robot Operating System (ROS)</a> to interface code with hardware.  While it is not a programming language per se, it interfaces with lots of codes written generally in C++ and Python.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4490" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-4490">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4490" class = 'collapse'>
			</div>
				<textarea id = "speech-4490" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4490">
					<img id="start_img-4490" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4490">Comment</button>
			<br><div id = "ans-4497"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4497" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am a programmer for my schools robotics team. We use Robot C. Very similar to Java but with slight syntax differences. Specifically i work with Vex Robotics. One part of the code controls Autonomous (non user controlled) programming. Check it out!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4497" data-toggle = "popover">
				<p>user name : theeppright</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-4497">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4497" class = 'collapse'>
			</div>
				<textarea id = "speech-4497" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4497">
					<img id="start_img-4497" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4497">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>