<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What is planned for Apple's fall 2013 press event?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1806" class = "post">
			<h2>Question</h2>
			<div id="vote-1806" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 167</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is planned for Apple's fall 2013 press event?</h2>
<p>Invitations for Apple's fall (in the northern hemisphere) 2013 press event have been sent:</p>

<ul>
<li><a href="http://www.loopinsight.com/2013/09/03/apple-announces-special-event-for-september-10/" rel="nofollow">http://www.loopinsight.com/2013/09/03/apple-announces-special-event-for-september-10/</a></li>
</ul>

<p>The pithy summary for this post above is: <em>It is widely expected that Apple will introduce a new iPhone at the event.</em></p>

<p>I have posted a community event for <a href="http://everytimezone.com/#2013-9-10,300,1zz" rel="nofollow">10 AM Pacific Time</a> that links to this discussion thread so people can share their ideas to help promote either the site or this event.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1806" class = 'collapse'>
			</div>
				<textarea id = "speech-1806" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1806">
					<img id="start_img-1806" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1806">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1807"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1807" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, we should have a chat room event for a start, a place to hang out and share useful livestreams and other info etc, maybe open it early and let people rip with the rumours in a controlled space ;)</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1807">Load Comments</button></br>
			<div id = "commentsection-1807" class = 'collapse'>
			<div id = "comment-3419" class = "comment">
				<p>I'm so glad you volunteered to set up the chat room event ;-)</p>
			</div>
			<div id = "comment-3420" class = "comment">
				<p>http://chat.stackexchange.com/rooms/info/4771/apple-press-event-chat?tab=schedule</p>
			</div>
			<div id = "comment-3421" class = "comment">
				<p>60 min might be a bit short...</p>
			</div>
			<div id = "comment-3422" class = "comment">
				<p>Rooms open for business before and after</p>
			</div>
			<div id = "comment-3425" class = "comment">
				<p>There's a couple of hundred followers to the AD Twitter feed.  Can't harm to throw a tweet to the chat event out to them.  Anyone got the chops for that?</p>
			</div>
			<div id = "comment-3434" class = "comment">
				<p>I think we need to email the team@stackexchange.com asking them to poke the people that handle the twitter account to tweet things manually.</p>
			</div>
			</div>
				<textarea id = "speech-1807" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1807">
					<img id="start_img-1807" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1807">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>