<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What's the difference between a holonomic and a nonholonomic system?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9642" class = "post">
			<h2>Question</h2>
			<div id="vote-9642" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3502</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What's the difference between a holonomic and a nonholonomic system?</h2>
<p>I was wondering if a 1D point mass (a mass which can only move on a line, accelerated by an external time-varying force, see <a href="https://en.wikipedia.org/wiki/Double_integrator" rel="nofollow">Wikipedia - Double integrator</a>) is a holonomic or a nonholonomic system? Why?</p>

<p>I think that it is nonholonomic since it cannot move in any direction in its configuration space (which is 1D, just the $x$ axis). E.g. if the point mass is moving at $$x=10$$ with a velocity of 100 m/s in positive $x$-direction it cannot immediately go to $$x=9.9$$ due to its inertia. However, I have the feeling that my thoughts are wrong...</p>

<p>The background is the following:</p>

<p>I am trying to understand what holonomic and nonholonomic systems are. What I found so far:</p>

<p><em>Mathematically</em>:</p>

<ul>
<li>Holonomic system are systems for which all constraints are integrable into positional constraints.</li>
<li>Nonholonomic systems are systems which have constraints that are nonintegrable into positional constraints. </li>
</ul>

<p><em>Intuitively</em>:</p>

<ul>
<li>Holonomic system where a robot can move in any direction in the configuration space. </li>
<li>Nonholonomic systems are systems where the velocities (magnitude and or direction) and other derivatives of the position are constraint. </li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-9642" data-toggle = "popover">
				<p>user name : user137589</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-9642">{'None': 0, 'dynamics': 5, 'movement': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9642">Load Comments</button></br>
			<div id = "commentsection-9642" class = 'collapse'>
			<div id = "comment-17090" class = "comment">
				<p>I suggested an edit to change the title of your question to the more general question you are asking in an attempt to get a canonical answer. Feel free to reject it if you disagree. Either way: good question, +1</p>
			</div>
			</div>
				<textarea id = "speech-9642" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9642">
					<img id="start_img-9642" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9642">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9644"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9644" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For a nonholonomic system, you can at best determine a differential relationship between state and inputs.   You cannot determine a closed-form geometric relationship.  This means that the history of states is needed in order to determine the current state.   Vehicles are a good example because you can intuitively see that turning the right wheel 100 rotations and turning the left wheel 100 rotations does not provide enough information to describe the change in position.   If the wheels are turned synchronously, the vehicle will follow a straight line.   If they are coordinated in another sequence, the robot will turn, and follow some other path.   This is nonholonomic:  knowing the total change in state variables is insufficient to describe the motion, because you cannot write a geometric relationship between input and output.  It is differential at best.  </p>

<p>The system you describe seems holonomic to me.   If the total motion of your point mass is 1 meter forward, doesn't that hold regardless of the history of motions that resulted in the net 1m path?   I did not dive into the paper to look at the equations yet so I could be wrong.  But intuitively, I think there would be a closed-form, non-differential, equation for that mass' motion profile.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9644" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9644">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9644" class = 'collapse'>
			</div>
				<textarea id = "speech-9644" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9644">
					<img id="start_img-9644" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9644">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>