<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the best way to power a large number (27) servos at 5 V?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-416" class = "post">
			<h2>Question</h2>
			<div id="vote-416" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1719</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the best way to power a large number (27) servos at 5 V?</h2>
<p>I apologize if this question may sound a little vague. I am working on a robotics project that will contain 27 servos of various sizes and I am having trouble figuring it how they should be powered.</p>

<p>I was hoping to use several (3-6) 5 W 18650 battery boxes to power them, but the smallest motors would use 2.5 W each, so 1 battery box can only power two. The larger servos, obviously, use even more current, so this plan of using a small number of 18650's becomes infeasible.</p>

<p>There is not enough room on the robot for a 12 V car battery, and adding one would require recalculating the sizes of the servomotors that would be needed. Furthermore, I am not sure how to convert the 12 V it gives down to 5 V for the servomotors.</p>

<p>P.S. What about the stall current of the motors? Should the power supply be able to supply the stall current of all the motors it supplies (at the same time) or just the working current? Should I use a fuse to handle when (if?) the servomotors stall? Should I use a fuse or a circuit breaker? Do they make 5 V fuses? If so, where can I get one?</p>

<p>Something like a larger version of the 18650 box would be most preferable.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-416" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-416">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-416">Load Comments</button></br>
			<div id = "commentsection-416" class = 'collapse'>
			<div id = "comment-495" class = "comment">
				<p>Are all the motors going to run at the same time? If these are for the legs of a hexapod / octapod, are a certain number of legs not always stationary?</p>
			</div>
			<div id = "comment-2899" class = "comment">
				<p>Please retag this question with either [servomotor](http://robotics.stackexchange.com/questions/tagged/servomotor) or [rcservo](http://robotics.stackexchange.com/questions/tagged/rcservo) according to the new tag descriptions (See also [this meta discussion](http://meta.robotics.stackexchange.com/q/170/37)). Thanks,</p>
			</div>
			</div>
				<textarea id = "speech-416" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-416">
					<img id="start_img-416" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-416">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-417"  class = "post">
				<h2>Answer</h2>
			<div id="vote-417" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This problem is a lot like rocket science. With a rocket, the heavier it is, the more fuel they need to lift off which makes it even heavier! You have your servos, but to power them you need a big battery making the robot heavier, this means stronger servos and an even bigger battery! If you can't work out how to power the robot with an onboard battery then prehaps you would have to settle for an off-board power supply.</p>

<p>Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-417" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-417">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-417" class = 'collapse'>
			</div>
				<textarea id = "speech-417" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-417">
					<img id="start_img-417" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-417">Comment</button>
			<br><div id = "ans-418"  class = "post">
				<h2>Answer</h2>
			<div id="vote-418" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's always difficult speccing the power supply for a robot, and you've hit the exact problem we all face. Do you spec it to cope with the typical load, or the absolute maximum load when all motors are stalled at max current?</p>

<p>There's no right answer to this, except that whatever happens it shouldn't damage anything. The good news is that the servos probably won't be consuming 2.5W all the time, so a good way to start is to connect your system up to a large power supply with an ammeter and measure the actual current draw under typical heavy use. Once you know the maximum current draw, you can spec the batteries for that. </p>

<p>The other thing you need to decide is how long you want the thing to run for. That will tell you how much battery capacity you need, and therefore the size of the battery. But, as you say, if that means you need a larger battery, then it might mean you need larger servos and more current, and therefore a larger battery! There might be no solution to this problem, except:</p>

<ul>
<li>Ease your requirements. Accept that the robot won't run as long as you'd hoped.</li>
<li>If possible, add torsion springs to the servos to help them lift the battery weight. This will mean they consume slightly less power.</li>
</ul>

<p>But what to do in the extreme case where all the motors are stalled?</p>

<p>You might consider something like a <a href="http://www.linear.com/products/hot_swap_controllers">Hot Swap controller</a>. This is a little chip which guards the power input to your system. It protects against the large inrush current caused by your system's capacitors. It also protects against over current in general, as well as over voltage.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-418" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-418">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-418" class = 'collapse'>
			</div>
				<textarea id = "speech-418" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-418">
					<img id="start_img-418" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-418">Comment</button>
			<br><div id = "ans-465"  class = "post">
				<h2>Answer</h2>
			<div id="vote-465" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As Rocketmagnet mentioned, just because a motor is rated at 2.5 W doesn't mean it will be pulling 2.5 W <em>all the time</em>. Most robots have at most 1 or 2 servos that are running at full power at any one time; the rest have very low mechanical loads (and therefore pull much less electrical power) or are "off" and therefore pull practically zero electrical power.</p>

<p>This leads to 2 very different approaches to power supplies:</p>

<ul>
<li><p>Tethered robots and desktop computers use a power supply and heat-sinks that can handle the maximum possible worst-case power draw --
when everything pulls the maximum power at the same time.
27 servos * 2.5 W @ 5V requires a 5 VDC and at least 14 A power supply
(or perhaps several 5 VDC supplies that add up to at least 14 A).</p></li>
<li><p>Autonomous robots and modern laptops use a power supply and heat-sinks that can handle some <a href="http://en.wikipedia.org/wiki/thermal_design_power" rel="nofollow noreferrer">thermal design power</a>.
Some human arbitrarily picks some the TDP, which is much smaller than the worst-case power, but somewhat above the power required in "typical situations".
Then the power supply is designed so it can handle any load from 0 to <em>slightly above</em> the TDP.
And the rest of the system is designed so it <em>never exceeds</em> the TDP --
except perhaps for a few milliseconds.
The simplest approach is to have something that measures the total current draw --
then when the current exceeds the TDP, assume that things have already gone horribly wrong, and shut everything down for a few seconds.
More sophisticated approaches measure the current of each motor individually:
When some motor stalls, "limp mode" kills the power to that one motor,
so the robot continues to use the other motors at full power.
When lots of motors pull a total current that is too high,
"tired mode" reduces the power to all the motors
so the robot continues to use all the motors at a slower speed.</p></li>
</ul>

<blockquote>
  <p>5 V fuses?</p>
</blockquote>

<p>You could install one big 14 A fuse. Or you could install 27 individual 0.5 A fuses, one in the +5V power line of each motor. Or both. You'll probably find it easier to find "12 V" or "250 V" fuses, which will work just fine in your application.</p>

<p>There are many cheap polyfuses available (designed to protect 5V USB ports from excessive current). Alas, polyfuses take several seconds to "blow" -- too late to protect stuff from permanent damage, but quick enough to keep stuff from heating up, catching on fire, and burning down your house.</p>

<p>possibly related:
<a href="https://electronics.stackexchange.com/questions/44845/how-to-do-a-simple-overcurrent-protection-circuit-breaker-circuit-for-12v-1-2a">How to do a simple overcurrent protection/circuit breaker circuit for 12V 1-2A?</a></p>

<blockquote>
  <p>convert 12 V to 5 V</p>
</blockquote>

<p>Most people using servo motors use an off-the-shelf DC-DC converter to convert whatever voltage the batteries supply to the 5V required by the servos.<a href="http://www.societyofrobots.com/schematics_powerregulation.shtml" rel="nofollow noreferrer">(c)</a>
I see that <em>some</em> 18650 battery box (<a href="http://www.aliexpress.com/item/Free-Shipping-DIY-2A-5V-Mobile-Power-Supply-USB-Battery-Charger-18650-Box-with-voltage-meter/654255654.html" rel="nofollow noreferrer">a</a>) include a little DC-DC converter to convert the battery power to 5 VDC "USB battery charger".
(A few people use servomotors designed to be connected directly to 12 VDC. <a href="http://www.pololu.com/catalog/product/1390/specs" rel="nofollow noreferrer">a</a>)</p>

<p>Many DC-DC converters are set up so that they never pull more than some maximum current from the battery -- when the motor connected to their output stalls, the converter switches to a "constant-current" mode at some lower output voltage, pulling <em>less</em> power from the batteries.
If you put such a DC-DC converter on each servo, it automatically goes into and comes out of "limp mode" appropriately.</p>

<blockquote>
  <p>batteries</p>
</blockquote>

<p>"Selecting the proper battery for your robot" <a href="http://letsmakerobots.com/node/28427" rel="nofollow noreferrer">(a)</a></p>

<p>"Robot batteries" <a href="http://www.backyardrobots.com/parts/parts.shtml" rel="nofollow noreferrer">(b)</a></p>

<p>"Batteries I use in my Robotics" <a href="http://robosapienv2-4mem8.page.tl/Batteries.htm" rel="nofollow noreferrer">(c)</a></p>

<p>etc.
<a href="http://www.societyofrobots.com/batteries.shtml" rel="nofollow noreferrer">a</a>
<a href="http://www.robotmarketplace.com/products/battery_build_main.html" rel="nofollow noreferrer">b</a>
<a href="http://www.protechrobotics.com/products.php?cat=39" rel="nofollow noreferrer">c</a>
<a href="http://www.terrorhurtz.com/a123/" rel="nofollow noreferrer">d</a>
<a href="http://www.seattlerobotics.org/encoder/200210/lithiumion.htm" rel="nofollow noreferrer">e</a>
<a href="http://www.batteryspace.com/robotbatteries.aspx" rel="nofollow noreferrer">f</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-465" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-465">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-465" class = 'collapse'>
			</div>
				<textarea id = "speech-465" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-465">
					<img id="start_img-465" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-465">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>