<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are methods for dealing with compass lag (rate dependent hysteresis)?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-738" class = "post">
			<h2>Question</h2>
			<div id="vote-738" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 374</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are methods for dealing with compass lag (rate dependent hysteresis)?</h2>
<p>I've got a tread-driven robot, with low precision wheel encoders for tracking distance and an electronic compass for determining heading.  The compass has significant (> 1 second) lag when the robot turns quickly, e.g. after reaching a waypoint &mdash; pivoting in place to point to its new heading.  </p>

<p>What are ways for dealing with the lag?  I would think one could take a lot of measurements and model the compass response.  However, this seems problematic since it's rate-dependent and I don't know the instantaneous rate.</p>

<p>As a simple-but-slow approach, I have the robot turn until it's very roughly pointed in the right direction, then make very small incremental turns with brief measurement pauses until it's pointed the right way.  Are there other ways of dealing with this? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-738" data-toggle = "popover">
				<p>user name : ViennaMike</p>
				<p> user reputation : 353</p>
				<p class = "tagcontent" id = "usertaginfo-738">{'None': 15, 'sensors': 11, 'compass': 11}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-738" class = 'collapse'>
			</div>
				<textarea id = "speech-738" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-738">
					<img id="start_img-738" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-738">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-739"  class = "post">
				<h2>Answer</h2>
			<div id="vote-739" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A gyro is the simple answer. I've always heard, gyro for the short measurements, compass for the long. And realistically a cup of kallman filter between the two most of the time. The price of a 6DOF gyro/acc board is less than $20 these days, far too cheap to not use one.</p>

<p>At one time, I worked through <a href="http://nxttime.wordpress.com/2010/10/06/robotc-code-for-the-kalman-filter/" rel="nofollow">someone else's Kallman filter</a>. and got it working. A kallman filter is actually more of an approach, not a exact implementation, and in the gyro case, the end result does not need to use matrix math. It makes for much simpler code.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-739" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-739">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-739" class = 'collapse'>
			</div>
				<textarea id = "speech-739" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-739">
					<img id="start_img-739" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-739">Comment</button>
			<br><div id = "ans-740"  class = "post">
				<h2>Answer</h2>
			<div id="vote-740" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The lag in the compass is because of a low-pass filter, to suppress high frequency noise. </p>

<ul>
<li>There exist more expensive magnetometers which have less noise, and therefore, less lag.</li>
<li>It is also possible to use a gyroscope to improve accuracy. In fact, this is what Inertial Measurement Units (IMUs) do. This can be accomplished by using a Kalman filter. Improving accuracy helps to decrease lag, because increased accuracy reduces the dependency on a low pass filter to suppress noise. The Kalman filter fuses the data from the magnetometer, and also the gyroscope (which measures rate of change in heading).</li>
</ul>

<p>If you stick with your current compass, there are two possible solutions (Warning, this does get increasingly advanced, but option 1 should be accessible to most people without too much work).</p>

<ol>
<li><p>You can try to cancel out the filter. This can remove lag, but also increases high frequency noise. After doing this, you can try to control the robot based on the new estimate of heading. To do this, you must experiment to work out the low pass filter parameters. For example, in discrete time, you might find:</p>

<p>$$\hat\theta(t)=a_0\theta(t)+a_1\theta(t-1)+\cdots+a_k\theta(t-k)$$
where $\hat\theta(t)$ is the estimated heading (compass output) at time $t$, $\theta$ is the actual heading (ground truth) at time $t$.</p>

<p>You can find the parameters $a_i$ by doing an experiment where you measure the ground truth using some other external means. Given $n+k+1$ samples, you have this equation:
$$\left[\matrix{\hat\theta(k)\\\vdots\\\hat\theta(k+n)}\right]=\left[\matrix{\theta(k)&amp;\theta(k-1)&amp;\cdots&amp;\theta(0)\\\vdots&amp;\vdots&amp;&amp;\vdots\\\theta(k+n)&amp;\theta(k+n-1)&amp;\cdots&amp;\theta(n)}\right]\left[\matrix{a_0\\a_1\\\vdots\\a_k}\right]$$</p>

<p>And you can solve by finding:
$$\left[\matrix{a_0\\a_1\\\vdots\\a_k}\right]=\left[\matrix{\theta(k)&amp;\theta(k-1)&amp;\cdots&amp;\theta(0)\\\vdots&amp;\vdots&amp;&amp;\vdots\\\theta(k+n)&amp;\theta(k+n-1)&amp;\cdots&amp;\theta(n)}\right]^{+}\left[\matrix{\hat\theta(k)\\\vdots\\\hat\theta(k+n)}\right]$$ where $M^+$ is the pseudo-inverse matrix of $M$. There is no definitive way to work out $k$, so you will probably just guess. For bonus points, this assumes that the noise is white and independent, but you can whiten it first to remove bias, and therefore improve your estimate of the parameters.</p>

<p>You can convert this to a transfer function (also known as Z-transform in the discrete time domain):</p>

<p>$$\frac{\hat\Theta(z)}{\Theta(z)}=a_0+a_1 z^{-1}+...+a_k z^{-k}$$</p>

<p>To cancel this out, we can take the inverse (where $\bar\theta(t)$ is our new estimate of heading):</p>

<p>$$\frac{\bar\Theta(z)}{\hat\Theta(z)}=\frac{1}{a_0+a_1 z^{-1}+\cdots+a_k z^{-k}}$$</p>

<p>Converting back to the time domain:</p>

<p>$$a_0\bar\theta(t)+a_1\bar\theta(t-1)+\cdots+a_k \bar\theta(t-k)=\hat\theta(t)$$</p>

<p>$$\bar\theta(t)=\frac{\hat\theta(t)-a_1\bar\theta(t-1)-\cdots-a_k \bar\theta(t-k)}{a_0}$$</p>

<p>we can then use $\bar\theta$ to control the robot.</p>

<p>This will be very noisy, so you might want to still put $\bar\theta$ through a low-pass filter before use (although perhaps one with less lag).</p></li>
<li><p>The above solution is still not the best way. The noisy estimate may not be very useful. If we put this into a state space equation, we can design a Kalman filter, and a full-state feedback controller using LQR (linear quadratic regulator). The combination of a Kalman filter and LQR controller is also known as an LQG controller (linear quadratic gaussian), and use loop-transfer recovery to get a good controller.</p>

<p>To do this, come up with the (discrete-time) state-space equations:</p>

<p>$\vec{x}(t)=A\vec{x}(t-1)+B\vec{u}(t-1)$, $\vec{y}(t)=C\vec{x}(t)$</p>

<p>or:
$$\vec{x}(t)=\left[\matrix{\theta(t)\\\theta(t-1)\\\cdots\\\theta(t-k)}\right]=
\left[\matrix{
    A_1&amp;A_2&amp;\cdots&amp;0&amp;0&amp;0\\
    1&amp;0&amp;\cdots&amp;0&amp;0&amp;0\\
    0&amp;1&amp;\cdots&amp;0&amp;0&amp;0\\
    \vdots&amp;\vdots&amp;&amp;\vdots&amp;\vdots&amp;\vdots\\
    0&amp;0&amp;\cdots&amp;1&amp;0&amp;0\\
    0&amp;0&amp;\cdots&amp;0&amp;1&amp;0
}\right]
\vec{x}(t-1)
+
\left[\matrix{B_0\\B_1\\0\\\vdots\\0\\0}\right]\vec{u}(t-1)$$</p>

<p>$$\vec{y}(t)=\left[\matrix{\hat\theta(t)}\right]=\left[\matrix{a_0\\a_1\\\vdots\\a_k}\right]\vec{x}(t)$$</p>

<p>where $\vec{u}(t-1)$ represents the power in the motors to turn the robot, and $A_0$, $A_1$, $B_0$, $B_1$ is how much it affects the heading based on position and speed (you can choose non-zero values for the other elements of the $B$ matrix, and first row of the $A$ matrix too).</p>

<p>Then, you can build your observer (Kalman Filter), by choosing noise estimates $Q_o$ and $R_o$ for the process noise and measurement noise. The Kalman Filter can then find the optimal estimate of heading, given those assumptions about the noise. After choosing the noise estimates, the implementation just depends on implementing code for the Kalman Filter (equations can be found on Wikipedia, so I won't go over it here).</p>

<p>After that, you can design an LQR controller, this time, choosing $Q_c$ and $R_c$ representing the weighting given to regulating the heading, and trying to limit the use of the actuators. In this case, you might choose $Q_c = \left[\matrix{1&amp;0&amp;0&amp;\cdots&amp;0\\0&amp;0&amp;0&amp;\cdots&amp;0\\\vdots&amp;\vdots&amp;\vdots&amp;&amp;\vdots\\0&amp;0&amp;0&amp;\cdots&amp;0}\right]$ and $R_c = \left[1\right]$. This is done because LQR finds the optimal controller to minimise a cost function: $J = \sum{(\vec{x}^T Q\vec{x} + \vec{u}^T R \vec{u})}$</p>

<p>Then, you just put it through the discrete time algebraic Riccati equation:</p>

<p>$$P = Q + A^T \left( P - P B \left( R + B^T P B \right)^{-1} B^T P \right) A$$</p>

<p>and solve for a positive definite matrix $P$.</p>

<p>Thus, your control law can be given by:</p>

<p>$$\vec{u}(t)=-K(\vec{x}(t)-\vec{x}_{ref}(t))$$</p>

<p>where $K = (R + B^T P B)^{-1}(B^T P A)$</p>

<p>Finally, just doing this won't work very well, and is likely to be unstable because of the noise. Indeed, that means option 1 probably won't work unless you first put $\bar\theta$ through a low-pass filter (albeit not necessarily with such a long effective lag time). This is because while LQR is guaranteed stable, as soon as you use a Kalman filter, the guarantee is lost.</p>

<p>To fix this, we use the Loop Transfer Recovery technique, where you adjust the Kalman filter, and instead choose a new $Q_o = Q_0 + q^2BVB^T$, where $Q_0$ is your original $Q$ matrix, tuned so that the Kalman filter is optimal. $V$ is any positive definite symmetric matrix, which you can just choose as the identity matrix ($V=I$). Then, just choose a scalar $q$. The resulting controller should become (more) stable as $q \rightarrow \infty$, although the $Q_o$ matrix becomes de-tuned, which means it becomes less optimal.</p>

<p>Therefore, you just increase $q$ until it is stable. Another way you can try to make it stable, is to increase $R_c$ (or decrease $Q_c$) to make the LQR controller slower.</p></li>
</ol>

<p>The concepts in this post does get quite advanced, but if you need to solve things like the Riccati equation, you can use MATLAB or other software to do this. There may also be libraries already implementing the Kalman filter (again, I believe MATLAB also does this).</p>

<p>For an embedded application, you may need to implement the Kalman filter yourself, although there is probably a C implementation.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-740" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-740">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-740">Load Comments</button></br>
			<div id = "commentsection-740" class = 'collapse'>
			<div id = "comment-943" class = "comment">
				<p>Thanks for you excellent and in-depth answer.  I follow the gist of your first solution and I'm sure I can work through it.  The second one, as you say, is more challenging and I'll have to work to see if I can follow it all.</p>
			</div>
			</div>
				<textarea id = "speech-740" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-740">
					<img id="start_img-740" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-740">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>