<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What wireless technology to use to control robots in classroom?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6863" class = "post">
			<h2>Question</h2>
			<div id="vote-6863" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 134</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What wireless technology to use to control robots in classroom?</h2>
<p>I want to build a cheap robot programmable in Scratch graphical language, that could be employed during lessons in school. Scratch code is interpreted on a PC, so on the robot there should be only the code that receives specific commands (i.e. drive forward) and transmits sensors' measurements. </p>

<p>I'm looking for a wireless technology that will allow me to exchange information between robot and PC with at least 30Hz rate. It should also allow to work at least 16 robots simultaneously in the same room and have a range of at least 20m. </p>

<p>I did tests with BLuetooth, but sometimes there are connectivity issues, and pairing devices can be a hassle in a classroom. I have also tried WiFi modules, but pinging it showed average time of 19ms, but maximum of more than 500ms, so I'm afraid that it won't be able to control linefollower robot for example. </p>

<p>Can you point me to some other, preferably cheap (under 10$ per module) wireless technologies? Or maybe my worries about WiFi are exaggerated?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6863" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-6863">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6863">Load Comments</button></br>
			<div id = "commentsection-6863" class = 'collapse'>
			<div id = "comment-9811" class = "comment">
				<p>Your Communication link depends on how much data you are sending to and fro. 

Do you need a FUll Duplex Communication Link?

How much data in bytes are you exchanging?</p>
			</div>
			<div id = "comment-9812" class = "comment">
				<p>Have you considered using RF modules to communicate between devices?</p>
			</div>
			<div id = "comment-9821" class = "comment">
				<p>@ScottDowney Yes, I have. I know that there are many cheap RF modules, but won't there be a problem with interference if there will be 16 pairs robot-PC communicating simultaneously? Can you point me to some specific module?</p>
			</div>
			<div id = "comment-9823" class = "comment">
				<p>@user2967920 Full duplex would be much easier to use, but is not a 100% must. I'm sending approximately 4kB per second (divided in smaller packages).</p>
			</div>
			</div>
				<textarea id = "speech-6863" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6863">
					<img id="start_img-6863" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6863">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6884"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6884" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Unfortunately I don't have enough rep to comment or I would do that instead of a full blown answer.</p>

<p>I think Rf modules would be the way to go in this situation, I have played around with <a href="http://halx.co.uk/rf-transmitter-receiver-pair-434mhz-en.html" rel="nofollow"><strong>this</strong></a> trans/recv pair before and had pretty good results, however I don't think the range would quite be enough for your setup.</p>

<p>With regards to you mentioning 16 robots communicating at the same time, I would suggest using some kind of "call sign" system, where each message you transmit could be pre-fixed with a letter, or a number to ensure the correct messages are sent to the correct robots and vice versa. If the message does not contain the robots unique call sign, discard message, if it does, process.</p>

<p>You could alternatively have each robot transmitting on a different frequency, however I don't know how well this would work, and you would have to get a variable frequency RF module.</p>

<p>Sounds interesting though!
Good luck</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6884" data-toggle = "popover">
				<p>user name : Aphire</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-6884">{'servomotor': 0, 'None': 1, 'raspberry-pi': 0, 'rcservo': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6884" class = 'collapse'>
			</div>
				<textarea id = "speech-6884" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6884">
					<img id="start_img-6884" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6884">Comment</button>
			<br><div id = "ans-6888"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6888" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is a product from Pololu called <a href="https://www.pololu.com/product/1336" rel="nofollow">the Wixel</a>. In a classroom environment, when one of them transmits a signal all of the others will receive the message. The radio interconnections between the wixels are essentially just like serial communications.</p>

<p>It wouldn't be too much work to bash together a protocol that can either 'broadcast' to all devices in the room, or 'target' a specific device by including its id in the message. You'd have to program the Wixel's so that when it receives a non-broadcast message that isn't coded to its own ID, it simply ignores the message. </p>

<p>They are around $20 each or less if bought in bulk.</p>

<p>In fact with a setup like this, the wixels could actually pair up if you want one controller per bot. Even with short bursts of comms there is a possibility of <em>data collision</em> when two signals go out simultaneously.  In those situations you could look into how such issues are handled in other technologies, <a href="http://howdoesinternetwork.com/2011/collisions" rel="nofollow">such as ethernet</a>, for example.</p>

<p>If you go this route, you might also want to investigate the I2C protocol which also allows numerous devices to communicate all on a common bus. The main difference there though would be that they have a CLK sync line which they can all monitor in order to decide if its their turn to talk or not. There will be no sync line to use over the air. That's where data collisions come in to play. The I2C protocol is really simple and can be learned pretty quickly. I think the same concepts could be applied.</p>

<p>You can also tell the Wixel to talk on a different channel. Up to 128 apparently, so you could have a fairly decent number of paired devices.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6888" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-6888">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6888" class = 'collapse'>
			</div>
				<textarea id = "speech-6888" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6888">
					<img id="start_img-6888" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6888">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>