<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What micro controller should I use?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2151" class = "post">
			<h2>Question</h2>
			<div id="vote-2151" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 112</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What micro controller should I use?</h2>
<p>I am planning on building a robot with wheels (later legs, if possible), that can move around the room and analyze certain things, using a couple sensors.
In the later steps more functions such a grabbing are the things I want to add.</p>

<p>Could you recommend me a micro controller?</p>

<p>My concern about Arduino is that there aren't enough slots, Raspberry Pi seems like it constantly needs a screen for the user.</p>

<p>I am a complete amateur when it comes to robotics. However, I am quite familiar with the computer languages Java and Python. Since I wrote a fun app for Android for myself I would love the robot to be compatible with Android, too.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2151" data-toggle = "popover">
				<p>user name : ByteBiter</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-2151">{'None': 0, 'beginner': 1, 'raspberry-pi': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2151">Load Comments</button></br>
			<div id = "commentsection-2151" class = 'collapse'>
			<div id = "comment-4261" class = "comment">
				<p>Welcome to *robotics* Daniel, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-4301" class = "comment">
				<p>Unfortunately this question has been closed so I can't really provide a full answer to it. But since one of your concerns is the number of IOs, here are some interesting leads: some Arduino models (eg Mega, Due) have quite many IOs; with "smaller" Arduino, one can use one (or more) IO multiplexer.</p>
			</div>
			</div>
				<textarea id = "speech-2151" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2151">
					<img id="start_img-2151" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2151">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2152"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2152" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've used Arduino for a while now, and am very happy with it. It doesn't always need a screen to control it, as you can program it from the computer then run it from the wall. Your concern of low pins on the Arduino is irrelevant, as you could get the Arduino Mega to supply al lthe pins you need. If that is not enough, there are plenty of multiplexer shields you can get to stack on top to give it all the pins you need. However, the Arduino language is different from anything else, and the Raspbery-Pi uses Python, which I am very familiar with. I have not worked with the Raspberry-Pi before, so I don't know all of its functionality.</p>

<p>All in all, I would reccomend the Arduino. Of course, it is your choice, so I also suggest you do some research on your own to figure out if the board you choose has all the functionality you want.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2152" data-toggle = "popover">
				<p>user name : Elias Benevedes</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-2152">{'None': 2, 'motor': 5, 'arduino': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2152" class = 'collapse'>
			</div>
				<textarea id = "speech-2152" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2152">
					<img id="start_img-2152" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2152">Comment</button>
			<br><div id = "ans-2153"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2153" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Firstly, this is a stupid nit-picky thing, but neither the Arduino nor RPi are micro controllers. Anyways, to answer your question:</p>

<p>Neither of your concerns are really problems. Arduinos come in all kinds of sizes and ALL of them should have enough pins to do what you want. And the RPi can easily be run headless, and programs can be run at startup with methods such as <a href="http://www.raspberrypi-spy.co.uk/2013/07/running-a-python-script-at-boot-using-cron/">cron</a> or by <a href="http://www.raspberry-projects.com/pi/pi-operating-systems/raspbian/auto-running-programs">adding it to rc.local</a>.</p>

<p>To simplify things your sensors, I would suggest going with the Arduino, since most sensors use 5v like the arduino does, whereas the Pi uses 3.3v. However, since the Arduino's programmed in a C variant, you may want to use the RPi because it works with Python natively, and you could use Java if you really wanted.</p>

<p>But all in all it comes down to preference, both could get the job done.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2153" data-toggle = "popover">
				<p>user name : Matthew Reynolds</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-2153">{'None': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2153">Load Comments</button></br>
			<div id = "commentsection-2153" class = 'collapse'>
			<div id = "comment-4260" class = "comment">
				<p>Arduino is de facto a micro controller, and is self described by its creators as a "microcontroller."</p>
			</div>
			<div id = "comment-4262" class = "comment">
				<p>@MonteCarlo Though in practice it may be considered one, it still technically isn't as it isn't an IC. (All sources I can find define a microcontroller as an **IC** containing a processer, memory and IO)</p>
			</div>
			</div>
				<textarea id = "speech-2153" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2153">
					<img id="start_img-2153" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2153">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>