<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What kind of torque is needed for a small 5-6 axis robotic arm?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10125" class = "post">
			<h2>Question</h2>
			<div id="vote-10125" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 197</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What kind of torque is needed for a small 5-6 axis robotic arm?</h2>
<p>I'm new to robotics and I'm looking to make a 5-6 axis robotic arm out of stepper motors but I honestly don't know how much torque I should have for each part. Below I have described in more detail what my current plan is but I'm really not sure as to how much I really should be spending on each of these joints.</p>

<p>My general plan for this project was to make a arm that when fully extended would only be around 40-50(max) cm long. It would be consisted of light weight aluminum and I am hoping for it to weigh only a couple of pounds when done.  </p>

<p>Here is my current list of actuators for each of the joints:<br>
(Bottom = 1, Top = 6)  </p>

<ul>
<li><a href="http://rads.stackoverflow.com/amzn/click/B00PNEPF5I" rel="nofollow">1st joint</a>, (Nema 23 CNC Stepper Motor 2.8A)  </li>
<li><a href="http://rads.stackoverflow.com/amzn/click/B00PNEQKC0" rel="nofollow">2nd and 3rd joints</a>  </li>
<li><a href="http://rads.stackoverflow.com/amzn/click/B00PNEQI7W" rel="nofollow">4th, 5th and 6th joints</a>  </li>
</ul>

<p>My real questions is, is this overkill or is it not enough for what I'm really trying to make. I really don't need it to be able to pick up a lot of weight, at most 1 to 2 kilos but I highly doubt I will ever be picking up anything more than that. Anyway I just wanted to see if this was sufficient enough for my project. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10125" data-toggle = "popover">
				<p>user name : Henry Jeff</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-10125">{'actuator': 1, 'None': 0, 'stepper-motor': 2, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10125">Load Comments</button></br>
			<div id = "commentsection-10125" class = 'collapse'>
			<div id = "comment-18014" class = "comment">
				<p>To help, we would need more information, specifically about the mechanics, like the different arm lengths. Do you intend to put a motor on each joint and try to drive the joint directly? I don't think your lower motors will handle the weight of the upper motors. Do you intend to use some gearing? I suspect that will be necessary, but more expensive. Are you intending to put the motors all in the base, and move the joints with tendons? That is likely your best approach if you can design it with enough precision.</p>
			</div>
			<div id = "comment-18015" class = "comment">
				<p>@Mark I was hoping that I would be able to make a arm that would have the motors at least near the joints (of course with some gears to help drive  it all). At least this is how I was designing it. I guess my real question is not as much "is this good" but rather what would be sufficient to do what I was asking to do. My parts list is more of a general sense of what I honestly thought I would need but I'm really not sure. Thanks though for the feedback.</p>
			</div>
			</div>
				<textarea id = "speech-10125" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10125">
					<img id="start_img-10125" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10125">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10126"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10126" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, Henry, at this point I would resort to a spreadsheet. Since lower motors need to hold higher motors, you would need the weight of each motor, as well as all of the other arm weights. Then, with the length of each arm, you can calculate the torque needed for each motor to just hold the rest of the arm, on down the chain to the gripper. It's a long string of calculations just to know how much torque you need to hold your load still in any position (most difficult is typically fully extended). Balancing each arm segment with counterweights would drastically reduce the needed torque, but the added mass will decrease acceleration.</p>

<p>To that number, you now need to add the torque required for moving. This will be based in your desired acceleration (velocity typically doesn't matter). The torque required to accelerate any given section is equal to the desired angular acceleration times the rotational-inertia of that arm segment and the segments that follow. Knowing the rotational-inertia of your arm segments is often difficult, and I often just over-estimate. Keep in mind that rotational-inertia increases as the arm extends to a longer radius, so you need to calculate worst-case.</p>

<p>So now you see why I use a spreadsheet. Your question is not an easy one to answer, and it requires a lot of data.</p>

<p>For a small robot arm, the motors become intrusive. They can be larger and heavier than the arm itself, and <em>need</em> to be large, just to carry their own weight. For small arms, I would recommend using tendons, and leave all motors on the base, where their weight is not an issue. It also means that you can tailor the size of the pulleys at each end to adjust the torque. That gives you an easy remedy if you find you need more torque or more speed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10126" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 321</p>
				<p class = "tagcontent" id = "usertaginfo-10126">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10126" class = 'collapse'>
			</div>
				<textarea id = "speech-10126" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10126">
					<img id="start_img-10126" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10126">Comment</button>
			<br><div id = "ans-10282"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10282" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Likely you will need to use some kind of gear reduction to multiply the torque and reduce the speed.   </p>

<p>But to answer your question the way you work this out is one link at a time.  The fact that your arm is 5 DOF does not matter.  The link and joint farthest from the base is a 1 DOF robot.  Find the worst case which is likely with the link horizontal and holding the maximum weight in the gripper.   To find the static torque find the "lever arm" which is the distance from the center of mass to the joint.  Multiply this distance times the weight.</p>

<p>Then do the above again you next link and joint is another 1 DOF robot that is holding the fist robot at the end of the link</p>

<p>When yu finish you will know the torque required for a non-moving or very slowly moving 5 DOF robot arm.  Next you compute the torque required to accelerate each 1DOF robot and ad this to the above</p>

<p>After you are done you need to multiply buy a safety factor.  Just double all the torques to account for friction and other losses and because you can not drive the motors at full rated power for long</p>

<p>You will find that you can't do this without some kind of gear reduction. likely quite a high reduction.  Gearing can help in two ways 
(1) the torque is multiplied by the reduction ratio.  so you can get LOTS more torque from a smaller motor and
(2) the motor can be located closer to the base by use of belt drives or gears reducing the torque requirement of the next motor.  In other words:  Every link has a motor mounted to it.  the motor can be mounted any place in the link but you prefer to mount it nearest the "base"</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10282" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-10282">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10282" class = 'collapse'>
			</div>
				<textarea id = "speech-10282" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10282">
					<img id="start_img-10282" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10282">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>