<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the signs that a servo might be broken?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1301" class = "post">
			<h2>Question</h2>
			<div id="vote-1301" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 11309</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the signs that a servo might be broken?</h2>
<p>I just got a kit and im not sure if its me or not but it appears one of the continuous servos might be broken. What happened first when I plugged it into the microcontroller, it made a humming sound when I sent it commands. The second continuous servo didnt work at all</p>

<p>I played around with different ports on the aurdino based board, and to no avail, just a <strong>hum</strong>.
Then I removed the humming servo altogether and just placed the second servo alone. the second continuous servo started to move in whatever direction I asked it to. </p>

<p>I plugged the first one in, only the second moved.</p>

<p>then I tried spinning them by hand, the second has much resistance, while the first one has dramatically less resistance, maybe 60% easier to spin by hand.</p>

<p>Is this something I can fix? Has anyone experienced these problems before?</p>

<p>Thanks in advance, you guys are great!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1301" data-toggle = "popover">
				<p>user name : Ess Kay</p>
				<p> user reputation : 163</p>
				<p class = "tagcontent" id = "usertaginfo-1301">{'None': 0, 'artificial-intelligence': 4, 'arduino': 12, 'microcontroller': 12, 'wheeled-robot': 8, 'research': 4, 'machine-learning': 4, 'servos': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1301">Load Comments</button></br>
			<div id = "commentsection-1301" class = 'collapse'>
			<div id = "comment-2884" class = "comment">
				<p>Welcome to *robotics* Ess Kay. Are you talking about a [hobby (RC) servo](http://en.wikipedia.org/wiki/Servomechanism#RC_servos) rather than an [industrial servomotor](http://en.wikipedia.org/wiki/Servomechanism#Servomotor)? The answers for each will be *very* different.</p>
			</div>
			<div id = "comment-2898" class = "comment">
				<p>Please retag this question with either [servomotor](http://robotics.stackexchange.com/questions/tagged/servomotor) or [rcservo](http://robotics.stackexchange.com/questions/tagged/rcservo) according to the new tag descriptions (See also [this meta discussion](http://meta.robotics.stackexchange.com/q/170/37)). Thanks,</p>
			</div>
			<div id = "comment-10034" class = "comment">
				<p>I had a question, I tried to control a servo with the arduino, to the servo I attached a stick and at the end of the stick a little weight. After runing my code my servo tried to move the stick, but maybe it had not enough torque to move it so after that I paused the code. Then I tried to control the servo again without weight and this time it didn t moved. Is it broken? why? Is there a posible solution? Thanks,</p>
			</div>
			</div>
				<textarea id = "speech-1301" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1301">
					<img id="start_img-1301" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1301">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1304"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1304" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>How Servos Work</strong></p>

<p>Based on these details of your question:</p>

<blockquote>
  <p>I just got a kit [...] continuous servos [...] plugged it into the
  microcontroller</p>
</blockquote>

<p>Combined with your "Arduino" tag, I'm betting that you are working with hobby (RC) servos modified for continuous rotation. Standard servos work by receiving a pulsed signal with a 20ms period (50Hz). Regular hobby servos will rotate to a specific angle based on the duty cycle (ON time) of the pulsed control signal. This on time can range from 500us to 2500us, but usually only a range of 1000us to 2000us is used so as to not damage the servo. The "neutral pulse" of 1500us will put the servo in the center position.</p>

<p>This <a href="http://en.wikipedia.org/wiki/Servo_control" rel="nofollow noreferrer">Wikipedia article</a> about servo control has a great picture regarding the pulsed control:</p>

<p><img src="https://i.stack.imgur.com/j8bB5.jpg" alt="Servo Pulses"></p>

<p>There are a few different ways that the servo works, but the most common type I've seen in use by hobbyists is an analog servo. As the motor turns, an internal potentiometer is adjusted creating a feedback path for the internal circuitry. The servo will continue to rotate until the potentiometer is at the expected position for the given pulse width.</p>

<p>There are <em>numerous</em> different ways of modifying a standard hobby servo for continuous rotation, so I won't go into that, but essentially, this feedback path is tampered with such the servo never thinks it is in the correct position when it gets a non "neutral" pulse. A mechanical stop on the internal gears is also removed. Once this is done, sending a non neutral pulse will cause the servo to rotate completely, with the speed of rotation dependent upon the pulse width.</p>

<p><strong>Your Issue</strong></p>

<p>When a non-modified servo is given a pulse, it will quickly rotate to the desired position and hold it as long as a pulse is being sent. It should be very difficult to manually turn the servo at this time, and doing so will cause the internal motor to hum as it draws excessive current trying to correct itself during this overload situation. If the servo is disabled (receiving no pulse) it can be manually manipulated with ease.</p>

<p>A modified servo will exhibit similar behavior when under too much of a load - it will hum loudly and draw excessive current. While your servo may not be overloaded, it is obviously exhibiting similar symptoms and is most likely defective. When being driven, manually turning the actuator or stopping it from turning in its desired direction/speed is not a good idea, so keep that in mind for your other servos.</p>

<p>When the defective servo tries to rotate, it is drawing so much current that the second servo cannot operate. That is why it worked fine once the defective servo was removed.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1304" data-toggle = "popover">
				<p>user name : Kurt E. Clothier</p>
				<p> user reputation : 371</p>
				<p class = "tagcontent" id = "usertaginfo-1304">{'None': 21}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1304" class = 'collapse'>
			</div>
				<textarea id = "speech-1304" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1304">
					<img id="start_img-1304" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1304">Comment</button>
			<br><div id = "ans-1338"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1338" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Eventually if it's under too much of a load, such as if it's holding a position and you force it in a different direction, or if its trying to adjust to a position and something is blocking it, it will burn out. As in a little puff of smoke will come out. This also happens with servos which eventually reach their end of life. You can generally smell the servo to know if it's dead. </p>

<p>In you're case, it hasn't died, but may be malfunctioning. You generally can't repair servos. If you had new electronics, you could, but unless its a $100+ motor, its generally not worth it. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1338" data-toggle = "popover">
				<p>user name : Jonathan Sumrall</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1338">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1338">Load Comments</button></br>
			<div id = "commentsection-1338" class = 'collapse'>
			<div id = "comment-2938" class = "comment">
				<p>Welcome to *robotics* Jonathan. It is difficult to know whether your answer is correct until the original question is clarified. It looks to me like your answer is assuming that this is an [tag:rcservo] question. Industrial [tag:servomotor]s would not be expected to burn out as long as they are not being pushed beyond their continuous operating current, and industrial servo control systems would normally back off to a safe force after a short period of time.</p>
			</div>
			</div>
				<textarea id = "speech-1338" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1338">
					<img id="start_img-1338" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1338">Comment</button>
			<br><div id = "ans-1363"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1363" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is at least two modalities along which servos (continuous or otherwise) usually fail: gear problems and motor breakdown.</p>

<p>When the gear fails (broken tooth, hard point, etc.), the servo may get stuck, free moving or any combination. When the motor breaks (usually the brushes inside the DC motor are the culprit), the servo stops working altogether (as if it was unplugged) or overheats and burns. In your case, since it's humming and behaves differently when actuated by hand, I'd think your servo has gear problem. Its relatively easy to take a look at the gear box as it is the first apparent area when opening the servo and it can easily be re-assembled afterward (on the contrary, checking the motor's brushes usually means breaking the motor open), so I'd have a look to confirm the diagnostic.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1363" data-toggle = "popover">
				<p>user name : abey</p>
				<p> user reputation : 270</p>
				<p class = "tagcontent" id = "usertaginfo-1363">{'None': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1363" class = 'collapse'>
			</div>
				<textarea id = "speech-1363" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1363">
					<img id="start_img-1363" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1363">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>