<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What exactly is $\omega_k$ in the stage cost of moving horizon estimation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10713" class = "post">
			<h2>Question</h2>
			<div id="vote-10713" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 96</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What exactly is $\omega_k$ in the stage cost of moving horizon estimation?</h2>
<p>In (nonlinear) moving horizon estimation the aim is to estimate an unknown state sequence $\{x_k\}_{k=0}^T$ over a moving horizon N using measurements $y_k$ up to time $T$ and a system model as constraint. All the papers I've seen so far <a href="http://ieeexplore.ieee.org/document/7171854/" rel="nofollow">1</a>,<a href="http://ieeexplore.ieee.org/document/1178905/?arnumber=1178905" rel="nofollow">2</a>,<a href="http://folk.ntnu.no/torarnj/nonlinear.pdf" rel="nofollow">3</a> the following cost function is used: </p>

<p>$$
\phi = \min_{z,\{\omega_k\}_{k = T-N}^{T-1}} \sum_{k = T-N}^{T-1} \underbrace{\omega_k^TQ^{-1}\omega_k + \nu_k^TR^{-1}\nu_k}_{\text{stage cost } L_k(\omega,\nu)} + \underbrace{\mathcal{\hat{Z}}_{T-N}(z)}_{\text{approximated arrival cost}}
$$</p>

<p>The noise sequence $\{\omega_k\}_{k = T-N}^{T-1}$ should be optimized/minimized in order to solve for the unknown state sequence using the prediction model:</p>

<p>$$
x_{k+1} = f(x_k,\omega_k)
$$</p>

<p>whereas the measurement model is defined as </p>

<p>$$
y_k = h(x_k) + \nu_k
$$</p>

<p>with additive noise $\nu$.</p>

<p><strong>The question</strong> is what exactly is $\omega_k$ in the stage cost?</p>

<p>In the papers $\nu$ is defined to be </p>

<p>$$
\nu_k = y_k - h(x_k)
$$</p>

<p>However, $\omega_k$ remains undefined.
If I can assume additive noise $\omega$ in the prediction model, I think $\omega_k$ is something like the follwoing:</p>

<p>$$
\omega_k = x_{k+1} - f(x_k)
$$</p>

<p>If this should be correct, then my next Problem is that I don't know the states $x_k$, $x_{k+1}$ (they should be estimated).</p>

<p><strong>EDIT</strong></p>

<p>Is it possible that my guess for $\omega_k = x_{k+1} - f(x_k)$ is "wrong" and it is enough to just consider:</p>

<ul>
<li>the measurement $\nu_k = y_k - h(x_k)$ in the cost function $\phi$</li>
<li>the prediction model as constraint?</li>
</ul>

<p>And let the optimization do the "rest" in finding a possible solution of a noise sequence $\{\omega_k\}_{k = T-N}^{T-1}$? In this case which Matlab solver would you suggest? I thought of using <a href="http://uk.mathworks.com/help/optim/ug/lsqnonlin.html" rel="nofollow">lsqnonlin</a> since my problem is a sum of squares. Is it possible to use lsqnonlin with the prediction model as constraint?</p>

<hr>

<p><a href="http://ieeexplore.ieee.org/document/7171854/" rel="nofollow">1</a> Fast Moving Horizon Estimation of nonlinear processes via Carleman linearization</p>

<p><a href="http://ieeexplore.ieee.org/document/1178905/?arnumber=1178905" rel="nofollow">2</a> Constrained state estimation for nonlinear discrete-time systems: stability and moving horizon approximations</p>

<p><a href="http://folk.ntnu.no/torarnj/nonlinear.pdf" rel="nofollow">3</a> Introduction to Nonlinear Model Predictive Control and Moving Horizon
Estimation</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10713" data-toggle = "popover">
				<p>user name : evolved</p>
				<p> user reputation : 134</p>
				<p class = "tagcontent" id = "usertaginfo-10713">{'None': 0, 'algorithm': 2, 'motion': 2, 'kalman-filter': 4, 'mobile-robot': 4, 'movement': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10713">Load Comments</button></br>
			<div id = "commentsection-10713" class = 'collapse'>
			<div id = "comment-19306" class = "comment">
				<p>I downvoted the question because it is related to Norbert Wiener's dysfunctional theory of stochastic moving Horizon. It is impossible to determine the stage-cost with this background.</p>
			</div>
			<div id = "comment-19307" class = "comment">
				<p>@Manuel Rodriguez, It is possible! However another problem will be the approximation of the arrival cost which includes knowledge about the initial state $x_0$. The idea is to plug in the initial state in the prediction model which will then lead to a solution of the desired unknown state at time T, given the noise sequence found by the optimization. Why are you constantly downvoting things because it is not state of the art in your opinion? Could you please stop trolling around and instead do that on trollheaven.wordpress.com?!</p>
			</div>
			<div id = "comment-19309" class = "comment">
				<p>Ok, i made a mistake. To have another opinion is not a reason for downvoting. I withdraw my vote.</p>
			</div>
			<div id = "comment-19312" class = "comment">
				<p>@Manuel Rodriguez that it's a very appreciated change of mind. I made an edit to the question, which should enable you to retract your vote.</p>
			</div>
			</div>
				<textarea id = "speech-10713" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10713">
					<img id="start_img-10713" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10713">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10716"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10716" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Before i answer your question directly let me first clarify some semantics. The problem which is described here is called "State Estimation" in general with the complement of "Moving Horizon". It can be dated back to Norbert Wiener's "control theory" in the 1940s. The goal of Wiener was to use external sensor information for continuous update a modell. For example, for tracking airplanes. He invented a linear filter which is a stochastic concept for dealing with uncertainty.</p>

<p>The reason why I give this short lecture in history of state-esitimation is because the concept of Norbert Wiener is buggy. It never worked, there is no possibility to determine the stage-cost with a stochastic model. The better concept which was invented after the work of Wiener is to use Action Grammars for State-Estimation. Most work on this topic was done at the university Maryland and by Neil T. Dantam who published a lot. A short introduction paper is <a href="https://arxiv.org/pdf/1609.04946v1.pdf" rel="nofollow">Robot Contact Task State Estimation via Position-based Action Grammars</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10716" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10716">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10716">Load Comments</button></br>
			<div id = "commentsection-10716" class = 'collapse'>
			<div id = "comment-19320" class = "comment">
				<p>On StackExchange *answers* need to answer the question. StackExchange isn't a discussion forum, it's a place to ask questions and get answers. If you wish to discuss a question or answer you can use [chat]. If you have an idea for how a question or answer can be improved, you can add a comment.</p>
			</div>
			<div id = "comment-19645" class = "comment">
				<p>I guess his buggy concept is why the IEEE Systems, Man, and Cybernetics Society has a Norbert Wiener Award!  His filtering and state estimation are limited to linear, time-invariant systems, but they are still useful today for many communications systems.  Without Wiener, and then Kalman, our rockets would not have been controllable in my opinion.   Markov-type of processes such as action grammars have their place as well.  But just because they are new doesn't make them proper for the application.</p>
			</div>
			</div>
				<textarea id = "speech-10716" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10716">
					<img id="start_img-10716" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10716">Comment</button>
			<br><div id = "ans-10946"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10946" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What helped to solve my question was to use fmincon with the process noise $\omega_k$ as decision variable and to use the measurement noise which includes the state in the equation $\nu_k = y_k - h(x_k)$. To come up with a solution for the state $x_k$ I just solve the prediction model using an initial state at the beginning of the moving window $x_{k-N}$ and also the noise sequence. Where the noise sequence is the decision variable. Using this method, the prediction model constraint is "included" in the cost function. Of course at the very first start of the optimizaiton, a random noise sequence is chosen (with magnitude according to the state variables). After each run of the optimization the shifted noise sequence from the previous run can be taken as initial guess.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10946" data-toggle = "popover">
				<p>user name : evolved</p>
				<p> user reputation : 134</p>
				<p class = "tagcontent" id = "usertaginfo-10946">{'None': 0, 'algorithm': 2, 'motion': 2, 'kalman-filter': 4, 'mobile-robot': 4, 'movement': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10946" class = 'collapse'>
			</div>
				<textarea id = "speech-10946" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10946">
					<img id="start_img-10946" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10946">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>