<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What the name of this kind of computer vision?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10687" class = "post">
			<h2>Question</h2>
			<div id="vote-10687" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 120</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What the name of this kind of computer vision?</h2>
<p>Whats the name of the technique used to read symbols with computer vision?</p>

<p>Like the one used for this wood cutter:</p>

<p><img src="https://www.artificialintelligenceonline.com/wp-content/uploads/2016/08/tc-logo-3-1.jpg" alt=""></p>

<p>I want to use something like this to measure distance from the camera to a piece of tape with symbols, or read QR-like symbols to recognize areas, but I can't find information on this because I don't know how this technique or method is called.</p>

<p>What is it called?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10687" data-toggle = "popover">
				<p>user name : Leo</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-10687">{'None': 0, 'computer-vision': 2, 'identification': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10687" class = 'collapse'>
			</div>
				<textarea id = "speech-10687" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10687">
					<img id="start_img-10687" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10687">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10688"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10688" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The general term is "feature detection". But this is very broad. It basically means to find anything in an image that fits to some description. A feature could be a line, point, blob, etc. A detector would be able to tell you the position of a feature in an image.</p>

<p>This is where computer vision ends and photogrammetry begins.</p>

<p>In order to make a connection between the 2D image and the 3D reality it represents, you need a mathematical model of the camera (intrinsic parameters) and it's pose (extrinsic parameters). In your case, the former could be obtained via calibration of the camera and the latter via feature detection in the image. Basically speaking, if you know where the points are in your image and you know the size and pattern of the tape in real life, you can calculate the position and orientation of the camera from that.</p>

<p>The popular library OpenCV does all of the above and a lot more. For the second part of my answer, check this: <a href="http://docs.opencv.org/trunk/d9/d0c/group__calib3d.html" rel="nofollow">http://docs.opencv.org/trunk/d9/d0c/group__calib3d.html</a> for the first part, you have to find the feature detector that suits your needs, depending on what you want to detect (or write your own)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10688" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-10688">{'None': 93}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10688" class = 'collapse'>
			</div>
				<textarea id = "speech-10688" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10688">
					<img id="start_img-10688" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10688">Comment</button>
			<br><div id = "ans-10849"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10849" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This type of image processing is also known as "Pattern matching", "Feature matching" or "Image recognition" in broader aspects. "Pattern detection" is a bit different generally; For example, Techcrunch symbol can be green in color or black; "Pattern detector" detects only the features (say edges and corners) and not color or 'subtle' differences. </p>

<p>OpenCV is the <em>de-facto</em> standard in my opinion. However, some of the other notable libraries include the following:</p>

<ol>
<li><p><a href="https://sourceforge.net/projects/aruco/" rel="nofollow">Aruco light-weight marker detection package</a></p></li>
<li><p><a href="https://en.m.wikipedia.org/wiki/Comparison_of_deep_learning_software" rel="nofollow">Deep learning based image processing libraries like Caffe, Chainer etc</a></p></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10849" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-10849">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10849" class = 'collapse'>
			</div>
				<textarea id = "speech-10849" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10849">
					<img id="start_img-10849" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10849">Comment</button>
			<br><div id = "ans-10854"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10854" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, markers used to measure position visually are called <strong><a href="https://en.wikipedia.org/wiki/fiducial_marker" rel="nofollow">fiducial markers</a></strong>.</p>

<p>Some applications have a single type of fiducial (a solid circle or a cross) repeated many times.</p>

<p>Some applications independently positition many unique <a href="http://www.roborealm.com/help/Fiducial" rel="nofollow">barcode-like fiducial markers</a>, sometimes called <strong>fiducial targets</strong>, <strong>frame markers</strong>, <strong><a href="https://carolinemajorproject.wordpress.com/2013/02/25/augmented-reality-markers/" rel="nofollow">augmented reality marker</a></strong>, etc.,
such as <a href="http://hackaday.com/2014/08/24/open-source-marker-recognition-for-augmented-reality/" rel="nofollow">openAR</a>, <a href="http://www.uco.es/investiga/grupos/ava/node/26" rel="nofollow">ArUco</a>, <a href="http://elekslabs.com/2016/03/web-based-augmented-reality-to-adopt-or-not-to-adopt.html" rel="nofollow">js-aruco</a>, <a href="http://xanthippi.ceid.upatras.gr/people/evangelidis/arma/" rel="nofollow">ARma</a>, <a href="https://bocoup.com/weblog/javascript-augmented-reality" rel="nofollow">JSARToolkit</a>, <a href="http://www.cl.cam.ac.uk/~acr31/cantag/" rel="nofollow">Cantag</a>, <a href="http://www.curiscope.com/" rel="nofollow">Virtuali-Tee</a>, <a href="http://handheldar.icg.tugraz.at/markerbased.php" rel="nofollow">Studierstube Tracker</a>, <a href="http://answers.unity3d.com/questions/820090/augmented-reality-with-symbols.html" rel="nofollow">Vuforia Frame Markers</a>, etc.
(These applications have more complex computational requirements, because the fiducial can be at some arbitrary pitch, roll, yaw angle relative to the camera, so the software must de-skew and undo the perspective transformation. The <a href="https://www.packtpub.com/books/content/marker-based-augmented-reality-iphone-or-ipad" rel="nofollow">Marker-based Augmented Reality</a> article goes into a lot of detail).</p>

<p>Some <a href="http://en.wikipedia.org/wiki/linear_encoder" rel="nofollow">linear encoders</a> visually detect absolute <a href="http://www.controleng.com/single-article/motion-control-long-length-linear-encoders-look-lively/70d978580fc5166aca1b94b01e808680.html" rel="nofollow">linear position</a> over <a href="http://www.controleng.com/single-article/long-length-linear-encoder-addendum/32b632e96ae9b8b3f6f869e668747abf.html" rel="nofollow">long lengths</a> along a long "tape" printed with a long series of unique barcodes,
such as
<a href="https://www.cedes.com/documents/produkte/el/111700_Manual_APS.pdf" rel="nofollow">Absolute Positioning System (APS) code tape</a>,
<a href="http://www.renishaw.com/en/true-absolute-linear-and-absolute-rotary-encoders-revolutionise-position-feedback--10768" rel="nofollow">RESOLUTE single track optical absolute scale</a>,
<a href="http://www.pepperl-fuchs.ca/canada/en/classid_3334.htm?view=productlist" rel="nofollow">Data Matrix Position Guided Vision (PGV) code tape</a>,
<a href="http://www.leuze.com/media/assets/dv007_144dpi_geschuetzt_pdf/PIN_BPS8_34_37_en_144dpi.pdf" rel="nofollow">Leuze barcode positioning system (BPS)</a>,
and the "<a href="https://shapertools.com/faq/#shapertape_what-is-it" rel="nofollow">ShaperTape</a>" of the <a href="http://hackaday.com/2016/08/25/hands-on-the-shaper-origin-a-tool-that-changes-how-we-build/" rel="nofollow">"Origin"</a> from <a href="https://shapertools.com/" rel="nofollow">Shaper Tools</a> in your photo.
(These applications generally have simpler computational requirements and so can run faster, because they rigidly hold the camera in a nearly fixed pitch-roll orientation and Z-position relative to the fiducial).</p>

<p>Some fiducual markers are specifically designed with topological region features that allow them to be quickly located and uniquely identified with <strong><a href="http://www.nime.org/proceedings/2009/nime2009_062.pdf" rel="nofollow">2D fiducial tracking</a></strong> in the 2D camera image,
even in applications that need to do full <strong><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.624.6328&amp;rep=rep1&amp;type=pdf" rel="nofollow">6D fiducial tracking</a></strong> of the X,Y,Z position and pitch, roll, yaw orientation of the fiducial in the 3D space in front of the camera.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10854" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-10854">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10854" class = 'collapse'>
			</div>
				<textarea id = "speech-10854" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10854">
					<img id="start_img-10854" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10854">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>