<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What stepper motor driver to use?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11960" class = "post">
			<h2>Question</h2>
			<div id="vote-11960" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 63</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What stepper motor driver to use?</h2>
<p>I want to control a DVD drive's stepper motor with an arduino uno, but at the moment I'm not sure what kind of motor driver will work for that.</p>

<p>I am currently looking at <a href="https://www.robotics.org.za/stepper-motor-driver-1a-pololu-original.html" rel="nofollow noreferrer">this one</a></p>

<p>I have no idea about the specs of a motor driver, so any help would be greatly appreciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11960" data-toggle = "popover">
				<p>user name : Boela</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11960">{'stepper-driver': 0, 'None': 0, 'stepper-motor': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11960" class = 'collapse'>
			</div>
				<textarea id = "speech-11960" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11960">
					<img id="start_img-11960" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11960">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11961"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11961" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That is a very good choice since DVD motor operate under 2A.</p>

<p>I'm using the very same driver to manage my DVD drivers also NEMA23.</p>

<p>You just need to take care about trimming the current limit very well and concern about chinese production because they differ between resistors.</p>

<p><a href="http://reprap.org/wiki/A4988_vs_DRV8825_Chinese_Stepper_Driver_Boards" rel="nofollow noreferrer">http://reprap.org/wiki/A4988_vs_DRV8825_Chinese_Stepper_Driver_Boards</a></p>

<p>Here you can see how to trim your current:
<a href="http://reprap.org/wiki/Pololu_stepper_driver_board" rel="nofollow noreferrer">http://reprap.org/wiki/Pololu_stepper_driver_board</a></p>

<p>And here is how to wire and control your stpper motor:
<a href="http://howtomechatronics.com/tutorials/arduino/how-to-control-stepper-motor-with-a4988-driver-and-arduino/" rel="nofollow noreferrer">http://howtomechatronics.com/tutorials/arduino/how-to-control-stepper-motor-with-a4988-driver-and-arduino/</a></p>

<p>The only thing you need to real concern is if your motor is Unipolar or Bipolar. A4988 are designed to control bipolar stepper motors, but you can set your Unipolar motor as Bipolar.</p>

<p>To make sure about your stepper motor, just look for his datasheet using his product number or model number on Google. If you can't find this, please look how to wire your stepper motor using the following links as source:</p>

<p><a href="http://www.linengineering.com/resources/wiring-connections/" rel="nofollow noreferrer">http://www.linengineering.com/resources/wiring-connections/</a></p>

<p><a href="http://reprap.org/wiki/Stepper_wiring" rel="nofollow noreferrer">http://reprap.org/wiki/Stepper_wiring</a></p>

<p><a href="http://digital.ni.com/public.nsf/allkb/B1CC4C64ABBC7D3C86257BC70017B9E2" rel="nofollow noreferrer">http://digital.ni.com/public.nsf/allkb/B1CC4C64ABBC7D3C86257BC70017B9E2</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11961" data-toggle = "popover">
				<p>user name : Andrew Paes</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-11961">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11961">Load Comments</button></br>
			<div id = "commentsection-11961" class = 'collapse'>
			<div id = "comment-21238" class = "comment">
				<p>Welcome to *Robotics* Andrew Paes. Thanks for your answer but we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content disappears. If you add more context from your links, it is more likely that people will find your answer useful.</p>
			</div>
			</div>
				<textarea id = "speech-11961" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11961">
					<img id="start_img-11961" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11961">Comment</button>
			<br><div id = "ans-11999"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11999" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The A4988 is an excellent choice to drive a stepper motor. It supports step resolution upto 1/16 of a step and can be set up so that it uses just two of your Arduino's pins. Each A4988 can drive one stepper motor with input voltages upto 35V and current draw upto 2A.</p>

<p>Highly recommended for your project.</p>

<p>Here is a sample pin-out you could use to drive a stepper motor...</p>

<p>Vdd - 5V</p>

<p>GND - GND</p>

<p>Vmot - DC power source for your motor (Upto 35V)</p>

<p>1A,1B - To stepper motor first winding</p>

<p>2A,2B - To stepper motor second winding </p>

<p>Connect RESET and SLEEP together</p>

<p>Step - Any Arduino digital pin (stepPin)</p>

<p>Dir - Any Arduino digital pin (dirPin)</p>

<p>To control the motor direction, use <code>digitalWrite(dirPin, HIGH);</code> and <code>digitalWrite(dirPin, LOW);</code></p>

<p>To step the motor use </p>

<p><code>digitalPin(stepPin, HIGH);
delayMicroseconds(500);
digitalPin(stepPin, LOW);
delayMicroseconds(500);</code></p>

<p>If you want to control the step resolution, you need to set the MS1, MS2 and MS3 pins HIGH/LOW according to <a href="https://www.pololu.com/file/download/a4988_DMOS_microstepping_driver_with_translator.pdf?file_id=0J450" rel="nofollow noreferrer">Page 6, Table 1 of the A4988 datasheet</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11999" data-toggle = "popover">
				<p>user name : vu2aeo</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-11999">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11999" class = 'collapse'>
			</div>
				<textarea id = "speech-11999" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11999">
					<img id="start_img-11999" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11999">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>