<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the cheapest way to detect and identify vehicles entering a gate in real time?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7411" class = "post">
			<h2>Question</h2>
			<div id="vote-7411" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 427</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the cheapest way to detect and identify vehicles entering a gate in real time?</h2>
<p>I want to detect and identify each of the vehicles passing through a gate. </p>

<p>I have the live video feed of the gate which I initially thought to process and detect the number plates with the help of OpenCV or any other graphics library freely available. The problem is, the size of number plates may vary very widely, and the language the number plates are written with(Bengali) does not have a good OCR performance at all.</p>

<p>The next idea was to put a QR code in the windshield of the vehicles. (Yes the vehicles supposed to enter the area are private and enlisted vehicles). But I am not confident that I will be able to detect and identify all the QR codes in real time with 100% accuracy, as the QR codes might get pixelated due to low resolution of video.</p>

<p>So can anyone suggest any other cheap way we can adopt to detect and identify the vehicles? <strong>Can NFC or any other cheap sensors be used</strong> for this purpose?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7411" data-toggle = "popover">
				<p>user name : Thunderstruck</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7411">{'None': 0, 'computer-vision': 0, 'design': 0, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7411" class = 'collapse'>
			</div>
				<textarea id = "speech-7411" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7411">
					<img id="start_img-7411" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7411">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7413"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7413" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am assuming that it is a narrow gate so all the vehicles come through at around the same point, you could reposition the camera so that it is focused on where the license plate is normally when they come in, but having only done ocr on english I do not know if this will improve detection much, qr codes are much easier to detect, but I would suggest somthing simpler like a 1D qr code (depending on the amount of information to encode) just add some alignment bits to the front and back with data in the middle, you could detect that from further away more easily.</p>

<p>Edit:
As you stated you wanted a more robust sensor based approach, I did some digging and <a href="http://skyrfid.com/RFID_Tag_Read_Ranges.php" rel="nofollow">This site</a> claims wih passive tags you can read out to aroud 40 feet with directional antennas, allowing you to simply put tags on the inside of the windsheild and read them with a directional antenna from above pherphas giving you around 10ft between the antenna and the trucks.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7413" data-toggle = "popover">
				<p>user name : Mark Omo</p>
				<p> user reputation : 1786</p>
				<p class = "tagcontent" id = "usertaginfo-7413">{'None': 119}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7413">Load Comments</button></br>
			<div id = "commentsection-7413" class = 'collapse'>
			<div id = "comment-10583" class = "comment">
				<p>Thanks for the suggestion. That's an improved idea than what I was trying. I still want to know what cheap sensor based options I might have...</p>
			</div>
			</div>
				<textarea id = "speech-7413" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7413">
					<img id="start_img-7413" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7413">Comment</button>
			<br><div id = "ans-7414"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7414" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you can run OCR okay with your cameras (you cite resolution as problematic for QR code reading), then I would suggest you make bumper stickers. As they are installed on bumpers and not windshields, you can make them (essentially) as large as you need, in whatever character set you need, in whatever contrasting colors you need, and bumpers are all generally the same height and orientation, where windshields can vary a lot more. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7414" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7414">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7414">Load Comments</button></br>
			<div id = "commentsection-7414" class = 'collapse'>
			<div id = "comment-10582" class = "comment">
				<p>I am not sure putting something on Bumper is a good idea since they're prone to rain and dust etc and would get torn pretty soon I guess. The vehicles I'm talking about are mainly long range trucks traveling thousands of kilometers a month. I am looking for some sensor based solutions mainly, since the attempts to video processing is probably never going to be ~100%</p>
			</div>
			</div>
				<textarea id = "speech-7414" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7414">
					<img id="start_img-7414" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7414">Comment</button>
			<br><div id = "ans-7420"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7420" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Different solution, so different answer. </p>

<p>If you're looking for sensor-based, you can do pretty much anything. Passive sensors (RFID tags) are, in my experience, only reliable over very short distances; 1 meter or less. Additionally, RFID tags work best when the reader is located normal to the face of the tag. That is, if you glued the tag to a windshield, a reader on the side of the car is the worst place you could put it. You want the tag "broadside" to the reader to get the best signal strength (again, range is a big issue), which would mean either put the reader 1m in front of the windshield or put the tag on the driver/passenger window. </p>

<p>You could do RF, over something like XBEE, or you could do infrared like a TV remote. Anything that's not passive, which again is essentially only RFID, requires power. This means batteries, which could (would) be drained quickly if they are constantly transmitting, or splicing into the vehicle power wiring, which could (would) be costly and time consuming. </p>

<p>What are your requirements? What's your intended range? How many vehicles are you servicing? Do you have a budget? Can you splice in to vehicle wiring? Do you need automation, and if so, what degree of automation?</p>

<p>Your question is very open-ended. </p>

<p><strong>For a sensor-based system, the easiest solution would be a garage door opener or similar.</strong> This would require a small transmitter in every vehicle, where the driver pushes a button to send a signal to open the gate. You could also just put a keypad at the gate, where the driver has to enter a passcode. </p>

<p>Basically, any transmitter that could run on batteries should only run intermittently, requiring interaction from the driver. Any transmitter that emits constantly will need vehicle power. I believe that you will find that any passive transmitter is simply not feasible due to the range requirement. Also, RFID readers are <strong>expensive</strong>, much more so than the garage door openers, but probably less than interfacing with vehicle wiring. </p>

<p>If you're insistent on a totally passive system, I would look at simply upgrading the security camera. This would provide you the higher resolution you need to do OCR. At that point, see my solution above of bumper stickers if license plate reading is not feasible. </p>

<p>Know that, whatever the system, there will be failures, and you will always need a gate operator on standby to handle the failures (guests, bad transmitter, battery died, dirty sticker, OCR didn't register, etc. etc.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7420" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7420">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7420">Load Comments</button></br>
			<div id = "commentsection-7420" class = 'collapse'>
			<div id = "comment-10590" class = "comment">
				<p>Intended range- ~2 Meter;
Number of vehicles- ~500;
Budget- <$4 per vehicle;
Number of Receivers- 2;
Can I splice in to vehicle wiring : No;

Automation needed: Yes;

Summary of Requirement: Identify and log the entry time of all the vehicles entering the warehouse, Identify the vehicle loaded on the Weigh Pad/Scale, Identify and log the exit time of the vehicle. --

Currently I am focusing on RFID based solution since it's cheap, and more reliable than Video. Garage door opener idea is good, but I need to detect the vehicle on Scaling pad too, I'm not sure I'd be allowed to install one there.</p>
			</div>
			<div id = "comment-10591" class = "comment">
				<p>If you could get the driver to do work, are keypads not acceptable? Everyone could enter a passcode to "unlock" the system, then a truck-specific ID to register. One keypad at the gate, one at the scales. RFID readers are about 500 dollars each, and you need two; this eats about 2 dollars per truck (assuming that ~4$/vehicle is total system cost). RFID tags run 2-3 dollars each, putting you either at or over budget. If you can get data from the scale, keypad entry logs start time, when the weight comes off logs the exit time.</p>
			</div>
			<div id = "comment-10592" class = "comment">
				<p>Not to mention I think you may still have issues with range. 2 meters sounds trivial but is pushing it for passive RFID. I would suggest heavy testing before company-wide rollout, and again, readers are about 500 dollars, plus tags for testing.</p>
			</div>
			<div id = "comment-10849" class = "comment">
				<p>@Thunderstruck, please edit the information from your comment into your question.</p>
			</div>
			</div>
				<textarea id = "speech-7420" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7420">
					<img id="start_img-7420" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7420">Comment</button>
			<br><div id = "ans-7421"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7421" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>How much work are you looking to put into this?</p>

<p><a href="https://www.sparkfun.com/" rel="nofollow">sparkfun</a> offers these lovely transmitters for just \$4/ea and recievers for just \$5 each, paired with an ATTiny you can do just about anything :O</p>

<p><a href="https://www.sparkfun.com/products/10534" rel="nofollow">Transmitter</a><br/>
<a href="https://www.sparkfun.com/products/10532" rel="nofollow">Receiver</a><br/>
<a href="https://www.sparkfun.com/products/11232" rel="nofollow">ATTiny84</a></p>

<p>My suggested implementation would be the following:</p>

<p>Near the gate of your complex you would have a receiver paired with an ATTiny, this will be your detector, and you will be getting your data from this node.</p>

<p>In each vehicle, a voltage regulator will step the 12v of the vehicle down to a usable 3.3v, which will power the ATTiny. Once every second or so, power on the transmitter via a transistor, and broadcast a vehicle specific identification for a split second.</p>

<p>This circuit could run at all times (would draw verry little current relatie the the capacity of the vehicle battery), or could be triggered off of the ignition, and will only be broadcasting when the vehicle is running, or maybe even a switch in the cabin - up to you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7421" data-toggle = "popover">
				<p>user name : Matt Clark</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-7421">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7421" class = 'collapse'>
			</div>
				<textarea id = "speech-7421" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7421">
					<img id="start_img-7421" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7421">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>