<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is stall current and free current of motors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-613" class = "post">
			<h2>Question</h2>
			<div id="vote-613" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">25</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 54730</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is stall current and free current of motors?</h2>
<p>What are the stall and free currents of an electric motor? For example, <a href="http://www.vexrobotics.com/276-2181.html">this Vex motor</a> lists its stall and free currents at the bottom of the page.</p>

<p>I think I understand the general idea, but a detailed description would be helpful.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-613" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-613">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-613" class = 'collapse'>
			</div>
				<textarea id = "speech-613" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-613">
					<img id="start_img-613" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-613">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-614"  class = "post">
				<h2>Answer</h2>
			<div id="vote-614" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Stall current is how much the motor will draw when it is stuck, i.e. <em>stalled</em>. Free current is how much current it draws when the motor has no load, i.e. <em>free to spin</em>.  As you'd expect, the more strain on the motor, the more current it will draw in order to move; the stall current and free current are the maximum and minimum, respectively.</p>

<p>From a standing start, the motor will draw somewhere close to the stall current at first and then drop to the current required to maintain whatever speed it's operating at.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-614" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-614">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-614">Load Comments</button></br>
			<div id = "commentsection-614" class = 'collapse'>
			<div id = "comment-704" class = "comment">
				<p>So this is where I needed the largest bit of clarification. You said that the stall current and free current are the minimum and maximum. So the free current is the very minimum current the motor will draw while running?</p>
			</div>
			<div id = "comment-708" class = "comment">
				<p>@golmschenk: Free current is the minimum current that the motor will ever draw.</p>
			</div>
			<div id = "comment-709" class = "comment">
				<p>Yes... it's technically possible that the motor would draw less if you were rolling down a hill or something, but @Manishearth nailed it.</p>
			</div>
			<div id = "comment-810" class = "comment">
				<p>Sorry, but once Mark updated his answer, it is now the more complete and useful answer to future viewers of the question. Thus I have switched the accepted answer.</p>
			</div>
			<div id = "comment-822" class = "comment">
				<p>No worries.  I focused more on the motor by itself, and I'm glad to see answers that take a more system-centric approach to the question.</p>
			</div>
			</div>
				<textarea id = "speech-614" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-614">
					<img id="start_img-614" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-614">Comment</button>
			<br><div id = "ans-615"  class = "post">
				<h2>Answer</h2>
			<div id="vote-615" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">27</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Short answer</h2>

<ul>
<li><p><strong>Stall current</strong> is the maximum current drawn<sup>1</sup>, when the motor is applying its maximum torque, either because it is being prevented from moving entirely or because it can no longer accelerate given the load it is under.</p></li>
<li><p><strong>Free current</strong> is the current drawn when the motor is rotating freely at maximum speed, under no load<sup>2</sup> other than friction and back-emf forces in the motor itself.</p></li>
</ul>

<p><sup>1: Under normal conditions, i.e. the motor isn't being asked <a href="https://robotics.stackexchange.com/a/644/37">go from max speed in one direction to max speed in the other</a>.<br>
2: This assumes the motor is not being <a href="https://robotics.stackexchange.com/a/644/37">driven by external forces</a>.</sup></p>

<h2>Long answer</h2>

<h3>Stall Current</h3>

<p>From the Wikipedia page on <a href="http://en.wikipedia.org/wiki/Stall_torque" rel="nofollow noreferrer">Stall Torque</a>:</p>

<blockquote>
  <p><strong>Stall torque</strong> is the <a href="http://en.wikipedia.org/wiki/Torque" rel="nofollow noreferrer">torque</a> which is produced by a device when the output rotational speed is zero. It may also mean the torque load that causes the output rotational speed of a device to become zero - i.e. to cause <a href="http://en.wikipedia.org/wiki/Stall_%28engine%29" rel="nofollow noreferrer">stalling</a>. Stalling is a condition when the motor stops rotating. This condition occurs when the load torque is greater than the motor shaft torque i.e. break down torque condition. In this condition the motor draws maximum current but the motor do not rotate.The current is called as Stalling current.</p>
</blockquote>

<p>...</p>

<blockquote>
  <h3>Electric motors</h3>
  
  <p><a href="http://en.wikipedia.org/wiki/Electric_motor" rel="nofollow noreferrer">Electric motors</a> continue to provide torque when stalled. However, electric motors left in a stalled condition are prone to overheating and possible damage since the current flowing is maximum under these conditions.</p>
  
  <p>The maximum torque an electric motor can produce in the long term when stalled without causing damage is called the <strong>maximum continuous stall torque</strong>.</p>
</blockquote>

<p>Thus from the <a href="http://www.vexrobotics.com/276-2181.html" rel="nofollow noreferrer">specification</a> of this motor</p>

<pre><code>Stall Torque:  8.6 in-lbs
Stall Current: 2.6 A
</code></pre>

<p>we can see that if the motor is required to apply more than 8.6 in-lbs of torque the motor will stop moving (or accelerating if working against friction) and will be drawing the maximum 2.6A of current.</p>

<p>Although it doesn't say what kind of motor it is, I would expect it to be a <a href="http://en.wikipedia.org/wiki/Brushed_DC_electric_motor" rel="nofollow noreferrer">Brushed DC electric motor</a> given it's two wire interface.</p>

<blockquote>
  <p>As an unloaded DC motor spins, it generates a backwards-flowing electromotive force that resists the current being applied to the motor. The current through the motor drops as the rotational speed increases, and a free-spinning motor has very little current. It is only when a load is applied to the motor that slows the rotor that the current draw through the motor increases.</p>
</blockquote>

<p>From the <a href="http://en.wikipedia.org/wiki/Counter-electromotive_force" rel="nofollow noreferrer">Counter electromotive force</a> wikipedia page:</p>

<blockquote>
  <p>In <strong>motor control</strong> and <strong>robotics</strong>, the term "Back-EMF" often refers to using the voltage generated by a spinning motor to infer the speed of the motor's rotation.</p>
</blockquote>

<p>Note however, as <a href="https://robotics.stackexchange.com/a/644/37">DrFriedParts explains</a>, this is only part of the story. The <strong>maximum <em>continuous</em> stall torque</strong> may be much lower than the <strong>maximum torque</strong> and thus current. For instance if you switch from full torque in one direction to full torque in the other. In this case, the current drawn could be double the <em>continuous</em> stall current. Do this often enough, exceeding the duty cycle of the motor and you could burn out your motor.</p>

<h3>Free Current</h3>

<p>Again, looking at the specification:</p>

<pre><code>Free Speed:     100 rpm
Free Current:   0.18 A
</code></pre>

<p>So when running freely, without load, it will rapidly accelerate up to 100 rpm, where it will draw just 180 mA to maintain that speed given friction and back-emf.</p>

<p>Again however, as <a href="https://robotics.stackexchange.com/a/644/37">DrFriedParts explains</a>, this is also only part of the story. If the motor is being driven by an external force (effectively a -ve load), and thus the motor is turned into a generator, the current drawn may be cancelled out by the current generated by the external force.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-615" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-615">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-615">Load Comments</button></br>
			<div id = "commentsection-615" class = 'collapse'>
			<div id = "comment-710" class = "comment">
				<p>I wish I could select two answers as Ian's gives a concise answer with exactly the information needed, while yours provides extended information and outlines an example for the motor mentioned in the question. In the end I'm just choosing Ian's because it will be what most future viewer's will want to see first when coming to this question. +1 for sure though.</p>
			</div>
			<div id = "comment-809" class = "comment">
				<p>Ok, the update now makes this the more complete and useful answer.</p>
			</div>
			</div>
				<textarea id = "speech-615" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-615">
					<img id="start_img-615" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-615">Comment</button>
			<br><div id = "ans-644"  class = "post">
				<h2>Answer</h2>
			<div id="vote-644" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://robotics.stackexchange.com/a/614/37">@Ian</a> and <a href="https://robotics.stackexchange.com/a/615/37">@Mark</a> offer awesome (and correct) answers. I'll add one extra point for completeness...</p>

<p>There seems to be trend among less experienced designers to assume that stall current and free current equate to the maximum and minimum currents the motor might encounter. </p>

<p><em>They don't.</em></p>

<p>They are the <em>effective nominal</em> values. You can exceed these limits under relatively common circumstances if you are not careful.</p>

<h2>Exceeding the minimum</h2>

<p>As @Ian and @Mark have noted. The motor can turn into a generator (google "regenerative braking") when an outside source or event causes the motor to move faster than its applied current/voltage. For example, Ian's going down a hill or someone hand cranking the motor. </p>

<p>The current in these situations can not only be less than the free current, but actually go negative (go in the opposite direction -- acts like a source rather than a load).</p>

<p>If you think of it from a work (energy) perspective, say you are pushing a box of clothes down a hallway. It doesn't take much effort to do that, but if your buddy starts pushing with you, however little effort you were expending is lessened. That is the case of a motor going down a slight grade.</p>

<h2>Exceeding the maximum</h2>

<p>A secondary consequence of the generation function of the motor is that once it acquires momentum, it continues to convert that energy into electro-motive force (voltage) once power is no longer applied. </p>

<p>The interesting case is when you are reversing directions. If you rev the motor forward, then immediately switch directions, the voltage on the motor coil is momentarily about <em>twice</em> the previous supply voltage since the motor back-EMF is now in series with the supply. This results, as expected from Ohm's law, in current in excess of stall current.</p>

<h2>Practical solution</h2>

<p>For these reasons, practical bi-directional motor control circuits include "free-wheeling" diodes (D1-D4) in the figure to provide a return path for the back-emf related currents and thereby clamp the voltage to within the supply rails +/- the forward diode voltage. If you are building your own motor control you should include them as well.</p>

<p><img src="https://i.stack.imgur.com/adIDk.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-644" data-toggle = "popover">
				<p>user name : DrFriedParts</p>
				<p> user reputation : 583</p>
				<p class = "tagcontent" id = "usertaginfo-644">{'control': 7, 'motion': 7, 'None': 40, 'wiring': 7, 'routing': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-644">Load Comments</button></br>
			<div id = "commentsection-644" class = 'collapse'>
			<div id = "comment-795" class = "comment">
				<p>Great answer, I've updated my answer with a few extra notes and a reference to yours for more information. If I get the time I'll look up my notes on the currents you can get in the motor when shorting the phases for emergency breaking. I can't remember enough of that to write it up sensibly at the moment and most of my experience was with brush-less rather than brushed DC motors.</p>
			</div>
			</div>
				<textarea id = "speech-644" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-644">
					<img id="start_img-644" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-644">Comment</button>
			<br><div id = "ans-5167"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5167" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>All very good answers, but as a physics teacher I am concerned about some incorrect equivalences here that can only lead to confusion. </p>

<p>One form of [energy][1], eg [chemical potential energy][2], can be converted into other forms of energy (eg [electric potential energy][3], [kinetic energy][4], [sound energy][5], [thermal energy][6]). In the [SI system][7], which is by far the easiest to understand and most coherent, energy is a scalar physical quantity that is measured in [joules][8]. [Voltage][9] is not the same as energy. Voltage is measured in [volts][10]. One volt is defined as one joule per [coulomb][11]. Hence, energy (measured in joules) can never be converted into volts (measured in joules per coulomb).</p>

<p>The [Electromotive forces][12] (EMFs) in any electromechanical system (of which the electric motor is merely one example) are measured in volts. The [electric currents][13] are measured in [amperes][14]. [Electric charge][15] is measured in coulombs. One coulomb is one ampere second, ie the charge that flows past a point in a current of one ampere for one second.</p>

<p>What one needs to know for any electromechanical system is the [electrical impedance][16] of the electrical part of the system, and the [inertia][17] or [moment of inertia][18] of the mechanical part of the system. One also needs to know the net external [torque][19] driving the complete system at any moment. (When there is no torque per se (because there is no [moment][20]), then one needs to know only the net external [force][21] acting through the [centre of mass][22]).</p>

<p>At any moment, the electrical impedance, Z, of any electrical system is the square root of the square of the system's [electrical reactance][23], X, plus the square of the system's [electrical resistance][24], R. The system's electrical reactance is the difference between the [inductive reactance][25], X(L), and the [capacitive reactance][26], X(C), where X = X(L) - X(C)</p>

<p>(NB, initially, I tried to Wikilink each of the twenty-six key concepts in my answer, but the system has informed me that I am not allowed to include more than two links until I have at least ten points.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5167" data-toggle = "popover">
				<p>user name : Richard Mahony</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-5167">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5167">Load Comments</button></br>
			<div id = "commentsection-5167" class = 'collapse'>
			<div id = "comment-7936" class = "comment">
				<p>Here you go! You can add your links now! P.S. I'm not a physicist, but I can follow your answer. However, I didn't understand how the terms you introduced in the last paragraph relate to "stall current" and "free current", which is the question. It would be helpful if you expanded a bit on that.</p>
			</div>
			<div id = "comment-7938" class = "comment">
				<p>Welcome to *robotics* Richard. Thanks for your clarifications. As Shahbaz suggests, you should now be able to edit your answer to add the links back in, and if you could add a basic introduction to reluctance/reactance to help explain your last paragraph, it would make your answer even more useful.</p>
			</div>
			</div>
				<textarea id = "speech-5167" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5167">
					<img id="start_img-5167" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5167">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>