<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What dynamic system could these equations represent?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6657" class = "post">
			<h2>Question</h2>
			<div id="vote-6657" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 99</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What dynamic system could these equations represent?</h2>
<p>I have equations of a dynamic system. I need to figure out what this physical system is. </p>

<p>The equations are:</p>

<p>\begin{align}
\dot{x}_1&amp;=bx_1+kx_2+x_3\\
\dot{x}_2&amp;=x_1\\
\dot{x}_3&amp;=\alpha (u-x_2)-\beta x_3
\end{align}</p>

<p>All I can figure out is that it is maybe a mass-spring-damper system, plus a feedback control, but I am not quite sure about the terms $x_3$ and $\dot{x}_3$. What do these two terms mean?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6657" data-toggle = "popover">
				<p>user name : Zengrui</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-6657">{'control': 0, 'None': 0, 'dynamics': 0, 'robotic-arm': 1, 'jacobian': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6657" class = 'collapse'>
			</div>
				<textarea id = "speech-6657" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6657">
					<img id="start_img-6657" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6657">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6658"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6658" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're right, it's a second order plant representing the mass-spring-damper system $P\left(s\right)=1/\left(s^2-bs -k\right)$ (stiffness $k$ and damping $b$ should be thus negative) under the closed-loop control action of the compensator $C\left(s\right)$, whose transfer function is:</p>

<p>$
C\left(s\right)=\frac{\alpha}{s+\beta}.
$</p>

<p>The negative feedback is closed over the position of the mass, while the set-point is given by $u$.</p>

<p>We can easily derive these results by applying the <em>Laplace transform</em> to the system of equations and then substituting $x_1$:</p>

<p>$$
\begin{align}
s^2x_2&amp;=bsx_2+kx_2+x_3\\
sx_3&amp;=\alpha (u-x_2)-\beta x_3
\end{align},
$$</p>

<p>from which we obtain the following transfer functions:</p>

<p>$$
\begin{align}
P\left(s\right)&amp;=\frac{x_2\left(s\right)}{x_3\left(s\right)}=\frac{1}{s^2-bs-k}\\
C\left(s\right)&amp;=\frac{x_3\left(s\right)}{u\left(s\right)-x_2\left(s\right)}=\frac{\alpha}{s+\beta}
\end{align},
$$</p>

<p>corresponding to the closed-loop system here below:</p>

<p><img src="https://i.stack.imgur.com/CfxJU.jpg" alt="closed-loop system"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6658" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-6658">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6658">Load Comments</button></br>
			<div id = "commentsection-6658" class = 'collapse'>
			<div id = "comment-9574" class = "comment">
				<p>Hi, @Ugo thanks for the reply! It makes things clear. But I am not quite sure when doing the Laplace Transform of the equations, how do you deal with the **x3** in the first equation and **x2** in third equation. Thanks!</p>
			</div>
			<div id = "comment-9578" class = "comment">
				<p>I've extended the answer.</p>
			</div>
			</div>
				<textarea id = "speech-6658" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6658">
					<img id="start_img-6658" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6658">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>