<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are human-friendly terms for mobile-robot orientation and relative direction of non-robot objects?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1051" class = "post">
			<h2>Question</h2>
			<div id="vote-1051" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1071</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are human-friendly terms for mobile-robot orientation and relative direction of non-robot objects?</h2>
<p>Within robotics programming, orientation is primarily given in terms of x, y, &amp; z coordinates, from some central location.  However x, y, z coordinates aren't convenient for rapid human understanding if there are many locations from which to select (e.g., {23, 34, 45}, {34, 23, 45}, {34, 32, 45}, {23, 43, 45} is not particularly human friendly, and is highly prone to human error).  Yet more common English orientation descriptors are frequently either too wordy or too imprecise for rapid selection (e.g.,  "front-facing camera on robot 1's right front shoulder" is too wordy; but "front"/ "forward" is too imprecise - is the camera on the leading edge or is it pointing forward?)</p>

<p>In the naval and aeronautical fields vehicle locations are generically talked about as fore, aft (or stern), port, and starboard. While, direction of movement that is relative to the vehicle is frequently given in reference to a clockface (e.g., forward of the the fore would be "at 12", rear of the aft would be "at 6", while right of starboard and left of port would be "at 3" and "at 9", respectively).  This language supports rapid human communication that is more precise than terms such as "front" and "forward".  Are there equivalent terms within mobile robotics?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1051" data-toggle = "popover">
				<p>user name : Recursive Self Optimization</p>
				<p> user reputation : 34</p>
				<p class = "tagcontent" id = "usertaginfo-1051">{'control': 6, 'None': 0, 'localization': 6, 'design': 6, 'mobile-robot': 6, 'navigation': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1051">Load Comments</button></br>
			<div id = "commentsection-1051" class = 'collapse'>
			<div id = "comment-2518" class = "comment">
				<p>This question has changed significantly since I answered it. Instead of re-answering it, I'll simply leave my answer in case someone needs an example.</p>
			</div>
			<div id = "comment-2526" class = "comment">
				<p>@Josh - Thank you.  It is definitely still very useful information!</p>
			</div>
			<div id = "comment-14270" class = "comment">
				<p>Why do you require descriptions to be "human-friendly"?  Mathematical descriptions make things both PRECISE and CONCISE.  "Human-friendly" is not well defined here, and needs some clarification.</p>
			</div>
			</div>
				<textarea id = "speech-1051" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1051">
					<img id="start_img-1051" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1051">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1054"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1054" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Typically, a coordinate frame is placed at the robot center.  The x-axis points forward, the y-axis points left, and the z-axis points up.  Then, we measure angles with respect to the x-axis. So, a 90 degree angle would mean along the y-axis, as shown, </p>

<p><img src="https://i.stack.imgur.com/TjCRx.gif" alt="Coordinate Frames for Mobile Robots"></p>

<p>So, "12" corresponds to 0 yaw, or straight forward. "9" corresponds to 90 degree yaw, or along the y-axis.  6 corresponds to 180 degree yaw, or straight back along the minus x-axis, etc. </p>

<p>You are asking "How do I describe an object relative to the robot", which is the same as "how do I describe the location of the object in the robot's coordinate frame" By necessity, we consider the both to be the same, so the "driver's side" wheel is the "front left". Front because it is +X, and left because it is +Y. The cans are in "front" of the robot because they have a +X coordinate. They are "below" the robot because they have a -Z coordinate.  </p>

<p>It's the same as "Port", "Aft", "Starboard", because these are described <em>with respect to the vehicle</em>, not with respect to the observer. This is the basic definition of a <a href="http://en.wikipedia.org/wiki/Frame_of_reference" rel="nofollow noreferrer">Frame of Reference</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1054" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-1054">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1054">Load Comments</button></br>
			<div id = "commentsection-1054" class = 'collapse'>
			<div id = "comment-2451" class = "comment">
				<p>I would agree with yaw, pitch and roll being used quite often. But even if the answer is limited to ground vehicles I am not sure the rest holds. I for example would always prefer y-forward instead of x-forward. Also, the center of your robot may not always be a good choice to place the body frame of your system.</p>
			</div>
			<div id = "comment-2452" class = "comment">
				<p>@Josh - That's good information on terminology for a robot's direction.  

I'm actually looking for (a) on-vehicle relative locations & (b) non-vehicle relative locations.  For example, in the image, (a) how would you refer to the location of each tire (e.g., front driver's side, rear port) & (b) how would you refer to the direction of the sodas (e.g., "at 12" or 0 yaw)?  I'm specifically looking for generic, human-friendly, terms that can be used a range of robot configurations including 6-wheeled, boat, & biped robots (e.g., I can't use driver's & passenger's for the on-vehicle relative).</p>
			</div>
			<div id = "comment-2453" class = "comment">
				<p>If you were trying to describe to your grandmother which specific leg, wheel, track, etc. of your robot was moving in which specific direction, how would you do it?</p>
			</div>
			<div id = "comment-2456" class = "comment">
				<p>Put my comment in the answer</p>
			</div>
			<div id = "comment-2457" class = "comment">
				<p>@Jacob, These are the conventions I'm familiar with and which I've seen in literature. I'm sure there are others, and any is equally valid.</p>
			</div>
			<div id = "comment-2458" class = "comment">
				<p>Yes, I'm with you. :)  Please work with me one moment more. Imagine putting a dozen cameras on a robot at key locations with each one pointing in a preset direction.  Now imagine giving your grandmother a drop-down list to select which camera she wants to view (she can only view one feed at a time).  How would you _name_ each camera?  (i.e., a traditional x-y-z coordinate system isn't as human friendly as left rear; but, if a camera was named "center front", does that mean the camera is centered left-right or front-back, & for that matter is "front" in relation to its location or direction?)</p>
			</div>
			<div id = "comment-2459" class = "comment">
				<p>I'd name them cam 1, cam 2, cam 3, .. etc then show a picture of how they are positioned on the robot. I don't know what you are getting at, and this is not constructive, objective, or even answerable. You are asking my opinion, when I've already said that "usually" things are specified w.r.t. a coordinate frame, as above.</p>
			</div>
			<div id = "comment-2465" class = "comment">
				<p>Sorry folks, but comments should not be used for extended discussions, they are here to help improve an answer or question. If you wish to discuss this further, could I suggest that you talk over on [chat].</p>
			</div>
			<div id = "comment-2467" class = "comment">
				<p>@Josh - The positional picture is an ideal solution, but isn't a possibility for several iterations.  I'm doing UI design for a system with multiple robot configs all logged in simultaneously. The current solution has been cam 1, cam 2, etc for each bot, but that started confusing the engineers (currently 4 bots each with up to 12 cameras; "which camera was on the walker's left shoulder pointing backwards?"). The engineers asked me to identify short robotic terms they could use, because they kept tripping over "forward" & "front" (is the camera on the leading edge or is it pointing forward?)</p>
			</div>
			<div id = "comment-2468" class = "comment">
				<p>@Josh - (continued) Despite much research, the only standardized approaches I've seen have been numeric coordinate systems (precise, but not human friendly), nautical/aeronautical (not robotic in nature), and clockface for direction.  Obviously, my engineers aren't familiar with robotic specific terms, but they believe there are standards.  Not being a roboticist, I've searched all the places I know and am now seeking assistance myself.</p>
			</div>
			<div id = "comment-2469" class = "comment">
				<p>@Mark - I'm really just trying to clarify my original answer.  I understand the desire for brief questions and answers in this forum, but at present (a) I'm clearly still struggling with the terminology to even ask the question, yet alone ask it clearly and (b) I don't even have enough reputation to post to Robotics Chat.  Heck, I don't even have enough credit to give Josh & Jacob thumbs up for their helpful attempts to steer me to the answer I'm seeking. :(</p>
			</div>
			<div id = "comment-2470" class = "comment">
				<p>Sorry @RecursiveSelfOptimization I hadn't spotted that you were below 20 rep. Feel free to ask about your problems with terminology with new questions, it shouldn't take long for you to gain the 9 more rep that you need to chat. Also, the best way to clarify your question is to *edit* your question. That way all of the information future answerers need is in your question rather than scattered through comments to the answers. The same goes for answers, which is why Josh edited his answer, to keep the relevant information in his answer rather than being scattered through these comments.</p>
			</div>
			</div>
				<textarea id = "speech-1054" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1054">
					<img id="start_img-1054" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1054">Comment</button>
			<br><div id = "ans-1108"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1108" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think you could use <em>bearing</em> (or <em>azimuth</em> or <em>right ascension</em>) and <em>mark</em> (or <em>altitude</em> or <em>declination</em>). For example 0 mark 0 is straight ahead and on the horizon. 30 mark 30 is 30 degrees to the right and 30 degrees above the horizon. -90 mark -90 would be 90 degrees to the left and then face down into the ground.  These could be relative to your current position and orientation or relative to some reference such as true north or magnetic north and the horizon. </p>

<p>This is the system astronomer's use.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1108" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-1108">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1108" class = 'collapse'>
			</div>
				<textarea id = "speech-1108" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1108">
					<img id="start_img-1108" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1108">Comment</button>
			<br><div id = "ans-8716"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8716" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I prefer to use <a href="https://en.wikipedia.org/wiki/Anatomical_terms_of_location" rel="nofollow">anatomical terms</a> for this. I'm slightly biased because I often do biomimetic and rehabilitation work. However, there are a few nice things about using them discussing or describing a (vehicle) body.</p>

<ol>
<li>The terminology is rich. There are unambiguous terms for location (left right anterior posterior dorsal ventral), the cross section planes (sagital transverse coronal), and relative positioning on the body (proximal distal).</li>
<li>The terminology is shared. Roboticists doing medical, walking, and manipulation use these terms and the fact that biologists and medical scientists can instantly understand you creates opportunities for scientific cross-pollination. </li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8716" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8716">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8716" class = 'collapse'>
			</div>
				<textarea id = "speech-8716" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8716">
					<img id="start_img-8716" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8716">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>