<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What sensors and algorithms are used in Digital Pen for tracking hand writing?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11157" class = "post">
			<h2>Question</h2>
			<div id="vote-11157" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 252</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What sensors and algorithms are used in Digital Pen for tracking hand writing?</h2>
<p>Could anyone tell what are the sensors used in a digital pen which or specifically Equil smart pen and smart marker which can track hand writings. Is it MEMS based??If Yes, Is it MEMS accelerometer only or a combination of MEMS sensors like gyroscope and magnetometer and acceleometer? What algorithms are used here?  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11157" data-toggle = "popover">
				<p>user name : Nithin G A</p>
				<p> user reputation : 64</p>
				<p class = "tagcontent" id = "usertaginfo-11157">{'None': 0, 'accelerometer': 11, 'algorithm': 2, 'calibration': 1, 'integration': 3, 'gyroscope': 5, 'orientation': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11157" class = 'collapse'>
			</div>
				<textarea id = "speech-11157" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11157">
					<img id="start_img-11157" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11157">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11158"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11158" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most smart pens use a number of differenst sensors different types of MEMS but more importanly they use optical sensors. Pen tip motions are recreated based on measurements of all sensors using sensor fusion.</p>

<p>Optical sensors (Ir cameras or visible cameras) and ultrasonic sensors are used for pose (position and orientation measurment). Some pens, as the Equil use an external sensing (with infrared and ultrasound sensors) unit which tracks the pen relative to the sensor. Other solution include small cameras near the tip of the pen which identify special markers on the paper and so can calculate the relative position of the pentip on the paper. These directly measure pen relative to the paper. </p>

<p>The optical pose sensing is more reliable then the MEMS sensors since they directly measure positions and so they do not suffer from drift. However, MEMS sensors help to recreate motions using sensor fusion. Both giros and acceleromaters offer usefull input to the sensor fusion process, using both of them if just one type may be an economic decision and not a technical one. </p>

<p>I am not sure to what extent magnetometers are/can be used since magnetic field vector fo the earth, which they can sense is dependent on geographical location. Also they are effected by nearby electro-magnetic fields (e.g. motors, maybe large LCD screens due to their inverter). </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11158" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-11158">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11158">Load Comments</button></br>
			<div id = "commentsection-11158" class = 'collapse'>
			<div id = "comment-20214" class = "comment">
				<p>Could you elaborate on the the external sensors used in Equil Smart Pen please...Because I see no optical sensors (I may be wrong) in equil</p>
			</div>
			<div id = "comment-20215" class = "comment">
				<p>To my knowledge, as mentioned, the external sensor is an optical sensor (camera, maybe IR)</p>
			</div>
			<div id = "comment-20216" class = "comment">
				<p>I may be wrong, it seems that this is a different version that what I was familiar with</p>
			</div>
			<div id = "comment-20217" class = "comment">
				<p>What do you mean by external sensor? I mean just a confusion..Optical sensors are inside the pen only right??</p>
			</div>
			<div id = "comment-20218" class = "comment">
				<p>But can they be using only MEMS gyro and accelerometer only to track ???Using some kalman type filters??Is it possible to do track for such a long time with that accuracy??</p>
			</div>
			<div id = "comment-20219" class = "comment">
				<p>The Equil Smart pen has a "reciever unit" which has infrared and ultrasound sensors built in. No, using MEMS only woul not be suitable.</p>
			</div>
			<div id = "comment-20226" class = "comment">
				<p>Thank you for your inputs....Yes they use ultrasound sensors as you have mentioned. Just came to know through some video.</p>
			</div>
			</div>
				<textarea id = "speech-11158" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11158">
					<img id="start_img-11158" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11158">Comment</button>
			<br><div id = "ans-11168"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11168" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Classical odometry sensors:</strong> </p>

<ol>
<li>IMU:gyro, accelerometer, compass (Wiimote IMU - not infrared)</li>
<li>Optical flow (optic mouse)</li>
<li>encoders (like mouse marble)</li>
</ol>

<p>These systems are cheap and easy to apply. However these sensors needs <strong>sensor fusion</strong> and <strong>filtering</strong> because of error cumulation. These sensors are not suitable for long processes.</p>

<p><strong>Reference based systems:</strong></p>

<ol>
<li>sensor surfaces (touchscreen, electromagnetic/resistive/capacitve etc.)</li>
<li>Infrared reference tracking (wiimote IR and white board)</li>
<li>Multi point reference: (ultrasonic transmitter and receivers) source emits ultrasonic waves and triliteration/triangulaion made accoridng to 3 or more receivers</li>
<li>Optical tracking (VICON, multiple cameras placed allover the target/pen and according trace of pointers which placed on target motions are modelled )</li>
</ol>

<p>these systems are more <strong>accurate</strong> but needs computational power and a lot of hardware. Again, you should use <strong>sensor fusion</strong> and <strong>filtering</strong>. You can also search <strong>triangulation</strong> and <strong>trileteration</strong> methods and algorithms.</p>

<p>For sensor fusion and filtering algorithms please search:</p>

<ul>
<li>Kalman filter/ Extended Kalman Filter </li>
<li>Complementary Filter</li>
<li>Particle Filer</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11168" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-11168">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11168">Load Comments</button></br>
			<div id = "commentsection-11168" class = 'collapse'>
			<div id = "comment-20161" class = "comment">
				<p>I would argue that a compass is not an odometry sensor, since it measures absolute orientation in the earth "magnetic coordinate system". Also, only incermental encoders could be considered odomerty, absolute encoders not. Furthermore, stating that odometry systems are cheap is far to general, many example scan be found which prove the contrary.</p>
			</div>
			<div id = "comment-20162" class = "comment">
				<p>@50k4 Yes you are right but i wrote compass because of usage in sensor fusion with gyros and accelerometers.</p>
			</div>
			<div id = "comment-20212" class = "comment">
				<p>@acs Sorry for coming back late...Is it possible to track the handwriting using only MEMS gyro and acceleormeter for a long time using kalman or particle filter or even complimentary filter?</p>
			</div>
			<div id = "comment-20213" class = "comment">
				<p>For example, Equil Smart pen, I dont see any optical sensors used (I may be wrong), And they are able to track for any amount of time.</p>
			</div>
			<div id = "comment-20224" class = "comment">
				<p>You do not see them on the pen. There is ultrasonic and IR position measurment on the recivere unit which you need to place in top of the page your are writing to</p>
			</div>
			<div id = "comment-20227" class = "comment">
				<p>You can do it your self IMU sensor easily (for example hc-05 bluetooth, arduino and mpu6050-IMU) . But these system gives only acceleration and gyro which means you can get 3d forces and pose. It can be used for getting motion characteristics but if you try to calculate track you will make cumulative error which grows like a rolling snow ball (Even if you use any filtering). In summary if you want to make a good system you should use reference based systems.</p>
			</div>
			</div>
				<textarea id = "speech-11168" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11168">
					<img id="start_img-11168" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11168">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>