<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the biggest challenges to build an highly performant robotic hand?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9832" class = "post">
			<h2>Question</h2>
			<div id="vote-9832" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 42</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the biggest challenges to build an highly performant robotic hand?</h2>
<p>When looking at the robotic hands made by researchers that are said to be rather close to a real human hand, they can easily cost tens of thousands of dollars.  </p>

<p>What makes them so much expensive? Sure there are lots of joints where parts must move, but it's still hard to figure out how it can cost so much even with highly precise servomotors.  </p>

<p>What is so much expensive when trying to build a humanoid hand? How can we make it less expensive? What do these expensive hands can do, that a diy cheap hand project can't?  </p>

<p>Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9832" data-toggle = "popover">
				<p>user name : Trev r Anne Denise</p>
				<p> user reputation : 116</p>
				<p class = "tagcontent" id = "usertaginfo-9832">{'radio-control': 2, 'None': 0, 'humanoid': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9832">Load Comments</button></br>
			<div id = "commentsection-9832" class = 'collapse'>
			<div id = "comment-17514" class = "comment">
				<p>Is there a specific robotic hand that you are referencing? Any answers will be dependent on the specific platform. Major differences between platforms would include whether or not the hand is mounted on a mobile robot, the sensing capabilities, and so forth.</p>
			</div>
			<div id = "comment-17515" class = "comment">
				<p>@NBCKLY I think it was this article : http://www.gizmag.com/robotic-arm-string-tendons/22018/</p>
			</div>
			</div>
				<textarea id = "speech-9832" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9832">
					<img id="start_img-9832" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9832">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9833"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9833" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Replying to your comment and the robotic hand mentioned in <a href="http://www.gizmag.com/robotic-arm-string-tendons/22018/" rel="nofollow">Gizmag</a>, I think I can answer some of your questions, but before I begin, there are some important references that you should consult to really understand the questions that you have asked. </p>

<p>The robotic hand in question operates on the "twisted string" principle, which act as tendons in the hand. The idea is that when you twist a string, it gets shorter--small DC motors are used to accomplish this. See this <a href="http://www.dexmart.eu/fileadmin/dexmart/public_website/downloads/presentations/USAAR-Workshop-A3.pdf" rel="nofollow">presentation</a> for a brief introduction to twisted string actuation, and this <a href="https://www.researchgate.net/profile/Gianluca_Palli/publication/267961193_Innovative_Technologies_for_Innovative_Technologies_for_the_Next_the_Next_Generation_of_Robotic_Hands_Generation_of_Robotic_Hands/links/5524c4370cf22e181e73aafc.pdf" rel="nofollow">presentation</a> for a description of how twisted string actuation is used in practice on the robotic hand. </p>

<blockquote>
  <p>What makes them so much expensive? Sure there are lots of joints where
  parts must move, but it's still hard to figure out how it can cost so
  much even with highly precise servomotors. What is so much expensive 
  when trying to build a humanoid hand? </p>
</blockquote>

<p>After reading the reference material, I am sure that the answer to this question is obvious. The robotic hand is not as simple as using hobby servos for each of the joints. Small precision DC motors are used to enable the twisted string actuation. Furthermore, a significant number of motors is required because of the number of degrees of freedom (DOF) of the human hand. On top of the actuators themselves, there is the control of the motors, which is certainly non-trivial. If feedback is implemented, then tactile sensors of some sort will be needed, and if you want to mount this on a mobile robot, then you have to worry about weight and power supply.</p>

<p>The short answer is that proper parts are really expensive, and hobby parts won't get the job done.</p>

<blockquote>
  <p>How can we make it less expensive? </p>
</blockquote>

<p>Once the research is done, decreasing cost is done by manufacturing large quantities, which brings the cost of each unit down; however, there must be a reason to make so many robotic hands, so don't count on this happening in the near future.</p>

<blockquote>
  <p>What do these expensive hands can do, that a diy cheap hand project can't?</p>
</blockquote>

<p>Precision comes to mind, but the purpose of the twisted string robotic hand is as much to demonstrate that robotic hands are feasible as to explore and conduct research on twisted string actuation itself.</p>

<p>As an aside to the questions you have asked an the robotic hand we are discussing, I have two important things to mention. </p>

<p>First, I have to say that if you really want to learn about robotics or technology in general, the first thing you should do is understand the differences between secondary and primary sources. Gizmag/Gizmodo/etc generate income by selling ads, so the emphasis is not on proper reporting and even less on the material they purportedly cover--the people writing the articles likely have less knowledge about the subject than you do. You shouldn't count on the veracity of these sources and should fact-check as a matter of course. To do this look for author names and articles that should be referenced, then use Google Scholar to find primary literature on the subject--reading through this material is key.</p>

<p>Second, there are distinct differences in approach to robotics between hobbyists and researchers. Hobby robotics focus on the robot itself as a product that can be seen, touched, and possibly used. In research, the focus is often on underlying theories, and the robot is merely a platform used to demonstrate and apply theory. There are merits to both, and each approach can benefit from the perspectives of the other, but when you try to compare robots used for one approach from the other, you must understand that the objectives are fundamentally different.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9833" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-9833">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9833" class = 'collapse'>
			</div>
				<textarea id = "speech-9833" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9833">
					<img id="start_img-9833" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9833">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>