<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the cheapest way to make led sensitive to sound around?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6714" class = "post">
			<h2>Question</h2>
			<div id="vote-6714" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 56</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the cheapest way to make led sensitive to sound around?</h2>
<p>There is always a way to do this using arduino, rasberry pi etc.  However, in many cases in discussion in forums i've come across things where whole 'logic' can be uploaded to $0.50 chip. Instead of $50 dollar part. DRASTIC change. This defines a line between a one time thing that you made as a hobby, and something you can sell around. </p>

<p>So basically if i want led to get brightest at loud sound and almost off on silence.
Or with button that switch to 100% on all the time. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6714" data-toggle = "popover">
				<p>user name : Muhammad Umer</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-6714">{'None': 0, 'design': 0, 'electronics': 0, 'circuit': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6714" class = 'collapse'>
			</div>
				<textarea id = "speech-6714" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6714">
					<img id="start_img-6714" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6714">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6716"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6716" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If the intention is only to have one LED glowing based on surrounding sound, use a condenser micro phone amplifier connect the output to LED, If you are doing some robotic project and already audio out put is available, you can connect LED directly with a voltage divider to avoid over voltage, also you can have an Op-Amp circuit to drive the LED.The solution will be based on  where are you trying to use this? how do you capture the surrounding audio? what kind of surrounding audio are you expecting?</p>

<p>EDITED: based on your comment, </p>

<p>You need a pre-amplifier to capture audio from mic, refer somthing similar to this circuit <a href="https://electronics.stackexchange.com/questions/71335/how-to-amplify-electret-microphone-to-range-from-0-5v-with-bias-of-2-5v">https://electronics.stackexchange.com/questions/71335/how-to-amplify-electret-microphone-to-range-from-0-5v-with-bias-of-2-5v</a></p>

<p>After this convert Audio to attractive light pattern, for that you can use db level indicator something similar to circuit in following link.
<a href="http://bestengineeringprojects.com/electronics-projects/a-versatile-decibel-meter-audio-level-indicator-spectrum-analyser/" rel="nofollow noreferrer">http://bestengineeringprojects.com/electronics-projects/a-versatile-decibel-meter-audio-level-indicator-spectrum-analyser/</a> (google for LM3914 circuits or same can be done with series of transistors and diodes, which works based on forward bias threshold voltage)</p>

<p>You can also combine this with rotating patterns of leds whose speed is based on audio input, if you google you will find some circuit. I can give some hint, it is possible with 555 and CD4017.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6716" data-toggle = "popover">
				<p>user name : Renjith</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-6716">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6716">Load Comments</button></br>
			<div id = "commentsection-6716" class = 'collapse'>
			<div id = "comment-9634" class = "comment">
				<p>i'm trying to create a badge that you can put on tshirt which would have 1-10 leds in it and they would shine brighter and dimmer based on normal surronding sounds.</p>
			</div>
			</div>
				<textarea id = "speech-6716" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6716">
					<img id="start_img-6716" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6716">Comment</button>
			<br><div id = "ans-6719"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6719" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I was working on a similar project a while ago. Assuming that you are using an AUX for audio input, the best thing that I have done that seemed to work was using a <strong>TIP-31c NPN Transistor</strong>. You could also use a TIP-31a/b transistor.</p>

<p>Here's an image on how you could connect the transistor and get the affect you are looking for: <a href="http://cdn.instructables.com/F7J/0GZT/HH2VYB6L/F7J0GZTHH2VYB6L.LARGE.gif" rel="nofollow">http://cdn.instructables.com/F7J/0GZT/HH2VYB6L/F7J0GZTHH2VYB6L.LARGE.gif</a> </p>

<p><strong>Summarizing the image:</strong> You want to connect the Base of the transistor to the left or right channel of the AUX, LEDs to the collector and ground the Emitter.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6719" data-toggle = "popover">
				<p>user name : Chandough</p>
				<p> user reputation : 455</p>
				<p class = "tagcontent" id = "usertaginfo-6719">{'quadcopter': 23, 'None': 15, 'design': 1, 'multi-rotor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6719" class = 'collapse'>
			</div>
				<textarea id = "speech-6719" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6719">
					<img id="start_img-6719" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6719">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>