<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What do I do if I want to have a discussion with the community?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1444" class = "post">
			<h2>Question</h2>
			<div id="vote-1444" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 65</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What do I do if I want to have a discussion with the community?</h2>
<p>I want to have a discussion with the community, but I believe that is not allowed. </p>

<p>Please don t say I would have to go somewhere else, as I believe the StackExchange community is more refined. Also don t say chat, not many people come there.</p>

<p>How do I have a discussion?</p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1444">Load Comments</button></br>
			<div id = "commentsection-1444" class = 'collapse'>
			<div id = "comment-2744" class = "comment">
				<p>Stack Exchange is not a discussion forum. I'm saying [chat](http://chat.stackexchange.com/rooms/38/ask-different-chat) because that's the best answer you're going to get.</p>
			</div>
			<div id = "comment-2746" class = "comment">
				<p>Or establish your discussion on a blog or discussion forum somewhere, and post your link here in this thread in Meta...</p>
			</div>
			<div id = "comment-2747" class = "comment">
				<p>What do you mean by "have a discussion"? What sort of topics do you wish to discuss? If it's a "discussion" about how people use the site, posting a question here on meta is the right way to do it. If it's a discussion about your favorite restaurant, no place on Ask Different is the right place to do it. If you want to chat about the new iPhone or something like that, Chat is the place to do it.</p>
			</div>
			<div id = "comment-2748" class = "comment">
				<p>OK  So chat. Any documentation on how best to use chat?</p>
			</div>
			<div id = "comment-2750" class = "comment">
				<p>Click the link in my comment ([or this one](http://chat.stackexchange.com/rooms/38/ask-different-chat)) and start talking.</p>
			</div>
			<div id = "comment-2751" class = "comment">
				<p>@GEdgar That's not something I would encourage. As mentioned below, SE isn't a discussion forum and we shouldn't try to turn it into one.</p>
			</div>
			</div>
				<textarea id = "speech-1444" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1444">
					<img id="start_img-1444" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1444">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1445"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1445" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Stack Exchange-proper is not a discussion forum. The design, flow, and purpose behind the site actively dissuades from having extended discussions. You have sufficient rep to join <a href="http://chat.stackexchange.com">any public chat room</a>.</p>

<p>Yes, chat is often quiet. You're also at a disadvantage as a result of living outside of the US. Stack Exchange is English/US-Centric (with exceptions), and chat very heavily reflects this.</p>

<p>Much of the general reason that chat is quite is because there isn't any meaningful subject of conversation taking place. If we have a reason to talk/answer, we often do. Having said that, it's somewhat of a surprise that the iPhone 5/iOS 6 bump has only barely re-invigorated the chat room. I'm sure that will change as soon as they're released and in people's hands.</p>

<p>We can't promise an answer, but also know chat is asynchronous and well integrated. If you say something when people aren't around, and someone replies to you when they come back to the chat room, you will be notified via your inbox in the top left hand side of nearly all Stack Exchange network pages.</p>

<p>Chat can be asynchronous, and with it's reply tracking you can usually catch up on a conversation and context without too much difficulty.</p>

<p><a href="http://chat.stackexchange.com">Chat</a> is the best answer you're going to get on this network. <a href="http://chat.stackexchange.com">Chat</a> facilitates what it's name suggests. It was created and hosted in the SE network for exactly this reason.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1445">Load Comments</button></br>
			<div id = "commentsection-1445" class = 'collapse'>
			<div id = "comment-2752" class = "comment">
				<p>Thanks, that pretty much sums it up.</p>
			</div>
			</div>
				<textarea id = "speech-1445" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1445">
					<img id="start_img-1445" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1445">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>