<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What was the earliest concept of a robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-533" class = "post">
			<h2>Question</h2>
			<div id="vote-533" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 350</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What was the earliest concept of a robot?</h2>
<p>I'm a highschool student studying electronics and for an assessment task on the history of electronics I have decided to focus on the history of robotics. I want to begin with the earliest possible concept of a robot and progress through major developments in robotics to the current day. Where should I begin my research?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-533" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-533">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-533">Load Comments</button></br>
			<div id = "commentsection-533" class = 'collapse'>
			<div id = "comment-645" class = "comment">
				<p>Props for asking what would in most instances be a list or subjective question (which would get closed pretty quickly) in a clear and answerable way.</p>
			</div>
			</div>
				<textarea id = "speech-533" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-533">
					<img id="start_img-533" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-533">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-534"  class = "post">
				<h2>Answer</h2>
			<div id="vote-534" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If I recall correctly Leonardo da Vinci is credited with the earliest design of a robot. My personal favorite is generally referred to as <a href="http://en.wikipedia.org/wiki/Leonardo%27s_robot">Leonardo's robot</a>. However some accounts place <a href="http://www.youtube.com/watch?v=a2qeZrejZp0">Leonardo's cart</a> as having come first and is generally considered a robot because it could be "reprogrammed" by replacing its cogs.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-534" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-534">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-534" class = 'collapse'>
			</div>
				<textarea id = "speech-534" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-534">
					<img id="start_img-534" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-534">Comment</button>
			<br><div id = "ans-537"  class = "post">
				<h2>Answer</h2>
			<div id="vote-537" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are interested in real and fictional robots (for concepts), the <a href="http://www.robothalloffame.org/inductees.html">CMU Robot Hall of Fame</a> may be useful.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-537" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-537">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-537" class = 'collapse'>
			</div>
				<textarea id = "speech-537" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-537">
					<img id="start_img-537" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-537">Comment</button>
			<br><div id = "ans-547"  class = "post">
				<h2>Answer</h2>
			<div id="vote-547" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've found the <a href="http://en.wikipedia.org/wiki/History_of_robots">wikipedia article</a> (as well as its linked articles) on the history of robots to be enlightening:</p>

<blockquote>
  <p>The <strong>history of <a href="http://en.wikipedia.org/wiki/Robot">robots</a></strong> has its roots as far back as ancient myths and legends. Modern concepts were begun to be developed when the Industrial Revolution allowed the use of more complex mechanics and the subsequent introduction of electricity made it possible to power machines with small compact motors. After the 1920s the modern formulation of a humanoid machine was developed to the stage where it was possible to envisage human sized robots with the capacity for near human thoughts and movements, first envisaged millennia before.</p>
</blockquote>

<p>Also, you might mention <a href="http://en.wikipedia.org/wiki/R.U.R.">R.U.R.</a>, a play in the 1920s that popularized the term <em>robot</em>:</p>

<blockquote>
  <p><strong>R.U.R.</strong> is a 1920 science fiction play in the Czech language by <a href="http://en.wikipedia.org/wiki/Karel_%C4%8Capek">Karel  apek</a>. R.U.R. stands for Rossum's Universal Robots, an English phrase used as the subtitle in the Czech original.<a href="http://en.wikipedia.org/wiki/History_of_robots">1</a> It premiered in 1921 and introduced the word "robot" to the English language and to science fiction as a whole.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-547" data-toggle = "popover">
				<p>user name : Robz</p>
				<p> user reputation : 954</p>
				<p class = "tagcontent" id = "usertaginfo-547">{'pid': 8, 'embedded-systems': 0, 'slam': 20, 'sensor-error': 8, 'accelerometer': 5, 'kinematics': 7, 'mechanism': 1, 'differential-drive': 8, 'imu': 12, 'kalman-filter': 28, 'actuator': 21, 'gyroscope': 5, 'gps': 20, 'magnetometer': 5, 'None': 25, 'noise': 5, 'power': 0, 'localization': 20, 'microcontroller': 0, 'brushless-motor': 13, 'sensors': 41, 'quadcopter': 13, 'navigation': 7, 'sensor-fusion': 21, 'sonar': 8, 'servos': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-547">Load Comments</button></br>
			<div id = "commentsection-547" class = 'collapse'>
			<div id = "comment-644" class = "comment">
				<p>Indeed, you can't talk about the history of robotics without mentioning where the term comes from.</p>
			</div>
			</div>
				<textarea id = "speech-547" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-547">
					<img id="start_img-547" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-547">Comment</button>
			<br><div id = "ans-571"  class = "post">
				<h2>Answer</h2>
			<div id="vote-571" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.moah.org/exhibits/archives/robotman/history/history.html" rel="nofollow">This site</a> gives a great time line of robotics. Keep in mind the origins of robots come well before electricity. As the article describes, the early egyptians designed and constructed simple automatons, which are considered the earliest type of robot. Another starting point worth mentioning is the materials that early robots were made from and continue to present the evolution of carbon fibre and other materials that make robots as amazing as they are today.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-571" data-toggle = "popover">
				<p>user name : Jordan</p>
				<p> user reputation : 446</p>
				<p class = "tagcontent" id = "usertaginfo-571">{'artificial-intelligence': -1, 'None': 7, 'walking-robot': 6, 'rcservo': 0, 'accelerometer': 4, 'arduino': 16, 'deduced-reckoning': 5, 'microcontroller': 33, 'simulator': 8, 'research': 11, 'slam': 6, 'imu': 1, 'machine-learning': 37, 'mobile-robot': 8, 'electronics': 11, 'walk': 2, 'gyroscope': 4, 'software': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-571" class = 'collapse'>
			</div>
				<textarea id = "speech-571" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-571">
					<img id="start_img-571" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-571">Comment</button>
			<br><div id = "ans-662"  class = "post">
				<h2>Answer</h2>
			<div id="vote-662" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can find some nice presentations on <a href="http://prezi.com/explore/" rel="nofollow">prezi</a> about robotic history (and about many other topics).</p>

<p>For example <a href="http://prezi.com/_a_tszqyeiut/robotics-history/" rel="nofollow">this</a> or <a href="http://prezi.com/mhcel532cxeq/the-history-of-robots/" rel="nofollow">this</a> or <a href="http://prezi.com/a3pg61a2t6qr/robots-past-present-and-future/" rel="nofollow">this</a> presentations mention the ancient greek Archytas's robotic pigeon well before Leonardo's work around 350 B.C. and the klepsydra from around 300 B.C. having a feedback control system.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-662" data-toggle = "popover">
				<p>user name : rics</p>
				<p> user reputation : 551</p>
				<p class = "tagcontent" id = "usertaginfo-662">{'kinect': 32, 'multi-agent': 3, 'None': 25, 'sensors': 32}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-662">Load Comments</button></br>
			<div id = "commentsection-662" class = 'collapse'>
			<div id = "comment-824" class = "comment">
				<p>You are not new to stackexchange websites, but I need to tell you that unfortunately the internet changes all the time. [Links rot](http://en.wikipedia.org/wiki/Linkrot) and [answers with only links are not considered good answers](http://meta.stackexchange.com/a/8259/169090). It would be nice if you quoted some of the more important/interesting parts of the articles you linked, just in case that particular website goes down.</p>
			</div>
			<div id = "comment-825" class = "comment">
				<p>Ok, updated. My intention was to show a possible source "where he should begin his research".</p>
			</div>
			</div>
				<textarea id = "speech-662" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-662">
					<img id="start_img-662" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-662">Comment</button>
			<br><div id = "ans-703"  class = "post">
				<h2>Answer</h2>
			<div id="vote-703" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One major development milestone was the first functioning robot to use electricity. As mentioned in Jordan Brown's link, Nikola Tesla demonstrated a radio-controlled robotic boat (more of an ROV I suppose) in a specially-built pool in Madison Square Garden in 1898. He even implemented a crude logic gate designed to prevent other transmitters from taking control from him.</p>

<p>Radio being a not exactly well-known technology in 1898 (Marconi had not even filed for any patents in the US yet), disbelieving onlookers gave such explanations as witchcraft, telepathy, and a tiny trained monkey hidden inside the vehicle.</p>

<p>Related US patents:</p>

<p><a href="http://www.google.com/patents/US613809" rel="nofollow">Patent 613,809: Method of and Apparatus for Controlling Mechanism of Moving Vessels or Vehicles</a>
<a href="http://www.google.com/patents/US725605" rel="nofollow">Patent 725,605: System of Signaling</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-703" data-toggle = "popover">
				<p>user name : Joe Baker</p>
				<p> user reputation : 477</p>
				<p class = "tagcontent" id = "usertaginfo-703">{'None': 33}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-703" class = 'collapse'>
			</div>
				<textarea id = "speech-703" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-703">
					<img id="start_img-703" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-703">Comment</button>
			<br><div id = "ans-711"  class = "post">
				<h2>Answer</h2>
			<div id="vote-711" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I started where you are but found lots of misconceptions and omissions so I started a small page on History making robots at <a href="http://davidbuckley.net/DB/HistoryMakers.htm" rel="nofollow">http://davidbuckley.net/DB/HistoryMakers.htm</a>
Reuben Hogget contributed a lot of information and after our trip round Europe talking to researchers who had built robots in the 1950s he started <a href="http://cyberneticzoo.com" rel="nofollow">http://cyberneticzoo.com</a> - not everything about the history of robotics is there yet. Humans have talked about robots (by other names) for a long time. 
In the Greek myths Hephaestus creates 'walking' tripods and golden ladies to help him. The Greeks built large animated sculptures such as a 12 foot high statue of Nysa mounted on a huge cart. Heron of Alexandria (~50AD) created animated figures for theatre shows and also described mechanically programmable devices. There was nothing particularly new about Leonardo's drawings of a mechanical statue of a knight, it is just that his drawings have survived. The first 'modern' 'robot' was probably Dederick's 1868 steam man (Boilerplate is fictional). From early in the last century there have been many drawings of electromechanical men and several working ones (albeit of limited funtionality and really precursors of Disney's animatronic figures). Capek's RUR really only went along with people's fascination with robots (the robots he describes though are biological). A major advance came in the 1940s with Grey Walter's tortoises Elmer and Elsie which had simple electronic brains. The mobile robot Shakey (1966) was another 'milestone'. After that you have the walking robots from Waseda University, the subsumption (a dead end) robots from the MIT Mobile Robot Lab, and then Honda's P2 humanoid which led to a veritable explosion of humanoid robots from Japan followed by Korea and others. Whatever you read, all the writers will have their own slant on things and it is a huge field. Reuben has well over 500 posts on robotics history and PlastiPals.com is the site to read for more modern robots. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-711" data-toggle = "popover">
				<p>user name : DAvid</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-711">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-711" class = 'collapse'>
			</div>
				<textarea id = "speech-711" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-711">
					<img id="start_img-711" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-711">Comment</button>
			<br><div id = "ans-715"  class = "post">
				<h2>Answer</h2>
			<div id="vote-715" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think it is better to start with explaining about an automation. And then go for robotics and their milestones. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-715" data-toggle = "popover">
				<p>user name : Sagar</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-715">{'None': -2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-715" class = 'collapse'>
			</div>
				<textarea id = "speech-715" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-715">
					<img id="start_img-715" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-715">Comment</button>
			<br><div id = "ans-746"  class = "post">
				<h2>Answer</h2>
			<div id="vote-746" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When you start talking about the first robots, you quickly run into the question: "What is a robot?".</p>

<p>Before we can say whether or not some machine is the first robot, we need to define what exactly we mean by the word 'robot'. The problem is, that there's really no single definition, and it depends who you ask. For example, I had a <a href="http://en.wikipedia.org/wiki/Talk%3aRobot/Archive_4#Timeline" rel="nofollow">massive argument</a> with someone on the Wikipedia robots talk page about the definition of robot. And you can forget about looking up the word in a dictionary, all of the dictionary definitions I have seen are hopelessly naive. The best definition I have seen is on the Wikipedia page:</p>

<blockquote>
  <p>A robot is a mechanical or virtual artificial agent.</p>
</blockquote>

<p>The most important word here is 'agent'. A machine which seems to have a sense of agency is more likely to be called a robot. I can imagine that if Leonardo had built his 'robot' then people would really have thought it has real agency of its own, and been practically alive, and would therefore have qualified to be included in that definition of robot. Today, however, roboticists have stricter definitions, and require robots to be more than just clockwork, and have some degree of autonomy and interaction with the environment.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-746" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-746">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-746" class = 'collapse'>
			</div>
				<textarea id = "speech-746" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-746">
					<img id="start_img-746" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-746">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>