<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the technology used for no-resistance robot arms?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7066" class = "post">
			<h2>Question</h2>
			<div id="vote-7066" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 153</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the technology used for no-resistance robot arms?</h2>
<p>I saw a high end robot arm once that I could move and bend it to any form I wanted with no resistance, as if the robot arm didn't have any weight. I'd like to know more about them. What is this class of robot arm design called? Where can I get some more information about its design and applications?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7066" data-toggle = "popover">
				<p>user name : user9539</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-7066">{'control': 5, 'joint': 5, 'None': 0, 'robotic-arm': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7066">Load Comments</button></br>
			<div id = "commentsection-7066" class = 'collapse'>
			<div id = "comment-10047" class = "comment">
				<p>Sounds like a power assisted robot arm, possibly this feature is used to facilitate 'training' the robotic arm to perform actions as opposed to directly programming it, a feature used in many factory robot arms.</p>
			</div>
			</div>
				<textarea id = "speech-7066" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7066">
					<img id="start_img-7066" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7066">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7075"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7075" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This capability is called "gravity compensation".  Simply put, the robot arm only exerts enough torque to cancel out the effects of gravity.  So, any extra force that you exert on the arm allows the arm to be moved easily.  Note that the required torques are highly dependent on the arm's configuration (i.e. joint angles). This is mainly a feature of the software and the control system rather than the hardware (although there is a minimum set of required hardware functionality, see below). </p>

<p>I believe PD control is typically used. Gravity compensation requires a very good model of the arm's kinematic and dynamic properties.  This goes well beyond just the center of masses for each link.  Frictions, inertias, and other non-linear affects are typically taken into account.  (I heard a story from a friend that the friction properties of the arm he was working on changed dramatically as it warmed up, which made controller tuning a nightmare).  The controller must also be tuned very well.  </p>

<p>While this is a software feature, I think it would be difficult to impossible without certain hardware features.  For example you need high precision joint encoders, some manner of joint or motor torque sensing, good resolution torque control, and typically back-drivable motors.</p>

<p>I believe you can implement a kind of poor-man's gravity compensation without some of these hardware features if you have a good force-torque sensor at the wrist.  The limitation being that the user can only move the arm by touching the force-torque sensor.  Basically, this is zero-force control.  The arm can hold its position with as much torque as it wants, but tries to keep zero force on the sensor.  So if you push the sensor, the arm will move away as if it is weightless.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7075" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7075">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7075" class = 'collapse'>
			</div>
				<textarea id = "speech-7075" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7075">
					<img id="start_img-7075" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7075">Comment</button>
			<br><div id = "ans-7096"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7096" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's called compliance. Gravity compensation by itself is not enough to achieve this, as well it is not mandatory. For example, if reducers with high reduction ratios are used, robot arm will be very stiff to move around.</p>

<p>One way to make robotic arm compliant is to have torque sensors that can measure the differences in expected load (i.e. weight of the arm) and actual load, when you try to move and arm. Then you simply amplify difference enough to help user to move an arm. This is called active compliance.</p>

<p>You can also compute expected load before hand using knowledge of the arm configuration and inertial parameters. If arm is not moving, this is called gravity compensation, thus when you try to move an arm you do not feel its weight, but only joint stiffness.</p>

<p>To get information of how to compute torques for gravity compensation and how to make robot compliant I recommend this course:
<a href="http://see.stanford.edu/see/courseInfo.aspx?coll=86cc8662-f6e4-43c3-a1be-b30d1d179743">http://see.stanford.edu/see/courseInfo.aspx?coll=86cc8662-f6e4-43c3-a1be-b30d1d179743</a></p>

<p>Here is some more information about compliance:
<a href="http://www.eucognition.org/eucog-wiki/Compliant_robots">http://www.eucognition.org/eucog-wiki/Compliant_robots</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7096" data-toggle = "popover">
				<p>user name : DikobrAz</p>
				<p> user reputation : 216</p>
				<p class = "tagcontent" id = "usertaginfo-7096">{'odometry': 2, 'None': 10, 'wheeled-robot': 2, 'kinect': 1, 'kalman-filter': 2, 'sensors': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7096" class = 'collapse'>
			</div>
				<textarea id = "speech-7096" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7096">
					<img id="start_img-7096" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7096">Comment</button>
			<br><div id = "ans-7430"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7430" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Besides gravity compensation, some impedance/admittance control can be used to make a robot compliant and regulate the stiffness of the motion. What you actually do is that by using a specific control law you can make the robot to behave as a mass-damper-spring system. </p>

<p>Using control theory and measurements from the robots sensors (torque sensors etc) the controller (implemented on a computer) calculates the new torques for the joints and send them to the actuators. These new torques are the result of the control law (a mathematical equation). You can specify a desired value for the inertia (how difficult is to accelerate the robot), the damping coefficient (how difficult is to move the robot with a high velocity) and the spring constant (how "fast" the robot will return to the initial position). If you want just a compliant robot, you may not need the spring constant.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7430" data-toggle = "popover">
				<p>user name : jason</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-7430">{'None': 0, 'ros': 7, 'real-time': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7430" class = 'collapse'>
			</div>
				<textarea id = "speech-7430" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7430">
					<img id="start_img-7430" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7430">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>