<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What algorithm should I implement to program a room cleaning robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-628" class = "post">
			<h2>Question</h2>
			<div id="vote-628" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">20</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 13999</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What algorithm should I implement to program a room cleaning robot?</h2>
<p>For this question assume that the following things are unknown:</p>

<ul>
<li>The size and shape of the room</li>
<li>The location of the robot</li>
<li>The presence of any obstacles</li>
</ul>

<p>Also assume that the following things are constant:</p>

<ul>
<li>The size and shape of the room</li>
<li>The number, shape and location of all (if any) obstacles</li>
</ul>

<p>And assume that the robot has the following properties:</p>

<ul>
<li>It can only move forward in increments of absolute units and turn in degrees. Also the operation that moves will return true if it succeeded or false if it failed to move due to an obstruction</li>
<li>A reasonably unlimited source of power (let's say it is a solar powered robot placed on a space station that faces the sun at all times with no ceiling)</li>
<li>Every movement and rotation is carried out with absolute precision every time (don't worry about unreliable data)</li>
</ul>

<p>Finally please consider the following properties of the robot's environment:</p>

<ul>
<li>Being on a ceiling-less space station the room is a safe but frustratingly close distance to passing comets, so the dust (and ice) are constantly littering the environment.</li>
</ul>

<p>I was asked a much simpler version of this question (room is a rectangle and there are no obstacles, how would you move over it guaranteeing you could over every part at least once) and after I started wondering how you would approach this if you couldn't guarantee the shape or the presence of obstacles. I've started looking at this with <a href="http://en.wikipedia.org/wiki/Dijkstra%27s_algorithm">Dijkstra's algorithm</a>, but I'm fascinated to hear how others approach this (or if there is a well accepted answer to this? (How does Roomba do it?)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-628" data-toggle = "popover">
				<p>user name : Jason Sperske</p>
				<p> user reputation : 201</p>
				<p class = "tagcontent" id = "usertaginfo-628">{'None': 0, 'theory': 20, 'algorithm': 20, 'artificial-intelligence': 20, 'coverage': 20, 'mobile-robot': 20}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-628">Load Comments</button></br>
			<div id = "commentsection-628" class = 'collapse'>
			<div id = "comment-750" class = "comment">
				<p>tags like +algorithm and +theory would help a question like this but I don't have the reputation to add them yet</p>
			</div>
			<div id = "comment-2782" class = "comment">
				<p>definitely something better than Roomba</p>
			</div>
			<div id = "comment-7692" class = "comment">
				<p>Interesting. I have bobsweep and it is programmed just perfectly http://momblogsociety.com/meet-newest-addition-family-bobsweep/ I suggest it to everyone. Greetings!</p>
			</div>
			<div id = "comment-7693" class = "comment">
				<p>Is this an advertisement? If not, you may want to post information, rather than just the link, explaining how the robot behaves and why it is just perfect.</p>
			</div>
			</div>
				<textarea id = "speech-628" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-628">
					<img id="start_img-628" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-628">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-629"  class = "post">
				<h2>Answer</h2>
			<div id="vote-629" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Roomba starts in a spiral until it hits something, then does a perimeter sweep. Then it just bounces around. Roomba being the de facto standard in household robotic vaccum cleaners, I guess you could call it the "accepted solution". But from personal experience (I own two), there is definitely room for improvement.</p>

<p>From <a href="http://electronics.howstuffworks.com/gadgets/home/robotic-vacuum2.htm" rel="nofollow noreferrer">How Stuff Works</a>:</p>

<p><img src="https://i.stack.imgur.com/AtbSs.jpg" alt="algorithm"></p>

<p>From <a href="http://www.electronicsinfoline.com/News/New_Gadgets/Robotics/botjunkie-interview-nancy-dussault-smith-on-irobot-s-roomba.html" rel="nofollow noreferrer">an interview</a> with Nancy Dussault Smith, Vice President of Marketing Communications at iRobot:</p>

<blockquote>
  <p>When it starts you ll notice a spiral pattern, it ll spiral
  out over a larger and larger area until it hits an object. When it
  finds an object, it will follow along the edge of that object for a
  period of time, and then it will start cris-crossing, trying to figure
  out the largest distance it can go without hitting another object, and
  that s helping it figure out how large the space is, but if it goes
  for too long a period of time without hitting a wall, it s going to
  start spiraling again, because it figures it s in a wide open space,
  and it s constantly calculating and figuring that out. </p>
  
  <p>It s similar
  with the dirt sensors underneath, when one of those sensors gets
  tripped it changes its behaviors to cover that area. It will then go
  off in search of another dirty area in a straight path. The way that
  these different patterns pile on to each other as they go, we know
  that that is the most effective way to cover a room. </p>
  
  <p>The patterns that
  we chose and how the algorithm was originally developed was based off
  of behavior-based algorithms born out of MIT studying animals and how
  they go about searching areas for food. When you look at how ants and
  bees go out and they search areas, these kinds of coverage and
  figuring all of that out comes from that research. It s not exact,
  obviously, I m not saying we re honeybees, but it s that understanding
  of how to search out an area in nature that is the basis behind how
  our adaptive technology is developed.</p>
</blockquote>

<p>Some long exposure pics of Roombas with LEDs on them illustrate how it works in practice:</p>

<p><a href="http://news.cnet.com/8301-17938_105-20080916-1/vac-hack-lets-roomba-test-air-quality-too/" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/YaWBns.jpg" alt="enter image description here"></a>
<a href="http://artstormer.com/2012/04/08/roomba-light-paintings-created-with-leds-attached-to-vacuums/" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Emsh0s.jpg" alt="enter image description here"></a>
<a href="http://www.petapixel.com/2011/06/30/light-painting-art-done-using-swarms-of-robot-vacuum-cleaners/" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/8pVKMs.jpg" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-629" data-toggle = "popover">
				<p>user name : embedded.kyle</p>
				<p> user reputation : 1469</p>
				<p class = "tagcontent" id = "usertaginfo-629">{'None': 124}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-629">Load Comments</button></br>
			<div id = "commentsection-629" class = 'collapse'>
			<div id = "comment-751" class = "comment">
				<p>Is this a copy-paste content from the link?</p>
			</div>
			<div id = "comment-758" class = "comment">
				<p>@Josh The relevant material to answer the question has been copied from the linked sites and placed in a blockquote in order to prevent link rot.</p>
			</div>
			</div>
				<textarea id = "speech-629" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-629">
					<img id="start_img-629" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-629">Comment</button>
			<br><div id = "ans-630"  class = "post">
				<h2>Answer</h2>
			<div id="vote-630" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The first thing you need to establish is the goal of the robot -- not quite clear from your question.  There are two main tasks that your robot has to accomplish: discovering the shape of the clean-able area, and then cleaning it.  </p>

<p>But is the amount of dirt constant?  Is dirt added constantly?  Is it your goal to minimize the average time that dirt remains on the floor, or the median time?  Is the goal to keep the floor equally clean?  Or is it just to clean once, as quickly as possible?  Are there patterns in the accumulation of dirt that you can measure and use to your advantage in accomplishing your goal?</p>

<p>The answer to these questions will help guide what algorithm you choose.  In the Roomba's robot's case, there might be no point learning the exact layout of the room because furniture (like chairs around a table), people, and other obstacles move very often.  However, in your case it might be better to explore the space to build a complete map (some combination of a lawnmower pattern with finding edges), then use that map to compute the shortest path through the space (the term is "coverage", and there are several ways to do it e.g. <a href="http://www.cs.cmu.edu/~motionplanning/papers/sbp_papers/integrated4/gabriely_spanning.pdf">spanning tree algorithm</a>).</p>

<p>One more thing you'll need to worry about is how to discretize the space you're in.  Because you can move in any direction -- even with integer degree amounts and integer units of distance -- your X and Y positions can have fractional values.  You'll need to decide how to represent obstacles on that map without having it grow to an infinite number of data points.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-630" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-630">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-630">Load Comments</button></br>
			<div id = "commentsection-630" class = 'collapse'>
			<div id = "comment-752" class = "comment">
				<p>Well since I am sadistically making an interview question harder on myself I suppose I could come up with some more information.  I like the points you are raising :)</p>
			</div>
			</div>
				<textarea id = "speech-630" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-630">
					<img id="start_img-630" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-630">Comment</button>
			<br><div id = "ans-631"  class = "post">
				<h2>Answer</h2>
			<div id="vote-631" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Neato uses an organized approach. Using SLAM and bumpers, it maps the 'current' room, perimeter first, then applies some algorithm for cleaning as efficiently as possible.  I've never owned a Roomba, but given what I have read about it's algorithm, I would never switch from a neato.</p>

<p>The Laser Range Finder in the neato is often <a href="http://www.hizook.com/blog/2009/12/20/ultra-low-cost-laser-rangefinders-actualized-neato-robotics">cannabilized</a> for robotics, as it is a cost effective sensor for SLAM algorithms.</p>

<p>If I was given your task, First I would find a suitable <a href="http://openslam.org/">SLAM implementation</a>, based on the hardware I had.</p>

<p>Then I would use a <a href="http://link.springer.com/article/10.1007/s001700170013?LI=true#page-1">CNC ISLAND Motion planning</a> algorithm. My experience is they tend to be very efficient at covering an arbitrary area with the least amount of movement.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-631" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-631">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-631">Load Comments</button></br>
			<div id = "commentsection-631" class = 'collapse'>
			<div id = "comment-753" class = "comment">
				<p>SLAM isn't quite appropriate for this problem because it's a simulation in which there is no uncertainty in the positioning.  For a real robot, you're absolutely right though.</p>
			</div>
			<div id = "comment-754" class = "comment">
				<p>I missed that (if its there). Actually it says the following are unknown; the location of the robot.</p>
			</div>
			<div id = "comment-755" class = "comment">
				<p>I was thinking that the location began as unknown but as a topology of the room was created it might become known.</p>
			</div>
			<div id = "comment-756" class = "comment">
				<p>This is one of those odd academic problems where simplifications produce strange implications.  Since you have no map, no starting location, perfect positioning, and no external entities to coordinate with, absolute position is irrelevant.  You arbitrarily decide that (0,0) is your starting place, then build your map relative to that point.  This isn't really practical in the real world, but does give you some practice with coverage algorithms.</p>
			</div>
			<div id = "comment-757" class = "comment">
				<p>Your answer is good from a systems perspective. However, I believe this question is a better theory/algorithms question.</p>
			</div>
			</div>
				<textarea id = "speech-631" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-631">
					<img id="start_img-631" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-631">Comment</button>
			<br><div id = "ans-632"  class = "post">
				<h2>Answer</h2>
			<div id="vote-632" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As far as I know, this problem hasn't been "solved."</p>

<p>Formally, this is an online coverage problem. Coverage, because we must cover each point on the floor, and online because we do not have offline access to the map. If you are interested in the most recent results, I suggest you lookup "<strong>robotic online coverage algorithms</strong>," perhaps in google scholar (there are <em>lots and lots</em> of great results). In addition to @embedded.kyle's very colorful (re)post, I'll add some details (I'll also try to quickly find a few simple results):</p>

<ul>
<li><p>Dijkstra's will get you a path, but not necessarily a coverage. For example, how do you specify to Dijkstra's that you must visit <em>each</em> point in the graph, instead of visiting <em>one</em> point as quickly as possible? You can run all-pairs shortest paths, but what are the points? You don't have a map.</p></li>
<li><p>Online algorithms like this are often called "bug" algorithms because they tend to look like a bug wandering across an area, bumping into something, then wandering around it a bit.</p></li>
<li><p>With no obstacles, and a rectangular room, and assuming you start on the <em>boundary</em> a boustrophedon (way of the ox) path is optimal. 
<img src="https://i.stack.imgur.com/XYE6t.jpg" alt="enter image description here"></p></li>
</ul>

<p>Funny that farmers have been doing this forever, right? <a href="http://en.wikipedia.org/wiki/Boustrophedon" rel="nofollow noreferrer">http://en.wikipedia.org/wiki/Boustrophedon</a>. This can be extended to rooms with obstacles by finding roughly-rectangular area which are free of obstacles. <a href="http://www.ri.cmu.edu/publication_view.html?pub_id=1416" rel="nofollow noreferrer">Howie Choset worked on this a bit</a>. </p>

<ul>
<li>To cover an area with unknown perimeter, and assuming you <em>don't</em> start on the perimeter, what is the optimal strategy? Well, imagine you drop into the world, and can't see the perimeter. You can walk in a straight line until you reach the perimeter, then do a boustrophedon, right? Except now you "wasted" the time spent finding the perimeter, because you will cover that part twice.  This is why robots tend to spiral: By the time you reach a boundary, you have covered a lot of the area ($\pi*d^2$ where $d$ is the distance to the <em>nearest</em> boundary, right?). This is helpful: now you are guaranteed to find the nearest boundary, and can trace it out.</li>
<li>This is a huge, fascinating area. I'm sorry I can't provide a better summary! </li>
</ul>

<p>The biggest problem is you don't have a map. Without a map, you are limited to simple actions like perimeter following, and moving along a path (like the spiral mentioned).  So, there exist some robots that actually build the map while cleaning, decompose the mapped-out area into shapes, then cover each shape to ensure coverage. See: <a href="http://mintcleaner.com/" rel="nofollow noreferrer">http://mintcleaner.com/</a>  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-632" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-632">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-632" class = 'collapse'>
			</div>
				<textarea id = "speech-632" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-632">
					<img id="start_img-632" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-632">Comment</button>
			<br><div id = "ans-9478"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9478" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Looking at the simpler problem that you were asked - a rectangular room, with no obstacles and clean every part <strong>at least</strong> once.</p>

<p>The solution is to find a corner of the room, and finding a corner won't be a big problem. Once that has been achieved, then just follow a spiral path to the center of the room.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9478" data-toggle = "popover">
				<p>user name : user13259</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9478">{'None': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9478" class = 'collapse'>
			</div>
				<textarea id = "speech-9478" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9478">
					<img id="start_img-9478" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9478">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>