<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the common process to place a robotic arm gripper
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9436" class = "post">
			<h2>Question</h2>
			<div id="vote-9436" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the common process to place a robotic arm gripper</h2>
<p>I implemented a simulation for a robotic arm that has to grab things. This arm has a 6DOF structure and a simple gripper on the top. I made a simple CCD IK algorithm to control the arm. I can use it in two ways:</p>

<ol>
<li>Compute the position of the last joint of the arm before the hand
part (which means 1 end-effector). Then use an analytical method to
place the hand in a good orientation.</li>
<li>Compute directly the arm, and the hand position by giving the CCD IK algorithm 2 end-effectors that are the 2 finger of the hand.</li>
</ol>

<p><strong>What is the most used method for a grabbing arm robot ? I'm not willing to find a solution, just to know what people usually do</strong>. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9436" data-toggle = "popover">
				<p>user name : debzsud</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-9436">{'None': 0, 'inverse-kinematics': 1, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9436" class = 'collapse'>
			</div>
				<textarea id = "speech-9436" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9436">
					<img id="start_img-9436" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9436">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9440"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9440" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If your robot has a spherical wrist, meaning all three axes intersect at a point, you can use wrist partitioning to solve your problem.  With wrist partitioning, you use the first three joints of the robot to place the center of the wrist at a desired position, then use the three wrist axes to orient the end effector.   It becomes two simpler problems <em>vs</em> one difficult problem. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9440" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-9440">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9440" class = 'collapse'>
			</div>
				<textarea id = "speech-9440" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9440">
					<img id="start_img-9440" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9440">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>