<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between path planning and motion planning?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8302" class = "post">
			<h2>Question</h2>
			<div id="vote-8302" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2496</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between path planning and motion planning?</h2>
<p>What are the main differences between motion planning and path planning?
Imagine that the objective of the algorithm is to find a path between the humanoid soccer playing robot and the ball which should be as short as possible and yet satisfying the specified safety in the path in terms of the distance from the obstacles. </p>

<p>Which is the better terminology? motion planning or path planning?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8302" data-toggle = "popover">
				<p>user name : Pooya Sagharchi</p>
				<p> user reputation : 63</p>
				<p class = "tagcontent" id = "usertaginfo-8302">{'mobile-robot': 12, 'None': 0, 'motion-planning': 12, 'humanoid': 12}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8302" class = 'collapse'>
			</div>
				<textarea id = "speech-8302" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8302">
					<img id="start_img-8302" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8302">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8303"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8303" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There isn't really a difference. "Path planning" might be used more often to simply describe the problem of finding a desired path from one state (or sub-set of states) to another. Whereas "motion planning" might be used to describe the same problem but more specifically the actual commanded motions that the robot uses to track the series of desired states along the path.</p>

<p>For example, path planning would produce a desired trajectory for a rocket, whereas motion planning would produce the series of commands to the engines, fins, etc.</p>

<p>So for the problem you mention, you need to plan a path for the robot to follow. This then needs to be expanded into trajectories for all of the robot's leg and arm joints. Then you have to convert these trajectories into raw commands to the motors (or whatever control input the robot accepts).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8303" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8303">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8303" class = 'collapse'>
			</div>
				<textarea id = "speech-8303" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8303">
					<img id="start_img-8303" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8303">Comment</button>
			<br><div id = "ans-8304"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8304" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What's the difference between turn-by-turn GPS and driving a car? </p>

<p>GPS is path planning: high-level commands like, "turn right in 1 mile."</p>

<p>Driving is motion planning, which means following a route established by path planning <em>while at the same time</em> taking care of the minutia: interfacing with the car, staying in lane, watching for pedestrians, obeying traffic law, merging with other vehicles, changing lanes, etc. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8304" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8304">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8304" class = 'collapse'>
			</div>
				<textarea id = "speech-8304" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8304">
					<img id="start_img-8304" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8304">Comment</button>
			<br><div id = "ans-8306"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8306" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Compare the following two images:</p>

<p><a href="https://en.wikipedia.org/wiki/File:Korea-Jeonju-Jultagi-02.jpg" rel="noreferrer"><img src="https://i.stack.imgur.com/HC1Kh.jpg" alt="enter image description here"></a></p>

<p>The path planning is somewhat trivial. There's only one path: the rope. The motion planning on the other hand is not that easy.</p>

<p>In a maze the path planning is hard and motion planning is easy:</p>

<p><a href="https://en.wikipedia.org/wiki/File:Longleat_maze.jpg" rel="noreferrer"><img src="https://i.stack.imgur.com/efBl5.jpg" alt="enter image description here"></a></p>

<p>Of course both planning tasks can be easy or hard at the same time or anything in between.</p>

<p>They are linked to one another in that</p>

<ul>
<li>the planned motion should follow the path or follow that path closely</li>
<li>the current motion can influence the path planning. If driving in one direction at a high speed, a sudden change in velocity might not be the best idea even if that would be necessary to get on the shortest path. Or the starting pose of a nonholonomic robot, which influences the possible path significantly.</li>
</ul>

<p>They are separate in that </p>

<ul>
<li>motion is related to time (change of position over time), but the path itself is not. Even if the motion goes along the path exactly it could have various trajectories for velocity and/or acceleration. Your robot could stop for example to let another robot cross its path, which is a change in motion but not the path itself.</li>
<li>motion can be influenced by other things, like wind for example</li>
</ul>

<p>Neither list is exhaustive.</p>

<blockquote>
  <p>Which the terms is better than ? motion planning or path planning ?</p>
</blockquote>

<p>There's no "better" term. It depends on what you are describing.</p>

<p>For anything that involves moving a physical robot, I'd use <em>motion planning</em>.
<strong>How do I get this thing from here to there?</strong> could be a question you are answering.</p>

<p>If the robot itself is abstracted away and you are only planning a path of a point through a maze I'd use <em>path planning</em>. <strong>What's the shortest path from point A to B?</strong> could be an example question.</p>

<p>But again, both planning tasks are connected. If you ask <strong>What's the shortest <em>possible</em> path?</strong> then certainly the geometry and motion capabilities of the robot determine what's <em>possible</em>. You do both <em>motion and path planning</em> at the same time. Using either term should be fine here.</p>

<p>This holds true for the other cases as well. <strong>Both terms can be used interchangeably</strong> because the definition of motion and path aren't very clear. (a path implies that a motion happens along it and a motion necessarily happens along a path). You are usually doing both to some degree anyway.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8306" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-8306">{'None': 93}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8306" class = 'collapse'>
			</div>
				<textarea id = "speech-8306" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8306">
					<img id="start_img-8306" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8306">Comment</button>
			<br><div id = "ans-8307"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8307" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When it comes to robots the terms that are most often used are path planning and trajectory planning. While motion is most commonly used in combination not with planning but with control as in motion control. </p>

<p>In most cases by path planning the spatial aspect of planning is considered, while trajectory planning (again, in most cases) includes the velocity and acceleration components also. For industrial robots and CNC machines the waypoints are given be the programmer while the motion controller (robot controller, CNC) plans and executes the trajectories. Based on the dynamics limitations (of the system or coming from the programmer) the motion controller calculates makes a plan how to reach the next waypoint and to arrive there with a desired velocity and acceleration (zero if you want to remain in the next waypoint)</p>

<p>In an order of event one would normally plan a path in the form of waypoints then plan the trajectories (incl. velocities and accelerations) linking those waypoints. Based on the system which you are using this might be done by your motion controller.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8307" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8307">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8307" class = 'collapse'>
			</div>
				<textarea id = "speech-8307" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8307">
					<img id="start_img-8307" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8307">Comment</button>
			<br><div id = "ans-8347"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8347" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Just an extract from my answer to a similar question: </p>

<blockquote>
  <p>Path planning is the process you use to construct a path from a
  starting point to an end point given a full, partial or dynamic map.
  Motion planning is the process by which you define the set of actions
  you need to execute to follow the path you planned.</p>
</blockquote>

<p>I can also add that you can perform navigation with only motion planning, but this requires planning in infinite continuous multidimensional space that has to take into consideration the motion model of the robot (skid-steering, differential, nonholonomic ...) and variation in speed and acceleration.</p>

<p>The most common method in robotics is to solve the navigation problem using path planning (pure geometric planning from A to B), then apply motion planning on top to assess the feasibility of the path. </p>

<p>It's very unlikely that robots follow an exact motion plan due to the uncertainty in actuation (slippage, velocity control errors accumulate, position errors accumulate ...). This is usually solved by an online high-level planner that monitors the progress along the way and adjusts the motion commands accordingly.</p>

<p>The details are much more complex, but I tried to summarise it in a simple way. Hope this helps.</p>

<p>Ref to my old answer: <a href="https://stackoverflow.com/a/19749176">https://stackoverflow.com/a/19749176</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8347" data-toggle = "popover">
				<p>user name : blackcoder</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-8347">{'None': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8347" class = 'collapse'>
			</div>
				<textarea id = "speech-8347" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8347">
					<img id="start_img-8347" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8347">Comment</button>
			<br><div id = "ans-8798"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8798" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Path planning would essentially be setting out a path on a particular terrain for the robot to navigate, primarily automatically, coupled with the shortest route detection avoiding obstacles.</p>

<p>Motion planning could be termed as the the procedure by which you enable your robot to move - which type of sensors to use, what type of wheel to move, automatic or RC, etc.</p>

<p>Path planning could also be termed an inherent software exercise and motion planning a hardware exercise.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8798" data-toggle = "popover">
				<p>user name : Shivam Shukla</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8798">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8798" class = 'collapse'>
			</div>
				<textarea id = "speech-8798" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8798">
					<img id="start_img-8798" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8798">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>