<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between RC motors for cars and helicopters?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1712" class = "post">
			<h2>Question</h2>
			<div id="vote-1712" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 8902</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between RC motors for cars and helicopters?</h2>
<p>I am working on a robot with focus on speed. At the moment I am looking for a suitable motor but it world help if I understood the difference between the various options.</p>

<p>To provide some background, I have not worked with RC model components before, but I think this is the only place for me to find the components needed for my robot, such as the motor.</p>

<p>I have already figured out how much power the motor needs to accelerate my robot as desired, taking energy conversion efficiency and tractional resistance into account. It's about 170 watts, depending on the final weight.</p>

<p>To limit my search further, I need to decide on either using a RC car motor or a RC helicopter motor now, but I don't understand the difference between these options.</p>

<p>Focussing on brushless motors (if that matters), what are the differences between RC car and RC helicopter motors which might need to be taken into account when choosing between them?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1712" data-toggle = "popover">
				<p>user name : danijar</p>
				<p> user reputation : 196</p>
				<p class = "tagcontent" id = "usertaginfo-1712">{'wheel': 2, 'brushless-motor': 11, 'None': 1, 'power': 3, 'microcontroller': 3, 'wheeled-robot': 2, 'motion': 2, 'control': 3, 'chassis': 2, 'cnc': 2, 'motor': 13}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1712">Load Comments</button></br>
			<div id = "commentsection-1712" class = 'collapse'>
			<div id = "comment-3623" class = "comment">
				<p>This might not be directly relevant, but I found the eCalc online calculators useful in trying to figure out system layout. The calculators allows you to select off-the-shelf batteries, speed controllers, motors, etc, and provides an estimation of properties such as operating efficiency, current draw at motor max, etc.

There's also lot of information, hints and tips, and explanations that can be found in their help manuals.</p>
			</div>
			</div>
				<textarea id = "speech-1712" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1712">
					<img id="start_img-1712" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1712">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1715"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1715" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think the term you're looking for is <a href="http://en.wikipedia.org/wiki/Outrunner" rel="nofollow">outrunner</a> (vs <a href="http://en.wikipedia.org/wiki/Inrunner" rel="nofollow">inrunner</a>):</p>

<blockquote>
  <p>This type of motor spins its outer shell around its windings</p>
  
  <p>[...]</p>
  
  <p>Outrunners spin much slower than their inrunner counterparts with their more traditional layout (though still considerably faster than ferrite motors) while producing far more torque. This makes an outrunner an excellent choice for directly driving electric aircraft propellers since they eliminate the extra weight, complexity, inefficiency and noise of a gearbox.</p>
</blockquote>

<p>Inrunners (which are what most people think of when they think of a <a href="http://en.wikipedia.org/wiki/DC_motor" rel="nofollow">DC motor</a>) are high-RPM motors with low torque, which usually require some kind of mechanical transmission to be practical.</p>

<p>Quadcopters and other aerial vehicles tend to use outrunners, while R/C cars tend to use inrunners.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1715" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1715">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1715">Load Comments</button></br>
			<div id = "commentsection-1715" class = 'collapse'>
			<div id = "comment-3586" class = "comment">
				<p>Thank you, this is valuable to know for me! One more thing, do you know *why* RC cars tend to use inrunners? From your answer I cannot see any advantages over outrunners. Or is it just tradition since outrunners are a relatively new invention?</p>
			</div>
			<div id = "comment-3587" class = "comment">
				<p>I wouldn't say that outrunners are a new invention.  In terms of why inrunners are used in cars, it may be that they are easier to mount.  I can also imagine that it's related to the fact that aerial vehicles operate at 0 RPM in fewer cases than R/C cars.</p>
			</div>
			<div id = "comment-3589" class = "comment">
				<p>@Ian: Wouldn't R/C cars typically use brushed motors?  Those would be cheaper and simpler to drive.</p>
			</div>
			<div id = "comment-3619" class = "comment">
				<p>They certainly could.  An inrunner motor can be either brushless or brushed.  I'll clean up my answer to remove the implication that all inrunners are brushless.</p>
			</div>
			<div id = "comment-3653" class = "comment">
				<p>@danijar besides being easier to mount in car chassis, the moving parts of inrunners have a lower moment of inertia, and R/C cars need to slow down and accelerate often, so having less MOI to spin up helps optimize braking and acceleration performance.</p>
			</div>
			<div id = "comment-3655" class = "comment">
				<p>@Series8217 That's an important point, too. Is there a measurement about how long a motor takes to reach its maximum rpm?</p>
			</div>
			</div>
				<textarea id = "speech-1715" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1715">
					<img id="start_img-1715" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1715">Comment</button>
			<br><div id = "ans-1720"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1720" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ian is absolutely right.  I've been in the RC hobby for years.  Your drivetrain/gearing is going to be your biggest factor into deciding inrunner vs. outrunner.  You must also consider your power source and figure out it's voltage and max current output and be sure it has enough capacity (typically measured in milliamp/hours).</p>

<p>To make things easier, I'd recommend buying a brushless SYSTEM so you don't have to worry when buying a separate ESC (electronic speed controller) and having it not be a good match for your motor choice.</p>

<p>Brushless motors are faster than you might think.  They can easily make RC cars go 50+ MPH.  You don't want to have something so fast you can't control it.  All said, I'd go with a properly powered and geared inrunner because I believe the large RPM range will allow greater control.  I've NEVER seen a radio controlled land vehicle use an outrunner brushless setup in all my years.  Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1720" data-toggle = "popover">
				<p>user name : cburf</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-1720">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1720">Load Comments</button></br>
			<div id = "commentsection-1720" class = 'collapse'>
			<div id = "comment-3598" class = "comment">
				<p>Thanks. So you think the main reason for an inrunner is that their speed can be controlled better due to higher rpm?</p>
			</div>
			</div>
				<textarea id = "speech-1720" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1720">
					<img id="start_img-1720" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1720">Comment</button>
			<br><div id = "ans-2320"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2320" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>i am a electrician . inrunners and outrunners are not DC motors! they are 3 phase motors like in industry . your speed control takes DC and uses electronics to change the DC into a pulsating DC ,in the shape of a AC 3 phase sine wave .and changes the frequency at your command .this is known as a frequency drive . 
     inrunners spin about 65k rpm . after they get to a larger size they spin 40k rpm . outrunners spin 40k . outrunners put out more than twice the torque . outrunners are more efficient . this means more run time . outrunners dissipate heat faster and do not need cool down time if set up correctly .
     to pick a outrunner look for one about the same weight pick the highest KV for that frame size , pay attention to the voltage . 
     now you have more than twice the torque . use it . start with twice the amount of teeth on your pinion , or change your spurr and pinion to get half the gear ratio .then go lower until the motor gets worm to the touch. NOT HOT .
     GOOD LUCK .</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2320" data-toggle = "popover">
				<p>user name : willy whiplash</p>
				<p> user reputation : 19</p>
				<p class = "tagcontent" id = "usertaginfo-2320">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2320">Load Comments</button></br>
			<div id = "commentsection-2320" class = 'collapse'>
			<div id = "comment-4542" class = "comment">
				<p>DC motors is not a motor that uses DC direct, there's no such motor for continuous rotation of the shaft. You need commutation for that, in **DC brushed motor** what you call "pulsating DC" is made mechanically by the commutator. RC model like said are DC brush-less motors. There's need for commutation, but the applied current to each winding is DC. What you call industry motors, by what I think you are referring to Induction motor, needs to induce current in the rotor, and so have a slip between the rotational field of the rotor and the stator.</p>
			</div>
			<div id = "comment-4543" class = "comment">
				<p>RC small electric motors have fixed magnetic on the rotor and so just need DC do drive then (apply DC current to one winding and it will spin to it, do the same to an AC motor and nothing occur). So if you take your argument all motors are AC, no motor spin continuous without commutation, be it by external driver or internal mechanical commutation. http://theelectricenergy.com/what-is-a-brushless-dc-electric-motor/</p>
			</div>
			<div id = "comment-4545" class = "comment">
				<p>Of course in some AC motors the _commutation_ occurs because of the mains frequency, so there's no need to drive electronics nor mechanical commutation, but this is doing or in the substation that receives from the HVDC transmission-line to the AC transmission-line or grid, or by the generator when there's no HVDC transmission-lines.</p>
			</div>
			</div>
				<textarea id = "speech-2320" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2320">
					<img id="start_img-2320" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2320">Comment</button>
			<br><div id = "ans-2328"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2328" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is no difference in between them. Motors are categorized by type (brushed or brushless), size, kv rating and the number of poles. The size and kv rating are usually what determine what application it can be used in.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2328" data-toggle = "popover">
				<p>user name : sdffftrgtyhryrfff</p>
				<p> user reputation : 145</p>
				<p class = "tagcontent" id = "usertaginfo-2328">{'None': 5, 'kalman-filter': -3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2328" class = 'collapse'>
			</div>
				<textarea id = "speech-2328" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2328">
					<img id="start_img-2328" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2328">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>