<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What servos does this robot use?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4943" class = "post">
			<h2>Question</h2>
			<div id="vote-4943" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 200</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What servos does this robot use?</h2>
<p>Well, I wanted to use some very small servos for a project and the smallest I could find there these: 
<a href="https://www.hobbyking.com/hobbyking/store/uh_viewItem.asp?idProduct=33401" rel="nofollow">https://www.hobbyking.com/hobbyking/store/uh_viewItem.asp?idProduct=33401</a></p>

<p>But Danny Choo (a Japanese blogger) started a business with robotic dolls some time ago and I remember him mentioning somewhere on his site that he uses servos in his dolls.</p>

<p><img src="https://farm4.staticflickr.com/3836/14271013147_41a0820560_o.jpg" alt="servo in doll">
(also this pic, containing doll nudity: <a href="https://farm4.staticflickr.com/3889/14502508165_fde682636b_o.jpg" rel="nofollow">https://farm4.staticflickr.com/3889/14502508165_fde682636b_o.jpg</a>)</p>

<p>This is about 60cm in height and therefore the servo in my first link is obviously too big, to e.g. fit inside the arm.</p>

<p>I was wondering what kind of servo(or motor in general if it's not a servo in the end) he is using that is so tiny it can fit in there.</p>

<p>Does anyone here have any idea?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4943" data-toggle = "popover">
				<p>user name : Merlin</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-4943">{'servomotor': 1, 'None': 0, 'sensors': 5, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4943">Load Comments</button></br>
			<div id = "commentsection-4943" class = 'collapse'>
			<div id = "comment-10272" class = "comment">
				<p>please Merlin let me know if you are still working on that project or if you would help to work on some of :)</p>
			</div>
			</div>
				<textarea id = "speech-4943" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4943">
					<img id="start_img-4943" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4943">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4945"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4945" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The first image shows some tiny gear motors.  They look kind of like this one <a href="https://solarbotics.com/product/gm18/" rel="nofollow">https://solarbotics.com/product/gm18/</a> from solarbotics, but smaller.  Solarbotics also has some smaller geared pager motors you should look into.  </p>

<p>Toys like this almost definitely use a custom motor and gearbox.  When you tell the far-east manufacturer that you want to produce X million, they take your specs, and shop it around to their motor and gearbox houses.  Then they get a completely custom motor and gearbox for dirt cheap.</p>

<p>I don't think i've ever seen a standard "hobby" servo in a mass manufactured product.  they are too big and expensive.  After all, a servo is just a motor with some type of angular feedback so a little bit of code can drive (i.e. servo) the motor to a desired angle.  In a product, you want more control over where to put the sensing, and you can integrate the drive electronics with the rest of your system.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4945" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-4945">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4945">Load Comments</button></br>
			<div id = "commentsection-4945" class = 'collapse'>
			<div id = "comment-7688" class = "comment">
				<p>So, I don't really have a chance to get motors at this scale until I purchase x millions of it in the far east...doesn't sound too practical for me...</p>
			</div>
			<div id = "comment-7689" class = "comment">
				<p>What I actually want to make is a thin tube like arm(with or without segments) which could bend at different parts. A bit like a finger, but longer+more bendpoints. Any other suggestion in how to go about that?</p>
			</div>
			<div id = "comment-7691" class = "comment">
				<p>My comment regarding manufacturers building X millions was only that you won't be able to find the exact same thing in consumer form.  You can still find and buy very small motors.  Just not hobby servos on the scale i think you need.  You should post your new refined question as a new question.</p>
			</div>
			<div id = "comment-7694" class = "comment">
				<p>Ah, sorry, my bad, I misunderstood you. I'll post a new question then, and see if someone can suggest me something.</p>
			</div>
			</div>
				<textarea id = "speech-4945" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4945">
					<img id="start_img-4945" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4945">Comment</button>
			<br><div id = "ans-7224"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7224" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm currently building an humanoid and I was starting from a ball join base so, I have done a lot a research onn how to mechanise them until I found <strong><em>Danny Choo</em></strong> who give us a brilliant couple of solution. So I do the exact same things than you and <strong><em>Danny Choo</em></strong></p>

<p>I source the majority of my components from aliexpress since there is a lot for an humanoid. And I found that tiny motors for a ridiculous amount of cost.</p>

<p>that is what you are looking for, for the arm :</p>

<p><a href="http://fr.aliexpress.com/item/10PCS-DC-3V-6V-9V-micro-Planetary-gear-motor-Variable-Speed-Gearmotor-micro/32239559111.html" rel="nofollow">http://fr.aliexpress.com/item/10PCS-DC-3V-6V-9V-micro-Planetary-gear-motor-Variable-Speed-Gearmotor-micro/32239559111.html</a></p>

<p>some other results here </p>

<p><a href="http://fr.aliexpress.com/w/wholesale-planetary.html?initiative_id=SB_20150511024702&amp;site=fra&amp;groupsort=1&amp;SortType=price_asc&amp;shipCountry=fr&amp;SearchText=planetary" rel="nofollow">http://fr.aliexpress.com/w/wholesale-planetary.html?initiative_id=SB_20150511024702&amp;site=fra&amp;groupsort=1&amp;SortType=price_asc&amp;shipCountry=fr&amp;SearchText=planetary</a></p>

<p><a href="http://fr.aliexpress.com/w/wholesale-planetary.html?initiative_id=SB_20150511024702&amp;site=fra&amp;groupsort=1&amp;SortType=price_asc&amp;shipCountry=fr&amp;SearchText=planetary" rel="nofollow">http://fr.aliexpress.com/w/wholesale-planetary.html?initiative_id=SB_20150511024702&amp;site=fra&amp;groupsort=1&amp;SortType=price_asc&amp;shipCountry=fr&amp;SearchText=planetary</a></p>

<p>Solarbotic is really expensive, too much, the prices are insane, I never bought anythings to that seller for that reason.
you rather try aliexpress and buy your items directly from china where it is build, you could experiments some huge delay as the goods travel by boat. be aware of exchanges taxes shipping cost etc...</p>

<p>Keep in mind that you should add some postion sensor and electronic and programming to have a working servo. you should apreciate that : </p>

<p><a href="http://fr.aliexpress.com/item/Plastic-motor-crown-gear-white-eleven-kinds-of-standard-module-0-5-for-DIY/32229478401.html" rel="nofollow">http://fr.aliexpress.com/item/Plastic-motor-crown-gear-white-eleven-kinds-of-standard-module-0-5-for-DIY/32229478401.html</a></p>

<p>I didn't found a sensor to do the job yet.
before buying try to know how much tork you need and how much you'll get from the motor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7224" data-toggle = "popover">
				<p>user name : Damien MIRAS</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-7224">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7224" class = 'collapse'>
			</div>
				<textarea id = "speech-7224" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7224">
					<img id="start_img-7224" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7224">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>