<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What UAV kit(s) would be suitable for a beginner roboticist with programming experience?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-255" class = "post">
			<h2>Question</h2>
			<div id="vote-255" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1159</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What UAV kit(s) would be suitable for a beginner roboticist with programming experience?</h2>
<p>I'm really new to robotics, however I am a programmer familiar with several different languages. I don't have a ton of money to spend and I was wondering what is a really good starter kit. </p>

<p>My criteria is for the kit to be inexpensive and <strong>powerful</strong>, in that its functionality is extensible -- something that would allow the builder to be creative and possibly invent new ways to use it, not just a glorified model kit.  </p>

<p>Being extendable to smartphones is a plus.</p>

<p>I'm not looking for something easy or introductory, just something powerful, flexible, and cost effective.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-255" data-toggle = "popover">
				<p>user name : OneChillDude</p>
				<p> user reputation : 218</p>
				<p class = "tagcontent" id = "usertaginfo-255">{'None': 2, '3d-printing': 1, 'kit': 13, 'design': 4, 'mobile-robot': 4, 'dynamics': 4, 'uav': 13}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-255">Load Comments</button></br>
			<div id = "commentsection-255" class = 'collapse'>
			<div id = "comment-274" class = "comment">
				<p>Can you edit the question and focus a bit more on the aspect(s) you particularly are interested in? At the moment, it's too broad, and looks like a *Wish List*. Your requirement of *inexpensive and powerful* may be a dichotomy too far, too!</p>
			</div>
			<div id = "comment-288" class = "comment">
				<p>Sadly, [shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/) are not a good fit for stack exchange sites. Recommendations go out of date too quickly and are thus rarely useful to future visitors. Much better are [*practical, answerable questions based on actual problems that you face*](http://robotics.stackexchange.com/faq#dontask).</p>
			</div>
			<div id = "comment-330" class = "comment">
				<p>Define inexpensive. IBM has an excellent range of low cost servers that cost ~ `$$,$$$` :-)</p>
			</div>
			<div id = "comment-446" class = "comment">
				<p>Your smartphone is everything you need for brains. Now just buy a chassis. This question is not well researched. I suggest you come back with a specific questions about integration, algorithms, or systems.</p>
			</div>
			</div>
				<textarea id = "speech-255" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-255">
					<img id="start_img-255" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-255">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-257"  class = "post">
				<h2>Answer</h2>
			<div id="vote-257" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think your question is a bit too open-ended.  To get more specific recommendations, I think you'd have to provide some idea of what facet of robotics you want to get involved in.  The mechanical buildling aspect?  Motor control? Microcontroller programming? Use of various sensors?  As an example, I can ask what do you mean by <em>powerful</em> in your question ... motor torque or onboard computing capabilities?  <strong>Robotics is a broad field.</strong></p>

<p>If very new to robotics, I would suggest you start out by buying the latest issue of <strong><a href="http://www.servomagazine.com/" rel="nofollow noreferrer">Servo</a> and/or <a href="http://find.botmag.com/" rel="nofollow noreferrer">Robot</a> magazines</strong> (and then possibly subscribing).  Just glancing through these magazines will give you a lot of information regarding the current hobbiest/enthusiast robotics market, and in the magazines there are many advertisers for kits of all types.</p>

<p>A popular, lower cost, easy-to-learn, yet flexible, microcontroller that can be used for robotics is the <a href="http://www.arduino.cc/" rel="nofollow noreferrer">Arduino</a>.  There are prebuilt kits for integrating with smartphones. Check out the information here:</p>

<ul>
<li><a href="https://robotics.stackexchange.com/questions/213/ways-to-integrate-a-smart-phone-with-robotics">How can I integrate a smart phone with my robotics project?</a>. </li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-257" data-toggle = "popover">
				<p>user name : kaliatech</p>
				<p> user reputation : 472</p>
				<p class = "tagcontent" id = "usertaginfo-257">{'None': 28, 'microcontroller': 5, 'serial': 5, 'rs232': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-257">Load Comments</button></br>
			<div id = "commentsection-257" class = 'collapse'>
			<div id = "comment-275" class = "comment">
				<p>Wow, I didn't realize it was such a multifaceted question. When I say powerful, I mean something that can be extended to a wide variety of capabilities. A general starter kit, enough to be fun, and allow for maximum creativity, while still keeping in mind cost-effectiveness. So when I say powerful, I'm really talking about the extensibility of the functionality rather than literal power. Thanks for your reply, will definitely take a look at arduinos.</p>
			</div>
			<div id = "comment-279" class = "comment">
				<p>I see that you edited your question to specify an interest in UAV applications. You should check out http://diydrones.com. They have an off-the-shelf controller platform based on the Arduino they call the [ArduPilot](http://www.diydrones.com/notes/ArduPilot/).  Additional high level information is in the [sparkfun item description](https://www.sparkfun.com/products/8785).</p>
			</div>
			</div>
				<textarea id = "speech-257" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-257">
					<img id="start_img-257" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-257">Comment</button>
			<br><div id = "ans-302"  class = "post">
				<h2>Answer</h2>
			<div id="vote-302" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Personally I feel that Parallax has a good set of offerings in this area.</p>

<p>For wheeled/ground prototyping, I would choose a <a href="http://www.parallax.com/Store/Robots/AllRobots/tabid/755/ProductID/666/List/0/Default.aspx?SortField=ProductName,ProductName" rel="nofollow">Madeusa</a> ($880) chassis.  This is a very good starting chassis that can carry a decent payload and is very extensible.  I've seen security guard robot prototypes and autonomous camera man robots made on top of this platform that were very impressive.  Madeusa is basically the same chassis as the Parallax Eddie but without the Propeller and PC/Kinect parts.  By removing these parts, you can substitute back in your own control system such as an Arduino based solution.</p>

<p>The <a href="http://www.parallax.com/Store/Robots/FlyingPlatforms/tabid/964/ProductID/799/List/0/Default.aspx?SortField=ProductName,ProductName" rel="nofollow">ELEV-8</a> ($600) chassis is a good flying platform.  I haven't tried this one myself but it has good reviews as hitting a sweet spot of cost, performance, complexity, and capability.</p>

<p>In all cases I'd suggest learning Arduino as your microcontroller platform for sensor and actuator integration.  Great community, low costs, high capabilities.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-302" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-302">{'None': 68}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-302">Load Comments</button></br>
			<div id = "commentsection-302" class = 'collapse'>
			<div id = "comment-331" class = "comment">
				<p>I'd also suggest the AeroQuad platform (aeroquadstore.com) as a good starter kit, they have full, ready to fly kits for $450 - $550, and I can vouch that they're stable, durable and very customizable. It's a great hobby, have fun and good luck!</p>
			</div>
			</div>
				<textarea id = "speech-302" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-302">
					<img id="start_img-302" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-302">Comment</button>
			<br><div id = "ans-324"  class = "post">
				<h2>Answer</h2>
			<div id="vote-324" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.parallax.com/" rel="nofollow">Parralax</a> offers a number of kits that are relatively cheap and extensible.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-324" data-toggle = "popover">
				<p>user name : David Hernandez</p>
				<p> user reputation : 71</p>
				<p class = "tagcontent" id = "usertaginfo-324">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-324" class = 'collapse'>
			</div>
				<textarea id = "speech-324" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-324">
					<img id="start_img-324" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-324">Comment</button>
			<br><div id = "ans-348"  class = "post">
				<h2>Answer</h2>
			<div id="vote-348" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.arduino.cc" rel="nofollow">Arduino</a> is a great fit for your problem. It is not only used by hobbyists and beginners but it is frequently used by top Universities for both teaching and in research. Arduino also has a large active community which makes helps when you have a problem.</p>

<p>There are a couple of caveats to the Arduino solution however. 1) They have very limited computational power and no floating point unit which can further slow down calcuation. 2) Working with Arduino does require one to have a rudimentary understanding of electronics. Of course there are myriad tutorials that can help you get up and running in a matter of minutes. However when I first delved into robotics I wanted to avoid the electronics aspect so as to focus on the programming.</p>

<p><a href="http://www.phidgets.com/" rel="nofollow">Phidgets</a> is a good alternative. Many Phidgets components are abstracted to the point that you only need to connect them to a computer via USB and processing is done on a desktop, laptop, or single board computer (SBC) which have more processing power. Furthermore Phidgets works with multiple operating systems and they offer a lot of well documented code to simplify interfacing with their parts. It is worth noting that Phidgets solutions tend to cost a bit more than Arduino solutions but they're still reasonably priced.</p>

<p>I would suggest against <a href="http://www.parallax.com/" rel="nofollow">Parallax</a>. They are interesting but they don't offer anything over Arduino, they are more expensive (than Arduino), and they are considerably less flexible from a programming perspective in my experience.</p>

<p>Also Phidgets do not work well in UAV applications. For that I would advise looking at the <a href="http://diydrones.com" rel="nofollow">ArduPilot</a>. It is an Arduino based solution to UAV and UGV robots and includes a number of built-in sensors for state estimation. Furthermore ArduPilo has its own a large active community.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-348" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-348">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-348" class = 'collapse'>
			</div>
				<textarea id = "speech-348" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-348">
					<img id="start_img-348" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-348">Comment</button>
			<br><div id = "ans-349"  class = "post">
				<h2>Answer</h2>
			<div id="vote-349" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Get a LEGO NXT kit, it costs around $280, and will give you a lot of fun.</p>

<p>You can control it from your computer using any programming language - just send Bluetooth commands to the LEGO NXT brick. It is very simple!</p>

<p>If you want to learn more - here is a simple KB article about that: <a href="http://www.robotappstore.com/Knowledge-Base/Introduction-To-Lego-NXT-Programming/32.html" rel="nofollow">http://www.robotappstore.com/Knowledge-Base/Introduction-To-Lego-NXT-Programming/32.html</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-349" data-toggle = "popover">
				<p>user name : Joe Mann</p>
				<p> user reputation : 49</p>
				<p class = "tagcontent" id = "usertaginfo-349">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-349">Load Comments</button></br>
			<div id = "commentsection-349" class = 'collapse'>
			<div id = "comment-445" class = "comment">
				<p>UAV - Unmanned aerial vehicle. What part of a LEGO system is aerial? I have been a supporter of LEGO robotics for a long time, although that is starting to change, but there never has been any UAV aspect to LEGO robotics.</p>
			</div>
			<div id = "comment-540" class = "comment">
				<p>I think it can safely be said that LEGO isn't very well suited for aerial systems. Please have a look on the question [has anyone made LEGO fly?](http://bricks.stackexchange.com/questions/312/) and you'll notice it's considered impossible without resorting to non-LEGO parts. Plus, the Mindstorms robotics elements are particularly heavy.</p>
			</div>
			</div>
				<textarea id = "speech-349" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-349">
					<img id="start_img-349" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-349">Comment</button>
			<br><div id = "ans-391"  class = "post">
				<h2>Answer</h2>
			<div id="vote-391" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Parrallax offers some products in the space you are looking, but I think what you really want to do is go to hobby king; </p>

<p><a href="http://www.hobbyking.com/hobbyking/store/__657__501__Multi_Rotors_Parts-Flight_Controller.html" rel="nofollow">http://www.hobbyking.com/hobbyking/store/_<em>657</em>_501__Multi_Rotors_Parts-Flight_Controller.html</a></p>

<p>make no mistake, they ARE cheap copies of other products, and if that bothers you go back to parallax and spend the full amount. I'd go with the 550 frame with motors, and add speed controlers, and props then</p>

<p>Look at <a href="http://store.openpilot.org/" rel="nofollow">http://store.openpilot.org/</a> for open source modifiable hardware and software. </p>

<p>hobby king also has a few controllers including an arduino, but I'd prefer the wii if it was me (just personal preference)</p>

<p>This is not a plug and play adventure!! You will at very least end up soldering your own cables, and if you are not comfortable with that, stay clear.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-391" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-391">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-391" class = 'collapse'>
			</div>
				<textarea id = "speech-391" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-391">
					<img id="start_img-391" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-391">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>