<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What type of wheel is preferable for a soccerbot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12386" class = "post">
			<h2>Question</h2>
			<div id="vote-12386" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 20</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What type of wheel is preferable for a soccerbot?</h2>
<p>After a few days,there will held a competition in our varsity.in this competition the task is,my robot will have to play soccer.this is a one to one manual game.I am thinking of building a robot consists of 4 wheel and the structure will look like a pyramid.but the difference between the outer surface of the pyramid and my bot is,the outer plane of my bot will be like a concave slope/curve.so that,when the opponent's bot will come to attack my bot,then it's wheel will go over my bot and will loose it's balence.I will take the chance and push that away from my path.</p>

<p>the dimentions of my bot must have to be between-<br>
<strong>length</strong>=25cm</p>

<p><strong>width</strong>=20cm</p>

<p><strong>height</strong>=20cm</p>

<p><strong>weight</strong>=3kg</p>

<p>but,my main problem is to make the concave slope.if the wheel diameter is large the it is impossible to make a perfect slop on which the opponent will easily ride.but if the diameter is small then it is possible to make a good slope.</p>

<p>now,this is the question.whether the small wheel will have any effect on the other sides of the bot like speed,friction or not ???</p>

<p>please suggest anything...you can..........what should I do? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12386" data-toggle = "popover">
				<p>user name : Rakibul Islam Prince</p>
				<p> user reputation : 35</p>
				<p class = "tagcontent" id = "usertaginfo-12386">{'wheel': 1, 'None': 2, 'arduino': 0, 'communication': 0, 'wheeled-robot': 1, 'h-bridge': 1, 'current': 0, 'sensors': 0, 'soccer': 1, 'ultrasonic-sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12386">Load Comments</button></br>
			<div id = "commentsection-12386" class = 'collapse'>
			<div id = "comment-21821" class = "comment">
				<p>well,I have the solutions....</p>
			</div>
			</div>
				<textarea id = "speech-12386" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12386">
					<img id="start_img-12386" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12386">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>