<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the best software~package to draw the robot manipulator and indicate DH parameters and different axes?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6620" class = "post">
			<h2>Question</h2>
			<div id="vote-6620" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 560</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the best software~package to draw the robot manipulator and indicate DH parameters and different axes?</h2>
<p>I'm wondering about good software/package to draw the robot manipulator and indicate DH parameters and different axes?</p>

<p>Any suggestions!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6620" data-toggle = "popover">
				<p>user name : AlFagera</p>
				<p> user reputation : 99</p>
				<p class = "tagcontent" id = "usertaginfo-6620">{'control': 5, 'product-of-exponentials': 3, 'None': 4, 'manipulator': 0, 'inverse-kinematics': 0, 'torque': 1, 'pid': 2, 'simulation': 1, 'servomotor': 1, 'industrial-robot': 6, 'dh-parameters': 2, 'matlab': 2, 'robotic-arm': 10, 'jacobian': 0, 'kinematics': 2, 'dynamics': 5, 'forward-kinematics': 1, 'robotc': 1, 'input': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6620">Load Comments</button></br>
			<div id = "commentsection-6620" class = 'collapse'>
			<div id = "comment-9527" class = "comment">
				<p>Is the software supposed to give you just a drawing? I.e., you care about the artistic aspects of the drawing? Or do you expect to have some other software possibly read the drawing and "import" the robot?</p>
			</div>
			<div id = "comment-9530" class = "comment">
				<p>Actually I don't expect to have a plenty of time, so I'm looking the shortest way.</p>
			</div>
			<div id = "comment-9531" class = "comment">
				<p>That does not answer any of my questions. The shortest way may be an extremely ugly drawing on paper and scanning it. You need to specify what you are trying to do with the drawing, otherwise just for the sake of drawing there are many programs, such as [inkscape](https://inkscape.org/en/).</p>
			</div>
			<div id = "comment-9534" class = "comment">
				<p>Anyway, both options are useful for me, even I prefer the first option, to draw the robot my self. You mean importing a picture of the robot to Solid Work or other package, I don't like this option, but might also be considered.</p>
			</div>
			</div>
				<textarea id = "speech-6620" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6620">
					<img id="start_img-6620" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6620">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6627"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6627" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Many kinematics software packages let you easily specify the robot dimensions in an xml format.  You describe the translations and rotations between joints in vectors, quaternions, rotation matrices, etc. and not in DH parameters.  For example: <a href="http://openrave.programmingvision.com/wiki/index.php/Format:XML" rel="nofollow">OpenRave XML format</a>, and <a href="http://moveit.ros.org/wiki/URDF" rel="nofollow">ROS MoveIt! URDF format</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6627" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-6627">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6627" class = 'collapse'>
			</div>
				<textarea id = "speech-6627" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6627">
					<img id="start_img-6627" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6627">Comment</button>
			<br><div id = "ans-7045"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7045" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use <strong><a href="http://www.roboanalyzer.com/" rel="nofollow">RoboAnalyzer</a></strong>. It will help you understand what you need.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7045" data-toggle = "popover">
				<p>user name : B.Joshi</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-7045">{'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7045" class = 'collapse'>
			</div>
				<textarea id = "speech-7045" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7045">
					<img id="start_img-7045" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7045">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>