<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What algorithm should I use for balancing a two wheeled robot using a gyroscope?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-43" class = "post">
			<h2>Question</h2>
			<div id="vote-43" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">22</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2318</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What algorithm should I use for balancing a two wheeled robot using a gyroscope?</h2>
<p>Is there a good, popular and reliable algorithm I can use by taking input from a gyroscope and using this to control two independant wheels to keep such a balanced robot reliably upright? I'm looking for an algorithm that will let me use it to drive a robot around as well as keep it upright when stationary. The ability to deal with inclines and people <em>nudging</em> it would also be a bonus, but not essential.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-43" data-toggle = "popover">
				<p>user name : berry120</p>
				<p> user reputation : 640</p>
				<p class = "tagcontent" id = "usertaginfo-43">{'control': 22, 'battery': 16, 'slam': 7, 'design': 8, 'motor': 11, 'underwater': 24, 'kinect': 4, 'auv': 24, 'input': 4, 'electronics': 10, 'gyroscope': 22, 'gps': 17, 'wheel': 9, 'None': 3, 'localization': 17, 'mapping': 7, 'failure': 11, 'protection': 10, 'sensors': 11, 'two-wheeled': 22, 'balance': 22, 'acoustic-rangefinder': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-43">Load Comments</button></br>
			<div id = "commentsection-43" class = 'collapse'>
			<div id = "comment-20762" class = "comment">
				<p>I am going to be working on this as well. You have to use a kalman filter to filter your raw data. And use a PID algorithm to tune it.</p>
			</div>
			</div>
				<textarea id = "speech-43" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-43">
					<img id="start_img-43" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-43">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-51"  class = "post">
				<h2>Answer</h2>
			<div id="vote-51" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe the most popular solution to this problem is an <a href="http://en.wikipedia.org/wiki/Linear-quadratic_regulator">LQR</a> controller. The problem you are trying to solve is the <a href="http://en.wikipedia.org/wiki/Inverted_pendulum">inverted pendulum problem</a>. Using those keywords, you should be able to Google someone's open-source code. The next problem will be mapping most of the relevant physics quantities to your application (weight, motor torque, etc...)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-51" data-toggle = "popover">
				<p>user name : Chris Mansley</p>
				<p> user reputation : 464</p>
				<p class = "tagcontent" id = "usertaginfo-51">{'odometry': 15, 'None': 24, 'kalman-filter': 15, 'localization': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-51" class = 'collapse'>
			</div>
				<textarea id = "speech-51" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-51">
					<img id="start_img-51" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-51">Comment</button>
			<br><div id = "ans-56"  class = "post">
				<h2>Answer</h2>
			<div id="vote-56" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Since I don't know your skills in control engineering/theory, I recommend you to start with a <a href="http://en.wikipedia.org/wiki/PID_controller">PID controller</a>. It is a simple controller and you will find many code implementations of it. The drawback of the PID is that you probably will end up spending some time tuning the parameters by hand.</p>

<p>Some years ago I used it to control a two wheeled Lego Mindstorm robot based on its odometry and it worked well enough.
To make it move around, you will need to play with the set points.</p>

<p>Of course, later on you can improve the the quality of your controller (stability, robustness etc.) by using more advanced control laws like the LQR mentioned before.</p>

<p>Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-56" data-toggle = "popover">
				<p>user name : bit-pirate</p>
				<p> user reputation : 236</p>
				<p class = "tagcontent" id = "usertaginfo-56">{'None': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-56" class = 'collapse'>
			</div>
				<textarea id = "speech-56" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-56">
					<img id="start_img-56" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-56">Comment</button>
			<br><div id = "ans-96"  class = "post">
				<h2>Answer</h2>
			<div id="vote-96" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The simplest controller is a linear state feedback controller. There are essentially 4 different states that you need a gain for. These are tilt angle, tilt rate, speed and position.</p>

<hr>

<p><strong>LQR</strong> (linear quadratic regulator) is a method to design these gains (after obtaining a linearized state-space representation of your system). If you do not have a state space representation (you probably don't), you can get equations of motion and measure the parameters. If you do not have a state space representation, you should just tune the gains manually (without LQR or other methods such as <strong>pole placement</strong>).</p>

<hr>

<h1>Tuning gains manually:</h1>

<p>Assuming tilt angle, position/speed and wheel torques are all directed forwards (if positive), you want a positive gain on your tilt angle and tilt rate, as well as a positive gain on position and speed.</p>

<p>Start with a gain on tilt angle, and tilt rate. This will get it to balance initially. Once it remains balanced, you can control position and speed by adding a gain to them. If it is unstable, increase the gain on tilt rate (which helps to damp the system).</p>

<p>The position/speed control will control both states to zero. To control to some other value, you just need a reference tracking controller, by replacing the states with their errors before feeding it into your controller (eg. current speed - speed reference).</p>

<p>Yaw control can be done independently (with the differences in wheel torques added to the main balance/speed/position controller).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-96" data-toggle = "popover">
				<p>user name : ronalchn</p>
				<p> user reputation : 2449</p>
				<p class = "tagcontent" id = "usertaginfo-96">{'None': 187, 'two-wheeled': 20, 'inverse-kinematics': 15, 'interrupts': 5, 'microcontroller': 13, 'wiring': 7, 'c': 8, 'avr': 5, 'brushless-motor': 2, 'joint': 15, 'kinematics': 15, 'hall-sensor': 2, 'mobile-robot': 20, 'arm': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-96" class = 'collapse'>
			</div>
				<textarea id = "speech-96" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-96">
					<img id="start_img-96" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-96">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>