<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are some pitfalls of an ultrasonic sensor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10239" class = "post">
			<h2>Question</h2>
			<div id="vote-10239" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 101</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are some pitfalls of an ultrasonic sensor?</h2>
<p>I'm using a <a href="http://www.micropik.com/PDF/HCSR04.pdf" rel="nofollow">HC-SR04 sensor</a> to detect obstacles. What are the pitfalls with an ultrasonic sensor?</p>

<p>Here are a couple I've found during my testing:</p>

<ul>
<li>The signal can bounce off of one wall to another and then get picked up, distorting latency</li>
<li>Absorbent materials sometimes don't bounce the signal back</li>
<li>Check the datasheet for supported range (min/max)</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-10239" data-toggle = "popover">
				<p>user name : Jacksonkr</p>
				<p> user reputation : 220</p>
				<p class = "tagcontent" id = "usertaginfo-10239">{'quadcopter': 2, 'None': 6, 'ardupilot': 0, 'imu': 2, 'localization': 1, 'battery': 0, 'arduino': 4, 'precise-positioning': 1, 'uav': 3, 'kinect': 0, 'microcontroller': 3, 'mobile-robot': 1, 'ultrasonic-sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10239">Load Comments</button></br>
			<div id = "commentsection-10239" class = 'collapse'>
			<div id = "comment-18290" class = "comment">
				<p>Welcome to *Robotics* Jacksonkr, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem, so **questions that ask for a list** of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, **what something is capable of**, etc.) are off-topic.</p>
			</div>
			<div id = "comment-18291" class = "comment">
				<p>That said, I think this might be a candidate for a conversion to a *wiki*. I'll see if it's possible and will report back when I get more information.</p>
			</div>
			<div id = "comment-18299" class = "comment">
				<p>@Chuck I rephrased it to make it more of an objective answer. If it would do better as a wiki I'm happy to do whatever I need to in order for that to happen.</p>
			</div>
			<div id = "comment-18301" class = "comment">
				<p>Hi Jacksonkr. As you know by now we prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so I think two questions of the form "How can I deal with the signal bouncing off of one wall to another and then getting picked up, distorting latency" and "How can I deal with absorbent materials sometimes not bouncing signals back" would be better. As you find more pitfalls, ask about those as separate questions too. The problem with list questions like this is that there can be no definitive answer.</p>
			</div>
			<div id = "comment-18302" class = "comment">
				<p>Incidentally, Community Wiki is not a way to make a list question acceptable. It was an early solution to a problem which no longer exists (because anyone can suggest edits) so it has very limited application these days.</p>
			</div>
			<div id = "comment-18305" class = "comment">
				<p>Jacksonkr, after [more reading](https://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/) on my part, I think [this line](http://meta.stackexchange.com/q/67039) sums it up best, *"there are plenty of instances of CW being used for evil, or at least for neutral. This is true for values of evil and neutral equal to (in no particular order) ... **"I know my question doesn't belong here, but I'm not going to gain any rep for it, so it's okay."*** So I'm with @MarkBooth; I think this question should stay closed, and if you still have *specific, answerable questions*, please ask those.</p>
			</div>
			</div>
				<textarea id = "speech-10239" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10239">
					<img id="start_img-10239" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10239">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10240"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10240" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From my experience, don't use them for obstacle detection on high speed robots. Your'e just as good as without using them. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10240" data-toggle = "popover">
				<p>user name : YaddyVirus</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-10240">{'brushless-motor': 0, 'None': 2, 'raspberry-pi': 1, 'arduino': 1, 'battery': 2, 'rcservo': 0, 'current': 1, 'motor': 2, 'ultrasonic-sensors': 0, 'navigation': 0, 'steering': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10240">Load Comments</button></br>
			<div id = "commentsection-10240" class = 'collapse'>
			<div id = "comment-18280" class = "comment">
				<p>What's your definition of "high speed"? 100 mph? 10mp? I'm curious to know, what were you testing with?</p>
			</div>
			<div id = "comment-18283" class = "comment">
				<p>Bats are pretty high-speed and use ultrasound just fine for obstacle detection and avoidance.  It may be that your experience with ultrasonic sensors is negative due to poor system design or integration rather than a limitation of the technology itself.</p>
			</div>
			<div id = "comment-18284" class = "comment">
				<p>@Jacksonkr I was tryin to use em with my autonomous car, about 7-8 m/s, HC-SR 04 failed horribly, and I broke a few parts in the collisions</p>
			</div>
			<div id = "comment-18285" class = "comment">
				<p>@SteveO The Doppler's effect in this case renders my sensors useless. These sensors aren't bats, and hence, cannot detect changes in frequency that occur in my case, hence useless. OR if they aren't, I'd love to know a way they work</p>
			</div>
			<div id = "comment-18287" class = "comment">
				<p>Interesting @YaddyVirus.  Sounds like you needed a wide-bandwidth ultrasonic receiver.  If your robot was moving toward a stationary object at 100 mph, a 40kHz ultrasonic signal would appear to be about 34kHz - still in the ultrasonic range. There are receivers that cover wide bandwidths but I don't know how cost-effective they are.</p>
			</div>
			<div id = "comment-18294" class = "comment">
				<p>Oops!   You're right @Chuck.</p>
			</div>
			</div>
				<textarea id = "speech-10240" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10240">
					<img id="start_img-10240" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10240">Comment</button>
			<br><div id = "ans-10242"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10242" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It'll involve a bit of reading, but <a href="http://www-personal.umich.edu/~johannb/mypapers.htm" rel="nofollow">Johann Borenstein's papers</a> include several 1980s-90s publications about ultrasonics (plus loads of other interesting stuff). Some pure ultrasonic systems, some mixed with other navigation techniques.</p>

<p>One interesting effect I read about was reflections. If the "beam" hits a wall at an oblique angle, then instead of reflecting back to the sensor it bounces on back into the room, hits something then bounces right back. The result is detecting things that appear to be "beyond" the wall, but really they're objects in the room but a longer path length is being measured.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10242" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-10242">{'None': 59}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10242" class = 'collapse'>
			</div>
				<textarea id = "speech-10242" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10242">
					<img id="start_img-10242" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10242">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>