<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the pros and cons of fictitious play
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2720" class = "post">
			<h2>Question</h2>
			<div id="vote-2720" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 70</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the pros and cons of fictitious play</h2>
<p>I've been looking for articles and topics the Fictitious Play learning algorithms for my presentation
I haven't found it's pros and cons
Is there a book or something that I can benefit from?
Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2720" data-toggle = "popover">
				<p>user name : Bayar AbdulJabbar</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-2720">{'None': 0, 'algorithm': -3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2720" class = 'collapse'>
			</div>
				<textarea id = "speech-2720" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2720">
					<img id="start_img-2720" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2720">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2732"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2732" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><ul>
<li><p><a href="http://en.wikipedia.org/wiki/fictitious_play" rel="nofollow">Wikipedia: "fictitious play"</a></p></li>
<li><p><a href="http://www.gametheory.net/dictionary/FictitiousPlay.html" rel="nofollow">GameTheory.net: "fictitious play"</a></p></li>
<li><p><a href="http://www.stanford.edu/~jdlevin/Econ%20286/Learning.pdf" rel="nofollow">Jonathan Levin: "Learning in Games"</a></p></li>
<li><p><a href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-254-game-theory-with-engineering-applications-spring-2010/lecture-notes/MIT6_254S10_lec11.pdf" rel="nofollow">Asu Ozdaglar: "Game Theory with Engineering Applications": "Lecture 11: Learning in Games"</a></p></li>
<li><p><a href="http://arxiv.org/abs/1301.3347" rel="nofollow">Michalis Smyrnakis: "Multi-agent learning using Fictitious Play and Extended Kalman Filter"</a></p></li>
<li><p><a href="http://homepage.univie.ac.at/josef.hofbauer/GaunerH_GEB95.pdf" rel="nofollow">Andrea Gaunersdorfer and Josef Hofbauer: "Ficticious Play, Shapley Polygons, and the Replicator Equation."</a></p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2732" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-2732">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2732" class = 'collapse'>
			</div>
				<textarea id = "speech-2732" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2732">
					<img id="start_img-2732" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2732">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>