<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the mechanics of translational drift?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1294" class = "post">
			<h2>Question</h2>
			<div id="vote-1294" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 325</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the mechanics of translational drift?</h2>
<p>Concerning robots which rotate at high speed by spinning the drive motors in opposite directions, while still being able to simultaneously move in a direction (translate):</p>

<p>As far as I know this originated with competitive fighting robots, where it is known as "melty brain" or "tornado drive," according to wikipedia, and is based on alternately slowing down the motors on either side as they revolve around the centre of mass.</p>

<p>However, with the whole body spinning so fast how is the current "heading" of the robot established and maintained?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1294" data-toggle = "popover">
				<p>user name : jzx</p>
				<p> user reputation : 174</p>
				<p class = "tagcontent" id = "usertaginfo-1294">{'control': 2, 'None': 1, 'motion': 2, 'joint': 2, 'motor': 2, 'actuator': 2, 'sensors': 2, 'navigation': 7, 'movement': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1294" class = 'collapse'>
			</div>
				<textarea id = "speech-1294" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1294">
					<img id="start_img-1294" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1294">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1296"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1296" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Okay, so most(if not all) transational drift robots or meltys use an acceleorometer to indicate the heading of the robot. What this acceleorometer does is calculates the rate of rotation based on G-forces around a given radius. The data that is accumulated from the accelerometer is then used to light up an LED once per rotation - giving and indication of the heading of the robot. The driver or user then uses this LED to decide using the remote control the direction he wants to traverse to.</p>

<p>As for the moving, as mundane it might sound is done by switching the motor on and off. 
The program or the control of the system turns a motor on when that motor is in the correct position to result in a net movement the direction the robot is indicated to go to.
So for example the LED is lit between 30 and 120 degrees it can be interpreted as the direction of the robot would be around 90 degrees.(Keep in mind that the indications of the heading using the LED is not a 100% accurate, the might be off by more than some tens of degrees. Usually because of the time taken for all the data processing and the time taken to switch the LED's on and off). If you wanted to move forward now, the motors would be needed to be on between 270 and 450(360+90) degrees during each rotation after which the net direction of travel will be 90 degrees.</p>

<p>Likewise if the robot wants to go to the left that is 180 degrees, but its current heading is 90. The motors will need to be on between 0 and 180 degrees. </p>

<p>Hope that helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1296" data-toggle = "popover">
				<p>user name : Chandough</p>
				<p> user reputation : 455</p>
				<p class = "tagcontent" id = "usertaginfo-1296">{'quadcopter': 23, 'None': 15, 'design': 1, 'multi-rotor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1296" class = 'collapse'>
			</div>
				<textarea id = "speech-1296" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1296">
					<img id="start_img-1296" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1296">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>