<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What to do with 'answer plague'?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2760" class = "post">
			<h2>Question</h2>
			<div id="vote-2760" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 56</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What to do with 'answer plague'?</h2>
<p>I was going to use a slightly less-polite term, but I thought better of it.</p>

<p>How do we deal with such as this<br>
<a href="https://apple.stackexchange.com/questions/49381/dont-want-my-email-contacts-in-my-contact-list">Don&#39;t want my email contacts in my contact list</a><br>
where there are 25 answers, almost all pretty low quality, that are essentially all the same answer in varyingly-intelligible forms?</p>

<p>Go down them hitting -1 on the worst &amp; hope they eventually reach -3 &amp; vanish to low rep users?</p>

<p>Or...?</p>

			</div>
			<div id = "userinfo-2760" style = "float:right">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p> user tag wise history : {'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2760">Load Comments</button></br>
			<div id = "commentsection-2760" class = 'collapse'>
			<div id = "comment-6089" class = "comment">
				<p>*"eventually reach -3 & vanish to low rep users"* They're faded but still visible to all reputation levels?</p>
			</div>
			</div>
				<textarea id = "speech-2760" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2760">
					<img id="start_img-2760" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2760">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2761"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2761" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Protecting the question (as you did) or flagging it for moderator attention (for people with less reputation points) are probably the best way of action here. Downvoting also helps, but I would still recommend to look at each answer on its own and only downvote those which you would either also downvote if they were the only answer or if the answer really is a duplicate of an existing one (see also <a href="https://apple.meta.stackexchange.com/questions/990/what-shall-we-do-with-duplicate-answers?rq=1">What shall we do with duplicate answers?</a> on this).</p>
</p><br>
			</div>
			<div id = "userinfo-2761" style = "float:right">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p> user tag wise history : {'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2761" class = 'collapse'>
			</div>
				<textarea id = "speech-2761" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2761">
					<img id="start_img-2761" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2761">Comment</button>
			<br><div id = "ans-2762"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2762" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I wonder if we would do better by assembling a list of 10 or so example questions and then deciding if the problem is actually not closing the source of the "plague" - It's harder to balance the "not everything needs fixing/let's change everything" value judgement with the "we're open for anyone to participate" in single cases.</p>

<p>That question itself has some serious problems with either incomplete information or wrong information and has aged poorly.</p>

<ol>
<li>Which contact app is being used?</li>
<li>How many contact sync options are engaged (you could sync over iTunes to Mac, iTunes to PC, cloud to a handful of custom or standard services).</li>
<li>What version of iOS?</li>
</ol>

<p>I would say - if you wanted to help out that problem - explaining why it needs to be closed in a comment or working up consensus here or in chat to get a few people to agree it's actively harming the site and/or see if it can be linked to a better canonical question.</p>

<p>All that being said - that question has likely helped a lot of people even with the tons of answers (that's a signal that the problem isn't a simple as it seems) and none have risen to the top indicating that the thread in question isn't a good resource for getting a problem documented or solved.</p>
</p><br>
			</div>
			<div id = "userinfo-2762" style = "float:right">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p> user tag wise history : {'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2762" class = 'collapse'>
			</div>
				<textarea id = "speech-2762" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2762">
					<img id="start_img-2762" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2762">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>