<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between Multiple robots and swarm robots?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7363" class = "post">
			<h2>Question</h2>
			<div id="vote-7363" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1182</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between Multiple robots and swarm robots?</h2>
<p>What is the difference between Multiple robots and swarm robots? What is the key point? Also what is multi agent systems? Do multi agent systems works only for computer simulations or games? These terms are used similar applications.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7363" data-toggle = "popover">
				<p>user name : M LKSOZ</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-7363">{'None': 2, 'multi-agent': 5, 'simulation': 5, 'swarm': 5, 'robotic-arm': 5, 'actuator': 1, 'sensors': 5, 'manufacturing': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7363" class = 'collapse'>
			</div>
				<textarea id = "speech-7363" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7363">
					<img id="start_img-7363" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7363">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7364"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7364" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>These concepts are similar in the sense that they require multiple robots that communicate/cooperate. Apart from that, their application, and thus their design and implementation differ.</p>

<h3>Swarm Robots</h3>

<p>Swarm robots are designed after ants, bees and such creatures. The idea therefore is not just about multiple robots cooperating, but it's about <em>many</em> robots, each of which is very simple.  With swarm robots, <strong>you would expect each robot to be too stupid to possibly even know why it's doing something</strong> (i.e., what is the ultimate goal).  Their simple function however, would result in a complex algorithm when a bunch of robots are doing it.</p>

<p>To recap, <strong>with swarm robots, each robot is unable to do anything meaningful</strong>. The desired behavior emerges only when there are many of them. Usually, the robots all look the same.</p>

<h3>Multi-Agent Systems</h3>

<p>In multi-agent systems, you have multiple agents, which could be either computer programs or robots, <strong>each of which is able to do some meaningful part of a task</strong>.  It is possible that without having all the agents, the ultimate goal cannot be reached, but parts of it perhaps could still be done.  Think of multi-agent systems as a society of humans. Each of us have a profession and we thrive together, but we are not useless on our own.</p>

<p>To recap, a multi-agent system consists of entities (e.g., robots) that are each specialized for a certain task. They cooperate to achieve the ultimate goal, but individually they are also able to do some things.</p>

<h3>Multiple Unrelated Robots</h3>

<p>You mentioned multiple robots. That's not something that relates to a specific methodology (as opposed to e.g., swarm robots). I'm going to thus talk about multiple unrelated robots.</p>

<p>It is not unthinkable to imagine unrelated robots cooperating at some point in time. In such a case, <strong>each robot has its own goal, or is part of its own swarm, or is a member of its own multi-agent system, etc.</strong> Based on circumstances, the robots may meet and they may interact. One simple case is the robots avoiding crash while each goes on about its business.</p>

<p>In this case, there is really no common algorithm, design, methodology or whatever. It's just individual robots who happen to meet.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7364" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-7364">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7364">Load Comments</button></br>
			<div id = "commentsection-7364" class = 'collapse'>
			<div id = "comment-10508" class = "comment">
				<p>Thanks for reply. I'm still little bit confused. can you explain more specific and explain differences more clearly.</p>
			</div>
			<div id = "comment-10510" class = "comment">
				<p>@M LKSOZ, regarding swarm robots: imagine ants that want to find the shortest path to food source, so they can bring it back home efficiently. An ant in isolation walks around randomly, lays pheromone and is _likely_ to follow the scent of pheromone from other ants. Now take one ant in isolation and ask it to find food. It would wander around, and even if it finds the food, it goes and comes back in a terribly winded and long path. The ant itself is incapable of understanding that the path it chose is bad or anything. Only when you have many ants can they actually solve the problem.</p>
			</div>
			<div id = "comment-10511" class = "comment">
				<p>@M LKSOZ, regarding multi-agent systems: imagine two humans. One has a ladder and is good at fixing it to the wall so another human can climb it. The other one is good at fixing a broken window. Now if you have these two _agents_ working together, they can fix all windows in a building. However, if you take only one of them, say the one that can fix windows, and make it work in isolation, it can still fix windows near the ground, so it's not entirely useless. In these systems, each robot is capable of something possibly unique, and together they cooperate to do more complex tasks.</p>
			</div>
			<div id = "comment-10512" class = "comment">
				<p>@M LKSOZ, regarding multiple unrelated robots: anything you can imagine which requires two or more robots to interact fits here. Imagine one is like a human, the other is like a pigeon. If they meet, they human could kick the pigeon, the pigeon could walk away, or fly away, or attack the human, or the human could give it food, or walk around it, you name it. All of these interactions are valid in a multi-robot system.</p>
			</div>
			</div>
				<textarea id = "speech-7364" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7364">
					<img id="start_img-7364" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7364">Comment</button>
			<br><div id = "ans-7366"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7366" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><em>In addition to @Shahbaz</em> </p>

<p>According to <a href="http://www.springer.com/us/book/9783540239574" rel="nofollow">this book</a></p>

<p>Multiple Mobile Robot Systems is main topic and swarm robotics is a sub topic
both of them motivated from</p>

<ol>
<li><p>the task complexity is too high for a single robot to accomplish</p></li>
<li><p>the task is inherently distributed</p></li>
<li><p>building several resource-bounded robots is much easier than having a single powerful robot</p></li>
<li><p>multiple robots can solve problems faster using parallelism</p></li>
<li><p>the introduction of multiple robots increases robustness through redundancy</p></li>
</ol>

<p>Swarm Robots: Historically, some of the earliest work in multirobot
systems dealt with large numbers of <strong>homogeneous</strong> robots, called swarms. </p>

<p><strong>This means multi robot systems can be homogeneous and heteregeneous but swarm systems have to homegeneous.</strong></p>

<p>Multi agent systems is a computerized systems composed of multiple interacting intelligent agents within an environment. But also it can be robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7366" data-toggle = "popover">
				<p>user name : acs</p>
				<p> user reputation : 838</p>
				<p class = "tagcontent" id = "usertaginfo-7366">{'stereo-vision': 4, 'control': 1, '3d-printing': 2, 'simulator': 8, 'multi-agent': 0, 'pid': 1, 'slam': 2, 'robotic-arm': 1, 'mobile-robot': 10, 'ros': 8, 'battery': 0, 'swarm': 2, 'cameras': 4, 'lidar': 4, '3d-model': 2, 'imu': 3, 'kalman-filter': 3, 'gazebo': 1, 'gps': 2, 'None': 34, 'localization': 4, 'sensors': 7, '3d-reconstruction': 2, 'quadcopter': 0, 'computer-vision': 2, 'algorithm': 1, 'sensor-fusion': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7366" class = 'collapse'>
			</div>
				<textarea id = "speech-7366" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7366">
					<img id="start_img-7366" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7366">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>