<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the prerequisites for learning ROS?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10169" class = "post">
			<h2>Question</h2>
			<div id="vote-10169" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 552</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the prerequisites for learning ROS?</h2>
<p>It is helpful in robotics to first learn about "Linux kernel development" or "device driver development in Linux" before I start learning ROS? I know C and JAVA! In brief, I want to know any prerequisites which are essential to understand ROS better.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10169" data-toggle = "popover">
				<p>user name : Chetan Chavan</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10169">{'None': 0, 'ros': 2, 'linux': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10169">Load Comments</button></br>
			<div id = "commentsection-10169" class = 'collapse'>
			<div id = "comment-18108" class = "comment">
				<p>ROS is very high level. You most likely don't need anything from kernel programming to learn ROS. If you are using ROS to provide access to a particular hardware you have made, you might need to do a kernel-level driver, but that would be unrelated to ROS itself.</p>
			</div>
			</div>
				<textarea id = "speech-10169" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10169">
					<img id="start_img-10169" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10169">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10170"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10170" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you're excited to learn <strong>ROS</strong>. The best way to learn ROS well is to dive in and learn any necessary bits along the way. Once you finish going through EVERYTHING in the <a href="http://wiki.ros.org/ROS/Tutorials" rel="nofollow noreferrer">ROS tutorials</a> you can tinker with a project like <a href="http://www.turtlebot.com/" rel="nofollow noreferrer">turtlebot</a>.</p>

<p>Last but not least there is <a href="http://answers.ros.org/" rel="nofollow noreferrer">http://answers.ros.org/</a> for any ROS related questions you may have.</p>

<h1>Enjoy!</h1>

<p><strong>EDIT</strong></p>

<p>I took the route I suggested and it took me a while to learn some VERY helpful things so I want to point those out as well.</p>

<ul>
<li>Electric, Fuerte, Groovy, Hydro, Indigo, Jade, Kinetic are all different versions of ROS from oldest (Electric) to newest (Kinetic). I personally use Hydro/Indigo because they have the most/best support in communities.</li>
<li><code>catkin</code> is a type of ROS friendly workspace. You can build ROS in a workspace (required by some devices/distros) or you can simply do a desktop or full install of ROS.</li>
<li>You can learn to build <code>URDF</code> models from the tutorials. You can use URDF models as robots in <code>Gazebo</code> (mentioned by @NBCKLY). Use this to debug your robot as you can see where it thinks it is and what it thinks it is doing. You can also try throwing parts on, like a laser scanner, to see if that will help your invention.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10170" data-toggle = "popover">
				<p>user name : Jacksonkr</p>
				<p> user reputation : 220</p>
				<p class = "tagcontent" id = "usertaginfo-10170">{'quadcopter': 2, 'None': 6, 'ardupilot': 0, 'imu': 2, 'localization': 1, 'battery': 0, 'arduino': 4, 'precise-positioning': 1, 'uav': 3, 'kinect': 0, 'microcontroller': 3, 'mobile-robot': 1, 'ultrasonic-sensors': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10170">Load Comments</button></br>
			<div id = "commentsection-10170" class = 'collapse'>
			<div id = "comment-18214" class = "comment">
				<p>I would also like to point out that __topics__ is the de facto way that your independent processes (nodes) will use to communicate with each other. Think with topics.
Do you want to communicate the position of your robot to a Kalman Filter? Topics.
Do you want to display the angle of a joint in a gauge? Topics.</p>
			</div>
			</div>
				<textarea id = "speech-10170" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10170">
					<img id="start_img-10170" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10170">Comment</button>
			<br><div id = "ans-10174"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10174" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To learn and use ROS, you do not need to know anything about Linux kernel development, and at first, you shouldn't need to worry about writing drivers. All you need to know is how to use a command line environment.</p>

<p>Like Jacksonkr said, the Turtlebot tutorials are pretty good. In addition, using Gazebo, you can simulate the robot without needing to have one physically, which is fantastic. Once you learn the basics, you can simulate and implement solutions to a huge number of robotics problems like SLAM.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10174" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-10174">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10174" class = 'collapse'>
			</div>
				<textarea id = "speech-10174" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10174">
					<img id="start_img-10174" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10174">Comment</button>
			<br><div id = "ans-11384"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11384" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You do not require "Linux kernel development" or "device driver development in Linux" before starting ROS. As ROS allows you to write programs in either C++ or python, familiarity with these two languages would be helpful. As you are familiar with C, learning C++ may not be that difficult. In addition to that, familiarity using linux terminal would be beneficial. However, even if you are not comfortable with linux terminal, you can start learning ROS. In that case, first start following the ROS tutorials step-by-step and if you are not familiar with commands mentioned in the tutorials you can always search what actions those commands perform. I would suggest you to start the ROS tutorials and always learn the dependencies on the go.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11384" data-toggle = "popover">
				<p>user name : Telepresence</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-11384">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11384" class = 'collapse'>
			</div>
				<textarea id = "speech-11384" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11384">
					<img id="start_img-11384" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11384">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>