<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What's the most effective type of rechargeable battery when taking into account size ~ weight ~ Ah?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-46" class = "post">
			<h2>Question</h2>
			<div id="vote-46" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">16</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 570</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What's the most effective type of rechargeable battery when taking into account size ~ weight ~ Ah?</h2>
<p>I'm looking to build an underwater glider robot that will need to remain autonomous for long periods of time, perhaps even months. Power draw should be minimal, and I'm thinking of including some form of charging device (such as a solar charger) however I'd also like the battery capacity to be large enough so I don't hugely need to worry about this. Large current draw isn't really needed, but the battery does need to hold its charge effectively for long periods of time. Considering this is an underwater vehicle, weight and size are also a concern.</p>

<p>Cost isn't too much of an issue, as long as it's within reason of a hobbyist project.</p>

<p>I am looking to understand the pros and cons of each technology (Lead acid, LiPo, NiCad, fuel cell?), so I can decide what type of battery would be best suited to my purpose. As such, I'm looking at battery technology rather than looking for a specific shopping recommendation.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-46" data-toggle = "popover">
				<p>user name : berry120</p>
				<p> user reputation : 640</p>
				<p class = "tagcontent" id = "usertaginfo-46">{'control': 22, 'battery': 16, 'slam': 7, 'design': 8, 'motor': 11, 'underwater': 24, 'kinect': 4, 'auv': 24, 'input': 4, 'electronics': 10, 'gyroscope': 22, 'gps': 17, 'wheel': 9, 'None': 3, 'localization': 17, 'mapping': 7, 'failure': 11, 'protection': 10, 'sensors': 11, 'two-wheeled': 22, 'balance': 22, 'acoustic-rangefinder': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-46">Load Comments</button></br>
			<div id = "commentsection-46" class = 'collapse'>
			<div id = "comment-58" class = "comment">
				<p>I think this is at its essence a shopping recommendation.  It would be better to ask about what characteristics of a battery make it a good choice.</p>
			</div>
			<div id = "comment-63" class = "comment">
				<p>I disagree, he is asking which *type* of battery, not trademark etc. Those types do have quite different characteristics, but unfortunately I'm no expert at this and not able to give you a good answer.</p>
			</div>
			<div id = "comment-92" class = "comment">
				<p>@bit In the context of SE, the word "shopping recommendation" is not necessarily for commercial questions. This one is borderline shopping, IMO, since it specifies some okay-ish constraints.</p>
			</div>
			<div id = "comment-93" class = "comment">
				<p>@berry keep in mind that LiPo explodes/catches fire/etc if it's shorted, so be extremely careful near water...</p>
			</div>
			<div id = "comment-299" class = "comment">
				<p>@MarkBooth Thanks for that, yup I agree that does make it clearer!</p>
			</div>
			<div id = "comment-304" class = "comment">
				<p>@MarkBooth Well I'm definitely not complaining about that! ;)</p>
			</div>
			<div id = "comment-649" class = "comment">
				<p>I'm sure water temperature matters - different batteries will behave differently at different temperatures.</p>
			</div>
			</div>
				<textarea id = "speech-46" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-46">
					<img id="start_img-46" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-46">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-66"  class = "post">
				<h2>Answer</h2>
			<div id="vote-66" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The best commonly available battery technology when it comes to power density versus weight, and at reasonable cost, is LiPo.</p>

<p>I would prbably recommend LiFePO4 batteries. LiFePO4 are somewhat more expensive than LiPo for the same watt-hours, and weigh somewhat more, but they hold the charge better, they age much better, and they can be re-charged five to ten times more than LiPo batteries before they lose their capacity.</p>

<p>For both of those kinds of batteries, if weight matters, you can design the "battery enclosure" as part of your robot, and buy cells that are just the chemistry enclosed in thin insulating plastic, and build your own battery pack from those cells to fit a custom-shaped cavity in your robot. Make sure to protect the battery against over-charge / over-discharge, though, because it will ruin the battery if you don't. LiPo may even catch fire when you do, whereas LiFePO4 will not.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-66" data-toggle = "popover">
				<p>user name : Jon Watte</p>
				<p> user reputation : 645</p>
				<p class = "tagcontent" id = "usertaginfo-66">{'None': 43, 'cooling': 7, 'servos': 7, 'heat-management': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-66">Load Comments</button></br>
			<div id = "commentsection-66" class = 'collapse'>
			<div id = "comment-80" class = "comment">
				<p>Awesome, thanks for that - especially LiFePO4, not something I'd heard of but now off to take a look!</p>
			</div>
			<div id = "comment-86" class = "comment">
				<p>Cell overcharge and discharge protection, and particularly cell balancing are VERY important considerations if you are trying to build your own battery pack.  Especially with LiFePO4 which are potentially dangerous is mistreated.

Day job confidentiality considerations restrict my answer further!</p>
			</div>
			<div id = "comment-88" class = "comment">
				<p>I have been working on AUVs for the last couple of years and have been using LiPO As far weight and charging time is concerned they are superstars. But their charge lifetime is not really great. LiFePO4 seems like a great alternative</p>
			</div>
			<div id = "comment-90" class = "comment">
				<p>*LiPo may even catch fire when you do, whereas LiFePO4 will not.* I beg to differ!</p>
			</div>
			<div id = "comment-239" class = "comment">
				<p>I would appreciate links to credible resources showing LiFePO4 catching fire under "normal" abuse conditions. Yes, if you over-force way too much energy into it past charging end, any battery will heat up, and do it enough, and the enclosure will catch fire if nothing else. But so will a hot dog under those conditions :-)</p>
			</div>
			<div id = "comment-286" class = "comment">
				<p>I appreciate this sounds like a cop-out, but I can't discuss it on a public forum. Suffice it to say, I'm working with LiFePO4 batteries as part of the day job, and we've had them explode and catch fire in "normal" discharge/recharge situations. It's quite spectacular!!!</p>
			</div>
			</div>
				<textarea id = "speech-66" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-66">
					<img id="start_img-66" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-66">Comment</button>
			<br><div id = "ans-268"  class = "post">
				<h2>Answer</h2>
			<div id="vote-268" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When taking into account size / weight / Ah,
fuel cells and micro power turbines have an energy per kilogram and (with liquid fuels) an energy per liter that is an order of magnitude better than any battery.</p>

<p>In particular, I keep hearing that liquid methanol fuel cells are "relatively practical".
<a href="http://www.infoworld.com/d/hardware/toshiba-prototypes-methanol-fuel-cell-laptops-955">a</a> <a href="http://www.powerstream.com/methanol-fuel-cell.htm">b</a> <a href="http://miter.mit.edu/articleenabling-liquid-fuels-high-efficiency-fuel-cells/">c</a> <a href="http://www1.eere.energy.gov/hydrogenandfuelcells/fuelcells/fc_types.html">d</a> <a href="http://en.wikipedia.org/wiki/Direct_methanol_fuel_cell">e</a>.
And I've heard that Hyuk Kim and Seungdoo Park built a prototype <a href="http://www.sciencedaily.com/releases/2001/09/010905072008.htm">diesel fuel cell</a>.</p>

<p>Prototype microturbines also show promise.<a href="http://www.powermems.be/gasturbine.html">a</a> <a href="http://en.wikipedia.org/wiki/microturbine">b</a></p>

<p>Alas, fuel cells and micro power turbines (as well as some high-energy density batteries such as zinc-air) are not really designed for underwater vehicles -- they are designed to breathe air.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-268" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-268">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-268" class = 'collapse'>
			</div>
				<textarea id = "speech-268" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-268">
					<img id="start_img-268" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-268">Comment</button>
			<br><div id = "ans-318"  class = "post">
				<h2>Answer</h2>
			<div id="vote-318" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Lithium Ion Polymer batteries are probably your best bet.  </p>

<ol>
<li>They will present the least amount of magnetic interference (followed by Alkaline... NiCD interferes the most).  </li>
<li>Unlike the regular lithium ion cells (which are usually round), these ones will stack nicely.  </li>
<li>I hope you'll check the manual before trying this -- many of them are pressure tolerant.  I know of some AUV labs that just put stacks of cellphone-sized batteries into rectangular boxes filled with oil (for pressure compensation) and go with it.  For example, Autosub 6000's battery packs -- depth-rated to 6000 meters, without the aid of a cylindrical or spherical pressure housing:
<img src="https://i.stack.imgur.com/dxHKf.jpg" alt="Pressure Compensated Battery Pack">
(<a href="http://www.thesearethevoyages.net/jc44/autosub6000_page1.html" rel="nofollow noreferrer">http://www.thesearethevoyages.net/jc44/autosub6000_page1.html</a>).
For other battery technologies, you'll have to decide how to pack them into your pressure housing, which may be a bit more complicated.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-318" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-318">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-318" class = 'collapse'>
			</div>
				<textarea id = "speech-318" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-318">
					<img id="start_img-318" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-318">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>