<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between a CNC router versus a CNC mill?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8184" class = "post">
			<h2>Question</h2>
			<div id="vote-8184" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1703</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between a CNC router versus a CNC mill?</h2>
<p>People at the RepRap <a href="/questions/tagged/3d-printing" class="post-tag" title="show questions tagged &#39;3d-printing&#39;" rel="tag">3d-printing</a> project often mention <a href="http://reprap.org/wiki/CNC_Router" rel="nofollow noreferrer">CNC routers</a> or <a href="http://reprap.org/wiki/MillStrap" rel="nofollow noreferrer">CNC mills</a>.</p>

<p>Both kinds of machines almost always have a motorized spindle with stepper motors to move the spindle in the X, Y, and Z directions.</p>

<p>What is the difference between a CNC router versus a CNC mill?</p>

<p>(Is there a better place for this sort of question -- perhaps the <a href="http://%20https://woodworking.stackexchange.com/" rel="nofollow noreferrer">Woodworking Stack Exchange</a>?)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8184" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-8184">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8184">Load Comments</button></br>
			<div id = "commentsection-8184" class = 'collapse'>
			<div id = "comment-13068" class = "comment">
				<p>I think the origin of the "CNC router" is the router that mounted on the machine as opposed to a "real" spindle found on industrial CNC mills.  The name doesn't matter that much but when you look at a machine you should look how stiff it is (and what materials it can work with), what tools can be used, what is the accuracy etc.  A "real" milling machine is typically very stiff with micron accuracies whereas hobbyist CNC routers are often for cutting soft materials without much accuracy.</p>
			</div>
			</div>
				<textarea id = "speech-8184" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8184">
					<img id="start_img-8184" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8184">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8185"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8185" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>On a typical CNC router, the work is stationary and the spindle-head moves in x/y/z coordinates.</p>

<p>On a typical CNC mill, the work moves in x/y coordinates (ie, is attached to an x/y table) and the spindle-head moves in the z axis only.</p>

<p>An example of each is shown below (photos from pdjinc.com and hylands.net):</p>

<p><a href="https://i.stack.imgur.com/am7uJ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/am7uJ.jpg" alt="CNC router"></a>
<a href="https://i.stack.imgur.com/cpUTB.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/cpUTB.jpg" alt="CNC mill"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8185" data-toggle = "popover">
				<p>user name : James Waldby - jwpat7</p>
				<p> user reputation : 1856</p>
				<p class = "tagcontent" id = "usertaginfo-8185">{'None': 134}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8185" class = 'collapse'>
			</div>
				<textarea id = "speech-8185" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8185">
					<img id="start_img-8185" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8185">Comment</button>
			<br><div id = "ans-8198"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8198" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally, the term comes from how the machine derives its cutting power.</p>

<p>A mill generally cuts slow RPM, from 3,000 to 5,000 with a <em>lot</em> or torque.</p>

<p>A router will usually run 10 times that with 30,000 to 50,000 RPM with much less torque.</p>

<p>The axis movements as mentioned by jwpat7 also apply.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8198" data-toggle = "popover">
				<p>user name : Matt Clark</p>
				<p> user reputation : 141</p>
				<p class = "tagcontent" id = "usertaginfo-8198">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8198" class = 'collapse'>
			</div>
				<textarea id = "speech-8198" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8198">
					<img id="start_img-8198" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8198">Comment</button>
			<br><div id = "ans-8217"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8217" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>TL;DR CNC routers move the tool while CNC mills move the workpiece, but this is a matter of common usage and not based on hard definitions.</p>

<p>A router (in the woodworking sense) is just a rotary tool with a cutting bit.  Woodworkers consider them a very universal tool, because they can be mounted into shop-made fixtures to create a wide range of other tools.  </p>

<ul>
<li>router table</li>
<li><a href="https://www.youtube.com/watch?v=9qt5ui3P9QA" rel="nofollow">router lathe</a></li>
<li><a href="https://www.youtube.com/watch?v=uGMTZ9PAXkA" rel="nofollow">copy router</a></li>
<li><a href="http://woodgears.ca/pantorouter/" rel="nofollow">pantorouter</a></li>
<li>router mills</li>
</ul>

<p>A "mill" typically defines a machine that can feed a workpiece to a rotary cutting bit along several axes.  There are many variations on this concept (e.g. vertical mills, horizontal mills, spiral mills, etc) depending on which axes are used.  </p>

<p>Technically speaking, either the workpiece or the cutting tool can move in a milling machine.  But in common usage, when people say "milling machine" they mean "bridgeport-style milling machine" -- a vertical mill with its cutting tool in a fixed position and an X/Y/Z axis table that can move the workpiece.  (A mill made from a router is just a "gantry-style" milling machine.) </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8217" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-8217">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8217" class = 'collapse'>
			</div>
				<textarea id = "speech-8217" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8217">
					<img id="start_img-8217" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8217">Comment</button>
			<br><div id = "ans-11032"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11032" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Not a big fan of using head motions or type of spindle to define the difference, as there are lots of exceptions to each.  Many 5-axis mills move the head in various ways beyond just Z.  Datron makes CNC mills (excellent ones, BTW) that look like these CNC "Routers" but they call them "Mills".</p>

<p>Some refer to "Gantry Style" mills as routers.  The "Gantry" is that travelling bridge with the head on it.  But, Some gantries still move the table, often in just one axis, usually Y.</p>

<p>There are CNC "Routers" that have very expensive high speed spindles with toolchange capability.  They're not just lashing a woodworking handheld router onto the CNC.</p>

<p>In the end, "Router" seems most often to refer to a gantry-style machine that is most often used to cut wood and soft materials like plastic or foam board.  "Mill" seems to most often refer to machines that are usually not (but can be) gantry-style that are most often used to cut metal and harder materials.</p>

<p>Personally, I prefer to use the terms interchangeably and realize that you can use one to do the other's job in many cases.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11032" data-toggle = "popover">
				<p>user name : Bob Warfield</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-11032">{'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11032" class = 'collapse'>
			</div>
				<textarea id = "speech-11032" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11032">
					<img id="start_img-11032" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11032">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>