<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is minimum torque required for CNC stepper motors and spindle for aluminium milling?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2433" class = "post">
			<h2>Question</h2>
			<div id="vote-2433" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 772</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is minimum torque required for CNC stepper motors and spindle for aluminium milling?</h2>
<p>I am planning to buy CNC mechanical skeleton without motors, spindle and controller. I will be using the CNC mainly for aluminium milling. Are there any specifications for minimum torque requirement for stepper motors and spindle to perform aluminium milling ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2433" data-toggle = "popover">
				<p>user name : World</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-2433">{'None': 0, 'stepper-motor': 1, 'cnc': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2433">Load Comments</button></br>
			<div id = "commentsection-2433" class = 'collapse'>
			<div id = "comment-4780" class = "comment">
				<p>You also need to be concerned about the stiffness of your machine.  Is this CNC designed for milling metals?</p>
			</div>
			<div id = "comment-13307" class = "comment">
				<p>Also cutting depth, possibility of lubrication/cooling liquied, cutting velocity is an important aspect when dimensioning spindles.</p>
			</div>
			</div>
				<textarea id = "speech-2433" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2433">
					<img id="start_img-2433" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2433">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2437"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2437" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are many calculators online for determining this sort of thing, and there are many factors involved.  Here is <a href="http://www.kennametal.com/kennametal/en/resources/calculators/face-milling/force-torque-and-power.html" rel="nofollow">one such calculator</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2437" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2437">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2437">Load Comments</button></br>
			<div id = "commentsection-2437" class = 'collapse'>
			<div id = "comment-19891" class = "comment">
				<p>Your link has [rotted](https://en.wikipedia.org/wiki/Link_rot), do you know of an alternative? Even better would be an answer which wasn't just a link of course. *8')</p>
			</div>
			<div id = "comment-19897" class = "comment">
				<p>The real thrust of my answer is that a simple google search for "milling torque formula" or "milling torque calculator" will answer this question. The question is too vague (as to the desired type of milling) to cite a specific formula.</p>
			</div>
			</div>
				<textarea id = "speech-2437" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2437">
					<img id="start_img-2437" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2437">Comment</button>
			<br><div id = "ans-11033"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11033" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here's the important thing to realize:</p>

<p>While many want to size motors based on cutting forces, that approach will almost always leave you with a motor that's too weak for good performance.</p>

<p>Cutting force is not the limiting factor the motor needs to overcome.  Rather, the limiting factor will be acceleration.  Your motors must produce enough torque to accelerate the axis quickly enough to reach your machine's target speeds in a reasonably short distance. </p>

<p>I've written some detailed articles about how to figure all this out in <a href="http://blog.cnccookbook.com/2014/02/06/ultimate-benchtop-cnc-mini-mill-part-4-motion-performance/" rel="nofollow noreferrer">Ultimate Benchtop CNC Mini Mill Part 4: Motion Performance</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11033" data-toggle = "popover">
				<p>user name : Bob Warfield</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-11033">{'None': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11033">Load Comments</button></br>
			<div id = "commentsection-11033" class = 'collapse'>
			<div id = "comment-19892" class = "comment">
				<p>When editing a question or answer to make bare URLs into links, please try to avoid using *here* or similar as the link text. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) and if this happens, *here* doesn't help anyone find the page. Often missing pages haven't been removed, they have just been moved to another location. If you give the page title as the link text then a search for that text will often find the new location.</p>
			</div>
			</div>
				<textarea id = "speech-11033" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11033">
					<img id="start_img-11033" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11033">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>