<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between screw and wrench in rigid body motion?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4277" class = "post">
			<h2>Question</h2>
			<div id="vote-4277" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1039</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between screw and wrench in rigid body motion?</h2>
<p>A screw is defined by a six dimensional vector of forces and torques. It can represent any spatial movement of a rigid body (<a href="https://en.wikipedia.org/wiki/Screw_theory#Basic_concepts" rel="nofollow">as written here</a>). But I don't get the following distinction between screw and wrench: </p>

<blockquote>
  <p>The force and torque vectors that arise in applying Newton's laws to a rigid body can be assembled into a screw called a <strong>wrench</strong>. </p>
</blockquote>

<p>It seems to be some kind of contextualisation but in what way?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4277" data-toggle = "popover">
				<p>user name : Milla Well</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-4277">{'None': 0, 'dynamics': 4, 'theory': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4277" class = 'collapse'>
			</div>
				<textarea id = "speech-4277" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4277">
					<img id="start_img-4277" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4277">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4278"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4278" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I will try to make it as simple as possible. Imagine you have a SCREW, when you WRENCH it, it TWIST forward or backward.</p>

<p>From your wiki link</p>

<blockquote>
  <p>The components of the screw define the Pl cker coordinates of a line in space and the magnitudes of the vector along the line and moment about this line.</p>
</blockquote>

<p>It means that any system can be described as those coordinate system is a screw. For example a normal screw has it axis and it pitch. </p>

<p>A WRENCH is one case of SCREW where the act (force or torque) have the axis and yield a movement (translation or rotation)</p>

<p>You can have a look at the slide of <a href="http://www.dimec.unige.it/PMAR/summer_screws/SS09/PDF/Part1/SS09-Zlatanov.pdf" rel="nofollow">the Summer Screw Summer School</a> for more detail.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4278" data-toggle = "popover">
				<p>user name : Loan</p>
				<p> user reputation : 43</p>
				<p class = "tagcontent" id = "usertaginfo-4278">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4278">Load Comments</button></br>
			<div id = "commentsection-4278" class = 'collapse'>
			<div id = "comment-6824" class = "comment">
				<p>I haven't considered a screw to be a `coordinate system`. My way of thinking was always, that the screw enables a lower dimensional representation of displacement. Could you please explain in more detail?</p>
			</div>
			<div id = "comment-6835" class = "comment">
				<p>What can be described in a system with an axis and the magnitudes vector along the axis is a SCREW. From the [Summer Screw](http://www.dimec.unige.it/PMAR/summer_screws/SS09/PDF/Part1/SS09-Zlatanov.pdf) page 19 : a line l with a pitch h (a metric quantity) is a geometric element called a screw. A wrench is a system of forces (reduced at a point) with equivalent systems identified.</p>
			</div>
			</div>
				<textarea id = "speech-4278" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4278">
					<img id="start_img-4278" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4278">Comment</button>
			<br><div id = "ans-4279"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4279" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Summarizing from <a href="http://www.cds.caltech.edu/~murray/mlswiki/index.php/Main_Page" rel="nofollow">Murray, Li, and Sastry</a> (chapters 3 and 5) there are 3 related things:</p>

<ul>
<li>Twist: An element of se(3) (which is a bit like the derivative of an element of SE(3), which is the set of translations + rotations)</li>
<li>Screw: A translation+rotation (i.e. and element of SE(3))</li>
<li>Wrench: Generalized force (combination of linear force and torque)</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4279" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-4279">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4279">Load Comments</button></br>
			<div id = "commentsection-4279" class = 'collapse'>
			<div id = "comment-6823" class = "comment">
				<p>Thanks for the summary, that helps a lot! Could you please explain why it is possible to state a wrench as a combination of force and torque as well as a screw and a force magnitude?</p>
			</div>
			<div id = "comment-6825" class = "comment">
				<p>Sorry, can you restate your question? I don't quite understand.</p>
			</div>
			<div id = "comment-6826" class = "comment">
				<p>I refer to this paper: http://profs.sci.univr.it/~fiorini/corsi/robotica/icra2001notes.pdf page 28, where one can see that a wrench can either be expressed as a concatenation of force and moment or as a convolution of screw and force. For me it is still not clear, why this holds - but maybe this is no longer part of this thread</p>
			</div>
			<div id = "comment-6828" class = "comment">
				<p>Sorry, but without studying it in more detail I'm not sure exactly what that paper is saying. I *think* it is saying that, similar to 3D motion, a wrench can be described by defining a line of action and a scalar times a pitch (i.e. similar to a screw describing a 3D motion).</p>
			</div>
			</div>
				<textarea id = "speech-4279" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4279">
					<img id="start_img-4279" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4279">Comment</button>
			<br><div id = "ans-4310"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4310" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I strongly recommend a patient lecture of the chapters related to rigid body kinematics and dynamics  of the book by Goldstein: classical mechanics. It will clear all our doubts.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4310" data-toggle = "popover">
				<p>user name : Rafael Rojas</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-4310">{'communication': 0, 'None': 4, 'c': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4310" class = 'collapse'>
			</div>
				<textarea id = "speech-4310" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4310">
					<img id="start_img-4310" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4310">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>