<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are some good cheap, silent, motors for mannequin robots and what kind of controller should I use?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2894" class = "post">
			<h2>Question</h2>
			<div id="vote-2894" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1779</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are some good cheap, silent, motors for mannequin robots and what kind of controller should I use?</h2>
<p>What are some good cheap, silent, motors for mannequin robots and what kind of controller should I use?</p>

<p>I'm creating mannequin robots that require 24 motors: 2 neck, 4 shoulder, 2 elbow, 4 wrist, 2 waist, 4 hip, 2 knee and 4 ankle motors. The mannequins will be bolted via a horizontal post from the lower back to a wall. This means they can run, dance, and pose. I may also do something with the horizontal beam so the robots can do side flips, and moves like the twist, jumps and crouches. They will not stand up, but be bolted as I've described to a wall. They could even spin around completely to face the wall.</p>

<p>I've tried using 6v hobby servos for the joins. These are too weak for lifting fibreglass mannequin body parts. They are too loud. They also make noise when poses are held, and they drop and smash when power is shut off. I have been using a handheld remote control for testing with only 5 channels. The robot must be programmable though. Lets say the objective is to make a mannequin dance to 'Thriller' like Michael Jackson. </p>

<p>I am open to using kinnect technology as the controller (so that a dancer can simply dance in front of my robot, who can copy and remember) but I'm also open to controllers that allow me to force the mannequin into a pose at specific time codes in the song. If necessary, I am also willing to program the poses using some kind of lighting desk type controller (such as tech crews use in rock concerts to sync everything to go with the music).</p>

<p>I have noticed that a power drill or winch is very loud whereas my fan is very quiet. I live in an apartment in which neighbours can hear footsteps from other apartments. I would not dare turn on a drill at 4am because it would wake up everyone in the whole building, but I would have no guilt in turning on a fan. I need my robot to be as quiet as a fan. The voltage does not really matter for this project. I'm happy to use up to 240v from the wall socket.</p>

<p>Please let me know which motors and controllers are best for my mannequin robots, taking cost into account. Thanks so much for any help :)</p>

<p><img src="https://i.stack.imgur.com/1myof.jpg" alt="Two standard mannequins - these will be cut at certain joints to allow for mobility."></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2894" data-toggle = "popover">
				<p>user name : Zxen</p>
				<p> user reputation : 34</p>
				<p class = "tagcontent" id = "usertaginfo-2894">{'motion': 6, 'None': 0, 'microcontroller': 6, 'humanoid': 6, 'robotic-arm': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2894">Load Comments</button></br>
			<div id = "commentsection-2894" class = 'collapse'>
			<div id = "comment-6619" class = "comment">
				<p>Here is the answer to the question: Servos for most joints will be rotating hobby servos. The shoulders will need an actuator setup like this: https://www.youtube.com/watch?v=vWn5nc5AS9s. The microcontroller required is this one: http://www.pololu.com/product/1356. I'm sorry I couldn't answer this question properly after weeks of research but someone closed the post because we were discussing solutions (?)</p>
			</div>
			<div id = "comment-9548" class = "comment">
				<p>A well-lubricated gearbox helps reduce the noise significantly!</p>
			</div>
			</div>
				<textarea id = "speech-2894" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2894">
					<img id="start_img-2894" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2894">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2927"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2927" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The majority of the noise you're hearing is not from the motor itself but from gearing, which both servo motors and drills have a lot of.  However, if you don't have a gearbox then when power is cut the torque exherted by the motor will become zero and your arm will fall.  I would reccomend a standard brushed DC motor with an encoder for precise control, however a special gearbox designed for less noise.  An example of this are the segway gearboxes, which are supposedly designed to be quiet and harmonic.  Here's a cheaper example, however it does not have the torque or speeed you are looking for.</p>

<p><a href="http://www.robotshop.com/en/12v-silent-dc-motor-146rpm-encoder.html" rel="nofollow">http://www.robotshop.com/en/12v-silent-dc-motor-146rpm-encoder.html</a></p>

<p>Another option are stepper motors, which at certain sizes can offer huge amounts of torque with no gearing.  If your mannequin is mounted to a wall would it be possible to mount motors behind the wall, having them run winches through pulleys to manipulate the appendages?  This would eliminate the issue as it would allow some form of shield inbetween the noise and the application. </p>

<p>Finally, if you're simply articulating appendages pnuematics may be the better option</p>

<p>Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2927" data-toggle = "popover">
				<p>user name : nanogru</p>
				<p> user reputation : 171</p>
				<p class = "tagcontent" id = "usertaginfo-2927">{'gps': 3, 'None': 10, 'localization': 3, 'sensors': 3, 'arduino': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2927">Load Comments</button></br>
			<div id = "commentsection-2927" class = 'collapse'>
			<div id = "comment-5421" class = "comment">
				<p>Thanks for your reply :) I emailed RobotShop with the link to this page and so far they have said that they do not really sell any equipment which is suitable to my task (building a robot). They have not mentioned servos with brakes yet (which I assume locks the servo  when the servo has reached it's desired position or when power is cut but I haven't found a working example for hobby servos). I think they must exist, because these do: http://en.wikipedia.org/wiki/Electromagnetic_lock. This servo controller http://www.robotshop.com/en/lynxmotion-ssc-32-servo-controller.html is perfect for</p>
			</div>
			<div id = "comment-5422" class = "comment">
				<p>moving servos at varying speeds to end up where you want them at specific time codes. DC, stepper, pneumatic and  hydraulic solutions all seem like they would not be able to achieve the accurate movements to make my mannequins moonwalk to the beat of 'Beat it'. 6 Volts seems like a very low voltage to me. I would prefer 240 Volts, which I think might be necessary if mannequins are made of fibreglass and wearing big jackets and carrying accessories. At the moment I cannot get my biggest hobby servo to lift a mannequin arm at the shoulder. Please consider that a winch can lift a truck. I need</p>
			</div>
			<div id = "comment-5423" class = "comment">
				<p>much less power than that. Also, my servos need to fit inside wrists. Honestly, the wrists are the easiest appendages to animate, so shoulder servos can be bigger. Even so, all servos will probably need the same voltage as each other if they will run from the same controller. And they must lock, either as a programmed function because they will pause for a while, or better still, automatically when a servo reaches it's endpoint (without delays when re-animating). The strain throbbing of servos bearing weight is intolerable - they sound like they're going to break. Instead, they need to brake.</p>
			</div>
			<div id = "comment-5424" class = "comment">
				<p>"If your mannequin is mounted to a wall would it be possible to mount motors behind the wall, having them run winches through pulleys to manipulate the appendages?" This would involve either poles or wires or both, and seems highly susceptible to fragility. The robots should be able to take a beating, or they will be easily broken - probably not needing some kid to yank an arm to destroy the alignment - but simply from the jolting the robot endures from it's own movements. Seems very fiddly and would probably wobble like Batman's ears during the end credits of Batman & Robin. Good idea though.</p>
			</div>
			<div id = "comment-5425" class = "comment">
				<p>@Zxen It wouldn't have to be fragile if you use string, all you would need are strong and secure hinges to ensure strength.  In fact it would probably be more fragile to have the motors directly mounted to the mannequin, as their shafts and bearings would be susceptible to breaks.</p>
			</div>
			<div id = "comment-5426" class = "comment">
				<p>RobotShop have outstanding customer service in regards to email responses."Over the past 10 years however servos have been used for robotics, which is not something they were designed for." "Some servo manufacturers are catching up to this demand, and more recently have released "smart servos" made for robotics. These are operated differently than hobby servos and don't take a normal R/C signal:
http://www.robotshop.com/en/smart-servo-motors.html" "The vast majority of human-size animatronics use servos and pulleys."</p>
			</div>
			<div id = "comment-5427" class = "comment">
				<p>If you are going to do the winch route, I would recommend not using servos but instead either gear-motors with encoders or stepper motors.  They both allow some sort of precision control, and their continuous-rotation nature allows higher gearing and speed.  Also, they generally cost less than huge expensive servos.</p>
			</div>
			<div id = "comment-5428" class = "comment">
				<p>I have been reading about arm wrestling machines, 100 tonne drawbridges that use counterweights and electric forklifts - quiet ones that definitely lock when stationary (otherwise the forklift would not be able to carry heavy loads). I think I need to listen to you more carefully about these other motors with encoders. Apparently AC motors are more powerful than DC motors. Why do you recommend DC motors? Have you seen them using forklift style brakes? A forklift could hold a tonne in the air while you go home without a problem. They lock into position. I don't see why robots are so different.</p>
			</div>
			<div id = "comment-5429" class = "comment">
				<p>You can get enough power from DC or AC motors, however you are correct that AC motors are minutely more efficient. However they are expensive and a PITA to control, therefore I almost always reccommend DC motors. To ensure that position locks in place all you need is either a planetary or worm gearbox, neither of which allow backdriving.  Look for a 12 or 18v gearmotor with a planetary gearbox, and calculate the torque necesary for your appendage.  Find a gearmotor with at least 4* that stall torque to be safe.</p>
			</div>
			<div id = "comment-5432" class = "comment">
				<p>I looked up 'backdrive' on Wikipedia and it says that this means that the motor can turn in both directions. I definitely DO need the motor to turn in both directions for a robot. I also need to find out what kind of programmable controller will work with DC motors. Also, these DC motors use different torque measurements. This one http://www.robotshop.com/en/28rpm-6300-oz-in-planetary-gearmotor.html says   Stall Torque: 33 ft-lbf. Apparently this equates to 456 kg.cm. The strongest servo torque reading I've seen has been only 12 kg.cm. This is an extremely massive increase in torque! Confused.</p>
			</div>
			<div id = "comment-5463" class = "comment">
				<p>This week I saw motors turn a worm gear both clockwise and counterclockwise, tilting the head up and down. However, these wormgears cannot be backdriven -- when I turn the power off, and then I pushed the head up and down with my hands, I am not strong enough to make it move. I have another system that uses belts instead of wormgears. When I turn the power off, then I directly push the head up and down with my hands, it's easy for me to move it all the way to the top and bottom limit. That motion backdrives the belts and other gears which in turn spins the motor clockwise and counterclockwise.</p>
			</div>
			<div id = "comment-5474" class = "comment">
				<p>Exactly what David said regarding backdriving, you can still go both directions.  Gearmotors often are considerably more powerful than servos (which are still mostly used for hobbyist applications).  Those torque numbers seem great, just make sure they have enough speed for your application and cannot be backdriven.</p>
			</div>
			<div id = "comment-5475" class = "comment">
				<p>For example, it is important to notice the 28rpm stat for that gearmotor, which means that for 15 inches per second of travel you would need a winch of about 10.3" diameter.  At this large diameter winch the torque readings do not seem nearly as impressive, therefore I would recommend a more powerful motor.</p>
			</div>
			<div id = "comment-5491" class = "comment">
				<p>http://www.trossenrobotics.com/p/mx-106t-dynamixel-robot-servo.aspx These servos ($411 each if you buy 6) have a torque of 102 kg.cm (1,416 oz in) @ 55 RPM. http://www.trossenrobotics.com/p/H54-200-S-dynamixel-pro-robot-actuator These servos ($2790 each) have 399 kg.cm (5541 oz-in) @ 35 RPM. They are all too expensive and here's why: This 5' robot costs $60: https://www.youtube.com/watch?v=UX9WNQYQ-DE. He is the most sold large robot in the world. Whatever people are telling me, they never mention this robot and why he's so cheap.https://www.youtube.com/watch?v=3ivaQf1jns0 This one's $100,000.</p>
			</div>
			<div id = "comment-5492" class = "comment">
				<p>I have no idea why my comment formatted itself like that. I couldn't fix it.</p>
			</div>
			<div id = "comment-5493" class = "comment">
				<p>My project might need to be simplified (due to cost) to simply have 2 head, 4 shoulder, 4 elbow, 4 wrist and one rotating base plate motor. Whatever motors I use, the shaft must be in the middle of the motor and not off-centre. For the outward shoulder lifting, I have thought about springs and counterweights, but what I really think I need is linear actuators that push and pull the shoulder joint. I just wish I knew how this join would work. Imagine a linear actuator bolted inside the torso. When it pushes and pulls, what kind of join would make the arm lower and raise? Its like a door hinge.</p>
			</div>
			<div id = "comment-5494" class = "comment">
				<p>I found this see saw approach :) https://www.youtube.com/watch?v=vWn5nc5AS9s. Anyone know how a pivot could be attached for the second shoulder motion? I need out-in PLUS forward-back, like a human arm. I think elbows and wrists can simply use servos because they're lighter.</p>
			</div>
			</div>
				<textarea id = "speech-2927" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2927">
					<img id="start_img-2927" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2927">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>