<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What should our FAQ contain?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5" class = "post">
			<h2>Question</h2>
			<div id="vote-5" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 183</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What should our FAQ contain?</h2>
<p><strong>update:</strong> Due to our imminent launch, I've published the FAQ</p>

<p>Quite simply, what should it contain?</p>

<p>Answers: Put headings in either <strong>bold</strong> or</p>

<h3>Third level heading format</h3>

<p>with answers as normal.</p>

			</div>
			<div id = "userinfo-5" style = "float:right">
				<p>user name : Josh K</p>
				<p> user reputation : 1615</p>
				<p> user tag wise history : {'None': 45, 'tags': 19, 'site-scope': 7, 'discussion': 46, 'status-bydesign': 1, 'bug': 1, 'beta-essentials': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5">Load Comments</button></br>
			<div id = "commentsection-5" class = 'collapse'>
			<div id = "comment-303" class = "comment">
				<p>We should probably decide what to put in our FAQ before we launch. We can customize the part that says "Apple - Stack Exchange is for power users of Apple hardware and software." - nothing above or below. We can use HTML.</p>
			</div>
			<div id = "comment-2374" class = "comment">
				<p>For link purposes: [Update to FAQ regarding beta and pre-release software  Ask Different meta](http://meta.apple.stackexchange.com/q/573/8546)</p>
			</div>
			<div id = "comment-3106" class = "comment">
				<p>I've removed the faq and featured tags as this was useful at the start, but the FAQ is not in production.</p>
			</div>
			</div>
				<textarea id = "speech-5" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5">
					<img id="start_img-5" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-190"  class = "post">
				<h2>Answer</h2>
			<div id="vote-190" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Here's the Super User FAQ:</p>

<blockquote>
  <p>Super User is for computer enthusiasts and power users. If you have a question about ...</p>
  
  <ul>
  <li>computer hardware</li>
  <li>computer software</li>
  </ul>
  
  <p>and it is not about ...</p>
  
  <ul>
  <li>videogames or consoles</li>
  <li>websites or web services like Facebook, Twitter, and WordPress</li>
  <li>electronic devices, media players, cell phones or smart phones, except insofar as they interface with your computer</li>
  <li>a shopping or buying recommendation</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>We could just use this as a guide with tweaks for our site. Here's an example:</p>

<blockquote>
  <p>Apple Stack Exchange is for Apple enthusiasts and power users. If you have a question about ...</p>
  
  <ul>
  <li>Apple hardware</li>
  <li>Apple software</li>
  <li>other Apple products or services</li>
  </ul>
  
  <p>and it is not about ...</p>
  
  <ul>
  <li>Apple Developer Programs or programming, with the exception of AppleScript and Automator</li>
  <li>installing or using Apple operating systems on non-Apple hardware</li>
  <li>a shopping or buying recommendation</li>
  </ul>
  
  <p>... then you're in the right place to ask your question!</p>
</blockquote>

<p>We need to flesh out the two sections a bit more, but it's a start.</p>
</p><br>
			</div>
			<div id = "userinfo-190" style = "float:right">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p> user tag wise history : {'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-190">Load Comments</button></br>
			<div id = "commentsection-190" class = 'collapse'>
			<div id = "comment-325" class = "comment">
				<p>I don't think enough of a consensus on hackintosh questions was ever reached to call it out specifically in the faq.  Plus we haven't really had problems with that anyway.  Otherwise, looks pretty good to me.</p>
			</div>
			<div id = "comment-2955" class = "comment">
				<p>@Kyle - re programming we should add bash/other shell scripting as simple ones are off topic on SO</p>
			</div>
			</div>
				<textarea id = "speech-190" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-190">
					<img id="start_img-190" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-190">Comment</button>
			<br><div id = "ans-622"  class = "post">
				<h2>Answer</h2>
			<div id="vote-622" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h3>Summarise the overlap/distinction between Ask Different and Super User</h3>

<p>To seasoned users of both stacks, the overlap/distinction may be obvious. </p>

<p>Newcomers might appreciate a more upfront one-line summary (amongst FAQ) helping them to deciding which stack will be most appropriate for their question. </p>

<p><strong>Notes</strong></p>

<p>At <a href="http://chat.stackexchange.com/transcript/message/1491219#1491219">http://chat.stackexchange.com/transcript/message/1491219#1491219</a></p>

<blockquote>
  <p>I guess that I should <em>promote</em> Ask Different, whilst <em>maintaining awareness</em> of Super User and the overlap.</p>
</blockquote>

<p>Adapted from my line at <a href="http://chat.stackexchange.com/transcript/message/1491276#1491276">http://chat.stackexchange.com/transcript/message/1491276#1491276</a> </p>

<blockquote>
  <p>A user might view iPad as a <em>computer</em>, but Super User (<a href="https://superuser.com/faq">for <em>computer</em> enthusiasts and power users</a>) prefers iPad questions elsewhere, because iOS was primarily <em>phone</em>-oriented.</p>
</blockquote>

<p><a href="https://apple.meta.stackexchange.com/q/589/8546">How can I help promote Ask Different as a new version of OS X is released?</a> (2011-07-20) encourages questions "no matter how silly", which is, I guessed aimed at seasoned users who know <a href="https://apple.stackexchange.com/faq#dontask">where to draw the line</a> with silliness :-)</p>
</p><br>
			</div>
			<div id = "userinfo-622" style = "float:right">
				<p>user name : Graham Perrin</p>
				<p> user reputation : 4827</p>
				<p> user tag wise history : {'None': 30, 'tags': 7, 'support': 7, 'status-completed': 2, 'bug': 3, 'design': 6, 'feature-request': 18, 'status-bydesign': 5, 'discussion': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-622" class = 'collapse'>
			</div>
				<textarea id = "speech-622" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-622">
					<img id="start_img-622" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-622">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>