<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is an effective distribution of grayscale sensors on robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1728" class = "post">
			<h2>Question</h2>
			<div id="vote-1728" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 373</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is an effective distribution of grayscale sensors on robot</h2>
<p>I'm working on a robotics project, and I am using grayscale sensors to automatically follow a black line: turning 90 degrees, going round in a circle, and passing through gaps in the lines etc.  I was wondering what is an effective way to detect the colours and move it through the lines, with five or six grayscale sensors.  </p>

<p>Thank you very much.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1728" data-toggle = "popover">
				<p>user name : C_Beginner_Learner</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-1728">{'mobile-robot': 3, 'None': 0, 'automatic': 3, 'sensors': 3, 'line-following': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1728">Load Comments</button></br>
			<div id = "commentsection-1728" class = 'collapse'>
			<div id = "comment-3647" class = "comment">
				<p>The robot is following a black line, what other colours are you talking about? ("effective way to detect the colours ")</p>
			</div>
			<div id = "comment-3648" class = "comment">
				<p>as u said, follow a black line, on a white surface.  There are also green circles which tell the robot to turn right.  That is it, white, green and black.  But the line is not only straight, but also curvy, and there are white gaps in between lines.</p>
			</div>
			<div id = "comment-3857" class = "comment">
				<p>Somewhat related: [PID line follow with three sensors in Not eXactly C](http://robotics.stackexchange.com/q/672/350)</p>
			</div>
			</div>
				<textarea id = "speech-1728" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1728">
					<img id="start_img-1728" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1728">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1762"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1762" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Use dynamic threshold to counter variation of ambient light condition, though the color green may still be hard to distinguish from white and black (dependent on the reflective index of the green material, which you might have to experiment with). This is a serious problem if you are using photo reflectors as grayscale sensors. The distribution of grayscale sensors depends on the size of your robot and your expected speed. If your robot aims at 1.0m/s, I would say six sensors are enough, placed at the front of your robot with a distance of roughly 1cm or 2cm. If you want to achieve higher speed (i.e., 3.0m/s) you might need as many as twelve to sixteen sensors. But these numbers are very inconclusive since you are giving out too limited information about your project. As someone who has done this before, I would recommend using the TSL1401 linear sensor array, which is equivalent to 128 grayscale sensors, yet is still quite cheap. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1762" data-toggle = "popover">
				<p>user name : Dawei</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-1762">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1762" class = 'collapse'>
			</div>
				<textarea id = "speech-1762" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1762">
					<img id="start_img-1762" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1762">Comment</button>
			<br><div id = "ans-1971"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1971" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I recommend arranging your sensors like the following:</p>

<pre><code>         Thickness of Line
            &lt;--------&gt;             /\
            |        |            /  \
            | *    * |             ||
            |        |             || moving
         *  |        |  *          || direction
            |        |             ||
            | *    * |             ||
            |        |             ||
</code></pre>

<p>This allows you to detect many conditions.  Let's say the sensors receives 1 if on black area and 0 if on white. Let's look at some of the configurations that may happen and their interpretations. I will use <code>|</code>, <code>-</code>, <code>/</code> and <code>\</code> to indicate the borders of the actual line:</p>

<ul>
<li><p>You are completely lost:</p>

<pre><code>          0    0  

     0              0

          0    0  
</code></pre></li>
<li><p>moving on straight line:</p>

<pre><code>        |        |
        | 1    1 |
        |        |
     0  |        |  0
        |        |
        | 1    1 |
        |        |
</code></pre></li>
<li><p>The line turns right:</p>

<pre><code>          0    0 
        ------------------
     0  |           1
        |         
        | 1    1 |--------
        |        |
</code></pre></li>
<li><p>The line turns left:</p>

<pre><code>          0    0 
------------------
     1           |  0
                 |
--------| 1    1 |
        |        |
</code></pre></li>
<li><p>Gap ahead:</p>

<pre><code>        |________|
          0    0  
         ________ 
     0  |        |  0
        |        |
        | 1    1 |
        |        |
</code></pre></li>
<li><p>Gap behind:</p>

<pre><code>        |        |
        | 1    1 |
        |        |
     0  |________|  0

          0    0  
         ________ 
        |        |
</code></pre></li>
<li><p>leaning out of the line from the left:</p>

<pre><code>            |        |
          0/   1    /
          |         |
     0   /         /0 or 1
         |        |
        / 1    1 /
        |        |
</code></pre></li>
<li><p>you are being teased:</p>

<pre><code>          1    1  

     1              1

          1    1  
</code></pre></li>
</ul>

<p>There are many other variations you can think of. As one of the examples shows, this also gives you the ability to detect when you are leaning out of the line so you can come back smoothly (without having to turn back on the line sharply). Given this, following the circle shouldn't be a problem at all regardless of whether it's green or black.</p>

<hr>

<p>Detecting color with grey-scale sensors is possible, but probably not what you are looking for. In your specific case, a value that is far from both 0 and 1 (say from 0.2 to 0.8 or something like that) would depict your color, which is only one. You should still pay attention that if only one of the sensors is showing such a value, for example 0.5, it is likely that you are just going out of the line and it's measuring a half white/half black location.</p>

<p>If you really want to detect the actual color you have to do the following:</p>

<ul>
<li>Use three grey-scale sensors instead of one at each location.</li>
<li><p>On each of the three, mount a color filter; one green, one blue and one red. Color filters are as simple as colored transparent pieces of plastic:</p>

<p><img src="https://i.stack.imgur.com/dqfTd.jpg" alt="enter image description here"></p></li>
<li><p>Read the three RGB values and convert them to <a href="https://en.wikipedia.org/wiki/HSL_color_space" rel="nofollow noreferrer">HSL (Hue-Saturation-Lightness)</a>.</p></li>
<li>Base your decisions on the calculated hue. I say only on the hue because the environment lighting very easily changes your observed saturation and lightness so they are not very reliable.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1971" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-1971">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1971" class = 'collapse'>
			</div>
				<textarea id = "speech-1971" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1971">
					<img id="start_img-1971" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1971">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>