<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the direction of current flowing through the freewheeling diodes in H-bridge if I use BJT?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11976" class = "post">
			<h2>Question</h2>
			<div id="vote-11976" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 61</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the direction of current flowing through the freewheeling diodes in H-bridge if I use BJT?</h2>
<p>I am new to electronics.the question is buzzing in my head since i first saw the H bridge configuration.please answer the question briefly<a href="https://i.stack.imgur.com/LVWts.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/LVWts.jpg" alt="enter image description here"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11976" data-toggle = "popover">
				<p>user name : Rakibul Islam Prince</p>
				<p> user reputation : 35</p>
				<p class = "tagcontent" id = "usertaginfo-11976">{'wheel': 1, 'None': 2, 'arduino': 0, 'communication': 0, 'wheeled-robot': 1, 'h-bridge': 1, 'current': 0, 'sensors': 0, 'soccer': 1, 'ultrasonic-sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11976" class = 'collapse'>
			</div>
				<textarea id = "speech-11976" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11976">
					<img id="start_img-11976" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11976">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11980"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11980" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Basically (in reality anything have a sligth aspeact of everything else, nothing is ideal) the DC motor is mainly inductance in serie with small resistance.</p>

<p>Your typical use is close Q2+Q3 and send PWM to Q1+Q4 (or vice versa).</p>

<p>When PWN is on, Q1+Q4 are open and current goes to DC motor from left to rigth. It start to rotate (or increase rotation when rotating) (slowly as incductace resist change of current, mechanical inertia also works against change). Nothing fancy here. Current goes PWR-Q1-DC-Q4-GND</p>

<p>Then the PWM goes down, Q1+Q4 closes, but morot is rotating (mechanical inertia) and its inductance tries to force current thru from left to right. At the moment it behave as dynamo (or a battery) and voltage goes so high so to force the current of the same value and direction. </p>

<p>And now the diodes kick in. On DC there is - on the left and + on the right (as on baterry forcing the current the same way) and when it reach some limit D2 opens (as there is minus under GND 0 V voltage on the DC left) and the D3 opens (as there is voltage higher than PWR on DC right) and the current flows thru DC in the same way back to main battery. GND-D2-DC-D3-PWR.</p>

<p>But the DC (and everything else) have some resistance, which burns the energy and its inductance have only limited capacity (even if enforced by mechanical inertia of rotating motor) so the current goes slowly down (and will stop eventually as the DC motor would slower so much, that there would be not enought voltage to open diodes and overcome main battery at the same time).</p>

<p>But your PWM goes up again much sooner thant this stop happens, so the DC just slows a little and those Q1 and Q4 opens and main battery suplies current again which forces the DC to rotate faster.</p>

<p>The rate (speed) of PWM is so fast, that mechanical inertia makes that invisible and only statistical difference matters here.</p>

<p>Dependind on the time the PWM is on(up) and time it is off(down) the DC motor have just part of the maximal possible power and so its rotation is slower then maximal possible. As on open Q1+Q4 there is full current from battery it have much better force to move, than if you limit the current with eq. resistor. (if goes full strenght for moment, then no strenght at all instead of going only half streng all the time - so it is able to overcome more resist of environment, even if it is not able to rotate fast) 
<a href="https://i.stack.imgur.com/FIbsb.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/FIbsb.jpg" alt="H bridge with PWM"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11980" data-toggle = "popover">
				<p>user name : gilhad</p>
				<p> user reputation : 362</p>
				<p class = "tagcontent" id = "usertaginfo-11980">{'control': 0, 'mobile-robot': 0, 'None': 18, 'arm': -1, 'robotic-arm': -1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11980">Load Comments</button></br>
			<div id = "commentsection-11980" class = 'collapse'>
			<div id = "comment-21271" class = "comment">
				<p>gilhad, can you please draw the direction in the given figure???It would be very helpful to me if you do so....</p>
			</div>
			<div id = "comment-21274" class = "comment">
				<p>I added picture - notice, that the PWM is usually like 1kHz, that means switching from low to high and back 1.000x per second. Mechanical motor reacts much slower, so it keeps rotating even if not powered for a split of second. And the inductance keeps the current flowing the same way (for a moment) so it generates eve higher voltage, than was supplied by battery and the current flows from high side INTO battery BACK.</p>
			</div>
			<div id = "comment-21275" class = "comment">
				<p>If you want to rotate motor in reverse direction, you just keep A input low and put PWM on B input. Q1 and Q3 switch roles, as wel Q2 and Q4. And everything is mirrored. (Notice also, that in reality you need the A/B inputs as high as main power to be able to open Q1/Q3, so real H-bridges are littlemore complicated to be able to work reliably, but idea is the same)</p>
			</div>
			<div id = "comment-21281" class = "comment">
				<p>So you can mark this as solution and vote me up :)</p>
			</div>
			<div id = "comment-21286" class = "comment">
				<p>How can I contact with you..if I have another problem???</p>
			</div>
			<div id = "comment-21287" class = "comment">
				<p>Ask a good questino here, maybe I will go around. Or somebody else.</p>
			</div>
			</div>
				<textarea id = "speech-11980" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11980">
					<img id="start_img-11980" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11980">Comment</button>
			<br><div id = "ans-11981"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11981" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>keep it simple:</p>

<p>when A is H-Level and B L-Level then Q1 and Q4 are in the  saturation region so the current flows in the direction as follow:</p>

<p><a href="https://i.stack.imgur.com/xkGIa.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/xkGIa.png" alt="enter image description here"></a></p>

<p>on the other option: A is L-Level and B H-Level</p>

<p><a href="https://i.stack.imgur.com/5NP5l.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/5NP5l.png" alt="enter image description here"></a></p>

<p>the rest of the options: A=B= H-Level or A=B= L-Level are not going to move the motor</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11981" data-toggle = "popover">
				<p>user name :  Xoc     epe pa  </p>
				<p> user reputation : 132</p>
				<p class = "tagcontent" id = "usertaginfo-11981">{'kuka': 0, 'None': 1, 'programming-languages': 0, 'industrial-robot': 0, 'software': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11981">Load Comments</button></br>
			<div id = "commentsection-11981" class = 'collapse'>
			<div id = "comment-21269" class = "comment">
				<p>Does not address the diodes in question at all</p>
			</div>
			<div id = "comment-21272" class = "comment">
				<p>xoce...I asked the direction of current following through the diodes...not through the transistors..I think you understand my question..</p>
			</div>
			</div>
				<textarea id = "speech-11981" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11981">
					<img id="start_img-11981" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11981">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>