<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are some common mistakes that robots make?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-342" class = "post">
			<h2>Question</h2>
			<div id="vote-342" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 203</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are some common mistakes that robots make?</h2>
<p>Is there a taxonomy of errors that are common in robotics? Things that come to mind but I don't have names for are:</p>

<ul>
<li>Getting stuck in a stable infinite loop</li>
<li>Going into an unstable feedback loop (A balancing robot overcompensating more with each correction)</li>
<li>An inability to generalize between tasks (Pick up a bowl vs pick up a glass)</li>
<li>An inability to generalize between 'similar' sensory inputs.</li>
<li>Causing damage to itself or its environment.</li>
</ul>

<p>These would be things that make a robot look 'stupid' to a non-roboticist. If you're curious I want to have this list so I can then prepare a clear answer ready for people who don't know why these various things are hard.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-342" data-toggle = "popover">
				<p>user name : Ian Danforth</p>
				<p> user reputation : 191</p>
				<p class = "tagcontent" id = "usertaginfo-342">{'untagged': 7, 'None': 5, 'errors': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-342">Load Comments</button></br>
			<div id = "commentsection-342" class = 'collapse'>
			<div id = "comment-377" class = "comment">
				<p>IIRC, such make-a-list questions are considered rather broad and are generally closed as such (especially a list which seems endless on a precursory glance). If you want to ask about a specific mistake, that's fine, though :).</p>
			</div>
			<div id = "comment-378" class = "comment">
				<p>Indeed, list questions are discouraged on all SE sites, as they are seldom constructive and don't really fit the Q&A format that SE is trying to promote.</p>
			</div>
			<div id = "comment-401" class = "comment">
				<p>I get the feeling you're kinda dancing around the actual question you want to ask. Regardless, this doesn't seem like something that can be well-answered at present.</p>
			</div>
			</div>
				<textarea id = "speech-342" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-342">
					<img id="start_img-342" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-342">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-351"  class = "post">
				<h2>Answer</h2>
			<div id="vote-351" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To a roboticist it might look like a stupid question, however, I think your question is valid, and even important!</p>

<p>Setting expectations is very important when introducing robots to the general public, this will help bridging between Hollywood-robots and real-life robots.</p>

<p>I think the most important difference is understanding the context. Robots (or computer) are very good with computing an answer to a mathematical question, however they are clueless about the context of the question.</p>

<p>for example - ask a humanoid robot to reach his right hand to touch his left ear. In most of the cases I saw - the robot tried to get to the left ear through the head... the context has to be hard coded into everything...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-351" data-toggle = "popover">
				<p>user name : Joe Mann</p>
				<p> user reputation : 49</p>
				<p class = "tagcontent" id = "usertaginfo-351">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-351" class = 'collapse'>
			</div>
				<textarea id = "speech-351" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-351">
					<img id="start_img-351" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-351">Comment</button>
			<br><div id = "ans-365"  class = "post">
				<h2>Answer</h2>
			<div id="vote-365" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is not a clear question, is more of a fishing / discussion question. As much as I'd love to sit down and discuss this for a few hours, this is unfortunately not the type of things we can concisely and objectively answer. Expectations are better diffused by specific questions. Example: "Bipedal robots: Can they walk over a pile of skulls like in Terminator 2?" </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-365" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-365">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-365" class = 'collapse'>
			</div>
				<textarea id = "speech-365" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-365">
					<img id="start_img-365" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-365">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>