<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What should I do if I see an vague question?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2093" class = "post">
			<h2>Question</h2>
			<div id="vote-2093" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 162</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What should I do if I see an vague question?</h2>
<p>Sometimes questions on the main site are vague and/or missing essential details required for answering them correctly. There has been some discussions about this already before, e.g.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/1669/a-moderator-closed-my-question-and-asked-me-to-edit-rework-it-so-what-should-i/1707#1707">A moderator closed my question and asked me to edit/rework it, so what should I do?</a></li>
<li><a href="https://apple.meta.stackexchange.com/questions/916/if-the-original-poster-op-question-is-unclear-is-it-ok-to-ask-op-question-to">If the original poster (OP) question is unclear, is it OK to ask OP question to clarify in order to provide a better answer?</a></li>
</ul>

<p>and commenting/flagging/putting on hold are kind of standard practice in this cases, especially to prevent people from putting a lot of effort into guessing the OPs intention.</p>

<p>I'm curious on why we think this is the best way to handle these situations and whether anybody sees other ways to handle situations like that- Please add your opinion as answers below.</p>

			</div>
			<div id = "userinfo-2093" style = "float:right">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p> user tag wise history : {'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2093" class = 'collapse'>
			</div>
				<textarea id = "speech-2093" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2093">
					<img id="start_img-2093" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2093">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2094"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2094" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>However sometimes the question and the problem describe show that the OP does not know how to ask the right question based on the problem. </p>

<p>I would say that in those case it is OK to answer the question based on the problem described rather then on the question asked.</p>

<p>Or alternatively use Edit to improve the question asked. I tend to avoid doing that since some OP are sensitive to changing they question to that degree (that is not what I have asked ect..). To avoid that kind of conflicts I just give the answer based on the actual problem described even if it does not fit the question asked.</p>

<p>Mostly those problems are in the Title of the Question.</p>
</p><br>
			</div>
			<div id = "userinfo-2094" style = "float:right">
				<p>user name : Buscar </p>
				<p> user reputation : 26972</p>
				<p> user tag wise history : {'search': 1, 'voting': -5, 'suggested-edits': 0, 'spam': -6, 'support': 5, 'moderation': -4, 'None': 1, 'comments': -6, 'closed-questions': -3, 'moderators': -7, 'reputation': -2, 'answers': -1, 'inbox': 1, 'bounty': -2, 'user-accounts': 0, 'flagging': -7, 'discussion': -15, 'review-page': 0, 'accepted-answer': -1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2094">Load Comments</button></br>
			<div id = "commentsection-2094" class = 'collapse'>
			<div id = "comment-4026" class = "comment">
				<p>I think you need to make the problem and question match first - it could be that the question is correct and the problem is not fully stated as the OP forgot something - - so if they don't match asks in a comment why pointing out the inconsistency</p>
			</div>
			<div id = "comment-4027" class = "comment">
				<p>@Mark when I cam across an example I will post it here</p>
			</div>
			<div id = "comment-4028" class = "comment">
				<p>http://apple.stackexchange.com/questions/130641/how-to-find-my-password-for-icloud</p>
			</div>
			<div id = "comment-4029" class = "comment">
				<p>There the question and details match - the OP does not know what their AppleId password is - they don't understand their login is not the Id. The answer i correct but as noted I would like to get more info before</p>
			</div>
			</div>
				<textarea id = "speech-2094" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2094">
					<img id="start_img-2094" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2094">Comment</button>
			<br><div id = "ans-2095"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2095" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is what I do based on what I've seen other more experienced users do, including yourself :)</p>

<ol>
<li><p>If a question is vague based on how it's written, I'll usually edit it, with a comment such as:</p>

<blockquote>
  <p>I've edited your question in an attempt to clarify a few details regarding [type here]   please edit further to extenuate any details and further clarify the problem.</p>
</blockquote></li>
<li><p>If a question is vague because it's missing essential details, I'll usually write a comment myself from scratch explaining what's missing then vote to close as unclear.</p></li>
<li><p>However, there are some questions that need a general assistance in being written. If I think a link to the How to Ask page would be useful, I'll comment the following, then VTC:</p>

<blockquote>
  <p>Please clarify your specific problem or add additional details to highlight exactly what you need. As it's currently written, it s hard to tell exactly what you're asking. See the [ask] page for help clarifying this question.</p>
</blockquote>

<p>This is usually prepended automatically with 'Welcome to Ask Different!' as the user is usually new in this case. ARC is a wonderful thing :) If anyone's interested, here's my <a href="http://georgegarside.com/o/se/arc.html" rel="nofollow">comments that I use for reviewing posts on Stack Exchange</a>.</p></li>
<li><p>This isn't really a case like the others above and doesn't happen often, but something that can make a question unclear: a title and body that doesn't match. If the body is longer than the title, I usually edit the title to match the body, adding the following comment when I do so:</p>

<blockquote>
  <p>Your title and body seemed contradictory, showing two different problems. I've edited the title to fit the body, but feel free to re-edit and clarify the situation.</p>
</blockquote>

<p>I am more reluctant to change a body to match a title.</p></li>
</ol>

<p>In summation, I believe the above works generally well and although some data would be helpful here, it seems that </p>

<ul>
<li>in the first case the question usually gets a suitable answer, either from myself or from someone else,</li>
<li>in the second case the OP either edits before the question gets closed and so avoids closure or edits after closure and is reopened either by someone seeing the question or from the Reopen queue,</li>
<li>in the third case the user either edits their question or never comes back and the question gets auto deleted, and</li>
<li>in the fourth case, nothing else really happens and people carry on as if the title had been written originally.</li>
</ul>

<p>In rare cases, I'll sometimes do one of the above and also answer myself based on educated guesses. This is either approved by the OP and I edit the original question based on the information that I've presumed, or is declined by the OP and lets them see exactly how their question <em>could</em> be perceived, which is generally different to how they believe they've portrayed their problem and is the reason for the lack of clarity.</p>
</p><br>
			</div>
			<div id = "userinfo-2095" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2095">Load Comments</button></br>
			<div id = "commentsection-2095" class = 'collapse'>
			<div id = "comment-4167" class = "comment">
				<p>What is ARC - that wonderful thing?</p>
			</div>
			<div id = "comment-4168" class = "comment">
				<p>@Mark [AutoReviewComments](http://stackapps.com/questions/2116/autoreviewcomments-pro-forma-comments-for-se)</p>
			</div>
			</div>
				<textarea id = "speech-2095" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2095">
					<img id="start_img-2095" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2095">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>