<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is meant by a speed profile?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2637" class = "post">
			<h2>Question</h2>
			<div id="vote-2637" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 462</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is meant by a speed profile?</h2>
<p>When researching robots, micro mouses etc I've often come across people taking about generating "speed profiles" and how to calculate them. Also profiles for acceleration , deceleration , turning etc. Also trapezoidal profile?</p>

<p>But I can't seem to find exactly what is meant by this. The how or why also.</p>

<p>So what is a "profile" in this sense and why you would need one?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2637" data-toggle = "popover">
				<p>user name : binarysmacker</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-2637">{'control': 3, 'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2637" class = 'collapse'>
			</div>
				<textarea id = "speech-2637" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2637">
					<img id="start_img-2637" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2637">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2638"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2638" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Think of a motion profile as a graph of speed vs. time.</p>

<p>If you drive your car down the road:</p>

<ul>
<li>Your initial speed is zero.</li>
<li>You start pressing the accelerator pedal.</li>
<li>The car starts moving slowly.</li>
<li>You keep pressing down on the accelerator.</li>
<li>The car accelerates faster.</li>
<li>As you approach your targer speed you let go of the accelerator.</li>
<li>The car settles on your target speed.</li>
<li>You approach a stop sign and start pressing on the brake pedal.</li>
<li>Your speed goes down and as you approach the stop sign you start letting go of the brake pedal.</li>
<li>You come to a smooth stop.</li>
</ul>

<p>I just described roughly what people would refer to as an S-curve motion profile or a limited jerk profile.  To experience jerk in your car try this next time you stop, press the brake pedal but do not let it go at all until the car comes to an absolute stop.  This also illustrates the importance of controlling the motion profile for smooth motion.  When graphed this looks something like this:</p>

<p><img src="https://i.stack.imgur.com/WxM7C.png" alt="Wikipedia third order motion profile"></p>

<p>You can see the S in there.  A trapezoidal profile has straight lines and three sections and as per our car experiment above will force you to reduce your acceleration to avoid "jerking" at the "corners" (discontinuities).</p>

<p>You should also think about this in terms of the equivalent position vs. time graph.  A motion profile executed in a robot, e.g. is typically moving from one position to the other.</p>

<p>Motion profiles are critical for achieving smooth and reliable high performance motion.  With more than one motion axis they are also important for synchronizing the motion.  Without them your motion might look like your car firing off a rocket to get started and locking the wheels to stop at the end of the street, not very pretty.</p>

<p>Additional reading:</p>

<p><a href="http://www.pmdcorp.com/news/articles/html/Mathematics_of_Motion_Control_Profiles.cfm" rel="nofollow noreferrer">http://www.pmdcorp.com/news/articles/html/Mathematics_of_Motion_Control_Profiles.cfm</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2638" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-2638">{'None': 75}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2638">Load Comments</button></br>
			<div id = "commentsection-2638" class = 'collapse'>
			<div id = "comment-4995" class = "comment">
				<p>Thanks guy! That's some good information. Another question however is about physically implementing it and what it means. So after making a profile you have the ideal movement for maximum speed and smoothness?...but then what do you do with this?. Would you have a timer on your microcontroller monitoring the time and adjusting the speed to match your profile? People talk about this profiles as a table also. Is this just tovavoid computing the profile in real time?</p>
			</div>
			<div id = "comment-4997" class = "comment">
				<p>@binarysmacker: You typically already have a closed-loop (PI) controller for position and velocity at this point.  A timer can then be used to set the profile as the input for the controller.  Also yes, a table can be used to avoid making these calculations on the fly.</p>
			</div>
			<div id = "comment-4998" class = "comment">
				<p>But also, I cant see the difference in calculating and implementing a profile and with how I am doing it. How im moving my robot, say I have to move it 500 encoder ticks. I just say from 0 to 100 ticks, speed = speed + 1 then its constant, then at 400 ticks speed = speed - 1. Unless by doing this im creating an implicit profile? But then if I am, what benefit would there be if I was to calculate a curve?</p>
			</div>
			<div id = "comment-4999" class = "comment">
				<p>@binarysmacker Yes.  You are creating a trapezoidal profile.  You will get a smoother motion if you calculate an S-curve: `speed = speed + accel` `accel = accel + x`.  Also how do you change your acceleration and speed in your current code?  What happens when you make a move shorter than 200 ticks?</p>
			</div>
			<div id = "comment-5006" class = "comment">
				<p>Well, I just gave that as a quick example but if it's shorter than 200 ticks it turns the profile into a triangle shape as it never gets to a constant speed. So it goes straight into deccelaration from acceleration. So, what are you trying to achieve when you calculate a profile rather than just doing what I do or implementing the code you suggested. Why would people be using tables when the code you showed is light weight anyway.</p>
			</div>
			</div>
				<textarea id = "speech-2638" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2638">
					<img id="start_img-2638" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2638">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>