<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the maximum payload weight for create 2~can I use old create accessories with the Create 2?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5132" class = "post">
			<h2>Question</h2>
			<div id="vote-5132" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 629</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the maximum payload weight for create 2~can I use old create accessories with the Create 2?</h2>
<p>I'm attempting to build a heavy platform on the Create 2 but am worried about weight on the platform.  What is the maximum weight for the platform and is there an optimum?</p>

<p>I have an old create and want to know if any of my existing cables and accessories can be used with the new Create 2? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5132" data-toggle = "popover">
				<p>user name : Master Chief</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-5132">{'mobile-robot': 2, 'None': 0, 'irobot-create': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5132" class = 'collapse'>
			</div>
				<textarea id = "speech-5132" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5132">
					<img id="start_img-5132" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5132">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5136"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5136" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Assuming that you keep the payload in the bin or near the top of the robot, 9 kg is a safe amount of max payload weight on a flat floor. Create doesn't dynamically balance, so having the weight in both a statically and a dynamically stable location is important. We've also provided files for printing a bin with a caster, in the case that you find your robot is constantly doing wheelies. :)</p>

<p>Almost all existing cables and accessories should be supported in both directions, as long as they use the 7-pin serial connector. One of our goals was to allow current parts and accessories to stay useful! Unfortunately, there is no 25-pin payload connector, so any accessories which used that will not work. Finally, the original Create's dock is not compatible. The good news is that the Create 2 will avoid its predecessor's dock, and we ship every Create 2 with a new-style dock.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5136" data-toggle = "popover">
				<p>user name : Steve</p>
				<p> user reputation : 716</p>
				<p class = "tagcontent" id = "usertaginfo-5136">{'None': 50}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5136">Load Comments</button></br>
			<div id = "commentsection-5136" class = 'collapse'>
			<div id = "comment-7901" class = "comment">
				<p>As a side note, please stick with the metric system. The imperial system is not understood almost anywhere in the world and it is not recognized by scientists either.</p>
			</div>
			<div id = "comment-7902" class = "comment">
				<p>I'm not a scientist; I'm an engineer! ;) Point well taken; I'll edit my answer.</p>
			</div>
			<div id = "comment-19256" class = "comment">
				<p>Only an American Engineer would say that @Steve *8') Even in the UK where we use miles on our road signs, and buy milk by the pint, Engineers still use SI units for projects.</p>
			</div>
			<div id = "comment-19257" class = "comment">
				<p>Incidentally, thanks for your help answering Roomba and Create questions. I spotted that Create support pages were directing people here, I hadn't spotted that you were also supporting the community we are building here.</p>
			</div>
			<div id = "comment-19276" class = "comment">
				<p>We normally use SI units here, too; it just happens that the weights that are commonly available in the U.S. are Imperial, and before I answered the question I wanted to verify theoretical information with some solid test data. (Let's blame my original post in pounds on possibly having a pint or two before answering, shall we? :) As far as helping to answer Roomba and Create questions here, I can tell you that we are very passionate about encouraging communities like this one, because they are exactly the communities we want to be a part of as robotics engineers!</p>
			</div>
			</div>
				<textarea id = "speech-5136" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5136">
					<img id="start_img-5136" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5136">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>