<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What's the difference between the term "pose estimation" and "visual odometry"?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9916" class = "post">
			<h2>Question</h2>
			<div id="vote-9916" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1242</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What's the difference between the term "pose estimation" and "visual odometry"?</h2>
<p>I'm reading a paper:</p>

<blockquote>
  <p>Choi C, Trevor A J B, Christensen H I. RGB-D edge detection and
  edge-based registration[C]//Intelligent Robots and Systems (IROS),
  2013 IEEE/RSJ International Conference on. IEEE, 2013: 1568-1575.</p>
</blockquote>

<p>which refers: </p>

<blockquote>
  <p>Visual features such as corners, keypoints, edges, and color are
  widely used in computer vision and robotic perception for applications
  such as object recognition and <strong>pose estimation</strong>, <strong>visual odometry</strong>, and SLAM</p>
</blockquote>

<p>I previously assume <strong>pose estimation</strong> to be roughly equal to <strong>visual odometry</strong>, yet the text above seems to deny.</p>

<p>So what's their difference? I didn't find much info from google. IMHO, it seems pose estimation is estimating the pose of moving object with the camera static, while visual odometry is estimating the pose of camera in a static(mostly) scene, is that precise enough?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9916" data-toggle = "popover">
				<p>user name : zhangxaochen</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-9916">{'odometry': 5, 'None': 0, 'errors': 0, 'localization': 1, 'pose': 5, 'kinect': 1, 'slam': 9, '3d-reconstruction': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9916" class = 'collapse'>
			</div>
				<textarea id = "speech-9916" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9916">
					<img id="start_img-9916" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9916">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9917"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9917" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Visual odometry is the task to estimate the motion of the camera relative to the last frame(s). You don't care about loop closures or mapping. If you sum up the relative transformations between frames, you get a guess on the transformation relative to the first frame (your current camera pose). Visual odometry is in this case a way to initialize your pose estimation. This however is a noisy process so you can add more advances techniques (e.g. loop closures) to improve this estimation. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9917" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-9917">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9917">Load Comments</button></br>
			<div id = "commentsection-9917" class = 'collapse'>
			<div id = "comment-17618" class = "comment">
				<p>loop closures can be used when loops happen, what if to talk more generally?</p>
			</div>
			</div>
				<textarea id = "speech-9917" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9917">
					<img id="start_img-9917" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9917">Comment</button>
			<br><div id = "ans-9930"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9930" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Pose estimation means determining position and orientation.</p>

<p>Odometry is using a (any) sensor to determine how much distance has been traversed, so <em>visual</em> odometry is just clarification that the particular sensor to be used for odometry is visual (a camera, typically). Traversed distance, though, means that odometry is <em>relative</em> - your car odometer may indicate that you traveled 10 miles, but that doesn't really mean anything unless you know your starting position. </p>

<p>Similarly, a wheel encoder on the left and right wheels could give you distance <em>and</em> rotation <strong>as the vehicle moves</strong>, but again that doesn't mean anything unless you know the starting position and orientation.</p>

<p>As given above, a pose is a position and orientation. It is an absolute value between one frame and another. An accelerometer and a magnetometer can give you an absolute orientation (relative to Earth's gravity and magnetic North), but they can't give you an absolute position. You would need to add a GPS for that. </p>

<p>You can <em>integrate</em> the accelerometer to estimate the <em>elapsed</em> position, but that is meaningless without a starting position and is also prone to accumulating errors. Similarly, visual odometry doesn't mean anything without a known starting position and is also prone to accumulating errors.</p>

<p>So, in conclusion, a pose is an <em>absolute</em> measurement between one frame and another, of position and orientation. </p>

<p>Odometry is generally used to refer to an <em>elapsed</em> or <em>relative</em> position and orientation and, because it is not absolute, is prone to drift over time. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9930" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9930">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9930">Load Comments</button></br>
			<div id = "commentsection-9930" class = 'collapse'>
			<div id = "comment-17684" class = "comment">
				<p>" to determine how much distance has been travelled" Do you have any example for a visual odometry algorithm that only outputs the distance? I've never seen one and I really doubt there is a reasonable algorithm that does not estimate the rotation also.</p>
			</div>
			<div id = "comment-17692" class = "comment">
				<p>In my wikipedia, the article begins with " is the process of determining the position and orientation of a robot by analyzing the associated camera images". Could you maybe clarify what you consider the difference? I read your post in a way that visual odometry only gives the distance (or translation) in contrast to pose estimation which also includes the orientation.</p>
			</div>
			<div id = "comment-17728" class = "comment">
				<p>@Chuck, is *absolute* & *relative* your point? I've seen in papers that "pose estimation" is also relative --to a reference frame manually specified by the author conventionally (e.g., camera coo space of the first video frame)</p>
			</div>
			<div id = "comment-17729" class = "comment">
				<p>@zhangxaochen - Yes, I suppose so. A pose estimate is position and orientation *relative to some other frame*. The only way to do this is to use an absolute measurement sensor between the two frames, or to establish a pose at the start, *make some assumptions*, and then try to track how that pose shifts over time. Those assumptions might be that the scene is fixed (what if you're at the North Pole - 360 deg of snow, and I walk past the camera - does it think *I* moved or *it* moved?) that wheels don't slip, that tire sizes are exact, etc. Odometry is measurement based on *elapsed position*.</p>
			</div>
			</div>
				<textarea id = "speech-9930" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9930">
					<img id="start_img-9930" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9930">Comment</button>
			<br><div id = "ans-9948"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9948" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is also often the case that the author lacks knowledge, makes mistakes, or is adding unnecessary statements to their work. Just because it is published does not make it true. </p>

<p>In this case though, it might be that the <a href="https://en.wikipedia.org/wiki/Serial_comma#Resolving_ambiguity" rel="nofollow">conjuction "and" and commas</a> are confusing you.</p>

<blockquote>
  <p>such as object recognition and pose estimation, visual odometry, and SLAM</p>
</blockquote>

<p>could probably be written more clearly as</p>

<blockquote>
  <p>such as object recognition, object pose estimation, visual odometry, and SLAM.</p>
</blockquote>

<p>so I would interpret them as different.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9948" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9948">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9948">Load Comments</button></br>
			<div id = "commentsection-9948" class = 'collapse'>
			<div id = "comment-17816" class = "comment">
				<p>'object pose' makes more sense to me, which differs *pose estimation* and *VO* by saying one be object moving and the other being camera moving. I like this answer.</p>
			</div>
			</div>
				<textarea id = "speech-9948" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9948">
					<img id="start_img-9948" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9948">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>