<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between speed encoders and esc
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14041" class = "post">
			<h2>Question</h2>
			<div id="vote-14041" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 21</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between speed encoders and esc</h2>
<p>I understand that motors come with recommended speed controllers, be it encoders or esc. But what is the difference between the two?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14041" data-toggle = "popover">
				<p>user name : Ryan Lee</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-14041">{'None': 0, 'esc': 1, 'quadrature-encoder': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14041" class = 'collapse'>
			</div>
				<textarea id = "speech-14041" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14041">
					<img id="start_img-14041" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14041">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14048"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14048" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you are talking about an encoder that would be used on a motor, an encoder is the device that encodes the position of the motor into a particular format, so used to determine the exact physical position of the motor at any one time, where as an ESC or Electronic Speed Controller is used to actually drive the motor to a different speed.</p>

<p>Generally speaking, the ESC would be used to make the motor turn and the encoder would be used to tell you what position the motor is in. Some ESC's have a sort of inbuilt encoder that detects what phase angle the motor is in so it can control the motor effectively, this is usually used on brushless DC motors.</p>

<p>Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14048" data-toggle = "popover">
				<p>user name : Murray Porter</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-14048">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14048" class = 'collapse'>
			</div>
				<textarea id = "speech-14048" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14048">
					<img id="start_img-14048" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14048">Comment</button>
			<br><div id = "ans-14049"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14049" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>ESC can use back EMF or encoder to know the speed of motor, they can balance current to keep torque or speed constant.
I you are going to use a BLDC motor I suggest using VESC, is a very good esc, opensource and lots of people use it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14049" data-toggle = "popover">
				<p>user name : Renan Monteiro</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-14049">{'control': 1, 'mobile-robot': 1, 'None': 1, 'ros': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14049" class = 'collapse'>
			</div>
				<textarea id = "speech-14049" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14049">
					<img id="start_img-14049" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14049">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>