<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What kinematic equations should I use for Kalman filter state propagation in IMU based quadcopter navigation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10983" class = "post">
			<h2>Question</h2>
			<div id="vote-10983" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 188</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What kinematic equations should I use for Kalman filter state propagation in IMU based quadcopter navigation?</h2>
<p>I am working on implementing a Kalman filter for position and velocity estimation of a quadcopter using IMU and vision. First I am trying to use the IMU to get position and velocity.
In a tutorial [1] the process model for velocity estimation using IMU sensor data is based on Newton's equation of motion</p>

<p>$$
v = u + at \\
\\ 
\begin{bmatrix} 
\dot{x} \\ 
\dot{y} \\ 
\dot{z} 
\end{bmatrix}_{k+1} = \begin{bmatrix} 
\dot{x} \\ 
\dot{y} \\ 
\dot{z} 
\end{bmatrix}_{k} + \begin{bmatrix} 
\ddot{x} \\ 
\ddot{y} \\ 
\ddot{z} 
\end{bmatrix}_k \Delta T
$$</p>

<p>while in the paper [2] the process model uses angular rates along with acceleration to propagate the linear velocity based on the below set of equations.</p>

<p><a href="https://i.stack.imgur.com/WDhbF.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/WDhbF.png" alt="enter image description here"></a></p>

<p>$$
\begin{bmatrix} 
u \\ 
v \\ 
w \\
\end{bmatrix}_{k+1} = \begin{bmatrix} 
u \\ 
v \\ 
w \\
\end{bmatrix}_{k} + \begin{bmatrix} 
0&amp; r&amp; -q \\ 
-r&amp; 0&amp; p \\ 
-p&amp; q&amp; 0 
\end{bmatrix} \begin{bmatrix} 
u \\ 
v \\ 
w \\
\end{bmatrix}_{k} \Delta T+ \begin{bmatrix} 
a_x \\ 
a_y \\ 
a_z \\
\end{bmatrix}_{k} \Delta T + \begin{bmatrix} 
g_x \\ 
g_y \\ 
g_z \\
\end{bmatrix}_{k} \Delta T
$$</p>

<p><em>where u, v, w are the linear velocities | p, q, r are the gyro rates while a_x,a_y,a_z are the acceleration |  g_x,g_y,g_z are the gravity vector</em></p>

<p>Why do we have two different ways of calculating linear velocities? Which one of these methods should I use when modeling a quadcopter UAV motion?</p>

<p>[1] <a href="http://campar.in.tum.de/Chair/KalmanFilter" rel="nofollow noreferrer">http://campar.in.tum.de/Chair/KalmanFilter</a></p>

<p>[2] Shiau, et al. Unscented Kalman Filtering for Attitude Determination Using Mems Sensors Tamkang Journal of Science and Engineering, Tamkang University, 2013, 16, 165-176</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10983" data-toggle = "popover">
				<p>user name : Vinmean</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-10983">{'quadcopter': 3, 'None': 0, 'ekf': 0, 'kinematics': 3, 'kalman-filter': 3, 'jacobian': 0, 'mobile-robot': 0, 'sensors': 0, 'ros': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10983">Load Comments</button></br>
			<div id = "commentsection-10983" class = 'collapse'>
			<div id = "comment-19808" class = "comment">
				<p>Will you be estimating the position and velocity of the vehicle in the inertial frame or will you be measuring the position and velocity of tracked features in the body frame of the vehicle?</p>
			</div>
			<div id = "comment-19809" class = "comment">
				<p>also, you can't integrate IMU measurements to get position and velocity data long term. That system is not observable. Though it is totally appropriate to be using that in the prediction step.</p>
			</div>
			<div id = "comment-19810" class = "comment">
				<p>where are you planning on getting your attitude estimate? will this be part of the state vector or will that be estimated on the imu?</p>
			</div>
			<div id = "comment-19821" class = "comment">
				<p>I already have a filtered attitude data from the IMU. My intent is to predict the position and velocity using IMU and correct them using vision. I am measuring the position and velocity in the inertial frame and currently assume that the IMU aligns with the body frame of the vehicle.</p>
			</div>
			</div>
				<textarea id = "speech-10983" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10983">
					<img id="start_img-10983" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10983">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10991"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10991" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The first form, from both the math and the webpage to which you link, is for <strong>linear motion only</strong>. </p>

<p>Tie a string to a rock. Swing the rock around in a circle above your head at a constant speed. If you cut the string, the rock flies <strong>outward</strong> because the centripetal force is no longer present to "pull" the rock onto the circular path. That is, the "forward" force is zero, because the rock is moving at a constant speed, but the "sideways" force is $mv^2/r$, the centrifugal force. </p>

<p>Put an accelerometer on a car. X-axis points forward and y-axis points out the right window. Drive the car around in a circle at a constant speed. The "forward" force is zero because the car is moving at constant speed. The "sideways" force is again $mv^2/r$, and is what causes the car to "hug" the curve. </p>

<p>If you were reading the output from an accelerometer, though, you would see that $a_x = 0$ and, from $F=ma$ and $F=mv^2/r$ for centripetal forces, you would see that $a_y = (mv^2/r)/m = v^2/r$. </p>

<p>That is, you will see an <em>apparent</em> acceleration on the <strong>y</strong>-axis that is used to "bend" the forward velocity of the vehicle around the curve. </p>

<p>The problem here is that the y-axis acceleration is <strong>constant</strong> while you are moving at constant speed around a circle of constant radius. That is, if you were to double-integrate the y-axis acceleration, then it would <em>appear</em> that the vehicle is accelerating <strong>to the right</strong> when in reality the vehicle is moving in a <strong>circle</strong>. </p>

<p>The y-axis centripetal force "bends" the x-axis about the z-axis, so the correct way to account for this is to <strong>apply the yaw rate</strong> to the y-axis acceleration.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10991" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10991">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10991" class = 'collapse'>
			</div>
				<textarea id = "speech-10991" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10991">
					<img id="start_img-10991" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10991">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>