<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between DC motor with encoder and DC with out encoder?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11108" class = "post">
			<h2>Question</h2>
			<div id="vote-11108" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3505</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between DC motor with encoder and DC with out encoder?</h2>
<p>My question is: what is the difference between DC motor with encoder and DC without encoder? As long as I can control the speed of DC motor using PWM, for example on the Arduino, what is the fundamental difference?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11108" data-toggle = "popover">
				<p>user name : ShehabAldeen</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-11108">{'battery': 0, 'None': 0, 'power': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11108">Load Comments</button></br>
			<div id = "commentsection-11108" class = 'collapse'>
			<div id = "comment-20027" class = "comment">
				<p>Fundamental difference in terms of what?  Open loop control, closed loop control, price, construction, etc...</p>
			</div>
			</div>
				<textarea id = "speech-11108" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11108">
					<img id="start_img-11108" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11108">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11109"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11109" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Fundamental difference is closed loop feedback. Without encoder you just know how much speed you sent to engine, but have no information about speed that is on it - lower battery voltage will decrease your speed. Encoder gives you ability to measure engine <s>speed</s> <strong>position</strong>, from which you can calculate speed, and regulate those parameters, for example with PID regulator. Usage example can be micromouse robots, where <a href="https://en.wikipedia.org/wiki/Odometry" rel="nofollow noreferrer">odometry</a> is crucial in moving through maze.</p>

<p><a href="https://en.wikipedia.org/wiki/Rotary_encoder" rel="nofollow noreferrer">Read this to learn more about rotary encoders.</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11109" data-toggle = "popover">
				<p>user name : Szczepan</p>
				<p> user reputation : 164</p>
				<p class = "tagcontent" id = "usertaginfo-11109">{'mobile-robot': 1, 'None': 11, 'pid': 1, 'research': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11109">Load Comments</button></br>
			<div id = "commentsection-11109" class = 'collapse'>
			<div id = "comment-19999" class = "comment">
				<p>The encoder gives you angular position and speed can be calculated from this.</p>
			</div>
			<div id = "comment-20000" class = "comment">
				<p>@50k4 Not every encoder gives angular position. [AS5040](http://ams.com/eng/Products/Magnetic-Position-Sensors/Angle-Position-On-Axis/AS5040) can measure angular position and speed, while [this kind of encoder](https://www.pololu.com/product/2590) gives only quadrature output (A and B channel) and measuring impulse count in certain time gives angular velocity.</p>
			</div>
			<div id = "comment-20001" class = "comment">
				<p>The link you have provided clearly states (in  the title) that is it a rotary position sensor. Every other output (e.g. speed) is computed not measured.</p>
			</div>
			<div id = "comment-20003" class = "comment">
				<p>Okay, I'll update my answer as soon as I get home. As You said, AS5040 is rotary position sensor.</p>
			</div>
			<div id = "comment-22703" class = "comment">
				<p>Encoders are not the only way of closing the loop, for example you can sense changes in back emf (certain model railway controllers do this for DC motors, most 'sensorless' BLDC controllers do this).</p>
			</div>
			</div>
				<textarea id = "speech-11109" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11109">
					<img id="start_img-11109" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11109">Comment</button>
			<br><div id = "ans-11113"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11113" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As @szczepan mentions, the difference is one of feedback.  </p>

<p>There are many ways to get feedback regarding the motion of a dc motor.   People implementing a control system will often put a mark on the motor's shaft, or attach a "flag" of masking tape, so that they can visually see the turning of the shaft.   This helps to ensure the direction of motion is correct (otherwise the dc polarity needs to be reversed).   It also helps for observing motion at slow speeds - but is otherwise not appropriate for an automated system.  </p>

<p>If you want to automate the observations of the motor's rotation, you must implement some type of sensor that provides appropriate information to the control computer.   There are many ways to do this.   For example, you can monitor the current being consumed by the motor's windings, and use the motor constant $k_\tau$, to infer the torque generated by the motor.   This can be related to acceleration of the shaft by using an appropriate dynamic model of the system.   This method, however, is not very accurate and is prone to modelling errors and signal noise.  This method is similar to you monitoring the PWM output and inferring motion dynamics - neither is robust to changing dynamics of the system.  Another approach is to glue a magnet to the shaft, and monitor it with a Hall effect sensor.  This will provide a single pulse to the computer for each rotation of the shaft.   This is frequently a solution for high-temperature, or dirty, environments (such as in automotive applications).   However, often you need finer granularity of the motion.  That is where encoders come in.  </p>

<p>There are two basic types of encoders:  incremental and absolute.  They can be further characterized as quadrature, or non-quadrature encoders.  A non-quadrature incremental encoder provides a single pulse to the controller for every incremental motion of the motor shaft.  As the previous answer makes clear, this position feedback can be interpreted to infer velocity, acceleration, and possibly jerk (although three derivatives of a sensed value are "spikey" in most applications).   This type of encoder, however, only provides information when the position changes, and it does not provide any information about the direction of motion.   A quadrature encoder provides two pulses, out of phase, that can be used to detect direction also.  </p>

<p>An absolute encoder can provide not only the same information as the incremental encoder does, but it also has many more bits of information from which you can know the angular position of the shaft, in addition to detecting the incremental changes in position.  </p>

<p>You can make a very simple encoder by using a disc with slots cut into it.   Place a photodiode on one side of the disc, and a photodetector on the opposite side.  You will get one pulse each time a slot passes between the sensor elements.   As you can see, the accuracy of motion detection is determined by the number of slots in the disc.   Encoders are available with many different numbers of pulses per revolution. </p>

<p>I suggest reading a book such as this one if you want to know more about motion metrology:</p>

<p><a href="https://i.stack.imgur.com/vQAeu.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/vQAeum.jpg" alt="Heidenhein metrology book"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11113" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-11113">{'None': 222}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11113" class = 'collapse'>
			</div>
				<textarea id = "speech-11113" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11113">
					<img id="start_img-11113" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11113">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>