<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What microcontroller should be used for QuadCopter flight control and ESC?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-838" class = "post">
			<h2>Question</h2>
			<div id="vote-838" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4838</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What microcontroller should be used for QuadCopter flight control and ESC?</h2>
<p>I am working on building my own quadcopter from scratch. I noticed that many solutions available online use arduino, but I am not a fan of arduino. So my questions are: what microcontrollers should be used, what are the crucial features of those microcontrollers etc. I would like to build it from total scratch. I was thinking about PIC microcontrollers.</p>

<p>Also what should be used for ESC, since I would build that from scratch too.</p>

<p>Summing it all up:</p>

<ul>
<li>4 ESCs</li>
<li>Gyro,acceloremeter,gps</li>
<li><p>transceiver</p>

<p>which is about 8 slaves and one master microcontroller.</p></li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-838" data-toggle = "popover">
				<p>user name : dulex123</p>
				<p> user reputation : 4</p>
				<p class = "tagcontent" id = "usertaginfo-838">{'quadcopter': 0, 'None': 0, 'microcontroller': 0, 'esc': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-838">Load Comments</button></br>
			<div id = "commentsection-838" class = 'collapse'>
			<div id = "comment-2089" class = "comment">
				<p>Sorry, this is a shopping question. There are thousands of combinations, maybe millions?  Go to [RC Groups](http://www.rcgroups.com/aircraft-electric-multirotors-790/) and read, a lot.</p>
			</div>
			<div id = "comment-2091" class = "comment">
				<p>@Spiked3: "how do I build it from total scratch" doesn't sound like a shopping question to me.</p>
			</div>
			<div id = "comment-2093" class = "comment">
				<p>Is he going to fabricate his own FETs? No one builds from scratch, that is silly. You mix components, and to do that you do a lot of research. Not to mention that new components are released almost daily. At best this would be an electronic question.</p>
			</div>
			<div id = "comment-2097" class = "comment">
				<p>Closed - but will happily reopen if edited to be more in keeping with the site FAQs</p>
			</div>
			<div id = "comment-2104" class = "comment">
				<p>If you could explain what [practical problems](http://robotics.stackexchange.com/faq#dontask) you are having, I'm sure people would be happy to either point you at the resources you need to solve them in the standard way (with an arduino) or suggest other approaches that you may be able to investigate. It is often better to understand the problem rather than turn straight to [shopping around](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping) for alternatives.</p>
			</div>
			</div>
				<textarea id = "speech-838" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-838">
					<img id="start_img-838" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-838">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-841"  class = "post">
				<h2>Answer</h2>
			<div id="vote-841" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You're asking about microcontrollers, but I get the sense that you're asking it for the wrong reasons.  Since you don't list a technical reason for being "not a fan of arduino", I get the sense that you're trying to make a quadcopter that is different in every way from existing solution.  This decision sounds at best arbitrary and at worst misguided.  Why doesn't arduino fit your needs?  What are your needs?</p>

<p>If many quadcopter designs are using arduino, that's a good indication that arduino is a useful element of getting quadcopters to work.  There may be a better microcontroller to use, but how will you know what to look for until you experience firsthand a shortcoming in the arduino platform?</p>

<p>If your desire is to make a quadcopter from scratch, the best way to approach it is <strong>not</strong> to conceive the design from first principles.  Take an existing design, study it, and improve it once you understand how it works.  It will take a lot of prototypes, trial, and especially error.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-841" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-841">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-841" class = 'collapse'>
			</div>
				<textarea id = "speech-841" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-841">
					<img id="start_img-841" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-841">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>