<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What does "6 degrees of freedom" mean?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9034" class = "post">
			<h2>Question</h2>
			<div id="vote-9034" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1126</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What does "6 degrees of freedom" mean?</h2>
<p>I am looking at <a href="https://www.sparkfun.com/pages/accel_gyro_guide">this page</a> that describes various characteristics of gyroscopes and accelerometers. Close to the end (where they speak about IMUs), the names of the items have something like this:</p>

<ul>
<li>9 degrees of freedom</li>
<li>6 degrees of freedom</li>
</ul>

<p>Can anyone explain what does this mean?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9034" data-toggle = "popover">
				<p>user name : Salvador Dali</p>
				<p> user reputation : 138</p>
				<p class = "tagcontent" id = "usertaginfo-9034">{'quadcopter': 1, 'None': 0, 'programming-languages': 1, 'gyroscope': 6, 'accelerometer': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9034" class = 'collapse'>
			</div>
				<textarea id = "speech-9034" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9034">
					<img id="start_img-9034" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9034">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9035"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9035" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most "meters" of all varieties include up to three degrees of freedom simply to observe all three dimensions of reality we find ourselves in.</p>

<p>That said, every object in our three space has three additional dimensions of rotation.  Therefore an unconstrained object is typically said to have six degrees of freedom.</p>

<p>I had to search nine to understand.  Apparently, magnetometers are somehow considered a third set of dimensions, which to me is odd marketing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9035" data-toggle = "popover">
				<p>user name : Drew</p>
				<p> user reputation : 70</p>
				<p class = "tagcontent" id = "usertaginfo-9035">{'product-of-exponentials': 3, 'None': 5, 'manipulator': 3, 'matlab': 0, 'jacobian': 3, 'dynamics': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9035">Load Comments</button></br>
			<div id = "commentsection-9035" class = 'collapse'>
			<div id = "comment-14886" class = "comment">
				<p>I think this definition is valid from a mechanical approach but DoF in IMU, if I remember correctly, does not represent the physical DoF of freedom of the IMU but the number of independent measurement given by said IMU.</p>
			</div>
			</div>
				<textarea id = "speech-9035" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9035">
					<img id="start_img-9035" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9035">Comment</button>
			<br><div id = "ans-9036"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9036" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>n degrees of freedom of an object means it requires n unique parameters to completely define itself. For eg., a 3-DOF arm requires 3 joint parameters with which each and every position on the arm can be evaluated. Similarly in an IMU with 9 degrees of freedom, it is capable of measuring 9 independent readings. Now these 9 readings correspond to 3 from the accelerometer which gives linear acceleration along the 3 principal axes, 3 from the gyroscope which gives the orientation, and 3 from the magnetometer which gives the strength of the magnetic field. If you are an amateur in using IMUs you may be wondering the use of a magnetometer for acceleration and position estimation. But the onboard processor in an IMU is equipped with sensor fusion algorithms which even take the readings of the surrounding magnetic field and correct the readings in acceleration and gyroscope. However, in a 6-DOF IMU, the 3-DOF magnetometer is absent which gives readings of lower accuracy. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9036" data-toggle = "popover">
				<p>user name : bluebird</p>
				<p> user reputation : 163</p>
				<p class = "tagcontent" id = "usertaginfo-9036">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9036" class = 'collapse'>
			</div>
				<textarea id = "speech-9036" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9036">
					<img id="start_img-9036" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9036">Comment</button>
			<br><div id = "ans-9037"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9037" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In IMUs, the number of degree of freedom is the number of independent readings they can do. </p>

<p>For 9 DOF IMU it is typically 3 for the accelerometer, then 3 for the gyroscope and 3 others for the magnetometer.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9037" data-toggle = "popover">
				<p>user name : Malcolm</p>
				<p> user reputation : 393</p>
				<p class = "tagcontent" id = "usertaginfo-9037">{'communication': 1, 'None': 24, 'serial': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9037" class = 'collapse'>
			</div>
				<textarea id = "speech-9037" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9037">
					<img id="start_img-9037" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9037">Comment</button>
			<br><div id = "ans-9046"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9046" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To understand what these gyroscopes and accelerometers are measuring, you first need to know the physics and geometry behind "Degrees of Freedom". In terms of physics, each degree of freedom (DoF) in a motion that can exist in 3-dimmensional space. For example, 1DoF is moving along a straight line, or "axis"</p>

<p>Each time you increase the DoF, you exponentially increase the number of possible positions. A 2DoF system is usually (but not always) two axes that are perpendicular to one another and in the same plane. Picture a typical X-Y plane. A 3DoF system is similar, but it adds the 'z' axis as well, allowing for movement inside of a field, instead of just on a plane.</p>

<p>Once you get beyond 3DoF systems, to four through six, you usually start talking about rotation around each of the previous three axes. Picture a free-spinning wheel, that can move up and down the axle (guess the engineer forgot the collars and bearings). So if you have a 3DoF system where an object can also rotate about each axis, you really have six degrees of freedom. This can be visually demonstrated by the "Right Hand Rule"</p>

<p>Take you right hand in front of you and make a fist. Now give a thumbs-up. Keeping the thumb up, point your index finger out. Finally, keeping your thumb up and index finger out, point you middle finger parallel to your chest, perpendicular to both your index finger and thumb. Imagine that each of these fingers is an axis, with your thumb being "Y", middle finger being "X", and index finger being "Z". Move your hand up, and you're moving along the Y-axis. Move away from you, and it is the Z-axis. To the left and right is the X-axis. This is a full 3DoF system. But you can rotate your hand as well, and 'around' each finger too. This gives you three more degrees of freedom, so it is a full 6DoF system.</p>

<p>Usually, when you start talking about a system that is greater than 6DoF, you are almost always talking about multi-jointed system. I'll use a robotic arm as an example. In robotics, each time you add one joint to an arm, you increase the degrees of freedom of the system by one. As you get higher and higher degrees of freedom, the math gets exponentially more complicated and the system gets harder to control as a result. This is part of the reason why we don't have bionic limbs just yet.</p>

<p>But in this case, when these chips talk about "9DoF", they really mean they can measure acceleration, instead of just change in position. They do this by monitoring inertia and doing some calculus to figure out how quickly and how far it just moved. Because the movements they are measuring are pretty small, they are probably only measuring linear motion along its X-Y-Z axes (instead of rotation around any axis).</p>

<p><strong>SHORT VERSION</strong></p>

<p>The 6DoF chips measure motion along 3 perpendicular linear axes, as well as rotation around of each of these axes. The 9DoF chips do all this, plus measure linear acceleration along each of these axes.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9046" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9046">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9046" class = 'collapse'>
			</div>
				<textarea id = "speech-9046" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9046">
					<img id="start_img-9046" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9046">Comment</button>
			<br><div id = "ans-9087"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9087" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The page is using some imprecise language, bordering on confusing.  This quote especially:</p>

<blockquote>
  <p>To measure those and other variables many people combine the two sensors, to create an inertial measurement unit (IMU) which provides two to six degrees of freedom (DOF). </p>
</blockquote>

<p>They are saying "two to six degrees of freedom" when they mean "two to six measurements of independent variables".  Alternatively, they might have meant to say "which provides measurements of a system with two to six degrees of freedom".</p>

<p>That is to say, <a href="https://en.wikipedia.org/wiki/Degrees_of_freedom_(mechanics)" rel="nofollow">"Degrees of freedom"</a> can't really be "provided" by a measurement device.  You would select a measurement device that can capture the data from every degree of freedom that your system has.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9087" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-9087">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9087" class = 'collapse'>
			</div>
				<textarea id = "speech-9087" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9087">
					<img id="start_img-9087" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9087">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>