<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the purpose of electronic braking in motors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2218" class = "post">
			<h2>Question</h2>
			<div id="vote-2218" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 208</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the purpose of electronic braking in motors?</h2>
<p>I have a <a href="http://letsmakerobots.com/files/userpics/u1533/Descriptive_photo_600_0.jpg" rel="nofollow">Micro Magician v2 micro controller</a>. It has a A3906 Dual FET  H  bridge motor driver built in.</p>

<p>In the manual it states "Electronic braking is possible by driving both inputs high." </p>

<p>My first question is, what is the purpose of these brakes? If I set the left/right motor speed to 0, the robot stops immediately anyway. What advantage is there to using these brakes, or am I taking the word "brake" too literally?</p>

<p>My second question is, the driver has "motor stall flags that are normally held high by pullup resistors and will go low when a motor draws more than the 910mA current limit. Connect these to spare digital inputs so your program will know if your robot gets stuck." But when my robot hits a wall, the wheels just keep on spinning (slipping if you will), I take it these stall flags can be used on a rough surface where the wheels have more friction?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2218" data-toggle = "popover">
				<p>user name : Titan</p>
				<p> user reputation : 180</p>
				<p class = "tagcontent" id = "usertaginfo-2218">{'h-bridge': 2, 'raspberry-pi': 9, 'accelerometer': 7, 'rcservo': 11, 'None': 0, 'motor': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2218">Load Comments</button></br>
			<div id = "commentsection-2218" class = 'collapse'>
			<div id = "comment-4348" class = "comment">
				<p>Just to note: this type of break does not static hold a load, it needs a small rotation to break, thats dynamic break. For static breaking you can use a servo loop and use the motor power to react to the load, or a mechanical break, that is used in cable elevators. There's other types too of course.</p>
			</div>
			</div>
				<textarea id = "speech-2218" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2218">
					<img id="start_img-2218" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2218">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2219"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2219" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Question 1: If you are satisfied with your robots stopping distance, than you don't need electronic braking. With a heavier or faster robot, its quite useful. The larger the machine, the more inertia becomes a important design factor. For example, a form of electronic braking is used by open-pit mining dump trucks. Ordinary dump trucks, being much smaller, make do with ordinary brakes.</p>

<p>Question 2: The stall flags are useful to detect that the wheel is <em>not</em> moving despite full power being applied. I'm presuming we're still talking about a small robot here - what would happen if the wheel got tangled in something like a long hair or thread? </p>

<p>I had a two-inch long robot once that got its powered wheels jammed on a tiny piece of toothpick it encountered while crossing a carpet. Freak luck, but it does happen. If you only run your robot on clean surfaces, and it'll spin the tires when it bumps into something, than you probably don't need the flags. Personally, though, I would use them -- but I'm a belt AND suspenders kinda guy.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2219" data-toggle = "popover">
				<p>user name : Mhz4.77</p>
				<p> user reputation : 475</p>
				<p class = "tagcontent" id = "usertaginfo-2219">{'None': 30}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2219">Load Comments</button></br>
			<div id = "commentsection-2219" class = 'collapse'>
			<div id = "comment-4328" class = "comment">
				<p>Thanks that makes a lot of sense! Small robots yes, and controlled from the internet so need lots of safety measures in place :)</p>
			</div>
			</div>
				<textarea id = "speech-2219" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2219">
					<img id="start_img-2219" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2219">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>