<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What does Simultaneous Localization And Mapping (SLAM) software do?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10050" class = "post">
			<h2>Question</h2>
			<div id="vote-10050" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2539</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What does Simultaneous Localization And Mapping (SLAM) software do?</h2>
<p>I took a course to have a better understanding of drones and their design. At the end of the course there was a test question that I got wrong and I would like to understand why. </p>

<p>I was supposed to select the choices that best describe SLAM.</p>

<p>and the possible answers were:</p>

<ol>
<li>Estimates the location of features in the environment? </li>
<li>Controls the robot's flight through the environment?</li>
<li>Causes the robot to avoid obstacles in the environment?</li>
<li>Navigate in a cluttered environment?</li>
<li>Estimates the position and orientation of the robot with respect to
    the environment?</li>
</ol>

<p>At first I knew that at least 3 and 4 were right because I watched a drone doing these things. I also thought that the last answer was linked to these two so I said yes to it too. Finally, I thought that the only thing that was still controlled by the user would be the flight...</p>

<p>Yet I failed again... Therefore <strong>what does Simultaneous Localization And Mapping (SLAM) software do?</strong></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10050" data-toggle = "popover">
				<p>user name : Marine1</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-10050">{'quadcopter': 3, 'None': 0, 'multi-rotor': -2, 'uav': 3, 'slam': 1, 'imu': 0, 'motion-planning': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10050">Load Comments</button></br>
			<div id = "commentsection-10050" class = 'collapse'>
			<div id = "comment-17886" class = "comment">
				<p>What exactly are you asking?</p>
			</div>
			<div id = "comment-17887" class = "comment">
				<p>Simultaneous Localization And Mapping (SLAM) software runs SLAM algorithms. You need to elaborate a bit more.</p>
			</div>
			<div id = "comment-17888" class = "comment">
				<p>SLAM does, or at least assists, several of the items in the list. Were you supposed to select one answer only (i.e. it's a multiple choice question), or were you supposed to select the choices that best describe SLAM?</p>
			</div>
			<div id = "comment-17902" class = "comment">
				<p>@Marine1 I tried to improve the english of your question. Does it look ok to you? Does it ask the question you wanted?</p>
			</div>
			<div id = "comment-17904" class = "comment">
				<p>@hauptmech Yes, perfect, thank you!</p>
			</div>
			<div id = "comment-17914" class = "comment">
				<p>@Andy, yes, I was supposed to select the choices that best describe SLAM</p>
			</div>
			<div id = "comment-17920" class = "comment">
				<p>@andy, is the question clear enough that we can unblock and get some better answers?</p>
			</div>
			</div>
				<textarea id = "speech-10050" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10050">
					<img id="start_img-10050" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10050">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10066"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10066" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Which software?</p>

<ol>
<li>Yes, It creates map from its starting point. And robot locates itself in its generated map when generating map.</li>
<li>It is using laser data to locate robot in map, when process starts, map's first part is the first laser scan data. When the robot moves, slam reads odometry data, and locates robot via odometry and laser. Even if odometry is poor, it corrects location via laser scan match.</li>
<li>No, its not a job of slam.
Avoiding obstacles is a job of navigation, The navigation must calculate best path with avoiding obstacles. Slam is Simultaneous Localisation and Mapping, it generates map and locates robot on it.</li>
<li>I didn't understand what you meant, yes it can explore cluttered places but navigation isn't its job.</li>
<li>Referring to answer 3, Thinking about environment isn't job of slam too :) It's navigation's or driving people's job.</li>
</ol>

<p>Also if you didn't please take a look at this SLAM <a href="https://www.youtube.com/watch?v=lVC2uLG35Mk" rel="nofollow">video</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10066" data-toggle = "popover">
				<p>user name : Orhan Gazi Hafif</p>
				<p> user reputation : 29</p>
				<p class = "tagcontent" id = "usertaginfo-10066">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10066">Load Comments</button></br>
			<div id = "commentsection-10066" class = 'collapse'>
			<div id = "comment-17916" class = "comment">
				<p>Thank you for your answer, I made a mistake in question 2: it was *Controls the robot's flight through the environment?*. And refering to your first phrase, I'm talking about SLAM: https://en.wikipedia.org/wiki/Simultaneous_localization_and_mapping</p>
			</div>
			<div id = "comment-17921" class = "comment">
				<p>@orhan-gazi-hafif 'with respect to' is an idiom that means 'relative to'. In other words, 5 is localization.</p>
			</div>
			<div id = "comment-17937" class = "comment">
				<p>Hi @hauptmech, thank you for corrections. Please feel free to edit my answer, I learned English myself, from internet. I'm using Tanzanian English :P</p>
			</div>
			<div id = "comment-17938" class = "comment">
				<p>Hi @Marine1, I think Section 3 and 5 are answering the section 2.</p>
			</div>
			<div id = "comment-17966" class = "comment">
				<p>@orhan-gazi-hafif Your english is good. You should edit your answer if you want.</p>
			</div>
			</div>
				<textarea id = "speech-10066" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10066">
					<img id="start_img-10066" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10066">Comment</button>
			<br><div id = "ans-10111"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10111" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Localization is the process of estimating the pose of the robot the environment. Number 5 in your list. Mapping is estimating the position of features in the environment. Number 1. </p>

<p>2, 3, and 4 are not related to SLAM. They are all part of a complete robot system for which SLAM makes up yet another part. The software for a professional or research drone will have subsections that do flight control, obstacle avoidance, navigation (planning), SLAM, and other functions.</p>

<p>So you are correct in that you saw a drone do all those things, but SLAM is only one part of a robots software.</p>

<p>All this is a very simplistic view. In practice we never truly know the environment. We are estimating pose in the map, hoping it is the same as the environment. We build the map with feature positions but often have false readings of features, or mis-identify the same feature as being two separate ones. Few SLAM approaches consider features that move in the environment. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10111" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10111">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10111" class = 'collapse'>
			</div>
				<textarea id = "speech-10111" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10111">
					<img id="start_img-10111" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10111">Comment</button>
			<br><div id = "ans-10397"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10397" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sir 
The answer to this question is 1&amp;5,as SLAM is used to map the location based on the landmarks.So to do this it has to estimate the location of the features and also every robot must estimate its own position so the it takes the help of SLAM to estimate its position and orientation.</p>

<p>for more information I'm sharing the site from which I read about slam</p>

<p><a href="https://www.gislounge.com/robotic-mapping-simultaneous-localization-and-mapping-slam/" rel="nofollow">https://www.gislounge.com/robotic-mapping-simultaneous-localization-and-mapping-slam/</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10397" data-toggle = "popover">
				<p>user name : VEDANT</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-10397">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10397" class = 'collapse'>
			</div>
				<textarea id = "speech-10397" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10397">
					<img id="start_img-10397" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10397">Comment</button>
			<br><div id = "ans-12665"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12665" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My bet is 1 &amp; 5. The agent or robot quickly orients itself to its environmental position. 1 satisfies this question. 5 satisfies the agent requirement.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12665" data-toggle = "popover">
				<p>user name : Archana Bhui</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-12665">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12665" class = 'collapse'>
			</div>
				<textarea id = "speech-12665" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12665">
					<img id="start_img-12665" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12665">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>