<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the advantages of using the Denavit-Hartenberg representation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2758" class = "post">
			<h2>Question</h2>
			<div id="vote-2758" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1610</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the advantages of using the Denavit-Hartenberg representation?</h2>
<p>When one wants to model a kinematic chain and in particular define the frames attached to each body, it is common to use the <a href="http://en.wikipedia.org/wiki/Denavit%E2%80%93Hartenberg_parameters" rel="nofollow">Denavit-Hartenberg parameters</a>.</p>

<p>What are the advantages of this representation?</p>

<p>I can understand the interest of having a normalized representation but does it impact the algorithms performance?
The algorithm is not trivial to implement, what gain can we expect from this instead of, for instance, just fixing reference frames by hands (i.e. arbitrarily) like this is done in many robotics formats such as <a href="http://wiki.ros.org/urdf" rel="nofollow">URDF</a>.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2758" data-toggle = "popover">
				<p>user name : Thomas Moulard</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-2758">{'None': 0, 'kinematics': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2758" class = 'collapse'>
			</div>
				<textarea id = "speech-2758" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2758">
					<img id="start_img-2758" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2758">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2759"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2759" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe this to be the key factor:</p>

<blockquote>
  <p>In this convention, coordinate frames are attached to the joints between two links such that one transformation is associated with the joint, [Z], and the second is associated with the link [X]. The coordinate transformations along a serial robot consisting of n links form the kinematics equations of the robot,</p>
  
  <p>[T] = [Z1][X1][Z2][X2]...[X(n-1)][Zn]</p>
  
  <p>where [T] is the transformation locating the end-link.</p>
</blockquote>

<p>That is, to get a transformation from a serially attached links you can just multiply transformation matrices which is much easier to write and much easier to work with than calculating everything manually using basic geometry.</p>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2759" data-toggle = "popover">
				<p>user name : Damjan Dakic</p>
				<p> user reputation : 650</p>
				<p class = "tagcontent" id = "usertaginfo-2759">{'control': 6, 'None': 32, 'sensor-fusion': 5, 'localization': 5, 'rcservo': 3, 'pid': 6, 'automation': 0, 'servomotor': 3, 'differential-drive': 6, 'design': 3, 'kalman-filter': 5, 'sensors': 5, 'pwm': 3, 'navigation': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2759">Load Comments</button></br>
			<div id = "commentsection-2759" class = 'collapse'>
			<div id = "comment-5140" class = "comment">
				<p>There is another representation, called product of exponentials (POE), that also does this but is much more intuitive. The problem with D-H is that it strictly (but not always uniquely) constrains the coordinate system for each joint, which often doesn't match what we would naturally choose. POE allows the coordinate systems to be arbitrary so the engineer can pick the most natural coordinate system.</p>
			</div>
			<div id = "comment-5141" class = "comment">
				<p>Still I mean in URDF for instance you would define around which axis you rotate so you basically have (for rotational joint) three matrices depending on which axis of rotation you choose. And then you have a static transformation before/after to let you position your frame where you want... More parameters in the model (not like it impacts modern computer) and more flexibility, no? The only interest I see is for kinematic calibration (then here having fewer parameters is important)</p>
			</div>
			<div id = "comment-5148" class = "comment">
				<p>In addition, if you hand someone else your DH parameters, they are guaranteed to derive the same coordinate system you defined.</p>
			</div>
			<div id = "comment-5150" class = "comment">
				<p>That's no different than handing someone else the transformation between joint n and joint n-1 coordinate frames. It doesn't need to be D-H params.</p>
			</div>
			</div>
				<textarea id = "speech-2759" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2759">
					<img id="start_img-2759" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2759">Comment</button>
			<br><div id = "ans-4422"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Aside from getting the final result as a composition of matrix multiplication, which helps a lot indeed, one crucial aspect of DH convention is the possibility of describing a rototranslation in terms of <strong>4</strong> variables only for each link (namely, the link length, twist, offset, and the joint angle), in place of the canonical <strong>6</strong> (i.e. 3 for translation and 3 for rotation).</p>

<p>To sum up, given that in DH we can conveniently assign the location of the subsequent reference frames complying with the specified standard, we are thus able to compact the representation: e.g. for a anthropomorphic manipulator equipped with 7 degrees-of-freedom, we can deal  just with 7*4=28 independent variables/parameters instead of 7*6=42.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4422" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-4422">{'None': 99}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4422" class = 'collapse'>
			</div>
				<textarea id = "speech-4422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4422">
					<img id="start_img-4422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4422">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>