<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the bicycle model for a dynamic robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11197" class = "post">
			<h2>Question</h2>
			<div id="vote-11197" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 300</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the bicycle model for a dynamic robot?</h2>
<p>I was asked this in a phone interview for a robotics job. Googling has not really helped. I assume it is some sort of state prediction model that can be used in a Kalman filter.</p>

<p>Can anyone give me a formal description? A link to a reference would also be nice.</p>

<p><strong>EDIT</strong> to clarify, the interview was for a self-driving car company and before the question we had been discussing Kalman filters, Particle filters, and path planning algorithms (A*).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11197" data-toggle = "popover">
				<p>user name : Hadi</p>
				<p> user reputation : 128</p>
				<p class = "tagcontent" id = "usertaginfo-11197">{'mobile-robot': 5, 'None': 0, 'dynamics': 5, 'kalman-filter': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11197">Load Comments</button></br>
			<div id = "commentsection-11197" class = 'collapse'>
			<div id = "comment-20240" class = "comment">
				<p>Are you referring to [Bike Riding Robot](https://www.youtube.com/watch?v=mT3vfSQePcs)?</p>
			</div>
			<div id = "comment-20241" class = "comment">
				<p>No. The job interview was for a self-driving car company and we had been discussing path planning algorithms, Kalman filters, and Particle filters when he asked the question.</p>
			</div>
			</div>
				<textarea id = "speech-11197" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11197">
					<img id="start_img-11197" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11197">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11198"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11198" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>"The" bicycle model? No idea.  But "a" bicycle model is something that's a great jumping point for tons of interesting topics though...</p>

<ul>
<li>holonomics</li>
<li>closed-loop systems / feedback models</li>
<li>torque calculations</li>
<li>gyroscopic stabilization</li>
<li>general stability / lyapunov theory</li>
</ul>

<p>Terrible question for a phone interview!</p>

<p><a href="http://www.control.lth.se/media/Staff/KarlJohanAstrom/Lectures/BikeTalkKTH2006.pdf" rel="nofollow noreferrer">Bicycle Dynamics and Control by K. J.  str m</a></p>

<p>This PDF discusses most of those issues.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11198" data-toggle = "popover">
				<p>user name : Ryan Loggerythm</p>
				<p> user reputation : 265</p>
				<p class = "tagcontent" id = "usertaginfo-11198">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11198">Load Comments</button></br>
			<div id = "commentsection-11198" class = 'collapse'>
			<div id = "comment-20239" class = "comment">
				<p>I would not say off hand that this is a bad phone interview question.   It depends on the type of robotics job and on what the hiring manager was going after.   Perhaps the question was phrased to see if you know how to say "I don't know," rather than making something up to sound smart.   Perhaps they wanted to see if you could think on your feet.  Or if you know Hamiltonian dynamics or nonholonomic system control.  Interviewing isn't just about what the candidate knows, but also who the candidate is.</p>
			</div>
			<div id = "comment-20242" class = "comment">
				<p>@SteveO I did answer I don't know. The thing is I kind of remember seeing something called a bicycle model somewhere used as a state prediction model for a Kalman filter but I can't seem to find anything when I google it. I had been talking about Sebastian Thrun's book and Udacity course and he told me that the model is used extensively in his Udacity course. I can't find anything with that specific name in the course either.</p>
			</div>
			<div id = "comment-20274" class = "comment">
				<p>@Hadi see page 11 http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.329.8619&rep=rep1&type=pdf :)</p>
			</div>
			</div>
				<textarea id = "speech-11198" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11198">
					<img id="start_img-11198" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11198">Comment</button>
			<br><div id = "ans-11201"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11201" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The bicycle model is a simplified model of vehicle dynamics. It's really common so I'm not sure why a web search did not get any results for you.</p>

<p>A random paper, first one in my search that had a diagram and was not behind a paywall...</p>

<p><a href="https://pdfs.semanticscholar.org/2da2/1fdadb16e8448555f2bd248e1451eead6e2e.pdf" rel="nofollow noreferrer">Modification of Vehicle Handling Characteristics via Steer-by-Wire 
By Paul Yih, Jihan Ryu, and J. Christian Gerdes.</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11201" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-11201">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11201">Load Comments</button></br>
			<div id = "commentsection-11201" class = 'collapse'>
			<div id = "comment-20246" class = "comment">
				<p>Isn't the simplified model of a vehicle known as cruise model?</p>
			</div>
			<div id = "comment-20247" class = "comment">
				<p>Sure. One of many.</p>
			</div>
			<div id = "comment-20248" class = "comment">
				<p>Thank you! Maybe I was using bad keywords but my searches kept on bringing up results related to modelling bicycles.</p>
			</div>
			</div>
				<textarea id = "speech-11201" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11201">
					<img id="start_img-11201" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11201">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>