<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the easiest and efficient way to detect human in close range distance and make the robot follow it?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8391" class = "post">
			<h2>Question</h2>
			<div id="vote-8391" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 176</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the easiest and efficient way to detect human in close range distance and make the robot follow it?</h2>
<p>I am having a thesis right now regarding a robot. My research requires the robot to be attached to linear guide rail. A robot has to detect human in a very close range (of about 2 meters distance). What easiest and efficient method or components shall I use?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8391" data-toggle = "popover">
				<p>user name : Ichu</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-8391">{'industrial-robot': 0, 'None': 0, 'wheeled-robot': 0, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8391">Load Comments</button></br>
			<div id = "commentsection-8391" class = 'collapse'>
			<div id = "comment-13491" class = "comment">
				<p>I voted to close this question because it's an open-ended design question.</p>
			</div>
			</div>
				<textarea id = "speech-8391" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8391">
					<img id="start_img-8391" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8391">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8393"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8393" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Following a human can be relatively easy, but it depends on your requirements and your sensors on how easy this is. If you use <a href="http://www.ros.org" rel="nofollow">ROS</a> there are some available packages:</p>

<ul>
<li><a href="http://wiki.ros.org/people_tracker" rel="nofollow">people_tracker</a> which uses a Kinect.</li>
<li><a href="http://www.ros.org/news/2009/12/person-following-and-detection-in-an-indoor-environment.html" rel="nofollow">Person-following and Detection in an Indoor Environment</a>: combines a face and leg detector.</li>
<li><a href="http://wiki.ros.org/ppl_detection" rel="nofollow">ppl-detection</a> also uses a Kinect.</li>
<li><a href="http://wiki.ros.org/lidar_tracking" rel="nofollow">lidar-tracking</a>: lidar used to track people, but they say it is not robust.</li>
<li><a href="http://wiki.ros.org/cyphy_people_mapping" rel="nofollow">cyphy_people_mapping</a>: other that uses Kinect. (See their <a href="http://wiki.ros.org/cyphy_people_mapping?action=AttachFile&amp;do=view&amp;target=people_following.pdf" rel="nofollow">paper</a>)</li>
</ul>

<p>We [1] use a boosting leg detector [2] which provides the position of potential people using horizontal front and rear range laser sensors.
A Multiple Hypothesis Tracking For Multiple people [3] keeps the track of the people and assigns them identifiers.
Since we also want to identify the person for large distances we use <a href="http://www.hitl.washington.edu/artoolkit/" rel="nofollow">AR tags</a> which has as advantage that it is robust and easy to install.</p>

<p>So depending on what sensors you have, I think, the easiest way might be to use a leg detection algorithm (using range lasers) or an AR tag (using a camera and tag).</p>

<p>[1] A. Goldhoorn, A. Garrell, A. Sanfeliu, and R. Alqu zar,  Continuous
real time pomcp to find-and-follow people by a humanoid service robot, 
in Proceedings of the IEEE-RAS International Conference on Humanoid
Robots, 2014, pp. 741 747.</p>

<p>[2] K. O. Arras, O. M. Mozos, and W. Burgard,  Using boosted features for
the detection of people in 2d range data,  in Proceedings of the IEEE
International Conference on Robotics and Automation (ICRA), 2007, pp.
3402 3407.</p>

<p>[3] S. S. Blackman,  Multiple hypothesis tracking for multiple target
tracking,  IEEE Aerospace and Electronic Systems Magazine, vol. 19,
no. 1, pp. 5 18, 2004.</p>

<hr>

<p><strong>Other references</strong>:</p>

<ul>
<li><p>On the <a href="http://www.robotshop.com/blog/en/how-to-make-a-robot-lesson-7-using-sensors-2-3683" rel="nofollow">robotshop.com - how to make a robot</a> guide they propose to use an ultrasonic or infrared distance sensor(s), a camera and GPS:</p>

<blockquote>
  <p>... the most appropriate sensors to allow a robot to follow a human may be ultrasonic or infrared distance sensor(s), a camera and GPS. A camera may be used to pick up a specific pattern placed on the shirt of the individual to follow while GPS units mounted on the robot and on the human would help the robot find the human if she cannot be seen visually. Distance sensors would ensure the robot does not get too close to the human. Therefore when choosing sensors to help your robot follow a human, the sensors listed above would be a good starting point.</p>
</blockquote></li>
<li><p>On <a href="http://www.societyofrobots.com/robot_faq.shtml#robot_track_person" rel="nofollow">societyofrobots.com</a> promote to use <a href="https://en.wikipedia.org/wiki/Computer_vision" rel="nofollow">computer vision</a>:</p>

<blockquote>
  <p>The most reliable way to do this is using computer vision. If I were to do it, I would do <a href="http://www.societyofrobots.com/programming_computer_vision_tutorial_pt3.shtml#middle_mass" rel="nofollow">middle mass detection</a> on the color red, and wear a bright red shirt. As long as a Ferrari doesn't drive by, your robot will always follow you. </p>
</blockquote></li>
<li><p>On <a href="http://www.norrislabs.com/Projects/RoboStool/index.html" rel="nofollow">norrislabs.com</a> they explain how they made a robotic stool which is able to to follow a person using heat sensing. Which is based on their <a href="http://www.norrislabs.com/Projects/FollowMeRov/index.html" rel="nofollow">Follow Me Rover</a>. They have all the schemas and source code on <a href="http://www.norrislabs.com/Projects/FollowMeRov/index.html" rel="nofollow">their page</a>.</p></li>
<li><p>On <a href="http://makezine.com/projects/the-stalker-bot/" rel="nofollow">makezine.com</a> there is a simple robot <a href="http://makezine.com/projects/the-stalker-bot/" rel="nofollow">Stalker Bot</a> that uses ultrasonic sensors to follow an object.</p></li>
<li><p>In the article <a href="http://www.ijcaonline.org/research/volume125/number13/bakar-2015-ijca-906165.pdf" rel="nofollow">A Study on Techniques of Person Following Robot</a> they give a nice overview of different detection and tracking techniques and sensors used by several researchers: laser range finders, stereo cameras, Kinect.</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8393" data-toggle = "popover">
				<p>user name : agold</p>
				<p> user reputation : 250</p>
				<p class = "tagcontent" id = "usertaginfo-8393">{'None': 12}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8393" class = 'collapse'>
			</div>
				<textarea id = "speech-8393" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8393">
					<img id="start_img-8393" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8393">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>