<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What relay or other gizmo do I need to switch between two circuits?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10900" class = "post">
			<h2>Question</h2>
			<div id="vote-10900" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 93</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What relay or other gizmo do I need to switch between two circuits?</h2>
<p>I have built a fighting bot but improvements could be made. I currently use 1 channel to switch spinners on and off and another for self righting.  The spinners cannot turn during self righting as they are against the floor so I have to switch them off with one switch and activate self righting with another to avoid the spinner motors burning out and then once self righted reverse both switch positions again.  Currently each circuit has a normally off relay (5v from the receiver controlling 24V to load), in an ideal world I would have got a relay that allows one circuit 'on' and the other 'off' and then the opposite when given the signal by the receiver e.g. when a single switch on the remote control is 'off' then circuit A is 'off' and circuit B is 'on', when the remote switch is 'on' circuit A in 'on' and circuit B is 'off' - this would free up a remote channel and also ensure the two circuits can never be closed at the same time - with me so far? anyway turns out that this type of relay does not exist for control by a remote receiver so what I am trying to achieve is the following:</p>

<p><a href="https://i.stack.imgur.com/REOX0.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/REOX0.jpg" alt="enter image description here"></a></p>

<p>So it's not actually a relay as that suggests one voltage controlling another so what is this illusive gizmo I seek actually called?  Can I buy one on Amazon?</p>

<p>I'm trying to avoid going down the route of IF / THEN gates on a separate PCB, the daft thing is that all I want is an electrical version of exactly what the pneumatic actuator does - when powered air goes down one hose and when off goes down another.</p>

<p>Thanks in advance.</p>

<p>After looking at some of the answers - (thanks everyone) it allowed me to find this:
<a href="https://i.stack.imgur.com/RvMTO.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/RvMTO.jpg" alt="enter image description here"></a>
 from <a href="http://www.superdroidrobots.com/shop/item.aspx/dpdt-8a-relay-rc-switch/766/" rel="nofollow noreferrer">http://www.superdroidrobots.com/shop/item.aspx/dpdt-8a-relay-rc-switch/766/</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10900" data-toggle = "popover">
				<p>user name : Lee Wilson</p>
				<p> user reputation : 9</p>
				<p class = "tagcontent" id = "usertaginfo-10900">{'control': 2, 'wireless': 2, 'None': -1, 'circuit': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10900" class = 'collapse'>
			</div>
				<textarea id = "speech-10900" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10900">
					<img id="start_img-10900" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10900">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10901"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10901" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have the circuit for energizing relay 1. In this circuit you put in series one of the output contacts of relay 2 which are not the "main" output contacts, just a low voltage "additional" contact. If relay 2 is energized the circuit to energize relay 1 will be also closed.</p>

<p>The circuit energising relay 1 will consist of +5V in series with the additional contact of relay 2 the coil of relay 1 in series and ground.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10901" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-10901">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10901" class = 'collapse'>
			</div>
				<textarea id = "speech-10901" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10901">
					<img id="start_img-10901" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10901">Comment</button>
			<br><div id = "ans-10903"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10903" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I know that you do not want any complicated logic gates so I present you some MOSFET instead. With a N-Channel and a P-channel MOSFET a simple 
mutual exclusion logic can be realized.</p>

<blockquote>
  <p>N channel   For an N channel MOSFET, the source is connected to ground. If we want to let current flow, we can easily raise the voltage on the gate allowing current to flow. If no current is to flow, the gate pin should be grounded</p>
  
  <p>P channel   Looking at the P channel MOSFET, the source is connected to the power rail. In order to allow current to flow the Gate needs to be pulled to ground. To stop the current flow, the gate needs to be pulled to supply voltage. <a href="https://reibot.org/2011/09/06/a-beginners-guide-to-the-mosfet/" rel="nofollow noreferrer">More about FETs here.</a></p>
</blockquote>

<p>So basically one will conduct while the other won't if you tie the gates together and drive it from a common signal source. So one channel of the remote receiver drives the gates of the FETs. The schematic will be the following:</p>



<p><img src="https://i.stack.imgur.com/Wuup2.png" alt="schematic"></p>



<p>There are additional Zener diodes in series with relay coils' flyback diodes. The reason is that a single flyback diode will delay the release of the relay contact, so there can be a short period when both of the relays are ON. To reduce this delay a zener diode or a resistor can be added in series with the flyback diode. Select the value of the zener or resistor to be compatible with whatever the driver can withstand.</p>

<p>If a resistor is used:</p>

<p>$$ R = \frac{V_{peak}}{I_{coil}}$$
$$ Power = I_{coil}^2 \times R \times dutycycle$$</p>

<p>If a zener diode is used:</p>

<p>$$ V_Z = V_{peak} $$
$$ Power = V_Z \times I_{coil} \times dutycycle$$</p>

<p>The fastest release time can be achieved using a zener diode. Here is a <a href="http://www.falstad.com/circuit/circuitjs.html?cct=$%201%200.000005%206.450009306485578%2043%205%2050%0A172%20912%2048%20912%2016%200%206%205%205%200%200%200.5%20Relay%20Supply%20Voltage%0Af%20752%20352%20816%20352%200%201.5%200.02%0Aw%20656%20112%20656%2064%200%0Aw%20576%20112%20656%20112%200%0Aw%20752%20112%20656%20112%200%0Ar%20512%20352%20512%20432%200%2010000%0Ar%20752%20352%20752%20432%200%2010000%0Aw%20912%20288%20912%20176%200%0Aw%20912%20176%20912%2048%200%0AL%20656%2064%20656%2032%200%200%20false%205%200%0A172%20944%2048%20944%2016%200%206%2024%2024%200%200%200.5%20Load%20Supply%20Voltage%0A178%20944%20320%20944%20416%200%201%200.2%204.999998999170298e-8%200.05%201000000%200.02%2020%0Aw%20944%20272%20944%2048%200%0A178%20704%20320%20704%20416%200%201%200.2%200.0563283975725781%200.05%201000000%200.02%2020%0Aw%20704%20272%20704%20320%200%0Aw%20704%20272%20944%20272%200%0Aw%20944%20272%20944%20320%200%0Aw%20576%20320%20608%20320%200%0Ad%20816%20288%20864%20288%201%200.805904783%0Aw%20576%20288%20576%20320%200%0Aw%20608%20320%20656%20320%200%0Aw%20896%20320%20816%20320%200%0Ad%20576%20288%20624%20288%201%200.805904783%0Aw%20816%20320%20816%20336%200%0Aw%20752%20352%20752%20112%200%0Ar%20688%20480%20688%20592%200%20100%0Ar%20928%20480%20928%20592%200%20100%0Ag%20688%20592%20688%20624%200%0A207%20688%20480%20608%20512%200%20Pneumatic%20actuator%0Aw%20688%20416%20688%20480%200%0A207%20928%20480%20992%20512%200%20Motor%0Aw%20928%20416%20928%20480%200%0Aw%20816%20368%20816%20432%200%0Aw%20816%20288%20816%20320%200%0Aw%20912%20288%20912%20320%200%0Af%20512%20352%20576%20352%201%201.5%200.02%0Az%20672%20288%20624%20288%201%200.805904783%206.7%0Az%20912%20288%20864%20288%201%200.805904783%205.6%0Aw%20816%20432%20752%20432%200%0Aw%20752%20432%20752%20592%200%0Aw%20752%20592%20688%20592%200%0Aw%20752%20592%20928%20592%200%0Aw%20672%20320%20672%20288%200%0Aw%20672%20288%20672%20176%200%0Aw%20672%20176%20912%20176%200%0Aw%20576%20368%20576%20432%200%0Aw%20576%20432%20512%20432%200%0Aw%20512%20432%20512%20592%200%0Aw%20512%20592%20688%20592%200%0Aw%20576%20336%20576%20320%200%0Aw%20512%20352%20512%20112%200%0Aw%20512%20112%20576%20112%200%0Ao%2029%2064%200%20291%2040%200.4%200%20-1%0Ao%2031%2064%200%20291%2040%200.4%201%20-1%0A" rel="nofollow noreferrer">simulation</a> of the circuit. You can check the release times if you remove the zeners.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10903" data-toggle = "popover">
				<p>user name : Bence Kaulics</p>
				<p> user reputation : 605</p>
				<p class = "tagcontent" id = "usertaginfo-10903">{'None': 26}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10903" class = 'collapse'>
			</div>
				<textarea id = "speech-10903" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10903">
					<img id="start_img-10903" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10903">Comment</button>
			<br><div id = "ans-10912"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10912" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Very simply, you can use a single pole, double throw relay.  This has two outputs:  one is normally open and the other is normally closed.  Both will not be energized concurrently.</p>

<p>EDIT (based on Chuck's comment):
In some applications, in which turn-on and turn-off timing is critical, you need to decide between a "make before break" and a "break before make" type of SPDT relay.   With your 'bot application this timing difference shouldn't be critical, but if you want to be sure that one action occurs before the other, you can enforce that with proper selection of the relay.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10912" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-10912">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10912">Load Comments</button></br>
			<div id = "commentsection-10912" class = 'collapse'>
			<div id = "comment-19643" class = "comment">
				<p>This is the answer OP is looking for. With no power, IN-->A. With power, IN-->B. A note of caution about not being energized concurrently - there is a "make before break" (MBB) and a "break before make" (BBM) style of relay. This refers to what happens in the "instant" of switching between circuits. Is it okay if both circuits are **momentarily** energized at the same time? Probably yes, it's okay for OP's application, because physical inertia says that nothing's going to immediately happen. Times it would matter is switching electric circuits. Just an FYI.</p>
			</div>
			<div id = "comment-19647" class = "comment">
				<p>Good addition @Chuck.   Thanks.</p>
			</div>
			<div id = "comment-19688" class = "comment">
				<p>Thanks @Chuck  - Your comments led me to find this: http://www.superdroidrobots.com/shop/item.aspx/dpdt-8a-relay-rc-switch/766/ which is probably what I would have gone for if I had had the time for more research before buying the kit, it's quite an expensive solution for such a minor problem is a system that already works but I'll know for next time - see my original post for diag</p>
			</div>
			<div id = "comment-19689" class = "comment">
				<p>@LeeWilson - You should be able to go to your local auto parts store and get a DPDT relay for 5 dollars. The appropriate mating socket might be 10, but that's a lot less than the kit you linked.</p>
			</div>
			</div>
				<textarea id = "speech-10912" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10912">
					<img id="start_img-10912" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10912">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>