<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the frequencies used for within drones?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7513" class = "post">
			<h2>Question</h2>
			<div id="vote-7513" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 877</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the frequencies used for within drones?</h2>
<p>What are these frequencies used for within the drone technology, and why these values?</p>

<ul>
<li>35 MHz</li>
<li>433 MHz</li>
<li>868 MHz</li>
<li>2.4 GHz</li>
<li>5.8 GHz</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-7513" data-toggle = "popover">
				<p>user name : user9933</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7513">{'quadcopter': 2, 'wireless': 2, 'None': 0, 'radio-control': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7513" class = 'collapse'>
			</div>
				<textarea id = "speech-7513" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7513">
					<img id="start_img-7513" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7513">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7515"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7515" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>Spectrum licensing</h2>

<p>There are only a limited number of frequencies in unlicensed bands which can be used for radio control, and different countries have different licensed bands for different uses.</p>

<p>For instance:</p>

<ul>
<li><p>35MHz is available for RC use in many countries in Europe, but other countries use a whole variety of other frequencies below 100MHz.</p>

<ul>
<li>I found a wealth of information on this at the <a href="http://www.ukrcc.org/index.html" rel="nofollow">UK Radio Control Council</a> website.</li>
</ul></li>
<li><p>433MHz is in the <a href="https://en.wikipedia.org/wiki/ISM_band" rel="nofollow">ISM Band</a> in <a href="https://en.wikipedia.org/wiki/International_Telecommunication_Union_region" rel="nofollow">Region 1</a></p>

<ul>
<li>That's the "industrial, scientific and medical radio bands" for use in "Europe, Africa, the Middle East west of the Persian Gulf including Iraq, the former Soviet Union and Mongolia". </li>
</ul></li>
<li><p>868MHz is allowed for "Non-Specific Short Range Devices in Europe" within certain limits.</p></li>
<li><p>Finally, both 2.4GHz and 5.8GHz are <a href="https://en.wikipedia.org/wiki/ISM_band" rel="nofollow">ISM Band</a>s with worldwide availability.</p></li>
</ul>

<p>I found much of this information in the <a href="http://www.ti.com/lit/an/swra048/swra048.pdf" rel="nofollow">ISM-Band and Short Range Device Regulatory Compliance Overview</a> document from Texas Instruments.</p>

<h2>Frequency characteristics</h2>

<p>In terms of actual use, different frequencies have different advantages and disadvantages. So in general:</p>

<ul>
<li><p>Lower frequencies require a larger antenna and generally have a lower data rate, but require less power and have fewer line of sight issues.</p></li>
<li><p>Higher frequencies have more bandwidth available, so you can get more/wider channels and a higher data rate (see the <a href="https://en.wikipedia.org/wiki/Shannon%E2%80%93Hartley_theorem#Statement_of_the_theorem" rel="nofollow">Shannon Hartley theorem</a>) and you can can use smaller antenna, but line of sight starts to become a major issue, and you need more power for the same range.</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7515" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-7515">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7515">Load Comments</button></br>
			<div id = "commentsection-7515" class = 'collapse'>
			<div id = "comment-10816" class = "comment">
				<p>Just as a follow-on comment to this answer, higher frequency transcievers allow for higher data rates.</p>
			</div>
			<div id = "comment-10824" class = "comment">
				<p>That's worth an answer on it's own @Chuck, though technically, higher speeds are enabled by more/wider bandwidth channels rather than the frequency itself - you have many more 5MHz bands at 5.8GHz than at 100MHz *8') See the [Shannon Hartley theorem](https://en.wikipedia.org/wiki/Shannon%E2%80%93Hartley_theorem#Statement_of_the_theorem).</p>
			</div>
			</div>
				<textarea id = "speech-7515" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7515">
					<img id="start_img-7515" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7515">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>