<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What charger to use with my ZIPPY Compact 6200mAh 4s 40c Lipo MultiRotor Battery
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8427" class = "post">
			<h2>Question</h2>
			<div id="vote-8427" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 98</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What charger to use with my ZIPPY Compact 6200mAh 4s 40c Lipo MultiRotor Battery</h2>
<p>Hello I am trying to build a Quadcopter for a school project and I need to finish quick before our mission trip because I was asked to finish it before then so that I could take it. But I am having a problem figuring out which charger would work with my <a href="http://www.hobbyking.com/hobbyking/store/__63431__ZIPPY_Compact_6200mAh_4s_40c_Lipo_Pack.html?gclid=CMqXo9W_hskCFY-VfgodACwH9w" rel="nofollow">ZIPPY Compact 6200mAh 4s 40c Lipo Pack</a> </p>

<hr>

<p>Here are the specs on the battery</p>

<ul>
<li>Capacity: 6200mAh</li>
<li>Voltage: 4S1P / 4 Cell / 14.8V</li>
<li>Discharge: 40C Constant / 50C Burst</li>
<li>Weight: 589g (including wire, plug &amp; case)</li>
<li>Dimensions: 158x46x41mm</li>
<li>Balance Plug: JST-XH
Discharge Plug: HXT4mm</li>
</ul>

<hr>

<p>Also I will be running the <a href="http://www.helipal.com/tarot-t4-3d-brushless-gimbal-for-gopro-3-axis.html?gclid=CJuvxaGj5MgCFYeEfgodtWkOaA" rel="nofollow">Tarot T4-3D Brushless Gimbal for GoPro (3-Axis)</a>
and if anyone can tell me a good battery to run it off of or maybe it would be better to run it off my main battery.</p>

<p><strong>Thanks in Advance</strong></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8427" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-8427">{'quadcopter': 4, 'battery': 2, 'None': 0, 'power': 0, 'lithium-polymer': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8427">Load Comments</button></br>
			<div id = "commentsection-8427" class = 'collapse'>
			<div id = "comment-15163" class = "comment">
				<p>Welcome to *Robotics* Ben, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works, and the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) for details of how to write a good question.</p>
			</div>
			</div>
				<textarea id = "speech-8427" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8427">
					<img id="start_img-8427" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8427">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8429"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8429" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Buy the imax b6. They're cheap to replace at $26, I would recommend buying the imax b6 with the built-in power supply as it saves you having to buy an extra 12v 5A psu. I own 4 imax b6's and they work wonders.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8429" data-toggle = "popover">
				<p>user name : Ycombinatordev</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8429">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8429">Load Comments</button></br>
			<div id = "commentsection-8429" class = 'collapse'>
			<div id = "comment-13715" class = "comment">
				<p>Thank you user2769025 I will look into this. I was originally thinking it would cost me more then $70 but this will leave me with enough money to buy an extra FPV kit.</p>
			</div>
			<div id = "comment-13716" class = "comment">
				<p>Please don't add "thank you" as an answer. Once you have sufficient [reputation](http://robotics.stackexchange.com/help/whats-reputation), you will be able to [vote up questions and answers](http://robotics.stackexchange.com/help/privileges/vote-up) that you found helpful. - [From Review](/review/low-quality-posts/4962)</p>
			</div>
			</div>
				<textarea id = "speech-8429" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8429">
					<img id="start_img-8429" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8429">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>