<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the reduced form of this block diagram?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6913" class = "post">
			<h2>Question</h2>
			<div id="vote-6913" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 110</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the reduced form of this block diagram?</h2>
<p>What is the reduced form of this block diagram? I can't see any solution way :(</p>

<p><img src="https://i.stack.imgur.com/2qRDH.png" alt="enter image description here"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6913" data-toggle = "popover">
				<p>user name : vb94</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-6913">{'control': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6913">Load Comments</button></br>
			<div id = "commentsection-6913" class = 'collapse'>
			<div id = "comment-9881" class = "comment">
				<p>If you for example want to find C/R then you could introduce a temporary variable for example between G2 and G3, solve for it in terms of R and C and use that to solve for C/R.</p>
			</div>
			</div>
				<textarea id = "speech-6913" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6913">
					<img id="start_img-6913" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6913">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7427"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7427" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Starting with your system and some <a href="http://www.ijee.ie/articles/Vol18-6/IJEE1332.pdf" rel="nofollow noreferrer">guidelines for block diagram reduction</a> (PDF):</p>

<ol>
<li>Move the pickoff point between G2 and G3 to before G2</li>
<li>Combine G2 and G3 into one block (G2G3)</li>
<li>Combine G4 with the G2G3 block (G4 + G2G3)</li>
<li>Combine G2 and H1 (G2H1)</li>
<li>Redraw the rats nest after G1</li>
<li>Duplicate the H2 line to give a feedback loop around (G4 + G2G3) and
a feedback line towards (G2H1)</li>
<li>Collapse the (G4 + G2G3) and H2 loop</li>
<li>Make room for more work!</li>
<li>Move the summing junction located just before G1 to just after G1</li>
<li>Move the pickoff point just before the big transfer function to
 just after it (what was the G4 + G2G3 stuff)</li>
<li>At this point everything should be easy</li>
<li>Collapse summing junctions into summed blocks</li>
<li>Collapse feedback loops</li>
<li>Collapse feedback loops</li>
<li>Collapse feedback loops</li>
</ol>

<p>Done! (see the pic below for details) Please check my work; I did everything in paint, but this is the route you should take. Moving summing junctions and pickoff points is key to solving this, as it is in nearly every instance.</p>

<p><img src="https://i.stack.imgur.com/4xMoj.png" alt="Block diagram reduction"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7427" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7427">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7427">Load Comments</button></br>
			<div id = "commentsection-7427" class = 'collapse'>
			<div id = "comment-10595" class = "comment">
				<p>Thanks lol. Still easier than Visio... I hate that program. So much.</p>
			</div>
			</div>
				<textarea id = "speech-7427" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7427">
					<img id="start_img-7427" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7427">Comment</button>
			<br><div id = "ans-7435"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7435" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From my experience, it is often easier to stop thinking in terms of "block diagrams" and start to think in terms of equations that these block diagrams represent.</p>

<p>I introduce a few new nodes E, A and B:
<img src="https://i.stack.imgur.com/3buNG.png" alt="enter image description here"></p>

<p>Now let's write the equations for each of them
$$
\begin{align}
E &amp;= R-C\\
A &amp;= H_2C+G_1(E+H_1B)\\
B &amp;= G_2A\\
C &amp;= G_3B + G_4A\\
\end{align}
$$</p>

<p>Insert B in A and C gives
\begin{align}
E &amp;= R-C\\
A &amp;= H_2C+G_1(E+H_1G_2A)\\
C &amp;= (G_3G_2 + G_4)A\\
\end{align}</p>

<p>Insert E in A gives
\begin{align}
A &amp;= H_2C+G_1(R-C+H_1G_2A) = H_2C+G_1R-G_1C+H_1G_1G_2A \\
  &amp;= (H_2-G_1)C +G_1R +H_1G_1G_2A  \\
  &amp;=\frac{(H_2-G_1)C +G_1R}{1-H_1G_1G_2}\\
C &amp;= (G_3G_2 + G_4)A\\
\end{align}</p>

<p>Insert A in C gives
\begin{align}
C &amp;= (G_3G_2 + G_4)\frac{(H_2-G_1)C +G_1R}{1-H_1G_1G_2}\\
(1-H_1G_1G_2)C  &amp;= (G_3G_2 + G_4)(H_2-G_1)C +(G_3G_2 + G_4)G_1R\\
[(1-H_1G_1G_2)-(G_3G_2 + G_4)(H_2-G_1)]C  &amp;= (G_3G_2 + G_4)G_1R\\
\end{align}</p>

<p>And finally</p>

<p>\begin{align}
\frac{C}{R} &amp;=\frac{(G_3G_2 + G_4)G_1}{(1-H_1G_1G_2)-(G_3G_2 + G_4)(H_2-G_1)}\\
&amp;\\
 &amp;= \frac{G_1G_2G_3 + G_1G_4}{1-G_1G_2H_1-G_2G_3H_2 - G_4H_2 + G_1G_2G_3 + G_1G_4}\\
\end{align}</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7435" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-7435">{'None': 93}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7435" class = 'collapse'>
			</div>
				<textarea id = "speech-7435" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7435">
					<img id="start_img-7435" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7435">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>