<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the top speed of a four legged robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10842" class = "post">
			<h2>Question</h2>
			<div id="vote-10842" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the top speed of a four legged robot?</h2>
<p>In  Neal Stephenson's novel "Snow Crash", a robotic/cybernetic creature known as a "Rat Thing" looses its bounds and runs to rescue another character.  The Rat Thing is portrayed at moving over 700 mph and causing sonic shock waves.  Can such a speed be reached by purely mechanical means? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10842" data-toggle = "popover">
				<p>user name : Jim Green</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-10842">{'None': 0, 'kinematics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10842">Load Comments</button></br>
			<div id = "commentsection-10842" class = 'collapse'>
			<div id = "comment-19562" class = "comment">
				<p>From [What topics can I ask about here?](http://robotics.stackexchange.com/help/on-topic): ***Sci-Fi Robotics:** Questions about movies/books involving robots should be be asked on [scifi.se], unless they involve some concept of robotics, in which they are fine here.*</p>
			</div>
			<div id = "comment-19753" class = "comment">
				<p>I'm voting to close this question as off-topic because it belongs on: http://scifi.stackexchange.com/</p>
			</div>
			</div>
				<textarea id = "speech-10842" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10842">
					<img id="start_img-10842" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10842">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10845"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10845" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Can such a speed be reached by purely mechanical means?</p>
</blockquote>

<p>Yes, according to <a href="https://en.m.wikipedia.org/wiki/Terminal_velocity" rel="nofollow">this</a>:</p>

<blockquote>
  <p>Felix Baumgartner [a four legged being, two of them called "arms"] who jumped from a height of 128,100 feet (39,000 m) and reached <strong>1,342 km/h (834 mph)</strong>, though he achieved this velocity at high altitude, where extremely thin air presents less drag force.</p>
</blockquote>

<p>Just falling from a high altitude is the only purely mechanical way I can think of.</p>

<p>That's probably not what you had in mind as an answer. This is still useful to think about: A ground based human shaped robot would need more than 1g of acceleration, to overcome the low terminal velocity on the ground. </p>

<p>You could do that in a car, but that would mean burning fuel, which is chemical energy. I very much doubt that there's a mechanical way to store the necessary energy in a way that's lightweight enough to still be able to move around.</p>

<p>That's likely still not the answer you are looking for.
Even if you loosen the requirement of purely mechanical to just the parts that create the motion, like legs,  you still have to deal with the noncontinuous way are in contact with the ground. In practise, you also have to deal with unevenness of the ground and small obstacles like rocks, etc.</p>

<p><strong>tl,dr</strong></p>

<p>Reaching 700mph purely mechanically is possible, but not on the ground with a robot that uses legs.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10845" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-10845">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10845">Load Comments</button></br>
			<div id = "commentsection-10845" class = 'collapse'>
			<div id = "comment-19548" class = "comment">
				<p>I guess by "purely mechanical means" he means the usage of legs instead of a jet engine.</p>
			</div>
			</div>
				<textarea id = "speech-10845" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10845">
					<img id="start_img-10845" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10845">Comment</button>
			<br><div id = "ans-10865"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10865" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Currently the fastest four legged robot is <a href="http://www.bostondynamics.com/robot_cheetah.html" rel="nofollow">Cheetah</a> by Boston Dynamics that runs 29mph. Real cheetahs can run 70mph and are the fastest land animals. I don't think it would be possible for a robot to run much faster than that. Why? At higher speeds aerodynamics play a crucial role, and a legged design would be hard to optimize in that way. </p>

<p>Also keep in mind, that there is currently only one land vehicle that broke a sound barrier - <a href="https://en.wikipedia.org/wiki/ThrustSSC" rel="nofollow">thrustSSC</a>. Powered by jet engines, it consumes insane 18l of fuel per second. The mass of the fuel itself would be extremely hard to carry for a legged robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10865" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-10865">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10865" class = 'collapse'>
			</div>
				<textarea id = "speech-10865" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10865">
					<img id="start_img-10865" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10865">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>