<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What frequency does my quadcopter output-sense-calculate-output update loop need to stay stable?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-231" class = "post">
			<h2>Question</h2>
			<div id="vote-231" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3916</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What frequency does my quadcopter output-sense-calculate-output update loop need to stay stable?</h2>
<p>With a 600 mm (2 foot) motor-to-motor quadcopter, what frequency does my output-sense-calculate-output update loop need to stay stable?</p>

<p>I'm estimating a total takeoff weight of very roughly 2 pounds ( 0.9 kg ),
which I expect to be mostly motors and batteries.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-231" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-231">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-231">Load Comments</button></br>
			<div id = "commentsection-231" class = 'collapse'>
			<div id = "comment-241" class = "comment">
				<p>I suspect that only very rough answers will be possible here, as there are many variables which will affect the response of the system. Perhaps see: [How do I calculate the required loop frequency for a servo controller?](http://robotics.stackexchange.com/questions/143/how-do-i-calculate-the-required-loop-frequency-for-a-servo-controller)</p>
			</div>
			</div>
				<textarea id = "speech-231" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-231">
					<img id="start_img-231" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-231">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-240"  class = "post">
				<h2>Answer</h2>
			<div id="vote-240" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>50-200Hz is pretty normal as we can see in the open source projects.  You have to consider that in most cases the inertia of the motors and communication with the ESCs is the limiting factor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-240" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-240">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-240">Load Comments</button></br>
			<div id = "commentsection-240" class = 'collapse'>
			<div id = "comment-251" class = "comment">
				<p>@Shahbaz: Being "open source" affects our knowledge of the control loop frequency. If it's not open source, we generally have no idea what the control loop frequency is.</p>
			</div>
			<div id = "comment-3286" class = "comment">
				<p>Not completely true. Closed-source flight controllers usually publish their control frequency. Most of them output control at 400hz to make them compatible with standard electronic speed controllers (ESCs). E.g. the popular DJI Wookong-M: http://www.dji-innovations.com/tech-spec/wookong-m-sepc/</p>
			</div>
			</div>
				<textarea id = "speech-240" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-240">
					<img id="start_img-240" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-240">Comment</button>
			<br><div id = "ans-246"  class = "post">
				<h2>Answer</h2>
			<div id="vote-246" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">16</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As Rocketmagnet suggests, what frequency you "need" will depend on a lot of things. The more responsive your rotors are, the more sensitive your craft will be to random spikes in motor commands. These random spikes may be caused by noisy sensor readings caused by physical imperfections, which means you would need to lower your controller gains, which in turn might mean your quadrotor may become more unstable. Some other factors include the rotational inertias of the quadrotor, the propellers' blade pitch, the location of the center of mass, and the motor-to-motor distance.</p>

<p>I programmed a flight controller from scratch for my 2 kg tricopter running on an ATmega1280 and found that at:</p>

<ul>
<li>50 Hz: It will stay in the air but is nigh impossible to control.</li>
<li>100 Hz: It will at least avoid immediately tipping to one side.</li>
<li>200 Hz: I can let it loose indoors at hover throttle and it will stay more or less in one spot.</li>
</ul>

<p>It may be of interest to note that the higher the control frequency, the more effective your rotor inertias become at being physical dampers, which helps nullify IMU noise and improve flight stability.</p>

<p>But if I <em>had</em> to give a hard number for a minimum flight controller update frequency for a quadrotor of that size suitable for indoor navigation, based on personal experience...</p>

<p>I'd say 80 Hz.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-246" data-toggle = "popover">
				<p>user name : yoos</p>
				<p> user reputation : 411</p>
				<p class = "tagcontent" id = "usertaginfo-246">{'None': 31}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-246">Load Comments</button></br>
			<div id = "commentsection-246" class = 'collapse'>
			<div id = "comment-7560" class = "comment">
				<p>I don't understand why you suggested 80Hz when you had to use 200Hz on a much larger craft, if anything when the system is smaller you need a faster sampling time as the natural frequencies are higher because there's less inertia.</p>
			</div>
			<div id = "comment-22015" class = "comment">
				<p>Are there any benefits to running above 200 Hz? I have a system which runs at 2Khz at the moment, but at the cost of some extra weight.</p>
			</div>
			<div id = "comment-22039" class = "comment">
				<p>(Wow this is an old thread, but) @goncaloluis I suggested 80Hz as a hard minimum. You're totally right about needing a faster sampling rate for smaller craft. :)</p>
			</div>
			<div id = "comment-22040" class = "comment">
				<p>@tuskiomi To a certain point.. Your application and desired bandwidth should drive your required control loop frequency, but as many have noted, inertia becomes the limiting factor eventually.</p>
			</div>
			</div>
				<textarea id = "speech-246" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-246">
					<img id="start_img-246" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-246">Comment</button>
			<br><div id = "ans-4859"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4859" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To be able to a hard number you would need to have a mathematical model your craft and analyse it. There are two options to get a model of a system:</p>

<p>1)You come up with a mathematical representation of the quadcopter via free body diagrams;</p>

<p>2)You build a gig to test the quadcopter without any control system and use identification theory to find a model;</p>

<p>Then you'll have to linearize your model, a quadcopter is inherently non linear. Make a bode plot of the system, the frequency you need is about twice the highest frequency of your system.</p>

<p>This is the the "pro" way of doing it. If you don't want to go through all this, use a value like what user65 and yoos have suggested (read my comment on yoos answer) and iterate until you get what you want. You also don't want the sample time to be too high, because you'll start having problems when the control system responds to noise.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4859" data-toggle = "popover">
				<p>user name : goncalo luis</p>
				<p> user reputation : 324</p>
				<p class = "tagcontent" id = "usertaginfo-4859">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4859" class = 'collapse'>
			</div>
				<textarea id = "speech-4859" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4859">
					<img id="start_img-4859" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4859">Comment</button>
			<br><div id = "ans-10124"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10124" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your question can only be answered specifically if we have the model parameters of your system. The most principled approach to answering your question would be to represent the highly nonlinear dynamics of your system in discrete time; then using this representation, a maximum step size for which stability is achieved can be determined--this will be maximum value that your system can successfully use. A minimum step size will be determined not by the dynamics of the system, but by the hardware that you are using--overrunning is what would concern me in this case.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10124" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-10124">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10124" class = 'collapse'>
			</div>
				<textarea id = "speech-10124" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10124">
					<img id="start_img-10124" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10124">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>