<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the learning (control) algorithm inside Cubli?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8094" class = "post">
			<h2>Question</h2>
			<div id="vote-8094" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 438</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the learning (control) algorithm inside Cubli?</h2>
<p>As in this video: <a href="https://www.youtube.com/watch?v=qce5Vguj5Jg" rel="nofollow">https://www.youtube.com/watch?v=qce5Vguj5Jg</a></p>

<p>In this new version (did not see the learning part in the past versions), with three to four trials, Cubli can learn to balance on a new surface.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8094" data-toggle = "popover">
				<p>user name : GaosiBai</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-8094">{'control': 1, 'None': 0, 'kalman-filter': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8094" class = 'collapse'>
			</div>
				<textarea id = "speech-8094" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8094">
					<img id="start_img-8094" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8094">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8098"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8098" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should start by reading their academic papers:</p>

<ul>
<li>M. Muehlebach, G. Mohanarajah, and R. D'Andrea, <a href="http://www.idsc.ethz.ch/content/dam/ethz/special-interest/mavt/dynamic-systems-n-control/idsc-dam/Research_DAndrea/Cubli/cubliCDC13.pdf" rel="nofollow">Nonlinear Analysis and Control of a Reaction Wheel-based 3D Inverted Pendulum</a>, in Proc. Conference on Decision and Control, CDC 2013 (Florence, Italy)</li>
<li>M. Gajamohan, M. Muehlebach, T. Widmer, and R. D'Andrea, <a href="http://www.idsc.ethz.ch/content/dam/ethz/special-interest/mavt/dynamic-systems-n-control/idsc-dam/Research_DAndrea/Cubli/Cubli_ECC2013.pdf" rel="nofollow">The Cubli: A Reaction Wheel-based 3D Inverted Pendulum</a>, in Proc. European Control Conference (Zurich, Switzerland), pp. 268-274, July 2013.</li>
<li>M. Gajamohan, M. Merz, I. Thommen, and R. D'Andrea, <a href="http://www.idsc.ethz.ch/content/dam/ethz/special-interest/mavt/dynamic-systems-n-control/idsc-dam/Research_DAndrea/Cubli/Cubli_IROS2012.pdf" rel="nofollow">The Cubli: A Cube that can Jump Up and Balance</a>, in Proc. IEEE/RSJ International Conference of Intelligent Robots and Systems (Algarve, Portugal), pp. 3722-3727, October 2012.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8098" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8098">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8098" class = 'collapse'>
			</div>
				<textarea id = "speech-8098" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8098">
					<img id="start_img-8098" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8098">Comment</button>
			<br><div id = "ans-11223"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11223" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A Linear quadratic regulator (LQR) controller with an accurate state-space representation is implemented in Gajamohan's first and second paper. A high quality motor controller with torque-control is also necessary for the system to work.</p>

<p>The learning algorithm is called gradient descent algorithm. It is used to find the local minimum, and is used to find the initial wheel velocities.  They mentioned in this robohub post[1] is to implement the learning algorithm, and is finally implemented by Mr. Muehlebach three years afterwards[2] in 2016.</p>

<p>[1] G. Mohanarajah and M. Waibel, "Cubli   A cube that can jump up, balance, and walk across your desk", Robohub, 2013, <a href="http://robohub.org/swiss-robots-cubli-a-cube-that-can-jump-up-balance-and-walk-across-your-desk/" rel="nofollow noreferrer">http://robohub.org/swiss-robots-cubli-a-cube-that-can-jump-up-balance-and-walk-across-your-desk/</a></p>

<p>[2] M. Muehlebach, and R. D'Andrea, "Nonlinear Analysis and Control of a Reaction Wheel-Based 3-D Inverted Pendulum", in IEEE Transactions on Control Systems Technology, 2016.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11223" data-toggle = "popover">
				<p>user name : Beck_Sisyphus</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-11223">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11223" class = 'collapse'>
			</div>
				<textarea id = "speech-11223" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11223">
					<img id="start_img-11223" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11223">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>