<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What can users do to address orphaned questions with newer~better answers?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-914" class = "post">
			<h2>Question</h2>
			<div id="vote-914" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 80</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What can users do to address orphaned questions with newer~better answers?</h2>
<p>Now that the dust is settling over Lion and iOS 5, there are a large amount of questions that had been asked in the past that had either a workaround or a not-quite direct answer, but now there is a very direct answer.</p>

<p>Two Examples:</p>

<p><a href="https://apple.stackexchange.com/questions/4567/how-can-i-keep-track-of-twitter-usernames-in-address-book">How can I keep track of Twitter usernames in Address Book?</a></p>

<p>Under Snow Leopard and previous, this was not a direct answer, though using URL as tweetie:@username is really ingenius. IIRC the official Twitter for iPhone app supports twitter:username, but I digress.</p>

<p>As of Lion and iOS 5, there is now a first-tier field for Twitter (and Facebook, and Flickr, and LinkedIn, and even MySpace). A user has <a href="https://apple.stackexchange.com/questions/4567/how-can-i-keep-track-of-twitter-usernames-in-address-book/31724#31724">answered the question directly</a> (admittedly with quite poor quality), but if this question is edited and really updated.</p>

<p><a href="https://apple.stackexchange.com/questions/9549/share-links-url-between-ipads">Share links (URLs) between iPads</a></p>

<p>This is rather simple: Use iMessage is a great answer. Not necessarily any different than mine, simply meaning, the best answer is some sort of direct text communication. But iMessage is almost guaranteed to be there, and is easier to set up than e-mail accounts of chat networks.</p>

<hr>

<p>I know moderators are not supposed to deal with answers, even if they are factually wrong, so I assumes this also means they cannot un-accept the current answer.</p>

<p>Is there another answer besides the obvious (but unreliable):</p>

<p>Hope the OP comes back, or, <a href="https://apple.stackexchange.com/questions/9763/cant-read-full-song-title-on-ipod-touch-or-iphone/9775#9775">hope the user with the accepted answer updates their answer</a>?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-914" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-914">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-914" class = 'collapse'>
			</div>
				<textarea id = "speech-914" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-914">
					<img id="start_img-914" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-914">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-915"  class = "post">
				<h2>Answer</h2>
			<div id="vote-915" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It's interesting that you ask this question, as this is one of the problems that exist with forums that SE was designed from the very beginning to mitigate against. The correct thing to do is simply to post another answer. People visiting the question needing an answer are likely to read all the answers anyway, including the up-to-date answer.</p>

<p>In cases where the number of answers is overwhelming enough to cause the new answer to disappear, an alternative is to post a comment on or edit the accepted answer or the answer that has the most votes. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-915" data-toggle = "popover">
				<p>user name : Kyle Cronin</p>
				<p> user reputation : 16727</p>
				<p class = "tagcontent" id = "usertaginfo-915">{'migration': 10, 'feature-request': 10, 'None': 484, 'users': 14, 'tags': 4, 'site-scope': 6, 'discussion': 136, 'status-completed': 23, 'bug': 23, 'blog': 8, 'mobile': 23, 'podcast-episode': 51, 'design': 23, 'itunes-connect': 6, 'stackexchange': 14, 'podcast': 15, 'twitter': 4, 'beta-essentials': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-915">Load Comments</button></br>
			<div id = "commentsection-915" class = 'collapse'>
			<div id = "comment-1667" class = "comment">
				<p>I would say that the abstraction between answers and comments were the fix/benefit that SE has over forums. Not the orphaned content problem. Also, I completely forgot that ANYBODY CAN EDIT ANY ANSWER! So they can fix the out of date answer. *facepalm*</p>
			</div>
			<div id = "comment-1678" class = "comment">
				<p>@JasonSalaz Editing an answer should not used to alter its meaning; if you edit the post to correct the spelling, or the formatting, that is fine, but changing an answer from "the sky is blue" to "the grass is green" is not what you are supposed to do.</p>
			</div>
			<div id = "comment-1679" class = "comment">
				<p>I don't know why you explicitly targeted me with that, and not Kyle.</p>
			</div>
			<div id = "comment-1680" class = "comment">
				<p>@JasonSalaz I don't know why you explicitly targeted me with that, and not kiamlaluno</p>
			</div>
			<div id = "comment-1681" class = "comment">
				<p>There were no @'s in my message.</p>
			</div>
			<div id = "comment-1682" class = "comment">
				<p>@JasonSalaz Precisely - when you don't include an at-username the system presumes that your intended recipient is the author of the post. kiamlaluno was never informed of your comment, and it's doubtful he even saw it. I, on the other hand, got a notification in my global inbox.</p>
			</div>
			<div id = "comment-1688" class = "comment">
				<p>That's not explicit, that's implicit.</p>
			</div>
			</div>
				<textarea id = "speech-915" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-915">
					<img id="start_img-915" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-915">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>