<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are hardware components to build a modular robot which consists of several 5x5x5cm modules?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8451" class = "post">
			<h2>Question</h2>
			<div id="vote-8451" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 144</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are hardware components to build a modular robot which consists of several 5x5x5cm modules?</h2>
<p>I am computer science student and I have no knowledge on robotics. </p>

<p>In my project, I am trying to find controllers for modular robots to make them do specific tasks using evolutionary techniques. For the moment I am doing this in a simulator, but if I want to make physical robots I have to know a priori the components to add to the robot, where do I place them, especially if modules of robot are small (cubes of 5*5*5cm)...</p>

<p>So my questions are:</p>

<ol>
<li>What are must have components to make physical robot ? (arduino, batteries, sensors, ...)</li>
<li>For a small robot how many batteries do I need ?</li>
<li>If modules have to communicate with wifi, do I have to put a wifi card on each module?</li>
<li>I want to add an IMU. Is its position important, I mean do I have to put it in the middle of the robot ?</li>
</ol>

<p>Thank you very much.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8451" data-toggle = "popover">
				<p>user name : djou</p>
				<p> user reputation : 9</p>
				<p class = "tagcontent" id = "usertaginfo-8451">{'control': 1, 'None': 0, 'force': 0, 'arduino': 0, 'mechanism': 0, 'simulation': 0, 'joint': 0, 'mobile-robot': 1, 'sensors': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8451">Load Comments</button></br>
			<div id = "commentsection-8451" class = 'collapse'>
			<div id = "comment-13735" class = "comment">
				<p>There is a list of dozens of modular robot designs at the Wikibook ["Robotics: Modular and fractal robots"](http://en.wikibooks.org/wiki/Robotics/Exotic_Robots/Modular_and_fractal_robots) and the Wikipedia article ["self-reconfiguring modular robot"](http://en.wikipedia.org/wiki/self-reconfiguring_modular_robot).
Would any of those designs be adequate for your application?
If not, please clarify what exactly you are looking for that goes beyond the available modular robot designs.</p>
			</div>
			</div>
				<textarea id = "speech-8451" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8451">
					<img id="start_img-8451" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8451">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8453"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8453" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Its very difficult to answer this question because you haven't asked specific enough questions.  Its very difficult for you to ask specific questions because you don't know the answers to the questions you have.</p>

<ol>
<li>That depends on what you want the robot to do, swim, walk, fly or wheels.</li>
<li>You need enough batteries to meet the power requirements of your robot for the time you want it to run.  Leave batteries till last.</li>
<li>That's your decision.  Do they need Wi-Fi, what about cheaper blue tooth, or could you have on transmitter per robot and all the cubes use wired comms, SPI, Serial or I2C?</li>
<li>If the IMU is a cube then it doesn't matter now, you can experiment and move it around based on you results.</li>
</ol>

<p>Don't limit yourself at this early stage.  You have said you are using an Arduino and then said you want Wi-Fi, what about an ESP8266 instead (I have seen something about mesh computing on them)  There are probably other more suitable processors out there, just leave that cube as "Processor" until you get things a bit firmer.  </p>

<p>It sounds a really interesting project</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8453" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-8453">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8453">Load Comments</button></br>
			<div id = "commentsection-8453" class = 'collapse'>
			<div id = "comment-13709" class = "comment">
				<p>thank you for your reply :) I want to my robot to walk, avoid obstacles and think by him self what are the moves to do depending on its environment. Like I said, the robot will be composed of a set of modules and a joint between each two modules. For communication, maybe I will try you suggestion (ESP8266 or wired). A processor board, batteries, motors, communication and sensors are these components enough ?</p>
			</div>
			<div id = "comment-13712" class = "comment">
				<p>one more question, Do I need a battery for each motor ? Because I will have for one robot maybe 10 to 15 joints, so 10 to 15 motors.</p>
			</div>
			</div>
				<textarea id = "speech-8453" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8453">
					<img id="start_img-8453" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8453">Comment</button>
			<br><div id = "ans-8459"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8459" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree that this is quite an interesting project. There are several concerns here.</p>

<ol>
<li>I think you need to check the dimensions of all the small arduinos to determine whether it can fit in your modules. If not, you probably have to create your own circuit with atmega chip as the controller.</li>
<li>The positioning of the IMU is not crucial if you are only concerned about the robot's orientation like yaw, pitch and roll. But if you want to measure angular velocity and angular acceleration, then the positioning is important because you have to take into account the centripetal force effect on the IMU.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8459" data-toggle = "popover">
				<p>user name : goddar</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-8459">{'control': 3, 'None': 2, 'power': 0, 'arduino': 0, 'battery': 2, 'microcontroller': 0, 'wheeled-robot': 0, 'imu': 1, 'sensor-fusion': 1, 'mobile-robot': 4, 'electronics': 0, 'sensors': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8459">Load Comments</button></br>
			<div id = "commentsection-8459" class = 'collapse'>
			<div id = "comment-13710" class = "comment">
				<p>thanks for your answer. Is the atmega chip smaller then Arduino and do the same job as arduino? If I will measure angular velocity and angular acceleration, in general the IMU should be placed in the center ?</p>
			</div>
			<div id = "comment-13713" class = "comment">
				<p>Yes, atmega is the brain for the arduino. Arduino makes it easy for us by laying out most of the pins in socket form.  I've seen some modular cube-shaped robot before and they are tiny. So there is no way you can fit an arduino inside. Have you checked on nano, pro mini? Maybe other manufacturers do make some smaller boards based on atmega. Feel free to correct me on this because I am not an expert and I am still learning.</p>
			</div>
			<div id = "comment-13714" class = "comment">
				<p>To make things easier for you, the IMU should be placed at the axis of rotation.</p>
			</div>
			</div>
				<textarea id = "speech-8459" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8459">
					<img id="start_img-8459" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8459">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>