<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is on-topic and off-topic here?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-114" class = "post">
			<h2>Question</h2>
			<div id="vote-114" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 125</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is on-topic and off-topic here?</h2>
<p>One of the essential components of the FAQ will be the list of on-topic and off-topic subjects for questions. </p>

<p>Following the model used at <a href="https://english.meta.stackexchange.com/questions/273/what-is-on-topic-and-off-topic-here">this English L&amp;U meta question</a>, let's use this question to vote on what topics should be on and off topic at Apple SE.</p>

<p>In other words, post answers that are of the form:</p>

<blockquote>
  <p><strong>{On-topic}</strong>  </p>
  
  <p>One subject area you suggest to be considered on-topic</p>
</blockquote>

<p>-- <strong>or</strong> --</p>

<blockquote>
  <p><strong>{Off-topic}</strong></p>
  
  <p>One subject area you suggest to be considered off-topic</p>
</blockquote>

<p>Then upvote and downvote any answers as you see fit.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-114" data-toggle = "popover">
				<p>user name : Jonik</p>
				<p> user reputation : 2453</p>
				<p class = "tagcontent" id = "usertaginfo-114">{'site-scope': 1, 'None': 32, 'beta': 13, 'discussion': 29, 'beta-essentials': 16}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-114" class = 'collapse'>
			</div>
				<textarea id = "speech-114" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-114">
					<img id="start_img-114" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-114">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-115"  class = "post">
				<h2>Answer</h2>
			<div id="vote-115" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>{Off-topic}</strong></p>

<p>Stock performance and financial outlook of Apple Inc.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-115" data-toggle = "popover">
				<p>user name : Jonik</p>
				<p> user reputation : 2453</p>
				<p class = "tagcontent" id = "usertaginfo-115">{'site-scope': 1, 'None': 32, 'beta': 13, 'discussion': 29, 'beta-essentials': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-115" class = 'collapse'>
			</div>
				<textarea id = "speech-115" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-115">
					<img id="start_img-115" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-115">Comment</button>
			<br><div id = "ans-116"  class = "post">
				<h2>Answer</h2>
			<div id="vote-116" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>{On-topic}</strong></p>

<p>End-user level problems/dilemmas with OS X</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-116" data-toggle = "popover">
				<p>user name : Jonik</p>
				<p> user reputation : 2453</p>
				<p class = "tagcontent" id = "usertaginfo-116">{'site-scope': 1, 'None': 32, 'beta': 13, 'discussion': 29, 'beta-essentials': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-116" class = 'collapse'>
			</div>
				<textarea id = "speech-116" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-116">
					<img id="start_img-116" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-116">Comment</button>
			<br><div id = "ans-117"  class = "post">
				<h2>Answer</h2>
			<div id="vote-117" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>{On-topic}</strong></p>

<p>[Features of / problems with] Apple hardware and devices<br>
(E.g. Mac Pro, iBook, iPod shuffle, Magic Trackpad)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-117" data-toggle = "popover">
				<p>user name : Jonik</p>
				<p> user reputation : 2453</p>
				<p class = "tagcontent" id = "usertaginfo-117">{'site-scope': 1, 'None': 32, 'beta': 13, 'discussion': 29, 'beta-essentials': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-117" class = 'collapse'>
			</div>
				<textarea id = "speech-117" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-117">
					<img id="start_img-117" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-117">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>