<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between Task-Level and Joint-Level Control Systems?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1253" class = "post">
			<h2>Question</h2>
			<div id="vote-1253" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 417</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between Task-Level and Joint-Level Control Systems?</h2>
<p>While doing a literature review of mobile robots in general and mobile hexapods in particular I came across a control system defined as "Task level open loop" and "Joint level closed loop" system.</p>

<blockquote>
  <p>The present prototype robot has no external sensors by
  which its body state may be estimated. Thus, in our simulations and experiments, we have used joint space closed
  loop ( proprioceptive ) but task space open loop control
  strategies.</p>
</blockquote>

<p>The relevant paper is <a href="http://ai.eecs.umich.edu/RHex/Papers/ijrr2001.pdf" rel="nofollow">A simple and highly mobile hexapod</a></p>

<p>What is the meaning of the terms "joint-level" and "task-level" in the context of the Rhex hexapod?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1253" data-toggle = "popover">
				<p>user name : Naresh</p>
				<p> user reputation : 381</p>
				<p class = "tagcontent" id = "usertaginfo-1253">{'control': 3, 'None': 14, 'walking-robot': 8, 'rcservo': 6, 'torque': 2, 'pid': 5, 'wheeled-robot': 2, 'legged': 5, 'gait': 2, 'motor': 8, 'mobile-robot': 8, 'stepper-motor': 2, 'navigation': 6, 'hexapod': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1253">Load Comments</button></br>
			<div id = "commentsection-1253" class = 'collapse'>
			<div id = "comment-2813" class = "comment">
				<p>I would appreciate a detailed question with specific problems.</p>
			</div>
			<div id = "comment-2814" class = "comment">
				<p>I hope this edit is sufficient. I am pretty confused as to what sort of details I should provide. Especially since this was part of a literature review.</p>
			</div>
			<div id = "comment-2815" class = "comment">
				<p>First: Put a question in the body. Then: Summarize the question in the title. Here, I'll do it for you.</p>
			</div>
			<div id = "comment-2816" class = "comment">
				<p>Thanks *Josh* and *Shahbaz*, your edits have improved this question substantially. Naresh, you may want to read [ask] for tips on how to help make your questions better in the future.</p>
			</div>
			<div id = "comment-2817" class = "comment">
				<p>+1, those edits were a big help.</p>
			</div>
			</div>
				<textarea id = "speech-1253" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1253">
					<img id="start_img-1253" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1253">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1254"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1254" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>These are just terms to describe the "layers" of control on the robot.  The "joint level" means the position of each actuator (leg), and the "task level" means the current goal of the robot (like go forward, go east, go to location X, etc).  </p>

<p>This paragraph is about sensing.  There are (apparently) position sensors in all of the leg joints, so the robot is capable of <a href="http://en.wikipedia.org/wiki/PD_controller">closed loop</a> control at that level -- no user intervention needed.  ("Proprioceptive" is a $5 word for "I know where my legs are because I can sense them".)</p>

<p>However, having no external sensors means that the robot can't tell where it is in relation to the world and as a result it can't determine what action it should take to accomplish its goals.  So, it must run as <a href="http://en.wikipedia.org/wiki/Open-loop_controller">open loop</a>.  Presumably this means that they are either giving it a pre-scripted set of actions, or directing it via remote control.  </p>

<p>So, the task-level control handles the "go forward" concept, but the joint-level control handles the uneven terrain underfoot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1254" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1254">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1254">Load Comments</button></br>
			<div id = "commentsection-1254" class = 'collapse'>
			<div id = "comment-2831" class = "comment">
				<p>servos typically go to a position that the electronics specify. so likely there are no sensors, just faith that the actuators are moving to the position they are told to. of course mechanical resistance could work against them. the 'proprioception' is implied by where the robot 'expects' the servos to be.</p>
			</div>
			<div id = "comment-2841" class = "comment">
				<p>After the passage quoted in the question, they go on to say that "All controllers generate periodic desired trajectories for each hip joint, which are then enforced by six local PD controllers (one for each individual hip actuator)."  PD control requires sensing.</p>
			</div>
			</div>
				<textarea id = "speech-1254" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1254">
					<img id="start_img-1254" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1254">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>