<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between Kinect for Windows and Kinect for XBox?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-654" class = "post">
			<h2>Question</h2>
			<div id="vote-654" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">32</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 18151</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between Kinect for Windows and Kinect for XBox?</h2>
<p>As I see there is a huge price gap between the two \$223 vs \$99 (at amazon).</p>

<p>My intention is to use one of those from Ubuntu linux to perform depth sensing, navigation etc. and naturally I prefer the cheaper. 
However I am not sure if I miss some important point while betting on the Kinect for Xbox version. </p>

<p>As it seems the Windows version is <a href="http://www.pcworld.com/article/247724/kinect_for_windows_available_february_1_but_overpriced_at_249.html" rel="nofollow noreferrer">overpriced</a> because it has the license for development. <a href="https://gaming.stackexchange.com/questions/73290/can-kinect-for-windows-work-on-an-xbox-360">Here</a> it is stated that there are internal differences but without exact details (The minimum sensing distance seems to be better for Windows version.).</p>

<p>Could anyone give a comparison chart?
It would be good to know about</p>

<ul>
<li>Connectivity: USB, special connector, ... .</li>
<li>Hardware differences: are they the same or do they really differ in weight, energy consumption, speed, sensing range, ...?</li>
<li>Driver: could I use Xbox version under Ubuntu?</li>
<li>API usage: could I develop on Xbox version, could I use the same/similar API on both, is the API for Xbox mature enough?</li>
<li>License: is it against the license of Xbox version to develop for home/hobby/educational use?</li>
</ul>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-654" data-toggle = "popover">
				<p>user name : rics</p>
				<p> user reputation : 551</p>
				<p class = "tagcontent" id = "usertaginfo-654">{'kinect': 32, 'multi-agent': 3, 'None': 25, 'sensors': 32}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-654">Load Comments</button></br>
			<div id = "commentsection-654" class = 'collapse'>
			<div id = "comment-846" class = "comment">
				<p>Related question: http://robotics.stackexchange.com/questions/39/id-like-to-use-gesture-based-input-for-my-robot-what-are-the-pros-and-cons-bet/482#482</p>
			</div>
			</div>
				<textarea id = "speech-654" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-654">
					<img id="start_img-654" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-654">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-655"  class = "post">
				<h2>Answer</h2>
			<div id="vote-655" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to <a href="http://www.imaginativeuniversal.com/blog/post/2012/02/14/Why-the-Kinect-for-Windows-Sensor-Costs-2424999.aspx">this article</a> the hardware is almost the same, only the usb/power cord is different. Even the minimum sensing distance difference is not hardware-based it's only a firmware-based difference.</p>

<p>You can use the cheaper hardware for developing programs using Kinect for Windows SDK, but your customers need the more expensive hardware since Kinect for Windows applications will not work with the cheaper hardware.</p>

<p>The article also states, that</p>

<blockquote>
  <p>If you want to use one of the non-Microsoft frameworks + drivers for
  writing Kinect enabled applications such as OpenNI, you are not
  required to use the new Kinect for Windows hardware.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-655" data-toggle = "popover">
				<p>user name : asalamon74</p>
				<p> user reputation : 211</p>
				<p class = "tagcontent" id = "usertaginfo-655">{'None': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-655" class = 'collapse'>
			</div>
				<textarea id = "speech-655" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-655">
					<img id="start_img-655" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-655">Comment</button>
			<br><div id = "ans-660"  class = "post">
				<h2>Answer</h2>
			<div id="vote-660" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">26</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The two pieces of hardware are virtually identical, <a href="https://robotics.stackexchange.com/a/655/37">as asalamon74 points out</a>.  There are only a few hardware differences, with a larger set of restrictions based on firmware.</p>

<p>To extend on what asalamon74 has already pointed out, here are some direct answers to your bullet points:</p>

<ul>
<li>Connectivity for both devices are USB.  If you get a Kinect for Xbox as part of a bundle (i.e., with an Xbox 360) you will need to buy an adapter, <a href="http://rads.stackoverflow.com/amzn/click/B004IXRXGY" rel="nofollow noreferrer">available from Amazon</a> and others.  The adapter comes with when a Kinect for Xbox is sold individually (due to older Xboxs not having the required port).</li>
<li>Hardware is virtually the same.  Kinect for Windows has a shorter USB cable.  Kinect for Windows may have a better microphone array, but I can't be sure of that.  Other then that, they are basically the same.</li>
<li>Driver/API is the same for both devices.  The official <a href="http://www.microsoft.com/en-us/kinectforwindows/" rel="nofollow noreferrer">Kinect for Windows SDK</a>, <a href="http://openkinect.org/wiki/Main_Page" rel="nofollow noreferrer">OpenKinect SDK</a> and <a href="http://openni.org/" rel="nofollow noreferrer">OpenNI SDK</a> will all work with both devices.</li>
<li>License allows you to use the Kinect for Xbox for anything except a deployed (commercial) application.</li>
</ul>

<p>I use both for development.  I have two Kinect for <em>Windows</em> that I use at work and I have a Kinect for <em>Xbox</em> at home.  I bring work home with me frequently and I'm able to develop with either version of the hardware, depending on where I am.</p>

<p>There are a few firmware differences that can cause a bit of a hick-up in development.  For example, Kinect for Xbox does not support "near mode" tracking.  Of course, it only effects you if you're trying to use those features.</p>

<p>Microsoft has said that they are actively developing the SDK with the Kinect for Windows in mind.  Although functionality is very close now, that is not necessarily true in the future.  Microsoft could very easily flip a switch to disallow Kinect for Xbox to be used in SDK v1.7 -- unlikely, but possible.  Although more expensive, Kienct for Windows is a safer buy.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-660" data-toggle = "popover">
				<p>user name : Evil Closet Monkey</p>
				<p> user reputation : 376</p>
				<p class = "tagcontent" id = "usertaginfo-660">{'None': 26}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-660">Load Comments</button></br>
			<div id = "commentsection-660" class = 'collapse'>
			<div id = "comment-7480" class = "comment">
				<p>In the Kinect 2.0, do you if you can use the weight sensing in Windows or if there is a firmware restriction on it?</p>
			</div>
			<div id = "comment-9606" class = "comment">
				<p>+1 - good points. BTW, you have a typo in the last line... _Kienct_ :-)</p>
			</div>
			</div>
				<textarea id = "speech-660" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-660">
					<img id="start_img-660" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-660">Comment</button>
			<br><div id = "ans-1093"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1093" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From Microsoft site:
What's the difference between the Kinect for Windows sensor and the Kinect for Xbox 360 sensor?</p>

<p>The Kinect for Windows sensor is a fully-tested and supported Kinect experience on Windows with features such as  near mode,  skeletal tracking control, API improvements, and improved USB support across a range of Windows computers and Windows-specific 10  acoustic models.</p>

<p>The sensor was specifically designed to be used with computers, and includes a shortened USB cable to ensure reliability across a broad range of computers. Kinect for Xbox 360 was built for and tested with the Xbox 360 only, not with any other platform, which is why it is not licensed for general commercial use, supported, or under warranty when used on any other platform.</p>

<p>Microsoft has a large team of engineers that is dedicated to continual improvements of the hardware and software associated with Kinect for Windows, and is committed to providing ongoing access to Microsoft's deep investment in human tracking and speech recognition.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1093" data-toggle = "popover">
				<p>user name : Kishore</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-1093">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1093" class = 'collapse'>
			</div>
				<textarea id = "speech-1093" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1093">
					<img id="start_img-1093" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1093">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>