<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the best way to plug in more than 3 stepper motors into a Arduino Uno board?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10132" class = "post">
			<h2>Question</h2>
			<div id="vote-10132" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 60</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the best way to plug in more than 3 stepper motors into a Arduino Uno board?</h2>
<p>I'm developing a 5 axis robotic arm with stepper motors and I am getting around to ordering most of my parts. I plan on using 5 <a href="http://rads.stackoverflow.com/amzn/click/B00RCTW5SM" rel="nofollow">EasyDriver</a> shields to drive all of my motors. I am also planning on using just a basic arduino uno board to go with it. So here are my questions:<br>
Is there any alternative instead of buying a ton of Easy Drivers and connecting all of them to a single board?<br>
And if there isn't, then how would the setup look to use more than 3 stepper motors? This is the most <a href="http://cdn.instructables.com/F8Z/AAO2/I3KBOWBE/F8ZAAO2I3KBOWBE.MEDIUM.jpg" rel="nofollow">useful picture</a> I found, however It only shows 3 and while I know I could plug in a 4th I am unsure whether I could plug in a 5th.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10132" data-toggle = "popover">
				<p>user name : Henry Jeff</p>
				<p> user reputation : 15</p>
				<p class = "tagcontent" id = "usertaginfo-10132">{'actuator': 1, 'None': 0, 'stepper-motor': 2, 'robotic-arm': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10132" class = 'collapse'>
			</div>
				<textarea id = "speech-10132" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10132">
					<img id="start_img-10132" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10132">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10164"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10164" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There probably are boards that can handle 5 motors, but one of them is probably going to cost more than 5 of the boards you have identified.  Also when you blow a component on the big board you loose all 5 motors.  I don't know what your current requirements are but there may be smaller and cheaper boards that would do the job. (<a href="http://rads.stackoverflow.com/amzn/click/B0166QZ5HO" rel="nofollow" title="Motor driver">Other driver??</a>)</p>

<p>In my opinion you would be better using multiple simple boards, it will make your code easier, your layout easier and leave you room to expand more easily.</p>

<p>I would mount your drivers on a single piece of strip board using Pins and Sockets and then bring all the connections out to an edge and use a 'ribbon cable' to hook it up to your UNO.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10164" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-10164">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10164" class = 'collapse'>
			</div>
				<textarea id = "speech-10164" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10164">
					<img id="start_img-10164" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10164">Comment</button>
			<br><div id = "ans-10545"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10545" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Each EasyDriver takes two digital inputs - step and direction. These do not need any particular protocol so you can use any pin capable of digital output. </p>

<p>The Arduino uno has 14 digital outputs and 6 analogue inputs which also can be configured as digital outputs, so you could drive up to ten of the boards from an Arduino without any other hardware. </p>

<p>Just connect the two digital inputs for each board to two more digital pins of the Arduino, for example 8 and 9 for board four and 10 and 11 for board five. This leaves 0 and 1 clear for serial communications. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10545" data-toggle = "popover">
				<p>user name : Pete Kirkham</p>
				<p> user reputation : 357</p>
				<p class = "tagcontent" id = "usertaginfo-10545">{'None': 19}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10545" class = 'collapse'>
			</div>
				<textarea id = "speech-10545" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10545">
					<img id="start_img-10545" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10545">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>