<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the link between a quadcopter transmitter pulse and the roll~pitch~yaw angles?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6822" class = "post">
			<h2>Question</h2>
			<div id="vote-6822" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 183</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the link between a quadcopter transmitter pulse and the roll~pitch~yaw angles?</h2>
<p>I want to design a data logger for my quadcopter using the Arduino Mega board. I want to record the roll, pitch and yaw angles each second or 5 seconds, so they can be viewed later after a flight has ended. There's just one thing I don't understand, and that's how to translate the pitch/roll/yaw angles into a pulse of a specific length that the flight controller receives.</p>

<p>For example, when I press the control for the pitch, the transmitter sends out a pulse to the receiver of the drone and the speed of the drones' motors change accordingly for it to pitch either forward or backward. I can tap into these commands between the flight controller and the transmitter, and be able to record the length of the pulse that was sent out. However, what is the link between the pitch angle and the size of the pulse? Basically, how can I convert the pulse that was recorded by the Arduino board and convert it into the pitch angle in degrees? </p>

<p>Generally, for the transmitter I use, a 1500us-pulse means zero pitch; from 1501-2000 means pitch forward, and from 1000-1499 means pitch backwards (of course, the actual values vary slightly, but this is just a general reference for this question). So for instance, if I sent a pulse of 1400us, how would that translate into an angle in degrees? What's the formula to convert it?</p>

<p>I hope I'm clear, and if this question sounds stupid, please excuse me, but I haven't been able to find good information on it!</p>

<p>Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6822" data-toggle = "popover">
				<p>user name : Kaya311</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-6822">{'quadcopter': 0, 'None': 0, 'gps': 0, 'arduino': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6822" class = 'collapse'>
			</div>
				<textarea id = "speech-6822" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6822">
					<img id="start_img-6822" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6822">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6866"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6866" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There isn't exactly a predictable correspondence of the two. I mean, you've already said that 1500us is the mid point. Values above or below that are really just amounts of <em>pressure</em> to apply to the model in order to move it. The actual angle will depend very much on how you have tuned your PID, but will also be influenced by the wind and the weather. </p>

<p>All you can really do is log the values of the width of the pulse which you can translate to how far the stick has been moved. Beyond that I wouldn't rely too much on 'angles'.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6866" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-6866">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6866" class = 'collapse'>
			</div>
				<textarea id = "speech-6866" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6866">
					<img id="start_img-6866" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6866">Comment</button>
			<br><div id = "ans-7027"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7027" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The pulse you're talking about is <a href="http://en.wikipedia.org/wiki/Pulse-position_modulation" rel="nofollow">pulse position modulation</a>.  Whether this is being used to set the throttle speed of each of your motors (separately), or to convey some other meaning to your flight controller is unclear from your question (i.e. I'm not sure if the PPM signal is being evaluated as a "desired forward thrust" which is in turn being converted into separate motor signals). </p>

<p>In any case, the pitch angle will depend on the motor speeds (relative to each other) over time, and the motor speeds come from the flight controller (which may or may not be doing its own calculation) and the flight controller gets its data from your transmitter pulse. </p>

<p>So you may not be able to log this by looking at your transmitter pulses.  I would instead look into an IMU to directly measure the pitch angles.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7027" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-7027">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7027" class = 'collapse'>
			</div>
				<textarea id = "speech-7027" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7027">
					<img id="start_img-7027" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7027">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>