<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the current state of the Google Self Driving Car Project?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-403" class = "post">
			<h2>Question</h2>
			<div id="vote-403" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 120</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the current state of the Google Self Driving Car Project?</h2>
<p>I am aware of the legislation's in Nevada, but what is happening with the technology currently. When is it expected to be commercialized ?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-403" data-toggle = "popover">
				<p>user name : asheeshr</p>
				<p> user reputation : 255</p>
				<p class = "tagcontent" id = "usertaginfo-403">{'quadcopter': 4, 'None': 8, 'pid': 9, 'ugv': -1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-403">Load Comments</button></br>
			<div id = "commentsection-403" class = 'collapse'>
			<div id = "comment-465" class = "comment">
				<p>Are you expecting an authoritative answer to this question here?</p>
			</div>
			<div id = "comment-468" class = "comment">
				<p>Sorry AshRj but *Robotics Stack Exchange* is really much better suited to [practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/faq#dontask). I can't see how this question can be made less temporally localised (see the [discussion on meta](http://meta.robotics.stackexchange.com/q/91/37)) So I'm voting to close.</p>
			</div>
			</div>
				<textarea id = "speech-403" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-403">
					<img id="start_img-403" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-403">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-414"  class = "post">
				<h2>Answer</h2>
			<div id="vote-414" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Google themselves have suggested that fully self driving cars will not be around for a decade. They have cars that can drive themselves but the entire standard is not there yet. It's difficult to take any risks with this project because it puts so many lives at risk. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-414" data-toggle = "popover">
				<p>user name : Timothy Ford</p>
				<p> user reputation : 98</p>
				<p class = "tagcontent" id = "usertaginfo-414">{'None': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-414" class = 'collapse'>
			</div>
				<textarea id = "speech-414" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-414">
					<img id="start_img-414" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-414">Comment</button>
			<br><div id = "ans-421"  class = "post">
				<h2>Answer</h2>
			<div id="vote-421" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There's a good, if slightly overly optimistic study done by KPMG and the Center for Automotive Research called <a href="http://www.kpmg.com/US/en/IssuesAndInsights/ArticlesPublications/Documents/self-driving-cars-next-revolution.pdf" rel="nofollow">Self Driving Cars: the Next Revolution</a>.  You'll be seeing more and more semi-autonomous features within the decade, starting in higher end vehicles (all the major automakers are working on such systems and we already have advanced cruise control and lane departure warning).  However full autonomy is still a fair ways off, for cost as well as perception and institutional/legal issues.  One of the problems with commercializing Google's car is that the sensor systems cost over $250,000 (see <a href="http://www.businessinsider.com/google-self-driving-car-sensor-cost-2012-9" rel="nofollow">http://www.businessinsider.com/google-self-driving-car-sensor-cost-2012-9</a>).  Even with economies of scale, we're a ways off from that system being affordable. </p>

<p>Google's accomplishments are VERY impressive.  They've expanded to more vehicle types and more uses for testing (e.g., commuting to and from Google).  They still don't work in all environments (snow being one issue).  </p>

<p>By the way, though, California and Florida have joined Nevada in passing laws regulating experimental use of autonomous vehicles on public roads.  </p>

<p>Hope this gives you some info.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-421" data-toggle = "popover">
				<p>user name : ViennaMike</p>
				<p> user reputation : 353</p>
				<p class = "tagcontent" id = "usertaginfo-421">{'None': 15, 'sensors': 11, 'compass': 11}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-421">Load Comments</button></br>
			<div id = "commentsection-421" class = 'collapse'>
			<div id = "comment-476" class = "comment">
				<p>I am aware of some of the technologies that we might see in the next decade on the roads like Project SARTRE. How do you know about the snow part ?</p>
			</div>
			<div id = "comment-503" class = "comment">
				<p>I've seen it in several places.  A Google blog post from one of their engineers states "to provide the best experience we can, we ll need to master snow-covered roadways, interpret temporary construction signals and handle other tricky situations that many drivers encounter."  http://googleblog.blogspot.co.uk/2012/08/the-self-driving-car-logs-more-miles-on.html</p>
			</div>
			<div id = "comment-504" class = "comment">
				<p>That is a few months old though. Situation could have improved ..</p>
			</div>
			</div>
				<textarea id = "speech-421" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-421">
					<img id="start_img-421" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-421">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>