<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the scope of Electronics Engineering in Robotics~Automation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6532" class = "post">
			<h2>Question</h2>
			<div id="vote-6532" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1338</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the scope of Electronics Engineering in Robotics~Automation?</h2>
<p>I am beginner in Robotics .I have taken admission for Electronics engineering one year back as we don't have specifically Robotics Engineering Branch in my Country.Now I am suffering from questions like what is the scope of Electronics( <strong>not Electrical</strong>) Engineering in Robotics/ Automation?I am <strong>unable to distinguish between the role of Electronics engineer and Computer Engineer</strong> in Robotics <strong>as in both cases programming is required</strong></p>

<p><strong>Also,if I don't like to do programming(coding),are there any other options to stick to Robotics / Automation field as per my branch(Electronics Engineering ) is concerned?</strong>. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6532" data-toggle = "popover">
				<p>user name : ramdas1989</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-6532">{'control': 1, 'None': 0, 'electronics': 1, 'embedded-systems': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6532" class = 'collapse'>
			</div>
				<textarea id = "speech-6532" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6532">
					<img id="start_img-6532" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6532">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6546"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6546" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Robotics can be currently broken down in three main components: <strong>mechanics</strong>, <strong>electronics</strong> and then ... comes the fuzzy part, that is where there was used to be just <strong>computer science</strong> while in the recent past we see that many contributions are capitalized by people of diverse expertises, ranging from machine learning to even psychology (because robotics is getting a technology that can be enjoyed by a broader audience).</p>

<p>An <strong>electronic engineer</strong> is usually required to design the embedded boards that control the robot actuation, gather data from the sensors and exchange such information over the bus connecting the distributed system. His duty is thus mostly to deal with the <strong>hardware design</strong> of the boards so as the coding of the <strong>firmware</strong>, which is the special software (often written in C/C++) running on the boards that performs the activities outlined above on a regular basis (scheduling). This is the classical scenario.</p>

<p>Nonetheless, as an electronic engineer normally gets graduated with a solid background also in those disciplines that stand at higher level with respect to the world of physical boards (i.e. system identification, control theory, signal processing ...), he can apply his knowledge and develop it further (perhaps with a master and/or PhD) to problems and topics such as motor coordination, autonomous learning, grasping, vision processing, navigation, that all belong somehow to that third fuzzy area. In this zone of the "mind", being able to code software is somehow mandatory, whereas for the <strong>bodyware</strong> of the robot, you can focus just on the electronic design and neglect the firmware.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6546" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-6546">{'None': 99}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6546">Load Comments</button></br>
			<div id = "commentsection-6546" class = 'collapse'>
			<div id = "comment-9402" class = "comment">
				<p>Wow, and all along I thought it took software.</p>
			</div>
			</div>
				<textarea id = "speech-6546" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6546">
					<img id="start_img-6546" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6546">Comment</button>
			<br><div id = "ans-6548"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6548" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>That is a broad question, more philosophical than anything useful.</p>

<p>It is the same as asking what does it take to make a fish dinner?  A fisherman will reply bait and a pole.  The chef will talk about iron skillets and seasonings. Someone eating the fish wants a knife and fork with white wine.</p>

<p>My goal in life at the moment is to drive hobby robotics to the point there is NO electrical engineer required, because you just buy off the shelf parts. Whether or not I achieve that remains to be seen, but I can happily say I see more and more of it every day.  Will it carry through to big business?  When was the last time you saw a custom computer being used? Yeah, a few still exist, but it certainly is not the norm.</p>

<p>That being said, my opinion (not fact) is that robotics is more about implementing software, using readily available already designed and available components.  Designing hardware for specialized applications and new products is also a part of SOME robotics.</p>

<p>If you desire to work with electronics, and avoid programming why would you want to limit yourself to robotics in a learning context? In any case, you can always seek a job with a robotics company, just like a machinist or even a chemist might; I have never heard a machinist say "I only want to learn robot machining." Sounds silly doesn't it?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6548" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-6548">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6548">Load Comments</button></br>
			<div id = "commentsection-6548" class = 'collapse'>
			<div id = "comment-9403" class = "comment">
				<p>It may seem implausible, but hardware designers and software developers often "hate" each other, as it happens in a never ending flame war. Pretty much like the hatred that ignites the rivalry among mechanics and electronics, physics and math :) ... Different interests, different mindsets, maybe the same love for robotics. Then, I wouldn't call ADVANCED robotics - where you cannot content yourself with off-the-shelf parts - just SOME robotics.</p>
			</div>
			<div id = "comment-9404" class = "comment">
				<p>Point taken. Now if someone would just make me a part I could buy without having to learn and do it all myself :)</p>
			</div>
			</div>
				<textarea id = "speech-6548" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6548">
					<img id="start_img-6548" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6548">Comment</button>
			<br><div id = "ans-11967"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11967" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This answer is specifically meant to help OP. Assuming you are from developing country like India, I can say that the current implementations of robotics is bleak (apart from some nice stuffs in cities like Bangalore and other metropolitan cities; like Team Indus trying to launch a rover on moon, Team Dhanvantari building IoT devices etc).</p>

<p>So, I would suggest something like trying to get some hands-on experience during free time. (Say, trying to control a remote robotic arm just by sitting and clicking something in your browser and developing codes from scratch and trying even better stuffs like RTOS for arm and learning the development of beautiful web interface at the same time; Personally I wish I had learnt RTOS and web development also during college days) That way, even if robotics/automation goes out of hand, still there will be some web development as a by-product 'scope'.</p>

<p>P.S.: I would edit this and add more info if needed.</p>

<p>Reference: Google and <a href="https://www.quora.com/What-is-the-future-scope-of-robotics-in-India" rel="nofollow noreferrer">https://www.quora.com/What-is-the-future-scope-of-robotics-in-India</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11967" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-11967">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11967" class = 'collapse'>
			</div>
				<textarea id = "speech-11967" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11967">
					<img id="start_img-11967" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11967">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>