<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is inverse depth (in odometry) and why would I use it?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6334" class = "post">
			<h2>Question</h2>
			<div id="vote-6334" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2763</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is inverse depth (in odometry) and why would I use it?</h2>
<p>Reading some papers about visual odometry, many use inverse depth. Is it only the mathematical inverse of the depth (meaning 1/d) or does it represent something else. And what are the advantages of using it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6334" data-toggle = "popover">
				<p>user name : Mehdi</p>
				<p> user reputation : 394</p>
				<p class = "tagcontent" id = "usertaginfo-6334">{'control': 1, 'odometry': 12, 'None': 15, 'computer-vision': 10, 'mobile-robot': 2, 'power': 1, 'battery': 1, 'navigation': 2, 'cameras': 7, 'torque': 1, 'lidar': 5, 'joint': 2, 'slam': 12, 'magnetometer': 2, 'laser': 1, 'speech-processing': 3, 'rangefinder': 4, 'actuator': 1, 'sensors': 4, 'digital-audio': 0, '3d-reconstruction': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6334" class = 'collapse'>
			</div>
				<textarea id = "speech-6334" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6334">
					<img id="start_img-6334" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6334">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6335"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6335" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Features like the sun and clouds and other things that are very far off would have a distance estimate of inf. This can cause a lot of problems. To get around it, the inverse of the distance is estimated. All of the infs become zeros which tend to cause fewer problems.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6335" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-6335">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6335">Load Comments</button></br>
			<div id = "commentsection-6335" class = 'collapse'>
			<div id = "comment-17580" class = "comment">
				<p>donot quite understand, if I'm using a kinect device, the output values for invalid area are internally set to **0**, either because of too near or too far or reflection or disparity. Does that have sth. to do with inverse depth?</p>
			</div>
			</div>
				<textarea id = "speech-6335" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6335">
					<img id="start_img-6335" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6335">Comment</button>
			<br><div id = "ans-8383"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8383" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Davison's paper introducing the method is easy enough to understand:</p>

<p><a href="https://www.doc.ic.ac.uk/~ajd/Publications/civera_etal_tro2008.pdf" rel="nofollow">Inverse Depth Parametrization for Monocular SLAM</a> by Javier Civera, Andrew J. Davison, and J. M. Mart nez Montiel <a href="http://dx.doi.org/10.1109/TRO.2008.2003276" rel="nofollow">DOI: 10.1109/TRO.2008.2003276</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8383" data-toggle = "popover">
				<p>user name : freakpatrol</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-8383">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8383">Load Comments</button></br>
			<div id = "commentsection-8383" class = 'collapse'>
			<div id = "comment-13478" class = "comment">
				<p>Be sure to add some kind of brief summary to your answer. This doesn't really answer the user's question, it just links to a paper, and that paper may not be available at that link later!</p>
			</div>
			<div id = "comment-13480" class = "comment">
				<p>Also, it's a good idea to mention the title of the paper, and ideally a DOI, since that means that it will be easier to find in the future, if that specific URL dies.</p>
			</div>
			</div>
				<textarea id = "speech-8383" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8383">
					<img id="start_img-8383" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8383">Comment</button>
			<br><div id = "ans-8398"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8398" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The inverse depth parameterisation represents a landmark's distance, d, from the camera exactly as it says, as proportional to 1/d within the estimation algorithm. The rational behind the approach is that, filtering approaches such as the extended Kalman filter (EKF) make an assumption that the error associated with features is Gaussian. </p>

<p>In a visual odometry setting the depth of a landmark is estimated by tracking the associated features over some series of frames and then using the induced parallax. However for distant features (relative to the displacement of the camera) the resultant parallax will be small, and importantly the error distribution associated with the depth is highly peaked close to the minimum depth with a long tail (i.e. it is not well modelled via a Gaussian distribution). To see an example should refer to Fig. 7 in Civera et al.'s paper (mentioned by @freakpatrol), or Fig. 4 of <a href="http://homepages.inf.ed.ac.uk/mfallon2/publications/12_fallon_icra.pdf" rel="nofollow">Fallon et al. ICRA 2012</a>.</p>

<p>By representing the inverse depth (i.e. 1/d) this error becomes Gaussian. Furthermore it permits representing very distant points e.g. points at infinity. </p>

<p>The important aspect of the representation used is Civera's paper is explained in Section II B of his paper (see Equation (3)). Here, a landmark is represented relative to the pose (position and orientation) of the first camera from which it is seen. This pose is capture in the first five parameters of Eq (3), whereas the sixth parameter, $\rho_{i}$, represents the inverse depth. Eq (4) provides an expression for recovering the world position of the point (i.e. this where the inverse depth gets converted to depth as $1/\rho_{i}$)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8398" data-toggle = "popover">
				<p>user name : johnmcd</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-8398">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8398" class = 'collapse'>
			</div>
				<textarea id = "speech-8398" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8398">
					<img id="start_img-8398" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8398">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>