<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What good robotics software platforms ~ operating systems are available?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6" class = "post">
			<h2>Question</h2>
			<div id="vote-6" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">17</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3577</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What good robotics software platforms ~ operating systems are available?</h2>
<p>My company will soon be starting a brand new robotics project, and we are still trying to decide whether we should design and code a robotics software platform from scratch, or if there are any good existing ones.</p>

<p>It would be very useful if there was a software platform which was commonly used among both academics and industry so that our robotic system was generally compatible with others, and so that people were already familiar with it.</p>

<p>We would like the software platform to be able to:</p>

<ul>
<li>Integrate new robotic hardware components easily.</li>
<li>Already contain a wide array of useful data processing and visualisation tools</li>
<li>Make efficient use of computing hardware</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-6" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-6">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6">Load Comments</button></br>
			<div id = "commentsection-6" class = 'collapse'>
			<div id = "comment-14" class = "comment">
				<p>Isn't this a survey question that is subjective? Which is against the spirit of StackExchange. http://blog.stackoverflow.com/2010/09/good-subjective-bad-subjective/</p>
			</div>
			<div id = "comment-15" class = "comment">
				<p>It is, but since it was the top-voted question in the definition, I thought I might as well.</p>
			</div>
			<div id = "comment-17" class = "comment">
				<p>But, we can craft the quality of this StackExchange. We should set a precedent of high quality, objective questions that can be answered and learned from.</p>
			</div>
			<div id = "comment-33" class = "comment">
				<p>I agree with you but 1) This was the top voted question in the definition, and 2) a small number of such questions don't hurt the site (look at [electronics](http://electronics.stackexchange.com/) for example). 3) Such questions produce answers which are genuinely useful to many users.</p>
			</div>
			<div id = "comment-44" class = "comment">
				<p>@Rocketmagnet - Popularity isn't a good measure of the usefulness of a question or answer, which is precisely why list questions set a bad precedent. We really should try to nip them in the bud. Hopefully people are more knowledgeable about how a well run stack exchange site works now than they were when they were voting on this question during definition.</p>
			</div>
			<div id = "comment-69" class = "comment">
				<p>If we are going to let this stand then it should at least be made community wiki, ideally with a single *community wiki* answer with all of the best descriptions. This would be better than many answers all describing different options and/or providing different descriptions/opinions of the same options.</p>
			</div>
			<div id = "comment-81" class = "comment">
				<p>I think that survey questions are actually great, because they can save a lot of time for someone figuring out where to look. Googling will not find even all the popular choices in many cases. I think making it a Community Wiki answer is a fine outcome.</p>
			</div>
			<div id = "comment-160" class = "comment">
				<p>@MarkBooth: [Community wiki _questions_ are now actively discouraged](http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/)</p>
			</div>
			<div id = "comment-164" class = "comment">
				<p>@Rocketmagnet If you are asking with regard to specific requirements, it might be possible to repost this question in a form that doesn't lead people to answer with every robot platform they know (guilty as charged). For example, what's the most suitable platform for requirements x, y and z?</p>
			</div>
			<div id = "comment-173" class = "comment">
				<p>@Manishearth - Agreed, I've [linked to that blog post myself](http://robotics.stackexchange.com/q/54/37), reminding people that CW *needs to be used sparingly if at all*. It is however an option for when people *really* don't want to close a question as non-constructive, as it was looking here at the time.</p>
			</div>
			<div id = "comment-180" class = "comment">
				<p>CW likely won't save this question the way you envision, @MarkBooth. I suggest taking the platforms and whatnot listed here and placing them in the ["platform" tag wiki](http://robotics.stackexchange.com/tags/platform/info). (Similar to the approach I suggested [on meta](http://meta.robotics.stackexchange.com/q/29/51)).</p>
			</div>
			<div id = "comment-182" class = "comment">
				<p>@AnnaLear - Thanks, various meta discussions such as [this](http://meta.robotics.stackexchange.com/q/6/37) and [this](http://meta.robotics.stackexchange.com/q/5/37) slowly seems to be agreeing with using tag wikis, but there is a difference between understanding *what* we need to do and *actually doing it*. With your help and guidance though, I'm sure we will get there in the end. *8')</p>
			</div>
			</div>
				<textarea id = "speech-6" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6">
					<img id="start_img-6" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.ros.org/wiki/">ROS</a> is quickly becoming the new standard for both industrial and research robotics. Most research groups I know of are adopting ROS for their work and then pushing their results back into the open for everyone to use and improve. Willow Garage is developing a suite of hardware and software platforms which are all centered around ROS at their core. ROS is a good place to start your search.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9" data-toggle = "popover">
				<p>user name : giogadi</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-9">{'None': 20, 'motion-planning': 24, 'rrt': 24, 'theory': 11, 'algorithm': 11}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9">Load Comments</button></br>
			<div id = "commentsection-9" class = 'collapse'>
			<div id = "comment-3" class = "comment">
				<p>Note: although ROS _can_ work on most operating systems, it's most thoroughly tested to work on the Ubuntu distribution of Linux.</p>
			</div>
			<div id = "comment-5" class = "comment">
				<p>Additionally, I think that the [ROS Introduction Page](http://ros.org/wiki/ROS/Introduction) does a fantastic job of covering the core premise and ideals of the ROS platform.
From a developer's perspective, the ROS platform can be used as a very "thin" wrapper around existing libraries (like drivers), to quickly get access to the larger ROS ecosystem.</p>
			</div>
			</div>
				<textarea id = "speech-9" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9">
					<img id="start_img-9" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9">Comment</button>
			<br><div id = "ans-16"  class = "post">
				<h2>Answer</h2>
			<div id="vote-16" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://rock-robotics.org" rel="nofollow">The Robot Construction Kit</a> is an alternative to ROS. It is driven towards model-driven engineering and design/management of complex systems. It also is driven towards "not being tightly dependent on Rock". Most of the algorithms / drivers in Rock are independent of the component layer. See also <a href="http://www.rock-robotics.org/stable/documentation/about/others.html" rel="nofollow">this page</a> for a quick summary of the differences between Rock and ROS.</p>

<p>As a previous answer points out, ROS is mainly used as a thin communication library. Rock's component layer is thicker, to provide the tools necessary to scale to complex systems. </p>

<p>What you have to understand is this: in this day and age, the only open-source robotic software worth looking at is framework-independent (OpenCV, PCL, OpenRave, Gazebo, ...). Even Willow Garage finally understood this. Therefore, it can be integrated with a minimal amount of work in any framework.</p>

<p>Now: your best pick also depends on your aim. If what you want is sell hardware, then it is well possible that having a ROS node is your best choice (even though having a good driver <em>library</em> that is then integrated into a ROS node is even better).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-16" data-toggle = "popover">
				<p>user name : sylvain.joyeux</p>
				<p> user reputation : 363</p>
				<p class = "tagcontent" id = "usertaginfo-16">{'None': 20, 'kalman-filter': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-16">Load Comments</button></br>
			<div id = "commentsection-16" class = 'collapse'>
			<div id = "comment-139" class = "comment">
				<p>Maybe to add on this answer, Rock is based on Orocos which is listed in another [answer](http://robotics.stackexchange.com/a/58/127) and thus makes it much easier for systems based on it to be realtime capable.</p>
			</div>
			</div>
				<textarea id = "speech-16" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-16">
					<img id="start_img-16" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-16">Comment</button>
			<br><div id = "ans-17"  class = "post">
				<h2>Answer</h2>
			<div id="vote-17" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My preferred platform is ROS. However, there is another strong contender from... dare I say it... Microsoft. It is called Robotics Developer Studio (RDS). Begin your search here: <a href="http://www.microsoft.com/robotics/" rel="nofollow">http://www.microsoft.com/robotics/</a> </p>

<p>They have many videos of impressive applications. To me, the largest benefit is the built-in support for Kinect via Microsoft's Kinect SDK. Technically, the one which ROS uses from OpenNI has the same capabilities but it seems comforting to know the SDK which RDS uses is written by the same company which produced the hardware. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-17" data-toggle = "popover">
				<p>user name : roboticsmeche</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-17">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-17" class = 'collapse'>
			</div>
				<textarea id = "speech-17" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-17">
					<img id="start_img-17" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-17">Comment</button>
			<br><div id = "ans-36"  class = "post">
				<h2>Answer</h2>
			<div id="vote-36" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>MOOS is Oxford's ROS analog. <a href="http://www.robots.ox.ac.uk/~mobile/MOOS/wiki/pmwiki.php" rel="nofollow">http://www.robots.ox.ac.uk/~mobile/MOOS/wiki/pmwiki.php</a> It's used for a number of naval applications, from harbor-sweeping to low-power, UUVs that surface to report in intervals counted in months.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-36" data-toggle = "popover">
				<p>user name : rsegal</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-36">{'kinect': 2, 'None': 12, 'ros': 2, 'openni': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-36" class = 'collapse'>
			</div>
				<textarea id = "speech-36" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-36">
					<img id="start_img-36" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-36">Comment</button>
			<br><div id = "ans-58"  class = "post">
				<h2>Answer</h2>
			<div id="vote-58" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1><a href="http://www.orocos.org" rel="nofollow">Orocos</a></h1>

<blockquote>
  <p>It is one of the oldest open source framework in robotics, under development since 2001, and with professional industrial applications and products using it since about 2005. The focus of Orocos has always been to provide a hard real- time capable component framework   the so-called Real-Time Toolkit (RTT) implemented in C++   and as independent as possible from any communication middleware and operating system.</p>
</blockquote>

<p>As @BarretAmes said there are integrations which allows the implementation of hybrid systems, where Orocos and other Software Framework work together. </p>

<ul>
<li><a href="http://www.ros.org/wiki/orocos_toolchain_ros" rel="nofollow">ROS Orocos Integration</a> for ROS and Orocos integration</li>
<li><a href="https://github.com/Robotics-UniBG/JOrocos/wiki" rel="nofollow">JOrocos</a> for Java and ROS integration</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-58" data-toggle = "popover">
				<p>user name : Maverik</p>
				<p> user reputation : 191</p>
				<p class = "tagcontent" id = "usertaginfo-58">{'control': 8, 'None': 5, 'motion-planning': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-58">Load Comments</button></br>
			<div id = "commentsection-58" class = 'collapse'>
			<div id = "comment-149" class = "comment">
				<p>There are also ways to pair Orocos with other frameworks. For example, leveraging ROS with Orocos.</p>
			</div>
			<div id = "comment-175" class = "comment">
				<p>FYI, Rock is using Orocos/RTT as its component implementation - just adding a lot of tooling and libraries around it</p>
			</div>
			</div>
				<textarea id = "speech-58" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-58">
					<img id="start_img-58" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-58">Comment</button>
			<br><div id = "ans-63"  class = "post">
				<h2>Answer</h2>
			<div id="vote-63" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h1><a href="http://www.openrtm.org/openrtm/en/node/629" rel="nofollow">OpenRTM</a></h1>

<p>OpenRTM-aist is developed by Japanese National Institute of Advanced Industrial Science and Technology which also contributes to definition of the RT-middleware standard.</p>

<p>It is an open-source component-based framework, which provides real-time capabilities.
Beside the framework some tools are available:</p>

<ul>
<li>RTC Builder: a tool for skeleton-code generation. It is launched in the eclipse developmental environment. OpenRTM-aist also supports RTC-template which is a command-line type skeleton-code generation tool.</li>
<li>RT System Editor: an Eclipse based toolchain for designing components and component-based systems.</li>
<li>rtshell is a command-line tool which provides following services</li>
<li>RTC debugger: a debugging tool for RTCs. RTC debugger is an Eclipse plug-in.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-63" data-toggle = "popover">
				<p>user name : Maverik</p>
				<p> user reputation : 191</p>
				<p class = "tagcontent" id = "usertaginfo-63">{'control': 8, 'None': 5, 'motion-planning': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-63" class = 'collapse'>
			</div>
				<textarea id = "speech-63" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-63">
					<img id="start_img-63" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-63">Comment</button>
			<br><div id = "ans-80"  class = "post">
				<h2>Answer</h2>
			<div id="vote-80" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://playerstage.sourceforge.net/" rel="nofollow">Player/Stage</a> is still one of the most popular open source robotics projects out there. It's been around for a long time and some of its developers have moved on to start ROS, but that doesn't detract from Player's usefulness. Indeed, all three main components, Player (the framework), Stage (the 2D simulator), and Gazebo (the 3D simulator), have been made to be somewhat <a href="https://www.willowgarage.com/pages/software/player" rel="nofollow">compatible with ROS</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-80" data-toggle = "popover">
				<p>user name : ThomasH</p>
				<p> user reputation : 612</p>
				<p class = "tagcontent" id = "usertaginfo-80">{'None': 41, 'gazebo': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-80" class = 'collapse'>
			</div>
				<textarea id = "speech-80" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-80">
					<img id="start_img-80" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-80">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>