<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the proper way to review a late answer from a new user that doesn't add anything?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1961" class = "post">
			<h2>Question</h2>
			<div id="vote-1961" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the proper way to review a late answer from a new user that doesn't add anything?</h2>
<p>I'm new to reviewing and in relation to that I have a question regarding how to handle an answer to an <a href="https://apple.stackexchange.com/questions/58141/disable-saving-to-icloud-in-mountain-lion">old question</a> with an already accepted answer like this one:</p>

<p><img src="https://i.stack.imgur.com/bI3zW.png" alt=""></p>

<p>It's an answer to a question from 2012. The answer is <em>technically</em> not wrong but it doesn't really add any value. Since it's a new user she might just not entire grasp the StackExchange system yet.</p>

<p>Do I:</p>

<ul>
<li>Helpfully comment that it might be inappropriate?</li>
<li>Ignore it?</li>
<li>Down-vote?</li>
<li>Flag it?</li>
<li>Something else?</li>
</ul>

<p>Tried browsing meta to see if I could find an answer but with no luck.</p>

<p>Any guidance would be greatly appriciated!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1961" data-toggle = "popover">
				<p>user name : Lasse</p>
				<p> user reputation : 1028</p>
				<p class = "tagcontent" id = "usertaginfo-1961">{'None': 2, 'discussion': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1961" class = 'collapse'>
			</div>
				<textarea id = "speech-1961" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1961">
					<img id="start_img-1961" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1961">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1962"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1962" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>New answers to old questions can be anything from spam to gem, so it's kind of difficult to give a simple answer on that. But in general the same rules apply both for current and for old topics</p>

<ul>
<li>if it is inappropriate or out of line -> flag</li>
<li>if it is just wrong, incomplete or confusing -> downvote</li>
<li>if you think the OP can/should improve it, add a comment with some followup questions</li>
</ul>

<p>In the case you mentioned it seems to have been meant as a comment to the accepted answer, something which is actually helpful because Mavericks brought some very welcome changes regarding iCloud document syncing. So flagging it for moderator attention would be a good way to handle that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1962" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-1962">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1962">Load Comments</button></br>
			<div id = "commentsection-1962" class = 'collapse'>
			<div id = "comment-3763" class = "comment">
				<p>Got it. Thanks for the guidelines!</p>
			</div>
			<div id = "comment-3764" class = "comment">
				<p>I do tend to comment as well as down vote to give the user an idea - even if iy is just pointing them to a FAQ</p>
			</div>
			<div id = "comment-3778" class = "comment">
				<p>Age should not be a major factor when reviewing content, primary consideration should be the same as if it was a new answer to a new question.</p>
			</div>
			</div>
				<textarea id = "speech-1962" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1962">
					<img id="start_img-1962" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1962">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>