<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What kind of sensor do i need for knowing that something is placed at a position?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1211" class = "post">
			<h2>Question</h2>
			<div id="vote-1211" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 360</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What kind of sensor do i need for knowing that something is placed at a position?</h2>
<p>I have a small device that's picking up small rocks from a pile and moving them to another place. Its a kind of crude way of trying to push the whole pile onto a bigger gear and hoping one of them are pushed to one of the spaces between gears and taken around and falls off on the other side of the spinning gear. Here i want to know if the machine successfully got a rock here, if not it should spin the gear until it turns up a single rock on the other side of it. If a rock is present at the spot, the gear should stop spinning until the rock is taken care of by the rest of the machine. </p>

<p>What kind of device can I use to sensor if I successfully succeeded in getting a rock on the other side of the gear? </p>

<p><img src="https://i.stack.imgur.com/JEHag.png" alt="enter image description here"></p>

<p>This is just a part of a bigger system, to sum up, I need the sensor to signal when a rock is signalled out and separated from the rest so it can continue work on that single rock.</p>

<p>I am building this using an ardiuno to move the gear around, so the sensor need to be something that can be controlled by an arduino</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1211" data-toggle = "popover">
				<p>user name : hakonbogen</p>
				<p> user reputation : 192</p>
				<p class = "tagcontent" id = "usertaginfo-1211">{'None': 0, 'arduino': 9, 'microcontroller': 2, 'motion': 2, 'motor': 10, 'mobile-robot': 7, 'sensors': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1211">Load Comments</button></br>
			<div id = "commentsection-1211" class = 'collapse'>
			<div id = "comment-2834" class = "comment">
				<p>So far, no answer makes sure that you only have one rock, and not 2 rocks that are very close.</p>
			</div>
			</div>
				<textarea id = "speech-1211" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1211">
					<img id="start_img-1211" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1211">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1212"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1212" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Try an IR sender and receiver, facing each other, and the connection is obstructed by the rock.</p>

<p>For example:</p>

<p><img src="https://i.stack.imgur.com/uO3Vi.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1212" data-toggle = "popover">
				<p>user name : Elias Benevedes</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-1212">{'None': 2, 'motor': 5, 'arduino': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1212">Load Comments</button></br>
			<div id = "commentsection-1212" class = 'collapse'>
			<div id = "comment-2747" class = "comment">
				<p>It's too bad that this is a good answer that won't be recognized. It might be useful to add some details or other options.</p>
			</div>
			<div id = "comment-2753" class = "comment">
				<p>Welcome to *Robotics* Elias, answers which are just a single line are automatically flagged as *low quality* so you may want to add a few more details, as [Kurt did](http://robotics.stackexchange.com/a/1213/37). Have a quick read through [How to answer](http://robotics.stackexchange.com/questions/how-to-answer) for some more tips.</p>
			</div>
			<div id = "comment-2833" class = "comment">
				<p>Depending on the width of the conveyor belt, you might need several sender/receiver couples, to be able to see a rock even if it is not at the center of the belt.</p>
			</div>
			</div>
				<textarea id = "speech-1212" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1212">
					<img id="start_img-1212" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1212">Comment</button>
			<br><div id = "ans-1213"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1213" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are numerous options that could/should work here.</p>

<p>As <a href="https://robotics.stackexchange.com/a/1212/37">mentioned by Elias</a>, an IR sender/receiver is a good choice. This is similar to a "break beam" sensor. Essentially, when the beam of light between the transmitter and receiver is broken, the controller knows to do something about it. Similar to this would be an IR distance sensor, which records the distance from the sensor to an object by way of the angle of the light reflections. The problem with any sort of sensor based around light (such as IR) is that it can be "corrupted" easily by ambient light: the sun, light bulbs, camera flash, etc. The way to get around this is to pulse the light, only looking for light of a specific frequency (this is how IR TV remotes work). </p>

<p>Example sensors: <a href="http://www.acroname.com/robotics/info/articles/sharp/sharp.html" rel="nofollow noreferrer">http://www.acroname.com/robotics/info/articles/sharp/sharp.html</a></p>

<p>There are also things such as ultrasonic rangefinders which use sound instead of light:
<a href="http://www.acroname.com/robotics/parts/R335-SRF06.html" rel="nofollow noreferrer">http://www.acroname.com/robotics/parts/R335-SRF06.html</a></p>

<p>At the most complicated level, you could have a camera mounted that detects when a rock has been moved.</p>

<p>Alternatively, you could use a physical sensor to tell when a rock has been moved. This can be as simple as a push button platform - the button is pushed down when a rock is placed on top of it. Of course, this would only work if the rocks weighed enough to counteract the spring inside of a push button switch.</p>

<p>As far as the type of sensor that can be used: Arduino is based around an AVR microcontroller. Microcontrollers can be used with pretty much any kind of sensor you can imagine, although some may be too fast to be handled by the slower clock of an micro-controller versus a micro-processor or require more processing power than is available. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1213" data-toggle = "popover">
				<p>user name : Kurt E. Clothier</p>
				<p> user reputation : 371</p>
				<p class = "tagcontent" id = "usertaginfo-1213">{'None': 21}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1213">Load Comments</button></br>
			<div id = "commentsection-1213" class = 'collapse'>
			<div id = "comment-2739" class = "comment">
				<p>Do you know if they can detect objects that are just in front of the infra red sensor? The smallest minimum range was the gp2d120 with 1,5 inches. Can this be used?</p>
			</div>
			<div id = "comment-2742" class = "comment">
				<p>When it comes to the distance sensors, every sensor has a specific range that will return known results. They are Analog, with the returned voltage representing the distance to an object. They will not work as expected out of the range. Objects too far away will not be seen, but objects too close will return strange results. As long as you test the output in various cases, they can be used as a simple "something is right in front of me/nothing is right in front of me" kind of setup. The returned value won't accurately tell you how far away the object is, just that something is there.</p>
			</div>
			<div id = "comment-2755" class = "comment">
				<p>If found this sensor, it looks like it works in that range http://www.adafruit.com/products/466 - Think i will go for that</p>
			</div>
			<div id = "comment-2835" class = "comment">
				<p>The IR sender/receiver technique can be tricked by some rocks with concave shapes, leading the system to think that 2 rocks have passed although it was just 1.</p>
			</div>
			<div id = "comment-2842" class = "comment">
				<p>@NicolasRaoul Very true. Personally, I would use a combination of a few different things for redundancy.</p>
			</div>
			</div>
				<textarea id = "speech-1213" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1213">
					<img id="start_img-1213" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1213">Comment</button>
			<br><div id = "ans-1217"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1217" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would put the whole conveyor belt on two axis, and:</p>

<ul>
<li>Have the right axis as a pivot.</li>
<li>Have the left part's axis rely on a switch button.</li>
</ul>

<p>Because of the height between the spinning gear and the belt, the rock's impact will be powerful, making it easy to find a switch button that can detect it.</p>

<p>It is very cheap and robust to dust/misplacement.</p>

<p><img src="https://i.stack.imgur.com/4P5vC.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1217" data-toggle = "popover">
				<p>user name : Nicolas Raoul</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-1217">{'mobile-robot': 5, 'None': 2, 'research': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1217" class = 'collapse'>
			</div>
				<textarea id = "speech-1217" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1217">
					<img id="start_img-1217" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1217">Comment</button>
			<br><div id = "ans-1297"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1297" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>IR sensor are best used for detecting any thing but they are quite sensitive to IR lights and sunlight.So if in condition when you are not bothering about Ir rays and sunlight , you can always use a pair of IR LED and Photodiode to make a pair of IR sensor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1297" data-toggle = "popover">
				<p>user name : shailendra</p>
				<p> user reputation : 82</p>
				<p class = "tagcontent" id = "usertaginfo-1297">{'None': 2, 'computer-vision': 2, 'cameras': 2, 'arduino': 11, 'communication': 6, 'microcontroller': 5, 'c': 8, 'serial': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1297">Load Comments</button></br>
			<div id = "commentsection-1297" class = 'collapse'>
			<div id = "comment-3164" class = "comment">
				<p>Yes, that was the solution i went for. It works flawlessy!</p>
			</div>
			</div>
				<textarea id = "speech-1297" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1297">
					<img id="start_img-1297" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1297">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>