<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is $\alpha \sin(\theta) + \beta \frac{d \theta}{d t}$ in the inverted pendulum problem?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8617" class = "post">
			<h2>Question</h2>
			<div id="vote-8617" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 107</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is $\alpha \sin(\theta) + \beta \frac{d \theta}{d t}$ in the inverted pendulum problem?</h2>
<p>I am preparing for an exam in neural networks. As an example for self-organizing maps they showed the inverted pendulum problem where you want to keep the pole vertical:</p>

<p><a href="https://i.stack.imgur.com/CK9VU.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/CK9VU.png" alt="enter image description here"></a></p>

<p>Now the part which I don't understand:</p>

<blockquote>
  <p>$$f(\theta) = \alpha \sin(\theta) + \beta \frac{\mathrm{d} \theta}{\mathrm{d} t}$$
  Let $x= \theta$, $y=\frac{\mathrm{d} \theta}{\mathrm{d} t}$, $z=f$.</p>
  
  <p>Solution with SOM:</p>
  
  <ul>
  <li>three-dimensional surface in $(x,y,z)$</li>
  <li>adapt two-dimensional SOM to surface</li>
  <li>Method of control
  
  <ul>
  <li>For a given $(x,y)$ find neuron $k$ for wich $w_k = [w_{k1}, w_{k2}, w_{k2}, w_{k3}]$</li>
  <li>$f(\theta)$ is then $w_{k3}$</li>
  </ul></li>
  </ul>
</blockquote>

<p>I guess we use the SOM to learn the function $f$. However, I would like to understand where $f$ comes from / what it means in this model.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8617" data-toggle = "popover">
				<p>user name : Martin Thoma</p>
				<p> user reputation : 115</p>
				<p class = "tagcontent" id = "usertaginfo-8617">{'control': 2, 'stability': 2, 'None': 0, 'machine-learning': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8617">Load Comments</button></br>
			<div id = "commentsection-8617" class = 'collapse'>
			<div id = "comment-14060" class = "comment">
				<p>Do you know the equations of motion for the inverted pendulum problem.  I think that will give you a good indication as to where the function f comes from.</p>
			</div>
			</div>
				<textarea id = "speech-8617" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8617">
					<img id="start_img-8617" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8617">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8619"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8619" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The function $f$ comes from the equation of motion for the inverted pendulum problem (<em>inverted pendulum alone</em>, not including the motion of the wheeled platform). If you consider your figure but ignore the side-to-side motion of the cart, then the equilibrium of moments about the hinge is:</p>

<p>$\sum M = m g l \sin \theta - b\frac{d \theta}{dt} $</p>

<p>Where $m$ is the mass of the black point mass at the tip of the pendulum and $b$ is the linear damping coefficient (due to friction at the hinge).</p>

<p>The sum of moments is equal to the inertial reaction (equivalent of $F = ma$):</p>

<p>$\sum M = m l^2 \frac{d^2 \theta}{dt^2}$</p>

<p>Equating these two leads to the equation of motion for the inverted pendulum:</p>

<p>$\frac{d^2 \theta}{dt^2} = \frac{g}{l} \sin \theta - \frac{b}{m l^2} \frac{d \theta}{dt}$</p>

<p>Substituting $\alpha = \frac{g}{l}$ and $\beta = -\frac{b}{m l^2}$, we then recover the form of the function $f$ in your question:</p>

<p>$\frac{d^2 \theta}{dt^2} = \alpha \sin \theta + \beta \frac{d \theta}{dt}$</p>

<p>(It should again be stressed that this analysis does not include the side-to-side motion of the cart.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8619" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8619">{'None': 85}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8619" class = 'collapse'>
			</div>
				<textarea id = "speech-8619" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8619">
					<img id="start_img-8619" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8619">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>