<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What happened to ' not about Apple hardware or software' as a Close reason?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2544" class = "post">
			<h2>Question</h2>
			<div id="vote-2544" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What happened to ' not about Apple hardware or software' as a Close reason?</h2>
<p>Question pretty much says it all - I was sure there used to be a close reason of 'not about Apple hardware or software'</p>

<p>Am I going completely barmy, or did it vanish in the recent rejig, same time as 'Basic Support' was added to the list?</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2544" class = 'collapse'>
			</div>
				<textarea id = "speech-2544" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2544">
					<img id="start_img-2544" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2544">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2545"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2545" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>We can only have 4 close reason choices and we opted to drop that one in favour the new customer support reason. You can still use "Other..." I believe and enter the text there.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2545">Load Comments</button></br>
			<div id = "commentsection-2545" class = 'collapse'>
			<div id = "comment-5752" class = "comment">
				<p>ah - didn't know there were only 4 possibles. Makes sense,... & yes, I just did type one in 'other' which was what prompted me to ask. Thanks.</p>
			</div>
			<div id = "comment-5753" class = "comment">
				<p>Actually - if we had 5 reasons, the 5th ought to be "If you didn't have backup, tough!"</p>
			</div>
			<div id = "comment-5754" class = "comment">
				<p>@Tetsujin If you wish to use the exact original text of the prior close reason in the custom field, it was `Questions about **non-Apple computing hardware and software** are off-topic here, but can be asked on [Super User](http://superuser.com/about).` This custom close reason was deactivated on 2014-01-12.</p>
			</div>
			<div id = "comment-5771" class = "comment">
				<p>Stack Overflow has 5 + belongs on another site + Other</p>
			</div>
			<div id = "comment-5772" class = "comment">
				<p>Where is the meta question/discussion  on the new reason?</p>
			</div>
			<div id = "comment-5779" class = "comment">
				<p>There was no meta discussion IIRC. It was a moderator-led decision.</p>
			</div>
			<div id = "comment-6098" class = "comment">
				<p>@IanC.We only have 3 close reasons + Other - Other sites e.g. SuperUser have 4 + Other.. Did someone miscount or has the list changed?</p>
			</div>
			</div>
				<textarea id = "speech-2545" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2545">
					<img id="start_img-2545" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2545">Comment</button>
			<br><div id = "ans-2549"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2549" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Also. Too broad or unclear often apply when someone asks what seems to be a PC or android question. Once you close it as unclear, it can quickly be deleted or edited if there is some relation to Apple products. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2549" class = 'collapse'>
			</div>
				<textarea id = "speech-2549" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2549">
					<img id="start_img-2549" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2549">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>