<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the RobotC type for motors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7112" class = "post">
			<h2>Question</h2>
			<div id="vote-7112" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 75</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the RobotC type for motors?</h2>
<p>I'm trying to create a function that allows me to more easily start a motor, but I'm running into a problem, I don't know the type to use for the <code>motorName</code> argument. I'm using a VEX 269 Motor. Here's the function.</p>



<pre><code>void runMotor(MotorTypeHere motorName, int speed, int time)
{
  startMotor(motorName, speed);
  wait(time);
}
</code></pre>

<p>I just don't know what type to put for the <code>motorName</code> argument. What type would it be?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7112" data-toggle = "popover">
				<p>user name : Ethan Bierlein</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-7112">{'None': 0, 'robotc': 0, 'vex': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7112">Load Comments</button></br>
			<div id = "commentsection-7112" class = 'collapse'>
			<div id = "comment-10092" class = "comment">
				<p>I am pretty sure it is a string, try that.</p>
			</div>
			<div id = "comment-10105" class = "comment">
				<p>they are more likely just ints, with each of the ports defined in a header somewhere.</p>
			</div>
			</div>
				<textarea id = "speech-7112" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7112">
					<img id="start_img-7112" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7112">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7123"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7123" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Looking at some of the docs I see that the startMotor function usually takes values like portN as in:</p>

<pre><code>startMotor(port8,-32);
startMotor(port9,128);
</code></pre>

<p>and I am also seeing that some code looks like this:</p>

<pre><code>motor[port8] = -32;
motor[port9] = 128;
</code></pre>

<p>so that tells me that since it is an index into an array it must be just simply an <code>int</code>.</p>

<p><strong>Update:</strong>
I can see on <a href="http://help.robotc.net/WebHelpCortex/index.htm#page=ROBOTC_Functions_New/VEX2_Functions_Motors_and_Servos.htm" rel="nofollow">this page</a> that within VEX it is actually a variable of type <code>tMotor</code>. But it can't work as an index in C unless tMotor is an alias for some sort of int. Ultimately, the best choice would be to use <code>tMotor</code> in your code.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7123" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-7123">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7123">Load Comments</button></br>
			<div id = "commentsection-7123" class = 'collapse'>
			<div id = "comment-10106" class = "comment">
				<p>Have you confirmed this?</p>
			</div>
			<div id = "comment-10120" class = "comment">
				<p>I found more info from a page I found for the ROBOTC language  and added it to my answer.</p>
			</div>
			</div>
				<textarea id = "speech-7123" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7123">
					<img id="start_img-7123" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7123">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>