<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What's the diffrence between $H_2$ and $H_\infty$ controll?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12803" class = "post">
			<h2>Question</h2>
			<div id="vote-12803" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 71</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What's the diffrence between $H_2$ and $H_\infty$ controll?</h2>
<p>There a two controllers named $H_2$ and $H_\infty$.
Can someone explain if:</p>

<ol>
<li>They have have guaranteed stability margins?</li>
<li>Do they have a Kalman filter?</li>
<li>Are they for both SISO and MIMO systems?</li>
<li>Can I use them with LQG?</li>
<li>Which one is best?</li>
<li>If you know how to create a basic $H_2$ and $H_\infty$. Can you please show me step by step?</li>
</ol>

			</div>
			<div class = "userinfosection"  id = "userinfo-12803" data-toggle = "popover">
				<p>user name : Daniel M rtensson</p>
				<p> user reputation : 62</p>
				<p class = "tagcontent" id = "usertaginfo-12803">{'control': 11, 'None': 0, 'noise': 6, 'robotic-arm': 6, 'arduino': 0, 'microcontroller': 3, 'pid': 3, 'simulation': 2, 'matlab': 6, 'kalman-filter': 11, 'mobile-robot': 2, 'dynamics': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12803" class = 'collapse'>
			</div>
				<textarea id = "speech-12803" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12803">
					<img id="start_img-12803" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12803">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12805"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12805" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In short answer:</p>

<ol>
<li>yes</li>
<li>Kalman filter is a special case of an $H_2$ observer</li>
<li>Yes</li>
<li>Yes ... LQG is just Kalman filter + LQR controller, which are both special cases of $H_2$</li>
<li>Depends on use case. $H_2$ minimizes maximum error while $H_{\infty}$ minimizes error function 2-norm </li>
<li>Very complicated</li>
</ol>

<p>The somewhat longer answer:</p>

<p>$H_2$ and $H_{\infty}$ control are both advanced robust-control strategies used for linear systems considering a bounded range of external disturbances plus modelling uncertainties (e.g. element 1,1 of the system $A$ matrix is in the range 1.1-1.5). For such systems, these controllers have the advantages of:</p>

<ol>
<li>(sub)optimal control</li>
<li>robust<sup>1</sup> performance and stability guarantees</li>
</ol>

<p>A more complete description of $H_{\infty}$is <a href="https://en.wikipedia.org/wiki/H-infinity_methods_in_control_theory" rel="noreferrer">here</a>.</p>

<p>The theory behind them is significantly more complex than Kalman or LQR. Matlab does have tools for designing these controllers (e.g. <a href="https://www.mathworks.com/help/robust/ref/hinfsyn.html?requestedDomain=www.mathworks.com" rel="noreferrer">here</a>) but even knowing the theory the tools are somewhat cumbersome to use. I can't imagine trying to use those tools not knowing the theory.</p>

<p><sup>1</sup>This means for any real system with parameters within the specified uncertainty ranges the performance will be within a calculated bound.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12805" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-12805">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12805">Load Comments</button></br>
			<div id = "commentsection-12805" class = 'collapse'>
			<div id = "comment-22480" class = "comment">
				<p>Thanks. So which is more robust. Classical PID controller which is optimized for robustness, or H2, H-inf controller?</p>
			</div>
			<div id = "comment-22481" class = "comment">
				<p>PID will rarely be the more robust solution compared to any control scheme; but it's shear simplicity and computational efficiency still make it a good solution for many control problems. For $H_2$ and $H_{\infty}$ controllers to be effective a lot of work is needed to correctly structure the system uncertainties and disturbances to get the value out of the controllers.</p>
			</div>
			<div id = "comment-22482" class = "comment">
				<p>Thanks! Now I know that  PID is something for me. The reason I asking a question about H2, Hinf is because I'm looking for good controllers which is robust and optimal. And PID is the solution for optimal robustness. I allready know the most optimal controller for performance. It's LQGI :)</p>
			</div>
			</div>
				<textarea id = "speech-12805" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12805">
					<img id="start_img-12805" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12805">Comment</button>
			<br><div id = "ans-14015"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14015" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The H2 control problem is to find a proper, real rational controller K that stabilizes G internally and minimizes the H2 norm of the transfer matrix Tzw from w to z, see the figure below<a href="https://i.stack.imgur.com/ZxOr3.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ZxOr3.png" alt="enter image description here"></a></p>

<p>It is well-known that a system with LQR controller has at least 60o phase margin and 6 dB gain margin. However, it is not clear whether these stability margins will be preserved if the states are not available and the output feedback H2 (or LQG)controller has to be used. </p>

<p>for more information on stability margins of the H2 control, see the book, Essentials of Robust Control / chapter 13 / page 265 / section 13.6.</p>

<p>on the other hand, Optimal H-infinity Control: Find all admissible controllers K(s) such that infinity norm of Tzw is minimized. additionally, 
Suboptimal H-infinity Control: Given gamma > 0, find all admissible controllers
K(s), if there are any, such that infinity norm of Tzw &lt; gamma. 
.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14015" data-toggle = "popover">
				<p>user name : Ibraheem Kasim Ibraheem</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-14015">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14015">Load Comments</button></br>
			<div id = "commentsection-14015" class = 'collapse'>
			<div id = "comment-22860" class = "comment">
				<p>S  h2 control is about energy and h-inf control is about setting limits?</p>
			</div>
			</div>
				<textarea id = "speech-14015" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14015">
					<img id="start_img-14015" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14015">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>