<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What does this "inverse" peak mean? (step function)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2939" class = "post">
			<h2>Question</h2>
			<div id="vote-2939" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 102</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What does this "inverse" peak mean? (step function)</h2>
<p>I identified my system and now I am trying to tune PI regulator since I think I do not need D.</p>

<p>I came across this graph while Matlabing and I do not know what does it mean.</p>

<p>I am using pidtune() to get my P and I values. (I think computation is all correct, I made model in simulink to confirm). Anyway see my picture and arrow is pointing at what I do not understand. Why is my system going below zero first?</p>

<p>It is supposed to be water flow regulator.</p>

<p><img src="https://i.stack.imgur.com/36usV.png" alt="enter image description here"></p>

<p>Transfer function:
$$ \frac{-0.311s + 0.05548}{s^2 + 0.06882s + 0.0007626}$$</p>

<p>Continuous-time PI controller in parallel form:
$$K_p + K_i * \frac{1}{s}$$</p>

<p>With $K_p = 0.256$, $K_i = 0.000342$</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2939" data-toggle = "popover">
				<p>user name : Kyslik</p>
				<p> user reputation : 115</p>
				<p class = "tagcontent" id = "usertaginfo-2939">{'control': 0, 'None': 0, 'pid': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2939">Load Comments</button></br>
			<div id = "commentsection-2939" class = 'collapse'>
			<div id = "comment-5363" class = "comment">
				<p>Are you absolutely sure your system is starting at the zero state? (including 1st state derivatives and controller integrator)</p>
			</div>
			<div id = "comment-5365" class = "comment">
				<p>Yes there is no point in starting something like water flow controller/system in minus values.</p>
			</div>
			<div id = "comment-5366" class = "comment">
				<p>Is it coming from the `-0.311 s` in your transfer function?</p>
			</div>
			<div id = "comment-5449" class = "comment">
				<p>I think its because I identified 1st order system as 2nd order system (arx command in Matlab).</p>
			</div>
			</div>
				<textarea id = "speech-2939" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2939">
					<img id="start_img-2939" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2939">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4473"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4473" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What you seem to be concerned about is the well known nonminimum-phase effect of the zero $s_0=0.05548/0.311$ in the right half of the s-plane.</p>

<p>You should first ask yourself whether this lag has a physical interpretation in the context of your system. Many physical systems expose such a dynamics, but here it might also depend on how you carried out the identification.</p>

<p>Then, to properly account for such a lag, if it really exists and is not introduced by the identification process, you should make use of proper techniques. For example, look <a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;cad=rja&amp;uact=8&amp;ved=0CB8QFjAA&amp;url=http%3A%2F%2Fdigitool.library.colostate.edu%2Fwebclient%2FDeliveryManager%3Fpid%3D88646&amp;ei=OzwDVPjXI4aN7Abl2IDQCA&amp;usg=AFQjCNHDwLUAFgKeq1qyaPIbjuMP9o35eQ&amp;sig2=F-5vNha3Bgg9Emlu8MryPg&amp;bvm=bv.74115972,d.ZGU" rel="nofollow">here</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4473" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-4473">{'None': 99}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4473" class = 'collapse'>
			</div>
				<textarea id = "speech-4473" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4473">
					<img id="start_img-4473" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4473">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>