<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the actual physical actuated quantity when controlling the position of a servo?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1033" class = "post">
			<h2>Question</h2>
			<div id="vote-1033" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 279</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the actual physical actuated quantity when controlling the position of a servo?</h2>
<p>I'm trying to learn about servo control. I have seen that the most generic position control method for servos is PID, where the control input is position error. However, I am not sure about what is the actuated quantity. I am guessing that it is one of:</p>

<ul>
<li>Voltage applied to the motor</li>
<li>Current applied to the motor</li>
</ul>

<p>I am then guessing that the actuated quantity gets turned into one of:</p>

<ul>
<li>Torque that the motor exerts</li>
<li>Angular velocity that the motor runs at</li>
</ul>

<p>I haven't been able to get my hands on and explicitly control a physical servo so I cannot confirm that the actuated quantity is any of these. I know very little of the electronics that controls the motor. It might well be that the controlled quantities are different for different series servos. </p>

<p>My bet is on torque control. However, assume that the servo is holding a weight at a distance (so it is acting against gravity), which means an approximately constant torque load. In this case, if the position error is zero and the servo is at rest, then each of P, I and D components are zero, which means the exerted torque is zero. This would cause the weight to sink, which is countered by the error in its position causing P,I components to increase. Wouldn't this situation cause the lifted weight to oscillate and balance at a constant position which is significantly different from the goal position? This isn't the case with the videos of servos I have seen lifting weights. Or is this the case and friction is smoothing everything out? Please help me understand. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1033" data-toggle = "popover">
				<p>user name : Ayberk  zg r</p>
				<p> user reputation : 230</p>
				<p class = "tagcontent" id = "usertaginfo-1033">{'control': 12, 'pid': 18, 'None': 2, 'servos': 18}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1033" class = 'collapse'>
			</div>
				<textarea id = "speech-1033" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1033">
					<img id="start_img-1033" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1033">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1035"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1035" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your intuition is right but your question is actually a bit off, I would say. The variable controlled is indeed position. What you want to know is what variable is actuated, that is, what do we use to control position.</p>

<p>I don't know much about the internals of servomotors, but when performing PID control of DC motors it is quite common to use the voltage applied to the motor through pulse-width modulation.</p>

<p>Regarding the second part of your question, part of what you see is probably due to the gears or simply appropriate tuning of the controller, but I can't say much about it without seeing the videos you mention. </p>

<p>If you want to know more about the interplay of angular velocity, torque, etc., you should look up DC motor models, which is one of the building blocks of servos. That way you will find that it is common to assume that angular velocity is proportional to armature current and other things, and understand how the blue box the white paper you mentioned represents the motor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1035" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-1035">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1035">Load Comments</button></br>
			<div id = "commentsection-1035" class = 'collapse'>
			<div id = "comment-2423" class = "comment">
				<p>Thank you, that explains one part of my question. I also updated the "controlled" term to "actuated". It is more appropriate for my question.</p>
			</div>
			<div id = "comment-2427" class = "comment">
				<p>Thanks for the suggestion on looking up DC motor models. In one paper I've encountered (http://www.inf.fu-berlin.de/lehre/SS05/Robotik/motors.pdf), it is stated that the voltage $E$ applied to the motor is proportional to its angular velocity $w$. Applying a PWM signal to it should result in an RMS voltage level depending on its duty cycle. Therefore, we are actually controlling the angular velocity on the motor, as long as its related torque on the torque to angular velocity curve is enough to counter the load we're driving.</p>
			</div>
			<div id = "comment-2479" class = "comment">
				<p>Actuating duty cycle (voltage) is the simplest method of controlling a servo, but there are many better ways of controlling a servo.  For example, in flux vector control, the orientation of the magnetic field is also controlled which requires controlling the current flowing through each phase. http://en.wikipedia.org/wiki/Vector_control_(motor)</p>
			</div>
			</div>
				<textarea id = "speech-1035" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1035">
					<img id="start_img-1035" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1035">Comment</button>
			<br><div id = "ans-1085"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1085" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2>motor controllers</h2>

<p><em>what is the actuated quantity</em></p>

<p>Yes, the output of the control electronics and the input of the motor, in the simplest case -- DC permanent-magnet motors -- is the <em>voltage applied to the motor</em>.</p>

<p>In other cases, the output of the control electronics is the duty cycle of a PWM voltage applied directly to the motor or indirectly to the "signal" wire of a <a href="http://en.wikipedia.org/wiki/Servo_%28radio_control%29" rel="nofollow">radio control servo</a>.
They work a little differently.</p>

<p>In yet other cases, many people control position using <a href="http://reprap.org/wiki/stepper_motor" rel="nofollow">stepper motors</a>.
They work very differently than DC permanent-magnet motors.</p>

<h2>motors</h2>

<p><em>the actuated quantity gets turned into</em></p>

<p>Your suggestion of "<em>torque control</em>" is approximately true when motor very slow or stopped.</p>

<p>The so-called "back-EMF" generated by the motor by "generator action" is proportional to its angular velocity.
This back-EMF allows motors to be used as generators, such as the motor/generators used in a few cars and the regenerative breaking used in a few vehicles.
(Part of the back-EMF is caused by the "autoinductance" of the windings, but that part is usually negligible, so I will not mention it further -- <a href="http://www.inf.fu-berlin.de/lehre/SS05/Robotik/motors.pdf" rel="nofollow">the article you mentioned</a> has a good explanation).</p>

<p>At any instant, the electrical current in the motor is proportional to the applied voltage minus the back-EMF.
Meanwhile, the mechanical torque generated by the motor is approximately proportional to that electric current.</p>

<p>Therefore at low speeds the mechanical torque generated by the motor is proportional to the applied voltage.
But at high positive speeds, the torque generated by the max positive voltage is less; the "max speed" is often defined as the speed where the max positive voltage gives zero torque.</p>

<h2>PID</h2>

<p><em>assume that the servo is holding a weight at a distance (so it is acting against gravity), which means an approximately constant torque load. In this case, if the position error is zero and the servo is at rest, then each of P, I and D components are zero, which means the exerted torque is zero. This would cause the weight to sink, which is countered by the error in its position causing P,I components to increase. Wouldn't this situation cause the lifted weight to oscillate and balance at a constant position which is significantly different from the goal position?</em></p>

<p>There are 2 different cases: the short-term state immediately after some heavy load is applied, and the long-term state after the arm is allowed to settle.</p>

<p>Please tell the person who told you that "if the position error is zero and the servo is at rest, then the I component is zero" to experiment with a PID controller, or read a little more about control systems (<a href="http://en.wikipedia.org/wiki/control_system" rel="nofollow">a</a>, <a href="http://ftcforum.usfirst.org/showthread.php?1359-Problem-holding-motor-in-fixed-position-for-jointed-arm" rel="nofollow">b</a>, <a href="http://www.coactionos.com/embedded-design/39-motor-control.html" rel="nofollow">c</a>, <a href="http://www.seattlerobotics.org/encoder/200011/SmallRobotMotionControl.htm" rel="nofollow">d</a>, <a href="http://letsmakerobots.com/node/36435" rel="nofollow">e</a>), or both, to fill in the gaping hole in his knowledge of what the I component does in a PID controller.</p>

<p><strong>PID with near-zero I component</strong></p>

<p>In the short term, the P, I, and D components start out at approximately zero,
and so the exerted torque is approximately zero.
When Fred suddenly applies a heavy load, there is not enough torque to hold it in position, so it sinks.
The error in its position causes the P,I components to increase.
If, hypothetically, one had a controller where the I component was <em>completely ignored</em>,
then the arm would settle at some constant position, as you mentioned.
The arm would stabilize at the position where the voltage supplied by the controller (proportional to P, the error in position) was exactly enough to hold up the weight.</p>

<p><strong>PID with significant I component</strong></p>

<p>However, with the <a href="http://en.wikipedia.org/wiki/PID_controller" rel="nofollow">PID controller</a> you mentioned, the I component increases as long as there is <em>any</em> error.
Eventually there would be enough I component accumulated that the controller would increase the voltage more than enough to hold up the weight, pushing the weight back up towards the zero-error point.
Whether the weight overshoots or not depends on how the PID controller is tuned, but as long as the P,I,D components are anywhere close to a reasonable value, the PID controller will eventually settle down to the state where:</p>

<ul>
<li>the arm is stable at almost exactly the goal position (with practically zero error)</li>
<li>therefore the P and D components are practically zero</li>
<li>The I component is not zero -- it still has some large value that accumulated previously when the arm was below the desired position.</li>
<li>the control electronics (because the I component is not zero) drive the motor with some voltage</li>
<li>the motor converts that voltage into some torque that holds the weight up at the goal position.</li>
</ul>

<p>Many robotic control systems are quick enough that they converge on this final state within a tenth of a second.</p>

<p>When Fred (that prankster!) yanks the weight off the arm,
even though the arm is already at the goal position,
the high accumulated I component causes the arm to pop up.
That small error causes the accumulated I component to bleed off,
and (hopefully soon) the arm returns to almost exactly the goal position (with practically zero error).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1085" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-1085">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1085">Load Comments</button></br>
			<div id = "commentsection-1085" class = 'collapse'>
			<div id = "comment-2522" class = "comment">
				<p>Excellent answer David, I think it's worth mentioning that the important mistake in the question is that a servo cannot be *at rest* if there is a force (such as gravity) pushing the axis away from its demanded position. You go on to explain the specifics well, but calling out that explicitly might help the point you are making.</p>
			</div>
			</div>
				<textarea id = "speech-1085" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1085">
					<img id="start_img-1085" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1085">Comment</button>
			<br><div id = "ans-1358"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1358" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sorry if this comes late:</p>

<p>If you are speaking about RC style servos, then the actual drive to the motor is in the form of a pulse width modulated voltage: the servo amplifier just turns the motor on fully in one direction or the other, for a length of time determined by the difference between the measured position and the target position as determined by the width of the incoming pulse.</p>

<p>Life is complicated by the newer "digital" servos -- I can't swear to the internal workings of these, but the drive to the motor is almost certainly PWM of some sort, just at a faster rate than the old-style analog servo amplifiers.  There's no reason that it couldn't be as described below, except that there is precious little room inside of an RC servo, so there's a good chance that no current measurement is done, and hence that the parameter that the microprocessor controls is the PWM duty cycle.</p>

<p>How servo mechanisms in industry are controlled is a much wider answer: basically, it can happen any way that the designer thought was appropriate.  Motor drive can be via a linear amplifier that is configured to drive a current or a voltage, or it can be via a switching amplifier (i.e. PWM).  In the case of a switching amplifier, the amplifier itself can be analog and configured for either constant-current, constant-voltage, or constant duty cycle.</p>

<p>Usually in a "pro" servo mechanism with a brushed or brushless motor there will be an inner loop that servos the motor current (and therefor torque).  This is not so much to provide any big advantage in control as it is because it vastly simplifies current limiting to the motor, which is necessary if you want to keep all that expensive smoke inside the motor where it belongs.  That inner current (and hence torque) loop will often be wrapped by a speed loop that either senses the speed of the motor shaft or that deduces it from the motor's back-EMF (and which provides a convenient means of speed limiting the motor, if that is necessary).  Finally, that speed loop is wrapped by a position loop.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1358" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1358">{'None': 107}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1358" class = 'collapse'>
			</div>
				<textarea id = "speech-1358" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1358">
					<img id="start_img-1358" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1358">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>