<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the correct name for "servo brackets"?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9454" class = "post">
			<h2>Question</h2>
			<div id="vote-9454" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 143</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the correct name for "servo brackets"?</h2>
<p>I refer to these types of brackets as <em>servo brackets</em>, or <em>robot brackets</em>:</p>

<p><a href="https://i.stack.imgur.com/mbjUy.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/mbjUy.jpg" alt="Short U and Multi Function servo brackets"></a></p>

<p>I know that the two specific brackets, shown above, are known as a short-U (some vendors refer to them as "C", en lieu of "U") and a multi-function bracket, respectively, and that there are other types available, namely:</p>

<ul>
<li>Long U bracket</li>
<li>Oblique U bracket</li>
<li>i bracket</li>
<li>L bracket</li>
<li>etc.</li>
</ul>

<p>However, I am sure that there is a correct name for these <em>types</em> of bracket (or this range of bracket, if you will), rather than just <em>servo brackets</em> - either a generic name or a brand name. I have seen the term once before, on a random web page, but the name escapes me. They are either named after their creator, or, if I recall correctly, the institution where they were developed.</p>

<p>Does anyone have a definitive answer, preferably with a citation or web reference, or a little historical background?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9454" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-9454">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9454">Load Comments</button></br>
			<div id = "commentsection-9454" class = 'collapse'>
			<div id = "comment-16728" class = "comment">
				<p>Fitting could be an option?</p>
			</div>
			<div id = "comment-16732" class = "comment">
				<p>Have you tried contacting the vendors of these items?  I'm sure they would be able to address your question much more readily.</p>
			</div>
			<div id = "comment-16757" class = "comment">
				<p>@Paul - I have. However, the vendors, from whom I obtain my parts, and with whom I am familiar, are all based in China... and use a variety of unusual terms for them, few of which are grammatically correct. When I ask where they obtained their patterns from, invariably the response is that they copied them from another vendor on eBay.</p>
			</div>
			</div>
				<textarea id = "speech-9454" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9454">
					<img id="start_img-9454" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9454">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9497"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9497" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>After some extensive searching, I <em>believe</em> that they are called <a href="http://www.lynxmotion.com/c-73-servo-erector-set.aspx" rel="nofollow">Servo Erector Set (SES) brackets</a>, from <a href="http://www.lynxmotion.com/" rel="nofollow">Lynxmotion</a>, although the article itself also uses the term <em>servo brackets</em>.</p>

<blockquote>
  <p><strong>About the Servo Erector Set</strong></p>
  
  <p>Think of the Lynxmotion series of servo
  brackets as an Erector Set for servos. These components are extremely
  versatile, making virtually any mechanical arrangement possible. It's
  now possible to build custom robots to your specifications! The
  brackets are available in black anodized aluminum. The ball bearings
  provide for precise low friction movement. The tubing, hubs and hub
  connectors are precision fit and really expand what is possible to
  build. They are made in the USA from high quality aluminum alloy. We
  also have a series of laser cut Lexan chassis, torso, and electronics
  carriers that truly complete the set. </p>
  
  <p>If you want to build a variety of different robots using the SES
  system, consider the complete SES V1.1 Construction Kit which contains
  everything you need to get started.</p>
</blockquote>

<p>The article also refers to them as <em>Hitec servo brackets</em>. </p>

<blockquote>
  <p><strong>Hitec Servo Brackets</strong></p>
  
  <p>Our selection of standard brackets can use most standard size Hitec
  analog or digital servos. The HS-3xx, 4xx, 5xx, 6xx, 54xx, 56xx, and
  59xx servos are verified to fit. Note that servos from other
  manufacturers are not guaranteed (nor likely) to work...</p>
</blockquote>

<p>So, the term <em>SES</em> may only be referring to <em>the kit</em> of various Hitec servo brackets.</p>

<p>The first place that I saw the term SES, was on the page, <a href="http://forums.trossenrobotics.com/showthread.php?4886-WALKER8-An-Octopod-Project" rel="nofollow">WALKER8   An Octopod Project</a>, where it is mentioned in the comment:</p>

<blockquote>
  <p>I decided to go with the SES route</p>
</blockquote>

<hr>

<p>This may not be the most definitive answer, but it is the best that I could come up with. Maybe the answer is simply <strong>[Hitec] servo brackets</strong>, as the brackets were first designed to fit Hitec servos, and their derivatives. </p>

<p>Whether or not the brackets where designed by Hitec themselves, or some other third party is not clear.</p>

<p>If someone else knows, or has an idea of, a better answer, please post it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9497" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-9497">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9497" class = 'collapse'>
			</div>
				<textarea id = "speech-9497" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9497">
					<img id="start_img-9497" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9497">Comment</button>
			<br><div id = "ans-9503"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9503" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There is no correct name for sheetmetal brackets designed for connecting hobby servos. Using sheetmetal, bent with holes, has been used forever for hobby projects (and industrial ones). It's cheap and easy to have the tools to make custom ones in your garage.</p>

<p>The first usage of brackets like your pic with servos that I saw was <a href="https://en.wikipedia.org/wiki/Robo_One" rel="nofollow noreferrer">Robo One</a>, but I don't follow the hobby/toy market closely. </p>

<p>For hobby servo robotics there was <a href="https://web.archive.org/web/19961109203419/http://lynxmotion.com/images.html" rel="nofollow noreferrer">Lynxmotion in 1996</a> but his techniques were in common use for hobby robotics at the time in custom projects.</p>

<p>For punched and bent sheet metal, <a href="http://www.girdersandgears.com/index.html" rel="nofollow noreferrer">erector sets</a> come to mind, started being sold in 1913 and apparently had an <a href="http://www.girdersandgears.com/erector-motor.html" rel="nofollow noreferrer">electric motor</a> you could build. <a href="http://www.girdersandgears.com/meccano.html" rel="nofollow noreferrer">Meccano</a> Started in 1901.</p>

<p>Regarding the U shape, mechanical engineers call this a clevis when used as a structural or connecting element.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9503" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9503">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9503">Load Comments</button></br>
			<div id = "commentsection-9503" class = 'collapse'>
			<div id = "comment-16789" class = "comment">
				<p>Really? That is rather disappointing. Maybe I have been over thinking this then. Would you happen to know who actually came up with the designs? Was it Hitec themselves, another third party, or was it a collaborative effort which made the current designs evolve over time?</p>
			</div>
			</div>
				<textarea id = "speech-9503" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9503">
					<img id="start_img-9503" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9503">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>