<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What microcontroller and parts will work for the robot project described bellow?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10739" class = "post">
			<h2>Question</h2>
			<div id="vote-10739" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 102</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What microcontroller and parts will work for the robot project described bellow?</h2>
<p>I want my robot to contain about 20 MB of data or a little more, this will be mostly in text, some pictures so that it can recognize one or two particular objects.</p>

<p>So obviously, I want a camera connected to it and I want it to be able to save images (no need to display them, just save, I would access them through a PC later. <strong>However</strong>, I do want it to have an output text screen, i.e.: I want it to be able to display text on a screen, just plain text.)</p>

<p>I also want it to be controlled by speech recognition, so it has to be able to accept voice input. Also, iI want it to be capable of producing voice output, but only one or two prerecorded sounds. </p>

<p>Lastly, an infrared sensor will be used for distance gauging and a push button one for contact. </p>

<p>Summary of needs:</p>

<p>Microcontroller and parts required to:</p>

<ul>
<li>store at least 20 MB of data, text (the microcontroller needs to be
able to access this text and run algorithms on it, GET data only, not
change it), and images (images only for image recognition)</li>
<li>allow saving images taken by the camera</li>
<li>speech recognition as input</li>
<li>output audio (only one or two prerecorded sounds) </li>
<li>output plain text on a screen</li>
<li>equip an infrared sensor for measuring distance and contact
push buttons for detecting contact</li>
</ul>

<p>If relevant, I am using tracked wheels, two DC motors, the robot will move upon detecting an object using the camera. I will decide what motor controller to use when one of you good fellows let me know what microcontroller would be adept for my wants. </p>

<p>Note: for speech recognition input, I will use an advanced sound sensor, and for the infrared and push button sensors I obviously know what I'm using, same with the camera.</p>

<p>I only mentioned these ones so you would know what I need the microcontroller to be capable of to use. But as for the data storage and saving photos and screen, I have no idea what I can use as I have never used anything similar in a robot before.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10739" data-toggle = "popover">
				<p>user name : rakan316</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-10739">{'None': 0, 'microcontroller': 0, 'sensors': 0, 'speech-processing': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10739">Load Comments</button></br>
			<div id = "commentsection-10739" class = 'collapse'>
			<div id = "comment-19337" class = "comment">
				<p>Have you considered using a Raspberry Pi?</p>
			</div>
			<div id = "comment-19344" class = "comment">
				<p>Welcome to *Robotics* @modernholmes, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so questions which ask for a list of approaches or a subjective recommendation on a method (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic. Please take a look at [ask] & [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-10739" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10739">
					<img id="start_img-10739" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10739">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10740"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10740" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would consider using a Raspberry Pi. It certainly has the required memory, already has audio output and enough performance to perform image processing with. You can easily interface a simple 2x16 character LCD with it and the camera would not be a problem either. To control the motors you will need PWM, which is available on the PI, for example using this <a href="https://learn.adafruit.com/adafruit-raspberry-pi-lesson-9-controlling-a-dc-motor/the-pwm-kernel-module" rel="nofollow">kernel modul</a> from Adafruit.</p>

<p>One thing you will require is an external ADC so you can interface an analog infra red sensor and it is needed for the audio inout too. Or for the audio input you can use its I2S interface as well.</p>

<p>As for the microcontrollers.</p>

<p>For 20 MB of memory an SD card would be the easiest way here, which you already have at the PI. Regarding the audio, there are some with I2S interface but you would certainly need additional hardware to play audio or receive audio signals. An LCD, IR sensor and push button won't be a problem to any currently available MCU. Adventage is that the ADC is already built in.</p>

<p>All in all I would go with the PI.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10740" data-toggle = "popover">
				<p>user name : Bence Kaulics</p>
				<p> user reputation : 605</p>
				<p class = "tagcontent" id = "usertaginfo-10740">{'None': 26}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10740">Load Comments</button></br>
			<div id = "commentsection-10740" class = 'collapse'>
			<div id = "comment-19338" class = "comment">
				<p>Thank you so much. As for the 20 mb, if i was to use a microcontroller i meant the 20 mb+ would be provided by an external data storage unit.</p>
			</div>
			<div id = "comment-19339" class = "comment">
				<p>but if the raspberry pi fits all my needs and can be connected to a motor controller just like a micro controller, then im definitely going with that. but just one problem, you mentioned a 2x16 character LCD screen, i actually want the text screen to be able to display much more than that, i was hoping for something the size of an ipad mini or ipad screen. So i just want to make sure if i can i use a bigger LCD display screen, perhaps something like this http://www.robotshop.com/en/28-tft-lcd-display-module-raspberry-pi.html ?</p>
			</div>
			<div id = "comment-19340" class = "comment">
				<p>Yes, if you have the budget you can definetely go with the LCD you linked.</p>
			</div>
			<div id = "comment-19382" class = "comment">
				<p>I would **not** use Raspberry PI, since it has problems with real time operation. I'd rather use **BeagleBone**, that should be more suitable for your project. Check this out [here](http://beagleboard.org/bone).</p>
			</div>
			<div id = "comment-19383" class = "comment">
				<p>Also, that is the main reason why Your question should be marked as off-topic. There is no _correct_ answer and your problem may be solved in thousand ways, as @Ben mentioned under your question. Consider more precise questions.</p>
			</div>
			</div>
				<textarea id = "speech-10740" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10740">
					<img id="start_img-10740" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10740">Comment</button>
			<br><div id = "ans-10848"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10848" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From a practical perspective, usage of Beaglebone Black is amazing (although you may end up with image capture issues). It has two PRUs and quite a lot of GPIOs if hardwares are to be interfaced. If image recognition can be done with costly cameras which support h264 compression format (like Logitech c920), Beaglebone black is the clear 'winner'. Else, according to what I have heard, dual-board systems like UDOO are amazing if ease of programming is the main concern. Raspberry Pi is extraordinary if image processing is the sole focus.</p>

<p>Reference: <a href="https://en.m.wikipedia.org/wiki/Comparison_of_single-board_computers" rel="nofollow" title="Comparison of embedded systems">Comparison of embedded systems </a></p>

<p>(Note: I have ignored some of the nice boards which do not have huge communities. Odroid, PCduino etc are in that list) </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10848" data-toggle = "popover">
				<p>user name : Prasad Raghavendra</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-10848">{'quadcopter': 3, 'None': 10, 'simulation': 3, 'ros': 3, 'gazebo': 3, 'software': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10848" class = 'collapse'>
			</div>
				<textarea id = "speech-10848" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10848">
					<img id="start_img-10848" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10848">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>