<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What information an IMU gives to a drone?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10045" class = "post">
			<h2>Question</h2>
			<div id="vote-10045" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1799</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What information an IMU gives to a drone?</h2>
<p>An Inertial Measurement Unit (IMU) is an important sensor used in aerial robotics. A typical IMU will contain an accelerometer and a rate gyroscope. Which of the following information does a robot get from an IMU? </p>

<ul>
<li>Position</li>
<li>Orientation</li>
<li>Linear velocity</li>
<li>Angular velocity</li>
<li>Linear acceleration</li>
<li>Angular acceleration</li>
</ul>

<p>I don't think it gets its orientation information from IMU. The last time I took the test, I said that all but the first two are true. I failed.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10045" data-toggle = "popover">
				<p>user name : Marine1</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-10045">{'quadcopter': 3, 'None': 0, 'multi-rotor': -2, 'uav': 3, 'slam': 1, 'imu': 0, 'motion-planning': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10045" class = 'collapse'>
			</div>
				<textarea id = "speech-10045" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10045">
					<img id="start_img-10045" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10045">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10046"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10046" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You already know the answer - because as you say it contains an accelerometer and a rate gyro.</p>

<p>An accelerometer measures linear acceleration, a <a href="https://en.wikipedia.org/wiki/Rate_gyro" rel="nofollow">rate gyro</a> measures angular velocity. These are the only quantities the unit will actually measure.</p>

<p>The other properties - whether positions, velocities or accelerations - have to be calculated by the controller. For example integrating an acceleration gives a velocity, and integrating again gives position.</p>

<p>There's an exception - if the device is being held motionless in any position, then the accelerometer is sensing which direction gravity is acting in, so it can be used directly as an orientation sensor. But that only applies if you <strong>know</strong> the device is being held motionless...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10046" data-toggle = "popover">
				<p>user name : Andy</p>
				<p> user reputation : 796</p>
				<p class = "tagcontent" id = "usertaginfo-10046">{'None': 59}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10046">Load Comments</button></br>
			<div id = "commentsection-10046" class = 'collapse'>
			<div id = "comment-17881" class = "comment">
				<p>I had the same misconception at first, but a gyro gives an angular *velocity*. The accelerometer gives a linear acceleration.</p>
			</div>
			<div id = "comment-17882" class = "comment">
				<p>@Chuck thank you for the correction. Looks like I would have failed the test too!</p>
			</div>
			<div id = "comment-17883" class = "comment">
				<p>Also note that the device does not need to be held *motionless* to accurately measure gravitational acceleration. It just needs to not be accelerating (constant velocity is fine).</p>
			</div>
			<div id = "comment-17884" class = "comment">
				<p>Okay I will pass the test again with your advises. I hope I will make it this time. I now know that I can only have **acceleration** through the **accelerometer** and the **angular velocity** thanks to the **rate gyro**.</p>
			</div>
			</div>
				<textarea id = "speech-10046" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10046">
					<img id="start_img-10046" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10046">Comment</button>
			<br><div id = "ans-10047"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10047" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An Inertial Measurement Unit (IMU) is a device that contains three accelerometers that measures a body's specific force vector, and three gyroscopes that measures its inertial angular velocity vector. It often also contains a triad of magnetometers that measures the magnetic field vector around the device. Note that the "accelerometers" do not directly measure the translational acceleration vector, this must be obtained by adding the apparent gravity vector to the measured specific force vector.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10047" data-toggle = "popover">
				<p>user name : Christo</p>
				<p> user reputation : 351</p>
				<p class = "tagcontent" id = "usertaginfo-10047">{'None': 19}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10047" class = 'collapse'>
			</div>
				<textarea id = "speech-10047" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10047">
					<img id="start_img-10047" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10047">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>