<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>what is the price of Pioneer P3DX
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6475" class = "post">
			<h2>Question</h2>
			<div id="vote-6475" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2860</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>what is the price of Pioneer P3DX</h2>
<p>I wanna know how much does <a href="http://mobilerobots.com/ResearchRobots/PioneerP3DX.aspx" rel="nofollow"> Pioneer P3DX </a>cost? nothing mentioned in the website and I don't want to fill out the form regarding this matter. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6475" data-toggle = "popover">
				<p>user name : CroCo</p>
				<p> user reputation : 1040</p>
				<p class = "tagcontent" id = "usertaginfo-6475">{'control': 18, 'pid': 4, 'slam': 16, 'manipulator': 3, 'mobile-robot': 14, 'dynamics': 6, 'errors': 2, 'data-association': 1, 'kinematics': 3, 'matlab': 6, 'kalman-filter': 21, 'motion-planning': 3, 'None': 41, 'noise': 24, 'theory': 1, 'localization': 14, 'microcontroller': 5, 'mapping': 5, 'sensor-error': 1, 'sensors': 7, 'quadcopter': 8, 'ekf': 26, 'simulation': 1, 'motion': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6475">Load Comments</button></br>
			<div id = "commentsection-6475" class = 'collapse'>
			<div id = "comment-9388" class = "comment">
				<p>This question seems off-topic for the site because the price may change over time.  Their website is the only objective source of information on this topic.</p>
			</div>
			</div>
				<textarea id = "speech-6475" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6475">
					<img id="start_img-6475" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6475">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6486"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6486" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://blog.seattletimes.nwsource.com/techtracks/2006/12/p3dx_robot_is_not_40k.html" rel="nofollow">http://blog.seattletimes.nwsource.com/techtracks/2006/12/p3dx_robot_is_not_40k.html</a></p>

<p>According to this it is closer to 4000 dollars. If you are really interested just fill the form.I filled it out when they give me a price I will update this.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6486" data-toggle = "popover">
				<p>user name : Harpreet Singh</p>
				<p> user reputation : 68</p>
				<p class = "tagcontent" id = "usertaginfo-6486">{'mobile-robot': 1, 'None': 6, 'localization': 1, 'arduino': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6486">Load Comments</button></br>
			<div id = "commentsection-6486" class = 'collapse'>
			<div id = "comment-9349" class = "comment">
				<p>4k? My goodness.</p>
			</div>
			<div id = "comment-9365" class = "comment">
				<p>yes,This robot had a laser and many other top quality sensors</p>
			</div>
			</div>
				<textarea id = "speech-6486" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6486">
					<img id="start_img-6486" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6486">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>