<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the difference between planning for kinematic car, dynamic car, blimp and quadrotor
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9210" class = "post">
			<h2>Question</h2>
			<div id="vote-9210" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 69</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the difference between planning for kinematic car, dynamic car, blimp and quadrotor</h2>
<p>I am working with a sampling based planning library. When I looked into the implementation, I found for kinematic car a SE2 state space(x, y, yaw), for dynamic car a SE2 compound state space (space allowing composition of state spaces), for blimp and quadrotor a SE3 compound state space was used. I could understand the design of SE2 and SE3 state spaces but the compound state spaces of dynamic car, blimp and quadrotor I could not comprehend or differentiate.</p>

<p>what is the difference in terms of state space for motion planning for kinematic car, dynamic car, blimp and quadrotor?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9210" data-toggle = "popover">
				<p>user name : boon</p>
				<p> user reputation : 94</p>
				<p class = "tagcontent" id = "usertaginfo-9210">{'quadcopter': 3, 'None': 0, 'rrt': 7, 'power': 0, 'planning': 2, 'mobile-robot': 3, 'motion-planning': 17}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9210">Load Comments</button></br>
			<div id = "commentsection-9210" class = 'collapse'>
			<div id = "comment-16287" class = "comment">
				<p>Each state and input matrix varies based on the system's natural response and how your inputs affect the system. What exactly are you asking for? What rigid body would you do motion planning for? How would you have a kinematic car modeled in state space form (which is a differential equation)? Please clarify your question.</p>
			</div>
			<div id = "comment-16288" class = "comment">
				<p>This feels like a 'fishing' question, and demonstrates that the asker hasn't done much preliminary research on the topic beforehand. e.g. Asking about motion planning for a rigid body. The question should either be extremely narrowed to a single example, or closed.</p>
			</div>
			<div id = "comment-16289" class = "comment">
				<p>@MechanicalMan - OP has asked some good questions in the past, so I'm hoping they'll come back and revise this into something more substantial. I'll vote to close it in a day or two if it looks like it's abandoned.</p>
			</div>
			<div id = "comment-16290" class = "comment">
				<p>Yeah, I saw that and was surprised. I'm half wondering if they let someone borrow their account. This could be an interesting question, if they narrowed it down to comparing a the state space of quadcopter to that of a blimp, since I'm actually now wondering about that myself.</p>
			</div>
			<div id = "comment-16313" class = "comment">
				<p>Can you please link to the source for your state space models? I still don't understand how a differential equation is a suitable description for a kinematic model. When you say "compound state space" I think you might mean augmented state matrices - those would be use to add "layers" of detail to a model, but again I'm not sure what *your* meaning is.</p>
			</div>
			<div id = "comment-16314" class = "comment">
				<p>In searching online it looks like all of the references to "compound state space" are by [The Open Motion Planning Library](http://ompl.kavrakilab.org/index.html). I've never heard of "compound state space", which doesn't mean it doesn't exist, but it seems like a term made up by the OMPL people. Please clarify.</p>
			</div>
			<div id = "comment-16344" class = "comment">
				<p>http://ompl.kavrakilab.org/classompl_1_1base_1_1StateSpace.html</p>
			</div>
			<div id = "comment-16345" class = "comment">
				<p>https://github.com/ompl/ompl/tree/master/src/ompl/base/spaces                                https://github.com/ompl/omplapp/blob/master/demos/SE2RigidBodyPlanning/KinematicCarPlanning.cpp</p>
			</div>
			<div id = "comment-16349" class = "comment">
				<p>On stack exchange, it is better to edit your question to add information requested in comments, rather than adding more comments. Comments are for helping to improve questions and answers, and are distracting, so we try to keep them to a minimum. If all of the information needed to answer the question is contained within it, the comments can be tidied up (deleted), as I have done with your earlier comment which was edited into your question.</p>
			</div>
			</div>
				<textarea id = "speech-9210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9210">
					<img id="start_img-9210" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9210">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>