<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What should the iBook tag actually be for? Books or laptops?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1483" class = "post">
			<h2>Question</h2>
			<div id="vote-1483" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 215</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What should the iBook tag actually be for? Books or laptops?</h2>
<p>While retagging <a href="https://apple.stackexchange.com/q/58360/8823">this question</a> to remove the 'iBooks' tag (which is clearly associated with Apple's e-book business, not their old iBook laptop line), I noticed that the singular <a href="https://apple.stackexchange.com/questions/tagged/ibook">iBook tag</a> is frequently associated with <em>both</em> the books and laptop.</p>

<p>There are too many questions there (or so it seems to me) to do a quick and obvious reconciliation, so I wanted to ask for consensus: should the <strong>iBook</strong> tag be applied to the eponymous laptop, should it be a synonym for <em>iBooks</em>, both, neither?</p>

<p>I prefer the former option, since the older-model laptops carried the trade name iBook, while I've rarely ever heard an Apple-provided e-book referred to in the singular as an "iBook".</p>

			</div>
			<div id = "userinfo-1483" style = "float:right">
				<p>user name : Dan J</p>
				<p> user reputation : 3808</p>
				<p> user tag wise history : {'None': 0, 'discussion': 7, 'tags': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1483">Load Comments</button></br>
			<div id = "commentsection-1483" class = 'collapse'>
			<div id = "comment-2795" class = "comment">
				<p>Is this question asking for opinion, or do you expect answers to be supported by fact?</p>
			</div>
			<div id = "comment-2815" class = "comment">
				<p>@TestSubject528491 This question is tagged "discussion", so: the former. :)</p>
			</div>
			<div id = "comment-2816" class = "comment">
				<p>I'm surprised. Questions such as this are usually closed precisely for that reason.</p>
			</div>
			<div id = "comment-2817" class = "comment">
				<p>@TestSubject528491 ...On the Meta site, meant for discussion of how apple.stackexchange.com should operate? Are you sure you're not thinking of Ask Different itself?</p>
			</div>
			</div>
				<textarea id = "speech-1483" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1483">
					<img id="start_img-1483" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1483">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1484"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1484" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://apple.stackexchange.com/questions/tagged/ibooks" class="post-tag" title="show questions tagged &#39;ibooks&#39;" rel="tag">ibooks</a> should apply exclusively to Apple's e-books offering. Maybe it should also be a synonym of the <a href="https://apple.stackexchange.com/questions/tagged/ibookstore" class="post-tag" title="show questions tagged &#39;ibookstore&#39;" rel="tag">ibookstore</a>? Perhaps not.</p>

<p><a href="https://apple.stackexchange.com/questions/tagged/ibook" class="post-tag" title="show questions tagged &#39;ibook&#39;" rel="tag">ibook</a> should apply exclusively to Apple's classic laptop line.</p>

<p>I can't think of a situation in which one would put the <a href="https://apple.stackexchange.com/questions/tagged/ibook" class="post-tag" title="show questions tagged &#39;ibook&#39;" rel="tag">ibook</a> tag to signify a question about a specific e-book.</p>
</p><br>
			</div>
			<div id = "userinfo-1484" style = "float:right">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p> user tag wise history : {'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1484">Load Comments</button></br>
			<div id = "commentsection-1484" class = 'collapse'>
			<div id = "comment-2787" class = "comment">
				<p>I've added a tag wiki to the iBook tag, attempting to make the intended usage clear. I guess we can just clean up the mis-tagged questions as we encounter them?</p>
			</div>
			</div>
				<textarea id = "speech-1484" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1484">
					<img id="start_img-1484" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1484">Comment</button>
			<br><div id = "ans-1485"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1485" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree in theory with @JasonSalaz's solution <a href="https://apple.stackexchange.com/questions/tagged/ibooks" class="post-tag" title="show questions tagged &#39;ibooks&#39;" rel="tag">ibooks</a> for the app and <a href="https://apple.stackexchange.com/questions/tagged/ibook" class="post-tag" title="show questions tagged &#39;ibook&#39;" rel="tag">ibook</a> for the hardware.</p>

<p>Hopwever I think that users will not read the wiki and will carry on misusing the tags.</p>

<p>I think as iBook is now an old machine that a better solution would be to make the tag for the machine to be <a href="https://apple.stackexchange.com/questions/tagged/ibook-laptop" class="post-tag" title="show questions tagged &#39;ibook-laptop&#39;" rel="tag">ibook-laptop</a> and remove an not allow [tag:iBook to be used]. Even then I would not be suprised to see machine related questions being wrongly tagged but this way would lead to the least errors.</p>
</p><br>
			</div>
			<div id = "userinfo-1485" style = "float:right">
				<p>user name : Mark</p>
				<p> user reputation : 16790</p>
				<p> user tag wise history : {'None': 93, 'synonym': 7, 'tags': 6, 'site-scope': 10, 'support': 9, 'canonical-questions': 4, 'status-completed': 6, 'bug': 13, 'closed-questions': 1, 'close-reasons': 1, 'hyperlinks': 1, 'feature-request': 8, 'status-bydesign': 8, 'editing': 1, 'discussion': 39}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1485">Load Comments</button></br>
			<div id = "commentsection-1485" class = 'collapse'>
			<div id = "comment-2788" class = "comment">
				<p>iBook-laptop is clunky and not Apple's terminology (they've long used the term "notebook" and never "laptop"). The solution to people misusing a tag is to edit it so it is correct, not to make tagspace artificially awkward to accommodate people who can't be bothered to read what their tags mean and use them properly.</p>
			</div>
			<div id = "comment-2791" class = "comment">
				<p>Good idea, @Mark.</p>
			</div>
			</div>
				<textarea id = "speech-1485" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1485">
					<img id="start_img-1485" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1485">Comment</button>
			<br><div id = "ans-1488"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1488" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I agree that <a href="https://apple.stackexchange.com/questions/tagged/ibooks" class="post-tag" title="show questions tagged &#39;ibooks&#39;" rel="tag">ibooks</a> should refer to the eBooks, but perhaps to avoid confusion, we could use <a href="https://apple.stackexchange.com/questions/tagged/ibook-g4" class="post-tag" title="show questions tagged &#39;ibook-g4&#39;" rel="tag">ibook-g4</a> and <a href="https://apple.stackexchange.com/questions/tagged/ibook-g3" class="post-tag" title="show questions tagged &#39;ibook-g3&#39;" rel="tag">ibook-g3</a> (or similar) as the tags for the hardware? A bit more distinction beyond plural/singular would probably be a useful thing.</p>
</p><br>
			</div>
			<div id = "userinfo-1488" style = "float:right">
				<p>user name : robmathers</p>
				<p> user reputation : 29938</p>
				<p> user tag wise history : {'closed-questions': 10, 'None': 2, 'discussion': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1488">Load Comments</button></br>
			<div id = "commentsection-1488" class = 'collapse'>
			<div id = "comment-2794" class = "comment">
				<p>Or maybe the tag would be ibook-laptop to make it clear.</p>
			</div>
			</div>
				<textarea id = "speech-1488" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1488">
					<img id="start_img-1488" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1488">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>