<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What equipment has been used to design this robot
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6783" class = "post">
			<h2>Question</h2>
			<div id="vote-6783" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 129</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What equipment has been used to design this robot</h2>
<p>Look at this robot here <a href="http://www.meccanotec.com/step781b.JPG" rel="nofollow">http://www.meccanotec.com/step781b.JPG</a>
I can see rods which have a lot of holes and planes which also have holes. This seems to be a way to create flexibility in how the things are connected together to create the final robot. Is there a name for this type of equipment, metals with holes. Where can I get it? I am aware of people using lego blocks to create robots, but am not sure about what these metal rods and plates with holes are.</p>

<p>Is there a free application in which I can design a mechanical structure like the one in the image and add gears and then simulate it to see how it will rotate and bend should a real robot like that be created?</p>

<p>What would be the quickest way to create a robot like this?</p>

<p>Edit: Thankyou; Frank and lanyusea. If one wants to do a simulation of the mechanical model, in others words play with the robot on the computer before actually building it (with all those gears in action), which software is most suitable for that purpose?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6783" data-toggle = "popover">
				<p>user name : quantum231</p>
				<p> user reputation : 121</p>
				<p class = "tagcontent" id = "usertaginfo-6783">{'None': 0, 'kinematics': 2, 'stepper-motor': 1, 'robotic-arm': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-6783">Load Comments</button></br>
			<div id = "commentsection-6783" class = 'collapse'>
			<div id = "comment-9751" class = "comment">
				<p>Check my question here http://robotics.stackexchange.com/questions/2434/is-it-possible-to-make-diy-clone-of-makerbeam.</p>
			</div>
			<div id = "comment-9825" class = "comment">
				<p>As evidenced in the url's domain name that building/erector toy is called meccano.</p>
			</div>
			</div>
				<textarea id = "speech-6783" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6783">
					<img id="start_img-6783" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6783">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6793"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6793" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Those are Erector Sets. 
<a href="http://www.erector.us/" rel="nofollow">http://www.erector.us/</a></p>

<p>They are AWESOME!!
<a href="http://en.wikipedia.org/wiki/Erector_Set" rel="nofollow">http://en.wikipedia.org/wiki/Erector_Set</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6793" data-toggle = "popover">
				<p>user name : Frank</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-6793">{'None': 8, 'design': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6793" class = 'collapse'>
			</div>
				<textarea id = "speech-6793" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6793">
					<img id="start_img-6793" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6793">Comment</button>
			<br><div id = "ans-6796"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6796" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>well, besides Erector Sets, there are several other choices</p>

<p>The LEGO EV3 <a href="http://www.lego.com/en-us/mindstorms/products/31313-mindstorms-ev3" rel="nofollow">http://www.lego.com/en-us/mindstorms/products/31313-mindstorms-ev3</a></p>

<p>and </p>

<p>MakeBlock <a href="http://www.makeblock.cc/" rel="nofollow">http://www.makeblock.cc/</a></p>

<p>They both can achieve the same goal.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6796" data-toggle = "popover">
				<p>user name : lanyusea</p>
				<p> user reputation : 56</p>
				<p class = "tagcontent" id = "usertaginfo-6796">{'None': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6796" class = 'collapse'>
			</div>
				<textarea id = "speech-6796" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6796">
					<img id="start_img-6796" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6796">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>