<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the calculations for a badminton robot and mechanisms?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4546" class = "post">
			<h2>Question</h2>
			<div id="vote-4546" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1287</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the calculations for a badminton robot and mechanisms?</h2>
<p>I am designing a badminton robot but i am very confused about mechanisms needed for a badminton robot and various calculations needed for millisecond response.I am also confused about calculations needed about the forces needed and efficient angles needed for hitting the shuttlecock.Please suggest me some ideas or suggestions needed for construction of badminton robot.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4546" data-toggle = "popover">
				<p>user name : Niks</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-4546">{'control': 1, 'None': 0, 'motor': 1, 'mechanism': 0, 'servomotor': 0, 'design': 1, 'robotic-arm': 1, 'actuator': 0, 'sensors': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4546">Load Comments</button></br>
			<div id = "commentsection-4546" class = 'collapse'>
			<div id = "comment-7150" class = "comment">
				<p>Please elaborate on what, exactly, the robot will do. Is it just hitting the shuttle? Does it need to move around the court too? Legs or wheels? etc</p>
			</div>
			<div id = "comment-7151" class = "comment">
				<p>The badminton bot is actually going to play in badminton field and as considering for more speed we are going to build a wheeled robot.</p>
			</div>
			<div id = "comment-7153" class = "comment">
				<p>Do you plan to use an ordinary [racket](http://en.wikipedia.org/wiki/Badminton#Rackets) and play on an ordinary [badminton court](http://en.wikipedia.org/wiki/Badminton#Rules)?  Do you want the robot to return as well as serve?</p>
			</div>
			<div id = "comment-7154" class = "comment">
				<p>Yes i want my robot to play as normal human and do serve as well.</p>
			</div>
			<div id = "comment-7171" class = "comment">
				<p>This seems like a very advanced project if you know very little about robot mechanisms or algorithms.</p>
			</div>
			<div id = "comment-7282" class = "comment">
				<p>You may want to migrate this question to the [stackexchange for physics questions](http://physics.stackexchange.com/), and come back when you have more of an idea of what mechanical/behavioral capabilities you need.</p>
			</div>
			<div id = "comment-7548" class = "comment">
				<p>Check this [A Study Of Shuttlecock's Trajectory In Badminton](http://bmsi.ru/doc/4edcfb4e-b329-4de9-9607-de5dc4296356)</p>
			</div>
			</div>
				<textarea id = "speech-4546" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4546">
					<img id="start_img-4546" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4546">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4553"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4553" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In short, what you are trying to do is well beyond the capabilities of top robotics research labs.</p>

<p>That said, here is a short list of general areas you need to look into:</p>

<ul>
<li>Robotic arm dynamics (to swing the racket)</li>
<li>Vision processing to track the shuttle</li>
<li>Shuttle dynamics to predict shuttle path (this is not well studying so you would most likely have to create new math here)</li>
<li>Nonlinear control control the arm as well as algorithms to move the robot where it needs to go.</li>
</ul>

<p>Note that a wheeled robot will probably not do well because it can't move side-to-to.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4553" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-4553">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4553">Load Comments</button></br>
			<div id = "commentsection-4553" class = 'collapse'>
			<div id = "comment-7192" class = "comment">
				<p>Please can you help me in predicting equations for shuttlecock trajectory.</p>
			</div>
			<div id = "comment-7193" class = "comment">
				<p>Sorry, but I don't have much expertise. A simple model would probably use a regular projectile with drag forces on it, where the drag forces are dependent on shuttle speed. The details of that model would have to come from experimentation.</p>
			</div>
			</div>
				<textarea id = "speech-4553" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4553">
					<img id="start_img-4553" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4553">Comment</button>
			<br><div id = "ans-4670"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4670" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I like questions like this because more experienced engineers have a knee-jerk reaction of "it's not possible". It's easy to figure out ways something couldn't work, the hard thing is to figure out how to make it work anyway. </p>

<p>Now, this is a very difficult problem, but I actually think it's possible. You'll have to accept some trade offs though. To move the robot, I would suggest omnidirectional wheels. They'll let you move in all directions, yet retain speed. To swing the racket, a full 6 degree of freedom robot arm is much too expensive, complicated, and heavy to build or buy. But you don't need a real robot arm, you need to swing a racket. Something as simple as a large solenoid behind a plate could work, or you could attach a linear actuator to the racket and use a catapult-like movement to hit the shuttlecock. It's not going to look like a humanoid robot, and it may only be able to hit the shuttlecock in one way (ie not impart spin), but it could at least change the direction in which it hits by angling itself right before making contact. </p>

<p>Tracking the shuttlecock and identifying it can be done in one step with a depth sensor like a Kinect. Basically, you'll be looking for the smallish thing that's getting close to you really fast. You can filter out everything that's not white and is beyond a certain distance to help with this. This is a significant programming task, but there is lots of example code and support for the Kinect and for doing simple color filtering. </p>

<p>The really hard part will be actually getting to the shuttlecock in time. Badminton is a fast game, and this theoretical robot is not going to be able to move as fast as a person. But, I think it's feasible to be able to get to shots that are high and slow (ie a tall parabola). That will give enough time to move and make tracking the shuttlecock easier, since there won't be many other objects in the sky to act as false positives.</p>

<p>So I would say that this task is not "well beyond the capabilities of the top robotics research labs". It is not any easy task by any means and it's not going to be as good at Badminton as you're probably picturing in your head, but it can be done. Heck, we have entire teams of robots <a href="https://www.youtube.com/watch?v=acrS0kPY-J8" rel="nofollow">that play soccer</a>, why not Badminton?  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4670" data-toggle = "popover">
				<p>user name : blueintegral</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-4670">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4670">Load Comments</button></br>
			<div id = "commentsection-4670" class = 'collapse'>
			<div id = "comment-7294" class = "comment">
				<p>Who says the robot need wheels, I guess using a big quadrocopter is a better idea, because it is faster on the one hand and you don't need a mechanism for the racket. It can be achieved by the quadro's movement.
But I would suggest using a pitch-controlled one, for the faster reaction time.</p>
			</div>
			<div id = "comment-12945" class = "comment">
				<p>@TobiasK,  you don't need a mechanism for the racket  is incorrect [in terms of the original question, anyway] because  Niks replied to  Do you plan to use an ordinary racket?   with   Yes i want my robot to play as normal human .</p>
			</div>
			</div>
				<textarea id = "speech-4670" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4670">
					<img id="start_img-4670" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4670">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>