<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What sensors can track small objects (5 cm - 25 cm) in bright sunlight?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10846" class = "post">
			<h2>Question</h2>
			<div id="vote-10846" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 97</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What sensors can track small objects (5 cm - 25 cm) in bright sunlight?</h2>
<p>ToF (time-of-flight) cameras seem susceptible to bright outdoor conditions.</p>

<p>Are there any sensors made for bright outdoor conditions and could be embeddable in a robot that could detect and/or track small objects (5cm - 25cm) with a range of 10m - 100m?</p>

<p>Would radar work?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10846" data-toggle = "popover">
				<p>user name : Crashalot</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-10846">{'stereo-vision': 3, 'None': 0, 'computer-vision': 5, 'cameras': 3, 'lidar': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10846">Load Comments</button></br>
			<div id = "commentsection-10846" class = 'collapse'>
			<div id = "comment-19549" class = "comment">
				<p>Define challenging light conditions. Too dark, too bright, both of them rapidly changing.</p>
			</div>
			<div id = "comment-19550" class = "comment">
				<p>@BenceKaulics too bright. thanks for the question.</p>
			</div>
			<div id = "comment-19587" class = "comment">
				<p>5cm object tracking at 100m? i wouldn't be surprised if that was itar territory</p>
			</div>
			<div id = "comment-19588" class = "comment">
				<p>@holmeski hmmm really? what if the speed at that distance wasn't very high? this is to track a golf ball. any suggestions on how to do this (beyond computer vision)?</p>
			</div>
			<div id = "comment-19592" class = "comment">
				<p>Can you modify tracked objects, i.e put some transmitter in it? What is reading frequency that you would need? Do you need only azimuth, or distance also?</p>
			</div>
			<div id = "comment-19594" class = "comment">
				<p>@mactro modifying the objects with a transmitter would be too easy :) in all seriousness, no transmitters. azimuth as well is ideal, but distance only would suffice. Re reading freq: 1 per second at a minimum, 30 per sec would be great, 100 per sec would be awesome.</p>
			</div>
			<div id = "comment-19598" class = "comment">
				<p>Welcome to *Robotics*, Crashalot. I'm going to close this question as it falls in a category of "shopping questions" or open-ended design questions. This question won't be very helpful to future visitors as specific products that could achieve your goals are modified or obsoleted after your question. Also, you're polling for "any sensor" that could solve your problem, meaning there could be several people with an acceptable answer, but you can only accept one.</p>
			</div>
			<div id = "comment-19599" class = "comment">
				<p>As an open-ended design/shopping/polling question, it's not suitable for *here*, but you're more than welcome to join us in [chat] and ask there. [chat] is a place that is *made* for the kind of back-and-forth **discussion** you're having with other users here in the *comments* section. I'll add, as a closing comment here, that I believe @holmeski is correct in that anything that has the angular resolution you're asking for is likely going to be in the region of military-grade sensors. Your spec (5cm at 100m) is an arc of ~0.029 degrees, which is at the limit for perceptible by the human eye.</p>
			</div>
			<div id = "comment-19603" class = "comment">
				<p>@Chuck ok thanks for clearly explaining why it was closed! also thanks for moderating what will hopefully turn into a very valuable resource for makers. sometimes the job is thankless, but not this time! :)</p>
			</div>
			<div id = "comment-19606" class = "comment">
				<p>@chuck looks like the chat room is empty though ... doh. to clarify, this is definitely not for military applications (e.g., detecting track golf balls which have diameters of ~5 cm) so will need to investigate the restrictions on military-grade sensors.</p>
			</div>
			<div id = "comment-19608" class = "comment">
				<p>@Crashalot - Robotics is a small site (relatively speaking), so chat is indeed usually empty. That said, it gets checked on a regular basis, and any messages you send there would be visible. You can also use the @ tag to ping particular users so they get a notification. What sensors you can use will depend on what *exactly* you're trying to do - tracking an object implies the need to be able to resolve to that size, which is how you get to military-grade radar. If you're just looking to *detect* or *range* then you could get by with something less. Again - come to [chat]!</p>
			</div>
			<div id = "comment-19615" class = "comment">
				<p>@Chuck thanks just commented in the chat room!</p>
			</div>
			</div>
				<textarea id = "speech-10846" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10846">
					<img id="start_img-10846" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10846">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10873"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10873" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Tracking small objects is always tricky. </p>

<p>You can use Ultrasonic sound sensors. Calibrate it to the distance you want to detect. They have low range though.</p>

<p>If you can work on a more complex model then computer vision could also help (Highly unreliable- It needs to have a very strong filter algorithm)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10873" data-toggle = "popover">
				<p>user name : Rishabh</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-10873">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10873">Load Comments</button></br>
			<div id = "commentsection-10873" class = 'collapse'>
			<div id = "comment-19586" class = "comment">
				<p>Thanks for the answer! What about radar?</p>
			</div>
			</div>
				<textarea id = "speech-10873" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10873">
					<img id="start_img-10873" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10873">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>