<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What factors should i consider when selecting a motor for a free wheeled cart-pole balancing robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8056" class = "post">
			<h2>Question</h2>
			<div id="vote-8056" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 67</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What factors should i consider when selecting a motor for a free wheeled cart-pole balancing robot?</h2>
<p>I'm developing a small scale cart-pole balancing robot consisting of two wheels driven by a single motor at the base (essentially like a unicycle, but with two wheels to constrain balance to a one dimensional problem).</p>

<p>I'm not sure what qualities to look for in that motor.  I think the motor should be able to accelerate quickly in directions opposite of motion as dictated by the control system.  However, i'm not sure if this rapid acceleration should correlate with higher torque motors or faster speed motors.  I think higher torque motors would be too slow to react to control commands.  In contrast, fast speed motors may not be able to overcome the momentum of the cart.</p>

<p>Are there any design equations or other calculations i can make based on my robot's dimensions and weight to determine the right specs needed for my robot's motor?  How can i determine the right motor specs for this application without resorting to brute-force trial &amp; error experiments?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8056" data-toggle = "popover">
				<p>user name : Paul</p>
				<p> user reputation : 704</p>
				<p class = "tagcontent" id = "usertaginfo-8056">{'control': 6, 'occupancygrid': 1, 'pid': 3, 'slam': 14, 'design': 0, 'motor': 5, 'dynamics': 11, 'probability': 1, 'accelerometer': 4, 'mechanism': 3, 'differential-drive': 1, 'kalman-filter': 6, 'actuator': 1, 'reference-request': 8, 'None': 30, 'inverse-kinematics': 3, 'mapping': 1, 'sensors': 10, 'quadcopter': 4, 'motion': 3, 'particle-filter': 4, 'sonar': 4, 'balance': 12, 'automatic': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8056">Load Comments</button></br>
			<div id = "commentsection-8056" class = 'collapse'>
			<div id = "comment-12853" class = "comment">
				<p>since rotational inertia is m* r^2, you can solve your speed issue without concern to the motors.  just increase the pole's length if your motors can't cope with the speed. :)</p>
			</div>
			</div>
				<textarea id = "speech-8056" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8056">
					<img id="start_img-8056" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8056">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8057"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8057" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>High acceleration from a static (balanced) configuration is <em>only</em> related to high torque. However, the maximum torque you can deliver decreases as function of speed. So, in the end it depends on both. In theory you could use a tiny motor with a huge gear ratio able to deliver a lot of torque, but it speeds up really quickly, meaning that it will fail coping with larger disturbances.  It is recommended to run some simulations of desired behaviour. Then calculate the required power by multiplying velocity and torque curves of the actuated joint. </p>

<p>Find a motor (brushed) that is able to deliver this power. Depending on a desire for efficiency or size, select a motor based on its nominal power or all the way up to near-maximum mechanical power respectively, or somewhere in between. I would recommend the former for now, as it's an easier approach. Nominal power is often given, or easily calculated by multiplying the nominal velocity and nominal torque. Maximum mechanical power is higher, and approximated by multiplying the no-load speed and stall torque divided by four. </p>

<p>Lastly, you will need a transmission to obtain desired torque-velocity characteristics. For instance, if your motor is able to deliver 10 mNm at 1000 rpm, whereas you need 2 Nm at 5 rpm, then use a transmission ratio of $R=2000/10=200$.</p>

<p>Update your simulation model by including the motor's reflected inertia $R^2\,I_{rotor}$ and mass to check whether your motor is still capable of delivering sufficient power. If not, then you have to re-iterate motor selection. Also, check your electrical power source and motor controller. Are they capable of delivering the required voltage and current?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8057" data-toggle = "popover">
				<p>user name : JJM Driessen</p>
				<p> user reputation : 422</p>
				<p class = "tagcontent" id = "usertaginfo-8057">{'battery': 1, 'None': 22, 'driver': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8057" class = 'collapse'>
			</div>
				<textarea id = "speech-8057" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8057">
					<img id="start_img-8057" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8057">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>