<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What exactly are PPM controlled ESCs? Are most ESCs available to build quadcopters PPM Controlled?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8698" class = "post">
			<h2>Question</h2>
			<div id="vote-8698" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1567</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What exactly are PPM controlled ESCs? Are most ESCs available to build quadcopters PPM Controlled?</h2>
<p>First, I don't see any manufacturer or online store telling whether an ESC is PPM controlled or not. Second, I have also been Googling and asking comments in <a href="https://www.youtube.com/watch?v=OZNxbxL7cdc" rel="nofollow"><em>all about ESCs</em></a> youtube videos for long, but I couldn't find anything useful.</p>

<blockquote>
  <p>Why do I need PPM controlled ESCs?</p>
</blockquote>

<p>I'm doing a project based on <a href="https://github.com/romainbaud/andro-copter" rel="nofollow">AndroCopter</a> and its clearly mentioned that it specifically requires the use of PPM controlled ESCs.</p>

<blockquote>
  <p>Can I use any ESCs available in the market for this project?</p>
</blockquote>

<p>It's also mentioned in the Github repo that PPM controlled ESCs are the most common ones. However from some who explained ESCs in Youtube video has commented back for my doubt telling that most common ESCs are PWM controlled which is contradicting the previous statement.</p>

<p><strong>PS</strong>: I need to use Arduino Mega to control the four ESCs. And Arduino Mega is programmed to send out PPM signals which is exactly why I need PPM controlled ESCs. Correct me if I made any mistakes.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8698" data-toggle = "popover">
				<p>user name : Zeke Dran</p>
				<p> user reputation : 123</p>
				<p class = "tagcontent" id = "usertaginfo-8698">{'quadcopter': 4, 'None': 0, 'arduino': 3, 'battery': 1, 'lithium-polymer': 1, 'brushless-motor': 1, 'esc': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8698">Load Comments</button></br>
			<div id = "commentsection-8698" class = 'collapse'>
			<div id = "comment-14206" class = "comment">
				<p>Is the ESC in [this](http://robu.in/shop/a2212-1400kv-brushless-motor-30a-esc-1045-propeller-set) PPM controllable? How do I if some ESC is PPM controlled or not?</p>
			</div>
			<div id = "comment-14215" class = "comment">
				<p>The code you link to is using Arduino's servo library, which is for PWM. As I understand it, PPM is multiple PWM pulses arranged in a frame and used for a multi-channel transmitter to talk to the receiver, which then converts the PPM into separate PWM channels for servers and motor control. PPM doesn't make sense for controlling a single function motor. see http://www.electricrcaircraftguy.com/2014/02/Timer2Counter-more-precise-Arduino-micros-function.html</p>
			</div>
			<div id = "comment-14244" class = "comment">
				<p>Single function motors? Lolz all motors are designed only to spin when an electric current is supplies, do they do anything else? :P</p>
			</div>
			<div id = "comment-14246" class = "comment">
				<p>Once you get into industrial motor controllers - the equivalent of ESCs for automation systems - you can have other functions that just controlling the speed, such as setting options to configure maximum speed, maximum duty, maximum acceleration and so on, so there is more than a single parameter going to the motor controller, and having a frame to set them might make sense ( though it's usually done digitally by the time it's a multi-function controller )</p>
			</div>
			<div id = "comment-14247" class = "comment">
				<p>:) yep, makes sense. So, receiver gets PPM, and the flight controller decodes it and sends PWM to individual ESCs which doesn't require them (the ESCs) to be PPM controlled/compatible. I wonder why in the [repo](https://github.com/romainbaud/andro-copter) they specifically require the use of PPM controlled ESCs. (Its in fact mentioned that other types are not supported, which I presume includes PWM ones).</p>
			</div>
			</div>
				<textarea id = "speech-8698" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8698">
					<img id="start_img-8698" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8698">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8699"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8699" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not an expert re: PPM communications but, from what I can tell, PPM signals contain pulses which are interpreted by the receiving microprocessor (or speed controller) as position commands.  If the pulse is the smallest acceptable width, then the position of the servo will be commanded to go completely to one side; if the pulse is the largest acceptable width, then the position of the servo will be commanded to go completely to the other side.  The PPM pulse is essentially a position setpoint, and the control of the power to achieve this position is up to the device that receives this signal.</p>

<p>On the other hand, a PWM signal will often directly regulate the amount of power that is transmitted to the motor.  Consider the per cent that the PWM is ON - if it is ON 100% of the time, the motor will receive the highest possible amount of power.  If the PWM signal is on at a 50% duty cycle, the motor will receive 50% of the available power.  </p>

<p>Essentially a PWM signal is part of a lower-level control loop, as compared to the PPM signal.  With the PPM signal, the speed controller takes care of the lower loops for you.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8699" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-8699">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8699">Load Comments</button></br>
			<div id = "commentsection-8699" class = 'collapse'>
			<div id = "comment-14236" class = "comment">
				<p>Does this mean in anyway that all ESCs that accept and process PWM **will also process** PPM signals?</p>
			</div>
			<div id = "comment-14237" class = "comment">
				<p>Not in general.  However, in the drone world, many do.  A simple google search will show you the different types of controllers.  Each controller will specify the signals it can process - you just need to look for the information.</p>
			</div>
			<div id = "comment-14245" class = "comment">
				<p>Unfortunately most (atleast the ones in India as far as I've seen) online stores don't provide proper specs sheet as pdf, rather they just give a brief description like in [here](http://robu.in/shop/a2212-1400kv-brushless-motor-30a-esc-1045-propeller-set) and I am helpless finding out weather that is PPM controlled or not. I assume the one in the link is PPM controlled, isn't it?</p>
			</div>
			<div id = "comment-14248" class = "comment">
				<p>Atleast [this](http://robu.in/shop/4-set-a2212-1400kv-brushless-motor-30a-esc-1045-propeller-set) is a specific combo for _building quadcopters_, **hope** the 30A ESCs in them are PPM controlled and accept the signals given out by me Arduino Mega...!</p>
			</div>
			<div id = "comment-14249" class = "comment">
				<p>You are correct about it not being easy to find the communications specifications of your device.  I was unsuccessful.   Have you tried the Stack Exchange Arduino group, or perhaps an online RC message board?</p>
			</div>
			</div>
				<textarea id = "speech-8699" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8699">
					<img id="start_img-8699" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8699">Comment</button>
			<br><div id = "ans-8738"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8738" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe there is confusion about these terms.  Strictly speaking, the ESC is PWM controlled. Although the signal usually gets there from a transmitter and receiver signal that is PPM encoded.</p>

<p>It seems to me, that many sources will have you believe that PPM is just a multiplexed PWM like this:</p>

<p><a href="https://i.stack.imgur.com/rNJLl.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/rNJLl.jpg" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/8ezPY.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/8ezPY.jpg" alt="enter image description here"></a></p>

<p>But in reality it is actually more like this:</p>

<p><a href="https://i.stack.imgur.com/J4ycX.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/J4ycX.jpg" alt="enter image description here"></a></p>

<p>Note in the final diagram that the actual PPM signal does not vary significantly in pulse width, only it's position is significant. Hence the term <em>Pulse Position Modulation</em>. From those positions, a controller will reconstruct a PWM signal that resembles what appears in the "Partial PPM Pulse" diagram (and is unfortunately labelled as PPM). That "PPM" signal (actually a multiplexed PWM signal) now has widths that are significant. </p>

<p>Rather unfortunately, neither that true PPM signal nor the so called PPM (actually multiplexed PWM) signal will make your ESC work correctly. It also has to be demultiplexed so that the information for only a <em>single channel</em> is fed to the ESC (or servo). This is in fact a PWM signal again. </p>

<p>It might be because the PWM has to have specific dimensions to work on the ESC that they don't want to use the term PWM, in other words its not just any generic PWM signal. Specifically the pulse width usually needs to be 1500 s long (+/- ~500 s) and occurs 20000 s apart (hence the 50Hz frequency), but there are alternatives to that scheme. Compare this to a PWM signal that can be used to control the brightness of an LED, for example, which can have any frequency and the widths can vary between 0% and 100% of the duty cycle. These are vastly different requirements from the PWM signal required to operate the ESC.</p>

<p>As far as I am aware, most ESCs used in RCs will have this type of control schema.</p>

<p><strong>So in conclusion:</strong></p>

<p>PPM when used to refer to ESCs is meant to be a specific kind of PWM. Any ESC that says it is PPM or PWM compatible is referring to the same thing. An alternative would be a serial motor controller, but I have never heard of one that was referred to as an ESC. Those are simply "motor controllers". For example, <a href="https://www.pololu.com/search?%5Bsearch_type%5D=&amp;query=motor%20controller&amp;x=4&amp;y=7" rel="nofollow noreferrer">these ones</a>. Also not that some of the controllers on that page are also PWM controlled, <em>but it is not the same kind of PWM -- more akin to the LED brightness control I mentioned above.</em></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8738" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-8738">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8738" class = 'collapse'>
			</div>
				<textarea id = "speech-8738" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8738">
					<img id="start_img-8738" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8738">Comment</button>
			<br><div id = "ans-8824"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8824" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In Radio Control lingo, we refer to PWM (Pulse Width Modulation) to describe a very specific <strong>control</strong> signal, instead of a power signal. Check the <a href="https://en.wikipedia.org/wiki/Servo_control#Pulse_duration" rel="nofollow">wiki article</a> for more info. This doesn't carry the power required to drive the servo, but encodes angle information for the servo to obey.</p>

<p>In order to enclose PWM setpoint information (for more than one servo) in the same wire, we use a PPM signal (Pulse Position Modulation). Essentially, this is multiple PWMs, each one shifted in time a bit, and interleaved.
More info <a href="http://rcarduino.blogspot.gr/2012/11/how-to-read-rc-receiver-ppm-stream.html" rel="nofollow">here</a>.</p>

<p>In your case, sadly the repo author has made a mistake, and he meant to say <strong>PMW</strong> ESC, instead of CAN-bus, etc.</p>

<p>Luckily, the arduino boards can drive RC PWM devices using the <em>servo</em> library.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8824" data-toggle = "popover">
				<p>user name : George ZP</p>
				<p> user reputation : 461</p>
				<p class = "tagcontent" id = "usertaginfo-8824">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8824" class = 'collapse'>
			</div>
				<textarea id = "speech-8824" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8824">
					<img id="start_img-8824" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8824">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>