<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What is the correct way to inform an Asker their answer is on another SE site?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2382" class = "post">
			<h2>Question</h2>
			<div id="vote-2382" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 40</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the correct way to inform an Asker their answer is on another SE site?</h2>
<p>I gave an answer to this question: <a href="https://apple.stackexchange.com/questions/173841/install-xcode-without-admin/176141">Install Xcode without admin</a></p>

<p>But the answer mostly amounts to "Your question was answered at SO here: <a href="https://stackoverflow.com/questions/1837889/authorize-a-non-admin-developer-in-xcode-mac-os">https://stackoverflow.com/questions/1837889/authorize-a-non-admin-developer-in-xcode-mac-os</a>"</p>

<p>But it's not considered correct to answer a question with someone else's answer. What should I have done here? Just skipping the question didn't seem like a good idea since it's over 2 weeks old now and only had about 20 views.</p>

<p>The answer here, <a href="https://apple.meta.stackexchange.com/questions/2157/what-is-the-correct-response-to-cross-posted-questions">What is the correct response to cross-posted questions?</a>, doesn't help me because I do not yet have permission to comment or flag posts.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2382" data-toggle = "popover">
				<p>user name : BSMP</p>
				<p> user reputation : 153</p>
				<p class = "tagcontent" id = "usertaginfo-2382">{'None': 0, 'discussion': 3, 'questions': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2382" class = 'collapse'>
			</div>
				<textarea id = "speech-2382" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2382">
					<img id="start_img-2382" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2382">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2391"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2391" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My question which you linked to is with regard to cross-posting: where the same user posts the same question to multiple sites across Stack Exchange. In this case, it's simply that the site scope of both sites allows the question to be on-topic in both places and has been asked on one site by one user and then on another site by a different user. This is <em>not</em> as a case for flagging as no moderator action is required in this situation.</p>

<p>In general, it is fine to copy a suitable answer from the original question and provide it as an answer to the second question. Use quote formatting to indicate that this is not your own work and provide a link to the source.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2391" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2391">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2391">Load Comments</button></br>
			<div id = "commentsection-2391" class = 'collapse'>
			<div id = "comment-4464" class = "comment">
				<p>Yeah, I considered including in the answer that I didn't think flagging was the correct answer for the reason you gave but figured it didn't matter since I couldn't flag anyway. I will edit my answer as suggested. Thank you! (I'd upvote as well as accept but I don't have the rep yet for that either.)</p>
			</div>
			<div id = "comment-4524" class = "comment">
				<p>This answer has lots of good advice, but let me nitpick one small part.  It feels like this answer is pushing BSMP to mark his answer as community wiki, but I don't think that is necessary or appropriate.  I can't see any reason to single out this particular answer to suggest that BSMP mark it as community wiki.  [BSMP's answer](http://apple.stackexchange.com/a/176141/24154) would be fine as non-community wiki (and indeed I'd like to upvote it and ensure that BSMP gets rep for it). (If you were thinking of community wiki as a rep-denial mechanism, that's not what it's supposed to be used for.)</p>
			</div>
			<div id = "comment-4525" class = "comment">
				<p>@D.W. No, I don't wish to promote community wiki as a method of denying reputation from that answer I simply wanted to bring awareness to the community wiki feature and say that the answer *can* be made community wiki. Perhaps my vocabulary choices could be made better? Feel free to suggest a revision (comments are fine, I know you can't suggest edits on meta) or add your own answer.</p>
			</div>
			<div id = "comment-4526" class = "comment">
				<p>Thanks for the elaboration.  Understandable.  I guess my reaction is to think that making a point of mentioning community wiki in this context somehow implies that community wiki is especially appropriate for this particular answer, and I can't see any reason why community wiki would be more appropriate for this answer than for any random answer on this site.  See e.g. http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/  The only edit I'd suggest is to delete that sentence from your answer.  Maybe that's not a constructive suggestion, though...</p>
			</div>
			<div id = "comment-4527" class = "comment">
				<p>@D.W. That's a fair solution, I've removed the reference and upvoted your answer. Thanks for pointing out discrepancies, always welcome. I don't really know what I was thinking when I mentioned community wiki :)</p>
			</div>
			<div id = "comment-4528" class = "comment">
				<p>Thanks for so understanding, grgarside.  Sounds like we are in violent agreement in all respects.  Hope BSMP will continue to contribute to the community!</p>
			</div>
			</div>
				<textarea id = "speech-2391" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2391">
					<img id="start_img-2391" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2391">Comment</button>
			<br><div id = "ans-2416"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2416" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Kudos for asking so constructively.  I think your reaction/approach was entirely reasonable.</p>

<p>In general we tend not to like link-only answers.  There are several reasons.  For instance, links often die.  However, those reasons probably don't apply here.  For instance, it seems hard to imagine a situation where Stackoverflow disappears from the Internet but Ask Different remains.  That said, it never hurts to supplement your answer by adding a summary of the main idea from the other answer you are linking to, so the best solution is probably to provide a link to the detailed answer on Stackoverflow and add a short summary to your answer here.</p>

<p>It is OK to copy from someone else's answer, as long as you provide suitable attribution and link to that other answer.</p>

<p>The only place where I disagree with <a href="https://apple.meta.stackexchange.com/a/2391/24154">grgarside's excellent answer</a> -- and I admit it's a small nit -- is that I think there's no need to mark your answer as community wiki.  Community wiki is only appropriate in those very rare cases where <a href="http://blog.stackoverflow.com/2011/08/the-future-of-community-wiki/">massive collaboration from the community is needed</a>; this is extremely rare and I don't see why it would apply to your situation.  I would suggest you leave your answer as an ordinary answer (don't make it community wiki) -- I think your answer is helpful, and I'd prefer to be able to upvote it and have you receive the rep for your useful, well-written, well-researched answer.  If you want to remove community wiki status, you can flag your answer for moderator attention and ask them to remove the community wiki status.</p>

<p>Thank you for your valuable contributions to Ask Different.  I hope you will keep contributing!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2416" data-toggle = "popover">
				<p>user name : D.W.</p>
				<p> user reputation : 2144</p>
				<p class = "tagcontent" id = "usertaginfo-2416">{'None': 18}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2416">Load Comments</button></br>
			<div id = "commentsection-2416" class = 'collapse'>
			<div id = "comment-4529" class = "comment">
				<p>I appreciate the clarification on Community Wiki. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-2416" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2416">
					<img id="start_img-2416" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2416">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>