<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the name for the transfer function, GH
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1590" class = "post">
			<h2>Question</h2>
			<div id="vote-1590" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1330</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the name for the transfer function, GH</h2>
<p>What is the name for the transfer function, GH, in a simple feedback control system like</p>

<p>$$y=\frac{G}{1+GH}u$$</p>

<p>What do you call G? What about (G/(1+GH))?</p>

<p>I am confused by the fact that that  "open-loop transfer function" and "Loop transfer function" are used to mean GH by different people. Which is academically correct or widely accepted?</p>

<p>There are several terms: "closed-loop transfer function"
"open-loop transfer function"
"overall transfer function"
"Loop transfer function"
"loop gain"
"loop ratio"</p>

<p>Thanks</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1590" data-toggle = "popover">
				<p>user name : guest</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-1590">{'control': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1590">Load Comments</button></br>
			<div id = "commentsection-1590" class = 'collapse'>
			<div id = "comment-3318" class = "comment">
				<p>I'm confused by the statement "There are several terms: "closed-loop transfer function" "open-loop transfer function" "overall transfer function" "Loop transfer function" "loop gain" "loop ratio"". Do you mean to ask a question?</p>
			</div>
			</div>
				<textarea id = "speech-1590" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1590">
					<img id="start_img-1590" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1590">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1591"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1591" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>$GH$ has no special name in and of itself, it is merely a part of the transfer function.</p>

<p>$G$ is the plant/system. It is a mode of the system you want to control.</p>

<p>$y = Gu$ is the open-loop transfer function. It describes how the output of the system changes given a conrol signal $u$.</p>

<p>$y = \frac{G}{1+GH}u$ is the closed loop transfer function. It describes how the output of the system changes given a control signal $u$ and some observation model $H$.</p>

<p>The phrase "Loop transfer function" is used in contexts where the type of controller (open vs. closed) is not relevant.</p>

<p>A good introductory text to these ideas is the sixth edition of <a href="http://books.google.com/books?id=gxOLZwEACAAJ&amp;dq=feedback+control+of+dynamic+systems&amp;hl=en&amp;sa=X&amp;ei=gnbjUZXmMsbBigLZ1oEY&amp;ved=0CDUQ6AEwAA" rel="nofollow">Feedback Control of Dynamic Systems by Franklin, Powell, and Emami-naeini</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1591" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-1591">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1591">Load Comments</button></br>
			<div id = "commentsection-1591" class = 'collapse'>
			<div id = "comment-3320" class = "comment">
				<p>When you analyze the stability *without assuming H=1*, GH is important polynomial. Characteristic equation is 1+GH=0; Nyquist diagram and the root locus are drawn based on GH. This si why I was wondering if there is any specific name for GH. "Loop transfer function" is used to mean GH in http://www.ti.com/lit/an/snva364a/snva364a.pdf</p>
			</div>
			<div id = "comment-3322" class = "comment">
				<p>Looking through that document I get the impression they are talking about the closed-loop transfer function. Why do you believe they're talking about GH alone?</p>
			</div>
			<div id = "comment-3323" class = "comment">
				<p>If G is a transfer function and H is a transfer function, then GH is a transfer function.  In that equation, H is the controller transfer function, not an observation model. The phrase "loop transfer function" only makes sense in the context of closed-loop control; "open loop" is a misnomer for "no loop" unless you mean "formerly closed-loop with the loop broken".</p>
			</div>
			<div id = "comment-3324" class = "comment">
				<p>You're right that GH is technically a transfer function. I have corrected my answer to that end. Whether we call H a "transfer function" or an "observation model" is largely semantics. In a real system with a real sensor it would in fact be a true transfer function. In the case of mathematical analysis we would need to approximate the behavior of the sensor, i.e. model it, making the phrase "observation model" appropriate. As for the phrase "loop transfer function", I suspect our differing perspectives are a matter of differing conventions given that there isn't an actual definition for it.</p>
			</div>
			<div id = "comment-3327" class = "comment">
				<p>I just realized that part of the confusion comes in regarding how you are interpreting $H$. $H$ classically denotes the sensor in a closed loop system, not the controller as you claim. $C$ is generally used to denote the controller. As such, the original equation does not have a controller. We know this because if it were the controller then the transfer function would be $y=HGu$. We only get the form $y=\frac{G}{1+GH}u$ when the loop is closed.</p>
			</div>
			<div id = "comment-3328" class = "comment">
				<p>Actually, I was misreading his equation, even while I transcribed it accurately.  I'm too used to the form $\frac{GH}{1 + GH}$ for my own good, apparently.</p>
			</div>
			<div id = "comment-3339" class = "comment">
				<p>"Why do you believe they're talking about GH alone?" Because they deal with the gain and phase difference of A to B, i.e. one point in the loop to another point in the loop. For example, "dB = 20log A/B." in Page 5. AND, in general, the transfer function along the loop is used in stability analysis.</p>
			</div>
			</div>
				<textarea id = "speech-1591" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1591">
					<img id="start_img-1591" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1591">Comment</button>
			<br><div id = "ans-1593"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1593" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Both "loop transfer function" and "open loop transfer function" are acceptable terms for $GH$, as are "loop gain" and "loop ratio".  They all mean much the same thing.  We're humans, we can't always stick to a 1:1 correspondence between the thing and it's name.</p>

<p>Are you sure that you meant $\frac{G}{1+GH}$, or did you mean $\frac{GH}{1+GH}$?  The former is useful in its way, but the latter is so common that I saw what you wrote and mistook it for the common form.</p>

<p>This is a complicated subject.  You need a book.  Being naturally modest and retiring, I suggest this one: <a href="http://www.wescottdesign.com/actfes/actfes.html" rel="nofollow">http://www.wescottdesign.com/actfes/actfes.html</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1593" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1593">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1593">Load Comments</button></br>
			<div id = "commentsection-1593" class = 'collapse'>
			<div id = "comment-3340" class = "comment">
				<p>"We're humans" I think I am understanding the situation. I did not get education in control theory in English. There is a specific term for GH in my native language, Japanese. But I found "open loop tranfer function" used to mean GH by many (sometimes, with an implicit assumption of H=1) whereas the same term is also used to mean G only. So I wanted to be sure which one is most accepted and less likely to be misunderstood. (Yes, I meant G/(1+GH): G in the direct path from IN to OUT, H is in the feedback loop). I'll look at the book you suggested. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-1593" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1593">
					<img id="start_img-1593" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1593">Comment</button>
			<br><div id = "ans-1597"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1597" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>G is the open loop transfer function</p>

<p>G*H is the loop transfer function. </p>

<p>The closed loop transfer function is the (open loop) / (1 + loop)</p>

<p><a href="http://en.wikipedia.org/wiki/Closed-loop_transfer_function" rel="nofollow">http://en.wikipedia.org/wiki/Closed-loop_transfer_function</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1597" data-toggle = "popover">
				<p>user name : Chet</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-1597">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1597">Load Comments</button></br>
			<div id = "commentsection-1597" class = 'collapse'>
			<div id = "comment-3341" class = "comment">
				<p>Your definitions are most easy and clear for me to understand. Through this thread, I understand some people use "loop transfer function" for GH and others do not. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-1597" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1597">
					<img id="start_img-1597" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1597">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>