<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the reasons for not having autonomous robots in our daily activities?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-780" class = "post">
			<h2>Question</h2>
			<div id="vote-780" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1074</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the reasons for not having autonomous robots in our daily activities?</h2>
<p>The fact is that the more I search the less I find autonomous (real) robots in use. The companion robots are all toys with limited useless functionality. Whenever there is a natural disaster you don t see operational search and rescue robots in the news. Even military robots in service are all remotely controlled machines. They are not intelligent machines. Industrial robotic arms are deterministic machines. The only robots with some levels of autonomous functionality are cleaning bots, warehouse operations bots and farming robots.</p>

<p>On the other hand, today:</p>

<ul>
<li>the artificial intelligence algorithms are very good in making decisions </li>
<li>the sensing technologies are very sophisticated</li>
<li>the communication technologies are very fast</li>
<li>we can manufacture cheap parts</li>
<li>people are extremely gadget savvy</li>
</ul>

<p>So, why there is no real robot in our day to day life? No investment in the domain? No market yet? Not enough knowledge in the domain? A missing technology? Any idea?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-780" data-toggle = "popover">
				<p>user name : Dr D</p>
				<p> user reputation : 58</p>
				<p class = "tagcontent" id = "usertaginfo-780">{'mobile-robot': 11, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-780">Load Comments</button></br>
			<div id = "commentsection-780" class = 'collapse'>
			<div id = "comment-2047" class = "comment">
				<p>search and rescue robots were deployed at the world trade centre over a decade ago. Apparently it was the first real-life deployment and, depending on who you ask, the robots performed abysmally bad or quite well, but most rescue robots are remote operated, so they're not examples that are really applicable to your question</p>
			</div>
			<div id = "comment-2164" class = "comment">
				<p>On a side note, my brother worked for Komatsu for a long while.  They offered an automated open-cut mining system.  Many potential customers were not interested since they would have to 'fight the unions' to get them into the workplace.  It was also considered a 'no show' for any mine that also had people working, for the safety factor.  A while ago I heard, that they had managed to get the system into one or two newly started mines, but doubt that on the basis of lack of evidence.</p>
			</div>
			<div id = "comment-6667" class = "comment">
				<p>This question appears to be off-topic because it involves speculating on the state of the industry and not solving a practical problem in robotics.</p>
			</div>
			<div id = "comment-14381" class = "comment">
				<p>*...artificial intelligence algorithms are very good in making decisions* - "Good" is not enough.  Would you want an AI car to keep you alive only 72.3% of the time???.  In the most coveted AI robot applications, people expect autonomy execute PERFECTLY in a world where stochastically chaotic operating conditions are the norm.  The best "algorithms" only work in limited (i.e. ideal) environments.  There is no general purpose AI software that can enable a robot to "handle everything and anything".</p>
			</div>
			</div>
				<textarea id = "speech-780" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-780">
					<img id="start_img-780" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-780">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-781"  class = "post">
				<h2>Answer</h2>
			<div id="vote-781" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>First of all, everything is not as perfect as you think. A lot of algorithms (AI included) work well in theory, but in practice there are way too many <code>if</code>s of unforeseen events. It happens so often that your algorithm works perfect in simulation and once you load it in a robot, it can't even go straight in a simple hallway.</p>

<p>That aside, I believe there are two main reasons:</p>

<ol>
<li><strong>Robots are expensive</strong>. You may have <em>some</em> cheap parts, but really, robots are expensive. In my lab, we took part in making robotic skins, and just that, for a human-sized robot is not cheap at all. It's cheap for an industrial robot, but I doubt you would want to pay thousands of dollars/euros for not-useless robot.</li>
<li><strong>Robots are not safe</strong>. Not yet at least. If a small vacuum cleaner robot hits your leg, it won't hurt much. But if a humanoid robot crushes your hand during a hand-shake, well, no one likes to be responsible for that. Note that shortcomings of algorithms (for example sensor data processing, feature extraction and reasoning) are the main reason for this lack of safety.</li>
</ol>

<p>So I believe, even though we are not too far from having robot friends among us, it's still too early for it.</p>

<p>Just to give you examples from real world:</p>

<p>The <a href="http://en.wikipedia.org/wiki/Nao_%28robot%29" rel="nofollow noreferrer">Nao robot</a>, designed to be a companion (from Wikipedia) but actually mostly used for soccer games, costs about <strong>16000$</strong>:</p>

<p><a href="http://www.about-robots.com/images/nao-robot-price-how-much-does-the-nao-robot-cost-21603071.jpg" rel="nofollow noreferrer">http://www.about-robots.com/images/nao-robot-price-how-much-does-the-nao-robot-cost-21603071.jpg</a></p>

<p>The <a href="http://en.wikipedia.org/wiki/Enon_%28robot%29" rel="nofollow noreferrer">Enon robot</a>, built to be a personal assistant, costs about <strong>60000$</strong>:</p>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Enon_robot.jpg" alt=""></p>

<p>The <a href="http://en.wikipedia.org/wiki/ICub" rel="nofollow noreferrer">iCub</a> humanoid costs <strong>200000$</strong>:</p>

<p><a href="http://cdn.physorg.com/newman/gfx/news/hires/2009/DSC_5744.jpg" rel="nofollow noreferrer">http://cdn.physorg.com/newman/gfx/news/hires/2009/DSC_5744.jpg</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-781" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-781">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-781">Load Comments</button></br>
			<div id = "commentsection-781" class = 'collapse'>
			<div id = "comment-1007" class = "comment">
				<p>Nice analysis Shahbaz, then, we may conclude that the main problem is safety. 
There are only 20 iCubs built. Obviously, mass production can reduce the costs dramatically. Moreover, there are other cost reduction methods too. 
As for the safety issues, one way could be using aerospace solutions such as having redundancy to cope with failures.
What about lack of trust? I think many people are not comfortable with having a vacuum cleaner wandering around the house. it is an affordable machine for average consumer, though.</p>
			</div>
			<div id = "comment-1008" class = "comment">
				<p>@drd, I can't tell for sure (I don't have any references), but all of these have some effect which cause the behaviour we see. Mass production can reduce costs, but robot assembly is not an easy task (and so not easy to mass produce). Redundancy would on the other hand increase the cost. Oh and don't forget power consumption. Psychological reasons also definitely play a role, although again, I can't tell for certain. I believe, currently a robot at home would be seen as a super expensive toy for grown-ups, and there's not much of a market for that!</p>
			</div>
			</div>
				<textarea id = "speech-781" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-781">
					<img id="start_img-781" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-781">Comment</button>
			<br><div id = "ans-786"  class = "post">
				<h2>Answer</h2>
			<div id="vote-786" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A major limiting factor to autonomous robots is intelligence. While AI has made great strides it has generally been unable to handle the complexity of the world. A common solution this problem has been to restrict autonomous robots to very simplified versions of the world.</p>

<p>The Roomba is a good example. It deals with the complexity of the world by essentially executing combinations of simple patterns (spirals, straight lines, etc.) where transitions between patterns are a function of obstacle presence and time. This has its benefits. For instance the Roomba only needs a hand full of bump and IR sensors to perceive its world which in turn limits the amount of processing power required.</p>

<p>The exception at the moment is autonomous vehicles. This comes predominantly from the large investments the military has been making over the years. Not only in Unmanned Aerial Vehicles (UAVs) but also ground based vehicles. Widely known examples of these investments include the <a href="http://en.wikipedia.org/wiki/DARPA_Grand_Challenge">DARPA Grand Challenge</a> and <a href="http://archive.darpa.mil/grandchallenge/">DARPA Urban Challenge</a>. Fortunately a lot of the techniques developed for these vehicles are more generally applicable. For instance the motion planning techniques are usually applicable to robots with other methods of locomotion.</p>

<p>Other types of autonomous robots are on the horizon because of similar investments. For instance DARPA recently announced a winner of the <a href="http://www.theverge.com/2012/8/16/3247964/sandia-robot-hand-darpa-funded-replace-fingers">DARPA hand challenge</a> and is actively promoting a contest for <a href="http://spectrum.ieee.org/automaton/robotics/humanoids/iros-2012-darpa-robotics-challenge-update">bipeds</a>. Similarly companies like <a href="http://www.bostondynamics.com/">Boston Dynamics</a> have done a lot to advance autonomous robots. Of course one might object that their robots (e.g. <a href="http://spectrum.ieee.org/automaton/robotics/military-robots/latest-ls3-alphadog-prototypes-get-less-noisy-more-brainy">BigDog</a> and <a href="http://spectrum.ieee.org/automaton/robotics/military-robots/boston-dynamics-building-fast-running-robot-cheetah-new-agile-humanoid">Cheetah</a>) are only semi-autonomous but such an objection fails to recognize just how much autonomy is still involved.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-786" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-786">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-786">Load Comments</button></br>
			<div id = "commentsection-786" class = 'collapse'>
			<div id = "comment-1009" class = "comment">
				<p>Thanks for the answer DaemonMaker, artificial intelligence won the chess match against Garry Kasparov. Can we conclude that we are limited in processing power on a mobile machine, not really the intelligence? But, RHex from Boston Dynamics can run for 6 hours and its video is astonishing. Though, I am not sure if it is running completely autonomously.</p>
			</div>
			<div id = "comment-1010" class = "comment">
				<p>While processing power is a limitation it is not the only one. We still have a lot to learn about building intelligent systems. Take your examples. First, agents like Deep Blue and Watson have massive amounts of processing power but they are highly specialized and incapable of addressing general problems (i.e. the complexity of the world). RHex on the other hand is highly capable of autonomously dealing with complex terrain with very little processing power. This is an example of what I like to call physical or mechanical intelligence. Check out the work Dr. Rolf Pfeifer for more detail.</p>
			</div>
			<div id = "comment-2026" class = "comment">
				<p>@DrD I would also argue that chess is a very constrained environment with a relatively small set of rules compared to the site of a natural disaster.</p>
			</div>
			</div>
				<textarea id = "speech-786" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-786">
					<img id="start_img-786" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-786">Comment</button>
			<br><div id = "ans-3128"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3128" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This situation may change now that Aldebaran has announced the <a href="http://www.aldebaran.com/en/a-robots/who-is-pepper" rel="nofollow">Pepper robot</a> for approx US$2000 (plus an as yet undisclosed subscription).</p>

<p>Also this year the NAO robot was reduced in price and is now available for approx US$7000</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3128" data-toggle = "popover">
				<p>user name : dsnowdon</p>
				<p> user reputation : 9</p>
				<p class = "tagcontent" id = "usertaginfo-3128">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3128" class = 'collapse'>
			</div>
				<textarea id = "speech-3128" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3128">
					<img id="start_img-3128" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3128">Comment</button>
			<br><div id = "ans-8778"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8778" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Actually, robots do exist in your daily life.</strong> Lots of them.</p>

<p>Just not like you're expecting them to. Can an AI define tasks for itself, work towards a goal, and interact purposefully with humans? No. Even the best AI that exists is still arguably not much more than <a href="https://en.wikipedia.org/wiki/Pattern_recognition" rel="nofollow noreferrer">Pattern Recognition</a>. </p>

<p>If you'll pardon the analogy, we aren't (and imho shouldn't be) building <em>living machines</em> which is what many people expect from advanced robotics. </p>

<p>Instead, we're building a real-life equivalent of a <a href="https://en.wikipedia.org/wiki/Magic_item_%28Dungeons_%26_Dragons%29" rel="nofollow noreferrer" title="Magic Item"><em>magic item</em></a>. They help the user (us) by performing a <em>very specific task</em>, or simply <em>making such a task easier for us</em>. Some of these robots are so old and pervasive you don't even recognize them as such.</p>

<p>A robot could be loosely defined as a machine that senses its environment to make decisions and perform some task. Can we think of a few of these machines?</p>

<p><a href="https://i.stack.imgur.com/Wa5mk.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Wa5mk.jpg" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/pykNC.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/pykNC.jpg" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/3omvQ.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/3omvQ.jpg" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/IG44b.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/IG44b.jpg" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/U066O.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/U066O.png" alt="enter image description here"></a></p>

<p><a href="https://i.stack.imgur.com/UKxYd.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/UKxYd.jpg" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8778" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-8778">{'None': 345}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8778" class = 'collapse'>
			</div>
				<textarea id = "speech-8778" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8778">
					<img id="start_img-8778" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8778">Comment</button>
			<br><div id = "ans-8781"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8781" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your first 2 reasons for having a robot are still wrong today, that is 2 years after you posted.</p>

<ol>
<li><p>There are no AI algorithms so far. What currently exists are somewhat smart action-reaction scenarios. I've been working in crane automization in a cement plant between 1997 and 2000. Various sensors sent notifications that new material was needed, so a new task was created and scheduled. Absolutely no magic in that. In the end 5 crane drivers lost their jobs because some software with lot of sensors did the same.</p></li>
<li><p>For my needs there are still no usable sensors. I need a robot that cleans my appartment, especially the bathroom and kitchen. Where is the sensor that decides if a towel is dirty? If the window  or floor needs cleaning? Where is the robot to wash my dishes and place it it into the cabinet afterwards?</p></li>
</ol>

<p>People are still waiting for a software that passes the Turing test. When that is successfully done, the first step to AI software has been made.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8781" data-toggle = "popover">
				<p>user name : ott--</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-8781">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8781">Load Comments</button></br>
			<div id = "commentsection-8781" class = 'collapse'>
			<div id = "comment-19180" class = "comment">
				<p>_There are no AI algorithms so far_ is kind of a strong statement. I'm not going into the philosophical question of "what is AI", but there is a lot more than action-reaction going on in AI. A lot of Intelligence deals with decision making, and beyond reaction, AI actually has a huge arsenal of [optimization algorithms](https://en.wikipedia.org/wiki/Artificial_intelligence#Tools). What's hard is applying those algorithms to real-life, because real-life has way too many parameters and unpredictability.</p>
			</div>
			</div>
				<textarea id = "speech-8781" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8781">
					<img id="start_img-8781" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8781">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>