<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What to do with answers that clarify another answer
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2647" class = "post">
			<h2>Question</h2>
			<div id="vote-2647" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 128</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What to do with answers that clarify another answer</h2>
<p>I've been encountering a few items in the first posts queue which I'm not sure what to do with.</p>

<p>They generally take the form of "to add on to (someone else)'s answer... etc".</p>

<p>I've been just marking these as No Action Needed since they <em>sort of</em> answer the stated question, yet would be unable to stand on their own without the existence of another answer.</p>

<p>Part of me thinks that these should be flagged no answer as it's something that would be better for a comment - hence the question:</p>

<h2>Do answers need to be able to stand on their own, or is building on another answer acceptable?</h2>

			</div>
			<div class = "userinfosection"  id = "userinfo-2647" data-toggle = "popover">
				<p>user name : Mikey T.K.</p>
				<p> user reputation : 1540</p>
				<p class = "tagcontent" id = "usertaginfo-2647">{'closed-questions': 7, 'None': 0, 'discussion': 20}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2647">Load Comments</button></br>
			<div id = "commentsection-2647" class = 'collapse'>
			<div id = "comment-5926" class = "comment">
				<p>It depends - can you provide some examples?</p>
			</div>
			</div>
				<textarea id = "speech-2647" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2647">
					<img id="start_img-2647" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2647">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2648"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2648" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ideally, every post stands alone.</p>

<p>In practice, other answers can get deleted, so even when you review it - consider encouraging newcomers, editing to improve a first post and otherwise being willing to skip the review a post you know needs help, but you don't have the time or energy or experience now to take that action.</p>

<p>When flagging or voting to delete a post, I always try to not destroy anything that is useful - so even if the answer starts with "I have the same issue and ..." and blathers on a bit and then has one clear answer / one clear tidbit or troubleshooting or something redeeming, it's far better to vote up/down based on how it relates to the <em>other</em> answers.</p>

<p>If other answers are worse than this attempt to help out and contribute, I'll often up vote an otherwise poor answer. If it's way worse than an existing answer, down vote and comment.</p>

<p>Only when it's totally un-editable would I delete it. Remember - even wrong answers are useful. By commenting and down voting, it shows others how an answer is wrong and helps them make their own progress on the same issue.</p>

<p>So TLDR - it's complicated, it's relative and it's often a matter of encouraging people to do better as opposed to judging an answer to some absolute standard without considering the entire post and the site's long term goals of amassing useful information that is open sourced, creative commons and collaboratively edited and curated and voted.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2648" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2648">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2648" class = 'collapse'>
			</div>
				<textarea id = "speech-2648" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2648">
					<img id="start_img-2648" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2648">Comment</button>
			<br><div id = "ans-2655"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2655" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>An alternative might be to try tying up all the loose ends &amp; comments into a new, complete answer - though that might depend on how far down the pile that may put it initially.</p>

<p>I had a bit of a go at a similar thing today - <a href="https://apple.stackexchange.com/questions/205574/copy-text-from-quick-look-in-el-capitan/211625#211625">Copy text from quick look in El Capitan or Sierra?</a></p>

<p>Just really pulling comments, a partial answer, some Googling &amp; some folk-lore meme all into one place, though it does seem the ultimate answer was still 'can't be done'.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2655" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2655">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2655" class = 'collapse'>
			</div>
				<textarea id = "speech-2655" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2655">
					<img id="start_img-2655" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2655">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>