<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is required to build a simple XY-stage?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7685" class = "post">
			<h2>Question</h2>
			<div id="vote-7685" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1227</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is required to build a simple XY-stage?</h2>
<p>In the scope of my PhD, I would like to build an automated microscopy set-up that should take images of a sample of 2cm by 2cm. This should be done by taking pictures of 500 micrometers by 500 micrometers.</p>

<p>Therefore I need to design an XY-stage moving my sample over the optical setup. I would use a Raspberry Pi to steer all the hardware. </p>

<p>Could you direct me to material about how to best make an XY-stage ? My questions are about what types of motors to use (stepper?), how many, how to create a good sliding mechanism to avoid jerky steps, etc. </p>

<p>Simple links to basic engineering of such set-ups would be more than enough for me to start, as I am a complete layman in this field.</p>

<p>EDIT: I have found this <a href="http://letsmakerobots.com/node/31381" rel="nofollow">blogpost</a>. It does what I require, if I get small enough angle step stepper motors.</p>

<p>EDIT2: I need a maximal range of motion of 10 cm in both directions. The overall size should not exceed 30x30 cm^2. Step sizes should not exceed 10 microns. I do not care about moving speed. Based upon the design in the link, buying a stepper motor with a 100:1 gear box could allow my very small radial steps (&lt;0.05 deg) which would result in about 5 micron steps, assuming a rotor radius of about 1cm.
As far as price goes, it should not exceed commercially available options which start at about 5k USD</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7685" data-toggle = "popover">
				<p>user name : Mathusalem</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-7685">{'None': 0, 'stepper-motor': 2, 'raspberry-pi': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7685">Load Comments</button></br>
			<div id = "commentsection-7685" class = 'collapse'>
			<div id = "comment-11116" class = "comment">
				<p>Hello, as it stands now you're asking a very open-ended design question that's liable to get closed. You want how "to best" make an XY-stage with a "good" sliding mechanism and no "jerky" steps. As there are [plenty of options to be found on Google](https://www.google.com/search?q=motorized+xy+table), is there some particular reason you're wanting to build your own? I'm assuming you have some limits; e.g., you need it to be of some size (to fit under a microscope), you need to have some position resolution (how much overlap between pictures? etc.) - these criteria drive the system design.</p>
			</div>
			<div id = "comment-11120" class = "comment">
				<p>Why don't you just buy a 3d printer and reprograms it? @Chuck: Most xy-tables will have a much higher resolution. 0.5mm are rather large steps.</p>
			</div>
			<div id = "comment-11123" class = "comment">
				<p>Yeah, maybe so, but my point is there are no numbers given; OP is asking us to design a "good" table with no criteria.</p>
			</div>
			<div id = "comment-11124" class = "comment">
				<p>Mathusalem, please edit your question to add some specs, per previous comments; eg required accuracy, required speed.  Also, why does it matter to you if the steps are jerky?  Presumably you wait for the stage to stop moving before taking a micrograph. (I agree that in general smooth motion may be better but why does it matter in this particular case?)</p>
			</div>
			<div id = "comment-11134" class = "comment">
				<p>If you could edit your question to be a *[practical, answerable question based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)* then we can see if we can get this re-opened. Even if you do provide specs though, it sounds like you make be talking about a off the shelf product, in which case *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* are off topic too, as you should know.</p>
			</div>
			<div id = "comment-11150" class = "comment">
				<p>Actually, if that was the sort of answer you were after, I'll re-open the question and put the relevant info from the blog post into an answer for future visitors.</p>
			</div>
			<div id = "comment-11151" class = "comment">
				<p>How much money do you have? What do you want to move? Could you maube post an image of the object that should be positioned?</p>
			</div>
			<div id = "comment-11152" class = "comment">
				<p>@Mark Booth - I'd argue it's still an open-ended design question. Note the post to which OP linked starts, "So **after a quick specification** I started designing it in Google Sketchup." We still have zero specifications. To this point, consider if OP's linked post is an acceptable answer, then wouldn't every link to every DIY xy table be relevant? Instructables, Make, etc. all have copious articles/posts.</p>
			</div>
			<div id = "comment-11153" class = "comment">
				<p>That's why I've tried to make my answer applicable to other similar situations @Chuck, assuming the rough spec in the linked article is basically the spec Mathusalem was looking for anyway.</p>
			</div>
			</div>
				<textarea id = "speech-7685" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7685">
					<img id="start_img-7685" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7685">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7690"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7690" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Simple X-Y stages are well understood and form the basis for the many open source hardware projects for 3D printers.</p>

<p>Each axis of an XY stage can be made from a pair of 6mm stainless steel rods, three LM6UU 6mm Linear Ball Bearings, a stepper motor (typically a <a href="http://reprap.org/wiki/NEMA_Motor" rel="nofollow">NEMA14/17/23 motor</a>) and stepper driver electronics. These axes can then be connected to the Digital IO on your Raspberry Pi.</p>

<p>If you have access to a 3D printer, then many of the components needed to link these elements together can be downloaded and printed out. If you don't, and don't want the expense of getting a bureau to print these parts for you, then they could be fabricated in a workshop by drilling and cutting plastic, metal or even wooden blocks. If you can find appropriate the 3D (as used by 3D printers), you should be able to extract all of the information you need to fabricate them manually.</p>

<p>In terms of driver electronics, I would suggest that you have a look at the <a href="http://solderpad.com/folknology/dual-stepper-motor-module/" rel="nofollow">Open Source dual stepper motor driver</a> by folknology, as this is a simple double sided PCB design which uses entirely through-hole components (great if you aren't too handy with the surface mount soldering required by many designs).</p>

<hr>

<p>The <a href="http://letsmakerobots.com/node/31381" rel="nofollow">XY Table</a> blog post you posted by Geir Andersen provides a pretty good example of how to do this. The only thing I would question would be the use of two bearings on the upper stage (one per rod) and what appears to be 4 bearings on the lower stage (two per rod). I would suggest using three on each instead.</p>

<p>You might assume that you would want each rod to have two bearings each (the symmetry appeals aesthetically), but you get better performance, stability and accuracy by putting two bearings on one rod (usually the one closest to the drive belt) and only one bearing on the other rod, so you effectively have a leader and a follower. This prevents over-constraint, where movement is not smooth because one end is fighting the other (both trying to be 'leaders' keeping the beam perpendicular to the rod).</p>

<p>Similarly, only two bearings is under constrained. This is fine when your load and/or speed is low, but doesn't do as well with keeping your beam perpendicular to the rod as a three bearing system would.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7690" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-7690">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7690">Load Comments</button></br>
			<div id = "commentsection-7690" class = 'collapse'>
			<div id = "comment-11154" class = "comment">
				<p>Thank you for your answer. I'll pay attention to your recommendations about the drivers and the bearings. I should have a prototype in the following weeks. I'll come back and post the result if it can be of any interest.</p>
			</div>
			<div id = "comment-11155" class = "comment">
				<p>Absolutely, once you have the hardware built I'm sure there will be plenty of questions about the rest of the system. *8')</p>
			</div>
			</div>
				<textarea id = "speech-7690" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7690">
					<img id="start_img-7690" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7690">Comment</button>
			<br><div id = "ans-8314"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8314" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You mentioned step size of 10 microns...It is not certain that you can achieve this precision with conventional stepper motors and diy hardware. the backlash in the gearbox (especially if multi stage) would exceed your required precision...I would recommend looking into precision piezo actuators...</p>

<p>These come to mind:
<a href="http://www.physikinstrumente.com/products.html" rel="nofollow">http://www.physikinstrumente.com/products.html</a></p>

<p>To my knowledge they have high precision x-y tables and suitable controller for them that you can interface also form an arduino (or something else, e.g. Matlab). Should be right around your budget, maybe a bit higher... You can also look for different manufacturer for piezo linear actuators...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8314" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8314">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8314" class = 'collapse'>
			</div>
				<textarea id = "speech-8314" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8314">
					<img id="start_img-8314" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8314">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>