<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What middle-ware do you recommend for a swarm of AUVs?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4874" class = "post">
			<h2>Question</h2>
			<div id="vote-4874" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 193</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What middle-ware do you recommend for a swarm of AUVs?</h2>
<p>Working with a swarm of robots, collaboration between the nodes is really important(either for the goal of simulation or real-word operation). Middle-wares are the frameworks for this special purpose. I know some of the relevant middle-wares like ROS(general-purpose but popular) or uMVS(that is basically design for AUVs). Now, I have two questions:</p>

<ol>
<li>Do you know any other choice for the above mentioned purpose? </li>
<li>What criteria should I consider for choosing a middle-ware suitable for my purpose?</li>
</ol>

<p>Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4874" data-toggle = "popover">
				<p>user name : Hossein</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-4874">{'None': 0, 'simulator': 2, 'multi-agent': 5, 'swarm': 5, 'auv': 2, 'mobile-robot': 4, 'ros': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4874">Load Comments</button></br>
			<div id = "commentsection-4874" class = 'collapse'>
			<div id = "comment-7628" class = "comment">
				<p>Do you have a link to the project you are working on?</p>
			</div>
			<div id = "comment-7661" class = "comment">
				<p>Unfortunately the project have no page on the internet!</p>
			</div>
			</div>
				<textarea id = "speech-4874" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4874">
					<img id="start_img-4874" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4874">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4916"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4916" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To your first question if there is something other:
We are using for AUV control the middleware framework work named rock:</p>

<p><a href="http://www.rock-robotics.org" rel="nofollow">http://www.rock-robotics.org</a></p>

<p>The main problem in general is the weak communication between AUVs.
You have really limited bandwidths available.</p>

<p>Your question in unclear which kind of information do you wand to exchange (and how). I know currently no framework which supports data-exchange on real-low bandwidths. The Communication between AUVs is a special case, and should not be fullfilled by a framework.</p>

<p>If you plan to do multi-agent setups (where is client is autonomous after the start) the framework plays no special rule, since there is no communication between the vehicles.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4916" data-toggle = "popover">
				<p>user name : Matthias Goldhoorn</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-4916">{'None': 11, 'syskit': 1, 'rock': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4916" class = 'collapse'>
			</div>
				<textarea id = "speech-4916" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4916">
					<img id="start_img-4916" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4916">Comment</button>
			<br><div id = "ans-4922"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4922" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Communication between swarms of AUVs is an open problem, because you are trying to build a reliable communications network out of unreliable links.  Between the time that I did an undergraduate thesis on this (multiple cooperating AUVs) and the present day, there are currently no middlewares that address this issue -- all of them assume flawless communication between nodes.</p>

<p>In other words, you are trying to simultaneously arrange the nodes in a way that will allow them to communicate, and communicate to find how to arrange the nodes for the purposes of the mission.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4922" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4922">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4922" class = 'collapse'>
			</div>
				<textarea id = "speech-4922" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4922">
					<img id="start_img-4922" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4922">Comment</button>
			<br><div id = "ans-6989"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6989" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't know if their software can extend to AUVs, but the <a href="http://mrsl.rice.edu/" rel="nofollow">Rice University Multi-Robot Systems Lab</a> has done very advanced things with robot swarms.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6989" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-6989">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6989" class = 'collapse'>
			</div>
				<textarea id = "speech-6989" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6989">
					<img id="start_img-6989" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6989">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>