<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the most realistic grasping simulator?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10023" class = "post">
			<h2>Question</h2>
			<div id="vote-10023" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 368</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the most realistic grasping simulator?</h2>
<p>I am looking for a physics simulator which can accurately model a robot hand picking up an object. The main requirement is for accuracy / realism, rather than speed. It needs to be able to model soft bodies, such as the rubber "skin" on robotic finger tips. It also needs to be a dynamics engine, such that the object is actually moved around by the hand, modelling effects such as slippage.</p>

<p>From the research I have already done, there are two good candidates. First, GraspIt! (<a href="http://graspit-simulator.github.io/" rel="nofollow">http://graspit-simulator.github.io/</a>). This is open-source, and specifically designed for grasping, rather than physics simulation in general. Second, MuJoCo (<a href="http://www.mujoco.org/" rel="nofollow">http://www.mujoco.org/</a>). This is a more general simulator, is a commercial product, and has been adopted by some big names such as DeepMind.</p>

<p>I have tried using the Bullet physics engine for robot grasping simulation, but soon realised that this was not going to be strong enough, because Bullet is really designed for games, and hence sacrifices realism for speed. However, I'm much more interested in something which is as realistic as possible, even if the computation is slow.</p>

<p>Does anyone have any suggestions as to how I can proceed? Anybody with any experience with GraspIt! or MuJoCo?</p>

<p>Thanks!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10023" data-toggle = "popover">
				<p>user name : Karnivaurus</p>
				<p> user reputation : 328</p>
				<p class = "tagcontent" id = "usertaginfo-10023">{'control': 10, 'walking-robot': 4, 'simulator': 0, 'torque': 4, 'slam': 0, 'robotic-arm': 20, 'mobile-robot': 0, 'dynamics': 17, 'forward-kinematics': 7, 'manipulator': 10, 'accelerometer': 4, 'kinematics': 29, 'jacobian': 16, 'policy': 1, 'actuator': 4, 'None': 0, 'inverse-kinematics': 18, 'localization': 0, 'mapping': 0, 'sensors': 4, 'simulation': 0, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10023">Load Comments</button></br>
			<div id = "commentsection-10023" class = 'collapse'>
			<div id = "comment-17949" class = "comment">
				<p>Welcome to *Robotics* Karnivaurus, but I'm afraid that *Unbounded Design Questions* are off-topic because there are many ways to solve any given design problem, **so questions that ask for a list of approaches or a subjective recommendation on a method** (for how to build something, how to accomplish something, what something is capable of, etc.) are off-topic.</p>
			</div>
			<div id = "comment-17950" class = "comment">
				<p>My advice would be to contact the development team for each of the suites you're interested in, let them know what your intended application is, ask if they think their suite would work well for you and, if not, if they could recommend something more suitable.</p>
			</div>
			</div>
				<textarea id = "speech-10023" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10023">
					<img id="start_img-10023" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10023">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10085"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10085" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most robotics simulators use ODE, Bullet, or PhysX as the back-end physics engine.  As you noticed, these are primarily rigid-body simulators developed for the game industry.  But I believe they have come a long way in recent years and are starting to have some soft-body dynamics.</p>

<p>You might want to look into off-line rendering tools like Blender, Maya, 3DStudio, etc. typically used for animations and movies.  They are more concerned with accuracy than real-time sim time.  But I have never tried to interface with these tools programmatically, which will probably be more difficult.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10085" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-10085">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10085" class = 'collapse'>
			</div>
				<textarea id = "speech-10085" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10085">
					<img id="start_img-10085" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10085">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>