<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the recommended interconnects for wiring a battery to a motor via its driver?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11746" class = "post">
			<h2>Question</h2>
			<div id="vote-11746" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 11</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the recommended interconnects for wiring a battery to a motor via its driver?</h2>
<p>I am currently working with a combination of Tamiya and T-connectors. I have not previously had issues with either, but the T-connectors I'm using currently do not seem to be maintaining a connection. If I torque the T-connectors in a particular way they will start working, but if I leave them "floating" they disengage. My first thought was that the problem was I had 2 different brands of T connectors, but it turns out, after switching all to one brand, that some of them do not work properly.</p>

<p>My first question is if there are known problems with T connectors or if I probably just got a bad batch?</p>

<p>My second question is if there are better interconnects out there than either Tamiya or T? (specifically for wiring a motor to its driver and the battery to the driver)</p>

<p>Let me be clear, I am NOT looking for opinions. I obviously realize this could be based on personal preference, but I am specifically asking if there are engineering principles at play in the choice being made. If it really just comes down to preference, then I am only interested in the first question. I also realize the possibility of avoiding interconnects, but let's assume that's not an option.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11746" data-toggle = "popover">
				<p>user name : JWAspin</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-11746">{'connector': 0, 'None': 0, 'wiring': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11746" class = 'collapse'>
			</div>
				<textarea id = "speech-11746" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11746">
					<img id="start_img-11746" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11746">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11752"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11752" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Anderson Power Poles (APP's) are your best source for a good connection. I have had MANY failures due to Tamiya, especially when with any kind of impact. I finally learned my lesson after being introduced to APP's. Never had any issues. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11752" data-toggle = "popover">
				<p>user name : Donna the robot geek</p>
				<p> user reputation : 36</p>
				<p class = "tagcontent" id = "usertaginfo-11752">{'stability': 0, 'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11752">Load Comments</button></br>
			<div id = "commentsection-11752" class = 'collapse'>
			<div id = "comment-20972" class = "comment">
				<p>Thank you! Those APP's definitely look professional grade. Do you know if they are the same as what the automotive industry uses for their wire harnesses? They at least look the same, so I'd assume you can't get much better. On another note, if you have any good resources for interconnects in general it would be much appreciated. I've had a hard time finding useful info, so most of my knowledge has been from trial and error, which is slow albeit effective.</p>
			</div>
			</div>
				<textarea id = "speech-11752" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11752">
					<img id="start_img-11752" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11752">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>