<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What happened to the "beta ban"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2707" class = "post">
			<h2>Question</h2>
			<div id="vote-2707" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 304</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What happened to the "beta ban"?</h2>
<p>I'm sure  I think  there was a ban on beta release questions - but I can no longer find it in the Help section, only this link in Meta - <a href="https://apple.meta.stackexchange.com/questions/573/update-to-faq-regarding-beta-and-pre-release-software">Update to FAQ regarding beta and pre-release software</a></p>

<p>Do we have a current stance? Is it delineated at private vs public beta, or does it remain at <em>all betas</em></p>

<p>This is my prompt - <a href="https://apple.stackexchange.com/questions/221899/time-capsule-backup-consistently-fails">Time Capsule backup consistently fails</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2707" data-toggle = "popover">
				<p>user name : Tetsujin</p>
				<p> user reputation : 41624</p>
				<p class = "tagcontent" id = "usertaginfo-2707">{'feature-request': 19, 'exact-duplicates': 3, 'None': 38, 'editing': 12, 'policy': 13, 'discussion': 120, 'support': 3, 'canonical-questions': 21, 'tags': 1, 'closed-questions': 6, 'hyperlinks': 0, 'formatting': 2, 'spam': 11, 'close-reasons': 5, 'questions': 12, 'fun': 0, 'late-answers': 6, 'flagging': 13, 'bug': 10, 'review-page': 6, 'yosemite': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2707" class = 'collapse'>
			</div>
				<textarea id = "speech-2707" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2707">
					<img id="start_img-2707" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2707">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2708"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2708" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The latest meta question on beta is <a href="https://apple.meta.stackexchange.com/questions/2537/should-beta-os-questions-be-on-topic-due-to-nda-changes-widening-distribution?lq=1">here</a></p>

<p>The most upvoted answer (although not very many votes) says</p>

<blockquote>
  <p>NDA is just one of several reasons why questions about non-public beta software don't work well on Ask Different, Can I ask about not-yet-publicly released OS? lists the others. So even with the NDA partially lifted, I still think that questions about iOS 9/OS X El Capitan need to wait until at least public betas are available.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2708" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 16790</p>
				<p class = "tagcontent" id = "usertaginfo-2708">{'None': 93, 'synonym': 7, 'tags': 6, 'site-scope': 10, 'support': 9, 'canonical-questions': 4, 'status-completed': 6, 'bug': 13, 'closed-questions': 1, 'close-reasons': 1, 'hyperlinks': 1, 'feature-request': 8, 'status-bydesign': 8, 'editing': 1, 'discussion': 39}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2708">Load Comments</button></br>
			<div id = "commentsection-2708" class = 'collapse'>
			<div id = "comment-6000" class = "comment">
				<p>pls uproot all me answars kthx</p>
			</div>
			</div>
				<textarea id = "speech-2708" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2708">
					<img id="start_img-2708" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2708">Comment</button>
			<br><div id = "ans-2709"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2709" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The general beta software ban was lifted in August of 2015 after discussing it in chat and on beta. The FAQ is up to date:</p>

<ul>
<li><a href="https://apple.stackexchange.com/help/on-topic">https://apple.stackexchange.com/help/on-topic</a></li>
</ul>

<p><strong>Developer betas, seeding betas, other odd builds from Apple shouldn't be the only reason to close a post on Ask Different</strong>. Beta should no longer a reason to close any question on the site.</p>

<p>See the blog post:</p>

<ul>
<li><a href="http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/" rel="nofollow noreferrer">http://apple.blogoverflow.com/2015/08/beta-ios-9-and-el-capitan-questions-allowed/</a></li>
</ul>

<p>Meta has lots of answers and discussions, but in general we aren't closing anything due to beta status of hardware, software or services. We are asking for more details on beta releases. For instance - saying El Capitan wasn't enough when it was in beta - we asked for build versions and where you got the beta in the cases where it mattered if you were a seed participant or open beta participant or paid developer. Some things changed based on <em>how</em> you got the beta and were germane to the question meeting quality standards.</p>

<p>Please note, this also doesn't mean any question about beta should remain open. Since it's beta, knowing the exact build version is imperative - we should be a little more strict about closing vague beta questions if they fail the other guidelines about being clear, practical, and have some research done on the problem to be solved.</p>

<h1>We should vote to hold and close subjective, opinionated, excessively broad bad questions because of those specific flaws and not because they are running a beta build of an App or an OS.</h1>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2709" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2709">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2709">Load Comments</button></br>
			<div id = "commentsection-2709" class = 'collapse'>
			<div id = "comment-6001" class = "comment">
				<p>Note that the person who knows the answer might consider themselves under NDA and so feels they cannot answer. i.e. don't expect an answer in all cases for private beta when it would be answered in production</p>
			</div>
			<div id = "comment-6002" class = "comment">
				<p>For [real?](http://meta.apple.stackexchange.com/questions/2568/ios-9-beta-why-are-some-promised-features-not-in-the-beta-and-time-to-update) I think that has a sick irony to it. Literally one month before... Oh well, I was being a jerk. Consider this my formal apology for the unreasonable tornado of stupid that came flying from my keyboard in the unfortunate series of events that I just linked to. Reading it now, it just makes me sick that I got so worked up.</p>
			</div>
			<div id = "comment-6003" class = "comment">
				<p>@oboy Double-audience type irony or _incongruous_ type irony?</p>
			</div>
			<div id = "comment-6004" class = "comment">
				<p>@bmike Well, after a quick Google search, I suppose I incorrectly used the term "irony." But, uh, both. :-)</p>
			</div>
			</div>
				<textarea id = "speech-2709" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2709">
					<img id="start_img-2709" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2709">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>