<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What should I be looking for in a DC motor that will be used in a UROV thruster?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4674" class = "post">
			<h2>Question</h2>
			<div id="vote-4674" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 96</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What should I be looking for in a DC motor that will be used in a UROV thruster?</h2>
<p>I know that some DC motors produce a lot of torque but only actually move at a very slow rate, while others do the exact opposite. I know that I need some sort of balance between torque and the RPM's of the motor for use in a underwater thruster, but I am not sure what I should favor more, torque or RPM's? Also, it would be great if someone could suggest a motor at or below the $300 range for a UROV.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4674" data-toggle = "popover">
				<p>user name : Jabbath</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-4674">{'None': 0, 'torque': 3, 'motor': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4674" class = 'collapse'>
			</div>
				<textarea id = "speech-4674" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4674">
					<img id="start_img-4674" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4674">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4685"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4685" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The engine's ideal torque and RPM characteristics are dependent on what propeller you use.  In general, if you know about how large of a propeller you want (relative to the size of your vehicle), you should be able to work backwards from there to find the ideal motor torque/RPM to support that. There will be a few options, based on possible variations on the number of blades, attack angle, etc of the propeller.</p>

<p><a href="http://engineering.dartmouth.edu/epps/openprop/" rel="nofollow noreferrer">OpenProp</a> may help you if you're approaching it from a very theoretical angle. </p>

<p><a href="https://robotics.stackexchange.com/q/1346/350">This question about upgrading motors on the Sea Perch ROV</a> also has some insight that you might find relevant. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4685" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4685">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4685">Load Comments</button></br>
			<div id = "commentsection-4685" class = 'collapse'>
			<div id = "comment-9935" class = "comment">
				<p>Also, most hobbyists just use bilge pump motors.</p>
			</div>
			</div>
				<textarea id = "speech-4685" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4685">
					<img id="start_img-4685" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4685">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>