<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What happens when a brush-less motor stalls?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4866" class = "post">
			<h2>Question</h2>
			<div id="vote-4866" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1184</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What happens when a brush-less motor stalls?</h2>
<p>Ok apologies for those who think my questions are not direct enough as I got warned about this. I am really new to this and I will try to keep this one direct enough for the forum. </p>

<p>For obvious reasons I cannot test this out without damaging something so would prefer to learn from the experience of others.</p>

<p>I have a "Turnigy Trackstar 1/10 17.0T 2400KV Brushless" motor which I will be using for my weapon (spinning disk). </p>

<p>Relevant specs of the motor are:
Kv: 2400
Max Voltage: 21v
Max current:24amps
Watts: 550
Resistance: 0.0442Ohms
Max RPM: 50000</p>

<p>I will use this with an ESC with the following specs:</p>

<p>Constant Current: 30A
Burst Current: 40A
Battery: 2-4S Lipoly / 5-12s NiXX
BEC: 5v / 3A
Motor Type: Sensorless Brushless
Size: 54 x 26 11mm
Weight: 32g
Programming Functions:
Battery Type: Lipo /NiXX
Brake: On / Off
Voltage Protection: Low / Mid / High
Protection mode: Reduce power / Cut off power
Timing: Auto / High / Low
Startup: Fast / Normal / Soft
PWM Frequency: 8k / 16k
Helicopter mode: Off / 5sec / 15sec (Start up delay)</p>

<p>If the motor stalls, I know the current draw will increase drastically. So my questions are:</p>

<ol>
<li><p>In the case that the motor stalls (my disk gets stuck in the opponent etc), then what gets damaged? The motor, the ESC, both? And how long before this happens? </p></li>
<li><p>Would I have time to turn the r/c switch off before irrevocable damage occurs (once I am obviously observing the action?). Notes. I will be using an on/off switch on the r/c to just turn the motor on and off (so no proportional speed increase etc), plus I will be using an 11.1 volt battery even though the motor is rated for a 21 volt maximum.</p></li>
</ol>

<p>Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4866" data-toggle = "popover">
				<p>user name : Galahad II</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-4866">{'control': 1, 'brushless-motor': 2, 'None': 6, 'power': 1, 'battery': 0, 'current': 2, 'wheeled-robot': 1, 'battle-bot': 3, 'differential-drive': 1, 'chassis': 1, 'esc': 5, 'motor': 9}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4866" class = 'collapse'>
			</div>
				<textarea id = "speech-4866" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4866">
					<img id="start_img-4866" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4866">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4868"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4868" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your equipment will be fine as long as the stall periods aren't too big(like 5 minutes). I think the first thing to fail is the ESC as you're using half the voltage the motor is rated for. You also have to take into account that the battery can also heat up and fail, as if you would short circuit the battery. But as I said, if it's not for long periods of time you won't have a problem.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4868" data-toggle = "popover">
				<p>user name : goncalo luis</p>
				<p> user reputation : 324</p>
				<p class = "tagcontent" id = "usertaginfo-4868">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4868" class = 'collapse'>
			</div>
				<textarea id = "speech-4868" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4868">
					<img id="start_img-4868" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4868">Comment</button>
			<br><div id = "ans-4870"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4870" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Motors stalling can take many amps as you have found out. In the electrical industry three types of overload cut out are available. fuse, trip, auto resetting trip.</p>

<p>A more suttle way is to monitor the motor amps and if an overload happens limit out the power to the motor. For example current limitors</p>

<p>If the motor windings have them (very rear) thermistors are incorperated into the motor windings. If the windings get hot the trip operates, but when the windings cool then the motor runs again. Nice if your saw jams and gets free. Try the motor and try again. When the windings cool down the saw can cut again. Thermistors can be fastened to the battery to give data feedback on temprature.</p>

<p>There may be a way to give a few second of power boost, a very large capacitor on the main power bus, say a full farad electrolitic. However the motor control transitors can fry/burn if the motor is jammed. Big power audio ampliphoiers in cars use these large caps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4870" data-toggle = "popover">
				<p>user name : Paul G. Chapman MInstLM G4IJL</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-4870">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4870">Load Comments</button></br>
			<div id = "commentsection-4870" class = 'collapse'>
			<div id = "comment-7568" class = "comment">
				<p>Thanks for the interesting information but these solutions are overkill for this application when I can clearly just turn the switch off, pull the robot away from the opponent and turn it on again.</p>
			</div>
			</div>
				<textarea id = "speech-4870" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4870">
					<img id="start_img-4870" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4870">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>