<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the function of inductors in series between the terminals and the brushes of a DC motor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-12693" class = "post">
			<h2>Question</h2>
			<div id="vote-12693" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the function of inductors in series between the terminals and the brushes of a DC motor?</h2>
<p>I'm repairing (hopefully) a 12V DC motor (Johnson Electric HC971(2)LG-101).</p>

<p>The motor has a coil in the motor cap between each terminal and the corresponding brush - two coils (inductors) one on each side of the armature electrically speaking. It also has what I think is a resister on one side and what I think is a (broken) capacitor between the two terminals.</p>

<p>What is the function of the two inductors in series between the terminals and brushes?</p>

<p>I'm sure this info it's out there somewhere but I haven't found it online after several days of searching. Thanks.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-12693" data-toggle = "popover">
				<p>user name : user17366</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-12693">{'None': 0, 'electric': 0, 'motor': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-12693" class = 'collapse'>
			</div>
				<textarea id = "speech-12693" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12693">
					<img id="start_img-12693" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12693">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-12694"  class = "post">
				<h2>Answer</h2>
			<div id="vote-12694" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Likely the series induction prevent higher frequencies from making it back from the motor to the power supply. The inductors looks like an open circuit to higher frequencies. </p>

<p>A parallel capacitor can also help as it shorts the higher frequencies preventing them from getting back to the power supply.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-12694" data-toggle = "popover">
				<p>user name : st2000</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-12694">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-12694">Load Comments</button></br>
			<div id = "commentsection-12694" class = 'collapse'>
			<div id = "comment-22620" class = "comment">
				<p>Sounds like your motor has field windings and an armature winding, and no permanent magnets. Do you have a wiring diagram?</p>
			</div>
			</div>
				<textarea id = "speech-12694" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-12694">
					<img id="start_img-12694" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-12694">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>