<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>What does the Gold Badge next to a name on a duplicate post notice mean?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2483" class = "post">
			<h2>Question</h2>
			<div id="vote-2483" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 68</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What does the Gold Badge next to a name on a duplicate post notice mean?</h2>
<p>Recently, I found this when I was editing:
<img src="https://i.stack.imgur.com/FEPAt.jpg" alt="marked as duplicate by grgarside">
What does the gold circle in the shape of a badge mean? Gold Badges don't appear on all marked as duplicate post notices.</p>

			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2483" class = 'collapse'>
			</div>
				<textarea id = "speech-2483" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2483">
					<img id="start_img-2483" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2483">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2484"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2484" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It is a tag badge. There is a silver, gold and bronze tag badge. You get one for each tag depending on the score you earn on each. For example. a gold osx badge shows this gold badge symbol when marking as duplicate. It gives the user elevated privileges to better handle tag moderation.</p>

<ul>
<li><a href="https://meta.stackexchange.com/questions/254765/add-gold-tag-badge-privileges-to-a-users-privileges-page">Add gold tag badge privileges to a user&#39;s Privileges page</a></li>
</ul>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2484" class = 'collapse'>
			</div>
				<textarea id = "speech-2484" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2484">
					<img id="start_img-2484" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2484">Comment</button>
			<br><div id = "ans-2489"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p> <img src="https://i.stack.imgur.com/g6FKg.png" width="334"></p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2489" class = 'collapse'>
			</div>
				<textarea id = "speech-2489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2489">
					<img id="start_img-2489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2489">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>