<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What's the most accurate way to obtain a locational fix using GPS?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-49" class = "post">
			<h2>Question</h2>
			<div id="vote-49" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 299</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What's the most accurate way to obtain a locational fix using GPS?</h2>
<p>Obviously GPS is the most obvious and accessible technology for obtaining a locational "fix" for a robot at any particular time. However, while it's great sometimes, in other locations and situations it's not as accurate as I'd like, so I'm investigating whether there's a relatively easy way to improve on this accuracy (or not, if that turns out to be the case.)</p>

<p>I've considered the following options, but found limited information online:</p>

<ul>
<li><p>Would using a much better antenna help, especially for low signal areas? I'm thinking yes to this, but if so how would I construct such an antenna and know that it's an improvement? Are there any good guides on how to do this? I could use a ready made antenna if they're not too expensive.</p></li>
<li><p>Would using multiple separate receivers in tandem help, or would they likely all be off by a similar amount, or would I not be able to extract a meaningful average with this approach?</p></li>
<li><p>What sort of characteristics should I look for when choosing a good GPS receiver to help accuracy?</p></li>
<li><p>Is there anything else I should consider which I've missed?</p></li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-49" data-toggle = "popover">
				<p>user name : berry120</p>
				<p> user reputation : 640</p>
				<p class = "tagcontent" id = "usertaginfo-49">{'control': 22, 'battery': 16, 'slam': 7, 'design': 8, 'motor': 11, 'underwater': 24, 'kinect': 4, 'auv': 24, 'input': 4, 'electronics': 10, 'gyroscope': 22, 'gps': 17, 'wheel': 9, 'None': 3, 'localization': 17, 'mapping': 7, 'failure': 11, 'protection': 10, 'sensors': 11, 'two-wheeled': 22, 'balance': 22, 'acoustic-rangefinder': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-49">Load Comments</button></br>
			<div id = "commentsection-49" class = 'collapse'>
			<div id = "comment-4842" class = "comment">
				<p>You certainly should try to get a dual-frequency receiver. Apart from that, what exactly is your goal with the locational fix? If, say, you want to get back to the place you started from, some camera and image analysis may get you from meters down to millimeters of accuracy much easier than anything satellite-based.</p>
			</div>
			</div>
				<textarea id = "speech-49" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-49">
					<img id="start_img-49" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-49">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-61"  class = "post">
				<h2>Answer</h2>
			<div id="vote-61" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A traditional approach is to use an error correcting algorithm like a <a href="http://en.wikipedia.org/wiki/Kalman_filter">Kalman filter</a>. By combining dead reckoning from wheel encoders and heading commands with GPS you can smooth out GPS jitter. This is not an instantaneous improvement as it requires a series of measurements to estimate the error inherent in the GPS signal.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-61" data-toggle = "popover">
				<p>user name : Ian Danforth</p>
				<p> user reputation : 191</p>
				<p class = "tagcontent" id = "usertaginfo-61">{'untagged': 7, 'None': 5, 'errors': -2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-61">Load Comments</button></br>
			<div id = "commentsection-61" class = 'collapse'>
			<div id = "comment-71" class = "comment">
				<p>Wow, *Kalman filters*, that takes me back [a few years](http://www.l-3asa.com/solutions/data-fusion-and-tracking-tots/). *8')</p>
			</div>
			</div>
				<textarea id = "speech-61" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-61">
					<img id="start_img-61" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-61">Comment</button>
			<br><div id = "ans-62"  class = "post">
				<h2>Answer</h2>
			<div id="vote-62" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Can't answer all your questions, but based on your use case <a href="http://en.wikipedia.org/wiki/Differential_GPS">Differential-GPS</a> might help you.
Modern tractors are using this for precisely navigating on fields (in autonomous mode).
Here fixed ground stations are used, which know their exact position and calculate the error in the current signal. This adjustment is then used by the other GPS receiver in the area.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-62" data-toggle = "popover">
				<p>user name : bit-pirate</p>
				<p> user reputation : 236</p>
				<p class = "tagcontent" id = "usertaginfo-62">{'None': 12}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-62">Load Comments</button></br>
			<div id = "commentsection-62" class = 'collapse'>
			<div id = "comment-87" class = "comment">
				<p>D-GPS would indeed vastly improve your accuracy, by about [two orders of magnitude](https://en.wikipedia.org/wiki/Differential_GPS).</p>
			</div>
			</div>
				<textarea id = "speech-62" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-62">
					<img id="start_img-62" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-62">Comment</button>
			<br><div id = "ans-82"  class = "post">
				<h2>Answer</h2>
			<div id="vote-82" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you want to be really clever, you could consider <a href="http://en.wikipedia.org/wiki/Assisted_GPS" rel="nofollow">Assisted GPS (see Wikipedia for full details)</a> which uses the phone network to provide a better initial fix, by using the cell towers fixed positions as a basis.</p>

<p>Note, however, that A-GPS uses your data stream, so if you have to pay for data, you may not want to use this!!!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-82" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-82">{'None': 41}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-82">Load Comments</button></br>
			<div id = "commentsection-82" class = 'collapse'>
			<div id = "comment-89" class = "comment">
				<p>Assisted GPS can't really improve the positioning accuracy which is what I'm after, it really just improves the startup time to get an initial fix.</p>
			</div>
			</div>
				<textarea id = "speech-82" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-82">
					<img id="start_img-82" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-82">Comment</button>
			<br><div id = "ans-89"  class = "post">
				<h2>Answer</h2>
			<div id="vote-89" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As other posters have pointed out, using some form of differential GPS will give you large improvements in precision. We have used the Magelan mb500 commercial platform and it claims an accuracy of around 2-3 cm when in RTK fix mode. However, in areas of bad satellite coverage it would sometimes not even provide a solution at all, where cheap GPS receivers in a phone could. </p>

<p>There is an open source library called <a href="http://www.rtklib.com/" rel="nofollow">RTKLib</a> which looks very promising for using cheap GPS equipment with a number of different methods for improving the precision. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-89" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-89">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-89">Load Comments</button></br>
			<div id = "commentsection-89" class = 'collapse'>
			<div id = "comment-94" class = "comment">
				<p>For our field rover we use the Ashtech MB100 [link](http://www.ashtech-oem.com/products_oem_mb100.html) It requires a basestation for RTK fix (also an MB100 board) this basestation must know its real location, and must not move. The basestation sends correction signals to the rover over a wireless link (it's serial data, you choose the link). This is a rather expensive solution, but we have 1-2 cm accuracy relative to the basestation, absolute precision depends on the precision of the basestation placement.</p>
			</div>
			</div>
				<textarea id = "speech-89" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-89">
					<img id="start_img-89" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-89">Comment</button>
			<br><div id = "ans-2485"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2485" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I actually work as a programmer for the tractors that bit-pirate mentioned.</p>

<p>There are several ways mentioned that can get you more accurate results. It depends largely on your application and what you are trying to accomplish.</p>

<ol>
<li><p><a href="http://en.wikipedia.org/wiki/Wide_Area_Augmentation_System" rel="nofollow">WASS</a> uses a signal to augment not as accurate as some other methods but you will get decent.</p></li>
<li><p>If your platform is fixed you can just average the position over time and get good results.</p></li>
<li><p>RTK is very accurate, and the library mentioned by Jakob looks pretty cool. Some states like Iowa have a government run RTK system that you can use. </p></li>
<li><p>I found <a href="http://gizmodo.com/no-gps-signal-no-problem-this-little-chip-knows-where-1518907218" rel="nofollow">this</a> the other day for dead reckoning.</p></li>
<li><p>On a mobile system the antennae offset to the center of gravity will effect the accuracy. E.G. On a steep hill the GPS antennae will be off center.</p></li>
</ol>

<p>What are you trying to accomplish? The atmospheric distortion for multiple antennas in the same location would be very similar.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2485" data-toggle = "popover">
				<p>user name : Burnt Toast</p>
				<p> user reputation : 131</p>
				<p class = "tagcontent" id = "usertaginfo-2485">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2485" class = 'collapse'>
			</div>
				<textarea id = "speech-2485" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2485">
					<img id="start_img-2485" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2485">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>