<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What type of actuator should I use?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9669" class = "post">
			<h2>Question</h2>
			<div id="vote-9669" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 31</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What type of actuator should I use?</h2>
<p>I need to find out if There is a way to get at least 60 Hz of linear Motion with at least 5 mm of stroke that I intend to make linear persistence of vision device(not rotating one)It must be small and light as possible. ( maybe 50 mm long and 10-15 mm diameter or around these) (less than 500 grams) The Load will be around 50 grams.  There are voice coils that is very expensive, can I use solenoids for instance or what do you recommend? </p>

<p>Thanks </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9669" data-toggle = "popover">
				<p>user name : user52709</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-9669">{'motion': 0, 'actuator': 0, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9669">Load Comments</button></br>
			<div id = "commentsection-9669" class = 'collapse'>
			<div id = "comment-17144" class = "comment">
				<p>No I am a PhD Student in electronics Engineering department. You're right I edited the question. Thanks</p>
			</div>
			</div>
				<textarea id = "speech-9669" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9669">
					<img id="start_img-9669" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9669">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9670"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9670" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A few guidelines to help you search:</p>

<p>Max displacement: +/- 5mm. 
Frequency: 60Hz = 377 rad/s.</p>

<p>Now, some math:</p>

<p>$$
x = 0.005 \sin{(377 t)} \\
v = (377)(0.005) \cos{(377 t)} \\
a = -(377^2)(0.005) \sin{377 t)} \\
$$</p>

<p>Then, the max values are wherever the particular trig function is equal to 1, so:</p>

<p>$$
x_{\mbox{max}} = 0.005 \mbox{m}\\
v_{\mbox{max}} = 1.9 \mbox{m/s}\\
a_{\mbox{max}} = 710 \mbox{m/s}^2 \approx 72 \mbox{g}\\
$$</p>

<p>Now, $F = ma$, so the peak force you are applying is:</p>

<p>$$
F = ma \\
F = (0.3)(710) \\
F = 213 \mbox{N} \\
$$</p>

<p>Peak power is force times speed. 
$$
P = (213)(1.9) \\
P = 405 W \\
$$</p>

<p>Per your guidelines, you want (I'm assuming) a cylinder that's 0.05m long and 0.01m in diameter. This means that the volume is (approximately)</p>

<p>$$
V = Ah \\
V = \pi r^2 h \\
V = \pi (0.005)^2 (0.05) \\
V = 0.00000393 \mbox{m}^3 \\
V = 0.00393 \mbox{liters} \\
V = 3927 \mbox{mm}^3 \\
$$</p>

<p>Now, you can try looking at <a href="https://en.wikipedia.org/wiki/Power_density" rel="nofollow">power density</a> and see that you want 405W of peak power in a space of 0.00393 liters, or a power density of about $405/0.00393 = \boxed{103 \mbox{W/l}}$, or about the <a href="http://www.dukeengines.com/advantages/power-density/" rel="nofollow">same power density as a Ferrari engine</a>.</p>

<p>I'm not saying it's not possible, but good luck.</p>

<p>If you <em>are</em> a PhD student at a university, you should consider asking your committee members to guide you to another grad student for assistance with this. </p>

<p>Typically I would vote to close an open-ended design/shopping question like this, but I figured I'd go through the steps to show that what you want isn't really attainable. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9670" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9670">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9670">Load Comments</button></br>
			<div id = "commentsection-9670" class = 'collapse'>
			<div id = "comment-17147" class = "comment">
				<p>chances are that parts of the actuator also move which adds to the total mass and thus to the power required.</p>
			</div>
			<div id = "comment-17148" class = "comment">
				<p>btw. To separate your $ab$, you can use a `\cdot`: $a\cdot b$ or a `~`: $a~b$ for example.</p>
			</div>
			<div id = "comment-17150" class = "comment">
				<p>@BendingUnit22 - Thanks for the tip. Internal masses are shockingly significant, especially in the case where a reduction gear is used. In my job I found that, to a drive motor, the inertia of the motor shaft and gearbox was the same as the 35 tonne piece of equipment the motor moved.</p>
			</div>
			<div id = "comment-17166" class = "comment">
				<p>Thanks Chuck ,that was very helpful, so i can lower my load to 50 grams that will need around 20 Watts of power. Should i use solenoids with spring or sth else you know it is better.</p>
			</div>
			<div id = "comment-17167" class = "comment">
				<p>You've posted this as an answer to your original question, but you should edit the original question to update the payload weight. FYI, though, you're not applying the equations I posted correctly. At 50 grams, it's 67 watts. My hope was that the equations I gave you will allow you to look (for yourself) for a product that meets your specifications. Asking us to search for products for you is a shopping question which means your question will be closed.</p>
			</div>
			<div id = "comment-17168" class = "comment">
				<p>Yes but There is not such a product that is cheap and does this job. What type of actuator should I use is the question. I am Changing the question thanks for that</p>
			</div>
			</div>
				<textarea id = "speech-9670" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9670">
					<img id="start_img-9670" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9670">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>