<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What is the best way to attach a 3D printed part to a servo for robotics use?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9175" class = "post">
			<h2>Question</h2>
			<div id="vote-9175" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 298</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What is the best way to attach a 3D printed part to a servo for robotics use?</h2>
<p>I am trying to make custom parts that fit directly onto a servo. Doing this has proved more difficult than I've expected so far.</p>

<p>I was hoping to avoid incorporating the provided servo horns into the 3D printed part, so I've been trying this method out. Below are images of my current test - a 3D printed attachment to the servo, with an indentation for an M3 nut (the servo accepts an M3 bolt) for attachment to the servo. The plastic ring doesn't have the spline (I can't print that level of detail I think) but is tight around it. The top piece attaches to a 3/8" nut for use with the 3/8" threaded rod I had laying around.</p>

<p><a href="https://i.stack.imgur.com/T7Q8s.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/T7Q8s.png" alt="The nut casing"></a></p>

<p><a href="https://i.stack.imgur.com/LGIfh.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/LGIfh.png" alt="The servo attachment piece - note the M3 nut indent"></a></p>

<p>So far, I'm having difficulty of this setup working with any level for torque and not just spinning in place.</p>

<p>So... is this the correct approach? Am I going to have to design a piece with the servo horn inside of it to get the servo to connect? Are there better approaches I haven't considered?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9175" data-toggle = "popover">
				<p>user name : HlfShell</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-9175">{'None': 0, 'servos': 2, '3d-printing': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9175">Load Comments</button></br>
			<div id = "commentsection-9175" class = 'collapse'>
			<div id = "comment-15221" class = "comment">
				<p>Why do you not want to integrate servo horns into the print?</p>
			</div>
			</div>
				<textarea id = "speech-9175" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9175">
					<img id="start_img-9175" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9175">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9178"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9178" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Sounds more like a material/mechanics of materials problem to me. I'm assuming this is an FDM part, and the M3 nut is metal? The nut will have no trouble stripping this. FDM parts are far from 'full strength' parts, nearly all 3D printing is. There are too many 'spaces' inside of the print itself. This gets compounded by your design itself, since this part leaves quite a bit of room for leverage. See how the holes that allow the two piece of mate together are almost the same distance as the diameter of the nut? That is too far for a plastic part interfacing with a metal part. You need to picture an imaginary lever from the center of each of those six pins to the center of the nut, then another six levers from the center of the nut to each vertex of the nut. The plastic part is going to be able to exert far greater force than the nut, but the plastic will deform and the nut will not. The plastic is set up to destroy itself right now, and the nut will make itself a nice hole to spin inside of. Either figure out a way to get it made from metal, or decrease the size of the printed part. I would recommend metal if you can afford the weight and plan on applying any kind of torque to this system.  Get quotes from some rapid prototyping services or local machine shops to get a few of these made from steel, it will probably be cheaper than you think. Just be willing to work with them, and take their advice if they suggest a design change to aid in manufacturability.</p>

<p>All that said, you would be better off interfacing with the servo horn if you can fit it into your design IMO. It would be better able to handle any torque in the system, regardless of material.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9178" data-toggle = "popover">
				<p>user name : MechanicalMan</p>
				<p> user reputation : 365</p>
				<p class = "tagcontent" id = "usertaginfo-9178">{'None': 19, 'ros': 5, 'roomba': 4, 'irobot-create': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9178">Load Comments</button></br>
			<div id = "commentsection-9178" class = 'collapse'>
			<div id = "comment-15214" class = "comment">
				<p>Spot on - this is a standard hobby grade FDM printer. I'm printing out servo horn attachments now and I'll try that route.

I was hoping to avoid requiring metal but you might be right about it. I live in a city apartment so am limited on some material selection.

I will also try the same design in nylon - I hear that is quite a bit tougher, but I'm to date inexperienced with it so I'm hoping that it isn't too hard to work with.</p>
			</div>
			<div id = "comment-15222" class = "comment">
				<p>Nylon should be tougher, but know that it may still not be tough enough depending on the usage. If you find that Nylon still isn't enough, a rapid proto service would be no more difficult to call upon from a city apartment than Amazon would be.</p>
			</div>
			</div>
				<textarea id = "speech-9178" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9178">
					<img id="start_img-9178" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9178">Comment</button>
			<br><div id = "ans-9215"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9215" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Much as stated above the power of a servo is limited. You may need to instead use a light interrupted motor as are found in printers combined with a series of reduction gears to allow the force needed to suspend your robot without adding much weight.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9215" data-toggle = "popover">
				<p>user name : Firobug</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9215">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9215" class = 'collapse'>
			</div>
				<textarea id = "speech-9215" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9215">
					<img id="start_img-9215" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9215">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>