<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>What are the specifications of the digital compass used in iPhone 6S
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10369" class = "post">
			<h2>Question</h2>
			<div id="vote-10369" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 128</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>What are the specifications of the digital compass used in iPhone 6S</h2>
<p>What are the specifications of the digital compass used in the iPhone 6S?
I am trying to measure yaw angle using the magnetometer.  I observed the magnetometer/digital compass in the iPhone is really very stable. The north direction is always the same, while the magnetometer I am using (or the magnetometer used in Nexus) needs to be calibrated again and again to function properly.</p>

<p>I found that the digital compass <strong>AK8963C</strong> is used in the iPhone 6, but it needs calibration.  So I am not sure what is inside iPhone 6S because it works without a calibration procedure.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10369" data-toggle = "popover">
				<p>user name : Aditya</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10369">{'magnetometer': 1, 'None': 0, 'imu': 1, 'sensor-fusion': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10369" class = 'collapse'>
			</div>
				<textarea id = "speech-10369" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10369">
					<img id="start_img-10369" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10369">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10373"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10373" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Typically, and unsurprisingly, proprietary information (to include part numbers, schematics, etc.) is closely guarded by companies. As such, I am not sure how much information you can expect to receive without significant effort on your part. For starters, you can be sure that Apple will not release its specifications or parts list.</p>

<p>Take a look at the <a href="https://www.ifixit.com/Teardown/iPhone+6s+Teardown/48170" rel="nofollow">iFixIt</a> tear down of the iPhone 6s and you will see no mention of the compass chip. Doing some more research, you can find the <a href="http://www.chipworks.com/sites/default/files/Apple_iPhone_6s_A1688_Smartphone_Chipworks_Teardown_Report_BPT-1509-801_with_Commentary.pdf" rel="nofollow">ChipWorks parts list</a> of the iPhone 6s, and again, the compass part number and manufacturer are listed as "unknown." The reason for this is the A9 system on a chip, which now incorporates a number of sensors -- including the magnetometer -- which were discretely included in previous models. Furthermore, you can read about the M9 co-processor that sits inside the A9 and is used to process sensor data.</p>

<p>Despite the lack of information, I would wager that the AK8963C is the digital compass used in the iPhone 6s. I base this speculation on the fact that the AK8963C was used in both the iPhones 5, 5s, and 6. In fact, the same IMUs are used between most, if not all, of these models, which suggests that Apple has invested in this set of sensors and is content with their performance. Lastly, I am not intimately familiar with the iPhone 6 and 6s, but again, I would wager that the difference between the two, at least in terms of capability, is marginal. Assuming that the AK8963C is the compass, the <a href="https://www.akm.com/akm/en/file/datasheet/AK8963C.pdf" rel="nofollow">datasheet</a> is available, and should answer several high-level and many low-level questions that you have. </p>

<p>As for calibration--yes, the AK8963C needs it. Again, I suspect that you will have a difficult time getting any manufacturer to detail the procedure, especially Apple. Among other relevant things, the datasheet highlights some tuning parameters, but at the end of the day, this is all happening in software--whether you require the user to calibrate, or handle it automatically, calibration is almost certainly happening. Still, <a href="http://appleinsider.com/articles/15/09/28/reported-ios-9-gyroscope-bug-affects-iphone-6s-augmented-reality-apps" rel="nofollow">this article</a> and the many like it suggest that perhaps the iPhone 6s sensor outputs are not a accurate as your observations exist.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10373" data-toggle = "popover">
				<p>user name : NBCKLY</p>
				<p> user reputation : 741</p>
				<p class = "tagcontent" id = "usertaginfo-10373">{'None': 44, 'roomba': 4, 'irobot-create': 4, 'arduino': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10373">Load Comments</button></br>
			<div id = "commentsection-10373" class = 'collapse'>
			<div id = "comment-18622" class = "comment">
				<p>Thanks a lot for the response. Yes. I am aware that they won't release the specs. I looked into previous iPhone specs and teardown details and found some information about previous models and digital compass included in those models **AK8963C**.
But there was no specific mention about the compass in iPhone 6S and was curious.</p>
			</div>
			<div id = "comment-18629" class = "comment">
				<p>Based on my reading, I'm confident that it still uses the AK8963C. If you have specific implementation that requires a digital compass, make a post about calibration, and I'm certain you can find a good procedure.</p>
			</div>
			</div>
				<textarea id = "speech-10373" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10373">
					<img id="start_img-10373" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10373">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>