<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>what is the easiest method to plot a temperature in my pc?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5150" class = "post">
			<h2>Question</h2>
			<div id="vote-5150" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1167</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>what is the easiest method to plot a temperature in my pc?</h2>
<p>After a lot of learning, I'm launching a reballing business and I feel the need to have a realtime plot of the temperatures involved (ideally 3 or 4) and I have an arduino uno and a few K type thermocouples, I was researching the subject and saw a lot of different approachs, most of them use arduinos to send serial data to a pc port, then from there they process it with phyton, other guys matlab, some use ms excel plus a free add on in vb for apps. etcetera, and now after some reading I feel overwhelmed by all the different methods, so I wonder, perhaps I'm already losing perspective here? may be there is a simple method I can use and KISS way of get it done? thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5150" data-toggle = "popover">
				<p>user name : ortegacomputacion</p>
				<p> user reputation : 8</p>
				<p class = "tagcontent" id = "usertaginfo-5150">{'None': 0, 'microcontroller': 1, 'electronics': 1, 'sensors': 1, 'arduino': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5150">Load Comments</button></br>
			<div id = "commentsection-5150" class = 'collapse'>
			<div id = "comment-8031" class = "comment">
				<p>I don't think this question is concerned with robotics... :)
It is about programming/electronics</p>
			</div>
			</div>
				<textarea id = "speech-5150" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5150">
					<img id="start_img-5150" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5150">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5151"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5151" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Looking for a open (free) source alternative is it normal to feel overwhelmed since the programs, that you can use, are really many.</p>

<p>Personally when I need to plot soma data coming from Arduino or Teensy on my PC I go through one of those ways:</p>

<ol>
<li><p>If I want to use a programming tool <a href="https://processing.org/" rel="nofollow noreferrer">Processing</a> could be really easily implemented to show what you want. It has the same language as Arduino and the same environment. Take a look in the examples. There you can find a program that suits your needs. Since the language is the same as Arduino you have a very high portability and reconfigurability;</p></li>
<li><p>If I don't want to program anything, but just plot some values without loosing time, then I use <a href="http://www.scilab.org/" rel="nofollow noreferrer">Scilab</a>. You don't need a license like Matlab, and fr plotting you have a lot of tools. This could be the way you want to go. In the Scilab package configuration there is package that listens to the serial port. You just need to write a small script to save in a array and then plot them. To open a serial port you need just three functions, really <a href="https://stackoverflow.com/questions/15527818/how-to-make-scilab-open-a-serial-communication-with-dev-ttyacm0-usb-port-in-lin">strightforward</a>. I used it for controlling a robotic arm. I've formatted my PC due to a hardware failure, so I m sorry I cannot send you an already created script made by myself;</p></li>
<li><p>There are other options like gplot, octave or <a href="http://homepages.ihug.com.au/~npyner/Arduino/GUIDE_2PLX.pdf" rel="nofollow noreferrer">exceel</a>. But if you don't want to spend more time and need a very fast solution I would go for the step #2;</p></li>
</ol>

<p>Regards</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5151" data-toggle = "popover">
				<p>user name : Dave</p>
				<p> user reputation : 294</p>
				<p class = "tagcontent" id = "usertaginfo-5151">{'control': 10, 'quadcopter': 11, 'None': 6, 'pid': 13, 'uav': 3, 'matlab': 0, 'mobile-robot': 0, 'ros': 2, 'movement': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5151" class = 'collapse'>
			</div>
				<textarea id = "speech-5151" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5151">
					<img id="start_img-5151" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5151">Comment</button>
			<br><div id = "ans-5157"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5157" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Do you <em>need</em> to use the Arduino?  Because if all I wanted to do was get temperature readings on the computer, I would use an off-the-shelf data acquisition device.  For example <a href="http://labjack.com/" rel="nofollow">LabJack</a>, <a href="http://www.phidgets.com/" rel="nofollow">Phidgets</a>, something from <a href="http://www.ni.com/data-acquisition/" rel="nofollow">National Instruments</a>, or any number of others.  There also seems to be a large number of dedicated USB temperature sensors that are not too expensive.</p>

<p>These may be more expensive than something completely custom with an Arduino, but will be the simplest and most straight forward.   (Because you don't have to write code in 2 places.)  That is unless you are already very comfortable with the Arduino.  </p>

<p>On the PC side, there are probably almost as many ways to accomplish this as there are languages.  It is hard to give advice without more background info on your requirements and personal capabilities.  (Windows or Linux, do you want a nice GUI or bare bones, do you want to store historical data, do you want it to be a desktop widget or regular application, what level of programmer are you, etc.)</p>

<p>You should use the tools you are most comfortable with.  For example i know people who would do this on Linux in a few lines of bash script with gnuplot.  And others who would use matlab on Windows.  Personally, I'd probably go with Python and <a href="http://matplotlib.org/" rel="nofollow">matplotlib</a>.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5157" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-5157">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5157">Load Comments</button></br>
			<div id = "commentsection-5157" class = 'collapse'>
			<div id = "comment-7918" class = "comment">
				<p>lol, bash script and gnuplot? not yet at that level, just a power user of both worlds so far, I'm ok with arduino, not very comfortable yet, and those usb gadgets seem a nice way to do it, however, I forgot to mention some spending restraints at work here, I'm trying Dave advice and some personal juice now, still your answer does provide some more insight, a light at the end of the tunnel, for that, thanks!</p>
			</div>
			<div id = "comment-7919" class = "comment">
				<p>I forgot to mention, I'm familiar with atmel micros, unfamiliar with processing language, and I have some know how about atmel instruction sets, just never had the need to plot anything in my life, and now I have three projects with the same requirements. lol. I appreciate all insights you all brain peoples out there can give.</p>
			</div>
			</div>
				<textarea id = "speech-5157" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5157">
					<img id="start_img-5157" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5157">Comment</button>
			<br><div id = "ans-5185"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5185" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.pyqtgraph.org/" rel="nofollow">Pyqtgraph</a> for python is made with OpenGl and its blazing fast compare to <a href="http://matplotlib.org/" rel="nofollow">Mathplotlib</a> or other that are using processor to draw... I was really happy with Pyqtgraph, and it is made for ploting real time plots.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5185" data-toggle = "popover">
				<p>user name : urosjarc</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-5185">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5185" class = 'collapse'>
			</div>
				<textarea id = "speech-5185" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5185">
					<img id="start_img-5185" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5185">Comment</button>
			<br><div id = "ans-5194"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5194" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="http://www.datplot.com/" rel="nofollow noreferrer" title="DatPlot">DatPlot</a> is an absolutely fantastic tool for plotting data and browsing through it, and I use it heavily when I want to quickly visualise and browse some data. I think it perfectly fills in a gap that exists between spreadsheets (such as excel) and general purpose computing packages (such as MATLAB, Scilab etc), in that it's great for exploring the data (zooming in and out, panning, selecting - which is something that spreadsheets utterly lack in my experience), and at the same time very simple and dedicated to one task (unlike MATLAB, scilab) and hence is quick to download install and use.</p>

<p><img src="https://i.stack.imgur.com/utMtt.png" alt="DatPlot"></p>

<p>Obviously, you're still going to have to get the temperature data into your PC. If you have an off the shelf data logger, then great. Otherwise, in my opinion, an Arduino (or other microcontroller) would be a very simple solution - just get it to regularly sample your sensor and then send temperature (and optionally time) via the serial port. You can then use a program such as <a href="http://realterm.sourceforge.net/" rel="nofollow noreferrer" title="RealTerm">RealTerm</a> (don't be overwhelmed by the UI) to automatically capture what's being sent via the serial port and save it to a file that you can then directly open in DatPlot. In RealTerm, the Capture tab allows you to just dump whatever is coming from the serial port directly to a file.</p>

<p><img src="https://i.stack.imgur.com/uSHxX.png" alt="RealTerm"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5194" data-toggle = "popover">
				<p>user name : Amr Bekhit</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-5194">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5194" class = 'collapse'>
			</div>
				<textarea id = "speech-5194" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5194">
					<img id="start_img-5194" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5194">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>