<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wheels vs Continuous Tracks (Tank Treads)
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-541" class = "post">
			<h2>Question</h2>
			<div id="vote-541" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 14136</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wheels vs Continuous Tracks (Tank Treads)</h2>
<p>I'm building a small robot using some cheap Vex Robotics tank treads. However, my choice of picking tank treads is almost purely based on the fact that they seem like more fun than wheels. I don't actually know if they really have much of an advantage or disadvantage when compared to wheels.</p>

<p>What are the pros and cons of both wheels and continuous tracks?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-541" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-541">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-541">Load Comments</button></br>
			<div id = "commentsection-541" class = 'collapse'>
			<div id = "comment-635" class = "comment">
				<p>Speaking of Vex Robotics, check out this thread: http://www.vexforum.com/showthread.php?t=70570</p>
			</div>
			<div id = "comment-638" class = "comment">
				<p>People who have seen treads in action have told me that the treads have come off during a competition disabling the robot.</p>
			</div>
			</div>
				<textarea id = "speech-541" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-541">
					<img id="start_img-541" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-541">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-542"  class = "post">
				<h2>Answer</h2>
			<div id="vote-542" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, you generally use wheels when:</p>

<ul>
<li><strong>You want speed</strong>. Treads need a lot more torque to power, thus you generally use low-rpm/high torque motors.</li>
<li><strong>You want maneuverability:</strong> Treads are a big pain to turn with. Differential steering is very ineffective (the bot skids to steer, which may not work if you have really grippy treads)</li>
</ul>

<p>But, treads are better when:</p>

<ul>
<li><strong>You want to move on uneven terrain</strong>: Wheels get stuck in potholes/bumps, treads don't.</li>
<li><strong>You want traction</strong>: Treads in general are way grippier than wheels--climbing an incline is easier and you have less skids.</li>
<li><strong>You don't want the bot to be affected by pushing/gravity</strong>: A wheeled bot is easily pushed around (and, as mentioned, can skid on inclines). Bots with treads are hard to push and they don't skid.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-542" data-toggle = "popover">
				<p>user name : Manishearth</p>
				<p> user reputation : 1068</p>
				<p class = "tagcontent" id = "usertaginfo-542">{'underwater': 30, 'None': 53, 'protection': 64, 'motor': 64, 'auv': 30, 'actuator': 11}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-542" class = 'collapse'>
			</div>
				<textarea id = "speech-542" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-542">
					<img id="start_img-542" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-542">Comment</button>
			<br><div id = "ans-555"  class = "post">
				<h2>Answer</h2>
			<div id="vote-555" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">20</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The best option will depend on the type of terrain you expect to cover.  You want the correct balance of several factors: </p>

<ul>
<li>ground pressure</li>
<li>traction</li>
<li>suspension</li>
<li>steering</li>
</ul>

<p><strong>Ground pressure</strong> from tracks is less than ground pressure than wheels, so they're more suited to soft surfaces.  Larger tires can help, but there are limits -- they may not work in something like snow (which is why snowmobiles use tracks).</p>

<p><a href="https://i.stack.imgur.com/eo1gA.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/eo1gAm.jpg" alt="snowmobile rescuing a stuck 4-wheeler"></a> </p>

<p>(0.75 psi snowmobile tows a 40 psi ATV)</p>

<p><strong>Traction</strong> from tracks is generally better than wheels, but still depends on the depth and firmness of the tread being adequately matched to the terrain for best results.<br>
<img src="https://i.stack.imgur.com/pA0iPm.jpg" alt="enter image description here"></p>

<p>(Much like a gear, a tire or track engages with the ground underneath it.  Tracks simply put more "teeth" into the ground.)</p>

<p><strong>Suspension</strong> is related to traction; without the ability to conform the tracks or wheels to the terrain, the traction doesn't come into play, and your motors will just spin ineffectively.<br>
<a href="https://i.stack.imgur.com/gIVUY.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/gIVUYm.jpg" alt="articulated suspension"></a></p>

<p>Building good suspension is much more complicated for a tracked vehicle than for a wheeled vehicle, but by no means impossible --
as shown in this iRobot video: </p>

<p><a href="http://www.youtube.com/watch?v=KWB3hkjpvKo" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/we5Lfm.png" alt="suspension"></a>.  </p>

<p>But, compare the climbing ability of tracked vehicles to the <a href="https://www.youtube.com/watch?v=V3hqQ5rv_CI" rel="nofollow noreferrer">rocker-bogie system used by the mars rovers</a>.</p>

<p><a href="https://i.stack.imgur.com/14dky.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/14dkym.jpg" alt="mars rover rocker bogie"></a></p>

<p><strong>Steering</strong> is necessary for maneuverability, and this is where wheels can have a significant advantage.  For skid steering, good traction works against you... and in uneven terrain, you might find yourself blocked from lateral movement.  </p>

<p><a href="https://i.stack.imgur.com/QgIUt.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/QgIUtm.jpg" alt="Steering difficulty"></a></p>

<p>There are some hybrid approaches -- 4 tracks, non-skid steering -- that approach a "best of both worlds" design: <a href="http://www.youtube.com/watch?v=bPVicyrU_bQ" rel="nofollow noreferrer">Mattracks</a> and <a href="http://www.youtube.com/user/Hagglunds1" rel="nofollow noreferrer">hagglunds</a>, for example.</p>

<p><a href="https://i.stack.imgur.com/A2cEr.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/A2cErm.jpg" alt="Mattracks"></a> <a href="https://i.stack.imgur.com/fCnXy.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/fCnXym.jpg" alt="Hagglunds"></a></p>

<p>One <strong>very important</strong> balance to to all of these factors is maintainability.  The complexity of tracks means that there are a lot of ways to break them; you're adding a lot of moving parts that will wear out independently, or be prone to dirt and debris causing trouble.  Troubleshooting tracks will be more difficult than wheels, and tracks will be more difficult to service.  So from a durability standpoint, if you can get away with wheels then use wheels. </p>

<p><a href="https://i.stack.imgur.com/Y9Lhy.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Y9Lhym.jpg" alt="tread fixing"></a>
<a href="https://i.stack.imgur.com/TbQGC.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/TbQGCm.jpg" alt="tread fixing"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-555" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-555">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-555">Load Comments</button></br>
			<div id = "commentsection-555" class = 'collapse'>
			<div id = "comment-11290" class = "comment">
				<p>Here's another example of suspension on a wheeled vehicle being a huge enabler of off-road capability https://www.youtube.com/watch?v=ZJKDY4tc3-s</p>
			</div>
			</div>
				<textarea id = "speech-555" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-555">
					<img id="start_img-555" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-555">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>