<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>When should I use the tag for the OS version?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-776" class = "post">
			<h2>Question</h2>
			<div id="vote-776" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 41</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>When should I use the tag for the OS version?</h2>
<p>On Stack Overflow, a version tag (e.g. "c#-4.0") is used when the question is about a feature specific for that version.<br>
Is the same true for the OS tags used on <em>Ask Different</em>, or should I use the OS tags only to report the OS I am using?</p>

			</div>
			<div id = "userinfo-776" style = "float:right">
				<p>user name : kiamlaluno</p>
				<p> user reputation : 2594</p>
				<p> user tag wise history : {'openid': 0, 'None': 9, 'editing': 0, 'users': 0, 'tags': 4, 'support': 9, 'community-wiki': 1, 'status-completed': 6, 'answers': 7, 'notifications': 3, 'design': 5, 'feature-request': 1, 'questions': 4, 'bounty': 3, 'flagging': 3, 'user-accounts': 0, 'bug': 5, 'discussion': 11}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-776" class = 'collapse'>
			</div>
				<textarea id = "speech-776" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-776">
					<img id="start_img-776" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-776">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-780"  class = "post">
				<h2>Answer</h2>
			<div id="vote-780" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Our version-specific OS tags use the 'big cat' name of the OS release.</p>

<pre><code>10.4 -&gt; tiger  
10.5 -&gt; leopard  
10.6 -&gt; snow-leopard  
10.7 -&gt; lion
</code></pre>

<p><strong>Use one of these when you have a question that's OS-specific.<br>
When your question is not OS-specific, use the generic <code>osx</code> tag.</strong></p>

<p><strong>Tags should not be used just to tell us what version of the OS you're using; add that to the question itself.</strong></p>

<p>Examples:</p>

<p><em>"How can I rename Desktops in Lion?"</em><br>
Desktops (Spaces) changed a lot in Lion; this is a very Lion-specific question.<br>
[lion]</p>

<p><em>"Error when connecting to my Mac with SSH"</em><br>
This is a general troubleshooting question. While it may be useful to know the OS, it isn't a question specifically about that OS.<br>
[osx], version info in the question.</p>
</p><br>
			</div>
			<div id = "userinfo-780" style = "float:right">
				<p>user name : Nathan Greenstein</p>
				<p> user reputation : 19253</p>
				<p> user tag wise history : {'osx': 7, 'None': 256, 'editing': 38, 'site-promotion': 6, 'mobile': 3, 'discussion': 30, 'formatting': 32, 'status-completed': 14, 'bug': 7, 'blog': 9, 'support': 0, 'reputation': 8, 'prerelease': 7, 'feature-request': 47, 'site-name': 3, 'design': 7, 'beta-essentials': 14, 'status-norepro': 0, 'privileges': 8, 'iphone': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-780">Load Comments</button></br>
			<div id = "commentsection-780" class = 'collapse'>
			<div id = "comment-1416" class = "comment">
				<p>I was referring to those. The question is when they should be used: Should I use them when I ask something that is specific for an OS version, or just to report I am using a specific OS version?</p>
			</div>
			<div id = "comment-1417" class = "comment">
				<p>Ah, I understand now. Updated.</p>
			</div>
			</div>
				<textarea id = "speech-780" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-780">
					<img id="start_img-780" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-780">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>