<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>When not to flag?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2345" class = "post">
			<h2>Question</h2>
			<div id="vote-2345" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 70</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>When not to flag?</h2>
<p>I just went through my flags and saw that some were declined with the following reason:</p>

<blockquote>
  <p>flags should only be used to make moderators aware of content that requires their intervention</p>
</blockquote>

<p>For example: <a href="https://apple.stackexchange.com/questions/141591/ios-create-un-resettable-and-undeletable-app">these</a> <a href="https://apple.stackexchange.com/questions/128623/circuit-simulator-tool-for-os-x">two</a> questions were flagged as low quality and migratable respectively. These actions require mod intervention, but the flags were declined with the above reason.</p>

<p>So: why shouldn't I have flagged these type of questions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2345" data-toggle = "popover">
				<p>user name : Saaru Lindest kke</p>
				<p> user reputation : 2309</p>
				<p class = "tagcontent" id = "usertaginfo-2345">{'None': 0, 'flagging': 3, 'discussion': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2345">Load Comments</button></br>
			<div id = "commentsection-2345" class = 'collapse'>
			<div id = "comment-4399" class = "comment">
				<p>I declined that flag on the first question and honestly: I don't remember why. It was over half a year ago.</p>
			</div>
			<div id = "comment-4400" class = "comment">
				<p>@IanC. Oh, these were just two examples, I was more aiming at the general case.</p>
			</div>
			<div id = "comment-4401" class = "comment">
				<p>Yea, but usually I can look and it'd be something obvious like I'd rather you had down voted it or made an edit or something like that. But I have zero clue in this case. If you flagged that today I would have put it on hold. Sorry about that. Human and all that...</p>
			</div>
			</div>
				<textarea id = "speech-2345" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2345">
					<img id="start_img-2345" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2345">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2347"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2347" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In a nutshell, just because a flag was declined doesn't mean at all you shouldn't have raised them. I'll try to break down how I see things:</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/141591/ios-create-un-resettable-and-undeletable-app">https://apple.stackexchange.com/questions/141591/ios-create-un-resettable-and-undeletable-app</a></li>
</ul>

<p>I wouldn't flag it as low quality (which is what it looks like you chose). It's too broad / unclear - there's clearly something that would be on-topic. Unless there was a pattern of bad questions or spammy activity - I'd probably put it on hold instead of insta-deleting, but I didn't dig deeply into that user to see if/why it was handled for deletion.</p>

<ul>
<li><a href="https://apple.stackexchange.com/questions/128623/circuit-simulator-tool-for-os-x">Circuit simulator tool for OS X?</a></li>
</ul>

<p>This was flagged as other asking for migration. That flag should be declined since we cannot migrate anything more than a few months old. Even then, it's perfectly fine here.</p>

<hr>

<p>Apart from the specifics, here are things to consider in general when moderators handle flags. A problem arises when there are multiple flags on the same post. Sometimes a moderator has to choose the lesser of two evils and decline all flags if most of them are wrong. Also - sometimes I mis-click and decline a flag that should have been approved. I don't know if that happened, but if you end up with a dozen declines amongst 100 flags - I wouldn't worry. If you get 50% flags declined, then absolutely ask here for explanation, help, etc...</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2347" data-toggle = "popover">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p class = "tagcontent" id = "usertaginfo-2347">{'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2347" class = 'collapse'>
			</div>
				<textarea id = "speech-2347" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2347">
					<img id="start_img-2347" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2347">Comment</button>
			<br><div id = "ans-2351"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2351" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When it comes to migration, our policy in the past here has been only to migrate if the poster requested it. If the post were off-topic here, we close. If the post is on-topic here, we leave it here unless the poster requests sending it somewhere else. So a migration flag from someone other than the OP would be declined. We've had pretty heavy moderator turnover since that policy was explained to me, so I don't know it that is current practice by all current mods, but that's what I was taught, and thus why I declined the flag in question.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2351" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-2351">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2351" class = 'collapse'>
			</div>
				<textarea id = "speech-2351" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2351">
					<img id="start_img-2351" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2351">Comment</button>
			<br><div id = "ans-2353"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2353" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Regarding "low quality" flags in general, there isn't very much a moderator can do which non-mod users can't do as well</p>

<ul>
<li>downvote</li>
<li>leave a comment asking for clarification/improvements</li>
<li>improve the post directly by editing it (<em>this is actually the preferred option</em>)</li>
</ul>

<p>That's why I tend to decline "low quality" flags from higher-rep users (with higher rep starting at the point where the user gets access to the review queue).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2353" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2353">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2353">Load Comments</button></br>
			<div id = "commentsection-2353" class = 'collapse'>
			<div id = "comment-4404" class = "comment">
				<p>This is also the approach I take. It doesn't take a mod to down vote a low quality answer. If something is ambiguously an answer, but low quality, I'll decline the flag. Users are expected to be voting on SE sites.</p>
			</div>
			</div>
				<textarea id = "speech-2353" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2353">
					<img id="start_img-2353" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2353">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>