<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>When is the case to use hard real time?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-14032" class = "post">
			<h2>Question</h2>
			<div id="vote-14032" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 58</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>When is the case to use hard real time?</h2>
<p>If I use an industrial robot with its hardware controller, should I install linux hard real-time like xenomai to use this kind of hardware controller?</p>

<p>If not, when is the case to use xenomai?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-14032" data-toggle = "popover">
				<p>user name : sam</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-14032">{'None': 0, 'real-time': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14032" class = 'collapse'>
			</div>
				<textarea id = "speech-14032" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14032">
					<img id="start_img-14032" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14032">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-14044"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14044" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, hard real-time OSes are used when there is a (usually periodic) task that is terminally critical, i.e. a process that needs to be run every few milliseconds, for example, and which, when queued, <strong>must</strong> be completed within a given time window to avoid a system failure. Note that "system failure" in this case doesn't have to mean that it will fry your CPU or break your robot, but instead that the resulting behaviour is considered a breach of the system's <strong>critical</strong> specifications, such as user safety or the like.</p>

<p>You may want to check out <a href="https://en.wikipedia.org/wiki/Real-time_computing#Criteria_for_real-time_computing" rel="nofollow noreferrer">the criteria for different categories of real-time computing on Wikipedia</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14044" data-toggle = "popover">
				<p>user name : Sty</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-14044">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-14044">Load Comments</button></br>
			<div id = "commentsection-14044" class = 'collapse'>
			<div id = "comment-22880" class = "comment">
				<p>Thank you for sharing concept of RT. I wondered if the robot has the hardware controller which implement PID or higher level controller and I use PC to communicate with that controller, should I install hard realtime OS to communicate with that controller?</p>
			</div>
			<div id = "comment-22881" class = "comment">
				<p>I guess that depends on the robot you use and its usage scenario - if you need pinpoint precision in order for the robot to complete its assignment according to specifications, then a real-time system is probably the way to go. If on the other hand you can live with some data points not arriving, e.g. because you use time-tracking and may interpolate accurately enough, then you don't require a (hard) real-time system</p>
			</div>
			</div>
				<textarea id = "speech-14044" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14044">
					<img id="start_img-14044" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14044">Comment</button>
			<br><div id = "ans-14050"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14050" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>hard RTOS is up to few microseconds to nanoseconds, soft RTOS is between miliseconds to microseconds. </p>

<p>It depends how fast you are getting data from the sensors and how fast you need the controller to react. Most cases ubuntu works fine and you can use ROS. In cases of hard RTOS I prefer micro kernels like QNX. </p>

<p>If really want to get the best out of your industrial robot just go for a micro-kernel like QNX, there are ways to install modified versions of ROS then you can work over built controllers by the community. There are lots of good things already developed that will spare a good time.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14050" data-toggle = "popover">
				<p>user name : Renan Monteiro</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-14050">{'control': 1, 'mobile-robot': 1, 'None': 1, 'ros': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14050" class = 'collapse'>
			</div>
				<textarea id = "speech-14050" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14050">
					<img id="start_img-14050" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14050">Comment</button>
			<br><div id = "ans-14059"  class = "post">
				<h2>Answer</h2>
			<div id="vote-14059" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should find it useful to read this <a href="https://www.researchgate.net/project/A-Preview-of-Introduction-to-Fundamental-Principles-of-Dynamic-Real-Time-Systems" rel="nofollow noreferrer">https://www.researchgate.net/project/A-Preview-of-Introduction-to-Fundamental-Principles-of-Dynamic-Real-Time-Systems</a>. "Hard" real-time is a special case of the general case of "real-time." You can easily find that there are as many ad hoc "definitions" of all real-time terms as there are sources for those "definitions." That is a major disruption to both commerce and R&amp;D in the real-time field. Such a thing is unimaginable in any other engineering or science field.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-14059" data-toggle = "popover">
				<p>user name : E. Douglas Jensen</p>
				<p> user reputation : 101</p>
				<p class = "tagcontent" id = "usertaginfo-14059">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-14059" class = 'collapse'>
			</div>
				<textarea id = "speech-14059" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-14059">
					<img id="start_img-14059" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-14059">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>