<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>When taking VCC power from an arduino to a 12v regulator, then to a 5v, do I need two sets of capacitors?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-623" class = "post">
			<h2>Question</h2>
			<div id="vote-623" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 307</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>When taking VCC power from an arduino to a 12v regulator, then to a 5v, do I need two sets of capacitors?</h2>
<p>I'm building an open-source bio-research hardware (ask me how you can help!) and I've got this guy here:</p>

<p><img src="https://i.stack.imgur.com/MZw6q.jpg" alt="enter image description here"></p>

<p>My big questions are:</p>

<ul>
<li><p>Can I get away with all the ground being common? (I've got a 12v and 5v needing to be grounded)</p></li>
<li><p>Do I need two sets of capacitors? There are 2 wired up to the 12v regulator and 2 wired to the 5v regulator. (These are shown in blue)</p></li>
</ul>

<p>I've generally denoted connections which go UNDER the shield as orange, and those above as green.</p>

<p>If anyone happens to see something which might backfire, feel free to point it out. As this is also my first time making anything quite like this!</p>

<ul>
<li>I've verified the regulator positions and they are correct.</li>
<li>This is a <a href="http://www.nkcelectronics.com/Protoshield-KIT-for-Arduino-UNO-R3_p_308.html" rel="nofollow noreferrer">proto-shield</a> for an Arduino R3 Uno.</li>
</ul>

<p>A larger version of the image can be seen here: <a href="https://i.imgur.com/BPXjn.jpg" rel="nofollow noreferrer">http://i.imgur.com/BPXjn.jpg</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-623" data-toggle = "popover">
				<p>user name : delinquentme</p>
				<p> user reputation : 208</p>
				<p class = "tagcontent" id = "usertaginfo-623">{'None': 0, 'raspberry-pi': 6, 'arduino': 20, 'stepper-driver': 7, 'logic-control': 7, 'stepper-motor': 7, 'electronics': 7, 'software': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-623">Load Comments</button></br>
			<div id = "commentsection-623" class = 'collapse'>
			<div id = "comment-720" class = "comment">
				<p>You might want to post a schematic and/or a bigger version of this image. It isn't that easy to figure out what is going on at first.</p>
			</div>
			<div id = "comment-733" class = "comment">
				<p>Just replacing this image with a block diagram should clear it up a great deal.</p>
			</div>
			</div>
				<textarea id = "speech-623" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-623">
					<img id="start_img-623" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-623">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-624"  class = "post">
				<h2>Answer</h2>
			<div id="vote-624" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h3>Can I get away with all the ground being common?</h3>

<p>That's exactly what should be done.</p>

<h3>Do I need two sets of capacitors?</h3>

<p>Yes, you usually want to keep all capacitors as they are even if you are cascading voltage regulators. They help keep the regulator stable and avoid sharp voltage variations. </p>

<p>Be aware that either regulator might limit the amount of current that can be supplied to your system (if you have things hooked up in the 12V regulator besides the 5V regulator, for instance).</p>

<p>I find it odd that you need a 12V regulator though... Where is the input voltage coming from?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-624" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-624">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-624">Load Comments</button></br>
			<div id = "commentsection-624" class = 'collapse'>
			<div id = "comment-721" class = "comment">
				<p>Im pulling the 12v off of the Vin pin from the arduino ... I was advised to have a 12v regulator to ensure that I dont get spikes from the wall plug</p>
			</div>
			<div id = "comment-722" class = "comment">
				<p>OK, so you have 12V adaptor for the wall plug. Using a 12V regulator is a good idea, but you might be able to get away with simply using a capacitor to filter spikes if you don't actually use the 12V anywhere. Another option in that case is using a voltage regulator to an intermediate voltage (i.e. 8-9V) so that heat dissipation is more evenly distributed among regulators).</p>
			</div>
			<div id = "comment-723" class = "comment">
				<p>Oh I am feeding the 12v directly into the stepper driver http://www.pololu.com/catalog/product/1182 .. but it IS listed as having overcurrent protection ... so maybe I dont need it?</p>
			</div>
			<div id = "comment-729" class = "comment">
				<p>You might not need it, just a capacitor then I would say.</p>
			</div>
			<div id = "comment-732" class = "comment">
				<p>@delinquentme, Maybe I misunderstood. 12V wall adapter goes to 12V linear regulator, which then feeds the circuit? If so, I think this is a mistake. Regulators need a couple of volts headroom or double the regulated voltage for very noisy supplies. Please explain to me what am I misunderstanding.</p>
			</div>
			<div id = "comment-737" class = "comment">
				<p>@georgebrindeiro - Since people edit their question, it's best to include the text of the question you are answering, rather than referring them to first/second question. Also, it's best to ask follow-up questions as comments on the question rather than putting them in answers. You can always edit your answer with new information in light of changes to the question.</p>
			</div>
			<div id = "comment-738" class = "comment">
				<p>@delinquentme - It would be a good idea to edit the information in these comments into your question, that way people don't have to read through all of the comments to understand your question. Once you hjave done this, everyone can tidy up (delete) their comments so that they don't distract from the question and answers themselves.</p>
			</div>
			<div id = "comment-786" class = "comment">
				<p>@Vorac so if the Vin supply is at exactly 12v ... should I worry about a regulator then?</p>
			</div>
			<div id = "comment-787" class = "comment">
				<p>Or just a capacitor as @georgebrindeiro suggested?</p>
			</div>
			<div id = "comment-791" class = "comment">
				<p>@delinquentme, it all comes to what wall adapter are you using. If it is *regulated* i.e. open circuit voltage 12V ... you already have a 12V regulator, and adding a second one can only hurt. If it is unregulated i.e. open circuit voltage > 12V (maybe 14-15-16-17), then look at the datasheet of the motor driver under "Absolute maimum ratings" and check if it can handle this voltage.</p>
			</div>
			</div>
				<textarea id = "speech-624" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-624">
					<img id="start_img-624" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-624">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>