<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>When is an answer too short?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1340" class = "post">
			<h2>Question</h2>
			<div id="vote-1340" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 157</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>When is an answer too short?</h2>
<p>I wrote a brief answer to <a href="https://apple.stackexchange.com/questions/54064/permission-denied-error-when-copying-to-usr-local-bin">this question</a>, and almost immediately got a message attached to the answer, saying</p>

<blockquote>
  <p>We're looking for long answers that provide some explanation and
  context. Don't just give a one-line answer: please explain <em>why</em> you're
  recommending it as a solution. Answers that don't explain anything
  will be deleted. See <a href="http://blog.stackoverflow.com/2010/09/good-subjective-bad-subjective/">Good Subjective, Bad Subjective</a> for more
  information.</p>
</blockquote>

<p>I didn't have the time right then to write a paragraph explaining what <code>sudo</code> does, so rather than have a moderator delete my answer, I deleted it myself. Some twenty minutes later, another equally short and non-explanatory answer appeared and was accepted.</p>

<p>This episode is no big deal to me   it only took me moments to write my answer, and if someone else gets a few points of reputation for answering the question, I couldn't care less. But I am puzzled and curious: The message seems like a canned message. Does the software post such messages automatically, or does some moderator push a button to make it happen? Also, I don't see the relevance of the <a href="http://blog.stackoverflow.com/2010/09/good-subjective-bad-subjective/">Good Subjective, Bad Subjective</a> article to a criticism concerning either shortness or lack of explanations. Whatever might be wrong with my answer, <em>subjective</em> is not it!</p>

			</div>
			<div id = "userinfo-1340" style = "float:right">
				<p>user name : Harald Hanche-Olsen</p>
				<p> user reputation : 2841</p>
				<p> user tag wise history : {'None': 0, 'discussion': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1340" class = 'collapse'>
			</div>
				<textarea id = "speech-1340" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1340">
					<img id="start_img-1340" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1340">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1341"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1341" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your answer was flagged as being "low quality". In responding to the flag as a moderator, I disagreed that it was low quality (it was correct and on-target), but it did have plenty of room for improvement, so I responded to the flag by attaching the post notification inviting more explanation. The flag was automated. My response was human, but it was from a rather limited set of menu choices. While "subjective" is indeed not the issue at hand, the article linked does have some suggestions about how to improve upon short posts.</p>

<p>In the future, you don't need to think of that as an invitation to delete your post. If you or someone else come back and expand your answer, that is a wonderful thing. If no one does over the course of a few months, we will try to come back and either delete or improve such posts, but there really is a window here, and while you are welcome to improve the post yourself, it isn't all up to you. If you start a good answer, someone else can extend it. If you delete it, it is no longer there for the community to build on.</p>

<p>The language of the standard notification is perhaps more threatening than I'd like it to be, but we moderators can't change it; it's standardized system-wide.</p>

<p>I thought your answer was a great start; I attached the post notification to encourage either you or someone else to improve on it by explaining more.</p>

<p>I'm sorry this situation worked out the way it did. I was trying to send the message "good start, but we'd love to see more here."</p>
</p><br>
			</div>
			<div id = "userinfo-1341" style = "float:right">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p> user tag wise history : {'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1341">Load Comments</button></br>
			<div id = "commentsection-1341" class = 'collapse'>
			<div id = "comment-2540" class = "comment">
				<p>(The five paragraph response is I suppose my way of trying to make up for responding to the flag on your post with five clicks on varous buttons and menus)</p>
			</div>
			<div id = "comment-2541" class = "comment">
				<p>Thanks for the explanation, and the advice as well.</p>
			</div>
			</div>
				<textarea id = "speech-1341" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1341">
					<img id="start_img-1341" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1341">Comment</button>
			<br><div id = "ans-1904"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1904" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would like to make an official post to support brevity in answers. There is nothing wrong with a short answer if it helps the user. In fact, I think concise answers should be preferred. Unnecessarily long answers waste a user's time.</p>

<p>This is standard practice on Stack Overflow, where the most highly voted answers are almost always concise:</p>

<ul>
<li><a href="https://stackoverflow.com/questions/510348/how-can-i-make-a-time-delay-in-python">Example 1</a></li>
<li><a href="https://stackoverflow.com/questions/2186525/use-a-glob-to-find-files-recursively-in-python">Example 2</a></li>
<li><a href="https://stackoverflow.com/questions/1747817/python-create-a-dictionary-with-list-comprehension">Example 3</a></li>
</ul>
</p><br>
			</div>
			<div id = "userinfo-1904" style = "float:right">
				<p>user name : Chris Redford</p>
				<p> user reputation : 130</p>
				<p> user tag wise history : {'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1904" class = 'collapse'>
			</div>
				<textarea id = "speech-1904" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1904">
					<img id="start_img-1904" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1904">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>