<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>When was the first time a robot killed a human?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10324" class = "post">
			<h2>Question</h2>
			<div id="vote-10324" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 103</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>When was the first time a robot killed a human?</h2>
<p>Scott Adams, creator of Dilbert, recently shared an <a href="http://scottadams-tttt.tumblr.com/post/147119485801/top-tech-258-killer-robots" rel="nofollow noreferrer">article</a> about a robot the police used to kill a suspect by detonating a bomb in close range.</p>

<p>This made me wonder -- when was the first time a robot took a human life?</p>

<p>Good comments were made on this which leads me to clarify that I mean a <em>pureposeful</em> taking of life. I shy away from the term "murder" because that involves legal concepts, but I mean an intentional killing.</p>

<p>An interesting subdivision would be between robots under active human direction ("remote control") and those with a degree of autonomy.</p>

<p><a href="https://i.stack.imgur.com/SDeV4.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/SDeV4.jpg" alt="killer robot"></a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10324" data-toggle = "popover">
				<p>user name : Hack-R</p>
				<p> user reputation : 114</p>
				<p class = "tagcontent" id = "usertaginfo-10324">{'battery': 2, 'mobile-robot': -2, 'None': 0, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10324">Load Comments</button></br>
			<div id = "commentsection-10324" class = 'collapse'>
			<div id = "comment-18509" class = "comment">
				<p>Can you clarify what you are asking? People have died from various accidents involving industrial robots and people have been killing people with remote control machines (like the incident with the police you mention) since WWII and before. "took a life" implies autonomy which is yet another complication.</p>
			</div>
			<div id = "comment-18510" class = "comment">
				<p>Military robots go back to the guided V1 and V2 missiles in the war (these had guidance of a sort).  I "get" the question but it's hard to define - for example I think this robot was really just a remote-controlled car, that is what I would call "teleoperation". So I'd ask, what do you define by a robot?</p>
			</div>
			<div id = "comment-18518" class = "comment">
				<p>Like Andy says, this line of questioning will ultimately lead to the frequently asked question "what defines a robot?" Which has no closed-form answer. This also supports hauptmech's answer referring to industrial robots (even things like sheet metal presses). If you state or at least narrow your definition of robot you may get a more concise answer.</p>
			</div>
			<div id = "comment-18520" class = "comment">
				<p>I agree--teleoperation shouldn't count. The Sense/Think/Act paradigm for defining agency could be useful. Furthermore, accidental loss of life is a far cry from active killing. I think we should consider both agency and intent in our discussion. You should either refine your question or post it as a discussion instead.</p>
			</div>
			<div id = "comment-18522" class = "comment">
				<p>@hauptmech (et al.) I would say that it would have to be a purposeful (not accidental) killing. Good points. I will update the question accordingly.</p>
			</div>
			<div id = "comment-18534" class = "comment">
				<p>Any particular reason for the downvote just now?</p>
			</div>
			<div id = "comment-18537" class = "comment">
				<p>At whatever moment Skynet decided to be a good one...</p>
			</div>
			<div id = "comment-18554" class = "comment">
				<p>Do dtones count too?</p>
			</div>
			<div id = "comment-18565" class = "comment">
				<p>Welcome to *Robotics* Hack-R, but I'm afraid that it is not clear what you are asking. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to include details of what you mean. Please take a look at [ask] & [about] for more information on how stack exchange works and work through the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) to edit your question to make it clearer.</p>
			</div>
			<div id = "comment-18566" class = "comment">
				<p>Specifically, I'm looking for three points to re-open the question: **One** - What degree of autonomy are you asking about? You mention the robot has to "purposefully kill". **Two** - Define robot. As @NBCKLY mentions, I think anything that has a means to sense and act on what it senses is an appropriate definition, but you haven't commented on that. **Three** - If you're going to ask multiple (subdivided) questions (Autonomy/remote control) then you need to ask one question here and create a different question to ask the other point.</p>
			</div>
			<div id = "comment-18567" class = "comment">
				<p>Finally, to reiterate, I am *not* permanently closing or
deleting this question yet, I'm putting it **on hold**
until you edit the question to address the points I've
made above. This ensures the question doesn't get flooded
with speculative answers that may try to guess at your
meaning.  If, after considerable time, it appears that you
have abandoned this question, then the question may be
automatically deleted by the Community auto-moderator.
*Please edit your question in a timely manner and, when you
are done, simply **vote to reopen the question** and I'll
reopen it.*</p>
			</div>
			<div id = "comment-18568" class = "comment">
				<p>@Chuck Since it was downvoted I tried to delete it and yesterday I sent a request to have it dissassociated from my account since I can't. They let you do that on SO if you can't delete a question. If possible please help me to have it done here. I thought it was a good question but I don't want a downvoted question associated with my account.</p>
			</div>
			<div id = "comment-18569" class = "comment">
				<p>@Hack-R - I can't remove the question from your account. You have to use the "contact us" link at the bottom of the page to get it removed.</p>
			</div>
			</div>
				<textarea id = "speech-10324" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10324">
					<img id="start_img-10324" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10324">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10333"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10333" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Are you including remotely operated vehicles in your understanding of robots or only autonomous? The first case of a human killed by a robot happened on Jan 25, 1979 (<a href="http://www.wired.com/2010/01/0125robot-kills-worker/" rel="nofollow">http://www.wired.com/2010/01/0125robot-kills-worker/</a>). As for remotely operated you'd have to look to the military. I believe it happened shortly after we introduced counter IDE robots into the battlefield but I can't give you a specific. The first robot designed to be armed appeared in 2007 (<a href="https://www.wired.com/2007/08/httpwwwnational/" rel="nofollow">https://www.wired.com/2007/08/httpwwwnational/</a>) but I believe they were putting guns on them before that.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10333" data-toggle = "popover">
				<p>user name : Xavier Guay</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-10333">{'None': 7, 'ros': 1, 'raspberry-pi': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10333">Load Comments</button></br>
			<div id = "commentsection-10333" class = 'collapse'>
			<div id = "comment-18524" class = "comment">
				<p>Thanks for your answer. Check out the last 2 paragraphs of my question though; it narrows it down to non-accidental deaths with separation between autonomous and remote controlled. Though this isn't a full answer to that, I will upvote it because it has some interesting information. Very cool; thanks again!</p>
			</div>
			<div id = "comment-21838" class = "comment">
				<p>"The first robot designed to be armed appeared in 2007", and yet the first armed drone strike was in 2001.</p>
			</div>
			</div>
				<textarea id = "speech-10333" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10333">
					<img id="start_img-10333" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10333">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>