<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Where do we draw the legal line?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3112" class = "post">
			<h2>Question</h2>
			<div id="vote-3112" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 68</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Where do we draw the legal line?</h2>
<p>I've seen my fair share of 'shady' per-se questions on here, and am looking for input on where we draw the line. </p>

<p>There are several places that we could draw this metaphorical line:</p>

<ul>
<li>Jailbreak related questions (violates Apple EULA) like this:<br>
<a href="https://apple.stackexchange.com/questions/288157/cydia-unable-to-load-server-certificate-invalid">Cydia Unable to Load (server certificate invalid)</a></li>
<li>Hackintoshes (violates Apple EULA, potentially DMCA?) like this:<br>
<a href="https://apple.stackexchange.com/questions/118014/hackintosh-vmware-amd-7950-chipset">Hackintosh / VMWare AMD 7950 Chipset</a></li>
<li>Piracy related questions (violates Apple, StackExchange EULA, is <em>actually</em> illegal) like this:<br>
<a href="https://apple.stackexchange.com/questions/292762/quicktime-player-wont-record-iphone-hotstar-or-amazon-prime-videos-any-more">QuickTime Player won&#39;t record iPhone Hotstar or Amazon Prime videos any more</a></li>
</ul>

<p>What should we allow? It can be using one of these points, or even something in between. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3112" data-toggle = "popover">
				<p>user name : Jackson1442</p>
				<p> user reputation : 1510</p>
				<p class = "tagcontent" id = "usertaginfo-3112">{'None': 1, 'tags': 7, 'site-scope': -1, 'discussion': 16, 'moderators': 9, 'election': 9}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3112">Load Comments</button></br>
			<div id = "commentsection-3112" class = 'collapse'>
			<div id = "comment-6686" class = "comment">
				<p>One thing to remember even for those of us not lawyers - Illegal contains three elements: 1) Jurisdiction - where in the world is the action being done 2) Action as opposed to talking about or explaining how things work 3) Judge to balance many laws and contracts to come up with case law which often is different than regulatory or statuatory law. (i.e. EULA may not even be a contract in many jurisdictions) +1 for raising the issue so we all can ponder what being a worldwide source of knowledge means in terms of process here for guiding our FAQ</p>
			</div>
			<div id = "comment-6690" class = "comment">
				<p>@bmike These are all excellent points! A perfect example (albeit a totally random thought on my behalf), is a debate that raged in Australia in the 1990s around drug law reform. Actions such as smoking marijuana was both illegal *and* a criminal offence, and yet it was perfectly legal to sell and/or own the paraphernalia used to smoke marijuana. And, if you were caught in possession of the drug, you could be charged even if there was no evidence that you actually smoked it, but being in possession of goods that served no other purpose but to smoke it, was perfectly fine.</p>
			</div>
			<div id = "comment-6691" class = "comment">
				<p>Coming back to more *on topic* examples, many questions here about setting up and using VPNs (some of which I've answered), are probably really about circumventing geolocation barriers so that users can watch Netflix etc in other regions, but we'd never disallow these questions as VPNs are both perfectly legal, and serve fully legitimate purposes as well. There's no doubting that this is a very relevant issue to ponder, and your reminder that AD is a worldwide resource is certainly worth consideration.</p>
			</div>
			</div>
				<textarea id = "speech-3112" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3112">
					<img id="start_img-3112" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3112">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3113"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3113" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe that we should <strong>allow</strong> jailbreak related questions. There's a big enough community - and as long as they aren't questions like <em>When will an iOS 11.0.4 jailbreak come out</em> they are fine. Might as well add in a jailbreak tag. Oh, wait - we already have one: <a href="https://apple.stackexchange.com/questions/tagged/jailbreak" class="post-tag" title="show questions tagged &#39;jailbreak&#39;" rel="tag">jailbreak</a></p>

<p>I also believe that we should <strong>disallow</strong> hackintosh questions. Since these are already going to be highly technical, they may confuse some of the newcomers, and can also detract from the community. They will be asking about non-apple parts, and that can get a little messy. Also, the hackintosh community's a little too small for this right now.</p>

<p>Finally, I think we should <strong>disallow</strong> questions about piracy because that's straight-up <strong>illegal</strong>, and we're actually forbidden from posting about it on StackExchange, from what I've determined from the <a href="/legal">ToS</a> and <a href="/legal/content-policy">content policy</a></p>

<h2>Summary:</h2>

<p>Should we allow...  </p>

<ul>
<li>Jailbreak: <strong>YES</strong>  </li>
<li>Hackintosh: <strong>NO</strong>  </li>
<li>Piracy: <strong>NO</strong></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3113" data-toggle = "popover">
				<p>user name : Jackson1442</p>
				<p> user reputation : 1510</p>
				<p class = "tagcontent" id = "usertaginfo-3113">{'None': 1, 'tags': 7, 'site-scope': -1, 'discussion': 16, 'moderators': 9, 'election': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3113">Load Comments</button></br>
			<div id = "commentsection-3113" class = 'collapse'>
			<div id = "comment-6688" class = "comment">
				<p>[The Hackintosh debate](https://apple.meta.stackexchange.com/a/23/292) was settled long ago and we allow the questions. [The jailbreak debate](https://apple.meta.stackexchange.com/questions/492/asking-jailbreak-related-question) was also settled and for the most part we allow the questions. Copyright laws vary wildly from country-to-country so what is and isn't a copyright violation is difficult to determine canonically. Ergo, your example for "piracy" would also stand as a legitimate question on the site (Beta-Max anyone?).</p>
			</div>
			<div id = "comment-6689" class = "comment">
				<p>@IanC. Just so you know, the help center is out of date for the Hackintosh questions - it says we do not allow questions about installing apple software on non apple hardware</p>
			</div>
			<div id = "comment-6692" class = "comment">
				<p>I have to say I can see both the arguments for and against allowing *Hackintosh* questions. But as a moderator I have to say that all things considered, the site overall is better off without them. I think for most users they'd end up just adding a lot of *noise* to the site and would detract from the overall user experience (that is unless we restricted the use of tags somehow, but even then it's problematic). Not to mention that there are many excellent online resources for users who want to build a Hackintosh.</p>
			</div>
			<div id = "comment-6693" class = "comment">
				<p>In terms of piracy, the question for me isn't so much about whether they should or shouldn't be permitted, it's moreso about how one makes the judgment as to when a question is or isn't actually about piracy? I'm comfortable with the idea of letting the community decide that with the power of their votes, remembering of course that anyone can reword a question to get it re-opened.</p>
			</div>
			<div id = "comment-6695" class = "comment">
				<p>@Jackson1442 we'll update the Help Center then!</p>
			</div>
			</div>
				<textarea id = "speech-3113" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3113">
					<img id="start_img-3113" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3113">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>