<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Where does Gazebo set the GAZEBO_MODEL_PATH environment variable?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1170" class = "post">
			<h2>Question</h2>
			<div id="vote-1170" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3319</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Where does Gazebo set the GAZEBO_MODEL_PATH environment variable?</h2>
<p>I'm starting out with Gazebo (1.5) at the moment and am following <a href="http://bramridder.com/ai-blog.php/integrating-ros-with-gazebo" rel="nofollow">a tutorial</a> off the internet. In order to get Gazebo to find the model, the author advocates manually exporting the <code>GAZEBO_MODEL_PATH</code> environment variable via </p>

<pre><code>export GAZEBO_MODEL_PATH=[...]/models:$GAZEBO_MODEL_PATH
</code></pre>

<p>But that will only work for the current terminal. So I wanted to change the environment variable permanently. </p>

<p>The <a href="http://gazebosim.org/user_guide/started__components__env.html" rel="nofollow">Gazebo User Guide</a> claims that <code>GAZEBO_MODEL_PATH</code>, along with all the other environment variables, is set by <code>/usr/share/gazebo-1.5/setup.sh</code> but my (virgin) Gazebo install doesn't list it:</p>

<pre><code>export GAZEBO_MASTER_URI=http://localhost:11345
export GAZEBO_MODEL_DATABASE_URI=http://gazebosim.org/models
export GAZEBO_RESOURCE_PATH=/usr/share/gazebo-1.5:/usr/share/gazebo_models
export GAZEBO_PLUGIN_PATH=/usr/lib/gazebo-1.5/plugins
export LD_LIBRARY_PATH=/usr/lib/gazebo-1.5/plugins:${LD_LIBRARY_PATH}
export OGRE_RESOURCE_PATH=/usr/lib/i386-linux-gnu/OGRE-1.7.4

# This line is needed while we're relying on ROS's urdfdom library
export LD_LIBRARY_PATH=/opt/ros/fuerte/lib:${LD_LIBRARY_PATH}
</code></pre>

<p>But when I start Gazebo, <code>GAZEBO_MODEL_PATH</code> is already set to <code>$HOME/.gazebo/models</code>, so it must be set somewhere. I guess I could probably simply add <code>GAZEBO_MODEL_PATH</code> to the <code>setup.sh</code> script, but since it is set somewhere, I'd still like to know where and whether it is better practice to set it in there.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1170" data-toggle = "popover">
				<p>user name : ThomasH</p>
				<p> user reputation : 612</p>
				<p class = "tagcontent" id = "usertaginfo-1170">{'None': 41, 'gazebo': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1170">Load Comments</button></br>
			<div id = "commentsection-1170" class = 'collapse'>
			<div id = "comment-9173" class = "comment">
				<p>The answer by @Armin Meisterhirn should be marked as an answer IMO. Btw, Gazebo has its own QA forum http://answers.gazebosim.org/</p>
			</div>
			</div>
				<textarea id = "speech-1170" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1170">
					<img id="start_img-1170" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1170">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4752"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4752" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is more of a Linux than a Gazebo problem. You can just add this line </p>

<pre><code>export GAZEBO_MODEL_PATH=[...]/models:$GAZEBO_MODEL_PATH
</code></pre>

<p>to your <em>~/.bashrc</em> file.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4752" data-toggle = "popover">
				<p>user name : Armin Meisterhirn</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-4752">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4752" class = 'collapse'>
			</div>
				<textarea id = "speech-4752" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4752">
					<img id="start_img-4752" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4752">Comment</button>
			<br><div id = "ans-10985"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10985" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You asked two questions.</p>

<ol>
<li>Where does Gazebo set the default model path</li>
<li>Where should I set the value</li>
</ol>

<p>The second question is perfectly right answered by @Armin Meisterhirn. Best practice is to set the variable in the .bashrc file.</p>

<p>The first question, I asked myself as well when starting working with gazebo.</p>

<p>In case of the pure Gazebo (no roslaunch, no plugins) the answer is as simple as that:</p>

<p>In the source code. Gazebo always sets an additional path which is the default value.</p>

<p>Look <a href="https://bitbucket.org/osrf/gazebo/src/ec2881681a3e1b075cf512f83ea39ad2c356cdce/gazebo/common/SystemPaths.cc?at=default&amp;fileviewer=file-view-default" rel="nofollow noreferrer">here</a>.</p>

<p>Line 84:</p>

<pre><code>this-&gt;modelPaths.push_back(home + "/.gazebo/models");
</code></pre>

<p>As a result, you always have a default path, whatever you do (except you change the source code).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10985" data-toggle = "popover">
				<p>user name : Markus</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-10985">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10985" class = 'collapse'>
			</div>
				<textarea id = "speech-10985" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10985">
					<img id="start_img-10985" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10985">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>