<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Where to start for the software side of Robotics?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2299" class = "post">
			<h2>Question</h2>
			<div id="vote-2299" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 217</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Where to start for the software side of Robotics?</h2>
<p>I am a Computer Science student entering my last year of college. I'm pretty sure Robotics is what I want to eventually be doing based on my interests in AI and embedded systems. I've seen a lot of topics that covers Robotics such as: control theory, signal processing, kinematics, dynamics, 3D simulators, physics engines, AI, Big Data with machine learning. I'm hoping someone can point me in the right direction as to what I should be attempting to study in my interests of Robotics. I am not sure what other topics I have not mentioned that would be relevant. I would like to deal with the software side of Robotics, both AI and none AI.</p>

<p>My other question is about machine learning. I've seen researchers applying machine learning (deep learning/unsupervised learning specifically) to robotics but how do they do this? Is information and data transferred from the internals of the robot to an external computer that does the data processing? Machine learning requires a lot of data to predict. Is this the only way machine learning can be used in robotics (through an external computer)?</p>

<p>I hope someone can touch on some of the things I've mentioned, Thank you.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2299" data-toggle = "popover">
				<p>user name : user2600</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-2299">{'mobile-robot': 3, 'None': 0, 'artificial-intelligence': 3, 'programming-languages': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2299">Load Comments</button></br>
			<div id = "commentsection-2299" class = 'collapse'>
			<div id = "comment-4481" class = "comment">
				<p>Welcome to the Robotics StackExchange. While a reasonable question there is not "correct" answer. As such this type of question is not considered a good fit for the question/answer format that Stack Exchange sites take and as such you can expect this question to be closed. However your second question is a good fit so I would suggest creating a separate question for it. With that said, I would suggest identifying the type(s) robotics problem(s) you are most interested in as that will guide your research. For instance motion planning requires strong knowledge of dynamics/differential equations.</p>
			</div>
			<div id = "comment-4487" class = "comment">
				<p>I second the notion that this question should be closed, and a new question should be created that just focuses on the part about machine learning.  This site really isn't geared for answering questions like "what should I learn", because the answers will be more opinionated than factual.</p>
			</div>
			</div>
				<textarea id = "speech-2299" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2299">
					<img id="start_img-2299" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2299">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2301"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2301" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>To answer your first question: if you are looking merely into the software side of robotics, you might consider what aspect of software interests you the most considering the list you posted. One thing to remember in this regard when making a choice is to think on what platforms you could test those hypotheses you would generate while studying and how to set up an experimental verification. Generally speaking, a C language is the most common.</p>

<p>On your second question: machine learning is a vast subject. Personally, the global aspect of learning--leveraging, say, neural networks--is a good experience in itself. Understanding the state-of-the-art in NN programming, as well as following examples is a great start to both your questions.</p>

<p>If you have the interest to program, I would suggest keying into Google "neural networks c#" and visiting CodeProject for examples. C# has the shortest learning curve, I think, and has the most to offer you simply of the volume of people using it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2301" data-toggle = "popover">
				<p>user name : cartheur</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2301">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2301" class = 'collapse'>
			</div>
				<textarea id = "speech-2301" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2301">
					<img id="start_img-2301" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2301">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>