<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Where to ask NXP LPC1343 ~ ARM Cortex M3 related questions
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2606" class = "post">
			<h2>Question</h2>
			<div id="vote-2606" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 170</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Where to ask NXP LPC1343 ~ ARM Cortex M3 related questions</h2>
<p>I am a beginner to robotics and embedded systems. Consequently I have a lot of questions related to the toolchain and how things are going together like how to debug or how to connect a bluetooth module.</p>

<p>I already tried <a href="https://electronics.stackexchange.com/">https://electronics.stackexchange.com/</a> and it did not work out for me.</p>

<p>Any ideas where I can get help with my LPC1343 related questions?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2606" data-toggle = "popover">
				<p>user name : mark</p>
				<p> user reputation : 143</p>
				<p class = "tagcontent" id = "usertaginfo-2606">{'None': 0, 'localization': 5, 'microcontroller': 0, 'pid': 3, 'embedded-systems': 0, 'differential-drive': 3, 'imu': 5, 'sensor-fusion': 5, 'arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2606">Load Comments</button></br>
			<div id = "commentsection-2606" class = 'collapse'>
			<div id = "comment-4944" class = "comment">
				<p>Could you flag your question on electronics.stackexchange and have it migrated here?</p>
			</div>
			<div id = "comment-4994" class = "comment">
				<p>Toolchain questions are not really on-topic here, @Ian</p>
			</div>
			<div id = "comment-5066" class = "comment">
				<p>You could try stackoverflow,or wait another few months for embeddedsystems.se to reach public beta.</p>
			</div>
			</div>
				<textarea id = "speech-2606" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2606">
					<img id="start_img-2606" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2606">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2682"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2682" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I feel that people who say "this is off-topic" should <a href="http://communitywiki.org/en/OnAndOffTopic" rel="nofollow noreferrer">tell you about some other place where that is on-topic</a>.</p>

<ul>
<li>I see that you and I are not the only people who think the electronics stackexchange is a good place to ask questions about the <a href="https://electronics.stackexchange.com/search?q=LPC1343">NXP LPC1343</a> and other <a href="https://electronics.stackexchange.com/search?q=Cortex%20M3">ARM Cortex M3</a> processors.</li>
<li>The Arduino Due uses a ARM Cortex-M3 CPU -- perhaps the <a href="http://forum.arduino.cc/" rel="nofollow noreferrer">Arduino Forum</a> or the <a href="https://arduino.stackexchange.com/">Arduino Stackexchange</a> or the <a href="http://playground.arduino.cc/" rel="nofollow noreferrer">Arduino Playground</a> might be a good place to ask about setting up a toolchain and debugger for the M3 and other things that are not hyper-specific to the LPC1343.</li>
<li>the <a href="http://www.inf.u-szeged.hu/gcc-arm/" rel="nofollow noreferrer">GCC ARM Improvement Project</a> might be a good place to ask about setting up a toolchain and debugger that is not specificic to the M3.</li>
<li>The <a href="http://www.lpcware.com/forums/microprocessor-forums/lpc13xx" rel="nofollow noreferrer">lpc13xx Microprocessor Forum</a> may be a good place to ask about things that are specific to the LPC13xx series (including the LPC1343).</li>
<li>The LPCXpresso now uses the LPC1347 chip -- perhaps you might pick up some good tips at the <a href="http://www.lpcware.com/forums/lpcxpresso/lpcxpresso-forum" rel="nofollow noreferrer">LPCXpresso Forum</a></li>
<li>Perhaps you might pick up some good tips in the "Getting started with the <a href="https://www.olimex.com/Products/ARM/NXP/LPC-P1343/" rel="nofollow noreferrer">LPC-P1343</a>" document.</li>
<li>I hear the <a href="http://dangerousprototypes.com/forum/search.php?keywords=LPC1343&amp;submit=Search" rel="nofollow noreferrer">Dangerous Prototypes forum sometimes discusses the LPC1343</a>.</li>
</ul>

<p>Good luck.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2682" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-2682">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2682" class = 'collapse'>
			</div>
				<textarea id = "speech-2682" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2682">
					<img id="start_img-2682" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2682">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>