<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Where to make changes for simulation project Bullet~Gazebo~ROS~Orocos
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7728" class = "post">
			<h2>Question</h2>
			<div id="vote-7728" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 383</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Where to make changes for simulation project Bullet~Gazebo~ROS~Orocos</h2>
<p>I am starting to develop robotics project which involves simulation (and maybe real world programs) of soft-body dynamics (for food processing) and clothes/garment handling (for textile industry or home service robots). It is known that soft-body dynamics and garment handling are two less explored areas of robotics and simulation, therefore I hope to make some development of (contribution to) projects that are involved. The following projects are involed:</p>

<ul>
<li>Bullet physics engine - for dynamics</li>
<li>Gazebo - simulation environment</li>
<li>ROS - robot OS, I hope to use Universal Robot UR5 or UR10 arms and some grippers (not decided yet)</li>
<li>Orocos - for control algorithms</li>
</ul>

<p>Initially I hope use "ROS INDIGO IGLOO PREINSTALLED VIRTUAL MACHINE" (from nootrix.com), but apparently I will have to make updates to the Bullet, Gazeboo, add new ROS stacks and so on.</p>

<p>The question is - how to organize such project? E.g. If I am updating Bullet physics engine with the new soft-body dynamics algorithm then what executable (so) files should I produce and where to put them into virtual machine? The similar question can be asked if I need to update Gazebo. </p>

<p>There seems to be incredibly large number of files. Is it right to change only some of them.</p>

<p>Sorry about such questions, but the sofware stack seems to be more complex than the robotics itself.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7728" data-toggle = "popover">
				<p>user name : TomR</p>
				<p> user reputation : 189</p>
				<p class = "tagcontent" id = "usertaginfo-7728">{'None': 0, 'computer-vision': 1, 'inverse-kinematics': 8, 'manufacturing': 0, 'simulator': 4, 'simulation': 1, 'humanoid': 0, 'research': 9, 'industrial-robot': 3, 'kinematics': 8, 'design': 10, 'dynamics': 3, 'ros': 3, 'gazebo': 4, 'programming-languages': 3, 'software': 13}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7728" class = 'collapse'>
			</div>
				<textarea id = "speech-7728" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7728">
					<img id="start_img-7728" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7728">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8325"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8325" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As far as I know, soft body simulation is not currently supported in Gazebo.
See <a href="https://bitbucket.org/osrf/gazebo/issues/1422/soft-body-supoort-in-gazebo" rel="nofollow">https://bitbucket.org/osrf/gazebo/issues/1422/soft-body-supoort-in-gazebo</a> and <a href="http://answers.gazebosim.org/question/5129/status-of-bullets-soft-body-dynamics-integration/" rel="nofollow">http://answers.gazebosim.org/question/5129/status-of-bullets-soft-body-dynamics-integration/</a> .</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8325" data-toggle = "popover">
				<p>user name : traversaro</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-8325">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8325" class = 'collapse'>
			</div>
				<textarea id = "speech-8325" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8325">
					<img id="start_img-8325" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8325">Comment</button>
			<br><div id = "ans-8729"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8729" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You are right, it is a lot of files to deal with...</p>

<p>ROS, among other things, is a convention for developing large software systems. They say Robot Operating System but what they mean is Robot Software Build, Packaging, and Network Transparent Interprocess Communication System. RSBPNTICS does not roll off the tongue though...</p>

<p>ROS is not the best build and packaging system but it's got a decent amount of documentation and it's got 'robot' in the name. Read the ROS docs, do the tutorials, and after a little while you will start learning how to make small changes to large systems of software.</p>

<p>The basic process is that you grab the source code for the library or process that you want to modify and build it. You replace the system version with your version (there are lots of ways to do this, but what you don't do is delete the system version). And then you make the changes you want to the source code. Most source code libraries are managed with <a href="https://en.wikipedia.org/wiki/Version_control" rel="nofollow">version control software</a> like git or subversion and you will have the opportunity to use them to contribute your changes back to the original authors.</p>

<p>Understand that it will take learning and practice to develop enough experience where things start making sense. In the mean time, make friends with people that already have some experience to learn from and help you out along the way.</p>

<p>If you have time to look around at other things for a little bit before starting, check out <a href="http://rock-robotics.org/stable/" rel="nofollow">rock-robotics</a>, another robot software build &amp; packaging system. Rock is arguably more closely integrated with Orocos. There are also several other frameworks devoted to robotics that you will find with a little searching. </p>

<p>You are correct in your assesment that the software stack is more complex than the robotics. But this is only because of the stack you've chosen. Depending on what exactly you are doing, it might be quicker and easier to just write it all from scratch. </p>

<p>I recommend against using a virtual machine unless you have to. It just adds a layer of stuff to deal with. Installing ROS on a machine, even building ROS from source, is easy enough. Ubuntu 14.04 for ROS Indigo. I prefer developing on a faster moving distro and use Archlinux where ROS is well supported via the AUR repository.</p>

<hr>

<p>A comment on your list of tools... I don't think you've found the right simulation combination yet. </p>

<p>Bullet (a video game physics simulator by Sony where looks and speed are more important than accuracy) is not something I'd use. Bullet does have soft body support but check the equations and integration functions for accuracy before you use it. </p>

<p>As you look for a suitable simulator to build on, take a look at <a href="https://simtk.org/home/simbody" rel="nofollow">simbody</a>. I don't think it has what you need but it is some of the most beautifully organized and commented code I've seen. Use it for inspiration. </p>

<p>Gazebo is only a (nice and useful) wrapper that actually prevents a lot of features of the underlying simulators to be used. Don't be afraid to use the simulators without gazebo. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8729" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-8729">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8729" class = 'collapse'>
			</div>
				<textarea id = "speech-8729" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8729">
					<img id="start_img-8729" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8729">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>