<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>where can I get openinterface.py?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-6831" class = "post">
			<h2>Question</h2>
			<div id="vote-6831" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 212</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>where can I get openinterface.py?</h2>
<p>I am trying to program the create2 irobot using python. there is a script called openinterface.py. where can I download this script?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-6831" data-toggle = "popover">
				<p>user name : Jack</p>
				<p> user reputation : 24</p>
				<p class = "tagcontent" id = "usertaginfo-6831">{'c': -1, 'python': 1, 'None': 0, 'c++': -1, 'irobot-create': 4, 'software': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6831" class = 'collapse'>
			</div>
				<textarea id = "speech-6831" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6831">
					<img id="start_img-6831" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6831">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-6941"  class = "post">
				<h2>Answer</h2>
			<div id="vote-6941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It looks like openinterface.py itself is not easily found anymore, but you can probably use instead <a href="https://code.google.com/p/pyrobot/" rel="nofollow">pyrobot</a>, which is based on openinterface.py. Pyrobot is an interface for Roomba and Create 1, not Create 2, but it should be easy to adapt it to work with the Create 2. The default baud rate needs to be changed from 57600 to 115200, and there are a few functions/sensors that are different between Create 1 and Create 2. The differences are listed on the last page of the <a href="http://www.irobot.com/~/media/MainSite/PDFs/About/STEM/Create/create_2_Open_Interface_Spec.pdf" rel="nofollow">Create 2 Open Interface Specification</a>.</p>

<p>Apart from pyrobot, there are several Python wrappers for the Create 1 that you could look into, namely Brian Bingham's <a href="http://web.eng.hawaii.edu/~bsb/me492_696/pici/getting_started.html" rel="nofollow">Pici</a>, <a href="http://www.rose-hulman.edu/class/csse/resources/Robotics/" rel="nofollow">Rose-Hulman Institute of Technology's pyCreate</a>, and <a href="https://code.google.com/p/brown-ros-pkg/downloads/list" rel="nofollow">Brown's pyCreate</a> (in brown-ros-pkg).</p>

<p><strong>Update</strong>: I have since modified the PyRobot code to work with the Create 2, and made it available for download under the name <a href="http://www.jonathanleroux.org/research/micbots/pyrobot2.py" rel="nofollow">PyRobot 2</a>. This is part of a project called <a href="http://www.jonathanleroux.org/research/micbots.html" rel="nofollow">MICbots</a> using mobile robots for audio data collection.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-6941" data-toggle = "popover">
				<p>user name : leilu</p>
				<p> user reputation : 23</p>
				<p class = "tagcontent" id = "usertaginfo-6941">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-6941" class = 'collapse'>
			</div>
				<textarea id = "speech-6941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-6941">
					<img id="start_img-6941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-6941">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>