<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which is model is best for feedback control of robotic manipulators: MIMO or parallel SISO?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-829" class = "post">
			<h2>Question</h2>
			<div id="vote-829" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 357</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which is model is best for feedback control of robotic manipulators: MIMO or parallel SISO?</h2>
<p>I'm currently designing a robotic arm with 6-DOF, and my goal is to be able to give setpoints for 3d position, velocity and orientation ($x,y,z,\dot{x},\dot{y},\dot{z},\theta,\alpha,\gamma$).</p>

<p>I only had feedback-control for <a href="http://en.wikipedia.org/wiki/Single-input_single-output_system">SISO</a> systems so far in College, so, taking the learning curve of multivariable control in consideration, should I approach this problem trying to model the system as a <a href="http://en.wikipedia.org/wiki/MIMO">MIMO</a> or multiple SISOs?</p>

<p>If possible please mention possible disadvantages and advantages in each strategy.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-829" data-toggle = "popover">
				<p>user name : user798</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-829">{'control': 10, 'None': 0, 'manipulator': 10, 'robotic-arm': 10}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-829" class = 'collapse'>
			</div>
				<textarea id = "speech-829" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-829">
					<img id="start_img-829" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-829">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-830"  class = "post">
				<h2>Answer</h2>
			<div id="vote-830" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Welcome to Robotics.SE! This is not exactly my area of expertise, but let me give you a few pointers.</p>

<p>A very common approach for controlling manipulators is to first design good joint velocity controllers, in the "multiple SISO" approach you mention. You would then use inverse kinematics to determine at each point in time what the joint velocities should be ideally to reach your desired end-effector pose.  Assuming your joint velocity control loop dynamics are fast enough, you should be able to achieve those velocities. The kinematic model of manipulators is usually obtained in terms of Denavit Hartenberg parameters. </p>

<p>Considering that it is frequently done for robots and probably is enough for your purposes, I suggest you take that approach. </p>

<p>In a non-linear control class I took we saw a MIMO model for robot manipulators. I am not 100% sure about this, but I think you might want to use this if you are interested in modeling not only kinematics but also dynamics. </p>

<p>The main difference is that in this scenario the joint positions and velocities all affect the inertia matrix, Coriolis and centrifugal forces and damping in a non-linear and usually not separable fashion. So you would not only have to get used to MIMO control, but would have to look into non-linear control as well.</p>

<p>As I said, it's not my area of expertise so if someone thinks I said any gibberish I would be gladly corrected.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-830" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-830">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-830">Load Comments</button></br>
			<div id = "commentsection-830" class = 'collapse'>
			<div id = "comment-2078" class = "comment">
				<p>Glad to see that I'm not the only Brazillian here! =D</p>
			</div>
			</div>
				<textarea id = "speech-830" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-830">
					<img id="start_img-830" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-830">Comment</button>
			<br><div id = "ans-868"  class = "post">
				<h2>Answer</h2>
			<div id="vote-868" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The set of Parallel SISO controllers is a is a subset of MIMO controllers so MIMO is at least as powerful and possibly more powerful.  As for pros and cons I see no reason to use parallel SISO except that you may be more comfortable for it so it may be easier to get done.  </p>

<p>That said the system may be separable by actuator in which case it can pop out as being several SISO problems.  Although control systems is my area I don't work on robots so I can't say if that's the case for your problem.  </p>

<p>Another thing that is often done, as georgebrindeiro pointed out, is to break the problem into inner and outer control loops, where the inner loops allow you to ignore much of the </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-868" data-toggle = "popover">
				<p>user name : user1816847</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-868">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-868" class = 'collapse'>
			</div>
				<textarea id = "speech-868" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-868">
					<img id="start_img-868" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-868">Comment</button>
			<br><div id = "ans-870"  class = "post">
				<h2>Answer</h2>
			<div id="vote-870" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I've never seen <a href="http://en.wikipedia.org/wiki/MIMO" rel="nofollow">MIMO</a> used in this context before, but I can see how <a href="http://en.wikipedia.org/wiki/Single-input_single-output_system" rel="nofollow">SISO</a> might apply.</p>

<p>Most robotic systems I've seen have been aggregation's of single axis motor controllers (your <em>multiple SISO</em>) each of which only had a single encoder for sensing and a single motor for actuation. So each axis was <em>SISO</em>, but the robot as a whole was <em>MIMO</em>.</p>

<p>Some systems I have worked on had significant backlash between motor/rotary encoder and load/linear encoder, so implemented a dual feedback loops, with one motor control output, but two encoders. The rotary encoder on the motor was primarily used to track velocity accurately, while the linear encoder on the load was used to compensate for backlash in the (worm) gear and provide accurate position information and tracking.</p>

<p>I believe that for most control systems, these traditional control methods are the most you will ever need, however there are exceptions.</p>

<p>I have only seen one system which <em>might</em> have benefited from a truly <em>MIMO</em> control system and that was one with similar characteristics to your own, but also needed to control the force applied by the tool-point of the robot. We <em>did</em> implement this with a traditional <em>multiple SISO</em> approach, but it required exceptionally careful tuning, and I'm not convinced that trying to use some form of computed torque technique would have been any easier anyway.</p>

<p>I would suggest that you start off with a <em>multiple SISO</em> approach and if that fails to give you the performance or characteristics you require, research into more advanced methods. At the very least you will have learn a lot more about the kinematics and dynamics of your system by that point.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-870" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-870">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-870" class = 'collapse'>
			</div>
				<textarea id = "speech-870" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-870">
					<img id="start_img-870" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-870">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>