<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which sensor type most accurately measures position?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7823" class = "post">
			<h2>Question</h2>
			<div id="vote-7823" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 93</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which sensor type most accurately measures position?</h2>
<p>We're building an 6dof joystick, and we need to accurately measure the displacement of our central device. We can easily use a mechanical connection to the edges, but there has been some discussion about what the best way to achieve this is. The range of motion will be fairly small, but accuracy is incredibly important for us.</p>

<p>Which sensors are most easily and accurately measured?</p>

<p>My impulse response is that rotational and linear potentiometers are the most reliable, but others have been arguing for using gyros/accelerometers. I've also heard that hall effect sensors can be used to great effect.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7823" data-toggle = "popover">
				<p>user name : SeanVDH</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-7823">{'control': 1, 'None': 0, 'sensors': 1, 'accelerometer': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7823">Load Comments</button></br>
			<div id = "commentsection-7823" class = 'collapse'>
			<div id = "comment-11378" class = "comment">
				<p>If possible, can you add some more information on what kind of system you are working with, what size it is and the motion you are dealing with? As of right now your question is a little vague, and I'm a firm believer in matching the right tool for a particular task.</p>
			</div>
			<div id = "comment-11382" class = "comment">
				<p>How many dimensions? What kind of dimensions (rotation or translation)?</p>
			</div>
			</div>
				<textarea id = "speech-7823" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7823">
					<img id="start_img-7823" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7823">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7824"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7824" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have experience with potentiometers and hall effect sensors. Both are easy to use. I am not sure which one is more precise.</p>

<p>I have a robot hand using hall effect sensors to measure finger position. The advantage, compared with potentiometers, is compacter size and non-contact measurement. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7824" data-toggle = "popover">
				<p>user name : freecity</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7824">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7824" class = 'collapse'>
			</div>
				<textarea id = "speech-7824" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7824">
					<img id="start_img-7824" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7824">Comment</button>
			<br><div id = "ans-7827"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7827" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would use linear or rotary encoders - the difference in terminology, encoder vs. potentiometer, is in the fact that any linear potentiometer could be used as a linear encoder, but not all linear encoders are potentiometers. From the <a href="https://en.wikipedia.org/wiki/Linear_encoder" rel="nofollow">Wikipedia article on linear encoders</a>: Optical linear encoders, "following interpolation, can provide resolutions as fine as a nanometre."</p>

<p>I've worked on full-scale vehicle autonomy projects before, and I can say that, for the same cost, sealed (IP-67) linear potentiometers are far less expensive and easier to attach than are other forms of linear encoders, but you haven't commented on your application so I don't know if water resistance (or cost for that matter) makes a difference for you. </p>

<p>As a final note, there is typically a degree of temperature dependence in resistive elements, so again, be sure to take your expected operating conditions into account when making this selection. A resistive element can provide absolute position but will require a range calibration to correlate readings to position, but other forms of absolute linear position indicators typically do not. You may or may not need absolute position, but again, this all depends on your application. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7827" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7827">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7827">Load Comments</button></br>
			<div id = "commentsection-7827" class = 'collapse'>
			<div id = "comment-11384" class = "comment">
				<p>one more note on temperature and accuracy: if temperature rises, materials expand. Depending on the accuracy required, this can play a big role.</p>
			</div>
			</div>
				<textarea id = "speech-7827" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7827">
					<img id="start_img-7827" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7827">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>