<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which type of actuator will be suitable for a very strong robot arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-284" class = "post">
			<h2>Question</h2>
			<div id="vote-284" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 39075</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which type of actuator will be suitable for a very strong robot arm</h2>
<p>I wish to build a robotic arm that can lift a useful amount of weight (such as 3-6kg on an arm that can extend to approx 1.25 meters). What actuators are available to accomplish this. The main factors and design points are:</p>

<ul>
<li>Not Expensive</li>
<li>5 to 6 d.o.f.</li>
<li>to be mounted on a yet to be designed mobile platform</li>
<li>battery powered</li>
<li>stronger than hobby servos (at least for the 'shoulder' and 'elbow' joints)</li>
<li>not slow to actuate</li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-284" data-toggle = "popover">
				<p>user name : Mark W</p>
				<p> user reputation : 195</p>
				<p class = "tagcontent" id = "usertaginfo-284">{'mobile-robot': 19, 'None': 0, 'robotic-arm': 19, 'actuator': 19}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-284">Load Comments</button></br>
			<div id = "commentsection-284" class = 'collapse'>
			<div id = "comment-326" class = "comment">
				<p>Saw this on SO main in the sidebar, but thought the question was "very strong robot army". Figured I should check in, just in case.</p>
			</div>
			</div>
				<textarea id = "speech-284" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-284">
					<img id="start_img-284" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-284">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-286"  class = "post">
				<h2>Answer</h2>
			<div id="vote-286" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">22</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Which <a href="http://en.wikipedia.org/wiki/Robotics#Actuation" rel="nofollow noreferrer">actuators</a> are suitable for your application depends very much on what kind of robot arm you want to build. Once you have decided on what kind of arm you want you can decide on a suitable actuator <em>for each axis</em>.</p>

<h2>The Arm</h2>

<p>Assuming from your description that a <a href="http://en.wikipedia.org/wiki/Gantry_robot" rel="nofollow noreferrer">gantry robot</a> wouldn't be viable, then depending on your specific application, you may want to consider a <a href="http://en.wikipedia.org/wiki/SCARA" rel="nofollow noreferrer">SCARA arm</a> over an <a href="http://en.wikipedia.org/wiki/Articulated_robot" rel="nofollow noreferrer">Articulated arm</a>, which is what most people think of when they think <a href="http://en.wikipedia.org/wiki/Robotic_arm" rel="nofollow noreferrer">Robot arm</a>.</p>

<p>The big advantage of a SCARA arm is that most of it's lifting strength is in it's bearings. The main shoulder, elbow and wrist (yaw) joints are in a flat plane, which means that the motors only need to be strong enough to produce the lateral forces required, they don't need to support the weight of the remaining axes.</p>

<p>The Z axis, pitch and roll (and grip obviously) all have to work against gravity, but the Z axis is easy to gear highly enough to be able to support plenty of weight, and the pitch, roll and grip axes only have to support the payload weight, not the weight of other axes.</p>

<p><img src="https://i.stack.imgur.com/0gOBM.jpg" alt="6 UMI RTX robot + gripper"></p>

<p>Compare this to an articulated arm, where many of the axes have to support the weight of all axes further down the <a href="http://en.wikipedia.org/wiki/Kinematic_chain" rel="nofollow noreferrer">kinematic chain</a>.</p>

<p><img src="https://i.stack.imgur.com/XSXku.gif" alt="6 Axis Articulated Robots from KUKA"></p>

<h2>The actuators</h2>

<h3>Gantry robots</h3>

<p>Typically a gantry robot will use <a href="http://en.wikipedia.org/wiki/Linear_actuator#Advantages_and_disadvantages" rel="nofollow noreferrer">linear actuators</a> for the main X, Y &amp; Z axes. These could be low performance, low accuracy, high force actuators such as a lead screw with a servo or stepper drive (force and performance can be traded but accuracy will always be limited by backlash), all the way up to high performance, high accuracy direct drive linear motors with precision encoders.</p>

<p>The remaining 3DOF manipulator will usually require precision rotational motion for pitch, roll and yaw, so usually an electric motor (either stepper or servo), will be most suitable. Even a small motor with a reasonably high gearing can resist gravity against quite high loads.</p>

<h3>An aside on servo motors vs. stepper motors</h3>

<p>The difference between servo<sup>(1)</sup> and stepper is a trade-off between complexity and certainty in control.</p>

<p>A servo motor requires an encoder for position feedback, whereas a stepper doesn't. This means that a stepper is electrically <em>much simpler</em>, and from a control point of view simpler if you want low performance.</p>

<p>If you want to get the most out of your motor though (pushing it close to it's limit), then steppers get <em>much</em> more difficult to control predictably. With position feedback on a servo you can tune performance <em>much</em> more aggressively and since you know if it fails to reach it's target position or velocity then your servo loop will get to find out about it and correct it.</p>

<p>With a stepper you have to tune the system so that you can <em>guarantee</em> that it can <em>always</em> make the step, irrespective of the desired speed of move or weight of the payload. Note that some people will suggest adding an encoder to detect missed steps on a stepper motor, but if you are going to do that then you might as well have used a servo motor in the first place!</p>

<h3>SCARA arm</h3>

<p>With a SCARA arm, the Z axis is probably the only linear axis, while the remaining axes can all be done with rotational motor, so again stepper or servo motor. Sizing these motors is relatively easy because the weight carried is less important to many of them. The motor required to overcome the inertia of a load is rather less than sizing it to overcome gravity.</p>

<h3>Articulated arm</h3>

<p>With an articulated arm the calculations are more tricky, because most axes will need actuators sized depending on both moving the load and lifting it, but again an electric motor is the easiest to control and use.</p>

<h3>The gripper</h3>

<p>Finally there is the gripper. This is where I have seen the most variety in actuators. Depending on your applications you could easily use any number of different actuators.</p>

<p>I've used systems with traditional motor driven grippers, linear actuated grippers, <a href="http://en.wikipedia.org/wiki/Amplified_piezoelectric_actuator" rel="nofollow noreferrer">piezo flexture</a> grips, pneumatically actuated grippers, vacuum pick-ups and simple slots or hooks amongst others, many of which were specific to the application. What your typical payload is could significantly change the actuator which is best for you. <sup>(2)</sup></p>

<h2>Doing your calcs</h2>

<p>As <a href="https://robotics.stackexchange.com/a/296/37">Rocketmagnet suggests</a> ultimately you are going to have to break out your calculator.</p>

<p>You will need to take into account kinematics of your system, the maximum load on each motor (taking into account the worst case with arm fully extended if you are using an articulate arm design), the speed (a smaller motor with higher gearing might give the force you need without the speed, but a beefier motor might give you a higher torque with lower gearing and a higher speed etc.) and the positional accuracy you need.</p>

<p>In general, the more money you throw at the problem, the better performance (speed, accuracy, power consumption) you will get. But analysing specifications and making smart purchasing decisions can help optimise the price/performance of your robot.</p>

<p><sup>(1) Note that my experience is with industrial <a href="http://en.wikipedia.org/wiki/Servomechanism#Servomotor" rel="nofollow noreferrer">servos</a>, typically a brushed or brushless DC motors with a rotary encoder, so this may or may not apply with hobby <a href="http://en.wikipedia.org/wiki/Servomechanism#RC_servos" rel="nofollow noreferrer">RC servos</a>.</sup></p>

<p><sup>(2) I would suggest posting another question on this.</sup></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-286" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-286">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-286">Load Comments</button></br>
			<div id = "commentsection-286" class = 'collapse'>
			<div id = "comment-338" class = "comment">
				<p>I'm sorry. my question is mainly about components. Though you made a good point about the design. I hadn't thought about that. Though I still think I wish to use a "standard" arm as in the second picture as I believe it has a better range of motion for being mounted on a mobile platform.</p>
			</div>
			<div id = "comment-4408" class = "comment">
				<p>_but if you are going to do that then you might as well have used a servo motor in the first place!_ Your post is great but it fails at saying _servo or stepper_, as a **stepper with feedback is a servo!**. Also a **stepper is a brushless DC motor**, and having so much more poles, will produce more torque (with small speed) thus requiring less gear reduction, although less efficient. Also industrial robotic arms tend to have springs to counterbalance or even more force than is needed to counter-balance.</p>
			</div>
			<div id = "comment-5119" class = "comment">
				<p>Whilst you are technically correct @DiegoCNascimento in my experience, in industrial and research settings, stepper motors with encoders are not *called* servos. Since their performance characteristics, behaviour and control techniques are very different, you don't want someone assuming you mean one when you are talking about the other. This is why here on robotics we try to be explicit about whether we are talking about [tag:rcservo]s, [tag:servomotor]s or [tag:stepper-motor]s.</p>
			</div>
			<div id = "comment-18609" class = "comment">
				<p>Though this question is old, I am facing a problem and require a suggestion. The torque required is 40kgcm so I decided to go for geared dc motor as they are cheap. I faced backlash problem and believe its troublesome as the length of axis increase. Anyhow I would like a quick suggestion, what should I use? stepper with high torque or a servo? A link to product might be helpful</p>
			</div>
			<div id = "comment-18610" class = "comment">
				<p>Welcome to *robotics* Aadam, but as you know, comments are for helping to improve questions & answers, not for asking new questions, so please ask a new question. Remember, we prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*, so it's a good idea to include details of what you want to achieve, what you tried, what you saw & what you expected to see. Please take a look at the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) for suggestions on writing a good *robotics* question.</p>
			</div>
			</div>
				<textarea id = "speech-286" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-286">
					<img id="start_img-286" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-286">Comment</button>
			<br><div id = "ans-295"  class = "post">
				<h2>Answer</h2>
			<div id="vote-295" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Mobile platform: An <a href="http://en.wikipedia.org/wiki/Linear_actuator#Advantages_and_disadvantages" rel="nofollow">electro-mechanical linear actuator</a> can be a good choice for light weight actuator which can be mounted on mobile platform. </p>

<p>Battery powered: An electro-mechanical linear actuator is good choice over servo motors, as linear actuators draw power only when it is moving, and it does not need power to hold its position.</p>

<p>5-6 DoF: It might be difficult to achieve this using electro-mechanical linear actuator, as they are mechanical complicated and have limited range of motion</p>

<p>You can try linear actuators from www.firgelli.com. They have miniature linear actuators as well, which are good for small scale application.</p>

<p>Mechanical design concept for arm using linear actuator: Most of earth moving equipment have hydraulic linear actuator. Some of the joints for linear actuator can be implemented in this line.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-295" data-toggle = "popover">
				<p>user name : subot24</p>
				<p> user reputation : 61</p>
				<p class = "tagcontent" id = "usertaginfo-295">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-295" class = 'collapse'>
			</div>
				<textarea id = "speech-295" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-295">
					<img id="start_img-295" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-295">Comment</button>
			<br><div id = "ans-296"  class = "post">
				<h2>Answer</h2>
			<div id="vote-296" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>When you're choosing actuators, it's instructive to start by calculating how much power you need at the end effector. When you say 'not too slow' you should have some idea what this means, especially under different load conditions.</p>

<p>For example, you might say: 6kg at 0.2m/s and  0kg at 0.5m/s</p>

<p>Now add in the estimated weight of the arm: 10kg at 0.2m/s and  4kg at 0.5m/s</p>

<p>Now calculate the power: 100N * 0.2m/s = 20W  and 40N * 0.5m/s = 20W</p>

<p>So the peak power output at the end effector is <strong>20W</strong>. You're going to need an actuator which can comfortably produce more than 20W. </p>

<p>I'm going to make assume that you end up deciding to use an electric motor as your actuator. These are still the actuator of choice for powerful electric robots systems. (If you successfully get this robot working with muscle wire without burning down your workshop, I'll eat my mouse).</p>

<p>Since you're using an electric motor, you'll almost certainly be using some kind of gears. Assume the gear train on the motor is about 50% efficient. This means you'll need an electric motor rated for at least 40W. If you want this to be a reliable arm, I'd spec a motor rated for at least 60W.</p>

<p>Next you need to spec the gear train. What's the torque needed? 100N*1.25m = 125Nm. But as usual, you need to spec more torque than this for the gear train, not least because you'll need some spare torque to be able to accelerate the load upwards. Select a gear train which can take more than the rated load.</p>

<p>Lastly, make sure that the motor's torque multiplied by the gear ratio multiplied by the efficiency exceeds your torque requirement, but not the maximum gear load.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-296" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-296">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-296">Load Comments</button></br>
			<div id = "commentsection-296" class = 'collapse'>
			<div id = "comment-357" class = "comment">
				<p>What do you mean by ***but not the maximum gear load***? I would interpret that to mean that you shouldn't use a motor which has enough torque to damage your gear train if you accidentally command it to, but it would be better if others didn't have to learn that the hard way. *8')</p>
			</div>
			<div id = "comment-358" class = "comment">
				<p>@MarkBooth - That's right. It's quite possible for a motor to break its own gears if the gear ratio is high enough. It's well worth factoring that into the calculation.</p>
			</div>
			</div>
				<textarea id = "speech-296" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-296">
					<img id="start_img-296" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-296">Comment</button>
			<br><div id = "ans-2281"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2281" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are two more factors to consider: <strong>Complexity and cost.</strong></p>

<h1>Industrial robotic arm like that</h1>

<p><a href="http://halcyondrives.com/images/robotic_arm.png" rel="nofollow noreferrer">industrial robotic arm http://halcyondrives.com/images/robotic_arm.png</a>
<br><sup>Image from <a href="http://halcyondrives.com" rel="nofollow noreferrer">http://halcyondrives.com</a></sup></p>

<p>normally use torque from the gearbox to direct drive the joint, now think about the torque the gear reduction should support and the size/weight it will be? It simple huge and expensive, their materials need to support a huge torque.</p>

<p>Let's take your example with the arm fully horizontally extended.
Lets consider just the load of 6Kg at 1m, you have $ 600Kgf/cm $. This is not including the robot arm own weight (easily more 4Kg), and considering <em>just</em> 1m.</p>

<p><strong>Some solutions industry uses</strong></p>

<h2>Strain Wave Gearing or Harmonic drive</h2>

<p><img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Harmonic_drive_animation.gif" alt="Strain Wave Gearing or Harmonic drive"><br>
<sup>Image from <a href="http://commons.wikipedia.org" rel="nofollow noreferrer">http://commons.wikipedia.org</a></sup></p>

<p>To get lighter gear reduction, with high reduction ratios, most uses <a href="http://en.wikipedia.org/wiki/Harmonic_drive" rel="nofollow noreferrer">Strain Wave Gearing or Harmonic drive</a>. Its low-weight, robust, and according to wikipedia can have a reduction of $ 200:1 $ (wikipedia says more) where a planetary gear can archive $ ~ 10:1 $.</p>

<p>But this type of gearing is very expensive and complex.</p>

<h2>Springs and counter-weights</h2>

<p><a href="http://www.globalrobots.ae/robot_guide/images/ABBIRB6400M94Amovements.jpg" rel="nofollow noreferrer">6DOF industrial motor drawing http://www.globalrobots.ae/robot_guide/images/ABBIRB6400M94Amovements.jpg</a>
<br><sup>Image from <a href="http://www.globalrobots.ae" rel="nofollow noreferrer">http://www.globalrobots.ae</a></sup></p>

<p>Other even simple solution is adding counter-weights like you see in the image. This has a linkage to act both on the forearm (I forget the name) and in the arm. Springs will help too, and if mounted on the same axis of the joint but a bit offset, it will put more force as the arm gets more extended.</p>

<h1>Low-cost and less complex solutions for the mechanical drive system</h1>

<p>Now for less cost and less complex solutions, what I should think is removing the high torque at the gear drive, so you can use less expensive materials. For a pure electronic drive, this would be a <em>linear actuator</em>.</p>

<p>There is a variety of linear actuators. But the idea is that it will take less force (depending on what points of the arm it is attached).</p>

<ul>
<li>"Nut" and leadscrew type</li>
</ul>

<p><a href="http://b2bimg.bridgat.com/files/Directdrive_linear_actuator.jpg" rel="nofollow noreferrer">lead screw linear actuator http://b2bimg.bridgat.com/files/Directdrive_linear_actuator.jpg</a></p>

<p>This type of actuator has many sub-types, and that affects efficiency, wear, force, and much more. But in general, they have a high force and a relative slow-to-medium speed (this will again depend on the type, it can be vary fast, like the ones used on some motion platform simulators).</p>

<p><a href="http://cfile29.uf.tistory.com/T250x250/195BAD4B4FDB0AF104C30F" rel="nofollow noreferrer">6 dof motion platform with electric linear actuators http://cfile29.uf.tistory.com/T250x250/195BAD4B4FDB0AF104C30F</a>.</p>

<p>Electric linear actuators are substituting hydraulic linear actuators at this application, and they need to be fast and strong, some simulators easily weight more than 2 tons.</p>

<ul>
<li>Belt or chain drive</li>
</ul>

<p>For more speed and other simple method are the belt or chain drive like that</p>

<p><a href="http://images.pacific-bearing.com/images/drive-types_07.jpg" rel="nofollow noreferrer">belt linear drive actuator http://images.pacific-bearing.com/images/drive-types_07.jpg</a>
<br><sup>Image from <a href="http://images.pacific-bearing.com" rel="nofollow noreferrer">http://images.pacific-bearing.com</a></sup></p>

<p>This is of course an industrial made one, this is a DIY one, and it has more for the
application: (yes it has space for much improvement, but is a good form to show how fast and strong it can be even in this design).
<a href="http://bffsimulation.com/linear-act.php" rel="nofollow noreferrer">http://bffsimulation.com/linear-act.php</a></p>

<p>This allows you to use less gearing, if a motor could output $ 50Kgf/cm $ and you use a 2 cm diameter pulley, you would get $ 50Kgf $ (not considering losses) on the full stroke.</p>

<p>Also the bearings at this actuator will need to support most radial forces, where in a "leadscrew and nut" the bearing will take most axial force. So depending on the force you need to use a <a href="http://en.wikipedia.org/wiki/Thrust_bearing" rel="nofollow noreferrer">thrust ball bearing</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2281" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-2281">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2281" class = 'collapse'>
			</div>
				<textarea id = "speech-2281" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2281">
					<img id="start_img-2281" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2281">Comment</button>
			<br><div id = "ans-4846"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4846" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think your best bet would be regular hobby servos, if they don't have enough torque, use multiple servos in parallel on the same joint. A good option would be the Dynamixel servos from Robotis but they are more expensive than hobby servos, and you would have to hack the communication protocol as they are controlled by ttl/rs232/rs485, or use a usb2dynamixel(or usb2ax) converter. The advantages are their torque, speed and precision.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4846" data-toggle = "popover">
				<p>user name : goncalo luis</p>
				<p> user reputation : 324</p>
				<p class = "tagcontent" id = "usertaginfo-4846">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4846" class = 'collapse'>
			</div>
				<textarea id = "speech-4846" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4846">
					<img id="start_img-4846" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4846">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>