<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which programming language should I use with the NXT?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-578" class = "post">
			<h2>Question</h2>
			<div id="vote-578" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 614</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which programming language should I use with the NXT?</h2>
<p>We have an optional course in our high-school which is about robotics. We're using the Lego Mindstorms NXT and program it with the original Mindstorms-software.
However, we want to advance and use a major programming-language. We have tried NXC and LeJos. Plus, I tried out the Microsoft Robotics Development Studio, but with all these different possibilities we are a little bit overwhelmed.</p>

<p>Because of that (now it becomes interesting), I want to ask, what technology is the best for NXT and especially: What is easy to use? I don't want to need 14 steps just to compile a program and get it running on the NXT. Also, it would be nice, if it's an extend-able language, like using C#, but are there some better or easier possibilities?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-578" data-toggle = "popover">
				<p>user name : looper</p>
				<p> user reputation : 161</p>
				<p class = "tagcontent" id = "usertaginfo-578">{'nxt': 7, 'None': 2, 'programming-languages': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-578">Load Comments</button></br>
			<div id = "commentsection-578" class = 'collapse'>
			<div id = "comment-684" class = "comment">
				<p>You might find [NXT Programming Software](http://www.teamhassenplug.org/NXT/NXTSoftware.html) useful, as well as [Is there any Ruby or Python interpreter for Lego Mindstorm?](http://stackoverflow.com/q/1017429/42473).</p>
			</div>
			</div>
				<textarea id = "speech-578" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-578">
					<img id="start_img-578" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-578">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-579"  class = "post">
				<h2>Answer</h2>
			<div id="vote-579" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The kit supplied NXT software is a bit basic, agreed... but before trying anything more complex, I can commend <a href="http://www.ni.com/academic/mindstorms/" rel="nofollow">NI LabView for NXT</a></p>

<p>Not only is this an improvement on the NXT-G but this gives you an introduction to LabView which is widely used in the Real World for data acquisition and test systems.</p>

<p>I'm sure there must be a C/C# API out there (I've not looked though)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-579" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-579">{'None': 41}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-579">Load Comments</button></br>
			<div id = "commentsection-579" class = 'collapse'>
			<div id = "comment-674" class = "comment">
				<p>Yeah, we looked at NI LabView, too, but we didn't know that there could be an API :O. Thanks!</p>
			</div>
			</div>
				<textarea id = "speech-579" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-579">
					<img id="start_img-579" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-579">Comment</button>
			<br><div id = "ans-582"  class = "post">
				<h2>Answer</h2>
			<div id="vote-582" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>"We have tried NXC and LeJos. Plus, I tried out the Microsoft Robotics Development Studio, but with all these different possibilities we are a little bit overwhelmed."</p>
</blockquote>

<p>That basically leaves <a href="http://www.robotc.net/index.php" rel="nofollow">RobotC</a> - which is easier to use, and reasonably powerful. As it is based on C, you will not find it as powerful a language as JAVA (LeJOS), but robotics stuff is built in (motors/encoders, reading sensors, I2C, bluetooth). It does include a good IDE and debugging system, something NXC and LeJOS are missing.</p>

<p>MRDS is really not suited for NXT since it does not run on the NXT:, it is simply a remote control system. You can look at <a href="http://www.mindsqualls.net/" rel="nofollow">mindsqualls</a> for an alternative and not quite as complicated C# remote control system if that is acceptable to your project/studies.</p>

<p>A few people have ported <a href="http://msdn.microsoft.com/en-us/library/ee436350.aspx" rel="nofollow">MF (micro frameworks C#)</a> to the NXT but there was 0 room left, making it very impractical.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-582" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-582">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-582">Load Comments</button></br>
			<div id = "commentsection-582" class = 'collapse'>
			<div id = "comment-675" class = "comment">
				<p>No need to be pre-emptive. Robotics.SE is open to all, [tag:nxt] questions are certainly on topic here and, in my experience, posters limit their answers to what's asked. If the OP is asking about NXT, answers will be about NXT :)</p>
			</div>
			<div id = "comment-677" class = "comment">
				<p>That certainly has not been my experience so far.</p>
			</div>
			<div id = "comment-679" class = "comment">
				<p>Accepted this answer, because it really helped us :). We'll use RobotC, as it seems to be the best for our needs.</p>
			</div>
			<div id = "comment-680" class = "comment">
				<p>What makes you say that you need to write assembly code for the Arduino/Raspberry Pi? That's simply not true at all. The entire point of the Arduino API is to abstract away a lot of low-level C (peripheral configuration register manipulation, etc), never mind asm. That's an even sillier thing to say about the Raspberry Pi, where you can manipulate GPIO in Python.</p>
			</div>
			<div id = "comment-688" class = "comment">
				<p>"write assembler level code to manipulate I/O lines"  what part of that does "manipulating GPIO in python" avoid? You made my point, and thanks for chiming in, confirming my other pre-emptive point.</p>
			</div>
			<div id = "comment-690" class = "comment">
				<p>@Spiked3: `That certainly has not been my experience so far`--if you're talking about [this argument of ours](http://robotics.stackexchange.com/q/494/126), the OP was clearly asking for an _alternative to NXT_. And _please_ could you stop getting worked up about Arduinos/RPis? This type of argument is unnecessary for this site.</p>
			</div>
			<div id = "comment-691" class = "comment">
				<p>"the OP was clearly asking for an alternative to NXT" and the author was clearly asking about robot kits. What's your point? Quit following me around and telling me to stop arguing with you.</p>
			</div>
			<div id = "comment-695" class = "comment">
				<p>Can I suggest that if people wish to discuss this further, opening a [meta] question or moving this to [chat] would be the best option.</p>
			</div>
			<div id = "comment-698" class = "comment">
				<p>@MarkBooth: No prob, we're done here :) I'll be sure to bring it up on meta if it turns up again, though. Btw, `@`Spiked, I just came across this while browsing. I wasn't following you around..</p>
			</div>
			<div id = "comment-3029" class = "comment">
				<p>_... as powerful a language as JAVA_, perhaps you meant high level or easy? There are many things you can do in C that you can't in Java.</p>
			</div>
			</div>
				<textarea id = "speech-582" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-582">
					<img id="start_img-582" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-582">Comment</button>
			<br><div id = "ans-1396"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1396" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>NXT-G is based on LabView. If you don't like LabView, you won't like NXT-G. Good news though. Lego just debuted Mindstorms EV3. It uses a language based on ICON. Something you may be more interested in. It should be available this winter. <a href="http://mindstorms.lego.com/en-us/News/ReadMore/Default.aspx?id=476243" rel="nofollow">http://mindstorms.lego.com/en-us/News/ReadMore/Default.aspx?id=476243</a></p>

<p>Also, while browsing questions on this site, I learned about this: <a href="http://www.ros.org/wiki/Robots/NXT" rel="nofollow">http://www.ros.org/wiki/Robots/NXT</a></p>

<p>A group has apparently built bindings that are relatively simple to use for the Robot Operating System and NXT. EV3 is still cooler, but if you simply must use NXT, I would give ROS a try.</p>

<p>ROS uses <a href="https://code.google.com/p/nxt-python/" rel="nofollow">NXT-python</a> which you might also give a look as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1396" data-toggle = "popover">
				<p>user name : r351574nc3</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-1396">{'control': 2, 'None': 3, 'cameras': 2, 'sensors': 4, 'accelerometer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1396" class = 'collapse'>
			</div>
				<textarea id = "speech-1396" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1396">
					<img id="start_img-1396" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1396">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>