<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which kind of motors and how powerfull should they be for a robotic arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10517" class = "post">
			<h2>Question</h2>
			<div id="vote-10517" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 125</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which kind of motors and how powerfull should they be for a robotic arm</h2>
<p>I am building a robotic arm with these specifications:</p>

<ul>
<li>1 meter long</li>
<li>approx. 1kg weight</li>
<li>it is made of 4 motors. (2 at the base. One for rotating the whole arm left and right and another one for rotating up down. 1 motor for rotating the second half of the arm, only up and down. 1 for the claw used for grabbing)</li>
<li>it must be able to lift at least 4kg + 1kg (it's own weight), and have a speed of 180 degrees in 2 seconds = 360 degrees in 1 second resulting 60rpm.</li>
</ul>

<p>Which kind of motor would be best for the project (servo or stepper) and how much torque will it need? (Please also give me an explanation of how I can calculate the torque needed). Could you also give me an example or two of the motors I would need and/or a gearbox for them (models or links).</p>



			</div>
			<div class = "userinfosection"  id = "userinfo-10517" data-toggle = "popover">
				<p>user name : James Petri</p>
				<p> user reputation : 6</p>
				<p class = "tagcontent" id = "usertaginfo-10517">{'None': 0, 'motor': 1, 'torque': 1, 'servomotor': 1, 'robotic-arm': 1, 'stepper-motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10517">Load Comments</button></br>
			<div id = "commentsection-10517" class = 'collapse'>
			<div id = "comment-18933" class = "comment">
				<p>"180 degrees in 2 seconds = 360 degrees in 1 second resulting 60rpm." That doesn't sound right... That's rather 30 rpm (if you ignore acceleration). This is some serious speed, are you sure you need or want that? This will be a rather massive arm and expensive if you want some accuracy.</p>
			</div>
			<div id = "comment-18936" class = "comment">
				<p>Yes, you are right.. I divided instead of multiplying the seconds.. Well yeah I would like to build an arm that can be moved by buttons(for example button 1 moves the arm up, button 2 moves it down.. The more you press  it, the more it rotates).. I would like to mount the arm on a moving platform and be able to lift things around it(about 4 kg.. maybe 3).. I bought everything I need + some small motors to do the testing(they are dc motors with H-bridges), but now I need the motors that will be used for the actual arm(The body of the arm will be 3d printed)..</p>
			</div>
			<div id = "comment-18937" class = "comment">
				<p>I searched the web for motors for about 10 hours in total the last week or so but I couldn't really find something that would do and be in the price range as well(And if it was it would deliver only if you buy something like 200). Can you help me find a model or give me some idea for it(The thing is that I am still in collage so I don't really have a source of money and that's why I can only put about 200 euro, max. 300 for the motors)</p>
			</div>
			<div id = "comment-18938" class = "comment">
				<p>I'm sorry to tell you, but with that funding, you can totally forget your project. You describe an arm that costs (ballpark) 20.000$ if you build hundreds or thousands of them. You also want it to lift 4kg with a 1kg arm which means really expensive materials. 3D printed stuff (if you don't print in titanium) will just evaporate at this speed.</p>
			</div>
			<div id = "comment-18960" class = "comment">
				<p>So, to clarify, following on from [FooBar's initial comment](http://robotics.stackexchange.com/questions/10517/which-kind-of-motors-and-how-powerfull-should-they-be-for-a-robotic-arm#comment-18933) your statement _should_ read: "180 degrees in 1 second => 360 degrees in 2 seconds, resulting in 30 rpm"  or "180 degrees in 2 seconds => 360 degrees in 4 seconds, resulting in 15 rpm"?</p>
			</div>
			</div>
				<textarea id = "speech-10517" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10517">
					<img id="start_img-10517" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10517">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10526"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10526" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This type of question "how much torque does my robot arm need" has been answered many times on this site:</p>

<ul>
<li><a href="https://robotics.stackexchange.com/questions/9114/simple-equation-to-calculate-needed-motor-torque">Simple equation to calculate needed motor torque</a></li>
<li><a href="https://robotics.stackexchange.com/questions/7091/design-and-construction-of-universal-robotic-arm-5kg-1m">Design and construction of universal robotic arm (5kg, 1m)</a></li>
<li><a href="https://robotics.stackexchange.com/questions/775/getting-started-with-robotic-arm-design/">Getting started with robotic arm design</a></li>
<li><a href="https://robotics.stackexchange.com/questions/10056/choice-of-a-motor-for-robotic-arm">Choice of a motor for robotic arm</a></li>
</ul>

<p>The equation for torque is pretty simple.  It is just force times moment arm length.  So the lift motor at the base of the arm will require: 4 kg * 1 m + 1 kg * 0.5 m = 4.5 kg m, or about 44 Nm.  The elbow motor will require 4 kg * 0.5 m + 0.5 kg * 0.25 m = 2.125 kg m, or about 21 Nm.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10526" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-10526">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10526">Load Comments</button></br>
			<div id = "commentsection-10526" class = 'collapse'>
			<div id = "comment-18942" class = "comment">
				<p>And that is only the gravity compensating part of the torque, if you want to move that thing, you need even more.</p>
			</div>
			<div id = "comment-18968" class = "comment">
				<p>Yes, good point.  I believe some of the above links discuss this.  Remember that it is not velocity that drives the torque requirements, but acceleration.</p>
			</div>
			</div>
				<textarea id = "speech-10526" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10526">
					<img id="start_img-10526" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10526">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>