<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which kind of valve is used for dispensing food grains?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9351" class = "post">
			<h2>Question</h2>
			<div id="vote-9351" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 138</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which kind of valve is used for dispensing food grains?</h2>
<p>I am doing a project on an automated grain dispenser system using a PLC control. I need a valve for dispensing grain from hopper to packet. I should be able to control the flow of the grain. </p>

<p>So what kind of valve should I use for flow control of the grain? There are different types of grains like rice, wheat, etc., and the valve should be controlled by the PLC (opening and closing of valve).</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9351" data-toggle = "popover">
				<p>user name : Manoj kumar</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9351">{'None': 0, 'automation': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9351">Load Comments</button></br>
			<div id = "commentsection-9351" class = 'collapse'>
			<div id = "comment-16561" class = "comment">
				<p>Something like a solenoid valve?</p>
			</div>
			<div id = "comment-16583" class = "comment">
				<p>yes sir,something like solenoid valve but should be able to do flow control.</p>
			</div>
			</div>
				<textarea id = "speech-9351" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9351">
					<img id="start_img-9351" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9351">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9357"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9357" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What scale is this on? I am assuming you are doing this for household purposes and not industrial.</p>

<p>Maybe something like this:</p>

<p><a href="https://i.stack.imgur.com/Lytpu.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/Lytpu.jpg" alt="enter image description here"></a></p>

<p>The dry goods are sent into a drum. The drum has a cupola in one side. The goods fill the cupola and when the drum is rotated one cupola full of goods are deposited. Repeat as many times as necessary to deliver N cupolas full.</p>

<p>The image is actually from a fish feeder. Maybe you could even use a modified fish feeder.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9357" data-toggle = "popover">
				<p>user name : Octopus</p>
				<p> user reputation : 886</p>
				<p class = "tagcontent" id = "usertaginfo-9357">{'control': 3, 'None': 60, 'gyroscope': 3, 'motor': 7, 'automation': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9357">Load Comments</button></br>
			<div id = "commentsection-9357" class = 'collapse'>
			<div id = "comment-16581" class = "comment">
				<p>yes sir we are doing in a small scale,upto 1kg packing maximum.how this will work is this a valve ,can u provide some more details about this .</p>
			</div>
			<div id = "comment-16582" class = "comment">
				<p>The grain is packed from a hopper,similar to industries but in a small scale.</p>
			</div>
			</div>
				<textarea id = "speech-9357" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9357">
					<img id="start_img-9357" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9357">Comment</button>
			<br><div id = "ans-9359"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9359" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use a sampling valve. You can have a look here to how it works.</p>

<p><a href="https://www.youtube.com/watch?v=KSQPSDmD-i4" rel="nofollow noreferrer">https://www.youtube.com/watch?v=KSQPSDmD-i4</a></p>

<p><a href="https://i.stack.imgur.com/rMWvT.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/rMWvT.jpg" alt="enter image description here"></a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9359" data-toggle = "popover">
				<p>user name : Muzammil</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-9359">{'None': 0, 'design': 0, 'motor': 0, 'arduino': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9359">Load Comments</button></br>
			<div id = "commentsection-9359" class = 'collapse'>
			<div id = "comment-16589" class = "comment">
				<p>Thanks for your answer but we prefer answers to be self contained where possible. Links [tend to rot](https://en.wikipedia.org/wiki/Link_rot) so answers which rely on a link can be rendered useless if the linked to content disappears. If you add more context from the link, it is more likely that people will find your answer useful. As it is, I have found a still from the video and added it as an image to your answer, but this doesn't look like it would be very useful for answering this question.</p>
			</div>
			</div>
				<textarea id = "speech-9359" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9359">
					<img id="start_img-9359" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9359">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>