<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which middleware for IPC and multi-threading in a autonomous robot?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7533" class = "post">
			<h2>Question</h2>
			<div id="vote-7533" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 300</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which middleware for IPC and multi-threading in a autonomous robot?</h2>
<p>Aim: To use multi-threading and inter-process communication(IPC) when coding an autonomous robot.</p>

<p>Platform: Embedded Linux (Yocto)</p>

<p>Constraints : Limited CPU power.</p>

<p>We are building an Autonomous Underwater Vehicle, to compete in the RoboSub competition. This is the first time I am doing something like this. I intent to use a middleware like ROS, MIRA, YART, MOOS etc. The purpose of using one is that I want to modularise tasks, and divide the core components into subsystems, which should be run parallel(by multi-threading). But I have limited computational power (a dual core omap SoC), and the middleware, while robust should also be very efficient.</p>

<p>I need to use a middleware, because I don't want the program to be run on a single thread. My CPU has two cores, and it would be great if I could do some multi-threading to improve performance of the program. The middleware will provide for me the communication layer, so I don't have to worry about data races, or other problems associated with parallel processing. Also I have no prior experience writing multi-threaded programs, and so using parallel processing libraries directly would be difficult. Hence IMO, middlewares are excellent choices.</p>

<p>In your experience, which is the best one suited for the task. I don't really want to use ROS, because it will be having a lot of features, and I wont be using them. I am a computer science student(under graduate freshman, actually) and don't mind getting my hands dirty with one which has not that much features. That's true if only it will take less toll on the CPU.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7533" data-toggle = "popover">
				<p>user name : daltonfury42</p>
				<p> user reputation : 162</p>
				<p class = "tagcontent" id = "usertaginfo-7533">{'underwater': 7, 'None': 0, 'usb': 3, 'arduino': 4, 'communication': 4, 'localization': 6, 'operating-systems': 1, 'c++': 2, 'odometry': 1, 'kinematics': 1, 'sensor-fusion': 6, 'sensors': 6, 'ros': 1, 'differential-drive': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7533">Load Comments</button></br>
			<div id = "commentsection-7533" class = 'collapse'>
			<div id = "comment-10830" class = "comment">
				<p>User, I'm voting to close this question and am recommending you move it to [robotics chat](http://chat.stackexchange.com/rooms/6221/asimovs-corner). Your question is going to wind up being more of a back-and-forth than a direct question with a direct answer.</p>
			</div>
			<div id = "comment-10831" class = "comment">
				<p>@Chuck, how to move a question to chat? U mean ask in chat?</p>
			</div>
			<div id = "comment-10833" class = "comment">
				<p>Yes, ask again in chat.</p>
			</div>
			<div id = "comment-10834" class = "comment">
				<p>@Chuck, I don't feel the question is ambiguous. The question is which middleware to use when performance is a serious consideration. I thought this could be answered by the SE community here, who may have experience using them.</p>
			</div>
			<div id = "comment-10838" class = "comment">
				<p>as in the robosub competition happening in July?</p>
			</div>
			<div id = "comment-10841" class = "comment">
				<p>@user####, ill be at this one. I was curious if I'd see you there</p>
			</div>
			<div id = "comment-10853" class = "comment">
				<p>think theres something worthwhile in here somewhere; the question could be reformulated as "what are commonly used middleware on the robosub competition, do entrants typically use it or not" etc</p>
			</div>
			<div id = "comment-10876" class = "comment">
				<p>Welcome to *robotics* user3073656, but I'm afraid that unbounded design questions really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works.</p>
			</div>
			<div id = "comment-14005" class = "comment">
				<p>What middleware to choose for a single CPU limited resource multi-processor system seems pretty specific. The fact is that in this situation no middleware should be used as it just adds complexity over the top of the OS's IPC.</p>
			</div>
			<div id = "comment-14009" class = "comment">
				<p>@hauptmech If so, can you help me with the design? I've never done something like this before. I don't know how to start. I don't have a big picture of how the entire program should look. Hence i think that it will be a failure if I continue like this. It would be great if you help be with it. Shall I start a chat?</p>
			</div>
			<div id = "comment-14010" class = "comment">
				<p>@daltonfury42 Happy to spend a few minutes in a chat.</p>
			</div>
			<div id = "comment-14015" class = "comment">
				<p>@hauptmech Join me [here](https://chat.stackexchange.com/rooms/32461/discussion-betweeen-daltonfury42-and-hauptmech).</p>
			</div>
			</div>
				<textarea id = "speech-7533" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7533">
					<img id="start_img-7533" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7533">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7540"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7540" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Take a look to rock-robotics.org and github.com/auv-avalon we provide a lot of basic tools already but in the end there is no real best middelware.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7540" data-toggle = "popover">
				<p>user name : Matthias Goldhoorn</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-7540">{'None': 11, 'syskit': 1, 'rock': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7540" class = 'collapse'>
			</div>
				<textarea id = "speech-7540" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7540">
					<img id="start_img-7540" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7540">Comment</button>
			<br><div id = "ans-7541"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7541" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For maritime robotics, you should definitely take a look at <a href="https://sites.google.com/site/moossoftware/" rel="nofollow">MOOS</a>.  It is a similar middle-ware to ROS, but was originally developed at the Dept. of Ocean Engineering at MIT with Prof John Leonard.  So it has a heavy maritime bent to it, but can of course be used for terrestrial (or aerial) robotics as well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7541" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7541">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7541" class = 'collapse'>
			</div>
				<textarea id = "speech-7541" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7541">
					<img id="start_img-7541" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7541">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>