<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which micro-controler~processor to be used for autonomous stereo vision robot system?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4297" class = "post">
			<h2>Question</h2>
			<div id="vote-4297" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 823</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which micro-controler~processor to be used for autonomous stereo vision robot system?</h2>
<p>I am very new two robotics, however I have a working stereo algorithm which I want to combine with a SLAM algorithm. I am developing this system for an other application but I decided integrating it on a robot first and testing it might be a good way to get used to the system and test its behaviour in a realistic environment. (rather than testing it in some kind of software simulator only) However, I want the system to be autonomous and running on-board of the rover. </p>

<p>The system I am talking about will consist of:</p>

<p>a stereo camera
a rover with wheels with one motor each 
possibly some kind of sensor that "measures" the movement, e.g. how much the wheels turned
maybe some distance sensor </p>

<p>Appart from this it's only software
the stereo software is already developed, the SLAM algorithm not. Therefore it is currently impossible to say how much RAM it needs. I am currently running the stereo-vision only on an i7 in approx. 1s.</p>

<p>Now my question:
as mentioned I have no idea about robotics, and also my electronics knowledge is limited, so I have no idea what I need for this robot when it comes to the processor and the electronics. </p>

<p>I read some stuff about the Raspberry Pi and Arduino boards but I have no idea what to make from this. I am afraid that a Arduino will not be able to handle the computational load of the stereo vision and the SLAM algorithm but I read that Raspberry Pis are not the first choice when interfacing with sensors is needed (in this case my stereo cameras). Also I found the Leika kit which is a robotics kit for the Raspberry Pi. Maybe this would be a good option for me?</p>

<p>Maybe an entirely different system would be even more advisable? </p>

<p>Possibly someone else build an equally complex system before and can give me some advise form his/her experience? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4297" data-toggle = "popover">
				<p>user name : Svenja Woicke</p>
				<p> user reputation : 125</p>
				<p class = "tagcontent" id = "usertaginfo-4297">{'stereo-vision': 4, 'None': 0, 'computer-vision': 2, 'raspberry-pi': 2, 'arduino': 2, 'slam': 2, 'mobile-robot': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4297">Load Comments</button></br>
			<div id = "commentsection-4297" class = 'collapse'>
			<div id = "comment-6842" class = "comment">
				<p>I could be wrong, but even the Pi or beaglebone might not be powerful enough. It may require a laptop.</p>
			</div>
			<div id = "comment-6886" class = "comment">
				<p>@Airuno2L I fear this, too. If a laptop is required this would mean that I send the stereo images to my laptop and the wheel "commands" back to the robot? Is this possible with both the arduino and the Pi?</p>
			</div>
			<div id = "comment-6888" class = "comment">
				<p>This would only be possible on a pi/beaglebone or other Linux board. Rudimentary wifi adapters exist for Arduinos, but there is no way data rates will be high enough. Keep in mind that most arduinos run at 16 mhz.</p>
			</div>
			</div>
				<textarea id = "speech-4297" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4297">
					<img id="start_img-4297" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4297">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4301"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4301" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Arduinos are slow. They run at 16mhz and don't normally have more than 10 kb of ram (the due has more, but still well under 1 mb. I personally would look into a beaglebone or udoo as they are both a lot faster than a raspberry pi. However, if you don't have much experiance with robotics and your project doesn't require it, I would avoid it</p>

<p>Also, your question isn't very directed. You might want to edit it to make it more so (it could be closed as not specific or the likes)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4301" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-4301">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4301">Load Comments</button></br>
			<div id = "commentsection-4301" class = 'collapse'>
			<div id = "comment-6880" class = "comment">
				<p>what kind of information do I need to add in order to make the question more directed?</p>
			</div>
			<div id = "comment-6884" class = "comment">
				<p>Currently your question is asking what would be the best for xyz task which is highly optional. I'm no expert in asking questions on stack exchange sites, but asking something that could be measured by more exact metrics would help. For example, asking how many FLOPS various platforms can achieve or what hardware similar tasks have been done before on might help. If you have part of the algorithm running on a x86 machine stating how much ram it uses would also help.</p>
			</div>
			</div>
				<textarea id = "speech-4301" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4301">
					<img id="start_img-4301" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4301">Comment</button>
			<br><div id = "ans-4333"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4333" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Stereo vision and SLAM are pretty heavy algorithms, both in terms of the processing power and RAM required. You can forget about running this on a little microcontroller like an Arduino. These run at tens of MHz, and have only a few KB RAM.</p>

<p>At the <em>very least</em> you'll need something running at hundreds of MHz with hundreds of MBs of RAM. You didn't say exactly what i7 you were using, but these typically run at several GHz clock speed, and would have several GB RAM installed. On this machine, your stereo vision took a whole second to process. On a <a href="http://beagleboard.org/black" rel="nofollow noreferrer">Beaglebone</a>, you might expect this to take tens of seconds at best.</p>

<p>I recommend using a small laptop computer to process the vision, and something like an Arduino to interface the laptop to the rest of the robot. The laptop can talk to the Arduino over the USB serial port, which should have ample bandwidth for that.</p>

<p>This is quite a common way to prototype a robot:</p>

<p><img src="https://i.stack.imgur.com/nM5KV.jpg" alt="Laptop Robot"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4333" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-4333">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4333" class = 'collapse'>
			</div>
				<textarea id = "speech-4333" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4333">
					<img id="start_img-4333" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4333">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>