<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>which is best IMU for Quad-Copter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11579" class = "post">
			<h2>Question</h2>
			<div id="vote-11579" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 292</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>which is best IMU for Quad-Copter</h2>
<p>Actually i am trying to write my own Flight Controller for Quad-Copter that is controlled by Remote over radio signals.So for a flight controller i have to buy a inertial measurement unit(IMU).So problem is that i visit a two different sites both selling a MPU6050 Triple Axis Accelerometer and Gyro.But both sites name it same but it's look different IMU unit <a href="https://i.stack.imgur.com/wzzzT.jpg" rel="nofollow noreferrer">that one is buying from hallroad.org</a>.and that one is <a href="https://i.stack.imgur.com/fcY0x.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/fcY0x.jpg" alt="buying from spartfun"></a>.is that same IMU or different if they are different what is difference b/w them?Which is best for Quad-Copter Flight-Controller?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11579" data-toggle = "popover">
				<p>user name : user3699039</p>
				<p> user reputation : 32</p>
				<p class = "tagcontent" id = "usertaginfo-11579">{'quadcopter': 2, 'None': 0, 'usb': 2, 'accelerometer': 2, 'arduino': 2, 'imu': 0, 'sensors': 0, 'gyroscope': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11579">Load Comments</button></br>
			<div id = "commentsection-11579" class = 'collapse'>
			<div id = "comment-20744" class = "comment">
				<p>Welcome to *Robotics* user3699039, but I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works, and the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) for details of how to write a good question.</p>
			</div>
			<div id = "comment-20758" class = "comment">
				<p>@holmeski but that i think its valid question about products and actually my question is that which is best imu unit both them for flight controller</p>
			</div>
			<div id = "comment-20765" class = "comment">
				<p>Whether you ask "which is best", or "what should I buy", you are still asking for answers which are primarily opinion-based. These answers are limited in scope to a particular price point, market and point in time, so are unlikely to be useful to future visitors to the site, so they are considered off-topic. If you were asking "How do I evaluate the suitability of products for this situation, given these constrains, using these two products as examples" I could see that you might get answers which would be as valid a year from now as they are today.</p>
			</div>
			<div id = "comment-20767" class = "comment">
				<p>@MarkBooth actually you didn't understand my question i was asking about which one IMU unit can be used in Quad-Controller for Flight-Controller development purpose</p>
			</div>
			<div id = "comment-21160" class = "comment">
				<p>That may be what you intended to ask, but it's not what you actually asked. If you edit your question so that it isn't primarily asking for an opinion, we can re-open this question for you and tidy up (delete) these comments.</p>
			</div>
			</div>
				<textarea id = "speech-11579" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11579">
					<img id="start_img-11579" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11579">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11589"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11589" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Both products are based on the same chip - MPU6050. I won't be surprised if passive components used in both modules will be the same too. That means, that from performance side, there will be probably no visible difference. The only thing that differs those two is their interfaces - the red one has two additional pins. Check what they do, and think if you need them.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11589" data-toggle = "popover">
				<p>user name : mactro</p>
				<p> user reputation : 925</p>
				<p class = "tagcontent" id = "usertaginfo-11589">{'control': 1, 'None': 59, 'radio-control': 1, 'pid': 1, 'wifi': 1, 'wheeled-robot': 1, 'mechanism': 1, 'automation': 1, 'wireless': 1, 'industrial-robot': 2, 'design': 1, 'cnc': 2, 'actuator': 2, 'mobile-robot': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11589">Load Comments</button></br>
			<div id = "commentsection-11589" class = 'collapse'>
			<div id = "comment-20737" class = "comment">
				<p>i got your point but in red one there is z axis is mention but in second one there is not mention of z axis.one more thing the blue one can be used in quad-copter for writing flight-controller purpose.i am very thank full @mactro</p>
			</div>
			</div>
				<textarea id = "speech-11589" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11589">
					<img id="start_img-11589" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11589">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>