<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which mechanical device could repeatedly present an ID tag to a card-reader
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9839" class = "post">
			<h2>Question</h2>
			<div id="vote-9839" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 54</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which mechanical device could repeatedly present an ID tag to a card-reader</h2>
<p>I'm trying to build a test-automation robotic arm which can repeatedly present an ID-tag (such as RFID or NFC card or fob) to a card reader.</p>

<p>I suspect our reader fails either (a) after hundreds of presentations or due to fast presentations or (b) at a specific <em>moment</em> in the reader duty cycle.</p>

<p>The tag needs to move in a well-controlled manner:</p>

<ol>
<li>Quickly present the card, </li>
<li>Pause (mark)</li>
<li>Quickly remove the card,</li>
<li>Pause (space)</li>
<li>Repeat at 1.</li>
</ol>

<p>I'm calling the present/remove sequence the mark-space ratio for simplicity.</p>

<p>The tests I want to perform involve varying (a) the frequency and (b) the mark-space ratio, to (a) stress-test and  (b) boundary-test the re-presentation guard times built into the reader to debounce presentations.</p>

<p>The guard times are around 400ms, response around 100ms, so I need something that can move in and out of a 5-10cm range quickly and repeat within those sorts of timescales. </p>

<p>The distance the card needs to move depends on the reader model, as they have different field ranges. I want to get through the edge of the field quickly to avoid any inconsistencies in testing.</p>

<p>I'm able to do any programming (professional) and simple electromechanical design and build (ex-professional, now hobbyist). I only need to build one, it doesn't have to be particularly robust, but it does need to be fairly accurate with regard to the timings to do the second test.</p>

<p>What I've done so far:</p>

<p>I've built one version already using a Raspberry Pi, GPIO, a stepper motor with an aluminium arm screwed to a wheel.  It works, but it's a bit jerky and too slow, even with a 30cm arm to amplify the motion. It will probably do for the repeat test, but it's not time-accurate enough to do the timing tests.</p>

<p>My other design ideas were: </p>

<ul>
<li>Servo (are these also slow?)</li>
<li>Solenoid (fast, but too limited range? and might cause EM?)</li>
<li>Motor (too uncontrollable, and will require too much mechanical work for me)</li>
<li>Rotating drum (fast, stable, but cannot control mark-space ratio)</li>
</ul>

<p>I'm not a electro-mechanical design expert, so I'm wondering if I'm missing an electrical device or mechanical design which can do this more easily.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9839" data-toggle = "popover">
				<p>user name : scipilot</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-9839">{'None': 0, 'raspberry-pi': 1, 'automation': 1, 'industrial-robot': 1, 'robotic-arm': 1, 'stepper-motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9839">Load Comments</button></br>
			<div id = "commentsection-9839" class = 'collapse'>
			<div id = "comment-17539" class = "comment">
				<p>Why can a rotating drum not control mark-space ratio and could you give a better definition of that term?</p>
			</div>
			<div id = "comment-17545" class = "comment">
				<p>I was only thinking of a constantly rotating drum. The mark-space would be fixed at the ratio of the width of the card to the circumference of the drum. Were you thinking the drum would stop,start,stop then? I'd presumed inertia would be a problem but I suppose a very lightweight construction might make it possible. But it would need position sensing switches and gearing to control speed...</p>
			</div>
			<div id = "comment-17546" class = "comment">
				<p>"*it would need position sensing switches and gearing to control speed*" so would everything else. Control means feedback means measurement means sensors.</p>
			</div>
			<div id = "comment-17547" class = "comment">
				<p>Except the stepper motor. It's been oscillating for a day and is still in exactly the same spot! Perhaps I'm just being lazy.</p>
			</div>
			<div id = "comment-17548" class = "comment">
				<p>Ah yes, stepper motors. Used for everything these days applicable or not. For higher speed, the force or acceleration a stepper motor can assert drops significantly, which might result in missed steps. Even for a stepper motor, you should add sensors for the end positions so that you can be certain that it always reaches them.</p>
			</div>
			</div>
				<textarea id = "speech-9839" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9839">
					<img id="start_img-9839" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9839">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9847"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9847" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'd go for a linear axis. The cheapest version could be from a printer or you buy a small belt and two gears. A brushless DC would however fit better in this scenario. Such systems are easily faster than a normal user and easy to control. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9847" data-toggle = "popover">
				<p>user name : FooBar</p>
				<p> user reputation : 578</p>
				<p class = "tagcontent" id = "usertaginfo-9847">{'untagged': 0, 'None': 33, 'laser': 3, 'industrial-robot': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9847">Load Comments</button></br>
			<div id = "commentsection-9847" class = 'collapse'>
			<div id = "comment-17544" class = "comment">
				<p>Ok, thanks. I hadn't thought of that. Yes printer heads are very fast and accurate. How would I control the position accurately? I can imagine it drifting after a lot of motion without feedback from say a photoresistor?</p>
			</div>
			<div id = "comment-17555" class = "comment">
				<p>You normally use an end switch to zero the axis. The could for be a photoresistor or a simple reed switch that detects the sledge in on of the extreme positions.</p>
			</div>
			<div id = "comment-17583" class = "comment">
				<p>I've accepted this as the best answer, but haven't built this design yet, as we've now found just leaving the card stationary at the edge of the field triggers enough jitter to fail the reader! So I don't really need the robot arm for the stress test after all, but I will return to this linear design if we need to work on the precision timing test.</p>
			</div>
			</div>
				<textarea id = "speech-9847" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9847">
					<img id="start_img-9847" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9847">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>