<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which Kinect to a movement base?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2087" class = "post">
			<h2>Question</h2>
			<div id="vote-2087" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 49</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which Kinect to a movement base?</h2>
<p>I am making a mobile base for a robot with wheels. I want to use a Kinect like a movement sensor (to avoid obstacles, recognition of people, etc...) but I read that there is 2 models, the 360 and the Developer.</p>

<p>Which Kinect works well for my job? And another thins, its there another thing that can I use like a movement sensor? To see diferent posibilities,</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2087" data-toggle = "popover">
				<p>user name : Elseine</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-2087">{'kinect': 1, 'mobile-robot': 0, 'None': 0, 'wheeled-robot': 0, 'openni': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2087">Load Comments</button></br>
			<div id = "commentsection-2087" class = 'collapse'>
			<div id = "comment-4176" class = "comment">
				<p>Welcome to Robotics.SE Elseine. While we'd love helping others (that's why we're here), we'd also love to see that you have made an effort before asking the question. Have you tried looking at what are the differences between the 360 and the developer models? What major differences have you seen between the two that makes you wonder which would be more suitable? What is your own requirements for the task and what are the shortcomings of each of them?</p>
			</div>
			<div id = "comment-4186" class = "comment">
				<p>Yes, I read it, but I have the same question. I dont know what is better or easier to use.</p>
			</div>
			<div id = "comment-4400" class = "comment">
				<p>There is no difference development wise, other then what I mention in the thread @srlm links to.  Choose based on your preference.</p>
			</div>
			</div>
				<textarea id = "speech-2087" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2087">
					<img id="start_img-2087" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2087">Comment</button>

<h1>Answers</h1>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>