<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which encoder should I use with a 24V Dc motor and 6mm shaft?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5279" class = "post">
			<h2>Question</h2>
			<div id="vote-5279" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 267</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which encoder should I use with a 24V Dc motor and 6mm shaft?</h2>
<p>I would like to control the position and velocity of a DC motor like this <a href="http://www.ebay.co.uk/itm/ZY-MY-1016-Electric-Motor-24v-200w-Brushed-E-Bike-Scooter-24-Volt-200-Watt-Chain-/171573828523?pt=LH_DefaultDomain_0&amp;hash=item27f298dbab" rel="nofollow">one</a> (ZY MY 1016 - 24V - 10A - 200W). The motor comes with a 13 TOOTH SPROCKET and the diameter of the shaft is 6mm. It's not possible to apply an encoder to the back of the motor (see <a href="http://i.ebayimg.com/00/s/NDIzWDU1MA==/z/0NYAAOxyDo1TjvN6/$_12.JPG?set_id=880000500F" rel="nofollow">picture</a>)</p>

<p>The angular velocity in the description is 2750 RPM, which encoder do you recommend?  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5279" data-toggle = "popover">
				<p>user name : UserK</p>
				<p> user reputation : 199</p>
				<p class = "tagcontent" id = "usertaginfo-5279">{'quadcopter': 6, 'None': 3, 'motor': 1, 'accelerometer': 2, 'filter': 6, 'imu': 2, 'matlab': 2, 'kalman-filter': 2, 'sensors': 2, 'gyroscope': 6, 'quadrature-encoder': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5279" class = 'collapse'>
			</div>
				<textarea id = "speech-5279" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5279">
					<img id="start_img-5279" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5279">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5280"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5280" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Any of them. Which ones have you looked at?</p>

<p>I googled, and the first one that came up was a smaller pololu unit for a micro robot,
<img src="https://i.stack.imgur.com/vbqDL.jpg" alt="enter image description here"></p>

<p>But you know what? They all work the same and are fairly simple to build / adapt.</p>

<p>You probably can locate a hall effect sensor at the 13 tooth sprocket.
<a href="http://www.sensorsmag.com/sensors/position-presence-proximity/understanding-integrated-hall-effect-rotary-encoders-1254" rel="nofollow noreferrer">Understanding Integrated Hall Effect Rotary Encoders</a></p>

<p>Other than that, this sounds like a shopping question, you might get lucky and find someone who has used a 6mm shaft encoder and can recommend it, but that is not a robotics question.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5280" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-5280">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5280">Load Comments</button></br>
			<div id = "commentsection-5280" class = 'collapse'>
			<div id = "comment-8057" class = "comment">
				<p>The one you posted is designed to work with Pololu micro metal gearmotors. I was thinking about this one http://www.robot-italy.com/it/amt102-v-quadrature-encoder.html.</p>
			</div>
			<div id = "comment-8058" class = "comment">
				<p>Unless you get very lucky, you will have to make mechanical modification to accommodate anything. But, given that, the Pololu unit could work on a car. You just have to settle on what is the least amount of work to give you what you need.</p>
			</div>
			<div id = "comment-8059" class = "comment">
				<p>Ok I'll try with quadrature encoders and post the answer. I've used them with smaller dc motors. Maybe the 6mm adapter will work without any modification</p>
			</div>
			</div>
				<textarea id = "speech-5280" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5280">
					<img id="start_img-5280" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5280">Comment</button>
			<br><div id = "ans-5284"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5284" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I doubt you will be able to simply by something an attach it.  How to make an encoder will depend on how this motor is used.  Are you doing a chain, gears?  You will need to design the rotation sensor into the rest of the power transmission system.</p>

<p>What you do is place a disk of some kind, plastic or metal and then you make a hole or slot in the disk and your sensor detects the slot.  The simplest sensors to use are these IR LED/photo transistors.   They are cheap and very reliable even in bright light.  I use them with a black plastic disk.  But test your disk material first.  Some that looks black is transparent in IR.  Metal is best.<br>
<a href="http://rads.stackoverflow.com/amzn/click/B00843JUJM" rel="nofollow">IR sensor</a>   To use them you need to add two resisters and 5V power.  330R for a current limiter on the LED side and a 10K load resister on the transistor side.  Those values are not critical. I connect this to a interrupt pin on an Arduino.</p>

<p>In your case you might drill a hole in the sprocket gear and mount an IR sensor where it can "see" the hole.  The sensor come with different slot widths.  I'd pick a width abut twice the thickness of the disk</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5284" data-toggle = "popover">
				<p>user name : user3150208</p>
				<p> user reputation : 431</p>
				<p class = "tagcontent" id = "usertaginfo-5284">{'None': 27}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5284" class = 'collapse'>
			</div>
				<textarea id = "speech-5284" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5284">
					<img id="start_img-5284" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5284">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>