<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Which math course will be most beneficial?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7450" class = "post">
			<h2>Question</h2>
			<div id="vote-7450" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Which math course will be most beneficial?</h2>
<p>Let me know if this should be on Academia instead, but I posted it here to get responses specifically from people active in robotics development.</p>

<p>I'm currently an undergraduate student completing majors in both mechanical engineering and computer science. I'm still fairly new to the field, but my interest is firmly in electronic and mechanical systems. Next year I can take one of the courses below:</p>

<pre><code>1. Multivariable Calc.
2. Linear Algebra
3. Differential Equations
</code></pre>

<p>I want to take all three and likely will eventually, but for the time being my schedule only allows for one. Therefore, I was wondering if you could explain a little bit about how each is applied to the robotics field and which you believe will be most helpful for me to learn now.Thanks in advance!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7450" data-toggle = "popover">
				<p>user name : Alecg_O</p>
				<p> user reputation : 142</p>
				<p class = "tagcontent" id = "usertaginfo-7450">{'None': 3, 'theory': -2, 'beginner': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7450">Load Comments</button></br>
			<div id = "commentsection-7450" class = 'collapse'>
			<div id = "comment-10634" class = "comment">
				<p>I flagged this question to be closed (as it is a life question; there is no right or wrong answer), but typically your university will list a course sequence for you to follow for your degree program. For me, it was Calc 1 and linear algebra, then calc 2, then multivariable calc, then differential equations. **Consult your degree plan or undergraduate advisor to find out what course you should be taking** :EDIT: If you're going to do ME, you *will* take all of those courses. I am an ME, so I can't speak to what you would take as a CS student.</p>
			</div>
			<div id = "comment-10636" class = "comment">
				<p>No problem Chuck. I'm sure it will surprise you as it surprises me, but while I plan to take all three, none of the above are actually required in my program (technically engineering science with an emphasis in mechanical). I've talked to my advisor for both departments and they have differing viewpoints on what will benefit me most, which is why I was hoping to get input from people in the specific field I'm interested in.</p>
			</div>
			<div id = "comment-10637" class = "comment">
				<p>What place is this that doesn't require higher math for anything engineering related? I took all of those courses when I got my associate's in Engineering at a community college (I went on to get a BS and MS in ME through a Big University). Your question is kind of like, "I want to drive a car, is it better to use my feet, use my hands, or use my eyes?" The answer is you need everything. I looked at UVA's website for Engineering Science and they require Diff EQ and Multivar Calc, but oddly no linear algebra, which is what I would have called fundamental (your eyes).</p>
			</div>
			<div id = "comment-10638" class = "comment">
				<p>I'll put it this way. If you're going to derive an equation of motion, you need physics, statics, and dynamics to evaluate the forces. You need differential equations to actually generate the equations, and multivariable calculus if you're going to do anything useful with those equations (partial derviatives, etc.). Lastly, if you're going to interact with that system, you'll probably make small angle assumptions, linearize, then solve the system of linear equations with linear algebra. You need everything. You can get by hijacking others' work, but you'll never understand it without math.</p>
			</div>
			<div id = "comment-10639" class = "comment">
				<p>Your last comment explains it well. I would like to know where you got your Associates, as neither of the community colleges in my area offer any course above Multi. Regardless of my school's requirements, I assure you I plan to learn that much at the very least when I have the chance - I just don't have room in my schedule for this next year, so I was asking for a recommendation on which to take first.</p>
			</div>
			<div id = "comment-10665" class = "comment">
				<p>Anecdotally, I find that linear algebra is used a lot in certain areas of robotics such as visual serving.</p>
			</div>
			</div>
				<textarea id = "speech-7450" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7450">
					<img id="start_img-7450" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7450">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7452"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7452" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I went through the Virginia Community College System (VCCS) (not saying which one specifically for myself). In Virginia, if you graduate with >= 3.0 GPA from a Virginia Community College, you are guaranteed admission to any public (Virginia) university. Community colleges here are top notch; I got the most knowledge out of community college courses and grad school courses. Undergraduate classes are pretty terrible. Find a lab at your university that does what you want to do, then work your way to an assistanceship. If you work hard and do good work grad school can be free. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7452" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7452">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7452">Load Comments</button></br>
			<div id = "commentsection-7452" class = 'collapse'>
			<div id = "comment-10642" class = "comment">
				<p>Well, glad to get an up vote, but I had meant this as a comment. Hard to tell what exactly I'm clicking on from my phone sometimes.</p>
			</div>
			</div>
				<textarea id = "speech-7452" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7452">
					<img id="start_img-7452" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7452">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>