<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Who owns @askdifferent on twitter?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-654" class = "post">
			<h2>Question</h2>
			<div id="vote-654" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 273</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Who owns @askdifferent on twitter?</h2>
<p>There is a <a href="http://twitter.com/#!/askdifferent" rel="nofollow">twitter account</a> with our name that has no tweets or followers and isn't following anyone. My fervent hope is that someone in the Ask Different community is squatting on it in case a use for it arises. </p>

<p>Ask Different's <a href="http://twitter.com/#!/stackapple" rel="nofollow">current twitter account</a> is bundled with the accounts for all of the rest of the SE sites. Configuring and implementing a new function for the Stack exchange twitter accounts is going to take a lot of time and discussion, but a good first step is at least to make the name of the twitter account consistent with Ask Different's branding.</p>

<p>If the owner of the account is not in our community, we will go through twitter's proper channels to claim the account. But that's the hard way. I'm hoping it'll be easy. </p>

<p>So: do you own @askdifferent or know who does? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-654" data-toggle = "popover">
				<p>user name : hairboat</p>
				<p> user reputation : 1322</p>
				<p class = "tagcontent" id = "usertaginfo-654">{'osx': 22, 'None': 10, 'discussion': 100, 'status-completed': 6, 'sponsorship': 8, 'exact-duplicates': 3, 'lion': 9, 'twitter': 6, 'site-promotion': 72}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-654">Load Comments</button></br>
			<div id = "commentsection-654" class = 'collapse'>
			<div id = "comment-1174" class = "comment">
				<p>Do you want opinions on the current use of StackApple aired here or should I open a new meta?</p>
			</div>
			<div id = "comment-1176" class = "comment">
				<p>@bmike: Open a new meta question.</p>
			</div>
			<div id = "comment-1177" class = "comment">
				<p>@bmike: hold off for a second, if you would. We're having a discussion with Joel about the twitters right now, there'll be an update pending.</p>
			</div>
			<div id = "comment-1183" class = "comment">
				<p>The StackApple answer at http://meta.apple.stackexchange.com/questions/433/please-change-name-of-site-from-apple-to-ask-different/645#645 has been edited pending an answer to this @askdifferent question.</p>
			</div>
			<div id = "comment-1228" class = "comment">
				<p>any luck???????</p>
			</div>
			<div id = "comment-1234" class = "comment">
				<p>@KyleCronin not yet :(</p>
			</div>
			</div>
				<textarea id = "speech-654" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-654">
					<img id="start_img-654" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-654">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1316"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1316" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Update: we were able to find and acquire the twitter handle <a href="https://twitter.com/#!/askdifferent" rel="nofollow">@askdifferent</a>! From now on, we will be using @askdifferent instead of @stackapple, so remember that if you want to @ reply or mention us. </p>

<p>Psst - if you don't follow @askdifferent already, feel free to do so :-)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1316" data-toggle = "popover">
				<p>user name : Lauren</p>
				<p> user reputation : 190</p>
				<p class = "tagcontent" id = "usertaginfo-1316">{'ipad': 28, 'None': 31, 'discussion': 56, 'status-completed': 12, 'twitter': 9, 'site-promotion': 40}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1316">Load Comments</button></br>
			<div id = "commentsection-1316" class = 'collapse'>
			<div id = "comment-2504" class = "comment">
				<p>So awesome - great work for all concerned in getting this for the site to have.</p>
			</div>
			</div>
				<textarea id = "speech-1316" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1316">
					<img id="start_img-1316" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1316">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>