<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why are robots made to mimic humans actions? Isn't it better to make them better than Humans?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10672" class = "post">
			<h2>Question</h2>
			<div id="vote-10672" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 99</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why are robots made to mimic humans actions? Isn't it better to make them better than Humans?</h2>
<p>Robots can be better than humans. If we attach a wheel to a robot, it can move faster than a human with legs.</p>

<p>But why then is a lot of research going on to make robots look, walk and talk like humans. Wouldn't it be better to make robots better than humans and not to be limited by the human body parameters?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10672" data-toggle = "popover">
				<p>user name : harryjohn</p>
				<p> user reputation : 18</p>
				<p class = "tagcontent" id = "usertaginfo-10672">{'None': 0, 'humanoid': 3, 'research': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10672" class = 'collapse'>
			</div>
				<textarea id = "speech-10672" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10672">
					<img id="start_img-10672" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10672">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10673"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10673" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><h2><em>better</em> you say ?</h2>

<p>That's a nice wheeled robot you have there. Can I borrow it for a day? Thanks.
Wow, it's really fast, I cannot keep up with it walking or running on the street.</p>

<p>Truly an amazing machine. I'd like to show it to my friends and family. They are waiting in my flat that's on the 3rd floor up the stairs...what do you mean it <strong>cannot move over stairs</strong>? It might be possible with some additional dedicated mechanics? I think you are stretching the meaning of the word "better" a little here.</p>

<p>So maybe your robot is not made for buildings. Let's go hiking. Uh huh? A <strong>narrow steep path with rocks and twigs</strong> is a difficult terrain for your robot to move around? Maybe we stop right here, because up in the mountains, there are some places where you have to perform jumps from one rock to another. Nothing fancy, the distance is about 1 meter, something the average adult human is easily capable of. Now I'm afraid that your <strong>robot might not be able to jump at all</strong>. Is that correct?
I would have loved to show my new "better" robot friend a hobby of mine: <strong>rope walking</strong>. Is it physically able to perform that action? <strong>If so, is it able to learn it?</strong></p>

<p>Maybe that robot is more of a beach boy? Let's go! ... What a bummer! It looks like those <strong>wheels aren't working at all on sand</strong>. I cannot take the robot along. But then what would be the point in doing that anyway, I suspect that <strong>this machine can neither swim nor dive</strong>.</p>

<blockquote>
  <p>If we attach a wheel to a robot, it can move faster than a human with legs.</p>
</blockquote>

<p>We do not need a robot for that. Any car will be better than a human <strong><em>for a few specific properties under very specific conditions</em></strong>. The human (and other animals) can <strong>adopt to many environments and perform many different motions</strong>. Even in previously <strong>unknown situations</strong>.</p>

<p>The only rule in this game is called <strong>survival of the fittest</strong>, not necessarily the fastest, strongest, etc.</p>

<p>And this is all just about motion. Let's say your robot can do all of the above, does it</p>

<ul>
<li>weight ~100kg or less?</li>
<li>work without external help? (no gps, no cloud computing, ...)</li>
<li>have a <strong>continuous coat of sensors</strong> that allows it to detect possible environmental dangers in order to protect itself from that? What if I approach your "better" robot with a blowtorch?</li>
<li>have a built in <strong>energy harvesting system</strong> capable of converting various kinds of materials (food) into usable energy?</li>
<li>have the ability to <strong>heal</strong> (!!!) minor damages on its own? </li>
</ul>

<p>Yeah, that RC car you got there can probably outpace a human. That makes it better in this single discipline under the suitable environmental conditions. Therefore calling it <em>better</em> than a human is a conclusion that I do not agree with.</p>

<h2>a matter of compatibility</h2>

<blockquote>
  <p>But why then is a lot of research going on to make robots look, walk and talk like humans.</p>
</blockquote>

<p>Because that's the interface that we have to our world. If you build a self driving car, you could easily come up with some electronic radio system to tell the car what road signs there are. But that means that you have to put this new system in place <strong>in parallel to the existing road signs</strong>.
You'd have to duplicate a whole lot of infrastructure to make it usable by robots. The robot would then be unable to perform in situations where this system he needs is not in place. Compare this to people in wheel chairs. They cannot use stairs either. This means a lot of effort to create additional ramps in front of buildings. They are humans, so we obviously do that. But I doubt anybody would want to buy a robot if that would require applying massive changes to their building.</p>

<p><strong>The robot should adopt to our world, not the other way round.</strong></p>

<p>Additionally, <strong>it's a proven design</strong>. The idea behind bionics is that we are surrounded by stuff that's <strong>out there for thousands if not millions of years</strong>. Ignoring that and starting from scratch is just stupid from an engineering perspective.</p>

<blockquote>
  <p>Wouldn't it be better to make robots better than humans and not to be limited by the human body parameters?</p>
</blockquote>

<p>It's an inspiration, an idea, not a goal. I doubt that any researcher is trying to build an exact copy of a human. It's not like they consider it a failure if their humanoid robot would be able to run faster than human, jump higher or bet them at chess.</p>

<p>But as mentioned above, a humanoid robot is compatible to other humans, while being able to adopt to a wide range of environments and situations and seems to be a decent concept overall. From an engineering point of view, it seems to be a plausible direction for research.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10673" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-10673">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10673">Load Comments</button></br>
			<div id = "commentsection-10673" class = 'collapse'>
			<div id = "comment-19222" class = "comment">
				<p>Very nice answer, right to the point.</p>
			</div>
			</div>
				<textarea id = "speech-10673" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10673">
					<img id="start_img-10673" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10673">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>