<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why people use camera instead of laser sensor for robot navigation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10761" class = "post">
			<h2>Question</h2>
			<div id="vote-10761" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 4062</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why people use camera instead of laser sensor for robot navigation?</h2>
<p>I am working on Robot localization and navigation in urban environments. I want to use Camera. But I am a little bit confused about LRF data or other laser data.</p>

<p>Why people want to use camera?</p>

<p>why not LRF or other laser data?</p>

<p>Can anyone explain please in favor of Camera?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10761" data-toggle = "popover">
				<p>user name : user14885</p>
				<p> user reputation : 51</p>
				<p class = "tagcontent" id = "usertaginfo-10761">{'stereo-vision': 10, 'None': 0, 'computer-vision': 10, 'laser': 10, 'lidar': 10}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10761" class = 'collapse'>
			</div>
				<textarea id = "speech-10761" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10761">
					<img id="start_img-10761" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10761">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10762"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10762" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A 3D laser range finder or LIDAR such as the one on the <a href="http://www.chriswaitecarsales.com/files/6714/6185/0375/chris-waite-car-sales-1.jpg">Google Car</a> is far more expensive than a camera. The other reason is that while in case of a LIDAR the distance of every pixel is available, the generated data to be processed is enormous. You have to transfer and process data faster which comes out again as rising cost. Finally cameras usually have a longer lifetime, so there is less maintenance required.</p>

<p>With relatively cheap cameras and computer vision, pretty good results can be achieved.</p>

<p>Examples:</p>

<ol>
<li><a href="https://player.vimeo.com/video/181488004">Object detection</a>  (Note that the suitcase pulled by a person is not highlighted in red).</li>
<li><a href="https://player.vimeo.com/video/181490038">Tracking</a></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10762" data-toggle = "popover">
				<p>user name : Bence Kaulics</p>
				<p> user reputation : 605</p>
				<p class = "tagcontent" id = "usertaginfo-10762">{'None': 26}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10762">Load Comments</button></br>
			<div id = "commentsection-10762" class = 'collapse'>
			<div id = "comment-19376" class = "comment">
				<p>Cost is absolutely the answer. Quality laser scanners start (for the end user) generally around $10,000. Quality cameras are about a tenth of the cost.</p>
			</div>
			<div id = "comment-19380" class = "comment">
				<p>What sort of LIDAR are you thinking of? I've used one that returned about 1000 points per scan (on a 2D plane), but a typical modern camera returns millions of pixels, which is much more data.</p>
			</div>
			<div id = "comment-19381" class = "comment">
				<p>@immibis - the Velodyne VLP-16 does about 300k points per second across 16 planes, and the SICK LMS511 does about 50k points per second across 1 plane. VLP-16 has a 360 degree field of view and is about 8k, the LMS511 has a 190 degree field of view and is about 10k, but is ruggedized for industrial use. These are *distance measurements*, not pictures. Cameras can of course return a higher resolution, but generally it takes such high firepower to do stereo etc. that the frames are downsampled to very low resolution B&W or the refresh rate is very low.</p>
			</div>
			<div id = "comment-19384" class = "comment">
				<p>So 300k points per second, versus 50-million-ish pixels per second. The camera still has more data to transfer. Of course *in either case* you can discard data/downsample if you can't process all of it fast enough.</p>
			</div>
			</div>
				<textarea id = "speech-10762" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10762">
					<img id="start_img-10762" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10762">Comment</button>
			<br><div id = "ans-10763"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10763" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In addition to those points in Bence's answer, cameras can:</p>

<ul>
<li>Calculate many complex features that result in very robust matching between frames, and object recognition</li>
<li>High angular resolution (typical low->high range goes from $0.5^\circ$ -> $0.025^\circ$)</li>
<li>Lower power usage</li>
<li>Passive sensor (doesn't require 'clean' signal of a laser)</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10763" data-toggle = "popover">
				<p>user name : Gouda</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-10763">{'control': 0, 'None': 39, 'computer-vision': 1, 'calibration': 1, 'cameras': 1, 'kalman-filter': 0, 'jacobian': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10763" class = 'collapse'>
			</div>
				<textarea id = "speech-10763" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10763">
					<img id="start_img-10763" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10763">Comment</button>
			<br><div id = "ans-10764"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10764" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>navigation in urban environments</p>
</blockquote>

<p>Depending on the laser, there might be legal constraints on where you can use it. Running around town throwing laser rays around might require special permission/licence.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10764" data-toggle = "popover">
				<p>user name : Bending Unit 22</p>
				<p> user reputation : 1335</p>
				<p class = "tagcontent" id = "usertaginfo-10764">{'None': 93}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10764">Load Comments</button></br>
			<div id = "commentsection-10764" class = 'collapse'>
			<div id = "comment-19387" class = "comment">
				<p>Sure, _depending on the laser_. But we're not talking about starship weapons, here. You don't need permission or a license to use a barcode scanner, for example.</p>
			</div>
			<div id = "comment-19390" class = "comment">
				<p>Most commercial LRFs (Velodyne, Hokuyo) use Class 1 lasers, and they're completely safe. Google, Uber etc. are already testing their prototypes outdoors with such LRFs installed. I really don't think their legal department is swamped with complaints from outraged parents..</p>
			</div>
			</div>
				<textarea id = "speech-10764" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10764">
					<img id="start_img-10764" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10764">Comment</button>
			<br><div id = "ans-10766"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10766" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><a href="https://robotics.stackexchange.com/questions/10695/are-there-any-advantages-to-using-a-lidar-for-slam-vs-a-standard-rgb-camera/10698?noredirect=1#comment19274_10698">Are there any advantages to using a LIDAR for SLAM vs a standard RGB camera?</a></p>

<p>You may check this link where I have previously answered a somewhat similar question. (advantages and disadvantages of each)</p>

<blockquote>
  <p>in urban environments</p>
</blockquote>

<p>If you are referring to autonomous cars like the Google ones, there are lots of considerations and constraints (safety, cost etc.).</p>

<p>If you are interested in research &amp; learning, I suggest that you use any hardware platform that is available.</p>

<p>Keep in mind: </p>

<ol>
<li>A car with a LIDAR that is extremely expensive won't be easily sold.</li>
<li>A car moving autonmously around people, might kill in case of a mistake. Thus the considerations are different than just developing algorithms for the sake of research and learning.</li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10766" data-toggle = "popover">
				<p>user name : AL-ROBOT</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-10766">{'None': 16}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10766" class = 'collapse'>
			</div>
				<textarea id = "speech-10766" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10766">
					<img id="start_img-10766" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10766">Comment</button>
			<br><div id = "ans-10768"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10768" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I don't think people really "want" to use only cameras. If every researcher could afford the LiDARs they'd all put LiDARs on they robots for outdoor environment. </p>

<p>Cameras are pretty cheap and the only limit to range is the pixel/superpixel resolution that you can process in your algorithm/software.</p>

<p>Most researchers (including me) use structured light cameras (although they don't work outdoors, so we switch to RGB cameras on these sensors when the robot is outdoors). A solution to this light problem is that we also use stereo cameras (stereo vision/multi-view depth which is computationally expensive) for roughly determining depth, based on the processing capabilities of the controller/CPU. Another solution that I've yet to personally explore is to use multiple Kinects/Asus Xtions etc, where you get depth corroboration as well as multiple RGB cameras for outdoors.</p>

<p>LiDARs are typically very expensive (in the thousands of $$ for really good ones). Although this might change in the future with some companies coming out with $250 "LiDARs" like <a href="http://spectrum.ieee.org/automaton/robotics/robotics-hardware/sweep-lidar-for-robots-and-drones" rel="nofollow">Sweep</a>.</p>

<p>Also, LRF's/LiDARs have limited range and resolution (i.e., beyond a certain distance, they cannot resolve depth unambiguously and hence they return 0 values (I'm not sure specifically about LiDARs, but depth cameras have a maximum (above which) as well as minimum range (below which) they dont give you depth).</p>

<p>Hope this helps.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10768" data-toggle = "popover">
				<p>user name : Anshul</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-10768">{'None': 10, 'irobot-create': 2, 'microcontroller': 0, 'openni': 1, 'kinect': 2, 'ros': 1, 'arm': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10768" class = 'collapse'>
			</div>
				<textarea id = "speech-10768" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10768">
					<img id="start_img-10768" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10768">Comment</button>
			<br><div id = "ans-10774"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10774" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Like other already answered. Cameras typically are much cheaper than <strong>L</strong>aser  <strong>R</strong>ange <strong>F</strong>inders. </p>

<p>When you talk about camera you mean the 2D cameras isn't it? There are some 3D cameras like the <a href="http://rosindustrial.org/news/2015/5/5/ros-driver-for-the-ifm-efector-o3d303" rel="nofollow">ifm O3D3xx</a> family of cameras available. Those camera may not have the accuracy of a laser scanner but they provide 3D depth data in reasonable frame rates at a price point of ~1k</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10774" data-toggle = "popover">
				<p>user name : graugans</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-10774">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10774" class = 'collapse'>
			</div>
				<textarea id = "speech-10774" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10774">
					<img id="start_img-10774" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10774">Comment</button>
			<br><div id = "ans-10779"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10779" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am going to add another reason that frankly I was hoping someone else would bring up. Because why do we make robots in the first place? Emotionless machines to do our dirty work?</p>

<p>I think that the fact that a robot can rely purely on "vision" like we mammals do makes them more like us. So for me, lasers and sonars are cheating. What IMHO we should focus on in stead of cheating is making better cameras with higher frame-rate, higher dynamic range and less artifacts, and write software that can get the needed data from them. (Or, speaking in post 2012 terms, train our networks to get what data they need from them).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10779" data-toggle = "popover">
				<p>user name : Lennart Rolland</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-10779">{'actuator': 3, 'None': 0, 'electronics': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10779" class = 'collapse'>
			</div>
				<textarea id = "speech-10779" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10779">
					<img id="start_img-10779" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10779">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>