<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why not incorporate a "thank you" button for helpful edits to your post?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2195" class = "post">
			<h2>Question</h2>
			<div id="vote-2195" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 44</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why not incorporate a "thank you" button for helpful edits to your post?</h2>
<p>I'm thinking along the lines of <a href="http://www.quora.com/Thanks-Quora-feature" rel="nofollow noreferrer">what Quora does.</a></p>

<p><img src="https://i.stack.imgur.com/bMVb9.png" alt="enter image description here"></p>

<p>For two reasons:</p>

<ol>
<li>Out of common decency. If someone edits the content of my post so that it substantively improves my answer, I'd like to just say thanks. </li>
<li>So those who do so can be recognized somehow for providing excellent edits. </li>
</ol>

<hr>

<p><strong>Notes:</strong> </p>

<p>Since editing badges just reflect volume of edits, I'm not sure (2) is satisfied to the same extent as an explicit thank you. </p>

<p>With that said <strong><em>(1) is my primary focus in this request</em></strong>. - it's not a "why edit?" question - what I'm asking, simple and trivial as it may be, boils down to: <em>"why can't I thank you for doing so?"</em></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2195" data-toggle = "popover">
				<p>user name : njboot</p>
				<p> user reputation : 5131</p>
				<p class = "tagcontent" id = "usertaginfo-2195">{'None': 0, 'support': 7, 'comments': 6, 'formatting': 4, 'feature-request': 0, 'discussion': 9, 'reputation': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2195">Load Comments</button></br>
			<div id = "commentsection-2195" class = 'collapse'>
			<div id = "comment-4181" class = "comment">
				<p>Could you document what you like about quota's implementation? It seems to behind some log in wall to actually read the link you posted.</p>
			</div>
			<div id = "comment-4182" class = "comment">
				<p>@bmike I signed out and tried the same link again and it still resolves - odd. At any rate, I've added a screenshot for clarity's sake. Thanks.</p>
			</div>
			</div>
				<textarea id = "speech-2195" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2195">
					<img id="start_img-2195" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2195">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2196"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2196" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For sub-2000 rep users I'll argue that the "thank you" comes by way of the edit being approved.</p>

<p>You have to remember that, under the terms and conditions of the site, you assign ownership of the answer to the community when you submit. It's not really "your answer" any more, it's the community's answer, so you personally thanking someone for the edit is not really important to the idea that is StackExchange.</p>

<p>In the case of <a href="https://apple.stackexchange.com/help/privileges/edit">+2k rep members who don't require approval for edits</a>, I'd hope that they understand the way the whole Stack Exchange model works well enough to not seek "thank you" notices for their edits.</p>

<p><strong>You edit because it makes the world a better place, not because someone will thank you for that edit.</strong></p>

<p>Your second request is covered by the Editor, Strunk &amp; White and Copy Editor badges. Approved edits are counted and used to earn those badges. Badges represent excellence in editing (to some degree).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2196" data-toggle = "popover">
				<p>user name : Ian C.</p>
				<p> user reputation : 31093</p>
				<p class = "tagcontent" id = "usertaginfo-2196">{'None': 282, 'support': 7, 'faq': 24, 'status-completed': 1, 'design': 7, 'feature-request': 1, 'graphics': 1, 'bug': 1, 'discussion': 24}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2196">Load Comments</button></br>
			<div id = "commentsection-2196" class = 'collapse'>
			<div id = "comment-4183" class = "comment">
				<p>Thanks for your input. I agree with the philosophy of the community and your personal sentiments as well. I also agree with the sub 2k argument. My original intention may not have been clear - it's not a question of "Why edit?", but rather just a feature, I feel, would be nice regardless of the motivations of the editor for performing those edits. *Nice* is not the same as *useful* though, which I understand. In the grand scheme, it's trivial, but what prompted me to ask this is a particular member (one of you mods, actually :) ) has provided crucial edits to a few of my answers as of late.</p>
			</div>
			<div id = "comment-4184" class = "comment">
				<p>@njboot I'm curious to see what the SE devs have to say about the request. My opinion on the matter is, of course, my own and probably not shared by StackExchange. :)</p>
			</div>
			</div>
				<textarea id = "speech-2196" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2196">
					<img id="start_img-2196" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2196">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>