<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why are Servo Motors so noisy?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-709" class = "post">
			<h2>Question</h2>
			<div id="vote-709" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">25</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3511</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why are Servo Motors so noisy?</h2>
<p>I was working on a project to make a bedside night light out of a stuffed butterfly or bird. I was making a mechanism to make the wings flap with a servo motor and some small gears. The <a href="http://www.vexrobotics.com/276-2162.html">servo motor</a> was very loud as it moved. And this was whether or not the servo was moving large amounts, small amounts, fast or slow. </p>

<p>I've worked with small servos before and realized they usually are pretty noisy machines, but I can't really explain why.</p>

<p>Why are small servo motors noisy when they move? Is it backlash in the internal gearing?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-709" data-toggle = "popover">
				<p>user name : Michael</p>
				<p> user reputation : 228</p>
				<p class = "tagcontent" id = "usertaginfo-709">{'None': 0, 'rcservo': 25}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-709">Load Comments</button></br>
			<div id = "commentsection-709" class = 'collapse'>
			<div id = "comment-913" class = "comment">
				<p>Amusingly, I've found that a lot of people like that sound. It sounds like robots!</p>
			</div>
			</div>
				<textarea id = "speech-709" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-709">
					<img id="start_img-709" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-709">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-713"  class = "post">
				<h2>Answer</h2>
			<div id="vote-713" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">31</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>They aren't.  The word servo refers solely to a device that uses negative feedback for control.</p>

<p>Gearboxes or cheap brushed motors can be noisy.  You can get very quiet systems if you are willing to pay for it.</p>

<p>Cheap hobby grade servos can sometimes chatter if they do not settle in a stable state.  This is normal and is caused by poor tuning, a lack of a deadband, and backlash between the motor and the encoder (potentiometer).</p>

<p>Gearbox noise is caused by the spur gear teeth hitting eachother.  You can use heavier grease or quieter gear geometries such as helical gears which mesh smoothly.</p>

<p><img src="https://i.stack.imgur.com/kOyp1.jpg" alt="enter image description here"></p>

<p>There are also piezoelectric or memory wire based servos which are completely silent.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-713" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-713">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-713">Load Comments</button></br>
			<div id = "commentsection-713" class = 'collapse'>
			<div id = "comment-900" class = "comment">
				<p>well this was during travel not while holding a position. So it must be the gearing inside that is making it noisy. Thanks for the input. 
Where does the term servo come from? I know a servosystem is something that relies on feedback for control, but where does the term come from?</p>
			</div>
			<div id = "comment-904" class = "comment">
				<p>Wikipedia suggests that the origin of the word servo is slave, so a servomechanism is a system whereby a motor, for example, is a slave to its encoder.</p>
			</div>
			<div id = "comment-1004" class = "comment">
				<p>I would argue that if there is a master to the motor, this master would be the controller and not the encoder. The encoder is merely the means by which the master witnesses the wrondoings of his slave... :)</p>
			</div>
			</div>
				<textarea id = "speech-713" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-713">
					<img id="start_img-713" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-713">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>