<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why do 3-axis accelerometers seemingly have a left-handed coordinate system?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1858" class = "post">
			<h2>Question</h2>
			<div id="vote-1858" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 688</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do 3-axis accelerometers seemingly have a left-handed coordinate system?</h2>
<p>Careful inspection of page 35 (figure 58) of the <a href="http://www.analog.com/media/en/technical-documentation/data-sheets/ADXL345.pdf" rel="nofollow noreferrer">ADXL345 datasheet</a> shows that under gravitational loading only, the chip uses a left-handed coordinate system.  My own experiments with this chip confirm this.  </p>

<p>I typically only use the chip to indicate the gravity vector.  So when using this chip, I simply negate the values to get a right handed coordinate system.  But this doesn't seem right.  I assume there is a logical and mathematical explanation for the left-handed coordinate system but i can't figure out what it might be. </p>

<p><img src="https://i.stack.imgur.com/bItD6.png" alt="Image from ADXL345 Datasheet"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1858" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-1858">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1858">Load Comments</button></br>
			<div id = "commentsection-1858" class = 'collapse'>
			<div id = "comment-3830" class = "comment">
				<p>Not sure if there's a standard for this, but could have something to do with the fact that most flight dynamics application uses right handed coordinate system (perhaps the manufacturer thought accelerometers will find maximum usage in aerial bots/vehicles). Just a guess though. But what is your question anyways? If you do not like the coordinate system, transform it to whichever system suits you best!</p>
			</div>
			<div id = "comment-12883" class = "comment">
				<p>Also, if you negate *all* of your values, you're not actually converting to another coordinate system, you're just moving from [octant 1 to octant 7](https://en.wikipedia.org/wiki/Octant_(solid_geometry)#/media/File:Octant_numbers.svg). Consider instead [swapping the y- and z-axes.](http://stackoverflow.com/a/1264880)</p>
			</div>
			<div id = "comment-12909" class = "comment">
				<p>Seems like a valid question to me...</p>
			</div>
			</div>
				<textarea id = "speech-1858" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1858">
					<img id="start_img-1858" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1858">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1862"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1862" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>At the end of the day, you can use a matrix to transform whatever coordinate system was used to your own system. This is typically the case when you have to place parts in a certain direction because of routing difficulties. Using a simple 3x3 matrix you can transform X,Y,Z readings so that they all align on multiple sensors. The matrix will have 0, 1 and -1 values accordingly depending on how the transformation is to be done.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1862" data-toggle = "popover">
				<p>user name : Gustavo Litovsky</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-1862">{'None': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1862">Load Comments</button></br>
			<div id = "commentsection-1862" class = 'collapse'>
			<div id = "comment-12910" class = "comment">
				<p>That doesn't at all answer *why* a left hand coordinate system is used.</p>
			</div>
			</div>
				<textarea id = "speech-1862" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1862">
					<img id="start_img-1862" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1862">Comment</button>
			<br><div id = "ans-8109"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8109" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My best guess for this would be that, with a left-handed coordinate system, gravity is positive when you are right side up and negative when you are upside down. As mentioned in my comment, be careful about how you "transform" your coordinate systems - negating <em>all</em> values just moves you from one octant to another. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8109" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8109">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8109" class = 'collapse'>
			</div>
				<textarea id = "speech-8109" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8109">
					<img id="start_img-8109" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8109">Comment</button>
			<br><div id = "ans-8320"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8320" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is not using a left-handed coordinate system! Check out my crude edits to the diagram.</p>

<p><a href="https://i.stack.imgur.com/kKyvJ.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/kKyvJ.png" alt="enter image description here"></a></p>

<p>Note each coordinate system (RGB for XYZ, black for gravity) has the gravity vector aligned in the negative direction of the appropriate axis, while the diagram shows a positive reading. I could have drawn them the other way but the actual acceleration in the absence of gravity would be upwards to produce the same reading. Maybe this is why negating the values works for your application.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8320" data-toggle = "popover">
				<p>user name : Brian Lynch</p>
				<p> user reputation : 1237</p>
				<p class = "tagcontent" id = "usertaginfo-8320">{'None': 85}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8320">Load Comments</button></br>
			<div id = "commentsection-8320" class = 'collapse'>
			<div id = "comment-13330" class = "comment">
				<p>So you are saying that if you accelerate the chip in the X direction with a quantity of 1g, it will output a response of -1g in X?  This is simply restating the question.  I know this is a right-handed coordinate system.  The question is why the negation.</p>
			</div>
			<div id = "comment-13331" class = "comment">
				<p>I'm not restating the question, you are saying it uses a left-handed coordinate system, but your diagram shows a right-handed coordinate system according to the various responses. My comment is about the fact that if you accelerate in the "forward" direction (say in your car) then you will feel the weight pushing "backwards" -- and that is the principal behind how the accelerometer works. Gravity is felt even though you are not accelerating, so if you wanted to get the same signal in zero-gravity, you would need to accelerate upwards not downwards. Sorry if my answer is a bit confusing!</p>
			</div>
			<div id = "comment-13332" class = "comment">
				<p>If you accelerate the chip in the X direction with a quantity of 1g, it will output a response of 1g in X (not -1g). Consider when gravity is pointing in the -X direction (i.e., the configuration on the top in the left hand side of the diagram), if you were to accelerate in the X direction, you would feel additional weight pushing back, so that would add to the 1g already being felt by gravity -- positive in the X direction as shown in the manufacturer diagram. On the other hand, if you dropped it in that configuration, it would accelerate with -1g in the X direction and cancel out to 0.</p>
			</div>
			</div>
				<textarea id = "speech-8320" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8320">
					<img id="start_img-8320" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8320">Comment</button>
			<br><div id = "ans-8324"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8324" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The answer is that 3-axis accelerometers <strong>don't</strong> have a left handed coordinate system just for the gravity. In static condition (i.e. if the accelerometer is not accelerating with respect to any inertial frame) they measure the <strong>opposite</strong> of gravity acceleration, not the gravity acceleration itself. </p>

<p>In more general terms, the accelerometers measure the difference between the <strong>actual</strong> acceleration of the sensor with respect to any inertial frame and the gravitational acceleration:
$$
a_{accelerometer} = a_{sensorFrame} - g 
$$
This "acceleration" measured by the accelerometer is sometimes called <a href="https://en.wikipedia.org/wiki/Proper_acceleration" rel="nofollow"><em>proper acceleration</em></a>.</p>

<p>This can be easily verified by checking the measure of an accelerometer in free fall: as in that case the <strong>actual</strong> acceleration of the sensor will be equal to $g$, the accelerometer measure will be $0$. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8324" data-toggle = "popover">
				<p>user name : traversaro</p>
				<p> user reputation : 81</p>
				<p class = "tagcontent" id = "usertaginfo-8324">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8324" class = 'collapse'>
			</div>
				<textarea id = "speech-8324" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8324">
					<img id="start_img-8324" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8324">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>