<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why do we generally prefer DH parameters over other kinematic representations of robot arms?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7763" class = "post">
			<h2>Question</h2>
			<div id="vote-7763" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 867</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do we generally prefer DH parameters over other kinematic representations of robot arms?</h2>
<p>I am specifically interested in DH parameters versus other representations in terms of kinematic calibration.  The best (clearest) source of information I could find on kinematic calibration is in the book "<a href="https://www.google.com/shopping/product/18328483085519729280" rel="nofollow">Robotics: Modelling, Planning and Control</a>" by Bruno Siciliano, Lorenzo Sciavicco, Luigi Villani, Giuseppe Oriolo, chapter 2.11.  Which requires a description of the arm in DH parameters, multiplying out the kinematics equation, partial differentiation w.r.t. each DH parameter, then a least-squares fit (with the left pseudo-inverse), then iterate.  </p>

<p>Is there some fundamental reason why DH parameters are used instead of a different representation (like xyz + euler angles).  I understand that there are fewer parameters (4 versus 6 or more), but for a calibration procedure like this I will be taking much more data than unknowns anyway.  All the robotics textbooks i have read just present DH parameters and say "this is what you should use", but don't really go into <em>why</em>.  Presumably this argument can be found in the original paper by Denavit, but I can't track it down.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7763" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7763">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7763">Load Comments</button></br>
			<div id = "commentsection-7763" class = 'collapse'>
			<div id = "comment-11342" class = "comment">
				<p>I've deleted my answer because I don't think any one person is going to answer all four questions to your satisfaction and I feel like you are going through after-the-fact to put more emphasis on some questions. Please split this up into four separate questions if you have four different ones and we can answer each individually.</p>
			</div>
			<div id = "comment-11391" class = "comment">
				<p>Thank you for the critique @Chuck.  You are right that the original question was too broad and unfocused.  The question should be much more specific now.</p>
			</div>
			<div id = "comment-11392" class = "comment">
				<p>So, to be clear, you don't care/want no advice about your position error, you are just interested in the reasoning behind using DH parameters over other methods of joint descriptions?</p>
			</div>
			<div id = "comment-11396" class = "comment">
				<p>Correct.  I felt the need to include some background information on the nature of the errors in case that comes into play.  But I guess it is still a little off topic.  I removed the first paragraph to further clarify the question.</p>
			</div>
			<div id = "comment-11400" class = "comment">
				<p>Does this post answer your questions: http://robotics.stackexchange.com/questions/2758/what-are-the-advantages-of-using-the-denavit-hartenberg-representation</p>
			</div>
			</div>
				<textarea id = "speech-7763" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7763">
					<img id="start_img-7763" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7763">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7851"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7851" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>@Paul's link provides a correct synopsis.</p>

<p>Additional, practical benefits are:</p>

<p>1) DH provides a guaranteed minimal representation. Very good for linear algebra computations, as you want to use the most compact form that's available.</p>

<p>2) DH matrices are very straight-forward to solve. Fast computations are often needed for velocities, accelerations, rotations, translations, center of gravity, all variations of Jacobian derivations, essentially all kinematics.</p>

<p>3) Using DH with a least-squares technique will help in the reduction of error faster, ie: faster convergence of the estimated states.</p>

<p>If you keep reading "Robotics: M P C," you'll see the same style of linear algebra derivations popping up.  The authors derived these equations to all work with the simple DH matrices.  You can use any other representation, but you'll have to re-derive the kinematics. :)</p>

<p>Good luck,
Ryan</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7851" data-toggle = "popover">
				<p>user name : Ryan Loggerythm</p>
				<p> user reputation : 265</p>
				<p class = "tagcontent" id = "usertaginfo-7851">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7851">Load Comments</button></br>
			<div id = "commentsection-7851" class = 'collapse'>
			<div id = "comment-11414" class = "comment">
				<p>I agree. As I had mentioned earlier, "Regarding your question about DH parameters: they are so widely used that there are some pretty standard methods established if you've defined your system with them so you don't wind up re-deriving everything from scratch."</p>
			</div>
			<div id = "comment-11420" class = "comment">
				<p>Exactly, and if you get used to this notation, you'll get used to the math much easier.</p>
			</div>
			</div>
				<textarea id = "speech-7851" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7851">
					<img id="start_img-7851" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7851">Comment</button>
			<br><div id = "ans-7943"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7943" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have been doing a lot of reading up on kinematic calibration and here is what I found:</p>

<p>From [1]:</p>

<blockquote>
  <p>A kinematic model should meet three basic requirements for
  kinematic-parameter identification:</p>
  
  <p>1) Completeness: A complete model must have enough parameters to describe any possible deviation of the actual kinematic parameters from the nominal values.   </p>
  
  <p>2) Continuity: Small changes in the geometric structure of the robot must
  correspond to small changes in the kinematic parameters. In
  mathematics, the model is a continuous function of the kinematic
  parameters.</p>
  
  <p>3) Minimality: The kinematic model must include only a
  minimal number of parameters. The error model for the kinematic
  calibration should not have redundant parameters.</p>
</blockquote>

<p>While DH parameters are complete and minimal, they are not continuous.  In addition, there is a singularity when two consecutive joints have parallel axes.  From [2]:</p>

<blockquote>
  <p>Our assumption is that small variations in the position and orientation of two consecutive links can be modeled by small variations of the link parameters.  This assumption is violated if we use the Denavit and Hartenberg link geometry characterization when the two consecutive joints have parallel or near parallel axes.</p>
</blockquote>

<p>This has led a number of researchers to propose alternative models.  Namely the Hayati model [2], Veitschegger and Wu s model [3], Stone and
Sanderson s S-model [4], and the "Complete and Parametrically Continuous" (CPC) model [5].</p>

<p>These models typically involve adding parameters.  Which creates redundancy that has to be dealt with.  Or they are specifically tailored to the geometry of their robot.  Which eliminates generality.</p>

<p>One alternative is the Product of Exponentials formulation [6].  The kinematic parameters of in POE model vary smoothly with changes in joint axes and can handle kinematic singularities naturally.  However, due to the use of joint twists, this method is not minimal.  This led Yang et al. [7] to propose a POE formulation with only 4 parameters per joint which is minimal, continuous, complete, and general.  They do this by choosing joint frames very specifically.  (Which actually vaguely resemble D-H frames).</p>

<hr>

<p>[1]: Ruibo He; Yingjun Zhao; Shunian Yang; Shuzi Yang, "Kinematic-Parameter Identification for Serial-Robot Calibration Based on POE Formula," in Robotics, IEEE Transactions on , vol.26, no.3, pp.411-423, June 2010</p>

<p>[2]: Hayati, S.A., "Robot arm geometric link parameter estimation," in Decision and Control, 1983. The 22nd IEEE Conference on , vol., no., pp.1477-1483, - Dec. 1983</p>

<p>[3]: W. Veitschegger and C. Wu,  Robot accuracy analysis based on kinematics,  IEEE Trans. Robot. Autom., vol. RA-2, no. 3, pp. 171 179, Sep.
1986.</p>

<p>[4]: H. Stone and A. Sanderson,  A prototype arm signature identification
system,  in Proc. IEEE Conf. Robot. Autom., Apr. 1987, pp. 175 182.</p>

<p>[5]: H. Zhuang, Z. S. Roth, and F. Hamano,  A complete and parametrically
continuous kinematic model for robot manipulators,  IEEE Trans. Robot.
Autom., vol. 8, no. 4, pp. 451 463, Aug. 1992.</p>

<p>[6]: I. Chen, G. Yang, C. Tan, and S. Yeo,  Local POE model for robot kinematic calibration,  Mech. Mach. Theory, vol. 36, no. 11/12, pp. 1215 
1239, 2001.</p>

<p>[7]: Xiangdong Yang, Liao Wu, Jinquan Li, and Ken Chen. 2014. A minimal kinematic model for serial robot calibration using POE formula. Robot. Comput.-Integr. Manuf. 30, 3 (June 2014), 326-334.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7943" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-7943">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7943" class = 'collapse'>
			</div>
				<textarea id = "speech-7943" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7943">
					<img id="start_img-7943" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7943">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>