<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why are the IRB 1410's servos running even when the joints are not moving?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1306" class = "post">
			<h2>Question</h2>
			<div id="vote-1306" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 180</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why are the IRB 1410's servos running even when the joints are not moving?</h2>
<p>I was jogging the ABB IRB1410 and I noticed that the servo motors are humming even when the joints are not moving. The motor cuts off only when the guard switch in the flex pendant is released.</p>

<p><strong>What kind of mechanism which require the drive motors to keep running even when the joints are not moving ?</strong> I went through the manual but no luck. I suppose the holding torque is provided by some braking mechanism so I think I can rule it out.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1306" data-toggle = "popover">
				<p>user name : atree</p>
				<p> user reputation : 124</p>
				<p class = "tagcontent" id = "usertaginfo-1306">{'None': 0, 'calibration': 1, 'lidar': 1, 'servomotor': 1, 'industrial-robot': 2, 'ugv': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1306" class = 'collapse'>
			</div>
				<textarea id = "speech-1306" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1306">
					<img id="start_img-1306" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1306">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1307"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1307" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The motors in ABB robots have integrated brakes that are <strong>engaged when not energized</strong>. They hold the position of the joint and prevent the arm from falling if power is lost. The flex pendant enable switch actually drives a relay in the controller that removes or applies all power to the motors. This is done for safety reasons, so that in the event of a mishap (i.e, you drop the pendant), the robot becomes completely de-engerized.</p>

<p>When you enable the robot for jogging, it disengages the brake, applies power to the servo, and uses the static torque to hold the joint position instead of the brake. When you release the switch or cut the power in some other way, the brakes engage again.</p>

<p>Search Google for "Product manual Motor Unit MU10/20/30" for more details.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1307" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-1307">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1307" class = 'collapse'>
			</div>
				<textarea id = "speech-1307" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1307">
					<img id="start_img-1307" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1307">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>