<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why is it so hard to walk?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10616" class = "post">
			<h2>Question</h2>
			<div id="vote-10616" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 264</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why is it so hard to walk?</h2>
<p>At least, on two legs. <a href="https://www.youtube.com/watch?v=IMR553sg3-Q" rel="nofollow">Asimo</a>, one of the best known humanoid robots, is already capable to walk, although it doesn't seem to do this very stable. And it is a recent result.</p>

<p>As far I know, the legs are essentially many-dimensional non-linear systems, the theory of their control is somewhere in the border of the "very hard" and the "impossible". </p>

<p>But, for example, the airplanes are similarly many-dimensional and non-linear, despite that, autopilots are controlling them enough well some decades ago. They are enough trusted to confide the lives of hundreds of living humans to them.</p>

<p>What is the essential difference, what makes the walking so hard, while the airplane controlling so easy?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10616" data-toggle = "popover">
				<p>user name : peterh</p>
				<p> user reputation : 151</p>
				<p class = "tagcontent" id = "usertaginfo-10616">{'control': 10, 'stability': 10, 'None': 0, 'walking-robot': 10}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10616">Load Comments</button></br>
			<div id = "commentsection-10616" class = 'collapse'>
			<div id = "comment-19111" class = "comment">
				<p>This is a good question that deserves a serious, analytical response. I am confident that by comparing the control objectives of the two systems, the answer will be obvious, but to do this, your question should be refined so that answers don't make incorrect assumptions. When you reference robotic walking, are you talking about walking in unknown environments (obstacles, uneven terrain, etc.)? When you refer to autopilots, do you mean only to include cruising, or are you suggesting that complete autonomous flight has been solved?</p>
			</div>
			</div>
				<textarea id = "speech-10616" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10616">
					<img id="start_img-10616" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10616">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10617"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10617" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Firstly, you have to take into account the all powerful symbol: $</p>

<p>Research is always at odds with $, and it's notoriously difficult to get all the funding you'd want. Meanwhile, the airplane industry is pulling a <em>profit</em> of 33$ B-b-b-billllllllion in 2016. That's a lot of money to work with, and plenty of reason to give it to people who can make automated systems for worst-case scenarios like pilot incapacitation, etc.</p>

<p>There's also time. Many more years and people have been spent working on airplanes and perfecting their singular goal of making people move through the sky.</p>

<p>Academically, it's a different problem set. Airplanes, as noted, have been an ongoing area of development for (relative to walking machines) a very long time. Everything from landing gear to thrust control to aileron manipulation have been worked on extensively and modularly improved; it is thus not a 'from-scratch' process to automate these procedures. </p>

<p>Walking, however, is perhaps a more complicated task. Firstly, there is balancing. The human body took millions upon millions of years to engineer, and we have all the proper mechanics under the skin to turn our ankle this way or that, etc. Replicating these mechanics is difficult enough, but teaching a robot to (on the proper timescale) understand and react to balance is hard. Then we add on the issue of terrain. Walking up a few stairs or a rocky hill, balancing yourself just got a lot harder. And in walking, you lift a leg, let yourself basically fall a few inches forward, and then catch yourself, immediately balancing, grasping a foothold, and already lifting your other foot.</p>

<p>That being said, I think you might be missing a few cool advancements in the robotic-walking sector, and you might be intrigued by <a href="https://www.youtube.com/watch?v=rVlhMGQgDkY">THIS</a> Boston Dynamics video.</p>

<p>A few minutes in, and you will surely see the scale of the mechanical and technological feat this is.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10617" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-10617">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10617" class = 'collapse'>
			</div>
				<textarea id = "speech-10617" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10617">
					<img id="start_img-10617" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10617">Comment</button>
			<br><div id = "ans-10622"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10622" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><strong>Dynamic walking</strong></p>

<p>The reason why biped walking is more difficult is because lifelike physics-simulation like box2d, havok etc are a relativ new concept in computerhistory. The first widelyknown game which utilized a physics engine was Angry Birds (2009). Later came the QWOP simulator and others. </p>

<p>The first research was done on MIT Lab under Marc Raibert. He not only build the one-leg robot, but also created a computeranimation which fullfill the requirements of SIGGRAPH 1991. Later, Boston Dynamics also first developed a physics simulation inside new algorithm were tested. The first game-engine for the consumer market which supported walking-characters was NaturalMotion Euphoria which was programmed around the year 2000. The time before, the computerhardware was not fast enough to simulate physics in realtime. A biped controller on top of a physics-engine can only be invented if the simulation works reasonable fast.</p>

<p><strong>Autopilots in airplanes</strong></p>

<p>It is simply wrong that autopilots for airplanes exists or that they are capable for landing a Boeing A380. Even current military drones like X-47B need a human-in-the-loop for landing (<a href="http://flighttestsafety.org/images/stories/workshop/2012/Loustaunau.pdf" rel="nofollow">Lessons learned during developmental test of the x-47b aircraft, page 21</a> "Mission operators worked directly with coders to develop / validate plan"). Only in steam-punk universe, autonomous airplanes are available and works reasonable well.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10622" data-toggle = "popover">
				<p>user name : Manuel Rodriguez</p>
				<p> user reputation : 463</p>
				<p class = "tagcontent" id = "usertaginfo-10622">{'None': 18, 'motion-planning': 0, 'machine-learning': 1, 'algorithm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10622">Load Comments</button></br>
			<div id = "commentsection-10622" class = 'collapse'>
			<div id = "comment-19074" class = "comment">
				<p>"*The first widelyknown game which utilized a physics engine was Angry Birds (2009).*" This statement is extremely skewed towards the property "widelyknown" and is just plain wrong in general. There were many games before Angry Birds that utilized a physics engine. I remember 2D physics based games from the 90s. Half-life 2's [zero-point energy field manipulator](https://en.m.wikipedia.org/wiki/Gravity_gun) is an example in 3D from 2004. Angry Birds was popular, but it was not a state of the art physics engine. And it's questionable how such engines for games compare to those in robotics.</p>
			</div>
			<div id = "comment-19075" class = "comment">
				<p>That is ok, thanks the answer. But, although physics modelling is a new thing in the IT, the control theory is not. Corresponding to the comparation in the question, we can see: in 2009 were the autopilots already a well-tested, widely used, stable technology.</p>
			</div>
			</div>
				<textarea id = "speech-10622" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10622">
					<img id="start_img-10622" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10622">Comment</button>
			<br><div id = "ans-10626"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10626" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not sure I agree that bipedal walking is so much harder that airplane control. It depends on how you look at it.</p>

<p>Many robots can walk (bipedal walking) and many airplanes are difficult to control because of their flight characteristics or the flight conditions. It is easier for robots to walk in nice conditions. There are many weather conditions too difficult for many airplanes to be controlled in. Occasionally some of those airplanes with hundreds of people in them crash because of this.</p>

<p>But let's focus on what makes bipedal locomotion in robots hard, and why walking robots are not in everyone's home since I think that is your real question.</p>

<p>Walking requires understanding and reacting to how the environment and gravity will apply forces to, and move, your body. Most walking robots measure the orientation of all their parts and have an inertial sensor (like your inner ear) that tells them how they are oriented with gravity, and so they can predict (and control) the influence of gravity on their motion. </p>

<p>Understanding how the environment will apply forces to you is more difficult. Walking on a hard, smooth surface is easy because you can make assumptions about what the contact between the foot and floor is like, and what the friction between them is. Many walking robots will have a force-torque sensor at the ankle to help measure these contacts. Some will have contact sensors in the sole of the foot. </p>

<p>If you try to walk on an irregular or unstable surface, it becomes a lot more difficult. You can no longer make assumptions, but instead have to estimate in real time what the friction of the contact is. This is difficult to do without the right sensors, and if the robot was designed with a bunch of assumptions about the walking environment in mind, it will have a hard time in a different environment. If you estimate the friction and foot support wrong, the robot slips and falls.</p>

<p>That's foot contact... but of course, when we navigate through an environment we use our hands for stability, we might lean against something temporarily, and we bump into things and recover from that. If you go look at the research being done in humanoid robotics, you will see that different projects have investigated (and to some degree, solved) all these problems. </p>

<p>Now think of the things that cause your walking to fail. A small lip that you did not see in a doorway will trip you. A step that is a different height than the others can cause you to stumble. A surface you are standing on that collapses will cause you to lose your balance. A good walking robot will have to perceive and control for all these things. So not only do we need control for walking, and control for exception recovery, but also good perception and environment models to predict where we need to change our control to a different, more appropriate approach.</p>

<p>The problem becomes very complex. It's not a control problem, it's a total system of perception, planning, reflex, and control that needs to be designed. Each year we make progress, but there is more progress needed in creating a system with all the sensing, sensor fusion, processing and actuation needed for good bipedal locomotion in human environments.</p>

<p>Why is it so hard to walk? If I had to pick one, I'd say that perception is the area that needs the most work, rather than control. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10626" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10626">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10626">Load Comments</button></br>
			<div id = "commentsection-10626" class = 'collapse'>
			<div id = "comment-20906" class = "comment">
				<p>thanks for the info. I may disagree with "*Many airplanes are difficult to control*". These airplanes are controlled based on linear systems and linear systems are very well established field. The stability is black and white in linear systems.</p>
			</div>
			<div id = "comment-20929" class = "comment">
				<p>Stability is black and white in linear systems theory. Real airplanes don't work that way. They aren't linear. You might review the approaches being used, and researched, for flight controllers.</p>
			</div>
			<div id = "comment-20930" class = "comment">
				<p>Please refer lectures of Pro. Jean-Jacques Slotine at MIT. In his lectures, he states this fact regarding airplanes, however, this is not the case with jet fighters or planes that perform aggressive maneuvers.</p>
			</div>
			<div id = "comment-20957" class = "comment">
				<p>I think if we talked it through there would be no disagreement, just a clarification on which airplane types and flight conditions would be tractable to linear control and provably stable. I added a qualifier in my answer to try to make it more clear.</p>
			</div>
			</div>
				<textarea id = "speech-10626" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10626">
					<img id="start_img-10626" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10626">Comment</button>
			<br><div id = "ans-11748"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11748" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A bipedal robot is essentially unstable - a little knock will cause it to fall over. </p>

<p>A commercial aircraft is essentially stable - a little gust of wind might move it off course, but it will keep flying the right way up and not simply fall out the sky. </p>

<p>Although aircraft with <a href="https://en.wikipedia.org/wiki/Relaxed_stability" rel="nofollow noreferrer">relaxed stability</a> do exist, but for relaxed stability it is only recently that they can be controlled using fairly complicated automated control systems, and even then they are not anything like as unstable as a bipedal robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11748" data-toggle = "popover">
				<p>user name : Pete Kirkham</p>
				<p> user reputation : 357</p>
				<p class = "tagcontent" id = "usertaginfo-11748">{'None': 19}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11748" class = 'collapse'>
			</div>
				<textarea id = "speech-11748" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11748">
					<img id="start_img-11748" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11748">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>