<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why was this answer low quality?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2098" class = "post">
			<h2>Question</h2>
			<div id="vote-2098" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 38</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why was this answer low quality?</h2>
<p>The <a href="https://apple.stackexchange.com/review/low-quality-posts/61228">answer below</a> was marked a low quality. Why? It's one of the most complete answers..</p>

<p><img src="https://i.stack.imgur.com/dj7A6.png" alt="enter image description here"></p>

			</div>
			<div id = "userinfo-2098" style = "float:right">
				<p>user name : Rob</p>
				<p> user reputation : 5701</p>
				<p> user tag wise history : {'None': 17, 'editing': 4, 'status-completed': 1, 'tags': -2, 'discussion': 11, 'answers': 3, 'bug': 8, 'close-reasons': 0, 'reputation': 3, 'design': 6, 'accepted-answer': 3, 'chat': 5, 'flagging': 3, 'status-bydesign': 3, 'status-declined': -2, 'review-page': 9, 'support': 11, 'badges': 4, 'feature-request': 10}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2098" class = 'collapse'>
			</div>
				<textarea id = "speech-2098" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2098">
					<img id="start_img-2098" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2098">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2099"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2099" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The exact algorithm used to denote whether a post is low quality has not been released publicly to prevent gaming the system.</p>

<p>However, from the little information released on Meta.SE, it seems each post is given a score based on its content. Good things increase the score and bad things decrease it. The old 10k tools used to show this raw score directly, however as the 10k flags have been obliterated, it's no longer possible to see (except diamond mods).</p>

<p>With the above answer, I'd hypothesise that it was just on the boundary, with titles that didn't start with capitals, multiple links and 'advertising' of a 30 day trial.</p>
</p><br>
			</div>
			<div id = "userinfo-2099" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2099">Load Comments</button></br>
			<div id = "commentsection-2099" class = 'collapse'>
			<div id = "comment-4030" class = "comment">
				<p>Excessive links is the key here I think, SE may also have a blacklist of domains that have been implicated in previous flagged content too</p>
			</div>
			<div id = "comment-4031" class = "comment">
				<p>Also frequent, rapid edits by the author. That'll raise a flag as well with the system.</p>
			</div>
			</div>
				<textarea id = "speech-2099" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2099">
					<img id="start_img-2099" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2099">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>