<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why is ROS not a real-time operating system?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2531" class = "post">
			<h2>Question</h2>
			<div id="vote-2531" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3174</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why is ROS not a real-time operating system?</h2>
<p>ROS is not real-time OS.
After reading the architecture of ROS, I am unable to realize why is ROS not real-time? What part of the architecture or what design decision is causing that?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2531" data-toggle = "popover">
				<p>user name : Manas Paldhe</p>
				<p> user reputation : 136</p>
				<p class = "tagcontent" id = "usertaginfo-2531">{'None': 0, 'ros': 7}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2531">Load Comments</button></br>
			<div id = "commentsection-2531" class = 'collapse'>
			<div id = "comment-4882" class = "comment">
				<p>Just as a reference; the same topic on ROS side http://answers.ros.org/question/134551/why-is-ros-not-real-time/</p>
			</div>
			</div>
				<textarea id = "speech-2531" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2531">
					<img id="start_img-2531" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2531">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2532"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2532" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check out this website, <a href="http://www.control.com/thread/1026205354" rel="nofollow">http://www.control.com/thread/1026205354</a> you'll find your answer. The reason I directed you to this website is because ROS is an Operating System to provide Real-Time like operation but not truly. You can also call it as Pseudo-RTOS. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2532" data-toggle = "popover">
				<p>user name : Tva </p>
				<p> user reputation : 356</p>
				<p class = "tagcontent" id = "usertaginfo-2532">{'product-of-exponentials': 2, 'None': 17, 'inverse-kinematics': 3, 'algorithm': 1, 'c': 1, 'books': 1, 'kinematics': 1, 'mobile-robot': 0, 'sensors': 1, 'dynamics': 1, 'micromouse': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2532">Load Comments</button></br>
			<div id = "commentsection-2532" class = 'collapse'>
			<div id = "comment-4879" class = "comment">
				<p>I am expecting an answer particular to the implementation of ROS.</p>
			</div>
			<div id = "comment-4880" class = "comment">
				<p>Implementation as in ? :/</p>
			</div>
			<div id = "comment-4896" class = "comment">
				<p>implementation as in, what particular part of ROS is the cause for it not being RT?</p>
			</div>
			<div id = "comment-4897" class = "comment">
				<p>I found that it used TCP for communication and so is not RT</p>
			</div>
			<div id = "comment-4917" class = "comment">
				<p>@Tva  Thanks for the very informative link. However, is there a chance you can summarise the most salient points from that discussion? This helps prevent link rot and ensures people take the right answer away from this question.</p>
			</div>
			</div>
				<textarea id = "speech-2532" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2532">
					<img id="start_img-2532" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2532">Comment</button>
			<br><div id = "ans-2539"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2539" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>ROS isn't even an operating system, it's a framework and it's usually built on top of Ubuntu. First and foremost, it provides a clean way to write several modular programs with inputs and outputs and stitch them together at runtime.</p>

<p>There's no reason you can't run ROS inside a RTOS (however, it was developed on Ubuntu, so it will take effort to get it running on anything else.)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2539" data-toggle = "popover">
				<p>user name : DrRobotNinja</p>
				<p> user reputation : 231</p>
				<p class = "tagcontent" id = "usertaginfo-2539">{'None': 10}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2539" class = 'collapse'>
			</div>
				<textarea id = "speech-2539" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2539">
					<img id="start_img-2539" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2539">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>