<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why can Humans single out audio in a crowd? What would it take for a robot to do the same?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1615" class = "post">
			<h2>Question</h2>
			<div id="vote-1615" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 191</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why can Humans single out audio in a crowd? What would it take for a robot to do the same?</h2>
<p>I was at a Robotics conference earlier today and one of the speakers mentioned robots not being able to function as well in a crowd because they can't single out audio like a person can.  </p>

<p>Why can people single out audio so well?  And what would it take for a robot to do the same?</p>

<p>I'm aware of Active Noise Reduction (ANR) like on Bose Aviation headset, but that is not what I'm talking about.  I am thinking about the ability to take everything in but process only what you feel is important. </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1615" data-toggle = "popover">
				<p>user name : Sponge Bob</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-1615">{'None': 0, 'artificial-intelligence': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1615" class = 'collapse'>
			</div>
				<textarea id = "speech-1615" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1615">
					<img id="start_img-1615" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1615">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1616"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1616" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think there are at least three things going on:</p>

<ol>
<li>Filtering that is dependant on the location the sound is coming from.  Our stereo hearing combined with certain attributes of how our ears are built helps us isolate sound coming from a particular location/direction.</li>
<li>Filtering that is dependant on the frequency/amplitude of the audio.</li>
<li>The redundancy in the audio allows us to reconstruct the input.  If multiple people are speaking over each other (or generally in the presence of noise) we only need to catch a fraction of what's being said (or sometimes even observe visually) to know what is being said.</li>
</ol>

<p>I would think that a robot can outperform humans on #1 and #2.  With a microphone array one would think you could effectively focus on a single point in space and eliminate all other interference.  That may be made more complicated by reflections and various other disturbances.  #3 is probably something that is harder for computers to do.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1616" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-1616">{'None': 75}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1616">Load Comments</button></br>
			<div id = "commentsection-1616" class = 'collapse'>
			<div id = "comment-3355" class = "comment">
				<p>The secret word for tonight is `stereo hearing`. Ask any human who lost this ability for any reason. So, a program or even a robot with 2 or more mics will have this ability - if the programmer knows how to handle the input.</p>
			</div>
			</div>
				<textarea id = "speech-1616" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1616">
					<img id="start_img-1616" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1616">Comment</button>
			<br><div id = "ans-1625"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1625" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What the speaker said at the conference was not accurate.  Perhaps they meant "<em>our robot</em> can't single out audio like a person can", but the statement "[robots] can't single out audio like a person can" is false.  </p>

<p>Here is a partial list of systems that can determine the source of an audio signal, and track it:</p>

<ul>
<li>Conference phones (and many cell phones), with technique(s) described in papers <a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.43.139" rel="nofollow">this one</a></li>
<li><a href="http://en.wikipedia.org/wiki/Gunfire_locator" rel="nofollow">Gunfire locators</a></li>
<li>Underwater robots with towed microphone arrays, e.g. <a href="http://acoustics.mit.edu/faculty/henrik/LAMSS/Pubs/poulsen_eickstedt_oceans06.pdf" rel="nofollow">the AUV described in this paper</a></li>
<li><a href="http://www.fer.unizg.hr/_download/repository/kvalifikacijski_IvanMarkovic.pdf" rel="nofollow">Mobile land-based robots</a></li>
</ul>

<p>The term you're looking for is a "phased array" of microphones (see also: <a href="http://www.mathworks.com/products/phased-array/examples.html?file=%2Fproducts%2Fdemos%2Fshipping%2Fphased%2Fmicrophonebeamformerdemo.html" rel="nofollow">Matlab phased array toolbox</a>).  NASA uses phased arrays to <a href="http://www.grc.nasa.gov/WWW/Acoustics/testing/instrumentation/arraymic.htm" rel="nofollow">localize the noise coming from spinning rotor fan blades</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1625" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1625">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1625">Load Comments</button></br>
			<div id = "commentsection-1625" class = 'collapse'>
			<div id = "comment-3389" class = "comment">
				<p>Been a while since I took that audio class but I also believe any given voice should have characteristics that could be reasonably assumed to be unique in a crowd.</p>
			</div>
			<div id = "comment-3395" class = "comment">
				<p>To add to your list, the Kinect for Windows sensor has a microphone array that it can use to determine which player the audio is coming from.</p>
			</div>
			<div id = "comment-3397" class = "comment">
				<p>That's excellent, do you have a link on how to access that information from the Kinect?</p>
			</div>
			<div id = "comment-3412" class = "comment">
				<p>+1. But can a robot make real-time decisions on what is important, and filter according to that? It seems to me that your list only includes sounds that the robot can learn in advance.</p>
			</div>
			<div id = "comment-3413" class = "comment">
				<p>Certainly.  The technique is called [beamforming](http://en.wikipedia.org/wiki/Beamforming).  Assuming you have some filter-able criteria for what counts as "important", once you pick up that signal, you would track its movement from that spatial location.</p>
			</div>
			</div>
				<textarea id = "speech-1625" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1625">
					<img id="start_img-1625" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1625">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>