<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why does it require more force to turn a servo if it is electronically connected to another servo?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8420" class = "post">
			<h2>Question</h2>
			<div id="vote-8420" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 102</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why does it require more force to turn a servo if it is electronically connected to another servo?</h2>
<p>I have two servo motors that I rigged up to use as a telescope remote focuser. The idea is to turn one servo by hand and use the power generated to turn the other, which is geared to a telescope focuser knob. I noticed that when the two servos are electrically connected, it is noticeably harder to turn a servo compared to turning it by itself. I tried changing the polarity of the connection hoping it would help, but it is still harder to turn the servo when they are connected. Does anyone know why this is?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8420" data-toggle = "popover">
				<p>user name : RednBlack</p>
				<p> user reputation : 13</p>
				<p class = "tagcontent" id = "usertaginfo-8420">{'servomotor': 2, 'None': 0, 'servos': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8420">Load Comments</button></br>
			<div id = "commentsection-8420" class = 'collapse'>
			<div id = "comment-13610" class = "comment">
				<p>Could you provide a diagram of how you have connected the two servos?</p>
			</div>
			<div id = "comment-13619" class = "comment">
				<p>I'm not sure how to make a diagram on here, and I am terrible with Microsoft Paint. 

It is a very simple setup. I have two motors. The are connected negative to negative, positive to positive. (Polarity doesn't matter and can be changed)

I manually turn one motor, which generates a current. This current then turns the other motor.

My question is, why is it harder to turn the manually turned motor when the two motors are electrically connected, as opposed to when they are not? I think Chuck gave a very thorough answer.</p>
			</div>
			<div id = "comment-13621" class = "comment">
				<p>Microsoft Paint is a terrible tool. Try to take a look at [inkscape](https://inkscape.org/en/), even with basic functionality you can make really good looking drawings.</p>
			</div>
			</div>
				<textarea id = "speech-8420" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8420">
					<img id="start_img-8420" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8420">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8422"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Do I understand correctly that you do not use any external power supply?</p>

<p>You said it yourself, you use one servo to generate power to the other. If it is not connected it is easy to turn since it is not generatrin power (not 100% exact but let's run with this in this case). </p>

<p>If you connect the servo, your mechanical energy will be transformed to electrical energy transfered to the other servo and transformed back to mechanical energy. So you still have to generate the energy required by the mchanical system connected to the second servo. If the servos are the same you gain nothing, you might as well turn the mechanical system directly, if they are different you might have to exert less torque on the first motor, then the second one is producing, but the velocity of the second one will be then slower. (similarly to mechanical gears)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8422" data-toggle = "popover">
				<p>user name : 50k4</p>
				<p> user reputation : 2800</p>
				<p class = "tagcontent" id = "usertaginfo-8422">{'geometry': 0, 'None': 193, 'kinematics': 0, 'robotic-arm': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8422">Load Comments</button></br>
			<div id = "commentsection-8422" class = 'collapse'>
			<div id = "comment-13593" class = "comment">
				<p>I'm a little bit rusty on back-driving motors to generate electricity, but something seems off about this explanation. If you turn a motor then it will generate current and you'll get some resistance from the back EMF. If you connect the leads to a load then that current will be used to drive the load. In order to get resistance back on the motor you'd have to send current _into_ it, which a load would not be doing.</p>
			</div>
			<div id = "comment-13594" class = "comment">
				<p>which part is off? this: "you might have to exert less torque on the first motor but the velocity of the second one will be then slower. (similarly to mechanical gears)"</p>
			</div>
			<div id = "comment-13595" class = "comment">
				<p>made some edits....</p>
			</div>
			<div id = "comment-13596" class = "comment">
				<p>Sorry, I don't mean your answer is badly worded. I just don't understand where the extra resistance is coming from. The servos are connected _electrically_ not mechanically, so any extra resistance should be from extra current being developed as the motor is turned like a generator. So where does that extra current come from? Or is it something like when you connect two motors you end up with essentially one larger motor with a higher motor constant and higher back-driving stiffness?</p>
			</div>
			<div id = "comment-13597" class = "comment">
				<p>There is no extra current. It is just the difference between the motor constants. on one side the motor constant will link the rotational velocity to electrical potential and on the other side the other motor constant will link the potention to output rotational velocity. And then the torques can be calculated based  on energy or based on motor constants...It should be the same result. If the servos are the same in an ideal case (not considering losses) the motion should be 1:1 if motor constants differ the two motors will act as two mechancal gears wih different radii would</p>
			</div>
			<div id = "comment-13598" class = "comment">
				<p>I still don't understand how that leads to extra stiffness. Do the motor constants _add up_? (I just keep being lazy about sketching out the equations).</p>
			</div>
			<div id = "comment-13599" class = "comment">
				<p>You produce U=1V with turning the motor \omega_1=1 rad/s. The other motor at U=1V turns at \omega_2=0.5 rad/s.Mech power on one end should match mech power on other end (again, no losses considered) \omega_1*\Tau_1 = \omega_2*\Tau_2. hence Tau1 = 0.5*Tau2. In this case the inputmechancial torque is half of the output torque...Also you can calculate the currents, that would be another approach which should lead to the same results). Hence it is easier to rotate the first motor then the mechanical system, but rotating the first motor twice will only rotate the mechanical system  once</p>
			</div>
			<div id = "comment-13600" class = "comment">
				<p>I see @Chuck was not lazy to write the equations...</p>
			</div>
			<div id = "comment-13601" class = "comment">
				<p>This is only referring to two different servos, and how they act like a gear reduction. I'm talking about the statement that connecting another servo (different or not) leads to increased resistance. I think Chuck's answer is more along the lines of what I mean.</p>
			</div>
			<div id = "comment-13603" class = "comment">
				<p>It is more detailed, yes...</p>
			</div>
			</div>
				<textarea id = "speech-8422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8422">
					<img id="start_img-8422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8422">Comment</button>
			<br><div id = "ans-8424"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8424" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The other servo, being an electrical device, has some finite resistance. </p>

<p>When the servos are <em>not</em> electrically connected, the output of the manually turned servo is an open circuit, meaning that there is infinite resistance and no current flows. Because no current is flowing, the <em>electrical</em> output power of manually turned servo is </p>

<p>$P = IV$</p>

<p>where $I = 0$, so </p>

<p>$P = (0)(V) = 0$. </p>

<p>When you connect another servo, there is now a finite resistance connected to the manually turned servo's leads, so now current may flow. <em>Now</em> the current is given by</p>

<p>$V = IR$</p>

<p>$I = V/R$</p>

<p>so the <em>electrical</em> output power of the servo is</p>

<p>$P = IV$</p>

<p>$P = V^2/R$</p>

<p>There are two "types" of voltage in a motor when you operate it normally; the applied voltage and a back-voltage, commonly called <a href="https://en.wikipedia.org/wiki/Counter-electromotive_force" rel="nofollow">"back EMF"</a>. This back EMF is a byproduct of motor motion.</p>

<p>The requirements for motor action are:</p>

<ol>
<li>Current-carrying conductor</li>
<li>Applied magnetic field </li>
<li>Applied voltage differential on the conductor</li>
</ol>

<p>The output of motor action is relative motion between the current-carrying conductor and the magnetic field. </p>

<p>The requirements for generator action are:</p>

<ol>
<li>Current-carrying conductor</li>
<li>Applied magnetic field</li>
<li>Relative motion between the conductor and field</li>
</ol>

<p>The output of generator action is a voltage differential in the conductor. </p>

<p>So you can see that if you meet motor action then you get generator action and both happen simultaneously. </p>

<p>When you back-drive a motor, you <em>can</em> get an output voltage at the motor terminals, <strong>if</strong> you have an applied magnetic field. In some instances, electric vehicles for instance, the motor is created such that the magnetic field is in the form of an electromagnet, called <a href="https://en.wikipedia.org/wiki/Field_coil" rel="nofollow">field windings</a>. In this version, it is possible to vary the strength of the magnetic field by varying the current in the field windings; this varies the output current of the motor during back-driven operations and produces a variable strength braking effect. </p>

<p>In your case, with servo motors, the magnetic field typically comes in the form of permanent magnets in the motor housing. This means that the only way to vary output current (assuming a fixed output resistance) is to vary speed, as this varies the voltage you generate as dictated by the back-EMF constant;</p>

<p>$ V_{\mbox{back EMF}} = K_{\omega} \omega \phi$</p>

<p>where $K_{\omega}$ is the back-EMF constant, $\omega$ is the speed at which you are driving the motor, and $\phi$ is the strength of the magnetic field. </p>

<p>Looking again at the electrical output power of the servo:</p>

<p>$P = V^2/R$</p>

<p>Output power of the servo goes up with voltage squared. Since voltage is proportional to the driving speed of the motor, you can see that output power goes up based on speed squared; if you double the speed at which you drive the servo you quadruple the output power of the servo. This is why the servo gets "very hard" to drive. </p>

<p>There will always be some resistance when you try to drive a servo or motor, even with an open circuit, because they are real devices and thus have mass and inertia. You apply a torque to accelerate the motor:</p>

<p>$ \tau = I\alpha$</p>

<p>where $\tau$ is the torque you apply, $I$ is the effective motor inertia, and $\alpha$ is the rate at which you are accelerating the motor shaft. Output power varies with torque and speed:</p>

<p>$P_\mbox{mechanical} = \tau \omega$</p>

<p>so it requires more power to accelerate an already-moving object than it does to accelerate a stationary object. </p>

<p>Finally, the total power you apply to the servo is given by:</p>

<p>$P = P_{\mbox{mechanical}} + P_{\mbox{backEMF}}$</p>

<p>$P = \tau \omega + V^2/R$</p>

<p>$P = I\alpha \omega + (K_{\omega} \omega \phi)^2/R$</p>

<p>$P = (I \alpha)\omega + \frac{(K_\omega \phi)^2}{R}\omega^2 $</p>

<p>Where again, if the back-driven servo is not electrically connected to anything, then $R$ becomes infinitely large and the second term in the above equation becomes zero. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8424" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-8424">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8424">Load Comments</button></br>
			<div id = "commentsection-8424" class = 'collapse'>
			<div id = "comment-13602" class = "comment">
				<p>So, if you take an electric motor without connecting the leads to any power supply or impedance, you cannot get any back-EMF or current? You simply reduce to a shaft under torque that accelerates (along with some friction of course)?</p>
			</div>
			<div id = "comment-13604" class = "comment">
				<p>@BrianLynch - That's correct; you will still generate a back EMF, a voltage, but if there's no load (infinite resistance) then there can't be any current flow. Similar to a battery - there's a voltage, but no current flows without a connected load, and since there's no current there's no output power.</p>
			</div>
			<div id = "comment-13605" class = "comment">
				<p>Oops, of course there is voltage but no current. I should know this, just so used to using motors as motors.</p>
			</div>
			<div id = "comment-13606" class = "comment">
				<p>Can you even apply the motor equation $V = RI + k\omega$ here? Or is it that resistance $R$ that is infinite? I know that equation is simplified too, so maybe that's where my confusion comes from.</p>
			</div>
			<div id = "comment-13607" class = "comment">
				<p>@BrianLynch - You can't apply that equation because there is no $I$, there is no applied current. $RI$ in that equation represents the applied voltage, which doesn't exist if you're only back-driving it.</p>
			</div>
			<div id = "comment-13608" class = "comment">
				<p>No $V$ is the applied voltage in that equation. Of course it may be that this equation is simplified for use only when operating as a typical motor.</p>
			</div>
			</div>
				<textarea id = "speech-8424" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8424">
					<img id="start_img-8424" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8424">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>