<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why are Mars rovers so slow?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-679" class = "post">
			<h2>Question</h2>
			<div id="vote-679" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">63</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 7318</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why are Mars rovers so slow?</h2>
<p>Mars rovers are typically very slow. Curiosity, for example, has average speed of about 30 meters per hour.</p>

<p>Why is it designed so slow? Is it because of some specific power restrictions or for other reasons? What is the top reason why it is so slow?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-679" data-toggle = "popover">
				<p>user name : sharptooth</p>
				<p> user reputation : 491</p>
				<p class = "tagcontent" id = "usertaginfo-679">{'mobile-robot': 78, 'None': 0, 'design': 78}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-679">Load Comments</button></br>
			<div id = "commentsection-679" class = 'collapse'>
			<div id = "comment-864" class = "comment">
				<p>There are physical restrictions discussed below, but consider this too: *where would you go at such breakneck speeds?*</p>
			</div>
			<div id = "comment-3416" class = "comment">
				<p>One thing is if go 45 mph, it seems much more likely that it's going to tip over when it hits a rock, and if I designed it's course and speed, I wouldn't want to get fired when I *accidentally* ruin a multi million/billion dollar device that's very far away. :)</p>
			</div>
			</div>
				<textarea id = "speech-679" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-679">
					<img id="start_img-679" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-679">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-680"  class = "post">
				<h2>Answer</h2>
			<div id="vote-680" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">23</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm not such an expert in physics, but I can think of a few reasons:</p>

<ul>
<li><strong>Power</strong>. The amount of power you need to do a task is inversely proportional to the time it takes to do that task. I think it is well known that doing something faster requires more power, otherwise you could do everything infinitely fast at no cost.</li>
<li><strong>Computation Speed</strong>. The statement about power (above) is not limited to movements. It is also true for computation. Have you noticed when your laptop is on power-saving mode, it runs slower? With processors, if you compute something twice as fast, you need four times more energy to do it. As a result, most probably, the CPU of mars rovers are also <em>not</em> working at a high speed. Therefore, if the rover needs time to process something before moving on (for example images of the environment), it needs to move slower so it would receive data at a slower rate. Slow enough so that it can process them.</li>
<li><p><strong>Stability</strong>. I believe I don't need to give you formulas for this phenomenon:</p>

<p><img src="https://i.stack.imgur.com/u7Tox.jpg" alt="car jump"></p>

<p>Simply put, the slower you go, the smaller the chance of lifting off over a ridge and possibly losing your stability when you land.</p></li>
<li><strong>Maneuverability</strong>. If you go at a reasonably slow speed, you wouldn't have any trouble steering. On the other hand, at high speeds, you need larger curvature to turn, as well as more pressure on the wheels on the outer side.</li>
</ul>

<p>Note that some of these issues, such as stability, are true for robots on earth too. However, here on earth we can always flip the vehicle if it turned over, but on Mars we can't trust Martians on it (they may like the rover stuck on its back and start worshipping it, which is totally not cool for us).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-680" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-680">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-680">Load Comments</button></br>
			<div id = "commentsection-680" class = 'collapse'>
			<div id = "comment-848" class = "comment">
				<p>Energy is probably the major limiting factor.  Curiosity weights almost a ton (similar to a subcompact), but it's power source only produces 125W of power.  If all of the power was available for the drive train that would only be .16HP; the actual amount available is less since the computers, instruments, and radios all take a share as well.</p>
			</div>
			<div id = "comment-849" class = "comment">
				<p>I'm hesitant to consider your need bullet as strong a reason.  Getting enough power for a high speed, long duration, rover isn't possible with current technology so all of the proposed missions were designed for a slow rate of travel and an in depth study of a relatively small area.  If a rover with a range of 10-100km/day was possible an entirely different set of research proposals would have been possible.  ex Explore the length of Valles Marineris to determine how it was carved.</p>
			</div>
			<div id = "comment-850" class = "comment">
				<p>@DanNeely, even if it was possible, I doubt they would _start_ with such a project. Nevertheless, I would remove that point. What I meant to get across was for the OP to realize the goal of exploring mars (at this stage) may not require high speed at all.</p>
			</div>
			<div id = "comment-851" class = "comment">
				<p>+1 The stability can be a serious problem considering the difference in gravity.</p>
			</div>
			<div id = "comment-852" class = "comment">
				<p>@Shahbaz is right, NASA simply doesn't have the budget to pay the martians to flip it back over if it's stuck on it's side, so the robot needs to drive like an old women to ensure it doesn't crash into anything.</p>
			</div>
			<div id = "comment-853" class = "comment">
				<p>"The amount of energy that you use for a task is inversely proportional to the square of the time it takes to do that task." - This isn't really true. Doing something twice as fast requires twice the force, but the same amount of energy. Unless the limiting factor is something that scales with the square by itself (like fluid resistance scales with the square of your speed), but to apply that to the Mars rover you'd have to explain what specific limiting factors there are.</p>
			</div>
			<div id = "comment-854" class = "comment">
				<p>@MatsT, I would be glad if you could fix the statement. I'm not a physics guy, but I am sure of this fact at least when it comes to processor energy consumption (something about `E = Pt`, but `P~1/t^3` or something else, I don't remember exactly). I was looking for the formula and as soon as I got `E=1/2mv^2` I assumed all is good.</p>
			</div>
			<div id = "comment-855" class = "comment">
				<p>These are all good reasons why a robot in general would go slow, but why Curiosity goes slow is a result of its suspension design.</p>
			</div>
			<div id = "comment-856" class = "comment">
				<p>@MatsT, Come to think about it, maybe it was something like "the amount of energy you use _per second_, is inversely proportional to the square of how fast you are doing something"? So then, if you do something twice as fast, you also use two times more energy (not four times).</p>
			</div>
			<div id = "comment-857" class = "comment">
				<p>@Shahbaz: You are probably correct when it comes to processor energy consumption. For general physics, I think it's better to say that you need twice the 'energy output' or 'effect'. The total amount of energy needed/work done is the same regardless of the time you take (more or less). For a mars rover, it seems reasonable that the motors aren't built to put out more than a specific effect, so the speed is possibly limited by that.</p>
			</div>
			<div id = "comment-859" class = "comment">
				<p>This is a good answer, but there is a lot of speculation going on. I think some hard facts would do wonders to this post.</p>
			</div>
			<div id = "comment-860" class = "comment">
				<p>@josh, hopefully someone with a better physics background can fix it. I am purely a programmer, so...</p>
			</div>
			<div id = "comment-863" class = "comment">
				<p>Physicist here. The word everyone is looking for is "power." If you're device is efficient, getting from point A to point B takes the same amount of *energy*, no matter how fast. You could expend 100 W for 10 s or 200 W for 5 s, the end result is still 1000 J. Radioisotope thermoelectric generators (Curiosity) tend to favor longevity over horsepower, and dust-covered solar panels that far from the Sun (certain other rovers) don't give much power either. Though of course, just like your car, rovers' efficiency *does* depend on speed.</p>
			</div>
			</div>
				<textarea id = "speech-680" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-680">
					<img id="start_img-680" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-680">Comment</button>
			<br><div id = "ans-681"  class = "post">
				<h2>Answer</h2>
			<div id="vote-681" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One reason is because of the communications delay between Earth and Mars.</p>

<p>The round trip time for signals from Earth to Mars is several minutes, which means that you can't teleoperate the robot in realtime. That means that the robot needs some autonomous obstacle avoidance capability to help prevent it from getting stuck or otherwise in trouble. </p>

<p>The hazard avoidance equipment on mars rovers is generally designed in a very conservative way, which means drive slow and stop frequently to check your environment.</p>

<p>From Wikipedia, for the Mars Exploration Rovers (Spirit and Opportunity):</p>

<blockquote>
  <p>...hazard avoidance software causes it to stop every 10 seconds for 20
  seconds to observe and understand the terrain into which it has
  driven.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-681" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-681">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-681">Load Comments</button></br>
			<div id = "commentsection-681" class = 'collapse'>
			<div id = "comment-2533" class = "comment">
				<p>exactly. the processors and software available at the time of vehicle design/build/launch/remote-update can't go any faster than that.</p>
			</div>
			<div id = "comment-3099" class = "comment">
				<p>It looks as if this `hazard avoidance` is the wrong paradigm. The robot should act like a cockroach after a crash landing after 50 m vertical down flight: get up and boogie. You can test that even on earth, not light minutes away on Mars.</p>
			</div>
			</div>
				<textarea id = "speech-681" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-681">
					<img id="start_img-681" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-681">Comment</button>
			<br><div id = "ans-682"  class = "post">
				<h2>Answer</h2>
			<div id="vote-682" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">75</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It has more to do with the <a href="http://en.wikipedia.org/wiki/Rocker-bogie" rel="noreferrer">rocker bogie suspension</a> than anything else.</p>

<blockquote>
  <p>The system is designed to be used at slow speed of around 10 cm/s, so as to minimize dynamic shocks and consequential damage to the vehicle when surmounting sizable obstacles.</p>
</blockquote>

<p>In exchange for moving slowly, the rover is able to climb rocks that are double the wheel diameter (normal suspension has trouble with anything over half the wheel diameter).  This is important when travelling in &mdash; literally &mdash; an alien landscape.  </p>

<p><img src="https://i.stack.imgur.com/qcnqs.gif" alt="Climbing"></p>

<p>(image via <a href="http://en.smath.info/forum/yaf_postst995p2_Animation-of-mechanisms.aspx" rel="noreferrer">http://en.smath.info/forum/yaf_postst995p2_Animation-of-mechanisms.aspx</a>)</p>

<p>There are other benefits that come with slow speed: better <a href="http://trs-new.jpl.nasa.gov/dspace/bitstream/2014/37431/1/05-0761.pdf" rel="noreferrer">correlation between successive frames captured by its navigation cameras</a>, more time to <a href="http://marsrover.nasa.gov/technology/is_autonomous_mobility.html" rel="noreferrer">plan its path</a>, and power savings.  However, without the capabilities provided by the suspension system &mdash; <a href="http://vimeo.com/66656664" rel="noreferrer">surmounting the obstacles present on the martian surface without getting stuck or causing damage</a> &mdash; the other benefits are moot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-682" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-682">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-682">Load Comments</button></br>
			<div id = "commentsection-682" class = 'collapse'>
			<div id = "comment-858" class = "comment">
				<p>Correct!  That is the main reason, and it derives from the need for safety and predicability.  It is very expensive to get a rover to Mars, and it is priceless once there.  Energy is a factor for the distance per sol, but not so much for distance per hour.  You could imagine a faster rover that has more time in the day for other (not so energy-intensive) activities.  Communication limitations are not as much of a factor, since autonomy could allow quite a bit of roving in a sol if suspension and energy were not a factor.  The Curiosity processor is much faster than on Spirit and Opportunity.</p>
			</div>
			<div id = "comment-865" class = "comment">
				<p>@MarkAdler All true, but any rover designed to save power to use in a quick burst would have to carry around a very hefty battery for that purpose, so a high-quality suspension is not the only impediment.</p>
			</div>
			<div id = "comment-867" class = "comment">
				<p>As it happens, on Curiosity, the main energy limitation on mobility per sol is not the energy to run the motors, but rather the energy to _heat_ the motors and gear boxes up to their operating temperature in the morning.  What we really need are motors and gear boxes that can operate at ambient Mars temperatures.  The MSL project tried to develop those, but ran into problems and fell back to the existing technology.</p>
			</div>
			<div id = "comment-909" class = "comment">
				<p>What problems are caused by very low temperatures?</p>
			</div>
			<div id = "comment-917" class = "comment">
				<p>From what I understand, it's a combination of the uneven thermal expansion of components and the freezing/gel-ing of the lubricants. http://c3p0.ou.edu/irl/theses/roman-ms.pdf</p>
			</div>
			<div id = "comment-2532" class = "comment">
				<p>And the ultimate cause for this JPL preference for hardware vs. software to overcome obstacles came about because: 1. autonomous path planning software wan't reliable enough at the time the vehicles were built. 2. the best rad-hard power-efficient processors couldn't handle the load of the path-planning algorithms of the time 3. the delay between ground and rover prevents teleoperation by a human to avoid obstacles</p>
			</div>
			<div id = "comment-9953" class = "comment">
				<p>One additional note, Generally rovers on Mars use what are called "Harmonic Drive" gearing. The upside of this type of gearing is that you are able to use *very* efficient brush-less motors, operating at high speeds (where they are most efficient), yet at the same time get a ton of torque. One downside of this gear is that you lose the ability to "back drive" the motor.</p>
			</div>
			<div id = "comment-19525" class = "comment">
				<p>Wait, THE @MarkAdler?</p>
			</div>
			</div>
				<textarea id = "speech-682" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-682">
					<img id="start_img-682" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-682">Comment</button>
			<br><div id = "ans-683"  class = "post">
				<h2>Answer</h2>
			<div id="vote-683" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">31</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This seems like a softball question but is surprisingly subtle. There are some excellent answers here, but I can add some basic rigor.</p>

<p>The reason the rovers move so slow is essentially the need to be cautious with a multi-million-dollar piece of equipment. But there are some other design constraints worth mentioning.</p>

<ul>
<li><p><strong>Energy</strong> is simply the worst bottleneck for mobile, autonomous systems. The energy cost for a system to relocate across a surface can be typically modeled as
$$ \int^{T_{final}}_{T_{initial}} [ c_0 v(t)^2 + c_1 a(t)^2 + c_3v(t) + c_4a(t) + c_5v(t)*a(t) + C ]dt $$ where $c_0...c_6$ are constants representing the motor parameters (see <a href="http://www.cs.umn.edu/~isler/pub/icra11tokekar.pdf">here</a> and <a href="http://www-users.cs.umn.edu/~isler/pub/iser2012solar.pdf">here</a>).
So the cost of travelling to a nearby crater is proportional to the square of the velocity and square of the acceleration. Thus, slower costs less power overall. There is usually a "tipping speed" at which the power consumption spikes, and this is usually a very slow speed. Thus, robots move slow to save power. Additionally, this means a robot cannot carry energy-intensive sensors like <a href="http://en.wikipedia.org/wiki/LIDAR">LIDAR</a>. Note LIDAR is used extensively in autonomous, driverless vehicles like the <a href="http://www.slashgear.com/back-to-basics-how-googles-driverless-car-stays-on-the-road-09227396/">Google Car</a>. Which brings me to...</p></li>
<li><p><strong>Computational Sensing</strong>. Note, we're not considering power. Now, we have to realize that the robot is <em>autonomous</em> (i.e., driver-less). Given the reduced sensors, a robot cannot model its whole environment, and plan a large route. Think of it this way, would you run through the forest in the dark? Not if you didn't need to. The robot is constantly "in the dark" since it cannot see very far ahead, so it moves slowly, carefully planning each step. The memory and cpu required to plan these things is $O(r^3)$ or worse, where $r$ is the radius of planning. see <a href="http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=C47C6FE1DB3CE7AB3F24921BF5394BBD?doi=10.1.1.44.4807&amp;rep=rep1&amp;type=pdf">here</a> and <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=1013713&amp;tag=1">here</a></p></li>
<li><p><strong>Communication Delays</strong>. As mentioned, the robot is i) autonomous, and ii), sensing-limited. The humans have to constantly "check-in" to make sure the robot isn't doing something stupid (despite its state of the art planning algorithms). This means the robot will wait for instructions a <em>lot</em>, thus slow average progress towards a goal. The previous references address this.</p></li>
<li><p><strong>Stability</strong>. To achieve stability / robustness, the rovers use the rocker-bogie system. see <a href="http://trs-new.jpl.nasa.gov/dspace/bitstream/2014/38435/1/04-0705.pdf">this</a>. This system is designed to be operated at slow speeds. If you go fast, and hit a rock, you break your rover. Try to imagine doing that sensor-based motion planning.  Now try to do so when all your relevant sensors are <a href="http://www.nasa.gov/mission_pages/msl/multimedia/gallery/pia13809.html">on a mast attached to the top of your robot</a>, and you'll see that keeping the sensing payload stable is very important.</p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-683" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-683">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-683">Load Comments</button></br>
			<div id = "commentsection-683" class = 'collapse'>
			<div id = "comment-861" class = "comment">
				<p>This is great! It's like my post, but put in scientific terms. I would delete my post in favor of this, but the reputation at this point is too tempting :D I'm certain though, this would get higher points in the end.</p>
			</div>
			<div id = "comment-880" class = "comment">
				<p>:D Please, do no delete it. You have a nice on-topic photo for the illiterates.</p>
			</div>
			</div>
				<textarea id = "speech-683" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-683">
					<img id="start_img-683" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-683">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>