<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why was the gadgets site merged into this one?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-118" class = "post">
			<h2>Question</h2>
			<div id="vote-118" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 120</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why was the gadgets site merged into this one?</h2>
<p>I have a feeling this will be somewhat controversial, but to be perfectly frank it seems like the Apple.SE site and the community that was forming around it was quite OS X centered.  Now with the huge influx of iOS related questions, the site seems disjointed and less focused. </p>

<p>Personal opinion: A lot of OS X users don't have much interest in iphone or ipod, and generally ignore these questions, but it's hard when so many are suddenly about these devices.</p>

<p>Why did the sites need to be merged in the first place? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-118" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-118">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-118">Load Comments</button></br>
			<div id = "commentsection-118" class = 'collapse'>
			<div id = "comment-213" class = "comment">
				<p>+1 for wondering about merging OSX and iOS! I have an iPhone but no Mac. In my view, the iOS questions kind of drown in the OSX "noise" here. `OSX != iOS` !</p>
			</div>
			</div>
				<textarea id = "speech-118" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-118">
					<img id="start_img-118" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-118">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-119"  class = "post">
				<h2>Answer</h2>
			<div id="vote-119" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I believe there wasn t much activity going on on Gadgets anyway and most were iPhones/iPods/iPads.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-119" data-toggle = "popover">
				<p>user name : Martin Marconcini</p>
				<p> user reputation : 19601</p>
				<p class = "tagcontent" id = "usertaginfo-119">{'None': 34, 'discussion': 15, 'poo-storm': 1, 'meta': 8, 'design': 4, 'subjective-questions': 8, 'status-declined': 4, 'status-norepro': 6, 'bug': 10}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-119">Load Comments</button></br>
			<div id = "commentsection-119" class = 'collapse'>
			<div id = "comment-190" class = "comment">
				<p>A lot (most?) of the questions were about Apple gear and Android gear. (Obviously, only *Apple questions* were merged here.) Reasons why they decided to close it are [detailed in the blog](http://blog.stackoverflow.com/2010/09/pruning-season/).</p>
			</div>
			<div id = "comment-264" class = "comment">
				<p>@Jonik: your comment is really the true answer to this question :)</p>
			</div>
			</div>
				<textarea id = "speech-119" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-119">
					<img id="start_img-119" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-119">Comment</button>
			<br><div id = "ans-120"  class = "post">
				<h2>Answer</h2>
			<div id="vote-120" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think it was a pretty logical thing to do to migrate iPhone, iPad, and other Apple gadget questions here after the Gadgets site was <a href="http://blog.stackoverflow.com/2010/09/pruning-season/">closed</a>. Why? <strong>This is the only SE site where they are on-topic</strong>.</p>

<p>If we go back and look at the <a href="http://area51.stackexchange.com/proposals/151?phase=definition">Apple site proposal</a> at Area 51, there is nothing there that defines this site as "OS X only" or "OS X mostly" (although it <em>is</em> true that the top on-topic examples are Mac/OS X ones). (Also, if Apple SE actually was "Mac / OS X only", that would mean there was no need for it in the first place, as Mac and OS X are perfectly on-topic at <a href="https://superuser.com/">Super User</a>.)</p>

<p>If you consider <a href="http://stackoverflow.com">Stack Overflow</a>, is it becoming "disjointed" with the huge influx of questions on Ruby or Python that the average C# programmer really doesn't have much interest in? By the way, <a href="http://blog.stackoverflow.com/2010/09/merging-season/">Spolsky discusses</a> the SE scope issue in the latest blog entry; interesting read.</p>

<p>Bottom line: if you don't care much about iOS related questions, you can easily ignore them. (You can tweak your prefs so that you don't even <em>see</em> those questions, if you want to.) I don't think merging in those questions does harm to the community, at least in the long run.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-120" data-toggle = "popover">
				<p>user name : Jonik</p>
				<p> user reputation : 2453</p>
				<p class = "tagcontent" id = "usertaginfo-120">{'site-scope': 1, 'None': 32, 'beta': 13, 'discussion': 29, 'beta-essentials': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-120">Load Comments</button></br>
			<div id = "commentsection-120" class = 'collapse'>
			<div id = "comment-193" class = "comment">
				<p>I 100% agree with you :D</p>
			</div>
			</div>
				<textarea id = "speech-120" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-120">
					<img id="start_img-120" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-120">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>