<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why was this low activity question "protected"?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1999" class = "post">
			<h2>Question</h2>
			<div id="vote-1999" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 118</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why was this low activity question "protected"?</h2>
<p>I asked <a href="https://apple.stackexchange.com/questions/113160/how-can-i-make-you-tube-full-screen-on-my-ipad-when-using-safari">this question</a> a while ago and it has garnered no upvotes and a single upvoted answer.  The answer is correct and useful so I accepted it.  </p>

<p>Today I happened back onto this question and see that it was "protected" to prevent answers by users with &lt; 10 rep.  My understanding of the use of "protection" is to prevent pile-on when questions go viral.</p>

<p>Why would such a low activity question get protected?</p>

			</div>
			<div id = "userinfo-1999" style = "float:right">
				<p>user name : KennyPeanuts</p>
				<p> user reputation : 468</p>
				<p> user tag wise history : {'None': 0, 'discussion': 11}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1999" class = 'collapse'>
			</div>
				<textarea id = "speech-1999" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1999">
					<img id="start_img-1999" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1999">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2000"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2000" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The question has attracted a bunch of "me too" answers which have been deleted (and which you can't see). The software behind AskDifferent automatically sets a topic to "protected" if the ratio between deleted and non-deleted questions gets too high.</p>

<p>I've unprotected it again for the moment, if it keeps attracting "me too" answers it will get procted again automatically.</p>
</p><br>
			</div>
			<div id = "userinfo-2000" style = "float:right">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p> user tag wise history : {'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2000">Load Comments</button></br>
			<div id = "commentsection-2000" class = 'collapse'>
			<div id = "comment-3841" class = "comment">
				<p>That's interesting.  Thanks for the explanation.</p>
			</div>
			<div id = "comment-3876" class = "comment">
				<p>What is a "me too" answer? a-I have the same problem, or b-too many similar proposed solutions. I gave what I thought was a possible solution this morning (early morning CET) and now all traces have vanished. There were no visible previous answers so if "me too" == option b above there was no way of knowing. This is confusing.</p>
			</div>
			<div id = "comment-3877" class = "comment">
				<p>"me too" is "I have the same problem". Your answer still seems to be around: http://apple.stackexchange.com/questions/125479/im-locked-out-of-machine-as-will-not-accept-password-as-i-shut-down-while-using/125522#125522</p>
			</div>
			</div>
				<textarea id = "speech-2000" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2000">
					<img id="start_img-2000" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2000">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>