<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why models are not perfect to represent robotic environments?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4420" class = "post">
			<h2>Question</h2>
			<div id="vote-4420" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 89</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why models are not perfect to represent robotic environments?</h2>
<p>Sebastian Thrun says in his paper on Particle Filters that - no model however detailed fails to represent the complexity of even the simplest of robotic environment. What does he means by this? Can someone please elaborate?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4420" data-toggle = "popover">
				<p>user name : StarksAreBack</p>
				<p> user reputation : 164</p>
				<p class = "tagcontent" id = "usertaginfo-4420">{'particle-filter': 8, 'None': 0, 'theory': 3, 'localization': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4420">Load Comments</button></br>
			<div id = "commentsection-4420" class = 'collapse'>
			<div id = "comment-6995" class = "comment">
				<p>In my humble opinion, the 'high-level' message is that we still need effort of one more generation to bring robot to a fair level as compare with human. 

For student now studying, this is the period from now to peak-of-your-career. Your generation will make key decision to make this field fly and my best wishes go to you.  

Powered air travel is slightly over 100 years and 3 human working generations.</p>
			</div>
			</div>
				<textarea id = "speech-4420" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4420">
					<img id="start_img-4420" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4420">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4421"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4421" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A model of the environment in this context is an abstraction of the real world, which should be adequate for the task of the robot. For example, if you have a robot that needs to navigate an office building, you can make the abstraction that your model only needs to be in two dimensions. Further, for the task of navigation you could discretize your space in a regular grid, and just model if cells of your grid are occupied by dense matter (e.g. walls, chairs, people) or by light matter (air) above the ground. This environment representation (model) is usually called a map. </p>

<p>What Thrun refers to is likely that your model only records particular aspects of your environment. Its an abstraction. This is good, to make it manageable from a computational and representational aspect. However, and this is in my opinion the key of the statement, its limited in the real world. For the office building example given above, you can easily come up with examples where the models breaks. How do you represent for example a table. A robot of a certain height may actually go underneath. How do you represent the temporal aspects. A chair might be at another position at another time. All possible to manage, but you will always find exceptions to your chosen abstraction in the real world. </p>

<p>Interesting in this context is for example the work from Brooks. He postulated to use the world itself as a model instead of a using abstractions that ultimately fail to represent the world adequately.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4421" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-4421">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4421" class = 'collapse'>
			</div>
				<textarea id = "speech-4421" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4421">
					<img id="start_img-4421" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4421">Comment</button>
			<br><div id = "ans-4423"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4423" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Something I've heard said many times (by a WHOI scientist, I think) is that</p>

<blockquote>
  <p>The problem with models is that they work.</p>
</blockquote>

<p>In other words, the only things that can go wrong in a model are <em>the things you put into the model ahead of time</em>.  Your model may give you perfect results, but in the real world any number of strange things can go wrong; the world is a very complicated place.  </p>

<p>Watch this <a href="https://www.youtube.com/watch?v=yNu33w8Fmm4" rel="nofollow">entertaining presentation by Katy Levinson</a> for a few examples.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4423" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-4423">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-4423" class = 'collapse'>
			</div>
				<textarea id = "speech-4423" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4423">
					<img id="start_img-4423" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4423">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>