<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why does a ID controller not exist?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2925" class = "post">
			<h2>Question</h2>
			<div id="vote-2925" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2273</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why does a ID controller not exist?</h2>
<p>Why doesn't a PID only consisting of ID exist?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2925" data-toggle = "popover">
				<p>user name : Control</p>
				<p> user reputation : 135</p>
				<p class = "tagcontent" id = "usertaginfo-2925">{'control': 19, 'None': 0, 'pid': 16, 'tuning': 1, 'motor': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2925" class = 'collapse'>
			</div>
				<textarea id = "speech-2925" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2925">
					<img id="start_img-2925" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2925">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2926"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2926" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have very basic knowledge of control theory, but:</p>

<p><a href="https://en.wikipedia.org/wiki/PID_controller#Proportional_term" rel="nofollow">Wikipedia</a> says (emphasis mine):</p>

<blockquote>
  <p>A high proportional gain results in a large change in the output for a given change in the error. If the proportional gain is too high, the system can become unstable (see the section on loop tuning). In contrast, a small gain results in a small output response to a large input error, and a less responsive or less sensitive controller. <strong>If the proportional gain is too low, the control action may be too small when responding to system disturbances.</strong> Tuning theory and industrial practice indicate that the proportional term should contribute the bulk of the output change.</p>
</blockquote>

<p>In other words, when the proportional gain is too low, the control would be too slow to be usable, because its response to change would effectively be negligible. You can imagine making it 0 would only make things worse.</p>

<p>So while an ID controller can exist in theory, it would be pretty useless.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2926" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-2926">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2926">Load Comments</button></br>
			<div id = "commentsection-2926" class = 'collapse'>
			<div id = "comment-5342" class = "comment">
				<p>Well. there is something i've missed, my confusing appeared as of because i've made a controller consisting of only I and D, which worked relatively fine..</p>
			</div>
			<div id = "comment-5343" class = "comment">
				<p>It may work fine, but a controller with a P term is always going to have a faster transient response.</p>
			</div>
			<div id = "comment-5356" class = "comment">
				<p>Since I'm not an expert in control theory, I would appreciate feedback on the -1. I'm interested in learning my mistakes.</p>
			</div>
			<div id = "comment-5369" class = "comment">
				<p>I too would like to understand the reason for the downvote.</p>
			</div>
			<div id = "comment-5378" class = "comment">
				<p>I believe the downvote is purely because of the poor attitude you showed in this response. I would downvote it myself for this reason, if I had the rep. Your answer, however, seems spot on to me.</p>
			</div>
			<div id = "comment-5379" class = "comment">
				<p>@TormodHaugene, I would remove it, if it creates confusion, but I'd leave it as a comment to the OP. The fact that people on stackexchange ask questions without ever searching before or trying to solve their own problems is a serious issue.</p>
			</div>
			</div>
				<textarea id = "speech-2926" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2926">
					<img id="start_img-2926" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2926">Comment</button>
			<br><div id = "ans-2928"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2928" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You almost never see ID controllers because they generally don't do anything useful. Here is what they can do:</p>

<p>1) The D part will respond to changes in the system. It will try to correct and move the system back to 0, but once it reaches steady steady the D part is no longer active. Note that it does NOT matter where that steady state is; it could be 0 or 10 or 100.</p>

<p>2) Now imagine that the system is moving very slowly, so the D part is negligible. The I part will drive the integral of the error to 0. Again, this is NOT the same as driving the error to zero. Imagine the system is disturbed from 0 to -5. Now the integral will start to become negative and the controller will send positive commands. Once the system reaches 0 again, the integral is still negative so the controller is still applying positive commands and the system moves positive. Eventually the integral reaches zero but the system is now far into positive territory so the whole process repeats itself in the reverse.</p>

<p>Without P, the controller just doesn't reliably do what a control system is supposed to do: drive the error to 0.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2928" data-toggle = "popover">
				<p>user name : ryan0270</p>
				<p> user reputation : 1814</p>
				<p class = "tagcontent" id = "usertaginfo-2928">{'None': 133}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2928">Load Comments</button></br>
			<div id = "commentsection-2928" class = 'collapse'>
			<div id = "comment-5352" class = "comment">
				<p>what about only I and D controls?</p>
			</div>
			<div id = "comment-5353" class = "comment">
				<p>Sorry, I don't understand what you mean</p>
			</div>
			<div id = "comment-5354" class = "comment">
				<p>what I meant was a PID controller where either P and D is 0, and just adjusting it the I term, or a controller where P and I is 0 and adjusting it using the D terms.</p>
			</div>
			<div id = "comment-5355" class = "comment">
				<p>Then you will still run into the same problems I describe above.</p>
			</div>
			<div id = "comment-8035" class = "comment">
				<p>"The I part will drive the integral of the error to 0" - Incorrect. The I term drives the error to zero, *not* the integral of the error. The I term will continue to change while the error is non-zero. Some systems can be stable like that with a non-zero I term, and no P or D.</p>
			</div>
			<div id = "comment-8036" class = "comment">
				<p>"The D part will respond to changes in the system. It will try to correct and move the system back to 0" - The second part is wrong. The D term does not try to push the error towards zero. It pushes against the *derivative* of the error.</p>
			</div>
			<div id = "comment-8037" class = "comment">
				<p>-1. I'm sorry, this answer has so many errors.</p>
			</div>
			</div>
				<textarea id = "speech-2928" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2928">
					<img id="start_img-2928" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2928">Comment</button>
			<br><div id = "ans-2946"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2946" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The short answer to this is that the P (Propotional) part of the PID controller is the base function of the controller, and that the I (Integral) and D (Derivative) parts merely attempts to fix the very commonly encountered downsides of the P-only controller. </p>

<p>If we have a look at the general actuating force in the system - the motor or "actuator" the PID controls - the explanation becomes quite obvious. For the PID, the actuation is:</p>

<pre><code>u = Kp*(e) + Kd*derivative(e) + Ki*integral(e)
</code></pre>

<p>where <em>e</em> is the <em>error</em> from the desired system position, and Ki, Kd and Kp are user-defined numbers. Now, imagine that the system indeed is in its desired position, meaning the error <em>e</em>=0; then u would also be zero! So, the question then becomes how to get u = 0 when the system is in the state we would like it to be in. This can explain why you typically only see P, PD, PI or PID controllers used, because these combinations usually coincides with an actuation u=0 that gives a desired system state. There is, however, nothing wrong about the I, D, ID or even ABC-controller - you can literally add any additional party to u that you find usable for the system you are working with. You could for instance say that </p>

<pre><code>u  = 0,  if |e| &lt; 5 and
u  = 1,  otherwise
</code></pre>

<p>which effectively would be a simple on-off switch like your typical thermostat. </p>

<p>Hope this help!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2946" data-toggle = "popover">
				<p>user name : Tormod Haugene</p>
				<p> user reputation : 213</p>
				<p class = "tagcontent" id = "usertaginfo-2946">{'None': 5, 'computer-vision': 3, 'cameras': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2946">Load Comments</button></br>
			<div id = "commentsection-2946" class = 'collapse'>
			<div id = "comment-5375" class = "comment">
				<p>I am not quite sure.. i am getting the reason why i shouldn't use I, D or ID.
you start saying it opposes the effect of P, but then again there is nothing  wrong about using it. ...</p>
			</div>
			<div id = "comment-5377" class = "comment">
				<p>What I am trying to say, is that there is no single "perfect" controller for every application: if the I, D or ID controller works for your purpose, then use it. But more often than not, a PID, PD or PI controller has proven to work better than a I, D or ID controller. Therefore, I would recommend that you use either a PID, PD or PI controller, since it most likely will be the better choice for your application too.</p>
			</div>
			<div id = "comment-5384" class = "comment">
				<p>my confusing appears as if Matlab recommend me using a I controller for my system.. but it results in reality to some weird output.</p>
			</div>
			<div id = "comment-5389" class = "comment">
				<p>Then I would simply not use the controller Matlab suggests. matlab is good for a lot of purposes, but the standard procedures are not always the best. ;-)</p>
			</div>
			<div id = "comment-8028" class = "comment">
				<p>I would add that, to make it short, the I and D components are related to the dynamics of the control, whereas the P component is related to the error reference position (in an abstract manner) to reach.</p>
			</div>
			</div>
				<textarea id = "speech-2946" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2946">
					<img id="start_img-2946" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2946">Comment</button>
			<br><div id = "ans-5232"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5232" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>While a simple <em>D</em> controller is merely useless for the reasons outlined by ryan0270 in his <a href="https://robotics.stackexchange.com/a/2928/6941">answer</a>, there are cases where a simple <em>I</em> controller does perform perfectly well. It pretty much depends on the characteristics of the system we have to control.</p>

<p><em>Real Example Case</em></p>

<p>Stabilize the head motion of a humanoid robot by sending counter-velocity commands to the neck while we can sense velocity disturbances by means of a IMU device that are caused by the movements of the torso (or whatever disturbances, e.g. the robot can walk).</p>

<p>It comes out that the velocity response of the group <em>Head+IMU</em> when solicited by a velocity step can be described by the following second order under-damped process:</p>

<p>$$
G(s)=\frac{0.978}{1+2 \cdot 0.286 \cdot 0.016s+(0.016s)^2}e^{-0.027s}.
$$</p>

<p>Therefore, the goal is to design a controller that provides a sufficient counter-action in the following classical disturbance rejection diagram:</p>

<p><img src="https://i.stack.imgur.com/BhesR.png" alt="enter image description here"></p>

<p>A <em>I-only</em> controller with gain $K_I=11$ (discrete controller running @ 100 Hz) suffices to accomplish the job making the closed-loop system <em>Type I</em> and performing great in real experiments. No need for <em>P</em> then.</p>

<p>This is shown in the plot below, where three system responses are drawn for three corresponding controllers counteracting a step-wise velocity disturbance. The proportional part starts becoming helpful only for very tiny value of the gain <em>P</em>. The integral part is dominant, doing almost all the task.</p>

<p><img src="https://i.stack.imgur.com/6AbTM.png" alt="enter image description here"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5232" data-toggle = "popover">
				<p>user name : Ugo</p>
				<p> user reputation : 1482</p>
				<p class = "tagcontent" id = "usertaginfo-5232">{'None': 99}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5232" class = 'collapse'>
			</div>
				<textarea id = "speech-5232" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5232">
					<img id="start_img-5232" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5232">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>