<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why ODE for optimal control theory
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11634" class = "post">
			<h2>Question</h2>
			<div id="vote-11634" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 91</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why ODE for optimal control theory</h2>
<p>I am trying to understand optimal control theory which forms the base for reinforcement learning techniques in AI. Whenever I open a lecture or a book or any online notes, everything starts with an ode and then derivation goes the payoff function which is straight forward. </p>

<p>I am trying hard to comprehend why an ODE models any system ? Many say it easy to begin with but why this model ?</p>

<p>$dx/dt = f(x(t))$</p>

<p>I could not find the reason and decided to ask for help.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11634" data-toggle = "popover">
				<p>user name : bicepjai</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-11634">{'control': 0, 'None': 0, 'theory': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11634">Load Comments</button></br>
			<div id = "commentsection-11634" class = 'collapse'>
			<div id = "comment-20835" class = "comment">
				<p>I don't understand your question. You need ODEs to mathematically describe how the system behaves as time goes. What else need to be said?! May be if you narrow your question a bit, ppl may help.</p>
			</div>
			<div id = "comment-20892" class = "comment">
				<p>ODE stands for Ordinary differential equation which describes analog systems like curves. For controlling a robot that is not powerfull enough. So hybrid systems are extended by with finite state machines. On the one hand, you have a normal state-machine which iterates through the walk cycles and on the other hand inside every state a solver calculates Ordinary differential equations. [(1)](https://en.wikipedia.org/wiki/Hybrid_system)</p>
			</div>
			</div>
				<textarea id = "speech-11634" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11634">
					<img id="start_img-11634" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11634">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11638"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11638" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The reason why ODE's are used is simply: physics. It would be great if any system could be modelled by a simple linear function like $x(t)=at$, but nature is not so simple, or linear. Even when you neglect nature, dynamical systems, like $\dot{x}(t)=f(x(t))$ still pop up everywhere, like CroCo said, it is the basis of the mathematical modelling of many systems.</p>

<p>I would suggest looking into differential equations first before starting with reinforcement learning. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11638" data-toggle = "popover">
				<p>user name : WalterJ</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-11638">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11638">Load Comments</button></br>
			<div id = "commentsection-11638" class = 'collapse'>
			<div id = "comment-20837" class = "comment">
				<p>I looked at one f the differential equation class on edx. Cleared it up. Thanks.</p>
			</div>
			<div id = "comment-20838" class = "comment">
				<p>@bicepjai: What exactly was cleared up by the edx class?  Please share the details of what you learned from the class that clarified your question.</p>
			</div>
			<div id = "comment-20839" class = "comment">
				<p>Parameters on modeling depends on the system we are attempting to model which is f(x) here. Rate of change in a system is a natural way of modeling which gives us the necessary system state as function of time, convinced myself after sifting through examples. I ended up signing up for the mitx diff eqn course.</p>
			</div>
			</div>
				<textarea id = "speech-11638" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11638">
					<img id="start_img-11638" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11638">Comment</button>
			<br><div id = "ans-11681"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11681" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Appending to @WalterJ's answer. </p>

<p>Linear and nonlinear systems which form the basis for subjects like optimal control theory have rigorous math fundamentals which allow you to analyze ODEs without actually solving them and mathematically prove whether is system is stable, how fast your convergence will be or define a safe operating region. This makes representing systems as ODEs very useful in control systems. ODE representation also makes it clear how your states (eg: position, velocity, acceleration for cars) interact with each other (is there any coupling between the states?). </p>

<p>Coming back to optimal control, the cost functional is expressed as functions of your states and/or control inputs. Say you want to minimize distance, your cost functional will be the integral over the velocity for all time. As you expressed your system as an ODE, you already have access to this expression. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11681" data-toggle = "popover">
				<p>user name : Arun Lakshmanan</p>
				<p> user reputation : 76</p>
				<p class = "tagcontent" id = "usertaginfo-11681">{'None': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11681" class = 'collapse'>
			</div>
				<textarea id = "speech-11681" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11681">
					<img id="start_img-11681" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11681">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>