<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>WHY are there no operating torque specifications on steppers?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1638" class = "post">
			<h2>Question</h2>
			<div id="vote-1638" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 224</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>WHY are there no operating torque specifications on steppers?</h2>
<p>I have been looking online for a while, and I cannot seem to find any steppers without any torque ratings. (<strong>Operating torque, not holding torque.</strong>) I even looked on hobby sites that usually have all the ratings, including Adafruit and Sparkfun. I only have found one ever that said the operating torque, however, it didn't seem that reputable and it didn't have holding torque, so it might be likely that it's a mistake. I might contact them and ask.</p>

<p><strong>Am I missing something? Can I calculate what it will run at with certain factors? (How long in between each step, etc.)</strong></p>

<p>The reason that I say that is I found a tutorial saying how much <em>torque</em> (didn't specify which kind, but I kinda assume it isn't holding) you need for a CNC machine (what I'm building).</p>

<hr>

<p><strong>Equation (From <a href="http://buildyourcnc.com/torquemotion.aspx">this</a> site):</strong></p>

<pre><code>Torque = ((weight)(inches/revolution))/2(pi)
</code></pre>

<p>Also on the page:</p>

<blockquote>
  <p>By the way, we are talking about torque during a continual turning motion, not at a holding position.</p>
</blockquote>

<p>That seems like operating torque, but what makes it the most confusing is they sell steppers and they only list the holding.</p>

<hr>

<p><strong>What am I missing?</strong></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1638" data-toggle = "popover">
				<p>user name : Anonymous Penguin</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-1638">{'stepper-driver': 2, 'None': 1, 'algorithm': 1, 'arduino': 3, 'pid': 1, 'rcservo': 21, 'torque': 3, 'current': 3, 'cnc': 9, 'motor': 15, 'stepper-motor': 19}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1638">Load Comments</button></br>
			<div id = "commentsection-1638" class = 'collapse'>
			<div id = "comment-3417" class = "comment">
				<p>This was already asked&answered here http://robotics.stackexchange.com/questions/999/for-servos-can-it-be-implied-that-holding-torque-operating-torque-2-like - the answer might not satisfy you</p>
			</div>
			<div id = "comment-3418" class = "comment">
				<p>@ott-- That's really funny!!! I asked that question! Anyway, I feel like they are different questions because, although that one is similar, it is a bit different. I forgot about the part "torque decreases with speed," but I still think that answer doesn't fully cover everything in *this* question.</p>
			</div>
			<div id = "comment-3431" class = "comment">
				<p>There almost always is a torque graph (or several at different voltages) for any reputable stepper vendor.  Running torque depends on the driver, the bus voltage and the motor.</p>
			</div>
			<div id = "comment-3432" class = "comment">
				<p>Also note a stepper is basically a brushless DC motor.  You can "step" any brushless DC if you were so inclined.  It's just the design parameters are targetted at different applications.</p>
			</div>
			</div>
				<textarea id = "speech-1638" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1638">
					<img id="start_img-1638" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1638">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1639"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1639" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Stepper motors are nasty little beasts and I don't like them.</p>

<p>Actually, stepper motors are perfectly good as far as they go, but there are subtleties involved in selecting them and running them -- and I've had a couple of projects where the incorrect motor was chosen, then the problem of driving it was dumped unceremoniously in my lap.</p>

<p>Given a stepper motor without feedback, if you ask for too much torque from the motor then it will slip, and you won't have any clue where your mechanism is until you home it again.  Given a stepper motor <em>with</em> feedback, you have all the pieces you need to use a DC motor, perhaps with a gearbox, in a smaller package that won't get as hot.</p>

<ul>
<li>You want to design your mechanism with lots of torque overhead.  The article that ott references says you got a guideline to overdesign by a factor of 2 -- that's probably wise, unless you really flog the numbers, test the snot out of things, and are ready to fail anyway.</li>
<li>With constant-voltage drive, torque drops with speed.  I believe that this is mostly due to the inductance of the motor, which is listed in the good data sheets.  Fancy stepper drives are current-controlled, to try to drive the current to the data sheet value quickly, in spite of the stepper's inductance (and maybe back-EMF).  They do this by driving higher voltage into the stepper than its continuous-duty rating.</li>
<li>More subtly, accelerating a mechanism requires torque, and decelerating it requires torque in the other direction.  If you're trying for speedy transitions this can make a stepper slip.  You need to calculate the acceleration that you can achieve, and stay below it both coming and going.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1639" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1639">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1639">Load Comments</button></br>
			<div id = "commentsection-1639" class = 'collapse'>
			<div id = "comment-3420" class = "comment">
				<p>Some nice tips! But do you think the article is referencing holding or operating??? I was planning to use the equation with a ***lot*** more weight than I'd ever probably use and then double the output. A couple more questions: how do you change between constant voltage and amperage?</p>
			</div>
			<div id = "comment-3422" class = "comment">
				<p>That torque = weight * 2 * pi * (inch/revolution) is just translating force (miscalled weight) to torque through a gearbox.  So the smart-ass answer is "holding force or working force?".  Note that that relationship ignores losses in the screw mechanism -- I didn't read the whole article to know if it's taken care of elsewhere, but you should certainly be aware that whatever torque is generated at the motor will suffer losses as it gets turned into force.  I'd still compute the torque needed from the motor, then make sure that it was exceeded by a generous margin.</p>
			</div>
			<div id = "comment-3427" class = "comment">
				<p>But how do I tell what my motor can do as far as operating torque? It doesn't say *anywhere*. Is there a calculator that I can use (and factor in a margin for error)? So you're saying that this equation is for both holding and operating? That makes sense, but why does nobody ask for equations?</p>
			</div>
			<div id = "comment-3430" class = "comment">
				<p>I FOUND A MOTOR WITH BOTH!!! YAY!!!!</p>
			</div>
			<div id = "comment-3436" class = "comment">
				<p>@Anon -- Link to the motor data sheet?  I'm curious.</p>
			</div>
			<div id = "comment-3442" class = "comment">
				<p>I believe it's mostly back-EMF that causes the torque drop vs. speed in constant voltage driven steppers.</p>
			</div>
			<div id = "comment-3445" class = "comment">
				<p>@TimWescott Did you mean "AnnonomusPerson" not "Aron"? I just picked up on that one?</p>
			</div>
			<div id = "comment-3499" class = "comment">
				<p>@AnnonomusPerson: yea.  I'm not up on all this nym stuff.</p>
			</div>
			</div>
				<textarea id = "speech-1639" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1639">
					<img id="start_img-1639" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1639">Comment</button>
			<br><div id = "ans-1648"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1648" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I have never seen a stepper motor manufacturer <strong>not</strong> specify the torque vs. speed.  I'm not sure where you've looked but a lot of people re-sell various random equipment to hobbyists without providing the same level of information.</p>

<p>These graphs look like this one (<a href="http://www.orientalmotor.com/products/pdfs/2012-2013/A/usa_st_overview.pdf" rel="nofollow noreferrer">source</a>)</p>

<p><img src="https://i.stack.imgur.com/XijM8.png" alt="Stepper torque vs. speed"></p>

<p>The way you drive steppers has a large influence on their performance.  The DC bus voltage you use, whether or not it's a constant current driver and whether or not you're micro-stepping all have an influence.  The vendor will state the conditions under which this curve was measured.</p>

<p>If you're using a stepper in open loop (stepper motors can be used in closed loop servo just like their brushless DC cousins) you want to have adequate torque margin to ensure you never lose a step.  A rule of thumb is x2.</p>

<p>Examples of some vendors are: <a href="http://www.orientalmotor.com/index.html" rel="nofollow noreferrer">Oriental Motor</a>, <a href="http://www.electrocraft.com/" rel="nofollow noreferrer">ElectroCraft</a> (formerly Eastern Air Devices).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1648" data-toggle = "popover">
				<p>user name : Guy Sirton</p>
				<p> user reputation : 970</p>
				<p class = "tagcontent" id = "usertaginfo-1648">{'None': 75}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1648" class = 'collapse'>
			</div>
				<textarea id = "speech-1648" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1648">
					<img id="start_img-1648" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1648">Comment</button>
			<br><div id = "ans-1665"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1665" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'm pretty sure that people at the place that manufactured your stepper motors did, in fact, write up a datasheet including operating torque specifications and lots of other information.</p>

<p>It is unfortunate that all too often a person ends up with some electrical part in his hand, and somehow the datasheet was lost along the way.
I've discovered that it's well worth the money to buy stuff from people who actually do supply good datasheets, rather than try to save a few nickles buying allegedly "the same" part from other people who can't be bothered to forward the datasheets they got from the manufacturer.</p>

<p>A few links to datasheets that list operating torque:</p>

<ul>
<li><a href="http://www.kelinginc.net/KL23H251-24-8BT.pdf" rel="nofollow">Torque curve for the KL23H251-24-8B</a></li>
<li><a href="http://www.shinano.com/motors/docs/SKC_stepper_operation.pdf" rel="nofollow">"Stepper Motor Operation and Theory": "Fig. 7-1 Speed - Torque Curve"</a> gives a brief explanation of the speed-torque curve.</li>
<li><a href="http://www.linengineering.com/line/contents/stepmotors/pdf/LinEngineering_Catalog_2011-2012_HR.pdf" rel="nofollow">"Lin Engineering Catalog": "Reading a speed and torque curve"</a> on p. 11 gives  a brief explanation of the speed-torque curve. The rest of the catalog has many speed-torque curves for particular motors.</li>
<li><a href="http://www.alltronics.com/mas_assets/acrobat/28M016.pdf" rel="nofollow">torque curves</a> for several Lin Engineering steppers</li>
<li><a href="http://www.alephobjects.com/hardware/motors/SY42STH47-1504A_060047067.pdf" rel="nofollow">Pull out torque curve for the SY42STH47-1504A</a></li>
<li><a href="http://www.trinamic.com/tmc/media/Downloads/QMot_motors/QSH4218/QSH4218_manual.pdf" rel="nofollow">Torque figures for Trinamic QSH4218 series</a>(p. 7-8)</li>
<li><a href="http://www.wantmotor.com/ProductsView.asp?id=155&amp;pid=75&amp;sid=80" rel="nofollow">Pulse-torque characteristics of the 42BYGHW</a> (several graphs of speed vs. torque, each one of the <em>same</em> motor connected to a different kind of motor driver).</li>
<li><a href="http://catalog.orientalmotor.com/plp/itemdetail.aspx?cid=1002&amp;categoryname=all-categories&amp;productname=pk-series-stepping-motors&amp;itemname=pke245da-l&amp;cid=1002&amp;plpver=11&amp;categid=100&amp;prodid=3001048&amp;itemid=49362&amp;origin=groupdetail&amp;by=prod&amp;filter=0&amp;grpid=25391&amp;backtoname=Compatible%20Motors%20%28sold%20separately%29&amp;isUOM=1#" rel="nofollow">Speed-Torque Characteristics of the Oriental Motor PKE245DA-L</a></li>
</ul>

<p>As you can see from the above graphs, the torque at the maximum-mechanical-power part of the torque curve is very roughly half the "holding torque" (the torque when moving very slowly).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1665" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-1665">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1665" class = 'collapse'>
			</div>
				<textarea id = "speech-1665" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1665">
					<img id="start_img-1665" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1665">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>