<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why this question was down-voted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1206" class = "post">
			<h2>Question</h2>
			<div id="vote-1206" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 120</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why this question was down-voted?</h2>
<p><strong><a href="https://apple.stackexchange.com/q/45386/128">Is there any indication that Apple/iCloud will offer a  photo collection hosting  service, comparable to Picasa Web Albums?</a></strong></p>

<p>Why this question was down voted two times? I think it is a legitimate question! 
Or is it a bad question, because actually no real answer exists (because nobody know if Apple provides a photo hosting in the future again)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1206" data-toggle = "popover">
				<p>user name : Tim</p>
				<p> user reputation : 632</p>
				<p class = "tagcontent" id = "usertaginfo-1206">{'answers': 4, 'None': 0, 'discussion': 4, 'questions': 4, 'accepted-answer': 4}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1206" class = 'collapse'>
			</div>
				<textarea id = "speech-1206" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1206">
					<img id="start_img-1206" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1206">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1207"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1207" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is a open-ended question, not based on an actual problem.
Answers will rather reflect a debate than come to conclusions.
This is not the aim of the stackexchange network and such questions do not fit the Q&amp;A format.</p>

<p>Like the <a href="https://apple.stackexchange.com/faq">FAQ</a> says,</p>

<blockquote>
  <p>If your motivation for asking the question is  I would like to
  participate in a discussion about ...."., then you should not be
  asking here. However, if your motivation is  I would like others to
  explain .... to me , then you are probably OK.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1207" data-toggle = "popover">
				<p>user name : gentmatt</p>
				<p> user reputation : 32773</p>
				<p class = "tagcontent" id = "usertaginfo-1207">{'None': 37, 'discussion': 3, 'blog': 3, 'reputation': 0, 'status-bydesign': 0, 'bug': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1207" class = 'collapse'>
			</div>
				<textarea id = "speech-1207" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1207">
					<img id="start_img-1207" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1207">Comment</button>
			<br><div id = "ans-1210"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1210" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The increase in questions of lower quality brought about by the iPad promotion has everone's shields up so the down voting may be more rigorous than it was previously. </p>

<p>You nailed the reason for the down votes of this one <em>there is no objective answer</em>. Matt's response and the FAQ should fill in the blanks but a <em>litmus test</em> that I sometimes like to apply is that on <strong>Ask Different</strong> we want you to tell us what you <em>know</em>, not what you <em>think</em>.</p>

<p>Granted this test isn't black and white. Some questions do leave room for opinion, and sometimes there are different <em>correct</em> (or at least <em>workable</em>)solutions that might be subject to valid debate. However, the more subjective (or worse still, <em>speculative</em>) a resulting answer is likely to be, the less likely the question will meet the test for <strong>quality</strong>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1210" data-toggle = "popover">
				<p>user name : jaberg</p>
				<p> user reputation : 8538</p>
				<p class = "tagcontent" id = "usertaginfo-1210">{'None': 30}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1210" class = 'collapse'>
			</div>
				<textarea id = "speech-1210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1210">
					<img id="start_img-1210" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1210">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>