<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why is this site's URL not the same as its name?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2697" class = "post">
			<h2>Question</h2>
			<div id="vote-2697" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">12</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 190</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why is this site's URL not the same as its name?</h2>
<p>I have seen both <a href="https://apple.meta.stackexchange.com/questions/1318/why-is-this-site-called-ask-different">this</a> and <a href="https://apple.meta.stackexchange.com/questions/286/ask-different-really-surely-ask-apple">this</a>, and I am asking "the other side of the coin", in a way. What I was wondering is: why didn't we make the play on the Think Different campaign in the URL as well as in the site? It is strange to have a site called AskDifferent whose URL is apple.stackexchange.com  Why not askdifferent.com? After all, SO has stackoverflow.com, not .stackexchange.com, and same goes for AskUbuntu's askubuntu.com </p>

			</div>
			<div id = "userinfo-2697" style = "float:right">
				<p>user name : MickG</p>
				<p> user reputation : 137</p>
				<p> user tag wise history : {'site-name': 12, 'None': 0, 'discussion': 12}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2697" class = 'collapse'>
			</div>
				<textarea id = "speech-2697" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2697">
					<img id="start_img-2697" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2697">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2698"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2698" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I'll hazard some thought as I was around when this was discussed with the moderators at that moment in time. I have speculation and opinions, but they are just that other than links to other posts.</p>

<hr>

<p>The people that run the site registered <a href="http://askdifferent.com">http://askdifferent.com</a> and point it to the name apple.stackexchange.com and the why is for them to answer. I think it had to do with not setting more precedent in making a custom name other than the original trilogy or a preference to market/brand things consistently for web market share numbers or appearances in building the reputation of the network. Having a custom domain necessarily weakens the link to the branding of the company and some process or some one made that call a while back.</p>

<p>The community has voted pretty overwhelmingly to have things the other way around - have the site served out of a custom name and have requests from the apple.stackexchange.com resolve to the custom name, but those are just internet votes and not anyone that has actual authority to make any change.</p>

<ul>
<li><a href="https://apple.meta.stackexchange.com/questions/9/domain-name-suggestions/24#24">Domain name suggestions</a></li>
</ul>
</p><br>
			</div>
			<div id = "userinfo-2698" style = "float:right">
				<p>user name : bmike</p>
				<p> user reputation : 130143</p>
				<p> user tag wise history : {'etiquette': 3, 'community-wiki': 12, 'design': -1, 'migration': 1, 'chat': 2, 'flagging': 32, 'status-reproduced': 7, 'review-page': 2, 'spam': 4, 'site-scope': 80, 'discussion': 428, 'blog': 4, 'close-reasons': 32, 'feature-request': 21, 'status-bydesign': 3, 'asking-questions': 23, 'None': 1087, 'tags': 36, 'faq': 247, 'canonical-questions': 27, 'status-completed': 22, 'exact-duplicates': 5, 'itunes-connect': 27, 'editing': 1, 'bug': 38, 'site-promotion': 13, 'mobile': 1, 'closed-questions': 58, 'advertising': 2, 'support': 52}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2698" class = 'collapse'>
			</div>
				<textarea id = "speech-2698" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2698">
					<img id="start_img-2698" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2698">Comment</button>
			<br><div id = "ans-2703"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2703" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is covered (for all SE sites) in <a href="http://blog.stackoverflow.com/2010/10/domain-names-the-wrong-question/">this blog post</a>.</p>

<p>I believe SO, SU, AskUbuntu, and any others have those names purely for historical reasons. SO because it's SO; I <em>think</em> AU was independent before it joined SE; not sure about SU, maybe just because it's old enough to have slipped through.</p>
</p><br>
			</div>
			<div id = "userinfo-2703" style = "float:right">
				<p>user name : OJFord</p>
				<p> user reputation : 196</p>
				<p> user tag wise history : {'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2703">Load Comments</button></br>
			<div id = "commentsection-2703" class = 'collapse'>
			<div id = "comment-5996" class = "comment">
				<p>Ask Ubuntu is named because Canonical has an ownership stake, so it's eligible to use the Trademark.</p>
			</div>
			</div>
				<textarea id = "speech-2703" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2703">
					<img id="start_img-2703" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2703">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>