<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why is the edit link displayed but is uneditable?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1565" class = "post">
			<h2>Question</h2>
			<div id="vote-1565" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 48</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why is the edit link displayed but is uneditable?</h2>
<p>Recently returned to active participation in Ask Different so bear with me if rules have changed.</p>

<p>Saw this post <a href="https://apple.stackexchange.com/questions/80135/help-i-need-help-here">Restoring a jailbroken iPhone</a> which IMO needed editing.
Though the edit link is displayed, it's unclickable. Only share is allowed.</p>

<p>Why?</p>

			</div>
			<div id = "userinfo-1565" style = "float:right">
				<p>user name : Global nomad</p>
				<p> user reputation : 2629</p>
				<p> user tag wise history : {'suggested-edits': 4, 'None': 0, 'support': 4, 'editing': 4, 'discussion': 18}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1565">Load Comments</button></br>
			<div id = "commentsection-1565" class = 'collapse'>
			<div id = "comment-2934" class = "comment">
				<p>Interesting.. The 'edit' option is disabled on this question as well (not that I was going to edit it). Have they just disabled it?</p>
			</div>
			<div id = "comment-2937" class = "comment">
				<p>Possible Duplicate:  http://meta.apple.stackexchange.com/questions/999/why-dont-i-see-an-edit-link-below-the-post-on-this-page</p>
			</div>
			<div id = "comment-2938" class = "comment">
				<p>Daniel, it's a duplicate but Mark's answer is better (concise and helpful). Possible to merge both questions for future reference?</p>
			</div>
			<div id = "comment-2954" class = "comment">
				<p>@Phorce It says "Suggested edits are not allowed on non-tag-wiki posts on meta sites" when you hover it on meta, so I guess that makes sense.</p>
			</div>
			</div>
				<textarea id = "speech-1565" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1565">
					<img id="start_img-1565" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1565">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1566"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1566" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The question had a pending edit by a user with low reputation (&lt;2000). This has to be approved by two users with reputation >=2000.</p>

<p>As both @Globalnomad and @Phorce have &lt; 2000 you cannot edit or approve it so you have to wait until the pending edit is approved. (I have approved it so only one more needed now)</p>
</p><br>
			</div>
			<div id = "userinfo-1566" style = "float:right">
				<p>user name : Mark</p>
				<p> user reputation : 16790</p>
				<p> user tag wise history : {'None': 93, 'synonym': 7, 'tags': 6, 'site-scope': 10, 'support': 9, 'canonical-questions': 4, 'status-completed': 6, 'bug': 13, 'closed-questions': 1, 'close-reasons': 1, 'hyperlinks': 1, 'feature-request': 8, 'status-bydesign': 8, 'editing': 1, 'discussion': 39}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1566">Load Comments</button></br>
			<div id = "commentsection-1566" class = 'collapse'>
			<div id = "comment-2935" class = "comment">
				<p>Ah ok, thanks for answering. Much appreciated.</p>
			</div>
			<div id = "comment-2936" class = "comment">
				<p>I've cleared the edit queue, so @Globalnomad or others can fix it the rest of the way.</p>
			</div>
			</div>
				<textarea id = "speech-1566" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1566">
					<img id="start_img-1566" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1566">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>