<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why cannot we find EtherCAT shields?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3058" class = "post">
			<h2>Question</h2>
			<div id="vote-3058" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1594</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why cannot we find EtherCAT shields?</h2>
<p>I have a riddle about EtherCAT in mind and I'd like to have your point of view about it...</p>

<p>With the rise of open platforms and hardware, and easily accessible embedded machines, it is now rather straightforward to install a RT system such as Xenomai on a raspberry PI, or a beagleboard black, or whatever cheap platform you prefer...</p>

<p>Now to connect these a RT bus would be really cool (e.g. EtherCAT...).</p>

<p>Hence my question: every hobbyist face the same problems with RT communication, so is there any good reason why there does not exist any open EtherCAT shield for raspberry PI or beagleboards? It would solve so many problems...</p>

<p>Any thoughts on why? Any idea?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3058" data-toggle = "popover">
				<p>user name : arennuit</p>
				<p> user reputation : 170</p>
				<p class = "tagcontent" id = "usertaginfo-3058">{'control': 20, 'servomotor': 6, 'None': 0, 'errors': 3, 'motor': 14, 'communication': 10, 'pid': 4, 'brushless-motor': 5, 'design': 9, 'robotic-arm': 4, 'dynamics': 3, 'servos': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3058">Load Comments</button></br>
			<div id = "commentsection-3058" class = 'collapse'>
			<div id = "comment-16442" class = "comment">
				<p>I'm afraid that *[shopping questions](http://blog.stackoverflow.com/2010/11/qa-is-hard-lets-go-shopping/)* really aren't a good fit for a stack exchange site. We prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*. Take a look at [ask] and [about] for more information on how stack exchange works, and the [*Robotics* question checklist](http://meta.robotics.stackexchange.com/q/1302/37) for details of how to write a good question.</p>
			</div>
			<div id = "comment-16459" class = "comment">
				<p>Acceptance of a field bus by the embedded community... Is that what you call a shopping question? Because this what my post is all about... I must admit I am a bit surprised by your decision.</p>
			</div>
			<div id = "comment-16462" class = "comment">
				<p>Sorry @arennuit but this question can be interpreted in two ways, asking for a discussion or asking for a shopping recommendation. Both would be considered *primarily opinion-based* and get your question closed. When a question doesn't fit community guidelines, it has to be closed or risk [Broken windows](http://en.wikipedia.org/wiki/Broken_windows_theory), luckily you got several answers before it was closed. Remember that in general it is better ask *How do I solve this problem?* than *Why can't I solve this my problem in this way?* as you may preclude answers providing better solutions.</p>
			</div>
			</div>
				<textarea id = "speech-3058" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3058">
					<img id="start_img-3058" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3058">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3059"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3059" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are some small EtherCAT peripherals, like Shadow's <a href="http://www.shadowrobot.com/products/ronex/" rel="nofollow noreferrer">Ronex</a> system, which gives you a great deal of I/O, although it's not in the 'shield' form factor.</p>

<p><img src="https://i.stack.imgur.com/TSzpb.jpg" alt="Shadow Robot Ronex"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3059" data-toggle = "popover">
				<p>user name : Rocketmagnet</p>
				<p> user reputation : 4235</p>
				<p class = "tagcontent" id = "usertaginfo-3059">{'control': 31, 'force': 8, 'multi-agent': 5, 'pid': 29, 'air-muscle': 6, 'uav': 52, 'stepper-driver': 3, 'reliability': 5, 'motor': 12, 'esc': 1, 'mobile-robot': 6, 'ros': 35, 'stepper-motor': 3, 'tuning': 12, 'swarm': 10, 'research': 5, 'platform': 17, 'imu': 4, 'kalman-filter': 49, 'hri': 4, 'None': 266, 'raspberry-pi': 24, 'localization': 7, 'python': 7, 'torque': 3, 'brushless-motor': 28, 'failure': 5, 'force-sensor': 15, 'sensors': 20, 'pwm': 10, 'wireless': 10, 'servos': 7, 'wifi': 24, 'simulation': 6, 'servomotor': 11, 'particle-filter': 0, 'sensor-fusion': 4, 'automatic': 12, 'software': 17}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3059">Load Comments</button></br>
			<div id = "commentsection-3059" class = 'collapse'>
			<div id = "comment-5558" class = "comment">
				<p>Hu? How can an EtherCAT device only have a single RJ45 plug? You need two: one for the input frame and one for the output one... What's the catch here? (It is not clear from the website)</p>
			</div>
			<div id = "comment-5559" class = "comment">
				<p>Ha I get it! The Ronex board simply does not allow to daisy chain multiple slaves! So you do not need a 2nd RJ45 plug for output... Now I saw that Ronex is designed for ROS, but what's the point in having RT transport for ROS, as ROS is not RT?</p>
			</div>
			<div id = "comment-5560" class = "comment">
				<p>@arennuit - Yes, you can daisy chain the Ronex (there's an Out bridge coming soon), or use it as the end of a chain. ROS has a soft real-time control loop which is capable of servoing all of the motors on a robot through the EtherCAT bus.</p>
			</div>
			<div id = "comment-5561" class = "comment">
				<p>Haha, interesting! Do you believe the couple ROS/Ronex is "real-time enough" to do this kind of precise motor coordination: https://www.youtube.com/watch?v=XNwnG00DwG8</p>
			</div>
			<div id = "comment-5562" class = "comment">
				<p>@arennuit The control loop is 1kHz. I don't know what loop speed Maxon are using in that demo. It's certainly fast enough to [control a PR2 robot](http://www.youtube.com/watch?v=cTCJSNjTdo0).</p>
			</div>
			<div id = "comment-5563" class = "comment">
				<p>Hi Rocketmagnet, it is not really the frequency of the low level control which is at stakes in the video but rather the synchronization between the commands transported to these drives (synchronization is not enforced on non-RT systems and commands supposed to be simultaneous can arrive to a motor before arriving to another motor). Anyways, I got your point, thanks a lot for your help!</p>
			</div>
			</div>
				<textarea id = "speech-3059" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3059">
					<img id="start_img-3059" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3059">Comment</button>
			<br><div id = "ans-9251"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9251" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In my mind the hardware is just no long enought on the market to allow a shift to the hobby sector. <br> You need very special designed hardware to handle those realtime protocols and on the other hand most of these protocols (Mechatrolink, SyncNet, Sercos, Ethercat) are a complete overkill to the hobby sector. <br><br>
But this will change soon (except the point that those protocols are a complete overkill). There are lot of microcontrollers, which have been released recently, which can handle some of those protocols. There are even some ARM Cortex M controllers with Ethercat (Like the Infineon X4800 or some TI-Chips).
A collegue of mine just redesigned a Beaglebone Board to handle Ethercat. It is not an impossible task, just someone has to start. Give it two more years and you will see them popping up all over the place.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9251" data-toggle = "popover">
				<p>user name : TobiasK</p>
				<p> user reputation : 1572</p>
				<p class = "tagcontent" id = "usertaginfo-9251">{'control': 1, 'None': 102, 'communication': 0, 'wireless': 0, 'imu': 0, 'sensor-fusion': 0, 'gps': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9251">Load Comments</button></br>
			<div id = "commentsection-9251" class = 'collapse'>
			<div id = "comment-16369" class = "comment">
				<p>Interesting. What do you mean when saying a beaglebone was "redesigned" to handle ethercat? You mean your friend used the PRU (Programmable Realtime Unit and Industrial Communication Sub System) of the Beaglebone?</p>
			</div>
			<div id = "comment-16370" class = "comment">
				<p>I haven't seen the curcuits yet, but he placed the two RJ45-Jacks, the magnetics and another chip. Basically he is using the realtime coprocessor, which is on-board per default.</p>
			</div>
			</div>
				<textarea id = "speech-9251" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9251">
					<img id="start_img-9251" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9251">Comment</button>
			<br><div id = "ans-9275"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9275" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From <a href="http://www.nethat.net/" rel="nofollow">netHAT</a>, you can find an EtherCAT shield for the Raspberry Pi:</p>

<blockquote>
  <p>The netHAT module developed by Hilscher adds the RaspberryPi  RealTime-communication. This enables the RaspberryPi  to be used as a slave in a PROFINET network. But not only PROFINET is possible, all other common real-time Ethernet networks such as Ethernet / IP or EtherCAT could be supported. The protocol stacks are preconfigured to 32 input and output bytes, that can be exchanged with the PLC. Hilscher provides everything which is necessary for the communication with the PLC, device description files, firmware and application example. Just attach the module and start to communicate.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9275" data-toggle = "popover">
				<p>user name : Marco</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-9275">{'None': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9275">Load Comments</button></br>
			<div id = "commentsection-9275" class = 'collapse'>
			<div id = "comment-16422" class = "comment">
				<p>Haha! We are getting there!</p>
			</div>
			</div>
				<textarea id = "speech-9275" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9275">
					<img id="start_img-9275" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9275">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>