<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why was this answer down-voted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1386" class = "post">
			<h2>Question</h2>
			<div id="vote-1386" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 92</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why was this answer down-voted?</h2>
<p>User asked a question about a specific problem, I gave him a specific answer based on my experience and it got voted down?</p>

<p><a href="https://apple.stackexchange.com/a/28446/12418">https://apple.stackexchange.com/a/28446/12418</a></p>

			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1386">Load Comments</button></br>
			<div id = "commentsection-1386" class = 'collapse'>
			<div id = "comment-2661" class = "comment">
				<p>Note that after posting this it moved from -2 up to 0, but I think the question is still valid. Down votes for reasonable answers drive people away.</p>
			</div>
			<div id = "comment-2793" class = "comment">
				<p>I had this question downvoted: http://apple.stackexchange.com/questions/64235/how-can-i-play-an-audio-file-on-intial-startup-of-macbook-pro From a user perspective how are we supposed to learn how to write a better question if there is no guidance as to why question was down voted? I think it's important to offer some sort of direction as to why a particular question is down voted so a user can re-write,expand or clarify a question. Anonymous down voting is obviously the way to go, but down voting with not direction, not so much.</p>
			</div>
			</div>
				<textarea id = "speech-1386" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1386">
					<img id="start_img-1386" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1386">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1388"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1388" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">7</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It was probably downvoted because - at first glance - it looks irrelevant. Your point on interference is entirely correct, but going on about RF interference <em>is</em> irrelevant, as Apple Remotes use infrared. </p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1388" class = 'collapse'>
			</div>
				<textarea id = "speech-1388" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1388">
					<img id="start_img-1388" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1388">Comment</button>
			<br><div id = "ans-1389"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1389" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>At first glance, I would have flagged your answer as "not an answer". Here's why:</p>

<p>You ask a bunch of questions within your post. That is a definite flag as a bad post. You also have irrelevant information included within your post, such as the point about your Wi-Fi dropping.</p>

<p>That being said, your answer <em>is</em> a good answer (you'll now find it has a score of 1). My best suggestion would be to condense your answer and remove irrelevant info.</p>
</p><br>
			</div><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1389" class = 'collapse'>
			</div>
				<textarea id = "speech-1389" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1389">
					<img id="start_img-1389" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1389">Comment</button>
			<br><div id = "ans-1392"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1392" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It was down-voted because somebody with at least 125 reputation points decided to cast a downvote. Really, that's all we can know.</p>

<p>Voting is anonymous, and voters don't need to explain their votes. Voting against an answer removes two reputation points from the person who receives the vote and removes one reputation point from the person who casts the vote, so whoever decides to vote against an answer is sacrificing some of their own reputation to do so.</p>

<p>Your answer could have been down-voted because someone thought your content was irrelevant. It could have been down-voted because someone wanted to up-vote it, but clicked the wrong button. It could have been down-voted because someone was having a bad day and took it out on your post. Because votes are anonymous, unless the voter choses to explain her/his vote, we don't know more than that.</p>

<p>There are many down-votes with which I disagree, but even the moderators don't see who casts them or know why they were cast.</p>
</p><br>
			</div><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1392">Load Comments</button></br>
			<div id = "commentsection-1392" class = 'collapse'>
			<div id = "comment-2665" class = "comment">
				<p>I guess my experience elsewhere is that downvotes are reserved for more egregious types of answers, but it is what it is.</p>
			</div>
			<div id = "comment-2666" class = "comment">
				<p>@Jish It sounds like you think they should be, and I think they should be, but in fact, policy *is* what decision makers decide to do, and and as long as our site is based on distributed decision making (i.e. voting), this is the best description we're going to get.</p>
			</div>
			</div>
				<textarea id = "speech-1392" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1392">
					<img id="start_img-1392" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1392">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>