<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why do people answer questions in the comment box?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3003" class = "post">
			<h2>Question</h2>
			<div id="vote-3003" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 45</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do people answer questions in the comment box?</h2>
<p><a href="https://apple.stackexchange.com/questions/278369/mac-os-10-11-6-no-activity-monitor">mac os 10.11.6 no activity monitor</a></p>

<p>A very simple question with a very simple answer, yet for some reason, both answers are being provided in the question comments. Both users have a ton of rep (5k and 8k). </p>

<p>Why not just give the answer the usual way? I see this happen a lot, and I'm tempted to just drop a duplicate in the answer box just to boost the all important score. Bad form or..?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3003" data-toggle = "popover">
				<p>user name : Mikey T.K.</p>
				<p> user reputation : 1540</p>
				<p class = "tagcontent" id = "usertaginfo-3003">{'closed-questions': 7, 'None': 0, 'discussion': 20}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3003">Load Comments</button></br>
			<div id = "commentsection-3003" class = 'collapse'>
			<div id = "comment-6520" class = "comment">
				<p>Related: https://apple.meta.stackexchange.com/questions/2159/to-answer-or-comment-the-plight-of-the-troubleshoot-when-faced-with-ambiguity?rq=1, https://apple.meta.stackexchange.com/questions/2966/old-unanswered-questions-and-comments-as-answers?rq=1</p>
			</div>
			</div>
				<textarea id = "speech-3003" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3003">
					<img id="start_img-3003" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3003">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3004"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3004" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I can't speak for others, but I know I do this when I I am not positive that the answer I give will yield a result. Basically whenever I am suggesting steps to attempt to solve the solution. Sometimes those steps resolve the problem, and thus, I've provided an answer in a comment.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3004" data-toggle = "popover">
				<p>user name : NoahL</p>
				<p> user reputation : 1867</p>
				<p class = "tagcontent" id = "usertaginfo-3004">{'None': 4, 'spam': 8, 'discussion': 13, 'canonical-questions': -3, 'closed-questions': 8, 'questions': 8, 'flagging': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3004" class = 'collapse'>
			</div>
				<textarea id = "speech-3004" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3004">
					<img id="start_img-3004" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3004">Comment</button>
			<br><div id = "ans-3005"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3005" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The question you link to is rather unclear actually: is the user not finding Activity Monitor (as the first sentence implied) or are they looking for ways to solve the actual problem of the computer running hot? So it's kind of understandable that people use the comment section to get basic issues out of the way and then focus on the actual problem in the answer.</p>

<p>In other words: Answers in the comment section are a good indicator that the question needs to be improved by editing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3005" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-3005">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3005">Load Comments</button></br>
			<div id = "commentsection-3005" class = 'collapse'>
			<div id = "comment-6519" class = "comment">
				<p>As show by the very good answer that very proably is nothing to do with the OPs issue</p>
			</div>
			</div>
				<textarea id = "speech-3005" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3005">
					<img id="start_img-3005" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3005">Comment</button>
			<br><div id = "ans-3006"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3006" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I made my suggestion in the comments and also included a link to an Apple support page because I wasn't sure what the OP's actual problem was.  I was trying to help the OP learn where to find resources to answer their questions (the unedited question stated they were new to Mac).</p>

<p>Should I have asked more probing questions to get a better handle on the question?  Maybe I should've done that and it's a good learning point for me.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3006" data-toggle = "popover">
				<p>user name : fsb</p>
				<p> user reputation : 7698</p>
				<p class = "tagcontent" id = "usertaginfo-3006">{'None': 7, 'software-recommendation': 0, 'support': 4, 'close-reasons': 2, 'suggested-edits': 4, 'flagging': 6, 'discussion': 6}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3006" class = 'collapse'>
			</div>
				<textarea id = "speech-3006" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3006">
					<img id="start_img-3006" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3006">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>