<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why does the Pixhawk have 2 IMUs
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-5053" class = "post">
			<h2>Question</h2>
			<div id="vote-5053" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 2550</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why does the Pixhawk have 2 IMUs</h2>
<p>I was looking at the Pixhawk specs and noticed that it has 2 different IMUs- Invensense and STM. Is it for redundancy or does it have any other higher purpose?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-5053" data-toggle = "popover">
				<p>user name : sleeping_dragon</p>
				<p> user reputation : 118</p>
				<p class = "tagcontent" id = "usertaginfo-5053">{'None': 0, 'uav': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5053" class = 'collapse'>
			</div>
				<textarea id = "speech-5053" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5053">
					<img id="start_img-5053" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5053">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-5061"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5061" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Generally engineers implement dual, triple or more sensors with the same function for one or more of the following reasons: </p>

<ol>
<li><p>Reliability: the system should be reliable. Several values can be fetched from several sensor. A voter decides the output(final) value. Boing 777 has 6 sensors for each function. </p></li>
<li><p>Safety and critical systems: if one sensor fails, there should be another one which can replace it.</p></li>
<li><p>Power consumption: some sensor consume more power because of their higher precision. Using two sensor with different precisions can make a big difference on power consumption. The sensor with high precision is turned on whenever high precision sampling is needed. </p></li>
<li><p>Frequency analysis: if you sample from a sensor at 1200Hz and another external frequency with same value is applied then you will get a dc-offset because of the two frequencies interfering with each other. </p></li>
</ol>

<p>In case of Pixhawk, I think the main reason is frequency analysis. There are strong vibrations during flight. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5061" data-toggle = "popover">
				<p>user name : Esk</p>
				<p> user reputation : 358</p>
				<p class = "tagcontent" id = "usertaginfo-5061">{'None': 23, 'chassis': 2, 'motor': 2}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-5061">Load Comments</button></br>
			<div id = "commentsection-5061" class = 'collapse'>
			<div id = "comment-16666" class = "comment">
				<p>Regarding the 777 and its 6 sensors per function: Sensors 1 to 3 report 1, 2 and 3, sensors 4 to 6 report 10, 12 and 14. Which value does the voter choose?</p>
			</div>
			</div>
				<textarea id = "speech-5061" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5061">
					<img id="start_img-5061" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5061">Comment</button>
			<br><div id = "ans-5147"  class = "post">
				<h2>Answer</h2>
			<div id="vote-5147" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The particulars you are asking about are;</p>

<p>ST Micro L3GD20 3-axis 16-bit gyroscope
ST Micro LSM303D 3-axis 14-bit accelerometer / magnetometer</p>

<p>Invensense MPU 6000 3-axis accelerometer/gyroscope</p>

<p>The MPU 600 provides a stand alone I2C bus for attaching a remote magnetometer, to get it away from current and metal. But it also requires external clocking for accuracy.</p>

<p>Why someone would choose to use 2 different brands, I am not sure. It may be that one is used for INS and the other to transmit telemetry data at a different rate. The MPU 6000/6050 is known for its ease of use as it can do math processing on board, i.e. <a href="http://www.spiked3.com/?p=1731" rel="nofollow">Output ready to use quaternions</a>. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-5147" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-5147">{'None': 125}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-5147" class = 'collapse'>
			</div>
				<textarea id = "speech-5147" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-5147">
					<img id="start_img-5147" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-5147">Comment</button>
			<br><div id = "ans-8747"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8747" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This was on <a href="http://www.rcgroups.com/forums/showthread.php?t=1987175&amp;page=483" rel="nofollow">rcgroups</a>:</p>

<blockquote>
  <p>Reply by Rob_Lefebvre on December 31, 2014 at 7:02am </p>
  
  <p>Here is a brief history:</p>
  
  <ol>
  <li><p>The APM class boards used the MPU6000 gyro/accel chip.</p></li>
  <li><p>The Pixhawk was originally designed to use the LSM303D chip, as it was supposed to be better.</p></li>
  <li><p>Initial prototype testing of Pixhawk boards revealed problems with the LSM chip. To avoid further delays of Pixhawk production, it was
  decided to add the MPU chip back onto the board, so now there would be
  2.</p></li>
  <li><p>At some point shortly after the MPU was added, the LSM problem was solved, but it was decided to leave both chips on the board anyway, as
  it allows us to take advantage of redundant sensors.</p></li>
  <li><p>Up until 3.2, the MPU chip was the only one being used. The LSM was basically ignored. If it failed, the code did not care.</p></li>
  <li><p>Starting with 3.2, we wanted to start taking advantage of the sensor redundancy, so we began using the data from the LSM. Generally
  this is fine, except for cases where the LSM has a problem. Or the MPU
  has a problem. We did not forsee this failure rate until the code was
  released. The problem is, either chip can fail, and the code doesn't
  know which is good and which is bad. It just knows they're different.
  In this early stage, using two sensors does not really offer
  redundancy and increased reliability. It actually doubles our chance
  of having a problem.</p></li>
  </ol>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8747" data-toggle = "popover">
				<p>user name : Dtrain</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-8747">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8747">Load Comments</button></br>
			<div id = "commentsection-8747" class = 'collapse'>
			<div id = "comment-14329" class = "comment">
				<p>Please quote your sources and add blockquote formatting for copy/paste information. Thanks :-)</p>
			</div>
			</div>
				<textarea id = "speech-8747" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8747">
					<img id="start_img-8747" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8747">Comment</button>
			<br><div id = "ans-9412"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9412" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Why someone would choose to use 2 different brands, I am not sure. </p>
</blockquote>

<p>It is VERY common and indeed common sense to use different brands of a critical component for security.</p>

<p>This is because the chances are the the same brand component is likely to have the same point of failure. Therefor two different brands are used as they are unlikely to have the same point of failure. In aerospace systems this is the MINIMUM requirement i.e. several IMUs all of different brands.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9412" data-toggle = "popover">
				<p>user name : user13185</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9412">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9412" class = 'collapse'>
			</div>
				<textarea id = "speech-9412" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9412">
					<img id="start_img-9412" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9412">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>