<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why does Meta award badges and inherit reputation?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2016" class = "post">
			<h2>Question</h2>
			<div id="vote-2016" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 28</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why does Meta award badges and inherit reputation?</h2>
<p>I understand that you don't get reputation in Meta as it's a part of AskDifferent, and meta.stackoverflow is a bigger "independent" site which does.</p>

<p>But why doesn't it show badges from main site here?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2016" data-toggle = "popover">
				<p>user name : Rob</p>
				<p> user reputation : 5701</p>
				<p class = "tagcontent" id = "usertaginfo-2016">{'None': 17, 'editing': 4, 'status-completed': 1, 'tags': -2, 'discussion': 11, 'answers': 3, 'bug': 8, 'close-reasons': 0, 'reputation': 3, 'design': 6, 'accepted-answer': 3, 'chat': 5, 'flagging': 3, 'status-bydesign': 3, 'status-declined': -2, 'review-page': 9, 'support': 11, 'badges': 4, 'feature-request': 10}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2016" class = 'collapse'>
			</div>
				<textarea id = "speech-2016" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2016">
					<img id="start_img-2016" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2016">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2017"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2017" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Badges on Meta mean different things   for example, the answer badges on Meta means that you've answered a question regarding how the site functions, not the site itself. This is substantially different due to the difference in subject matter.</p>

<p><sup>As an aside, <a href="https://apple.meta.stackexchange.com/help/badges/25/mortarboard">reputation is tracked independently on Meta</a>, just not shown.</sup></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2017" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2017">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2017" class = 'collapse'>
			</div>
				<textarea id = "speech-2017" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2017">
					<img id="start_img-2017" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2017">Comment</button>
			<br><div id = "ans-2018"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2018" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>My view is that the badges do depend on the meta or non meta site so can be split up - the rep does not give any extra privileges to the meta site so there is no point in a separate reputation here.</p>

<p>I would note that meta.stackoverflow is getting changed so that there will be a site for StackOverflow and an overall site for all Stackexchange sites </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2018" data-toggle = "popover">
				<p>user name : Mark</p>
				<p> user reputation : 16790</p>
				<p class = "tagcontent" id = "usertaginfo-2018">{'None': 93, 'synonym': 7, 'tags': 6, 'site-scope': 10, 'support': 9, 'canonical-questions': 4, 'status-completed': 6, 'bug': 13, 'closed-questions': 1, 'close-reasons': 1, 'hyperlinks': 1, 'feature-request': 8, 'status-bydesign': 8, 'editing': 1, 'discussion': 39}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2018" class = 'collapse'>
			</div>
				<textarea id = "speech-2018" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2018">
					<img id="start_img-2018" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2018">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>