<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why can two Series 1 XBees only talk in X-CTU?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7993" class = "post">
			<h2>Question</h2>
			<div id="vote-7993" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 82</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why can two Series 1 XBees only talk in X-CTU?</h2>
<p>I have two Series 1 XBees that won't be in transparent mode because they are in AT command mode when I'm not in X-CTU.  I had asked for help elsewhere and no one had the answer except telling me about flow control.</p>

<p>The XBees had been configured properly with the MY and DL settings.  I'm thinking maybe I should shorten the timeout so they supposedly get out of AT command mode but they both stay in AT command mode.  The only time I can get the two Series 1 XBees to talk is under X-CTU.  I need the two Series 1 XBees to automatically be in transparent mode when powered on.  </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7993" data-toggle = "popover">
				<p>user name : user10514</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-7993">{'wireless': 2, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7993" class = 'collapse'>
			</div>
				<textarea id = "speech-7993" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7993">
					<img id="start_img-7993" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7993">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9379"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9379" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I meant to answer this question months ago, apologies...</p>

<p>AT mode is the <em>same</em> as Transparent mode. The different modes (AT or API) is determined by the type of firmware that your XBees have on them. By default<sup>1</sup>, they should have the AT firmware. </p>

<p>From <a href="http://ftp1.digi.com/support/documentation/html/90001399/90001399_A/Files/XBee-concepts.html#_Toc384719504" rel="nofollow noreferrer">XBee and ZigBee basic concepts - Radio module operating modes</a> (you can ignore the API modes):</p>

<blockquote>
  <h1>Radio module operating modes</h1>
  
  <p>The operating mode of an XBee radio module establishes the way a user or any microcontroller attached to the XBee communicates with the module through the Universal Asynchronous Receiver/Transmitter (UART) or serial interface.</p>
  
  <p>Depending on the firmware and its configuration, the radio modules can work in three different operating modes:</p>
  
  <ul>
  <li>AT (transparent) operating mode</li>
  <li>API operating mode</li>
  <li>API escaped operating mode</li>
  </ul>
  
  <p>In some cases, the operating mode of a radio module is established by the firmware version, which determines whether the operating mode is AT or API, and the AP setting of the firmware, which determines if the API mode is escaped (AP=2) or not (AP=1). </p>
  
  <p>In other cases, the operating mode is only determined by the AP setting, which allows you for configure the mode to be AT (AP=0), API (AP=1) or API escaped (AP=2).</p>
</blockquote>

<p>Now, where you are getting confused is that <em>within</em> Transparent mode, there is the <strong>AT command mode</strong>, which can be accessed by typing <code>+++</code>. <em>This</em> is where you say that you are when the XBees are connected to X-CTU. From <a href="http://ftp1.digi.com/support/documentation/html/90001399/90001399_A/Files/XBee-concepts.html#_Toc384719505" rel="nofollow noreferrer">XBee and ZigBee basic concepts - Application Transparent (AT) operating mode</a>:</p>

<blockquote>
  <h1>Application Transparent (AT) operating mode</h1>
  
  <p>In Application Transparent (AT) or transparent operating mode, all serial data received by the radio module is queued up for RF transmission. When RF data is received by the module, the data is sent out though the serial interface.</p>
  
  <p>To configure an XBee module operating in AT, put it in AT Command mode to send the configuration commands.</p>
  
  <h2>AT Command mode</h2>
  
  <p>When the radio module is working in AT operating mode, settings are configured using the AT Command mode interface.</p>
  
  <p>To enter AT command mode, you must send the 3-character command sequence through the serial interface of the radio module , usually +++, within one second. Once the AT command mode has been established, the module sends the reply OK\r, the command mode timer is started, and the radio module can receive AT commands.</p>
</blockquote>

<p>So, in short, your XBees are in Transparent mode. <strong>Unless</strong> you have uploaded the <em>API firmware</em> on to them, in which case use X-CTU to upload them with the <em>AT version</em> of the firmware.</p>

<hr>

<p>You may also find this useful, although, the author himself is confused by thinking that there are three modes: </p>

<ul>
<li>Transparent; </li>
<li>AT, and; </li>
<li>API. </li>
</ul>

<p>While there are indeed three modes, as I have already clarified, Transparent and AT are one and the same, and the other two modes are:</p>

<ul>
<li>API and; </li>
<li>API escaped (also known as API mode 2 (or atap2)). </li>
</ul>

<p>Nevertheless, the points he makes may still help. From <a href="https://alselectro.wordpress.com/tag/xbee-series-1/" rel="nofollow noreferrer">XBEE Series 1</a></p>

<blockquote>
  <p>An Xbee module has three communication modes: Transparent mode, Command mode &amp; API mode.</p>
  
  <p><strong>By default, all XBee modules start up in transparent mode</strong>.  All data received from the DIN pin is transmitted, and when RF data is being received, it is sent out on the DOUT pin. A pair of XBee modules can act Wireless in this mode.</p>
  
  <p>Command mode is where you can configure XBee using AT commands through any Terminal software like TeraTerm or CoolTerm. Built in terminal of XCTU can also be used. To enter Command mode type in 3 consecutive characters +++ and wait a second. Once the XBee enters command mode, it will answer with OK. While in command mode you can change baud rate, PANID, Destination address, etc. If you are not typing anything for 10 seconds the module will return to Transparent mode, or you can issue the ATCN command to exit.</p>
  
  <p>API (Application Programming Interface) mode is a frame-based method for sending and receiving data to and from an XBee. API MODE is powerful &amp; complicated to setup.It is used to send messages to constantly changing targets (other XBee modules).</p>
  
  <p>API mode has some special abilities to change parameters without entering command mode &amp; Receive packet delivery confirmation on every transmitted packet.</p>
</blockquote>

<p>You may also find <a href="https://arduino.stackexchange.com/questions/11893/how-does-coordinator-xbee-receive-data-from-router#answer-11910">the answer</a> to the question <a href="https://arduino.stackexchange.com/questions/11893/how-does-coordinator-xbee-receive-data-from-router/">How does coordinator XBee receive data from router?</a> useful (although that answer refers to <em>Series 2</em> not <em>Series 1</em> XBee).</p>

<hr>

<p><sup>1</sup> The XBees from Digi are shipped with AT mode. However, the XBees from Libelium are shipped in API mode. From the section <strong>API mode vs AT command mode</strong> on <a href="http://cpham.perso.univ-pau.fr/WSN/XBee.html" rel="nofollow noreferrer">Getting started with the XBee 802.15.4 (serie 1) communication module</a> [C. Pham, LIUPPA laboratory, University of Pau, France.  <a href="http://web.univ-pau.fr/~cpham]" rel="nofollow noreferrer">http://web.univ-pau.fr/~cpham]</a></p>

<blockquote>
  <p>By default, the Digi XBee is in AT command mode (also called transparent mode) while the one shipped by Libelium is in API mode 2 (atap2) where some characters are escaped using the escape character 0x7D. The Libelium API assumes that the XBee module is in API mode 2 anyway.</p>
</blockquote>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9379" data-toggle = "popover">
				<p>user name : Greenonline</p>
				<p> user reputation : 1053</p>
				<p class = "tagcontent" id = "usertaginfo-9379">{'None': 44, 'arduino': 3, 'stepper-motor': 7, 'mechanism': 0, 'rcservo': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9379">Load Comments</button></br>
			<div id = "commentsection-9379" class = 'collapse'>
			<div id = "comment-16636" class = "comment">
				<p>Sadly, this question is now too old to migrate, but thanks for the flag.</p>
			</div>
			</div>
				<textarea id = "speech-9379" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9379">
					<img id="start_img-9379" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9379">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>