<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why there is so much research going on in humanoid robots?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-11488" class = "post">
			<h2>Question</h2>
			<div id="vote-11488" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 95</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why there is so much research going on in humanoid robots?</h2>
<p>It seems like humanoid robots is the hottest field of research in robotics. Government agencies are giving huge sums of money to private firms and labs to develop them (For example, Boston Dynamics has developed some really amazing humanoid robots, and some of them look scary!).</p>

<p>My question is: The human body is highly inefficient. We can't run for very long times, have to learn for several months before we start walking, have only two hands, and are slow. Then why spend so much money and effort emulating such an inefficient thing? May be it is time that we took a step away from getting "inspired" by Nature, and build a man-made, highly efficient body. </p>

<p>An example: Balancing a robot on two legs in very difficult. My question is, then why use some other method for locomotion, that is easier and more effective. A robot on two legs can run only so much faster. Why not come-up with some optimal shape, and then model your robots on it?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-11488" data-toggle = "popover">
				<p>user name : Prashant Pandey</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-11488">{'mobile-robot': -2, 'None': 0, 'humanoid': -2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11488">Load Comments</button></br>
			<div id = "commentsection-11488" class = 'collapse'>
			<div id = "comment-20638" class = "comment">
				<p>The fruits of pure research are oft serendipitous... You may start out wanting to build a robot that can do something a human can do, but along the way your research or discoveries might have direct impacts on something entirely different.</p>
			</div>
			<div id = "comment-20650" class = "comment">
				<p>(-1) for "The human body is highly inefficient" ? You are kidding right?</p>
			</div>
			</div>
				<textarea id = "speech-11488" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11488">
					<img id="start_img-11488" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11488">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-11489"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11489" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you can design a robot that consumes meat and vegetables to recharge its power then you will really have something! </p>

<p>There are so many different robot concepts and designs that it is not a productive discussion to lump them into a single category of being designed to mimic the human body.   I can think of many robots that are not like this.   A great example is the Odex 1 from the mid-80's, seen <a href="http://www.theoldrobots.com/odex.html" rel="nofollow noreferrer">here.</a></p>

<p>However, if you think about the tasks that many robots are asked to perform, you will find that most of those tasks were designed to accommodate the human body.   Any assembly line that grows from manual, low-volume, production, into a high-speed automation line would be a great example.   Since the tools and tasks started as human-capable chores, it is natural that we would design robots that can accomplish the same chores.  </p>

<p>Additionally, many robotic implementations are able to restructure the tools and tasks such that they greatly outperform any human capability.  A simple example is a tool-changing end effector.   I don't know of any humans who are born with a tool turret at the end of their arm!  </p>

<p>I also question your statements about human inefficiencies.   For some tasks you are 100% correct.   Running a long distance fast, as you mention, is a good example.   But we can also climb mountains, jump chasms, and ride motorcycles.   <em>Inefficient</em> in one thing might be a consequence of superb adaptability for many things.  </p>

<p>The objective way of looking at this question is to first ask, <em>what is the robot being designed to do?</em>  Starting with real requirements is the first step to designing a robotic (or other) system to meet those requirements.   Overly general statements about whether or not the design is anthropomorphic do nothing to lead a robot designer toward a proper solution for the tasks that the device is intended to accomplish.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11489" data-toggle = "popover">
				<p>user name : SteveO</p>
				<p> user reputation : 2960</p>
				<p class = "tagcontent" id = "usertaginfo-11489">{'None': 222}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11489">Load Comments</button></br>
			<div id = "commentsection-11489" class = 'collapse'>
			<div id = "comment-20637" class = "comment">
				<p>Side note:   I did a project with Stephen Bartholet, the design engineer of Odex I, around 1990.   Mostly I just provided funds to his brilliant ideas.   He is one of the brightest people you could ever hope to meet.</p>
			</div>
			</div>
				<textarea id = "speech-11489" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11489">
					<img id="start_img-11489" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11489">Comment</button>
			<br><div id = "ans-11501"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11501" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>From another point of view, bipeds(humanoids) are regardless of their use interesting since they are high dimensional nonlinear hybrid systems. Sure, there are more systems with those qualifications, but the special thing with bipeds is that we have a clear intuition of what is right and wrong even without any mathematical background. Furthermore, take a quadruped(4 legs), those robots are arguably more inherently stable, while with two legs, especially if you remove the feet, that is a different story. So in a way, those humanoids are perfect tools to center nonlinear control theory around.</p>

<p>I think you can cook up a similar argument from an AI point of view. However, I agree with you that for many practical problems a biped makes no sense. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11501" data-toggle = "popover">
				<p>user name : WalterJ</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-11501">{'None': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-11501">Load Comments</button></br>
			<div id = "commentsection-11501" class = 'collapse'>
			<div id = "comment-21240" class = "comment">
				<p>+1 "bipeds(humanoids) are regardless of their use interesting since they are high dimensional nonlinear hybrid systems" "However, I agree with you that for many practical problems a biped makes no sense. "</p>
			</div>
			</div>
				<textarea id = "speech-11501" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11501">
					<img id="start_img-11501" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11501">Comment</button>
			<br><div id = "ans-11503"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11503" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Fully exploring the reasons for designing humanoid robots would need to explore human psychology and involve lots of discussion with no clear answer, however there is one very concrete reason.</p>

<p>Many robots are given a humanoid form because they must operate in an environment designed for humans, and must use tools designed for humans. </p>

<p>This was the primary criteria for the <a href="http://archive.darpa.mil/roboticschallenge/teams.html" rel="nofollow noreferrer">DARPA Robotics Challenge</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11503" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-11503">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11503" class = 'collapse'>
			</div>
				<textarea id = "speech-11503" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11503">
					<img id="start_img-11503" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11503">Comment</button>
			<br><div id = "ans-11507"  class = "post">
				<h2>Answer</h2>
			<div id="vote-11507" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>A car is good at driving high speeds on flat ground. A car cannot use a drill. A car cannot climb stairs.</p>

<p>A dishwasher is good at cleaning dishes. A dishwasher also cannot use a drill. A dishwasher also cannot climb stairs. </p>

<blockquote>
  <p>The human body is highly inefficient. </p>
</blockquote>

<p>On the contrary, the human body is extremely efficient. 100 food calories (kcal) will power a person for about a mile (running). A 12oz can of Coke has 140 calories, and there are 128oz in a gallon. That means a person running gets about 15 miles per gallon. If you walk you can double that because walking a mile only burns about 50kcal. </p>

<p>So, 15-30 miles per gallon on soda, to put it into a format that allows for better comparison to cars. </p>

<blockquote>
  <p>We can't run for very long times</p>
</blockquote>

<p>We can run longer than just about any other animal. The earliest form of hunting was the <a href="https://en.wikipedia.org/wiki/Persistence_hunting" rel="nofollow noreferrer">endurance hunt</a> where you basically chase an animal until it collapses. </p>

<blockquote>
  <p>May be it is time that we took a step away from getting "inspired" by Nature, and build a man-made, highly efficient body.</p>
</blockquote>

<p>Build a highly efficient body to do what, exactly? Can you make a list of all the things you want this "body" to do, and then explain how exactly that body is going to traverse sand, rocks, grass, and stairs? </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-11507" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-11507">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-11507" class = 'collapse'>
			</div>
				<textarea id = "speech-11507" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-11507">
					<img id="start_img-11507" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-11507">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>