<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why don't cheap toy robotic arms move smoothly?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10492" class = "post">
			<h2>Question</h2>
			<div id="vote-10492" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 425</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why don't cheap toy robotic arms move smoothly?</h2>
<p>Why don't cheap toy robotic arms like <a href="https://www.youtube.com/watch?v=4xP9OtcGpUk" rel="nofollow">this</a> move smoothly?  Why can't it even move itself smoothly, (even without any load)?</p>

<p>In other words - what do real industrial robotic arms have, that cheap toys don't?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10492" data-toggle = "popover">
				<p>user name : Marian Pa dzioch</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-10492">{'None': 2, 'soccer': 1, 'robotic-arm': 4, 'rcservo': 1, 'valve': 1, 'simulator': 1, 'mechanism': 6, 'gearing': 0, 'tracks': 0, 'chassis': 0, 'motor': 2, 'stepper-motor': 2, 'manufacturing': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10492">Load Comments</button></br>
			<div id = "commentsection-10492" class = 'collapse'>
			<div id = "comment-18884" class = "comment">
				<p>Two words:  Wealthy investors.</p>
			</div>
			<div id = "comment-18885" class = "comment">
				<p>Expensive robots like [Packbot](https://www.youtube.com/watch?v=yO3WUVxSpUM#t=0h2m21s) are also in trouble if they are climbing stairs. For stationary robots the main reason for this behavior is "too less metal, too less weight".</p>
			</div>
			</div>
				<textarea id = "speech-10492" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10492">
					<img id="start_img-10492" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10492">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10494"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10494" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Poor programming algorithms, cheap motors, poor mechanics, low weight, lack of part rigidity, bad balance, farming out production to the lowest bidder, take your pick.</p>

<p>Or simply because they are cheap toys.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10494" data-toggle = "popover">
				<p>user name : user241585</p>
				<p> user reputation : 167</p>
				<p class = "tagcontent" id = "usertaginfo-10494">{'None': 15}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10494" class = 'collapse'>
			</div>
				<textarea id = "speech-10494" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10494">
					<img id="start_img-10494" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10494">Comment</button>
			<br><div id = "ans-10496"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10496" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The reason the robotic arm that you linked to does not move <a href="https://en.wikipedia.org/wiki/Smoothness" rel="nofollow">smoothly</a> is that the commands given to it are not smooth. That type of actuator does not have any internal logic to generate a smooth motion from one point to another. Instead it tries it's hardest to go to the angle commanded using position control. Hobby servos use PID control and this control method will oscillate around the target point if not configured correctly.</p>

<p>A secondary reason is probably that a combination of friction in the joints and too-big payload are near the maximum that those little motors can handle.</p>

<p>A person with more robotics experience could probably make that arm move a lot more smoothly as long as they operated it within the limits of what the design allows for.</p>

<p>Low cost, high performance, electro-mechanical devices are possible. A portable tape player is a great example if you are old enough to have disassembled one. The mechanisms inside a printer are also a good example. The internal mechanisms of an automobile are another example. </p>

<p>There is not a big enough market for toy robot arms to justify the engineering cost. The closest thing in robotics right now for low cost / high performance design is the <a href="https://www.ald.softbankrobotics.com/en/cool-robots/nao" rel="nofollow">Nao</a> or the <a href="http://www.rethinkrobotics.com/baxter/" rel="nofollow">Baxter</a>. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10496" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-10496">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10496" class = 'collapse'>
			</div>
				<textarea id = "speech-10496" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10496">
					<img id="start_img-10496" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10496">Comment</button>
			<br><div id = "ans-10498"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10498" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Cheap toy arms usually use cheap off the shelf servos, the kind you would find on model airplanes. Usually these servos don't have any control over speed. You give the servo the target angle and the servo tries to get to that position as fast as possible. They also don't compensate for things like load. With more expensive servos you give them both the target position and speed. There are also servos where you can play around with values (such as PID) and get information on things like load. This allows to to get smooth movement</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10498" data-toggle = "popover">
				<p>user name : Gil</p>
				<p> user reputation : 91</p>
				<p class = "tagcontent" id = "usertaginfo-10498">{'stereo-vision': 2, 'None': 8, 'sensors': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10498" class = 'collapse'>
			</div>
				<textarea id = "speech-10498" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10498">
					<img id="start_img-10498" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10498">Comment</button>
			<br><div id = "ans-10499"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10499" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Smooth control of a robotic arm is accomplished by <em>force</em> control instead of strictly by <em>position</em> control. This kind of control is generally referred to as <a href="http://www.eucognition.org/eucog-wiki/Compliant_robots" rel="nofollow">compliance</a>. </p>

<p>On that page there is a comparison between compliant and non-compliant actuators, where the non-compliant actuators are referred to as "stiff". This is, in my opinion, a great way to explain the "jerky" motion you see in the video. A stiff actuator passes any forces or torques back to the structure and does nothing to attempt to <em>damp</em> those forces. </p>

<p><a href="https://www.youtube.com/watch?v=AJPZjF7HDxY" rel="nofollow">Here</a> is a video that shows the difference between force- and position-based control. </p>

<p>The reason for a lack of compliance in cheap robots is easily summed up in one word: Cost. </p>

<p>In order to implement force-based control, you need a means to <em>sense</em> force. This means force transducers such as strain gauges installed along the arm to measure forces in the arm or torque sensors at the joints. Both of these are more expensive to design, purchase, install, and program that it would be for a similar robot without compliance. </p>

<p>There is a relatively new method that enables force control and force sensing (among other things) that is called <a href="http://biomech.media.mit.edu/portfolio_page/cvsea/" rel="nofollow">series elastic actuation</a>. </p>

<p>Briefly, the concept is that you put a spring between the actuator and the load. The actuator then acts to compress the spring rather than drive the load directly. The force output of the spring is given by $kx$, where $x$ is the displacement of the spring. So two neat things are happening - if you can measure the displacement, then the load position is the actuator position plus spring displacement, and the force output is $kx$.</p>

<p>But again, to answer your question, cheap robots don't do any form of force control or compliance, so the rapid start/stop motion profiles @hauptmech mentions excites the physical structure. With nothing to damp the motion, those oscillations continue, giving a "jerky" appearance. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10499" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-10499">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10499">Load Comments</button></br>
			<div id = "commentsection-10499" class = 'collapse'>
			<div id = "comment-18893" class = "comment">
				<p>PS - [Here's a video of Disney compliance](https://www.youtube.com/watch?v=9dsAo6fJjdY&t=1m24s). It's how I first heard of compliant robotics, and well before I started college, too!</p>
			</div>
			<div id = "comment-18896" class = "comment">
				<p>The wiki article on compliant robots may not be the best to use; it's focused on a very specific subfield (compliant actuators research) and written from that perspective rather than robotics or actuation as a whole.  I don't agree that smoothness of motion is dependent on force vs position control. That's a really nice video you linked.</p>
			</div>
			<div id = "comment-18897" class = "comment">
				<p>@hauptmech - I agree with all of your comments. I would argue that smooth inputs (S-curves) make smooth**er** motions, but attempting to modulate the speed or position profile to explicitly avoid resonance is a form of control called input shaping. I think that, for industrial robot arms, they use compliant control over input shaping.</p>
			</div>
			</div>
				<textarea id = "speech-10499" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10499">
					<img id="start_img-10499" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10499">Comment</button>
			<br><div id = "ans-10553"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10553" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Judging from the video, I suspect the reason this robot's motions appear jerky is mostly due to friction and backlash in the drivetrain. Manufacturing precise gears to transmit motor torque to the joints is very expensive and not something somebody is going to do for a hobbyist level robot. Of course if the joints are direct drive, then I've misinterpreted the video, but I suspect the drivetrain is the culprit here. </p>

<p>Improving the joint control might help things, but there are limits. Disturbances caused by these sorts of phenomena can sometimes be impossible to compensate for via more sophisticated control without adding additional sensors. The reason is that the encoders are almost always placed on the motor side of the transmission and artifacts like backlash are never seen by the motor encoder, making it impossible to correct via feedback. While some feed forward techniques might be able to compensate, they would not be robust to arbitrary payloads. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10553" data-toggle = "popover">
				<p>user name : DXM</p>
				<p> user reputation : 66</p>
				<p class = "tagcontent" id = "usertaginfo-10553">{'None': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10553" class = 'collapse'>
			</div>
				<textarea id = "speech-10553" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10553">
					<img id="start_img-10553" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10553">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>