<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why are we including prices in software suggestions?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-803" class = "post">
			<h2>Question</h2>
			<div id="vote-803" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 113</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why are we including prices in software suggestions?</h2>
<p>I'm noticing a new trend regarding posting software prices alongside their titles.  I'm not sure how it started, or where it came from, but why in Jobs' name would we want to do this??  </p>

<p>Prices are constantly changing, and it makes the site look irrelevant and obsolete quicker than just about any other trend I've seen.  People use different formatting, and lets not even get into the problems associated with USD vs EUR vs Yen, etc.</p>

<p>I see no need for this considering the convention is to provide a link to the software developers page anyway, which would contain the most up to date pricing.</p>

<p>Can we please stop this before it permeates too many threads?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-803" data-toggle = "popover">
				<p>user name : Robert S Ciaccio</p>
				<p> user reputation : 4152</p>
				<p class = "tagcontent" id = "usertaginfo-803">{'wiki': 0, 'osx': 5, 'None': 76, 'tags': 10, 'support': 15, 'ios': 5, 'moderation': 4, 'deleted-questions': 0, 'guideline': 4, 'beta': 11, 'reputation': 15, 'feature-request': 1, 'poo-storm': 11, 'discussion': 41, 'community-wiki': 0, 'beta-essentials': 6}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-803">Load Comments</button></br>
			<div id = "commentsection-803" class = 'collapse'>
			<div id = "comment-1487" class = "comment">
				<p>Can you provide examples, please? Obviously if the question is, "What's a good cheese-cataloging app for under $100?" such answers would be warranted... Of course, such a *question* should probably be closed as too localized for the reasons you've given. If folks are throwing prices into answers where they're not relevant, I see no reason why they couldn't simply be edited out...</p>
			</div>
			<div id = "comment-1490" class = "comment">
				<p>I completely agree, price is localized and subject to change. Best to just get rid of it completely.</p>
			</div>
			<div id = "comment-1706" class = "comment">
				<p>I think it helps somewhat, The chances of me clicking through to see the software recommendation are greatly influenced by price. If it is not something I can afford or want to spend I wont click. I agree that as price changes information will quickly become out of date.</p>
			</div>
			<div id = "comment-1723" class = "comment">
				<p>I hate when I see a reference to a piece of software without a price attached. Is it free? Is it $0.99? Is is $100? Prices may change, but I bet most don't change substantially, other than temporary sales. People are smart enough to realize that prices may change, and if they are interested enough, they'll check it out to see if it has changed, or maybe use one of the app price checking apps. As for units, well, I'm guessing most people are going to assume USD unless something else is specified.</p>
			</div>
			</div>
				<textarea id = "speech-803" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-803">
					<img id="start_img-803" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-803">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-804"  class = "post">
				<h2>Answer</h2>
			<div id="vote-804" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This is unenforceable. Deleting the prices would require us to review every single answer to every product-related question. Given everything else that goes on around here with the moderator flags, this is a niche problem that would be nice to manage but doesn't harm the site overall.</p>

<p><strong>UPDATE per comment:</strong>
If the high-rep community members are willing to step up and update or delete prices from answers, the mods (or at least I will be) more than happy to approve any edits the community agrees upon. </p>

<p>Otherwise, nice to manage is vastly different than actually managing it. Back to my original point, I don't see prices in answers as being all that significant relative to the other issues that crop up on a regular basis, so this isn't anything that I will actively address except to approve others' edits.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-804" data-toggle = "popover">
				<p>user name : Philip Regan</p>
				<p> user reputation : 5775</p>
				<p class = "tagcontent" id = "usertaginfo-804">{'None': 95, 'site-scope': 5, 'moderators': 1, 'discussion': 11, 'moderation': 1, 'lion': 5, 'closed-questions': 5, 'beta': 5, 'new-users': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-804">Load Comments</button></br>
			<div id = "commentsection-804" class = 'collapse'>
			<div id = "comment-1486" class = "comment">
				<p>I agree that it shouldn't be a moderator problem, but I also agree with your statement that it would be nice to mangage.  I think it's a good topic for discussion because who knows how many people are actually doing this intentionally vs just following a trend.</p>
			</div>
			<div id = "comment-1489" class = "comment">
				<p>@calavera: I have updated my answer per your comments.</p>
			</div>
			<div id = "comment-1611" class = "comment">
				<p>I've used prices a number of times in replies already, and never thought about it.  Localisation is perhaps more of an issue than the fact that they are subject to change, every answer is subject to change when apps are updates, bugs fixed, and new bug introduced.  If anything the only thing I think would be good to use is to try to encourage appropriate wording like "currently priced at", to show that along with all content, the information is relevent at the time it was provided.</p>
			</div>
			</div>
				<textarea id = "speech-804" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-804">
					<img id="start_img-804" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-804">Comment</button>
			<br><div id = "ans-941"  class = "post">
				<h2>Answer</h2>
			<div id="vote-941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I understand your concern, but it just allows a quick comparison of one product to another. Software competes on features, usability, convenience, and price. One of the many reasons why the app store became so popular was because the last two were so right. </p>

<p>I don't think it is a big enough deal to mess with in general, and while prices change, are we going to reject all questions about old iTunes software or non-lion(this answer now will be dated when the next newest version of OS X comes out) OS X questions?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-941" data-toggle = "popover">
				<p>user name : ConstantineK</p>
				<p> user reputation : 4431</p>
				<p class = "tagcontent" id = "usertaginfo-941">{'None': -1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-941" class = 'collapse'>
			</div>
				<textarea id = "speech-941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-941">
					<img id="start_img-941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-941">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>