<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why do Mars rovers designers prefer wheels over tracks?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-558" class = "post">
			<h2>Question</h2>
			<div id="vote-558" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1519</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do Mars rovers designers prefer wheels over tracks?</h2>
<p>Typically Mars rovers use wheels and not tracks. I guess <a href="http://en.wikipedia.org/wiki/Spirit_rover">Spirit</a> would have better chances getting out of that soft soil should it have tracks. In general, Mars surface structure is not known in advance, so it seems wiser to be prepaired for difficult terrain and so use tracks.</p>

<p>Why do Mars rovers typically use wheels and not tracks?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-558" data-toggle = "popover">
				<p>user name : sharptooth</p>
				<p> user reputation : 491</p>
				<p class = "tagcontent" id = "usertaginfo-558">{'mobile-robot': 78, 'None': 0, 'design': 78}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-558">Load Comments</button></br>
			<div id = "commentsection-558" class = 'collapse'>
			<div id = "comment-647" class = "comment">
				<p>There is also another question on the subject of [wheels vs threads](http://robotics.stackexchange.com/q/541/127)</p>
			</div>
			<div id = "comment-648" class = "comment">
				<p>@Jakob: Yeap, I've seen that one, but it just lists common considerations, not specific to an application.</p>
			</div>
			</div>
				<textarea id = "speech-558" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-558">
					<img id="start_img-558" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-558">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-559"  class = "post">
				<h2>Answer</h2>
			<div id="vote-559" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are multiple reasons wheels may be prefered over treads. The main ones that apply to the mars rovers I would put as:</p>

<ul>
<li><p>Mass is a critical property, especially for space exploration missions. Treads are generally heavier than wheels.</p></li>
<li><p>Treaded vehicles only support skid steering and are thus less precise to manouver. They also take more power when turning.</p></li>
<li><p>For space exploration simplicity is key. A wheel has less moving parts that can get damaged. </p></li>
<li><p>Material properties also have to be taken into account to fit the environmental conditions. </p></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-559" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-559">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-559" class = 'collapse'>
			</div>
				<textarea id = "speech-559" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-559">
					<img id="start_img-559" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-559">Comment</button>
			<br><div id = "ans-560"  class = "post">
				<h2>Answer</h2>
			<div id="vote-560" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think the surface of mars was <a href="http://www.space.com/12404-mars-explored-landers-rovers-1971.html">pretty well known</a> by the time Spirit / Op landed.</p>

<p>The <a href="http://en.wikipedia.org/wiki/Rocker-bogie">rocker-bogie</a> system allows the robot to climb over obstacles up to twice the diameter of the wheels, while avoiding springs completely. Springs could cause the chassis to tilt on uneven terrain. Watch this video: <a href="https://www.youtube.com/watch?v=ON1zLBvYKRI">https://www.youtube.com/watch?v=ON1zLBvYKRI</a>, and imagine how much the chassis would tilt if it were suspended by a spring-based system or if the wheels were attached to each other by treads.</p>

<p>The Jet Propulsion Laboratory has a good video on this, actually. <a href="http://www-a.jpl.nasa.gov/video/index.php?all_videos&amp;id=932">http://www-a.jpl.nasa.gov/video/index.php?all_videos&amp;id=932</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-560" data-toggle = "popover">
				<p>user name : Josh Vander Hook</p>
				<p> user reputation : 3960</p>
				<p class = "tagcontent" id = "usertaginfo-560">{'None': 345}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-560">Load Comments</button></br>
			<div id = "commentsection-560" class = 'collapse'>
			<div id = "comment-669" class = "comment">
				<p>Well, then why would the rover get stuck?</p>
			</div>
			<div id = "comment-672" class = "comment">
				<p>I didn't say it would never get stuck. I answered the question: "why would they use rocker-bogie instead of treads?"</p>
			</div>
			</div>
				<textarea id = "speech-560" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-560">
					<img id="start_img-560" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-560">Comment</button>
			<br><div id = "ans-563"  class = "post">
				<h2>Answer</h2>
			<div id="vote-563" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This may not be the biggest reason, but I would imagine that for space vehicles like this, wheels are easier to stow for launch and then deploy for landing.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-563" data-toggle = "popover">
				<p>user name : WildCrustacean</p>
				<p> user reputation : 658</p>
				<p class = "tagcontent" id = "usertaginfo-563">{'None': 45, 'uncanny-valley': 10, 'inverse-kinematics': 5, 'research': 10, 'hri': 10, 'machine-learning': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-563" class = 'collapse'>
			</div>
				<textarea id = "speech-563" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-563">
					<img id="start_img-563" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-563">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>