<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why can't i use different ESCs together on a multirotor?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4939" class = "post">
			<h2>Question</h2>
			<div id="vote-4939" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3792</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why can't i use different ESCs together on a multirotor?</h2>
<p>I'm working on a diy quadcopter build from scratch and have bought a 4pack ESC from Castel Creations.While i currently have my quad up and running(sort of), from what i've read on the various sources and forums on the internet, i am not able to/ not recommended to use different ESCs together on the same quad.</p>

<p>As i bought my ESCs together as a 4 pack, and am not able to buy any replacements unless i were to switch out all 4 of them, this has me worried in the eventual case of a spoilt ESC in the future.</p>

<p>From what i can gleam from various posts on the internet, it seems to have something to do with the rate at which ESCs communicate with the flight controller.If so, can i not simply buy a esc programmer and program all of them to communicate at the same rate?</p>

<p>I've asked the dude at my local hobby shop, and he said that i cannot/should not be using different escs from different brands or even the same brand but different models( i.e 35v &amp; 20V ) ESCs together.</p>

<p>I would really appreciate it if someone were to clarify what exactly is the issue with using different ESCs together on the same quadcopter.</p>

<p>P.S If it helps, i'm currently using the APM 2.6 as my flight controller on a WFLY transmitter and a f450 frame.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4939" data-toggle = "popover">
				<p>user name : Kenneth .J</p>
				<p> user reputation : 179</p>
				<p class = "tagcontent" id = "usertaginfo-4939">{'quadcopter': 14, 'None': 0, 'ardupilot': 1, 'power': 1, 'multi-rotor': 12, 'radio-control': 1, 'arduino': 5, 'microcontroller': 10, 'battery': 1, 'esc': 7, 'electronics': 7, 'sensors': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4939">Load Comments</button></br>
			<div id = "commentsection-4939" class = 'collapse'>
			<div id = "comment-11051" class = "comment">
				<p>I have a quad and the weight is giving me problems, so I decided to build a hexacopter out of the quad electronics, I'm usin Adupilot, question: If I uses two diferent branded motors and ESCs, oposite one to the other on the roll axis, would u
You think that will work?, thanks for your answer. Pd motors and escs are similar as quad's.</p>
			</div>
			<div id = "comment-11052" class = "comment">
				<p>Welcome to *robotics* Giovanny, but on Stack exchange *answers* need to answer the question. If you have a question, it should be asked as a new question (ideally referencing the original question if it related to another one). Take a look at [ask] and [about] for more information on how stack exchange works. Note that we prefer *[practical, answerable questions based on actual problems that you face](http://robotics.stackexchange.com/help/dont-ask)*.</p>
			</div>
			<div id = "comment-17423" class = "comment">
				<p>To those who finds the same question - I faced the case that the topic starter were afraid of - one of my motors smoked and stopped working. I repaired it, connected it to the same old ESC and it smoked again. So, to avoid burning another motor, I decided to replace both the ESC and the motor, but could not find the replacement in my area, so I bought a different ESC and a motor. My old ESCs are: Turnigy Multistar 20A, and new ESC is Simonk 30A. Old motors are Turnigy 2212 935kv and the new motor is DJI 2212 920kv. I was sure that the flight controller will compensate this difference so I went</p>
			</div>
			</div>
				<textarea id = "speech-4939" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4939">
					<img id="start_img-4939" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4939">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4941"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Ideally, when you raise the collective all the way up, all the ESCs put out their max power and the quadcopter goes straight up.</p>

<p>Different ESCs will end up producing different maximum thrusts; and also will ramp up (and down) differently with sudden changes in control signal.</p>

<p>As you probably already know, if one rotor of a multirotor vehicle has more (or less) thrust than the others, the vehicle will flip over.</p>

<p>The <a href="http://en.wikipedia.org/wiki/Ardupilot" rel="nofollow">ArduPilotMega (APM)</a> or other <a href="http://www.opencircuits.com/multi-rotor" rel="nofollow">electronic stabilization system</a> will try to compensate for differences in thrust to keep it right side up.</p>

<p>The ESCs don't need to be exactly the same.</p>

<p>The more different the ESCs are from each other, the longer it will take to tune the stabilization system.
The more different the ESCs are from each other, the harder the stabilization system has to work in flight to keep the multirotor vehicle right-side up; and the more the vehicle will wobble in flight.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4941" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-4941">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4941">Load Comments</button></br>
			<div id = "commentsection-4941" class = 'collapse'>
			<div id = "comment-7672" class = "comment">
				<p>I suppose that the difference in max thrust produced & the difference in ramping up and down would be down to the difference in manufacturing process and the individual components used? Also how exactly would you quantify the difference in ESCs? i.e If i were to use the same brand of ESCs but of differing models (e.g 1 35v ESC and 1 75v ESC ) would that be too different?</p>
			</div>
			<div id = "comment-7676" class = "comment">
				<p>I don't know how much variation there is between one ESC and another. Or the best way to quantify that variation. But I would like to find out. Perhaps you could post a separate question something like "How do I find out the performance and response time of a ESC?"</p>
			</div>
			</div>
				<textarea id = "speech-4941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4941">
					<img id="start_img-4941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4941">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>