<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why are industrial machines called robots?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1100" class = "post">
			<h2>Question</h2>
			<div id="vote-1100" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 293</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why are industrial machines called robots?</h2>
<p>The definition of a robot is as follow: "A robotic paradigm can be described by the relationship between the three primitives of robotics: Sense, Plan, and Act."</p>

<p>An example could be the famous "Kuka Robots". The Kuka robot is preprogrammed and does mainly one loop over and over again. Some of them could have measurement sensors but that is all. They do not think or plan nor do they make decisions. </p>

<p>An automatic door opener, used in a building is not a robot either but according to the robotic paradigm definition they are more a robot than a Kuka machine. They actually get some data from a sensor followed by planning and acting. </p>

<p>So why are Kuka machines called robots?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1100" data-toggle = "popover">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p class = "tagcontent" id = "usertaginfo-1100">{'control': 0, 'force': 3, 'encoding': 1, 'wheeled-robot': 1, 'legged': 5, 'embedded-systems': 0, 'stability': 5, 'design': 15, 'motor': 3, 'mobile-robot': 3, 'connector': 1, 'h-bridge': 1, 'mrds': 0, 'arduino': 1, 'current': 1, 'kinematics': 0, 'kalman-filter': 8, 'imu': 18, 'irobot-create': 0, 'gyroscope': 1, 'micromouse': 3, 'None': 35, 'power': 16, 'artificial-intelligence': 8, 'driver': 1, 'industrial-robot': 19, 'sensors': 11, 'quadcopter': 7, 'c': 1, 'motion': 1, 'balance': 7, 'servos': 15}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1100" class = 'collapse'>
			</div>
				<textarea id = "speech-1100" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1100">
					<img id="start_img-1100" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1100">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1101"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1101" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">10</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>No, that's the definition of "robotic paradigm", which is basically a class of paradigms for designing complex robots. </p>

<p>The definition of "robot", in this context, is:</p>

<blockquote>
  <p>A robot is a mechanical or virtual artificial agent, usually an electro-mechanical machine that is guided by a computer program or electronic circuitry.</p>
</blockquote>

<p>or </p>

<blockquote>
  <p>A machine capable of carrying out a complex series of actions automatically.</p>
</blockquote>

<p>("complex" is ambiguous here)</p>

<p><a href="http://en.wikipedia.org/wiki/Robot#Defining_characteristics">This Wikipedia section</a> confirms that there is an ambiguity:</p>

<blockquote>
  <p>While there is no single correct definition of robot, a typical robot will have several, or possibly all, of the following characteristics.</p>
  
  <p>It is an electric machine which has some ability to interact with physical objects and to be given electronic programming to do a specific task or to do a whole range of tasks or actions. It <strong>may</strong> also have some ability to perceive and absorb data on physical objects, or on its local physical environment, or to process data, or to respond to various stimuli. This is in contrast to a simple mechanical device such as a gear or a hydraulic press or any other item which has no processing ability and which does tasks through purely mechanical processes and motion.</p>
</blockquote>

<p>(emphasis mine)</p>

<p>In the end, almost any mechanical device of some level of complexity can be classified as a robot.</p>

<p>Also, note that Kuka robots will have a small amount of sensors for fine-tuning (even if the bot is just picking up an object off a pedestal, it needs to correct its trajectory to align perfectly with the object)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1101" data-toggle = "popover">
				<p>user name : Manishearth</p>
				<p> user reputation : 1068</p>
				<p class = "tagcontent" id = "usertaginfo-1101">{'underwater': 30, 'None': 53, 'protection': 64, 'motor': 64, 'auv': 30, 'actuator': 11}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1101">Load Comments</button></br>
			<div id = "commentsection-1101" class = 'collapse'>
			<div id = "comment-2539" class = "comment">
				<p>Fair enough! However, I think the definition should be updated globally. Machines should not be called robots and a robot should and could think, plan and act. I will wait on accepting your answer. Maybe there are more opinions about this.</p>
			</div>
			<div id = "comment-2540" class = "comment">
				<p>@Alex: No, this is because you're mixing the scifi definition of robot with the other definition. Common misconception, most folks think that all robots need to be smart and versatile. This is similar to the misconceptions regarding the meaning of "hacker" (anyone who messes with code is more or less a hacker).</p>
			</div>
			<div id = "comment-2547" class = "comment">
				<p>I do not agree. I am not mixing this with scifi. I just think that the definition for robot should be updated. We should distinguish between machine and robot! A machine is then an automated mechanical device which can not think or plan. But a robot should think plan and act (Do something in the real life.) Anyhow thank you for you answer.  :)</p>
			</div>
			<div id = "comment-2548" class = "comment">
				<p>@Alex: No, I'm saying that you come to the robot world with the prejudice of scifi. I don't see any good reason to update the definition :s "think, plan, act" is still quite vague -- you basically mean to say that a robot should do some computations on some input before acting, right? Well, almost all do. Like I said, Kuka robots _do_ sense the environment. And they're complex. Another thing:not all bots need to be autonomous. ROVs are robots.</p>
			</div>
			<div id = "comment-2549" class = "comment">
				<p>Also, many dictionaries give two separate meanings of robot, where one is the scifi kind and one is the machine kind. From that POV, this is like saying "we should update the definition of 'bow' to exclude the formal gesture and only mean the thing you shoot arrows from"</p>
			</div>
			<div id = "comment-2551" class = "comment">
				<p>Fair enough! :)</p>
			</div>
			<div id = "comment-2614" class = "comment">
				<p>@alex, this is really a gray area. The reason we don't have an exact definition of what a robot is, isn't because we don't care, but because we _can't_ define it. It's the same thing with defining [what is a "living" creature](http://en.wikipedia.org/wiki/Life#Biology). By the common definition, a manipulator that makes other manipulators and is able to minimally repair itself pretty much fits in our definition of living creature, but obviously no one calls _that_ alive. So even though the definition tries to do the best it can, you shouldn't consider it a 0-1 definition.</p>
			</div>
			</div>
				<textarea id = "speech-1101" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1101">
					<img id="start_img-1101" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1101">Comment</button>
			<br><div id = "ans-1126"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1126" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The problem is, there is no set standard definition on what a robot is. In our perspective, a robot should be like "Honda's ASIMO." Which is not the case. It is much more complex. Robots can be controlled by humans and not controlled by humans, either definition is perfectly acceptable.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1126" data-toggle = "popover">
				<p>user name : AceofSpades</p>
				<p> user reputation : 127</p>
				<p class = "tagcontent" id = "usertaginfo-1126">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1126" class = 'collapse'>
			</div>
				<textarea id = "speech-1126" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1126">
					<img id="start_img-1126" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1126">Comment</button>
			<br><div id = "ans-1154"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1154" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The definition of <code>robot</code> is as follows:  </p>

<p><em>"A machine built to carry out some complex task or group of tasks, especially one which can be programmed"</em><br>
<a href="http://en.wiktionary.org/wiki/robot" rel="nofollow">wiktionary</a></p>

<p>So a robot is a tool which can be programmed. The KUKA robot fits in this definition. But a hammer can not be programmed, so a hammer is not a robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1154" data-toggle = "popover">
				<p>user name : drzymala</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-1154">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1154" class = 'collapse'>
			</div>
				<textarea id = "speech-1154" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1154">
					<img id="start_img-1154" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1154">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>