<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why do space probes need heating?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-975" class = "post">
			<h2>Question</h2>
			<div id="vote-975" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 369</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do space probes need heating?</h2>
<p>I know that temperature influences the characteristics of semiconductors and other materials, but we know how and can take that into account. Furthermore, lower temperatures makes electronics more efficient, sometimes even superconducting.</p>

<p>I remember reading somewhere that engineers building Curiosity even considered low temperature electronics for the motors driving the wheels but still decided against it in the end.</p>

<p>Why is it, apparently, so hard to build components with operating temperatures matching those on Mars, Europa, or in space?</p>

<p><strong>Edit:</strong> None of the answers address my question thus far. I know that all parts, both electronic and mechanical, and greases and so on have relatively narrow working temperatures. My question is, why don't we build special cold metals and cold greases and cold chips that have their narrow operating temperature band at -100 C or whatever?</p>

<p>Valid answers could be: it's too expensive, insufficient science has been done to determine materials appropriate for such cold, such cold materials cannot be manufactured in the sweltering heat of planet Earth.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-975" data-toggle = "popover">
				<p>user name : Ansis M li </p>
				<p> user reputation : 200</p>
				<p class = "tagcontent" id = "usertaginfo-975">{'None': 0, 'noise': 11, 'heat-management': 8, 'cooling': 8, 'motor': 11, 'actuator': 11}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-975">Load Comments</button></br>
			<div id = "commentsection-975" class = 'collapse'>
			<div id = "comment-2589" class = "comment">
				<p>Hm... your question was why do space probes need heating. You got some good answers to that. Why is it hard? You also got some answers to that (mechanical stress in components a.s.o). As I mentioned for the electronics. Its possible, but complex and expensive. For batteries there are no solutions that I know of. Neither for lubricants. So I guess the answer would be not enough research done, or not possible.</p>
			</div>
			<div id = "comment-2599" class = "comment">
				<p>If you're not satisfied with these answers, it would be better to comment on each answer individually (so that the users are notified) to explain where their answer falls short of your original question.  If you only update your question in response to inadequate answers, nobody will be notified of the change -- you'll be less likely to receive the correct answer.</p>
			</div>
			<div id = "comment-2657" class = "comment">
				<p>Note that superconductivity usually comes from _bad conductors_ at low temperatures. Either way, the conductivities of components in an electronic device need to stay more or less unchanged for the device to work properly. Superconductivity is not good in this regard.</p>
			</div>
			<div id = "comment-2658" class = "comment">
				<p>As a data point, one reason is for [deicing](http://tes.jpl.nasa.gov/data/datacalendar/ "Note the light gray lines.").  The [TES instrument](http://tes.jpl.nasa.gov/ "Disclosure: I work on the project.") needs to keep it's optics clear of ice-buildup.   In a near vacuum, maintaining a constant temperature can be a difficult engineering problem.  (See also [_Packing for Mars_](http://www.maryroach.net/packing-for-mars.html "Informative _and_ funny."), which focuses mainly on human factors, but can give you an idea about the challenges for robotics in a vacuum and low-gravity.)</p>
			</div>
			</div>
				<textarea id = "speech-975" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-975">
					<img id="start_img-975" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-975">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-977"  class = "post">
				<h2>Answer</h2>
			<div id="vote-977" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Because the parts work reliably only in a limited range of temperatures. If the temperature is out of the range, the chips may not work correctly or even not work at all.</p>

<p>Probes usually also have some kind of backup battery and batteries lose capacity really fast if they get colder than 0 C. It simply is easier and more efficient to keep the battery and electronics warm than to compensate for different characteristics.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-977" data-toggle = "popover">
				<p>user name : Plecharts</p>
				<p> user reputation : 331</p>
				<p class = "tagcontent" id = "usertaginfo-977">{'mobile-robot': 8, 'None': 15, 'design': 8, 'motor': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-977" class = 'collapse'>
			</div>
				<textarea id = "speech-977" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-977">
					<img id="start_img-977" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-977">Comment</button>
			<br><div id = "ans-1135"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1135" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In chemistry, you will learn the composition of matter there they have thought you about properties of certain metals/non-metals. They have certain limits, such as melting point/freezing point.</p>

<p>Temperature does matter in electronics. When you overclock your computer, you need liquid nitrogen to cool down your chip. Same is true for any other device. </p>

<p>The electronics that go into space does not only face this problem but also they must be cautious about radiations which can corrupt data. Thus, usually rovers carry additional chips/batteries for backup. The data they collect there is of great importance.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1135" data-toggle = "popover">
				<p>user name : AceofSpades</p>
				<p> user reputation : 127</p>
				<p class = "tagcontent" id = "usertaginfo-1135">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1135" class = 'collapse'>
			</div>
				<textarea id = "speech-1135" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1135">
					<img id="start_img-1135" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1135">Comment</button>
			<br><div id = "ans-1137"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1137" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would put forward three main points for the temperature sensitivity of electronics, electronic components and mechanical parts: </p>

<ul>
<li><p>All batteries are quite <a href="http://chemistry.about.com/od/howthingsworkfaqs/f/coldbattery.htm" rel="nofollow">sensitive</a> when it comes to temperature. Chemical reaction rates are reduced, and leakage current is increased.</p></li>
<li><p>Silicon chips usually don't have a problem with low temperatures. What does is the packaging and the PCB substrates and bonds. And even here the actual problem is not the low temperature, but the temperature range. The reason for this is that the materials have different thermal properties, like thermal conductivity and expansion. The packaged chips as well as the bonds with the PCB will generate mechanical stress which increases the chances of micro-fractures in the conductive materials. </p></li>
<li><p>Moving mechanical parts like motors and gears often need lubricants to work. The mechanical properties of those lubricants are very temperature sensitive. </p></li>
</ul>

<p>As far as I know the lowest you can go with primary batteries is something like -50C. Secondaries are even worse. So there is really no other option than to insulate and heat. The electronics you can make work at low temperatures, by using PCB materials which have a similar expansion to silicon, and directly mount the silicon chips onto the substrate without the classical chip packaging. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1137" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-1137">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1137">Load Comments</button></br>
			<div id = "commentsection-1137" class = 'collapse'>
			<div id = "comment-2587" class = "comment">
				<p>Why can't batteries exist below -50 C? Also, space probes primarily use nuclear reactors and solar panels for power. Do these have an absolute temperature limitation?</p>
			</div>
			<div id = "comment-2588" class = "comment">
				<p>Well, they still exist, but they stop functioning. http://batteryuniversity.com/learn/article/discharging_at_high_and_low_temperatures I have yet to see a probe with a nuclear reactor. They use either nuclear generators or heaters. Both use the natural decay of a radioactive isotope. Solar panels will probably still work, but for e.g. for space robots they are most of the time used in conjunction with a battery.</p>
			</div>
			</div>
				<textarea id = "speech-1137" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1137">
					<img id="start_img-1137" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1137">Comment</button>
			<br><div id = "ans-1138"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1138" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>One factor in this that hasn't been mentioned in the other questions is that different materials change their volumes in different ways in response to temperature fluctuations.  This is the concept behind bimetallic strips in thermostats, why pipes burst when frozen, and why your food gets "freezer burned".  So, although semiconductors may be fairly resilient to cold temperatures, mechanical parts with a variety of materials (different alloys, different lubricants) will be less so.</p>

<p>To have a mechanical part that works at an extreme temperature (like -100C), presumably it would need to be fabricated at that temperature, integrated into the main component at that temperature, and kept cold until it reached space.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1138" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1138">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1138" class = 'collapse'>
			</div>
				<textarea id = "speech-1138" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1138">
					<img id="start_img-1138" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1138">Comment</button>
			<br><div id = "ans-1152"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1152" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Because there is not enough research and development done in the manufacturing process of electronic components in low temperatures. And the probes must be reliable.  </p>

<p>You can not make parts in i.e. 250'C and expect them to work in -100'C because for example a chip has silicon parts as well as tungsten parts. These two have different temperature versus extension characteristics, so the parts would simply fall apart.</p>

<p>In low temperatures you can't use tin for soldering <a href="http://en.wikipedia.org/wiki/Tin_pest" rel="nofollow" title="see tin pest">see tin pest</a>.  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1152" data-toggle = "popover">
				<p>user name : drzymala</p>
				<p> user reputation : 146</p>
				<p class = "tagcontent" id = "usertaginfo-1152">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1152" class = 'collapse'>
			</div>
				<textarea id = "speech-1152" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1152">
					<img id="start_img-1152" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1152">Comment</button>
			<br><div id = "ans-1155"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1155" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I would suggest that the key reason is reliability - once a probe has been launched into space, it <strong>HAS</strong> to work.</p>

<p>As such, it is a lot safer to heat up a known, reliable, material that has been subject to extensive testing, than it is to "invent" a new material that cannot be fully tested on Earth.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1155" data-toggle = "popover">
				<p>user name : Andrew</p>
				<p> user reputation : 570</p>
				<p class = "tagcontent" id = "usertaginfo-1155">{'None': 41}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1155" class = 'collapse'>
			</div>
				<textarea id = "speech-1155" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1155">
					<img id="start_img-1155" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1155">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>