<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why are my edits rejected for being superfluous?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2794" class = "post">
			<h2>Question</h2>
			<div id="vote-2794" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 55</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why are my edits rejected for being superfluous?</h2>
<p>Sometimes when I make edits to a question or an answer, it is rejected for being "superfluous." Why is that?</p>

			</div>
			<div id = "userinfo-2794" style = "float:right">
				<p>user name : The Tech Guy</p>
				<p> user reputation : 39</p>
				<p> user tag wise history : {'None': 0, 'editing': 0, 'support': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2794">Load Comments</button></br>
			<div id = "commentsection-2794" class = 'collapse'>
			<div id = "comment-6111" class = "comment">
				<p>Can you point to some specific edits? Can give a better answer if there's specific context around the question. The general answer is: edits need to be substantial. Simply changing `XCode` to `Xcode` with an edit is going to get it rejected -- it's not significant enough to improve the state of the question or answer.</p>
			</div>
			<div id = "comment-6112" class = "comment">
				<p>I thought the purpose of editing questions and answers is to fix spelling and grammar errors?</p>
			</div>
			<div id = "comment-6113" class = "comment">
				<p>Yes, but if you look at [the editing guide](http://apple.stackexchange.com/help/editing), first and foremost _Edits are expected to be substantial and to leave the post better than you found it._ That's very subjective, but on the whole it usually works out with community-approved edit queues.</p>
			</div>
			</div>
				<textarea id = "speech-2794" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2794">
					<img id="start_img-2794" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2794">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2795"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2795" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The reason for rejection is pretty clear. Don't just focus on the word  superfluous .</p>

<blockquote>
  <p>This edit does not make the post even a little bit easier to read, easier to find, more accurate or more accessible. Changes are either completely superfluous or actively harm readability.</p>
</blockquote>

<p>Edits, especially suggested edits, should <strong>significantly</strong> improve a post's readability or equivalent, and definitely shouldn't be making a post worse.</p>

<p>I've just had a look at every one of your suggested edits, and there's only a couple there that I'd approve. Almost every single one either doesn't help the post in any way or makes the post worse.</p>

<p>Here's a few randomly selected examples from your recent suggestions that illustrate my point:</p>

<ul>
<li><p><a href="https://apple.stackexchange.com/review/suggested-edits/161967">https://apple.stackexchange.com/review/suggested-edits/161967</a></p>

<p>You've literally added 6 characters and changed 1 character. That's only just over the required amount to submit the edit. Besides, it hasn't helped anyone   it's not in a title or a critical component of a question or answer which would help search users.</p></li>
<li><p><a href="https://apple.stackexchange.com/review/suggested-edits/161966">https://apple.stackexchange.com/review/suggested-edits/161966</a></p>

<p><strike>I am extremely close to reverting this edit.</strike> I've reverted this edit. If I could superping, I'd be bringing this up with the users who approved the edit.</p>

<ul>
<li>The first sentence is no improvement, just a change in style.</li>
<li>The edit to the code is poor ( killall  is <strong>not equivalent</strong> to  osascript quit  and I don't understand why you changed it) and you should not be making changes to code in this way without support in comments or elsewhere.</li>
<li>You added nothing to the third sentence but expanding what was already there, just in more words, which don't improve comprehension and actually make it more confusing as to what's being referred to.</li>
</ul></li>
<li><p><a href="https://apple.stackexchange.com/review/suggested-edits/161268">https://apple.stackexchange.com/review/suggested-edits/161268</a></p>

<p>All you've done is add line breaks. Don't do this   it's <em>worse</em> to read.</p></li>
<li><p><a href="https://apple.stackexchange.com/review/suggested-edits/161489">https://apple.stackexchange.com/review/suggested-edits/161489</a></p>

<p>You should not be leaving valedictions on posts, let alone making them bold.</p></li>
<li><p><a href="https://apple.stackexchange.com/review/suggested-edits/161495">https://apple.stackexchange.com/review/suggested-edits/161495</a></p>

<p>What exactly is being improved here? All you've done is change some words to some synonyms, replace  the  with  Spotlight , and incorrectly change one of the questions to something completely different which wasn't what the OP was asking.</p></li>
</ul>

<p>I think I've made my point, but if there's any other edits you want discussing specifically, link them. I'm sorry to say I would have edit-banned you a long time ago and brought this up then, but the past month or so I haven't been keeping up with others  reviews as much as I'd have liked. I strongly suggest reading the <a href="https://apple.stackexchange.com/help/editing">editing guide</a> if you haven't already.</p>
</p><br>
			</div>
			<div id = "userinfo-2795" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2795">Load Comments</button></br>
			<div id = "commentsection-2795" class = 'collapse'>
			<div id = "comment-6114" class = "comment">
				<p>Thanks for taking the time to dig into this!</p>
			</div>
			<div id = "comment-6115" class = "comment">
				<p>I can't help but chuckle a little at your edit, as it's one that should have been rejected, as you literally moved a single quote character from one side to the other of the character it preceded. :-)</p>
			</div>
			<div id = "comment-6116" class = "comment">
				<p>@user3439894 I knew someone would pick up on the irony, I purposely used a poor edit summary too ;)</p>
			</div>
			</div>
				<textarea id = "speech-2795" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2795">
					<img id="start_img-2795" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2795">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>