<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why can't you buy continuous servos with absolute positioning?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7997" class = "post">
			<h2>Question</h2>
			<div id="vote-7997" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 680</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why can't you buy continuous servos with absolute positioning?</h2>
<p>I've been looking at parts for a beginners robotics kit (I teach at a museum) and have been wondering about servos.</p>

<p>You can buy continuous servos with relative position encoders. But I can't find continuous rotation servos with absolute position encoders. Do these exist? If not, why not?</p>

<p>I understand that some forums don't like shopping questions, but I suspect that this part doesn't exist and I'd like to understand why.</p>

<p>Also, I understand that most servos use a potentiometer as a position encoder and that these don't turn more than 1 rotation, but there are other types of encoders that seem like they would do the job.</p>

<p>Thanks for the help!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7997" data-toggle = "popover">
				<p>user name : user8373</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-7997">{'None': 0, 'servos': 4, 'quadrature-encoder': 4}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7997">Load Comments</button></br>
			<div id = "commentsection-7997" class = 'collapse'>
			<div id = "comment-11759" class = "comment">
				<p>Then why bother using servos? Pick actuator and sensor independently and appropriate for your needs instead of being stuck with what the servo manufacturer put together. You'd want to explain what a servo is anyway, so why not circumvent the problem by building one yourself? What control algorithm should be used? What parameters? What if there's load on the motor? I think knowing how to control a motor is essential for robotics and a valuable thing to learn for a beginner.</p>
			</div>
			<div id = "comment-12772" class = "comment">
				<p>I see where you are coming from, but most of the students that I work with have never done any programming or robotics before, so I want them to focus on simple concepts instead of getting into making their own feedback systems. I could pre-assemble my own motors, but then it would be hard for other educators to replicate what I've done.</p>
			</div>
			<div id = "comment-12778" class = "comment">
				<p>So you want to position something absolutely, and somewhere between infinity and negative infinity?</p>
			</div>
			<div id = "comment-12787" class = "comment">
				<p>Maybe my question wasn't clear... on some expensive servos that I've worked with you can assign the servo and absolute position or tell it to move relatively.

I was imagining that with a cheap absolute position encoder, like [this](https://en.wikipedia.org/wiki/Rotary_encoder), you could send absolute positions, and convert relative movements to absolute positions in code. No one seems to sell these for cheap, maybe the encoders are too expensive?</p>
			</div>
			</div>
				<textarea id = "speech-7997" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7997">
					<img id="start_img-7997" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7997">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8009"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8009" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I assume you mean hobby servos, like the one pictured here:</p>

<p><a href="https://i.stack.imgur.com/gNnrR.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/gNnrR.jpg" alt="Futaba hobby servo"></a></p>

<p>These were primarily designed for RC planes and cars to actuate control surfaces and steering.  Continuous rotation is not needed.  So a simple and cheap potentiometer is used for absolute position measurement.  Cheap pots like this have a large dead zone.  Their internal construction is something like this:</p>

<p><a href="https://i.stack.imgur.com/sa1uQ.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/sa1uQ.png" alt="potentiometer internals"></a></p>

<p>And to prevent the motor from reaching the dead zone there is typically some hard stop or peg on one of the gears.  Due to the prevalence and cheap cost of these hobby servos, people have found ways to hack them and make them continuous rotation.  This typically involves trimming the hard stop and replacing the potentiometer with a pair of regular resistors.  Now to get the servo to spin, you kind of need to trick the control algorithm.  The pair of resistors make the servo think it is always in the middle of its range (for example).  Then you command it to go to some other angle, and it spins at some speed to get there, but since it always thinks it is in the middle, it will spin forever.  So what is normally a position command is now a speed command.  Voila!</p>

<p>Now the word <em>servo</em> actually applies to any motor coupled with a sensor for position feedback with the required control to go to a desired position.  See better definition <a href="https://en.wikipedia.org/wiki/Servomotor" rel="nofollow noreferrer">here</a>.  So by hacking the hobby servo to make it continuous rotation, it is no longer actually a servo.  That is unless you now add your own sensing and code to <em>servo</em> to your desired position.  </p>

<p>But this is a pretty round-about way of getting what you want.  So why not just pick a motor, gear train, and sensing scheme to specifically suit your needs?  But this is rather advanced for beginners.  So you should find some all-in-one <em>real</em> servos.  Dynamixels are a popular choice.  They are continuous rotation, have real absolution position measurement, are individually addressable, and can be daisychained.  </p>

<p><a href="https://i.stack.imgur.com/ava1M.jpg" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ava1M.jpg" alt="Dynamixels hobby servo"></a></p>

<p>And the LEGO NXT and EV3 motors are also real servos.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8009" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-8009">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-8009" class = 'collapse'>
			</div>
				<textarea id = "speech-8009" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8009">
					<img id="start_img-8009" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8009">Comment</button>
			<br><div id = "ans-10925"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10925" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I am looking into <a href="http://ams.com/eng/Magnetic-Encoders/AS5048" rel="nofollow">this type of absolute position encoder</a>.
They were used in the NAO robot.
They are small, accurate and typically under $10 USD.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10925" data-toggle = "popover">
				<p>user name : user15110</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-10925">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10925" class = 'collapse'>
			</div>
				<textarea id = "speech-10925" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10925">
					<img id="start_img-10925" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10925">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>