<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why no mobile view?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-404" class = "post">
			<h2>Question</h2>
			<div id="vote-404" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 85</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why no mobile view?</h2>
<p>Being intrinsically Apple-centric, why does apple.stackexchange.com not have a mobile view for my iPhone?</p>

<p>The likelyhood of an Apple user coming to this site is high right? So why would you not want a mobile version of apple.stackexchange.com, explicitly optimised for iOS devices?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-404" data-toggle = "popover">
				<p>user name : cottsak</p>
				<p> user reputation : 144</p>
				<p class = "tagcontent" id = "usertaginfo-404">{'mobile': 1, 'None': 0, 'ios': 1, 'discussion': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-404">Load Comments</button></br>
			<div id = "commentsection-404" class = 'collapse'>
			<div id = "comment-796" class = "comment">
				<p>This should be on Meta. Duplicate: http://meta.apple.stackexchange.com/questions/278/ase-mobile-site</p>
			</div>
			</div>
				<textarea id = "speech-404" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-404">
					<img id="start_img-404" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-404">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-405"  class = "post">
				<h2>Answer</h2>
			<div id="vote-405" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You should check out this application for iPhone: <a href="http://itunes.apple.com/us/app/six-to-eight/id384094708?mt=8" rel="nofollow">Six to Eight</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-405" data-toggle = "popover">
				<p>user name : sorens</p>
				<p> user reputation : 1393</p>
				<p class = "tagcontent" id = "usertaginfo-405">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-405" class = 'collapse'>
			</div>
				<textarea id = "speech-405" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-405">
					<img id="start_img-405" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-405">Comment</button>
			<br><div id = "ans-406"  class = "post">
				<h2>Answer</h2>
			<div id="vote-406" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Check <a href="http://stackapps.com">http://stackapps.com</a> for iOS and OS X apps.</p>

<p>Beyond that, we do have a rudimentary mobile theme at the moment that was just deployed. Browse from iPhone to see it.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-406" data-toggle = "popover">
				<p>user name : Jeff Atwood</p>
				<p> user reputation : 1898</p>
				<p class = "tagcontent" id = "usertaginfo-406">{'None': 148, 'discussion': 31, 'sponsorship': 4}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-406">Load Comments</button></br>
			<div id = "commentsection-406" class = 'collapse'>
			<div id = "comment-798" class = "comment">
				<p>just tried apple.stackexchange.com on the mobile. no change?</p>
			</div>
			<div id = "comment-799" class = "comment">
				<p>Works for me, it's just a simplified UI with less fuss. Better performance on my phone</p>
			</div>
			<div id = "comment-803" class = "comment">
				<p>It's not working for me now.. not sure they reverted the changes from mobile view or not ?</p>
			</div>
			<div id = "comment-807" class = "comment">
				<p>@garik I see it on my iPhone 4, what device are you using? Note that we no longer consider iPad a mobile device (more correctly..)</p>
			</div>
			<div id = "comment-808" class = "comment">
				<p>mine is iPhone 3GS</p>
			</div>
			</div>
				<textarea id = "speech-406" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-406">
					<img id="start_img-406" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-406">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>