<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why linkage-based haptic devices are much more common than cable (tension)-based ones?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2876" class = "post">
			<h2>Question</h2>
			<div id="vote-2876" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 134</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why linkage-based haptic devices are much more common than cable (tension)-based ones?</h2>
<p>According not only to <a href="http://www.hitl.washington.edu/people/tfurness/courses/inde543/READINGS-03/BERKLEY/White%20Paper%20-%20Haptic%20Devices.pdf">this link</a>, but in my humble opinion to common sense as well, cable-based haptic devices have got lower inertia and are less complicated mechanically. I also believe that controlling them is not that big deal - the inverse kinematics should be quite straightforward. Moreover, the play should be easy to compensate - if there occurs any at all, since the cables are tensioned. Cables should also be easy - ? just a guess from me - to be equipped with strain gauges or to become strain gauges themselves, allowing to enhance control capabilities of a device.</p>

<p>Where am I wrong? Why is that the links-based systems (e.g. PhaNTom or Falcon, although that latter has got cable transmission), especially with impedance control, are the only I seem to be able to buy? Is it because of cable elongation (creep)? Or too constrained workspace (esp. angles)?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2876" data-toggle = "popover">
				<p>user name : Antek</p>
				<p> user reputation : 33</p>
				<p class = "tagcontent" id = "usertaginfo-2876">{'control': 1, 'None': 0, 'reference-request': 1, 'sensors': 5, 'mechanism': 6}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2876" class = 'collapse'>
			</div>
				<textarea id = "speech-2876" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2876">
					<img id="start_img-2876" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2876">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3060"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3060" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think there might be different reasons for this.</p>

<p><strong>First, historical reasons</strong></p>

<p>The first systems with haptic feedback were mechanical systems to which vibration / force feedback functions were added (vibrations in a pilot's handle, for instance). In the early stages robotic systems were used as haptic displays for different uses (quite early, force feedback was used in telemanipulation devices for operating in nuclear power plants for instance). Naturally, the linkage-based systems became the norm.</p>

<p><strong>Second, technical reasons</strong></p>

<p>I see two reasons here. The first is the fact that cables can only pull and not push. Therefore, you need redundancy to generate forces and wrenches in all directions. It can become quite cumbersome and difficult to control. Also, doubling the number of motors has a direct impact on price. The second reason is related to the workspace : the larger your workspace, the longer your cables. The longer the cables, the more flexible they get. In order to be accurate, the flexibility of those cables must be compensated for, which is not necessarily a trivial problem. This links to historical reasons, as cables that could be made in the 50's were likely less good in terms of stiffness and elasticity than the ones we can make now.</p>

<p><strong>All in all</strong></p>

<p>I think that linkage-based systems are easier to use and to place in an experimental setup (you don't need a box the size of your workspace to use them). This being reinforced by historical reasons that made the use of linkage-based systems more or less the norm. On the other hand, cable-based mechanisms have a nice future for many applications. Also, don't forget that there are alternatives to cable and linkage-based haptic devices, with magnetic-based devices for instance. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3060" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 46</p>
				<p class = "tagcontent" id = "usertaginfo-3060">{'None': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3060" class = 'collapse'>
			</div>
				<textarea id = "speech-3060" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3060">
					<img id="start_img-3060" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3060">Comment</button>
			<br><div id = "ans-3061"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3061" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are primary a Technical reason for this.</p>

<p>If you use tension based, the actual joint-angle has to be computed from all tension lengths, the inverse kinematic is as you mentioned known in general but not in detail for each user, this normally lead into a more non-precise measurements. Additionally these devices needs to be calibrated for each person by doing some gestures.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3061" data-toggle = "popover">
				<p>user name : Matthias Goldhoorn</p>
				<p> user reputation : 148</p>
				<p class = "tagcontent" id = "usertaginfo-3061">{'None': 11, 'syskit': 1, 'rock': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3061" class = 'collapse'>
			</div>
				<textarea id = "speech-3061" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3061">
					<img id="start_img-3061" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3061">Comment</button>
			<br><div id = "ans-3077"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3077" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>linkage based systems can be engineered to be very stiff mechanisms, however cable based systems cannot be due to the inherent elasticity of the cable used. Also cable based systems are higher maintenance, as you have to account for cable tension changes over time as the cable stretches/creeps (ie by periodic adjustment of tension).</p>

<p>The real world implication is that you cannot reproduce very hard wall contacts with cable based interfaces, and the effect feels more springy then with a rigid link device.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3077" data-toggle = "popover">
				<p>user name : Tom</p>
				<p> user reputation : 111</p>
				<p class = "tagcontent" id = "usertaginfo-3077">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3077" class = 'collapse'>
			</div>
				<textarea id = "speech-3077" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3077">
					<img id="start_img-3077" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3077">Comment</button>
			<br><div id = "ans-3165"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3165" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>why not to consider a hybrid cable which can be stiff ("frozen") like a pipe or flexible as a rope? In such a case it can push not only pull. By the hybrid cable I mean a cable covered with many small cylindrical pulleys.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3165" data-toggle = "popover">
				<p>user name : Grigori</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-3165">{'None': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3165" class = 'collapse'>
			</div>
				<textarea id = "speech-3165" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3165">
					<img id="start_img-3165" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3165">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>