<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why do I need I-gain in my outer-loop?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9420" class = "post">
			<h2>Question</h2>
			<div id="vote-9420" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 233</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do I need I-gain in my outer-loop?</h2>
<p>I'm implementing a set of loops to control pitch-and-roll angular positions.</p>

<p>In an inner-loop, motor speeds are adjusted to achieve desired angular rates of rotation (the "inner-loop setpoints").</p>

<p>An outer-loop decides these desired angular rates (the "inner-loop setpoints") based on the aircraft's angular positions.</p>

<hr>

<h3>Outer-loop</h3>

<ul>
<li>Frequency = ~400Hz</li>
<li>Outer PV = input angular position (in degrees)</li>
<li>Outer SP = desired angular position - input angular position (in degrees)</li>
</ul>

<hr>

<h3>Inner-loop</h3>

<ul>
<li>Frequency = ~760Hz</li>
<li>Inner PV = input angular rotation (in degrees-per-second)</li>
<li>Inner SP = constant1 * Outer MV (in degrees-per-second)</li>
<li>PWM = Inner MV / constant2 (as percentile)</li>
</ul>

<hr>

<p>I understand what I-gain does and why this is important, but I'm not able to see any practical reason for also having I-gain specified in the outer-loop. Surely the inner-loop would compensate for any accumulated error, leaving no error to compensate for in the outer-loop, or is my thinking flawed?</p>

<p>Any example gain values to elaborate would be greatly appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9420" data-toggle = "popover">
				<p>user name : Biscuits</p>
				<p> user reputation : 137</p>
				<p class = "tagcontent" id = "usertaginfo-9420">{'quadcopter': 3, 'None': 2, 'power': 2, 'pid': 1, 'esc': 2, 'pwm': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9420">Load Comments</button></br>
			<div id = "commentsection-9420" class = 'collapse'>
			<div id = "comment-16667" class = "comment">
				<p>...and there I find a major flaw in the assignment of Outer SP</p>
			</div>
			</div>
				<textarea id = "speech-9420" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9420">
					<img id="start_img-9420" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9420">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9421"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9421" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In my own experience, it is not necessary Integral term in any of these loops. I got a fine PD tuning of both inner and outer loop. See for instance this <a href="https://link.springer.com/chapter/10.1007%2F978-3-319-18833-1_31#page-1" rel="nofollow">paper</a>, where I firstly tuned PD only with PSO. </p>

<p>Wikipedia shows a simple animation of each of the effects of P-I-D in any tuning <a href="https://en.wikipedia.org/wiki/PID_controller#Manual_tuning" rel="nofollow">https://en.wikipedia.org/wiki/PID_controller#Manual_tuning</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9421" data-toggle = "popover">
				<p>user name : galtor</p>
				<p> user reputation : 348</p>
				<p class = "tagcontent" id = "usertaginfo-9421">{'control': 2, 'quadcopter': 5, 'None': 14, 'reinforcement-learning': 1, 'pid': 4, 'simulation': -3, 'machine-learning': 1, 'untagged': 0}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9421" class = 'collapse'>
			</div>
				<textarea id = "speech-9421" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9421">
					<img id="start_img-9421" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9421">Comment</button>
			<br><div id = "ans-9422"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9422" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Integral gain is how you eliminate steady state error. An integral gain in the inner loop means you'll (eventually) have no steady state error on the angular <em>velocity</em>.</p>

<p>What ensures no steady state error on angular position, which is arguably the more important of the two? Outer loop integral error. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9422" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-9422">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9422">Load Comments</button></br>
			<div id = "commentsection-9422" class = 'collapse'>
			<div id = "comment-16669" class = "comment">
				<p>Plus consider that any real system has a real lag between commanded position and achieved position.  If your integral loop responds to this natural lag in behavior, it will result in an overshoot when the system eventually gets to its setpoint.</p>
			</div>
			<div id = "comment-16690" class = "comment">
				<p>An error in angular position would give a desired angular rate which would be achieved if there was an integral term in the inner loop. There would be no steady state error in either case.</p>
			</div>
			<div id = "comment-16694" class = "comment">
				<p>Thanks Chuck, your first sentence makes perfect sense - it's the second one that troubles me. @holmeski said it exactly how I see it.</p>
			</div>
			<div id = "comment-16695" class = "comment">
				<p>@Biscuits - Ask yourself, "Where does the angular error go?" Angular position reference is an input to the outer loop, as is angular position feedback. The output - angular error - is then acted on by the outer PID loop. The outer PID loop then feeds a speed request to the inner PID loop. My point is that the outer PID loop will never request the speed required to get the angular position feedback equal to the angular position reference.</p>
			</div>
			<div id = "comment-16696" class = "comment">
				<p>@holmeski , Biscuits - refer to the comment above and: I think you're thinking of this backwards. If the *outer* loop had an integral gain, then it could drive angular position error to zero, even if the inner loop did not have integral gain. Ultimately you don't actually care about angular speed; it's just a means to the end, which is angular position.</p>
			</div>
			<div id = "comment-16697" class = "comment">
				<p>You rely on the outer loop to request a speed that drives the craft to zero angular position error. The only way that happens is if the outer loop *can* request a speed that drives the craft to zero angular position error. This is (provably) not possible without integral control. As SteveO points out, integral control adds overshoot; minimizing the overshoot is the point of the derivative gain term.</p>
			</div>
			</div>
				<textarea id = "speech-9422" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9422">
					<img id="start_img-9422" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9422">Comment</button>
			<br><div id = "ans-9446"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9446" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Each control system has its own characteristics (overshoot, damping, settling time, response time, etc).</p>

<p>The outer loop is just another control system, so it may have a steady state (residual) error. And the I term is necessary to get rid of it.</p>

<p>If you had a third level controller (e.g lateral acceleration) you would still need another I term. And if you had a higher level outer loop (e.g. Speed), you would still need yet another I term in that loop. If you had yet another higher level (outer) loop (e.g. Position), you would again need an I term. Otherwise you run the risk of not reaching your target location.</p>

<p>Of course if the intermediate control variables are not important (e.g acceleration), you might just cancel that I term of that loop. However, any time you want to get rid of the steady state error of any of your variables (in any of the loops), you use an integral term. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9446" data-toggle = "popover">
				<p>user name : G rkan  etin</p>
				<p> user reputation : 284</p>
				<p class = "tagcontent" id = "usertaginfo-9446">{'None': 13}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9446" class = 'collapse'>
			</div>
				<textarea id = "speech-9446" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9446">
					<img id="start_img-9446" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9446">Comment</button>
			<br><div id = "ans-9450"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9450" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Lets assume that the inner loop, whose input is desired angular rate and output is motor input, can track the desired angular rate. Some internet fellow has taken care of that for us. I'm going to be considering a step change in desired position </p>

<p>let 
$e = x_{des} - x$  and $ \dot e = -\dot x$ </p>

<p>this will be our outer loop controller</p>

<p>$\dot x = k_p e + k_d \dot e$</p>

<p>substituting in $\dot e$ gives</p>

<p>$ -\dot e = k_p e + k_d \dot e$</p>

<p>which can be rearranged as </p>

<p>$\dot e = - \frac{k_p}{k_d + 1} e$</p>

<p>which is a first order system. I've ignored inner loop dynamics but that should be fine, inner loop dynamics should be at least an order of magnitude faster than the outer loop dynamics. </p>

<p>I am not saying that integral control is not useful, just that it is not strictly necessary in the outer loop. It is easy to image a situation where the inner loop is not behaving correctly that results in a steady state error. </p>

<p>The px4 flight stack for multicopters approaches attitude control with pd control for angular position and pid control for body rate control. </p>

<p><a href="http://%20https://pixhawk.org/users/multirotor_pid_tuning" rel="nofollow">https://pixhawk.org/users/multirotor_pid_tuning</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9450" data-toggle = "popover">
				<p>user name : holmeski</p>
				<p> user reputation : 1338</p>
				<p class = "tagcontent" id = "usertaginfo-9450">{'pose': 3, 'None': 101, 'computer-vision': 3, 'kalman-filter': 3}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9450" class = 'collapse'>
			</div>
				<textarea id = "speech-9450" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9450">
					<img id="start_img-9450" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9450">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>