<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why was my co-workers answer deleted?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1486" class = "post">
			<h2>Question</h2>
			<div id="vote-1486" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 55</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why was my co-workers answer deleted?</h2>
<p>A co worker (who sits in front of me at work) signed into apple.stackexchange.com and posted an answer here: <a href="https://apple.stackexchange.com/q/18733/1337">Can the Kinect be used as a control interface for Mac OS X?</a></p>

<p>His answer is no longer present.  I'm not sure if his account is still a member either.</p>

<p>My question is: Why was his answer removed?  I'm trying to encourage him to become an active user of this site.</p>

<p>Did I loose any rep for this?  I made an edit to his answer to include a picture but that was removed too.  If I was marked as a spammer in the past then I would suffer an "invsible" rep loss that won't appear in my history.  This happened once on StackOverflow.</p>

<p>I'm just asking for the mods to look into this and let me know (since I'm trying to be a good user)</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1486" data-toggle = "popover">
				<p>user name : LamonteCristo</p>
				<p> user reputation : 1646</p>
				<p class = "tagcontent" id = "usertaginfo-1486">{'None': 0, 'support': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1486">Load Comments</button></br>
			<div id = "commentsection-1486" class = 'collapse'>
			<div id = "comment-2789" class = "comment">
				<p>Thank you for helping others find the site. There is no invisible rep or even a lag in showing when someone's reputation changes, so perhaps your past experience was due to the scheduled nature of reputation adjustments and bugs in the system.</p>
			</div>
			</div>
				<textarea id = "speech-1486" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1486">
					<img id="start_img-1486" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1486">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1487"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1487" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The only deleted "answer" on the question is this one:</p>

<blockquote>
  <p>I'm interested in seeing this but I don't have enough reputation to +1 this.
  Just found this perusing the web. Looks very much like Kinect for Mac.
  [link]</p>
</blockquote>

<p>This isn't an answer to the question. Things posted as answers that aren't answers get deleted. I don't see anything with a picture. Your friend should be able to answer again, and this time, you can post a link to either their account or to the answer / edits and we can see what might have happened. Is there any chance you are linking to the incorrect question?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1487" data-toggle = "popover">
				<p>user name : Daniel</p>
				<p> user reputation : 24514</p>
				<p class = "tagcontent" id = "usertaginfo-1487">{'meta': 3, 'badges': 4, 'site-scope': 25, 'support': 21, 'comments': 5, 'feature-request': 50, 'status-bydesign': 12, 'None': 573, 'users': 11, 'tags': 17, 'faq': 10, 'status-completed': 21, 'moderation': 11, 'prerelease': 6, 'answers': 4, 'bug': 6, 'site-promotion': 28, 'ipad': 6, 'moderators': 11, 'asking-questions': 4, 'voting': 1, 'discussion': 103}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1487">Load Comments</button></br>
			<div id = "commentsection-1487" class = 'collapse'>
			<div id = "comment-2790" class = "comment">
				<p>It's OK I thought there was a better answer there ...  Thanks</p>
			</div>
			</div>
				<textarea id = "speech-1487" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1487">
					<img id="start_img-1487" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1487">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>