<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why production lines are so huge and power hungry?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3210" class = "post">
			<h2>Question</h2>
			<div id="vote-3210" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 55</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why production lines are so huge and power hungry?</h2>
<p>I'm thinking of starting my adventure in area of professional manufacturing. When I started to look onto machines I figured out that they are build somehow like in the 70s: huge footprint, big 3kW electric motors etc.</p>

<p>Is there any explanation why they are build in that way?</p>

<p>The only one I can think of is: they were developed long time ago and if it worked, it stays as it is.</p>

<p>BTW: If you know other place where to ask this question please let me know!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3210" data-toggle = "popover">
				<p>user name : Marian Pa dzioch</p>
				<p> user reputation : 186</p>
				<p class = "tagcontent" id = "usertaginfo-3210">{'None': 2, 'soccer': 1, 'robotic-arm': 4, 'rcservo': 1, 'valve': 1, 'simulator': 1, 'mechanism': 6, 'gearing': 0, 'tracks': 0, 'chassis': 0, 'motor': 2, 'stepper-motor': 2, 'manufacturing': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3210">Load Comments</button></br>
			<div id = "commentsection-3210" class = 'collapse'>
			<div id = "comment-6746" class = "comment">
				<p>Perhaps you should explain a bit more. What kind of manufacturing do you mean? Manufacturing microcontrollers for example is very different from trucks, each with their own need.</p>
			</div>
			<div id = "comment-6747" class = "comment">
				<p>Explanation: I meant some simpler products like bubble wrap envelopes, cartboards, nothing super complicated like trucs or electronics but still available to buy and manufactured in huge quantities</p>
			</div>
			</div>
				<textarea id = "speech-3210" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3210">
					<img id="start_img-3210" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3210">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3214"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3214" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Older manufacturing robots where definitely larger than those available today. One of the biggest things you'll notice when you compare robots from today and years ago is the size of the control box! Just like computers have shrank over the years, robot controller have shrank drastically, even to the point that some manufacturing robots don't have a seperate control box, all the electronics are built into the body of the robot. </p>

<p>Just imagine all the power that was required to run a desktop in the 70's and compare that to the little battery in your cell phone...and the cell phone is orders of magnitudes better at crunching numbers! </p>

<p>That being said, the heavier an object that needs to be picked up is, the larger motors will be required. Electric motor designs have only made small incremental improvements over the years and not much has changed in terms of power density. At the end of the day, torque is proportional to current. There is some promising technology coming from <a href="http://www.themarysue.com/schaft-robot-prototype/" rel="nofollow">humaniod robots</a> that involves liquid cooling DC motors, that help reduce motor size, but I think power consumption is the same. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3214" data-toggle = "popover">
				<p>user name : Airuno2L</p>
				<p> user reputation : 156</p>
				<p class = "tagcontent" id = "usertaginfo-3214">{'None': 14}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3214" class = 'collapse'>
			</div>
				<textarea id = "speech-3214" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3214">
					<img id="start_img-3214" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3214">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>