<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<title id = 'pagetitle'>Why is there no Delete Profile link anymore?
		</title>
	<head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2936" class = "post">
			<h2>Question</h2>
			<div id="vote-2936" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 32</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why is there no Delete Profile link anymore?</h2>
<p><a href="https://i.stack.imgur.com/0FDKl.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/0FDKl.png" alt=""></a></p>

<p>Under "Edit Profile" should've been an option for leaving the community.</p>

<p>Am I looking in the wrong place?</p>

			</div>
			<div id = "userinfo-2936" style = "float:right">
				<p>user name : None</p>
				<p> user reputation : NA</p>
				<p> user tag wise history : {'None': 5, 'discussion': 18, 'profile-page': 4, 'closed-questions': 6, 'close-reasons': 6, 'suggested-edits': -9, 'design': 8, 'feature-request': 8, 'questions': 4, 'graphics': 3, 'status-declined': 8, 'user-accounts': 4, 'support': 9, 'user-interface': 8}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2936" class = 'collapse'>
			</div>
				<textarea id = "speech-2936" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2936">
					<img id="start_img-2936" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2936">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2937"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2937" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can only self-delete your profile if the profile has <strong>never voted</strong> and has <strong>posted at most once</strong> in the history of the account. If this is not true, the Delete Profile link will not be shown.</p>

<p>To delete a profile which does not meet this criteria, use the <a href="https://apple.stackexchange.com/contact">contact us</a> link and choose  I need to delete my user profile .</p>

<p>Practically, it's simpler to just anonymize your profile if that's what you want - deletion just automates the anonymization of your posts and profile. If you're asking about linking accounts - that's a different path: <a href="http://stackexchange.com/users/218740/bmike?tab=accounts">http://stackexchange.com/users/218740/bmike?tab=accounts</a></p>
</p><br>
			</div>
			<div id = "userinfo-2937" style = "float:right">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p> user tag wise history : {'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2937" class = 'collapse'>
			</div>
				<textarea id = "speech-2937" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2937">
					<img id="start_img-2937" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2937">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>