<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why do series elastic actuators have more accurate and stable force control?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9951" class = "post">
			<h2>Question</h2>
			<div id="vote-9951" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 498</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do series elastic actuators have more accurate and stable force control?</h2>
<p>The other day, somebody was telling me about a robot in their lab, and they mentioned that it has "series elastic" actuators. But after doing a bit of Googling, I'm still not sure as to what this means, and have been unable to find a simple explanation. It seems that it is something to do with the link between the actuator and the load having a spring-like quality to it, but this is rather vague...</p>

<p>In any case, the what I am really interested in is the advantages and disadvantages of series elastic actuators. Specifically, I have read that one of the advantages is that it allows for "more accurate and stable force control". However, this appears counter-intuitive to me. I would have thought that if the link between the actuator and the load was more "springy", then this would lower the ability to have accurate control over the force send to the load, because more of this force would be stored and dissipated in the spring, with less directly transferred to the load.</p>

<p>So: Why do series elastic actuators have "more accurate and stable force control"?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9951" data-toggle = "popover">
				<p>user name : Karnivaurus</p>
				<p> user reputation : 328</p>
				<p class = "tagcontent" id = "usertaginfo-9951">{'control': 10, 'walking-robot': 4, 'simulator': 0, 'torque': 4, 'slam': 0, 'robotic-arm': 20, 'mobile-robot': 0, 'dynamics': 17, 'forward-kinematics': 7, 'manipulator': 10, 'accelerometer': 4, 'kinematics': 29, 'jacobian': 16, 'policy': 1, 'actuator': 4, 'None': 0, 'inverse-kinematics': 18, 'localization': 0, 'mapping': 0, 'sensors': 4, 'simulation': 0, 'navigation': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9951" class = 'collapse'>
			</div>
				<textarea id = "speech-9951" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9951">
					<img id="start_img-9951" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9951">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9952"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9952" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Series elastic actuators tend to have more stable force control because the spring filters out the high-frequency motion of the mechanism. A low frequency in the system dynamics means that you can use slower control techniques, which is important when using digital controllers with naive control implementations, and sensors with significant abbe error and latency.</p>

<p>In short, springs make the implementation of the controller easier when the designer does not have the skill or the time to optimize the performance of the actuator.</p>

<p>Your intuition is generally correct, except that SEA designers try to use springs without much dissipation. They are often (usually) measuring the displacement of the spring to estimate force.</p>

<p>Beware of people using SEA as a buzzword they don't really understand. Once upon a time it referred to a specific thesis and patent from MIT. The Series Elastic Actuator as designed at MIT was hyped in typical MIT fasion as innovative and orginal, probably a bit beyond what it actually was. Over time it's come to mean the general approach of intentionally inserting extra compliance into an actuator. Meanwhile, using appropriate compliance has been good mechanism design for hundreds of years. </p>

<p>The <a href="http://www.cc.gatech.edu/fac/Chris.Atkeson/legs/jh1c.pdf">original</a> <a href="https://groups.csail.mit.edu/lbr/hrg/1995/mattw_ms_thesis.pdf">papers</a> are worth reading. </p>

<p>As a final note, the latency in your sensing->actuation response (including the mechanical time constants) is the key issue. If you don't specifically need mechanical filtering (maintaining smooth contact with the environment was one of the original motivations) you can filter electronically.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9952" data-toggle = "popover">
				<p>user name : hauptmech</p>
				<p> user reputation : 2621</p>
				<p class = "tagcontent" id = "usertaginfo-9952">{'battery': 2, 'None': 220, 'lithium-polymer': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-9952" class = 'collapse'>
			</div>
				<textarea id = "speech-9952" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9952">
					<img id="start_img-9952" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9952">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>