<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why is a specific, non-customer support question on hold as basic customer support?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2940" class = "post">
			<h2>Question</h2>
			<div id="vote-2940" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 30</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why is a specific, non-customer support question on hold as basic customer support?</h2>
<p>I asked <a href="https://apple.stackexchange.com/questions/268215/">this question</a> on Ask Different:</p>

<blockquote>
  <p>I'm looking for one of these types of stylish MacBook keyboard skins [see image in original], but I don't want any of the keys marked. I just want blank keys, without letters/symbols. Do any such products exist?</p>
</blockquote>

<p>In my opinion, this question is not at all related to customer support (it's directly related to Apple hardware) and it's not opinion-based (it's not as if I'm asking for the <em>prettiest</em> keyboard skin), yet it's on hold for being a basic customer support question.  Yet now it's on hold:</p>

<blockquote>
  <p>Basic Customer Support or questions asking to recommend or find off-site resources (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam. Instead, edit to clearly describe your problem and the research done so far to solve it.</p>
</blockquote>

<hr>

<p>I feel like both my problem and research done so far are clearly described, and I know this question isn't going to generate opinionated answers; how can a "this product exists, here is proof" answer be opinionated?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2940" data-toggle = "popover">
				<p>user name : theonlygusti</p>
				<p> user reputation : 312</p>
				<p class = "tagcontent" id = "usertaginfo-2940">{'close-reasons': 3, 'None': 0, 'tags': 0, 'support': 3, 'feature-request': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2940">Load Comments</button></br>
			<div id = "commentsection-2940" class = 'collapse'>
			<div id = "comment-6382" class = "comment">
				<p>Though I didn't vote to close it, I think it's closed because it's a product recommendation request, which can generate innumerable correct answers if multiple products exist. That's why this site is better suited to specific questions about Apple Hardware like "My iPhone is in a boot loop, what do I do?" rather than "Which case should I get for x need" (which can have multiple answers that are corrected based on opinion rather than based on whether they actually solve the problem of your boot loop.</p>
			</div>
			</div>
				<textarea id = "speech-2940" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2940">
					<img id="start_img-2940" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2940">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2941"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The close reason used here has two parts. For your question the second part </p>

<blockquote>
  <p>[...] or questions <strong>asking to recommend or find off-site resources</strong> (Mac/book/software/tutorial) are off-topic for Ask Different as they tend to attract opinionated answers and spam</p>
</blockquote>

<p>is more applicable than the customer support part. Based on experience from similar questions in the past, such questions <em>will</em> attract opinionated (aka non-fact based) answers (and potentially spam) and, in the end, most of the answers will just be links to product web sites (making the answers look like the result of a Google search).</p>

<p>AskDifferent (as any other SE site) works best for questions which have clear, fact-based answers. It doesn't work so well for questions where a lot of answers are possible without a clear way to determine their individual merit.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2941" data-toggle = "popover">
				<p>user name : patrix</p>
				<p> user reputation : 41095</p>
				<p class = "tagcontent" id = "usertaginfo-2941">{'None': 452, 'discussion': 15, 'questions': 8}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2941">Load Comments</button></br>
			<div id = "commentsection-2941" class = 'collapse'>
			<div id = "comment-6383" class = "comment">
				<p>How should I rephrase the question so that the subjectively-influenced close-voters will no longer consider it a question that warrants closing?</p>
			</div>
			<div id = "comment-6384" class = "comment">
				<p>There is http://meta.apple.stackexchange.com/questions/2180/how-should-i-ask-about-getting-a-software-recommendation but that focuses more on software. You could also try to add details about research done etc so it doesn't look like something one could easily ask Google or Amazon. But it might be difficult even then.</p>
			</div>
			</div>
				<textarea id = "speech-2941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2941">
					<img id="start_img-2941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2941">Comment</button>
			<br><div id = "ans-2944"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2944" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I disagree with this question being closed and I voted to  leave open  when I saw the question in the closure queue. Not only have I expressed my distaste for that specific close reason before, I think your question is suitable for the site.</p>

<p>Hardware recommendations, just like software recommendations, can be on-topic on Ask Different, providing they have a clear focus, which your question does. Your question meets all the requirements set out for such questions in the tag wiki, and I don't see how the question can't be objectively answered.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2944" data-toggle = "popover">
				<p>user name : grgarside</p>
				<p> user reputation : 96682</p>
				<p class = "tagcontent" id = "usertaginfo-2944">{'questions': 11, 'deleted-questions': 1, 'design': 7, 'chat': 1, 'images': 1, 'flagging': 15, 'new-users': 3, 'status-reproduced': 3, 'support': 40, 'comments': 5, 'close-reasons': 4, 'reputation': 7, 'feature-request': 7, 'https': 5, 'status-bydesign': 2, 'profile-page': 7, 'None': 399, 'users': 3, 'tags': 83, 'status-completed': 17, 'suggested-edits': 5, 'prerelease': 1, 'answers': 14, 'editing': 12, 'bug': 17, 'closed-questions': 4, 'status-planned': 5, 'formatting': 13, 'asking-questions': 3, 'voting': 3, 'dupehammer': 2, 'discussion': 112}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2944" class = 'collapse'>
			</div>
				<textarea id = "speech-2944" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2944">
					<img id="start_img-2944" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2944">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>