<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why are quadcopters more common in robotics than other configurations?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-543" class = "post">
			<h2>Question</h2>
			<div id="vote-543" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3785</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why are quadcopters more common in robotics than other configurations?</h2>
<p>I've noticed that almost all research being done with helicopter robots is done using quadcopters (four propellers). Why is there so little work done using tricopters in comparison? Or a different number of propellers? What about four propellers has made quadcopters the most popular choice?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-543" data-toggle = "popover">
				<p>user name : golmschenk</p>
				<p> user reputation : 671</p>
				<p class = "tagcontent" id = "usertaginfo-543">{'quadcopter': 19, 'current': 30, 'None': 1, 'raspberry-pi': 8, 'arduino': 12, 'battery': 13, 'wheeled-robot': 14, 'operating-systems': 8, 'uav': 19, 'kinect': 10, 'tracks': 29, 'slam': 7, 'design': 33, 'troubleshooting': 5, 'motor': 35, 'mobile-robot': 24, 'sensors': 3, 'software': 3}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-543">Load Comments</button></br>
			<div id = "commentsection-543" class = 'collapse'>
			<div id = "comment-3097" class = "comment">
				<p>I think another way to ask this would be "Why are 4-propeller multirotor/multicopters more common than other configurations?"  Your last question sums up what you're really after.</p>
			</div>
			</div>
				<textarea id = "speech-543" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-543">
					<img id="start_img-543" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-543">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-544"  class = "post">
				<h2>Answer</h2>
			<div id="vote-544" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">19</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>At least in part quadrotors offer a nice balance between the complexity of the dynamics and power requirements. With traditional single rotor helicopters, control is a function of the orientation of the rotor which means you must change its orientation to change direction of the craft. This makes for very complex mechanical linkages comparatively speaking and it complicates the dynamics. With tri-copters the dynamics include an imbalance of the moments induced by the spinning of the rotors. With more than four rotors you get improved stability and some ability to handle failure, such as a motor going out, but you quickly run into a power problem. The more motors you need to drive the higher your power requirements and quadrotors are already very power hungry. This is a major issue in robotics in general. The quadrotor dynamics naturally balance the moments from the rotors and the mechanical linkages are simpler.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-544" data-toggle = "popover">
				<p>user name : DaemonMaker</p>
				<p> user reputation : 3321</p>
				<p class = "tagcontent" id = "usertaginfo-544">{'control': 4, 'stereo-vision': 15, 'None': 271, 'computer-vision': 15, 'battery': 7, 'cameras': 15, 'research': 4, 'troubleshooting': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-544">Load Comments</button></br>
			<div id = "commentsection-544" class = 'collapse'>
			<div id = "comment-636" class = "comment">
				<p>So if batteries suddenly became much more efficient, do you think the helicopters would go up to 6 rotors? Or do you think we'd just get bigger 4 rotor helicopters?</p>
			</div>
			<div id = "comment-637" class = "comment">
				<p>Just as DaemonMaker said, if you're willing to put up with the power requirements, then you can get the extra benefits of more rotors. See the [Asctec Firefly](http://www.asctec.de/uav-applications/research/products/asctec-firefly/) for a current 6-rotor product.</p>
			</div>
			<div id = "comment-2188" class = "comment">
				<p>Also, with a tricopter you still need a rather complicated mechanical linkage to tilt the rear rotor in order to get your yaw component. With a quadcopter you just bolt the 4 motors down and you're good to go.</p>
			</div>
			</div>
				<textarea id = "speech-544" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-544">
					<img id="start_img-544" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-544">Comment</button>
			<br><div id = "ans-545"  class = "post">
				<h2>Answer</h2>
			<div id="vote-545" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>I think the main reason is that they're simply easier to build in a stable way. A 120  angle is harder to get right than a 90  angle.</p>

<p>Another thing that is a little easier to understand is how the relationship between propellers leads to different types of motion. Thinking about different propellers moving at different speeds and directions and how that affects robot motion is sort of intuitive, because you don't have to do a lot of trigonometry in your head.</p>

<p>Lastly, it's just a good compromise between stability/controllability and cost, since motors are usually one of the most expensive components for that kind of robot.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-545" data-toggle = "popover">
				<p>user name : georgebrindeiro</p>
				<p> user reputation : 1266</p>
				<p class = "tagcontent" id = "usertaginfo-545">{'computer-vision': 9, 'None': 98, 'slam': 9}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-545" class = 'collapse'>
			</div>
				<textarea id = "speech-545" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-545">
					<img id="start_img-545" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-545">Comment</button>
			<br><div id = "ans-549"  class = "post">
				<h2>Answer</h2>
			<div id="vote-549" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">8</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You need 4 degrees of freedom to control yaw, pitch, roll and thrust.</p>

<p>Four props is therefore the minimum number of actuators required.  Tricoptors require a servo to tilt one or more rotors which is more mechanically complicated.</p>

<p>There is no restriction to only 4 props, hexa+ coptors are also very common.</p>

<p>Generally you want an even number of props unless you are tilting so the yaw forces balance out.</p>

<p>Choosing the exact number of propellers used involves many complicated tradeoffs.  A single prop cannot be too large or the inertia makes the multicopter unstable (which is why you see more props instead of larger props for large multirotors).</p>

<p>Large propellers are far, far, more efficient than many small propellers which is why there is essentially a size cap on multicoptors (unless you go variable/collective pitch which would be stupid).</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-549" data-toggle = "popover">
				<p>user name : user65</p>
				<p> user reputation : 2041</p>
				<p class = "tagcontent" id = "usertaginfo-549">{'None': 174, 'localization': 16}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-549">Load Comments</button></br>
			<div id = "commentsection-549" class = 'collapse'>
			<div id = "comment-685" class = "comment">
				<p>+1 This. With one rotor, you need to physically tilt the rotor (complicated) or have a cyclic mechanism (even more mechanically complicated). Simple rigid props attached directly to the motor shafts with motors rigidly attached to the airframe is mechanically much simpler. 4 rotors is the minimum number to directly control pitch, roll, and yaw with such an arrangement. (6 rotors is the minimum number to directly control pitch, roll, way, North, East, and Up with such an arrangement).</p>
			</div>
			<div id = "comment-696" class = "comment">
				<p>How do you get pure yaw motion with a quadcoptor and if that's possible why won't this work with a tricoptor? I don't understand how can you get yaw motion with any system where all rotors are in a plane without first tilting and moving. I would have thought that the main difference between quadcopters and tricoptors would be the kinematic calculations would be more complex.</p>
			</div>
			<div id = "comment-2283" class = "comment">
				<p>My guess would be that you yaw by speeding up two of the rotors spinning opposite of the direction you want to turn while slowing down the other two. The rotors must be paired off diagonally so you don't roll.</p>
			</div>
			</div>
				<textarea id = "speech-549" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-549">
					<img id="start_img-549" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-549">Comment</button>
			<br><div id = "ans-1453"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1453" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The mechanical answers above are correct. The inherent stability problems with single large motors are exchanged for dynamic comtrol over 12 dimensions of acceleration, yaw, pitch, roll which can be partially coupled (the translational amd rotational matrix) where one is presented with a simplified diagonal inertial frame to build a dynamic model with. In this model there is also an inverse relation between the radius of the quad and the translational and rotational agility. It becomes very easy to "dodge bullets" at very very small radii.</p>

<p>To answer the question <em>How do you get pure yaw motion with a quadcoptor?</em>, in comments to <a href="https://robotics.stackexchange.com/a/549/37">this answer</a>, you get pure yaw in the following way: </p>

<p>North and South motors rotating the same speed but collectively at a higher (or lower) speed than East and West Motors which are also at the same speed. </p>

<p>It won't pitch or roll, it will yaw y'all. (Sorry)</p>

<p>Furthermore, in software one can control the copter after breaking off the north and south propellers at the expense of yaw control, the craft will continuously spin and as long as the frequency of software refresh rate is able to handle the speed of yaw rotation the copter remains exactly as stable (sort of) the dimension of acceleration is clipped and response or jerk is also somewhat clipped but it can move pitch and yaw just the same by compensating in software. (Desired yaw state becomes virtually coupled to the physical state)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1453" data-toggle = "popover">
				<p>user name : Jason Bogovich</p>
				<p> user reputation : 31</p>
				<p class = "tagcontent" id = "usertaginfo-1453">{'None': 3}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1453">Load Comments</button></br>
			<div id = "commentsection-1453" class = 'collapse'>
			<div id = "comment-3278" class = "comment">
				<p>Thanks, I've only just noticed your answer refers to my comment question. I should have asked that as a new question, but since you answered part of it, I've created [a new question](http://robotics.stackexchange.com/q/1562/37) to answer a further subsidiary question about this. *8')</p>
			</div>
			</div>
				<textarea id = "speech-1453" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1453">
					<img id="start_img-1453" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1453">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>