<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why is the "new" label so hard to read?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-722" class = "post">
			<h2>Question</h2>
			<div id="vote-722" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 94</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why is the "new" label so hard to read?</h2>
<p>I suspect some CSS rule is being incorrectly applied to the "new" feature notifier.</p>

<p>I'm talking about the "new" block that appears when a new navigation or other site element is added. It showed up most recently on the main site when the blog link was added.</p>

<p><img src="https://i.stack.imgur.com/NSkNu.png" alt="It&#39;s NEW!"></p>

<p>The e is nearly solid, and the rest of the text just looks... off. Any ideas why?</p>

<p>Additionally, as provided by @stuffe, As well as being blocky, it's not aligned to the text baseline.</p>

<p><img src="https://i.stack.imgur.com/ITuJx.jpg" alt="Text baseline example"></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-722" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-722">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-722">Load Comments</button></br>
			<div id = "commentsection-722" class = 'collapse'>
			<div id = "comment-1317" class = "comment">
				<p>It's even worse on my screen, agree it needs loooking at.</p>
			</div>
			<div id = "comment-1318" class = "comment">
				<p>I suspect that this question made Jeff realize that the link was not here on meta, since it's suddenly here, and "new"! Which was not the case last night when I wrote this up.</p>
			</div>
			<div id = "comment-1319" class = "comment">
				<p>I found that removing the CSS shadow on that text helps. http://i.imgur.com/b8qij.png</p>
			</div>
			<div id = "comment-1320" class = "comment">
				<p>I figured that might be the case. Definitely looks much more readable.</p>
			</div>
			<div id = "comment-1342" class = "comment">
				<p>it's a problem with text-shadow. i'll remove it for this site.</p>
			</div>
			<div id = "comment-1983" class = "comment">
				<p>Can this be marked as answered?</p>
			</div>
			<div id = "comment-1984" class = "comment">
				<p>I will review that tomorrow when a blog post goes up.</p>
			</div>
			<div id = "comment-1990" class = "comment">
				<p>Erm, no, this can't be marked as answered, because there is no answer. [edit] But there is now.</p>
			</div>
			</div>
				<textarea id = "speech-722" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-722">
					<img id="start_img-722" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-722">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1102"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1102" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p><img src="https://i.stack.imgur.com/TmgHr.png" alt="Screenshot of Jin&#39;s text comment. (Yes, really.)"></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1102" data-toggle = "popover">
				<p>user name : Jason Salaz</p>
				<p> user reputation : 15412</p>
				<p class = "tagcontent" id = "usertaginfo-1102">{'None': 149, 'tags': 8, 'discussion': 23, 'style': 9, 'status-completed': 27, 'blog': 6, 'design': 13, 'accepted-answer': 7, 'bug': 19, 'badges': 8}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1102" class = 'collapse'>
			</div>
				<textarea id = "speech-1102" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1102">
					<img id="start_img-1102" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1102">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>