<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Why do quadcopters use brushless motors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1627" class = "post">
			<h2>Question</h2>
			<div id="vote-1627" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">13</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 17618</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Why do quadcopters use brushless motors</h2>
<p>I've been thinking about starting a quadcopter project, maybe building it from scratch. One of the main barriers-to-entry for me is the motors: it seems like most quadcopters use brushless motors. I have some experience with DC motors and using PWM signals to regulate speed, but no experience with brushless motors. As I understand it, brushless motors are more expensive than the typical DC motor I would use on a land robot, and they also require electronic speed controllers (ESCs), which seem to make them (from my perspective) even more expensive and more complicated to use.</p>

<p>So, my question: what is it about brushless motors that make them useful in a quadcopter? Is it more torque, less weight, something to do with efficiency? And would it be significantly harder (or even possible) to achieve lift using DC motors instead? </p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1627" data-toggle = "popover">
				<p>user name : Robz</p>
				<p> user reputation : 954</p>
				<p class = "tagcontent" id = "usertaginfo-1627">{'pid': 8, 'embedded-systems': 0, 'slam': 20, 'sensor-error': 8, 'accelerometer': 5, 'kinematics': 7, 'mechanism': 1, 'differential-drive': 8, 'imu': 12, 'kalman-filter': 28, 'actuator': 21, 'gyroscope': 5, 'gps': 20, 'magnetometer': 5, 'None': 25, 'noise': 5, 'power': 0, 'localization': 20, 'microcontroller': 0, 'brushless-motor': 13, 'sensors': 41, 'quadcopter': 13, 'navigation': 7, 'sensor-fusion': 21, 'sonar': 8, 'servos': 7}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1627" class = 'collapse'>
			</div>
				<textarea id = "speech-1627" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1627">
					<img id="start_img-1627" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1627">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1628"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1628" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">9</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The brushless motors are way more powerful for their weight than available brushed motors, and they last longer.</p>

<p>Power to weight ratio is king, in an aircraft.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1628" data-toggle = "popover">
				<p>user name : TimWescott</p>
				<p> user reputation : 1336</p>
				<p class = "tagcontent" id = "usertaginfo-1628">{'None': 107}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1628">Load Comments</button></br>
			<div id = "commentsection-1628" class = 'collapse'>
			<div id = "comment-4682" class = "comment">
				<p>There's the efficiency factor too, as a good designed brushless motor is more efficiently than the same brushed, so less battery weight, or more time between charges. But the _last longer_ is not so true, good brushed motor have the option to replace the brushes, also the brushes have very long MTBF. So the bearings can be fail in both before the brushes for example, it's a piece wear not failure.</p>
			</div>
			</div>
				<textarea id = "speech-1628" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1628">
					<img id="start_img-1628" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1628">Comment</button>
			<br><div id = "ans-1629"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1629" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">15</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Most motors on quadcopters are outrunners. In outrunner motors, the rotating part is on the outside, and not the inside (as opposed to the inrunner motors). Because of this layout this type of motors can generate much more torque. High torque is required for quadcopters, since you balance by changing the revolutions of the motor. The higher your torque the faster you can change the speed of your propellers. High torque also means you don't need a gearbox, and save a lot of mass. Outrunners are not very practical for brushed commutation, as it would require lots of wires and additional contacts. Hence most of the outrunners are brushless.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1629" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-1629">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1629" class = 'collapse'>
			</div>
				<textarea id = "speech-1629" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1629">
					<img id="start_img-1629" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1629">Comment</button>
			<br><div id = "ans-2391"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2391" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For the smallest (and cheapest) of multicopters, DC brushed motors are well in use: <a href="http://www.rcgroups.com/forums/showthread.php?t=2009496" rel="nofollow">http://www.rcgroups.com/forums/showthread.php?t=2009496</a>
They are coreless motors<sup><strong>1</strong></sup> and have very little inertia, can accelerate very quickly and are perfectly suited for high frquency PWM (we drive them with up to 32kHz). You can achieve more than 3:1 power:weight ratio on a sub 50g AUW airframe. Driving those motors is a lot simpler than a brushless motor, you basically just need a transistor and a capacitor.</p>

<p>That applies to micro copters, brushless technology didn't catch up in that weight class (yet). Probably just a question of time. The first micro brushless systems are available, but they cost many times more than coreless motors and don't offer more performance (yet).</p>

<p>For larger quads: no question, brushless is king. But for the micro and nano-quads, its awesome to have these cheap motors to crash with confidence ;)</p>

<hr>

<p><sup><strong>1</strong> - <a href="http://www.pacificelectronicscorp.com/dccoreless.html" rel="nofollow">http://www.pacificelectronicscorp.com/dccoreless.html</a> </sup></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2391" data-toggle = "popover">
				<p>user name : benedikt</p>
				<p> user reputation : 45</p>
				<p class = "tagcontent" id = "usertaginfo-2391">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2391" class = 'collapse'>
			</div>
				<textarea id = "speech-2391" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2391">
					<img id="start_img-2391" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2391">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>