<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wifi to pass through aluminium
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2090" class = "post">
			<h2>Question</h2>
			<div id="vote-2090" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 821</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wifi to pass through aluminium</h2>
<p>I am about to make an rc car which uses a wifi connection. The body for the car would be made from aluminium and the wifi receiver will be placed inside this aluminium casing. </p>

<p>How do I make sure that this will work?</p>

<p>Would I be forced to change my material or can I just make an extension for the receiver and make sure it is out of the casing? </p>

<p>If so , would that really help me?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2090" data-toggle = "popover">
				<p>user name : user1989</p>
				<p> user reputation : 41</p>
				<p class = "tagcontent" id = "usertaginfo-2090">{'mobile-robot': 2, 'None': 0, 'wifi': 5, 'wheeled-robot': 2, 'raspberry-pi': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2090">Load Comments</button></br>
			<div id = "commentsection-2090" class = 'collapse'>
			<div id = "comment-4180" class = "comment">
				<p>As long as the antenna is outside the casing, radio communications such as wifi should work fine.</p>
			</div>
			</div>
				<textarea id = "speech-2090" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2090">
					<img id="start_img-2090" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2090">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2092"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2092" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">6</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You can use an external onmidirectional wifi antenna, like <a href="http://www.ebay.com/sch/i.html?_nkw=omni%20wifi%20antenna&amp;_fscr=1">these on ebay</a>.</p>

<p>If your wifi chip does not have a U-FL connector, you can use a SMA to U-FL adapter or directly a SMA Antenna.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2092" data-toggle = "popover">
				<p>user name : Roosembert Palacios</p>
				<p> user reputation : 83</p>
				<p class = "tagcontent" id = "usertaginfo-2092">{'stereo-vision': 4, 'None': 6, 'cameras': 4, 'usb': 4}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2092" class = 'collapse'>
			</div>
				<textarea id = "speech-2092" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2092">
					<img id="start_img-2092" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2092">Comment</button>
			<br><div id = "ans-2097"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2097" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Your Wifi signals should be able to penetrate aluminum. Wifi uses radio waves which can go through some thick material. I know that Wifi signals pass through steel. The best way for you to know is to try. If it does not work, drill a hole in your casing and use an antennae.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2097" data-toggle = "popover">
				<p>user name : Devyn Collier Johnson</p>
				<p> user reputation : 132</p>
				<p class = "tagcontent" id = "usertaginfo-2097">{'python': 1, 'mobile-robot': 2, 'None': 0, 'raspberry-pi': 2, 'artificial-intelligence': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2097" class = 'collapse'>
			</div>
				<textarea id = "speech-2097" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2097">
					<img id="start_img-2097" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2097">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>