<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Will AIs ever be as advanced as the human brain?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-4890" class = "post">
			<h2>Question</h2>
			<div id="vote-4890" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 163</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Will AIs ever be as advanced as the human brain?</h2>
<p>I'm reading a book about a hypothetical economy in which robots work for us because they eventually became able to do everything we do ("Our work here is done, visions of a robot economy" by Nesta).</p>

<p>I was wondering though: is it theoretically possible for a human brain (an extremely complex  artificial intelligence the way I and many others see it) to comprehend itself in its deepest details and produce an artifical intelligence which is exactly identical? It sounds unlikely. If not then, how close can we get?</p>

<p>This is not a philosophic question, the ideal answer would be a rigorous demonstration based on metrics simplifying the problem to be able to answer it, however objective answers with valid arguments are always interesting, too.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-4890" data-toggle = "popover">
				<p>user name : Mister Myst re</p>
				<p> user reputation : 106</p>
				<p class = "tagcontent" id = "usertaginfo-4890">{'None': 0, 'artificial-intelligence': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4890">Load Comments</button></br>
			<div id = "commentsection-4890" class = 'collapse'>
			<div id = "comment-7592" class = "comment">
				<p>I find it extremely disappointing that people downvote without explaining why. I should comply with the rules of the forum, but if not I would like to know in what way so that I can improve the post.</p>
			</div>
			<div id = "comment-7593" class = "comment">
				<p>What exactly is your metric for determining how close something approximates the human mind? Without a specific metric, this question is likely too broad to answer in the Q&A format.  Generally speaking, if it takes a whole book to answer your question, it's too broad.</p>
			</div>
			<div id = "comment-7599" class = "comment">
				<p>Numbers are always ideal and I leave the liberty to posters to define a metric as simple as their own experience and available time to answer allow, however this can also be answered qualitatively. Demonstrations can be based on concepts rather than numbers after all, and if the answer is no, a counter-example is enough to prove it (more difficult to prove it's possible). "How close" is a bonus question, which may be more difficult and therefore is more flexible in the way it can be answered.</p>
			</div>
			<div id = "comment-7632" class = "comment">
				<p>This question appears to be off-topic because it is about Philosophy.  We have a good grip on how advanced AI is, but a relatively poor understanding of our own brains -- in other words, the philosophical question is not in comparing AI to brains but in understanding the brains.  Here's an excellent computational/philosophical paper that addresses some of your question (see section 4): http://www.scottaaronson.com/papers/philos.pdf</p>
			</div>
			</div>
				<textarea id = "speech-4890" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4890">
					<img id="start_img-4890" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4890">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-4892"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4892" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><blockquote>
  <p>Will AIs ever be as advanced as the human brain?</p>
</blockquote>

<p>Unless the humans destroy themselves before that point, or lose interest in the subject whatsoever, then yes of course AI will be as advanced as the human brain. Even more advanced I would say.</p>

<p>Before you comment, let me point out two things out</p>

<h3>Technologically speaking</h3>

<p>The brain is a machine. It is complex, but it's still is a machine. Theoretically, you could build artificial neurons, look at someone's brain and position the your artificial neurons similarly. Then teach your baby robot like you would teach your child.</p>

<p>Whether that's practical or not is another question. Whether there is a better way to produce human-like intelligence is yet another question. Whether human-like intelligence is actually a good kind of intelligence is again, another question.</p>

<h3>Predicting the future</h3>

<p>Now here's the real answer to your question (and yes, your question <em>is</em> philosophical). Take the following question:</p>

<blockquote>
  <p>Will X ever happen?</p>
</blockquote>

<p>The answer to such a question is:</p>

<blockquote>
  <p>Unless X is physically or mathematically impossible, then yes it will happen.</p>
</blockquote>

<p>Why is that? Because it's a prediction that is not bounded by time. Any such prediction is utterly worthless, yet you cannot say it's wrong. Why? Let's say I make a prediction: "One day, humans will grow a third arm". Now let's say N years pass. Has my prediction happened?</p>

<ul>
<li>Yes: I was right,</li>
<li>No: It will happen in the future.</li>
</ul>

<p>(for arbitrary large N). That said, it is impossible for anyone to say my prediction is wrong no matter how many years pass and it still doesn't happen.</p>

<p>Your question is the same. Will AI become great? Sure why not.</p>

<p>(Incidentally, adding deadlines to predictions is what made people like <a href="https://en.wikipedia.org/wiki/Nostradamus" rel="nofollow">Nostradamus</a> a man everyone would laugh at now, and not adding deadlines to predictions is what makes many religious figures still not regarded as frauds by many)</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4892" data-toggle = "popover">
				<p>user name : Shahbaz</p>
				<p> user reputation : 2615</p>
				<p class = "tagcontent" id = "usertaginfo-4892">{'None': 193, 'usb': 12, 'distributed-systems': 7, 'microcontroller': 1, 'embedded-systems': 7, 'servomotor': 1, 'platform': 18, 'can': 1, 'machine-learning': 12, 'real-time': 18, 'mobile-robot': 1, 'rs232': 12, 'software': 20}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4892">Load Comments</button></br>
			<div id = "commentsection-4892" class = 'collapse'>
			<div id = "comment-7600" class = "comment">
				<p>Interesting answer, thanks. I intentionally used "ever" because I wonder if it is technically possible for our brains to comprehend a "brain" like ours in the deepest details and more so to design one. So your point is that it is possible because even if we may not be able to understand everything about our brain, we can reproduce the physical structure in details and see if both behaviours are identical? Also, there is an implicit deadline to "ever" here which is ~4.5 billion years, except if we manage to escape the solar system.</p>
			</div>
			<div id = "comment-7601" class = "comment">
				<p>@MisterMyst re, I'm predicting that in 4.5 billion years (if we don't kill ourselves) we will also escape the solar system! Another effect of time-less predictions is that if for some reason like this (we die because the sun explodes), there is no one left to say "Ha! You were wrong!".</p>
			</div>
			<div id = "comment-7602" class = "comment">
				<p>But more technically speaking, yes trying to simulate the brain is one of very many possibilities intelligence may be created and there is no physical restriction on it. I mean, if the brain happened, then intelligence is physically possible. If it is possible, there is no reason why one day we couldn't do it.</p>
			</div>
			</div>
				<textarea id = "speech-4892" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4892">
					<img id="start_img-4892" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4892">Comment</button>
			<br><div id = "ans-4895"  class = "post">
				<h2>Answer</h2>
			<div id="vote-4895" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are many things that humans can do that computers have never been able to do.
Every year people manage to get computers and robots to do something they have never done before.
Those builders and programmers are usually surprised at how much code and hardware it required to get it to work, and long it took to build and debug that code and hardware.</p>

<blockquote>
  <p>is it theoretically possible for a human brain ... to comprehend
  itself in its deepest details and produce an artificial intelligence
  which is exactly identical?</p>
</blockquote>

<p>If you are asking if it's possible for a single human brain, simply through introspection, to figure out enough about what's going on inside to build an artificial intelligence that is exactly like that same single human brain (at some point in time), the answer is no.
We now know that human brains do a lot of work in the visual system and other areas that is completely inaccessible to conscious introspection.</p>

<p>However, the reason we know this is because there are other ways to learn something about what is going on in there.</p>

<blockquote>
  <p>If not then, how close can we get?</p>
</blockquote>

<p>As of 2014, no one knows.</p>

<p>Many of the tasks that were once thought of as "higher-level" thinking can now be done by computers -- symbolic mathematics, chess, music composition, writing stories <a href="http://homes.chass.utoronto.ca/~sousa/BRUTUS_rev.html" rel="nofollow noreferrer">(a)</a> <a href="http://www.sciencedaily.com/releases/1998/03/980312075430.htm" rel="nofollow noreferrer">(b)</a>, etc.</p>

<p>And yet -- many other tasks that were once thought of as "simple" still cannot be reliably done by computers -- distinguishing photos of cats from photos of dogs <a href="http://en.wikipedia.org/wiki/CAPTCHA" rel="nofollow noreferrer">(c)</a>, much less remembering a human's name when seeing what that human's face looks like today (slightly older than any other time that human has ever been seen), etc.</p>

<p>I personally suspect that it is unlikely humans will build a machine that "thinks like a human", and even less likely that humans will build a machine that thinks like some particular human.</p>

<p>And yet I think it is very important for researchers to continue to <em>try</em> to do that, because -- whether they eventually discover some insurmountable barrier, or else (against my expectations) build a machine that actually does think like a human -- either way, I think we will find out some very interesting things about what it means to be human.</p>

<p>As a secondary benefit, it is a goal that is highly likely to, as a side effect, produce machines that will do other very useful things, long before the question is resolved one way or the other.</p>

<p><img src="https://i.stack.imgur.com/s74yQ.jpg" alt="enter image description here"></p>

<p>a small part of
<a href="http://debategraph.org/Stream.aspx?nid=75&amp;vt=bubble&amp;dc=focus" rel="nofollow noreferrer">"Navigating 50 years of philosophical debate -- Robert Horn's seven 'Can Computers Think?' debate maps"</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-4895" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-4895">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-4895">Load Comments</button></br>
			<div id = "commentsection-4895" class = 'collapse'>
			<div id = "comment-7605" class = "comment">
				<p>Excellent answer, thanks. You understood what I meant here, "is it possible to figure out what we are EXACTLY all by ourselves and reproduce it in a robot". The debate map is a brilliant idea, it's very rich! I'm going to leave this one open as others might answer, but there's already plenty of material. Too bad the full size debate maps are not free.</p>
			</div>
			</div>
				<textarea id = "speech-4895" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-4895">
					<img id="start_img-4895" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-4895">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>