<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Will turning an NXT motor by hand damage it?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-636" class = "post">
			<h2>Question</h2>
			<div id="vote-636" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 682</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Will turning an NXT motor by hand damage it?</h2>
<p>Many people claim that turning an NXT motor by hand will damage it. Is this true? Does it matter if the motor is idle or set on break? Are there any facts to confirm or refute this argument? I know that some projects (e.g. etch-a-sketch) use the built-in rotation sensor to measure how much the motor has turned. Does this indicate that hand-turning NXT motors is okay? Do they need to be put in a special 'rotation sensor' mode?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-636" data-toggle = "popover">
				<p>user name : shea</p>
				<p> user reputation : 239</p>
				<p class = "tagcontent" id = "usertaginfo-636">{'nxt': 15, 'None': 2, 'algorithm': 2, 'not-exactly-c': 4, 'programming-languages': 4, 'motor': 11, 'mindstorms': 15}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-636">Load Comments</button></br>
			<div id = "commentsection-636" class = 'collapse'>
			<div id = "comment-875" class = "comment">
				<p>Possible Duplicate: http://bricks.stackexchange.com/questions/1706/will-playing-with-motor-by-hand-damage-it</p>
			</div>
			</div>
				<textarea id = "speech-636" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-636">
					<img id="start_img-636" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-636">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-638"  class = "post">
				<h2>Answer</h2>
			<div id="vote-638" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In general, no, it will not hurt the motor directly, BUT, the motor is geared down considerably. This means that when you turn the exterior part that you can physically touch by 1/4 turn - the motor might have actually completed 5 full rotations. The problem can happen when you turn the servo too fast, it may cause gear breakage simply due to excess speed internally.</p>

<p>It does not hurt the motor, but it may break a gear. Simple solution is to just not turn it fast.</p>

<p>If the motor is set on 'brake', it will apply opposite power to counter your turns, but you're not going to really hurt anything by over powering it, slowly! It is easier to turn if the motor is not in brake mode.</p>

<p>For example, in RobotC, this code releases the 'brake'</p>

<pre><code>// release motors
    nSyncedMotors = synchNone;
    bFloatDuringInactiveMotorPWM = true;
    nMotorPIDSpeedCtrl[LEFT] = mtrNoReg;
    nMotorPIDSpeedCtrl[RIGHT] = mtrNoReg;
    motor[LEFT] = 0;
    motor[RIGHT] = 0;
</code></pre>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-638" data-toggle = "popover">
				<p>user name : Spiked3</p>
				<p> user reputation : 1881</p>
				<p class = "tagcontent" id = "usertaginfo-638">{'None': 125}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-638">Load Comments</button></br>
			<div id = "commentsection-638" class = 'collapse'>
			<div id = "comment-783" class = "comment">
				<p>I'm sure @Spiked3 knows this, but for completeness... one small caveat to "you're not going to really hurt anything by over powering it." When the motor is actively resisting you are drawing large currents through the motor wiring and power path components. This causes heating (power dissipation) and can often exceed specification for these components since the motor isn't designed to drive into a mechanical fault. If at all possible, you should always avoid manual cranking of an energized (braked) motor.</p>
			</div>
			<div id = "comment-785" class = "comment">
				<p>@DrFriedParts you are right to some extent, but I can say I've never seen any permanent damage done - and remember an experiment distinctly that pushed it a few times, for several days :) What happens for example is a motor tries to hold '5' - and you push it, it eventually gives up and tries to hold '6'. I'm not sure exactly how this happens in the firmware, but it is what I observed.</p>
			</div>
			</div>
				<textarea id = "speech-638" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-638">
					<img id="start_img-638" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-638">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>