<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Will connecting two servo motors double the torque?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-939" class = "post">
			<h2>Question</h2>
			<div id="vote-939" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">14</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3923</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Will connecting two servo motors double the torque?</h2>
<p>For my robot, I am using two continuous rotation servos to spin a threaded rod. I am trying to make this project as cheap as possible. Here are the servos that I can find:</p>

<ul>
<li>Servo #1: This is a very cheap option and it has half of the torque I need.</li>
<li>Servo #2: This has all of the torque my project requires, but it is much more expensive that two of servo #1.</li>
</ul>

<p>Can I hook up two of servo #1 to each end of the rod and have them move synchronized? I can spare a few extra pins on my microprocessor that I am using; that isn't a issue. I know hooking two together will increase torque, but I don't want 75% of the torque I want in this situation. Also, I don't care if I only have 98% of my torque "goal" with the extra weight (which probably won't happen) but I don't want to, like I said earlier, have 70, 80, 90% of my "target goal" of torque if possible.</p>

<p>Any help appreciated. Thanks in advance.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-939" data-toggle = "popover">
				<p>user name : Anonymous Penguin</p>
				<p> user reputation : 299</p>
				<p class = "tagcontent" id = "usertaginfo-939">{'stepper-driver': 2, 'None': 1, 'algorithm': 1, 'arduino': 3, 'pid': 1, 'rcservo': 21, 'torque': 3, 'current': 3, 'cnc': 9, 'motor': 15, 'stepper-motor': 19}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-939">Load Comments</button></br>
			<div id = "commentsection-939" class = 'collapse'>
			<div id = "comment-2326" class = "comment">
				<p>yeah, this is why I quit hanging around. All pilots who get paid to fly by the RC manufacturers as professional representative, use double servos. It increases efficiency, reduces the chance of failure, and improves the life of each servo. Just saying. ![enter image description here](http://i.stack.imgur.com/ejpnP.jpg) [Double servo trays](https://www.google.com/search?q=double%20servo%20tray&hl=en&tbm=isch&tbo=u&source=univ&sa=X&ei=c-IpUcKZMamuigLXuYGADg&sqi=2&ved=0CDwQsAQ&biw=1614&bih=1065#imgrc=_)</p>
			</div>
			<div id = "comment-2327" class = "comment">
				<p>Are there any specific manufacturing tolerances etc on those servos to mitigate the issues mentioned in the other answers?</p>
			</div>
			<div id = "comment-2328" class = "comment">
				<p>I never knew something like that existed. I wonder how you could build that... huh. It doesn't look that hard once you get all of the parts. I'm assuming this will work with continuous rotation servo. Thanks and awesome idea.  **EDIT:** Would this work?: http://www.youtube.com/watch?v=jqsmai2Nafk The only thing I don't understand is that in `Method 1` [of 2] it said "Use only if the servos travel the same distances. (Most don't!)" What does that mean? The reason I ask is it must have some benefit and it seams a little easier to build... but I wouldn't mind if it was better (reliability, etc.).</p>
			</div>
			<div id = "comment-2329" class = "comment">
				<p>Okay... I just read the description... not good. *"3 servo failures in two weeks."* Oh well. Back to square one.</p>
			</div>
			<div id = "comment-2330" class = "comment">
				<p>This fits with [ApockofFork's answer](http://robotics.stackexchange.com/a/943/350), specifically not using a hard linkage between the two servos.  Relevant: http://www.youtube.com/watch?v=3fDyULSO8KU</p>
			</div>
			<div id = "comment-2331" class = "comment">
				<p>http://www.fromeco.org/support/articles/Quad.Current.Meter</p>
			</div>
			<div id = "comment-2332" class = "comment">
				<p>I can't seem to find one to buy to look at it's price. The cheapest one I found was $50 + ship. and I would need at least three... more expensive motors would be cheaper. And even then it doesn't guarantee that it will work with continuous rotation.</p>
			</div>
			<div id = "comment-2333" class = "comment">
				<p>@Spiked3 - This sort of discussion is better off on [chat] or on a forum. If there is useful information in these comments then please edit that information into an answer or into the question before I tidy up (delete) these comments.</p>
			</div>
			<div id = "comment-2334" class = "comment">
				<p>Please feel free to delete me entirely. This site is not about robotic knowledge, its about ego.</p>
			</div>
			<div id = "comment-2335" class = "comment">
				<p>@Spiked3 - Sorry, but answers are meant to be answers, not rants - Ego has nothing to do with it, it's about making *robotics* useful for future visitors. Before moving your answer (and it's comments) as comments here, I consulted with experienced stack exchange moderators who *recommended* deletion. If you post another answer containing the useful information from your answer and it's comments, I would happily vote it up. Otherwise, if you have issues with my moderation, please [start a discussion on meta](http://meta.robotics.stackexchange.com/questions/ask).</p>
			</div>
			</div>
				<textarea id = "speech-939" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-939">
					<img id="start_img-939" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-939">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-941"  class = "post">
				<h2>Answer</h2>
			<div id="vote-941" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">18</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In theory, you're correct.  But in practice, <a href="http://finance.groups.yahoo.com/group/geckodrive/message/16536" rel="nofollow noreferrer">slight differences between the two motors will make them fight each other</a> instead of working in perfect harmony:</p>

<blockquote>
  <p>Even the smallest mismatch in wire tolerances, lengths etc. will create
  different back emf characteristics due to different impedances.</p>
  
  <p>So both will work separately, but the actual characteristics of the 2
  motor within the very small timeframes of a "minimum" move at relatively
  high speed will not be in synch .. and thus the 2 motors fight each other.</p>
</blockquote>

<p>For this reason, your plan to save money by connecting a second servo to your microcontroller will probably <em>cost</em> you money.  Not only are you shortening the life of the servos, you're doubling your chance of a servo failure.  Worse, the failure of one servo may cascade to the other unless you are using a mechanical linkage (as <a href="https://robotics.stackexchange.com/a/943/350">ApockofFork's answer</a> recommends), e.g. <a href="http://www.youtube.com/watch?v=3fDyULSO8KU" rel="nofollow noreferrer">the one in this video</a>.  </p>

<p>With that said, connecting multiple servos with a fixed linkage is done all the time, e.g. <a href="https://i.stack.imgur.com/ejpnP.jpg" rel="nofollow noreferrer">RC plane rudders</a>, <a href="http://www.youtube.com/watch?v=uVhBszHmvtA" rel="nofollow noreferrer">RC plane ailerons</a>.  But to avoid the problems cited earlier, <strong>it requires an additional control component</strong> that can compensate for the differences in the electrical characteristics of the servos.  These are commonly called "servo equalizers", "matchboxes", or "servo synchronizers".  </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-941" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-941">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-941">Load Comments</button></br>
			<div id = "commentsection-941" class = 'collapse'>
			<div id = "comment-2244" class = "comment">
				<p>I guess saving money doesn't always work. Thanks!</p>
			</div>
			<div id = "comment-2265" class = "comment">
				<p>This answer only concerns putting both motors on the same shaft.  [ApockofFork's answer](http://robotics.stackexchange.com/a/943/350) might be relevant to you if you can use a more complex linkage.</p>
			</div>
			</div>
				<textarea id = "speech-941" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-941">
					<img id="start_img-941" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-941">Comment</button>
			<br><div id = "ans-943"  class = "post">
				<h2>Answer</h2>
			<div id="vote-943" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">11</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>What <a href="https://robotics.stackexchange.com/a/941/37">Ians answer</a> says about the two motors fighting is true however, I wouldn't go as far to say that you can never put two motors together for more power. In general  if the two motors are identical and you are hooking them up and controlling them identically then you can probably get away with it but I would expect some wasted energy and thus extra heat from the two motors fighting a little bit. You will also not get exactly two times the output.</p>

<p>Worst of all it will probably hurt the lifespan of the motors. In other words it will probably do in a pinch but is definitely not ideal. If you really do, do a good job syncing them up then you can theoretically keep the losses to a manageable level.</p>

<p>If you are going to use two motors on the same output you will probably want to gear them together or use some other linkage that isn't fixed (I.E. don't attach them both to the same shaft). That way there is some looseness between them so they will fight each other a little less.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-943" data-toggle = "popover">
				<p>user name : ApockofFork</p>
				<p> user reputation : 188</p>
				<p class = "tagcontent" id = "usertaginfo-943">{'control': 1, 'None': 15, 'motor': 1, 'kalman-filter': 6, 'localization': 6}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-943">Load Comments</button></br>
			<div id = "commentsection-943" class = 'collapse'>
			<div id = "comment-2264" class = "comment">
				<p>+1 for reduced lifespan.  Also, I'm curious whether running a differential gear setup in reverse (motors where the wheels should be) would be a possible solution here.</p>
			</div>
			<div id = "comment-2272" class = "comment">
				<p>@Ian yep a differential connected in that way should work great</p>
			</div>
			<div id = "comment-6914" class = "comment">
				<p>I believe a planetary gear system would also work for outputting a combination of two rotary inputs.</p>
			</div>
			</div>
				<textarea id = "speech-943" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-943">
					<img id="start_img-943" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-943">Comment</button>
			<br><div id = "ans-961"  class = "post">
				<h2>Answer</h2>
			<div id="vote-961" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Put some value on your time and on system reliability.  You're increasing design time &amp; failure points with this approach.  Good small gear motors are pretty cheap to start with, it's a lot more valuable to have a working robot that's reliable than a broken or unfinished robot on the shelf.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-961" data-toggle = "popover">
				<p>user name : Jay Beavers</p>
				<p> user reputation : 969</p>
				<p class = "tagcontent" id = "usertaginfo-961">{'None': 68}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-961" class = 'collapse'>
			</div>
				<textarea id = "speech-961" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-961">
					<img id="start_img-961" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-961">Comment</button>
			<br><div id = "ans-2085"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2085" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>This guy put a spring in between his 2nd servo to protect them from any slight differences... Maybe this is what you're looking for? <a href="http://youtu.be/jqsmai2Nafk?t=1m13s" rel="nofollow">http://youtu.be/jqsmai2Nafk?t=1m13s</a></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2085" data-toggle = "popover">
				<p>user name : akuaku</p>
				<p> user reputation : 11</p>
				<p class = "tagcontent" id = "usertaginfo-2085">{'None': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2085" class = 'collapse'>
			</div>
				<textarea id = "speech-2085" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2085">
					<img id="start_img-2085" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2085">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>