<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Will a 20amp ESC run a Turnigy 2213-980?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-3105" class = "post">
			<h2>Question</h2>
			<div id="vote-3105" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1204</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Will a 20amp ESC run a Turnigy 2213-980?</h2>
<p>I'm a noobie just starting out and trying to come up what I need to build my first quadrocopter, I just wanted to run something by people with some experience before I commit to buying anything.</p>

<p>Would <a href="http://www.hobbyking.com/hobbyking/store/__27775__Turnigy_Multistar_20_Amp_Multi_rotor_Brushless_ESC_2_4S_OPTO_.html" rel="nofollow">this esc</a> be fine for running <a href="http://www.hobbyking.com/hobbyking/store/__39036__Turnigy_Multistar_2213_980Kv_14Pole_Multi_Rotor_Outrunner.html" rel="nofollow">this motor</a>? As I understand it the ESC should be rated for slightly above what the max amps are for the motor?</p>

<p>On top of that, should <a href="http://www.hobbyking.com/hobbyking/store/__7636__ZIPPY_Flightmax_2200mAh_3S1P_25C_EU_warehouse_.html" rel="nofollow">this battery</a> be able to run all of the motors without any issue?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-3105" data-toggle = "popover">
				<p>user name : Shannon</p>
				<p> user reputation : 113</p>
				<p class = "tagcontent" id = "usertaginfo-3105">{'quadcopter': 2, 'None': 0, 'multi-rotor': 2, 'battery': 2, 'brushless-motor': 2, 'esc': 2}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3105" class = 'collapse'>
			</div>
				<textarea id = "speech-3105" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3105">
					<img id="start_img-3105" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3105">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-3106"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3106" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>In process of selection of components for multirotor, one should start from motor as it is the driving component. Maximum current drawn by your motor is given by manufacture which is 15A. Now your ESC should have maximum current rating more than maximum current rating of motor. This is satisfied in your motor-ESC combination so your selection looks good.</p>

<p>Maximum current that can be obtained from a battery depend on capacity (mAh rating) and constant discharge rating (C rating) and is given by multiplication of both. In your case, battery should be able to give constant 55A (2200x25 = 55000mA). However maximum current that can be drawn by motor is 15A, so you should be able to use this battery with given single motor-ESC combo. However for a quadrotor, total maximum current drawn will be 15x4 = 60A. So you should consider using battery with more mAh rating or more C capacity like <a href="http://www.hobbyking.com/hobbyking/store/__9394__Turnigy_2200mAh_3S_30C_Lipo_Pack.html" rel="nofollow">this</a> or <a href="http://www.hobbyking.com/hobbyking/store/__9465__Turnigy_3300mAh_3S_20C_Lipo_Pack.html" rel="nofollow">this</a>.</p>

<p>Also make sure that you do not put any bigger propeller on motor than a recommended one. This action might cause motor to draw more current that maximum rating which might result in burning of motor.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3106" data-toggle = "popover">
				<p>user name : nikhil</p>
				<p> user reputation : 633</p>
				<p class = "tagcontent" id = "usertaginfo-3106">{'wireless': 0, 'communication': 0, 'None': 36, 'serial': 0, 'raspberry-pi': 0}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-3106">Load Comments</button></br>
			<div id = "commentsection-3106" class = 'collapse'>
			<div id = "comment-6610" class = "comment">
				<p>Shouldn't the ESC protect it from drawing too much power?</p>
			</div>
			<div id = "comment-6611" class = "comment">
				<p>ESC will provide current motor demands. If motor demands more than 20A then ESC will fry out.</p>
			</div>
			<div id = "comment-6612" class = "comment">
				<p>He'll need four for a quadcopter, 15*4=60>55.</p>
			</div>
			<div id = "comment-6743" class = "comment">
				<p>Awesome, I learned something pretty important today, thanks guys. Will it hurt my quad to use the weaker battery? I don't really have a use for it otherwise.</p>
			</div>
			</div>
				<textarea id = "speech-3106" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3106">
					<img id="start_img-3106" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3106">Comment</button>
			<br><div id = "ans-3161"  class = "post">
				<h2>Answer</h2>
			<div id="vote-3161" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The motor/esc pair you selected look fine. However, you should probably use a larger battery. 2.2 Ah * 25C = 55 amp continuous current draw. Each of your motors is rated 15 amps, but the speed controllers can handle more which means that they will probably occasionally draw more. 15 amps * 4 motors = 60 amps which is 5 amps higher than your battery is rated at. While this might work, the battery probably wouldn't last very long, and I personally wouldn't want to be near it while it is on. I would strongly suggest that you either find a larger battery or one with a higher C rating. Pushing lipos to their maximum ratings is almost never a good idea. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-3161" data-toggle = "popover">
				<p>user name : daweim0</p>
				<p> user reputation : 360</p>
				<p class = "tagcontent" id = "usertaginfo-3161">{'None': 16, 'arduino': 3, 'microcontroller': 3, 'imu': 2, 'beagle-bone': 1, 'untagged': 2, 'i2c': 1}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-3161" class = 'collapse'>
			</div>
				<textarea id = "speech-3161" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-3161">
					<img id="start_img-3161" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-3161">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>