<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Will this pseudocode work as a basis for a flight controller?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-10426" class = "post">
			<h2>Question</h2>
			<div id="vote-10426" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 112</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Will this pseudocode work as a basis for a flight controller?</h2>
<p>I'm programming a flight controller on an Arduino. I've researched how other people have written theirs but without notes it's often so obfuscated that I've decided it will be easier and better to write my own.</p>

<p>This is my pseudocode thus far, will this work?</p>

<p><em>all of this will happen inside the constant Arduino loop</em></p>

<ul>
<li>Read RX signal</li>
<li>Calculate desired pitch, roll, and yaw angles from RX input</li>
<li>Signal ESCs using PWM in order to match desired pitch, roll, and yaw from RX input</li>
<li>Gather IMU values (using Kalman filter to reduce noise)</li>
<li>Compare filtered IMU values vs. RX input to find errors in desired outcome vs. actual outcome</li>
<li>Use PID algo to settle errors between IMU vs. RX</li>
<li>Rinse and repeat</li>
</ul>

<p>Suggestions are greatly appreciated</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-10426" data-toggle = "popover">
				<p>user name : Jacksonkr</p>
				<p> user reputation : 220</p>
				<p class = "tagcontent" id = "usertaginfo-10426">{'quadcopter': 2, 'None': 6, 'ardupilot': 0, 'imu': 2, 'localization': 1, 'battery': 0, 'arduino': 4, 'precise-positioning': 1, 'uav': 3, 'kinect': 0, 'microcontroller': 3, 'mobile-robot': 1, 'ultrasonic-sensors': 3}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10426" class = 'collapse'>
			</div>
				<textarea id = "speech-10426" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10426">
					<img id="start_img-10426" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10426">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-10428"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10428" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The signals to the ESC's using PWM should be sent after the PID algo is done processing the errors. The output calculated from the PID is the PWM value to be sent to the ESC's to actuate the motors in such a way that they move to reduce the error thus obtaining the desired orientation </p>

<p>So the right order is:</p>

<ul>
<li>Read RX signal</li>
<li>Calculate desired pitch, roll, and yaw angles from RX input</li>
<li>Gather IMU values (using Kalman filter to reduce noise)</li>
<li>Compare filtered IMU values vs. RX input to find errors in desired outcome vs. actual outcome (Get error (Target - Measured) for PID algorithm input)</li>
<li>Use PID algo to settle errors between IMU vs. RX</li>
<li>Use output of PID controller (assuming gains are already tuned properly) as PWM signal to the ESC's</li>
<li>Rinse and repeat</li>
</ul>

<p>These resources might be of help in the future:</p>

<ol>
<li><a href="https://robotics.stackexchange.com/questions/9554/quadcopter-pid-algorithm">Quadcopter PID Algorithm</a> </li>
<li><a href="https://robotics.stackexchange.com/questions/8354/need-help-for-a-quadcopter-pid/8903#8903">Different PID Architectures</a></li>
<li><a href="https://www.quora.com/What-is-rate-and-stabilize-PID-in-quadcopter-control" rel="nofollow noreferrer">Cascaded PID Controller Explained</a></li>
<li><a href="https://robotics.stackexchange.com/questions/2800/pid-output-does-not-reach-setpoint-precisely-enough">PID output does not reach setpoint precisely enough</a></li>
<li><a href="https://robotics.stackexchange.com/questions/8895/quadcopter-pid-control-is-it-possible-to-stabilize-a-quadcopter-considering-onl">Is it possible to stabilize a quadcopter considering only angle measurements?</a></li>
</ol>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10428" data-toggle = "popover">
				<p>user name : user123456098</p>
				<p> user reputation : 415</p>
				<p class = "tagcontent" id = "usertaginfo-10428">{'control': 16, 'stereo-vision': 2, 'communication': 0, 'pid': 19, 'uav': 0, 'stability': 13, 'mobile-robot': 2, 'sensor-error': 0, 'tuning': 2, 'cameras': 0, 'integration': 0, 'opencv': 2, 'differential-drive': 0, 'motion-planning': 0, 'None': 13, 'raspberry-pi': 14, 'localization': 0, 'microcontroller': 0, 'mapping': 0, 'path-planning': 0, 'real-time': 1, 'sensors': 0, 'quadcopter': 19, 'computer-vision': 2, 'vfh': 0, 'c++': 2, 'filter': 0, 'dead-reckoning': 0, 'sensor-fusion': 5, 'sonar': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-10428">Load Comments</button></br>
			<div id = "commentsection-10428" class = 'collapse'>
			<div id = "comment-18776" class = "comment">
				<p>Awesome info. I didn't know "Cascaded PID" or "Control Splitting" existed until you posted this answer. That definitely opened my mind up to some new possibilities and as far as I'm concerned that's the ultimate goal as far as SE answers go. You are certainly a gentleman and a scholar!</p>
			</div>
			<div id = "comment-18786" class = "comment">
				<p>Glad to be of help :) Good luck :)</p>
			</div>
			</div>
				<textarea id = "speech-10428" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10428">
					<img id="start_img-10428" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10428">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>