<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wind flow diagram of a quadcopter
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-9226" class = "post">
			<h2>Question</h2>
			<div id="vote-9226" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 159</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wind flow diagram of a quadcopter</h2>
<p>I'm trying to determine the wind flow diagram around a quadcopter when it is in action. I looked up on internet but couldn't find any reliable source.</p>

<p>By wind flow diagram, what I mean is when my quadcopter is in mid-air, hovering at some fixed position, how the air is moving around it? All the directions are needed to be kept in mind, from <strong><em>top to bottom</em></strong> (vertical direction) and also the horizontal direction.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-9226" data-toggle = "popover">
				<p>user name : sgoel</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-9226">{'quadcopter': 0, 'None': 0, 'dynamics': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9226">Load Comments</button></br>
			<div id = "commentsection-9226" class = 'collapse'>
			<div id = "comment-16323" class = "comment">
				<p>Can you post a picture (hand-drawn, even) of what you are looking for? What exactly are you trying to do with this diagram? It sounds like you want something akin to a [vector field](https://en.wikipedia.org/wiki/Vector_field) or [streaklines](https://www.youtube.com/watch?v=2kK34LxQUtA), but I'm not sure what this gets you because the aerodynamic shape of a quadcopter [doesn't really matter](https://www.youtube.com/watch?v=eibyRBcmLvc&t=45s). The quadcopter doesn't generate lift, it generates downward thrust.</p>
			</div>
			<div id = "comment-16362" class = "comment">
				<p>Yes sir i want something like streak-lines. Absolutely, and for both planes.
See the comment on the answer below to understand well. Your time is much appreciated.</p>
			</div>
			</div>
				<textarea id = "speech-9226" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9226">
					<img id="start_img-9226" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9226">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-9242"  class = "post">
				<h2>Answer</h2>
			<div id="vote-9242" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The question needs some clarification, but at first thought here's a sketch of an answer. </p>

<p>The aerodynamics of rotors of a quad rotor can be simplified as independent from each other. Just to give a glimpse, here's a simple introduction to rotor aerodynamics, including near field flow directions, and average air velocity near (down) the rotor: <a href="http://s6.aeromech.usyd.edu.au/aerodynamics/index.php/sample-page/aircraft-performance/hoverclimbdescent-analysis/" rel="nofollow noreferrer">Helicopter momentum Analysis</a>.</p>

<p>Keep in mind that this is a very simple (yet practically quite an accurate) representation of the real flow phenomena near the vehicle. </p>

<p>Things that should be considered for a more detailed approach:</p>

<ol>
<li><p>existence and interaction of multi rotors</p></li>
<li><p>rotor - body interaction</p></li>
<li><p>unsteadiness (the propellers are in fact creating a periodic flow)</p></li>
<li><p>environmental changes (wind, pressure change)</p></li>
<li><p>control induced variations (even in perfect air conditions, if the quad rotor is moving a camera or weight, there will be control commands, changing the flow a bit)</p></li>
</ol>

<p>Etc. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-9242" data-toggle = "popover">
				<p>user name : G rkan  etin</p>
				<p> user reputation : 284</p>
				<p class = "tagcontent" id = "usertaginfo-9242">{'None': 13}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-9242">Load Comments</button></br>
			<div id = "commentsection-9242" class = 'collapse'>
			<div id = "comment-16361" class = "comment">
				<p>Yes.. First of all, Thank you very much for your answer sir.
That is actually what i am looking for but a little more detailed one.
Now the link above shows for only one rotor, i want to extend it to multi rotors and get the full streamline diagram of the whole quad-copter.
I am not actually from aerodynamics field that's why it is little difficult for me to work it on my own although i have tried much.
Also the picture shows flow diagram for vertical plane only, what i want is for horizontal plane also. That means i want flow diagram if observed from top plane. Hope this makes some sense.</p>
			</div>
			</div>
				<textarea id = "speech-9242" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-9242">
					<img id="start_img-9242" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-9242">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>