<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wind force impact on torque mechanical arm
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1684" class = "post">
			<h2>Question</h2>
			<div id="vote-1684" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">5</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 133</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wind force impact on torque mechanical arm</h2>
<p>I've got an arm attached to a shaft. The arms dimensions are 40x5 inches the arm weights about 10 lbs.</p>

<p>If I have a wind acting on the side of the arm, how would I translate the wind force into torque on the shaft?</p>

<p>To give some more information, I'm rotating the arm using a stepper motor, and I would like to know how to size the motor depending environmental conditions.</p>

<p>What should my formula look like in order to arrive a required oz-in of torque given my requirements being:</p>

<ul>
<li>I need to be able to accelerate the arm from 0 to 12 rpm in 1.5 seconds</li>
<li>The wind speed can be as high as 30 mph</li>
</ul>

<p>Using the formula <strong>P = .00256 x 30^2</strong> i find the wind pressure per square foot being <strong>2.304</strong></p>

<p>Using the formula <strong>F = A x P x Cd</strong> for calculating force, I get <strong>1.389 x 2.304 x 2 = 6.4</strong> </p>

<p>So I know that the wind force on my arm is <strong>6.4 lbs</strong>. But now how do I translate this to torque on my arm? </p>

<p><img src="https://i.stack.imgur.com/awzfj.png" alt="mechanical arm"></p>

<p>Source: <a href="http://k7nv.com/notebook/topics/windload.html" rel="nofollow noreferrer">http://k7nv.com/notebook/topics/windload.html</a></p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1684" data-toggle = "popover">
				<p>user name : Mattias</p>
				<p> user reputation : 126</p>
				<p class = "tagcontent" id = "usertaginfo-1684">{'torque': 5, 'None': 0, 'force': 5}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1684" class = 'collapse'>
			</div>
				<textarea id = "speech-1684" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1684">
					<img id="start_img-1684" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1684">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1685"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1685" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">4</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>If you assume that the wind force you calculated is distributed evenly about the arm (reasonable assumption) then the torque about the shaft is the distance to the center of the arm (20 in) multiplied by the force in oz.</p>

<p>So</p>

<p><strong>Torque = Force in ounces * Distance = (6.4 lb) * (16 oz / 1 lb) * (20 in) =  2048 oz. in.</strong></p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1685" data-toggle = "popover">
				<p>user name : ddevaz</p>
				<p> user reputation : 503</p>
				<p class = "tagcontent" id = "usertaginfo-1685">{'None': 34}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-1685" class = 'collapse'>
			</div>
				<textarea id = "speech-1685" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1685">
					<img id="start_img-1685" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1685">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>