<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wine yard robotics?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2667" class = "post">
			<h2>Question</h2>
			<div id="vote-2667" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 61</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wine yard robotics?</h2>
<p>My friend has acquired a (small) wine yard to discover how much work it is tending and harvesting the grapes.</p>

<p>Now we are musing to enlist robotic help. The vine stocks are usually connected by a stiff wire, so some dangling machine might be feasible.</p>

<p>We are looking for references/inspirations for an agricultural robotic vine assistant. Any ideas?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2667" data-toggle = "popover">
				<p>user name : stwissel</p>
				<p> user reputation : 103</p>
				<p class = "tagcontent" id = "usertaginfo-2667">{'mobile-robot': 0, 'None': 0, 'robotic-arm': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2667">Load Comments</button></br>
			<div id = "commentsection-2667" class = 'collapse'>
			<div id = "comment-5027" class = "comment">
				<p>While interesting, the question (as it is) is not a good fit for stackexchange. You'd need to do some research and come up with a more specific question.</p>
			</div>
			<div id = "comment-5030" class = "comment">
				<p>Sorry for that... just getting started. Would be asking for "vertical movement of a dangling robot" be specific enough?</p>
			</div>
			<div id = "comment-5031" class = "comment">
				<p>No. But asking for "why when I use motor X controlled with algorithm Y on a robot dangling from a wire, the robot doesn't move smoothly?" would make a specific enough question. The way the question is currently, is open-ended. The answers would be some vague idea of what may perhaps work. It doesn't produce solid answers that correctly solve a specific problem which can be reused in different applications. (Read more in the [faq](http://robotics.stackexchange.com/help/dont-ask))</p>
			</div>
			<div id = "comment-5032" class = "comment">
				<p>Take a look at [this question](http://robotics.stackexchange.com/q/1959/158) for example or [this one](http://robotics.stackexchange.com/q/2489/158) or [this one](http://robotics.stackexchange.com/q/2263/158) for a general idea of what is _specific enough_.</p>
			</div>
			<div id = "comment-5033" class = "comment">
				<p>Thx for the hints, I'll try doing better</p>
			</div>
			</div>
				<textarea id = "speech-2667" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2667">
					<img id="start_img-2667" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2667">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2669"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2669" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You might want to check out this grape vine pruning robot: <a href="https://www.youtube.com/watch?v=9GaGO9LIDEA" rel="nofollow">https://www.youtube.com/watch?v=9GaGO9LIDEA</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2669" data-toggle = "popover">
				<p>user name : Ben</p>
				<p> user reputation : 3608</p>
				<p class = "tagcontent" id = "usertaginfo-2669">{'None': 277, 'inverse-kinematics': 3, 'accelerometer': 5, 'calibration': 10, 'kinematics': 14, 'robotic-arm': 8, 'jacobian': 6, 'dh-parameters': 8, 'imu': 5, 'sensors': 5}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-2669" class = 'collapse'>
			</div>
				<textarea id = "speech-2669" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2669">
					<img id="start_img-2669" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2669">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>