<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wires or columns which contract on passing electricity
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-8199" class = "post">
			<h2>Question</h2>
			<div id="vote-8199" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 46</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wires or columns which contract on passing electricity</h2>
<p>Background: Introductory robotics competition for college freshmen; Bot has to open 8 jars (with two balls in each of them) in ten minutes and load the balls into a shooting mechanism.</p>

<p>So, we were doing this project and we hit upon a challenge that the jar is not opening like we originally intended to. So we decided to get a rack-pinion mechanism and use it for unscrewing the lid. However, it is too large and we are unable to fit the bot in the required dimensions</p>

<p><strong>The actual question:</strong> Are there any wires or rigid columns/things which can contract ~1 cm when electricity is passed through it? And what would their price range be? Our budget is also in the list of constraints for the bot</p>

<p>Edit: We can include a wire of length &lt;1m or a column of length &lt;30 cm. Also, the wire needs to contract only more than 7mm</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-8199" data-toggle = "popover">
				<p>user name : RecursiveCursive</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-8199">{'None': 0, 'mechanism': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8199">Load Comments</button></br>
			<div id = "commentsection-8199" class = 'collapse'>
			<div id = "comment-13142" class = "comment">
				<p>Can you post a diagram of the setup?  Why wouldn't a winch work?</p>
			</div>
			<div id = "comment-13151" class = "comment">
				<p>Winches are too big to fit in a **5*5** setup.</p>
			</div>
			</div>
				<textarea id = "speech-8199" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8199">
					<img id="start_img-8199" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8199">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-8201"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8201" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Have you looked at linear actuators?  However you might be better with a motor and a pulley.</p>

<p>Have you considered alternatives such as:</p>

<ul>
<li>Wrap a rubber loop around the edge of the lid, put it tight with a high torque motor, and then twist it off with another motor.</li>
<li>Do the rules say you have to open the jars by removing the lids?  If not a arming your robot with a hammer may be an option.</li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8201" data-toggle = "popover">
				<p>user name : Code Gorilla</p>
				<p> user reputation : 282</p>
				<p class = "tagcontent" id = "usertaginfo-8201">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8201">Load Comments</button></br>
			<div id = "commentsection-8201" class = 'collapse'>
			<div id = "comment-13114" class = "comment">
				<p>Yes, we're working on the linear actuators - this is just a backup idea I got after running through [this pdf](http://www.dynalloy.com/pdfs/TCF1140.pdf) as for the rubber loop suggestion, we have to remove the lids of 8 jars in 10 min and this is definitely not going to cut it. And smashing it? are you even serious</p>
			</div>
			<div id = "comment-13126" class = "comment">
				<p>I like the smashing jars idea Matt half-suggested by the way. After all, safety wasn't mentioned at all in the rules. ALWAYS consider novel solutions before abandoning them...</p>
			</div>
			<div id = "comment-13137" class = "comment">
				<p>+1 for smash with a hammer. Imagine the judges' faces when the hammer comes out from behind a panel and you start destroying their course. "Nothing in the rules said I can't!" - You become legend, because every year after that the competition organizer says, "And you can't break anything. I have to say this because so-and-so won the competition by smashing a dozen jars with a hammer."</p>
			</div>
			<div id = "comment-13152" class = "comment">
				<p>@Chuck, The problem statement explicitly mentions that the jar must not be damaged. Also, the threading of the screw must not be damaged. Otherwise, I wouldn't be here asking questions</p>
			</div>
			<div id = "comment-13155" class = "comment">
				<p>@RecursiveCursive, damn someone got there before you :(</p>
			</div>
			</div>
				<textarea id = "speech-8201" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8201">
					<img id="start_img-8201" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8201">Comment</button>
			<br><div id = "ans-8203"  class = "post">
				<h2>Answer</h2>
			<div id="vote-8203" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>It sounds like you are looking for an artificial muscle.
I see you've already looked at one type of</p>

<ul>
<li><a href="http://en.wikipedia.org/wiki/shape-memory_alloy" rel="nofollow">shape-memory alloy</a>; also called memory metal, memory alloy, muscle wire, Nitinol</li>
</ul>

<p>Have you looked at</p>

<ul>
<li><a href="http://writerofminds.blogspot.com/2014/05/homemade-artificial-muscles-iv.html" rel="nofollow">twisted fishing line artificial muscles</a>?</li>
<li>The other types mentioned in the Wikipedia: <a href="http://en.wikipedia.org/wiki/artificial_muscle" rel="nofollow">"artificial muscle"</a> article?</li>
</ul>

<p>It seems more natural to me to use normal rotary motors to rotate the screw-on lid of a typical jar, so I am curious to see how your system works.
Good luck!</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-8203" data-toggle = "popover">
				<p>user name : David Cary</p>
				<p> user reputation : 3365</p>
				<p class = "tagcontent" id = "usertaginfo-8203">{'quadcopter': 38, 'stepper-driver': 9, 'None': 256, 'multi-rotor': 2, 'force-sensor': 9, 'stability': 36, 'industrial-robot': 1, 'design': 18, 'motor': 2, 'stepper-motor': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-8203">Load Comments</button></br>
			<div id = "commentsection-8203" class = 'collapse'>
			<div id = "comment-13117" class = "comment">
				<p>Thanks for the links. The rotary motor does not fit into the constraints of using it in a 5*5 cm^2 pipe.</p>
			</div>
			<div id = "comment-13120" class = "comment">
				<p>I don't understand the constraint you mentioned, but I don't see it in your question (so far). You really need more detail. Is this a homework question, if so is there more information?</p>
			</div>
			<div id = "comment-13123" class = "comment">
				<p>@Andy It isn't a homework question. It is for a competition between hostels( fraternities for the Americans). I forgot to add the constraint in the question but, we have to fit the opening mechanism in a pipe of radius 2.5cm or a 5cm by 5cm box channel.</p>
			</div>
			<div id = "comment-13125" class = "comment">
				<p>Understood. That's a tight space! I would have gone for two or three geared motors with rubber drive wheels, to "spin" the lid off, but there isn't room for anything like that... unless the motors are somewhere else and the pulleys driven by long axles. Alternatively, can you put rubber grips inside the pipe/channel and make the pipe itself rotate to unscrew the lid? Just a thought...</p>
			</div>
			<div id = "comment-13133" class = "comment">
				<p>We tried that but didn't work out. Anyway, we finally finished two models - one with leadscrew and the other with Flexinol. I'll post the pics and our method soon for future reference.</p>
			</div>
			</div>
				<textarea id = "speech-8203" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-8203">
					<img id="start_img-8203" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-8203">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>