<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wire connectors
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-13915" class = "post">
			<h2>Question</h2>
			<div id="vote-13915" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 27</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wire connectors</h2>
<p>I'm making an Iron Man costume for Comic-Con and it has electronics in the hand and head.
I'm going to route both to the back to be handled. There is a certain type of wire connector that I want to use to connect across the shoulder and neck and I don't know what it's called. The connector is the same one that small lipo batteries and pc fans use, the one with the clip to prevent unwanted detachment but pushing on it allows for easy removal.</p>

<p>What is this type of wire connector called?</p>

<p>I uploaded some pictures to make sure you know which ones I'm taking about. </p>

<p>imgur.com/a/afeEw</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-13915" data-toggle = "popover">
				<p>user name : user8168401</p>
				<p> user reputation : 3</p>
				<p class = "tagcontent" id = "usertaginfo-13915">{'connector': 0, 'None': 0, 'electronics': 0}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-13915" class = 'collapse'>
			</div>
				<textarea id = "speech-13915" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13915">
					<img id="start_img-13915" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13915">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-13918"  class = "post">
				<h2>Answer</h2>
			<div id="vote-13918" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Computer fans usually use Molex connectors, however there are different versions of Molex connectors:
<a href="https://en.wikipedia.org/wiki/Computer_fan#Connectors" rel="nofollow noreferrer">https://en.wikipedia.org/wiki/Computer_fan#Connectors</a></p>

<p>Small LiPo batteries often use JST connectors. Again there are different versions and the Internet often does not differentiate correctly. Popular JST versions are JST XH and JST RCY. Bigger batteries might use custom connectors.
<a href="http://www.rchelicopterfun.com/rc-lipo-battery-connector.html" rel="nofollow noreferrer">http://www.rchelicopterfun.com/rc-lipo-battery-connector.html</a></p>

<p>For examples:
(I currently can't post more than two links)
Check your favourite supplier shop and search for Molex and JST. Just as a shop-example I'll mention: <a href="https://www.reichelt.com/de/en/" rel="nofollow noreferrer">reichelt</a>.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-13918" data-toggle = "popover">
				<p>user name : Grtschnk</p>
				<p> user reputation : 26</p>
				<p class = "tagcontent" id = "usertaginfo-13918">{'None': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-13918">Load Comments</button></br>
			<div id = "commentsection-13918" class = 'collapse'>
			<div id = "comment-22714" class = "comment">
				<p>Also [Digikey](https://www.digikey.com/), [Mouser](http://www.mouser.com/), [Arrow](https://www.arrow.com/), etc.</p>
			</div>
			<div id = "comment-22715" class = "comment">
				<p>I added a link to some photos</p>
			</div>
			</div>
				<textarea id = "speech-13918" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-13918">
					<img id="start_img-13918" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-13918">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>