<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wire gauge for hobby robot question
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2782" class = "post">
			<h2>Question</h2>
			<div id="vote-2782" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 208</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wire gauge for hobby robot question</h2>
<p>So, i'm making my second ever hobby robot(I'm 15) and am planning on soldering my own connectors for the battery, sensors, Arduino, etc. It will be a small mobile robot. Anyways, I was wondering what a good gauge of stranded hookup wire would be good for that purpose. Thanks!!</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2782" data-toggle = "popover">
				<p>user name : Zack Frost</p>
				<p> user reputation : 16</p>
				<p class = "tagcontent" id = "usertaginfo-2782">{'battery': 2, 'mobile-robot': 1, 'None': 0}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2782">Load Comments</button></br>
			<div id = "commentsection-2782" class = 'collapse'>
			<div id = "comment-5161" class = "comment">
				<p>Just a hint, twist the motor cables together, also twist differential signal cables, this prevents problems :)</p>
			</div>
			</div>
				<textarea id = "speech-2782" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2782">
					<img id="start_img-2782" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2782">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2783"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2783" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>For power/ground/analog signals the only limitation on how small you can go on wire gauge is power loss.
You can look up voltage drop calculators online but generally speaking if it's short runs with low current you shouldn't run into problems with wire gauge being too small. 
One place where you do need to be careful is when using ratiometric sensor such as rotary potentiometers or resistive temperature sensors as the resistance of the connecting wires could have a measurable effect.
In the applications I work on I use a rule of thumb of 28AWG for signals, 26AWG for low current devices (up to 0.2A) 24AWG for up to 1A and 22 AWG up to 3A (assuming the lengths aren't more than 1-2m)</p>

<p>As much of a consideration as wire gauge is the wire material and protection.
Plated wire (normally tin) is much easier to solder, I've occasionally had batched of unplated wire which refused to solder unless attacked with flux and steer clear of wire with thick PVC coating. Not only is it bulkier but the PVC melts when you solder the wire.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2783" data-toggle = "popover">
				<p>user name : Matthew Gordon</p>
				<p> user reputation : 303</p>
				<p class = "tagcontent" id = "usertaginfo-2783">{'None': 15}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2783">Load Comments</button></br>
			<div id = "commentsection-2783" class = 'collapse'>
			<div id = "comment-5167" class = "comment">
				<p>Thanks!! I think i'll go with 24AWG since thats what I have on hand!!</p>
			</div>
			</div>
				<textarea id = "speech-2783" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2783">
					<img id="start_img-2783" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2783">Comment</button>
			<br><div id = "ans-2784"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2784" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You may want to check <a href="http://www.keywolf.com/American_Wire_Gauge.php" rel="nofollow">this table</a> to see what a given AWG size can handle in terms of current as well as AC frequency.</p>

<p>Remember that getting enough surface area on your connections is as important as using the correct wire size.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2784" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-2784">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2784">Load Comments</button></br>
			<div id = "commentsection-2784" class = 'collapse'>
			<div id = "comment-5171" class = "comment">
				<p>Good point on the connection surface area, Ian</p>
			</div>
			</div>
				<textarea id = "speech-2784" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2784">
					<img id="start_img-2784" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2784">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>