<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wiring & driving TowerPro SG90 servos
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7472" class = "post">
			<h2>Question</h2>
			<div id="vote-7472" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 3982</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wiring & driving TowerPro SG90 servos</h2>
<p>I got my hands on a few <a href="http://www.servodatabase.com/servo/towerpro/sg90" rel="nofollow">Tower Pro SG90 9G servos</a> but cannot find their schematics or datasheet anywhere (besides that link).</p>

<p>I have the following concerns:</p>

<ul>
<li>Looks like they're rated for 4.8V, but will they tolerate a 5V supply?</li>
<li>How do I determine the current they require, in amps, mA, etc.?</li>
<li>There's 3 wires: brown, red &amp; yellow-orange, what do each of these guys do?
<ul>
<li>If I had to <em>guess</em> I'd say that red is power, another one is direction, and another one is the position to rotate to</li>
</ul></li>
</ul>

			</div>
			<div class = "userinfosection"  id = "userinfo-7472" data-toggle = "popover">
				<p>user name : smeeb</p>
				<p> user reputation : 166</p>
				<p class = "tagcontent" id = "usertaginfo-7472">{'quadcopter': 10, 'None': 0, 'power': 1, 'rcservo': 0, 'battery': 0, 'wiring': 0, 'circuit': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7472" class = 'collapse'>
			</div>
				<textarea id = "speech-7472" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7472">
					<img id="start_img-7472" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7472">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7473"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7473" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Regarding the voltage, the <a href="http://rads.stackoverflow.com/amzn/click/B001CFUBN8" rel="nofollow">Amazon listing</a> for this servo gives the operating voltage range to be 3.0 to 7.2V, so it should accept 5V no problem. </p>

<p>Regarding the current draw, on the <a href="http://www.amazon.com/ask/questions/Tx1X9IO6TWFSVRF/?source=allQuestionsPage" rel="nofollow">user questions section</a> of the same page, one user stated that these servos drew between 750 - 1000mA when fully loaded. </p>

<p>Regarding the wiring, <a href="http://pcbheaven.com/wikipages/How_RC_Servos_Works/" rel="nofollow">PCB has a great article on servos</a> that says the wiring would go generally how you would think - red is (+), black or brown is (-), and the other wire is signal. It says that Tower servos use red, black, and white wires. </p>

<p>Hope this helps! </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7473" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7473">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7473">Load Comments</button></br>
			<div id = "commentsection-7473" class = 'collapse'>
			<div id = "comment-10680" class = "comment">
				<p>For anyone who is then subsequently wondering "*OK, well then how do I know what signals to fire across the signal wire to drive the servo?!?*", [read this](http://electronics.stackexchange.com/questions/174908/how-to-determine-servo-signal-encoding).</p>
			</div>
			<div id = "comment-10681" class = "comment">
				<p>Yeah, as mentioned in the comments to the question you linked, servos are all relatively generic in that servo manufacturers have done a terrific job of standardizing the physical and electronic interface. In the article I linked in my answer, from PCB heaven, they also state most servos' full range is in the 1-2ms range, and they give common frequencies for analog and digital servos, AND they give a circuit that can be used to drive the servo with no micro controller. It really is worth reading.</p>
			</div>
			</div>
				<textarea id = "speech-7473" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7473">
					<img id="start_img-7473" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7473">Comment</button>
			<br><div id = "ans-7847"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7847" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">-1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>There are datasheets out there, but none seem to be manufacturers' original, which make them no more worth than toilet paper. What signal protocol(s) does it accept, does it hold presets, for example.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7847" data-toggle = "popover">
				<p>user name : Rahere</p>
				<p> user reputation : 1</p>
				<p class = "tagcontent" id = "usertaginfo-7847">{'None': -1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7847">Load Comments</button></br>
			<div id = "commentsection-7847" class = 'collapse'>
			<div id = "comment-11451" class = "comment">
				<p>Welcome to *robotics* Rahere, but on Stack exchange *answers* need to answer the question. Take a look at [answer] and [about] for more information on how stack exchange works.</p>
			</div>
			</div>
				<textarea id = "speech-7847" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7847">
					<img id="start_img-7847" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7847">Comment</button>
			<br><div id = "ans-7856"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7856" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>The red one is Vcc+ (positive) generally 5-6V, brown is ground and yellow-orange is the signal, usually a pulse-width modulated signal (PWM). The current depends on the load driven. For no load conditions its usually as low as 500mA when fully loaded may require up to 1A.
Good Luck and cheers</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7856" data-toggle = "popover">
				<p>user name : Vino</p>
				<p> user reputation : 75</p>
				<p class = "tagcontent" id = "usertaginfo-7856">{'control': 1, 'robotic-arm': 1, 'pid': 1, 'slam': 0, 'motor': 1, 'linux': 5, 'mobile-robot': 0, 'ros': 5, 'forward-kinematics': 5, 'manipulator': 1, 'robotics-library': 0, 'mechanism': 1, 'opencv': 0, 'cnc': 2, 'machine-learning': 0, 'None': 2, 'inverse-kinematics': 5, 'artificial-intelligence': 0, 'automation': 1, 'industrial-robot': 0, 'quadcopter': 0, 'computer-vision': 2, 'c++': 5, 'circuit': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7856" class = 'collapse'>
			</div>
				<textarea id = "speech-7856" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7856">
					<img id="start_img-7856" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7856">Comment</button>
			<br><div id = "ans-7868"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7868" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>According to <a href="http://www.micropik.com/PDF/SG90Servo.pdf" rel="nofollow noreferrer">this datasheet</a><sup>(1)</sup>, the red and brown wires are power and ground, while the orange wire is the <a href="https://en.wikipedia.org/wiki/Pulse-width_modulation" rel="nofollow noreferrer">PWM</a> control (as <a href="https://robotics.stackexchange.com/a/7856/37">Vinokanth Velu suggested</a>).</p>

<p>The PWM line expects a pulse every 20ms. If the pulse is 1.5ms wide, the SG90 will move towards the midpoint of its 180 degree travel (position 0). If the pulse is 2ms, then it will move all the way to the right (position 90), while a pulse of 1ms, will move it all the way to the left (position -90).</p>

<p>The deadband determines the minimum move you can specify, 10us (as suggested by this datasheet) would be around 1.8 degrees, 1us (as the <a href="http://www.towerpro.com.tw/product/sg90-7/" rel="nofollow noreferrer">manufacturer specifies</a>) would be 0.18 degrees.</p>

<p>As for how much power it will draw, that depends on what you are asking it to do. Holding position with no force will take very little power, swinging from one extreme to the other and back with the full 1.80 kg-cm force would take significantly more.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7868" data-toggle = "popover">
				<p>user name : Mark Booth</p>
				<p> user reputation : 3037</p>
				<p class = "tagcontent" id = "usertaginfo-7868">{'control': 7, 'quadcopter': 2, 'None': 258, 'tuning': 7, 'uav': 2, 'design': 2, 'stepper-motor': 7}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7868" class = 'collapse'>
			</div>
				<textarea id = "speech-7868" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7868">
					<img id="start_img-7868" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7868">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>