<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Wiring necessary to route power from any one of several rechargeable batteries
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "reward_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-7491" class = "post">
			<h2>Question</h2>
			<div id="vote-7491" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">0</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 22</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Wiring necessary to route power from any one of several rechargeable batteries</h2>
<p>I'm looking for my robotics project to draw its power from one of 3 rechargeable batteries; basically whichever has the most "juice" in it. From the initial research I've already done, I believe I could connect each rechargeable battery (probably LiPo) to a diode, and then wire each of the 3 diodes in series.</p>

<p>However, being so new to robotics/electronics, I guess I wanted to bounce this off the community as a sanity check, or to see if there is a better way of achieving this. Again, what I am looking for is a way for the circuit to automagically detect that battery #1 has more power than battery #2, and so it "<em>decides</em>" to draw power from #1. The instant #1 is depleted or deemed "less powerful" than #2, the #2 battery takes over. Thoughts/criticisms?</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-7491" data-toggle = "popover">
				<p>user name : smeeb</p>
				<p> user reputation : 166</p>
				<p class = "tagcontent" id = "usertaginfo-7491">{'quadcopter': 10, 'None': 0, 'power': 1, 'rcservo': 0, 'battery': 0, 'wiring': 0, 'circuit': 1}</p>
			</div><br>
			<br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-7491" class = 'collapse'>
			</div>
				<textarea id = "speech-7491" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7491">
					<img id="start_img-7491" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7491">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-7492"  class = "post">
				<h2>Answer</h2>
			<div id="vote-7492" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Is there a need to draw from the batteries sequentially? If you wire the <a href="http://www.batteriesnorthwest.com/batteryschool.cfm?TID=17#ANC17" rel="nofollow">batteries in parallel</a> you drain them all at the same time, so you don't need to worry about swapping dead batteries for fresh. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-7492" data-toggle = "popover">
				<p>user name : Chuck</p>
				<p> user reputation : 8534</p>
				<p class = "tagcontent" id = "usertaginfo-7492">{'actuator': 7, 'None': 616, 'dynamics': 7, 'joint': 7}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-7492">Load Comments</button></br>
			<div id = "commentsection-7492" class = 'collapse'>
			<div id = "comment-10733" class = "comment">
				<p>Hey smart thinking @Chuck (+1) - do the descriptions in that link give me what I need to actually implement this parallel solution? Any diodes/voltage regulators/etc. needed to actually build this?!? Thanks again!</p>
			</div>
			<div id = "comment-10734" class = "comment">
				<p>Yes - from the article, "The positive terminals of all batteries are connected together, or to a common conductor, and all negative terminals are connected in the same manner. The final voltage remains unchanged while the capacity of the bank is the sum of the capacities of the individual batteries of this connection." All (+) connections together, all (-) connections together. **IMPORTANT TO NOTE** you don't need any diode protection as long as you don't mix charged and discharged batteries. If you're concerned you might accidentally put a dead battery on with 2 fully charged then add diodes.</p>
			</div>
			</div>
				<textarea id = "speech-7492" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-7492">
					<img id="start_img-7492" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-7492">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		$("#reward_tool").load("/reward_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>