<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Working of Autonomous Lawn mower(ALM) in an unbounded area without a perimeter wire
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div id = "comment_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-1349" class = "post">
			<h2>Question</h2>
			<div id="vote-1349" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 1357</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Working of Autonomous Lawn mower(ALM) in an unbounded area without a perimeter wire</h2>
<p>I have an Autonomous Lawn mower(ALM) which can mow a certain lawn area when that area is bounded by a perimeter wire. Even when that perimeter wire is removed, it has to mow the above mentioned area accurately without slipping into a neighboring area.</p>

<p>Constraints and problems:</p>

<ol>
<li>The ALM is an open loop system.</li>
<li>Differential GPS was tried, but it did not yield proper results.</li>
<li>Any iterative pattern of area coverage can be used provided the error in each iteration is not added cumulatively which can result in unpredictable error in the end.</li>
</ol>

<p>I do not expect full fledged solution. But I need a starting point to understand motion planning particularly for unbounded robotics to solve this problem. </p>

<p>I searched on internet to know about the knowledge sources about motion planning but could not get good results. Can anyone guide me to know about such sources preferably books and articles on internet which can help me to solve this problem?</p>

<p>EDIT:
Addition of information:</p>

<p><img src="https://i.stack.imgur.com/a19Od.jpg" alt="enter image description here"> </p>

<p>The above picture shows the irregular lawn area which does not have any enclosures and perimeter
wire
1.The red mark shows the center point of lawn .</p>

<p>2.The grey area is the initial scaled down area which resembles in shape to the larger area .I could not draw the grey area which exactly resembles the larger green area .</p>

<p>3.The grey lines are the contours which from the tracks to be followed by the lawn mower</p>

<p>Idea description:</p>

<p>1.Using planimeter app for onetime , the shape and dimension of the lawn area (green area) can be known
Link:<a href="https://play.google.com/store/apps/details?id=com.vistechprojects.planimeter&amp;hl=en" rel="nofollow noreferrer">https://play.google.com/store/apps/details?id=com.vistechprojects.planimeter&amp;hl=en</a></p>

<p>2.Center of polygon can be found by using the method in the following link
<a href="http://en.wikipedia.org/wiki/Centroid#Centroid_of_polygon" rel="nofollow noreferrer">http://en.wikipedia.org/wiki/Centroid#Centroid_of_polygon</a></p>

<p>3.Calculation of area of grey shape in the above figure .</p>

<p>4 . Grey shape is the least possible area which can be grazed by the ALM . Grey shape is similar to the green area shape and it is formed when Green area is scaled down</p>

<p>To determine the scale down factor which is a numerical value   n  (n&lt;1) 
Where Grey area = n * Green area</p>

<p>Once the Grey area is known , the number of contours or tracks to be grazed by ALM have to be determined manually .</p>

<p>The width of contour is equal to the distance between the blades on the either end i.e. the width which can be grazed by ALM in a single stroke .</p>

<p>Green area = Grey area + area of track 1 + area of track 2 + area of track3 + . . . . . . + area of track n</p>

<p>5.Once the lawn mower is switched on ,it should reach the center of the lawn (red mark showed in the above figure)</p>

<p>6.Then, ALM should graze the least possible area or grey area .</p>

<p>7.After that ALM should Switch to contour circumscribing the grey area . It should continue circumscribing in each track till all the tracks are completed( decision has to be made by validating against the calculated and preset value ' No.of tracks' in ALM)   </p>

<p>In this way entire lawn can be mowed without the need of perimeter wire and also ALM would not mow the neighbor s lawn </p>

<p>Challenges :</p>

<p>a. Enable ALM to reach the center point of the lawn</p>

<p>a. To make ALM mow the grey area accurately</p>

<p>b. To make the ALM switch from one track to track .</p>

<p>c. To bypass the obstacle in track and return to the same track .</p>

<p>When i mentioned this idea to my colleague ,he mentioned the about possible cumulative addition of error in each iteration resulting in an unpredictable error in the end .</p>

<p>I intend to minimize the error and fix the boundary as correct as possible. 
In fact this deviation should be predictable before it can be corrected .</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-1349" data-toggle = "popover">
				<p>user name : user1394</p>
				<p> user reputation : 44</p>
				<p class = "tagcontent" id = "usertaginfo-1349">{'None': 2, 'motion-planning': 2, 'sensors': 2, 'research': 2}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1349">Load Comments</button></br>
			<div id = "commentsection-1349" class = 'collapse'>
			<div id = "comment-2948" class = "comment">
				<p>Welcome to *robotics* user1394, but from our [faq]: *You should only ask practical, answerable questions based on actual problems that you face. Chatty, open-ended questions diminish the usefulness of our site*. Check out [ask] and [about] for a good introduction for how stack exchange works.</p>
			</div>
			<div id = "comment-2954" class = "comment">
				<p>I suggest asking a question like "How can a robot of type X do action of type Y". That is more likely to get good responses.</p>
			</div>
			<div id = "comment-2970" class = "comment">
				<p>@Josh:I hope now the question is specific .Please look into it</p>
			</div>
			<div id = "comment-2972" class = "comment">
				<p>Thanks for the update @user1394 your revised question is much clearer, but I'm not sure how *practical* it is. You basically discount the standard solutions to this problem before you even start. Open loop control, inadequate GPS and no boundary conditions basically make this an unsolvable problem without removing some of your constraints. Take a look at [this question](http://robotics.stackexchange.com/q/172/37) and the *Concepts* section of [my answer](http://robotics.stackexchange.com/a/1234/37) to a similar question.</p>
			</div>
			<div id = "comment-2973" class = "comment">
				<p>Given the *major* edit to this question, I have closed and reopened it to clear the now obsolete close votes.</p>
			</div>
			<div id = "comment-2976" class = "comment">
				<p>I'm very confused here.  In what sense is it an open loop system if you are using a positioning system?  (For that matter, in what sense is an open loop system "autonomous"?)  Are you asking about a coverage algorithm or a way to get proper positioning?</p>
			</div>
			<div id = "comment-2984" class = "comment">
				<p>When ALM has taken action (covering a part of certain lawn area) ,It does not have a mechanism to judge the job against a rule ,detect error and correct itself .Yes I am asking abt a coverage algorithm .There should  also be a validation at certain crucial points of task, to check whether it's acting according to the algorithm exactly or nearly perfect(right now i cannot quantize this ).</p>
			</div>
			</div>
				<textarea id = "speech-1349" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1349">
					<img id="start_img-1349" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1349">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-1379"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1379" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>So you want your robot to stay in a fixed area, without giving any sensor feedback? Don't move the robot... </p>

<p>More seriously, I don't see how you could get away with having no sensor feedback. You tagged your question as motion planning. Yes, you could find a coverage pattern which minimizes your dead reckoning error, e.g. by looking for the least amount of turns or shortest path. But if you want to use the system in the real world I don't see how this would ever result in the robot not going over your boundary. </p>

<p>Ah.. wait. Lets say you know your boundary and your starting position, the best I could think of here would be to go straight to your bounds and then move along the bounds at a distance of lets say three sigma of your position uncertainty. You would try to cover your area from the outside to the inside, and always keep a three sigma distance of your position uncertainty to the borders. At some point your uncertainty ellipse will not fit into the area anymore and you will have to stop. With a bit of luck, large parts of your area may have been covered. Not sure if its practical, since I would not expect lawn movers to have very good odometry. </p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1379" data-toggle = "popover">
				<p>user name : Jakob</p>
				<p> user reputation : 2519</p>
				<p class = "tagcontent" id = "usertaginfo-1379">{'ransac': 3, 'None': 210, 'computer-vision': 1, 'cameras': 1, 'c++': 3, 'slam': 12, 'rock': 1, 'i2c': 3, 'servos': 3, 'software': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1379">Load Comments</button></br>
			<div id = "commentsection-1379" class = 'collapse'>
			<div id = "comment-2985" class = "comment">
				<p>If there's a perimeter wire ,there's no problem in coverage .But my problem is to fix the boundary which i thought coverage algorithm would do itself .please see edit of my question.</p>
			</div>
			</div>
				<textarea id = "speech-1379" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1379">
					<img id="start_img-1379" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1379">Comment</button>
			<br><div id = "ans-1384"  class = "post">
				<h2>Answer</h2>
			<div id="vote-1384" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">3</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>You have an interesting approach, but I think it's the wrong approach; you've painted yourself into a corner by trying to avoid some technical obstacles (instead of just tackling them).  </p>

<p>Based on the information you've provided, it sounds like the goal is for this robot to successfully mow an irregularly-shaped lawn while staying within an invisible boundary -- defined using GPS.</p>

<p>A positioning system (enabling closed-loop control) is critical to accomplishing this goal.  Going without one is the equivalent of pushing the lawnmower around the yard while blindfolded; not only is it impractical, having a spinning blade on a blindfolded robot borders on unethical.  There are ways to improve the accuracy of GPS, e.g. </p>

<ul>
<li>With an INS (<a href="http://www.cs.cmu.edu/~pvernaza/papers/gpsBiasEst.pdf" rel="nofollow noreferrer">Robust GPS/INS-aided localization and mapping via GPS bias estimation</a>)</li>
<li>With visual odometry (<a href="http://www.doc.ic.ac.uk/~sl203/content/IV2011/Lovegrove_etal_iv2011.pdf" rel="nofollow noreferrer">Accurate Visual Odometry from a Rear Parking Camera</a>)</li>
<li>With wheel odometry (<a href="http://cdn.intechopen.com/pdfs/27718/InTech-Improved_inertial_odometry_gps_positioning_of_wheeled_robots_even_in_gps_denied_environments.pdf" rel="nofollow noreferrer">Improved Inertial/Odometry/GPS
Positioning of Wheeled Robots Even in
GPS-Denied Environments</a>)</li>
</ul>

<p>Once you have a robot that knows its precise location, you do not need to pick your algorithm based on minimizing error; you need only visit every position in the lawn area.  (Remember, you will have already used a GPS to draw the boundary of the lawn.) I would refer you to other questions on this site that concern coverage, such as:</p>

<ul>
<li><a href="https://robotics.stackexchange.com/q/628/350">What algorithm should I implement to program a room cleaning robot?</a></li>
<li><a href="https://robotics.stackexchange.com/q/952/350">What's an efficient way to visit every reachable space on a grid with unknown obstacles?</a></li>
</ul>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-1384" data-toggle = "popover">
				<p>user name : Ian</p>
				<p> user reputation : 9640</p>
				<p class = "tagcontent" id = "usertaginfo-1384">{'planning': 10, 'None': 809, 'power': 1, 'algorithm': 10, 'battery': 1, 'slam': 7, 'coverage': 10, 'mobile-robot': 9, 'sensors': 9}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-1384">Load Comments</button></br>
			<div id = "commentsection-1384" class = 'collapse'>
			<div id = "comment-3018" class = "comment">
				<p>Dear Ian , Thanks a lot for the comprehensive answer.Hope I will be able to use the mentioned content and solve the problem</p>
			</div>
			<div id = "comment-3024" class = "comment">
				<p>These are good questions, so don't stop asking them :)</p>
			</div>
			</div>
				<textarea id = "speech-1384" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-1384">
					<img id="start_img-1384" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-1384">Comment</button>
			<br><div id = "ans-10385"  class = "post">
				<h2>Answer</h2>
			<div id="vote-10385" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">2</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>As others have said, you over constrained the problem.  In order to be workable you need to loosen some constraints.  Chiefly, you need to close the loop.  You have admitted as much when you said "There should also be a validation at certain crucial points of task, to check whether it's acting according to the algorithm"</p>

<p>You must recognize that an open loop motion command does not always result in consistent motion.  There will usually be one side driving on long grass and the opposite side on short, so it will tend to accumulate systematic error which can be compensated.  With careful observation, you could tune out path error caused by ground contour; for one location only, not a very universal solution.  But how do you compensate for varying moisture levels(coefficient of friction), obstacles, changing power levels in prime mover, wheel spin.  These are just a few of the problems unaddressed by your plan.  You just need some type of sensor feedback.</p>

<p>The simplest feedback system I can think of is a number of lever switches around the front and both sides with 9in^2 paddles that float on top of the grass and detect grass height(mowed or unmowed).</p>

<p>The operator would begin by manually mowing a perimeter strip.  Finishing with one side on already mowed grass then engaging autonomous mode.  If at any point all of the switches detect mowed grass, stop because you are done, or on your way to a neighbors yard.  Also stop if all switches detect unmowed grass because then you are again blazing a trail to the neighbors yard.  Either way, operator intervention is now required.  As long as one side is mowed and the opposite unmowed, proceed forward.  Use the array off switches along the front to proceed with a line following algorithm.</p>

<p>Working from the outside inward is preferred as the operator would still be onsite to observe the first few passes which present the greatest risk and probability of failure.  Is there a compelling reason that you chose to work from the inside outward without any way to detect the perimeter?</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-10385" data-toggle = "popover">
				<p>user name : slomobile</p>
				<p> user reputation : 21</p>
				<p class = "tagcontent" id = "usertaginfo-10385">{'None': 2}</p>
			</div><br><h3>Comments</h3><p>no comments yet<p><br>
			<div id = "commentsection-10385" class = 'collapse'>
			</div>
				<textarea id = "speech-10385" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-10385">
					<img id="start_img-10385" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-10385">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
					<li><a data-toggle="tab" href="#highlights">Highlights</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Links from the Page</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
						<div id="highlights" class="tab-pane fade">
							<h3>Highlights</h3>
							<div id = "highlightcontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		$("#comment_tool").load("/comment_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>