<html>
	<head>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<script src = "/jquery-highlight.js"></script>
		<link href="/jquery.upvote.css" rel="stylesheet">
		<script src = "/jquery.upvote.js" type="text/javascript"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/style.css"/>
		<script src="/createlinks.js"></script>
		<script src="/textaudit.js"></script>
		<script src="/PorterStemmer1980.min.js"></script>
		<script src="/highlight.js"></script>
		<title id = 'pagetitle'>Workable low-resolution object~target recognition pattern and library?
		</title>
	</head>
	<body id = 'pagebody'>
		<div id = "loginmodals"></div>
		<div id = "issuemodals"></div>
		<div id = "highlight_tool"></div>
		<div class = "container">
			<header>
				<h1>Just Another Discussion Forum</h1>
			</header>
			<div class="topnav" id="myTopnav">
				<a href="/home">Home</a>
				<a href = "#issueModal" data-toggle="modal" style = "float:right">Report Issue</a>
			</div>
			<div class = "content">
			<div id = "ques-2274" class = "post">
			<h2>Question</h2>
			<div id="vote-2274" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
				<p>Views :: 189</p>
			</div>
			<form id = "questionpostsform" method="GET" action = "/ask">
				<input type="submit" id = "quesbtn" class="btn btn-primary btn-lg" value="Ask Question">
			</form>
				<h2>Workable low-resolution object~target recognition pattern and library?</h2>
<p>I've spent quite some time researching this, but most of my Google search results have turned up academic research papers that are interesting but not very practical.</p>

<p>I'm working on a target/pattern recognition project** where a robot with a small camera attached to it will attempt to locate targets using a small wireless camera as it moves around a room. The targets will ideally be as small as possible (something like the size of a business card or smaller), but could be (less ideally) as large as 8x10 inches. The targets will be in the form of something easily printable.</p>

<p>The pattern recognition software needs to be able to recognize if a target (only one at a time) is in the field of vision, and needs to be able to accurately differentiate between at least 12 different target patterns, hopefully from maybe a 50x50 pixel portion of a 640x480 image.</p>

<p>Before playing with the camera, I had envisioned using somewhat small printed barcodes and the excellent <a href="https://code.google.com/p/zxing/" rel="nofollow noreferrer">zxing</a> library to recognize the barcodes.</p>

<p>As it turns out, the camera's resolution is terrible - 640x480, and grainy and not well-focused. <a href="https://i.imgur.com/MuPibcJ.png" rel="nofollow noreferrer">Here is an example still image.</a> It's not very well-suited for capturing barcodes, especially while moving. I think it could work with 8x10 barcodes, but that's really larger than I'm looking for. (I'm using this particular camera because it is tiny, light, cheap, and includes a battery and wi-fi.)</p>

<p>I'm looking for two things: a suggestion or pointer to an optimal pattern that I could use for my targets, and a software library and/or algorithm that can help me identify these patterns from images. I have NO idea where to start with the right type of pattern so suggestions there would really help, especially if there is a project out there that does something resembling this. I've found <a href="http://opencv.org/" rel="nofollow noreferrer">OpenCV</a> and <a href="http://robwhess.github.io/opensift/" rel="nofollow noreferrer">OpenSIFT</a> which both seem like potential candidates for software libraries, but neither seemed to have examples of doing the type of recognition I'm talking about. I'm thinking picking the right type of pattern is the big hurdle to overcome here, so any pointers to the optimal type of pattern would be great. Being able to recognize the pattern from all different angles is a must.</p>

<p>So far, my idea is to use patterns that perhaps look <a href="https://i.imgur.com/jWU875q.jpg" rel="nofollow noreferrer">something like this</a>, where the three concentric color rings are simply either red, green, or blue - allowing for up to 27 unique targets, or 81 if I use 4 rings. From about 2 feet, the capture of a 3x3 inch target (from my computer screen) <a href="https://i.imgur.com/JQcmBdv.png" rel="nofollow noreferrer">looks like this</a> which seems like it would be suitable for analysis but I feel like there should be a better type of pattern that would be more compact and easier to recognize - maybe just a plain black and white pattern of some sort with shapes on it?</p>

<p>Pointers to an optimal approach for this are greatly appreciated.</p>

			</div>
			<div class = "userinfosection"  id = "userinfo-2274" data-toggle = "popover">
				<p>user name : jkraybill</p>
				<p> user reputation : 108</p>
				<p class = "tagcontent" id = "usertaginfo-2274">{'None': 0, 'computer-vision': 1, 'artificial-intelligence': 1, 'software': 1}</p>
			</div><br>
			<br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2274">Load Comments</button></br>
			<div id = "commentsection-2274" class = 'collapse'>
			<div id = "comment-4429" class = "comment">
				<p>If you're looking for a commercial solution a product called HexSight will almost certainly fit the bill.  I guess one question is what sort of viewing angles do you expect between the robot and the targets as those would distort the way those targets look to the camera.  I do believe people use OpenCV in very similar applications but I don't have direct experience there.  There are standard machine vision targets such that you may find on commercial products like bottle caps etc.  Let me see if I can find you a link.</p>
			</div>
			<div id = "comment-4454" class = "comment">
				<p>@GuySirton These products normally assumes good optics and sensors what is not the best case where. So reduced data per space is an option. Also the distortion that comes, will only affect the final result at high angles, otherwise it should be good even without correction in the image, as the circle will turn into an ellipse.</p>
			</div>
			<div id = "comment-4461" class = "comment">
				<p>@DiegoCNascimento HexSight is actually surprisingly good at dealing with bad images.  Obviously you want to optimize your vision system if you want the best results but in real world applications images are often out of focus, things get obscured, process variations, dirt.  If you have truly terrible signal to noise though you would use more specialized techniques (something like spread spectrum).</p>
			</div>
			<div id = "comment-4462" class = "comment">
				<p>@GuySirton well I don't know HexSight so it has just a generic assumption. Anyway, I don't know of commercial products that go with out of focus, and other optics that can be corrected with a lens with remote focus control, iris control, etc. Anyway trying the sample image of the OP on an edge detect seems to give good results, just a little out of focus.</p>
			</div>
			</div>
				<textarea id = "speech-2274" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2274">
					<img id="start_img-2274" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2274">Comment</button>

<h1>Answers</h1>
			<br><div id = "ans-2275"  class = "post">
				<h2>Answer</h2>
			<div id="vote-2275" class="upvote" style="float:left;">
				<a class="upvote"></a>
				<span class="count">1</span>
				<a class="downvote"></a>
				<a class="star"></a>
			</div>
				<p><p>Well, one of the things is that computer vision starts at light, lenses and camera, you need good ones. Its not only a question of resolution, it's also a question of sensor size, signal/noise ratio, and good lenses. There's no need for high resolution if your camera has poor optics.</p>

<p>So your environment is pretty challenging and there's no certainly that it will works in this way.</p>

<p>The 640x480 is not to low resolution. I have read a paper that proposed something like your circle, but without the spaces between the rings, so more light reflected and less wasted space, the circles are divided to represent a code of the place.</p>

<p>A simple circle divided into 4 segments with 4 colors would give you 256 distinct codes.</p>

<p>More or less this:<br>
<img src="https://i.stack.imgur.com/ckiCO.gif" alt="robot land mark"></p>

<p>The lines are just for exemplification. Lets suppose you use 4 divisions with 4 colors: Red, Green, Blue and White. This would give you $ 4^4=256 $ distinct marks.
You could detect the circle with edge detect algorithms, and then you have the coordinates to get the color marks.</p>

<p>This needs that the orientation of the robot and the mark is always the same, if the robot or camera tilts, or you want to put the mark in any position, just add a first marker.</p>

<p>Adding a <em>redundancy check</em> to it is good to, as this will help removing false-positive marks.</p>
</p><br>
			</div>
			<div class = "userinfosection"  id = "userinfo-2275" data-toggle = "popover">
				<p>user name : Diego C Nascimento</p>
				<p> user reputation : 758</p>
				<p class = "tagcontent" id = "usertaginfo-2275">{'None': 39, 'mechanism': 1, 'motor': 1}</p>
			</div><br><h3>Comments</h3>
				<button data-toggle = 'collapse' data-target = "#commentsection-2275">Load Comments</button></br>
			<div id = "commentsection-2275" class = 'collapse'>
			<div id = "comment-4427" class = "comment">
				<p>Thanks! It sounds like I'm maybe not too far from a workable pattern. Any pointers on techniques or libraries for recognizing such patterns, or am I best off writing the recognition code from scratch?</p>
			</div>
			<div id = "comment-4430" class = "comment">
				<p>@jkraybill, the most common is OpenCV, unfortunately most common doesn't not mean the better, but the changes to get support is better. About the algorithm I have  just a idea. Maybe pass a edge detector filter (there are some), as the the circles are black in white you should get a good contrast. Then use some to detect the circles patern (two concentric circles). After that you will have the coordinates to get the color of the middle (passing some blur). Thanks is done by up voting :)</p>
			</div>
			</div>
				<textarea id = "speech-2275" rows="3" cols="80"></textarea><br>
				<button class="record-start" id="start-2275">
					<img id="start_img-2275" src="/mic.gif" alt="Start">
				</button>
				<button class = "comment-btn" id = "comment-btn-2275">Comment</button>
			</div>
			<div id = "resourcestab" class = "resourcestab">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#resources">Resources</a></li>
					<li><a data-toggle="tab" href="#summary">Summary</a></li>
				</ul>
					<div class="tab-content">
						<div id="resources" class="tab-pane fade in active">
							<h3>Resources</h3>
							<div id = "resourcescontent"></div>
						</div>
						<div id="summary" class="tab-pane fade">
							<h3>Summary</h3>
							<div id = "summarycontent"></div>
						</div>
			</div>
			</div>
			<footer>Moore & Peps collaboration.</footer>
	</div>
	<script src="/post.js"></script>
	<script type="text/javascript">
		$("#loginmodals").load("/loginModal.html");
		$("#issuemodals").load("/issueModal.html");
		$("#highlight_tool").load("/highlight_tool.html");
		checkLoggedInUser()
		var content = $('.content').html();
		populateResources(content)
		getHighlights()
		setOnLinksHover()
	</script>
	<script src="/media.js"></script>
	<script src="/vote.js"></script>
	<script src="/managefunction.js"></script>
	</body>
</html>